[2018-02-21 00:39] bhack commented on #240
EFS on AWS. What do you of https://blog.riseml.com/accelerating-io-bound-deep-learning-e0e3f095fd0?

[2018-02-21 00:44] lluunn opened #272 "Presubmit failing: Time out waiting for Workflows"
It's happening in three different PRs, should be a general issue:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/228/kubeflow-presubmit/276/

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/271/kubeflow-presubmit/277/

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/257

[2018-02-21 00:45] lluunn commented on #272
The step create-pr-simlink stuck:

[2018-02-21 00:46] bhack commented on #191
What do you think about the caching topic? See https://blog.riseml.com/accelerating-io-bound-deep-learning-e0e3f095fd0

[2018-02-21 00:56] lluunn commented on #272
pod has error: FailedCreatePodSandBox

[2018-02-21 01:56] inc0 commented on #191
@bhack "There are only two hard things in Computer Science: cache invalidation and naming things." :)

But seriously, this is going to be big part of storage configuration. If we go with Ceph, it offers wide variety of caching configuration, from cache layers on faster drives to caching on node itself.
Once we'll get into topic of dataflow pipelines, we'll need to figure out different types of cac

[2018-02-21 02:15] willb commented on #187
@ewilderj Thanks, this is great feedback!  I think you might be right about the blue -- it makes sense to maintain affinity to Kubernetes while maintaining a distinct identity.  Here are three color options:

![green, orange-peach, and orange](https://freevariable.com/three-colors.png)

The first is on the color triad with k8s blue and the second is complementary to k8s blue; either allows us to m

[2018-02-21 03:30] jlewi commented on #272
Did you try Googling that error?

Which pod is failing to start? One of the pods created by Argo?

Did you try doing kubectl describe pods to see if it had any additional info?

[2018-02-21 04:40] aronchick commented on #187
Put me down as a vote for reusing the blue :)

TBH, I wonder if we shouldn't try and hammer home the concept of a "stack"
in some way. Another idea is stealing the left to right neurons in a deep
learning playground, like this page: http://playground.tensorflow.org

On Tue, Feb 20, 2018 at 4:15 PM Will Benton <notifications@github.com>
wrote:

[2018-02-21 06:11] lluunn commented on #272
I upgrade the test cluster, rerun my PR and test passed. Closing this.

[2018-02-21 06:11] #272 closed

[2018-02-21 06:37] TomReidNZ commented on #187
+1 for blue

[2018-02-21 14:20] jlewi opened #273 "TFJob test is failing"
Failed run
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/228/kubeflow-presubmit/281/

[code]

The problem is that component simple_tfjob isn't defined.

The reason is because its using the wrong directory for the ksonnet app. Its using directory

[code]
But we simple_tfjob is defined in kubeflow/tf-operator.

[2018-02-21 17:17] texasmichelle commented on #157
@hamelsmu Just to be clear - are you ok with us using the code from your blog post as-is for this?

[2018-02-21 17:18] hamelsmu commented on #157
Yes please go for it!  Everything is open source and you can do anything
you want with it!

On Wed, Feb 21, 2018 at 9:17 AM Michelle Casbon <notifications@github.com>
wrote:

[2018-02-21 18:21] jlewi commented on #215
@willb Can I assign this to you for now since you are working on a proposal for the release process?

[2018-02-21 22:28] jlewi opened #276 "Prow jobs should use a common docker image"
Right now kubeflow/kubeflow builds a custom Docker image for use in its prow jobs.
https://github.com/kubeflow/kubeflow/tree/master/testing

That shouldn't be necessary once we start using a prow_config.yaml file in the repository to configure the workflows to run.

At that point we can just use the docker image built in kubeflow/testing
https://github.com/kubeflow/testing/tree/master/images

For

[2018-02-21 22:34] #273 closed

[2018-02-21 23:00] chrisheecho opened #277 "Test an example on Kubeflow with OpenCV"
Based on this thread here https://news.ycombinator.com/item?id=16073864 (David found this one)

Looks like OpenCV could potentially be an issue. Would be great to have this as part of our example. If perhaps the community could work on an example with OpenCV as part of their model, this issue could be closed

[2018-02-21 23:25] jlewi commented on #157
Thanks @hamelsmu

@ankushagarwal is working on pieces of this.

@vicaire also has an Argo workflow to do some pieces.

@texasmichelle Thanks for opening up the all individual issues. Do you want to close this issue and open up a copy of it in kubeflow/examples?

[2018-02-22 01:02] yupbank commented on #64
Health/liveness checks can be done from http-proxy

[2018-02-22 02:41] texasmichelle commented on #157
Created [kubeflow/examples #14](https://github.com/kubeflow/examples/issues/14), so this one can be closed.

[2018-02-22 18:45] ankushagarwal commented on #255
Reading up on the [ACME challenge](https://letsencrypt.org/how-it-works/)

[code]

If we go with #1, IAP should not be involved at all

[2018-02-22 19:42] inc0 opened #278 "Testing of persistent storage in jupyter"
Per comments in #270 it seems we added regression that broke persistent volume mounts. We should add test scenario that will ensure this feature keeps working.

[2018-02-22 22:58] ankushagarwal opened #282 "Enforce formatting for all jsonnet files"
We should ensure a consistent style for all jsonnet files

I propose the following jsonnet fmt command flags for all files
`jsonnet fmt --indent 2 --string-style d --comment-style s`

* 2 spaces of vertical indentation
* Only double quotes
* Only `//` style comments

[2018-02-22 23:20] erikerlandson commented on #55
I feel obligated to mention that modern ML technology (irony!) has demonstrated the ability to _infer_ PII from patterns in data that have no literal PII in them. To be clear, when I look at the information currently broadcast by spartakus, I can't off the top of my head imagine a scenario for how that would happen here. OTOH that's what ML is good at, exploiting patterns humans can't directly per

[2018-02-22 23:23] elmiko commented on #55
+1

[2018-02-22 23:25] erikerlandson commented on #55
Is there a writeup anywhere that gives examples of the various stats that spartakus will collect, and how we plan to use those to improve Kubeflow roadmapping?

[2018-02-23 00:18] jlewi commented on #55
@erikerlandson https://github.com/kubernetes-incubator/spartakus describes the basic metrics collected; these are all generic K8s metrics that aren't Kubeflow specific.

So I think the immediate use for these metrics is so that contributors to Kubeflow can demonstrate impact and justify further investment.

I think the next step would be to collect more specific Kubeflow metrics to see which compo

[2018-02-23 00:51] #19 closed

[2018-02-23 08:57] akshaydtada opened #285 "How to add persistent volume in jupyter_spawner.py file ?"
Hi,

I have followed these steps https://github.com/kubeflow/kubeflow/blob/master/user_guide.md to deploy kubeflow.
I'm able to see Jupyter notebook interface after logging into the jupyter hub.
now to add persistent volume if I follow the steps mentioned here https://github.com/kubeflow/kubeflow/pull/22/files/48ffe99d30eb31abc4d54c4553483b6c5b2034bc and make these changes in jupyter_spawner.py fi

[2018-02-23 09:03] carmark commented on #285
@akshaydtada

`IndentationError: unexpected indent` is usually the syntax indent error in Python, you need to check it.

[2018-02-23 14:29] jlewi commented on #285
@akshaydtada Can you explain what you did in more detail?  The link
https://github.com/kubeflow/kubeflow/pull/22/files/48ffe99d30eb31abc4d54c4553483b6c5b2034bc
points to a deleted file in our repo.

@inc0  submitted a change to mount the PVC at ${HOME}/work so you shouldn't need to do anything.

[2018-02-23 14:49] jlewi commented on #215
We had another break #283 at head affecting serving.

I need to push a new Docker image for TFJob to fix #322

I'm thinking as part of this we should start documenting the steps it takes to do a release and then use that to inform a proposal.

I chatted briefly with @willb and it sounds like he's still researching various options.

In brief here's what I think this will look like

- Build test TFJ

[2018-02-23 17:45] erikerlandson commented on #55
@jlewi so iiuc, the idea is to demonstrate that Kubeflow is being used in the wild? As in "our metrics show that xxx Kubeflow clusters are reporting in, and here is a plot of Kubeflow cluster reports over time"

If I'm reading the report definitions right, it's reporting total resources available on nodes in a cluster. Like "here is a node that has 1TB of RAM" as opposed to "here is a pod using 20

[2018-02-23 18:31] aronchick commented on #55
Correct - getting clouds in use and total resources makes a huge difference
to how we prioritize (e.g. Hey, did you see there are a bunch of 20 node
clusters running on OpenShift? Are we supporting everything properly?)

On Fri, Feb 23, 2018 at 7:45 AM Erik Erlandson <notifications@github.com>
wrote:

[2018-02-23 18:50] kkasravi commented on #239
@yuvipanda @jlewi i've been working on this and have the jupyter hub service annotated in jupyterhub.libsonnet so that ambassador will route to the service. The login page comes up and I get as far as the 'spawn' button. Below is the output I'm seeing from the jupyterhub logs
[code]

it looks like there is an error on singleuser_image_spec but my question is it looks like I'll need to handle the c

[2018-02-23 19:49] jlewi commented on #244
@kkasravi Any update on this? Do you have an ETA?

[2018-02-24 00:30] jlewi commented on #55
@erikerlandson An obvious metric to track would be deployments of different versions of Kubeflow. This will help us making informed decisions about breaking changes and how much effort to spend supporting older versions.

[2018-02-24 00:31] mattf commented on #55
three things should be present for something like this to work.

0. data donated to the community, for the benefit of the community, needs to be available to the community. for instance, data readily available to anyone going to kubeflow.org.
1. there should be a clear value proposition for the community. for instance, being able to connect with others who are using similar projects or are in simi

[2018-02-24 01:11] jlewi commented on #55
100% on board with the first 2. One of the main reasons we want to collect this data is to build trust in Kubeflow by showing that companies/individuals investing in Kubeflow are extending their reach.

I'm strongly in favor of starting with opt out and seeing what users think. We're still in alpha/experimental so I think that's very reasonable.

If we're opt out we'll get much higher participatio

[2018-02-24 02:20] jlewi opened #288 "Include GPU daemonset in GKE configs?"
On GKE users need to deploy a daemonset to configure GPU nodes

[code]

I think the main advantage is eliminating another step users have to do get a GKE cluster configured.

I'm guessing we can probably already start the daemonset as it only runs on GPU nodes so starting it on a CPU cluster is a null op.

I'm wondering if having multiple copies of the daemonet is actually problematic (e.g. 1 star

[2018-02-24 05:15] aronchick opened #289 "Investigate img and kaniko for building containers"
https://github.com/jessfraz/img

Could be a nice solution for building containers in the cluster.

[2018-02-24 13:12] bhack commented on #288
Seems that we are quite stalled for other providers or very frequent Kops deployments on different providers https://github.com/kubernetes/kubernetes/issues/54011

[2018-02-24 15:57] kkasravi commented on #239
@yuvipanda @jlewi i've made reasonable progress on this - defining a local KubeServiceProxy in jupyterhub_spawner.py that just creates an Service which is annotated with the getambassador annotations. At this point I think I'm a few days away from a PR ...

[2018-02-24 17:46] jlewi commented on #239
Fantastic. I think you're previous comment is correct; i.e. we will need to create routes in Ambassador for each notebook; i.e `/user/<notebook name>/`.

[2018-02-24 17:49] jlewi commented on #288
Thanks @bhack.

[2018-02-24 18:05] jlewi commented on #289
This looks promising.

@cwbeitel Might be worth trying out in the context of your TF agents example. I wonder if people could build the image directly from their  Jupyter notebook.

[2018-02-24 18:07] jlewi commented on #192
https://github.com/jessfraz/img
See #289

[2018-02-24 18:46] cwbeitel commented on #289
Oh, neat. Yeah building from the notebook is a nice offering. I'll try that out.

[2018-02-24 18:56] bhack commented on #265
Have we any affinity with https://github.com/Microsoft/DLWorkspace/blob/master/docs/deployment/database/Readme.md?

[2018-02-24 19:27] swiftdiaries commented on #288
Just a thought, I have a script that installs drivers manually. [Install drivers](https://github.com/swiftdiaries/dl-kops/blob/master/scripts/setupgpu.sh).
Additionally, it also installs CUDA and CuDNN.
We could version it using environment variables and containerize it to deploy it as daemon set (using ksonnet) with a default set of parameters. This could be editable using the 'ks param set', so

[2018-02-24 22:37] jlewi commented on #50
So we've decided that we need to publish and maintain Docker images to have a good experience. At least until TFServing takes this on.

Lets use the uber tracking bug #64. To track actual work.

[2018-02-24 22:37] #50 closed

[2018-02-24 22:39] jlewi commented on #64
@yupbank Can you explain what you mean by doing health and liveness checks from the http proxy? Would that be testing the correct thing?

[2018-02-24 22:47] jlewi opened #290 "TFServing component should add an ambassador route"
Our [TFServing package](https://github.com/kubeflow/kubeflow/blob/master/kubeflow/tf-serving/tf-serving.libsonnet)

Should annotate the service with an ambassador route so that we serve the model at an appropriate URL such as

[code]

[2018-02-24 22:49] jlewi opened #291 "E2E Test for TFServing with GPUs"
We need an E2E test for TF Serving with GPUs.

As part of this we should built it continuously with prow.

[2018-02-24 22:50] jlewi opened #292 "TFServing deployment should support GPUs"
Our TFServing component should have options to support serving with GPUs.

[2018-02-24 22:51] jlewi commented on #194
Opened up:

#291 E2E test for TFServing with GPUs.
#292 Add GPU support to ksonnet packages.

[2018-02-24 22:51] #194 closed

[2018-02-24 22:54] jlewi opened #293 "Example/Docs for using IAP with TFServing"
We want examples/docs to show how to use IAP with TFServing. We want an example of client code that obtains an appropriate credential and adds it to the RPC.

[2018-02-24 23:45] jlewi commented on #215
We now have an E2E test for TFServing.
But the E2E test builds a new Docker image for TFServing and then uses that.  This is great if we're building a new Docker image and want to verify it works but its not quite what we want in the case where we want to verify that the current ksonnet prototypes will work.

When we release our ksonnet configs the flow will be something like
  - Update the ksonne

[2018-02-25 00:33] ajayakumar-jayaraj opened #294 "How to access notebook on KUBO?"
I have installed kubeflow on CFCR. i am able to bring up my notebook but i am not able to access it from my local. Please provide possible solution for this. Thanks.

/my-kubeflow$ kubectl get svc -n=${NAMESPACE}
NAME               TYPE        CLUSTER-IP       EXTERNAL-IP   PORT(S)    AGE
ambassador         ClusterIP   10.100.200.46    <none>        80/TCP     5d
ambassador-admin   ClusterIP   10.

[2018-02-25 00:45] jlewi commented on #294
We discussed in slackchat. KUBO is being used to deploy Kubernetes on GCP.

My understanding of the setup is Kubernetes is accessed by first ssh'ing to a bastion node on GCP from which kubectl can be run.

So the question is how to access pods in the Kubernetes cluster e.g. using port-forward from the local machine.

I think one way to do this would be to

1. Set up portforwarding to the bastion u

[2018-02-25 00:47] jlewi commented on #294
Adding a couple folks from the KUBO project in case they want to chime in.

/cc @johnsonj @alex-slynko

[2018-02-25 01:33] jlewi commented on #294
Some docs
https://docs-cfcr.cfapps.io/installing/gcp/routing-gcp/

[2018-02-25 02:19] yupbank commented on #64
oh... for that i was referring to  k8s liveness probe and readiness probe ...

[2018-02-25 02:26] jlewi commented on #64
@yupbank That part I understand but how does the http proxy help us determine the liveness/readiness of TFServing? The http proxy could be live/ready but the TFServing might not.

[2018-02-25 03:05] yupbank commented on #64
since now we have this https://github.com/tensorflow/serving/blob/master/tensorflow_serving/apis/model_service.proto#L16

http proxy can be forced to only ready when TFServing is ready.

[2018-02-25 04:56] aronchick commented on #55
+1 with 100% about the first two - this should absolutely be available and build trust.

I think we're saying the same thing on #3 - specifically, Matthew has said (which I support), that we have a strong social contract and trivial opt out.

Trivial opt out is done (just one command, and it's gone). What does a clear social contract look like?

[2018-02-25 19:26] jlewi opened #295 "Add an option to set service type to TFServing deployment"
There should be an option to easily set the service type for TFServing.

This way users can easily expose it externally using a load balancer, or use a type of node port.

[2018-02-25 19:31] jlewi opened #296 "TFServing docs are incorrect; we no longer assign a public IP by default"
The docs:
https://github.com/kubeflow/kubeflow/blob/master/user_guide.md#serve-a-model

Incorrectly describe using an external IP for the model.

But by default we don't serve models on external IP addresses. We also don't currently have an option to easily allow that (#295).

We should update the docs and tell users

- How to use port-forward to send traffic to their pods.
- How to enable serving

[2018-02-25 23:01] cwbeitel commented on #289
So this https://gist.github.com/cwbeitel/f8c9d2a7c0dfc7ca8f2d598b126d6628 is as far as I've gotten, these instructions https://github.com/jessfraz/img reference using this PR to runc https://github.com/opencontainers/runc/pull/1688

The error I'm getting in the container is

[code]

which is not happening from a shell on JupyterHub... I'm a bit out of my depth when it comes to low-level os stuff b

[2018-02-26 10:46] alex-slynko commented on #294
@BenChapman could you please check this?

[2018-02-26 14:22] jlewi opened #297 "ksonnet prototypes for TensorBoard"
We should provide some ksonnet components for tensorboard.

There are some examples in this PR
https://github.com/kubeflow/examples/pull/1/files#diff-b1c94ace60732530b2be5b0a67be2d40

The main thing is in addition to deploying TB, we'd like to add an ambassador route.

[2018-02-26 16:08] nickchase commented on #187
Before we decide on reusing the blue, we should make sure we're not going to run afoul of the CNCF trademark police.  I can check, if there's nobody else who wants to.

[2018-02-26 17:59] abkosar commented on #297
Hey @jlewi, I'm new to contributing to open source. I came across this issue and I would like to work on this. Can you please assign this to me?

[2018-02-26 19:05] cwbeitel commented on #289
@jewi Anything wrong with notebook users (jovyan) being in root group by default? That would be an easy way to make `img` work but also permit installation of packages like ffmpeg or random other dependencies users might want during development. I myself would like to use JupyterLab as my development environment but can't really unless I can install system packages.

Being a root user gives people

[2018-02-26 19:09] jlewi commented on #297
Consider the issue assigned to you @abkosar

I sent you an invite to the Kubeflow org; I think you need to accept in order for me to actually assign the issue to you.

[2018-02-26 19:16] abkosar commented on #297
Just accepted the invite @jlewi
Thanks!

[2018-02-26 19:38] mattf commented on #55
the social contract is embodied in doing (0) and (1).

[2018-02-26 19:58] jlewi commented on #297
Welcome to the team!

[2018-02-26 22:03] cwbeitel opened #300 "Configure JupyterHub spawner to allow root operations by default"
Regarding notebook server spawner options https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/jupyterhub_spawner.py#L79 currently c.KubeSpawner.args is being provided the arg"--allow-root" presumably because the original implementer meant for users to have root access in containers. But currently this is not available.

By adding "GRANT_SUDO=yes" to the environment users do have sudo pr

[2018-02-27 00:47] texasmichelle commented on #187
+1 for blue

[2018-02-27 00:57] texasmichelle commented on #187
I like the idea of a robot head inside the heptagon. Maybe even with a captain's hat.

[2018-02-27 01:01] ewilderj commented on #187
You folks all loooove blue! Just going to add my urging for something simple and bold inside: don't worry about being too literal. If the project takes off, everyone will get it. And I think simple and bold inside supports the message that Kubeflow is here to make ML simpler than it was before.

[2018-02-27 02:49] gaocegege commented on #187
![screenshot from 2018-02-27 10-48-55](https://user-images.githubusercontent.com/5100735/36707993-d17bf4bc-1bab-11e8-98be-6217aca64a0c.png)

I found a icon for TFJob operator dashboard, which is designed by @wbuchwalter , I think. It may be a candidate.

[2018-02-27 03:02] pineking commented on #187
@gaocegege the icon is better for tf-operator rather than kubeflow? the target of kubeflow is also supporting other ML frameworks besides TF?

[2018-02-27 03:05] gaocegege commented on #187
@pineking SGTM!

[2018-02-27 03:11] nickchase commented on #187
Correct, we do ultimately want to support other frameworks so I'd
personally prefer a more generic ML-related image.

On Mon, Feb 26, 2018 at 10:02 PM, Qingsong Liu <notifications@github.com>
wrote:

[2018-02-27 04:19] jlewi commented on #300
Seems useful as this would also allow people to install packages e.g. `via apt-get`.

Any info on what the security implications are?

[2018-02-27 04:23] jlewi commented on #11
I wonder if a simple initial solution (maybe in time for our 0.1 release) would be to use Ambassador's external authentication and use basic http auth.
https://www.getambassador.io/user-guide/auth-tutorial

[2018-02-27 05:06] akshaydtada commented on #285
I have followed these steps
https://github.com/kubeflow/kubeflow/blob/master/user_guide.md
and got jupyter notebook interface.
![jupyter4](https://user-images.githubusercontent.com/31499576/36711364-f1439c58-1ba8-11e8-93eb-0a9589ec1006.PNG)
but when i create files anywhere other that work folder it won't persist my files if i delete generated pod from k8s dashboard.
and if i try to create file in

[2018-02-27 05:36] akshaydtada commented on #285
![word_permissnissue](https://user-images.githubusercontent.com/31499576/36712295-285b31ba-1bae-11e8-8d8e-47cd60a49348.PNG)
this is the error i'm getting.

[2018-02-27 05:39] jlewi opened #301 "Test the TFServing configs with default image"
We need a test to verify that the current TFServing component works with the default image.

The current E2E test builds a new TFServing image and then deploys and tests it.
This is great for testing a new Docker image, but it doesn't test the current default image works.

We should add options to the E2E workflow used for testing so that we can test TFServing without rebuilding the image.

[2018-02-27 07:53] fxue commented on #295
[PR 302](https://github.com/kubeflow/kubeflow/pull/302) was submitted for this issue.

[2018-02-27 07:55] fxue commented on #296
I will work on this once PR for #295 is merged.

[2018-02-27 08:07] fxue opened #303 "option naming inconsistencies"
In kubeflow-core options are named camel case e.g. "jupyterHubServiceType"
but in tf-serving options are name with under scores e.g. "http_proxy_image"
We should have consistent naming standard, should we adopt under score naming schemes for all three?

[2018-02-27 08:13] fxue commented on #85
some ideas on tutorials:
1. tensorflow for poets 1 and 2 to provide a smooth transition for people with TF experience
2. if tf-keras will be supported, a tf-keras tutorial, something like [this one](https://www.youtube.com/watch?v=UeheTiBJ0Io) with some additional follow ups

[2018-02-27 10:43] gsunner commented on #55
I agree with trust and transparency should be the main goal.

We are also looking to get some basic usage tracking on our project [seldon-core](https://github.com/SeldonIO/seldon-core) using spartakus.
We also have the same [issue](https://github.com/SeldonIO/seldon-core/issues/99) of whether to have the usage tracking on by default with an easy opt-out.

As we are in the process of integrating Se

[2018-02-27 12:58] jlewi commented on #241
@nkashy1 Are you planning on working on this?

[2018-02-27 13:33] jlewi commented on #262
Looks like jupyterlab/jupyterlab#3758

[2018-02-27 13:35] jlewi commented on #262
[code]

[2018-02-27 13:45] jlewi commented on #262
If I pip install jupyterlab the version is  '0.31.8'.

[2018-02-27 15:01] jlewi commented on #55
It seems like the consensus is that collecting metrics is a good thing.

Let start with opt in and see what users say. If people would strongly prefer opt out we can change.

@gsunner My hope is that in follow on PRs we can include additional metadata to break down usage by component.

Does someone want to approve the actual PR?

[2018-02-27 16:12] cwbeitel commented on #300
I agree that seems worth considering and potentially problematic but I don't have any expert understanding in that area to contribute.

From my cursory reading it seems that running containers with root credentials makes it more likely that a kernel vulnerability could be exploited to gain access to the node running that container, given that with Docker the kernels are shared?

[2018-02-27 16:38] cwbeitel commented on #289
So I got img working with root priv's but it just filled up the disk and crashed the node (even when provided 60Gb). But it sounds like running containers as root isn't a pattern we want.

One option mentioned in the img readme is orca-build, which depends on [skopeo](https://github.com/projectatomic/skopeo) which in turn has [these](https://github.com/projectatomic/skopeo/blob/master/Dockerfile.b

[2018-02-27 16:48] aronchick commented on #187
OMG Robot head is an AMAZING SUGGESTION.

On Mon, Feb 26, 2018 at 3:01 PM Edd Wilder-James <notifications@github.com>
wrote:

[2018-02-27 17:05] aronchick commented on #55
On the record, I would prefer opt-out (e.g. you have to execute a command
to NOT report). We really are collecting almost nothing, and it's SO
trivial to turn off (one command!).

But, as always, this is a community decision.

On Tue, Feb 27, 2018 at 7:01 AM Jeremy Lewi <notifications@github.com>
wrote:

[2018-02-27 17:10] cwbeitel commented on #289
@cyphar your orca-build tool solves an important problem. Have you been able to set this up on 16.04?

[2018-02-27 17:14] texasmichelle commented on #187
+1 for non-TF, generic ML image

[2018-02-27 17:23] willb commented on #187
Another +1 to avoiding TF references.  People already assume incorrectly that the "-flow" in Kubeflow refers to TensorFlow and not to machine learning workflows in general; we shouldn't encourage this confusion.

[2018-02-27 17:54] jlewi commented on #55
@aronchick That was a typo on my part. I agree with you about making it opt out by default.

[2018-02-27 17:55] inc0 commented on #285
@akshaydtada did you use fresh code (very fresh, we merged change just few days ago)? I didn't run to this issue (we also run our jupyters as root, so that's strange).

[2018-02-27 18:14] aronchick commented on #187
+1 to avoiding TF as well!

On Tue, Feb 27, 2018 at 9:23 AM Will Benton <notifications@github.com>
wrote:

[2018-02-27 18:15] aronchick commented on #289
Ok, bad news - Jessie has said this was just an experiment, and we
shouldn't depend on it. Has anyone looked ot Buildah?

On Tue, Feb 27, 2018 at 9:10 AM Christopher Beitel <notifications@github.com>
wrote:

[2018-02-27 18:19] wbuchwalter commented on #187
@gaocegege yep I "designed" (not sure cut and paste can be call designing ;) ) in the early days specifically for the tfjob dashbaord. But ultimately we shouldn't reuse this one anywhere else, and I would even say once we get a logo agreed on, we should also apply it to the tf-job dashboard for consistency, we won't be designing a logo for each  possible operator (and the dashboard will likely be

[2018-02-27 18:24] aronchick opened #306 "[Discussion] Refactor the Registry?"
Insipred by this work (https://github.com/kubeflow/kubeflow/pull/304), we're starting to get multiple components per "ML Stage", I wonder if it makes sense to refactor the registry to more clearly indicate what each component's top level mission is.

E.g.
Instead of:
ks pkg install kubeflow/tf-serving
ks pkg install kubeflow/seldon

It is:
ks pkg install kubeflow/serve/tf-serving
ks pkg install ku

[2018-02-27 18:45] erikerlandson commented on #187
I still favor some variation on:
![logo](https://camo.githubusercontent.com/2b38725848946e4e6777b36be0acdf087b3a60ef/68747470733a2f2f667265657661726961626c652e636f6d2f6b662d736d616c6c322e706e67)

My aesthetic reaction to "robot head" would depend a lot on what it specifically looked like. My symbolic reaction is that I don't currently see how "robot head" captures the spirit of Kubeflow.

The logo

[2018-02-27 19:26] cwbeitel commented on #289
Yeah I saw that no worries. github.com/cyphar/orca-build is a separate project though from github.com/jessfraz/img

Buildah build and install seems to work, see [build script](https://gist.github.com/cwbeitel/e5099526d9c13046333255b3982219ad) but haven't been able to use it without sudo and getting [errors](https://gist.github.com/cwbeitel/96945cfa7e4105d16497b5c444da6d67).

Installed orca-build w

[2018-02-27 19:29] inc0 commented on #285
OK, I replicated this issue with rook. On it.

[2018-02-27 19:45] AkihiroSuda commented on #289
Buildkit is intended to reach production quality, and can be executed in rootless mode with patched runc: https://twitter.com/_AkihiroSuda_/status/955698849560997888

`buildctl` CLI is very complex but there is also simplified version of CLI: https://github.com/moby/buildkit/tree/master/examples/build-using-dockerfile

[2018-02-27 20:52] jlewi commented on #306
duplicate of #106

[2018-02-27 20:53] #306 closed

[2018-02-27 20:55] jlewi opened #308 "Need an OWNERS file"
We need an OWNERs file.

https://github.com/kubernetes/community/blob/master/contributors/guide/owners.md#owners-spec

[2018-02-27 21:33] jlewi commented on #300
I think the use cases of
- Mounting NFS volumes
- Installing additional packages
- Image building

Are convincing enough that I think its worth doing until we have more reason to believe its unsafe and should disable it.

[2018-02-27 21:37] #41 closed

[2018-02-27 21:41] jlewi opened #309 "JupyterHub Spawner should have a UI element that specifies default docker images"
The JupyterHub Spawner provides a UI in which users can specify the docker image to use for the notebooks.

It would be great if we could provide a drop down list that was prepopulated with the default images provided by Kubeflow.

It would also be nice if this list could be customizable via ksonnet so users could add their own images.

According to jupyterhub/jupyterhub#1580 we should be able to

[2018-02-27 21:45] jlewi commented on #276
All our tests are now using the same image.

We just need to delete the code for the old image here
https://github.com/kubeflow/kubeflow/tree/master/testing

[2018-02-27 21:46] #176 closed

[2018-02-27 21:47] jlewi commented on #113
This is obsolete because we are removing TensorBoard from TFJob. We will provide separate ksonnet configs to deploy TB separately.

[2018-02-27 21:47] #113 closed

[2018-02-27 21:49] #195 closed

[2018-02-27 21:50] jlewi commented on #165
Closing this issue even the PR dashboard isn't setup. We can own up a separate issue as needed if we want that.

[2018-02-27 21:50] #165 closed

[2018-02-27 21:52] #27 closed

[2018-02-27 22:08] jlewi opened #310 "Flakes building TF Serving image; problems downloading unbuntu packages"
I'm observing various flakes trying to build the TFServing image using Argo.

Looks like it could be issues pulling ubuntu packages. In which case we might want to wrap the command inside the Dockerfile with retries.

Opening this issue to track.

[2018-02-27 23:57] aronchick commented on #300
cc @mayakacz

[2018-02-28 00:26] lluunn commented on #293
Following https://cloud.google.com/iap/docs/authentication-howto.

[2018-02-28 00:32] mayakacz commented on #300
Containers that don't need to run as root shouldn't run as root. See for example: https://docs.docker.com/engine/security/security/#linux-kernel-capabilities

My concern is the earlier comment, "its worth doing until we have more reason to believe its unsafe" - I strongly disagree. Making this kind of change later would be breaking, and it'll be painful to get users to migrate from an unsafe state

[2018-02-28 01:26] jlewi commented on #88
Duplicate of #244

[2018-02-28 01:29] jlewi commented on #244
tf.transform  & Apache Beam don't support Python 3 yet.
https://issues.apache.org/jira/browse/BEAM-1251

Our notebooks however are currently Python 2.
So we will probably need to build a Python 2 version.

[2018-02-28 01:30] jlewi commented on #244
@kkasravi Can you let me know if you're working on this? There's some other work blocked on it and some others that might be able to pick it up.

[2018-02-28 01:39] cwbeitel commented on #300
I agree with seeking to provide the least priv possible and preventing this initially if possible and to prevent breaking changes.

I think the debate should be whether installing system packages is a requirement of the developer experience because people can pip install in a virtual environment, we can mount NFS on startup, and we can probably solve the docker problem without root (e.g. we could

[2018-02-28 02:48] mayakacz commented on #300
A few questions (apologies if I am missing context):
- How common do we think this set of packages will be across developers? This seems to be a configuration question - if it's highly custom per deployment, then we might not want to include; but if it is very consistent, then providing the set of packages, that have already been vuln scanned with minimum permissions, is a great idea. For the 'yes

[2018-02-28 02:56] cwbeitel opened #312 "Investigate notebook container sidecar to enable in-notebook container builds"
The issue of how best to build training images is an open question, see https://github.com/kubeflow/kubeflow/issues/300, https://github.com/kubeflow/kubeflow/issues/289

At first take it looks like this could be done from a JupyterHub notebook by attaching a Docker daemon sidecar, configured via [KubeSpawner](https://github.com/jupyterhub/kubespawner/blob/master/kubespawner/spawner.py), similar to

[2018-02-28 04:40] cwbeitel commented on #300
No worries sorry if I'm missing experience with security!

Yeah that's a good question in terms of system packages these should be pretty common. Everyone debugging their TensorFlow Agents renders in the notebook is going to need libav-tools and ffmpeg, see also [extensions](https://github.com/cwbeitel/examples/blob/master/agents/Dockerfile.demo) of the base notebook image. Users will often need t

[2018-02-28 04:48] cwbeitel commented on #300
@jlewi You mentioned NFS, do you anticipate people needing to be able to mount additional NFS volumes to existing notebook containers that aren't pre-attached? Idk maybe you're thinking of a variety of different datasets on different NFS volumes available to mount?

[2018-02-28 05:39] akshaydtada commented on #285
@inc0 Yes, I'm using fresh code only and my default storage class is standard.
As I was getting this permission issue, I gave permission to work folder through pod terminal
`chmod 777 work`
then I'm able to create files in work folder.
But for every user I need to give permission manually.
This should not be the case right ?

[2018-02-28 13:04] mattf commented on #55
opt-in is my personal view.

i agree that opt-out is a reasonable starting point for the community, especially if we make it clear we're collecting, make it clear how to opt out, share the data with the community, and demonstrate ways we use the data to benefit the community.

i don't think all those things must, or even can, be done before proceeding.

let's proceed in good faith.

the kubeflow-d

[2018-02-28 15:58] mayakacz commented on #300
@cwbeitel "Is there any concern about allowing users to install arbitrary python packages at the user level?"
Not particularly. I assume they know what they want and are then responsible for that security. My push was more if there is something that 50%+ (arbitrary #) are using, then we should do that for them.

Re: credentials storage in secrets, yes, I believe that is the best way to do it with

[2018-02-28 16:58] inc0 commented on #285
@akshaydtada no, we already triaged this bug and fixing it.

[2018-02-28 17:13] inc0 commented on #300
Thing is, we don't have this security right now - if person wants to run notebook as root, they can specify their own image that'll run as root. In fact, we explicitly run pod as root now and su to notebook user as part of start.sh.

I'd go for running it all as root tbh.

[2018-02-28 17:31] cwbeitel commented on #300
Ok cool so far it sounds like providing a rich base container without sudo is the way forward but interested to hear from the others.

Also @jlewi perhaps its not necessary to even build training containers - perhaps we could just share model code with training containers via NFS and either also share dependency code that way or have training containers in their first step pip install a requiremen

[2018-02-28 17:37] cwbeitel commented on #300
@inc0 posted my last before seeing yours. Right, users aren't currently prevented from running root containers. Are you advocating root to avoid restricting your/the development experience? That seems like an important thing to consider.

[2018-02-28 17:37] aronchick commented on #55
Works for me! Adding to the agenda.

On Wed, Feb 28, 2018 at 5:04 AM Matthew Farrellee <notifications@github.com>
wrote:

[2018-02-28 17:43] inc0 commented on #300
@cwbeitel as I said on slack, we can do 2 things:
1. restrict to jovyan user, that'd need us to fix jovyan UID on creation (good idea anyway) and run pod with this uid. That will require that everyone wanting to run their custom images to have this user with this image... hard.

2. just run as root, there is some security considerations but that's usually how people run pods anyway, containers are

[2018-02-28 18:20] inc0 commented on #300
So I'd add cleanups to this issue as well - we have a lot of messing with perms and users in our start.sh script and others - if we run as root both jupyter dockerfile and this could lose a lot of code.

[2018-02-28 18:42] aronchick commented on #289
Here's another video for investigation - https://twitter.com/sjenninglinux/status/968691553458966529?s=09

[2018-02-28 18:48] jlewi commented on #101
jupyterhub/kubespawner#115 would allow us to spawn notebooks in their own namespace which should be a big step forward with providing a good/multi-user security model with K8s/Kubeflow.

We might want to consider contributing to that to solve our problems.

[2018-02-28 18:50] inc0 commented on #101
some good discussion https://kubeflow.slack.com/archives/C7REE0EHK/p1519842848000674?thread_ts=1519837538.000362&cid=C7REE0EHK

[2018-02-28 20:40] cwbeitel opened #313 "Consider including a scanned PyPI package mirror component"
In discussion of container security issues related to having root https://github.com/kubeflow/kubeflow/issues/300 the primary vector assuming trusted users seemed to be malicious third-party code. We could either

1. Put on the roadmap (probably as a low priority) a component for a scanned PyPI package mirror, or
2. Determine this as out of scope.

Related to https://github.com/kubeflow/kubeflow/i

[2018-02-28 20:41] cwbeitel commented on #312
On further investigation this seems to be a lower priority than experimenting with simply sharing code via NFS or another means and avoiding the need to build a new image for each training run.

[2018-03-01 00:33] jlewi commented on #312
Building Docker images from Jupyter and sharing code from NFS are orthogonal.

Issue #192 is discussing how to build Docker images from Jupyter. Closing this issue in favor of that one.

Duplicate of #192

[2018-03-01 00:33] #312 closed

[2018-03-01 00:33] jlewi commented on #312
Duplicate of #192

[2018-03-01 00:34] jlewi commented on #313
Are you suggesting Kubeflow maintain a PyPI mirror of approved packages?

[2018-03-01 01:41] #285 closed

[2018-03-01 01:58] cwbeitel commented on #313
I'm suggesting we illustrate a mechanism by which people can run and scan a PyPI mirror in their own cluster, not to run a public service for mirroring and scanning PyPI. But if there was such a public service being offered by the cloud provider on which a given Kubeflow deployment were running that would be one incentive to use that provider.

Initially it seems sufficient to use something like G

[2018-03-01 02:07] jlewi commented on #300
@mayakacz Convinced me that I was being too permissive. I think we should avoid granting sudo privileges so that we don't create more work in terms of locking down the container in the future.

[2018-03-01 03:41] jlewi commented on #55
@mattf Sounds good. I've updated the PR to make it opt in for now and updated the instructions to include the commands to opt in (and make it clear you can skip them).

[2018-03-01 03:57] #88 closed

[2018-03-01 04:09] #308 closed

[2018-03-01 11:36] elmiko commented on #55
same for me, thanks for updating the PR @jlewi

[2018-03-01 15:01] XinchenWan opened #318 "Kubeflow not deployed"
I'm trying to deploy Kubeflow on my desktop.

Environment:
minikube version: v0.25.0

I followed the steps frome the beginning to the end as "https://github.com/kubeflow/kubeflow/blob/master/README.md".
However, when I'm running "ks apply default -c kubeflow-core"
I got:
"ERROR generate objects for namespace : unable to read /home/wxc/my-kubeflow/environments/default/main.jsonnet: RUNTIME ERROR: F

[2018-03-01 15:40] jlewi commented on #318
Can you include file `main.jsonnet`  the error is indicating a problem in your ksonnet app so nothing is being deployed.

[2018-03-01 17:35] inc0 opened #319 "large .pack file"
One of our git .pack files is huge - almost 100MB. This is due to having whole model merged in repo at some point. It would be nice to surgically remove this file from git history to shrink our .pack files.

[2018-03-01 17:57] rongou commented on #319
You can try this: https://rtyley.github.io/bfg-repo-cleaner/

I did it on my fork, it reduced the repo size from 112MB to 15MB. See https://github.com/rongou/kubeflow.

[2018-03-01 19:15] jlewi opened #321 "Avoid code duplication in Dockerfiles for Jupyter notebook images"
We build two versions of the Jupyter notebook images; one for CPU and one for GPU.

There's a lot of code duplication (e.g. list of python packages to install).

To avoid this duplication we should create a common shell script that can be invoked in the Dockerfile to perform the steps that should be the same.

This will help ensure there's less divergence over time.

[2018-03-01 19:22] jlewi commented on #215
To elaborate on the above I think we should have the following

- An Argo workflow that builds all the Docker images
   - e.g TFJob operator, TFServing, HTTP Proxy Jupyter Images,
   - I think the only tests we need to run are tests which won't be covered when we run the presubmits on the PR modifying the ksonnet configs.
- A binary that can be invoked to update the parameters of various ksonnet p

[2018-03-01 19:26] jlewi opened #322 "Python script to set parameters for ksonnet prototypes"
Background #215

As part of our release process, we need to update the prototypes for various ksonnet prototypes to set the parameters to the value of newly built values (e.g. the newly built image for the TFJob operator).

So we'd like a tool like

[code]

[2018-03-01 19:45] jlewi commented on #244
/assign @ojarjur

after discussion with @kkasravi @ojarjur is going to pick this up.

@ojarjur new Jupyter images are available at
gcr.io/kubeflow-images-staging/tensorflow-notebook-cpu:v20180301-pr317

[2018-03-01 22:32] lluunn opened #324 "Expose TF serving service (gRPC) through ingress"
Currently GKE doesn't support HTTP/2, so we cannot send gRPC request to it.

Envoy has a grpc-http [bridge](https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/grpc_http1_bridge_filter.html) which allows us to send gRPC request via HTTP/1.1, but Ambassador doesn't support it now.

We need to figure out a way to expose the gRPC TF serving service.

[2018-03-01 22:56] jlewi commented on #324
@lluunn Can you clarify is it GKE or is the GCP load balancer?

[2018-03-01 22:57] jlewi commented on #261
We already set a large timeout of 10 minutes here
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/jupyterhub_spawner.py#L81

[2018-03-01 22:59] lluunn commented on #324
Yes it's the GCP load balancer: https://groups.google.com/forum/#!topic/grpc-io/bfURoNLojHo

[2018-03-01 23:03] jlewi opened #325 "Jupyter pod can't start; jinja exception Encountered unknown tag 'trans'."
I tried spawning a notebook with the Jupyter notebook image
gcr.io/kubeflow-images-staging/tensorflow-notebook-cpu:v20180301-pr317

The pod appears to start and is killed right away. Looks like Jupyter reaps the pod right away making it difficult to debug.

I managed to run `kubectl describe pods` while it was still running and this is what I saw.

[code]

Looks like Jupyter exited as soon as it s

[2018-03-01 23:09] jlewi commented on #325
In stack driver I used the following filter to get the logs

[code]

I see a jinja error

[code]

[2018-03-01 23:17] jlewi commented on #325
[code]

[2018-03-01 23:55] jlewi commented on #325
Here's the super relavant bit

Jinja is giving the following error

[code]

which appears to be coming from this piece of Jupyter code

[code]

[2018-03-01 23:59] jlewi commented on #325
It looks like this was added ~8 months ago as part of preliminary I18n support to Jupyter
https://github.com/jupyter/notebook/commit/f81fb46ff68323f9652d638a325e9ccc46f62e83

/cc @JCEmmons

[2018-03-02 00:14] jlewi commented on #325
/cc @ojarjur

[2018-03-02 00:20] ojarjur commented on #325
I've been hitting this too. My Docker builds from yesterday were picking up version 5.0.0 of the notebook package, but today they've started picking up version 5.4.0.

Right now I'm experimenting with pinning to different versions to see if the problem will go away.

[2018-03-02 00:44] jlewi commented on #325
When I look at the files in the image `/opt/conda/lib/python3.6/site-packages/notebook/templates` I don't see any trans tags.

[2018-03-02 01:08] jlewi commented on #325
I looked at the hub pod and I find trans tags in the file
`/usr/local/lib/python3.6/site-packages/notebook/templates/tree.html`

[2018-03-02 01:11] yuvipanda commented on #325
Notebook recently started being localizable, and this seems related. I suspect some installation setup somehow that has the template files from a newer version of notebook than the code. Are you mixing conda and pip for the notebook package? Conda / pip mixing feels like the most likely culprit

[2018-03-02 01:31] jlewi commented on #325
Yeah looks like we're mixing conda and pip
https://github.com/kubeflow/kubeflow/blob/master/components/tensorflow-notebook-image/Dockerfile.cpu

[2018-03-02 03:31] jlewi commented on #325
Rebuilt the image and the new one works;

gcr.io/kubeflow-images-staging/tensorflow-notebook-cpu:v20180301-1838-pr317-1932b26-f88d"

I think my previous build might not have been a clean build.

[2018-03-02 03:31] #325 closed

[2018-03-02 03:35] jlewi commented on #244
@ojarjur  I rebuilt the image and this one appears to work
gcr.io/kubeflow-images-staging/tensorflow-notebook-cpu:v20180301-1838-pr317-1932b26-f88d"

And I can launch Python2 kernels

[2018-03-02 03:51] jlewi commented on #262
I looked at the pod logs for the hub and the actual pod and I didn't see any errors.

[2018-03-02 06:44] cyphar commented on #289
@cwbeitel I have not yet tried it on 16.04, but I will give it a shot -- and yes I will get back into working on `orca-build` (for some reason I got unsubscribed from the issue list so I haven't seen the newer bug reports).

[2018-03-02 08:36] elmiko commented on #289
+1 for investigating the buildah path more thoroughly

[2018-03-02 08:54] XinchenWan commented on #318
@jlewi Sure, in address:/home/wxc/my-kubeflow/environments/default/main.jsonnet
It says:
"local base = import "base.libsonnet";
local k = import "k.libsonnet";

base + {
  // Insert user-specified overrides here. For example if a component is named "nginx-deployment", you might have something like:
  //   "nginx-deployment"+: k.deployment.mixin.metadata.labels({foo: "bar"})
}"

But I don't know wh

[2018-03-02 14:14] jlewi commented on #318
Something about your ksonnet app appears to be incorrect. I was hoping the file contents would show what the error is but I don't see a reference to core in that file.

Can you please run and paste the output of

[code]

[2018-03-02 14:16] jlewi commented on #318
Also I'd suggest retrying the directions again just to make its not some sort of fluke.

[2018-03-02 16:30] cwbeitel commented on #289
@cyphar Awesome! Your approach seems very clean and concise.

@elmiko Yeah agree, looks like images need to be prefixed with docker://.../... for docker hub or the registry domain for elsewhere which explains the error I was getting regarding being unable to determine the registry when specifying the base image as simply "ubuntu".

[2018-03-02 17:01] cwbeitel commented on #289
@aronchick Wow I didn't realize Bazel's [docker_build rule](https://github.com/bazelbuild/rules_docker) doesn't use docker or require root! Looks like the syntax is not nearly as permissive as a Dockerfile. But that could be a good fit if all you're doing is adding python dependencies and model code.

[2018-03-02 17:24] dlorenc commented on #289
Just to throw a few other ideas into the mix, we (Google) have a tool here that can turn a Python app into a Docker image very quickly: https://github.com/GoogleCloudPlatform/runtimes-common/tree/master/ftl/python

It supports requirements.txt and is designed to run inside a cluster.

It's basically a pure python implementation of Bazel's docker_build rule. We'd be happy to help get this integrate

[2018-03-02 17:25] dlorenc commented on #289
cc @aaron-prindle @nkubala @kimsterv

[2018-03-02 21:14] willingc opened #329 "Add additional links and information about JupyterHub to README"
- make a reference to Project Jupyter and link to its website
- add links to additional JupyterHub documentation (Zero to JupyterHub with Kubernetes guide and BinderHub)

FYI @yuvipanda @minrk

[2018-03-02 21:53] jlewi opened #331 "Automatic PR merge"
Automatic merging should be setup but doesn't seem to be working for this repository yet.

Opening up this issue to track and debug.

Background: kubeflow/communit#20

Some issues we've seen so far

- PRs need to be approved and lgtm'd
- There can't be any failed status checks (e.g reviewable)
-  kubernetes/test-infra#7091 tide is serving bad JSON data to Deck appears to be an issue with coveralls

[2018-03-02 22:02] jlewi commented on #331
kubeflow/kubeflow#317

It worked. Trick was to ensure was /lgtm'd by someone other than me.

[2018-03-02 23:06] cwbeitel commented on #289
@dlorenc That's awesome. If someone was interested maybe they could write a gist showing the installation and usage of FTL on top of our current notebook images, gcr.io/kubeflow/tensorflow-notebook-cpu and gcr.io/kubeflow/tensorflow-notebook-gpu?

So far I've tried running it via

[code]
see [logs](https://gist.github.com/cwbeitel/b7fbca2daf3d43b4bfb5f3a4c0138869), as well as the same with the ver

[2018-03-03 00:04] aaron-prindle commented on #289
@cwbeitel The example you posted should work if you add a tag:
gcr.io/kubeflow-rl/test:latest
 the --name argument you passed.  The base image assumes :latest but the --name target is required to be fully specified:
[code]

[2018-03-03 01:30] #262 closed

[2018-03-03 01:57] jlewi commented on #105
@elsonrodriguez I think you said you had a container with ksonnet that could run and install kubeflow. Anything that might be useful for this issue?

ksonnet is also in our notebooks images so arguably we could just use that.

[2018-03-03 04:05] XinchenWan commented on #318
Thanks for your consideration. I've retried the directions again, but still met these problems.
After I run "ks param list", I got:
COMPONENT     PARAM                   VALUE
=========     =====                   =====
kubeflow-core cloud                   "null"
kubeflow-core disks                   "null"
kubeflow-core jupyterHubAuthenticator "null"
kubeflow-core jupyterHubImage         "gcr.io

[2018-03-03 08:03] elsonrodriguez commented on #105
@jlewi Yeah, I built a container for the end-to-end kubeflow example. Here are the bits, let me know what you think can be reused:

Dockerfile: https://github.com/elsonrodriguez/examples/blob/7a2f2b3a6d0f15ef5a4155cc2632f857804d80aa/e2e/Dockerfile.ksonnet
Entrypoint: https://github.com/elsonrodriguez/examples/blob/e2e/e2e/ksonnet-entrypoint.sh
Usage: https://github.com/elsonrodriguez/examples/blob

[2018-03-03 10:24] marcoleewow opened #336 "Jupyter pod stuck at ContainerCreating when spawning"
I followed instructions from [here](https://github.com/kubeflow/kubeflow/blob/master/user_guide.md#bringing-up-a-notebook) to bring up a notebook.

I entered
[code]
and clicked spawn, then the webpage get stuck at

[code]

The notebook would not spawn, and so I took a look at the pod using `kubectl describe pods jupyter-USER --namespace=kubeflow` and I found an error at the end of the event:

[cod

[2018-03-03 19:16] jlewi commented on #336
How are you running Kubernetes? Are you using minikube?

There appears to be a problem creating a default persistent volume for your Jupyter pod.

Can you run

[code]

/cc @inc0

[2018-03-03 19:21] jlewi commented on #318
Can you upload a tarball containing all the files in `/home/wxc/my-kubeflow`. It looks there is a problem with your ksonnet app; its complaining about `core` missing. I don't know where this is coming from and why you are the only one that seems to be hitting it.

[2018-03-03 19:50] #244 closed

[2018-03-03 21:03] jlewi opened #337 "Create a simple TF model to test TF Serving"
For E2E testing of TF serving it would be great to have a very simple model; e.g. a model that would just do a matrix multiple.

We should create a simple python script that can produce a model in a format suitable for consumption by TF serving.

For reference we use a similarly simple TF program for testing training
https://github.com/kubeflow/tf-operator/tree/master/examples/tf_sample/tf_sample

[2018-03-03 21:20] jlewi commented on #321
/cc @ojarjur

[2018-03-03 21:27] jlewi commented on #331
This is working.

[2018-03-03 21:27] #331 closed

[2018-03-03 21:34] jlewi commented on #233
@fxue Can we update the docs to reflect the fact that it is ClusterIP by default now?

[2018-03-03 21:35] jlewi opened #338 "Build TFServing GPU Docker Image"
We need to add the TFServing GPU image to the argo workflows we use to build our Docker images.

/assign jlewi

[2018-03-04 00:31] cwbeitel commented on #289
@aaron-prindle Thanks! That did progress further.

[Here's a notebook](https://github.com/cwbeitel/build-notes/blob/master/notes.ipynb) with my current notes on buildah and ftl in case anyone wants to hack around with it as well. Might need to focus on my existing PR for the moment.

[2018-03-04 03:58] XinchenWan commented on #318
[my-kubeflow.tar.gz](https://github.com/kubeflow/kubeflow/files/1778159/my-kubeflow.tar.gz)
Here I upload a tarball containing all `my-kubeflow` files. I'll check why `core` is missing.

[2018-03-04 05:20] jlewi commented on #338
Built a new image:
gcr.io/kubeflow-images-staging/tf-model-server-gpu:v20180303

[2018-03-04 06:30] marcoleewow commented on #336
I get `No resources found.` for both of the commands, seems that the Jupyter pod could not create a PV...

[2018-03-04 09:18] XinchenWan commented on #318
I believe the fault comes when I installed ksonnet. As I type"sudo make install" to reinstalled ksonnet, it responses :"`/usr/lib/go/src/github.com/ksonnet/ksonnet` is not within a known `GOPATH/src`"

After I install **go**, I "echo $GOPATH" has no response.
And I "sudo find / -name ksonnet", I got:
find: ‘/run/user/1000/gvfs’: Permission denied
/usr/lib/go/pkg/linux_amd64/github.com/ksonnet
/usr

[2018-03-04 09:25] pineking commented on #318
https://github.com/ksonnet/ksonnet/releases

download the Linux binary tar.gz file, and untar it, put `ks` in your path.
it's an easy and straightforward way to use the pre-built release files
rather than build ksonnet from the source.

On Sun, Mar 4, 2018 at 5:18 PM, xcwan <notifications@github.com> wrote:

--
---------------------------------------------
Qingsong Liu
liuqs.ustc@gmail.com
Univ. o

[2018-03-04 10:07] XinchenWan commented on #318
@pineking @jlewi Thanks, after updating `ks` file, now I was able to deploy kubeflow and go on research. I'll close the issue now.

[2018-03-04 10:07] #318 closed

[2018-03-04 12:43] aichiludan opened #340 "[ksonnet] RUNTIME ERROR: Field does not exist: core"
When i run

ks apply default -c kubeflow-core

it returns the follow error:

ERROR generate objects for namespace : unable to read /root/my-kubeflow/environments/default/main.jsonnet: RUNTIME ERROR: Field does not exist: core

And running some other ks commands also returns the same error. Who can help me fix this

[2018-03-04 13:03] pineking commented on #340
@aichiludan is it the same issue as  https://github.com/kubeflow/kubeflow/issues/318 ?

[2018-03-05 00:33] #329 closed

[2018-03-05 00:50] jlewi commented on #336
I think the problem is that Jupyter's use of persistent volumes requires a default storage class.

Can you check if you have a default storage class?

[code]

If you have some storage class but none is the default then you could try following the [directions](
https://kubernetes.io/docs/tasks/administer-cluster/change-default-storage-class/) to configure a default storage class.

Alternatively as

[2018-03-05 04:45] fxue commented on #233
yes - PR to come

[2018-03-05 06:49] bkungfoo commented on #338
FYI, I tried to deploy this to a Google K8s Cluster and got this error:

/usr/bin/tensorflow_model_server: error while loading shared libraries: libcusolver.so.8.0: cannot open shared object file: No such file or directory

I think the file exists inside /usr/local/cuda/lib64. I tried adding the following to the Dockerfile but no luck yet:
ENV LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/cuda/lib64

[2018-03-05 09:35] Smlight opened #343 "How to login the Jupyterhub on the remote server?"
I have used `kubeadm` to setup my kubernetes, and used `calico` as the network extension.
[code]
Since the service type `LoadBalancer` not work for my kubernetes, I have manually changed the type of `tf-hub-lb` to `NodePort`.
[code]
They are all on my remote server `k8s-0001`, suppose the public IP of it is `a.b.c.d`, here comes the problems:
 1. I cannot visit `a.b.c.d:32133` whether I go through

[2018-03-05 10:01] ogre0403 opened #344 "ambassadors are crashed and cannot be created"
Hi,

I used ansible to setup my kubenetes cluster from binary, and also followed user guide to setup kubeflow.
But I found  that ambassador cannot be created.

ambassador logs are also attached.
Thanks

[code]

[code]

[2018-03-05 10:11] ogre0403 commented on #336
I have the same issue when I start a new notebook.
My pv & pvc is
[code]

I look into the status of pending pvc, and have
[code]

[2018-03-05 13:48] jlewi opened #345 "autoformat_jsonnet.sh unknown predicate -E"
When I run the autoformat_jsonnet command on my debian machine I get the following error

[code]

My guess is that "-E" isn't universally recognized by find.

[2018-03-05 13:48] jlewi commented on #345
/label priority/p2
/assign @ankushagarwal

[2018-03-05 13:53] jlewi commented on #344
@ankushagarwal Can you try a fresh install of Kubeflow and see if Ambassador crash loops?

[2018-03-05 13:55] jlewi opened #346 "E2E tests should verify Ambassador isn't crash looping"
At a minimum we should verify that Ambassador starts up correctly and isn't crash looping.

Motivation #344. A user reported Ambassador crash looping.

[2018-03-05 14:16] jlewi commented on #343
It looks like there are two issues here

1. Connecting to JupyterHub
1. Authenticating to jupyter.

I suggest trying to tackle these issues separately; i.e lets figure out how to connect and JupyterHub and then lets figure out how to authenticate.

For connecting to JupyterHub

I don't understand what you mean by "remote server"? Is this your K8s  master or your K8s node? If you're using a node po

[2018-03-05 16:24] ernestmartinez opened #348 "Failed to pull image "gcr.io/kubeflow/tf-benchmarks-gpu:...."
Was working yesterday. Just tried to re-deploy the tf-cnn job and cdk-tf-cnn-worker-... keeps throwing:
Failed to pull image "gcr.io/kubeflow/tf-benchmarks-gpu:v20171202-bdab599-dirty-284af3": rpc error: code = Unknown desc = Error response from daemon: Get https://gcr.io/v2/: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)

then ultimately

[2018-03-05 18:00] jlewi opened #349 "[Discussion] How should we unittest our ksonnet configs"
As our ksonnet configs get more complicated, we need to start writing unittests so that we can verify setting various options have the desired effect.

1. We can create jsonnet files that use the assert macros (e.g. [util_test.jsonnet](https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/tests/util_test.jsonnet)) and then evaluate the jsonnet.

1. We can generate YAML from the ksonnet co

[2018-03-05 18:02] jlewi opened #350 "Unittest to verify spartakus volunteer disabled by default"
We should have a unittest to verify that we don't include the spartakus volunteer component by default.

Since we are currently making spartakus is opt-in we want to make sure this is true.

See #349 for discussion about how to unittest our ksonnet configs.

[2018-03-05 18:19] inc0 commented on #336
@ogre0403 do you have any storageclass set up?
@jlewi we probably need to add note to our quickstart that storage is required and/or add flag to disable pvc during ksonnet install

[2018-03-05 20:11] plombardi89 commented on #11
@jlewi It would be fairly easy to write an Ambassador HTTP Basic Authentication extauth module. The implementation reads the contents of password database and compares a given password with the hashed value in the database to determine whether a user has access to a protected resource.

## Password Database Schema

- `${user_id}` represents the authenticating users name, email or system ID
- `${bc

[2018-03-05 20:12] jlewi commented on #55
PR has been submitted with opt in.

I have created a group
data-analysts@kubeflow.org
to give access to the data in BigQuery to folks preparing reports. I've given access to @chrisheecho who's been doing some of our data analysis and who I'm going to ask to prepare some initial reports.

I can share access with other folks who will be working on preparing reports for the community.

I'll also open

[2018-03-05 20:24] jlewi opened #351 "Initial report for spartakus metrics"
Background #55

We have turned on spartakus to collect usage metrics for Kubeflow. (Per #55 this is currently opt-in).

The data is available in BigQuery in project `kubeflow-usage`.

The purpose of this bug is to create an initial report based on this data to share with the community.

Per #55 this report should be available to everyone in the community so it would probably be best to do put this

[2018-03-05 20:24] jlewi commented on #351
@chrisheecho Do you want to take this on?

[2018-03-05 21:21] jlewi commented on #348
I tried pulling it and it worked:

[code]

The image is defined; [gcr.io/kubeflow/tf-benchmarks-gpu:v20171202-bdab599-dirty-284af3](http://gcr.io/kubeflow/tf-benchmarks-gpu:v20171202-bdab599-dirty-284af3).

Are you sure its not an issue with your network connection? Can you retry?

[2018-03-05 21:23] ernestmartinez commented on #348
Network was fine, I tried a bit later and it worked. I should have just tried a pull as you did.

[2018-03-05 21:25] jlewi commented on #348
Glad its resolved.

[2018-03-05 21:25] #348 closed

[2018-03-05 21:26] jlewi opened #352 "Better docs for http proxy"
We have minimal docs here:
https://github.com/kubeflow/kubeflow/tree/master/components/k8s-model-server/http-proxy

We should expand the docs. Here are some things to possible explain

- How do model_name and model_version in the request map to values specified in the model and/or TF Serving deployment options?
- The difference between predict and classify methods?

[2018-03-05 21:29] jlewi opened #353 "Build http proxy for TF serving as part of our release workflow"
#339 is adding an Argo workflow to build all our artifacts as part of our release.

We should add the HttpProxy image to this workflow as well.

[2018-03-05 21:41] jlewi commented on #295
Fixed by #302.

[2018-03-05 21:41] #295 closed

[2018-03-05 21:52] yupbank commented on #352
and... i'm thinking to make http-proxy a pypi package as what mxnet-serving does...

[2018-03-05 22:12] inc0 opened #355 "Add tensorflow-serving-api to jupyter image"
Currently we don't have API package there so it makes it harder to develop code accessing it

[2018-03-05 22:18] jlewi commented on #355
Do you have a link to the actual package?

[2018-03-05 22:22] jlewi opened #356 "Reviewable is blocking automatic merging"
Example #334

If Reviewable is configured as a status check I think it can block the automatic merge of the PR.

I thought I'd already disabled reviewable as a status check for kubeflow/kubeflow#334.
I just opened a bug to disable it as a status check.

Opening this issue to track it.

[2018-03-05 22:25] jlewi commented on #356
Opened up kubernetes/test-infra#7140 to ignore the reviewable status check.

[2018-03-05 22:31] inc0 commented on #355
there is one `tensorflow-serving-api` but it's only available for py2. I'm experimenting with putting it into our images anyway

[2018-03-05 22:38] jlewi commented on #356
I tried using "/skip" to remove the

[code]

but that didn't seem to work.

[2018-03-05 22:45] jlewi commented on #291
I have some cycles to work on this.
I'm going to start by adding a ksonnet component to our E2E test to deploy with GPUs.

[2018-03-05 23:21] ankushagarwal commented on #344
I created a new GKE cluster and deployed kubeflow-core from master and the ambassador pods are running fine.

@ogre0403 Where is your kubernetes deployment running?

[2018-03-05 23:56] ogre0403 commented on #336
@inc0 I don't have any storageclass, I will try @jlewi method to see if it works.

[2018-03-06 00:10] ogre0403 commented on #344
@ankushagarwal I use an ansible playbook [kubease](https://github.com/gjmzj/kubeasz) to setup my test environment. It is setup from binary.

I noted #343 , Ambassadors seem also restart hundreds times  in cluster from `kubeadm`.
But one container is still not ready in  Ambassadors pod.
I will try `kubeadm` to see if there is the same issue.

[2018-03-06 00:55] jlewi opened #360 "HTTP Proxy and TFServing should not use the same resource defaults"
Right now HTTPProxy and TFServing both use the same resource defaults.

https://github.com/kubeflow/kubeflow/blob/master/kubeflow/tf-serving/tf-serving.libsonnet#L12

This doesn't make much sense as HTTPProxy probably needs much fewer resources. For example it probably doesn't need as much RAM since it doesn't load the model or GPUs in the case of GPU serving.

It might be worth looking at some ex

[2018-03-06 02:05] #290 closed

[2018-03-06 02:33] jlewi commented on #338
I can reproduce this with #362.

[2018-03-06 03:08] jlewi commented on #338
I see a bunch of missing libraries.
[code]

The only copies I could find were symbolic links in the bazel cache that appear to be broken.

[code]

[2018-03-06 04:04] ChanYiLin commented on #336
I got the same issue on my own k8s cluster which has two nodes and one master.
How about follow the method in ksonnet redis  line 151 https://github.com/ksonnet/parts/blob/master/incubator/redis/redis.libsonnet

Kubeflow can let user use local volume when there is no StorageClass and PV available.

[2018-03-06 05:16] jlewi commented on #338
I built a new docker image `gcr.io/kubeflow-images-staging/tf-model-server-gpu:v20180305-pr362-7f250ae-5cc7`

without the symbolic links and the binary is now linked correctly.

[code]

[2018-03-06 08:30] ogre0403 commented on #336
If I comment out all persistent volume options mentioned by @jlewi , jupyter pod can be created.

Because there is no storageclass in my cluster, I create a new local storageclass manually and make it default based on [storage-class local provisioner](https://kubernetes.io/docs/concepts/storage/storage-classes/#local)

[code]

[code]
After clicking spawn, I found pvc is pending because there is no

[2018-03-06 09:28] testphys opened #364 "ks delete default fails"
Following the user guide on a minikube cluster, `ks delete default` resulted in `Error strconv.Atoi: parsing "": invalid syntax` for `ksonnet v0.8.0` and in `Error Parse major version failed for` for `ksonnet v0.9.0`.

[2018-03-06 12:04] Smlight commented on #343
@jlewi Thank you and apologize, let me separate these.
Now I'm using all the default setting(not changing any command, service type, password, or authenticator)
[code]
They are running on k8s-0002.
[code]
If I run `kubectl port-forward --namespace=kubeflow tf-hub-0 8000:8000` on master, I can get the web page by wget.
[code]
It's fine, I had known this very well from the user guide. However, k8s-0

[2018-03-06 13:02] jlewi commented on #338
Here's a PR from @vishh for updating the TF Serving Dockerfile to work with GPUs
https://github.com/tensorflow/serving/compare/r1.5...vishh:r1.5?expand=1

And a PR from someone else doing the same thing
https://github.com/tensorflow/serving/pull/759/files

[2018-03-06 13:07] jlewi commented on #344
datawire/ambassado#240 seems related.

This doesn't look like an issue with Kubeflow per se. You might want to do `kubectl describe pods`; I think that will let you know if the readiness/liveness probes are failing leading to termination which appears to be what's happening in datawire/ambassador#240.

With Kubeflow you can work around this by connecting directly to Jupyter pods as the user guide

[2018-03-06 13:33] jlewi commented on #343
This appears to be an issue with your networking setup and not anything Kubeflow specific.

Have you been able to successfully expose a service the way you'd like e.g publicly? How did you do it?  Are you running on a Cloud or in a cluster? Does your K8s distribution provide instructions about how to expose services publicly? Why doesn't your K8s distribution support LoadBalancer? Can you you use

[2018-03-06 13:37] jlewi commented on #336
@inc0  Yes lets add options to disable the use of PV.

@ogre0403 I don't have any recommended way of creating a storage class for your own cluster. That is likely highly dependent on how you are running K8s. For example, on GKE the default storage class is persistent disks.

[2018-03-06 13:41] jlewi opened #365 "Option to disable use of PVC for Jupyter"
See #336 on clusters without a default storage class; spawning of Jupyter pods will get stuck with pods in the container creating state waiting for a PV.

We should add options to disable the use of PVC for Jupyter to support these customers.

@ChanYiLin suggested following the method in
How about follow the method in ksonnet redis line 151 https://github.com/ksonnet/parts/blob/master/incubator/re

[2018-03-06 13:45] jlewi commented on #364
This appears to be an issue with ksonnet.
ksonnet/ksonnet#272

It was supposed to be fixed in v0.9.0. Can you open up an issue in ksonnet and provide information about the major and minor version of your cluster.

[2018-03-06 15:10] richarddli commented on #344
@ogre0403 (I work with the Ambassador team). Can you see if Kube DNS is behaving properly on your cluster? (`kubectl get pods -n kube-system`)

@jlewi Agreed this is probably an Ambassador issue. We can debug it here, or move the conversation to Ambassador GitHub if you prefer.

[2018-03-06 15:15] chrisheecho commented on #351
Roger

[2018-03-06 16:40] inc0 commented on #55
As I said on meeting, even opt-in is iffy for me. This can be security risk and well, damages from these can be hard to recover from. Another thing would be usefulness of this data. We can see scale of cluster people use, but how much of it is kubeflow?

I'd rather create google doc (?) questionnaire that we can modify and ask open questions tailored to actually improve our project. If we put scal

[2018-03-06 16:48] mhausenblas commented on #55
I'm for opt-in (with very clear strong re-blink notice at install time) and while a questionnaire like suggested by @inc0 sounds nice I believe the point is automation so I don't think the folks who want the data for planning or whatever reasons would prefer that option (understandably so).

[2018-03-06 17:38] aaron-prindle commented on #289
@cwbeitel can you verify that auth is configured to pull down a private docker image (gcr and quay) with a docker daemon in this environment?  I believe that the [google/containerregistry](https://github.com/google/containerregistry/) library looks for a .docker/config.json file or a .dockercfg file to get the auth when pulling from a private repo.

[2018-03-06 17:58] cwbeitel commented on #289
Was able to build a container using buildah (with sudo), push to a local registry, then pull from that registry using docker. Also to push the built image using buildah to quay. Pulls and builds cache but when pushing the tool doesn't appear to recognize when a layer already exists in the registry, see logs on [timing](https://gist.github.com/cwbeitel/c58744c9652c9574af7d26f4e2dae4c4). Recognizing

[2018-03-06 18:03] cyphar commented on #289
[This is not supported at the moment](https://github.com/projectatomic/buildah/issues/386), while `umoci` does support this (and has for a while).

[2018-03-06 18:33] cwbeitel commented on #289
@cyphar Thanks for the info! I'll take a look at umoci.

With my current usage @containerregistry seems to be recognizing when layers exist but  see [logs](https://gist.github.com/cwbeitel/f8b36f596acdb0e5e1b5f5f240ac17c7), and as you'd expect can't pull the image and run it. Also for whatever reason currently stalls on "Loading v2.2 image from disk..." for about 5min each time it is run. I'm wond

[2018-03-06 18:35] dlorenc commented on #289
Ah yeah, as far as I know quay never added support for the v2.2 image schema (or OCI). See here for some more info:
https://github.com/bazelbuild/rules_docker/issues/102

If v2 support is important we can add it pretty easily to the FTL code, but I think basically every other registry supports v2.2 at this point.

[2018-03-06 18:45] cwbeitel commented on #289
Oh interesting. I don't think there is an advantage to use quay over GCR now that the latter is adding vulnerability scanning except in terms of UI for displaying vulnerabilities which you should probably be consuming programmatically anyway.

[2018-03-06 19:01] jlewi commented on #344
@richarddli Thanks for jumping on this issue; wasn't expecting that. What ever works for you.

[2018-03-06 19:35] #338 closed

[2018-03-06 20:10] mhausenblas commented on #55
After having reviewed the [kubernetes-incubator/spartakus](https://github.com/kubernetes-incubator/spartakus) source code now I do have a question: given that it has a hard dependency on BigQuery, how are folks supposed to use this behind a firewall, in an on-premises setup?

Don't get me wrong I love and admire BigQuery—heck, a long time ago I even contributed to the open source version of the un

[2018-03-06 20:41] cwbeitel commented on #289
Success. When pushing to gcr.io not only does containerregistry work but so does FTL, including the push step, caching, and enables skipping the time-consuming step of writing the output archive. So yeah this is now ["faaaaast"](https://github.com/google/containerregistry) 😁

@aronchick @jlewi This looks like a good option - no sudo, very fast build and push. By default whatever is in the director

[2018-03-06 21:21] richarddli commented on #344
OK, we tracked this down (I think). The proximate cause is that at startup, Envoy and Ambassador both issue a number of async DNS requests. When DNS is not working, a crash loop occurs since the health / liveness checks fail.

It turns out that if you're deploying Kubernetes on nodes running `systemd-resolved`, DNS is broken by default. See https://github.com/kubernetes/kubeadm/issues/273 and http

[2018-03-06 21:48] jlewi opened #367 "Set userid and group id in TF Serving GPU container"
In the CPU container we create a user id and group id for user 1000 here
https://github.com/kubeflow/kubeflow/blob/master/components/k8s-model-server/images/Dockerfile.cpu#L53

We set that userid and groupid as part of the deployment here
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/tf-serving/tf-serving.libsonnet#L143

We should probably do something similar for the GPU container. Ot

[2018-03-06 21:51] jlewi opened #368 "Liveness/Readiness checks for TF Serving"
See #64.

We should configure liveness and readiness probes for TF Serving.

Its not clear if TF Serving out of the box has handlers that would be suitable for use in a liveness/readiness probe. I don't know that a gRPC server provides any either. So this could potentially require upstream work to TFServing.

[2018-03-06 21:55] jlewi opened #369 "Missing TFServing monitoring features?"
Opening this bug to track missing features related to TFServing Monitoring?

Open questions
  - Behind basic metrics (e.g. CPU/memory) what other metrics do we want to track?
  - How do we export with K8s monitoring systems like Prometheus

Split from: #64

[2018-03-06 21:56] jlewi commented on #64
Closing this bug because we have more specific bugs for individual issues.

[2018-03-06 21:56] #64 closed

[2018-03-06 21:58] lluunn commented on #64
Should we have one for logging too?

[2018-03-07 00:11] jlewi commented on #301
I think its fine in the short term to change our E2E workflow to not build the image and instead run the test using the current ksonnet configs.

This will work well for our release process because the flow will be

- Run the Argo workflow to build all our containers
- Update the configs
- Create a PR and run E2E tests.

Longer term it would be good if we had an E2E test that also rebuilt the dock

[2018-03-07 00:13] jlewi commented on #301
It would probably make sense to make it a parameter of the current workflow to controller whether we rebuild the Docker image for TF serving and use that image or use the default image.

[2018-03-07 00:14] jlewi opened #371 "Trigger rebuild of TF serving image in E2E test only when files change"
Building the TFServing image is expensive; particularly for GPU images.

It doesn't make sense to rebuild the TF Serving image for each presubmit. We should only rebuild it if certain files (like the Dockerfile are changed).

#301 is going to change our current tests so that we don't rebuild the docker image on each presubmit.

[2018-03-07 00:15] jlewi commented on #296
@fxue  #295 is merged. Can we update the docs?

[2018-03-07 00:16] dlorenc commented on #289
@cwbeitel awesome! The `/srv` path should be configurable with `--destination` if you want the app to end up somewhere else in the container.

Looks like you have a community call next Tuesday, would it be a good next step for us to attend that and discuss getting FTL support merged in?

[2018-03-07 00:17] jlewi commented on #291
Bump to P1 since we want to have GPU serving in our 0.1 release.

@lluunn How can we serve a model on GPUs and verify that GPUs were actually used?

[2018-03-07 00:25] jlewi commented on #296
Duplicate of #233

[2018-03-07 00:25] #296 closed

[2018-03-07 00:26] jlewi commented on #15
Seldon is now available as part of Kubeflow. So I'm closing this issue.

[2018-03-07 00:26] #15 closed

[2018-03-07 00:54] elsonrodriguez opened #372 "Establish a pattern for creating/using secrets used by multiple kubeflow prototypes"
https://github.com/kubeflow/kubeflow/pull/323 has secret handling semantics that may need to be forked out if more Kubeflow prototypes end up using those s3 credentials.

Consolidating such logic in a single place to avoid duplication is a good idea. Otherwise every other prototype will end up with very similar parameters for s3 or any other credentials/config that need to be added.

[2018-03-07 02:10] jlewi opened #373 "Ambassador can't watch services at the cluster level."
I'm using our dev deployment; dev.kubeflow.org and ambassador isn't working for me. The logs show the following error

[code]

dev.kubeflow.org was working a couple weeks ago; I demo'd it at index.

It looks like an RBAC issue with ambassador; not sure why it would have changed. I think we did upgrade Ambassador at some point but not sure if that change happened in the dev cluster.

[2018-03-07 02:13] jlewi commented on #373
Looks like this cluster is still using 0.22

[code]

Head now uses 0.26.0
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/ambassador.libsonnet#L14

[2018-03-07 02:15] jlewi commented on #373
I see the cluster role

[code]

[2018-03-07 02:19] jlewi commented on #373
ClusterRoleBinding is misconfigured

[code]
The service account namespace should be kubeflow.

I think @ankushagarwal deployed an experimental deployment in a different namespace `agwl-experimental-issue-summarization-serving` and this ended up overriding the clusterrolebinding because clusterrolebindings aren't namespace scoped.

[2018-03-07 02:39] jlewi commented on #373
If we do

[code]

We see that the URL is

[code]

So its not namespace scoped.

[2018-03-07 02:41] jlewi opened #374 "ClusterRole's and ClusterRoleBindings should include namespace in the name"
See #373

ClusterRole's and ClusterRoleBinding's aren't namespaced scoped. So if we try to create multiple Kubeflow deployments in different namespaces they can interfere.

ClusterRoleBinding's are the bigger problem because we create namespace scoped service accounts, so the bindings for the different deployments are different.

If we include the namespace name in the ClusterRoleBinding this woul

[2018-03-07 02:44] jlewi commented on #373
Recreate the clusterolebinding manually

[code]
This fixed the issue.

[2018-03-07 02:44] #373 closed

[2018-03-07 02:45] cwbeitel commented on #289
@diorenc That would be great!

[2018-03-07 02:45] ankushagarwal opened #375 "Jupyter notebook image should pin TF version"
The latest image for jupyter notebook uses tensorflow 1.5-dev version and the TFServing image uses tensorflow 1.4 release.

I ran into an issue where I trained a model using the jupyter notebook, but had compatibility issues while serving that model with TFServing.

We should try to maintain the same tensorflow versions in the various kubeflow images.

[2018-03-07 02:50] jlewi commented on #375
Our notebooks are currently using the nightly build of TF.
https://github.com/kubeflow/kubeflow/blob/master/components/tensorflow-notebook-image/Dockerfile.cpu#L162

We should probably pin TF to a specific version.

/cc @ojarjur

[2018-03-07 02:55] jlewi opened #376 "[Discussion] Patterns for creating ksonnet prototypes?"
For many prototypes like TFServing we might want to allow complex modifications

Example
   * Users might want to customize resource foot print of HttpProxy and/or TFServing
   * Users might want to attach secrets or volumes
   * Users might need to set multiple environment variables
   * See #323 for example

Creating parameters for each flag won't scale. We need to structure our ksonnet prototyp

[2018-03-07 03:15] zjj2wry commented on #374
serviceaccount is an array. when there are multiple serviceaccount  in clusterrolebindding, we do not know which partition to use.

[2018-03-07 03:51] ogre0403 commented on #344
@richarddli Thanks for your help.
My box is Ubuntu 16.04 which use resolvconf rather than systemd-resolved.
Because I setup my cluster from binary and didn't create kube-dns.  So DNS is not working, and crash loop occurs. After I create kube-dns, everything is fine.

@jlewi I think we can close this issue. Thanks.

[2018-03-07 05:03] jlewi commented on #241
We will need to find a different owner.

[2018-03-07 05:07] jlewi commented on #192
I don't think we have or need to have this solved for the 0.1. release.

[2018-03-07 05:35] dlorenc commented on #289
@cwbeitel great! Is there an agenda doc we can get on? I only see the agenda from today, here: https://docs.google.com/document/d/1mhGl19Qg4gpRa6AV6oSHZ2mUIliIeTqCIcLzRFy8UKE/edit

[2018-03-07 08:11] gpfvic commented on #343
@jlewi  I came across the same problem as Smlight.
I deployed minikube on a server.
But I can't connect to the jupyterhub through my labtop browser.
I am new to the kubernetes and devops.

[2018-03-07 08:13] lluunn opened #377 "Sample models for trying out serving"
We should have some public models for people to try out the serving components.
They should be representative, and better with different types of input/output format.
For example, mnist, iris, and inception.

related #361

[2018-03-07 14:13] jlewi commented on #197
The Argo workflow for building the images is here
https://github.com/kubeflow/kubeflow/tree/master/releasing/releaser

But we probably don't want to add it directly to that Argo workflow because those images won't be tested yet.

I think the next steps would be

1. Create a DockerHub account "kubeflow-releaser"
2. Create a simple script to pull a list of our images and push them to DockerHub

@car

[2018-03-07 14:20] jlewi commented on #211
See also #197

I think the next steps would be

1. Create a DockerHub account "kubeflow-releaser"
1. Create a simple script to pull a list of our images and push them to DockerHub
@carmark Do you think you could work on this?

For the email account for the DockerHub account you could use "release-team@kubeflow.org" This is a google group that will be used for folks who manage releases and have acc

[2018-03-07 14:31] #123 closed

[2018-03-07 14:33] jlewi commented on #123
Default is set to ClusterIP here
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/prototypes/all.jsonnet#L12

[2018-03-07 14:35] #38 closed

[2018-03-07 14:36] jlewi commented on #377
Isn't this covered by kubeflow/examples?

[2018-03-07 14:37] carmark commented on #211
sure, I can do that in this week.

BTW, my email account is carmark.dlut@gmail.com

Regards,
-Lei

2018年3月7日 下午10:33，"Jeremy Lewi" <notifications@github.com>写道：

[2018-03-07 14:38] jlewi commented on #374
What I'm suggesting is that we create 1 clusterrolebinding per Kubeflow deployment and make the name unique so that if we have multiple Kubeflow deployments running in different namespaces there is still 1 clusterrolebinding per Kubeflow deployment.

[2018-03-07 14:39] jlewi opened #380 "Smoke test for JupyterHub"
Our E2E tests should verify that JupyterHub actually starts up when Kubeflow is deployed.

It would also be good to verify that we can spawn a notebook but that might be harder.

[2018-03-07 15:48] mhausenblas commented on #55
I asked around a bit and Tim [confirmed](https://twitter.com/thockin/status/971409137690034176) Spartakus is a PoC and so I think, since we've apparently decided to adopt it, it would make sense to do it properly ;)

I've reached out to Tim to see how I can get involved so that if we have needs (for example, my interest for on-prem deployments is to allow for alternative back-ends) we can meet the

[2018-03-07 16:06] jlewi commented on #215
There are some instructions here:
https://github.com/kubeflow/kubeflow/blob/master/releasing.md

I think the next steps would be

1. Cut a 0.0.1 branch
1. Update our user guide and instructions to to pull ksonnet from the release branch
1. Update the instructions with the above.

@willb Any chance you could take a stab at this? Preferably this week?

[2018-03-07 16:16] willb commented on #215
@jlewi definitely assign this to me; I’m in offsite meetings all week but will be able to give this contiguous free time while traveling home or early next week.

[2018-03-07 16:44] jlewi commented on #291
https://stackoverflow.com/questions/42630762/how-to-verify-tensorflow-serving-is-using-gpus-on-a-gpu-instance
    Suggests looking at nvidia-smi output
    Some of these metrics should now be available via stackdriver

[2018-03-07 16:53] ankushagarwal commented on #352
It will also be good to document how the input tensors and output tensors of the model map to the json payload of the http proxy. I had to read the code to figure this out.

[2018-03-07 16:57] ankushagarwal commented on #352
Also since we're storing the signatures of the models in our server, it will be good expose these signatures to the client as a http method - so that the client can understand what inputs and outputs are expected for a model. Something along the lines of:

[code]

[2018-03-07 17:00] yupbank commented on #352
yes... that is in the roadmap.
[code]

[2018-03-07 17:08] yupbank commented on #352
not just `signature_def` but also  `model_name` and `signature` is also something we can provide, instead of the api consumer need to worry about

[2018-03-07 17:09] aronchick commented on #55
+1 on automation. Sadly, response rates are VERY low for even great
surveys, and most customers may not even be aware of how much it's being
used.

\I'm happy to strip out ANYTHING that feels PII-ish (even vaguely so), but
we really need more information about how KF is being used, and given the
precedent in the open source community (e.g. PopCon (
https://pypi.python.org/pypi/python-popcon/1.5.1)

[2018-03-07 17:11] yupbank commented on #352
It’s more of a feature request though ...

[2018-03-07 17:32] jlewi commented on #380
We already ensure JupyterHub is deployed here.
https://github.com/kubeflow/kubeflow/blob/master/testing/test_deploy.py#L174

[2018-03-07 18:38] cwbeitel commented on #289
Looks like prior to yesterday's meeting a [doc](https://groups.google.com/forum/#!topic/kubeflow-discuss/S7QlvU4-aO8) was posted by @ewilder asking for additions to the agenda as well as providing a link to the call. I'm guessing both are open to everyone. Just learning about these myself. There's a [slack workspace](https://kubeflow.slack.com) as well.

[2018-03-07 18:39] jlewi commented on #376
One issue is what to do about default parameter values for optional parameters.

As an example consider the default docker image to use for TFServing. The correct default image to use depends on whether the user is using CPU or GPU.

Option 1: Have two parameters "mode_server_cpu_image", "model_server_gpu_image"
Option 2: Have a single parameter "model_server_image" and set the value in GCL depend

[2018-03-07 19:02] lluunn commented on #377
I think the point is if the user only wants to try out serving, should not need to go through an e2e example of training / preparing data.

[2018-03-07 19:56] bmenn opened #382 "[Discussion] ETL/Data engineering in kubeflow"
What is the vision/roadmap with kubeflow interacting with workflow tools such as Spotify Luigi or Apache Airflow to build machine learning pipelines? Would workflow engines just be another service that kubeflow users would interact with on the kubernetes cluster or something a little more integrated like building Docker containers or serving trained model?

I apologize if this is mentioned somewhe

[2018-03-07 20:11] jlewi commented on #292
/assign jlewi
/unassign @lluunn

I've started work on this.

[2018-03-07 21:24] jlewi commented on #382
For ETL, I highly recommend taking a look at [Argo](https://applatix.com/open-source/argo/). We already include a package for deploying Argo as part of Kubeflow and various folks are contributing examples that use Argo for pipelines. (We already use it for CI/CD).

That said the Airflow and K8s community are investing in Airflow and there's no reason why you couldn't deploy Airflow on K8s either a

[2018-03-07 21:32] ewilderj commented on #289
Meeting details are here: https://github.com/kubeflow/community

[2018-03-07 22:37] jlewi opened #385 "TFServing prototype for using GCS with service account key"
#323 add a prototype for plumbing through credentials and config needed to serve models from S3.

I'm in the process of refactoring that to turn it into a separate prototype to make it more manageable.

We should create a similar prototype for GCS. For GCS we want to be able to use a secret containing a google service account and set GOOGLE_APPLICATION_CREDENTIALS.

[2018-03-07 23:52] ogre0403 opened #389 "cnn tfjob status never change to completed"
I followed user guide to run two TensorFlow training jobs.
I notice that myjob TFJob status change to Completed after completion, but cnnjob status still remain Running. But cnnjob logs said the command ran successfully.

If the tfjob is actually completed but  pod is still running, the computing resource is still occupied.
I think it's not a good thing.

I have no knowledge  in tensorflow program

[2018-03-07 23:54] jlewi commented on #385
@lluunn  This is blocked on #292 but you could pick it up once that's committed.

[2018-03-07 23:56] jlewi commented on #291
@lluunn This is blocked on #292 and the changes I requested in #383 to pass in a list of parameters to set on the ksonnet component.

Once those are fixed do you want to pick this up? I think the next step would be adding appropriate steps to our E2E workflow to run the test using GPUs just like we do with CPUs.

[2018-03-08 00:02] jlewi commented on #215
Thank you so much @willb. Consider it assigned.

[2018-03-08 00:41] jlewi commented on #303
It looks like the convention in ksonnet is camel case
https://github.com/ksonnet/parts/blob/master/incubator/mysql/prototypes/simple-mysql.jsonnet
https://github.com/ksonnet/parts/blob/master/incubator/redis/prototypes/redis-all-features.jsonnet

I suggest we follow that. I'll fix this for tfServing as part of #387.

We should probably document this in a style guide somewhere.

[2018-03-08 03:50] gogeof opened #391 "[ support ] github.com set request rate limit"
## Github.com set request rate limit

/kind support

## When I follow the setup tutorial, I got these error
[code]
## the setup tutorial
[code]

## my question is:
- how can I reset the request rate?

**any help is appreciate!**

[2018-03-08 04:00] gaocegege commented on #201
ref https://github.com/kubeflow/kubeflow/pull/384

[2018-03-08 04:11] #353 closed

[2018-03-08 07:50] jlewi commented on #391
See here
https://github.com/ksonnet/ksonnet/blob/master/docs/troubleshooting.md#github-rate-limiting-errors

/label question

[2018-03-08 07:50] #391 closed

[2018-03-08 07:52] jlewi commented on #60
The envoy issues have been addressed so we should be unblocked.

[2018-03-08 08:05] jlewi commented on #60
I believe this is the docker file I used
https://github.com/jlewi/proxy/blob/iap/docker/Dockerfile.kubeflow

But its probably unnecessary to build our own Docker image if they already built one with the changes.
If not I think this is there release script.
https://github.com/jlewi/proxy/blob/iap/script/release-docker

[2018-03-08 08:48] gogeof commented on #391
@jlewi thanks a lot

[2018-03-08 09:02] zjj2wry commented on #374
kubectl create clusterrole ambassador
kubectl create  clusterrolebinding ambassador --clusterrole=ambassador --sa={ns-1}:ambassador --sa={ns-2}:ambassador
kubectl create rolebinding {ns-1}-ambassador --clusterrole=ambassador --sa={ns-1}:ambassador
kubectl create rolebinding {ns-2}-ambassador --clusterrole=ambassador --sa={ns-2}:ambassador

I think using rolebinding here may be a good approach, bec

[2018-03-08 10:45] mhausenblas commented on #55
Thanks @aronchick.

being used even on-prem. The fact that it uses a centralized logging system
(BQ) is a feature, not a bug, because otherwise how would we aggregate?
Because opting out is SO trivial, we're hoping that it doesn't cause any
issues.

Yes, I get that and I hope you remember that we actually decided on an opt-in policy ;)

you think that users would like to aggregate all the KF deplo

[2018-03-08 16:23] #345 closed

[2018-03-08 18:33] lluunn commented on #301
Fixed by #383

[2018-03-08 18:33] #301 closed

[2018-03-08 18:35] lluunn commented on #293
#361 shows how to authenticate programmatically as service account.
There are currently no programmatic way to do it for user account. We have to follow instruction at https://cloud.google.com/iap/docs/authentication-howto.
I will add this info to the doc.

[2018-03-08 19:01] jlewi commented on #293
@lluunn Can we close this issue or is their more work?

[2018-03-08 19:03] lluunn commented on #293
Just one more thing: https://github.com/kubeflow/kubeflow/pull/392

[2018-03-08 19:05] jlewi opened #394 "Build Envoy Container with JWT validation"
See #60

We will need to build an envoy container that contains an updated binary with JWT validation support for IAP.

The team maintaining the JWT fork of envoy isn't building containers anymore but they are building a binary  which is available in GCS

[code]

The fixes we need should be in this version.

[code]

This was a Dockerfile I used in the past
https://github.com/jlewi/proxy/blob/iap/d

[2018-03-08 19:20] #293 closed

[2018-03-08 19:58] jlewi opened #395 "Reformat only modified files"
We have a script
https://github.com/kubeflow/kubeflow/blob/master/scripts/autoformat_jsonnet.sh

to autoformat jsonnet files. It would be nice if we added some sugar to only autoformat modified files relative to master.

What I have below sort of works but jsonnet chokes on non jsonnet/libsonnet files so we need to filter
those out.

[code]

[2018-03-08 21:09] pdmack commented on #380
Could check the notebook with something like:
`$ curl -s -X GET -H "Authorization: token 45d9275e90aa403cb9d6c74fac254ca4" "http://127.0.0.1:8000/user/developer/api/sessions" | jq '.[0].notebook.path'
"work/Untitled.ipynb"`

[2018-03-08 21:21] dwhitena commented on #151
# Proposal for KubeFlow + Pachyderm Integration

## Motivation

### From the KubeFlow Perspective

KubeFlow is providing some great standards for the deployment and management of distributed ML/AI tooling on Kubernetes (distributed TensorFlow, TF serving, JupyterHub, etc.). However, as of now, KubeFlow does not have a built in solution for orchestrating ML/AI workflows that utilize these tools. Th

[2018-03-08 22:59] #292 closed

[2018-03-08 23:31] wbuchwalter commented on #340
This looks to be the same thing, and no answer, so closing for now.
@aichiludan if #318 doesn't fix your issue, let us know and we will reopen this one.

[2018-03-08 23:31] #340 closed

[2018-03-09 00:37] gogeof opened #397 "[ question ] when I follow the setup tutorial, I got cannot parse dnsName problem"
## label
/label question

## what I done
- 1. start a k8s cluster and install calico network plugin
- 2. follow the kubeflow setup tutorial to start kubeflow
[code]
## what I got:
[code]

## what's the problem
[code]

## what I expect
no any error message

## any helper is appreciate!

[2018-03-09 00:39] lluunn commented on #385
I don't understand the goal here.
We are able to serve model from GCS now right?
@jlewi

[2018-03-09 01:09] jlewi commented on #385
The question is how do you authenticate to GCP.

We'd like to use a service account. But we don't want to rely on the VM's service account because multiple different pods could be running on a VM all with access to the VM service account. So in general we want the VM service account to have minimal permissions.

So the model is that users will

- create a GCP service account
- they will then downl

[2018-03-09 01:22] ajayakumar-jayaraj opened #398 "service inception is up , but not able to use the inception_client"
i have deployed inception model component but i am not able to use the inception client, I have made the implementation on GKE 3 Node cluster with details below:

Name
default-pool
Size
3
Node version
1.8.7-gke.1 Change
Node image
Container-Optimized OS (cos) Change
Machine type
n1-standard-4 (4 vCPUs, 15 GB memory)
Total cores
12 vCPUs
Total memory
45.00 GB
Automatic node upgrades
Disabled
Automa

[2018-03-09 01:35] ajayakumar-jayaraj commented on #294
Any updates on it

[2018-03-09 02:13] ankushagarwal commented on #394
Looks like we don't have the correct permissions

[code]

[2018-03-09 02:37] pdmack commented on #397
Not exactly sure but looks like a kube DNS issue. Could look at the DNS logs for errors.

`for ctr in kubedns dnsmasq sidecar; do echo -e "\n$ctr"; kubectl logs --namespace=kube-system $(kubectl get pods --namespace=kube-system -l k8s-app=kube-dns -o name) -c $ctr; done`

[2018-03-09 03:03] pdmack commented on #398
Sorry, but are you actually using the [inception_client](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/example/inception_client.py)?

Someone else can correct me here but I think you need gRPC to communicate with the server. You won't be able to just curl it with HTTP 1.1

[2018-03-09 03:06] gogeof commented on #397
@pdmack thanks for response.
You're right, kube-dns sidecar failed to start.
[code]

[2018-03-09 06:42] bleachzk commented on #389
#193

[2018-03-09 13:55] jlewi commented on #398
@pdmack Is correct.

However, we do provide an http to gRPC proxy which should be running on port 8000. There are some instructions on using it [here](https://github.com/kubeflow/kubeflow/tree/master/components/k8s-model-server/http-proxy)

[2018-03-09 13:56] #389 closed, assigned to nobody

[2018-03-09 13:57] jlewi commented on #193
Duplicate of kubeflow/tf-operator#128

[2018-03-09 13:57] #193 closed

[2018-03-09 14:04] jlewi commented on #380
@pdmack I think we have to spawn the notebook first; I suspect we could use a similar command.

[2018-03-09 14:08] jlewi commented on #255
@danisla pointed out that doing #2 is fairly straightforward.

We just create a separate ingress using the same IP and hostname to serve the ACME challenge. This will use the same loadbalancer but create a different GCP backend service. IAP is enabled per backend service. So we simply don't enable IAP on this backend service.

[2018-03-09 14:10] jlewi commented on #255
Here's a ksonnet component for using kube-lego
https://github.com/kubeflow/reporting/blob/master/collector-app/components/kube_lego.libsonnet

We can probably start with that but we should upgrade to cert-manager.

[2018-03-09 15:09] justincormack commented on #218
We don't have immediate plans to ship Kubernetes in Docker for Linux desktop. The underlying pieces are from https://github.com/linuxkit/kubernetes but they require some assembly, and minikube is definitely easier to use for Linux use cases.

[2018-03-09 15:31] bmenn commented on #382
Looking at Argo briefly, it seems well suited for CI/CD but not quite for the type of ML workflows I am looking to run (most of them are quite dynamic), though Argo seems handy for quick prototyping of ML workflows.

I'll follow up with the Airflow community about integration with kubernetes. In the meantime, I'll just deploy Airflow as another service on the cluster.

Thanks for your suggestions.

[2018-03-09 17:36] jlewi commented on #303
TFServing Fixed by #387

[2018-03-09 17:36] #303 closed

[2018-03-09 17:39] jlewi opened #403 "ksonnet style guide"
We should start a ksonnet style guide to begin capturing best practices and conventions.

Some initial things to document

1. Use camelCase for parameters (#303)
1. Minimize logic in prototype files

A PR creating a markdown doc with the above would be a great starting point. So this would make a good first issue for anyone looking to contribute.

[2018-03-09 17:42] aronchick commented on #382
Thanks for the feedback! Are there any specific scenarios you can share
that detail why argo is not a fit? We'd love to get smarter about this!

On Fri, Mar 9, 2018, 7:31 AM Bryant Menn <notifications@github.com> wrote:

[2018-03-09 18:08] jlewi commented on #11
@plombardi89 I would love this! I think this gives us a very simple story that works anywhere.

[2018-03-09 18:16] ankushagarwal commented on #395
I thought autoformat_jsonnet.sh is an idempotent operation. Do we want to reformat modified files for performance reasons?

[2018-03-09 18:32] lluunn commented on #291
I am changing the cluster to kubeflow-ci, which has GPU pool.
https://github.com/kubeflow/testing/issues/18

[2018-03-09 18:34] ankushagarwal opened #404 "Replace two envoy containers with one in the envoy pod"
envoy now supports specifying paths on which we should use JWT validation. We can use this feature to do JWT validation on the non-healthcheck routes. This will allows us to replace the two envoy containers with a single one.

[2018-03-09 18:41] ankushagarwal opened #405 "Create a ksonnet component to deploy seldon-core models"
Just like the [tf-serving](https://github.com/kubeflow/kubeflow/tree/master/kubeflow/tf-serving) component, we should have a `seldon-core-serving` component which allows us to deploy/serve seldon core models

[2018-03-09 18:44] lluunn commented on #405
Isn't this one? https://github.com/kubeflow/kubeflow/tree/master/kubeflow/seldon

[2018-03-09 18:47] ankushagarwal commented on #405
Wasn't aware of that. Closing this.

[2018-03-09 18:47] #405 closed

[2018-03-09 22:43] #404 closed

[2018-03-09 23:57] aronchick commented on #55
Makes perfect sense - LMK how to help!

On Thu, Mar 8, 2018 at 2:45 AM Michael Hausenblas <notifications@github.com>
wrote:

[2018-03-10 00:19] ankushagarwal commented on #374
I tried using role bindings for ambassador, but it doesn't seem to work because by default ambassador tries to watch for services at the cluster level instead of the namespace level. When we use role binding, we can only give ambassador permissions within a single namespace and that fails.

So we might have to go with @jlewi 's proposal and create a separate clusterolebinding per deployment. eg: `

[2018-03-10 01:03] bhack commented on #403
https://github.com/google/jsonnet/issues/118

[2018-03-10 01:17] ankushagarwal commented on #374
Please take a look at https://github.com/kubeflow/kubeflow/pull/408

[2018-03-10 02:41] #60 closed

[2018-03-11 02:11] #309 closed

[2018-03-11 23:35] jlewi commented on #151
Thanks this is great.

A couple questions

1. Why give special treatment to TFJob? Why not allow Pachyderm to create and wait for any K8s resource? You could establish a convention of looking at a resource's conditions to determine when it is done.

2. What about the sidecar is specific to TFJob?

Would an init container be better than a side car? If you use a sidecar how does the main TF process

[2018-03-12 16:50] ankushagarwal commented on #394
This can be closed because https://github.com/kubeflow/kubeflow/pull/409 is merged

[2018-03-12 16:50] #394 closed

[2018-03-12 16:52] benhamner commented on #258
If it's helpful we could add JupyterHub to our Docker builds

[2018-03-12 17:05] jrabary opened #410 "Use local NFS server as PersitentVolume"
Hi all,

We are testing kubeflow on a local cluster with 2 nodes and an additional NAS in our network as NFS server to store data. To create the PersistentVolume we use the following configuration:
[code]

To use it with kubeflow we followed the user guide and use the disk like so:

`ks param set --env=default kubeflow-core disks bdd2-nfs`

but we are not able to spawn a new docker from jupyter hu

[2018-03-12 18:39] #374 closed

[2018-03-12 22:43] ernestmartinez opened #412 "Executing child process 'start-notebook.sh' failed: 'Permission denied'"
I am trying to get Jupyterhub working. I get a 500 server error from the spawner.

If I execute:
docker run  gcr.io/kubeflow/tensorflow-notebook-gpu
[FATAL tini (7)] Executing child process 'start-notebook.sh' failed: 'Permission denied'

[2018-03-12 23:42] dharmeshkakadia opened #414 "libcublas.so.9.0: cannot open shared object file: No such file or directory"
I am following the user guide (https://github.com/kubeflow/kubeflow/blob/master/user_guide.md) and got the following error. I am running k8s on azure with GPU instances. I am running master code. Is there an issue with the image?

---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
/opt/conda/lib/py

[2018-03-12 23:52] dharmeshkakadia commented on #414
May be related to this : https://github.com/tensorflow/tensorflow/issues/15604 but I dont really understand how the gcr.io/kubeflow-images-staging/tensorflow-notebook-gpu image is built.

[2018-03-12 23:59] wbuchwalter commented on #414
@dharmeshkakadia How did you create your kubernetes cluster on Azure? acs-engine or AKS?
did you set the `cloud` param to `azure` in ksonnet when deploying Kubeflow?

[2018-03-13 00:02] dharmeshkakadia commented on #414
acs-engine. I didn't find really antything related to azure so I had KUBECONFIG pointing to the cluster and deployed without using env. Is that a problem?

[2018-03-13 00:13] wbuchwalter commented on #414
You need to set `env` properly so that the operator mounts the NVIDIA driver for you into the pods (since Azure isn't yet using device plugin).
However the configuration provided for Azure is for AKS.
acs-engine driver's installation has been updated recently to make it easier so it uses different mount points (this will makes it's way to AKS soon).
You have two options:
1/ Either Create a new clu

[2018-03-13 00:30] dharmeshkakadia commented on #414
I tried the second approach but still see the same error. Here is what I did.
ks delete default -c kubeflow-core
vim vendor/kubeflow/core/tf-job.libsonnet
ks env add cloud
ks param set kubeflow-core cloud azure --env=cloud
KF_ENV=cloud
ks apply ${KF_ENV} -c kubeflow-core
ks apply default -c kubeflow-core

Did I miss anything?

[2018-03-13 00:36] dharmeshkakadia commented on #414
!ls /usr/local/nvidia/ says No such file or directory

[2018-03-13 00:37] dharmeshkakadia commented on #414
!ls /usr/local/ gives
bin  cuda  cuda-8.0  etc  games  include  lib  man  sbin  share  src

[2018-03-13 12:54] pdmack commented on #412
The release process is evolving so that image appears to be bad atm.
However,
`docker run gcr.io/kubeflow-images-staging/tensorflow-notebook-gpu` launches a notebook fine for me.
`[I 12:50:30.240 NotebookApp] The Jupyter Notebook is running at: ...`

Please give that one a try.

[2018-03-13 13:03] pdmack commented on #187
I'll throw another on the pile for giggles.

Features:
- root k8s heptagon logo (blue)
- heptagon divided as two brain "hemispheres"
- Ubuntu Light font
- carry forward the node circles and augment the letter ends with them

![final-cnn](https://user-images.githubusercontent.com/2380545/37343226-420b4c86-269d-11e8-8535-a8bae650687c.png)

[2018-03-13 13:16] plombardi89 commented on #11
@jlewi We are scheduling some engineering time to work on this during our upcoming two engineering cycle.

[2018-03-13 15:37] kkasravi opened #417 "normalize libsonnets so their "all(params)" is only called from kubeflow/core/all.libsonnet"
Per @jlewi
[code]

[2018-03-13 15:42] kkasravi commented on #417
see #418

[2018-03-13 16:40] ernestmartinez commented on #412
Thanks I'll give it a try.

[2018-03-13 23:51] ojarjur opened #419 "IPyWidgets not displaying when using a Python 2 kernel"
When trying to use ipywidgets in a notebook with a Python 2 kernel, the widget does not display.

For example, if I run the following code cell:

[code]

... then the following error message is output:

[code]

Digging in, I found the following error message in the Javascript console: `Timeout while trying to cross validate the widget frontend and backend versions.`

Digging in a little further, i

[2018-03-14 00:26] bmenn commented on #382
I'll try to put together a contrived example that can demonstrate the what I'm hoping for. It might be a week or so before I get to it though. I'm in the process of building out a new ML platform/pipeline and need something that works sooner rather than later. Really like the direction kubeflow is going, so I'll try to contribute where I can.

I think Argo technically can be made to work given the

[2018-03-14 00:38] aronchick commented on #382
No worries at all! Just love to hear how we can be better :)

On Tue, Mar 13, 2018 at 5:26 PM Bryant Menn <notifications@github.com>
wrote:

[2018-03-14 00:42] lluunn commented on #385
#416 fix it.

[2018-03-14 00:42] #385 closed

[2018-03-14 01:53] carmark commented on #211
@jlewi All of images under gcr.io/kubeflow were moved to hub.docker.com/r/kubeflow.

[2018-03-14 02:06] bhack commented on #382
See also https://github.com/kubeflow/kubeflow/issues/136

[2018-03-14 09:47] ogre0403 opened #421 "Can not launch TensorFlow Serving because AVX not available on VM"
Hi all,

I followed user guide try to [serve-a-model-using-tensorflow-serving](https://github.com/kubeflow/kubeflow/blob/master/user_guide.md#serve-a-model-using-tensorflow-serving),  but tf-serving pod can't be created.
I setup kubeflow in my own kubernetes cluster, not using GKE or minikube.
How can I fix this error ? Because there is no logs in Pod, I cannot show provide other useful informatio

[2018-03-14 13:37] pdmack commented on #421
Really not sure without more details, at least master and node versions and config. The only thing that I can think of that _might_ be an issue is if your kube/docker env wasn't (for some reason) allowing privileged execution for that particular pod to add the `model-server` user to uid/gid 1000.

https://github.com/kubeflow/kubeflow/blob/master/components/k8s-model-server/images/Dockerfile.cpu#L5

[2018-03-14 13:59] bmenn commented on #382
@bhack

I'm keeping on eye on that issue as well. I'll report back over there if I come across anything interesting regarding model management/tracking. Need to build something out for that as well.

[2018-03-14 15:46] ernestmartinez commented on #414
I'm having the same problem trying to run any jobs in a jupyter notebook. From the jupyter terminal I did a search and found the installed libraries are:
/usr/local/cuda-8.0/targets/x86_64-linux/lib/libcublas.so.8.0.88
/usr/local/cuda-8.0/targets/x86_64-linux/lib/libcublas.so.8.0
/usr/local/cuda-8.0/targets/x86_64-linux/lib/libcublas.so.8.0.61

[2018-03-14 15:53] ernestmartinez opened #422 "Cannot not run tensorboard from Jupyter notebooks"
I'm running on a MAAS bare metal deployment.

When I try to run tensorboard I get a dialog which states:
Jupyter tensorboard extension error
Check that tensorflow(-gpu)>=1.3 is installed.
Check that jupyter, tensorflow and jupyter_tensorboard have the same python version.
Check that jupyter_tensorboard is installed via pip list. If you want uninstall this extension, run jupyter nbextension disable

[2018-03-14 16:20] ankushagarwal commented on #43
We should be unblocked on this since https://github.com/ksonnet/ksonnet/issues/222 has closed

[2018-03-14 16:21] ernestmartinez opened #423 "multiple Matplotlib libraries"
While trying basic plots in jupyter I get
AttributeError: module 'matplotlib.cbook' has no attribute 'popall

google search suggested multiple installed matplotlib libraries to be culprit.

jovyan@jupyter-admin:~$ conda list matplotlib
# packages in environment at /opt/conda:
#
matplotlib                2.1.2                     <pip>
matplotlib                2.0.2                    py36_2    co

[2018-03-14 17:11] ernestmartinez opened #424 "Unable to mount volumes for pod "jupyter-..."
I'm running a MAAS bare metal deployment . I am running canonicals kubernetes distribution deployed using JUJU. I have a ceph cluster deployed for PV.
When trying to start a jupyter notebook, a PV volume must be explicitly defined and existing otherwise, I get this error:
Unable to mount volumes for pod "jupyter-ernie_kf-tutorial(d67e51db-27a9-11e8-b9ac-001c23c7771d)": timeout expired waiting for

[2018-03-14 17:15] aronchick commented on #421
Recommendation from the K8s team: Can you set 'terminationMessagePolicy' to  'FallbackToLogsOnError'

Then the tail of the log will show up in the API.
https://kubernetes.io/docs/tasks/debug-application-cluster/determine-reason-pod-failure/

/cc @jlewi @texasmichelle  should we have this be our default for now? Or is there a way to highlight this in the debugging process?

[2018-03-14 17:32] ernestmartinez opened #425 "jovyan user cannot sudo in terminal"
If I open a terminal session from jupyter and I try to sudo I'm prompted for a password.

[2018-03-14 18:07] ojarjur commented on #419
It looks like this was user error on my part. I had installed a library in the Python 2 environment that explicitly required ipywidgets>=7.0*

We may want to consider upgrading the version of ipywidgets we install by default, but this is not a bug in Kubeflow.

[2018-03-14 18:07] #419 closed

[2018-03-14 18:28] pdmack commented on #421
@ogre0403 hmmm vagrant...
This a VM with a KVM provider? If so, perhaps it is effectively the same as kubernetes/minikube/issues/2377.

[2018-03-14 21:08] pdmack commented on #425
The `jovyan` user does not have a password set with sudo access by default in order to avoid the case where a user starts a container from the image on a public host. However, there is an environment variable named GRANT_SUDO that can be passed to the container to do just that.

If you want to run the image from docker and give `joyvan` sudo then:
`docker run -it --rm -p 8888:8888 -e GRANT_SUDO=ye

[2018-03-14 21:16] ernestmartinez commented on #425
Thanks but I'm not running jupyter from the CLI, it is started by Jupyterhub from a kubeflow deployment.

[2018-03-14 21:25] pdmack commented on #425
I'm sure it is, which is exactly my point. The Kubeflow image does not have that setting enabled.

[2018-03-14 21:28] ernestmartinez commented on #425
the only reason I was trying to sudo was to address some permission errors I was getting. So my real problem is really sudo. I'll just wait for responses on my other issues.

Thanks

[2018-03-14 21:30] #425 closed

[2018-03-14 22:14] yongwen commented on #414
i think the latest docker image gcr.io/kubeflow-images-staging/tensorflow-notebook-gpu is not build correctly. From the components/tensorflow-notebook-image/Makefile, it specify the cuda version 8.0, as in "nvidia/cuda:8.0-cudnn6-devel-ubuntu16.04" and using the nightly TF build.  Since the nightly TF build had been moved to using cuda:9.0, thus the error.

I could send in a PR to fix the build is

[2018-03-14 22:26] ernestmartinez commented on #414
Thanks I'll try it tomorrow.

[2018-03-14 23:12] dharmeshkakadia commented on #414
I have more details, after I re-provisioned the cluster, I am not seeing the GPU on the node
....
Capacity:
alpha.kubernetes.io/nvidia-gpu:  0
...

I will appreciate if others have a pointer for debugging this.

[2018-03-14 23:33] jlewi commented on #424
Is this the same issue as #336 i.e. no default storage class?

Proposed fix #365
/cc @inc0

[2018-03-14 23:33] jlewi commented on #423
/cc @ojarjur

[2018-03-14 23:35] jlewi commented on #422
We should probably remove that link. This is not the recommended way to run tensorboard. I suggest running tensorboard separately as a K8s deployment.

There is an open issue #297 to add templates to do this.

We should remove the link in JupyterHub to run tensorboard.

[2018-03-14 23:37] jlewi opened #428 "Remove tensorboard link from Jupyter notebooks (hub?)"
See #422

There is an icon in Jupyter notebooks to launch tensorboard. We should remove that as using Jupyter to launch TensorBoard is no longer the recommended approach.

I think the initial idea was to use Jupyter/JupyterHub as a way to proxy connections to tensorboard. But we have a better reverse proxy solution with TensorBoard.

The plan moving forward is to add ksonnet components to make it

[2018-03-14 23:38] jlewi commented on #428
I think this is where we install tensorboard
https://github.com/kubeflow/kubeflow/blob/master/components/tensorflow-notebook-image/Dockerfile#L186

[2018-03-14 23:42] jlewi commented on #421
My debugging suggestion is to modify the K8s deployment for the model and set the command to
["tail", "-f", "/dev/null"]

You can then "kubectl exec -it" into the pod. This ensures your pod is running with the same exact settings (i.e. userid/groupid) as when you try to deploy.

You can now run the command normally run to deploy the model and you can see what error you are getting.

[2018-03-14 23:57] jlewi commented on #412
For CPU you can use:
gcr.io/kubeflow-images-staging/tensorflow-notebook-cpu

[2018-03-14 23:58] inc0 commented on #424
@ernestmartinez so check your storage class and see if it's healthy (it has to be default storage class. Check if you can manually create pv and connect it. When you create pvc (jupyter hub does that), it will also create PV. You shouldn't have to do anything.

[2018-03-15 05:13] dharmeshkakadia commented on #414
Update:
Re-provisioning using 0.14 acs-engine makes the node GPUs recognized, but kubeflow is failing with
"0/2 nodes are available: 1 PodToleratesNodeTaints, 2 Insufficient nvidia.com/gpu"

Note that node describe output has the GPUs now:
....
Capacity:
 alpha.kubernetes.io/nvidia-gpu:  4
....

[2018-03-15 05:42] ogre0403 commented on #421
Thanks for your useful  suggestion.

After I read tf-serving [Dockerfile](https://github.com/kubeflow/kubeflow/blob/79a4c3736efb4d3713bbc957eed05c4db3ee8ecd/components/k8s-model-server/images/Dockerfile.cpu#L48) I noted tf-serving install ` tensorflow-model-server`.
I also read the [tf-serving install guide](https://www.tensorflow.org/serving/setup), there is one note:
[code]
I found my vm does'nt

[2018-03-15 06:13] dharmeshkakadia commented on #414
Update:
"2 Insufficient nvidia.com/gpu" was because I was specifying "{"nvidia.com/gpu": "1"}" instead of "{"alpha.kubernetes.io/nvidia-gpu": "1"}"  while following the example, since the acs-engine is not using device plugin.

Specifying the correct resource limit, I am back the error at the start of this issue "ImportError: libcuda.so.1: cannot open shared object file: No such file or directory"

[2018-03-15 07:34] estelleaf commented on #414
Hi
Here after is how I fixed it:

On my computer I had :

    cudnn5.1,
    cuda8.0

When importing tensorflow, I had the same error ImportError:

and even

To overcome the second issue I installed `tensorflow 1.4` instead of 1.6
 and for the first I did
$ export PATH="$PATH:/usr/local/cuda-8.0/bin"
$ export LD_LIBRARY_PATH="/usr/local/cuda-8.0/lib64"

But then I had another issue :

This was beca

[2018-03-15 11:12] patricia92fa opened #430 "JupyterHub authenticates login but doesn't redirect to user home"
Steps to reproduce issue:
1. Follow the Kubeflow Setup tutorial and apply default configuration.
2. Expose tf-hub-lb service as NodePort: `ks param set kubeflow-core jupyterHubServiceType NodePort`
3. Jupyter Hub login screen prompts but after authentication it just reloads the blank login screen.

### Jupyter Hub instance Pod logs:
[code]

### Jupyter Hub services:
[code]

I figured the  ```Confi

[2018-03-15 12:05] pdmack commented on #430
Did you mean `ks param set kubeflow-core jupyterHubServiceType NodePort`? The command you gave should have been caught as an error by ksonnet.

`ERROR Could not find component identifier 'tf-hub-lb'`

Perhaps check your version of ks (mine is v0.8.0) and regenerate the app per the instructions. At any rate, setting the param on kubeflow-core and applying that component results in a working NodePor

[2018-03-15 12:08] plombardi89 commented on #11
We've begun work on this in https://github.com/datawire/ambassador-auth-basicauth

[2018-03-15 12:10] patricia92fa commented on #430
Absolutely, my bad. I'll edit my post with the correct command.

My ksonnet version is 0.9.1, I will perform a downgrade to 0.8.0 and update the issue. Thanks!

[2018-03-15 13:14] ernestmartinez commented on #424
I did not have a storage class so I create one as follows:
apiVersion: storage.k8s.io/v1beta1
kind: StorageClass
metadata:
   name: slow
provisioner: kubernetes.io/rbd
parameters:
    monitors: 192.168.2.14:6789,192.168.2.19:6789,192.168.2.230:6789
    adminId: admin
    adminSecretName: ceph-secret
    adminSecretNamespace: kf-tutorial
    pool: rbd
    userId: admin
    userSecretName: ceph-secr

[2018-03-15 13:26] ernestmartinez commented on #424
I was able to fix my problem creating a PVC, the error was due to whitespace after the storage line. But it still did not create a PV.

[2018-03-15 14:44] ernestmartinez commented on #424
kubectl describe pvc -n kf-tutorial
Name:          claim-admin
Namespace:     kf-tutorial
StorageClass:
Status:        Pending
Volume:
Labels:        app=jupyterhub
               heritage=jupyterhub
               hub.jupyter.org/username=admin
Annotations:   <none>
Finalizers:    []
Capacity:
Access Modes:
Events:
  Type    Reason         Age               From                         Message

[2018-03-15 14:49] crmne commented on #414
If you don't mind using TensorFlow 1.4, you can simply run this in a jupyter notebook and restart the  python kernel:

    !pip install --user "tensorflow-gpu>=1.4,<1.5"

[2018-03-15 17:04] pdmack commented on #430
Is it possible your browser is blocking cookies? JH needs to set session cookies, and I can replicate what you're describing by enabling that security measure. The dummy login just reloads the login page with empty fields.

[2018-03-15 17:05] wbuchwalter commented on #297
Hey @abkosar, any progress to share on this?

[2018-03-15 17:05] patricia92fa commented on #430
I am now using ksonnet version 0.8.0 but the problem persists. I have noticed that, after a successful login, Jupyter Hub doesn't redirect to the user's home:

[code]

Instead, it reloads the login screen.
It seems the problem lies in the CHP configuration, I'll try to troubleshoot some more and post results. Has anyone experienced similar issues?

[2018-03-15 17:43] ankushagarwal opened #432 "Proposal: We should have basic tests for every ksonnet prototype"
It's hard to review large PRs which involve jsonnet/libsonnet refactorings. Since jsonnet/libsonnet files are hard to write, it is easy to make small mistakes which can cause entire prototypes to be broken.

It will be good if we can have simple sanity tests for our ksonnet prototypes.

Our current presubmit tests only few ksonnet prototypes and they do an end-to-end testing.

It will good to have

[2018-03-15 17:44] ankushagarwal commented on #432
These tests should be simple enough that a user should be able to run them locally without relying on a k8s cluster.

[2018-03-15 17:58] ernestmartinez opened #433 "JupyterHub terminates with 500 Internal Server error"
I'm running a MAAS bare metal deployment. I have K8s deployed with Ceph as my Persistent storage.

I've been dealing with Jupyterhub issues where PV's are not created by the PVC. As of yesterday I was able to manually create a PV and be able to spawn a Jupyter session successfully.

As of this morning it no longer works. It successfully mounts the rbd volume and then dies shortly thereafter. I've

[2018-03-15 18:03] ernestmartinez commented on #428
Is there any procedure I can use in the interim to run Tensorboard?

[2018-03-15 18:22] patricia92fa commented on #430
Checked Chrome's privacy settings and I already allow cookies (also third-party). However, the proxy works correcly on Firefox, so it may have something to do with its configuration. On a side note, I also deployed Jupyter Hub via Helm following the '[Zero to JupyterHub](http://zero-to-jupyterhub.readthedocs.io/en/latest/)' tutorial some weeks ago and experienced no problems accessing the UI on bo

[2018-03-15 18:36] ankushagarwal commented on #432
`ks validate` communicates the generated configs with the k8s server to validate configs. It requires a valid k8s cluster pointed to by the ks environment.

My proposal is just to have 'compilation' tests - test if we are able to compile the *sonnet files successfully. A collaborator should be able to run them locally - the only dependency required should be `ks`

[2018-03-15 18:52] pdmack commented on #430
BTW, going back to ks 0.9.1 should be fine. Works for me.

[2018-03-15 19:35] abkosar commented on #297
Hey @wbuchwalter, like we talked on Slack, still working on the issue, thanks for asking and help!

[2018-03-15 19:38] pdmack commented on #433
Perhaps a problem with the Nvidia LD search paths on your gpu box? What does `ldconfig -p | grep nvidia-ml` say?

[2018-03-15 19:50] ernestmartinez commented on #433
It was working fine yesterday. Nothing really changed.
ldconfig -p | grep nvidia-ml
	libnvidia-ml.so.1 (libc6,x86-64) => /usr/lib/nvidia-390/libnvidia-ml.so.1
	libnvidia-ml.so.1 (libc6) => /usr/lib32/nvidia-390/libnvidia-ml.so.1
	libnvidia-ml.so (libc6,x86-64) => /usr/lib/nvidia-390/libnvidia-ml.so
	libnvidia-ml.so (libc6) => /usr/lib32/nvidia-390/libnvidia-ml.so

[2018-03-15 20:07] ankushagarwal commented on #282
This can be run as part of the presubmit workflow

[2018-03-15 21:24] inc0 commented on #424
Well pvc declaration you've shown should definetly spawn PV in addition to PVC. There is something wrong with your storage class. I don't have ceph installation handy besides rook, so I can't really test it locally, but it should work in a way that PVC would create PV automatically.

[2018-03-15 21:29] wbuchwalter opened #435 "[Jupyter/Azure] Drivers are not mounted when spawning a JupyterHub with GPU"
When a user is running on Azure, and is asking the Jupyter spawner for a new JupyterHub with a GPU, the drivers are not mounted into the container, making the GPU unusable.
In the `tf-operator` we fixed this by having a `ConfigMap` with the necessary mount points for each different cloud.

This is the cause of https://github.com/kubeflow/kubeflow/issues/414 (at least for the original submitter).

[2018-03-15 23:39] lluunn opened #436 "Presubmit shows succeeded, but some test actually failed."
Example: #426
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/426/kubeflow-presubmit/644/

[2018-03-16 00:03] lluunn commented on #436
@jlewi @ankushagarwal

[2018-03-16 07:11] #352 closed

[2018-03-16 13:09] jlewi commented on #436
@BenTheElder @krzyzacy Any ideas? [gubernator](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/426/kubeflow-presubmit/644/) shows the test as failed but the kubeflow-presubmit status check is reported as green on #426.

[2018-03-16 13:55] kkasravi commented on #432
@ankushagarwal What calls kubeflow/core/tests/util_test.jsonnet? I added one for jupyterhub - jupyterhub_test.jsonnet but i had to build jsonnet in order to run it. Not sure if I should check this in. Having jsonnet available would allow much better unit tests ...

[2018-03-16 15:33] ernestmartinez commented on #433
This is a consistent failure. I'm not sure what has changed upstream, but the attached log is showing:

jupyterhub-sing[75273] trap invalid opcode ip:7f1493653040

near the bottom. It successfully mounts the Ceph PV I created and then crashes.

[syslog.txt](https://github.com/kubeflow/kubeflow/files/1819808/syslog.txt)

[2018-03-16 16:10] BenTheElder commented on #436
Only Gubernator and testgrid read those metadata files. I'm going with your pod exited status 0 so Prow couldn't tell anything failed.

[2018-03-16 16:31] ankushagarwal commented on #432
Right now it is manually run locally by running `jsonnet eval <test_file_name>`. We plan to run these as part of presubmit tests : https://github.com/kubeflow/kubeflow/issues/254

[2018-03-16 16:46] #417 closed

[2018-03-16 17:13] kkasravi commented on #432
OK - should I add a jupyterhub_test.libsonnet here that you could review? An option would be to have these for each library which I could do... Let me know your thoughts

[2018-03-16 18:13] ankushagarwal commented on #432
@kkasravi Yes, that would be great!

[2018-03-16 18:32] lluunn commented on #436
https://github.com/kubeflow/tf-operator/blob/master/py/test_runner.py#L232

Exception was handled here

[2018-03-16 19:30] kkasravi commented on #432
ok thanks @ankushagarwal, i'll get the jupyterhub_test.libsonnet in today - you can give me some feedback. I know minimally if should validate the parameters to make sure they are ending up where they were intended. I'm not all that familiar with the presubmit tests. Do they execute in a container? Should I add jsonnet to the container? Feel free to point me to test env docs or notes.

[2018-03-16 19:58] ankushagarwal commented on #432
@kkasravi I am working on adding the tests to our presubmit environments. I'll cc you on the PRs.

[2018-03-16 21:56] bhack commented on #32
/cc @kubernetes/sig-aws-misc

[2018-03-17 01:08] jlewi commented on #428
@ernestmartinez My recommendation is to spawn TensorBoard manually as a K8s deployment per #297
You can use this as an example
https://github.com/kubeflow/examples/pull/1/files#diff-b1c94ace60732530b2be5b0a67be2d40

[2018-03-17 12:05] ogre0403 commented on #421
@jlewi I also try to build  `tensorflow-model-server` from source without any optimization flag, then the output binary is also work for me . I think  `tensorflow-model-server` binary in TFServing image require cpu support AVX.

We can build another TFServing image use  non-AVX supported binary.
Because there is one variable for serving image (`modelServerImage`) already, user can use this variabl

[2018-03-17 12:51] bhack commented on #264
I think this will involve also experiments data managment in  https://github.com/kubeflow/experimental-kvc and model managment in https://github.com/kubeflow/kubeflow/issues/136 /cc @jlewi

[2018-03-17 14:51] bhack commented on #421
Check the [Available binaries section](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/g3doc/setup.md#available-binaries)

[2018-03-17 17:22] kkasravi commented on #428
see #446

[2018-03-17 17:22] kkasravi commented on #428
/test

[2018-03-17 17:42] ernestmartinez commented on #433
I also posted https://github.com/jupyterhub/jupyterhub/issues/1727 assuming it's a Jupyterhub issue.

[2018-03-17 21:38] jlewi commented on #375
We should pin the version of TF in our notebook images.
We should also consider including the TF version in the image name so that we could potentially build images for different versions of TF.

[2018-03-17 21:53] jlewi opened #447 "Presubmit failure; cannot import k.libsonnet"
Saw the following presubmit failure in #358

[code]

[2018-03-17 21:54] aronchick commented on #375
Pinning is great, but i wonder how we make this an easily option - we've
seen lots of issues with various versions of frameworks not supporting
particular models, and i want people to be able to swap readily.

On Sat, Mar 17, 2018 at 2:38 PM Jeremy Lewi <notifications@github.com>
wrote:

[2018-03-17 21:56] jlewi commented on #447
Looks like we upgraded ks in #434. I suspect #358 just needs to be sync'd to pull in the latest changes to the test.

/assign inc0

[2018-03-17 22:12] jlewi opened #448 "Guide for writing react apps that work with ambassador"
We should capture in our developer guide instructions on how to write react apps that will work correctly when proxied with Ambassador.

For relevant PRs with the TFJobs dashboard see
kubeflow/tf-operator#441
kubeflow/kubeflow#381

[2018-03-17 22:43] #255 closed

[2018-03-17 22:45] jlewi commented on #436
@lluunn We check that there are no test failures here

https://github.com/kubeflow/testing/blob/ce2898e60a33c08ee79b9dfb61ca45db920f8370/py/kubeflow/testing/run_e2e_workflow.py#L274And we use that to 1 set the result in gubernator to failed and also set the exit status to non-zero.Do you know what that isn't working?

The prow job is running [run_e2e_workflow.sh](https://github.com/kubeflow/testin

[2018-03-17 22:49] jlewi commented on #375
Agree. For notebook images we can build different notebook images for different TF versions.

Thanks to @ojarjur's changes to the Dockerfile, its already parameterized by the TF version. And thanks to work by @pdmack we can have a drop down box in the Jupyter UI from which users can select the appropriate image to use. So we could have images for different TF versions.

[2018-03-18 17:26] ernestmartinez commented on #433
I used the jupyter/tensorflow-notebook image and everything worked fine.

[2018-03-18 19:07] yupbank opened #449 "Tracking mxnet-serving following works"
Follow up of this https://github.com/kubeflow/kubeflow/pull/342

To Do
  - [ ] ksonnet template
  - [ ] E2E tests
  - [ ] Documentation explaining how to use it
  - [ ] Integrating mxnet containers into our build/release process

[2018-03-18 22:45] aronchick opened #451 "[Feature] At the end of a training run, create a service endpoint for the model"
P0: a K8s service endpoint
P1: the creation of that service endpoint has the option to create an external LB, with a resolvable DNS endpoint

[2018-03-18 22:46] aronchick opened #452 "[Proposal] A standard form for researchers to publish models that can be used in KF"
E.g. a researcher finishes a paper, and wants to make their data and model available for reproducibility. Give them a way to publish those artifacts and make it O(one command) to repro it in a standard install of KF.

[2018-03-19 00:16] jlewi commented on #451
Can you clarify what you are requesting here? If you want to train a model and deploy it, why wouldn't you just create an Argo workflow to do that?

Should the problem of continuous training and deployment be handled by systems like TFX?

[2018-03-19 00:17] lluunn commented on #452
relevant: https://worksheets.codalab.org/

[2018-03-19 00:29] jlewi commented on #430
What is the CHP configuration?

[2018-03-19 00:45] jlewi commented on #421
Is non-AVX something we should support?

How common is it to not have AVX these days? It seems like AVX started shipping in 2013.
https://en.wikipedia.org/wiki/Advanced_Vector_Extensions

[2018-03-19 00:54] aronchick commented on #421
I think the problem is that the hypervisor may not support AVX - I'd be
totally ok with just a nice error message (for now).

On Sun, Mar 18, 2018 at 5:45 PM Jeremy Lewi <notifications@github.com>
wrote:

[2018-03-19 01:00] jlewi commented on #264
Any ideas how we can begin to make progress on this issue?

How should we define an experiment?

Suppose we had an agent in the cluster that would log the spec & status of TFJobs and (possibly other resources) to a DB. So this would give us a record of

- The Docker image used
- The command line arguments used

Would this provide rudimentary experiment tracking?

[2018-03-19 01:08] jlewi commented on #55
@mhausenblas The spartakus collector defines an [interface](https://github.com/kubernetes-incubator/spartakus/blob/master/pkg/database/database.go) that abstracts away the database. So if someone wanted to support a DB other than BigQuery it should be pretty straightforward.

[2018-03-19 01:11] jlewi commented on #55
Per the discussion in this thread, we are now collecting metrics opt-in. This is described in our instructions
https://github.com/kubeflow/kubeflow#steps

So I'm closing this issue.

@mhausenblas  thanks for chipping in on spartakus that will be very useful.

[2018-03-19 01:11] #55 closed

[2018-03-19 01:12] jlewi commented on #215
@willb Any update? Do you think we could cut an initial release this week with whatever's at head?

[2018-03-19 01:26] jlewi commented on #211
@carmark Thank you.

Can you explain the Docker Hub setup? Is Kubeflow a DockerHub organization? Who are the owners?

How can we authenticate to DockerHub and push these images as part of our release process?

[2018-03-19 01:37] bhack commented on #264
Command line or configmaps? I think we need to add metrics of the experiments and resulting model. Is the datacut defined in configmaps?

[2018-03-19 02:20] seekyiyi opened #453 "[ERROR] Can not ks apply default -c kubeflow-core with ks 0.9.5"
I am try to Deploy Kubeflow on my kubernetes cluster.

[code]
**But have environment problem**

[code]
**Define :**
$ ks env add nocloud
$ KF_ENV=nocloud

Run

``ks apply ${KF_ENV} -c kubeflow-core``

[2018-03-19 06:36] mhausenblas commented on #215
Let me know where I can be of assistance …

[2018-03-19 12:39] jlewi commented on #291
@lluunn Any update on the E2E test?

[2018-03-19 12:49] jlewi commented on #453
Which version of ksonnet are you using?

[2018-03-19 13:17] wbuchwalter commented on #264
There are 3 intesting components in an experiment I think:
1. State of dataset when the experiment was launched
2. Details of the model used
3. Resulting model

`1` is tricky and probably out of scope for now?
For `2` I think what @jlewi mentionned is enough.
For `3` can we figure out a solution that would work with a wide variety of storage options?

There is also https://github.com/tensorflow/te

[2018-03-19 13:43] ernestmartinez commented on #433
My apologies for the divergent streams of thought while I have been troubleshooting this issue. I have mostly resolved my issues with default storage class and Jupyterhub now spins up a PVC which successfully mounts a PV.

The 500 server error is being caused by the images gcr.io/kubeflow-images-staging/tensorflow-notebook-cpu and gcr.io/kubeflow-images-staging/tensorflow-notebook-gpu.

I thought

[2018-03-19 13:48] bhack commented on #264
I think 1 needs to be partially handled in https://github.com/kubeflow/experimental-kvc

[2018-03-19 14:44] wbuchwalter opened #454 "[Azure] Add E2E tests for Azure"

[2018-03-19 14:44] wbuchwalter opened #455 "[Azure] Add Ksonnet unit tests for Azure"

[2018-03-19 16:20] ernestmartinez commented on #433
I'm going to close this since I've confirmed that the images noted do not work properly. I am working now with an older notebook image

[2018-03-19 16:20] #433 closed

[2018-03-19 17:31] lluunn commented on #291
WIP #442

[2018-03-19 18:42] lluunn commented on #436
run_e2e_workflow determines the failure by the status of argo workflow. https://github.com/kubeflow/testing/blob/ce2898e60a33c08ee79b9dfb61ca45db920f8370/py/kubeflow/testing/run_e2e_workflow.py#L155

However, when some test fails, the workflow exits normally (after upload junit).

[2018-03-19 19:16] cwbeitel commented on #289
Throwing another idea into the mix - we might consider circumventing the need to build containers at all by staging a user's workspace and conda env to NFS where they can be accessible by training jobs (to which the same NFS volume will have been mounted). With that approach on startup the train wrapper would activate the same conda environment the user was using for development on JupyterHub then

[2018-03-19 19:24] #355 closed

[2018-03-19 20:00] jlewi commented on #264
I don't understand the connection between experimental-kvc and 1.  Suppose one is reading/writing data to/from GCS/S3/BigQuery/SQL. Why would experimental-kvc enter the picture?

@wbuchwalter For #3. Isn't the model just a URI?

[2018-03-19 20:13] bhack commented on #264
Suppose that you want to reproduce the experiment. You need to find a way to connect experiment with data provisioning. I.e. do you need prepopulation?
Often data provisioning, ETL/Augmentation, Network Trasfer could become a bottleneck for feeding GPU cycles. So I think it is important to track how to provision the data in a modality required to the experiment.

[2018-03-19 20:22] hyperbolic2346 opened #458 "tf-cnn fails to create"
I'm not sure if this is a kubeflow issue or a ksonnet one, but when I try to follow the directions on tf-cnn from [here](https://github.com/kubeflow/kubeflow/blob/5be0cb57513b6a09fd01f12df5b0c28ff0e94024/user_guide.md#run-the-tfcnn-example) I get the following error:

[code]

[code]

[2018-03-19 21:03] dwhitena commented on #151
Thanks for the feedback @jlewi! Regarding your questions:

(1) Yes, I think this would be a possibility. The TFJob is a specific use case, but I think it would be good to both have creating any resource as a goal, while also specifically targeting the TFJob (because we have a good use case). I wouldn't want to stall this unnecessarily just for the sake of generality, but the "KubeFlow worker image

[2018-03-19 22:58] jlewi commented on #414
There's an open issue to pin the version of TF in our notebook images and not use TF nightly #375

[2018-03-19 23:27] bhack commented on #451
Is there a plan about TFX public release? Cause we already mentioned it in another ticket

[2018-03-20 00:31] lluunn commented on #261
I tried to reproduce:

In my own cluster, create new ksonnet app (ks init) and deploy the kubeflow-core.
After clicking the "Spawn", it took a long time (keep spinning for ~5min).
Then it worked, didn't see "upstream request timeout".

Is this fixed? Is the 5min wait expected?

[2018-03-20 00:44] #447 closed

[2018-03-20 02:29] jlewi opened #460 "Presubmits should include lint checking and unittesting"
We are currently not running lint or unittests as part of our presubmit/E2E workflows.

There's an issue kubeflow/testing#11 to create a standard workflow for running the basic tests.

[2018-03-20 02:59] jlewi commented on #453
I was not able to reproduce this using ksonnet 0.8.

Can you please run

[code]

[2018-03-20 03:03] kairen commented on #453
@seekyiyi I have the same problem using v0.9.1(or dev build) version of ksonnet, but I use v0.8.0 can be solved.

[2018-03-20 03:05] jlewi commented on #458
I see the problem; #444 add the tp argument to the tfJob in tfJob.libsonnet and this broke the tf-cnn component.

[2018-03-20 03:14] jlewi opened #462 "E2E test for tf-job-simple prototype"
See #458.

The TFCnn prototype was broken by a change to our templates.

We should add some ksonnet tests for the TFCnn prototype that would have caught this.

[2018-03-20 03:21] jlewi commented on #289
@cwbeitel Can you summarize the learnings from this thread?

How are you building containers?
What are the limitations?

[2018-03-20 03:46] cwbeitel commented on #262
Currently I see this error with gcr.io/kubeflow/tensorflow-notebook-cpu but not with gcr.io/kubeflow-images-staging/tensorflow-notebook-cpu (JupyterLab starts fine with the latter).

[2018-03-20 03:48] jlewi commented on #262
That's correct. The images in gcr.io/kubeflow are outdated. You should use the images in gcr.io/kubeflow-images-staging.

[2018-03-20 07:57] ScorpioCPH commented on #187
How about this?
![webwxgetmsgimg 3](https://user-images.githubusercontent.com/5319646/37641015-10cb00f6-2c53-11e8-9195-65f2dbc60955.jpg)

![webwxgetmsgimg 4](https://user-images.githubusercontent.com/5319646/37641037-2398b4d0-2c53-11e8-9ea9-906fe8c57fbc.jpg)

[2018-03-20 08:21] gaocegege commented on #187
@ScorpioCPH It is awesome! Could you please explain the meaning of the logo for us?

[2018-03-20 08:59] chrisheecho commented on #187
That's awesome looking!! Does it represent different shapes (libraries and
components) come together to make up the whole?!

On Tue, 20 Mar 2018, 8:21 am Ce Gao, <notifications@github.com> wrote:

[2018-03-20 09:02] ScorpioCPH commented on #187
It splits kubernetes logo with "K" and "F".

[2018-03-20 09:04] ScorpioCPH commented on #187
@chrisheecho Yes, i think your explanation is good!

[2018-03-20 11:14] pdmack commented on #410
The current NFS provisioner assumes that the persistent disk is created in GCE with `gcloud compute disks create ...`, thus that error if you are not deploying in that environment with the associated persistent storage. I'm investigating some changes to make it more general, as in your case (i.e., NFS host and path params).

[2018-03-20 11:35] ernestmartinez commented on #428
Excuse my ignorance, but I'm not quite sure how to use the above link. I'm assuming it's a ks manifest, but I'm not quite sure if I should be installing a pkg, or applying it directly.

Directions would be much appreciated.

[2018-03-20 12:54] pdmack commented on #453
I _cannot_ reproduce this with:
[code]

[2018-03-20 13:41] jlewi commented on #261
The 5 minute timeout is probably do to the image pull timeout.

How were you connecting to the cluster?

I've observed this upstream request timeout when using IAP on GKE. So one possibility is that its a timeout in the GCE loadbalancer, or envoy. If we observe it when using IAP but not when using kubectl port-forward to connect directly to JupyterHub that would indicate the problem is upstream of

[2018-03-20 13:49] jlewi commented on #436
@lluunn prow_artifacts.finalize_job checks the junit xml files to see if there are any errors and if there are marks the prow job as failed. It looks like that function should return success so that we can turn it into an exit code.
https://github.com/kubeflow/testing/blob/master/py/kubeflow/testing/prow_artifacts.py#L213

[2018-03-20 13:51] #343 closed

[2018-03-20 13:55] jlewi commented on #365
@inc0 Any chance you can pick this up?

[2018-03-20 14:53] willb commented on #215
@jlewi I think so!  I burned some time trying to set up a local sandbox environment but am going to bail on that for now.  I'll ping you if I need help.

[2018-03-20 15:19] seekyiyi commented on #453
Former

[code]
Thanks, @kairen
I try to use  v0.8.0 was solved.

[2018-03-20 17:11] #43 closed

[2018-03-20 17:13] jlewi commented on #116
I think it might make sense to try to refactor our ksonnet component for TFJob to make it easier for people to override the parts they care about; e.g. the specifics for each replica type.

With v1alpha2 the replicas will be a map and not a list. So this should go a long way to making it easier for people to override parameters.

We can also rely on [late binding](http://jsonnet.org/language/desig

[2018-03-20 17:14] jlewi commented on #116
Leaving this open for now but I think it will largely be solved by the v1alpha2 API for TFJob.

[2018-03-20 17:15] jlewi commented on #17
Duplicate of #297

[2018-03-20 17:15] #17 closed

[2018-03-20 17:16] inc0 commented on #365
Yes, I'm on it, was meaning to do it today.

[2018-03-20 17:27] jlewi commented on #297
@abkosar Any update on this?

We have a .libsonnet and .jsonnet file checked in here:
https://github.com/kubeflow/examples/tree/master/agents/app/components

So  we just need to move the .libsonnet file to
kubeflow/kubeflow/core

And the jsonnet file to
kubeflow/kubeflow/core/prototypes
and refactor it a bit to make it a prototype

Any chance we could get a PR done this week?

[2018-03-20 18:36] jlewi opened #464 "[Discussion] ISTIO and TFServing"
We'd like to integrate ISTIO with TFServing to enforce things such as

- Auth
- Quota policies.

[2018-03-20 18:38] bhack opened #465 "Dev tools"
What impact could have [Skaffold](https://github.com/GoogleCloudPlatform/skaffold) in the organization of the dev/production loop here or for users examples?

/cc @jlewi @r2d4
Ref. https://github.com/kubeflow/tf-operator/issues/136

Edit: I've edited the title to talk more in general about dev tools: https://github.com/kubeflow/tf-operator/issues/136#issuecomment-388038934 /cc @squillace

[2018-03-20 18:42] jlewi commented on #410
Related issue is #34 (UI element to specify volume claims).

@pdmack  Do you have a suggestion about how to combine these issues into a single feature request for our 0.2.0 release?

[2018-03-20 18:44] jlewi commented on #34
@foxish I'm not sure I understand the distinction you are drawing between resources and PVCs? In this case a PVC seems like a resource in the same regard as CPU/RAM/GPU.

[2018-03-20 18:47] jlewi commented on #191
I'm adding this to our 0.2 release.

For our 0.2 release I think we want to come up with a good solution(s) for shared posix compliant file systems.

I think we already have good solutions for object storage.

[2018-03-20 18:51] foxish commented on #34
My point was that PVCs are a much more K8s-specific construct as opposed to CPU/RAM/GPU. As I understood, we wanted to hide the complexity of k8s concepts from the user - but this is still probably useful for advanced users. IIRC, JupyterHub in kubeflow already uses PVCs under the hood for notebook storage right now. Is there a use-case driving exposing arbitrary mounts and PVCs?

[2018-03-20 18:51] jlewi opened #467 "Build Jupyter Notebook images for supported versions of TF"
We should start building/maintaining multiple Jupyter images corresponding to different versions of TF.

Related #375

[2018-03-20 18:53] jlewi opened #468 "Build TFServing images for different TF images"
We should probably build different versions of TFServing images corresponding to different TF versions.

[2018-03-20 20:08] pdmack commented on #410
For #410, I was thinking if we could param the selection of the Volume type. However, it's a block of config:
[code]
@jlewi My ksonnet fu is weak. Is it possible to import fragments like that? I actually have adapted my deployment to bind the Kubeflow NFS provider to a host NFS server. Seems to work once you got through the NFS hoops.

For #34, we would have to re-deploy the hub with any new stora

[2018-03-20 20:11] abkosar commented on #297
@jlewi Just created the pull request following the directions. Tried to refactor the .jsonnet file  too but not sure if I refactored it correctly.

But here is the link to the request: [#470](https://github.com/kubeflow/kubeflow/pull/470)

I'll appreciate any help and feedback.

Thanks!

[2018-03-20 20:18] cwbeitel commented on #289
Sure. I'm currently building containers from JupyterHub using Google Container Builder. Using the --cache-from option speeds up builds but still requires pulling a multi-GB cache image. But this is more or less fine if model development is performed locally and TFJobs are infrequent and long-running.

Another requirement in addition to fast builds is that tools can be used without sudo.

One unspe

[2018-03-20 21:14] jlewi commented on #297
Fantastic thank you.

On Tue, Mar 20, 2018 at 1:11 PM, Arda Kosar <notifications@github.com>
wrote:

[2018-03-21 00:21] ankushagarwal opened #472 "Build more efficient tensorflow-notebook images"
The current cpu images are ~10GB and the current gpu images are ~14GB.

We should try to build smaller images.

Here is the Dockerfile used to build these images : https://github.com/kubeflow/kubeflow/blob/master/components/tensorflow-notebook-image/Dockerfile

[2018-03-21 01:10] carmark commented on #211
@jlewi

Kubeflow on Dockerhub is a organization, there are two owners, one is me and the other is kuebflowteam(email is release-team@)

We may push the image to dockerhub with two ways:
* build the image by ourselves, and push it to dockerhub with username and password
* provide a Dockerfile, and make a automative build on Dockerhub when there is a commit added

I am not sure whether the Dockerfil

[2018-03-21 03:55] #375 closed

[2018-03-21 03:55] #467 closed

[2018-03-21 04:08] jlewi commented on #211
I think it would be best if we could find a good way to automate the pushes to DockerHub. Does DockerHub not support OAuth or some other recommended approach for CI/CD tools?

[2018-03-21 04:29] jlewi commented on #436
@lluunn Ping?

[2018-03-21 15:22] plombardi89 commented on #11
@jlewi We released 0.1.1 of https://github.com/datawire/ambassador-auth-httpbasic . Please give it a spin!

[2018-03-21 16:41] lluunn commented on #261
Ah, I didn't enable IAP

[2018-03-21 17:15] r2d4 commented on #465
Just from a first glance, in CI it could get rid of this script with skaffold's GCB integration

https://github.com/kubeflow/tf-operator/blob/master/build/images/tf_operator/build_and_push.py

It could also provide the dev cycle for developing the app and the chart using skaffold's helm integration.

https://github.com/kubeflow/tf-operator/tree/master/tf-job-operator-chart

If I get some time this

[2018-03-21 17:32] bhack commented on #102
Just to mention another K8 related project: https://github.com/IBM/FfDL

[2018-03-21 18:07] jlewi opened #477 "ks env set default --namespace=kubeflow doesn't change the namespace"
Run the following steps per our instructions

[code]
[code]

This appears to be an issue with ksonnet set.

Work around is to create a new namepace.

[code]

@ankushagarwal Have you run into this?

[2018-03-21 18:12] jlewi commented on #477
Here's the help for ks env

[code]

So I expect setting namespace should work.

[2018-03-21 18:15] jlewi commented on #477
Filed ksonnet/ksonnet#373

[2018-03-21 18:15] jlewi commented on #477
We should update our docs to describe the work around of adding a new environment.

/assign @ankushagarwal

[2018-03-21 18:53] jlewi opened #478 "Document GITHUB_TOKEN"
Our quick start and troubleshooting guide should probably explain how to set the GITHUB_TOKEN to avoid API limits with using ksonnet.

[2018-03-21 18:57] ankushagarwal commented on #477
Looks like this was fixed here https://github.com/ksonnet/ksonnet/pull/371. I have requested a new release. If they don't create a new release, I will update the docs.

[2018-03-21 18:59] #432 closed

[2018-03-21 19:00] #254 closed

[2018-03-21 19:04] lluunn commented on #464
I will look into this

[2018-03-21 19:42] jlewi opened #479 "JupyterHub Spawner complains notebook is already spawning; upgrade JupyterHub to 0.9"
Steps to repeat

1. Try to spawn a pod with an invalid image name
2. Pod for notebook doesn't start with error invalid image name
3. Now delete the pod for the notebook.

Try spawning a new notebook. JupyterHub complains that it is already spawning a notebook.

[code]

My suspicion is that JupyterHub is stuck waiting for the pod to timeout as part of the spawn and its not smart enough to realize i

[2018-03-21 19:45] bhack commented on #264
Something could be covered by http://www.pachyderm.io/dsbor.html.
So I've added a comment in kvc https://github.com/kubeflow/experimental-kvc/issues/7#issuecomment-375058966.

[2018-03-21 23:30] #458 closed

[2018-03-22 00:14] #436 closed

[2018-03-22 00:43] #291 closed

[2018-03-22 06:33] DjangoPeng commented on #187
The design is meaningful. The logo includes `K` and `F`, which represent two communities `Kubernetes` (cloud-native) and `Flow`(machine learning) individually.

According to the initial discussion of `Kubeflow` or `KubeFlow`, David said `Flow` is not only indicating `TensorFlow`, but also all ML frameworks who use `Dataflow Graph` as the normal form for model/algorithm implementation. So we’d bett

[2018-03-22 12:16] amq opened #481 "construct base object: Failed to filter components; the following components don't exist: [ 'kubeflow-core' ]"
When following the guide from readme, I'm stuck at the last command

[code]

... which fails with

[code]

### Possible questions

Were all the previous commands successful? - Yes

Did I try starting from scratch? - Yes

Does `kubeflow-core.jsonnet` exist in `components/`? - Yes

How do I run the commands? - Tried `Docker Quickstart Terminal` and `MINGW64`

Does `kubectl get pods` work? - Yes

###

[2018-03-22 16:14] aronchick commented on #187
I really like this! Do we have a plan for agreeing on this as a community?
Should we have a designer create some additional designs?

On Thu, Mar 22, 2018 at 6:33 AM Jingtian Peng <notifications@github.com>
wrote:

[2018-03-22 19:39] jlewi commented on #251
Some things to investigate

- TFServing currently doesn't support multi GPUs but you can potentially work around this by running 1 container per GPU.

- NVIDIA has [TensorRT](https://developer.nvidia.com/tensorrt) to optimize nets for GPUs
  - But this only supports a subset of TF graphs.

- NVIDIA has [GRE](https://developer.nvidia.com/gre)

[2018-03-22 19:41] jlewi commented on #481
It looks like there was a problem creating your ksonnet app. Are you sure you created a component kubeflow-core?

Can you run

[code]

[2018-03-22 19:51] jlewi opened #483 "Provide TF Docker images with latest NVIDIA Compute Capability?"
IIUC if we build TF to target the NVIDIA platforms we will actually use (e.g. K80 and P100) this can be a significant performance improvement.

If you don't build TF with the right GPU options for your actual hardware then NVIDIA ends up using a JIT which is less efficient.

To what extent are the existing TF GPU images optimized for different GPUs?

If I had to hazard a guess, TF fixes the comput

[2018-03-22 20:03] lluunn opened #484 "TF serving GPU e2e test is flaky"
Example: #482 the test failed in a doc PR

**In the step deploy-tf-serving-gpu, it verified deployment is up.**
INFO|2018-03-22T19:11:44|/mnt/test-data-volume/kubeflow-presubmit-tf-serving-image-482-70f83cc-790-8b67/src/kubeflow/testing/py/kubeflow/testing/util.py|263| Deployment inception-gpu in namespace kubeflow-presubmit-tf-serving-image-482-70f83cc-790-8b67 is ready

**However, in test-tf-ser

[2018-03-22 20:11] ankushagarwal commented on #261
I can take a look at this. I think this is coming from envoy as well.

[2018-03-22 20:17] ankushagarwal commented on #261
The timeout specified in envoy config is 10 seconds for jupyterhub https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/iap.libsonnet#L397

I'll try increasing this to see if it helps

[2018-03-22 20:17] pdmack commented on #481
This is an issue using ksonnet with the mingw terminal. It is not parsing the dir separator for Win32.

[2018-03-22 20:31] amq commented on #481
@pdmack I just removed `my-kubeflow/` and re-run the setup in Bash (Ubuntu with Windows WSL), and got the same result. Then using Procmon I've double-checked that `components/kubeflow-core.jsonnet` is actually being read by `ks`, it is.

Interesting thing: when I remove `components/kubeflow-core.jsonnet`, the `ks apply default -c kubeflow-core` command succeedes, but, as expected, nothing gets dep

[2018-03-22 20:59] pdmack commented on #481
[code]
Search paths are being constructed but the object generator is struggling with the "\\" part of the path. I think there are some breadcrumbs in the ks code about this being a potential pitfall.

[2018-03-22 21:04] amq commented on #481
bash:
[code]

mingw:
[code]

[2018-03-22 21:13] inc0 commented on #478
/assign inc0

[2018-03-22 21:13] pdmack commented on #481
What does  `ks.exe -vvvv apply default` say from `/mnt/c/Users/amq/tensorflow/my-kubeflow`?

[2018-03-22 21:23] jlewi commented on #484
Can we disable the test for now?

[2018-03-22 21:24] jlewi commented on #484
Could it be related to this?
https://github.com/grpc/grpc/issues/14653

[2018-03-22 21:44] jlewi commented on #483
From TF 1.5
TF_CUDA_COMPUTE_CAPABILITIES=3.5,3.7,5.2,6.0,6.1,7.0

before 1.5, we had 3.0,3.5,3.7,5.2,6.0,6.1
Which is OK because we did not have cuda 9 support back then, and without cuda 9 you cannot run on v100 anyway.

[2018-03-22 21:53] pdmack commented on #481
Linux (RHEL) bash:
[code]

[2018-03-22 23:16] foxish commented on #155
cc/ @holdenk @texasmichelle who are exploring this item as well.

[2018-03-22 23:17] holdenk commented on #155
I think this could be really great if we got some serving logic integrated as well. I'll do some more poking on this in my own branch of the other repo :)

[2018-03-22 23:27] lluunn commented on #484
Able to repro in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/485/kubeflow-presubmit/798/

grpc.framework.interfaces.face.face.AbortionError: AbortionError(code=StatusCode.UNAVAILABLE, details="Connect Failed")

[2018-03-22 23:28] lluunn commented on #484
The deployment was up and running..

kubectl get -n=kubeflow-presubmit-tf-serving-image-485-4aba7d5-798-0411 deploy
NAME            DESIRED   CURRENT   UP-TO-DATE   AVAILABLE   AGE
inception-cpu   1         1         1            1           1h
inception-gpu   1         1         1            1           1h

[2018-03-22 23:33] lluunn commented on #484
It looks like although the deployment is ready, the model server is still loading the model when we tried prediction. This should be the issue.

[2018-03-22 23:33] jlewi commented on #481
@amq Does ksonnet work for you at all? For example can you follow the [ksonnet tutorial](https://ksonnet.io/docs/tutorial) and create the examples mentioned there?

[2018-03-23 01:05] lluunn commented on #484
#486
kubeflow-presubmit-tf-serving-image-486-ba58eb1-801-14d8

Test failed; Timeout waiting for deployment inception-gpu in namespace kubeflow-presubmit-tf-serving-image-486-ba58eb1-801-14d8

[2018-03-23 01:42] DjangoPeng commented on #187
@aronchick We have added it into the agenda to make a decision.

If we need, we could make it.

[2018-03-23 02:14] gaocegege commented on #187
Really appreciate your work @DjangoPeng

I think we could list what additional artifacts that we need and open an issue in kubeflow/community. Then designers in the community could help us to design these.

[2018-03-23 03:12] jlewi opened #489 "Javascripts widgets don't work in JupyterLab"
They work in jupyter but not JupyterLab.

I think the [issue](https://github.com/jupyterlab/jupyterlab/issues/1548) is that we haven't enabled widgets for JupyterLab.

Here are the [instructions for installing widget support](https://ipywidgets.readthedocs.io/en/latest/user_install.html#installing-the-jupyterlab-extension).

I haven't got this working yet. I suspect the problem is that I'm using t

[2018-03-23 03:29] jlewi commented on #489
I tried

[code]
Now I get  "Error Displaying Widget"  as opposed to

[code]

[2018-03-23 05:00] jlewi opened #490 "Upgrade ksonnet in our Jupyter images to 0.9.2"
We should upgrade the ksonnet in our Jupyter notebook images.

We need 0.9.2 because we want a fix for
ksonnet/ksonnet#373

[2018-03-23 17:13] yixinshi commented on #251
/assign yixinshi

[2018-03-23 17:53] willb commented on #187
@aronchick I think it would be good to have a professional designer suggest refinements to existing proposals (and perhaps also offer new options).  I also think that actual voting shouldn’t happen in a live meeting (and should wait for designer and legal feedback).

[2018-03-23 18:17] #261 closed

[2018-03-23 19:33] jlewi commented on #154
Here are some of the reasons why I initially chose Ambassador

1. I learned of Ambassador first and had a prototype working before learning about Contour
1. I don't understand how the contour model of using an ingress controller is meant to interact with cloud ingress controllers

Per the definition of [ingress](https://kubernetes.io/docs/concepts/services-networking/ingress/#what-is-ingress) I th

[2018-03-23 20:16] abkosar commented on #297
Hey @jlewi -- Updated the code with your directions and pushed it. Hopefully went a step forward, will appreciate any feedback.

Thanks!

[2018-03-23 20:35] pdmack commented on #481
Raised ksonnet/ksonnet/issues/382 for this. The basic guestbook tutorial also fails on Windows (i.e., not directly a kubeflow issue).

@jlewi We may want to consider a (temporary?) Windows disclaimer in the README since it appears at the moment that there are some rough edges with ksonnet.

[2018-03-23 20:41] lluunn opened #495 "TF Serving component logging"
TF Serving component should be able to export logs to some backend.

We will start with pod logs (stdout/stderr). Later we will look into logging payload.

[2018-03-23 20:44] lluunn opened #496 "TF serving component monitoring"
TF serving component should expose metrics, through some endpoint or push to other backend.

Metrics include
- system metrics: cpu / mem usage, gpu usage, rpc metrics
- application metrics: number of predictions, error count, latency

[2018-03-24 21:19] #478 closed

[2018-03-25 06:37] gaocegege opened #499 "[discussion] Support TensorBoard for PyTorch/MXNet and so on."
There is a third party tool https://github.com/lanpa/tensorboard-pytorch . I think we could investigate if we could suport TensorBoard for multiple frameworks. It will be more friendly for users.

[2018-03-26 00:55] aronchick opened #500 "[Proposal] Pipeline step for detecting "bad data""
Inspired by this blog post - https://medium.com/@iliakarmanov/can-train-test-split-help-standard-econometrics-9d3aeb54630a

What if we built in a container that tested for "obviously bad" statistics?

[2018-03-26 13:43] jlewi opened #501 "Update docs to mention known issues with ksonnet and windows"
On windows there appear to be issues with ksonnet: see
- #481 User error trying to deploy Kubeflow on windows
- ksonnet/ksonnet#382

We should update our docs to point out that on windows there are known issues and users may want to consider alternative solutions.

[2018-03-26 13:44] jlewi commented on #481
Thanks. Filed #501

[2018-03-26 13:44] #481 closed

[2018-03-26 13:47] jlewi opened #502 "Recommended minikube setup"
Users have reported running into trouble with minikube because their nodes end up being too small and other issues.

We should document some recommended settings for minikube based on what's needed to run some of our E2E examples and our E2E tests (see kubeflow/testing#6)

[2018-03-26 13:50] jlewi commented on #192
This [comment](https://github.com/kubeflow/kubeflow/issues/289#issuecomment-374742164) has a good summary of various solutions.

I think the next step would be using that as the basis to start a doc comparing various solutions.

For our 0.2 release I think we should aim to have a good solution for how to build docker images within cluster.

[2018-03-26 13:54] jlewi commented on #453
Closing this issue since the workaround appears to be to use a different version.

[2018-03-26 13:54] #453 closed

[2018-03-26 13:56] jlewi commented on #430
@patricia92fa What is the status of this? Were you able to get it fixed or work around it?

[2018-03-26 13:58] jlewi commented on #428
@ernestmartinez The above link is not a package its a component. You could copy it into the components directory of your ksonnet app and then use it.

[2018-03-26 13:58] #428 closed

[2018-03-26 14:00] jlewi commented on #424
#365 is open to add an option to disable the use of PVC which would be a work around.

[2018-03-26 14:01] jlewi commented on #422
Duplicate of #297

[2018-03-26 14:01] #422 closed

[2018-03-26 14:04] jlewi commented on #421
I think we should follow up with K8s to see if there is a way to specify that AVX is required and that nodes provide it or don't provide it.

That seems like the best way to handle this.

/cc @lluunn

[2018-03-26 14:06] jlewi commented on #414
#375 has been fixed. Our new Jupyter images should pin the version of TF and this should no longer be an issue.

[2018-03-26 14:06] #414 closed

[2018-03-26 14:07] jlewi commented on #412
Closing this issue because it looks like the problem was outdated images.

[2018-03-26 14:07] #412 closed

[2018-03-26 14:07] bhack commented on #421
@jlewi https://github.com/kubernetes-incubator/node-feature-discovery

[2018-03-26 14:52] ernestmartinez commented on #424
PVC creation of PV works now. But issue persists when trying to run multiple users simultaneously.

[2018-03-26 14:56] ernestmartinez commented on #412
The images are still failing with:
Failed to load the native TensorFlow runtime

[2018-03-26 17:04] jlewi commented on #34
So I think the use case is as follows.

People have a bunch of existing NFS servers or other types of storage systems that they want to bind to their Jupyter notebooks so that they can access data on those shares.

There are generally two approaches to this

1. We could make it possible for people to modify their JupyterHub/KubeSpawner config so that certain PVC's get attached to every notebook.

[2018-03-26 17:07] jlewi commented on #410
@pdmack We could refactor our ksonnet configs to make it easy for users to define additional PV/PVCs.

Are TF-Serving component is a good example
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/tf-serving/tf-serving.libsonnet

So we could structure our ksonnet config to have a top level component which is a map of volumes and volumeMounts. We could then use late binding to allow users to

[2018-03-26 17:08] #410 closed

[2018-03-26 17:11] jlewi opened #504 "Finalize proposal for durable storage of K8s spec and status"
I think I'd like to have a minimal version of a logger for arbitrary subset of K8s resources in our 0.2.0 release.

Filing this issue to track it.

There is a proposal in kubeflow/community#46

[2018-03-26 17:16] jlewi commented on #100
I think this would be a great feature so I'm adding it to our 0.2.0 backlog but as P2 because I don't know how realistic finding resources for it is.

/cc @ojarjur
/cc @pdmack

[2018-03-26 17:23] jlewi commented on #410
Duplicate of #34

[2018-03-26 17:25] jlewi commented on #398
@ajayakumar-jayaraj Does that address your question can we close this issue?

[2018-03-26 17:26] jlewi commented on #397
I'm closing this because it looks like the problem was the kube DNS didn't start properly.

[2018-03-26 17:26] #397 closed

[2018-03-26 17:30] jlewi commented on #364
We should test if this has been fixed by the 0.9 release and if it is close this issue.

[2018-03-26 17:31] jlewi commented on #351
@chrisheecho if you are a member of kubeflow github org you can do "/assign @<user>"

I believe this issue has been fixed?

/assign @chrisheecho

[2018-03-26 17:32] jlewi commented on #356
Fixed.

[2018-03-26 17:32] #356 closed

[2018-03-26 17:34] #300 closed

[2018-03-26 17:45] ojarjur opened #505 "Have the JupyterHub spawner report issues with spawning the user's server"
Right now, if you use the JupyterHub spawner to spawn a server, and the corresponding notebook server fails to start, then you can wind up just seeing a 500-error page with no details (after which, you have to resort to running `kubectl get ...` to debug the issue).

I think a lot of potential user confusion/frustration could be avoided if we could report the underlying issue on the error page ins

[2018-03-26 17:50] jlewi commented on #266
I'm closing this in favor of existing issues that are more specific.
If there's something not covered by existing issues lets open up more specific ones.

#372 Pattern for creating/using secrets across multiple prototypes
#101 Lock down Jupyter pods.

[2018-03-26 17:50] #266 closed

[2018-03-26 17:55] jlewi commented on #265
I'm scoping this issue to connecting to SQL databases from Jupyter.
This distinguishes it from connecting from say TensorFlow in TFJobs which might require first class support in TF.

I suspect this is largely a matter of documenting the right process; e.g.

- Create a service to point at the DB which lives outside the cluster
- Use secrets to provide credentials.

[2018-03-26 17:58] jlewi commented on #250
Template is here.
https://github.com/kubeflow/community/blob/master/proposals/TEMPLATE.md

@kkasravi Do you want to put a proposal together?

/assign @kkasravi

[2018-03-26 17:58] #233 closed

[2018-03-26 17:59] jlewi commented on #229
/assign @yupbank

[2018-03-26 18:08] dharmeshkakadia commented on #414
@jlewi (anyone else who runs into this) This is an issue on Azure because of a different bug : https://github.com/kubeflow/kubeflow/issues/435

[2018-03-26 18:59] pdmack commented on #34
@jlewi I'll have a go. Probably have more questions as I begin the journey.

[2018-03-26 19:05] jlewi commented on #198
/assign @lluunn

@lluunn Do we have E2E tests yet for the http proxy?

[2018-03-26 19:06] #188 closed

[2018-03-26 19:09] jlewi commented on #167
We should figure out a good solution for exposing basic metrics like CPU/Mem/RAM utilization to users.

I would be happy with a solution that treats this as a K8s distribution specific problem that we solve by providing links to docs for different K8s solutions.

[2018-03-26 19:10] jlewi commented on #157
Duplicate of kubeflow/examples#14

[2018-03-26 19:10] #157 closed

[2018-03-26 19:12] #147 closed

[2018-03-26 19:12] #145 closed

[2018-03-26 19:12] #133 closed

[2018-03-26 19:14] #109 closed

[2018-03-26 19:17] jlewi commented on #96
This is fixed here:
https://github.com/kubeflow/kubeflow/blob/master/testing/test_deploy.py#L142

We automatically replace the package with a symlink to the code that we checked out.

[2018-03-26 19:17] #96 closed

[2018-03-26 19:17] jlewi commented on #104
IAP is working reliably these days.

[2018-03-26 19:17] #104 closed

[2018-03-26 19:18] #91 closed

[2018-03-26 19:18] jlewi commented on #83
Closing this issue. We have most of our reusable code in kubeflow/testing.

[2018-03-26 19:18] #83 closed

[2018-03-26 19:19] jlewi commented on #73
The PR dashboard has been enabled for the Kubeflow org.

[2018-03-26 19:19] #73 closed

[2018-03-26 19:20] jlewi commented on #80
Default is now ClusterIp and this is a parameter.
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/prototypes/all.jsonnet#L13

[2018-03-26 19:20] #80 closed

[2018-03-26 19:21] #74 closed

[2018-03-26 19:22] jlewi commented on #70
@BenHall Any idea if this has been fixed?

[2018-03-26 19:24] jlewi commented on #68
@ScorpioCPH @gaocegege

Should we close this issue? We have issues for gang-scheduling and kube-arbitrator
kubeflow/tf-operator#349

Can we close this issue in favor of those?

[2018-03-26 19:32] lluunn commented on #198
not yet for the http proxy

[2018-03-26 20:10] jlewi opened #506 "Cut a 0.1 release"
Tracking bug for cutting a 0.1 release

TODO

- [X] Update the TFJob image to pull in fixes to kubeflow/tf-operator#500
- [X] Create a tag/branch for our ksonnet configs
- [X] Update the Jupyter Images that our configs point to.
- [X] Update Docs to point to branch

Things to verify manually

- [ ] IAP works
- [ ] TFJobs UI works
- [ ] Can spawn notebooks
- [ ] TFCNN runs

[2018-03-26 20:10] kkasravi commented on #266
This may be a duplicate of #11 since auth is part of that issue (secure proxy)

[2018-03-26 20:38] jlewi opened #507 "Continuous testing for release branches"
Background
   #215 Create a release process

The current thinking is to create a release branch for our ksonnet configs.
We'll need a way to run presubmits and post submits on the branch.

When using a branch do the prow environment variables provide information that lets us know we are on a branch?

[2018-03-26 20:48] elsonrodriguez commented on #229
Yeah, this is something that's lacking.

I have an example for mnist here: https://github.com/elsonrodriguez/examples/tree/e2e/e2e (specifically https://github.com/elsonrodriguez/examples/blob/e2e/e2e/export.py

It's being reworked to use Estimator here, which is a bit simpler: https://github.com/elsonrodriguez/examples/blob/a10a7d6d67056b8deece53d3db364b672369d29b/e2e/model.py#L155

[2018-03-26 21:19] kkasravi commented on #250
@jlewi yes. Is it ok to vet the proposal with you a bit beforehand before opening a PR? Also can i get on the calendar so i can go over the proposal / demo?

[2018-03-26 22:54] jlewi commented on #496
For rpc metrics, does gRPC or TF Serving expose these metrics? If not should we use envoy & istio to provide a proxy and collect the metrics from the proxy.

[2018-03-27 00:32] lluunn opened #511 "Tf serving component should provide default HTTP image"
Currently, if the user doesn't specify the HTTP proxy image, we don't deploy that.

I think we should have a flag, something like deploy_http_proxy.
If deploy_http_proxy = true, use the user specified image (if exist) or the default image.

[2018-03-27 01:02] lluunn commented on #369
dup of #496

[2018-03-27 01:02] #369 closed

[2018-03-27 01:15] jlewi commented on #11
Thank you so much.

[2018-03-27 02:10] jlewi commented on #472
Its possible we have a bunch of intermediary layers as a result of the build process that are storing files that were subsequently deleted in later layers.

I think a quick check is you can use docker to export the image to a tarball and then reimport it. I believe that flattens all the layers.

You can then look at the size of the reimported image and see if its smaller.

[2018-03-27 03:12] jlewi commented on #507
@krzyzacy @BenTheElder Is it possible to configure a prow job to run on all branches? Or do I need to manually list branches I want it to run on.

[2018-03-27 03:14] krzyzacy commented on #507
prowjob runs on all branches by default :-) just don't specify a branch field

[2018-03-27 04:02] jlewi commented on #507
Great thanks.

@gaocegege as an FYI since you were asking how to enable the tests for our TFJob branches

[2018-03-27 12:15] jlewi opened #514 "[Cleanup] Combine ksonnet apps for testing and releasing"
We have several ksonnet apps related to testing and releasing

https://github.com/kubeflow/kubeflow/tree/master/testing/workflows
https://github.com/kubeflow/kubeflow/tree/master/components/k8s-model-server/images/releaser
https://github.com/kubeflow/kubeflow/tree/master/components/tensorflow-notebook-image/releaser

I think we should combine these into a single ksonnet app.

This will make it eas

[2018-03-27 12:30] jlewi commented on #266
@kkasravi Can we make this issue or a new issue more specific?

The current state of the world is we have

- IAP which will provide a google identity to JupyterHub
- An http basic auth module (see #11) for Ambassador.

So was the intent to provide an auth module for ambassador that would use other oauth providers like GitHub and then supply that id to JupyterHub?

[2018-03-27 12:36] jlewi commented on #239
@kkasravi It looks like #305 was pretty close to having the changes to Kube spawner to support proxying through Ambassador as opposed to using JupyterHub's built in http proxy.

Are you planning on opening up a new PR with those changes?

It looks like that PR also had changes to use a GitHub authenticator. In #11 my thought was that oauth would happen before JupyterHub (e.g. via an Ambassador ext

[2018-03-27 15:41] cwbeitel commented on #289
Summarizing further findings:

- Bazel
  - Attempted to build container with Bazel that includes tensorflow and tensor2tensor dependency following [this](https://github.com/bitnami-labs/bazel_containers) example. Found that tensorflow and t2t libraries could not be imported inside resulting containers (whereas others e.g. tensorboard could);
  - Would appreciate help if there is anyone out there w

[2018-03-27 15:59] cwbeitel commented on #187
@ScorpioCPH that's *really* good. The first thing it evoked for me is that with production ML there are a variety of odd-shaped components that need to fit together into a clean whole. kf facilitates this behind the scenes, just like you might not notice the k and f letters at first.

[2018-03-27 16:27] cwbeitel commented on #187
Maybe just a heptagon with "kf" inside:

![logo-idea](https://user-images.githubusercontent.com/2348401/37980787-da2be292-31a0-11e8-8971-7f15bffcacd4.png)

The idea keeping closely consistent with the kubernetes logo by using the heptagon shape is a cool idea.

[2018-03-27 17:19] #477 closed

[2018-03-27 17:26] #507 closed

[2018-03-27 18:05] bhack commented on #102
Something is moving inside the LinuxFoundation perimeter: https://www.acumos.org/platform/

[2018-03-27 18:10] bhack commented on #102
See also https://www.linuxfoundation.org/projects/deep-learning/  and the [official announcement](https://www.linuxfoundation.org/press-release/the-linux-foundation-and-open-source-community-members-launch-lf-deep-learning-to-drive-open-source-growth-in-ai/)

[2018-03-27 22:00] lluunn commented on #514
I will look into this.
prow_config should be able to take the same workflows with different params.

[2018-03-27 22:01] aaron-prindle commented on #289
Can you clarify how you are running the ftl.par and the environment it's in?  I am not familiar with the gcr.io/tensorflow/tensorflow:latest image.  From the list of tests run, it seems that tensor2tensor and git dependencies were failing for you.  In my running of the ftl.par in our builder image with those test dependencies, I am seeing successful builds:

[code]
[code]

[code]
[code]

[2018-03-27 22:30] aaron-prindle commented on #289
@cwbeitel we will be discussing FTL and how it might be integrated into kubeflow at the kubeflow community meeting today.  If you're attending we can discuss the possible FTL integration there as well.

[2018-03-27 23:34] #511 closed

[2018-03-27 23:39] cwbeitel commented on #289
Oh cool that's encouraging! Yeah looking forward to discussing there. Maybe just an environment issue.

[2018-03-28 01:40] kkasravi commented on #239
@jlewi yes i wanted to have either iap or github at the ambassador level and jupyterhub would use the JWT. i can open the PR here though it's really doing single sign-on that jupyterhub (and other services would use)

[2018-03-28 02:03] ConnorDoyle commented on #264
We have begun internally testing a prototype for tracking experiments and result metadata as CRDs, together with a lightweight python library to interact with this API from an experiment coordinator (creating k8s objs for points in the parameter space) and the job script itself (emitting results.) So far we have gotten positive feedback from ML practitioners. Happy to share more about the approach

[2018-03-28 03:49] jlewi commented on #239
@kkasravi I'm not quite following. I thought the changes to Kube spawner in #305 were nearly sufficient to use Ambassador as a proxy as opposed to JupyterHub. Isn't that sufficient to begin ambassador as the proxy and not the built in javascript proxy? Why do we also need signle sing-on?

[2018-03-28 04:58] #489 closed

[2018-03-28 06:05] kkasravi commented on #239
@jlewi when IAP is enabled 1) the envoy ingress is deployed and 2)  the jupyterHubAuthenticator is set to:
[code]

So jupyterhub will not challenge and uses the authentication info to spawn a notebook with the name of the google user's email. This is going through ambassador rather than directly to tf-hub-0 (no `kubectl port-forward` needed). So enabling IAP routes notebook requests through ambass

[2018-03-28 06:16] kkasravi commented on #239
Worth noting that logging into kubeflow with IAP enabled will bring up a notebook rather than the 'central UI' or some kubeflow dashboard.

[2018-03-28 07:11] fxue opened #521 "ksonnet + openshift picking up wrong k8s version number"
trying Kubeflow on [Openshift online](https://www.openshift.com/features/index.html). Have problem with namespace and ksonnet.
Any possible work around?

1. cannot create namespace on openshift
[code]
2. without namespace cannot deploy ks application
[code]

[2018-03-28 13:29] pdmack commented on #521
Try `oc new-project ${NAMESPACE}` instead. OpenShift leverages the concept of Kubernetes namespaces to securely group and isolate related objects as described [here](https://docs.openshift.org/latest/admin_guide/managing_projects.html).

Note that you may have difficulty spinning up all the Kubeflow pods due to [resource limits](https://www.openshift.com/pricing/index.html) imposed by OpenShift On

[2018-03-28 16:20] fxue commented on #521
Thanks, I will give that a try!

[2018-03-28 17:15] wbuchwalter opened #522 "Kubeflow CLI"
It would be great if data scientists (and others) could leverage the benefits of Kubernetes + Kubeflow without having to learn about Kubernetes internals (kubectl and such) and ksonnet.

By having a clean domain-specific CLI, we could make kubeflow much more accessible to non-k8s people.
For example, at high level such a CLI could allow at a minimum a user to do things like:
[code]

I will work on

[2018-03-28 17:29] inc0 commented on #522
I was thinking about something like that:

``
kf model train <<model name>> --version 1 --source <<relative path to python dir with code>> --base-image <<image we support with most typical deps or user-supported img>> --distributed --nodes 3 --config <<optional config if you want more control>>
``

This tool would tarball code dir and save it somewhere (S3? Google storage? PV? We can have running

[2018-03-28 17:31] inc0 commented on #522
If we could achieve ^ it would be awesome if we could address similar use-cases with jupyter plugin to make it buttony-clicky:) https://github.com/kubeflow/community/issues/44

[2018-03-28 17:32] jlewi commented on #522
- I think there should be a high correlation between a CLI and an API/client library so that when users want to script the functionality they don't need to either
   - reimplement the CLI
   -. shell out

The implication of the above is that designing the CLI is really designing a higher level API ontop of our core APIs.

I believe the TFJobs UI already has an APIServer behind it that powers it. S

[2018-03-28 17:45] inc0 commented on #522
There will be a bit more to client if we want to do things like "upload code from local". While I agree 90% of usability will be API-based, there is 10% that either need access to local resources (upload code) or is just wrapper around kubectl commands (get job pods and run kubectl logs on them).

[2018-03-28 20:25] jlewi commented on #506
Branch has been cut
https://github.com/kubeflow/kubeflow/tree/v0.1-branch

[2018-03-28 20:31] jlewi commented on #506
Create a release candidate
https://github.com/kubeflow/kubeflow/releases/tag/v0.1.0-rc.0

[2018-03-28 21:01] cwbeitel commented on #289
@aaron-prindle Awesome demo yesterday!

The issue I was having within jhub was a permissions issue not a problem with a dependency or with FTL.

My opinion of the way forward is to add some tooling that is shared across examples in [kubeflow/examples](https://github.com/kubeflow/examples) that (1) either builds normal iterations with FTL or ships code via shared storage and (2) optionally prefixes

[2018-03-28 22:39] fxue commented on #521
still bumping into same error, set namespace on default env but get unknown variable env

[code]

[2018-03-28 22:41] fxue commented on #521
Looking at the code, seems that env is not being defined, bug?

[code]

[2018-03-28 22:44] fxue commented on #521
still getting error after setting the param, run time problem
[code]

[2018-03-28 22:48] fxue commented on #521
maybe a ksonnet version issue, upgrading.
[code]

[2018-03-28 23:24] jlewi commented on #479
So given the above it looks like its been fixed.
But there hasn't been a JupyterHub release since then
https://github.com/jupyterhub/jupyterhub/releases

@yuvipanda @willingc Any ideas when the next JupyterHub release will be? Should we build it ourselves?

Our JupyterHub image is here
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/prototypes/all.jsonnet#L14

Not sure how we built

[2018-03-28 23:31] yuvipanda commented on #479
See https://github.com/jupyterhub/jupyterhub/issues/1676.

Also, https://hub.docker.com/r/jupyterhub/jupyterhub/ is the correct docker
image.

On Wed, Mar 28, 2018 at 4:24 PM, Jeremy Lewi <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-03-29 01:06] fxue commented on #521
ok - updated the ksonnet version
[code]
getting a different 404 error now.
[code]

[2018-03-29 01:46] fxue commented on #521
@pdmack have you ever deployed kubeflow on Openshift environment before? would love to learn about any best practices.
You mentioned resource might not be enough with Openshift Online - any other managed offerings or should I try Origin?

[2018-03-29 07:14] kkasravi commented on #522
I have a `kf` CLI proposal that i'll be submitting this week for feedback under community. I agree with @jlewi that we should leverage something like [kubebuilder](https://github.com/kubernetes-sigs/kubebuilder) or client-gen rather than doing any CLI that includes all of these args. If we were to create a CRD that represents what's required for a kf-operator to manage a "KubeFlow" resource it wou

[2018-03-29 07:26] gaocegege commented on #522
I am not sure if I understand the meaning of kf-operator. If we want to manage all operators for different frameworks I think maybe we could maintain a kubeflow-controller-manager instead of an operator.

[2018-03-29 08:31] ankushagarwal commented on #251
With the new [integration](https://developers.googleblog.com/2018/03/tensorrt-integration-with-tensorflow.html) between TensorRT and TensorFlow 1.7, TensorRT optimizes compatible sub-graphs and let's TensorFlow execute the rest.

[2018-03-29 11:55] pdmack commented on #521
@fxue I have, and noted some permission adjustments [here](https://github.com/kubeflow/kubeflow/blob/master/user_guide.md#openshift). Origin is a good option if you have a RHEL/CentOS env capable of comfortably running the TF notebook, etc. [Here](https://docs.openshift.org/latest/install_config/install/advanced_install.html) are the Ansible installation details for that.

Having said all that, th

[2018-03-29 12:22] jlewi opened #527 "Central UI - need release process"
The central UI is currently using a personal docker image:
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/centraldashboard.libsonnet#L57

We need to build and publish a docker image as part of our release process.

/cc @swiftdiaries

[2018-03-29 12:24] jlewi commented on #199
I suggest filling separate issues for each of these and labeling them area/ui.

We should try to split it up into work items that should take no longer than 2 weeks and ideally can be worked on in parallel.

[2018-03-29 12:26] jlewi opened #528 "Central UI Ambassador Integration"
We need to integrate the Central UI with Ambassador.

/cc @swiftdiaries

[2018-03-29 12:31] jlewi commented on #105
@kkasravi Had a [comment](https://github.com/kubeflow/kubeflow/pull/524#issuecomment-377138245) about a script he has for deploying Kubeflow. I think that script is related to this issue.

[2018-03-29 12:38] jlewi commented on #522
I think we should draw a distinction between

- Deploying/Managing Kubeflow
- Performing tasks using Kubeflow

I think the original intent of this proposal was about the latter; e.g. uploading submitting jobs once Kubeflow is deployed.

@kkasravi  For Deploying/Managing Kubeflow PTAL #105

I think the reasons for separating the two are

- Different people will be performing these tasks
   - Sysadm

[2018-03-29 12:56] jlewi commented on #403
Here is a good tutorial on mixins
https://github.com/ksonnet/ksonnet-lib/blob/master/docs/TUTORIAL.md

This could be a pattern we want to make use of.

[2018-03-29 13:42] jlewi commented on #289
I think a great next step would be a doc (maybe in kubeflow/examples) that captures the different tradeoffs of all the different solutions mentioned in this bug and others.

I think the solutions you mentioned have several limitations

1. FTL can't be used to build the base containers so I think its an incomplete solution. We need a good story for the base containers as well.

1. Shared storage ha

[2018-03-29 14:42] inc0 commented on #522
Exactly @jlewi this is about "day 2". We use ksonnet today to deploy kubeflow, but kubeflow itself is tf-operator and jupyterhub that doesn't really talk to each other. I was thinking of having overarching compontent that would bind these two + other frameworks and provide API endpoint for various CLI calls.

@kkasravi as I said before, I think 90% can be autogenerated, but some logic will have to

[2018-03-29 14:58] inc0 commented on #522
I think we run into nomenclature problem. Operator in way I understand it is a piece of code that would provide endpoint to APIs and handle CRDs. Like rook operator can handle crd Cluster but also provide endpoint to CLI tools to manage these clusters, so it's kind of both.

We can call it controller-manager too, but let's agree on one:)

[2018-03-29 15:43] kkasravi commented on #522
@jlewi @gaocegege @inc0 great points and relevant to the scope of control.

One approach would be to look at what resources are created at `ks generate ...`.
This analysis could breakdown resources created for each distinct `ks generate ...` phase
and would list clusterrolebindings, rolebindings, PVs, namespace and other resources required to deploy vs resources required to run tasks or workflows.

[2018-03-29 16:55] inc0 commented on #522
Does ksonnet allow this kind of introspection? I mean "check state of existing resource X and make decisions based on this". Ksonnet is powerful templating language, but I'd be very careful with putting too much logic in it...

[2018-03-29 23:06] BenHall commented on #70
@jlewi Yes, I believe so as I can't reproduce the problem.

[2018-03-29 23:53] #70 closed

[2018-03-30 01:42] lluunn opened #531 "TF serving param deployHttpProxy needs to be transformed from string to bool"
Like: https://github.com/kubeflow/tf-operator/blob/c54cda92034d2cb8c2085d820a653f4065d0ed16/test/test-app/vendor/kubeflow/core/prototypes/iap-envoy.jsonnet#L26

Otherwise, will get error:
RUNTIME ERROR: Unexpected type string, expected boolean

[2018-03-30 03:59] inc0 commented on #424
glad you got that to work. Maybe your storageclass was broken but if fixed itself after a while?

[2018-03-30 05:06] ankushagarwal commented on #490
Fixed by https://github.com/kubeflow/kubeflow/pull/515/files

[2018-03-30 05:06] #490 closed

[2018-03-30 11:38] jlewi opened #534 "Create gcr.io/kubeflow-images-public"
We should create gcr.io/kubeflow-images to host our official public images.

[2018-03-30 11:42] jlewi commented on #105
Some info about what sig apps is thinking
SIG apps repo - https://github.com/kubernetes-sigs/application
KEP - https://github.com/kubernetes/community/pull/1629

[2018-03-30 12:11] mhausenblas commented on #105
Another option might be [Parameterizer](https://github.com/kubernauts/parameterizer) which is WIP and we'll present soon to SIG Apps …

[2018-03-30 14:24] fxue opened #535 "TF MPI support"
Filing on behalf of Kai Zhang from Alibaba @wsxiaozhang -
we are looking at running tensorflow in MPI way, like horovod. in that case, there won't be PS role. Is there any plan kubeflow to support MPI?

[2018-03-30 14:25] fxue opened #536 "reason for one master replica pod"
Filing on behalf of Kai Zhang from Alibaba @wsxiaozhang -
in tf-job, there must have 1 and only 1 master. I still don't quite understand why there must be one master replica pod explicitly deployed. In tensorflow, I can just assign the local tf server target as the master for worker process.

[2018-03-30 14:26] fxue opened #537 "tf model easy export"
Filing on behalf of Kai Zhang from Alibaba - @wsxiaozhang
for inference, is there any general utils to help user easily export his tf model to tf-serving model server without coding? That might be a helpful stage in the whole training workflow.