[2019-10-05 01:22] jlewi commented on #3823
@kunmingg ping?

[2019-10-05 01:23] jlewi commented on #3703
@lluunn any update on this?

[2019-10-05 01:26] jlewi commented on #3655
@lluunn what is the remaining work here?

Looking at
https://github.com/kubeflow/manifests/blob/756d25501b912768aabd234365f4b8cb6c9439aa/jupyter/notebook-controller/base/deployment.yaml#L10

Looks like we need to
* build a new docker image
* update the manifests in kubeflow/manifests

[2019-10-05 01:27] jlewi commented on #4231
Is there a reason katib depends on the label on the namespace and not the label on the individual pods?

[2019-10-05 01:30] jlewi commented on #1394
@kimwnasptd any update on this?

Since notebooks are going beta in 0.7 and we don't want more API changes after that; that likely means specific notebook idle times will need to be set via annotation.

[2019-10-05 02:16] jlewi commented on #3638
* I think @kunming committed #4155 which should automatically setup new namespaces using the profile controller
  * I think we still need to wait for the manifests to be updated (tracked in #3917)

* Once that is fixed we should try going through the same CUJ we did for the 0.6 release and verify things are working as expected.

[2019-10-05 02:21] jlewi commented on #3518
@swiftdiaries What's the difference between the last two tasks?

Other tasks
* Update the docs
* Did we already add a "build" command to replace generate?
* Should we add an E2E test that verifies that invoking build and then apply works as expected?

[2019-10-05 02:33] woop commented on #2141
Hi @raghav20. We are finishing off some of the final components now and adding the necessary tests and packaging. You can see our progress on the 0.3.0 project in GitHub: https://github.com/gojek/feast/projects/1

[2019-10-05 02:44] swiftdiaries commented on #3518
For the difference,
Even if we use the same directory, currently a lot of code references a `app.yaml` so it'd be `/some/path/kfdef.yaml` writing to `/some/path/app.yaml`
So I wanted to split that into two separate tasks.
First would be to change the working directory for existing filesystem paths vs URLs from the internet.
Second would be to replace the app.yaml reference with the same kfdef file

[2019-10-05 02:51] jlewi commented on #3989
@praveen049 you are hitting a race condition as mentioned above. If you want to deploy with kfctl v0.6.2 you will need to do the following

1. Follow the KF instructions to run kfctl apply which will fail with the above errors
1. Create an apply.sh with the following contents

[code]
1. ```chmod +x apply.sh```
1. move the script to where  you called kfctl generate.
1. Run the script from that loca

[2019-10-05 05:06] jlewi commented on #2852
Thanks @arianyambao

I'm going to close this issue.

* upstream connect error or disconnect/reset before headers is a generic error that occurs when envoy is trying to forward traffic to a service that is unavailable.
* Threre's lots of reasons this can happen
* The migration to ISTIO with 0.6 seems to have reduced the general frequency of these errors.

[2019-10-05 05:06] #2852 closed

[2019-10-05 05:27] jlewi commented on #4217
@krishnadurai  Is option 2 just a temporary solution for backwards compatibility? Would we eventually remove it and surface the actual cluster roles?

What would be the reason long term for introducing a a layer of indirection around the underlying cluster-roles?

In general, I think the principle we are trying to follow with Kubeflow IAM is to reuse RBAC as much as possible. Applying that princip

[2019-10-05 05:35] jlewi commented on #3772
@fediazgon Turning events into status doesn't like a common pattern in Kubernetes for the reasons mentioned previously.

Events have a TTL but the controller should continue emitting events.

Reconcile is invoked periodically. So even hours after a notebook starts, reconcile should be invoked. The controller should check the status of the world and emit appropriate events.

So for example, if the

[2019-10-05 10:42] krishnadurai commented on #3938
@jlewi after kubeflow/manifests#393 gets merged we should close this issue.

[2019-10-05 13:10] krishnadurai commented on #3938
/close

[2019-10-05 13:10] #3938 closed

[2019-10-05 15:40] Tabrizian commented on #3725
@jlewi Glad that it was not from my PR. There are some minor things remaining (e.g. refactoring the user, and removing some libraries) I can improve them in a subsequent PR.

[2019-10-05 21:28] jbottum commented on #4059
@jlewi are we tracking this in another issue? should this be a p0 for Kubeflow 1.0?

[2019-10-05 21:28] William8Work commented on #4199
Similar issue here.

Error: couldn't generate KfApp:  (kubeflow.error): Code 500 with message: kfApp Generate failed for kustomize: kustomize generate failed Error:  (kubeflow.error): Code 500 with message: couldn't copy application istio-ingress
Usage:
  kfctl generate [all(=default)|k8s|platform] [flags]

Flags:
      --email string      email if '--platform gcp'
  -h, --help              help f

[2019-10-06 00:00] jlewi commented on #3721
@nrchakradhar I think @scottilee already has a PR for this #4171

@scottilee is there any additional work beyond #4171

[2019-10-06 00:12] jlewi commented on #3210
Thanks @xaniasd !

After #4222 is merged can we update the docs on kubeflow/website before we close this issue?

A follow on issue would be to provide tooling to mirror of the Kubeflow images to a different repository.

I think one way we might be able to do that in a generic way would be to spit out a Tekton workflow that would pull the images from one repo, retag them and push them. (I'm hoping

[2019-10-06 04:18] mappedinn commented on #4180
Thank you very much @yanniszark

I will be trying tonight and I will get back to you

[2019-10-06 04:32] praveen049 commented on #3989
Hi @jlewi

With the workaround, the deployment is able to progress. Thank you. But i have now run into another issue - the pods image downloads are going to 'ImagePullBackOff' state.

$ kubectl -n kubeflow get pods
NAME                                                        READY   STATUS              RESTARTS   AGE
admission-webhook-bootstrap-stateful-set-0                  0/1     ImagePullBackO

[2019-10-06 17:20] xaniasd commented on #3210
@jlewi I can add the documentation (I'll look into the setup and make a PR). About the follow-up; sure thing. I'm not familiar with Tekton and how we want to use it in this case, if you could give some background information I can give it a try. That said, a simple way to do this would be to just implement it in kfctl and fork `docker pull/push` commands for each image. Then we don't assume a runn

[2019-10-06 17:48] yanniszark commented on #3210
@xaniasd I actually have a small PR ready for exactly this thing, spitting out a changelist in stdout.
The user can use it to mirror images with any tool they want.
Will make a PR tomorrow.

[2019-10-06 22:59] fediazgon commented on #3772
Would that imply sending an "Everything is OK" event periodically? I'm concerned about the two following flows:

1) User creates nb in the dashboard -> UI immediately fetches nb events -> No events yet (Real status is "waiting").
1) Nb is running -> Reconcile stops reissuing events cause everything is ok ->  UI fetches nb events -> No events (Real status is "running").

[2019-10-07 00:57] zmdelima commented on #4199
Hi guys, we are encountering this issue too (using v0.6.2 kfctl_aws.yaml as it points to v0.6-branch repo for kubeflow/kubeflow and kubeflow/manisfests)
So we have been experimenting with the commits (for days) and we use these:

with `CONFIG` set to the path of kfctl_aws.yaml

For kubeflow/kubeflow:
[code]
For kubeflow/manifests:
[code]

I hope this helps.

[2019-10-07 03:55] #4136 closed

[2019-10-07 04:55] holdenk commented on #3646
Ran into this again today.

[2019-10-07 06:50] holdenk opened #4239 "kfctl build & apply example flags don't work"
/kind bug

**What steps did you take and what happened:**

Run `kfctl build`
Get suggested output that does not run:

`--config` is not the correct name for the flag

**What did you expect to happen:**

I'd expect it to show `--file` where it shows `--config`

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Kubeflow v

[2019-10-07 06:55] holdenk opened #4240 "kfctl build and apply do not appear to detect the project variable in KFDef"
/kind bug

**What steps did you take and what happened:**
Download kfctl_gcp_iap.yaml , replace the email key with my e-mail username, add project: <PROJECT NAME> as the last key as indicated in the "Project should be set to the GCP project you want to use." comment. Run kfctl apply. Receive error project is not configured.

**What did you expect to happen:**

Either applying of kubeflow, or at le

[2019-10-07 07:00] holdenk opened #4241 "kfctl on minikube goes into a loop prompting for namespace creation"
/kind bug

**What steps did you take and what happened:**

Deployed kubeflow using `kfctl apply -f ../kfctl_k8s_istio.yaml`. Wait for services to settle by watching the pods. Ran `minikube service istio-ingressgateway  --namespace istio-system` to connect to the UI. Created namespace in the UI. Pressing finish button did not remove the overlay.

**What did you expect to happen:**

I expected to se

[2019-10-07 07:37] Lijo050 commented on #4229
@yeya24 can you help? thanks.

[2019-10-07 09:05] krishnadurai commented on #4217
@jlewi I'm fine with keeping the same names in frontend and backend for RBAC rules, with the thought you've mentioned above. This convention of adding the prefix to role names needs to be ensured if we allow users to define their own roles with future releases. I had initially thought of achieving this through mapping so that users wouldn't have to ensure it, given that their names could clash wit

[2019-10-07 10:20] krishnadurai opened #4242 "Second time apply of kfctl fails with 'current directory not empty, please switch directories'"
/kind bug

**What steps did you take and what happened:**
Change directory into an empty directory. Apply kfctl through:

[code]

Re-apply with either command:
[code]
or
[code]

Shows an error on execution:
[code]
**What did you expect to happen:**
Second time `apply` should function when the directory is not empty.

**Anything else you would like to add:**
We would need to fix on the intended beh

[2019-10-07 13:13] #3725 closed

[2019-10-07 13:15] jlewi commented on #3518
Thanks @swiftdiaries .

* What about the old commands "init" and "generate" have we either removed them or do we print out errors telling people to use the new commands?

[2019-10-07 13:17] jlewi commented on #3703
/assign @gabrielwen
/assign @lluunn

[2019-10-07 13:36] jlewi commented on #3655
I built a new image.
gcr.io/kubeflow-images-public/notebook-controller:v20191007-v0.6.0-rc.0-134-g6ddf28cc-dirty-560d95

And sent out PR kubeflow/manifests#443

[2019-10-07 13:39] jlewi commented on #4160
If we want to move the repo over; we could just transfer it over. This way the issues and everything else are preserved.

/cc @yanniszark

[2019-10-07 13:46] jlewi commented on #4239
/assign @swiftdiaries

Is this the same issue you were mentioning?

[2019-10-07 13:50] jlewi commented on #3939
@krishnadurai @swiftdiaries what should we do to close this issue out?

Should we try to fix the script or should we just update the docs to tell people to manually download it rather than executing some script?

[2019-10-07 13:52] jlewi commented on #4142
@jessiezcc  is there someone on the pipelines team who could look into this?

[2019-10-07 13:56] jlewi commented on #4124
@hansaimlim if you have Ambassador running that means you are using Kubeflow 0.5 or earlier not 0.6. Please follow the instructions on https://www.kubeflow.org/docs/started/
For installing 0.6.

Downloading the 0.6 version of kfctl is not sufficient; you need to actually use the 0.6 kfctl CLI to actually deploy Kubeflow.

My suggestion would be to tear down your existing cluster and start from scr

[2019-10-07 13:56] #4156 closed

[2019-10-07 14:08] nrchakradhar commented on #4188
/cc @nrchakradhar

[2019-10-07 14:32] hansaimlim commented on #4124
@jlewi Thanks for your comment. I had no progress since written above. I will try it from scratch.

[2019-10-07 14:32] #4124 closed

[2019-10-07 14:34] yeya24 commented on #4229
This is not a bug for Azure. But I believe it is a bug from kfctl itself. You can see there are many issues in the Github with the istio installation with kfctl. Actually I am not sure whether this bug is fixed in master branch. You can check it first.

[2019-10-07 14:45] yanniszark commented on #4160
@jlewi I'll try to resolve it this week.

[2019-10-07 14:50] krishnadurai commented on #3939
It would be better to have the website point to the releases page and the users manually download it. I'll shortly open a PR to address the same.

[2019-10-07 17:28] holdenk commented on #4242
I also ran into this. I think the problem is the hidden cache directory `.cache`. Can you run `ls -al`? Maybe we should update the error message to make it clear that this can include hidden files because the first few times I got this I wasn't sure what was happening.

[2019-10-07 17:40] lluunn commented on #3655
I updated once: https://github.com/kubeflow/manifests/blob/master/jupyter/notebook-controller/base/kustomization.yaml#L18

[2019-10-07 18:07] gabrielwen commented on #3703
@lluunn is updating gcp to use `KfConfig`

@Jeffwan could you also do the same thing for AWS?  starting at this point we should change to KfConfig:
https://github.com/kubeflow/kubeflow/blob/2395c5fc0d384cf6dd4d7167bbe9010cd1315b54/bootstrap/pkg/kfapp/coordinator/coordinator.go#L119

[2019-10-07 18:10] gabrielwen commented on #3703
@yanniszark could you help on updating existing_arrikto for using `KfConfig`?  it should start at this point and convert `KfDef` to `KfConfig`:
https://github.com/kubeflow/kubeflow/blob/2395c5fc0d384cf6dd4d7167bbe9010cd1315b54/bootstrap/pkg/kfapp/coordinator/coordinator.go#L117

[2019-10-07 18:15] hemantha-kumara commented on #3989
@praveen049 Can you pls update proxy details in `/etc/sysconfig/docker` and try ?
something like below ?
[code]

[2019-10-07 18:36] lluunn commented on #3703
I ran into an issue:
kfdef has a method, WriteToConfigFile, that writes the updated kfdef back to disk (app.yaml).
To support this method in kfconfig, we need to convert kfconfig to kfdef. But then there is a cycle import: converter --> kfconfig --> converter.

Any suggestion?

@kunmingg proposed we should try to avoid writing back kfdef.

[2019-10-07 18:40] hemantha-kumara opened #4247 "Issue while merging PatchesJson6902 multiple targets with same path file in MergeKustomization"
/kind bug

**What steps did you take and what happened:**
Issue is extension of #4136
Added overlay to update multiple ClusterRoles(eg: argo and argo-ui) using PatchesJson6902 using same target.path file
[code]
patch.yaml content is as below
[code]

**What did you expect to happen:**
After kfctl generate I was expecting two patch files argo-ClusterRole.yaml & argo-ui-ClusterRole.yaml will get crea

[2019-10-07 18:40] hemantha-kumara commented on #4247
/cc @kkasravi

[2019-10-07 18:48] lluunn commented on #3703
discussed offline.
We should move converter logic into kfconfig.
kfconfig can read from kfdef, and write to kfdef.

[2019-10-07 18:56] yanniszark commented on #3703
@gabrielwen sure!
Does GCP use KfConfig? I'm asking because I'd love to have a reference implementation to follow.
Btw, why leave do we leave it up to the platform to convert the KfDef and don't just pass a KfConfig?

In addition, I should point out something that occurred to me recently.
Kubernetes' conversion makes a hypothesis that it's possible to convert from one version to any other in a los

[2019-10-07 19:01] gabrielwen commented on #3703
@yanniszark @Jeffwan we are adding some missing fields/functions to KfConfig.  It should be done today/tomorrow and after that we should only need an one line change.

@yanniszark could you explain more about information loss?  doesn't v1alpha1 KfDef also have a list of plugins?
https://github.com/kubeflow/kubeflow/blob/2395c5fc0d384cf6dd4d7167bbe9010cd1315b54/bootstrap/pkg/apis/apps/kfdef/v1alpha

[2019-10-07 19:04] yanniszark commented on #3703
I thought Plugins was only part of the v1beta1 spec.
Seems like I was mistaken.
Was the field added to maintain backwards compatibility?

[2019-10-07 22:26] swiftdiaries commented on #4242
/assign @swiftdiaries
Fix: https://github.com/kubeflow/kubeflow/pull/4232

[2019-10-07 22:40] praveen049 commented on #3989
@hemantha-kumara

I am running on mac and the proxy configuration are set in the docker UI and also in ~/.docker/config.json.  I have also created and set config in the /etc/sysconfig/docker.

Now the
kubectl -n kubeflow get pods

shows that the status is ContainerCreating but the status does not change to Ready

NAME                                                        READY   STATUS

[2019-10-07 22:41] richardsliu opened #4249 "v0.7.0 Release Checklist"
P0 issues list: https://github.com/issues?utf8=%E2%9C%93&q=org%3Akubeflow+label%3Apriority%2Fp0+project%3Akubeflow%2F22+is%3Aopen+

- [x] App instance manifests (https://github.com/kubeflow/manifests/issues/489)
- [x] Cut release branch for kubeflow/manifests
- [x] Merge Kfctl upgrades PR
- [x] Migrate kftcl to kubeflow/kfctl
- [x] Cut release branch for kubeflow/kubeflow
- [x] Cut release branch

[2019-10-07 22:48] gabrielwen commented on #4056
Discussed offline and this is implementation detail to KFCTL.  Since this is not affecting semantics we have to roll out in v0.7, this is not release blocking.  making it p1 instead of p0.

[2019-10-07 22:53] jlewi commented on #4241
@holdenk by overlay do you mean the UI?

[2019-10-07 22:54] richardsliu commented on #4117
@swiftdiaries Any updates on this?

[2019-10-07 22:54] jlewi commented on #4240
@holdenk can you provide your KFDef File?

[2019-10-07 23:00] swiftdiaries commented on #4239
Yes, I have a fix out here: https://github.com/kubeflow/kubeflow/pull/4232

[2019-10-07 23:06] jlewi commented on #4240
@gabrielwen @lluunn  Are we not attempting to get the default values from gcloud?

[2019-10-07 23:09] richardsliu commented on #3655
@lluunn @jlewi Can we close this?

[2019-10-07 23:11] richardsliu commented on #4221
I think this one can be closed now?

[2019-10-08 00:03] lluunn commented on #4240
dup of this one: https://github.com/kubeflow/kubeflow/issues/3923

[2019-10-08 00:09] jlewi commented on #4240
Duplicate of #3923

[2019-10-08 00:25] nrchakradhar commented on #4247
/cc @nrchakradhar

[2019-10-08 00:47] jlewi commented on #4240
See #4246
The problem appears to be different from #3923
In particular, kfctl doesn't appear to respect the email, project, and zone set in the KFDef.

The E2E test is setting the EMAIL and PROJECT environment variable which isn't what it should be doing
https://github.com/kubeflow/kubeflow/blob/9592b48c95537ceec4c9aada83b73b7a738e48a8/py/kubeflow/kubeflow/ci/kfctl_go_test_utils.py#L211

This was

[2019-10-08 00:52] jlewi commented on #4240
Here's where its getting PROJECT,ZONE, EMAIL from environment variables
https://github.com/kubeflow/kubeflow/blob/9592b48c95537ceec4c9aada83b73b7a738e48a8/bootstrap/pkg/kfapp/gcp/gcp.go#L1964

[2019-10-08 00:53] jlewi commented on #4240
This was added recently in #4040

[2019-10-08 04:01] johnugeorge commented on #4231
@jlewi I think, it matters in large clusters where there are non kubeflow namespaces.  Since object selectors are introduced only in k8s 1.15(https://github.com/kubernetes/kubernetes/blob/release-1.15/pkg/apis/admissionregistration/types.go#L264) , there will be  performance impact and pod level web hooks can become a bottleneck for pre 1.15 clusters.  We can remove this label when k8s 1.15 become

[2019-10-08 04:02] gaocegege commented on #4231
Namespace selector of webhooks can avoid performance issues. Or the webhook will accept many requests from all namespaces.

Label on the individual pods has the right behavior, too. But the performance issue cannot be avoided. We still get many requests from all namespaces.

[2019-10-08 06:09] hemantha-kumara commented on #3989
Can you please paste output  of pod describe here ?

[2019-10-08 06:20] praveen049 commented on #3989
[output_kubeflow.txt](https://github.com/kubeflow/kubeflow/files/3700968/output_kubeflow.txt)

Attached is the output of the command

kubectl -n kubeflow get pods

The status remains 'ContainerCreating'

[2019-10-08 07:09] praveen049 commented on #3989
Attaching the output of pod describe
[argo-ui.txt](https://github.com/kubeflow/kubeflow/files/3701150/argo-ui.txt)
[ml-pipeline-scheduledworkflow.txt](https://github.com/kubeflow/kubeflow/files/3701151/ml-pipeline-scheduledworkflow.txt)
[output_kubeflow.txt](https://github.com/kubeflow/kubeflow/files/3701152/output_kubeflow.txt)
[tf-job-dashboard.txt](https://github.com/kubeflow/kubeflow/files/370

[2019-10-08 07:28] praveen049 commented on #3989
Out of all the describe for all pds
[describe_all_pods.txt](https://github.com/kubeflow/kubeflow/files/3701204/describe_all_pods.txt)

[2019-10-08 13:44] jlewi commented on #3518
@swiftdiaries Any update on this?

[2019-10-08 13:56] jlu1202 commented on #3831
Out fleet of data scientists only have Windows 10 laptops with Hyper-V pre-configured and Docker Desktop installed so it'll be VERY important to being able to run MiniKF on Docker Desktop.

[2019-10-08 14:17] ShyamSubramanian commented on #3831
@jbottum We are experimenting with Docker Toolbox (with VirtualBox) right now as a temporary solution. Considering Docker Toolbox is a legacy solution and that most devs are comfortable in using Docker Desktop, we do not see it as a permanent solution. Most of our machines are Windows 10 and it is essential that dev pcs have a simple local setup for Kubeflow working (with Hyper-V) alongside Docker

[2019-10-08 15:39] plaffitte commented on #4199
@zmdelima This didn't solve the problem.
When initializing with `kfctl init ${KFAPP} --config=${CONFIG} -V` I could see it fetched the right version, according to the commit you pointed to, but running `kfctl generate all -v` still returned the same error.

[2019-10-08 16:13] ryandawsonuk commented on #4180
The existing_arrikto should certainly work as it doesn't include kfserving (at least not yet https://github.com/kubeflow/manifests/pull/447) and kfserving is the part you're having the problem with

[2019-10-08 16:14] zmdelima commented on #4199
@plaffitte I am currently using v0.6.1/bootstrap instead of v0.6.2/bootstrap `kfctl_aws.yaml` source as the major difference from them besides the repository targets is having an `- application` for the kustomize of `path: tf-training/tf-job-operator` as this works for me.

These are my step by step cli commands:
[code]

Reference to changes on v0.6 kfctl_aws.yaml file:
https://github.com/kubeflow

[2019-10-08 18:19] hemantha-kumara commented on #3989
@praveen049
From the log, all seems fine(docker is getting pulled as there is no image pull off error), may be proxy is slow, hence it is taking time.
You can try pulling docker manually and see how fast image is getting pulled.
`docker pull gcr.io/kubeflow-images-public/kubernetes-sigs/application:1.0-beta`

[2019-10-08 18:55] jlewi commented on #3655
@richardsliu We can close once kubeflow/manfests#443 is merged.

[2019-10-08 19:31] jlewi commented on #4043
## Work around

To work around this issue I would first verify whether the crash looping is actually affecting you

These scripts are doing two things

1. Setting the JWT on the ISTIO policy
1. Updating the timeout for the backend

So if both of these are true then you should be good to go.

To check the JWT ISTIO policy

[code]

* If the audience is correctly set e.g. to `/projects/${PROJECTNUMBE

[2019-10-08 20:25] jlewi commented on #4043
@mattnworb any interest in submitting a PR to try improve the backend scripts; e.g.

* Add `set e` so we get better logging
* Remove the backend timeout check from setup_backend.sh

[2019-10-08 20:30] jlewi commented on #3923
It looks like we have logic to get the Default email
https://github.com/kubeflow/kubeflow/blob/d82aa59103940918a9c8e1ca87ba94f24bec09b2/bootstrap/pkg/kfapp/gcp/gcp.go#L229

We are missing similar logic for project and zone.

Bump to P0 because we should try to fix this in 0.7.X.

This should be a relatively straightforward fix.
Without it users can't deploy in one command e.g.

[code]

Because the

[2019-10-08 21:05] lluunn opened #4254 "kfctl apply cannot re-run after failure"
/kind bug

**What steps did you take and what happened:**
1. kfctl apply -f XXX
It failed because I forgot to set client id and secret
2. retrying kfctl apply
This time failed with:
[code]

kfctl is built from master

[2019-10-08 21:07] lluunn commented on #4254
workaround: delete app.yaml and .cache manually

[2019-10-08 21:36] jlewi commented on #4241
@avdaredevil this looks like an issue with the centraldashboard. Any suggestion about what debug information to collect to help diagnose this?

[2019-10-08 22:15] jlewi commented on #3655
kubeflow/manifests#443 has been merged.

[2019-10-08 22:15] #3655 closed

[2019-10-08 23:08] avdaredevil commented on #4241
Hi @holdenk,
When you run through the registration flow in the UI could you include the output you get from: (using chrome-dev tools)
- `/api/has-workgroup`
- `/api/env-info`
- `/api/workgroup/create`
_**Note:** Fetch this output after you press create / submit_

Also, are there any errors in the console?

[2019-10-08 23:09] #4240 closed

[2019-10-09 00:00] kkasravi commented on #4247
@hemantha-kumara seems like we want the key to be the patch.name + '-' + patch.target

do you want to make that change?

[2019-10-09 00:18] jlewi commented on #4249
Demo script for release.
http://bit.ly/demo-v0-7

[2019-10-09 00:32] jlewi commented on #4249
Here are the issues that I think have changes that will impact kubeflow/manifsts

- [ ] kubeflow/kfserving#399 - will require update to KFServing manifest
- [ ] kubeflow/kubeflow#3822 - will require updating profile controller manifest
- [ ] kubeflow/kubeflow#3703 - KFDef specs need to be updated to use v1beta1
- [ ] Updates to application CRs

I'm not sure we should wait for all the changes to go

[2019-10-09 00:45] kkasravi commented on #4247
raising this to P0
/priority P0

[2019-10-09 01:03] jlewi commented on #3082
Here was an initial version of docs
https://www.kubeflow.org/docs/gke/private-clusters/#enable-vpc-service-controls-in-your-project

The information is outdated. We will need to update the information on how to replicate the images to private GCR.

The good news is @xaniasd just submitted #4222 which allows bulk replacement of the images.

[2019-10-09 02:10] jbottum commented on #4233
@SinaChavoshi With 0.7 on the way (next week), I think our efforts will be to fix items in 0.7 or 0.6.  Can you please justify the need for 0.5.   thanks.

[2019-10-09 02:19] jlewi commented on #4249
Here's the plan as discussed in the KF meeting today

* We will wait for application CRs but then cut kubeflow/manifests v0.7-branch but no later than tomorrow
* kubeflow/kubeflow should be ready to cut
* For kfctl we are still waiting for a bunch of changes and then we will sync the code to kubeflow/kfctl

[2019-10-09 02:37] jbottum commented on #3831
@yanniszark @iankoulski do either of you have any comments?
@ShyamSubramanian another option might be MiniKF, which has a support team and roadmap

[2019-10-09 05:17] johnugeorge commented on #4249
- [ ] https://github.com/kubeflow/kubeflow/issues/4231  Adding Katib label to all Kubeflow namespaces

[2019-10-09 06:48] niya3 commented on #4192
@nsriram13 here is a hotfix

[code]

[2019-10-09 07:28] hemantha-kumara commented on #4247
Yes, I can make change. I was waiting for your confirmation that mentioned changes were not meant any other usecase.

[2019-10-09 08:47] cyrilthank commented on #4184
Any updates on this please?

[2019-10-09 08:47] cyrilthank commented on #4228
Any updates on this please?

[2019-10-09 10:08] Toeplitz opened #4259 "[GCP] Node Auto provisioner pool is missing VM service account and oauth scopes"
/kind bug

**What steps did you take and what happened:**
After deploying kubeflow successfully on GCP I'm trying to run a pipeline.
Components in the pipelines tries to pull a private container from gcr.io fails to authenticate. See description below.

The following code is used to define the pipeline component:

[code]

Now the relevant parts of the compiled yaml file for the pipeline:
[code]
Af

[2019-10-09 12:41] yanniszark commented on #4228
Hi @cyrilthank.
It seems that K8s 1.16 has deprecated "extensions/v1beta1" and the v0.6.2 release depends on them.
Can you try with an earlier version, like K8s 1.14?
Kubeflow v0.7 should work with 1.16.

[2019-10-09 12:51] cyrilthank commented on #4228
Thanks @yanniszark  for diligently chasing this down for me.

Question:
can you please share the steps to downgrade our 1.16 version k8s to 1.14

also can you please share around when is kubeflow0.7 due?

[2019-10-09 15:02] nrchakradhar commented on #4226
@swiftdiaries Based on #4187 I guess this can be closed. WDYT?

[2019-10-09 15:47] yanniszark commented on #4254
@jlewi is this the intended behavior?
Don't we want to allow the user to call kfctl apply twice?

[2019-10-09 16:30] Lijo050 commented on #4229
/cc @krishnadurai Could you please help, thanks.

[2019-10-09 18:36] justrohan commented on #4212
Can you share the output of --all-namespaces?

[2019-10-09 20:24] krishnadurai commented on #4229
@Lijo050 Could you please check why is this pod not available?
[code]

Probably, a kubectl describe on the pod will give us further information.

[2019-10-09 21:21] #4242 closed

[2019-10-09 21:24] holdenk commented on #4209
No longer encountering this, now running into https://github.com/kubeflow/kubeflow/issues/4241

[2019-10-09 21:24] #4209 closed

[2019-10-09 21:26] holdenk commented on #4241
I can take a look @avdaredevil . When you say "include the output from using chrome dev tools" though can you clarify what you mean? Like what the response was in the request or something else?

[2019-10-09 21:41] sarahmaddox commented on #3727
@richardsliu @jlewi Is this landing in v0.7? If yes, we need to add a doc issue for it.

[2019-10-09 21:58] avdaredevil commented on #4241
I mean, what was the response payload, should be JSON. Looks something like:
![image](https://user-images.githubusercontent.com/5303018/66523594-22735d00-eaa5-11e9-9fcf-2a41e47f805c.png)

[2019-10-10 02:16] jbottum commented on #4239
@swiftdiaries @holdenk if its the same as 4232, can we add this to 0.7 and close it ?

[2019-10-10 02:24] holdenk commented on #4239
I'm not sure? It doesn't look like 4232 changes the help print out, but maybe it's generated differently than I expect.

[2019-10-10 02:36] jbottum commented on #3610
@ptrckbnck can we close this ?

[2019-10-10 02:40] jbottum commented on #3789
@lxl910915 did you find a solution for this?

[2019-10-10 03:39] jlewi commented on #3727
@sarahmaddox we will likely "soft" launch it in 0.7; i.e. we will explicitly not document/advertise it until we know its working reliably and have worked out all the kinks.

[2019-10-10 03:41] jlewi commented on #4254
Duplicate of kubeflow/kfctl#45

@yanniszark this is a bug see kubeflow/kfctl#45.

[2019-10-10 03:41] #4254 closed

[2019-10-10 04:19] cyrilthank commented on #4184
can you please advise which version kubernetes i could try this with and get the PoC moving

requesting since as per
https://github.com/helm/helm/issues/6374#issuecomment-539978846
helm works fine with 1.15.4
but for me kubeflow has been failing since 1.15.3 and 1.16.02

[2019-10-10 04:53] jlewi commented on #4259
@Toeplitz How did you deploy Kubeflow? GKE uses the VM service account by default to pull GCR images. So you likely don't have a VM service account with proper IAM roles or you haven't set the OAuth scopes on the VM.

Alternatively you can set image pull secrets
https://medium.com/@michaelmorrissey/using-cross-project-gcr-images-in-gke-1ddc36de3d42

[2019-10-10 04:57] jlewi commented on #4239
This doesn't look to be fixed at ec929c11b11951f6fd350f6552778f0df26566e6

[code]

The problem is the help string is wrong. The help string is telling people to set "config=..." but it should be "--file="...

We need to fix the help string.

[2019-10-10 04:58] jlewi commented on #4239
Bump to P0 because we should fix before finalizing 0.7.

@swiftdiaries Could you send out a PR to update the help string please?

[2019-10-10 05:04] jlewi opened #4266 "[GCP] istio-ingressgateway failing health check on /healthz/ready"
/kind bug

I just deployed kubeflow using kfctl_gcp_iap.yaml from master.
When I checked the ingress the backend (istio-ingressready) was reported as unhealthy with 0 successful health checks.

The health check was set to /healthz/ready
which looks like the intended result
https://github.com/kubeflow/manifests/blob/21160c1463a46645a5b70e465988723ec1df6ccc/gcp/iap-ingress/base/config-map.yaml#L186

[2019-10-10 06:08] praveen049 commented on #3989
@hemantha-kumara

yes, the problem was with the proxy. Now the image download are ok. Thanks

[2019-10-10 06:31] lxl910915 commented on #3789
@jbottum Sorry, we haven't.

[2019-10-10 07:13] Toeplitz commented on #4259
@jlewi I deployed using the CLI instructions https://www.kubeflow.org/docs/gke/deploy/deploy-cli/ with Oauth and I'm accessing kubeflow through https://<KFAPP>.endpoints.<project-id>.cloud.goog/

The service accounts are created:
kfapp-user@project.iam.gserviceaccount.com (has Storage Admin), kfapp-vm@project.iam.gserviceaccount.com (has Storage Object Viewer) so  that looks correct to me in that

[2019-10-10 11:29] saurabh24292 commented on #4005
The issue is same even for local environment. Can the docs be please updated in case they are not yet. And if the docs are already updated, this is probably a bug. Any workarounds? The only one I see is to be able to be root here.

[2019-10-10 13:15] jlewi opened #4267 "Missing 2.0 TF images and add semantic 0.7.0 tags to the jupyter images and update the config map"
/kind feature

**Why you need this feature:**
We should add 0.7.0 tags to the jupyter images for 0.7.0 and update the configmap in manifests to use those tags.

These images unlike other images are user facing so it makes sense to use pretty/semantics tags.

[2019-10-10 13:22] jlewi commented on #4267
Added the v0.7.0 tags to the following images

* gcr.io/kubeflow-images-public/tensorflow-1.14.0-notebook-cpu@sha256:fe174faf7c477bc3dae796b067d98ac3f0d31e8075007a1146f86d13f2c98e13
* gcr.io/kubeflow-images-public/tensorflow-1.14.0-notebook-gpu@sha256:895aa500ff09c9080e0755044e4fd9a3bd3dc3ae403415e220ebcc1dab09b6ef

It looks like the 2.0 images listed in the config map
https://github.com/kubeflow/

[2019-10-10 13:34] krishnadurai commented on #4249
Here are some PRs which we are looking to include for 0.7:

Including Dex Manifests:

- [ ] Upgrade Cert Manager kubeflow/manifests#369 kubeflow/manifests#362
- [ ] Upgrade Istio to 1.3.1 - Makes K8s 1.13+ necessary kubeflow/manifests#413
- [ ] Include Ambassador OIDC - @yanniszark will soon raise a PR with the manifest

[2019-10-10 13:37] jlewi commented on #4259
@Toeplitz I suspect you are running into an issue with the node auto-provisioner not setting the service account and scopes correctly.

Can you provide the output of

[code]

That should provide the name of the node its running on

Then do

[code]

Assuming you are running into problems with the node autoprovisioner here's how to fix this

Run the commands below to set the service account and oaut

[2019-10-10 13:48] jbottum commented on #3831
@ShyamSubramanian Arrikto's engineer is willing to consider this request for the roadmap, would you like to set-up some time to discuss by phone, perhaps today at 2pm or Friday at 3pm EST.

[2019-10-10 13:51] jlewi commented on #3772
@fediazgon You raise a good point. Wouldn't this be covered by conditions?

* The UI should use conditions on the Jupyter notebook to determine overall status of the notebook

   * E.g. the Jupyter notebook controller should define appropriate conditions Ready or NotReady
   * And the last condition should be continually updated by the controller based on whether the notebook is actually ready or

[2019-10-10 15:24] Tabrizian commented on #4267
@jlewi Sorry for the typo.

Could you please tag the image below too, so that I can create another PR that updates the image names with tags?

https://console.cloud.google.com/gcr/images/kubeflow-images-public/GLOBAL/tensorflow-2.0.0a0-notebook-gpu@sha256:5c68ba7d700814c3deb8f91787ee2dd95c1ad5d3e2a11e8b328d55ca507c7b20/details?tab=info

[2019-10-10 17:11] Toeplitz commented on #4259
@jlewi Thank you for the answer. It turns out that the accounts where not setup correctly on the autoprovisioned gpu nodes. Your suggestion fixed the issue.

Am I wrong to think this should be added to the default setup?

[2019-10-10 17:28] quanjielin commented on #4266
/cc @quanjielin

[2019-10-10 18:25] #3923 closed

[2019-10-10 21:59] jlewi commented on #4267
Thanks @Tabrizian

I also tagged
gcr.io/kubeflow-images-public/tensorflow-2.0.0a0-notebook-cpu@sha256:e45be757280cd44c468892305fd10dd76098f01ad4706f0a8be1387051d9baca

[2019-10-10 22:06] jlewi opened #4269 "[GCP] Backend ingress timeout not set"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

The timeout on the backend associated with the GCP ingress should be changed to 3600.
[k8s_container_cluster_name_jlewi-v07-001_namespace_name_jlewi__logs__2019-10-09T09-32.csv.txt](https://github.com/kubeflow/kubeflow/files/3714804/k8s_container_cluster_name_jlewi-v07-001_namespace_nam

[2019-10-10 22:13] jlewi commented on #4266
In my 0.7.0 cluster the docker image for the ingress gateway is

[code]

[2019-10-10 22:18] jlewi commented on #4266
On my 0.6 cluster image is

[code]

[2019-10-10 22:54] jlewi commented on #4269
/assign @gabrielwen

[2019-10-10 23:02] jlewi commented on #4259
@Toeplitz yes we should be configuring the default service account on the auto-provisioned pool.

I don't think we set the default settings for the NAP pool; the whole idea of NAP is that it picks a VM size based on the resources requested by your pod.

/cc @amygdala

[2019-10-10 23:03] jbottum commented on #4221
@richardsliu I added triage, can we close ?

[2019-10-10 23:04] jlewi opened #4270 "[kfctl] 0.7 not creating a default profile"
/kind bug

**What steps did you take and what happened:**
I used kfctl built from ec929c11b11951f6fd350f6552778f0df26566e6 to deploy using kfctl_gcp_iap.yaml

I expected a profile to be created automatically by the CLI but it was not.

[2019-10-11 02:22] jlewi commented on #4270
@kunmingg, @gabrielwen said you might have some insight here?

Was this an intentional change or is this a bug due to all the refactoring?

I think we should keep this behavior to match 0.6 behavior.

[2019-10-11 03:26] kunmingg commented on #4270
We can create default profile through an entry in manifests:
https://github.com/kubeflow/manifests/pull/493/files#diff-54be2f30a4a3a41da1eb4c1d33cdc0f1
Once the PR merged, user will have default profile.

[2019-10-11 03:28] Ark-kun opened #4273 "Notebook namespace UX issue"
It's impossible to set the namespace in the notebook instance creation form.

![image](https://user-images.githubusercontent.com/1829149/66622428-6d23d080-eb9c-11e9-9ce2-760d691957eb.png)

[2019-10-11 06:11] zhangzewen opened #4274 "gcr.io/kubeflow-images-public/katib/v1alpha2/katib-manager:v0.6.0-rc.0 can not start container"
/kind bug

**What steps did you take and what happened:**
I deploy kubeflow 0.6.2 on kubernetes 1.15.1,   pod "katib-manager-6944b56f96-bwbt4" can not start
[code]
and  this is the describe of this pod:

[code]

**What did you expect to happen:**
pod should running ,  it looks like it's the katib-manager 's image problem

**Anything else you would like to add:**
[Miscellaneous information that wil

[2019-10-11 06:49] jlewi commented on #4025
@mosn why isn't this a good-first-issue? It should be a pretty straightforward fix of the markdown docs and possible relocating some files in the source tree.

Where does docsy come into play here? Once you open a PR the presubmits will create a preview that can be used to verify its working.

[2019-10-11 07:18] jinchihe commented on #4133
Temporary suspend this due to it takes long time to build POWER image by cross-building for Python related steps, details:

1. For golang related Dockerfile (steps), If use cross compiling, that's OK for Golang banary compiling for POWER on X86_64, compiling time can be acceptance, so we can create multi-arch images. That's great.
2. For Python related Dockerfile (steps), that's need to long time

[2019-10-11 07:25] jlewi commented on #4270
@kunmingg How would this work exactly? In particular, who sets the email to use as the profile user? Does that get set automatically by kfctl so the experience matches 0.6? Or would a user have to explicitly modify their KFDef file.

[2019-10-11 07:26] jlewi commented on #4239
@ryandawsonuk what commit are you using?

/cc @swiftdiaries

[2019-10-11 07:28] jlewi commented on #4249
@krishnadurai Do we really need to upgrade ISTIO 1.3.1 now? That feels pretty risky to me to be incorporating that big of a change this late in the release cycle.

[2019-10-11 07:52] jlewi commented on #4273
@Ark-kun you can set it by selecting namespace in the dropdown box on the title bar.

/assign @kimwnasptd

[2019-10-11 08:26] ryandawsonuk commented on #4239
[9d4714ed3fef2d14574eb197a280a1c115f6f934](https://github.com/kubeflow/kubeflow/commit/9d4714ed3fef2d14574eb197a280a1c115f6f934)

[2019-10-11 10:27] krishnadurai commented on #4249
@jlewi I understand this concern. We can wait for the Istio upgrade and make changes where required for the dex configs to work with the present configuration of Istio.

[2019-10-11 11:56] ptrckbnck commented on #3610
yes, thank you.

[2019-10-11 11:56] #3610 closed

[2019-10-11 11:57] jmsking opened #4276 "can not visit the kubeflow web ui according to the official website"
/kind bug

**What steps did you take and what happened:**

**Then i run these command as follows:**

- NAME                     TYPE        CLUSTER-IP       EXTERNAL-IP   PORT(S)                                                                                                                                    AGE
- grafana                  ClusterIP   10.105.105.96    <none>        3000/TCP

[2019-10-11 13:23] zmdelima commented on #4199
@karlschriek your error is not related on the deployment of the kubeflow in the EKS Cluster but more on the resolution of your pods.

1. Please check all your pods via `kubectl get pods --all-namespaces`
2. `kubectl delete pod/<pod-name> -n <pod's namespace>` for every crashing pod

if `kubectl get ingress -n istio-system` returns `no resources found` please check your EKS VPC
[eksctl VPC docs her

[2019-10-11 13:27] saurabh24292 commented on #4005
Anything here?

[2019-10-11 14:06] nrchakradhar opened #4277 "Few long pending Jupyter, notebook controller PRs to be merged"
/kind question

**Question:**
There are few PRs related to Jupyter and notebook controller which are pending for quite some time now. For 0.7, merging them will help with code maintenance. Can this be looked into?

https://github.com/kubeflow/kubeflow/pull/3865 - Fix typo in notebook creation form
https://github.com/kubeflow/kubeflow/pull/3748 - remove jupyterhub code
https://github.com/kubeflow/k

[2019-10-11 14:24] Lijo050 commented on #4229
[code]

[2019-10-11 15:28] garrettwong commented on #3082
Do we have any examples/guidance of leveraging a Shared VPC network (one that does not belong to the current GCP project)?

We're adhering to Principle of Least Permission and replacement of the `default` network parameter the Deployment Manager scripts that I could find with (below format) does not seem to work.

- projects/${SHARED_VPC_PROJECT_ID}/global/networks/${NETWORK}

[2019-10-11 15:45] garrettwong opened #4278 "Deploy CLI `kfctl apply` fails due to `Network "default" requires specifying a subnetwork`."
/kind bug

**What steps did you take and what happened:**

- We have a requirement in our organization to use Shared VPC (an attached network that does not exist within the current GCP service project)
- I am following the instructions on https://www.kubeflow.org/docs/gke/deploy/deploy-cli/
- I went through the instructions and made it all the way to the `kfctl apply all -V` step.
- The apply fail

[2019-10-11 21:20] kunmingg opened #4281 "central dashboard profile creation: use dns1123 name when auto fill and check names and 2 profiles created"
/kind bug

On profile setup page, I got auto filled name `kunming-google.com`, which is not compatible with sub resources name.

We should apply [format check](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go#L110) to profile names that either user input or we auto-fill.

**Environment:**
- central dashboard version: v0.6.2

[2019-10-11 23:07] jrabiah commented on #3082
I was able to get this working by running through some of the steps from [this guide](https://cloud.google.com/kubernetes-engine/docs/how-to/cluster-shared-vpc)
Here are the main steps I had to follow:

1. Create the subnetwork and secondary IP ranges in the host project that you intend to use for the GKE cluster
2. When you attach the service project during shared VPC setup, check the box for "Ku

[2019-10-11 23:45] zhenghuiwang commented on #4227
I increased the timeout to 50 minutes but the endpoint wasn't ready still.

I guess the problem is still about the SSL certificate quota, which is at its limit right now. So I will later try to clean the usage and rerun this test.

[2019-10-11 23:50] kunmingg commented on #4281
And seems auto fill will change input field after user click `finish`.
It might be confusing as if user click `finish again`, they'll end up have 2 profiles created.

[2019-10-12 01:31] Ark-kun commented on #3442
Technically, that's not guaranteed
That command first installs tensorflow (which might be installing some old version of jupyterlab) and then asks to have any version of jupyterlab without `--upgrade`.
https://github.com/kubeflow/kubeflow/blob/5c4fc0b0afab30b7a43dae534db8d3a633ccf214/components/tensorflow-notebook-image/Dockerfile#L121

AFAIK, this issue is solved though.

[2019-10-12 01:45] Ark-kun opened #4284 "[0.7] Created notebook instance shows "no healthy upstream" on connect"
/kind bug

**What steps did you take and what happened:**
Installed KF 0.7 using kfctl with IAP
Created notebook instance in one of two namespaces.
When I click "Connect" I get: "no healthy upstream".
Some other notebook instances (same namespace, same deployment) work fine.

[2019-10-12 01:48] Ark-kun commented on #4284
/cc @jlewi

[2019-10-12 01:49] Ark-kun opened #4285 "[0.7] 404 Not found "You are requesting a page that does not exist!""
/kind bug

What steps did you take and what happened:
Installed KF 0.7 using kfctl with IAP
Created notebook instance in one of two namespaces.
When I click "Connect" I get: "404 Not found "You are requesting a page that does not exist!"".
Some other notebook instances (same namespace, same deployment) work fine.

![image](https://user-images.githubusercontent.com/1829149/66692901-c13fbb00-ec57-11

[2019-10-12 02:04] Ark-kun commented on #3442
I've verified that it's fixed in KF 0.7

[2019-10-12 02:04] #3442 closed

[2019-10-12 02:04] avdaredevil commented on #4281
The 2 profiles never succeed since only 1 profile can be made by a give name. Though yes, it's a less than ideal situation sometimes

[2019-10-12 03:11] jlewi commented on #4285
@Ark-kun What is the URL you are hitting?

[2019-10-12 03:20] jlewi commented on #4285
Also can you provide the output of

[code]

[2019-10-12 08:40] #4231 closed

[2019-10-12 13:11] nrchakradhar commented on #4077
@kunmingg @jlewi
I can give this a try. The workflows.libsonnet had this commented as WIP.
https://github.com/kubeflow/kubeflow/blob/2ea609c4bf963b988afaec387ce28abe5d2fa487/testing/workflows/components/workflows.libsonnet#L327
Profiles is now part of all kfdef.yaml s.
I can make this test in lines similar to test_jupyter.py.
Once this is working, I assume we can include creation/deletion of "pre-

[2019-10-12 17:04] nrchakradhar commented on #4277
/assign @lluunn @jlewi

[2019-10-12 18:23] jlewi commented on #4281
@avdaredevil I observed two profiles being created. Can we fix this?

[2019-10-12 18:39] jlewi commented on #4259
This should be fixed kubeflow/manifests#498. We just need to wait for the next 0.7 RC and then verify it is fixed before closing this bug.

[2019-10-12 18:42] jlewi commented on #4239
This should be fixed by #4282. Hopefully that will make into RC.1 and then we can verify its fixed and close this bug.

[2019-10-12 18:44] jlewi commented on #4196
@kkasravi any update on this? How does this impact our plan to move kfctl to kubeflow/kfctl?

[2019-10-12 18:58] kkasravi commented on #4196
@jlewi this is fixed.

[2019-10-12 18:59] kkasravi commented on #4196
no impact - see https://github.com/kubeflow/kfctl/pull/51

[2019-10-12 20:19] Tabrizian commented on #4267
@jlewi I guess we can now close this issue.

[2019-10-12 20:23] jlewi commented on #4269
It looks like starting with GKE 1.13 we can use backendConfig to set the timeout.
https://cloud.google.com/kubernetes-engine/docs/how-to/configure-backend-service

[2019-10-12 22:08] ardeshir commented on #4199
INFO[0000] Creating AWS infrastructure configs in directory /home/ec2-user/environment/eksworkshop-eksctl/aws_config  filename="aws/aws.go:314"
Error: couldn't generate KfApp:  (kubeflow.error): Code 500 with message: coordinator Generate failed for aws:  (kubeflow.error): Code 400 with message: Could not generate cluster configs under aws_config Error: Could not copy /home/ec2-user/environment/ek

[2019-10-12 22:09] ardeshir commented on #4199
$ kfctl version
kfctl v0.6.1-rc.2-1-g3a37cbc6

[2019-10-12 22:55] jlewi commented on #4267
@Tabrizian lets verify its fixed and then we can close.

[2019-10-12 22:59] jlewi commented on #4277
Thanks @nrchakradhar if the reviewers aren't responsive to PRs you can ping the reviewers and if they still aren't responsive reassign them to someone.

[2019-10-12 23:08] jlewi commented on #4277
@kimwnasptd Can you help get this PRs merged?

@nrchakradhar Have you reviewed and LGTM'd the PRs? Can you please do an initial review

It looks like @krishnadurai is handling #4216

[2019-10-12 23:10] jlewi commented on #4077
Yes I think we want something like test_jupyter.py
We now use this file to define the E2E workflow
https://github.com/kubeflow/kubeflow/blob/master/py/kubeflow/kubeflow/ci/kfctl_e2e_workflow.py

I didn't quite understand this.

[2019-10-12 23:13] jlewi commented on #4284
@Ark-kun can you provide the following information

[code]

Can you also provide the URl that you are hitting in the web browser?

[2019-10-12 23:15] jlewi commented on #3989
@praveen049 so is this resolved?

[2019-10-12 23:19] #3573 closed

[2019-10-13 00:59] jlewi commented on #4266
I just deployed Kubeflow from kubeflow/manifests 99246ddd4b2503b57b44a908ff0a7e41c4de4b0a which doesn't include kubeflow/manifests#491.

My endpoint was accessible just fine.

Here's my JWT policy

[code]

The GCP health check is set to /healthz/ready.

[2019-10-13 01:10] jlewi commented on #3932
We should check what the GCP backend service timeout is set to.

[2019-10-13 01:12] jlewi commented on #3851
@cyrilthank if you are having a problem please open a new issue describing which version of Kubeflow you are using, how you are running it, and what the problem is.

[2019-10-13 01:13] #3752 closed

[2019-10-13 01:16] jlewi opened #4288 "Jupyter Web App Better UI for Selecting GPUs"
/kind feature

**Why you need this feature:**
Right now to add GPUs users have to add a free form string like "{ "nvidia.com/gpu": 1}" in the extra resources field.

This isn't very intuitive. It would be better if we could have a form that would just allow a user to enter the number of GPUs.

/cc @kimwnasptd

[2019-10-13 01:35] jlewi commented on #4267
Screen shot of jupyter images

![jupyterimages](https://user-images.githubusercontent.com/777219/66709527-155fa380-ed1b-11e9-935e-137f93d68fb0.png)

I started a jupyter image with the 2.0 GPU image
[tf-2-gpu-0.pods.txt](https://github.com/kubeflow/kubeflow/files/3721336/tf-2-gpu-0.pods.txt)

I ran

[code]

Output was

[code]

Also checked it could see the GPU

[code]

Output was

[code]

So going

[2019-10-13 01:35] #4267 closed

[2019-10-13 01:57] jlewi commented on #4259
Using kubeflow/manifests 99246ddd4b2503b57b44a908ff0a7e41c4de4b0a

I used GPUs to force it onto an nap node. Unfortunately it still can't pull the image there is an authorization issue

[pod.describe.txt](https://github.com/kubeflow/kubeflow/files/3721353/pod.describe.txt)

Here's the node spec
[nap-vm.txt](https://github.com/kubeflow/kubeflow/files/3721355/nap-vm.txt)

[code]

So its using the ri

[2019-10-13 13:04] nrchakradhar commented on #4077
If my understanding is correct, we run e2e tests still in kubeflow namespace. For better multi-user experience tests, it may be good to create a specific test profile and run these tests. Please correct any incorrect understanding of mine.

[2019-10-13 18:59] ardeshir commented on #4199
$ kfctl version
kfctl v0.6.2-0-g47a0e4c7

[2019-10-13 19:23] zmdelima commented on #4199
@ardeshir I suggest you read my quoted comment below to @plaffitte's case.

As we are waiting for the resolution of the aws dependencies since the changes in the configuration directories for kfctl_aws.yaml

[2019-10-13 19:32] ardeshir commented on #4199
Thanks @zmdelinma, I have followed that work around.

[2019-10-13 19:42] sarahmaddox commented on #3518
@swiftdiaries A few questions from a docs point of view:

**Question 1:** Please would you describe the new sequence of commands needed to install Kubeflow?

I'm looking to update the following docs (issue https://github.com/kubeflow/website/issues/1226):

* https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/
[code]

* https://www.kubeflow.org/docs/gke/deploy/deploy-cli/
[code]

* Other sim

[2019-10-13 19:52] ardeshir commented on #4199
Thank you @zmdelima, using v0.6.2 and updated the targets as mentioned above got me past
* $ kfctl generate all -V
But kfctl apply all -V  fails

INFO[0002] creating Service/istio-ingressgateway         filename="kustomize/kustomize.go:447"
Error: couldn't apply KfApp:  (kubeflow.error): Code 500 with message: kfApp Apply failed for kustomize:  (kubeflow.error): Code 500 with message: couldn't cre

[2019-10-13 19:56] zmdelima commented on #4199
@ardeshir that error means your istio-ingress pods are occupying the 31380 port, what I usually do is:

[code]

[2019-10-13 20:01] jbottum commented on #4175
@Akashdesarda can you please provide some examples of users segments (and their size) that will use this feature request i.e. are there a lot of folks needing this?

[2019-10-13 20:04] ardeshir commented on #4199
Thanks!  @zmdelima cleared istio-system and applied once more, and all the pods are running now. $ kubectl get pods -n kubeflow   shows them all running!

[2019-10-13 22:30] dping1 commented on #4199
I was able to follow the workaround to install Kubeflow on EKS 1.14.  But the notebook-controller-deployment kep on crashing.  The log had the following error message in it

2019-10-13T22:20:03.059Z	INFO	controller-runtime.metrics	metrics server is starting to listen	{"addr": ":8080"}
2019-10-13T22:20:03.060Z	INFO	controller-runtime.controller	Starting EventSource	{"controller": "notebook", "sourc

[2019-10-14 03:09] praveen049 commented on #3989
Hi @jlwei yes, the issue is fully resolved.

Thank you.

[2019-10-14 03:33] jlewi commented on #3518
We are removing init entirely. Generate is being renamed build.

On GCP the command would be

[code]

   * Project, zone, and email are inferred automatically from gcloud settings
   * User can also explicitly set these by downloading kfctl_gcp_iap.yaml, editing it, and then calling apply on it.

Advanced mode would be

[code]

   * So compared to v0.6; a user doesn't have to always run build befo

[2019-10-14 03:45] swiftdiaries commented on #3518
For the default installation on k8s,
[code]

[2019-10-14 03:53] swiftdiaries commented on #3518
@jlewi
Added an E2E test for both the use cases.
There are a couple of PRs out for fixes:
- [ ] https://github.com/kubeflow/kubeflow/pull/4287
- [ ] https://github.com/kubeflow/kubeflow/pull/4279
- [x] https://github.com/kubeflow/kubeflow/pull/4275
AFAIK, that should cover it for 0.7.
There is some cleanup that should be done but that'll be part of kfctl 1.0.

[2019-10-14 04:26] cyrilthank commented on #3851
Thank you Jeremy for your reply 
Short question
Which version of Kubeflow worksWith which version of Kubernetes 
We are trying to get a PoC done and so aren’t picky on the latest features currently we are dead duck due to several issues some pertaining to Kubernetes apiversion issues
Thank you
Cyril 
    On Sunday, October 13, 2019, 6:42:48 AM GMT+5:30, Jeremy Lewi <notifications@github.com> wrote

[2019-10-14 06:09] shanidchamal commented on #4205
I got this same problem while installing Multi-user, auth-enabled Kubeflow with kfctl_existing_arrikto on kubernetes version 1.15.4
solved it by running kfctl as non-root

[2019-10-14 09:23] Lijo050 opened #4290 "kubeflow namespace not getting deleted"
/kind bug

I'm not able to delete Kubeflow and free the pvc.
[code]
[code]
Is there any other way to clean and free up the resources?

[code]
Environment:

Kubeflow version: latest from the kubeflow master branch with patch #3881
Kubernetes platform: Azure
Kubernetes version:
Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.0", GoVersion:"go1.12.9", Compiler:"gc", Platform:"da

[2019-10-14 10:27] meandmymind commented on #3767
For those looking for an easy hack, I guess following will help
`kubectl delete all -n istio-system --all`

[2019-10-14 11:05] Akashdesarda commented on #4175
Think of a scenario,
 I want to limit my GKE cluster to create a specific type of machine. I can achieve this very easily by making changes like initialNodePool in gcp_config.yaml (which is generated using the CLI method)
But using the UI method I don't have any direct control over GKE and what machine it is going to spin up. I think a lot of people would be using this to have a better control ove

[2019-10-14 11:57] kimwnasptd commented on #4277
Yes, will start by reviewing #3865 #3748 and #4098

[2019-10-14 13:18] #3939 closed

[2019-10-14 13:58] GDegrove opened #4291 "Cannot generate cluster with seldon-core as overlay app"
/kind bug

**What steps did you take and what happened:**
I'm reporting a bug with the version 0.6.2 of kfctl

I followed the tutorial on how to deploy kubeflow with seldon-core for the model serving.
When I generate the deployment with
`kfctl init ${KFAPP} --project=${PROJECT} --config=${CONFIG} -V`
and after
`kfctl generate all -V --zone ${ZONE}`
I do not see seldon deployment in the available C

[2019-10-14 15:19] Toeplitz opened #4292 "Cannot create artifact when using func_to_container_op"
/kind bug

**What steps did you take and what happened:**
Trying to create a simple artifact and make it display in "Run output" for a pipeline

The following code is used to create the pipeline:
[code]

**What did you expect to happen:**
The pipeline job compltes as expected, but there is noehting in "Run output".

**Environment:**

- Kubeflow version: build commit 812ca7f
- kfctl version: kfctl

[2019-10-14 15:43] yanniszark opened #4293 "kfctl: existing_arrikto: change embedded KfDef to pointer"
/kind feature

The existing_arrikto code is embedding the KfDef inside the existing struct.
Change this to a pointer, so that changes are propagated to that instance.

/good-first-issue

[2019-10-14 15:46] yanniszark opened #4294 "testing: add missing deployments/statefulsets to kf_is_ready_test.py"
/kind feature

**Why you need this feature:**
The `kf_is_ready_test` checks if certain Kubeflow deployments/statefulsets are ready.
The current list is missing a lot of the installed deployments/statefulsets (eg katib, metadata, some pipelines, admission webhook, ...).

**Describe the solution you'd like:**
Add the missing deployments/statefulsets to kf_is_ready_test in order to improve coverage.

[2019-10-14 15:47] yanniszark commented on #4294
/priority p1

[2019-10-14 16:18] abhi-g commented on #3703
Can we close this issue @jlewi @gabrielwen or still work remaining>

[2019-10-14 16:27] kimwnasptd commented on #3657
I can try and take that one.

I'll start with some basic end-to-end cases such as creating and deleting Notebooks and will gradually try to add more advanced ones.

/assign kimwnasptd

[2019-10-14 16:29] kimwnasptd commented on #4288
Yes, makes sense
/assign kimwnasptd

[2019-10-14 16:54] ryandawsonuk commented on #4239
I'm now using commit 67aa5e8bd0e8a429b710df4086f2fd1ccafa02c8. Now when I do `kfctl build -f https://raw.githubusercontent.com/kubeflow/manifests/master/kfdef/kfctl_existing_arrikto.yaml` I get:

[code]
And if I instead reference a local kfdef yaml file then I get:
[code]

[2019-10-14 17:27] quanjielin commented on #4266
that's weird, since ```exact``` should be a full string match(not prefix match) -

[code]

[2019-10-14 19:34] HarryCaveMan commented on #4199
So I used the repo workaround and got istio copied and it failed again trying to coppy "katib-db"

[2019-10-14 19:54] lluunn commented on #4277
reviewing them, thanks

[2019-10-14 19:54] #4277 closed

[2019-10-14 20:27] jlewi commented on #4294
Repasting my comment from #4154

I don't think we want one monolithic test. This prevents us from

* Having fine grained visibility into which services are causing problems
* Increases the likelihood of flakes
* Decreases our ability to skip or mark as expected flaky services

With pytest we can easily break this up into multiple test functions e.g.

[code]

We can then use the pytest annotations

[2019-10-14 21:07] gabrielwen commented on #3703
it's still WIP.

[2019-10-14 21:24] elviraux commented on #3962
@AnnieWei58 is it still relevant to you?

[2019-10-14 21:26] zhenghuiwang commented on #4227
same issue as in https://github.com/kubeflow/kfctl/issues/42

Just tried the endpoint test when the quota is enough.(For last a few days the quota was full 200/200) The IAP endpoint was ready in ~20 mins and all tests passed.

I think we are can close this issue now.

I checked the cron Job on releasing the resources: it does seem to do its job. Some SSLs were held not to be deleted because of bei

[2019-10-14 21:45] elviraux commented on #2337
@jlewi were you able to help @MrXinWang ?

[2019-10-14 22:13] sarahmaddox commented on #3518
Doc updates in progress: https://github.com/kubeflow/website/pull/1234 (not yet ready for review).

[2019-10-14 22:23] kunmingg commented on #4281
@avdaredevil
I think 2 profiles being created is because after user click "submit", auto-fill will change the profile name, and user thought it was auto-suggestion and click again.
So they end up have 2 created.

[2019-10-14 22:25] jlewi commented on #4266
Lets verify with the next RC; 0.7.0RC.1 that

1. The endpoint is accessible
1. GCP health check is set to /healthz/ready
1. That JWT policy is set to allow /healthz/ready

If all of that is working then we can close this bug.

[2019-10-14 22:29] jlewi commented on #4239
@ryandawsonuk  for IAP i think that's working as intended you need to set the environment variables like the error message is telling you.

For existing_arrikto I suspect its related to  #4293

/cc @yanniszark

[2019-10-14 22:29] #4196 closed

[2019-10-14 22:41] jbottum commented on #3517
@aakashbajaj did you get this resolved ?

[2019-10-14 23:09] jbottum commented on #4042
@ozturkosu Hi, did you get this resolved or is it still an open question ?

[2019-10-14 23:32] swiftdiaries commented on #4239
This is a workflow that works but it doesn't use the `existing_arritko` config.
[code]

[2019-10-15 00:53] jbottum commented on #3620
@IronPan is this issue resolved or should it be evolved ?

[2019-10-15 01:14] avdaredevil commented on #4281
Ok all of these are tackled in #4283

[2019-10-15 01:50] richardsliu opened #4300 "Document how directory structure is being used by kfctl for deployments and upgrades"
Need to document/clarify how the directory is inferred by kfctl under different contexts.

For deploying, kfctl can be used while inside an empty directory to create a new KfApp locally:
[code]

But for upgrades, this won't work since we have to first find a reference to the old KfDef. The code is performing a directory walk starting at the current working directory, which means we have to call up

[2019-10-15 01:53] richardsliu opened #4301 "Upgrade fails when baseconfigpath is a directory path instead of HTTP uri"
Suppose that this is our upgrade config:

[code]

This will fail with the following error:

[code]

[2019-10-15 02:05] richardsliu commented on #4301
Looks like this may be similar to https://github.com/kubeflow/kfctl/issues/49. The path has to be either:
1. A HTTP URI, or
2. An absolute path, start with `//`.

[2019-10-15 02:15] richardsliu opened #4302 "Upgrade expects kfdef version to match with the specified version in KfUpgrade file"
For example, suppose this is the KfUpgrade file:
[code]

This means when we apply, kfctl will look for a KfDef with name `kf-latest` and version `v0.7.1`. If one is not found, then we will create one.

This logic assumes that `version` is set to `v0.7.1` in the base config file. Otherwise, we will still generate a KfApp but with the wrong KfDef version. This will cause the apply step to fail.

[2019-10-15 02:23] richardsliu commented on #4302
To fix this, after merging the KfDef with previous values, kfctl should overwrite the `version` field in the generated app.yaml with the version string specified in the upgrade yaml.

[2019-10-15 02:27] richardsliu commented on #4302
We should also clearly document what the user is expected to provide here. Under the current design, `name` is required for both old and new KfDefs. But for the new KfDef, we must also provide the version string.

[2019-10-15 02:55] jlewi commented on #4259
So I confirmed with node autoprovisioning team and there is a known issue.

The next release of GKE will support setting both service account and scopes.

So here's where things stand

* In 0.7.0 we will set the service account
* In 0.7.0 users will still need to run the gcloud command to set scopes on NAP

[code]

* In 0.7.X once GKE has rolled out the fix to allow setting both we will update our

[2019-10-15 04:15] mosn commented on #4285
I think this happens when the custom notebook does not have the extension properly populated. at least to me happens the ARG in Dockerfile

[2019-10-15 04:20] mosn commented on #4025
@jlewi I will give it another shot. I guess I am a bit confused with the Hugo project and it backfired here.

[2019-10-15 04:24] mosn commented on #4276
could you please check the backend pod and see if it crashes? in such case you need to duplicate the admin secret in istion namespace as well.

[2019-10-15 06:56] jmsking commented on #4276
Yeahh, i find the pod is ErrImagePull.

because i am in china, so i can't visit the gcr.io, but i upload the needed image to nodes, for example: i have upload the image gcr.io/kubeflow-images-public/ingress-setup:latest in all nodes.

**$ docker images | grep gcr.io/kubeflow-images-public/ingress-setup**
gcr.io/kubeflow-images-public/ingress-setup                   latest

[2019-10-15 07:05] mosn commented on #4276
Have you tried the [documentation](https://www.kubeflow.org/docs/other-guides/kustomize/)
Also `${REPO}/components/` contains file which describes this in detail.

If this helped, please consider closing the issue.

[2019-10-15 07:14] jmsking commented on #4276
Thanks for your rapidly reply.

i have installed the kubeflow according to this documentation you provided, and i have execute:
 kfctl init, generate and apply operation in order
but sone backend pod is ErrImagePull in kubeflow namespaces

[2019-10-15 07:34] pavelzhurov commented on #3131
I've met the same issue with the storage class and found a flaw in the code which causes this issue. (I used kubeflow v0.5.3, but found this bug in the latest 0.5 version)
In the components/jupyter-web-app/kubeflow_jupyter/common/api.py there is a function:
[code]
`annotations` variable can be None, and if the default storage class is not the first in the list, this code will try to get "key" from

[2019-10-15 08:22] guo897654050 commented on #1749
@tlkh i also meet this problem ,how to solve this problem

[2019-10-15 09:50] krishnadurai commented on #4160
@yanniszark
We are looking forward for Ambassador OIDC to be in within the 0.7 release.
I hope this will be accommodated.

[2019-10-15 10:45] yanniszark commented on #4160
@krishnadurai of course, this will be addressed promptly :smile:

[2019-10-15 11:09] ryandawsonuk commented on #4239
@swiftdiaries I'm trying that workflow now. It doesn't error but for me it doesn't generate any yaml either. (Using [2b5707c6fffae3f7a14332673dacad72f1c27ffa](https://github.com/kubeflow/kubeflow/commit/2b5707c6fffae3f7a14332673dacad72f1c27ffa))

[2019-10-15 11:39] ShashankBlr commented on #2141
@woop What's the status of 3 requirements which you listed in your message on Aug 19? Which of these features will be part of 0.7? Looking forward to see End-to-End example with Kubeflow.

[2019-10-15 11:41] yanniszark commented on #4239
Hi @ryandawsonuk!
I have deployed existing_arrikto from the latest master (fedf5d969d8441d057aa04fa5e993e04cd15b77b) with the following:

[code]

[2019-10-15 11:58] krishnadurai commented on #4160
@yanniszark thanks

[2019-10-15 12:23] tlkh commented on #1749
Seems it can be a directory issue if you manually `cd` wrongly somehow. Try restarting from scratch and follow the instructions more carefully.

[2019-10-15 12:33] #4293 closed

[2019-10-15 13:03] JohannesTK commented on #4199
I'm getting no address for the ingress with the proposed solution:

[code]

Any solutions for that?

[2019-10-15 13:15] holdenk commented on #4043
I'm running into this on 0.7 RC1.

Describing the baclend service:

I tried bumping the timeout as suggested by @jlewi but its still failing.

[2019-10-15 13:50] krishnadurai commented on #4229
@Lijo050 it looks like your issue could be similar to: istio/istio#12446

Could you see if you have provied enough resources for your deployment to succeed? I use a minimum of 6 VCPU cores and 22.5 GB RAM across a 3 node cluster for a Kubeflow deployment.

Looking at your pod statuses above looks like `istio-pilot` pod is not ready. Is it also reporting liveness probe failure?

[2019-10-15 14:11] yanniszark commented on #3839
/remove-priority p2
/priority p1

[2019-10-15 15:05] ryandawsonuk commented on #4300
Would be good to mention the purpose of the $KFAPP directory too. I've done a `kfctl build` and found that the directory is empty. It does create a `kustomize` directory and a `.cache` directory. Presumably these sibling directories are important as I can then do a `kfctl apply` without an error. But it's not intuitive that the directory is empty.

[2019-10-15 15:38] holdenk opened #4306 "Use Spark from Jupyter"
/kind feature

**Why you need this feature:**
I'd like to be able to use Spark from the Jupyter notebook in client mode. I used to be able to do this before istio.

**Describe the solution you'd like:**

Spark launches the executors, but then the executors can not connect back to the driver program.

**Anything else you would like to add:**

[2019-10-15 15:39] Toeplitz commented on #4292
I'm submitting this issue to kubeflow/pipelines.

[2019-10-15 15:39] #4292 closed

[2019-10-15 16:07] holdenk commented on #4266
FYI I'm seeing something vaguely similar on 0.7RC1, I don't have the time to debug today though since it's Spark summit this week.

[2019-10-15 16:11] jbottum commented on #3629
@carmine @sarahmaddox since we are moving to kfserving, i think that most of our efforts will be focused there.   I do believe that the tfserving docs should be up to date but in a priority call, I think that we will see more focus on kfserving.    Can we close this issue or define a path to close it ?

[2019-10-15 16:56] sarahmaddox commented on #3629
Hallo @jbottum My focus is on the website docs (https://www.kubeflow.org/docs/components/serving/tfserving_new/) which we do need to keep up to date for Kubeflow users.

For the doc on GitHub (https://github.com/kubeflow/kubeflow/blob/master/docs_dev/tf_serving.md) I'd recommend that we remove all user-focused content and link to the website docs instead. The GitHub README can then contain contrib

[2019-10-15 16:59] #4302 closed

[2019-10-15 17:07] nrchakradhar commented on #4306
It's possible to selectively disable istio sidecar injection which might help. It should then be back to without istio.

[2019-10-15 21:11] gabrielwen commented on #4269
@jlewi should we close this issue?

[2019-10-15 22:58] kunmingg opened #4310 "kfctl build: support args project; email; zone"
/kind feature

**Why you need this feature:**
In kubeflow 0.7 user will build kfctl app by `kfctl build --config=<remote/template>`
Now kfctl only extract `project; email; zone` from gcloud config.

It would be nice if user can directly overwrite `project; email; zone` as args like kubeflow v0.6

**Describe the solution you'd like:**
[A clear and concise description of what you want to happen.]

*

[2019-10-15 23:00] gabrielwen commented on #4310
I think for this use case user needs to download the KfDef and overwrite spec for project/email/zone

all args were removed and it's intentional.

[2019-10-15 23:01] gabrielwen commented on #4310
the reason to remove args is because those are GCP specific.  we'd like to make them contained.

[2019-10-15 23:04] kunmingg commented on #4310
For user who is not familiar with kfctl, It's non-trivial effort to download KfDef and overwrite spec for project/email/zone.

With args user can build with 1 cmd.

[2019-10-15 23:20] swiftdiaries commented on #4227
Considering we seem to have some leakage, should the cleanup script have retries?

[2019-10-16 02:25] jlewi commented on #4269
@gabrielwen I think we should close this after deploying 0.7 with an RC and verifying that the timeout is set.

[2019-10-16 02:31] jlewi commented on #4043
@holdenk The fix https://github.com/kubeflow/manifests#513 didn't go in until after you filed your bug report.

Also note the fix is in kubeflow/manifests so its not just about the kfctl version you are using but the version of kubeflow/manifests you pick up.

[2019-10-16 02:35] jlewi commented on #3517
Duplicate of https://github.com/kubeflow/kubeflow/issues/4259

[2019-10-16 02:35] #3517 closed

[2019-10-16 02:37] jlewi commented on #4077
@nrchakradhar You are correct. If e2e tests are running in the kubeflow namespace (e.g. spinning up a notebook) that will likely cause problems.

Creating a specific profile is a good idea.

[2019-10-16 02:38] jlewi commented on #4059
Metadata is currently planned for 1.0 as part of Kubeflow 1.0. So I think this is the only bug we have.

/cc @zhenghuiwang

[2019-10-16 02:38] #3989 closed

[2019-10-16 03:35] woop commented on #2141
Hi @ShashankBlr.

Thank you for your interest in the project!

Feast 0.3 won't be included in KF 0.7. I believe the timelines were too tight. We will aim for the next release. Feast 0.3 will have an initial release out very soon.

In terms of the requirements above:

- The open source warehouse store won't be in 0.3, but we have a lot of demand for it so we will pick it up after the 0.3 release.
-

[2019-10-16 07:30] praveen049 opened #4314 "How to expose the inference pipeline REST API end point ?"
/kind question

**Question:**
[You can ask any question about this project.]
[my-pipeline.zip](https://github.com/kubeflow/kubeflow/files/3732961/my-pipeline.zip)

I have implemented a simple one stage ML inference pipeline. I have loaded the pipeline from the kubeflow UI and created a run. Everything seems to be ok - there are no error.

This pipeline contains one component which contains a conta

[2019-10-16 08:06] cyrilthank commented on #3851
@jlewi  can you please help with the below issues i have created for kubeflow

https://github.com/kubeflow/kubeflow/issues/4184
https://github.com/kubeflow/kubeflow/issues/4228

[2019-10-16 08:53] krishnadurai commented on #4314
@praveen049 could you try adding your Flask application's service file as a virtual service to Istio and then expose it via an istio ingress gateway? You could try adding this to the kubeflow's existing gateway as well.

[2019-10-16 09:36] holdenk commented on #4043
So I just redployed. Looking in my manifests now I can see https://github.com/kubeflow/manifests/pull/531/files is included.

The error message is different but the IAP enabler still isn't working:

[2019-10-16 10:28] vcarnogu commented on #3516
It seems that in version 0.6 the service account for `jupyter-web-app-deployment` is `jupyter-web-app-service-account` so I ties to patch that account with imagePullSecrets but still getting authorization error. I am pretty sure my Secret resource created correctly.

[2019-10-16 12:13] jlewi commented on #3822
@kunmingg Are all the manifest changes in #493? Are we just waiting on RCs for kfctl and kubeflow/manifests?

[2019-10-16 12:17] jlewi commented on #4239
I believe the issue is fixed in #4282.

This didn't make it into 0.7.0-rc.1 of kfctl.

So we need to wait for the next RC and then we can verify this is fixed.

[2019-10-16 12:35] jlewi commented on #4266
@richardsliu's issue looks like he might have be running prior to #513

  * We should no loner be using the script to set the timeout.
  * The line "echo Increasing backend timeout for JupyterHub" has been deleted.

Next steps

* We should get a green for test_endpoint is ready test #4227
* We need to verify with an RC that the health check is properly set

[2019-10-16 12:37] jlewi commented on #4227
@zhenghuiwang Any update on this?

We have a bunch of potential issues affecting IAP

* e.g #4266
* e.g. #4043

Using the post submits to ensure this is running reliable would be a huge help.

[2019-10-16 12:38] jlewi commented on #4270
@kunmingg Does your kfctl changes from yesterday have a fix for this?

[2019-10-16 12:52] jlewi commented on #4043
@holdenk Your problem looks different. Can you provide the output of

[code]

It looks to me like the BACKEND_NAME isn't getting set

[code]

So I suspect your ingress is failing to create the GCP backend for some other reason (insufficient quota)?

It would be good to confirm if that is the problem. If it is we should open up a separate issue to provide a more helpful error message in the logs.

[2019-10-16 13:19] yarcyarc commented on #3659
I seem to have the same problem. Initiated deployment via https://deploy.kubeflow.cloud/#/deploy. All deployments ok bar one, a `CrashLoopBackoff` for iap-enabler. I enclose a redacted log.

[code]

[2019-10-16 13:54] kierenj commented on #2287
I'm not on free tier - am using OAuth - but I see exactly the same as the above. Is there a recommende way forward - or is there something I can do to diagnose?

[2019-10-16 14:16] kierenj commented on #3659
Is anyone aware of a workaround / recipe that does work? I'm hitting the same. Thanks

[2019-10-16 16:02] yanniszark opened #4315 "admission-controller: allow imagePullSecrets in PodDefaults"
/kind feature

**Why you need this feature:**
We need this feature to satisfy the private registry use-case.
In the general use-case where you want to access a private registry from a K8s cluster, you have the following options:
1. Configure Docker credentials on each node. This isn't ideal as it makes images available to all users in all namespaces and it's also Docker-specific.
2. Use platform-s

[2019-10-16 16:48] parthmishra commented on #4314
@krishnadurai When exposing a REST API via istio ingress gateway, does that mean it's accessible from the cloud endpoint (assuming GKE deployment)? Or is it only accessible at the nodeIp:nodePort of the istio ingress gateway?

[2019-10-16 17:04] kierenj opened #4316 "Tried GCP UI install, hit #4043. Tried again with different settings, stuck with "Waiting for the kubeflow service endpoint to get ready..." but nothing deployed"
/kind bug

**What steps did you take and what happened:**
1. Followed the GCP UI installation instructions (with OAuth)
2. Encountered #4043
3. Deleted the cluster
4. Decided to try the GCP UI installation instructions (with username/password instead)
5. Got:

[code]

Note: there are NO clusters deployed at this point. I don't know what it's waiting for.

**What did you expect to happen:**
Kubeflo

[2019-10-16 17:36] lluunn commented on #4086
Let's leave this open and verify we have the metrics working.

[2019-10-16 18:12] kunmingg commented on #4270
Yes, close it now

[2019-10-16 18:12] #4270 closed

[2019-10-16 18:14] kunmingg commented on #4270
https://github.com/kubeflow/manifests/pull/493

[2019-10-16 18:14] kunmingg commented on #3917
We can close it as new profile now in manifests
https://github.com/kubeflow/manifests/pull/493

[2019-10-16 18:14] #3917 closed

[2019-10-16 19:36] wronk commented on #3659
Same issue here when running both the kubeflow CLI or UI examples on GCP. I haven't been able to fix it either.

[2019-10-16 19:51] gabrielwen commented on #3703
Fixing minor bugs.  Currently known bugs:
- [ ] nil pointer reference in gcp.go when populating errors.
- [ ] ingress doesn't have backends set up.

[2019-10-16 20:21] prodonjs commented on #3753
/close

[2019-10-16 20:21] #3753 closed

[2019-10-16 20:37] prodonjs commented on #3576
I'm not particularly well-versed in the best practices for Kubernetes application structuring, but it seems like this would be something to store in a ConfigMap.

The name of the ConfigMap could be `centraldashboard-custom-links` and its contents would be comma-separated pairs of links with their display text. Assuming there are only a handful of links, these could be injected to the centraldashbo

[2019-10-16 22:23] kunmingg commented on #4281
new image: gcr.io/kubeflow-dev/centraldashboard:v20191016-v0.7.0-rc.2-2-g4fdb2d1b

[2019-10-16 23:01] kunmingg commented on #4281
@avdaredevil
Seems register page is not auto-redirecting to dashboard main page after profile created?

[2019-10-16 23:11] avdaredevil commented on #4281
Are you sure the profile got created?

[2019-10-16 23:30] jlewi commented on #4315
Can't service accounts be associated with imagePull secrets?
https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#add-imagepullsecrets-to-a-service-account

And
http://docs.heptio.com/content/private-registries/pr-gcr.html

Is there an advantage to using an admission hook to inject image pull secrets as opposed to just attaching the secrets to the service account and

[2019-10-16 23:53] Ark-kun commented on #4285
https://kf07.endpoints.avolkov-31337.cloud.goog/notebook/avolkov/nb3/

`$ kubectl -n avolkov get notebook -o yaml nb3
`
[code]

[2019-10-16 23:56] #3719 closed

[2019-10-17 00:12] Ark-kun commented on #4284
[code]

[code]

[code]

[code]

[2019-10-17 00:50] richardsliu commented on #4239
On the latest RC:
[code]
and

[code]

[2019-10-17 00:51] richardsliu commented on #4239
This can be closed now.
/close

[2019-10-17 00:51] #4239 closed

[2019-10-17 03:45] yeya24 opened #4322 "bug when checking if the notebook needs to be culled"
/kind bug

**What steps did you take and what happened:**
In the current culling logic, we will first check whether the notebook pod exists. However, this pod maybe still in pending state so we cannot access its status.
So in this case, a better solution is to check whether this Service endpoint > 0, this means the pod is ready and accessible from Service.

I' d like to open a PR for it.
[code]

*

[2019-10-17 03:46] yeya24 commented on #4322
/assign

[2019-10-17 04:37] praveen049 commented on #4314
@krishnadurai
I have created the service using NodePort to expose the REST API and it seems ok

![image](https://user-images.githubusercontent.com/24820914/66977974-9a133e80-f0da-11e9-84e1-a3d9dc7842d1.png)

But curl to the port 31128 returns connection closed. I am attaching the pods describe.

[my-pipeline-pods-describe.txt](https://github.com/kubeflow/kubeflow/files/3737402/my-pipeline-pods-des

[2019-10-17 06:43] VishDev12 commented on #3659
I just ran across this issue. I deployed Kubeflow just yesterday and had no issues.
[code]
[code]
[code]
The endpoint at (project).endpoints.cloud.goog is up, but it simply shows
[code]

[2019-10-17 08:01] shaunc opened #4324 "How to install in Kubernetes under docker for Mac"
/kind question

**Question:**
[You can ask any question about this project.]

There are no instructions anywhere to install in an existing kubernetes installation. Can I just run `kubectl -f ...` or `kubectl -k ...`? (And if not, why? .. ok that's another issue :)). If so -- what should I install?

NB Tried instructions in https://github.com/kubeflow/website/issues/318 -- but they don't work. I as

[2019-10-17 08:17] AGKhalil commented on #3659
Same issue here, please advice.

[2019-10-17 08:23] ryandawsonuk commented on #3935
FWIW if you have istio sidecar injection on the namespace where you run kubeflow pipelines then you find argo jobs getting stuck - https://github.com/argoproj/argo/issues/1616. This does not seem to be on by default, just something to be aware of (I happened to turn it on and hit it).

[2019-10-17 10:13] Felihong commented on #3414
Hi, I just encountered a similar problem using Kubeflow v0.6.2. It is deployed under this instruction https://www.kubeflow.org/docs/gke/deploy/deploy-cli/ on GCP and the default TensorFlow notebooks work fine.

However, With a customised image (build with this Dockerfile: https://github.com/kubeflow/kubeflow/blob/master/components/tensorflow-notebook-image/Dockerfile) , there is a 404 error saying

[2019-10-17 10:44] devenjarvis commented on #4324
Hey @shaunc there is another open issue with writing up this documentation. It also wasn't working for me, but I commented on that issue with what did work for me to get Kubeflow running on docker for mac. Warning, it's not the most straightforward process, but now that it's been figured out it's not impossible to get working. Hopefully, that issue will move forward soon and there will be official

[2019-10-17 11:09] zhilingc opened #4325 "Notebook spec allows for periods '.' in the notebook name"
/kind bug

**What steps did you take and what happened:**
The notebook spec follows the standard resource naming convention (characters allowed in names are: digits (0-9), lower case letters (a-z), `-`, and `.`), but since the notebook controller tries to spawn a service with the same name, and service names cannot contain periods, the notebook will fail to start.

From the UI, this is all opaque

[2019-10-17 13:01] shaunc commented on #4324
Great -- thanks! ... though  a tool that claims to use GitOps should be installable via kubectl in whatever cluster.

[2019-10-17 15:10] shaunc commented on #3767
I haven't been able to install Kubeflow yet -- possibly related to this. Not only Istio is a problem. I'm now getting:
[code]
Maybe you should be prefixing namespace of other tools installed with `kubeflow-` (e.g. `kubeflow-istio-system`) and then they can be deleted to clean up. Optionally, then, you could offer the ability to share resources like istio on install. In this case, they wouldn't be

[2019-10-17 16:33] yanniszark commented on #3989
@jlewi how is this resolved?
Is the race-condition around CRDs fixed somehow?

[2019-10-17 16:58] yanniszark opened #4327 "kfctl: handle CRD / Webhook establishment"
/kind bug

**What steps did you take and what happened:**
Kfctl will sometimes fail because of the following reasons:
1. CRDs haven't become established yet and CR creation fails.
2. Admission Webhooks haven't become ready yet and CR creation fails.

**What did you expect to happen:**
Kfctl should have some mechanism to counter these kind of scenarios.

**Anything else you would like to add:**
Som

[2019-10-17 17:23] yanniszark commented on #4315
@jlewi correct, they can.
However, there isn't a good way to do this in a declarative way.
1. We would need to make changes to all applications in manifests (edit ServiceAccounts to include imagepullsecrets, maybe in a separate overlay). The big amount of ServiceAccounts makes this even more difficult.
2. In addition, using PodDefaults is IMO a better UX for users vs making them edit ServiceAccoun

[2019-10-17 17:54] shaunc commented on #4199
@HarryCaveMan -- any workaround? I'm facing that issue as well. tried manually removing katib-related resources, but no luck yet.

[2019-10-17 19:17] zhenghuiwang commented on #4266
The SSL certificate usage is under the limit. #4227 should not be an issue now.

[2019-10-17 20:18] jamesthegiantpeach opened #4330 "How do I get automatic onboarding?"
/kind question

**Question:**
[Here](https://www.kubeflow.org/docs/other-guides/multi-user-overview/) I see that users are automatically on boarded. However, I checked out kubeflow/kubeflow tag v0.6.2 and kubeflow/manifests tag v0.6.2 and applied this kfdef

[code]
and everything seems to work fine except for the automatic onboarding doesn't happen. I just authenticate with Dex and it shows me a n

[2019-10-17 20:49] #4227 closed

[2019-10-17 21:52] jamesthegiantpeach commented on #4330
nvm these repos ended up working fine sorry for the noise

[code]

[2019-10-17 21:52] #4330 closed

[2019-10-17 22:54] jlewi commented on #4281
@avdaredevil @prodonjs Is it possible to begin writing some quick and dirty tests with selenium or similar (related to kubeflow/testing#288)? Maybe we can just script a curl command?

[2019-10-17 23:09] avdaredevil commented on #4281
@jlewi to add some context on this. This issue only seems to happen on the first profile setup in the cluster, and the behavior being seen here is that:
- We hit `profiles-kfam` with the `create` call
- It replies with a success
- We query profiles, and get an **empty list** (*perhaps it hasn't propagated yet, and profiles-kfam early replies with a success*)
- Dashboard thinks profile creation fai

[2019-10-17 23:13] avdaredevil opened #4334 "[CentralDashboard v2] iFrame src updates when location hash changes on sub-apps"
#### follow-up to #4326

## About:
In @prodonjs words:

### Meta
/area centraldashboard
/area front-end
/assign @prodonjs
/priority p1
/cc @kwasi

[2019-10-18 00:45] yeya24 commented on #4025
I' d like to open a PR for this.

[2019-10-18 00:57] #4322 closed

[2019-10-18 01:12] jlewi commented on #4281
@avdaredevil Can we make the centraldashboard code more robust? Lets assume KFam isn't immediately consistent; how can the registration flow handle that better?

If the central dashboard just create a create call why does it immediately redirect back to the central dashboard and cause the looping behavior? Could the registration flow instead poll with some timeout to see if profiles returns non em

[2019-10-18 04:09] yeya24 commented on #4325
Two solutions for this issue.
1. Add a notebook name validation in notebook UI
2. Implement the check logic inside the controller, do some replacing for the invalid notebook name

I prefer the previous one.

[2019-10-18 05:44] zhilingc commented on #4325
I agree, the former is sufficient and should be easy to implement, since the main problem now is that kf UI users don't get any feedback when they submit an erroneous notebook name.

[2019-10-18 06:46] damejovanoski opened #4339 "Deploying a pipeline using a cli or curl?"
/kind question

**Question:**
I have a simple question is there a way not to use the UI, but use a library
or a cli or something that can deploy, trigger and retrieve artifacts from Kubeflow?

Does such thing exist or not?

[2019-10-18 07:30] SaschaHeyer commented on #3465
🤔 at least a feedback before closing issues would be nice.

[2019-10-18 07:57] damejovanoski commented on #4339
Found it, got lost in the documentation.

[2019-10-18 07:57] #4339 closed

[2019-10-18 11:24] krishnadurai commented on #4327
I would like to add that I'm facing:

While trying to create ClusterIssuer (a custom resource) for CertManager's deployment since the deployment for it is before the ValidationWebhookConfiguration is deployed.

Refer issue: kubeflow/manifests#543

[2019-10-18 13:55] mattiasarro commented on #4273
@jlewi for me that dropdown says "No namespaces"

![Screenshot 2019-10-18 at 2 50 03 pm](https://user-images.githubusercontent.com/53719/67100014-dc11b280-f1b6-11e9-8df6-db58a76c0c75.png)

I'm using `kubectl port-forward -n istio-system svc/istio-ingressgateway 8080:80` to access the UI.

[2019-10-18 14:11] #3839 closed

[2019-10-18 15:40] yanniszark commented on #4281
AFAIK, name is required to conform to DNS-1035.

[2019-10-18 15:50] plaffitte commented on #4199
@zmdelima Thanks for the tip but I still get the same error when running `kfctl generate all -v`...

[2019-10-18 16:09] holdenk opened #4342 "IAP enabler is broken / gcloud crashes in IAP enabler"
/kind bug

**What steps did you take and what happened:**
Deploy kubeflow on GCP, attempt to access IAP receive error

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

Here's the logs of the istio-enabler pod:

**Environment:**

- Kubeflow version: (version number can be found at the bottom left corner

[2019-10-18 16:45] JakeTheWise opened #4343 "0.7rc3 darwin tarball is actually linux"
looks like the linux tarball for 0.7rc3 accidentally was uploaded as the darwin tarball.

[2019-10-18 16:54] jlewi commented on #4315
TL;DR I think this raises 3 key questions

1. Is it better to attach image pull secrets to pods or service accounts?
1. is it better to inject secrets when building the spec/YAML file or using an admission hook?
1. What is the priority and how quickly do we need a short term solution?

@yanniszark Leaving aside the specifics of the use case for a second (i.e. Kubeflow private registry)

Attaching

[2019-10-18 17:10] JakeTheWise opened #4345 "v0.7.0-rc.3 "kfctl init is deprecated; please use new semantics" but what are the new semantics?"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Kubeflow version: (version number can be found at the bottom left corner of the Kubeflow dashboard):
- kfctl version: (use

[2019-10-18 18:26] Jeffwan commented on #4199
Sorry guys, I am kinda overwhelmed with other stuff recently and I will either
- give workaround on 0.6.2
- give 0.7 setups.
- Fix this issue with community folks

by this weekend.

[2019-10-18 19:45] lomori opened #4348 "kfctl apply (arrikto flavour) does not work with OpenShift clusters. Problem with istio install."
/kind bug

**What steps did you take and what happened:**

export PATH=$PATH:"<path-to-kfctl>"
export KFAPP="kubeflow"
export CONFIG="https://raw.githubusercontent.com/kubeflow/kubeflow/v0.6-branch/bootstrap/config/kfctl_existing_arrikto.0.6.2.yaml"
export KUBEFLOW_USER_EMAIL="admin@kubeflow.org"
export KUBEFLOW_PASSWORD="12341234"

kfctl init ${KFAPP} --config=${CONFIG} -V
cd ${KFAPP}
kfctl gener

[2019-10-18 20:09] #4290 closed

[2019-10-18 22:19] kkasravi commented on #4315
@jlewi @yanniszark

A ServiceAccount such as
[code]

I haven't explored the PodDefault idea, but ServiceAccounts like the one above
aggregate multiple credentials to access docker, gcr registries, github and gke.
Multiple ServiceAccounts can be added to a Rolebinding.subjects.

At least in one case under tekton, it expects to use a secret of a given name (kaniko) in the serviceaccount  in order to

[2019-10-18 22:23] jlewi commented on #4342
@holdenk Which version of Kubeflow did you use? What was the URL of the config file and what was the URL of the config file you are using?

It is having a problem contacting the metadata server. There was an issue with GKE and workload identity kubeflow/kfctl#48 ; that should be fixed in the newer configs by pinning to an older version of GKE.

What version is your cluster?

Can you also run the f

[2019-10-18 22:42] jlewi commented on #4281
Chatted with @avdaredevil

@avdaredevil and @prodonjs will look into adding some kind of polling mechanism to make the centraldashboard more robust in the event the backend API is not consistent.

ETA EOD Monday.

[2019-10-18 23:24] jlewi commented on #3518
It looks like the generate and init commands are still defined
https://github.com/kubeflow/kubeflow/blob/master/bootstrap/cmd/kfctl/cmd/generate.go
https://github.com/kubeflow/kubeflow/blob/master/bootstrap/cmd/kfctl/cmd/init.go

Can we change these commands so that we just print out an error and exit.

The error should be something like

The init command has been removed in 0.7. You can just run

[2019-10-18 23:24] holdenk commented on #4342
The version hashes are in the initial report. I'm using the IAP kfdef from manifests, but edited with my project, email, and such. I'll try updating kfctl as well tomorrow if it's a split fix (part in manifests part in kfctl)?

[2019-10-18 23:33] #4334 closed

[2019-10-18 23:35] jlewi commented on #4342
Thanks @holdenk my apologies I missed that.

This doesn't look like an issue with kfctl or our configs so upgrading is unlikely to help. The problem is that gcloud is unable to contact the metadata server.

Can we look at the logs of the gke metadata server objects

[code]

Could you also try forcing a restart of the iap-enabler pod by deleting it?

Lets also try running a new gcloud pod to see if

[2019-10-18 23:41] swiftdiaries commented on #4343
Added a fix here: https://github.com/kubeflow/kubeflow/pull/4308

[2019-10-18 23:43] swiftdiaries commented on #3518
/assign @swiftdiaries

[2019-10-18 23:50] holdenk commented on #4342
So the metadata service logs look ok:

Deleting the IAP pod and seeing it re-launch and it seems to still not have the backend but the gcloud command succeeds:

Running the cloud-sdk pod also seems to work:

[2019-10-18 23:51] holdenk commented on #4342
I'll leave it to run overnight if maybe something needs to settle, happy to do more debugging tomorrow. Or if it makes sense I can blow away and start with a new version if we think this is fixed by something.

[2019-10-19 00:12] jlewi commented on #4342
@holdenk replied in slack that after bouncing the IAP pod; gcloud was able to contact the metadata server and get the config.

Its unclear whether killing the pod is necessary or if just restarting the container would be sufficient.

If we could fix it just by restarting the container then we could just exit in the event of problems contacting the metadata server.

[2019-10-19 00:15] #4025 closed

[2019-10-19 01:04] swiftdiaries commented on #3518
PR: https://github.com/kubeflow/kubeflow/pull/4351

[2019-10-19 10:58] krishnadurai commented on #4327
/reopen

[2019-10-19 11:01] krishnadurai commented on #4327
@yanniszark looks like the exponential backoff does not completely resolve this issue.
I'm still running into this error:

[code]

While deploying cert-manager. Looking into how we can solve this.

[2019-10-19 12:17] #3759 closed

[2019-10-19 12:36] holdenk commented on #4342
To be clear while it get metadata, the IAP gateway did not come up.
It might make sense to change this script to exit on failure so the pod restarts automatically.

[2019-10-19 13:40] yanniszark commented on #4327
@krishnadurai it looks like the Retry functionality is not working.
It seems that kfctl uses os.Exit() when encountering an error.
I guess that's to be expected, since it's a CLI tool.

From comments in the code, I've seen that this behaviour can also be changed to a panic.
This could work for us. For example, the apply.Apply() function could recover the panic and return an error instead.
Will loo

[2019-10-19 14:20] krishnadurai commented on #4327
@yanniszark I concur with you on these findings. apply.Run() seems to be panicking without returning an error.

[2019-10-19 18:43] shanidchamal commented on #4345
@JakeTheWise see #3518

[2019-10-19 18:55] shanidchamal commented on #4284
@Ark-kun  seems like the docker image gcr.io/kubeflow-images-public/tensorflow-2.0.0a-notebook-cpu:v-base-ef41372-1177829795472347138 is not present in your cluster and it is not getting pulled as you can see the ImagePullBackoff error

[2019-10-19 19:05] shanidchamal commented on #4285
this error happened to me when using custom notebooks that is locally built.
i dont know the cause but, i could get it working by deleting the notebook, recreate it with different name and connecting it as soon as it is up. sometimes i had to do this 2 to 3 times. after it gets working, no issues at all, works normal.

[2019-10-19 19:10] shanidchamal commented on #4285
and if i immediately connect to a notebook that's just setup, i'll get no healthy upstream message, and need to refresh page till it comes alive. so i concluded it as some delay.

[2019-10-20 06:33] jmsking commented on #2633
Hi,@jlewi, i am in China, and i have already pull all needed images to work nodes, and i need modify the imagePullPolicy from "Always" to "IfNotPresent", when i execute:
**$kfctl generate all -V**
**$cd $KFAPP**
**$grep -r "Change to IfNotPresent"**
[code]
**my question is: need i only change the imagePullPolicy of these files from "Always" to "IfNotPresent"?**

my kubeflow' version is v0.6.2

_An

[2019-10-20 06:35] jmsking opened #4353 "ErrorImagePull in China"
Hi, i am in China, and i have already pull all needed images to work nodes, and i need modify the imagePullPolicy from "Always" to "IfNotPresent", when i execute:
**$kfctl generate all -V**
**$cd $KFAPP**
**$grep -r "Change to IfNotPresent"**
[code]
**my question is: need i only change the imagePullPolicy of these files from "Always" to "IfNotPresent"?**

my kubeflow' version is v0.6.2

_Any help

[2019-10-20 07:39] Jeffwan opened #4354 "Kubeflow AWS 0.7 issues"
/kind bug

We have few issues open and need to be resolved for 0.7. Create this issue to track AWS specific bugs and issues.

**Environment:**

- Kubeflow version: (version number can be found at the bottom left corner of the Kubeflow dashboard):
- kfctl version: (use `kfctl version`): 0.7
- Kubernetes platform: (e.g. `minikube`)
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc

[2019-10-20 08:44] Jeffwan opened #4355 "Missing plugin: aws set aws plugin defaults error"
/kind bug

**What steps did you take and what happened:**

[code]

Check the code
https://github.com/kubeflow/kubeflow/blob/ad0893ee39b676afbfce15e9537bb845c67c9028/bootstrap/pkg/apis/apps/kfconfig/types.go#L217-L219

In aws.go, we still pass `aws`
https://github.com/kubeflow/kubeflow/blob/ad0893ee39b676afbfce15e9537bb845c67c9028/bootstrap/pkg/kfapp/aws/aws.go#L100

Use value here instead,
https:/

[2019-10-20 08:46] Jeffwan commented on #4354
[] https://github.com/kubeflow/kubeflow/issues/4355
[] https://github.com/kubeflow/manifests/pull/518

[2019-10-20 13:15] fenglixa commented on #3544
Cannot follow below document because of this issue: https://github.com/kubeflow/examples/blob/master/object_detection/setup.md.
Wish this issue could be addressed. Thanks

[2019-10-20 13:30] jinchihe commented on #2633
Hey @jmsking,
Theoretically the image will not pull again if your nodes have the image. But here I want to confirm, is that related with POWER？or you used POWER platform and build yourself with same name of image so that you do not want to pull again?

[2019-10-20 13:42] jmsking commented on #2633
Hi, @jinchihe because i can't pull image from gcr.io in china, so i get all needed image from dockerhub, and i pull these image to all k8s cluster work node, but when i restart install kubeflow, there still some pod occur ErrImagePull, so i doubt that the imagePullPolicy is "Always", so i need modify these "Always" to "IfNotPresent", but i don't know how to find these

[2019-10-20 13:45] jinchihe commented on #2633
@jmsking you can check the cluster the image policy in the pod, if needed, you can just edit related deployment. Personally your problem is not related this one that's discussing build image for POWER platform, I suggest creating new ticket if any problem, or get help in Slack. Thanks.

[2019-10-20 13:49] jmsking commented on #2633
OK, how can i contact you, because i have some question for kubeflow, and can i ask for your help? thx

[2019-10-20 14:02] jinchihe commented on #2633
contact me by Slack or Wechat 18091802816. I will remove the info later once you contact me. Thanks.

[2019-10-20 14:06] jinchihe commented on #2633
You can get help by Slack :-）

[2019-10-20 16:20] #3649 closed

[2019-10-21 02:20] praveen049 commented on #4314
Hi
  Any suggestions on how to troubleshoot this issue ?

Thanks

[2019-10-21 07:11] LeonardAukea commented on #4306
@nrchakradhar Do you have an example of how this would be done?

[2019-10-21 07:47] nrchakradhar commented on #4306
@LeonardAukea This [link](https://istio.io/docs/setup/additional-setup/sidecar-injection/) can help. Based on cluster configuration multiple choices mentioned can be utilized.

[2019-10-21 07:55] krishnadurai commented on #4314
I guess you need to set your bind IP to 0.0.0.0 in your Flask application to accept incoming requests.

[2019-10-21 08:18] praveen049 commented on #4314
Hi
 The Flask is bound to 0.0.0.0; this is the command used

if __name__ == '__main__':
    app.run(host="0.0.0.0", port=5000, debug=True)

I am able to run this Flask container as a pod in K8S cluster and create service to expose REST API as NodePort and it's working - I am able to curl from outside the cluster.

I suspect i am missing something when creating the Kubeflow component. Below is the

[2019-10-21 08:31] krishnadurai commented on #4314
@praveen049 just to clarify, now are you able to curl and get the right response?

[2019-10-21 10:37] ryandawsonuk opened #4357 "kfctl build and then apply flow for arrikto from master broken on istio"
Am following steps in https://github.com/kubeflow/kubeflow/pull/4040 to first build a kfapp and then apply the manifests for it.

The apply step gets part way through the install and then fails with:
[code]

I think the problem might be that https://github.com/kubeflow/kubeflow/pull/4305 hasn't been merged yet as that came out of discussion on https://github.com/kubeflow/kubeflow/issues/4239 and I

[2019-10-21 10:56] ryandawsonuk commented on #4357
Sorry, this one is my fault. I'm was using a custom kfdef file and hadn't kept up with the latest changes there.

[2019-10-21 10:56] #4357 closed

[2019-10-21 11:03] ryandawsonuk opened #4358 "kfctl build different structure for local or remote kfdef"
I am following the flow from https://github.com/kubeflow/kubeflow/pull/4040

If I do a `kfctl build -f` with `https://raw.githubusercontent.com/kubeflow/manifests/master/kfdef/kfctl_existing_arrikto.yaml` then I get an app.yaml file generated. If I copy the same file to a local path and reference that then I do not get an app.yaml file, meaning that I can't then perform the apply step.

Also the d

[2019-10-21 11:10] ryandawsonuk commented on #4300
Possibly what I'm seeing is not intended behaviour actually - https://github.com/kubeflow/kubeflow/issues/4358

[2019-10-21 11:40] krishnadurai commented on #4314
Thanks @praveen049 for the explanation.

Probably @gaoning777 might be able to help you with your use-case.

[2019-10-21 12:45] yanniszark commented on #4348
Hi @lomori.
From the error message:

I understand that the istio-ingressgateway Service declares the nodePort 31380 for use, but your Kubernetes API Server is not configured to allow that port.
The allowed ports for nodePort Services are declared with the `service-node-port-range` flag of the API Server and the default is 30000-32767. (https://kubernetes.io/docs/concepts/services-networking/servic

[2019-10-21 12:49] yanniszark commented on #4158
Hi @antimack! Let me try to answer your questions.

Yes, but it requires some custom setup to wire everything together.
This will become much easier in v0.7 for the existing_arrikto config.
I will give you an update as soon as possible.

Right now, we rely on Istio RBAC to enforce access control to Notebook Servers.
In addition, we use Istio to serve each application under each own path prefix.
Be

[2019-10-21 14:35] arun-gupta commented on #4343
Thanks for the prompt fix! Is this related to https://github.com/kubeflow/kubeflow/issues/3755? Wondering if this is happening again?

I was trying to showcase Kubeflow at an event over the weekend and could not get the setup to work.

[2019-10-21 15:25] antimack commented on #4158
I will give you an update as soon as possible.

that would be awesome!

In addition, we use Istio to serve each application under each own path prefix.
Because of that, I don't think it's straightforward to run Kubeflow without Istio at this moment.

no-no :) I meant, if we are using existing_k8s_istio we can disable Istio that is bundled and use our own existing installed, can we have multi-user

[2019-10-21 16:59] lomori commented on #4348
Thanks for the quick reply, @yanniszark. We are using the default settings for service-node-port-range so not sure where the 8081-8089 suggested range is coming from. As for #2, which repo should I open the issue, here or Istio?

[2019-10-21 17:07] yanniszark commented on #4348
@lomori are you sure that you're using the correct settings?
Can you check your API Server and verify?

The error seems to come from this code of the API Server: https://github.com/kubernetes/kubernetes/blob/0f834b69a1401c73225a09493c722c1d995f3d3b/pkg/registry/core/service/portallocator/allocator.go#L120

[2019-10-21 18:14] #4345 closed

[2019-10-21 18:18] jlewi commented on #4342
@holdenk that's a good suggestion.

@holdenk Could you elaborate on what you mean by IAP gateway didn't come up? That script is creating the JWT policy. Is the policy in fact created?

[code]

[2019-10-21 18:47] jlewi commented on #4342
I had a deployment where I was getting `origin authentication failure` because the backend id used in the jwt policy was wrong.

Changing it to the correct value fixed the issue.

What's puzzling is that the logs output indicates that the backend id should have been correct.

Here are the logs from the iap enabler pod
[logs.txt](https://github.com/kubeflow/kubeflow/files/3752397/logs.txt)

The rel

[2019-10-21 18:51] jlewi commented on #4342
It looks like the exit on error is already fixed.
https://github.com/kubeflow/manifests/blob/1b139edff8a4a7819003670210a5e0bf2ff407e9/gcp/iap-ingress/base/config-map.yaml#L60

[2019-10-21 19:04] jlewi commented on #4266
Lets leave this bug open until we have a passing green on master and the release branch
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-periodic-master

It looks like we aren't getting any signal for the test_endpoint in the periodic tests.

That should hopefully be fixed by #4321 which was just merged.

[2019-10-21 20:05] jlewi commented on #4266
Here's a passing postsubmit.
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow_kubeflow/kubeflow-postsubmit/1186357628540817412

For kfctl master

[2019-10-21 20:09] jlewi commented on #3518
Thanks @swiftdiaries lets verify this in the next RC and then we can close this issue.

[2019-10-21 21:00] Ark-kun commented on #4285
In my case, some notebooks are not working even after several weeks.

[2019-10-21 21:01] Ark-kun commented on #4284
BTW, I just chose one of the standard images offered by Kubeflow.

[2019-10-21 21:03] Ark-kun commented on #4273
I know. But there is no indication of that.
And the whole idea is strange: why are there two namespace form fields? Why is one of them red, but not editable?

[2019-10-21 22:13] #4355 closed

[2019-10-21 22:18] jlewi commented on #4342
/assign @jlewi

[2019-10-21 22:18] jlewi commented on #4281
/assign @avdaredevil

[2019-10-21 22:19] jlewi commented on #4327
/assign @yanniszark

[2019-10-21 22:20] jlewi commented on #4327
@yanniszark per discussion in slack; can we get a fix in by EOD today or tomorrow so that we can aim to finalize the release this week?

[2019-10-21 22:26] LeonardAukea commented on #4343
0.6.2 is the latest working build

[2019-10-21 22:29] jlewi commented on #4354
@Jeffwan I just approved kubeflow/manifests#518 but I think you will need to cherry pick it onto the v0.7-branch of kubeflow/manifests

[2019-10-21 22:37] jlewi commented on #4249
Here's the current status/plan

* Get fixes for all P0s in the [kanban board](https://github.com/orgs/kubeflow/projects/22?card_filter_query=label%3Apriority%2Fp0) merged and cherrypicked to correct branch by EOD today

* Cut an RC tomorrow with all the P0 fixes.

* Test and validate the candidate for the rest of the week. Finalize the RC on Friday.

* We are tracking P0s on the [Kanban board](htt

[2019-10-22 00:27] Jeffwan commented on #4199
1. 0.6.2 branch, for people failed to general manifest, please change manifest branch from `master` to this. I use my own repo here instead.

[code]

2. For user failed to create ALB, please `kubectl delete pod alb_pod_xxx -n kubeflow`. I am not sure why alb can not fetch pending istio here.. Need more investigation

3. I am working on 0.7. Doc will be released this week.  I will resolve all known

[2019-10-22 00:46] dynofu commented on #3516
0.6.2 same problem...

[2019-10-22 01:09] jlewi commented on #4358
I think this is a duplicate of kubeflow/kfctl#54. The name of the YAMl file should be whatever the user defines.

[2019-10-22 01:39] holdenk opened #4363 "kfctl double apply fails with add-gcp-secret already exists"
/kind bug

**What steps did you take and what happened:**
Generate a GCP project using the IAP kfdef template from kubeflow/manifests. Run kfctl apply twice.

e.g.

`rm -rf gcp07b; mkdir gcp07b && cd gcp07b && cp ../gcp07b.yaml ./ && kfctl build --file=./gcp07b.yaml -V && kfctl apply -V; kfctl apply -f ./app.yaml -V`

Get an error:

**What did you expect to happen:**

**Anything else you would lik

[2019-10-22 01:44] holdenk commented on #4342
I gave it another shot today while working on my Spark PR. However the IAP still is not working. Going with a manifest based on top of ca951f4ffe4d9e016aec795b83ac46f8b0d60261 (namely using ede913bbe2e3d3931c131728775d95e7f913bb98)  w/ kfctl 0.7rc3 looking at the IAP log I get something very similar.

[2019-10-22 01:45] holdenk commented on #4342
Also here is the ingress-jwt polcy:

[2019-10-22 03:22] jlewi commented on #4342
@holdenk it looks the script was not able to get the backend

[code]

Could you please check the following

1. Run the same kubectl command; do you get any ouput?

[code]

1. If the backend you get when you run the CLI is different from the value in the script could you try deleting the pod and seeing what happens when the pod restarts?

The script is looping here
https://github.com/kubeflow/manif

[2019-10-22 03:30] jlewi commented on #3659
Duplicate of kubeflow/kubeflow#4043

@AGKhalil @wronk @VishDev12 in particular please see the [comment](https://github.com/kubeflow/kubeflow/issues/4043#issuecomment-539667009)

The crash looping behavior is expected and not necessarily indicative of a problem. The comment has instructions for verifying that the script ran correctly.

If your endpoint is working could you please follow the guide
h

[2019-10-22 05:29] jlewi commented on #4342
FWIW I deployed using the following

kubeflow/kubeflow@2fa8ba73
kubeflow/manifests/v0.7-branch@5eea1f1

Everything worked fine.

[2019-10-22 07:15] LeonardAukea commented on #4343
Actually, the latest build 0.7.0. rc.4 works but it has been renamed `kfctl-darwin` https://github.com/kubeflow/kubeflow/blob/2fa8ba73efc4b30a5804cdb144bf531a16889423/bootstrap/Makefile#L116

[2019-10-22 09:00] discordianfish commented on #4215
@jbottum Are there already ideas how to implement this? Do you want/need input on this or help with implementing? From my perspective it would be ideal if we can get around this initial workflow setup completely which requires similar configuration of the profile controller. Basically I want to configure:

- What namespace to create for a new user based on it's auth detail (e.g their email address

[2019-10-22 10:05] ryandawsonuk commented on #4358
Good point, the file generated is indeed `kfctl_existing_arrikto.yaml` and not `app.yaml`.

I've re-titled the issue as the other aspect of this I think isn't a duplicate. Namely that when I build from a remote file I get a kustomize folder under kfapp. When I build from a local file then the kustomize directory is placed parallel to the kfapp.

[2019-10-22 12:40] lomori commented on #4348
OK, I will check with the team that maintains our OpenShift cluster. I tried again with minishift and this error does NOT happen there, which corroborates the suspicion that it's a configuration conflict with our cluster.

But one thing: why exactly does it have to be NodePort at all? We are avoiding that for other services as it introduces visibility from outside the cluster that may or may not b

[2019-10-22 13:17] #4247 closed

[2019-10-22 15:11] hemantha-kumara commented on #4353
@jmsking *.jsonnet files are not used in 0.6.2 deployment.

After you do `kfctl generate all -V` go to $KFAPP/kustomize directory and change all *.yaml files imagePullPolicy to IfNotPresent

most of the .yaml files are already having IfNotPresent

[code]

[2019-10-22 16:23] ryandawsonuk commented on #3866
Good point, thanks

[2019-10-22 17:31] John-Tate opened #4366 "kfctl generate all - fails with error "Code 500 with message: couldn't copy application katib-db""
/kind bug

**What steps did you take and what happened:**
Using the kfctl_k8s_istio.yaml config

[code]

- Kubeflow version: (version number can be found at the bottom left corner of the Kubeflow dashboard):
- kfctl version: 0.6.2
- Kubernetes platform: minikube
- Kubernetes version: 1.16.0
- OS (e.g. from `/etc/os-release`): Ubuntu 18.04

[2019-10-22 17:40] syd-quant commented on #3082
Hi @jrabiah @jlewi

I was following above mentioned steps to setup Kubeflow on SharedVPC on GCP.

1. Created the subnetwork and secondary IP ranges in the host project
[code]
2. Updated Network in **cluster.jinja** file

[code]

 3. Updated Secondary IP ranges Name in **cluster.jinja** file

[code]
4. Content of **cluster-kubeflow.yaml** file

[code]

5. Getting following error while executing `kf

[2019-10-22 17:53] jrabiah commented on #3082
@syd-quant
From the cluster-kubeflow.yaml, it looks like "privatecluster" is set to false. If you look back to cluster.jinja, the ipAllocationPolicy sections which specifies the secondary ranges comes after an 'if' statement which checks the value of "privatecluster". I suspect this section is just being skipped over and would try moving the ipAllocationPolicy items outside of the 'if' block.

[2019-10-22 18:18] syd-quant commented on #3082
Thanks @jrabiah It worked!

[2019-10-22 21:37] jlewi commented on #4327
@yanniszark It looks like the fix has been merged. Is there any way for us to verify this is working with an RC?

[2019-10-22 22:44] gabrielwen opened #4368 "kfctl apply overrides customized changes"
/kind bug

**What steps did you take and what happened:**

1. `kfctl build -f https://raw.githubusercontent.com/kubeflow/manifests/v0.7-branch/kfdef/kfctl_gcp_iap.0.7.0.yaml`
1. made some dummy changes in `kustomize/`
1. `kfctl apply -f kfctl_gcp_iap.0.7.0.yaml`

**What did you expect to happen:**

Customized changes shouldn't be overridden.

**Anything else you would like to add:**

This is proba

[2019-10-22 22:46] gabrielwen commented on #4368
/assign @gabrielwen

[2019-10-23 01:06] kunmingg opened #4371 "kfctl 0.7 not working with v0.6 config"
/kind bug

**What steps did you take and what happened:**
Deploy v0.6.2 using kfctl on master:
`kfctl build -V -f https://raw.githubusercontent.com/kubeflow/kubeflow/v0.6-branch/bootstrap/config/kfctl_gcp_basic_auth.0.6.2.yaml`

Error is:
`Error: couldn't generate KfApp:  (kubeflow.error): Code 500 with message: coordinator Generate failed for gcp: Application default-install is missing`

**What d

[2019-10-23 01:15] Jeffwan commented on #4144
AWSCli was added here. https://github.com/kubeflow/kubeflow/commit/ef4137233d82ad70d403391884124f03dc39d69a#diff-767e7f31b790ce0c9594a45ad4b5a398

I think I need to file another PR for docker client. I think we still need to use `docker login` for authentication.

[2019-10-23 01:51] post2web opened #4373 "kfctl shows an invalid link for kfctl_gcp_iap.yaml in its help output"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

`$ kfctl apply -h` will produce the following output:
[code]

The link for `kfctl_gcp_iap.yaml` is broken.

**What did you expect to happen:**

I want to use `export CONFIG=https://raw.githubusercontent.com/kubeflow/manifests/v0.7-branch/kfdef/kfctl_gcp_iap.yaml` as it is given by the h

[2019-10-23 04:03] jlewi commented on #4368
@Jeffwan Do we need to make a similar change for AWS?

It looks like existing.go doesn't do anything for generate.
https://github.com/kubeflow/kubeflow/blob/4ddb254e245a377713181a05ce9e6f47897d86fc/bootstrap/pkg/kfapp/existing_arrikto/existing.go#L108

[2019-10-23 04:33] jmsking commented on #4126
i have create a profile manually, the profile is:

_apiVersion: kubeflow.org/v1alpha1
kind: Profile
metadata:
  name: kubedemo   # replace with the name of profile you want
spec:
  owner:
    kind: User
    name: anonymous@kubeflow.org   # replace with the email of the user_

but when i visit the web ui, there is still a startup page, can you tell me is there other step?
@Rohithzr

[2019-10-23 05:07] shanidchamal commented on #4366
It is because the directory named katib-db is not present in manifest dir of kfapp directory.
check by changing directory to kfapp/.cache/manifest/...
i guess #4048 PR fixes it.

[2019-10-23 05:15] jlewi commented on #4184
@cyrilthank Kubeflow is currently tested on Kubernetes 1.14
https://github.com/kubeflow/manifests/blob/973fba5a2012e7c9e305092727b2da446a2b6b81/gcp/deployment_manager_configs/cluster-kubeflow.yaml#L36

It looks like you are hitting a bunch of validation errors with various Kubeflow manifests because of changes in behavior in Kubernetes 1.16.

Your best bet is to use Kubernetes 1.14 and to wait unt

[2019-10-23 05:17] jlewi commented on #4228
@cyrilthank Downgrading Kubernetes will really depend on how you are installing managing Kubeflow.
Kubeflow 0.7.0 should be available next week.

[2019-10-23 05:17] jlewi commented on #4184
Duplicate of #4228

[2019-10-23 05:17] #4184 closed

[2019-10-23 05:24] jlewi commented on #3414
@Felihong looks like an issue with your Jupyter setup. If your port-forwarding to the notebook and jupyter and you are getting 404s then something not involving Kubeflow is going on.

You can compare against our latest Jupyter images which are based on the stock TensorFlow images.
https://github.com/kubeflow/kubeflow/blob/master/components/tensorflow-notebook-image/Dockerfile

[2019-10-23 05:25] jlewi commented on #3414
I'm closing this because the original issue was filed with KF 0.5 which is no longer supported.

[2019-10-23 05:25] #3414 closed

[2019-10-23 05:31] jlewi commented on #4284
Duplicate of #4267

[2019-10-23 05:31] #4284 closed

[2019-10-23 05:33] jlewi commented on #3720
Code deleted in #4338

[2019-10-23 05:33] #3720 closed

[2019-10-23 05:34] shanidchamal commented on #4285
it seems to be a major problem if kubeflow support for [custom notebook images](https://www.kubeflow.org/docs/notebooks/custom-notebook/) and the notebooks created so not starting. i suspect its either network or persistent volume related issue. in my case container was working fine because i was getting 'notebook is running at <url>..' log if i check kubectl get logs -f <notebook-pod-name> . rece

[2019-10-23 06:31] #4276 closed

[2019-10-23 06:39] dynofu commented on #3516
got it work. for 0.6.2, it needs to patch the `default-editor` account in the kubeflow-<username> namespace.

[2019-10-23 07:42] webD97 opened #4374 "Setting up custom authentication using OIDC"
/kind question

**Question:**
Hello, first of all: Thank you for your amazing work on this project!

I am currently evaluating Kubeflow as a machine learning platform in our company. We have set up an on-premise k8s Cluster dedicated to Kubeflow 0.6.2 (which we set up with the arrikto config and MetalLB).  We need to customize some parts of the deployment to our needs and I got somewhat stuck, so

[2019-10-23 08:54] dalfos opened #4375 "Can't create TFJob from notebook (0.6.2 on-prem by existing-arrikto)"
/kind bug

**What steps did you take and what happened:**
Trying to create TFJob from notebook in user namespace via kubectl using example (https://github.com/kubeflow/tf-operator/blob/master/examples/v1/dist-mnist/tf_job_mnist.yaml).
Getting:
Error from server (Forbidden): error when creating "tf_job_mnist.yaml": tfjobs.kubeflow.org is forbidden: User "system:serviceaccount:aapetrov:default-edito

[2019-10-23 08:59] praveen049 commented on #2347
@knkski

I having this problem with kubeflow pipelines on microk8s and the command
microk8s.enable kubeflow

gives : Nothing to do for kubeflow

Can you please clarify any additional change i need to do to workaround this issue ?

Thanks

[2019-10-23 09:12] Python35 commented on #3659
Had the same issue.
@jlewi
JWT istio policies and timeout where already set accordingly, still the issue remained. So I thought of just 'restarting' the pod by downscaling to 0 and scale to 1. That solved it for me.

[2019-10-23 11:33] yanniszark commented on #4374
Hi @webD97!
Thanks for trying out the existing_arrikto installation.
We are working on improving our auth installation and lowering the barrier of entry.

Let me try to address some of your concerns:

This is probably a misconfiguration in the authservice. The user value comes from the kubeflow-userid header. This is set by the authservice, by parsing the IDToken JWT. There was probably an error i

[2019-10-23 12:42] webD97 commented on #4374
Thank you for your quick reply, @yanniszark!

I took a glance at the authservice logs and these seem to confirm your assumption of something going wrong there while extracting the username.

[code]

 I will wait for Kubeflow 0.7 and check whether it works better with our own OIDC provider.

There is one other thing I noticed: I inspected the JWT that I found in the _auth_ cookie in Kubeflow and fo

[2019-10-23 13:47] yanniszark commented on #3712
@jlewi @gabrielwen any updates on this?
I have noticed some improvements in kfctl for relative URLs, do they also apply for the repos set in the KfDef?
From the reactions in my comment, it seems like a couple of users need this (we need this internally as well).

[2019-10-23 13:58] lomori commented on #4348
@yanniszark: thanks a lot for pointing us in the right direction! Indeed our team in charge of the k8s cluster was working with NodePort configurations and now are trying to revert it back. I will close this issue since it's on our side.

Waiting anxiously for the v0.7. I just saw that there are some RCs out.

[2019-10-23 13:58] #4348 closed

[2019-10-23 14:53] knkski commented on #2347
@praveen049: I would guess that you're using a regular version of microk8s. What does `snap info microk8s` show you? If you haven't already, try switching to the `1.16/edge/kubeflow` channel with `sudo snap switch microk8s --channel 1.16/edge/kubeflow && sudo snap refresh`.

[2019-10-23 16:38] yanniszark commented on #4374
@webD97 the nested JWT is the old way of keeping track of the logged in status.
We are now transitioning to sessions.
The new code lives here and soon in kubeflow: https://github.com/arrikto/oidc-authservice

[2019-10-23 16:40] arun-gupta opened #4376 "RC5 Darwin binary name is inconsistent"
/kind bug

RC5 Darwin binaries are called `kfctl-darwin` and Linux binaries are called `kfctl`. This change happened with RC5. This naming scheme is inconsistent with earlier releases, and is also not inconsistent with `kubectl`.

Can we change back to `kfctl` as the binary name?

@Jeffwan

[2019-10-23 16:57] krishnadurai commented on #4249
@jlewi There are 2 things which are required for 0.7 and are:
1. Modifications to Dex configuration to make it seamless as tracked by this [comment](https://github.com/kubeflow/manifests/issues/267#issuecomment-545361761). We are looking to add a KfDef (kubeflow/manifests#560) for our on-premise clusters. I'll take ownership of the testing required here.
2. As discussed, KFServing release seems to

[2019-10-23 16:59] Jeffwan commented on #4376
/cc @richardsliu

[2019-10-23 17:11] cyrilthank commented on #4184
Thanks a lot @jlewi for patiently chasing this down

 can you please share how i can reach 1.14 kubernetes

i mean should i download 1.16 install it and then downgrade or
whether there is a specific directive to mention version 1.14 during installation

[2019-10-23 18:24] sarahmaddox commented on #4363
I got this error too, after running `kfctl apply` twice with the same KF_NAME. (My first deployment failed due to time-out issues.) Before running `kfctl apply` the second time, I had deleted my configuration directory, but I had not deleted the paritial deployment in GCP. I did not try running `kfctl delete`.

I'm trying again now, after deleting the (partial) deployments in GCP Deployment Manage

[2019-10-23 18:59] kunmingg opened #4377 "kfctl should use config file in current if not specified by -f"
/kind bug

**What steps did you take and what happened:**
[code]

**What did you expect to happen:**
Kfctl should support
[code]

**Environment:**

- Kubeflow version: afeb8a5919c7d402fb7d22bdaa9fb4f87ec1aba8
- kfctl version: afeb8a5919c7d402fb7d22bdaa9fb4f87ec1aba8

[2019-10-23 19:04] gabrielwen commented on #4377
@lluunn @jlewi
I thought we discussed this a bit before and agreed we should always use `-f`?

[2019-10-23 19:20] jlewi commented on #3703
After kubeflow/manifests#565 I think we need to update the docs to point to 0.7.0 files

[2019-10-23 19:24] animeshsingh opened #4378 "KFP should support Tekton as an endpoint"
/kind feature

**Why you need this feature:**
MLOps features implemented by Kubeflow Pipelines can be a great adddition to Tekton as well, and there are requests from community members to enable these functionalities on top of Tekton

**Describe the solution you'd like:**
Start an  github repo which can help getting some experiments going on this side, while KFP itself is undergoing DSL changes vi

[2019-10-23 19:24] animeshsingh commented on #4378
/assign @jlewi

[2019-10-23 19:40] yanniszark commented on #4348
@lomori the ability to work without a NodePort Service seems reasonable. I will open an issue to track.

[2019-10-23 20:04] jlewi commented on #4378
@animeshsingh pinged me on slack and requested the name kfp-tekton

[2019-10-23 20:14] lomori opened #4379 "Enhance support for OIDC auth to accept OpenShift 3.11"
/kind feature

**Why you need this feature:**
We would like to have kubeflow 0.6.x, in particular authentication, working on OpenShift 3.11.

**Describe the solution you'd like:**
Currently, the authservice Deployment resource has at least two issues that are causing problems:

1. OIDC_PROVIDER environment variable. See below example from our deployment
            - name: OIDC_PROVIDER

[2019-10-23 20:17] gabrielwen commented on #3703
I've already updated the doc yesterday (GCP part).

[2019-10-23 20:19] lluunn commented on #4377
yeah this is intended.
The file name is not always app.yaml, so users should specify it.

[2019-10-23 20:37] jlewi commented on #4378
Setup according to
https://github.com/kubeflow/community/blob/master/repository-setup.md

Prow jobs still need to be setup.

[2019-10-23 20:37] #4378 closed

[2019-10-23 20:47] JakeTheWise opened #4381 "Cannot deploy v0.7rc5 to GCP from CLI"
I ran `kfctl apply -f https://raw.githubusercontent.com/kubeflow/manifests/v0.7-branch/kfdef/kfctl_gcp_iap.0.7.0.yaml -V`.

I got this error: `couldn't get resource list for custom.metrics.k8s.io/v1beta1: the server is currently unable to handle the request`.

Checking GKE, a new cluster successfully spins up with all the kubeflow resources passing health checks. What am I doing wrong?

[2019-10-23 20:53] animeshsingh commented on #4249
@krishnadurai should DEX be an optional install? Not everyone standing up Kubeflow will be configuring auth/authz at first go?

Also any particular reason we decided to stick 1.1.6? Or it was just a matter of tIming? We need minimum 1.1.7 in KFServing

[2019-10-23 21:31] krishnadurai commented on #4249
Dex is an optional install. This is unrelated to KFServing.

This was due to timing.

[2019-10-23 21:33] Jeffwan opened #4382 "Kfctl delete leave over application load balancer (aws)"
/kind bug

**What steps did you take and what happened:**
application load balancer is created by `alb-ingress-controller` and the time we delete kubeflow resources, `alb-ingress-controller` could be deleted first and ALB will not be cleaned up.

The side affect is we can not tear down the cluster since there's security group and subsets in use.

[code]
**What did you expect to happen:**
In order

[2019-10-23 21:33] Jeffwan commented on #4382
/cc @Jeffwan

[2019-10-23 21:34] Jeffwan commented on #4382
/assign @Jeffwan

[2019-10-23 23:11] jlewi commented on #4377
Closing this as working as intended.

[2019-10-23 23:11] #4377 closed

[2019-10-24 01:04] praveen049 commented on #4314
@gaoning777 @jlwei

Hi
   Is it possible to get help with this issue ?

Thanks

[2019-10-24 01:10] buildlackey opened #4386 "error during apply filename="kustomize/kustomize.go", leads to Code 500 with message: kfApp Apply failed for kustomize"
/kind bug

**What steps did you take and what happened:**
attempted to install kubeflow per these instructions ->
  https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

I am trying to install v0.7.0-rc.5 because I ran in to this bug:
    https://github.com/kubeflow/kubeflow/issues/4199
and the fix for that only seems to be available in  v0.7.0 release candidates.

After I run

    kfctl app

[2019-10-24 02:13] #4382 closed

[2019-10-24 03:36] jlewi commented on #4354
@Jeffwan Any update on this? It looks like kubeflow/manifests#518 just merged to master so I'm guessing we need to cherry pick it onto the 0.7 branch.

[2019-10-24 03:52] jlewi commented on #3518
Using kubeflow/kubeflow@0ba828a18ee97094a5aa24da2fe09ca75d05d15d

[code]

[code]

[code]

@swiftdiaries Everything looks. One minor thing is we have renamed the KFDef files on the v0.7.0 branch to have 0.7.0 suffix.

see
https://github.com/kubeflow/manifests/tree/v0.7-branch/kfdef

Could we update the name of the configs? Or maybe we should just include the link to
https://github.com/kubeflow/mani

[2019-10-24 04:44] jlewi commented on #4281
It doesn't look like the image has been updated on the v0.7-branch
https://github.com/kubeflow/manifests/blob/v0.7-branch/common/centraldashboard/base/kustomization.yaml

Nor has it been updated on master
https://github.com/kubeflow/manifests/blob/master/common/centraldashboard/base/kustomization.yaml

[2019-10-24 05:06] shanidchamal commented on #4386
apps/v1beta2 is deperecated api in kubernetes 1.16
see [kubernetes blog](https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/)

[2019-10-24 05:45] webD97 commented on #4374
Thank you for clarifying this 👍

[2019-10-24 08:34] webD97 commented on #4374
I've got another question regarding customization:

If I understand [this file](https://github.com/kubeflow/manifests/blob/master/istio/oidc-authservice/base/params.env) correctly, Starting with 0.7, I should be able to override the OIDC params from the app.yaml config file; is this correct?

I also need to inject a custom CA cert into the authservice. What is the recommended approach for doing th

[2019-10-24 09:51] Jeffwan commented on #4368
@jlewi This actually brings another problem.

In our case,
1. kfctl build -f ${remote_file}, kustomize folder is created.
2. we ask user to change local copy of ${remote_file}. For example, specify role, region, cluster name
3. kfctl apply -f ${local_file}

We need kustomize to regenerate manifests after step 2. This PR actually block this.

Checking cloud config makes sense, I am wondering any ca

[2019-10-24 09:59] Jeffwan commented on #4368
I can confirm that customization on manifest won't be applied due to this change.

[code]

[2019-10-24 11:15] retnuh opened #4388 "scripts/setup-minikube.sh does not exist"
/kind bug

**What steps did you take and what happened:**

While following the directions on the [Minikube for Kubeflow](https://www.kubeflow.org/docs/other-guides/virtual-dev/getting-started-minikube/) page, while executing the following:

[code]

It turns out that there is no `scripts/setup-minikube.sh` script on that tag, or on master.

**What did you expect to happen:**

The script should exis

[2019-10-24 12:13] jlewi commented on #4368
@Jeffwan I think this is working as intended; i.e. `kfctl build` is not intended to regenerate the kustomize  files if they have already been generated. This is by design because this would end up overwriting any changes the users had made to the kustomize files. We want users to provide a signal that the intended behavior is to overwrite the kustomize files. Rather than add an "overwrite" or "for

[2019-10-24 12:54] jlewi commented on #3703
Looks like the docs might already be uptodate
https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/

Is using

[code]

GCP docs look good.

Looks like the Arrikto docs  aren't using the "0.7.0.yaml" file
https://www.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto/

[2019-10-24 12:55] jlewi commented on #4354
@Jeffwan See my response on #4368

[2019-10-24 13:11] jlewi commented on #3703
@gabrielwen  looks like @sarahmaddox filed kubeflow/website#1224 to track doc updates.

Is there any additional work beyond docs or can we close this?

[2019-10-24 13:51] jlewi commented on #3822
Verification:

I deployed Kubeflow with
kubeflow/kubeflow@0ba828a18ee97094a5aa24da2fe09ca75d05d15d
kubeflow/manifests@fccc0ac71efa0ca7816e4f9aa59d03d9dc6934d4
 v0.7-branch

Attached is the CRD definition

Notably the version is v1beta1

[code]

[profile-crd.yaml.txt](https://github.com/kubeflow/kubeflow/files/3767833/profile-crd.yaml.txt)

Here is the profiles deployment
[profiles-deployment.yaml.

[2019-10-24 13:51] #3822 closed

[2019-10-24 14:04] jlewi commented on #4386
We are only testing on Kubernetes 1.14 right now.

[2019-10-24 14:04] jlewi commented on #4376
/assign @swiftdiaries

[2019-10-24 14:12] jlewi opened #4389 "Profile controller not using camel case for resourcequotaspec and GcpServiceAccount"
/kind bug

Here is the profile created by default on gcp

[code]

The names of the plugins field `spec.GcpServiceAccount` and `resourcequotaspec` do not follow standard Kubernetes camel case.

The convention is

[code]

This code
https://github.com/kubeflow/kubeflow/blob/d6459f4dd76f4f73424459da22660244b12d1aa0/components/profile-controller/controllers/plugin_workload_identity.go#L40

Leads me to

[2019-10-24 14:25] jlewi commented on #4184
@cyrilthank If you need help installing Kubernetes please open up a new issue of kind question. We will do our best to help you but in general you should look upstream to your kubernetes provider for help with installing/upgrading/downloading Kubernetes.

If you are using one of the Cloud providers (GCP, AWS, Azure, OpenShift) that is working closely with Kubeflow then we can usually provide more

[2019-10-24 14:28] jlewi commented on #4228
Duplicate of kubeflow/manifests#375

[2019-10-24 14:28] #4228 closed

[2019-10-24 14:46] jlewi commented on #4269
Verification

Deployed Kubeflow
kubeflow/kubeflow@0ba828a18ee97094a5aa24da2fe09ca75d05d15d
kubeflow/manifests@fccc0ac71efa0ca7816e4f9aa59d03d9dc6934d4
 v0.7-branch

![timeout](https://user-images.githubusercontent.com/777219/67497081-4a7cc780-f632-11e9-8419-417fe6503041.png)

Screen shot showing timeout is 3600 seconds.

[2019-10-24 14:48] jlewi commented on #4266
Verification

Deployed with
kubeflow/kubeflow@0ba828a18ee97094a5aa24da2fe09ca75d05d15d
kubeflow/manifests@fccc0ac71efa0ca7816e4f9aa59d03d9dc6934d4
 v0.7-branch

Screenshot showing health check is /healthz/ready

![healthcheck](https://user-images.githubusercontent.com/777219/67497166-75671b80-f632-11e9-99fc-09dd9bf1f1a5.png)

Test unfortunately is hitting lets encrypt rate limiting

kubeflow/kfctl

[2019-10-24 14:48] #4266 closed

[2019-10-24 14:49] yanniszark commented on #4374
@webD97 it seems like your OIDC provider is not setting the email claim in the JWT.
Is that correct?
The new AuthService uses the UserInfo endpoint, so maybe it fixes that.

I recommend to wait for a bit until the dust settles and v0.7 is out.
A lot of things have changed slightly.

[2019-10-24 17:00] gabrielwen commented on #3703
@jlewi I think we can close this - @Jeffwan also verified that 0.7.0 works on AWS side.

[2019-10-24 17:00] gabrielwen commented on #3703
/close

[2019-10-24 17:00] #3703 closed

[2019-10-24 17:09] cyrilthank commented on #4184
Thank you @jlewi
I am doing this on-prem

[2019-10-24 17:22] Jeffwan commented on #4368
@jlewi Thanks. Makes sense. I will make doc change for AWS.
Here's the PR for cloud config changes override issue.
https://github.com/kubeflow/kubeflow/pull/4390

[2019-10-24 17:44] lluunn commented on #4389
I don't understand with `json:"gcpserviceaccount,omitempty"` why it's showing GcpServiceAccount?

[2019-10-24 17:54] kunmingg commented on #3823
Not blocking v0.7.0 so close it now.

[2019-10-24 18:16] Jeffwan commented on #4368
aws change has been merged. This cane be closed.

/close

[2019-10-24 18:16] #4368 closed

[2019-10-24 18:45] kunmingg opened #4393 "GcpPluginSpec should use kfdef v1beta1"
/kind bug

GcpPluginSpec should use kfdef v1beta1.

GcpPluginSpec:
https://github.com/kubeflow/kubeflow/blob/master/bootstrap/pkg/kfapp/gcp/gcp_plugin.go#L4
Config file:
https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_gcp_iap.yaml#L366

Other PluginSpec is having the same problem, we can handle in separate issue.

[2019-10-24 20:28] jlewi commented on #4393
It looks like the Auth field is different?
https://github.com/kubeflow/kubeflow/blob/2ae25c46ba0861dda683d92eda11fd8a588442de/bootstrap/pkg/kfapp/gcp/gcp_plugin.go#L9

/cc @gabrielwen

[2019-10-24 20:32] jlewi commented on #4393
I lean towards going with whatever is in the YAML files and either cleaning it up later if possible or just continuing to support what we have.

[2019-10-24 20:50] Jeffwan commented on #4354
Yeah, I will have doc change later on. Next step is to have some logic in build to make sure user can use Env and Template to build kustomize in one command. I will do this for next release.

The last two cherry-pick PRs for aws. Then we are good to go.

https://github.com/kubeflow/manifests/pull/572
https://github.com/kubeflow/kubeflow/pull/4392

[2019-10-24 20:51] Jeffwan commented on #4354
/assign @Jeffwan

[2019-10-24 20:53] jlewi commented on #4389
@kunmingg just submitted a fix
https://github.com/kubeflow/kubeflow/pull/4396

We need to cherry pick it onto the branch.

[2019-10-24 20:54] jlewi commented on #4371
Downgrading to P1 because its not release blocking.

[2019-10-24 20:56] jlewi commented on #4281
New image
gcr.io/kubeflow-images-public/centraldashboard:v0.7.0-rc.5-5-g0ba828a1
sha256:fa4ab9421b691eadaaa3a30d5ba69542f0c33e1c01da05298d0b5bd01856465b

[2019-10-24 21:11] lluunn opened #4397 "kfctl 2nd apply failed"
/kind bug

**What steps did you take and what happened:**
kfctl build -V -f http://...
kfctl apply -V -f kfctl_gcp_iap.yaml
kfctl apply -V -f kfctl_gcp_iap.yaml

The second apply failed with:

[code]

**Environment:**
kfctl build from master

cc @jlewi @kunmingg @gabrielwen

[2019-10-24 21:21] Jeffwan commented on #4354
No pending PRs. Thanks for the help.

/close

List recent changes relate to this story for tracking.
https://github.com/kubeflow/kubeflow/pull/4356 Fix aws plugin not found issue
https://github.com/kubeflow/kubeflow/pull/4383 Clean up alb and istio dependencies in kfctl delete
https://github.com/kubeflow/kubeflow/pull/4390 Fix apply overrides custom changes after Build for aws config

https://gith

[2019-10-24 21:21] #4354 closed

[2019-10-24 21:35] #4371 closed

[2019-10-24 21:45] barlock opened #4400 "Unable to setup OIDC with a domain"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I'm trying to deploy an authenticated Kubeflow deployment onto an existing k8s cluster on IBM's k8s service.

I'm using the `existing_arikto` config. After generating and applying (or just applying in the 0.7 branch) I'm able to access the working OIDC with IP addresses.

After an unknow

[2019-10-24 22:08] KamalAman commented on #4388
The script was removed in [PR 4084](https://github.com/kubeflow/kubeflow/pull/4084) Referenced in [Issue 4045](https://github.com/kubeflow/kubeflow/issues/4045)

[2019-10-24 22:16] #4381 closed

[2019-10-24 22:21] Jeffwan commented on #3359
This issue has been fixed in https://github.com/kubeflow/website/issues/1267

[2019-10-24 22:21] Jeffwan commented on #3359
/close

[2019-10-24 22:21] #3359 closed

[2019-10-24 22:24] Jeffwan commented on #3818
cluster features options are not supported in 0.6 branches above. The major concern for us is this is EKS specific. We also want to decouple the cluster creation and kubeflow deployment.

Let us know if you have any requirements, we can prioritize it.

[2019-10-24 22:29] Jeffwan commented on #4199
Updates: All 0.7 changes have been merged. It's working fine now. Please have a try.
0.6.2 have been unblocked as well.

I will close this issue and feel free to reopen if you still have problems.

[2019-10-24 22:30] Jeffwan commented on #4199
/close

[2019-10-24 22:30] #4199 closed

[2019-10-24 22:45] Jeffwan opened #4403 "Fine Grained IAM roles for AWS"
/kind feature

**Why you need this feature:**
[Is your feature request related to a problem? Please describe in details]

Right now, we attach IAM policy to node groups to make sure AWS specific components have permission to talk to AWS services.  The problem is this way only provides fine-grained roles at the node level rather than pod level.

In the context of access control in Amazon EKS, the c

[2019-10-24 22:48] Jeffwan commented on #4403
/area provider/aws

[2019-10-24 22:48] Jeffwan commented on #4403
/area platform/aws

[2019-10-24 22:48] Jeffwan commented on #4403
/platform aws

[2019-10-24 23:13] Jetafull commented on #4381
@JakeTheWise Did you solve this issue? I got the same error message.

[2019-10-24 23:24] JakeTheWise commented on #4381
Yes, sorry, it worked when I changed it to pull from master: `kfctl apply -f https://raw.githubusercontent.com/kubeflow/manifests/master/kfdef/kfctl_gcp_iap.0.7.0.yaml -V`

[2019-10-25 00:09] Jeffwan commented on #4355
/assign @Jeffwan

[2019-10-25 02:11] Jetafull commented on #4381
The link to the master seems to be incorrect. I tried `kfctl apply -f https://raw.githubusercontent.com/kubeflow/manifests/master/kfdef/kfctl_gcp_iap.yaml -V` but still got the same error.

[2019-10-25 02:59] jlewi commented on #4281
New image based on latest fix
gcr.io/kubeflow-images-public/centraldashboard:v0.7.0-rc.5-15-g62d91774
sha256:bcf462b61b7f39e1479c4ac6dd0eb5a1b2504f2d2e18e325c6e8404a28f09a60

We should update master; verify it works and then cherry pick it if it looks good.

[2019-10-25 04:27] barlock commented on #4400
I'm still uncertain about the 0.6.x branch, but I've been able to get it working for the most part in the 0.7-rc5 branch. Though I am having issues configuring, but I'll open a new issue...

The one thing I had to do was I would get `RBAC access denied` (similar issue https://github.com/kubeflow/kubeflow/issues/3975) and if I turn `OFF` the `clusterRbacConfig` it goes away.

That seems fine, but I

[2019-10-25 04:34] barlock opened #4409 "Can't customize build artifacts before applying"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

[code]

After following the above steps, I would expect that my custom overlays would be picked up by kustomize and applied. Instead kfctl sees that the `repoCache` is out of date, deletes the cache, and the kustomize folder with my overrides, rebuilds based on the config (basically a n

[2019-10-25 05:15] barlock commented on #4409
Dupe of #4368, fixed in 0.7-rc.6

[2019-10-25 05:15] #4409 closed

[2019-10-25 06:14] #4353 closed

[2019-10-25 06:37] jmsking opened #4410 "kubeflow stuck at setup screen"
/kind bug

when i install kubeflow according to this doc: https://v0-6.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/, and there is a kubeflow setup page when i vist kubeflow ui, it can't come into kubeflow ui, and this issue is the same as #4126

And i according to @jlewi , i create a profile manually follow this doc: https://www.kubeflow.org/docs/other-guides/multi-user-overview/
And my profile

[2019-10-25 12:46] jlewi commented on #4281
Tested on master. Everything looks good with image
gcr.io/kubeflow-images-public/centraldashboard@sha256:bcf462b61b7f39e1479c4ac6dd0eb5a1b2504f2d2e18e325c6e8404a28f09a60

A short screen cast to verify it works.
https://drive.google.com/file/d/1swFa0OSk_QkQMLWAys5nyTRJBqB_z79p/view?usp=sharing

[2019-10-25 13:05] krishnadurai commented on #4249
Update: KFServing release is no longer blocked on Istio upgrade to 1.3.1. It should work with 1.1.6. Release is not blocked on Istio 1.3.1 upgrade.

[2019-10-25 14:57] kcturner123 commented on #4366
The next question is: "Why is it not there?"

[2019-10-25 16:40] shanidchamal commented on #4366
Sorry for not making it clear. @John-Tate  is using the master configuration file for v0.6.2 installation. so it fetches the manifest in master branch as well. [https://github.com/kubeflow/manifests](https://github.com/kubeflow/manifests). as you can see there is no katib-db in this manifest. This can be solved by using v0.6.2 config file. change the line to `export CONFIG="https://raw.githubuserc

[2019-10-25 17:06] kcturner123 commented on #4366
Thank you, that does make it much clearer. I am using microk8s 1.16, so I understand that I may have to roll back to 1.14.

[2019-10-25 17:49] sarjeet2013 opened #4411 "kfctl generate istio VirtualService with --use_istio false"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

The bug is that the kustomize generated configs contains service yaml for istio `VirtualService` when `--use_istio false` is used

**What did you expect to happen:**

No istio related configs generated

**Anything else you would like to add:**
[Miscellaneous information that will assist

[2019-10-25 17:59] jlewi commented on #4410
@jmsking can you provide the output of

[code]

@avdaredevil How do we debug what identity the UI is using to fetch namespaces?

[2019-10-25 18:01] jlewi commented on #4411
ISTIO is required for Kubeflow beginning with 0.6.

The --use_istio flag is legacy and misleading and is removed in 0.7

[2019-10-25 18:01] #4411 closed

[2019-10-25 18:04] jlewi commented on #3082
kubeflow/kubeflow#3210 to bulk replace the images.

Right now `kfctl set image-name` emits a list of images in the form `${OLD}=${NEW}` to stdout. This could be used as the basis to build a GCB workflow to replicate the images.

[2019-10-25 18:11] jlewi commented on #3210
There's a couple reasons why on GCP we'd like to leverage Google Cloud Build or possibly Tekton to replicate the images

1. The number of images for Kubeflow is large O(10)'s if not O(100')s so we want to do the retagging in parallel
1. Given the large number of images we'd like to do the image pulling/pushing in the cloud to avoid network transfer to lower machines
1. With private GKE and Secure

[2019-10-25 21:14] JakeTheWise opened #4412 "TFDV html output not displaying on v0.7rc6 (worked on 0.6.2)"
My data validation component generates static html for display in the KFP UI. This html successfully visualizes in kubeflow v0.6.2 but is broken in v0.7.0rc6. The run output tab just displays a blank card:
![Screen Shot 2019-10-25 at 4 14 11 PM](https://user-images.githubusercontent.com/13136287/67604910-81da9980-f742-11e9-912f-83fc0426bc50.png)

[2019-10-25 21:23] JakeTheWise opened #4413 "Failed to retry run (v0.7.0rc6)"
When I click `Retry` in the KFP UI to re-run a pipeline run, I get the following in a popup dialog:

[code]

[2019-10-25 22:27] avdaredevil commented on #4410
It is quickly viewable via the XHR (AJAX) Requests that are made, or even the user that shows on hover over the user logo
![image](https://user-images.githubusercontent.com/5303018/67608134-c9115c00-f73b-11e9-8848-025a858e2c9e.png)

### OR

![image](https://user-images.githubusercontent.com/5303018/67608173-f65e0a00-f73b-11e9-9034-fa16ae32b5f7.png)

[2019-10-25 22:29] jlewi opened #4414 "Error: couldn't get resource list for custom.metrics.k8s.io/v1beta1: the server is currently unable to handle the request"
/kind bug

**What steps did you take and what happened:**

Spurious error message from kfctl when deploying on GCP

Kfctl prints the following error out

[code]

This error appears to be harmless but it will confuse users so we should figure out where its coming from and suppress it.

[2019-10-25 22:46] krishnadurai opened #4415 "CentralDashboard's welcome screen profile setup is broken - in non-identity aware cluster"
/kind bug

**What steps did you take and what happened:**

- Deployed kubeflow on a fresh Kubernetes cluster with kfctl_k8s_istio.0.7.0.yaml - with no default profile
- Accessed Web UI, this prompts to setup an initial profile
- After entering the profile name and clicking finish, the web UI doesn't transition to the dashboard
- Instead the UI remains unchanged and doesn't transition to the dashbo

[2019-10-25 22:48] jlewi commented on #3396
Some of the information in this thread is outdated.

I thought we had a different issue/google thread with more discussion about ISTIO and alternatives but I can't find it (so maybe it was slack).

TL;DR if you want to use a different service mesh technology you'd want to treat ISTIO resources as abstract resources. The primary resources that Kubeflow depends on are VirtualService resources and we

[2019-10-25 22:48] #3396 closed

[2019-10-25 23:19] syeo commented on #2789
Hi @jlewi. I deployed kubeflow to GCP using web ui, and getting the same problem. Is there a way to turn off `enableNodeAutoprovisioning` option in a existing running cluster?

[2019-10-26 00:45] #4376 closed

[2019-10-26 02:24] jmsking commented on #4410
**$ kubectl get profile -o yaml**
_NAME                 AGE
kubeflow-anonymous   19h
apiVersion: v1
items:
  apiVersion: kubeflow.org/v1alpha1
  kind: Profile
  metadata:
    creationTimestamp: "2019-10-25T06:31:04Z"
    generation: 1
    name: kubeflow-anonymous
    resourceVersion: "1724354"
    selfLink: /apis/kubeflow.org/v1alpha1/profiles/kubeflow-anonymous
    uid: 7695e7e9-27ff-4e4b-8781-31

[2019-10-26 06:24] AGKhalil commented on #4386
I downgraded to kubectl version `1.14.8` but I am getting similar errors. If this problem is arising from another issue or error on my behalf please let me know.
[code]
- kfctl version:
**kfctl v0.7.0-rc.5-7-gc66ebff3**

- kubectl version:
**Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.8", GitCommit:"211047e9a1922595eaa3a1127ed365e9299a6c23", GitTreeState:"clean", BuildDat

[2019-10-27 03:17] #3056 closed

[2019-10-27 19:31] #3339 closed

[2019-10-27 19:31] #3061 closed

[2019-10-28 02:53] jmsking commented on #4410
Can anybody solve this question@jlewi @avdaredevil

[2019-10-28 05:55] #3726 closed

[2019-10-28 11:23] avdaredevil commented on #4410
@jmsking In your dev console (<kbd>f12</kbd> or <kbd>ctrl + shift + c</kbd> or <kbd>cmd + shift + c</kbd>) can you please navigate to the Network tab, and filter by XHR
![image](https://user-images.githubusercontent.com/5303018/67674734-8b2e5680-f93a-11e9-9ae8-52b4a779942e.png)

Then check for the route `/api/workgroup/exists` and please output the response you have for it, in my case, it looks li

[2019-10-28 11:39] jmsking commented on #4410
![image](https://user-images.githubusercontent.com/4349983/67675672-b22c6d00-f9ba-11e9-93ac-76be5488b8c6.png)

[2019-10-28 11:42] jmsking commented on #4410
Thanks for you reply,  this is my presentation:
**exists**:   {hasAuth: false, user: "anonymous", hasWorkgroup: false}
**env-info**: user: "anonymous@kubeflow.org",…}
                         isClusterAdmin: true
                         namespaces: []
                         platform: {kubeflowVersion: "v0.6.2", provider: "other://", providerName: "other"}
                         user: "anonymo

[2019-10-28 11:47] jmsking commented on #4410
![exist](https://user-images.githubusercontent.com/4349983/67676070-b907af80-f9bb-11e9-8220-e1fa1c563691.jpg)

[2019-10-28 12:18] Kyrremann opened #4418 "Manage Contributors is case sensitive"
/kind bug

When working with Manage Contributors we noticed that you need to write exactly the same casing as the e-mail is retrieved from our LDAP-server. Meaning that when I try to add a user writing the e-mail with all lower case it fails. Writing the e-mail with capital letter works.

Not working: kyrre.havik.eriksen@nav.no
Working: Kyrre.Havik.Eriksen@nav.no

Both should work.

**Environment:

[2019-10-28 12:21] jlewi commented on #4415
@krishnadurai which image are you using for central dashboard

If the profile `krishna-1` exists are you able to access the central dashboard?

/assign @avdaredevil

[2019-10-28 12:23] jlewi commented on #4400
@animeshsingh and @yanniszark looks like a combination of IBM and the existing arrikto config; could you please take a look?

[2019-10-28 12:23] Kyrremann commented on #4415
We have the same problem. We use image `gcr.io/kubeflow-images-public/centraldashboard:v20190823-v0.6.0-rc.0-69-gcb7dab59`.

The profile is created, and if you just refresh the page you get directed to the dashboard. So everything "works", it's just the last missing redirect.

[2019-10-28 12:24] #4045 closed

[2019-10-28 12:28] jlewi commented on #4388
Here's an old link to the script
https://github.com/kubeflow/kubeflow/blob/e03858038f32c1cc419d0bffe94eb3e48289d90e/scripts/setup-minikube.sh

The generic minikube setup was closely coupled to the install of ksonnet and install of Kubeflow using the old kfctl.sh.

I'm not sure it would be worth it to try to to disentangle the minikube setup from the rest of it.

I think we should just delete the q

[2019-10-28 12:35] jlewi commented on #4386
@AGKhalil in your latest output I don't see an error; I see a warning that it couldn't apply one of the manifests and it will retry

Did the retry succeed?

Did you just downgrade kubectl or did you downgrade your cluster too? I don't think just downgrading kubectl is sufficient. You need to downgrade your cluster as well.

[2019-10-28 12:37] jlewi commented on #4415
That is an old image.

There is an updated image for 0.7 that attempts to fix these issues.
gcr.io/kubeflow-images-public/centraldashboard:sha256:bcf462b61b7f39e1479c4ac6dd0eb5a1b2504f2d2e18e325c6e8404a28f09a60

That was published recently.

[2019-10-28 12:38] Kyrremann commented on #4415
Okay, we are still on Kubeflow 0.6.2, waiting for a release of 0.7 (not a RC).

Don't know what @krishnadurai is on.

[2019-10-28 12:39] jlewi commented on #4413
@JakeTheWise I'm going to transfer this issue to kubeflow/pipelines so that the pipelines team has more visibility.

/cc @jessiezcc

[2019-10-28 12:40] jlewi commented on #4412
@JakeTheWise transferring to the pipelines repo

/cc @jessiezcc

[2019-10-28 13:02] webD97 commented on #4374
I just tried out v0.7.0-rc.6. Its authservice does not seem to support the `OIDC_PROVIDER_CA_FILE` env variable anymore. I found that one quite handy to inject company's CA cert.

[2019-10-28 13:21] songkane opened #4419 "Sorry, /pipeline/ is not a valid page"
/kind question

**Question:**
Hi，
I installed kubeflow using community kfctl ”https://www.kubeflow.org/docs/started/k8s/overview/#community-maintained“ , all dp,sts,svc pvc are running with no erro. But the when click sidebar 【pipeline，jupyter，katib，metadata】,errors come

![image](https://user-images.githubusercontent.com/15307785/67681723-d8f1a000-f9c8-11e9-979a-bc3454379c8a.png)
![image](https:/

[2019-10-28 14:47] krishnadurai commented on #4415
@jlewi this is the image:

gcr.io/kubeflow-images-public/centraldashboard@sha256:bcf462b61b7f39e1479c4ac6dd0eb5a1b2504f2d2e18e325c6e8404a28f09a60

Confirmed the behaviour again.

[2019-10-28 22:16] JakeTheWise commented on #4414
I'm encountering the same issue.

[2019-10-28 23:25] kunmingg opened #4421 "kfctl / C2D: throw warning when length(deploy-name.endpoints.project-id.cloud.goog) > 63"
/kind bug
This is a limitation from let's encrypt.
We should throw warning messages and exit when
length(deploy-name.endpoints.project-id.cloud.goog) > 63

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-10-29 05:41] shanidchamal commented on #4419
@songkane reason is that you are accessing centraldashboard via deployment exposed as LoadBalancer service and not via istio-ingressgateway as mentioned in [istio website](https://istio.io/docs/tasks/traffic-management/ingress/ingress-control/)

[2019-10-29 09:07] cyrilthank commented on #4228
can you please update this issue when KubeFlow 0.7.0 is available

Also much appreciate it if you could also advise the Kubernetes version on which  KubeFlow 0.7.0 is tested

[2019-10-29 09:08] cyrilthank opened #4423 "KubeFlow 0.7.0 availability and Kubernetes version"
can you please update this issue when KubeFlow 0.7.0 is available

Also much appreciate it if you could also advise the Kubernetes version on which KubeFlow 0.7.0 is tested

Follow up to https://github.com/kubeflow/kubeflow/issues/4228
since https://github.com/kubeflow/kubeflow/issues/4228 is closed

[2019-10-29 09:09] cyrilthank commented on #4228
also created separate issue https://github.com/kubeflow/kubeflow/issues/4423 since the issue https://github.com/kubeflow/kubeflow/issues/4228 is closed

[2019-10-29 09:17] songkane commented on #4419
Thank you, Using istio-ingressgateway is ok, it's better to update document about this .

[2019-10-29 12:20] LeonardAukea commented on #4306
Could we add the option in the `jupyter-web-app` to give permissions to the server to launch other pods.  it would be very useful to be able to spin up clusters directly from the notebook. maybe one could work eith the `spark-operator` together with katib.

[2019-10-29 13:42] amygdala commented on #4421
maybe we should hash the project+deployment string and use the hash for the cert.

[2019-10-29 17:16] jlewi commented on #4393
@kunmingg Where did we land on this? Did we agree that this isn't blocking 0.7.0?

[2019-10-29 20:44] prodonjs commented on #4415
@krishnadurai - I deployed the v0.7.0-rc.6 candidate to GCP which has the same centraldashboard image that you mention.

![Screenshot 2019-10-29 at 4 38 33 PM](https://user-images.githubusercontent.com/6835846/67807230-c92a9800-fa6a-11e9-986d-f406fed22468.png)

Your network requests should look similar to those above, which show a `create` POST, followed by 1 or more `exists` GETs until one of the

[2019-10-29 20:59] krishnadurai commented on #4415
Hello @prodonjs,

What I can see from the network tab is the '/api/workgroup/exists' API returning with 304 and the JS code goes on retrying the request repeatedly.

[2019-10-29 21:01] krishnadurai commented on #4415
Here's the HAR file from my Firefox browser.

On Wed, Oct 30, 2019 at 2:14 AM Jason Prodonovich <notifications@github.com>
wrote:

[2019-10-29 21:03] krishnadurai commented on #4415
Link to the HAR document:
https://drive.google.com/file/d/0B1DnPeJ2dI2uT3dUMTM1QVB5UUlrSHJPSllRXy1QZFNKNHZr/view?usp=sharing

[2019-10-29 21:12] krishnadurai commented on #4415
A workaround to those who are facing this issue: Just refesh the page. It should take you to the dashboard.

[2019-10-29 21:30] prodonjs commented on #4415
Thanks for the information @krishnadurai. I looked into things more closely and what's peculiar is that your requests to `/api/workgroup/exists` seem to indicate that your cluster does not have identity awareness based on request headers sent to the centraldashboard server (the responses all show `"hasAuth": false`).

Thus, as the logic [here](https://github.com/kubeflow/kubeflow/blob/master/compo

[2019-10-29 21:45] avdaredevil commented on #4415
Yup you're right @prodonjs. I can make a follow up PR to resolve this.

[2019-10-29 21:46] krishnadurai commented on #4415
@prodonjs @avdaredevil
Here's some additional information:
Originally, in v0.6.0 release, kfctl used to created a default profile: `kubeflow-anonymous` and with v0.7.0, it's optional. The default for this release is to have no profile created by default.

[2019-10-29 21:58] jlewi commented on #4415
@krishnadurai @Kyrremann Is this a cluster that is not identity aware?

* Is there an Auth server that is attaching JWT's to the request at the gateway?

  * I'm guessing no if you are using kfctl_k8s_istio.0.7.0.yaml

  * In which case this should be a non-identity aware cluster. Which matches `hasAuth: False`

In the case where we don't know a user's identity my expectation is that AuthN should

[2019-10-30 00:07] lluunn commented on #4281
Seems this is fixed?

[2019-10-30 00:29] #4419 closed

[2019-10-30 00:34] jlewi commented on #4281
Lets close this.

[2019-10-30 00:34] #4281 closed

[2019-10-30 00:43] jlewi commented on #4249
Here's the current status of things

* I think the only known issue is kubeflow/kubeflow#4415 which is only affecting clusters in which user identity is unknown
* We'd like to have passing greens in our E2E tests

   * Basic auth [grid](https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-periodic-master) - should hopefully be fixed on master and pass in the next run
   * It looks like the [kfct

[2019-10-30 00:46] kunmingg commented on #4393
We can address it in next minor release or 1.0

[2019-10-30 00:48] kunmingg commented on #4421
cert hostname need to match cloud endpoint hostname

[2019-10-30 00:51] jlewi commented on #4015
I think it would be valuable to write a short doc/tech note about how we could do testing for the central dashboard.

When doing the 0.7 release we hit kubeflow/kubeflow#4415. This is an issue where the self registration flow is not working in the case where Kubeflow clusters don't have identity.

[2019-10-30 00:53] jlewi commented on #4415
kubeflow/kubeflow#4015 is tracking E2E tests for central dashboard and self-registration flow.

[2019-10-30 00:55] jlewi commented on #4415
@krishnadurai Do we have an issue tracking an E2E test for kfctl_k8s_istio?

[2019-10-30 01:33] lluunn opened #4427 "kfctl latest 0.7 error: the server is currently unable to handle the request"
/kind bug

**What steps did you take and what happened:**
kfctl apply has error:
[code]

Has anyone seen this before?
cc @jlewi @richardsliu

**Environment:**
kfctl from 0.7rc6,  with https://raw.githubusercontent.com/kubeflow/manifests/fccc0ac/kfdef/kfctl_gcp_iap.0.7.0.yaml

[2019-10-30 03:04] jmsking commented on #4410
I am sorry to bother you, Can someone supply some solutions for this question?@avdaredevil@jlewi

[2019-10-30 03:08] jmsking commented on #4410
![image](https://user-images.githubusercontent.com/4349983/67825809-8964be80-fb05-11e9-8ba8-f5e9099979fe.png)

[2019-10-30 03:10] jmsking commented on #4410
![test](https://user-images.githubusercontent.com/4349983/67825942-ef514600-fb05-11e9-8102-fc2e41a8f2c7.jpg)

[2019-10-30 05:23] avdaredevil commented on #4410
Duplicate of #4415 being fixed via #4015

[2019-10-30 06:13] jmsking commented on #4410
Do i need update kubeflow to  v0.7 or should i change the centerboard image to a new one?
when i execute **"host:port/debug"**, here is my output:
**{"user":
 {"email":"anonymous@kubeflow.org","username":"anonymous","domain":"kubeflow.org","hasAuth":false},"profilesServiceUrl":"http://profiles-kfam.kubeflow:8081/kfam","codeEnvironment":"production","headersForIdentity":{"USERID_HEADER":"","USERID_

[2019-10-30 06:18] jmsking commented on #4410
And when i execute **"host:port/api/workgroup/env-info"**, here is my response:
**{"error":"Unable to ascertain user identity from request, cannot access route."}**

[2019-10-30 06:46] jmsking commented on #4410
OK, thanks for you answer!

[2019-10-30 06:46] #4410 closed

[2019-10-30 09:43] krishnadurai commented on #4415
The cluster is not identity-aware.

No, there's no auth server attaching the JWT to the request. You are right about the rest of the points.

The check for the welcome screen for profiles right now seems to be configured based on whether there is a profile available or not. So when we refresh, the check fails in this scenario as the user has already created a profile.

[2019-10-30 09:46] Kyrremann commented on #4415
Not sure what you mean by identity aware, it's multiuser. We are also using an old image as it turns out (see comment further up).

What I do noticed is that if I remove all my cookies before going trough the process it works. This may also because I'm creating the same profile (and namespace), so maybe there is something stored in Kubeflow somewhere.

[2019-10-30 09:53] krishnadurai commented on #4415
@Kyrremann Can you share your HAR file as described above? That will help us see if the JWT is embedded in the request header or not in your case.

The root cause of this issue is documented here: https://github.com/kubeflow/kubeflow/issues/4415#issuecomment-547638105

And could you please check if this problem persists with 0.6.2 Kubeflow release?

[2019-10-30 10:03] krishnadurai commented on #4415
This issue #3496 was made to track kfctl_k8s_istio.

[2019-10-30 10:09] Kyrremann commented on #4415
I'll create a HAR file.
I'm using `Build: v0.6.2 | Dashboard: v0.0.2-cb7dab | Isolation-Mode: multi-user`, and container image is `gcr.io/kubeflow-images-public/centraldashboard:v20190823-v0.6.0-rc.0-69-gcb7dab59`.

I can also manually upgrade the container image if desired.

[2019-10-30 10:14] krishnadurai commented on #4327
@jlewi one of the tests to ascertain that webhook establishment is working through retries is to include cert-manager v0.11.0 in KfDef, which earlier faced the same issue as stated here.

[2019-10-30 10:36] Kyrremann commented on #4415
My HAR-file https://drive.google.com/file/d/1DDMCYisX5vnpWVAVVNHcY7ozd1IWEMox/view?usp=sharing

Also, tried two times, and it now worked both times. Which is strange. Several of my users has reported this problem.

[2019-10-30 12:00] jlewi commented on #4415
I built a new image

gcr.io/kubeflow-images-public/centraldashboard:list-8-gf5250b01
sha256:4299297b8390599854aa8f77e9eb717db684b32ca9a94a0ab0e73f3f73e5d8b5

[2019-10-30 12:24] jmsking opened #4428 "[0.6.2] statefulset couldn't created and couldn't start notebook"
/kind bug

when i create a notebook with default configuration, but the pod is created failed, and here is my logs:

**_$kubectl describe -n maysnow sts nb-001_**
[code]

**_$kubectl logs notebook-controller-deployment-7f5d8c6c48-224hq -n kubeflow --tail 5_**
[code]
**_$kubectl get pvc -n maysnow_**
[code]

**_$kubectl describe notebook nb-001 -n maysnow_**
[code]

**_$kubectl version_**
[code]

_

[2019-10-30 12:56] prodonjs commented on #4015
@avdaredevil - I don't think I have the bandwidth to carry it forward, but I put together a rough pass at an E2E test in https://github.com/prodonjs/kubeflow/commit/bca6def173959c2721d1effdbe2e4e91cf41c94f. This was intended to test the IAP-scenario, but it could be easily adapted to handle basic-auth as well and let us have coverage for both registration scenarios.

Maybe we can schedule some tim

[2019-10-30 13:10] songkane opened #4429 "create namespace failed"
/kind question

**Question:**
the server does not allow this method on the requested resource (post profiles.kubeflow.org)

what should I do , and any logs that I can check?

![image](https://user-images.githubusercontent.com/15307785/67861065-6284a780-fb5a-11e9-84f9-9e30ed32c73c.png)

![image](https://user-images.githubusercontent.com/15307785/67860684-74b21600-fb59-11e9-9a5f-0c1338aeeb8c.png)
![

[2019-10-30 17:48] lluunn opened #4430 "e2e test for c2d"
/kind feature

We have a e2e test for click to deploy, running as postsubmit/periodic.

But it's failing for long time.
I am going to disable it for now, and we should update and re-enable it.

/cc @kunmingg

[2019-10-30 18:57] taffarel-gaivota opened #4433 "NodeSelector spec to jupyter notebooks servers"
/kind feature

**Why you need this feature:**
To spawn notebook servers on specific group of nodes

**Describe the solution you'd like:**
Just being able to select what group of nodes by passing the NodeSelector spec

**Anything else you would like to add:**
If this feature already exists then someone could reference me where is in the documentation.

[2019-10-30 19:43] AGKhalil commented on #4386
The retry never succeeds.

I did only downgrade kubectl, and nothing to do with my cluster since I'm not deploying to an existing one.

I'm just using the config file mentioned in the Deploy using CLI  https://www.kubeflow.org/docs/gke/deploy/deploy-cli/ and that creates a new cluster for me. So shouldn't it be compatible with my versions of `kubectl` and `kfctl`? Or do I need to do something else

[2019-10-30 21:39] sarjeet2013 commented on #2969
I was hitting this issue and able to resolve this by adding following in 2 files:

In cluster.jinja:
[code]

[2019-10-30 21:46] jlewi commented on #4397
Reopening because this hasn't been cherry-picked to the release branch

[2019-10-30 23:41] jlewi commented on #4430
It looks like the test code is here:
https://github.com/kubeflow/kubeflow/blob/master/testing/test_deploy_app.py
It looks like this just issues deploy requests.

The Argo workflow has a step to deploy the kfctl server. So it looks like the E2E test deploys kfctl server and then issues a deploy request to it.

[2019-10-30 23:46] jlewi commented on #4415
Cherry pick #590 has been merged.
So the fix should be in the v0.7-branch and we just need to wait for verification.

[2019-10-30 23:47] jlewi commented on #4249
kubeflow/kubeflow#4435
was just merged

I think all fixes are in and we just need another kfctl RC.

[2019-10-31 05:47] shanidchamal commented on #4433
[node feature discovery](https://github.com/kubernetes-sigs/node-feature-discovery) and [nvidia gpu feature discovery](https://github.com/NVIDIA/gpu-feature-discovery) automatically generates labels on hardware features and gpu features respectively. [AMD GPU Kubernetes Node Labeller](https://github.com/RadeonOpenCompute/k8s-device-plugin/tree/master/cmd/k8s-node-labeller) for AMD gpu. since nodes

[2019-10-31 06:15] sarjeet2013 opened #4439 "GCP config yaml spec.secrets.secretSource` is configured empty for basic-auth"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Hitting the following error when running kfctl apply with gcp config 0.7* yaml:
kfctl apply -- -V -f kfctl_gcp_basic_auth.0.7.0.yaml
[code]

**What did you expect to happen:**
kfctl apply works fine and able to see the pods in running state.

**Anything else you would like to add:**
[Mi

[2019-10-31 08:08] jmsking commented on #4428
And i have view the pod log of application-controller-stateful-set as follows:

**$kubectl logs application-controller-stateful-set-0 -n kubeflow**
`2019/10/31 08:03:09 Requested Role.rbac.authorization.k8s.io, Registered: rbac.authorization.k8s.io/v1, Kind=RoleList
2019/10/31 08:03:09 Requested Role.rbac.authorization.k8s.io, Registered: rbac.authorization.k8s.io/v1alpha1, Kind=RoleList
2019/10/3

[2019-10-31 11:24] jlewi commented on #3518
Using: kubeflow/kubeflow - v0.4.0-rc.1-802-gd66f8b97
which corresponds to RC0.7
https://github.com/kubeflow/kubeflow/releases/tag/v0.7.0-rc.7

[code]

So everything looks good.

Marking this as fixe.d

[2019-10-31 11:24] #3518 closed

[2019-10-31 11:28] jlewi commented on #4327
@krishnadurai is there a 0.7.0 config which is shipping cert-manager v0.11.0? If not my suggestion would be to close this issue and rely on automatic and manual testing of the different configs that we are shipping for 0.7.0.

[2019-10-31 11:29] jlewi commented on #4389
Verified this is fixed using

kubeflow/manifests - v0.7.0-rc.2-16-gd6dad08
kubeflow/kubeflow - v0.4.0-rc.1-802-gd66f8b97

[code]

[2019-10-31 11:29] #4389 closed

[2019-10-31 11:31] jlewi commented on #4342
I deployed again using the latest RC.

kubeflow/manifests - v0.7.0-rc.2-16-gd6dad08
kubeflow/kubeflow - v0.4.0-rc.1-802-gd66f8b97

Everything is working.

[code]

Our endpoint test for IAP is also green.
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-periodic-master

So I'm going to close this issue as fixed.

[2019-10-31 11:31] #4342 closed

[2019-10-31 11:53] jlewi commented on #4428
@jmsking It looks like the statefulset can't create the pod.

[code]

This doesn't look like an issue with Kubeflow but rather an issue with StatefulSets and/or your Kubernetes cluster.

The error message looks like there is a problem contacting the APIServer to create the pod.

You might want to search Kubernetes forums for folks reporting similar problems. If you are using a vendor supported Kub

[2019-10-31 11:55] jlewi commented on #4427
Duplicate of #4414

[2019-10-31 11:55] #4427 closed

[2019-10-31 11:56] jlewi commented on #4414
A quick mitigation would be to have apply print out a success message when its done so that users know the deployment succeeded.

cc  @lluunn

[2019-10-31 11:59] krishnadurai commented on #4327
@jlewi exististing_arrkito config is using cert-manager config.

I will do the verfication to close this issue.

[2019-10-31 12:00] jlewi commented on #4423
Kubeflow is tested on 1.14.
This information is now on our docs.
https://www.kubeflow.org/docs/started/k8s/overview/#minimum-system-requirements

#4249 is the tracking bug for 0.7.0

Duplicate of #4249

[2019-10-31 12:00] #4423 closed

[2019-10-31 12:04] jlewi opened #4440 "Qualify 0.7.0 with kfctl_existing_arrikto.yaml"
We are now on 0.7.0RC7 for kfctl
https://github.com/kubeflow/kubeflow/releases

There are currently no known P0 issues.
https://github.com/orgs/kubeflow/projects/22?card_filter_query=label%3Apriority%2Fp0

Opening this bug to track qualifying the `kfctl_existing_arrikto.yaml` config.

Ideally we'd like to aim to finalize 0.7.0 today. So it would be great to do run through the deployment and identi

[2019-10-31 12:04] jlewi commented on #4440
/assign @yanniszark

[2019-10-31 12:08] jlewi opened #4441 "Qualify 0.7.0 with kfctl_k8s_istio.yaml"
We are now on 0.7.0RC7 for kfctl
https://github.com/kubeflow/kubeflow/releases

There are currently no known P0 issues.
https://github.com/orgs/kubeflow/projects/22?card_filter_query=label%3Apriority%2Fp0

Opening this bug to track qualifying the `kfctl_k8s_istio.yaml` config.

Ideally we'd like to aim to finalize 0.7.0 today. So it would be great to do run through the deployment and identify and

[2019-10-31 13:30] jlewi commented on #4439
I was able to reproduce this behavior using

kubeflow/manifests - v0.7.0-rc.2-16-gd6dad08
kubeflow/kubeflow - v0.4.0-rc.1-802-gd66f8b97

* Running `kfctl apply -v -f kfctl_gcp_basic_auth.yaml succeeded
  * I didn't get the error @sarjeet2013 mentioned above
* However, the secret source in my YAML is empty (see below)
* Running kfctl apply a second time results in the error listed above

[code]
* E

[2019-10-31 16:16] taffarel-gaivota commented on #4433
@shanidchamal thanks for the information. I dont necessary need to set the nodeSelector every time I create a notebook server. I mean to set this config when I install kubeflow or change something in the current setup to make all my new notebook server spawns at specific worker.

This is will be great in conjuction with https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudp

[2019-10-31 17:44] jlewi opened #4442 "[GCP] Endpoint test for basic auth"
/kind feature

We need an E2E test that the endpoint for the central dashboard is accessible with basic auth.

This would catch bugs like
kubeflow/manifests#593

It should hopefully be relatively straightforward to modify our existing endpoint ready test.
https://github.com/kubeflow/kubeflow/blob/master/testing/kfctl/endpoint_ready_test.py

[2019-10-31 17:58] sarjeet2013 commented on #4439
@jlewi

This works for me. Can use it temporarily until the issue is fixed.

secrets:
- name: password
  secretSource:
    envSource:
      Name: KUBEFLOW_PASSWORD

[2019-10-31 21:04] gabrielwen commented on #4442
/assign @gabrielwen

[2019-10-31 21:13] Jeffwan commented on #4249
The plan looks good to me. AWS side doesn't have any pending changes for 0.7 release.

[2019-10-31 23:11] kunmingg commented on #4393
reopen because it blocks basic auth v0.7.0

[2019-10-31 23:16] kunmingg commented on #4393
Error: secret source not found

How to reproduce:
[code]

The root cause is:
`HashedSource` is deleted in v1beta1 kfdef, so
`https://github.com/kubeflow/kubeflow/blob/master/bootstrap/pkg/apis/apps/configconverters/converters.go#L191` will drop `HashedSource` key when write GCP config (using v1alpha1) to config file.

[2019-11-01 00:07] jlewi commented on #4414
#4443 onto release branch.

[2019-11-01 03:46] Bobgy opened #4446 "Double back button clicks needed for navigating back in central dashboard"
/kind bug
/area centraldashboard

**What steps did you take and what happened:**
In KFP run detail page, I need to click back button twice to go back to run list page. It's similar for other pages including Katib and notebook servers.
https://screencast.googleplex.com/cast/NDYyNzM2NjM0MzA4MTk4NHxhZjI5MDBlMC05Zg

**What did you expect to happen:**
Single click on back button should be enough.

**An

[2019-11-01 03:47] Bobgy commented on #4446
@prodonjs @avdaredevil do you have any context?

[2019-11-01 04:22] #2029 closed

[2019-11-01 06:35] cyrilthank commented on #4423
Thanks a lot @jlewi for  patiently sharing this information

[2019-11-01 08:29] prem0912 opened #4450 "Error : Sorry, /metadata/ is not a valid page - in Kubeflow 0.6.2 deployed in AWS EKS"
/kind bug

**What steps did you take and what happened:**

Steps followed to install Kubeflow 0.6.2:

URL : https://v0-6.kubeflow.org/docs/aws/deploy/install-kubeflow/

**What did you expect to happen:**

Need to get artifacts store in Kubeflow UI

**Anything else you would like to add:**
** Logs **

root@ubuntu:~# kfctl init ${KFAPP} --config=${CONFIG} -V

INFO[0000] Downloading /tmp/kfctl_aws.ya

[2019-11-01 08:36] krishnadurai commented on #4441
This is fixed. Just verfied with a fresh deployment with the newest RC.

[2019-11-01 08:40] prem0912 commented on #4450
platform/aws

[2019-11-01 10:40] prodonjs commented on #4446
@Bobgy - We did have this regression but addressed it in #4326 which should be included in the rc-5 candidate you indicated. It looks like the issue might be somewhat different though than the core one that we wanted to address. Both Katib and KFP use hash based routing and the back button you reference in KFP simply uses the browsers's history functionality to go back a page.

When using KFP or a

[2019-11-01 11:29] krishnadurai commented on #4327
The warning messages during retry are missing in the RC: https://github.com/kubeflow/kubeflow/pull/4452

[2019-11-01 11:33] krishnadurai commented on #4441
What I've verified with this configuration:

1. Central Dashboard seems fine and #4415 is fixed now.
2. Notebooks and profiles are accessible and functional as intended
3. Pipelines seem to be working fine
4. Katib's random experiment example ran into this issue:

[code]

[2019-11-01 12:36] hougangliu commented on #4441
@krishnadurai
for katib, it works fine, you can ignore the INFO.

[2019-11-01 13:41] prodonjs commented on #4446
I can confirm that this is a regression based on the changes made in #4230 to account for navigation changes in the iframed-child pages to the URL of the parent as the v0.6.2 version of the dashboard does not exhibit the same behavior.

[2019-11-01 13:57] krishnadurai commented on #4441
@hougangliu thanks.

[2019-11-01 16:15] krishnadurai commented on #4441
The katib tests passed.

[2019-11-01 16:18] krishnadurai commented on #4441
@jlewi the RCs look good.

#4452 is a cherry-pick which needs to be merged in.

[2019-11-01 18:13] krishnadurai commented on #4441
/close

[2019-11-01 18:13] #4441 closed

[2019-11-01 19:10] jlewi commented on #4327
@krishnadurai Does that mean this is fixed and we can close this?

[2019-11-01 19:22] krishnadurai commented on #4327
This is fixed and we can close this.

[2019-11-01 19:22] krishnadurai commented on #4327
/close

[2019-11-01 19:22] #4327 closed

[2019-11-02 01:59] Bobgy commented on #4446
Just two cents from my understanding, haven't tried it out.
IFrame history changes are already records in window history, ref: http://www.webdeveasy.com/back-button-behavior-on-a-page-with-an-iframe/
So when we sync window location to iframe, we shouldn't use `pushState` which creates a second entry in https://github.com/kubeflow/kubeflow/pull/4230/files#diff-5184304ce3ffddcc77cdade1f1140072R250.

[2019-11-02 02:01] jlewi commented on #3905
This has been fixed. I verified the following endpoint was accessible.
https://kf-vmaster-1102-87a.endpoints.kubeflow-ci-deployment.cloud.goog/

[2019-11-02 02:01] #3905 closed

[2019-11-02 05:22] hjyoite commented on #4285
I found that if I built the notebook "kin-tf22" after the notebook "kin-tf2".
My request to "/notebook/kin/kin-tf22" would be redirected to the pod of "kin-tf2", so I got the "404" response.
I hope it may help you to locate the problem.
![image](https://user-images.githubusercontent.com/2801986/68066453-46a81e00-fd73-11e9-9ee5-c5cc224a2e56.png)
![image](https://user-images.githubusercontent.com/28

[2019-11-02 05:54] LinuxDevSecOps opened #4453 "Twilio and Xivo"
Hello,
I am facing some problems with xivo connecting with Twilio Trunk. Can someone suggest how to configure xivo for Twilio SIP provider. I tried with the DOCS of xivo . But there I am confused about outgoing and incoming call. Here some details:

username: VOIPSERVER
password: RJEKVtTntG8P4VHV92YU
Server . fourthestate.pstn.twilio.com
phone: +12028732400
 (202) 873-2400
Extension:
7101 for me
7

[2019-11-02 06:01] #4453 closed

[2019-11-02 06:01] LinuxDevSecOps commented on #4453
Solved

[2019-11-02 06:05] #3937 closed

[2019-11-02 06:05] LinuxDevSecOps commented on #3937
solved

[2019-11-02 06:13] jmsking commented on #4428
but when i execute the prompt as follows, there is no problem.
**$cd $KFAPP/kustomize/application/base**
**$kubectl apply -f cluster-role.yaml**

[2019-11-02 07:14] jmsking commented on #4428
i don't know why using v1alpha1-level APIs to create pod?

[2019-11-02 07:32] jmsking commented on #4428
@jlewi Then i view my k8s api version as follows:

**_$kubectl api-versions_**
[code]
i can't find _**rbac.authorization.k8s.io/v1alpha1**_, so there is the reason to create pod failed, but i view the yaml file in $KFAPP/kustomize/application/base as follows:

**_$ cat kustomization.yaml_**
[code]
**_$grep -r rbac.authorization.k8s.io_**
[code]
I don't know why using v1alpha1-level APIs to create

[2019-11-02 08:54] shanidchamal commented on #4285
@hjyoite nice catch! for testing, [Dockerfile](https://github.com/kubeflow/examples/blob/master/codelab-image/Dockerfile) of codelab-image can be used. The notebook created with this Dockerfile won't start because of no entry point. we can add correct entry point as in [custom notebook images](https://www.kubeflow.org/docs/notebooks/custom-notebook/) to Dockerfile and build it and test to see the

[2019-11-02 19:43] jlewi commented on #4414
Using basic auth on GCP and

kubeflow/kbueflow - v0.7.0-rc.7-3-g8dbde9d8
kubeflow/manifests - v0.7.0-rc.2-19-g317c0d8

I see the success message added by #4443 but I don't see the custom metrics error.

[code]

[2019-11-02 20:00] jlewi commented on #4190
This is fixed in 0.7. With 0.7 we use workload identity and notebooks are automatically using Kubernetes Service Accounts that are mapped to Google Service Accounts so users no longer need to attach credentials

[2019-11-02 20:00] #4190 closed

[2019-11-02 20:14] jlewi commented on #4439
I just deployed with basic auth using

kubeflow/kubeflow - v0.7.0-rc.7-3-g8dbde9d8
kubeflow/manifests - v0.7.0-rc.2-19-g317c0d8

Everything work so I'm marking this fixed.

[2019-11-02 20:14] #4439 closed

[2019-11-02 20:18] #3746 closed

[2019-11-02 20:18] #3736 closed

[2019-11-02 21:18] #3710 closed

[2019-11-02 21:18] #155 closed

[2019-11-02 21:20] jlewi commented on #4393
Basic auth is fixed by #4444

@kunmingg is there more work to be done here?

[2019-11-02 21:22] jlewi commented on #4249
I tested GCP basic auth with

kubeflow/kubeflow - v0.7.0-rc.7-3-g8dbde9d8
kubeflow/manifests - v0.7.0-rc.2-19-g317c0d8

I was able to successfully deploy and run the xgboost synthetic example

[2019-11-02 21:28] jlewi commented on #4397
I checked using basic auth and

kubeflow/kubeflow - v0.7.0-rc.7-3-g8dbde9d8
kubeflow/manifests - v0.7.0-rc.2-19-g317c0d8

rerunning `kfctl apply -V -f ...` succeeded.

[2019-11-02 21:28] #4397 closed

[2019-11-03 14:33] nrchakradhar commented on #4077
@kunmingg @jlewi
Sorry for coming back on this late. I am planning to have the following for the e2e test of profile in pythonic way.  The jsonnet test will be removed.
**Creation:**
1.   createProfile(profileYamlFile)

     - Reads a profile.yaml file and creates profile using `create_cluster_custom_object`

2.   verifyNamespaceCreation(name)
3.   verifyServiceAccounts(name)

       - "default-ed

[2019-11-03 19:25] #3005 closed

[2019-11-03 22:25] #3715 closed

[2019-11-04 03:22] prodonjs commented on #4446
@Bobgy - That's a great suggestion. I think that should resolve the issue so I'll test it tomorrow morning and get a PR ready if it works as expected.

[2019-11-04 05:26] cyrilthank commented on #4423
Is kubeflow 0.7.0 released?..can you please share how i may subscribe to this information/update?

[2019-11-04 07:08] Kyrremann commented on #3750
Just wanted to say that it is possible to install Kubeflow using `NodePort`, but it require an external load balancer (we use BigIP). You need two pools that can redirect to Kubeflow port, and to the Kubeflow Dex port.

[2019-11-04 08:58] krishnadurai commented on #3496
/remove lifecycle/stale

[2019-11-04 10:50] nrchakradhar commented on #4415
#590 seems to point to kubeflow repo itself instead of kubeflow/manifests [#589](https://github.com/kubeflow/manifests/pull/589)

[2019-11-04 10:58] nrchakradhar commented on #3496
@krishnadurai
I remember a PR from @swiftdiaries for using KinD (Kubernetes in Docker) for kubeflow e2e test. It could be a first step towards this testing. Its now possible to have KinD run in Kubernetes also as per [seldon comment](https://github.com/kubernetes-sigs/kind/issues/303#issuecomment-546705931)

Do we consider this or are there better choices?

[2019-11-04 13:33] jlewi commented on #4450
How are you connecting to the centraldashboard?
Are you following
https://v0-6.kubeflow.org/docs/other-guides/accessing-uis/

In particular are you connecting to the ingress grateway?

[2019-11-04 13:40] prem0912 commented on #4450
using the command

kubectl get ingress -n istio-system

NAMESPACE      NAME            HOSTS   ADDRESS                                                             PORTS   AGE
istio-system   istio-ingress   *       a743484b-istiosystem-istio-2af2-xxxxxx.us-west-2.elb.amazonaws.com   80      1h

source URL : https://v0-6.kubeflow.org/docs/aws/deploy/install-kubeflow/

[2019-11-04 13:41] jlewi commented on #4428
@jmsking I'm having a little trouble following your debug process here

* The original bug report shows that the statefulset is failing to create the pod
  * So why are you looking at the logs for application-controller-stateful-set-0?
     * This is the statefulset that is running the application controller (for Application CR)
     * This isn't the statefulset controller
  * The statefulset cont

[2019-11-04 13:42] prodonjs commented on #4446
Fix is ready in PR #4454. If you want to verify it, you can try image gcr.io/prodonjs-kubeflow-dev/centraldashboard@sha256:702fe888e94d4596b353ea9002aa0b8ac6818d1d5573bf9c37320c2d05f5b0cf

[2019-11-04 13:53] krishnadurai commented on #3496
@nrchakradhar the PR which you are mentioning is #4237.

@swiftdiaries could you please provide the context around KinD and how we can go on to introduce it?

[2019-11-04 14:29] jlewi commented on #4414
With IAP

[code]

So we still have the error about custom metrics but we have the success metric after it.

Downgrading to P2 because this looks like a fit and finish issue now to figure out what to do about the spurious error message.

[2019-11-04 14:39] jlewi commented on #4415
@krishnadurai Are you able to verify this is fixed no so that we can close out this issue?

[2019-11-04 14:46] krishnadurai commented on #4415
@jlewi this is fixed
/close

[2019-11-04 14:46] #4415 closed

[2019-11-04 15:38] LeonardAukea commented on #3362
@jlewi Nice idea. Would it not make more sense to use vs-code IDE locally and easily communicate with kubeflow apis? In the case of connecting to a server -> https://devblogs.microsoft.com/python/remote-python-development-in-visual-studio-code/
https://github.com/Microsoft/vscode-dev-containers .
So what I'm getting at is the ability to attach vscode to a running server.

[2019-11-04 17:29] yanniszark commented on #3739
Update:
There seems to be a community agreement that Kubeflow needs a config in the lines of
existing_arrikto, for installing on on-prem clusters.
Since our intention was for it to be a community config from the start, we refactor it into a community-supported config.
More info: https://github.com/kubeflow/manifests/issues/599

This makes this issue obsolete.
/close

[2019-11-04 17:29] #3739 closed

[2019-11-04 19:39] jlewi commented on #4249
Docs are updated.

Anything else to do before closing this out?

[2019-11-04 19:59] jlewi commented on #3496
Wouldn't using a tool like

* [kops](https://github.com/kubernetes/kops)
* [kubeadm](https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm/)
* [kubespray](https://github.com/kubernetes-sigs/kubespray)

Be a better tool than KinD for simulating and testing an on prem cluster? IIUC KinD is targeting a local (single machine) environment.

With tools like kops I would expect we can use Clou

[2019-11-04 20:00] jlewi commented on #4423
See kubeflow/kubeflow#4249

[2019-11-04 20:05] jlewi commented on #3788
Obsolete with 0.7 since we now use workload identity.

[2019-11-04 20:05] #3788 closed

[2019-11-04 20:06] jlewi commented on #3637
Related: kubeflow/kubeflow#3405 jupyter-web-app should read notebook conditions

Related: kubeflow/kubeflow#3772 Lots of discussion about how to surface statefulset events in the jupyter CR and web app

[2019-11-04 20:57] jlewi commented on #4285
@hjyoite I believe the issue with two notebooks with the same prefix was fixed by kubeflow/kubeflow#4168
which is in v0.7.0 which is no available.

I'm closing this issue as not-reproducible since it was using an earlier RC for 0.7.0. Please try the final 0.7.0 release and if you are still hitting problems open a new issue.

[2019-11-04 20:57] #4285 closed

[2019-11-04 20:58] jlewi commented on #3659
This is fixed in 0.7.0.

[2019-11-04 20:58] #3659 closed

[2019-11-04 21:07] jlewi commented on #2337
@MrXinWang I would suggest talking to @jinchihe and looking at what we are doing for power #4133 we should try to follow the same approach for arm as we are following for power

[2019-11-04 21:11] jlewi commented on #3362
I don't think the too are mutually exclusive.
There are two use cases for running vscode inside the cluster

1. For demos/tutorials it would be nice to have an IDE installed in the cluster and accessible via web browser so we don't have to deal with getting an editor installed locally
1 Being able to edit code stored inside a pod or PVC in the cluster without out having to copy the files back and

[2019-11-04 21:12] jlewi commented on #3362
There's also Theia
https://theia-ide.org/

[2019-11-04 21:25] jlewi commented on #2789
@syeo you can disable node auto-provisioning using gcloud
https://cloud.google.com/kubernetes-engine/docs/how-to/node-auto-provisioning#disable

[2019-11-04 21:35] jlewi commented on #3712
If the files are in a repo then why wouldn't you point the repos in you KFDef at the Git repository; e.g.

[code]

This assumes the directory structure is a mirror of kubeflow/manifests. If its not a mirror of the manifests and you have a different directory structure then you can modify the repoRef.path for every application to point to the appropriate location

e.g.

[code]

[2019-11-04 22:02] swiftdiaries commented on #3496
KinD is specifically for CI environments and ephemeral (so it doesn't add to frequent resource quota out  of bound errors that break Prow). The problem with using `gcloud` or `kops` or `kubeadm` is that it creates resources external to the workflow. Istio uses `KinD` a lot and `kubeadm` uses `KinD` to test `kubeadm`
I am working on a GitHub action to test `kfctl` to remove the dependency with Prow

[2019-11-04 23:18] gabrielwen commented on #4393
Closing this issue as basic auth was fixed.

[2019-11-04 23:18] gabrielwen commented on #4393
/close

[2019-11-04 23:18] #4393 closed

[2019-11-04 23:27] jlewi commented on #4117
@krishnadurai can we close this as a duplicate of kubeflow/kubeflow#3496?
If not what is the unique work this issue is tracking?

[2019-11-04 23:29] jlewi commented on #4212
Kubeflow doesn't work on 1.16 yet.
See: kubeflow/manifests#375

[2019-11-04 23:38] gabrielwen commented on #3520
@jlewi I think this was fixed?

[2019-11-04 23:46] jlewi commented on #3496
@swiftdiaries Can I suggest putting together a short doc describing what you are doing? Specifically about replacing prow with GitHub actions.  Can you open up another issue to discuss since I think replacing prow with a GitHub action is unrelated to this issue?

@swiftdiaries You raise a good point about quota. If we use Kind

* Are the logs emitted in some sensible fashion? i.e. if you have an e

[2019-11-04 23:55] gabrielwen commented on #3713
/close
close for now.