[2021-03-22 07:39] #5587 closed

[2021-03-22 08:55] kim-sardine commented on #5554
@DavidSpek Thanks for your reply, same problem occurred with the image you said.

however, I've just found that it's an `istio-proxy` related issue.

since every jupyter notebook has `istio-proxy` sidecar container and I'm in internal enterprise proxy environment, `istio-proxy` have to know internal proxy server's information.

so I've created istio `ServiceEntry` (refer to [this](https://istio.io

[2021-03-22 08:55] #5554 closed

[2021-03-22 11:23] yanniszark commented on #5712
@bobgy seems like this is needed for GCP environments. Should we discuss and agree on a mechanism for adding labels to profile namespaces? For example, a new CLI arg (e.g., `--namespace-labels`) with a format like `key=value,key=value,...` (same as kubectl) and a default value of the existing labels.
The release date is very close, so such a PR should be made ASAP if it is to be included in the RC

[2021-03-22 12:00] danishsamad commented on #5452
It seems to be more related to missing / misconfigurations that were not corrected to comply with istio 1.6. You can check my suggested changes to verify if it works for you and incorporate in the 1.2 branch

[2021-03-22 12:09] #3362 closed

[2021-03-22 12:14] kimwnasptd commented on #5575
@thesuperzapper @DavidSpek what is the state of this?

Could you also provide me a list of images that are merged and have a built image ready? I'd like to
1. update the config of Jupyter web app to use the latest images
2. keep track of the images we will publish

[2021-03-22 12:22] DavidSpek commented on #5575
Only RStudio still needs to be done. Here is a list of the images for the `spawner_ui_config.yaml`. Here is a snippet for the latest images for Jupyter and VS-Code.

[code]

[2021-03-22 12:26] crmne commented on #5714
@wkeifenheim how did you updated that manually?

would this work?

[code]

[2021-03-22 12:38] ulrikpl commented on #5714
Thank you @wkeifenheim wkeifenheim. I too did finally manage to install it using the patch/workaround. The  kustomize trick didn't work for me because Pilot.yaml is made using istioctl and not kustomize. Also changing the upstream folder is a bit against the idea of having a base folder. What I did is admittedly a bit hacky, but it works and removes the need to delete any pods. I added the patch.y

[2021-03-22 12:44] kimwnasptd commented on #5575
@thesuperzapper @DavidSpek could you provide a list of pending PRs?

Is there an opened PR for this? What's the effort required?

[2021-03-22 12:46] DavidSpek commented on #5575
PR's are https://github.com/kubeflow/kubeflow/pull/5624 and https://github.com/kubeflow/kubeflow/pull/5711 (this one is not much work). We were already quite a ways through the RStudio image but Mathew left for a dinner break.

[2021-03-22 13:54] lukkiddd commented on #5410
@DavidSpek Thank you so much.

After I opened the issue on Github, I haven't see it again.

[2021-03-22 14:03] Bobgy commented on #5712
Not fully sure about the format, it doesn't look easy to split labels across multiple patches (which seems very likely needed during configuration).
I'll work with @zijianjoy, who will be writing a PR.

However, I think we are not 100% blocked on profile controller, it's OK for GCP to use its own fork, because looks like we'll be the only one needing this feature.

[2021-03-22 14:04] Bobgy commented on #5712
A more urgent issue might be adding a `pipelines.kubeflow.org/enabled` label to namespaces, I'll make sure that's added ASAP.

[2021-03-22 15:46] ReggieCarey opened #5745 "CodeServer Image Failing"
Greetings,

Just attempted to use the public.ecr.aws.j1r0q0g6/notebooks/notebook-servers/codeserer-python:master-c99f886b image on a CPU only node with the following results:

<img width="947" alt="image" src="https://user-images.githubusercontent.com/10270182/112016071-c074af00-8b02-11eb-8689-48a84c70096d.png">

This is against Kubeflow v1.2.0 on an on-prem Kubernetes v1.18.9.

In theory, there s

[2021-03-22 15:50] ReggieCarey commented on #5745
P.S. Using dockerd instead of containerd.  Apparently NVIDIA nvidia-container-runtime requires dockerd and cannot use containerd.  Could switch but its a dramatic update to an otherwise functioning K8s production cluster.

[2021-03-22 15:53] crmne commented on #5708
fixed following this comment https://github.com/kubeflow/kubeflow/issues/5714#issuecomment-803177214

[2021-03-22 15:53] #5708 closed

[2021-03-22 16:33] yanniszark opened #5747 "rstudio tests fail"
/kind bug

**What steps did you take and what happened:**
I tried to run the rstudio tests as part of another PR. The build failed with:
[code]
http://prow.kubeflow-testing.com/log?container=test&id=1374034947567783936&job=kubeflow-kubeflow-presubmit

Looking under `py/kubeflow/kubeflow/ci/notebook_servers`, I don't see any `notebook_server_rstudio_tests` file.
cc @DavidSpek

[2021-03-22 16:35] yanniszark commented on #5747
/assign @DavidSpek

Could you take a look?

[2021-03-22 16:36] DavidSpek commented on #5747
PR still needs to be merged, so it doesn't exist yet. https://github.com/kubeflow/kubeflow/pull/5624
Same for RStudio-Tidyverse: https://github.com/kubeflow/kubeflow/pull/5711.
Working on cleaning them up massively now, should be ready soon.

[2021-03-22 17:23] yanniszark commented on #5712
@Bobgy I understand that this is needed in order for KFP to work with KF 1.3, correct? Thanks for bringing it up, looking forward to the PR. BTW, if you make this PR, then perhaps it makes sense to also include the label configuration setting. What do you think?

[2021-03-22 17:47] TT310 commented on #5230
ERRO[0634] Permanently failed applying application cert-manager:  (kubeflow.error): Code 500 with message: Apply.Run : error when creating "/tmp/kout781015294": Internal error occurred: failed calling webhook "webhook.cert-manager.io": the server is currently unable to handle the request  filename="kustomize/kustomize.go:288"
Error: failed to apply:  (kubeflow.error): Code 500 with message: kfApp

[2021-03-22 20:09] ayushpandeyemotionrx opened #5749 "Unable to Create or apply the management cluster:"
Error: unknown command "r" for "yq"
Run 'yq --help' for usage.
Error: unknown command "r" for "yq"
Run 'yq --help' for usage.
Error: unknown command "r" for "yq"
Run 'yq --help' for usage.
Error: unknown command "r" for "yq"
Run 'yq --help' for usage.
Error: unknown command "r" for "yq"
Run 'yq --help' for usage.
Error: unknown command "r" for "yq"
Run 'yq --help' for usage.
make: *** No rule to m

[2021-03-22 20:55] kimwnasptd opened #5750 "AutoML entry in the CentralDashboard"
/kind feature

### Why you need this feature:
We want to define the story around how to expose AutoML `Experiments` in Kubeflow. This is in continuation to the discussion from https://github.com/kubeflow/kubeflow/pull/5739#issuecomment-803622218.

In the first iteration #5739 we included AutoML under the `Experiments` section of the Central Dashboard like this
[code]

The guideline we want to enfo

[2021-03-22 20:56] kimwnasptd commented on #5750
Also cc @StefanoFioravanzo  who is mainly maintaining the Central Dashboard

[2021-03-22 22:03] rdoume commented on #5714
Hey everyone,

I'm not sure I properly understand the fix described in  #https://github.com/kubeflow/gcp-blueprints/issues/198, especially on how to patch the Pilot.yml.

I'm not super proficient with the whole kubernetes ecosystem & deployment, so I'm a bit struggling between the whole set of tools used to deploy here.

[2021-03-22 22:18] kimwnasptd commented on #5750
I would personally vote for option 2 for now, since we both add AutoML at the root level,  and align with the current guideline.

And we can keep on iterating on the structure and the pages of the Katib UI going forward and decide what makes sense for us. I can open a PR first thing tomorrow for any option we decide to go on with.

[2021-03-22 22:25] DavidSpek commented on #5749
@ayushpandeyemotionrx This has to do with `yq` version 3 versus version 4. For version 4 you need to use `yq eval`. The syntax for version 4 has completely changed so if the code has been written for version 3 it most likely will need to be completely rewritten.

Where exactly are you encountering this issue?

[2021-03-22 22:40] DavidSpek commented on #5750
I think option B is a bit messy, but option A also doesn't make sense I think. Also, what is the difference between `runs` and `executions`?

Wouldn't the following be an option?

[code]
I think the most important thing here is to have a clear view which things relate to each other and how. This way the dashboard is (hopefully) setup so everything is in the place the user expects them to be.

[2021-03-22 22:43] DavidSpek commented on #5745
Kubeflow 1.2 doesn't support this yet. You'd need to update the notebook-controller image and the Jupyter Web App image to the latest ones on ECR (and fix some (cluster)rolebindings to use that image.

[2021-03-22 22:56] ayushpandeyemotionrx commented on #5749
This is happening when I doing the management cluster setup while deploying Kubeflow on GCP.
I was following instructions at https://www.kubeflow.org/docs/gke/deploy/management-setup/

[2021-03-23 00:02] andreyvelich commented on #5750
I agree with @DavidSpek to keep this structure at least for Kubeflow 1.3:
[code]
 The question, how make it easier for the user? Keep AutoML or Katib ?
 In the future versions, if we decide to keep various CRDs for HP, NAS, AutoMC we can easily extend the subsections:
[code]

 WDYT @kimwnasptd @DavidSpek @gaocegege @johnugeorge ?

[2021-03-23 01:39] jbottum commented on #5749
/platform gcp
/area kfctl
/priority p2
/kind question

[2021-03-23 01:39] jbottum commented on #5747
/kind question
/priority p1
/area jupyter

[2021-03-23 01:58] gaocegege commented on #5750
I agree with @andreyvelich

[2021-03-23 04:10] alexZsss opened #5751 "ERROR Permanently failed applying application cert-manager"
/kind bug

**What steps did you take and what happened:**

when i perform ‘kfctl apply -V -f ${CONFIG_FILE}’;

but failed
...
...
WARN[0576] Encountered error applying application cert-manager: (kubeflow.error): Code 500 with message: Apply.Run Error error when creating "/tmp/kout658281390": Internal error occurred: failed calling webhook "webhook.cert-manager.io":
the server is currently unable t

[2021-03-23 06:30] Bobgy commented on #5703
Duplicate of https://github.com/kubeflow/gcp-blueprints/issues/198

[2021-03-23 06:30] #5703 closed

[2021-03-23 08:41] DavidSpek commented on #5750
I agree with @andreyvelich, but just want to include my comment about the order of the top section in here:

[code]

[2021-03-23 09:04] Thor-wl commented on #5740
The CRD informers/clientset/lister for k8s v1.16 is ready. Please refer to: https://github.com/volcano-sh/apis/tree/release-1.16

[2021-03-23 11:47] DavidSpek commented on #5745
You can give this one a try otherwise: `public.ecr.aws/j1r0q0g6/notebooks/notebook-servers/codeserver-python:master-1831e436`

[2021-03-23 11:53] DavidSpek commented on #5745
Regarding NVIDIA, GKE runs on `containerd` and has GPU support. The NVIDIA-Container-Runtime is just a patched version of `runc` to enable GPU support (`containerd` uses `runc`).
https://josephb.org/blog/containerd-nvidia/

[2021-03-23 12:44] ljainker opened #5752 "Sorry, /tensorboards/<namespace>/<tensorboard server name>/ is not a valid page"
/kind bug

**What steps did you take and what happened:**
Facing the "Sorry, /tensorboards/<namespace>/<tensorboard server name>/ is not a valid page"  error when trying to connect to the Tensorboard server created through Tensorboard-web-app UI

**What did you expect to happen:**
Connect to the Tensorboard server for visualisation

**Environment:**
- Kubeflow version: 1.2
- Kubernetes platform: O

[2021-03-23 14:50] wkeifenheim commented on #5714
@ulrikpl Thanks for posting your fix! Off-topic, but have you happened to look at logging with your deployment? I had around 40k error messages a minute being generated from bad config, but the Kubeflow deployment otherwise looked all green and was working from the minimal testing I performed. I wonder if the way I went about adding the legacy permission caused the explosion in log volume..

[2021-03-23 15:02] StefanoFioravanzo commented on #5750
@DavidSpek @andreyvelich I will try to re-elaborate on what @kimwnasptd tried to convey here:

We want to group **objects** together, giving more semantic meaning to how users see items in the sidebar. It is arguably better to show per-object groups rather than per-app ones. It's not about CRDs even, because a high level use of Kubeflow doesn't imply that someone even knows what they are.

I see K

[2021-03-23 15:12] Ursanon commented on #5724
Moved. Thanks @DavidSpek

[2021-03-23 15:12] #5724 closed

[2021-03-23 15:54] SaschaHeyer opened #5755 "GCP / Deploy using kubectl and kpt / make apply / error"
/kind bug

**What steps did you take and what happened:**

1. Followed the guidelines https://master.kubeflow.org/docs/distributions/gke/deploy/deploy-cli/#configure-kubeflow
2. Step `make apply` fails with the following error message

[code]

**What did you expect to happen:**
no error during make

**Anything else you would like to add:**
/

**Environment:**

- Kubeflow version: (version number c

[2021-03-23 16:11] DavidSpek commented on #5750
@StefanoFioravanzo That's why I said: `I think the most important thing here is to have a clear view which things relate to each other and how. This way the dashboard is (hopefully) setup so everything is in the place the user expects them to be.` Once that has been thought through, I think a large redesign of the central-dashboard will be needed.

[2021-03-23 16:23] Dimiftb commented on #5491
Hi @lehrig,

I attempted your solution, however I'm still getting the same issues. Could you maybe share some more details?
I created the role binding following your advice:
`kubectl create rolebinding -n anonymous --clusterrole=cluster-admin --user=anonymous@kubeflow.org my-role-binding`

`kubectl get rolebinding -n anonymous` gives:
<img width="557" alt="image" src="https://user-images.githubuse

[2021-03-23 16:30] lehrig commented on #5491
Looks more like https://github.com/kubeflow/kubeflow/issues/4731

-> check:
1. that you have have the anonymous filter component deployed for single-user installations
2. your istio envoy filter succeeds in weaving anonymous@kubeflow.org into requests

[2021-03-23 16:31] ulrikpl commented on #5714
@wkeifenheim I haven't looked yet. The deployment is not smooth at all in my experience. Haven't made a single one without getting weird errors and exited 'make apply' deployments. Pods do eventually come up though so it seems to be a question of holding your nose and 'make apply' a few times. I suspect it has to do with interdependencies between pods and insufficient wait times between their depl

[2021-03-23 17:03] wkeifenheim commented on #5714
@ulrikpl Accurate 😅 . Believe it is a CRD race issue that was apparently fixed at some point, but is certainly present now ([ref](https://github.com/kubeflow/kubeflow/issues/1933)). I had to run `make apply` four times to get all the way through deployment.

[2021-03-23 17:34] zijianjoy commented on #5712
Thank you @Bobgy for helping answering questions on this thread!

@DavidSpek : Thank you for checking the latest documentation of Istio! We will make sure `istio-injection:enabled` exists for scenarios where Anthos is not being used.

@yanniszark Sharing my attempt of adding configurable labels here, meanwhile me and @Bobgy are working on a PR. Please comment if you feel that this approach is not

[2021-03-23 17:51] #5575 closed

[2021-03-23 18:48] andreyvelich commented on #5750
I don't think we can make this assumption.
In Katib, Trial - one step of the model evaluation, which is just a part of HP tuning process. I am not sure that is similar to KFP Runs.
The Katib Experiment workflow consists Suggestion + Trial. Which is not similar to KFP Runs.

My concern that structure:
[code]
can confuse our user.
I think we should get a clear understanding what does each object (Ex

[2021-03-23 18:57] pthalasta commented on #5638
@DavidSpek i did a little more testing for this. So, the trainer.train() works when the notebook is created with 1 GPU but not when there are multiple GPUs available. Just to confirm, when you tested in your environment, was it 1 GPU instance or multi-GPU?

[2021-03-23 19:37] SaschaHeyer commented on #5755
update:
the issue is related to changes introduced with kustomize 4
see https://github.com/kubernetes-sigs/kustomize/issues/3746

[2021-03-23 19:57] SaschaHeyer opened #5759 "istioctl requirement but not mentioned in documentation / fails with error"
/kind bug

**What steps did you take and what happened:**
1. Followed the guidelines https://master.kubeflow.org/docs/distributions/gke/deploy/deploy-cli/#configure-kubeflow
2. Step make apply fails with the following error message

[code]

The documentation does not mention that `istioctl` is required for the setup

**What did you expect to happen:**
required steps in the documentation

**Anythin

[2021-03-23 19:59] DavidSpek commented on #5638
It was a single GPU instance. I am testing this on my home cluster which only contains a single GPU. However, I still believe this is most likely an issue with the transformers package and multi-GPU in this case.

[2021-03-23 20:08] SaschaHeyer opened #5760 "Kubeflow on GCP - setup error III"
/kind bug

**What steps did you take and what happened:**

1. Followed the guidelines https://master.kubeflow.org/docs/distributions/gke/deploy/deploy-cli/#configure-kubeflow
2. Step make apply fails with the following error message

[code]

istio-operator.yaml

[code]
**What did you expect to happen:**
no error

**Anything else you would like to add:**
/

**Environment:**

- Kubeflow version: (ve

[2021-03-23 20:29] SaschaHeyer commented on #5760
seems env: params.env is deprecated

[2021-03-23 21:00] DavidSpek commented on #5747
@yanniszark Can you confirm this has been fixed by merging the RStudio PRs?

[2021-03-23 22:32] DavidSpek commented on #5752
@ljainker The manifests for the Tensorboards Web App are not finalized yet and will be part of the upcoming Kubeflow release 1.3. How exactly did you try and deploy the Tensorboards Web App?

[2021-03-23 22:55] yanniszark commented on #5712
@zijianjoy thanks for the update, I'm glad you're working on this. I have some questions regarding the design.
More specifically, it seems a bit complicated to me while it shouldn't be, at least from my current point of view.
My question is, why can't we go with a simpler design, like a CLI argument?
e.g., https://github.com/kubeflow/kubeflow/issues/5712#issuecomment-803987717

What do we gain fro

[2021-03-23 23:46] coldtomatojuice commented on #5590
I went through the same situation while I was using kubeflow on-premise k8s
We've got istio-system/authservice pod restarted and It worked well again

[2021-03-24 04:15] thesuperzapper commented on #5750
To all watching, this is a blocking issue for Kubeflow 1.3.

In the community meeting we all committed to resolving it before end-of-day  __2021-03-24 [California time]__ (tomorrow), what needs to be done for a PR to get merged @kimwnasptd?

I am happy to help, if needed.

[2021-03-24 07:56] Bobgy commented on #5712
For clarification, it seems GCP distribution will be the only one needing this. So I don't feel it's a blocker to release. If we cannot catch up with the release train, it's ok for us to release a fork of profile controller only used in GCP distributions.

Anyway, it'll be great if we can catch up.

[2021-03-24 09:37] kimwnasptd opened #5763 "Can't create Notebooks from web app when port-forwarding ISTIO gateway"
/kind bug

**What steps did you take and what happened:**
1. Port forward the Istio ingress gateway and access Kubeflow over localhost
2. Navigate the the Notebooks Management UI
3. Click `LAUNCH` in the form and try to spawn a Notebook

After this I got an error due to CSRF header missing in the POST request.

**What did you expect to happen:**
I would expect the app to be able to work, if access

[2021-03-24 09:39] kimwnasptd commented on #5763
I can create a small PR that will introduce an `APP_SECURE_COOKIES` env variable that will control whether the app should use `Secure` cookies or not. This will allow people to make the app work even if exposed over http with a simple change in the manifests.

/assign @kimwnasptd

[2021-03-24 12:16] #5763 closed

[2021-03-24 13:37] ulrikpl opened #5767 "GCP kubeflow 1.2 install: Kpt not setting values for upstream/manifests/gcp/v2/management/"
/kind question

Before installing kubeflow we 'make set-values' which invokes kpt setting. However no attempt is being made to set values in upstream/manifests/gcp/v2/management but it is clear that default values are being set in multiple places. Does anybody know if this is a bug and how it affects my install?

[code]

[2021-03-24 13:47] andreyvelich commented on #5750
@kimwnasptd @StefanoFioravanzo @yanniszark Any updates on this issue ?
I believe, we can fix it until end of today.

[2021-03-24 14:33] StefanoFioravanzo commented on #5750
Hey @andreyvelich,

I agree on the fact that Trials don't necessarily have to correspond 1:1 to KFP Runs. We have been successfully doing that with Kale, which creates Katib Experiments that start a new (parametrized) KFP Run for each Trial. We basically tune whole pipelines, using their output metrics as optimization metrics.

Besides, I know about the `katib-launcher` in KFP that allows running

[2021-03-24 14:40] andreyvelich commented on #5750
Yes, it is possible. We also have an examples with Tekton + Katib integration: https://github.com/kubeflow/katib/tree/master/examples/v1beta1/tekton.
In that approach, I am still not sure that we can say that KFP Run and Trial has the same logic.

Notebooks
Volumes
Tensorboards
Experiments (KFP)
Experiments (AutoML)
...

Sound good to me. It would be great if we could also update the doc: https://

[2021-03-24 15:00] DavidSpek commented on #5750
All sounds good to me. I think it would be useful to have a meeting after the release with a few people and create a clear description how all the different componenets of Katib and Pipelines relate to each other so we can figure out how the UIs should be sorted and interact with each other. @andreyvelich does this sound like a good idea to you?

[2021-03-24 15:03] andreyvelich commented on #5750
@DavidSpek Sure, it would be great.

[2021-03-24 15:09] kimwnasptd commented on #5750
Moving on with a PR to update the Dashboard. I'll be using the [katib.svg](https://github.com/kubeflow/katib/blob/master/docs/images/logo.svg) for the entry, but slightly edited to look like the other icons.

@andreyvelich yeap, we will update the docs to ensure they are up to date with the Central Dashboard's latest changes of 1.3.

[2021-03-24 15:21] andreyvelich commented on #5750
Thank you @kimwnasptd!
We should also push your edited icon to the Katib repo to be consistent.

[2021-03-24 17:47] crmne opened #5769 "What is the best way to restrict external users to inference/Knative access only in Kubeflow GCP /w IAP?"
/kind question

**Question:**
We have clients that will use our APIs that are behind KFServing and/or Knative running in a Kubeflow cluster. e.g. https://api.client.platform.freshflow.ai

We are using Kubeflow 1.2 on GCP with the default blueprints which also enables IAP.

_What is the best way to restrict external users to inference/Knative access only in Kubeflow GCP /w IAP?_ We don't want to gi

[2021-03-24 19:24] zijianjoy commented on #5712
@yanniszark

Thank you Yannis! And we definitely have your suggestion in mind and we are open to it. The benefit of my proposal is that users can change ConfigMap for namespace labels at any point of time, and without interfering with profile controller deployment. It gives flexibility and scalability with a yaml file because users don't need to restart profile controller, and they can add comment

[2021-03-24 20:52] #5750 closed

[2021-03-24 21:34] yanniszark opened #5772 "release: Cut a release branch"
/kind feature

**MUST BE MERGED FIRST:** https://github.com/kubeflow/kubeflow/pull/5746

**Why you need this feature:**
To release the WG-Notebook apps and give a revision to WG-Manifests:
https://github.com/kubeflow/manifests/issues/1775

**Describe the solution you'd like:**
Cut the `v1.3-branch`, same as in previous releases of this repo.

/assign @Bobgy

[2021-03-24 23:36] DavidSpek commented on #5769
/cc @Bobgy

[2021-03-25 01:31] Bobgy commented on #5772
I cut v1.3-branch from master.

[2021-03-25 01:31] Bobgy commented on #5772
https://github.com/kubeflow/kubeflow/tree/v1.3-branch

[2021-03-25 08:39] ljainker commented on #5752
Hi @DavidSpek

I deployed Tensorboard-web-app with kustomize - https://github.com/kubeflow/kubeflow/tree/master/components/crud-web-apps/tensorboards/deploy
The above mentioned issue is not related to manifests I suppose, the issue is with the prefix value of the Virtual service that gets created when the user creates the Tensorboard servers through tensorboard web-app https://github.com/kubeflow/

[2021-03-25 08:42] DavidSpek commented on #5752
@ljainker You should probably be using https://github.com/kubeflow/kubeflow/tree/master/components/crud-web-apps/tensorboards/manifests/overlays/istio

You will also need the tensorboards controller: https://github.com/kubeflow/kubeflow/tree/master/components/tensorboard-controller/config/overlays/kubeflow.

[2021-03-25 09:25] DavidSpek commented on #5747
I believe this can be closed.
/close

[2021-03-25 09:25] #5747 closed

[2021-03-25 12:57] SpecialAll opened #5774 "Spawn failed: pod/jupyter-shiyan did not start in 300 seconds!"
![image](https://user-images.githubusercontent.com/46620932/112476263-ad850780-8dac-11eb-804e-893fbf0fb750.png)

[2021-03-25 13:06] chinmaychandak opened #5775 "Invalid Certs while Securing KubeFlow with HTTPS."
Hi everyone, I’m using KubeFlow on AWS EKS. I deployed KubeFlow v1.2 on AWS using this doc: https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/

I am trying to secure the deployment with HTTPS. For this, I edited the KubeFlow Gateway Object as mentioned in the docs here: https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/#secure-with-https, but am getting this error in the logs:

[co

[2021-03-25 13:35] yanniszark commented on #5772
@Bobgy thanks a lot 😄 !

[2021-03-25 13:35] #5772 closed

[2021-03-25 14:09] yanniszark commented on #5712
I'll make sure to take a look after the 1.3 release. Thanks!

[2021-03-25 20:35] QuesarVII commented on #5751
I'm having the same issue with a freshly provisioned k8s cluster.  I did it manually with kubeadm init, added calico, and then did kfctl apply.  I tried with both the regular istio and the dex versions of the config with the same results.  I removed the kubeflow, cert-manager, and istio namespaces before trying again.

I then blew that away and reprovisioned everything using Nvidia's deepops ansib

[2021-03-25 22:56] atamahjoubfar opened #5778 "Fast local storage for caching the training dataset"
/kind question

**Question:**
What is the best approach for using the local storage, e.g., NVMe solid-state drives of the GPU nodes for caching the training datasets?

In many on-premise deployments, a high-performance distributed file system is not available. However, the GPU nodes usually have local solid-state drives, which are fast. To my understanding, Kubernetes does not support dynamic volu

[2021-03-26 01:53] SpecialAll commented on #5774
![image](https://user-images.githubusercontent.com/46620932/112565970-1d30dc00-8e19-11eb-8b20-e739cf9897b9.png)
I have solved this problem, because user POD failed to pull the image.

[2021-03-26 01:53] #5774 closed

[2021-03-26 12:09] omar16100 commented on #3362
Very excited for this!

[2021-03-26 12:37] DavidSpek commented on #5778
@atamahjoubfar You could use Rook with Ceph and use the local disks as far as I know, but what you are describing sounds more like Arrikto's Rok storage solution. For this you would need an Object Storage solution as well, which I believe could be done nicely with TrueNAS and its built in MinIO service for on-premises deployments. For more information about Rok you should contact @jbottum as he wo

[2021-03-26 12:40] DavidSpek commented on #5775
@chinmaychandak Did you create the certificate with name `istio-ingressgateway-certs` in the `istio-system` namespace? If so, did you try deleting the ingressgateway pod after creating the certificate?

[2021-03-26 13:25] chinmaychandak commented on #5775
Thank you so much for responding, @DavidSpek!

No, I did not create any certs - just followed the doc as is. Could you please help me on how I can create certs, my knowledge in this field is limited?

[2021-03-26 13:29] DavidSpek commented on #5775
@chinmaychandak The doc is not very well structured, but the `Secure with HTTPS` is part of the entire `Expose Kubeflow` section. In the `Expose with a LoadBalancer` section there are the instructions on how to create a certificate with cert-manager.

[2021-03-26 14:08] chinmaychandak commented on #5775
Awesome, will let you know how it goes! Greatly appreciate the help.

[2021-03-26 15:15] jbottum commented on #5778
@atamahjoubfar thanks for your question.    We (Arrikto) definitely agree with your architectural assessment on the benefits of local NVMe disks.  For the last few years, we have committed a large team of specialists to optimize the performance, cost, and operations of Kubeflow's ML workflows on local NVMe.   As you evaluate support options for Kubeflow, data management and storage classes, please

[2021-03-26 15:23] blairdrummond commented on #5778
@atamahjoubfar  I am working on a solution for this as well, and one thing I've noticed is that http-based object storage (like MinIO or S3 equivalents) seems to struggle with the "randomly access many small files" problem. I don't have a good solution yet, but am looking at a kind of architecture (S3/MinIO -> Redis -> GPU) where something "bulk loads" Redis from S3, and then the GPU can reach out

[2021-03-26 15:39] yanniszark opened #5784 "Postsubmits failing on release branch"
/kind bug

**What steps did you take and what happened:**
We use postsubmits to release kubeflow/kubeflow on release branch v1.3: https://github.com/kubeflow/kubeflow/pull/5776

The release PR was merged, but the Argo Jobs failed with a weird error:
http://prow.kubeflow-testing.com/log?job=kubeflow-kubeflow-postsubmit&id=1375389773824266240
https://argo.kubeflow-testing.com/workflows/kubeflow-test

[2021-03-26 15:40] yanniszark commented on #5784
cc @PatrickXYS

[2021-03-26 15:40] yanniszark commented on #5784
/priority p0

[2021-03-26 15:54] PatrickXYS commented on #5784
This doesn't seem to clone the v1.3-branch

I tried locally,

  remotes/origin/HEAD -> origin/master
  remotes/origin/master

[2021-03-26 16:33] craigjmidwinter opened #5785 "Configuring Baseurl"
/kind question

**Question:**
I've been digging through the docs and haven't found anything on this, but I've configured istio to serve kubeflow with a `/kubeflow/` where can I configure the baseurl for the central dashboard so that the js/css assets can be loaded?

[2021-03-26 18:18] PatrickXYS commented on #5784
Built new image, and retry workflow succeeded in `checkout` step

https://argo.kubeflow-testing.com/workflows/kubeflow-test-infra/kubeflow-kubeflow-postsubmit-nb-j-tf-0214c7a-6240-2686?tab=workflow&nodeId=kubeflow-kubeflow-postsubmit-nb-j-tf-0214c7a-6240-2686-3921483283

[2021-03-27 00:15] PatrickXYS commented on #5784
/close

Close in favor of passing

[2021-03-27 00:15] #5784 closed

[2021-03-27 00:41] Bobgy commented on #5769
/cc @yanniszark
I think with our current design,

The short term workaround is that you can set up another ingress just for them and configure authz based on your requirements.

Long term solution is probably that each kubeflow component should implement subject access review based authz, so that we can set permission in granularity per application.

[2021-03-27 02:52] summerisc opened #5787 "Run container with privilege in the notebook"
**What I want to do**
I had an image with a file storage system seaweed and try to run fuse mount within it, to mount a local path to seaweed system. I got 'fusermount: fuse device not found, try 'modprobe fuse' first' error and it seems the container needs to run under privileged. I already patched:
[code]
to the notebook resource. The notebook spec looks like:
![Screen Shot 2021-03-26 at 10 51 0

[2021-03-27 12:37] DavidSpek commented on #5787
You can create a notebook that uses the root user, or give your user sudo access. If you want to access hardware directly from a pod the kube-apiserver needs to run in privileged mode.

[2021-03-27 12:40] DavidSpek commented on #5444
@ifs-imaddjelaili I am now working on adding this feature in https://github.com/kubeflow/kubeflow/pull/5783. Here is a sample of what it would look like when fully implemented in the Volumes Web App.

![vwa-pvcviewer-opt6](https://user-images.githubusercontent.com/28541758/112721027-fe5a4480-8f01-11eb-996b-b421bf1c100c.gif)

[2021-03-27 12:42] DavidSpek commented on #5409
Closing this issue as deploying storage solutions are out of the scope of Kubeflow.
/close

[2021-03-27 12:42] #5409 closed

[2021-03-27 12:47] DavidSpek commented on #5565
@Boes-man Just wanted to let you know that I have this functionality in mind with the work I am doing on the new Volumes Web App.

[2021-03-27 12:50] DavidSpek commented on #5676
@arunnalpet I believe this section in the notebook-controller is what is causing this behavior.
https://github.com/kubeflow/kubeflow/blob/98fc2dcb57fe0a5311abed28510a4df58a506971/components/notebook-controller/controllers/notebook_controller.go#L353

[2021-03-27 13:01] yanniszark opened #5788 "Tag release v1.3.0-rc.0"
Tag commit https://github.com/kubeflow/kubeflow/commit/0214c7ab0480352d4757a9a6296051470c9878da of v1.3-branch as `v1.3.0-rc.0` to complete process described in https://github.com/kubeflow/kubeflow/blob/master/releasing/README.md

/assign @Bobgy

[2021-03-27 13:43] Bobgy commented on #5788
Hi @yanniszark! I tagged the commit by the following commandss:

[code]

[2021-03-27 13:45] Bobgy commented on #5788
https://github.com/kubeflow/kubeflow/releases/tag/v1.3.0-rc.0

[2021-03-27 15:39] yanniszark commented on #5788
Thanks a lot @Bobgy

[2021-03-27 15:39] #5788 closed

[2021-03-28 09:08] DavidSpek commented on #5785
I don't believe this is easily configurable currently, but I might be mistaken.

[2021-03-28 09:54] DavidSpek commented on #5778
@atamahjoubfar Some other solutions that might be interesting for you:

https://www.alluxio.io

https://piraeus.io

[2021-03-28 15:23] erolco opened #5789 "unknown flag: --load_restrictor"
/kind bug

I wanna try to deploy kubeflow on private GKE cluster. But when i make apply i got unknown flag: --load_restrictor error. Can you help me about this issue.

ekaraboga@cloudshell:~/kf-deployments/kubeflow (erol-sandbox)$ make apply
# Delete build because we want to prune any resources which are no longer defined in the manifests
rm -rf .build/
mkdir -p .build/
PROJECT=erol-sandbox NAME=k

[2021-03-28 16:09] artemlops commented on #5572
Hi, I get the same issue on Arch linux, having the same major+minor versions for k8s and kubectl doesn't help.
[code]

[2021-03-28 16:12] summerisc commented on #5787
Hi, @DavidSpek Thanks for mentioning that. While in this case, instead of using the root user, I am trying to run the container with --privileged flag. Is there a way to do it?

[2021-03-28 16:24] artemlops commented on #5572
worked when installing `kfctl` via instruction from this tarball: https://github.com/kubeflow/kfctl/releases/tag/v1.2.0

[2021-03-28 18:15] summerisc commented on #5787
This can be done by setting Container.set_security_context

[2021-03-28 18:15] #5787 closed

[2021-03-28 20:35] DavidSpek commented on #5745
@ReggieCarey Can you provide more information about this issue or can it be closed?

[2021-03-28 23:30] ReggieCarey commented on #5745
I can’t test in the new environment just yet.  It fails to run in Kubeflow 1.2.  This issue was intended to point out difficulties with the RC image. I am waiting for the rest of 1.3 RC to be ready to test.

Sent from my iPhone

[2021-03-29 13:34] erolco opened #5790 "admission webhook denied the request: unknown field"
I want to deploy kubeflow on privateGKE but I got an error when I make apply.

I am following this document(https://master.kubeflow.org/docs/distributions/gke/private-clusters/)

Error from server: error when creating ".build/gcp_config/container.cnrm.cloud.google.com_v1beta1_containercluster_kubecluster.yaml": admission webhook "deny-unknown-fields.cnrm.clou
d.google.com" denied the request: unkn

[2021-03-29 13:37] erolco commented on #5789
I downgraded kustomize version to 3.9.4 and it has been resolved.

[2021-03-29 13:37] #5789 closed

[2021-03-29 13:45] sabya39 opened #5791 "Installation error on minikube"
What steps did you take and what happened:
I was trying to install Kubeflow on my standalone MAC laptop with the guide given by
https://www.kubeflow.org/docs/started/workstation/minikube-linux/
using the command
kfctl apply -V -f ${https://raw.githubusercontent.com/kubeflow/manifests/v1.2-branch/kfdef/kfctl_k8s_istio.v1.2.0.yaml}

Getting error as below
ERRO[0745] Permanently failed applying appli

[2021-03-29 19:30] moficodes commented on #5540
I am facing similar issue with Kubeflow 1.2 on OpenShift with istio 1.3.

has there been any update or fixes available for this?

@Tomcli

[2021-03-29 20:04] jbottum commented on #5791
/area installation
/kind bug
/priority p2

[2021-03-29 20:11] jbottum commented on #5791
@sabya39 sorry to hear of this issue.   you might get some help from the community, but I think most of the folks are working on the Kubeflow 1.3 release.      You might look at other options here, https://www.kubeflow.org/docs/started/getting-started/.   Note - since I work for Arrikto and we provided MiniKF, I know that that is easy to get running (especially on AWS and GCP).   If you are going

[2021-03-29 20:13] jbottum commented on #5760
/area installation
/platform gcp
/priority p2
/kind question

[2021-03-29 20:21] jbottum commented on #5769
/area kfserving
/platform gcp
/kind question
/priority p2

[2021-03-29 20:24] jbottum commented on #5696
/kind feature
/area ipv6
@ayush7007 which platform / cloud are you deploying to i.e. GCP, AWS, On-Prem ?

[2021-03-29 20:31] jbottum commented on #5759
/platform gcp
/area installation
/area istio
/priority p2

[2021-03-29 20:33] jbottum commented on #5705
@ReggieCarey did you get a solution for this ?

[2021-03-29 20:36] ReggieCarey commented on #5705
Have not tried any upgrade to 1.3.

[2021-03-29 20:49] jbottum commented on #5704
/kind bug
/priority p2

[2021-03-29 20:51] jbottum commented on #5745
/area jupyter
/priority p2
/kind feature

[2021-03-29 21:41] jbottum commented on #5676
@arunnalpet is this in an on-prem cluster i.e. openshift?   please let us know.   your answer will help us to route to the right platform/distribution team.

[2021-03-29 21:44] jbottum commented on #5667
@ReggieCarey just wanted to see if we could close this issue.

[2021-03-29 22:25] jbottum commented on #5659
/plafform AWS

[2021-03-29 23:11] ReggieCarey commented on #5667
Please close

Sent from my iPhone

[2021-03-29 23:12] DavidSpek commented on #5667
/close

[2021-03-29 23:12] #5667 closed

[2021-03-30 01:55] arunnalpet commented on #5676
@jbottum .. this is not openshift.. this is vanilla Kubernetes which is deployed and managed by HPE Ezmeral platform.. and yes this is on-prem cluster.

[2021-03-30 07:15] erolco commented on #5790
kind
/question

[2021-03-30 12:15] erolco opened #5792 "Config Connector Later Version"
/kind question

**Question:**

Hi can I use Config Connector 1.39.0 in Kubeflow 1.2 instead 1.29.0 config connctor version. How can I do that ?

[2021-03-31 10:42] JohanWork commented on #5048
I am also having this issue, happened to me after deleting the deployment and trying to set it up again.

[2021-03-31 12:22] crmne opened #5794 "GKE Cluster node autoprovisioning switching back to Tesla K80 after being configured to P100 in GCP Console"
/kind bug

**What steps did you take and what happened:**
* Go to GKE → Clusters → Kubeflow cluster → configure node auto provisioning to use Tesla P100s instead of K80s
* Deploy something on a P100 instance
* Wait 10 minutes
* Node auto-provisioning switches back to K80

**What did you expect to happen:**
Node auto provisioning configuration to not change, or a way to change it from `kpt`

**Anyt

[2021-03-31 13:09] thunderhill opened #5795 "kfctl install from master branch is failing."
/kind bug
Trying to install from the master branch to see v1.3 cp kfctl_k8s_istio.yaml to  kfname dir.
kfctl apply -V -f kfctl_k8s_istio.yaml

(base) user@user-desk:~/kfname$ kfctl apply -V -f kfctl_k8s_istio.yaml
INFO[0000] Deleting cachedir .cache/manifests because Status.ReposCache is out of date  filename="kfconfig/types.go:477"
INFO[0000] Fetching https://github.com/kubeflow/manifests/archive

[2021-03-31 13:57] crmne opened #5796 "Automatic deployment of GKE managed SSL certificates for Knative Serving/KFServing endpoints"
/kind feature

**Why you need this feature:**
We have clients that access our APIs through Knative Serving/KFServing endpoints. These API URLs are of the form:
{name}.{namespace}.{domain} and in the default Kubeflow 1.2 deployment in GCP are under Google IAP, a Cloud Load Balancer, and they use the default GKE-managed certificate.

However, this certificate is only valid for {domain}, meaning our

[2021-03-31 13:58] Shaked commented on #5048
@ulrikpl @JohanWork  please check https://github.com/kubeflow/gcp-blueprints/issues/198

[2021-03-31 20:16] jbottum commented on #5795
/area kfctl
/priority p2
/kind bug

[2021-03-31 20:18] jbottum commented on #5794
/priority p2
/platform gcp
/area installation
/kind question

[2021-03-31 20:20] jbottum commented on #5792
/kind question
/priority p2
/area installation
/platform gcp

[2021-03-31 20:21] jbottum commented on #5778
/platform on-prem
/priority p2

[2021-03-31 20:22] jbottum commented on #5790
/area gcp
/priority p2
/area installation

[2021-03-31 20:23] jbottum commented on #5785
/area istio
/prioirty p2

[2021-03-31 20:26] jbottum commented on #5775
/platform aws
/area installation
/priority p2

[2021-03-31 20:31] jbottum commented on #5752
/kind feature
/area installation
/area Tensorboard
/priority p2

[2021-03-31 20:36] jbottum commented on #5722
/priority p1
/area jupyter

[2021-03-31 20:37] jbottum commented on #5704
/area central dashboard

[2021-03-31 20:43] jbottum commented on #5695
/priority p2

[2021-03-31 20:50] jbottum commented on #5701
/area pipelines
/priority p2
/kind question

@vaskozl did you get this resolved ?   related, what storage class are you using ?

[2021-03-31 21:02] jbottum commented on #5688
/priority p2

[2021-03-31 21:06] jbottum commented on #5677
@aronchick hey david, is there someone that might help on this question ?

[2021-03-31 21:15] jbottum commented on #5676
/platform on-prem

[2021-03-31 21:21] jbottum commented on #5675
/area jupyter
/platform aws
/priority p1

[2021-03-31 21:23] jbottum commented on #5666
@ludans have you found a proper configuration for your needs?

[2021-03-31 21:41] jbottum commented on #5616
@vishal-wiai did you find a solution? should we set-up a follow-up?

[2021-03-31 21:53] PatrickXYS commented on #5675
I think this done per my comment https://github.com/kubeflow/kubeflow/issues/5675#issuecomment-797581524

/close

[2021-03-31 21:54] #5675 closed

[2021-04-01 00:21] jbottum commented on #5669
@3dimaging did you get this issue resolved?  are you planning to upgrade to Kubeflow 1.3, which should be out after the release candidate testing is finished ?

[2021-04-01 00:26] jbottum commented on #5621
@vladislavkoz we will start testing the kubeflow 1.3 release candidate soon, and there will be some new kustomize / kubectl installation patterns.   You might consider using KF 1.3

[2021-04-01 00:28] jbottum commented on #5635
/platform on-prem

@bravo325806 question - which storage class are you using ?

[2021-04-01 10:32] vaskozl commented on #5701
I haven't resolved this yet, I'm still stuck with a maximum number of splits (queries). Previously I ran this pipeline on Airflow and didn't have this restriction.

I'm pulling the data from MySQL through a component based on the PrestoExampleGen, and I'm using DO Spaces as S3 compatible object storage to store the TFX and Kubeflow artfiacts.

[2021-04-01 14:22] matty1979 opened #5801 "Unable to install via instructions on page"
/kind bug

**What steps did you take and what happened:**
Followed instructions downloading the cognito version and editing.

**What did you expect to happen:**
Install correctly

**Anything else you would like to add:**
[code]

**Environment:**

- Kubeflow version: (version number can be found at the bottom left corner of the Kubeflow dashboard):
- kfctl version: (use `kfctl version`): `kfctl v1.

[2021-04-01 14:56] HassanOuda commented on #4912
@maganaluis Hi Luis, can you explain a little bit on how you did this approach? Thanks

[2021-04-01 17:28] matty1979 commented on #5801
[code]

Attempted to run again and same error.

[2021-04-01 17:44] kimwnasptd opened #5802 "Make the web apps work without a trailing slash in the path"
/kind feature

**Why you need this feature:**
Right now the web apps are only available under paths like `/jupyter/`, `/volumes/`, `/tensorboards/`.

**Describe the solution you'd like:**
The user should be able to navigate to these paths but without the last slash, i.e. `/jupyter`, `/volumes`, `/tensorboards`.

**Anything else you would like to add:**
We will definitely need to edit the common [b

[2021-04-03 12:19] DavidSpek opened #5803 "crud-web-apps 1.3 Could not find CSRF cookie XSRF-TOKEN in the request"
/kind bug

When trying to create a new notebook server, tensorboard in the tensorboards-web-app or PVC with the volumes web app it fails with the following error:
[code]
I saw this behavior in the past few days, as well as with a complete fresh installation with the final manifests for the release candidate. This doesn't seem to affect the other web apps as I am able to create experiments and run

[2021-04-05 02:32] kim-sardine commented on #4860
Thanks, I solved my problem by increasing `istio-ingressgateway`' deployment's resources

[2021-04-05 10:19] kimwnasptd commented on #5803
This is because by default the CSRF cookie will be set using the `Secure` attribute.

But in your case I see that you connect via plain http, which prevents the cookie to be set. Here's the relevant section from MDN https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie#Secure

The easiest solution will be to use the `APP_SECURE_COOKIES=False` env variable into each app, which essent

[2021-04-05 10:22] DavidSpek commented on #5803
Thanks for the reply. I found the cause and solution quickly after posting the issue, but I believe many more people installing 1.3 will run into this. For this reason I defaulted the Istio ingress gateway to be HTTPS and use the `kubeflow-self-signing-issuer` to provide a certificate for the gateway in the Argo installation https://github.com/kubeflow-onprem/ArgoFlow.

[2021-04-05 15:25] DavidSpek commented on #5525
@kimwnasptd I've just created a PR that updates all the CRUD web apps in this repo from Angular 8 to Angular 11. I've added the command to (almost) every commit as the description so it should be easily to follow. I think the only web app that is now excluded from this is the new Katib UI. However, I believe it will be fairly easy to update that from Angular 8 to 11 using the commands in the descr

[2021-04-05 15:54] matty1979 commented on #5578
Same error.

[2021-04-05 18:53] DavidSpek commented on #5801
@matty1979 Kubeflow 1.3 RC has been released now so I think you might have more success with this new version. There are instructions how to install Kubeflow with Kustomize in the [manifests repo](https://github.com/kubeflow/manifests).

I've also written a blog post and created an accompanying repository to install Kubeflow 1.3 with Argo CD which you can take a look at as well. I've added some he

[2021-04-05 19:42] DavidSpek commented on #5752
@ljainker I've written a blog post and created an accompanying repository for deploying Kubeflow 1.3 RC with Argo CD in case you are interested.
https://vanderspek-david.medium.com/deploying-kubeflow-1-3-rc-with-argo-cd-ca98606b98eb
https://github.com/kubeflow-onprem/ArgoFlow

[2021-04-06 01:39] kim-sardine commented on #5704
Same issue here!!

[This youtube link](https://youtu.be/cAEtjMI1KcQ?t=2128) says that two steps are required

1. set expiration time of the authentication session cookie to `-1`
2. redirect client to ldp logout endpoint. (eg. `https://mydomain.auth.us-east-1.amazoncognito.com/logout?
client_id=ad398u21ijw3s9w3939&
logout_uri=https://myclient/logout`)

but our central dashboard just redirect client

[2021-04-06 06:03] aresa7796 opened #5806 "change image registry to docker hub"
/kind feature

**Why you need this feature:**
I pull images is failed in aws eks china, I think the current iamges are gcr.io ,can't access gcr.io in China.

**Describe the solution you'd like:**
I hope change image registry to docker hub .

[2021-04-06 06:04] aresa7796 commented on #5806
@jlewi

[2021-04-06 08:14] mradha-beat opened #5807 "Propagate annotations from notebook to pod"
/kind question

**Question:**
Is there a way to define pod annotations inside the `notebook` resource manifest so that the notebook spawns pods with the right annotation?

**Use case**: we use pod annotations under `metadata.annotation` for the AWS role required to access data sources. Right now, we are adding this annotation to the created pod after initializing the notebook, however this needs t

[2021-04-06 09:33] ayush7007 commented on #5696
I am deploying this On-prem.

[2021-04-06 10:53] kimwnasptd commented on #5525
Thank you for your efforts on this @DavidSpek!

Have you bumped into blockers or critical issues that will require us to migrate to the newest version of Angular? This will help us schedule our cycles in this effort.

The main issues around the migration that we need to take in to consideration are:
1. we don't have e2e tests that constantly ensure the core functionalities of the apps work
2. we d

[2021-04-06 11:10] DavidSpek commented on #5525
@kimwnasptd I haven't bumped into any blockers other than a bug in the upgrade process from 8 to 9. Testing the web apps manually everything works. The only thing that is not working at the moment is the CI test for the common frontend code. However, locally this works without a problem so I am not sure why a certain part of the test is failing.

I haven't noticed any issues when using Ivy, so I t

[2021-04-06 11:12] juliusvonkohout opened #5808 "Jupyterlab, Rstudio and VSCode do not run as non root in Kubeflow 1.8"
/kind bug

@DavidSpek

[code]

It also does not work with podman

[code]

The user should be set in the statefulset itself if the container is not good enough to run as any user

[code]

[2021-04-06 11:27] DavidSpek commented on #5808
@juliusvonkohout Just for clarity, I've made sure that nothing inside the container runs as root. For this reason, the following part of the error message is normal and not actually a problem:
[code]

The `/tmp_home/jovyan/` should be owned by UID 1000, GID 100, so I am not sure why you are getting permission denied for the copying. Looking at the rest of the error outputs, I've only seen this whe

[2021-04-06 11:56] kimwnasptd commented on #5807
Hi @mradha-beat

Unfortunately right now the [Notebook's spec](https://github.com/kubeflow/kubeflow/blob/master/components/notebook-controller/api/v1/notebook_types.go#L27) only allows us to configure the Spec of the underlying Pod.

Being a able to modify the Annotation is a use case that makes sense to have but since the Notebooks CRD is migrated to `v1` we are not able to further extend the Spe

[2021-04-06 11:57] juliusvonkohout commented on #5808
Ok,then UID 1000, GID 100 must be set in the securitycontext of the pod. Otherwise the common default is used, which is usually not 1000:100

[code]

[code]

I am using these security settings

[code]

[2021-04-06 12:04] kimwnasptd opened #5810 "Extend CI tests to catch format errors on the web apps"
/kind feature

**Why you need this feature:**
To ensure the code of our [crud-web-apps](https://github.com/kubeflow/kubeflow/tree/master/components/crud-web-apps) properly formatted.

**Describe the solution you'd like:**
Extend the existing CI python files to also run a task that will be checking the formatting of TypeScript as well as run `flake8` tests on the backends of the [crud-web-apps](htt

[2021-04-06 12:15] DavidSpek commented on #5808
@julienstroheker I currently don't have the resources to look into this much, can you confirm the issue is also still present with podman? Then I might be able to look into this locally. I would like to note that these images are provided as examples at this point. While the README for these images has not yet been merged, you can take a look here to get more information: https://github.com/kubefl

[2021-04-06 12:32] DavidSpek commented on #5810
@kimwnasptd Something I've noticed is that all the presubmit tests run as a single `presubmit` test. I think it would be better to split the tests so that you can `/retest` just the `common-ui-tests` if it fails for example and not also have it run the volumes-web-app image build test as well.
This way, you easily see in GitHub that the linting presubmit test failed and that functionally everythin

[2021-04-06 12:35] DavidSpek commented on #5808
/kind feature
/kind-remove bug

[2021-04-06 12:36] DavidSpek commented on #5808
/remove-kind bug

[2021-04-06 12:36] juliusvonkohout commented on #5808
The s6 init system is broken by design, but there might be a workaround

[code]

This is also documented here https://github.com/just-containers/s6-overlay#read-only-root-filesystem

[code]
So one could try the following in the dockerfile

[code]

I will try it.

[2021-04-06 12:43] DavidSpek commented on #5808
`/var/run/s6` is created on container startup as far as I know, so the folder is owned by the creator. Otherwise, it would also fail to start when using docker or containerd as s6 is not executed as root.

[2021-04-06 12:43] mradha-beat commented on #5807
Thanks for the explanation! :) We'll find a different way.

[2021-04-06 12:48] DavidSpek commented on #5808
As I suspected, the `/var/run/s6` directory does not exist in the container image as it is created on startup so it can't be `chown`ed in the Dockerfile, and it can't be done at boot as S6 isn't run as root.
Could you try creating that directory in the Dockerfile and running `chown` to see if that allows it to start properly?

[2021-04-06 12:55] juliusvonkohout commented on #5808
Yes, and a non-root user should not be able to write to it.

[code]
Is not working because of that

[code]
They are using root rights via setuid in S6 AFAIK to create the directory at startup. Obviously this privilege escalation is forbidden in a secure cluster.

I will try to mount an emptydir below it.

[2021-04-06 13:00] juliusvonkohout commented on #5808
This works and shows how broken s6 is security-wise.

[code]

Maybe it is possible to change the default s6 working directory from /var/run/s6 to /tmp//var/run/s6

[2021-04-06 13:02] juliusvonkohout commented on #5808
So a workaround would be to add

1. securitycontext 1000:100
2. emptydir volume
3. volume mount to /var/run/s6

as shown above to the statefulset.

[2021-04-06 13:56] #5807 closed

[2021-04-06 17:05] DavidSpek commented on #5807
@mradha-beat Not sure if it is useful for your specific use-case but with pod-defaults (a.k.a. admission-webhook) you can add annotations to pods.

https://github.com/kubeflow/kubeflow/tree/master/components/admission-webhook

https://github.com/kubeflow/kubeflow/blob/ebc0c4f073397537412694f9f255dbb3fbdf2043/components/admission-webhook/pkg/apis/settings/v1alpha1/poddefault_types.go#L58

[2021-04-06 17:10] DavidSpek commented on #5789
Just so you know, you don't need this flag for most of the Kubeflow manifests (as far as I know only Katib requires it). Also, for newer versions of kustomize the command is `kustomize build --load-restrictor=LoadRestrictionsNone`, but again you shouldn't need it for most of the manifests (and the other manifests should be updated to, which I am busy implementing).

[2021-04-06 17:15] DavidSpek commented on #5775
@chinmaychandak Can this issue be closed?

[2021-04-07 03:23] thesuperzapper commented on #5712
@yanniszark @Bobgy @zijianjoy as discussed this in the community meeting, if this remains a significant issue for the GCP distribution, we should probably resolve it before we GA the manifests for Kubeflow 1.3.

[2021-04-07 03:28] thesuperzapper commented on #5803
@DavidSpek did you resolve this?

[2021-04-07 05:54] alasdairtran opened #5812 "AwsIamForServiceAccount plugin is incompatible with apiextensions.k8s.io/v1"
In `apiextensions.k8s.io/v1`, object properties with no types are pruned (more info [here](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#specifying-a-structural-schema)).

So using the current CustomResourceDefinition for Profile, when I use the `AwsIamForServiceAccount` plugin, the field `awsIamRole` always gets pruned when I create a profile.

M

[2021-04-07 06:39] zijianjoy opened #5813 "[profile-controller] profiles CRD does not preserve unknown fields in plugins.spec"
Higher KF 1.3 distribution issue: https://github.com/kubeflow/manifests/issues/1798

## UPDATE 4.8

We identified root cause, explained in https://github.com/kubeflow/kubeflow/issues/5813#issuecomment-815450791.
This issue affects both GCP and AWS plugins and should block the release.

## Previous status

Currently we are debugging an issue on GCP when profile controller attempt to set IAM policy

[2021-04-07 06:44] Bobgy commented on #5813
@zijianjoy I transferred the issue to kubeflow/kubeflow repo, this belongs to notebooks WG, and code lives here.
/cc @kubeflow/wg-notebooks-leads

[2021-04-07 06:47] Bobgy commented on #5813
From the area of code triggering the issue, it seems completely GCP specific -- the workload identity plugin: https://github.com/kubeflow/kubeflow/blob/ebc0c4f073397537412694f9f255dbb3fbdf2043/components/profile-controller/controllers/plugin_workload_identity.go#L49

Shall we fork profile controller for GCP and fix it in our fork?

[2021-04-07 06:47] DavidSpek commented on #5803
@thesuperzapper I did by having the ingress gateway use HTTPS. For the Argo deployment I’m using the Kubeflow-self-signing-issuer to generate a very for the ingress gateway to avoid people running into this problem. I’m guessing a lot of people are going to run into this so that is why I hadn’t closed the issue yet.

[2021-04-07 12:10] chinmaychandak commented on #5775
Yes, thank you so much! I used the Cognito manifest instead and that seemed to make things work. :)

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: DavidSpek ***@***.***>
Sent: Tuesday, April 6, 2021 10:45:38 PM
To: kubeflow/kubeflow ***@***.***>
Cc: Chinmay Chandak ***@***.***>; Mention ***@***.***>
Subject: Re: [kubeflow/kubeflow] Invalid Certs while Securing K

[2021-04-07 12:11] #5775 closed

[2021-04-07 12:44] kimwnasptd commented on #5810
This would make sense.

@PatrickXYS if we had multiple presubmit jobs defined in the `prow_config.yaml` and some of them failed, then if we would type the `/retest` would that make only the failed argo workflows rerun?

[2021-04-07 12:48] DavidSpek commented on #5810
@kimwnasptd `/retest` will retest all, but you would have the option to run `/retest <failed-job>` with that setup. Now you can do `/retest presubmit` which re-runs all the tests as the presubmit contains all the tests.

[2021-04-07 13:00] kimwnasptd commented on #5810
IIRC right now even if we define multiple presubmits jobs in the `prow_config.yaml` these will end up being run/managed under a single Prow Job, which will spawn multiple Argo CRs for each presubmit job in that file. So if we do `/retest` or `/retest <failed-job>` then this will just rerun the entire failed Prow Job, not just the failing underlying Argo Workflows that are managed from the Prow Job

[2021-04-07 14:03] HassanOuda opened #5814 "Cannot create notebook when profiles have resourcequotas"
/kind bug

**What steps did you take and what happened:**

It looks like in 1.3, with the new jupyter app, the cpu and memory are being set as requests not limits, as shown here:
[https://github.com/kubeflow/kubeflow/blob/ebc0c4f073397537412694f9f255dbb3fbdf2043/components/crud-web-apps/jupyter/backend/apps/common/form.py#L163](https://github.com/kubeflow/kubeflow/blob/ebc0c4f073397537412694f9f255

[2021-04-07 14:32] matty1979 commented on #5801
Thanks for this, this seems a ton easier to follow. Creating a new eks cluster and will walk through this with using Argo.

[2021-04-07 14:46] Bobgy commented on #5813
The crashing line of code seems to be https://github.com/kubeflow/kubeflow/blob/ebc0c4f073397537412694f9f255dbb3fbdf2043/components/profile-controller/controllers/plugin_workload_identity.go#L55

because sth wasn't working, `gcp.GcpServiceAccount` is empty, so it crashes by `len(gcp.GcpServiceAccount)-len(GCP_SA_SUFFIX)=-24`

[2021-04-07 14:52] DavidSpek commented on #5814
/priority p0

[2021-04-07 14:52] Bobgy commented on #5813
I'm not sure why `gcp.GcpServiceAccount` is initially empty, it is supposed to be set a default value in https://github.com/kubeflow/kubeflow/blob/ebc0c4f073397537412694f9f255dbb3fbdf2043/components/profile-controller/controllers/profile_controller.go#L582-L594

I think next step is:
1. fix the crash when gcpServiceAccount is empty
2. troubleshoot why default gcpServiceAccount is not set properly

[2021-04-07 15:07] Bobgy commented on #5813
I tried to directly edit a profile and add workload identity section, but it is immediately reverted back to empty...

[2021-04-07 15:25] PatrickXYS commented on #5810
You're right, in short, to achieve what you desire, you have to add more entries here https://github.com/kubeflow/testing/blob/master/aws/User/clusters/optional-test-infra-prow/namespaces/prow/configmap/config.yaml#L120-L133.

[2021-04-07 17:17] zijianjoy opened #5816 "[profile-controller] Move away from using namePrefix in kustomization"
Higher KF 1.3 distribution issue: https://github.com/kubeflow/manifests/issues/1798

Currently profile controller uses `profiles-` in its namePrefix to apply this prefix to all resources. See https://github.com/kubeflow/manifests/blob/master/apps/profiles/upstream/default/kustomization.yaml#L9.

It creates difficulty and confusion to downstream kustomization, because the downstream patches will ne

[2021-04-07 17:20] zijianjoy commented on #5816
It makes sense, let me move this issue to kubeflow/kubeflow repo.

I agree that namePrefix is generally creating difficulty in terms of down stream kustomization. However, the scope of the issue will become too big if we want to fix everything https://github.com/kubeflow/manifests/search?p=1&q=namePrefix in KF 1.3 release. Therefore we will focus our scope to blocking item (profile controller) in

[2021-04-07 18:25] kimwnasptd commented on #5814
Hi @HassanOuda, thanks for creating the issue!

This is indeed a regression from the previous Jupyter web app. Previously it would set both the `limits` and `requests` with the same values [[code](https://github.com/kubeflow/kubeflow/blob/master/components/deprecated/jupyter-web-app/backend/kubeflow_jupyter/common/utils.py#L392-L393)]. But the newest web app, which is the one shipped in 1.3, only

[2021-04-07 18:28] DavidSpek commented on #5814
@kimwnasptd I created a PR that fixes this and allow the administrator to set a multiplication factor for the cpu and memory limits. This way the users don't need to be bothered with this and the administrator can set a buffer value for the limit based on the request (for example: limits is 20% more than what was requested).

[2021-04-07 18:36] HassanOuda commented on #5814
@kimwnasptd The thing with `LimitRange `is that you have to set a limit for the entire namespace for all pods which is a major disadvantage for other types of pods running there. Also, each user's usage of notebook server will differ so giving everyone equal limit from `LimitRange ` doesn't make sense.

I think @DavidSpek's idea is good for the interim for 1.3 until you upgrade the front end to sp

[2021-04-07 18:43] HassanOuda commented on #5814
Or just setting it back to how the old jupyter web app was and keeping it as limit instead of requests. It's been like that since the beginning and I think users know that its the maximum resources a pod can use. That how we word it to our users.

It could be something we can mention in the documentation to avoid confusion.

[2021-04-07 18:44] DavidSpek commented on #5814
@HassanOuda How about a hybrid approach? We keep the multiplication factor that I implemented in the PR so admins can set this for the average users, but also add a custom limits input in an advanced section of the spawner UI.

[2021-04-07 18:50] #5801 closed

[2021-04-07 18:50] matty1979 commented on #5801
All apps deployed

[2021-04-07 18:54] HassanOuda commented on #5814
Yea that could work. But lets try to keep it simple just for the official release and add something more advanced in another version. Just so that this fix is not delayed.

[2021-04-07 18:55] kimwnasptd commented on #5810
Thanks for the info @PatrickXYS!

Since perfect is the biggest enemy of good enough I propose the following plan:
1. We move forward with just adding extra tasks to the Argo Workflows of our components and do the format checks there for now
2. Investigate in parallel how we could add extra Prow Jobs to be triggered that would run format checks on the codebase after each PR
3. Once we've ensured th

[2021-04-07 18:55] DavidSpek commented on #5814
I'm pretty sure I can get this implemented tomorrow if @kimwnasptd agrees with this approach.

[2021-04-07 19:16] DavidSpek commented on #5801
@matty1979 Awesome, that’s great to hear. If you have any questions please don’t hesitate to ping me on slack or create an issue in the ArgoFlow repository.

Also, given the manifests for the Kubeflow applications are still changing slightly (and I just pushed a commit to update to Argo CD 2.0 stable from the RC) it’s probably best for you to rebase your branch on upstream/master and force push to

[2021-04-07 20:40] zijianjoy commented on #5813
Thank you Yuan for the detailed debugging! I agree that the missing `gcpServiceAccount` is the root cause. I will look closer to the initialization of a profile in profile controller to identify a fix.

[2021-04-07 22:22] juliusvonkohout commented on #5808
I am mounting the emptydir under /var/run/s6 i do not see how this should affect /var/run/rstudio-server .
Yes the changes must be done in the statefulset that runs the pods. There you can set the securitycontext etc. I have to check where that is stored in the kubeflow repository. If you have a hint please tell me.

[2021-04-07 22:38] 3dimaging commented on #5669
@jbottum Thank you, Jbottum. I tested the image, davidspek/kubeflow-ubuntu-tensorflow-full:0.3, I still have the connection issue. I think it is not related to image, maybe it is related to the auth. I don't know. I also check the new version of KFP pakcage see if I can create experiment. No, I still can't create the experiment as before.

Is the namespace related to this issue? When the first tim

[2021-04-07 23:53] zijianjoy commented on #5813
It should read the workload identity field from `profiles-deployment`:

[code]

Maybe we should use `args` instead of `command`?

[2021-04-08 01:43] zijianjoy commented on #5813
I observed that `instance.Spec.Plugins` before PatchDefaultPluginSpec() already had the following content: `"plugin": [{"kind":"WorkloadIdentity","spec":{}}]`, which means it will skip this check:

https://github.com/kubeflow/kubeflow/blob/ebc0c4f073397537412694f9f255dbb3fbdf2043/components/profile-controller/controllers/profile_controller.go#L584-L593

Thinking about a way to reset this content.

[2021-04-08 02:56] zijianjoy commented on #5813
After adding some logging: The gcpServiceAccount was set up until this line: https://github.com/kubeflow/kubeflow/blob/ebc0c4f073397537412694f9f255dbb3fbdf2043/components/profile-controller/controllers/profile_controller.go#L593.

But after PatchDefaultPluginSpec() is returned, `Spec` in plugin is gone. I think it maybe related to golang version upgrade: https://github.com/kubeflow/kubeflow/pull/5

[2021-04-08 04:14] Bobgy commented on #5813
@zijianjoy note I tried editing the plugin field manually, but I also cannot add our desired spec there. Maybe we should stop profile controller deployment before trying this to be sure, but if that's the problem, it's unlikely the problem exists in profile controller, it might be sth wrong with the custom resource definition's spec combined with K8s version.

[2021-04-08 05:05] zijianjoy commented on #5813
That is a good point! We might need to look closer to this CRD change https://github.com/kubeflow/kubeflow/commit/23a529d0736a6a511ac191168d49cd941864535b?branch=23a529d0736a6a511ac191168d49cd941864535b&diff=split#diff-4cceae2882a85453456ceab092e7c9cc138e55b2cc907437c88e7f2d96f25c48

[2021-04-08 05:09] Bobgy commented on #5813
I think I found the root cause.

Profile CRD did not specify a field `preserveUnknownFields`.
The default behavior of CRD changed between v1beta1 and v1, read https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#field-pruning.

Previously in v1beta1, unknown fields are preserved by default, but after converting to v1, unknown fields are pruned by default

[2021-04-08 05:20] Bobgy commented on #5813
I tried updating the CRD plugins field like the following:
[code]

After that, I can successfully add payload into plugins spec field

[2021-04-08 05:23] Bobgy commented on #5813
Therefore, I think this issue does not only affect GCP distribution, it affects every distribution using the plugins field -- also including AWS plugin.

/cc @PatrickXYS

[2021-04-08 05:24] Bobgy commented on #5813
I updated title to reflect the root cause and make it clearer this is not GCP specific.

[2021-04-08 06:01] zijianjoy commented on #5813
That is awesome! Good finding on the behavior change from `v1beta1` to `v1`! Do we need to add `x-kubernetes-preserve-unknown-fields` for all object type fields in this CRD?

By the way, after resolving this issue based on your fix, I found that everytime I create a profile on UI, the owner user name is anonymous@kubeflow.org instead of my email address.

[2021-04-08 06:15] Bobgy commented on #5813
I think only plugins can contain unknown fields, but you may double check that.

I observed the same problem, I suspect that's a separate issue -- there's probably sth wrong with our request authentication config.

[2021-04-08 08:34] kimwnasptd commented on #5814
@DavidSpek I was thinking of such a hybrid solution as well!

So here's what I propose, lets discuss the technical details of this in the PR and spent a maximum of two days. If we see that this effort gets more involved we can fallback to plan B and just set the `limits` as well to just fix the regression.

@DavidSpek how does this sound to you?

[2021-04-08 08:40] DavidSpek commented on #5814
@kimwnasptd Sounds good to me. Isn't plan B essentially what I've already done in my PR but with the multiplication factor set to 1?

[2021-04-08 08:42] kimwnasptd commented on #5814
Yes, but if we'd decide to go with the least amount of new changes then I would prefer to not touch the ConfigMap. But lets see how our sprint will go first.

[2021-04-08 08:43] DavidSpek commented on #5814
After I eat some breakfast I'll get on this right away. I don't imagine it should take much time to implement.

[2021-04-08 13:14] HassanOuda commented on #5813
I know my use case is not GCP relevant but when I was deploying 1.3, I had to use the old profiles crd of v1beta1 to get it to work in my cluster since I have kubernetes 1.15.11, which works well with all the other components of 1.3, including istio. So if v1beta1 was working for you before, you can rollback to that if you want.

[2021-04-08 13:26] yanniszark commented on #5813
@Bobgy @zijianjoy this is some awesome investigation and debugging. If I understand correctly:
- We use kubebuilder to generate the Profile CRD
- We include an unknown JSON array inside the object, which controller-gen can't describe fully
- Instead of adding the necessary OpenAPI configuration to keep this field, the generated CRD is pruning it.

This seems like a controller-gen bug. I will inves

[2021-04-08 15:04] yanniszark opened #5821 "Logo Trademarks: Remove logos from JWA"
/kind bug
### Problem Statement

The new Jupyter Web App comes with logos for Jupyter, VSCode and RStudio. The logos for RStudio and VSCode come with complicated guidelines and need for explicit written legal permission, which is a process the community doesn't have a method of handling from a legal/trademark standpoint. Likely we will need to ask Google to handle this on behalf of the community.

[2021-04-08 16:08] DavidSpek commented on #5669
@3dimaging You should not put kubeflow as the namespace. The latest tensorflow-cpu image is `public.ecr.aws/j1r0q0g6/notebooks/notebook-servers/jupyter-tensorflow-full:master-e8250b9f`, maybe you can give that a quick try. Is the issue still that the kernel is not connecting?

[2021-04-08 17:23] DavidSpek commented on #5821
I've already been discussing this issue with @Bobgy and am busy with providing a solution for this. I do want to point out that an agreement with RStudio for the use of their logo is being worked on, but that would be for the Kubeflow project and not all the distributions. If a distribution that is just providing manifests that build on the Kubeflow manifests are actually redistributing the logos

[2021-04-08 18:42] yanniszark commented on #5821
@DavidSpek @Bobgy thanks for looking into this. If possible, could you or bobgy fill the rest of us in on the plan in this issue? I'd like to make sure we're synced on this.

[2021-04-08 18:44] DavidSpek commented on #5821
@yanniszark Is it alright if I do this tomorrow? I've been at it for 10 hours without a break again today so I'm pretty tired now and this will be an involved explanation.

[2021-04-08 18:47] ReggieCarey commented on #5821
Equally problematic is removing attribution for a software product. If the vscode and rstudio logos are part of their distribution, what justification do you have for removing them?  If the software was not written by either company then substitute a kubeflow or other logo and let kf installers customize for their environments.

Sent from my iPhone

[2021-04-08 18:53] DavidSpek commented on #5821
@ReggieCarey My original plan was to make the logos in the UI configurable, and I will try and get that implemented tomorrow. The issue here is that Kubeflow and anybody installing it themselves can most likely use the logos without any problems, but companies offering distributions cannot. The Kubeflow project can have permission to include the logos, but distributions provided by companies will

[2021-04-09 03:37] thesuperzapper commented on #5816
Tagging the leads of Notebooks (who own profile controller) @kubeflow/wg-notebooks-leads

[2021-04-09 03:42] thesuperzapper commented on #5821
@ReggieCarey I think its complex (from a legal perspective) [disclaimer: not legal advice], because its unclear if the distributions would be doing anything more than "linking" to the ECR hosted example images, that is, they will not be "distributing" any RStudio binary code.

[2021-04-09 09:35] #5813 closed

[2021-04-09 11:56] 3dimaging commented on #5669
@DavidSpek Thank you again! I tried the latest image you mentioned, I still can't connect to the notebook kernel.
For the KFP package issue which I can't create experiment is resolved using the comments from https://github.com/kubeflow/pipelines/issues/4440.

[2021-04-09 11:58] DavidSpek commented on #5669
@3dimaging I actually just experienced this issue as well. If you open the developer tools of your browser, do you see errors with connecting to the websocket? If so, try a different browser or incognito mode.

[2021-04-09 15:38] castrojo commented on #5821
None of us are lawyers, let's not block 1.3.0 for this and just punt it to a point release, we should just remove it for now until we have a clear understanding on how to proceed, right now our only blockers should be the critical bugfixes that the distributions need -- we're about a month from KubeCon + CloudNativeCon and I'm willing to bet distributions have plans to market/push Kubeflow there,

[2021-04-09 16:21] mnmami commented on #5248
I repost here the link that @dontmint posted, which got somehow broken: https://github.com/rancher/rancher/issues/14674#issuecomment-535234849. It's worth pointing out, as it just saved me after two days of wandering.

[2021-04-09 17:00] Bobgy commented on #5821
Agree with @castrojo.

To add to it, I think our current structure  allows distributions to pick different versions from what's in kubeflow/manifests, because kubeflow/manifests is only reference versions.

So if you release a new version of notebooks, distributions can integrate it individually using their own judgements.

[2021-04-09 17:25] DavidSpek commented on #5821
@castrojo I think all that is needed to fix this problem is change the manifests and add a configmap with whatever SVG logos you want in there. Then distributions (and users afterwards) are free to configure the UI to show whatever they are allowed and want. I think I can get this sorted in this weekend so it should be on time for the release and we don't need to remove a feature many users were h

[2021-04-10 13:47] 3dimaging commented on #5669
@DavidSpek Thank you! you are abosutely right. It depends on the version of the browser.

[2021-04-10 15:39] DavidSpek commented on #5669
@3dimaging Happy the problem has been resolved for you.

/close

[2021-04-10 15:39] #5669 closed

[2021-04-10 18:46] zulissi commented on #5705
Interested in this as well! A documented process to upgrade while maintaining old namespaces/PVC's would be very helpful.

[2021-04-11 07:20] munagekar opened #5825 "[FR] Enhance Pod Default"
# WHAT
- I would like to request support for [SecurityContext](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-capabilities-for-a-container) in PodDefault, to add Linux Capabilities for Jupyter Notebook Server Pods.
- I would also like to request support for adding [node-selectors](https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#nodeselector)

[2021-04-11 07:21] munagekar commented on #5825
/kind feature

[2021-04-11 07:22] munagekar commented on #5825
/area jupyter

[2021-04-11 13:48] Dimiftb commented on #5803
Hi @DavidSpek and everyone,

I'm experiencing the same issue. I installed the Kubeflow dashboard on a bare metal k8s cluster according to v1.3 here: https://github.com/kubeflow/manifests#change-default-user-password

I'm using dex and exposing with MetalLB. When I connect through HTTP with istio-ingressgateway looking like such:
<img width="1460" alt="image" src="https://user-images.githubusercont

[2021-04-11 13:55] DavidSpek commented on #5803
@Dimiftb On first glance everything looks correct. Did you restart the istio ingress-gateway pod after creating the certificate and changing the configuration?
You can see the Istio configuration for my distribution [here](https://github.com/kubeflow-onprem/ArgoFlow/tree/master/kubeflow/common/istio). The [README](https://github.com/kubeflow-onprem/ArgoFlow) has instructions how to install Kubeflo

[2021-04-11 14:37] Dimiftb commented on #5803
I haven't restarted the service (not too sure how), however it seems to be working as when I try to access the dashboard at http://130.159.199.64, I get:
<img width="562" alt="image" src="https://user-images.githubusercontent.com/26279721/114308258-1b367080-9adb-11eb-9b72-627731d77f78.png">

Which means the redirect to https actually works.

[2021-04-11 14:40] DavidSpek commented on #5803
@Dimiftb you can execute `kubectl get pods -n istio-system` then do `kubectl delete pod istio-ingressgateway-xxx` and replace xxx with the value from the first command. For good measure you can do the same for `cluster-local-gateway-xxx`.

[2021-04-11 15:10] Dimiftb commented on #5803
Okay, I just deleted the pod as you suggested and it's showing as not ready:
<img width="722" alt="image" src="https://user-images.githubusercontent.com/26279721/114309344-c3016d80-9ade-11eb-9161-dd397c26e202.png">

`kubectl logs istio-ingressgateway-56d9b7fdb-j2bwl -n istio-system`
<img width="1542" alt="image" src="https://user-images.githubusercontent.com/26279721/114309399-e0363c00-9ade-11eb-8

[2021-04-11 15:14] DavidSpek commented on #5803
@Dimiftb Try this command: `kustomize build github.com/kubeflow-onprem/ArgoFlow/kubeflow/common/istio | kubectl apply -f -`. That should get your Istio setup properly with the certificate.

[2021-04-11 15:41] Dimiftb commented on #5803
@DavidSpek So I removed all Istio resources, then installed with the command you suggested. Unfortunately, no change, apart from the fact I've now got another pod(cluster-localgateway) in Istio-system ns:
<img width="673" alt="image" src="https://user-images.githubusercontent.com/26279721/114310766-d06d2680-9ae3-11eb-8f04-f84232e32a1f.png">

I applied the Kubeflow Istio resources after deploying w

[2021-04-11 15:49] DavidSpek commented on #5803
@Dimiftb By executing the commands after what I had sent you you messed up the configuration. I did just realize that the certificate is setup for a more recent version of cert-manager than what is bundled with kubeflow (I'm trying to get the manifest working group to upgrade this).

Please execute the following commands, and nothing else (all the needed Istio resources are included):
First:
`kust

[2021-04-11 16:20] Dimiftb commented on #5803
@DavidSpek

I followed your advice executing both commands and nothing else after. I've waited for a few mins so far, and the certificate is not getting generated.

`kubectl logs istiod-f6bfd6f44-qxt75 -n istio-system`
<img width="1517" alt="image" src="https://user-images.githubusercontent.com/26279721/114312220-debe4100-9ae9-11eb-88ea-14752cec3fcc.png">

`kubectl logs istio-ingressgateway-5c6fbb

[2021-04-11 16:24] DavidSpek commented on #5803
@Dimiftb You can check if the secret with the certificate is generated. I think you might have more success if you follow the instruction in https://github.com/kubeflow-onprem/ArgoFlow. You don’t need to use Kind, the instructions below that section are for installing on any Kubernetes cluster.

[2021-04-11 22:07] Dimiftb commented on #5803
@DavidSpek

I managed to solve the issue. All I needed to do was wait a bit longer for the secret go get generated then restart the pod. Thank you very much for your help.

[2021-04-11 23:55] jdavis34265 opened #5826 "Make sure all Kubeflow projects assign copyright to the project authors"
I wanted to start a discussion about the open-source nature of the Kubeflow projects.
Most projects already follow the opens-source guidelines, but I've noticed some issues in the Kubeflow Pipelines project.

I see that the Kubeflow Pipelines has a great developer community that takes a big part in developing.
Despite that I've noticed that all copyrights are being assigned to the Google LLC corpo

[2021-04-12 10:30] darack1234 opened #5827 "Error: Failed to getArtifactTypes: Http response at 400 or 500 level. Code: 5 Click Details for more information. Troubleshooting guide"
Hi Team,

The artifacts are not getting generated. We have installed kubeflow using the micrk8s and juju.

[2021-04-12 13:03] yanniszark commented on #5816
@zijianjoy @Bobgy thanks for the report! I tried to reproduce such an issue locally, but couldn't.
Here is what I did:
- I tried prefixing a Pod and then patching it with the prefixed name. It worked.
- I tried creating a ConfigMap with the ConfigMapGenerator and then merging it with another ConfigMapGenerator in an overlay, by referring to the prefixed name. It also worked.

Here is my example: h

[2021-04-12 15:07] richardagalvez commented on #5230
For everyone encountering this problem, wanted to share what I found as this thread never fully resolved a common issue I've encountered.

It turns out the `cert-manager` application could take a bit of time to deploy, and for some reason, not succeed at deploying at all. For me in particular, the pods it deploys stay in ContainerCreating status for a while and eventually error out with this error

[2021-04-12 15:09] erolco opened #5828 "Kubeflow no matching resources found"
/kind bug

**What steps did you take and what happened:**

I want to deploy kubeflow to privateGKE but I got some errors as below when I make apply. How can i pass this error?

Wait for all Google Cloud resources to get created and become ready.
Waiting for iamserviceaccount resources...
error: no matching resources found
Error: waiting for iamserviceaccount ready timed out.
To troubleshoot, you c

[2021-04-12 19:30] zijianjoy commented on #5816
Thank you @yanniszark for trying the patching! This issue happens under our existing profile manifest structure, so it doesn't necessary happen in a simple case. I would like to share minimal example with explanation about scenario of this issue.

You can pull the minimal example here:
https://github.com/zijianjoy/tmp/tree/jamxl-profiles/profiles

Command to build (kustomize v4):
`kustomize build

[2021-04-12 23:32] thesuperzapper commented on #5821
@Bobgy @yanniszark @DavidSpek the solution is very simple to remove the issue of logos/trademark entirely.

__Steps:__
1. Replace the 3 "image-buttons" with 3 "text-buttons"
    1. Make the default text for each "text-button": "Jupyter", "Group 1", "Group 2"
    1. Use the same name (on hover) in the notebooks overview table
2. Change the spawner_config.yaml structure to:

[code]

---

This is a v

[2021-04-12 23:33] DavidSpek commented on #5821
@thesuperzapper that is essentially my existing PR.

[2021-04-13 00:01] thesuperzapper commented on #5821
@DavidSpek I understand your PR is similar to what I proposed, I am just stating a plan, which if agreed to, can be implemented quickly. (So we don't hold up 1.3's release)

[2021-04-13 02:47] kong62 commented on #5806
+1

[2021-04-13 02:53] munagekar commented on #5825
@yanniszark @DavidSpek Do you think this is a useful feature ?

[2021-04-13 07:14] DavidSpek commented on #5825
This seems interesting. There is already support for affinity and tolerations in the Jupyter Web App, or would this be different? You also touch on an interesting subject regarding the usefulness of containers as an IDE, which isn’t actually the best idea. There are some ideas floating around to add the ability to spawn VMs for notebook servers.

[2021-04-13 07:31] DavidSpek commented on #5806
The registry used for the 1.3 release is the ECR public gallery.

[2021-04-13 07:32] DavidSpek commented on #5790
@erolco For reference, is this while installing Kubeflow 1.2 or 1.3?

[2021-04-13 07:35] DavidSpek commented on #5827
@darack1234 Please open an issue over at https://github.com/canonical/bundle-kubeflow. This installation method is not related to the code in this repository.

/close

[2021-04-13 07:35] #5827 closed

[2021-04-13 07:49] munagekar commented on #5825
@DavidSpek Thank you for your comments.

This seems to be a part of Kubeflow 1.3. I am using kubeflow 1.2, the Jupyter Web App doesn't support this feature yet.

The Jupyter Notebooks in Kubeflow can almost create a VM equivalent experience. It can already set storage, CPU & GPU requests. One of the issues is software persistence, this can be resolved by chrooting the system into a PVC.

The abili

[2021-04-13 08:33] DavidSpek commented on #5751
I think the deployment method in https://github.com/kubeflow-onprem/ArgoFlow, which deploys Kubeflow 1.3, might solve the problem you are experiencing.

[2021-04-13 09:13] hsinhoyeh opened #5832 "default resource overhead for each individual profile"
/kind question

**Question:**
Not sure whether this question has been discussed before, but I am curious about the resource overhead for each individual profile.
In the current configuration ( in v1.2, v1.3), when creating one single profile, there are two running pods are created by default:
[code]
each one takes additional istio sidecar container (cost 100m cpu/ 128Mi memory).
so in total cpu re

[2021-04-13 10:24] kimwnasptd commented on #5821
Joining a little bit late in the party. @DavidSpek's  PR should be more than enough for now as a hotfix.

There are some rough edges around this last minute change. The new `imageGroupOne` and `imageGroupTwo` sections are not just an arbitrary grouping of images. The backend will be applying special logic to get the images from each group running. More technical details here https://github.com/kub

[2021-04-13 10:49] DavidSpek commented on #5821
@thesuperzapper We should revisit the proposal we were working on for rewriting the Spawner UI, as that was centered around the same principles @kimwnasptd mentions above.

[2021-04-13 11:38] erolco commented on #5790
I followed the this document

https://master.kubeflow.org/docs/distributions/gke/private-clusters/

kpt pkg get https://github.com/kubeflow/gcp-blueprints.git/kubeflow@master ./${PKGDIR}

kfctl version : 1.1.0

[2021-04-13 12:04] #5821 closed

[2021-04-13 15:40] #5814 closed

[2021-04-13 15:56] Dimiftb opened #5833 "Multi-user isolation dex authentication"
Hi,

I've got a question regarding the automatic profile creation for Kubeflow dashboard whenever a user logs in for the first time mentioned here: https://v0-7.kubeflow.org/docs/other-guides/multi-user-overview/#automatic-creation-of-profiles

I've installed Kubeflow following the v1.3 release: https://github.com/kubeflow/manifests#installation

If I create the user namespace manually, then every

[2021-04-13 17:39] DavidSpek commented on #5816
Just wanted to mention that `namePrefix` is also used in the manifests for the Jupyter Web App [here](https://github.com/kubeflow/kubeflow/blob/2ed54bcce7cbc38f0f63bfb32f7f5ef677a58765/components/crud-web-apps/jupyter/manifests/base/kustomization.yaml#L18), and the notebook-controller [here](https://github.com/kubeflow/kubeflow/blob/2ed54bcce7cbc38f0f63bfb32f7f5ef677a58765/components/notebook-cont

[2021-04-13 20:31] connorlwilkes opened #5835 "Any user can access any other user's notebook instance in KF 1.2"
/kind bug

It appears that given a URL any user can access anyone else's notebook instances. This is problematic for security particularly in a multi tenant environment. I was wondering if anyone else had experienced this or is this something people are actively looking into?

You could resolve this in the GCP world by utilising the IAP ingress header (https://cloud.google.com/iap/docs/identity-ho

[2021-04-13 20:48] connorlwilkes commented on #5835
I see this is a duplicate of https://github.com/kubeflow/kubeflow/pull/5660. Will close this and add my above suggestion to there.

[2021-04-13 20:48] #5835 closed

[2021-04-13 20:49] connorlwilkes commented on #5588
I have also encountered this issue.

It appears that given a URL any user can access anyone else's notebook instances. This is problematic for security particularly in a multi tenant environment.

You could resolve this in the GCP world by utilising the IAP ingress header (https://cloud.google.com/iap/docs/identity-howto) and adding a match on the header in the 'match' block of the VS. This would

[2021-04-13 21:00] yanniszark commented on #5588
@Hmr-ramzi @connorlwilkes could you please try installing latest Kubeflow 1.3 Release candidate from these instructions:
https://github.com/kubeflow/manifests/tree/v1.3-branch#readme

and let us know what happened? Please keep in mind that some distributions in 1.2 didn't have support for multi-user isolation, so you may have bumped into that.

[2021-04-13 21:01] connorlwilkes commented on #5588
I was looking to bump 1.3 when it is officially released which I believe is this week?

[2021-04-13 21:19] nakfour commented on #5803
Hey everyone, I ran into this issue too, I used the env.  variable 'APP_SECURE_COOKIES' as seen here in the OCP PR :https://github.com/kubeflow/manifests/blob/276d1badc273d0cde277ed8a93a06b4413f2586f/distributions/stacks/openshift/application/jupyter-web-app/addnoauthflags.yaml
However, is this the solution for this PR, or should we expect a fix for KF 1.3?

[2021-04-13 21:32] DavidSpek commented on #5803
@nakfour I would not consider this the proper solution. The proper solution is to set the Istio ingress-gateway to use HTTPS. What I did in my PR https://github.com/kubeflow/manifests/pull/1819 and in my Argo distribution is create a certificate for the Istio ingress-gateway using the kubeflow-self-singing-issuer that the applications also use. That way, HTTPS and secure cookies are used by defaul

[2021-04-13 21:37] Dimiftb commented on #5803
@nakfour here's what worked for me:

Firstly, remove cert-manager and Istio-system namespaces.

Secondly run these commands from @DavidSpek's answer above:

<img width="702" alt="image" src="https://user-images.githubusercontent.com/26279721/114624399-87b29a80-9ca8-11eb-9e34-6218c47e5fef.png">

Finally, wait a couple minutes till tls secret gets deployed you can check with `kubectl get secret -n i

[2021-04-13 21:45] DavidSpek commented on #5803
For reference, the first command installs upstream cert-manager 1.3 and the Kubeflow issuer. The second command installs Istio from the manifests repo, but configured it to redirect HTTP to HTTPS and adds the certificate I mentioned above. You can also look at the PR I linked to see the necessary additions you need to implement this in the OpenShift distribution.

[2021-04-13 23:17] thesuperzapper commented on #5588
@connorlwilkes to install the 1.3-RC0 version of kubeflow you can install the manifests directly using the instructions on `kubeflow/manifests` https://github.com/kubeflow/manifests#installation

I would be interested to see if you get the same issue.

[2021-04-14 08:50] connorlwilkes commented on #5588
@thesuperzapper I will do that ASAP but it's a large process for us to bump up to 1.3 and I don't want to bump if we are still at rc0 given issues may appear, do we know when we are targeting full 1.3 release not?

However, I looked into the code for notebook controller and I couldn't find anything concrete that would imply that this has been fixed.

[2021-04-14 08:55] DavidSpek commented on #5588
@connorlwilkes The code for the notebook-controller wouldn’t affect this. It would be the Jupyter Web App that you would need to look at, which has changed since 1.2 and moved to a version that uses common backend/frontend code. You can deploy the new Jupyter Web App in an existing 1.2 installation, though you will need to update the notebook controller for full functionality and add a permission

[2021-04-14 09:14] connorlwilkes commented on #5588
@DavidSpek That sounds sensible to me, will give a go at patching in latest notebook deployment into my cluster. The notebook controller creates the routing rules though right? The Jupyter front end web app is there purely to serve the UI component and to speak to the notebook controller and it doesn't create any K8s resources itself. The notebook controller would create the StatefulSet and Virtua

[2021-04-14 09:19] DavidSpek commented on #5588
@connorlwilkes You are correct that the notebook controller actually creates the k8s resources. However, the web apps perform the auth checks if you are allowed to access/create certain resources and in what namespaces.

[2021-04-14 09:25] connorlwilkes commented on #5588
@DavidSpek once you have deployed a Notebook instance and a VirtualService is created to route to that Notebook instance's frontend then when you enter the URL you don't 'pass through' the Jupyter web application anymore (it's a new URL and new route) therefore I don't think that any authorisation applied at the Jupyter web app would matter. Aware this is now becoming a big back and forth so am ha

[2021-04-14 09:52] DavidSpek commented on #5588
@connorlwilkes That is true, but you will still hit the Istio RBAC/Authorization Policy. I think this discussion is useful to highlight how the authorization flow works. @yanniszark probably has the best knowledge of this. Here is an article of his with details how the authentication is setup. https://journal.arrikto.com/kubeflow-authentication-with-istio-dex-5eafdfac4782

I pinged you on Slack so

[2021-04-14 11:34] yanniszark commented on #5712
@thesuperzapper from comment https://github.com/kubeflow/kubeflow/issues/5712#issuecomment-805587304, I understand it is not a blocker for the release.

[2021-04-14 11:38] thesuperzapper commented on #5712
@zijianjoy can you confirm if this is a big issue for GCP?

[2021-04-14 12:19] titansmc opened #5837 "CustomResourceDefinition.apiextensions.k8s.io "orders.acme.cert-manager.io" is invalid Invalid value: "v1": must appear in spec.versions]"
/kind bug

**What steps did you take and what happened:**
Deploying kubeflow to an on prem cluster with existing cert-manager deployment seems to conflict with existing CRD.
[code]

**What did you expect to happen:**
To resume after installing the required CRD

**Environment:**

- Kubeflow version: 1.2
- kfctl version: v1.2.0-0-gbc038f9
- Kubernetes platform: upstream
- Kubernetes version: 1.19.7

[2021-04-14 12:43] yanniszark commented on #5837
@titansmc if you are deploying to a cluster with existing cert-manager, then you need to either:
- Follow the step-by-step guide and don't skip installing cert-manager.
- Remove your cert-manager beforehand.

[2021-04-14 12:44] yanniszark commented on #5837
In addition, since this is a kubeflow/manifests issue, could you please open it on https://github.com/kubeflow/manifests/?
Or alternatively close if my comment fixed your problem.

[2021-04-14 13:04] yanniszark commented on #5816
@zijianjoy thanks for providing an example! I will try to reproduce. For 1.3, I don't think it's a blocking issue, would you agree?
The first thing I'd like to do is to run your example, confirm the unexpected behavior and then open a good upstream issue.
I'd prefer to get upstream's opinion on this, as Kubeflow is a huge use case for kustomize, so I think that having good communication will help

[2021-04-14 13:10] titansmc commented on #5837
Thanks Yannis, I cannot find the step by step guide, would you mind pointing to it? I was following https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/#before-you-start

[2021-04-14 13:16] yanniszark commented on #5837
@titansmc sorry, I mistakenly thought you were deploying Kubeflow 1.3 RC: https://github.com/kubeflow/manifests/tree/v1.3.0-rc.0#readme
Could you try that instead?

[2021-04-14 13:35] titansmc commented on #5837
let me try...
getting started you found that the instructions don't work for current version of kustomize:
[code]

[2021-04-14 13:38] titansmc commented on #5837
it just failed at the second command of installing cert-manager (as you mentioned I shouldn't skip the install of cert-manager)
[code]

[2021-04-14 13:40] yanniszark commented on #5837
Oh my god, I saw the comment and edited it. It is the opposite of what I actually wanted to say (skip installing cert-manager).

Could you use the version the guide mentions. This is the tracking issue for using latest kustomize, in case you are interested: https://github.com/kubeflow/manifests/issues/1797

[2021-04-14 14:02] yanniszark commented on #5803
To anyone bumping in this, please see the new section in the manifests install doc:
https://github.com/kubeflow/manifests/tree/3a2182626f5d9d74ff7150fd481a6072c44cf58b#nodeport--loadbalancer--ingress

It will land in the stable release of 1.3 as well.

[2021-04-14 14:38] nakfour commented on #5803
@DavidSpek I agree enabling HTTPS is the correct way. I think @yanniszark is also correct to discuss after the release. @Dimiftb I am installing from an operator, hard to do the dance with stopping and waiting and deleting pods :-)

[2021-04-14 20:47] Hellekin87 opened #5839 "authservice not starting in kubeflow 1.3"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Hi,

I checked out kubeflow 1.3 for evaluation and executed as described:
[code]

after several minutes all pods are in ready state except the authservice:
![image](https://user-images.githubusercontent.com/30690557/114776304-9bc2ce80-9d72-11eb-864f-b68c9482d4fa.png)

Logs are indicating

[2021-04-15 08:23] swamat opened #5840 "Notebook server shows no healthy upstream when i connect"
/kind bug

**What steps did you take and what happened:**
Installed kubeflow in AWS as per documentation. The dashboard was up. Created notebook server. When i clicked on connect, its showing no unhealthy upstream. Please help on what needs to be done next

**What did you expect to happen:**
Expected the notebook server to start

**Anything else you would like to add:**

**Environment:**

- Kubefl

[2021-04-15 09:28] AahanSingh commented on #5563
@jbottum I did. I was using the tensorflow cpu notebook image. I changed that to the gpu version and the notebook spawned. I'm not sure why the cpu notebook didnt work.

[2021-04-15 11:25] DavidSpek commented on #5563
@AahanSingh I assume this is related to the images coming from gcr.io, correct? If so, you might want to try the new images as they have been completely redesigned from the ground up.

[2021-04-15 12:10] yanniszark commented on #5832
cc @Bobgy could you transder to kubeflow/pipelines?

[2021-04-15 13:38] #5840 closed

[2021-04-15 13:41] swamat commented on #5840
Found the issue. I didnt check the persistent storage, while creating notebook server. After i created am able to connect

[2021-04-15 14:04] huboqiang commented on #5075
Hi,  I met the same problem, and I solved it by removing existed istio v1.7 by ` istioctl x uninstall --purge` .

You can try to  unisntall istio v1.7 and re-apply the yaml file.

[2021-04-15 14:05] huboqiang commented on #5445
Hi @summerisc @ccll  , I met the same problem, and I solved it by removing existed istio v1.7 by istioctl x uninstall --purge .

You can try to unisntall istio v1.7 and re-apply the yaml file.

[2021-04-15 14:42] AahanSingh commented on #5563
Alright ill try that out. Thanks @DavidSpek

[2021-04-15 17:38] DavidSpek commented on #5839
@Hellekin87 What do the logs of the `dex` pod in the `auth` namespace show? This error indicates the OIDC authservice cannot connect to dex.

[2021-04-15 17:44] DavidSpek commented on #5833
@Dimiftb This is because the authentication flow is disabled by default as a security measure. You can find the customization you need to enable this [here](https://github.com/kubeflow-onprem/ArgoFlow/tree/master/kubeflow/notebooks/central-dashboard). I think you might find it easier to deploy and maintain your Kubeflow installation if you use Argo CD for the deployment. The [README](https://githu

[2021-04-16 02:09] jinseonlee1215 commented on #5839
I don't know if this is the right question to ask in this repository, I have similar problem.
there is my `dex` pod logs
[code]

and here is my `authservice` logs
[code]

[2021-04-16 02:10] jinseonlee1215 commented on #5839
I don't know if this is the right question to ask in this repository, I have similar problem.
there is my `dex` pod logs
[code]

and here is my `authservice` logs
[code]

[2021-04-16 03:09] hsinhoyeh commented on #5832
Closed as I have transferred to pipeline repo.

[2021-04-16 03:09] #5832 closed

[2021-04-16 07:53] ZhengJuCn opened #5841 "[bug] with OIDC, when session expired, login again, then got apis/v1beta1/healthz response with OIDC auth page"
/kind bug

**What steps did you take and what happened:**

1. install pipelines with kubeflow-1.3-rc.0
2. access kubeflow dashboard login with OIDC
3. do something normal, start runs, upload pipeline....
4. when session expired
5. login with OIDC again
6. got apis/v1beta1/healthz response error (actually response is OIDC auth page)

**What did you expect to happen:**

access dashboard normal

**An

[2021-04-16 08:00] ZhengJuCn commented on #5841
this maybe cookie not refresh actually, i clear my brower cookies, then login again, everything ok

is this bug or something wrong? if not i will close this issue

[2021-04-16 10:16] yanniszark commented on #5812
@alasdairtran thanks for the issue report. We have already fixed that for https://github.com/kubeflow/kubeflow/issues/5813,
so closing this issue as a dupe.

[2021-04-16 10:16] #5812 closed

[2021-04-16 15:11] mygulamali opened #5842 "PodDefault tolerations are not being added to notebook pod"
/kind question

**Question:**
[You can ask any question about this project.]
Kubeflow v1.2 introduced the ability to add tolerations to a PodDefault (PR #4852), so that they might be added to a pod running a notebook server. However when I try to do this the tolerations are not added to the notebook pod whilst other aspects of the pod default are.

For example, if I have the following pod default:

[2021-04-16 19:57] Dimiftb commented on #5833
Hi @DavidSpek,

I'll look into it. Thank you very much. Closing this now.

[2021-04-16 19:57] #5833 closed

[2021-04-16 22:12] mauermbq opened #5843 "Permission Error when installing lab extension"
It's not possible to install any lab extension with default notebooks.
Image:

527798164940.dkr.ecr.us-west-2.amazonaws.com/tensorflow-2.1.0-notebook-cpu:1.2.0

Installing an extension lead to PermissionError: [Errno 13] Permission denied: '/usr/local/share/jupyter/lab/extensions'
when installing any lab extension

configuring lab extension according your needs is a nice feature. How can this be e

[2021-04-18 01:10] zijianjoy commented on #5816
Thank you Yannis! I agree it is not a blocking issue for Kubeflow 1.3. We should follow up on the right behavior later on.

[2021-04-18 09:39] DavidSpek commented on #5843
@mauermbq I would recommend trying one of the new notebook images as extensions should work without a problem there. I believe `public.ecr.aws/j1r0q0g6/notebooks/notebook-servers/jupyter-tensorflow-full:v1.3.0-rc.1` is equivalent to the image you are using now.

[2021-04-18 09:54] DavidSpek commented on #5841
Ping @Bobgy This seems related to pipelines, but the `Unexpected token < in JSON at position 0` error is something I also see when trying to save a Jupyter Notebook and the session expires. Logging back in resolves that issue though.

[2021-04-18 17:37] IsraelAbebe opened #5845 "Provisioning Docker Images takes too long while initializing minikf"
/kind question

**Question:**
[You can ask any question about this project.]

after doing vagrant up and initializing minikf it is stuck for more than 4 hours like this.
any idea what this is and whats the problem

[code]
![image](https://user-images.githubusercontent.com/15804692/115154843-95d83080-a085-11eb-9684-cce893d47319.png)

[2021-04-18 20:02] mauermbq commented on #5843
Tank you David, in general this image works better. However, the build process still leads to some error:

**WARNING in ./node_modules/vega-lite/build/src/index.js 5:0-30
Should not import the named export 'version' (reexported as 'version') from default-exporting module (only default export is available soon)
 @ consume shared module (default) vega-lite@^4.0.2 (strict) (fallback: ./node_modules/v

[2021-04-18 20:04] DavidSpek commented on #5843
@mauermbq Could it be that the extension you are installing has not been updated for JupyterLab 3.0? You can try downgrading JupyterLab and then installing the extension to see if that helps.

[2021-04-18 20:17] mauermbq commented on #5843
https://github.com/jupyterlab/jupyterlab-git
Requirement JupyterLab >= 3.0 (older version available for 2.x)

[2021-04-18 20:19] DavidSpek commented on #5843
Yeah I’ve had an issue with that extension as well. Was planning on looking at it again tomorrow.

[2021-04-18 20:39] DavidSpek commented on #5843
@mauermbq I seems like JupyterLab needs to be restarted for the extension to load properly. In the terminal, run `top` and note the `PID` number for the jupyterlab instance, exit top by pressing `ctrl+c`. Next execute `kill <JupyterLab_PID>` to kill the JupyterLab process causing it to restart. The extension should load correctly now. Given this is such an important extension I'll create a PR to a

[2021-04-18 21:08] mauermbq commented on #5843
@DavidSpek , seems that this is also an issue for other extensions. I tried dash as well:
WARNING in ./node_modules/vega-lite/build/src/index.js 5:0-30
Should not import the named export 'version' (reexported as 'version') from default-exporting module (only default export is available soon)
 @ consume shared module (default) vega-lite@^4.0.2 (strict) (fallback: ./node_modules/vega-lite/build/src/

[2021-04-18 21:13] DavidSpek commented on #5843
Where are you getting these logs from exactly? I wasn't seeing them, although the fit extension was not working. I'll need to look into why jupyter lab needs to be restarted and if there is workaround for this as we cannot include all the extensions in the images. You can view the [README](https://github.com/kubeflow/kubeflow/blob/master/components/example-notebook-servers/README.md) for instructi

[2021-04-18 23:23] mauermbq commented on #5843
An error occured.
RuntimeError: JupyterLab failed to build
See the log file for details:  /tmp/jupyterlab-debug-ahyuhd1_.log

[2021-04-19 04:08] Bobgy commented on #5841
@yanniszark can you take a look?

This doesn't seem related to KFP, looks like an OIDC auth service problem or a cache problem.

[2021-04-19 11:50] Dimiftb opened #5847 "Managing contributors manually"
/kind bug

**What steps did you take and what happened:**
Hi there I've been trying to manually add contributors to a namespace by following instructions here: https://www.kubeflow.org/docs/components/multi-tenancy/getting-started/#managing-contributors-manually

My servicerolebinding.yaml looks exactly like the one on the guide:
<img width="846" alt="image" src="https://user-images.githubusercont

[2021-04-19 15:35] Adithimurthi opened #5851 "Publish 1.3 images in gcr"
Publish 1.3 images in gcr as well like previous releases as companies yet to adapt public ecr.

also, when can we expect 1.3 stable release

[2021-04-19 23:08] zijianjoy commented on #5712
I confirm this is essential to GCP: ASM (Anthos Service Mesh) is a managed version of istio. Without this change, Kubeflow access and multi-user feature will not perform correctly. However, like Yannis said, we can use the profile controller image of our own, therefore not blocking Kubeflow 1.3 release.

[2021-04-20 12:20] swamat opened #5854 "Namespace not showing up in kubeflow UI"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)? https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/

*  KFP version: 1.20

### Steps to reproduce

I installed kubeflow in AWS. The dashboard is up. when i create a new namespace using profile.yaml, am able to see the created namespace using kubectl get profiles command. But not able to see the new namespace in UI

### Expecte

[2021-04-21 05:21] paravatha commented on #5803
@DavidSpek @Dimiftb  thanks for providing the solution

Followed the steps you mentioned, but with a different git repo

- kustomize build github.com/argoflow/argoflow/kubeflow/common/istio | kubectl apply -f -
- kustomize build github.com/argoflow/argoflow/cert-manager | kubectl apply -f -

Getting this issue with when I run
k describe po -n istio-system istio-ingressgateway-xxx

[2021-04-21 05:31] Dimiftb commented on #5803
Hi @paravatha,

Logs might give you more info regarding what the specific issue is.
`kubectl logs istio-ingressgateway-xxx -n istio-system`

Also, you can check if the secret is getting generated with
`k get secret -n istio-system`

[2021-04-21 08:19] motilalmeher opened #5853 "Roll back to previously trained model"
In cube flow let we train a model and deploy that. In future after data drift let's model retrained and new version of model will be deployed. How to roll back to previous model if the performance of new model is not good automatically using kubeflow.

[2021-04-21 10:34] DavidSpek commented on #5803
@paravatha That is the new home of the same repo. Can you create an issue [here](https://github.com/argoflow/argoflow/issues) so we can track it properly?

[2021-04-21 10:45] DavidSpek commented on #5847
@Dimiftb That information is outdated as the new Istio version does not have RBAC. What are you trying to do exactly, add a new user?

[2021-04-21 13:03] Dimiftb commented on #5847
Hi @DavidSpek,

I'm trying to add one profile as a contributor to another namespace to allow for collaboration. For example, allowing an user view/modify access to another user's namespace where they can also create and view notebooks.

I'm following this link: https://www.kubeflow.org/docs/components/multi-tenancy/getting-started/#managing-contributors-manually

It says to create a rolebinding.ya

[2021-04-21 16:29] crmne commented on #5794
Hi there,

Any updates? This is still causing problems for us

[2021-04-21 16:30] crmne commented on #5769
Thank you for your answer @Bobgy. Are there any plans to do this?

[2021-04-21 17:00] Bobgy commented on #5769
Cc @kubeflow/wg-serving-leads

[2021-04-22 06:46] swamat commented on #5854
Can someone please help on this

[2021-04-22 06:49] fahadh4ilyas commented on #5803
@DavidSpek Hi, I'm just trying what you did but there's a problem with the `authservice`. This error appeared:
[code]

I'm trying to fix it by adding `CA_BUNDLE` environment variable to `authservice` but nothing's changed.

[2021-04-22 09:17] shekhar-ms123 opened #5856 "Kubeflow Installation on CentOs7 - Error while applying kfctl_k8s_istio.v1.0.0.yaml"
/kind bug
failed to apply:  (kubeflow.error): Code 500 with message: kfApp Apply failed for kustomize:  (kubeflow.error): Code 500 with message: error evaluating kustomization manifest for istio-crds Error absolute path error in 'kustomize/istio-crds' : evalsymlink failure on 'kustomize/istio-crds' : lstat /kubeflow/kustomize/istio-crds: no such file or directory
[root@citigroup kubeflow]# kfctl -

[2021-04-22 09:32] sumanraja commented on #4519
I'm also facing the same issue with istio.
  Normal   Started    55s   kubelet            Started container istio3
  Normal   Pulling    55s   kubelet            Pulling image "docker.io/istio/proxyv2:1.6.7"
  Normal   Pulled     53s   kubelet            Successfully pulled image "docker.io/istio/proxyv2:1.6.7" in 1.362946175s
  Normal   Created    53s   kubelet            Created container istio-

[2021-04-22 19:27] jinnovation opened #5857 "Profile controller creates ResourceQuotas, but does not delete"
/kind bug

**What steps did you take and what happened:**

I applied a resource quota to a Profile w/ `resourceQuotaSpec`. I then removed the resource quota from the same Profile by removing the `resourceQuotaSpec` and re-executing `kubectl apply -f profile.yaml`.

On re-applying the Profile spec (sans resourceQuotaSpec), the corresponding resource quota object still exists under the profile's nam

[2021-04-22 19:33] wg102 opened #5858 "Kubeflow internalisation"
/kind feature

**Why you need this feature:**
Our organization has the priority of providing both a French and English Kubeflow experience.
By implementing the infrastructure to support this, other organizations might be able to benefit from other languages easily.

**Describe the solution you'd like:**
[A clear and concise description of what you want to happen.]
Use a framework to detect the use

[2021-04-22 20:47] atamahjoubfar commented on #4080
Has anyone found a solution for this?

[2021-04-23 04:14] 15077693d opened #5859 "Sorry, /metadata/ is not a valid page"
/kind question

**Question:**
[You can ask any question about this project.]

[2021-04-23 09:11] constanton opened #5860 "Dex authentication and 404 error"
/kind bug

**What steps did you take and what happened:**
I used git clone https://github.com/kubeflow/manifests.git to get the latest Kubeflow (I asssume 1.3)
Kubeflow is deployed with kustomize successfuly on a local cluster with rancher's local path provisioner.

I am using istio-ingressgateway as Load Balancer with an external IP and can successfully connect (either with my browser over VPN or

[2021-04-23 15:46] FarshadMovahed-REISys opened #5861 "No resources found in istio-system namespace."
/kind bug

**What steps did you take and what happened:**
I followed the instructions in https://www.kubeflow.org/docs/distributions/aws/deploy/install-kubeflow/ to deploy kubeflow on my cluster. When I ran the following command to get my Kubeflow service’s endpoint host name, I received an error.

kubectl get ingress -n istio-system

The error is:

No resources found in istio-system namespace.

*

[2021-04-25 06:12] midhun1998 opened #5862 "Restricting access via Manage contributors"
/kind feature

**Why you need this feature:**
We are sharing the namespace currently in-between our team using manage contributors. This enables the team members to look at all resources and edit them in that namespace without having a history of who accessed and did what. This could be restricted to specific resources with read/write-like permissions.

**Describe the solution you'd like:**
Implem

[2021-04-25 13:45] toshi-k opened #5863 "Sidebar links with namespace parameters"
/kind feature

**Why you need this feature:**
I would like to add own apps on sidebar menu.
Though we can add any items by editting below config map, it is impossible to change links based on namespaces.
https://github.com/kubeflow/kubeflow/blob/v1.3-branch/components/centraldashboard/manifests/base/configmap.yaml

**Describe the solution you'd like:**
Defining the menu as below, the full URL shou

[2021-04-26 06:33] crmne commented on #5796
Hi there,

Are there any updates on this?

[2021-04-26 14:39] kbc8894 commented on #5458
I have same problem. I try to change to `gcr.io/ml-pipeline/metadata-writer:1.5.0`.
so I found metatdata-writer latest image version [here](https://github.com/kubeflow/manifests/blob/master/apps/pipeline/upstream/base/pipeline/metadata-writer/kustomization.yaml)
It is working for me.
My k8s cluster node info is below.
[code]

[2021-04-26 19:58] mindthevirt commented on #5289
@victoriavilasb how did you solve this issue?

[2021-04-26 23:08] aaron-arellano commented on #4549
This is still an issue. OIDC-Authservice needs to take multi-tenancy into account. I tried moving filter to sidecar but JWA does not work properly. Whitelisting hosts is not maintainable.

[2021-04-27 13:28] DavidSpek commented on #5863
@karlschriek I believe this is similar to what you mentioned regarding namespaces MLFlow.

[2021-04-27 13:41] toshi-k commented on #5863
@DavidSpek That's right. Some applications like ML Flow are not ready for namespaces. I think the easiest way would be deploying such app in each namespace and control traffic by URL.

[2021-04-27 15:49] RFMVasconcelos opened #5864 "[Update Docs] - Central dashboard » Registration flow"
Registration flow still "Out of Date"

https://www.kubeflow.org/docs/components/central-dash/registration-flow/

[2021-04-27 15:50] #5864 closed

[2021-04-27 15:50] RFMVasconcelos commented on #5864
Belongs to /website

[2021-04-27 17:15] #5843 closed

[2021-04-28 02:37] glong1997 commented on #5677
I met the same problem.

[2021-04-28 02:49] glong1997 commented on #5751
I can not visit the website.

[2021-04-28 21:48] kimwnasptd opened #5869 "Jupyter web app logos override all of the app's assets"
/kind bug

**What steps did you take and what happened:**
Deploy the app from the latest manifests, where we mount the logos ConfigMap under the entire `assets` folder of the app
https://github.com/kubeflow/kubeflow/blob/f757f4ee1ed1c55d4d8930a13c574bcb5872409c/components/crud-web-apps/jupyter/manifests/base/deployment.yaml#L20

If I try that with a version of the app that includes more files unde

[2021-04-29 16:55] hsinhoyeh commented on #5791
@sabya39 hi, you can follow our example on deploying kubeflow (v1.2 and v1.3) on top of minikube [here](https://github.com/footprintai/kubeflow-workshop). Cheers!

[2021-04-29 17:22] MarcandreBoulon commented on #5704
in a similar fashion I confirm the process below works for me :

1. delete cookie
2. https://{auth.mydomain}/logout?response_type=code&client_id={my_client_id}&redirect_uri={my_callback_uri}&state=STATE&scope=openid+profile+aws.cognito.signin.user.admin      >   as described in https://docs.aws.amazon.com/cognito/latest/developerguide/logout-endpoint.html (example 2)

my_callback_uri not my_signou

[2021-04-29 19:21] davemaung commented on #3967
This doesnt seemed to support release Kubeflow 1.3. i tried this steps. it would be great. if somebody can take a look at this? This is one of the issues item that is blocking Kubeflow from being deploy in our Production environment due to  our company policy and cost saving to share multiple kubeflow version in single shared Kubernetes cluster.

1. download https://github.com/kubeflow/manifests/t

[2021-04-29 20:40] jinnovation commented on #5857
This is a duplicate of #5191.

[2021-04-30 15:32] livegenic-akyrychek commented on #5289
have same problem...

[2021-05-01 21:30] DavidSpek commented on #5869
The time it took to write this issue probably took twice as long as it would have taken to fix the issue. I can create a PR to fix this if it will actually get merged in a timely manner.

[2021-05-03 02:05] jbottum commented on #5869
/area jupyter  /kind feature

[2021-05-03 02:08] jbottum commented on #5863
/kind feature
/priority p2

[2021-05-03 02:14] jbottum commented on #5860
/kind question
/priority p2
/area installation
@constanton did you get this resolved?  I assume this is on-prem cluster.   You might try asking questions at the On-Perm SIG.  also, I believe we tested with K8s 1.17

[2021-05-03 02:16] jbottum commented on #5854
@swamt did you get this resolved ?  did you try with Kubeflow 1.3 and the new installation patterns ?   https://www.kubeflow.org/docs/started/installing-kubeflow/

[2021-05-03 02:17] jbottum commented on #5854
/platform aws
/kind question
/area installation
/priority p2

[2021-05-03 02:20] jbottum commented on #5853
@motilalmeher have you considered using a versioning system for your models ?    What K8s storage class are you using ?

[2021-05-03 05:29] swamat commented on #5854
@jbottum Thanks for the reply. The issue is not resolved. i tried with kubeflow 1.2 on aws.
In kubeflow documentation i found the below steps(https://www.kubeflow.org/docs/distributions/aws/deploy/install-kubeflow/)
# 2. Use the following kfctl configuration file for the AWS setup without authentication:
export CONFIG_URI="https://raw.githubusercontent.com/kubeflow/manifests/v1.2-branch/kfdef/kfct

[2021-05-03 07:24] sachdevayash1910 opened #5878 "Kubeflow on microk8s always crashes after 2 days"
/kind bug

I have been trying to keep kubeflow running on microk8s. It runs alright for a while, however it always crashes. Several pods get stuck in Init:0/1  although i think the culprit is the controller-0 pod which goes into CrashLoopBackoff. Looking at the logs I see the following in the mongodb container:

`2021-04-29T13:39:59.290+0000 I CONTROL  [initandlisten] options: { net: { bindIpAll:

[2021-05-03 13:16] jbottum commented on #5854
@swamat thanks for your note.   You have a couple of options for support.  1) attend at Community or Working Group Call, you might try the Manifest call tomorrow.   https://www.google.com/url?q=https://arrik.to/kf-wg-manifests-notes&sa=D&source=calendar&ust=1620479560799000&usg=AOvVaw3IZaN2pxf2RBYMl6hClrkR.    Or you could reach out to AWS directly.   Finally, there are 3rd parties would provide s

[2021-05-03 20:50] ahsan-n opened #5879 "unable to access kubeflow endpoint | istio ingress has no address assoicated"
/kind question

**Question:**
Hi, so I followed this [document without cognito](https://www.kubeflow.org/docs/distributions/aws/deploy/install-kubeflow/) for eks 1.19, after deployed when i ran command:

`kubectl get ingress -n istio-system`

i get following output without address:

[code]
Now to my understanding there should be elb endpoint but I got nothing, then I updated gateway service direct

[2021-05-03 21:54] DavidSpek commented on #5879
@karlschriek and I are working on integrating Cognito with Kubeflow 1.3 over at https://github.com/argoflow/argoflow-aws. Some parts are already mostly in place (such as RDS integration) but Cognito is still a work in progress. If you like you have the time it would be great if you could also help us with getting Cognito up and running. If not, I'll try to remember to get in touch with you once we

[2021-05-04 02:17] LifeArchitect opened #5881 "Error: persistentvolumeclaim "azure-managed-disk" not found"
**Question:**

I've followed the [azure end-to-end pipeline](https://www.kubeflow.org/docs/distributions/azure/azureendtoend/) tutorial, but am getting this error when running an experiment, does anyone know what might be the problem?

![image](https://user-images.githubusercontent.com/19318871/116953966-34d56d00-acc1-11eb-9708-cff2fd18f935.png)

I've run `kubectl apply -f pvc.yaml` but somehow I

[2021-05-04 05:24] PLeusmann commented on #2337
If I am able to properly use the search function for prs, all PRs by @MrXinWang are merged by now.
What does this mean overall for the status of this discussion?
is Kubeflow ready to be deployed on arm64 by now?

[2021-05-04 09:18] mtszkw commented on #5273
Unfortunately this issue was closed with no dicussion, but in case anybody is here looking for the solution: I had the same problem ([v. 1.0.4](https://www.github.com/kubeflow/pipelines/commit/b604c6171244cc1cd80bfdc46248eaebf5f985d6)), which I finally managed to solve. With the secret present in "kubeflow" ns I had to copy it to my user ns (the one you use in KF pipeline) using this command https

[2021-05-04 10:50] ahsan-n commented on #5879
Hi @DavidSpek  thanks for comment, but I am deploying kubeflow **without cognito** :)

[2021-05-04 12:56] vaskozl commented on #2337
[code]

[2021-05-04 14:08] mkbahk opened #5882 "istio-system in stuck..."
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

istio-system           cluster-local-gateway-8558bdd679-8df2r        0/1     ContainerCreating   0          27m     <none>           host207-ipusrv16   <none>           <none>
istio-system           istio-ingressgateway-78f7794d66-zqzcc         0/1     ContainerCreating   0          27m

[2021-05-04 23:28] thesuperzapper commented on #3735
This issue has been open for too long (and is on the wrong repo), if someone encounters it again, please raise it on: https://github.com/kubeflow/kfctl

/close

[2021-05-04 23:28] #3735 closed

[2021-05-04 23:37] thesuperzapper commented on #3082
This issue should live on the GCP distribution repo: https://github.com/kubeflow/gcp-blueprints

Please raise it there if this is still an issue.

/close

[2021-05-04 23:37] #3082 closed

[2021-05-05 00:05] thesuperzapper commented on #4067
/close

[2021-05-05 00:05] #4067 closed

[2021-05-05 00:06] thesuperzapper commented on #3656
/close

[2021-05-05 00:06] #3656 closed

[2021-05-05 12:00] kfkelvinng commented on #5879
I managed to connect via a port-forwarding as shown in [eksworkshop](https://www.eksworkshop.com/advanced/420_kubeflow/dashboard/)
`kubectl port-forward svc/istio-ingressgateway -n istio-system 8080:80` and then browse `localhost:8080` but still not ideal

[2021-05-05 12:02] DavidSpek commented on #5879
Without Cognito the setup shouldn’t be a problem. I only just got access to AWS so I’ll look into this soon.

[2021-05-05 13:13] rado-parrak opened #5883 "Allow "Workspace Volume" section to be read-only in the disabled state"
/kind feature

**Why you need this feature:**
In our configuration of Kubeflow, the configuration of Volumes is pre-configured, so for us it is undesirable that users can create their own Workspace volumes.

**Describe the solution you'd like:**
We would like to make the "Workspace Volume" section in the new notebook server wizard read-only in the disabled state (now it can be made read-only in th

[2021-05-05 13:32] agilgur5 commented on #5313
Updating the table as I looked into it

| Component	| Issue	| PR	 | Merged |
| --- | --- | --- | --- |
| profile-controller |	#5397	| #5617 |	✔️ |
| kfam |	#5399	 | #5725	 | ✔️ |
| pipelines	| [kubeflow/pipelines#4768](https://github.com/kubeflow/pipelines/issues/4768)	| [kubeflow/manifests#1719](https://github.com/kubeflow/manifests/pull/1719)	| ✔️|

So I believe that it's all good for any Istio

[2021-05-05 14:19] yanniszark commented on #5313
Yeap, all work is done!
Closing the issue...

[2021-05-05 14:19] #5313 closed

[2021-05-05 17:36] ahsan-n commented on #5879
Thanks David,
@kfkelvinng  can you share your eks (kubernetes version) and kubeflow version?

[2021-05-05 20:34] alexlatchford commented on #3840
For our use case at Zillow we use an AWS EFS volume mount, done via a `PodDefault` to auto-attach storage to notebooks so ideally also having a way to disable provisioning/mounting any PVCs by default would also be awesome or at least being able to set this new deletion flag at a cluster level so it's not down to users whether they turn this off or not (a lot of our users don't really know much ab

[2021-05-06 04:52] hwdef commented on #5860
@jbottum
I have the same problem, on k8s 1.21.0. Do you have any suggestions to solve the problem

[2021-05-06 07:47] hwdef commented on #5860
https://github.com/ubuntu/microk8s/issues/2135

Found the same problem in microk8s.

[2021-05-06 08:46] ahsan-n opened #5885 "Hi is it safe to deploy kubeflow v 1.3 in production"
/kind question

**Question:**
Hi my question is kubeflow 1.3 is production ready? or we should go for kubeflow 1.2 for now.
Thanks for awesome work.

[2021-05-06 09:26] saisona commented on #4519
Same here :/

[2021-05-06 09:26] fahadh4ilyas opened #5886 "Is there a way to add `dnsConfig` to `Notebook` from the UI?"
I want to add `dnsConfig.nameservers[]` field to `Notebook` but I can't using `PodDefault` to do that. Is there a way to add it without patch it manually to `Notebook`? Here is my `PodDefault` yaml file:
[code]

[2021-05-06 09:42] mat-ej commented on #5860
Same problem here

[2021-05-06 09:47] constanton commented on #5860
I followed the solution proposed here [1]. Basically, I edited the pod's env section. @hwdef , @mat-ej I hope this helps.
 [1] https://github.com/dexidp/dex/issues/2082

[2021-05-06 11:39] DavidSpek commented on #5885
I'd say it is production ready.

[2021-05-06 11:51] yanniszark commented on #5885
I think @jbottum can provide some info on this, based on our recent user survey.
I believe a lot of users are in production with Kubeflow. Check out: https://blog.kubeflow.org/kubeflow-continues-to-move-to-production

[2021-05-06 12:35] tbeatty commented on #4519
Our organization-wide rollout of Kubeflow is currently blocked by this issue as well. We're seeing this with both Kubeflow 1.2.0 and 1.3.0.

[2021-05-06 13:27] hwdef commented on #5860
@constanton
It is works! Thank you very much!!!😃

[2021-05-07 11:27] DavidSpek commented on #5886
Out of curiosity, why do you need to do this? I believe DNS queries should be handled by the cluster DNS.

[2021-05-07 11:30] DavidSpek commented on #5882
The `kube-apiserver` needs additional arguments: `--service-account-issuer=kubernetes.default.svc` and `--service-account-signing-key-file=/etc/kubernetes/ssl/sa.key` for Istio to work. I can suggest using Kubernetes 1.20 as these flags are set by default as of this version, so you will not run into this problem.

[2021-05-07 11:31] DavidSpek commented on #5881
@LifeArchitect I think it would be best if you move this issue to https://github.com/kubeflow/pipelines/ so it can be tracked properly. This repository does not contain any of the pipeline code so the people developing pipelines will likely not see your issue here.

[2021-05-07 11:32] DavidSpek commented on #5883
Thanks for the suggestion. We are working on a redesign for the entire notebook spawner so we will take this into account.

[2021-05-07 11:35] fahadh4ilyas commented on #5886
When trying this [tutorial](https://github.com/pycaret/pycaret/blob/master/tutorials/Binary%20Classification%20Tutorial%20Level%20Beginner%20-%20%20CLF101.ipynb) from PyCaret. I could not get data and keep getting this kind of error
[code]
And the reason is because of DNS lookup error. After adding `nameserver 8.8.8.8` to `/etc/resolv.conf` file, it works.

[2021-05-07 11:43] DavidSpek commented on #5886
While this does solve the issue in your current notebook pod, it is not the actual solution to the problem you are having. I am pretty sure that what you are facing is a cluster DNS problem. This means that DNS resolution inside pods is not working properly, which will cause all sorts of problems. If you are not using an existing cluster, it might be simpler to use Flannel instead of Calico, I've

[2021-05-07 11:49] fahadh4ilyas commented on #5886
Why did you assuming I'm using Calico? My cluster is indeed using Flannel and I already check https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/. The problem has only happened while getting data, installing python packages is still working without changing `/etc/resolv.conf`.

[2021-05-07 12:00] DavidSpek commented on #5886
I've seen this problem appear multiple times with Calico, so that is why I thought this might be the case here as well. DNS should still be handled by the cluster DNS and not specified in specific pods. If you have a problem with name resolution in a pod, there is a problem with the cluster DNS setup. This shouldn't be added to PodDefaults, as it is the job of the Kubernetes cluster to provide DNS

[2021-05-07 12:02] LifeArchitect commented on #5881
sure I've moved the issue to https://github.com/kubeflow/pipelines/issues/5605. Shall close this one.

[2021-05-07 12:02] #5881 closed

[2021-05-07 12:03] fahadh4ilyas commented on #5886
Well then I guess this is a no then

[2021-05-07 12:03] #5886 closed

[2021-05-07 12:07] DavidSpek commented on #5886
@fahadh4ilyas If you really want to do this, you could create a PodDefault that mount a configmap with the DNS config you want to  `/etc/resolv.conf`, which I believe can work. Another option is to create add a startup script that adds the entries to `/etc/resolv.conf` on startup, but you will need to run the S6 overlay with root permissions (the permissions for the user/jupyterlab can still be se

[2021-05-07 12:12] DavidSpek commented on #5885
I believe the question was specifically regarding 1.3, which was released after the survey. I know of a few people that are running 1.3 in production using the [Argo CD](https://github.com/argoflow/argoflow) deployment, one of which upgraded from 1.0 to 1.3 using that deployment method (though some care needs to be taken here and there will be a bit of down time).

[2021-05-07 12:14] DavidSpek commented on #5861
@FarshadMovahed-REISys Are you wanting to setup an initial PoC cluster or are you wanting to integrate service like RDS and S3 into Kubeflow?

[2021-05-07 12:17] #5860 closed

[2021-05-07 12:24] DavidSpek commented on #5851
Sadly, the images will not be pushed to GCR for all of the components. Release 1.3 is now stable. I can recommend [deploying it with Argo CD](https://github.com/argoflow/argoflow) so that you can more easily add your customizations or change the image registry to a personal one. It also allows for easily upgrading each component of Kubeflow rather than needing to wait for a release (which doesn't

[2021-05-07 12:24] DavidSpek commented on #5839
Are you still experiencing this issue or can it be closed?

[2021-05-07 13:39] juliusvonkohout opened #5892 "There is no way to change the session timeout"
/kind bug

If you login via dex to the central dashboard, the authservice_session cookie is set with a 24h expiration time.
This is annoying for notebook users where the notebook just errors out after 24h sometimes loosing unsaved work.

SO i went into the dex documentation and increased the tokenid timeout

in the namespace auth i edit the dex configmap according to the dex documentation
[code]
I

[2021-05-07 13:45] juliusvonkohout commented on #5892
I guess https://github.com/kubeflow/manifests/issues/1884 is a better place, if  not please reopen.

[2021-05-09 10:14] ShrikanthSingh commented on #2422
Without knowing anything about the kubeflow resources I deleted both MySQL and Minio of them to free up some bounded pvc. But this resulted in losing all the sample pipelines, runs, experiment also produces errors while submitting any runs to the kubeflow. Can anyone help me with recovering those files or should I configure a fresh pipeline to the cluster ?

[2021-05-09 13:06] rado-parrak commented on #5883
Great, thx for the message. For which KF release is the rework of the notebook spawner planned?

[2021-05-10 14:50] pablofiumara-azumo opened #5899 "Kubeflow on Azure - Can't run a pipeline"
I installed Kubeflow on Azure following this [Guide][1]

However, when I create an experiment and then try to run Taxi Pipeline, the following error appears: *MountVolume.SetUp failed for volume "docker-sock" : hostPath type check failed: /var/run/docker.sock is not a socket file*

What am I missing?

I read the following links but still can't understand how to solve it

https://github.com/argopro

[2021-05-10 15:38] zulissi opened #5900 "Tensorboard server connection problems"
Thanks for the new tensorboard server; it looks really helpful! Two issues I've noticed from using it with kubeflow1.3 (installed through argoflow):

1) The tensorboard service only binds to localhost resulting in "upstream connect error or disconnect/reset before headers. reset reason: connection failure". I think this is because the container spec is missing a `--bind_all` here:
https://github.c

[2021-05-11 00:41] spots107 opened #5903 ""Argo UI for E2E tests" link in kubeflow README.md file is broken"
/kind bug

**What steps did you take and what happened:**
1. Go to https://github.com/kubeflow/kubeflow.
2. Click on the link "Argo UI for E2E tests"
3. This takes you to http://testing-argo.kubeflow.org/ which does not exist.

**What did you expect to happen:**
To be able to navigate to a page with E2E test information.

**Anything else you would like to add:**
Nothing to add.

**Environment:**
-

[2021-05-11 09:19] mkbahk commented on #5882
It's start working with Kubernetes 1.20. Thanks DavidSpek..

[2021-05-11 09:19] #5882 closed

[2021-05-11 10:35] cc-gb2 opened #5904 "Default notebook images don't start server or fail to connect kernel"
Hi, I've been trying to use jupyter notebooks on an AWS Kubeflow cluster, however the default images either report no-healthy upstream (the tensorflow-2.1 images) or the kernel can't connect (the tensorflow-1.15). As these are the default images, I'd expect them all to work.

[2021-05-11 15:11] DavidSpek commented on #5904
This is usually a browser problem, can you please try restarting your browser or using a different browser?

[2021-05-11 19:00] Adithimurthi opened #5905 "1.3 Stable Release"
when can we expect 1.3 stable release. Looking for Jupyterhub ui changes

Thank you

[2021-05-12 05:43] mukul-shaunik-nokia opened #5913 "Manage Contributor Feature not working with sidecar.istio.io/inject: true"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Installed kubeflow 1.3 with istio sidecar enabled in all the pods including centraldashboard and profile controller.
When trying to add contributor in Manage Contributor section getting 404 not found in browser.
It is working without the sidecar enabled for the same manifest.

**What did

[2021-05-12 05:43] mukul-shaunik-nokia commented on #5913
/cc @hemantha-kumara
/cc @nrchakradhar

[2021-05-12 21:42] pablofiumara-azumo commented on #5899
Executing ` kubectl edit configmap workflow-controller-configmap -n kubeflow` and doing the following was the solution: https://github.com/argoproj/argo-workflows/issues/5243#issuecomment-792993742

[2021-05-12 21:42] #5899 closed

[2021-05-13 03:21] hwk42 commented on #5885
Now it is still RC1 and when would 1.3 stable version be released,thanks

[2021-05-13 07:28] DavidSpek commented on #5885
Kubeflow 1.3 stable is released. A mistake was made in this repository and a new release was never cut for its components. So you can ignore the rc1 tag here.

[2021-05-13 07:32] DavidSpek commented on #5913
These components are currently meant to be deployed without sidecar injection, so this is not a bug. However, I plan to look into enabling sidecar injection once I’m done removing the poorly maintained OIDC-authservice for OAuth2-Proxy.

[2021-05-13 07:40] DavidSpek commented on #5878
Please create an issue at https://github.com/canonical/bundle-kubeflow as this is a distribution specific question.

/close

[2021-05-13 07:40] #5878 closed

[2021-05-13 10:17] juangon commented on #5879
@kfkelvinng I used other port (7777:80), then accessing http://localhost:7777 worked fine

[2021-05-13 10:29] rylynchen opened #5914 "Failed to start Tensorboard app"
/kind question

**Question:**
Hi, I create a volume named 'nfs', and amount to the training pod in the pipeline. And training code generate tensorboard dir in the amount dir. But when I go to look tensorboard view, get error:
![p2](https://user-images.githubusercontent.com/1971286/118113863-682e9f00-b419-11eb-8e3d-ec38f1bba07f.png)

pipeline code:
[code]
My training code generate tensorboard data

[2021-05-14 05:59] kd303 opened #5916 "Kubeflow : Monitoring & Observability documentation page"
/kind feature

**Why you need this feature:**
We have deployed Kubeflow on premise on a local cluster and currently we are finding it tough to find the usage metrics, monitoring functions for individual components etc. working on a common dashboards like Grafana/ELK etc. Currently there is no documentation available, only documentation that is available is on Spartakus which is a project now in su

[2021-05-14 07:35] maxisacoder commented on #3173
helm is better!

[2021-05-14 12:09] laserK3000 commented on #5604
@shawnzhu Do you have any plans to get your commit merged into VSCode? I compiled it and it works fine. Thanks a lot!

[2021-05-14 13:32] shawnzhu commented on #5604
@laserK3000 Thanks for the feedback! Yes, I do want to see possibilities to merge my change into the jupyter extension. One thing I haven't done is testing my change on Kubeflow 1.3 since I want to double confirm the authentication flow design including session cookie name, authorization header (`X-Auth-Token` or `Authorization`) and XSRF token flow

[2021-05-14 15:04] alembiewski opened #5917 "Notebook 'Launch' button is greyed out"
I'm facing the following issue with Notebook spawner UI in Kubeflow 1.3: after filling in the name and choosing the notebook image (or leaving the default), the launch button is not becoming active, which making it not possible to create a notebook. It was also discovered, that the button could be enabled by toggling the "Custom image" checkbox under the "Image" section.

[2021-05-14 16:04] laserK3000 commented on #5604
@shawnzhu Yes, I am running `1.3`.

[2021-05-14 17:32] Dimiftb opened #5918 "Correct way of adding new dex static users"
/kind bug

**What steps did you take and what happened:**

I've got a bare metal cluster with Kubeflow installed on it by following guide here: https://github.com/kubeflow/manifests#installation

Everything works as expected and I can successfully login in the Kubeflow dashboard with the default user credentials supplied.

I would like to add a new static user to dex, so I added the new credential

[2021-05-14 21:04] alembiewski commented on #5917
Turned out to be whether a browser or cache issue. Clothing now

[2021-05-14 21:04] #5917 closed

[2021-05-15 12:25] DavidSpek commented on #5918
After editing the configmap you need to run `kubectl rollout restart deployment dex -n auth` so that the new credentials are picked up. Also, you need to make sure the `email` is a valid email address as the profile controller will not work properly with just `test` in that field. You should change it to `test@example.com` or something similar.

[2021-05-15 12:28] DavidSpek commented on #5916
@kd303 I have monitoring and logging for the cluster, Istio and GPUs already added to my [ArgoFlow](https://github.com/argoflow/argoflow) distribution, although I haven't had the time to update all the documentation yet. Once I have a bit more time I will be adding monitoring for Kubeflow components, as well as accompanying Grafana dashboards. If you would like to help out and contribute to the mo

[2021-05-15 12:29] DavidSpek commented on #5914
As this is related to pipelines, could you please move this issue to https://github.com/kubeflow/pipelines so that it can be tracked properly. The pipelines contributors are likely not going to see your issue here.

[2021-05-15 12:30] DavidSpek commented on #5905
The components are stable, but the release tag was forgotten for this repo. So you can see the 1.3rc1 tags as the stable tags. Sorry for the confusion.

/close

[2021-05-15 12:30] #5905 closed

[2021-05-15 12:33] DavidSpek commented on #5900
This problem was caused the [kubeflow istio cluster roles](https://github.com/kubeflow/manifests/blob/master/common/istio-1-9-0/kubeflow-istio-resources/base/cluster-roles.yaml) manifest not being deployed. Strangely enough not having this manifest deployed did not result in other obvious errors. Deploying this manifest solved the problem.

/close

[2021-05-15 12:53] DavidSpek commented on #5879
We have made a lot of progress on the AWS distribution, but the most of the changes still need a bit of work to finalize them before they are merged. Other than integrating with RDS and S3 for pipelines and Katib, we have also replaced the poorly maintained [OIDC authservice](https://github.com/arrikto/oidc-authservice) with [OAuth2-Proxy](https://github.com/oauth2-proxy/oauth2-proxy) which should

[2021-05-15 14:20] DavidSpek commented on #4306
Adding a Spark notebook (already have a PR that needs updating) is something we have in mind, but we'd like to look into how to properly integrate Spark with kubeflow as well. At the moment we have not had time to do this yet.

[2021-05-15 15:15] DavidSpek opened #5921 "Kubeflow contains 2 controllers for launching Tensorboards"
In the 1.3 release, the Notebooks Working Group added the Tensorboards Web App that uses the [tensorboard controller](https://github.com/kubeflow/kubeflow/tree/master/components/tensorboard-controller) to launch tensorboard instances. However, Kubeflow Pipelines already contains the [viewers.kubeflow.org CRD](https://github.com/kubeflow/pipelines/tree/cc83e1089b573256e781ed2e4ac90f604129e769/backe

[2021-05-15 16:05] Bobgy commented on #5921
Thank you for raising the issue!
I agree 💯, recently from KFP side we noticed a need for more generic viewer, e.g. other visualization tools besides tensorboard.

Also, KFP doesn't have a good CRUD UI for tensorboard. So it seems there are a lot of value to unify and make this more generic.

[2021-05-15 16:09] DavidSpek commented on #5921
In general, I think there should be a focus on improving the integration between the components to make everything feel like a more cohesive and polished platform, which would be done through the UIs.

[2021-05-15 17:38] DavidSpek opened #5922 "ECR shortcomings and the need for alternative registries"
With the 1.3 release of Kubeflow, the many components under the control of the Notebooks Working Group (along with some others) moved to using the Amazon ECR Public Gallery registry to host the container images of said components. I believe a large reason for using ECR this was the announcement of rate limiting the pulls of users by DockerHub. This change has caused problems for users in enterpris

[2021-05-15 17:56] DavidSpek commented on #5921
Another option would be to create a new controller that combines the notebook controller and the KFP `viewer` controller under a more general common `user created web apps` controller, since they are essentially performing the same tasks (pod deployment and creating an Istio VirtualService for the routing). This would allow for a single controller that could be extended with whatever user created

[2021-05-15 18:29] Dimiftb commented on #5918
Thanks @DavidSpek. The restart of the deployment actually solves the issue. I'm closing this now.

[2021-05-15 18:29] #5918 closed

[2021-05-16 00:23] Bobgy commented on #5921
For KFP standalone, there is some special proxy setup in KFP UI deployment, it doesn't use VirtualService.

Other than this, all the requirements seem to match very well. I personally think this is worth doing and KFP standalone can just take a third-party viewer controller too.

[2021-05-16 00:25] Bobgy commented on #5921
/cc @zijianjoy

[2021-05-16 12:41] DavidSpek commented on #5883
We are aiming to do it for 1.4, but I can't make any promises about this sadly.

[2021-05-16 12:43] DavidSpek commented on #5885
Closing this issue as I believe the question has been answered.

/close

[2021-05-16 12:43] #5885 closed

[2021-05-16 12:48] DavidSpek commented on #5856
I believe it might be better to install the latest version of Kubeflow (1.3). For an easier to customize and more maintainable solution I can recommend installing it with Argo CD. I created the ArgoFlow distribution for this which you can find [here](https://github.com/argoflow/argoflow). If you run into any problems I'll be happy to help you. You can reach out to me on Slack or create an issue on

[2021-05-16 12:53] DavidSpek commented on #5745
@ReggieCarey Are you still running into this issue?

[2021-05-16 16:21] crmne commented on #5794
Hi there,

is there a way to specify which GPU nodes Kubeflow should use?

[2021-05-16 16:21] crmne commented on #5796
Hi there,

Is there a way to automatically deploy SSL certificates for new endpoints?

[2021-05-16 16:22] crmne commented on #5769
Hi there,

is there any progress on this? How can I help?

[2021-05-16 21:37] ReggieCarey commented on #5745
Have not tried yet.

Sent from my iPhone

[2021-05-17 01:10] rylynchen commented on #5914
Thanks!

[2021-05-17 08:13] rado-parrak commented on #5883
OK, thx for the info!

[2021-05-17 08:55] mukul-shaunik-nokia commented on #5913
Thanks @DavidSpek.
Have been looking into the issue from our end, here are the findings:-
The usual flow for api/workgroup/add-contributor/j2 is from UI to central dashboard to kfam pod
But in this case the request is getting reject by istio sidecar in the centraldashboard itself.
Following is the POST request being sent from centraldashboard to kfam
[code]

Upon further checking got to know that

[2021-05-17 09:43] AGrzes opened #5923 "Dashbord configuration error when installed in non default namespace"
/kind bug

**What steps did you take and what happened:**
Installed kubeflow in namespace other than `kubeflow` (in this case`airuntime`) on OKD using operator
All pods are started.
When logging to dashboard there is an error
"Dashboard Links Configmap is invalid"
In logs I get
[code]

**What did you expect to happen:**
Kubeflow working correctly in another namespace.

**Anything else you would li

[2021-05-17 13:05] HarborZeng commented on #5487
Need an mirror that can be accessed in China or a solution for proxy

[2021-05-17 13:33] jbottum commented on #5794
@crmne Hi Carmine, you might purse two options...escalate to your GCP/GKE representative or find a vendor who provides advanced support for Kubeflow.   My company (Arrikto) provides that support for Kubeflow and enterprise integration requirements and would be glad to discuss.  Josh

[2021-05-17 20:18] jbottum commented on #5923
/priority p2
/platform openshift
/platform IBM
/area installation

[2021-05-17 20:20] jbottum commented on #5922
/kind feature
/priority p2
/area enterprisereadiness

[2021-05-17 20:26] jbottum commented on #5916
/priority p2
/area enterpirsereadiness

[2021-05-17 20:30] jbottum commented on #5904
/kind question
/area jupyter
priority p2

[2021-05-17 20:33] jbottum commented on #5913
/priority p2
/kind feature
/area installation

[2021-05-17 20:48] jbottum commented on #5845
/priority p2
/platform minikf
/area

[2021-05-17 20:59] jbottum commented on #5841
/kind question
/priority p2
/area authentication

[2021-05-17 21:01] jbottum commented on #5842
/area jupyter
/priority p2
/kind question

[2021-05-17 22:27] jbottum commented on #5851
/kind question
/priority p2

[2021-05-17 22:31] jbottum commented on #5851
@Adithimurthi Note if you need a custom configuration i.e. ecr-only, you might also check with one of the vendors that provide supported Kubeflow distributions.    Have you found a solution ?  can we close this issue?

[2021-05-18 13:59] Adithimurthi commented on #5851
Yes, it should be fine

On Mon, May 17, 2021 at 6:31 PM Josh Bottum ***@***.***>
wrote:

[2021-05-18 20:39] DavidSpek commented on #5851
This is also related to https://github.com/kubeflow/kubeflow/issues/5922

[2021-05-18 22:50] DavidSpek commented on #5900
/reopen

This issue was solved because Istio was fixing the configuration somehow, which it needed the above mentioned roles for. However, with [Istio 1.10 Envoy is configured to send traffic to the application on eth0 rather than lo](https://istio.io/latest/news/releases/1.10.x/announcing-1.10/), which breaks the tensorboard instances.
Running `istioctl experimental precheck` yield the following

[2021-05-19 01:51] gaocegege commented on #5922
/cc @kubeflow/wg-automl-leads

[2021-05-19 03:19] johnugeorge commented on #5922
How is the access control to DockerHub Organization for various teams?

[2021-05-19 03:51] Bobgy commented on #5921
I'm sending out a generic viewer controller proposal in https://github.com/kubeflow/pipelines/issues/5681

[2021-05-19 07:08] DavidSpek commented on #5922
@johnugeorge There is an existing DockerHub organization, but I don’t know how access is managed for this at the moment. Maybe @Bobgy can inform us about this. Personally, I’m all for giving people multiple options, so I think pushing images to DockerHub, as well as ECR, and also to GHCR would be a good setup.

[2021-05-19 09:19] jerryjin2018 commented on #5487
Is there any way to solve the issue?

[2021-05-19 13:26] kimwnasptd commented on #5900
Thanks for reporting the issue @zulissi.

I'd like to ask some questions to ensure we've understood what exactly the problem is.

As @DavidSpek noted above, in Istio 1.10 the Envoy proxy will **not** forward traffic from the Pod's `eth0`  to `lo` https://istio.io/latest/blog/2021/upcoming-networking-changes. But this assumes that you've upgraded your Istio installation to 1.10, and not 1.9 which i

[2021-05-19 13:37] DavidSpek commented on #5900
@kimwnasptd The problem with the pod not binding to all interface is also apparent if the [kubeflow istio cluster roles](https://github.com/kubeflow/manifests/blob/master/common/istio-1-9-0/kubeflow-istio-resources/base/cluster-roles.yaml) are not deployed. This is also the only problem I experienced when these were not deployed. So the issue is not strictly speaking only relevant for Istio 1.10.

[2021-05-19 14:15] andre-lx commented on #5271
The problem is that the istio pods are not being injected to the ns kubeflow, the reason is explained in my comment here:

https://github.com/kubeflow/pipelines/issues/5244#issuecomment-844144159

With this, you don't need to change the `tls.mode` from ISTIO_MUTUAL to DISABLE

[2021-05-19 14:18] andre-lx commented on #5277
If you came across this issue, using azure, and the kubeflow ns doesn't have the istio pods injected to the pods, please check my comment here:

https://github.com/kubeflow/pipelines/issues/5244#issuecomment-844144159

[2021-05-19 16:22] yanniszark commented on #5900
@zulissi the error you are seeing makes sense if you are indeed using Istio 1.10 with new changes in sidecar networking. Do you confirm that you are using Istio 1.10?

@DavidSpek I think we all agree that the changes in Istio 1.10 would break the tensorboard controller. However, I don't understand how this could happen if one had not deployed the Istio cluster roles. Can you provide a step-by-step

[2021-05-19 16:32] zulissi commented on #5900
In my case:
* I was using argoflow with istio 1.9 and without the istio cluster roles as @DavidSpek mentioned.
* I had turned off istio for some namespaces since it interfered with some services like dask clusters. I know this isn't the expected use case, but notebook servers still work fine with istio off.
* When this is the case, navigating to /tensorboard/<namespace>/<name>/ would send traffic

[2021-05-19 16:36] DavidSpek commented on #5900
@yanniszark I'm not sure what those cluster roles are used for, but deploying them solved the problem. I don't have the the sidecar logs handy as I've since deployed the cluster roles and am now using Istio 1.10, but I guess the steps could be seen as follows:

1. Tensorboard Pod starts and serves on port X on localhost.
2. User navigates to Tensorboard UI with browser and clicks connect on the sp

[2021-05-19 16:50] cc-gb2 commented on #5904
Sorry to reopen this, this doesn't work. I've tried on both Chrome and Firefox. How can I debug this?

[2021-05-19 16:53] DavidSpek commented on #5904
Do you see any errors in the developer console of the browser? You’ll need to open the console and then refresh the page.

[2021-05-19 17:22] Jeffwan commented on #5922
/cc @PatrickXYS

[2021-05-19 17:49] openbsod commented on #2337
@PLeusmann Nope :(

Naive approache i.e

[code]

leds to `standard_init_linux.go:211: exec user process caused "exec format error"`

[2021-05-19 22:21] mavencode01 commented on #5677
Same issue installing on Openshift:

![istio_gallery](https://user-images.githubusercontent.com/542912/118892529-05348080-b8cf-11eb-802f-40e15060178a.png)

[2021-05-19 22:50] DavidSpek commented on #5904
@cc-gb2 Could you try one of the new notebook images, ass the ones you are using are very outdated. The equivalent image to what your using now would be: public.ecr.aws/j1r0q0g6/notebooks/notebook-servers/jupyter-tensorflow-full:v1.3.0-rc.1

[2021-05-19 23:49] Bobgy commented on #5922
Following previous decisions, I believe the most long term maintainable approach is to let each wg set up their own dockerhub account if you decide to use one

[2021-05-20 05:08] johnugeorge commented on #5922
@DavidSpek I get your point.

 I remember, there were similar discussions earlier about centralised registry for storing each KF component image but concerns were raised on ownership, management etc. And as @Bobgy told, I don't know if there is any better solution at this point than leaving it to WGs to decide.

[2021-05-20 05:40] subhabratabanerjee opened #5926 "KFP create_experiment issue Kubeflow 1.3"
/kind bug

**What steps did you take and what happened:**
client = kfp.Client() # tried with https://www.kubeflow.org/docs/distributions/gke/pipelines/authentication-sdk/#connecting-to-kubeflow-pipelines-in-a-full-kubeflow-deployment approach too
client.create_experiment(name='simple_echo_pipeline', namespace='kubeflow-user-example-com’)

ApiException: (500)
Reason: Internal Server Error
HTTP resp

[2021-05-20 13:00] cc-gb2 commented on #5904
Ah yes so I've have the issue with the websocket you mention in the PR. I'd rather not screenshot it just for security, but it's along the lines of
`ws://<kubeflow-ip>...elb.amazon.com/...<notebook-url>/api/kernals/<example hash>/channels?session_id:<more_hash> faile`

[2021-05-20 16:15] realsushi-official commented on #4997
Here is a basic solution for port forwarding a microk8s addon like Dashboard
**Remote side**
- `microk8s kubectl port-forward -n kube-system service/kubernetes-dashboard 10443:443`
**Client side**
- `ssh -L 10443:localhost:10443 $USER@$IP`
- `curl https:localhost:10443`
Tested with **Firefox 89** by bypassing the missing ssl certificate. (Didn't work with chrome even when removing security)

[2021-05-21 02:53] daniel-hutao opened #5927 "first pr for improve code robustness"
/kind question

**Question:**

Hi all, I am a newcomer to the kf community. I've found some problems in the process of using some projects of kf. So I read the source code of these projects some time ago and found that there are many optimization points, such as some There is no reconcile logic in the process of concile failure some places, some important steps have no logs, and there are some log

[2021-05-21 09:58] kd303 commented on #5916
@DavidSpek Thanks for the info, I had a look at your repo it looks impressive. Meanwhile I was trying to look at KNative and set it up on on local cluster I found following [Knative reference](https://github.com/dewitt/knative-docs/blob/master/serving/accessing-metrics.md )

[2021-05-21 10:09] maxisacoder commented on #4788
same case

[2021-05-21 10:32] #5914 closed

[2021-05-21 11:12] qlniu opened #5928 "how to deployment angular multiple application in jupyter-web-app project"
/kind question

**Question:**
[You can ask any question about this project.]
**I want update angular SPA to multiple application, how to deploy this multi-page application ?**

frontend project build result:
![image](https://user-images.githubusercontent.com/46595240/119128224-f6350600-ba67-11eb-8a5a-def41e744e7a.png)

How to modify router configuration in backend ？

**Desired result:**
'/'   -> f

[2021-05-21 19:12] 3dimaging opened #5929 "Can Kubeflow run on AWS fargate?"
/installation
**Question:**
Can the kubeflow be installed solely on AWS EKS fargate?
The direction of kubeflow installation is mainly about installing Kubeflow on EKS with managed nodes. Is that possible or best practice to install kubeflow on EKS with fargate only? Thank you!

[2021-05-23 16:09] jbottum commented on #5929
/platform aws
/kind question
/priority p2

[2021-05-23 16:10] jbottum commented on #5928
/area jupyter
/priority 2

[2021-05-23 16:12] jbottum commented on #5921
/kind feature
/priority p2

[2021-05-24 03:18] andrewspiers opened #5930 "Kubectl explain profile should include FIELDS section."
/kind feature

**Why you need this feature:**
I want to know if we can set limitranges at profile creation time, or if we must subsequently assign them to the created namespaces.

**Describe the solution you'd like:**
FIELDS: (shows me the fields in a valid profile creation API request.)

FIELDS section should include a SPEC: Entry, which contains the spec of a Profile.

**Anything else you would

[2021-05-24 09:24] DavidSpek commented on #5904
@cc-gb2 Could you possibly screenshot just the browser console error so we have it on record? Or copy the full output and remove the URL. Also, could you provide details about what OS and version you are using, along with which browser and the version of the browser (and any other browser you tried). That would help a lot for us to be able to pinpoint what could be causing the problem. Given the e

[2021-05-24 11:28] kimwnasptd commented on #5863
@toshi-k I'd like to ask some more questions to further understand what's required for MLFlow to work as part of Kubeflow, as well as to see if the current mechanism of the CentralDashboard could satisfy this.

So IIUC, the MLFlow components currently don't have a mechanism for K8s Namespace isolation, so the solution you are proposing is to launch the MLFlow components/apps' yamls [Pods, Services

[2021-05-24 12:47] maxisacoder commented on #5540
istio 1.9 with kubeflow 1.3, still this error

[2021-05-24 13:11] toshi-k commented on #5863
That's right. My proposal is creating app for each Namespace (with sidecar injection) and just switching the traffic by URL prefix. This idea is almost the same with traffic control of kubeflow notebook.

This is an instant way to offer customization to cluster admin adding third party apps. MLFlow is just an example and other ML friendly tools (like Grafana, Prometheus etc) can be added with the

[2021-05-24 14:14] karlschriek commented on #5863
We have been wanting to implement exactly that for quite some time. We
weren't able to do with the previously used Istio version (filtering on
namespace couldn't be implemented without difficulty), but should be fairly
straightforward to implement now. In addition to MLflow server per
namespace one would also need separate backend DB and object storage
configurations. We use S3 and RDS for this, s

[2021-05-24 15:55] DavidSpek commented on #5540
@maxisacoder I recommend creating an issue over at https://github.com/kubeflow/pipelines if you are having trouble with this.

[2021-05-24 16:15] kimwnasptd commented on #5863
@karlschriek thank you for providing more context!

@toshi-k @karlschriek in that case we can already support running multiple instances of MLflow. In 1.3 the CentralDashboard is injecting the selected Namespace in the links via the `ns={selected-namespace}` query parameter https://github.com/kubeflow/kubeflow/pull/5513.

So, since you will be creating a VirtualService for each MLflow server per n

[2021-05-24 16:59] alexlatchford opened #5931 "Culled notebooks leak Notebook, StatefulSet, Service & VirtualService resources"
/kind bug

**What steps did you take and what happened:**

I've enabled the culling of notebooks (see [this PR](https://github.com/kubeflow/kubeflow/pull/3856)). It does a great job releasing the replicas and ultimately the compute resources as the `Pod` (and any attached resources) gets downscaled once the idle timeout is met (see [here](https://github.com/kubeflow/kubeflow/blob/master/components

[2021-05-24 17:05] alexlatchford opened #5932 "Errored notebooks do to not get garbage collected, even with culling enabled"
/kind bug

**What steps did you take and what happened:**

We allow our scientists to bring their own notebook images, sometimes these images contain errors in the entrypoint script such that they do not spin up and the notebook (and underlying StatefulSet Pods) will go into an `Error` state. Notebooks in this state will only be permanently deleted with manual intervention, even with culling enabl

[2021-05-24 17:15] toshi-k commented on #5863
@karlschriek Thank you for information ! I gonna take a look about it, but I still need the universal way which can be used for any third party apps.

@kimwnasptd Good point ! I actually tried queryParams at first, but it didn't solve the issue. The biggest issue is when the app is not complete SPA. Thanks to #5513, `ns={namespace-the-vsvc-is-deployed-in}` is added to URL for the first access, but

[2021-05-24 18:07] cloudbow commented on #5423
I am getting this error as well. Trying the workaround with public subnet

[2021-05-25 09:48] shanisma opened #5935 "Broken link : https://www.kubeflow.org/docs/started/k8s"
Hello, on this page : https://www.kubeflow.org/docs/other-guides/kubeflow-on-multinode-cluster/

Link "installing Kubeflow on existing clusters" to  "https://www.kubeflow.org/docs/started/k8s" : link no found

![Capture d’écran 2021-05-25 à 11 48 00](https://user-images.githubusercontent.com/23318335/119477220-11955f00-bd4f-11eb-855f-4c7d81970da8.png)

[2021-05-25 12:28] anencore94 opened #5936 "pipeline's child pods are not deleted after workflow's status became success"
/kind question

**Question:**

When I create kf pipeline, its components are spawned as pods in a specific order written by pipeline spec.

However, even after those pods's status became COMPLETED and pipeline's status became COMPLETED, they didn't killed automatically.

I searched about this and I guess `spec.podGC.strategy` has some releation on this issue.

But, I didn't specify that parameter

[2021-05-25 12:42] Dimiftb opened #5937 "Multi-node GPU usage in kubeflow notebook server"
/kind question

**Question:**

Hi everyone,

I've got a cluster with 4 worker nodes, each with one GPU. Creating a notebook server with 1 GPU is fine and works as expected. When I try to create a notebook server in Kubeflow with more than 1 GPU I get an error insufficient resources: NVIDIA GPUs.  I was wondering if it's possible at all and there's a way to use all 4 GPUs in one notebook server for

[2021-05-25 14:17] kimwnasptd opened #5938 "Don't bind to localhost for Istio 1.10"
One of the changes for Istio 1.10 is that the Envoy proxy will not redirect inbound traffic from `eth0` to `lo`. This means that if a web server in a container is listening to localhost then it won't be working in 1.10.

We should update all our apps that only listen to localhost to bind to all the available interfaces instead.

A list of currently affected applications in this repo include:
* The

[2021-05-25 14:21] kimwnasptd commented on #5900
Since the `--bind_all` flag is not the root of this issue I created an umbrella one to keep track of that effort there https://github.com/kubeflow/kubeflow/issues/5938. @DavidSpek lets review your PR https://github.com/kubeflow/kubeflow/pull/5925 as part of that issue.

[2021-05-25 14:50] kimwnasptd commented on #5863
Indeed, this can be an issue since each app can change the URL in the iframe, or even not include this query param at all in the requests it makes.

@toshi-k thank you for the detailed explanation! We are on the same page. Indeed having dynamic paths for namespaces seems like a very clean way to have this functionality. I'll go on with reviewing your opened PR https://github.com/kubeflow/kubeflow/

[2021-05-26 01:29] jaiganeshp commented on #5534
I am facing the same issue in Kubeflow 1.3. I am able to see the configuration in the dropdown menu but it is not copying the volumes, volume mounts, and environment variables from the Poddefault. I am using this definition of PodDefault.

[code]
This pod default was copied from the comment here: https://github.com/kubeflow/pipelines/issues/5138#issuecomment-797003710

Has anyone else run into thi

[2021-05-26 02:03] jbottum commented on #5938
/kind feature
/priority p1
/area istio

[2021-05-26 02:05] jbottum commented on #5937
/priority p2
/area nvidia
/platform on-prem
@Dimiftb is this an on-prem cluster?

[2021-05-26 02:06] jbottum commented on #5936
/area pipelines
/priority p2
@anencore94 which platform are you running on i.e. GCP, AWS, on-prem ?

[2021-05-26 02:07] jbottum commented on #5935
/area docs
/priority p1
/kind bug

[2021-05-26 02:09] jbottum commented on #5931
/area jupyter
/platform aws
/platform p1

[2021-05-26 02:12] anencore94 commented on #5936
@jbottum
on-prem k8s v1.19.3 !

[2021-05-26 02:19] jbottum commented on #5930
/priority p2

[2021-05-26 02:21] jalola commented on #5803
I think the reason is Jupyter uses Volume web app during creating a new notebook server. So you need to set this `APP_SECURE_COOKIES` env to `false` in Volume web app as well.

I listed here where I set it (e.g., Tensorboard Web App, Jupyter Web App, Katib UI, even Central Dashboard):

- https://github.com/kubeflow/manifests/blob/v1.3-branch/apps/jupyter/jupyter-web-app/upstream/base/deployment.ya

[2021-05-26 02:24] jbottum commented on #5927
/priority p2
@daniel-hutao welcome and thanks for your efforts.   you might join the working group calls and provide some examples.

[2021-05-26 02:26] jbottum commented on #5859
@15077693d is there more detail on this ?

[2021-05-26 02:30] jbottum commented on #5858
/priority p2
/area jupyter

@wg102 This is a nice initiative.   Validating the conversion from english to another language may need to be part of the feature delivery.

[2021-05-26 02:32] jbottum commented on #5841
@ZhengJuCn did you get this resolved ?

[2021-05-26 02:41] daniel-hutao commented on #5927
How to join the working group?

[2021-05-26 09:36] kimwnasptd commented on #5803
Let's not use this issue to provide the instructions and support around enabling HTTPS, since this is highly platform dependent.

To make the app work with plain http, although this is not encouraged, you can set the `APP_SECURE_COOKIES: false` ENV Var in each app. If after this change your app is still not working with http then lets further discuss and try to understand why the apps don't behave

[2021-05-26 11:06] jmdinis commented on #5803
@jalola Thanks, that did it!

@DavidSpek when trying to deploy that certificate got this error:
`error: unable to recognize "certificate_test.yaml": no matches for kind "Certificate" in version "cert-manager.io/v1"`

I'm guessing this is because Kubeflow installs cert-manager version 0.11.

@kimwnasptd working with http now, yes.

[2021-05-26 11:22] DavidSpek commented on #5803
@jmdinis That is indeed because the manifests use a very outdated version of cert-manager, which is also not compatible with KFServing so you should probably update it.

You can use this yaml instead in the mean time:

[code]

@kimwnasptd While I agree that the web apps not working as expected in HTTP mode needs to be investigated, saying a certificate is **highly** platform dependent is simply no

[2021-05-26 11:30] kim-sardine commented on #5598
This should be fixed.
anyone who has installed kubeflow on aws_cognito_1.2 with [e2e guide](https://www.kubeflow.org/docs/aws/aws-e2e/) will have same problem. they can't use KFServing because they installed istio 1.1.6

[2021-05-26 11:37] DavidSpek commented on #5598
@kim-sardine for [ArgoFlow-AWS](https://github.com/argoflow/argoflow-aws) we've been very busy to resolve these problems with AWS integrations. I'm happy to say that we have implemented upstream Istio to make it easier to manage and upgrade (and we've upgraded to Istio 1.10) and we've integrated S3 and RDS where possible, to name a few things. Most importantly, we've re-implemented authentication

[2021-05-26 12:12] Dimiftb commented on #5937
Hi @jbottum,

It's installed on my machines,  not using any cloud provider, so I think that's a yes

[2021-05-26 13:53] ca-scribner commented on #5190
I believe this is fixed by #5673, although I have not confirmed it personally

[2021-05-26 14:06] subodh101 opened #5940 "Unable to open Artifacts and Executions page on Central dashboard"
### What is the issue?

On opening the artifacts or execution page on central dashboard, the google chrome crashes after a few seconds.
There are no issues with the `Output artifacts` of a specific run.

I checked the size of the artifacts by port-forwarding `svc/metadata-db`.
[code]
'198232' -> Around 2 Lacs.

Similarly, I checked the size of the executions. '82,047' -> Around 1 Lac.

**Environme

[2021-05-26 14:57] jbottum commented on #5863
@toshi-k I am a Kubeflow Community Product Manager and interested in this effort.    Do you have some end-users that will deploy this in the near term?

[2021-05-26 17:26] DavidSpek commented on #5863
@jbottum @jtfogarty said some people at his work were asking about MLFlow. I'll be looking into Grafana integration in the near future for [ArgoFlow](https://github.com/argoflow).

[2021-05-26 18:24] cc-gb2 commented on #5904
This is a screenshot with chrome Ubuntu 18.04 Chromium Version 90.0.4430.212 (Official Build) snap (64-bit)
![image](https://user-images.githubusercontent.com/83974855/119711233-3117af00-be57-11eb-85ad-e930d9626614.png)
=

From firefox 88.0.1:
![image](https://user-images.githubusercontent.com/83974855/119711951-ffebae80-be57-11eb-837b-df32521a2d4d.png)

[2021-05-26 20:22] FlempTW commented on #5191
hi  !I have look over the issue and likes to solve this
the problem probably because if  len(ResourceQoutaSpec.hard) = 0
if will design to no update instead of delete all
Before solving this i want to know if we do delete all of no update since we get a empty ResourceQoutaSpec
(Sorry for poor English)
![issue-1](https://user-images.githubusercontent.com/52062617/119725974-28e56100-bea3-11eb-844f-7

[2021-05-27 05:38] 814HiManny commented on #5842
I think the issue is related to the mutating-webhook-configuration.yaml of the admission-webhook is not correctly substituting the name of the webhook service. This results in PodDefaults not being applied.

https://github.com/kubeflow/manifests/issues/1894

[2021-05-27 05:43] 814HiManny commented on #5842
Manually editing the `admission-webhook-mutating-webhook-configuration` MutatingWebhookConfiguration and changing

`webhooks.clientConfig.service.name` from `service` to `admission-webhook-service` should fix.

[2021-05-27 13:28] toshi-k commented on #5863
@jbottum I'll use this feature by myself. I'm a kind of K8S cluster admin, and deploy ML tools for my co-workers (data scientists). They sometimes ask me to add some tools which are not included in original kubeflow. So, I'm trying to integrate external apps with kubeflow.

[2021-05-28 08:15] jmendesky opened #5944 "Declarative Pipeline deployment"
/kind feature

Good morning,

when deploying ML pipelines, we would like to build on existing tooling and follow similar patterns as when deploying other resources to our infrastructure. This would usually be done declaratively rather than programmatically. From our research, it seems that the only way to deploy Kubeflow pipelines at the moment is to use either kfctl or the Kubeflow Client librari

[2021-05-28 10:29] kim-sardine commented on #5598
@DavidSpek That's a good news. but those upgrades don't seem to solve this problem..

why don't we cherry pick [this commit](https://github.com/kubeflow/manifests/pull/1684/files) into `v1.2-branch` or
change [official e2e installation guide](https://www.kubeflow.org/docs/aws/aws-e2e/)'s manifest link to  https://github.com/kubeflow/manifests/blob/master/distributions/kfdef/kfctl_aws_cognito.v1.2.

[2021-05-28 12:03] muhammadtehseenSystemsltd commented on #5677
Same problem here

[2021-05-28 12:04] muhammadtehseenSystemsltd commented on #4386
I'm still facing the same issue. I could use some help.

[2021-05-28 15:07] andreas-schliebitz commented on #5808
Hi, I'am also experiencing the exact same issue while trying to deploy the `jupyter-scipy:v1.3.0-rc.1` Notebook Server via the KubeFlow 1.3 WebUI into the default `kubeflow-user-example-com` namespace on an OpenShift 4.7 cluster:

[code]

After a while the Notebook status changes to `Running` but trying to `CONNECT` results in a 503 `upstream connect error or disconnect/reset before headers. reset

[2021-05-28 17:10] juliusvonkohout commented on #5808
@andreas-schliebitz you might want to check out https://github.com/kubeflow/manifests/pull/1875 if you are on Openshift.

In the end I just wrote my own jupyterlab with code-server and RStudio all included in one image.

[2021-05-29 11:04] DavidSpek commented on #5808
It wouldn't be difficult to extend the notebook controller to add the security context and to mount an empty volume to `/var/run/s6`. I think the main question is if this should be set for all kubernetes cluster, or if it this should be done when detecting it is running on OpenShift.

[2021-05-29 12:30] EKami opened #5949 "AWS configuration with istio Gateway and ALB with Kubeflow 1.3"
/kind question

**Question:**
I'm trying to automatically start an ALB in my EKS cluster by using the [aws-load-balancer-controller](https://artifacthub.io/packages/helm/aws/aws-load-balancer-controller) and by patching Kubeflow 1.3.

This is what the logs of my deployment look like:
[code]

And the annotations in my kustomize ingress config (I'm patching [Kubeflow 1.3](https://www.kubeflow.org/)

[2021-05-29 22:16] FlempTW opened #5950 "kf-resource-quota Can Resource Quota be removed from from namespace ?"
/kind feature

**Why you need this feature:**
[Is your feature request related to a problem? Please describe in details]
I was looking through issue and there are a few issue about this feature
this issue -> https://github.com/kubeflow/kubeflow/issues/5191#issue-673846148
Resourequato  can't be delete though it is empty and it will keep show this namespace
**Describe the solution you'd like:**
[A

[2021-05-29 23:34] jbottum commented on #5928
/priority p2

[2021-05-29 23:40] jbottum commented on #5949
/priority p2
/platform aws
/area installation

[2021-05-29 23:48] jbottum commented on #5816
/priority p2
/area manifests
/platform gcp

[2021-05-31 08:19] juliusvonkohout commented on #5808
Definitely for all,because it is not Openshift specific. On a plain Kubernetes with pod security policies you have exactly the same problem.

[2021-05-31 08:26] DavidSpek commented on #5808
@juliusvonkohout Is this in terms of adding the security context? Do you know if it is possible to run the notebook image without the security context added but with the empty volume mounted to /var/run/s6? I was planning on creating an experimental version of the notebook controller today for people running into these issues, but I’m not sure about the consequences of the security context and fil

[2021-05-31 08:36] #5869 closed

[2021-05-31 08:37] juliusvonkohout commented on #5808
As far as I remember all of the four points above were needed, but I have to check again. I really hope that fsgroup 100 is not needed, because that is a problem on openshift. So I need to investigate a bit more.

[2021-05-31 08:47] DavidSpek commented on #5808
Right, it was my understanding that Kubernetes would run the container with the permissions used within the container. Forcing a security context, and therefore file permissions can break things very easily in different environments. If you could check if a notebook image can run without the security context that would be great.

Regarding the fsgroup, I believe the notebook-controller is already

[2021-05-31 08:49] cloudbow opened #5951 "Steps not getting cached when input parameters are same"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
When I tried to ran a simple pipeline 2 times the steps outputs are not cached.

**What did you expect to happen:**
The steps should have been skippped because the input parameters are the same.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solv

[2021-05-31 08:53] cloudbow commented on #5951
Here is the notebook I used.

[simple_function_based_component_pipeline (1).ipynb.zip](https://github.com/kubeflow/kubeflow/files/6569070/simple_function_based_component_pipeline.1.ipynb.zip)

[2021-05-31 09:14] kimwnasptd opened #5953 "Require explicit self-approval"
Right now prow always adds the `approved` label by default, when an approver in a code directory makes a PR. At that point anyone who adds a `/lgtm` comment can merge the PR, which means that:
1. the assigned reviewers might not have a chance to review
2. we limit the reviewers to only one person

There are workarounds like adding `/approve cancel` or `/hold` comments but people might forget to ad

[2021-05-31 09:32] yanniszark commented on #5953
@kimwnasptd thanks for taking the time to open an issue.
I think this is one of these small changes that will make a significant difference in developer experience.
Let's iron this out and restore the behavior we originally had.

[2021-05-31 10:06] elikatsis commented on #5953
Thanks @kimwnasptd, yes we should do this

[2021-05-31 11:36] cloudbow commented on #5423
What worked for me is the addition of  public ip to the /etc/hosts.

But now I get a strange behaviour. Whenever somebody creates a notebook server it automatically adds the following to the yaml.

NaNGi

Anyone know why.

I have to remove this in aws to get things working.

[2021-05-31 11:37] DavidSpek commented on #5949
@EKami @karlschriek and I have been working hard on [ArgoFlow-AWS](https://github.com/argoflow/argoflow-aws), which deploys Kubeflow 1.3 using Argo CD and integrates with AWS services such as S3, RDS and SSM. Naturally, everything is open source and we are not trying to sell a product :). We also re-implemented auth so that it is more secure and easier to customize. Of course, the AWS loadbalancer

[2021-05-31 11:48] DavidSpek commented on #5937
@Dimiftb A container/pod cannot run on multiple hosts at once. As such, you cannot schedule a notebook server and use multiple GPUs if you do not have a node that has the same or more number of (free) GPUs. If you want to run a job on all the GPUs in your cluster, you will need to use one of the operators, so that your job is split into 4 pieces and each pod runs on a separate node.

[2021-05-31 11:49] DavidSpek commented on #5936
@anencore94 I suggest moving this issue to https://github.com/kubeflow/pipelines so that it can be tracked properly. The pipeline developers don't go through the issues in this repo very regularly.

[2021-05-31 11:50] DavidSpek commented on #5935
/cc @RFMVasconcelos

[2021-05-31 11:52] DavidSpek commented on #5927
@daniel-hutao Sorry for noticing this issue so late. Contributions are very welcome. If you contact me on Slack I'd be happy to help you get started with contributing and point you in the right direction.

[2021-05-31 11:53] DavidSpek commented on #5926
@subhabratabanerjee Could you please move this issue to https://github.com/kubeflow/pipelines so that it can be tracked properly? The Pipeline developers do not go through the issues on this repo regularly.

[2021-05-31 11:57] subhabratabanerjee commented on #5926
@DavidSpek , I figure out root cause of these issue , I fixed it client initialisation by
client = kfp.Client(host='http://<>/pipeline', cookies=‘<<>>’)

[2021-05-31 11:57] #5926 closed

[2021-05-31 12:06] DavidSpek commented on #5916
@kd303 I've come gotten a bit further with monitoring of the Kubeflow resources in between all the other things I've been busy with. One thing I do have working is gathering KNative metrics and I've fixed a bunch of the existing KNative Grafana dashboards as those are outdated and do not work properly. Some of the dashboards still need fixing or recreating as the metrics KNative supplies have comp

[2021-05-31 12:08] DavidSpek commented on #5953
We should also require reviews from people with different affiliations, to avoid any single entity from taking control of the components.

[2021-05-31 12:10] DavidSpek commented on #5951
@cloudbow Could you please move this issue to https://github.com/kubeflow/pipelines so that it can be tracked properly? The Pipeline developers do not regularly go through the issues on this repository.

[2021-05-31 12:13] DavidSpek commented on #5950
@kubeflow/wg-notebooks-leads This looks like a bug that should be addressed in Kubeflow 1.3.1, as the profile controller is not performing the expected reconciliation.

/kind bug

[2021-05-31 12:22] DavidSpek commented on #5944
@jmendesky Could you please move this issue to https://github.com/kubeflow/pipelines so that the feature request can be properly tracked? The Pipeline developers do not regularly go through the issues in this repository.

[2021-05-31 12:25] DavidSpek commented on #5940
@subodh101 It is possible that this issue has been fixed already as you are running an outdated version of Kubeflow, the latest version is 1.3. Would it be possible for you to test if this issue still occurs in Kubeflow 1.3?

[2021-05-31 12:29] DavidSpek commented on #5326
/reopen

[2021-05-31 12:39] Dimiftb commented on #5937
Thanks for your help @DavidSpek,

I assumed that would be the case, however I was really hoping there might be some way it can be done.

I'm faced with this issue, since the cluster I've created will mostly be used for deep learning and the worker nodes I have with 1 GPU each are just not powerful enough for this. In addition, most of the users of the cluster are not really familiar with programmi

[2021-05-31 12:59] DavidSpek commented on #5937
@Dimiftb You can use Dask to execute workloads on multiple nodes, but it is simple impossible to run a single pod on more than one node at once, so this issue can be closed.
I think the solution you have in mind is where you have GPUs attached to the network directly and you can schedule them to any node. This is something that has recently become possible, but I cannot find it very quickly (only

[2021-05-31 13:05] DavidSpek commented on #5931
@alexlatchford Just so I fully understand your use case, you would like to automatically delete notebooks and any attached or related resources automatically after a given amount of inactive time? Also, culling will only work for Jupyter Notebook Servers, and note RStudio or VS Code based Notebook Servers, which raises another issue with the current culling implementation.

[2021-05-31 13:09] DavidSpek commented on #5854
@swamat Are you still experiencing this issue? If you are wanting to install the latest version of Kubeflow I can help you get setup. The easiest way to reach out to me is through Slack.

[2021-05-31 13:13] DavidSpek commented on #5847
@Dimiftb Sorry for the late response, I've been very busy lately and this is one of the things I need to look at. Have you been able to figure this out?

[2021-05-31 14:20] ajinkya933 opened #5954 "Istio not working on Kubeflow 1.3 running on AWS"
/kind bug

**What steps did you take and what happened:**
On AWS I am using this kubeflow manifest to deploy Kubeflow 1.3 on AWS: https://github.com/kubeflow/manifests/blob/v1.3-branch/distributions/kfdef/kfctl_aws.v1.3.0.yaml
using this manifest I can access Kubeflow through:

[code]

**What did you expect to happen:**
I cannot access Kubeflow through global ip/ load balancer. How can I access Ku

[2021-05-31 14:45] kimwnasptd commented on #5423
I'm closing this issue, since the @vkoukis has provided some solutions and we need more feedback to further troubleshoot.

NaNGi

@cloudbow this is a distinct issue on its own. Could you open a new one so we can further discuss it there?

[2021-05-31 15:43] DavidSpek commented on #5954
@ajinkya933 I can recommend taking a look at [ArgoFlow-AWS](https://github.com/argoflow/argoflow-aws). It deploys Kubeflow 1.3 using Argo CD making it easier to maintain and update over time. It also integrates with AWS services such as S3, RDS and SSM where possible and all third-party dependencies have been re-implemented or replaced to improve maintainability and security. We are still working

[2021-05-31 18:13] ajinkya933 commented on #5954
Hi @DavidSpek  I saw argocd but I couldn't find  a feature where Jupiter lab can be converted into pipeline using Kale. I am interested in this feature of kubeflow

[2021-05-31 18:17] DavidSpek commented on #5954
@ajinkya933 The feature you are describing is the Kale extension for JupyterLab, which is completely independent from Kubeflow itself. You can use the Argo CD distribution with Kale without a problem.

You simply need to create a notebook container where the plugin is installed to be able to use it.
An alternative to Kale that also allows you to turn Jupyter notebooks into Pipelines is [Elyra](htt

[2021-05-31 18:18] andreas-schliebitz commented on #5808
Interestingly, the default TensorFlow image ([quay.io/kubeflow/tf-notebook-image:v0.7.0](quay.io/kubeflow/tf-notebook-image:v0.7.0)) used in an older KubeFlow 1.2 installation works in 1.3. At least there is no 503 error occurring after hitting `CONNECT` but the Jupyter UI is displayed as expected. For some unknown reason I then get a WebSocket disconnect to the Kernel when trying to launch a cell

[2021-05-31 18:22] DavidSpek commented on #5808
@andreas-schliebitz That issue is most likely browser related. I've noticed that this can usually be resolved by using incognito mode, restarting the browser entirely or trying to use a different browser.
The fact that this older notebook image does work makes me think that all that is necessary to make the new notebook images work on OpenShift is the addition of the empty volume mounted at `/var/

[2021-06-01 00:52] toshi-k commented on #5949
@EKami What can you see commanding as below ?
`$ kubectl get ingress -A`

[2021-06-01 01:19] anencore94 commented on #5936
@DavidSpek Thanks, I moved this to kubeflow/pipelines repository.
https://github.com/kubeflow/pipelines/issues/5763

So close this issue.
/close

[2021-06-01 01:20] #5936 closed

[2021-06-01 06:34] cloudbow commented on #5951
okay

[2021-06-01 06:42] cloudbow commented on #5951
Added issue here - https://github.com/kubeflow/pipelines/issues/5764

[2021-06-01 06:42] #5951 closed

[2021-06-01 08:49] yanniszark commented on #5944
cc @Bobgy I think you have permissions to move the issue.

[2021-06-01 08:51] yanniszark commented on #5929
cc @kubeflow/aws

[2021-06-01 09:43] juliusvonkohout commented on #5808
[code]

[code]

[2021-06-01 09:47] DavidSpek commented on #5808
@juliusvonkohout Awesome, thanks for testing that. If you have the time and energy, could you also check if it breaks if you remove the `S6_READ_ONLY_ROOT=1` environment variable? Would like to be sure what exactly is needed so I can incorporate the needed changes in the controller and possibly the Dockerfiles.

[2021-06-01 09:58] juliusvonkohout commented on #5808
I updated my deployment instructions above. S6_READ_ONLY_ROOT=1 does not seem to be needed.

[code]

[2021-06-01 10:05] DavidSpek commented on #5808
Great, then the change necessary to the notebook-controller is very minimal. I'm not sure how the SCC / PSP can best be handled, as this would probably need to be included in the deployment manifests somewhere.

[2021-06-01 10:06] juliusvonkohout commented on #5808
Yes, this is completely out of scope for this PR.

[2021-06-01 10:35] DavidSpek commented on #5808
@juliusvonkohout Are you in the Kubeflow Slack? I'd like to discuss and coordinate some things with you regarding this and similar problems when using OpenShift.

[2021-06-01 10:56] juliusvonkohout commented on #5808
No, how can i get access?

[2021-06-01 12:21] Dimiftb commented on #5847
Hi @DavidSpek,

Cheers for your reply. I managed to sort this out, however I forgot to close the issue. Closing it now, thanks.

[2021-06-01 12:21] #5847 closed

[2021-06-01 12:31] Dimiftb commented on #5937
@DavidSpek thanks for your prompt reply. It seems that Kubeflow operators will have to do the job. I'll have a look at the link you've sent, in case this might be something that can be used in the future. Appreciate your help on this and all issues I've been posting in the last weeks regarding Kubeflow 👍

[2021-06-01 12:31] #5937 closed

[2021-06-01 14:02] toshi-k commented on #5863
Resolved ! #5871

[2021-06-01 14:02] #5863 closed

[2021-06-01 15:10] nrchakradhar commented on #5863
@toshi-k How can we change the links during deployment OR after deployment. Is there something to update in a config-map or somewhere else?

[2021-06-01 15:18] toshi-k commented on #5863
@nrchakradhar You can change after deployment.
`kubectl edit cm centraldashboard-links-config -n kubeflow`

[2021-06-01 16:11] alexlatchford commented on #5931
Hey @DavidSpek yep that's about right. For us we have a large number of scientists using our cluster, as well as a large volume of batch workflows so we've been trying to keep the number of "Terminated" resources to a minimum in the cluster otherwise we've been seeing pressures on other systems (ie. `kubelet` or some of our monitoring systems).

We're only using Jupyterlab at this point so that li

[2021-06-02 08:53] DavidSpek commented on #5938
While it does look like the central dashboard is only binding to localhost, there isn't a problem with Istio 1.10 so I'm not sure what is going on here. I've tested this on multiple fresh deployments as well.

[2021-06-02 10:27] jmendesky commented on #5944
Would be happy to move it but I don't have the permissions and would have to close this issue and reopen it again.

[2021-06-02 11:12] kim-sardine commented on #5540
in my case, I solved it by restarting `mysql` deployment.
but still can't figure out why it happened.

https://github.com/go-sql-driver/mysql/issues/674 shows similar errors

[2021-06-02 11:15] Shaked commented on #5540
Do we know if https://github.com/kubeflow/pipelines/issues/5329 fixes this issue and if so how can we apply it to kubeflow 1.2 & 1.3?

[2021-06-02 15:33] maganaluis commented on #5560
We are facing this issue too.

[2021-06-02 15:47] DavidSpek opened #5958 "Central Dashboard manifests doesn't use configmap"
/kind bug

The central-dashboard manifests create a configmap named `centraldashboard-parameters` which contain the values for the `USERID_HEADER`, `USERID_PREFIX`, `PROFILES_KFAM_SERVICE_HOST`, `REGISTRATION_FLOW` and `DASHBOARD_LINKS_CONFIGMAP`. However, this configmap is never mounted to the deployment, so changing one of this values in the configmap does not result in the expected.

The curren

[2021-06-02 16:42] jbottum commented on #5954
Hi @ajinkya933, the Arrikto team provides enterprise support for Kale, Rok and Kubeflow.  Please feel free to reach out to me if you would like to discuss, josh.bottum@arrrikto.com.

[2021-06-02 16:42] jbottum commented on #5954
/kind question
/priority p2
/area installation
/area istio
/platform aws

[2021-06-02 17:50] DavidSpek commented on #5559
Haven't forgotten about this

[2021-06-02 17:50] DavidSpek commented on #5641
Has been fixed

[2021-06-02 17:50] #5641 closed

[2021-06-02 17:51] DavidSpek commented on #5523
I've actually already implemented this in the Volumes Web App, along with creating snapshots, but this is being blocked by https://github.com/kubeflow/kubeflow/pull/5844.

[2021-06-02 17:54] DavidSpek commented on #5466
not stale

[2021-06-02 17:55] DavidSpek commented on #5216
This is still an ongoing effort

[2021-06-02 17:56] DavidSpek commented on #5557
@kd303 I've actually implemented this since then. Is this still something you are wanting to deploy?

[2021-06-02 17:56] PatrickXYS commented on #5929
It's not feasible for now, since EKS Fargate doesn't support PVC

[2021-06-02 17:56] DavidSpek commented on #5556
/cc @kubeflow/wg-notebooks-leads

[2021-06-02 17:58] DavidSpek commented on #5553
We should probably come up with a plan when would be the correct time to remove the JWA from the deprecated folder. Not that I think the time is now, but it might be something that stays there indefinitely and gets forgotten if there is no plan.

[2021-06-02 18:03] kimwnasptd commented on #5553
The plan was to remove this after 1.3 so I believe it's a good thing to do this now, at the beginning of the new cycle.

I've pushed a PR for this #5959

[2021-06-02 18:25] DavidSpek commented on #5949
Just to clarify, the setup I’ve been using is with an NLB in instance mode. This way TLS is “terminated” by Istio rather than the ingress controller. If you’re using an ALB that terminates TLS and passing it on to the Istio ingressgateway using HTTP that kind of break the idea of a service mesh, and adds another step that complicates the networking chain.