[2020-04-02 14:41] terrytangyuan commented on #4805
+1 to this. cc a few others who might be interested in working on this @suleisl2000 @wackxu @gaocegege @jzp1025 @KingOnTheStar @Jeffwan. I'll circulate this to MXNet dev team as well.

[2020-04-02 15:02] lalithvaka opened #4911 "Upgrading 1.0.0 to 1.0.1 fails with "invalid config: apiVersion is not found.""
/kind bug

**What steps did you take and what happened:**
➜ sudo kfctl build -f /Users/lalithvaka/installs/kfctl_upgrade_spec.yaml -V
INFO[0000] Downloading /Users/lalithvaka/installs/kfctl_upgrade_spec.yaml to /tmp/532268644/update.yaml  filename="v1alpha1/application_types.go:129"
INFO[0000] Found KfCfg with matching name: kf-poc1 version: v1.0.0 at kf-poc1/kfctl_istio_dex.v1.0.0.yaml  filename=

[2020-04-02 16:45] szha commented on #4805
cc @zhreshold. Looks like a good initiative that AutoGluon can integrate with for its HPO functionality.

[2020-04-02 17:14] nrchakradhar commented on #4898
@jlewi Thanks. I will open a new issue

[2020-04-02 17:24] zhreshold commented on #4805
+1 for mxnet op

[2020-04-02 17:38] Jeffwan commented on #4805
@jlewi @terrytangyuan
We first need to graduate mxnet-operator  to v1. v1 API is already there and need some more tests or tuning. Then we can add to manifest. I can help on all this work.

[2020-04-02 17:40] Jeffwan commented on #4905
I don't see you have AWS environment variables in the container for TF to talk to s3

[2020-04-02 17:49] terrytangyuan commented on #4805
@Jeffwan Great! Feel free to divide this into multiple smaller issues/tasks and assign yourself if you are working on it. This way others who are interested can contribute as well.

[2020-04-02 17:50] plaffitte commented on #4905
@Jeffwan Yeah I'm sorry all the AWS env variables are in a different config file with a config map definition. Here's a snippet:

`configMapGenerator:
- literals:
  - trainSteps=50
  - batchSize=16
  - learningRate=0.01
  - name=test-with-mnist-config
  - awsAccessKeyIDName=awsAccessKeyID
  - awsSecretAccessKeyName=awsSecretAccessKey
  - S3_ENDPOINT=s3.us-east-1.amazonaws.com
  - AWS_ENDPOINT_URL=

[2020-04-02 17:52] terrytangyuan commented on #4805
Related issues:
* https://github.com/kubeflow/mxnet-operator/issues/54
* https://github.com/kubeflow/mxnet-operator/issues/36
* https://github.com/kubeflow/mxnet-operator/issues/59

[2020-04-02 17:59] Jeffwan commented on #4805
@terrytangyuan Sounds good. I will create some more blocking issues for graduation and people can pick them.

[2020-04-02 18:06] Jeffwan commented on #4905
Can you try to change `http://s3.us-east-1.amazonaws.com` to `s3.us-east-1.amazonaws.com`?

[2020-04-02 21:36] leela-uppuluri commented on #4642
Hi @superkjp
I was trying to install kubeflow-0.7.0 on openshift-4.18. I tried to follow all the steps that you mentioned in the comments and I could able to build successfully but I am seeing the below snapshot error after running this `kfctl apply -V -f ./kfctl_k8s_istio.0.7.1.yaml` command from 8-10 mins. I tried to repeat the steps that you mentioned for thrice but still sees the same error. D

[2020-04-02 21:55] dagondagon666 opened #4912 "How to access to Pipeline API with Dex Auth on"
/kind question

**Question:**

I deployed Kubeflow with kfctl_istio_dex.v1.0.1.yaml. I'm trying to access the Pipeline API but I'm blocked with the Dex Authentication. I'm wondering where could I get the token to authorize my request?

Connected Issue here since I'm not sure which repo does this question belong to:
https://github.com/kubeflow/pipelines/issues/3426

[2020-04-02 23:11] jtfogarty commented on #4899
/area kfam

[2020-04-03 03:14] jlewi commented on #4911
/cc @johnugeorge

[2020-04-03 03:31] jlewi opened #4913 "Should Jupyter Web App Set JUPYTERLAB_DIR to allow installation of extensions?"
/kind feature

Opening this issue to track better support for jupyter lab extensions (and possibly jupyter extensions).

It would be nice if users could easily add extensions to jupyterlabe; e.g. [jupyterlab extension manager](https://jupyterlab.readthedocs.io/en/stable/user/extensions.html#using-the-extension-manager)

One problem this runs into is that by default jupyterlab will try to install e

[2020-04-03 05:08] leela-uppuluri commented on #4678
Hi @DdMad
I was trying to install kubeflow-0.7.0 on openshift-4.2.0. I tried to follow all the steps that you mentioned in the comments and I could able to build successfully but I am seeing the below snapshot error after running this `kfctl apply -V -f ./kfctl_k8s_istio.0.7.1.yaml` command from 8-10 mins. I tried to repeat the steps that you mentioned for thrice but still sees the same error. Do

[2020-04-03 05:13] leela-uppuluri opened #4914 "Failed kubeflow deployment on Openshift Cluster"
Hello,

I was trying to install kubeflow-0.7.0 on openshift-4.2.0. I tried to follow all the steps that you mentioned in the official documentation and I could able to build successfully but I am seeing the below snapshot error after running this `kfctl apply -V -f ./kfctl_k8s_istio.0.7.1.yaml` command. I tried to delete and install everything from scratch but still sees the same error. Does anyon

[2020-04-03 06:44] superkjp commented on #4642
Hello,

Looks like you tried to install it for the first time and it failed, so you
want to do it again. But you didn't clean all the things up.

So here is the way you can do as a reference.

1.. clean up the crd related with istio:
kubectl get crd  -n istio-system | grep 'istio'|awk '{print $1}' |xargs
kubectl delete crd  -n istio-system

2. clean up the namespace that related to the Kubeflow:
h

[2020-04-03 06:45] superkjp commented on #4642
Hello, Looks like you tried to install it for the first time and it failed,
so you want to do it again. But you didn't clean all the things up. So here
is the way you can do as a reference. 1.. clean up the crd related with
istio: kubectl get crd -n istio-system | grep 'istio'|awk '{print $1}'
|xargs kubectl delete crd -n istio-system 2. clean up the namespace that
related to the Kubeflow: https:/

[2020-04-03 07:11] sachua opened #4915 "Tensorboard on Notebook Server"
/kind question

**Question:**
Hi, I managed to deploy Kubeflow on my air gapped, on-prem kubernetes cluster.
When I created a new notebook server and tried to use Tensorboard, I am able to create the Tensorboard instances, but am unable to view them.

From my understanding, the Tensorboard is running inside the Jupyter Notebook docker image, inside a worker pod in my Kubernetes cluster, how will I

[2020-04-03 08:58] plaffitte commented on #4905
Thanks for the suggestion, I'm trying that right now. In the meantime I just wanted to share with you the error I was able to pinpoint during my last experiment run. It seems to change a little according to the level of verbose that I set in my script (`AWS_LOG_LEVEL` and `TF_CPP_MIN_LOG_LEVEL`). This is what I got:

`I0403 07:13:10.347058 140302641305408 basic_session_run_hooks.py:613] Saving che

[2020-04-03 14:20] vpavlin opened #4916 "Open Data Hub & Kubeflow relationship"
/kind question

Hi all,

As some of you already know we are working on getting Kubeflow running on OpenShift - Red Hat’s enterprise Kubernetes distribution. We had successfully deployed KF 0.7 and will be looking more closely at 1.0 soon.

Up until now we were also developing a reference architecture AI platform for OpenShift called Open Data Hub (ODH). It was based on Ansible Operator SDK and it

[2020-04-03 14:21] plaffitte commented on #4905
I made the change you suggested but I still have issues. Now it seems like I get a different error every time... Those are 4 errors I've got from running my script so far:

`Read less bytes than requested
	 [[node save/RestoreV2 (defined at usr/local/lib/python2.7/dist-packages/tensorflow_estimator/python/estimator/keras.py:334) ]] ()`

`XAmzContentSHA256Mismatch: Unable to parse ExceptionName: XA

[2020-04-03 15:08] pdmack commented on #4916
/cc @abhi-g

[2020-04-03 15:21] leela-uppuluri commented on #4642
@superkjp Thanks for your quick response. Your recommendation worked for me but I see some other issue after deploying the kubeflow which seems like not working as expected. Below is the snapshot of my current error after installing kubeflow,

![Capture3](https://user-images.githubusercontent.com/43678538/78377127-d5280200-7594-11ea-89d1-0907bdd7007c.PNG)

[2020-04-03 15:40] abhi-g commented on #4916
/cc @theadactyl

[2020-04-03 16:32] leela-uppuluri commented on #4642
@superkjp I tried to look up into the issue in detail by checking on couple of pods that isn't running. Attached the snapshots below. Do you think I need to create PV? if so what could be the process?

![Capture5](https://user-images.githubusercontent.com/43678538/78383887-ccd4c480-759e-11ea-8160-e9c055f8c257.PNG)
![Capture4 1](https://user-images.githubusercontent.com/43678538/78383893-cd6d5b00-7

[2020-04-03 17:20] Jeffwan commented on #4905
@plaffitte Have you tested in a container, we are trying to solve kubeflow problems here. If there's something wrong on the SDK side. I would suggest you to submit issue to aws/sdk. For example, https://github.com/aws/aws-sdk-go/issues/148 it has similar issue but in goland

[2020-04-04 01:24] Jeffwan commented on #4915
it totally depends on how you "create the Tensorboard instances" if you use tensorboard controller, is a separate pod in your kubernetes cluster. You can visit it by using the istio virtual service path

[2020-04-04 02:56] animeshsingh commented on #4916
Thanks @vpavlin - excited about OpenDataHub rebase on top of Kubeflow Operator. A step in right direction!

Only concern is the duplication of code which will happen because of this, and usual sync issues between the core Kubeflow Operator and OpenDataHub Operator. Would it make sense to create a "specialized" KFDef for OpenDataHub, and we work together to ensure any changes needed to be accommoda

[2020-04-04 07:55] cloudbow opened #4917 "Add support for kill switches for left side tabs of Dashboard like GitHub, Contributors..etc"
/kind feature
Since multitenancy takes a long time to get implemented across the board. It is useful to have kill switches to hide the left side tabs which is not needed to be deployed. Examples are pipelines, github, contributors..etc
**Why you need this feature:**
[Is your feature request related to a problem? Please describe in details]

Use kill switches as simple ENV variables by which we can

[2020-04-04 12:40] terrytangyuan commented on #4805
Thanks for the interest. We’ll add links to the relevant work/issues here. Please stay tuned and take a look at them when they are ready.

[2020-04-04 19:44] jlewi commented on #4917
Are you talking about the centraldashboard? Including a screenshot might help.

What is github contributors referring to?

[2020-04-04 23:48] jlewi commented on #4916
This seems great to me.

I think having your own "brand" and downstream clones makes a lot of sense. I generally think anyone providing an oppinionated, supported distribution will want to go this route. Even when changes will be upstreamed they may not be upstreamed at the pace an OEM needs.

I think we should try to figure out what we need to do in the upstream repo to make this better
supported

[2020-04-05 03:55] sachua commented on #4915
@Jeffwan i used `%load_ext tensorboard` to load the tensorboard notebook extension in my jupyter notebook. I did check the kubeflow tensorboard controller pod but it did not detect the tensorboard instance I had created in my notebook.

How would I go about exposing the port from the Jupyter Notebook image created from the kubeflow UI to the kubeflow tensorboard controller pod? Or is it currently

[2020-04-05 04:30] Jeffwan commented on #4915
@sachua check example there, it does create tensorboard. https://github.com/kubeflow/examples/tree/master/mnist

Pipeline also supports tensorboard visualizer

[2020-04-05 14:56] dilzeem commented on #4830
I am also getting this error with `kfp-server-api=0.3.0`

the pipeline uploads, but still get this error

[2020-04-05 16:03] cschieberle commented on #4836
I ran into the same issue? Any chance this was solved?

[2020-04-05 16:15] #4601 closed

[2020-04-05 17:15] #4585 closed

[2020-04-05 22:39] #4898 closed

[2020-04-05 22:39] jlewi commented on #4898
Closing as @nrchakradhar will open a new issue to track long term work to support using a subpath.

[2020-04-05 22:41] #4294 closed

[2020-04-06 08:47] plaffitte commented on #4905
@Jeffwan Thanks for the tip, I'll put my issue there. And thanks for your help

[2020-04-06 12:28] #4905 closed

[2020-04-06 13:05] BioGeek opened #4919 "Cannot deploy Kubeflow on GCP: tells me to enable APIs that are already enabled"
/kind question

**Question:**
I am trying to install Kubeflow on Google Cloud Platform (GCP) and Kubernetes Engine (GKE), following the [GCP deployment guide][1].

I created a GCP project of which I am the owner, I enabled billing, set up OAuth credentials and enabled the following APIs:

 - Compute Engine API
 - Kubernetes Engine API
 - Identity and Access Management (IAM) API
 - Deployment Manag

[2020-04-06 13:54] jlewi commented on #4789
@Tabrizian any update on this?

[2020-04-06 14:03] jlewi commented on #3210
@kunmingg ping?

[2020-04-06 14:08] nsshah1288 commented on #1394
Is there any action on this? Is there any ability in Kubeflow to cull idle pods? We want the ability to shut down Jupyter notebooks after a certain period of idle time.

[2020-04-06 14:15] jlewi commented on #4919
Duplicate of #4670

[2020-04-06 14:15] #4919 closed

[2020-04-06 14:16] jlewi commented on #4919
@BioGeek as a work around can you try using the CLI?

[2020-04-06 14:18] jlewi commented on #4670
Looks like we got another report of this; #4919. Are we swallowing the error here?
https://github.com/kubeflow/kubeflow/blob/02f293c74d41f4240bfc5ddf2181b23ae7c1179c/components/gcp-click-to-deploy/src/DeployForm.tsx#L695

@kunmingg should we fix the logging to print out the actual error?

[2020-04-06 14:20] jlewi commented on #4896
Duplicate #4855

[2020-04-06 14:20] #4896 closed

[2020-04-06 14:21] jlewi commented on #4895
/cc @jessiezcc

[2020-04-06 14:24] jlewi commented on #4886
I think those ports might be created by the ISTIO ingress. I don't think those are actually exposed to the public world. They should be blocked by the GCP firewall rules.

[2020-04-06 14:25] jlewi commented on #4863
@imskr I believe this is already fixed by #4867

I believe we still need to build updated docker images and then update the configmap on master to use them.

[2020-04-06 14:41] jlewi commented on #4841
I don't really understand what you mean by writing a training framework.

One pattern Kubeflow uses to make certain types of computation easier (e.g. distributed training) is creating Kubernetes custom resources:
https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/custom-resources/

[2020-04-06 14:41] #4841 closed

[2020-04-06 14:44] jlewi commented on #4824
Duplicate of #2889

[2020-04-06 14:44] #4824 closed

[2020-04-06 14:48] shaunc commented on #4841
Kubeflow supports (e.g.) tensorflow and pytorch out of the box. Where should we look for specifications/recipes/pointers for writing a wrapper for a different ML platform?

[2020-04-06 14:52] jlewi commented on #4817
Lint tests would be a huge improvement. We've been looking for a way to do this that makes it super easy to add the same tests to all repos.

Current thinking is to use Tekton to create reusable tasks and pipelines. Its possible Tekton already has tasks for lint and other static analysis that we could reuse.

So one place to start might be defining Tekton pipelines to run lint. We could then incor

[2020-04-06 14:55] jlewi commented on #4771
Nothing is explicitly in the works. If OCI can run Kubernetes then Kubeflow should work.

[2020-04-06 14:55] #4771 closed

[2020-04-06 14:57] jlewi commented on #4732
@jbottum @theadactyl can we close this issue or should we wait until the webinar is done?

[2020-04-06 14:59] jlewi commented on #4692
@jessiezcc @neuromage @avdaredevil @zhenghuiwang @rmgogogo  What is the current status of using metadata independent of KFP?

IIUC there are a bunch of changes related to lineage which are in KFP which aren't available in standalone metadata?

[2020-04-06 14:59] jlewi commented on #4690
Closing as obsolete.

[2020-04-06 14:59] #4690 closed

[2020-04-06 15:04] #4523 closed

[2020-04-06 15:05] jlewi commented on #4516
I believe there is no Go client for pipelines today.

[2020-04-06 15:05] #4516 closed

[2020-04-06 15:05] #4513 closed

[2020-04-06 15:30] leela-uppuluri commented on #4642
Hello,

I successfully deployed the kubeflow and all pods are up and running except couple of them `metadata-db-7fd6c666dd-475xg` which is crashing because of permission issues that I came to know after checking the logs and I am looking for some solution to fix this `CrashLoopBackOff` issue . I have attached the snapshot of my error below,

![Capture6](https://user-images.githubusercontent.com/43

[2020-04-06 17:34] JohanWork commented on #4830
I have been able to get it to work with a stand alone deployment with 0.3.0

[2020-04-06 17:45] BioGeek commented on #4919
@jlewi I can confirm that installing Kubeflow via the CLI works!

The only warning I saw during the deployment was `failed calling webhook "webhook.cert-manager.io"`, but after retying five times it finally got through and the installation finnished.

[code]

[2020-04-06 17:54] dilzeem commented on #4830
I am deploying via kubeflow with aws .... i tried changing the manifest to have v 0.3.0 but it didn't seem to fix it for some reason.

Its seems like they are aware of it here:
#https://github.com/kubeflow/manifests/issues/984

[2020-04-06 18:00] kunmingg opened #4921 "Kubeflow deploy UI: print out error details from upstream."
/kind feature

Currently when calling API enabling failed we'll print out general message suggesting user to enable APIs manually.
We should print the upstream error details as well.

**Why you need this feature:**
[Is your feature request related to a problem? Please describe in details]

**Describe the solution you'd like:**
[A clear and concise description of what you want to happen.]

**Anythi

[2020-04-06 18:00] kunmingg commented on #4670
https://github.com/kubeflow/kubeflow/issues/4921

[2020-04-06 18:02] BioGeek commented on #4919
Upon closer reading the linked issue #4670 I think I realized what I did wrong in the UI: I used the project name instead of the project ID.  So better error handling in `DeployForm.tsx` would probably prevent this issue.

[2020-04-06 18:04] BioGeek commented on #4670
Repeating my comment from #4919:
I think I realized what I did wrong in the UI: I used the project name instead of the project ID.

[2020-04-06 18:08] lalithvaka commented on #4188
Was looking into this doc https://docs.google.com/document/d/1C3J30zHDh_qxqbb-HAfmk6gs-s4QcF26nAQMo9AKb_4/edit. Not sure if the groups defined in this document

- "Privileged User Group (ML Engineers),
- Model Builder/Training Group (Data Scientists),
- Serving Group"

are followed or not in 1.0.1 release!. Here is what I see this working well in organizations to have a

- Data science Project gro

[2020-04-06 19:02] PatrickXYS commented on #4848
/cc @Jeffwan Can you take a look at this? Recently I found communities are talking about FSx / EFS for `READWRITEMANY` storage options, if you think it's necessary, I'll take it over.

[2020-04-06 20:25] tech348712013870132 opened #4922 "Kubeflow without Google Cloud Storage"
/kind question

**Question:**
Is it possible to replace the usage of Google Cloud Storage buckets with an alternative on-premise solution so that it is possible to run e.g. Kubeflow Pipelines completely in-depended from the Google Cloud Platform?

[2020-04-06 21:07] abdulsalama opened #4923 "Profile doesn't work with Group ownership"
/kind bug

**What steps did you take and what happened:**
I have kubeflow auth setup with dex and okta saml connector. Things works perfectly for user owned profiles.

However, when I create profile with the owner as a Group. e.g.
apiVersion: kubeflow.org/v1beta1
kind: Profile
metadata:
name: group1-profile
spec:
owner:
kind: Group
name: group1

I'm not able to get this to work although I see grou

[2020-04-06 21:12] abdulsalama opened #4924 "Cannot select which profile to manage in "Manage Contributors" UI"
/kind bug

**What steps did you take and what happened:**
When user is admin to multiple profiles and then go to "Manage Contributors" UI, it shows the user as owner on the first profile but contributors on all the others. There is also no way to select which profiles you want to add contributors to, and can only do it on the first profile (in which you are listed as owner).

**What did you expect

[2020-04-06 21:19] abdulsalama opened #4925 "Cannot logout from kubeflow dashboard UI"
/kind bug

**What steps did you take and what happened:**
I used kubeflow with istio_dex for authentication. User can authenticate and log-in fine. However, I don't see anyway to logout. Clicking on the user profile icon on right side does nothing. The only work-around is to explicitly delete the cookie.

**What did you expect to happen:**
User can log out by clicking the user profile icon on the

[2020-04-07 00:38] Bobgy commented on #4803
/reopen

Waiting for a new Kubeflow release to pick up the fix

[2020-04-07 01:38] jtfogarty commented on #4803
/priority p1

[2020-04-07 07:08] johnugeorge commented on #4911
/cc @krishnadurai

[2020-04-07 07:31] thesuperzapper commented on #1394
It looks like this may have been added in:  #3856

But I am not sure we should be tightly integrating the status check with Jupyter itself, (so we can support other notebook types).

[2020-04-07 08:01] catalinad90 opened #4926 "Manage contributors not visible Kubeflow v0.6.2"
Good day,

I have installed Kubeflow v0.6.2 with istio https://raw.githubusercontent.com/kubeflow/kubeflow/v0.6-branch/bootstrap/config/kfctl_k8s_istio.0.6.2.yaml and kfctl v0.6.2 on a Kubernetes cluster v1.14.

I'm not able to see the manage contributors tab from the dashboard, but I can create new profiles  from cli with kubectl.

Can someone provide support on what might be missing?

Thanks,
Ca

[2020-04-07 13:39] blacksailer opened #4927 "User user@example.org is not authorized to list notebooks and namespaces"
/kind bug

**What steps did you take and what happened:**
- Clean installed kfctl_istio_dex_v1.0.1 with istio
- Configured ingress to kubeflow
- entered with user in dex to kubeflow, filled all popups with namespaces and entered dashboard
- Clicked to notebook servers
- can't see notebook servers or add notebook server (if adding notebook for some reason namespace is kubeflow, not mine. And not ed

[2020-04-07 17:11] zhenyulin opened #4928 "How can I use existing nginx-ingress controller and cert-manager?"
I'm trying to install Kubeflow to an existing k8s cluster using kfctl_k8s_istio.

I got some errors while deploying cert-manager, so I deleted the cert-manager related parts in the config file. Then I got the error while deploying `seldon-core-operator` from Kustomize with error code 500 stating issue related to cert-manager webhook. I delete `seldon-core-operator` and the install finished.

While

[2020-04-07 18:01] Tabrizian commented on #4789
@jlewi Sorry for the delay, I will create the initial PR in one or two days.

[2020-04-07 19:01] eedorenko commented on #4290
The problem is still there kfctl v1.0.1-0-gf3edb9b.
Why are you closing the bug?

[2020-04-07 19:02] eedorenko commented on #3749
The problem is still there kfctl v1.0.1-0-gf3edb9b

[2020-04-07 19:04] Jeffwan commented on #4926
@catalinad90 You need to use manifest with multi-user support. https://www.kubeflow.org/docs/components/multi-tenancy/ check here.

[2020-04-07 19:48] Jeffwan commented on #4848
@PatrickXYS Static provisioning can be used there for sure. Check PR
https://github.com/kubeflow/manifests/pull/1081
https://github.com/kubeflow/website/pull/1864

Can you help check dynamic provision case? I think the problem is config doesn't apply to controller and it uses wrong storage class to create the PVC.

[2020-04-07 20:18] krishnadurai commented on #4911
/assign @krishnadurai

[2020-04-08 00:11] jlewi commented on #1583
@Jeffwan Here's Google's Flink Operator.
https://github.com/GoogleCloudPlatform/flink-on-k8s-operator

It supports beam and should support TFX.

[2020-04-08 00:32] Jeffwan commented on #1583
@jlewi I looked at this. It's supposed to work with TFX. It can create a Flink cluster per job (lots of other flink operator does this way as well) or have a long running cluster withhold some resources. Job can be submitted to Flink master via service.

I think we either need to make sure we have some solution to converts to a FlinkJob for option 1 or make sure it can be scaled up/down easily  fo

[2020-04-08 00:49] jtfogarty commented on #4838
/priority p2

[2020-04-08 00:51] jtfogarty commented on #4831
/priority p1

[2020-04-08 01:06] richardsliu opened #4929 "Release Kubeflow v1.0.2"
TODO:

- [x] https://github.com/kubeflow/manifests/issues/984
- [x] Enable patch upgrade
- [x] Create v1.0.2 kfdefs
- [x] Cut release for manifests
- [x] Cut release for kfctl
- [x] Enable testing on v1.0.2
- [x] Create patch release upgrade spec
- [ ] Update deploy app

/cc @Jeffwan
/cc @Bobgy

Please add cherrypick PRs.

[2020-04-08 09:57] anifort opened #4932 "Securing Your Clusters - kfctl apply fails due to Seldon Component"
https://www.kubeflow.org/docs/gke/private-clusters/

Following the instructions to setup a private cluster on Google Cloud GKE, I reached the point of kfctl apply were i get the following error:

failed to apply:  (kubeflow.error): Code 500 with message: kfApp Apply failed for kustomize:  (kubeflow.error): Code 500 with message: Apply.Run  Error [unable to recognize "/tmp/kout242652420": no matche

[2020-04-08 10:51] SamChb72 opened #4930 "pb with certmanager during kubeflow install"
/kind bug

Hello,
little problem with cert-manager during kubeflow install:

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I encounter the problem
kfctl apply -f ${CONFIG} ends with
`
failed to apply:  (kubeflow.error): Code 500 with message: kfApp Apply failed for kustomize:  (kubeflow.error): Code 500 with message: Apply.Run  Error error whe

[2020-04-08 11:04] #4627 closed

[2020-04-08 11:31] catalinad90 commented on #4926
@Jeffwan

What you have sent me is for v1.0, but I have v0.6.2. This manifest can be applied to v0.6.2? And where exactly can I find it.

The manifests used for the kubeflow deployment are the ones referenced in the istio file for version v0.6.2:

https://raw.githubusercontent.com/kubeflow/kubeflow/v0.6-branch/bootstrap/config/kfctl_k8s_istio.0.6.2.yaml

Thanks,
Catalina

[2020-04-08 11:46] OnTheRicky opened #4931 "Microk8s for Kubeflow - Installation documentation suggestion"
[In the documentation for Microk8s for Kubeflow](https://www.kubeflow.org/docs/started/workstation/getting-started-multipass/) it simply states:

As a suggestion, add the complete steps for using with multipass. I got tripped up not knowing I need to forward traffic from the host machine to multipass, so these install instructions did not work.

### 1. Install multipass
Installing multipass on [Li

[2020-04-08 13:30] #3672 closed

[2020-04-08 13:56] SamChb72 commented on #4930
this pb disappear if I launch kfctl apply -f ${CONFIG}  a second time just after....

[2020-04-08 15:35] krishnadurai commented on #4911
@lalithvaka I tried the upgrade flow and wasn't able to reproduce the same issue.

In case you are looking for stable version releases your config URIs should be pointing at v1.0-branch configs. Here's my config for reference:

[code]

Let me know in case if I've missed anything.

[2020-04-08 15:45] porimolchandro commented on #3401
Hey @sahilmalav
I'm facing same issue! Can you please explain a little bit more how did you solved?

[2020-04-08 15:46] porimol commented on #3401
Hey @sahilmalav

I'm facing same issue! Can you please explain a little bit more how did you solved?

[2020-04-08 15:52] lalithvaka commented on #4911
hi @krishnadurai  here is what I have as well

apiVersion: kfupgrade.apps.kubeflow.org/v1alpha1
kind: KfUpgrade
metadata:
  name: kf-upgrade-v1.7.1
spec:
  currentKfDef:
    # Replace with the name of your Kubeflow app
    name: kf-poc1
    version: v1.0.0
  newKfDef:
    # Replace with the name of your kubeflow app
    name: kf-poc1
    version: v1.0.1
  # Replace this with the path to the KfDef

[2020-04-08 16:04] jbottum commented on #4831
@jtfogarty Jeff, I moved it to Kubeflow 1.1

[2020-04-08 16:10] lalithvaka commented on #4911
Realized my base config path is wrong. Closing the issue.

[2020-04-08 16:10] #4911 closed

[2020-04-08 16:54] Jeffwan commented on #4838
@hemantha-kumara Make sense. Trying to see any concerns to make that. If not, I will go change configmap

[2020-04-08 17:00] vpavlin commented on #4916
This is great to hear!

Yeah, all the items are very valid.

We at least came up with a draft of a roadmap for Open Data Hub

Slides: https://gitlab.com/opendatahub/opendatahub-community/-/wikis/uploads/39b75e0eee79a059fffabbf0f38d77cf/ODH_Roadmap__draft_.pdf
Recording:  https://bluejeans.com/222067203

In general, we have community meetings and all the info can be found here: https://gitlab.com/o

[2020-04-08 17:38] jlewi commented on #3362
/lifecycle frozen

[2020-04-08 17:44] jlewi commented on #3362
Exposing additional services each code-server should just be a matter of defining appropriate services and virtual services.

I experimented a bit with theia
https://github.com/jlewi/kubeflow-dev/blob/master/theia/jlewi-nb.yaml

I could access theia I ran into trouble getting extensions installed and turning it into a rich environment.

[2020-04-08 19:07] sarahmaddox commented on #4904
/unassign

[2020-04-08 19:08] sarahmaddox commented on #4904
This is fixed by https://github.com/kubeflow/website/pull/1879
Thanks @browningjp!
/close

[2020-04-08 19:08] #4904 closed

[2020-04-08 19:08] sarahmaddox commented on #4904
/unassign @animeshsingh

[2020-04-08 19:54] lalithvaka opened #4934 "Upgrade Kubeflow 1.0.0. to 1.0.1 failing with Encountered error applying application istio-install: (kubeflow.error): Code 500 with message: Apply.Run Error"
/kind bug
Upgrade Kubeflow 1.0.0 to 1.0.1 failed with infinite loop

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

servicerole.rbac.istio.io/istio-ingressgateway unchanged
servicerolebinding.rbac.istio.io/istio-ingressgateway unchanged
ERRO[0635] Permanently failed applying application istio-install; error:  (kubeflow.error): Code 500 with me

[2020-04-08 19:57] krishnadurai commented on #4934
/assign @krishnadurai

[2020-04-08 20:32] Jeffwan commented on #4926
@catalinad90 I mean kfctl_k8s_istio.0.6.2.yaml this manifest doesn't have multi-user support. This feature is not available for all manifest

[2020-04-08 20:45] Jeffwan commented on #4882
/assign @Jeff

[2020-04-08 20:45] Jeffwan commented on #4882
/assign @Jeffwan

[2020-04-08 22:55] #3210 closed

[2020-04-08 23:06] jlewi commented on #4916
Nothing on my end

[2020-04-08 23:07] akirillov opened #4935 "Implications of disabling sidecar injection for user namespaces"
/kind question

**Question:**
Hi everyone!

Currently, Profile controller adds sidecar injection annotation [by default](https://github.com/kubeflow/kubeflow/blob/master/components/profile-controller/controllers/profile_controller.go#L120-L130) which enables Istio sidecar injection for all pods and jobs in the profile namespace.

Here are some of the things that do not work well with Istio:
* Spar

[2020-04-08 23:31] akirillov commented on #4306
In order to provide a proper solution, it is important to understand why Spark executors fail to register with the Driver. When an executor pod starts, Istio init container changes `iptables` to reroute traffic to Envoy proxy. And until Envoy proxy is up and running, Spark executor is unable to communicate over the network. This is kind of a race condition between an executor and Envoy proxy.

The

[2020-04-09 00:57] Jeffwan commented on #4306
@akirillov

Trying to understand if there's cases to use istio here. Based on my understanding, only applications like Spark History Server need istio. For spark applications, how about add annotation
`istio-injection: disabled`.  This doesn't need Spark entrypoint change

[2020-04-09 01:32] akirillov commented on #4306
@Jeffwan, it depends on the use case. Sometimes due to compliance requirements mutual TLS is a must have. Also, building a custom docker image for Spark doesn't seem to be an issue.

Another option is to disable sidecar injection at the namespace level so all the workloads in a user namespace run without sidecars and users don't have to provide this annotation every time they create SparkContext.

[2020-04-09 01:58] thesuperzapper opened #4936 "cluster-admin ClusterRoleBinding not respected"
/kind bug

**What happened:**
Users who have a 'cluster-admin' ClusterRoleBinding are not admins in Kubeflow, (in that they cant see all namespaces under "Manage Contributors").

This behaviour is implied here: https://www.kubeflow.org/docs/components/multi-tenancy/getting-started/#managing-contributors-through-the-kubeflow-ui

Am I missing something about how you make someone a kubeflow admin?

*

[2020-04-09 07:01] Tabrizian commented on #4789
@jlewi I was wondering how can I condition on a specific application pipeline. In order to modify the [config_map.yaml](https://github.com/kubeflow/manifests/blob/9ec6bb39e9bb76d7a9bdef290628a6c6f36952ce/jupyter/jupyter-web-app/base/config-map.yaml#L27) is it ok if I change the [create_manifests_pr.py](https://github.com/kubeflow/testing/blob/master/py/kubeflow/testing/cd/create_manifests_pr.py) f

[2020-04-09 09:21] catalinad90 commented on #4926
Thanks for the clarification @Jeffwan ! :)

[2020-04-09 09:21] #4926 closed

[2020-04-09 09:34] blacksailer commented on #4927
Resolved. I've had ingressroute with prefix configured, so file `dashboard_lib.bundle.js` can't be received from server. Closing.

[2020-04-09 09:34] #4927 closed

[2020-04-09 10:13] sahilmalav commented on #3401
@porimol : Check your pods in the Kubeflow namespace. If mysql and minio pods are failing, it's most likely due to unbound persistent volumes. They require one persistent volume each for storing data. Check if their PVCs are bound. If not, delete the existing ones and create PVC and PV for them manually.

[2020-04-09 11:27] krishnadurai commented on #4188
Thanks @lalithvaka for your input on this issue.

We have to look for a solution to consume the 'group' claim in the OIDC spec for auth. This will require a few changes in applications defined in Kubeflow, which include:
1. Jupyter NB
1. Profile controller

Apart from these, we might have to adapt kubeflow-roles to include specific groups for enabling or disabling permissions.

[2020-04-09 17:02] #4612 closed

[2020-04-09 17:02] #4616 closed

[2020-04-09 17:32] miramar-labs opened #4937 "katib-mysql failing to start"
fresh install of kubeflow on K8s (1.14.2):
katib-mysql deployment fails with:

2020-04-09 17:26:00+00:00 [Note] [Entrypoint]: Entrypoint script for MySQL Server 8.0.19-1debian10 started.
2020-04-09 17:26:00+00:00 [Note] [Entrypoint]: Switching to dedicated user 'mysql'
2020-04-09 17:26:00+00:00 [Note] [Entrypoint]: Entrypoint script for MySQL Server 8.0.19-1debian10 started.
2020-04-09T17:26:00.52

[2020-04-09 19:14] jlewi commented on #4789
@Tabrizian yes you will probably need to update create_manifests_pr.py.

Right now we have a single [Tekton Pipeline](https://github.com/kubeflow/testing/blob/master/apps-cd/pipelines/base/pipeline.yaml) that is used for all applications.

My initial thought is that we probably want to support different pipelines for different applications. So we might want to specify the name of the pipeline in h

[2020-04-09 20:00] jtfogarty opened #4938 "Question regarding creating profiles"
/kind question

**Question:**
When a user first logs into Kubeflow, they are requested to create a profile.  After a profile is created, the Manage Contributors page looks like the below;
![Screen Shot 2020-04-09 at 1 33 38 PM](https://user-images.githubusercontent.com/6708730/78933811-7fa99480-7a6f-11ea-9e41-671102e85e18.png)
Users can then add contributors to this profile.

If a new profile is c

[2020-04-09 20:02] #2866 closed

[2020-04-09 20:03] jtfogarty commented on #4938
/area centraldashboard
/priority p1

[2020-04-09 20:08] miramar-labs commented on #4864
i'm facing exactly the same problem ... the katib mysql db is failing to start because it can't access it's log file which is mounted on an NFS PV ...  what exactly is the solution to this?

[2020-04-09 20:27] miramar-labs commented on #4937
seems to be discussed here:  https://github.com/kubeflow/kubeflow/issues/4864

[2020-04-09 20:27] #4937 closed

[2020-04-09 23:31] Jeffwan commented on #4929
We have these two PRs need to backport to v1.0branch

https://github.com/kubeflow/manifests/issues/1035
https://github.com/kubeflow/manifests/pull/1081

[2020-04-09 23:53] Jeffwan commented on #4929
We have a change only want to apply on v1.0.2 manifest. I think it can be done after `Create v1.0.2 kfdefs`?

[2020-04-10 00:32] Tabrizian commented on #4789
@jlewi Yes, this makes complete sense.

[2020-04-10 02:18] jtfogarty commented on #4932
/kind bug

[2020-04-10 02:22] jtfogarty commented on #4936
/area centraldashboard
/priority p2

[2020-04-10 02:24] jtfogarty commented on #4935
/area istio
/priority p2

[2020-04-10 02:26] jtfogarty commented on #4934
/area istio
/priority p1

[2020-04-10 02:31] jtfogarty commented on #4931
/platform microk8s
/area docs
/priority p2

[2020-04-10 02:55] jtfogarty commented on #4930
/platform minikube
/area install
/priority p2

[2020-04-10 03:03] jtfogarty commented on #4928
/area istio
/priority p2

[2020-04-10 03:07] jtfogarty commented on #4925
/area centraldashboard
/priority p2
/kind feature

[2020-04-10 03:09] jtfogarty commented on #4924
/area centraldashboard
/priority p1

[2020-04-10 03:10] jtfogarty commented on #4938
these are the same #4924

[2020-04-10 03:12] jtfogarty commented on #4923
/area centraldashboard
/priority p2
/platform aws

[2020-04-10 12:43] saschagrunert opened #4939 "How to access GPU from default image (tensorflow-2.1.0-notebook-gpu:1.0.0)?"
/kind question

**Question:**

Hey, I've got my GPU node to work and would like to access the graphics card now from the default GPU enabled notebook image. The issue is, that I do not have sufficient permissions with the user `jovyan` to run (for example) `nvidia-smi`. If I try to sudo inside the image, then I only get:

[code]

I tried multiple volume provisioner (not NFS based), but still got t

[2020-04-10 14:25] saschagrunert commented on #4939
I created a similar GPU based container image here: https://github.com/saschagrunert/kubeflow-notebook-gpu

Yeah I know it's running as root. But now I am able to utilize my GPU :shrug:

[2020-04-10 14:56] saschagrunert opened #4941 "Istio: Deploy with CNI plugin to avoid NET_RAW and NET_ADMIN capabilities"
/kind feature

**Why you need this feature:**
I would like to avoid having those two capabilities in my cluster default Pod Security Policy (PSP).

**Describe the solution you'd like:**
If we deploy Istio with the [CNI plugin](https://istio.io/docs/setup/additional-setup/cni/), then we will not have a need for the `NET_RAW` and `NET_ADMIN` capabilities any more.

**Anything else you would like to

[2020-04-10 18:04] Jeffwan commented on #4939
Trying to understand the case why people need low level control. I assume user will just use gpu based framework like tensorflow, pytorch in notebook? Any other use cases? If that's a reasonable request, we can make some changes here

[2020-04-10 18:10] saschagrunert commented on #4939
The thing is that the notebook user is not able to access the GPU. I’m wondering how other users handle that kind of issue. 🤔

[2020-04-10 18:15] PatrickXYS commented on #4939
So we wonder the reason that notebook users want to access the GPU, from my side, users may want to monitor GPU status.

[2020-04-10 20:03] richardsliu commented on #4929
What is the change? I am thinking of just creating the base v1.0.2 manifests today, which we can modify later.

[2020-04-10 20:06] Jeffwan commented on #4929
@richardsliu All changes are listed above.

[2020-04-10 20:46] Jeffwan opened #4942 "Option to disable self-serve profile creation flow in CentralDashboard"
/kind question

**Question:**
In multi-user environment, If user logged in doesn't have a profile, central dashboard pops the page to create a namespace for that user. Is there's a configuration to disable this option? In some cases, we don't want user to visit cluster until admin create profile for them.

[2020-04-10 20:53] Jeffwan opened #4943 "Automatically create profile for user pass authentication"
/kind question

**Question:**
Currently, cluster admin is responsible for creating profiles for users. I am trying to see if there's a way to automatically generate a user's profile and apply it.

The technical challenge is we can not do authorization since istio is not created at that time. Another problem is we may need a adaptor to intercept request coming into mesh and check if the user alread

[2020-04-10 21:51] #4324 closed

[2020-04-10 22:58] Jeffwan commented on #4929
https://github.com/kubeflow/kfctl/pull/302

[2020-04-11 00:24] Jeffwan commented on #4306
@akirillov Yeah. Disable sidecar at the namespace level is kind of hard to do now. We actually raise the same request before, by default, only services with annotation should be injected. But at the beginning, it's in an opposite way. This is not that friendly to batch workload users for sure.

As Spark doesn't provide official images, changing images is an option.

[2020-04-11 01:53] jshelman commented on #1394
seeing issues with the changes merged from #3856 .   the activity check at  ../api/status fails with a 403 error:   RBAC: access denied.

and seeing log entries in the notebook controller:
`020-04-11T01:50:31.165Z        INFO    culler  Warning: GET to http://testnb.namespace.svc.cluster.local/notebook/namespace/testnb/api/status: 403`

after enabling the
ENABLE_CULLING: true.  as an env for the d

[2020-04-12 05:08] awcchungster opened #4945 "Issue with installing 1.0.1"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

The environment was stuck on the install of Argo

WARN[0003] Will retry in 3 seconds.                      filename="kustomize/kustomize.go:203"
customresourcedefinition.apiextensions.k8s.io/workflows.argoproj.io unchanged
serviceaccount/argo unchanged
serviceaccount/argo-ui unchanged
c

[2020-04-12 11:24] livneros opened #4946 "Protect InferenceService with Google IAP"
Hey.
We are trying to enable access for our InferenceService only with an IAP authentication.
Currently, the access is open through the load balancer's public IP.
Is there any solution for that? maybe similar to the [tfserving solution](https://www.kubeflow.org/docs/components/serving/tfserving_new/#sending-prediction-request-through-ingress-and-iap)
Thanks.

[2020-04-12 20:50] #4300 closed

[2020-04-12 21:09] Jeffwan commented on #4946
Check this close https://github.com/kubeflow/kfserving/issues/760

[2020-04-12 22:50] #4578 closed

[2020-04-12 22:50] #4524 closed

[2020-04-12 23:45] jlewi commented on #4520
Duplicate of #4863

[2020-04-12 23:45] #4520 closed

[2020-04-12 23:48] jlewi commented on #4150
I'm closing this as infeasible.

See: kubeflow/kfctl#304

I think we want to get out of the business of rolling our own complex upgrade logic. So I think every application should either be backwards compatible or provide a suitable warning (in the release notes) telling users not to upgrade if existing CRs will break.

[2020-04-12 23:48] #4150 closed

[2020-04-12 23:50] #4099 closed

[2020-04-12 23:50] #4059 closed

[2020-04-12 23:50] #4061 closed

[2020-04-12 23:54] jlewi commented on #1583
Option 1 sounds better to me. I think there is a deeper question here though.

There are two ways we could support TFX using Flink.

1. Users submit TFX jobs and these run directly on Flink
1. Users submit TFX pipelines which run on KFP and KFP uses the Flink Runner to run steps in the pipeline.

I thought the pipelines team was working on making KFP the preferred way to run TFX pipelines especial

[2020-04-13 01:46] rmgogogo commented on #1583
For the path go through KFP, it can be like this:
(1) install Flink Job (or session, prefer Job) Cluster
(2) KFP has ResourceOp which can author Flink CRD job.

(a) let each TFX component run as a Flink pipeline
(b) let whole TFX pipeline run as a Flink pipeline
Both can work. A sample will be provided. How to better integration with MLMD & visulized in KFP is still under investigation, (b) would

[2020-04-13 05:13] aimldl commented on #4854
Thanks to PatrickXYS, the following command fixed the error and Kubeflow installed successfully.

$ aws configure set default.region us-west-2
$ export AWS_SDK_LOAD_CONFIG=1

Thanks again!

[2020-04-13 06:59] snowlover173 opened #4947 "GKE Deploy fails in Australia as no NVIDIA GPUs available unless we modify cluster.jinja"
/kind bug

**What steps did you take and what happened:**
Deployed Kubeflow 0.7, 1.0.0 and 1.0.1 , using the documentation for deploying Kubeflow with cli on GCP.
It failed with an error NVIDIA GPUs not available.
In gcp_config/cluster-kubeflow.yaml changed "gpu-pool-max-nodes" from 10 to 0 and it ran.

**What did you expect to happen:**
no error

**Anything else you would like to add:**
[Miscella

[2020-04-13 08:45] Kaka1127 opened #4949 "Issue with installing 1.0.1 on on-premiss"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Installed the kubeflow with following the guide.

1. Installed the kfctl was succeed and created the PV and PVC by NFS.
2. Deployed the kubeflow with using kfctl

[Here is the environments]
 K8s: 1.15.11
 Docker: 19.03.8

**What did you expect to happen:**
mysqul was showed the error as

[2020-04-13 09:31] Bobgy commented on #4929
Just taking a note, these KFP PRs are cherry picked to 1.0.2: https://github.com/kubeflow/manifests/pull/1065, https://github.com/kubeflow/manifests/pull/1064 and https://github.com/kubeflow/manifests/pull/1093

[2020-04-13 12:29] yanniszark commented on #4936
@jtfogarty I don't think this is P2 as Kubeflow wants to depend on K8s RBAC and the CentralDashboard should work if the user has cluster-admin permissions.
/priority p1

[2020-04-13 12:30] yanniszark commented on #4936
/remove-priority p2

[2020-04-13 13:00] #4202 closed

[2020-04-13 18:34] akirillov commented on #4306
Hi @Jeffwan, can you please elaborate more on why it is hard to do right now? Is there any security implications? In some deployments, we use our own patched Profile controller which doesn't inject Istio labels while creating user namespaces.

[2020-04-13 19:00] Jeffwan commented on #4854
This has been included in the v1.0-branch. It will be released this week in v1.0.2. I will close this issue. Feel free to reopen if problem still exist.

[2020-04-13 19:01] Jeffwan commented on #4854
/close

[2020-04-13 19:01] #4854 closed

[2020-04-13 19:01] jtfogarty commented on #4860
istio-policy deployment changes are not needed.

[2020-04-13 19:01] #4860 closed

[2020-04-13 20:00] #4379 closed

[2020-04-14 06:22] thesuperzapper opened #4950 "PVC discovery"
/kind feature

**Describe the solution you'd like:**
Currently, we force users to remember the name of PVC's created through the notebook spawner UI if they want to mount them again.

It would be relatively easy to show a search box for all PVC's in the currently selected namespace.

This would reduce wasted resources when users don't mean to constantly create new PVC as they create/shutdown noteb

[2020-04-14 06:31] thesuperzapper opened #4951 "Stop/Pause Notebook Servers"
/kind feature

**Describe the solution you'd like:**
Currently we force users to delete notebook servers entirely if they want to free up resources, we should let users stop/pause a notebook server (without deleting it). A paused notebook server should be able to start again without loosing the local disk of the notebook server, but I think it would be acceptable to lose unsaved notebook changes (

[2020-04-14 06:44] thesuperzapper opened #4952 "Allow creation of profiles within dashboard"
/kind feature

**Describe the solution you'd like:**
Currently to create a new profile (other than with the first registration flow) users must manually create Profile resources (in the default namespace).

This means many use-cases for kubeflow are cumbersome, for example, creating a profile for a specific business project, and adding collaborators.

Therefore, we should allow users to create new

[2020-04-14 06:51] thesuperzapper opened #4953 "Enforce Profile/Namespace naming in registration flow"
/kind feature

**Describe the solution you'd like:**
Currently, users can create any namespace they like within the Profile registration flow, as long as it doesn't already exist.

This is a security risk, as they could name the profile (and corresponding namespace), as if it were another user, or production environment.

We should allow cluster operators to specify restrictions on the profile nam

[2020-04-14 11:37] romanbilenko174 opened #4954 "Kubernetes GPU pods /Kubeflow"
/kind question

**Question:**
I have 2 servers with 4 tesla K40 GPUs.

I have successfully created a kubernetes cluster installed kubeflow 1.0 and evertything needed for it to work fine.

I can successfully create a Jupyter notebook server with 4 GPUs and use keras multigpu model on it and everything works fine.

Can I use 8 gpu (4 from one server and 4 from another) to create jupyter notebook ser

[2020-04-14 15:58] yanniszark commented on #3576
/remove-lifecycle stale

[2020-04-14 16:36] Jeffwan commented on #4954
You can not attach GPU from different nodes to one single pod. In this case, you need distributed training.

[2020-04-14 16:37] Jeffwan commented on #4953
Similar to this one https://github.com/kubeflow/kubeflow/issues/4943

[2020-04-14 16:45] #4576 closed

[2020-04-14 17:26] jlewi commented on #4951
@kimwnasptd @thesuperzapper Do we have an existing issue for this?

[2020-04-14 18:44] Jeffwan opened #4955 "Generic experiment, run for training job, notebook run"
/kind feature

**Why you need this feature:**
Currently, only KFP has the experiment, run concept. In traditional ML system, it's pretty common to have these concepts for all workloads. We can consider katib-job, tf-job, notebook run, pipeline as available runners/workloads.

The reason we want to have this is we need a carrier to aggregate artifacts, tracking, metrics for that run. This help a lo

[2020-04-14 22:17] animeshsingh commented on #4955
Well we can assume that concepts of "Experiments" which is a collection of "Jobs/Runs" is generic enough - and the fact that implementation for it happens to be in Kubeflow Pipelines is orthogonal. Good thing is that UI exists/API exists, and now its up to the different components  (TF-Job/PyTorch/Katib) etc. to take advantage of it, and standardize around it (without thinking that its a "core" KF

[2020-04-14 22:21] supertetelman commented on #4519
I just deployed v1.0.1 [kfctl ](https://github.com/kubeflow/kfctl/releases/download/v1.0.1/kfctl_v1.0.1-0-gf3edb9b_linux.tar.gz)with the v1.0.1 [manifest ](https://raw.githubusercontent.com/kubeflow/manifests/d6b267e80b71007f95501eb92d4b961b9dab50f8/kfdef/kfctl_k8s_istio.v1.0.1.yaml") for istio on-prem.

I am running on K8S v1.15.3 deployed via Kubespray.

I am hitting this issue with all of the d

[2020-04-14 22:48] supertetelman commented on #4538
@vaskokj, did you ever figure this out?

I just deployed v1.0.1 [kfctl ](https://github.com/kubeflow/kfctl/releases/download/v1.0.1/kfctl_v1.0.1-0-gf3edb9b_linux.tar.gz)with the v1.0.1 `[manifest ](https://raw.githubusercontent.com/kubeflow/manifests/d6b267e80b71007f95501eb92d4b961b9dab50f8/kfdef/kfctl_k8s_istio.v1.0.1.yaml)`for istio on-prem.

I am running on K8S v1.15.3 deployed via Kubespray.

[2020-04-15 06:52] Bobgy commented on #4829
With https://github.com/kubeflow/manifests/issues/984 done, I think we can close this.
/close

[2020-04-15 06:52] #4829 closed

[2020-04-15 07:23] rahcode7 opened #4956 "Trying to reconfigure the Jupyter Notebook Web App on existing cluster using Kustomization"
/kind bug

**What steps did you take and what happened:**

1. I am trying to update my kubeflow jupyter web app's UI by making changes to file jupyter-web-app/base/configs/spawner-ui-config.yaml.

2. After making changes in spawner-ui-config.yaml and kustomisation.yaml file, I tried to apply the patch using
`kubectl apply -k .`
on the base directory.
The default yaml is
<img width="1199" alt="kust

[2020-04-15 09:24] majorinche commented on #4854
this works for me, thanks!

[2020-04-15 12:02] krishnadurai commented on #4594
/lifecycle-frozen

[2020-04-15 13:38] Henry-Kim-Youngwoo opened #4957 "katib-mysql Table 'mysql.plugin' doesn't exist"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I just install kubeflow v1.0.1 follow this guide
[https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/](https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/)

after install katib-mysql and katib-db-manager is not working

**What did you expect to happen:**
[code]
**Anything

[2020-04-15 13:50] #4180 closed

[2020-04-15 14:00] Rasen-wq opened #4958 "Seldon-Core Quickstart is not working"
/kind bug

**What steps did you take and what happened:**
After Installing Kubeflow in GKE, everything works fine part from Seldon.
I am following the [quickstart example in Kubeflow Docs](https://www.kubeflow.org/docs/components/serving/seldon/#simple-example) so I am:
- adding the new namespace
- adding a new istio gateway
- deploying the dummy model
- port-forwarding

when I send my prediction

[2020-04-15 14:16] yanniszark commented on #4899
Opened https://github.com/kubeflow/community/issues/327 for the Guideline.

Using this issue to track the amends to KFAM's README in order to:
* Make clear its current use and scope.
* Point users to the guideline.

/priority p1

[2020-04-15 14:22] yanniszark commented on #4942
@Jeffwan I am adding this issue in the ROADMAP for 1.1.
My understanding is that we want to have an option to disable the Profile creation flow.
Should we rename the issue to reflect that a bit better? (e.g., `Option to disable self-serve profile creation flow in CentralDashboard`)

cc @avdaredevil
/priority p1
/area centraldashboard

[2020-04-15 14:56] dilzeem opened #4959 "Seldon Serving with Cognito"
/kind bug

**What steps did you take and what happened:**
using: `kfctl_aws_cognito.v1.0.0.yaml`

I want to get some way to serve the models. I was going to use kf-serving but because of this issue, https://github.com/kubeflow/kfserving/issues/760 I am unable to progress unless a clear way forward is presented here.

So then I tried looking at Seldon-Core and followed along here: I followed the st

[2020-04-15 15:03] dilzeem commented on #4958
Are you using any kind of authentication service?

I posted a similar issue just now for AWS.

It says here for port forwarding that authentication can be an issue:
https://www.kubeflow.org/docs/components/central-dash/overview/#using-kubectl-and-port-forwarding

[2020-04-15 15:28] Rasen-wq commented on #4958
No I am just portforwarding as it's described in the guide there. I was thinking now that the problem could be related to IAP.

[2020-04-15 15:31] Rasen-wq commented on #4958
This problem seems related to:
https://github.com/kubeflow/manifests/issues/974

[2020-04-15 15:43] ovarene commented on #4712
Same problem, when pulling an image not in the same project as kubeflow :

* Status "running"
* while there is an error while pulling the image

`
$ kubectl -n ... get notebooks -o json | jq '.items[] | {notebook: .metadata.name, status: .status}'
{
  "notebook": "my-jupyter-server",
  "status": {
    "conditions": [
      {
        "lastProbeTime": "2020-04-15T14:39:14Z",
        "type": "Running

[2020-04-15 16:00] vaskokj commented on #4538
@supertetelman

The only way I was able to get around this was with associating a data volume with it for the permission issue.

I feel they have an issue with permissions in the container. They chown the directory to the the wrong user on this line (I believe it is incorrectly assigned to root:root) when I was playing with creating my own docker container. Which is why you don't see the problem w

[2020-04-15 17:04] yanniszark opened #4960 "Design Doc: Evaluate and Improve our Multi-User model"
/kind feature

Prepare a design doc evaluating and suggesting improvements for our current multi-user model.
Capture the discussion in this thread: https://groups.google.com/forum/#!searchin/kubeflow-discuss/subject$20access$20review%7Csort:date/kubeflow-discuss/whS_j4RlEJo/98xnBHH4BgAJ

Update:
Doc: https://docs.google.com/document/d/11Xi-I2OqJvUuy_Zg0NskMF9GmworRDJhlu68poDgK5c/edit?usp=sharing

[2020-04-15 17:27] yanniszark commented on #4899
/remove-area centraldashboard
/area auth

[2020-04-15 17:28] yanniszark commented on #4960
/area auth
/priority p1

[2020-04-15 19:23] supertetelman commented on #4538
@vaskokj

Looks like you are correct.

The bug I am hitting is that the default GCR containers have bad permissions that block them from working if no workspace volume is mounted.

It seems like this is the root cause for most of the people in this thread.

[2020-04-15 19:41] Jeffwan commented on #4959
/assign

[2020-04-15 19:50] Jeffwan commented on #4959
@dilzeem Can you try to query the service inside the mesh? I'd like to know if that's a real authentication issue or serving deployment issue.

I am working on programmatic access guidance for Cognito. Currently, you can do this way.

1. Use the cookie from your web login
![image](https://user-images.githubusercontent.com/4739316/79381847-70b35e00-7f17-11ea-888e-e998405a922d.png)

2. Make request

[2020-04-15 19:56] jtfogarty opened #4961 "Missing Deployments in 1.0.1 using kfctl_istio_dex_v1.0.1"
/kind question

**Question:**
why are there missing istio deployments in below;

The below was installed using kfctl_istio_v1.0.1

||||||
|---|---|---|---|---|
|NAME|READY|UP-TO-DATE|AVAILABLE|AGE|
|cluster-local-gateway|1/1|1|1|23d|
|grafana|1/1|1|1|23d|
|istio-citadel|1/1|1|1|23d|
|istio-egressgateway|1/1|1|1|23d|
|istio-galley|1/1|1|1|23d|
|istio-ingressgateway|1/1|1|1|23d|
|istio-pilot|1/1|1|1

[2020-04-15 19:57] jtfogarty commented on #4961
/area istio
/priority p1

[2020-04-15 20:02] jtfogarty commented on #4961
@jlewi from yesterday's meeting, it sounds like it was intentional on taking out kfserving-ingressgateway.  Maybe the others as well.

[2020-04-16 01:53] animeshsingh commented on #4590
@krishnadurai is there automation in place for these conversions? cc @adrian555

[2020-04-16 05:45] Jeffwan commented on #4942
@yanniszark Sounds good. Update the title

[2020-04-16 07:15] dilzeem commented on #4959
So I tried what you requested. Not sure if what I did was exactly correct.

This was the response:

[code]
The `$CLUSTER_IP` that I used was the `istio-ingressgateway` cluster ip. The `$SERVICE_HOSTNAME` was the domain that I have set up for accessing kubeflow.

The original issue of following along with this: https://www.kubeflow.org/docs/components/serving/seldon/

has given me a different resul

[2020-04-16 10:37] krishnadurai commented on #4590
@animeshsingh we are doing this manually.
I'm not sure how we could try this in an automated manner. Do you have anything in mind?

[2020-04-16 11:46] yanniszark commented on #4418
@Kyrremann keep in mind that the contributor UI will create K8s RBAC RoleBindings,in which the subject is case-sensitive.
So if you authenticate as `Kyrre.Havik.Eriksen@nav.no` but the RBAC RoleBindings mention `kyrre.havik.eriksen@nav.no`, it won't work.
Because of this, I think the validation check we have in place is valid and should not be relaxed.

/close

[2020-04-16 11:46] #4418 closed

[2020-04-16 12:03] alanhughes opened #4962 "Notebook with EBS volume - creation failure"
/kind bug

**What steps did you take and what happened:**
We run an EKS cluster with workers in multiple availability zones. If you try and create a notebook server with extra data volumes, in mode "ReadWriteOnce", there is no guarantee that both EBS volumes will be created in the same AWS availability zone. If they are created in different zones, the notebook fails to start, since no worker node

[2020-04-16 12:46] marwanfahmi opened #4963 "MiniKF dashboard external IP address not connecting"
Hi,

I have a MiniKF deployment on GCP and the VM instance is up and running with both HTTP and HTTPS traffic allowed in the VM settings, however, when I navigate to the external IP address to access the Kubeflow dashboard I get Unable to connect message. What could possibly cause this?

Many Thanks,

[2020-04-16 12:57] alanhughes commented on #4962
workaround at the moment is to pre-create a storage class per zone with:
[code]
as per https://kubernetes.io/docs/concepts/storage/storage-classes/#allowed-topologies

and then pre-create all PVCs that we will require, distributing them as required between `StorageClass`es, but requiring that any volumes that will be attached to the same notebook are in the same `StorageClass`

[2020-04-16 13:32] pulpo commented on #4819
I had the same problem deploying kubeflow into a KOPS cluster into AWS. I edited the *centraldashboard* deployment and change the `image: ` for the one that @Gsantomaggio built, and it worked.
The value I left at the deployment is `image: gsantomaggio/centraldashboard:node-12`
The deployment is in READY state again:

[code]

[2020-04-16 14:32] yanniszark commented on #4963
Hi @marwanfahmi!
When the MiniKF VM gets provisioned, it needs some time for everything to come up.
Until then, you get the error you described.

Please check out the instructions about MiniKF on GCP in the kubeflow docs: https://www.kubeflow.org/docs/started/workstation/minikf-gcp/
You will see how to SSH into the VM and follow the on-screen instructions.

Can you confirm if this solves you issue

[2020-04-16 14:32] yanniszark commented on #4963
/platform minikf
/priority p1
/assign @yanniszark

[2020-04-16 14:35] jlewi commented on #4961
@yanniszark @johnugeorge do you know the answer?

[2020-04-16 14:57] marwanfahmi commented on #4963
Hi @yanniszark - This to confirm that this resolved my issue. I got confused because I was able to ssh the machine but not access the UI. Thanks a lot!

[2020-04-16 14:57] #4963 closed

[2020-04-16 14:59] jlewi commented on #4955
+100 to @Jeffwan 's idea that we shouldn't force people to use KFP just to collect metadata.

The idea that we explored in the past was having the concept of having a logger that would collect information and write to an approriate store.  The analogy here is how logging works in Kubernetes.

The idea is we should define a flexible pattern/convention by which applications can surface information t

[2020-04-16 15:19] yanniszark commented on #4961
The kfctl_istio config uses Istio 1.6.1 manifests.
The kfctl_istio_dex config uses Istio 1.3.1 manifests.
Our 1.3.1 manifests no longer include the tracing components (istio-tracing, kiali, grafana, jaeger, etc.)

cc @krishnadurai who ported the Istio 1.3.1 manifests.
I don't have a strong preference either way (minimal install vs bells n whistles).

[2020-04-16 16:30] irvifa commented on #4514
@jtfogarty any update on this? Because it's been marked to stale due to inactivity

[2020-04-16 16:50] jtfogarty commented on #4514
@irvifa this issue might be better in the [kfserving repo](https://github.com/kubeflow/kfserving)

[2020-04-16 16:53] irvifa commented on #4514
I see.. I'm moving the issues then. And close this one. Thanks!

[2020-04-16 16:53] #4514 closed

[2020-04-16 17:35] #4183 closed

[2020-04-16 17:54] Jeffwan commented on #4959
`RBAC: access denied` is from istio, it's actually from authorization failure. AWS has a authorization layer, it retrieve user info from your token, and verify with your profile email. If it doesn't match, it will show this.

Trying to get more requirement on your ideal case. Do you want to managed API keys using `API Gateway`?  Do you think Cognito or IDP user auth is good enough to make rest cal

[2020-04-16 18:35] dilzeem commented on #4959
Okay. Is there anything else I can do with regards to the issue?
If it is something on my end, I can try have a look further if you are able to point me in the right direction.

With regards to our use case, API Gateway would be great for us to handle incoming request from the public in a secure manner. Giving out API keys to clients that will be using our service. It has a lot of other nice featu

[2020-04-16 18:59] Jeffwan commented on #4962
This is a common issue. There's no guarantee PV are always created in the right AZ.
There's some community solution on this.
https://kubernetes.io/blog/2018/10/11/topology-aware-volume-provisioning-in-kubernetes/

I think more elegant solution is create a topolocy-aware storage class and set it as default storage class for Jupyter controller.

This would be a lightweight wrapper of default storage

[2020-04-16 18:59] Jeffwan commented on #4962
/assign @Jeffwan

Can you help verify if this work for you case?

[2020-04-16 19:27] yanniszark commented on #4950
Hi @thesuperzapper!
We have added a feature similar to what you describe in the latest MiniKF.
We also have [a blog post](https://journal.arrikto.com/democratizing-the-use-of-pvcs-with-the-introduction-of-a-volume-manager-ui) about the feature as well as some [youtube videos](https://www.youtube.com/watch?v=Uj_byHLpMh0&list=PLD-Taer66dlIDrGCRjQmfwzfpBSSCm7Fd) demonstrating it.
You can try it out y

[2020-04-16 20:26] Jeffwan commented on #4959
Can you give the seldon manifest example? I can test in my env as well.

[2020-04-16 20:56] #4634 closed

[2020-04-16 21:00] Shaked commented on #4790
@jonathangold have you figured it out?

This seems to be related to the service account's roles.

For some reason, the deployment (or upgrade) expect the service account to have permissions instead of using the user that logged in via `gcloud auth login`

[2020-04-16 21:14] Shaked commented on #4873
Hey, seems like this also happens when upgrading from 1.0.0 to 1.0.2, I had to delete all of the following:

[code]

Any idea why?

Regardless, is there a clear way to make sure that all versions were upgraded successfully? Something like `kfctl show versions` which will print the current installed `kubeflow` [and its dependencies](https://www.kubeflow.org/docs/reference/version-policy/#kubeflow-a

[2020-04-17 00:04] thesuperzapper commented on #4950
While that is cool, it doesn't solve the issues with the notebook spawner UI, namely that users must type the name of the PVC.

Also, I am confused, is this a commercial product?

[2020-04-17 02:37] MrXinWang commented on #2337
An update of current status with master branch (v1.0.1) kubeflow on arm64:

Recompiled kfctl, `cert-manager`, `istio-system` and `knative-serving` namespace, now service mesh namespaces works well on arm:

**Setup:**
[code]

**cert-manager namespace:**
[code]

**istio-system namespace:**
[code]

**knative-serving namespace:**
[code]

[2020-04-17 05:56] richardsliu commented on #4929
cherry-picks:
https://github.com/kubeflow/manifests/pull/1111
https://github.com/kubeflow/kfctl/pull/316

[2020-04-17 13:53] yanniszark commented on #4935
Hi @akirillov!
I will try to answer your question with an example.

Correct, K8s RBAC is still in place, however Istio RBAC targets a different area.
K8s RBAC authorizes access to the K8s API-Server endpoints (who can create Notebooks, Pods, etc.)

Istio RBAC authorizes access to network resources (Services).
The big application of that right now is Jupyter Notebooks. Istio RBAC allows you to acce

[2020-04-17 14:10] yanniszark commented on #4925
Closing as a duplicate of https://github.com/kubeflow/kubeflow/issues/4702
/close

[2020-04-17 14:10] #4925 closed

[2020-04-17 15:29] yanniszark commented on #4938
@jtfogarty this is because only Profile admins are allowed to add contributors.
See: https://github.com/kubeflow/kubeflow/blob/f3e092036355dab98b7ff65cd0c7cba6cdd8572b/components/access-management/kfam/api_default.go#L106-L107

In K8s terms, only admins should have the ability to create RoleBindings in that Profile/Namespace.
Bringing Kubeflow and the CentralDashboard closer to K8s RBAC should mak

[2020-04-17 15:31] yanniszark commented on #4924
Hi @abdulsalama !
How are the other profiles created?
What is the profile owner specified on them?
Please check my comment here and tell me if it also applies to you: https://github.com/kubeflow/kubeflow/issues/4938#issuecomment-615310170

[2020-04-17 15:35] yanniszark commented on #4890
@IronPan this is a limitation of how the KFAM is currently working (magic annotations).
We should rely on checking K8s RBAC as the source of truth.
That would solve this issue and a multitude of other issues (#4924, #4938, #4936).
I am preparing currently preparing a doc that will also address this specific issue.
, tracked by https://github.com/kubeflow/kubeflow/issues/4960

[2020-04-17 17:42] akirillov commented on #4935
Thanks a lot for the answer, @yanniszark! Just to clarify, does it mean that anybody authenticated with the cluster (i.e. having a Profile) will have access to all the notebooks or completely everybody who have network access?

[2020-04-17 18:01] lalithvaka opened #4965 "Profile creation through central dashboard vs kubectl YAML does not have the same behavior"
/kind bug

**What steps did you take and what happened:**
Kubeflow 1.0.2 enabled with OIDC integration. Have one of the user(a264297@xx.com) login through the central dashboard and self service profile got created. Also, created a manual profile through kubectl using https://www.kubeflow.org/docs/components/multi-tenancy/getting-started/#manual-profile-creation yaml file

apiVersion: kubeflow.org/

[2020-04-17 19:01] Rasen-wq commented on #4958
I've found a solution for the problem.
The request needs to be sent with IAP authentication (JWT token).
For that is possible to use a Python script similar to what suggested in the tensorflow serving page:
https://www.kubeflow.org/docs/components/serving/tfserving_new/#sending-prediction-request-through-ingress-and-iap

I think the web page of Seldon Quick start can be updated.

[2020-04-17 19:14] yanniszark commented on #4935
Anyone that is authenticated.
You still need to pass through the Istio Gateway that enforces authentication.
Since this is answered, I'm closing this and linking the answer to https://github.com/kubeflow/website/issues/1903, we can improve the doc as part of that issue.
/close

[2020-04-17 19:14] #4935 closed

[2020-04-17 20:37] jtfogarty commented on #4962
/platform
/area jupyter
/priority p1

[2020-04-17 20:39] jtfogarty commented on #4965
/area centraldashboard
/priority p1

[2020-04-17 20:44] jtfogarty commented on #4959
/area seldon
/priority p1

[2020-04-17 20:45] jtfogarty commented on #4958
/area seldon
/priority p1

[2020-04-17 20:46] jtfogarty commented on #4957
/area katib
/priority p1

[2020-04-17 20:47] jtfogarty commented on #4956
/area kustomize
/area jupyter
/priority p1

[2020-04-17 20:49] jtfogarty commented on #4954
/area jupyter
/priority p2

[2020-04-17 20:53] yanniszark commented on #4954
Closing since the question is answered.
/close

[2020-04-17 20:54] #4954 closed

[2020-04-17 21:01] jtfogarty commented on #4953
/area centraldashboard
/prioirty p2

[2020-04-17 21:02] jtfogarty commented on #4950
/area centraldashboard
/priority p2

[2020-04-17 21:07] jtfogarty commented on #4745
/area jupyter
/priority p2

[2020-04-17 21:12] jtfogarty commented on #4752
/area istio
/priority p1

[2020-04-17 21:33] jtfogarty commented on #4765
/area katib
/priority p2

[2020-04-17 21:36] jtfogarty commented on #4766
/area example
/priority p2

[2020-04-17 21:38] jtfogarty commented on #4768
/priority p2

[2020-04-17 21:43] jtfogarty commented on #4772
/area pipelines
/priority p2

[2020-04-17 21:53] jtfogarty commented on #4783
/area gcp
/priority p1

[2020-04-17 21:55] jtfogarty commented on #4787
/area kustomize

[2020-04-17 22:02] leela-uppuluri commented on #4103
@yaser-hameed I started installing kubeflow-1.0 on kubernetes-v1.15 cluster and was following the same kubeflow office documentation but I am stuck at accessing the kubeflow dashboard which does need the setup of loadBalancer or NodePort or Port forwarding is required. I was confused with setting up the istio gateway and virtual service. Can you please walk me through the steps on how you did conf

[2020-04-17 22:02] jbottum commented on #4922
@tech348712013870132 hey Tech, Josh here from Arrikto.   Arrikto provides a standards based storage solution that integrates with Kubeflow.   Rok provides a storage class to CSI and enables K8s operations (Dynamic Volume Provisioning, Statefulsets, etc) for persistent volumes.    www.arrikto.com

[2020-04-17 22:05] jtfogarty commented on #4938
Thanks @yanniszark
What does it mean to be a `Profile Admin`
I do not see anything documented for an on-prem install

[2020-04-17 22:08] jtfogarty commented on #4794
/area pipelines
/priority p2
/platform azure

[2020-04-17 22:52] richardsliu commented on #4929
Release is done: https://github.com/kubeflow/kfctl/releases/tag/v1.0.2

/close

[2020-04-17 22:52] #4929 closed

[2020-04-17 22:59] Jeffwan commented on #4929
I create a doc issue update https://github.com/kubeflow/website/issues/1906. I think doc team will take it over. Thanks for the excellent work @richardsliu

[2020-04-17 23:25] andreyvelich commented on #4957
Hi @Henry-Kim-Youngwoo!
It seems to be duplicate of https://github.com/kubeflow/katib/issues/1156, can you check my comment there, please?

[2020-04-17 23:32] miramar-labs opened #4966 "exposing host docker in jupyterlab custom container"
I created a custom container with JupyterLab and a bunch of other things in it .. including docker CE ... and added it as a notebook server .. works great but I'd like to do my docker build's from the jupyterLab terminal window .. and so i'm wondering if there is a way to customize the way kubeflow launches the container .. i'd like to add '-v /var/run/docker.sock:/var/run/docker.sock' to the dock

[2020-04-17 23:43] kunmingg commented on #4923
FYI:
On roadmap: https://github.com/kubeflow/kubeflow/issues/4188

[2020-04-17 23:48] kunmingg commented on #4188
At minimum we need group support for both k8s rbac and istio rbac.

On GCP:
1. k8s rbac group support: https://cloud.google.com/kubernetes-engine/docs/how-to/role-based-access-control?&_ga=2.65111726.-1203667031.1546636905#google-groups-for-gke
2. istio rbac is still not clear, on option is to have a reconcile server to update users in group with proper istio policy.

[2020-04-17 23:53] yanniszark commented on #4923
Let's close in favor of #4188
/close

[2020-04-17 23:53] #4923 closed

[2020-04-18 02:12] yantriks-edi-bice commented on #4768
We can close this one. I’ve been able to upgrade to 1.0.2 recently though it required a lot of manual deletes as it seems the upgrade wasn’t finding the expected versions etc. I thought I was upgrading from a 1.0 but I guess it wasn’t clean

[2020-04-18 02:12] #4768 closed

[2020-04-18 14:22] Shaked commented on #4794
This issue has been resolved in https://github.com/Azure/kubernetes-keyvault-flexvol/issues/183 keep in mind that it for GPU nodes, you'd have to use `tolerations` and for GKE you'd have to follow the PR https://github.com/Azure/kubernetes-keyvault-flexvol/pull/186 as GKE nodes do not support the jq command line tool by default

[2020-04-18 20:50] yanniszark commented on #3831
/reopen
/remove-lifecycle stale

[2020-04-19 04:34] leela-uppuluri commented on #3903
@SpontaneousDuck I started installing kubeflow-1.0 on kubernetes-v1.15 cluster and was following the same kubeflow office documentation but I am stuck at accessing the kubeflow dashboard which does need the setup of loadBalancer or NodePort or Port forwarding is required. I was confused with setting up the istio gateway and virtual service. Can you please walk me through the steps on how you did i

[2020-04-19 04:53] Tabrizian commented on #4789
@jlewi I wanted to play a bit with the tekton pipelines for this PR, but it seems like I don't have access to the release cluster which was mentioned in [Run a Pipeline](https://github.com/kubeflow/testing/tree/master/apps-cd#run-a-pipeline) section. Can I create a PR to update my permissions in the internal-acls repo or there is another workaround for it?

[2020-04-19 11:30] MiHess opened #4968 "Pipelines sample error - Uniform Bucket Level Access required"
/kind question

**Question:**
Hi, I am just getting started with Kubeflow Pipelines.

I have successfully deployed Kubeflow v1.0.0  to GCP using the UI. However, when I try to run some of the available samples in the Kubeflow UI that need to access some storage, e.g. the "Basic - Sequential" sample, I get the following error:
`This step is in Error state with this message: failed to save outputs:

[2020-04-19 23:59] jlewi commented on #4946
Duplicate of kubeflow/kfserving#760

[2020-04-19 23:59] #4946 closed

[2020-04-20 01:59] Henry-Kim-Youngwoo commented on #4957
duplicate of kubeflow/katib#1156

[2020-04-20 01:59] #4957 closed

[2020-04-20 10:52] #4133 closed

[2020-04-20 10:52] #4636 closed

[2020-04-20 10:52] #4638 closed

[2020-04-20 10:52] #4637 closed

[2020-04-20 10:52] #4611 closed

[2020-04-20 12:47] yanniszark commented on #4660
/remove lifecycle-stale
/lifecycle frozen

[2020-04-20 13:52] jlewi commented on #4958
/cc @cliveseldon

[2020-04-20 13:57] jlewi commented on #4956
@rahcode7   I think you want to modify the kustomize app in ${KFAPP}/kustomize/jupyter-web-app/

Then run kustomize build from the that directory

[code]

[2020-04-20 13:58] jlewi commented on #4953
Duplicate of #4942

[2020-04-20 14:00] cliveseldon commented on #4958
I can update the docs but looks like a lot of that script is generic IAP processing. I could try to generalize it and add a Seldon specific addition?

[2020-04-20 14:01] jlewi commented on #4947
Which zone did you try to use?

[2020-04-20 14:03] jlewi commented on #4941
Which platform/KFDef are you installing ISTIO on?

While Kubeflow is providing an ISTIO install for convenience you should be able to install ISTIO yourself on your cluster and configure it how you want.

On GCP for example we are moving in the direction of using ASM to install and manage ISTIO rather than using a Kubeflow provided install and config.

[2020-04-20 14:05] jlewi commented on #4939
I believe TensorFlow and PyTorch are able to access the GPU even without being root. So the issue might just be nvidia-smi or other low level tools.

[2020-04-20 14:09] jlewi commented on #4936
#4960 Uber issue tracking a rethink of the multi user model

[2020-04-20 14:11] jlewi commented on #4890
I'm closing this because I don't think we want to continue to build out profiles. Instead, we want to move towards using RBAC and ISTIORbac so updating "OWNERs" would be the equivalent of making changes to the RBAC roles and bindings.

[2020-04-20 14:11] #4890 closed

[2020-04-20 14:13] jlewi commented on #4932
As a work around you could try removing seldon from your KFDef to skip installing seldon.

Do you have cert manager installed in your cluster?

[2020-04-20 14:22] jlewi commented on #4922
@tech348712013870132  most kubeflow applications don't require GCS or object storage. Kubeflow pipelines requires object storage but it uses MinIO to provide an abstraction that also provides a reference implementation for on prem solutions.

Did you try following one of the on prem installation guides and run into problems?

[2020-04-20 14:25] jlewi commented on #4900
I created: https://github.com/kubeflow/.github/blob/master/.github/stale.yml
Which should create org wide settings. If we verify that works then we can delete the repo level stale installs and this should make it easier to consistently apply and manage.

[2020-04-20 14:26] jlewi commented on #4894
/cc @jessiezcc

[2020-04-20 14:27] jlewi commented on #4891
Can you please explain what you are trying to do? Why are you trying to customize the prefix?

[2020-04-20 14:28] jlewi commented on #4942
Duplicate of #4889

[2020-04-20 14:28] #4942 closed

[2020-04-20 14:28] #4887 closed

[2020-04-20 14:29] #4886 closed

[2020-04-20 14:38] jlewi commented on #4873
Thanks for the feedback.

Upgrades still need work. Per kubeflow/kfctl#304 I think we need to rethink how we do upgrades to follow the standard off the shelf workflow of K8s applications.

@Archa91 that link is very helpful. It looks like the problem is the instance and version labels are applied as commonLabels.

https://github.com/kubeflow/manifests/blob/master/jupyter/jupyter-web-app/overlays/a

[2020-04-20 14:48] jlewi commented on #4873
Duplicate of kubeflow/kfctl#304

[2020-04-20 14:48] #4873 closed

[2020-04-20 14:52] jlewi commented on #4872
@matheusjericoo I think if you are trying to deploy an API endpoint what you want to do is have the final step create the K8s resources need to deploy the server.

So for example, if you would normally deploy the server by creating a Deployment and Ingress then just create those resources in the final step of the pipeline. You can do this by using the K8s python client library and writing some pyt

[2020-04-20 14:53] #4870 closed

[2020-04-20 14:54] #4868 closed

[2020-04-20 14:56] jlewi commented on #4951
Duplicate of #4857

[2020-04-20 14:56] #4951 closed

[2020-04-20 14:58] jlewi commented on #4857
@karlschriek how do those annotations work?

/home/jovyan should be on the PVC. So any git credentials or pip packages installed in /home/jovyan won't be lost if the user restarts the notebook using the same PVC.

[2020-04-20 14:59] jlewi commented on #4855
/cc @krishnadurai @yanniszark

[2020-04-20 15:00] jlewi commented on #4851
If your data store is accessible through Kubernetes PVs/PVCs then you would create a PVC (e.g. for an NFS share) and then attach the PVC when you start the notebook.

If its accessible through an API (e.g HDFS/S3/GCS) then you would attach appropriate credentials to your notebook and then use the appropriate client library to talk to that data store.

[2020-04-20 15:00] #4851 closed

[2020-04-20 15:02] #4846 closed

[2020-04-20 15:03] matheusjerico commented on #4872
Thanks for answer @jlewei. I did exactly this. But i didn't create in python code. I created yaml file with ingress, service, deployment to endpoint.

[2020-04-20 15:04] jlewi commented on #4846
Closing this issue because it looks like the problem was resolved.

Kubeflow uses ISTIO and in the next release we will be switching to Anthos Service Mesh
https://cloud.google.com/service-mesh/docs

to install and manage ISTIO on GKE. So you can look at the ASM docs to better understand how to restrict access to your clusters while still allowing Kubeflow to be accessible.

[2020-04-20 15:06] jlewi commented on #4839
Can we close this issue?

[2020-04-20 15:07] jlewi commented on #4836
/cc @yanniszark

[2020-04-20 15:07] jlewi commented on #4823
/cc @jessiezcc

[2020-04-20 15:11] jlewi commented on #4821
Can you achieve what you want by creating Notebook resources via `kubectl` and specifiying the appropriate settings in the PodTemplateSpec?

[2020-04-20 15:21] abdulsalama commented on #4924
Thanks @yanniszark
As in the reply to the other comment, I'm also confused about the difference between profile owner and admin if any? There is nothing mentioned about being a profile Admin in the doc. How do I make someone profile admin for example?

In terms of how the profiles are created, one of them was created through the onboarding process. And the others were created directly by applying

[2020-04-20 15:24] abdulsalama commented on #4924
And also the comment in  #4938 (comment), seems to indicate the issue/ask here is about an admin being able to manage all users/namespaces from the UI... But that is not the issue (at least my issue). This issue is all about a specific user being able to manage all his/her profiles since he/she is the owner on all of them.

[2020-04-20 16:11] saschagrunert commented on #4939
Did a bit more research on the topic and I think that the nvidia container runtime (via docker) automatically adds the user and group permissions to the device when mounted into the container. I don’t have a docker setup at hand, but I guess we can verify that via running `nvidia-smi` or checking access to `/dev/nvidia*`.

I think if I’m right the I have to fix it in the OCI hook and adding the ri

[2020-04-20 17:05] yanniszark commented on #4855
Thanks for opening up an issue.
This is because of a Dex limitation.
It doesn't support getting the app secret from an environment variable or a file, so it is included inside its configmap. (https://github.com/dexidp/dex/issues/1099)
However, I can see there was a recent improvement on that front: https://github.com/dexidp/dex/pull/1664

I see two ways for resolving this issue:
1. Use environment

[2020-04-20 17:19] Rasen-wq opened #4969 "GRPC Auth problem with GCP IAP"
/kind bug
Hi all,

Working with Google Cloud and Kubeflow, I would like to establish a GRPC connection with a pod in my cluster.
My current setup includes a `istio-ingressgateway` configured with [Cloud Identity-Aware Proxy](https://cloud.google.com/iap/docs/concepts-overview) as authorization layer.
I already have in place a virtual service to redirect my traffic from the ingress-gateway to the G

[2020-04-20 21:54] #4536 closed

[2020-04-20 21:54] #4534 closed

[2020-04-20 22:10] jlewi commented on #4930
I suspect there is a race condition.
We are creating a ClusterIssuer for self-signed certificates here:
https://github.com/kubeflow/manifests/blob/master/cert-manager/cert-manager/overlays/self-signed/cluster-issuer.yaml

This will fail if CertManager custom resources haven't deployed and succeeded yet.

One way to handle this would be to refactor the cert-manager to split deploying cert-manager c

[2020-04-20 23:11] lalithvaka opened #4970 "Manage contributor add failure - rolebinding unique name issue"
/kind bug

**What steps did you take and what happened:**
Manage contributor screen. Adding a contributor creates a role binding / service role binding with name including userID's first character by ignoring the digits and not able to add other users with similar numbers.
our Org uses UserIDs as a1234@xx.org, a2345@xx.org.

![image](https://user-images.githubusercontent.com/8292387/79807750-b2317

[2020-04-20 23:19] jbottum commented on #4844
@pdmack hey pete, any comments on this ?

[2020-04-21 01:18] jlewi commented on #4789
@Tabrizian you can just install Tekton in your own cluster. Access to the release cluster is tightly restricted because anyone with access to the release cluster can modify release artifacts.

[2020-04-21 03:57] thesuperzapper commented on #4936
There is a chance this is related to: https://github.com/kubeflow/manifests/pull/1119

But I am not sure where the call to check for a cluster-admin ClusterRoleBinding might happen. (E.g. is it currently in the centraldashboard?)

[2020-04-21 05:15] thesuperzapper commented on #4936
@jlewi but either way, where did this feature go, has it ever existed?

[2020-04-21 06:47] karlschriek commented on #4857
As far as I can gather the annotations trigger a culling service that looks for pods to shut down (presumably it scales the StatefulSet down to zero), so in principle the functionality to stop/start a server already exists, it just needs to be exposed to users in the dashboard.

True, /home/jovyan will be on the PVC and thinking a bit more about it that might be sufficient as long as it is clear t

[2020-04-21 08:20] Rasen-wq commented on #4958
The only thing I've changed in the script is adding
`Content: application/json` to the headers.

[2020-04-21 14:35] twittidai commented on #4806
@Kloempi and myself was able to solve this problem following the steps required by this:
https://github.com/jetstack/cert-manager/issues/2640

1. Do describe API Service on the webhook.cert-manager and get the IP address of the pod. It should say somthing like Error 503 service unavailable. Note that IP Address.
2. Edit /etc/kubernetes/manifests/kube-apiserver.yaml and find the "no_proxy" settings

[2020-04-21 20:01] pourquoi42 opened #4971 "katib-mysql startup brittle"
There are several issues around katib-mysql failing to start. e.g. #1049, #1156, #4541 and more.

Common pattern seems to be, that the init procedures for mysql doesn't succeed and therefore tables are missing or similar effect. Workarounds involve fiddeling with the storage (changeing to an ssd drive, using a different PV,...) or probes. Myself I got it working by removing the livenessprobe and i

[2020-04-21 20:11] polsm91 commented on #4670
Hi, I encountered the same issue as @hackintoshrao . I made the same checks and also that the project ID was correct. Then, I tried with the CLI using the same parameters, and it worked.

I deleted the deployment and tried again through the [UI](https://deploy.kubeflow.cloud) but it kept failing.

[2020-04-22 00:41] thesuperzapper commented on #4953
@jlewi this is not a dupe of #4942, this issue is requesting the ability to enforce what namespace are created, not if they are automatically created

[2020-04-22 00:59] jlewi commented on #4965
/cc @jlewi

[2020-04-22 01:15] Jeffwan commented on #4965
What's your platform? For AWS users using ALB with either Coginito or OIDC, user can change to other claims beside email. It takes some efforts and needs some customizations. This is something we have not tried yet, we use email by default and required IDP to verify user emails (Otherwise, a valid IDP user don't necessarily have email)

[2020-04-22 01:46] marwan116 opened #4972 "Kubeflow Deployment on AWS EKS fails due to "webhook.cert-manager.io""
/kind bug

**What steps did you take and what happened:**
I attempted to deploy Kubeflow on AWS EKS (built using eksctl ).

Tool versions that I am using:

- eksctl version v0.17.0
- kubectl version v1.15.5 (Client version), v1.15.11 (Server Version)
- aws-iam-authenticator v0.5.0
- kfctl v1.0.2

Below are the steps that I took:

1. I unpack the tar ball to get the kfctl binary
2. I create the env

[2020-04-22 03:11] lalithvaka commented on #4965
@jlewi here are the YAML extracts as below
a264297 profile is created using central dashboard self service method by doing a SSO
poc1 profile is created using the YAML example from kubeflow.org

➜ kubectl get profile a264297 -o yaml
apiVersion: kubeflow.org/v1
kind: Profile
metadata:
  creationTimestamp: "2020-04-16T04:06:58Z"
  finalizers:
  - profile-finalizer
  generation: 2
  name: a264297
  r

[2020-04-22 03:19] lalithvaka commented on #4965
We are doing this onPrem on base K8S. By default the Profile creation through Self Serv method of the central dashboard uses EmailID to create RoleBindings and Owners. I was wondering if there is a configuration that I could change that would enable using EnterpriseID (JWT Subject) as the default string instead of Email. This is not a must, we could use EmailIDs, but exploring if there is a config

[2020-04-22 11:47] thesuperzapper commented on #4953
/reopen

[2020-04-22 11:56] LeonardAukea commented on #4549
I think this issue should not be closed. We are currently facing this issue as well with Kubeflow version: 1.0.0

[2020-04-22 13:46] yanniszark commented on #4549
/reopen

[2020-04-22 19:32] #4496 closed

[2020-04-22 19:32] #4515 closed

[2020-04-22 19:32] #4508 closed

[2020-04-22 19:32] #4507 closed

[2020-04-22 19:32] #4506 closed

[2020-04-22 19:32] #4505 closed

[2020-04-22 19:32] #4503 closed

[2020-04-22 19:32] #4504 closed

[2020-04-22 19:32] #4499 closed

[2020-04-22 19:32] #4482 closed

[2020-04-22 19:32] #4469 closed

[2020-04-22 20:58] jlewi commented on #4965
@lalithvaka Can you provide the logs from the profile controller?

In the YAML you pasted its unclear whether indentation issues are just copy-paste issues or whether they are indicating an error in the spec.

Could you do

[code]

And then attach those to the GitHub issues? This should preserve formatting and we can sure the specs don't have indentation issues.

[2020-04-22 21:05] leela-uppuluri opened #4973 "Cannot access kubeflow dashboard as admin"
**What steps did you take and what happened:**
I have deployed the kubeflow installation on open source kubernetes cluster and also by default my profile owns a kubernetes namespace of the same name along with a collection of kubernetes resources. After setting up the Istio load balancer and configuring the node port forwarding for the istio-ingressgateway I could able to access a fresh kubeflow d

[2020-04-22 21:41] joepeskett commented on #4932
For our deployment of Kubeflow onto a private GKE cluster, we had to remove certmanager and seldon components.

[2020-04-22 21:53] Jeffwan commented on #4839
I think we already answer the question and we can close this one. @wdhorton has a PR to add toleration support in PodTemplate.

Feel free to reopen if something still have questions

[2020-04-22 21:53] #4839 closed

[2020-04-22 22:29] Jeffwan commented on #4972
@marwan116
Without the cert-manager, can you visit dashboard?

[2020-04-22 23:16] marwan116 commented on #4972
Hey @Jeffwan thank you for getting back to me on this - to answer your questions:

_Trying to see without the cert-manager, can you visit dashboard?_
so the very first time I tried this - I manually enabled IAM service account (associated an OIDC provider - and created an iamserviceraccount) - I wasn't aware that this is what kfctl was doing behind the scenes ...  I was able to visit the kubeflow

[2020-04-23 00:11] lalithvaka commented on #4965
@jlewi Our profile controller seems to be stuck in this indefinite loop with log msgs as following. Tried killing the pods but they come back up with these msgs non stop.. Also attaching the profile extracts

E0422 23:51:59.073724       1 reflector.go:126] pkg/mod/k8s.io/client-go@v11.0.1-0.20190409021438-1a26190bd76a+incompatible/tools/cache/reflector.go:94: Failed to list *v1.Profile: v1.Profile

[2020-04-23 03:53] #4421 closed

[2020-04-23 03:53] #4430 closed

[2020-04-23 03:53] #4373 closed

[2020-04-23 03:53] #4358 closed

[2020-04-23 03:53] #4363 closed

[2020-04-23 03:53] #4325 closed

[2020-04-23 03:53] #4310 closed

[2020-04-23 03:53] #4343 closed

[2020-04-23 03:53] #4291 closed

[2020-04-23 03:53] #4301 closed

[2020-04-23 03:53] #4316 closed

[2020-04-23 10:49] zzaareer commented on #4806
@twittidai  Thank you for sharing your experience here. can you please share the exact no_proxy setting on kube-apiserver.yaml .I am trying to set like - --no_proxy=IP but the api server pod crashed.

[2020-04-23 11:20] munnerz commented on #4806
I'm not sure what version of cert-manager kubeflow deploys by default, but the newer versions of cert-manager no longer use an APIService resource at all to expose the webhook. We've been making incremental improvements over the last few releases to how the webhook deployment process works, and the `v0.15.0-alpha.1` release is a good candidate for testing/integration into kubeflow as we've reached

[2020-04-23 11:53] soumochak83 opened #4974 "Issues with executor image and executor runtime - Kubeflow 0.5 on OCP 3.11"
We are trying some simple Argo based experiments like - Hello World and DAG. We have configured the workflow controller config map to use executor image as Argo 2.7.0 and executor runtime as k8sapi. While running the workflow yaml we see that executor image got changed to 2.7.1 and sometime executor runtime gets changed to docker. This happens randomly and we do not find a good reasoning behind th

[2020-04-23 12:52] asahnovskiy opened #4975 "Dashboard deployed on eks does not show manage contributors in navigation"
/kind bug

**What steps did you take and what happened:**
I deployed kubeflow v1.0.2 on existed EKS cluster using https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_k8s_istio.v1.0.2.yaml

**What did you expect to happen:**
I except the "Manage Contributers" to show up.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the iss

[2020-04-23 15:09] helkhalfi commented on #4975
👍

[2020-04-23 19:56] lalithvaka commented on #4965
@jlewi It appears that my "resourceQuotaSpec" in my poc1.txt yaml file might have caused all these issues. If I remove the following section my profile creation via YAML and self service appears to be same good.

resourceQuotaSpec:
   hard:
    requestsGpu: "1"
    requestsCpu: "2"
    requestsMemory: 20Gi
    limitsCpu: "4"
    limitsCpu1: "4"
    limitsMemory: 20gi
    cpu: "10"
    memory: 20Gi

[2020-04-24 01:46] jlewi commented on #4965
@lalithvaka it looks like the profile controller is choking on invalid specs. This is a common failure mode for profiles. It could be fixed with a validating admission hook.

Here are some related issues:
kubeflow/tf-operator#1016 - Create common CRD validation.

[2020-04-24 01:46] #4965 closed

[2020-04-24 02:08] jlewi commented on #4889
@avdaredevil could you provide a pointer to the code where this is disabled?

[2020-04-24 02:12] jlewi commented on #4953
I think as discussed in
https://groups.google.com/forum/#!topic/kubeflow-discuss/whS_j4RlEJo I think we are moving away from self-serve at least in the context of platform teams serving multiple customers.

I think the direction we are trending is that the operators would create the namespaces and thus enforce whatever restrictions they want at creation time.

I think the pattern that is highest p

[2020-04-24 02:22] jlewi commented on #4667
`--user` will install the packages into `/home/jovyan`. So if you already have the packages installed you need to update your python path to make sure that directory is higher in the pythonpath.

See here
https://github.com/kubeflow/examples/blob/b8aa657a84ce5c771ad54da9ef7f6de82e4db685/mnist/notebook_setup.py#L38

[2020-04-24 02:22] #4667 closed

[2020-04-24 11:29] twittidai commented on #4806
@zzaareer when you installed your kubenetes cluster you should have configured it for proxy already, if you are not using it or properly configured it you might want to have alook at this:
https://github.com/kontena/pharos-cluster/issues/1258

I have not testet if CIDR works.

[2020-04-24 15:11] fhingerl opened #4976 "Cannot access notebook servers: Sorry, /jupyter/ is not a valid page"
/kind bug

**What steps did you take and what happened:**
I installed Kubeflow (v1.0 on Kubernetes 1.14) on AWS EKS and all components worked fine. Since the installation did not come with KFServing / KNative,  I installed KNative following these instructions: https://triggermesh.com/2019/04/installing-knative-on-amazon-web-services-eks/

After performing above steps, I cannot access my notebook s

[2020-04-24 16:56] #4535 closed

[2020-04-24 20:32] #4976 closed

[2020-04-24 23:04] fhingerl opened #4977 "kfserving_sdk_sample.ipynb triggers error"
When creating the inference service with `KFServing.create(isvc)` in file kfserving_sdk_sample.ipynb following error is issued:

RuntimeError: Exception when calling CustomObjectsApi->create_namespaced_custom_object:                 (403)
Reason: Forbidden
HTTP response headers: HTTPHeaderDict({'Audit-Id': '6d435634-82d1-427f-88d7-70b5fb031166', 'Content-Type': 'application/json', 'X-Content-Type-

[2020-04-24 23:16] fhingerl opened #4978 "KFServing SDK sample notebook `kfserving_sdk_sample.ipynb` triggers error"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
When trying to create an InferenceService by executing `KFServing.create(isvc)` in sample file kfserving_sdk_sample.ipynb following error is issued:

RuntimeError: Exception when calling CustomObjectsApi->create_namespaced_custom_object:                 (403)
Reason: Forbidden
HTTP respo

[2020-04-25 19:55] avdaredevil commented on #4889
Is this logic required to be amended for just multi-user isolation mode, or single-cluster isolation mode (all users are anon) as well?

[2020-04-26 01:40] #4217 closed

[2020-04-26 14:33] #4529 closed

[2020-04-26 15:14] jlewi commented on #4966
You can edit the notebook resource using `kubectl get/kubectl apply` and modify the pod template spec to include additional volume mounts.

[2020-04-26 15:21] jlewi commented on #2889
Here are a couple of friction points with git I'm currently encountering.

* I need to start the ssh-agent every time I launch a new terminal.

  * This [recipe](https://stackoverflow.com/questions/18880024/start-ssh-agent-on-login) might help

* The permissions on my .ssh directory get reset (when the container restarts?)

[2020-04-26 17:06] yanniszark commented on #4970
This is the code that decides the name of RoleBindings:
https://github.com/kubeflow/kubeflow/blob/8f8e348bc8df0b65f09c3082b1f559fff20d62e6/components/access-management/kfam/bindings.go#L56-L72
We should probably amend that logic.
I'm not sure what priority to put on this.
We should decide our plans for the contributor UI first, because if we are moving towards a GitOps approach, the contributor UI

[2020-04-26 20:48] lalithvaka commented on #4970
Thank you @yanniszark , I was able to fix this code(with my limited go knowledge) to support numbers in the email address. This changes  email address to i397401@zq.msds.kp.org to i397401-zq-msds-kp-org which is being used in the role binding names.
[code]

[2020-04-26 23:28] btphan95 commented on #3936
any update?

[2020-04-27 02:34] tall-josh commented on #3936
I'm working on a blog post where I setup Kubeflow on the GCP free trial. I ended up following the [Deploy Using CLI](https://www.kubeflow.org/docs/gke/deploy/deploy-cli) instructions but instead of using `kfctl apply ...` I used `kfctl build ...` then modified the `kfctl_gcp_iap.yaml`.

[Here](https://github.com/tall-josh/tall-josh.github.io/blob/master/drafts/blog-posts/Kubeflow.md#how-to-setup-k

[2020-04-27 02:35] lalithvaka commented on #4970
@yanniszark submitted a pull request - https://github.com/kubeflow/kubeflow/pull/4979

/area multiuser
cc @jlewi @kunmingg

[2020-04-27 07:10] jithinvalsalan opened #4980 "Not able to select the namespace in Jupyter notebook."
/kind bug
![Kubeflow_Jupyternotebook](https://user-images.githubusercontent.com/32053559/80343829-39806d80-8884-11ea-84f0-d3ff3ae42116.JPG)

**What steps did you take and what happened:**
Deployed kubeflow on existing kubernetes version 1.14 using Multi-user, auth-enabled Kubeflow with kfctl_istio_dex. After successful deployment of kubeflow and profile registration, I was trying to access jupyter

[2020-04-27 08:00] thesuperzapper commented on #4936
@jlewi, @yanniszark, I have found where you currently specify the cluster admin, but it seems that you can __only specify a single user__.

[Here is the code](https://github.com/kubeflow/kubeflow/blob/v1.0/components/access-management/main.go#L40), which is used by the `kfam` image, by specifying the `/access-management -cluster-admin me@email.com`.

We would need to inject the RBAC based changes

[2020-04-27 08:24] discordianfish commented on #4512
/reopen

[2020-04-27 09:32] discordianfish commented on #4215
@jlewi @yanniszark What is the current state of this? Should I replace this issue by two:

1. Add ClusterPodPresets
2. Find solution for secret management

[2020-04-27 11:24] discordianfish commented on #4934
Can confirm this. Happens to me when trying to upgade from 1.0.0 to 1.0.2. Seems to happen with almost? all Application resources:

- application.app.k8s.io/api-service
- application.app.k8s.io/persistent-agent
- application.app.k8s.io/pipelines-ui
- application.app.k8s.io/pipelines-viewer
- application.app.k8s.io/pipeline-visualization-service

All due to `MatchExpressions:[]v1.LabelSelectorRequi

[2020-04-27 13:11] tomalbrecht commented on #4386
This error should be solved with v1.0.1. I was able to install kubeflow 1.0.1 without this error.

[2020-04-27 13:36] discordianfish opened #4981 "Support marking PodDefaults as mutually exclusive"
/kind feature

**Why you need this feature:**
We have PodDefaults for the notebook spawner that set an IAM role annotation. If a user selects both by accident, it causes the notebook to become unschedulable due to both PodDefaults trying to set the same annotation.

**Describe the solution you'd like:**
There should be an annotation that groups PodDefaults. The form validation in the UI should pre

[2020-04-27 16:00] discordianfish opened #4982 "Support dynamical updates to the jupyter-web-app's image list"
/kind feature

**Why you need this feature:**
I want to automatically add new images we build to jupyter-web-app's image dropdown menu.

Currently this is configured in the jupyter-web-app-config config map. The only way to update this in a way that doesn't break on updates is by using a custom overlay but that's not suitable for dynamic/automated updates.

**Describe the solution you'd like:**
I'

[2020-04-27 18:16] #4160 closed

[2020-04-27 19:05] maganaluis opened #4983 "Multiple Teams & Multi-User Kubeflow Support"
/kind feature

**Why you need this feature:**
In our scenario we have limited IP space, and have multiple teams (Say over 50+) who would like to use Kubeflow, each team is composed of 5-10 users. We already have a Kubernetes cluster and would like to set up Kubeflow on a namespace per team basis.

**Describe the solution you'd like:**
A way to isolate the Kubeflow components behind an ingress cont

[2020-04-27 22:22] lalithvaka commented on #4889
If I understand right, this is for multi user isolation use case.
Here is how I would see this working as.
1. An admin creates a profile using YAML
2. Add all users participating in the profile as contributors
3. If any of theses users coming to the platform(Kubeflow) for the first time and is already a contributor to at least one they should not be asked to create a profile.
4. Creating an indivi

[2020-04-28 01:00] jlewi commented on #4215
@discordianfish see the discussion in:
https://groups.google.com/g/kubeflow-discuss/c/whS_j4RlEJo

And related issue kubeflow/manifests#1136

I think the direction we are moving towards (at least for GCP) is to do namespace setup declaratively. Then its easy for platform teams to customize it for their specific needs by adding resources to packages that they duplicate.

Does that work for you?

[2020-04-28 01:01] jlewi commented on #4936
As @yanniszark has mentioned elsewhere should we just update the caller code to do a subject access review check?

[2020-04-28 01:48] mathetes87 opened #4984 "Unable to access kubeflow dashboard when following AWS end-to-end"
Hello, I'm very new to Kubernetes and I'm having some trouble following the AWS end-to-end guide.

When following the installation guide described in [aws-e2e](https://www.kubeflow.org/docs/aws/aws-e2e/), everything seems to go well until the point were I actually deploy kubeflow using cognito template manifest.

When deploying I had some errors because the autogenerated role names were too long w

[2020-04-28 09:14] avolution commented on #4695
[keep open]

[2020-04-28 10:57] yanniszark commented on #4695
@avolution would you be interested in contributing this feature?
It's definitely good to have, but I'm not sure if there are available cycles to implement it at the moment.

[2020-04-28 14:37] discordianfish commented on #4215
@jlewi Hrmm.. it depends on the specifics, but let's discuss that in kubeflow/manifests#1136 and close this for now.

[2020-04-28 14:37] #4215 closed

[2020-04-28 15:13] marwan116 commented on #4972
@Jeffwan - in short, I can't visit the dashboard and I attempted the deployment on a clean cluster. - any suggestions on debugging this ?

As an aside - I saw this in the documentation:

"The installation tool uses the eksctl command and doesn’t support the --profile option in that command. If you need to switch role, use the aws sts assume-role commands."

I tried creating the cluster as a root u

[2020-04-28 15:21] marwan116 commented on #4835
@sssyyw @jiuntian were you able to resolve that cert-manager.io issue? I am facing the same ordeal ...

[2020-04-28 18:24] marwan116 commented on #4972
calling ` kubectl get apiservice v1beta1.webhook.cert-manager.io` gives the following

[code]

AVAILABLE = False(MissingEndpoints) - any idea why that is ?

[2020-04-28 18:55] yanniszark commented on #4960
Doc: https://docs.google.com/document/d/11Xi-I2OqJvUuy_Zg0NskMF9GmworRDJhlu68poDgK5c/edit?usp=sharing

[2020-04-28 19:04] marwan116 commented on #4806
I am facing a similar issue deploying kubeflow on AWS - EKS (https://github.com/kubeflow/kubeflow/issues/4972)

Trying to follow the above-suggested steps at debugging this:

Running
```kubectl get apiservice v1beta1.webhook.cert-manager.io``` gives the following
[code]

- any suggestions ?

[2020-04-28 19:45] marwan116 commented on #4972
@Jeffwan - interesting so I managed not to get the cert-manager.io error this time around, I only got a single warning and `kfctl apply -V -f ${CONFIG_FILE}` seems to have worked and I can access the dashboard ...

The only change I made is that before I was provisioning a single t3.medium instance in my nodegroup when I create the cluster - I changed this to 3 node instances ...

However the dash

[2020-04-28 19:59] marwan116 commented on #4972
The output from `kubectl get ingress -n istio-system` is still the same, however:

[code]

[2020-04-28 20:16] btphan95 opened #4985 "Pipelines Quickstart Error: HttpError 401"
Error

Question:
Hi, I am just getting started with Kubeflow Pipelines.

I have successfully deployed Kubeflow v1.0.0 to GCP using the UI. However, when I try to run one of the samples: ML - XGBoost - Training with Confusion Matrix, I get the following error:
`This step is in Failed state with this message: failed with exit code 1`

The logs contain this:
`raise HttpError(resp, content, uri=self.u

[2020-04-28 20:58] twittidai commented on #4972
what does kubectl describe the webhook apiservice say?

[2020-04-28 21:05] marwan116 commented on #4972
[code]

[2020-04-28 21:09] twittidai commented on #4972
the apiservice looks fine.
I see a db error above, can you describe that one?
Once I saw something similar and it was about an error in persistent volume provider

[2020-04-28 21:15] marwan116 commented on #4972
Thank you for taking the time to help -  I presume you are asking about the "katib-db-manager" - not sure what to make of this, to be honest, please see the output below...

[code]

[2020-04-28 21:20] twittidai commented on #4972
its not ready - any logs?

[2020-04-28 21:23] marwan116 commented on #4972
[code]

[2020-04-28 21:31] twittidai commented on #4972
Guess you run into this.
https://github.com/kubeflow/katib/issues/696

[2020-04-28 22:51] jkim711 opened #4986 "MiniKF install error"
/kind bug
MiniKF install error
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Downloaded MiniKF using Vagrant
Vagrant up was successful
http://10.10.10.10 didn't show terminal so I connect through 'vagrant ssh'
entered the command 'minikf' to initiate the installation.
It got stuck in the following state

[2020-04-29 01:32] marwan116 commented on #4972
Ok I got it working - I changed the cluster configuration to:

[code]

basically all I did was upsize the instance from t3.medium to m5.xlarge - the cert-manager.io warnings are still there but they get resolved (i.e. dont end up in an error being thrown) and the ALB-ingress controller that was shown above as pending and the katib-db as failing were both crashing due to insufficient pods.

Note: I

[2020-04-29 02:35] shravspy opened #4987 "OAuth Authorized redirect URIs"
When I try to edit newly created OAuth credential and click the pencil icon. I go to Authorized redirect URIs box and update it with link in document with my client id and press return key, I do not see  the URI  as confirmed item under Authorized redirect URIs. (The URI should no longer be editable.) URI is still in editable phase. Hence I sm not able to redirect to  Kubeflow dashboard once my pr

[2020-04-29 06:34] jithinvalsalan commented on #4980
oss@master:~$ kubectl logs  centraldashboard-869f55ddbd-rsrw9 -n kubeflow

Initializing Kubernetes configuration
Unable to fetch Nodes { kind: 'Status',
  apiVersion: 'v1',
  metadata: {},
  status: 'Failure',
  message:
   'nodes is forbidden: User "system:serviceaccount:kubeflow:centraldashboard" cannot list resource "nodes" in API group "" at the cluster scope',
  reason: 'Forbidden',
  details

[2020-04-29 07:31] kimwnasptd commented on #4712
I can see the following three problems that currently exist in the jupyter web app and the notebooks controller that result to this UX:

1. JWA determines the state of a Notebooks by looking **only** the `containerState` in the Notebook CR
3. The Controller sets the container state, in the Notebook CR's status, to the value of the first container which most of the time is an istio sidecar containe

[2020-04-29 07:56] supernan1994 opened #4988 "Workflow temporary error "controller is not configured with a default archive location""
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
1. Install kubeflow by kfctl.
2. Run tutorial [DSL](https://github.com/kubeflow/pipelines/blob/743746b96e6efc502c33e1e529f2fe89ce09481c/samples/tutorials/DSL%20-%20Control%20structures/DSL%20-%20Control%20structures.py#L35) for several time.
3. Workflows occur error sometimes: "controlle

[2020-04-29 08:54] supernan1994 commented on #4988
An Argo was created when k8s cluster was initialized, the Argo was created in a namespace called `argo`. Delete the namespace makes all workflow work successfully.

[2020-04-29 09:23] gethinzhang opened #4989 "scheduledworkflows and argo cronjob plans"
/kind question

**Question:**
Hi，
Argo project has provided [cronjob](https://github.com/argoproj/argo/blob/3441b11aa5bde5fa5d0a6652fbb8fa05a4225686/docs/cron-workflows.md) since V2.5， this is kinda of conflicts with kubeflow scheduled workflows, Does develop team has plans to upgrade to cronjobs, or keep using scheduled jobs?
thanks

[2020-04-29 13:02] vijayb47 commented on #4806
Facing the same issue in GKE. Unfortunately, updating kube-apiserver.yml workaround doesn't work for me as I don't have access to master nodes in GKE.

[2020-04-29 13:36] #4972 closed

[2020-04-29 15:37] Jeffwan commented on #4972
If you use kfctl_aws.yaml now, this has been deleted due to security reason. You have to port-forward to access central UI now

[2020-04-29 15:39] Jeffwan commented on #4972
Seems you get limited resource and alb pod was not up. Yeah. I create an issue to track this request. https://github.com/kubeflow/website/issues/1929

[2020-04-29 15:40] marwan116 commented on #4972
@Jeffwan - Thank you for clarifying this - I think the documentation (https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/#access-kubeflow-central-dashboard) should be updated accordingly to reflect this change.

[2020-04-29 15:43] Jeffwan commented on #4972
That has been updated. We give two options for `kfctl_aws` and `kfctl_aws_cognito`

[2020-04-29 15:46] Jeffwan commented on #4835
v1.0.2 has been released. Please try v1.0.2 and I will close this issue. Feel free to reopen if you still have problems on installation,

#4972  has been resolved .

[2020-04-29 15:46] #4835 closed

[2020-04-29 17:47] twittidai commented on #4806
I can confirm now that putting the CIDR range of k8s cluster in no_proxy works for this problem.
IT should be put in no_proxy in any files in /etc/kubenetes/manifest/kube-*.yaml

[2020-04-29 18:51] jlewi commented on #4989
/cc @jessiezcc @IronPan @paveldournov

[2020-04-29 18:52] jlewi commented on #4988
/cc @jessiezcc

[2020-04-29 18:55] jlewi commented on #4863
#4789 is tracking continuous builds.

[2020-04-29 18:55] jlewi commented on #4789
@Tabrizian any progress on this?

[2020-04-29 19:38] #4648 closed

[2020-04-29 22:40] btphan95 commented on #3936
This was super informative and helpful! Funny too haha

[2020-04-29 22:58] btphan95 commented on #3936
I tried increasing my quota for the number of CPUS for my account, and promptly got approved. This helped me circumvent the error.

[2020-04-30 02:42] denkensk opened #4992 "Can we support k8s 1.16？"
/kind question

**Question:**
I find it says that `Kubeflow does not work on Kubernetes 1.16.` in the doc https://www.kubeflow.org/docs/started/k8s/overview/#minimum-system-requirements.

will you be supporting k8s 1.16 anytime soon?

[2020-04-30 02:43] denkensk commented on #4992
\cc @openrory @saschagrunert!

[2020-04-30 07:21] saschagrunert commented on #4992
I'm working now on 1.16 for weeks and the only issues I noticed so far are related to container runtimes and custom configuration. I think we should state that it supports 1.16. We could also verify that it works with 1.18 because that's what I would expect.

[2020-04-30 07:28] denkensk commented on #4992
Thanks for your response. Can we update the doc in `https://github.com/kubeflow/website/blob/master/content/en/docs/started/k8s/overview.md` to state it compatible? @saschagrunert

[2020-04-30 07:35] saschagrunert commented on #4992
Here we go: https://github.com/kubeflow/website/pull/1933

[2020-04-30 18:03] vladislavkoz commented on #4958
I'm getting the same issue even with the Python script. I've created a separate service account with access to all that is related to IAP. Could you please provide more details on how did you fix that?

[2020-04-30 19:26] Tabrizian commented on #4789
@jlewi Unfortunately, I didn't have time to work on this. It takes longer than I expected. I try to work on it during the weekend but don't count on me. Sorry.

[2020-04-30 20:11] yanniszark commented on #4975
/platform aws
/cc @Jeffwan

[2020-04-30 20:14] yanniszark commented on #4924
@abdulsalama I haven't checked this scenario but it sounds like a bug in the CentralDashboard or KFAM.
Can you provide instructions to reproduce? (e.g., how you created the Profiles)

[2020-05-01 01:01] jlewi commented on #4789
No worries thanks for the update.

[2020-05-01 02:42] sachua commented on #4915
@Jeffwan thank you!

[2020-05-01 02:42] #4915 closed

[2020-05-01 11:32] yuzisun opened #4993 "Add E2E test in kubeflow setup for KFServing"
/kind feature

**Why you need this feature:**
[Is your feature request related to a problem? Please describe in details]
We'd like to have e2e test in kubeflow setup since the installation is different from kfserving standalone.

**Describe the solution you'd like:**
[A clear and concise description of what you want to happen.]
An example e2e test can be found here https://github.com/kubeflow/kfse

[2020-05-01 17:02] #2969 closed

[2020-05-01 20:43] jbottum commented on #4986
@jkim711 @cspavlou Hi Jkim711, did you try to restart your implementation ?   Is this still open?

[2020-05-01 20:43] Jeffwan commented on #4975
@asahnovskiy
kfctl_k8s_istio.v1.0.2.yaml manifest doesn't support multi-user, that's the reason you don't see it.

Feel free to use following manifest based on your needs.
- kfctl_aws_cognito.v1.0.2.yaml
- kfctl_istio_dex.v1.0.2.yaml

[2020-05-01 22:11] abdulsalama commented on #4924
thanks @yanniszark for following up.

In that specific case, one profile was created through the onboarding process. The other one was created using kubectl:
kubectl apply -f profile.yaml

where profile.yaml is something like this:
apiVersion: kubeflow.org/v1beta1
kind: Profile
metadata:
  name: profile1
spec:
  owner:
    kind: User
    name: foo@example.com

[2020-05-02 01:11] jkim711 commented on #4986
Yes. I tried several times. I should try again to connect to 10.10.10.10 using chrome instead of IE.
I am behind a corporate firewall using a proxy. I did set the Vagrant proxy environment variables.
Are there potentially other public network connections made during the installation?

[2020-05-02 01:32] jkim711 opened #4994 "MiniKF install error"
/kind bug
MiniKF install error
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I connected to http://10.10.10.10 and started the installation but at the final steps the computer CPU usage reaches very high and the PC freezes

**What did you expect to happen:**
I expected the MiniKF to install properly

**Anything else you would like to add:**
[M

[2020-05-02 11:35] harshalmittal4 commented on #4725
Hi, I would like to work on this issue, is this issue still available?

[2020-05-02 12:59] paxinos commented on #4538
Is there a resolution to this problem?   I see the same permission errors as stated above.

[2020-05-02 14:53] #4400 closed

[2020-05-02 14:58] TravRan opened #4995 "Install Kubeflow on Existing GKE Cluster"
Is there a way to install Kubeflow on a GKE cluster I deployed via KCC? In researching I see you can use KfGcpPlugin to specify some of the DM configs. It would be nice to have an option to say skip the GKE deployment and reference an existing GKE deployment.

[2020-05-02 22:11] jlewi commented on #4995
This is not well supported today. If you have an existing GKE cluster you can follow the instructions for installing on an existing Kubernetes cluster to deploy Kubefow on to it.

The downside of that approach is that you won't create any of the GCP resources you need.

The blueprints which are currently WIP should be more composable.
https://github.com/kubeflow/gcp-blueprints

With the blueprint

[2020-05-02 23:02] lvbaouu opened #4996 "kubeflow cannot connect to a notebook server (takes forever)"
I have been following this blog (https://codelabs.developers.google.com/codelabs/cloud-kubeflow-minikf-kale/#3) to try to set up a pipeline from kubeflow. What should I do other than waiting?

But it has been over an hour to set to connect to a notebook server (please see attached screenshow):

<img width="970" alt="Screen Shot 2020-05-02 at 6 59 32 PM" src="https://user-images.githubusercontent.c

[2020-05-02 23:18] jlewi commented on #4996
@lvbaouu Can you check the status of the notebook resource, statefulset, and pods?

Chances are the pod for your notebook is stuck in a pending state for some reason. If you use `kubectl` to look at the pod it will probably provide information on why the pod is pending.

[2020-05-03 01:13] jlewi commented on #4570
@animeshsingh Can we close this issue?

[2020-05-03 01:25] jlewi commented on #3490
i'm closing this issue because I think the path forward is to remove the kustomization magic as noted in kubeflow/manifests#774.

@xaniasd you can still optionally use overlays. This functionality is provided by kustomize. So you would just use kustomize rather than relying on kfctl to dynamically generate kustomization.yaml files.

[2020-05-03 01:25] #3490 closed

[2020-05-03 01:37] lvbaouu commented on #4996
when i tried the same process on another computer. it got connected very fast...

[2020-05-03 19:39] TravRan commented on #4995
I'm trying to remove the PlugIns from kfdef, which includes KfGcpPlugin. After doing that and creating the IP address, IAM Bindings, cluster, and storage; below is the error I'm seeing when running kfctl. I'm wondering if this error has anything do with what I did or not. I see a lot of people have seen this problem recently.

WARN[0291] Encountered error applying application cert-manager:  (kubef

[2020-05-03 21:42] jhagege commented on #4968
Hi, did you find a solution ?
Thanks.

[2020-05-04 03:09] animeshsingh commented on #4570
/close

[2020-05-04 03:09] #4570 closed

[2020-05-04 06:45] yosit commented on #4955
Today, kfp an katib are two separated components. I was surprised to see that when katib runs a trial it is not shown in the experiments in kfp. I would argue that there is a duplication of capabilities between the two that needs to be consolidated.
We should have a generic way to run an experiment/trial -that should be used by both Katib, notebooks and kfp.
As a user regardless of how a trial/exp

[2020-05-04 06:56] animeshsingh commented on #4955
+1. I have been advocating for it for long. That's how most of the Data and ML projects are architected top-down, and services which are similar should be made common across components, which means one experiment tracking engine, one concept of "jobs/runs", and a common metadata engine.

[2020-05-04 06:57] asahnovskiy commented on #4975
I got it. Thanks.

[2020-05-04 06:57] #4975 closed

[2020-05-04 08:13] emilecaron commented on #4790
I'm having similar issue here. What specific permission should be set on the service account ?

[2020-05-04 14:27] jlewi commented on #4995
This looks like kubeflow/manifests#1121
Just try rerunning apply after waiting a biit to give certmanager time to startup.

[2020-05-04 14:48] jlewi commented on #4955
Does

imply

I agree metrics and logs should be consolidated in a central place. I'm not sure that means we should have a "generic" way to run hyperparameter tuning and pipelines.

Pipelines and Hyperparameter tuning are different enough that the corresponding resources should be different; e.g. with an HP job you need to specify a search space.

Borrowing a page from Kubernetes. I think we need a

[2020-05-04 15:31] jlewi commented on #4983
@maganaluis Kubeflow already tries to support this scenario but letting each team consume Kubeflow in their own namespace.

The components that are in the kubeflow namespace (e.g. the controllers and UI) run as multi-tenant services and implement appropriate auth checks.

Not all Kubeflow applications support multi-user yet (pipelines being one of the big ones).

Can you describe what features are

[2020-05-04 15:32] jlewi commented on #4992
Duplicate of kubeflow/manifests#375

[2020-05-04 15:32] #4992 closed

[2020-05-04 15:48] maganaluis commented on #4983
@jlewi Thank you for the reply, pipelines would the one we are looking at as well as KFServing. I still have to do more research on this, although I know there is people working on pipelines https://github.com/kubeflow/pipelines/issues/1223 and as of now there is support to add contributors to a specific profile/namespace, which we are looking to leverage.

I would be interested in installing from

[2020-05-04 16:06] jlewi commented on #4983
You might want to track either kubeflow/pipelines#1223 and kubeflow/pipelines#3645 to see when the multiuser changes are available on master.

@animeshsingh @yuzisun @ellis-bigelow what is the status of multiuser support for KFServing?

[2020-05-04 16:11] ellis-bigelow commented on #4983
I'm not entirely familiar with this. Does this effectively mean deploying the operator to a single namespace?

[2020-05-04 16:20] TravRan commented on #4995
I figured out the issue with cert-manager. Since I'm using a private GKE cluster I had to open up a firewall. My deployment completed and I was able to get almost everything working. Just one of the backend services for Envoy-Ingress is unhealthy. I'm wondering if the issues with the pods in the screenshot below is why.

![image](https://user-images.githubusercontent.com/60673895/80988369-07798900

[2020-05-04 16:26] jlewi commented on #4995
No the pipelines viewer issue would likely not cause the envoy-ingress backend to be unhealthy.

You meant want to check out the troubleshooting guide.
https://www.kubeflow.org/docs/gke/troubleshooting-gke/

[2020-05-04 16:32] aronchick commented on #4955
+1 to @jlewi - we should have a broad structure we all agree on, but then let specific frameworks define whatever they want inside it

[2020-05-04 19:06] yosit commented on #4955
When a hyperparameter runs an instance of on trial - it could essentially launch a pipeline with parameters.
A pipeline could include one step to train a model but could possibly have multi-step with data prep or take into account the parameters when querying for data and then do a training session.

At the end of the day - an instance of a trial is just executing something we document (parameters

[2020-05-04 20:10] swiftdiaries commented on #4725
Hi @harshalmittal4
There are a bunch of issues with the [existing mnist notebook](https://github.com/kubeflow/examples/blob/master/mnist/mnist_vanilla_k8s.ipynb).
This issue has some context: https://github.com/kubeflow/examples/issues/748
It'd be cool if we can get those addressed.
Vanilla k8s does need some additional examples (something other than mnist).

[2020-05-04 20:16] TravRan commented on #4995
I was able to get the backend healthy by updating the health check to actually use the status-port instead of the http2 port. Onto my next issue. Now when I log into kubeflow it give me this error. Origin authentication failed. I'm thinking it has to do with IAP. I'm seeing the errors below in backend-updater-0 iap-enabler-XX. I'm also thinking this may just be due to a version mismatch. What is t

[2020-05-05 00:20] jbottum commented on #4980
@vkoukis Hi Vangelis, could you please have someone look a this for our friends at Redhat ?

[2020-05-05 00:26] jbottum commented on #4974
@soumochak83 Hi, did you get this resolved.   Do you need to run on Kubeflow 0.5.   I think you will get more consideration if you could run on Kubeflow 1.x

[2020-05-05 08:03] cheesev commented on #4806
It isn't solve my problem..

[code]

[2020-05-05 09:26] kaikun213 commented on #4080
I believe you can connect to the jupyter notebook server via ssh tunneling. E.g.

[code]

[2020-05-05 09:44] kaikun213 opened #4997 "Remotely connect to the Kubeflow Dashboard UI via ssh"
/kind question

**Question:**
I setup microk8s with dns, dashboard, storage and kubeflow enabled on a local workstation.
I am trying to connect to that server and access the Kubeflow Dashboard UI remotely via ssh.

I was able to access a jupyter notebook via ssh tunneling:
[code]
but it is not able to access the ambassador xip.io domain.

I tried to use port forwarding to publish the sites on loca

[2020-05-05 11:38] #4691 closed

[2020-05-05 13:31] Bobgy commented on #4803
/close
Kubeflow 1.0.2 has picked up cherrypicks of this fix.

[2020-05-05 13:31] #4803 closed

[2020-05-05 16:19] yanniszark commented on #4689
/remove-lifecycle stale
/cc @kimwnasptd

[2020-05-05 18:19] jlewi commented on #4995
IAP backend origin authentication usually means the JWT policy validating the IAP token isn't valid or unset.

You can try kicking the backend updater pod
https://github.com/kubeflow/manifests/blob/825d3eae229560398d76b71b50c2e6ab82828d22/gcp/iap-ingress/base/stateful-set.yaml

The JWT policy is based on the backend id which could change if your ingress gets recreated if you force that pod to rest

[2020-05-05 18:30] TravRan commented on #4995
I was able to get everything working! After digging into the code a little I found out removing the GCP plugin altogether was a bad idea. Workload Identity = true actually triggers a lot more than just SA creation. Creating the KSA's and binding are a couple of things as well as much more. Instead what I did was keep the plugin stuff in the kfdef. DM just acquired the objects I deployed. This allo

[2020-05-05 22:25] jbottum commented on #4986
@jkim711 Hi Jkim711, this sounds like a firewall issue.    Can you potentially try in a configuration without the firewall (or potentially MiniKF in the GCP marketplace) ?

[2020-05-06 00:50] jbottum commented on #4914
@pdmack hey pete, can you please relay this to the appropriate folks, thanks.

[2020-05-06 01:02] #4697 closed

[2020-05-06 02:46] Bobgy commented on #3866
/reopen
because https://github.com/kubeflow/kfctl/issues/296 was reverted

[2020-05-06 02:46] Bobgy commented on #3866
The new proposed solution is in https://github.com/kubeflow/kfctl/issues/296#issuecomment-621696080

[2020-05-06 05:28] knave07 opened #4998 "Multiple Users/Google-Group as Cluster Admin"
/kind question

**Question:**
We have multiple users who would like to try Kubeflow and have spun up a new Kubernetes cluster for Kubeflow. We want this cluster to be managed by a team that will be the cluster-admin as well.
So Is it possible to add multiple-users as cluster-admin?  or a google group as a cluster-admin? or you guys have any plan for adding this feature.
I guess in the current scen

[2020-05-06 06:41] atharva-18 commented on #4994
Can you please share your VM config and memory usage during the installation process? A brief look at the log file tells me that it might be a memory issue since MiniKF couldn't provision Docker, Minikube and Kubeflow.
At line 979 -
`[INFO] Welcome to the MiniKF Provisioning tool.\n\nAbout to provision:\n* Docker\n* Minikube\n* Kubeflow\n* Rok\n\nThis can take up to 30', depending on the quality o

[2020-05-06 06:55] munagekar opened #4999 "Cannot manage Contributors for Multiple Profiles"
/kind bug

**What steps did you take and what happened:**
I have am the owner for a profile called `munagekar`. I created another profile called `team-a`

[code]

Now I am unable to manage contributors for my profile `munagekar` from the Kubeflow Manage Contributers UI. In fact I am contributer for `munagekar` and owner for `teamA` as per kubeflow UI. I can manage contributers for `teamA` from UI.

[2020-05-06 06:59] munagekar commented on #4999
If Anyone is Facing this problem. You can create a rolebinding in namespace instead of using UI to manage contributers.

[code]

[2020-05-06 10:26] ricpet opened #5000 "Seldon Core Serving simple example"
/kind bug

**What steps did you take and what happened:**
I am following the Simple example available [here](https://www.kubeflow.org/docs/components/serving/seldon/) and when I try to create SeldonDeployment I get the following error:

[code]

Any help? idea?

**Environment:**

**- Kubeflow version:** Kubeflow 1.0
**- Kubernetes platform:** microk8s 1.18/stable
**- Kubernetes version**: Client Ve

[2020-05-06 10:36] Kyrremann commented on #4737
just wanted to say that this has been solved in kubeflow v1.

[2020-05-06 10:36] #4737 closed

[2020-05-06 11:05] yanniszark opened #5001 "profile-controller: Show applied plugins in status"
/kind feature

Spinned off from https://github.com/kubeflow/kubeflow/issues/4588.

**Why you need this feature:**
Provide a way to report what plugins are applied for a profile.
Plugins that don't get any input from the user shouldn't appear in the Plugins array.

**Describe the solution you'd like:**
The profile controller should report the plugins it has applied in status.

/priority p2
/area mu

[2020-05-06 11:06] yanniszark commented on #4588
I opened this thread to track showing applied plugins in status:
https://github.com/kubeflow/kubeflow/issues/5001

I don't think it's necessary to open a thread for a mutating admission controller now.

/close

[2020-05-06 11:06] #4588 closed

[2020-05-06 11:23] yanniszark commented on #4987
/remove-area centraldashboard
/area auth

@shravspy I'm confused about where all of this happens.

This doesn't sound like a Kubeflow UI, so it seems that some context is missing.
Could you provide more information/context about what you are trying to do and what is failing?

[2020-05-06 11:47] yanniszark commented on #4924
@abdulsalama thanks for reporting!
I reproduced in my MiniKF.
After creating 2 profiles, the namespace selector was correctly showing me both of them:

![namespace_selector](https://user-images.githubusercontent.com/6123106/81172075-3a14b480-8fa6-11ea-921a-3058d450e1df.png)

However the contributor UI only shows allows managing contributors for 1 of them:
![contributor_ui](https://user-images.gith

[2020-05-06 11:58] yanniszark commented on #4998
/area multiuser
@knave07 Kubeflow currently doesn't support groups in its web apps.
See issue: https://github.com/kubeflow/kubeflow/issues/4188
However you can add permissions for each member separately to achieve the same effect.

For adding a member as cluster-admin, you can do that by creating a ClusterRoleBinding with `kubectl`.
Does this answer your question?

[2020-05-06 12:05] yanniszark commented on #4999
@munagekar I believe this is a duplicate of https://github.com/kubeflow/kubeflow/issues/4924
This is a contributor UI issue, see my comment https://github.com/kubeflow/kubeflow/issues/4924#issuecomment-624602349
/close

[2020-05-06 12:05] #4999 closed

[2020-05-06 12:06] yanniszark commented on #4983
I believe KFServing is based on K8s CRDs, so namespace isolation is already provided by the K8s API Server.

[2020-05-06 12:11] yanniszark commented on #4737
@Kyrremann how has this been fixed? Do you mean the JWA is not polling as much?
Or that Dex has changed its database?

[2020-05-06 12:14] knave07 commented on #4998
Thanks.
After adding user to ClusterRoleBinding(default admin) with kubectl, the web app still shows the same old cluster admin.

[2020-05-06 12:26] Kyrremann commented on #4737
Not sure what fixed it, but Dex manage to clean up its resources, so they don't build up.

[2020-05-06 13:39] jlewi commented on #4983
@yanniszark @ellis-bigelow what about controlling who can send requests to specific models? I would expect that's using ISTIO RBAC. Does KFServing let users control who can access models with ISTIO RBAC?

[2020-05-06 13:43] jlewi commented on #4995
@TravRan glad its working. It would be great to get your input on Kubeflow's KCC configs. They are currently stored [here](https://github.com/kubeflow/manifests/tree/master/gcp/v2/cnrm).

The complete blueprint for deploying with KCC is here
https://github.com/kubeflow/gcp-blueprints/tree/master/kubeflow

Any feedback would be greatly appreciated.

[2020-05-06 16:02] ellis-bigelow commented on #4983
We creates deterministically named virtual services under the hood for routing. Users can apply Istio RBAC rules to those virtual services to control access.

[2020-05-06 18:22] avdaredevil commented on #4924
Hi @yanniszark,

This is a known issue. Unfortunately, while this UI was being developed we were under the impression that there cannot be more than one owned namespace for a given user (hence no need to provide a selector for the namespace for which you would modify contributors).

I believe @Bobgy made an issue / PR on this, I'll let him elaborate on plans to implement this.

The backend is prim

[2020-05-06 19:00] yanniszark commented on #4924
@avdaredevil thanks a lot for the explanation and status update! :smile:
I found this issue that @Bobgy created: https://github.com/kubeflow/kubeflow/issues/4569
@Bobgy I think it's the same issue, if you agree let's close this as a duplicate.

[2020-05-07 03:29] Bobgy commented on #4924
@yanniszark Yes, this is a duplicate of #4569.
Let's continue the discussion there.
/close

[2020-05-07 03:29] #4924 closed

[2020-05-07 03:32] Bobgy commented on #4569
Update, I don't think I will have cycles to fix this either. Note that central dashboard UI is written in Polymer with web components. Someone with related expertise should be able to fix it a lot faster.

Some notes to how to develop: https://github.com/kubeflow/kubeflow/issues/4569#issuecomment-599857524
The specific page we need to fix is: https://github.com/kubeflow/kubeflow/blob/master/compon

[2020-05-07 07:36] goldwinner commented on #2325
这个链接已经失效，有更新吗？

[2020-05-07 10:03] krishnadurai commented on #3767
/lifecycle-frozen

[2020-05-07 10:59] hassanzadeh opened #5002 "KubeFlow"
Hello Guys,
I tried launched a KubeFlow cluster on GCP using CLI. I used the config from https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_gcp_iap.v1.0.2.yaml .
The first time I deployed everything was working, and I could access the dashboard from https://<KF_NAME>.endpoints.<project-id>.cloud.goog . However, after I deleted the cluster, and created again I could not ac

[2020-05-07 11:56] #5002 closed

[2020-05-07 13:59] abdulsalama commented on #4569
@yanniszark from the discussion on the other bug that we just closed as duplicate, you suggested this:
"@abdulsalama you can work around this by not using the Contributors UI to manage users."

What would be the alternative? I'm not aware of any other mechanism where I can add contributors to my profile other than the Contributors UI?

[2020-05-07 14:29] abdulsalama opened #5003 "Attach data volumes to multiple notebook servers"
/kind question

**Question:**
I noticed that a data volume can only be attached to one notebook server at a time. For example, if I create a server and attach dataVolume1 to it, then I try to create another notebook server and use existing dataVolume1, the creation will keep failing because it cannot mount dataVolume1. It will work only when you delete the first notebook server.

Is this by-design

[2020-05-07 14:42] jbottum commented on #5003
@abdulsalama @cspavlou Hey Abdul, thanks for your question.   Would you please provide a little more on the expected behavior?   Would both users be able to make changes at the same time?  Or could the second user create (and own) a mutable clone of the the volume and make changes to their clone?

[2020-05-07 16:12] abdulsalama commented on #5003
yeah I would expect both users to be able to make changes at the same time.

[2020-05-07 16:14] abdulsalama commented on #4569
ah do you mean creating the rolebinding manually?

[2020-05-07 16:33] jbottum commented on #5000
@cliveseldon Hey Clive - Is there someone at Seldon that might respond to this ?

[2020-05-07 16:48] cliveseldon commented on #5000
This looks like the seldon manager is not responding. We don't presently handle k8s 1.18 which I see you are running. Can you downgrade your microk8s to at least 1.17?
See: https://github.com/SeldonIO/seldon-core/issues/1678

[2020-05-07 17:28] reem opened #5004 "Email validation regex is too restrictive"
/kind bug

**What steps did you take and what happened:**

Attempted to add a contributor with an email address on a `.network` domain. Received "Contributor doesn't look like a valid email address"

**What did you expect to happen:**

User is added as normal.

**Anything else you would like to add:**

This regex: https://github.com/kubeflow/kubeflow/blob/master/components/centraldashboard/app/api

[2020-05-07 19:08] yosit opened #5005 "updating dex-config.yaml with new users based on the instructions kills the server"
/kind bug

**What steps did you take and what happened:**
following the instructions from here: https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/#add-static-users-for-basic-auth

Once you update the dex-config.yaml and restart deployment the cluster is unrecoverable. even when deploying the original dex-config.yaml

The logs say:
error parse config file /etc/dex/cfg/config.yaml: error unm

[2020-05-07 19:51] yanniszark commented on #3767
This should be fixed in the latest kfctl.
We changed the delete algorithm.
/close

[2020-05-07 19:52] #3767 closed

[2020-05-08 07:37] ricpet commented on #5000
Correct... it works fine on 1.17
Thanks for the feedback. It could be useful to update the documentation here https://www.kubeflow.org/docs/components/serving/seldon/

[2020-05-08 08:19] cliveseldon commented on #5000
Yes. I will create a PR.

[2020-05-08 08:26] cliveseldon commented on #5000
https://github.com/kubeflow/website/pull/1943

[2020-05-08 08:38] paulcarlton-ww opened #5006 "Authentication for kubeflow dashboard not working"
/kind bug

**What steps did you take and what happened:**
I installed kubeflow on an AWS EKS cluster using instructions at https://www.kubeflow.org/docs/aws/, I've tried specifying basic auth and cognito without success, I get no login prompt when I point browser at the url.

**What did you expect to happen:**

A login screen

**Anything else you would like to add:**
[Miscellaneous information tha

[2020-05-08 09:08] paulcarlton-ww commented on #5006
When I try to run taxi pipeline I get
[code]

[2020-05-08 09:16] paulcarlton-ww commented on #5006
When I access

[2020-05-08 10:12] yanniszark commented on #4998
@knave07 I understand that your issue was solved then?

[2020-05-08 15:56] yassine-labidi opened #5007 "Release versions discrepancy in the UI after upgrading from 0.6 to 1.0.2"
/kind bug

**What steps did you take and what happened:**
Upgrade kubeflow from `0.6` to `1.0.2` using the following manifest:
https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_k8s_istio.v1.0.2.yaml

**What did you expect to happen:**
The UI should display the appropriate version of the kubeflow install. Instead it displayed `dev_local`

**Anything else you would like to

[2020-05-08 17:08] jlewi commented on #5007
It looks like the code is using an environment variable to set the version.
It doesn't look like this environment variable is actually getting set in the manifest.
https://github.com/kubeflow/manifests/tree/master/common/centraldashboard

Which I think is why BUILD_VERSION is defaulting to dev_local

@avdaredevil is BUILD_VERSION used to set the commit in the UI.

[2020-05-08 17:50] jbottum commented on #5003
@abdulsalama I spoke to the Arrikto Rok engineers, RWX with notebooks is supported.    I am not sure if other storage solutions / storageclasses can support.   Please let me know if you would like a demo.

[2020-05-08 17:51] #3866 closed

[2020-05-08 18:36] avdaredevil commented on #5007
Right, when the website-image is `built` not when it's `run` this enironment variable needs to be set. And the [Makefile](https://github.com/kubeflow/kubeflow/tree/master/components/centraldashboard/Makefile), and [make-win.ps1](https://github.com/kubeflow/kubeflow/tree/master/components/centraldashboard/make-win.ps1)

Here is the [line in the webpack build file](https://github.com/kubeflow/kubefl

[2020-05-08 21:31] jtfogarty commented on #4998
/priority p2

[2020-05-09 00:37] supertetelman commented on #3838
Thanks. I was able to modify that in the kustomize files, and that resolves some of the issues I've been seeing. But that still doesn't solve 100% of my use cases and passing through these values through the UI would still be ideal. I did have something doing this passthrough back in version v0.5, but it seems like a lot has changed.

[2020-05-09 02:17] knave07 commented on #4998
Yes. I could add cluster admins manually using kubectl.

[2020-05-09 18:48] jlewi commented on #5004
Did you try adding the user directly by creating appropriate RBAC and ISTIORBAC resources?

[2020-05-09 21:50] #4572 closed

[2020-05-09 22:51] jlewi commented on #4670
@polsm91 Can you try the CLI?

[2020-05-09 22:52] jlewi commented on #3650
https://github.com/kubeflow/gcp-blueprints
is now using ASM. So we just need to verify it works with private GKE and then we can close this issue.

[2020-05-09 22:58] jlewi commented on #4932
@joepeskett How does the firewall issues relate to this particular issue?

I think this issue might have nothing to do with private GKE. I suspect this is the same issue as kubeflow/manifests#1121 and is due to a race condition in which end up trying to create cert-manager resources before cert-manager is fully ready.

Duplicate of kubeflow/manifests/issues/1121

[2020-05-09 22:58] jlewi commented on #4932
Duplicate of kubeflow/manifests/issues/1121

[2020-05-09 22:58] #4932 closed

[2020-05-09 23:09] #4995 closed

[2020-05-11 06:03] dardanbekteshi opened #5008 "Possibility to install only a subset of the Kubeflow components (in a more user-friendly way)"
/kind feature

**Why you need this feature:**
I have been trying to install a minimal Kubeflow with only the components that I need. That is TFJob for training Tensorflow models, and KFServing for serving them. So I do not want to clutter my cluster with MySQL, Katib, PyTorch, Dashboards etc. if I do not plan to use them. It is very hard to get an overview of the installed components and also main

[2020-05-11 06:59] DesmondH0 commented on #3082
Just an update on this thread
I just followed @jrabiah steps to setup the kubeflow in shared VPC
And 1 thing was missing is we need to grant the `Compute Network Admin` to `${CLUSTER}-admin@clover-non-production.iam.gserviceaccount.com` in target VPC project

Otherwise istio would stuck with `origin authentication failed` and never pass the health check in GCP LB

[2020-05-11 11:22] edenbuaa opened #5009 "[ERROR]gateways.networking.istio.io "kubeflow-gateway" is forbidden"
/kind bug

**What steps did you take and what happened:**
`kfctl apply -V -f  kfctl_k8s_istio.v1.0.2.yaml`

then report error:

`WARN[0005] Encountered error applying application istio:  (kubeflow.error): Code 500 with message: Apply.Run  Error [error when creating "/tmp/kout283909133": configmaps "istio-parameters-t6hhgfg9k2" is forbidden: unable to create new content in namespace kubeflow becaus

[2020-05-11 11:22] #4635 closed

[2020-05-11 12:37] ConverJens opened #5010 "Sorry, /notebook is not a valid page"
/kind bug

**What steps did you take and what happened:**
Deployed kfctl_istio_dex.v1.0.2.yaml in an on-prem k8s cluster. Created a notebook server through the centraldashboard notebook page successfully. Clicking on 'Connect' leads to
http://CLUSTER_IP:31380/notebook/admin/my-notebook
were error is shown.
Also, centraldashboard 'Recent Notebooks' also shows no notebooks in namespace even though t

[2020-05-11 12:43] ConverJens commented on #5003
@abdulsalama  Do you refer to the workspace volume or the data volume? What kind of volume are you using? Your issue probably depends on which storage class you are using.

I have used the same pvc as data volume for several notebooks simultaneously.

[2020-05-11 13:52] yanniszark commented on #4998
Great, closing then...
/close

[2020-05-11 13:52] #4998 closed

[2020-05-11 13:54] jlewi commented on #4916
Thanks @vpavlin for the heads up.

[2020-05-11 13:54] #4916 closed

[2020-05-11 14:05] pdmack commented on #4914
/cc @vpavlin @jnakfour @crobby

[2020-05-11 14:06] pdmack commented on #4844
/cc @vpavlin @crobby @nakfour

[2020-05-11 14:08] pdmack commented on #4636
/cc @vpavlin @nakfour @crobby

[2020-05-11 15:02] polsm91 commented on #4670
@jlewi The CLI was working just fine; my issues were related to the UI deployment.

I just tried to deploy Kubeflow using the web UI and the same IAP credentials as last time, and now it works.

The first time I tried the GCE account was new and followed the [tutorial](https://www.kubeflow.org/docs/gke/gcp-e2e/). During these 3 weeks I have enabled other APIs and changed configurations too.

[2020-05-11 15:55] vpavlin commented on #4636
@razumv There is now a separate section for KF on OpenShift (https://www.kubeflow.org/docs/openshift/), but only target OpenShift 4.x.

OpenShift 3.11 is rather old at this point and I don't see anyone working on getting KF running there.

[2020-05-11 15:59] vpavlin commented on #4914
Hi @leela-uppuluri can you try to follow: https://www.kubeflow.org/docs/openshift/ ?

[2020-05-11 16:34] leela-uppuluri commented on #4914
@vpavlin I was following the same documentation and lately I realized that I have different version of kubernetes installed on openshift cluster which is incompatible with kubeflow.

[2020-05-11 17:21] abdulsalama commented on #5003
@jbottum thanks a lot Josh. yeah a demo would be great :)

[2020-05-11 17:24] abdulsalama commented on #5003
Data volume. hmm I don't think kubeflow gives any option to specify the kind of volume? So I'm just going with whatever the default.

Which pvc kind you used? would that depends on our configuration for the kubeflow installation?

[2020-05-12 05:40] edenbuaa commented on #5009
any suggestions?

[2020-05-12 05:44] dardanbekteshi commented on #5008
/area installation

[2020-05-12 06:37] xsatishx commented on #4985
Any update on this?

[2020-05-12 07:20] ConverJens commented on #5003
@abdulsalama First of all, where are you running KubeFlow (GCP, AWS, on-prem...)?

KubeFlow does not provide any volumes by itself, it is just a collection of services running in kubernetes. So any storage needs to be configured in Kubernetes. You should probably check with whoever is managing you kubernetes cluster what kind of storage you have access to. I think it would be helpful for you to re

[2020-05-12 15:59] LaynePeng opened #5011 "Operator for FATE - Federated Learning"
/kind question

**Question:**
We are from VMware, and working on Federated Learning areas. Currently we are collaborating with Webank on FATE (https://github.com/FederatedAI/FATE ). For easier to run Federated Learning on Kubernetes, we are building a operator to submit learning job as well as deploy FATE cluster. The first version have done, and ready to show. We would like to contribute the work

[2020-05-12 16:34] Jeffwan commented on #5011
Submit a PR to community proposal here https://github.com/kubeflow/community/tree/master/proposals

[2020-05-12 17:26] yanniszark commented on #5009
@edenbuaa the error logs give a hint about what is going on:
[code]

The namespace `kubeflow` is being terminated so create fails.
You have to wait until the namespace is deleted and then apply with `kfctl`.
Does this solve your issue?

[2020-05-12 17:32] yanniszark commented on #5006
cc @Jeffwan

[2020-05-12 17:53] abdulsalama commented on #5003
@ConverJens I see, this helps a lot. I will take a deeper look into this. Thanks so much for the guidance :)

[2020-05-12 17:56] #4474 closed

[2020-05-12 17:56] #4727 closed

[2020-05-12 18:39] Jeffwan commented on #5006
@paulcarlton-ww basic auth doesn't work for AWS.  for cognito solution, do you see load balancer ready?

Could you give more details on this?

[2020-05-12 18:39] Jeffwan commented on #5006
/assign

[2020-05-12 19:21] hassanzadeh commented on #4769
That's completely false.

[2020-05-12 21:12] jbottum commented on #4974
@soumochak83 Is this still a valid issue or should we close this ?

[2020-05-12 22:31] anupash147 opened #5012 "cannot unmarshal object into Go value of type []json.RawMessage"
/kind bug

**What steps did you take and what happened:**
I am using the rest-api feature of pipelines. Simple GET's are good but when it comes to post with parameter eg
[code]
i keep getting the error
`{"error":"json: cannot unmarshal object into Go value of type []json.RawMessage","message":"json: cannot unmarshal object into Go value of type []json.RawMessage","code":3}`

**What did you expect

[2020-05-12 22:35] anupash147 commented on #5012
Note: the basic pipeline example mentioned in kubeflow documentation works flawlessly

[2020-05-13 00:13] #4709 closed

[2020-05-13 00:13] #4681 closed

[2020-05-13 00:34] rmgogogo commented on #3874
/assign Bobgy

[2020-05-13 02:22] edenbuaa commented on #5009
@yanniszark thank. I try to deploy again after deleting the ` namespace` and `istio-system`, then the following error was reported:
`WARN[0015] Encountered error applying application isltio-install:  (kubeflow.error): Code 500 with message: Apply.Run  Error error when applying patch:
{"metadata":{"annotations":{"kubectl.kubernetes.io/last-applied-configuration":"{\"apiVersion\":\"apps/v1\",\"kind\

[2020-05-13 02:53] Bobgy commented on #3874
This was already resolved in https://github.com/kubeflow/manifests/issues/891
/close

[2020-05-13 02:53] #3874 closed

[2020-05-13 03:27] #4720 closed

[2020-05-13 03:27] #4672 closed

[2020-05-13 03:27] #4702 closed

[2020-05-13 03:27] #4668 closed

[2020-05-13 06:27] #4711 closed

[2020-05-13 07:34] paulcarlton-ww commented on #5006
It all works either using istio ingress gateway configured as a load balancer in which case I can access kubeflow UI via my DNS name mapped to the AWS generated external address or using port forward with the ingress gateway configured as a node port. The problem is that I am not prompted to login and the user icon on the top right is grayed out. When I hover my mouse over this it says anonymous@k

[2020-05-13 11:21] paulcarlton-ww commented on #5006
When I configure it for cognito I set the istio ingressgateway to load balancer and can access it via external address or my kubeflow.pc.weaveworks-cx.com dns name. I've temporarily secured it by only allowing access from my IP address. @Jeffwan I'll add your ip to the security group and send you my configuration details if that helps to diagnose this issue.

[2020-05-13 16:27] #4666 closed

[2020-05-13 17:50] jbottum commented on #5003
@abdulsalama I have lined up a SME to discuss the current capability.  From there we can provide a demo and discuss what extensions may be needed.    Often we have time in the early mornings (8am PST).   Please let me know your preference.   josh.bottum@arrikto.com

[2020-05-13 18:58] Jeffwan commented on #5006
@paulcarlton-ww

`anonymous@kubeflow.org` is for kfctl_aws.yaml, cognito doesn't have this.
If you can visit load balancer from cognito setup, it will redirect you to cognito login page? What's the result?

[2020-05-13 19:40] blankenshipz opened #5013 "Service "kfserving-ingressgateway" is invalid error loop"
/kind bug

**What steps did you take and what happened:**
I'm trying to install kubeflow following the instructions [here](https://www.kubeflow.org/docs/gke/deploy/deploy-cli/) (kfctl_gcp_iap.v1.0.2.yaml)

I find myself stuck in a loop with this error:

[code]

**What did you expect to happen:**

I thought that installing by standing up a new cluster would work out of the box - is there something

[2020-05-14 03:59] wenmin-wu opened #5014 "support retry with parameter values of the previous run"
/kind feature

**Why you need this feature:**

My most use case of kubeflow is processing data for a target date and I get the target date by calling `datetime.now() - timedelta(days=n)`. Sometimes, the job failed and when I re-run it's already one day passed, and the `target_date` is not my expected.

**Describe the solution you'd like:**

Support `bash` or `python` injection for the input parame

[2020-05-14 05:44] MrXinWang commented on #2337
Hi guys, another status update about kubeflow on arm64, I have rebuilt some images in the kubeflow namespace to test whether the latest version of kubeflow can be run on arm64. Here are the results (Note that I did not include spark operator as its base image, i.e. spark, does not support arm64 so far):

[code]

To achieve this, I have raised some PRs about components support ([kfctl#318](https://

[2020-05-14 08:54] tomalbrecht commented on #4815
How does this solve the problem with `kfctl delete -V -f ${CONFIG_FILE}`
How do I delete the deployment?

[2020-05-14 09:05] soumochak83 commented on #4974
Hi Josh - I was still not able to run workflows in Kubeflow 0.5 on OCP
3.11. Will it run on OCP 4.3? Do you have any reference document to run
workflow on 4.3?

Thanks,
Soumo

On Wed, May 13, 2020 at 2:42 AM Josh Bottum <notifications@github.com>
wrote:

[2020-05-14 13:09] #4739 closed

[2020-05-14 17:43] paulcarlton-ww commented on #5006
I re set up cluster and deployed kubeflow, now it prompted me to create a user/namespace when I visited the ui the first time but still no authentication prompt

[2020-05-14 17:44] paulcarlton-ww commented on #5006
@Jeffwan I'm following the instructions at https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/
what am I doing wrong?

[2020-05-14 18:09] NikeNano opened #5017 "How are the RBAC roles set?"
/kind question

**Question:**
Where in the code base are the different RBAC roles set? I would like to be able to run a mpijob from the notebooks server but get problems with the permissions. I am new to RBAC roles and such but as far as I understand a custom ServieAccount(sa) is create and given the role of the `default-editor`. This role dont have the access to mpijob resources and I get the fol

[2020-05-14 18:10] NikeNano commented on #5017
FYI I will also create an example notebook to demonstrate it :)

[2020-05-14 20:26] #4753 closed

[2020-05-15 07:40] jkim711 commented on #4986
Hi entered in proxy settings through the shell to get it to work.

echo 'export http_proxy="http://xx.xx.xx.xx:8080"' >> ~/.bash_profile
echo 'export https_proxy="http://xx.xx.xx.xx:8080"' >> ~/.bash_profile
export http_proxy=http://xx.xx.xx.xx:8080
export https_proxy=http://xx.xx.xx.xx:8080

sudo su
echo 'Acquire::http::proxy "http://xx.xx.xx.xx:8080";' >> /etc/apt/apt.conf
echo 'Acquire::https::

[2020-05-15 13:56] paulcarlton-ww commented on #5006
@Jeffwan
Looking at the code it seems you also support oidc auth too, which is pretty much what I want. I might try that.

Also, now that I have configured a profile and associated it with an AWS iam user which I have registered using eksctl but because kubeflow has be down as an anonymous user in the UI I can't create a notebook in the profile's namespace.

However, on the up side, I have success

[2020-05-15 14:06] jlewi commented on #2337
@MrXinWang and @vielmetti  Could you please expand on the motivation for running on arm? In particular, given the motivation do we need to make all applications run on arm64 or only a subset of applications?

I tend to associate arm64 with mobile/edge computing devices. If edge is the scenario that you are targeting then that might indicate we only need/want to run some applications (e.g. those re

[2020-05-15 14:43] MrXinWang commented on #2337
Hi @jlewi! Firstly I totally agree with what you proposed, as I also tried to deploy the whole kubeflow to an Nvidia Jetson TX2 board and run the [object detection example](https://github.com/kubeflow/examples/tree/master/object_detection) for testing. It seems that the whole kubeflow is a little bit too heavy for it. What I observed is the training speed suffers a lot due to the speed (or computi

[2020-05-15 15:59] paulcarlton-ww commented on #5006
This is what my istio-ingress looks like
[code]

[2020-05-15 17:14] andreclaudino commented on #4142
I am having same bug here. Installed only kubeflow pipelines 0.5.1

[2020-05-15 17:32] andreclaudino commented on #4142
I am observing deployment *cache-server* and *proxy-agent* are not available:

[code]

It can't start because volume *webhook-server-tls* is not bound (in fact, it don't exist). This is related to this issue: https://github.com/kubeflow/pipelines/issues/3609

[2020-05-15 19:05] Erikzzz commented on #4813
I'm looking for a solution to this as well

[2020-05-15 19:11] yanniszark commented on #5008
@dardanbekteshi it seems that you have looked into this and gained some experience about what is necessary to install and what is not.
It would be awesome if you could make a PR to `kubeflow/website` with your findings, I would be glad to review.

[2020-05-15 20:29] Jeffwan commented on #5006
@paulcarlton-ww
Seems you are using custom domain name, have you checked this doc? https://www.kubeflow.org/docs/aws/aws-e2e/

[2020-05-15 20:34] holdenk commented on #2337
I'm planning at looking at Spark on arm64 for the Jetson myself. I might ping you to help validate @MrXinWang if that's ok?

[2020-05-15 21:27] pisymbol commented on #2337
So I run Spark on Pi but I would love to build a Jetson nano based cluster. We do a lot with the TX2 and NX.

[2020-05-15 21:47] dzungductran commented on #4650
@liuchintao, I am having the same issues, can you tell me the steps to resolve this issue?

[2020-05-15 22:01] MrXinWang commented on #2337
Awesome! Yes of course that is ok ;))

That is great :)))

[2020-05-16 05:12] #4736 closed

[2020-05-16 16:48] dzungductran commented on #3903
@jelwi Same here about configure MetalLB to access Kubeflow. It would be nice to have some of this documentation on Kubeflow site.

[2020-05-16 19:56] jlewi commented on #2337
I wasn't necessarily advocating that we focus on edge. I was trying to clarify whether the intent was to make all of Kubeflow or just certain parts of it run on Arm.

[2020-05-16 20:20] jlewi commented on #4730
@andreyvelich Is this issue still relevant?

[2020-05-16 20:20] jlewi commented on #3657
@kimwnasptd What's the status of E2E testing for the jupyter web app? Are we running and reporting the e2e test results?

[2020-05-16 21:55] holdenk commented on #2337
I think it would be ok to only support some components on arm? We could assume that any arm k8s cluster would probably have an x86 chip available for them, but if all the components can be made to run on arm no reason not to.

[2020-05-16 22:49] jlewi commented on #5011
I would also suggest emailing kubeflow-discuss@googlegroups.com and perhaps presenting at one of the upcoming community meetings to promote your work and discuss how to integrate it with Kubeflow.

[2020-05-16 22:50] jlewi commented on #5011
@LaynePeng what sort of help, collaboration, integration are you looking for? It sounds like you already have a FATE operator built. Is this already public somewhere?

[2020-05-16 22:52] jlewi commented on #5010
@ConverJens have you searched GitHub for similar issues? This is likely an issue with your networking / ISTIO and similar issues in the past might have helpful information on debugging.

/cc @johnugeorge  @yanniszark

[2020-05-16 22:54] jlewi commented on #5009
Kubernetes is complaining because you are trying to reapply and change some immutable fields. Is it possible to just delete everything and start over?

[2020-05-16 22:56] #5003 closed

[2020-05-16 22:57] jlewi commented on #5003
Closing this issue because I think @ConverJens comment above resolved it.

[2020-05-16 22:58] jlewi commented on #5000
Closing this issue because I think it is resolved by kubeflow/website#1943

[2020-05-16 22:58] #5000 closed

[2020-05-16 23:05] jlewi commented on #4969
The ISTIO Gateway is configured with a security policy that checks for a valid JWT that is attached by IAP. This is required to ensure traffic went through IAP.

So if you port-forward to the ISTIO ingress gateway you will get an authenticated error because you don't have a valid JWT.

You can check out the policy here.

[code]

You can check out the ISTIO docs to learn more about policies and how

[2020-05-16 23:06] jlewi commented on #4956
@rahcode7 Did that work can we close this issue?

[2020-05-16 23:09] jlewi commented on #4790
You should run

[code]

To see which account is activated and being used. To deploy Kubeflow you need project OWNER permissions.

To get-credentials just needs container-clusterViewer role
https://cloud.google.com/kubernetes-engine/docs/how-to/iam#predefined

But that will be insufficient for deploying Kubeflow.

[2020-05-16 23:12] jlewi commented on #4790
kfctl uses a combination of GCP go client libraries and shelling out to gcloud. I think the latter is just used to setup a KUBECONFIG entry.

The client libraries depend on the application default credentials. If you want to use your end user account credentials for application default you need to login using

``
gcloud auth application-default login
[code]

[2020-05-17 04:53] LaynePeng commented on #5011
Thank @Jeffwan and @jlewi . I have PR the proposal to community (https://github.com/kubeflow/community/pull/335). Yes, we have built a runnable version and going to book a timeslot in community meeting to demo. I found we can edit and add the demo plan in [Kubeflow Community Meeting Working Doc](https://docs.google.com/document/d/1Wdxt1xedAj7qF_Rjmxy1R0NRdfv7UWs-r2PItewxHpE/edit) . Or as your sugg

[2020-05-17 13:34] yanniszark commented on #5005
Hi @yosit!
I expect that you have an incorrect Dex config and the error message is indicative of that:
[code]
Can you provide your configuration here?

/remove-priority p1
/priority p2

[2020-05-17 21:58] andreyvelich commented on #4730
@jlewi We fixes problem with istio sidecar on Training Containers (https://github.com/kubeflow/katib/pull/1050), but we didn't add validation webhook to prevent users submitting Experiment in Kubeflow namespace.

Some of the users use Katib without other Kubeflow components, so they can submit Experiment in Kubeflow namespace.
In that situation, what do you think is the best way to handle it?
/cc

[2020-05-18 01:12] MrXinWang commented on #2337
@jlewi ok I understand :))) For me I would say it would be ok to only support some components on arm, but I will also try my best to support all of them.

[2020-05-18 05:48] tomalbrecht commented on #4813
@Erikzzz: see  kubeflow/manifests#974

[2020-05-18 09:26] ConverJens commented on #5010
@jlewi Thanks for the response. I've looked at all the similar issues that I can find, closest seems to be: https://github.com/kubeflow/pipelines/issues/1442. However, just like the last three comments on that issue, I'm on KubeFlow 1.0.X but the routing issue remains.

All other components (pipelines, artefacts, setting up notebook servers, etc) are working correctly and can be found through the

[2020-05-18 09:53] NikeNano commented on #5017
The information for this is available in [kubeflow/manifests/kubeflow-roles](https://github.com/kubeflow/manifests/tree/master/kubeflow-roles)

[2020-05-18 09:53] #5017 closed

[2020-05-18 10:26] yanniszark commented on #5017
@NikeNano we use aggregated ClusterRoles to define our default Roles in a composable way.
@krishnadurai has worked on this and I remember some great diagrams, @krishnadurai do you know if we have a website entry for this?
If not, it may be worth starting one and adding the existing material.

[2020-05-18 11:01] ettiee opened #5018 "Global PodDefault definitions"
/kind question

**Question:**
[You can ask any question about this project.]
Hi, is it possible to create global PodDefault resources? We want to define PodDefaults to apply to all users (so for all new namespaces)

[2020-05-18 11:39] yanniszark commented on #5018
Hi @ettiee !
This was discussed before in this issue: https://github.com/kubeflow/kubeflow/issues/4215
A couple of solutions were proposed, ranging from more generic to more specific.
I recall @jlewi 's proposal was to introduce `ClusterPodDefaults` in the image of `Roles`/`ClusterRoles`.
IMO that's a good way to move forward on this.
Personally I don't have the cycles for the implementation, but

[2020-05-18 12:13] cspavlou commented on #4986
Hi @jkim711 ,

MiniKF should work in an air-gapped environment. It turns out that there was a minor bug that made `kubelet` try to pull an already pre-pulled image. Will fix that in an upcoming release. Regarding proxy one could use the `vagrant-proxyconf` plugin and set `Vagrantfile` accordingly after vagrant init.

[2020-05-18 12:54] paulcarlton-ww commented on #5006
Tried this but still not getting any prompt for user authentication.
When I try testing the ui in cognitio it logs me in but then fails when it tries to hit https://kubeflow.pc.weaveworks-cx.com/oauth2/idpresponse?code=....

I can access kubeflow ui using http:// unauthenticated but when I try it with https:// it hangs

[2020-05-18 13:17] jlewi commented on #4661
@jtfogarty Any follow up on this? Are you still observing this problem?

[2020-05-18 13:20] jlewi commented on #4749
I don't know that we will fix this issue.

Per kubeflow/manifests#1136 I think we are moving away from profiles and bootstrapping namespaces using GitOps and declarative packages.

We are also moving to using Cloud Config Connector.
https://github.com/kubeflow/gcp-blueprints

So in this new world if you wanted to configure which GCP service account is bound to a KSA you would just modify the K8s r

[2020-05-18 13:22] jlewi commented on #4757
@kimwnasptd WDYT?

[2020-05-18 13:30] jlewi commented on #4900
I don't believe stalebot respects kubeflow/.github.  So we just need to fix the stale.yml configs for each repo. I fixed a bunch of them.

[2020-05-18 13:30] #4900 closed

[2020-05-18 13:52] jlewi commented on #4903
@jbottum can we close this?

[2020-05-18 13:59] jlewi commented on #4889
@lalithvaka Do you want to submit a PR making it configurable via a flag or an environment variable (which ever is more consistent with how it works today)?

[2020-05-18 14:00] jlewi commented on #4590
@krishnadurai Any update on this?

[2020-05-18 14:08] jlewi commented on #4822
Removing from 1.1 because we aren't explicitly targeting support for K8s 1.17 in 1.1.

[2020-05-18 14:10] jtfogarty commented on #4661
@jlewi We are in the process of testing this.  I should have answers today or tomorrow.

[2020-05-18 14:21] yosit commented on #5005
@yanniszark Looking at my last version of it I see two hash fields where it should have only one - will try to reproduce and report back.

[2020-05-18 14:23] jlewi commented on #4977
@fhingerl it looks like you are hitting an RBAC issue. It looks like you are running in the namespace anonymous. Did you create this namespace by creating a profile? I'm guessing not and as a result the expected service accounts and RBAC bindings aren't setup and thats why you are getting this error.

If you wanted to you should be able to create appropriate RBAC bindings manually.

[2020-05-18 14:44] NikeNano commented on #5017
Thanks @yanniszark I managed to figure it out after looking at the manifest repo. Would be awesome to see that diagram!

[2020-05-18 14:59] yosit commented on #5005
This is not an issue - I managed to follow the instructions, sorry for the hassle.

[2020-05-18 14:59] #5005 closed

[2020-05-18 15:03] leela-uppuluri opened #5020 "Admission webhook sidecar-injector.istio.io denied the request"
/kind bug

**What steps did you take and what happened:**
I was trying to create a notebook server from kubeflow dashboard and I was running into this error `Reissued from statefulset/<notebookserver_name>: Create Pod <pod_name> in StatefulSet failed error: admission webhook "sidecar-injector.istio.io" denied the request: error converting YAML to JSON: could not find expected ':'`

**What did you

[2020-05-18 15:36] jbottum commented on #5020
@leela-uppuluri Hi, is this cluster running on-prem or in the cloud ?

[2020-05-18 15:45] leela-uppuluri commented on #5020
@jbottum It is running on-prem.

[2020-05-18 15:55] krishnadurai commented on #5017
@NikeNano this presentation has a few diagrams which would be helpful:

https://docs.google.com/presentation/d/1j5tBrCkLNG-QxTl44iv-x5KpCapnczpxCbUzSciA2l8/edit#slide=id.g70b2208acc_1_230

[2020-05-18 16:19] humantargetjoe commented on #4519
I am having the same problem as @supertetelman - mounted without any volume the home directory for the jovyan user is all owned by root - which prevents launching the notebook since jovyan lacks permissions to alter root user owned files and directories.

Working on migrating my existing notebook container build to meet some of the launch criteria in the interim.

[2020-05-18 16:57] Rasen-wq commented on #4969
Hi @jlewi,
The issue I am having is only happening when I try to send a gRPC request with a **valid** JWT IAP token.
So the problem is not caused because I am port-forwarding.

Can you provide an example of an authenticated IAP gRPC request to the Kubeflow endpoint?

[2020-05-18 17:11] Jeffwan commented on #5006
It would be better for you to share more details like redirect url or https code you enter `https://kubeflow.pc.weaveworks-cx.com` etc.  Also, manually type cognito URI to check if you enter login page

[2020-05-18 18:10] jlewi commented on #5011
@LaynePeng its fine to comment in the doc.

[2020-05-18 18:19] paulcarlton-ww commented on #5006
Will add more details if that helps but seems like this is not going to work for my workshop. We are using AWS events environment and I'm informed that there is no access to Route 53 so will not be able to create the domain and certificates needed for this solution.

Looks like the https://www.kubeflow.org/docs/aws/authentication-oidc/ approach also requires the use of certificates.

You said that

[2020-05-18 18:31] jlewi opened #5021 "Release demo script for 1.1"
We aim to release Kubeflow 1.1 at the end of June. With that in mind it would be good to begin defining an appropriate release demo script to help ensure everyone is on the same page and begin qualifying releases.

Some useful links

* http://bit.ly/demo-v1-0 - The demo script for 1.0 this is probably a good place to start for creating a KF 1.1 demo script
* The [KF Roadmap for 1.1](https://github

[2020-05-18 18:39] jlewi opened #5022 "Release KF 1.1"
/kind process

We need to identify who will be driving the 1.1 release.  These folks should then

* Identify timelines for the release
   * e.g. cutoff dates for branch cuts
   * Target dates for RCs

This would probably be a good opportunity to update some of the processes and policies around releases.
https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md

Area | release czar | T

[2020-05-18 19:52] Jeffwan commented on #5006
I added story for multi-user basic auth support here. We are working on that https://github.com/kubeflow/manifests/issues/1164

Port-forward is one safe solution in single user cluster, this is for testing purpose.

This is not true. anonymous user will have a namespace the first time login the central dashboard.

[2020-05-18 21:47] jtfogarty commented on #4661
This is no longer an issue

[2020-05-18 21:47] #4661 closed

[2020-05-18 23:21] animeshsingh opened #5023 "kfp-tekton-api"
/kind feature

Need a new repo called "kfp-tekton-api", and seeded with initial kubeflow pipeline code (using a kubeflow bot, to neutralize any contributions counted twice et all). This will act as a staging repo for folks working together to get kfp-tekton compiler output now integrated in the backend to work with kfp api and ui.

[2020-05-18 23:21] animeshsingh commented on #5023
/assign @jlewi

[2020-05-19 01:11] animeshsingh commented on #4955
we can go broad and duplicate 80% of similar concepts, or we can reconcile and reuse. Concept of experiments/runs/metadata should be common and reused wherever possible, including Katib and KFP

[2020-05-19 02:18] daikeshi commented on #4749
Tha's OK. We currently use a fork of profile controller (with the fix) as the workaround.
We will need some migration after Kubeflow deprecates profile in the future, but it should be fine.

[2020-05-19 03:54] vasco989k commented on #3936
hello @btphan95
I have a question about modifying kfctl_gcp_iap.yaml.
after modify file , i don`t know next action.
explain next step more detail ,plz

[2020-05-19 05:32] sachua opened #5024 "Propagate private registry self-signed cert from cluster to pods"
/kind question

**Question:**
I am currently running kubeflow on VMware PKS on-prem, I am using its private registry with a self-signed certificate. The PKS cluster is able to pull images from the private registry to create deployments and pods successfully, but when the pods created try to push or pull images, they return an error:
[code]

It seems that the pods do not have the self-signed certif

[2020-05-19 07:25] NikeNano commented on #5017
Great! Thanks @krishnadurai

[2020-05-19 12:39] #4366 closed

[2020-05-19 14:42] terrytangyuan commented on #5022
I am happy to help out with this release and get more familiar with the process.

[2020-05-19 15:01] rock-town-coder opened #5025 "request-id to track the kubeflow job"
/kind feature

NOTE: Related to [1731](https://github.com/kubeflow/kubeflow/issues/1731)

In microservice architecture where one request getting forwarded to multiple web services, It would be very difficult to trace the request. This is commonly needed requirement for debugging multiple use-cases.

Creating new job API: [POST /apis/v1beta1/jobs](https://www.kubeflow.org/docs/pipelines/reference/a

[2020-05-19 19:24] anupash147 commented on #5012
Seems like there may be a bug, i was able do a work around using the post
https://suse.com/c/kubeflow-data-science-on-steroids/
![image](https://user-images.githubusercontent.com/8271182/82369359-7ef40e80-99dc-11ea-81eb-083fec5bbbba.png)

[2020-05-20 01:29] jlewi commented on #5022
@terrytangyuan thanks do you want to start by taking a look at the release doc and figuring out what issues need to be resolved e.g.

* What permissions need to be granted in order to allow someone to cut releases?
   * (Looks like you might have already sent me a PR).

[2020-05-20 05:45] yoni-taranis commented on #4793
I'm experiencing the same issue.

Anyone can help in resolving this without installing from scratch?

[2020-05-20 05:55] dzungductran opened #5026 "Centraldashboard issues with navigating to pages"
/kind bug

**What steps did you take and what happened:**
Install Kubeflow following the instructions for installing KF on an existing cluster. The instructions is at: https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

The deployment looks fine with all the pods & services running.

I did a port forwarding of the centraldashboard as:
`` kubectl port-forward -n kubeflow service/centraldash

[2020-05-20 09:35] #5009 closed

[2020-05-20 15:35] yanniszark commented on #4758
/reopen
/remove-lifecycle stale
/lifecycle frozen

[2020-05-20 19:45] Ventals opened #5028 "How manage contributors via kubectl/kfctl"
/kind question

**Question:**
How I can manage Contributors via code(kubectl or kfctl)? It's a very useful feature for production usage, but as I see it doesn't implement yet.

Some results of my research - when we add contributors via UI it was creating ServiceRoleBinding, for each contributors:

[code]

`owner-binding-istio` default, with info about NS owner.
`user-test-name-gmail-com-clusterrol

[2020-05-20 23:43] xalekx opened #5029 "unable to contact profile controller kubeflow"
/kind bug

**What steps did you take and what happened:**
I have installed kubeflow using https://developer.ibm.com/technologies/artificial-intelligence/tutorials/kubeflow-in-ibm-cloud-public/.
I am connected via ssh to a remote bare metal machine.  Using ``` kubectl get -n istio-system svc/istio-ingressgateway``` i get that the type is nodetype and there is no external address. Using the cluster

[2020-05-21 00:53] jbottum commented on #4590
@krishnadurai @jtfogarty @elviraux We would like to include this in Kubeflow 1.1.   Will we have a delivery for this in Kubeflow 1.1?

[2020-05-21 00:55] jbottum commented on #4960
@yanniszark TDo we have a path to complete this delivery for Kubeflow 1.1?  What is our next step ?

[2020-05-21 01:03] jbottum commented on #4953
@thesuperzapper @jlewi @Jeffwan this feature is scheduled for delivery in Kubeflow 1.1.   What is our next step?  Do we have a path to deliver this functionality ?

[2020-05-21 01:13] jbottum commented on #4899
@yanniszark @jlewi @kunmingg @jtfogarty @alexlatchford Hi Guys, This feature is on the published Kubeflow 1.1 delivery list.   Do we have a path to deliver this?  What is our next step?

[2020-05-21 01:43] thesuperzapper commented on #4953
@jbottum, all it needs is a pretty basic forum validation to the Profile registration namespace field, and maybe some backend protection to prevent just forcing the API to accept a different namespace name with REST calls.

[2020-05-21 02:14] allenc97 opened #5030 "StackDriver Logs"
/kind question

**Question:**
[You can ask any question about this project.]

There are far too many logs logged into Stackdriver by kubeflow. Is there a way we can disable logging for many of the default components that we don't use, I.e katib?

[2020-05-21 04:39] jlewi commented on #4953
@thesuperzapper are you interested in working on this?

[2020-05-21 04:41] thesuperzapper commented on #4953
I am currently working on improving the Notebook Spawner UI, so depending on how long that takes me, I might not get time for this, feel free to take it up (or assign it) if you like.

[2020-05-21 04:55] #4759 closed

[2020-05-21 06:08] Bobgy commented on #4899
@jbottum I wonder if you are referring to this one or https://github.com/kubeflow/pipelines/issues/1223?

I'll be pushing https://github.com/kubeflow/pipelines/issues/1223 towards getting into KF 1.1.

Using SubjectAccessReview is an improvement on top of https://github.com/kubeflow/pipelines/issues/1223 that @yanniszark is driving.
/cc @yanniszark
on the plan for SubjectAccessReview

[2020-05-21 07:10] aurorazl opened #5031 "Any plans for supporting kubernetes v1.18?"
/kind question

**Question:**
[You can ask any question about this project.]
Any plans for supporting kubernetes v1.18?Are kubeflow 1.10  Compatible with kubernetes 1.18.2?

[2020-05-21 07:23] amitripshtos commented on #5014
Argo is the one which sends the parameters to the pods and starts the processes. I don't think it's can be done to send Argo a parameter that should be "compiled" or ran at runtime.

This feature also makes everything more ambiguous and not explicit - and that's bad practice especially for DAGs and ML-Related parameters (what will be saved in the metadata store?)

A good practice is just to enter

[2020-05-21 08:24] Bobgy commented on #5014
I agree with @amitripshtos. Recommend passing in the date instead of calling `datetime.now()`.
/cc @Ark-kun
Do you know a better way to handle this?

[2020-05-21 08:25] Bobgy commented on #5014
Also, how can we move this issue to kubeflow/pipelines repo?

[2020-05-21 08:44] wenmin-wu commented on #5014
Hi @amitripshtos and @Bobgy thanks for your reply, I see your point. However, I'm talking about the scheduled pipeline with `cron`, if the job failed and it's already one day past, after clicking retry my pipeline won't process data of one day ago.

For a daily scheduled pipeline, what does the retry for? If the job failed I need to think about whether my pipeline will process the same data as pre

[2020-05-21 09:02] Bobgy commented on #5014
To be honest, I think kubeflow pipelines have limited features on `cron` jobs.

Would using an Airflow to trigger cron jobs in kubeflow pipelines suit your use-case? It can run a KFP client to trigger a pipeline using date as an argument, so that this task will be retriable.

I vaguely recall there's probably an argument that you can use to auto-fill scheduled date when the task was run from `cron

[2020-05-21 09:10] wenmin-wu commented on #5014
Hi @Bobgy, thanks a lot, after uploading pipeline with `kfp.Client`, I call `kfp_server_api.api.run_service_api.RunServiceApi(...).create_job` to create a `cron` job. Good to know there's probably an argument to auto-fill.

[2020-05-21 09:11] Bobgy commented on #5014
Hi @wenmin-wu, I found how to get scheduled time from a `cron` job.

https://github.com/kubeflow/pipelines/blob/578e8231d01074b9dbe40ace1db8cc444a6a1bd8/backend/src/crd/samples/scheduledworkflow/parameterized.yaml#L29-L34

I don't think these have been well-documented, but should be good for your use-case. If you put placeholders like `[[ScheduledTime]]` in arguments passed to your workflow. When

[2020-05-21 09:14] Bobgy commented on #5014
/area docs

[2020-05-21 09:22] wenmin-wu commented on #5014
Hi @Bobgy, thanks a lot. Just to double-check to make sure I get your point. Let's say today I create a `cron` job and tomorrow it run but failed. Then I retry it, is the time tomorrow or today?

[2020-05-21 09:24] Bobgy commented on #5014
@wenmin-wu when you retry it, you are cloning the same workflow with the same arguments. That argument was already instantiated with the date it was ran on. In your example, the run was ran on tomorrow, so the argument should be `tomorrow`. When you retry it the day after tomorrow, you will use the same arguments, so the argument will still be `tomorrow`.

[2020-05-21 09:28] wenmin-wu commented on #5014
Thanks @Bobgy, let me create a cron job to try this, you saved me days of time.

[2020-05-21 09:31] Bobgy commented on #5014
No problem. Please let me know if it works out. (tbh, I haven't tried this feature by myself, but looking at code that's how it's supposed to work and I remember hearing about it)

[2020-05-21 09:41] ettiee commented on #5018
@yanniszark thanks for the linked issue 👍
We're collecting some feature wish lists and might have a go at implementing this on a hack day soon !

[2020-05-21 10:00] wenmin-wu commented on #5014
Hi @Bobgy , just to let know it doesn't work for me. I think it's because I didn't use the scheduled workflow template. My template is like this:
[code]
and I pass the ``[[ScheduledTime]]`` to my function, after creating a run on kubeflow my function just print the raw string.
[code]

[2020-05-21 11:23] fakeburst commented on #5028
You also need to create a RoleBinding resource for this new user
[code]

[2020-05-21 12:03] Bobgy commented on #5014
@wenmin-wu Did you create a one time run or recurring one? Only recurring runs will get those values

[2020-05-21 12:45] chetanoruganti opened #5032 "notebookserver creation fails if the user passes extra space with custom image name . should this be handled in backend code"
/kind question
area/jupyter

while creating notebook server from the ui if the user selects custom image and passes custom image . if there is any tailing space in the image name the notebook server creation fails with imagepull error . Is it good to handle it in the backend .

[2020-05-21 21:17] Nateyo opened #5034 "microk8s enable mongo-db address"
/kind bug

I was hoping someone can kindly help me answer a problem I am having when running the command `microk8s.enable kubeflow`. The process gets stuck that the step "Deploying Kubeflow" and if you look at the pods, one of the controllers is crashing.

[code]

So if we open up the logs its the controller-0 mondodb pod, and it looks like the issue is the --ipv6 flag. I have no idea how to disab

[2020-05-22 00:02] richardsliu commented on #4821
It might be helpful to have a way to add node selector labels in the UI. Then the user will be able to add custom selectors like accelerator type, node pool, etc.

[2020-05-22 03:50] Bobgy commented on #5014
@wenmin-wu one more clarification is that, the doc I referred to was talking about scheduled workflow template, but that's actually an internal implementation representation. You don't need to worry about that. Just using normal workflows with those arguments in a recurring run, those values should be replaced when run.

[2020-05-22 04:00] bomerzz opened #5035 "Requirements.txt missing from pip package"
/kind bug

pip install kubeflow-fairing
Collecting kubeflow-fairing
  Downloading https://files.pythonhosted.org/packages/ab/7a/45aa727f59386aa0bccd1314c4c3837352eb04c43836c25871fbc372abca/kubeflow-fairing-0.7.2.tar.gz (98kB)
    100% |████████████████████████████████| 102kB 913kB/s
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<strin

[2020-05-22 04:06] #5035 closed

[2020-05-22 04:06] bomerzz commented on #5035
Wrong repo. My bad

[2020-05-22 07:49] LamoraHolmes commented on #4815
Have the same problem here. Installing Kubeflow like it's described in the manual but can't delete it in the same way.
It is pretty enoying to manually delete all namespaces or resources coming with the deployment of KF

[2020-05-22 17:06] dzungductran commented on #4103
@leela-uppuluri have you figure this out? I am having the same issue and can't find any instructions on how to get the dashboard to work correct.

[2020-05-22 22:09] dzungductran commented on #5026
`kubectl port-forward -n kubeflow service/centraldashboard 8080:80; open localhost:8080` and routing of pages resulted in all errors. Please see attached pictures:
<img width="1293" alt="Screen Shot 2020-05-22 at 3 01 32 PM" src="https://user-images.githubusercontent.com/1693317/82712925-22902980-9c3e-11ea-8835-fd5fa192ac52.png">
and
<img width="1172" alt="Screen Shot 2020-05-22 at 3 06 03 PM" src

[2020-05-22 22:24] yahavb opened #5036 "Broken Link under Access Kubeflow central dashboard"
Under - Access Kubeflow central dashboard

If you are using https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_aws_cognito.v1.0.2.yaml, run following command to get Kubeflow service endpoint host name and copy link in browser.

The link is broken to kfctl_aws_cognito.v1.0.2.yaml

[2020-05-23 16:37] jbottum commented on #5029
@animeshsingh do you have someone that supports these questions

[2020-05-24 00:26] dzungductran commented on #5036
I have similar issue as in: https://github.com/kubeflow/kubeflow/issues/5026. I haven't able to get anyone to help on KF community slack channel. I have been searching for solutions of the last week. KF seems to work fine since ML-pipeline seems to work, but centraldashboard does not work.

[2020-05-24 00:42] lalithvaka commented on #4889
@jlewi Yes, I can, but my understanding of TypeScript coding and how the central dashboard works is very limited.  @avdaredevil would you be able to help here on how to get the Environment variables from to turn on / off based on a flag?

[2020-05-24 07:48] lalithvaka commented on #3772
@jlewi , @fediazgon I ran into this issue and I do not see any events populating on my UI even though I have couple of notebooks in forever spinning state. Not sure if I am missing anything? Am running KF 1.0.2 version.  Attaching a screenshot on the behavior. Shall I create a new issue for this?
![image](https://user-images.githubusercontent.com/8292387/82748587-2617d380-9d58-11ea-8337-7788655ab3

[2020-05-24 22:27] tall-josh commented on #3936
Hmmm, I left out that step. My B.

After modifying the `kfctl_gcp_iap.yaml` file simply run `kfctl apply -v -f kfctl_gcp_iap.yaml` :-)

Hope that helps.

[2020-05-25 05:57] Minkyu-Choi opened #5038 "How can I configure multi-user namespace sharing in kubeflow?"
/kind question

**Question:**
[You can ask any question about this project.]
First of all, thanks for you guys great work.

Our team have deployed kubeflow 1.0 version on air-gapped onprem environment.
And I wonder if kubeflow support following multi-user namespace sharing use-case or not.

1. Admin user(namespace owner) log-in to kubeflow and create profile with namespace.
2. Admin user add other

[2020-05-25 06:21] ConverJens commented on #5010
@jlewi @johnugeorge @yanniszark Any update on this?

[2020-05-25 16:08] #4058 closed

[2020-05-25 17:10] afilcheff commented on #3831
hi!
any news with this issue?
thanks!

[2020-05-25 18:16] kandrio98 opened #5039 "Extend Tensorboard Controller to Support PVCs"
/kind feature

Currently, the Tensorboard controller does not fully support arbitrary PVCs being mounted to pods running the Tensorboard server. In fact, it can only support PVCs named [tb-volume](https://github.com/kubeflow/kubeflow/blob/4bf2d4131a5aebe0f1b53d36dd94031f88426c0b/components/tensorboard-controller/controllers/tensorboard_controller.go#L156-L164).

I would like to extend the Tensorbo

[2020-05-26 05:52] sheep94lion commented on #4976
How do you access the Kubeflow UI, are you using port-forwarding?

[2020-05-26 05:56] sheep94lion commented on #3615
I met the same problem.
It seems you should not use kubectl port-forward to access the Kubeflow UI.
Follow the instructions instead. For my case its:
https://istio.io/docs/tasks/traffic-management/ingress/ingress-control/
https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/
You should access the UI through the IngressGateway.

Use kubectl -n istio-system describe svc istio-ingressgateway to

[2020-05-26 06:57] edenbuaa opened #5040 "How to configure the kfserving LoadBalancer"
/kind bug

**What steps did you take and what happened:**
install kubeflow v1.0 in my local kubernates following the instructions here: `https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/`

And then `kubectl get svc -n istio-system` :
[code]

the `kfserving-ingressgateway` external ip always `pending`

**What did you expect to happen:**
I want to know how to config the load balancer for my

[2020-05-26 08:46] afilcheff commented on #4986
Hi,
I have a similar issue,  I get stuck at 67% at provisioning minikube and then it errors with the following message:
![Capture1](https://user-images.githubusercontent.com/54940372/82879848-37263780-9f46-11ea-9f96-a3cdec14709a.PNG)

I tried finding the provision.log so I can upload it here, but I cannot figure out how to locate it.
Here is also a picture of my vm config
![Capture2](https://user-

[2020-05-26 08:47] #4721 closed

[2020-05-26 08:47] #4774 closed

[2020-05-26 11:21] fdasilva59 commented on #5031
Yes, this would be nice to support latest K8S versions

[2020-05-26 13:35] #5028 closed

[2020-05-26 14:16] lalithvaka commented on #4883
I totally agree with this issue. I see our teams doing this mistake and expecting the notebook servers to come up. Existing option should be followed by a drop down only. Or we should. think about redesigning the volume selection process.
cc @avdaredevil

[2020-05-26 14:35] jbottum commented on #4876
@chelarua Hi Chelarua - Is this issue still open or did you get it resolved?

[2020-05-26 14:36] jbottum commented on #4876
Can we close this issue ?

[2020-05-26 14:42] jbottum commented on #4872
@matheusjerico Hi matheusperico, is this issue still open ?  can it be closed ?

[2020-05-26 15:00] jbottum commented on #4874
@siddharthjain1611 Hi Siddharth, how is this development coming?  Should we expect it in KF 1.1 (late June)?  Please let us know.

[2020-05-26 15:09] #4872 closed

[2020-05-26 16:24] TomVanWemmel opened #5041 "Encountered error applying application argo: VirtualService has timeout"
/kind bug

**What steps did you take and what happened:**
I'm trying to install Kubeflow on an existing AWS EKS cluster. I've followed the steps described in the documentation [here](https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/).
When I use `kfctl apply -V -f kfctl_aws.yaml` the execution seems stuck at "applying application argo"

[code]

This goes on until it gives up completely.

[2020-05-26 18:36] avdaredevil commented on #4889
Sure thing @lalithvaka! Central-Dashboard uses environment variables.
- The logic for defaulting and ENV extraction is [***here***](https://github.com/kubeflow/kubeflow/blob/master/components/centraldashboard/app/server.ts#L25-L31)
- Feel free to add a new config there (and update relevant tests)
- You'll most likely want to add another `app.use()` clause [***here***](https://github.com/kubeflow/k

[2020-05-26 18:59] jlewi commented on #4670
Thanks @polsm91

We are most likely going to deprecate and remove deploy.kubeflow.cloud. So I don't think we have any plans to fix it.

We added a deprecation notice in kubeflow/kubeflow#4967 it looks like this hasn't been pushed yet.

[2020-05-26 19:20] jlewi commented on #5010
@ConverJens  I think you are going to have to dive into ISTIO and the Dex setup to try to troubleshoot what's going on here.

The first thing to investigate is how the [ISTIO ingressgateway](https://istio.io/docs/tasks/traffic-management/ingress/ingress-control/) is deployed.

Per those instructions you should run

[code]

Is your ISTIO ingressgateway exposed via node port? via service type load b

[2020-05-26 19:45] jlewi commented on #4670
I updated C2D so the deprecation notice should now show up.

[2020-05-26 19:50] ConverJens commented on #5010
@jlewi Again, thank you for your respons!

The istio-ingressgateway is exposed via node port:
`istio-ingressgateway   NodePort   10.43.125.55   <none>        15020:31741/TCP,80:31380/TCP,443:31390/TCP,31400:31400/TCP,15029:32223/TCP,15030:32129/TCP,15031:32469/TCP,15032:30159/TCP,15443:31846/TCP   20d   app=istio-ingressgateway,istio=ingressgateway`

As for the notebook, there is no virtual servic