[2020-08-04 23:20] wajeehulhassanvii commented on #5163
@PatrickXYS I solved it by applying apply command to the downloaded kfctl_k8s_istio.v1.0.2.yaml file. It fails initially when we 'apply' to the network file, once its downloaded we can apply to the downloaded file and it will work. Wasted too much time trying to fix this problem. Thanks for your reply by the way.

[2020-08-04 23:20] #5163 closed

[2020-08-04 23:21] apryiomka opened #5186 "Plugin not recgonized: AwsIamForServiceAccount"
/kind bug

With profile controller spec like so in EKS:

[code]

the profile controller is deployed successfully. OIDC service is enabled, SA to IAM works. When we try to create a profile like so:

[code]

the `default-editor` service account is created without IAM role annotation:

[code]
Expected:

[code]

After evaluating the `profile-deployment` log, found this:

[code]

[2020-08-04 23:22] apryiomka commented on #5186
/assign @Jeffwan

[2020-08-04 23:25] Jeffwan commented on #5186
Thanks for reporting the issue.

[2020-08-05 01:15] Jeffwan commented on #5144
I think the root problem is we don't link IAM to Kubernetes users. This is fundamental design we can not change at this moment.  However, there's other walkrounds.

You can link Role instead to Profile here. https://www.kubeflow.org/docs/aws/iam-for-sa/

Currently, user login kubeflow is from IDP user, however, cluster admin is from Kubernetes Role. We didn't link user in this way.  each user tech

[2020-08-05 06:30] Focke-Wulf opened #5187 "profile-controller can't start"
hello all:
i am trying deploy the kubeflow with auth  however  the profile-controller says that

starting container process caused "exec: \"/access-management\": stat /access-management: no such file or directory": unknown

what happend to my system? any pre config we need?

PS : i used to deploy kubeflow version with 1.0 works fine with me
**Environment:**

- Kubeflow version: 1.02
- kfctl versio

[2020-08-05 13:07] #4989 closed

[2020-08-05 13:07] #4988 closed

[2020-08-05 13:28] axelgobletbdr opened #5188 "centraldashboard is unable to run with restrictive securityContext"
The centraldashboard container requires privileged permissions to be able to run on Kubernetes. This causes major security risks. These risks should not be necessary, as the centraldashboard is merely a javascript app that should be able to run with restricted permissions.

The cause for this problem is the node version used by the container currently in https://github.com/kubeflow/kubeflow/blob/m

[2020-08-05 13:36] #5183 closed

[2020-08-05 15:38] phansoks opened #5189 "MiniKF Notebook server with GPU not starting"
/kind bug

**What steps did you take and what happened:**
I am using MiniKF on a Windows 10 computer.
Creation of a notebook server with image 'gcr.io/kubeflow-images-public/tensorflow-2.1.0-notebook-gpu:1.0.0' (any gpu image actually) never ends. Status messages says: 'Reissued from pod/gpu-0: skip schedule deleting pod: kubeflow-user/gpu-0'

![image](https://user-images.githubusercontent.com/123

[2020-08-05 15:50] zachomedia opened #5190 "API calls on centraldashboard become slow with a large number of profiles"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

We started seeing some slow startup time when a user loads the Kubeflow dashboard, and after some tracing tracked down a slow call to /api/workgroup/env-info.

After some investigation, it led us to the kfam service where obtaining role bindings takes 3-6 seconds:

[code]

**What did yo

[2020-08-05 15:51] sylus commented on #5190
This is a pretty big deal for us and would expect this would be reproducible by numerous other orgs.

[2020-08-05 21:03] abdulsalama opened #5191 "`kf-resource-quota` Resource Quota is not being removed from the namespace after removing it from profile spec and re-applying"
/kind bug

**What steps did you take and what happened:**
Profile controller does NOT do garbage collection for resource quota.

Repro steps:
- Create a profile specifying resource quota:
[code]
- Reconfigure the profile without any resource quota specifications:
[code]

- However, resource quota from before is still being enforced. I expected it not to be enforced anymore.

**What did you expect

[2020-08-05 21:31] Jeffwan commented on #5186
vmaster-g34aa47c2 is from Jan 28 build which doesn't include AWS plugin. https://github.com/kubeflow/manifests/commit/f20144dc34f27dae387b678de98e2fa393a92b23#diff-f7890cc7516f3b411871e6f71cd585e5

I have another change in v1.0-branch around March to update profile-controller image.
https://github.com/kubeflow/manifests/commit/857a6df6b9ea5ceae38be2f322ec3f690f20a592#diff-d970728376beb137057865c63

[2020-08-05 21:32] Jeffwan commented on #5186
@apryiomka

[2020-08-05 21:37] Jeffwan commented on #5186
Here's two PRs with latest build in master and v1.1-branch

https://github.com/kubeflow/manifests/pull/1308
https://github.com/kubeflow/manifests/pull/1274

[2020-08-05 21:46] Jeffwan commented on #5186
[code]

[2020-08-06 01:10] thesuperzapper commented on #4952
I still think this is important. (bumping to remove stale)

[2020-08-06 03:57] kitamura-tetsuo commented on #5189
I had same error with Ubuntu 18.04.

[2020-08-06 08:03] #4958 closed

[2020-08-06 09:17] tretos53 opened #5192 "Application istio-ingress not found"
/kind bug

**What steps did you take and what happened:**

Installed Kubeflow on EKS cluster. When running `kubectl port-forward svc/istio-ingressgateway -n istio-system 8080:80` I can access Kubeflow Dashboard successfully.

When trying to set up the custom domain, the istio-ingress doesn't exist.

[code]

In the installation log I found below entry:

`WARN[0009] Application istio-ingress not fou

[2020-08-06 11:07] vladislavkoz commented on #4958
It's because of the wrong service account. You need to add more permissions.Try the following:

[2020-08-06 12:01] MarcSkovMadsen opened #5194 "Unable to access Panel Notebook Dashboard"
#### My pain

I am a user of and contributor to Streamlit and Panel and run awesome-streamlit.org and awesome-panel.org. Both are frameworks for creating analytics apps in Python.

I'm currently testing Kubeflow on our own Kubernetes in Azure and would like to see if I could run a Jupyter Notebook as a Panel app. With a normal jupyter hub this should be possible by installing https://github.com/ho

[2020-08-06 12:04] MarcSkovMadsen commented on #5194
#### Additional Context

My notebook is attached here.

[PerspectiveViewer (1).zip](https://github.com/kubeflow/kubeflow/files/5034670/PerspectiveViewer.1.zip)

[2020-08-06 12:40] Bobgy commented on #4569
We have documentation for adding users programmatically now: https://master.kubeflow.org/docs/components/multi-tenancy/getting-started/#managing-contributors-manually

I think that's enough for this use case.

[2020-08-06 12:40] Bobgy commented on #4569
Hmm, but this feature will still be a nice to have.

[2020-08-06 15:44] Jeffwan commented on #5192
@tretos53

Which manifest are you using? Could you apply https://github.com/kubeflow/manifests/blob/master/aws/istio-ingress/base/ingress.yaml? remember to change `$(loadBalancerScheme)` to `internet-facing` for most common cases

[2020-08-06 15:47] Jeffwan commented on #5191
@abdulsalama Thanks for reporting the issue. I think it could be a reconciler problem that profile didn't remove resource quota if `resourceQuotaSpec` becomes empty. I can double check and fix it once verified

[2020-08-06 15:52] Jeffwan commented on #5190
@zachomedia @sylus Could you share how many profiles do you have in that cluster? Since it makes call to Kube-apiserver. Any performance issue on master instance may increase latency. Do you have way to know the `6s` trace? I am curious which part contribute more.  active request like `List` to APIServer won't be efficient, I agree we probably need to add some cache and user won't see user immedia

[2020-08-06 15:52] Jeffwan commented on #5189
/cc @yanniszark

[2020-08-06 15:53] Jeffwan commented on #5187
@Focke-Wulf

Can you share container image id of your profile controller?

[2020-08-06 15:58] Jeffwan commented on #5176
@axelgobletbdr

Trying to understand any features user want to leverage from 1.6? Currently, most manifest is still on 1.3.x, we probably consider upgrade the version gradually in each major releases but may not to 1.6 directly because if user has workloads on older versions, they have to do force upgrade as well.

Currently, access management and profile controller in control plane uses istio. We

[2020-08-06 15:58] zachomedia commented on #5190
@Jeffwan We currently have 122 profiles in the cluster. I will see if we can get a way to break down the trace more and get a breakdown on the 6s response time.

[2020-08-06 16:00] Jeffwan commented on #5188
@axelgobletbdr Thanks reporting the issue. Based on my understanding, we can remove privileged securityContext on central dashboard as PR merged. Right?

[2020-08-06 16:03] Jeffwan commented on #5169
Em. We have not tested different namespace, lots of are hardcoded to kubeflow.  from the logs, your SA needs access to k8s resources in another namespace.  I think technically this is not a challenge, but need you make some changes on the manifest side, especially the namespace in service account and rolebinding

[2020-08-06 16:08] tretos53 commented on #5192
I used this page: `https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/` and this manifest: `export CONFIG_URI="https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_aws.v1.0.2.yaml"`

I created the ingress as you suggested but the HOST is missing.

[code]

Should I apply below and then point my route53 to this domain?

[code]

I can also remove Kubeflow and start agai

[2020-08-06 16:20] jgerardsimcock commented on #5192
I am also getting this error but I am running on prem

[2020-08-06 20:44] raravena80 opened #5195 "CNCF-Runtime discussion/presentation(?)"
/kind question

**Question:**

Hello KubeFlow team,

I'm one of the co-chairs of the CNCF SIG-Runtime, I was looking at your project and I think it would be great for you to present/discuss it at one of our meetings. For example, how KubeFlow enables MLOps and how it compares to other MLOps frameworks.

Let me know if this is something you'd be interested in doing. If yes, please feel free to add

[2020-08-07 05:35] seizadi opened #5196 "ALB not configured with Auth and Cognito Integration"
/kind bug

**What steps did you take and what happened:**
I am using this guide https://www.kubeflow.org/docs/aws/aws-e2e/#aws-services-used

It is not explicit in the guide above but:
- I had to use Kubernetes 1.15 (1.16 did not work)
- I used the Istio complete install with kfctl apply (Guide is not clear on this existing Istio installation will require custom changes to remove some Istio compon

[2020-08-07 10:23] tretos53 commented on #5192
I tried following this but no luck: `https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/#secure-with-https`

1. Edited gateways.networking.istio.io kubeflow-gateway
2. Patched `kubectl patch service -n istio-system istio-ingressgateway -p '{"spec": {"type": "LoadBalancer"}}'`
3. Waited for external IP (DNS) to show up
3. Created the Certificate with cert-manager
4. Navigated to https://<Loa

[2020-08-07 10:34] tretos53 commented on #5192
My bad. Above worked fine but it took about 20minutes. Not sure why. Also this only works in Firefox, all other browsers don't allow bypassing self signed certificates.

[2020-08-07 13:05] jlewi commented on #5195
@raravena80 Thanks for reaching out. Would you mind emailing kubeflow-discuss@googlegroups.com to see if anyone is interested?

[2020-08-07 16:52] #5111 closed

[2020-08-07 17:54] Jeffwan commented on #5196
@seizadi Could you share ALB ingress controller logs?

[2020-08-07 18:41] seizadi commented on #5196
Here it is, looks like it keeps trying to converge the last pattern repeats.

[code]

[2020-08-07 20:00] apryiomka commented on #5186
@Jeffwan , thanks for the update. I will update the image tag.

[2020-08-07 20:37] jbottum commented on #5022
@jlewi Are we ready to cut over the web site to 1.1 ?

[2020-08-08 01:01] Jeffwan commented on #5192
If v1.1-branch, it will be easier.
Try this please

[2020-08-08 01:02] Jeffwan commented on #5192
@jgerardsimcock you need to change `$(loadBalancerScheme)` to `internet-facing` unless you are configuring internal facing ALB

[2020-08-08 01:05] Jeffwan commented on #5196
could you update alb-deployment? There's an cluster name, please type your cluster. That's the reason it didn't show up.

[2020-08-08 01:06] Jeffwan commented on #5196
@seizadi
[code]

Change your cluster-name

[2020-08-08 01:12] Jeffwan opened #5198 "Load profile plugin in user registration flow"
/kind feature

**Why you need this feature:**

If we enable `registration-flow`, a basic profile will be created. If cluster-admin wants to have some default settings like profile plugin, resource quota. UI flow won't able to do this.

We'd better consider a way to make these changes configurable and central dashboard can pick them up.

**Describe the solution you'd like:**
A configmap could be us

[2020-08-08 01:20] Jeffwan commented on #5011
@LaynePeng https://github.com/kubeflow/fate-operator seems you already setup the project and has the process. Do you need other help?

[2020-08-08 01:23] Jeffwan commented on #4982
@discordianfish Is it ok to actively fetch configmap to check updates? I feel building CRD is kind of heavy

[2020-08-08 01:23] Jeffwan commented on #4981
@discordianfish Do you use IRSA or Kube2IAM?  What not attach role to `default-editor` directly?

[2020-08-08 02:24] #4993 closed

[2020-08-08 02:24] #4538 closed

[2020-08-08 06:17] #4996 closed

[2020-08-08 14:59] seizadi commented on #5196
Thanks for the suggestion, I looked at the kustomize project and looks like there is a
[param.env](https://github.com/kubeflow/manifests/blob/master/aws/aws-alb-ingress-controller/base/params.env) that has been setup to program the value of the cluster name, its value was set to 'deploy', do you know if I built this from start I would over-ride that value to the correct cluster name?

I did set it

[2020-08-09 07:03] alexanderDoria commented on #5047
I'm having the same issue, went through the default Kubeflow AWS installation guide: https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/

Complete error:

[2020-08-09 11:26] DreamerCather commented on #4806
I try to use k8s 1.14.1、1.14.9 and 1.16.13（flannel or caclico or canal）, all failure， the message is same:
WARN[0089] Encountered error applying application cert-manager:  (kubeflow.error): Code 500 with message: Apply.Run  Error error when creating "/tmp/kout327116165": Internal error occurred: failed calling webhook "webhook.cert-manager.io": the server is currently unable to handle the request

[2020-08-09 12:01] matthiasfalk commented on #4386
This issue still persists for me. Is there a fix for this?
Kubeflow version: 1.0.2
Kubernetes version: 1.14.8
kfctl version: v1.0.2

[2020-08-09 15:51] worsecoder opened #5199 "The pod "application-controller-stateful-set-0" cannot connect to apiserver after installation"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I followed the documentation on [kubeflow.org](https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/) to install kubeflow.
After installation, I use the command:

[code]

to list all resources under the kubeflow namespace, which looks like this:

[code]

However, after a while, the

[2020-08-09 23:30] lkr2des commented on #5047
I was encountering probably same or similar error, I had do change back KUBECONFIG back to

export KUBECONFIG=~/.kube/config

and that overcame the below error for me.

 filename="coordinator/coordinator.go:202"
FATA[0000] could not get platform aws Error Failed to create config file from :/home/lkumar/.kube/config-cdml **  filename="coordinator/coordinator.go:216"

[2020-08-10 01:30] #4978 closed

[2020-08-10 07:49] axelgobletbdr commented on #5176
Hi @Jeffwan,

First of all I think it is generally good practice to keep your upstream dependencies up to date. Furthermore, new Istio versions include security related fixes like https://github.com/istio/istio/issues/23715. Keeping dependencies up to date makes Kubeflow overall more suitable for production scenario's.

I understand that several Kubeflow components rely on older versions of Istio.

[2020-08-10 14:07] jlewi commented on #5022
@jbottum please kubeflow/website#1984

[2020-08-10 14:17] jlewi commented on #5198
I thought we use projects not area labels for releases?

[2020-08-10 14:20] jlewi opened #5200 "Notebook controller needs OWNERs file"
/kind process

The notebook controller needs an OWNERs file indicating who can review and approve PRs.

Per kubeflow/community/issues/379  @kimwnasptd and @StefanoFioravanzo are you interested in this as part of the notebooks WG?

[2020-08-10 15:14] tretos53 commented on #5192
@Jeffwan Let me try running it on a new cluster with https://master.kubeflow.org/docs/aws/deploy/install-kubeflow/ and I'll let you know.

[2020-08-10 15:20] Jeffwan commented on #5198
@jlewi I see. I didn't know that. I can remove it and put into project

[2020-08-10 15:36] Jeffwan commented on #5047
It doesn't seem you use the right IAM. Could you double check `~/.kube/config` and see if you use user with `system:master` access?

For KUBECONFIG issue, please check this issue. https://github.com/kubeflow/kfctl/pull/300 It should be part of v1.0.2/

[2020-08-10 15:46] Jeffwan commented on #5196
[code]

Do you mind sharing your configuration? you can hide sensitive info. Seems you didn't give certificateARN if you like to use 443

@seizadi

[2020-08-10 15:50] Jeffwan commented on #5186
i think v1.1-branch has been updated now. I've merged the image tag update change. Feel free to reopen if you still have the issue

[2020-08-10 15:50] #5186 closed

[2020-08-10 15:52] Jeffwan commented on #5190
@zachomedia  I will mark this as part of 1.2 improvement. I think we did tuning on jupternotebook on profile controller but not on UI yet. Might be some tuning to do on some components to improve performance

[2020-08-10 17:42] sylus commented on #5190
Would this tuning done on the profile controller be applicable to jupyter notebook? If so we could take a look and try to help also. Keen to move this forward.

[2020-08-10 22:17] raravena80 commented on #5195
@jlewi thanks, just sent a message to the ML.

[2020-08-11 01:08] sylus opened #5201 "Possible multi-threading issue w/Jupyter Web App (kubernetes-client/python) running with scale"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Hello amazing kubeflow community.

Apologies in advance if I struggle to explain this issue properly but here is my attempt.

It seems the longer that the Jupyter Web App Flask application is running and the more is queried against that this increases the likelihood of subsequent API ca

[2020-08-11 04:02] tranlyvu commented on #4806
@DreamerCather

1) I think the latest version of k8s you can use to build kubeflow is 1.15 according to document

2) Do you have more logs?

[2020-08-11 07:38] DreamerCather commented on #4806
@tranlyvu hi，my k8s version is 14.9,my directory is
kfctl_k8s_istio.v1.0.2.yaml
kustomize
v1.0.2.tar.gz
when I use the command "kfctl apply -f ./kfctl_k8s_istio.v1.0.2.yaml" to install kubeflow，the result is
"
application.app.k8s.io/cert-manager configured
validatingwebhookconfiguration.admissionregistration.k8s.io/cert-manager-webhook configured
WARN[0002] Encountered error applying application c

[2020-08-11 08:42] tranlyvu commented on #4806
@DreamerCather

Since you have deploy multiple times with different CNI, I wonder if you have cleaned up all old CNI conf.  Can you check your interfaces and route and ip link , etc.

[2020-08-11 09:00] DreamerCather commented on #4806
@tranlyvu I use two different to deploy kubeflow , one use calico ,the other use flannel，all failure, now I try to use k8s 1.15
calico is the result:
route:
Kernel IP routing table
Destination     Gateway         Genmask         Flags Metric Ref    Use Iface
default         gateway         0.0.0.0         UG    0      0        0 bond0
10.201.19.0     0.0.0.0         255.255.255.0   U     0      0

[2020-08-11 12:02] jlewi commented on #5175
kubeflow/website#2087 added the script to add the banners.

@knkski any interest in updating the release guide as well?

[2020-08-11 12:21] jlewi commented on #5198
Thanks @Jeffwan I tagged this into the Kubeflow 1.2 Kanban board.

[2020-08-11 12:36] jlewi commented on #5195
@raravena80 probably because you aren't a member. You should be able to join but I sent a message to the group and told people to chime in on this issue if interested.
https://groups.google.com/g/kubeflow-discuss/c/TlUXv6mqsLM

[2020-08-11 12:38] jlewi commented on #5199
It looks like there is a problem with your cluster because your pods are unable to connect to your Kubernetes master. Are other pods able to connect to your master?

[2020-08-11 12:40] jlewi commented on #5060
@kimwnasptd What's the status of Jupyter for 1.1?  It looks like the docs still need to be updated.
https://www.kubeflow.org/docs/notebooks/why-use-jupyter-notebook/

/cc @kimwnasptd @StefanoFioravanzo

[2020-08-11 12:44] jlewi commented on #5022
@jbottum docs have been published. Some of our docs are still outdated (e.g. they have an outdated banner on them indicating they need to be refresh).

I think we can go ahead and publish the 1.1 blog post.

[2020-08-11 13:44] jbottum commented on #5195
@raravena80 Hi Richardo, Nice to meet you.    I am one of the Kubeflow Community Product Managers.  I doubt that we have material on how Kubeflow compares to other MLOps frameworks, but should be able to find some material / presenters on Kubeflow & MLOps.   How long should the presentation last?    Should the focus be 1) more in-depth on the technology  2) how the tech simplifies the user's life

[2020-08-11 14:09] yanniszark commented on #5200
@jlewi thanks for opening the issue!
From our side, I am personally interested and have the knowledge to help review/approve PRs for the notebook-controller. I will also ask other people from our side (@StefanoFioravanzo, @kimwnasptd, @elikatsis) once they are back from PTO. We can make a PR for adding the OWNERS file.

[2020-08-11 16:05] jbottum opened #5203 "Kubeflow 1.1 Community Slide Deck"
/kind feature

We want to provide 1 slide on each of the new features in Kubeflow 1.1, which will describe the feature, its benefit and how to get more info.   Once the presentation looks good, we would like to present it to the Community.

**Describe the solution you'd like:**
Per above 1 slide on each 1.1 feature, that users can view to get a quick understand of what is new

**Anything else you

[2020-08-11 16:20] jbottum commented on #5203
@jlewi @terrytangyuan @Bobgy @animeshsingh @jinchihe @cspavlou @hamelsmu Hey Jeremy, Terry, Yuan, Animesh, Jinchi, Chris, Hamel - I have requested your input / improvements on the Kubeflow 1.1 slide (especially on the slide that pertains to your 1.1 contribution).    Would you please consider contributing your improvements by Aug 14?   I would like to propose that we present those slides to the Co

[2020-08-11 16:40] raravena80 commented on #5195
Thanks @jlewi (joined the ML)

@jbottum likewise! It's fine if you don't have comparison material but it would still be great to have a session about the project. I think you can share a combination: 3). Our meetings usually last about an hour so anything that can fit in that time frame or less works.

[2020-08-11 16:59] hamelsmu commented on #5203
@jbottum I updated slide about the blog

[2020-08-11 17:02] Jeffwan commented on #4857
I think we can either improve culling feature in Jupyter or support a new button to scale statefulset to 0.

Actually both can be supported for different use cases. We'd better bring notebook status in the UI as well

[2020-08-11 17:12] animeshsingh commented on #5022
https://github.com/kubeflow/website/pull/2106
this one just went in @jlewi

[2020-08-11 17:13] swiftdiaries commented on #4857
How would replacing the backend for the controller to a Knative Service work?
We can get scale-to-zero functionality from Knative Serving. Or is that over-engineering for this feature?

[2020-08-11 22:22] snowlover173 commented on #5199
@worsecoder Your cluster doesn't have externalIP.
Firstly :You are using a doc that is installing Istio and Istio needs external IP(or a lot of infra setup)
If you don't wanna have externalIP you need to install only Kubeflow Pipeline SDK on your cluster, and some other components that u like but not all the components.
Based on which cloud provider you use there are docs on installing KFP on exis

[2020-08-11 22:57] seizadi commented on #5196
Here is the configuration, despite that error it did find the certificate for the domain in ACM and programed the ALB so it was able to come up.

[code]

[2020-08-11 23:09] jlewi commented on #5203
I looked at the doc and commented.

[2020-08-12 03:10] #4689 closed

[2020-08-12 03:10] #4971 closed

[2020-08-12 03:10] #4987 closed

[2020-08-12 03:10] #4945 closed

[2020-08-12 04:00] tranlyvu commented on #4806
@DreamerCather what is your firewall rule?

[2020-08-12 04:16] DreamerCather commented on #4806
@tranlyvu I close the firewalld，as follows，when I move four directories from kustomize to other places
drwxr-xr-x 4 root root 4096 Aug 12 11:27 cert-manager
drwxr-xr-x 3 root root 4096 Aug 10 18:32 cert-manager-crds
drwxr-xr-x 3 root root 4096 Aug 10 18:33 cert-manager-kube-system-resources
drwxr-xr-x 4 root root 4096 Aug 10 20:17 seldon-core-operator
the warnning  disappers，this namespace kubeflo

[2020-08-12 09:24] axelgobletbdr commented on #5188
@Jeffwan right

[2020-08-12 09:25] #5188 closed

[2020-08-12 09:54] EduardFazliev commented on #5075
I have the same issue not only using version 1.0.2, I've tried 0.7 version and had same error... Is there a workaround for this?

[2020-08-12 10:23] Junaid-Ahmed94 opened #5205 "GOOGLE_APPLICATION_CREDENTIALS for self managed cluster"
/kind question

**Background**
We have a self-managed k8s cluster that we are using to deploy kubeflow application. The cluster was created with spotify's TF module. [https://github.com/spotify/terraform-gke-kubeflow-cluster/](url) The module dont have workload identity feature enabled so we have modified and enabled the WorkloadIdentity to allow multi-user isolation.

As it is a self-managed k8s

[2020-08-12 12:26] Junaid-Ahmed94 commented on #5205
While looking into logs of cloud endpoint pod, i came across the following
[code]
It turns out as soon as i start the ingress service `kubectl apply  -k kustomize/iap-ingress` the cloud endpoint pod starts to throw this error. but before applying the iap-ingress following was the log output
[code]

[2020-08-12 13:57] MartinForReal commented on #4060
related #5197

[2020-08-12 14:36] MartinForReal opened #5206 "Notebook Controller should add support for kernel gateway or enterprise gateway"
/kind feature

**Why you need this feature:**
By default, a kernel is started in the pod when a developer tries to execute code in a notebook. And this makes it very hard to manage kernel processes in the pod.  And it may lead to zombie processes. Also if the pod crashed accidentally, the user will lose all of the contexts because all of the processes are killed when the pod is restarted.

**Descr

[2020-08-12 15:07] TomasPihrt opened #5207 "Profile label not propagated to Namespace"
When manually creating a `profile` [referring the docs: manual-profile-creation](https://www.kubeflow.org/docs/components/multi-tenancy/getting-started/#manual-profile-creation) that contains the `app.kubernetes.io/part-of: kubeflow-profile` label, the label is not further propagated to the linked `namespace`.

**Features affected by this behaviour:**
- Notebook Server Configuration - `PodDefault`

[2020-08-12 15:32] knkski commented on #5175
@jlewi: Sure, opened up #5208 to add that step. I put it in the `Updating version numbers` section, let me know if it should go elsewhere instead.

[2020-08-12 19:17] wdhorton commented on #4857
If this works:

it seems like we could get to this functionality with these changes:
1) some API that could be called to make these annotation changes
2) a button on the notebook dashboard that calls the API
3) a display on the dashboard that turns these annotations into a user-visible status

I know there are probably a lot of weird edge cases, but it seems like those are all achievable steps wit

[2020-08-12 21:38] jbottum commented on #5203
@hamelsmu @jlewi @jinchihe @andreyvelich thanks for your comments on the KF 1.1 slide deck.   We are off to a good start.  This is good stuff.   I was especially glad to get the info on the new features in Katib...I missed those in the blog post.

[2020-08-13 03:32] jbottum opened #5209 "1.2 Planning Session with Kubeflow Users"
/kind question

**Question:**
The Kubeflow Community Product Management Team is suggesting that we should conduct a Kubeflow 1.2 Planning Session with Kubeflow Users.

The proposal is provided in this doc: https://docs.google.com/document/d/1KgXG6qMcsoBGnT1aPMcAgbGONojcsi1JDV5cKsZEdQM/edit

We would like to conduct this session in August.

[2020-08-13 03:33] jbottum commented on #5209
@elviraux @aronchick @jtfogarty Hey Elvira, David, Jeff - do you have any comments on this proposal ?

[2020-08-13 06:13] jazzsir opened #5210 "Some notebooks need configuration files to access private servers."
/kind feature

**Why you need this feature:**
[Is your feature request related to a problem? Please describe in details]
In an air-gapped environment, after deploying a notebook, a user or an administrator needs to manually copy some configurations files into $HOME directory to access docker private registry, PyPI server(pip.conf) and so on

**Describe the solution you'd like:**
[A clear and conci

[2020-08-13 06:27] ZhiqiangWangICT commented on #4366
I met same question, how did you fix it?

[2020-08-13 06:31] jazzsir commented on #5207
/assign

[2020-08-13 06:56] cliveseldon commented on #5209
Should we ask in "devops/architects" section what other systems or services Kubeflow should provide easy integration with?

[2020-08-13 09:08] ReyRen opened #5211 "upstream connect error or disconnect/reset before headers. reset reason: connection failure"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I following the doc installed the kubeflow, and all of those pods are at RUNNING status.
But, when I create a `Notebook Servers`, which use a custome image, pods startup and keep RUNNING status. Then I try to click "connect" in `Notebook Servers`, the error would occur with **upstream co

[2020-08-13 13:22] jlewi commented on #5175
Thanks @knkski closing this because #5208 has been merged.

[2020-08-13 13:22] #5175 closed

[2020-08-13 13:42] mcantrell opened #5212 "404 error for istioctl installation instructions"
The instructions link is bad (404 error). After searching around, I think this may be the new link:

https://cloud.google.com/service-mesh/docs/gke-install-asm#downloading_the_installation_file

[2020-08-13 15:43] kzh opened #5214 "Installation conflict with cert-manager 0.16"
/kind bug

**What steps did you take and what happened:**
1. kfctl apply -V -f ${CONFIG_FILE}

**What did you expect to happen:**
I expected the installation to succeed.

**Anything else you would like to add:**
I'm trying to installing on an existing cluster that already has istio 1.16 and cert manager 0.16 installed. I removed these components from the yaml file.

**Environment:**

- Kubeflow ve

[2020-08-13 19:58] achandras commented on #4549
I believe this is still an issue, could it be reopened? I am still running into this with a Kubeflow 1.1.0 deployment using existing Istio services

[2020-08-13 22:33] liangxibing commented on #4806
@DreamerCather I met the same issue with you by using calico.
In their [website](https://docs.projectcalico.org/getting-started/kubernetes/managed-public-cloud/eks),  it mentioned:
[code]
So after I edit the `deployment.apps/cert-manager-webhook` and add `hostNetwork: true`, the error is disappeared.
However the pods under kubeflow namespace is still stucking in below two issues:
[code]

[code]

A

[2020-08-13 23:19] theophilee commented on #5212
Hi @mcantrell, I run into the same issue. Are these the right instructions? Seems like a lot of work and it requires to active Anthos that is paid service...

[2020-08-14 00:48] jazzsir commented on #5210
/assign

[2020-08-14 02:48] jazzsir commented on #5207
The "app.kubernetes.io/part-of: kubeflow-profile" is already applied, https://github.com/kubeflow/kubeflow/pull/4991

[2020-08-14 05:45] theophilee opened #5215 "Issue with new Kubeflow deployment guide"
/kind bug

**What steps did you take and what happened:**

I'm running this guide:
https://www.kubeflow.org/docs/gke/deploy/deploy-cli/

and I get the following error:
[code]

**What did you expect to happen:**
I expected `make apply` to finish with no errors.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
"kf-ca-pipeline" is the name o

[2020-08-14 09:28] #4973 closed

[2020-08-14 09:28] #4830 closed

[2020-08-14 09:28] #4983 closed

[2020-08-14 14:35] tretos53 commented on #5192
I followed https://master.kubeflow.org/docs/aws/deploy/install-kubeflow/ on a brand new cluster.

Istio-ingress doesn't return the ADDRESS

[code]

As you mentioned before, this might be due to ALB not working correctly. Well, the ALB is not in a healthy state:

`pod/alb-ingress-controller-db976d7f-wjkf8                    0/1     CrashLoopBackOff`

 The log file is:

[code]

I am happy to add bel

[2020-08-14 18:09] terrytangyuan commented on #5203
@jbottum Thanks. I have made some edits on relevant slides.

[2020-08-15 06:34] MartinForReal opened #5216 "[notebook controller] Integration with prometheus operator"
/kind feature

**Why you need this feature:**
I need to monitor the usage of notebook instance by leveraging existing monitoring infrastructure. Such as Prometheus operator.

**Describe the solution you'd like:**
Jupyter lab has provided Prometheus metrics in its API design. https://github.com/jupyter/notebook/issues/3682
we can collect these metrics and get useful information such as last login t

[2020-08-15 10:20] gudipudipradeep opened #5217 "gcr.io/arrikto-playground/rok-kmod:v0.14-106-g3a338c1 You don't have the needed permissions to perform this operation"
Error response from daemon: unauthorized:
You don't have the needed permissions to perform this operation, and you may have invalid credentials. To authenticate your request, follow the steps in: https://cloud.google.com/container-registry/docs/advanced-authentication

[2020-08-16 14:36] #4844 closed

[2020-08-16 17:36] #4914 closed

[2020-08-17 08:34] jinchihe commented on #5203
@jbottum I updated page #4 for Fairing. Thanks.

[2020-08-17 14:24] jlewi commented on #3657
@kimwnasptd and @StefanoFioravanzo any update on this?

[2020-08-17 16:53] animeshsingh commented on #5203
@jbottum updated Kfserving page

[2020-08-17 17:59] swiftdiaries opened #5219 "Release - Kubeflow v1.2"
/kind process

**Why you need this:**
[Is your feature request related to a problem? Please describe in details]
This is an uber tracking issue for releasing related issues/bugs.

**Describe the solution you'd like:**
[A clear and concise description of what you want to happen.]

- [ ] Update [releasing docs](https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md)
- [ ] Prow/GitHub

[2020-08-17 21:57] hungrysushi commented on #5176
Also very interested in seeing support for this, as I am trying to deploy Kubeflow with OIDC to a cluster with an existing Istio 1.6.x deployment for other services, and since authentication is so closely tied to Istio, this has been a bit of an obstacle for us.

The issues we have run into so far, other than the ones mentioned already by @axelgobletbdr, are around authentication using the provide

[2020-08-17 21:58] Jeffwan commented on #4822
Tested 1.17 with KF 1.1. We don't see breaking changes there. It should be able to run on 1.17.

[2020-08-18 02:30] MartinForReal commented on #5200
@yanniszark I'm personally interested in maintaining notebook controller. But I need to start from submit commits. Any update on #5197 is appreciated. Thanks!

[2020-08-18 13:41] jlewi commented on #5200
@yanniszark @StefanoFioravanzo @kimwnasptd, @elikatsis ping? Could we create an OWNERS file please? And could you review #5197 please?

@MartinForReal Thats great! Once the OWNERs file is created you can add yourself as a reviewer to it.

[2020-08-18 13:56] jlewi opened #5220 "PodDefaults needs an OWNERs file"
/kind process

The directory for the PodDefaults controller is missing an OWNERs file
https://github.com/kubeflow/kubeflow/tree/master/components/admission-webhook

We should also consider renaming the directory.

@yanniszark mentioned in kubeflow/community#381 he might be willing to be an OWNER.

@discordianfish might also be interested.

[2020-08-18 14:03] jlewi opened #5221 "Contrib DockerImages (rapidsai and kaggle) need OWNERs files"
/kind process

The images are in the contrib directory
https://github.com/kubeflow/kubeflow/tree/master/components/contrib

cc @thesuperzapper and @pdmack

[2020-08-18 14:47] marrrcin opened #5223 "Installation guide for GCP is incomplete and it's impossible to deploy new Kubeflow cluster"
/kind bug

**What steps did you take and what happened:**
I've carefully followed the GCP Kubeflow deployment guide **twice** (starting from scratch), without success.
https://www.kubeflow.org/docs/gke/deploy/

My `set-values` from Makefile (the one from https://www.kubeflow.org/docs/gke/deploy/deploy-cli/#fetch-packages-using-kpt):
[code]

Final error I get after running `make apply` in step http

[2020-08-18 15:42] swiftdiaries opened #5224 "[Release 1.2] Feature Planning / Roadmap"
/kind question

**Question:**
Hey all,
This is a tracking issue for feature planing and release roadmap for Kubeflow 1.2.
This will serve as a common issue to track features going into 1.2 and touch base with the application owners / WG owners.

It'd be great if they could post a list of things they're planning around 1.2.
/cc
Application WGs:
- KF Serving: @cliveseldon @animeshsingh @yuzisun
- KF

[2020-08-18 16:47] discordianfish commented on #5220
Isn't the plan to replace this by podpresets anyway? But I can be an owner for now at least.

[2020-08-18 18:30] Jeffwan commented on #5220
@discordianfish I think long term yes,  podpresets is still `alpha` and most of the distribution doesn't support alpha feature yet. Whenever it becomes BETA, we can replace current solution with it.

[2020-08-18 19:20] apryiomka commented on #5178
Dropping `kfctl` completely and make manifest to be deployed by kustomize only.

[2020-08-18 21:54] subodh101 commented on #5223
Regarding the error. I think this has been resolved.
Did you follow with [updated docs](https://www.kubeflow.org/docs/gke/deploy/deploy-cli/#configure-kubeflow)?

### Make the managed project’s namespace default of the context:
[code]

If not it's okay. Just edit the line in the instance Makefile with namespace.
[code]

[2020-08-18 23:04] swiftdiaries commented on #5224
KF Serving: https://kubeflow.slack.com/archives/CH6E58LNP/p1597776731267800
Latest release was [KFS v0.4](https://github.com/kubeflow/kfserving/releases/tag/v0.4.0)
This will probably be the release that goes in KF v1.2

[2020-08-19 02:01] ReyRen commented on #4728
@mfojtak
hello, really need you'd help :)
I occurred the same issue like you. And I tried using `kfctl delete `, and then delete namespaces include "cert-manager", "istio-system", "knative-serving" and "kubeflow"(Solved the Terminating status). However, the "knative-install error" still exist when using `kfctl apply ..` to reinstall.
#3767 seems not have a clear solution.
Can you please tell me ho

[2020-08-19 02:34] nlaanait opened #5227 "RBAC: access denied when opening notebook server in shared namespace with multi-tenancy"
/kind bug

**What steps did you take and what happened:**
In my deployment of kubeflow v1.1 (on EKS cluster) with multi-tenancy, I'm finding that if `User-A` adds `User-B` as a namespace contributor (and vice versa) then `User-A `cannot open a jupyter notebook in the `User-B` namespace (and vice versa).
Opening the jupyter notebook results in an empty page with `RBAC: access denied`.

However, `Us

[2020-08-19 06:15] jl-massey commented on #3362
I don't suppose you have a tutorial or step-by-step instructions for how you did this, exactly? (that you'd be willing to share)

[2020-08-19 06:33] jl-massey commented on #5071
@SpontaneousDuck
It works on our work cluster, and it uses LDAP Dex authentication.  The only trouble we came across is that our user email/id includes digits that are filtered when the rbac rolebinding is created.  When the rolebinding was named, it created a conflict if someone had a similar id (differing only by the digits).

Apparently this is been fixed in KF1.1?  If it's broken you can still

[2020-08-19 06:43] #4984 closed

[2020-08-19 06:43] #4826 closed

[2020-08-19 06:43] #5007 closed

[2020-08-19 06:43] #4819 closed

[2020-08-19 06:43] #4802 closed

[2020-08-19 06:43] #4811 closed

[2020-08-19 06:43] #4820 closed

[2020-08-19 06:43] #4807 closed

[2020-08-19 07:51] ReyRen commented on #4728
It seems kfctl-v1.1.0 solved this problem

[2020-08-19 08:42] unagaraju88 commented on #4980
Any update on this bug? I am also facing same issue.

[2020-08-19 08:51] ReyRen opened #5228 "The login selection with creating namespace not popup when first entry reinstalled kubeflow dashboard"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

When I reinstall the kubeflow successfully, and then go into the kubeflow dahboard. The namespace create option not popup. So, it can do nothing without ns.

when I successful reinstall the kubeflow,

**What did you expect to happen:**
popup the namespace creation option or I can assemb

[2020-08-19 11:01] ReyRen commented on #5228
This happened because `kubeflow` namespace still exist after using "kfctl delete -f xxx". So, just delete the kubeflow namespace, and reinstall would be good

[2020-08-19 11:01] #5228 closed

[2020-08-19 11:09] ReyRen commented on #5211
need help, please

[2020-08-19 11:52] thesuperzapper commented on #4953
Bump

[2020-08-19 15:32] tretos53 commented on #5192
@Jeffwan do you have any advice on this?

[2020-08-19 15:46] theophilee commented on #5223
First of all, I really appreciate the effort put by the community in the Kubeflow project, it's really awesome.
But @marrrcin I have the same impression as you after trying to set up the GCP guide: the documentation really seems to be neglected.
When you make a change that's not backward compatible (e.g., introduce a management cluster), please make sure that the new documentation works...

[2020-08-19 17:43] yanniszark commented on #5220
@jlewi @discordianfish made a PR here: https://github.com/kubeflow/kubeflow/pull/5229

[2020-08-19 17:51] 8bitmp3 commented on #5223
@marrrcin @theophilee - I'm an external contributor and reviewer here. Saw your post on Slack and I appreciate your awesome feedback.

Can you please do the following to get this resolved faster:
- Move/duplucate this docs-related issue in www.github.com/kubeflow/website since that is where the docs sit.
- Assign the team at GCP (`/assign @Bobgy @joeliedtke @jlewi`) and they or somewhere else from

[2020-08-19 17:56] yanniszark commented on #5200
@jlewi lots of people still on PTO. We should be able to pick this up starting next week.

[2020-08-19 18:07] 8bitmp3 commented on #5223
/assign @Bobgy @joeliedtke @jlewi

[2020-08-20 02:58] Bobgy commented on #5224
For KF Pipelines, we don't have headline features planned for the upcoming 3 months.
KFP IR is our focus right now, and it will take more than 3 month to land.

[2020-08-20 06:07] ReyRen commented on #5211
Ok, those image need to be customized. Refer to [Create a Custom Jupyter Image](https://www.kubeflow.org/docs/notebooks/custom-notebook/)

closed

[2020-08-20 06:07] #5211 closed

[2020-08-20 07:56] toddlerds opened #5230 "failed calling webhook "webhook.cert-manager.io""
https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

kfctl apply -V -f ${CONFIG_URI}

error:
Encountered error applying application cert-manager:  (kubeflow.error): Code 500 with message: Apply.Run : error when creating "/tmp/kout884432936": Internal error occurred: failed calling webhook "webhook.cert-manager.io": the server is currently unable to handle the request  filename="kustomize/ku

[2020-08-20 08:33] marrrcin commented on #5223
1. Of course I've used the most recent docs.
2. Your solution does not help.

[2020-08-20 14:42] #5220 closed

[2020-08-20 15:57] swiftdiaries opened #5231 "Separate repo for creating/holding release tooling"
/kind feature

**Why you need this feature:**
[Is your feature request related to a problem? Please describe in details]
As part of https://github.com/kubeflow/kubeflow/issues/5219, I would like to create a repo `kubeflow/release` to hold all the tooling related to releasing.
We no longer have a simple release process so I think it's a good idea to try and automate some of the common chores to mak

[2020-08-20 15:58] swiftdiaries commented on #5231
/assign @jlewi @swiftdiaries

[2020-08-20 20:24] philipebuka commented on #4769
I am presently having this same error. anyone with any ideas on how to solve it?
![Opera Snapshot_2020-08-20_205008_console cloud google com](https://user-images.githubusercontent.com/42984240/90821875-82749a00-e32b-11ea-9d75-bdf07a5f707d.png)

[2020-08-21 00:09] Bobgy commented on #4899
/lifecycle frozen

[2020-08-21 02:29] thesuperzapper commented on #5223
I feel like I could contribute a guide for deploying vanilla K8S (dex based) using argo-cd.

[2020-08-21 05:48] Bobgy commented on #5223
Hi all, I feel sorry you are getting the frustration when deploying to GCP.

I have already updated problems 2. in the public docs (before I saw this issue), so I hope there won't be future confusions for others.
Thanks for mentioning 1, and I will add that to the docs.

For @marrrcin's problem when deploying, we could have done better at explaining what it means when we are waiting for containerc

[2020-08-21 05:53] Bobgy commented on #5223
@thesuperzapper I think that's a good idea too!

The current GCP blueprint pattern focuses on making GCP resource provisioning scalable (it works with customizations and upgrades), but if you prefer managing GCP resources yourself, or just want to use GCP resources as minimal as possible and use Kubernetes resources instead. Not using the blueprint pattern also makes sense.

Note that the `makefil

[2020-08-21 22:07] regorsmitz opened #5232 "Understanding URI resolution in Kubeflow"
/kind question

**Question:**
How does URI resolution work in Kubeflow? I'm looking for either code or docs that can help me answer this question.

The specific reason for my question is that I'd like to expose the minio service so it can be accessed at a URI like `my-kubeflow.server.com/minio`, to give the mysql instance included in Kubeflow a URL, or to rewrite the URI for accessing Seldon-core

[2020-08-23 21:43] whillas opened #5233 "How to server a model for inference in a processing step?"
/kind question

So i have asked this in Slack and got crickets and then someone suggested I ask here, so:

**Question:**

I have a preprocessing step on the data before training our model. This preprocessing step needs a Detectron2 model to do image segmentation on all the images before training the next model. HOW do i server this model so another step/script can use it? or how do a spawn multipl

[2020-08-24 00:15] khangtrantri commented on #4806
I'm facing this problem too. Tried all solution above but not solve anything :( Any idea guys

- Rancher cluster (RKE)
- Kubernetes version: 1.15 (also 1.18 tried)
- Firewall on VM hosts are disabled

[2020-08-24 01:25] Bobgy commented on #5223
Hi @cm185255
[code]
Here's the important part and it tells another service account this cluster depends on is not ready.

You can debug what went wrong with the service account in the same approach.
[code]

[2020-08-24 10:29] AigizK opened #5234 "Minikf doesn't install on GCP"
/kind bug

**What steps did you take and what happened:**
I use this instruction: https://www.kubeflow.org/docs/started/workstation/minikf-gcp/
Root store 100GB
Data store 200GB

The first problem: the step "Exposing Services 25%". There was an error in logs related to certificates.
Solution: update MiniKF and restart.

Next problem: MySQL doesn't start, Pending status all the time.
We cannot solv

[2020-08-24 10:42] discordianfish commented on #4982
I think a CRD might be a good long term solution but with so many things in flux, I agree that this probably isn't the best way for now. Especially since I probably won't have resources to work on this after all..

Instead, now with https://github.com/kubeflow/kfctl/issues/304, I'd probably use an overlay to either remove the configmap or add the images when applying the kustomize manifests. So I

[2020-08-24 10:42] #4982 closed

[2020-08-24 11:09] yanniszark commented on #5234
Hi @AigizK!
The problem is most likely due to your configuration of:

Please use the minimum recommended 200GB root  and 500GB data recommended in GCP and report here if that doesn't fix the issue.

[2020-08-24 11:15] Bobgy commented on #5223
Hi all, I answered most of questions raised here centrally in https://github.com/kubeflow/gcp-blueprints/issues/123. Please take a look and feel free to ask me any further questions.

[2020-08-24 12:11] AigizK commented on #5234
@yanniszark  I found a problem. The Service Management API  was disabled.
After enabling, I could create the MiniKF

[2020-08-24 12:11] #5234 closed

[2020-08-24 13:42] achandras opened #5235 "NodeSelector for Jupyter UI and notebooks"
/kind question

I am deploying kubeflow 1.0.2, and the default `spawner-ui-config.yaml` didn't have any indication of where to set node selectors.

I would like the notebook server and notebooks to run on a specifically labeled set of nodes, so any ideas on how to accomplish this would be appreciated

[2020-08-24 14:21] cm185255 commented on #5223
Thanks @Bobgy very much for the feedback and for providing the commands.

When I run `kubectl --context ${MGMTCONTEXT} describe iamserviceaccount -n ${PROJECT}`, this is the output:
[code]
From this output, everything looks fine with the `kubeflow vm service account`; it now says it is `Ready`.

However the useful portion of `kubectl --context xx get containercluster -n XXXX -o yaml` now reveals:

[2020-08-24 15:30] jlewi commented on #5223
@cm185255 The error indicates your configuration is invalid. Can you attach the output of

[code]

Does the cluster actually exist? e.g.

[code]

Try deleting the K8s resource and recreating it

[code]

[2020-08-24 16:48] cm185255 commented on #5223
@jlewi Thanks for you feedback.

The full output for `kubectl --context=xx --namespace XXXX get containercluster -o yaml` (with ${PROJECT} changed to `XXXX` and ${MGMT-CTXT} changed to `xx`) is:
[code]
with the same `UpdateFailed` message printed in the `status` section.

The cluster does seem to exist from `gcloud --project=${PROJECT} container clusters list`
[code]

when I check the deployment v

[2020-08-24 19:55] yassine-labidi opened #5236 "Uninstalling kubeflow 1.0.2 (GCP) leaves a dangling ssl certificate"
/kind bug

**What steps did you take and what happened:**
 - Installed kubeflow 1.0.2 (gcp_iap manifest)
 - Then proceeded to uninstall it
 - Listed the ssl certificates:
`gcloud beta compute ssl certificates list`
 - Certificate was still there and active

**What did you expect to happen:**
The ssl certificate would be deleted as part of the uninstallation process

**Environment:**

- Kubeflow ve

[2020-08-24 23:42] Bobgy commented on #5223
@cm185255 can you try this to make sure it's not race condition?
[code]

[2020-08-24 23:52] Bobgy commented on #5223
@cm185255 I created an issue for you in Cloud Config Connector's repo. We can follow up there if this still doesn't work.
https://github.com/GoogleCloudPlatform/k8s-config-connector/issues/259

[2020-08-25 00:49] regorsmitz commented on #5232
@Bobgy helped me get this to work. Apparently ambassador has been discontinued as of KF 0.7. What I needed to use in order to set up a rule to redirect the /minio/ subdirectory to a minio service was a VirtualService https://istio.io/latest/docs/reference/config/networking/virtual-service/. Running `kubectl get virtualservice -n kubeflow` also helped me more generally understand how routing to ser

[2020-08-25 00:49] #5232 closed

[2020-08-25 02:10] zhzhang opened #5238 "How to change the display name of a task?"
/kind question

**Question:**
I am trying to create multiple instances of a component that does some redshift queries `redshift-op`, and name each uniquely so that it is displayed in the UI, i.e. `fetch-training-data`, `fetch-test-data` to disambiguate them.
I have seen https://github.com/kubeflow/pipelines/pull/2459 and https://github.com/kubeflow/pipelines/pull/4153 and am trying to take the `Ta

[2020-08-25 09:35] axelgobletbdr commented on #5152
Hi @MartinForReal, we stumbled upon an issue related to this one: when creating a notebook in the UI with wrong resource specs (e.g. "1 Gi" memory), the notebook-controller crashes because it is unable to read the notebook resource.

Your proposed solution can solve this issue as well. Did you already start working on this feature?

[2020-08-25 09:57] MartinForReal commented on #5152
@axelgobletbdr this issue depends on #5197. FYI

[2020-08-25 10:03] axelgobletbdr commented on #5152
@MartinForReal I dont understand how these Issues are related. Can you elaborate?

Furthermore, many misconfigurations could potentially be fixed using OpenApi V3 validation: https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#validation
It would work for the memory issue for sure. Would it solve your problems as well?

[2020-08-25 10:08] marwanfahmi opened #5239 "Error dsl-compile a pipeline creation script in a k8s job"
/kind bug

**What steps did you take and what happened:**
Executing the below command in a Kubernetes job to generate a pipeline file to be imported to KF after:
dsl-compile --py /app/PipelineScript.py --output /app/PipelineName.tar.gz

Error raised:
2020-08-25T12:17:14.008102873Z RuntimeError: Internal compiler error: Found unresolved PipelineParam.
2020-08-25T12:17:14.008107011Z Please create a

[2020-08-25 10:18] MartinForReal commented on #5152
@axelgobletbdr From my point of view, schema validation problem, configuration for Prometheus and cert-manager, and other issues have been handled by the newer version of kubebuilder. So I regenerated the notebook-controller project using v2 kubebuilder and the result shows that newly generated project has a dependency on controller-runtime 0.4.0 or later. So I think it is a good idea to update de

[2020-08-25 10:23] MartinForReal commented on #5230
is cert-manager unavailable for processing requests?

[2020-08-25 10:40] axelgobletbdr commented on #5152
@MartinForReal posting your PR into the kubeflow slack channel has helped me getting it merged quickly in the past.

[2020-08-25 10:42] MartinForReal commented on #5152
I agree. But the point is nobody actually owns notebook controller.

[2020-08-25 11:54] axelgobletbdr commented on #5152
I solved my problem by adding an overlay to the notebook CRD in kubeflow/manifests:

[code]

This prevents misconfiguration of cpu and memory requests and limits. I still do not fully understand how the notebook-controller update will help here. If it does and when it is merged, I can always remove this patch from kubeflow/manifests.

[2020-08-25 13:30] aychang95 commented on #4702
Is there a scheduled log out timer? I'm using the istio/dex Kubeflow build and am extracting the `authservice_session` cookie/token for authenticating requests for my seldon endpoints.

It seems like the value changes after every logout/login due to the clearing of cookies. Is there an easy way to make the cookies constant?

[2020-08-25 13:34] #5200 closed

[2020-08-25 13:47] jlewi commented on #5231
All new projects and repositories need WG sponsorship.  Which WG would be owning this?

Historically, kubeflow/testing has been the repo for common CI/CD infra.

[2020-08-25 15:37] mnmami opened #5242 "Kubeflow manifests downloaded to upstream/ instead of upstream/manifests/"
/kind bug

**What steps did you take and what happened:**

During the deployment of Kubeflow, step ([Configure Kubeflow](https://www.kubeflow.org/docs/gke/deploy/deploy-cli/#configure-kubeflow)), running `make set-values` got me the following output including an error:

[code]
I checked and found it indeed as reported, `upstream/manifests/gcp` does't exist; `gcp/` directory exists directly under `

[2020-08-25 16:16] seizadi commented on #5196
I got past the ALB basic setup and now have an issue running kubeflow services that depend on kfserving/knative, here is the issue from kubeflow...
[https://github.com/kubeflow/kfserving/issues/815](https://github.com/kubeflow/kfserving/issues/815)

Can we configure a ALB redirect listener to forward http (port 80) requests to https (port 443)?

[2020-08-25 22:01] yassine-labidi commented on #5236
This should be opened on the manifests project.

[2020-08-25 22:01] #5236 closed

[2020-08-25 22:30] #5012 closed

[2020-08-25 22:56] swiftdiaries commented on #5231
I think it makes sense to hold them in a separate directory under `kubeflow/testing`.
My intention was to create a `wg-release` to ensure we have timely releases and improve our release infrastructure. Let's see if there's enough people to staff it

[2020-08-26 02:02] MartinForReal commented on #5235
[code]

FYI

[2020-08-26 06:31] DDDDDDDDDDDDLANG opened #5243 "Issue with installing v1.0.2 : "google-api-vs" is invalid"
/kind bug

**What steps did you take and what happened:**
attempted to install kubeflow per these instructions:
https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

and I run the .sh file:
[code]

**What did you expect to happen:**
WARN[0593] Encountered error applying application istio:  (kubeflow.error): Code 500 with message: Apply.Run  Error [error when creating "/tmp/kout061279272": Vi

[2020-08-26 08:57] jonasdebeukelaer commented on #1933
Hey reopening to say this error still popped up for me on a 1.1 install, but at a different point:
[code]

rerunning `make apply` does fix it as before.

also getting it for kind `Image`:
[code]

and `Profile`:
[code]

and here too rerunning the command works.

[2020-08-26 09:58] #5039 closed

[2020-08-26 13:05] achandras commented on #5235
@MartinForReal the Notebook resource does indeed let me add pod specs. I was wondering if it was possible to add them through the Jupyter Web App UI.

Many thanks for the pointer!

[2020-08-26 13:14] MartinForReal commented on #5235
I think one possible solution is that you can mount a template file using configmap and change the content of template accordingly

[2020-08-26 18:18] charlesparasa commented on #4005
same here please help

[2020-08-26 19:26] pkasson opened #5244 "Running kfctl apply ... tries to write to /tmp - no permissions - how to change folder"
Installing Kubeflow on AWS - everything is working until running ... tries to write to /tmp.

Even chown to ec2-user and applied 777 (all no-no's) but still fails.

How can you change this folder location

[2020-08-26 21:14] Jeffwan commented on #5227
I will help check the if I can reproduce the issue `RBAC: access denied`.

[2020-08-27 02:51] impravin22 commented on #4642
Does anyone solve this issue? I am facing the same issue :(
`kubectl port-forward -n istio-system svcistio-ingressgateway 8080:80'
'Forwarding from 127.0.01:8080 -> 80'
'Forwarding from [::1]:8080 -> 80'
'Handling connection for 8080`

But I cannot access the webpage 'http://localhost:80'

I appreciate it if anyone helps me to solve this.
Thanks in advance.

[2020-08-27 02:53] tejaschumbalkar opened #5245 "kubeflow v1.0.2 / v1.1.0 installation error on AWS"
/kind bug

**What steps did you take and what happened:**

Installation of kubeflow v1.0.2 and v1.1.0 fails on AWS EKS platform.

Getting the following error while installing kubeflow v1.0.2 with config [kfctl_aws.v1.0.2.yaml](https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_aws.v1.0.2.yaml)

[code]

**What did you expect to happen:**

Kubeflow installation successful o

[2020-08-27 03:21] #5231 closed

[2020-08-27 03:40] alexw994 commented on #5171
This erro also occurs when kfctl  v1.1.0 was deployed

[2020-08-27 10:05] novakg opened #5246 "Spark-operator, spartakus and tensorboard are missing when installing to existing Kubernetes cluster"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I'm trying to install Kubeflow on an existing Kubernetes (1.15.12) cluster following the instructions of the [doc](https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/):

1. Download the kfctl v1.1.0 release from the Kubeflow releases page.
2. Unpack the tar ball
3. Set environmen

[2020-08-27 10:52] knave07 opened #5247 "(Kubeflow v1.1) Error in NODES after scaling down nodepool to 0 and then upscaling it."
/kind bug

**What steps did you take and what happened:**
I successfully deployed Kubeflow 1.1 (starting from scratch) using this [guide](https://www.kubeflow.org/docs/gke/deploy/), without any error. I ran a simple pipeline and it worked.

As I deployed this on GCP, I manually scaled down both (mgmt and kubeflow 1.1) clusters to 0 just for saving some cost. When I upscaled them, the management cl

[2020-08-27 11:07] knave07 commented on #5247
`k -n <project-name> describe containerclusters <kubeflow-name>` shows:

[code]

[2020-08-27 13:45] danrzs commented on #5246
Exact same error and situation here, Kubernetes version v1.15.12, tried with kfctl versions v1.0.2-0-ga476281 and v1.1.0-0-g9a3621e

[2020-08-27 14:38] anineharto commented on #4386
I'm experiencing the same issue when running the following commands:
[code]
After complaints about the path to `spark-operator`, `spartakus` and `tensorboard` not existing, I removed these from the `.yaml` file. Now, I'm first getting the warning:
[code]
And after many retries it terminates with the error:
[code]

[2020-08-27 14:52] lukemarsden commented on #5246
I additionally get the following error after disabling spark-operator, spartakus and tensorboard:
[code]

[2020-08-27 15:14] cliveseldon commented on #5246
@lukemarsden the above error would be if you are installing on k8s >=1.18 I believe. At present we support >=1.12 <1.18

[2020-08-27 15:16] swiftdiaries commented on #5246
/assign @swiftdiaries

[2020-08-27 15:17] swiftdiaries commented on #5246
Hey
Let me add the applications to the `stacks/kubernetes`
Sorry for the bad initial experience

[2020-08-27 15:18] lukemarsden commented on #5246
@cliveseldon Thanks!

In that case, we should update https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/ to make the K8s version deps explicit.

@swiftdiaries Thanks! and no worries :smile:

[2020-08-27 15:56] arshashi commented on #5246
@swiftdiaries

I am also getting same error with kubernetes v.1.15 and kubeflow v1.1.0. Any workaround to fix this issue?

pplication.app.k8s.io/bootstrap created
INFO[0193] Successfully applied application bootstrap    filename="kustomize/kustomize.go:273"
INFO[0193] Deploying application spark-operator          filename="kustomize/kustomize.go:248"
2020/08/27 08:46:43 absolute path error in '/op

[2020-08-27 16:06] arshashi commented on #5246
Thanks @lukemarsden I followed this and the installation is successful. What is the impact on not installing those components?

[2020-08-27 16:06] swiftdiaries commented on #5246
I think for now you can remove the spark-operator, tensorboard and Spartakus from the stack and re-install. I'll add instructions for setting them up without the `stack/kubernetes` in a couple of hours

[2020-08-27 16:20] arshashi opened #5248 "MountVolume.SetUp failed for volume "webhook-tls-certs" : secret "webhook-server-tls" not found"
/kind bug

**What steps did you take and what happened:**
After kubeflow v1.1.0 is installed, none of the below workloads creates. It fails with an error "ReplicaSet "metadata-writer-694c48ccdc" has timed out progressing.; Deployment does not have minimum availability.".

In the pod events, I see the below error. This is the same errors on all the pods under the mentioned namespace workloads below

[2020-08-27 17:35] ssbhat commented on #5245
+1

[2020-08-27 17:35] derekwyatt commented on #5190
I'm seeing the same thing.  This is exacerbated when a lot of people are trying to use the system simultaneously.  Profiles sometimes can't get created, lots of timeouts and so forth.  We currently have 120 profiles but started seeing this problem around 80 or so.  We're looking into it now to see if there's a bandage we can put on it with some caching but if there are better options that anyone h

[2020-08-27 17:47] Jeffwan commented on #5245
Can you try v1.1 instead?

for v1.0.2 manually testing seems works fine.
[code]

[2020-08-27 18:03] tejaschumbalkar commented on #5245
Installation on v1.1 fails as well. Config file used [kfctl_aws.v1.1.0.yaml](https://raw.githubusercontent.com/kubeflow/manifests/v1.1-branch/kfdef/kfctl_aws.v1.1.0.yaml)

[code]

[2020-08-27 19:24] Jeffwan commented on #5245
The problem is http request return 403.  This is Amazon internal network..

[code]

[2020-08-27 20:21] Jeffwan commented on #5245
walkaround is to use local path point to tar file. I will have a check on the restrictions in our network later. public internet works fine.
[code]

[2020-08-27 20:50] DimaKav commented on #4987
In the setting up Oauth for Cloud IAP

The uri will not go into the "confirmed" as stated in #7 https://www.kubeflow.org/docs/gke/deploy/oauth-setup/

![image](https://user-images.githubusercontent.com/8162980/91493392-1aaed980-e86c-11ea-9cc3-e4c87c0e416e.png)

[2020-08-28 03:43] MartinForReal opened #5250 "Failed to create statefulset on kubernetes 1.18+ when new notebook resource is defined because finalizer access is not defined in rbac configuration"
/kind bug

**What steps did you take and what happened:**
Apply a notebook resource in kubernetes 1.18 cluster
and controller reported that

[code]

**What did you expect to happen:**
a statefulset is created without error

**Anything else you would like to add:**

**Environment:**

- Kubeflow version: 1.0.1
- kfctl version: (use `kfctl version`): none
- Kubernetes platform: (e.g. `minikube`): 1.1

[2020-08-28 07:16] #4725 closed

[2020-08-28 09:37] tonyaw commented on #5246
I switched to 1.17, and got same error:
020/08/29 06:17:54 absolute path error in '/home/tonyaw/opt/my-kubeflow/.cache/manifests/manifests-1.1-branch/stacks/kubernetes/application/spark-operator' : evalsymlink failure on '/home/tonyaw/opt/my-kubeflow/.cache/manifests/manifests-1.1-branch/stacks/kubernetes/application/spark-operator' : lstat /home/tonyaw/opt/my-kubeflow/.cache/manifests/manifests-1

[2020-08-28 10:05] LuChengTHU opened #5251 "Add a view page for cluster status in the central dashboard"
/kind feature

**Why you need this feature:**
Admins for k8s can use the dashboard page to see the whole cluster status and the other information. However, for the ordinary kubeflow users, one cannot see the whole cluster status. There are a few situations where users need to know the usage and the status of the clusters, and even the usage status of other users. (e.g. a machine learning lab in th

[2020-08-28 10:14] yanniszark commented on #5251
@LuChengTHU welcome to Kubeflow!
This sounds like something close to the Kubernetes dashboard: https://github.com/kubernetes/dashboard
Is this something you have considered for meeting your needs?

[2020-08-28 10:17] LuChengTHU commented on #5251
@yanniszark Yes, but Kubernets dashboard is too heavy for ordinary users

[2020-08-28 10:20] LuChengTHU commented on #5251
@yanniszark Besides, machine learning users always want to use one page to train/test/view all the things...

[2020-08-28 10:33] yanniszark commented on #5190
@derekwyatt a PR is in-review: https://github.com/kubeflow/kubeflow/pull/5202
You can help by building an image from the PR's code and testing if it fixes your issue.

[2020-08-28 11:28] hlngaiSam opened #5253 "cache-deployer-deployment error & seldon-controller-manager crashLoopBackoff"
Hi all,

I have installed Kubeflow(Multi-user,auth-enabled kubeflow with kfctl _istio_dex) in my on-perm multi-master k8s cluster.

But some components: Cache-deployer-deployment, cache-server and seldon-controller-manager can't start normally.

<img width="1062" alt="Screen Shot 2020-08-28 at 6 04 31 PM" src="https://user-images.githubusercontent.com/69775981/91555480-aeaf9c80-e963-11ea-96bc-b4ed

[2020-08-28 14:32] sylus commented on #5190
I can say we are using the P.R. to great effect we also re-wrote the Jupyter API's into golang for the Jupyter Web App and now everything appears to be blazing fast :D

https://github.com/StatCan/jupyter-apis

[2020-08-28 14:50] yanniszark commented on #5190
@sylus that's great to hear. If you don't mind, what lead you to recreate the Jupyter APIs in Golang? Were you experiencing performance issues? If yes, with how many users?

[2020-08-28 16:17] LRSutton commented on #5246
@swiftdiaries -- Any progress on this doco? The install worked perfectly dropping those lib's but they were also the entire reason I was looking to leverage Kubeflow. Any insight would be welcome!

[2020-08-28 16:42] sylus commented on #5190
@yanniszark our issue was this one for why we had to redo the APIs :) :

https://github.com/kubeflow/kubeflow/issues/5201

[2020-08-28 16:44] derekwyatt commented on #5190
Preliminary results on testing #5202 are good for us as well.  We're going to stress it next week with actual humans but our automated stresses are showing quite positive results.

[2020-08-29 03:58] #4821 closed

[2020-08-29 03:58] #5034 closed

[2020-08-29 03:58] #5032 closed

[2020-08-29 03:58] #5024 closed

[2020-08-29 03:58] #5025 closed

[2020-08-30 12:08] #5166 closed

[2020-08-30 12:44] tiru1930 opened #5260 "0/3 nodes are available: 1 node(s) had taints that the pod didn't tolerate, 2 Insufficient cpu for kf-serving inference service on EKS cluster"
/kind bug

I have installed kubeflow EKS cluster and deployed Kf-serving inference deployment but I got below error instead of pod has to running and up

[code]
Extra info

[code]
[code]
Does EKS cluster auto-scale up ?

**Environment:**

- Kubeflow version:  kubeflow 1.1.0
- Kubernetes platform: EKS cluster
- Kubernetes version: (use `kubectl version`):
- OS  Linux/Ubuntu
kubectl version
Client V

[2020-08-30 13:03] kandrio98 opened #5261 "Tensorboard controller pod doesn't have all the permissions needed to manage Tensorboard servers"
/kind feature

The Tensorboard controller should be authorized to manage the deployments, services and VirtualServices that are needed so that the Tensorboard servers created would function as expected.

This is part of my GSoC-2020 proposal so I will create a PR to add the necessary roles.

cc @kimwnasptd @elikatsis

[2020-08-30 13:33] kimwnasptd commented on #5261
@kandrio98 you are referring to the RBAC permissions kubebuilder uses for running the controller locally or deploying it via the makefile right?

[2020-08-30 13:47] kandrio98 commented on #5261
@kimwnasptd Yes, exactly. I am referring to the RBAC permissions that are needed in order to deploy the controller via the Makefile. The controller doesn't have the right permissions to create and manage deployments, services and VirtualServices. Also, it needs RBAC permissions to watch;list;get pods and PVCs.

[2020-08-30 13:56] #5261 closed

[2020-08-30 15:43] azelezni commented on #4815
Some more info would be helpful, where exactly do I delete `ClusterName`? I don't see it anywhere in the manifests.

[2020-08-30 21:29] DanielSCon40 commented on #5201
We experienced this behavior also with a smaller number of profiles.

[2020-08-31 07:10] kimwnasptd commented on #5201
Thanks for the detailed report @sylus!

We should indeed move to `gunicorn` for serving the app instead of the Flask server.

What about increasing the number of replicas the jupyter web app has?

[2020-08-31 09:22] anineharto opened #5264 "Kubeflow deployment with kfctl_k8s_istio on Minikube fails w. error "spark-operator: no such file or directory""
/kind bug

**What steps did you take and what happened:**
Running the following commands on Vagrant VM:
[code]
Received the following output:
[code]

**What did you expect to happen:**
Kubeflow is deployed without error messages

**Environment:**

- Kubeflow version: (version number can be found at the bottom left corner of the Kubeflow dashboard): Not able to open dashboard
- kfctl version: (use

[2020-08-31 15:38] andreyvelich commented on #4730
/lifecycle frozen

[2020-08-31 15:43] #4883 closed

[2020-08-31 16:56] kimwnasptd commented on #3578
@jlewi @sarahmaddox, @kandrio98 @elikatsis and I are really excited to inform you that we have a first iteration of a web app for managing Tensorboard instances!

@kandrio98 did a lot of contributions both for in the Tensorboards Controller, #5069 #5218 #5262 #5266, as well as the actual web app, #5259 #5180 #5267. He has an e2e view of how to deploy a Tensorboard instance all the way from the use

[2020-08-31 17:09] swiftdiaries commented on #5246
Similar to how the `k8s_istio_dex` config does this, for now we can use this to include `spark-operator`:
[code]
I think we might need to remove the tensorboard app. See https://github.com/kubeflow/manifests/issues/415#issuecomment-612690570

[2020-08-31 17:20] swiftdiaries commented on #5246
Fix PR: https://github.com/kubeflow/manifests/pull/1515

[2020-08-31 19:49] filipe-cantarelli commented on #5186
@Jeffwan Did this regress? I tried with v1.1-branch master and I got the same error.

[2020-08-31 19:51] sarahmaddox commented on #3578
Well done @kandrio98, @kimwnasptd, and @elikatsis!

[2020-09-01 00:30] SteveHoggNZ commented on #5186
@filipe-cantarelli @Jeffwan I've just tried with the v1.1-branch master too and got the same error:

`2020-09-01T00:14:07.135Z	INFO	controllers.Profile	Plugin not recgonized: 	{"profile": "profile", "Kind": "AwsIamForServiceAccount"}`

[2020-09-01 08:47] Hmr-ramzi opened #5268 "Ability to link secrets and append them to default-editor service account after creation of profiles (and corresponding namespaces)"
/kind feature

**Why you need this feature:**
We generally use private docker registry in order to keep our images and it makes sense for many kubeflow users to have the ability to link images that resides on private registry without having to deal much with kubernetes (after installation)

**Describe the solution you'd like:**
To provide an ability in the central dashboard to add credentials for

[2020-09-01 09:07] #5242 closed

[2020-09-01 13:34] achandras commented on #5235
@MartinForReal apologies for the delay in responding. Could you explain a bit more about the template file in configmap? Is there some way to configure the notebook controller to use a template for its deployments?

If there is some documentation or example of this, that would be very helpful

[2020-09-01 13:35] jlewi commented on #5224
@swiftdiaries What is the timeline for 1.2?

[2020-09-01 13:53] swiftdiaries commented on #5224
Mid-November was the target I was shooting for so mid-October is when I hope to start the process. I want to do a minor release in 2 weeks to get the state of things and document stuff

[2020-09-01 16:24] crosvera commented on #5246
Hello there,

I'm new with kubeflow, and I found the same problem, but I made the following changes in the `kfctl_k8s_istio.v1.1.0.yaml` to deploy kubeflow in order to install spark-operator, spartakus and tensorboard:

[code]

Then I run `kfctl apply -V -f kfctl_k8s_istio.v1.1.0.yaml` and no errors were found :D. I hope it helps.

Best regards.

[2020-09-01 16:29] arshashi commented on #5246
I initially had the same issue. Post raising request, @ swiftdiaries<https://github.com/swiftdiaries>  fixed the issue.

If you download the new v1.1 yaml file, the fix is already updated. You don’t even need to comment the path.  It worked for me without commenting out at the next new download of .yaml file.

Thanks,
Shashi

From: Carlos Ríos <notifications@github.com>
Sent: Tuesday, September 1,

[2020-09-01 16:56] Jeffwan commented on #5224
Training storied for 1.2 and this year has been documented in roadmap doc [here](https://github.com/kubeflow/common/blob/master/ROADMAP.md). I think WG-Training will try to finish as more as we can. Some of them might be postposed to 1.3 release. I think we can update the progress later.

/cc @terrytangyuan @gaocegege @johnugeorge @ChanYiLin  Feel free to add more stories.

### Maintenance and rel

[2020-09-01 17:07] crosvera commented on #5246
Thanks @arshashi. I can see that in `master` branch the file  `manifests/kfdef/kfctl_k8s_istio.v1.1.0.yaml` was updated yesterday. But [the tutorial that I'm following](https://www.kubeflow.org/docs/azure/deploy/install-kubeflow/) points to `v1.1-branch` branch, which was updated 15 days ago.

[2020-09-01 17:19] swiftdiaries commented on #5246
Hey
Yeah, that change needs to be cherry-picked onto the v1.1 branch. I'll do that right now

[2020-09-01 18:08] supertetelman commented on #5245
I'm seeing these issues in AWS as well.

Using this deployment script and running in us-west-2.

[2020-09-01 22:02] LRSutton commented on #4815
Edit the kfctl_*.yaml file that you are using.

Create an entry in the `metadata` section:

for example, the top of my kfdef.yaml file reads:

[code]

Once you have this edited, you should be able to execute a `kfctl delete -f <your kfdef file>`

[2020-09-01 23:12] theathibm commented on #4306
anymore info on this, seems like connecting back to driver isn't working .   I tried @yosit approach and it kicks off the multiple workers, but they all can't connect back to the driver.

20/09/01 23:05:04 INFO SecurityManager: Changing view acls to: root
20/09/01 23:05:04 INFO SecurityManager: Changing modify acls to: root
20/09/01 23:05:04 INFO SecurityManager: Changing view acls groups to:
20/0

[2020-09-02 02:36] zhangchunsheng commented on #5248
How to solve this problem?

[2020-09-02 03:10] jlewi commented on #5117
Duplicate of #5048

[2020-09-02 03:10] #5117 closed

[2020-09-02 03:51] #4955 closed

[2020-09-02 03:51] #4573 closed

[2020-09-02 07:40] Hmr-ramzi commented on #4306
@theathibm, I was able to get a work around to be able to start spark jobs from within jupyter using the fairing component. You will have to have an docker image that has pyspark, You can easily write the code as a function in one of the jupyter notebook cells and than wrap it as a train job using the fairing component. Then, you can start the training job. The difference between the proposed appr

[2020-09-02 08:00] arjun921 opened #5269 "How to delete/remove a user in multitenant Kubeflow 1.0?"
/kind question

**Question:**
[You can ask any question about this project.]
First of all, thank you so much for building this awesome tool;
it has helped me save a lot of cost by allowing resource sharing across users while keeping them in their own isolated workspaces.

## My environment
AWS EKS cluster with Kubeflow 1.0,
Multitenancy enabled via OIDC coupled with Auth0.

## The real question
Ho

[2020-09-02 10:01] arshashi commented on #5248
any inputs how to resolve?

[2020-09-02 12:45] crosvera commented on #5246
Hello there,
I just wanted to let you know that I tried to deploy kubeflow using the `kfctl_k8s_istio.v1.1.0.yaml` from the `master` branch, but I experienced the same errors in order to install spark-operator, spartakus and tensorboard. Inspecting the file, I found that the `respos` section is referencing to the `v1.1-branch` branch so I had to edit it to point to `master` branch, after that the

[2020-09-02 13:50] zhangchunsheng opened #5270 "svc.deploy(isvc.generate_isvc()) 404 page not found"
svc.deploy(isvc.generate_isvc()) 404 page not found

[code]

[2020-09-02 16:22] connorlwilkes commented on #4718
I am getting the same with my deployment, my events say it is an issue with the readiness probe. I removed the health check and it seems to have worked

[2020-09-02 18:25] yosit commented on #4306
@theathibm
you need to add a network policy in your namespace
[code]

[2020-09-03 01:08] crosvera opened #5271 "Error in Pipeline section on dashboard: `upstream connect error or disconnect/reset before headers`"
/kind bug

**What steps did you take and what happened:**
After successfully deployed kubeflow on Azure (I had to change the yaml file for installation, more details in #5246 ). I run the following command to be able to check the kubeflow dashboard:
[code]

I'm able to visit the Dashboard page, I can visit the `Home`, `Notebook Servers`, `Katib` and `Artifact store` sections. But when I try to vis

[2020-09-03 01:51] #4818 closed

[2020-09-03 01:51] #4962 closed

[2020-09-03 01:51] #4770 closed

[2020-09-03 01:51] #5026 closed

[2020-09-03 01:51] #4938 closed

[2020-09-03 01:51] #4910 closed

[2020-09-03 03:10] jbottum commented on #5264
@anineharto Hi, have you considered trying MiniKF ?

[2020-09-03 03:38] jlewi commented on #5048
/lifecycle frozen

[2020-09-03 03:46] jlewi commented on #5048
To check whether you are hitting this problem run the following command

[code]

This will tell you if the endpoint exists and if it is in the process of being deleted. If its being deleted you can undelete it

[code]

[2020-09-03 08:29] ConverJens commented on #5010
@jlewi Just upgraded to KF 1.1.0 using kfctl_istio_dex.v1.1.0.yaml and did no longer have this issue so I think you can consider it solved.

[2020-09-03 08:48] hlngaiSam opened #5272 "Cannot create namespace on kubeflow dashboard"
Hi all

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I have installed kubeflow v1.0.2 in my on-perm multiple master cluster. All kubeflow components are running, and I tried to access the kubeflow dashboard by IP:31380

I could see the welcome page, and tried to create the namespace "annoymous". After I clicked "Finish", there's nothing shown

[2020-09-03 10:28] ConverJens commented on #5248
Also has this issue. Using istio dex 1.1.0 on-prem.

[2020-09-03 11:42] zhangchunsheng commented on #5270
I pull image by myself.

[2020-09-03 11:42] #5270 closed

[2020-09-03 12:06] ConverJens opened #5273 "Pipeline run fails to start for KF 1.1.0 multi-user on-prem installation"
/kind bug

**What steps did you take and what happened:**
Deployed KF successfully. Initiating a run and pods get stuck in a pending state. Logs show:
`Warning  FailedMount  6s (x50 over 85m)    kubelet   MountVolume.SetUp failed for volume "mlpipeline-minio-artifact" : secret "mlpipeline-minio-artifact" not found`

**What did you expect to happen:**
Pipeline to run

**Anything else you would like

[2020-09-03 14:15] vladislavkoz commented on #4875
We've faced the same issue. Around 2M logs per hour created by the application-controller-stateful-set.

[2020-09-03 14:21] vladislavkoz commented on #3485
Yes, we have the same from the application-controller-stateful-set. It produces a lot of logs that are going to error logs on stackdriver.

[2020-09-03 14:21] ValentinVerkhohliad commented on #4875
I faced the same issue. Around 1.5M logs per hour created by the application-controller-stateful-set.

[2020-09-03 14:23] ValentinVerkhohliad commented on #3485
Faced this today

[2020-09-03 14:23] vladislavkoz commented on #3485
![image](https://user-images.githubusercontent.com/40685761/92127699-3f75f480-ee0a-11ea-961f-efb6c4381d71.png)

[2020-09-03 14:24] vladislavkoz commented on #4875
![image](https://user-images.githubusercontent.com/40685761/92127688-3d139a80-ee0a-11ea-9ac1-2925bf738773.png)

[2020-09-03 16:54] chetanoruganti opened #5274 "notebook controller metrics exposed does not show the correct values if there is any restart in notebook controller pod"
/kind bug

metrics exposed as part of the notebook controller .
 1. runningNotebooks         *prometheus.GaugeVec    Current running notebooks in the cluster
 2. NotebookCreation         *prometheus.CounterVec   notebook_create_total
 3. NotebookFailCreation     *prometheus.CounterVec   notebook_create_failed_total
 4. NotebookCullingCount     *prometheus.CounterVec  notebook_culling_total
 5. Not

[2020-09-03 20:43] swiftdiaries commented on #5248
Could you please check your API Server for flags related to token volume?

This section on the docs: https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/#notes-on-the-configuration-file

[2020-09-03 20:47] swiftdiaries commented on #5248
/assign @swiftdiaries

[2020-09-03 22:15] jvendegna opened #5275 "pods not scheduling to GPU nodes, taint tolerations present"
/kind bug

**What steps did you take and what happened:**
Hello all, I am taking a break for a moment because of frustration with applying a taint-toleration using kfp on my ai-platform pipelines cluster.
I have a model training job which requires GPUs, not uncommon.
Default behavior for extras like GPUs in GKE is to add a node taint so pods must explicitly state a toleration to be scheduled to th

[2020-09-04 00:02] Bobgy commented on #5275
/assign

I don't have experience trying this. let me find Who knows

[2020-09-04 04:56] arshashi commented on #5248
Hello @swiftdiaries

Thanks for the response.Below are my inputs

1. with v1.1 yaml file, we dont have to Disabling istio installation as the yaml file doesnt have istio-crds and istio-install unlike with older versions of <= v1.0.
2. With respect to Istio configuration for trustworthy JWTs, we are using Rancher UI. Updated below parameters in the api configuration

kube-api:
      always_pull_ima

[2020-09-04 05:09] swiftdiaries commented on #5248
Related issue: https://github.com/kubeflow/kfctl/issues/406

[2020-09-04 05:11] MartinForReal commented on #2417
related #5152

[2020-09-04 06:03] gaborvecsei opened #5276 "Can not enable or disable Kubeflow with Microk8s"
/kind bug

**What steps did you take and what happened:**
I followed the Microk8s setup tutorial which was provided on the page: https://www.kubeflow.org/docs/started/workstation/getting-started-multipass/#install-kubeflow-using-microk8s and I get to a point where I can not enable or disable Kubeflow (as it says that it is already enabled or disabled while `sudo microk8s.status` shows that it is d

[2020-09-04 06:05] danishsamad commented on #5271
I have a similar setup and facing the exact same issue.
To debug I enabled access logs on my istio ingress gateway pod and I get this tls error when I access the pipelines page

[2020-09-03T14:34:03.746Z] "GET /pipeline/ HTTP/1.1" 503 UF,URX "-" "TLS error: 268435703:SSL routines:OPENSSL_internal:WRONG_VERSION_NUMBER" 0 91 76 - "10.244.1.34" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/5

[2020-09-04 06:12] fabito commented on #5275
@jvendegna ,

Have you tried adding a `nodeSelector` ?
Something like:

[code]

[2020-09-04 06:18] swiftdiaries commented on #5276
/assign @knkski

[2020-09-04 06:19] insoo67park commented on #5075
Thanks for your help.

I solved this problem with upgrading to kubeflow version v1.1.0 (and from my machine to vm on google cloud platform)
But I think, in my case root cause is my networking environment.
I guess some docker image or other things did not communicated as needed.

I close this issue.

[2020-09-04 06:19] #5075 closed

[2020-09-04 06:20] gaborvecsei commented on #5276
Hopefully it is solved by refreshing the microk8s snap package: `sudo snap refresh microk8s --channel=1.18/stable`

Kubeflow tutorial should follow the Microk8s install guide (which gives an idea how can I run it without `sudo`): https://microk8s.io/docs

[2020-09-04 08:31] gaborvecsei commented on #5276
Solved:

[code]

from https://github.com/ubuntu/microk8s/issues/1253

[2020-09-04 08:31] #5276 closed

[2020-09-04 09:42] doctorai-in commented on #5246
resolved my problem
Thanks @lukemarsden, @arshashi

[2020-09-04 12:01] #4866 closed

[2020-09-04 12:01] #4969 closed

[2020-09-04 12:01] #4519 closed

[2020-09-04 12:38] jizg commented on #5264
This post worked for me.
https://github.com/kubeflow/kubeflow/issues/5246#issuecomment-685710720

[2020-09-04 14:20] jvendegna commented on #5275
I have, but I appreciate the suggestion, it still results in: `Insufficient nvidia.com/gpu` after scale-up event.
I'm going to try to follow the guide here to see if it fixes anything: https://github.com/kubeflow/pipelines/blob/master/samples/tutorials/gpu/gpu.ipynb

[2020-09-04 14:29] acesir commented on #5275
@jvendegna when you do a describe on the gpu-node does it correctly show the availability of the GPUs that can be allocated on the machine like so:

[code]

[2020-09-04 14:33] jvendegna commented on #5275
For future reference, this did the trick:
`kubectl apply -f https://raw.githubusercontent.com/GoogleCloudPlatform/container-engine-accelerators/master/nvidia-driver-installer/cos/daemonset-preloaded.yaml`

The insufficient GPU message was due to no driver being installed on the node, as detailed in the link in my last comment.

[2020-09-04 15:12] tiru1930 commented on #5260
Yes. After this installed issue got fixed

On Fri, 4 Sep 2020, 20:31 Adis Cesir, <notifications@github.com> wrote:

[2020-09-04 15:12] jvendegna commented on #5275
@acesir That's a great question worthy of exploration. I thought so but wasn't sure. I uninstalled the nvidia-driver-installer from my cluster and triggered another run. After scale up and to my surprise the pod was scheduled to the node anyway. I don't appreciate smoke and mirrors, so I dug deeper and recreated the nodepool. Turns out, no. You're inclinations were correct.
[code]

[2020-09-04 15:12] #5275 closed

[2020-09-04 15:13] luigicr1965 opened #5277 "Pipelines upstream connect error or disconnect/reset before headers. reset reason: connection failure"
/kind bug

I have deployed Kubeflow in Azure using kfctl_k8s_istio.v1.1.0.yaml from the master after having modified the repos section

repos:
  - name: manifests
    uri: https://github.com/kubeflow/manifests/archive/master.tar.gz
    #uri: https://github.com/kubeflow/manifests/archive/v1.1-branch.tar.gz
  version: master
  #version: v1.1-branch

I used port forward as follow

kubectl port-forwar

[2020-09-04 15:17] acesir commented on #5275
@jvendegna Yes the nvidia daemonSet is required in order to expose the GPU resource for scheduling otherwise kubernetes doesn't know about it and will only allow CPU/Memory requests for scheduling. Tainting and labeling the does not good as the GPU resources are not advertised for scheduling.

You can find more information here about the scenario: https://kubernetes.io/docs/tasks/manage-gpus/sched

[2020-09-04 15:26] danishsamad commented on #5271
Suspecting this to be a mTLS issue I disabled it on both ml-pipeline and ml-pipeline-ui destination rules as follows

`$ kubectl edit destinationrule -n kubeflow ml-pipeline`

Modify the tls.mode (the last line) from ISTIO_MUTUAL to DISABLE

do this for the ml-pipeline-ui destination rule as well

run
`$./istioctl authn tls-check <istio-ingressgateway-pod> -n istio-system |grep pipeline`

to verif

[2020-09-04 17:43] MarcSkovMadsen commented on #5194
Anyone knows how to solve this?

[2020-09-04 21:41] crosvera commented on #5271
Hello there,

Well doing:

-  `kubectl logs -n istio-system -l istio=ingressgateway` I get:
[code]

- `kubectl logs -n kubeflow ml-pipeline-6bc56cd86d-l8866` I got:
[code]

- `kubectl logs -n kubeflow ml-pipeline-ui-8695cc6b46-v4t6h` I got:
[code]

Anyway, I follow the @danishsamad's advice and run:
- `kubectl edit destinationrule -n kubeflow ml-pipeline`
- `kubectl edit destinationrule -n kubeflo

[2020-09-04 21:45] crosvera commented on #5246
Just wanted to mention that @swiftdiaries patch is already merged in the `v1.1-branch` branch, I recently deployed kubeflow using that yaml file and worked.

[2020-09-04 22:22] estrellafelipe opened #5278 "Kubeflow upgrade from 1.0 to 1.1"
/kind question

Hello,

is there a guide to upgrade kubeflow from version 1.0 to 1.1 in GKE?

Regards,

[2020-09-04 22:38] swiftdiaries commented on #5246
Thanks for testing it out @crosvera :)
I'm going to mark this as resolved because the change has been merged into the v1.1 branch in https://github.com/kubeflow/manifests/pull/1540.

Please feel free to re-open if anybody else is facing the same issue

[2020-09-04 22:38] #5246 closed

[2020-09-04 22:40] swiftdiaries commented on #5264
I've merged the changes in PR: https://github.com/kubeflow/manifests/pull/1540, could you please re-try this?
Sorry for the bad initial experience :(

[2020-09-05 19:59] #5042 closed

[2020-09-06 08:34] arshashi opened #5279 "Kubeflow with DEX v1.1 doesnt work with Load balancer. Error shows: Sorry, /pipeline/ is not a valid page"
/kind question

**Question:**
We have onpremise setup with kubeflow v.1.1 with DEX.  Kubeflow works well with NodePort. Whereas when I configure Loadbalancer in Istio ingress gateway, I get the kubeflow home page but when i click on Pipelines, notebook servers and Katib, I get below errors.   Kubeflow works well with NodePort.
Sorry, /pipeline/ is not a valid page
Sorry, /jupyter/ is not a valid p

[2020-09-06 12:59] #4855 closed

[2020-09-07 04:45] danishsamad commented on #5271
BTW,I think my solution above is really a hack. The multi user pipeline design shown in this [presentation ](https://static.sched.com/hosted_files/kccnceu20/57/%5Bkubecon-amsterdam%5D%20Enabling%20Multi-user%20Machine%20Learning%20Workflows%20for%20Kubeflow%20Pipelines.pdf)(slide 16-17) suggests sidecars deployed with KFP UI and API server enabling mTLS communication.
I think currently sidecars ar

[2020-09-07 07:04] thesuperzapper commented on #4857
For those watching, this feature has been implemented in PR #5280

[2020-09-07 07:15] thesuperzapper commented on #5235
@achandras PR #5237 added support for tolerations/affinity in the Notebook UI, but that is only on `master`, not in any release yet.

[2020-09-07 08:31] gaborvecsei opened #5281 "Access KF Dashboard with port forwarding with Microk8s setup"
/kind feature

**Why you need this feature:**
This makes the access way easier for smaller setups, without the need of the DNS setup and then SOCKS proxy setup

**Describe the solution you'd like:**
I would like to access the dashboard via a selected port

[2020-09-07 10:01] gilbeckers opened #5282 "Notebook controller is only checking the status of one (the first) container"
/kind bug

**What steps did you take and what happened:**
When you add a new notebook server, the status of the newly added notebook becomes ready to soon. Namely, if you click on connect, a "no healthy upstream" message shows the first seconds. I tried to fix this by adding a readiness probe to the notebook container (via a custom admission controller). However, the problem stayed the same: the g

[2020-09-07 14:38] micemuni opened #5284 "Setting up my existing custom authentication using OIDC"
Hi All,

We are currently implementing Kubeflow as a machine learning platform. We have set up k8s Cluster  and need to customize dex authentication to use existing running Dex as our needs and I got somewhat stuck, so I am hoping for some ideas/input from you.

Part of OIDC auth changes in kfctl yaml file----

  - kustomizeConfig:
      overlays:
      - application
      parameters:
      - name

[2020-09-08 07:25] #5049 closed

[2020-09-08 09:22] goloxxly commented on #3840
We'd also need this function.

[2020-09-08 12:50] MartinForReal opened #5287 "Use nonroot user as default user in notebook controller container"
/kind feature

**Why you need this feature:**
Need to follow container security best practise: use nonroot user as default user

**Describe the solution you'd like:**
change the default user account to nonroot user

**Anything else you would like to add:**
none

[2020-09-08 13:01] MartinForReal commented on #5250
close this issue in favor of #5288 #5286 #5285

[2020-09-08 13:01] #5250 closed

[2020-09-08 13:04] victoriavilasb opened #5289 "unable to recognize CustomResources"
/kind question

**Question:**
Hi guys, I need some help
I am constantly getting the same error when I run `make apply`, and I didn't find any answer that could help me.

[code]

I have already activated CustomResourceDefinition on Kubernetes API

[2020-09-08 14:01] Luke035 commented on #5278
It'd be very helpful to have a guide for upgrading kubeflow without having to re-install it!

[2020-09-08 14:03] #5289 closed

[2020-09-08 17:58] jtfogarty commented on #5067
/priority p2

[2020-09-08 17:59] xzy0223 opened #5290 "kubeflow v1.0.2 installation error on EKS"
/kind bug

**What steps did you take and what happened:**

I'm trying to deploy kubeflow on my aws eks cluster. I have set the kfctl_aws.yaml file with right aws region code and eks cluster name.

but when I applied, I got the error as below

`WARN[0000] AWS Credentials seems not correct RequestError: send request failed
caused by: Post "https://sts.REGION.amazonaws.com/": dial tcp: lookup sts.REG

[2020-09-08 18:00] gilbeckers commented on #5282
**Update:**

I managed to fix the wrongly reported status of a new created notebook server in the kubeflow dashboard.
Now, the status of nb server becomes ready only after the two containers (isto-proxy and notebook) are both Running and Ready.

In order to fix this, two changes were needed:
- The netbook controller was only checking the Status of the first container, resulting in only the istio c

[2020-09-08 18:43] geewynn commented on #4787
Hi @tomalbrecht can I ask if you have a detailed doc on how to deploy kuneflow using https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_istio_dex.v1.0.2.yaml

I did all you specified here and encountered an error as I stated in this issue
https://github.com/ubuntu/microk8s/issues/1547

[2020-09-08 18:55] gilbeckers opened #5291 "Deleting multiple nootbook servers at the same time results in difficulties"
/kind bug

**What steps did you take and what happened:**
When I give the order in the kubeflow dashboard to delete multiple notebook servers at the same time, the deletion of these notebook servers is experiencing difficulties.
When monitoring the statuses of these deleted notebook servers one can observe that the status changes from Terminated back to Waiting, resulting in some pods being initia

[2020-09-08 22:30] crosvera commented on #5271
Just want to mention that I deployed the istio-dex kubeflow version (using [kfctl_istio_dex.v1.1.0.yaml](https://raw.githubusercontent.com/kubeflow/manifests/v1.1-branch/kfdef/kfctl_istio_dex.v1.1.0.yaml)) and the same problem appears, and the same hack fix it.

[2020-09-09 00:01] thesuperzapper commented on #4839
For those watching, PR #5237 has added support for Toleration/Affinity configs directly in the notebook spawner UI.

[2020-09-09 01:18] jbottum commented on #5291
@gilbeckers thanks for alerting us to this.   Have you seen it on any other platform ?  Are you running MiniKube on your laptop ?   @kimwnasptd have you seen this?

[2020-09-09 01:19] jbottum commented on #5290
@Jeffwan are you aware of this issue and do you have any comments ?

[2020-09-09 01:23] jbottum commented on #5278
@jlewi is there someone on the GCP that would like to respond to this issue?

[2020-09-09 01:24] jbottum commented on #5274
@kimwnasptd is there anyone looking at this ?

[2020-09-09 03:37] jbottum commented on #5279
@krishnadurai have you seen this issue ?

[2020-09-09 07:23] gilbeckers commented on #5291
@jbottum Yes, I'm running minikube on my laptop. No, I have not seen it on any other platform.

[2020-09-09 07:30] gilbeckers commented on #5282
@MartinForReal  I'm not sure if the linked pull request will completely fix this issue, as the bug of only looking at the status field of one container still remains.

[2020-09-09 07:53] MartinForReal commented on #5282
@gilbeckers the state of the container will be ready only after the container has passed all of the health checks.
As the code here

https://github.com/gilbeckers/kubeflow/blob/db06cc850e9ef8fa602ba825444099cca2ee0f95/components/notebook-controller/controllers/notebook_controller.go#L248

The controller will check if all of the containers are up and running. So by adding a liveness probe, we can f

[2020-09-09 08:13] shrutich91 opened #5293 "admission webhook "sidecar-injector.istio.io" denied the request: template: inject:7:27: executing "inject" at <.Values.global.proxy_init.image>: invalid value; expected string"
While creating a new notebook server I get the following error.

FailedCreate create Pod test-0 in StatefulSet test failed error: admission webhook "sidecar-injector.istio.io" denied the request: template: inject:7:27: executing "inject" at <.Values.global.proxy_init.image>: invalid value; expected string

Any suggestions on what may be wrong?

Environment:

Kubeflow version: (version number can b

[2020-09-09 08:15] arshashi commented on #5020
Any fix would be greatly appreciated.

Below is the error while creating the pod. Any suggestions.

Warning	FailedCreate	create Pod notebook-0 in StatefulSet notebook failed error: admission webhook "sidecar-injector.istio.io" denied the request: template: inject:7:27: executing "inject" at <.Values.global.proxy_init.image>: invalid value; expected string	8 minutes ago

[2020-09-09 08:23] MartinForReal commented on #5020
@arshashi I think there is something wrong with your istio sidecar injector. Maybe you need to update image name in istio-sidecar-injector configmap

[2020-09-09 08:45] arshashi commented on #5020
@MartinForReal Thanks for the response.

are you saying under Istio-system namespace, we have a pod with the name istio-sidecar-injector-8476 which is associated to gcr.io/istio-release/sidecar_injector:release-1.3-latest-daily to be updated? any suggestion on updating configmap as mentioned?

[2020-09-09 09:12] gilbeckers commented on #5282
@MartinForReal I will clarify my current situation. In my notebook pod I have 2 containers running: a istio proxy container and a container that runs the notebook image.

The problem with the current notebook controller in this situation is twofold:
- The nb controller only checks the state of the first container, this is hard coded:
https://github.com/kubeflow/kubeflow/blob/7f5e242f4671f453eaee72

[2020-09-09 13:14] danishsamad commented on #5277
Hi,
Duplicate issue discussed [here](https://github.com/kubeflow/kubeflow/issues/5271)

[2020-09-09 13:32] leela-uppuluri commented on #5020
@shrutich91 I still didn't have a good workaround on that. Please let me know if anything works for you.

[2020-09-09 14:20] jlewi commented on #5278
Duplicate of kubeflow/gcp-blueprints#103

[2020-09-09 14:20] #5278 closed

[2020-09-09 15:12] aychang95 opened #5294 "Dex config with LDAP connector leading to connection errors between ldap server and kubeflow services in 1.1.0"
/kind bug

**What steps did you take and what happened:**

Steps:
1. Deployed kfctl_istio_dex.v1.1.0.yaml on an existing 1.15.11 k8s cluster
2. Confirmed that static accounts work with kubeflow with port-forwarding
3. Deployed stateful set admin services for ldap server with phpldapadmin
4. Can successfully login to default "cn=admin,dc=example,dc=com" account inside ldap-0 pod with `exec`
5. (BUG

[2020-09-09 20:49] is185089 opened #5295 "Deployment on GCP- 2 unscheduled pods (minio and mysql), pod has unbound immediate PersistentVolumeClaims"
/kind bug

**What steps did you take and what happened:**
Whenever I try to execute a pipeline, it fails to do so with a 503 error.
The app also fails to retrieve the pipelines and has an error message that says "Error occured while trying to proxy to: <projectname>..." .
<img width="1109" alt="Screen Shot 2020-09-09 at 4 09 56 PM" src="https://user-images.githubusercontent.com/68253435/92652839-8

[2020-09-10 05:42] alforik opened #5296 "kubeflow installatiion failed -- version kubeflow 1.0.2 on GCP"
/kind bug

**What steps did you take and what happened:**
I followed kubeflow 1.0 installation guide on gcp( Deploy using CLI. https://v1-0-branch.kubeflow.org/docs/gke/deploy/deploy-cli/ ) , today.
I succeded before with this guide  but intallation is failed today.
I got the following message.
-------------------------error message ------------------------
ERRO[0033] Updating kfnm-01 error: &{Cod

[2020-09-10 05:51] chetanoruganti opened #5297 "observing repeated logs in the notebook controller pod"
/kind bug

**What steps did you take and what happened:**

installed kubeflow with v1.0.2 manifest .
created notebook server in profile namespace (hkumara) .
observing the repeated logs in notebook controller pod even when notebook server is idle .

[code]

Reason & Solution :
Reason :  By default culling is disabled in notebook controller pod  . when culling is disabled also observing below condi

[2020-09-10 06:26] MartinForReal opened #5298 "Adopt istio go client and istio/v1 data object"
/kind feature

**Why you need this feature:**
istio client is released and we should adopt this client because we don't need to manually validate data structure of istio cr. And istio object has reached 1.0. we can migrate to a much stable version.

**Describe the solution you'd like:**
refactor the code and adopt istio go client

**Anything else you would like to add:**

[2020-09-10 07:06] chetanoruganti opened #5299 "not able to scrape notebook_culling_total, last_notebook_culling_timestamp_seconds metrics from notebookcontroller http://:8080/metrics"
/kind bug

**What steps did you take and what happened:**
Installed kubeflow with manifest v1.0.2
enabled culling related environmental  variables in notebook controller deployment .
[code]
created notebook server . The notebook server was idle for 3mins as expected the notebook server pod  was terminated .
checked the metrics exposed by notebook controller by doing curl to http://<notbookcontroll

[2020-09-10 09:24] arshashi commented on #5293
Same issue i have encountered. Existing notebook servers works fine whereas new notebook servers are not getting created and in the backend, it creates notebook servers under the respective namespace but it is not able to create pod under this namespace.  Any inputs/suggestions to solve the issue?

[2020-09-10 09:37] sorowakers commented on #5078
You need to use the following configuration in your external nginx host configuration

`server {
    listen 80;
    server_name mylink.com;
    location / {
       proxy_pass http://10.10.10.10:31380;
       proxy_http_version 1.1;
       proxy_set_header Upgrade $http_upgrade;
       proxy_set_header Connection "Upgrade";
       proxy_set_header Host $host;
       proxy_pass_header Authorization;

[2020-09-10 12:52] MartinForReal commented on #5020
maybe you need to make sure init image has a correct name @arshashi
![image](https://user-images.githubusercontent.com/5207478/92731294-78344180-f3a7-11ea-96fd-6320d3b5badf.png)

[2020-09-10 14:49] MartinForReal commented on #5020
yes

I think this is the root cause

[2020-09-10 14:50] MartinForReal commented on #5020
I think this is not a bug of notebook controller and it's an istio related issue

[2020-09-10 15:34] geewynn opened #5300 "Trouble accessing kubeflow Dashboard on GKE"
I deployed kubeflow on GKE and set up ingress from gcloud console on the kubernetes service and ingress page.
This is what the ingress looks like
[code]
But each time I click on the LB ip address, it takes me to a page that says sorry this page does not exist

[2020-09-10 17:45] micemuni commented on #5284
Any one had a chance to look at it..?

[2020-09-10 20:00] #5010 closed

[2020-09-10 20:00] #4848 closed

[2020-09-10 20:00] #4997 closed

[2020-09-10 20:00] #1394 closed

[2020-09-10 20:00] #5043 closed

[2020-09-10 21:14] supertetelman commented on #3838
I'm going to bump this because I think it is an important feature to have.

Other closed-source AI Workflow platforms (CNVRG, Iguazio, Domino, ...) make it very easy to launch any container on their platforms and I think implementing this feature would be a simple way to get the same functionality.

[2020-09-11 05:04] munagekar commented on #5247
This happens due to Workload Identity. You can fix it by

1. Deleting all node pools
2. Disabling Workload Identity
3. Recreating a node pool
4. Enabling Workload Identity Again

[2020-09-11 11:25] connorlwilkes opened #5301 "v1alpha1 RBAC policy is removed in Istio 1.6 onwards breaking profile-controller"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Deploy Istio 1.6+ on a cluster alongside the profile-controller. This causes the profile controller to break as it tries to search for ServiceRole.rbac.istio.io CRD which no longer exists as per: https://istio.io/v1.5/docs/reference/config/security/istio.rbac.v1alpha1/

**What did you e

[2020-09-11 11:39] gilbeckers commented on #3362
Hi, also interested in this!

Maybe another alternative, besides eclipse che, vs code or theia, is Gitpod?

[2020-09-11 14:18] danishsamad commented on #5271
@yanniszark @Bobgy Are you guys aware of this issue? Can you suggest the proper way to resolve this ?
I have seen this issue mentioned multiple times in the last couple of days.

[2020-09-11 16:30] connorlwilkes commented on #4831
Any idea why this worked with Istio 1.4.3 and not with 1.6.5. I am facing a similar issue using Istio 1.5.10 and I don't quite know why downgrading would make a difference here?

[2020-09-11 16:51] connorlwilkes commented on #4831
@krishnadurai even when adding that I still get this same issue.

Output of commands below:

[code]

This is using 1.5.10 version of Istio. I have tried kicking the pod to no avail

[2020-09-12 01:40] shawnzhu opened #5302 "Deprecate header "X-Auth-Token" by using "Authorization""
/kind feature

**Why you need this feature:**
The problem was revealed from this comment https://github.com/kubeflow/kubeflow/issues/4912#issuecomment-665387957

The header `X-Auth-Token` is designed to authenticate request that doesn't contain secure cookie. e.g., API requests from notebook. However, based on https://github.com/arrikto/oidc-authservice/pull/25 `X-Auth-Token` has been replaced by

[2020-09-12 01:44] swiftdiaries commented on #5302
cc @yanniszark

[2020-09-13 15:45] ajinkya933 opened #5305 "Get "jovyan" access to sudo on kubeflow to install GDAL"
I want to install gdal on Kubeflow but when I do:

[code]

I get error:

[code]
**Question:**

How install GDAL ?, I need sudo access to terminal to install gdal, for example:
[code]

I always get asked to enter a password, Whats this password. How do I install gdal this way ?
[code]

[2020-09-13 16:01] munagekar commented on #5269
The following deletes the profile and the namespace as well.
[code]
In case namespace is still not deleted, despite the profile being deleted.
[code]

[2020-09-13 18:45] sylus opened #5306 "Improve the messaging around Scheduled Workflow Cron schedule"
/kind feature

**Why you need this feature:**

![](https://user-images.githubusercontent.com/15911039/92507808-8d597680-f1d5-11ea-975b-c48a686020de.png)

We were having a problem where we couldn't immediately figure out why the Cron wasn't working as we expected when giving it the following syntax.

[code]

We expected it to run at 10:10am every day but instead it was running every hour.

Thankful

[2020-09-13 20:44] anitaokoh commented on #5296
Had a similar error message but still don't know how to solve it

[2020-09-14 04:37] #4961 closed

[2020-09-14 09:32] cf-chiang commented on #5181
I'm facing the same issue.

**What steps did you take and what happened:**
After launching a virtual machine (Ubuntu 20.04.1 LTS) on my MacBook Pro (MacOS Mojave 10.14.6) and enabling dns, dashboard and storage, I attempted to enable kubeflow with the following command:
`KUBEFLOW_DEBUG=true microk8s.enable kubeflow`

And got the following output:

Waited 1320s for operator pods to come up, 1 remai

[2020-09-14 11:36] arshashi opened #5307 "ApiException: (403)Reason: ForbiddenHTTP response headers: HTTPHeaderDict({'content-length': '19', 'content-type': 'text/plain', 'date': 'Mon, 14 Sep 2020 10:28:38 GMT', 'server': 'istio-envoy', 'connection': 'close', 'x-envoy-decorator-operation': 'ml-pipeline.kubeflow.svc.cluster.local:8888/*'})HTTP response body: RBAC: access denied"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Trying to execute pipeline and encountered the issue

**What did you expect to happen:**
Pipeline experiement to run

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
Is it related to KFServing implementation? and if so how do we

[2020-09-14 13:57] vielmetti commented on #2337
Holding this issue open, as I expect the latest Arm-NVIDIA news will eventually put some renewed interest into polishing this up.

[2020-09-14 15:13] shawnzhu commented on #5302
Thanks to https://github.com/kubeflow/manifests/pull/1431#issuecomment-691947979 from @yanniszark

This is my break down of this issue:

According to changes of the OIDC-AuthService since it was last updated in Kubeflow, the header `X-Auth-Token` has been replaced by the header `Authorization` (default setting) - see https://github.com/arrikto/oidc-authservice/pull/25 However, there're other break

[2020-09-15 00:53] jbottum commented on #5307
@arshashi thanks for reporting your issue. which platform are you running on i.e. AWS, GCP, ?

[2020-09-15 01:18] #5059 closed

[2020-09-15 01:18] #4985 closed

[2020-09-15 03:18] arshashi commented on #5307
@jbottum We are using on-premise setup to run kubeflow. is it something related to Istio?

[2020-09-15 05:52] thesuperzapper commented on #5305
Are you talking about a Jupyter-Notebook? Then just use a custom image where you have root?

[2020-09-15 08:02] phansoks commented on #5081
@Madhav111, I was able to increase my VM memory with following lines on my Vagrantfile.
[code]

[2020-09-15 09:52] discordianfish commented on #5018
I think we can close this in favor of a solution based on https://github.com/kubeflow/manifests/issues/1136

[2020-09-15 10:49] yanniszark commented on #5189
@phansoks I believe you're using Vagrant, correct?
Vagrant spins up a VM which we use as a reproducible environment in which to setup Kubeflow.
Using a GPU in a VM requires non-trivial (GPU passthrough), we don't support using a GPU with Vagrant right now.
If you want to use a GPU, I recommend using MiniKF on GCP:
https://www.kubeflow.org/docs/started/workstation/minikf-gcp/

[2020-09-15 11:59] yanniszark commented on #5081
Thanks @phansoks !
There has been a new MiniKF release since this issue was created.
If any of the above is still an issue with the new version, please create a new issue.
/close

[2020-09-15 11:59] #5081 closed

[2020-09-15 13:14] phansoks commented on #5189
Thanks @yanniszark for the feedback. Yes, I am using Vagrant. I'd like to avoid GCP because I have limited rights on it in my company. I wanted to have MiniKF on my machine because it gives me more flexibility.

Is there any possibility or documentation about setting the GPU passthrough?

[2020-09-15 13:28] yanniszark commented on #5189
@phansoks unfortunately, this is something we're not pursuing at the moment.

[2020-09-15 13:36] yanniszark commented on #5189
@phansoks to clarify, we are looking into ways to use GPU passthrough on Windows in the long term, but it is very non-trivial. We will make sure to update if there's a change. Until then, we recommend using GCP for utilizing GPUs.

[2020-09-15 14:03] phansoks commented on #5189
@yanniszark, thanks again for the the heads up. I'll continue to follow minikf and try again as soon as gpu support is added!

[2020-09-15 14:29] arjun921 commented on #5269
That worked!
Thank you so much!!

[2020-09-15 15:06] #5018 closed

[2020-09-15 15:49] jlewi commented on #5300
Did you follow the getting started guide?

Did you try port-forwarding to the central dashboard?

[2020-09-15 15:53] jlewi commented on #2889
/lifecycle frozen

@kimwnasptd @mameshini @karlschriek This is the long standing issue for git in notebooks.

[2020-09-15 16:45] jbottum commented on #5307
@arshashi you might consider reaching out to the on-premise team or joining their calls on Thursday.   another alternative is to find a consultant or vendor support.

[2020-09-15 16:50] arshashi commented on #5307
Thank @jbottum for the response.  May i know how to reach to the On-premise team for me to join the call? Can you please provide more details on finding consultant or vendor support as well.

[2020-09-15 17:51] ajinkya933 commented on #5305
@thesuperzapper please provide a Dockerfile (with root privileges) which is compatible with Kubeflow

[2020-09-15 19:14] jrykr opened #5308 "Can't import notebook controller API"
/kind bug

**What steps did you take and what happened:**

1. Create a go.mod that requires kubeflow.
2. Import a version from "github.com/kubeflow/kubeflow/components/notebook-controller/api/..."
3. Build fails trying to resolve notebook-controller's dependencies as follows:

[code]

[code]

**What did you expect to happen:**

I would like to be able to use the notebook controller API.

**Anythin

[2020-09-15 20:40] jrykr commented on #5308
Made PR #5309

[2020-09-16 01:13] thesuperzapper commented on #5301
This is really an issue with the manifests, https://github.com/kubeflow/manifests/issues/1551

[2020-09-16 01:28] thesuperzapper commented on #5305
@ajinkya933

This is my JupyterLab image which has miniconda as its base. I will probably release this pre-built on a personal repo at some point if there is interest.

Has a few Docker build-args which let you do things like install spark. Note enabling `INSTALL_SPARK`, will cause the `entrypoint.sh` to copy a `spark_example_v1.0.0.ipynb` notebook into the users home directory (if the file doesn'

[2020-09-16 09:21] sakaia commented on #4642
Is this error fixed? I hope this kind of workaround is helpful.
[kfctl: support relative local repos in config #3712](https://github.com/kubeflow/kubeflow/issues/3712)

[2020-09-16 12:23] kimwnasptd opened #5310 "Refactor Jupyter web app to utilize the common code"
/kind feature

**Why you need this feature:**
We've already created a common Python package for the backend #5164 and an Angular library for the frontend #5252 . We also decided to move our CRUD web apps under the `/components/crud-web-apps` directory #5183.

Following up, we should refactor both the frontend and the backend of JWA to utilize this code. This will help us reduce code duplication si

[2020-09-16 12:23] kimwnasptd commented on #5310
/assign kimwnasptd

[2020-09-16 14:53] mnmami commented on #5123
For me, it was simply a namespace mismatch between the PodDefault and the namespace used for the notebook creation. Aligning those allowed the Configurations menu to show the PodDefault.

[2020-09-16 16:23] kimwnasptd commented on #5282
@gilbeckers indeed the Controller doesn't set the State of the CR correctly. In many cases the first container is the istio-sidecar, which results in an incorrect state being shown.

So the question becomes which one of the containers' `State` should the Controller choose to depict in the Status of the CR?
I propose that we select the container whose name matches the name of the notebook, since th

[2020-09-16 16:24] kimwnasptd commented on #5282
Also, I think the Jupyter web app should be using the `readyReplicas` field in the status to decide whether the Notebook is running or not and not check the Container State

[2020-09-16 22:23] Jeffwan commented on #5227
[code]

As we can see `x-goog-authenticated-user-email` which is the default value is used in istio rules. this value didn't get override by aws configurations.

Put some times on the configuration and notice, we didn't override access-management profile in this version.
To fix this issue, You need to change access-managed

[code]

Wait for containers to restart.
Delete emails in managed contribut

[2020-09-16 22:32] Jeffwan commented on #5227
Since v1.1 we use new format of manifest, this is a regression issue from kustomize v3 migration. Thanks for reporting the issue

[2020-09-16 22:56] #5227 closed

[2020-09-17 07:11] thesuperzapper commented on #5271
Hi all, the solution to this is simple, just make sure your `Namespace/kubeflow` has the right labels.

**PLEASE NOTE:** you will need to recreate all resources in `Namespace/kubeflow`, after making this change.

[code]

[2020-09-17 07:11] thesuperzapper commented on #5277
Hi all, the solution to this is simple, just make sure your `Namespace/kubeflow` has the right labels.

**PLEASE NOTE:** you will need to recreate all resources in `Namespace/kubeflow`, after making this change.

[code]

[2020-09-17 07:21] thesuperzapper commented on #5282
@kimwnasptd @gilbeckers shouldn't the state of the Notebook be an `and` type operation of ALL the container states?

Example:
`Jupyter = Healthy`, `istio = Healthy` --> `Healthy`
`Jupyter = Healthy`, `istio = Unhealthy` --> `Unhealthy`
`Jupyter = Unhealthy`, `istio = Healthy` --> `Unhealthy`
`Jupyter = Unhealthy`, `istio = Unhealthy` --> `Unhealthy`

[2020-09-17 07:58] danishsamad commented on #5271
@thesuperzapper My kubeflow namespace has these labels configured by default. Maybe you took some more steps to resolve this issue?

[2020-09-17 08:23] lfloeer commented on #5207
If I understand the profiles repo correctly, the manifests still reference an old image for profile controller: https://github.com/kubeflow/manifests/blob/master/profiles/base/kustomization.yaml#L27

We just had the same issue using a GCP deployment of Kubeflow 1.1 and are running the same version of the profile-controller referenced in the file above.

[2020-09-17 08:39] thesuperzapper commented on #5271
@danishsamad
It could be some kind of race condition where your istio admission webhook wasn't ready when you deployed the kubeflow components.

You can confirm this by checking if the `istio-proxy` container is missing from the `ml-pipeline-ui`:
[code]

But if your istio is up and running, you almost certainly just need to recreate/restart all the pipeline stuff:
[code]

[2020-09-17 09:03] danishsamad commented on #5271
The istio-proxy / sidecar is not being deployed with pipeline components which is why I had to disable the mTLS destination rules. Thats why I think this could be a deployment issue using  kfctl_k8s_istio.v1.1.0.yaml.

`$ kubectl get pods -n kubeflow`

`ml-pipeline-5df444d46d-c5c6l              1/1        Running 0 3d19h`
`ml-pipeline-ui-8589d58598-hcvwq       1/1        Running 0 3d19h`

[2020-09-17 09:07] thesuperzapper commented on #5271
@danishsamad, yes... so what happened when you restarted the deployments?

[2020-09-17 09:09] gilbeckers commented on #5282
@thesuperzapper at this moment I implemented it as an `and` operation indeed, so I was thinking the same as you. In that way, you just can loop over all containers, without caring about the actual names of containers.

About the suggestion of @kimwnasptd : I'm no sure, but maybe it's not the best idea to make the logic jupyter specific (as we want to abstract the way apps are deployed in Kubeflow,

[2020-09-17 09:16] danishsamad commented on #5271
I ran the command below
`kubectl get deploy -n kubeflow -l app.kubernetes.io/name=kubeflow-pipelines -o name | \
xargs kubectl rollout restart -n kubeflow`

which restarted the deployments

`deployment.extensions/cache-deployer-deployment restarted
deployment.extensions/cache-server restarted
deployment.extensions/kubeflow-pipelines-profile-controller restarted
deployment.extensions/metadata-write

[2020-09-17 10:19] kimwnasptd commented on #5282
I don't think this is a good idea.
The CR's state that we mention is a [`ContainerState`](https://github.com/kubeflow/kubeflow/blob/7f5e242f4671f453eaee72e4319a5f7f190f7725/components/notebook-controller/api/v1/notebook_types.go#L44). As also noted in the [docs](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#containerstatus-v1-core) the `ContainerState` should depict the stat

[2020-09-17 12:42] sadeel opened #5312 "How to expose Kubeflow UI on an internal IP address?"
/kind question

**Question:**
Our team is bringing up a Kubeflow instance on a a private GKE cluster which is locked down (no external internet access). We want to be able use the GKE UI through an internal IP interface. Do you know what changes need to be made to the configs to enable this? Note: we are using kfctl_k8s_istio.yaml.

Thanks

[2020-09-17 21:42] alforik commented on #5307
I have similar error.
------error statement--------
ApiException: (403)
Reason: Forbidden
HTTP response headers: HTTPHeaderDict({'content-length': '19', 'content-type': 'text/plain', 'date': 'Thu, 17 Sep 2020 21:22:22 GMT', 'server': 'envoy', 'x-envoy-upstream-service-time': '0'})
HTTP response body: RBAC: access denied

[2020-09-18 08:06] condaatje commented on #5253
There may be a better solution from the team, but installing on a v1.17 cluster fixed this issue for me

[2020-09-18 13:49] desaintmartin commented on #4314
@praveen049 out of curiosity, how did you have the related `Service` created/deleted? Have you been able to automate it?

[2020-09-18 15:28] jlewi opened #5313 "Uber Issue: Support for ISTIO 1.6 in later"
/kind feature

Creating an uber issue to begin planning for supporting ISTIO 1.6 and newer across Kubeflow.

I believe there were a lot of changes in ISTIO 1.6 that will impact numerous applications in KF.

Some ISTIO resources are defined statically (e.g. in kubelfow/manifests) but in other places they are created dynamically by controllers (e.g Pipelines controllers, Profile Controller, Jupyter

[2020-09-18 15:29] jlewi commented on #5301
Uber issue for supporting istio 1.6 kubeflow/kubeflow#5313

[2020-09-18 15:57] yuzisun commented on #5313
@jlewi KFServing standalone should work with Istio 1.6 without issues as we already upgraded to 1.6 internally, but I think KFServing in kubeflow will not work as v1alpha1 istio rbac policy is deprecated, we need to switch to use v1beta1 authentication API.

[2020-09-18 17:27] yanniszark commented on #5313
Components needing code changes:

- Profile controller
    - Issue: https://github.com/kubeflow/kubeflow/issues/5301
    - Code: https://github.com/kubeflow/kubeflow/blob/5185f06786554fa6598f0c735829476b0cdf29b0/components/profile-controller/controllers/profile_controller.go#L336

- KFAM
    - Issue:
    - Code: https://github.com/kubeflow/kubeflow/blob/4bf2d4131a5aebe0f1b53d36dd94031f88426c0b/com

[2020-09-18 17:43] #5062 closed

[2020-09-19 16:06] nlaanait commented on #5227
@Jeffwan the fix works. Thanks!

[2020-09-19 17:43] Brajen259 commented on #5097
Any solutions to this? I am facing a similar issue while installing kubeflow in was Eks using cognito.

[2020-09-19 19:25] jdurago commented on #5097
I haven't seen a solution to this yet

[2020-09-20 14:12] sevro commented on #5099
I am also getting the same exact error following the same instructions and am not sure how to correct the kubernetes-master address.

Output for `kubectl get namespaces` and `kubectl cluser-info`:

[code]

**My Environment:**

  - Kubeflow version: (version number can be found at the bottom left corner of the Kubeflow dashboard):
  - kfctl version: (use kfctl version): kfctl v1.1.0-0-g9a3621e
  -

[2020-09-20 16:04] Brajen259 commented on #4718
How did you redploy it? did you redploy the entire manifests? or just the centraldasboard?

[2020-09-20 17:22] #4589 closed

[2020-09-21 12:21] thesuperzapper commented on #5313
Linking to similar issue: https://github.com/kubeflow/manifests/issues/1551

[2020-09-21 12:27] thesuperzapper commented on #5312
Just make sure your Istio Ingress gateway is only accessible internally.

For example on GKE, you can annotate a `LoadBalancer` type `Service` with:
[code]

[2020-09-21 12:32] Shaked opened #5315 "Azure KeyVault new CSI volume driver doesn't work"
/kind bug

**What steps did you take and what happened:**

- Install https://github.com/Azure/secrets-store-csi-driver-provider-azure

[code]

- [Create an Azure KeyVault](https://docs.microsoft.com/azure/key-vault/secrets/quick-create-portal)
- [Create your own SecretProviderClass Object](https://github.com/Azure/secrets-store-csi-driver-provider-azure#create-your-own-secretproviderclass-object)

[2020-09-21 19:38] gilbeckers opened #5317 "Status icon of newly created notebook is not shown correct in Kubeflow dashboard"
/kind bug

**What steps did you take and what happened:**
When creating a new Jupyter Notebook server, the status of the notebook is not showed correctly in the Kubeflow UI: the green check-mark appears too soon. Namely, if you click on connect, a "no healthy upstream" message shows the first seconds.

**What did you expect to happen:**
Correct behavior of the status icon of the notebook server in

[2020-09-22 02:56] gaocegege commented on #5313
I do not think it will affect automl, Please double check @andreyvelich

[2020-09-22 12:48] murilommen commented on #5099
I have the exact same problem as @sevro with almost the same setup:
- OS: Ubuntu 20.04
- K8s platform: AKS
- kfctl v1.1.0-0-g9a3621e

[2020-09-22 13:12] #5021 closed

[2020-09-22 13:30] divya-r-kamat commented on #5099
Even I have the same problem with Ubuntu 18.04 , MicroK8s and kfctl_k8s_istio.v1.0.0.yaml

[2020-09-23 05:42] qiaqiatic opened #5319 "ResourceQuotaSpec is removed in profile when "kind" is "User""
/kind question

Hi I am trying to create profile from Kfam API with below json
[code]
it ends up with below object in K8s, one can see that `resourceQuotaSpec` is omitted.

[code]

but when I changed to "kind" to lower case "user" as below

[code]

the object is created in k8s as below, `resourceQuotaSpec` is correctly presented in the object store

[code]

wonder what is making the `resourceQuota

[2020-09-23 07:56] seboktamas commented on #5040
Hi, can we use kfserving as part of kubeflow deployment on local cluster, or we must use some cloud provider's infrastructure?

[2020-09-23 14:27] DavidSpek commented on #1057
@jlewi I was going through the Notebook issues and found this one. I created a PyTorch image based on the `jupyter/scipy-notebook` that seems to work. It also contains TensorFlow, not sure if that is an unnecessary combination or not (I don't work with either), but it can be easily removed if necessary. Hopefully this helps, otherwise I can do more testing if you specify what would need to be done

[2020-09-23 16:59] romankazinnik commented on #5247
Having same problem. Will we have Kubeflow endpoint with all its historical data preserved by doing 1.-4.?

[2020-09-23 17:31] DavidSpek commented on #2208
As said in the last part of my comment https://github.com/kubeflow/community/issues/344#issuecomment-697370531, the only change that is needed to run the standard jupyter images is the `CMD` command. After some playing around the only the only variables necessary to still get a working notebook are:
`CMD ["sh","-c", "jupyter lab --NotebookApp.token='' --NotebookApp.base_url=${NB_PREFIX}"]`
I'm not

[2020-09-23 18:28] munagekar commented on #5247
Yes. All data should be preserved, data is stored in PVC.

[2020-09-23 19:34] DavidSpek commented on #2208
@jlewi Currently the NB_PREFIX variable that is used for `--NotebookApp.base_url=${NB_PREFIX}` is set by the notebook controller.
https://github.com/kubeflow/kubeflow/blob/7f5e242f4671f453eaee72e4319a5f7f190f7725/components/notebook-controller/controllers/notebook_controller.go#L326

[code]

Wouldn't it be possible to pass the arguments directly rather than changing the `CMD` and rebuilding the im

[2020-09-23 21:27] Jeffwan commented on #5290
From the logs, it doesn't seem user set REGION correctly. @xzy0223 Do you mind sharing your settings? Did you use IAM role or user or assumed role for this?

[2020-09-23 23:24] Jeffwan commented on #5245
I built binary with the patch and please use kfctl here instead.

darwin
https://kubeflow-aws.s3-us-west-2.amazonaws.com/kfctl/linux/kfctl_v1.0.2-1-g93e95e1_linux.tar.gz
https://kubeflow-aws.s3-us-west-2.amazonaws.com/kfctl/darwin/kfctl_v1.0.2-1-g93e95e1_darwin.tar.gz

linux
https://kubeflow-aws.s3-us-west-2.amazonaws.com/kfctl/linux/kfctl_v1.1-rc.0-7-g27916db_linux.tar.gz
https://kubeflow-aws.s3-

[2020-09-23 23:26] Jeffwan commented on #5245
@supertetelman Em. good to know, seems you don't work for Amazon and won't use it in Amazon corp network. Seems other network env get impacted as well? Please have a try on above binary

[2020-09-24 00:42] thesuperzapper commented on #2208
@DavidSpek Its `NB_PREFIX` is currently set as an environment variable?

What exactly would be the benefit of strongly tying our container images to a specific version of Jupyter (when things like `--NotebookApp.base_url=XXXX` may not be the same across Jupyter releases), this is also not to speak of RStudio/Theia.

However, @kimwnasptd and I were discussing whether we should do the prefix rewriti

[2020-09-24 01:57] MartinForReal commented on #5020
'''
"proxy_init": {
"image": "proxyv2", #####image name here
"resources": {
"limits": {
"cpu": "100m",
"memory": "50Mi"
},
"requests": {
"cpu": "10m",
"memory": "10Mi"
}
}
},

'''

I think the image name should be changed accordingly.

Can we close this issue?

[2020-09-24 02:57] wuzhiye7 opened #5320 "is there any lighter way to deploy notebook on k8s without kubeflow？"
/kind question

is there any lighter way to deploy notebook on k8s without kubeflow？
jupyterhub on k8s is not a good idea. I'd like（jupyter-web-app + notebook controller +profile-controller+istio） on k8s.
 deploy like [tf-operator](https://github.com/kubeflow/tf-operator/issues/904#issuecomment-453008853) with CRD or any lighter way.

[2020-09-24 04:30] arshashi commented on #5020
@MartinForReal Thanks for the help and I feel this can be closed.

[2020-09-24 07:43] swiftdiaries commented on #5320
https://zero-to-jupyterhub.readthedocs.io/en/latest/

[2020-09-24 08:34] DavidSpek commented on #2208
@thesuperzapper Yeah I was thinking about that after I replied and started looking at RStudio and VS Code Server very briefly as well. There do seem to be some legacy environment variables for jupyter notebooks like  `$JPY_BASE_URL` but I'm not sure that is the best way to go being legacy and all.

Doing the rewriting inside another container seems like a good solution. Is there some place I can r

[2020-09-24 09:17] kimwnasptd commented on #2208
@thesuperzapper doesn't RSTudio have a way to configure its backend to expect requests under a prefix, like the `NotebookApp.base_url`?

[2020-09-24 09:25] DavidSpek commented on #2208
@kimwnasptd From what I can find it is configured in nginx or apache. https://support.rstudio.com/hc/en-us/articles/200552326-Running-RStudio-Server-with-a-Proxy

[2020-09-24 09:31] DavidSpek commented on #2208
Also, this seems to be an existing Dockerfile for RStudio in Kubeflow.
https://github.com/StatCan/kubeflow-containers/tree/master/r-studio

[2020-09-24 11:22] DavidSpek commented on #5313
@yanniszark I believe the tool you are talking about is `istioctl experimental authz convert`, as mentioned [here](https://istio.io/latest/blog/2019/v1beta1-authorization-policy/).

[2020-09-24 12:04] yangjinlogic commented on #5230
I met the same problem

[2020-09-24 16:32] Shaked commented on #5315
Seems like this is a duplicate of https://github.com/kubeflow/pipelines/issues/4325

[2020-09-24 16:32] #5315 closed

[2020-09-24 16:34] lalithvaka commented on #5154
@aniruddhachoudhury , it appears your spec for GPU key wrong. Use "nvidia.com/gpu: 2". It should work.

[2020-09-24 18:01] manojb7 commented on #4864
change the sql image to to 5.6. It will work without any issue

[2020-09-24 18:05] radhakrishnang commented on #5245
Ni Hao @Jeffwan  Yes other network seems affected too,
using this solved the issue - https://kubeflow-aws.s3-us-west-2.amazonaws.com/kfctl/linux/kfctl_v1.1-rc.0-7-g27916db_linux.tar.gz
Xie Xie

[2020-09-24 18:56] sudivate opened #5321 "OIDC authservice Integration with Azure AD"
/kind bug

**What steps did you take and what happened:**
I'm enabling authentication with Azure AD on AKS and installing Kubeflow with `kfctl_istio_dex.v1.1.0.yaml`  but skipping the dex from the manifest as Azure AD is an OIDC provider.

OIDC Auth Service Configuration:
 - client_id=XXXX
  - oidc_provider=https://login.microsoftonline.com/XXXX/v2.0
  - oidc_redirect_uri=https://XXXX/login/oidc

[2020-09-24 21:59] lalithvaka commented on #5321
@sudivate , typically this happens when your well known configuration is not reachable. Make sure, this URL is accessible from where the container is running.
https://login.microsoftonline.com/XXXX/v2.0/.well-known/openid-configuration

Could be your AKS outbound firewall is blocked. Check the network settings.

[2020-09-24 22:52] sudivate commented on #5321
@lalithvaka  There are no outbound firewall rules blocking access and container can access `https://login.microsoftonline.com/XXXX/v2.0/.well-known/openid-configuration`

[2020-09-25 00:20] lalithvaka commented on #5321
Per https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-protocols-oidc, do you need to add appid to the well known URL?
[code]

[2020-09-25 02:17] thesuperzapper commented on #2208
@kimwnasptd RStudio does not have that feature.

In my images I am using an embedded `apache2` server in the Docker image to do the path rewriting based off the `NB_PREFIX` environment variable, but we could do something similar for ALL containers.

__run.sh__
[code]

__rstudio-proxy.conf__
[code]

[2020-09-25 02:37] jzhoucliqr commented on #5319
kfam is using a pretty old version of profile-controller api: github.com/kubeflow/kubeflow/components/profile-controller v0.0.0-20191008230951-321c1d3313b6.

which have this:  	                ResourceQuotaSpec v1.ResourceQuotaSpec `json:"resourcequotaspec,omitempty"`
But latest profile CRD has:   ResourceQuotaSpec v1.ResourceQuotaSpec `json:"resourceQuotaSpec,omitempty"`
Notice that json tag is d

[2020-09-25 13:21] DavidSpek commented on #2208
@thesuperzapper I feel like the conversation is drifting a bit away from Jupyter images. But [this image](https://hub.docker.com/r/rocker/binder) seems to be running a jupyter notebook image on the standard port but adding `?urlpath=rstudio` to the url will get you to RStudio. Maybe it is possible to use this image as a base for RStudio or use a similar method to create the images

[2020-09-25 18:14] aditipatil0711 opened #5322 "efore visiting the MiniKF dashboard, while ensuring that Minikube, Kubeflow, and Rok (Snapshot Store) are up and running, the deployment gets stuck at 74% in the SSH step."
https://www.kubeflow.org/docs/started/workstation/minikf-gcp/

Refer point 5 of the given Getting started module

[2020-09-26 03:21] #5031 closed

[2020-09-26 03:21] #4315 closed

[2020-09-26 03:21] #5046 closed

[2020-09-26 03:21] #4757 closed

[2020-09-26 09:44] Alessthana commented on #2573
I've downgraded my GKE version to 1.13.5-gke.10 in order to get cuda 10.0 

[2020-09-26 11:07] DavidSpek commented on #5320
I have no experience with it, but Canonical has Charmed Kubeflow Lite. Maybe that is interesting for your use case. https://jaas.ai/u/kubeflow-charmers/kubeflow-lite

[2020-09-26 11:26] DavidSpek commented on #5248
This seems to be related to https://github.com/kubeflow/pipelines/issues/4505. A fix is being worked on.

[2020-09-26 11:27] DavidSpek commented on #5253
Related issues and solutions:
https://github.com/kubeflow/pipelines/issues/4505
https://github.com/kubeflow/website/issues/2206#issuecomment-698234904

[2020-09-26 11:31] DavidSpek commented on #5230
What version of Kubernetes are you all running? Was cert-manager already deployed on the cluster before deploying Kubeflow? If cert-manager is already installed on the cluster before you deploy Kubeflow (and you do not remove cert-manager from the installation) you can face this issue.

[2020-09-26 11:44] DavidSpek commented on #5181
I believe this installation method is using Charmed Kubeflow. Maybe reporting a bug on their github project would be useful. https://github.com/juju-solutions/bundle-kubeflow

[2020-09-26 11:48] DavidSpek commented on #5172
Wouldn't it be possible to solve this by selecting `Do not use Persistent Storage for User's home` and then adding a Data Volume with the mount path you would like to use?

[2020-09-26 11:50] DavidSpek commented on #5171
This seems to be the same issue as https://github.com/kubeflow/website/issues/2206. In [this](https://github.com/kubeflow/website/issues/2206#issuecomment-698234904) comment I provide a workaround using an open pull request of mine.

[2020-09-26 11:56] DavidSpek commented on #5157
This issue seems related:
https://github.com/kubeflow/website/issues/2137

[2020-09-26 12:17] DavidSpek commented on #5251
I think this is an interesting idea. The Ceph dasboard has the ability to show extra graphs it gets from Grafana. Maybe an integration with Prometheus and Grafana in a similar manor is possible for the Kubeflow Dashboard.

[2020-09-26 12:59] DavidSpek commented on #3838
This seems related to my comment https://github.com/kubeflow/kubeflow/issues/2208#issuecomment-697928715, where I suggested setting the arguments directly rather than backing them into the container images.

[2020-09-26 13:01] DavidSpek commented on #3840
I also see this as an essential function for multi-user environments.

[2020-09-26 18:12] SpontaneousDuck commented on #5172
Hmm, yes it just might! You just don't get the automatic naming of that storage to match the container's name though.

[2020-09-26 18:44] DavidSpek commented on #5172
Is it not possible to set the .bashrc config, etc in the image directly rather than having them load on container start?

[2020-09-26 19:14] SpontaneousDuck commented on #5172
If I do set it in the image, then it is over-written when Kubernetes mounts the Persistent storage to the User's home. If I want to place things in the user's home directory, it would be useful to be able to bind the default folder for Kubeflow to a different folder than the user's home.

[2020-09-26 19:21] DavidSpek commented on #5172
Isn’t it possible to set the default .bashrc in a location other than the home directory? In regards to placing other files in the user’s home directory, maybe it is an option to copy them from another directory to the home directory after starting the container. Or have a pre-made PV with the data in it for each user that they can mount. It’s difficult to think of a workable solution without the

[2020-09-26 19:47] jbottum commented on #5133
Hi @fakeburst, did you get this resolved ?

[2020-09-26 20:00] jbottum commented on #5189
@phansoks did you get this resolved?

[2020-09-26 20:13] jbottum commented on #5322
Hi @aditipatil0711, just checking to see if you tried this again.  I just tried to deploy and was successful.   Which region are you deploying into ?  @cspavlou do you see anything / have any questions ?

[2020-09-26 21:51] SpontaneousDuck commented on #5172
I do currently copy the files in with a startup script. That is how I am getting around it. I just know must of the Jupyter images I have seen out there bind the workspace to `/workspace` or some custom folder to avoid this. It would be nice to at least have the option in Kubeflow to change which folder is used! Not a  super high priority problem that needs an immediate fix but this would definite

[2020-09-27 00:18] fakeburst commented on #5133
@jbottum nope, I wasn't looking into this much after filing the issue tbh. I recall being told on slack that this is related to https://github.com/kubeflow/kubeflow/issues/4848

Either way, we've transitioned to using ebs&s3 so this does not block us with the current workflow

[2020-09-27 12:10] imsazzad opened #5324 "Kubeflow Installation error on minikube"
/kind bug

I was following [this](https://www.kubeflow.org/docs/started/workstation/minikube-linux/) when installing kubeflow in minikube. when I ran this command

` kfctl apply -V -f https://raw.githubusercontent.com/kubeflow/manifests/v1.1-branch/kfdef/kfctl_k8s_istio.v1.1.0.yaml"`

this happens  continuously ->
`Encountered error applying application cert-manager:  (kubeflow.error): Code 500 wi

[2020-09-27 18:35] #5079 closed

[2020-09-28 12:20] phansoks commented on #5189
@jbottum, My question was indeed answered. It would be nice to have GPU support on local environment.

[2020-09-28 12:38] #5305 closed

[2020-09-28 13:35] jlewi commented on #4889
@lalithvaka @maganaluis I don't think this made it to Kubeflow 1.1; per kubeflow/manifests#1553 it doesn't look like the image got updated.

[2020-09-28 17:59] goanto commented on #5320
I don't think a solution is readily available with all the specs you mentioned, but do checkout zero to jupyterhub blog

[2020-09-28 19:08] yanniszark commented on #5321
@sudivate can you do a
`echo $OIDC_PROVIDER` and
`curl -i $OIDC_PROVIDER/.well-known/openid-configuration` from inside the `oidc-authservice` container?
This should be the call that the AuthService does.

[2020-09-28 19:13] sudivate commented on #5321
@yanniszark I was unable to install curl without root access on the oidc-authservice container, however, I tried spinning another container to check if a well-known configuration to ensure it is accessible.

[2020-09-28 20:58] yanniszark commented on #5321
@sudivate how about using: https://github.com/aylei/kubectl-debug
I would also like to see the value of `$OIDC_PROVIDER` inside the container.

[2020-09-28 21:01] sudivate commented on #5321
@yanniszark  Yup I can `echo $OIDC_PROVIDER` inside the container which is  https://login.microsoftonline.com/XXXX/v2.0

[2020-09-29 01:01] lalithvaka commented on #4889
@jlewi  I see the right images made it to common/centraldashboard/base/kustomization.yaml files but not under /common/centraldashboard/base_v3/kustomization.yaml. If I remember right, we did cherry pick this. Not sure why it did not pick the right image into base_v3? Also, is there a reason why we still have old base/kustomization.yaml files?
cc/ @maganaluis

[2020-09-29 01:22] thesuperzapper commented on #5091
This is still important, but will wait until we migrate to the new web backend.

See: #5316

[2020-09-29 09:23] kimwnasptd commented on #3840
Since a lot of users have expressed their interest in this I think we should bump its priority.

From a UX side I think the UI should have a checkbox on each volume with `Delete with Notebook` [ or something similar], which will also be checked by default. Since the user might **not** want to delete some of the volumes we should allow them to fine grain which ones should be deleted.

Under the hoo

[2020-09-29 10:27] radhakrishnang commented on #5245
@Jeffwan  when i tried following eksworkshop 1.0.1 i get the same error too - is that issue with IAM ?
**ERRO[0000] Could not untar file https://github.com/kubeflow/manifests/archive/v1.0.1.tar.gz; error gzip: invalid header  filename="kfconfig/types.go:524**

INFO[0000] Running `eksctl version` ...                  filename="utils/awsutil.go:71"
INFO[0000] eksctl version: 0.28.1

[2020-09-29 21:06] LRSutton opened #5325 "TFX 0.24.0 Trainer Crashes Interactive Context in Jupyter Notebook"
/kind bug

**What steps did you take and what happened:**

Created an interactive pipeline based on TFX 0.23.0. The pipeline ran through to fitting the model. Due to unrelated issues, I had to upgrade to TFX 0.24.0. Running the following block causes the Jupyter notebook to fail with the error shown below. (Error IS NOT displayed on Jupyter interface but from pulling the logs of the notebook.)

Af

[2020-09-29 22:13] sudivate commented on #5271
I'm facing the exact same behavior described by @crosvera when installing Kubeflow using `kfdef/kfctl_istio_dex.v1.1.0.yaml` and disabling mutual TLS on destination rule `ml-pipeline` and `ml-pipeline-UI` fixed it for now

[2020-09-30 03:26] Bobgy commented on #5271
So it seems somehow your istio sidecar injector is not working properly in kubeflow namespace.

/cc @krishnadurai
Can we better solve this problem for kfctl_istio_dex installation?

Did kubeflow bring our own istio with our config, or we use people's istio on their own clusters, and they do not have the same default values?

[2020-09-30 04:01] #5072 closed

[2020-09-30 14:58] DavidSpek commented on #5102
I haven't experienced this issue again so I am closing it for now. If it comes up again in the future I will reopen it.

[2020-09-30 14:58] #5102 closed

[2020-09-30 15:21] DavidSpek commented on #5307
I'm not sure, but this seems to be related to https://github.com/kubeflow/pipelines/issues/4440#issuecomment-687689294. Are you indeed trying to run pipelines from notebook servers in a multi-user environment?

[2020-09-30 15:26] DavidSpek commented on #5324
This seems to be a duplicate of https://github.com/kubeflow/kubeflow/issues/5230.

What version of Kubernetes are you all running? Was cert-manager already deployed on the cluster before deploying Kubeflow? If cert-manager is already installed on the cluster before you deploy Kubeflow (and you do not remove cert-manager from the installation) you can face this issue. Is there a pod that is going i

[2020-09-30 18:04] sudivate commented on #5321
Thank you @lalithvaka  @yanniszark  I got this working it was endlessly waiting for inference webhook.  I will create a PR for a step-by-step guide for Azure.

The next blocker is to authenticate KFP client  SDK  https://github.com/kubeflow/pipelines/issues/4569.
Please share if you have any thoughts on this?

[2020-10-01 17:50] jednymslowem commented on #5230
I have the same issue. The output is now a bit more verbose:
[code]
I'm using kfctl_k8s_istio.v1.1.0.yaml and Kubernetes version 1.18.8 (nothing was deployed to the cluster before).

[2020-10-01 19:11] sshakeri commented on #5207
Updating to V1.1 tag:
[code]

[2020-10-02 02:47] #4959 closed

[2020-10-02 06:51] vule24 commented on #3362
### Step to build code-server on kubeflow:

1. Install `code-server`: `curl -fsSL https://code-server.dev/install.sh | sh`
1. Install `jupyter-server-proxy` : `pip3 install jupyter-server-proxy`
1. Install `jupyter-vscode-proxy`: `pip3 install jupyter-vscode-proxy`
1. Install `server-proxy` extension: `jupyter labextension install @jupyterlab/server-proxy` or use extensions manager on jupyterlab f

[2020-10-02 08:57] DavidSpek commented on #5230
@jednymslowem The issue you are having is not related to the webhook.cert-manager.io but rather seldon. Please see the following comment I made which links to other issues that are the same and a workaround for the time being. https://github.com/kubeflow/website/issues/2206#issuecomment-698234904

[2020-10-02 11:51] discordianfish commented on #4817
Still relevant

[2020-10-02 12:05] DavidSpek commented on #2208
@kimwnasptd @thesuperzapper RStudio v1.4.869-4 Preview for RStudio-Server has "New `X-RStudio-Root-Path` header or the new `www-root-path` for specifying the exact path prefixes added by a path-rewriting proxy (Pro #1410)."

https://rstudio.com/products/rstudio/download/preview-release-notes/

[2020-10-02 15:18] achandras opened #5326 "Notebook controller error for non-notebook resources"
/kind bug

**What steps did you take and what happened:**
We have deployed Kubeflow with the Notebook Controller and several Notebook resources.

When the controller periodically does it's reconciliation, we see it successfully reconcile the existing notebooks, and then something like this:
[code]

Another example:
[code]

It seems random and the namespace and resource name are sometimes different

[2020-10-02 17:08] PatrickXYS commented on #5097
Given Kubernetes 1.16 has some API changes to `Deployment` object:

`extensions` is not supporting `Deployment`.

The work-around here is to replace Deployment apiVersion to apiVersion: `apps/v1`.

We will be sending PR to change the yaml file soon

[2020-10-03 01:04] andreyvelich commented on #5313
AutoML should not be affected. We use only `VirtualService` from ISTIO to connect the UI.

[2020-10-03 09:09] Matthias-Winkeler-Fluke commented on #5107
I am on GCP, started with free tier but have upgraded to paid. I have transferred 10usd as a test (at 310usd credit now) . But I still get the abovementioned issue. Have tried redeploying from market place multiple times but no luck.

"stuck on 33/35 and 34/35 pods are ready"

My credit card is linked so I do not understand what is happening.

Do I need to delete the "minikf-user-data.vdi" files a

[2020-10-03 14:59] jbottum commented on #5325
@LRSutton Hi, which platform / cloud are you running this on i.e AWS, GCP, on-prem ?

[2020-10-03 22:55] jbottum commented on #5217
Hi @gudipudipradeep , is this issue still open?  Are you running this on MiniKF on GCP ?

[2020-10-04 14:52] jbottum commented on #5294
Hi @aychang95 did you get this resolved? Which platform are you deploying on GCP, AWS, On-prem ?

[2020-10-04 15:13] jbottum commented on #5243
Hi @DDDDDDDDDDDDLANG Are you deploying on GCP or another cloud ?   Is this issue still open ?

[2020-10-04 15:14] ajinkya933 opened #5327 "New Profile fails on Kubeflow-UI-dashboard"
I have setup Kubeflow on local Ubuntu PC by using microk8s tutorial (https://ubuntu.com/kubeflow/install). After successful install I do:
[code]
I get response:
[code]
On the UI side I get: https://github.com/ajinkya933/tmp-images/blob/main/kubeflow.png

But after I create a new profile using ```profile.yaml``` file (reference: https://www.kubeflow.org/docs/components/multi-tenancy/getting-started

[2020-10-04 15:30] jbottum commented on #5238
Hi @zhzhang did you get this resolved ?  Which platform are you running on i.e. AWS, GCP, on-prem

[2020-10-04 19:59] #5095 closed

[2020-10-04 21:44] jbottum commented on #5137
Hi @imagr-pat is this issue still open ?

[2020-10-05 07:08] slenky opened #5328 "Admission Webhook is not compiling"
/kind bug

**What steps did you take and what happened:**
I am trying to build an Admission webhook image using the latest master to support Tolerations in PodDefaults.
It fails with that error:
[code]

**What did you expect to happen:**
I expect a working Docker image.

**Environment:**

- Docker version: 19.03.13
- OS (e.g. from `/etc/os-release`): MacOS Catalina

[2020-10-05 15:00] aychang95 commented on #5294
Hi @jbottum, I use the Kubernetes Installlation instructions here: https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/

This is on a kops deployed k8s cluster on AWS servers.

[2020-10-05 15:07] whigy commented on #5215
I am undergoing the same issue. Did you solve the problem?

[2020-10-05 15:28] LRSutton commented on #5325
Hey Josh... Running on-prem using kubeadm.

`kubeadm version: &version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.11", GitCommit:"ea5f00d93211b7c80247bf607cfa422ad6fb5347", GitTreeState:"clean", BuildDate:"2020-08-13T15:17:52Z", GoVersion:"go1.13.15", Compiler:"gc", Platform:"linux/amd64"}`

[2020-10-05 15:29] LRSutton commented on #5325
And, btw, this behavior continues using TFX 0.24.

[2020-10-05 15:33] jbottum commented on #5320
@wuzhiye7 As you may know, Arrikto has helped to contribute Notebooks in Kubeflow and extend both to support isolation, authentication and authorization.    This works pretty well and provides advantages over other non-Kubeflow solutions.   I am interested in the driver for your request.    Are you just looking to use Notebooks and will not extend into pipelines, hyperparameter tuning and inferenc

[2020-10-05 16:13] jbottum commented on #5158
@Jeffwan Hi Jiaxan - Did you see this request above?  Is this resolved ?  Can we close this ?

[2020-10-05 19:19] jbottum commented on #5131
Hi @ashishbhatnagar02 did you get this responsed ?

[2020-10-05 19:35] jbottum commented on #5129
@ykeuter did you get this resolved ?  can we close this ?

[2020-10-05 19:45] akranga commented on #5010
I believe this code causes the problem: [deployment_patch.yaml](https://github.com/kubeflow/manifests/blob/master/jupyter/notebook-controller/base/deployment_patch.yaml) AFAIK it is still in master and in `v1.1` branch. Similar to authors of the patch, I was not able to find any elegant solution, so ended up with [this](https://github.com/agilestacks/components/blob/master/kubeflow-v1.0/ext/jupyte

[2020-10-05 21:15] jbottum commented on #5328
Hi @slenky what platform are you deploying into i.e. GCP, AWS, On-Prem, on your laptop.    The OS is Catalina ?  is this on your laptop ?  If so, you will need to look at using Minikube or MiniKF.

[2020-10-05 21:31] jbottum commented on #5230
Hi @toddlerds did you get this resolved?  which platform (AWS, GCP, On-prem, are you running on) ?

[2020-10-05 21:42] jbottum commented on #5214
@kzh hi kevin, did you get this resolved?  It looks like you are running on-prem ?   Have you joined the Thursday call with the on-prem SIG ?

[2020-10-05 21:43] jbottum commented on #5212
@mcantrell Hi Mike, did you get this resolved ?

[2020-10-06 01:38] jlewi commented on #5224
@swiftdiaries Could you provide an update on the release? Are the respective WGs on track? It would be good to have a standing item on the agenda to discuss the release.

[2020-10-06 02:22] jlewi commented on #4889
It looks like the PR kubeflow/manifests#1465 was never reviewed and approved.

It looks like this is an area where ownership and accountability aren't clear. The application OWNERs should be responsible for ensuring the application is released and the binaries make it to the release.

Per: kubeflow/community#380 it looks like we are missing WG sponsorship for the centraldashboard.

The OWNERs file

[2020-10-06 04:49] ykeuter commented on #5129
At the moment the Kubeflow project in our team is not active anymore. I will close this issue and open a new one if I get back to it. Thanks.

[2020-10-06 05:10] avdaredevil commented on #4889
/cc @Bobgy For any insights

[2020-10-06 07:08] slenky commented on #5328
Hi @jbottum , deployment platform doesn't matter as I am trying to build an image only for admission webhook, that's another story.

[2020-10-06 12:42] jlewi commented on #4889
@avdaredevil thanks for confirming; I would suggest not LGTM'ing. To me the root issue is figuring out who the new owner will be and I lean towards letting the new owners take responsibility. The outdated manifests help create urgency around this issue which should help us resolve it. Lets continue the ownership discussion in kubeflow/community#380

[2020-10-06 13:00] jlewi commented on #5307
Duplicate of kubeflow/pipelines#4440

[2020-10-06 13:00] #5307 closed

[2020-10-06 15:11] jbottum commented on #5195
@raravena80 we have a Community meeting today and will ask for volunteers.   Do you have a regular schedule for your meetings ?

[2020-10-06 15:30] jbottum commented on #5187
@Focke-Wulf which platform are you running on i.e. AWS, GCP or on-prem

[2020-10-06 17:16] yanniszark commented on #4702
Hi @lomori, support for this feature was merged in https://github.com/kubeflow/kubeflow/pull/5174

[2020-10-06 17:56] sudivate commented on #5271
@krishnadurai  and @Bobgy this kfctl_istio_dex.v1.1.0.yaml installs Istio with the default config.

Is upgrading to the latest Istio 1.7.1 on the roadmap?

[2020-10-06 23:16] jbottum commented on #5157
@jtfogarty @krishnadurai any comment on this ? @supertetelman Hi Adam, you might consider bringing this up at the On-Prem SIG (on Thursdays)

[2020-10-07 06:54] alforik opened #5329 "kubeflow 1.0.2 is not installed on kubernetes 1.19"
/kind bug
kubeflow 1.0.2 is not installed on kubernetes 1.19

Webhook error report is like this

kubectl get apiservices | grep webhook
v1beta1.webhook.cert-manager.io        cert-manager/cert-manager-webhook   False (FailedDiscoveryCheck)   55s

and

validatingwebhookconfiguration.admissionregistration.k8s.io/cert-manager-webhook configured
WARN[0613] Encountered error applying application cert-m

[2020-10-07 08:08] eliastsironis opened #5330 "GCP installation - incomplete kpt package"
/kind bug

**What steps did you take and what happened:**
I tried to follow the installation notes for GCP and I downloaded the blueprint with the command:
`kpt pkg get https://github.com/kubeflow/gcp-blueprints.git/management@v1.1.0 ./`

Then when i tried to set values in the makefile i got the following error:
`/management/upstream/management: no such file or directory`

 It seems like the upstr

[2020-10-07 08:34] #4894 closed

[2020-10-07 08:51] sameerbhadouria opened #5331 "default-editor unable to pull image from gcr"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Running the mnist example on the kubeflow installation via a notebook server. The cluster is configured to use workload identity. I am able to create/push the docker image to the gcr registry from the notebook. However, when I try to run the train job, the training pods fail to pull the

[2020-10-07 09:58] #5330 closed

[2020-10-07 10:10] eliastsironis commented on #5330
It was a local issue with the execution of the make get-pkg command.

[2020-10-07 14:56] raravena80 commented on #5195
@jbottum yes the schedule is on the [agenda](https://bit.ly/cncf-sig-runtime-meeting-notes). Thanks!

[2020-10-07 17:32] jbottum commented on #5098
@espears1 as you may know, Arrikto has provided some extensions to Kubeflow (i.e. Kale and Rok) to address some of the items that you describe.   If you would like to set-up a conversation to discuss your requirements, please let me know.

[2020-10-07 18:52] supertetelman commented on #2208
This issue was cross-posted in a issue I opened a while ago (https://github.com/kubeflow/kubeflow/issues/3838). Back in an older version of the jupyter-web-app my team had a custom solution where we just allowed users to directly modify the Docker CMD (see screenshot here: https://github.com/kubeflow/kubeflow/issues/3838#issuecomment-565576572).

This used the default container image if nothing wa

[2020-10-07 19:02] marcjimz commented on #5313
+1 on this issue, we noticed RBAC was dropped on the Jupyter controller once we made the migration to 1.6.

[2020-10-07 23:58] thesuperzapper commented on #5313
Similar issue: #5176

[2020-10-07 23:58] thesuperzapper commented on #5176
See UBER issue: #5176

[2020-10-08 09:18] geewynn opened #5333 "Jupyter notebook connection failed with error "failed: Error during WebSocket handshake: Unexpected response code: 200""
/kind bug

**What steps did you take and what happened:**
I have deployed kubeflow on GCP GKE with https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_istio_dex.v1.0.2.yaml following the instruction on https://v1-0-branch.kubeflow.org/docs/started/k8s/kfctl-istio-dex/

**What did you expect to happen:**
To be able to connect to jupyter notebook without any problem

**Anyth

[2020-10-08 14:24] rujual opened #5334 "Artifacts not getting Generated"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Created metadata json file to display Confusion Matrix according to Kubeflow v1.0 documentation.

    `metadata = {
        'outputs' : [{
            'type': 'confusion_matrix',
            'format': 'csv',
            'storage': 'gcs',
            'schema': [
                {'name':

[2020-10-08 17:51] Jeffwan commented on #5326
[code]

1. Have you removed CRD?
2.Do you know if this is the resources you created? `istio-system/istiod-6c4f9bf97f-4rzmk.163a31fcbbf32372`?

Probably controller didn't filter out object not belong to Kind or Group.

[2020-10-08 18:09] maganaluis commented on #5313
@DavidSpek @yanniszark

In regards to the ```istioctl``` utility, I've tried it and it doesn't actually give the desired output. The AuthorizationPolicy is actually fairly simple, the example below shows how to use it with the ```request.headers``` to enable the current behavior.

The question is to either continue to use one AuthorizationPolicy per user/contributor or use a single AuthorizationPo

[2020-10-08 18:12] Jeffwan commented on #5178
/assign @PatrickXYS

[2020-10-08 18:15] supertetelman opened #5335 "Add support to display different GPU types, specifically NVIDIA Multi-Instance GPUs"
/kind enhancement

NVIDIA recently release a new Multi-Instance GPU feature that changes some of the resourcing naming nomenclature. There are two configuration modes, one of which depends on nodeSelectors (which should be covered by recent changes) and one of which depends on a series of new resource types (`nvidia.com/mig-1g.5gb1`, `nvidia.com/mig-2g.10gb` , ...).

I was looking through some of

[2020-10-08 18:18] Jeffwan commented on #5158
/assign @PatrickXYS for more investigation

[2020-10-08 21:11] sameerbhadouria commented on #5331
This is a miss on my part. I had not allowed access to the node pool service account to the gcr bucket.

[2020-10-08 21:11] #5331 closed

[2020-10-09 06:25] argunasekhar opened #5336 "facing issue while deploying kubeflow in RHEL7.6"
i'm trying to deploy kubeflow in my test setup, it is throwing below error

2020/09/24 04:18:34 absolute path error in '/root/kf-flow/.cache/manifests/namespaces/base' : evalsymlink failure on '/root/kf-flow/.cache/manifests/namespaces/base' : lstat /root/kf-flow/.cache/manifests/namespaces: no such file or directory
ERRO[0000] Error evaluating kustomization manifest for namespaces: accumulating r

[2020-10-09 06:49] mapdegree commented on #4066
Request to re-open. It would be very beneficial to have the option to set logs in JSON format as many of users redirect logs into Elastic.

Thanks

[2020-10-09 06:52] mapdegree opened #5337 "Need support for JSON log format option natively for the manager"
/kind feature

**Why you need this feature:**
[Is your feature request related to a problem? Please describe in details]
Consistency of logging and ability to consume in e.g. ElasticSearch natively

**Describe the solution you'd like:**
[A clear and concise description of what you want to happen.]
A parameter that sets stdout and stderr messages to be formatted in a structured JSON message aligned

[2020-10-09 07:59] rmgogogo commented on #5295
would you share how you install it? is it via kubectl with certain customized yaml?

Here is a solved case for your reference as a try.
https://github.com/kubernetes/minikube/issues/3869

[2020-10-10 08:04] #5105 closed

[2020-10-10 08:04] #4836 closed

[2020-10-10 08:04] #4805 closed

[2020-10-10 08:04] #5093 closed

[2020-10-10 08:04] #5030 closed

[2020-10-10 08:04] #5096 closed

[2020-10-10 08:04] #4901 closed

[2020-10-11 11:19] #5100 closed

[2020-10-11 21:53] julioyildo opened #5338 "How to set GCP credentials in Kubeflow UI & SDK ?"
Hello,

I'm new on kubeflow. I'm testing Kubeflow through Minikf. Actually I'm looking for a way to set my GCP Credentials in the UI interface and in the SDK, but having some difficulties manage it.

### 1 - I tried "Configurations" field when creating  a new JupyterServer, but doesn't seem to be the good way.

---------------------------------------------------------------------------------------

[2020-10-12 03:25] agnz commented on #5179
Restarting the kernel after installing with --user worked for me.

[2020-10-12 09:04] Bobgy commented on #5271
I think we need a clear ownership of which working group owns kfctl_istio_dex.v1.1.0.yaml and they can decide when to upgrade.
So far, I don't know anyone has planned to upgrade istio

[2020-10-12 12:02] tretos53 opened #5339 "Kubeflow on EKS with SSL certificate"
/kind bug

**What steps did you take and what happened:**

- I deployed kubeflow on EKS.
- I created a route53 domain `kubeflow.mydomain.com` and pointed to an alias, a service in istio-system namespace `istio-ingressgateway` (type: LoadBalancer).
- When I access `https://kubeflow.mydomain.com` I get a warning message:
[code]
I can ignore the message and use kubeflow.
When I update istio-ingressga

[2020-10-12 21:18] baxteran commented on #5107
I am getting the same issue on Ubuntu 20.04.

I have plenty of free resources. I listed the pods in kubectl and this is what I see:

admission-webhook-deployment-79b7c7744d-zrrl9                  1/1     Running            0          12m
application-controller-stateful-set-0                          1/1     Running            0          12m
argo-ui-778676df64-hbwtx

[2020-10-13 01:22] agnz opened #5340 "Jupyter notebook server is launched using incorrect container image"
/kind bug

**What steps did you take and what happened:**
New deployment of Kubeflow. Created a new notebook server based on one of the provided images: gcr.io/kubeflow-images-public/tensorflow-1.15.2-notebook-cpu
Running in the notebook:
[code]
Outputs:
'2.4.0-dev20201011'

**What did you expect to happen:**
Output: '1.15.2'

**Anything else you would like to add:**
Absolutely perplexed. If I run

[2020-10-13 10:21] ShilpaGopal opened #5341 "How to install Kubeflow on a specific node in a multinode cluster"
/kind question

**Question:**
I have an on-prem cluster with 5 worker node in which only one node has SAN attached to it. I have a storage class for the local path. Now I want to install all the kubeflow components in that particular node where SAN is attached. Is there an easier way of doing this? One way I can think of is, modify the deployment YAMLs to specify selector nodes. Moreover, Its an a

[2020-10-13 12:41] jlewi commented on #5098
@melihsqsp my suggestion would be to talk to the @kubeflow/wg-training-leads about any changes to the job operators. Maybe consider opening up issues in the kubeflow/tf-operator and/or kubeflow/pytorch-operator

[2020-10-13 12:41] #5098 closed

[2020-10-13 13:35] jlewi commented on #4789
@thesuperzapper @kimwnasptd What's the path forward for CI/CD for notebook images?

[2020-10-13 13:38] jlewi commented on #5224
Any update on the release?

/cc @kubeflow/wg-automl-leads @kubeflow/wg-serving-leads @kubeflow/wg-training-leads

[2020-10-13 14:25] tiliter-algorithms commented on #5192
I am following the https://www.kubeflow.org/docs/aws/authentication/.
Istio-ingress doesn't return the address for alb.
<img width="439" alt="Screenshot 2020-10-13 at 16 13 19" src="https://user-images.githubusercontent.com/61815060/95872443-159be000-0d6f-11eb-8991-a658d7815e2c.png">

<img width="1381" alt="Screenshot 2020-10-13 at 16 14 48" src="https://user-images.githubusercontent.com/61815060/

[2020-10-13 14:39] tretos53 commented on #5192
@tiliter-algorithms

- Are ALL pods Running? `kubectl get pods -A | grep -v Run`
- Is pod in `kubeflow` namespace alb-ingress-controller-xxxxxxx Running?
- Are there any errors in logs of this pod? `kubectl logs -n kubeflow alb-ingress-controller-xxxxxxx`
- Are there any errors in description of this pod? `kubectl describe pod -n kubeflow alb-ingress-controller-xxxxxxx`

This pod is part of Replic

[2020-10-13 15:10] tiliter-algorithms commented on #5192
@tretos53
Thank you for quick reply!
-
<img width="936" alt="Screenshot 2020-10-13 at 16 58 34" src="https://user-images.githubusercontent.com/61815060/95878346-67dfff80-0d75-11eb-89db-0043ddc7b51e.png">

-
<img width="796" alt="Screenshot 2020-10-13 at 16 59 57" src="https://user-images.githubusercontent.com/61815060/95878477-8b0aaf00-0d75-11eb-8239-57304d7e9b24.png">

-
<img width="1380" alt="Sc

[2020-10-13 15:10] jbottum commented on #5341
@ShilpaGopal Have you considered joining the on-prem SIG meetings on Thursday ?

[2020-10-13 15:29] jbottum commented on #5340
@kimwnasptd do you see an issue here?

[2020-10-13 16:10] tretos53 commented on #5192
- How is the Certificate ARN specified in yaml?
- Does it have any quotes?
- Does the certificate exists?
- What about permission to get this certificate?

Someone had similar issue here: https://github.com/kubernetes-sigs/aws-alb-ingress-controller/issues/1127

Also https://github.com/kubernetes-sigs/aws-alb-ingress-controller might be better place to ask.

I think it should be:
`certArn: arn:aws

[2020-10-13 20:07] achandras commented on #5326
@Jeffwan the CRD has not been removed, I can still see it installed in the cluster.

The istiod pod `istio-system/istiod-6c4f9bf97f-4rzmk` was created by us, however, I'm not sure where the `163a31fcbbf32372` at the end is coming from

[2020-10-13 23:23] agnz commented on #5340
I tracked the behaviour down to one particular PV - it was only happening if that PV was mounted as the workspace. After deleting all files on PV, the behaviour stopped. It must be related to something that I was doing rather than Kubeflow.

[2020-10-13 23:23] #5340 closed

[2020-10-13 23:29] agnz opened #5342 "Jupyter notebook server does not start if "Don't use Persistent Storage for User's home" is ticked"
/kind bug

**What steps did you take and what happened:**
Notebook server fails to start.

**What did you expect to happen:**
Notebook server running.

**Anything else you would like to add:**
Pod logs:
[code]

**Environment:**

- Kubeflow version: v1beta1
- kfctl version: (use `kfctl version`):
- Kubernetes platform: (e.g. `minikube`)
- Kubernetes version: (use `kubectl version`): 1.17
- OS (e.g.

[2020-10-14 00:39] daikeshi commented on #4718
I got a similar error after I deployed the centraldashboard manifests from [v1.1.0](https://github.com/kubeflow/manifests/tree/v1.1.0/common/centraldashboard) tag. Any idea what might get wrong?

[code]

[2020-10-14 02:54] argunasekhar commented on #5336
Hi ,

please update on this issue

[2020-10-14 06:39] ajinkya933 opened #5343 "How to pass command line arguments in Kubeflow Pipelines API"
/kind question

**Question:**
I have ran Kubeflow Pipelines API and executed a MNIST pipeline, Reference: (https://www.kubeflow.org/docs/pipelines/tutorials/api-pipelines/)

First step in API requires me to convert ```.py``` file to a ```.tar.gz``` file using ```dsl-compile --py ${PIPELINE_FILE} --output ${PIPELINE_NAME}.tar.gz```. I have converted this code using dsl-compile step : (https://githu

[2020-10-14 07:23] tiliter-algorithms commented on #5192
@tretos53
It turns out that there was an issue in this tutorial https://www.kubeflow.org/docs/aws/aws-e2e/ at the line "The ARN of the certificate from the Certificate Manager of N.Virginia ()" instead certificate should be from the same region your cluster is in.
I followed the rest of the deployment and now got an alb-ingress address. I am. able to visit the custom domain Cognito login page but

[2020-10-14 08:22] micemuni opened #5344 "How to configure my own environment IDP dex LDAP auth in Kubeflow 1.1.0"
Hi Team,
I have my own environment IDP dex authentication which based on organization LDAP user. I am using Kubeflow 1.1.0 version https://raw.githubusercontent.com/kubeflow/manifests/v1.1-branch/kfdef/kfctl_aws.v1.1.0.yaml and it's working fine in my environment.  I have to remove the kubeflow own dex auth setup and have to setup my own IDP dex LDAP auth.  I can create IDP client id.

Here how ca

[2020-10-14 08:34] zzha2941 commented on #5329
I meet the same error.

[2020-10-14 14:06] lomori opened #5345 "istio-dex and authentication/authorization tokens"
/kind question

**Question:**
In order to programmatically make API calls, e.g., Seldon predictions, some sort of authentication/authorization token is required. What is the best way to acquire such token through code? I found this https://github.com/kubeflow/kfserving/tree/master/docs/samples/istio-dex, which describes a series of curl commands that can easily be implemented as code but really, t

[2020-10-14 15:54] johnzhou2011 commented on #5196
`-------------------------------------------------------------------------------
AWS ALB Ingress controller
  Release:    v1.1.5
  Build:      git-2560c813
  Repository: https://github.com/kubernetes-sigs/aws-alb-ingress-controller.git
-------------------------------------------------------------------------------

W1014 15:18:59.394719       1 config.go:97] Environment variable configuration is d

[2020-10-14 17:20] maganaluis opened #5346 "Kubeflow + Dex authentication service account creation via Profile controller"
/kind feature

**Why you need this feature:**

Currently authentication seems to be an issue with Kubeflow especially using Dex + OIDC, we've been using a method with this setup internally and wanted to share the details here.

With Dex we are leveraging the [grpc-client](https://github.com/dexidp/dex/tree/master/examples/grpc-client) to create static accounts for each Profile, as part of an orche

[2020-10-14 17:49] sudivate commented on #5321
@aronchick  This is good to close.
We have a new [manifest ](https://github.com/kubeflow/manifests/blob/v1.1-branch/kfdef/kfctl_azure_aad.v1.1.0.yaml)and [instructions ](https://github.com/kubeflow/website/pull/2282)to configure OIDC auth service for Azure AD

[2020-10-14 20:39] jbottum commented on #5346
@yanniszark Hey Yannis, any comments here?

[2020-10-15 01:29] jbottum commented on #5329
@alforik is this an on-prem install or for AWS or GCP ?

[2020-10-15 03:33] jbottum commented on #5344
Hi @micemuni, I assume you have read this article, https://journal.arrikto.com/kubeflow-authentication-with-istio-dex-5eafdfac4782.   Is your installation on-prem or in a public cloud (AWS, GCP ) ?

[2020-10-15 07:56] tretos53 commented on #5192
I don't use cognito so no idea but TransientFailure sounds a lot like SSL problem.
Where is that error coming from? Which pod?
I had the similar error after updating certificates and I had to restart pods.

I just saw you solved it :)

[2020-10-15 18:35] slenky commented on #5328
Well, also kinda related to this one. As I see #5280 enables Tolerations configuration in JWA. Does it use a PodDefault?

[2020-10-15 19:25] Jeffwan commented on #5335
I think we need to support different GPU types now since MIG will expose more resource types other than `Nvidia.com/gpu`. I can help check this story

[2020-10-15 21:57] jlewi commented on #5224
@kimwnasptd @thesuperzapper  any update for notebooks?

@Jeffwan @animeshsingh @yanniszark @swiftdiaries @vpavlin @yanniszark  update for deployments/kfctl/manifests?

[2020-10-15 22:07] Jeffwan commented on #5224
@jlewi I will give some updates on training side later next week.

[2020-10-15 22:17] Jeffwan commented on #4838
@jrykr I feel like it's much easier to change image. This should be default view. I think I will add it in next release.

[2020-10-16 02:24] supertetelman commented on #5335
In addition to supporting new resource types, I think enabling profiles and NodeSelectors will also help out with this issue (as is being done in some of the new jupyter webap work).

Both the NVIDIA V100 and the NVIDIA A100 are showing up as `nvidia.com/gpu` and the only way to differentiate between the two in a heterogeneous cluster is with a NodeSelector.

[2020-10-16 12:01] LuChengTHU opened #5347 "What is the program listening at localhost:8083?"
/kind question

**Question:**
In components/centraldashboard/webpack.config.js, the devServer proxies '/jupyter' to 'http://localhost:8083/api/v1/namespaces/kubeflow/services/jupyter-web-app-service:80/proxy'. However, I can't find the program which listens 8083. So what is it and where is the code?

[2020-10-16 13:39] ConverJens commented on #5345
I need this as well.

[2020-10-16 15:28] jlewi commented on #5224
Prospective deployment leads(@Jeffwan @animeshsingh @yanniszark @swiftdiaries @vpavlin @yanniszark ) releases are arguably defined by the branch cut of kubeflow/manifests.

Per kubeflow/community#402 this repo will be owned by you. Do we have a date for a branch cut? The initial suggested date was mid october. We are arguably past October.

Does someone want to volunteer to take the lead on cuttin

[2020-10-16 16:56] noushi opened #5348 "minikf kubelet service doesn't restart on VM reboot"
/kind bug

**What steps did you take and what happened:**
`minikf` gets kubelet service running upon initial vagrant creation, but a `vagrant reload` has the kubelet service not started on boot.

**What did you expect to happen:**
it should have started.

**Anything else you would like to add:**
fix is simply to enable the kubelet systemd unit like this:
[code]

The permanent solution is to insert

[2020-10-16 19:19] Jeffwan opened #5349 "Support Kubeflow on Kubernetes 1.18+"
/kind feature

**Why you need this feature:**
[Is your feature request related to a problem? Please describe in details]
Kubeflow has not been tested in 1.18. Let's try to resolve all the issues on 1.18 and make it v1.1 compatible.

**Describe the solution you'd like:**
[A clear and concise description of what you want to happen.]

Find API breaking changes and upgrade components

**Anything else

[2020-10-16 19:41] hubchub commented on #5096
Did anyone ever find the fix? I am getting this issue.

[2020-10-17 01:11] supertetelman commented on #5335
It's actually a bit more complicated than that too, even if the cluster only has A100 (opposed to nodes with A100 and others with V100). There are actually two modes, what you described is the "mixed" MIG strategy. But there is also a configuration referred to as the "single" strategy where MIG and A100 both show up as `nvidia.com/gpu` and the user is expected to do use a NodeSelector keying off t

[2020-10-17 02:28] andreyvelich commented on #5224
From AutoML WG this is the track issue: https://github.com/kubeflow/katib/issues/1360.

[2020-10-17 09:47] RFMVasconcelos commented on #5096
Hey @hubchub,

Could you try to follow the docs here: https://github.com/juju-solutions/bundle-kubeflow ?

[2020-10-17 09:49] RFMVasconcelos commented on #5096
There has been some discussion around this topic in the #microk8s slack channel

[2020-10-17 15:57] #5077 closed

[2020-10-17 15:57] #5116 closed

[2020-10-17 15:57] #5115 closed

[2020-10-17 15:57] #5085 closed

[2020-10-17 15:57] #5094 closed

[2020-10-17 15:57] #4863 closed

[2020-10-17 15:57] #4590 closed

[2020-10-17 15:57] #5119 closed

[2020-10-17 23:32] Jeffwan commented on #5335
I agree with you on this part as I said. It is possible to advertise same resource name from different chips.

I also agree with node selectors. My point is notebook support PodDefaults which allow you to apply on your notebook. Node selector/ affinity or toleration all can be configure inside the PodDefaults. this will be considered as a scalable way to manage these configurations. see https://gi

[2020-10-18 20:46] Jeffwan commented on #5172
Current jupyter notebook provides workspace volume and data volume. Can you use datavolume instead?

[2020-10-18 20:49] Jeffwan commented on #5192
If you still have problems, @PatrickXYS will take over the issue

/cc @PatrickXYS

[2020-10-18 20:49] Jeffwan commented on #5192
/assign @PatrickXYS

[2020-10-18 23:42] thesuperzapper commented on #5224
Depending on the cutoff date for Kubeflow 1.2, we would really like to get the new crud-web-app implemented to replace the old jupyter-web-app, the first PR is https://github.com/kubeflow/kubeflow/pull/5332, but there is more to come before it will be ready for prime time.

If the cutoff is really soon, we might use some variation of PR https://github.com/kubeflow/kubeflow/pull/5280 to ensure we g

[2020-10-19 10:07] micemuni commented on #5344
Yes, I deployed kubeflow in AWS cloud & my IDP dex authentication cluster is also in AWS cloud, Just i need to use My IDP dex auth parameter for user authentication.
You shared that where is the external IDP config there..?

[2020-10-19 10:18] micemuni commented on #5344
@jbottum  Also can you please let me know that  at 1st login it's automatically asking to create profile/namespace for each/every new users. is there any possible to my organization LDAP user..?  and kubeflow should create profile/namespace accordingly.

[2020-10-19 10:26] micemuni commented on #5047
Actually i am trying to automate the kubeflow deployment in my existing Kubernetes platform and got the above error during automation. Now used manual steps to setup kubeflow

[2020-10-19 10:26] #5047 closed

[2020-10-19 10:30] dimara commented on #5348
@noushi We don't start the kubelet separately, by design. We expect our provisioning process to start everything, because it takes care of lots of things and ensures everything is in place before starting the kubelet. It also provides feedback to the user as it does so.

On Vagrant, to avoid having all pods started right after reboot and practically have an unresponsive landing page due to a huge

[2020-10-19 10:31] micemuni commented on #5284
Updated the correct IDP details and fixed.

[2020-10-19 10:31] #5284 closed

[2020-10-19 11:03] SpontaneousDuck commented on #5172
It would except for the workspace volume will still overwrite the user's home folder

[2020-10-19 11:08] kim-sardine commented on #4762
check out https://github.com/jetstack/cert-manager/issues/2640#issuecomment-601872165

I just added `.svc,.svc.cluster.local` to `no_proxy` and setup k8s again. and it works.

[2020-10-19 11:37] DavidSpek commented on #5172
@SpontaneousDuck Do I understand correctly, that you want to place files in a directory (any directory for that matter, but in your case the user's home directory) and also want to be able to a mount a PVC to that same directory? If that is the case, you will indeed overwrite the files when mounting the PVC, but this is unavoidable to my knowledge. If you need to place files in the container image

[2020-10-19 12:17] argunasekhar commented on #5336
Hi ,

Please update

[2020-10-19 13:13] jlewi commented on #5224
@thesuperzapper The cutoff date was [mid-october](https://github.com/kubeflow/kubeflow/issues/5224#issuecomment-684870503) so it is arguably past. I would encourage all application owners to ensure their manifests are as up to date as possible to avoid missing the release.

[2020-10-19 13:23] thesuperzapper commented on #5224
@jlewi, while I agree that we missed the boat (assuming a mid October cutoff) this raises some questions about Kubeflow 1.2

What major changes are being implemented?

I agree with @Jeffwan, that we might consider changing how we manage releases to a voting system, to make sure there is sufficient differentiation between releases.

This is especially important because our release process is a bit

[2020-10-19 14:07] SpontaneousDuck commented on #5172
The only thing I saw that needed to be done was to allow the workspace directory to be able to be configured, either through the user interface or the deployment config. I did create my own Jupyter notebook container then mondified the Kubeflow deployment config to set this contianer as default as well as configure the default setting for it. It would be great if I could set the default workspace

[2020-10-19 16:48] #5029 closed

[2020-10-19 23:32] thesuperzapper commented on #4950
This is implemented in https://github.com/kubeflow/kubeflow/pull/5280

[2020-10-20 01:46] zzha2941 opened #5350 "Installation error on minikube."
/kind bug

**What steps did you take and what happened:**

[https://www.kubeflow.org/docs/started/workstation/minikube-linux/](url)
I followed the above docs to install kubeflow on minikube and I met following error:

Encountered error applying application cert-manager:  (kubeflow.error): Code 500 with message: Apply.Run : error when creating "/tmp/kout250943945": Internal error occurred: failed c

[2020-10-20 08:47] dale88 commented on #5329
I meet the same error.

[2020-10-20 11:02] ConverJens commented on #5345
@lomori Shamelessly copied from the [Elyra-AI project](https://github.com/elyra-ai/elyra/blob/master/elyra/pipeline/processor_kfp.py), this works great for me (kfp>=1.0.0):

`endpoint = api_endpoint.replace('/pipeline', '')
session_cookie = get_user_auth_session_cookie(endpoint, api_username, api_password)
client = kfp.Client(host=api_endpoint, cookies=session_cookie)

def get_user_auth_session_co

[2020-10-20 13:23] lomori commented on #5345
Thanks @ConverJens . How many Dex connectors your have? The behaviour may change if you have just one or more than one.

In any case, that is still the UI process but using code, i.e., you are emulating an user entering username and password behind the scenes. This process is meant for an interactive user session. It works, but I guess what I'm really looking for is something like OIDC/OAuth2, pre

[2020-10-21 01:07] Jeffwan commented on #5329
kubeflow 1.0.2 is not certified on 1.19 yet. I think there's compatibility matrix. If someone can figure out the blocking issues, feel free to file a PR. There might be breaking API changes

[2020-10-21 02:52] chongchuanbing opened #5352 "experiment can not be deleted"
/kind bug

**What steps did you take and what happened:**
1. kubectl get experiment --all-namespaces
[code]
2. kubectl delete Experiment bay -n kubeflow
    the command can not finish. Running always.

**What did you expect to happen:**

i want delete the experiment.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Ku

[2020-10-21 07:10] ConverJens commented on #5345
@lomori We currently only use the static pwd file but will soon connect to our LDAP. Our main use case was to automate uploading pipelines from our build flow as well as querying KFP API from local IDEs.

[2020-10-21 12:09] DavidSpek commented on #5329
This seems to be a duplicate of https://github.com/kubeflow/website/issues/2206. See this comment for some more information and a workaround: https://github.com/kubeflow/website/issues/2206#issuecomment-698234904.

[2020-10-21 12:14] DavidSpek commented on #5349
@Jeffwan
For kubernetes 1.18.6 and 1.19, please see my [comment](https://github.com/kubeflow/website/issues/2206#issuecomment-698234904) that describes the fix to an issue related to deploying seldon.

I submitted a [PR](https://github.com/kubeflow/manifests/pull/1558) to fix this issue on September 16th, but have not had any response as of yet. There seem to be quite a few people that are now gra

[2020-10-21 13:20] lomori commented on #5345
@ConverJens Cool! I didn't look deep into it, but as far as I recall, the problem for me was that when you change from a single authenticator to multiple, Dex UI displayed an intermediate screen allowing the user to select the authentication mode first, e.g. LDAP versus email, before sending the user to the screen for entering username and password. My original code freaked out about it, but it wa

[2020-10-21 15:04] sylus commented on #5022
@animeshsingh i am a bit confused it was said in slack that Kubeflow 1.1 is released and you can see it in releases for manifests but the project board doesn't reflect any of this.

Is Kubeflow 1.1 officially released or not?

[2020-10-21 18:31] Jeffwan commented on #5349
@DavidSpek Thanks. I can track this and get connect to the right person to review it

[2020-10-21 18:37] DavidSpek commented on #5349
@Jeffwan As I mentioned in the PR discussion, I'm not sure if the change in the manifests is still needed if Seldon is updated. Also, I'm not sure if this applies to 1.18.6 seeing as I didn't encounter the issue with earlier versions of 1.18.x but it showed up at the same time with the above issue after moving to 1.19, this issue for which a fix has since been released might also be useful to take

[2020-10-21 20:41] aychang95 commented on #5294
@jbottum

I've found a solution by addressing some configurations within the ldap service/statefulset manifest.

Since I am using self-signed certs to allow TLS encryption, I just needed to change the ldap service port to 636. It would also be best practice security-wise to change the port from 389 to 636 in the dex configmap.

Also the current ldap server manifest is currently broken and I had to

[2020-10-21 23:14] jbottum commented on #5350
@zzha2941 thanks for reporting.   it will get routed.   If you need to try something quickly that works, you might try MiniKF. https://www.arrikto.com/f/get-minikf/

[2020-10-22 03:05] jlewi commented on #5022
1.1 has been released

[2020-10-22 03:05] #5022 closed

[2020-10-22 04:26] #5135 closed

[2020-10-22 04:26] #4793 closed

[2020-10-22 06:33] dale88 commented on #5329
My Environment:
Kubeflow version: (version number can be found at the bottom left corner of the Kubeflow dashboard): 1.1.0
kfctl version: (use kfctl version): 1.1.0
Kubernetes version: (use kubectl version): 1.15
OS (e.g. from /etc/os-release): centos 7.6

The error seems like cert-manager error, but the pods looks fine.

[code]
APIservice : "v1beta1.webhook.cert-manager.io" is False
Status:
  Con

[2020-10-22 08:54] zzha2941 commented on #5350
@jbottum Thank you! I will try it.

[2020-10-22 11:34] jizg commented on #5350
kubernetes v1.19 is still not fully tested with Kubeflow 1.1, so you'd better to use kubernetes below v1.18 now. Have a look at https://www.kubeflow.org/docs/started/k8s/overview/#minimum-system-requirements

[2020-10-22 12:52] EKami commented on #3815
Same issue here =/

[2020-10-22 13:00] andreyvelich commented on #5352
Hi @chongchuanbing!
Can you check logs from the Katib controller ?
Are you using Profile namespace to submit Experiments ?

Can you check if Trials were deleted:
`kubectl get Trials -n kubeflow`

[2020-10-22 15:05] Gross613 opened #5356 "Error Kale Compile and Run on GC"
/kind bug
Gateway Client Error

**What steps did you take and what happened:**
I clicked the blue compile button on the bottom of the kale Deployment Panel and the above screen shot error occurred.
<img width="1177" alt="Screen Shot 2020-10-22 at 11 00 05 AM" src="https://user-images.githubusercontent.com/10426210/96890971-32fb3900-1456-11eb-96bc-8a21d38b7ae8.png">

Funcation Call: rok.snapshot_bn

[2020-10-22 23:32] subodh101 opened #5357 "Profile controller new admin sync"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

On patching new admin(email) with a current existing profile it doesn't get updated in the rolebinding `namespaceAdmin`.
If we delete the profile then it will delete the namespace, which results in the deletion of all the kubernetes kind's in the namespace.

**What did you expect to hap

[2020-10-22 23:51] subodh101 commented on #5357
/area profile

[2020-10-23 06:58] Jeffwan commented on #5357
That's probably a bug that didn't handle update event well in the controller.

/bug

[2020-10-23 07:42] LeeJian opened #5358 "User None is not authorized to list kubeflow.org.v1beta1.notebooks for namespace: mlops"
/kind bug

**What steps did you take and what happened:**

![image](https://user-images.githubusercontent.com/1435897/96968187-302a4200-1543-11eb-87e1-4470909ba636.png)
![image](https://user-images.githubusercontent.com/1435897/96968256-518b2e00-1543-11eb-8ffb-84b7be983602.png)

**What did you expect to happen:**
Run a pipeline or create a notebook server.

**Anything else you would like to add:**

[2020-10-23 08:21] LuChengTHU commented on #5216
How's it going?

[2020-10-23 13:25] elikatsis commented on #5356
Hi @Gross613,
thank you for trying out MiniKF and Kale!

Could you give some more information on the MiniKF version and the Kale image you are using?

From the looks, I'd say you are using an old notebook image (could it be the one with the `kubecon-workshop` tag?) with a new MiniKF.
Can you try with the latest MiniKF and the `jupyter-kale` image found in the list of images of Notebooks UI?

Also,

[2020-10-23 13:25] elikatsis commented on #5356
/assign @elikatsis

[2020-10-23 13:43] hhji commented on #4635
i also have the problem in kubeflow 1.0.2 + K8S 1.16.0, the issue have solution ?

[2020-10-23 14:27] jszanto opened #5359 "kfctl fails to build configuration for Kubernetes deployment"
When running `kfctl build -V -f https://raw.githubusercontent.com/kubeflow/manifests/v1.1-branch/kfdef/kfctl_k8s_istio.v1.1.0.yaml` as instructed in the guide [here](https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/#alternatively-set-up-your-configuration-for-later-deployment), I get the following errors.

[code]
It seems like something is going wrong in resolving the kustomize paths. Any

[2020-10-23 14:44] jszanto commented on #5359
Moved this issue to the kfctl repository https://github.com/kubeflow/kfctl/issues/418

[2020-10-23 14:44] #5359 closed

[2020-10-23 21:56] Jeffwan commented on #4635
`-workload-identity` is used to authenticate pods for GCP services.  If you don't use it, please remove the fields. It might be manifest argument errors in earlier versions. Please try 1.1 and if there's still problems, let us know

[2020-10-24 07:07] tvkpz commented on #4666
Hi @kunmingg @Felihong

I am new to Kubeflow. I am trying to start a docker daemon inside one of the notebook servers to be able to create other docker images. Although the daemon says it started when I do docker start, I cannot run any docker command as it throws a msg daemon is not started.

I found out I need to run docker with --privileged flag for the notebook server to be able to run docker

[2020-10-24 14:41] wallwind opened #5360 "Unable to access UI for kubeflow"
all is running

root@VM-2-5-ubuntu:~/kustomize# kubectl get po -n kubeflowNAME                                                           READY   STATUS    RESTARTS   AGE
admission-webhook-bootstrap-stateful-set-0                     1/1     Running   0          13m
admission-webhook-deployment-768574d56b-dm7lh                  1/1     Running   0          13m
application-controller-stateful-set-0

[2020-10-25 06:14] AdeshKhandait commented on #5360
Hi,Adesh I am Beginner I don't know where to start can any body help me out????

[2020-10-25 19:28] Felihong commented on #4666
Hi @tvkpz ,

you could temporally disable the notebook controller by
[code]
And injecting the following snippet into the yaml file to let container run in privileged mode:
[code]

Hope this would be helpful to you.

[2020-10-25 20:43] EKami commented on #4806
Same issue here, none of the solutions above worked =/

[2020-10-25 22:51] jbottum commented on #5360
@wallwind Hi, can you please confirm which platform that you are using i.e. On-Prem or is this in a public cloud like AWS ?

[2020-10-25 22:57] jbottum commented on #5356
Hi @Gross613, Did you get this issue resolved by selecting the new notebook image ?

[2020-10-25 23:00] jbottum commented on #5352
Hi @chongchuanbing, did you get this resolved?  Do you expect to upgrade to a newer version of Kubeflow at some point ?

[2020-10-25 23:11] jbottum commented on #5358
Hi @LeeJian, please confirm this is for an on-prem install i.e. not on AWS or GCP, thanks