[2018-07-13 17:39] jlewi commented on #1156
That's what we are doing now and it works. But it means we have to update
multiple places every time we publish an update.

I hope we can do something like create a static HTML page for each link and
just redirect.

Side benefit is that it might help us coect download metrics.

On Fri, Jul 13, 2018, 4:04 AM Ankush Agarwal <notifications@github.com>
wrote:

[2018-07-13 19:08] lluunn opened #1205 "Getting started error"
Doing `curl https://raw.githubusercontent.com/kubeflow/kubeflow/v${KUBEFLOW_VERSION}/scripts/gke/deploy.sh | bash`

[code]

It should be `/tmp/kubeflow-0.2.1/` instead of  `/tmp/kubeflow-v0.2.1`

[2018-07-13 19:14] lluunn commented on #1205
nvm, it's https://github.com/kubeflow/kubeflow/issues/1193

[2018-07-13 19:14] #1205 closed

[2018-07-13 19:56] lluunn opened #1206 "Getting started error: No such file or directory: 'cluster-kubeflow.yaml'"
[code]

https://github.com/kubeflow/kubeflow/blob/master/scripts/gke/deploy.sh#L122

[2018-07-13 20:50] TheJaySmith commented on #971
Created a PR to add the first iteration of "kubeflux" package #1203

[2018-07-13 21:55] #1171 closed

[2018-07-15 00:55] jlewi commented on #258
I published @pdmack 's latest image to

gcr.io/kubeflow-images-public/kaggle-notebook:v20180713

I did a smoke test loading this notebook
https://www.kaggle.com/pavanraj159/fifa-world-cup-1930-to-2014-data-analysis

The imports worked but I didn't have the data so wasn't able to run the notebook I think this is ready for people try.

**Note** For this to work people need to change the default for

[2018-07-15 01:20] pdmack commented on #258
Hmmm, not sure I'm following but maybe I'll inquire on the Tuesday call

[2018-07-15 22:09] jlewi commented on #258
I thought you'd considered that and said it was infeasible because it would lead to extra layers in Docker that double the image size?

[2018-07-15 22:48] pdmack commented on #258
No, it's changing ownership that creates the monster layer. But saving a few files from `/home/jovyan` is not that impactful.
Perhaps we should take a closer look at what's there from the Kaggle base.

[2018-07-16 02:58] kunpengprod opened #1213 "Restrict privilege of Kubeflow services accounts such as tf-job-operator to namespace level"
We are trying to setup generic Kubernetes clusters on bare-metal machines. Our cluster serves multiple other teams that are separated by K8s namespaces. One of the teams wants to use Kubeflow for TF model training, but as we were installing Kubeflow on the cluster, we discovered that some service accounts such as _tf-job-operator_ is requesting cluster-level access to most of the resources. For th

[2018-07-16 05:13] pvsousalima opened #1214 "Exposing service using Nginx Ingress Controller and load balancing (question)"
Hey guys! First of all, thanks for this amazing project!

Well, I was just able to expose this service using the Nginx Ingress Controller and a previous LoadBalancer I had, this LoadBalancer also balances some other services in my cluster, and I have made a specific ingress configuration to deploy kubeflow to the world.

Can it be a contribution for the project? I struggled to find such informatio

[2018-07-16 11:59] GarnettWang opened #1215 "tf-operator syncPdb failed when enable-gang-scheduler"
see the issue [tf-operator synPdb failed when enable-gang-scheduler](https://github.com/kubeflow/tf-operator/issues/729)

there are two things to do here to guarantee gang schedule.

~~**tf-operator**: if get pdb info error, syncPdb should return error. because it can't guarantee the corresponding pdb is exist, this may lead to enable-gang-scheduler failed.~~

**kubeflow**: when install kubeflow c

[2018-07-16 12:21] xqqcoder opened #1217 "Error from server (NotFound): tfjobs.kubeflow.org "mycnnjob" not found"
when I follow the user guide ,do the order "kubectl get -o yaml tfjobs ${CNN_JOB_NAME}", it happened

[2018-07-16 13:19] jlewi commented on #1217
Did you create the job named ${CNN_JOB_NAME}? Check that you are looking in the right namespace.

You can run the following command to get jobs in all namespaces.

[code]

[2018-07-16 13:23] jlewi commented on #1206
/assign @lluunn

@lluunn Were you able to figure out what the cause of this error was?

/cc @ankushagarwal

[2018-07-16 13:28] jlewi opened #1218 "[Test Failure] TFJob test failure; no module named py"
TFJob test is failing with

[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/1200/kubeflow-presubmit/2586/

Seems completely unrelated to that PR.

Need to check whether its also failing @ HEAD.

[2018-07-16 13:39] veliborfrobas commented on #201
In other words:
Everything I created manually how to remove and apply your script?

Best Regards,
Velibor

On 07/16/2018 03:26 PM, Velibor Glisin wrote:

--
*Velibor Glisin*
System Administrator
Electronic
Phone: 	+49 8124 91890 26
Mobile: 	+381 63 591 688
e-mail: 	velibor.glisin@frobas.com
FROBAS d.o.o.
www.frobas.com
FROBAS d.o.o.
Futoski put 10, 21000 Novi Sad, Serbia, Phone: +381 21 494 434

[2018-07-16 16:26] lluunn opened #1219 "Autoscaling for TF Serving"
- How do we leverage K8s autoscaling?
- Can we autoscale with custom metrics?
- We should have benchmark, https://github.com/kubeflow/kubebench/issues/30.

[2018-07-16 17:07] lluunn commented on #1218
http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-presubmit-kubeflow-e2e-gke-1165-660432b-2592-4d60?tab=workflow&nodeId=kubeflow-presubmit-kubeflow-e2e-gke-1165-660432b-2592-4d60-2156856773
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/1165/kubeflow-presubmit/2592/

[2018-07-16 17:29] lluunn opened #1220 "TF serving supports request id"
The http proxy should support request id field.
This is useful when logging request/response, see https://github.com/kubeflow/kubeflow/issues/1000.

The field should be popped before sending to modelServer and thus have no effect.

[2018-07-16 17:49] lluunn commented on #1206
I tried again and succeeded. Maybe I made some mistake previous time.

[2018-07-16 17:49] #1206 closed

[2018-07-16 18:35] yeya24 opened #1221 "Cant start jupyter-notebook pod in kubeflow version 0.2.1"
Hi guys.
 I installed version0.2.1 both on my local ubuntu machine and on the ubuntu in the aws. And I met the  same problems  that i cant startserver in the jupyter-hub page.

Here is some output
[code]
Then I looked the jupyter-admin pod . The ubuntu machine satisfie the request of   1 CPU 1G memory and 1 gpu.   But can't start the pod

[code]
Here are more output
[code]
I'm sure the above it's

[2018-07-16 18:49] jlewi commented on #1218
For #1200 it looks like the test passed on retry which is very weird.

[2018-07-16 19:02] jlewi commented on #1221
You're jupyter images are too old.
The image

[code]

Is not compatible with the latest changes to JupyterHub.

Try

[code]

[2018-07-16 19:36] jlewi opened #1222 "[GCP] deploy.sh - don't show error if deployment doesn't exist"
deploy.sh checks if the existing deployment exists. This ends up outputting an error when creating a new deployment.

[code]

This will undoubtedly confuse users who don't realize that the ERROR is expected in the case the deployment doesn't exist. We should modify the script so that we don't print out the ERROR.

[2018-07-16 20:33] activatedgeek opened #1223 "Rename TF-Hub to JupyterHub"
This pod's name was a misnomer and should be corrected to avoid confusion with a product by the same name.

[2018-07-16 20:39] karthikvadla commented on #838
@everpeace Quick question: I did apply changes manually after updating ksonnet to `0.11`. Right now i have data on my actual kubernetes nodes at `/var/datasets/unet`.

Can you please let me know the correct usage.?

I did as below.
BASE_DIR='/var/datasets/unet'
```ks generate openmpi ${COMPONENT} --image ${IMAGE} --secret ${SECRET} --volumes ${BASE_DIR} --volumeMounts ${BASE_DIR}```

[2018-07-16 20:40] jlewi commented on #1201
0.2.2-rc.0 has been promoted to 0.2.2.

[2018-07-16 20:48] lluunn commented on #1218
Looking into this.

[2018-07-16 20:49] karthikvadla commented on #838
oh do i need to create `volume` myself and use that above?

[2018-07-16 21:56] jlewi commented on #1218
/asssign @lluunn Thanks

[2018-07-16 22:50] jlewi commented on #1202
I put together a quick PR. Trying to get the docs updated before the hackathon tomorrow and in preparation for announcing 0.2.

/assign @jlewi

[2018-07-16 22:55] pvsousalima commented on #1223
Would a pod renaming fix it?

[2018-07-16 22:55] #1201 closed

[2018-07-16 23:11] lluunn commented on #1218
Found pod: kubeflow-test-infra kubeflow-presubmit-kubeflow-e2e-gke-1224-e8f6cef-2600-21af-237888385

Logs:
/usr/bin/python: No module named py

describe pod

Environment:
[code]

cannot exec into it: error: cannot exec into a container in a completed pod; current phase is Failed

[2018-07-16 23:20] lluunn commented on #1218
[code]
However, no `__init__.py`
[code]

[2018-07-16 23:23] lluunn commented on #1218
https://github.com/kubeflow/tf-operator/blob/master/py/__init__.py

It's not deleted

[2018-07-16 23:42] lluunn commented on #1218
It's weird:
[code]

`__init__.py` is somehow deleted

[2018-07-17 00:48] everpeace commented on #838
@karthikvadla

Types of `volumes` and `volumeMounts`is `array` (of `object`).   These parameter will be just injected to your maniefsts.  So you would specify these parameter like this:

[code]

[2018-07-17 02:31] xqqcoder commented on #1217
thank you, I add --namespace it works

[2018-07-17 02:31] #1217 closed

[2018-07-17 03:05] yeya24 commented on #1221
I all update my tensorflow image to v0.2.1 but there is still an error
[code]

and more output
[code]

How to fix it.  I change the enviroment to my local machine but the environ is the same to that one in aws. Both kubernetes 1.10.2.

[2018-07-17 04:07] jlewi commented on #1221
That line comes from here
https://github.com/kubeflow/kubeflow/blob/master/components/tensorflow-notebook-image/pvc-check.sh#L30

By default we mount a PV for your default storage class at /home/jovyan and that seems like its causing permissions problems in your case.

I would try the following

[code]

If `ks apply` gives an error about resource being modified (see #980) then just rerun ks apply

[2018-07-17 04:08] jlewi opened #1227 "Remove ksonnet parameter cloud"
We no longer use the cloud ksonnet parameter so we should just get rid of it.

[2018-07-17 04:30] jlewi commented on #1117
https://caffe2.ai/blog/2018/05/02/Caffe2_PyTorch_1_0.html

Seems like within the PyTorch community the idea is to export to Caffe2 using ONNX and this should get easier as PyTorch and Caffe2 merge.

[2018-07-17 12:32] jlewi commented on #1213
We'll also need to restrict the operators to only claim resources in specific namespaces. Not sure whether that's possible today.

/cc @johnugeorge @gaocegege @ankushagarwal

[2018-07-17 17:00] lluunn commented on #1218
So `__init__.py` should be there right after step checkout, but gone at step tfjob-test.
I will do a binary search to find which step deleted it.

[2018-07-17 17:29] jlewi commented on #1227
It looks like we use it in the following places

jupyterhub - cloud is used to set the images. alibaba uses its own registry instead of gcr
ambassador - cloud is used to determine the isDashboardTls parameter

We should probably replace the use of cloud with more direct parameters; e.g. registry in the case of JupyterHub and isDashboardTls for ambassador

[2018-07-17 17:31] #1107 closed

[2018-07-17 17:33] lluunn commented on #1218
http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-presubmit-kubeflow-e2e-gke-1224-a45247a-2608-9146?tab=workflow

![screenshot from 2018-07-17 10-32-29](https://user-images.githubusercontent.com/32310205/42835002-dd157d42-89ac-11e8-9e45-70063fb912f2.png)

  `__init__.py` is gone
[code]

[2018-07-17 17:46] lluunn commented on #1218
[code]

It's there for this one http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-presubmit-kubeflow-e2e-gke-1224-1296b1b-2610-cc8a?tab=workflow

![screenshot from 2018-07-17 10-45-34](https://user-images.githubusercontent.com/32310205/42835813-94f55a6c-89ae-11e8-8d09-0da31af13e5f.png)

So looks like bootstraper deleted it somehow..?

[2018-07-17 18:23] lluunn commented on #1218
![screenshot from 2018-07-17 11-22-26](https://user-images.githubusercontent.com/32310205/42837726-b4464f34-89b3-11e8-9fea-ac6bf4e0fe37.png)

`__init__.py` is still there at the end of bootstrapper step...

[2018-07-17 19:56] mmatiaschek commented on #1201
Thank you, it works... i still have some problems though, i will open another issue

[2018-07-17 20:15] bhack commented on #1219
Can we handle this with [Replicaset](https://medium.freecodecamp.org/machine-learning-as-a-service-with-tensorflow-9929e9ce3801) + horizontal autoscaler?
The custom metrics thread is at https://github.com/kubeflow/kubeflow/issues/1036

[2018-07-17 22:01] lluunn commented on #1218
[code]

testing repo also got deleted.

[2018-07-17 22:46] karthikvadla commented on #838
thank you @everpeace . That did help, able to mount volume now. :)

And now i'm trying to specify a ```  --nodeSelector=<nodeSelector>             Comma-delimited list of "key=value" pairs to select the worker nodes. e.g. "cloud.google.com/gke-accelerator=nvidia-tesla-k80" [default: null, type: string]
[code]

[2018-07-18 00:01] #1202 closed

[2018-07-18 01:39] karthikvadla opened #1230 "[openmpi]- NodeSelector not working."
As mentioned [here](https://github.com/kubeflow/kubeflow/tree/master/kubeflow/openmpi) in `GPU Training` section trying to use `--nodeSelector` to specify pool of nodes to launch my workloads.

But `--nodeSelector` is not working as expected.

```--nodeSelector=<nodeSelector>             Comma-delimited list of "key=value" pairs to select the worker nodes. e.g. "cloud.google.com/gke-accelerator=nv

[2018-07-18 01:41] karthikvadla commented on #1230
/area openmpi
/priority p2

[2018-07-18 01:42] karthikvadla commented on #838
@everpeace created above issue. 👆

[2018-07-18 02:14] everpeace commented on #1230
/cc @jiezhang
Would you mind taking a look at this??

[2018-07-18 02:59] jlewi commented on #1218
@lluunn Nice work!

[2018-07-18 02:59] jlewi commented on #1218
@lluunn Should we revert #1228?

[2018-07-18 03:23] lluunn commented on #1218
That one is not merged, it's closed.

[2018-07-18 04:44] jlewi commented on #1175
Yes.

But it should be in our nightly image builds
e.g. gcr.io/kubeflow-images-public/tensorflow-1.8.0-notebook-cpu:v20180718-f5801b13

So it should be available to use and try out.

[2018-07-18 04:44] #1175 closed

[2018-07-18 04:49] jlewi commented on #971
@TheJaySmith looks like you closed that PR.

[2018-07-18 05:03] TheJaySmith commented on #971
Hello,

It is now #1225 Had issues with that other PR

[2018-07-18 07:56] amsaha commented on #1202
No worries :-)

[2018-07-18 14:39] kkasravi opened #1231 "provide the ability to add imagePullSecrets to different ServiceAccounts so that private images can be fetched"
ServiceAccounts should have an imagePullSecrets that references a docker-registry name when the image is coming from a different registry or different gcr.io account.

For example for jupyterhub - adding a parameter jupyterHubImageSecret which is then added to the jupyterhub ServiceAccount as
[code]
would reference this secret. The secret itself could be added to deploy.sh so that it does somethin

[2018-07-18 15:09] kkasravi commented on #1231
/cc @jlewi

[2018-07-18 18:27] jiezhang commented on #1230
If you're using gcloud, you can specify node labels this way:

[code]

[2018-07-18 18:29] lluunn commented on #1227
Also TF serving:
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/tf-serving/tf-serving.libsonnet#L103

[2018-07-18 18:31] jiezhang commented on #1230
/assign @jiezhang

[2018-07-18 18:34] #962 closed

[2018-07-18 18:38] #1218 closed

[2018-07-18 19:29] mmatiaschek opened #1233 "scripts/gke/deploy.sh fails when kubeflow_deployment_manager_configs/ exists"
KUBEFLOW_VERSION=0.2.2

scripts/gke/deploy.sh fails when kubeflow_deployment_manager_configs/ exists. Because of this no update of the cluster configuration is possible.

[code]

[2018-07-18 19:58] jlewi commented on #198
I closed #567 since it hadn't been updated in a while. We can reopen it or create a new PR when ready.

[2018-07-18 22:30] lluunn commented on #1233
I remember I saw this once, but could not reproduce.

Did your deployment fail before with the same name?
Could you try a new deployment name?
`export DEPLOYMENT_NAME=new_name`

[2018-07-18 22:32] lluunn commented on #1233
#1206

[2018-07-19 03:37] jlewi commented on #1231
What would be a good pattern?

Option 1

Expose parameter for imagePullSecrets

Option 2

Users does something like

[code]

Option 3

Admission controller.

Option 1 isn't nearly as flexible as Option 2 or Option 3.

Regardless of whether we do 1, I think it would make sense to refactor our ksonnet to support Option 2 better.

   1. parts in libsonnet should contain a map so we can get a particul

[2018-07-19 05:02] jlewi commented on #1156
It looks like netify might support this
https://www.netlify.com/docs/redirects/

[2018-07-19 05:27] amsaha opened #1237 ""Getting Involved" in README.md should point to kubeflow.org"
https://github.com/kubeflow/kubeflow#get-involved should now point to https://www.kubeflow.org/docs/about/community/

Related issue https://github.com/kubeflow/website/issues/93.

Since the README.md is now becoming quite small, the Table of Contents should probably be removed.

[2018-07-19 05:42] jlewi commented on #1233
@mmatiaschek Are you trying to update an existing deployment? If you want to update an existing deployment did you try just issuing the gcloud command e.g.

[code]
rather than rerunning deploy.sh

[2018-07-19 05:44] jlewi commented on #1233
The problem is here
https://github.com/kubeflow/kubeflow/blob/master/scripts/gke/deploy.sh#L103

We only CD into the directory containing the DM configs if the directory doesn't exist. Which is why cluster-kubeflow.yaml can be found when creating the deployment but not when the deployment exists.

Fix would be to just move that cd out of the if block.

[2018-07-19 05:51] jlewi opened #1239 "When creating releases we should pin the version of source.tar.gz used in the deploy.sh"
If you pull deploy.sh from a release branch, by default you should get the source.tar.gz associated with that branch. But that's not what currently happens because the default version is master.

As part of a release we should update deploy.sh so we get the source repo at the same version as deploy.sh

kubeflow/website#96 - Using our website we can now create redirects to github URLs.

So we could

[2018-07-19 05:53] amsaha commented on #1237
Something like this?

![screen shot 2018-07-19 at 11 21 01 am](https://user-images.githubusercontent.com/2220322/42924015-0440e3ee-8b46-11e8-8401-d84b541563ba.png)

[2018-07-19 12:48] yeya24 commented on #1221
I'm sorry

[2018-07-19 12:48] #1221 closed

[2018-07-19 13:30] jlewi opened #1240 "Fire off TFJob from Jupyter Notebook"
We'd like to make it super easy to go from writing code in a notebook to training that model distributed.

Experience might be something like

- User writes code in notebook and executes in Jupyter lab
- User clicks a button which allows user to fill in various settings e.g. number of GPUs
- User clicks train

Under the hood this would cause

- A docker image to be built
- A TFJob/PyTorch/K8s Job

[2018-07-19 14:12] wbuchwalter commented on #1240
:+1: Booking some time to spike MetaML for this use case in the coming days. Will report back on my findings.

[2018-07-19 14:41] amsaha commented on #1222
Wouldn't echoing
[code]
in the following `else` block enough? Removing the error message is a bit risky and also needs some bash code jugglery to achieve.

[code]

[2018-07-19 15:45] antigenius0910 opened #1241 "Spawning Jupyter failed; user jovyan does not have permission to write to default storage class"
Hi,

First thank you so much for this kubeflow project. It looks amazing.
I followed your official instruction and got kubeflow installed and all default services and pods looks fine.

The only problem I am facing now is I can't get JupyterHub to start a Jupyter Notebook server

Below are my kubernates status and all logs I've know how to pull out.

Really appreciate if anybody can point me steps

[2018-07-19 17:00] kkasravi commented on #1231
@jlewi i like the idea of refactoring the ksonnet libsonnet.
I did earlier refactoring on making them all consistent <component>.all(params) as well as the tests.

[2018-07-19 17:12] kkasravi commented on #1231
@jlewi admission controller could be implemented using metacontroller which in turn uses ksonnet.
See [article](https://admiralty.io/kubernetes-custom-resource-controller-and-operator-development-tools.html). I think the logic of the controller could be embedded in existing libsonnets.

[2018-07-19 18:45] #1233 closed

[2018-07-19 20:47] kbmanseau opened #1245 "TF-job package missing"
I have been following the following blog post: https://kubernetes.io/blog/2017/12/introducing-kubeflow-composable/.

In the first step where you have to install a few packages I am having trouble with the tf-job part.

I get the following error:

ERROR resolve registry library: GET https://api.github.com/repositories/112647343/contents/kubeflow/tf-job?ref=18305be18541b6dcaed1098638e84d603a1b04eb:

[2018-07-19 21:06] #1156 closed

[2018-07-19 21:45] mmatiaschek opened #1246 "GPU support on GKE not available"
KUBEFLOW_VERSION=0.2.2

After setting up a pretty default cluster on GKE with "getting-started-gke" deploy.sh with a `gpu-pool-initialNodeCount: 1` i could not spawn gpu images on jupyterhub. Removing the taint on the gpu node with `kubectl taint nodes gke-hub-gpu-pool-9d1db964-9gqn nvidia.com/gpu:NoSchedule-` allows me to spawn the image `gcr.io/kubeflow-images-public/tensorflow-1.8.0-notebook-gp

[2018-07-19 23:12] swiftdiaries commented on #1246
Others can correct me if I'm wrong, I think you need to have the DaemonSet installed in your cluster for Nvidia drivers.

`$ kubectl apply -f https://raw.githubusercontent.com/GoogleCloudPlatform/container-engine-accelerators/stable/nvidia-driver-installer/cos/daemonset-preloaded.yaml`

Source: https://cloud.google.com/kubernetes-engine/docs/concepts/gpus

[2018-07-19 23:30] mmatiaschek commented on #1246
@swiftdiaries unfortunately not. It is in deploy.sh and to make sure i just tried it manually, no success.

[2018-07-20 01:29] amsaha commented on #1237
/assign

[2018-07-20 04:11] jlewi commented on #1246
It doesn't look like you requested GPUs for your notebook

[code]

In the JupyterHub spawner did you supply extra resource limits

e.g

[code]

[2018-07-20 04:16] jlewi commented on #1246
The docs are a bit buried here
https://www.kubeflow.org/docs/about/user_guide/#bringing-up-a-jupyter-notebook

[2018-07-20 04:18] jlewi commented on #1245
Please follow the getting started guide here
https://www.kubeflow.org/docs/started/getting-started/

The blog post is outdated. The code has been refactored since then.

[2018-07-20 04:24] jlewi commented on #1241
The problem is your home directory is being backed by a persistent volume. The container is running as user jovyan and it looks like this doesn't have permissions to write to the PD.

Try doing the following

[code]

This will cause the PV to be mounted at /home/jovyan. Note that a consequence of this is that data in root of your home directory (/home/jovyan) won't be on PV and will be lost if you

[2018-07-20 04:29] jlewi commented on #1214
You were able to expose which service using the Nginx Ingress Controller?

Ambassador?

Can you explain in more detail, I'm not sure I follow.

[2018-07-20 04:31] jlewi commented on #959
this has been fixed.

[2018-07-20 04:31] #959 closed

[2018-07-20 07:20] mmatiaschek commented on #1246
yes, i have tried it with and without this spawner option. In the end the exact option that is documented worked for me: `{"nvidia.com/gpu": "1"}`

The spawner makes another suggestion and i think it didn't work:
![image](https://user-images.githubusercontent.com/3010105/42988722-fb3bfd52-8bfd-11e8-9eb0-753a42124f9d.png)

Thank you so much for your help!!

[2018-07-20 07:20] #1246 closed

[2018-07-20 13:32] mmatiaschek opened #1249 "GKE: can not read from google cloud storage in Jupyter notebook"
the service account that is created for instances seems to have the rights to read from google cloud storage of the project, but i cannot do it in a jupyter notebook:

![image](https://user-images.githubusercontent.com/3010105/43004998-c0e8d4fc-8c31-11e8-8055-bbbfcccc09bb.png)

![image](https://user-images.githubusercontent.com/3010105/43005019-d68b5d84-8c31-11e8-84cc-d06579972fc9.png)

[2018-07-20 15:15] jlewi commented on #1214
See kubeflow/kubeflow#11

I'm not sure that's the right thing to do. Kubeflow will consist of multiple webservices all of which sit behind a reverse proxy. The point of the reverse proxy is to give people a single service that they have to expose in order to easily access all Kubeflow services.

So if you wanted to make it easy to expose Ambassador using some other ingress controller/solution. Tha

[2018-07-20 15:43] pvsousalima commented on #1214
Yes, that is what I was trying to do.

Well, I had issues with notebooks not connecting due to WebSocket proxy on ingress-nginx, so one ingress configuration made that possible to work in my case.

My ingress configuration is simple as this (with tf-hub being a NodePort type of service):

[code]

I wonder if the right thing would be to create a configurable service pointing to Ambassador, so peopl

[2018-07-20 16:23] yebrahim commented on #959
Can we keep this one open? The UI is still WIP.

[2018-07-20 17:11] jiezhang commented on #1230
Looks like [NodeSelector](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/types.go#L2503) does not support IN operator. We need to support [Affinity](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/types.go#L2536) if you want "hostname IN (gke-x1, gke-x2)".

I'm closing this for now. Please open a feature request if you need the feature.

/close

[2018-07-20 17:11] #1230 closed

[2018-07-20 17:14] yixinshi opened #1250 "Create a batch predict example"

[2018-07-20 17:15] yixinshi commented on #1250
/assign yixinshi

[2018-07-20 17:18] yixinshi commented on #1250
Still working on the example. It will be using a faster_rcnn_nas object detection model with 150 images as the input, running on GPUs (P100). It runs locally but not yet in K8s. Working on the YAML file to start the job. Expect to complete today or by Tues next week (7/24)

[2018-07-20 17:50] #1177 closed

[2018-07-20 17:56] jlewi commented on #1249
We intentionally locked down the VM instance account to avoid granting broad permissions to all pods running on every VM.

We create GCP service accounts intended for actual work and store the secret as a K8s cluster secret that can be attached to the pods.

Possible fixes

1. Update the DM configs to grant GCS scope to the VM service account
2. Modify the kube spawner to attach the kubeflow-user

[2018-07-20 17:59] yebrahim opened #1251 "[gcp-click-to-deploy] Build the web app for production in the Docker build"
We should not be using the dev server to serve the webapp in the [Dockerfile](https://github.com/kubeflow/kubeflow/blob/471de67fc4596fb6727f72332ab555ae10e307eb/components/gcp-click-to-deploy/Dockerfile#L5).

[2018-07-20 18:04] jlewi commented on #1250
See also kubeflow/batch-predict#5

[2018-07-20 18:12] ankushagarwal commented on #1249
Yes, we do inject the [user-gcp-sa](https://github.com/kubeflow/kubeflow/blob/18305be18541b6dcaed1098638e84d603a1b04eb/scripts/gke/deploy.sh#L157) credentials in jupyter notebooks in the latest version of kubeflow. This has the storageAdmin role, so you should be able to access GCS from jupyter notebooks.

[2018-07-20 18:44] jlewi commented on #1249
@mmatiaschek can you check your pod to see if a secret is attached? If it is you should be able to do something like

[code]

@ankushagarwal I looked at a pod running 0.2.2 and I didn't see a service account attached. Do we need to set cloud or something?

[2018-07-20 18:48] jlewi commented on #1249
Looks like you need to set cloud
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/jupyterhub.libsonnet#L155

And then secret is attached here.
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/kubeform_spawner.py#L255

We should do the following

1. The GKE deploy process should do this by default
1. We should document it.

[2018-07-20 18:49] mmatiaschek commented on #1249
@jlewi i guess it isn't?
GOOGLE_APPLICATION_CREDENTIALS is not set. `export` does not show me any variable that looks like it is set to a keyfile.

[code]

[2018-07-20 18:56] jlewi commented on #1249
I think you need to set cloud

[code]
You'll need to restart your JupyterPod.

[2018-07-20 19:07] mmatiaschek commented on #1249
unfortunately it is not as easy as
[code]

i have just started using ks and still trying to understand how it works... i was doing the ks tutorial when you replied.
i had tried to provision a pd, deleting that i run into another problem while applying the current ks_app:
`ERROR handle object: can't update statefulsets kubeflow.tf-hub: Operation cannot be fulfilled on statefulsets.apps "tf-hub": th

[2018-07-20 20:59] antigenius0910 commented on #1241
Hi @jlewi ,

you are 100% correct. we are using NFS for the creating the pv and once I change the folder permission to 777 the container come up right away. THANK YOU!!!

[code]

[2018-07-20 21:16] jlewi commented on #1249
This is a bug in ks 0.11 that should be fixed in later version. You just need to retry; e.g. issue ks apply a couple times until it succeeds.

[2018-07-20 21:17] jlewi commented on #1241
Fantastic.

[2018-07-20 21:17] #1241 closed

[2018-07-20 21:20] jlewi opened #1254 "Include H20.AI packages in Kubeflow repository and document it."
H20.AI created ksonnet packages for Kubeflow.

It would be great to add them to the Kubeflow repository to make them more discoverable
https://github.com/h2oai/h2o-kubeflow/tree/master/h2o-kubeflow

It would also be good to add a Guide on our documentation page about using H20.AI with Kubeflow.

[2018-07-20 21:20] jlewi commented on #1254
@nkpng2k thoughts?

[2018-07-20 23:19] pdmack commented on #258
@jlewi just poking this again. How did you discover that the PVC needed to be at `/home/jovyan/work`?

[2018-07-21 04:38] yebrahim commented on #1251
The create react app tool doesn't include a prod server, only a dev server for previewing changes.
The Dockerfile should instead do `npm run build`, which generates a deploy-ready production version of the app (minified, bundled... etc all the goodies), then use any npm installable static file server to serve the built files:

[code]

Note: I'm not sure how npm is set up in the Dockerfile, so if t

[2018-07-21 04:40] yebrahim commented on #1251
Oh and I believe you want to use the right port. Using `serve` it would be: `serve -s build -p 3000`.

[2018-07-21 17:48] pdmack commented on #258
Yeah i think that was one of my misfires in those Dockerfile iterations
I'll take another look

[2018-07-22 21:58] jlewi commented on #1251
Thanks.

[2018-07-22 22:10] jlewi commented on #1249
GOOGLE_APPLICATION_CREDENTIALS  should be set if the gcp_secret is set
https://github.com/kubeflow/kubeflow/blob/471de67fc4596fb6727f72332ab555ae10e307eb/kubeflow/core/kubeform_spawner.py#L113

Can you provide the YAML description for your Jupyter pod to see if the secret was actually attached?

[code]

Will return the base64 encoded value of the key which is probably not what you want.

If the ke

[2018-07-22 23:06] mgyong commented on #668
@ankushagarwal Any word on the latest about having the kubeflow tf images support sudo pip install of packages?

[2018-07-22 23:21] pdmack commented on #668
sudo isn't required
jovyan should be able to install whatever

[2018-07-22 23:35] jlewi commented on #1156
This works you can now do

[code]

An alternative idea raised in #96 was force pushing Git tags.

But as @pdmack suggested that can get squirrelly.

The next step is probably kubeflow/kubeflow#1239 so that you don't have to specify the version in two places. See this [comment](https://github.com/kubeflow/website/pull/96#issuecomment-406394927)

[2018-07-22 23:37] kbmanseau commented on #1245
Okay thank you

[2018-07-22 23:37] #1245 closed

[2018-07-22 23:42] jlewi commented on #1157
The different codelabs also have additional dependencies; e.g. the GitHub issue summarization example requires Keras libraries and I think PIL.

I think it makes sense to have a separate examples image that we can easily add these extra libraries to so that we don't necessarily bloat the TensorFlow notebook images.

[2018-07-23 04:22] mgyong commented on #668
Pls see screenshot i am getting permission error issues while trying to do pip install gym
![screenshot from 2018-07-22 21-19-59](https://user-images.githubusercontent.com/2178001/43057135-293a026e-8df5-11e8-87ca-8153ba65dcbd.png)
Collecting future (from pyglet>=1.2.0->gym->-r /mnt/mingdisk1/requirements.txt (line 2))
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/lib/python3.6

[2018-07-23 11:07] bhack commented on #1116
A nice e2e tutorial https://github.com/dkozlov/openfaas-tensorflow-gpu

[2018-07-23 11:56] royxue opened #1257 "Better installation guide on kubeflow.org"
https://www.kubeflow.org/docs/started/pytorch/

![image](https://user-images.githubusercontent.com/4725561/43075169-783507fc-8eb2-11e8-8baa-c76ae36ababe.png)

Here should add `ks pkg install kubeflow/pytorch-job` to make users more clear about the installation steps

[2018-07-23 16:47] ankushagarwal commented on #668
That's an old image. Can you try

gcr.io/kubeflow-images-public/tensorflow-1.7.0-notebook-cpu:v0.2.1

On Mon, Jul 23, 2018 at 9:28 AM mgyong <notifications@github.com> wrote:

--
Ankush Agarwal

Software Engineer, Cloud ML

[2018-07-23 18:03] mgyong commented on #668
Yes, the juypterhub for my kubeflow  still has the old images gcr.io/kubeflow-images-staging/....
I have tried the gcr.io/kubeflow-images-public/ and it works

[2018-07-23 18:35] #815 closed

[2018-07-23 18:52] lluunn opened #1258 "E2e test of TF Serving using built-in HTTP api"
#198 for testing our http proxy.

[2018-07-23 19:04] kunmingg opened #1259 "[gcp-deployer] Integrate deployer with new rpc server backend and monitoring component."

[2018-07-23 19:05] kunmingg commented on #1259
@jlewi @yebrahim

[2018-07-23 20:50] #1237 closed

[2018-07-23 21:14] jlewi commented on #1254
@nkpng2k I think we should have a single H20.AI package. You can have multiple prototypes within the package. So you could have separate prototypes for Driverless and h20-3

[2018-07-23 21:17] jlewi commented on #229
Duplicate of kubeflow/examples#4

[2018-07-23 21:17] #229 closed

[2018-07-23 21:34] jlewi commented on #574
We need to build a new

[2018-07-23 21:47] nkpng2k commented on #1254
@jlewi Great! I will fork and make a pr. Hopefully sometime this week. At Next, so screen time is limited

[2018-07-23 21:49] jlewi commented on #574
I reopened this issue to track verification that it is working after updating the images.

[2018-07-23 23:03] #1056 closed

[2018-07-24 09:05] veliborfrobas commented on #201
Yes, I have done all of these:
Started minikube
started deploy.sh
used example... it starts and mycnnjob-worker-0 pod dies...
Terminated:error -> Unknown reference kind TFJob

Even simple example:
apiVersion: "kubeflow.org/v1alpha2"
kind: "TFJob"
metadata:
  name: "example-job"
spec:
  replicaSpecs:
    - replicas: 1
      tfReplicaType: MASTER
      template:
        spec:
          containers:
 

[2018-07-24 10:02] mmatiaschek commented on #1249
The workaround you described worked, using `gcloud auth activate-service-account --key-file=...`
Thank you very much!

My kubeform_spawner.py (v0.2.2) doesn't have the change regarding `GOOGLE_APPLICATION_CREDENTIALS`, it only went into master. I guess it will be available in v0.3?
Here's the yaml of the pod:

[code]

`/var/run/secrets/kubernetes.io/serviceaccount` is empty

[2018-07-24 14:14] wbuchwalter commented on #1240
So it seems like it could work well.
Still very much alpha, but you can check what it looks like here: https://github.com/wbuchwalter/metaml/blob/jupyter/examples/jupyter-notebook/TfJob.ipynb
The main limitation is that the model has to be defined as a class, the reason is two-fold:
* This is an inherent requirement of MetaML for more advanced training strategies (i.e. population based training) w

[2018-07-24 14:19] mmatiaschek opened #1261 "Keras training in Kubeflow on GKE gets "Killed""
I am trying to run keras training on Google Kubernetes Engine in a GPU instances node-pool in a Kubeflow v0.2.2 deployment.
The MNIST example from the Kubeflow documentation works.
Other processes however get "Killed" no matter if i run them in a Jupyter notebook or python in the bash.

[code]

another example

[code]

That happened to the point until my pod got evicted:
`jupyter-accounts-2egoogle

[2018-07-24 14:20] veliborfrobas commented on #201
Hello,

It's me again. I am really trying to do by the book and on:

https://www.kubeflow.org/docs/about/user_guide/ CNN example, *I have no
clue what KF_ENV* is and if I put *minikube* instead it says:

ERROR find objects: get modules: environment "minikube" was not found

If I put *default* then it "starts"... but after

|kubectl get -o yaml tfjobs ${CNN_JOB_NAME}|

_*I got: the server doesn't h

[2018-07-24 18:07] jlewi commented on #1240
This looks very promising.

Were you running the notebook on your local machine or in the K8s cluster? On K8s any idea how we would build the container?

[2018-07-24 21:00] lluunn opened #1262 "TF Serving GPU test failing"
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-presubmit

[2018-07-24 21:03] lluunn commented on #1262
pod cannot be scheduled: 0/5 nodes are available: 5 Insufficient nvidia.com/gpu.

[2018-07-24 21:04] gaoning777 opened #1263 "ERROR no prototype names matched 'kubeflow/core'"
I'm trying to install kubeflow by following the instructions https://www.kubeflow.org/docs/started/getting-started-gke/. The error comes when "ks generate kubeflow-core kubeflow-core --jupyterHubAuthenticator iap" is run.

I checked the ks prototypes by running "ks prototype list" but did not find the kubeflow-core. I made sure that I ran "ks pkg install kubeflow/core".

Any fixes?

[2018-07-24 21:10] lluunn commented on #1262
deleted some pods from previous tests

[2018-07-24 21:11] lluunn commented on #1262
retesting in #1229

[2018-07-24 21:46] gaoning777 commented on #1263
I went back to previous commits of the kubeflow project and copied the all.jsonnet and all.libsonnet files to my local ks environment. Good thing is that kubeflow-core is found by ks but error is "ERROR find objects: RUNTIME ERROR: Field does not exist: all" when "ks apply default -c kubeflow-core" is run.

[2018-07-24 22:03] #1262 closed

[2018-07-24 22:08] jlewi commented on #1263
deploy.sh will pull the latest source code from master which is not consistent with the 0.2.2 deploy script.

To fix this you need to set the environment variable `KUBEFLOW_VERSION`

[code]

There is an issue to fix this #1262 1239

[2018-07-24 22:11] jlewi commented on #1261
Is your pod getting evicted because it is running out of memory?

If you're using GKE you can use the K8s API to get a graph of the memory usage when its running and seeing if its increasing.

I think you can also do

[code]

If the pod is getting killed with OOM then I think there will be an event indicating that.

[2018-07-24 22:17] gaoning777 commented on #1263
Thanks a lot. that is exactly the problem.

[2018-07-24 22:18] #1263 closed

[2018-07-24 22:43] jlewi commented on #1249
@mmatiaschek Thank you so much for bearing with us. Yes the fix will be in the next release 0.3.

[2018-07-24 22:49] jlewi commented on #201
KF_ENV is the name of your ksonnet environment.  You can refer to the ksonnet [docs](https://ksonnet.io/docs/tutorial#4-set-up-another-environment-for-your-app) for more info.

The deploy.sh script creates the environment kubeflow by default. You can also list environments doing

[code]

[code]

This most likely means you didn't install the K8s CRD for TFJobs. You can list the CRDs in your cluster

[2018-07-25 00:04] lluunn opened #1264 "Make TF serving component more readable and extendable"
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/tf-serving/tf-serving.libsonnet
It's currently not very readable, and adding other features will make it worse (e.g. request logging).

Some previous discussion in #376 .

Here are some example packages: https://github.com/ksonnet/parts/tree/master/incubator
From this I think the general pattern is for each component, define
1. default [par

[2018-07-25 01:52] jlewi commented on #1240
The newly released build CRD
https://github.com/knative/build

Looks promising.

[2018-07-25 04:13] jlewi commented on #574
I created a new image:
gcr.io/kubeflow-images-public/tf_operator:v20180724-13863edf

Looks like IAP is now working. Here's a screen shot showing that the jobs can load.

![tfjobs_ui](https://user-images.githubusercontent.com/777219/43179151-0cad834a-8f86-11e8-8e8a-86d5cffe2321.png)

Note though that nothing is showing up in Name, Status, Logs.

Developer console is showing me errors

[code]

I see

[2018-07-25 04:16] #574 closed

[2018-07-25 04:30] royxue commented on #1257
Merged & Closed.

[2018-07-25 04:30] #1257 closed

[2018-07-25 04:35] jlewi commented on #1254
@nkpng2k I'm at next as well; ping me on slack if you want to meetup.

[2018-07-25 07:43] mmatiaschek commented on #1261
Yeah, thank you!
`The node was low on resource: memory.`
`Killing container with id docker://notebook:Need to kill Pod`

[2018-07-25 07:44] #1261 closed

[2018-07-25 14:16] veliborfrobas commented on #201
Hello,
I have started everything from scratch again
(https://www.kubeflow.org/docs/about/user_guide/):
minikube, deploy through ksonnet, jupyter notebook works! and then come
TfCnn example. Error is the same

    Internal Server Error (500)

Unknown reference kind TFJob

and from *kubectl get crd*

I got:
NAME                  AGE
*tfjobs.kubeflow.org   57m*

Hope this helps... somehow?
BTW, what

[2018-07-25 17:31] jlewi commented on #1264
Given #1229 I think the use case is to support things like injecting a config map and sidecar for request logging.

I think there are two patterns we should explore

1. Using custom admission controllers
1. Using overlays
   * I think this was introduced by [kustomize](https://github.com/kubernetes-sigs/kustomize)
   * But I believe its supported in ksonnet with the "+" operator

[2018-07-25 18:15] jlewi opened #1266 "[Test Flake] simple tf job failing; Job not found waiting for job"
https://github.com/kubeflow/kubeflow/pull/1159

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/1159/kubeflow-presubmit/2691/

Clearly the PR is not at fault because the PR is just adding a markdown doc.

The tf_job_client is returning a 404 waiting for the job

[code]

[2018-07-25 18:16] jlewi commented on #1266
The logs indicate the client is using v1alpha2

[code]

[2018-07-25 18:22] amsaha commented on #1254
/assign @nkpng2k

[2018-07-25 18:23] jlewi commented on #1266
It looks like there is a bug in tf_job_client not reporting the namespace correctly in the log message.
https://github.com/kubeflow/tf-operator/blob/a7be53607640aea90645adcc7212f6d05feb4b62/py/tf_job_client.py#L214

[2018-07-25 18:31] jlewi commented on #1266
The job is never created. There are a couple indications of this. `ks apply -c ` doesn't give any indication that the job was created.

If we look at Kubernetes events for this cluster there is no indication the job was created.

The bug is kubeflow/tf-operator#749 ; we renamed the component simple_tfjob to simple_tfjob_v1alpha2.

Looks like ksonnet just returns successfully if the component doesn

[2018-07-25 19:57] lluunn opened #1268 "Deploy argo by default; add it to deploy.sh scripts"
to support pipelines

[2018-07-25 22:55] lluunn commented on #1219
might be useful: https://github.com/knative/serving

[2018-07-25 22:56] bhack commented on #1219
Near that topic see https://github.com/kubeflow/kubeflow/issues/1116

[2018-07-25 23:36] jlewi commented on #1240
Some offline discussion with @wbuchwalter.

Using metaml might be more than we need and its blocked because metaparticle doesn't support CRDs.
So a custom script might be simpler.

Especially if we take advantage of knative to do the container build we don't need that aspect of the metaparticle tool chain.

[2018-07-26 00:31] inc0 commented on #1240
My testing so far with estimators looks promising in context of using same
code for single threaded (notebook) and distributed. I think we'll need
users to create certain code standards tho.

1 we need to provide ability to have 2 different datasets for notebook and
distributed
2 we may need different location for things like tf.event files, logs or
saved model

I think both can be solved by using

[2018-07-26 03:02] switchfootsid commented on #324
Been trying to work this on out, need an L7 load balancer to get it working. Nginx can also be configured to balance gRPC loads. Sadly, that's all I know at this point. Anyone at @kubeflow looking at this?

[2018-07-26 15:23] mingweiLIU commented on #1134
Hi, I am facing the same issue, could you please provide some thing more detailed?

[2018-07-26 16:20] pvsousalima commented on #1214
I thought of an internal load balancer to the cluster and changing services via host property in one ingress resource. I think of having one ingress resource for every Kubeflow service as not scalable.

[2018-07-26 19:19] richardsliu commented on #1033
/assign @richardsliu

[2018-07-26 21:10] bhack commented on #465
As we are introducing wave flux in https://github.com/kubeflow/kubeflow/issues/971 take a look at https://www.weave.works/blog/weaveworks-gitops-developer-toolkit-part-one-skaffold

[2018-07-26 21:32] #360 closed

[2018-07-26 21:39] lluunn commented on #1089
https://hub.docker.com/r/tensorflow/serving/tags/

TF serving now maintains images

[2018-07-26 22:46] lluunn commented on #1089
I think we should
- cleanup infra for building and pushing images, e.g. images/releaser.
- make gcr.io/kubeflow-image-public mirror the tf serving docker hub
- default using the latest version; e2e test using the latest version

[2018-07-26 23:15] richardsliu commented on #1157
/assign @richardsliu

[2018-07-26 23:30] ankushagarwal commented on #1033
Making it configurable sounds reasonable.

[2018-07-27 01:33] richardsliu commented on #1033
https://github.com/kubeflow/kubeflow/pull/1273

[2018-07-27 05:29] 372046933 opened #1274 "Deployment script didn't create namespace kubeflow"
it seems that https://raw.githubusercontent.com/kubeflow/kubeflow/v0.2.2/scripts/deploy.sh did not create namespace `kubeflow`

[2018-07-27 06:44] gaocegege commented on #1213
Do we want to handle all TFJobs in one operator and create pods in the specified namespace or one operator for one namespace?

[2018-07-27 09:49] sevensees commented on #1134
@mingweiLIU deploy kube-dns

[2018-07-27 13:57] wbuchwalter commented on #1240
@jlewi Note that the build is happening in MetaML not in metaparticle. so we can easily plug knative there.

[2018-07-27 16:58] jlewi commented on #1240
@wbuchwalter I took a closer look and I think you're right and we should start with MetaMl.

[train.py](https://github.com/wbuchwalter/metaml/blob/jupyter/metaml/train.py) looks like what I had in mind.  So I don't see any reason not to start with that.

I'm still unsure about metaparticle long term. It looks like metaml just uses metaparticle [here](https://github.com/wbuchwalter/metaml/blob/jupy

[2018-07-27 17:15] jlewi commented on #1268
@lluunn looks like you forgot to apply argo in non GKE case.

[2018-07-27 17:55] wbuchwalter commented on #1240
@jlewi This is where I specify the TfJob specs to pass to metaparticle: https://github.com/wbuchwalter/metaml/blob/jupyter/metaml/architectures/kubeflow/distributed.py#L13

I don't think you should see metaparticle's abstraction as a way to target multiple architecture.
The main role of metaparticle is to make it easier to express higher level distributed concepts, the 'cross-platform' is mostly a

[2018-07-27 18:10] lluunn opened #1275 "Load test TF serving to verify request logging"
related #1000

Fluentd might have scalability issue

[2018-07-27 18:15] kunmingg opened #1276 "[gcp-deployer] Set up "cors-anywhere" proxy service for k8s api requests from web app"
Who need it:
Any k8s api request from web app, need to make request through proxy.

Why need it:
Since our k8s master's ip is different from localhost / kubeflow.org, our request will trigger ```Cross-Origin Resource Sharing```.
Usually browser control https request with:
'Access-Control-Request-Method: POST'
'Access-Control-Request-Headers: Content-Type, Authorization'
And k8s api's response won'

[2018-07-27 18:18] lluunn commented on #1268
Isn't this one: https://github.com/kubeflow/kubeflow/blob/master/scripts/deploy.sh#L72?

[2018-07-27 18:25] lluunn opened #1277 "Use admission controller to inject logging sidecar for TF Serving"
Related to #1000 , request logging. We are using a fluentd sidecar.

Related to #1264

[2018-07-27 18:28] lluunn opened #1278 "[Test flake] unable to recognize XX: no matches for kind Workflow"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/1229/kubeflow-presubmit/2728/

[code]

[2018-07-27 19:03] lluunn commented on #1278
Weird, the workflow is running again. That failure seems temporary, but it causes presubmit failure.

#1229

[2018-07-27 22:19] jlewi commented on #1268
You're correct; it applies all components.

[2018-07-27 22:19] #1268 closed

[2018-07-27 22:24] jlewi opened #1279 "[GCP] deploy.sh gcloud error Invalid choice: 'filestore'."
Running deploy.sh at master I get a gcloud error because the component filestore is missing

[code]

[2018-07-27 22:29] jlewi opened #1280 "[GCP] deploy.sh filestore API not enabled for project"
I ran deploy.sh at master and got the following error

[code]

[2018-07-27 22:32] jlewi commented on #1280
This was user error on my part; I had SETUP_PROJECT=false.

[2018-07-27 22:32] #1280 closed

[2018-07-27 22:42] mmatiaschek opened #1281 "JupyterHub users can't create pods on GKE"
My users get this error when trying to start a docker image via JupyterHub.
`Error: (422) Reason: error HTTP response headers: HTTPHeaderDict({'Audit-Id': 'b79ba010-af2f-49a6-a606-eda454bb40a5', 'Content-Type': 'application/json', 'Date': 'Fri, 27 Jul 2018 13:45:12 GMT', 'Content-Length': '972'}) HTTP response body: {"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"Pod

[2018-07-27 22:44] jlewi opened #1282 "[GCP] deploy.sh fails; can't create filestore because network is legacy"
[code]

[2018-07-27 23:14] gaoning777 opened #1283 "TFJob operator v1alpha2 doesn't work with TF.Estimator API for TF <=1.6"
Hi,
**Background**: converting my tfjob samples to support kubeflow v1alpha2.
**Problem**: the job waits forever, logs being "tensorflow:Waiting for model to be ready.  Ready_for_local_init_op:  Variables not initialized:...."
**The tfjob yaml:**
_apiVersion: kubeflow.org/v1alpha2
kind: TFJob
metadata:
  name: trainer-tfjob
spec:
  tfReplicaSpecs:
    MASTER:
      replicas: 1
      restartPolicy:

[2018-07-27 23:18] qimingj commented on #1283
To add more context: we are using tf's estimator trainer with TF version 1.6. The trainer code is like:

  ...
  exporter = tf.estimator.FinalExporter('export', serving_input_fn)
  train_spec = tf.estimator.TrainSpec(input_fn=train_input_fn, max_steps=args.steps)
  eval_spec = tf.estimator.EvalSpec(input_fn=eval_input_fn, exporters=[exporter])
  tf.estimator.train_and_evaluate(estimator, train_spe

[2018-07-27 23:22] jlewi commented on #1283
This is most likely a problem in your code not the TFJob controller. The logs indicate your job is starting.
The estimator API is supposed to parse TF_CONFIG and invoke appropriate logic to checkpoint the model.

I forget at which version the estimator API changed from master to chief.

You should look at the TF.estimator API and figure out what it expects for the environment variable TF_CONFIG an

[2018-07-28 00:50] jlewi commented on #1283
gaoning777 reported that with TF 1.8

[code]

Resulted in

[code]

I wonder if this is because there is no worker?  Although the problems with 1.6 suggest that is a problem with not properly detecting the chief.

[2018-07-28 19:31] jlewi opened #1284 "[gcp] deploy.sh should support rerunning deploy.sh when DM configs and ks app already exist"
We should support the following flow

1. Set `KUBEFLOW_DEPLOY=false1
1. Run deploy.sh
    * Creates the config directories but doesn't deploy
1. User modifies the configs
1. User runs deploy.sh
    * This deploys things

There are some minor bugs that prevent this flow from working with 0.2.2 and on master.

Some issues
   * deploy.sh will try to run ks init which will fail if app already exists

[2018-07-29 00:00] jlewi commented on #1283
Duplicate of kubeflow/tf-operator#761

[2018-07-29 00:00] #1283 closed

[2018-07-29 03:01] jlewi commented on #1240
@wbuchwalter SGTM.

What are the next steps to allow users to start submitting jobs from a notebook as in your [example](https://github.com/wbuchwalter/metaml/blob/jupyter/examples/jupyter-notebook/TfJob.ipynb)

* Can users easily clone or pip install MetaML in their notebooks in order to start using it?
* I'm guessing the biggest problem is building the container from within the cluster. How do w

[2018-07-30 02:39] kunpengprod commented on #1213
@gaocegege We are in a situation where 1. cluster admins don't own Kubeflow deployment 2. only one cluster tenant needs to run TF jobs. So there is no need to have an omnipotent operator to own all TFJobs across namespaces.

In the future it may be desirable for cluster admins to take ownership of TF operator, to consolidate Kubeflow into cluster infrastructure. That would however requires cluster

[2018-07-30 11:36] jlewi commented on #1281
That might help. I forgot we added a service account to the julyter pods to enable use of TFjob from juypyter.

Deploy.sh at Head will try to setup a Google cloud filestore. This might cause problems for you every if your project is old and has a legacy network. So you might not to comment out those steps in deploy.sh.

[2018-07-30 12:23] jlewi commented on #1222
How does this fix the error?

The problem is that

[code]

outputs an ERROR to stderr if the deployment doesn't exist. We don't want the user to see that error because it will likely confuse them.

So what we want to do is redirect stderr somewhere else.

For example

[code]

But swallowing the error entirely is a little dangerous; its possible a different error than "doesn't exist" occurs and ass

[2018-07-30 13:39] amsaha commented on #1222
My contention is that the error message is harmless and since the script does not stop there and continues with the execution the user should be okay with it, especially if we print an extra message at the end.

Redirecting to a file, parsing the error message, and finally masking a specific message seems too much code. Also, if the gcloud error message changes, we would be back to square one.

[2018-07-30 14:14] wbuchwalter commented on #1240
1. I will rename the project. MetaML is already taken(http://segatalab.cibio.unitn.it/tools/metaml/) (and is a bad name anyway, since it alludes to metalearning)
2. As soon as this is done I will create an official pip package so that it's easier to install.
3. I would to look into that,  [knative](https://www.google.com/search?client=ubuntu&channel=fs&q=knative&ie=utf-8&oe=utf-8) or [img](https:/

[2018-07-30 14:21] gundeti opened #1285 "How can we change the tensorflow image in kubeflow?"
I have created a model file and it was built in tensorflow 1.8. when I try to serve the model and I apply "ks apply cloud -c serve" I see that it is using tensorflow 1.7 image (gcr.io/kubeflow-images-public/tensorflow-serving-1.7). How can change the tensorflow-serving image ?

[2018-07-30 14:30] amsaha opened #1286 "Move Katib documentation to kubeflow website"
https://github.com/kubeflow/kubeflow/pull/989 has to be moved to Kubeflow website. Pending on https://github.com/kubeflow/website/issues/72.

[2018-07-30 14:31] amsaha commented on #1286
/assign

[2018-07-30 15:04] #1285 closed

[2018-07-30 17:10] jlewi commented on #1240
@wbuchwalter Thanks; I think the build CRD is the way to go because to some extent it abstracts away the builder. The BUILD CRD basically takes a YAML spec describing a workflow to build the image. As part of the spec you can specify which (supported) builder to use e.g. kaniko. So by using the build CRD we should be able to sidestep the debate of buildah vs. kaniko vs. img. If someone wants to us

[2018-07-30 23:44] lluunn opened #1288 "Combine gke specific yaml to a ks component"
webapp and deploy.sh can both deploy the component.

Example: gpu driver, stackdriver agents.

[2018-07-31 06:27] 372046933 opened #1289 "Ambassador failed to start using the 0.2.2 deploy script"
After the follow deployment script,
`curl https://raw.githubusercontent.com/kubeflow/kubeflow/v0.2.2/scripts/deploy.sh | bash`.
Ambassador failed to start on one node.

[code]

[2018-07-31 07:38] banbanandroid opened #1291 "Katib apply fail with error: Field does not exist: modeldbDatabaseImage"
version: kubeflow v0.2.2
ks version: 0.11.0
k8s version: v1.11.0

when follow the doc [katib README](https://github.com/kubeflow/kubeflow/blob/master/kubeflow/katib/README.md) , I apply katib with
[code]
and receive error:
[code]
it seems that the default parameters with name modeldbDatabaseImage is not set, what is the image should kubeflow-v0.2.2 with component katib have?

I'm not sure if the m

[2018-07-31 12:48] pdmack opened #1293 "ack_guide.md out of date"
The Alibaba-specific user guide needs updating based on the re-organization of kubeflow components and prototypes.

/assign @cheyang

[2018-07-31 13:29] wbuchwalter commented on #1240
@aronchick currently I'm using nbconvert, which convert the .ipynb into a .py file in the order the cell are defined. What would be a better solution in your opinion?

[2018-07-31 15:29] #734 closed

[2018-07-31 15:30] jlewi commented on #1289
Does ambassador start on the other nodes? What happened when it restarted? Did it just crash loop?

Are you running on minikube? Do you have RBAC installed (see #734)

/cc @kflynn

[2018-07-31 15:31] jlewi commented on #1289
Is kube-dns running? see #1134?

[2018-07-31 17:10] amsaha commented on #1286
/close

Closed via pull #1292

[2018-07-31 17:10] #1286 closed

[2018-07-31 18:30] lluunn opened #1294 "GKE deployment fails if gcloud account is a service account"
`Please set the type prefix to be \"serviceAccount:\".","status":"INVALID_ARGUMENT","statusMessage":"Bad
    Request`

https://github.com/kubeflow/kubeflow/blob/master/scripts/gke/deploy.sh#L135

https://github.com/kubeflow/kubeflow/blob/master/scripts/gke/deployment_manager_configs/cluster.jinja#L257

[2018-07-31 19:56] crwilcox opened #1295 "Remove or pin use of a deprecated python package, google-cloud"
https://github.com/kubeflow/kubeflow/blob/master/components/tensorflow-notebook-image/requirements.txt#L18

This repository contains a setup.py or requirements.txt file that depends on
the `google-cloud` package. This package is deprecated. If you wish to continue
to use this package, please pin the version to `google-cloud<0.34.0`. If you have
more time to dedicate to this, I would advise sorting

[2018-07-31 20:50] bhack commented on #167
A fork was proposed again https://github.com/bitly/oauth2_proxy/issues/628

[2018-07-31 21:39] AdrianLsk opened #1296 "JupyterHub login unauthorized (401)"
Ran deploy.sh according to GKE tutorial. Everything went smooth.

Following the [tutorial](https://www.kubeflow.org/docs/guides/components/jupyter/) for launching Jupyter Notebook, I went for the port-forwarding option, but got stuck and couldn't find any other similar issue.

http://127.0.0.1:8000/hub/login gives

![image](https://user-images.githubusercontent.com/4333307/43488573-7b005220-951a-1

[2018-07-31 21:39] lluunn commented on #1106
cc @lluunn

[2018-07-31 22:44] cheyang commented on #1293
@pdmack, I will update it, thanks.

[2018-08-01 01:40] 372046933 commented on #1289
@jlewi  Thanks for your  kindly reply. I checked DNS service on every node by executing `nslookup kubernetes` on busybox pod, and finally found that the node where ambassador cashed have a wrong DNS resolver address. The root cause was the configuration of `kubelet`, which used erroneous `--cluster-dns`

[2018-08-01 17:28] lluunn opened #1299 "Use tensorflow/serving images"
https://hub.docker.com/r/tensorflow/serving/

We can retire some infra for building and releasing those images.

[2018-08-01 17:38] amsaha opened #1300 "Fix incorrect links to user_guide in kubeflow.org"
Since we restructured the documentation on kubeflow.org website, we need to fix the following references to the older structure:

[code]
Related issue https://github.com/kubeflow/website/issues/120.

[2018-08-01 17:38] amsaha commented on #1300
/priority p1
/area docs

[2018-08-01 17:39] amsaha commented on #1300
/assign

[2018-08-01 18:34] amsaha commented on #1300
/close

[2018-08-01 18:34] #1300 closed

[2018-08-01 20:31] kunmingg commented on #1296
You should have the url ```https://<deploy>.endpoints.<project>.cloud.goog``` up after run deploy.sh.
Can you try ```https://<deploy>.endpoints.<project>.cloud.goog/hub```?

[2018-08-01 20:32] kunmingg commented on #1296
It's your kubeflow service address hosted in your project, need to login with google.

[2018-08-01 20:47] AdrianLsk commented on #1296
@kunmingg indeed, that's working. It wasn't clear to me that I should use the ingress address when reading the docs. Thanks man!

[2018-08-01 20:47] #1296 closed

[2018-08-02 00:52] #198 closed

[2018-08-02 00:52] #1031 closed

[2018-08-02 00:55] Silentphantom62 opened #1303 "Unable to get Jupyterhub API token"
Issue: Need API access to Jupyterhub to automate creating notebooks.

I setup following the minikube guide. https://www.kubeflow.org/docs/started/getting-started-minikube/

I tried fetching the API token from Tokens using _Request New Token button_ I get a 403.

![screen shot 2018-08-01 at 5 51 29 pm](https://user-images.githubusercontent.com/38120935/43556257-c7a1491a-95b3-11e8-9ff1-4cd73c50d3bc.

[2018-08-02 02:14] amsaha commented on #1303
I suppose you took a look at https://github.com/jupyterhub/jupyterhub/blob/master/docs/source/troubleshooting.md? There is some text around 403 ERROR.

[2018-08-02 06:43] jlewi commented on #1303
@Silentphantom62 I don't know if anyone has tried to use the JupyterHub REST API
http://jupyterhub.readthedocs.io/en/latest/reference/rest.html

I would conjecture that the ability to generate API tokens is dependent on how you configure JupyterHub to do auth.

On GCP we generally bypass JupyterHub for auth since we use IAP. So in that case I'm not sure how JupyterHub could mint API tokens.

[2018-08-02 07:14] jlewi commented on #1289
Great glad its fixed.

[2018-08-02 07:14] #1289 closed

[2018-08-02 16:48] Silentphantom62 commented on #1303
@amsaha The problem is that I don't know where I can get the token itself. The 403's in the mentioned URL are issues with invalid token.

@jlewi I want to use the REST API that you have mentioned. How can I configure Auth for The JupyterHub server that is spun up by kubeflow? I want some way to hit the JupyterHub endpoint via API and create users/notebooks. My setup currently is the getting starte

[2018-08-03 06:03] jlewi commented on #1303
@Silentphantom62 I think you area breaking new ground here. Do you want to investigate and try to figure this out?

[2018-08-03 14:36] #968 closed

[2018-08-03 14:42] jlewi opened #1306 "CentralDashboard returns 404; Ambassador can't parse the route"
On master Ambassador shows the following error trying to parse the route for the central dashboard

[code]
As a result no mapping is defined and trying to access the central dashboard behind Ambassador gives a 404.

This is ksonnet/ksonnet#670

We should be able to workaround this.

[2018-08-03 16:22] TheJaySmith commented on #211
Is the DockerHub profile still being maintained? If so, can we share access? I have a script to sync gcr.io and dockerhub and want to get that started.

[2018-08-03 16:40] Silentphantom62 commented on #1303
@jlewi I am trying to do it but honestly I am new to Kubeflow and Kubernetes and the documentation for Kubeflow isn't very helpful rightly because of the stage the project is in at the moment.

I have been trying to set this up https://github.com/kubeflow/kubeflow/tree/master/components/jupyterhub#github-oauth-setup
So that I can give it a try with github oath but I am stuck at the point where aft

[2018-08-03 21:45] jlewi commented on #1303
I think you should look at the JuypterHub docs and especially the JupyterHub docs on K8s. We aren't doing much with JupyterHub other than bundling it with other services. So mostly this is a question of how to properly configure JupyterHub.

[2018-08-03 21:45] jlewi commented on #1291
/assign @YujiOshima
/assign @gaocegege

[2018-08-03 22:19] lluunn opened #1309 "Use Istio 1.0"
We integrated istio for TF Serving with istio 0.7.
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/examples/prototypes/tf-serving-with-istio.jsonnet#L17
https://www.kubeflow.org/docs/guides/components/istio/

Now that istio is 1.0, we should migrate to that.

[2018-08-03 23:37] jlewi opened #1310 "Add Argo UI to Ambassador and Central UI"
Now that we include Argo by default we should add a route to Ambassador and include it in the central UI.

This would be useful for Kubeflow developers since they could run the E2E tests on their own cluster.

[2018-08-05 00:20] kkasravi opened #1312 "Build and debug improvements for bootstrapper"
Improvements in building/pushing bootstrapper and bootstrapper-builder images should include making the following configurable: the golang version, allowing a different GCP project for both bootstrapper and bootstrapper-builder, allowing bootstrapper to reference a different bootstrapper-builder image or version, the ability to debug bootstrapper remotely. The developer_guide.md should be updated

[2018-08-05 00:54] kkasravi commented on #1312
/assign @lluunn

[2018-08-05 00:54] kkasravi commented on #1312
see #1313

[2018-08-05 10:29] cliveseldon opened #1314 "Can't install new components in Minikube bootstrapper ksonnet app"
Followed the [docs](https://www.kubeflow.org/docs/started/getting-started-minikube/)
[code]
then
[code]

[2018-08-06 01:24] amsaha opened #1315 "Istio integration doc: Point to kubeflow/website documentation for"
https://github.com/kubeflow/kubeflow/blob/master/components/k8s-model-server/istio-integration.md needs to point to https://www.kubeflow.org/docs/guides/components/istio/ (Relevant issue on kubeflow website: https://github.com/kubeflow/website/issues/51).

[2018-08-06 01:31] amsaha commented on #1315
/area docs
/priority p1

[2018-08-06 02:16] codeflitting opened #1316 "Integrate data labeling tools into kubeflow"
#### The introduction

[For more context see "End Users’ Hate List and Wish List for Kubeflow in 6 Months”](https://docs.google.com/document/d/1dbV9PK2Hkp9XqVI71K6jA7LW2CZbfbIyoZl-ZIn9ymM/edit#heading=h.wh1y84p5pqj9)

Tf-operator in Kubeflow can smoothly handle training tasks. However, we found that in practice many of our (at Caicloud) ML engineers and customers are reluctant to use it, given tha

[2018-08-06 08:36] xinzhangcmu commented on #1316
@aronchick @jlewi  per discussion in the [email thread](https://groups.google.com/forum/#!topic/kubeflow-discuss/VzZIssKlmu8), how should we prioritize it? (applying release 0.3 label with an appropriate priority?)

[2018-08-06 12:31] jlewi commented on #1222
#1308 should fix this. The error is harmless but it will be very confusing to users. Especially when things go wrong and Kubeflow is not deployed correctly. In this case they will look at the output which shows an Error  and think that is the problem.

[2018-08-06 12:31] jlewi commented on #1222
/assign jlewi

[2018-08-06 12:32] jlewi commented on #1197
/assign jlewi

#1308 will fix this.

[2018-08-06 12:36] jlewi commented on #1160
#1204 was checked in. What is the remaining work?

Do we just need to document it?

[2018-08-06 12:39] jlewi commented on #1146
We should just switch to the new BackendConfig
https://cloud.google.com/iap/docs/enabling-kubernetes-howto

[2018-08-06 12:48] jlewi commented on #1310
@swiftdiaries Do you want to pick this up?

[2018-08-06 13:17] jlewi commented on #1223
@pvsousalima Sorry for the slow reply.

I think what we'd like to do is rename the stateful set.
Specifically in this file
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/jupyterhub.libsonnet#L19

Replace TFHub with JupyterHub

Are you still willing to pick this up?

/assign @pvsousalima

[2018-08-06 13:27] jlewi commented on #56
Elaborating on the idea of using a ConfigMap. I think we'd like the full ConfigMap/YAML spec to be a ksonnet prototype. The YAML could be specified via jsonnet.

This way the full spec would be a component inside the user's ksonnet application. So they could easily make changes to it without us needing to expose parameters for every feature.

Furthermore, can we implement this such that we don't h

[2018-08-06 13:27] jlewi commented on #56
@pdmack Any interest in picking this up?

[2018-08-06 13:31] jlewi commented on #1240
@willb FYI since you had chimed in a while back on #110

[2018-08-06 13:32] jlewi commented on #110
Duplicate of #1240

[2018-08-06 13:32] #110 closed

[2018-08-06 13:35] jlewi opened #1317 "Deploy knative for in cluster image builds"
We need to support in cluster image building; e.g. to support firing off TFJobs for Jupyter #1240.

knative provides a build CRD
https://github.com/knative/build

We should include the build CRD as part of Kubeflow deployments so that we can start using it for in cluster builds

see also #289

[2018-08-06 13:53] jlewi commented on #1124
There is an option you can set in kube_spawner to redirect to JupyterLab.
http://jupyterhub-kubespawner.readthedocs.io/en/latest/spawner.html#module-kubespawner.spawner

#56 (make jupyterhub more configurable) would allow users to set this.

[2018-08-06 17:17] kkasravi commented on #1231
@jlewi I'm currently working on this

[2018-08-06 17:27] kunmingg commented on #1160
Only docs needed, this one we can close.

[2018-08-06 17:27] #1160 closed

[2018-08-06 17:30] jlewi commented on #211
I changed the permission of kubeflowteam to be a dev not an owner.

@TheJaySmith Can you create a new account with a name that makes it clear its a robot account. e.g.
kubeflow-robot.

[2018-08-06 17:38] jlewi commented on #971
@TheJaySmith what are the next steps?

[2018-08-06 17:46] jlewi opened #1318 "Central UI should include a link to Kubeflow docs website"
We should add a link to the central UI that links to our docs at kubeflow.org

/cc @swiftdiaries

[2018-08-06 18:17] TheJaySmith opened #1320 "Automated sync of Kubeflow between GCR and DockerHub"
We have a rising popularity in China with Kubeflow however they are unable to access GCR. We also have other users who may prefer using DockerHub over GCR for images as it works better for their workflow. We need to sync Kubeflow Dockerfiles between GCR and DockerHub

[2018-08-06 18:19] TheJaySmith commented on #1320
Created kubeflowrobot account

[2018-08-06 18:41] willb commented on #1240
@jlewi thanks!  I've been following this issue but will take the opportunity to join the discussion.

@wbuchwalter I think `nbconvert` is actually the right approach.  What I've been working towards is a pipeline that will go from a notebook that trains a model to an image to serve that model (specifically using OpenShift's source-to-image).  As Jeremy mentioned, [here's some analysis work](
https

[2018-08-06 18:41] pvsousalima commented on #1223
Hey @jlewi no problem! Yes, I am!

[2018-08-06 18:45] swiftdiaries commented on #1310
/assign @swiftdiaries

[2018-08-06 18:45] swiftdiaries commented on #1318
/assign @swiftdiaries

[2018-08-06 20:15] swiftdiaries commented on #1320
For reference / background: https://github.com/kubeflow/kubeflow/issues/211.

[2018-08-06 21:28] lluunn opened #1323 "deployment script should test the default zone."
https://github.com/kubeflow/kubeflow/blob/master/scripts/gke/deployment_manager_configs/cluster-kubeflow.yaml#L30

us-central1-a does not have Intel Haswell.
We need that for AVX2: #1083

However, the test doesn't fail because the test project's default zone overwrites it to us-east1-d

[2018-08-06 23:07] jlewi commented on #1316
I think this would be an amazing contribution.

Do we have someone that's willing to pick this up?

[2018-08-06 23:10] jlewi commented on #1231
@kkasravi That's great. Is your solution only going to handle ImagePullSecrets? Or will you address the more general case of #56?

/assign @kkasravi

[2018-08-07 08:14] amsaha commented on #1315
/close

[2018-08-07 08:14] #1315 closed

[2018-08-07 11:01] kkasravi commented on #1231
i'm providing a parts mapping as you've suggested so i think i could pick up #56 after this.

[2018-08-07 12:42] jlewi commented on #1323
/assign @jlewi

This will be fixed by #1308

We don't actually use the default value in cluster-kubeflow.yaml because our deployment scripts overwrite that based on ZONE.

#1308 fixes this by changing the value in cluster-kubeflow.yaml to make it clear that the value will get overwritten.

[2018-08-07 13:00] jlewi opened #1325 "Reusability and composability of steps in our E2E tests"
Our E2E tests often have subgraphs/steps that we'd like to reuse across different E2E tests.
To date we've largely followed one of two approaches

1. We either copy/paste the code between multiple workflows

    * e.g. [tf-operator/workflows](https://github.com/kubeflow/tf-operator/blob/master/test/workflows/components/workflows.libsonnet) & [kubeflow/workflows](https://github.com/kubeflow/kubeflo

[2018-08-07 13:01] jlewi commented on #1325
I might take a stab at defining a workflow to run deploy Kubeflow using kfctl.sh based on #1308.

[2018-08-07 13:46] tmckayus opened #1326 "[Proposal] Kubeflow Base Images and Supporting Vendors"
This is a proposal originally drafted by Jeremy Lewi with contributions from others, it may still need more eyes and refinement before we consider it final.

The goal is to create a set of guidelines for supporting multiple distros as base images in kubeflow components.

https://docs.google.com/document/d/1B3LumU7u9dJA0ElM37KlPeSHJzSSpLV1l52E9ZmbJvo/edit#heading=h.alaoz7uek0k7

[2018-08-07 17:57] jlewi commented on #1240
I like @wbuchwalter's approach of simplifying the problem by forcing users to structure their code a certain way. That seems very reasonable to me

[2018-08-07 18:13] lluunn commented on #1325
+1

[2018-08-07 18:58] cliveseldon commented on #1240
We use s2i at [Seldon](https://github.com/SeldonIO/seldon-core/blob/master/docs/wrappers/python.md) so am also interested to know to of techniques to package models from a notebook easily.

[2018-08-08 00:54] kunmingg opened #1328 "[gcp-deployer] implement go backend logic handling request from deploy/mangement web app."
See previous discussions: https://github.com/kubeflow/kubeflow/pull/1255#event-1775981459
Need to implement backend handlers dealing with various GCP/k8s resources management.

[2018-08-08 00:55] kunmingg commented on #1276
See https://github.com/kubeflow/kubeflow/issues/1328

[2018-08-08 00:55] #1276 closed

[2018-08-08 12:06] 372046933 opened #1330 "Error generating tensorboard"
Executing the following command three times in a row.
`ks generate tensorboard tb` sometimes succeeds without complaining about `--logDir`.

[code]

[2018-08-08 13:01] jlewi commented on #1326
@tmckayus Can you open up an issue in kubeflow/community and close this one?
Current process is to use kubeflow/community for proposals.

[2018-08-08 13:02] jlewi opened #1331 "Update E2E test to use kfctl.sh and delete gke/deploy.sh;"
We want to delete the deploy.sh scripts
https://github.com/kubeflow/kubeflow/blob/master/scripts/gke/deploy.sh

It is replaced by kfctl.sh

deploy.sh is still being used by our E2E test
https://github.com/kubeflow/kubeflow/blob/master/testing/workflows/components/workflows.jsonnet

We added a new E2E workflow for kfctl.sh
https://github.com/kubeflow/kubeflow/blob/master/testing/workflows/component

[2018-08-08 13:08] jlewi opened #1332 "Firebase for authentication"
On slack a customer mentioned they were using firebase for authentication.

Is this something we can/should make easier?

See #11 for a diagram of the networking stack.

We could either insert firebase authentication inbetween ingress and Ambassador; or we could potentially use Ambassador's external auth support.

[2018-08-08 18:44] tmckayus commented on #1326
@jlewi, certainly! thanks

[2018-08-08 18:46] tmckayus commented on #1326
Moved to https://github.com/kubeflow/community/issues/165

[2018-08-08 18:46] #1326 closed

[2018-08-08 19:52] gaoning777 opened #1334 "PS still running after tfjob is complete."
Hi,
I have an issue that the PS pod keeps running after the tfjob is complete, even after several days.
kubectl get pods returns
'''
trainer-180804-004108-master-0                0/1       Completed   0          4d
trainer-180804-004108-ps-0                    1/1       Running     0          4d
trainer-180804-004108-worker-0                0/1       Completed   0          4d
'''

And, kubectl get

[2018-08-08 21:01] jlewi commented on #1330
Can you check components.params?

I suspect the earlier runs created any entry for tb and because of that it might not throw an error on the subsequent runs.

Might be worth look at GitHub issues for ksonnet to see if this is a known issue.

[2018-08-08 23:31] swiftdiaries commented on #1318
/close
Because related PR has been merged.

[2018-08-08 23:31] #1318 closed

[2018-08-09 00:00] jlewi commented on #1334
Refiled kubeflow/tf-operator#774

[2018-08-09 00:00] #1334 closed

[2018-08-09 01:12] kunmingg commented on #1328
Handler for service account key operation:
https://github.com/kubeflow/kubeflow/pull/1329

[2018-08-09 01:13] kunmingg commented on #1328
Handler for service account iam role edit:
https://github.com/kubeflow/kubeflow/pull/1335

[2018-08-09 02:41] kozhukalov opened #1336 "testing/workflows is not compatible with ksonnet-0.12.0"
- How to reporduce:
[code]

`ks upgrade` does not help

[2018-08-09 12:16] xinzhangcmu opened #1337 "Multi-model serving workflow support"
(For additional context see the [user survey](https://docs.google.com/document/d/1dbV9PK2Hkp9XqVI71K6jA7LW2CZbfbIyoZl-ZIn9ymM/edit#))

# Real-world Scenario

ML developers for an online design company are developing computer vision models to automatically tag a picture with different categories of labels reflecting “design styles”, to facilitate designers as their references. Applicable labels are

[2018-08-09 19:58] jlewi commented on #1337
@xinzhangcmu Can you clarify whether this is online inference or batch inference?

[2018-08-09 19:58] jlewi commented on #1337
/cc @cliveseldon

[2018-08-09 20:05] cliveseldon commented on #1337
Certainly with seldon-core one can create a graph of required models to serve the request.
The latest [ksonnet prototypes for Seldon](https://www.kubeflow.org/docs/guides/components/seldon/) have several examples templates.
Consult [the seldon docs](https://github.com/SeldonIO/seldon-core/blob/master/docs/crd/readme.md) for more details.

[2018-08-09 22:51] jlewi commented on #1240
@wbuchwalter Why isn't volume support sufficient?
https://github.com/knative/docs/blob/master/build/builds.md#using-an-extra-volume

There's lots of ways for people to create solutions for their particular environment. For example, you can use the NFS Provisioner to run NFS within cluster.

You can use an empty dir volume as a cache across steps. So one solution is to use object storage and just c

[2018-08-09 23:52] xinzhangcmu commented on #1316
@jlewi great; we can take a stab, starting with a design doc

[2018-08-09 23:59] ddutta commented on #1316
This is awesome!

On Thu, Aug 9, 2018 at 4:52 PM Xin Zhang <notifications@github.com> wrote:

--
-Debo~

[2018-08-10 00:24] kunmingg opened #1340 "Need to update glide's ksonnet version to ^0.11.0"
ks prototype in current master rely in ks version >= 0.11.0, but https://github.com/kubeflow/kubeflow/blob/master/bootstrap/glide.lock contains an older ks version which will trigger error for ambassador component.

[2018-08-10 00:25] kunmingg commented on #1340
@abhi-g
@activatedgeek

[2018-08-10 00:25] kunmingg commented on #1340
@jlewi

[2018-08-10 05:04] jlewi commented on #1340
Seems reasonable to upgrade to 0.11. I don't know that we want to upgrade to 0.12 yet.

[2018-08-10 05:09] jlewi opened #1343 "Make it easy to run tests on an existing Kubeflow deployment"
It would be very useful from a test debuggability perspective to be able to run Kubeflow on an existing Kubeflow deployment.

We refactored the tests (see #1325) to create a a subgraph of the actual tests and separate this from the steps that actually deploy Kubeflow.

This should make it much easier to manually deploy Kubeflow and then run tests on that Kubeflow cluster; thus skipping the expensi

[2018-08-10 08:51] fyuan1316 opened #1344 "Jupyter notebook Connection failed because Ambassador doesn't enable websockets"
### version: kubeflow v0.2.2

when create a py2 or py3 notebook, receive error message:

in chrome console , there 's more details:

![image](https://user-images.githubusercontent.com/42265657/43948179-b1c00e6e-9cbc-11e8-8491-1aa95b294d26.png)

[2018-08-10 09:51] fyuan1316 commented on #1291
i just met this problem, after fix the typo in katib's all.jsonnet , it worked for me.
by the way, the image is mongo:3.4. i think you could get it work in two way：
1) set param

2) copy the jsonnet file from master branch (yes, it's already fixed), overwrite your local's.
the file path is "kubeflow/katib/prototypes/all.jsonnet"

[2018-08-10 10:03] banbanandroid commented on #1291
@fyuan1316 thx and it works

[2018-08-10 12:31] jlewi commented on #1344
Thanks for the report and the fix.

I'm curious why we haven't run into this before. My conjecture is that most people don't access Jupyter through Ambassador. On GKE I think we might be redirecting to JupyterHub before going through Ambassador.

[2018-08-10 13:00] jlewi commented on #1222
Fixed by kfctl.sh

[2018-08-10 13:00] #1222 closed

[2018-08-10 13:01] jlewi commented on #1197
#1308 is fixed.

[2018-08-10 13:01] #1197 closed

[2018-08-10 13:01] jlewi commented on #1222
#1308 is kfctl.sh

[2018-08-10 13:41] jlewi commented on #1284
Fixed by #1308

[2018-08-10 13:41] #1284 closed

[2018-08-10 13:41] jlewi commented on #1282
Fixed by #1308

[2018-08-10 13:41] #1282 closed

[2018-08-10 13:42] jlewi commented on #1279
Fixed by #1308; we now use DM to create filestore.

[2018-08-10 13:43] jlewi commented on #1337
@lluunn Any particular reason you added this to 0.4? Its not clear yet what the work is and 0.3 is already pretty oversubscribed.

[2018-08-10 13:45] jlewi commented on #1317
Downgrading to P2. Unless this is blocking #1240 I think its P2.

[2018-08-10 13:46] #1279 closed

[2018-08-10 13:48] jlewi commented on #1250
@yixinshi Is this done?

[2018-08-10 13:54] #1157 closed

[2018-08-10 14:02] jlewi commented on #1125
#34 Is about adding a UI element that makes it possible to add specific PVs to a specific Jupyter pod.

This issue was about making it easy to configure Jupyter to attach a given set of PVs to all jupyter pods.
This is possible via the environment variable
KF_PVC_LIST
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/kubeform_spawner.py#L241

This is mapped to the disks prototype para

[2018-08-10 14:02] #1125 closed

[2018-08-10 14:06] jlewi commented on #1089
@lluunn Is TF serving publishing Docker images now? Can we get out of the business of publishing TF Serving docker images?

[2018-08-10 14:07] 372046933 commented on #1330
I produced the error by successively sending three commands very fast.

[2018-08-10 14:08] jlewi commented on #1057
Lets add PyTorch to our codelab notebook image see #1157 and then close this out.

[2018-08-10 14:09] jlewi commented on #1053
We want to stop baking the registry into the bootstrapper image #1155 .

So this issue is obsolete.

[2018-08-10 14:09] #1053 closed

[2018-08-10 14:10] jlewi commented on #1048
This will be fixed by #1342

[2018-08-10 14:10] #1033 closed

[2018-08-10 14:15] jlewi commented on #1004
Related to #1337 multi-model workflows

[2018-08-10 14:17] jlewi commented on #1000
Closing this issue since initial PRs have been merged and we have issues filed for additional work.

[2018-08-10 14:17] #1000 closed

[2018-08-10 14:28] jlewi commented on #821
Fixed.

[2018-08-10 14:28] #821 closed

[2018-08-10 14:31] jlewi commented on #607
@cfregly any update on what you want to contribute for 0.3.0?

[2018-08-10 14:33] jlewi commented on #421
We should file issues related to previous comment and then close out this issue.

[2018-08-10 14:38] jlewi opened #1346 "Use node-affinty and node-feature-discovery to schedule TFServing on AVX2 nodes"
See https://github.com/kubeflow/kubeflow/issues/421#issuecomment-377559190

* node-feature-discovery is a daemon set that runs on nodes and labels them
* We can use node-affinity/anti-affinity to do proper scheduling

Our TFServing template should set node-affinity.

We might want to make that an optional parameter in case people don't have node-feature-discovery turned on.

/cc @balajismaniam

[2018-08-10 14:40] jlewi opened #1347 "[GCP] Launch node-feature daemonset on GKE"
We should include the node-feature daemonset so that nodes are labeled AVX2 for TF Serving.

See #421
See #1346

[2018-08-10 14:41] #421 closed

[2018-08-10 14:43] jlewi commented on #197
Closing this out because kubeflow is an org in DockerHub and we can add users as needed.

[2018-08-10 14:43] #197 closed

[2018-08-10 17:09] lluunn commented on #1089
Yes, yes.
We will change the default image to TF serving's, and cleanup the build/release infra.

[2018-08-10 18:56] kunmingg opened #1348 "GKE version "foo" is unsupported."
Currently in our deployment manager config we use GKE version "1.9.7-gke.3" as default, which recently got removed by GKE and not available any more.
Will remove GKE version from deployment manager config (when deploy, DM will use GKE's current default version), since GKE's version update and deprecate is quite frequent. To avoid this error happening again.
Leave one conditional version for stackd

[2018-08-10 19:11] kunmingg commented on #1348
@richardsliu @jlewi
This currently blocks all e2e tests.

[2018-08-10 19:26] wbuchwalter commented on #1240
@jlewi, If we are ok with introducing a new requirement (a `ReadWriteMany` PV) then yes I don't see any issue with that.
Ideally, a solution with no extra requirement is still better IMHO, but I don't have one...
For `emptyDir` yes it could work, but then we would need to ensure the notebook and the builder are running on the same node.
Since users can have nodes with arbitrary capacities and can

[2018-08-10 19:57] inc0 commented on #1240
@wbuchwalter alternative is S3 - it's fairly popular protocol and I think every major cloud (not sure about Azure) + on prem have good solutions for it. RWX is expensive thing to maintain, NFS isn't particularly great.
That comes back to idea I keep talking about - storage backend for kubeflow....

[2018-08-10 20:00] jlewi commented on #1348
I don't think we we want to upgrade the major version by default; we've seen breaking changes when moving from 1.9.7 to 1.10. So we should only upgrade the patch level.
e.g. from 1.9.7-gke.3 to 1.9.7-gke.5
but not from 1.9.7 to 1.10

[2018-08-10 20:01] jlewi commented on #1348
I think what we should do is

1. Have a default value in cluster-kubeflow.yaml
2. Check during project initialization if its valid
3. If its not valid change the default with a log message to a supported version.

[2018-08-10 20:03] jlewi opened #1350 "Trigger minikube E2E test on presubmit when minikube test is modified"
Right now we only run minikube E2E test on postsubmit.

But we should run the minikube test when the minikube test (i.e. the .jsonnet file defining the Argo workflow test) changes on presubmit so that we know the test is valid.

[2018-08-10 20:04] jlewi commented on #1350
Blocked by kubeflow/testing#187 need to be able to scope tests to certain files.

[2018-08-11 01:16] jlewi commented on #1330
@372046933 Thanks. Were you running ks in multiple threads/processes simultaneously?

[2018-08-11 08:05] xinzhangcmu commented on #1337
@jlewi it's both online and batch, but mostly batch

[2018-08-11 20:22] IMBurbank opened #1353 "Jupyter-role error applying kubeflow-core component with ksonnet"
Hi,

I've been trying different Kubeflow tutorials for over a week, just trying to get anything working so I can upgrade the data pipeline and model from there.

I'm currently trying [this tutorial](https://codelabs.developers.google.com/codelabs/kubeflow-introduction/index.html?index=..%2F..%2Fio2018#0) on Google Cloud and keep getting the following error:

[code]

All issues I've found here reco

[2018-08-12 04:38] Ankk98 commented on #1089
I too think it is better to use TF serving's image as the default image.

[2018-08-13 01:12] 372046933 commented on #1330
Nope, it seems that sometimes `ks generate tensorboard` failed to check `--logDir`

[2018-08-13 01:42] sarahmaddox commented on #1348
Hallo @kunmingg I'm getting this error at the moment.  I'm using Kubeflow v0.2.2

What I ran:
export KUBEFLOW_VERSION=0.2.2
curl https://raw.githubusercontent.com/kubeflow/kubeflow/v${KUBEFLOW_VERSION}/scripts/gke/deploy.sh | bash

Error:
- code: RESOURCE_ERROR
  location: /deployments/sarahmaddox-kubeflow-gcp/resources/sarahmaddox-kubeflow-gcp
  message: '{"ResourceType":"container.v1.cluster","R

[2018-08-13 02:07] IMBurbank commented on #1353
I have now tried this from scratch using Version combinations and get the same error:

Versions:
Kubernetes: (GKE Default) 1.10
Ksonnet: ks_0.9.2_linux_amd64
Kubeflow-core: v0.2.2
Kubeflow-TFserving: v0.2.2
TF-Job: NONE (appears to now be in Kubeflow-core)

Versions (default versions from tutorial):
Kubernetes: (GKE Default) 1.10
Ksonnet: ks_0.9.2_linux_amd64
Kubeflow-core: v0.1.0-rc.0
Kubeflow-TF

[2018-08-13 04:07] yixinshi commented on #1250
yes, it's done

[2018-08-13 04:07] #1250 closed

[2018-08-13 05:15] amsaha commented on #1250
@yixinshi what is the PR related to this?

was some documentation added at https://www.kubeflow.org/docs/about/kubeflow/? If yes, could you refer that link in this issue and if not could you please add or at least point us to some readme in the patch that you submitted?

[2018-08-13 11:59] pvsousalima commented on #1223
@jlewi I will open the PR before tomorrow night! I had a flu situation going on here... 👍

[2018-08-13 16:26] IMBurbank commented on #1353
Digging through this repo as best I could, I figured that maybe the problem was that I needed to use KSonnet 0.11.0 instead of v0.9.2 as in the tutorial or the v0.12.0 current release.

So... I started from scratch and tried this tutorial again using KS_VER=ks_0.11.0_linux_amd64

This time when I tried to apply kubeflow-core, it froze for over a minute before the process was killed. When I tried a

[2018-08-13 16:50] jlewi commented on #1223
Thanks. Hope your feeling better.

[2018-08-13 16:59] jlewi commented on #1337
For batch have you looked at using Apache Beam and our batch-predict support?

Using Apache Beam you could write a pipeline that consists of a sequence of DoFns where each DoFn does predictions using one model.

There are two potential difficulties.

1. We need to prevent fusing so that we only load 1 model at a time.
2. The Data flow runner can't use GPUs.

For 1. You could break it up into a seq

[2018-08-13 17:12] jlewi commented on #1353
See here:
https://www.kubeflow.org/docs/guides/troubleshooting/#rbac-clusters

You need to create an RBAC role to grant the user running the deployment sufficient permission to create the resources.

[2018-08-13 17:19] jlewi commented on #1348
@sarahmaddox  try the following

[code]

Then look in the directory `${DEPLOYMENT_NAME}__deployment_manager_configs` and look for cluster.jinja

and change this line
https://github.com/kubeflow/kubeflow/blob/v0.2-branch/scripts/gke/deployment_manager_configs/cluster.jinja#L81

To

[code]

Then rerun deploy.sh to deploy it.

[2018-08-13 17:26] IMBurbank commented on #1353
Hi,

Thank you for the response.

I tried gleaning everything I could from the [troubleshooting section](https://www.kubeflow.org/docs/guides/troubleshooting/#rbac-clusters). When I read that section, the only suggestion I saw was making sure to create an appropriate clusterrole binding using the command:

`kubectl create clusterrolebinding default-admin --clusterrole=cluster-admin --user=your-use

[2018-08-13 17:45] carmine commented on #819
The OCI image spec ..

https://github.com/opencontainers/image-spec

[2018-08-13 17:47] jlewi commented on #1353
When you run deploy.sh this should create a bunch of directories e.g
${DEPLOYMENT}_deployment_manager_configs
${DEPLOYMENT}_ks_app

At this point your GKE cluster should exist.  And you have your Kubeflow ksonnet app in ${DEPLOYMENT}_ks_app.

At this point if you're having trouble deploying the ksonnet APP due to the RBAC issue you should create an RBAC binding as mentioned above and then update t

[2018-08-13 18:31] kunmingg commented on #1348
@lluunn

[2018-08-13 18:33] jlewi commented on #1231
@kkasravi How's this going?

[2018-08-13 18:54] cliveseldon commented on #1337
You can send batch requests to Seldon and scale easily via the manifest and its replicas setting.

[2018-08-13 19:09] IMBurbank commented on #1353
I don't run a deploy.sh script in [this tutorial](https://codelabs.developers.google.com/codelabs/kubeflow-introduction/index.html?index=..%2F..%2Fio2018#0) (that I know of), and don't understand how it would be incorporated.

That user account is the correct one, and I'm running the command
`kubectl create clusterrolebinding default-admin \ --clusterrole=cluster-admin --user=$(gcloud config get-v

[2018-08-13 20:02] #1312 closed

[2018-08-13 22:10] jlewi commented on #1353
You're getting an RBAC error. The way to fix this is to fix the RBAC error by creating an appropriate cluster binding.

The output shows your attempt to create the cluster role binding failed

[code]
I would suggest running the command

[code]

To see whether the clusterrolebinding is actually bound to user  `BassManBurbank@gmail.com`

Can you also run the following command and paste the output in

[2018-08-13 22:25] IMBurbank commented on #1353
I believe I got that error because this was the first time I hadn't started from a fresh shell environment and kubernetes cluster. I had previously executed the command to set my user as the default-admin.

My previous cloud shell session timed out. I reconnected and here's the config:

[code]

[2018-08-13 22:42] jlewi commented on #1353
That looks correct.

Do you still have your ksonnet application somewhere? i.e. the directory

[code]

Lets confirm that ksonnet is pointing to the correct K8s cluster; what is the output of?

[code]

and what is the output of

[code]

Are they both using the same Kubernetes master?

[2018-08-13 22:45] jlewi commented on #1353
BTW if you join slack it might be easier to debug this in chat
https://kubeflow.slack.com/

[2018-08-13 23:00] lluunn opened #1354 "kfctl issue with retry"
First try
../scripts/kfctl.sh apply platform

[code]

Then I changed the zone to us-east1-d in cluster-kubeflow.yaml

Try again
../scripts/kfctl.sh apply platform

[code]

[2018-08-13 23:05] IMBurbank commented on #1353
This is a bit embarrassing/frustrating - I've been meaning to try Slack for a while as I constantly hear about it in my podcast lineup, but hadn't gotten around to it. Now that I've followed you link and tried to join, there seems to be a sign-in but no sign-up option (beyond @google, @microsoft and @caicloud.io domains). Nor did downloading the app or entering my email to see if I had been invite

[2018-08-14 03:26] walterhuangio commented on #1317
Hi, I came across this issue. Including knative in deployment is by following the install guide of knative and include it into the deploy scripts and bootstrap automation of kubeflow. The build CRD will be available once knative is installed.

Would you consider this good for a first time contributor? If so, I can take a stab at it. Also, I assume that the stopping condition of this issue is by in

[2018-08-14 04:39] IMBurbank commented on #1353
I'm not sure exactly why I had issues using the default-admin clusterrolebinding, but jlewi did help me get around this issue by creating a clusterrolebinding with a non-default name, such as

`kubectl create clusterrolebinding kfadmin \ --clusterrole=cluster-admin --user=$(gcloud config get-value account)`

Afterward, I got some component errors when trying to apply the kubeflow-core component:
`

[2018-08-14 04:41] #1353 closed

[2018-08-14 04:47] jlewi commented on #1354
Not all changes can be applied to an existing deployment. Try deleting the deployment before creating it again

[code]

[2018-08-14 13:13] jlewi commented on #1240
@wbuchwalter I think something that works with ReadWriteMany is fine.

@inc0 as noted above I think anyone with object storage can use that to pass around a tarball containing the build context.

[2018-08-14 13:49] #1344 closed

[2018-08-14 13:59] jlewi opened #1358 "kfctl.sh should create a fake kubeconfig context to fool ks init"
We'd like to be able to do

[code]

The generate phase calls `ks init`. This will fail if there is no KUBECONFIG file. The cluster, however, isn't created until we run the apply step.

The apply creates a new ksonnet environment that will point to the actual cluster.

To allow ks init to succeed we can create a fake KUBECONFIG file  like [this](https://github.com/inc0/kubeflow/blob/248ba7282efa72d

[2018-08-14 14:11] jlewi opened #1359 "kfctl.sh needs to get initial cluster version based on getServerConfig"
GKE deprecates patch versions for the master (see #1348) e.g.  1.9.7-gke.3 -> 1.9.7-gke.5 quite frequently.

We don't want to auto-upgrade to the latest minor version because that can also cause breaks. For example, in 1.9 to 1.10 the behavior of GCE ingress changed breaking certmanager (kubernetes/ingress-gce#388).

The short term solution is to have kfctl.sh call

[code]

and select an appropria

[2018-08-14 21:15] richardsliu commented on #1306
Seems like this is fixed if the cluster is deployed using ks version 0.12+.

[2018-08-14 23:52] #1340 closed

[2018-08-15 00:05] kkasravi commented on #1231
@jlewi: Update:
I have the following working:
Given something like:
[code]
the 'map' function maps all resources under jupyterhub as keys of "Kind/metadata.name".
For example - given the above line you could now do

jupyterhub['StatefulSet/tf-hub']
jupyterhub['ConfigMap/jupyterhub-config']
...

and each key would give you that Resource.

I also have functions where you can add, modify or delete an

[2018-08-15 04:29] sarahmaddox commented on #1348
Thanks @jlewi I've tried that but am still getting the error. I'll wait until this issue is fixed for v0.2 then try the end-to-end process again.

[2018-08-15 12:23] jlewi opened #1363 "Prow agent to automatically cherry-pick PRs onto release branches"
I thick prow has an agent  that will take care of cherry-picking PRs that are annotated onto release branches.

We should look into using that to simplify our release management.

[2018-08-15 12:32] jlewi commented on #1348
@lluunn I've merged #1355

Lets make the following changes as well

1. Change `master` to `v0.2-branch in deploy.sh
https://github.com/kubeflow/kubeflow/blob/v0.2-branch/scripts/deploy.sh#L9

1. Lets verify deploy.sh is reentrant
1. Lets tag it 0.2.3
1. Lets update the docs on the 0.2 branch

[2018-08-15 13:38] jlewi opened #1365 "Integrate microk8s into kfctl.sh"
Can we/should we integrate microk8s into kfctl.sh?

See kubeflow/website#118 for current instructions.

We'd like the syntax to basically be something like

[code]
One temp setup can be performed during init.

Cloud init file should be downloaded during the generate phase and stored in the app directory created by init.

The apply platform phase can be used to start the VM and run the script to in

[2018-08-15 13:47] jlewi opened #1366 "E2E testing for microk8s"
We'd like to have an E2E test for Kubeflow on microk8s.

We can model this on our minikube test. Basically

1. Create a GCE vm
1. Deploy Kubeflow using microk8s (see docs on website).
1. Run some tests.

The E2E test for GKE is in [kfctl_test](https://github.com/kubeflow/kubeflow/blob/master/testing/workflows/components/kfctl_test.jsonnet) that's probably a good place to start because it

1. uses

[2018-08-15 13:59] jlewi opened #1367 "[microk8s] error while loading shared libraries: libpython3.6m.so.1.0"
In slack a user is reporting that JupyterHub is crashing with the following error on microk8s

[code]

[2018-08-15 16:13] arllanos opened #1368 "Seldon and Argo missed in deploy.sh"
After installation is completed, there is neither seldon nor argo pods deployed in the cluster.

This is happening despite 'ks pkg install' commands for argo and seldon packages are included in deploy.sh.

In the case of Seldon, ks generate command is missed in deploy.sh as well as the correponding 'ks apply default -c seldon' - see [this](https://www.kubeflow.org/docs/guides/components/seldon/)

[2018-08-15 18:18] lluunn commented on #1005
This is replaced by #1299

[2018-08-15 18:18] #1005 closed

[2018-08-15 18:26] lluunn commented on #371
we don't need this now that #1299

[2018-08-15 18:26] #371 closed

[2018-08-15 21:19] kunmingg opened #1369 "Dockerfile.Builder: clean src code / vendor after build go binary."
Our current [Dockerfile.Builder](https://github.com/kubeflow/kubeflow/blob/master/bootstrap/Dockerfile.Builder) didn't clean src code / dependency after build go binary, so current gcr.io/kubeflow-images-public/bootstrapper-builder image size is 3.93 GB. Which is unnecessary burden on each image build depends on builder image.

We can either clean up the code after build, or have 2-layers in Docke

[2018-08-15 21:19] kunmingg commented on #1369
@jlewi
@kkasravi

[2018-08-16 08:00] AdrianLsk commented on #1348
I had the same issue. Worked for me, thanks!

[2018-08-16 10:18] ktsakalozos commented on #1367
Thank you for opening this issue.

This issue seems to affect only jupyterhub docker image and any snapped dockerd such as the one in microk8s. Kubeflow builds on top of the jupyterhub image (https://github.com/kubeflow/kubeflow/blob/master/components/jupyterhub/docker/Dockerfile#L15) and this is how the issue was spotted. Older versions of kubeflow's jupyterhub where using the pip3 package (https

[2018-08-16 10:40] ktsakalozos commented on #1367
I think I can provide a specially built jupyterhub image and incorporate it into the deploy.sh script with `ks param set kubeflow-core jupyterHubImage <my_image>`

[2018-08-16 17:19] karthikvadla commented on #838
@everpeace I saw volume mount is not working when i upgrade to ksonnet `0.12.0`. I was fine with `0.11.0`.
Is there any issue with latest release?

[2018-08-16 19:18] kunmingg opened #1373 "Unify API of kubeflow go pkg to serve both deploy web app and cmd line tool."
We have been developing [deploy app](https://github.com/kubeflow/kubeflow/tree/master/components/gcp-click-to-deploy) and [deploy script](https://github.com/kubeflow/kubeflow/tree/master/scripts) individually for a while:

Current problem:
1. Configs / features are not in sync, we need consistent user experience (through consistent config).
2. As we adding more features / components to kubeflow, b

[2018-08-16 21:46] karthikvadla commented on #838
And also do we support persistent volumes? Because i want to save the results after model training. I tried exporting `gcs` creds in containers..and trying writing to it, that didn't help.
Is there anyway i can store results permanently to use later with tensorboard.?

[2018-08-17 05:08] jlewi commented on #1367
@ktsakalozos That's a good approach; its perfectly fine to customize the app for a specific platform and that includes overwriting the image.

[2018-08-17 05:09] jlewi opened #1377 "Test flake : Could not apply GPU daemonset; complains about apiVersion missing"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/1376/kubeflow-presubmit/3000/

[code]

[2018-08-17 13:33] jlewi opened #1379 "Use ArgoCD API Server to convert various templating solutions (helm, ksonnet, kustomize) to YAML"
As discussed in a variety of places; we'd like a microservice that makes it easy to convert a templates (helm, ksonnet, kustomize) to YAML

For example, in Katib, we'd like the StudyCtrl to take a template which can then be evaluated with the hyperparameters to produce actual K8s resources.

As @jessesuen noted [here](https://github.com/kubeflow/kubeflow/issues/971#issuecomment-413168538)

This co

[2018-08-17 13:41] jlewi commented on #1231
Why do you need to do the map command?

I thought jupyterhub.libsonnet might just look like the following

[code]

So then you can just do

[code]

add, modify, delete to be applied. Is it done in kfctl? In which case would it be done prior to apply, or maybe after apply using kubecfg?

I don't think modifications should be done in kfctl.sh. I'm trying to prevent scope creep in kfctl.sh.

My think

[2018-08-17 13:46] jlewi commented on #1317
@walterhuangio We'd like a ksonnet package for installing knative artifacts. If knative provides YAML manifests for deploying it then I think we can just use ksonnet's native support for YAML.

See:
https://github.com/kubeflow/kubeflow/blob/master/docs_dev/ksonnet_packages.md

[2018-08-17 13:49] jlewi commented on #1089
@lluunn Are we having problems with the TFServing images? #1321?

[2018-08-17 13:51] #1291 closed

[2018-08-17 17:30] lluunn commented on #1089
using 1.8 cpu and 1.10 gpu #1370

[2018-08-17 17:38] lluunn commented on #1299
We use 1.8 cpu and 1.10 gpu because 1.9 and 1.10 cpu have some certificate issue (see #1370 )

I think they are fixing it in https://github.com/tensorflow/serving/commit/701d5adeb9c635f95520fa9f00eaa68500566a3a

[2018-08-17 17:50] lluunn commented on #1299
reopen it until we are using latest 1.10

[2018-08-17 20:10] jlewi commented on #1348
We've published a new RC with the fix. You can try

[code]

[2018-08-17 20:14] karthikvadla commented on #838
There were some docker network issues. Still not able to write to `GCS` but NFS did work :)

[2018-08-18 00:35] Ark-kun opened #1383 "The testing/install_minikube.sh script assumes the host OS is Ubuntu."
This can easily be fixed so that users of other systems (e.g. Debian) can use that script

[2018-08-18 08:52] tingweiwu opened #1386 "[openmpi] Running Horovod hang on wait_mpi_ready"
I follow this guide
https://github.com/kubeflow/kubeflow/tree/master/kubeflow/openmpi

my images and exec is as follow
[code]

and now master and 2 worker is all running

[code]

logs from master is as follow. it seems that hang on `wait_mpi_ready`.  what that meaning?

[code]

ks version and k8s verison is
[code]
[code]

[2018-08-18 20:03] mameshini commented on #668
@ankushagarwal Do yo have any suggestions for installing Python libraries from the JupyterHub notebook?

The following works fine, and installs the libraries:
`! conda install -y pyparsing kiwisolver`
The following does not work:
`! conda install -y seaborn`
`ERROR conda.core.link:_execute(502): An error occurred while installing package 'conda-forge::pytz-2018.5-py_0'.
PermissionError(13, 'Permis

[2018-08-19 15:45] pdmack commented on #1089
All sounds reasonable. I don't see anything in the Dockerfile that is specific to KF. #1321 not withstanding.

[2018-08-19 17:31] TheJaySmith commented on #971
@jlewi think we are good to go. Just trying to get it past tests in the PR (v0.1.1)

[2018-08-19 20:56] sarahmaddox commented on #1348
Thanks! That worked - the deploy script ran to completion and my K8s resources are visible to kubectl and in the Kubernetes Engine console.

[2018-08-19 23:56] jlewi commented on #1306
Can we still implement a work around so that we don't have to require 0.12 just to fix this?

[2018-08-20 00:04] jlewi commented on #1331
kubeflow/kubeflow#1342

Updated our tests to use kfctl.sh

deploy.sh is still being called by deploy_kubeflow_gcp.sh which is referenced in workflows.jsonnet.

I don't think its still being used though; so we could probably just delete it and remove the references.

[2018-08-20 01:25] jlewi commented on #251
@yixinshi Can we close this issue? I think batch prediction with GPUs and local runner is working now?

[2018-08-20 01:52] jlewi commented on #1383
@Ark-kun Do you mean for deploying Kubeflow on minikube? There is work in progress to update our scripts; kfctl.sh to better support minikube. I don't know that we want folks to start using testing/install_minikube.sh for that.

[2018-08-20 01:54] jlewi commented on #1386
@rongou Any thoughts?

[2018-08-20 01:58] rongou commented on #1386
Not my version of mpi support. :) @jiezhang

[2018-08-20 02:57] bhack commented on #1116
@jlewi Any internal contact with knative google team?

[2018-08-20 05:57] cliveseldon opened #1389 "GKE Deploy fails in European Zone as no NVIDIA GPUs available"
The core error seems to be

[code]
Full trace:

[code]

[2018-08-20 12:33] jlewi commented on #1389
Sorry about that.

I think the solution is to modify the deployment manager configs to disable GPUs before deploying.

I'd suggest trying it out with master.
https://master.kubeflow.org/docs/started/getting-started-gke/#quickstart-deploying-kubeflow-on-gke

After running `generate` but before calling `apply` modify the deployment manager configs.
Try setting gpu-pool-max-nodes nodes to 0 here:
htt

[2018-08-20 17:43] jlewi commented on #1239
I fixed this on the 0.2.2 branch.

At master we should upload download.sh and update the release instructions.

[2018-08-20 17:48] jlewi commented on #1048
Presubmit should be running this test; but its not clear that we are properly reporting it to test grid.
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/1388/kubeflow-presubmit/3024

Postsubmits are even stranger:
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-postsubmit

For example this postsubmit:
https://k8s-gubernator.appspot.com/build/kubern

[2018-08-20 19:51] chrisheecho opened #1390 "Update 0.2 blog with new deployment script"
@jlewi should we update the [0.2 blog](https://www.kubeflow.org/blog/announcing_kubeflow_0.2/) with the new script from [1311](https://github.com/kubeflow/kubeflow/pull/1311)

"curl https://raw.githubusercontent.com/kubeflow/kubeflow/v0.2.3-rc.0/scripts/gke/deploy.sh | bash"

[2018-08-20 21:26] #1383 closed

[2018-08-21 04:30] jlewi commented on #1390
@chrisheecho Yes but we can use the following now

[code]

[2018-08-21 04:30] jlewi commented on #1390
/assign @chrisheecho

[2018-08-21 04:31] jlewi commented on #1348
/assign @richardsliu

@richardsliu Looks like the only thing left to do is update the docs on the 0.2 branch.

[2018-08-21 04:53] jlewi commented on #56
See this thread:
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubeflow-discuss/CKx5wVqzfAs/NoRMdWm9DQAJ

It looks like JupyterHub has an option to cull idle notebooks which would be very useful. The instructions
https://zero-to-jupyterhub.readthedocs.io/en/latest/user-management.html

Indicate it is options specified in the helm chart's config.yaml; so we probably need

[2018-08-21 06:27] clkao commented on #56
The cull service is actually somewhat problematic as it kills browser-inactive users, even though they might have running kernels.

newer jupyter notebook has built in idle culling based on kernel activity, but this needs to be enabled in notebook.  mybinder uses [singleuser extraEnv](https://github.com/jupyterhub/mybinder.org-deploy/blob/master/appendix/extra_notebook_config.py) to configure note

[2018-08-21 12:57] jlewi commented on #1310
Looks like this is fixed.

[2018-08-21 12:57] #1310 closed

[2018-08-21 12:59] jlewi commented on #1223
@pvsousalima How's this coming? Do you think you will be able to make progress?

[2018-08-21 12:59] jlewi commented on #1240
@wbuchwalter How's this coming?

[2018-08-21 13:03] jlewi commented on #56
@clkao Thanks; so just to double clarify all we need to do is set the environment variables as specified here: [extra_notebook_config.py](https://github.com/jupyterhub/mybinder.org-deploy/blob/master/appendix/extra_notebook_config.py)? I assume we set this in the pod running Jupyter and not JupyterHub?

[2018-08-21 13:11] jlewi commented on #607
Removing from 0.3.0.

[2018-08-21 13:13] jlewi commented on #1231
@kkasravi any thoughts?

[2018-08-21 14:12] clkao commented on #56
Let me clarify a bit further since there are multiple things involved:

1. Notebook pod: needs to tweak MappingKernelManager to enable shutdown_no_activity_timeout and kernel culling.
2. Notebook pod: Uses extra_notebook_config to set (1) from env var
3. Hub pod: use singleuser extraEnv to config to configure (2)

(2) is tricky, as you need to bake it into the notebook image which is hard to guara

[2018-08-21 14:35] wbuchwalter commented on #1240
@jlewi sorry for the delay. It's coming along. Had to do some major refactoring + making the project a bit more stable all around.
Currently working on knative integration.

[2018-08-21 16:27] tlkh opened #1393 "JupyterHub Version Mismatch"
Earlier today, I can reproduce the error multiple times by simply installing Kubeflow on a brand new Minikube node in a VM, across about two hours before I managed to resolve it for myself. I used v0.2.2, as installed using `ks`, and it threw an Redirect Loop error when starting a Jupyter Notebook from the JupyterHub spawner.

I used the image `gcr.io/kubeflow-images-public/tensorflow-1.8.0-notebo

[2018-08-21 16:41] tlkh opened #1394 "Jupyter - Culling of Idle Pods"
JupyterHub has a demo on culling idle pods using a script.
This is present as [an example on JupyterHub service](https://github.com/jupyterhub/jupyterhub/tree/master/examples/cull-idle)
I have a somewhat ghetto solution to implementing this within Kubeflow using configmap

We add the following configuration into the Config Map `jupyterhub-config`:
[code]

The solution works by having JupyterHub st

[2018-08-22 00:00] Ark-kun opened #1398 "Kubernetes API server removed support for the root /proxy paths in v1.10 (deprecated since v1.2)"
See https://github.com/kubernetes/kubernetes/pull/59884, https://github.com/kubernetes/kubernetes/commit/687c651dfd0793d53299b27c5472d69ef4c4c44f, https://github.com/kubernetes/kubernetes/issues/59885,

We'll need to fix our URLs otherwise they would stop working once we upgrade to 1.10.

[2018-08-22 04:42] jlewi commented on #1398
@Ark-kun What URls in Kubeflow are using /proxy?

[2018-08-22 12:53] jlewi opened #1401 "Don't use DM for IAM policy management"
Right now our DM config [cluster.jinja](
https://github.com/kubeflow/kubeflow/blob/master/scripts/gke/deployment_manager_configs/cluster.jinja#L161)

Adds a bunch of IAM role bindings.

This creates two problems

1. The optimistic locking on setting IAM roles can block DM creation. It also makes deleting deployments really complicated because we need to do an update before doing a delete.
1. it re

[2018-08-22 16:59] kunmingg commented on #1401
Agree, current IAM role manage logic is fragile.

[2018-08-22 17:40] #1146 closed

[2018-08-22 17:49] inc0 opened #1402 "Seldon cluster needs imagePullSecrets"
Currently it's impossible to use seldon prototype with private registry. There is no way to specify imagePullSecrets as parameter.

[2018-08-22 17:49] inc0 commented on #1402
/cc @cliveseldon

[2018-08-22 18:16] cliveseldon commented on #1402
I'll take a look at updating the prototypes

[2018-08-22 21:00] ankushagarwal commented on #1401
IAM management is problematic in DM, but I don't think that either #1 or #2 is a good idea because we will end up creating our own deployment manager for declaratively managing IAM configs.

[2018-08-22 23:47] jlewi commented on #1401
@ankushagarwal is that duplication less desirable than the current situation?

In particular, granting DM ability to set IAM policies seems highly undesirable.

In current situation, we need to create our own delete wrapper because we can't issue a DM delete without issuing an update first.  This has a bunch of drawbacks; including
   * not being able to easily delete via U
   * If a DM is partial

[2018-08-23 00:55] jlewi commented on #1048
Here's the most recent postsubmit job
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubeflow_kubeflow/kubeflow-postsubmit/612/

INFO|2018-08-22T21:46:41|/src/kubeflow/testing/py/kubeflow/testing/run_e2e_workflow.py|162| Skipping workflow kfctl.

It got skipped because modified files don't match the include dirs.
I think on postsubmit we should run all tess.

[2018-08-23 01:21] jlewi opened #1407 "Argo deploy test failed"
Seeing a lot of argo test failures on presubmits
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/1399/kubeflow-presubmit/3081/#deploy-kubeflow-deploy_argo-test-argo-deploy

[2018-08-23 01:27] jlewi commented on #1407
Looks like the test has been there for 4 months; added in #777

[2018-08-23 01:39] ankushagarwal commented on #1401
I guess it makes sense if we have already added code to manage IAM policies outside of DM.

[2018-08-23 01:42] #1306 closed

[2018-08-23 02:12] jlewi commented on #1407
Event logs indicate the workflow exists
https://pantheon.corp.google.com/logs/viewer?project=kubeflow-ci&minLogLevel=0&expandAll=false&timestamp=2018-08-23T01:29:59.374000000Z&customFacets=&limitCustomFacetWidth=true&dateRangeStart=2018-08-23T00:31:46.206Z&dateRangeEnd=2018-08-23T01:31:46.206Z&interval=PT1H&resource=container%2Fcluster_name%2Fkfctl-93f8&advancedFilter=resource.labels.cluster_name%

[2018-08-23 02:28] jlewi commented on #1407
I think a better solution would be

1. Have the python file test_deploy.py create the YAMl spec for the workflow so its always the same and the name is deterministic
1. Use https://github.com/kubeflow/testing/blob/master/py/kubeflow/testing/argo_client.py to wait for the workflow to complete successfully rather than polling pods.

[2018-08-23 05:16] ankushagarwal commented on #1401
FYI I've started taking a stab at this : https://github.com/kubeflow/kubeflow/pull/1408/

I'm going with suggestion #2

[2018-08-23 13:10] jlewi opened #1409 "[gcp] kfctl should check if user has required permissions"
kfctl should try to detect whether user has required permissions to set up Kubeflow and if not print suitable error messages.

A simple check would be to see if the user can via the IAM policy for the project.

We could also check and warn the user if they are running on a VM and using a compute service account.

[2018-08-23 14:36] pvsousalima commented on #1223
hey @jlewi I am very sorry for such late response, again I got better only yesterday and back to my normal work activities. Yes I will be able to make progress in such. 👍 Will go for the PR today!

[2018-08-23 15:06] jlewi commented on #1393
I checked as well  with 0.2.4 and  I was able to launch a notebook.

I used:
notebook image: gcr.io/kubeflow-images-public/tensorflow-1.8.0-notebook-cpu:v0.2.1
JupyterHub image: gcr.io/kubeflow/jupyterhub-k8s:v20180531-3bb991b1

Users can customize the JupyterHub image if they want by setting the parameter in their JupyterHub prototype.
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/cor

[2018-08-23 15:06] #1393 closed

[2018-08-23 15:12] jlewi commented on #1348
I just checked 0.2.4 and it is working.

[2018-08-23 15:12] #1348 closed

[2018-08-23 22:51] kkasravi commented on #1231
copying from the PR

This now works
[code]

[2018-08-24 01:32] pvsousalima commented on #1223
@jlewi I have pushed a PR that needs review. I didn't touch the tf-hub-lb only the Statefulset and it's correlated services including headless.

[2018-08-24 03:58] #1231 closed

[2018-08-24 04:01] jlewi commented on #1331
Post-submit run:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_chainer-operator/21/kubeflow-chainer-operator-presubmit/57/

Looks like minikube broke because it depends on deploy_kubeflow.py which we deleted in #1406.

[2018-08-24 05:58] #1401 closed

[2018-08-24 07:01] cliveseldon commented on #1402
imagePullSecrets can be specified in the PodTemplateSpec part of the SeldonDeployment. Would this not solve the issue?

[2018-08-24 10:27] YogeshSomawar opened #1412 "How to spawn the jupyter container as a root user"
Hi,

As part of my development, I would like to spawn the jupyter container as a root user.
Is there any way to do so.
I tried to by changing the following in kubeform_spawner.py,

But didn't help, with this change container getting exited with following error :
checking if /home/jovyan volume needs init...
.../home/jovyan already has content...
...done
usermod: no changes
Execute the command as j

[2018-08-24 12:29] pdmack commented on #1412
Are you sure you need to be `root`? The `jovyan` user should be able to pip/conda install packages, if that's what you are after.

[2018-08-24 13:09] zehni opened #1413 "istio 1.0 for kubeflow metrics"
Hello,

I am currently serving ML models on kubeflow in the default namespace. I have been trying to get metrics using istio 1.0, but it seems that [1309](https://github.com/kubeflow/kubeflow/issues/1309) shows that kubeflow is not ready yet for istio 1.0

I have tried installing istio 0.7 and apply the steps explained [here](https://www.kubeflow.org/docs/guides/components/istio/) but it doesn't s

[2018-08-24 13:18] jlewi commented on #1213
After kubeflow/tf-operator#789 tf-operator can handle two cases
1. operator handles jobs for all namespaces
1. operator handles a single namespace

There is the remaining case where we want the TFJob operator to handle a subset of namespaces.
I think a reasonable solution is to just create 1 operator per namespace.

/cc @johnugeorge

[2018-08-24 13:59] jlewi commented on #1320
Here's Jay's code
https://github.com/TheJaySmith/kubeflowpush/blob/master/push.py

1. Its using docker. which will make this a pain to run on K8s.
1. It looks like it uses a hand written list of images to sync

Jay I suggest putting relevant code here:
https://github.com/kubeflow/kubeflow/tree/master/releasing

Jay I don't think we need to use docker. We can

1. Shell out to gcloud to get a list o

[2018-08-24 14:27] ankushagarwal commented on #1213
This is done.

I created a new image for tf operator and updated ksonnet prototypes for tf-job to namespace scope the operator.

https://github.com/kubeflow/kubeflow/pull/1403

[2018-08-24 14:37] jlewi commented on #1116
Yes I've talked to them about their plans and the build CRD in particular.

is there something in particular you want to discuss?

[2018-08-24 15:50] bhack commented on #1116
I am just thinking about how this will fit also with preprocessing https://github.com/tensorflow/transform

[2018-08-24 16:53] kkasravi opened #1414 "standardize remaining <component>.{jsonnet,libsonnet} files"
jupyterhub.{[jsonnet](https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/prototypes/jupyterhub.jsonnet),[libsonnet](https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/jupyterhub.libsonnet)} allows one to easily add, update or remove resources or parts of resources. For example if one wanted to add imagePullSecrets to jupyterhub's HubStatefulSet one would do:

[code]

This p

[2018-08-24 16:56] jlewi commented on #1413
What are the errors?

[2018-08-24 17:03] jlewi commented on #1414
@kkasravi Do you want to start a style guide
https://github.com/kubeflow/kubeflow/tree/master/docs_dev

So we can begin to document best practices?

[2018-08-24 17:07] jlewi opened #1415 "kfctl.sh should not assume uuidgen is present"
Right now kfctl.sh tries to use uuidgen to create a unique id
https://github.com/kubeflow/kubeflow/blob/master/scripts/util.sh#L74

This will cause a crash on a platform without uuidgen like Cloud Shell.

If uuidgen is not present we should simple fallback to an id like "unknown"

[2018-08-24 17:56] TheJaySmith commented on #1320
Let me play with it this weekend to use gCloud and I will upload it to the https://github.com/kubeflow/kubeflow/tree/master/releasing location. Will update you before Monday

[2018-08-24 18:11] jlewi opened #1416 "minikube e2e test should use kfctl"
Once #1387 is submitted we should update the E2E test for minikube

Here's some libsonnet we defined to define an Argo subgraph to use kfctl.sh to deploy on GKE
https://github.com/kubeflow/kubeflow/blob/master/testing/workflows/components/workflows.libsonnet#L58

minikube adds some complexity because we need to execute the commands via ssh on a remote VM.

Here's an example of how we use it for GK

[2018-08-24 18:35] kunmingg opened #1417 "[kfctl] support specify registries & version in "/kfctl/apps/create" request."
See comment in https://github.com/kubeflow/kubeflow/pull/1356.
Basically we want to be able to create ks app with any registry & version specified in request.
Backend should download tarball of target version if not already available.

[2018-08-24 18:39] kkasravi commented on #1414
@jlewi I'll include the style guide in this PR

[2018-08-24 18:39] kunmingg opened #1419 "[kfctl] Create kfctl CLI"
Should cover same user experience as https://github.com/kubeflow/kubeflow/blob/master/scripts/kfctl.sh

Can use https://github.com/spf13/cobra

Available APIs here:
https://github.com/kubeflow/kubeflow/blob/master/bootstrap/cmd/bootstrap/app/ksServer.go

[2018-08-24 18:48] kunmingg opened #1420 "[kfctl] Web app redirect after IAP up."
Kfctl web app should redirect to the newly created kubeflow UI once IAP is available.

[2018-08-24 18:55] kunmingg commented on #1420
One way is deploy monitoring components as default, and watch monitor signal to determine when to redirect.

[2018-08-24 21:12] lluunn opened #1421 "[kfctl] webapp improvement"
UI
- We don't need user to fill out ip name and host name
- better default value for deployment name
- drop down menu for zone?

Other
The app should stop polling the status of deployment once it's DONE.

[2018-08-24 21:12] sarahmaddox opened #1422 "deploy.sh should be restart-aware in terms of directory structure"
This has happened to me a couple of times and is quite a confusing experience:
1. Run deploy.sh
1. Script fails - in my case, it's usually because I've run out of quota somewhere
1. Fix problem
1. Run deploy.sh again
1. Script gives error because it can't find its config file, cluster-kubeflow.yaml
1. Move to correct directory and run script again
1. Script re-creates its entire directory structur

[2018-08-24 23:08] ankushagarwal commented on #1422
deploy.sh is deprecated now and is about to be removed

Try switching to kfctl.sh https://master.kubeflow.org/docs/started/getting-started-gke/

[2018-08-24 23:08] #1422 closed

[2018-08-25 18:30] jlewi opened #1426 "tf_job_simple_test results not being report"
Here's a postsubmit run
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubeflow_kubeflow/kubeflow-postsubmit/619

There are 10 passed tess
test_jsonnet
deploy-kubeflow-deploy_argo-test-argo-deploy
deploy-kubeflow-deploy_minikube
deploy-kubeflow-deploy_model-mnist-cpu
deploy-kubeflow-deploy_pytorchjob-pytorch-job
deploy-kubeflow-teardown
deploy-kubeflow-teardown_minikube
smoke-tfj

[2018-08-25 18:40] jlewi commented on #1426
[code]

So test didn't create a new job; but updated an existing job; that's a bit strange.
Also it looks like the test expects the job to be named mycnn job.

[2018-08-25 19:01] jlewi commented on #1426
List of the XML files uploaded are here
http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/kubeflow_kubeflow/kubeflow-postsubmit/619/artifacts/

Looks like generate_xml might not be logging a message when it writes the output
https://github.com/kubeflow/testing/blob/master/py/kubeflow/testing/test_helper.py#L47

[2018-08-25 20:05] JCzz opened #1428 "Any reason to use ksonnet over skaffold in Quick Start"
Hi

Any reason for using ksonnet over skaffold in you "Quick Start" https://www.kubeflow.org/docs/started/getting-started/

Thanks

[2018-08-25 21:58] jlewi opened #1429 "kfctl.sh unable to find component ambassador"
I ran kfctl.sh at head

[code]
and got the error.

[code]

I think @abhi-g reported similar issues when working on #1387 and thought the problem was due to using negative integers as defaults in the JupyterHub prototype. But it looks like something else may be going on here.

presubmits passed in #1387 so not sure why it would pass there and not in other places; only difference is in the test we r

[2018-08-25 22:00] jlewi commented on #1429
[code]

So the component is there.

Parameters are in the components/params.libsonnet

[code]

[2018-08-25 22:07] jlewi commented on #1429
This appears to be related to the fact that we delete the environment

After running `kfctl.sh generate k8s` I could reproduce the problem if I tried to set the parameter. But if I then added an environment the command succeeded.

[code]

I then removed the environment again and trying to set the parameter failed.

[code]

So looks like an issue with not having an environment. I think we need to a

[2018-08-25 22:26] vanpelt opened #1430 "Bootstrapper fails in docker-for-desktop"
I'm getting the following error when trying to install kubeflow with bootstraper 0.2.4 in [docker-for-desktop](https://docs.docker.com/docker-for-mac/#kubernetes) on Mac:

[code]

What's the best way to debug this?

[2018-08-25 23:41] jlewi commented on #1430
I'm not sure it will work for Docker on Desktop out of the box.

I don't think Docker on Desktop supports RBAC and our ksonnet configs rely on RBAC. So to make it work on RBAC you need to do some manual config.

/cc @texasmichelle

[2018-08-25 23:43] jlewi commented on #1429
Actually I it looks like the command

[code]

Might be invalid; i.e. it is missing a value.

I just retried at HEAD using platform "gcp" (not gke) and it seemed to work. So the error seems to be dependent on the cloud value. Which could explain why tests are passing.

[2018-08-26 02:08] abhi-g commented on #1429
It looks like ambassador section in params.libsonnet has "cloud" : "null".

Looking through the kfctl.sh script, the createEnv() function sets KUBEFLOW_CLOUD into the generated env.sh. This happens within the specific platform types: "minikube", "ack", & "gcp". If the specified platform is not exactly one of those, the "cloud" : "null" would probably get generated into the components. This explain

[2018-08-26 08:36] zehni commented on #1413
[code]
I know that this is configmap is called within the `webhook-patch-ca-bundle.sh` as follows

`export CA_BUNDLE=$(kubectl get configmap -n kube-system extension-apiserver-authentication -o=jsonpath='{.data.client-ca-file}' | base64 | tr -d '\n')`

However, I don't know where to find this file to install it

[2018-08-26 15:54] cliveseldon commented on #1402
There is a PR now with imagePullSecret in the prototypes to make this easier : #1431
As said, you can simply add the imagePullSecrets to your spec but this PR would show examples.

[2018-08-27 01:35] kunpengprod commented on #1213
Thank you Jeremy and Ankush!

[2018-08-27 02:22] jlewi opened #1432 "[gcp] VM account should have GCS read only scope to support pulling from GCR"
Our DM configs should add readonly scope to the VM service account so that we can pull private images.

https://github.com/kubeflow/kubeflow/blob/master/scripts/gke/deployment_manager_configs/cluster.jinja#L24

We should include
https://www.googleapis.com/auth/devstorage.read_only

[2018-08-27 14:39] jlewi opened #1433 "[gcp] E2E test to verify can read from private GCR ."
See #1432

We should have an E2E test to verify that we can read from private GCR using the default settings used by kfctl.sh

We can simply adapt one of our tests like:
https://github.com/kubeflow/tf-operator/blob/master/test/workflows/components/simple_tfjob_v1alpha2.jsonnet

And have it use an image in a private GCR; kubeflow-ci should work or we could create a new project/registry.

[2018-08-27 16:50] jlewi commented on #1240
@wbuchwalter Thanks; where does the code currently live? Should we start moving it into kubeflow/kubeflow? We can just create a top level directory or maybe just put it subdirectory of components?

[2018-08-27 17:14] jlewi opened #1435 "Update CentralUI image used at head and 0.3 branch"
We committed a number of improvements to the central UI.

We need to update the docker image used at head in order to test out these changes.

[2018-08-27 17:15] jlewi commented on #1435
@swiftdiaries Are we continuously building the central UI image? If we have an updated image can you create a PR to update the image used in ksonnet?

[2018-08-27 17:56] vanpelt commented on #1430
I checked and RBAC is enabled.  I just used the deploy.sh and everything seemed to work fine: curl https://raw.githubusercontent.com/kubeflow/kubeflow/v0.2.4/scripts/deploy.sh | bash

[2018-08-27 19:15] swiftdiaries commented on #1435
I don't think we are building it continuously. I'll get a PR in to fix that.

[2018-08-27 19:50] jlewi commented on #1430
Great thanks .

[2018-08-27 19:50] #1430 closed

[2018-08-27 20:53] jlewi opened #1436 "[test flake] mnist gpu test is very flaky; not enough GPU; autoscaling not enabled for the GPU pool"
I'm seeing a lot of presubmit falkes

[code]

[2018-08-27 20:55] jdstrand commented on #1367
FYI, the LD_LIBRARY_PATH scrubbing was diagnosed here: https://forum.snapcraft.io/t/ld-library-path-in-snapped-docker/6903/16

[2018-08-27 20:59] jlewi commented on #1436
Looked at the events in this namespace

[code]

[code]

[2018-08-27 21:03] jlewi commented on #1436
I see old clusters that haven't been turned down.

[2018-08-27 21:08] jlewi commented on #1436
[code]

[2018-08-27 21:12] jlewi commented on #1436
kubeflow/testing#190 Create a cron job to delete leaked resources.

[2018-08-27 21:17] jlewi commented on #1436
Trigger a manual run

[code]

[2018-08-27 21:38] jlewi commented on #1436
Looks like autoscaling not enabled for the GPU pool; GPU pool has size 2.

Enable autoscaling

[code]

[2018-08-27 22:56] #1426 closed

[2018-08-28 01:34] 372046933 commented on #1429
@jlewi Maybe you mean KUBEFLOW_CLOUD

[2018-08-28 01:44] 372046933 commented on #1429
`ks env add --api-spec=version:$K8S_VERSION default` has to be executed manually.

[2018-08-28 16:50] jiezhang commented on #1386
@tingweiwu wait_mpi_ready is waiting for all the workers to become ssh ready.

Can you increase initTimeout to say 600 seconds? `ks generate openmpi --initTimeout 600 ...`

[2018-08-28 21:36] pdmack opened #1438 "Review/extend jovyan permissions in TF notebooks"
[code]
/assign

[2018-08-28 21:46] pdmack commented on #1438
Too late here if a pip install writes to site-packages/docs

https://github.com/kubeflow/kubeflow/blob/master/components/tensorflow-notebook-image/Dockerfile#L143

[2018-08-28 21:51] ai4life commented on #1428
Why use ksonnet vs skaffold, as well as draft, gitkube, helm, metaparticle, forge.sh, psykube?

[2018-08-29 00:44] #1350 closed

[2018-08-29 03:09] 372046933 opened #1440 "Chief worker cannot start"
The same training job can be run by multiple `Worker` and `PS`, but if I add a `Chief` to TFJob, the chief pod just cannot start.

[2018-08-29 04:57] richardsliu commented on #1440
What version of Kubeflow and TFJob operator are you using?

[2018-08-29 05:34] sarahmaddox commented on #1432
Confirmation: I've just successfully pulled a container into GKE from GCR, after manually adjusting the OAuth settings in cluster.jinja as described in this issue.

Before making that change, I reliably received the following error in GKE:
ImagePullBackOff rpc error: code = Unknown desc = unauthorized: authentication required: ErrImagePull
Failed to pull image "gcr.io/ml-writers/sarahmaddox-kf-gcp

[2018-08-29 11:46] YogeshSomawar commented on #1412
Hello,

Yes, apt-get install.
Also, I tried to install hdfs3 by conda, it is also giving permission denied
`conda install hdfs3 -c conda-forge -y
`
[code]

[2018-08-29 12:06] pdmack commented on #1412
The  `jovyan` user can install hdfs3 with pip using the unmodified uid and fs_gid.

For the apt-get installs you may just want to build your own custom TF notebook image from here:
https://github.com/kubeflow/kubeflow/tree/master/components/tensorflow-notebook-image

[2018-08-29 12:27] JCzz commented on #1428
Sorry for not making it clearer; I am learning the tools around Kubernetes, so I'm curious to see if there is any difference in using the Ksonnet or Skaffold, as Ksonnet is described as a requirement?

[code]

[2018-08-29 13:09] lxl910915 opened #1442 "What's the function of tfReplicaType: Master ?"
Why and when kubeflow removed Master?
In a doc, we see: The master only acts as the chief and doesn't do any training. When master started and intilized, how master waits ps and worker to completed?

[2018-08-29 22:16] jlewi commented on #1440
Can you please provide the output of

[code]

[2018-08-29 22:40] jlewi commented on #1429
@372046933 yes.

[2018-08-29 22:42] jlewi opened #1444 "E2E test for scoping of TFJob to namespace"
See #1213

We add parameters to scope TFJob to a particular namespace.

We should add an E2E test to verify this works correctly.

I'm putting this on the 0.4.0 backlog because 0.3.0 is already overfull.

[2018-08-30 01:35] walterhuangio commented on #1317
@jlewi Thanks for the heads up. Yes Knative has YAML manifests for installation. There are different versions of yaml files for different deploy situations, minikube vs general k8s for example.

I'm starting to convert the yaml files to produce a new package. Sounds like you want knative to be a new package and not included in core right?

[2018-08-30 02:26] 372046933 commented on #1440
I am using v0.2.4, `kubectl get pod -o yaml ${CHIEF_POD}` outputs:
[code]

[2018-08-30 02:28] 372046933 commented on #1440
And `kubectl describe pod ${CHIEF_POD}`
[code]

[2018-08-30 02:47] 372046933 commented on #1440
Thank you very much, I got it fixed by checking the pod logs. Previously, I have logs redirected and didn't see any logs. After turning off redirection. I see errors in PS code.
But I have another question. Under distributed tensorflow,  I passed `is_chief=true` to `MonitoredTrainingSession` only on chief pod. However sometimes worker0 loads the checkpoint first and found that training session sho

[2018-08-30 06:13] gaocegege commented on #1442
Master now is replaced by chief.

[2018-08-30 09:57] gaocegege commented on #1240
This looks awesome. I am not sure if I totally understand the feature. When it is implemented, the users could create TFJobs from the Jupyter Notebook, then get the output in it, then they could publish the model which is trained previously in the Jupyter Notebook, too. Am I right?

[2018-08-30 13:57] jlewi opened #1446 "What is image registry.opensource.zalan.do/teapot/external-dns ?"
I noticed the following image in our registry

gcr.io/kubeflow-images-public/registry.opensource.zalan.do/teapot/external-dns@sha256:72f151bd7bb8036d9cf780b81c0b2c44981a59f94f4394deca7b85f1fee31dc1

What is this image?

[2018-08-30 14:03] jlewi commented on #1446
Here's the manifest

[code]

[2018-08-30 14:33] wbuchwalter commented on #1240
@jlewi  the code is here: https://github.com/wbuchwalter/fairing (had to rename the project).
WIP for knative is here: https://github.com/wbuchwalter/fairing/pull/13
I believe I should be ready to ship a first working version by tomorrow (not a hard commitment though as I am working on several projects at the same time).

I am not sure I understand why this should move into `kubeflow/kubeflow`? Th

[2018-08-30 14:39] #1412 closed

[2018-08-30 17:19] jlewi commented on #1446
I deleted the image since I do not know what it is.

[2018-08-30 19:50] swiftdiaries opened #1448 "[Proposal] GPU stats monitoring for Kubeflow through a Prometheus exporter"
This is a proposal doc for a Prometheus exporter that publishes stats like GPU duty cycle, GPU utilization rates for better visibility into GPUs while training / serving.

https://docs.google.com/document/d/1Qbyav8viMb2MQbcD5tJVQs2zPYFjbfU3U2-7DqVGdXU/edit?usp=sharing

This can also then be exposed on a Grafana dashboard as shown here: https://github.com/swiftdiaries/nvidia_gpu_prometheus_exporter

[2018-08-31 00:53] jlewi commented on #1240
@wbuchwalter There's a lot of interest in this and it would be great to set it up for broader collaboration with the community by moving it to a repository where others can collaborate (e.g. code review). So I think it would be great to move into the Kubeflow GitHub org.

It can live in an existing repo kubeflow/kubeflow or a new repo.

[2018-08-31 01:52] jlewi commented on #1448
/cc @kunmingg @lluunn

[2018-08-31 05:30] jlewi commented on #1433
/milestone 0.4.0

[2018-08-31 05:30] gaocegege commented on #1240
It is really promising. While I have some different opinions about the architecture. In my opinion, I think we will support launching TFJob from VS Code/PyCharm/JupyterLab and many other editors/IDEs. Thus if we send the request directly to Kubernetes using Metaparticle, we cannot reuse the logic about this part. I recommend to add a new abstract layer, named job-launcher, the code in all frontend

[2018-08-31 10:00] cheyang commented on #1293
already fixed in #1388

[2018-08-31 13:33] jlewi commented on #1440
If workers aren't being notified that they should terminate that's a TF bug and you should ask tensorflow (e.g. on tensorflow/tensorflow) for help.

TFJob provides CleanPodPolicy
https://github.com/kubeflow/tf-operator/blob/master/pkg/apis/tensorflow/v1alpha2/types.go#L49

If the CleanPodPolicy is Running; then TFJob will delete any pods still running after the job terminates (e.g. succeeds or fai

[2018-08-31 13:35] jlewi commented on #1442
Earlier versions of TensorFlow used "Master" to indicate the process that coordinates distributed training. TensorFlow then changed to calling this "Chief".

We added "Chief" to be consistent with TensorFlow terminology; but we've kept "Master" for backwards compatibility with older versions of TF.

[2018-08-31 13:35] #1442 closed

[2018-08-31 13:39] jlewi commented on #1240
@gaocegege How is job-launcher different from the K8s api-server? The K8s APIServer already provides a  CRUD APi for TFJobs; why do we need to add another API Layer on top of that?

My expectation is that K8s client generation code would eventually support other languages given the popularity of CRDs. Also, using a REST API from most languages should be pretty simple.

[2018-08-31 13:40] jlewi commented on #1317
@walterhuangio Yes a new package sounds great.

[2018-08-31 13:59] jlewi commented on #1213
I used grep to search for all the ClusterRoles.

There's quite a few others defined. Here are the ones I think are most important (as opposed to optional components)

* Argo
* CentralDashboard
* Katib
* PyTorch
* SeldonCore

I don't think we will be able to get this fixed in 0.3; 0.3 is already over subscribed so I don't think there's any room for new items.

Additionally I think we need a way to

[2018-08-31 14:01] wbuchwalter commented on #1240
@jlewi

Sorry, I thought you specifically meant `kubeflow/kubeblow`. No issue for me to move it to Kubeflow orgm but I think it would make more sense to keep it as a separate repo, since it will be distributed differently, and likely have a different lifecycle than other existing components as well.

Also as mentioned earlier, this project does not only work for Kubeflow, you can use it with plain

[2018-08-31 14:01] jlewi opened #1450 "Does CentralUi need ClusterScope?"
See #1213

We'd like to be able to scope Kubeflow to a particular namespace to better support multi-tenant environments.

It looks like CentralUI is creating a ClusterRole right now. Do we need ClusterScope? Could we use a namespace scoped role?

/cc @swiftdiaries

[2018-08-31 14:05] jlewi opened #1451 "Scope Argo to a namespace"
See #1213

We'd like to be able to scope Kubeflow to a particular namespace to better support multi-tenant environments.

It looks like Argo is creating a ClusterRole right now and claiming workflows in all namespaces.

Can we parameterize it and scope it to a particular namespace?

I think Argo has options to support that see:
https://github.com/kubeflow/tf-operator/issues/759#issuecomment-408569

[2018-08-31 14:14] gaocegege commented on #1240
@jlewi

After a feasibility research, I found that generating clientset for multiple languages does not work well. We have Java client for TFJob now but it needs some additional manual work.

[2018-08-31 14:14] jlewi opened #1452 "Can we scope SeldonCore to a namespace"
See kubeflow/kubeflow#1213
and kubeflow/tf-operator#759

We'd like to be able to scope Kubeflow to a particular namespace to better support multi-tenant environments.

It looks like SeldonCore is using ClusterRoles; could we add options to our ksonnet package to scope it to a particular namespace and use namespace scoped Roles?

/cc @cliveseldon

[2018-08-31 16:17] swiftdiaries commented on #1448
Would the #wg-machine-learning be a good place to start off? @vishh Or perhaps the #wg-resource-mgmt?

[2018-08-31 17:26] lluunn opened #1453 "presubmit failure for jsonnet test: name must be set"
#1449
http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-presubmit-unittests-1449-7eb10ee-3189-2d83?tab=workflow&nodeId=kubeflow-presubmit-unittests-1449-7eb10ee-3189-2d83-3963612303&sidePanel=logs%3Akubeflow-presubmit-unittests-1449-7eb10ee-3189-2d83-3963612303%3Amain

#1447
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/1447/kubefl

[2018-08-31 17:30] jlewi opened #1454 "Use a separate / dedicated repository for our ksonnet registry"
I think we should move our ksonnet packages into a separate repoistory e.g. kubeflow/packages or kubeflow/registry.

There's a couple reasons for doing this

1. We'd like to clearly separate the ksonnet packages from any actual code (e.g. bootstrapper, kfctl, etc...)
1. Users don't  need to pull the non ksonnet files in order to use the ksonnet packages
    * So we want to keep the repository smal

[2018-08-31 17:30] jinxingwang opened #1455 "Current documentation for setting up Kubeflow in minikube not working"
Should there be a version match on Minikube Kubectl Virtual Box's version?
The latest version of them combined don't always work.

[2018-08-31 17:32] jlewi commented on #42
Adding this to 0.4.0 .

In 0.4.0 we should try to rationalize our package structure and otherwise overhaul the organization of our ksonnet registry (e.g. #1454)

[2018-08-31 17:35] jlewi commented on #376
Lets try to rationalize our ksonnet repo organization in 0.4.0.

Next step would probably be a proposal to document how we want to organize things.

We should use the label area:/ksonnet to try track all the issues related to ksonnet and try to address the issues related to structure wholistically in 0.4

[2018-08-31 17:46] cliveseldon commented on #1452
The ClusterRole is there to allow the Operator (ClusterManager) to create the CRD if it does not exist.
Its quite restrictive in just being able to created CRDs.
Other than that we use RoleBindings.

[2018-08-31 17:49] lluunn commented on #1454
But sometimes when we change the ksonnet, we need to change the test code as well. Then they will be in different repo?

[2018-08-31 17:58] pdmack opened #1457 "Spawner UI for GPU type selection"
Currently we have no way to allow users to specify a particular class of GPU from the JupyterHub spawner. It appears we would need to [set the nodeSelector](https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/#clusters-containing-different-types-of-nvidia-gpus) in the notebook pod spec.

/assign

/cc @jlewi
/cc @willingc
/cc @yuvipanda

[2018-08-31 18:07] swiftdiaries commented on #1450
If Kubeflow components (Argo, job-operator, jupyter) are deployed to same namespace then CentralUI doesn't need ClusterScope. A namespaced scope should be good enough.

[2018-08-31 18:26] #1453 closed

[2018-08-31 21:56] #1455 closed

[2018-08-31 22:53] jinxingwang opened #1459 "Error setting up kubeflow in minikube"
[code]

[code]

[2018-09-01 10:03] tingweiwu opened #1461 "do you have a performance benchmarks when run Horovod with your openmpi component?"

[2018-09-03 01:15] kunpengprod commented on #1213
@jlewi  Thank you Jeremy for the follow up. I didn't realize re-scoping the operators could incur so much work. We also tried tweaking the configs to use RoleBinding instead of ClusterRoleBinding on our side, but also arrived at a dead end. I think I may have raised a bad feature request that goes against Kubernetes' operator design pattern.

Our project requirement has recently changed. We are no

[2018-09-03 01:15] #1213 closed

[2018-09-03 07:36] asdfsx opened #1462 "A small problem, Error validate kubeflow-core"
I try to deploy kubeflow-core v0.2.4 to minikube as described below.
[code]
The deploy successed.

but when I try to use `validate`, I got the following error
[code]

I solve this problem by modify `kubeflow/core/ambassador.libsonnet`，change the flowing line
[code]
to
[code]

[2018-09-03 07:40] cruxyoung opened #1463 "Is it possible to run kubeflow on federation cluster?"
Just wondering if it is possible to run kubeflow on a federation cluster consisting of on-premise cluster and cloud cluster?

[2018-09-03 08:01] 372046933 commented on #1074
https://github.com/kubeflow/katib/blob/master/examples/client-example.go is 404 error

[2018-09-03 12:14] 372046933 opened #1464 "Katib deployment does not have hyperband included"
If I follow the instruction in https://master.kubeflow.org/docs/guides/components/hyperparameter/, Katib suggestion algorithm does not include hyperband. Which differs from https://github.com/kubeflow/katib/blob/master/examples/MinikubeDemo/deploy.sh on https://github.com/kubeflow/katib/blob/master/examples/MinikubeDemo.md

[2018-09-03 20:32] jlewi commented on #1432
Applications that need read/write access to GCS storage should use the "-user" service account
https://github.com/kubeflow/kubeflow/blob/master/scripts/gke/deployment_manager_configs/cluster.jinja#L43

And not the VM service account.

We only want to give the VM service account read access as a convenience for pulling private GCR images.

[2018-09-03 20:36] jlewi commented on #1074
@372046933 The code in Katib master has changed and now the examples use the StudyCRD and you don't necessarily need to write go programs.

See
https://github.com/kubeflow/katib/blob/master/examples

[2018-09-03 21:34] jlewi commented on #1240
@wbuchwalter  kubeflow/fairing exists. Please submit whenever you are ready.

Would be great to talk about this at the contributor summit; hope you can make it.

[2018-09-03 21:40] jlewi commented on #1457
@vishh Does K8s have plans to allow different resource types (e.g. nvidia.com/v100) corresponding to different GPU types? That seems preferable to using the node selector.  I did a quick github search in Kubernetes but couldn't find any issues.

[2018-09-03 21:41] jlewi commented on #1454
@lluunn That's a good question. I think it might be reasonable to include some of the test code in the repo (e.g the E2E test definitions themselves).

[2018-09-03 21:43] jlewi commented on #1452
@cliveseldon If the CRD already exists; do we still need the cluster role?

In particular, if we create the CRD when we deploy Kubeflow, then it will be created using the user permissions of the user deploying Kubeflow which is likely a cluster admin.

[2018-09-03 21:47] jlewi commented on #1367
Any update on this?

[2018-09-03 21:49] jlewi commented on #1398
@Ark-kun Which README.md?

[2018-09-03 21:51] cliveseldon commented on #1452
Yes, if the CRD already exists we don't need the ClusterRole I think.
So, what does this imply? There is an initial setup in kubeflow core for
all CRDs that could be used?

On 3 September 2018 at 22:43, Jeremy Lewi <notifications@github.com> wrote:

[2018-09-03 21:53] jlewi commented on #1452
There's some debate about this but I prefer to have the CRD created by the k8s manifest (ksonnet package) rather than relying on the controller to create them.

[2018-09-03 21:55] jlewi commented on #1452
This is what we do for TFjob:
https://github.com/kubeflow/kubeflow/blob/679d284a3c52904c6841aded08b8f977fcc47fc5/kubeflow/core/tf-job-operator.libsonnet#L44

See kubeflow/tf-operator#710 for discussion about whether controller should create CRD or not.

[2018-09-03 22:00] cliveseldon commented on #1452
ok. Actually this is how it is done already. So maybe its a simple change
to simply not add the ClusterRole and ClusterRoleBinding! I'll look into it.

On 3 September 2018 at 22:53, Jeremy Lewi <notifications@github.com> wrote:

[2018-09-03 22:05] jlewi commented on #1452
Thanks. I think we are targeting this for 0.4. not 0.3.; i.e for 0.4 I think we want to have a good story for how to install deploy Kubeflow scoped to a namespace.

So not super urgent.

[2018-09-03 22:30] jlewi commented on #1251
Removing this from 0.3 because its not critical to the release.

[2018-09-03 22:37] jlewi commented on #1239
With the latest config scripts we now use download.sh
https://github.com/kubeflow/kubeflow/blob/master/scripts/download.sh

All the files downloaded will be at a single commit.

We still have the problem that download.sh might be pointing by default at a different commit. We can potentially fix that by redirecting to download.sh from
https://kubeflow.org
so that we can potentially reference a diff

[2018-09-03 22:37] #1239 closed

[2018-09-03 22:40] jlewi commented on #1106
Punting this to 0.4.0 because we already have too many remaining issues in 0.3.0 and we want to be code complete in the next two weeks.

[2018-09-03 22:43] jlewi commented on #1048
This is fixed
Here's a postsubmit run showing it its passing
https://storage.googleapis.com/kubernetes-jenkins/logs/kubeflow_kubeflow/kubeflow-postsubmit/637/artifacts/junit_test-tf-job-simple.xml

[2018-09-03 22:43] #1048 closed

[2018-09-03 22:46] jlewi commented on #971
@TheJaySmith What are the next steps?

I'm removing this from 0.3.0 because I don't see this happening in that time frame since we want to be code complete in the next two weeks.

[2018-09-03 22:48] jlewi commented on #934
We no longer run minikube tests on presubmit so this is no longer blocking presubmits.

Removing from 0.3.0 since we are trying to narrow down the scope to get everything ready.

[2018-09-03 22:50] jlewi commented on #884
Removing from 0.3.0 since this isn't directly related 0.3.0 and we are trying to aggressively prune remaining issues.

[2018-09-03 22:54] TheJaySmith commented on #971
The code is ready and merged for anyone to try. Or at least, the package is ready to be deployed. What I am working on is creating some documentation that is relevant for KubeFlow users.

[2018-09-03 22:59] #251 closed

[2018-09-03 23:04] jlewi commented on #1036
@lluunn What's the status of this? Are we blocked on TF releases?

[2018-09-03 23:08] jlewi commented on #1124
Fixed by #1423

[2018-09-03 23:08] #1124 closed

[2018-09-04 00:03] jlewi commented on #1464
/assign @YujiOshima

[2018-09-04 00:05] jlewi commented on #1459
I would recommend not using bootstrapper and following our generic quickstart.
https://www.kubeflow.org/docs/started/getting-started/

This will make it easier to debug and fix because the ksonnet app will be stored locally.
See related issue with Docker in Docker
https://github.com/kubeflow/kubeflow/issues/1430#issuecomment-416003405

[2018-09-04 00:06] jlewi commented on #1463
I don't see why not. It would be great to try it out and report any issues you run into.

Do you have a specific use case? e.g. train in the cloud serve on prem?

[2018-09-04 03:43] jinxingwang commented on #1459
Thanks

[2018-09-04 03:43] #1459 closed

[2018-09-04 03:59] vishh commented on #1457
@jlewi No, that's not the plan as of now. We want to enable heterogeneity without compromising portability. Selecting based on HW type is just one of the use cases. Imagine wanting to select HW based on available memory or some properties like special instructions for example. Node Selectors offer that flexibility for those who need it, while the simple resource type that exists today mostly works

[2018-09-04 04:01] vishh commented on #1457
We are also working with Nvidia on standardizing Node label keys & values for GPUs. Until that is complete, I'd recommend plumbing just a generic serialized Node Selector json field for this use case.

[2018-09-04 04:33] ktsakalozos commented on #1367
There is a PR against snapd under review (https://github.com/snapcore/snapd/pull/5739). @jdstrand may be able to provide more insight on it. Do you want me to close this issue here?

[2018-09-04 07:48] johnugeorge commented on #1442
As @jlewi said,  Master type is still kept for backwards compatibility. https://github.com/kubeflow/tf-operator/blob/master/pkg/apis/tensorflow/v1alpha2/types.go#L135

[2018-09-04 08:06] lxl910915 commented on #1442
@johnugeorge
You mean tf_job only need to contain ps and worker ? no "Master", and no "Chief" ?

[2018-09-04 13:05] zmhassan commented on #136
Hi,

Wonder if anyone here is interested in MLFlow Operator running on K8's to track models and experiment metadata ? I've managed to get MLFlow running on kubernetes. I know there is Katib for hyper parameter tuning and that it uses ModelDB. Some history on ModelDB was created by the same creator of MLFlow. Just wondering if there is some interest here.

[2018-09-04 13:07] jlewi opened #1471 "Document Requirements/Best Practices for Operators"
We should create a document to capture features/requirements/best practices that we'd like all our operators to support so that we have consistency

Here's some initial suggestions

1. Operators should be level based
1. Operators should have certain common conditions (e.g. Succeeded and Failed)
1. If the Job Spec is invalid this should be reported in the status (see kubeflow/tf-operator#815)
1. Op

[2018-09-04 13:16] jlewi opened #1472 "Document maturity / support of various Kubeflow components"
The number of components in Kubeflow is growing rapidly.

* Arena
* Argo
* Chainer
* Central UI
* Fairing
* Katib
* KubeBench
* JupyterHub
* 2 MPI operators
* Seldon
* TF Serving
* TF Training
   * TFJobs UI

Not all of these components have the same level of maturity and commitment

With 0.4.0 we should try to come up with a way to clearly communicate this to users. In particular, I think we need

[2018-09-04 13:17] jlewi commented on #1472
/cc @aronchick @abhi-g

[2018-09-04 13:34] jlewi commented on #68
@ScorpioCPH @gaocegege Thoughts about closing this issue?

[2018-09-04 13:36] rongou commented on #1471
I haven't been keeping track, but what happened to the effort to unify all the training operators? It's probably much easier to ensure consistency if it's a single code base that supports the different training jobs.

[2018-09-04 13:39] #351 closed

[2018-09-04 13:48] gaocegege commented on #68
SGTM

[2018-09-04 13:56] mhausenblas commented on #351
What does closing the issue imply? That we don't need the work in Spartakus anymore or ...? I planned to work on it in the next couple of weeks so would be good to know.

[2018-09-04 16:24] jlewi opened #1473 "Release branch should pin version of kubeflow/testing used"
When we cut a release branch we should probably also cut a branch for kubeflow/testing and pin our E2E tests to use it. Otherwise, if we make changes to the test infrastructure we might break the tests on our release branch.

see for example #1468 ; we made a change to test_helper to always require the name be set for tests and that's breaking some of the tests on the 0.2 branch.

[2018-09-04 17:59] pdmack commented on #56
I think it would be useful to focus this issue. As I understand it, the idea would be to load [known kubespawner config](https://jupyterhub-kubespawner.readthedocs.io/en/latest/spawner.html#module-kubespawner.spawner) simply via some kind of YAML/JSON file that could be loaded and read by our spawner Python file.

The PVC issue for surfacing those objects in the UI is separately tracked at #34
The

[2018-09-04 18:47] jlewi commented on #1358
/assign @kunmingg

[2018-09-04 18:48] jlewi commented on #1189
@kkasravi said he was going to look into this and has some experience with TFMA.

[2018-09-04 18:49] jlewi commented on #1153
This is fixed.

[2018-09-04 18:49] #1153 closed

[2018-09-04 18:53] jlewi commented on #1464
/cc @ankushagarwal

[2018-09-04 20:56] kkasravi commented on #1189
Should have time tomorrow - will update

[2018-09-04 21:00] jlewi commented on #1331
Post submits are green:
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-postsubmit

[2018-09-04 22:05] jlewi opened #1474 "Tests failing on 0.2-branch"
Tests are no longer passing on the v0.2-branch because the code on the branch is out of sync with changes in kubeflow/testing.

Filing this issue to track the different failures.

Marking as P2 because we are largely focused on 0.3.

[2018-09-04 22:07] jlewi commented on #1474
In #1468 tests are failing because kubeflow/testing#198 requires name to be set but some of the tests on the release branch aren't setting name.

[2018-09-04 22:22] jlewi opened #1476 "Cut release 0.2.5"
We have two fixes we want to release

1. include GCS read scope in GKE configs to allow pulling from private images.
1. Fix #1233 so that deploy.sh is more reentrant.

[2018-09-04 22:26] kkasravi opened #1477 "simplify tensorboard as separate aws, gcp prototypes"
the tensorboard.{libsonnet, jsonnet} files will be used for this

1. Show how the use of k.libsonnet simplifies creation and modification of manifests in tensorboard.{libsonnet, jsonnet}
2. Show the pattern exposed in k.libsonnet

[2018-09-04 23:37] jlewi commented on #1476
Cut a release.
https://github.com/kubeflow/kubeflow/releases/tag/v0.2.5

[2018-09-05 00:43] jlewi commented on #1476
I manually tested v0.2.5 and I verified the following

1. After creating a cluster I could pull a docker image from a private GCR registry
1. I could rerun deploy.sh in my directory and it would issue a gcloud deploy-manager update.

Just need to get the docs updated and we can close this.

[2018-09-05 01:13] #1476 closed

[2018-09-05 01:18] 372046933 commented on #1464
Currently, only https://github.com/kubeflow/katib/blob/master/scripts/deploy.sh works. But it uses `katib` namespcace instead of `kubeflow` on kubeflow.org's guide

[2018-09-05 01:50] 372046933 opened #1478 "deploy.sh of v0.2.5 failed to deploy katib"
`ks generate katib katib`
`ks show default -c katib`
Below are the errors of previous commands

ERROR find objects: RUNTIME ERROR: Field does not exist: modeldbDatabaseImage
        /home/tx/Downloads/kubeflow_ks_app/vendor/kubeflow/katib/modeldb.libsonnet:132:24-51    object <anonymous>

It can be fixed by adding `modeldbDatabaseImage: "mongo:3.4"` to  `components/params.libsonnet`

[2018-09-05 04:46] johnugeorge opened #1479 "New image release for pytorch operator"
With v1alpha2 changes, Pytorch operator needs a new image release.  build_image.sh is already updated(https://github.com/kubeflow/pytorch-operator/blob/master/build_image.sh#L26)

Is nightly image release happening for pytorch-operator?
https://github.com/kubeflow/kubeflow/tree/master/releasing/pytorch-operator

/assign @ankushagarwal @kunmingg

[2018-09-05 07:13] YujiOshima commented on #1464
The StudyJob Controller and metrics collector are not included in `gcr.io/kubeflow-images-public` registry.
We will fix it by https://github.com/kubeflow/kubeflow/pull/1400 .
Then I will update katib template in kubeflow repo.

[2018-09-05 08:13] johnugeorge commented on #1471
Yes, I am trying to keep the behavior consistent across operators.  Currently, except 3) pytorch repo is at par with tf.

btwn for 4) logger package is shared across the operators.

[2018-09-05 08:45] 372046933 opened #1480 "Katib StudyJob failed to mount directory"
I modified the `StudyJob` pod to expose NFS directory to it. But in the pod, the directory is only partial accessible. For example, if there are `/data/nfs/dir1 /data/nfs/dir2` in the NFS, only `/data/nfs/dir1`
is accessible. And the directory has no contents. Did `StudyJob` modify pod volume mount configuration?

[code]

[2018-09-05 11:46] gindeleo opened #1481 "Multiple issues with gke/deploy.sh"
There are multiple small issues with deploying kubeflow to GKE via [deploy.sh] on HEAD.(https://github.com/kubeflow/kubeflow/blob/master/scripts/gke/deploy.sh)

1. `KUBEFLOW_REPO` must be an absoulute path to specify a preexisting local kubeflow package. Should this path be absolute as the default is set to `kubeflow_repo` (which then gets augmented to its abolutute path contrary to the externally

[2018-09-05 13:08] jlewi commented on #1480
/assign @YujiOshima
/cc @ankushagarwal

[2018-09-05 13:13] jlewi commented on #1481
deploy.sh is deprecated on master; looks like I forgot to delete it.

You should be using kfctl.sh on master
https://github.com/kubeflow/kubeflow/blob/master/scripts/kfctl.sh

Instructions
https://master.kubeflow.org/docs/started/getting-started-gke/

[2018-09-05 13:15] jlewi commented on #1331
gke/deploy.sh wasn't actually deleted.
see #1481

[2018-09-05 13:22] jlewi opened #1483 "Test to verify we can deploy Katib"
We should have an E2E test for our katib ksonnet component. We can start by ensuring that Katib is actually deployed.

See #1478 for an example bug where a bug in the ksonnet component prevented Katib from being deployed.

Ideally we'll have this in 0.3.

[2018-09-05 13:27] jlewi commented on #1478
Thanks for the bug report.

Looks like this is fixed on master:
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/katib/prototypes/all.jsonnet

Do folks thinks this worth a patch release?

[2018-09-05 13:28] #1414 closed

[2018-09-05 13:41] jlewi commented on #1477
I think we will also eventually want to move tensorboard out of the core package and into a separate package; perhaps a single package for TensorFlow? Not sure whether it makes sense to do that as part of this issue. There are a bunch of issues related to the ksonnet organization.

Bunch of issues related to ksonnet structure.
See also #564 Simplify TFJob spec (by getting rid of .libsonnet file)
S

[2018-09-05 13:44] jlewi commented on #1477
Should we change the title to reflect that issue is just about TensorBoard?

[2018-09-05 13:54] sfabel commented on #1448
@jlewi - FWIW, NVIDIA has a
[Prometheus Exporter](https://github.com/NVIDIA/gpu-monitoring-tools/tree/master/exporters/prometheus-dcgm).

[2018-09-05 14:27] 372046933 commented on #1478
Great, thanks a million.

[2018-09-05 14:39] #1331 closed

[2018-09-05 14:39] #1481 closed

[2018-09-05 14:48] sasvaritoni opened #1484 "Prometheus for seldon models"
I am using a Java model wrapped by the Seldon S2I wrapper, with seldon serving component of Kubeflow, basically followed this doc:
https://github.com/kubeflow/examples/blob/master/github_issue_summarization/03_serving_the_model.md

Now I would like to add Prometheus metrics to this model.
Is this supported out of the box by Seldon + Kubeflow?
Or is there some doc describing this scenario?

I found

[2018-09-05 14:52] cliveseldon commented on #1484
If you look at https://github.com/kubeflow/example-seldon you will see it installs via Helm the default Prometheus analytics and Grafana dashbaord:
[code]

[2018-09-05 15:49] kkasravi commented on #376
@jlewi @ankushagarwal @pdmack @lluunn @inc0 see #1485 as an example of simplifying tensorboard where 2 prototypes are split out: tensorboard-aws.jsonnet, tensorboard-gcp.jsonnet. Both extend a common prototype (tensorboard.libsonnet). Worth noting is the use of k.libsonnet in the base prototype - see
- https://github.com/kubeflow/kubeflow/pull/1485/files#diff-9bf1896c3cec2fcc18ac8835d197e7abR29
-

[2018-09-05 15:52] #1438 closed

[2018-09-05 18:14] kkasravi opened #1486 "add ability to only generate parts of a component in the jsonnet file"
databricks style-guide suggests classes be defined as local variables but exported as methods.
Within the jsonnet file, we should have the flexibility to export some of the classes

[2018-09-05 18:53] lluunn commented on #1036
WIP, won't be in 0.3

[2018-09-05 23:30] rongou commented on #1471
I guess what I'm asking is, does it make sense to have a single operator (for example, `TrainingOperator`) that understands tensorflow, pytorch, parameter servers, horovod/mpi, etc. Or would that make it too complicated and hard to use?

[2018-09-05 23:36] arun-gupta opened #1488 "Installation fails on Amazon EKS"
Trying to install Kubeflow on Amazon EKS as follows:

- Create EKS cluster with GPU nodes as explained at https://aws.amazon.com/blogs/compute/running-gpu-accelerated-kubernetes-workloads-on-p3-and-p2-ec2-instances-with-amazon-eks/
- Ksonnet
  - Install: `brew install ksonnet/tap/ks` or `brew upgrade ksonnet/tap/ks`
  - Check version:
[code]
- Install kubeflow
[code]

The installation fails and he

[2018-09-05 23:45] aronchick commented on #136
Sure thing! This sounds great - what did you have in mind?

On Tue, Sep 4, 2018 at 6:05 AM Zak Hassan <notifications@github.com> wrote:

[2018-09-06 00:17] zmhassan commented on #136
I'm still researching on Katib and ModelDB to see if we can track hyper parameters. I'll try it out and see if we can utilize that instead of MLFlow. One question I do have is are we able to store models in S3 backed storage after training and also track metrics used.

[2018-09-06 02:49] gaocegege commented on #1471
@rongou

We have a proposal for this idea: https://docs.google.com/document/d/1mSJaLtBgR04dvOnroADh4x8wNV1o-oPpf8CnmOPbNks/edit#heading=h.2fkzp8exzv8x

While we do not apply it.

[2018-09-06 03:40] cruxyoung commented on #1463
I tried to install kubeflow on a federation deployed by kubefed. The federation cluster consists of a GCE cluster and a AWS cluster deployed by kops.

But then I got this error:
![image](https://user-images.githubusercontent.com/14368415/45133626-accdfb00-b1d9-11e8-8e8d-88fde45b6b0d.png)

It seems that the apiversion is too old.

Then I do:
![image](https://user-images.githubusercontent.com/143684

[2018-09-06 04:00] YujiOshima commented on #1480
@372046933 StudyJob Controller won't rewrite anything around volumes.
Could you `kubectl describe` a generated job and pod?

[2018-09-06 05:14] arun-gupta commented on #1488
Tried:

[code]

What username is expected?

`kubectl` is configured to talk to the server.

[code]

[2018-09-06 06:36] 372046933 commented on #1480
@YujiOshima Thanks for your advice. After describing the pod, I found that I mistyped the `volumnes` in YAML, which caused the volume type default to `emptyDir`.

[2018-09-06 06:36] #1480 closed

[2018-09-06 06:38] johnugeorge commented on #1479
Can you help? I would need a image release inorder to make v1alpha2 as the default pytorch job version?

[2018-09-06 06:43] johnugeorge commented on #1479
/assign @jlewi

[2018-09-06 08:32] jlewi commented on #1488
Not sure where the username is coming from. I'm guessing its an issue with ksonnet trying to connect to your Kubernetes cluster using basic auth.

ks should read your KUBECONFIG file and use that to configure how it talks to your cluster.

So it seems like an issue with ksonnet.

As a work around can you try

[code]

You might also want to try deleting and recreating a new ksonnet environment

[co

[2018-09-06 08:36] jlewi commented on #1488
@bryani any idea?

@arun-gupta since I think its a ksonnet issue you might want to try https://kubernetes.slack.com/messages/ksonnet

[2018-09-06 08:36] gaocegege commented on #1117
/cc @Muzry @ddysher @codeflitting

We are also interested in this issue. Is there any progress? :smile:

[2018-09-06 08:41] johnugeorge commented on #1117
I had a demo during one meeting.  The example was using v1alpha1 version. I will get it to v1alpha2 and complete it in 0.3 release hopefully

[2018-09-06 08:46] jlewi commented on #1463
I'm pretty sure ClusterRoleBinding was introduced before K8s 1.9. I see it in the docs for 1.7
https://v1-7.docs.kubernetes.io/docs/api-reference/v1.7/#clusterrolebinding-v1beta1-rbac

Do your clusters have RBAC enabled? If RBAC isn't enabled that might explain why ClusterRoleBinding isn't defined.

[2018-09-06 13:30] ankushagarwal commented on #1479
I'll get to this today.

[2018-09-06 15:27] AdrianLsk commented on #136
@zmhassan Kubeflow is already using Katib and ModelDB. https://github.com/kubeflow/kubeflow/blob/8fdf36521028314009664a91ad675228d723d6c8/kubeflow/katib/modeldb.libsonnet

It would be awesome, if you can connect it to MLFlow.

[2018-09-06 16:46] arun-gupta commented on #1488
Amazon EKS uses [aws-iam-authenticator](https://github.com/kubernetes-sigs/aws-iam-authenticator) and an IAM role to authenticate to the k8s cluster. Do you think ksonnet might be having trouble configuring that instead?

Are there any other non-ksonnet ways to deploy kubeflow?

[2018-09-06 16:58] arun-gupta commented on #1488
@jlewi the suggested workaround:

[code]

seems to work. Here is the output:

[code]

Is there anything else required after this?

[2018-09-06 17:49] TheJaySmith opened #1489 "Issue installing on GKE with deploy script"
Hello,

I am trying to deploy kubeflow v0.2.5 on GKE using the deploy script and I always get this error message.

ERROR: (gcloud.deployment-manager.deployments.update) Error in Operation [operation-1536255663330-575376518d2d2-468a03e6-6e162434]: errors:
- code: NO_METHOD_TO_UPDATE_FIELD
  message: No method found to update field 'parent' on resource 'kubeflow-gpu-pool-v1'
    of type 'container.v

[2018-09-06 19:26] vishh commented on #1448
If you choose to work with the k8s community on this, I'd recommend
starting with an email to #wg-resource-mgmt mailing list.

On Thu, Sep 6, 2018 at 12:22 PM Adhita Selvaraj <notifications@github.com>
wrote:

[2018-09-06 19:31] swiftdiaries commented on #1448
Thank you for the reply :)

[2018-09-06 19:58] aronchick commented on #1488
Nope, it's up and running! I'd definitely file the bug with ksonnet, it should work in all cases. I don't know anything about aws-iam-authenticator but communication between that, and whatever service account ksonnet is running as, would be my guess for the issue.

[2018-09-06 21:06] ankushagarwal commented on #1479
Created
gcr.io/kubeflow-images-public/pytorch-operator:84d07df
gcr.io/kubeflow-images-public/pytorch-dist-sendrecv-test:1.0
gcr.io/kubeflow-images-public/pytorch-dist-mnist_test:1.0

[2018-09-06 21:06] #1479 closed

[2018-09-06 22:30] wbuchwalter commented on #1240
@jlewi PR (currently on hold) opened here: https://github.com/kubeflow/fairing/pull/2

[2018-09-07 03:45] zlcnju opened #1491 "cannot list namespace on tfjob dashboard"
Because the CluseterRole tfjob-dashboard doesn't own the access to namespace, so the namespace can't be listed on the tfjob dashboard.

[2018-09-07 03:50] #1491 closed

[2018-09-07 03:56] sucanthudu opened #1492 "No prototype names matched 'kubeflow-core'"
When i tried to run this
ks generate kubeflow-core kubeflow-core i got
ERROR No prototype names matched 'kubeflow-core'
Please help me out to solve this issue

[2018-09-07 13:36] sasvaritoni commented on #1484
Great, thank you for pointing out.

So if I understand this correctly, from Kubeflow point of view this can be supported.
From the model / Seldon point of view, when we wrap e.g. a Java model with the Seldon S2I Java wrapper as a Spring Boot application, the requirement on the model app is that it should expose a Prometheus endpoint via the rest interface, so that it can be accessed by the Prometh

[2018-09-07 13:42] RenaudWasTaken commented on #1448
Hi!

Have you taken a look at https://github.com/NVIDIA/gpu-monitoring-tools ?
In this case the DCGM exporter looks a bit like what you are looking for.

[2018-09-07 13:57] cliveseldon commented on #1484
I think there are two things. Seldon Core's Operator exposes a set of default metrics via prometheus.
On the other hand, for custom metrics you are free do what ever you wish. We have not tested custom metrics with the S2I wrapping process so if for instance you use the python wrapper and REST then the wrapper itself uses Flask so if you needed to tie into that to expose the prometheus endpoint th

[2018-09-07 15:29] RenaudWasTaken commented on #1448
We also have a "DCGM only" exporter available here:
https://github.com/NVIDIA/deepops/blob/release-18.08/services/dcgm-exporter.yml

The label selector for that exporter is "NVIDIAGPU". e.g: If you want to deploy it:
[code]

[2018-09-07 15:31] flx42 commented on #1448
cc @dholt who wrote the second dcgm exporter

[2018-09-07 18:05] TheJaySmith opened #1495 "Required JWT token is missing"
I followed the deploy procedures outlined here: https://www.kubeflow.org/docs/started/getting-started-gke/

anytime I try to access the system (after all pods and services have deployed) I get this error message.

Required JWT token is missing

Everything seems to be working so I am not sure what's causing the issue. Thoughts?

[2018-09-07 18:16] swiftdiaries commented on #1448
Hey @RenaudWasTaken and @flx42
Thanks for the pointers, I'll take a look at this.
Sidenote: DeepOps looks really cool!

[2018-09-08 09:27] ornew opened #1496 "Not working envoy-ingress on GKE: googleapi 400 error"
I try [GKE for Kubeflow](https://www.kubeflow.org/docs/started/getting-started-gke/), but not working.

- KUBEFLOW_VERSION=0.2.5

The k8s cluster and others deployments was success.

kubeflow deploy by ksonnet was get from `envoy-ingress`:

[code]

loadbalancer-controller says: `googleapi: Error 400: The resource 'projects/myprj/global/backendServices/k8s-be-32529--7471f1a431c74300' is not ready,

[2018-09-08 14:43] pdmack commented on #1492
[These](https://v0-2.kubeflow.org/docs/started/getting-started/#quick-start) are the latest instructions for the 0.2 series (not `master`). Please remove any existing kubeflow artifacts before retrying:
`rm -fr kubeflow_ks_app  kubeflow_repo`

[2018-09-08 16:43] johnugeorge commented on #1117
I think, this seldon wrapper should work for any python framework and not specific to pytorch
@cliveseldon correct me if i am wrong

[2018-09-08 16:49] cliveseldon commented on #1117
Yes, the S2I wrapper we have for python can be used for any python framework.

[2018-09-08 21:06] #1477 closed

[2018-09-08 21:28] #1486 closed

[2018-09-09 09:44] ddysher commented on #1117
@johnugeorge @cliveseldon thanks!

[2018-09-09 22:27] sarahmaddox commented on #860
This issue was moved to kubeflow/website#212

[2018-09-09 22:28] sarahmaddox commented on #860
/close

[2018-09-09 22:28] #860 closed

[2018-09-09 22:32] sarahmaddox commented on #501
This issue was moved to kubeflow/website#213

[2018-09-09 22:37] sarahmaddox commented on #501
/close

[2018-09-09 22:37] #501 closed

[2018-09-09 22:40] sarahmaddox commented on #213
@abhi-g Do you think we can close this issue now, and split out the remaining tasks from https://github.com/kubeflow/website/projects/1 into separate issues where relevant?

[2018-09-09 22:45] sarahmaddox commented on #85
@abhi-g Do you think we can close this issue now, as it's too wide in scope for people to be able to tackle? Instead, we should raise an issue per desired CUJ, preferably in the kubeflow/website repo. As an example, we have this one:

* Add an end-to-end guide for Kubeflow on Kubernetes Engine (https://github.com/kubeflow/website/issues/109)

[2018-09-09 22:47] sarahmaddox commented on #573
This issue was moved to kubeflow/website#214

[2018-09-09 22:49] sarahmaddox commented on #573
/close

[2018-09-09 22:49] #573 closed

[2018-09-09 22:50] sarahmaddox commented on #1390
This issue was moved to kubeflow/website#215

[2018-09-09 22:55] sarahmaddox commented on #1390
/close

[2018-09-09 22:55] #1390 closed

[2018-09-09 23:03] abhi-g commented on #85
Thanks. That makes sense.

Abhishek

On Sun, Sep 9, 2018 at 3:45 PM Sarah Maddox <notifications@github.com>
wrote:

[2018-09-09 23:04] abhi-g commented on #213
I think we can close this.

On Sun, Sep 9, 2018 at 3:40 PM Sarah Maddox <notifications@github.com>
wrote:

[2018-09-09 23:51] sarahmaddox commented on #213
/close

[2018-09-09 23:51] #213 closed

[2018-09-09 23:52] sarahmaddox commented on #85
/close

[2018-09-09 23:52] #85 closed

[2018-09-10 12:47] #1429 closed

[2018-09-10 15:31] gaocegege commented on #1240
@wbuchwalter

I think Python decorators are invasive, thus I think some magic commands are enough to configure training and serving. Then we implemented such a jupyter kernel, similar to IPython

Here is the code https://github.com/caicloud/ciao

And here is the example: https://github.com/caicloud/ciao/blob/master/docs/examples/example.ipynb

We just need three commands and do not need to change

[2018-09-10 16:39] wbuchwalter commented on #1240
Yes this is a trade-off we discussed initially, there are multiple reason for the class decorator:
* nbconvert will execute all the cells sequentially. This can lead to undesired behavior since when using notebooks users often execute their code in a non-sequential way (i.e. executing a specific cell multiple times, or later than when they appear in the notebook). Having a class is a relatively st

[2018-09-10 21:01] kkasravi opened #1500 "update tensorboard to use the same pattern as kubeflow/core/prototypes"
small changes are needed to agree with the other prototypes

[2018-09-10 21:55] lluunn opened #1503 "PR shows review is not required to merge"
<img width="823" alt="screen shot 2018-09-10 at 14 57 45" src="https://user-images.githubusercontent.com/32310205/45326829-e4a2ae80-b509-11e8-853f-a9012e4b37d7.png">

My PR seems to be able to merge without lgtm and approved tag?

#1502

[2018-09-10 21:56] lluunn commented on #1503
Actually, it should be the tide check that's missing

<img width="796" alt="screen shot 2018-09-10 at 14 56 20" src="https://user-images.githubusercontent.com/32310205/45326769-b9b85a80-b509-11e8-91e1-868a9cd05c20.png">

[2018-09-10 22:31] samuelmi2 commented on #1495
I also get this error. I've replicated it on Kubeflow version 0.2.2 and 0.2.4.

[2018-09-10 22:31] lluunn commented on #1503
I think it's just github ui issue

[2018-09-10 22:31] #1503 closed

[2018-09-10 22:56] lluunn opened #1506 "Error: Failed to apply app: find objects: RUNTIME ERROR: Field does not exist: v1"
The error shows up when applying cloud-endpoints prototype.

May be related to #1487

@kkasravi
@kunmingg

[2018-09-10 22:59] kunmingg opened #1507 "cloud endpoint prototype breaks on master."
How to recreate:
On current master branch, for cloud endpoint prototype do
[code]
you'll see ```ERROR find objects: RUNTIME ERROR: Field does not exist: v1```
@kkasravi

@jlewi
Seems our e2e test didn't cover this case?

[2018-09-11 02:15] gaocegege commented on #1240
I am interested in the implementation in notebook. How does fairing get the code in the next cell then package them to the docker image?

As for hyperparameter tuning and NAS, I hope we could rely on katib to implement it.

[2018-09-11 08:13] jokerwenxiao opened #1509 "what rest API can kubeflow provide?"

[2018-09-11 08:39] amsaha opened #1510 "Release process for kubebench"
We needed some help with packaging Kubebench for releasing (related issue on Kubebench repo: issue https://github.com/kubeflow/kubebench/issues/88):

1. We are following the instructions at https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md. Are these the correct instructions to follow?
2. We currently have 4 Dockerfiles for the Kubebench repo - 1 controller and 3 per benchmark

[2018-09-11 08:42] amsaha commented on #1510
/assign @jlewi
/assign @ankushagarwal
/release 0.3.0
/area kubebench

[2018-09-11 08:53] amsaha commented on #1510
/help

[2018-09-11 08:54] amsaha commented on #1510
/release 0.3.0

[2018-09-11 10:11] cliveseldon commented on #1509
You can use [Seldon](https://www.kubeflow.org/docs/guides/components/seldon/) and I think there is a REST proxy for [tfServing](https://www.kubeflow.org/docs/guides/components/tfserving/) but not sure where the docs for this are.

[2018-09-11 11:45] sasvaritoni commented on #1484
This is really useful, thank you! I was able to get the Dashboard working with this doc.
I also plan to try adding custom metrics later.

One remark: in my cluster the app label was  "app: grafana-prom-server" instead of "app: grafana-om-server".  I don't know what it depends on.

[2018-09-11 12:07] cliveseldon commented on #1484
Thanks for the heads up. That was a typo which is fixed now. It should be as you say: grafana-prom-server

[2018-09-11 12:59] #1500 closed

[2018-09-11 13:36] wbuchwalter commented on #1240
Sorry, I realize the way I placed the cells in the example is a bit confusing.
The cell containing the fairing code could be anywhere in the notebook, it doesn't just package the next cell but the entire notebook.
So all the code in notebook will be execute in the TfJob.

If I understand how Ciao works correctly, you need to define the entirety of your model, dependencies and global variable in th

[2018-09-11 16:13] xyhuang opened #1513 "Move kubebench package to kubeflow repo"
Currently the ks package of kubebench project resides in kubebench repo. This proposes moving it to kubeflow repo.

[2018-09-11 16:14] xyhuang commented on #1513
/assign

[2018-09-11 16:17] samuelmi2 commented on #1495
I see this in my logs, not sure if it shows anything useful though:
[code]

[2018-09-11 16:36] samuelmi2 commented on #1495
another log entry:
[code]

[2018-09-12 00:36] yizhexu commented on #1353
I ran into the exact same issue and your work around worked for me.

Retrospectively I think the reason was:

`echo $(gcloud config get-value account)` shows my user name as: igracex@gmail.com

But error message says my user name is: IGraceX@gmail.com

The identification of user role was case sensitive had caused the issue

[2018-09-12 01:07] ashahba commented on #1050
@jlewi I can work on this one if nobody has started doing anything on it yet.

[2018-09-12 01:16] lluunn commented on #1050
/assign @ashahba
Thank you

[2018-09-12 02:06] gaocegege commented on #1240
Yeah this is our expected behaviour, because we want to support different languages in one notbook via https://github.com/vatlab/sos-notebook

[2018-09-12 04:06] abhi-g commented on #1510
@amsaha I believe the release process for now is still as documented at the link https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md. You should have to only follow the "Image Auto Release" section.

@kunmingg Please find some time to help out with the questions #2 and #3 above.

[2018-09-12 07:11] ashahba commented on #1050
Thanks @lluunn
I'll get a PR ready.

[2018-09-12 08:50] Oblynx opened #1514 "Kubeflow quick start misses namespace creation"
The "Kubeflow quick start" instructions (https://www.kubeflow.org/docs/started/getting-started/) will fail, if the "kubeflow" namespace doesn't already exist in the cluster.
Namespace creation should be added to the "Requirements".

[2018-09-12 11:06] #1484 closed

[2018-09-12 17:54] kunmingg commented on #1510
@amsaha

2. Do you want to have ```each image released by their own workflow``` (use multi dockerfile could be easier in this case) or ```one workflow release 4 image``` (can use 1 dockerfile and change params for each image build in this case)?

For  ```one workflow release 4 image```, need some customization after workflow created.
One example can be found here:
https://github.com/kubeflow/kubef

[2018-09-12 18:53] #1507 closed

[2018-09-12 21:54] arun-gupta commented on #1488
Will close this bug as it seems more like a ksonnet issue, following up there.

[2018-09-12 21:54] #1488 closed

[2018-09-12 22:33] techgnosis opened #1518 "Doesn't work with k8s 1.10"
I'm running k8s on GKE. When I install Kubeflow 0.2.5 on 1.9.7 it works great. When I try to install Kubeflow 0.2.5 on 1.10.x the Envoy containers get in a crash loop looking for /etc/envoy/envoy-config.json.

[2018-09-12 23:44] lluunn opened #1520 "migrate bootstraper from glide to dep"
I am hitting some error when building locally with `glide install -v`
https://github.com/Masterminds/glide/issues/975

I will try to migrate to dep.
Other kubeflow repos also use dep https://github.com/kubeflow/tf-operator/issues/556

cc @kunmingg

[2018-09-13 00:58] jokerwenxiao opened #1522 "How to deploy kubeflow by using offline computer"
For some reason, my development environment has no network, so how do I deploy kubeflow?

[2018-09-13 01:44] #1461 closed

[2018-09-13 03:30] 372046933 commented on #1522
Currently, you have to initialize the `ks` project  online. After that, you can use `ks show` to generate `YAML` and then apply that on the offline machine.

[2018-09-13 06:17] 372046933 opened #1524 "Error in the generated YAML"
The following error pops after run `ks apply -f YAML` where `YAML` is generate by `ks show default`
[code]

[2018-09-13 10:13] PhilippeBarb opened #1525 "Nodeport not accesible"
Hello and sorry for my bad english :(

I create a deployment with yaml file

`---
 apiVersion: extensions/v1beta1
 kind: Deployment
 metadata:
   name: nginx
 spec:
   replicas: 2
   template:
     metadata:
       labels:
         app: nginx
     spec:
       containers:
         - name: nginx
           image: nginx
           ports:
             - containerPort: 80

---
apiVersion: v1
kind: Ser

[2018-09-13 12:15] PhilippeBarb commented on #1525
Other info

 microk8s.kubectl get services
NAME         TYPE        CLUSTER-IP       EXTERNAL-IP   PORT(S)          AGE
nginx       NodePort    10.152.183.221   <none>        3000:30500/TCP   2h

 microk8s.kubectl get pods

 kubectl get pods
NAME                       READY     STATUS    RESTARTS   AGE
nginx-578687d985-cxcjw   1/1       Running   0          2h
nginx-578687d985-tknf5   1/1       Ru

[2018-09-13 12:56] kkasravi commented on #1189
working on this now ...

[2018-09-13 23:49] TheJaySmith commented on #1419
Hello,

Go works too. Either way, do we have someone taking the action item?

[2018-09-14 00:11] kunmingg commented on #1419
No, would be great if you have time for it?

[2018-09-14 01:40] kunmingg commented on #1417
@jlewi
```baking registries into image``` now deprecated.

[2018-09-14 06:39] amsaha commented on #1510
@kunmingg

@xyhuang and I took further look at it and it seems that the cleanest option is to have `each image released by their own workflow`.

Since each repo can have only one build_image.sh (as it seems is the case from looking at https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md) I think we can pass different values to `EXTRA_ARGS` in the call to `build_image.sh` and use

[2018-09-14 08:05] shimpel opened #1530 "Directory ${KFAPP} already exists"
Hi,

I´m tried to install kubeflow according to your guide:
https://www.kubeflow.org/docs/started/getting-started/

If I run ${KUBEFLOW_REPO}/scripts/kfctl.sh init ${KFAPP} --platform none
the script finishes with exit code 1 with the error message_
Directory /etc/kubeflow already exists.

The directory did not exist before I ran the script.
The scripts creates the directory /etc/kubeflow but ther

[2018-09-14 11:16] TheJaySmith commented on #1419
Sure. I am working on a CLI for some of the WeaveWorks Flux integration and it doesn't make sense to have two CLI's within the same product. My GoLang is rusty but what better way to improve it.

[2018-09-14 19:09] lluunn commented on #1520
My `dep init` never finished.
similar to https://github.com/golang/dep/issues/1991

[2018-09-14 21:11] kkasravi opened #1534 "refactor tf-job-operator to match style-guide of libsonnet"
tf-job-operator use a similar pattern as other libsonnets:
[code]

[2018-09-14 23:16] andreyvelich commented on #1530
Hi,

Can you show me your ${KFAPP} variable?
After creating folder with env.sh file you need to run this commands from the folder with env.sh file.
${KUBEFLOW_REPO}/scripts/kfctl.sh generate k8s
${KUBEFLOW_REPO}/scripts/kfctl.sh apply k8s

[2018-09-14 23:45] kunmingg commented on #1525
Nodeport is accessible from any node within cluster.

[2018-09-14 23:46] kunmingg commented on #1524
Can you provide which version are you using?
And cmds you executed?

[2018-09-14 23:46] #1417 closed

[2018-09-14 23:48] kunmingg commented on #1518
You can try deploy using latest master, there's a problem in Kubeflow 0.2.5 with k8s 1.10.x

[2018-09-16 16:52] amsaha commented on #1510
@xyhuang
So if I understand correctly `kubebench-examples: builds multiple images for all kubebench examples` means that if there are multiple examples (currently there is only tf-cnn) all will be build in one shot, right?

BTW, the current structure of https://github.com/kubeflow/kubeflow/blob/master/releasing/prow_config_release.yaml requires that there is one `build_image.sh` for the entire rep

[2018-09-16 17:03] kkasravi opened #1540 "upgrade to ksonnet 0.12.0, jsonnet v0.11.2 in the Docker image for our test workers"
issue #1534 requires a version of workflows/k8s.libsonnet that includes apiextensions
This would be in {ksonnet 0.12.0, jsonnet v0.11.2}

Are we able to upgrade to ksonnet 0.12.0?
I wasn't able figure out where to upgrade ksonnet other that what was already done
for the web backend #1508

[2018-09-16 17:18] kkasravi commented on #1540
/assign @pdmack

[2018-09-16 17:18] kkasravi commented on #1540
/assign @kunmingg

[2018-09-16 17:18] kkasravi commented on #1540
/cc @wbuchwalter

[2018-09-16 17:18] kkasravi commented on #1540
/cc @jlewi

[2018-09-16 17:54] kkasravi commented on #1524
@372046933 might be referring to tf-job-operator.libsonnet
Both CRD's do not include scope
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/tf-job-operator.libsonnet#L36
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/tf-job-operator.libsonnet#L53

I've included scope in PR #1535 but the PR is dependent on [upgrading to ksonnet 0.12.0](https://github.com/kubeflow/kubef

[2018-09-16 18:55] jlewi commented on #1240
@gaocegege What are the advantages of using a Jupyter kernel and magic commands as opposed to just making it a python library? As @wbuchwalter mentions above, a Python library seems like its more flexible because it can be used outside of a Jupyter notebook. From the user perspective, it doesn't seem like calling a function is worse then setting magic (see [example above](https://github.com/kubefl

[2018-09-16 20:04] shimpel commented on #1530
Hi,

I entered an absolut path for the directory because I missunderstood the manual:
"${KFAPP} The name of a directory to store your configs. "
I entered /etc/kubeflow for ${KFAPP}.
If I just enter the name of the new folder "kubeflow" everthing is working.

[2018-09-16 20:04] #1530 closed

[2018-09-17 00:50] kkasravi commented on #1419
@TheJaySmith take a look at [arena](https://github.com/kubeflow/arena/tree/master/cmd/arena/commands) which uses spf13/cobra and is a kubeflow CLI with a number of commands. You could possibly add the kfctl sub-commands there. I think at some point these CLI's would be combined (kfctl and arena).
@kunmingg @jlewi feel free to weigh in.

I'm doing some related work and may ping you on this stuff.

[2018-09-17 02:10] gaocegege commented on #1240
@jlewi They will not need to learn and import a new library. I do not think it is problematic. I just argue because I think ML guys should have zero overhead when using Kubeflow.

While I do not mean to replace fairing. I will maintain the kernel in caicloud if we have some doubts.

[2018-09-17 03:27] 372046933 commented on #1524
Thank you. I was using master branch when reporting the issue

[2018-09-17 07:39] madfrog commented on #1116
Code start may be a problem, not like just a piece of code, loading model, especially those big ones, will cost much time.

[2018-09-17 11:53] jlewi commented on #1432
The fix was pushed in v0.2.5
https://github.com/kubeflow/kubeflow/releases/tag/v0.2.5

[2018-09-17 11:53] #1432 closed

[2018-09-17 13:07] #1492 closed

[2018-09-17 13:09] jlewi opened #1541 "Create 0.3. Release"
This is the tracking bug for cutting a 0.3 release.

[30 Remaining P1s](https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+org%3Akubeflow+label%3Aarea%2F0.3.0+label%3Apriority%2Fp1+)

Blocking issues

- [x] Create updated images for Katib; #1604
       * ~~#1400 update Katib releaser~~
- [x] Update image for Central UI #1435
- [x] Update TFJob image #1599
- [x] Update PyTorch image #1600
- [x] U

[2018-09-17 13:11] jlewi commented on #1050
@ashahba any progress on a PR? We'd like to cut an RC this week for 0.3.  #1541

[2018-09-17 13:53] jlewi commented on #368
Does anyone know if TFServing provides a suitable handler that we could use for a basic readiness or liveness probe?

What about using the latest version of TFServing which has a REST interface?

[2018-09-17 13:54] jlewi commented on #1258
Should we punt this to 0.4?

[2018-09-17 13:58] pdmack commented on #1050
The ambassador ones got cleaned up by #1207 and #1324 I think.

[2018-09-17 13:59] jlewi commented on #56
@pdmack Agree on the scoping of this issue.

[2018-09-17 14:00] jlewi commented on #56
@pdmack feel free to open a new issue to clarify the scope and then close this as a dupe of that.

[2018-09-17 14:04] pdmack commented on #1050
But [mxnet-job](https://github.com/kubeflow/kubeflow/blob/master/kubeflow/mxnet-job/prototypes/mxnet-job.jsonnet#L9) and [weaveflux](https://github.com/kubeflow/kubeflow/blob/master/kubeflow/weaveflux/prototypes/weaveflux.jsonnet#L6) need cleanup though.

[2018-09-17 14:07] jlewi commented on #1540
The ksonnet version is installed in our test image.
https://github.com/kubeflow/testing/blob/master/images/Dockerfile#L92

So we'd need to update that and then build and push a new version of that image.

I'm unclear though why #1534 requires a ksonnet update.

[2018-09-17 14:08] jlewi commented on #1534
Why are k.libsonnet and k8s.libsonnet inside core

[code]

[2018-09-17 14:28] jlewi commented on #1540
I think this is one PR where we were discussing this
https://github.com/kubeflow/kubeflow/pull/1437#issuecomment-418523083

[2018-09-17 14:31] kkasravi opened #1542 "add jsonnet tests for all libsonnet files"
Many libsonnet files do not have tests. Tests should be added for the following:

kubeflow/core/ambassador.libsonnet
kubeflow/core/centraldashboard.libsonnet
kubeflow/core/cert-manager.libsonnet
kubeflow/core/cloud-endpoints.libsonnet
kubeflow/core/echo-server.libsonnet
kubeflow/core/google-cloud-filestore-pv.libsonnet
kubeflow/core/jupyterhub.libsonnet
kubeflow/core/metric-collector.libsonnet
kub