[2021-06-02 18:29] jbottum commented on #5539
completed and posted, https://blog.kubeflow.org/kubeflow-continues-to-move-to-production

/close

[2021-06-02 18:30] #5539 closed

[2021-06-02 18:38] DavidSpek commented on #5949
With [ArgoFlow-AWS](https://github.com/argoflow/argoflow-aws) we use the Istio operator to instal Istio, and OAuth2-Proxy for the authentication. Here is the isto-spec we use with the operator (which also contains the OAuth2-Proxy setup which you can ignore for now).

[code]

To be able to use the NLB load balancer in instance mode you also need to add these 2 EnvoyFilters:

[code]

[code]

You ca

[2021-06-03 00:53] Boes-man commented on #4758
Just adding this here, perhaps Volume management Ui can include dynamic volume mounts to the pod (via pod-defaults?), as per https://github.com/kubeflow/kubeflow/issues/5565

[2021-06-03 02:09] ajinkya933 commented on #5954
Please answer for Kubeflow 1.3 on AWS . I am strictly sticking with this cloud provider and Kubeflow version .

[2021-06-03 09:13] DavidSpek commented on #4758
@Boes-man This is on my radar for things I want to add after support for VolumeSnapshots has been added. I've already implemented this, just having a hard time actually getting it upstreamed (see https://github.com/kubeflow/kubeflow/pull/5844 where I add part of the backend code needed for this).

[2021-06-03 09:16] DavidSpek commented on #5954
@ajinkya933 Kale is not a part of Kubeflow and will work on any platform. If you are still facing trouble with not being able to access the dashboard you will need to provide more information about your setup and where things are going wrong.

[2021-06-03 09:55] kimwnasptd opened #5960 "E2E testing for the web apps"
/kind feature

**Why you need this feature:**
Right now we don't have E2E tests in-place for our [web-apps](https://github.com/kubeflow/kubeflow/tree/master/components/crud-web-apps). This makes it difficult to move forward with more advanced features that would be changing big parts of the codebase, i.e. https://github.com/kubeflow/kubeflow/pull/5805. The tests will also allow us to quickly and c

[2021-06-03 14:11] HassanOuda commented on #4569
@Bobgy Can we revive this? It would be awesome if have the manage contributors page using the namespace selector dropdown for the owned namespaces to toggle the page so that we can add contributors to each owned namespace.

[2021-06-03 14:30] thesuperzapper opened #5962 "Disable Dependabot and enable Renovate"
/kind feature

Currently we have `dependabot` enabled on this repo, but it has __not been__ configured.

As discussed in Notebook Working Group meetings, we intend to use `Renovate` for our dependency management (as is done in Pipelines).

Therefore, we should enable `Renovate`, and disable `dependabot` on this GitHub repo.

[2021-06-03 14:36] thesuperzapper commented on #5962
@Bobgy this should be pretty easy on your end (just clicking some buttons to remove `dependabot`, and add the `renovate` bot in the GitHub UI)

_PS: only you can do this, as none of the @kubeflow/wg-notebooks-leads have admin on this repo_

[2021-06-03 14:36] thesuperzapper commented on #5962
/assign @Bobgy

[2021-06-03 14:36] thesuperzapper commented on #5962
/priority p1

[2021-06-03 14:39] toshi-k opened #5963 "New menu bar cannot be scrolled"
/kind feature

**Why you need this feature:**
New menu bar of KF1.3 has more menu items than KF1.2. The users whose display is small (especially laptop users) can't show all menu items.
![cutoff](https://user-images.githubusercontent.com/10993535/120662231-ed125300-c4c3-11eb-9a3e-aeea98686905.png)

**Describe the solution you'd like:**
The scroll bar should be available on menu bar when the window

[2021-06-03 14:39] thesuperzapper commented on #5962
@DavidSpek has created an initial `.github/renovate.json5 ` config file for renovate with PR: https://github.com/kubeflow/kubeflow/pull/5580

[2021-06-03 14:40] ReggieCarey commented on #5540
I must sadly report this issue is raising its head on Kubeflow 1.3 installed on bare metal with the manifests approach (ArgoCD install would not work).  This is on a k8s that had KF 1.2 installed previously.

I wonder if left over artifacts from that distribution could be impacting KF 1.3.

[code]

[2021-06-03 15:37] toshi-k commented on #5963
Resolved ! #5964

[2021-06-03 15:37] #5963 closed

[2021-06-03 16:10] #5496 closed

[2021-06-03 16:24] #5904 closed

[2021-06-03 16:25] yanniszark opened #5965 "profiles: Work with InferenceServices"
/kind bug

**What steps did you take and what happened:**

Deploying an InferenceService in a Profile namespace does not work by default, because:
- The InferenceService Pod is injected with an Istio sidecar.
- The Istio sidecar does not accept traffic from Knative, which needs to ping the Pod in order to work correctly.

**What did you expect to happen:**

Profiles should work with InferenceServi

[2021-06-03 16:34] thesuperzapper commented on #5960
@kimwnasptd are you proposing is the same as discussed in the Notebooks WG meeting?

__Phase 1 (Next 1 month):__ define a google doc with manual "acceptance tests" which could be run through by a human to verify that Jupyter (and similar) are working

__Phase 2 (Next 2-6 months):__ setup the tooling for automating some of the manual acceptance tests defined in phase 1 (so they can be run in pre-su

[2021-06-03 16:34] thesuperzapper commented on #5960
@DavidSpek and I have been working a bit on an initial google doc for "Phase 1"

[2021-06-03 21:19] #5195 closed

[2021-06-03 22:12] ReggieCarey commented on #5504
This is an issue in Kubernetes 1.3.0.  It makes development impossible. It occurs in on prem versions as well.  Why is outbound traffic being routed through google?

[2021-06-04 00:52] daikeshi opened #5973 "[frontend] KFP UI Experiment/Run page link doesn't populate namespace"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

Open source Kubeflow v1.1
*  KFP version:

KFP v1.3

### Steps to reproduce

When I click `Runs` on the left side menu bar, the run page link doesn't have the namespace populated (see the snapshot below).

<img width="600" alt="kfp_run_page" src="https://user-images.githubusercontent.com/475945/120729408-14115a80-c4ad-11eb-9eaa-aa9e

[2021-06-04 07:24] gugumituo commented on #4519
I have the same issue.

[2021-06-04 09:38] DavidSpek commented on #5965
I'd just like to point out that the PR by @Subreptivus is also what I found to be necessary for KNative and the KNative docs also say this authorization policy is necessary.

https://knative.dev/v0.22-docs/serving/istio-authorization/#allowing-access-from-system-pods-by-paths

A bit higher on that page it also states that it might be necessary to add the `knative-serving` namespace to the allow po

[2021-06-04 11:05] kimwnasptd commented on #5091
/lifecycle frozen

[2021-06-04 11:05] kimwnasptd commented on #5462
/lifecycle frozen

[2021-06-04 12:32] DavidSpek commented on #5004
@kim-sardine Could you maybe raise a new issue about this, as this issue is regarding the regex being too restrictive. The problem of no email validation happening in the profile CR is quite different.

[2021-06-04 12:59] DavidSpek commented on #5825
@munagekar Sorry for the late response. The reason why I said using containers for and IDE is not the best idea, is it is allowing users to run arbitrary code on the Kubernetes cluster which makes security quite difficult to do properly. An actual VM would provide much better isolation, and you could run tools such as Docker in the VM, which some development workflows require. But this is beside t

[2021-06-04 13:56] kimwnasptd commented on #5960
For phase 1 the goal is to have a basic set of e2e tests that users can run locally. This way we can ask them to provide us the output of the tests in PRs and we can be confident about merging them, without waiting until the e2e tests are fully integrated with our CI.

I think a gdoc for this is an overkill, since the we don't have that many cases to test. But ofc such a doc is more that welcome!

[2021-06-04 15:13] #5358 closed

[2021-06-04 15:13] #5243 closed

[2021-06-05 18:18] areiner-novetta opened #5967 "Kubeflow creating workspace volumes in different availability zone than instances, failing"
/kind bug

**What steps did you take and what happened:**
Kubeflow deployed on a `kops`-created cluster, in AWS.  Prior to this it had been in use, with little maintenance for months.

We needed to add an instance type to our cluster that is not available in the original (single) zone we deployed it to (us-east-1**c**).  I successfully used `kops` to create a second subnet (in us-east-1**b**), and

[2021-06-06 07:29] kd303 commented on #5557
no, temporarily we have integrated with AD for now.

On Wed, Jun 2, 2021, 11:26 PM DavidSpek ***@***.***> wrote:

[2021-06-06 12:13] EKami commented on #5949
@toshi-k
Here is the output:
[code]

@DavidSpek

Thanks, I'll try your solution and let you know :)

[2021-06-06 13:31] toshi-k commented on #5949
@EKami I think you have to create the ingress object. aws-load-balancer-controller create a loadbalancers based on it.

https://aws.amazon.com/premiumsupport/knowledge-center/eks-alb-ingress-aws-waf/?nc1=h_ls

[2021-06-06 13:42] EKami commented on #5949
@toshi-k I believe I did by doing this:
[code]

or maybe I don't know enough of k8s yet to figure this out :(

[2021-06-06 13:53] toshi-k commented on #5949
@EKami Is it all of your manifest ? You have to write not only metadata but **specs**.
KF1.2 had an Ingress object itself (but KF 1.3 doesn't have), and you can see it as a reference.
https://github.com/kubeflow/manifests/blob/v1.2-branch/aws/istio-ingress/base/ingress.yaml

[2021-06-06 14:10] EKami commented on #5949
@toshi-k Oh, I thought KF 1.3 did have one that's why I didn't define the specs since my plan was to overwrite the Ingress object of KF 1.3 with this:
[code]
with `istio_custom/ingress.yaml`:
[code]

So I will try with this instead:
[code]

with `istio_custom/ingress.yaml`:
[code]

and report back. Thanks!

[2021-06-06 14:37] toshi-k commented on #5949
@EKami Later one seems more reasonable configuration. Good Luck !

[2021-06-06 15:10] EKami commented on #5949
@toshi-k It's working indeed! With the ALB now being created, thank you so much! I'm getting a 502 bad gateway but I guess I just have to figure out how to fix that in the `specs` now

[2021-06-06 15:15] toshi-k commented on #5949
@EKami I'm glad to hear that. Make a little more effort !

[2021-06-06 15:21] #5949 closed

[2021-06-06 15:23] EKami commented on #5949
I'll still implement @DavidSpek solution at some point since using an ALB defeats the purpose of istio (I still have to understand why). Thanks for all!

[2021-06-06 20:49] EKami commented on #5949
@DavidSpek I tried to use your solution but I'm unable to create an NLB, I also tried patching the Istio `Gateway` with:
[code]
and `istio_custom/gateway.yaml`:
[code]
but nothing happens, here are the logs that I'm getting from the ingress deployment:
[code]

I'm a bit lost since I believe `Gateway` is the ingress equivalent for istio but it doesn't seem to spawn any LB.

[2021-06-06 20:50] DavidSpek commented on #5949
@EKami Is the Istio-ingressgateway service set to loadbalancer instead of ClusterIP or NodePort?

[2021-06-06 20:51] EKami commented on #5949
Nope, lemme patch that

[2021-06-06 20:54] EKami commented on #5949
Something like this would work?

`kustomization.yaml`
[code]
and `istio_custom/service.yaml`:
[code]

I can't find this patching in the repo that you shared

[2021-06-06 21:10] DavidSpek commented on #5949
That's because we aren't using the manifest repo manifests where they changed the default from loadbalancer to nodeport. The manifest repo manifests contain some very serious security vulnerabilities, so we're using the Istio operator to make it easier to maintain and update.

Either of those patches would work. For the bottom one you need to add that file under `patchesStrategicMerge` in the kust

[2021-06-06 21:12] EKami commented on #5949
Oh ok, thanks a lot! I'll def have a look at the repo you shared, I'm just not super proficient with k8s yet to be able to understand all the changes on this repo.

[2021-06-06 21:48] DavidSpek commented on #5949
If you message me on Slack I can help you get setup with that repo this week. The Kubeflow components are not altered, they are just installed in a way that is easier to managed, maintain and update.

[2021-06-06 21:54] EKami commented on #5949
Thanks a lot @DavidSpek ! On what Slack exactly? I'll try to figure it out by myself first and ask for help only if I'm really blocked because I don't want to take too much of your time, you already did a lot by pointing me in the right direction, thanks again 🙏

[2021-06-06 21:57] DavidSpek commented on #5949
https://join.slack.com/t/kubeflow/shared_invite/zt-n73pfj05-l206djXlXk5qdQKs4o1Zkg

We've been working very hard and moving fast so the README isn't fully up to date and might be missing a few things here or there. If you get stuck somewhere I'm happy to help out. The plan is to also include the creation of off-cluster resources soon to make things a bit easier, but I'm not sure when that will be

[2021-06-06 22:06] EKami commented on #5949
Understood, thanks a lot!

[2021-06-07 01:49] AlecZebrick commented on #5704
Same issue here, infinite loop on logout.

[2021-06-07 05:23] yuzisun commented on #5965
There is discussion on [this issue](https://github.com/kubeflow/kfserving/issues/1558), I think profile controller is the right place to create the authorization policy, the policy can also use the workload label for the fine grain control.

[2021-06-07 12:58] swamat commented on #5854
@DavidSpek Yes am still facing this issue. But am unable to reach you through slack

[2021-06-07 13:00] DavidSpek commented on #5854
@swamat Do you need an invite link for the Slack?

[2021-06-07 14:11] swamat commented on #5854
@DavidSpek Yes please

[2021-06-07 14:13] DavidSpek commented on #5854
@swamat Here you go: https://join.slack.com/t/kubeflow/shared_invite/zt-n73pfj05-l206djXlXk5qdQKs4o1Zkg

[2021-06-07 16:27] yanniszark commented on #5537
@PatrickGhosn please open a PR in https://github.com/kubeflow/gcp-blueprints/ to ask the maintainers of the GCP distribution about this, as it's their area of ownership

[2021-06-07 16:27] #5537 closed

[2021-06-07 18:00] yanniszark commented on #5965
Thanks @yuzisun!
From issue https://github.com/kubeflow/kfserving/issues/1558, I understand that ss @pvaneck mentioned, there is [a recommendation from Knative](https://knative.dev/docs/serving/istio-authorization/#allowing-access-from-system-pods-by-paths):

[code]

I think we can make this even better by taking advantage of Knative's default labels:
https://knative.tips/pod-config/pod-metadata/

[2021-06-07 20:40] jbottum commented on #5704
@ninja-tester @AlecZebrick @MarcandreBoulon @kim-sardine have you tried this test log-out test case with Kubeflow 1.3 ?

[2021-06-07 20:43] DavidSpek commented on #5704
This can be fixed with a virtual service. Here is a link for a virtual service that fixes sign out when using Oauth2-Proxy and Keycloak.

https://github.com/argoflow/argoflow-aws/blob/master/distribution/oidc-auth/overlays/keycloak/oauth2-proxy-signout-virtual-service.yaml

[2021-06-08 00:42] AlecZebrick commented on #5704
Is that supported on AWS? According to this: https://www.kubeflow.org/docs/started/installing-kubeflow/ 1.2 is for AWS and 1.3 is for GC

[2021-06-08 02:13] AlecZebrick commented on #5704
Thank you for this, might be pointing me in the right direction. I've never used a virtual proxy before in k8's, do you think this would work with cognito?

[2021-06-08 07:40] DavidSpek commented on #5704
@AlecZebrick It's an Istio configuration that redirects requests from the central-dashboard logout button to wherever you need. You’ll just need to change it for your logout URL and OIDC provider.

[2021-06-08 08:43] LEDfan commented on #5128
We faced this issue in a Kubeflow deployment and found a workaround. The idea is to create an Istio `AuthorizationPolicy`, which allows any traffic to the `/api/status` endpoint of the notebook servers. Therefore any pod in the cluster an access the `/api/status` endpoint (also non-istio enabled pods), however, from security POV I believe it's okay to take this risk. Only very limited metadata is

[2021-06-08 14:52] yanniszark commented on #5965
### Testing Knative's proposed policy

After applying Knative's proposed policy, as mentioned by @pvaneck, I confirmed that:
- Knative's autoscaler works as expected, no more errors in logs.
- Users can get KFServing predictions through the public ingress (istio ingressgateway), by following this workaround to get an authservice session: https://github.com/kubeflow/kfserving/blob/master/docs/sampl

[2021-06-08 18:10] pablofiumara-azumo opened #5969 "Cert Manager + Istio + Kubeflow + Azure + LetsEncrypt #4083"
How can I setup SSL for a Kubeflow installation (using Istio) on Azure? URL is https://mydns.westus.cloudapp.azure.com/

Thanks in advance

[2021-06-08 21:42] oakkas commented on #5563
I solved this by increasing the number of nodes from AWS EKS cluster UI

[2021-06-09 09:39] anencore94 opened #5970 "Enable to change gpu_num_list with k8s configmap"
/kind feature

**Why you need this feature:**
- currently, user can spawn notebook with gpu 1, 2, 4, or 8.
![image](https://user-images.githubusercontent.com/37469330/121330813-4e697480-c951-11eb-95b7-f4f209e20ddf.png)

- However, some people may want to make users only choose from [None, 1, 2] or some other options.

**Describe the solution you'd like:**
- [1,2,4,8] was fixed by crud-web-apps's j

[2021-06-09 14:57] yanniszark commented on #5965
### /wait-for-drain path

@Subreptivus found out that there is an additional `/wait-for-drain` path used by Knative. Knative uses this path to wait until all requests in the queue are complete before terminating a Pod. Istio blocks access to this path, as I confirmed by deleting a Knative Pod while streaming its logs.

Thus, the Knative docs seem incomplete: https://knative.dev/v0.22-docs/serving/

[2021-06-09 17:11] #5969 closed

[2021-06-09 17:19] kimwnasptd opened #5971 "Restructure the storage API of the Jupyter web app"
/kind feature

## Why you need this feature
Right now the storage API of our Notebook spawner web app provides a, limiting, abstraction on top of a [pod volume](https://v1-18.docs.kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#volume-v1-core), [container mount](https://v1-18.docs.kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#volumemount-v1-core) and a PVC spec, for def

[2021-06-09 17:30] DavidSpek commented on #5971
Just a few quick thoughts while reading this on my phone:

- This needs to be mirrored to the Volumes Web App.
- The current Jupyter Web App implementation also needs to be changed so that selecting `Existing` will list out the current PVCs.
- The Jupyter Web App should have the option to select the storage class, since this is possible in the Volumes Web App.
- The API returned by the Volumes and

[2021-06-09 17:45] DavidSpek commented on #5970
@anencore94 The spawner config is loaded from a configmap by default. The config in the image itself is only used if the container is started in dev mode or if the file from the configmap is missing.

How are you installing Kubeflow, and what version are you using?

[2021-06-10 04:38] aniruddhachoudhury commented on #5931
@DavidSpek Is there are any workaround to cull "VS Code based notebooks" ?
And how about the adding Kubernetes taints to specific notebook for a namespace so that the Node Pool in Kubernetes will release the nodes and it will downscale is there any workaround in YAML to do that for each namespace?

[2021-06-10 07:55] kimwnasptd commented on #5128
Hi @LEDfan, your proposed is indeed the way to fix this for now!

I would suggest though that we limit the source of the `AuthorizationPolicy` to just allow the Notebooks controller to access the `/api/status` of each Notebook and not everyone https://istio.io/latest/docs/reference/config/security/authorization-policy/.

This can be part of the [current manifests](https://github.com/kubeflow/kubef

[2021-06-10 07:59] kimwnasptd commented on #5971
To which part of the proposal are you referring to?

The Volumes web app should use the same common component for defining the PVC and submit the K8s object as is, that was defined from that component. This way we reduce code duplication between the web apps and provide the same UX.

In that sense then yes, the API of the Volumes web app should also be updated to accept PVC specs when creating PVC

[2021-06-10 08:11] LEDfan commented on #5128
Hi @kimwnasptd

Does that mean you will enable the istio-sidecar on the notebooks controller? I don't think we will be able to limit the traffic without having mutual LTS between the notebook servers and the notebook controller. All relevant fields here https://istio.io/latest/docs/reference/config/security/authorization-policy/#Source require mutualLTS. But maybe I'm missing something?

[2021-06-10 10:15] anencore94 commented on #5970
@DavidSpek
I installed kubeflow with kubeflow-manifests(https://github.com/kubeflow/manifests), now using v1.3.0.

However, my suggestion was not about changing configmap dynamically.

Since I think there isn't any option to change 'gpu_num_choice_list' in the configmap, I want to make it possible.

[2021-06-10 13:58] solarist commented on #5335
Is there any update regarding this? It'd be very handy to be able to choose the type directly in the UI.

[2021-06-10 23:29] lauradang opened #5972 "Kubeflow Azure Deployment - Self-signed certificate from cert-manager is untrusted"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I followed all the steps in the following documentation: https://v1-2-branch.kubeflow.org/docs/azure/authentication-oidc.
I used a Load Balancer IP (Not Load Balancer Hostname). When I navigate to `https://<MY_LOADBALANCER_IP_ADDRESS>/`, I am greeted with a "Your connection is not privat

[2021-06-11 00:39] Bobgy commented on #5973
/cc @kimwnasptd @yanniszark

[2021-06-11 01:14] #5370 closed

[2021-06-11 01:14] #5433 closed

[2021-06-11 01:14] #5442 closed

[2021-06-11 01:14] #5127 closed

[2021-06-11 01:14] #5380 closed

[2021-06-11 01:14] #5376 closed

[2021-06-11 01:14] #5440 closed

[2021-06-11 01:14] #5325 closed

[2021-06-11 01:14] #5407 closed

[2021-06-11 01:14] #4817 closed

[2021-06-11 01:14] #5502 closed

[2021-06-11 01:14] #5415 closed

[2021-06-11 01:14] #5435 closed

[2021-06-11 01:14] #5505 closed

[2021-06-11 01:15] #5467 closed

[2021-06-11 01:15] #5483 closed

[2021-06-11 02:17] #5061 closed

[2021-06-11 02:17] #5157 closed

[2021-06-11 02:17] #5414 closed

[2021-06-11 02:17] #5509 closed

[2021-06-11 02:17] #5605 closed

[2021-06-11 02:17] #5499 closed

[2021-06-11 02:17] #5536 closed

[2021-06-11 02:17] #5551 closed

[2021-06-11 02:18] #5339 closed

[2021-06-11 02:18] #5546 closed

[2021-06-11 02:18] #5395 closed

[2021-06-11 02:18] #5584 closed

[2021-06-11 02:18] #5456 closed

[2021-06-11 02:18] #5589 closed

[2021-06-11 02:18] #5591 closed

[2021-06-11 02:18] #5512 closed

[2021-06-11 02:18] #5460 closed

[2021-06-11 02:18] #5514 closed

[2021-06-11 02:18] #5459 closed

[2021-06-11 02:18] #5561 closed

[2021-06-11 02:18] #5639 closed

[2021-06-11 02:40] Bobgy commented on #5390
/reopen

[2021-06-11 02:41] Bobgy commented on #5418
Reopen

[2021-06-11 03:43] AbdallahAboelela opened #5974 "Error from server when creating minio-pv and mysql-pv"
I am running make apply in the google cloud shell after following along with the guide here: https://v1-1-branch.kubeflow.org/docs/gke/deploy/deploy-cli/ and this YouTube video: https://www.youtube.com/watch?v=vCxsKcBL6Qo

Everything works fine until it's time to run `make apply` when deploying in the **Deploying Kubeflow** section at which point I get the below error message.

[code]

However, wh

[2021-06-11 06:11] thesuperzapper commented on #4950
@DavidSpek did we ever implement this?

[2021-06-11 06:12] thesuperzapper commented on #4953
/reopen
I think we should still consider doing this

cc @DavidSpek

[2021-06-11 06:14] thesuperzapper commented on #5687
@ajinkya933 are you still having this issue?

[2021-06-11 07:29] ajinkya933 commented on #5687
Yes

[2021-06-11 09:14] femtonelson opened #5975 "Unable to access Kubeflow (addon in microk8s) dashboard from remote PC browser. Microk8s installed on a private VM (10.20.35.10) accessed through VPN."
/kind bug

**What steps did you take and what happened:**
- Installed Microk8s and enabled Kubeflow addon as described [here](https://www.kubeflow.org/docs/distributions/microk8s/kubeflow-on-microk8s/)
- After enabling kubeflow : The dashboard is available at http://10.64.140.43.nip.io
- Added the DNS entry to VM's "/etc/hosts" file :  "10.64.140.43      10.64.140.43.nip.io"
- "curl -I http://10.6

[2021-06-11 11:40] femtonelson commented on #5975
In the meantime, I installed Ubuntu desktop GUI + xrdp and can access the Kubeflow dashboard through remote desktop.

Install xrdp + Ubuntu desktop on VM :
- sudo apt-get install xrdp
- Start after reboot : sudo systemctl enable --now xrdp
- Open firewall port 3389 for incoming traffic : sudo ufw allow from any to any port 3389 proto tcp
- sudo apt install ubuntu-desktop
- Add xrdp user to ssl-cer

[2021-06-11 14:38] femtonelson commented on #5975
Changed the microk8s version to 1.20 and retried the access to the dashboard with socks proxy described [here](https://www.kubeflow.org/docs/distributions/microk8s/kubeflow-on-microk8s/) and it works.

sudo apt-get update
sudo apt install snapd
sudo snap install microk8s --classic --channel=1.20
sudo usermod -a -G microk8s $USER
sudo chown -f -R $USER ~/.kube
sudo reboot
microk8s enable kubeflow

[2021-06-11 14:38] #5975 closed

[2021-06-11 19:42] #5972 closed

[2021-06-11 19:47] lauradang opened #5976 "Deploying Kubeflow to Azure with DNS and TLS termination"
/kind feature

Similarly to the [documentation regarding deploying Kubeflow to IBM Cloud with DNS and TLS termination](https://www.kubeflow.org/docs/distributions/ibm/deploy/authentication/#exposing-the-kubeflow-dashboard-with-dns-and-tls-termination), it would be great to have similar documentation for deploying Kubeflow to Azure with DNS and TLS termination. Right now, it only shows us how to de

[2021-06-11 19:52] kimwnasptd commented on #5128
@LEDfan you are spot on! We will need to explicitly allow the sidecar injection in the Notebooks Controller. This should be done here https://github.com/kubeflow/kubeflow/blob/master/components/notebook-controller/config/manager/manager.yaml#L19.

Also note that the Profiles controller adds the `istio-injection: "true"` label in every Namespace it creates [[source](https://github.com/kubeflow/kube

[2021-06-13 06:38] wajeehulhassanvii commented on #5551
DId you find any solution to this?

[2021-06-14 10:47] DavidSpek commented on #5976
I recently ran @pablofiumara through the process of creating a proper certificate on Azure and setting up the Istio Gateway to use that certificate. I haven't had the time yet to write more docs about this, but maybe he can help you out with this a bit.

[2021-06-14 10:47] DavidSpek commented on #5958
This is also the happening with the Jupyter Web App.

[2021-06-14 12:33] pablofiumara commented on #5976
I will post some guidelines in the next days to have SSL enabled on Azure. Meanwhile I suggest reading readme file here and its code: https://github.com/argoflow/argoflow-azure

[2021-06-14 16:39] DavidSpek commented on #4950
@thesuperzapper Nope, if you select `Existing` you won't get a list of existing PVCs. This will need to be part of the spawner rewrite, along with an option for `Clone Snapshot`, etc.

[2021-06-14 17:45] kimwnasptd opened #5978 "Notebooks WG Roadmap for 1.4"
Lets use this issue to discuss on what we would like to work on for 1.4

These are the following things I'll be working on:
- [ ] Adding e2e tests for the web apps #5960
- [x] Upgrading the Angular framework of the web apps #5525
- [ ] Define a generic Viewer CRD that we could use for use cases like TensorBoard, a PVCViewer etc https://github.com/kubeflow/pipelines/issues/5681
- [x] Improve the st

[2021-06-14 17:55] DavidSpek commented on #5978
@kimwnasptd The [i18n PR](https://github.com/kubeflow/kubeflow/pull/5880) has been fixed to address the CI failing. After a conflict is solved I'll review it, but need some help with merging it. Once that is done, I will fix [my existing PR](https://github.com/kubeflow/kubeflow/pull/5805) for the Angular upgrade.

[2021-06-14 19:01] ca-scribner commented on #5978
Thanks @kimwnasptd, this feels like a good set of priorities.  Automated scaling (#5128) and web app performance (#5201) would both be huge wins for 1.4 imo

[2021-06-14 19:10] ca-scribner commented on #5128
With autoscaling enabled, automated shutdown/restart of notebooks might have some unexpected consequences for users because of how the notebook image is stateless and conda/pip installs will by default go there.  Everything would be as expected if you use packages from your notebook server's image, but installing your own causes issue.  For example, this would result in an error:
* create notebook

[2021-06-14 20:11] danizavtz opened #5979 "Create link for application in central dashboard for inner cluster service"
/kind question
I would like to set a reference in Central Dashboard for a new service (frontend) running in the same cluster of kubeflow.
I was able to customize the central dashboard docker image with a link for my application.
![tempsniphelloapp](https://user-images.githubusercontent.com/3859647/121949683-200fde80-cd2f-11eb-9afa-f340c79b0339.png)

But I couldn't communicate with my application f

[2021-06-15 09:53] DavidSpek commented on #5979
@danizavtz You will need to expose the service using an Istio VirtualService on the kubeflow Istio Gateway.

[code]

[2021-06-15 11:13] DavidSpek commented on #5978
From @thesuperzapper and I:

- [ ] Rewrite the Notebook Spawner to make it more configurable and easier to use
- [ ] Automatic image building and caching as part of the spawning workflow

Things I want to look at (maybe not all for 1.4):

- [ ] Fix resolution scaling issues of the web apps
- [ ] More integration between the web apps (launch a tensorboard from the JWA using the PVC of a notebook)
-

[2021-06-15 12:43] danishsamad commented on #5965
Is there any recommendation to enable calling inference services internally via cluster local gateway.
I have tried a couple of Authorization policies but they don't seem to work.

I keep getting a rbac_access_denied_matched_policy[none] error in istio-proxy container within the inference service pod

[2021-06-15 14:52] kimwnasptd commented on #5978
@DavidSpek the above ideas sound interesting! Can you also ensure that you'll create issues for these, so that we can go through the technical details and evaluate which of these we should support within the WG?

Especially for the first two points we will need to first evaluate:
1. what's going to be the required effort
2. what are the technical details and designs
3. what documentation will need

[2021-06-15 16:31] pablofiumara commented on #5976
@lauradang Execute this commands

1)
az group create -n resourcetest3 -l westus
2)
az aks create -g resourcetest3 -n clustertest3 -s Standard_D4s_v3 -c 4 -l westus --generate-ssh-keys --kubernetes-version 1.19.11
3)
az aks get-credentials -n clustertest3 -g resourcetest3 --overwrite-existing

4) Buy a domain (not one owned by Azure) and you assign it to resourcetest2. You can do it here (App Servi

[2021-06-15 16:39] daikeshi commented on #5973
Thanks @Bobgy!

[2021-06-16 05:34] mofanke opened #5982 "it's hard to delete notebook crd"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

notebook controller image: public.ecr.aws/j1r0q0g6/notebooks/notebook-controller:v1.3.0-rc.1

when i delete notebook, pods State change like below
[code]

**What did you expect to happen:**
just delete notebook and pods, just one State (Terminating)

**Anything else you would like to ad

[2021-06-16 07:23] AahanSingh commented on #5563
@oakkas Yes increasing the number of nodes is the solution to this.
It looks like there is a limit to how many pods can be scheduled per instance type.
This stack overflow post addresses this: https://stackoverflow.com/questions/57970896/pod-limit-on-node-aws-eks

[2021-06-16 09:26] DavidSpek commented on #5563
Closing this issue as it has been solved.

/close

[2021-06-16 09:26] #5563 closed

[2021-06-16 10:08] davidspek opened #5984 "KFAM doesn't create Istio authorization policy for namespace contributors"
/kind bug

When adding a contributor to a namespace, the profile controller creates a `RoleBinding` for the given user so they can create or view resources in the namespace. The profile controller used to create a `ServiceRoleBinding` so the user could access resources (such as notebook servers) in the namespace shared with them. With the upgrade from Istio 1.3 to 1.9, the `ServiceRoleBinding` was

[2021-06-16 10:44] DavidSpek commented on #5965
@yanniszark Currently the profile controller adds an allow rule for `/healthz`, `/metrics` and `/wait-for-drain` to allow acces for the KNative activator and controller probes using the following YAML snippet:

[code]

However, this implementation allows for leaking information hosted on these commonly used endpoints (also from other services).
As a proof of concept, I tried to `curl` a notebook s

[2021-06-16 12:12] yanniszark commented on #5984
@DavidSpek I'm a bit confused. KFAM is responsible for adding contributors, not the profile-controller.
Can you elaborate? How can someone reproduce this issue?

[2021-06-16 12:15] DavidSpek commented on #5984
Indeed, my mistake. I realized it was KFAM just after posting the issue.

If you share your namespace with a user, you can check with kubectl and see that no authorization policy is created for that user. If you login as that user and try to access a notebook server (for example) you will get RBAC access denied.

[2021-06-16 13:53] DavidSpek commented on #5965
After some testing the above solution will not work, since the `knative-serving` namespace does not have Istio injection enabled, and a quick test with injection enabled also didn't fix the issue.

[2021-06-16 14:19] wg102 commented on #5978
Statcan has a few things we would want to upstream and include in 1.4
- [ ] I18n for Central Dashboard (Related to https://github.com/kubeflow/kubeflow/issues/5858)
- [ ] Add fonts as assets for central Dashboard (similar to https://github.com/kubeflow/kubeflow/pull/5691)
- [ ] Manage contributors for all namespaces (would allow UI for https://github.com/kubeflow/kubeflow/issues/4569)
- [ ] Enviro

[2021-06-16 18:20] pbarker opened #5985 "Launching notebook from UI using non-default resource requests results in bad spec"
/kind bug

**What steps did you take and what happened:**
Attempted to launch a notebook server from the UI with non-default resource requests and it results in NaN values for the resource requests in the spec.

Logs from the controller
[code]

**What did you expect to happen:**
A valid notebook to be provisioned

**Anything else you would like to add:**
This doesn't happen with the default parame

[2021-06-16 19:18] lauradang commented on #5976
@pablofiumara Thank you so much for this! Since we do not have a paid domain, I want to use a public IP address and a DNS label as the domain as shown here: https://docs.microsoft.com/en-us/azure/aks/static-ip. I would edit this service: `istio-ingressgateway`'s load balancer IP and annotations. This annotation would be my domain. Would that also work? If so, are there any differences to this conf

[2021-06-16 20:06] lauradang commented on #5976
@pablofiumara @DavidSpek Thank you both of you! Since we do not have a paid domain, I want to use a public IP address and a DNS label as the domain as shown here: https://docs.microsoft.com/en-us/azure/aks/static-ip. I would edit this service: `istio-ingressgateway`'s load balancer IP and annotations. Then my domain would be:
`<my_dns_label>.<location>.cloudapp.azure.com`

 Would that also work? I

[2021-06-16 21:09] pablofiumara commented on #5976
@lauradang I tried using one of those domains owned by Azure and it didn't work. Perhaps it didn't work because I was not generating the SSL certificate correctly. I suggest you try the steps I sent you using domain *cloudapp.azure.com and see if it works

[2021-06-17 03:37] lauradang commented on #5976
@pablofiumara Unfortunately, that doesn't change anything - the same error comes up when I use the domain *cloudapp.azure.com. Since this does not work, are these the only ways to deploy Kubeflow with SSL enabled **in Azure**:
- Buy a domain and follow the steps you have laid out
- Generate a certificate yourself and get a CA to sign off on it (Digicert, Globalsign, etc.), create a secret of this

[2021-06-17 03:51] lauradang commented on #5976
@pablofiumara
I've also tried to use `cert-manager` DNS01 to generate a signed certificate with one of the domains owned by Azure before, but it didn't work for me either because the DNS was failing to propagate.

Nonetheless, unfortunately, the same error comes up when I use the domain *cloudapp.azure.com. Since this does not work, are these the only ways to deploy Kubeflow with SSL enabled **in

[2021-06-17 03:52] lauradang commented on #5976
@pablofiumara
I've also tried to use `cert-manager` DNS01 to generate a signed certificate with one of the domains owned by Azure before, but it didn't work for me either because the DNS was failing to propagate.

Nonetheless, unfortunately, the same error comes up when I use the domain *cloudapp.azure.com. Since this does not work, are these the only ways to deploy Kubeflow with SSL enabled **in

[2021-06-17 09:02] crmne opened #5987 "Kubeflow 1.3 installation fails at evalsymlink failure on [..]/cert-manager.yaml"
/kind bug

**What steps did you take and what happened:**
Followed the Kubeflow 1.3 setup guide, until [Deploying Kubeflow cluster](https://www.kubeflow.org/docs/distributions/gke/deploy/deploy-cli/), `make apply`

This is the full log

[code]

**What did you expect to happen:**
Kubeflow 1.3 Deployment

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving

[2021-06-17 10:47] f-wole opened #5988 "Error in naming components dinamically in an iterative way"
/kind bug

**What steps did you take and what happened:**
I inserted a cycle in my pipeline, in order to define a new component at each iteration. My pipeline looks like this (where op in my real pipeline is the training component):

[code]
The following image is an example of execution of the pipeline for k=3. Notice that the name of the op component is iteration-{{inputs.parameters.iterator-Outp

[2021-06-17 12:15] pretidav commented on #5988
Same problem here.
It seems the name is fixed once the pipeline is compiled, is there any other possibility to define it dynamically?

[2021-06-17 12:55] nickozilla opened #5989 "Unable to access kubeflow pipelines via kfp.Client() after 1.3"
/kind bug

**What steps did you take and what happened:**
After deploying kubeflow 1.3 to our cluster the kfp.Client() function we had been previously using to upload pipelines and run them has been blocked from succeeding. Now when we call the kfp.Client() using the same params as before, the client fails and is unable to pass the healthz check, always resulting in a 404.

**What did you expect t

[2021-06-17 13:18] thesuperzapper commented on #5978
@kimwnasptd re improvements to the scale-down of inactive notebooks:

We need to make sure the method we choose supports all possible (and future) web IDEs. I think there is only __one way__ to do this __generically__, that is, to wrap the IDE's interface in an IFRAME, which picks up when a user moves their mouse/interacts with the UI, and use this info to decide if the user is currently "active".

[2021-06-17 13:20] thesuperzapper commented on #5965
We should also make sure we don't introduce issues for users who are using Kubeflow, but not KFServing for their model deployment.

[2021-06-17 13:23] RosaCandela opened #5990 "Unable to create Experiment from Dashboard"
/kind bug

**What steps did you take and what happened:**

We installed Kubeflow from Microk8s on a Ubuntu VM, using the following commands:
- sudo snap install microk8s --classic --channel=1.21
- sudo usermod -a -G microk8s $USER
- sudo chown -f -R $USER ~/.kube
- sudo reboot
- microk8s enable kubeflow

We accessed the dashboard using the link http://10.64.140.43.nip.io/, displayed at the end of

[2021-06-17 15:03] kawai-kobold commented on #5879
@ahsan-n There are a few things that often lead to the ingress not creating an endpoint in EKS, regardless of which auth type you are using:

1. Your subnets have not been updated to include the tag of your cluster name;
2. Your ingress-controller has not been updated to include your cluster name;

Please see [here](https://v1-2-branch.kubeflow.org/docs/aws/troubleshooting-aws/#alb-can-not-be-crea

[2021-06-17 20:18] matty1979 commented on #5557
@DavidSpek can you send me what you did? We really want to get away from dex/cognito and shit to oidc + keycloak.

[2021-06-17 20:24] DavidSpek commented on #5557
@matty1979 You can find the kustomize files [here](https://github.com/argoflow/argoflow-aws/tree/master/distribution/oidc-auth/overlays/keycloak). It uses OAuth2-Proxy and Keycloak. To ensure the manifests are handled securely (given that they contain credentials) Sealed Secrets are used. [The documentation](https://github.com/argoflow/argoflow-aws#the-setup_credentialssh-script) includes the nece

[2021-06-17 21:33] Alexander-Rogin opened #5992 "Cannot access Kubeflow dashboard using e2e Kubeflow on AWS"
I'm following the e2e KF on AWS tutorial: https://www.kubeflow.org/docs/distributions/aws/aws-e2e/

There are no any apparent errors throughout the setup. I run

and specify A record and CNAMEs to match ALB's DNS name. According to the tutorial the dashboard should be available at the corresponding address however the page can't be found.

`kubectl get ingress -n istio-system` gives the correct AL

[2021-06-17 23:09] pablofiumara commented on #5976
@lauradang I was able to enable SSL using one domain owned by Azure. However, I didn't manage to install Kubeflow on that cluster. I followed this tutorial: [https://docs.microsoft.com/en-us/azure/aks/ingress-static-ip](https://docs.microsoft.com/en-us/azure/aks/ingress-static-ip). I couldn't go from that setup to a Kubeflow installation. The cause of the issue might be related to what you mention

[2021-06-18 10:02] ConverJens commented on #5701
@jbottum This is still a huge pain! Is there anything that can be done on KubeFlows side to allow larger workloads to be run?

[2021-06-18 10:36] andrea-cola opened #5993 "Cannot deploy Management Cluster - Error 400: Private cluster config can only be set on private clusters."
I'm trying to install the management cluster but I receive the following error when I use the command: `make apply`.

- [ ] reconcile container.cnrm.cloud.google.com/ContainerCluster kubem
- [ ] Unexpected error: error reconciling objects: error reconciling ContainerCluster:adq-317109/kubem: error creating GKE cluster kubem: googleapi: Error 400: Private cluster config can only be set on private c

[2021-06-18 13:01] yanniszark commented on #5958
I would classify this as a feature, not a bug.
Yes, manifests are structured in an older way that uses vars and we want to move away from that.
But this is an improvement, not a bug.

[2021-06-18 13:33] DavidSpek commented on #5985
What was the request you fille in?

[2021-06-18 13:40] DavidSpek commented on #5958
A configmap is being deployed that is meant to configure the application, but it is never used in the deployment. I'd say this is probably one of the simplest examples of a bug in kustomize manifests. If having manifests function as expected is a feature, why would we even bother with providing manifests?

[2021-06-18 13:45] andrea-cola commented on #5993
I just discovered that deploying the Management Cluster in us-central1-a resolves the problem.

[2021-06-18 14:23] nickozilla commented on #5989
Nevermind, this is caused by an issue in our project network configuration, closing now

[2021-06-18 14:23] #5989 closed

[2021-06-18 17:13] DavidSpek commented on #5990
Could you please move this issue to https://github.com/canonical/bundle-kubeflow since it is specific to the charmed Kubeflow distribution and not the code in this repository? The charmed Kubeflow developers also do not go through the issues in this repository so your issue will likely not get properly tracked here.

[2021-06-18 17:14] DavidSpek commented on #5988
Could you please move this discussion to https://github.com/kubeflow/pipelines so it can be properly tracked? The Pipelines developers do not actively go through the issues on this repo.

[2021-06-18 17:15] DavidSpek commented on #5987
@zijianjoy I wonder if this is similar to the problems you had with cert-manager while creating the GCP manifests.

[2021-06-18 17:24] DavidSpek commented on #5979
Closing this issue as I believe it has been resolved. If not, please feel free to reopen it.

/close

[2021-06-18 17:24] #5979 closed

[2021-06-18 17:29] DavidSpek commented on #5978
@thesuperzapper It might also be nice to allow users to specify the estimated duration of the job they are running in the notebook, giving them assurance that the notebook will not be stopped in that period (+ some grace period afterwards of course). This is a much easier approach to implement, and will give users some peace of mind that their job will not get stopped halfway.

[2021-06-18 18:00] blairdrummond commented on #5978
Do you think it would be better to impose the responsibility upon the application itself instead? While the idea of having the functionality be totally generic would be a huge plus, there might be more flexibility if, instead, the containers were able to provide their own API for this. For instance a few possible methods could be

[code]

As a user, I'd want a simple way to turn off the suspend be

[2021-06-18 18:09] DavidSpek commented on #5978
@blairdrummond With `application` are you referring to the notebook server instance or the Jupyter Web App? Or would it be in the notebook CR? One downside of allowing users to completely disable culling, is that it might get overused by users defeating most of the purpose of culling idle notebook servers.

[2021-06-18 18:40] kimwnasptd commented on #5978
@thesuperzapper @blairdrummond @DavidSpek thank you for providing more details, but lets not discuss this in the general tracking issue.

@thesuperzapper please open a distinct issue for this so we can evaluate and discuss the technical details there. If the direction makes sense we can then add that issue here.

[2021-06-18 21:06] lauradang commented on #5976
@pablofiumara
I used this link: https://github.com/mspnp/letsencrypt-pip-cert-generation to generate the certificate. Then I actually had to manually go in and edit the `istio-ingressgateway-certs` secret since pointing the `Gateway` resource to the certificate secret using `credentialName` wasn't working for me either (Similarly to what was done when deploying Kubeflow to IBM Cloud: https://ai-at

[2021-06-18 21:08] lauradang commented on #5976
@pablofiumara
I used this link: https://github.com/mspnp/letsencrypt-pip-cert-generation to generate the certificate. Then I actually had to manually go in and edit the `istio-ingressgateway-certs` secret since pointing the `Gateway` resource to the certificate secret using `credentialName` wasn't working for me either (Similarly to what was done when deploying Kubeflow to IBM Cloud: https://www.k

[2021-06-18 22:25] #5712 closed

[2021-06-19 12:51] ajinkya933 commented on #5687
Works now request quota from AWS was falling short

[2021-06-19 12:51] #5687 closed

[2021-06-19 12:51] ajinkya933 commented on #5687
example yaml file to run the GPU:

[code]

[2021-06-20 08:17] toshi-k opened #5994 "Namespaced menu item can't interact with the namespace selector"
/kind feature

**Why you need this feature:**
A new feature to add namespaced menu items was merged by #5871, it can't interact with the namespace selector.

**[Example]**
Assuming MLFlow is added as `/mlflow/{ns}` to the menubar, and namespace=workspace1 is activated, the full URL would be ` https://gateway/_/mlflow/workspace1/?ns=workspace1`.
Accessing that page and changing the namespace to wor

[2021-06-21 07:50] RosaCandela commented on #5990
Issue has been moved to https://github.com/canonical/bundle-kubeflow/issues/375

[2021-06-21 07:50] #5990 closed

[2021-06-21 10:54] DavidSpek commented on #5922
Ping @kubeflow/wg-notebooks-leads as this is something we need to address for the next release.

[2021-06-21 13:43] #5988 closed

[2021-06-21 14:23] thesuperzapper opened #6000 "Rewrite the Central Dashboard in Angular"
/kind feature

Currently, most of our web apps use Angular (CRUD Jupyter/Volumes/Tensorboards), however the Central Dashboard is written in Polymer.

In the interest of consistency and maintainability, we should rewrite the Central Dashboard in Angular.

cc @kubeflow/wg-notebooks-leads

[2021-06-21 14:24] thesuperzapper commented on #6000
cc @DavidSpek

[2021-06-21 14:26] thesuperzapper commented on #6000
/priority p3

[2021-06-21 14:27] DavidSpek commented on #6000
Agree, this is extremely important in terms of maintainability and making it accessible for people to contribute to the central dashboard.

KFServing and Katib web apps are also Angular.

[2021-06-21 14:32] #5553 closed

[2021-06-21 23:07] thesuperzapper commented on #5993
@Bobgy is this a GCP distro issue?

[2021-06-22 05:45] shalankig opened #6002 "Error in workloads deployed on GKE with Kubeflow 1.3"
I have successfully deployed Kubeflow on a private GKE Cluster using https://github.com/kubeflow/manifests#install-with-a-single-command

GKE Version: 1.17.17-gke.9100
Kubeflow Version: 1.3
Workload Identity Enabled: Yes

**Issue 1:**
There is a lag with Workload Identity, where it does not fetch credentials immediately from the metadata server.

However, the same container when run with an initia

[2021-06-22 08:06] marsupialtail opened #6003 "Cannot install Kubeflow fairing without downloading all the different versions of botocore."
I tried to do pip install kubeflow-fairing.

pip went about to download all the versions of botocore it could find and runs out of space.

Is this expected behavior?

[2021-06-22 10:57] kimwnasptd commented on #6000
@thesuperzapper could you elaborate more on this? The Central Dashboard is fundamentally different from the CRUD web apps, so there's minimal code that could be leveraged from the common code of the CRUD web apps.

I'm very skeptical about even considering to put the effort on such a huge effort, considering the very minimal benefits it would provide.

[2021-06-22 12:41] MohammadOmr opened #6006 "After updating jupyter-web-app image, trying to connect to a notebook server throws a 404 status code"
/kind bug
### Jupyter UI returns 404 after using a new jupyter-web-app image
**Description:**
I wanted to add options in the tolerations option for building a notebook server, I tried by directly editing the jupyter-web-app config map, but the edits didn't reflect on the UI.
but once I edited '/src/apps/common/yaml/spawner_ui_config.yaml' file changes reflected on the UI immediately.
So I decided

[2021-06-22 16:51] andres-de-castro opened #6008 "Tensorboard-controller's tensorboard image should be configurable"
/kind feature

https://github.com/kubeflow/kubeflow/blob/18264c8fcf00ceb225a0243377874a7df4301b98/components/tensorboard-controller/controllers/tensorboard_controller.go#L252

**Why you need this feature:**
non-docker registry images are preferred due to rate limits

**Describe the solution you'd like:**
Please make this configurable via an environment variable or binary argument

[2021-06-22 17:39] DavidSpek commented on #4950
/reopen

[2021-06-22 17:40] DavidSpek commented on #5558
/reopen

[2021-06-22 17:42] DavidSpek commented on #5282
/reopen

[2021-06-22 19:13] DavidSpek commented on #6008
This would hopefully be solved by implementing https://github.com/kubeflow/pipelines/issues/5681.

[2021-06-22 19:16] DavidSpek commented on #5615
bump

[2021-06-22 19:20] DavidSpek commented on #6008
/area wg-notebooks

[2021-06-22 19:28] DavidSpek commented on #5419
/lifecycle freeze

[2021-06-22 20:42] DavidSpek commented on #6003
@marsupialtail Could you please move this issue to https://github.com/kubeflow/fairing so it can be tracked properly? The fairing code does not live in this repository.

[2021-06-22 20:46] DavidSpek commented on #6002
/cc @zijianjoy

[2021-06-23 00:28] thesuperzapper commented on #6000
@kimwnasptd I am aware that CRUD is not similar, but I believe there will be common stuff which can be shared if all the web apps are written in the same framework.

But fundamentally, the main benefits are:
* standardisation - we don't have to use different packages (for things like translation)
* maintainability - we only need to be experts in a single framework, rather than 2
* features - angul

[2021-06-23 01:24] #6003 closed

[2021-06-23 04:54] shalankig commented on #6002
Dug a bit deeper, Issue 2 highlighted above seems to be a result of errors from Kfp client.
Reference issue here: https://github.com/kubeflow/pipelines/issues/5907

[2021-06-23 07:31] ryanwcyin commented on #5491
I have a similar issues with multi tenancy kubeflow installed. And, not just anonymous not working, other profiles are not working for notebook server as well.

[2021-06-23 11:25] #5336 closed

[2021-06-23 11:25] #5349 closed

[2021-06-23 11:25] #5651 closed

[2021-06-23 11:25] #5649 closed

[2021-06-23 11:25] #5579 closed

[2021-06-23 11:25] #5614 closed

[2021-06-23 11:26] #5548 closed

[2021-06-23 11:26] #5662 closed

[2021-06-23 11:26] #5670 closed

[2021-06-23 11:26] #5656 closed

[2021-06-23 11:26] #5652 closed

[2021-06-23 11:26] #5647 closed

[2021-06-23 11:26] #5648 closed

[2021-06-23 11:26] #5097 closed

[2021-06-23 11:26] #5375 closed

[2021-06-23 11:26] #5388 closed

[2021-06-23 11:26] #5215 closed

[2021-06-23 11:26] #5401 closed

[2021-06-23 11:26] #5389 closed

[2021-06-23 11:26] #5402 closed

[2021-06-23 11:26] #5406 closed

[2021-06-23 11:26] #5198 closed

[2021-06-23 11:26] #5482 closed

[2021-06-23 12:52] probirsil opened #6011 "KubeFlow Pipeline Visualization Server 1.6.0 Critical Vulnerability"
The current gcr image contains Pillow version 8.1.0 which contains critical vulnerability CVE-2021-25289. Can you upgrade the image with Pillow 8.1.1?

[2021-06-23 12:52] probirsil opened #6044 "KubeFlow Pipeline Visualization Server 1.6.0 Critical Vulnerability"
The current gcr image contains Pillow version 8.1.0 which contains critical vulnerability CVE-2021-25289. Can you upgrade the image with Pillow 8.1.1?

[2021-06-23 15:37] DavidSpek commented on #6011
/cc @Bobgy

[2021-06-24 06:25] gaocegege commented on #5922
cc @PatrickXYS

[2021-06-24 08:36] ChusMoyano opened #6014 "Creating a notebook with GPU (body must be of type string: "integer"`)"
Hello!

I'm trying to create a notebook with a GPU asociated, but im getting this error. Also tryed to create it by a cURL but didnt worked neither.

Error: `Notebook.kubeflow.org "testgpu" is invalid: spec.template.spec.containers.resources.limits.nvidia.com/gpu: Invalid value: "integer": spec.template.spec.containers.resources.limits.nvidia.com/gpu in body must be of type string: "integer"`

I c

[2021-06-24 09:48] alexchenfeng opened #6015 "kubeflow docker image rebuild on ARM64"
/kind question
Build ARM64 DockerImage
**Question:**
I need to build Kubeflow under ARM, I need to rebuild all the gcr.io images, where can I find the Dockerfile of all the component images, such as gcr.io/tfx-oss-public/ml_metadata_store_server:0.25.1

image: gcr.io/ml-pipeline/cache-deployer:1.5.0
image: gcr.io/ml-pipeline/cache-server:1.5.0
image: python:3.7
image: gcr.io/ml-pipeline/metadata-e

[2021-06-24 11:29] kimwnasptd commented on #5191
As @FlempTW mentioned in his comment above the issue is that the Profile Controller will not do anything if the ResourceQuota spec is empty `{}` in the Profile spec.

https://github.com/kubeflow/kubeflow/blob/36e8528ebefd4ac7c1e37d9c1fbd36cf35db8943/components/profile-controller/controllers/profile_controller.go#L254-L269

By allowing the ResourceQuota spec to be `{}` this means that the Controlle

[2021-06-24 11:30] kimwnasptd commented on #5950
@FlempTW IIUC this issue is identical with the one you referenced #5191.

I also added a proposed solution there that we could discuss. Should we close this one and move the discussion there?

[2021-06-24 13:32] jagusztinl opened #6016 "Unable to create new experiment on console"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Create new experiment on console.

Error:
Experiment creation failed
{"error":"Validate experiment request failed.: Invalid input error: In single-user mode, CreateExperimentRequest shouldn't contain resource references.","code":3,"message":"Validate experiment request failed.: Invalid

[2021-06-24 22:00] FlempTW commented on #5950
I have also have some idea about fix this problem ,
maybe we can discuss about how we sovle this
This Issue just eant to make sure we are have the features of deletion of our system .
I would love to join the discussion

[2021-06-25 01:22] FlempTW commented on #5191
That will be a good solution

I have a other idea but i not sure i will work probably
https://github.com/kubeflow/kubeflow/blob/36e8528ebefd4ac7c1e37d9c1fbd36cf35db8943/components/profile-controller/controllers/profile_controller.go#L145-L173

for example this is the code that update the namespace by compare old profile and new one
what if we use the same strategy  to  compare namespace to find wh

[2021-06-25 14:14] nroberts1 opened #6017 "Container Base Docker Image with WORKDIR and COPY source code = ModuleNotFoundError: No module named"
/kind feature
Improvement to finding local source code from docker image.

I had a docker image as below:
[code]

When my pipeline used a container with this base image i.e.:
[code]

And then submitted this pipeline to Kubeflow through the SDK:
client.create_run_from_pipeline_func(
            my_pipeline,
            arguments={},
            mode=kfp.dsl.PipelineExecutionMode.V2_COMPATIBLE,

[2021-06-25 15:58] jbottum opened #6018 "Update Istio usage page on Kubeflow.org"
This page is out of date, https://www.kubeflow.org/docs/external-add-ons/istio/istio-in-kubeflow/

@kubeflow/wg-notebooks-leads is this page part of centralize services and therefore part of notebooks ?   Could we please have someone help to update this page ?

[2021-06-25 18:05] nitishkrishna commented on #6018
This page specifically is out of date: https://www.kubeflow.org/docs/components/multi-tenancy/getting-started/#managing-contributors-manually
Since it talks about `ServiceRole` and `ServiceRoleBinding` objects which are deprecated with Istio 1.6+ and have been replaced in Kubeflow 1.3 here: https://github.com/kubeflow/kubeflow/commit/40fae6a36e029fdae1aa920ec10ec79f47a9a5cd

[2021-06-26 13:39] #5417 closed

[2021-06-26 13:39] #4806 closed

[2021-06-26 13:39] #5715 closed

[2021-06-26 13:39] #5566 closed

[2021-06-26 21:00] makeitai commented on #5010
Deleting istio-ingressgateway pod might.

kubectl -n istio-system delete pod istio-ingressgateway-xxxxx-xxxx

My kubeflow version is 1.3.  It worked for me

[2021-06-27 17:47] johnugeorge opened #6019 "Security flaws on shared namespaces"
/kind bug

See https://github.com/kubeflow/pipelines/issues/5138#issuecomment-838949533

As discussed, this issue is created to track the security flaws when notebook namespace is shared with other users.  The shared user gets access to namespace owner's permissions automatically. and can execute commands with extra permissions. Also, env vars can be read(eg: access keys/secrets) by the shared use

[2021-06-28 09:44] biaochen opened #6020 "kubeflow notebook doesnot support spark"
It seems kubeflow notebook doesnot support spark yet.
My case is, I want to communicate with a spark cluster which is outside my k8s cluster.
I build a jupyter image supporting spark, then create a pod listening on 8888 as notebook port, 30001 as spark.driver.host, 30002 as spark.blockManager.port, then create a NodePort-typed service transferring those ports to the upstream pod. By doing that I c

[2021-06-28 14:41] jbottum commented on #5491
@ryanwcyin just checking on this.   did you get it resolved ?  Are you running on OpenShift?   Are you working with the OpenShift team for Kubeflow ?

[2021-06-28 17:48] zijianjoy commented on #5987
@DavidSpek This doesn't seem exactly same as what I encountered. Is this the conversation you refer to? https://github.com/kubeflow/manifests/pull/1820

@crmne Would you like to share the `kustomize version` here? It looks to me that the kustomize thinks cert-manager resource is a local path instead of a file from network.

[2021-06-29 05:10] wallies commented on #5842
I am on Kubeflow 1.3 and this still doesnt work with the PodDeafult. Instead I got this working by adding a tolerationGroup to the Jupyter webapp configmap

[2021-06-29 09:54] DavidSpek commented on #5565
/lifecycle frozen

[2021-06-29 10:04] blairdrummond commented on #5565
I'm not sure if this solves the problem but I saw a write-up on nfs volumes in JupyterLab a while ago

https://medium.com/@guillaume.moutier/deploying-a-scalable-shared-data-science-platform-at-universit%C3%A9-laval-b26e7e02cba4

[2021-06-29 12:09] kimwnasptd opened #6023 "Why are there internalization definitions for other apps in each web app?"
/kind question

**Question:**
I see that after the internalization PR https://github.com/kubeflow/kubeflow/pull/5880 the language json files for each app [Jupyter, Volumes, TensorBoards] include sections for the other web apps and not just for their own.

I.e.
https://github.com/kubeflow/kubeflow/blob/36e8528ebefd4ac7c1e37d9c1fbd36cf35db8943/components/crud-web-apps/jupyter/frontend/src/assets/i18

[2021-06-29 15:55] knkski commented on #5960
We have a few E2E tests for Charmed Kubeflow here:

https://github.com/canonical/bundle-kubeflow/tree/master/tests

Would there be any interest in adopting those into whatever E2E testing we add for CI in this repository?

Also, there's a broader topic that might be good to discuss in this context. Would it make sense to have the E2E testing be part of a larger effort towards conformance testing?

[2021-06-29 20:17] lifeandrew80 opened #6024 "503 error when attempting to "Connect" to new Notebook server"
503 error/kind bug

**What steps did you take and what happened:**
I created a new notebook in Kubeflow, attempted to connect for the first time and was immediately sent to a new page that says the following:

This page isn’t workingkubeflow.spinsys.com is currently unable to handle this request.
HTTP ERROR 503

**What did you expect to happen:**
For a notebook to appear

**Anything else you would

[2021-06-29 22:49] Boes-man commented on #5565
Thanks @blairdrummond thats a great read. As per the authors comment one might want to explore KF and this issue is for the KF context. I think the article does show that typically organisations do have some (for us all) of their datasets on external NFS. One of the reasons we're using KF is for the self service Notebook UI, so being able to present their NFS volumes in the UI would be great.
The

[2021-06-30 07:13] mofanke commented on #5982
i found the reason for this, when delete notebook use propagation_policy="Foreground", notebook is terminating, but notebook controller Reconcile is still running ,  when it found pod not found,  recreate it , roll on  in cycles

[2021-06-30 16:29] kimwnasptd commented on #5960
@knkski definitely! These tests could be also added in the CI once we sort out the following:
1. How should we create a cluster to run the E2E tests in? Spin up/down new k8s clusters or use sth lightweight like k3d?
2. Have some common code for applying manifests and waiting for resources to become ready

Once we have these sorted out then it will be quite easy to add more tests to ensure differen

[2021-06-30 23:27] Te-YuanLiu opened #6026 "Logout from Kubeflow and OpenID Connect Provider at once"
/kind question

**Question:**
I have installed Kubeflow using [this guide](https://v0-7.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto/) and then connected Dex to an OpenID Connect Provider using [this guide](https://dexidp.io/docs/connectors/oidc/).
Everything works well except I couldn't find a way to logout from both Kubeflow and the OIDC Provider at the same time.

I know that hitting th

[2021-07-01 11:57] SebBlin opened #6027 "PodDefault doesn't apply to Pods generated from Deployment"
/kind bug

**What steps did you take and what happened:**
I defined a simple PodDefault that should inject a simple environnement variable:
[code]

When I deploy a pod directly such as this one:
[code]
and the PodDefault is applied correctly

but if I deploy a Pod by using a Deployment object as this one:
[code]
the PodDefault is not applied, whereas the label that should trigger the PodDefault cl

[2021-07-01 12:10] nitesh31mishra commented on #5429
I am unable to access the dashboar. Its giving me Bad Request error

`Invalid client_id ("authservice-oidc").`

![image](https://user-images.githubusercontent.com/54522260/124122185-6f763e80-da93-11eb-99a4-36aaaac9c7f1.png)

[2021-07-01 12:15] nitesh31mishra opened #6028 "Couldnt get login option on kubeflow dashboard( invalid client_id)"
I am running enable command for kubeflow. It ran successfully but once I open the URL I get to see this error
[code]
This is how it shows...
![image](https://user-images.githubusercontent.com/54522260/124122810-22469c80-da94-11eb-8f63-33e883821573.png)

[2021-07-01 12:48] kimwnasptd commented on #5960
I'm also cross referencing the comment from @james-jwu wrt conformance testing https://github.com/kubeflow/manifests/issues/1921#issuecomment-871561816

[2021-07-01 15:44] NikeNano opened #6029 "Highest release version, v13 is not the latest release."
/kind bug

The highest release version, https://github.com/kubeflow/kubeflow/tree/v13 is not the latest release https://github.com/kubeflow/kubeflow/tree/v1.3.1-rc.0. Suggest v13 is deleted since it will otherwise look like the latest release until version >v.13 is released.

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect

[2021-07-02 01:34] rexlow commented on #5034
I'm having the same issue!

[2021-07-02 07:45] tmerrittsmith opened #6030 "Adding new components to a predefined pipeline"
/kind question

Suppose I've already defined a kubeflow pipeline using the SDK, but want to develop a new component and understand how it impacts the pipeline. Is there a standard way to do this using kubeflow? I can see that I can develop new pipelines or components using Kale, but I'm not sure if this can be connected to a predefined pipeline. I couldn't see this in the docs.

Thanks

[2021-07-02 13:54] #5413 closed

[2021-07-02 13:54] #5333 closed

[2021-07-02 13:54] #5345 closed

[2021-07-02 13:54] #5450 closed

[2021-07-02 13:54] #5541 closed

[2021-07-02 13:54] #5549 closed

[2021-07-02 13:54] #5518 closed

[2021-07-02 13:54] #5547 closed

[2021-07-02 13:54] #5643 closed

[2021-07-02 13:54] #5665 closed

[2021-07-02 13:54] #5749 closed

[2021-07-02 13:54] #5452 closed

[2021-07-02 13:54] #5740 closed

[2021-07-02 13:54] #5714 closed

[2021-07-02 13:54] #5638 closed

[2021-07-03 11:50] nitesh31mishra opened #6031 "Not able to access Notebooks option in UI"
I am unable to access Notebooks in UI. When I click on Notebooks I get to see the below image.
And jupyter-web-app is not created in my services or pods or deployments. I don't know why...
Any solution???

![image](https://user-images.githubusercontent.com/54522260/124353223-e130c280-dc22-11eb-9433-019e8e30b779.png)

[2021-07-04 15:44] brendanobra commented on #6031
Seeing this in jupyter-ui container logs:
2021-07-04 14:56:37,784 | kubeflow.kubeflow.crud_backend.authn | INFO | Handling request for user: admin
2021-07-04 14:56:37,784 | kubeflow.kubeflow.crud_backend.csrf | INFO | Skipping CSRF check for safe method: GET
2021-07-04 14:56:37,784 | kubeflow.kubeflow.crud_backend.errors.handlers | ERROR | HTTP Exception handled: 404 Not Found: The requested URL w

[2021-07-04 17:28] nitesh31mishra commented on #6031
Actually, I have researched and found that jupyter notebooks work when we have services/pods or deployments of `jupyter web app` and I cannot see `jupyter-web-app` installed in the namespaces list because of which I think I am getting this error.....
anybody, please let me know how I can have this running..??

[2021-07-04 17:37] klentabistado commented on #4813
Do we already have a solution for this?

[2021-07-05 06:29] Bobgy commented on #6011
Welcome contributions, we will try to deprecate visualization server per https://github.com/kubeflow/pipelines/issues/4643.

[2021-07-05 13:01] wg102 commented on #6023
It was an attempt to keep the common code in sync. Jupyter, Volumes and Tensorboards all have their own text, but they also use the common code. If someone modified Jupyter-common, then Tensorboard and Volume would be 'out of date', even worse if they removed or added a string then there would be not translation.

However, since all three apps use the same common code, and that adding a label in s

[2021-07-05 13:45] mohite-abhi opened #6032 "Error while installing knative on private cluster"
I am trying to install knative by applying the yaml file using the command:
` kubectl apply -f https://github.com/knative/serving/releases/download/v0.23.0/serving-crds.yaml`
and i get the following errer:

[code]

[2021-07-05 19:03] kimwnasptd commented on #6031
@nitesh31mishra how did you install Kubeflow? Have you made any additional modifications to the web app's manifests?

Can you provide the output of the following commands
[code]

[2021-07-05 19:16] gnsantos commented on #5097
Any updates on this? I encountered the same issue while trying to deploy Kubeflow v1.2.0 to an EKS cluster that used OAuth authentication.

[2021-07-05 19:16] kimwnasptd opened #6033 "Web apps do not render the translated text properly"
/kind bug

**What steps did you take and what happened:**
The {Jupyter,Volumes,TensorBaords} web apps do not load the translation files and don't render as expected.

To reproduce this use one of the latest images from master, that includes the translation PR changes https://github.com/kubeflow/kubeflow/pull/5880, i.e. `public.ecr.aws/j1r0q0g6/notebooks/jupyter-web-app:master-f7671f7d`.

![Screens

[2021-07-05 19:17] kimwnasptd commented on #6033
I can push a PR to fix this

/assign @kimwnasptd

[2021-07-05 19:25] kimwnasptd commented on #6029
Good catch! This should be a typo and it's Indeed pretty confusing.

I'll fix this
/assign @kimwnasptd

[2021-07-05 19:27] kimwnasptd commented on #6029
Done, thanks for reporting @NikeNano

/close

[2021-07-05 19:27] #6029 closed

[2021-07-06 04:41] nitesh31mishra commented on #6031
@kimwnasptd
below is the output ..

`Error from server (NotFound): deployments.apps "jupyter-web-app-deployment" not found`

`notebooks.kubeflow.org                            2021-07-03T11:34:48Z`

`poddefaults.kubeflow.org                          2021-07-03T11:29:27Z`

[2021-07-06 04:46] nitesh31mishra commented on #6031
I have tried to install kubeflow again but this doesn't work.... I am facing the same issue...

[2021-07-06 08:19] mohite-abhi commented on #6032
i couldn't get timely help

[2021-07-06 08:19] #6032 closed

[2021-07-06 13:20] MeranaTona opened #6036 "Kubeflow login not possible anymore"
/kind bug

Hi all,

**What steps did you take and what happened:**

Logged in on Kubeflow, using the ingress IP, ingress port and my user account. Then, was working on a Jupyter NB hosted on the Kubeflow Jupyter Hub server. Out of nowhere, I got logged out of Kubeflow.
Tried to login in the same way like before, using ingress IP and ingress port but this time the web page gave no response (no logi

[2021-07-06 14:41] jazzsir opened #6037 ""RBAC: access denied" to the dashboard"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I followed https://github.com/argoflow/argoflow/blob/master/README.md and enabled oidc-authservice using oauth2-proxy and Keycloak(I also tried Dex).
I manage to install(all pods are Running), but when accessing the dashboard through "https://test-kubeflow.com:31186"
I got "RBAC: access

[2021-07-06 15:56] pjsudharshan commented on #6031
I face the same issue.
Followed the installation steps from https://microk8s.io/docs/addon-kubeflow .

[2021-07-06 16:15] brendanobra commented on #6031
Adding another datapoint: I am also facing the same issue, but i'm installing (into microk8s) via `juju` :
[code]
(i gave up on using the microk8s method directly because it failed early on the process for various reasons - using the charm directly at least installs/starts it).  This did work in previous versions BTW.

[2021-07-06 16:25] pjsudharshan commented on #5165
Is this feature available now?

[2021-07-07 01:25] Nagarajj opened #6038 "Add support for pyspark notebook kernel for data analysis."
/kind feature

**Why you need this feature:**
Kubeflow Notebooks does not support PySpark Kernel which is important for data/feature analysis.

**Describe the solution you'd like:**
There are multiple modes of running spark queries, (non-client mode, client mode). While there are known issues with running  spark in client mode as described [here](https://github.com/kubeflow/kubeflow/issues/4306).

[2021-07-07 10:07] Space-Banana-42 opened #6040 "Cannot make kubeflow v1.2 work on EKS 1.17"
/kind bug

**What steps did you take and what happened:**
We try to make kubeflow v1.2 work on a EKS 1.17 cluster.
Steps(follow this doc: https://v1-2-branch.kubeflow.org/docs/aws/deploy/install-kubeflow/):
1.  Downloaded and unpacked `kfctl_v1.2.0-0-gbc038f9_darwin.tar.gz`
2.  Use the following kfctl configuration file for the AWS setup without authentication: `wget -O kfctl_aws.yaml "https://raw

[2021-07-07 14:46] kimwnasptd opened #6041 "Revert JWA error reporting messages"
/kind bug

**What steps did you take and what happened:**
Created a Notebook with no CPU/Memory limits, while having a ResourceQuota object. This results in an unscheduled Notebook, which is expected.

Once I hover on top of the status icon I see a generic message that urges the user to use kubectl to debug.

![Screenshot from 2021-07-07 13-01-54](https://user-images.githubusercontent.com/11134742

[2021-07-07 14:46] kimwnasptd commented on #6041
I can make a PR to revert this

/assign @kimwnasptd

[2021-07-07 14:51] kimwnasptd opened #6042 "Use Angular's official internationalization solution"
Right now our web apps are using a third-party library, [ngx-translate](https://github.com/ngx-translate/core), to provide Internationalization support https://github.com/kubeflow/kubeflow/issues/5858 https://github.com/kubeflow/kubeflow/pull/5880. But there are some serious issues with this approach, that were not discussed during the review of https://github.com/kubeflow/kubeflow/pull/5880, whic

[2021-07-07 16:06] #6033 closed

[2021-07-07 23:26] #5929 closed

[2021-07-08 03:04] jbottum commented on #6042
/area jupyter /kind feature

[2021-07-08 03:08] jbottum commented on #6036
@MeranaTona did you get this resolved?  did you install using kfctl rather than Kustomize ?  Which istio version are you using? which platform are you on i.e. AWS, GCP, on-prem ?

[2021-07-08 03:08] jbottum commented on #6036
/priority p2

[2021-07-08 03:11] jbottum commented on #6030
@tmerrittsmith did you get this resolved?  Have you tried any of the kale tutorials? this is a good place to start, https://codelabs.arrikto.com/codelabs/minikf-kale-katib-kfserving/index.html#0

/priority p2

[2021-07-08 05:07] tmerrittsmith commented on #6030
Not yet but it's ok to close. Kale can create pipelines, not sure if it
interacts with an already created one.

On Thu, 8 Jul 2021, 04:11 Josh Bottum, ***@***.***> wrote:

[2021-07-08 08:19] mofanke opened #6043 "notebook controller reconciled every pod delete events, but some pods are irrelevant to notebook"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

delete a pod ,then notebook controller got an error msg
2021-07-08T16:13:31.755+0800    ERROR   controllers.Notebook    unable to fetch Notebook        {"notebook": "istio-system/", "error": "Notebook.kubeflow.org \"\" not found"}
2021-07-08T16:13:31.755+0800    DEBUG   controller-runti

[2021-07-08 13:49] nitesh31mishra commented on #6031
Yes, I have also tried to install kubeflow using juju into microk8s but now all the components are installed, but `jupyter-web` is not installed .... I couldn't understand why is this happening .... Because of which I can access everything on the kubeflow dashboard except the Notebooks section

[2021-07-08 15:27] ConverJens commented on #5345
@lomori I just ran into this when finally adding LDAP to our login. May I ask how you obtain cookies for authenticating?

I've beens using code from the Elyra project (which now fails):

[code]

A pointer would be appreciated :)

[2021-07-08 16:04] Nagarajj commented on #6038
@DavidSpek please see if this feature can be enabled in kubeflow. Thanks.

[2021-07-09 06:53] ajinkya933 opened #6045 "How to prevent kfctl apply from pulling manifest from github ?"
/kind question

For example when I apply manifest it pulls tar.gz file from github and saves it in .cache directory

$kfctl apply -V -f ./kfctl_aws.v1.3.0.yaml INFO[0000] Fetching https://github.com/kubeflow/manifests/archive/v1.3-branch.tar.gz to .cache/manifests  filename="kfconfig/types.go:498"

I dont want to pull this tar.gz everytime. I already have a cache saved on my Ubuntu PC . How can I

[2021-07-09 08:17] thesuperzapper opened #6046 "Kanban Board (LINK INSIDE)"
### Here is a [link to the Kanban](https://github.com/orgs/kubeflow/projects/44) for the Notebooks Working Group (maintainers of code in this repo).

[2021-07-09 08:17] thesuperzapper commented on #6046
/lifecylce frozen

[2021-07-09 08:19] thesuperzapper commented on #6046
@Bobgy can you pin this issue, similar to what we did on the [kubeflow/website](https://github.com/kubeflow/website/issues) repo?

[2021-07-09 08:19] thesuperzapper commented on #6046
/lifecycle frozen

[2021-07-09 08:19] thesuperzapper commented on #6046
/pin

[2021-07-09 13:02] maxtaq commented on #6031
I have the same problem.
My kubeflow is running on ESXi-7.0U2a-17867351-standard (VMware, Inc.).
I'm currently using microk8s 1.21/stable. However, I have the same problem with 1.20.

This is my microk8s.inspection result.
[inspection-report-20210709_122506.zip](https://github.com/kubeflow/kubeflow/files/6791357/inspection-report-20210709_122506.zip)
The string "jupyter-web" was not found. I have

[2021-07-10 18:32] rexad commented on #6031
same thing here with microk8s

[2021-07-12 02:12] wallyworld commented on #5034
I think there may be a Juju fix for this as described in this juju bug
https://bugs.launchpad.net/juju/+bug/1935075

[2021-07-12 09:10] kimwnasptd commented on #6031
@nitesh31mishra @brendanobra @maxtaq @rexad this seems like an issue that is specific to the microk8s platform and how Kubeflow is deployed in it.

@RFMVasconcelos @knkski since this report is specifically for the [Kubeflow addon on Microk8s](https://microk8s.io/docs/addon-kubeflow) is there a specific repo that people could report issues like these? Would https://github.com/canonical/bundle-kubef

[2021-07-12 09:11] kimwnasptd commented on #6031
@nitesh31mishra @brendanobra @maxtaq @rexad this seems like an issue that is specific to the microk8s platform and how Kubeflow is deployed in it.

@RFMVasconcelos @knkski since this report is specifically for the [Kubeflow addon on Microk8s](https://microk8s.io/docs/addon-kubeflow) is there a specific repo that people could report issues like these? Would https://github.com/canonical/bundle-kubef

[2021-07-12 10:22] kimwnasptd commented on #5810
/lifecycle frozen

I want to keep this discussion open to see how we could decouple some of the steps that currently run in a single, big, Argo Workflow. This discussion will help us evaluate if it would also make sense to have some GitHub actions for running some simple checks, like formatting.

[2021-07-12 16:41] mkbhanda opened #6047 "Reformat KF/KF Roadmap in reverse chronological order"
/kind feature

**Why you need this feature:**
Reverse chronological gives users immediate access to what is coming.

**Describe the solution you'd like:**
Re-arrange current content in reverse chronological order and
add high-level summary of roadmap items in the sub-projects.

**Anything else you would like to add:**
Reach out to other sub-project WGs and have a similar process in place

[2021-07-12 16:43] mkbhanda opened #6048 "Update KF Roadmap doc with 1.4 upcoming items."
/kind feature

**Why you need this feature:**
Keep Roadmap up-to-date

**Describe the solution you'd like:**
Add high-level summary of roadmap items in the sub-projects.

**Anything else you would like to add:**
Reach out to other sub-project WGs and have a similar process in place

[2021-07-13 12:01] sachithmuhandiram opened #6049 "Access kubeflow dashboard access running in microk8s"
/kind question

**Question:**
We had deployed kubeflow in microk8s as described [here](https://www.kubeflow.org/docs/distributions/microk8s/kubeflow-on-microk8s/)

All the pods and services are running, then I ran

`microk8s.kubectl port-forward svc/istio-ingressgateway -n kubeflow 8090:80`

I can access it as `localhost:8090`, but I want to access to this from other user PC's in the network.

How

[2021-07-13 16:10] Talador12 commented on #5604
@shawnzhu Is the change merged into the jupyter extension yet?

Given a fresh install of vscode and a running kubeflow cluster, what steps are required to make the connection to vscode?

[2021-07-13 16:41] Benjamin-Etheredge commented on #6031
I may have found a potential workaround: https://github.com/canonical/bundle-kubeflow/issues/381#issuecomment-879226312

[2021-07-13 21:35] jbottum commented on #6048
Here are some potential themes for 1.4

- Reduce redundant code - Training, Web Apps
- Faster, better builds with more CI/CD - Katib, Training, Notebooks
- 20% improvement in Kubeflow.org Docs
- Maturation of V2 Protocols in KFServing and KFPipelines
- KFServing User Interface with model details, logs, yaml
- Increased use of metadata for pipeline orchestration and model performance monitoring

[2021-07-13 21:38] jbottum commented on #6048
And the Working Group roadmaps
Operators - https://github.com/kubeflow/common/blob/master/ROADMAP.md
KFServing - https://github.com/kubeflow/kfserving/blob/master/ROADMAP.md
Katib - https://github.com/kubeflow/katib/blob/master/ROADMAP.md
Pipelines - https://github.com/kubeflow/pipelines/blob/master/ROADMAP.md

[2021-07-13 21:39] jbottum commented on #6048
/priority p1

[2021-07-13 21:39] jbottum commented on #6048
/assign jbottum

[2021-07-13 21:44] jbottum commented on #6048
@mkbhanda A few related work items

- rewrite roadmap with the latest deliveries at the top of the roadmap
- develop themes and content for 1st pass of roadmap (and determine which Working Group features should also be shown in Kubeflow roadmap)
- find links to all working group roadmaps (see comment above)

[2021-07-15 15:48] shawnzhu commented on #5604
@Talador12 No, I haven't tried to put my hack as a PR since I want to validate it against 1.3 release that @laserK3000 did.

This is what I did: https://github.com/kubeflow/kubeflow/issues/5604#issuecomment-787604098

Once I can make my change to the jupyterhub extension in vscode, documentation is must-have

[2021-07-15 16:33] themowski commented on #5647
I think that this would be useful for anyone who wants to run multiple versions of Kubeflow in the same cluster -- the use-case would be helping with an upgrade to a new version of Kubeflow. Conceptually, you could have an older version of Kubeflow running that users are actively using, and then deploy a newer version to a fresh namespace. Once it's running, users could be instructed to transition

[2021-07-16 05:55] markwinter commented on #5965
To add to my comment https://github.com/kubeflow/kubeflow/pull/5848

I separated the policy into two and limited them to the Predictor and Transformer with a selector.

[code]

[code]

[2021-07-16 08:52] martialblog commented on #5958
Hey, I just ran into the same issue. It's quite confusing if parameters occur multiple times. This pattern seems strange to me and is very unintuitive from a Kubernetes point-of-view.

[2021-07-16 16:14] edhenry commented on #6014
I'm hitting this issue, as well.

I believe the issue resides in this LOC : https://github.com/kubeflow/kubeflow/blob/2ed54bcce7cbc38f0f63bfb32f7f5ef677a58765/components/crud-web-apps/jupyter/backend/apps/common/form.py#L279

The output of the logs from the jupyter-UI pod is shown below and it looks like the `nvidia.com/gpu` key as an `integer` of 1 where it should be a `string`?

[code]

That is

[2021-07-16 16:29] edhenry commented on #6014
I was able to create the notebook after casting the integer as a string.

![image](https://user-images.githubusercontent.com/5572998/125979535-cb076f70-a40f-4e3b-a866-eccb66dd1727.png)

I will look into getting a pull request opened, though I'm not sure if this field has changed type definitions respective of the underlying kubernetes API recently. I'll look to the core team for guidance there. :s

[2021-07-16 16:30] edhenry commented on #6014
I was able to create the notebook after casting the integer as a string.

![image](https://user-images.githubusercontent.com/5572998/125979688-92fcf029-1bff-4f66-9866-f1b83c4022b6.png)

I will look into getting a pull request opened, though I'm not sure if this field has changed type definitions respective of the underlying kubernetes API recently. I'll look to the core team for guidance there. sm

[2021-07-17 06:34] henrysecond1 commented on #6027
Hey we had a same problem and I uploaded PR for fixing this problem.

[2021-07-17 12:24] geewynn commented on #5803
hi @DavidSpek I am facing this issue too. I deployed a kubeflow cluster on Google Kubernetes Engine using the kubeflow v1.3 manifest.
Initially, the istio-ingressway was set to NodePort, I changed that to LoadBalancer and could access the central dashboard. But couldn't create jupyter notebook server due to the error here.

I have tried the solutions above and nothing is working.

When I check the

[2021-07-18 18:47] ChusMoyano commented on #6014
When this MR is merged this will be fixed right? :D

[2021-07-19 04:33] rc-coderepo commented on #6049
what is the service type of svc/istio-ingressgateway ? If it is already node port you can try access kubeflow UI on the nodeport that istio-ingressgateway is allocated. For the kubeflow UI to work you have to have all the pods in kubeflow and istio-system namespace should be running.

If svc/istio-ingressgateway is on ClusterIP try changing it to NodePort

[2021-07-19 05:59] sachithmuhandiram commented on #6049
svc/istio-ingresgateway

There is no `istio-system` in the system

[2021-07-19 07:50] rc-coderepo commented on #6049
Did you try accessing on this ip - 10.64.140.43.nip.io? Did you install kubeflow on ubuntu running on a VM?

[2021-07-19 08:55] andrewspiers opened #6053 "Make notebook server status copyable from the Kubeflow dashboard."
/kind feature

**Why you need this feature:**

This behaviour is observed in Kubeflow dashboard 1.2, please disregard if it is fixed in 1.3.
In order for a user to describe an issue to a Kuberflow administrator, or to look it up online, it would be helpful to be able to copy/paste the  Notebook server's status from the Kubeflow Dashboard
![image](https://user-images.githubusercontent.com/170054/12

[2021-07-19 16:53] edhenry commented on #6014
@ChusMoyano There was a PR that was merged relatively recently fixing this : https://github.com/kubeflow/kubeflow/pull/5891

It looks like the above linked PR should be part of the [v1.3.1-rc0](https://github.com/kubeflow/kubeflow/releases/tag/v1.3.1-rc.0) release listed under the releases of the repo. If you deploy using that release candidate you should see the fixes reflected in your environmen

[2021-07-19 20:17] JessicaBarh opened #6054 "Manually transfer profile ownership"
/kind question

**Question:**
To manually create a new profile, the following can be used https://www.kubeflow.org/docs/components/multi-tenancy/getting-started/#manual-profile-creation.
However, if I need to transfer ownership of a profile for whatever reason (user no longer working on project, vacation, etc...) is there a way to change ownership to a different user? I was thinking editing the `p

[2021-07-19 21:41] mkbhanda commented on #6047
/assign @mkbhanda

[2021-07-20 09:02] SebBlin commented on #6027
Thanks for this correction! it saves my life :-)
Any idea about when it should be integrated in a KF release?

[2021-07-20 14:48] kimwnasptd commented on #5982
@mofanke I've also been using this Notebook Controller image but hand't bumped into this. I'd like some more input to try and reproduce this.

As a first step, could you provide me with the YAML of a Notebook that follows this behavior?

What are the logs from the Notebooks Controller when you observed this?

[2021-07-20 20:23] 814HiManny opened #6056 "Notebook CRD Instances Missing Status Fields"
/kind bug

**What steps did you take and what happened:**
This is an issue that occurs occasionally, but I don't have enough understandings of the notebook-controller to be able to cause the issue to be reproduced reliably. But it has happened on multiple occasions.

From the user perspective, when they launch a notebook via the web interface, the newly-launched notebook stays with the spinning ic

[2021-07-21 01:48] #5826 closed

[2021-07-21 01:48] #5705 closed

[2021-07-21 01:48] #5828 closed

[2021-07-21 01:48] #5578 closed

[2021-07-21 01:48] #5696 closed

[2021-07-21 01:48] #5572 closed

[2021-07-21 01:48] #5659 closed

[2021-07-21 01:48] #5795 closed

[2021-07-21 01:48] #5792 closed

[2021-07-21 01:48] #5778 closed

[2021-07-21 01:48] #5722 closed

[2021-07-21 01:48] #5785 closed

[2021-07-21 01:48] #5688 closed

[2021-07-21 01:48] #5676 closed

[2021-07-21 01:48] #5695 closed

[2021-07-21 01:48] #5666 closed

[2021-07-21 01:48] #5616 closed

[2021-07-21 01:48] #5621 closed

[2021-07-21 01:48] #5635 closed

[2021-07-21 01:48] #5802 closed

[2021-07-21 01:48] #4912 closed

[2021-07-21 01:48] #5444 closed

[2021-07-21 07:25] jazzsir commented on #6037
I did it using release 0.1

[2021-07-21 07:25] #6037 closed

[2021-07-21 09:19] juliusvonkohout commented on #5982
@kimwnasptd it worked in 1.3 as far as i remember and stopped with 1.3.1rc0

This is the running state for the notebook and statefulset

[code]

Now i stop it first using the webui which stops the pod properly but goes into this strange podinitializing state

[code]

Lets try to delete it from the webinterface

[code]

The logs follow in the next post

[2021-07-21 09:24] niuqg commented on #4549
Add whitelist for seldon-core in kubeflow 1.3.
1. Update configmap oidc-authservice-parameters in  the  istio namespace
`SKIP_AUTH_URI: /dex /seldon/`

2. Create authorizationPolicy:
[code]

[2021-07-21 09:31] kimwnasptd opened #6057 "[bug] Setting limitFactor to none results in incorrect spec for Notebook"
/kind bug

**What steps did you take and what happened:**
1. Set the `cpu.limitFactor` to `none` in the Jupyter web app's ConfigMap
2. Navigate to the form
3. Edit the form's cpu requests
4. Create a new Notebook.

The created Notebook will have `NaN` value for the cpu limits, which makes the StatefulSet controller unable to create the underlying Pod.

**What did you expect to happen:**
The cpu li

[2021-07-21 09:31] kimwnasptd commented on #6057
I've worked on a fix for this. I'll push a PR

/assign @kimwnasptd

[2021-07-21 09:35] #5525 closed

[2021-07-21 09:37] DavidSpek commented on #6057
Strange that this error appeared since I know I tested this scenario. I'm interested to see what is causing this behavior.

[2021-07-21 09:39] kimwnasptd commented on #6057
Oh wait, I didn't phrase it correctly. This does not happen when I just create the Notebook, but **after** I edit the requests in the form, which results in the form trying to recalculate the value for the limits.

I'll edit the description to make it explicit

[2021-07-21 09:47] juliusvonkohout commented on #5982
The delete command is submitted in this snippet from the full log
[jupyter-web-app-log.txt](https://github.com/kubeflow/kubeflow/files/6854398/jupyter-web-app-log.txt)

[code]

but
[code]
means that it is stuck on deletion

The notebook-controller log is quite large and the controller tries to fetch notebooks that have been deleted weeks ago and to access namespaces  that have not been created by

[2021-07-21 10:17] juliusvonkohout commented on #5982
@kimwnasptd i tried it again in another namepsace to make the logs a bit smaller and here is an excerpt.

Most interesting is that it jumps back and forth
[code]

[code]

[2021-07-21 10:34] juliusvonkohout commented on #5982
@kimwnasptd could you do a build of https://github.com/kubeflow/kubeflow/pull/6025 and provide the image for testing?

[2021-07-21 10:40] kimwnasptd commented on #3657
/reopen
/lifecycle frozen

[2021-07-21 10:41] kimwnasptd commented on #6057
This will also be a good use case for adding an E2E test #3657 to ensure we catch this in the future

[2021-07-21 13:57] JaimeHolland opened #6059 "Hide kubeflow dashboard"
/kind question

**Question:**
Hi, I've followed these instructions to install kubeflow on EKS:
https://www.kubeflow.org/docs/distributions/aws/deploy/install-kubeflow/

The kubeflow dashboard is being exposed as a public site on the internet.  How can I turn that off?  I'm assuming there's a configuration possible where I can get to the dashboard using `kubectl proxy` instead of having it so publi

[2021-07-21 14:09] kimwnasptd commented on #6042
I'll allocate cycles on this, since we need to sort this out before updating the Katib web app and Models web app to use the latest common code

/assign @kimwnasptd

[2021-07-22 06:22] kd303 commented on #6054
Is it not possible to add the new user as contributor to that namespace as owner?

[2021-07-22 06:29] kd303 commented on #6059
Is it not possible for you to change the istio-ingress IP to non-nodeport? That will block everything coming in from outside the network, is that what you are looking for?

[2021-07-22 06:37] kd303 opened #6060 "Jupyter Notebook : Large image display with HAProxy configuration"
/kind Question

Hi All,

This is not Kubeflow issue. We have deployed Kubeflow 1.1 on-premise Kubernetes 1.18 cluster. We are trying to put an HAProxy in front of the default port/IP - 31380. We have observed strange behavior, almost everything works w.r.t notebook functionality like Terminals, displaying some small images inline to notebook, however for large images (> 200 MB) the images are not

[2021-07-22 06:39] nielsuit227 commented on #5107
Experiencing the same problem on GCP as a paid user. Using a compute optimized VM with 4vCPUs and 18Gb RAM, so minimum requirements as per the official docs are met. Seems like I'm not alone either, so might be a good idea to reopen this.

[2021-07-22 06:44] kd303 commented on #5916
@DavidSpek Unfortunately I got dragged into another project. I work on Kubeflow in very little time I get. I will keep posting any updates here and would contribute to Argo once I manage to do something substantial If you have any specific things related to Knative that you want me to look at pls feel free - I will try my best with limited knowledge.

Apologies for late replies.

[2021-07-22 07:52] seoha-kim opened #6061 "kubeflow pipeline client rbac access error"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

import kfp
from kfp import dsl

@kfp.dsl.component
def train_component_op():
    return kfp.dsl.ContainerOp(
        name='mnist-train',
        image='seohakim/pipeline-test:0.1'
    )

@dsl.pipeline(
    name='My pipeline',
    description='My machine learning pipeline'
)

def my_pipe

[2021-07-22 08:31] JaimeHolland commented on #6059
That would be a suitable approach, is that just an annotation that needs to be added, do you know?

[2021-07-22 08:35] 916264367 opened #6062 "kustomization.yaml can't identify "imagePullPolicy: IfNotPresent""
I already have the image in locall.But report it's an unknown label of "imagePullPolicy: IfNotPresent"
![image](https://user-images.githubusercontent.com/51771785/126611137-c4d8e9a5-535f-44ff-926e-8bad1434342d.png)

[2021-07-22 12:49] chingandy commented on #5534
We are also facing the same issue in Kubeflow 1.3.

[2021-07-22 17:41] JessicaBarh commented on #6054
Yes but I'm wondering if there's a way to add/modify owner or contributors (as an Admin) on someone else's profile.

[2021-07-23 09:17] vaskozl opened #6063 "Metadata not written (and new visualizations not displaying) in 1.7.0-rc1"
/kind bug

I Kubeflow upgraded from 1.4.0 to 1.7.0-rc1 with the platnform-agnostic manifests.

While I now see correct visualizations of statistics from runs that happened before upgrading to 1.7.0-rc1, new runs only display the markdown details.

The TFX pipelines I submit are exactly the same. On the new runs the ML Metadata tab of the components prints:

"Corresponding ML Metadata not found."

[2021-07-23 09:38] NSLog0 opened #6064 "Internal error occurred: failed calling webhook "webhook.cert-manager.io" in aws cloud9"
/kind bug
**What steps did you take and what happened:**
I'm deploy kubflow by using cloud9 and EKS after ran
[code]
then got:
[code]

**What did you expect to happen:**
success to install on EKS via AWS Cloud9

**Anything else you would like to add:**

I FOUND  cert-manager/cert-manager-webhook MISSING ENDPOINT. SO WHAT CAN I DO. I SEARCH EVERY ISSUE, IT SEEM NO SOLUTION FOR ME
[code]

**Environm

[2021-07-24 18:52] CameliaBenLaamari commented on #3902
I'm facing the same problem, and no error is displayed.
I'm using a KF dashboard that was already set up for me by my supervisor and is up and running on a server. So I can't execute terminal commands to change configurations. Any idea how to solve this?
![image](https://user-images.githubusercontent.com/76062686/126878527-0a60e231-cdcb-41a4-8c42-d6405ce026ae.png)

[2021-07-26 10:37] vaskozl commented on #6063
Closing in favour of issues in the pipelines repo: https://github.com/kubeflow/pipelines/issues/6138

[2021-07-26 10:37] #6063 closed

[2021-07-26 10:37] Sharathmk99 commented on #6054
Create `rolebinding` in existing namespace

[code]

This should add `<new user id>` as owner to existing profile/namespace.

Hope this helps.

[2021-07-26 10:51] vaskozl commented on #6063
I've also just tested the issues with 1.7.0-rc2.

I've tried kfp 1.4.0 and 1.6.6

[2021-07-26 15:35] kimwnasptd commented on #6042
While working on this I had the chance to take a more detailed look into the implementation with `ngx-translate`. As a first step towards using Angular's `i18n` solution we will need to make explicit the architecture we will use for the translation.

Internationalization support will be broken down into the frontend and the backend work. For the frontend we will use constructs like
* the `i18n` at

[2021-07-26 15:39] kimwnasptd commented on #6042
Also, by following Angular's proposed implementation we will end up with translation files, in distinct folders, for each language. This will allow us to have OWNERS files to make it clear who are the people responsible for keeping a translation up to date.

We should also make it explicit, in the app's READMEs for now, that the i18n support is only provided as best effort for other languages.

[2021-07-26 17:06] NSLog0 commented on #6064
any update?

[2021-07-26 22:32] IsraelAbebe opened #6066 "minikf remote accsess"
I am working on the remote machine and wanted to know how to use the min if dashboard after doing vagrant up, is there a way to deploy it on external IP?

[2021-07-27 10:58] bryant-rh opened #6067 "This step is in Error state with this message: pod deleted during operation"
/kind question
What steps did you take and what happened:
"This step is in Error state with this message: pod deleted during operation"

**Question:**
[You can ask any question about this project.]
![image](https://user-images.githubusercontent.com/43403977/127143032-8ac3fb3a-bb23-4a72-bfff-130f5775839c.png)

Environment:

Kubeflow version: v1.3.0
Kubernetes platform: kubectl, EKS
Kubernetes versi

[2021-07-27 13:06] eumentis-pawan commented on #5362
I am facing the same issue when i install Kubeflow manually using [(manifests installation)](https://github.com/kubeflow/manifests#install-with-a-single-command).

@LRSutton were you able to resolve your issue?

[2021-07-27 20:49] jbottum commented on #6048
@mkbhanda Hi - Are you going to take a shot at the draft for this ? Please let me know.   Thanks.   Josh

[2021-07-28 01:28] subodh101 commented on #5940
@DavidSpek

Sorry for the late response.

Actually, the kubeflow version is 1.2, central dashboard UI shows 1.0.4, so I wrote that.

I am upgrading kubeflow version to 1.3. After finishing, will let you know about it.

[2021-07-29 20:54] jtfogarty opened #6070 "Critical Vulnerabilities in Notebook image"
/kind question

**Question:**
I'm seeing the below vulnerabilities in this image public.ecr.aws/j1r0q0g6/notebooks/notebook-servers/jupyter-pytorch-cuda-full:master-1831e436

[code]

I was able to reduce the CVEs by creating my own Dockerfile and running

[code]
Below are the remaining CVEs
[code]
These seem to be all node packages but I'm not sure.

What is the process for updating nodejs package

[2021-07-30 00:56] rc-coderepo commented on #6064
You can try running kfctl multiple times and see if it works. As kfctl deploys multiple components at once some components are deployed before their dependency components.  So running kfctl multiple times might fix it.

[2021-07-30 05:53] #5806 closed

[2021-07-30 05:53] #5790 closed

[2021-07-30 05:53] #5588 closed

[2021-07-30 05:53] #5837 closed

[2021-07-30 05:53] #5445 closed

[2021-07-30 10:51] PatrickGhosn opened #6071 "Can the different trials run from the same volume/model?"
/kind question

**Question:**
We are currently running the pytorch Katib pods by mounting the data and model from a shared NFS volume. Does that cause any issues? Should each trial have its own volume for the model? Or perhaps every worker as well?

[2021-07-30 11:15] #6071 closed

[2021-07-30 11:51] NSLog0 commented on #6064
@rc-coderepo what about
[code]
is that a problem?

[2021-07-30 15:01] mofanke commented on #5982
@juliusvonkohout https://github.com/kubeflow/kubeflow/pull/5873 seems solved non-kubeflow namespaces things

[2021-07-30 15:09] mofanke commented on #5982
is seems when delete notebook  crd Foregroud, it well change status back and forth, because when event came to notebook controller, it will not judge whether the notebook is deleted ,and will reconcile it , at the same time ,k8s gc will delete it ,so as the logs.

[2021-07-30 15:17] mofanke commented on #5982
as this sloution , https://github.com/kubeflow/kubeflow/pull/6025/commits/71f979aa54ab1c4368d34aa2c0f372c7283a4171 it will not reconcile the notebook which was deleted before. but when I test this ,it could be over 2 min to delete a notebook when the namespace has about 200 notebooks,  i think the reason is  the delete action would be done by k8s gc . If someone has a better sloution , it will be

[2021-07-30 20:34] jbottum commented on #6070
@kubeflow/wg-notebooks-leads /kind feature /priority p2 /area notebooks

[2021-08-02 22:15] thesuperzapper commented on #6070
@jtfogarty please be aware these images are for example only, so we don't currently attempt to keep them updated beyond "best-effort".

It's also important to remember the context in which these images are used and its unique security situation. They are notebook servers (with users writing arbitrary code) secured behind the istio proxy (not hosting something public).

@DavidSpek what are your tho

[2021-08-03 02:59] kruthikakr commented on #4765
Any possible solution available to save the best model during katib  training ?

[2021-08-03 03:20] wallies commented on #6070
@thesuperzapper are the dockerfiles or source available so the community could help keep them updated or use snyk/dependabot as well

[2021-08-03 03:40] thesuperzapper commented on #6070
@wallies that's their whole point! You can find all the images under [components/example-notebook-servers](https://github.com/kubeflow/kubeflow/tree/master/components/example-notebook-servers).

We need to update [the `kubeflow.org` docs](https://www.kubeflow.org/docs/components/notebooks/) for the new example images (and explain the RStudio/VSCode support while we are there), it seems like we nev

[2021-08-03 03:57] wallies commented on #6070
@thesuperzapper nice, i think thats where i got what I have now, to build our custom images. Do you envision to also add a github action to build these example notebooks based on updates?

[2021-08-03 07:29] DavidSpek commented on #6070
The dockerfiles have been built so that they can be kept up to date automatically with Renovate. When an update PR is merged, it will get built automatically.

I’ve been wanting to setup Renovate for this repository for over half a year now, but traction is extremely slow. For people that want updated images you can check
https://github.com/davidspek/kubeflownotebooks and https://hub.docker.com/u/

[2021-08-03 15:29] jtfogarty commented on #6070
I cloned @DavidSpek [repo](https://github.com/DavidSpek/kubeflownotebooks.git), rebuilt the Base, Jupyter and the Jupyter PyTorch CPU images.  Below are the remaining CVEs;
[code]

[2021-08-03 17:55] xhejtman opened #6073 "default pipelines"
/kind question

**Question:**
Can I somehow change the default sample pipelines that are available for a new user? They do not work with k8sapi executor so I would like to provide different samples for users. I did not manage to find where to change it.

[2021-08-03 21:53] blairdrummond commented on #4569
@wg102 We already have the code for this done, do we have a PR for that?

CC @HassanOuda , I believe the code is here

https://github.com/StatCan/kubeflow/commit/01a17e6b4ac2520327d95eea6a414a234f11db5e#diff-7b12be43febc6e18259dd77c004315b4143d570234e0f15acf5f9d7b79c371b5

[2021-08-04 12:52] wg102 commented on #4569
@blairdrummond The PR has not been created yet. It should be straight forward to create

[2021-08-04 21:30] jdonnelly-apixio commented on #4306
This works in the spark app entrypoint.sh for the istio not yet ready issue when executors connect. It checks for the port to be open every 1 second for up to 2 minutes.
[code]

[2021-08-05 04:36] NSLog0 commented on #6064
update: the problem was about the size of the instance is limit the amount of Pod. so the solution, in this case, was to increase size of ec2

[2021-08-05 04:36] #6064 closed

[2021-08-06 12:55] kruthikakr opened #6078 "kfctl v1.3.0 link broken for kubeflow deployment on Azure"
/kind question

    kubeflow setup on azure using the link https://www.kubeflow.org/docs/distributions/azure/deploy/install-kubeflow/
    the link is broken for v1.3 : Download the kfctl v1.3.0 release from the Kubeflow releases page.
    so have installed the available https://github.com/kubeflow/kfctl/releases

I need to use kfserving with torchserve which needs kubeflow 1.3 on azure. What i sho

[2021-08-06 17:16] toshi-k commented on #5504
@torbre16 @konradmalik I faced the same problem, but I've found a perfect solution for kubeflow v1.2 on AKS.
In my understanding, the problems were VirtualServices installed by the default installer for AKS.
You can open one of them as below.
[code]
At the below part, we need the additional settings for SNI Hosts.
[code]
So, We need to add sniHosts as below.
[code]
Since, we have the same problem

[2021-08-06 18:15] rky0930 commented on #5803
Thanks @DavidSpek and @geewynn, I had this issue too and I solved it using your suggestions.
I am using K8s for on-prem, and I am using MetalLB and ingress-gateway by accessing NodePort. Apply the yaml below and access https with the node port of the target port 443 of the istio-ingressgateway. Because it is a self-signed certificate, the browser displays a certificate-related error, but if you ig

[2021-08-06 19:43] HassanOuda commented on #4569
@blairdrummond and I think I needed this as well:
https://github.com/StatCan/kubeflow/commit/1fa21268306f8be26d21efe905d0f13e558169ed

Thanks so much! good work on this!

[2021-08-07 08:17] shankyz commented on #4642
Hi,
I have followed the same step as u said but facing the below issue when used kfctl build -V -f kfctl_k8s_istio.0.7.1.yaml
the error is :
" WARN [0000] cannot get kustomization from kustomize/namespaces/base:error open kustomize/namespaces/base/kustomization.yaml: no such file or directory filename ="kustomize/kustomize.go:524"

Can you kindly help..

![WhatsApp Image 2021-08-07 at 1 42 10 PM](

[2021-08-07 18:42] ReggieCarey commented on #4642
Switch to a supportable version like v1.3.0 and see if your problems go away.

Sent from my iPhone

[2021-08-08 05:59] AndreyRomanchev opened #6079 "Can't setup kubeflow into custom VPC network"
/kind bug

**What steps did you take and what happened:**
I've setup management cluster and trying to setup kubeflow.
Before make apply I've set
[code]
These are valid network and subnetwork from our environment.

And after describe of containerclusters I got
[code]

There are no default networks in our GCP projects.
How to install kubeflow to specific VPC network?

**Environment:**

- Kubeflow ve

[2021-08-08 08:53] danielbraun89 commented on #3173
Why is this closed?

[2021-08-08 13:27] padrian commented on #5010
I still have this issue on 1.3.0
I am using kfctl_aws.v1.3.0.yaml

[2021-08-10 02:58] momomobinx commented on #2325
Link failure

[2021-08-10 03:11] gaocegege commented on #2325
https://kubeflow.slack.com/join/shared_invite/zt-n73pfj05-l206djXlXk5qdQKs4o1Zkg#/

[2021-08-10 10:23] matkosoric opened #6080 "Nested menu - "Sorry, /<endpoint>/ is not a valid page""
Central dashboard menu is displayed as nested or recursive menu, three levels deep, showing message similar to:
Sorry, /jupyter/ is not a valid page
Sorry, /volumes/ is not a valid page
Sorry, /tensorboards/ is not a valid page
etc.

![image](https://user-images.githubusercontent.com/24875759/128849797-6080ca54-15a1-4b29-9093-a058e05c8563.png)

If you do not select the same component, then it is o

[2021-08-10 19:02] jbottum commented on #6080
/kind question /area jupyter /priority p2

[2021-08-10 19:07] jbottum commented on #6080
@matkosoric does it act this way every time?   did you try to pick a namespace?   which installation pattern/process did you use (...we might have to look at the manifests and kustomize commands) ? @kubeflow/wg-notebooks-leads

[2021-08-10 19:08] jbottum commented on #6079
/platform gcp
/priority p2

[2021-08-10 19:15] jbottum commented on #6078
/kind bug
/area docs
/platform azure

[2021-08-10 19:19] jbottum commented on #6078
@aronchick, fyi

[2021-08-10 19:21] jbottum commented on #6073
/area pipelines
/priority p2
@xhejtman you might try attending the KFP working group call and asking there.

[2021-08-10 19:22] jbottum commented on #6070
@kimwnasptd are we tracking this for 1.4? will this be in before the feature freeze ?

[2021-08-10 19:23] jbottum commented on #6066
/kind question
/priority p2
/area minikf

[2021-08-10 19:23] AndreyRomanchev commented on #6079
Btw, I was able to install kubeflow by creating ComputeNetwork and ComputeSubnetwork reflecting those in our VPC.
Samples found here https://github.com/GoogleCloudPlatform/k8s-config-connector/tree/master/samples/resources/containercluster/vpc-native-container-cluster

and adding
[code]
to gcp-blueprints/kubeflow/common/cluster/upstream/cluster.yaml

[2021-08-10 19:31] jbottum commented on #6066
@IsraelAbebe this use case is not supported.   I will ask the MiniKF team if they have any suggestions.

[2021-08-11 00:10] AlecZebrick commented on #5420
@vkoppisetti-verisk I don't believe post-confirmation lambda is what you're looking for here. It's pre-signup correct? Regardless I'm having the same problem and struggling to get lambda to modify it. Is there a way to alter the behavior of the authzadaptor here?

[2021-08-11 11:27] juliusvonkohout commented on #5982
@DavidSpek do you have any knowledge that could help?

[2021-08-11 11:55] DavidSpek commented on #5982
I’ve actually started work on a revised controller that should solve this as well. There’s a lot of stuff in the code that needed to be cleaned up that should make it easier to maintain in the future.

[2021-08-11 13:53] vkoppisetti-verisk commented on #5420
@AlecZebrick  , i am sure there is no pre-sign up. The lambda triggers are for Post authentication and Post confirmation and its same lambda func for both triggers
lambda name : cognito-post-auth-python
code :
import json
import boto3

client = boto3.client('cognito-idp')
def lambda_handler(event, context):
    # TODO implement

    response = client.admin_update_user_attributes(
        UserPoolI

[2021-08-11 16:17] #5326 closed

[2021-08-12 02:01] vinayan3 commented on #4188
Any updates on this?

I'd like to have groups similar to the @lalithvaka  where we have a couple of high level groups  and users associated into one of them. This group information is already in our OIDC provider and managed there. Based on the latest Kubeflow it looks like this would have to be done within Kubeflow which duplicates the data.

[2021-08-12 09:40] kruthikakr commented on #6078
any help regarding this ?

[2021-08-12 10:59] kimwnasptd opened #6084 "[feature] Add entry for Models web app in CentralDashboard"
/kind feature

**Why you need this feature:**
Since KFServing 0.6 will be included in the Kubeflow 1.4 release https://github.com/kubeflow/manifests/issues/1960#issuecomment-897277442 the CentralDashboard should also have an entry for the Models web app.

cc @yuzisun
/assign @kimwnasptd

[2021-08-12 12:13] #6041 closed

[2021-08-12 12:16] #6084 closed

[2021-08-12 15:19] JohnWick-888 opened #6088 "no matches for kind "Profile" in version "kubeflow.org/v1""
I was trying to perform Manual profile creation as the https://www.kubeflow.org/docs/components/multi-tenancy/getting-started/    described, however i got this error,  and don‘t know  why.

error: unable to recognize "profile.yaml": no matches for kind "Profile" in version "kubeflow.org/v1"
kubeflow.org/v1beta1 didn't work too.

At the same time, i was trying to enable kubeflow in microk8s(1.2.3 s

[2021-08-12 18:16] jtfogarty commented on #6070
Deleting the below solves the compliance issue;
 `/opt/conda/lib/python3.8/site-packages/tornado/test/test.key`

[2021-08-12 18:50] jbottum commented on #5420
@vkoppisetti-verisk did you get this resolved?  I know that the Arrikto team has helped some customers implement similar requirements.

[2021-08-12 20:36] jtfogarty commented on #6070
Installing kfserving==0.6.0 causing this CVE
CVE-2017-18640  org.yaml_snakeyaml version 1.21

[2021-08-12 20:48] DavidSpek commented on #6070
Tornado is part of what Jupyter uses. These notebook servers are provided as examples and without a guarantee they will be CVE free. The best we can do is ensure all packages are up to date, but after trying for over half a year to get Renovate setup and constantly being blocked by @kubeflow/wg-notebooks-leads I’ve given up.

For those that are looking for actively maintained notebook images and c

[2021-08-12 23:01] AlecZebrick commented on #5420
I should have came here sooner. @vkoppisetti-verisk  was very much correct the issue can be resolved using a **Post Confirmation** triggered lambda function. I wrote mine in javascript:

[code]

[2021-08-13 03:44] munagekar commented on #5985
I also faced the same issue, this happens when a non default resource is set in the spawner_ui and the `limit` in kubeflow-config is set to `none`.

[2021-08-13 04:45] JohnWick-888 commented on #6088
finally  i got this done with juju client  following the guide https://www.kubeflow.org/docs/distributions/charmed/install-kubeflow/
This has something to do with the RBAC.

[2021-08-13 04:45] #6088 closed

[2021-08-13 09:14] #6057 closed

[2021-08-13 10:05] matkosoric commented on #6080
@jbottum Selecting namespace does not make a difference:
![image](https://user-images.githubusercontent.com/24875759/129340724-eadaf980-40ed-4f42-9cf8-e882e123118d.png)

[2021-08-13 10:07] matkosoric commented on #6080
@jbottum Not sure how much I can share from other parts of the project, but dashboard yml looks something like this:

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: central-dashboard
  namespace: argocd
spec:
  project: default
  source:
    repoURL: xxxxxxxxxxx
    targetRevision: xxxxxxxxxxxx
    path: distribution/kubeflow/central-dashboard/base
    kustomize:
      versio

[2021-08-13 10:08] matkosoric commented on #6080
Also, this is similar issue:
[Kubeflow 1.3 bugs on Openshift 4.6 #1895](https://github.com/kubeflow/manifests/issues/1895)

[2021-08-13 10:11] matkosoric commented on #6080
It seems that problem is in port-forwarding:
[Link](https://github.com/kubeflow/kubeflow/issues/3615#issuecomment-633822241)

[2021-08-13 10:45] kimwnasptd commented on #5985
@munagekar we have an issue for this https://github.com/kubeflow/kubeflow/issues/6057. This is initially an problem in the client/UI, since it ends up sending invalid structured data which is what https://github.com/kubeflow/kubeflow/pull/6058 addressed.

But since a NaN is an invalid value we can extend the backend, in your PR https://github.com/kubeflow/kubeflow/pull/6092, to ensure that request

[2021-08-13 21:38] jbottum commented on #6066
@IsraelAbebe I checked with Arrikto R&D.   They are supporting this use case with multi-node clusters for Arrikto Enterprise Kubeflow customers.   Did you get this use case resolved ?

[2021-08-13 21:40] jbottum commented on #6059
@JaimeHolland did you get this resolved ?

/kind question
/priority p2

[2021-08-13 21:44] jbottum commented on #6060
/priority p2

@kd303 did you get this resolved ?     Which storage class are you using for the large images ?

[2021-08-13 21:45] jbottum commented on #6056
/proirity p1

@kubeflow/wg-notebooks-leads

@814HiManny did you get this resolved?

[2021-08-13 21:46] jbottum commented on #6048
@mkbhanda I think we can close this issue as soon as this PR merges.   https://github.com/kubeflow/kubeflow/pull/6082

[2021-08-13 21:50] jbottum commented on #6040
@Space-Banana-42 did you get this resolved?   did you try with Kubeflow 1.3?

/kind question
/priority p2

[2021-08-13 21:52] jbottum commented on #6031
@Benjamin-Etheredge @rexad @nitesh31mishra @pjsudharshan did you get this issue resolved?

[2021-08-14 10:10] Oblynx opened #6093 "code-server notebooks can't parse notebook path prefix"
/kind bug

**What steps did you take and what happened:**

I created a notebook with the [code-server example image](https://github.com/kubeflow/kubeflow/tree/master/components/example-notebook-servers/codeserver).
On visiting the notebook's URL `https://<hostname>/notebook/kosamara/wad-codeserver/` I get 404.

**What did you expect to happen:**

I expected to see the code-server UI.

**Investigat

[2021-08-14 10:29] Oblynx commented on #6093
### Workaround

Editing the notebook's virtual service to strip the notebook's path (`VirtualService.spec.http[].rewrite.uri: /`) resolves the issue. In order to enable this workaround I had to stop the notebook controller, which is enforcing the original value for rewrite URI (full prefix, `/notebook/kosamara/wad-codeserver/`).

### Suggestion

Could we add a path rewrite option to the notebook's

[2021-08-16 05:06] motilalmeher opened #6094 "Kubeflow pipeline UI tables"
Hi,
I am trying to show different results of the component by kubeflow ui table. But I can not able to give the name of the table. It is showing the function name where I am defining mlpipeline metadata ui. Can you please let me know how to customise the name of the table in ui.

[2021-08-16 09:00] dirtyValera opened #6095 "Can't access S3 bucket from Jupyter Notebook: Access Denied"
I have lots of small parquet files in S3 bucket which I'm trying to access from a Jupyter Notebook

[code]

I get 'Access Denied' error:

[code]
I'm running kops cluster with AWS EC2 instances and manually installed kfctl_istio_dex.v1.2.0 multiuser Kubeflow setup.

I'm not sure where exactly in Kubeflow stack the request is blocked. Should I somehow do a whitelisting in Istio or it's something els

[2021-08-16 09:08] JaimeHolland commented on #6059
Hi, yes, there were some annotations I needed to add to make the loadbalancer `internal`, so that was all that was needed in my case

[2021-08-16 09:08] #6059 closed

[2021-08-16 15:43] jbottum commented on #6002
@shalankig did you get this resolved

/platform gcp
/area pipelines
/priority p2

[2021-08-16 17:26] #5985 closed

[2021-08-17 02:30] subodh101 commented on #5940
@DavidSpek

I have upgraded it to Kubeflow 1.3. Behaviour is the same as above.
Any ideas where I could look into?

Additional info: Current Kubeflow setup is managed by minio with GCS and MySQL is stateful. Would the migration of the metadata DB to GCP MySQL work?

Apart from that my last option is to deploy a cleaner, that cleans the old metadata records.

[2021-08-17 16:36] jbottum opened #6097 "Kubeflow Doc Sprint- proposed for Sept 14 after Community Meeting"
/kind feature

**Why you need this feature:**
We would like to get user input on the Kubeflow docs and improve them for the 1.4 release.

**Describe the solution you'd like:**
We should consider a multi-hour virtual call where contributors can present new docs and users can provide feedback.    We are proposing this will be help on Sept 14.

**Anything else you would like to add:**
We would like u

[2021-08-18 08:45] DomFleischmann opened #6098 "Kubeflow not ready for K8s 1.22"
/kind bug

With the new Kubernetes 1.22 release, some APIs have been removed: https://kubernetes.io/blog/2021/07/14/upcoming-changes-in-kubernetes-1-22/

The kubeflow project still uses some of these APIs and will therefore not work on k8s 1.22.

For example, the following CRDs are still using `apiextensions.k8s.io/v1beta1`:
[code]

[2021-08-18 11:50] juliusvonkohout commented on #5982
Do you think that will make it into 1.4?

[2021-08-18 12:51] MrXinWang commented on #2337
@Jerry-Ge will spend more effort on this :)))

[2021-08-18 13:18] #6047 closed

[2021-08-18 14:49] jbottum commented on #6098
@kubeflow/wg-manifests-leads

[2021-08-18 14:50] jbottum commented on #6098
/priority p2
/area manifests

[2021-08-18 19:57] paulk8s commented on #6020
Any updates?

[2021-08-19 08:54] matkosoric commented on #6080
Update: I was able to get nested menu again, this time without port-forwarding and only for MLFlow component:
![image](https://user-images.githubusercontent.com/24875759/130039479-cc0a08b4-fc1c-4f5d-8024-c40566ce7ebf.png)

[2021-08-19 16:47] andres-de-castro opened #6099 "Tensorboard Controller should be configurable to use workload identity and use a custom service account"
/kind bug

**What steps did you take and what happened:**

When trying to use workload identity with the tensorboard controller, the application immediately patches the deployment to read from a secret called `user-gcp-sa`, and can only be bypassed by setting a bogus secret.

**What did you expect to happen:**

1) Workload identity should be an optional flag and not require having the secret exist

[2021-08-20 01:58] ReggieCarey commented on #4549
Is there any movement on this problem?  It's affecting me in KF 1.3.0.  After Kubeflow is installed, basic Istio Getting started apps like httpbin no longer work.  Kubeflow folks: Please stop assuming that your use of Istio is the ONLY use of Istio on a kubernetes cluster.  If DEX Authentication is in place for Kubeflow, then it should be in place explicitly and ONLY for Kubeflow, not every other

[2021-08-20 06:17] edwardzjl opened #6100 "istio-ingressgateway stuck on waiting even I patched the rbac authorization"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

After deploy kubeflow with `juju deploy cs:kubeflow` (late in the night), I left the deployment running hoping it will be up next day.

Next morning I found that App `istio-ingressgateway` and Unit `istio-ingressgateway/0*` got stuck on status waiting. After some googling I patched the

[2021-08-20 08:51] edwardzjl commented on #6100
Also, during initialization, my oidc-gatekeeper App sometimes stay in error state for a long time, with following message:

[code]

[2021-08-20 11:24] Bonbonbg opened #6101 "kubeflow cluster deployment Error"

[2021-08-20 14:40] RFMVasconcelos commented on #6097
@jbottum thank you for this proposal!

I agree with Sept 14th and the format of doing this right after the community meeting :rocket:

[2021-08-20 15:07] jbottum commented on #6097
@shannonbradshaw will Sept 14 work?  @RFMVasconcelos I am thinking of issuing a goal / challenge to users to help with at least 1 PR on the docs, and maybe have their PR ready by Sept 14.    Do you think that might help ?

[2021-08-20 23:48] DHolmanCoding commented on #6016
Also experienced this issue

[2021-08-22 13:34] jerryjin2018 commented on #5487
so nobody cares about this issue?

[2021-08-22 18:17] #5862 closed

[2021-08-22 18:17] #5458 closed

[2021-08-22 18:17] #5751 closed

[2021-08-22 18:17] #5791 closed

[2021-08-22 18:17] #5857 closed

[2021-08-23 00:23] jbottum commented on #5487
@jerryjin2018 thanks for reporting this.   I believe this has been escalated to the AWS team, who would be the group to support this request as-is.    If you cannot get appropriate help there, then you might consider asking at a Community Meeting (on Tuesday) or potentially looking to a 3rd party that supports Kubeflow on AWS.     Many users are running Kubeflow 1.2 and 1.3 in production so I am c

[2021-08-23 05:09] wangjun1974 commented on #5677
same problem on Openshift 4.5.18 with kfctl_openshift.v1.2.0.yaml

[2021-08-23 06:31] Hmr-ramzi opened #6102 "500 error when accessing the notebook servers web UI"
/kind bug

**What steps did you take and what happened:**
Sometimes when i press on the notebooks server web UI i get an error in a box at the end of the page "500 error".

**What did you expect to happen:**
I did not expect this error to occur

**Anything else you would like to add:**

**Environment:**

- Kubeflow version: (version number can be found at the bottom left corner of the Kubeflow das

[2021-08-23 08:19] Hmr-ramzi commented on #6102
![image](https://user-images.githubusercontent.com/11632681/130414511-d6750593-dccc-4714-b239-628ac468b152.png)

[2021-08-23 08:27] Hmr-ramzi commented on #6102
![image](https://user-images.githubusercontent.com/11632681/130415550-b10ef44b-a34e-4c2f-8688-a17c1d1fa42f.png)

[2021-08-23 14:18] jbottum commented on #5677
@nakfour please see questions on OpenShift and Kubeflow in this issue

[2021-08-23 14:24] #6101 closed

[2021-08-23 15:36] alexlatchford commented on #5932
/lifecycle-frozen

[2021-08-24 07:55] chingandy opened #6105 "Failed to save outputs: could not chroot into main for artifact collection: container may have exited too quickly."
/kind bug

**What steps did you take and what happened:**
Simply follow the pipeline quickstart and I got this error message.
<img width="781" alt="bug-ticket" src="https://user-images.githubusercontent.com/20613759/130578363-a6aee8de-b474-4ba5-aa0d-dbf738c04d18.png">
But if I rerun the pipeline, it can complete successfully without the error message.

**What did you expect to happen:**
I didn't e

[2021-08-24 21:31] 814HiManny commented on #6056
Not yet resolved. This is still an issue.

[2021-08-25 09:55] haoxins opened #6106 "Kubeflow `1.4-rc0`: notebooks image options are broken"
/kind bug

I think the Kubeflow `1.4-rc.0` notebook controller's backend is not consistent with the Web UI.
This caused the Web UI can load the image options data. The error message in the browser's console is

[code]

This is because the `names/paths` are changed in the frontend codes

**from**

[code]

**to**

[code]

But the backend API's response is still the old path

`GET /jupyter/api/config

[2021-08-25 16:53] hopper-signifyd commented on #5064
@DavidSpek Was this issue actually fixed or just marked as frozen?

[2021-08-25 16:53] yangSignifyd commented on #5064
Hey @DavidSpek, could we bring this up again since it seems a bug from Kubeflow?

[2021-08-30 13:13] zyedManai commented on #3681
Hello @ravenj73 do you have updates on this issue? Have you solved the problem ?

[2021-08-30 18:44] xiaowei-zillow opened #6108 "Provide option to Hide (or remove) "Workspace Volume" on Kubeflow Notebook UI"
/kind feature

**Why you need this feature:**
We are using AWS EFS for workspace volume, so there is no need to create a Persistent Storage for users' home. We would like to remove (or hide) the section "Workspace Volume" from Kubeflow Notebook UI when users trying to create a new Notebook Server.

**Describe the solution you'd like:**
Developers can control this from spawner_ui_config.yaml.
If se

[2021-08-30 19:19] Oblynx commented on #6093
The same issue exists in rstudio-server notebooks. There is a cmdline option that supposedly should allow it to parse the original paths, but it didn't have any effect when I tried it:

[code]

[2021-08-30 19:26] Oblynx opened #6110 "RStudio server redirects to authentication page"
/kind bug

**What steps did you take and what happened:**

I tried to run an rstudio-server notebook using the [rstudio-server image](https://github.com/kubeflow/kubeflow/tree/master/components/example-notebook-servers/rstudio).
After implementing the workaround for https://github.com/kubeflow/kubeflow/issues/6093 , rstudio immediately redirects to `https://<hostname>/auth-sign-in?appUri=/&ns=kosa

[2021-08-30 19:26] Oblynx commented on #6110
### Solution

RStudio has a command line option to stop this redirection, `--auth-validate-users=0`

[2021-08-30 21:56] xiaowei-zillow opened #6111 "Support key-value for configurations in spawner_ui_config.yaml"
/kind feature

**Why you need this feature:**
Kubeflow Notebook New Server UI, we would like to specify key-value as Notebook server pod's label.

Currently the configurations only support a list of names which will be the labels' keys of Notebook Server pod, and the value of these labels are hardcoded `true`. We need to allow users to provide both key and value.

**Describe the solution you'd lik

[2021-08-31 01:06] thesuperzapper commented on #6110
@Oblynx I am confused by this issue, are you saying that the default RStudio image is not working right now?

[2021-08-31 08:03] Oblynx commented on #6110
I encountered this issue when I _built_ the rstudio image myself, using the [base](https://github.com/kubeflow/kubeflow/blob/master/components/example-notebook-servers/base/Dockerfile), [rstudio](https://github.com/kubeflow/kubeflow/blob/master/components/example-notebook-servers/rstudio/Dockerfile) and [rstudio-tidyverse](https://github.com/kubeflow/kubeflow/blob/master/components/example-noteboo

[2021-08-31 08:05] Oblynx commented on #6110
Are the dockerfiles in this repo up to date with the default images?

[2021-08-31 16:52] monoidus opened #6114 "GPU in 'Create New Notebook Server' wrong type"
/kind bug

**What steps did you take and what happened:**
From the kubeflow-dashboard, when I create a new notebook server with the GPU field set to 1 (drop down selection), `Launch` shows me this error.

![gpuStringTypePopup](https://user-images.githubusercontent.com/6693081/131542620-dd94b811-ba0f-4a88-a399-9ec3939d2fb2.png)

**What did you expect to happen:**
I expected the notebook server to b

[2021-08-31 17:50] monoidus opened #6115 "Notebook server fails to launch: failed calling webhook "admission-webhook.kubeflow.org""
/kind bug

**What steps did you take and what happened:**
 - Start at Kubeflow Dashboard
 - Navigate to `Notebooks` and click on `+ New Server`
 - Set name and used defaults for everything else
 - Clicked on `Launch`

I am taken to a progress page where the `status` field spins for a bit saying `launching pod` but everntually errors out after a 30s timeout with the following notification on hover.

[2021-09-01 04:59] finallyRaunak commented on #5289
Has anyone got any solution for this?
I am getting the same error.

`error: unable to recognize "compute-address.yml": no matches for kind "ComputeAddress" in version "compute.cnrm.cloud.google.com/v1beta1"`

though in there [doc](https://cloud.google.com/config-connector/docs/reference/resource-docs/compute/computeaddress) it in mentioned to use like this
[code]

[2021-09-01 05:08] elgalu opened #6117 "Can Kubeflow / Katib be used to track R experiments?"
/kind question

**Question:**
Can Kubeflow / Katib be used to track R language experiments?
All shown examples are currently in Python.

[2021-09-01 13:53] MartinForReal commented on #6115
Could you please provide any log which is generated by pod/admission-webhook-66d5fbf8f5-r69vx ? I think kube-apiserver failed to invoke admission-webhook due to connection issue.

[2021-09-01 13:57] MartinForReal commented on #6095
Please refer to https://istio.io/latest/docs/tasks/traffic-management/egress/egress-control/

[2021-09-01 15:35] monoidus commented on #6115
Thanks for the help!

Attaching output of `kubectl logs -n kubeflow pod/admission-webhook-66d5fbf8f5-r69vx > /tmp/admission-webhook.log`

👉 [admission-webhook.log](https://github.com/kubeflow/kubeflow/files/7092422/admission-webhook.log)

I did look at this before I created the issue but all I could think of was `grep -i error` and found nothing.

As for networking setup: It seems pretty vanilla,

[2021-09-01 16:20] monoidus commented on #6115
I see some `10.10.10.0.xip.io` errors in the cluster-info. I had initially configured metallb (and then dex and oidc) with that 10.10.10.0/24  but later reverted to a 192.168.23.150-192.168.23.175 IP slice that was already routable on my network to keep things simple.

[code]
The snippet above (from `kubectl cluster-info dump`) seems concerning. Some searches later, it looks to be similar to #333.

[2021-09-02 05:36] monoidus commented on #6115
When I recreated a brand new k8s (charmed kubernetes-733) and kubeflow cluster (charmed kubeflow-lite-67), everything works. From my previous logs likely dns got messed up.

Not a defect. Apologies and thanks for your time.

[2021-09-02 05:36] #6115 closed

[2021-09-02 08:40] munagekar opened #6118 "Issue with Central Dashboard Custom Links"
/kind bug

Weird Behaviour for custom internal links in kubeflow central dashboard when no namespace is specified.

**What steps did you take and what happened:**

Docker Image for Central dashboard: public.ecr.aws/j1r0q0g6/notebooks/central-dashboard:v1.4-rc.0

Links Configuration
[code]

Clicked on the MLFlow link in the sidebar with no namespace selected. This opened up another iframe for the c

[2021-09-02 08:41] munagekar commented on #6118
/area fronend

[2021-09-02 08:42] munagekar commented on #6118
/area frontend

[2021-09-02 10:46] Roma110 commented on #5604
Has anyone tested fairing library in VSCode notebook with jupyter notebook ?

[2021-09-02 14:26] toshi-k commented on #6118
@munagekar I've never considered this case. Thank you for your report.

[2021-09-02 16:23] monoidus commented on #6114
I keep getting this error. Ignored it and went ahead with only CPU field set. Turns out, using the `GPU=None` does not prevent the visibility of the GPU. The following pytorch code (using the pytorch-cuda-full image in notebook creation) detects my GPU.

[code]

[this v0.6 setup link](https://v0-6.kubeflow.org/docs/notebooks/setup/) mentions that the `Extra Resources` field can be set to `{"nvidia

[2021-09-02 19:36] Talador12 commented on #5273
This issue needs to be re-opened. The above fix DOES work, but even in kuebflow 1.3.1, this secret is not connected by default

[2021-09-04 16:28] ajinkya933 opened #6119 "Azure OIDC error"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I am following OIDC setup of Kubeflow on azure (https://www.kubeflow.org/docs/distributions/azure/authentication-oidc/) , I have successfully reached till last stage but :
[code]
After this step I get error from authservice pod:
[code]
and I cannot visualize Kubeflow dashboard, how can

[2021-09-06 11:13] DomFleischmann commented on #6098
@bmccord2 There are some known issues with the nvidia operator and microk8s 1.21 you can try with microk8s 1.20 which uses the older and a bit more limited nvidia operator. The installation instructions would be something like this:

[code]

[2021-09-06 19:02] MauGeo commented on #5704
https://github.com/argoflow/argoflow-aws/blob/master/distribution/oidc-auth/overlays/keycloak/oauth2-proxy-signout-virtual-service.yaml

I am having the same issue with the Azure deployment. Infinite loop on logout. I tried modifying the solution with the virtual service for Azure, but it does not work. Is anyone having the same issues with Azure?

Does anyone know to which service the /logout req

[2021-09-07 08:12] crispto opened #6120 "install failed: istio-proxy keeps crashing"
/kind bug
I am deploying  kubeflow on my centos 7.4.1 server. I have a single node kubernetes cluster on this host.
Some pods in istio-system namespace keeps crashing. kubectl describe command shows all these crashing pods are caused by a container named istio-proxy, whose status is OOMKilled.

**Environment:**

- Kubeflow version: v1.0.2
- kfctl version:  kfctl v1.0-0-g94c35cf
- Kubernetes platfo

[2021-09-07 09:04] crispto commented on #6120
I found the error, the default memory limit 128M is not enough. I edit  all deploy configs manually and all pods works fine

[2021-09-07 09:04] #6120 closed

[2021-09-07 10:51] NiravSo commented on #5284
What exactly you have updated. Can you please mention here?

[2021-09-07 15:02] SharpEdgeMarshall commented on #6080
Same issue here on `Notebooks`

[2021-09-07 16:10] hade94 commented on #6016
+1

[2021-09-07 16:18] jbottum commented on #6102
@Hmr-ramzi did you get this resolved?

[2021-09-07 17:26] Hmr-ramzi commented on #6102
Hi, no not yet. It is working but happens each sessions 3 times or something. Looks like it is a timeout issue between the central dashboard and the other components. Any way to configure this ?

[2021-09-07 19:15] jbottum commented on #6119
@ajinkya933 did you get this resolved ?

/platform azure

[2021-09-07 19:18] jbottum commented on #6118
@munagekar did you get this resolved?  did you modify the dashboard configuration to include MLFlow ?

[2021-09-07 19:20] jbottum commented on #6117
@kubeflow/wg-automl-leads fyi

[2021-09-07 19:25] jbottum commented on #6114
@monoidus did you get this resolved?  GPU configuration can be complex.      I am trying to understand your configuration i.e. are you using Kubeflow 0.6 with Kubernetes 1.21.4 with Canonical's charmed K8s and juju ?  Are you using any commercial vendors for support?

[2021-09-07 19:27] jbottum commented on #6066
@IsraelAbebe is this issue still open?  would you like to close or discuss other options ?

[2021-09-07 19:32] jbottum commented on #6079
@AndreyRomanchev did you get this resolved?

[2021-09-07 19:38] jbottum commented on #6095
@dirtyValera Hi Andrey, did you get this resolved?   What additional steps have you taken to debug?

/platform aws
/priority p2

[2021-09-07 19:48] jbottum commented on #6061
@seoha-kim did you get this resolved?   the configuration settings can be complex.    have you considered using a vendor provided deployment pattern that includes technical support?   please see this link for an example, https://new.docs.arrikto.com/#installation

[2021-09-07 19:52] jbottum commented on #6056
@814HiManny would like to help.   are you sure that there are RAM and CPU resources available to support the notebook configuration ?

[2021-09-07 20:00] AndreyRomanchev commented on #6079
@jbottum I think so.

[2021-09-07 20:05] monoidus commented on #6114
@jbottum. Thanks for following up.

TL;DR: This particular problem I have not resolved. Seems to be a javascript issue in the UI similar to #5641. Looks scary when I see it but ends up not really blocking GPU usage so I can ignore it.

GPU config is actually all good. On a MAAS provisioned node, charmed-k8s installs the needed nvidia drivers and runtime (__ the containerd charm seems to doing it__

[2021-09-07 20:07] bwassie opened #6123 "Users not authenticated - GCP OAuth consent screen doesn't show up"
/kind bug

**What steps did you take and what happened:**
I followed the GCP Kubeflow deployment steps. I had a previous Kubeflow setup on the same project and had configured the OAuth consent screen as well as OAuth client and secrets. When I go to the kubeflow URL, I saw the consent screen and had to log in through my google account.

I made another deployment of Kubeflow to the same project but

[2021-09-07 21:22] jbottum commented on #6054
@JessicaBarh did this resolve your issue ?

[2021-09-07 21:22] jbottum commented on #6048
/close

[2021-09-07 21:22] #6048 closed

[2021-09-07 21:24] jbottum commented on #6026
/area notebooks
/priority p2
@kubeflow/wg-notebooks-leads

[2021-09-08 01:02] thesuperzapper commented on #5962
@Bobgy do you have any blockers to enabling the renovate bot? We would really like to move forwards with this.

[2021-09-08 01:53] abe-hpe opened #6124 "300s timeout in notebook server Virtual Service causes Jupyter Notebook Terminal websocket to disconnect"
/kind bug

**What steps did you take and what happened:**

1. Created a new notebook server in the Kubeflow Central Dashboard using  the 'tensorflow-1.15.2-notebook-cpu:latestC' image.
2. Connected to the notebook server and selected New -> Terminal from the Jupyter homepage.
3. Used the terminal for normal command line functions
4. At exactly 5 minues after creation, the terminal would stop respo

[2021-09-08 02:40] munagekar commented on #6118
@jbottum This is not yet resolved. This is an edge-case for the [newly created feature](https://github.com/kubeflow/kubeflow/issues/5863).

Yes I modified dashboard configuration to link to custom MLFlow integration with Kubeflow.

[2021-09-08 04:40] johnugeorge commented on #6117
The only requirement is a docker image which accepts hyper parameters as arguments.

[2021-09-08 06:03] ajinkya933 commented on #6119
@jbottum no, I am stuck.

[2021-09-08 13:39] MLHafizur opened #6125 "Error during installing Kubeflow on Mac M1"
Trying to install Kubeflow on my Mac M1:

(kube) (base) mdrahman@Mds-MacBook-Pro hello-kf-Darwin % export CONFIG=https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_k8s_istio.v1.0.0.yaml

(kube) (base) mdrahman@Mds-MacBook-Pro hello-kf-Darwin % kfctl apply -V --file=${CONFIG}

Getting following errors:

Error: failed to apply:  (kubeflow.error): Code 500 with message: kfAp

[2021-09-08 20:21] ReggieCarey commented on #6114
Warning: GPU selection chooses a node with GPU capability. If there is a problem as described here, it’s likely still present in a cluster with mode than one node type.

Does this bug reflect problems with selecting MIG mixed mode GPUs?

Sent from my iPhone

[2021-09-09 00:11] remde opened #6127 "Pip error in add azure-cli-ml step for Azure end-to-end pipeline example"
/kind bug

**What steps did you take and what happened:**
While following [this documentation](https://www.kubeflow.org/docs/distributions/azure/azureendtoend/), in the `Build Images` step, this command will break:

[code]

By adding the `--debug` flag to the `add -n azure-cli-ml` command, this appears to be the main error:
[code]

There are also a bunch of warnings such as this one:
[code]

**Wha

[2021-09-09 08:48] Ashish-Bhau opened #6128 "Car Service"

[2021-09-09 08:49] #6128 closed

[2021-09-09 08:50] halvgaard opened #6129 "Installation instructions on Azure"
/kind bug

**What steps did you take and what happened:**
I'm trying to install KubeFlow on Azure following the steps at https://www.kubeflow.org/docs/distributions/azure/deploy/install-kubeflow/

Step 6 fails when running
kubectl port-forward svc/istio-ingressgateway -n istio-system 8080:80

with the following error:
Unable to listen on port 8080: Listeners failed to create with the following err

[2021-09-09 10:50] #6027 closed

[2021-09-09 17:09] bwassie commented on #6123
This turned out to be an IAP issue. IAP was disabled for `istio-system/istio-ingressgateway` and I had to go to the [IAP settings](https://console.cloud.google.com/security/iap) and enable it.

[2021-09-09 17:09] #6123 closed

[2021-09-10 05:04] thesuperzapper commented on #6110
@Oblynx did you by any chance remove `export USER=${NB_USER}` from [`./s6/services.d/rstudio/run`](https://github.com/kubeflow/kubeflow/blob/master/components/example-notebook-servers/rstudio/s6/services.d/rstudio/run#L1-L3)?

[2021-09-11 06:11] Matts966 opened #6133 "RecurringRun s' pipelineSpec.pipelineId and pipelineSpec.pipelineName are always empty string"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

- RecurringRun s' pipelineSpec.pipelineId and pipelineSpec.pipelineName returned by API are always empty string
- Filtering RecurringRun s by `package_id` always returns empty array

**What did you expect to happen:**

- RecurringRun s' pipelineSpec.pipelineId and pipelineSpec.pipelineN

[2021-09-11 22:20] Nancylsell opened #6134 "Create issue"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- [X] Kubeflow version: (version number can be found at the bottom left corner of the Kubeflow dashboard):
- [X] kfctl versi

[2021-09-11 22:20] #6134 closed

[2021-09-13 11:40] DomFleischmann opened #6136 "Centraldashboard does not find configmap if namespace is not "kubeflow""
/kind bug

**What steps did you take and what happened:**
When deploying the kubeflow centraldashboard in a different namespace than `kubeflow` it is unable to load the `centraldashboard-config` configmap giving the following error:
[code]

This seems to be due to the namespace being hardcoded [here](https://github.com/kubeflow/kubeflow/blob/e6fdf515c09ba1f695d60a87c9c56ba5fb1718e8/components/cent

[2021-09-13 19:54] miutamihai commented on #6016
+1

[2021-09-14 09:43] halvgaard commented on #6129
Apparently the Azure Cloud Shell blocks the 8080 port. Running the commands locally on my laptop worked.

[2021-09-14 09:43] #6129 closed

[2021-09-14 11:35] jai commented on #6037
@jazzsir can you elaborate/explain a bit more on how you fixed the issue? Thanks.

[2021-09-14 17:10] js-ts opened #6140 "Dark mode support for kubeflow"
### Dark mode support for Kubeflow's central dashboard and other apps

I made a [codesandbox](https://codesandbox.io/s/fast-smoke-4vbl6?file=/public/index.html) and used darkmode.js in it, [full page link](https://4vbl6.sse.codesandbox.io/) , and made separate repo of [central dashboard](https://github.com/js-ts/kubeflow-central-dashboard)  for testing purposes , I tried many methods from [html cs

[2021-09-14 18:48] bmccord2 commented on #6098
@DomFleischmann thanks, I might give that a try later, for right now we just switched to k3d for our initial kubeflow environment.

[2021-09-15 06:51] anishjain18 opened #6141 "Error while accessing the notebooks section on kubeflow dashboard"
I am having trouble while trying to access notebooks in kubeflow dashboard.
**kubernetes version:**
microk8s           v1.21.4             2407   1.21/stable      canonical✓  classic
**kubeflow version: v1.3**
I installed it on a local machine Ubuntu 20.04.3 LTS.
Following is the error I am getting while trying to open notebooks section:

{
  "log": "The requested URL was not found on the server.

[2021-09-16 10:54] mdemiy opened #6142 "There is no swagger link for kubeflow APIs in documentation"
This sections https://www.kubeflow.org/docs/components/pipelines/reference/api/kubeflow-pipeline-api-spec/ says:

 This file contains REST API specification for Kubeflow Pipelines. The file is autogenerated from the swagger definition.

What URL should be used to access kubeflow APIs swagger definintions?

[2021-09-16 22:15] ckchow opened #6143 "Can't control what metrics are shown in the experiment view"
When looking at an experiment in /<pipeline>/<namespace>/experiments/details, one can't really choose what metrics are shown or what order they are presented in.

![image](https://user-images.githubusercontent.com/3922740/133692777-83b269b1-7418-44b5-abcd-d01842988be1.png)

[2021-09-17 12:34] OmGraja commented on #6016
+1 too

[2021-09-17 23:38] pbarker opened #6145 "Add Pod Lifecycle to PodDefaults"
I have a use case for configuring networked GPUs in Kubeflow Notebooks in which either an init container or pod lifecycle post-start hook needs to be executed.

Requesting that we add pod lifecycle hooks to the PodDefault CR.

Working PR https://github.com/kubeflow/kubeflow/pull/6132

[2021-09-18 04:40] Windfarer commented on #6008
+1 for this feature

[2021-09-19 05:27] YousefRabi commented on #5722
Getting this error on the kubeflow deployment bash ./pull-upstream step:

fetching package /apps/jupyter/notebook-controller/upstream from https://github.com/kubeflow/manifests to apps/jupyter/notebook-controller/upstream
failed to set "kustomize_manifests_path" automatically in package "apps/jupyter/notebook-controller/upstream" with error: /home/yousofrabi/gcp-blueprints/kubeflow/apps/jupyter/no

[2021-09-20 03:00] ajinkya933 commented on #6028
could you give more details like how did you install, cloud provider?

[2021-09-20 09:16] Priapos1004 commented on #5047
The solution for me was to run the command "aws eks update-kubeconfig --name <clustername>" before deploying the cluster.

[2021-09-20 10:56] atulyadavtech opened #6147 "External DB (AWS RDS) Issue"
/kind bug

**What steps did you take and what happened:**
https://www.kubeflow.org/docs/distributions/aws/aws-e2e/
[A clear and concise description of what the bug is.]
RDS database in the config file

**What did you expect to happen:**
DB Section should present for providing the external DB reference

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving

[2021-09-21 13:47] DomFleischmann commented on #6056
I'm hitting this with the 1.4-rc.1 image, are there any updates on this bug?

In my case, the service and the pod are started correctly, and there seem no resource issues. But the controller is unable to recognize this due to the missing status fields.

[2021-09-21 15:23] Talador12 commented on #155
There is a spark operator in the contributor section of the manifests repo, but this should become more of a common approach
https://github.com/kubeflow/manifests/tree/master/contrib/spark/spark-operator

[2021-09-21 16:59] #6028 closed

[2021-09-21 17:00] nitesh31mishra commented on #6028
Issue is resolved

[2021-09-22 05:15] subhabratabanerjee opened #6149 "kubeflow components version"
how can we get the Kubeflow  individual  components version  (like minio,katib etc) and also requesting to add this info to release document(based on individual release)  if possible.

[2021-09-22 06:05] thesuperzapper commented on #6056
@kimwnasptd @DavidSpek have you seen this before?

[2021-09-22 20:22] Oblynx commented on #6110
No, I didn't remove it. Sorry for the late reply.

[2021-09-22 20:27] zoltan-fedor opened #6150 "Kubeflow install on EKS is no longer possible due to open aws-efs-csi-driver bug"
Due to the following bug of the aws-efs-csi-driver
https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/300

Kubeflow is NO longer compatible with AWS EKS.
This is because Kubeflow requires MySQL (or other) databases, which require persistent storage, which on AWS EKS means the usage of EFS, but the current way to use EFS on EKS is vait the aws-efs-csi-driver, which has the above mentioned

[2021-09-24 03:39] yike5460 opened #6151 "Kubeflow 1.2.0 install failed on AWS EKS cluster (kfctl_aws.v1.2.0.yaml)"
/kind bug

**What steps did you take and what happened:**
Error prompt when I execute "kfctl apply -V -f kfctl_aws.v1.2.0.yaml"
[code]

Snippet of kfctl_aws.v1.2.0.yaml
[code]

EKS cluster working fine
[code]

**What did you expect to happen:**
Kubeflow process can continue without error

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

*

[2021-09-25 19:27] speaknowpotato commented on #4745
hi, is there any update on this issue?

[2021-09-26 05:03] huan11 opened #6152 "Invalid link of kfctl1.3"
https://www.kubeflow.org/docs/distributions/ibm/deploy/deployment-process/#install-kfctl

[2021-09-26 05:38] huan11 opened #6153 "Kfdef of openshift link is invalid"
https://www.kubeflow.org/docs/distributions/openshift/install-kubeflow/#installing-kubeflow

[2021-09-26 16:21] vijay-nag opened #6154 "Readiness probe for central dashboard"
/kind bug
Did a rolling update on Central dashboard, new instance of central dashboard after upgrade did not serve requests for sometime.
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
To test, configured to probe / path of central dashboard,
[code]

[code]
**What did you expect to happen:**
New instance of central dashboard is unable to serve

[2021-09-26 20:29] nitesh31mishra commented on #6031
I have tried the solution mentioned in this https://github.com/canonical/bundle-kubeflow/issues/381  you can try and I don't have the issues now.

[2021-09-26 20:29] nitesh31mishra commented on #6031
I am closing this open issue

[2021-09-26 20:29] #6031 closed

[2021-09-27 02:24] speaknowpotato commented on #4519
same issue. any update on this issue? thanks.

[2021-09-27 06:36] svz77 opened #6156 "When opening a notebook 503 Error and white screen"
/kind bug

When opening a notebook, 503 errors occur. All subferences are launched, there are no errors in the logs. I tried 3 different versions of kubeflow - 1.3, 1.3.1, 1.4rc2.

Help me please. I do not know what to do.

**What did you expect to happen:**

I expected the launch of Jupiter notebook

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving t

[2021-09-27 09:27] svz77 commented on #6156
I also changed the name of the cluster from all pipelines

cluster.local > ml.prod.kube.oxy

[2021-09-27 10:46] renqiang2016 opened #6157 "can not find the minimum-system-requirements"
/kind minimum-system-requirements

**Question: why can not open the https://www.kubeflow.org/docs/distributions/kfctl/overview#minimum-system-requirements.**
[You can ask any question about this project.]

[2021-09-27 11:38] and-1 opened #6158 "Configure resources of pod through tensorboard.kubeflow.org crd"
/kind feature

**Why you need this feature:**
To properly schedule pod in cluster and work with default limit range

**Describe the solution you'd like:**
Add new fields in crd to set resources information like notebook crd

[2021-09-28 09:52] markhulia opened #6159 "PodDefault suport in Kubernetes 1.20"
/kind question

**Question:**
Hi, we're running Kubernetes `1.19` cluster and using `PodDefault` quite a lot. Since `PodPreset` is depricated in k8s `1.20`, does it break the `PodDefault` functionality?

Thanks

[2021-09-29 00:33] vinayan3 opened #6161 "Juypter Notebook Resource UI shows "No Nvidia GPU found installed in the culster""
https://github.com/kubeflow/kubeflow/blob/2ed54bcce7cbc38f0f63bfb32f7f5ef677a58765/components/crud-web-apps/jupyter/backend/apps/common/routes/get.py#L50-L71

[2021-09-29 03:11] persistman opened #6162 "no healthy upstream error when connect to notebook server"
kfctl version: 1.1.0
k8s version: 1.6.9
notebook image: gcr.io/kubeflow-images-public/tensorflow-1.7.0-notebook-cpu:v0.2.1

kubectl describe pod ${POD-NAME} -N ${NAMESPACE}
Events:
  Type     Reason                  Age                    From                     Message
  ----     ------                  ----                   ----                     -------
  Warning  FailedScheduling        40

[2021-09-29 03:24] persistman commented on #6162
![image](https://user-images.githubusercontent.com/22680996/135197315-7b843957-d0f0-4cbb-a320-0dd25d624afc.png)

open the link http://${IP}:8080/notebook/{NAMESPACE}/test-nb-01/   show me:
![image](https://user-images.githubusercontent.com/22680996/135197482-1992b54e-63c6-49f5-b2fc-4b71ff90d9d4.png)

kubectl get pod -n ${NAMESPACE}
![image](https://user-images.githubusercontent.com/22680996/135197

[2021-09-29 04:00] MengYuanTsai commented on #5973
I think the status of the pod should be confirmed first. In charge of this job's (run)  pod  status need to be running, if the pod's status get crash loop back , and you will get this error.

Based on my past experience , my ml-pipeline pod is crashed ,this will cause problems with the Pipeline web interface get the error,and this error is same as you.

[2021-09-29 12:33] ClaudioDavi opened #6163 "Kubeflow Instalation Guide out of date"
/kind question

**Question:**
Is there any updated guide on how to deploy a production ready setup of kubeflow on GCP?
The official docs do not work for the current version of most services it uses, like metacontrollers, kpt and others.

[2021-09-30 15:49] itshevtsov commented on #6151
Hey! I have the same issue with Kubeflow 1.2 and EKS cluster (ver. 1.21)

`INFO[0001] ManagedCluster set defaulting to false        filename="aws/aws.go:624"
INFO[0001] EnableNodeGroupLog set defaulting to false    filename="aws/aws.go:634"
INFO[0001] You already have cluster setup. Skip creating new eks cluster.   filename="aws/eks.go:95"
INFO[0002] Namespace kubeflow already exists...          f

[2021-09-30 17:46] edi-bice-by commented on #5722
@YousefRabi see https://github.com/kubeflow/gcp-blueprints/issues/294#issuecomment-889559605

[2021-09-30 20:05] shannonbradshaw opened #6164 "Instructions for updating the Kubeflow website for a new release are not in the website repo"
Suggest we move these instructions to the website repo and maintain them there:
https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#version-the-website

https://github.com/kubeflow/website/issues/2988

[2021-10-01 01:12] vinayan3 opened #6166 "Profile Controller AWS Plugin Ability to Disable IAM Policy Document Generation"
/kind feature

**Why you need this feature:**
In our cloud environment we use the  IaC, infrastructure as code, tool Terraform to manage IAM roles and the policy documents.  The profiler controller when an Role arn is set does not need to attempt to grant permissions for the role to assume a certain role.

**Describe the solution you'd like:**
The ability to disable updating or removing the IAM po

[2021-10-01 01:15] jbottum commented on #6163
/priority p2  /platform gcp /area installation

[2021-10-01 01:17] jbottum commented on #6164
/priority p1

[2021-10-01 01:19] jbottum commented on #6161
@kubeflow/wg-notebooks-leads priority /p2

[2021-10-01 01:23] jbottum commented on #6161
@vinayan3 I believe there might be a manual / operational working around but will need to check with engineers.    You might have to initial set to a non-zero, then after deployment change to zero ....but not sure on that.

[2021-10-01 02:42] jbottum commented on #6156
@kubeflow/wg-notebooks-leads priority /p2

[2021-10-01 08:44] omerfsen-gsnd commented on #5423
I found the reason for this it is the dummy0 interface somehow overlaps. So I modified it to be on different network (say 20.10.10 instead of default one )

so edit:

[code]

to

[code]

and reboot.

[2021-10-01 09:31] omerfsen-gsnd commented on #5423
Also i have found out that even if you set dns reverse (PTR) query returns you standart domain that is <regio>.compute.internal

[code]

[2021-10-01 09:32] toshi-k commented on #6118
@munagekar I'm working on this issue and let me hear your impression.

I propose to show the message as below when the user accesses the namespaced menu item without namespace selection.
![namespace_menu_item](https://user-images.githubusercontent.com/10993535/135598077-61608937-718f-444a-9002-e346d0b35b9e.png)

I also ensure that "Sorry, [path] is not a valid page" will be shown for the user who

[2021-10-01 13:58] jovan-absci commented on #4549
While not a completely clean solution, I've managed to solve this using [a custom authorization policy](https://istio.io/latest/docs/tasks/security/authorization/authz-custom/), a feature available in Istio 1.9 and onward.
I rewrote the auth provider spec from the EnvoyFilter into an extension provider (as per the article). For dex it would look like:
`extensionProviders:
    - name: "dex-auth-pro

[2021-10-01 14:05] jovan-absci commented on #4549
While not a completely clean solution, I've managed to solve this using [a custom authorization policy](https://istio.io/latest/docs/tasks/security/authorization/authz-custom/), a feature available in Istio 1.9 and onward.
I rewrote the auth provider spec from the EnvoyFilter into an extension provider (as per the article). For dex it would look like:
[code]

You can skip the "Deploy the external

[2021-10-02 17:50] jay-manday commented on #3173
I think that the resistance to helm is a huge bummer, we use helm + kustomize pretty heavily and would love to deploy kubeflow but w/ the lack of a stable chart and many interleaved components caused us to abandon this project for a different path.

Why not helm? Sure It might have some weird spots but it's an incredibly powerful and easy to use tool for automating complex deployments, I think thi

[2021-10-03 09:59] munagekar commented on #6118
@toshi-k This sounds great.

[2021-10-03 13:10] toshi-k commented on #6118
@munagekar OK, I'm gonna make a PR.

[2021-10-04 21:20] kimwnasptd commented on #6161
@vinayan3 we (Arrikto) bumped into this with EKF as well. Back in the day we hadn't considered clusters with autoscaled nodegroups and GPUs, which resulted in the web app to always expect the cluster to have GPUs.

I'll send a PR for making the app allow users to spin up Notebooks even if no GPUs are attached to the, current, cluster nodes. The UI can also have a tooltip on a vendor option and tel

[2021-10-04 21:30] kimwnasptd commented on #6016
Apologies for being completely unsynced but what exactly do you mean by `Experiment` is it the CRD from AutoML?

How did you create this Experiment? How can I reproduce what you saw?

[2021-10-05 02:12] DHolmanCoding commented on #6016
@kimwnasptd The original poster mentions creating an Experiment using the UI within the Kubeflow Central Dashboard. For example you can see the "Experiments" panel in the image below, and this is where they and other with this issue have navigated to create experiments.
![image](https://user-images.githubusercontent.com/35512326/135949462-2f471fea-7f34-4f9d-99bf-9bbfb7bbf9bc.png)

[2021-10-05 10:28] turowicz commented on #3364
@PascalSchroederDE I am having the same issue - did you manage to find a solution?

[2021-10-05 19:48] vinayan3 commented on #6161
@kimwnasptd Thanks for the update!

This is a bit of feature creep.

Is there a way to specify which GPU type? In our EKS cluster we can spin up a variety of instance types like A100, T4, etc... Users would like to pick a A100 GPU type because they are working on a training script that runs much faster on that architecture. Other users maybe doing inference work where a t4 is sufficient.  Finally,

[2021-10-06 13:51] Vikash082 opened #6170 "Kubeflow v1.3 deployment fails on GCP"
I followed the doc here: https://v1-3-branch.kubeflow.org/docs/distributions/gke/deploy/ to install Kubeflow on GCP. The installation stucks at the time of containercluster resources creation and finally getting timeout. Below are the relevant logs.
[code]
The containercluster status:

$ kubectl --context=${MGMT_CONTEXT} -n ${PROJECT_ID} describe containercluster
[code]
Is this the reason of failu

[2021-10-07 18:12] DavidSpek commented on #6150
You don't need EFS for persistence. EKS comes with a default storage class that uses EBS, which will work fine and is also a more logical choice that EFS for databases.
/close

[2021-10-07 19:31] zoltan-fedor commented on #6150
Yes, that is what I ended up using too (RDS instead of on cluster MySQL). :-)

[2021-10-08 03:28] #6153 closed

[2021-10-08 08:54] kimwnasptd opened #6179 "Can't build images for KFAM, PodDefaults and Tensorboards Controller"
/kind bug

**What steps did you take and what happened:**
Tried to build the images for `components/access-management`, `components/admission-webhook`, `tensorboard-controller` but they fail with logs like:
[code]

We bumped into this while preparing for the final release https://github.com/kubeflow/kubeflow/pull/6177

**What did you expect to happen:**
The images to be built as expected.

**Anyth

[2021-10-08 13:02] #6179 closed, assigned to nobody

[2021-10-11 15:26] Leonski13 opened #6182 "Jupyter Notebook doesn't launch when gpus is readonly"
/kind bug

When trying to launch a Notebook with `gpus.readonly: true` in my jupyter notebook configmap (see file below) I get an error message in the web console after clicking the `Launch` Button, nothing else happens:

ERROR TypeError: Cannot read properties of undefined (reading 'num') at eR.getSubmitNotebook (main-es2015.32baaf0c0a902cab356b.js:1)

However everything starts up just fine when

[2021-10-11 18:38] akchinSTC opened #6183 "Unable to deploy KF with dex ldap connector using provided instructions"
/kind bug

**What steps did you take and what happened:**
Attempting to install KF on a 1.20.2 cluster using 1.3.0 release and the instructions here:
https://v0-6.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto/#log-in-with-ldap-active-directory

All steps succeed, all pods are up and running and active directory is properly seeded, but when I attempt to login with ldap, I receive the followi

[2021-10-13 07:02] Zhiyuancheng opened #6185 "How to qucikly Private deployment kubeflow?"
/kind question

**Question:**
How to quicikly Private Deployment Kubeflow?
We need to do private deployment in many time, so how to quickly deployment kubeflow in private cloud or on-bare env？

There will be a lot of network problems in regional or private deployment in China. Does our community have a solution in the future?

Thanks.

[2021-10-14 12:43] Madaditya commented on #5169
restart **profiles-deployment** and you should be good

`kubectl rollout restart deployment profiles-deployment -n kubeflow`

![image](https://user-images.githubusercontent.com/2889089/137319530-8d3192d3-7065-4adc-9ed1-734b3960a14e.png)

[2021-10-14 12:51] sunzhaochang opened #6187 "ResourceQuota still exists after removed from profile"
/kind bug

**What steps did you take and what happened:**

1. Add resourceQuotaSpec for kubeflow-user-example-com profile as follows:
[code]
We can get the kf-resource-quota resource and it works as expected.
[code]

2.  Remove the resourceQuotaSpec for kubeflow-user-example-com profile as follows:
[code]
It can be found that kf-resource-quota has not been deleted.
[code]

**What did you expect to

[2021-10-15 13:28] cupdike opened #6189 "Add Resource Quota to Default Profile"
/kind question

I'm trying to add a Resource Quota to the default profile that is generated when new users log in.  Can someone point me to docs on this or explain how it can be done?

This is related to #5154

Thanks!

[2021-10-18 05:45] mofanke opened #6194 "error comparison between pointer and pointer in "CopyStatefulSetFields""
https://github.com/kubeflow/kubeflow/blob/ea5c89110971c7dc3141cfdc10a479358a3d7b9f/components/common/reconcilehelper/util.go#L123

from.Spec.Replicas  and to.Spec.Replicas are  pointer to int32, so compare between them did not make sense

https://github.com/kubernetes/api/blob/2a5dae08c42b1e8fdc1379432d8898efece65363/apps/v1/types.go#L127

[2021-10-18 07:51] mofanke opened #6196 "why update the notebook instance all the time"
/kind question

**Question:**
[You can ask any question about this project.]
https://github.com/kubeflow/kubeflow/blob/ea5c89110971c7dc3141cfdc10a479358a3d7b9f/components/notebook-controller/controllers/notebook_controller.go#L232-L241

i seems r.Status().Update(ctx, instance) will be called when no new condition added

[2021-10-18 15:03] bwassie opened #6197 "Kubeflow pods do not start due to serviceaccounts not being found"
/kind bug

**What steps did you take and what happened:**
Management and Kubeflow clusters running on GKE 1.21.3-gke.2001 on a private cluster in separate projects. I followed the Kubeflow Deployment steps for GCP and everything seems to have gone successfully (i.e it doesn't error out) but checking the pods, I see that many deployments in the `kubeflow` namespaces have not started any pods due to

[2021-10-18 22:25] shannonbradshaw opened #6199 "Follow up to address outdated instructions removed from releasing.md"
In updating the Kubeflow website for v1.4 and through review of #6198 we encountered outdated instructions that we've decided to remove as part of #6198 from:
https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md

In the subsection copied in below there are several problems with steps 4, 5, and 6. I'm copying the subsection in because it will be removed following #6198. The proble

[2021-10-19 16:46] jyu1982 opened #6201 "how to debug the process"
/kind question

**Question:**
[You can ask any question about this project.]

hi! all, I am new to this project, and I am currently having trouble to run this minikf project, my env is as follow:
hardware:
6 core, 20 gb of memory

Platform: windows 10, virtual box 6.1

right now I have all different issues when I run into project, I don't know where to start, but can somebody give me some ideas?

[2021-10-25 13:10] haoxinst opened #6202 "GCE monitoring cased centraldashboard restart"
/kind bug

**What steps did you take and what happened:**

When I visit the central dashboard, it sometimes cause the page crash.
The central dashboard pod will terminated by the error below:

[code]

**Anything else you would like to add:**

We use Kubeflow 1.4 on GKE

[2021-10-27 07:11] ashissharma97 opened #6205 "Katib and TFJob workers pods are in NotReady state"
Hi,
I have installed Kubeflow from this repository [Kubeflow](https://github.com/kubeflow/manifests). All the components were installed successfully. But when I start Katib Experiment or TFJob all the worker pods are created and it's running for 2-3 minutes after that pod is in NotReady State I can see training logs in the pod.

I am using this example for Katib Experiment
[TFJob](https://www.kube

[2021-10-27 16:54] #6205 closed, assigned to nobody

[2021-10-28 10:23] chandurreddy91 opened #6207 "Getting TLS handshake error in kubeflow cluster."
kfctl version -  kfctl v1.0.1-0-gf3edb9b
eksctl version - 0.70.0
Kubernetes version - 1.19
kubeflow version - 1.0

I installed kubeflow by using eksworkshop.
https://www.eksworkshop.com/advanced/420_kubeflow/install/

But while accessing our own docker images I am getting TLS handshake error.

Logs:

[code]

I created a secret for accessing our docker images.

[2021-10-28 21:41] #6183 closed, assigned to nobody

[2021-10-29 10:46] banderlog opened #6208 "It takes a >35 min to start the kubeflow, because kfp-persistence keeps crashing"
### The problem summary

It takes a >35 min to start the kubeflow, because kfp-persistence keeps crashing.

### Expected behaviour

Stert kubeflow in a *few* minutes

### Problem detailed description

I tried to install kubeflow on Ubuntu 20.04 LTS using the [official documentation](https://www.kubeflow.org/docs/distributions/microk8s/kubeflow-on-microk8s/)

After last command run (`microk8s enabl

[2021-10-29 11:21] banderlog opened #6209 "Change "Email" to "User" field name in dashboard login"
Kubeflow provides username and password, while actual input fields are email and password:

![image](https://user-images.githubusercontent.com/2557965/139426135-2e9a80f4-c16a-4423-82c3-6cf05cf7134c.png)

This is misleading

[2021-10-29 19:24] banderlog commented on #6208
Same for [Deploying Kubeflow Pipelines on a local cluster](https://www.kubeflow.org/docs/components/pipelines/installation/localcluster-deployment/) using `kind`

**Environment:**

- Kubeflow version (version number can be found at the bottom left corner of the Kubeflow dashboard): 1.7.0
- kfctl version: (use `kfctl version`): None
- Kubernetes platform: kind
- Kubernetes version (use `kubectl ver

[2021-10-31 15:39] arianpasquali commented on #6066
I also have the same question. Did you manage to solve this?

[2021-10-31 15:46] arianpasquali commented on #6066
You will probably need to manually setup a nginx proxy redirect.
Related discussion here https://github.com/kubeflow/kubeflow/issues/5078

[2021-11-02 06:49] kosehy commented on #6061
@seoha-kim this seems to be related to [kubeflow/pipelines#4440 (comment)](https://github.com/kubeflow/pipelines/issues/4440#issuecomment-687689294)

[2021-11-02 14:33] chandurreddy91 commented on #6207
@jbottum I created a new kubeflow cluster by using https://github.com/kubeflow/manifests but, When I create a notebook by using our internal docker repo, getting this error
[code]
I created docker secret also.

[2021-11-02 21:11] smsperitus opened #6212 "Kubeflow and Peritus Slack Assistant"
/kind feature

**Why you need this feature:**
Thanks for the opportunity to present and demonstrate Peritus.AI to the [Kubeflow Community on Tuesday, October 26, 2021](https://docs.google.com/document/d/1Wdxt1xedAj7qF_Rjmxy1R0NRdfv7UWs-r2PItewxHpE/edit#bookmark=kix.62nytt47c27m). Pursuant to the recommendation at the meeting, I am opening this GitHub Issue to request the inclusion of the Peritus S

[2021-11-04 08:50] MrPhilosopher commented on #5659
@Luke035 I tried the same setting `enablePodIamPolicy: false ` this does deployed the script but none of my services are in ready state except application-controller-stateful-set.
Did you face such issues ?
![image](https://user-images.githubusercontent.com/25811658/140284695-d058505a-a2c3-499c-9806-e30c75c5c5be.png)

[2021-11-04 10:54] MrPhilosopher commented on #5879
@kawai-kobold I'm facing the same issue and unable to get it up still.
Can you please help.
![image](https://user-images.githubusercontent.com/25811658/140301851-263d40db-1de9-4eb5-b5a9-d50c2469d42c.png)

[2021-11-04 12:12] nanduri1998 commented on #6162
Where are you exactly trying to run this? Is your istio active? Can you please paste a output of all your Kubeflow related pods and what is the version of Kubeflow you are using?

[2021-11-04 12:48] MrPhilosopher opened #6213 "Istio Ingress not showing address (failed to reconcile LB managed SecurityGroup)"
/kind bug

**What steps did you take and what happened:**
I did follow this (https://www.kubeflow.org/docs/distributions/aws/deploy/install-kubeflow/) tutorial to setup kubeflow on AWS

used dex instead of cognito with following policy: https://raw.githubusercontent.com/kubeflow/manifests/v1.2-branch/kfdef/kfctl_aws.v1.2.0.yaml

then at step: `kfctl apply -V -f kfctl_aws.yaml`
first I received thi

[2021-11-04 14:09] seoha-kim commented on #6061
I resolved this problem by upgrading kubeflow to 1.3v

[2021-11-04 14:09] #6061 closed

[2021-11-08 08:23] leeadh commented on #6141
im facing the same issue.

[2021-11-08 17:14] stalamoni commented on #6141
me too. i am having same issue.

[2021-11-08 19:12] stalamoni commented on #6141
Hi, found a solution thanks to this article:
https://github.com/alexanderciuffreda/mlops/issues/4

steps to solve this issues:
microk8s.juju remove-application jupyter-ui
microk8s.juju deploy jupyter-ui
microk8s.juju relate jupyter-ui istio-pilot

[2021-11-09 15:34] cloudbow opened #6214 "[kubeflow notebook images] How do I add a bash script visible from jupyter bash context"
/kind question

I need to inject a custom bash script to inject a bash function which I can ask others to assume a role. How do I make it available in such a way that data engineers does not need to source it inside jupyter notebooks.

**Question:**
[You can ask any question about this project.]

[2021-11-09 16:59] DDFaller opened #6215 "Front-end: permission box to add a new contributor as viewer"
/kind feature

Hi, Im new to the project but has been exploring the use of Kubeflow as a MLOps tool, but a got problem, sharing namespaces can result in a lot problems.

**Feature:**
 I am able to share namespaces in editor or viewer mode by CLI, but i would prefer other method since some users dont know how to do that. It is possible to add a combo box, in **manage contributors** page, just to co

[2021-11-09 17:46] jbottum commented on #6212
@theadactyl I like the optics, benefits and the cost ($0) of this proposal.   I am positive on moving this project forward.   Is this a project that the Steering Committee would need to approve ?

[2021-11-09 23:46] thesuperzapper commented on #6212
@jbottum I believe that @Bobgy or @zijianjoy were planning to discuss this internally with @theadactyl.

[2021-11-10 18:10] theadactyl commented on #6212
This is interesting -- I think the main question I have is how this impacts user data. Does it scrape purely public docs?

[2021-11-10 18:11] theadactyl commented on #6212
A nit here is that this issue belongs in kubeflow/community

[2021-11-11 14:16] d-gol opened #6217 "Show GPU availability on Jupyter web-app"
/kind feature

**Why you need this feature:**

Hello all, thanks for the great work on Kubeflow! An idea about notebook servers.

We run our cluster on-prem, with local GPU nodes. On the notebook creation page, we would like to expose information to users if there are available GPUs. Available meaning the GPUs exist in the cluster, and are currently not used by any pods. With that, users would kno

[2021-11-11 21:04] smsperitus commented on #6212
@theadactyl : apologies for creating the issue in the wrong repo. I did not notice. Please let me know if I can move it.

Regarding the question on public docs, recommendations are from publicly available trusted sources by the community. I listed the ones that I am aware of in the description.

[2021-11-11 21:15] bwassie commented on #6197
This was an issue due to a private cluster firewall rules blocking requests from various services. I was able to solve it by opening up specific ports mentioned in this [article](https://medium.com/dkatalis/installing-kubeflow-1-3-on-an-existing-and-private-gke-cluster-895283d49ed1)

[2021-11-11 21:15] #6197 closed

[2021-11-11 23:31] theadactyl commented on #6212
Primarily wondering where the data is pulled in from (API ? scraping?)

On Thu, Nov 11, 2021 at 1:04 PM smsperitus ***@***.***> wrote:

[2021-11-12 14:02] kimwnasptd commented on #5566
/lifecycle frozen

[2021-11-12 23:00] smsperitus commented on #6212
@theadactyl : we use APIs where available and crawl/scrape only as a fallback.

[2021-11-13 18:55] sonfire86 commented on #6016
+

[2021-11-15 08:48] jw-websensa opened #6219 "Clickhouse client error when connecting from Kubeflow Jupyter Notebook"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I have a k8s cluster with kubeflow deployed and on one of the nodes there is Clickhouse server working inside Docker container (not part of kubernetes)

**What did you expect to happen:**
When trying to connect to Clickhouse server from Kubeflow jupyter notebook, I receive error:
[code]

[2021-11-15 16:58] sfc-gh-adlee opened #6220 "RBAC: access denied"
/kind bug

**What steps did you take and what happened:**
Deployed K3s
multipass launch --name K3s --mem 16G --disk 50G --cpus 4
multipass shell K3s
curl -sfL https://get.k3s.io | INSTALL_K3S_VERSION="v1.20.8+k3s1" INSTALL_K3S_EXEC="server --no-deploy=traefik" K3S_KUBECONFIG_MODE="644" sh -s
kubectl get no
export VERSION=v4.2.0
export BINARY=yq_linux_amd64
wget "https://github.com/mikefarah/yq/rel

[2021-11-15 16:59] sfc-gh-adlee commented on #6220
![image](https://user-images.githubusercontent.com/83939151/141822692-22f3b77d-d013-44cf-98e2-31af3d56a755.png)

[2021-11-16 23:14] vinayan3 opened #6221 "Admission Webhook Service Name is Wrong in MutatingWebhookConfiguration"
In the manifest version 1.3.1 when I render out the kustomize the service name is within the `MutatingWebhookConfiguration` is literally `service`.   This means that Kube is not able to contact the admission webhook to mutate the pod with the defaults.

This is what I have seen rendered out
[code]

The manifest and it's
kustomize.yaml doesn't seem to replace the service name:
https://github.com/ku

[2021-11-17 02:52] vinayan3 commented on #6221
This is a dup of https://github.com/kubeflow/manifests/issues/1894 so I'm gonna close this.

[2021-11-17 02:52] #6221 closed

[2021-11-17 17:01] gcheron commented on #6014
I am also facing same issue. Have you tried the v1.3.1-rc0 release? Does it work?
I was using juju to install Kubeflow bundle, I guess I won't have this fix for the moment...

[2021-11-17 18:11] theadactyl commented on #6212
Got it, we'd have to get this reviewed in that event. Let me get back to
you on this.

On Fri, Nov 12, 2021 at 3:00 PM smsperitus ***@***.***> wrote:

[2021-11-17 18:15] gcheron commented on #6016
I am also facing same issue! Were you able to resolve this?

[2021-11-17 20:28] smsperitus commented on #6212
@theadactyl : Thanks for moving this forward. I want to clarify my previous response. We use APIs for everything. The only place where we crawl is for the product documentation. Hope that helps. If you have any other questions please let me know.

[2021-11-18 12:31] itmwiw opened #6222 "multi-tenancy in openshift 4.6"
/kind question

**Question:**
Hello,
Is there any way to achieve multi-tenancy in openshift distribution?
I'm on openshift 4.6 and I did manage to install kubeflow using the following kfdef: https://raw.githubusercontent.com/opendatahub-io/manifests/v1.3-branch/distributions/kfdef/kfctl_openshift_v1.3.0.yaml. Once installed, there where no authentication mecanism and thus not ideal for production

[2021-11-18 14:38] Mike-no commented on #6016
Same issue from the GUI
Also, the runs of my pipelines don't appear on the Dashboard but I can see the relative pods running on the k8s cluster (microk8s in my case).

[2021-11-18 16:53] dsblank opened #6223 "Setting environment vars for all OPs/tasks in a pipeline?"
/kind question

**Question:**

I'd like to create a set of environment variables for all of the OP's in a pipeline. I can do it as follows, but it would be nice if this were built into the system. Perhaps it is? I've seen `ContainerOp`, but I couldn't figure out how to make it work (and apply to all types of containers). Here is my working example:

[code]

and passed in like:

[code]

It would be

[2021-11-19 08:44] MatthewTafazoli opened #6224 "Feasibility of breaking down code for containerization/running model in parallel"
/kind question

**Question:**
Hello,

Our project team is currently trying to deploy a real time vehicle speed detection model. We were looking at other examples of this, and found documentation showing the implementation of a code for said task. I've linked the repository below:

https://github.com/kraten/vehicle-speed-check

The code from the above project runs fine, and we can detect vehicle sp

[2021-11-22 17:33] dsblank commented on #6223
from this line: https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/dsl/_pipeline_param.py#L156

So I guess it isn't possible via a Pipeline Parameter. Maybe via a ContainerOp ?

[2021-11-23 18:41] vinayan3 commented on #5938
I'm planning to upgrade to istio to 1.11 and I just ran the precheck for 1.10 and didn't see any issues. I ran the check the [release notes](https://istio.io/latest/news/releases/1.10.x/announcing-1.10/upgrade-notes/#inbound-forwarding-configuration) said to verify there would be no issues:
``
$ istioctl experimental precheck --namespace kubeflow
✔ No issues found when checking the cluster. Istio

[2021-11-24 10:22] MeranaTona opened #6226 "ISVC cannot pull image from insecure (http) private docker registry"
/kind bug

**What steps did you take and what happened:**
Tried to pull an image from my insecure (http) private docker registry to create an isvc, but got error "Revision "kfserving-custom-model-new-predictor-default-00001" failed with message: Unable to fetch image "private_registry_url:31724/kfserving-custom-model-new": failed to resolve image to digest: Get "private_registry_url:31724/v2/": ht

[2021-11-25 22:12] vvnpan commented on #5904
@cc-gb2 were you able to figure out how to resolve this issue? I'm facing the same error using chrome and safari on different versions of the Jupyter image (v1.3 and v1.4)

[2021-11-29 01:41] kavanshukla opened #6227 "Terminate multiple runs under an experiment from UI"
/kind feature

**Why you need this feature:**
I'm working on a problem which submits N number of runs under an experiment. When it comes to terminating a run from the UI, the only way to terminate is to select a specific run and then terminate it individually. But if there are let's say 100 runs running simultaneously, and when there is a need to terminate multiple runs at the same time, I can onl

[2021-11-29 03:25] mofanke commented on #6196
condition is only one data in status

[2021-11-29 03:25] #6196 closed

[2021-11-29 05:58] pshegde commented on #6016
+1

[2021-11-29 09:25] azuredevopsguy commented on #6016
I have experienced this issue on AKS 1.21.1 and Juju install Kubeflow 1.3

First work around I found was to use the kfp command line
kfp pipeline upload
kfp run submit
The preinstalled pipelines work successfully, this told me the Kubeflow install is sound and the issue was with something else.

To make the Kubeflow UI work, I tried a lot of things.  I suspected the issue is to do with profiles pe

[2021-11-29 11:04] juliusvonkohout opened #6228 "KFAM is unprotected and any user can manage all profiles / namespaces of other users."
/kind bug

Kubeflow version: 1.4
KFAM is completely unprotected.

Any user can just start a Jupyterlab and add itself to other namespaces , delete profiles / namespaces and create new ones according to https://github.com/kubeflow/kubeflow/tree/master/components/access-management#apis.
Some examples:
`curl -X POST http://profiles-kfam.kubeflow.svc.cluster.local:8081/kfam/v1/profiles -H 'Content-Typ

[2021-11-29 13:22] Barteus commented on #6016
When I have removed kubeflow-pipelines the possibility to create new notebooks was gone because the "Namespace" field was blank. After removing the kubeflow-profiles I have logged out and logged in again in the UI.

[2021-11-29 14:53] MeranaTona opened #6229 "How to pull images from private registry when using TLS"
/kind question

**Question:**
Hi all,

in Kubeflow/KFserving, I do not understand how to pull images from a private Docker registry by using TLS. I do have "tls.crt" and "tls.key" for authentification. Can you please advise me how to adjust Kubeflow/KFserving, so I can pull images from the private registry?

What I tried was to create a tls secret and then reference it in the PredictorSpec:

`kube

[2021-11-29 20:26] bligching512 commented on #6208
Hello There.

I have a similar issue here with MacOS.

kubectl get pods --all-namespaces output
`kube-system          kindnet-vjhq4                                      0/1     CrashLoopBackOff   93         11h`
`kube-system          kube-proxy-z8xjt                                   0/1     CrashLoopBackOff   142        11h`

kubectl -n kube-system logs -f kindnet-vjhq4 output
`I1129 20:11:04.057

[2021-11-30 13:27] smsperitus commented on #6212
@theadactyl : checking if you have any updates. Please let me know if you need anything else from me.

[2021-11-30 13:28] asahnovskiy-deloitte commented on #5123
are any updates? The issue is still in 1.4 version

[2021-11-30 16:38] sofam commented on #3945
Did you find a way to work around this?

[2021-12-01 00:40] jbottum commented on #6229
/area kfserving
/area serving
/priority p2

[2021-12-01 00:42] jbottum commented on #6228
/area jupyter
/priority p1
@kubeflow/wg-notebooks-leads

[2021-12-01 04:56] thesuperzapper commented on #6228
@juliusvonkohout thanks for raising this, but please note that this issue is actually related to how distributions are deploying Kubeflow (and configuring Istio).

The primary reason that most distros have this issue, is because the  [`example` in `kubeflow/manifests`](https://github.com/kubeflow/manifests/tree/master/example) effectively disables all of Istio's security systems.

----

In my mind

[2021-12-01 08:28] haoxins opened #6233 "centraldashboard: We should upgrade the main dependencies"
/kind feature

There are some bugs caused by the outdated dependencies, such as https://github.com/kubeflow/kubeflow/issues/6202
I just advise that we should upgrade the most important dependencies, includes

- [ ] https://github.com/kubeflow/kubeflow/pull/6258
- [x] https://github.com/kubeflow/kubeflow/pull/6210
- [x] https://github.com/kubeflow/kubeflow/pull/6333
- [ ] `Node.js`: from `v12` to `

[2021-12-01 13:30] MeranaTona commented on #6229
I fixed it by configuring Knative, following "Skipping tag resolution" https://github.com/knative/docs/blob/release-0.21/docs/serving/tag-resolution.md

1. kubectl -n knative-serving edit configmap config-deployment
2. Under data: Add " registriesSkippingTagResolving: your-registry-address"

Following the doc for newer versions, it is suggested to configure mounting of certs (https://knative.dev/d

[2021-12-01 13:30] #6229 closed

[2021-12-01 17:32] mohamed-fazil-saleem commented on #5557
can you tell me how to use keyclock instead of dex in an existing kubeflow running on minikube local

[2021-12-01 17:38] sameerbhadouria commented on #3945
I created a custom patch file for the gateway to overwrite the hosts using kpt.
Note, I did this for Kubeflow version 1.1 and I don't know if things have changed in newer versions.

[2021-12-01 20:19] theadactyl commented on #6212
Still looking into this -- will try to follow up next week.

On Tue, Nov 30, 2021 at 5:27 AM smsperitus ***@***.***> wrote:

[2021-12-02 10:48] TDehaene commented on #5989
@nickozilla : we are facing the same issue, what network configuration was giving you troubles?

[2021-12-02 13:57] PrimeF commented on #5604
@shawnzhu Is there any update on your adaptation of the Jupyter extension for kubeflow? Will it be merged anytime soon?

[2021-12-02 22:49] shawnzhu commented on #5604
@PrimeF Going to create a PR soon, not sure about the merge part.

[2021-12-03 01:44] odellus opened #6234 "Issues with PNSExecutor and Argo"
/kind bug

**What steps did you take and what happened:**
I created a small repo with the steps needed to reproduce the issue I am seeing [here](https://github.com/odellus/kubeflow_pipeline_examples). Long story short, I enable kubeflow within microk8s 1.20 and try to follow through the steps outlined in [the documents](https://www.kubeflow.org/docs/components/pipelines/sdk-v2/component-developmen

[2021-12-03 06:47] anishjain18 opened #6235 "500 error when accessing the notebook servers web UI and backend connection error"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
While trying to run a pipeline the dashboard crashes with an error at bottom '500 error'. Also sometimes there is a backend connection error when trying for hp tuning.

**What did you expect to happen:**
The dashboard shouldn't crash everytime I try to run a pipeline.

**Anything else yo

[2021-12-03 07:14] anishjain18 commented on #6102
Hey @Hmr-ramzi have you found any workarounds for this issue?

[2021-12-03 11:10] wxyzyu commented on #5803
Check the name of

Thanks @DavidSpek, but the name of ClusterIssuer in my local cluster is "kubeflow-self-signing-issuer" not "gateways-issuer". Who run into this problem may check it first by "kubectl get ClusterIssuer -n istio-system".

[2021-12-03 11:12] wxyzyu commented on #5803
Thanks @DavidSpek, but the name of ClusterIssuer in my local cluster is "kubeflow-self-signing-issuer" not "gateways-issuer". Who run into this problem may check it first by "kubectl get ClusterIssuer -n istio-system".

[2021-12-03 23:00] jbottum commented on #6235
@anishjain18 thanks for this report.   It appears that you are running MiniKF on a desktop/laptop.   Are you sure your machine has enough resources for the workloads?    Have you tried MiniKF on GCP or AWS with larger machines?

[2021-12-03 23:05] jbottum commented on #6235
/platform minikf
/priority p2

[2021-12-03 23:06] jbottum commented on #6233
/area jupyter
/priority p1

[2021-12-03 23:09] jbottum commented on #6227
/area pipelines
/priority p2

[2021-12-03 23:11] jbottum commented on #6227
@kubeflow/pipelines please evaluate this request.

[2021-12-03 23:15] jbottum commented on #6226
@MeranaTona did you get this resolved ? are you using KFServing or KServe ?

/area serving
/priority p2

[2021-12-03 23:17] jbottum commented on #6208
/area microk8s
/priority p2

@banderlog did you get this resolved?

[2021-12-03 23:18] jbottum commented on #6201
@jyu1982 did you get this resolved?  Have you tried MiniKF on AWS or GCP ?  (troubleshooting/configuration is much easier there).

[2021-12-03 23:19] jbottum commented on #6201
/platform minikf
/priority p2

[2021-12-04 00:36] banderlog commented on #6208
@jbottum  nope, at least on my system, kubeflow start takes >35 min. Not just on microk8s, on kind too.

[2021-12-04 16:14] haoxins opened #6238 "centraldashboard: We should migrate from the Polymer to other frameworks"
/kind feature

The [Polymer](https://github.com/Polymer/polymer) has been deprecated, should we migrate the central dashboard to **Angular** or [Lit: Simple. Fast. Web Components.](https://github.com/lit/lit)

[2021-12-05 03:45] zijianjoy commented on #6227
Hello @kavanshukla , this sounds like a valid request for improving the experience of pipeline runs batch management. Can you create this request under kubeflow/pipelines? https://github.com/kubeflow/pipelines/issues/new/choose

[2021-12-05 14:41] amitnjha commented on #5271
Following these steps worked for me. However I am getting this error now which seems like may be side effect of this change?  I get this error when trying to view experiments or pipeline runs. I can see pipelines without any issue.

<img width="607" alt="Screen Shot 2021-12-05 at 8 40 04 AM" src="https://user-images.githubusercontent.com/1175344/144751253-036de53b-9896-4bfb-9659-b8669bc61fae.png">

[2021-12-06 06:37] anishjain18 commented on #6235
Hi @jbottum, the machine on which Im deploying miniKF is sufficient enough for running miniKF. Can u help regarding this issue Im facing.

[2021-12-06 07:19] zhangnew commented on #5123
I solved this problem by creating `PodDefault`
https://blog.doit-intl.com/how-to-configure-poddefaults-for-kubeflow-notebook-servers-fb9d595fab96

[2021-12-06 15:25] jbottum commented on #6235
@anishjain18 Can you please explain how you found out the K8s version i.e. 1.20.5.   Also, does your machine have 32 GB RAM and what other applications are you running ?   Which operating system are you using (and version).   thanks!

[2021-12-06 19:07] odellus commented on #6234
Seems to be related to this [issue](https://github.com/argoproj/argo-workflows/issues/1256). No idea how to fix this on my own here. Should I ask a question on StackExchange?

[2021-12-06 19:10] odellus commented on #6234
Issue #2347 also seems to be closely related the error I'm seeing and I did no see a fix.

[2021-12-07 06:53] anishjain18 commented on #6235
@jbottum the machine Im using is a high powered machine with 256 gigs of ram running on Ubuntu 20.04 OS. I updated the kubectl version to the current 1.22.4 stable version but the error is still persistent. I deleted some older pipelines to free up the space but that didn't do any good. Can u help to resolve this error.

[2021-12-07 10:42] MeranaTona opened #6240 "Cannot launch example pipelines"
/kind bug

**What steps did you take and what happened:**
Standard OnPrem Kubeflow 1.4 installation, with istio sidecar injection disabled in user namespace.
Create a run :
![grafik](https://user-images.githubusercontent.com/77895655/145012628-09fe4479-876c-4d94-a5c2-6cc17f8445c4.png)

![grafik](https://user-images.githubusercontent.com/77895655/145013087-74e22e63-405c-4d2b-9fa4-aa155346e267.png)

[2021-12-07 11:41] MeranaTona commented on #6240
Solution: Change Argo Workflow Executor to "emissary" (was Docker before), see: https://www.kubeflow.org/docs/components/pipelines/installation/choose-executor/

1. kubectl edit configmap workflow-controller-configmap -n kubeflow
2. Exchange "docker" to "emissary"
containerRuntimeExecutor:
----
emissary
executor:
----

3. Check:
 kubectl describe configmap workflow-controller-configmap -n kubeflow

[2021-12-07 11:41] #6240 closed

[2021-12-08 16:02] shawnzhu commented on #5604
@PrimeF the ☝️ has been merged. the only limitation is it asks for session cookie named `authservice_session` (default name when using the arrikto `authservice` as authentication proxy). Although there is no new release of jupyter extension of vscode since this August, it would be great if you can share how it goes (by running the extension from source).

[2021-12-08 16:35] PrimeF commented on #5604
@shawnzhu Thanks for creating the PR and making this feature possible!
Indeed, I have built the extension from source directly after it has been merged and am using it since then: it works like a charm!

The only thing I am missing now is some sort of syncing possibility between local and remote. Looking around I have seen that this is feature has already been requested (https://github.com/microso

[2021-12-08 16:53] lomori commented on #5345
Oh, sorry @ConverJens ! I haven't been here for a while. Not sure where my test code is anymore. We haven't proceeded further with this feature in our project.