[2018-03-30 14:27] fxue opened #538 "model evaluation"
Filing on behalf of Kai Zhang from Alibaba - @wsxiaozhang
another valuable stage of the workflow is model evaluation. is there initial thoughts on that?

[2018-03-30 14:27] fxue opened #539 "other tf-operators?"
Filing on behalf of Kai Zhang from Alibaba -

will there be more types of tf-operator other than tf-job?

[2018-03-30 16:02] aronchick commented on #537
Absolutely! A lot of thinking here - https://github.com/kubeflow/kubeflow/issues/289

[2018-03-30 16:04] aronchick commented on #535
We've heard both about MPI and Horovod - any chance you'd like to do a proposal?

[2018-03-30 16:10] jlewi commented on #421
Thanks.

@balajismaniam provided me more info

- node-feature-discovery is a daemon set that runs on nodes and labels them
- We can use node-affinity/anti-affinity to do proper scheduling

[2018-03-30 17:13] jlewi commented on #151
@dwhitena and I chatted yesterday.

My suggestion was to have the Pachyderm launch an Argo workflow that would do the following

1. Copy data from Pachyderm datastore to a datastore (e.g. object store) readable by TensorFlow (e.g. GCS/S3)
1. Submit and wait for the TFJob.
1. Copy the output from the object store back to Pachyderm.

We'll experiment with this in the context of our examples; I'll op

[2018-03-30 17:14] BenHall opened #541 "JupyterHub spawner - Highlight PV requirement"
Upon deploying `gcr.io/kubeflow-images-staging/tensorflow-1.6.0-notebook-cpu:v20180327-6bb4058` it looks like it now expects a persistence volume (ReadWriteOnce, 10Gb) to be available.

Without the PV available, the deployment gets marked as depending but the UI just hangs. This forces the user to understand how to debug Kubernetes deployments to identify the issue.

I don't see this requirement m

[2018-03-30 17:53] jdoliner commented on #151
@jlewi That sounds like a good approach to get something up and running now.

Long term it would probably be a lot nicer if we had a way for TensorFlow to pull directly out of Pachyderm. Can Tensorflow pull data from an http endpoint? Pachyderm exposes its whole filesystem over a simple http scheme. If not we may look into writing an adapter for TensorFlow so it can read directly from Pachyderm.

[2018-03-30 18:47] dwhitena commented on #151
@jlewi and @jdoliner, I would also suggesting a slight modification of the above. If we did the following we would have the following data transfer:

(pachyderm bucket) -network-> (other bucket) -network-> (tfjob) -network-> (other bucket) -network-> (pachyderm bucket)

I'm fine with using Argo, but ideally (especially for large data sets) would have the Argo workflow get this data right to the tf

[2018-03-30 19:42] jlewi opened #545 "dev.kubeflow.org 502s"
I'm getting 502s on deve.kubeflow.org

I believe @ankushagarwal just redeployed the latest Kubeflow.

Following [iap.md](https://github.com/kubeflow/kubeflow/blob/master/docs/gke/iap.md)

- Backend is reported as unhealthy
- Health check is reported as "/" not "/healthz"
- IAP is disabled
- Timeout is set to 30 seconds.

My conjecture is when we redeployed all the backend settings got reset and we

[2018-03-30 19:44] jlewi commented on #545
- Used the UI to change the health check to /healthz
- Took some time but eventually health backends reported as working

Now I get

[code]

Because IAP is disabled.

[2018-03-30 19:47] danisla commented on #545
The initContainer on the envoy pods are what re-enable IAP. Deleting the envoy deployment and running ks apply again should reconfigure it.

[2018-03-30 19:48] jlewi commented on #545
@danisla Thanks just figured that out.

It looks like when @ankushagarwal ks apply didn't cause the envoy containers to get restarted.

[2018-03-30 19:51] danisla commented on #545
If the ingress or service spec is what changed, we might be able to add a coupling in the jsonnet spec that rolls the pods whenever the ingress or service changes. This is done in Helm with an [annotation and a checksum](https://github.com/kubernetes/helm/blob/master/docs/charts_tips_and_tricks.md#automatically-roll-deployments-when-configmaps-or-secrets-change).

[2018-03-30 19:53] jlewi commented on #545
Would it make more sense to turn the script into an agent that periodically runs a bunch of checks?

[2018-03-30 19:54] jlewi commented on #545
Its working now that I kicked one of the envoy pods.

[2018-03-30 19:59] jlewi opened #546 "TFJob UI not included in ksonnet configs"
TFJob UI not included in ksonnet configs.

We should fix that and then cherry pick into v0.1 #506

/cc @wbuchwalter @ankushagarwal

[2018-03-30 20:00] danisla commented on #545
If the liveness probe on the pod was somehow coupled to the JWT_AUDIENCE being correct, then k8s would automatically restart the pods when it changed and self-correct.

[2018-03-30 22:47] ojarjur opened #549 "Tensorflow no longer working in the GPU image (if you build from HEAD)"
It looks like tf-nightly-gpu upgraded to rely on CUDA 9.0, but the GPU version of the notebook image is based on an upstream image with CUDA 8.0

This came up in #544, as the step to install the notebook extension winds up importing the tensorflow package, and that import fails when it tries to find libcublas.so.9.0.

I'm testing a change now that will update the base image, and if that works then

[2018-03-30 22:49] ojarjur commented on #549
/assign ojarjur

[2018-03-30 23:30] jlewi commented on #549
Do we know which version of TF the problem started in ?

[2018-03-30 23:35] ankushagarwal commented on #549
We use cuda 8.0 for tf 1.4x.

We use cuda 9.0 for tf 1.5x and higher

https://github.com/kubeflow/kubeflow/blob/master/components/tensorflow-notebook-image/releaser/components/workflows.libsonnet#L135

[2018-03-30 23:43] ojarjur commented on #549
The release may be smart enough to pick the right base image, but the Makefile is hard-coded to use both `tf-nightly-gpu` and `nvidia/cuda:8.0-cudnn6-devel-ubuntu16.04`, which is an invalid combination.

BTW, I think `nvidia/cuda:9.0-cudnn7-devel-ubuntu16.04` may also be problematic. That image only includes light-weight stubs of libcuda that are sufficient for building. For runtime usage, the ful

[2018-03-30 23:44] ojarjur commented on #549
@ankushagarwal @jlewi Do either of you know why we landed on using the "devel" nvidia image as a base instead of the "runtime" one?

[2018-03-30 23:50] ankushagarwal commented on #549
My understanding is that we deprecated the Makefile in favor of the argo [workflow](https://github.com/kubeflow/kubeflow/blob/master/components/tensorflow-notebook-image/releaser/components/workflows.libsonnet) but never deleted the Makefile.

My understanding regarding devel v/s runtime is that [devel is a superset of runtime](https://hub.docker.com/r/nvidia/cuda/)

[code]

[2018-03-30 23:56] ojarjur commented on #549
@ankushagarwal You are right regarding the Docker images; I misread the Dockerfiles and thought devel was based on "base" instead of "runtime". You can safely disregard my concern about that.

If deleting the Makefile is an option, then that would be a sufficient fix for this bug.

[2018-03-31 00:00] jlewi commented on #549
We can delete the Makefile.

[2018-03-31 00:02] jlewi commented on #536
This matches the conventions used in TF.

The meaning of the master/chief (two terms that mean the same thing)  is monitor this process and when it exits infer that the job is done.

So its not clear what the user intent would be of having N masters. So we don't allow it.

[2018-03-31 00:06] jlewi opened #550 "Make IAP config robust to updating the Ingress"
See #545 for examples of how certain changes to the config (e.g. ingress) can cause the loadbalancer to end up in a misconfigured state  e.g.

- Loadbalancer uses the wrong path for the health check
- Timeout on the backend service reverts to the default of 30 seconds
- IAP gets disabled

We'd like to find a way to properly detect this and run the corrective steps.
The script used in the envoy con

[2018-03-31 00:08] jlewi commented on #545
Lets use #550 to figure out a better fix.

[2018-03-31 00:08] #545 closed

[2018-03-31 00:19] #549 closed

[2018-03-31 01:35] #546 closed

[2018-03-31 04:37] danisla commented on #550
Any change in the nodePort for the envoy service triggers re-creation of the backendService and breaks IAP.

#552 is a working fix that uses a sidecar to periodically verify that the nodePort on the envoy service has not changed. If it does change, the script from the initContainer is called again to fix it up. After the script completes, it sends a signal to the envoy admin server to restart it w

[2018-03-31 11:11] bhack commented on #451
Now the we know a little bit more about the TFX release plan and that kubeflow will have other kind frameworks operator (pytorch, mxnet etc.) what is your outlook about TFX/Kubeflow interaction/integration?

[2018-03-31 11:17] bhack commented on #535
It could be nice to have an high level api example. But something need to be fixed in TF upstream.

See https://github.com/uber/horovod/issues/182

[2018-04-01 07:08] pvellanki opened #554 "Issue with jupyterhub image gcr.io/kubeflow-images-staging/tensorflow-notebook-cpu"
Kubeflow is setup on-prem with external nfs server as storage

When Jupyter notebook is started, notebook gets created using the following image gcr.io/kubeflow-images-staging/tensorflow-notebook-cpu but it gets deleted after 30 seconds.  Please see below the status of the POD as images gets pulled, gets created and then deleted in 30s

Any ideas as to how to debug this...

Events:
  Type     Reas

[2018-04-01 22:26] jlewi commented on #151
@jdoliner @dwhitena We have a number of services (TF, KVC) that can talk directly to object store and speak object store APIs. So if Pachyderm can expose data via those APIS (e.g. the GCS or S3 API) then I think that would be a good long term approach.

I think is preferable to make the Pachyderm server speak GCS/S3 because that's a single implementation whereas updating clients to read from Pachy

[2018-04-01 23:01] jlewi commented on #506
We should cherry pick #548 which fixes the TFJob UI ksonnet configs into the component.

[2018-04-02 00:06] jlewi commented on #289
This looks interesting

https://github.com/containerbuilding/cbi

I think it provides a common API with a bunch of different backends.

[2018-04-02 12:15] pdmack commented on #541
Yeah, seeing this with `v0.1.0-rc.1` on notebook spawn:
[code]

[2018-04-02 12:16] pdmack commented on #506
kubeflow/kubeflow#541

[2018-04-02 12:24] jlewi commented on #541
Should we disable the PV by default
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/prototypes/all.jsonnet#L16

Or just document how to disable it?

Is there a way for us to hook into KubeSpawner and detect/surface these errors in a meaningful way?

@inc0 Maybe instead of making the PV a ksonnet option we should make it an option in JupyterHubSpawner? Ideally that option would be di

[2018-04-02 12:32] pdmack commented on #541
@jlewi FYI, I'm currently toying with kubeflow/kubeflow#34 to see if we can do better at UX for:
- PV attachment
- notebook pod spawn issue detection and logging

Currently looking at KubeSpawner and/or maybe something JS-ish.

[2018-04-02 12:46] pdmack commented on #554
`Successfully assigned jupyter-prasad to kubevm2`

Is it possible your vSphere environment doesn't have the necessary resources to run the notebook pod (i.e., CPU, memory)? What cpu_guarantee and mem_guarantee are you requesting for your notebook?

Docker has been a little notorious in the past about swallowing up OOM-type events and messages.

[2018-04-02 13:07] jlewi commented on #541
@pdmack That's fantastic. The pod spawning issuing was the #1 friction point when people we're dogfooding TFMA last week with Kubeflow. So would be great if we could improve it.

[2018-04-02 13:49] jlewi commented on #11
Would HTTP auth behind https be useful for any of the other K8s distributions (e.g. Azure, Openshift, or Canonical)?

Is anyone interested in taking this on?

/cc @wbuchwalter @willb @sfabel

[2018-04-02 15:18] inc0 commented on #541
@jlewi it is done with spawner right now, we just write configs for it.
I can post my rook resources to quickly provision StorageClass that works - for dev/test it should be enough.

UI would be another solution - but if storage class is broken, which usually is an issue, it won't help really. We might just add option to disable PVC out there in the UI, that will make people able to setup things q

[2018-04-02 17:40] cwbeitel commented on #289
As with all of the batch build options (if we're interested in that route instead of building in-notebook) the question I have is about build speed and how builds and pulled images are cached. E.g. when using GCB even using the --cache-from option builds are slow because the cache image needs to be pulled every time.

[2018-04-02 17:58] raddaoui commented on #522
I saw this late. We created already a kubeflow CLI which does almost what @wbuchwalter described.
kf train <job-config>
kf logs <job>
kf monitor <job> (tensorboard)
kf deploy <job>
kf clean <job>
kf help.
Still the deploy and monitor piece are being worked out at the moment but currently It reads code from local file system for training and supports also s3 datasets for now (others are on the way)

[2018-04-02 18:20] inc0 commented on #522
cool stuff @raddaoui . I'm more in favor of having running service exposing API tho, offers more flexibility and extensibility. Is it part of your e2e demo?

[2018-04-02 18:20] cwbeitel commented on #522
Here's an example of what I'm using (from the data scientist user perspective), https://github.com/cwbeitel/examples/blob/enhance/enhance/py/launcher.py, see also these [notebooks](https://github.com/cwbeitel/examples/tree/enhance/enhance/doc) and [tests](https://github.com/cwbeitel/examples/blob/enhance/enhance/py/launcher_test.py) for how this is being used.

Looks like this would fit into the a

[2018-04-02 18:30] jlewi commented on #241
/assign jlewi

List things we want and then assign to David.

[2018-04-02 18:41] jlewi commented on #502
/assign @aronchick

[2018-04-02 18:47] pvellanki commented on #554
Am running on a KVM based VMs. Each VM has 6 vCPUs and 8G. I was giving 2Gi memory and 1 CPU for NB.

What is the best way to debug this. Am building local NB docker (still facing the same issue) to put some debug prints. It looks like the NB server is not available at port 8888 which JH tries to talk to.

[2018-04-02 18:49] jlewi commented on #372
/assign @aronchick

[2018-04-02 18:51] jlewi commented on #351
Lets wait for @mhausenblas to finish Spartakus refactoring.

[2018-04-02 19:20] inc0 commented on #522
I made an attempt :) https://github.com/kubeflow/community/pull/52

[2018-04-02 19:23] lluunn commented on #484
Sample failure: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/543/kubeflow-presubmit/937/

ERROR|2018-03-30T18:47:56|/mnt/test-data-volume/kubeflow-presubmit-tf-serving-image-543-4476009-937-d294/src/kubeflow/testing/py/kubeflow/testing/util.py|266| Timeout waiting for deployment inception-gpu in namespace kubeflow-presubmit-tf-serving-image-543-4476009

[2018-04-02 20:01] danisla commented on #550
https://github.com/ksonnet/ksonnet/issues/200 is related to the issue regarding the nodeport changing whenever `ks apply` is run.

[2018-04-02 20:41] kkasravi commented on #522
@raddaoui and I are from the same company so we'll review our proposals tomorrow and hopefully submit one based on our review

[2018-04-02 20:55] lluunn commented on #484
There is no gpu in the cluster...

[2018-04-02 21:08] bhack commented on #465
An interesting thread started at https://groups.google.com/forum/#!topic/kubernetes-dev/YcjXRDrCdbI

[2018-04-02 21:37] raddaoui commented on #522
@inc0 no this is a separate project we have been working on besides the e2e.
The CLI is written in a very easy way to extend it. you just add a command and a function to handle it in the library. I think kubeflow API is a great idea but I feel like creating a second layer of abstraction would make it difficult to debug issues when they arise and you would still need to develop a CLI for it too.
I

[2018-04-02 22:10] pdmack commented on #554
Can you make sure that image runs standalone in your Docker env?

`docker run -it --rm --user root -e GRANT_SUDO=yes gcr.io/kubeflow-images-staging/tensorflow-notebook-cpu:latest`

If you don't see `The Jupyter Notebook is running at: ...` then the error will hopefully be informative.

[2018-04-02 22:29] lluunn opened #560 "Clusters created during e2e tests should be GC"
kubeflow-ci has many clusters up and we are running out of GPU quotas

[2018-04-02 22:30] jlewi commented on #541
I think the ideal behavior would be to set the default value intelligently based on whether the user has a default storage class

So one way to do this would be to generate the KubeSpawner config dynamically (e.g. in an init container) so that we could run some checks to see if there is a default storage class or not.

[2018-04-02 22:36] jlewi commented on #550
Thanks

/assign @danisla

[2018-04-02 22:40] jlewi opened #561 "Can we put all of /home on PV for Jupyter notebooks"
Right now if a user uses a PV only /home/joyvan/work is put onto the PV.

I think it would be better if all of /home could be on PV.

I believe there was discussion about this in the original PR. I think there were issues with
- Permissions
- Overwriting files examples that we want in /home that should be baked into the container.

I still think it would be good to see if we can find a solution wh

[2018-04-02 22:42] jlewi commented on #560
@lluunn Can you post a list of the clusters e.g. output of gcloud

Here's a list of clusters
[code]

So its our postsubmits and presubmits.

[2018-04-02 22:44] jlewi commented on #560
Looks like the exit handler was accidentally committed disabled.
https://github.com/kubeflow/tf-operator/blob/master/test/workflows/components/workflows.libsonnet#L221

[2018-04-02 22:46] jlewi commented on #560
deleted all the above clusters except kubeflow-testing

[2018-04-02 23:26] lluunn opened #562 "Presubmit failure: No such file or directory XXX/.kube/config"
File "/mnt/test-data-volume/kubeflow-presubmit-tf-serving-image-558-86aca5f-982-d273/src/kubeflow/kubeflow/testing/test_deploy.py", line 80, in create_k8s_client
    util.load_kube_config(persist_config=False)
  File "/mnt/test-data-volume/kubeflow-presubmit-tf-serving-image-558-86aca5f-982-d273/src/kubeflow/testing/py/kubeflow/testing/util.py", line 487, in load_kube_config
    **kwargs)
  File "

[2018-04-02 23:35] inc0 commented on #561
Full /home is a no-no (as there is no jovyan dir there and we'd need to create+chown it, magic, especially that there is no other user present). /home/jovyan - sure. Would allow us to drop one step from building image.

[2018-04-02 23:40] inc0 commented on #541
Shameless plug -  if we do https://github.com/kubeflow/community/pull/52 this then we can drop jupyterhub alltogether (spawn notebooks from API) and put storage which operator is set up with.

Dynamic kubespawner config would be hard to do - dynamic detection of user's storage arch will be tricky.
On the flip side - k8s 1.10 introduced persistent local volume (thanks @elsonrodriguez for pointing t

[2018-04-02 23:44] jlewi opened #563 "Run TFServing tests on minikube"
In kubeflow/testing#6 we added support for running some of our E2E tests on minikube.

But we aren't currently testing TFServing on minikube.

Should we test TFServing as well on minikube?

[2018-04-03 01:21] jlewi commented on #561
/home/jovyan works for me.

[2018-04-03 04:55] nishi-t commented on #337
Hi @jlewi,
I want to try this issue for my first contribution. I write simple codes for this issue and put it [my gist](https://gist.github.com/nishi-t/b9002119de7af7c0d23084878b797624) now.
Where should I put it in the repository for making PR ?

Thnak you,

[2018-04-03 05:13] pvellanki commented on #554
@pdmack - Thanks for the help
Looks like jupyter is exiting with the following

**[I 01:21:23.843 NotebookApp] Writing notebook server cookie secret to /home/jovyan/.local/share/jupyter/runtime/notebook_cookie_secret
[W 01:21:24.528 NotebookApp] WARNING: The notebook server is listening on all IP addresses and not using encryption. This is not recommended.
Illegal instruction (core dumped)**

Test

[2018-04-03 05:33] gaocegege commented on #539
FYI, we will support more frameworks:
- MXNet
- caffe2(WIP) https://github.com/kubeflow/caffe2-operator
- pytorch(WIP) https://github.com/kubeflow/pytorch-operator

[2018-04-03 05:52] #539 closed

[2018-04-03 12:46] jlewi opened #564 "TFJob prototype should contain the full TFJob spec so that ks generate is mostly just copying the prototype"
As with TFServing we should support using service account credentials to authenticate to the datastore.

One way to do this would be to modify the ksonnet components.

But it might also be interesting to look at using [admission controllers](https://kubernetes.io/docs/admin/extensible-admission-controllers/) to modify the manifest.

[2018-04-03 12:59] jlewi commented on #241
/assign @aronchick
/unassign @jlewi

[2018-04-03 13:06] jlewi commented on #34
One idea I had was to generate the jupyterhub_spawner.py file using an init container. This would allow us to be more dynamic; e.g. we could make a K8s API request to see if there is a default storage class defined or not and adjust the config accordingly.

[2018-04-03 13:24] dwhitena commented on #151
@jlewi Regarding the network copy and orthogonality, I totally agree with you. I think this is independent of Argo etc., and, in my mind, utilizes the Argo workflow with a KVC or other volume would be best. Actually, I have a discussion planned with the KVC contributors tomorrow, so I will mention this.

Regarding an S3 compatible API to the Pachyderm file system, I think that an HTTP/REST interfa

[2018-04-03 13:35] pdmack commented on #34
Yeah, I mean the KubeSpawner embeds the python k8s client so I was assuming that we could do some introspection from the hub pod itself. But init container might be worthwhile as a separation of concerns and a place to generally store "outward" facing logic. The hub UI will still need to reflect what comes back to it though.

[2018-04-03 14:12] kinglion811 opened #566 "ks deploy kubeflow not start"
when I deploy kubeflow by ks,when I executive the command of
ks apply default -c kubeflow-core
the return are:
ARNING rewriting "default" environment params to not use relative paths
ERROR find objects: find objects for kubeflow-core in /: RUNTIME ERROR: import not available kubeflow/core/all.libsonnet
	/home/sre/lxh/my-kubeflow/components/kubeflow-core.jsonnet:4:13-49	thunk <all> from <$>
	/home/

[2018-04-03 14:26] pdmack commented on #566
Can you provide `ks version`? 0.9.2 is the latest Ksonnet release. Also, note the Jsonnet version.

That line is (likely):
`std.prune(k.core.v1.list.new(all.parts(updatedParams).all))`
so it's possible it's a problem with that version of the [standard lib](http://jsonnet.org/docs/stdlib.html).

[2018-04-03 15:31] pvellanki commented on #554
Yup.  some of the machines I was testing was westmere based VMs.
Will test with post westmere and also KVM based VMs on skylake and post westmere

[2018-04-03 15:37] inc0 opened #568 "Jupyter images are huge"
And that's an issue for minikube for example. There are all sorts of things we can do to shrink them.
Couple examples:
* make sure all compile artifacts are gone
* cherry-pick required things with multi-stage builds
* change base image to something lightweight

[2018-04-03 16:34] alsrgv commented on #535
We'd love to contribute MPI / Horovod support to Kubeflow.

At Uber, we use scheduler similar to Google Borg to do a gang scheduling of containers.  In those containers, there are two roles - container 0 and other containers.  Container 0 will wait for other container to come online and will execute `mpirun` which runs jobs on the whole job's cluster via `ssh`.  Other containers simply run `sshd`

[2018-04-03 16:38] jlewi opened #569 "IAP should not store client secret in ksonnet"
We currently store the client secret as a ksonnet param
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/iap.libsonnet#L178

This is not good since ksonnet configs get checked into source control.

We should instead use a K8s secret and our ksonnet config should get the secret from the secret.

We should cherry pick this into the 0.1 release (#506). Hence P0.

@ankushagarwal can you

[2018-04-03 16:39] jlewi commented on #569
/assign @ankushagarwal
/label priority/p0

[2018-04-03 16:52] ankushagarwal opened #571 "Explicitly specified version of tensorflow being replaced in the python 2 environment with the latest version from PyPI"
TFMA was added to tensorflow image builder in https://github.com/kubeflow/kubeflow/pull/544

It's probably failing here : https://github.com/ojarjur/kubeflow/blob/1447b637f777b6b270ab47de249d2a841b24340b/components/tensorflow-notebook-image/Dockerfile#L223

We're using nvidia/cuda:8.0-cudnn6-devel-ubuntu16.04 as the base image for tf1.4 GPU image

Here is the error message while building tf1.4 ima

[2018-04-03 17:09] ankushagarwal commented on #569
/assign @danisla

[2018-04-03 17:35] lluunn commented on #562
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/558/kubeflow-presubmit/993/

Another failure
Traceback (most recent call last):
  File "/usr/lib/python2.7/runpy.py", line 174, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "/usr/lib/python2.7/runpy.py", line 72, in _run_code
    exec code in run_globals
  File "/mnt/test-data-volum

[2018-04-03 17:42] inc0 commented on #535
Count me in as well!

I'd say run container with ssh in a pod from image that has your code in it (or mount code otherwise). You could create pubkey configmap and mount it to client containers and have master container mounting secret private key - keypairs could be generated on jobset generation or pre-defined.
You can use statefulset for predictible hosntames of pods (each pod is a resolvable ho

[2018-04-03 17:58] alsrgv commented on #535
Right, these are two important points.

1) We do generate new public/private key for every job and make it available to the containers securely.

2) We do dynamically resolve ips/ports of all the job workers and create `ssh_config` with the mapping of `worker_N` to correct ip/port.

[2018-04-03 18:02] #569 closed

[2018-04-03 18:33] jlewi opened #573 "Need docs for TFJobs UI"
Need docs for TFJobs UI.

At a minimum need to specify what URL to use (at lest until we have central UI).

Looks like we need to use tfjobs/ui/

/cc @wbuchwalter

[2018-04-03 18:39] jlewi opened #574 "TFJobs UI doesn't work behind IAP; React APP needs support IAP?"
TFJobs UI is deployed on dev.kubeflow.org.

The UI shows up behind IAP but its doesn't work
- No TFJobs are listed
- Creating a job via the UI doesn't work.

Looking at the developer console we see requests to

[code]

Which suggests to me the request is hitting the loadbalancer and being directed to do auth verification to sign in and its getting rejected.

So I think one of two things is happeni

[2018-04-03 18:54] jlewi commented on #562
@lluunn Your workflow needs to run one of the steps that get credentials and create a .kube file

For GKE it should be
https://github.com/kubeflow/kubeflow/blob/master/testing/test_deploy.py#L547

For minikube it should be deploy minikube.

Those steps should copy the config to ${TEST_DIR}/.kube/config

[2018-04-03 19:04] inc0 commented on #535
That can be dealt with via DNS and statefulset (which allows predictible hostnames). I suggest something like this:

1. Generate keypair per jobset to limit security exposure. Save private key to secret and pubkey to configmap
2. Create configmap with hostnames that will be used later (let's say trainer)
3. Create statefulset named (for example) trainer-[0-5] where trainer-0 will be our master and

[2018-04-03 20:43] ankushagarwal opened #578 "kubeflow version"
Now that we have started working towards a 0.1 release (#506), it'll be good to publish version information for kubeflow as a configmap on the cluster. This allows us to track which version of kubeflow is deployed on the cluster.

A simple way to do this would be:

`kubectl create configmap kubeflow-version --from-literal=version=0.1.0`

/cc @jlewi

[2018-04-03 20:49] jlewi commented on #105
/assign jlewi
I'm going to take an initial stab at this

Parameterizer looks interesting but I think the experience I want is `kubectl run...`.

If you have to deploy a CRD and then create a manifest for that CRD and then the options in that manifest start to explode, its not clear to me that's a fundamentally different experience from what exists today with ksonnet.

[2018-04-03 21:01] alsrgv commented on #535
@inc0, that sounds great. What changes would need to be done to Kubeflow to make this workflow happen?

[2018-04-03 22:55] #571 closed

[2018-04-03 23:10] pvellanki commented on #554
as @pdmack said, it looks like KVM also has the same issue with this. Tested on plain KVM VM.
In which case, This would be an issue on most on prem environments.

[2018-04-04 02:48] kinglion811 commented on #566
the version is :
ksonnet version: dev-2018-04-03T20:55:40+0800
jsonnet version: v0.10.0
client-go version: 1.8

I go get the source code and make install the ks.
I follow your advice but no effect

[2018-04-04 03:43] pdmack commented on #566
OK, so that's a dev build of ksonnet. I've reproduced your issue but not sure what's up there.

Instead of `go get`,  can you instead please grab [an official release of 0.9.2](https://github.com/ksonnet/ksonnet/releases/tag/v0.9.2) for your platform and retest?

[2018-04-04 03:56] kinglion811 commented on #566
oh pdmack,I change ks to 0.9.2
$ ks version
ksonnet version: 0.9.2
jsonnet version: v0.9.5
client-go version: 1.8
then I follow the step by
https://github.com/kubeflow/kubeflow
when I execute this command：
the error is:

$ ks apply default -c kubeflow-core
ERROR generate objects for namespace : unable to read /home/sre/lxh/my-kubeflow/environments/default/main.jsonnet: /home/sre/lxh/my-kubeflow/en

[2018-04-04 04:07] pdmack commented on #566
Please delete your `my-kubeflow` directory and follow the steps again using the 0.9.2 ks.

[2018-04-04 11:34] jlewi commented on #239
@kkasravi With IAP turned on we don't use JupyterHub for authentication and pass on the IAP auth info to JupyterHub.

But the request to "/user" is still routed via Ambassador [here](https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/iap.libsonnet#L423) to JupyterHub. So aren't we still proxying connections to individual notebooks through the hub?

That's the part I would like to get r

[2018-04-04 11:43] jlewi commented on #541
@inc0 Wouldn't building an APIServer to spawn notebooks just be reimplementing JupyterHub? If we want an API to manage notebooks, shouldn't that ideally be upstreamed into JupyterHub.

My suggestion about kubespawner is that we can issue a K8s API request equivalent to `kubectl get storageclass` to determine if a default storage class is defined. And then configure kubespawner accordingly.

[2018-04-04 11:56] jlewi opened #586 "[GKE] Use Cloud Endpoints to provision domain"
@danisla has pointed out that we can use Cloud Endpoints as a way to automatically generate a domain name that could be used with IAP.

We can do this by using Cloud Endpoints to register a service. This will give a DNS name and associated record for the IP address we specify. The service definition doesn't really matter since we won't actually use Cloud Endpoints for anything other than creating

[2018-04-04 12:36] kkasravi commented on #250
see https://github.com/kubeflow/community/pull/54

[2018-04-04 13:34] jlewi commented on #336
Closing this issue because we added an option #365 to enable/disable it and changed the default to disable it #577

[2018-04-04 13:34] #336 closed

[2018-04-04 14:07] inc0 commented on #541
Well, reason I'm thinking about having API is that we don't really have smooth connection between jupyter, tf-job and other parts of our environment. Having it being viable replacement for JupyterHub is just a side effect, but yes, it could effectively be it (or not, API could start internal jupyterhub instance and use it to spawn new notebooks, I just think it's redundant).

I think if we do this

[2018-04-04 14:50] wbuchwalter commented on #574
@jlewi @ankushagarwal Could one of you grant me access to dev.kubeflow.org so I can test this?
`wbuchwalter at gmail`.
Thanks!

@jlewi This is most likely `2`

[2018-04-05 04:43] bmenn commented on #382
@elsonrodriguez

Would you mind if I extend your work in kubeflow/examples#42 to include an Airflow/Luigi option to provide a little more detail to the discussion here?

[2018-04-05 16:11] inc0 commented on #382
There is also that https://github.com/kubeflow/kubeflow/issues/151

[2018-04-05 17:05] lluunn commented on #562
Thanks Jeremy!

[2018-04-05 17:05] #562 closed

[2018-04-05 17:57] jose5918 opened #592 "[Discussion] Ksonnet prototypes for other operators"
There should be a way for users of other frameworks to use different operators and install them from the main kubeflow repo.

Would this involve adding an operator to kubeflow core or something in the operator's repo?

@ewilderj @jlewi @carmark

[2018-04-05 18:06] jlewi commented on #592
I think we should have a single Kubeflow ksonnet registry; so any new packages should be added inside the kubeflow/kubeflow repository.

There's an open issue #106 to figure out how we should divide things into ksonnet packages.

I suggest defaulting to putting new prototypes in the existing core package. Mainly because this is less work for users because its a single ks command to install that pa

[2018-04-05 21:47] jlewi commented on #592
Don't honestly know. I think we'll have to see how things evolve and figure out what make sense.

[2018-04-05 23:29] jlewi opened #594 "Friction log for TFX Chicago taxi cab example on minikube"
We'd love for some folks to try running the TFX Chicago Taxi Example
https://github.com/tensorflow/model-analysis/tree/master/examples/chicago_taxi

and providing a log of any pain points or problems they encounter trying to run it.

We are especially interested in the experience deploying and running on minikube as that's were folks will start.

The goal would be to start with deploying minikube

[2018-04-06 05:13] jlewi opened #596 "Benchmarking TF and other frameworks"
Benchmarking has come up in a couple contexts so opening up this issue.

At a high level we'd like to do something like the following

- Run a bunch of different configurations (e.g. single GPU, multiple GPU, distributed)
- for different frameworks (e.g. TF, PyTorch)
- And different versions of the framework
- on different problems / datasets

We'd like to run these tests regularly and then dump t

[2018-04-06 05:35] fxue commented on #521
@pdmack any reason I should use the advanced installation instead of the quick installation?

[2018-04-06 06:08] jlewi commented on #382
@bmenn before you integrate Airflow in @elsonrodriguez could you please explain the value you think it adds?

We originally used Airflow in Kubeflow precisely because we thought we'd want to use it for ML pipelines. But operationally I found Airflow to be really difficult compared to Argo.

So in the context of the example I wouldn't want to include Airflow unless it was clearly doing something th

[2018-04-06 06:08] mhausenblas commented on #351
@jlewi from my side this is a little bit of a longer-term process. I've agreed with Tim to put together a planning doc with proposed work areas, see an [early draft here](https://docs.google.com/document/d/1A2LUgimqGjbggw8FVD_pWbTSNajv6DxkBbUNvx3Nx8A/), and to take it from there. This might well take until after KubeCon. Should you consider this a blocker then I'd suggest @chrisheecho just goes ah

[2018-04-06 06:26] jlewi commented on #351
#2 Broadening the resource types seems like the one most relevant to Kubeflow. In particular, it would be very valuable if we could collect metrics about batch jobs (e.g. Argo Workflows, TFJobs) e.g. #of jobs, size of jobs etc...

I don't think this is blocking us though. There's a lot of useful data we could probably mine from the existing data.

[2018-04-06 06:28] jlewi commented on #596
https://github.com/tfboyd/benchmark_harness

[2018-04-06 06:31] ddutta commented on #596
Feedback on requirements solicited (and other discussion/feedback/ideas):

Name: Kubebench? repo name kubeflow/kubebench

Requirements for v0.1:

- Run a kubebench job: A job is a bunch of runs for different configurations (workloads X datasets X frameworks) for a single target tag (e.g. single-GPU). Or a job is a run for several targets X configurations. Qn: should we create config tags so that t

[2018-04-06 06:50] amsaha commented on #596
https://github.com/tfboyd/benchmark_harness needs a basic README so that browsing the code becomes a bit easier.

[2018-04-06 06:56] ddutta commented on #596
@jlewi in addition, there are some other codebases for benchmarking: https://github.com/awslabs/deeplearning-benchmark
https://github.com/hclhkbu/dlbench
And a site/dashboard example: http://dlbench.comp.hkbu.edu.hk

[2018-04-06 07:48] xyhuang commented on #596
a benchmark pipeline can be (1) the same ml jobs deploy-able by kubeflow + (2) config generation + (3) result collection, would it make sense to start with adding jobs of (2) (3) to (1)s? we can take cnn-bench for an example, which is (1) for now but needs (2) and (3).

[2018-04-06 07:55] mhausenblas commented on #351
Thanks @jlewi and can I please ask you to comment on the GDocs :)

[2018-04-06 09:03] DjangoPeng opened #598 "Error occurs when following user guide"
I followed the steps of [deploying kubeflow](https://github.com/kubeflow/kubeflow/blob/master/user_guide.md#deploy-kubeflow) in user guide. But an error occurs and it's obvious that we used an undefined var `env`.  The error log is as below:

[code]

I attached the `kubeflow-core.jsonnet` file.

[code]

@gaocegege @jlewi Do you know what's wrong with this?

[2018-04-06 10:09] bhack commented on #596
https://github.com/u39kun/deep-learning-benchmark

[2018-04-06 10:12] bhack commented on #596
Take a look at http://cknowledge.org/request-cfp-asplos2018.html#program /cc @gfrusin Any plan to extend your [crowd-benchmarking efforts](http://cknowledge.org/ai.html) to K8S?

[2018-04-06 11:37] pdmack commented on #598
In one location, we say "ks env set default --namespace ${NAMESPACE}" (the README).
In the UG, we say "ks env set nocloud". Either way, it seems to be covered.

[2018-04-06 12:11] bhack commented on #596
/cc @psyhtest

[2018-04-06 13:41] jlewi commented on #578
Related to #kubeflow/community#47

We should probably create the configmap as part of our ksonnet config and then we can update the configmap as part of a release.

[2018-04-06 13:47] jlewi commented on #506
Its official v0.1.0
https://github.com/kubeflow/kubeflow/releases/tag/v0.1.0

Will send a PR updating the docs.

[2018-04-06 13:54] jlewi commented on #596
BigQuery would be my default option for the backend. If code uses SQL as the API then it should be able to abstract BigQuery so that any SQL compliant database could be used.

[2018-04-06 14:03] #506 closed

[2018-04-06 16:10] DjangoPeng commented on #598
@jlewi Yep, my ksonnet version is v0.8.0 and jsonnet version is v0.9.5.

Everything goes well after upgrading ksonnet as follows

[code]

I'll open a PR to add it into troubleshooting and leave a note for both user guide and README.

[2018-04-06 16:10] #598 closed

[2018-04-06 16:13] DjangoPeng commented on #598
There is a version requirement in both guide. So I just need to add it into troubleshooting section.

[2018-04-06 16:36] DjangoPeng opened #603 "Add auto-generated TOC for all docs"
I noticed that there is no completed TOC in our docs. It's unfriendly for readers to locate the section which they want.

I'd like to add TOC for all docs by auto-generation tool [doctoc](https://github.com/thlorenz/doctoc), which has been used in many repos.

/assign @DjangoPeng
/cc @jlewi

[2018-04-06 17:56] jlewi commented on #105
I think #595 is a good starting point here are some follow up improvements to the bootstraper in #594

1. Check if the namespace exists and if not create it
1. Check if user is a cluster admin and therefore has permission to create the roles as part of Kubeflow
deployment and if not create a cluster role
  - Basically deal with this [RBAC issue](https://github.com/kubeflow/kubeflow/blob/master/use

[2018-04-06 18:30] danisla opened #606 "ks delete dependencies with CRDs"
When trying to delete the cert-manager component, ksonnet generates an error saying it can't find the issuer resource:

[code]

This is because the `Issuer` CRD gets deleted before the `letsencrypt-prod` resource so the k8s API doesn't even know what an `Issuer` is at that point and generates an error.

Ideally, ksonnet would delete the child resources for CRDs before deleting the actual CRD.

Thi

[2018-04-06 18:42] cfregly opened #607 "Pipeline.AI + Kafka + TensorFlow Integration for Real-Time ML/AI Pipelines in KubeFlow"
@aronchick @jlewi @BrentDorsey @kwmsmith @bhack @schnee

We're contributing the following from our [Pipeline.AI Real-Time AI Platform](https://github.com/PipelineAI/pipeline):

Continuous Model Training
1) Kafka Stream => TensorFlow Training (Estimator API + Dataset API)

Continuous Model Updates in Live Production
2) Kafka Stream => TensorFlow Training => Kubernetes (`kubectl rollout`)

Continuou

[2018-04-06 18:44] cfregly commented on #607
cc @ewencp from confluent

[2018-04-06 21:10] jlewi commented on #607
This is great.

I added some instructions about creating ksonnet packages in #609

[2018-04-06 22:40] Maerville commented on #594
1. if while installing kubeflow person wants to install jupyter hub as well, default 20Gb disk-size is not enough due to large tf image
2. kubectl get svc -n=${NAMESPACE} -- this command show outdated results in tutorial, now it also includes k8s-dashboard and ambassadors
3. ks param set kubeflow-core jupyterNotebookPVCMount **/home/jovyan/work** -- this is also funny

[2018-04-07 01:38] jlewi commented on #521
[code]

This is either an issue with open shift or ksonnet but most likely not Kubeflow.

I think ksonnet tries to download an OpenSwagger spec and uses that to communicate with your K8s cluster. The 404 indicates the ksonnet client is trying to download an OpenSwagger spec for a particular version of OpenShift and not finding that spec in the expected location. So could be

- An issue with ksonne

[2018-04-07 01:47] jlewi commented on #594
@Maerville Thank you very much.

The jupyter notebook is always running as user jovyan which is why you have that path.

[2018-04-07 01:53] jlewi opened #611 "ksonnet packages for Pachyderm"
See #151 for a larger proposal about how Pachyderm might integrate with other Kubeflow components.

This issue is specifically for getting a Kubeflow package for pachyderm (#610)

I started with the [helm chart](https://github.com/kubernetes/charts/tree/master/stable/pachyderm/templates)

But it looks like that is missing a bunch of components e.g.
- storage class
- dashboard

It looks like some o

[2018-04-07 18:52] jlewi commented on #85
Intel just published one.
https://ai.intel.com/lets-flow-within-kubeflow/

[2018-04-07 18:53] jlewi opened #612 "Add Link to Intel's tutorial"
Intel just published a Tutorial
https://ai.intel.com/lets-flow-within-kubeflow/

We should add a link in our Docs to it because its a good guide for people wanting to understand how to use TFJob better.

[2018-04-07 18:54] jlewi commented on #612
/cc @elsonrodriguez @inc0

[2018-04-07 19:04] jlewi commented on #611
So I was able to connect by doing

[code]

Didn't realize the dashboard was part of the enterprise edition.

[2018-04-07 21:53] pdmack commented on #521
Yeah, @jlewi has it right. What's happening by default is that it's interpreting the version based on what it gets from your current context, which is an OpenShift context. Not quite sure exactly _how_ it's getting the OpenSHift version out of that yet but will keep poking.

On the init, you can override the api spec version:
`ks init ${APP_NAME} --api-spec=version:v1.7.0`

[2018-04-07 22:36] pdmack commented on #521
@fxue re: Quick vs. Advanced

Quick can start up an all-in-one as either a VM (`oc cluster up`) for all major platforms or as a set of Linux services (`sudo ./openshift start`). In both those cases, it is a local environment to try out the features. An Advanced install provides the complete spectrum of parameters required by and administrator to deploy an enterprise-class Kubernetes developer plat

[2018-04-08 03:54] fxue opened #615 "ksonnet + openshift unauthorized error when deploying app"
trying to deploy kubeflow ksonnet app on openshift
[code]
[code]

updated the app.yaml file as suggested in #521 to
[code]
now getting Unauthorized error
[code]

cc: @pdmack any setup im missing with OS?

[2018-04-08 04:06] fxue commented on #521
Thanks @jlewi and @pdmack - both solutions work. filed ksonnet issue for folks there to take a look.
Now i'm blocked by #615 an authorization issue.

[2018-04-08 04:09] fxue commented on #615
trying
[code]

[2018-04-08 17:08] pdmack commented on #615
@fxue unfortunately you won't be able to deploy Kubeflow in Online as a developer. It has RBAC enabled and you would need to be "system:admin".

[2018-04-08 19:10] inc0 commented on #612
@raddaoui wanna do the honors?:) Since it's your writing! Alternative would be to modify it to .md and publish as proper part of docs.

[2018-04-08 22:32] willingc commented on #568
Images are large because there are a ton of dependencies and third party libraries beyond Jupyter notebook being added to the container image.

A minimal Jupyter notebook version is available from jupyter/docker-stacks repo.

 Let's amend this issue title to more accurately reflect the actual issue (lots of installed libraries beyond Jupyter). Thanks!

cc/ @jlewi @inc0

[2018-04-08 22:36] willingc commented on #479
@jlewi No firm estimate on JupyterHub 0.9 other than we are actively working on it now.

cc/ @minrk

[2018-04-08 22:41] willingc commented on #423
Looks like you have a Python version mismatch with conda package. Delete the entire conda/Anaconda directory and reinstall.

[2018-04-08 23:46] pdmack commented on #611
Yeah, was wondering that. Seems like just the CLI for the community version.

[2018-04-09 04:50] fxue commented on #615
thanks @pdmack. Indeed, this is the error I am getting.
Since I work at Google cloud so looking for the best way to do a fully managed service or do a GCP deployment. Talking to the partner team on my side Monday on how best to proceed forward.
[code]

[2018-04-09 09:38] gfursin commented on #596
Hi @bhack & @jlewi - we indeed have portable and customizable Collective Knowledge workflows to benchmark and optimize different AI/ML algorithms (inference, object detection) across different frameworks (TF, Caffe, Caffe2, MXNet, CNTK, etc), data sets, models and platforms.

We successfully tested them just a week ago during our first reproducible competition for Pareto-efficient AI (speed, accur

[2018-04-09 10:27] bhack commented on #596
@gfursin Thank you for the update. I think that @cy89 is in the advisory board

[2018-04-09 11:48] ernestmartinez commented on #423
The issue is having conda and pip installed libs for matplotlib, the fix being to pip uninstall matplotlib. Unfortunately I cannot sudo nor become root in order to delete anything as a Jupyterhub user.

[2018-04-09 12:30] willingc commented on #568
Thanks @jlewi

[2018-04-09 12:34] willingc commented on #502
FYI Minikube installs with no difficulty.

Specifying the basic settings for memory and storage in VirtualBox would be helpful. Alternatively, a minimal notebook environment (similar to jupyter/docker-stacks minimal notebook stack) w/o Tensorflow would allow loading even if someone installs with inadequate memory for the larger images.

[2018-04-09 12:42] jlewi opened #618 "Tests are failing"
Post submits show failures deploying Kubeflow on GKE
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-postsubmit

Presubmits having failures with minikube
https://github.com/kubeflow/kubeflow/pull/613

Documentation PR in which minikube failed.

[2018-04-09 12:42] jlewi commented on #618
/assign jlewi

[2018-04-09 12:53] jlewi commented on #618
[code]

[2018-04-09 13:06] jlewi commented on #618
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/613/kubeflow-presubmit/1072/
pod_id = "kubeflow-presubmit-kubeflow-e2e-minikube-613-82d0ce4-1072-42f9-745541553"
The test logs indicate we timed out waiting for the VM to be sshable

[2018-04-09 13:09] jlewi commented on #618
I looked at one of the gcloud insert operations

[code]
The insert is failing because we are out of PD.

It also looks like our minikube test isn't detect that the VM insert failed.

[2018-04-09 13:13] jlewi commented on #618
It looks like we may be leaking the PDs for the minikube test.

[code]

[2018-04-09 13:18] jlewi commented on #618
The test should be configured to autodelete the PD
https://github.com/kubeflow/kubeflow/pull/523/files#diff-2552a6a0cb5a74e3184790464405bedcR404

[2018-04-09 14:39] jlewi opened #619 "Survey of why and how people are using minikube with Kubeflow"
I think it would be worth it to conduct a survey (e.g. using Google Forms) to get some idea of how and why people are using minikube. Here are some initial questions that come to mind.

1. Are you using or plan on using minikube with Kubeflow?
1. Do you have access to a multi-node non minikube Kubernetes Cluster (e.g. an on prem cluster or via a Cloud Provider)?
1. Do you plan on using minikube to

[2018-04-09 15:48] gfursin commented on #596
Yeap, @bhack, Cliff is on our industrial board ...

[2018-04-09 16:27] jlewi commented on #468
Is the HTTP Proxy TF Version specific?

[2018-04-09 16:39] ddutta commented on #596
Thx for the wonderful update.

On Mon, Apr 9, 2018 at 8:49 AM Grigori Fursin <notifications@github.com>
wrote:

--
-Debo~

[2018-04-09 16:55] myqq0000 commented on #554
The same issue in my own server... Follow the latest [user_guide](https://github.com/kubeflow/kubeflow/blob/master/user_guide.md).
I have tried it 5 days ago. Because of the PVC problem can't set up JupyterHub.
And today I found the document is updated. So I tried it again.
But after I clicked the "spawn" button, it not redirected to the Jupyter Notebook interface. Just stay at the dialog screen..

[2018-04-09 17:00] pdmack commented on #554
Please report `kubectl describe pod jupyter-<your hub login name>`.

[2018-04-09 17:05] jlewi commented on #251
@yixinshi How's this going?

[2018-04-09 17:07] jlewi commented on #550
@danisla looks like #552 has been committed. Should we close this issue or is there more work to be done to make it robust?

[2018-04-09 17:08] jlewi commented on #464
@lluunn How's this going? Can you provide an update?

[2018-04-09 17:12] jlewi commented on #241
@aronchick Do you think you will be able to get this done this week?

[2018-04-09 17:18] myqq0000 commented on #554
@pdmack Thank you for your timely reply. Sorry I don't know k8s well... I use this command to get report but it returns
`Error from server (NotFound): pods "jupyter-test" not found`
I think it because the pod be killed after it started few seconds.
I get some information from the namespace events like these:

I just know that the pod is killed.
But I can't find any useful information...
I have tri

[2018-04-09 17:34] bhack commented on #619
It could be interesting to know how they will map dev/prod process when they don't have the same hardware or data resources (minikube vs cloud).
Also minikube is landing in Docker via edge https://medium.com/coryodaniel/newbernetes-getting-started-b1991e42900c

[2018-04-09 18:49] jlewi commented on #464
I think it might be better to collect metrics from Envoy directly in front of TF serving rather than relying on Ambassador for that.

Before going down the route of Ambassador; could we get a PR submitted adding envoy as a sidecar to TFServing?

What else is required to make ISTIO work? How are you deploying the ISTIO components? And what about the Grafana dashboards?

I think it would be great if

[2018-04-09 18:50] pdmack commented on #554
Can you read back to https://github.com/kubeflow/kubeflow/issues/554#issuecomment-378230674 above and confirm that your CPU actually supports AVX?

[2018-04-09 19:00] inc0 commented on #568
@willingc true, issue is on our side rather than jupyter. We create 2 conda envs ~5gig each. I made an attempt to shrink images a bit here #579

[2018-04-09 19:05] lqj679ssn opened #621 "inception server not working"
i follow the step of `Serve a model using TensorFlow Serving` in [user_guide](https://github.com/kubeflow/kubeflow/blob/master/user_guide.md)

`kubectl get svc -n kubeflow inception`

[code]

`kubectl get po -n kubeflow`

[code]

it seems running!

also i did `kubectl describe pod/inception-7bc4df4546-6b4gj -n kubeflow`, and it shows:

[code]

then i use `kubectl get pod/inception-7bc4df4546-6b4gj

[2018-04-09 19:14] lluunn commented on #468
No that should work for all TF versions.

[2018-04-09 19:16] lluunn commented on #484
Some update in #558.
I can't reproduce the error. I add a sleep and verified we can see logs for gpu deployment. I think we can submit #558 and see if error occurs again.

[2018-04-09 20:30] JoeyZwicker commented on #611
The dashboard is part of the enterprise edition, but if you put in your email it'll give you a free 2-week trial token.

[2018-04-09 21:44] jlewi commented on #611
@JoeyZwicker Thanks but I don't have an immediate need to use the dashboard; now that I know its not part of the community edition I removed it from the ksonnet package.

I deployed pachyderm using the CLI configured to use GCS and here is a list of the K8s resources I see created

[code]

[2018-04-09 21:51] jlewi commented on #611
Looks like its using cluster roles where as the helm chart was just using roles.

Here is a list of all the K8s resources created when I deployed via the CLI and configured to use GCS.
[pachyd_resources.txt](https://github.com/kubeflow/kubeflow/files/1892006/pachyd_resources.txt)

[2018-04-09 22:40] jlewi commented on #621
@lluunn

[2018-04-09 22:43] jlewi commented on #621
`192.168.175.202` is an internal network of the cluster.

What is your networking configuration? In general you won't be able to reach the internal pod IPs of your cluster from your local machine.

Are you running python label.py from within your cluster or from your local machine?

[2018-04-09 23:00] jiezhang commented on #535
@jlewi @inc0 @fxue @alsrgv Please take a look at #624

[2018-04-09 23:04] jlewi opened #626 "Socket hang ups with JupyterHub on minikube"
I tried running JupyterHub on minikube and connecting via `kubectl port-forward`. I was able to connect to the UI and get the login screen but after that it just hung. JupyterHub logs showed socket errors

[code]

This only happened when running on my Debian based laptop using no driver with minikube. I tried running minikube on GCE with ubuntu and no driver and it ran fine.

I suspect the issue i

[2018-04-09 23:05] lqj679ssn commented on #621
@jlewi thanks for replying!
I setup kubernetes on ubuntu server (call it 'X') using `kubeadm`. And then setup kubeflow. I think all pods are running on local('X'), i can see them in `docker ps`.

actually for running `jupyterHub`, the podIP is `192.168.175.197` and I can visit it on local('X').

for this one, `192.168.175.202`, i can ping it successfully.

the following is my network configuration

[2018-04-09 23:39] jlewi commented on #621
The error `Unavailable "Connect Failed"` looks to me like a networking issue; i.e. the client can't even connect to the  server.

Do you look at the logs of TFServer, do they indicate any errors?

[2018-04-09 23:45] lqj679ssn commented on #621
@jlewi yeah it shows errors!!!

[code]

[2018-04-10 09:01] myqq0000 commented on #554
@pdmack Emmm... My CPU is i7-5930K. I think it supports AVX and I have checked it.
And I don't use VM (e.g.minikube) to set up kubernetes so maybe don't have this problem.
Emmm... I'm new to k8s so don't know how to get more useful logs or other information.
If you have any more advice please tell me. I will try it as soon as possible.
Thanks a lot!

[2018-04-10 11:14] gfursin commented on #596
You are welcome @ddutta . By the way, looking at kube* projects, I believe CK workflows are complementary, since we are mainly trying to automate installation of various packages and high-level workflows (algorithms, libraries, models, data sets) in a unified, portable and customizable way (i.e. with a common JSON API), since our main goal is not only to benchmark but also to optimize and co-desig

[2018-04-10 11:55] pdmack commented on #554
Can you try https://github.com/kubeflow/kubeflow/issues/554#issuecomment-378062446 with whatever image is failing for you?

[2018-04-10 12:10] pdmack commented on #531
Hey @lluunn, my WIP is here 3892db9c8ad3de6ba5cbe5e694748372d19e5879
Have at it. Where I got a little slowed down was that
S3_USE_HTTPS=0
S3_VERIFY_SSL=0
to disable those per this [doc](https://www.tensorflow.org/deploy/s3).

/assign @lluunn

[2018-04-10 12:39] jlewi commented on #621
Are you running on GCP?
Are you trying to load the model from GCS?

The log messages indicate its trying to get a GCP credential and failing. The first error message indicates there is no private key file and the HTTP errors are most likely trying to contact the metadata server to get a token.

[2018-04-10 13:05] pdmack opened #629 "User guide sprawl"
Wondering if its time to break the UG up a bit. Methinks Troubleshooting alone will continue to grow at a good clip. It's becoming more difficult to narrow in through the wall of words.

[2018-04-10 15:48] cy89 commented on #596
I'm a huge fan of making our benchmarks portable, reproducible, and easy-to-use. @gfursin and @ddutta thanks for engaging on this thread.

[2018-04-10 16:34] jlewi commented on #629
I agree.

We are in the process of setting up an actual documentation repository and website see kubeflow/community#21. The repository will be

https://github.com/kubeflow/website

So I expect that all of the information in user_guide.md will eventually migrate to that site or be deleted.

Here's a working [doc](https://docs.google.com/document/d/1XUGnLVCyqVLN62VWqk-o_FLhRU1L4b7VRcwP8QgFst4/edit#h

[2018-04-10 16:52] jlewi opened #630 "Ingress/Networking for on prem K8s deployments"
In on prem deployments; users may not have a load balancer. Their Kubernetes nodes might be reachable from their corporate network though. So one way to do ingress in this case would be

- Expose the Envoy/Ambassador proxy service via NodePort
- User connects to envoy/Ambassador proxy using node IPs or configures their DNS server to point at those nodes

I think one issue we need to fix is that I

[2018-04-10 17:16] jlewi commented on #134
I suspect this might be causing TFJob test flakes where we see  simple job test occasionally timing out waiting for a TFJob to finish. See for example #602

[2018-04-10 17:16] pdmack commented on #629
Agreed. Is there a plan for what _remains_ on the kubeflow README? Just redirect?

[2018-04-10 17:23] jlewi opened #631 "Some individual tests not showing up in test-grid"
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-presubmit

I only see rows for
- overall
- deploy-kubeflow-teardow
- tf-serving-image-inception-cpu
- tf-serving-image-inception-cpu

So we are missing results corresponding the junit xml files

junit_e2e_gke.xml
junit_kubeflow-deploy-deploy_kubeflow.xml
junit_kubeflow-deploy-deploy_model-inception-cpu.xml

My conjecture is that the filenames

[2018-04-10 17:25] jlewi commented on #631
[README](https://github.com/kubernetes/test-infra/blob/804d3f521f93afcb4cb7af7344e57eac537f88f3/gubernator/README.md#L79) says junit files can be "junit_*.xml"

[2018-04-10 17:28] jlewi commented on #631
@krzyzacy @BenTheElder  Do you know if this WAI?

[2018-04-10 17:36] #629 closed

[2018-04-10 18:35] xyhuang commented on #596
hi @gfursin @cy89 thanks for sharing the great work, wondering if you have a detailed doc regarding the benchmark functionality or APIs? also does your system support cluster setup e.g. distributed training?

[2018-04-10 18:46] lqj679ssn commented on #621
@jlewi yes!

I used the model path from [user_guide.](https://github.com/kubeflow/kubeflow/blob/master/user_guide.md) It's `gs://kubeflow-models/inception`. So could u tell me what should I do?

thanks a lot

[2018-04-10 19:03] aronchick commented on #607
This is great! Can you send a note to the list as well? Really excited!

[2018-04-10 19:04] pdmack opened #632 "Refactor tf-serving image build for multiple TF versions"
Per conversation of #608, it would be nice to consolidate and parameterize the image builds of tf-serving for 1.4.0, 1.4.1, 1.5.0, 1.6.0, etc.

[2018-04-10 19:05] pdmack commented on #632
@jlewi please assign to me for now.

[2018-04-10 19:11] pdmack commented on #632
Duplicate of #468

[2018-04-10 19:11] #632 closed

[2018-04-10 19:12] pdmack commented on #468
Some strategy discussion in #608

[2018-04-10 19:35] ankushagarwal commented on #534
[WIP] List of images to migrate:

* tensorflow notbook images
* tensorflow serving image

[2018-04-10 20:02] lluunn commented on #464
@ddysher I agree that we may not need ambassador after istio integration.
But I don't understand "Equipping only the serving service is not that much useful ".
IMO, istio features such as routing, rollout, metrics, etc all make sense only to serving parts of kubeflow. Is there any use case that you need istio for other kubeflow components?

[2018-04-10 20:05] lluunn commented on #464
@cliveseldon
Yeah I think we want to roll out/roll back, canary, A/B testing for TF Serving, which istio seems to be a natural fit.

[2018-04-10 20:10] jlewi opened #636 "Timeout waiting for simple-tfjob-gke"
Tests are failing with timeouts waiting for Ssimple TFJob.

Example #602

Possibly related: #134 - TFJob controllers not namescoped #631 is also making it difficult to track flakes in test grid.

[2018-04-10 20:15] jlewi commented on #636
We have quota right now but not sure about during the test.

[code]

[2018-04-10 20:26] willingc commented on #626
When running on minikube, what were your settings on memory/cpu for TF in the form UI? If running minikube with virtualbox, what is the minimum memory needed in the VM for the TF image to run? Thanks.

[2018-04-10 20:27] jlewi commented on #636
I'm seeing logs of `Failed create sandbox events` here's another one
This one is from a different PR #635 (based on the namespace) and is also from a different test (TFServing).

[code]

[2018-04-10 20:29] jlewi commented on #636
Googling "Failed create pod sandbox" turns up a bunch of issues. Most of which seem networking related.

[2018-04-10 20:31] aronchick opened #637 "[Feature Request] Require a flag to install/include a package that has not passed tests against the version of Kubeflow you are installing"

[2018-04-10 20:37] jlewi commented on #636
Here are the log entries for failed create pods sandbox from the last 24 hours. [failed_create_pod_sandbox_event_logs.txt](https://github.com/kubeflow/kubeflow/files/1896349/failed_create_pod_sandbox_event_logs.txt)

It looks like this is happening on multiple nodes.

[2018-04-10 20:43] jlewi commented on #636
Only seems to be happening on CPU nodes but that could just be because we aren't running many tests on GPU notes.

I'm going to try upgrading the CPU node pool from 1.9.3-gke.0 to 1.9.6-gke.0. This has the effect of deleting and recreating all the nodes. So if its an issue that can be fixed by restarting nodes hopefully this will fix it.

[2018-04-10 20:48] krzyzacy commented on #631
@jlewi it need to match certain regex, will send to you offline

[2018-04-10 20:55] krzyzacy commented on #631
we probably can lift that restrict for testgrid

[2018-04-10 21:07] jlewi commented on #631
Thanks. I looked at the regex short answer is I think we should just name our files "junit_[^_]*" and it will work.

[2018-04-10 21:10] jlewi commented on #636
Rerunning the tests for #602 now that nodes have been recreated.

[2018-04-10 22:01] jlewi commented on #636
Doesn't seem to have helped.

In the Kubernetes dashboard I also notice some ContainerConfigError's

[code]

[2018-04-10 22:04] jlewi commented on #636
Here's the output of kubectl describe nodes
[nodes.txt](https://github.com/kubeflow/kubeflow/files/1896573/nodes.txt)

[2018-04-10 22:06] jlewi commented on #636
Most recent failure for #602
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/602/kubeflow-presubmit/1126/

Workflows look like they didn't even start.

[2018-04-10 22:09] jlewi commented on #636
When we most recently created the kubeflow-testing cluster we ran into a problem with with not being able to do docker in docker which caused Argo workflows to fail. I wonder if its the same issue?

I think the solution in the earlier case was to pin the version of our master to a version that didn't have the bug in GKE.

/cc @ankushagarwal

[2018-04-10 22:11] jlewi commented on #636
Our GKE master is currently: 1.9.6-gke.0

[2018-04-10 22:15] jlewi commented on #621
I think that model is public but it looks like the GCS libraries in TFServing may not be smart enough to detect that.

My suggestion would be to copy that model to a directory that you can serve from.

You can use the CLI `gsutil`.

[2018-04-10 22:17] jlewi commented on #636
Previous issue was kubernetes/kubernetes#61076

[2018-04-10 22:24] pdmack commented on #626
I could **not** reproduce this on:
[code]

Saw lots of other funky behavior leading me to think NodePort might be the preferred option here as opposed to port-forwarding with minikube.

[2018-04-10 22:27] jlewi commented on #636
I think the `ContainerConfigError` were the result of me upgrading the node pool to 1.9.6 which has the bug agroproj/argo#803. I'm downgrading to 1.9.3.

[2018-04-10 22:35] tremblerz commented on #621
As @jlewi said, Issue is with the debian package which is not able to download the model(although it is publicly available on the google cloud storage). I have verified the issue by downloading and running the debian package directly on the ubuntu machine(without any kubeflow) and it threw the same error. One possible fix could be to download the model explicitly in the dockerfile and then run the

[2018-04-10 22:47] lqj679ssn commented on #621
thanks @jlewi @tremblerz
now i find the problem...

the model is public but if u logout google, you can not download that model
so now i'm going to download it to my mac and transfer the model inside the container

after that i'll see if inception run well

[2018-04-10 23:42] #631 closed

[2018-04-10 23:54] jlewi opened #639 "Use Pachyderm from Jupyter to manage data"
See #151 for some background.

I think a good way to start integrating Kubeflow and Pachyderm would be to to use Pachyderm's data versioning capabilities with JupyterHub/Jupyter. This would make it really easy for datascientists to load datasets into their Jupyter notebooks to play with just by using the patchctl command line tool.

/cc @dwhitena

[2018-04-11 00:14] inc0 commented on #639
I agree, although I think we would need something that would allow also integration with tf-operator etc - to streamline training from these datasets.

[2018-04-11 02:04] jlewi commented on #626
@willingc I think those are the minikube defaults. I think the notebook defaults are in our [spawner file](https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/jupyterhub_spawner.py#L55)

Looks like 500m CPU and 1Gi RAM

[2018-04-11 02:34] jlewi commented on #611
@dwhitena @JoeyZwicker it looks like etcd is running as a statefulset in the GCP case but as a deployment in the non GCP case?

Any reason its not always running as a statefulset?

[2018-04-11 03:01] jlewi commented on #639
I got this working by setting the address environment variable

[code]
I don't have service defined for pachd so I had to use the pod ip rather than a DNS name.

[2018-04-11 05:07] kkasravi commented on #612
I think he's on PTO, I can slack him in intel's slack channel.

[2018-04-11 05:39] jlewi commented on #621
@lluunn We should document this in the user guide.

[2018-04-11 05:45] raddaoui commented on #612
Sure. I am on a PTO tomorrow. I will submit a PR on Thursday.

[2018-04-11 07:02] bhack commented on #596
/cc @tfboyd

[2018-04-11 12:01] jlewi commented on #639
Looks like `pachctl port-forward` won't work if the dashboard isn't running; but it looks like under the hood its just running `kubectl port-forward`.

[2018-04-11 13:10] bmenn commented on #382
@jlewi

I haven't used Argo yet (will be using @elsonrodriguez's example to learn what it can do), but operationally Argo definitely looks easier to get started than Airflow.

My thought of extending @elsonrodriguez's example was just so others can see what a similar workflow would look like using Airflow on Kubeflow. I would be fine creating a separate standalone example as well (potentially borr

[2018-04-11 13:23] leftys opened #640 "How to use kubeflow for training"
Hi all!

we are considering using kubeflow for training inside our Kubernetes cluster, but after reading the docs, I am still confused. Those are the two questions on my mind:

- Is the training run in Jupyter notebooks distributed on previously deployed worker nodes?
- If I want to run training after change of my source code, do I have to rebuild a docker container running the training and deploy

[2018-04-11 13:51] #603 closed

[2018-04-11 16:34] hylick opened #643 "tf-cnn: no matches for kind "TFJob" in version..."
I saw the issue regarding the lowercase "f" in "TfJob," however, I'm seeing the same error after capitalizing to "F" in "TFJob." :

error: unable to recognize "tf_job_cpu.yaml": no matches for kind "TFJob" in version "tensorflow.org/v1alpha1"

What I did: pulled the latest from the github, modified the yaml file to have a capital "F" and then ran
`kubectl create -f tf_job_cpu.yaml`

I believe the

[2018-04-11 17:34] JoeyZwicker commented on #639
Port-forward should work find even without the dashboard. It'll spit out an
error with no dashboard there, but the port-forward to pachd should still
be fine. We'll double check for that for you and make sure there's not a
silly bug there.

On Wed, Apr 11, 2018 at 5:01 AM, Jeremy Lewi <notifications@github.com>
wrote:

[2018-04-11 17:46] aronchick commented on #640
Hi - thanks for your interest!

The flow is:
- Deploy Kubeflow - includes TF job and Jupyter. This runs on your existing Kubernetes cluster. When you're in either, the job will run either single node or distributed depending on what you specify.
- When you're done with your training, TF will output your model and weights to a directory. You'll use that for serving later.
- When you change your sou

[2018-04-11 17:48] aronchick commented on #218
Do we have any updates about running Docker nightly tests? Can anyone from Docker help out?

[2018-04-11 17:52] dwhitena commented on #639
Yeah @jlewi, it should work without the dashboard:

[code]

Alternatively you can use the ADDRESS variable, as you mentioned above.

[2018-04-11 17:58] lluunn opened #644 "Expose istio dashboards"
We are integrated with istio for TF Serving. #464
The dashboards should have proper routing (ambassador) setup so it's accessible through ingress.
Dashboards include Grafana, Prometheus, and maybe service graph.
https://istio.io/docs/tasks/telemetry/

[2018-04-11 19:37] #531 closed

[2018-04-11 20:48] jlewi commented on #639
You are correct.  This was the error I was seeing

[code]
I forgot to specify the namespace which is why no pods were found and I misinterpreted the error.

[2018-04-11 21:26] jlewi commented on #382
Maintaining examples is expensive. So I'd like to minimize redundant solutions.

In this case, its not immediately clear to me what an Airflow + Kubeflow example would be highlighting. I think this is generally useful; but I'm not sure it belongs in Kubeflow at this time.

An Argo workflow is just orchestrating containers. So translating it into Airflow should be straightforward. Especially since

[2018-04-11 22:14] #578 closed

[2018-04-11 22:54] jlewi commented on #643
That file is outdated. The correct version is `apiVersion: kubeflow.org/v1alpha1`

You should generate the job spec using ksonnet as described [here](https://github.com/kubeflow/kubeflow/blob/master/user_guide.md#run-the-tfcnn-example)

[2018-04-11 23:52] #643 closed

[2018-04-12 00:10] jdoliner commented on #611
@jlewi when stateful sets first came out we setup etcd to work with stateful sets but we found that GCP was the only place that really had functioning support for them. I suspect that's improved at this point some but we still do get a number of issues where people deploy stateful sets on AWS and EBS volumes get stuck and things like that. A couple of times we've had to get people to redeploy w/o

[2018-04-12 07:08] ddysher commented on #464
@lluunn  Agreed that the features make sense for serving parts w.r.t kubeflow; but in a larger picture, serving might just be part of an application stack - there can be cache, business logic, data processing, etc.  How to equip those services to unleash the full potential of service mesh is what i was trying to say.

[2018-04-12 09:33] gfursin commented on #596
Thanks @xyhuang and @cy89!

We do not yet have a full/proper documentation of all CK-AI benchmarking functionality and API because we wanted first to check if our customizable benchmarking approach via Collective Knowledge workflow framework will be feasible and supported by the community.
Since we validated our proof-of-concept AI workflows only now and got a positive feedback from different user

[2018-04-12 09:37] gfursin commented on #596
By the way, you can find info about CK concepts and generic APIs here:
* https://github.com/ctuning/ck/wiki
* http://cknowledge.org/ai.html#common-ai-json-api

[2018-04-12 09:39] bhack commented on #596
/cc @vishh @balajismaniam Just to sync the [K8S Machine learning WG](https://github.com/kubernetes/community/tree/master/wg-machine-learning).

[2018-04-12 10:28] bhack commented on #191
Next Rook (0.8) seems oriented to [multistorage refactoring](https://github.com/rook/rook/blob/5c918d57c27d7bf298e7d7386dfa43f038195d8a/design/multiple-storage-types-support.md)

[2018-04-12 11:53] jlewi commented on #464
@ddysher My expectation is that K8s & Istio will eventually have a good story for north-south ( traffic in/out of cluster) as well as east-west (within cluster).

So I think in the near term we can use ISTIO for east-west traffic and continue to use Ambassador and some other improvisation for north south. Our GH issue is a good example because we can use ISTIO in between our Web App and the Seldon

[2018-04-12 12:56] richarddli commented on #464
Currently Istio ingress only does path based routing for HTTP requests. Nothing more, nothing less. Istio (and Kube ingress in general) doesn't provide any sort of auth mechanism. Kubeflow also currently relies on URL rewrite, which is also something not supported in Kube ingress & Istio. There is discussion on the Istio API management group about these kinds of things, but as far as I can tell th

[2018-04-12 13:06] ddysher commented on #464
@jlewi Thanks for the write up. Yes, the whole area is evolving quickly and is becoming more mature.  There are also solutions like linkerd, conduit, and I believe there will be more solutions (we have our own solutions as well).  For kubeflow; however, are we expecting it to handle north-south traffic, do we need JWT validation IN kubeflow?  In a world where everything is pluggable and swappable,

[2018-04-12 14:57] pdmack commented on #554
Weird. Seems happy enough. I'll try here and get back to you.

[2018-04-12 17:57] inc0 commented on #191
FYI I have 2 favorites right now for on prem:
1. Rook (or just on-prem Ceph with proper storage classes) - Rook is still quite young, but ceph is very mature and battle tested. It offers RBD, block storage, for ReadWrite once or ReadOnlyMany and CephFS for ReadWriteMany, but with a bit lower performance and HA capabilities
2. Minio for S3 - While I don't have much experience with it myself, people

[2018-04-12 18:01] bhack commented on #191
Seems that Minio will be also supported by Rook. Check the multistorage proposal.

[2018-04-12 19:22] mattdornfeld opened #651 "Has anyone done any benchmarks on the performance cost to distributed tensorflow caused be networking overheads?"
According to these two papers (http://domino.research.ibm.com/library/cyberdig.nsf/papers/0929052195DD819C85257D2300681E7B/$File/rc25482.pdf, https://arxiv.org/pdf/1711.03386) the only signficant performance cost that comes from using Docker is increased networking latency. Each request seems to have an add overhead of about 100 microseconds. I wonder if this could have any measurable effects on t

[2018-04-12 20:34] inc0 commented on #191
Yeah you're right, well, in any case Minio is easy to handle on it's own, so whether we use Rook over it or not doesn't really matter that much. We can have abstraction layer of StorageClass or ObjectStore (S3 or GS), that's choice that person needs to make, and that can be modeled right now as well, so I think we can leave it out of Kubeflow really.

[2018-04-12 21:19] #535 closed

[2018-04-12 22:03] elsonrodriguez commented on #191
Just a heads up, for Minio I have this pull request as a deployment example for clusters with no storage class: https://github.com/minio/minio/pull/5810

[2018-04-12 22:35] xyhuang commented on #651
Hi, we have tried some simple tests wrt distributed vs local training on docker. To be more specific, we used the cnn-benchmark from tf, and ran some training jobs in the following scenarios in a single workstation, both deployed as docker containers
- local training mode
- distributed training w 1 worker + 1 ps (on the same physical machine)

we did observe that there is significant performance l

[2018-04-12 22:59] Maerville commented on #594
1. Using tf-image version 1.7.0-cpu
2. Opened terminal in Jupyter hub and cloned repository https://github.com/tensorflow/model-analysis
3. Opened chicago_taxi_tfma_local_playground.ipynb
 Visualization: Plots -- kernel died.
At first resources were cpu-1, memory-1Gi. With memory 2Gi, 3Gi kernel died as well. 4Gi finally worked out.
Shutdown the notebook

4. Open terminal. Run steps in "Running th

[2018-04-13 09:57] ogre0403 commented on #640
Hi,

I have the same question. If I already has a training job code, how do I use kubeflow to train my model?
According to [Submitting a TensorFlow training job](https://github.com/kubeflow/kubeflow/blob/master/user_guide.md#submitting-a-tensorflow-training-job), we have to create a docker image, then use the image to run the training job.

If we have to build the new image, how do I create a imag

[2018-04-13 17:53] jlewi commented on #651
/cc @tfboyd

[2018-04-13 18:02] jlewi commented on #640
To create an image you can use whatever tooling you want to build docker images.

Once you have an image and have deployed Kubeflow you can just create a K8s resource for TFJob.

[2018-04-13 18:11] #550 closed

[2018-04-13 18:15] jlewi commented on #484
According to our dashboard the GPU tests seem to be running reliably
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-postsubmit

Closing this issue.

[2018-04-13 18:15] #484 closed

[2018-04-13 20:29] aronchick commented on #241
working on it - next week likely.

[2018-04-13 21:47] jlewi opened #657 "Segfault in bootstrapper while processing .kube"
[code]

/assign @kunmingg

[2018-04-13 22:12] jose5918 opened #658 "Trouble adding a ksonnet package with testing"
How do I add another package to the kubeflow registry with current e2e tests? I am trying to add a package but the e2e tests use kubeflow master to install packages https://github.com/kubeflow/kubeflow/blob/master/testing/test_deploy.py#L121. This means it won't test the package before it is in master already?

What do you guys believe is the proper work around? I don't think you can add a pull re

[2018-04-14 03:26] mattdornfeld commented on #651
@xyhuang To be clear you noticed a slow down in distributed training when compared to local training?

[2018-04-14 09:08] bhack commented on #465
Could be also interesting to see some of its benefits for users in https://github.com/kubeflow/examples

[2018-04-15 20:10] #621 closed

[2018-04-15 20:26] pdmack commented on #658
Maybe related to #637

[2018-04-15 21:49] jlewi commented on #658
Not sure if you saw my answer in slack. The test infrastructure largely handles this as follows

1. The first step in the Argo workflow checks out the source at the commit/pr being tested
1. A subsequent step sets up the ksonnet directory and does `ks registry add`
1. The test then replaces `vendor/kubeflow` with a symlink to the source checked out in step 1 [see here](https://github.com/kubeflow/

[2018-04-15 21:53] jlewi commented on #637
I'm guessing the intent of this issue is that we will have multiple packages in our ksonnet registry at varying degrees of maturity.

If users want to use components in an "alpha" state we shouldn't prevent them from doing so but we should require them to take some explicit action so that they understand they are using alpha features.

I think this is similar to what K8s does. In GKE for example,

[2018-04-15 22:44] pdmack commented on #658
#661 @jlewi PTAL

[2018-04-16 02:29] xyhuang commented on #651
@mattdornfeld yes

[2018-04-16 12:33] jlewi opened #662 "Batch Prediction Beam Library"
We'd like to have a story for batch prediction with beam. We will need a library of DoFns to do inference.

Related to:
   Batch Prediction using GPUs #251

/assign @yixinshi

[2018-04-16 13:05] jlewi commented on #451
TFX currently consists of the following components
- TF Serving
- TF.transform
- TFMA

We already use TFServing and are working on building out the story; e.g. ISTIO integration and model deployment.

TF.Transform and TFMA are baked into our Jupyter notebook images so folks can use them. I can't think of any immediate work on the Kubeflow side other than integrating them into our examples to highl

[2018-04-16 13:09] jlewi commented on #451
An alternative to using an explict graph like Argo to handle train -> deploy would be to do an implicit event driven graph.

- When a training job finishes we could emit an event (could be K8s event) indicating the model is ready and pointing at its location
- A handler (kubeless? or some other lambda framework) could listen for such events and deploy models

TFJob should already emit an event whe

[2018-04-16 13:14] jlewi commented on #464
@ddysher I think for Kubeflow we need to have ingress solutions that we can recommend. That said if users don't want to use those solutions they can customize their deployment. To your earlier point about using ISTIO for the application stack; I believe we are doing that. For example, in our GH Issue Example our application consists of web-app & TFServing and we enable ISTIO on both of those.

The

[2018-04-16 13:27] jlewi opened #663 "Bootstrapper should create namespace if it doesn't exist"
See #105

I think the bootstrapper should check if the namespace exists and if not create it.

I don't think we should make the namespace a component of the ksonnet app. The convention (based on the ksonnet docs) is to treat the namespace external to the app.

I think that makes sense because when deleting a ksonnet app/component I don't think you would want to delete the namespace; that's too dan

[2018-04-16 13:41] jlewi opened #664 "Bootstrapper should check if user has appropriate permissions and if not create cluster role"
See #105 and [RBAC Issue](https://github.com/kubeflow/kubeflow/blob/master/user_guide.md#rbac-clusters)

As part of cluster preparation we should check whether user has necessary permission to create Kubeflow components (e.g. the role bindings) using the [auth](https://kubernetes.io/docs/admin/authorization/) API. If not we should see if we can create a cluster role binding making the user a clust

[2018-04-16 13:50] jlewi opened #665 "Bootstrapper should enable IAP on GKE"
See #105

The bootstrapper should detect if a cluster is GKE and if it is

- Prep the cluster for IAP
- Enable IAP

Prepping the cluster for IAP entails

- Reserving a static IP address
- Creating a service account and secret to be used by components like the Cloud Endpoints CRD

[2018-04-16 13:50] jlewi commented on #665
/assign @kunmingg

[2018-04-16 13:51] jlewi commented on #496
Now that we are using ISTIO what work remains?

[2018-04-16 13:54] jlewi commented on #574
I think @wbuchwalter started looking at this last week.

[2018-04-16 14:03] jlewi opened #666 "Nightly (regular) build of container images"
We are adding more and more Docker images (e.g. PyTorch, Central UI, katib etc...).

We need a way to regularly rebuild and push the latest images to a public repository e.g. gcr.io/kubeflow-images-staging or gcr.io/kubeflow-ci

Currently this is all done manually.

Our [release process](https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md) consists of a bunch of Argo workflows.

[2018-04-16 16:37] jose5918 commented on #658
@jlewi But doesn't it fail on step 2 before you get the updated code? That's what I have been observing. I could do something like @pdmack described above, but the moment we update the code it would run the tests again and fail I think.

[2018-04-16 17:11] jlewi commented on #658
Why would the ks registry add step fail if you are pointing at the master branch? What command are you running and what failure are you observing?

[2018-04-16 17:32] jose5918 commented on #658
This is the error I am getting: `subprocess.CalledProcessError: Command 'cmd: ks pkg install kubeflow/pytorch-job exited with code 1' returned non-zero exit status 1`

For this commit https://github.com/kubeflow/kubeflow/pull/649/commits/91add7acf249c3e280dafd20ef89c2b3578ccbfe#diff-2552a6a0cb5a74e3184790464405bedcR126

Basically it fails because the package is not in master yet

[2018-04-16 17:55] lluunn commented on #496
- The label in the graph needs to be figured out. The source might not be in the istio service mesh, so the label shows as known. related to https://github.com/kubeflow/examples/issues/79
- expose dashboard, https://github.com/kubeflow/kubeflow/issues/644
- For system metrics, we already have cpu/mem, and gpu will come soon. I don't think there is immediate AI on our side.
- documentation on how t

[2018-04-16 17:57] yixinshi commented on #251
I think I will start with a container image of Tf-serving as the base image for batch prediction. Then optimize it to use TensorFlow RT and/or GRE.

[2018-04-16 20:02] jlewi commented on #658
The problem is the current version of the script calls [ks pkg install](https://github.com/kubeflow/kubeflow/blob/master/testing/test_deploy.py#L125) before changing the symlink. So I think you need to change the code so we replace the vendor directory before you do ks package install.

[2018-04-16 20:07] jlewi opened #667 "Document Red/Green Model Rollout using ISTIO"
What's are story for rolling out new models?

At a high level I think we want to do something like the following

1. Rollout a new model e.g.

-  Bring up a new set of servers for the new model or
-  Load the new model into existing servers (assuming server can serve multiple models)

1. Split traffic between old & new model

1. Collect metrics to decide whether new model is doing better than the

[2018-04-16 20:34] jose5918 commented on #658
Ok I'll try that, but the registry will still be pointing to master right? So it should still fail regardless of order?

[2018-04-16 20:43] jlewi commented on #658
After we do replace the directory in vendor it will have all the packages in vendor and it won't talk to the repo anymore.

[2018-04-16 21:00] jose5918 commented on #658
I just tested locally and noticed that calling `ks pkg install` afterwards changes the code we are testing back to master instead of the new code. Probably because `app.yaml` is empty so it's not aware of the code that gets replaced in vendor.  We could fill out `app.yaml` without calling `pkg install` like I did to manually test pytorch. Does that seem like viable solution?

[2018-04-16 21:16] jlewi commented on #658
I think you're right; about ks pkg install which is probably why we were doing it before the symlink because we needed it to modify app.yaml.

So I think you're right the correct thing would probably be to modify app.yaml.

ksonnet is adding support for using local repositories ksonnet/ksonnet#232 which will be in 0.10. That's a better long term solution; but I don't know that we want to start usi

[2018-04-16 21:25] jose5918 commented on #658
Ok, I think I will just try modifying app.yaml. I have a feeling trying to use 0.10 could become involved and I don't think the resulting functionality will be much different even if we start using 0.10 later.

[2018-04-16 21:25] jlewi commented on #534
Is kubeflow-images a google.com or kubeflow.org project. We wanted to create the project within the kubeflow.org domain.

There's no way to move a project once its created. So if you created project kubeflow-images in google.com/ we will need to pick a different project and name.

[2018-04-16 21:26] jlewi commented on #527
See #666 for setup of nightly release process for our container images.

[2018-04-16 21:27] jose5918 commented on #666
@jlewi what do you think about just doing this as part of the postsubmit process? Just check that the `JOB_TYPE=postsubmit` and release the `latest` image then to avoid having a cron job.

[2018-04-16 21:29] ankushagarwal commented on #534
I did not create kubeflow-images GCP project (and I currently don't have
access to it either). I assumed that it was something which already existed
within kubeflow.org domain.

On Mon, Apr 16, 2018 at 2:25 PM, Jeremy Lewi <notifications@github.com>
wrote:

--
Ankush Agarwal

Software Engineer, Cloud ML

[2018-04-16 21:33] ddutta commented on #667
Some of this could be done with istio.io  - maybe we can have a tighter
integration. In fact Kubeflow can be seen as a layer on top of a service
mesh. That way we dont replicate the layer?

On Mon, Apr 16, 2018 at 1:07 PM, Jeremy Lewi <notifications@github.com>
wrote:

--
-Debo~

[2018-04-16 21:37] ankushagarwal opened #668 "Cannot install pip packages from jupyter notebook"
Running `pip install package` from the notebook will fail because jovyan user doesn't have permissions to write to the conda environment directories. This creates a lot of friction in getting started with kubeflow if your package is not already bundled into the image by default.

[2018-04-16 22:31] pdmack commented on #658
Yeah, _really_ would like the local filesystem stuff working in ksonnet 0.1x

[2018-04-16 22:45] kunmingg commented on #657
@jlewi cannot recreate from my side, any special formatting for ```/home/jlewi/.kube/config```?

[2018-04-16 22:51] jlewi opened #669 "Create individual prototypes for just TFJob"
We should consider creating a prototype for people who just want the TFJob controller.

This is trivial to do.

[2018-04-17 00:01] jlewi commented on #534
I didn't realize gcr.io/kubeflow-images already exists.
https://pantheon.corp.google.com/gcr/images/kubeflow-images/GLOBAL
Doesn't appear to be a project I have access to. So its definitely not in kubeflow.org and also not kubeflow.io.

I suspect the project may have been created by @puneith since the only docker image is zill_xgb.

I created the project
org: kubeflow.org
project: kubeflow-images-

[2018-04-17 01:32] jlewi commented on #527
At a minimum we need an Argo workflow to build the docker image. Then we can just trigger that Argo workflow like our workflows.

[2018-04-17 05:53] #586 closed

[2018-04-17 10:02] myqq0000 commented on #554
@pdmack Sorry I am new to technology of container... 😅
I can visit the jupyter notebook with your advice.
But the kubeflow can't set up jupyter don't solve.
Thank you all the way~

[2018-04-17 14:05] myqq0000 opened #672 "Can not bring up Jupyter Notebook"
Hi there.
I meet a question as mentioned in this question #554.

I follow the latest [user_guide](https://github.com/kubeflow/kubeflow/blob/master/user_guide.md#bringing-up-a-jupyter-notebook) to set up kubeflow in my own local server (Not on cloud or VM).
I have tried it a half of month ago. Because of the PVC problem can't set up JupyterHub.

And a few days before I found the document is updated

[2018-04-17 17:26] swiftdiaries commented on #527
I'm working on creating a workflow. Will add a PR as soon as it's done.

[2018-04-17 17:55] jlewi commented on #666
So triggering it based on postsubmits is ideal. Here's the challenge. We don't want uncommitted code to be able to write our release artifacts (including nightly builds).

Our test infrastructure runs "minimally vetted code" in the sense that any PR labeled /ok-to-test will run the code. I don't want unmerged code to be able to write/modify our release artifacts..

Also the way we currently use Pr

[2018-04-17 17:58] jlewi commented on #666
This project looks promising as a way of building container images in cluster
https://github.com/GoogleContainerTools/kaniko

[2018-04-17 17:58] jlewi commented on #527
Thanks
BTW This project looks promising as a way of building Docker images in cluster
https://github.com/GoogleContainerTools/kaniko

[2018-04-17 18:04] TheJaySmith commented on #187
Just curious, have we come up with a final logo?

[2018-04-17 18:05] jose5918 commented on #666
Post submits don't run until code is commited already correct? And I meant it in that we can release to the staging area during post submit and manually release official images.

[2018-04-17 18:06] ewilderj commented on #187
We have contracted a designer to come up with some treatments based on the most popular logos here, and then will present those to the community.

[2018-04-17 18:06] jlewi commented on #289
This project looks promising
https://github.com/GoogleContainerTools/kaniko

[2018-04-17 18:25] pdmack commented on #672
Could you **attach** relevant segments of your docker daemon log where the kill appears to be happening please?

[2018-04-17 18:43] swiftdiaries commented on #527
I did get come across that. It seemed super interesting but there were concerns about safety because it runs as root without seccomp.

[2018-04-17 18:44] Maerville commented on #594
Performed same test on Kubeadm (1 machine, provided 4 CPU and 16Gi to Jupyter hub).
Everything works successfully (but also had to change python link)

[2018-04-17 19:27] Maerville commented on #322
Hi I would like to work on that issue, although I have few questions to ask.

So, basically, now I see 3 patterns of assigning value to the pareameters:

default value:
`// @optionalParam tfJobImage string gcr.io/tf-on-k8s-dogfood/tf_operator:v20180117-04425d9-dirty-e3b0c44 The image for the TfJob controller.`

assign while creating parameter:
`local tfJobImage = import "param://tfJobImage";`

and

[2018-04-17 21:18] s1113950 opened #674 "Unable to get kubeflow working on hyperkube in a circleci vm"
Status of pods:

[code]

Error in the tf-job-operator docker container:

[code]

So I went to check out what's going on with serviceaccount tokens:

[code]
And they are all there, so I `describe`d the tf-operator:

[code]
It is supposedly being mounted there.

Events from the tf-operator:
[code]

I checked what was in ` /var/run/secrets/kubernetes.io/serviceaccount` and there's nothing there, whic

[2018-04-17 21:23] ankushagarwal opened #675 "tensor2tensor async training does not work"
I was able to do distributed training locally using multiple processes. When I tried to do distributed training on Kubeflow, the workers are stuck at "Waiting for model to be ready" and they time out.

When I use a master container, things seem to be working fine and I am able to scale training ~ linearly with more workers.

I am running three containers in k8s: 2 workers and 1 ps.

They are runni

[2018-04-17 21:24] s1113950 commented on #674
Found related issue? https://github.com/kubernetes/kubernetes/issues/26943

[2018-04-17 22:12] s1113950 commented on #674
Got kubeflow to run with https://stackoverflow.com/q/35276874/7111774 :D ambassador has restarted itself a few times but the operator is running now

[2018-04-17 22:13] #674 closed

[2018-04-17 23:05] lluunn commented on #644
I am having problem exposing grafana through our ingress + ambassador.

After added the annotation, the routing seems to work, but I can only see:
{{alert.title}}

![screenshot from 2018-04-17 15-58-28](https://user-images.githubusercontent.com/32310205/38903112-45814be6-4258-11e8-8d7b-910e42de3b68.png)

If I add path /dashboard/db/istio-dashboard, it will get redirected to
https://dev.kubeflow.or

[2018-04-17 23:28] jose5918 commented on #179
/assign

[2018-04-18 00:13] lluunn commented on #337
Since it's for testing, I think it should go to kubeflow/testing.
@nishi-t do you want to send a PR?

[2018-04-18 00:53] #435 closed

[2018-04-18 00:53] rsepassi commented on #675
There is no need to set —job-dir
And don’t you want your output directory to be on gcs, not local to a
throwaway machine?

So to clarify, you got things working, correct?

On Tue, Apr 17, 2018 at 2:24 PM Ankush Agarwal <notifications@github.com>
wrote:

[2018-04-18 01:04] lluunn commented on #667
How about just use istio?

Currently when we deploy a TF Serving component, we deploy a service and a deployment, both with name X.

We can
- Add an additional param to the deployment, version (default to v1).
- When deploying a model, we create a service X and a deployment X-version.
  - In addition, label the deployment with the version. This is for istio routing, see [doc](https://istio.io/docs

[2018-04-18 05:49] jlewi commented on #337
@lluunn Won't it be easier to keep the model in the same repository as the rest of the TFServing code? This way you make changes to the code and the test in the same PR?

[2018-04-18 05:58] jlewi commented on #644
So ingress should be preferred over type LB.

We need a way to secure the dashboards. So at a minimum it needs to be an ingress with IAP turned on.

What happens if you connect over `kubectl port-forward`?

This is most likely an issue with Grafana not being to work behind a reverse proxy because it can't properly tell that its URL is not rooted at https://dev.kubeflow.org so it ends up computing

[2018-04-18 06:03] jlewi commented on #322
Fantastic.

The first and third options that you mentioned.

Basically our release process is defined [here](https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#updating-the-ksonnet-configs-for-master). As the instructions note, after we build a bunch of images we need to update the ksonnet configs as part of a release. We'd like a script to do this so we can automate it.

[2018-04-18 06:04] jlewi commented on #594
Fantastic thank you.

[2018-04-18 06:12] jlewi commented on #666
That's correct. But our post submit tests are running using the same credentials as our presubmits. So in the current setup we can't give access to the staging repository for our postsubmits without also granting that permission to code running in presubmits. At that point we can no longer trust the images in the staging area.

[2018-04-18 08:10] DjangoPeng commented on #669
It's necessary for someone who has no interest on the other part of kubeflow.

@yph152 Would U like to part-time take it?

[2018-04-18 16:41] ankushagarwal commented on #668
Doing that is one way but I want to provide the ability to install pip packages as jovyan user.

[2018-04-18 17:56] lluunn commented on #337
Ah good point! Sounds good.

[2018-04-18 18:35] lluunn commented on #644
Thank you, found this http://docs.grafana.org/installation/behind_proxy/#examples-with-sub-path-ex-http-foo-bar-com-grafana

[2018-04-18 19:12] lluunn commented on #644
https://dev.kubeflow.org/grafana/
https://dev.kubeflow.org/grafana/d/1/istio-dashboard?refresh=5s&orgId=1
Working now.
Will document it in https://github.com/kubeflow/kubeflow/issues/496

[2018-04-18 19:12] #644 closed

[2018-04-18 21:30] jiezhang opened #677 "[openmpi] Make MPI job fault tolerant"
The openmpi component deploys one master and a set of workers using k8s pods, and then kicks off a long-running job. If a pod gets preempted while the job is running, the job would fail permanently.

To make the job fault tolerant, here're a few options:
- Rely on an external job management service, which monitors the job status and re-deploys the job as needed.
- Build a k8s controller to monitor

[2018-04-18 21:30] jiezhang commented on #677
cc @jlewi

[2018-04-18 21:56] xyhuang commented on #596
we have a proposal about the benchmarks https://docs.google.com/document/d/1IvoXptcKT83gaCww8dNILr_7YfLK2A2yVzJYxi4_I_g/edit?usp=sharing (the doc is under heavy construction but feedbacks are welcomed!)
idea is to have a light weight workflow on top of kubeflow's existing TFJob/PytorchJob/etc. We are working on a POC and will share that soon.

[2018-04-18 23:28] #496 closed

[2018-04-19 00:23] aronchick opened #681 "[Feature Request] Give the option to snap shot data and model for each run"

[2018-04-19 06:05] ankushagarwal commented on #403
Databricks has a very good jsonnet style guide here https://github.com/databricks/jsonnet-style-guide
We should probably stick to that

[2018-04-19 06:46] ankushagarwal opened #682 "Bootstrap image not found"
I was following the bootstrap [readme](https://github.com/kubeflow/kubeflow/blob/master/bootstrap/README.md), but I could not find the gcr.io/kubeflow-images-staging/bootstraper:latest docker image.

/cc @kunmingg

[2018-04-19 08:51] zmoon111 commented on #64
i use util percent of  cpu&gpu to check if it is in live status

[2018-04-19 15:07] #612 closed

[2018-04-19 16:44] pdmack commented on #682
We all agree that this this should be called "boostrapper", right? ;-)

[2018-04-19 17:55] kunmingg commented on #682
@ankushagarwal It's still under dev, so please ```make build``` in bootstrap folder and you should have the docker image on your local.

[2018-04-19 18:12] kunmingg commented on #682
Thanks, we can have a github typo-fix bot...

[2018-04-19 19:55] mattf opened #686 "ks 0.10.0-alpha.2 does not work with install instructions"
$ ks version
[code]
$ ks apply default -c kubeflow-core
[code]

[2018-04-19 20:01] pdmack commented on #668
/assign @pdmack

[2018-04-19 20:03] pdmack commented on #669
/assign @pdmack

Already poked at this a bit but happy to share with @yph152

[2018-04-19 20:16] ankushagarwal commented on #668
Hi @pdmack I have already started working on this. I am refactoring https://github.com/kubeflow/kubeflow/blob/master/components/tensorflow-notebook-image/Dockerfile completely to build an efficient image and fix the permissions issues

[2018-04-19 20:38] ankushagarwal commented on #686
Hi @mattf does ks 0.9.2 work?

[2018-04-19 21:08] pdmack commented on #668
/unassign @pdmack

[2018-04-19 21:12] pdmack commented on #668
Ok cool @ankushagarwal. Is it worth bumping up some of the jupyter versions while you're in there?
[code]

[2018-04-19 22:31] aronchick commented on #686
This error is SUPER unhelpful - ran into this myself. I BELIEVE I solved it by adding a github token - https://github.com/ksonnet/ksonnet/blob/master/docs/troubleshooting.md

[2018-04-20 00:11] ankushagarwal commented on #657
I am facing the same issue as well

[2018-04-20 00:15] kunmingg commented on #657
@ankushagarwal Can you add your error message? and which branch are you using?
Thanks!

[2018-04-20 00:25] kunmingg commented on #657
Got it, thanks! Lucky i don't have minikube locally.

[2018-04-20 01:12] #37 closed

[2018-04-20 01:12] #472 closed

[2018-04-20 01:12] #668 closed

[2018-04-20 04:36] ankushagarwal commented on #682
Thanks for the update on the readme, closing this.

[2018-04-20 04:36] #682 closed

[2018-04-20 05:44] gaocegege commented on #177
Ref https://github.com/tensorflow/ecosystem/issues/79

[2018-04-20 09:30] mattf commented on #686
yes, 0.9.2 works fine. this is more of a heads up since 0.10.0 isn't released yet and our docs say "0.9.2 or later"

it's unrelated to a github token, i had one setup.

[2018-04-20 12:35] jlewi commented on #607
Any thought about how we might integrate this into one of our examples in kubeflow/examples?

If possible it would be great to incorporate this into the GitHub issue summarization/label prediction example so that we can have a rich example illustrating many different facets of Kubeflow.

/cc @lluunn @cliveseldon

[2018-04-20 18:25] ankushagarwal commented on #686
Thanks for the report @mattf. This has been fixed on ksonnet master. Closing this.

[2018-04-20 18:25] #686 closed

[2018-04-20 18:44] ankushagarwal commented on #289
kaniko does not support ARG and SHELL Dockerfile commands

https://github.com/GoogleContainerTools/kaniko#known-issues

[2018-04-20 19:00] #657 closed

[2018-04-20 19:03] ankushagarwal opened #700 "kubeflow update story"
Getting started with Kubeflow is easy. We don't have a good story for "updating" kubeflow from version A to version B.

The https://github.com/kubeflow/testing/tree/master/dev-kubeflow-org folder has a couple of bash scripts to update kubeflow - we can use those as starting points to see what is a good story for update.

[2018-04-21 07:43] myqq0000 commented on #672
@pdmack So sorry for the late reply.
I use `sudo journalctl -fu docker.service`  to show recent log of docker daemon.
And after I tried to spawn it, there have been some log as below:

I can't extract useful information from it. Do you have any ideas about it?
Thank you a lot for your timely reply~ 😊

[2018-04-21 18:30] aronchick commented on #607
Big +1 on starting with an example, and using that to make tangible any upstream changes you need in Kubeflow.

[2018-04-23 02:56] mattdornfeld commented on #651
@xyhuang I think that's too be expected whether or not Docker is used. Even with a single a worker distributed training has to do more operation since gradient updates have to be sent to the parameter server and stored after every batch.

[2018-04-23 12:05] pdmack commented on #700
What's our thoughts on `ks upgrade`? I think I have used it once or twice in traveling from 0.8 up to 0.9.2. Important step?

[2018-04-23 12:07] jlewi commented on #241
@aronchick How's this coming?

[2018-04-23 14:11] ankushagarwal commented on #700
I think ks upgrade is used to upgrade ksonnet application format according to their latest format. For example in an earlier version they used `spec.json` to track environments and now they've migrated that info to `app.yaml`. I don't think it upgrades the actual ksonnet application by pulling in the latest packages/prototypes etc.

[2018-04-23 17:53] wskinner commented on #32
What else is left now that https://github.com/kubeflow/kubeflow/issues/203 has been closed? Are there any other outstanding blockers before kubeflow can be considered "supported" on AWS?

[2018-04-23 17:59] pdmack opened #707 "minikube VM unavailable for e2e kubeflow-presubmit check"
Not a flake.
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-presubmit

[code]

/assign @jlewi

[2018-04-23 18:25] kunmingg commented on #664
fixed by https://github.com/kubeflow/kubeflow/pull/680 and https://github.com/kubeflow/kubeflow/pull/699

[2018-04-23 20:40] pdmack commented on #707
Duplicate of kubeflow/testing#112

[2018-04-23 20:40] #707 closed

[2018-04-23 20:48] xyhuang commented on #596
https://github.com/CiscoAI/kubench a detailed poc is coming shortly! would love to hear more feedback for the proposals, and also looking to work with the community on all benchmark stuff :)

[2018-04-23 22:00] ddutta opened #708 "New repo for benchmarking"
@jlewi Would it be possible to have a new repo for benchmarking. Maybe we call it kubench for now?

Issues:
#596

[2018-04-23 22:27] jlewi commented on #708
Duplicate of kubeflow/community#115

[2018-04-23 22:27] #708 closed

[2018-04-23 22:55] kunmingg opened #709 "cert-manager in "setting-up-iap-on-gke" not working"
Following instructions from
https://github.com/kubeflow/kubeflow/blob/master/docs/gke/iap.md.
Getting errors from cert-manager.

cert-manager pod log:
[code]

ingress-shim pod log:
[code]

[2018-04-23 22:57] kunmingg commented on #709
@danisla

[2018-04-24 17:53] jiezhang opened #712 "[openmpi] Move openmpi-controller image to Kubeflow registry"
The openmpi-controller image should be moved to Kubeflow official registry:
https://github.com/kubeflow/kubeflow/blob/master/components/openmpi-controller/Makefile

[2018-04-24 17:53] jiezhang commented on #712
/cc @jlewi @everpeace

[2018-04-24 18:01] jiezhang opened #713 "[openmpi] Upload trained models to persistent storage"
We should take snapshots of the trained models generated by the MPI workers and upload them to persistent storage (say S3 or Google Cloud Storage).

Here're the changes needed:
1. `kubeflow-openmpi-data` is currently mounted as a shared volume between the `openmpi-job` container and `openmpi-controller` container. We need to make the size configurable.
1. When `openmpi-controller` detects that the

[2018-04-24 18:12] jlewi commented on #672
@myqq0000 Any luck?

[2018-04-24 18:16] jiezhang commented on #713
cc @alsrgv @jlewi @everpeace

[2018-04-24 20:29] ewilderj commented on #213
the work is being done in the kubeflow/website repo
the relevant project plan is in https://docs.google.com/document/d/1XUGnLVCyqVLN62VWqk-o_FLhRU1L4b7VRcwP8QgFst4/edit#

[2018-04-24 23:11] #709 closed

[2018-04-25 00:09] lluunn opened #716 "Upgrade default TF version of TF Serving"
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/tf-serving/tf-serving.libsonnet#L33

It's 1.4, we should use 1.6 or above.
related #468

[2018-04-25 01:39] everpeace commented on #712
Yes, I think it should be, too.

[2018-04-25 01:54] jlewi opened #717 "E2E Test for Tensorboard Manifests"
We should have an E2E test for the tensorboard modules

[2018-04-25 05:55] zuowang opened #718 "openmpi controller exited with error"
@jiezhang Could you help me on this?

[code]

[2018-04-25 06:10] jlewi opened #719 "Jupyter images pruned too aggressively?"
#689 removed a whole bunch of python packages to

1. Deal with version conflicts
1. Slim down the image size

I'm finding that the packages I want are often missing e.g.

* h5py
* Google cloud libraries
* sklearn

I'm not sure what the right balance is between to many packages and too few. Opening this bug to track.

/cc @pdmack @ankushagarwal

[2018-04-25 06:54] myqq0000 commented on #672
@jlewi  Thank you a lot for your attention to my issue.
I am sorry that I have some other work to do so I ignore this issue these days.

I found that the kubeflow has updated to v0.1.2 today. So I try to deploy it again.
But it's still the same error.

I have tried this command but it can't return anything else than

But I can found my pod in the dashboard of kubernetes in about 30 seconds. (And t

[2018-04-25 07:04] myqq0000 commented on #672
@jlewi Oh I forget to say how am I running kubernetes.

I used kubeadm to run my kubernetes.
The versions of kubeadm, kubelet and kubectl are all v1.9.0.
And my kubernetes version is v1.9.6.

And I have set up the nvidia-docker and other plugins. (I want to use the GPU version of tensorflow at first.)
And I can see 2 GPU with the command `kubectl get nodes "-o=custom-columns=NAME:.metadata.name,GP

[2018-04-25 11:59] zuowang opened #721 "all training run on the first worker"
@jiezhang  could you take a look at this issue?
[code]

[2018-04-25 12:37] zuowang commented on #721
not a issue

[2018-04-25 12:37] #721 closed

[2018-04-25 13:18] pdmack commented on #719
Those 3 really aren't bad IMHO if you feel they are commonly used. I feel that getting rid of the benchmarks and models git repos (and their objects) was probably a big win.

[code]

[2018-04-25 13:44] inc0 opened #722 "Bootstrapper fails if no ~/.kube/config is present"
[code]

This is issue if we run it inside k8s pod. Way to authenticate to k8s underneath is somewhat different and we need to implement this mechanism to bootstrapper as well.

[2018-04-25 13:46] jlewi commented on #722
/assign @kunmingg

[2018-04-25 13:52] jlewi commented on #722
On GKE one option is to do

[code]

We'd probably want to combine that with a service account added as a secret with the appropriate environment variables set.

[2018-04-25 14:17] pdmack opened #723 "UID of JupyterHub image"
Some Kube platforms such as OpenShift by default have restricted UID ranges for any new project or namespace, thus necessitating this troubleshooting [note](https://github.com/pdmack/kubeflow/blob/master/user_guide.md#openshift).

We should look at making modifications to our JupyterHub image similar to what the [radanalytics.io](https://radanalytics.io/) project has done for some of its images.
/

[2018-04-25 14:25] willb commented on #723
I agree that it would be great to get rid of the `anyuid` workaround wherever possible.  I'll try and take a look at this this week.

[2018-04-25 14:27] inc0 commented on #722
well, it's quite easy to just replicate what kubectl does, check this out https://github.com/ksonnet/ksonnet/issues/431

[2018-04-25 14:33] pdmack commented on #723
Linked datawire/ambassador#391

[2018-04-25 15:31] ankushagarwal commented on #719
These packages seem reasonable enough to include. I'll send in a PR.

[2018-04-25 16:10] jiezhang commented on #718
@zuowang Can you try to enable legacy authorization in your cluster? Please also paste the output of `kubectl version` here.

https://cloud.google.com/kubernetes-engine/docs/how-to/role-based-access-control?hl=en_US&_ga=2.8774710.-248250448.1522362327

![image](https://user-images.githubusercontent.com/37601164/39258107-ff8ddb34-4867-11e8-847c-4a5da34d001f.png)

[2018-04-25 17:17] #719 closed

[2018-04-26 04:56] jlewi commented on #713
@balajismaniam Is this an area where KVC could help?

[2018-04-26 05:02] jlewi commented on #672
How much resources do you have on your cluster?

Nothing so far indicates a problem with Kubeflow. It seems like the pods are getting killed for some unknown reason.

Can you get the kubelet logs to see why its killing your containers?

[2018-04-26 05:40] zuowang commented on #718
[code]

[2018-04-26 06:11] zuowang commented on #718
resolved with
`
kubectl create rolebinding  default-binding --clusterrole=cluster-admin --serviceaccount=kubeflow:default --namespace=kubeflow
`

but after exec `ks delete default  -c `, all pod hanging on Terminating  status
[code]

[2018-04-26 13:54] psyhtest commented on #596
@xyhuang @ddutta Great to see the proposal starting to take shape! We certainly agree that reusing existing tools is a way to go.

Given a lot of heavy lifting done so far with [CK](http://cknowledge.org/ai.html), it should be possible to progress quickly from a proof-of-concept to production, and crowdsource benchmarking across systems, libraries, models and datasets, as in the below example (gen

[2018-04-26 15:12] balajismaniam commented on #713
Yes @jlewi. @jiezhang are the features in kvc sufficient for this? KVC supports any S3 compatible storage (e.g., AWS S3, GCS, Minio).

[2018-04-26 17:09] jiezhang commented on #718
@zuowang All the pods should be in "Completed" status after the MPI job finishes. The deletion is supposed to finish instantly. Is that not working for you?

Even if the job is still running, delete should force terminate the pods after 30 seconds (see terminationGracePeriodSeconds in the pod spec). What's your Kubernetes cluster?

[code]

[2018-04-26 17:16] jiezhang commented on #713
@jlewi @balajismaniam Thanks for the pointer! I'll evaluate whether we could leverage KVC.

[2018-04-26 20:27] kunmingg opened #727 "Upgrade ksonnet version to v0.10 for kubeflow."
Since ksonnet already provide version:
https://github.com/ksonnet/ksonnet/tree/v0.10.0
We can upgrade ksonnet version to take advantage of new features.
And unblock things like https://github.com/kubeflow/kubeflow/pull/720

[2018-04-26 21:26] jlewi commented on #241
I think we should recommend folks use Deployment Manager to create / manage GKE clusters. This allows them to manage the cluster & node pools declaratively. This is important for a couple reasons

1. Its consistent with GitOps and how we manage Kubeflow
1. Its consistent with our larger portability message

- Deployment manager makes it easy to stamp out GKE clusters suitable for Kubeflow.

This i

[2018-04-27 00:49] jlewi opened #730 "Support External DNS"
We should support external DNS as part of our ingress story.

- We'd like to automatically create A records based on ingresses
   - this would be useful for supporting apps which don't play well with reverse proxies

- We'd like to support using the [DNS challenge](https://github.com/PalmStoneGames/kube-cert-manager/blob/master/docs/providers.md#google-cloud) with cert-manager to get certificates

[2018-04-27 00:53] jlewi opened #731 "Support External DNS on GKE with GCP Cloud DNS"
#730 is the generic issue.

This is the GCP specific issue.

One GKE I'd like to have instructions for setting up Cloud DNS and using that to automatically provide A name records for ingresses.

Additionally, I'd like to have instructions explaining how to setup IAM and service accounts so the Cloud DNS zone can be in a different project than the one creating the IP addresses.

The motivation is e

[2018-04-27 03:59] jlewi opened #732 "Use Pod Preset to add environment variables and volume mounts to pods"
We have a number of cases where we need to add volume mounts and environment variables to pods;
e.g.
  - #564 add secrets/credentials
 - Set volume mounts for GPU devices.

We currently do this by using jsonnet to add appropriate environment variables and volume amounts.

I think a better approach would be to create an admission controller.

It would be nice if this admission controller was easily

[2018-04-27 04:41] elsonrodriguez commented on #732
If we're sticking to env vars and volumes, the existing Podpresets admission controller would be the way to go.

[2018-04-27 07:42] zuowang commented on #718
I have terminationGracePeriodSeconds in the spec. But it just stay in Terminating status forever.
[code]

[2018-04-27 08:37] bhack commented on #596
/cc @elmarhaussmann

[2018-04-27 13:16] jlewi commented on #732
This seems like the way to go. I think we should do the following

- Define pod presets for various clouds
- Selectively enable those pod presets based on "cloud" or other values
- Use a consistent set of labels on Kubeflow pods so that pod presets are applied

[2018-04-27 13:22] jlewi opened #733 "[Seldon] Support loading models from files?"
Right now I think Seldon largely expects the models to be baked into the Docker container.

What's the best pattern for supporting loading models from file?

In Seldon how models are loaded is determined by the init function in the class the user writes to do predictions e.g. [IssueSummarization.py](https://github.com/kubeflow/examples/blob/master/github_issue_summarization/notebooks/IssueSummariz

[2018-04-27 14:02] cliveseldon commented on #733
You are free to load model parameters from anywhere. For models wrapped using our wrappers, then yes for python you can put any initialization you need to load model parameters.

Yes you be provide env variables for parameter location. There are specific parts of the CRD that allow parameters to be specified which will be passed to the model if using our wrappers. But in general again you are free

[2018-04-27 14:17] cliveseldon commented on #733
For example, all models used in https://github.com/kubeflow/example-seldon load parameters from NFS. The location is baked into the image but it could be changed to get from env.

[2018-04-27 16:25] jlewi commented on #733
@cliveseldon Can you point me at some docs for how parameters can be specified in the Seldon serving resource spec? How would I access those parameters in [IssueSummarization](https://github.com/kubeflow/examples/blob/master/github_issue_summarization/notebooks/IssueSummarization.py#L20)?

[2018-04-27 16:30] jlewi opened #734 "Ambassador crashing on minikube"
Posting on behalf of someone else. On minikube they observed Ambassador crashing.

It looks like there's is an SSL issue connecting to the ApiServer to list resources. Doesn't look like a Kubeflow issue perse.

[code]
/cc @vishh @richard @dlorenc @richarddli

[2018-04-27 17:06] jlewi commented on #403
Thinking about this more and based on
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture/declarative-application-management.md

I think there are a class of components specifically
- TfJob
- Argo Workflows
- TFServing images
- Seldon models

Where I think it might make more sense to for an existing template/example and then let users modify it. I think t

[2018-04-27 17:31] kkasravi opened #735 "cloud-endpoints fails when using bootstrapper"
steps to reproduce:
[code]

[2018-04-27 18:12] cliveseldon commented on #733
There are not good docs yet for the built-in parameters. You define them as shown in the proto:

https://github.com/SeldonIO/seldon-core/blob/befa04022a2546b49fa0accc51c75169874ad816/proto/seldon_deployment.proto#L110-L124

They then become an environment variable on your model pod which is read by the wrappers. For the python wrapper they will be passed in the init method as keyword arguments.

H

[2018-04-27 18:46] #534 closed

[2018-04-27 18:47] ankushagarwal commented on #534
No more references to kubeflow-images-staging : https://github.com/kubeflow/kubeflow/search?utf8=%E2%9C%93&q=kubeflow-images-staging&type=

[2018-04-27 19:07] seattleplus commented on #191
Just curious, but why does a specific storage solution need to be chosen at all?  Once you adopt a storage solution, you will then be limited by its limitations (e.g., scaling, etc)  Why not focus simply on the API?  For example, why not focus on supporting any storage system that adopts [CSI](https://github.com/container-storage-interface/spec)?

[KVC](https://ai.intel.com/kubernetes-volume-contr

[2018-04-27 19:59] pdmack commented on #735
/assign @inc0

[2018-04-27 21:35] jlewi commented on #376
Thinking about this more and based on
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture/declarative-application-management.md

I think there are a class of components specifically

TfJob
Argo Workflows
TFServing images
Seldon models
TensorBoard jobs

Where I think it might make more sense to for an existing template/example and then let users modify it.

[2018-04-27 21:37] jlewi commented on #403
Duplicate of #376

[2018-04-27 21:37] #403 closed

[2018-04-27 21:39] jlewi commented on #733
Great thanks.

Per my recent comment [here](https://github.com/kubeflow/kubeflow/issues/376#issuecomment-385100461) I think we should refactor our prototypes to better support this.

I think the full `SeldonDeployment` should be defined in the prototype and we should get rid of the `.libsonnet file`.

This way the result of `ks generate` is a jsonnet file in the components directory that contains

[2018-04-27 22:05] cliveseldon commented on #733
Yes I think you hit the key concern of creating a template which allows customization with ease of use.

[2018-04-27 22:11] jlewi opened #736 "Precache Jupyter Images"
It might be nice to support precaching Jupyter images. This would allow us to make it fast to launch Jupyter  notebooks while still allowing for really large Docker images ~10s of GBs.

Being able to support large Docker images is valuable because its convenient for notebook environments to get a whole bunch of libraries.

For example we might want to support the Kaggle Image (#258) which has a pl

[2018-04-27 22:12] jlewi commented on #736
/cc @lluunn

I think @lluunn will have a prototype for a daemonset soon.

[2018-04-27 22:40] pdmack commented on #736
Yeah, or a deploy container that pre-pulls as you mentioned. If we pull the 1.4-1.7 cpu/gpu matrix, what does that mean for a new deployment? On a developer laptop, would we be freaking out the docker daemon and their system? Could it be done as an opt-in like Spartakus?

[2018-04-27 22:49] jlewi commented on #736
I was thinking opt in.

[2018-04-27 22:52] jlewi opened #737 "Add annotation to JupyterHub to force restarts if kubeform_spawner changes"
If kubeform_spawner changes we'd like `ks apply` to cause the JupyterHub pod to be restarted so we pick up these changes. But since its a config map it doesn't realize that it changed.

I think jsonnet provides an md5 hash function [std.md5](https://github.com/google/jsonnet/issues/225) so we could attach a hash of the spawner contents as an annotation to JupyterHub statefulset to trigger pod rest

[2018-04-27 23:16] #424 closed

[2018-04-27 23:43] jlewi commented on #561
I tried mounting the PV at `/home/joyvan` and that doesn't work. The error is

[code]
When I mount it at `/home/joyvan/work` it ends up being mounted as root and I don't have access to it.

[2018-04-27 23:52] jlewi commented on #561
The permissions issue came up in #22 the original issue.

VIshnu's [comment](https://github.com/kubeflow/kubeflow/pull/22#issuecomment-350415857) was to set the fsGroup.

I think at one point we might have done that.

Clearly we need some E2E tests #278

[2018-04-28 00:35] jlewi commented on #561
I uncommented the line in kubeform_spawner to set the fs group id. The had the effect of setting the group on the volume but it doesn't appear the jovyan user is in this group.

So we probably need to add this group and jovyan to the group when we build the docker image.

So I think we need to make the following changes

1. Set fs group id in kubeform_spawner
1. Add corresponding group to the dock

[2018-04-28 00:58] jlewi commented on #669
In someone is look for a quick fix. You can just create a jsonnet file in your components directory. The contents should look like the following

[code]

Haven't actually tested this so buyer beware

[2018-04-28 01:42] pdmack commented on #669
Now you tell me...

[2018-04-28 16:48] ankushagarwal commented on #468
Should we use the same strategy as jupyter notebook images?

[code]

[2018-04-29 17:13] cfregly commented on #607
@jlewi and @aronchick sounds good re: summarization/label prediction example.  that's a good place to start.

hoping to get this working this week for kubecon.

(btw, i have 6 (?!) other commitments this week in NYC, BOS, and DC, so i can't make KubeCon CPH.
 but i'll see you guys back on the left coast soon.

[2018-04-29 23:35] pdmack commented on #669
This is very confusing and slowing me down.
[code]
Both of these have had updates in the past 30 days. But it's not clear if there is any relationship between the two. It seems like the core version is the one of record at the moment.

[2018-04-30 00:06] #297 closed

[2018-04-30 00:09] jlewi opened #738 "E2E test for Pachyderm Package"
Related to #611

We should add an E2E test for the Pachyderm package.

[2018-04-30 00:10] jlewi commented on #611
Closing this issue since we have the initial package.

[2018-04-30 00:10] #611 closed

[2018-04-30 00:10] jlewi opened #739 "Pachyderm Package should support S3"
Related to #611

Our Pachyderm Package supports deploying with GCS support. We should probably add S3 support as well.

[2018-04-30 00:13] jlewi commented on #663
@kunmingg Can we close this issue?

[2018-04-30 00:24] jlewi opened #740 "E2E test for Argo Package"
Related to #21.

We need an E2E test. An E2E test should verify

- We can deploy the CRD
- We can submit a simple workflow that does hello world.

[2018-04-30 00:25] jlewi commented on #21
Opened up a new issue for the test. Closing this one.

[2018-04-30 00:25] #21 closed

[2018-04-30 00:32] jlewi commented on #464
@lluunn Can you summarize the current ISTIO integration for serving? Are there any missing features we should try to add as part of our 0.2 release?

[2018-04-30 00:35] jlewi commented on #116
Duplicate of #564

See #564 I thing we want to move to using `ks generate` give users a complete TFJob spec that they could then easily modify. i.e. we want to use `ks generate` to mimic the experience of copying an example and then modifying it.  So I don't think we should have parameters for specifying resources.

We could have multiple prototypes. One of those prototypes could be an example of

[2018-04-30 00:35] #116 closed

[2018-04-30 00:40] jlewi commented on #217
I think the problem here is that TFJob controller is not properly validating the job spec and reporting errors; e.g. that image isn't set for a replica.

@gaocegege @ScorpioCPH  Any thoughts on how we should handle this? Would specifying a swagger spec for TFJob and relying on K8s to validate the spec solve this particular problem?

See also kubeflow/tf-operator#561

[2018-04-30 04:29] jlewi commented on #669
@pdmack Sorry Pete.

`core/tf-job.libsonnet` contains the components for the custom controller.

`./tf-job/tf-job.libsonnet` contains prototypes for individual TFJobs.

So basically `core/tf-job.libsonnet` is used the cluster administrator to setup Kubeflow.
`./tf-job/tf-job.libsonnet` is used by users trying to submit jobs.

The division is rather arbitrary and reflects my lack of experience with

[2018-04-30 11:00] pdmack commented on #669
@jlewi Thanks for clearing that up. So we probably want to "merge" back to `kubeflow/tf-job` if possible I take it?

In other words, the tf-job package prototype incorporates both the cluster admin and the individual TFJob types. Am I on the right track? Something like:
[code]

[2018-04-30 13:40] jlewi commented on #561
#285 - Issue reported by user with PVC for Jupyter
#270 - Is PR that added mount of PVC

[2018-04-30 13:41] jlewi commented on #561
Anyone interested in trying to tackle this in the next two weeks? I'd like to get it fixed as part of our (Google Kubeflow team's) next sprint which begins today and ends in two weeks (05/11)

/cc @pdmack

[2018-04-30 13:48] jlewi opened #742 "E2E test for bootstrapper"
We should have an E2E test for the bootstrapper.

We could modify/fork our existing E2E test to use the bootstrapper.

/assign @kunmingg

[2018-04-30 14:14] pdmack commented on #561
You're killing me @jlewi ...
/assign @pdmack

[2018-04-30 17:52] kunmingg commented on #664
/close

[2018-04-30 17:52] #664 closed

[2018-04-30 19:05] jlewi commented on #732
/assing @ankushagarwal

[2018-04-30 19:06] jlewi commented on #742
/assign @kunmingg

[2018-04-30 19:14] jlewi commented on #666
/assign @kunmingg

[2018-04-30 19:15] jlewi commented on #504
/assign @ankushagarwal

[2018-04-30 19:28] jlewi commented on #251
P1 because we'd like to have this in our 0.2 release. However, we will probably only support local beam runner for GPUs in 0.2.

[2018-04-30 19:35] jlewi commented on #528
@swiftdiaries Any update?

It looks like there might have been previous PRs that were closed because of merge conflicts and a new PR was supposed to be opened?

[2018-04-30 19:36] jlewi commented on #118
/unassign @nkashy1

[2018-04-30 19:41] jlewi commented on #364
This should be fixed with 0.9.2 we should just confirm that.

/cc @ankushagarwal

[2018-04-30 20:14] bhack commented on #288
See also https://github.com/GoogleCloudPlatform/container-engine-accelerators/pull/51 and https://github.com/kubernetes/kops/pull/4971

[2018-04-30 22:51] ankushagarwal commented on #364
Verified that this is fixed by 0.9.2

[2018-04-30 22:51] #364 closed

[2018-04-30 23:16] ankushagarwal commented on #727
There is an issue with the latest release (0.10.1) https://github.com/ksonnet/ksonnet/issues/493#issuecomment-385102672

[2018-04-30 23:18] ankushagarwal commented on #606
@danisla : Would it be possible to open an issue in the ksonnet [repo](https://github.com/ksonnet/ksonnet/issues). It's unlikely that this issue will make progress here.

[2018-04-30 23:24] ankushagarwal commented on #106
/cc @ankushagarwal

[2018-05-01 04:55] jlewi commented on #669
So right now we we do

[code]

* Which would deploy TFJob + JupyterHub + other stuff

To deploy only the TFJob controller we'd want to do something like

[code]

This would be a prototype that (for now at least) ought to live in the core package and should probably closely resemble the snippet I posted above.

[2018-05-01 10:42] pdmack commented on #669
Why leave it in core? In #743, I moved it out to tf-job and the prototype generation would be similar to what you describe. I need to understand and fix those test failures though which may be in the testing repo.

[2018-05-01 15:30] ankushagarwal commented on #732
Did some initial research. It is not clear to me whether GKE supports `PodPreset` admission controller.

[2018-05-01 16:42] ankushagarwal commented on #106
Closing this as duplicate of #376

[2018-05-01 16:42] #106 closed

[2018-05-01 16:59] ankushagarwal commented on #376
I mostly agree with the discussion above.

The way I see it is we have two classes of components:

* **Kubeflow Contoller Components** - These are the _pluggable_ components which provide Kubeflow services - JupyterHub, Ambassador (CRD), IAP (With cert manager and issuer CRDs), Envoy, Argo CRD, TFJob CRD, Seldon CRD, Pachyderm Backend, Spartakus, GPU Driver Daemonset. Instead of having an _core_ c

[2018-05-01 17:12] ankushagarwal commented on #669
/cc @ankushagarwal

[2018-05-01 17:29] ankushagarwal commented on #732
According to https://kubernetes.io/docs/admin/admission-controllers/, the PodPreset admission controller is not a recommended admission controller - maybe that's why it's not available in GKE right now. Should be re-address this once PodPreset is available in GKE?

[2018-05-01 18:15] raddaoui opened #746 "the tfserving prototype missing label after generation"
when applying the tfserving prototype with ksonnet, the `spec.template.metadata.labels` is not generated in the deployment section of the manifest which gives an error when applying it like this `Deployment.apps "xxx" is invalid:[spec.selector: Required value, spec.template.metadata.labels: Invalid value: map[string]string(nil): 'selector' does not match template 'labels']`

### Steps to reproduce

[2018-05-02 09:33] jlewi commented on #746
@lluunn Can you take a look at this? Don't we have E2E tests for the TFServing component?

/assign @lluunn

[2018-05-02 09:36] jlewi commented on #746
Is this fixed by #741 ?

Looks like the problem might be with the "prototypes" that add S3/GCP credentials.

[2018-05-02 14:33] pdmack commented on #376
Sure, I'm trying to divine what the DevOps UX is for a newcomer with regards to our organization of components.  I myself was tripped up by the distinction between TFJob as CRD (currently in core) and TFJob as a user component (currently in tf-job). The instinct for me is to logically group these all under the domain of the tf-job package but as distinct prototypes. So it seems to me we are lookin

[2018-05-02 15:19] cwbeitel opened #752 "JupyterHub pods restarting for unknown reason"
I'm seeing an issue where when returning to JupyterHub with a previously running session I'm presented with a log-in screen instead of my workspace, presumably because the underlying pod has re-started for some reason. This is problematic if there was unsaved work on the attached volume.

I am using the autoscaler (on GKE) with a min instance number of 1. Presumably the autoscaler doesn't scale do

[2018-05-02 17:36] lluunn commented on #746
Yes should be fixed by 741

[2018-05-03 15:39] pdmack commented on #561
@jlewi which group? The docker build already puts it in `gid=100(users) groups=100(users)`. Do we not want to use that fsGroup?

[2018-05-03 20:33] #718 closed

[2018-05-04 00:22] kunmingg opened #757 "Support install kubeflow by Deployment Manager"
To provide better user experience on GCP,
we should provide installing kubeflow through Deployment Manager.
Installation should be as simple as:
1. Insert into templates info like email...
2. gcloud deployment-manager deployments create XXX (preprare all resources, including a dev pod)
3. (should we automate this step?) Enter dev pod and "apply kubeflow components".

[2018-05-04 00:29] kunmingg opened #758 "Support using bootstrapper image as a kube deployment."
1. This is needed by https://github.com/kubeflow/kubeflow/issues/757
2. Can save user's effort of running docker container locally

[2018-05-04 00:30] kunmingg commented on #758
/priority p1

[2018-05-04 00:39] kunmingg commented on #758
/assign @kunmingg

[2018-05-04 00:42] kunmingg commented on #742
@jlewi
Added https://github.com/kubeflow/kubeflow/issues/758 to current sprint.
How about use e2e to cover this case https://github.com/kubeflow/kubeflow/issues/758 as first step?

[2018-05-04 03:35] jlewi commented on #758
Sounds good to me.

[2018-05-04 04:42] gangliao opened #760 "It didn't return [dead loop] when Python 3 is being used."
https://github.com/kubeflow/kubeflow/blob/fa9f138df9a0b9bbf60348aca6aac7df8b6824fa/tf-controller-examples/tf-cnn/launcher.py#L40-L49

It didn't return [dead loop] when Python 3 is being used.

[code]

[2018-05-04 04:59] inc0 commented on #757
Can you leverage our statefulset for that? bootstrap/examples/kubeflow-toolbox.yaml

[2018-05-04 05:01] inc0 commented on #752
Log looks like RBAC issue. Jupyterhub isn't allowed to list namespaces, try adding (temporarily) permissive RBAC rules and see if it helps. If so, we need to add RBAC bindings to our jupyterhub prototype

[2018-05-04 05:09] inc0 commented on #736
well that's going to be hard for big infras - you need to have local image on every kubelet, so potentially a *a lot* of unnecessary downloads. Alternative would be registry local to cluster, but that's lot of additional setup and beyond our scope.

For affinity I'd say we don't want to handle scheduling on our own, that's schedulers job, not we should encourage it. Scheduler works best if it has

[2018-05-04 05:10] inc0 commented on #736
Also operators would "love" us if we'd start do download images on all nodes at the same time:) we could eat up even big uplinks with that:)

[2018-05-04 12:01] inc0 commented on #758
I did that with statefulset - https://github.com/kubeflow/kubeflow/commit/108313ae6290597cbacf820bf99057cba623337a

[2018-05-04 12:04] inc0 commented on #191
@seattleplus it's more about S3 vs PVC and PVC access mode requirements (as far as I understand this issue). These things affects acutal TFJob and model architecture.

[2018-05-04 12:14] bhack commented on #191
The edges between S3 and PVC could be not always so marked . See https://github.com/kubeflow/experimental-kvc/issues/34

[2018-05-04 12:45] jlewi commented on #504
HeptIO has a tool Ark that will snapshot all your K8s resources to a tarball. Its primarily intended for backing up  & restoring your cluster but it might be useful for for our use case.

[2018-05-04 15:44] magreiner commented on #554
My jupyter pod also get terminated shortly after they are created (before the jupyter notebook is ready, maybe a timeout?).

The container can be deployed manually in docker or kubernetes, without getting terminated (single-node kubernetes deployment).

The full description of the pod shortly before its killed:
Note the last line: "Killing container with id docker://notebook:Need to kill Pod"
[nee

[2018-05-04 16:38] #760 closed

[2018-05-04 16:41] ankushagarwal commented on #554
@magreiner

Can you try `gcr.io/kubeflow-images-public/tensorflow-1.7.0-notebook-gpu:latest`

[2018-05-04 16:43] ankushagarwal commented on #504
Ack. Will take a look at it.

[2018-05-04 18:56] lluunn commented on #468
We should have different tf version, cpu/gpu, and py2/py3 combination for TF serving image as above, e.g. gcr.io/kf-images/tensorflow-serving-1.6.0-py3-cpu

- jupyter notebook installs py2 and py3 together, but I think we have to separate that in serving case.
- Jupyter notebook has parameterized Docker [image](https://github.com/kubeflow/kubeflow/blob/master/components/tensorflow-notebook-image/D

[2018-05-04 19:11] ankushagarwal commented on #468
We should think of a simpler unified approach for building our images - jupyter notebook images, tf-operator images and tf-serving images - https://github.com/kubeflow/kubeflow/issues/666 would be a good place to track this.

[2018-05-04 19:32] lluunn commented on #376
@jlewi Agree with using complete manifest over using import.

@ankushagarwal  The two classes make sense; I would call them service part and client part.
So I guess there might be a better name for "examples".

[2018-05-04 22:35] lluunn opened #762 "E2e test for TF serving rollout with istio"
https://github.com/kubeflow/kubeflow/blob/master/components/k8s-model-server/istio-integration.md#rolling-out-new-model

[2018-05-05 06:13] jlewi opened #763 "Swift Jupyter Integration"
@algal Has created a Jupyter runtime environment suitable for running [Swift for TensorFlow](
https://github.com/algal/iSwift/tree/swift-tensorflow).

Might be interesting to incorporate this as one of our supported Jupyter notebook environments.

[2018-05-05 06:34] jlewi commented on #561
SGTM

[2018-05-05 17:48] mikezuniga commented on #395
This was already implemented for what I can see in the issue referenced above

[2018-05-05 18:17] ankushagarwal commented on #395
Closing because https://github.com/kubeflow/kubeflow/pull/553 is merged

[2018-05-05 18:17] #395 closed

[2018-05-06 11:37] inc0 commented on #735
I had something similar - issue is with latest ksonnet (I think). @kkasravi try to run it on ks 0.9.5 and see if issue persists.

[2018-05-06 14:39] pdmack commented on #561
Working on this [here](https://github.com/pdmack/kubeflow/tree/561-jovyan-home-mount).

[2018-05-06 19:25] jlewi commented on #395
@ankushagarwal To answer your question; the problem is that its not uncommon for a bunch of jsonnet/libsonnet files to be improperly modified. So if we reformat all files, we often end up modifying files that wouldn't otherwise be modified in the PR. IMO this is undesirable from a a reviewer perspective because it can end up creating a bunch of formatting changes irrelevant to the core of the PR.

[2018-05-06 19:31] jlewi commented on #732
Is this just a matter of PodPreset's being Alpha see [here](https://kubernetes.io/docs/concepts/workloads/pods/podpreset/).

Would we just need to create an Alpha cluster to use PodPresets?

[2018-05-06 19:36] jlewi commented on #376
Will having all the packages Argo, Jupyter, Pachyderm, Seldon etc... in core scale?

From a maintenance perspective (e.g. OWNERs) files grouping components into directories based on ownership is convenient.

[2018-05-07 08:40] magreiner commented on #554
@ankushagarwal The image `gcr.io/kubeflow-images-public/tensorflow-1.7.0-notebook-gpu:latest` does not get terminated!
But it does have some (probably unrelated) stability issues. If I run an example (https://colab.research.google.com/notebooks/gpu.ipynb) the python-kernel dies. Running the same code with the image from TensorFlow 1.5.1, it does not produce any errors.

@pdmack I'm not able to rep

[2018-05-07 12:28] pdmack commented on #554
@magreiner I was able to pull other TF images _besides_ that one.

[2018-05-07 13:52] pdmack commented on #561
Meh, `pre_spawn_check` is no good since the mount and joyvan user are not in place yet to make a determination as to whether we need to init `/home/jovyan` or recognize that the NB pod PVC has already been init.

[2018-05-07 15:45] ankushagarwal commented on #376
I don't think that the idea of having a `core` prototype will scale. As mentioned in the comment above, we cannot assume that people want all the components of `core` prototype. #669 is an early manifestation of this long term issue. What if I wanted to install only jupyterhub, nfs and pytorch operator for my kubeflow deployment?

I strongly feel that having a single package with a list of pluggab

[2018-05-07 16:28] pdmack commented on #376
So in that model, does every jsonnet file of kubeflow/prototypes become distilled to 3 lines of difference?
e.g.,
[code]

Seems like boilerplate.

[2018-05-07 17:11] inc0 commented on #376
My 0.02$

I think we need to answer what do we want to hold in our repo?

1. Everything
That means literally everything someone will want to run in relation to their ML work should have ksonnet prototype - we kinda do this now (case in point - NFS, Istio, Envoy)
I don't think this is scallable as soon we'll have to handle Prometheus ksonnet prototypes etc etc.
My opinion is that we shouldn't reall

[2018-05-07 21:06] ankushagarwal commented on #732
Here is an example pod preset which injects service account credentials into a pod:

Create the service account, get its credentials and store it as a secret

[code]

Create a PodPreset to

* Create env GOOGLE_APPLICATION_CREDENTIALS : /secrets/gcp-service-account-credentials/kubeflow-service-acount.json
* Create a volume referring to the secret
* Create a volume mount for the secret volume

[code

[2018-05-07 21:11] zachgrayio opened #767 "Swift-TensorFlow-Starter (STS) integration"
I'm the author of STS ([swift-tensorflow-starter](https://github.com/zachgrayio/swift-tensorflow-starter/)) as well as the first Swift for TensorFlow [docker image](https://github.com/zachgrayio/swift-tensorflow).

It'd be great to work on some sort of an easy integration with Kubeflow. The starter project itself is Dockerized and ready to rock so it shouldn't be much work, but I wanted to gauge i

[2018-05-07 21:31] ankushagarwal commented on #767
Thanks for your contribution @zachgrayio!

(I am not very familiar with Swift or Swift for Tensorflow)

I came across this project https://github.com/algal/iSwift/tree/swift-tensorflow which seems to provide a docker image with Jupyter Notebook / Swift / Tensorflow

We currently provide jupyter notebook Docker images with tensorflow pre-installed. Ideally for Swift for Tensorflow, we might want to

[2018-05-07 22:09] kunmingg commented on #758
@inc0 Thanks, https://github.com/kubeflow/kubeflow/pull/766 removed some of your TODOs in Dockerfile you might want review?

[2018-05-07 23:43] ankushagarwal commented on #767
See https://github.com/kubeflow/kubeflow/issues/763

[2018-05-08 01:16] ogre0403 opened #770 "jupyterNotebookPVCMount is not work in v0.1.2"
Hi

I followed [steps](https://github.com/kubeflow/kubeflow#steps) to install kubeflow v0.1.2, and want to use pvc to keep user jupyter data.  I found `jupyterNotebookPVCMount` parameter is available but it is not work.

The reason should be that  `jupyterNotebookPVCMount` is not pass into [jupyterhub.libsonnet](https://github.com/kubeflow/kubeflow/blob/v0.1.2/kubeflow/core/jupyterhub.libsonnet#L6

[2018-05-08 03:27] inc0 commented on #770
try setting jupyterNotebookPVCMount to mountpath, like "/home/jovyan/work". PVC itself will be created automatically on notebook spawn

[2018-05-08 03:32] ogre0403 commented on #770
@inc0  Thansk.
I know I have to set jupyterNotebookPVCMount to mountpath, but my point is that  `jupyterNotebookPVCMount` is not pass into jupyterhub.libsonnet.

[code]

[2018-05-08 03:34] inc0 commented on #264
Bumping this issue as it's going to be one of priorities for 1.0 (am I correct @jlewi ?).

So one idea that seems to be most obvious would be model CRD, then Katib/<< our unnamed CI system for models >> could use it to manage model history and update CRD with metrics etc.

[2018-05-08 03:42] inc0 commented on #770
Ah, you're right, I didn't notice that whole feature is missing from 0.1 branch.

@jlewi should we port it?

[2018-05-08 04:02] YujiOshima commented on #264
For Katib, it needs
* Details of Model (parameters, metrics)
* Results (log of metrics)
* Property of Dataset
The log means Stdio of Pods? or saved from TF inside pods?
Does CRD contain the log itself or a path to the log that is stored in PVC?

[2018-05-08 11:08] mikevoets opened #774 "Kubeflow-core README"
The README at https://github.com/kubeflow/kubeflow/tree/master/kubeflow/core seems to be out-dated. ks apply doesn't have a `-f` flag (anymore).

ksonnet version: 0.10.1
jsonnet version: v0.10.0
client-go version: 1.8

[2018-05-08 11:11] mikevoets opened #775 "Creation of roles"
ksonnet version: 0.10.1
jsonnet version: v0.10.0
client-go version: 1.8

I have permission to create roles/rolebindings in my Kubernetes namespace. But after running `ks apply default -c kubeflow-core` I still get the error that the ambassador role is not found. Isn't https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/ambassador.libsonnet suppose to create the ambassador role? Even whe

[2018-05-08 12:30] jlewi commented on #505
@pdmack Are you making progress? Do you need help?

[2018-05-08 12:34] jlewi commented on #423
@willingc I believe we are using a combination of conda and non-conda packages; I'm guessing because not everything we want is in conda (e.g. TFX and beam). Is this the right thing to do? Is there a better way to handle this.

[2018-05-08 12:36] jlewi commented on #479
Looks like 0.9 was just released.
https://hub.docker.com/r/jupyterhub/jupyterhub/tags/

So we should update our JupyterHub images.

[2018-05-08 12:37] jlewi commented on #479
@inc0 Could you look into this?

[2018-05-08 12:41] jlewi commented on #239
@kkasravi Any comment about the above? Any chance you could look into making the changes to use Ambassador/Envoy as the proxy rather than using JupyterHub.

I think proxying everything would be useful for on prem deployments. Because then users just need to connect to Ambassador e.g. via kubectl port-forward.

[2018-05-08 12:46] jlewi commented on #423
If I'm understanding comment 1 it looks like conda is installing matplotlib 2.0.2 but there is a newer version 2.1.2 installed as well.

It looks like matplotlib 2.2 is the latest release.

Can we fix this just by uninstalling the conda installed version in our docker images using the command @willingc provided above.

[2018-05-08 12:52] jlewi commented on #561
What is pre_spawn_check?

Is the problem that we don't create the Jovyan user until runtime in [start.sh](https://github.com/pdmack/kubeflow/blob/561-jovyan-home-mount/components/tensorflow-notebook-image/start.sh).

Should we be defining the user and group when we build the Docker image?

It also looks like we are supporting a bunch of different options (e.g. running as root, granting SUDO permis

[2018-05-08 13:31] inc0 commented on #264
So I suggest Model CRD and operator:

- Model name
- Model path (S3, pvc)
- Storage creds, pvc name, all the details regarding how to access
- Model log path
   - train
   - test
   - inference
- Model metadata
   - hyperparameters etc
   - model metrics (accuracy etc) - filled later with Katib/CI system

Operator could autogenerate paths based on operator specs.
Data scientist would create this c

[2018-05-08 13:32] inc0 commented on #479
/assign inc0

[2018-05-08 14:44] YujiOshima commented on #264
Cool. All you suggested are needed.
I request two more items.
1. A unique Id for the model.
Users would try training in the same condition. These models should have the same name but another ID like replicas of a pod.

2. A property of input data.

* Dataset metadata
   * Dataset name (cifar10, ImageNet etc)
   * Dataset Path

[2018-05-08 14:54] bhack commented on #264
Also a short fulltext description of the exp

[2018-05-08 15:01] pdmack commented on #561
Sorry, pre_spawn_hook...an opportunity for JH to init some stuff on a shared volume to the notebook (for example).

I'm getting warmer, but really the notebook in its start scripts is the best point to determine: do we have to init `/home/jovyan` or is there user content there already via a PV? There's a lot of implicit conda config that goes on during the Dockerfile build. Doing a build for `/hom

[2018-05-08 15:04] pdmack commented on #505
@jlewi no progress here sadly. Been fighting #561 etc. Feel free to re-assign, or I could switch off maybe if we are re-stacking priorities for 0.2.

[2018-05-08 15:13] jlewi commented on #574
@wbuchwalter any update?

[2018-05-08 15:31] kkasravi commented on #775
the ambassador role you try and complete manually isn't complete and the jupyter-role is where the error occurs. You should try creating a separate roles.yaml with both roles added to roles.yaml and then try `kubectl create -f roles.yaml --namespace=uit-bdps`

[2018-05-08 15:33] mikevoets commented on #775
But am I required to create these roles manually? Wouldn't Kubeflow-core do this for me?

[2018-05-08 15:39] willingc commented on #423
The best way would be to create an environment.yml file to use with conda where you can conda install and pip install from one file. [Example from repo2docker](https://github.com/jupyter/repo2docker/blob/master/repo2docker/buildpacks/conda/environment.frozen.yml) [Example from JupyterHub docs - this is the more straightforward example](https://github.com/jupyterhub/jupyterhub/blob/master/docs/envi

[2018-05-08 15:41] willingc commented on #423
@jlewi The conda cheatsheet is helpful too. https://conda.io/docs/user-guide/cheatsheet.html

[2018-05-08 16:33] inc0 commented on #264
For dataset I was thinking of integration with pachyderm and let it manage data versioning etc, I'll reach out to them and see how can we merge these.

[2018-05-08 16:51] dwhitena commented on #264
We can definitely version data and connect that with processing stages in Pachyderm. We also automatically track the Docker images, commands, stdin, env vars, etc. for each processing stage along with it's input/output data to get full "data provenance" of experiments.

Out of the things mentioned by @wbuchwalter:

[code]

Pachyderm solves (1) and (3) completely as in. (2) is partially solved in t

[2018-05-08 16:54] dwhitena commented on #264
To follow up on the above, @inc0 mentioned the following in Slack:

In this regard, it really depends on what format you need. All of those things are available in pachyderm, but I think you could create a layer on top that would bundle them in a nice way for consumption (which might also involve translating pachyderm pipeline specs, exposing S3 paths, etc.).

[2018-05-08 17:04] kkasravi commented on #239
yes - we had wanted to do this with dex so other auth providers could be used but let me make another pass on this.

[2018-05-08 17:33] jlewi commented on #770
The PVC functionality is currently broken so I don't see much use in cherry picking what we have into the release branch.

See #561 regarding permissions issue which still aren't resolved.

We need an E2E test #278 to verify this feature is actually working.

We should probably update our docs to reflect that this isn't working yet.

/cc @pdmack

[2018-05-08 17:33] jlewi commented on #763
Duplicate of #767

[2018-05-08 17:33] #763 closed

[2018-05-08 17:36] jlewi commented on #767
We would very much like to integrate and support swift. As @ankushagarwal mentioned it would be great to make the STS Jupyter notebook one of the supported runtimes that can be launched by Juypter.

A good place to start would just be trying to launch the existing Jupyter notebooks via JupyterHub and seeing which changes if any are needed.

[2018-05-08 17:39] #322 closed

[2018-05-08 17:41] jlewi opened #778 "Create & label P1 issues needed for an initial release of Horovod support"
We should create issues for everything that needs to happen to do an initial release of Horvod support. All such issues should be priority/p1.

We'd like to include Horvod in our 0.2 release. We need to figure out all the work that needs to happen to support that.

I created the label area/horvod

Anyone in the org should be able to label issues as follows

/area horvod
/priority p1

@jiezhang @ev

[2018-05-08 18:25] jiezhang commented on #778
Thanks @jlewi.

What's the timeline for 0.2 release? I think we should rename the area as openmpi. The package was written in a way that it's not coupled with horovod. For example, @everpeace is using the package to run distributed machine learning tasks which has nothing to do with horovod.

cc @alsrgv

[2018-05-08 18:30] jiezhang commented on #778
/area openmpi

[2018-05-08 18:31] jiezhang commented on #778
@jlewi Looks like the area command is not working for me.

[2018-05-08 19:07] jlewi commented on #778
The area/openmpi label doesn't exist. Can we use the area/horvod?

[2018-05-08 19:30] ankushagarwal commented on #740
Our current GKE e2e test uses the test cluster to test things out. I tried running the argo e2e test there but it broke things because it conflicted with the existing argo deployment on the test cluster.

We should use a new cluster to run our e2e GKE tests - this will ensure that changes due to individual tests don't affect the test cluster.

[2018-05-08 21:56] nqn commented on #264
Wanted to add that we have a few users on this project: https://github.com/IntelAI/experiments

[2018-05-08 22:44] everpeace commented on #778
@jlewi Yeah, naming is a bit complicated.  as jiezhang said, openmpi package is technically independent from Horovod.  And, actually, I'm using this package with [Chainer](https://chainer.org/)/[ChainerMN](https://github.com/chainer/chainermn).

Sure.  I'm happy to do it.  Here are several new issues which I would like to put in 0.2.
What do you think @jiezhang ??

- support securityContext(especi

[2018-05-09 03:11] swiftdiaries commented on #527
This needs a p1 label @jlewi

[2018-05-09 10:09] bhack commented on #465
/cc @gaocegege

[2018-05-09 12:32] jlewi commented on #778
I created the label area/openmpi

[2018-05-09 13:34] pineking commented on #778
In our cluster, we use NFS. when mounting NFS, we prohibit users to run pods with root from security reason.

@everpeace securityContext(RunAs) does not support group id, how can you specify gid in container when your programs read/write data using NFS

[2018-05-09 14:35] everpeace commented on #778
/area openmpi

[2018-05-09 14:41] everpeace commented on #778
@pineking `RunAsGroup` is already [on feature-gate since 1.10](https://kubernetes.io/docs/reference/feature-gates/).

However, this `RunAsGroup` didn't work nicely with NFS VolumeSource.  So we patched by ourselves (it is a small patch though).  Of course, we plan to contribute it to the upstream.

[2018-05-09 19:43] bhack commented on #596
Check also https://github.com/kubeflow/kubebench/issues/22

[2018-05-09 19:51] #740 closed

[2018-05-09 21:23] kunmingg opened #781 "Make release process cover bootstrapper image"
Release process should publish bootstrap image tagged with release version:
1. Update kubeflow version in [Dockerfile](https://github.com/kubeflow/kubeflow/blob/master/bootstrap/Dockerfile)
2. Update bootstrap image on public registry.

[2018-05-09 21:31] inc0 commented on #264
so, I think we all agree that this piece is needed so, if nobody objects, I'll go ahead and request repo for it.

[2018-05-09 22:18] xyhuang commented on #774
The doc is auto generated, you might want to look at the ksonnet doc generator script: https://github.com/ksonnet/parts/blob/master/doc-gen/main.go

[2018-05-09 23:47] jlewi commented on #757
We want to use deployment manager to setup non K8s resources; e.g. GKE, static ips, buckets, service accounts etc...

The goal is to provide declarative configs that make it easy to get started with Kubeflow on GCP.

We'd like this infrastructure to connect with the bootstrapper e.g. by launching the stateful set to run the bootstrapper to initialize the app.

[2018-05-09 23:52] jlewi commented on #241
/assign @jlewi

[2018-05-09 23:52] jlewi commented on #241
/unassign @jlewi

[2018-05-10 01:16] amygdala opened #783 "add 'tear down' section to end of user guide"
I think it would be useful to add some kind of 'cleanup' or 'teardown' section at the end of the [user guide](https://github.com/kubeflow/kubeflow/blob/master/user_guide.md), if the user wants to take down their kubeflow install without deleting the k8s cluster. Basically saying to
run `ks delete ${KF_ENV} -c <component>` for each component that they applied.
e.g. `ks delete ${KF_ENV} -c kubeflow-

[2018-05-10 02:03] jlewi commented on #757
Here's an [example](https://github.com/GoogleCloudPlatform/deploymentmanager-samples/tree/master/examples/v2/gke/daemonsets)  of using Deployment Manager to create a daemonset. I suspect a similar approach could be used to

 * Create the namespace
*  Create the clusterrolebinding
 * Create the statefulset for the bootstrapper

[2018-05-10 02:37] jlewi commented on #527
You can assign priority using

/priority p1

On Tue, May 8, 2018, 8:11 PM Adhita Selvaraj <notifications@github.com>
wrote:

[2018-05-10 03:41] kkasravi commented on #757
@jlewi this has similarities with the bootstrapper modifications [proposal](https://github.com/kubeflow/community/pull/124) (i'm addressing your comments under there separately).

Would using the deployment manager couple kubeflow to GCP or would there be other deployment managers for other cloud-providers?

Having an initial infrastructure to create resources required for the bootstrapper to run

[2018-05-10 04:40] YujiOshima commented on #264
@inc0 Of course I agree! We can discuss at the new repo. I will join it!

[2018-05-10 05:50] jlewi commented on #757
No this would not couple Kubeflow to GCP. We will never do that.

The goal here is to provide recommendations about how to setup Kubeflow on GCP (#240 and #241). As part of that, we want to recommend using deployment manager mostly to setup non GCP resources (e.g. DNS, buckets, IAM roles, secrets etc...). The reason I'm advocating for using deployment manager (as opposed to say a shell script for

[2018-05-10 05:56] jlewi commented on #264
Can we have an issue or proposal providing some insight into what this repo will cover? **Experiment tracking** is rather vague.

Perhaps we can start by defining experiment?

The repository linked to above by @nqn defines experiment as

To me this sounds exactly like what Katib is doing so if that's what we mean by experiment its not clear to me why we would need a new repository as opposed to us

[2018-05-10 06:04] jlewi commented on #757
For comparison, at Kubecon @sfabel of Canonical demo'd using Juju to provision resources and then deploy Kubeflow.

[2018-05-10 07:32] bhack commented on #264
What I think is that an hyperparamter could be consider part of the config(map)/args changes but often you change the sourcecode and so the image for an experiment. So for me an experiment track also source/image changes cause it is up to the user to choice for an experiment what is a part of the config and what is part of the source code cause the first don't require an new image.

[2018-05-10 08:24] xieydd opened #784 "Spawner options error(401)"
When i use Jupyter ,i choose some option and click Spawn ,error occurred.
[code]

I have the notebook image
[code]

and i check the container log

[code]
@pineking

[2018-05-10 09:38] bhack commented on #264
I generally think that an experiment can change across three axes:
- source code changes: it needs git hash/image tracking
-  config(maps) changes: it needs config tracking
- data input changes: need input tracking/versioning

[2018-05-10 12:29] jlewi commented on #784
It looks like the JupyterHub spawner doesn't have sufficient permissions to create a POD for the notebook.

What service account is the JupyterHub spawner pod using? Was the appropriate role binding correctly created for this service account?

[2018-05-10 13:38] pineking commented on #778
@everpeace Great, Thanks for your information. I will try the `RunAsGroup` feature, and look forward to your PR of the patch.

[2018-05-10 14:18] pdmack commented on #479
Just had a look-see with JH 0.9.0b1 and KubeSpawner 0.8.1...

In my smoke test it still seems to be stuck. The "400 : Bad Request" is gone but the progress meter is stuck at 50%. Logging out and logging back in takes you to "Start My Server". If you click that, you are back to the progress meter even though the bad NB pod has been deleted.

Also, seems like some CSS changes there in the 0.8.1 form

[2018-05-10 16:42] YujiOshima commented on #264
@inc0
As @jlewi said, Katib store almost all items you suggest in DB now.
You can save and get them with Katib API.
Please make the scope of new repo clearly.
Define CRD items? or make new operator?
If only define CRD items, you can discuss at Katib repo.
If you will make new operator, what the difference to existing operator?

[2018-05-10 17:13] jlewi commented on #264
Why do we need a new CRD for serving? SeldonIO already provides a CRD for managing model deployments.

Since Katib provides a DB that tracks models and their performance, I assume if one wanted to deploy a model you would look in Katib to pick model and then create a Seldon Deployment or K8s deployment for TFServing and then just deploy that.

[2018-05-10 17:13] inc0 commented on #264
So I'm ok with storing this code in Katib, it was my understanding before that Katib itself didn't want this scope.
I wouldn't want to use Katib db, I'd prefere CRD because it allows us to make operator work, reuse this resource in different places (serving being my main focus atm) etc. That would also expand scope of Katib quite a bit, since it's more than just hyperparameter tuning.

I see 2 sol

[2018-05-10 17:15] inc0 commented on #264
@jlewi Seldon might, tf-serving doesn't. And what about CI system for upgrades etc? If we say that we only support Seldon for things like upgrading model, load balancing model etc etc, that's quite a decision.

[2018-05-10 17:36] jlewi commented on #264
Its not clear to me what problem you are trying to solve. Can you provide a concrete example (perhaps you could use our GitHub issue summarization example as the scenario), and explain what you want to do, how you would do it today (if possible) and how you want to improve the experience.

[2018-05-10 17:44] inc0 commented on #264
Ok, let's use github issue summarization. Workflow for user would look like this:

* create model CRD, with initial info like path in S3 and so on
* spawn TFjob with these parameters
* tfjob uploads actual model file to proper S3 space
* Run CI scripts to populate metrics
* Spawn serving cluster based on these information

... After new data is available

* Copy model resource and retrain model wi

[2018-05-10 17:58] jiezhang commented on #778
Thanks @jlewi . We'll create/tag issues needed for initial release.

[2018-05-10 17:59] jiezhang commented on #677
/area openmpi

[2018-05-10 17:59] jiezhang commented on #677
/priority p2

[2018-05-10 18:00] jiezhang commented on #713
/area openmpi

[2018-05-10 18:00] jiezhang commented on #713
/priority p1

[2018-05-10 18:01] jiezhang commented on #712
/area openmpi

[2018-05-10 18:02] jiezhang commented on #713
/assign @jiezhang

[2018-05-10 18:05] jlewi commented on #594
/close

[2018-05-10 18:06] jlewi opened #788 "Minikube E2E test timeout waiting for VM to be ready."
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/787/kubeflow-presubmit/1459/

[2018-05-10 18:09] jlewi commented on #788
It looks like the VM is created but we can't ssh into it.

[2018-05-10 20:03] ankushagarwal commented on #504
Do we want to include deploying ark as a ksonnet package on kubeflow repo?

Ark has a lot of k8s manifest files specific to cloud providers checked in [here](https://github.com/heptio/ark/tree/master/examples). Which brings us back to the discussion in https://github.com/kubeflow/kubeflow/issues/376

[2018-05-10 20:06] ankushagarwal commented on #504
Probably bootstrap manager can deploy ark based on cloud provider.

[2018-05-10 21:39] pdmack commented on #778
`'s/horvod/horovod/g'`

[2018-05-10 22:09] #564 closed

[2018-05-11 00:08] jlewi commented on #788
Looks like a transient issue that resolved itself.

[2018-05-11 00:08] #788 closed

[2018-05-11 00:39] jlewi commented on #197
@carmark Is [kubeflow](https://hub.docker.com/u/kubeflow/) a single user? Is that the correct way to manage docker images for a project? Should we be using an organization.

[2018-05-11 00:58] carmark commented on #197
Hi @jlewi
The [kubeflow](https://hub.docker.com/u/kubeflow/) is a organization, and there are some users in it.

[2018-05-11 02:27] everpeace opened #793 "[openmpi] support to run a job with non-root users"
Currently, openmpi package's `init.sh` assume to run only with `root` user.  However, users sometimes want to run with non-root users for some reasons.  So, I would like to support

- non-root users in `init.sh`
- `securityContext (RunAs, RunAsGroup)` to specify running user.
  - perhaps `supplementalGroups`

It is because, when interacting with NFS Volumes, administrator restricts root access eve

[2018-05-11 03:53] jlewi commented on #264
So what's the pain point in the above workflow you are trying to address?

@YujiOshima Can't we just store the metrics in Katib? I assume we would just add a row in the DB with the accuracy metrics and a link to the path of the model.

What is model resource? The model is trained with a TFJob. So to retrain we just launch another TFJob with appropriate arguments.

[2018-05-11 05:27] YujiOshima commented on #264
We can store metrices in Katib. The format of model infomation in Katib is

[code]

You can update the metrics values any time.

[2018-05-11 07:43] gxfun commented on #344
@richarddli
Thanks.
I used kubeadm1.9.1 to setup my kubenetes cluster. But when I  setup kubeflow, I found that ambassador cannot be created.

I see Kube DNS is behaving properly.(`kubectl get pods -n kube-system`)
[code]
Besides, there dose not exist the file `/run/systemd/resolve/resolv.conf`

ambassador logs are also attached.
[code]
Thanks

[2018-05-11 09:41] xieydd commented on #784
There are some useful information

[code]

[2018-05-11 10:28] everpeace commented on #793
I developed this feature on [my branch](https://github.com/everpeace/kubeflow/tree/openmpi-non-root).

However ksonnet `0.9.2` which kubeflow officialy support cant handle json object parameters.  So it require the master branch of ksonnet (you need to build yourself if you want to try).  I think this should wait that kubeflow supports the latest version (perhaps `0.10.2`?).

[2018-05-11 11:49] jlewi commented on #197
@carmark Could you add me as an admin? My dockerhub id is jlewigoogle

[2018-05-11 11:56] jlewi commented on #784
This looks like jupyterhub/kubespawner#155

It looks like killing the pod might help. Can you try that?

[2018-05-11 14:06] inc0 commented on #264
Point I'm making is if it's internal to Katib, then we'll need to provide way for other components to access it, but also authorization to db, replication for HA, API etc etc.
If we use CRD it all will be handled by kubernetes.
At some point we'll need to handle multitenancy and access control and more we leverage k8s for that the better.
Again I'm fine with CRD living in Katib, if we extend scope

[2018-05-11 16:51] jlewi commented on #197
I was added as an owner.

So I think the next thing to do is to figure out how to setup robot accounts to build and push the images.

[2018-05-11 17:55] lluunn opened #794 "TF serving GPU test failing"
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-presubmit

[2018-05-11 19:19] lluunn commented on #794
NAME                                READY     STATUS    RESTARTS   AGE
inception-gpu-v1-74fc6fd6cf-ft226   0/1       Pending   0          15m

pending
Events:
  Type     Reason            Age                From               Message
  ----     ------            ----               ----               -------
  Warning  FailedScheduling  2s (x57 over 15m)  default-scheduler  0/6 nodes are available:

[2018-05-11 21:11] lluunn commented on #794
passing now

[2018-05-11 21:11] #794 closed

[2018-05-11 21:12] lluunn commented on #794
Forgot to mention to fix.
[code]
Find the workload (which should be GCed), and delete manully

[2018-05-11 21:42] #732 closed

[2018-05-11 23:45] #758 closed

[2018-05-12 07:50] cliveseldon commented on #264
My initial thoughts are its not clear why existing components don't already solve some of these proposals. For example:
 * Pachyderm for model data lineage
 * Seldon's CRD or TFServing for deploying/rolling updates to serving models
 * Argo and or Pachyderm for tieing workflow steps together

Some of the other discussion then seems more about how to combine these into a CI/CD pipelines but in a wa

[2018-05-12 10:57] boersmamarcel commented on #775
I'm running into the same issue
[code]

I'm running 1.9.7-gke.0

[2018-05-12 15:41] inc0 commented on #264
There need to be track of artifacts coming from training tho - for CI, relearn with same parameters but new data, learn from existing checkpoint when new data is available etc etc.
Just pushing code is not enough to trigger deployment of new model (we need to fully train it before we get proper metrics regarding it's performance) and there are more triggers to deploy new model (new data available-

[2018-05-12 15:49] bhack commented on #264
I.e. Just to mention the case of TF operator and TF high level API there is a specific arg/configmap to be handled related to [the warm start](https://www.tensorflow.org/versions/master/api_docs/python/tf/estimator/WarmStartSettings)

[2018-05-14 01:43] gxfun commented on #344
@richarddli
Thanks.
I used kubeadm1.9.1 to setup  kubenetes-1.9.1 cluster.

There is the  log when I execute the command `kubectl describe pod ambassador-64dcb6694f-2kxcl`.
[code]
kube-dns logs are also attached.
[code]

I am a beginner in kubeenetes and hope to get your help.
Thanks.

[2018-05-14 05:31] xieydd commented on #784
Thanks,it works;But I meet this problem #78 ;I don`t find the specific method in this issue?

[2018-05-14 09:36] pineking commented on #344
@gxfun  we meet the same issue as you describe, do you solve this ?

@richarddli @jlewi

[2018-05-14 13:07] sriharikarnam opened #801 "Query regarding support of PaddlePaddle using kubeflow"
Query: Does KubeFlow support deploying PaddlePaddle framework

[2018-05-14 17:15] jlewi commented on #495
@lluunn What is the current status of this item? What got done in last week's sprint?

[2018-05-14 17:16] jlewi commented on #468
@lluunn Is this item done? Can we close this issue?

[2018-05-14 17:17] jlewi commented on #504
@ankushagarwal @kunmingg What is the current status of this issue?

[2018-05-14 17:26] jlewi commented on #666
@kunmingg Any progress on this in the last sprint?

[2018-05-14 17:29] jlewi opened #802 "On GCP trigger bootstrapper with deployment manager"
Background: #241 Recommended Kubeflow setup on GCP.

On GCP we'd like to recommend using deployment manager to provision GKE clusters and setup Kubeflow.

As part of that we'd like to trigger the bootstrapper from deployment manager.

[2018-05-14 17:35] lluunn commented on #495
I tried out the new Stackdriver GKE agents, https://cloud.google.com/monitoring/kubernetes-engine/.
It's working.
Nothing to be done for now, closing this.

[2018-05-14 17:35] #495 closed

[2018-05-14 17:37] jlewi commented on #351
Just responded on the docs.

[2018-05-14 17:55] lluunn commented on #464
TF Serving component integrates with Istio for 2 features now:
 - RPC type metrics, number of requests, latencies etc
 - routing rules. X% to version1, Y% to version2. So can do simple A/B testing and rollout.

Detail [here](https://github.com/kubeflow/kubeflow/blob/master/components/k8s-model-server/istio-integration.md)

I think it's good for now?

[2018-05-14 18:00] kunmingg commented on #742
@jlewi Will create PR today.

[2018-05-14 18:02] kunmingg commented on #666
@jlewi May need another 2 days?

[2018-05-14 18:04] kunmingg commented on #504
@jlewi Haven't looked into it.

[2018-05-14 18:08] jlewi commented on #801
We currently don't support PaddlePaddle. But we would love to if someone wanted to add it.

[2018-05-14 18:12] jlewi commented on #784
@xieydd You're last message isn't clear; what's working and what is the new problem?

Per #78 are you hitting problems with kube-dns not being configured correctly?

[2018-05-14 18:15] jlewi commented on #775
You need to create a ClusterRoleBinding making your self a cluster admin. See [here](https://github.com/kubeflow/kubeflow/blob/master/user_guide.md#rbac-clusters).

This is a weird side effect of how RBAC works.

[2018-05-14 18:45] jlewi opened #804 "Invalid envoy config duplicate value IAP"
I got the following error while trying to update the dev environment to use HEAD.

[code]

[2018-05-14 18:46] jlewi commented on #804
/assign jlewi
/priority p1

[2018-05-14 19:02] #713 closed

[2018-05-14 19:26] lluunn opened #805 "Verify Central UI is working"

[2018-05-14 19:29] lluunn opened #806 "deployment manager should disable legacy Stackdriver agents"
- For GKE 1.10 and above
- And then bootstrapper can deploy the new agents.

https://cloud.google.com/monitoring/kubernetes-engine/

[2018-05-14 19:30] lluunn opened #807 "Bootstrapper should deploy new Stackdriver agents"
#806
https://cloud.google.com/monitoring/kubernetes-engine/

[2018-05-14 22:36] bhack commented on #465
@nqn The distribute KVC U-net example in the repo is quite interesting.

[2018-05-14 23:58] jlewi commented on #802
I have a prototype of creating a K8s resource after the cluster here
https://github.com/jlewi/kubeflow/blob/gke_deploy_bootstrapper/docs/gke/configs/cluster.jinja#L156

It looks like deployment manager doesn't support  dependsOn to reference a template type. I believe a template type is something like cluster.jinja. But within a template type (cluster.jinja) we can depend on the type provider.

So

[2018-05-15 01:49] jlewi commented on #804
The problem was that we switched from using init containers to using a sidecar to keep the envoy config up todate.

But the Deployment in production was still using an initContainer and updating it to use a sidecar with the same name caused the error provided above.

The work around was to just delete the existing deployment and then redeploy.

/close

[2018-05-15 01:49] #804 closed

[2018-05-15 01:59] jlewi opened #808 "[Central UI] Remove the box "There is nothing to display here""
Here's a screen shot of the
![central_ui](https://user-images.githubusercontent.com/777219/40032381-bfbd61e6-57a8-11e8-88ef-6884ac0f7704.png)

Can we remove the box that shows "nothing to display here"

/priority p1
P1 because it would be good to get this fixed before the 0.2. release

/assign @swiftdiaries

@swiftdiaries Can you take this on?

[2018-05-15 02:06] jlewi commented on #805
/assign @jlewi

I tested it out and there are a couple issues

#808 - There is a strange box that says "nothing to display here"
There is no link to JupyterHub

The central UI doesn't work with IAP because the proxy before Ambassador is mapping "/" to JupyterHub.

Will open individual issues for these issues.

[2018-05-15 02:11] jlewi opened #809 "IAP Envoy route should map / to central dashboard"
Here
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/iap.libsonnet#L494

We map "/" to "/hub" rather than directing it to Ambassador.

We need to delete this so that we can access the central dashboard for Kubeflow.

/priority p1
/area front-end

Related to #805 verify central UI is working.

[2018-05-15 02:12] jlewi commented on #805
Lets leave this issue open until all the fixes are submitted and verified.

[2018-05-15 02:14] jlewi commented on #528
I did some testing of this #805. Looks like there is some follow on work but I'll open more specific issues.

[2018-05-15 02:14] #528 closed

[2018-05-15 02:15] jlewi commented on #199
Closing this in favor of more specific issues with label area/front-end
/close

[2018-05-15 02:15] #199 closed

[2018-05-15 02:15] jlewi commented on #141
Closing this in favor of more specific issues with label area/front-end
/close

[2018-05-15 02:15] #141 closed

[2018-05-15 02:24] jlewi opened #810 "[central UI] needs a link to JupyterHub"
The central UI needs a link to JupyterHub.

This link should map to /hub

For this to work with Ambassador we most likely need #239 to be fixed so that Ambassaor know where to route traffic to /user and /hub to.

@swiftdiaries Can you look into this?

/priority p1

P1 because we want the central UI to be ready for our 0.2 release.

[2018-05-15 02:26] jlewi commented on #805
#810 add link to JupyterHub.

[2018-05-15 02:39] Cas-pian commented on #770
I met this problem too. After setting `jupyterNotebookPVCMount` to `/home/jovyan/work` and redeploy, no valid pvc is created for the notebooks, even logged in. I'm using ceph as backend storage

[2018-05-15 02:41] jiaanguo commented on #344
@gxfun @pineking @richarddli @jlewi
Same issue here. The ambassador container inside ambassador pod failed. After a fresh install of kubeflow version v0.1.2 on kubernetes v1.10.2, the error still exists. I also double check my kube-dns is working properly. Is there anyway to check the log of the ambassador container? docker://dafb1ff58852b79d80304536781fc6e962bbbf7ef81c7ef573ace15cf5c80f2e

[2018-05-15 02:47] ogre0403 commented on #770
@Cas-pian Because some issues aren't still resolved,  I thought the feature is not included in 0.1 branch.

For now, you can try master branch, `jupyterNotebookPVCMount` is work in master branch.

[2018-05-15 03:09] Cas-pian commented on #770
@ogre0403 OK, I'll take a look, thanks!

[2018-05-15 03:17] jiaanguo opened #811 "Ambassador failed to start up"
I have build a local cluster with kubeflow v0.1.2 running on kubernetes 1.10.2.
Everything works fine except the Ambassador container within Ambassador pod never being able to spawn up.

[code]

[code]
Any suggestions to fix the issue? Thanks in advance!

[2018-05-15 03:34] swiftdiaries commented on #808
Yeah sure thing 👍

On Mon, May 14, 2018 at 6:59 PM Jeremy Lewi <notifications@github.com>
wrote:

[2018-05-15 03:49] xieydd commented on #784
@jlewi when i rebuild kubeflow-core ，i didn`t  got the 401 error,a container named jupyter-username  was build but i got 500 error just like #78 description, below is my logs

[code]

I might be my kube-dns error ,i will check ,and return back

[2018-05-15 10:59] richarddli commented on #344
@gxfun can you post your full ambassador logs? `kubectl logs <ambassador-pod-name> ambassador` should work.

The scout warnings can be ignored. (Ambassador checks to see if it's running the latest version, but it doesn't require this.)

[2018-05-15 11:32] chrisheecho commented on #264
Not today's but next Community call, I would like to propose couple problems that we can look at as a community, decide on one or two problems to try -> then agree on which architecture choices we want to make if possible. does anyone have any objections?

[2018-05-15 13:56] kkasravi commented on #239
@jlewi working on it. ETA sometime today

[2018-05-15 23:10] pdmack commented on #811
Probably need to see the events:
`kubectl get events -n kubeflow | grep ambassador`

Can you try just running it directly and see what it logs?
`docker run quay.io/datawire/ambassador:0.30.1`

`Exit Code: 137` means SIGKILL I believe.

[2018-05-15 23:23] lluunn opened #815 "TF Serving test flaky"
<img width="1199" alt="screen shot 2018-05-15 at 16 22 11" src="https://user-images.githubusercontent.com/32310205/40088529-30a2b326-585c-11e8-987a-465665621551.png">

external/org_tensorflow/tensorflow/core/platform/cloud/retrying_utils.cc:77] The operation failed and will be automatically retried in 1.54867 seconds (attempt 1 out of 10), caused by: Unavailable: Error executing an HTTP request (H

[2018-05-16 00:13] kunmingg commented on #742
/close

[2018-05-16 00:13] #742 closed

[2018-05-16 01:29] xieydd commented on #811
@pdmack same issue: this is my logs

[code]

[2018-05-16 03:00] xieydd commented on #752
@inc0 How to create (temporarily) permissive RBAC rules?

[2018-05-16 03:14] #669 closed

[2018-05-16 03:49] jlewi opened #816 "Trigger docker build images on post-submit"
We'd like to trigger building our docker images on every post-submit.

In #666 we created a cron job to regularly run Argo workflows to build our docker images.

This issue goes one step further and triggers these workflows on each postsubmit.

We can use Prow to trigger jobs on post submit. The problem is securing this so that we don't give unvetted code access to our release artifacts (including

[2018-05-16 05:26] jiaanguo commented on #811
Running ambassador locally seems no issue at all.
`<`
Digest: sha256:652d3f1de1055624f035eba33299babc7c3f30a0a78c1f206730aa31bed96bf6
Status: Downloaded newer image for quay.io/datawire/ambassador:0.30.1
./entrypoint.sh: set: line 65: can't access tty; job control turned off
2018-05-16 05:22:30 kubewatch 0.30.1 INFO: No K8s
2018-05-16 05:22:30 kubewatch 0.30.1 INFO: generating config with gencount

[2018-05-16 12:39] pdmack commented on #811
Sounds somewhat like datawire/ambassador#240

Can you research or open issues with that project? Is this on minikube? There may be a problem with your kube-dns.

[2018-05-16 18:18] lluunn opened #818 "Bootstrapper user guide issue"
1. `gcr.io/kubeflow-images-public/bootstrapper:latest` does not exist.
    There is only ` gcr.io/kubeflow-images-public/bootstrapperv20180429-v0.1.1-13-g108313ae-e3b0c4`
1. `flag provided but not defined: -email`when generating app. The image is not updated?
1. After rebuilding image, `{"filename":"app/server.go:309","level":"fatal","msg":"There was a problem initializing the app: mkdir /home/lun

[2018-05-16 18:32] kkasravi commented on #239
@jlewi finally getting the notebook under tf-hub-0 using ambassador as the proxy instead of configurable-http-proxy. Currently exposing an external IP (ks param set kubeflow-core tfAmbassadorServiceType LoadBalancer --env=$env). I'll now try with tf-hub-lb and then enable iap and see if that works too. PR is #817

[2018-05-16 21:12] richarddli commented on #811
@jiaanguo opened https://github.com/datawire/ambassador/issues/437, so we'll track this specific issue there.

[2018-05-16 23:49] jlewi commented on #811
Duplicate of datawire/ambassador#437

[2018-05-16 23:49] jlewi commented on #811
/close

[2018-05-16 23:49] #811 closed

[2018-05-17 00:09] jlewi commented on #264
Is there broad agreement about model metadata? e.g. what the API/ Spec should like? Lacking agreement on a common format for model metadata its not clear how different components could begin to work together without requiring the user to write specific glue code.

Also I don't understand why the operational complexity of an SQL database is a factor here. Most clouds have managed offerings and I su

[2018-05-17 00:11] jlewi commented on #784
Any luck?

[code]
This looks like a cluster networking issue or something is going wrong with JupyterHub.

My suggestion would be to try running a container (e.g. busybox) in the cluster and seeing if you can access `tf-hub-0:8081`

[2018-05-17 01:23] carmine opened #819 "Add multiple cpu architectures to the ci / build process"
This issue is a placeholder for a larger discussion around adding support for cpu architectures other than x86. The following things should be discussed

- [ ] How to incorporate this into the build process (ie the build design)
- [ ] What the immediate builds should be (ie ARM vX, ..)
- [ ] Additional GH issues, one per architecture, to do the implementation work
- [ ] Leverage Container Manifest

[2018-05-17 01:28] IronPan commented on #504
##  Proposal for kubeflow resource persistence

This proposal is based on the original [proposal](https://github.com/jlewi/community/blob/cdda54d44f94b4c063bbd7c1212b070c39f6ec55/proposals/provenance-logging.md) from @jlewi, with more implementation details.

![screen shot 2018-05-16 at 5 29 18 pm](https://user-images.githubusercontent.com/2348602/40150490-b8986140-592e-11e8-9315-070771261505.png)

[2018-05-17 01:32] xieydd commented on #784
I try it , and i am sure my kube-dns is not working,but the status is running;

[code]

[2018-05-17 09:06] everpeace commented on #727
Could we upgrade to ksonnet 0.10.2 ???

[2018-05-17 14:32] pdmack commented on #819
IMHO, we should be generally guided by the CPU arch provided by the frameworks we are enabling in Kubeflow, starting with TensorFlow obviously. These are generally x86_64 for Linux, macOS, and Windows from pip and conda.

[2018-05-17 17:32] lluunn opened #821 "Remove "alpha" in deployment manager config when gke-1.10.2 is public"
related #806

[2018-05-17 18:01] lluunn opened #822 "GKE deploy test failed because another process was deleting"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/814/kubeflow-presubmit/1558/

[code]
We need to wait and retry

 @jlewi

[2018-05-17 20:40] ankushagarwal commented on #727
I don't know if 0.10.2 fixes https://github.com/ksonnet/ksonnet/issues/502

[2018-05-17 20:52] #806 closed

[2018-05-17 21:37] inc0 commented on #264
I think schema is not (and shouldn't be for some time, at least until 1.0) clad in stone. I think this should be extensible anyway.

[2018-05-17 22:34] carmine commented on #819
x86_64 will most likely be the dominant architecture. But there are others, and for KubeFlow to have the widest appeal possible, we should prioritize what those others are.

In the widest sense, we could have a 1:1 correspondence to all kubernetes architectures. That could lead to a matrix of which architectures are supported by the frameworks we are enabling.

The motivation for this is:
1) Where

[2018-05-17 22:43] carmine commented on #819
I've added a pointer to container manifest v2.2 to the issue description  - ie https://docs.docker.com/registry/spec/manifest-v2-2/.

This could be leveraged if we go down this path and build out multiple container formats.

[2018-05-17 23:04] kunmingg opened #824 "Give release service account access to kubeflow-images-public"
Currently all release workflows are hosted by kubeflow-releasing, with service account:
```kubeflow-releasing@kubeflow-releasing.iam.gserviceaccount.com```
Need to make this account storage admin of project ```kubeflow-images-public``` in order to push images.

Related: https://github.com/kubeflow/kubeflow/issues/666

[2018-05-18 00:14] jlewi commented on #824
Done.
/close

[2018-05-18 00:14] #824 closed

[2018-05-18 03:16] xieydd opened #826 "horovod error"
@alsrgv @jiezhang @everpeace @jlewi
When I test horovod in [openmpi](https://github.com/kubeflow/kubeflow/tree/master/kubeflow/openmpi)

IMAGE=[kubeflow-openmpi-21x-test:latest](https://hub.docker.com/r/everpeace/kubeflow-openmpi-21x-test/)、[jiez/openmpi-controller:0.0.2](https://hub.docker.com/r/jiez/openmpi-controller/tags/)

master and 2 worker exit ,and the task is not complete

Below is logs

[2018-05-18 04:55] everpeace commented on #826
@xieydd Thank you for interesting openmpi package.   my image [`everpeace/kubeflow-openmpi-21x-test`](https://hub.docker.com/r/everpeace/kubeflow-openmpi-21x-test/) is not for public use.  Sorry for your confusion.

My image only contains `python3`.  Moreover my test image doesn't contain horvod/tensorflow but ChainerMN/Chainer.

If you wanted to try horovod, please follow the [runnig horovod sect

[2018-05-18 05:32] xieydd commented on #826
@everpeace
Thanks for your answer.
I try this `EXEC="mpiexec -n ${WORKERS} --hostfile /kubeflow/openmpi/assets/hostfile --allow-run-as-root --display-map -- python3 /chainermn-examples/mnist/train_mnist.py -g`, but it doesn`t work.

I will try use other image

[code]

[2018-05-18 07:00] xieydd commented on #826
I use office image : `uber/horovod:0.12.1-tf1.8.0-py2.7`

Below is the master logs:

[code]

[2018-05-18 07:03] everpeace commented on #826
@xieydd oh, sorry.  I forgot that the image only contains cuda-aware openmpi....  Please try to use other images.  If you don't mind.  could you close this issue??

[2018-05-18 07:09] xieydd commented on #826
@everpeace Ok , i will close the issue,but i try other image below,could you help me ?

[2018-05-18 07:14] #826 closed

[2018-05-18 09:46] everpeace commented on #826
@xieydd I'm not familiar horovod though. (I actually use this package mainly for ChainerMN).

But, I'm happy to help you. hmm... In my environment,  learning process successfully started...

[code]
Have you faced at this issue yet??

[2018-05-18 13:18] jlewi commented on #822
/assign jlewi

[2018-05-18 13:31] jlewi opened #828 "Docs for how to make changes to Docker images"
#817 Is an example of a PR that requires changes to a Docker image.

Kubeflow developers need a way to make changes (e.g. to our ksonnet components) that depend on updated Docker images.

Giving direct access to our registries so people can manually push an image won't scale very well.

I suggest the following process

1. Developer submits a PR updating the Dockerfile
1. Developer waits for the im

[2018-05-18 14:01] jlewi opened #829 "Bootstrapper should optionally use config map to specify ksonnet parameters"
I propose the bootstrapper optionally take a YAML file that looks like the following

[code]

The idea of passing parameters to the bootstrapper using a config map was first suggested by @inc0 . There were a couple questions about how to do this in particular

    1. Not creating yet another templating / config layer around ksonnet
    1. Exposing all parameters consistently and not selectively

I

[2018-05-18 16:59] inc0 commented on #479
Still better than alternative, I'll bump version as soon as it hits stable

[2018-05-18 17:17] lluunn commented on #807
We don't need this as deployment manager deploys the new agents as well

[2018-05-18 17:17] #807 closed

[2018-05-18 17:31] kunmingg commented on #828
Sounds good, we can adjust cron build frequency to shorten waiting time if image might need update quite often.

[2018-05-18 17:33] lluunn commented on #816
Shouldn't we only build when images are changed in the PR?
But not sure how easy is that.

[2018-05-18 17:35] willingc commented on #479
@pdmack @inc0 Just an FYI 0.9b2 is out for JupyterHub https://github.com/jupyterhub/jupyterhub/releases/tag/0.9.0b2

[2018-05-18 18:30] #809 closed

[2018-05-18 18:55] lluunn opened #830 "Unify and dedup release workflows"
We have different workflows in different places for, e.g. tf serving and notebook.
https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md

We should dedup that using https://github.com/kubeflow/kubeflow/blob/master/components/build_image.py

[2018-05-18 18:55] jlewi commented on #828
Medium term we should fix #816 so we build on post-submit.

[2018-05-18 18:56] jlewi commented on #828
/priority p2

[2018-05-18 19:00] jlewi commented on #822
I think this problem is because our test runs aren't using unique names for the resources like the cluster, node pools etc.. So there's cross talk between the deployments.

/assign @kunmingg

[2018-05-18 19:10] ankushagarwal commented on #830
A big +1 for this

[2018-05-18 20:10] jlewi commented on #822
I'll take a stab at this because I'm hitting it in my presubmits.
/assign @jlewi
/unassign @kunmingg

[2018-05-19 00:16] #793 closed

[2018-05-19 01:42] kunmingg commented on #829
/assign kunmingg

[2018-05-19 20:51] jlewi opened #832 "bootstrapper error trying to create the PyTorch Operator"
I created a newly built image of the bootstrapper

[code]

When I ran the bootstrapper (as part of #823) I got the following error

[code]

This looks like a versioning issue; I'm guessing the bootstrapper is using an older version of the Kubeflow registry baked into the image that doesn't include the PyTorch operator.

I think #829 might provide a work around because we could specify via config m

[2018-05-19 21:35] jlewi commented on #832
/assign @kunmingg

[2018-05-19 21:40] jlewi opened #833 "GCP deployment manager test handle internal errors"
In #823 we observed test flakes during teardown due to internal errors.

[code]

We should make the tests more robust to these flakes.

/priority p1

[2018-05-20 18:57] aronchick opened #834 "Proposal: Explore using escalator for auto-scaling batch jobs"
Could be super useful! https://github.com/atlassian/escalator

[2018-05-21 06:14] aisensiy opened #835 "JupyterHub GitHub OAuth Setup missing manifest/config.yaml files"
Just read the doc in [https://github.com/kubeflow/kubeflow/tree/master/components/jupyterhub](https://github.com/kubeflow/kubeflow/tree/master/components/jupyterhub) but still feel very confusing and dont know what to do.

I just right doc from jupyterhub and knows that I can send a `config.yaml` during helm version jupyterhub installation. And during the doc in kubeflow it said:

But where is the

[2018-05-21 08:50] johnugeorge commented on #834
Is this planned for autoscaling up/down nodes based on the resource usage(eg: CPU/Memory)  when multiple TF JOBS are run on the cluster?

[2018-05-21 12:07] jlewi commented on #187
/assign @aronchick

[2018-05-21 12:37] jlewi commented on #784
I didn't understand what you are asking.

We run 3 ambassadors because that just happens to be the default and we haven't changed it.

If the problem is kube-dns your best bet would probably to try the Kubernetes mailing list for help. You can try looking at the logs of kube-dns.

[2018-05-21 13:08] jlewi commented on #778
@jiezhang @everpeace I see two issues labeled area/openmpi ? Is the list complete? Does it include items related to Horovod and Open MPI support?

[2018-05-21 13:20] jlewi opened #836 "E2E test verifies Kubeflow installed via Deployment Manager"
Background:
    #823 Start Deploying bootstrapper via deployment manager
    #757 Install Kubeflow by the deployment manager

To verify this is working we need to update the E2E test to verify that Kubeflow is actually deployed correctly. I think this is currently blocked by #832

/assign @kunmingg

[2018-05-21 13:26] jlewi commented on #722
@kunmingg @inc0 what's the status of this issue?

[2018-05-21 15:15] everpeace opened #838 "[openmpi] `volumes/volumeMounts` support"
Users sometimes wanted to add volumes to openmpi pods.  Particularly, when kubernetes cluster mounts NFS, users would want to mount `hostPath` volume to their containers.  Moreover, [kubernetes volumes](https://kubernetes.io/docs/concepts/storage/volumes/) supports various volume types.  So, this feature would also be useful for users who wanted to save their data to external volumes.

I experimen

[2018-05-21 15:16] #835 closed

[2018-05-21 15:16] erikerlandson commented on #187
FWIW my two favorites are still:

![image](https://camo.githubusercontent.com/2b38725848946e4e6777b36be0acdf087b3a60ef/68747470733a2f2f667265657661726961626c652e636f6d2f6b662d736d616c6c322e706e67)

![image](https://user-images.githubusercontent.com/5319646/37641037-2398b4d0-2c53-11e8-9ea9-906fe8c57fbc.jpg)

[2018-05-21 15:20] everpeace commented on #778
@jlewi I would like to support one more feature of `volumes/volumeMounts` support (#838) if I could once kubeflow supports ks `0.10.2`(#727).   I set p2 to it because I'm not sure #727 was fixed before kubeflow 0.2 🙇   This would be the last issue from me for kubeflow 0.2.