[2020-05-26 19:52] #4921 closed

[2020-05-26 19:53] jlewi commented on #5010
@ConverJens yes a virtual service is required. A virtual service is required to tell ISTIO how to route traffic to your backend. The ISTIO virtual service should be created by the notebook controller.

I would suggest looking at the notebook controller logs to see why the virtual service isn't being created.

[2020-05-26 19:58] AndrewLeach opened #5042 "UI Metadata failing to write for public components"
/kind bug

**What steps did you take and what happened:**
When running dataproc create cluster op (and other GCP specific ops) compiled from tag 0.5.1 or master, UI metadata is failing to write, and arti.facts are not rendered

![Screen Shot 2020-05-26 at 11 51 51 AM](https://user-images.githubusercontent.com/7063614/82941013-84a4a380-9f4a-11ea-865c-769307f90c4e.png)

**What did you expect to happ

[2020-05-26 20:02] ConverJens commented on #5010
@jlewi Will do! Thanks for the pointer. I'll let you know what I find.

[2020-05-26 20:09] jlewi commented on #4955
What does reconcilation and reuse actually look like?  Given the KFP, Katib, Job operators, etc... are all being developed by different individuals and often different organizations with different timelines and priorities; how do we go about reconciling?

[2020-05-26 20:19] #4144 closed

[2020-05-27 04:12] wenmin-wu commented on #5014
Hi @Bobgy, thanks for your help, I successfully got the scheduled time and current time by using these macros. The value I got today is `"20200527035000 - 20200527035002"` of `"[[ScheduledTime]] - [[CurrentTime]]"` . Let me close this issue.

[2020-05-27 04:12] #5014 closed

[2020-05-27 05:10] chelarua commented on #4876
Ok for me

[2020-05-27 07:55] marwanfahmi opened #5043 "Spark operator within Kubeflow"
Hello,

I'm trying to execute a Spark job in a Kubeflow pipeline using a resourceOp, I'm using Kubeflow on GCP instance running a private GKE. I have an issue getting this to work in the KF namespace, I get a java socket closed message, however, when I try to install the operator in another namespace and execute the job manually it works. The KF pipeline runs in the KF namespace.

What could be pr

[2020-05-27 11:00] ConverJens commented on #5010
@jlewi You were right about the virtualservice. Adding it manually fixed made the notebook server reachable through the dashboard. Still haven't found why it wasn't automatically created.

[2020-05-27 11:41] ConverJens commented on #5010
@jlewi Found the issue, for some reason the USE_ISTIO var is hard-coded to false in notebook-controller/base/deployment.yaml. So even though USE_ISTIO is set to true in notebook-controller/overlays/istio/param.env the Kustomize merge will fail since base/deployment.yaml doesn't use the variable USE_ISTIO. That resolves it for me. Thanks for the help!

[2020-05-27 13:08] leela-uppuluri commented on #5020
@jbottum Do you have any suggestions or feedback on this?

[2020-05-27 17:43] siddharthjain1611 commented on #4874
@jbottum A gsoc project is already going on this topic therefore I think we can close this issue.

[2020-05-27 17:43] #4874 closed

[2020-05-27 21:38] supertetelman commented on #4573
I've still had people asking for this, yes.

[2020-05-28 01:29] jbottum commented on #4962
@Jeffwan Hi Jeff, we are getting close to the Kubeflow 1.1 cut date.   This seems like an important fix but I think there is work on AWS that is needed.  I have moved this to a P2.

[2020-05-28 01:34] jbottum commented on #4938
@jtfogarty Jeff - Are we getting closer to resolving?  Can this issue be downgraded to P2 or closed?

[2020-05-28 01:36] jbottum commented on #4960
@yanniszark Hi Yannis, Can this issue please be downgraded to P2 or closed before the 1.1 cut date please ?

[2020-05-28 01:40] jbottum commented on #4959
@jtfogarty is this in the proper area?  @Jeffwan @dilzeem Hi Guys - Can this issue be closed in the Kubeflow 1.1 timeframe.   I have downgraded it to a P2.

[2020-05-28 01:49] jbottum commented on #4906
@groszewn Hey Nick - Do you still need this enhancement ?  We are getting close to the Kubeflow 1.1 cut date.   Please let us know.

[2020-05-28 02:05] jbottum commented on #4818
@kimwnasptd @KonstantinosAnd Hi Guys, What is the status of this?   Can we have it by Kubeflow 1.1 or should we downgrade or push it to the next release?

[2020-05-28 02:06] groszewn commented on #4906
Hey @jbottum, it would be great to have this fix available.

[2020-05-28 02:08] jbottum commented on #4783
@jlewi Hey Jeremy - Any advise on this issue?

[2020-05-28 04:52] dzungductran commented on #5026
Ok, I figured out that I was doing it wrong by doing `kubectl port-forward -n kubeflow service/centraldashboard 8080:80; open localhost:8080`. I should follow the instructions: https://istio.io/docs/tasks/traffic-management/ingress/ingress-control/. After I did that, I was getting bunch of errors about can't forward traffics.

I did: `kubectl logs -n istio-system istio-ingressgateway-5b8dd9c7fb-sb

[2020-05-28 12:01] mattiasarro commented on #4762
For me running it twice did not work, though I guess it would have worked had I waited long enough. The error occurred somewhat randomly, a few times when installing a fresh cluster on AWS EKS. For me the issue was that one `cert-manager-cainjector` pod was in ImagePullBackoff. Deleting this pod spawned a new one which was able to pull the image, and after that `kfctl apply` worked.

[code]

[2020-05-28 12:04] sakaia commented on #4762
I also met same error.

[code]

[2020-05-28 12:13] dilzeem commented on #4959
@jbottum we put using within our org/team kubeflow on hold until this is has been resolved. i am sure we can find ways around it, but we don't have the resources currently to investigate this further.

[2020-05-28 14:14] jlewi commented on #3650
Closing in favor of: kubeflow/gcp-blueprints#33

[2020-05-28 14:14] #3650 closed

[2020-05-28 16:37] jbottum commented on #4650
@liuchintao @dzungductran Hi Guys - Did you get this documented?  Should we post this?  Can we close this issue?

[2020-05-28 16:42] dzungductran commented on #4650
You can close it. I found that istio is not setup correctly on my on-premise K8S using the istio setup from KF. I haven't debug the actual setup of istio yet. I got it to work by reinstall istio after KF installation.

[2020-05-28 16:58] #4650 closed

[2020-05-28 17:12] #4876 closed

[2020-05-28 17:15] jbottum commented on #4866
@bnussbau Hey Benjamin - Is this issue still open?   Did you have it resolved?  Can we close this?

[2020-05-28 17:29] jbottum commented on #4855
@Oblynx Hi Konstantinos - We have not found a resource to work on this in the Kubeflow 1.1 timeframe.   What is your priority for this enhancement?

[2020-05-28 17:36] jtfogarty commented on #4910
@unagaraju88 Using kfctl_k8s_istio.v1.0.1.yaml  is really a single user install so Manage Contributor will not be applicable

[2020-05-28 19:13] dan-slinky-ckpd commented on #4959
@Jeffwan We also operate a KF deployment with Cognito and are starting to look at Seldon. We can successful access the models if we grab our cookies from the browser but this is less than ideal. Is there any more information on a programatic access approach when using Cognito?

[2020-05-28 20:14] NikeNano commented on #4828
If any one else end up here, wait a couple of minutes up to ~20 ish and you should be good!

[2020-05-29 08:06] bnussbau commented on #4866
@jbottum Hey, i was not able solve this yet. As a workaround I acquired the let's encrypt certificate via a local server outside from kubernetes and copied it manually. not an ideal solution. Thx @Oblynx for your workaroud description as well

[2020-05-29 10:07] tranlyvu commented on #4806
Does anyone have any idea about this issue, , we have the same problem:
`
deployment.apps/cert-manager-webhook configured
apiservice.apiregistration.k8s.io/v1beta1.webhook.cert-manager.io unchanged
application.app.k8s.io/cert-manager configured
validatingwebhookconfiguration.admissionregistration.k8s.io/cert-manager-webhook configured
WARN[0473] Encountered error applying application cert-manager:

[2020-05-29 13:30] jlewi commented on #3907
/lifecycle frozen

[2020-05-29 14:00] #4685 closed

[2020-05-29 14:36] jlewi commented on #4783
Duplicate of #4808

[2020-05-29 14:59] jlewi commented on #4969
Sounds like it might not be an issue with Kubeflow but an issue with ISTIO and gRPC. I have you searched the ISTIO forums to see if this is a known issue?

[2020-05-29 15:02] jlewi commented on #4519
@humantargetjoe @supertetelman see kubeflow/kubeflow#4863 your issue is different from this issue about istio side car readiness.

[2020-05-29 15:10] jlewi commented on #4730
The intent is for the `kubeflow` namespace to be the control plane and by this definition not being able to run workloads in that namespace seems like its working as intended.

If what you really mean is a "standalone" deployment of katib as opposed to an install of Kubeflow then its kind of up to you. I guess my question would be why would the standalone, single deployment of Katib install and co

[2020-05-29 20:00] pvgbabu commented on #4005
Hi All, Any iupdate on this, I am facing same issue. how to install docker in kubeflow notebooks for fairing

[2020-05-30 00:56] gaocegege commented on #4730
SGTM

[2020-05-30 02:39] pinglin opened #5046 "User example@domain.com is not authorized to list .v1.namespaces for namespace: None"
/kind bug

**What steps did you take and what happened:**

1. Deploy Kubeflow with KFDef [kfctl_istio_dex.v1.0.2 ](https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_istio_dex.v1.0.2.yaml)

2. Login to the Kubeflow dashboard through Dex OIDC and navigate to `Notebooks Servers` page

3. A snack bar pops out showing `User example@domain.com is not authorized to list .v1.namespaces for nam

[2020-05-30 21:59] shawnzhu commented on #5031
@aurorazl kubeflow 1.0.2 runs on k8s v1.8.2 well when using kfdef https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_istio_dex.v1.0.2.yaml So please provide details on what doesn't work.

Notice one thing you might need to do is enable istio _SDS_ support. see details from https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/#notes-on-the-configuration-file

(If you're using Miniku

[2020-05-30 22:56] shawnzhu commented on #4980
I can not reproduce this defect by deploying `kfctl_istio_dex.v1.0.2.yaml`. It works for me that it populates the current namespace value into the **read-only** (i.e., disallow user to input) input box labled `namespace`. Underneath it comes from the API response of `/api/workgroup/env-info`.

This is unexpected since the role `centraldashboard` is able to list resource `application`:

[code]

See

[2020-05-30 23:41] tduffy000 commented on #5031
@shawnzhu I assume you meant kubeflow 1.0.2 runs ok on _k8s v1.18.2_? Does that mean [this](https://www.kubeflow.org/docs/started/k8s/overview/) needs updating?

[2020-05-31 17:28] jbottum commented on #4712
@jtfogarty Hey Jeff - did this issue get resolved?  Can we close it ?

[2020-05-31 18:02] jlewi commented on #5046
/cc @johnugeorge @yanniszark

[2020-05-31 18:05] jlewi commented on #5043
Are you able to run spark jobs in the KF namespace directly without using pipelines to launch the spark job?

I'm unclear about the connection is between the java socket closed error and the spark operator not being able to create a pod. What is the connection between these two? What is reporting the java socket closed and how does this relate to pod creation?

/cc @holdenk

[2020-05-31 18:06] jlewi commented on #5042
/cc @jessiezcc

[2020-05-31 18:07] jlewi commented on #5041
/cc @Jeffwan

[2020-05-31 18:18] jlewi commented on #5013
Is the rest of Kubeflow working?

Possibly related to kubeflow/kfserving#760

It looks like the error is that the kfserving-ingressgateway is trying to allocate ports that are already assigned. Is that

@krishnadurai  Whatever happened with the kfserving-gateway? Did that get reverted? It looks like it was added in kubeflow/manifests#949 but I no longer see it on master
https://github.com/kubeflow

[2020-05-31 18:29] TomVanWemmel commented on #5041
We have managed to solve this issue.
From https://github.com/istio/istio/issues/7449#issuecomment-524725058

[2020-05-31 19:23] holdenk commented on #5043
Can you send the error logs from the operator? I'm a bit confused by what you're experiencing.

[2020-06-01 01:27] andreyvelich commented on #4730
I think users want to have standalone Katib deployment only if they installed it without other Kubeflow components. So it is not necessary to change Kubeflow namespace labels.

In that situation our validation webhook can work this way:

1. If [`KATIB_CORE_NAMESPACE`](https://github.com/kubeflow/katib/blob/master/manifests/v1beta1/katib-controller/katib-controller.yaml#L36) has label `control-plan

[2020-06-01 01:30] shawnzhu commented on #5031
@tduffy000 Sorry, I mean k8s v1.18.2. and it works for me. Let me bring this topic in slack to get more inputs.

[2020-06-01 06:23] ConverJens commented on #5010
@jlewi There is an overlay with a var that sets USE_ISTIO=true. However, for some reason Kustomize still produces a configmap with USE_ISTIO=FALSE.

I'll chech if this is still an issue when 1.1.0 is released and let you know.

[2020-06-01 08:38] aurorazl commented on #5031
@shawnzhu I installed kubeflow 1.0.2 on k8s v1.18.2 using kfctl_k8s_istio.The Kfserving example meets a problem "Cannot POST /v1/models/flowers-sample:predict".Now i try to solve it.

[2020-06-01 08:54] descampsk commented on #1394
Got the same issue.

[2020-06-01 09:07] Oblynx commented on #4855
Hi, thanks for checking in!
Leaking the OIDC secret could help malicious tenants compromise the deployment. For small scale deployments with select users this isn't a big concern, but we are considering a production deployment by late September where mitigation will be necessary.

[2020-06-01 13:04] Hrishkesh commented on #4080
I am also interested in this feature. @kaikun213 I believe this question is regarding how can u open an ssh connection into the jupyter notebook pod. The solution which you have mentioned is to open jupyter web ui from local using tunneling, but I want to know how we could open port 22 from jupyter pod so that u can connect to the pod terminal using putty/vs code.

[2020-06-01 13:06] adrshm91 commented on #4080
I am also interested in this feature. @kaikun213 I believe this question is regarding how can u open an ssh connection into the jupyter notebook pod. The solution which you have mentioned is to open jupyter web ui from local using tunneling, but I want to know how we could open port 22 from jupyter pod so that u can connect to the pod terminal using putty/vs code.

[2020-06-01 13:32] dennis1du commented on #4968
Hi, does anyone find a solution? Thanks.

[2020-06-01 13:46] yanniszark commented on #4968
cc @jlewi @jessiezcc
@MiHess @dennis1du  the pipelines repo would be a better place for this issue.

[2020-06-01 13:49] dennis1du commented on #4968
Thanks!

[2020-06-01 13:53] dennis1du commented on #4968
One more question: where should I get the training data? For example, gs bucket, or other place? Thanks so much!

[2020-06-01 17:12] tduffy000 commented on #5031
@aurorazl how are you pinging the endpoint? did you setup the por tforwarding as well?

[2020-06-01 23:00] jbottum commented on #5040
@yuzisun Hey Dan, Is there someone in the kfserving area that might look at this issue?

[2020-06-01 23:01] jbottum commented on #5040
@edenbuaa Hi edenbuaa - is this running on GCP ?

[2020-06-02 00:28] jlewi commented on #4932
I stand corrected looks like cert-manager might have specific issues related to private GKE.
https://docs.cert-manager.io/en/release-0.11/getting-started/webhook.html#running-on-private-gke-clusters

Although I think firewall rules blocking the webhook will manifest as errors like the following

[code]

I think the original error might have been different and might have been the race condition I i

[2020-06-02 00:35] jlewi commented on #4932
Looks like adding a firewall rule like the one below fixed this.

[code]

This will be part of the blueprint see: https://github.com/kubeflow/gcp-blueprints/issues/33

[2020-06-02 02:13] #4903 closed

[2020-06-02 02:32] jlewi commented on #5022
@terrytangyuan @Jeffwan any updates on process and timelines for 1.1?

One piece of process that we could get started on is ensuring the manifests in kubeflow/manifests have up to date docker images. We should have automation in place to automatically create PRs e.g
https://github.com/kubeflow/manifests/pulls?q=is%3Apr+is%3Aopen+%5Bauto+PR%5D

So we just need to work on getting those PRs merged.

[2020-06-02 02:39] jlewi commented on #1394
@kimwnasptd thoughts?

[2020-06-02 02:44] #4906 closed

[2020-06-02 03:06] jlewi commented on #4730
@andreyvelich What is KATIB_CORE_NAMESPACE?  Where is your webhook being configured? I don't see it in:
https://github.com/kubeflow/manifests/tree/master/katib

Are webhooks being created by your controller as opposed to being defined declaratively?

[2020-06-02 07:04] joepeskett commented on #4932
@jlewi just a heads up that we also needed an extra firewall rule for port 8443 for Katib and KFserving controllers to function correctly on a private cluster. Can dig up some more details if helpful.

[2020-06-02 07:59] micemuni opened #5047 "kfctl - could not get platform aws Error Failed to create config file from /root/.kube/config"
Hello All,
I am using https://github.com/kubeflow/kfctl/tree/v1.0.2 kfctl docker image to deploy kubeflow https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/ in AWS cloud and used https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_aws.v1.0.2.yaml ( i have customized this yaml file )

Details FYI -- Using kubernetes_job resource to run "kfctl apply -V -f ${CONFIG_FI

[2020-06-02 11:52] andreyvelich commented on #4730
It is core namespace where Katib components are deployed (https://www.kubeflow.org/docs/components/hyperparameter-tuning/env-variables/#katib-controller).

Yes, validation webhook is created by Katib controller. It runs `ValidateExperiment` after user submits Experiment (https://github.com/kubeflow/katib/blob/master/pkg/webhook/v1beta1/experiment/validator/validator.go#L45)

[2020-06-02 12:16] jlewi commented on #5041
Thanks glad you were able to resolve it.

[2020-06-02 12:16] #5041 closed

[2020-06-02 12:23] jlewi opened #5048 "[GCP] Cloud Endpoints Controller Doesn't Correctly Handle The Case Where Service Is Being Deleted"
/kind bug

If you deploy Kubeflow, delete it, and then redeploy with the same then the cloud endpoints controller will fail to create the service. The problem is that the cloud endpoints service will still be in the delete state and needs to be undeleted.

This is described in more detail here:
https://github.com/kubeflow/kubeflow/issues/3230#issuecomment-531532226

The problem is that the CloudEn

[2020-06-02 15:02] terrytangyuan commented on #5022
@jlewi Unfortunately I've been a little overwhelmed with work and family recently. I don't think I'll have too much bandwidth and will just chime in and get familiar with the overall process this time. Please cc me in any PRs/issues that need my reviews or feedback.

[2020-06-02 19:22] blankenshipz commented on #5013
@jlewi I'm not sure if the rest of kubeflow was working or not, I abandoned trying to get it running. I'll gladly come back and try again though.

[2020-06-02 21:11] alexbarta commented on #4762
same issue on fresh k8s installation v1.15.12

[2020-06-02 21:54] yuzisun commented on #5040
@edenbuaa is this the same issue we have been discussing in https://github.com/kubeflow/kfserving/issues/833 ?

[2020-06-02 22:14] yuzisun commented on #5013
@jlewi `kfserving-gateway` was not reverted cleanly in 1.0.2 https://github.com/kubeflow/manifests/issues/1142, @Jeffwan fixed it in the 1.0 branch and I cleaned up in the master.

[2020-06-03 00:57] jshelman commented on #1394
i got around this with a simple hack in this case.    setting the kubeflow-userid header to a value in the culler allowed the request to complete.

[2020-06-03 01:14] jbottum commented on #5047
@Jeffwan Hi Jiaxin, is there someone that could look at this issue?

[2020-06-03 04:19] sai196 opened #5049 "Kubeflow Deployment through yaml failing with forbidden error"
following the installation guide
https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/
duirng the Set up and deploy Kubeflow launching the below command
/kfctl apply -V -f kfctl_k8s_istio.1.0.2.yaml

we receive the following error :

For more info: https://www.kubeflow.org/docs/other-guides/usage-reporting/
****************************************************************
  filename="coordinat

[2020-06-03 08:02] edenbuaa commented on #5040
@jbottum  it's not running on GCP, it's my local cluster.
@yuzisun this not that question. I want to know how to config a loadbalancer for kfserving or istio in my local cluster.

[2020-06-03 08:06] descampsk commented on #1394
Could you provide more details to your hack :) ?

[2020-06-03 09:08] kimwnasptd commented on #4758
@jl-massey we (Arrikto) also believe that currently the handling of PVCs/PVs is a pain point.

We have developed a Managment UI, similar to the one for managing Notebooks, that will handle PVCs. This will allow users to keep track of the PVCs in the different Namespaces and perform CRUD actions from a UI.

I'm planning to demo this in the following community meeting on Tuesday, June 9th. Feel free

[2020-06-03 09:23] Ventals commented on #3776
@rajesh-chawla btw, which method you selected? And how configured access?

[2020-06-03 12:22] marwanfahmi commented on #5043
Hi @holdenk & @jlewi,

Basically, I have the operator installed into the KF namespace. When I try to execute a spark job using this operator it fails with error:

`Exception in thread "main" io.fabric8.kubernetes.client.KubernetesClientException: Operation: [create]  for kind: [Pod]  with name: [null]  in namespace: [kubeflow]  failed.
	at io.fabric8.kubernetes.client.KubernetesClientException.lau

[2020-06-03 13:23] jlewi commented on #5013
Thanks @yuzisun so it sounds like the solution is to either use the latest on the branch or possibly master.

[2020-06-03 13:38] jlewi commented on #5022
@gaocegege @johnugeorge @terrytangyuan @andreyvelich Can someone volunteer to be the release czar of the training related components?

The release czar would be responsible for coordinating delivery of updated manifests for the following applications

* Katib
* TFJob
* PyTorch
* MxNet?

[2020-06-03 13:43] jlewi commented on #5022
@kimwnasptd Are you willing to take ownership of coordinating updated manifests for the jupyter web app?

[2020-06-03 14:09] jlewi commented on #5022
@animeshsingh @cliveseldon @ellistarn @yuzisun Is someone willing to coordinate the delivery of 1.1 manifests and binaries for KFServing?

[2020-06-03 14:24] jlewi commented on #5022
@rmgogogo @Bobgy Who is going to be the primary person coordinating delivery of KFP for KF 1.1?

[2020-06-03 14:25] cliveseldon commented on #5022
will by default the latest Seldon manifest from master be brought in or is a cherrypicking still required? @jlewi

[2020-06-03 14:27] johnugeorge commented on #5022
The task would be releasing releases for individual components and updating it in the manifests.
right?

[2020-06-03 18:19] celinew1221 commented on #5031
Install microk8s 1.18.2 + kubefflow 1.0.0 using kfctl_k8s_istio. KFServing is not working. Got `404 Not Found`

[code]
There is no status for inference service.
[code]
Details
[code]
No port-forwarding. Using KFServing tensorflow examples.

The same example is teseted under microk8s 1.15 with the same manifest. Confirmed working.

[2020-06-03 18:48] yanniszark commented on #5031
Kubeflow should be working for K8s 1.18 (as well as 1.15, 1.16 and 1.17).
The website text is misleading at this point.
We unfortunately don't have CI validation, but we have multiple user reports.
Let's continue discussion on https://github.com/kubeflow/website/pull/1933 to see how we can better communicate this situation to users.

[2020-06-03 19:22] tduffy000 commented on #5031
Thanks for the update @yanniszark 👍

[2020-06-04 00:45] yahavb opened #5050 "dashboard does not support https"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
The kubeflow dashboard istio-ingressgateway does not support https so the cognito call-back URL is not working.

**What did you expect to happen:**
Per https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/ after executing `kubectl patch service -n istio-system istio-ingressgateway -

[2020-06-04 01:59] jshelman commented on #1394
I consider it a hack, because I didn't have time to fully understand enough to fix it correctly.   I assume this works because the istio service mesh is expecting this in the header - even though the api status call is un-secured.

git diff.
[code]

[2020-06-04 02:42] Bobgy commented on #5022
I'll be the primary person coordinating KFP integration with KF 1.1.

[2020-06-04 03:05] tranlyvu commented on #4762
same issue here

[2020-06-04 07:34] alexbarta commented on #4762
Yesterday finally I was able to install it. In my case there was a routing issue between kube-apiserver pods and internal service endpoints including cert-manager service (calico networking w/ ipip encapsulation). I guess some problems with iptables but I didn't have much time for troubleshooting.

Basically I have reinstalled the cluster with flannel networking and installed kubeflow 1.0.2. After

[2020-06-04 11:43] jlewi commented on #5022
@johnugeorge Here's a quick list of tasks for individual release czars

1. Make sure up to date docker images are published
1. Make sure up to date manifests are in kubeflow/manifests
1. Make sure docs get updated

@cliveseldon We will cut a KF 1.1. branch from kubeflow/manifests master at some point. So whatever is on master at that point will become the starting point for what's in 1.1. If you m

[2020-06-04 11:48] nrchakradhar commented on #4590
@krishnadurai @@jtfogarty Can you please share your views about whether this will make it into 1.1 of kubeflow?

[2020-06-04 12:48] marcoleewow commented on #4997
@kaikun213 were you able to figure a way to access the dashboard UI via ssh? I encounter the same problem too

[2020-06-04 13:25] tranlyvu commented on #4762
@alexbarta Thanks, in my case
1) I reinstall ed my Kubenetes and used Flannel,
2) but my pod keep sticking in "creatingContainer" state, then I run https://docs.projectcalico.org/getting-started/kubernetes/flannel/flannel
3) then I reinstalled Kubeflow and it works

[2020-06-04 13:29] Ventals commented on #3776
I found that Grafana already exposed via Istio Gateway.
**On kubeflow version - 1.0.2**

By path **/istio/grafana/**
But have some trouble with availability, more info in this issue

[2020-06-04 13:55] Ventals opened #5051 "“If you're seeing this Grafana has failed to load its application files” Error Grafana"
/kind bug

**What steps did you take and what happened:**
Just open a Grafana dashboard by path - **/istio/grafana/** and catch error
[code]

**What did you expect to happen:**
Opens Grafana dashboards

**Anything else you would like to add:**
We can fix this by editing **grafana.ini** file

Steps
- **kfctl build**
- Go to **istio-install/base/istio-noauth.yaml** file
- On grafana config we must e

[2020-06-04 16:11] strawberrypie commented on #4848
It would be great to select which storage class to use for provisioning a volume.

[2020-06-04 17:32] johnugeorge commented on #5022
I will work with @andreyvelich for release of training components(TFJob and PyTorchJob) and Katib
/cc @andreyvelich

[2020-06-04 17:33] terrytangyuan commented on #5022
Awesome. Thanks! @johnugeorge @andreyvelich

[2020-06-04 17:44] alexbarta commented on #4762
@tranlyvu glad it helped

[2020-06-04 19:30] ConverJens commented on #5029
@xalekx Have you check the logs of centraldashboard? I had similar issues that were caused by the namespace variable in central dashboard failed to resolve at kustomize time causing lacking privileges for centraldashboard which gave me profile/namespace issues. One note however was that I used the 1.0.2 istio yaml for on-prem deployment and not the ibm one.

[2020-06-04 22:10] yuzisun commented on #5022
I will coordinate the KF 1.1 manifest release for KFServing.

[2020-06-05 04:00] hemangjoshi37a commented on #4005
Has anyone found any password yet for jovyan??

please help.

[2020-06-05 04:00] hemangjoshi37a commented on #425
Has anyone found any password yet for jovyan??

please help.

[2020-06-05 04:01] animeshsingh commented on #5022
add me along KFServing as well with @yuzisun

For the most part KFServing should be ready to go with release 0.3 (unless we plan to cut another one- which I wouldn't recommend unless necessity) as most of the heavy lifting to upgrade to KFServing 0.3 and Kustomize v3 manifests was done and tested last week in this PR here https://github.com/kubeflow/manifests/pull/1156

We will need to run through

[2020-06-05 09:57] Bobgy commented on #5022
### Pipelines Area Status
(Reporting status here, because the meeting is not China time zone friendly.)
Major work items left:
1. Complete KFP 1.0 release (rc1 just cut today)
2. Integrate KFP 1.0 into KF 1.1 manifest (argo DONE, others to be worked on)
3. Enable KFP multi user mode

In total, I'm roughly estimating 2 weeks needed, but there's a lot of details there that might turn out to be harde

[2020-06-05 16:15] jlewi commented on #5022
@jinchihe Are you willing to drive the fairing release?

[2020-06-05 17:07] vkoukis commented on #5022
A status update: We'll produce a MiniKF release after KF 1.1 is out, this is what we have been doing so far, and make sure everything works e2e.

[2020-06-06 06:23] woop commented on #5022
@jlewi I had a chat with @jbottum about getting involved as an area lead for Feast. That doesn't exist as an area yet, but I can drive that if you are open to it.

[2020-06-07 13:26] LearnKen opened #5055 "Multi-worker training with Keras only use one GPU"
#### System information
[code]

**Describe the current behavior**
I use  Multi-worker training with Keras but it only use one Gpu
Error:
1.error: Internal: Complete shape not known for Adam/allreduce/CollectiveReduce_2
2.`eval_fn` is not passed in. The `worker_fn` will be used if an "evaluator" task exists in the cluster
3.Most import it only run one gpu
I run the code described below:

TEST 1: (3

[2020-06-08 08:26] Svendegroote91 opened #5056 "Kubeflow installation on microk8s failing at juju: timeout acquiring mutex"
/kind bug

**What steps did you take and what happened:**
When following the instructions on https://www.kubeflow.org/docs/started/workstation/getting-started-multipass/, the deployment script failed and the installation was not completed:

The output when running `microk8s.enable kubeflow`:

[code]

**What did you expect to happen:**
I would expect the installation script to finish and complete.

[2020-06-08 08:28] Svendegroote91 commented on #5056
Duplicate of #958

[2020-06-08 09:17] Svendegroote91 commented on #5056
Re-opening for confirmation if it's indeed due to connection issues?

[2020-06-08 13:16] Svendegroote91 commented on #5056
I can confirm that this is resolved by retrying the installation.

[2020-06-08 13:16] #5056 closed

[2020-06-08 13:18] jlewi commented on #5022
@woop That sounds great; it doesn't look like we have any docs on www.kubeflow.org about Feast. That might be the biggest item. I think its perfectly fine to link from www.kubeflow.org to existing Feast docs or markdown in GitHub.  Filed: kubeflow/website#1981 anything else that should be done for KF 1.1?

[2020-06-08 13:41] woop commented on #5022
Thanks @jlewi

Let's start with the documentation.

[2020-06-08 14:25] jlewi commented on #4789
We can probably break this into 2 steps

1. Just building the docker images automatically
1. automatically opening up PRs to update the config maps.

[2020-06-08 14:37] willb commented on #4789
@jlewi We're using Tekton pipelines for a closely-related use case; I'm happy to take a look later this week.

[2020-06-08 15:25] vincentarthur commented on #4961
Hi @yanniszark @jlewi , as you guys discussed on other thread related to KFP multi-user [https://github.com/kubeflow/pipelines/issues/3645](url), you did mentioned 1.1.0-alpha1.

As we are also trying to use Dex for kubflow, may i know if kfctl_istio_dex would upgrade to istio 1.6 ? or keep using 1.3.1. As we think tracing components is very useful.

Thanks.

[2020-06-08 20:27] Jeffwan commented on #5022
@jlewi

I was off last week and just come back.

I will help on training operator release as well. I've finished kubeflow/common migration for most of the operators. I think we will get these done by v1.1.

AWS side, we still have a few things not done yet. We will try to make it by release date.

[2020-06-08 20:41] Jeffwan commented on #5055
It would be better to submit this issue to https://github.com/kubeflow/tf-operator

[2020-06-08 20:46] Jeffwan opened #5057 "[AWS] Kubeflow 1.1 pending issues"
/kind feature

- [X] Update IRSA to include Region info in the name. Otherwise, different region kubeflow cluster will result in conflict IAM role names.
- [ ]  Easily setup AWS RDS in kubeflow_aws.yaml and we need corresponding changes in kfctl
- [X] Either enable basic auth or use dex for kubeflow_aws.yaml to provide a non Cognito (AWS managed Service) solution
- [X] Upgrade istio to 1.3.1 or hi

[2020-06-08 23:17] abdulsalama commented on #5018
@ettiee would it allow for parameterization based on the profile name (and/or the owner). For example, in my case, I want to attach a volume by default, but the subpath will be different for each profile. Like this:

[code]
So the PodDefault for profile1 will mount subpath home/profile1 and PodDefault for profile2 will mount subpath home/profile2, and so on...

[2020-06-09 03:44] jlewi commented on #4961
That's a question for @yanniszark and the other owners of `kfctl_istio_dex`.

[2020-06-09 06:25] dwang55 commented on #2196
I have the same problem when deploy kubeflow on local k82 cluster. Because of the GFW in china, I pull the all google images in advance. Then I use kfctl_k8s_istio.v1.0.2.yaml file to deploy kubeflow following the tutorial on website: https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/. It makes me confused that although the yaml file does not specify the images' repo or tag, k8s will pull

[2020-06-09 07:57] Svendegroote91 opened #5059 "microk8s enable Kubeflow stuck on cert-manager-webhook-tls certificate not found."
/kind bug

**What steps did you take and what happened:**
When enabling Kubeflow on microk8s, the deployment scripts gets stuck as it's waiting eternally for 4 remaining operators pods.

It looks like all the kubernetes pods are running but the juju status for some components seems broke:

![image](https://user-images.githubusercontent.com/33965133/84121006-debb6380-aa36-11ea-8289-82c08171b738.png

[2020-06-09 08:05] Svendegroote91 commented on #5059
I also posted this issue on microk8s: https://github.com/ubuntu/microk8s/issues/1280

[2020-06-09 08:06] jinchihe commented on #5022
@jlewi Yeah, Thanks.

[2020-06-09 09:55] matthiasfalk commented on #4815
This problem still persists. Is there any solution to it?

[2020-06-09 10:54] LearnKen commented on #5055
I had submited this issue to https://github.com/kubeflow/tf-operator  before yesterday
but no one answer me ...

[2020-06-09 11:41] hholst80 commented on #4678
Openshfit documentation still points to this issue. Update docs' ?
https://www.kubeflow.org/docs/openshift/install-kubeflow/

[2020-06-09 11:55] jlewi commented on #5022
@adrian555 @animeshsingh @kkasravi @yanniszark We still need an owner for kfctl; is one of you willing to volunteer? You would be responsible for cutting the kfctl branch and pushing releases.

@swiftdiaries @terrytangyuan @yanniszark we still need an owner for kubeflow/manifests. I think the responsibility would be to cut the release branch and tag it. Do I have a volunteer?

In addition, it look

[2020-06-09 11:59] jlewi opened #5060 "[Release 1.1] Release Jupyter"
/kind process

Opening this issue to track releasing jupyter for Kubeflow 1.1

Per #5022 we need the following

* Updated docker images (for controller, JWA, and notebook images kubeflow/kubeflow#4789)
* Updated manifests
* Updated docs

[2020-06-09 12:01] jlewi commented on #5060
We are still looking for an area owner for notebooks.

@jtfogarty I think you mentioned you might be interested?

@aronchick You also expressed interest in leading notebooks?

[2020-06-09 12:10] jlewi commented on #5022
Area leads could you please do the following

1. File an issue specific to the release of your area/application
1. Create appropriate GitHub teams in [org.yaml](https://github.com/kubeflow/internal-acls/blob/master/github-orgs/kubeflow/org.yaml) with necessary repository permissions to cut release branches and artifacts
    * Please name these teams "${foo}-release"
    * Grant only those individu

[2020-06-09 12:26] jlewi commented on #5022
A couple other areas where we still need owners

* metadata
* centraldashboard
* multiuser
   * @yanniszark any interest?

[2020-06-09 13:47] jlewi commented on #4985
/cc @jessiezcc

[2020-06-09 13:50] jlewi commented on #4947
I'm closing this as obsolete because with 1.1 we are switching to blueprints which will no longer use
deployment manager.
https://github.com/kubeflow/gcp-blueprints/tree/master/kubeflow

Blueprints use Cloud Config Connector to configure your GKE clusters and you can configure settings like node autoprovisioning using tools like kustomize to generate appropriate YAML specs.

[2020-06-09 13:50] #4947 closed

[2020-06-09 15:16] Jeffwan commented on #5022
@jlewi

I am familiar with kfctl, manifest, profile-controller,  notebook controllers. If you still need release owners in these area, Let me know.

[2020-06-09 17:02] lovishch20 opened #5061 "Unable to install Kubeflow 1.0.2 onPrem without Internet Access"
Hi Team,

Thanks for your support.

I am using Kubeflow from last 3-4 months and we are very happy using this tool.

Now, We got into the issue that Kubeflow goes down everytime the internet access is not there or there is restricted Internet.

Kindly let us know the approach/guidelines for the same so that Kubeflow can be Up and Running without internet once everything is setup.

We are installin

[2020-06-09 17:31] abdulsalama commented on #4215
@yanniszark do you mind sharing the code you have so far for this?

[2020-06-10 10:51] jlewi commented on #3578
@kimwnasptd How is this going? What is the GitHub ID of the student working on this?

[2020-06-10 11:39] vpavlin commented on #5060
@jlewi A few people from our team started to look into notebook controller recently and would be happy to help with the release - cc @4n4nd @durandom

[2020-06-10 13:56] GDegrove opened #5062 "Set ImagePullSecrets for all pods in all namespaces"
/kind question

**Question:**
Hey team,

Thanks for the great job on kubeflow. I'm trying to deploy it in a private cluster that does not have access to any registry except ours.
The registry is hosted internally and we need to authenticate with it in order to pull the images.
I made the switch of docker registry with the help of `kftctp alph set-image-name`, and upload all them internally.

But w

[2020-06-11 00:03] WillianFuks opened #5063 "Google Cloud Storage 403 Forbidden Error"
**What steps did you take and what happened:**
Here's the step-by-step files to replicate the issue:

- create_cluster.sh
[code]

- build_sa.sh
[code]

- Dockerfile
[code]

- run.py
[code]

- components.yaml
[code]

- build_docker.sh
[code]

- compile_pipe.sh
[code]

- pipeline.py
[code]

- sync_pipes.sh
[code]

I then make the files executable:

    chmod +x build_docker.sh build_sa.sh compile_pi

[2020-06-11 13:53] cloudbow commented on #5057
* Make istio ingress generate an alb with lor(least outstanding request) algorithm as the default as part of target group loadbalancing.

[2020-06-11 14:44] jlewi commented on #4789
@jtfogarty also expressed some interest

[2020-06-11 14:47] jlewi commented on #5060
Here are some relevant issues:

* Our [CD infra](https://github.com/kubeflow/testing/tree/master/apps-cd#kubeflow-cd-with-tektoncd-pipelines) is described here
   * Ideally the controller and web app images are continuously being built and PRs are being opened against kubeflow/manifests
   * It looks like PRs are being [opened](https://github.com/kubeflow/manifests/pulls/kubeflow-bot) but the test

[2020-06-11 18:44] Jeffwan commented on #5057
@cloudbow I see Slack #aws channel has some asks on this. I think the ALB version we are using covers this feature and user can enable it using an annotation. I am not sure if we should make it default algorithm. Probably needs more data points or more explanation why this is needed as default.

[2020-06-11 19:16] yanniszark commented on #5018
This seems like a separate requirement. The current requirement was to have global PodDefaults.
You're saying that you want some form of templating.
cc @discordianfish who may have encountered something similar.
I'm not too sure about building a templating mechanism into PodDefaults to be honest.

[2020-06-11 20:17] Jeffwan commented on #4789
@jlewi Besides notebook images, profile controller needs to be update as well. Same as other training operators. This story is just for notebook, right? Do we have stories for others? If we don't have owners, let me know.

[2020-06-11 22:15] abdulsalama opened #5064 "Jupyter notebook creation UI parsing error resulting in blocking notebook creation in all profiles"
/kind bug

**What steps did you take and what happened:**
- Create a notebook server from UI
- In 'Memory' field, modify '1.0Gi' to '1.0GB'
- Click 'Launch'
- The new notebook server keep spinning and doesn't finish creating
- Further more, all other new notebooks creation in any profile will fail
- When looking at notebook controller, I see this error:

[code]

- It wasn't obvious to determine wh

[2020-06-11 22:52] Jeffwan commented on #5021
As I understand, upgrade feature only works for solution with persistent volume static provisioned? We have a few components use PVC and default storage class to dynamically provision cloud disks. I am curious if this has been covered?

[2020-06-11 23:48] #4733 closed

[2020-06-11 23:48] #4735 closed

[2020-06-12 02:15] jlewi commented on #4789
@Jeffwan  This issue is specific to the notebook images because it is the config maps that need to be updated.

We already have
https://github.com/kubeflow/testing/tree/master/apps-cd
which works for most of our other images.

We do need to make some config updates to work with the latest manifests. That is being tracked by
kubeflow/testing#631

[2020-06-12 05:07] supertetelman commented on #5061
Lovish, what do you mean "Kubeflow goes down"?

I recently upgraded to v1.0.2 and Kubeflow was up and running for a few hours and now won't come up. This is in a somewhat special lab environment and I'm wondering if this is related to your issue.

[2020-06-12 05:10] supertetelman commented on #3838
Is there any way I could help out with this feature? Getting this working is currently a big deal for a lot of the customers I am dealing with who are looking to use containers from http://ngc.nvidia.com/ that are not all built to start Jupyter by default.

[2020-06-12 07:03] cloudbow commented on #5057
ok, can we have doc item which says how to do this with kustomize ?

[2020-06-12 07:46] lovishch20 commented on #5061
It means that some pods of Kubeflow goes from Running state to CrashLoopBackOff.
Other point is The Kubeflow UI also doesnt work well when there is restricited Internet access.

Basically ,the requirement is to run Kubeflow On-Premises with restricted or No Internet access. We can use our own Docker private repository from where the Images would be pulled or using the already downloaded Docker Ima

[2020-06-12 08:09] cloudbow commented on #5057
* Show available memory and cpu for creating new pods as part of the drop down so that the pod won't end up in pod intializing state

[2020-06-12 08:32] cloudbow commented on #5057
I have tried installed grafana dashboars to find out the total cpu requested but what I found is that since the requests are not fully reserving the memory , the used memory will not show the requested memory . For eg; if someone requested for 10GB for notebook server its shown as used by any unix system since the memory is not allocated yet. But the request will get rejected even when no where it

[2020-06-12 10:40] krishnadurai commented on #5022
@jlewi I should be able help in releasing Manifests and Kfctl - having known the processes since last 2 releases.

[2020-06-12 12:04] Kulikovpavel commented on #4901
Finally, i figured out, how to work with NFS volume in different namespaces, Filestore instance

Solution - create several persistent volumes with the same nfs data, and then several PV claims for each namespace
[code]

And you will get the same data.

Pipelines launch pods in `kubeflow` namespace, so you should create PVC in that namespace for sure
In pipeline itself you should set something like

[2020-06-12 13:57] jlewi commented on #5022
@yanniszark @Jeffwan You both indicated an interest in helping out with multi-user. Barton also chimed in on slack but I don't know his GitHub id. Can one of you please file an issue to track the release of those components and then link to it here?

@krishnadurai and @vpavlin Can one of you file an issue for manifests, link it here, and then use that issue to coordinate?

[2020-06-12 14:25] krishnadurai commented on #4590
Here's the latest vulnerability report:

https://bit.ly/2XVjRpt

cc @jtfogarty @jbottum

[2020-06-12 14:41] 8bitmp3 commented on #4590
@krishnadurai is this CVE/VULNDB list for Kubeflow maintained or it's just a snapshot? Thanks

[2020-06-12 15:24] kimwnasptd commented on #5060
@jlewi I could take a stab at the
* Update manifests
* Update the docs with the current state of Notebooks

I don't think I have the bandwidth for #4789 right now. But we could just update JWA's config yaml with the correct images for the release, until a proper fix for #4789 will be available

[2020-06-12 15:35] kimwnasptd commented on #3578
@jlewi his handle is @kandrio98.

He is wrapping up the first part of the [project](https://summerofcode.withgoogle.com/projects/#4660815581413376) which is to extend the Tensorboard Controller to also work with PVCs. We've also bumped into some other small problems with the controller but most of the necessary work is done.

I'll also provide an update here once we move on the next phase, which w

[2020-06-12 16:40] jlewi commented on #3578
Great thanks; look forward to seeing the PVC changes.

[2020-06-12 16:48] 4n4nd commented on #4789
Hey @jlewi, we have an internal [Tekton pipeline](https://github.com/thoth-station/jupyternb-build-pipeline) to build notebook images which has been working well for us. These images use a minimal base image [s2i-minimal-notebook](https://github.com/aicoe/s2i-custom-notebook).

[2020-06-12 17:02] backnotprop commented on #2573
@martham93 did you resolve this?

[2020-06-12 17:13] martham93 commented on #2573
@backnotprop kinda of... I removed my model's dependency on `tensorflow-addons` so now I'm  using the google deep learning tensorflow 2 docker image `gcr.io/deeplearning-platform-release/tf2-gpu` and experiments run on the GPU.

[2020-06-12 17:41] kandrio98 opened #5065 "Tensorboard controller creates servers that always mount user-gcp-sa secret"
/kind bug

Currently, `user-gcp-sa` secret [is always mounted](https://github.com/kubeflow/kubeflow/blob/master/components/tensorboard-controller/controllers/tensorboard_controller.go#L131-L147) by the pod running the Tensorboard server, regardless of the logs storage being a Google cloud bucket or not.

This secret is required only when accessing a Google storage bucket, so we should limit the se

[2020-06-12 18:50] backnotprop commented on #2573
@martham93 thanks, this is killing me. I do have a lot of the base libraries, but imagine it is some addons.

<img width="1614" alt="Screen Shot 2020-06-12 at 2 45 40 PM" src="https://user-images.githubusercontent.com/7244317/84536390-c019ce80-acbb-11ea-9103-ec3056c437d7.png">

[2020-06-12 18:59] cwbeitel commented on #2573
@backnotprop I can help, sorry @martham93 forgot to respond. Can you list the versions of various elements (e.g. cuda, kf, tf, gke cuda driver, etc.)? I'll have to think for a minute how I got this working but if I remember correctly it was just a matter of putting together the right versions of things.

[2020-06-12 19:14] backnotprop commented on #2573
hey @cwbeitel , thanks!

This is the GKE driver setup (highmem-16):
[code]

Container Image (I've tried the runtime & cudNN versions as well, only 10.1).
[code]

[code]

custom app & proper pod setup per GKE GPU docs. 1 pod/gpu-node, but with gunicorn/uvicorn workers & flattbuffers approach vs TFX. I don't hack anything with this node pool, at one point I had 5TB worth of embeddings that I setup a

[2020-06-12 19:25] cwbeitel commented on #2573
@backnotprop Looks like you're almost there. Did you pip install anything in that image that would have installed a different version of tensorflow than shipped with the image by default? If nvidia/cuda:10.1-base-ubuntu18.04 comes with tf it should be compatible with 10.1 and maybe try not changing it in the process of installing other things. If it doesn't come with tf, maybe try one of the TF of

[2020-06-12 19:28] cwbeitel commented on #2573
Also like @vishh said make sure your GKE nodes are version 1.11.5+

[2020-06-12 19:45] backnotprop commented on #2573
@cwbeitel ah - I actually install tf manually... Ill rebuild here without doing that.

[2020-06-12 19:51] srmeier commented on #4836
Also having this issue.

[2020-06-12 20:27] SilDev-zz commented on #4386
Still no fix apparently! I just gave it a try with the latest versions:
- kubeflow: v1.0.2
- k8s: Client v.1.18.3 and Server v.1.16.8

[2020-06-12 20:40] backnotprop commented on #2573
Update here - I clear all cuda issues by using `tensorflow/tensorflow:2.1.0-gpu-py3` my issue must be more related to our model ... it still just hangs without ever starting the session for GPU. will also try cpu-pinning in GKE

[2020-06-13 00:18] lalithvaka opened #5066 "Notebook Controller should surface error in the Notebook CR if Pod is not created or spins for ever"
/kind bug

**What steps did you take and what happened:**
I tried spinning up a couple of Notebook servers with non existing Volume and also with insufficient resources and the Notebook servers went into an infinite spin. I do not see any events populating on the UI .I thought this issue was fixed as part of the issue [3772](https://github.com/kubeflow/kubeflow/issues/3772).Am running KF 1.0.2 ver

[2020-06-13 03:17] cwbeitel commented on #2573
@backnotprop Well done! 🎉

It sounds like you solved the primary task and there is a secondary task. You will likely get some good info from [Stack Overflow](https://stackoverflow.com/) or the TensorFlow [issues](https://github.com/tensorflow/tensorflow/issues) posting or searching about a training session that doesn't start. Good luck!

[2020-06-13 12:09] yanniszark commented on #4836
Hi @redcican @srmeier!
Thanks for using MiniKF.
The error you're seeing means that Minikube timed out waiting for the API-Server to come up.

This could be an issue with the machine you're using not being powerful enough.
What are your system and VM specs? Do you meet the following requirements?
https://www.kubeflow.org/docs/other-guides/virtual-dev/getting-started-minikf/#system-requirements

If

[2020-06-13 16:54] srmeier commented on #4836
@yanniszark, Thanks. I believe you're right about the resources. My computer has 32GB ram but my VirtualBox was only showing a 10GB allocated amount. After playing around a little, I adding the following to my `Vagrantfile`:

[code]

And I was able to get past this error.

[2020-06-15 09:20] krishnadurai commented on #4590
@8bitmp3 this is a snapshot of the day I've posted the comment on.

[2020-06-15 10:25] discordianfish commented on #5018
So I'm not sure that ClusterPodDefaults is even a useful thing anymore given the discussions in https://github.com/kubeflow/manifests/issues/1136

My plan to do something similar to @abdulsalama is to wait for https://github.com/kubeflow/manifests/issues/1136 to get somewhere and use that to setup user namespaces from our ldap state. There I can also use a custom kustomize package to setup PodDefa

[2020-06-15 10:30] ettiee commented on #5018
@discordianfish that would work for our usecase yes 👍

[2020-06-15 13:00] #2141 closed

[2020-06-15 13:19] jlewi commented on #4589
@elviraux What is the status of this issue? Can we close it in favor of the other issues?

[2020-06-15 13:41] jlewi commented on #5060
/assign @kimwnasptd

Are we on track on to have an RC by 06/19?

[2020-06-15 13:49] bmorphism opened #5067 "[Release 1.1] Multi-user release"
/kind process

Opening this issue to track releasing multi-user for Kubeflow 1.1 and would like to add area OWNERS for @bmorphism and @yanniszark

Per #5022 and Slack discussion in #release we need the following.

- manifests for GitOps-type deployment of Kubeflow for https://github.com/kubeflow/manifests/issues/1136

- more broadly, incl. for existing model, multi-user enhancements tracked in #49

[2020-06-15 13:53] jlewi opened #5068 "[Release 1.1] Cut kubeflow v1.1-branch"
/kind process

Opening this issue to track cutting the KF 1.1 branch. There are a number of applications that
get built out of kubeflow/kubeflow and will depend on the branch

* #5067  - multiuser
* #5060 - notebooks
* Centraldashboard

@bmorphism @yanniszark @kimwnasptd @crobby Who wants to be responsible for cutting the 1.1 branch of kubeflow?

Can we aim to cut it by end of this week?

[2020-06-15 13:55] jlewi commented on #4789
@jtfogarty @4n4nd @willb is someone willing to look into this?

[2020-06-15 13:57] jlewi commented on #5021
@Jeffwan why not?

[2020-06-15 16:54] AndriiNeverov opened #5070 ""kfctl apply" fails on Istio 1.6.x"
/kind bug

**What steps did you take and what happened:**

Installed Istio (tried 1.6.0, 1.6.2) using the "default" profile

kfctl apply -V -f kfctl_istio_dex.yaml # with istio-crds and istio-install removed and set clusterRbacConfig to OFF due to "RBAC: access denied"

[code]

**What did you expect to happen:**

"apply" step to complete.

**Anything else you would like to add:**

Works on Istio 1

[2020-06-15 17:52] jlewi commented on #4749
Removing from 1.1 because I don't think anyone is working on it.

[2020-06-15 17:54] jlewi commented on #4757
ping @kimwnasptd  ?

Removing from KF 1.1 because it looks like no one is working on this so I don't think its going to get fixed.

[2020-06-15 17:57] jlewi commented on #4808
@Tomcli Would you be willing to write a unittest?

[2020-06-15 18:01] jlewi commented on #3082
@DesmondH0 , @jrabiah, @damitkwr @syd-quant  Is anyone interested in collecting the information in this issue into a PR providing a doc either in
https://github.com/kubeflow/gcp-blueprints

Or on the website
https://github.com/kubeflow/website

[2020-06-15 18:05] jlewi commented on #4817
You can now use Tekton to write reusable test pipelines: refer to

https://github.com/kubeflow/testing/blob/master/docs/tekton.md
https://github.com/kubeflow/testing/tree/master/tekton

We have a reusable pipeline for running go unittests but not lint yet.

[2020-06-15 18:06] jlewi commented on #4889
@lalithvaka Any update on this?

Is this likely to land in 1.1 or should we just remove it from 1.1?

/cc @yanniszark @bmorphism

[2020-06-15 20:37] harshad16 commented on #4789
@4n4nd I went over the issue.
It feels like the requirement here is to build a notebook image via the tekton pipeline [build task](https://github.com/kubeflow/testing/blob/master/apps-cd/pipelines/base/task.yaml#L4) and update the tag in the [config-map.yaml](https://github.com/kubeflow/manifests/blob/9ec6bb39e9bb76d7a9bdef290628a6c6f36952ce/jupyter/jupyter-web-app/base/config-map.yaml#L27) via [u

[2020-06-16 00:40] Tomcli commented on #4808
Sorry I missed your previous comment. Sure I can write the unittest for admission manifest.

[2020-06-16 03:19] jinchihe commented on #5022
The Fairing release tracking Issue: https://github.com/kubeflow/fairing/issues/503

[2020-06-16 03:27] toyama0919 commented on #4806
I also get the same problem.

[code]

[2020-06-16 03:30] lalithvaka commented on #4889
@jlewi I was having a hard time getting this taken care of with no Typescript knowledge even though I was able to hardcode and make it work in our non prod environment and its working as expected with out env variable or config value. Wondering if any one on this thread with Typescript experience wants to collaborate with me to get this moving? a 30mins zoom call could help. Appreciate the help in

[2020-06-16 04:10] loveunk commented on #2337
Hi, Xin, Thank you for your excellent work, could you please share your docker file/image?

[2020-06-16 04:15] MrXinWang commented on #2337
Hi @loveunk, I am not allowed to share the docker images because of my company's policy, but most of my patches to support building on arm64 have already been merged. You can easily find them in https://www.kubeflow.org/docs/reference/images/. Besides that, some of PRs proposed by myself haven't been merged by the community, you can try to search them in each repo using keywords such as "arm64" or

[2020-06-16 04:43] tranlyvu commented on #4806
@toyama0919 what is your cni? in my case, i switched to cni and it worked

[2020-06-16 05:18] toyama0919 commented on #4806
Thank you!
What is canal?
Is it in the project calico??

https://www.projectcalico.org/

(I'm using eks.

[2020-06-16 06:23] toyama0919 commented on #4806
kubeflowのdeploy成功しました！
https://docs.projectcalico.org/getting-started/kubernetes/flannel/flannel

[code]

[2020-06-16 06:28] toyama0919 commented on #4806
kubeflowのdeployまでは成功した。
cairoというcni pluginが必要。

[code]

[2020-06-16 07:50] tranlyvu commented on #4806
@toyama0919 glad to hear!

[2020-06-16 08:37] Bobgy commented on #5022
Pipelines release tracking issue: https://github.com/kubeflow/pipelines/issues/3961
and release tracking project: https://github.com/kubeflow/pipelines/projects/5

[2020-06-16 09:56] AldusLorde opened #5071 "Many users - one namespace"
/kind question

**Question:**
Hi) Is it possible to create several users in one namespace?

[2020-06-16 10:30] malawskim opened #5072 "kfctl_aws_cognito.v1.0.2.yaml couldn't copy istio-ingress and aws-istio-authz-adaptor"
/kind bug

**What steps did you take and what happened:**
I am not able to install kubeflow using kfct_aws_cognito.v.1.0.2.yaml.
kfctl apply -V -f kfct_aws_cognito.v.1.0.2.yaml
...
...
"failed to apply:  (kubeflow.error): Code 500 with message: kfApp Apply failed for kustomize:  (kubeflow.error): Code 500 with message: error evaluating kustomization manifest for istio-ingress Error absolute path e

[2020-06-16 10:40] yanniszark commented on #5071
Hi @AldusLorde!
Yes it is possible to share a namespace with multiple users.
To do this via the UI, follow: https://www.kubeflow.org/docs/components/multi-tenancy/getting-started/#managing-contributors-through-the-kubeflow-ui
Does this answer your question?

/area multi-user

[2020-06-16 10:40] yanniszark commented on #5071
/area multiuser

[2020-06-16 10:42] #4486 closed

[2020-06-16 12:21] andreyvelich commented on #5022
For Katib all docs and manifests have been updated (tracking issue https://github.com/kubeflow/katib/issues/1211).
The new release has been published: https://github.com/kubeflow/katib/releases/tag/v0.9.0.

[2020-06-16 12:58] lovishch20 commented on #5061
@supertetelman , Kindly suggest

[2020-06-16 13:28] jlewi commented on #4789
Yes; this is exactly right.

So my suggestion would be to create a new pipeline; e.g. right now we have a single pipeline
https://github.com/kubeflow/testing/blob/master/apps-cd/pipelines/base/pipeline.yaml

Which works because all applications get built and updated the same way.

Notebook images differ from that pipeline because we need to update config-map.yaml and not the kustomization file.

S

[2020-06-16 13:53] AldusLorde commented on #5071
@yanniszark thank you for the response. Kubeflow still asks me to create a namespace for a new user

[2020-06-16 15:43] lalithvaka opened #5073 "GPU use display by Notebook Servers"
/kind feature

**Why you need this feature:**
Once a team profile is created and multiple data scientists spin up notebook servers with out knowing how much of GPU capacity is already used. Current Notebook server dashboard displays CPU, Memory and Image name but not the GPUs used.  Displaying GPUs used by notebook servers help avoid confusion with in the team on whether the resources are still av

[2020-06-16 15:56] TomasPihrt commented on #4889
@jlewi could you please share how to completely disable this welcome screen namespace creation? thanks

[2020-06-16 17:08] jlewi commented on #5021
/cc @jbottum

[2020-06-16 18:38] frankyn commented on #5063
Hi @WillianFuks,

[code]

The issue is that you need to set role: `roles/storage.admin` to get storage.buckets.get permission per [IAM documentation](https://cloud.google.com/storage/docs/access-control/iam-roles).

HTH

[2020-06-16 20:38] WillianFuks commented on #5063
Hi @frankyn ,

Thanks for the reply. I also tried giving this role to the sa (in the file `build_sa.sh`) but unfortunately it didn't work.

When I test in directly on top of K8 then it works but when running inside the pipelines application is that I get this error message. For what I could debug so far, the issue is that when inside the pipelines, the credentials fail to complete its requests and

[2020-06-16 21:13] frankyn commented on #5063
Instead of using:
[code]

Have you tried letting application default credentials load from GOOGLE_APPLICATION_CREDENTIALS?

[code]

[2020-06-16 21:47] WillianFuks commented on #5063
Also tried doing this approach but still it didn't work.

Tested also building credentials from `compute_engine` but didn't work as well, got the same error message.

[2020-06-16 21:50] frankyn commented on #5063
Thanks for clarifying, there may be one more thing to check.

For the buckets you're accessing with the service account, are the buckets across multiple projects than the service account or live in the same project?

If buckets live outside of the project that owns the service account, you'll need to grant the role `roles/storage.admin` to the service account in each of the projects or at least at

[2020-06-16 22:18] #4374 closed

[2020-06-16 22:27] WillianFuks commented on #5063
The buckets are in the same project as the one used to create the service accounts.

Outside of kfp it works normally, just when running the code there is that it raises this exception.

[2020-06-16 23:31] Jeffwan commented on #5022
https://github.com/kubeflow/common/issues/97 training operators tracking issue.

https://github.com/kubeflow/kubeflow/issues/5057 AWS tracking issue.

[2020-06-16 23:48] animeshsingh commented on #5022
KFServing will be tracked via this cc @yuzisun
https://github.com/kubeflow/kfserving/issues/648

[2020-06-17 01:12] yuzisun commented on #5022
We found a [KFServing issue](https://github.com/kubeflow/kfserving/issues/874) with Istio/Dex setup where inference service is getting RBAC access denied even without istio sidecar injected, the issue is that the istio local cluster gateway gets blocked because `istio-system` is not whitelisted. We found in [istio/dex kfdef](https://github.com/kubeflow/manifests/blob/v1.0-branch/kfdef/kfctl_istio_

[2020-06-17 01:21] adrian555 commented on #5022
@yuzisun were you referring to the issue we hit last time we upgraded the kfserving to v0.3.0?

[2020-06-17 01:35] yuzisun commented on #5022
yes that's correct, someone else also reported the [issue](https://github.com/kubeflow/kfserving/issues/874) here, @adrian555 can you help verify my [fix](https://github.com/kubeflow/manifests/pull/1257)?

[2020-06-17 01:56] supertetelman commented on #5061
My understanding is that it should work in an air-gapped environment as long as you are able to get the packages into your datacenter and install them. I haven't tested this out myself recently.

[2020-06-17 01:59] jlewi commented on #4889
@TomasPihrt Please take a look at
https://github.com/kubeflow/kubeflow/issues/4889#issuecomment-634202996
I'm not familiar with the code so don't have any pointers beyond that; sorry.

[2020-06-17 06:56] insoo67park opened #5075 "service istiod not found error at "kfctl 1.0.2 with kfctl_k8s_istio.v1.0.2.yaml ""
/kind bug

1. My private k8s cluster (version: 1.17.4)
2. I tried to install kubeflow and got error message as below
   Encountered error applying istio-install: (kubeflow error): Code 500 with message: Apply run Error error when creating "/tmp/kout701552754": Internal error occured: failed calling webhook "validation.istio.io": "Post: https://istiod.istio-system.svc:443/validate?timeout=30s: serv

[2020-06-17 13:40] daikeshi commented on #4749
Hey @jlewi, the fix I made has already been merged in master with this PR https://github.com/kubeflow/kubeflow/pull/4754. I think we just need to publish a new image and update the deployment manifest. Will that be automatically taken care of in Kubeflow 1.1 release so we can remove our fork? Let me know if there's anything I can help with.

[2020-06-17 15:24] frankyn commented on #5063
Thanks for your patience on this. Could you enable logging for the Storage client by following instructions here: https://medium.com/@franknatividad/debug-cloud-storage-client-libraries-f50f46ce7f6?

If permissions are being set correctly, then this may help answer if something is wrong with the request.

[2020-06-17 17:30] kimwnasptd commented on #5060
@jlewi I think I won't be able to make it until the end of this week.
But if it's ok I am very confident that I can have them ready in the next week

[2020-06-17 17:37] adrian555 commented on #5022
@yuzisun yes, I can run it again. But last time that was the work around I made it to work.

[2020-06-17 18:01] kimwnasptd commented on #4757
@jlewi forgot to reply to this one,

From what I know, the approach to permit users to create PVCs with a mode that is not supported from a storage class (the default with current JWA) is not feasible. Since with the current k8s API we don't have a way to deduce what access modes a storage class supports.

What I would propose would be the following:
1. Allow users to select the storage class for

[2020-06-17 18:04] jlewi commented on #5022
@adrian555 @yuzisun Can we move the discussion of that KFServing;Dex;Istio into a separate issue?

[2020-06-17 18:25] animeshsingh commented on #5022
Move it here kubeflow/kfserving#648 for the overall release issues for KFS

[2020-06-17 18:32] WillianFuks commented on #5063
Thanks @frankyn for the idea and the article. I did as you suggested, here's the output:

[code]

The interesting thing is the GET request URL is `GET /storage/v1/b/false?fields=name` where `false` should contain the project_id.

When running the same code on Kubernetes directly I get the project_id instead of false and then it works.

[2020-06-17 18:49] frankyn commented on #5063
Thanks, this helps me keep moving forward.
In this case:

[code]

Is making a GET request on bucket named `false` which you don't have permission for (well assuming in this case).
How is the bucket name being set in:

[code]

Is it hardcoded? It might be accidentally pulling in `false` instead of a bucket name.

[2020-06-17 19:12] WillianFuks commented on #5063
Hooooray!

Thank you @frankyn for the help!

I probably made some mistake when creating the pipeline and interacting with the components instantiation. I forced the bucket name to be what I expected and then it finally worked!

As the error message was telling about anonymous client, I went into all possible directions instead the simplest one (not sure if it'd be helpful to add this information i

[2020-06-17 19:12] #5063 closed

[2020-06-17 20:40] jlewi commented on #4749
kubeflow/kubeflow#5067 is tracking the release of the profile controller for KF 1.1

[2020-06-17 20:40] #4749 closed

[2020-06-17 20:44] jlewi commented on #5067
The following artifacts should be included as part of multi-user release.

* profile controller - https://github.com/kubeflow/kubeflow/tree/master/components/profile-controller
* kfam - https://github.com/kubeflow/kubeflow/tree/master/components/access-management

The images need to be built and the kustomize manifests need to be updated.

The images and PRs should get built automatically via the

[2020-06-18 05:21] sachua commented on #5061
Did you try docker pull and push the deployment images into your private registry, then edit the manifests' deployment image path to point to your private registry already?

I haven't tested kubeflow recently, but i was able to deploy kubeflow 1.0.2 on-prem air-gapped a few weeks back with no issues

[2020-06-18 08:10] joey100 commented on #5046
@pinglin I face the same issue. And also may I know whether you face the "RBAC: access denied" issue(the web page shows RBAC: access denied information) several minutes after logining through Dex OIDC? Thanks.

[2020-06-18 08:32] joey100 opened #5077 "User login through Dex OIDC and gets "RBAC: access denied" web page several minutes after everything looks fine"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Deploy Kubeflow with KFDef kfctl_istio_dex.v1.0.2

Login to the Kubeflow dashboard through Dex OIDC and pages show normal, such as Home page/Pipelines page/Katib page/Notebooks Servers page.

Several minutes later( probably 3 or 5 minutes), refresh the page, it shows "RBAC: access denie

[2020-06-18 08:40] joey100 commented on #5077
@yanniszark @jlewi @pinglin @vincentarthur

[2020-06-18 11:13] ducminhnguyen opened #5078 "How to expose the central dashboard with an external nginx."
/kind question

Hi, I am trying to expose the central dashboard to external users. I am deploying kubeflow on-prem and have it ingress at port 31380. However, when I try to connect nginx to that port with
[code]
The browser always return 426 code and does not load the webpage.
![image](https://user-images.githubusercontent.com/5888561/85013979-0da0aa80-b198-11ea-93db-a530505d103f.png)

I also try

[2020-06-18 13:01] prabhatsharma opened #5079 "Failed to install on EKS1.15 and EKS1.16 1.0.2 with cognito"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Failed to install on EKS1.15 and EKS1.16 1.0.2 with cognito

`
INFO[0000] Running `eksctl version` ...                  filename="utils/awsutil.go:71"
INFO[0000] eksctl version: 0.21.0                        filename="utils/awsutil.go:88"
INFO[0000]
*************************************

[2020-06-18 13:30] jlewi commented on #5079
/cc @Jeffwan

[2020-06-18 13:30] jlewi commented on #5075
/cc @krishnadurai @yanniszark

[2020-06-18 13:32] jlewi commented on #5070
I don't think ISTIO 1.6 is supported yet. IIUC alot of things changed in ISTIO 1.6

/cc @krishnadurai @yanniszark

[2020-06-18 13:35] jlewi commented on #5022
Please join #release in slack for more real time updates of the release.

* the apps cd pipelines have been fixed
* application owners please review PRs to update your apps and ensure they get merged
    * https://github.com/kubeflow/manifests/pulls/kubeflow-bot

[2020-06-18 13:36] jlewi commented on #5067
* the apps cd pipelines have been fixed
* application owners please review PRs to update your apps and ensure they get merged
    * https://github.com/kubeflow/manifests/pulls/kubeflow-bot

/cc @bmorphism @yanniszark

[2020-06-18 13:36] jlewi commented on #5060
@kimwnasptd

* the apps cd pipelines have been fixed
* application owners please review PRs to update your apps and ensure they get merged
    * https://github.com/kubeflow/manifests/pulls/kubeflow-bot

[2020-06-18 13:46] #5065 closed

[2020-06-18 14:39] jtfogarty commented on #4315
@jlewi how will the new GCP install for private GKE cluster in a private VPC with a private repo accommodate for this?

[2020-06-18 16:30] marziman commented on #4720
@jlewi as I wrote in slack,
currently a user is forced to have a profile and namespace. Somehow adding contributors/users to an existing namespace doesnt work. It prompts for a new namespace.
For us, having a namespace for every user is too much.

Your help would be appreciated.
Thanks

[2020-06-18 16:33] marziman commented on #5038
Hello,
we have the same issue. We cant add multiple users to a namespace and every user
get his own namespace, which is ressource wise and for other reasons not what we want.

Can anyone help with this topic? Thanks.

[2020-06-18 18:19] leela-uppuluri commented on #4103
@dzungductran I actually tried NodePort port forwarding to 30080 and that worked for me to bring up the kubeflow dashboard. This is how the URL for kubeflow webui looks like on my end, http://<Worker_Node_IP>:30080/

[2020-06-18 19:18] vivekanandpoojari commented on #4590
@krishnadurai I wanted to get in touch with you regarding the experience of moving a c++ based containerised application to distroless. My application is currently based on centos and quite heavy. ubi is one option but wanted to consider distroless for a rhel based c++ application.

[2020-06-18 19:23] harshad16 commented on #4789
Thanks for the explanation @jlewi, that make sense.
I will try to contribute to this.  :+1:

[2020-06-18 20:57] marcjimz commented on #4889
@jlewi @lalithvaka we have a solution on this and will provide a PR today. Can we ensure that this makes it in the cut for 1.1? This is a pretty key feature in maintaining a multi-tenant environment, in addition to the KFP multi-tenant work.

[2020-06-18 21:24] jlewi commented on #4889
@marcjimz The release train waits for no one :). My suggestion would be to get the PR in and we can go from there.

[2020-06-18 21:26] jlewi commented on #5038
KF just uses K8s RBAC and ISTIO  RBAC under the hood. So you should be able to add users to a namespace just by creating appropriate role bindings.

/cc @bmorphism @yanniszark

[2020-06-18 21:27] jlewi commented on #4757
LGTM

[2020-06-18 21:30] jlewi commented on #5077
@joey100 You will need to ask someone who is familiar with the DEX support. DEX is really at the boundary of KF so you might have better luck in the DEX forums. I believe the DEX and ISTIO solution in KF does have some KF specific parts (e.g. using ISTIO envoy filters to redirect you through the login).

[2020-06-18 21:31] lalithvaka commented on #4889
@jlewi , I have a PR as well for displaying GPU details on notebook servers table. Am assuming that bot is randomly assigning for review. So it all depends on how quickly the reviewers push it through? Is it ok, if we reach out to the reviewers directly?
Thank you @marcjimz for submitting the PR. Will look forward to it.

[2020-06-18 21:34] jlewi commented on #4315
@jtfogarty accomodate what? The private GKE install works by mirror'ing all KF images to GCR which are accessible from private GKE.

If you want to continue to use non GCR registries you would have to configure networking to support that; e.g. use Cloud Nat to make them accessible.

[2020-06-18 21:37] jlewi commented on #4889
@lalithvaka it is ultimately the PR creator's responsibility to see that the PR gets assigned to appropriate reviewers and ping reviewers as needed. Reviewer assignment is based on heuristics (OWNERs files) with mixed accuracy.

[2020-06-18 23:00] gitpushdashf opened #5081 "Does MiniKF run on anything?"
I've tried following guides to install MiniKF on the following:

 * Mint 19: Vagrant version too old.
 * Ubuntu 18.04: Vagrant version too old. snap method with microk8s failed, some DNS resolution error where api.jujujusomething resolved to a 10.X.X.X address (even though it resolved to a non-LAN address with `host`).
 * Ubuntu 20.04 Vagrant version is good, but that install method fails. Slightl

[2020-06-18 23:56] #4433 closed

[2020-06-19 00:47] avdaredevil commented on #4889
@maganaluis @lalithvaka I've reviewed the PR and left my feedback, PTAL. Additionally could you write the way you envision this flow in the PR description? Thanks!

[2020-06-19 02:40] maganaluis commented on #4889
@avdaredevil Thank you for reviewing, I took care of the changes and I also added more info on how we expect it to use it.

/cc @marcjimz

[2020-06-19 03:26] jtfogarty commented on #4315
@jlewi Unfortunately gcr.io is blocked.  All images are required to be pulled from a private repo.

[2020-06-19 03:33] dwang55 opened #5082 "Can't start pods sucessfully through kubeflow UI on local kubernetes cluster - PV provisioner not working"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I have installed kubeflow on existing kubernets cluster locally. I encoutered this problem when start a notebook server through kubeflow UI. Kubectl describe information  of this pod is below:
Name:               my-first-notebook-0
Namespace:          test1
Priority:           0
Priorit

[2020-06-19 06:48] joey100 commented on #5077
@jlewi  Thanks a lot for your quick response! However, according to below doc: https://journal.arrikto.com/kubeflow-authentication-with-istio-dex-5eafdfac4782
and the pic below, this flow shows like the 403 error was returned by authservice, it doesn't go to Dex yet. Correct me if I am wrong.

![image](https://user-images.githubusercontent.com/18437960/85104830-e7cce180-b23b-11ea-8d7d-25fa2e1af640

[2020-06-19 08:11] swapdebarshi commented on #4725
@swiftdiaries I am interested in working on this. Can I pick any item from Infrastructure/ML engineer personas if they are still available?

[2020-06-19 09:03] yanniszark commented on #5077
Hi @joey100! Error 403 could be coming from the authservice indeed, but it's not certain.
I would start by getting logs from the authservice and looking for clues there.
In addition, if you have made any change from the default deployment, it would be good to know.

[2020-06-19 10:35] joey100 commented on #5077
@yanniszark  Thanks a lot! What is so strange here is that no error logs from authservice/dex/ingressgateway pods when the issue happens. And I don't do anything, several minutes later, the web page shows normal again! After several minutes, the web page shows "RBAC: access denied" again! Still no error logs!  Is there some timeout settings at somewhere we dont know to control this 'behavior' ?  I

[2020-06-19 10:56] joey100 commented on #5077
Authservice pod log:
![image](https://user-images.githubusercontent.com/18437960/85124609-c4fef500-b25c-11ea-9017-f85217b2ec41.png)

Dex pod log:
![image](https://user-images.githubusercontent.com/18437960/85124657-d942f200-b25c-11ea-80af-9f136e046699.png)

[2020-06-19 12:10] jlewi commented on #5081
/cc @vkoukis @jbottum

[2020-06-19 12:13] jlewi commented on #5082
I believe the UI has an option not to attach a PV; you could try that.

Otherwise it looks like you will need to fix your cluster to properly provision PVs.

/cc @kimwnasptd

[2020-06-19 12:16] 8bitmp3 commented on #5081
@gitpushdashf for Ubuntu 18 and Min 19, do you get a "Vagrant version too old" (< v2.2.9) error when running `vagrant init arrikto/minikf`?

[2020-06-19 12:17] jlewi commented on #2208
/lifecycle frozen

[2020-06-19 12:22] jlewi commented on #4315
What do you mean gcr.io is blocked? I assume you mean you are using VPC-SC and so only gcr.io corresponding to registries within the perimeter are accessible. In that case you would use the mirror'ing functionality that we provide to mirror all KF images to your private registry.

If you are talking about accessing non KF images that's a non goal for us. You could presumably use the mirror'ing log

[2020-06-19 12:24] jlewi commented on #5022
I think we will cut 1.1 branch of manifests and kubeflow today. Any objections?

[2020-06-19 12:24] 8bitmp3 commented on #5075
Hi @insoo67park, can you give us a step-by-step flow of how you installed KF 1.0.2? There're various deployment options on https://www.kubeflow.org/docs/started/getting-started/, so it'd be good if you specify how you approached it, so we can help.

The `istiod` control plane was indeed introduced from Istio v1.5 encapsulating Pilot, Citadel, etc.

[2020-06-19 12:45] yanniszark commented on #5081
Hi @gitpushdashf! Let's try to get you up-and-running asap!
I have some questions regarding your installation:
* What instructions are you following? These are the official instructions: https://www.kubeflow.org/docs/started/workstation/getting-started-minikf/
* How are you installing Vagrant? If you are installing via package manager, maybe you should get one of the latest versions from the vagra

[2020-06-19 13:15] woop commented on #5022
@jlewi documentation from my side will be ready by tomorrow morning. Your cut doesn't include the website right?

[2020-06-19 14:06] jlewi commented on #5022
@woop no website won't be finalized for a couple weeks.

[2020-06-19 14:09] #4808 closed

[2020-06-19 14:42] gitpushdashf commented on #5081
I appreciate your replies.

Yes.

All of the instructions I've followed have been the official ones, like the one you linked to.

Local package manager. I didn't realize I should install it upstream.

I followed the microk8s guide for MiniKF and never got it to work for me. Actually, that's not true. On 18.04 I was eventually able to get MiniKF working on microk8s if I did `snap install --classic

[2020-06-19 14:49] yanniszark commented on #5081
@gitpushdashf there is likely some misunderstanding regarding this part:

There is no microk8s guide for MiniKF. MiniKF doesn't use microk8s in any shape or form. Can you link to what you're referring to?

If you are using microk8s then you are NOT using MiniKF, but something else.

The goal with MiniKF is to be as portable as possible. That's why we use Vagrant to run on top of any OS that can ru

[2020-06-19 16:58] gitpushdashf commented on #5081
You're right, this is what I was following: https://www.kubeflow.org/docs/started/workstation/getting-started-multipass/#install-kubeflow-using-microk8s

I will try MiniKF on Ubuntu 20.04 and report back.

[2020-06-19 20:01] #4542 closed

[2020-06-19 20:14] jlewi commented on #5068
v1.1-branch has ben cust.

[2020-06-19 20:14] #5068 closed

[2020-06-19 20:21] gitpushdashf commented on #5081
Ok, fresh Ubuntu 20.04. I let it apply updates, rebooted.

Installed upstream Vagrant and Virtualbox.

I went to 10.10.10.10 for the in-browser VNC-esque page.

After a long time, it errored with this inside the VNC window thing:

[code]

I think that's the same error that I had the first time trying MiniKF on 20.04.

[2020-06-20 01:32] jlewi commented on #5022
Update:

* www.kubeflow.org has been pointed at the v1-0-branch
   * So we can begin updating master to v1.1
* kubeflow/kubeflow 1.1 branch has been cut
* kubeflow/manifests 1.1 branch hasn't been cut yet
   * Waiting for kubeflow/manifests#1287 to merge

[2020-06-20 05:18] ja06200 commented on #5081
I had same error with Ubuntu 20.04.

Works fine with Ubuntu 18.04

[2020-06-20 10:45] #4574 closed

[2020-06-20 10:45] #4724 closed

[2020-06-20 15:11] insoo67park commented on #5075
Hi @8bitmp3

In fact, I installed istio v1.5 into my private kubernetes cluster (v1.17.4) before trying install kubeflow v1.0.2  (istio with dex version).

My steps are below
1. I deleted istio-system namespace from my kubernetes cluster (kubectl delete namespace istio-system) - I thought this would delete all resources related istio v1.5
   -> I checked if all the services/pods/deploys are delete

[2020-06-20 22:03] shawnzhu commented on #5031
The only problem I have so far on k8s v1.18 is the pod `seldon-controller-manager` from `seldon-core-operator:1.1.0` keeps crashing because of https://github.com/SeldonIO/seldon-core/issues/1675 which would be fixed in future release of seldon-core-operator. it also provided a workaround via :

[2020-06-21 16:31] yashjakhotiya opened #5085 "Jupyter New Server Web UI should report warnings of FailedCreate"
/kind feature

**Why you need this feature:**
When deploying a new Jupyter notebook server, the web UI was stuck. Running kubectl -n kubeflow-mailsforyashj describe notebooks showed a FailedCreate warning. Turned out, notebook server names and corresponding pod names can only contain alphanumeric characters and hyphens('-'). The Web UI did not report this either during typing notebook server name

[2020-06-21 18:11] #4566 closed

[2020-06-21 23:11] #4827 closed

[2020-06-22 02:10] insoo67park commented on #5075
I found that the same error message is in "istio-security-post-install-release-1.3-latest-daily-xxx" pod. (kubectl logs istio-security-post-install-release-1.3-latest-daily-xxx -n istio-system)

I guess, something check process is done in istio-security-post-install pod and at there it refers to istiod service which is not exist.

I hopes this information would be helpful for your analysis.

[2020-06-22 04:16] Bobgy commented on #4871
/lifecycle frozen
This needs to be addressed as part of KF 1.1 for enabling kfp multi user mode

[2020-06-22 04:52] vincentarthur commented on #5077
Hi @yanniszark , do you think authservice can be changed to service or deployment instead of Stateful set, due to scalability perspective ?

[2020-06-22 06:12] dwang55 commented on #5082
Thanks for replying!
It seems that there is not an option about attaching PV in kubeflow UI.
I will try the second option and update here if I have any results.

[2020-06-22 09:05] eterna2 opened #5087 "[Notebook controller] Support alternative routing CRs"
/kind feature

I am proposing that notebook controller should support alternative routing solutions instead of just istio.

**Why you need this feature:**
I am deploying a partial kubeflow deployment in my organization as a PoC. There are a few limitation due to company policy and cluster setup.

We are running a managed OpenShift cluster, and testing the deployment within a single namespace. I am

[2020-06-22 09:46] Bobgy commented on #4865
/remove-lifecycle/stale

[2020-06-22 09:47] Bobgy commented on #4865
/lifecycle stale

[2020-06-22 09:47] Bobgy commented on #4865
/remove lifecycle/stale

[2020-06-22 09:48] Bobgy commented on #4865
/lifecycle stale

[2020-06-22 09:48] Bobgy commented on #4865
A new comment removes stale

[2020-06-22 11:09] yanniszark commented on #5081
@gitpushdashf can you please send us some logs to debug further? Here's how to do it:
1. `vagrant ssh` into your MiniKF VM
2. run `minikf-gather-logs`. This will produce a tarball `.tgz` file in your
   MiniKF directory.
3. Please share the tarball here

This will help us debug your problem and see how we can help further.
Also, you could try with Ubuntu 18.04 (as you said you have it available) a

[2020-06-22 11:19] yanniszark commented on #5087
@eterna2 the approach you are highlighting could definitely work, but it doesn't seem very scalable because it requires merging code in kubeflow for every custom use-case.
Also, I should mention that Istio provides authorization for Notebooks so please make sure the endpoints you're exposing in other ways will be secured.
How about taking an approach of:
* Writing a controller that watches Noteboo

[2020-06-22 11:24] yanniszark commented on #5077
@joey100 if you have another proxy in front of the Istio Gateway (you mentioned NGINX), can you remove it and see if the problem persists? It may be a caching issue. We haven't seen this problem in any other deployment so far.

Hi @vincentarthur, scalability of the authservice is currently bottlenecked by having a local database for the sessions. Feel free to open a separate issue for this!

[2020-06-22 11:26] yanniszark commented on #5075
This is weird and should not happen. Maybe upstream Istio pushed an image that doesn't work with current 1.3 installations? I would open an issue in upstream Istio (if none exists already), provide the image that produced the error and ask about it.

[2020-06-22 11:27] yanniszark commented on #5073
/cc @kimwnasptd
/cc @cspavlou

[2020-06-22 11:28] yanniszark commented on #5050
/cc @Jeffwan

[2020-06-22 11:37] Enzo90910 commented on #5078
Here's how I managed to do it: I left the Istio installed by kubeflow alone, and I added a Nginx Ingress to my cluster, opening 80/443 ports on all nodes. I have an Ingress rule which makes the Nginx-Ingress proxy the Istio services follows:
`apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: kubeflow
  annotations:
    # use the shared ingress-nginx
    kubernetes.io/ingress.cl

[2020-06-22 11:38] Enzo90910 commented on #5078
I think I also changed the istio-ingressgateway service from NodePort to ClusterIP.

[2020-06-22 14:12] jlewi commented on #4817
/cc @scottilee

[2020-06-22 14:13] jlewi commented on #4817
I think we would want reusable tests for

* golint
* pylint
* py unittests

[2020-06-22 15:29] gitpushdashf commented on #5081
I had shut down the box with Ubuntu 20.04. I booted it back up, ran `vagrant up`, then `minikf-gather-logs`.

It's a curses-style dialog and almost got to the end, then I had this error.

[code]

Seems like it doesn't work unless the install finishes. Might need some try/excepts or something.

I'll give 18.04 a try later. I suspect reproducing this on 20.04 is pretty straightforward though since @

[2020-06-22 16:57] Jeffwan commented on #5079
[code]

Seems you miss region information, can you check your KFDef file and if region is missing?
@prabhatsharma

[2020-06-22 17:58] Jeffwan commented on #5072
/assign @Jeffwan

[2020-06-22 18:06] Jeffwan commented on #5072
` Error absolute path error in 'roles/infra/apps/kustomize/istio-ingress' : evalsymlink failure on 'roles/infra/apps/kustomize/istio-ingress' : lstat /infra/apps/kustomize/istio-ingress: no such file or directory"]}
the same happens with aws-istio-authz-adaptor`

em.. Can you check the folder? and also check `.cache/` folder if you can find `istio-ingress`?

[2020-06-22 18:11] gitpushdashf commented on #5081
Vanilla 18.04 with apt Virtualbox and upstream Vagrant also failed.

[code]

`mini-kf-gather-logs`:

[code]

[gather-logs.log](https://github.com/kubeflow/kubeflow/files/4814890/gather-logs.log)

[2020-06-22 18:11] apryiomka commented on #5070
@AndriiNeverov , we had the same error, fixed by editing the [generated kustomize manifest](https://github.com/kubeflow/manifests/blob/master/istio/istio/base/kf-istio-resources.yaml#L60-L64):
[code]

`sni_hosts` was renamed to `sniHosts` and in 1.6 they stopped supporting `sni_hosts`.

[2020-06-23 00:23] insoo67park commented on #5075
@yanniszark
Could you share the issue progressing status for me?

Thanks a lot in advance.

[2020-06-23 01:19] jlewi commented on #5022
kubeflow/manifests 1.1 branch has been cut any future changes to manifests will need to be cherry-picked onto the release branch.

Application owners

* Now that kubeflow/manifests 1.1 branch has been cut you can update those images to use 1.1 tagged images
* If you are using apps-cd PRs should automatically be opened up

Platform owners

* Please make any changes necessary on the 1.1. branch to p

[2020-06-23 05:30] vincentarthur commented on #5077
We tried on another environment without proxy, it also hit same problem. Also we tried the latest docker image of `gcr.io/arrikto/kubeflow/oidc-authservice`, does not work either. Some parameters changed..

As we are in the middle and blocked by this case. Any chance to reproduce at your end and investigate as well ? (we are also doing same thing..)

[2020-06-23 09:47] eterna2 commented on #5087
Sound good to me too. I will do that instead.

Yeah, having an interchangeable service mesh would be awesome.

[2020-06-23 14:56] yashjakhotiya opened #5089 "[Jupyter] ImportError: cannot import name 'logging_v2'"
/kind bug

**What steps did you take and what happened:**
`from google.cloud import logging_v2` results in `ImportError: cannot import name 'logging_v2'` **only in Jupyter Notebook**. Doing the same thing in python3 interpreter launched in Jupyter hosted terminal does not result in the said import error.

**What did you expect to happen:**
`logging_v2` should have been imported.

**Anything else y

[2020-06-23 15:14] Jeffwan commented on #5022
AWS has some minor changes not merged yet and everything should be ready by this week. I will make sure they are back ported to release branch

[2020-06-23 15:14] yashjakhotiya commented on #5089
restarting the kernel somehow solved this issue

[2020-06-23 15:14] #5089 closed

[2020-06-24 08:05] thesuperzapper opened #5091 "Allow YAML editing in Notebook Servers UI"
/kind feature

**Issue:**
Currently, to edit the YAML of a running `Notebook` resource, you would need to use `kubectl apply`.

**Solution:**
We should add a very basic YAML text editor to the notebook GUI, which lets you edit currently running `Notebook` resources defined in the selected namespace.

This will let users do many things before we implement GUI's for them, for example:
* Mounting Sec

[2020-06-24 09:32] malawskim commented on #5072
@Jeffwan Looks like it might be related to the Mac OS version - Catalina 10.15.4 (19E287). I was able to run it without any errors on different Linux machine.

[2020-06-24 12:05] malawskim commented on #5072
No, it is not present there.

[2020-06-24 14:27] yanniszark commented on #5091
/cc @kimwnasptd @cspavlou

[2020-06-24 14:31] yanniszark commented on #4889
This issue has been addressed by PR: https://github.com/kubeflow/kubeflow/pull/5080
The solution introduced there is to add a `REGISTRATION_FLOW= true (default) | false` setting to be able to toggle the registration flow on/off via an environment variable.

[2020-06-24 14:31] yanniszark commented on #4889
/close

[2020-06-24 16:47] yanniszark commented on #5082
/remove-priority p0

[2020-06-24 16:57] kandrio98 commented on #5039
I have extended the Tensorboard Controller so that it supports PVCs, as described above.

Also, there is another problem, which is related to this [kubernetes issue](https://github.com/kubernetes/kubernetes/issues/26567). More specifically,  If we use a `ReadWriteOnce` PVC as a logdir for Tensorboard Server and the PVC is already mounted by another running pod P, then the Tensorboard Server pod wi

[2020-06-24 19:36] cliveseldon commented on #4959
I think this is an issue with Dex related to https://github.com/dexidp/dex/issues/764 ?

[2020-06-24 20:17] Jeffwan commented on #5057
/reopen

[2020-06-24 22:37] #4875 closed

[2020-06-24 22:37] #3706 closed

[2020-06-24 22:37] #4788 closed

[2020-06-25 01:41] thesuperzapper commented on #5085
@yanniszark  This is more generally an issue with the notebook controller not propagating issues from the `StatefullSet` to the `Notebook` CRD.

We should ensure that the `status:` field of the `Notebook` is populated with issues from the `StatefulSet` and `Persistent VolumeClaims`.

[2020-06-25 01:52] thesuperzapper opened #5092 "Alow PersistentVolumeClaim resizing in UI"
/kind feature

**Why you need this feature:**
Currently, if a user has run out of space in their workspace volume, they must use `kubectl` to increase the size of the claim:
`kubectl edit pvc/workspace-XXXX --namespace XXX`

**Describe the solution you'd like:**
We should allow users to change their PVC size somewhere in the UI, I think we could either:
1. Create a button like `edit volumes` on th

[2020-06-25 04:23] Madhav111 commented on #5081
Hi @yanniszark ,

I am  trying to install the Kubeflow  from  my windows 10. After following the standard guidelines like downloading the Vagrant and  VirtualBox then opened the http://10.10.10.10/ for installation of MiniKF.

I am repeatedly getting the  below error as below.

 unexpected exception has occured
Line: build/bdist.linux-x86_64/egg/rok_common/cmdutils.py:942
Type: CommandExecutionErr

[2020-06-25 04:26] Madhav111 commented on #5081
@yanniszark  occurance of error at the kubeflow pods updation.

[2020-06-25 10:09] #4617 closed

[2020-06-25 11:07] yanniszark commented on #5081
@gitpushdashf there is definitely a bug in the `gather-logs` script and we will be working on solving it.
For your particular case (@Madhav111 as well), can you tell me what your VM specs are?
The normal amount of memory we allocate for Vagrant is 10GB but sometimes that's not enough.
Can you try bumping the amount of memory in the Vagrantfile and retry?

[2020-06-25 15:45] amybachir opened #5093 "Model Registry"
/kind feature

**Why you need this feature:**
[Is your feature request related to a problem? Please describe in details]
Model Registry to manage models and their versions.

**Describe the solution you'd like:**
[A clear and concise description of what you want to happen.]
Is there a plan to add a model registry similar to the MLFlow's feature https://mlflow.org/docs/latest/model-registry.html

**

[2020-06-25 17:45] jtfogarty opened #5094 "Administrative Functionality"
/kind feature

**Why you need this feature:**
Screens within Kubeflow to allow management of Namespace and hardware resources

**Describe the solution you'd like:**
This issue is to allow folks to add requirements/features for an Administration page within Kubeflow

1. Allow the management of ImagePullSecrets
2. Allow the creation of namespaces/projects and attach users to these namespaces
3. Allo

[2020-06-25 18:03] ricoms opened #5095 "Kubeflow getting panic: runtime error: invalid memory address or nil pointer dereference when kfctl apply"
/kind bug

**What steps did you take and what happened:**

I was following the tutorial [here](https://master.kubeflow.org/docs/gke/deploy/deploy-cli/) and I was just setting up the "Customizing your Kubeflow deployment", from this section I applied steps 1, 2, 3 and 6. 6th step is basically apply the command `kfctl apply -V -f ${CONFIG_FILE}`

**What did you expect to happen:**

I expected it to

[2020-06-26 15:23] jlewi commented on #4889
@yanniszark @lalithvaka Is the PR included in the 1.1 release? If not should it be?

[2020-06-26 15:35] jlewi commented on #5039
This feels like a bit of a brittle solution. My interpretation of `ReadWriteOnce` is that it should only be mounted on a single pod at a time. Trying to work around that seems like a brittle solution.

Its not clear to me why supporting `ReadWriteOnce` is important. In general, the recommendation is to write event files to an appropriate objectstore (GCS, S3, HDFS, etc...). In which case you avoid

[2020-06-26 19:55] Madhav111 commented on #5081
@yanniszark Its 16 GB Laptop and VM automatically allocated  with 10 GB.
I have tried with several ways to alter the memory of the VM through Vagrantfile  but not able  to update the  memory.
Kindly advice.
Also when can we expect this issue  fix.
Thanks
Madhav

[2020-06-27 00:42] lalithvaka commented on #4889
@jlewi yes, would be great to have it in 1.1 release. But this PR #5080 was merged on Jun23rd and I heard from @jbottum that 1.1 release was cut on Jun 19th. Please confirm if we still have time for 1.1.

There are two additional changes that will complete this enhancement
1. @maganaluis is submitting a PR request for the Env variable update in the Manifests
2. I will need to submit the correspond

[2020-06-27 08:34] vincentarthur commented on #5077
Looks like the `rbac: access denied` was due to Envoy stream idle timeout, which disconnect all connections every 5 mins (default value). But still seeking proper way to configure Envoy `stream_idle_timeout` in Istio level.

[2020-06-27 09:02] dwang55 commented on #5082
There is an option

Sorry, I find there is an option in kubeflow UI that not to attach PV and have tried it. But I encountered another problem. After launch the notebook server, the container in this pod have error logs below:

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/traitlets/traitlets.py", line 528, in get
    value = obj._trait_values[self.name]
KeyErro

[2020-06-27 19:11] Jeffwan commented on #5057
/reopen

[2020-06-28 22:00] yosit commented on #4306
here is a snippet of code that would work without touching istio - this is running under a new namespace outside of the kubeflow profile namespace.
Verified on 2.4.5 and 3.0.0 on k8s 1.15

`import os
import socket
from pyspark.sql import SparkSession

os.environ['PYSPARK_PYTHON'] = "/usr/bin/python3"
spark = SparkSession\
    .builder\
    .appName("PythonWordCount")\
    .config("spark.hadoop.fs.

[2020-06-28 23:15] Jeffwan commented on #4306
@yosit
namespace not under profile controller management will be fine since istio RBAC rules were not created.

I think current blocking issue is on the istio policy side. When executor tries to connect back to user, it will be blocked since istio need authorization. We probably can add some policy to bypass check for these two ports. driver port and block manager's port.

Let me check it and see

[2020-06-29 04:11] scottilee commented on #4817
Since it has been a while I have a couple questions... is Tekton run in Prow and if so why? If not then when are things like tests run in Tekton versus in Prow?

[2020-06-29 07:51] jiaozhentian opened #5096 "the kubeflow installation is stuck on the microk8s.enable kubeflow"
/kind bug
kubeflow can not install on my VM, which is stuck on the microk8s.enable kubeflow, apperently the problem is juju.
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I followed the steps under the official tutorial, which is [https://ubuntu.com/kubeflow/install](url)

**What did you expect to happen:**
so the ErrImagePull happened in many

[2020-06-29 07:53] jiaozhentian commented on #5096
idiot…… the link has down

[2020-06-29 14:07] jlewi commented on #5096
@RFMVasconcelos Any idea?

[2020-06-29 14:08] jlewi commented on #5094
@jtfogarty Is this really within scope for Kubeflow? It seems like you are asking for a UI to manage basic Kubernetes features. Aren't there existing projects that provide that functionality?

For example on GKE the GKE UI provides functionality to create namespaces.

[2020-06-29 14:11] jlewi commented on #5093
@amybachir Have you thought about just using MLFlow's model registry with Kubeflow?

/cc @karlshriek

[2020-06-29 14:14] jlewi commented on #5082
Looks like kubeflow/kubeflow#4863

Closing in favor of that issue.

Duplicate of #4863

[2020-06-29 14:14] #5082 closed

[2020-06-29 14:31] amybachir commented on #5093
@jlewi  Yep! That's the setup I have now. It's not too complex but I'd like to eliminate yet another piece that I have to maintain, MLflow, if possible. Also, I'm running everything in Kubernetes but MLflow is not Knative so it makes it more difficult to integrate and maintain in a Kubernetes setup.

I like MLflow's tracking system, model registry and standard model packaging better but Kubeflow i

[2020-06-29 14:41] RFMVasconcelos commented on #5096
Hi @jlewi thanks for sharing!

We will look into this ASAP.

[2020-06-29 15:51] knkski commented on #5096
@jiaozhentian: I just tried `microk8s.enable kubeflow`, and it worked fine for me. The error you're getting looks like a transient network error, are you able to try again and see if that fixes it?

[2020-06-29 17:07] monil536 commented on #4986
I am facing similar issue. Does any one have any solution that can work behind the proxy ?

![image](https://user-images.githubusercontent.com/23745458/86034914-7514f080-ba09-11ea-97b9-f903ac9916a1.png)

[2020-06-29 19:15] nithin8702 commented on #5096
Am also getting the same issue. Am trying using multipass and microk8s. It stucks very long time.

[2020-06-29 20:22] #4712 closed

[2020-06-29 21:21] jlewi commented on #4889
@lalithvaka Please check the 1.1 branch and see if your PR is on it. If its not then you can follow
https://github.com/kubeflow/kubeflow/blob/master/hack/cherry-picks.md

To cherry-pick it into the release branch.

Once its on the release branch you will want to verify that a PR is opened up against the kubeflow/manifests release branch to update the docker image.

[2020-06-29 23:25] jlewi commented on #5067
@bmorphism @yanniszark any update?

[2020-06-29 23:26] jlewi commented on #5057
@Jeffwan update?

[2020-06-29 23:36] jlewi commented on #4789
@harshad16 any update?

[2020-06-30 00:06] jdurago opened #5097 "Encountered error applying application aws-istio-authz-adaptor when using kfctl_aws.yaml"
/kind bug

**What steps did you take and what happened:**
I'm unable to install kubeflow as per these AWS instructions:
https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/

Was applying my config file:
kfctl apply -V -f kfctl_aws.yaml

and received the following error
[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will as

[2020-06-30 01:05] harshad16 commented on #4789
@jlewi have some trouble in testing.
however here is what I trying to do,
making a change in the [update_kf_apps.py](https://github.com/kubeflow/testing/blob/master/py/kubeflow/testing/cd/update_kf_apps.py) to check if the image is present or not in the [config-map.yaml](https://github.com/kubeflow/manifests/blob/9ec6bb39e9bb76d7a9bdef290628a6c6f36952ce/jupyter/jupyter-web-app/base/config-map.yaml

[2020-06-30 03:20] Bobgy commented on #4912
If you want to access the endpoint from outside of the cluster, you might need change in kfp client similar to https://github.com/kubeflow/pipelines/pull/2679. You need to know how to authenticate http requests to the dex endpoint.

If you want to access the endpoint from inside the cluster, kfp api server has in-cluster hostname like `ml-pipeline.kubeflow.cluster.local:8888` (without auth protect

[2020-06-30 04:39] dagondagon666 commented on #4912
Where could I get the cookie?
TBH I would prefer using the generic authentication but using username + password just seems a bit weird to me...

[2020-06-30 07:46] Bobgy commented on #4912
Hi @dagondagon666 ! I'm not an expert on tech details for these, just pointing to efforts that could be related.

Do you know how a normal https request to that endpoint should be authenticated?
I didn't mean the generic authentication was username + password, just guess generic auth module might be able to handle dex with some configurations.

[2020-06-30 12:07] knave07 commented on #5030
@allenc97 You could make an exclusion rule in your GCP project to exclude the logs containing certain keywords.

Go to logging and you can see all the exclusions from here:
<img width="1672" alt="Screen Shot 2020-06-30 at 20 35 20" src="https://user-images.githubusercontent.com/37116431/86123408-69622080-bb14-11ea-8c22-279d7f60620f.png">

Create Exclusion from here:
<img width="1430" alt="Screen S

[2020-06-30 12:56] jlewi commented on #4789
@harshad16 Thanks. Is there a Tekton pipeline we could trigger manually to do just the builds so that we could get new docker images built for the release?

[2020-06-30 13:16] linkvt commented on #5038
For us this is also a major issue as everybody with access to the ingress is able to create and use resources in the cluster even if he might not have access to the Kubernetes cluster in general (e.g. via kubectl).
We don't want to give users permissions to create their namespaces effectively bypassing e.g. ResourceQuotas which are set for all other namespaces. This is IMO a massive risk for stabl

[2020-06-30 16:19] harshad16 commented on #4789
this [pipeline](https://github.com/harshad16/testing/blob/master/apps-cd/pipelines/base/notebook-pipeline.yaml) can be used to trigger manually to build and push , still a wip.
as i run my workload on openshift instance i had to changed few of the things in tasks.

[2020-06-30 16:29] #4500 closed

[2020-06-30 17:55] maganaluis commented on #4912
@Bobgy This could work when using the client outside the cluster or given that you provide the host when running from a POD. This makes sense that way Dex will set the identity headers, I will test it out and post back on Slack.

[2020-06-30 19:10] HassanOuda commented on #4567
Can we reopen this? At least, maybe let us know where in the code/yaml files we can change to assign default resource quotas for user namespaces as a quick workaround. Thanks.

[2020-06-30 20:12] espears1 opened #5098 "How can you explicitly track the origin of code impounded into the Docker image Kubeflow expects for TFJob?"
/kind question

**Question:**

One of the aspects of TFJob yaml config files is the name of a Docker image to use for executing that TFJob's commands. The standard approach for this is to package _everything_ in that container, inclusive of all of the code to be used for executing the TFJob commands.

Naively this sounds like it is great for provenance and tracking, but in actuality it leaves a gl

[2020-06-30 20:18] cslovell opened #5099 "failed to apply: (kubeflow.error): Code 500 with message: kfApp Apply failed for kustomize: (kubeflow.error): Code 400 with message: couldn't create namespace kubeflow Error: Post "http://localhost:8080/api/v1/namespaces": dial tcp 127.0.0.1:8080: connect: connection refused"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Created a new cluster locally using kind, tested connection using  `kubectl run nginx --image=nginx:1.10.0` (was successful and removed immediately), followed the instructions verbatim in `https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/`.

Running the final command `sudo kfctl

[2020-06-30 22:10] Jeffwan commented on #5057
@jlewi The left two things will be postponed to next release. for 1.1, aws side is good.

[2020-06-30 22:10] #5057 closed

[2020-06-30 22:12] Jeffwan commented on #5022
AWS side is clear and we don't have pending changes.

[2020-06-30 23:33] charlesa101 commented on #4762
still having the same issue without flannel!

[2020-07-01 03:37] tranlyvu commented on #4762
Try to use canal , it solved my problem

[2020-07-01 04:18] dagondagon666 commented on #4912
@Bobgy Right now I actually set `pipeline` to skip auth. I think this is what was suggested as walk around for either pipeline or kfserving.

[2020-07-01 04:37] Bobgy commented on #4912
Did you set public `/pipeline` endpoint to skip auth? I hope you are not doing that, that's really a security risk.

[2020-07-01 11:18] lovishch20 commented on #5061
Could you please tell where to edit the manifests so that I can point to my own private registry?

Thanks

[2020-07-01 11:24] lovishch20 opened #5100 "Connecting remote MySQL Db from Kubeflow component using KF SDK"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

We have a requirement in which we have to connect to external systems like MySQL , Kafka , S3 , HDFS in first component of the pipeline using Kubeflow pipeline SDK  so as to ingest the data.
I explored a lot but couldn't find any resource.

**What did you expect to happen:**

Kubeflow s

[2020-07-01 14:13] jlewi commented on #4789
@harshad16 It would be really helpful if we could do two things

1. Check in any pipelines and tasks into kubeflow/testing
1. Create a PipelineRun to build  the notebook images we need

If someone could just manually do `kubectl apply -f run.yaml` to kick of a run to build updated KF images that would be super helpful.

If it will speed things up you can run directly on our CI GKE clusters. Just s

[2020-07-01 14:38] jlewi commented on #4789
@harshad16 I was thinking about how to make this more reusable (e.g kubeflow/code-intelligence#155)

create_manifests_pr.py is really doing two things

1. It is applying use case specific logic to modify some files
    * e.g. in one case we are updating kustomize images
    * in this issue we are updating the spawner config
    * in kubeflow/code-intelligence#155 we want to modify model configs

1

[2020-07-02 02:04] sachua commented on #5061
@lovishch20 there are 2 ways:

1. Run the `kfctl build` command and edit them from the kustomize folder generated
2. Clone the Kubeflow manifests ( https://github.com/kubeflow/manifests.git), then change your deployment yaml to point to your manifests instead

[2020-07-02 03:14] #4429 closed

[2020-07-02 13:37] knave07 opened #5101 "No Kubeflow endpoint after redeploying Kubeflow with same name in GCP"
/kind bug

**What steps did you take and what happened:**
I already had Kubeflow running in my cluster in GKE. Sadly It broke (Kubeflow ns got deleted by someone). So I deleted all the resources, including storage with `kfctl`. It was fine for me as I had a backup of all the build files.
I applied the config file again and it got deployed without any issues. But then the Kubeflow Endpoint was not

[2020-07-02 16:20] kandrio98 commented on #5039
Yes, supporting object stores is an option for storing/retrieving event files, but I think that PVCs provide an easier/more intuitive workflow for the end user. More specifically, users might prefer using PVCs instead of object stores because:
1) Object stores add complexity since they require a service to be configured/available in the cluster.
2) In terms of ease of use, it is a lot simpler for

[2020-07-02 19:12] parthmishra commented on #5101
This is related to https://github.com/kubeflow/kubeflow/issues/5048

What you need to do is undelete endpoint name: `gcloud endpoints services undelete <kf_endpoint_name>` and then rerun `kfctl apply ...`

[2020-07-02 20:04] DavidSpek opened #5102 "Tensorflow notebooks kernel stuck in connected state, never reaches idle or runs any command"
/kind bug

**What steps did you take and what happened:**
When launching the default provided notebooks (tensorflow-1.15.2 cpu and gpu, and tensorflow-2.1.0 cpu and gpu) the python 3 kernel never changes to idle status. After the kernel has started, the status changes from `Kernel Busy` to `Kernel Connected` after about a minute and stays in this state.
![image](https://user-images.githubuserconte

[2020-07-02 21:01] DavidSpek commented on #5102
I built a custom image using `tensorflow/tensorflow:2.2.0rc2-py3-jupyter` with the attached dockerfile and the kernel state went to `Kernerl Idle` as expected and was able to perform `1+1` without issues. I would still be interested to know what could be causing this issue as otherwise it might pop up randomly in the future.

[Dockerfile.txt](https://github.com/kubeflow/kubeflow/files/4866635/Dock

[2020-07-03 00:12] #5066 closed

[2020-07-03 00:13] #4970 closed

[2020-07-03 00:13] #4934 closed

[2020-07-03 03:44] #4892 closed

[2020-07-03 03:44] #4885 closed

[2020-07-03 05:27] vincentarthur commented on #5077
Eventually - we found the solution as below -

- install Kubeflow 1.0.2 via `kfctl_k8s_istio.yaml`
- Add `volumeClaimTemplates: []` to `kustomize/oidc-authservice/base/statefulset.yaml` (output from kfctl_k8s_dex.yaml)
- manually install `dex` and `oidc-authservice` to cluster (ride on KF1.0.2)

Then access the UI, the `rbac: access denied` issue is gone.

So - i think the issue should be related

[2020-07-03 08:40] linkvt opened #5103 "Increase istio replicas to 2+ for better availability and because of PodDisruptionBudgets"
/kind bug

**Edit** wups wanted to create this in the manifests repo, please tell me if I should recreate the issue.

**What steps did you take and what happened:**
The PodDisruptionBudgets for istio currently require always 1 pod available while the affected istio deployments have only 1 replica. Draining individual nodes is impossible as the PodDisruptionBudgets would be violated.

**What did yo

[2020-07-03 08:43] linkvt commented on #5103
Oups, I wanted to create this in the manifests repo, please tell me if I should recreate the issue there or if this repo is also used as central kubeflow issue tracker, thanks.

[2020-07-03 09:15] linkvt commented on #5103
Recreated in https://github.com/kubeflow/manifests/issues/1343

[2020-07-03 09:15] #5103 closed

[2020-07-03 09:57] ianhellstrom commented on #5093
@amybachir Does [Kubeflow Metadata](https://www.kubeflow.org/docs/components/metadata/) not suffice? The SDK is finicky at the moment but it does offer most features MLflow has AFAICT.

[2020-07-03 12:22] gettheguru opened #5104 "Dex SSO Query - when changing the default issuer from dex.auth.svc.cluster.local:5556"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
When integrated Kubeflow with Azure AD I have had to change away from the default Dex issuer config to be one that is https. This means changing away from the http://dex.auth.svc.cluster.local:5556 configuration

**What did you expect to happen:**
I can appreciate there is some configura

[2020-07-03 13:09] gettheguru commented on #5104
Found solution through https://github.com/kubeflow/kubeflow/issues/4517 and updated the istio-system oidc-authservice-parameters configmap plus a few other configs rather than redeploying.

[2020-07-03 13:09] #5104 closed

[2020-07-03 16:26] terrytangyuan commented on #4805
See https://github.com/kubeflow/mxnet-operator/issues/66

[2020-07-03 22:46] 8bitmp3 commented on #5022
@jlewi with your guidance i can run `/docs` for KF v1.1. if it's available 👍

[2020-07-03 23:13] jbottum opened #5105 "Create a Charter for the Product Management Working Group"
/kind question

**Question:**
We need to create a charter for the Product Management Working Group.

This document provides some material to start the process (including starting to identify the responsibilities of the PM Working Group).

https://docs.google.com/document/d/1IMgAS8aVNsttV_weFDng8avl4A1pP7abaAzWtj8hRYU/edit

[2020-07-04 14:30] jlewi commented on #5105
@jbottum Do you think it makes sense for a product WG to be one of the initial WGs we form? My initial thought was that a lot of the product management functionality should be assumed by area specific working groups. Lets assume we have WGs for

* Pipelines/Metadata
* Inference
* Training
* Notebooks/Datascience

My expectation would be a lot of product management functionality would happen within

[2020-07-04 22:04] Vikram486 commented on #4836
I am getting below error.
![MiniKF error](https://user-images.githubusercontent.com/53994396/86521579-72ceee00-be70-11ea-9f68-2474897777e5.PNG)

[2020-07-04 23:59] jlewi commented on #3578
@kimwnasptd @elikatsis
Looking at the TBSpec

https://github.com/kubeflow/kubeflow/blob/101c77a37c64791ce2b3e5a65c96622906202645/components/tensorboard-controller/api/v1alpha1/tensorboard_types.go#L27

The only field is logspath. This seems insufficient.

* How would the user specify resource requirements?
* How would the user attach secrets?
* How would the user specify the version of TB to run?

[2020-07-04 23:59] jlewi commented on #5039
I understand that. But in order to make this work you are suddenly forcing a bunch of pods to be scheduled on the same node which will likely lead to unexpected failures. e.g. suppose I start a TB pod and that is the first to schedule a PVC. TB doesn't really need GPUs so it gets scheduled on a node with no GPUs. Now I schedule a jupyter pod which requests the PVC and a GPU. So now you have confli

[2020-07-06 08:49] eterna2 commented on #5087
@yanniszark

Sorry have to reopen this issue.

I was working on an independent controller for Openshift routes, but I just discovered that it doesn't have rewrite functionality yet.

Wondering if u are open to some slight modification to the Kubeflow notebook controller?

Namely, set pod env `NB_PREFIX` to null, and change istio virtual service rewrite to `/`, instead of `/notebook/namespace/name`

[2020-07-06 09:07] jlewi commented on #5102
@DavidSpek glad you were able to unblock yourself.

It would be helpful to have the logs of the jupyter pod(s) to see if there are any errors.

[2020-07-06 09:07] jlewi commented on #5101
Duplicate of #5048

Thanks @parthmishra

@knave07 hopefully that unblocked you.

[2020-07-06 09:08] jlewi commented on #5101
Duplicate of #5048

[2020-07-06 09:08] #5101 closed

[2020-07-06 09:11] jlewi commented on #5099
@cslovell This looks like a problem with kfctl being able to connect to your Kubernetes master; e.g. it looks like kfctl is trying to get the namespaces

[code]

Is your cluster healthy? e.g. does

[code]

Work?

What is the output of

[code]

Is your master really hosted on localhost:8080?

[2020-07-06 09:18] jlewi commented on #5098
This doesn't seem like an issue specific to Kubeflow or TFJob. I think its a a more general problem of tying back your docker images to the source from which they are built.

The approach I've seen are a combination of the following

* Use some form of binary authorization (e.g. [BinAuthz on GKE](https://cloud.google.com/binary-authorization/docs)) to ensure only trusted docker images run
* Force

[2020-07-06 09:24] munagekar commented on #5071
@AldusLorde Currently Kubeflow needs an owner namespace/profile for every user. This is a part of kubeflow's self-service.

- A user can be an owner for several namespaces
- Every user must be the owner of at least one namespace
- A single namespace can have multiple contributors but just one owner

[2020-07-06 09:26] jlewi opened #5106 "[Lineage Tracking] CUJ / Demo Script"
/kind feature

Kubeflow pipelines/metadata added a really rich UI for showing the lineage of artifacts.

This video shows an example
https://youtu.be/DYsIrpgaucg

IIUC lineage tracking depends only on the data being stored in metadata using the proper schemas. i.e. if we have a set of executions and artifacts forming a graph in TFX metadata, then we should be able to select an artifact and see its

[2020-07-06 09:44] iamvarol opened #5107 "Minikf on GCP installation is not proceeding maybe for 2 hours. It is stuck on 33/35 and 34/35 pods are ready. Progress bar moves one step back and moves forward one step so and so forth. But couldn't finished in 2 hours"
/kind bug

**What steps did you take and what happened:**
Minikf on GCP installation is not proceeding maybe for 2 hours. It is stuck on 32/35 (92%), 33/35 (94%), and 34/35 (97%) pods are ready. The progress bar moves one step back and moves forward one step so and so forth. But couldn't finish in 2 hours.
![Screen Shot 2020-07-06 at 12 43 58](https://user-images.githubusercontent.com/55491416/865

[2020-07-06 10:15] joey100 commented on #5077
/close

[2020-07-06 13:03] harshad16 commented on #4789
sorry wasn't available for the last few days, we get onto this.

saw that the tensorflow-notebook-image builds are done via this [script](https://github.com/kubeflow/kubeflow/blob/master/components/tensorflow-notebook-image/build_image.sh)  was trying to create a task which would build the image with buildah and the build args.

this would be super helpful. will send in a pr.

[2020-07-06 13:18] harshad16 commented on #4789
This could be doable as one task step of task can do the modify of file and another can do the commit or push-based on params.

Make sense, This would be really useful. In one of our team project, we have done something similar we pass in the git repo as param and the tasks does a commit push to the kustomize changes to the git repo with a bots creds.

[2020-07-06 13:47] espears1 commented on #5098
@jlewi Thanks for your comment. I think the issue is different from items 1 or 3 in your reply. Those may enforce limitations on container choices or may allow user annotations (similar to experiment metadata Kubeflow already lets a user annotate), but they don't actually enforce any tracking. If you could arrange BinAuthz's notion of trusted container to map 1-1 with a container built from a spec

[2020-07-06 14:27] vincentarthur commented on #5077
@joey100  - please reopen. A mistake made before, when using kfctl_k8s_istio.yaml, by default, `rbacClusterConfig` is set `OFF` so that `rbac:access denied` not shown...

Issue remained...

[2020-07-06 17:13] Swikar commented on #5106
Yes I’m interested exploring this.

[2020-07-06 17:32] aaltay commented on #4894
Copying my relevant comment from: https://github.com/kubeflow/pipelines/issues/2601

This issue is still open. Beam and Dataflow will soon stop supporting python2 pipelines. After that, kubeflow may not be able launch Dataflow pipelines.

[2020-07-06 17:40] Swikar commented on #5106
Yes I am interested exploring this.

[2020-07-06 21:41] kimwnasptd commented on #3578
@jlewi wrt the controller we were thinking of
1. extending the `logspath` field to support PVCs as described in #5039
2. make it a little bit easier to work with RWO PVCs by adding some extra scheduling information

Note that working with Object Stores is already supported, although we should definitely discuss how to support secrets. We just wanted to extend the current functionality to also supp

[2020-07-06 21:48] jlewi commented on #4789
@harshad16 No problem. I was working on CD in the context of  kubeflow/code-intelligence#155 .

This got me thinking that it might be easier to build actual custom resources that

1. Expressed the appropriate condition to trigger the tekton pipeline
1. Contain the tekton pipelinerun to run

The existing apps-cd is basically already implementing a reconciler but without actually implementing it as

[2020-07-07 00:01] melih-sqsp commented on #5098
@jlewi I came across the `arena` repo within kubeflow project. It might have some ideas mentioned, such as the ability to have a base image for tensorflow or other frameworks; and a separate mount for user-code which can be pulled from git or from elsewhere specified via command args `--syncMode` `--syncSource`. It's not clear if this works as it is in terms the logic for using environment variabl

[2020-07-07 03:23] joey100 commented on #5077
/reopen

[2020-07-07 07:41] eminemence commented on #5107
I am facing a similar issue for local installation as well. It is stuck at 33/35 pods for the whole night.
I am doing this installation on Windows 10.

[2020-07-07 07:48] eminemence commented on #5107
Fixed this issue, by deleting the local state files. In case of windows it was by using this command.
[Windows] del minikf-user-data.vdi

[2020-07-07 10:26] ianhellstrom opened #5111 "Trim whitespace around notebook images to avoid pod creation failure"
/kind bug

**What steps did you take and what happened:**
When using a custom notebook image that's copy-pasted from somewhere, it frequently happens that whitespace on either end is included. This means the notebook server fails to start:

[code]

For beginners, this is troublesome, as they have to look through Kubernetes events to figure out what went wrong. A better error message would be one w

[2020-07-07 14:01] jlewi commented on #4762
This issue was closed on February 14. If you are still having problems I would suggest opening a new issue and referencing the closed issues. Closed issues are generally ignored.

[2020-07-07 14:45] jlewi commented on #3578
Thanks @kimwnasptd

Here's my conjecture; it looks like the path you are on will lead you to eventually putting a PodTemplateSpec in the TensorBoardController (or the equivalent)

Per #5039 you want to add nodeAffinity and presumably volumes as well.

To support object storage you need to support setting secrets and service accounts

* Since the secrets are hard coded today object store isn't real

[2020-07-07 17:26] lalithvaka commented on #5094
You are right @jlewi. Some of these could be managed using existing Cluster Mgmt vendor tools(Openshift/ Rancher/ GKE/ AKS etc..) if available. But in our enterprise we treat normal workload clusters totally separate and do not mix with ML Clusters and same with the teams operating them as well. These features would definitely help if some one is going with no cluster mgmt software and purely rely

[2020-07-07 17:43] Swikar commented on #5106
@jlewi Since Lineage tracking feature already introduced in 1.0, Can I have more information for starting point? Which repository helps me to explore this issue, any design docs or any reference?

[2020-07-07 17:44] Swikar commented on #5106
/assign

[2020-07-07 17:49] mmwebster opened #5115 "Auto shutdown of idle main Kubeflow pod"
/kind question

**Question:**
Is there a recommended way of automatically shutting down the main Kubeflow pod (that's serving the web app / GUI) when idle?

On GCP the default machine type for the corresponding cpu node pool is n1-standard-8, which costs too much for me to run continuously. I've read advice against using a smaller machine type, and it's tedious—and not always possible—to manually

[2020-07-07 18:46] jbottum commented on #5107
@cspavlou Hey Chris, can you please look at this issue?

[2020-07-07 19:09] j0hnL opened #5116 "rename master branch"
/kind feature

**Why you need this feature:**
Many software projects that are managed and distributed using tools like git use master/dev terminology. The term master has extremely offensive connotations, and the team at GitHub agrees (https://www.zdnet.com/article/github-to-replace-master-with-alternative-term-to-avoid-slavery-references/). We should encourage all software projects to adopt less

[2020-07-07 21:03] jlewi commented on #5106
@Swikar check out this video: https://youtu.be/DYsIrpgaucg

If you run a pipeline that produces an artifact, are you able to see the lineage view for the artifact?

This notebook has example code for logging data to metadata using the SDKs
https://github.com/kubeflow/examples/blob/master/xgboost_synthetic/build-train-deploy.ipynb

[2020-07-07 21:43] Swikar commented on #5106
In video https://youtu.be/DYsIrpgaucg, I don’t understand relationship of Input artifact, target, output artifact
Whenever user clicks on square box lineage happening on top bar.

[2020-07-08 01:32] aronchick commented on #5106
Absolutely! LMK how to help :)

[2020-07-08 02:14] #4825 closed

[2020-07-08 03:08] jbottum commented on #5115
@mmwebster Hey Milo, thanks for the request.   It might be good to quantify the benefit.  How much $ are you expecting to save per month?

[2020-07-08 03:25] Swikar commented on #5106
Thanks David
In this video https://youtu.be/DYsIrpgaucg <https://youtu.be/DYsIrpgaucg>
Do you know input artifact, target, output artifact?

Thanks,
Swikar

[2020-07-08 03:40] jlewi commented on #5106
@Swikar take a look at the links in this email thread
https://groups.google.com/forum/#!topic/kubeflow-discuss/24SlOUs-HB4

In particular this one from TFX metadata about the data model
https://github.com/google/ml-metadata/blob/master/g3doc/get_started.md#tracking-ml-workflows-with-ml-metadata

[2020-07-08 03:42] Swikar commented on #5106
Thanks Jeremy

[2020-07-08 04:45] Swikar commented on #5106
Thanks @jlewi

[2020-07-08 04:45] Swikar commented on #5106
Thanks @jlewi

[2020-07-08 04:46] Swikar commented on #5106
Thanks @jlewi

[2020-07-08 09:30] velascoluis commented on #3362
Hi, just wondering if this something we are planning for inclusion on KFP Post 1.0 Backlog? We are seeing this demand for the data engineering team, in particular for pipelines component development

[2020-07-08 10:07] Bobgy commented on #4865
Hmmm, noticed profile controller is using a distroless image, so it has neither curl nor wget in the image.

https://github.com/kubeflow/kubeflow/blob/master/components/access-management/Dockerfile

[2020-07-08 13:07] dalbhanj commented on #4882
remove lifecycle/stale

[2020-07-08 13:17] devashishshankar opened #5117 "Endpoint not created when reinstalling kubeflow"
/kind bug

**What steps did you take and what happened:**

I had installed Kubeflow using the CLI on GKE. First installation generally works out well. However, I had some configuration changes - due to which I did `kfctl delete` followed by `kfctl apply` again. I have tried this multiple times with multiple kubeflow clusters (KF_NAME), but this doesn't seem to work.

I have tried troubleshooting,

[2020-07-08 15:09] Swikar commented on #5106
@jlewi in order to create CUJ and python script which repository where to place code? Should we put somewhere in pipeline repository or metadata repository? Any specific location?

[2020-07-08 15:10] Bobgy commented on #4865
@jlewi Do you have any suggestions? This is still a blocker.
Shall we disable profile controller's liveness and readiness hooks for now and wait for all platforms to upgrade to istio 1.4+, so that we can use the probe rewrite solution which seems least intrusive.

[2020-07-08 17:06] cspavlou commented on #5107
Hi @iamvarol , what machine type are you using on GCP?

[2020-07-08 18:31] mmwebster commented on #5115
@jbottum Shutting down the node when my team and I aren't using it is essential, as it saves us around $106/mo based on our estimated usage. Due to occasionally forgetting, and not being able to shutdown the node when we're asleep but a pipeline has finished, an auto-shutdown would account for at least ~$46/mo of that $106/mo max savings. Training on GPUs is much more expensive, but these aren’t i

[2020-07-08 19:13] iamvarol commented on #5107
Ahaa, I got the point, it is a free tier!

[2020-07-08 19:13] #5107 closed

[2020-07-08 19:58] kimwnasptd commented on #3578
@jlewi

I really agree with your thought process and points and I also think that having an extensible story for deploying our stateful apps, like Jupyter, Tensorboard, Theia etc is a step towards the right direction.

My only concern as of right now is that I don't want the GSoC project to get off schedule or blocked from this transition to a more abstract/reusable way of deploying our apps.

The

[2020-07-09 00:18] Jeffwan commented on #4882
https://github.com/kubeflow/kfctl/issues/358

This can be closed and it will ship in v1.1. Feel free to reopen if other info is needed

[2020-07-09 00:18] #4882 closed

[2020-07-09 04:59] jlewi commented on #4865
@Bobgy Why do we need to enable mutual TLS and authorization rules for KFam? I believe as discussed elsewhere (e.g. https://github.com/kubeflow/community/blob/master/guidelines/auth.md); using subject access review and not calling KFam is the preferred approach for doing auth.

Can KFP just use KFam as is today without mutual TLS until it can be switched to subject access review?

[2020-07-09 05:33] Bobgy commented on #4865
Yes, just using KFAM is also a workaround. Not protecting kfam by istio is a security risk because it exposes several apis that allow adding users as contributors to a namespace. Although, it's not related to KFP.

I'm okay with this solution because it also exists today, but I'll call that out when writing documentation for KFP multi user mode.

[2020-07-09 05:41] harshad16 commented on #4789
@jlewi , can I take couple of more days to work on this? I should have spend more time on this, been a bit lazy :see_no_evil:
I will open a pr and comment on this pr as well https://github.com/kubeflow/internal-acls/pull/276
apologize for the delay.

[2020-07-09 10:22] DavidSpek commented on #5102
I have since moved on to a custom notebook image based on the jupyter datascience-notebook. However, strangely enough when I just tried tensortflow-2.1.0-notebook-cpu:1.0.0 again to get a log for you the kernel went to idle after initializing as it should and it was able to run a simple `1+1` command fine. I will see if I can replicate the issue again once I get my datascience notebook working as

[2020-07-09 10:27] chetanoruganti opened #5119 "where is Metacontroller used in kubeflow ?"
/kind question

looking at the different issues and docs  looks like initially notebook controller was using jsonnet and metacontroller . Now it  looks like already notebook controller is compliantly moved to golang based controller . correct me if my understanding is wrong

Is there any other component which is using Metacontroller ?
do we need to remove Metacontroller stateful set installation f

[2020-07-09 10:55] #4865 closed

[2020-07-09 16:57] #4913 closed

[2020-07-09 19:32] erik78se commented on #1729
How can I know which of many mca-params.conf is used?

I'm not able to remove this file to get rig of this problem.

Looking for help here.

[2020-07-09 19:58] marlow-h commented on #5094
Is there a way to keep users from talking to each other?  IE what is the security profile for different users?  And can an admin set this?

[2020-07-10 04:31] jlewi commented on #4789
@harshad16 sure thanks

[2020-07-10 04:33] jlewi commented on #3578
LGTM

[2020-07-10 09:52] eliaskoromilas opened #5121 "Jupyter-Web-App: Support for selecting Extra Resources"
/kind feature

**Why you need this feature:**
https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins

https://github.com/kubeflow/kubeflow/pull/4614 removed the *Extra Resources* section in favour of a *GPUs*-specific one. Currently, admins that want to enable any kind of extended resources for the Jupyter notebooks can expose the relevant `resources.limits` keys

[2020-07-10 11:58] #5040 closed

[2020-07-10 16:03] jlewi commented on #4863
This might not make it into 1.1 as the continuous builds #4789 is still in the works.

[2020-07-10 16:08] jlewi commented on #4590
@krishnadurai What is the remaining work that this issue is tracking? Can we file more narrowly scoped issues and then close this in favor of them?

[2020-07-10 16:09] jlewi commented on #4960
@yanniszark can we close this

[2020-07-10 16:09] #4960 closed

[2020-07-10 16:53] parthmishra opened #5122 "Adding new Node Pool causes UI to be temporarily unavailable"
/kind bug

**What steps did you take and what happened:**
When updating the generated Deployment Manager config (in the `gcp_config/cluster.jinja`) to add a new Node Pool resource and then running `kfctl apply`, the node pool is successfully added but the UI becomes inaccessible for anywhere between 5-15 minutes and constantly returns a 401 "Origin Authentication Failed." error message in the brow

[2020-07-10 18:25] yydzhou commented on #4815
Is there anyone looking at this issue? or at least provide a workaround?

[2020-07-10 18:30] Swikar commented on #5106
@jlewi In this video which repository this fronted code sits, that shows lineage view? Is it in KFP or metadata /fronted?

[2020-07-10 21:50] jlewi commented on #5119
cloud-endpoints-controller is still using it. We should ideally fix cloud-endpoints-controller.
https://github.com/danisla/cloud-endpoints-controller

[2020-07-10 21:51] jlewi commented on #5106
@Swikar not sure I think /frontend
cc @avdaredevil

[2020-07-10 21:53] jlewi commented on #5067
@bmorphism @yanniszark any update?

[2020-07-10 22:08] jlewi commented on #5022
How's everyone's release qualification going?

On the GCP side we've been testing the v1.1.0-rc.0 manifests and have encountered a couple issues

* kubeflow/gcp-blueprints#74 knative and kfserving is missing from our deployment
* the other [test failure](https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-gcp-blueprints-periodic-1-1&group-by-hierarchy-pattern=%5B%5Cw-%5D%2B) appears to be a bug

[2020-07-10 23:36] jlewi commented on #5106
@Swikar Here's what I did to produce the screen shot below

1. Deploy Kubeflow GCP 1.1
1. Run https://github.com/kubeflow/examples/blob/master/xgboost_synthetic/build-train-deploy.ipynb
1. Select Pipelines -> Artifacts
1. Navigate to xgboost-synthetic-traing-eval
1. Click on Lineage explorer

Here's a screenshot from the lineage viewer
![lineageexplorer](https://user-images.githubusercontent.com/7

[2020-07-11 01:00] #4917 closed

[2020-07-11 04:32] jlewi commented on #5073
@lalithvaka These changes are landing pretty late for 1.1. Before cherry-picking it into 1.1 please manually verify that it is working on master.  You could also talk to @kimwnasptd to see where we are in terms of an E2E test that could verify the UI is working.

[2020-07-11 11:59] devashishshankar opened #5123 "Configurations drop down empty when creating Jupyter server"
/kind bug

**What steps did you take and what happened:**
I wanted to supply custom secrets to my jupyter notebook. However, the configuration dropdown seems to be empty (Nothing happens if I click it).
<img width="938" alt="Screenshot 2020-07-11 at 5 26 00 PM" src="https://user-images.githubusercontent.com/980954/87223573-b9a27380-c39b-11ea-9a2f-78542ce56bcd.png">

I have added pod default manife

[2020-07-12 07:26] chetanoruganti commented on #5119
Thanks @jlewi

[2020-07-12 15:54] #4732 closed

[2020-07-12 15:54] #4692 closed

[2020-07-12 15:54] #4859 closed

[2020-07-12 15:54] #4895 closed

[2020-07-13 09:56] Bobgy commented on #5022
FYI, I'm using https://github.com/kubeflow/pipelines/issues/3241 as tracker issue for KFP multi user mode.

[2020-07-13 13:07] ykeuter commented on #4761
Not sure if this is the right place to ask, but I am trying to get authorization to work on AWS (with OIDC). I followed the configuration as in https://www.kubeflow.org/docs/aws/authentication-oidc/ using kfctl_aws_cognito.v1.0.2.yaml (and v1.0-branch). My spec looks like this:
[code]
The authentication part seems to be working correctly, but I get this message when calling the ALB hostname:
`PERM

[2020-07-13 13:17] jlewi commented on #4761
@ykeuter commenting on closed issues is generally not a good idea. If your having problems please open a new issue and if you think its related to closed issues you can reference the issue in the closed issue

[2020-07-13 13:35] Manvi07 commented on #4386
Is it a version issue? I face the same issue on EKS where there are warnings and retries ending up in the failure in kubeflow deployment:
[code]
- Kubeflow version: 1.0.2
- Kubernetes version: Client v.1.18.2 and Server v.1.15

Is there any way to solve this?

[2020-07-13 14:27] priyawadhwa opened #5125 "Upgrade minikube to latest version v1.12.0"
Hello! I'm one of the maintainers for [minikube](https://github.com/kubernetes/minikube) which runs under the hood in MiniKF. In the past few days we've gotten a few issues for minikube not working in miniKF:

https://github.com/kubernetes/minikube/issues/8706
https://github.com/kubernetes/minikube/issues/8690

When I tried running miniKF myself ~2 weeks ago I noticed that minikube version was aro

[2020-07-13 14:42] mikechengwei commented on #5029
mark

[2020-07-13 14:44] mikechengwei commented on #4718
mark

[2020-07-13 14:44] jlewi commented on #4789
@harshad16 I'm working on a [controller](https://github.com/kubeflow/code-intelligence/tree/master/Label_Microservice/go) that will do the following

* Send an http request that will return a payload whether a sync is needed and the parameters if so for a tekton run
* If a sync is needed fire off a tekton pipeline

This would make it easy to generalize our continuous builds. That should fit nicely

[2020-07-13 15:01] animeshsingh commented on #5029
@xalekx if this is still an issue - pleaae sync up with @shawnzhu @adrian555

[2020-07-13 15:16] gtoonstra opened #5126 "GCP endpoint not being created"
/kind bug

**What steps did you take and what happened:**

Ran into multiple issues with kfctl_gcp_iap.v1.0.2.yaml. . I am trying to set up an experimental kubeflow cluster for exploring kubeflow and if it's helpful to the team.

In an attempt to deploy kubeflow on one of our projects so that we can explore how they work, I ran into some issues. I used the deployment for GCP through IAP as per the

[2020-07-13 16:38] shawnzhu commented on #5029
I will try to help by providing more information.

I assume you mean the type is `NodePort`. you need to follow the section of the above guide to update its type to `LoadBalancer`, then you will see its external IP via running `kubectl get svc/istio-ingressgateway -n istio-system`.

Prior to kubeflow v1.0.2, it will require a cluster admin manually creates a profile. You can use this guide to crea

[2020-07-13 18:46] jlewi commented on #5126
Cloud endpoints controller isn't VPC-SC compliant kubeflow/gcp-blueprints#36 so your controller is probably getting stuck because it is unable to contact the Cloud endpoint controller.

The work around as documented in that issue is to run the logic from you local machine. To facilitate that we've baked the logic into kfctl (you'll need to grab a kfctl 1.1 RC).

You'll want to run a command like

[2020-07-13 18:54] jlewi opened #5127 "Explore Tekton Result Store for logging execution history and metadata"
/kind feature

Tekton has a proposal for a result store to store the entire execution history.

Relevant issues:

tektoncd/pipeline#453
tektoncd/pipeline#454
tektoncd/pipeline#279

Design doc: https://docs.google.com/document/d/1-XBYQ4kBlCHIHSVoYAAf_iC01_by_KoK2aRVO0t8ZQ0/edit#heading=h.xgjl2srtytjt

   * You need to join tekton-dev to be able to read

Can/should we align this work with Kubeflow m

[2020-07-13 18:56] jrykr commented on #4838
@Jeffwan is the plan still to implement this via configmap? I just came across this issue after I too changed to `/lab` manually. Looks like the issue has gone stale, and I couldn't locate a solution elsewhere.

[2020-07-13 19:36] aronchick commented on #5127
This is really exciting! If no one has any objection, I'll be adding them to our metadata meeting.

[2020-07-13 21:16] zachomedia opened #5128 "Notebook culling not working with Istio and RBAC"
/kind bug

**What steps did you take and what happened:**

We deployed Kubeflow with Istio and Istio RBAC (w/ OIDC) enabled and we were looking to use Notebook culling to cull idle notebooks after a period of time. I should also note that we have mTLS enabled on our Istio config.

Notebook culling is not functional due to multiple issues:

* Notebook controller is not on the service mesh, so fails

[2020-07-13 21:20] ottodolfo commented on #5127
If they are willing to be at our meeting it would be nice.   I think if the results would be store in an agnostic way, it would be easier to construct over that functionality.

[2020-07-13 22:29] yanniszark commented on #5128
/cc @kimwnasptd

[2020-07-14 08:32] kdunee commented on #4787
@DhanunjayElluri remember to set `export KUBECONFIG=/etc/rancher/k3s/k3s.yaml` when deploying on k3s

[2020-07-14 09:36] gtoonstra commented on #5126
Thanks @jlewi, that finally worked. I downloaded 1.1RC-0 for kfctl.   The only mistake I made was invoke the yaml with kubectl instead, but I noticed that quickly.

I made my own copy of the 'yaml' and filled in the parameters from the params.env in "kustomize". The cloud endpoint was created and was operational in five minutes. I now have a fully working kubeflow cluster.

Final question: Since t

[2020-07-14 12:17] ykeuter opened #5129 ""Permission denied" - authorization issue on AWS / OIDC"
/kind question

**Question:**
I am trying to get authorization to work on AWS (with OIDC). I followed the configuration as in https://www.kubeflow.org/docs/aws/authentication-oidc/ using kfctl_aws_cognito.v1.0.2.yaml (and v1.0-branch). My spec looks like this:
[code]
The authentication part seems to be working correctly, but I get this message when calling the ALB hostname:
`PERMISSION_DENIED:auth

[2020-07-14 13:11] Hmr-ramzi commented on #4306
@Jeffwan Any news about the fix your proposed ?

[2020-07-14 13:19] daanyalmalik opened #5130 "Unable to access Central Dashboard"
/kind bug

**What steps did you take and what happened:**
I have an existing single node Kubernetes cluster up and running where I have been trying to install Kubeflow using the instructions on the following link: https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/ however I am having issues accessing the dashboard.

I understand  that I might have to forward the port in order to access it

[2020-07-14 15:03] ashishbhatnagar02 opened #5131 "Kubeflow deployment error"
Hi All,

I am trying to deploy kubeflow using command and facing error(at the bottom).
--->  kfctl build -V -f ${CONFIG_URI}]

My cluster-kubeflow.yaml file looks like this:
===============================
imports:
- path: cluster.jinja
resources:
- name: kubeflow
  properties:
    autoprovisioning-config:
      enabled: true
      max-accelerator:
      - count: 1
        type: nvidia-tesla-k80

[2020-07-14 19:57] jlewi commented on #5022
On the GCP side we are waiting on two bug fixes before cutting the next RC of manifests

This is being tracked in kubeflow/manifests/issues/1252

The fixes we need are

1. Fixes to install knative and kfserving on GCP
1. KFP multi-user cherrypicks

@animeshsingh @vpavlin @jinchihe @yanniszark @johnugeorge @Jeffwan How is your release qualification going what are you doing to qualify your release?

[2020-07-14 22:23] leopd opened #5132 "`microk8s.disable kubeflow` never finishes. Can't uninstall."
/kind bug

**What steps did you take and what happened:**
On an Ubuntu 18.04 machine with microk8s running, I ran:

[code]

**What did you expect to happen:**

I expect the `disable` command to finish, and to clean up everything.  But there's a big mess of stuff still running:

[code]

Full output of `k get all --namespace kubeflow`: [kubeflow-relics.txt](https://github.com/kubeflow/kubeflow/files

[2020-07-15 01:51] crazy-canux commented on #3767
this still exist on kfctl_1.0.2

[2020-07-15 05:36] animeshsingh commented on #5127
its still in experimental phase - not in master, but definitely promising.

[2020-07-15 07:24] ykeuter commented on #5129
#4761

[2020-07-15 10:16] fakeburst opened #5133 "Jupyter web app ignores storageClass provided in spawner_ui_config"
/kind bug

**What steps did you take and what happened:**
I've modified `spawner_ui_config.yaml` to use `aws-efs` as a storageClass for the notebook server workspace volume:
[code]
But the pvc created from the UI is of claster's default storagaClass

**What did you expect to happen:**
The pvc created with the notebook server to be of the storageClass provided in `spawner_ui_config.yaml`

**Anythin

[2020-07-15 12:42] kandrio98 commented on #5039
Currently, the Tensorboard Controller provides very basic functionalities for PVCs. My proposition aimed at making the use of RWO PVCs a little easier for users. That said, the extra scheduling functionalities that I proposed could become optional.

More specifically, we could add an enviromental variable, say `RWO_PVC_SCHEDULING`, to the Tensorboard CR Controller. This variable will be set to `fa

[2020-07-15 14:22] tiru1930 opened #5134 "kubeflow delete deployment is re-creating the deployment"
/kind bug

When I delete the deployment it is re-creating it, ideally it should not.
My deployment is kfserving-yaml file

**Environment:**

- Kubeflow version: (version number can be found at the bottom left corner of the Kubeflow dashboard):
Dashboard v2.0.0-beta8+0.g4275399
General-purpose web UI for Kubernetes clusters
- kfctl version: (use `kfctl version`):
kfctl_k8s_istio.v1.0.2.yaml
- Kuber

[2020-07-15 14:41] #5134 closed

[2020-07-15 14:41] tiru1930 commented on #5134
closing as issues is delete parent services first

[2020-07-15 14:52] tiru1930 opened #5135 "port forward process is being terminated after some time"
/kind question

**Question:**
I am using below command to do port forward as background process

kubectl port-forward --namespace istio-system $(kubectl get pod --namespace istio-system --selector="app=istio-ingressgateway" --output jsonpath='{.items[0].metadata.name}') 8051:80 --address 0.0.0.0

but the process is not running  after some time

Handling connection for 8051
Handling connection for

[2020-07-15 17:37] pradnyaborkar900 opened #5136 "IAP External Identity Authorization with kubeflow in GCP"
/kind question

**Question:**
I am trying to use External Identity Provider as part of Authentication instead of using IAM for IAP Authentication. I am able to login to the Central Dashboard in Kubeflow but getting access denied error while creating/listing Notebook server. It seems kubeflow is unable to authenticate the user.
Would like to know if this usecase can be achieved in kubeflow on GCP P

[2020-07-16 05:45] imagr-pat opened #5137 "kfctl GCP deployment fails when enable_tpu: true"
/kind bug
/area kfctl

Having previously deployed a cluster on GKE with CLI with not hitches. I tore down the deployment and started from scratch to enable TPUs.

Followed steps inside https://www.kubeflow.org/docs/gke/deploy/deploy-cli/ to dpeloy kubeflow to on GCP.

1.  ran ```kfctl build -V -f ${CONFIG_FILE}```

2. Set ```enable_tpu:true``` in ${KF_DIR}/gcp_config/cluster-kubeflow.yam

3. ran `

[2020-07-16 08:17] jinchihe commented on #5022
For Fairing, is that acceptance if the mnist example passed? For KFServing, I'm going to add e2e for that. Thanks.

[2020-07-16 09:19] Svendegroote91 commented on #4793
I experienced the same issue. It happened just suddenly, my cluster was already running for some time (e.g. days). I followed the instruction by @marcindulak :
[code]
And then the istio-routing is revived and the dashboard-ui works again.

[2020-07-16 09:25] Anujay-Saraf commented on #4758
**@kimwnasptd** This is really helpful in enterprise level as well, as PVC's management time is a pain and can you please share the process/manifest to add this volume manager UI, with existing or new kf installation process along with GKE based cluster, similar to your **MiniKF release**.

https://journal.arrikto.com/democratizing-the-use-of-pvcs-with-the-introduction-of-a-volume-manager-ui-a5bf6

[2020-07-16 12:01] tomalbrecht commented on #4787
Same problem here, since today. Using microk8s v1.18 and https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_istio_dex.v1.0.2.yaml.

Specs:

Kubeflow version: v1.0.2
kfctl version: kfctl v1.0.2-0-ga476281
Kubernetes platform: microk8s v1.18
Kubernetes version: v1.18.4
OS: Ubuntu 18.04 LTS

[code]

[2020-07-16 15:06] hexiaoliangRick commented on #4831
@krishnadurai  i have same problem.can you help.
i use k8s 1.7.5 , istio 1.6.5  and kubeflow kfctl_k8s_istio.v1.0.2.yaml, and i changed the type of service istio-ingressgateway  from 'load balancer' to 'node port'。
1. i user `istioctl manifest apply \
    --set profile=demo \
    --set values.kiali.enabled=true \
    --set "values.kiali.dashboard.jaegerURL=http://jaeger-query:16686" \
    --set "v

[2020-07-16 16:45] #4931 closed

[2020-07-16 16:45] #4928 closed

[2020-07-16 21:08] knkski opened #5141 "Allow customizing links in central dashboard"
/kind feature

**Why you need this feature:**

We are adding a feature in MicroK8s to allow a user to deploy subsets of the overall Kubeflow set of services:

https://github.com/ubuntu/microk8s/pull/1412

As it stands, if someone wants to deploy Kubeflow without say Katib, they will be presented with a dashboard that links to `/katib/`, which in turn is a dead link. It would improve the user exper

[2020-07-16 21:59] jlewi commented on #5022
@jinchihe for now yes.

[2020-07-16 22:03] jlewi commented on #5039
@kandrio98 See my comment https://github.com/kubeflow/kubeflow/issues/3578#issuecomment-655724933

Would that help us in terms of making progress to a long term goal of having a solid story for web apps? Or would it end up just end up being removed later?

If its just going to be removed later in favor of something more general (e.g. a pod template spec) is it still worth doing?

[2020-07-16 22:06] #5126 closed

[2020-07-16 22:09] SachinVarghese commented on #5141
I think this issue is related to #3576. And a common solution can be implemented.

[2020-07-16 22:12] SachinVarghese commented on #3576
Hi @prodonjs, the configMap idea suggested for this sounds great. Has there been any progress on this?

[2020-07-16 22:25] supertetelman opened #5143 "Multi-GPU workloads hang in Jupyter Notebooks launched through Kubeflow"
/kind bug

**What:**
When I attempt to run a multi-gpu workload via PyTorch, TensorFlow, or a simple NCCL command the commands hang.

**How:**
This can be reprodued by launching `supertetelman/nccl-test:kubeflow` through kubeflow onto a node with 2+gpus and running the `all_reduce_perf -b 1M -e 4G -f 2 -g 2` command. After running the test command the script will hang indefinitely.

Doing the same

[2020-07-16 22:51] leopd commented on #5132
I realized after posting this that this machine had gotten into a pretty odd state somehow - none of the pods could reach the internet for some reason I never figured out.  So maybe that's why the services weren't shutting down.  I couldn't even uninstall microk8s using snap - I ended having to wipe out snapd to start over.  (Don't forget to save your secrets!)

I'm gonna close this on the assumpt

[2020-07-16 22:51] #5132 closed

[2020-07-17 02:43] crazy-canux commented on #4610
why closed?
it's exist on 1.0.2.

[2020-07-17 05:22] karlschriek opened #5144 "Manually adding a Kubeflow Cluster-Admin"
/kind feature

**Why you need this feature:**
I am getting requests from users to elevate their profiles to that of "cluster-admins", specifically in order to be able to act as a administrator within the Kubeflow Dashboard. This seems to suggest that the functionality is available (at least for deployments on GCP) and by default the cluster creator also becomes an admin:

https://www.kubeflow.org/

[2020-07-17 06:38] hexiaoliangRick commented on #4831
ok after i remove istio1.6.5 and install istio 1.4.3. i solved this problem.

[2020-07-17 08:17] hacktmz opened #5145 "Cannot access dashboard after successful deployment"
/kind question

**Question:**
[You can ask any question about this project.]
Cannot access dashboard after successful deployment，got ERR_SSL_PROTOCOL_ERROR

Deployed k8s (v1.15.12) using rancher  and deployed kubeflow (v.1.0.1) using kfctl (v1.0-0-g94c35cf):
OS ubuntu 18.04

`kubectl get pods -n kubeflow`
[code]

`kubectl -n istio-system get svc istio-ingressgateway`
[code]

When I use `Chrome` to

[2020-07-17 11:28] prodonjs commented on #3576
@SachinVarghese - I'm not longer actively involved in frontend work for Kubeflow, but we'd welcome a PR to support this kind of behavior if you are interested.

[2020-07-17 14:44] knkski commented on #5141
Thanks @SachinVarghese. #3576 is close enough that I'll close this one as a duplicate

[2020-07-17 14:44] #5141 closed

[2020-07-17 14:50] SachinVarghese commented on #5141
@knkski I have created a PR for this #5147. I hope that solution works for you. It would be great if you could confirm on the PR and also an upvote would be great. Thanks

[2020-07-17 15:00] cliveseldon commented on #3576
@jlewi @jbottum I think the attached PR #5147 would be really useful for our commerical integrations with kubeflow at Seldon.

[2020-07-17 19:36] Swikar commented on #5106
@sylus did you create PoC yet?

[2020-07-17 20:15] lonnix commented on #5006
I am also encountering what I think is the same issue. I setup a new cluster using `kfctl_aws_cognito.v1.0.2.yaml` and everything appears to be working, but when I visit the AWS LoadBalancer for `istio-ingressgateway` I get sent directly to the kubeflow homepage without any option to login. The Account icon in the top right is greyed out and says `anonymous@kubeflow.org` on mouse over. It has been

[2020-07-17 21:47] jlewi commented on #5106
@Swikar @aronchick

This would be an awesome opportunity to test out using fastpages to publish a blog on blog.kubeflow.org.
https://github.com/kubeflow/blog is setup to publish blog posts using fastpages. This allows us to easily turn notebooks into blog posts.

Here's an example:
https://blog.kubeflow.org/jupyter/2020/02/20/test.html

So to create a blog post highlighting this CUJ we could start

[2020-07-17 23:21] hamelsmu commented on #5106
☝️  Happy to help

[2020-07-18 00:44] berndverst commented on #4794
/assign @berndverst
/close

[2020-07-18 00:45] #4794 closed

[2020-07-19 10:05] crazy-canux opened #5148 "kubeflow 1.0.2 not working."
/kind bug

**What steps did you take and what happened:**

kubeflow: 1.0.2
kfctl: 1.0.2
kubenetes: 1.17.0
os: ubuntu16.04

question one:
katib-mysql not working.

kubectl get pod -n kubeflow
katib-db-manager-54b64f99b-nmtzv                               0/1     CrashLoopBackOff   829        3d1h
katib-mysql-6c44769759-n8z79                                   0/1     CrashLoopBackOff   782        2d

[2020-07-19 10:12] crazy-canux commented on #5148
some other issue:

[code]

[2020-07-20 12:19] #5136 closed

[2020-07-20 14:59] slenky opened #5149 "PodDefault never applies to Spark pods"
/kind bug

**What steps did you take and what happened:**
I am using PySpark in Jupyter Notebook to provision the Spark executor pods in my user namespace using this code:
[code]
and I also have a simple PodDefault in that namespace to mount few volumes and add some environment variables and it doesn't work.

In the admission-controller-webhook logs I see:
[code]
Same also happens if I use sparkop

[2020-07-20 22:10] MotoRZR commented on #3362
Also interested in this. Please advise

[2020-07-21 06:44] thesuperzapper commented on #4950
bump - I still believe this is a good idea

I haven't got around to starting a PR for this yet (so if anyone else is game, go ahead).
The architecture is relatively straightforward, as the notebook server can just list the PVC's in the users namespace, and expose this as a drop-down.

[2020-07-21 13:02] jlewi opened #5150 "Kubeflow 1.2 Release planning, owner, and timeline"
/kind process

Opening this bug to begin tracking Kubeflow 1.2. We will need to identify an owner(s) who will drive the release including

* Figuring out the major deliverables
* Figuring out the timeline
* Coordinating delivery with working groups and project owners

[2020-07-21 14:56] jlewi opened #5151 "Update OWNERs of central dashboard"
/kind process

The OWNERs file of the centraldashboard was last updated over a year ago.
https://github.com/kubeflow/kubeflow/blob/master/components/centraldashboard/OWNERS

It looks like at least @prodonjs has indicated [here](https://github.com/kubeflow/kubeflow/issues/3576#issuecomment-660055405) that he is no longer actively working on this.

I think @avdaredevil is also primarily focused on o

[2020-07-21 14:58] jlewi commented on #5151
@swiftdiaries Are you still an active OWNER of centraldashboard if so can you can take this on?

/assign @swiftdiaries

[2020-07-21 15:15] MartinForReal commented on #5020
I think there might be something wrong with your Notebook manifests file.

[2020-07-21 15:19] MartinForReal opened #5152 "[notebook controller] A validation webhook should be added to notebook controller in order to validate custom resource"
/kind feature
**Why you need this feature:**
The cr resource is not validated and the user may fail to create notebook instance because of typos in spec.

**Describe the solution you'd like:**
A validation webhook should be added to notebook controller

[2020-07-21 15:19] MartinForReal commented on #5152
related: #5020

[2020-07-21 15:29] swiftdiaries commented on #5151
I can review code for the time being but I'm not familiar enough with the current UI codebase to be an approver. We should probably advertise through the community for UI OWNERS

[2020-07-21 15:49] SachinVarghese commented on #5151
Hey, @jlewi @swiftdiaries I have been spending some time on the central dashboard codebase recently working on some PRs and have become quite familiar with many parts of the project now.
Previously, I have been involved in contributions to other parts of the project mainly kfserving, seldon-core and oidc-authservice. And I will be happy to spend some time on building and maintaining the central da

[2020-07-21 16:24] swiftdiaries commented on #5151
That's really cool, thank you. Could you open a PR updating the OWNERS file to move me (swiftdiaries) to approvers and adding yourself to the reviewers?

[2020-07-21 18:22] SachinVarghese commented on #5151
Hey, @swiftdiaries Thanks for the response. I have created a PR https://github.com/kubeflow/kubeflow/pull/5153 as you mentioned and also noticed that you are already in the approvers' list.
As a next step, it would be great to sync up some time for me to understand other things related to the project like the code review format, pr builds, test pipelines, docs, and other relevant instructions. Let

[2020-07-21 18:37] StefanoFioravanzo commented on #5151
Hello everyone. I am also interested in stepping up to helping out managing Centraldashboard. @jlewi You may remember that I presented a revamped Centraldashboard during the community meeting a couple of weeks ago. I have been doing some work that I will start to push upstream very soon. I'd love to become part of the reviewers as well!

@SachinVarghese we could share the load and learn things tog

[2020-07-21 18:59] aniruddhachoudhury commented on #4965
Hi I want to use resourcesQuotaspec when i am adding GPU in yaml then i am trying to create Notebook server its showing me error, Can you guys help me out how to add gpu/cpu  in profile resources allocation for a namespace? below are the link i am following
[KubeflowProfileContoller](https://github.com/kubeflow/kubeflow/blob/960587ac9025b6a4ba7facaabc8aa1769fb01dc8/components/profile-controller/co

[2020-07-21 18:59] aniruddhachoudhury opened #5154 "Hi I want to use resourcesQuotaspec when i am adding GPU in yaml then i am trying to create Notebook server its showing me error, Can you guys help me out how to add gpu/cpu in profile resources allocation for a namespace? below are the link i am following"
Hi I want to use resourcesQuotaspec when i am adding GPU in yaml then i am trying to create Notebook server its showing me error, Can you guys help me out how to add gpu/cpu  in profile resources allocation for a namespace? below are the link i am following
[KubeflowProfileContoller](https://github.com/kubeflow/kubeflow/blob/960587ac9025b6a4ba7facaabc8aa1769fb01dc8/components/profile-controller/co

[2020-07-21 19:12] swiftdiaries commented on #5151
That's amazing! Thank you so much for stepping up y'all 🙌🏾
@StefanoFioravanzo could you please open a separate PR with the change to the OWNERS file if that's ok?

[2020-07-21 19:14] jlewi commented on #5151
@SachinVarghese and @StefanoFioravanzo sounds great. My expectation is that the OWNERs of central dashboard own it E2E which includes

* Submitting and reviewing code
* Monitoring/Responding to GitHub issues related to central dashboard
* Driving feature development
* Driving and coordinating release of central dashboard
* Driving testing for centraldashboard

Are you willing to assume some or all

[2020-07-21 19:16] swiftdiaries commented on #5151
There's no separate UI WG at the moment. Since the group is small and scope of the group is limited I think it's fine as it is. We can squeeze in time as part of the community meetings. If appropriate space and time is not allotted as part of the community meeting, we can always revisit this later.

Regarding contributor / dev workflow, I believe @animeshsingh created a Kubeflow Dojo with the expr

[2020-07-21 19:34] HassanOuda opened #5156 "Support Subpath when launching centraldashboard"
/kind feature

**Why you need this feature:**
This feature is needed since DNS will get assigned for the entire cluster and endpoints/subpaths are used to differentiate the service/application and no one uses the default '/' for that DNS

**Describe the solution you'd like:**
Enable kubeflow feature where we can specify the endpoint we would want like "kubeflow" and it enables all kubeflow compone

[2020-07-21 19:42] SachinVarghese commented on #5151
Thanks, @jlewi, and @swiftdiaries for all the relevant links, and also I am aware of the kubeflow Dojo session videos and slides.
I have recently started to attend the community meetings on Tuesdays and @StefanoFioravanzo it would be great to work together and hope to contribute more now. I have created a PR adding myself as an org member https://github.com/kubeflow/internal-acls/pull/292 as instr

[2020-07-21 21:00] supertetelman opened #5157 "Create a FAQ documenting how to do an onprem airgap deployent of Kubeflow"
/kind feature

**Why**

Oftentimes companies have a secure environment where direct Internet access is not possible and simply running kfctl apply and downloading arbitrary containers is not possible. In addition to this use case, running `kfctl apply -f $CONFIG` commands does not guarentee the same deployment, or even a working deployment, of Kubeflow as the manifest files often change, are not p

[2020-07-21 22:19] supertetelman commented on #4815
I manually added the `ClusterName` field to the downloaded manifest file before running the `kubectl delete` command and that seems to have helped:

[code]

[2020-07-22 04:33] WangHexie commented on #4787
The connection to the server localhost:8080 was refused - did you specify the right host or port?

[2020-07-22 06:12] supertetelman commented on #4486
I'm still having  some issues with `error evaluating kustomization manifest for cert-manager`, but for the most part the new deletion logic is working well and this issue is resolved as of v1.1 rc-1.

[2020-07-22 07:12] StarCoral commented on #4815
Thank you @supertetelman , I solve this error by this way.
and the ClusterName is according the admin.conf

[2020-07-22 10:54] vinhdiesal commented on #5145
Any updates on this issue? I also have a problem.
Even after I change the `ingressgateway` to `Load Balancer`, it leads to `no healthy upstream`.

[2020-07-22 11:10] #4594 closed

[2020-07-22 13:20] HassanOuda commented on #5156
/area centraldashboard

[2020-07-22 14:34] rameshkemp opened #5158 ""Permission denied" - authorization issue on AWS / Cognito"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I am trying to get authorization to work on AWS (with Cognito configured with Federated Idp using SAML ). I followed the configuration as in https://www.kubeflow.org/docs/aws/authentication-oidc/ using kfctl_aws_cognito.v1.0.2.yaml (and v1.0-branch). My spec looks like this:

[code]

**W

[2020-07-22 15:44] sylus commented on #5128
Possible to get feedback on this as is a crucial detail and useful for cost management for us :D

[2020-07-22 17:22] Anujay-Saraf commented on #4762
@jlewi

Need one help here with your expertise and understanding

I am unable to receive a working certificate thru letsencrypt prod/staging API:

Snapshot
![image](https://user-images.githubusercontent.com/27989098/88207853-00328080-cc6e-11ea-8989-012da75951c0.png)

The current setup includes below approach

K8s cluster setup with 1.0.2 Istio Dex Yaml, mentioned in kubeflow.org documentation, whi

[2020-07-22 17:29] Anujay-Saraf opened #5159 "Kubefow+ LetsEncrypt+ Istio Dex 1.0.2 yaml"
/kind bug

I am unable to receive a working certificate thru letsencrypt prod/staging API:

![image](https://user-images.githubusercontent.com/27989098/88207986-2f48f200-cc6e-11ea-87ca-e84c5d42cef6.png)

The current setup includes below approach

K8s cluster setup with 1.0.2 Istio Dex Yaml, mentioned in kubeflow.org documentation, which comes with istio 1.3.1 and cert-manager by default.
As my maj

[2020-07-22 17:49] Swikar commented on #5106
@hamelsmu have you start writing blog post for Lineage Tracking? I have start initiating some technical snaps such as which command use to record to metadata store. I have extracted out some code snippet out of above python notebook. However I am not sure technical documentation format for writing.

[2020-07-22 17:58] kevin2107 commented on #668
I'm also having the same issue as above

[2020-07-22 18:11] hamelsmu commented on #5106
@Swikar please feel free to take the lead re: Blog Post Lineage Tracking

[2020-07-23 01:04] jlewi commented on #5022
The GCP tests are passing pretty reliably with the branch:
https://github.com/kubeflow/manifests/tree/v1.1-rc.1

I just created a new RC to pick up some centraldashboard changes
https://github.com/kubeflow/manifests/releases/tag/v1.1-rc.2

and more importantly because v1-1-rc.1 is a branch and not a tag.

[2020-07-23 06:08] #4952 closed

[2020-07-23 10:49] Amrit-Mann commented on #5126
Hi, we are having a very similar issue as described above whereby the cloud endpoints aren't being created. This solution seems like it should fix the issue. Could you provide some more clarity on what the  '--context=$(KFCTXT)' file is as we do not currently have this?

[2020-07-23 23:44] supertetelman commented on #5143
I've moved from doing multi-GPU workloads to running multi-node workloads using `MPIJobs` and the MPI Operator. When I do this the MPI launcher pod hangs in a similar way (and works fine if deployed outside of Kubeflow). I'm guessing this is a different, but related issue.

It seems like there is a decent amount of policy definition in istio that is blocking NCCL/MPI to do what they need to do. I

[2020-07-24 02:03] jiuchen1986 commented on #5121
Second that!

[2020-07-24 05:36] deathemperor commented on #3611
@Eric-Zhang1990 what was your solution to overcome this?

[2020-07-24 12:01] #4752 closed

[2020-07-24 12:02] #4745 closed

[2020-07-24 12:02] #4765 closed

[2020-07-24 12:02] #4766 closed

[2020-07-24 12:02] #4772 closed

[2020-07-24 12:02] #4949 closed

[2020-07-24 14:08] krish0005 opened #5161 "[GCP] Missing VPC-Native creation options/documentation"
Hi,

Shared-VPCs are unsafe. You cannot have Anti Spoofing feature without IpAlias.
I'm trying to deploy Kubeflow on a GKE in VPC-Native mode with the following configuration but i'm not able to have it deployed with resulting Alias IP / VPC-Native Flag enabled in GKE (as seen from Google Cloud Console).
Can you please add in the documentation the instructions needed ?
Can you explain what is wron

[2020-07-24 15:00] SpontaneousDuck commented on #5071
Is there any documentation on creating a new second namespace for a user? I could not find how to make a new namespace beyond the default created at first sign-in

[2020-07-25 11:11] munagekar commented on #5071
@SpontaneousDuck Namespace creation and deletion is handled by the profile controller. To create a new profile apart from the default one, you need to apply the manifest using kubectl.
https://github.com/kubeflow/kubeflow/issues/4999#issue-613092391
The comments on this issue show creation of a profile and adding other contributors.

[2020-07-25 14:50] SpontaneousDuck commented on #5071
Ahhh, so each namespace is a user then you just add multiple people to it. Thanks for the clarification! Does that also work if you are using LDAP/AD for authentication? Can you make users on top of the ones that are authenticated through that?

[2020-07-25 17:35] jlewi commented on #5159
Do you have any errors indicating this is an issue with Kubeflow and not your cluster setup?

/cc @yanniszark @krishnadurai

[2020-07-25 23:02] agup006 commented on #4815
This worked for me, I had to use the full name `cluster-name`.`region`.eksctl.io

[2020-07-25 23:56] jlewi commented on #5022
@Bobgy everything looks good to me I'm going to finalize v1.1.0

[2020-07-26 10:12] munagekar commented on #5071
@SpontaneousDuck Yes, each Profile must have one owner and you can add multiple users as contributors. I have not tested this LDAP/AD for authentication.

[2020-07-26 15:45] #4861 closed

[2020-07-26 15:45] #4845 closed

[2020-07-26 15:45] #4823 closed

[2020-07-26 15:45] #4893 closed

[2020-07-26 15:45] #4891 closed

[2020-07-26 15:45] #4922 closed

[2020-07-26 16:45] #4939 closed

[2020-07-26 18:33] PatrickXYS commented on #5158
PERMISSION_DENIED:authzadaptor-handler.handler.istio-system:

Can you provide more logs? Such as alb-ingress-controller pod, authzadaptor pod, etc.

[2020-07-26 18:43] PatrickXYS commented on #5022
@jlewi

On AWS side:
1. Multi-user KFP adoption
2. Migrate to manifest V3.

Has been tested + merged + cherry-picked into v1.1 branch. I think AWS is good to go with v1.1.0

Ref: https://github.com/kubeflow/manifests/pull/1410

[2020-07-26 18:50] PatrickXYS commented on #4837
I think this is manifest KfAwsPlug format error, and should be solved.

/close

[2020-07-26 18:50] #4837 closed

[2020-07-26 19:27] adrian555 commented on #5022
@jlewi we are testing the multi-user kfp on IBM platforms.

[2020-07-26 19:47] wajeehulhassanvii opened #5163 "Error in setting up Kubeflow locally on minikube failed to apply: (kubeflow.error): Code 500 with message: kfApp Apply failed for kustomize: (kubeflow.error): Code 400 with message: couldn't create namespace kubeflow Error: unknown (post namespaces)"
Trying to setup Kubeflow locally but getting this error:

[code]

[2020-07-27 04:01] sachua commented on #5157
I had deployed Kubeflow in an onprem, airgap environment, I documented my steps here: https://github.com/sachua/kubeflow-easy-deploy

[2020-07-27 04:07] #4884 closed

[2020-07-27 06:11] rameshkemp commented on #5158
I got the root cause of the issue. In AWS Cognito if we have configured external federated identity provider via SAML. Then on successful authentication of the user, the user profile created in AWS cognito has the email verified attribute as false. Due to this the authzadaptor service is denying.

**Logs from pod/authzadaptor:**

Workaround:
Executing following command on the user profile created

[2020-07-27 06:33] Anujay-Saraf commented on #5159
Regardless of the setup that I am doing, it's the combination that I am using as default which comes with 1.0.2 YAML.

https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/
https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_istio_dex.v1.0.2.yaml,

Kindly let me know if we are missing anything from our end because we are trying to have full-fledged setup with ACME cer

[2020-07-28 00:22] jlewi commented on #5022
I think at this point we mostly just need to finalize the docs in order to finalize the release.
https://github.com/kubeflow/website/issues/1984

/cc @8bitmp3 @RFMVasconcelos

[2020-07-28 00:31] jlewi commented on #5106
@Swikar any update on this?

[2020-07-28 00:44] jlewi commented on #5125
@yanniszark @jbottum Does MiniKF have a repo where MiniKF issues could be filed?

[2020-07-28 01:03] animeshsingh commented on #5022
@jlewi i believe the most demanded feature for  KF1.1 is multi-user KFP v1.0  - Since this came out very recently, we are in the last legs of finalizing the manifests et all for IBM Cloud. I believe there will be others who would want to finalize multi-user functionality at their end?

[2020-07-28 02:17] jlewi commented on #5154
@aniruddhachoudhury Assuming you are using GKE please take a look at the docs on how to use GPUs
https://cloud.google.com/kubernetes-engine/docs/how-to/gpus.

If you are installing on GKE and using Dex you will most likely not end up with GPUs enabled on your cluster and have to perform additional steps.

If you are not using GKE then what platform are you using? And did you follow the instruction

[2020-07-28 03:42] Swikar commented on #5106
@jlewi working on this. @hamelsmu I get CI error of SSH_key. Do you know how to resolve?
<img width="1424" alt="Screen Shot 2020-07-27 at 8 35 57 PM" src="https://user-images.githubusercontent.com/4947673/88616705-b2d95900-d049-11ea-934e-d80b1a348661.png">

[2020-07-28 03:50] hamelsmu commented on #5106
Are you on a fork?  If so you can ignore that and preview the blog locally to test

[2020-07-28 04:30] Swikar commented on #5106
@hamelsmu I created 2020-07-27-blog.ipynb under blog/_notebooks/ directory. How to show up here like this url https://blog.kubeflow.org/jupyter/2020/02/20/test.html

[2020-07-28 04:45] PoornimaDevii opened #5165 "Discover version of Kubeflow"
/kind question

Hi,

Been working with Kubeflow since couple of months. When working on already installed Kubeflow ( when I'm not aware of installation) on a cluster, I found it difficult to discover the exact Kubeflow version which I'm working on. Was able to find version of Kubeflow on left-hand bottom corner of it's dashboard, but that doesn't seem to work in all cases.

Can you please guide me

[2020-07-28 05:06] dbuades commented on #5070
That was it, thank you very much!

[2020-07-28 06:07] hamelsmu commented on #5106
@Swikar did you take a look at the fastpages README?  Did you try to preview the changes locally?  What steps did you try

[2020-07-28 06:22] aniruddhachoudhury commented on #5154
Hi @jlewi  thanks for replying. I just want to highlight few things. I am able to add few points what i want to .

**Achieved**
- So i am using GKE with Dex Config fro Kubeflow & i am able to use GPU in Notebook server & i  have already used the GKE with GPU in Notebook server by attaching GPU pool in cluster.

**Scenario:**
- Now my next scenario is if i as a admin want to give access of my Kubef

[2020-07-28 19:02] Swikar commented on #5106
@jlewi @hamelsmu this is blog post --> still working on

[2020-07-28 19:10] Swikar commented on #5106
@hamelsmu I missed setting up private/public key. All good now

[2020-07-28 19:11] Swikar commented on #5106
@jlewi @hamelsmu this is blog post work in progress https://swikar.github.io/lineage-tracking-blog/2020/07/27/lineage-tracking.html

[2020-07-28 19:11] Swikar commented on #5106
@jlewi @hamelsmu this is blog post work in progress https://swikar.github.io/lineage-tracking-blog/2020/07/27/lineage-tracking.html

[2020-07-28 19:14] hamelsmu commented on #5106
looks great consider adding a table of contents (search the fastpages README for table of contents)

[2020-07-28 19:17] animeshsingh commented on #5022
@jlewi please look at the list of issues being reported on multi-user pipelines here
https://github.com/kubeflow/manifests/issues/1364#issuecomment-665218071

[2020-07-28 19:47] Jeffwan commented on #5022
AWS meets some issues in multi-user Pipeline as well https://github.com/kubeflow/manifests/issues/1430
Need extra days to fix these issues.

[2020-07-28 20:40] Swikar commented on #5106
@hamelsmu I get 404 when added table of content. Attached are images I tried to copied from sample blogpost
<img width="1052" alt="lineage-tracking-notebook" src="https://user-images.githubusercontent.com/4947673/88719225-c6cb9c00-d0d7-11ea-8e9a-8df902c0504b.png">
<img width="1274" alt="sample-fastpage-notebook" src="https://user-images.githubusercontent.com/4947673/88719236-ca5f2300-d0d7-11ea-970

[2020-07-28 20:50] hamelsmu commented on #5106
Did you try debugging per the instructions on the README?

[2020-07-28 21:23] hamelsmu commented on #5106
@Swikar I don't see the problem your notebook is rendered properly to this URL http://localhost:4000/lineage-tracking-blog/jupyter/2020/07/27/lineage-tracking.html

Again, run the blog locally per the instructions in the README it will save you (and me lots of time), these sorts of things will become clear

[2020-07-28 21:50] jlewi commented on #5022
@animeshsingh @Jeffwan 1.1.0 was finalized. When your fixes are on the 1.1 branch we can look at cutting a 1.1.X.

[2020-07-28 23:55] Swikar commented on #5106
@hamelsmu Sure I have added permalink and tasing on local now. Also since we would need to do inside /blog repo. Do I migrate .ipynb file under _notebook folder of /blog repo? Or do we require to setting up ssh_key again?

[2020-07-29 00:00] Swikar commented on #5106
@hamelsmu thanks for that. Appreciate

[2020-07-29 00:00] Swikar commented on #5106
@hamelsmu thanks for that. Appreciate

[2020-07-29 02:06] shawnzhu commented on #4912
I'm trying to access pipeline API from Kubeflow v1.0.2 with [`kfdef_istio_dex.v1.0.2.yaml`](https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_istio_dex.v1.0.2.yaml) via the `istio-ingressgateway.istio-system.svc`. I extracted the cookie session entry `authservice_session` after successfully authentication via dex from web UI.

[code]
However, the request went through via a special head

[2020-07-29 11:48] #4549 closed

[2020-07-29 15:12] kandrio98 commented on #5039
First of all, I really agree with your thoughts on creating a solid story for managing our stateful web apps in a cohesive way.

I believe that this added scheduling functionality (even if optional) would be useful, currently and in the future. It would make it easier for users to use the Tensorboard web-app in the case that their event files are stored in a RWO PVC, regardless of the Custom Resou

[2020-07-29 15:17] kandrio98 opened #5166 "Tensorboard CR doesn't contain information about the Tensorboard Server being ready or not"
/kind feature

Currently, the `status` field of the `Tensorboard CR` does not contain any information about the Tensorboard Server being ready or not ([see CRD](https://github.com/kubeflow/kubeflow/blob/0360d956a02970c0aae27bce591d34d903ce2d88/components/tensorboard-controller/config/crd/bases/tensorboard.kubeflow.org_tensorboards.yaml#L42-L63) for Tensorboard).

I believe that being able to know

[2020-07-29 17:14] Swikar commented on #5106
https://github.com/kubeflow/community/issues/377

[2020-07-29 18:07] tomalbrecht commented on #4787
Update: I had to clean up my environment. Especially I deleted /root/.kube and ~/.kube. When installing with sudo, it seems, that microk8s messes up the kubernetes configurations.

Then I reinstalled micro8s and finally deployed kubeflow.

[2020-07-29 18:26] Swikar commented on #5106
@jlewi I submit PR https://github.com/kubeflow/blog/pull/27

See any changes required?

[2020-07-29 18:47] hamelsmu commented on #5106
@Swikar I commented on your PR with feedback.  Please open a new, clean PR that just changes the file you need to change

[2020-07-29 18:51] Jeffwan commented on #5129
check if authadapter in your isito-system work?

[2020-07-29 20:32] Swikar commented on #5106
@hamelsmu I've submit new PR https://github.com/kubeflow/blog/pull/29

[2020-07-29 22:21] jlewi opened #5167 "Feedback on ModelSync Controller"
/kind feature

Creating this issue to collect feedback on our [ModelSync Controller](https://github.com/kubeflow/code-intelligence/tree/master/Label_Microservice/go).

Our ModelSync controller is a custom resource we created to continuously deploy our label bot model. It is based on the same declarative, level based approach we are already using for continuous delivery of Kubeflow. We will most li

[2020-07-29 23:00] Jeffwan commented on #5022
@jlewi Great. some of our v3 manifests changes and multi-user changes are not included in v1.1.0 tag. We plan to use v1.1-branch at this moment in kfdef manifest. Once we cut patch release v1.1.x, we will switch over.

For multi-user pipeline, currently, only pending issue is https://github.com/kubeflow/pipelines/pull/4285.

Our manifest and doc will be ready by EOD. KFP python sdk can be installe

[2020-07-29 23:27] Swikar commented on #5106
@hamelsmu this is new PR https://github.com/kubeflow/blog/pull/34

[2020-07-30 06:51] vigneshsolution commented on #3767
@yanniszark

Even we are facing the same with kfctl v1.0.2-0.

kfctl version
kfctl v1.0.2-0-ga476281

kubectl version --short
Client Version: v1.16.0
Server Version: v1.16.9

[2020-07-30 08:37] vigneshsolution commented on #3767
Guys its working fine with "kfctl v1.1.0-0"

Just now I tried.

[2020-07-30 09:30] slenky commented on #5149
Simplest workaround for this issue is using Spark 3.0.0 with podTemplate like this:
[code]
and then add this to your SparkSession:
`.config("spark.kubernetes.executor.podTemplateFile", "<path to pod template file.yaml>")`

[2020-07-30 09:41] UrmsOne opened #5169 "Centraldashboard reported "unable to contact Profile Controller" when deploying KubeFlow in another namespace"
/kind bug

**What steps did you take and what happened:**

I deploy KubeFlow through the following steps:

[code]

* Download [kfctl_k8s_istio.v1.0.2.yaml](https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_k8s_istio.v1.0.2.yaml)

[code]

* modify namespaces in kfctl_k8s_istio.v1.0.2.yaml

[code]

* build manifests

[code]

* generate the YAML file

[code]

* deploy

[cod

[2020-07-30 14:19] Focke-Wulf opened #5171 "Error with kfctl_istio_dex.yaml seldon in 1.0.2"
Error while deploying kfctl 1.0.2 with  [kfctl_istio_dex]  kfctl_istio_dex.yaml config

Code 500 with message: Apply.Run : error when creating "/tmp/kout076213069": CustomResourceDefinition.apiextensions.k8s.io "seldondeployments.machinelearning.seldon.io" is invalid: [spec.validation.openAPIV3Schema.properties[spec].properties[predictors].items.properties[componentSpecs].items.properties[spec].pr

[2020-07-30 14:21] SpontaneousDuck opened #5172 "Custom Jupyter workspace bind point"
/kind feature

**Why you need this feature:**
I am creating my own containers for the Jupyter workspaces in Kubeflow. I am setting some configuration in `/home/jovyan` since that is the user's home dir. (.bashrc config, etc.) When Kubeflow created the container, the persistent workspace overwrites this. I currently solve this by copying the files I need in there on container start but then my main

[2020-07-30 16:00] maganaluis commented on #4912
@shawnzhu We are using the cookies parameter and passing the authservice_session cookie, we're letting the OIDC service setup the correct headers. What would be the benefit of using existing_token in this case?

[2020-07-30 16:35] shawnzhu commented on #4912
That's what I used as well so far but just for getting it working. Technically a secure cookie should not be shared with another process besides browser, it will bring manual effort to copy such sensitive info into a notebook for KFP client.

The key difference here is the value of `existing_token` will be sent via a request header `Authorization` (more specific) instead of cookie (depends on impl

[2020-07-30 21:04] maganaluis commented on #4912
@shawnzhu Makes sense, how are you getting the token into the env variable ```AUTHSERVICE_SESSION```? In our case we configured Dex to use an internal OpenID authentication service. I've been looking for a way for users to execute Kubeflow pipelines notebooks locally without additional service accounts, which use to get those cookies.

[2020-07-30 21:19] shawnzhu commented on #4912
don't what env variable `AUTHSERVICE_SESSION` is for. If you're talking about where to get an existing token for the argument `existing_token` of `kfp.Client()`, based on https://github.com/arrikto/oidc-authservice/pull/25 it should be the value of cookie entry `authservice_session`.

A token for `kfp.Client()` will be from a service account (e.g., `client_id` + `client_secret` from the path for G

[2020-07-30 21:31] maganaluis commented on #4912
@shawnzhu We are leveraging the Dex API to create an Service Account https://github.com/dexidp/dex/blob/master/Documentation/api.md perhaps adding and enhancement to the OIDC is the better approach here, but I'm not entirely familiar with it.

[2020-07-31 01:14] darthveda-ai commented on #668
Having the same issue with gcr.io/kubeflow-images-public/tensorflow-2.1.0-notebook-cpu@sha256:6d5f1ddc42954242360e5b3acdeeddc800e271d9fe6cbf520776a4ac922c8fbb

[2020-07-31 02:54] hamelsmu commented on #5106
@Swikar you don't have to ping me everytime you make a comment on this issue or open a PR.  Also you don't need to tag us, we will eventually see the PR.

[2020-07-31 02:57] Swikar commented on #5106
Sure Hamel

Thanks
Swikar

[2020-07-31 05:13] jlewi opened #5175 "Update release guide for website docs"
/kind process

Filing this issue to ensure we update the release guide for the website to include improvements to the release process from 1.1.

I think we should making running @RFMVasconcelos's script to add outdated banners to all pages a part of the process (see kubeflow/website#2066).

I think this is a good way to ensure that every page gets at least a once over every 60-90 days.

Per kubefl

[2020-07-31 07:04] #5073 closed

[2020-07-31 09:25] axelgobletbdr opened #5176 "Support Istio 1.6"
Kubeflow uses Istio as a service mesh. Currently, Kubeflow only supports Istio up to version 1.5. Meanwhile, Istio 1.6 was released, and an experimental 1.7 is available as well. Istio 1.6 contains many improvements over 1.5, which cannot be used in any Kubernetes cluster running Kubeflow. This is very problematic.

It would be great if Kubeflow would support newer versions of Istio, such that the

[2020-07-31 09:50] nrchakradhar commented on #5156
/cc @lalithvaka @kimwnasptd
Can this be taken up  in roadmap?

[2020-07-31 16:49] Jeffwan opened #5178 "[AWS] Kubeflow v1.2 features"
/kind question

**Question:**
I'd like to collect some feedbacks on 1.2 features user wants on AWS side.

We recently roll out a blog post to share the existing AWS works on Kubeflow.
https://aws.amazon.com/blogs/opensource/enterprise-ready-kubeflow-securing-and-scaling-ai-and-machine-learning-pipelines-with-aws/

This issue is just used to track AWS specific features like service integration, etc

[2020-07-31 17:06] lalithvaka commented on #5156
@nrchakradhar @HassanOuda , we would love your contribution if you could get a PR with the changes. Thank you.

[2020-07-31 17:55] Jeffwan commented on #3840
/reopen

[2020-07-31 20:19] darthveda-ai opened #5179 "Jupyter tf-2.1.0-notebook-cpu image having issues with pip install of additional deps."
/kind bug

**What steps did you take and what happened:**
I launched the standard gcr.io/kubeflow-images-public/tensorflow-2.1.0-notebook-cpu image on kubeflow and found not to have certain deps that I needed to use. So tried doing !pip install pandas in the first cell of the jupyter notebook, that is connected to the launched notebook server.

**What did you expect to happen:**
Expected pandas li

[2020-07-31 21:41] PatrickXYS commented on #5150
To track AWS 1.2 change, we send an issue here: #5178

[2020-07-31 22:25] Jeffwan commented on #5150
@jlewi Do you have a target release date? Trying to can see if we can help. We have Kubecon, Reinvent from Nov and if it's before Nov, that would be great

[2020-07-31 23:42] PatrickXYS commented on #5163
@wajeehulhassanvii Would you mind providing more context?

1. Platform
2. kfctl version
3. Manifests

[2020-08-01 00:09] PatrickXYS commented on #5144
This might be a feature AWS want to add.

Can we create an engineering story for adding this feature? @Jeffwan

[2020-08-01 00:18] PatrickXYS commented on #5051
To better handle this issue, the solution is to add an overlay under `istio-install/overlays` in kubeflow/manifests repo and make it compatible with Grafana.

I'll close the issue for now if no one want to add support for Grafana, feel free to re-open it.

[2020-08-01 00:18] PatrickXYS commented on #5051
/close

[2020-08-01 00:18] #5051 closed

[2020-08-01 00:20] PatrickXYS commented on #5050
If you follow this page https://www.kubeflow.org/docs/aws/authentication/, you don't have to modify `istio-ingressgateway` but directly use ingress for cognito.

[2020-08-01 01:05] PatrickXYS commented on #5036
Right now the link is fine, not sure what happened before.

/close

[2020-08-01 01:05] #5036 closed

[2020-08-01 01:10] PatrickXYS commented on #5047
You mentioned you have customized the yaml file.

Would you mind telling us what changes you've made?

[2020-08-01 13:02] gudipudipradeep commented on #4986
@afilcheff  I am also getting same issue.  Please help on it.
build/bdist.linux-x86_64/egg/rok_common/cmdutils.py:942

[2020-08-01 15:48] #4966 closed

[2020-08-02 11:52] #4512 closed

[2020-08-02 13:54] saurav2608 opened #5181 "Install on Ubuntu stuck at "Waiting for service pods to become ready""
/kind bug

**What steps did you take and what happened:**
I am doing a fresh install on an multipass Ubuntu 18.04-LTS (on my Mac). On running `KUBEFLOW_DEBUG=true microk8s.enable kubeflow`.

The setup is stuck at the highlighted point for 30+ mins

Enabling dns...
Enabling storage...
Enabling dashboard...
Enabling ingress...
Enabling metallb:10.64.140.43-10.64.140.49...
Waiting for DNS and storage

[2020-08-03 05:24] #4936 closed

[2020-08-03 06:55] sachua commented on #5179
The  `--user` method should work, did you remember to restart your kernel after running the cell?

The alternative approach is to build your own image from the standard notebook image and installing the dependencies that you want as root user.

[2020-08-03 11:24] #4695 closed

[2020-08-03 12:58] SpontaneousDuck commented on #3362
I was able to get something that worked well enough for us! I made my own Jupyter container as explained in the docs and installed `jupyter-server-proxy` and `jupyter-vscode-proxy` with anaconda into the environment. When I start up my container from Kubeflow, the link to VS code is added as shown below. When you click this it open up your workspace in a separate tab in `code-server`!
![image](htt

[2020-08-03 14:55] swiftdiaries commented on #5150
I can help drive the 1.2 release. Could we schedule a call sometime this week to go over the release engineering workflow?
We can open it up so that anyone who wants to join in and help out can attend as well.

I'm not sure how much I can help out with planning features and driving them to completion.

@Jeffwan I think it makes sense to cut a release pre-Kubecon help with announcements

[2020-08-03 15:07] mmuppidi commented on #3840
This is a feature we require as well. This will be key for use cases where data scientists need to handle sensitive data.

[2020-08-04 00:54] Jeffwan commented on #5150
@swiftdiaries  Cool. Agree. We can scope 1.2 release items. This time I think we may not have big stories like multi-user KFP which are time consuming and don't have to wait for 3 months. With wishlist, we can sync with component owners.

[2020-08-04 00:59] Jeffwan commented on #5006
@lonnix

em. Probably something wrong on auth-adaptor. I am working on open sourcing it and upgrade to higher level istio to make it more reliable.

At the same time, please try 1.1 and it should work well.

[2020-08-04 01:08] Jeffwan commented on #5144
/cc @Jeffwan

[2020-08-04 05:47] aleb opened #5182 "Error when updating deployment: "Monitoring_service must be specified""
/kind bug

**What steps did you take and what happened:**
I have an existing deployment which I want to update, to make sure it's the same as what has been initially been deployed successfully. But I get an error when I run `kfctl apply -f kfdef.yaml` saying  "Monitoring_service must be specified." https://pastebin.com/HRGdiwEU

**What did you expect to happen:**
I expece the deployment to be upda

[2020-08-04 09:10] kimwnasptd opened #5183 "Create a parent directory for future web apps and their common code"
/kind feature

**Why you need this feature:**
Since we will be having two new web apps, one for [Tensorboards](https://github.com/kubeflow/kubeflow/issues/3578) and one for [Volumes](https://github.com/kubeflow/kubeflow/issues/4758), simply putting their code and the common code they will be sharing under the `/components` directory will make it difficult to navigate and organize.

**Describe the

[2020-08-04 09:10] kimwnasptd commented on #5183
/assign @kimwnasptd

[2020-08-04 13:51] jlewi commented on #5150
@swiftdiaries Can we discuss at the community meeting? Please take a look at the release guide
https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md

[2020-08-04 14:13] swiftdiaries commented on #5150
Yes that'll work 👍🏾

[2020-08-04 16:57] gudipudipradeep opened #5185 "need stable version number for windows kubeflow"
**I was trying to install kubeflow on windows by using vagrant. but it is failing with different issues with different images.
Please can you share stable version to install kubeflow on windows.**