[2019-11-04 23:55] #3713 closed

[2019-11-04 23:55] jlewi commented on #4229
@Lijo050 were you able to try out the suggested fix?

[2019-11-04 23:56] jlewi commented on #4208
The --platform flag should be removed in v0.7.0 and the docs and help should be updated.

[2019-11-04 23:56] #4208 closed

[2019-11-04 23:57] jlewi commented on #4205
We just released 0.7.0 which fixes a lot of bugs.
Please try it out and if your still having problems open a new issue.

[2019-11-04 23:57] #4205 closed

[2019-11-04 23:59] jlewi commented on #4198
Kubeflow doesn't support Kubernetes 1.16 yet.
We are tracking it in kubeflow/manifests#375

Duplicate of kubeflow/manifests#375

[2019-11-04 23:59] #4198 closed

[2019-11-05 00:14] jlewi commented on #4192
We just released 0.7.0 which fixes a number of issues.
Please try the latest release and if your still having problems please open a new issue.

Note that Kubeflow is currently tested on Kubernetes 1.14 and known not to work on 1.16.

[2019-11-05 00:14] #4192 closed

[2019-11-05 00:15] jlewi commented on #4189
I believe the current plan is to combine kfctl_existing_arrikto with kfctl_istio_dex.yaml

This means we should have a single E2E test which is being tracked in kubeflow/kubeflow#3496

[2019-11-05 00:17] jlewi commented on #4153
We just released Kubeflow 0.7.0 which fixes a number of issues with central dashboard.
Please try the latest release and if you are still having problems please open a new issue.

[2019-11-05 00:17] #4153 closed

[2019-11-05 00:17] jlewi commented on #4140
Closing this because IAP is working with 0.7.0

[2019-11-05 00:17] #4140 closed

[2019-11-05 00:22] #4446 closed

[2019-11-05 00:24] jlewi commented on #4090
This should be fixed in 0.7.0

In 0.7.0 we only create the default profile for GCP because in that case we can get the email.
https://github.com/kubeflow/kubeflow/blob/dfd8b2bd90e621aeac7c2b2ff3d9637d8b46bc12/bootstrap/pkg/kfapp/coordinator/coordinator.go#L377

In 0.6 we  had attempted to generalize that behavior to the case where if an email was provided in the KFDef we would use it to create a d

[2019-11-05 00:24] #4090 closed

[2019-11-05 00:25] jlewi commented on #4044
We just released 0.7.0 which fixes a number of bugs.
Please try the latest release and if you are still having problems please open a new issue.

[2019-11-05 00:25] #4044 closed

[2019-11-05 00:39] jlewi commented on #3638
This is fixed.

[2019-11-05 00:39] #3638 closed

[2019-11-05 00:43] jlewi commented on #4021
Thanks @SpontaneousDuck this was a bug in the notebook controller that was fixed in kubeflow/kubeflow#4402

The fix should be in 0.7.0 which we released this morning.

[2019-11-05 00:43] #4021 closed

[2019-11-05 00:44] jlewi commented on #4003
@vkoukis @kimwnasptd any update on this?

[2019-11-05 00:48] jlewi commented on #3902
A number of issues with namespaces and RBAC are fixed with 0.7.0.
Please try 0.7.0 and if you are still having problems open a new issue.

[2019-11-05 00:48] #3902 closed

[2019-11-05 01:04] jlewi commented on #3851
@kimwnasptd @prodonjs @avdaredevil

Which of the issues reported by @amygdala have been fixed in 0.7.0 and which still need to be fix?

* If we think some of the issues have been fixed can we verify that and update the bug?
* if there are some issues that still haven't been fixed can we file one issue per bug to fix them?

[2019-11-05 01:05] jlewi commented on #3838
@kimwnasptd any update on this? What's the likelihood we can have this for 1.0?

[2019-11-05 01:06] jlewi commented on #3820
Related: #3405 jupyter-web-app should read notebook conditions

Related: #3772 Lots of discussion about how to surface statefulset events in the jupyter CR and web app

[2019-11-05 01:13] jlewi commented on #3571
@axelmagn was the Kubernetes secret mounted into your pod? See original comment for some pointers about how to check volume and volumeMounts to ensure you are mounting a secret containing a GCP service account into your pod.

If you are still having trouble I'd suggest trying v0.7.0.

* In 0.7.0 we have switched to using [workload identity on GCP](https://cloud.google.com/kubernetes-engine/docs/ho

[2019-11-05 01:13] #3571 closed

[2019-11-05 04:06] richardsliu commented on #4249
Should we leave this open until kfctl is cut?

[2019-11-05 04:18] animeshsingh commented on #4249
@jlewi do we claim Istio 1.3.1 support- even if its not the default in this release?

[2019-11-05 08:33] #3667 closed

[2019-11-05 14:16] prodonjs commented on #3851
Could we add the pulldown to the namespace field itself?
If not, could we add a caption to the Namespace field indicating what they need to do to fill it?

I think this is still an issue. #3863 accounts for this functionality.

This issue has been fixed in 0.7.0 ([Screencast](https://screencast.googleplex.com/cast/NTczMTE5NjgyODkwOTU2OHw2NzQ1ZGQzOC0zNQ)).

Second problem: The resulting URL is http

[2019-11-05 18:47] CapKenR opened #4469 "Errors installing Kubeflow on an existing K8S/Istio cluster"
/kind bug

**What steps did you take and what happened:**
I have an existing Kubernetes cluster (1.14) with Istio (1.3.3), Knative and a few other applications running in it. I followed the instructions for installing Kubeflow for my situation.
[code]

I see several errors/warnings in the output where kubeflow is attempting to make changes to resources in another namespace (knative-serving in all

[2019-11-05 19:56] krishnadurai commented on #4117
We could close this.
I'll make a separate issue for creating another E2E test for Istio 1.3.1.

/close

[2019-11-05 19:56] #4117 closed

[2019-11-05 20:01] Swikar commented on #3688
@Tabrizian have you yet figure out how to get started, this issue?

[2019-11-05 20:12] jlewi commented on #4469
/assign @krishnadurai

[2019-11-06 01:27] praveen049 commented on #4314
@gaoning777 @jlewi

Any pointers on how to troubleshoot this issue ?

Instead of NodePort are there any other ways to expose the model to listen for request ?

[2019-11-06 02:50] Dibel opened #4471 "tensorflow package for python3 not found in tensorflow-1.14.0-notebook-gpu:0.7.0"
/kind bug

**What steps did you take and what happened:**

Try to set up a notebook with image gcr.io/kubeflow-images-public/tensorflow-1.14.0-notebook-gpu:v0.7.0 in kubeflow 0.7. But this image contains both python2 and python3 runtime, and tensorflow only exists in python2 runtime.

In container's terminal I run `python --version` got the following output:
`Python 2.7.15+`

`pip list` got the fo

[2019-11-06 05:44] praveen049 opened #4472 "Unable to install on minikube k8s on ubuntu"
/kind bug

**What steps did you take and what happened:**
I am trying to install kubeflow 0.7 using the instructions https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

The apply step generates lot of WARNs and fails with below error:

`failed to apply:  (kubeflow.error): Code 500 with message: kfApp Apply failed for kustomize:  (kubeflow.error): Code 500 with message: Apply.Run  Error err

[2019-11-06 08:44] duchy opened #4473 "Fresh install kubeflow 0.7.0 failed with error "pytorchjobs.kubeflow.org" is invalid: spec.version: Invalid value: "v1beta2":"
/kind bug

**What steps did you take and what happened:**
Follow the offical guide to install the kubeflow 0.7.0 on microk8s 1.14.8/stable
1. Install MicroK8s - snap install microk8s --classic
2. sudo snap refresh microk8s --channel=1.14/stable --classic
3. Follow below instructions [Kubeflow Deployment with kfctl_k8s_istio](https://master.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/)
4. Downloa

[2019-11-06 10:13] shanidchamal commented on #4472
unsupported Kubernetes version 1.16. use supported version 1.14

[2019-11-06 10:29] duchy commented on #4473
Reinstalled in a fresh environment success.

[2019-11-06 10:29] #4473 closed

[2019-11-06 12:28] jlewi commented on #4249
@animeshsingh I don't think we should claim that since we haven't test it.

[2019-11-06 13:27] antimack commented on #4158
@yanniszark hi! any news regarding this after 0.7.0 release, is there a way now to deploy to a cluster with Istio and Dex already installed?

[2019-11-06 15:12] ryandawsonuk opened #4474 "kfctl apply on existing cluster gives katib error"
I get:
[code]
It goes into a loop for ages and then stops. The install that I'm trying to modify is from two days ago (both from master). I do see that there was a katib change since then - https://github.com/kubeflow/manifests/pull/608. Presumably a change to labels has been made and it's effectively a breaking change. I suppose breaking changes are permitted on master but this one looks unintent

[2019-11-06 15:45] Tabrizian commented on #3688
@Swikar No, I didn't.

[2019-11-06 21:28] animeshsingh commented on #4249
That's my impression as well - @krishnadurai ?

[2019-11-07 01:44] #4472 closed

[2019-11-07 02:04] qinshuaihua opened #4477 "How can I use jupyterhub in the v0.7?"
/kind question

**Question:**
[I installed kubeflow in an existing cluster by the kfctl and config file.Now I can get pods below,but I do not know how to use jupyterhub in this version:]
![image](https://user-images.githubusercontent.com/34976119/68353906-e7b52100-0145-11ea-8ab5-a4967d1e0698.png)

[2019-11-07 03:12] Tabrizian commented on #4471
@Dibel Thanks for reporting this problem. We are working on it. Sorry for the inconvenience.

[2019-11-07 07:44] #3683 closed

[2019-11-07 08:18] lovishch20 commented on #4135
Yes , I also got this issue. My all pods and services are running under kubeflow namespace but we are still stuck at dashboard UI part.
My machine is Ubuntu 18.04 and Kubeflow and minikube is up and running but not KF UI.
Thanks

[2019-11-07 08:26] krishnadurai opened #4480 "Add E2E tests for Istio 1.3.1"
/kind feature

**Why you need this feature:**
Istio 1.3.1 was recently added as an optional upgrade over Istio 1.1.6. In order to promote Istio 1.3.1 as the default installation for Istio, we should first introduce an automated E2E test.

**Describe the solution you'd like:**

Using kfctl tests we should define a KfDef containing Istio 1.3.1 as the default install. The test should:

1. Ascertain d

[2019-11-07 08:28] krishnadurai commented on #4249
@animeshsingh @jlewi we should not announce 1.3.1 since I think it might not add value to this release and is not tested thoroughly yet. I've opened #4480 to start work on promoting 1.3.1 as the primary installation.

[2019-11-07 08:38] krishnadurai commented on #4469
@CapKenR thanks for reporting this.

I have a few questions:

1. Could you also please mention your installed Knative version?
1. Could you try installing by removing `knative-crds` and `knative-install` applications in the KfDef spec you've shared? I think your K8s cluster already has them installed and we shouldn't need to re-install them through KfDef again.

[2019-11-07 08:40] krishnadurai commented on #4469
Marking @ellis-bigelow @yuzisun @animeshsingh in case this is relevant to how we install or need to upgrade knative.

[2019-11-07 09:14] avdaredevil commented on #3735
/remove-lifecycle stale
This should be fixed. We definitely have users on windows

[2019-11-07 12:06] tavinashb opened #4482 "How to setup local development environment of Kubeflow - Central Dashboard ?"
**Question:**
I am trying to setup local development environment of **centraldashboard**  by following
[https://github.com/kubeflow/kubeflow/blob/master/components/centraldashboard/README.md#development](https://github.com/kubeflow/kubeflow/blob/master/components/centraldashboard/README.md#development)

But after following all steps and running local env. with command `npm run dev`, getting error

[2019-11-07 13:47] shanidchamal commented on #4477
in Kubeflow, JupyterHub is replaced with web app that users can use to manage notebooks. It can be accessed through Kubeflow dashboard. head into [Set Up Your Notebooks](https://www.kubeflow.org/docs/notebooks/setup/) section for connecting to Kubeflow UI and Jupyter spawner UI.

[2019-11-07 14:00] qinshuaihua commented on #4477
Thank you. I will try to learn about that.

[2019-11-07 14:17] jlewi commented on #4471
After #4478 is merged we will need to build a new image and move the 0.7.0 tag.

[2019-11-07 14:46] CapKenR commented on #4469
1. Could you also please mention your installed Knative version?
v0.10.0
2. Could you try installing by removing knative-crds and knative-install applications in the KfDef spec you've shared? I think your K8s cluster already has them installed and we shouldn't need to re-install them through KfDef again.
I've commented them out of the spec. I'll try it again as soon as the previous kubeflow namesp

[2019-11-07 16:13] CapKenR commented on #4469
Attempting to delete the namespace, via `kfctl delete -V -f ~/kfctl_k8s.0.7.0.yaml` and `kubectl delete ns kubeflow`, has left the cluster in a bad state.
[code]
I'm using [Namespace “stuck” as Terminating, How do I remove it?](https://stackoverflow.com/questions/52369247/namespace-stuck-as-terminating-how-do-i-remove-it).
[code]
[code]
I may end up having to delete the cluster and start over if I

[2019-11-07 16:34] CapKenR commented on #4469
I took the approach above to delete the namespace that was stuck terminating.
[code]
I applied the updated KfDef spec (without the knative-crds and knative-install applications I just commented out and the Istio ones I'd previously commented out). It appears to have been successful.
[code]
I'll play around with it to see if it's really working then I'll delete the cluster and create a new one to s

[2019-11-07 20:12] NikeNano opened #4483 "Problems deploying Kubeflow on GCP -- Please set the type prefix to be "serviceAccount:"., badRequest""
/kind bug

**What steps did you take and what happened:**
Previously I had no problems deploying kubeflow following the tutorial for CLI on GCP,https://www.kubeflow.org/docs/gke/deploy/deploy-cli/.  But currently when redeploying within a new project I am experiencing some strange problems with:

"(kubeflow.error): Code 500 with message: coordinator Apply failed for gcp:  (kubeflow.error): Code 40

[2019-11-07 21:33] jlewi commented on #4440
Closing this since we released 0.7.0

[2019-11-07 21:33] #4440 closed

[2019-11-07 21:37] jlewi commented on #4249
@richardsliu by cut kfctl you mean cut a v0.7 branch on kubeflow/kfctl ?

[2019-11-07 21:45] jlewi commented on #4442
We have a test now but its failing.

[2019-11-07 22:02] jlewi commented on #4278
Duplicate of kubeflow/kubeflow#3082

[2019-11-07 22:02] #4278 closed

[2019-11-07 22:02] jlewi commented on #4278
See also kubeflow/kubeflow#2969

[2019-11-07 22:05] jlewi commented on #4183
@Akashdesarda could you provide the docker image of the image having problems?

Could you also provide the information

[code]

[2019-11-07 22:11] jlewi commented on #4159
I think we can delete test_jsonnet

The only jsonnet tests we have are for our ksonnet packages which are obsolete
https://github.com/kubeflow/kubeflow/blob/c9c73fbc2eb944e1fe47eedff1642933ff9935ed/testing/workflows/components/unit_tests.jsonnet#L147

[2019-11-07 22:19] jlewi commented on #4135
@cyrilthank if your still having trouble per @anupash147 suggestion could you please look into why the pods are stuck in the pending state. i.e. do a `kubectl describe pods ${POD}`

I would al suggest trying the latest 0.7.0 release.

[2019-11-07 22:19] #4135 closed

[2019-11-07 22:20] jlewi commented on #4119
@kunmingg is this implemented?

[2019-11-07 22:20] jlewi commented on #4043
Fixed in 0.7.0

[2019-11-07 22:20] #4043 closed

[2019-11-07 22:23] kunmingg commented on #4119
Yes, it's now an option in v1beta1

[2019-11-07 22:23] #4119 closed

[2019-11-07 22:24] jlewi commented on #3749
Closing as obsolete/stale

[2019-11-07 22:24] #3749 closed

[2019-11-07 22:25] jlewi commented on #3662
@swiftdiaries any update on this?

[2019-11-07 22:25] jlewi commented on #3657
@kimwnasptd any update on this?

[2019-11-07 22:27] jlewi commented on #3614
With 0.7.0 we are defining

* kubeflow-edit
* kubeflow-admin
* kubeflow-view

Cluster roles.

@krishnadurai is there more to do here or can we close this?

[2019-11-07 22:31] jlewi commented on #3497
@kkasravi @jbrette Any update on this?

What sort of risk is involved with upgrading to v3? Is v3 backwards compatible with our existing manifests?

[2019-11-07 22:31] jlewi commented on #3497
Bump to P0 because we should figure out whether we are upgrading and if so when & how prior to Kubeflow 1.0.

[2019-11-07 22:34] jlewi commented on #3425
Closing as obsolete.

[2019-11-07 22:34] #3425 closed

[2019-11-07 22:36] jbrette commented on #3497
@jlewi This should have been closed a long time ago. At least the upgrade in the kubeflow and the manifest has been merged. I did not follow since but I had in mind something was supposed to be replicated in the kfctl repo.

[2019-11-07 23:01] jlewi commented on #4215
I have a couple of questions on how this would work

* Shouldn't secrets be different for each namespace? If every namespace gets provisioned with the same secrets then everyone has access to to the same sets of resources so doesn't that defeat the isolation that namespaces are providing?

* Why would an admin need to provision the secrets? Wouldn't a user have access to the secret and be able to

[2019-11-07 23:02] #4212 closed

[2019-11-07 23:03] jlewi commented on #4188
@kunmingg could you elaborate on what the goal of this issue is and what work needs to be completed?

[2019-11-07 23:20] jlewi commented on #3930
I see the problem now.

The limits sets for auto provisioning are limits for the **cluster** not **per node**. So setting a max of 20 CPUs means the cluster as a whole should have a maximum of 20 CPUs not that a node should have a maximum of 20.

It also looks like we can list multiple accelerators
https://cloud.google.com/kubernetes-engine/docs/how-to/node-auto-provisioning
https://cloud.google.c

[2019-11-07 23:20] jlewi commented on #3927
This is covered by the xgboost_synthetic test.

[2019-11-07 23:20] #3927 closed

[2019-11-07 23:21] jlewi commented on #3920
We have removed setup-minikube.sh

[2019-11-07 23:21] #3920 closed

[2019-11-07 23:34] jlewi commented on #4483
@NikeNano could you please run

[code]

and look for `iotpubsub-1536350750202@appspot.gserviceaccount.com`

If you feel comfortable please upload the output here?

This isn't a service account that Kubeflow is creating. Kubeflow does a Read-Modify-Write for the IAM policy.

My conjecture is that somehow the iam policy on the project already has that account listed without the prefix `serviceAccoun

[2019-11-07 23:35] #3620 closed

[2019-11-07 23:35] #3520 closed

[2019-11-07 23:53] avdaredevil commented on #3863
/remove-lifecycle stale
/assign @avdaredevil

[2019-11-08 00:42] #4388 closed

[2019-11-08 01:08] supertetelman opened #4486 "Kubeflow v0.7.0 kfctl delete does not clean up all resources"
Similar to https://github.com/kubeflow/kubeflow/issues/3767, in the newest release (v0.7.0) when I issue a delete command I am still seeing namespaces left behind for `cert-manager`, `istio-system`, `knative-serving`, and most of the time `kubeflow` is getting stuck in a terminating state. I also see some CRD left behind.

I am running this on a freshly installed on-prem K8S v1.15 installed via Ku

[2019-11-08 02:45] timbuktuu opened #4488 "Kubeflow - GKE installer will not allow node-pool API scope changes"
/kind bug

As of KF 0.62, when created on GKE, the Cloud Deployment manager templates default to various default GCP API scopes.   One example is GCS API scopes being read-only, even if the underlying service accounts have the correct GCS permissions.   This blocks basic functionality such as a pipeline or notebook cell wishing to save results to GCS.   While it is possible to change API scopes on

[2019-11-08 03:16] MrXinWang commented on #2337
@jlewi @vielmetti Thanks for the kindly suggestion! Working on this.

[2019-11-08 04:03] jlewi commented on #4488
I believe this is working as intended and has been the behavior for the longest time.

The recommended practice with GKE is not to rely on the VM service account to provide GCP credentials to pods because all pods would end up with the same credentials.

The recommended approach is to use workload identity which is now supported in 0.7.0 or to attach a GCP service account by mounting a GCP secret

[2019-11-08 04:03] #4488 closed

[2019-11-08 04:33] jlewi commented on #4315
@yanniszark thoughts? Are you ok with using ServiceAccounts and ImagePullSecrets?

[2019-11-08 05:20] #3921 closed

[2019-11-08 06:45] NikeNano commented on #4483
Apparently I had issus with the authentication to GCP. When running the command

[code]

,it turned out that I had to rerun:

[code]
Then everything worked fine!

Thank you for you help @jlewi I really appreciate it!

[2019-11-08 06:45] #4483 closed

[2019-11-08 07:04] kkasravi commented on #3497
@jlewi @jbrette yes we're using kustomize v3.1.0 in kubeflow/kfctl
https://github.com/kubeflow/kfctl/blob/master/go.mod#L89

[2019-11-08 07:05] kkasravi commented on #3497
@jlewi this can be closed

[2019-11-08 09:55] NikeNano commented on #4488
As I understand this related to the underlaying VM_OAUTH_SCOPES scope @jlewi (but I am still very new and might be wrong)? If such supplying a new sevice account want help since the VM_OAUTH_SCOPES restricts the VM.

@timbuktuu as I understand you can not change the underlying VM_OAUTH_SCOPES on a running resource in GCP and it is note related to GKE but rather GCE which has this limitation. Inste

[2019-11-08 10:09] NikeNano commented on #4488
I would be happy to make a contribution to make it read_and_write if it makes sense?

[2019-11-08 17:55] nrchakradhar commented on #4077
Kfam tests has not been included yet. Not sure if this needs to be reopened or a new issue tagged for kfam needs to be created?

[2019-11-08 18:20] sylus opened #4491 "Kubeflow v0.7.0"
/kind bug

**What steps did you take and what happened:**

I followed the guides though had to change my manifests and releases so were not pointing to master. The following are the steps I performed in exact detail.

[code]

**What did you expect to happen:**

The deployment to actually work

**Anything else you would like to add:**

Here is my output:

[code]

**Environment:**

- Kubeflow versio

[2019-11-08 18:23] sylus commented on #4491
Here is them modifications I made to kfctl_k8s_istio.yaml since I already have Istio deployed:

[code]

[2019-11-08 18:24] Dhaval08 opened #4492 "Local crd versions not matching with kubeflow.org crd"
/kind bug

Tried installing kubeflow 0.7.0 using the following
https://raw.githubusercontent.com/kubeflow/manifests/v0.7-branch/kfdef/kfctl_aws.0.7.0.yaml

Correctly updated the AWS_CLUSTER_NAME, region and roles in the config file.

When running the "kfctl apply -V -f ${CONFIG_FILE}" command, it gets stuck with the following message
`CustomResourceDefinition.apiextensions.k8s.io "trials.kubeflow.

[2019-11-08 18:46] sylus commented on #4491
I have also tried with master for both manifests and repository but still the same error

[2019-11-08 23:30] parthmishra commented on #4491
As indicated by the version number, Kubeflow is still in the pre-GA state. Bugs and breaking changes should be expected. Comments like above and "The deployment to actually work" are not helpful.

Have you tried deploying without Katib and then applying afterwards via Kustomize?

[2019-11-09 00:36] shaunc commented on #4491
@parthmishra -- I'm getting this as well. This may be pre-release, but as a newbie I'm not sure what to do. Was following: https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

Can you paste link or other instructions on how to do this?

[2019-11-09 01:03] sylus commented on #4491
@parthmishra sorry about that been a rough day I apologize completely understand that is pre GA and definitely appreciate all the great work done in Kubeflow. Edited my comment cause completely right :D

[2019-11-09 08:43] nrchakradhar commented on #4469
#4486 is also mentioning the same for kfctl delete

[2019-11-09 09:24] Svendegroote91 opened #4495 "Cannot connect to notebook server when there are multiple notebook servers"
Hi,

I just installed Kubeflow v0.7.0 and was playing around with the notebook servers.
When I am working with a single notebook server, everything is working fine.
When I add more notebook servers, I cannot connect to them - I get a 404.
When looking at underlying services and logs of the extra notebook server I can see that the 404 is coming in on the first notebook server.

Notebook servers:

!

[2019-11-09 12:17] sshakeri opened #4496 "Kubeflow namespace get stuck on delete"
/kind bug

**What steps did you take and what happened:**

I needed to delete Kubeflow 7 and reinstall, ` kfctl-darwin delete -f kfctl_k8s_istio.0.7.0.yaml `. Kubflow namespaces created by install (kubeflow, knative-serving, etc) were stuck on delete for 10 hours until I patched the finalizers to nothing.

<img width="328" alt="image" src="https://user-images.githubusercontent.com/5421943/68528351

[2019-11-09 12:19] sshakeri commented on #4486
I had a issue. Here is a [workaround](https://github.com/kubeflow/kubeflow/issues/4496).

[2019-11-09 17:43] amygdala commented on #3930
yeah, it is per cluster.

I wonder if it's a good idea to use the user's quota as the limit— at first that sounded good, but now I am thinking that if they have some v. high quota, then potentially they could scale out more than they meant to with some ill-configured job, then get an unexpectedly high bill etc.

Maybe we could just set it reasonably high (I'm assuming that if it's higher than the

[2019-11-09 21:05] Svendegroote91 commented on #4495
After re-installing kubeflow, the problem disappeared.
Closing the issue.

[2019-11-09 21:05] #4495 closed

[2019-11-10 02:21] kyzy540 commented on #4375
you can checkout #2981 and #2271

in short, they plan to change permission control of notebook. Unfortunately, the work is kicked off, but not finish yet

the easiest way to create TFJob from notebook is rolling back to kf v0.5

[2019-11-10 02:52] #3804 closed

[2019-11-10 05:52] #3815 closed

[2019-11-10 12:46] mattnworb commented on #3815
I think this is still valid

[2019-11-11 06:05] charlesa101 commented on #2347
@knkski, are you able to run any pipeline component successfully on MicroK8S?

[2019-11-11 10:05] srv-twry opened #4497 "Kubeflow install on Minikube fails: no matches for kind "StatefulSet" in version "apps/v1beta2""
/kind bug

**What steps did you take and what happened:**
I have been trying to install Kubeflow on a local Minikube cluster following the guide: https://v0-2.kubeflow.org/docs/started/getting-started-minikube/

Upon running the command `kubectl apply -f bootstrapper.yaml`, it fails with the following output:
[code]

**What did you expect to happen:**
The install should be successful

**Anything e

[2019-11-11 10:40] srv-twry commented on #4497
I wasn't aware of the fact that Kubeflow is not compatible with Kubernetes version 1.16.
Closing this issue.

[2019-11-11 10:40] #4497 closed

[2019-11-11 11:11] discordianfish commented on #4215
Ideally secrets shouldn't be shared but in reality you sometimes don't get around this. But even in an ideal world, I'd need to inject the secrets *somehow*, even if I generate new secrets for each user that sets up their workspace. But for the sake of argument, let's ignore secrets and rather talk about e.g podpresets. But I don't think kubeflow should have an opinion on what a admin wants to dep

[2019-11-11 13:00] mattiasarro commented on #4473
I think it's because there were old CRDs lying around. The below will help you wipe out old Kube resources before a reinstall:

[code]

[2019-11-11 15:19] #3009 closed

[2019-11-11 22:39] jlewi commented on #4077
@nrchakradhar I reopened this. Lets not close this until its complete.

A couple notes

* I missed it in #4455 but it looks like you added the python code for the test in `kubeflow/profiles/tests/`
* The code should probably move to either
   * py/kubeflow/kubeflow/ci/
   * or components/profile

* kubeflow/profiles is the old ksonnet directory which we want to delete (#4484)
* Python code should

[2019-11-12 03:38] jlewi commented on #4215
@discordianfish My suggestion would be to write up a doc; we don't have a good template but the key questions would be

1. What is the use case / CUJ you are trying to solve
1. How you will implement it
1. Alternatives considered

I would suggest sharing the doc with the mailing list and then adding it to the agenda of a community meeting to discuss.

[2019-11-12 03:55] lanya16 opened #4499 "webhookconfigurations caused other service failed"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I deployed kubeflow V0.7 on my k8s cluster , But it caused a series of problems, gitlab and harbor services are abnormal, see the picture for the problem。
![image](https://user-images.githubusercontent.com/22021811/68640786-c0929100-0543-11ea-9897-b8cd3a7f637e.png)

[code]
I delete  infe

[2019-11-12 03:56] lanya16 commented on #4486
![image](https://user-images.githubusercontent.com/22021811/68640649-698cbc00-0543-11ea-80ef-6b8c9a8910d5.png)

[2019-11-12 03:57] lanya16 commented on #4499
![image](https://user-images.githubusercontent.com/22021811/68640683-87f2b780-0543-11ea-9695-fecaf2f2664c.png)

[2019-11-12 05:12] #3497 closed

[2019-11-12 09:24] karlschriek opened #4500 "Istio ingress fails to reach ready state on EKS, statuscode 503"
/kind bug

Upon deploying Kubeflow 0.7.0 on an EKS Cluster with Kubernetes 1.14 (following this guide: https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/) all services start up correctly and `kubectl get ingress -n istio-system` returns an address after a few minutes. However, the address is not accessible. `kubectl -n istio-system describe pod/istio-ingressgateway-xxxxxxxxxx-yyyy` then yi

[2019-11-12 09:42] karlschriek commented on #4450
Also having the same problem.

[2019-11-12 10:19] discordianfish commented on #3935
I ran into the same problem when trying to run workflows in namespaces created by the profile controller.

I also agree there is a case to be made for istio injection by default. We need a solution to run argo workflows in the profile controller namespaces for https://github.com/kubeflow/pipelines/issues/1223 anyway.

[2019-11-12 13:42] jlewi commented on #2271
@kimwnasptd and @lluunn   Could you summarize what the current state is in the jupyter web app?

Is there anything else we need to get done for jupyter to be 1.0 ready?

[2019-11-12 13:54] jlewi commented on #1583
Lets keep this open.

[2019-11-12 14:05] jlewi commented on #4488
Appreciate that. I don't think we want the VM service accounts to be read-write by default. We want to have minimal permissions necessary. The primary reason the VM service account needs access to storage is to pull images. So read only permission should be fine.

The recommended way to give individual pods access to GCP APIS is using workload identity.
See
https://www.kubeflow.org/docs/gke/authen

[2019-11-12 14:44] karlschriek commented on #4500
Also tried with istio 1.3.1 (as describe here: https://github.com/kubeflow/manifests/pull/413), with the same result

[2019-11-12 15:14] karlschriek commented on #4229
Any other ideas on this? I believe I have a similar issue (https://github.com/kubeflow/kubeflow/issues/4500). For me every service starts and there is no indication that there are too few resources on the cluster.

[2019-11-12 16:25] krishnadurai commented on #4480
As discussed in the community meeting on 12th November, we should look to introduce 1.3.1 Istio with kfctl_k8s_istio_dex.yaml and this test when its ready.

[2019-11-12 17:41] Dhaval08 commented on #4492
Any help would be highly appreciated as this is blocking our Kubeflow POC.
Thank you.

[2019-11-12 19:33] krishnadurai opened #4501 "Upgrade kfctl_istio_dex kfdef to use Istio 1.3.1 and update tests"
/kind feature

**Why you need this feature:**
There are a few issues with kfctl_istio_dex:
1. After the config rename, the [tests don't point](https://kubeflow.slack.com/archives/CHCKRA1N2/p1572987992054300) to the right config name kfctl_istio_dex.
1. Spin up clusters in project kubeflow-ci-deployment instead of kubeflow-ci
1. Upgrade kfctl_istio_dex to have Istio 1.3.1 in KfDef.

/cc @yanniszark

[2019-11-12 20:08] swiftdiaries commented on #3662
I should move this into the `kubeflow/kfct` repo, I'll create another PR and close this one out

[2019-11-12 20:17] ChethanUK commented on #4267
I am getting "no healthy upstream" in 0.7 release.

[2019-11-13 06:25] jlewi commented on #4480
@krishnadurai can you link to the relevant issues for k8s_istio_dex.yaml please?

[2019-11-13 09:29] #3677 closed

[2019-11-13 11:40] Akashdesarda commented on #4183
This problem was solved by providing proper docker-secret.

[2019-11-13 12:19] karlschriek commented on #4500
Some more testing reveals:
- EKS Kubernetes 1.14 / Istio 1.1.6 -> doesn't work
- EKS Kubernetes 1.13 / Istio 1.1.6 -> doesn't work
- EKS Kubernetes 1.12 / Istio 1.1.6 -> works

[2019-11-13 15:32] LeonardAukea commented on #4158
Is this issue resolved?

[2019-11-13 15:52] ryandawsonuk commented on #3935
@discordianfish I suppose the pipelines DSL could be extended with an option to add the `sidecar.istio.io/inject` annotation to Pods.

[2019-11-13 16:46] discordianfish opened #4502 "admission-controller: allow metadata/annotations in PodDefaults"
/kind feature

**Why you need this feature:**
We we're using kube2iam/kiam to grant IAM pemissions, e.g for accessing s3, to pods and want to grant these permissions to jupyter notebooks. For that we'd need to set the `iam.amazonaws.com/role: argus-default` annotation to the jupyter pods by using PodDefaults

**Describe the solution you'd like:**
Extend PodDefaults to include metadata.

**Anything

[2019-11-13 23:08] Dhaval08 commented on #4492
The issue was arising because I had tried deploying kubeflow0.6.2 on the same cluster before and even after deleting it, there were some stale crd files present.
I deleted the crd files that were raising these issues - `kubectl delete crd trials.kubeflow.org` and tried deploying again.
It works!

[2019-11-13 23:08] #4492 closed

[2019-11-14 00:15] lluunn opened #4503 "google managed certificate leak"
/kind bug

**What steps did you take and what happened:**
After kubeflow deployment is deleted, managed certificate is not deleted.
Can check on https://pantheon.corp.google.com/net-services/loadbalancing/advanced/sslCertificates/list

[2019-11-14 00:33] krishnadurai commented on #4480
@jlewi I've used kubeflow/manifests#599 for tracking k8s_istio_dex.yaml.

[2019-11-14 00:44] krishnadurai commented on #4469
@CapKenR did this work with a clean system?

[2019-11-14 00:47] krishnadurai commented on #4500
@karlschriek does this look more to do with Istio? I think it would be better to reach out to https://github.com/istio/istio/ regarding this issue.

[2019-11-14 00:50] krishnadurai commented on #3614
@jlewi we could close this issue.

The next step here would be to enable composable roles with Manage Contributors UI.

/close

[2019-11-14 00:50] #3614 closed

[2019-11-14 05:53] lxl910915 commented on #3789
@jbottum After adding `-x NCCL_SOCKET_IFNAME=eth0`, it works.
[code]

[2019-11-14 05:58] #3789 closed

[2019-11-14 08:07] ProvoK opened #4504 "Python SDK run_pipeline fails but pods are created"
/kind bug

**What steps did you take and what happened:**

I've run, via Python SDK, a `kfp.Client.run_pipeline` command with a valid `pipeline_id` but an invalid `experiment_id`.
The command failed with a 404 response, but **all the pods for the run were created**.
Furthermore, run's informations were not fetchable later from APIs (and UI ofc).
For pipelines that create Volumes and generally reso

[2019-11-14 16:57] amalts commented on #4162
is this issue still relevant? I would like to take this up.

[2019-11-14 19:14] jlewi commented on #3362
Thei might be a better option for licensing and Kubernetes reasons. Thei is fully open source.

[2019-11-14 19:24] gabrielwen commented on #4162
@amalts this is still open, and thanks for taking this up!

currently we only have a subset of tests:
https://github.com/kubeflow/kfctl/blob/master/pkg/apis/apps/kfdef/v1beta1/application_types_test.go

and the reason is that we moved part of the functions in v1alpha1 to an internal data structure:
https://github.com/kubeflow/kfctl/blob/master/pkg/kfconfig/types.go

could you add some test cases t

[2019-11-15 00:14] supertetelman commented on #4496
I'm seeing this consistently when running this script as `./k8s_deploy_kubeflow.sh && ./k8s_deploy_kubeflow.sh -D`: https://github.com/supertetelman/deepops/blob/kubeflow-0.7.0/scripts/k8s_deploy_kubeflow.sh

[2019-11-15 03:47] cutiechi opened #4505 "How to configuration central dashboard with traefik?"
/kind question
how can we use traefik ingress with central dashboard?
**Question:**
[You can ask any question about this project.]

I want to configuration kubeflow central dashboard at ingress http://xx.com/kubeflow, but js 404, how to fix it?

[2019-11-15 05:03] amalts commented on #4162
Sure.

[2019-11-15 05:03] amalts commented on #4162
/assign

[2019-11-15 11:39] corvin-quodai opened #4506 "Cannot connect to google cloud storage"
/kind bug

**What steps did you take and what happened:**
Running on GKE.
Cannot connect to google cloud storage via python. SSH'd into worker node of 0.7.0 IAP deployment and tried to connect to google cloud storage via python sdk (commands and stack trace see below). Did the same in a 0.6.2 non-IAP deployment (same service account config) and it works perfectly fine.

`curl "http://metadata.goog

[2019-11-15 23:49] #1522 closed

[2019-11-16 00:47] Tomcli opened #4507 "testing/kfctl/kfctl_go_test.py is not up to date"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
The `kfctl_util.build_kfctl_go()`function is updated in the PR #4493. However, the `kfctl_go_test.py` test is not update with the latest changes which is failing some CI tests (e.g. https://github.com/kubeflow/manifests/pull/622) under kubeflow/manifest.

https://github.com/kubeflow/kube

[2019-11-16 01:49] #2413 closed

[2019-11-16 01:49] #2476 closed

[2019-11-16 01:49] #2663 closed

[2019-11-16 01:49] #2682 closed

[2019-11-16 01:49] #2797 closed

[2019-11-16 05:03] deyuhua opened #4508 "Docker image from gcr.io repo blocked in china!"
/kind question

**Question:**
I install kubeflow on my descktop recently, but most of images used by kubeflow can not pull from registry, for example grc.io, because GWF blocked gcr.io. could we replace image repo with dockerhub? How can i make such change?

[2019-11-16 06:21] stobias123 commented on #424
ran into this same issue. no problems when I created the volume manually.

[2019-11-16 06:57] corvin-quodai commented on #4506
Some more info: when manually passing the credentials key for the service account that the instance uses, I get access to the buckets. Verifies that the service account is setup correctly. Seems like the creation of the VMs in the GKE node pool for kubeflow does not properly pass the credentials to the VMs.

[2019-11-16 11:49] #2311 closed

[2019-11-16 13:50] chanwit commented on #4500
@karlschriek I stuck by this bug as well. have you know the root cause of this problem?

[2019-11-18 05:08] devgrok commented on #4450
There's a few errors in the `kfctl_aws.yaml` (and `kfctl_aws_cognito.yaml`) version across the different branches.
I recommend comparing the the one your using with https://github.com/kubeflow/kubeflow/blob/v0.6-branch/bootstrap/config/kfctl_k8s_istio.yaml

The 0.7 branch has the missing config https://github.com/kubeflow/kubeflow/blob/3efa764868bb633b491dc3ee201e133f0effa3e2/bootstrap/config/kfct

[2019-11-18 07:23] Jeffwan commented on #4500
@chanwit  @karlschriek
In this case, could you guys please share the istio-system pods status? It's possible that Ingressgateway is blocked by Pilot, which is blocked by galley which is blocked by citadel, etc.
Let's make sure your istio control plane is ready and healthy.

[2019-11-18 07:26] Jeffwan commented on #4450
istio overlay was not added in 0.6. That's the problem. Please create istio virtual service to make it available. Please make the changes and apply this file https://github.com/kubeflow/manifests/blob/master/metadata/overlays/istio/virtual-service.yaml

I would suggest you to try 0.7 and most of the issues have been fixed.

[2019-11-18 09:36] chanwit commented on #4500
don't mind me. I upgraded Istio to 1.3.5 via Helm and it's working fine now.

[2019-11-19 09:19] cleveryg opened #4509 "secret "webhook-certs" not found"
/kind question
Admission-webhook deployment reports an error after kubeflow 0.7.0 deployment:
 MountVolume.SetUp failed for volume "webhook-cert" : secret "webhook-certs" not found

kubernetes 1.13.4

**Question:**
[You can ask any question about this project.]

[2019-11-19 09:32] karlschriek commented on #4500
I undestand the reasoning that this should probably be addressed by the Istio team, but on the other hand Kubeflow is an ecosystem consisting of a great many different such projects.

From my perspective Kubeflow is interesting to the community of Machine Learning developers exactly because it promises to abstract away a lot of the underlying complexity. That promise gets watered down quite a lot

[2019-11-19 10:17] chanwit commented on #4500
My way of installing Istio 1.3.5 is not the standard way used by `kfctl`
Basically, I removed all Istio deployment, svc and manually did it via Helm.

[2019-11-19 14:27] #3817 closed

[2019-11-19 21:06] NikeNano commented on #4506
I am still new but thougt I could share how I understand at least, hope it helps!

I think the VM:s per default have very limited access to GCP resources. Instead I believe the use of service accounts are suggested. You could change the scope of the VM:s in the gcp_config/cluster.jinja file if you like to change it :) What are you using kubeflow for? For pipelines there are some specific functions

[2019-11-20 01:18] wjddyd66 opened #4510 "Customize Jupyter Notebook"
/kind question

**There is no End-Points in service**
I Follow this Link
https://github.com/kubeflow/kubeflow/tree/master/components

`python3 build_image.py --tf_version=1.6.0 --platform=gpu tf_notebook`

and push this Image

but the result is crash back off
`kubectl get po -n admin`
![image](https://user-images.githubusercontent.com/37298751/69200408-61a1cd00-0b7e-11ea-9d0b-ce2c20116c35.png)

`k

[2019-11-20 06:06] jlewi commented on #4506
Have you taken a look at the doc
https://www.kubeflow.org/docs/gke/authentication/#starting-in-kubeflow-v0-7-google-kubernetes-engine-gke-workload-identity  ?

If you are using workload identity is your pod running as a service account bound to a GCP service account (GSA) with appropriate credentials?

If you are using the old method of attaching a service account for a GSA are you mounting the se

[2019-11-20 06:25] jlewi commented on #3082
The instructions: https://www.kubeflow.org/docs/gke/private-clusters/

Need to be updated.

We should put a warning on that page that the instructions are outdated until its been fixed.

Here are some of the changes that are needed

1. The instructions for replicating images to private GCR need to be fixed

    * A good solution is blocked on tooling to replicate the images (#3210

1. Step 7 remov

[2019-11-20 07:37] karlschriek commented on #4500
So I just started up the autoscaling groups on the cluster where I was testing this out (EKS with Kubernetes 1.14 and Istio 1.3.1) and... today it works. I find this behaviour very difficult to comprehend. Either there is some element of randomness in there that causes the pods to block each other depending on the startup order, which means the 20 odd times I tried without success last week was ju

[2019-11-20 10:17] laurenskz opened #4511 "All pods fail when kf-serving controller manager is shutdown"
/kind bug

**What steps did you take and what happened:**
I installed kubeflow on google kubernetes engine following the documentation using the deploy using CLI steps. This succeeded and I was able to use kubeflow. Afterwards I scaled down the cluster to 0 nodes for the weekend in order to reduce costs. After resizing the cluster to 1 again all pods could not be created due to the inferenceservic

[2019-11-20 13:49] discordianfish opened #4512 "istio-policy runs out of memory, no way to adjust limits"
/kind bug

**What steps did you take and what happened:**
After running kubeflow for a while with minimal number of users/notebooks (~5) and a bunch of workflows istio-policy started crash-looping because mixer ran out of memory.

**What did you expect to happen:**
The memory limits should be set sufficiently high to prevent it from crashing.

**Anything else you would like to add:**
The memory us

[2019-11-20 13:50] discordianfish commented on #4512
I'd also think it would be completely reasonable to not bundle istio at all but document how to install istio from upstream sources.

[2019-11-20 18:56] NikeNano commented on #4488
Ahh cool! Learnt something new :)

[2019-11-20 20:16] krishnadurai commented on #4501
/cc @animeshsingh

[2019-11-20 20:17] krishnadurai commented on #4480
/cc @animeshsingh

[2019-11-20 23:18] nsriram13 opened #4513 "Links to CUJs missing in the roadmap doc"
/kind question

**Question:**
Would it be possible to add in links to the critical user journeys to the ROADMAP page?

The roadmap currently says it contains links - “ The roadmap provides links to critical user journeys(CUJs) that we want to deliver. ”. Unfortunately it does not seem to be linked in there.

[2019-11-20 23:35] Dhaval08 commented on #3585
@harshalkwagh  I am facing a similar issue. Any luck resolving it?

[2019-11-21 00:36] irvifa opened #4514 "TFServing supports for general collections of metrics."
I saw this issue https://github.com/kubeflow/kubeflow/issues/1036 and was wondering will it be good to provide an API that will allow us to define our own metrics collector. A building block/API that can be extended should be good enough (this will accommodate more user specific use cases).

[2019-11-21 00:37] irvifa commented on #4514
/kind feature

[2019-11-21 07:33] Andy546 commented on #4511
How do you remove the mutatingwebhook

[2019-11-21 08:41] Snapple49 commented on #3585
I would take a look at the rolebinding yamls in the `{KF_APP folder}` and in argo I would compare the Kubeflow generated version towards Argo's own clusterroles, found [here](https://github.com/argoproj/argo-helm/tree/master/charts/argo/templates). I've made a much more custom installation of Argo since I have some quite specific environment quirks, but I think that might be a place to start

[2019-11-21 16:20] abhijeetchauhan opened #4515 "Cannot terminate a kubeflow pipeline run."
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I have created a simple mnist training pipeline with one component. The pipeline fails to pull the gcr image due to insufficient permission and is stuck in an infinite loop. It shows the following error messages:

This step is in Pending state with this message: ImagePullBackOff: Back-of

[2019-11-21 19:51] Dhaval08 opened #4516 "Kubeflow pipeline client for Go"
/kind feature

Is there a pipeline client for GO available similar to the pipeline SDK for Python?

I am building a project wherein I would like to submit pipeline runs via the Go client instead of Python.

Thank you.

[2019-11-22 01:24] krishnadurai opened #4517 "OIDC Authservice needs to work with a public IP for Dex"
/kind bug
/priority p1

**What steps did you take and what happened:**
When Dex's issuer is set to public IP and likewise OIDC Authservice's corresponding parameter for OIDC issuer is set to the same IP, the initial handshake fails.
This happens since OIDC Authservice blocks necessary open routes to Dex:
/keys - For JWKS
/.well-known/openid-configuration - for handshake
These paths should be white

[2019-11-22 01:24] krishnadurai commented on #4517
/assign @yanniszark

[2019-11-22 08:24] Luke035 opened #4519 "Jupyter Notebook - istio side car readiness probe fail (status code 503)"
/kind bug

**What steps did you take and what happened:**
Launching a jupyter notebook with a simple PVC bounded on the home dir, creates a running pod that fails the readiness probe.

[code]

**What did you expect to happen:**
Readiness probe should be executed correctly

**Environment:**

- Kubeflow version: (version number can be found at the bottom left corner of the Kubeflow dashboard): 0.7
-

[2019-11-22 08:35] Luke035 opened #4520 "Jupyter notebook fail to start if no PVC is bounded"
/kind bug

**What steps did you take and what happened:**
If we choose to create a jupyter notebook with no persistent volume attached to the home dir (container image tensorflow 1.14 only cpu), the resulting POD will fail with the following error:

[code]

**What did you expect to happen:**
POD is started correctly

**Environment:**

- Kubeflow version: (version number can be found at the bottom

[2019-11-22 11:16] wjddyd66 opened #4521 "Doesn't Build Docker image tensorflow_notebook"
/kind bug

I Follow this Link
https://github.com/kubeflow/kubeflow/tree/master/components

and Command is

[code]

But something Error
[code]

Is this any Wrong In Dockerfile????
**Dockerfile**
[code]

OR is this Something Wrong in my Ubuntu???

[2019-11-22 16:51] AGKhalil commented on #3481
I'm having trouble with this too. I get the following when I look at the pvc requests.
[code]
And when I look at the pv I created, I get:
[code]
Nevertheless, looking at my pvcs I still get pending statuses.
[code]
As a reference, here's my pv.yaml:
[code]
Any insight on this would be appreciated.

[2019-11-22 16:57] hall commented on #3481
Check why they're pending with `describe`:

[code]

My guess is that the available PVs don't have enough capacity.

[2019-11-22 23:52] Jeffwan commented on #4500
@karlschriek
I don't think we have anything changed this week on our end. It's a kubecon week this week..
Are you using your corp environment? Not sure if you see this by using your personal account?
I would also suggest you to reach out to EKS team via account manager and we can help check your cluster as well.

[2019-11-23 00:04] jlewi commented on #3781
This is still needed for centraldashboard 1.0

[2019-11-23 00:15] jlewi commented on #4314
@praveen049 How exactly are you trying to connect inference and the ML pipeline. My general recommendation would be that you use pipelines to create a K8s resource like a Deployment or a KFServing resource to deploy the model. So the step is just creating that resource. The debug process would then be

1. Figure out what the spec should be so that you can connect to it
1. Verify the pipeline creat

[2019-11-23 01:34] jlewi commented on #3935
We will need to support running KFP pipelines in profile controlled namespaces as part of the multi-user support in pipelines kubeflow/pipelines/issues/1223

@Ark-kun Does the pipelines DSL already support setting labels on individual pods in the workflow? This allows the default behavior of istio side car injection to be changed on the per pod level and overrides the namespace setting.

ISTIO sid

[2019-11-23 12:03] ispmarin opened #4523 "Use Kubeflow without Tensorflow"
/kind question

**Question:**
Is it possible to use Kubeflow in a local deployment without TensorFlow or any Google services? Like a local, on premises deploy with Scikit-learn?

[2019-11-23 12:54] praveen049 commented on #4314
@jlewi

Thanks for the inputs. Yes, i am deploying the model directly as part of the pipeline.  I will try using the KFServing.

Btw, I am now able to expose the REST API using ClusterIP on a multi node k8s cluster - previously i was trying on microk8s cluster and it was not working.

Thanks

[2019-11-23 12:54] #4314 closed

[2019-11-23 23:36] #3004 closed

[2019-11-24 03:24] #3931 closed

[2019-11-24 16:15] frosenberg commented on #4517
I'm not sure my issue is related but I struggle to get Kubeflow+Dex+Microsoft connector to work with a DNS name. I essentially followed this guide: https://www.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto/ (I run the cluster on AKS, have configured a LB and LetsEncrypt to get a cert - that's all working fine)

I use the following Dex config in the config map called `dex`:

[code]

In addit

[2019-11-25 01:35] #3948 closed

[2019-11-25 02:10] yanniszark commented on #4517
Hi @frozenberg!
You seem to be encountering exactly the same issue.
I have a fix ready in this branch: https://github.com/yanniszark/oidc-authservice/tree/feature-server-start-immediately
I'll make sure to create a PR asap.

[2019-11-25 02:13] yanniszark commented on #3711
In my opinion, this is also a design doc that informs of how we decided to implement multitenancy.
We should create one to help others integrate with Kubeflow, understand our design and give us feedback on it.

[2019-11-25 04:35] #3909 closed

[2019-11-25 08:38] wjddyd66 commented on #4520
@Luke035

I have Same Issue....

I rewrite some Dockerfile & start.sh and Run

But Same Issue
[code]
<br>

Do ypu reslove It?

In my Environment
PV and PVC auto created so I can't change pv, pvc....
(container image tensorflow 1.6.0 and gpu)

[2019-11-25 09:29] fediazgon commented on #4521
`INFO|2019-11-22T20:09:37|build_image.py|54| b'\x1b[91mE: Failed to fetch http://archive.ubuntu.com/ubuntu/pool/universe/a/apt/apt-transport-https_1.6.11_all.deb  404  Not Found [IP: 91.189.88.174 80]'`

There is an error while fetching`apt-transport-https_1.6.11_all.deb`, can you try to move `apt-get install -y apt-transport-https` after the `apt-get update`?

[2019-11-25 09:32] wjddyd66 commented on #4521
@fediazgon
Thank you... I resolved that today morning It's just Ubuntu Server mismatch
I restart minikube. It's Clear work But I have some Error others..

#4520
Do you know how to do?

[2019-11-25 09:36] johnugeorge commented on #4523
Yes.  Please have a look at official docs - https://www.kubeflow.org/docs/started/getting-started/

[2019-11-25 09:55] fediazgon commented on #4521
Let's bring the conversation to that issue then. Can you close this one?

[2019-11-25 09:55] wjddyd66 commented on #4521
/close

[2019-11-25 09:55] #4521 closed

[2019-11-25 09:58] fediazgon commented on #4520
I will take a look at it

[2019-11-25 11:06] AGKhalil commented on #3481
Would you mind explaining what you mean by not enough capacity? Should I create larger partitions, then? Also below is the output of the `describe` command for `mini-pv-claim`. Thanks for looking into this.
[code]

[2019-11-25 11:16] AGKhalil commented on #3481
I sense that this may have something to do with my default storage class so I'm posting that here as well.
[code]
And here's the yaml file for it:
[code]
Thanks in advance!

[2019-11-25 14:20] jlewi commented on #4511
Duplicate of kubeflow/kfserving#568

You can delete the webhook like so

[code]

[2019-11-25 14:21] jlewi commented on #4511
Duplicate of kubeflow/kfserving#568

[2019-11-25 14:21] #4511 closed

[2019-11-25 14:22] jlewi commented on #4519
Can you provide the output of kubeftl get pods -o yaml for your notebook ?

Can you also provide the logs for your notebook pod?

[2019-11-25 15:49] #3956 closed

[2019-11-25 17:29] y2kenny commented on #3804
@jlewi We have [AMD GPU device-plugin](https://github.com/RadeonOpenCompute/k8s-device-plugin) support for Kubernetes for awhile, are there other things needed?  I did a quick keyword search on the repository and looks like some of the components are hard coded to a vendor but I am not sure if they are significant (I am very new to KubeFlow and I am not sure what all the pieces are.)

[2019-11-25 18:53] jlewi commented on #4471
@Tabrizian do we have an updated jupyter image that we can tag?

gcr.io/kubeflow-images-public/tensorflow-1.14.0-notebook-gpu:v0.7.0 is currently pointing to
sha256:895aa500ff09c9080e0755044e4fd9a3bd3dc3ae403415e220ebcc1dab09b6ef

Looks like it was built on october 10.
v-base-ef41372-1177829795472347138

There's a newer image
gcr.io/kubeflow-images-public/tensorflow-1.14.0-notebook-gpu@sha256:0d4f

[2019-11-25 18:56] jlewi commented on #4471
Looks like this image isn't new enough

[code]

[2019-11-25 21:15] Tabrizian commented on #4471
@jlewi The `1.14.0` has not been updated but I created a pull request for `1.15.0`.

The pull request is here: https://github.com/kubeflow/kubeflow/pull/4352

[2019-11-25 21:28] itayvallach opened #4524 "Jupyter Notebooks - can we change 'schedulerName'?"
/kind question

**Question:**
We want to use our own custom scheduler for running Jupyter notebooks and not the default-scheduler. Is that possible?

[2019-11-25 23:47] hall commented on #3481
By "not enough capacity" I mean the `spec.capacity.storage` in your PVC is too large for any available PV. I think that's the problem you're having, I just wasn't paying enough attention to see it :smile:

You're unbound PVC's want 20Gi
[code]

[2019-11-25 23:49] AGKhalil commented on #3481
But `volume-4` and `volume-5` both have a capacity of `20Gi`. Why is that not enough then?

[2019-11-25 23:51] hall commented on #3481
Sorry -- I hit enter to add a newline and it submitted my comment with half-formed thoughts; one moment.

[2019-11-25 23:53] AGKhalil commented on #3481
Btw I think I see something:
[code]
The claim on my last 2 pvs are to a notebook I created before. I've been testing with the same app directory. It's possible that I just need to delete everything and create the kubeflow app from scratch. At which point there will be no trace of my notebook servers.

[2019-11-25 23:55] hall commented on #3481
By "not enough capacity" I mean the spec.capacity.storage in your PVC is too large for any available PV.

Yep -- I just saw that myself! Those PVs are already bound :man_facepalming:

You can also delete just those PVCs and it will free up your PVs to be reclaimed (but any data will remain).

[2019-11-25 23:59] AGKhalil commented on #3481
I'm not at my PC right now to check this out. I'll do it first thing tomorrow!

Thanks a ton for your help hall!

[2019-11-26 04:34] tiopramayudi opened #4527 "Kubeflow 0.7.0 Deployment IAP Failed Create Endpoints with private GKE"
/kind bug

**What steps did you take and what happened:**
I faced problem when deploying kubeflow 0.7.0 in private cluster using gke 1.14 and this `https://raw.githubusercontent.com/kubeflow/manifests/v0.7-branch/kfdef/kfctl_gcp_iap.0.7.0.yaml` and used modified network for cluster dm. There is no error logs while doing deployment, but I can't access `https://${{FQDN}}`, got error DNS_PROBE_FINISH

[2019-11-26 06:38] George0112 opened #4528 "How to set artifact training-tensorboard-dir"
I'm trying to build an image caption pipeline example on my own linux server on top of microk8s
First I try to use part of ms-coco dataset and everything goes well. However, I tried to use the whole dataset and named it as ms-coco-all. It terminated with the following message.

I did log tensorboard in /mnt/ms-coco-all/train/logs but I didn't output anything about tensorboard in /mlpipeline-ui-met

[2019-11-26 08:24] jlewi commented on #4527
/assign @lluunn

[2019-11-26 09:08] Luke035 commented on #4519
Sure please find them here

`kubectl get pods -o yaml`
[code]

Logs:

Notebook:
[code]

ISTIO-PROXY
[code]

[2019-11-26 10:16] discordianfish commented on #3967
Can somebody make the bot ignore issue that are already triaged?

[2019-11-26 12:26] yarcyarc commented on #4519
I seem to be experiencing the same issue.

A. Started with https://aihub.cloud.google.com/u/0/p/products%2F40e64ddb-156d-4f83-95f0-a9ef640bf19d/v/1. Created a kubeflow cluster via the page, chose user/pw and not iap. Ran nicely. GUI up and working. All pods and services ok.

B. Started a notebook server via the kubeflow gui. The pod fails with a 503. See below for details.

------- details -------

[2019-11-26 14:13] jlewi commented on #3771
Fixed by #4484

[2019-11-26 14:13] #3771 closed

[2019-11-26 14:17] jlewi commented on #4501
@krishnadurai any update on this? Do we have an ETA?

[2019-11-26 14:25] jlewi commented on #3772
@fediazgon @lluunn @kimwnasptd it looks like #4139 was merged.

What are the next steps? Is there more work to be done in the controller to surface the information needed by the UI? Or is the remaining work at this point just to update the UI to surface the information #3637?

[2019-11-26 14:26] jlewi commented on #3405
@kimwnasptd should we close this as a duplicate of #3637?

[2019-11-26 14:28] jlewi commented on #3820
@kimwnasptd should we close this as a duplicate of #3637? or possibly #3772?

Based on the various discussion I believe the plan (#3772) is to have the notebook controller replay appropriate events and then the jupyter web app can surface those events (#3637)?

[2019-11-26 14:34] jlewi commented on #3578
@kimwnasptd any update on this?

I think there was a mention of the fact that you had a prototype for a UI? Do you have an ETA for when you will have something ready to demo and then a potential PR?

A TensorBoard controller was recently added
https://github.com/kubeflow/kubeflow/tree/master/components/tensorboard-controller

[2019-11-26 14:48] jlewi commented on #4020
Current status:

* @kkasravi Defined some initial tekton workflows in #4238
* kubeflow/testing#424 is tracking installing Tekton on our test clusters so we can run these workflows

I think the next critical step is to get Tekton installed on our releasing cluster to begin running these workflow

[2019-11-26 14:56] gaocegege commented on #3578
tensorboard CRD seems to be very simple now. I am wondering if we should use deployment directly. Is there any benefit of introducing a new CRD here?

[2019-11-26 15:07] fediazgon commented on #3772
UI work only (https://github.com/kubeflow/kubeflow/pull/4214) + change manifests to allow the controller to get/create/watch events.

[2019-11-26 15:18] Felihong opened #4529 "How to mount files into WorkSpace PV at pod initialization"
/kind question

**Question:**
[How to mount files into WorkSpace PV at pod initialization]

Hi there,

I used the default config file to deploy `kubeflow 0.7.0` on GKE. In my customized JupyterLab container some files (gitRepo, userConfiguration etc.) can be properly mounted in the pod.
However the mounting fails wenn I try to create a new `workspace-volume` from the UI. All files designed to be m

[2019-11-26 16:16] sylus commented on #4491
Seems fixed it was because we werent calling  kfctl_k8s_istio.0.7.0.yaml

[2019-11-26 16:16] #4491 closed

[2019-11-26 16:40] kkasravi commented on #4020
@jlewi I updated tektoncd-install to 0.8.0 ([here](https://github.com/kkasravi/kfctl-config-files/tree/master/tektoncd-install)) which allows a Pipeline to be embedded in PipelineRun. This allows all parameters to be defined in PipelineRun however it's dependent on removing builtin.NewLegacyOrderTransformerPlugin from kfctl (so resources are honored in the ordered listed)

[2019-11-26 17:36] kkasravi commented on #4020
Possible game plan
1. Get the kfctl fix in (noted above)
2. Update tekton-install in manifests to 0.8.0
3. Update the CI for components to use 0.8.0 (embedded Pipeline in PipelineRun)
4. kubeflow/testing#424

[2019-11-26 18:42] nsriram13 opened #4530 "Will the multi-tenant setup with Istio interfere with other deployments running the cluster"
/kind question

I want to try out the multi-tenant auth-enabled Kubeflow installation setup as described [here](https://www.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto/). I have a dev cluster where I have other deployments and we use nginx Ingress controller with an AWS load balancer for routing for those deployments. I see that Kubeflow uses Istio for all the routing and requires that we

[2019-11-26 18:50] krishnadurai commented on #4501
@jlewi

Just spoke with @yanniszark and we are looking to include this in the config. It seems the API for EnvoyFilter has changed and requires to be updated for ensuring OIDC AuthService works for us. Once this is fixed, I need to manually test it.
I'm on PTO currently, though I will look to find time today to see what I can do to speed this up.

[2019-11-26 19:04] lluunn commented on #4020
cc

[2019-11-26 19:04] jlewi commented on #4530
You can configure ISTIO to not do sidecar injection by default in a namespace and only do sidecar injection if a namespace has an appropriate label.

More info in the docs e.g.
https://istio.io/docs/ops/setup/injection-concepts/

[2019-11-26 20:47] fediazgon commented on #4524
No, it is not possible. You can see [here](https://github.com/kubeflow/kubeflow/blob/6f790f8f3b43d8048d9fbeff7e64857da264f83b/components/jupyter-web-app/backend/kubeflow_jupyter/common/yaml/spawner_ui_config.yaml) all the values fetched from the UI. Also, in [this file](https://github.com/kubeflow/kubeflow/blob/6f790f8f3b43d8048d9fbeff7e64857da264f83b/components/jupyter-web-app/backend/kubeflow_ju

[2019-11-26 22:53] nsriram13 commented on #4530
Thanks @jlewi . The ‘namespaceSelector’ seems like a good solution here. Will experiment some and report back what we find.

[2019-11-26 23:00] alexellis commented on #1116
Not sure if anyone will land here again, I guess OpenFaaS is the "most" "native" approach to answer the comment above, you can build and deploy Docker images without additional layers / runtimes.

Feel free to give it a try some time - https://github.com/alexellis/tensorflow-serving-openfaas

[2019-11-26 23:02] itayvallach commented on #4524
@fediazgon  Thank you for the response. This is quite disappointing, I would expect to have control over the scheduler of my notebooks. I created a very simple PR that will allow users to set a custom schedulerName using the "notebook-controller-parameters" ConfigMap, I think this is the proper place for this configuration.
Link to the PR: https://github.com/kubeflow/kubeflow/pull/4525

[2019-11-27 04:42] krishnadurai commented on #4501
@yanniszark the EnvoyFilter looks fine and the API is still at v1alpha3 for EnvoyFilter.

[code]

[2019-11-27 07:18] hougangliu opened #4532 "Profile-controller crashed"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
1. create a profile
2. delete the `labels` field of corresponding namespace

Then the profiles-deployment pod crashed with below log
[code]

[2019-11-27 07:26] nrchakradhar commented on #4530
Any thoughts on ingress controller which is Ngnix?

[2019-11-27 08:16] hougangliu commented on #4532
/assign

[2019-11-27 12:16] karlschriek commented on #4500
@Jeffwan, ok thanks for the reponse! Yep I can see this using my personal account, have just been unavailable the last few days.

For now at least the cluster we are using is running, but if we run into problems again I'll be in touch with our account manager.

[2019-11-27 16:30] barambani opened #4534 "Source input in the Artifact's tab of the pipeline runs is GCS specific"
/kind bug

**What steps did you take and what happened:**
The source input in the Artifact's tab of the pipeline runs is GCS specific (see image)
![Screenshot 2019-11-27 at 16 22 07](https://user-images.githubusercontent.com/201339/69741259-a73c3800-1132-11ea-9ca2-a03b9f07efca.jpg)

**What did you expect to happen:**
I deploy kubeflow to AWS EKS and I would expect to allow also artifacts stored in

[2019-11-27 17:00] barambani opened #4535 "Pipeline's Artifacts ui doesn't show artifacts"
/kind bug

**What steps did you take and what happened:**
The pipeline's Artifacts ui doesn't show artifacts
![Screenshot 2019-11-27 at 16 54 26](https://user-images.githubusercontent.com/201339/69743936-2cc1e700-1137-11ea-9f25-fcf18866e3e5.jpg)

**What did you expect to happen:**
I deploy kubeflow to AWS EKS and my default artifact repo is on S3. After some pipelines produce artifacts I was expec

[2019-11-27 17:06] jlewi commented on #4020
@kkasravi  where does kfctl come into play?

* There's a Tekton PipelineRun defined [here](https://github.com/kubeflow/kubeflow/blob/master/components/notebook-controller/ci/pipeline-run.yaml) to do

  * Instructions for running it are [here](https://github.com/kubeflow/kubeflow/tree/master/components/base)

So I would think we would need to do the following

1. Setup our releasing cluster to run

[2019-11-27 17:12] barambani opened #4536 "Deploy / upload static pipelines as part of kubeflow cluster creation"
/kind question

**Question:**
What's the best way to deploy (upload ?) to kubeflow statically defined pipelines (yaml in a code repository) as part of eventual CD process ?
At the moment I'm able to declaratively recreate an AWS EKS kubernetes cluster running kubeflow through ArgoCD and I have few pipelines that are supposed to be created as part of it at bootstrap when I create a new instance of

[2019-11-27 19:12] kkasravi commented on #4020
@jlewi
Apologies - we can ignore kfctl. I had used kfctl to generate a pipeline for each component.
Since it's a 'generator' I believe we agreed that it should be keep out of the actual CI/CD for now.

[2019-11-27 20:10] fediazgon commented on #4520
Ok, I am not completely sure about this. When you create a nb-server with a "Workspace Volume", the spawned pod uses a PVC to claim a volume that will be mounted in [/home/jovyan](https://github.com/kubeflow/kubeflow/blob/6f790f8f3b43d8048d9fbeff7e64857da264f83b/components/jupyter-web-app/backend/kubeflow_jupyter/common/yaml/spawner_ui_config.yaml). When the claim is fulfilled the mount directory

[2019-11-28 11:39] AGKhalil opened #4538 "Jupyter notebook not spawning"
/kind bug

Been trying to create a notebook server without success. Here's the content of my `kubeflow` namespace:
[code]
Here's the content of the namespace used for the notebook:
[code]
The pod created for the notebook:
[code]
The workspace is bound to `pv-volume3`
[code]
When I try to get the pod logs, I get:
[code]
I found two issues that are similar to what I'm having: #3487 and #1241. Both p

[2019-11-28 14:55] yeya24 commented on #4086
@lluunn  I think the metrics work. So do we need to close this issue?

[2019-11-28 14:56] yeya24 commented on #3722
I think this issue is already fixed by https://github.com/kubeflow/kubeflow/pull/4123 @jlewi

[2019-11-29 02:45] Mikedu1988 commented on #4508
use gcr.azk8s.cn

[2019-11-29 07:35] scottilee commented on #3907
This page has scripts: https://cloud.google.com/container-registry/docs/get-image-vulnerabilities

[2019-11-29 14:11] nrchakradhar commented on #2981
@yanniszark @jlewi @kunmingg @krishnadurai
What is the approach that will be followed for Authorization?

- Will it be based on subjectAccessReview
- Will it be based on Kfam
-  Will it be based on both Kfam and subjectAccessReview
Searching the code for subjectAccessReview does not yield any results that suggest that it is being used. Kfam is being used in notebooks and recently in pipelines also

[2019-11-30 18:07] y4roslav opened #4540 "Centraldashboard 403 error"
/kind bug

We are using 0.7 kubeflow with LDAP/Dax integration. In one day our dashboard start rejecting our request with error 403.

**What did you expect to happen:**
Central Dashboard with Dax page

**Anything else you would like to add:**

Only errors I can see is from central dashboard pod
[code]

**Environment:**

- Kubeflow version: 0.7
- kfctl version: 0.7
- Kubernetes platform: CaaS (SUSE

[2019-12-01 09:59] #4000 closed

[2019-12-01 17:59] Christina-Young commented on #4241
I am getting this same issue, using microK8s and kfctl v0.7.0 just downloaded and installed today.  I also created the namespaces manually using the instructions on this page:  [](https://www.kubeflow.org/docs/other-guides/multi-user-overview/) and verified with `kubectl get profiles -o yaml`, but Kubeflow ignores the manually created ones and still prompts for namespace creation.

[2019-12-01 22:36] swiftdiaries commented on #3907
Started work on a CLI tool to fetch them via API:
https://github.com/CiscoAI/kubeflow-scanner
I'll update progress and if enough people need this we can include it in CI

[2019-12-02 00:33] #3219 closed

[2019-12-02 01:13] avdaredevil commented on #4241
@Christina-Young could you please include your API information as I've outlined above. This will allow us to debug your issue better. Specifically your responses for `has-workgroup` and `env-info`

[2019-12-02 05:33] #3670 closed

[2019-12-02 05:33] #3580 closed

[2019-12-02 05:33] #3545 closed

[2019-12-02 05:33] #3579 closed

[2019-12-02 05:33] #3511 closed

[2019-12-02 05:33] #3330 closed

[2019-12-02 09:33] #2444 closed

[2019-12-02 11:22] klolos commented on #4215
Hello @discordianfish,

Are you currently working on this issue?

I would also like to start working on it, so if someone has made some progress please let me know so we can exchange ideas.

[2019-12-02 12:17] frosenberg commented on #4517
Hi @yanniszark,

thanks! I need to find some time to test this out. I'm not quite sure what you mean by the following (not too familiar yet with Dex and the overall setup):

How would that change my setup? And where would I hook in? Currently I'm reconfiguring Dex to talk to Microsoft with OIDC not sure how else to do it.

[2019-12-02 14:36] yanniszark commented on #4517
@frosenberg if Microsoft supports OIDC, then you can hook the AuthService directly on the Microsoft OIDC Provider address.
So instead of pointing it to Dex, you point it to Microsoft.
Essentially, you don't need Dex in that case.

However, if Microsoft doesn't support OIDC, you need Dex to make the oAuth2 <-> OIDC translation.

[2019-12-02 17:33] #3901 closed

[2019-12-02 17:55] yeya24 commented on #4514
I don't think this is a kubeflow-side issue. It is more likely a Prometheus configuration. You can easily drop the metrics you don't want in Prometheus.

[2019-12-02 23:09] gabrielwen commented on #4162
I think we can close this until we need more tests :)

[2019-12-02 23:10] gabrielwen commented on #4162
/close

[2019-12-02 23:10] #4162 closed

[2019-12-03 01:56] jazzsir opened #4541 "katib-db pod is CrashLoopBackOff"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

After running "kfctl apply -V -f ${CONFIG_URI}",
Only two pods are CrashLoopBackOff as below
[code]

So I checked logs of katib-db
[code]

**What did you expect to happen:**

All pods' statuses are "running"

**Anything else you would like to add:**
[Miscellaneous information that will

[2019-12-03 13:53] AGKhalil commented on #4538
Anyone?

[2019-12-03 14:37] #4024 closed

[2019-12-03 15:37] #3658 closed

[2019-12-03 15:37] #3963 closed

[2019-12-03 16:27] kimwnasptd commented on #3405
@jlewi yes, with the fix for #3637 we will be using the Notebook Events to provide more info in case the Notebook cannot start. I believe we can close this issue.

[2019-12-03 16:33] kimwnasptd commented on #3820
Yes, since we will be using Events with the work for #3637 and #3772 we can drop the proposed implementation in this issue.

Although the problem 2 I described, the use of `containerStatus[0]` within the controller, remains. So we might still be exposing the status of a sidecar container instead of the Notebook Container. But either way lets close this issue and I'll open a new issue to only keep

[2019-12-03 16:37] #3833 closed

[2019-12-03 16:37] #3913 closed

[2019-12-03 16:37] #2846 closed

[2019-12-03 16:37] #2226 closed

[2019-12-03 16:37] #1915 closed

[2019-12-03 16:37] #3951 closed

[2019-12-03 16:59] #4502 closed

[2019-12-03 18:39] lluunn commented on #4086
/close

[2019-12-03 18:39] #4086 closed

[2019-12-03 19:13] gabrielwen commented on #3646
/assign

[2019-12-03 20:55] gaoning777 opened #4542 "Add a buttom/prompt in the dashboard when adding a contributor to a namespace"
/kind feature

**Why you need this feature:**
[Is your feature request related to a problem? Please describe in details]
More user friendly UI on the dashboard.

**Describe the solution you'd like:**
[A clear and concise description of what you want to happen.]
When the namespace owner adds a new contributor, they get a buttom/prompt for confirmation.

**Anything else you would like to add:**
[Mis

[2019-12-03 21:03] gabrielwen commented on #3646
verified it's not working in v0.7.0

[2019-12-03 21:03] lluunn commented on #4527
I tried the [instructions](https://www.kubeflow.org/docs/gke/private-clusters/#deploy-kubeflow-with-private-gke) before step 11 (updated image to gcr). So some images cannot be pulled, but cloudendpoint should be fine.
But got different error:
- when visiting FQDN, I got ERR_NAME_NOT_RESOLVED, server IP address could not be found. I think this means cloud endpoint is not functioning.
- I can see a

[2019-12-03 22:25] lluunn commented on #4527
The cloudendpoint pod logs in a normal kubeflow cluster:
[code]

[2019-12-03 22:37] #3945 closed

[2019-12-03 22:38] #4501 closed

[2019-12-04 01:27] lluunn commented on #4527
Since the istio-ingressgateway cannot be pulled, I tried using GKE's istio add-on.
This can be added after cluster created: https://cloud.google.com/istio/docs/istio-on-gke/installing#adding_istio_on_gke_to_an_existing_cluster

After this, I think the certificate works. Now my error when visiting FQDN is: Origin authentication failed.

I think the problem is iap-enabler, logs:
[code]
It gets that

[2019-12-04 02:04] lluunn commented on #4527
For some reason my IAP was turned off. I enabled it again via console https://console.cloud.google.com/security/iap?_ga=2.216801814.-1643724808.1565303314, and now I can see the kubeflow dashboard

[2019-12-04 15:01] szinck1 opened #4543 "How to add default ports to Notebooks"
/kind question

**Question:**
I need to be able to launch our Jupyter Notebooks with customized settings. i.e. Below is a working configuration that I need to duplicate in Kubeflow/JupyterHub.

What's the recommended way of achieving this in Kubeflow? I looked at `PodDefault` but that seems to be for runtime configuration

Here's my config that works fine when I start it via `kubectl`,  I need to

[2019-12-04 16:15] yeya24 commented on #4543
I am not sure if I understand your question? Do you want to know how to write the yaml file for notebook custom resource in kubeflow for your case? @szinck1

[2019-12-04 16:35] szinck1 commented on #4543
@yeya24 Yeah, when I click New Server, I need the pod to be created as per above.  Does that make sense?

[2019-12-04 16:57] szinck1 commented on #4543
Looks like the notebooks are created here: https://github.com/kubeflow/kubeflow/blob/master/components/jupyter-web-app/backend/kubeflow_jupyter/common/yaml/notebook.yaml

Is there a way to inject customizations into the pod creation or do we need to modify that yaml?

[2019-12-04 17:03] yeya24 commented on #4543
AFAIK, there is no mutating webhook here for users to do pod injection, so you may have to modify the yaml.

[2019-12-04 18:36] gabrielwen commented on #3708
/close

[2019-12-04 18:36] #3708 closed

[2019-12-04 22:49] Jeffwan opened #4545 "[AWS] Provision EBS volume for pipeline data to support kubeflow upgrade"
/kind feature

**Why you need this feature:**
[Is your feature request related to a problem? Please describe in details]
Currently, kubeflow deployment will dynamically provision EBS volume for pipeline storage.
When we delete the cluster or manifest, these volumes will be deleted as well. In order to support case like kubeflow upgrade or data persistence, we want to provision EBS resources in pha

[2019-12-04 22:50] Jeffwan commented on #4545
1.0 feature.

[2019-12-04 22:55] Jeffwan opened #4546 "[AWS] Provide managed MYSQL solution for kubeflow"
/kind feature

**Why you need this feature:**
[Is your feature request related to a problem? Please describe in details]
Kubeflow components use Mysql for metadata. There's feedback asking to use managed  mysql solution like [RDS](https://aws.amazon.com/rds/) for reliability and maintenance purpose.

**Describe the solution you'd like:**
[A clear and concise description of what you want to happen.

[2019-12-04 23:20] #4532 closed

[2019-12-05 06:36] jlewi commented on #3935
Correction; I misunderstood the meaning of the namespace label. The namespace label is not **a default value**. The namespace label is used to enable the istio side car mutating webhook for a particular namespace. So if we want to enable ISTIO for any pods in a namespace this would need to be set to true.

[2019-12-05 06:41] jlewi commented on #3866
The current behavior for the Kubeflow namespace is no istio side car injection. We achieve this by not adding the label

[code]

To the namespace. Unfortunately this means the ISTIO mutating web hook isn't enabled for any pods in the kubeflow namespace so we can't selectively enable it for specific services.

So I think we should change the default behavior

* Add "istio-injection: enabled" to the

[2019-12-05 06:53] jlewi commented on #2981
My general guideline is not to create unnecessary layers of abstraction around K8s APIs.

So if we can issue a simple subjectAccessReview request to the K8s APIServer I think that is the preferred approach.

I think of KFam as a backend primarily targeting the central-dashboard. As an example, one of the main calls KFam is providing is a "what namespaces does a user have access to". I don't think

[2019-12-05 06:55] jlewi commented on #3722
Thanks @yeya24 is there a simple way to verify this? i.e. can we curl the prometheus endpoint for the controller to get a list of the metrics?

[2019-12-05 06:57] jlewi commented on #3820
Duplicate of #3637

[2019-12-05 06:57] #3820 closed

[2019-12-05 06:58] jlewi commented on #3405
Duplicate of #3637

[2019-12-05 06:58] #3405 closed

[2019-12-05 10:50] George0112 commented on #4528
I found that I was outputing those files in my pipeline and I fixed this after I removed it.
Sorry for opening unrelated issue.

[2019-12-05 10:50] #4528 closed

[2019-12-05 10:53] kimwnasptd commented on #2981
@jlewi totally agree to not introduce/utilize extra layers of abstraction around k8s APIs as much as possible.

Working with `SubjectAccessReview` should allow us to have more fine grained control over the authorization in contrast to KFAM which only supports three roles (viewer, editor, admin). Plus, as noted, we are shifting the authorization checks back to the K8s API itself.

I will start work

[2019-12-05 13:59] kimwnasptd opened #4547 "jupyter-web-app: Use v1alpha1 for poddefaults"
/kind bug

**What steps did you take and what happened:**
The backend will query for v1beta1 instead of v1alpha1 poddefaults. This results in an error since the version of poddefaults we use is v1alpha1.

cc @lluunn

[2019-12-05 13:59] kimwnasptd commented on #4547
/assign @kimwnasptd

[2019-12-05 14:32] barlock opened #4549 "Dex EnvoyFilter forces authentication to existing istio services"
/kind bug

**What steps did you take and what happened:**
Created a cluster (IBM's cloud) configured with istio and knative.

Created a knative service (behind istio) in the default namespace, confirmed it works at my hostname with an istio ingress created for it.

Installed kubeflow 0.7.0 configured with dex, and without installing istio (as it was already there). There is a modification here als

[2019-12-05 14:38] yanniszark commented on #4549
Hi @barlock, thanks for opening an issue.
So, based on what you said, the issue is that the EnvoyFilter also authenticates requests related to knative and you did not anticipate that.
If that's correct, could you update the issue title to reflect that issue?

I can see 2 solutions here:
1. If you don't want authentication in those routes, you could look into the skip_auth_url option of the authser

[2019-12-05 15:09] szinck1 commented on #4306
I'm having this exact issue.  Has anyone found a good workaround or solution?

[2019-12-05 15:24] barlock commented on #4549
Can you point me to docs re: `skip_auth_url` I can't figure out where that lives.

I'm curious about assumptions for how Kubeflow is installed. Is it assumed that Kubeflow isn't installed in a multi-tenant cluster? If so why?

My guess is for pre-release simplicity it makes sense, I wasn't sure if this issue is a feature or a bug TBH.

[2019-12-05 15:29] yeya24 commented on #3722
@jlewi  You can curl the metrics endpoint exposed by the notebook controller.  For example, curl xxxx:8443/metrics | grep notebook

[2019-12-05 16:15] yanniszark commented on #2981
@jlewi I totally agree, Kubernetes RBAC already provides a nice and fine-grained way to express permissions.
We shouldn't be putting unnecessary abstraction layers on top of it.
KFAM should be remain a helper service for the kind of thing you describe and not become an intermediary for authorization.

[2019-12-05 16:27] yanniszark commented on #4549
@barlock `SKIP_AUTH_URL` is an environment variable in the authservice deployment.
The authservice repo is here along with documentation is here: https://github.com/arrikto/oidc-authservice.

The EnvoyFilter selects Gateways based on the `istio: ingressgateway` selector.
I would expect it to only apply to the Kubeflow gateway, but the selector may be too generic.

Do you mean that you had an Istio

[2019-12-05 16:50] barlock commented on #4549
SKIP_AUTH_URI is interesting, I need to whitelist hosts I think rather than paths.

Interesting, I'm still learning my way around istio, this probably needs some looking into as a path for me.

Yes, previously to kubeflow's installation, I have a working knative installation that set up an istio ingress from cluster's loadbalancers, that routed traffic via a knative gateway. After kubeflow is inst

[2019-12-05 17:40] #4547 closed

[2019-12-05 18:10] gabrielwen commented on #3646
#120 removes the flag - now you need to set this value to gcp plugin in KfDef.

[2019-12-05 18:10] gabrielwen commented on #3646
/close

[2019-12-05 18:10] #3646 closed

[2019-12-05 21:30] barlock commented on #4549
I would expect it to only apply to the Kubeflow gateway, but the selector may be too generic.

Just looked into this. Yes, I believe that's true. It will select all gateways that use the default controller.

My expectation was that, by default, it would only apply to the kubeflow one, specifically `kubeflow-gateway`.

Digging in further, gateways use the same ingress controllers, `workloadLabels`

[2019-12-05 21:53] krishnadurai commented on #4517
@yanniszark, could we look to hotfix this issue on 0.7 branch? Looks like there are many requests to get this working with public IP.

The branch you've mentioned already has the code ready for this fix.
https://github.com/yanniszark/oidc-authservice/tree/feature-server-start-immediately

[2019-12-06 00:21] krishnadurai commented on #4306
We may have to figure out a way in which we are able to allow spark to connect from 'kubeflow' namespace back to the notebook in a profile namespace.
Could we try to get this done by creating a virtual service definition and adding the relevant service to service Istio RBAC roles for spark when we create a profile?

[2019-12-06 01:34] szinck1 commented on #4306
@krishnadurai that's something I can explore. if you have any specific suggestions please let me know and I will test on my installation.

[2019-12-06 05:40] #4541 closed

[2019-12-06 09:29] SebBlin opened #4550 "OIDC : id token signed with unsupported algorithm, expected ["RS256"] got "HS512""
/kind bug

**What steps did you take and what happened:**
I were able to setup authentication with OIDC-authservice and dex as proposed by Arrikto.
I'm working with an external OIDC identity provider, declared as OIDC connector in dex.
When the user is redirected to the callback URL, I get the following message in the browser:

`Failed to authenticate: oidc: failed to verify ID Token: oidc: id tok

[2019-12-06 11:25] descampsk commented on #4546
This feature is necessary if we want to go into production with kubeflow.
There is this issue https://github.com/kubeflow/community/issues/188 but not very active :(

[2019-12-06 12:38] yanniszark commented on #4550
Hi @SebBlin!

First of all, regarding the custom CA. We want to support that and we don't want you to have to make a new image for this. I have opened https://github.com/arrikto/oidc-authservice/issues/9 to track this issue.

Secondly, could you give me the information of your OIDC Provider's well-known endpoint?
It will assist me in debugging this issue.

[2019-12-06 12:57] yanniszark commented on #4549
@barlock thanks for bringing this up, it is definitely a limitation.
I would expect Istio to have support for different Authentication Policies per Gateway, but they seem to only support workload selector, which selects backend Pods and not Gateway CRs.

This seems to be a limitation of Istio, as per the community's answer here:
https://istio.slack.com/archives/C3TEGNZ7W/p1575568960139700

The sol

[2019-12-06 13:10] descampsk commented on #4546
I found a Config Map ml-pipeline-config :

[code]

@Jeffwan Do you think it will work if I change this config to point to an external rds database ?

[2019-12-06 13:38] yanniszark commented on #4517
@krishnadurai of course, I have already made the necessary PRs and cherry picks.
https://github.com/kubeflow/manifests/pull/639

Once this gets merged, we can point the KfDef to the latest commit and fix this for everyone.

[2019-12-06 15:05] SebBlin commented on #4550
here is the configuration (I've changed the domain name :-) )
[code]

[2019-12-06 16:00] yanniszark commented on #4550
I see, this is definetely an issue.
What's happening is that the go-oidc library that we use doesn't save the supported signing values internally as I thought it would and assumes a default of RS256.

I can think of 2 solutions:
1. Patch the library to support this use-case. I have made an issue in their repo: https://github.com/coreos/go-oidc/issues/225
2. Add a supported algorithms option to the

[2019-12-06 16:04] yanniszark commented on #4550
/priority p1
/kind bug

[2019-12-06 16:30] SebBlin commented on #4550
I really thank you for investigating !
Do you think about a possible workaround (even a dirty one) that I could use, to make it work and that would allow me to go forward ?

[2019-12-06 17:56] yanniszark commented on #4550
It seems the issue could not be resolved as I thought.
The go-oidc library may not support HS512 altogether.
@SebBlin a quick fix would be to make your OIDC provider use RSA256 instead.
From the list in the well-known endpoint, I see it supports it. Could you see if you can configure it?

[2019-12-06 22:54] joeliedtke opened #4551 "Notebook images referencing out of date Fairing"
/kind bug

**What steps did you take and what happened:**

1. Create a Kubeflow Notebooks instance from the TF 1.14 CPU image or TF 2.0 CPU image (have not tested with GPU)
1. Create a Python3 notebook
1. Run the following commands in the notebook:

   * from kubeflow import fairing: Result, ModuleNotFoundError
   * import fairing: Result, loaded
   * !pip show fairing: Result, fairing 0.5 is inst

[2019-12-07 07:14] yudiprasetya24 opened #4553 "Notebook Migration"
/kind question

**Question:**
I have several notebooks on my existing kubeflow deployment(0.5). I try upgrade to kubeflow 0.7. I following this instruction https://www.kubeflow.org/docs/pipelines/upgrade/ , but when it is done notebook is not migrated to my new cluster, but existing pipelines are migrated. Is this expected? Or do I need to create notebook statefulset manually?

[2019-12-07 21:33] krishnadurai commented on #4517
@yanniszark Thanks.

[2019-12-08 03:55] sarahmaddox commented on #3787
I'm going to close this issue, as it's not relevant for the website docs. Please do re-create the issue in kubeflow/kubeflow to track work if need be.

/close

[2019-12-08 03:57] sarahmaddox commented on #3787
Oops sorry, my bad. I thought this issue was in the kubeflow/website repo. Re-opening this one.

/reopen

[2019-12-08 11:28] #4011 closed

[2019-12-09 08:57] yuc8939 opened #4554 "May I safely remove the pods in namespace "kubeflow" if I don't train model from a notebook?"
/kind question

**Question:**
I followed this [setup guide](https://github.com/kubeflow/examples/blob/master/github_issue_summarization/01_setup_a_kubeflow_cluster.md) and have my kubeflow cluster running. But my application uses TFJobs to train models only. May I safely stop and remove the pods and everything in namespace "kubeflow",  if I will never train models from a notebook?

[2019-12-09 09:24] b675987273 opened #4555 "Why do we quit supporting tf-operator-ui"
/tfjob

**Question:**
[It seem like we do not have a tf-operator-ui since v0.6. I think it is quite useful. Building a tensorboard for a tfjob will be annoying sometime ]

Do we have a long discussion about it？

[2019-12-09 12:52] SebBlin commented on #4550
Yes, I'm asking for it.

[2019-12-09 13:27] yanniszark commented on #3709
I think the design doc is now complete, as well as the implementation.
The only thing that is maybe remaining is to put it in the public Kubeflow drive.
@jlewi can you make a copy and include it?

[2019-12-09 15:09] barlock commented on #4549
@yanniszark Can you invite me into that workspace (barlock@ibm.com)?

[2019-12-09 15:58] yanniszark commented on #4549
@barlock it's the official istio slack, you can join by following the instructions on this page:
https://istio.io/about/community/join/

[2019-12-09 16:21] SebBlin commented on #4550
The request to use RS256 has been accepted by the team and is ongoing. I should be able to test it soon.

[2019-12-09 18:01] szinck1 commented on #4543
/close I manually added the ports to the yaml, but it made no difference. I believe my issue is actually already logged at  https://github.com/kubeflow/kubeflow/issues/4306

[2019-12-09 18:01] #4543 closed

[2019-12-09 18:02] szinck1 commented on #4306
@krishnadurai why do you think the problem is communication from the kubeflow namespace? our notebooks and spark (spark for Kubernetes) are all contained within one namespace. The web app, notebook controller and other parts of Kubeflow are in the kubeflow namespace though.

[2019-12-09 19:23] krishnadurai commented on #4306
@szinck1 could you please share a notebook with me so that I can take look at an example?

[2019-12-09 19:26] yanniszark commented on #3477
I believe this is still relevant.

[2019-12-09 20:40] jlewi commented on #4273
@kimwnasptd @avdaredevil can one of you triage this? Is this something we want to get done for 1.0?

[2019-12-09 20:47] jlewi commented on #4274
@johnugeorge @richardsliu can one of you triage this issue please?
https://github.com/kubeflow/community/blob/master/proposals/issue_triage.md

[2019-12-09 23:28] kunmingg opened #4557 "profile controller Workload identity plugin: check if user has access to target SA before proceed"
/kind feature

**Why you need this feature:**
GCP workload identity works by binding k8s service account with a GCP service account to allow k8s service account access GCP API on behalf of k8s service account.

Now by default kubeflow v0.7.0 setup a shared GCP service account for all profiles.

We prefer if profile controller check if `profile owner` can use `GCP service account` before setup work

[2019-12-10 01:12] avdaredevil commented on #4273
@Ark-kun I'm not sure how you're able to see this page if you don't have access to any namespaces. The UI should be in registration flow otherwise.

@kimwnasptd There's two options we can do to prevent this from happening:
- We default the user to one of the states in the namespace bar (pick a namespace randomly or always default to owned namespace). Will not work if there are no namespaces availa

[2019-12-10 13:10] kimwnasptd commented on #4273
@jlewi lets aim for making it clear to the user how/where to select a Namespace when creating a Notebook for 1.0.

@avdaredevil I agree with having JWA to show a more informative message and urge the user to select a namespace from above.

Regarding the Central Dashboard's behavior, I think having some sort of Least-Recently-Used-Namespace/per-user policy would be helpful (just like GCP remembers

[2019-12-10 13:54] szinck1 commented on #4306
@krishnadurai
Here is the pyspark config that works outside of Kubeflow.   BTW, I tried disabling istio for the `anonymous` namespace (the Kubeflow profile ns) but after doing that the Jupyter web app can't connect to the pods.

[code]

`spark.driver.host` is a service that selects my notebook pod. This is necessary we need a consistent DNS name to connect to the driver.

That code will launch two

[2019-12-10 15:18] SebBlin commented on #4550
The configuration with RS256 was made but now I'm facing a new error message:
`Failed to authenticate: oidc: failed to verify ID Token: oidc: malformed jwt: illegal base64 data at input byte 59`
I will continue investigations.

[2019-12-10 16:18] johnugeorge commented on #4274
Can you upgrade to 0.7 which has the latest release of Katib? Katib release in 0.6 contains older version of api and many changes have gone in.

Moreover, I don't get how rc image (katib-manager:v0.6.0-rc.0) is pulled for an official kubeflow release.

[2019-12-10 16:19] johnugeorge commented on #4274
@zhangzewen

[2019-12-10 17:12] samos123 opened #4558 "Support any OpenID provider for multi-user feature"
/kind feature

**Why you need this feature:**
Enterprise already has Ping Identity as the identity provider and we wish to re-use that without having to introduce yet another component, Dex.

**Describe the solution you'd like:**
Ability to configure an OpenID provider such as Ping without using Dex with the multi-user feature

[2019-12-10 19:02] Jeffwan commented on #4546
@descampsk
Right now, by default it points to the mysql svc kubeflow bring up. I think you can update config to connect to external storage but I have not try it yet and I doubt following parameters are  generic enough.

[code]

What we need to do is
1. Provision external resources when we deploy kubeflow.  Make sure connectivity in the same VPC
2. Make sure pipeline configurations are generic eno

[2019-12-10 20:19] szinck1 commented on #4306
We found a workaround for this. We disabled istio pod injection for the "anonymous" (or any Kubeflow Profile namespace) and added a DestinationRule to permit unencrypted traffic. This is obviously not ideal. Hopefully this can be addressed in an upcoming release.

[code]

[code]

[2019-12-11 01:38] #3592 closed

[2019-12-11 01:53] avdaredevil commented on #4273
Hey @kimwnasptd, thanks for the quick reply! I completely agree, and I think that's probably the best way to go.

It seems `area/jupyter` and `area/centraldashboard` are already there from before, and I've also added `area/front-end`.

PS. The `CentralDashboard_SDK` should have the iframe state in it, so you should be able to leverage that state when making the update for namespace selection.

Tha

[2019-12-11 04:23] jlewi commented on #4020
@kkasravi I'm taking a look at the existing pipelines. I'm noticing that

1. It looks like the step to actual rebuild the manifests and presumably create the PR is commented out
  * https://github.com/kubeflow/kubeflow/blob/2da148904248d8616b50a0d8287742f2e2bdc968/components/base/task.yaml#L81

* Is this because that script isn't working yet?

1. It looks look like outputImageDir is no longer supp

[2019-12-11 04:56] CapKenR commented on #4469
@krishnadurai, sorry. I forgot to update this issue. I did successfully install Kubeflow on a new, clean system, i.e. new K8S install, new Istio install and new Knative install. I followed that with a Kubeflow 0.7.0 install without the Knative and Istio applications.

[2019-12-11 05:27] kkasravi commented on #4020
no - it was working in the constant-cubist project. I usually add the 'sleep infinity' to debug in the container

I had used the PVC as a place to share data across tasks. I wasn't aware of tekton's passing files support or perhaps it wasn't there in the version i developed against (i started when it was on 0.5.2 and ended with 0.7)

[2019-12-11 06:26] krishnadurai commented on #4469
@CapKenR should we close this issue then?

[2019-12-11 08:17] descampsk commented on #4546
@Jeffwan
I did some tests and here is what I achieved :

I achieve to connect Kubeflow to an external rds database using this configmap:

[code]
See params available here: https://github.com/kubeflow/pipelines/blob/master/backend/src/apiserver/client_manager.go

It seems to works well.

With more tests, I discovered that if you install Kubeflow, then remove it and reinstall it with the same extern

[2019-12-11 11:26] aleb commented on #4540
My dashboard also started all of a sudden to return 403.
Standard setup following the instructions in https://www.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto/#before-you-start in a Google Kubernetes cluster:
[code]

I access for example `https://mydomain.com/test1` and after ~20 seconds I get this 403:
[code]

No cookies seem to be associated with the domain in the browser.

I see this bu

[2019-12-11 13:46] jlewi commented on #4020
@kkasravi oh maybe I'm mistaken about passing files but I thought it had some mechanism for handling artifacts and moving them between steps.

[2019-12-11 15:50] CapKenR commented on #4469
I would suggest updating the documentation to reflect the need to comment out the Knative applications if you already have Knative installed.

[2019-12-11 17:40] jlewi commented on #3709
kubeflow/community#308 to setup a process for moving design docs into the shared g-drive.

[2019-12-11 17:50] barambani commented on #4546
I also managed to use a managed solution as Pipelines db. In my case I used env variable (this works nicely with the secrets that need to be used for the credentials). I used Aurora (but shouldn't be different for other RDS types. I wrote a customization like
[code]
where `my-secret` is clearly a secret in Secret Manager that provides those keys and `my-config-map` is a Config Map that provides sp

[2019-12-11 18:10] barambani commented on #4536
I think this can be solved by the swagger client (to verify). Adding related conversations as ref https://github.com/kubeflow/kubeflow/issues/3450

[2019-12-11 21:32] #3972 closed

[2019-12-11 22:02] jtfogarty opened #4560 "kfctl is not correctly evaluating repos.uri when using file://"
/kind bug

I'm attempting to install a private 0.7 cluster in a GCP project that requires access to the internet through our corporate proxy.  This is very similar to an On-Prem installation.  I downloaded the following;

[code]

I modified `kfctl_gcp_basic_auth.0.7.0.yaml` and changed the repos: to reflect the below;

[code]

This returned the error:

[code]

I expected kfctl to file the tar.gz f

[2019-12-11 22:13] jtfogarty opened #4561 "kfctl is not expecting all subdirectories in manifest tar file"
/kind bug

After the steps in #4560 with the fix, I was able to run but with the below error;

[code]
the issue is that the gcp directory is not under `/home/jeff_fogarty_usbank_com/.cache/manifests`
but under
`home/jeff_fogarty_usbank_com/.cache/manifests/manifests-c0e81bedec9a4df8acf568cc5ccacc4bc05a3b38`

I expected the proper path to be found

**Environment:**
- Kubeflow version: 0.7.0
- kfctl

[2019-12-12 07:57] descampsk commented on #4546
Wow 👍
But I don't understand how you managed to use ENV variables to define the Mysql configuration.
Do you use a custom docker image of api-server ?
Because in the code of api-server (master version) (https://github.com/kubeflow/pipelines/blob/master/backend/src/apiserver/client_manager.go), you don't have any env variables :

[code]

One other question, what do you use to allow k8s pods to acces

[2019-12-12 09:37] Atreus-Technologies opened #4562 "kfctl_k8s_istio metadata deployments missing namespace reference"
/kind bug

**What happened:**

The `kfctl_k8s_istio.0.7.0.yaml` build, installed via `kfctl` does not appear adjust the namespaces in the metadata deployment's command. Deploying into a namespace other than `kubeflow` causes problems.

NB: This applies to both the grpc-server deployment as well as the other deployment (helpfully called 'deployment' in the same file).

**What did you expect to happ

[2019-12-12 12:00] barambani commented on #4546
No I didn't change the image. The above is the only kustomization to the 0.7 manifest. About the env variables, not a go expert here, but it should be due to the way `Viper` works in `AutomaticEnv` mode. See [here](https://github.com/kubeflow/pipelines/blob/e697acec814b140d7b39c56033e8ba0a8d32b738/backend/src/apiserver/main.go#L217), [here](https://github.com/kubeflow/pipelines/blob/e697acec814b14

[2019-12-12 12:34] yanniszark commented on #4540
Hi all.
I believe you are hitting this issue: https://github.com/arrikto/oidc-authservice/issues/2
This has been fixed in a later version, which is now being merged into v0.7.
https://github.com/kubeflow/manifests/pull/639

The temporary solution is to delete the authservice pod, which will unblock it.
The permanent solution is to update the authservice image.

[2019-12-12 13:44] descampsk commented on #4546
Thanks a lot ! Much better way to proceed ! I just use a simple Kubernetes secret to store this env variables but at least the credentials are not in a plain config file.

I will put additionnal information on the pull request. There are some env variables to use to configure it.

[2019-12-12 13:51] barambani commented on #4546
Brilliant, thanks a lot.

[2019-12-12 17:04] cwbeitel opened #4564 "Custom domain docs reference file that is not present"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

In at least the 0.7.0 documentation section on deploying on GKE with a custom domain (https://www.kubeflow.org/docs/gke/custom-domain/), the following instruction does not match the files present i.e. there are no files "iap-ingress.yaml" or "cloud-endpoints.yaml" at ${KF_DIR}/kustomize

[2019-12-12 18:42] gaoning777 opened #4565 "Support admin contributor management for all namespaces"
/kind feature

**Why you need this feature:**
The admin currently can only see the contributors in namespaces that they own not all namespaces. As the cluster admin, it is expected that admin can manage the contributors in all namespaces.

**Describe the solution you'd like:**
In the central dashboard, display the contributors in all namespaces and support adding/deleting for admin.

**Anything el

[2019-12-12 18:59] crobby opened #4566 "Jupyter notebook launch in kubeflow-created profile/namespace fails on Openshift 4.x"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Tried launching a Jupyter notebook in a profile created by kubeflow

**What did you expect to happen:**
The notebook pod shout start

**Anything else you would like to add:**
It looks like kubeflow profiles add a label to the profile/namespace of "istio-injection: enabled", which eventua

[2019-12-12 22:16] supertetelman opened #4567 "Display available system resources and namespace quotas to end users"
/kind feature

I works with data scientists who like to run relatively large workloads. Depending on which Kubeflow instance they are running on the nodes will have different maximum hardware availability (i.e. the largest GPU node might have 2 GPUs and a 4 GPU job will never execute, but it would execute in a different cluster). Similarly, if quotas/limits have been set for a namespace the data s

[2019-12-12 22:51] gabrielwen commented on #4561
/cc @zhenghuiwang
for oncall

[2019-12-12 22:51] gabrielwen commented on #4560
/cc @zhenghuiwang
for oncall

[2019-12-13 05:31] Bobgy opened #4569 "Dashboard's contributors section doesn't show all the namespaces I own"
/kind bug

**What steps did you take and what happened:**
1. I set up a Kubeflow 0.7 cluster and get a `gongyuan` namespace.
2. I created a profile `demo` which also marks me as the owner.
3. However, in dashboard contributors section, it only shows me as owner for demo namespace, not gongyuan namespace.
![UI bug preview](https://user-images.githubusercontent.com/4957653/70771517-57a17180-1dac-11e

[2019-12-13 05:32] Bobgy commented on #4569
Actually, I'm not sure if Kubeflow intended to support one user being owner of multiple namespaces. Is that the case?

/cc @kunmingg

[2019-12-13 05:33] Bobgy commented on #4569
In addition to UI support, documentation about how to grant contributor through SDK/CLI would also mitigate the issue.

[2019-12-13 06:26] animeshsingh opened #4570 "Kubeflow should allow deployment and management through Operator(s)"
/kind feature

**Why you need this feature:**
Operators help deploy, monitor and manage the lifecycle of applications deployed on Kubernetes.  And OpenShift. Especially from OpenShift Container Platform 4.1 and onward, with the Operator Lifecycle Manager being installed by default, it just takes several clicks to install an operator and managed applications. Operators can be published to operatorh

[2019-12-13 06:26] animeshsingh commented on #4570
/assign @jlewi

[2019-12-13 10:18] plaffitte opened #4571 "Can't deploy tf job to kubernetes cluster: "No match for kind TFJob""
/kind bug

**What steps did you take and what happened:**
I ran the command `kubectl apply -f test.yaml`
Where test.yaml is taking from the examples in the doc and looks like this:

`apiVersion: kubeflow.org/v1
kind: TFJob
metadata:
  generateName: tfjob
  namespace: kubeflow
spec:
  tfReplicaSpecs:
    PS:
      replicas: 1
      restartPolicy: OnFailure
      template:
        spec:
          co

[2019-12-13 10:31] aleb commented on #4540
I deleted the pod, but I still get 403:

[code]

I also tried to delete the gateway, but still the same:

[code]

Is there an option to set a more verbose log level on this gateway?

[2019-12-13 10:34] aleb commented on #4540
If I recreate the cluster will that include the latest 0.7 including the kubeflow/manifests#639 fix?

[2019-12-13 10:39] y4roslav commented on #4540
@aleb I applied fix recommended by @yanniszark https://github.com/arrikto/oidc-authservice/issues/2 and looks like it woks. To check that your build would work check you kustromize files. Both should contain this lines:

istio/oidc-authservice/base/deployment.yaml

[code]

and major one `istio/oidc-authservice/base/kustomization.yaml` should have tag `newTag: 28c59ef` instead  `6ac9400`

It works

[2019-12-13 10:54] sid027 opened #4572 "Using GPU for 1 component of the pipeline"
I would like to use GPU for the `training` step of my kubeflow pipeline.

![image](https://user-images.githubusercontent.com/7779466/70794636-5d905600-1d9e-11ea-99ca-99b30baa9d5f.png)

I create a containerOP for this component `train = dsl.ContainerOp(
        name="training",
        image=train_image
    )`
then `train.set_gpu_limit("1")`

*Note: I use GCP*

**Question:**
I can see that the kube

[2019-12-13 11:43] sid027 commented on #4183
@Akashdesarda can you give a bit more detail about where and how you put the docker-secret?
I am having similar issues but only when using GPU nodes on Kubeflow. see #4572

[2019-12-13 13:47] aleb commented on #4540
Until https://www.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto is updated to point to an updated yaml, I'll use the workaround. It was not enough to delete the pod, I had to do it like this:

[code]

[2019-12-13 18:23] jlewi commented on #3974
@UrmsOne @kimwnasptd @lluunn Do we know if this has been fixed in 0.7?

[2019-12-13 18:49] jlewi commented on #3722
@yeya24 thank you; any chance you could curl the endpoint for a 0.7 notebook controller and then just paste the output into this issue. This way we can verify that its been fixed in 0.7 and see what metrics are exposed.

[2019-12-13 19:10] jlewi commented on #3804
@y2kenny this issue is closed; I would suggest opening a new issue or reopening if you think there is more to discuss. I'm not sure what the issue would be; i.e. if AMD GPUs are supported in Kubernetes then it should be able to attach them to pods and code should be able to use them. So what would be the feature ask/work for Kubeflow?

[2019-12-13 19:28] supertetelman commented on #3838
I was just about to open the same issue using ubeflow version v7.0.0

**Why:**
I have worked with a lot of team members who want to use off the shelf Docker images from AWS, GCP, NGC, etc. Many of these containers contain DL frameworks they would really like to use, but don't run Jupyter by default.

It is possible to get this working with custom Dockerfile, but many of them don't want to push up

[2019-12-13 19:48] kunmingg commented on #4569
By default user can only be owner of one namespace:
* Normal users don't have permission to create profile, only admin can assign multiple namespaces.
* Kubeflow UI only show `register` page when the user doesn't own any namespace. So user only register once and get one namespace.

[2019-12-13 20:29] yeya24 commented on #3722
@jlewi  I am not sure whether 0.7.0 release includes this feature or not. But I build the master branch and it worked well

[2019-12-13 20:32] supertetelman opened #4573 "Clone Interactive Jupyter Notbook"
/kind feature

**Issue**
Many times when I deploy a notebook I would like to deploy another one that is similar. Sometimes this is because the one I launched had an error, sometimes I want more/less resources, and sometimes I would like to bump the version of the Docker image.

**Recommendation**
I would like to see a clone notebook button on the Notebooks page that pre-populates the create notebo

[2019-12-14 00:13] jlewi commented on #4570
Thanks; I left some comments in the doc.

[2019-12-14 00:13] jlewi commented on #4570
@animeshsingh is there code publicly available already if so can you share a link?

[2019-12-14 00:18] zhenghuiwang commented on #4560
@jtfogarty the general schema of URL is
[code]
based on Golang URL representation https://golang.org/pkg/net/url/#URL

If you have `//`, then the first part after `//` is treated as host name and get removed.(That's why redundant`/home/home` works)

Right path would be `file:/home/jeff_fogarty_usbank_com/c0e81bedec9a4df8acf568cc5ccacc4bc05a3b38.tar.gz`

[2019-12-14 00:32] zhenghuiwang commented on #4561
I was able to reproduce it. Seems the `.cache` doesn't use the same manifest file name as set in the `manifest.name` consistently.

@gabrielwen @kkasravi can you take a look?

[2019-12-14 00:32] zhenghuiwang commented on #4560
Feel free to reopen it if you still see problems.

[2019-12-14 00:32] #4560 closed

[2019-12-14 20:10] #4540 closed

[2019-12-14 20:50] ChethanUK opened #4574 "Unable to add contributors to namespace"
/kind bug

**What steps did you take and what happened:**
Kubeflow is not allowing to add contributors to namespace.
![Img1](https://i.imgur.com/AM0kOlt.png)
![Img2](https://i.imgur.com/JPTmPLX.png)

**What did you expect to happen:**
Contributors like 'whatevername@mail.com' get added to my namespace..

**Environment:**

- Kubeflow version: 0.7
- Kubernetes platform: GKE

[2019-12-15 00:13] #3847 closed

[2019-12-15 00:13] #3685 closed

[2019-12-15 14:13] #4036 closed

[2019-12-15 14:13] #4028 closed

[2019-12-15 22:30] #3797 closed

[2019-12-15 22:30] #3540 closed

[2019-12-15 22:30] #3543 closed

[2019-12-15 22:30] #3450 closed

[2019-12-16 10:49] seanlin1326 opened #4575 "a problem for jupyterhub account management"
I am a beginer for manage account  by jupyterhub
I have to manage 62 acount for  62 student for a ai lesson
to do that I have to spawn 62 account server
this is a hard job
![P_20191216_142513_vHDR_Auto](https://user-images.githubusercontent.com/58818014/70899972-c4c63880-2032-11ea-89cc-f62d374b644f.jpg)

<img width="849" alt="問題github " src="https://user-images.githubusercontent.com/58818014/70899

[2019-12-16 13:58] jlewi commented on #4527
Thanks @lluunn should we update the instructions
https://www.kubeflow.org/docs/gke/private-clusters/

Can we add a banner to the page similar to the one on the upgrade page indicating that upgrades are
alpha support?
https://github.com/kubeflow/website/blob/master/content/docs/upgrading/upgrade.md

Related: kubeflow/kubeflow#3082 - Document use of shared VPC

[2019-12-16 14:15] jlewi commented on #3907
@swiftdiaries any update?

[2019-12-16 14:30] #1409 closed

[2019-12-16 14:30] yeya24 commented on #4571
Seems the TFJob CRD is not installed.

[2019-12-16 15:18] amygdala commented on #3848
updating the bug to make sure this has been done, before it's automatically closed (IIRC the lib name has changed, however)

[2019-12-16 15:33] jetbasrawi opened #4576 "[GCP] CLI Deployment fails after using kfctl delete. Backend unhealthy"
/kind bug

kfctl delete, soft deletes -vm, -admin, -user service accounts. Does not recreate these accounts or change them to undeleted. They remain prefixes with "deleted:serviceAccount:" Subsequent deployment results in unhealthy backend due to permissions error.

** steps **

1) Followed the instructions for CLI deployment to GCP.
`` kfctl apply -V -f  ${CONFIG_FILE} ``

2) Used kfctl delete
``

[2019-12-16 16:21] #4104 closed

[2019-12-16 17:00] plaffitte commented on #4571
@yeya24 Yes that was the issue... Thanks

[2019-12-16 17:00] #4571 closed

[2019-12-16 17:03] jlewi commented on #3861
@blublinsky is this fixed by kubeflow/manifests#612 ?

[2019-12-16 17:06] blublinsky commented on #3861
Yes
Boris Lublinsky
FDP Architect
boris.lublinsky@lightbend.com
https://www.lightbend.com/

[2019-12-16 17:13] jlewi commented on #3974
It looks like the cluster domain is still hard coded.
https://github.com/kubeflow/kubeflow/blob/183919dccbe1e5c77aece17fd5064992383dddb6/components/notebook-controller/controllers/notebook_controller.go#L373

So it looks like we need to expose it via a command line flag or environment variable.

[2019-12-16 17:14] jlewi commented on #3838
@kimwnasptd any update?

[2019-12-16 17:18] jlewi commented on #4428
Closing this issue due to lack of activity.

[2019-12-16 17:18] #4428 closed

[2019-12-16 17:21] jlewi commented on #4566
@animeshsingh @pdmack do you have someone who could look into this?

[2019-12-16 17:23] jlewi commented on #4573
Downgrading to P2 because I don't think this is critical for 1.0.

[2019-12-16 17:24] jlewi commented on #4288
@kimwnasptd do you think this will land in time for 1.0?

[2019-12-16 17:25] jlewi commented on #4273
@kimwnasptd @avdaredevil Could you please clarify what the needed work is here and who will be doing it?

[2019-12-16 17:28] jlewi commented on #4164
@lluunn should we attempt to do this for 1.0? Can we afford to downgrade to P2 and wait until we have to API changes before we implement this?

If this requires 1.15+ then it wouldn't even work yet with the KF versions we are testing on.

[2019-12-16 17:29] jlewi commented on #4069
@kimwnasptd Does the jupyter web app already have a suitable endpoint for liveness and readiness checks or do we have to add one?

[2019-12-16 17:31] #3861 closed

[2019-12-16 17:33] jlewi commented on #3851
Closing this in favor of #3863 which accounts for the remaining work still to be done.

[2019-12-16 17:33] #3851 closed

[2019-12-16 17:39] jlewi commented on #1394
@kimwnasptd  Could you provide an update on this specifically what do you think the 1.0 behavior will be?

[2019-12-16 17:50] pdmack commented on #4566
#3935

[2019-12-16 18:20] gaoning777 opened #4578 "Central dashboard validate the user permission when the URL is directly edited by the users"
/kind feature

**Why you need this feature:**
When users directly modify the URL and change the namespace to ones that they are not authorized, the central dashboard displays the page without warning.

**Describe the solution you'd like:**
When users directly modify the URL and change the namespace to ones that they are not authorized, the central dashboard displays a warning window about the auth

[2019-12-16 18:20] gaoning777 commented on #4578
/cc @avdaredevil

[2019-12-16 18:59] zhenghuiwang opened #4579 "Add licenses for dependencies in TF operator images"
Related to https://github.com/kubeflow/testing/issues/539

Need to add all license content for thrid-party dependencies in TF operator images.

[2019-12-16 19:19] zhenghuiwang commented on #4579
/cc @richardsliu

[2019-12-16 19:20] zhenghuiwang opened #4580 "Add licenses for dependencies in Central Dashboard images"
Related to kubeflow/testing#539

Need to add all license content for thrid-party dependencies in central dashboard images.

[2019-12-16 19:21] zhenghuiwang commented on #4580
/cc @avdaredevil @kunmingg

[2019-12-16 19:25] zhenghuiwang opened #4581 "Add licenses for dependencies in Notebook Controller images"
Related to kubeflow/testing#539

Need to add all license content for thrid-party dependencies in Notebook controller images.

[2019-12-16 19:25] zhenghuiwang commented on #4581
/cc @lluunn

[2019-12-16 19:40] animeshsingh commented on #4566
@jlewi will look into it

[2019-12-16 19:49] lluunn opened #4582 "notebook controller and tensorboard controller doesn't build"
/kind bug

**What steps did you take and what happened:**
both cannot find `github.com/kubeflow/kubeflow/components/common/reconcilehelper`
Should be related to https://github.com/kubeflow/kubeflow/pull/4312

https://github.com/kubeflow/kubeflow/pull/4214#issuecomment-566035507

cc @kimwnasptd @abhi-g

[2019-12-16 20:36] #3728 closed

[2019-12-16 21:31] lluunn commented on #4582
cc @quanjielin

[2019-12-16 21:44] lluunn commented on #4164
We can wait until we need to change API

[2019-12-16 22:23] gabrielwen commented on #4561
the root cause is because when URI is `file:/`, we assume it points to a directory and have symlink to it.  it's not true when URI is a file, in which we will extract it to a new directory.

[2019-12-17 00:01] kunmingg commented on #4580
@avdaredevil
Hi AP, do you have time to pick it up? Otherwise I can take care.

[2019-12-17 02:03] #4561 closed

[2019-12-17 03:47] fedeesku opened #4584 "Pulling images from private google container registry with kubeflow on minikube."
We are having trouble giving a container within a pipeline uploaded to Kubeflow access to a private custom docker image stored in a google container registry. We are running the default kubeflow on top of a kubernetes cluster run on minikube. Can someone help us understand how to add the access token/service account to the Kubeflow deployment? We have read a couple of docs that achieve this on a c

[2019-12-17 07:55] TomomasaTakatori opened #4585 "String Time Format is something wrong in recurring run details."
# The point

https://github.com/kubeflow/pipelines/blob/4a8d262abbfe44129f40e60a043157547e219a1a/frontend/src/lib/TriggerUtils.ts#L207

# Problem
If 1 month is set, the function seems to return " 1 month, and 2 days".

I think below snippet works well.
[code]

[2019-12-17 12:28] UrmsOne commented on #3974
@jlewi Sorry, I have been busy with my graduation project recently, which delayed to fix this bug.

I will try my best to fix this bug by providing a command line flag or environment variable，

and submit the PR within this week.

[2019-12-17 14:53] kimwnasptd commented on #4069
No, will need to add them for these checks

[2019-12-17 14:53] kimwnasptd commented on #4069
/assign kimwnasptd

[2019-12-17 14:54] kimwnasptd commented on #4288
Yes, I'll try to start working on it by the end of the week.
It will need at most two days.

[2019-12-17 14:56] kimwnasptd commented on #4273
From the JWA part I will change the text from `Namespace` -> `Please select a Namespace from above` in the form input field.

[2019-12-17 15:11] kimwnasptd commented on #1394
Sure! For 1.0 I was thinking to have 2-3 `PodDefaults` that will represent different culling behaviors. The user will then be able to select witch one of them they want to apply to a new Notebook that they create.

By default JWA won't have any `PodDefaults` preselected (although the admin can change that in JWA's ConfigMap). This way new Notebooks will not be culled, unless the user explicitly re

[2019-12-17 15:32] kimwnasptd commented on #3838
I'll start working on a PR for it right after #4288 in order to group together the work of extending JWA' form fields.

[2019-12-17 18:18] krishnadurai commented on #3096
/remove-lifecycle stale

[2019-12-17 19:33] sarjeet2013 opened #4586 "profiles-deployment pod failing due to missing Istio CRD on a non-Istio cluster"
/kind bug

**What steps did you take and what happened:**
Trying to run kubeflow on an on-prem cluster without Istio and seeing profiles-deployment failing with the istio crd missing.

**What did you expect to happen:**
profiles-deployment pod come up fine

**Anything else you would like to add:**
Here is the pod logs for the profiles-deployment logs:
[code]

**Environment:**

- Kubeflow version:

[2019-12-17 19:48] sarjeet2013 commented on #4586
The similar issue for seldon-operator-controller-manager pod as well.

[code]

[2019-12-18 00:35] lluunn opened #4587 "Add presubmit test for notebook controller"
/kind feature

**Why you need this feature:**
We should have a test to make sure that when we touch components/notebook-controller, it can still build.

Right now, the build is broken: #4582

[2019-12-18 23:09] #2981 closed

[2019-12-19 08:47] gyliu513 commented on #3706
/reopen

I was thinking we can leverage the meta-operator for this https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/operator-framework/3AYitLcQ9Bg/teV_0dL0CAAJ

1) Convert all components in Kubeflow to operators
2) Create an overall kubeflow operator to manage all of the sub operators in Kubeflow, like kfserving, pipeline etc.

FYI @jlewi @animeshsingh @hougangliu @jinchihe

[2019-12-19 08:47] descampsk commented on #3773
With this PR https://github.com/kubeflow/pipelines/pull/1906, we are able to use S3 and Tensorboard.

It need to use AWS_REGION and  AWS_LOG_LEVEL=3 env variables (see https://github.com/tensorflow/tensorflow/issues/21898)

However

The viewer controller is now supposed to clean older viewers pods but there is a bug I reported here:
https://github.com/kubeflow/pipelines/issues/2757

[2019-12-19 14:14] yanniszark opened #4588 "Profile Plugins: A property of the Profile CRD or the controller?"
/kind bug

While working a bit on the profile-controller and the new plugin model, we realized that Plugins should be a property of the profile-controller and not of the individual Profile.

Consider what happens now:
1. Plain Profile is created by KFAM.
2. Profile-controller patches the spec of the Profile with the plugins that are enabled in the controller.

We observe the following antipatterns

[2019-12-19 20:46] #3897 closed

[2019-12-20 00:34] DontWorry33 commented on #4584
You could try setting the image pull secret. The way I've been doing it is by adding this to my pipeline:

`dsl.get_pipeline_conf().set_image_pull_secrets([client.V1LocalObjectReference(name="regcred")])`

where client is the kubernetes client and regcred is the kubernetes secret created like this:

`kubectl create secret docker-registry regcred --docker-server=<your-registry-server> --docker-user

[2019-12-20 01:50] elviraux opened #4589 "Improving Security on Kubeflow"
In the past year we’ve been seeing an increasing demand in Kubeflow security.
This issue aims to cover following topics:

- [ ] Vulnerability image scanning and report #3907

- [ ] Create a common base image for Kubeflow - possible distroless for operator images. #4590

- [ ] Reduce the size of images

- [ ] Documentation

- [ ] Propose maturity framework for applications going v1.0 with respect t

[2019-12-20 01:52] elviraux commented on #4589
@krishnadurai @swiftdiaries @jlewi

[2019-12-20 02:43] krishnadurai opened #4590 "Convert all Kubeflow Container images to use distroless image as its base image"
/kind feature

**Why you need this feature:**
The current images being used by Kubeflow include:

- Alpine: Known inconsistency in security practices
- RHEL: UBI based images have license concerns
- Debian: Jessie is EOL in 2020
- Ubuntu: Not many concerns

**Describe the solution you'd like:**

A good way to approach this problem is to have a common base image with no known CVEs pre-installed to

[2019-12-20 02:44] krishnadurai commented on #4590
/assign
/priority p1
/area security

[2019-12-20 05:06] nrchakradhar commented on #4590
@krishnadurai
How about using centos base image for all?
https://hub.docker.com/_/centos

[2019-12-20 06:42] md-shabbir opened #4591 "Environment variable TF_CONFIG is not set in the job's pod for non distributed tfjob."
/kind bug

In kubeflow 0.7, Env **TF_CONFIG** is **not** set in the job's pod for non distributed tfjobs. However in kubeflow 0.6, it was set for both distributed and non distributed tfjobs.

I am not sure it is a kind of bug or it was done intentionally.

**Environment:**

- Kubeflow version: 0.7.0
- kfctl version: v0.7.0
- Kubernetes version: v1.15.3
- OS: Ubuntu 18.04.3 LTS (Bionic Beaver)

[2019-12-20 10:26] md-shabbir opened #4592 "Kubeflow v0.7.0 kfctl show is not working; make show a beta/alpha command"
/kind bug

**What steps did you take and what happened:**

Ran following commands to generate and see kubeflow application
[code]
Command ```kfctl show``` is failing.

**What did you expect to happen:**

```kfctl show``` should create yaml manifests of kubeflow application.

**Environment:**

- Kubeflow version: 0.7.0
- kfctl version: 0.7.0
- Kubernetes version: v1.15.3
- OS: Ubuntu 18.04.3 LTS (B

[2019-12-20 13:12] thetume commented on #4549
We ran into this issue as well. We have an existing kubernetes cluster with some custom services. After kubeflow installation (Multi-user, auth-enabled Kubeflow with kfctl_existing_arrikto) everything is routed to Dex. This is definitely problematic issue with multi tenant setup. For now we can work around it with whitelisting paths to SKIP_AUTH_URI, but in the long run that will be hard to mainta

[2019-12-20 16:33] martham93 commented on #2573
Hello, I have a follow up question that's related to this issue. How do a configure my ml-node pool to have CUDA 10? Currently I believe it has CUDA 10.1, because after running ` kubectl exec -it  poi-experiment13-fxjsmbfx-pvr8m nvidia-smi` I get:

[code]

After creating the ml-node pool I ran `kubectl apply -f https://raw.githubusercontent.com/GoogleCloudPlatform/container-engine-accelerators/mas

[2019-12-20 20:28] sarjeet2013 commented on #3963
I had recently opened a different issue for istio dependency on the kubeflow components: https://github.com/kubeflow/kubeflow/issues/4586

Is there a guideline or docs on how to install kubeflow without istio (and way to enable auth and ingress for non-istio solutions).

We should probably reopen this issue since this is being missing in current kubeflow docs. cc @jlewi

[2019-12-20 20:40] justrohan commented on #4205
I used version 0.70, it went smoothly and I didn't experience theses errors again. Thank You!

[2019-12-21 01:17] krishnadurai commented on #4590
@nrchakradhar Thanks for suggesting. I'm exploring distro-less images right now since they might not contain the additional weight of the OS.

[2019-12-21 01:25] krishnadurai opened #4594 "Eliminating unnecessary artefacts in container images used by Kubeflow"
/kind feature

**Why you need this feature:**
Some of the Kubeflow images, for e.g. Metadata:v0.1.10, contain bazel build software, git repos etc. We need to reduce the size of images by stripping off unnecessary layers in images and artefacts generated.

Release: v0.7.0

Relates to Issue: #4589

/assign
/cc @elviraux @swiftdiaries

[2019-12-21 01:26] krishnadurai commented on #4594
/priority p1
/area security

[2019-12-21 04:28] #4080 closed

[2019-12-21 04:28] #4030 closed

[2019-12-21 04:28] #3035 closed

[2019-12-21 04:28] #3073 closed

[2019-12-21 04:28] #3112 closed

[2019-12-21 04:28] #3162 closed

[2019-12-21 05:28] #3406 closed

[2019-12-21 05:28] #3411 closed

[2019-12-21 05:28] #3854 closed

[2019-12-21 05:28] #4010 closed

[2019-12-21 07:49] irvifa commented on #4514
@yeya24 Hi, thanks. However I'd like to highlight more on the part of standardizations of creating a plugin for the metrics, besides the prometheus itself.

[2019-12-21 22:28] #3873 closed

[2019-12-21 22:28] #3869 closed

[2019-12-22 14:10] o-vexler opened #4596 "Jupyter Terminal Multiple Issues"
/kind bug

Hi guys! :)

**What steps did you take and what happened:**
The terminal feature in the Jupyter that is deployed with Kubeflow seems to not function properly- no auto-completion (tab), no up arrow (gibberish letters appear), no clear screen.

**What did you expect to happen:**
I actually checked that with a Jupyter version that I have deployed in GCP (unrelated to Kubeflow), and everyth

[2019-12-22 20:19] subrnath commented on #4541
I am also facing the same issue. Any update on this?

[2019-12-23 06:31] #3357 closed

[2019-12-23 07:34] jazzsir commented on #4541
@subrnath the problem was caused by hdd's poor read/write speed, after replacing it with ssd, it was resolved.
I wish it would help you.

[2019-12-23 12:22] Akashdesarda commented on #4183
kubectl --namespace=kubeflow create secret docker-registry $SECRETNAME \
--docker-server=https://gcr.io \
--docker-username=_json_key \
--docker-email=user@example.com \
--docker-password="$(cat ./service_account.json.json)"
**username should be _json_key**

[2019-12-23 22:31] #3409 closed

[2019-12-24 02:32] davidstack opened #4597 "is there any version info about kubeflow and kubernetes?"
/kind question

**Question:**
[You can ask any question about this project.]
we know kubernetes upgrade its version quickly, is there any record about kubeflow version and kubernetes version. which version of k8s should match the version of kubeflow ？

[2019-12-24 02:46] davidstack commented on #4597
got it  https://www.kubeflow.org/docs/started/k8s/overview/#minimum-system-requirements

[2019-12-24 02:46] #4597 closed

[2019-12-24 03:11] #4107 closed

[2019-12-24 03:11] #3606 closed

[2019-12-24 03:11] #3604 closed

[2019-12-24 03:11] #3586 closed

[2019-12-24 03:11] #3552 closed

[2019-12-24 07:11] #3549 closed

[2019-12-24 08:41] Bobgy opened #4598 "Central-dashboard doesn't sync iframe url to document when navigation happens programmatically"
/kind bug

This is a corner case of https://github.com/kubeflow/kubeflow/issues/3042

**What steps did you take and what happened:**
1. Use pipelines UI
2. Clone an existing run
3. It goes to experiment page with run list
4. Refresh page

Bug: it goes back to clone run page
Expected: it should stay in experiment page

**Anything else you would like to add:**
Env: in kubeflow deployment (I verified

[2019-12-24 08:41] Bobgy commented on #4598
/area centraldashboard
/assign @prodonjs
/assign @avdaredevil

[2019-12-24 10:04] Luke035 opened #4599 "Centraldashboard: unable to contact Profile Controller"
/kind bug

**What steps did you take and what happened:**
I had to delete a preexisting KUBEFLOW cluster and then re-install it (kfctl delete and then reapply). Before re-apply I also verified that namespace was correctly deleted (in some attempts I had to manually finalize the deletion), but I had to manually delete CRD every time.
After re-application, everything has been run smoothly
[code]
But

[2019-12-24 10:36] Luke035 commented on #4599
UPDATE: after some debug I realized that istio-egressgateway wasn't healthy (the node was unhealthy itself). After restarting egressgateway, I managed to do a step forward.
I created the namespace (ai-dev-2) and I get the following error:
[code]

I manually authorized the user with a dedicated clusterrole binding, and the error disappeared, but I still get a `Sorry, /jupyter/ is not a valid page`

[2019-12-24 14:11] #4138 closed

[2019-12-24 14:37] yanniszark commented on #4088
/reopen
/remove-lifecycle stale
/lifecycle frozen

[2019-12-24 14:39] yanniszark commented on #4066
/reopen
/remove-lifecycle stale
/lifecycle frozen

/cc @lluunn any updates on this?

[2019-12-24 14:40] yanniszark commented on #4087
/reopen
/remove-lifecycle stale
/lifecycle frozen

[2019-12-24 14:40] yanniszark commented on #4064
/reopen
/remove-lifecycle stale
/lifecycle frozen

[2019-12-24 14:42] yanniszark commented on #4067
/reopen
/remove-lifecycle stale
/lifecycle frozen

[2019-12-24 14:43] yanniszark commented on #4099
/reopen
/remove-lifecycle stale
/lifecycle frozen

/cc @kunmingg any updates on this?

[2019-12-24 14:43] yanniszark commented on #4076
/remove-lifecycle stale
/lifecycle frozen

[2019-12-24 14:44] yanniszark commented on #4079
/remove-lifecycle stale
/lifecycle frozen

[2019-12-24 14:44] yanniszark commented on #4062
/remove-lifecycle stale
/lifecycle frozen

[2019-12-24 14:45] yanniszark commented on #4068
/remove-lifecycle stale
/lifecycle frozen

[2019-12-24 14:45] yanniszark commented on #4060
/remove-lifecycle stale
/lifecycle frozen

[2019-12-24 14:58] yanniszark commented on #4586
@sarjeet2013 we need the Istio CRDs to express the new route to access the created Notebook from the Gateway.
In the future, if there is a universal way to express that (eg the [Service Mesh Interface](https://smi-spec.io/) effort), we will use that.

Until then, we use Istio CRDs since Istio is our default Service Mesh.
If you want to use a different Service Mesh, you could make a controller that

[2019-12-25 00:11] jlewi commented on #4592
@gabrielwen @kkasravi was show ever implemented? Should we remove the command?

[2019-12-25 04:00] #4085 closed

[2019-12-25 06:00] #3092 closed

[2019-12-25 07:00] #4113 closed

[2019-12-25 08:00] #3832 closed

[2019-12-25 11:30] yanniszark commented on #3490
/reopen
/remove-lifecycle stale
/lifecycle frozen

@kkasravi @gabrielwen any updates on this?

[2019-12-25 14:13] jazzsir opened #4600 "Unable to apply a insecure registry for fairing"
/kind bug

**What steps did you take and what happened:**

To apply a private registry (self-signed), I pursued procedures below, but as No.8 I got some errors.
1. Deployed a registry with basic authentication on the node where k8s deployed
2. Added the self-signed certificate to the node's trusted CA repository.
   : update-ca-certificates
3. Logged in the registry
4. Created and patched a secret

[2019-12-25 17:00] #3336 closed

[2019-12-26 01:00] #4035 closed

[2019-12-26 01:00] #3791 closed

[2019-12-26 02:00] #3361 closed

[2019-12-26 02:02] VasiliShi commented on #4509
i meet the same quesdtion ,do you have solved this problem?

[2019-12-26 02:08] cleveryg commented on #4509
yes，apiserver add MutatingAdmissionWebhook,ValidatingAdmissionWebhook

[2019-12-26 02:13] VasiliShi commented on #4509
听的不太懂，能说的具体点么？

[2019-12-26 02:25] cleveryg commented on #4509
kube-apiserver 配置里面添加MutatingAdmissionWebhook,ValidatingAdmissionWebhook 这2个配置

[2019-12-26 05:17] #3526 closed

[2019-12-26 06:17] #4094 closed

[2019-12-26 07:23] wangzy0327 opened #4601 "_container_op.py function add_env_from type is V1EnvFromSource or V1EnvVarSource"
Pod xxx is invalid: spec.containers[0].envFrom: Invalid value: "": must specify one of: `configMapRef` or `secretRef`

[2019-12-26 07:31] wangzy0327 opened #4602 "class ContainerOp(BaseOp):def container(self): no parent() function"
@property
--
  | def container(self):
  | """`Container` object that represents the `container` property in
  | `io.argoproj.workflow.v1alpha1.Template`. Can be used to update the
  | container configurations.
  |  
  | Example:
  | import kfp.dsl as dsl
  | from kubernetes.client.models import V1EnvVar
  |  
  | @dsl.pipeline(name='example_pipeline')
  | def immediate_value_pipeline():
  | op1 =

[2019-12-26 16:28] yanniszark commented on #4509
Should be fixed now that https://github.com/kubeflow/manifests/commit/7541db909a04ca71e19b5ee1e2b0f6adf704f7a4 is in v0.7 branch.

[2019-12-27 00:08] jlewi commented on #4601
/cc @jessiezcc @Ark-kun

[2019-12-27 00:16] jlewi commented on #4591
@johnugeorge @richardsliu do you know if this was intentional?

[2019-12-27 02:59] jamesthegiantpeach opened #4603 "RWX storage"
Is there a tool that could give me high performance RWX mounts for thousands of cores?

If doing sharded genomics you need thousands of cores to have read access to a reference genome. This read access would need to be optimized for random reads of an indexed fasta file.

I could potentially see using a good fuse mount for this (goofys?). I’ve tried AWS EFS, and the performance is very poor.

What

[2019-12-27 03:01] VasiliShi opened #4604 "Error: mysql_query failed: errno: 2006, error: MySQL server has gone away. Code: 13"
kubernetes:1.14.1
os:centos
kubeflow:0.7

the error located in home->pipeline->artifacts:
error message:Error: mysql_query failed: errno: 2006, error: MySQL server has gone away. Code: 13

[2019-12-27 03:21] johnugeorge commented on #4591
Yes. It was merged recently
See https://github.com/kubeflow/tf-operator/pull/1080

[2019-12-27 04:09] jamesthegiantpeach commented on #4603
I should clarify: for my specific use-case I only need readonlymany. I imagine having thousands of writers writing to a file will always suck.

[2019-12-27 04:49] #4603 closed

[2019-12-27 04:53] jlewi commented on #4604
/cc @jessiezcc

[2019-12-27 05:02] jlewi commented on #4591
Closing this as working as intended.

[2019-12-27 05:09] jlewi commented on #4588
@yanniszark Can you explain this issue with some examples?

Here's an example from GCP

[code]

So in this case the user who creates the profile is specifying what GCP service account to be used with the newly created profile.

Only the creator of the profile not the cluster admin knows what service account they want to use.

So how would the profile controller inject the plugin?

What are the use

[2019-12-27 05:10] jlewi commented on #4588
@yanniszark could you please give this issue a more descriptive title?

[2019-12-27 05:13] jlewi commented on #4600
It looks like you are using the append builder. Its possible the append builder is not compatible with your registry. You might want to try the kaniko builder.

[2019-12-27 12:59] kkasravi commented on #4592
It exists in coordinator which then tries to call any platform implementing Show - but none do.
So yes

[2019-12-28 01:46] #4063 closed

[2019-12-28 18:09] rky0930 opened #4607 "GKE Kubeflow google cloud SDK "ERROR: timed out""
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
1. Deploy Kubeflow 0.7 on GKE
2. Run a Pods(docker image google/cloud-sdk:273.0.0)
3. start to use google cloud SDK(gsutil)
4. gsutil and glcoud start to timeout **few hours later**

The timeout error does not occur initially, but begins to occur after a few hours.
Once it occurs, the ti

[2019-12-29 02:18] #3888 closed

[2019-12-29 11:48] manuelsh opened #4608 "Kubeflow GUI takes very long to be available, while ISTIO deployments fail"
**What steps did you take and what happened:**
I installed Kubeflow with Minikube in my Macbook Pro, following the instructions that starts in:
https://www.kubeflow.org/docs/started/workstation/getting-started-macos/

and then I run this self made script:
[code]
I cannot open the Kubeflow GUI when I run the following:
[code]
But if I wait for around 1 hour, then I can.

**What did you expect to ha

[2019-12-29 11:54] manuelsh commented on #4608
More info: under the `istio-pilot` deployment, the error reads:

[code]

[2019-12-29 20:24] jlewi commented on #4608
@manuelsh its not clear from your bug report whether this is a problem with Kubeflow. Slowness could just be a matter of minikube not having enough CPU and RAM.

If the issue is with ISTIO have you checked the ISTIO forums to see if others have reported similar problems with ISTIO and minikube?

Is the Kubeflow centraldashboard pod running? Are you able to connect to it via port-forwarding?

[2019-12-29 20:32] jlewi commented on #4607
@rky0930 this doesn't look like a Kubeflow issue but a GCP or GKE issue.

Do you observe the same behavior on non-Kubeflow GKE clusters? Can you reproduce the behavior on a GKE cluster at the same version (1.14) with workload identity enabled?

We've observed some problems in the past with workload identity see kubeflow/kfctl#48.
Can you run the command

[code]

To verify that the GKE metadata ser

[2019-12-29 21:28] jlewi commented on #4602
I'm closing this issue because the initial issue report isn't very descriptive. @wangzy0327 if you are still having trouble could you please reopen this and provide more explanation of the problem or feature you are requesting.

[2019-12-29 21:28] #4602 closed

[2019-12-29 21:34] manuelsh commented on #4608
Hey @jlewi thanks for your answer :-)

I don't think is a matter of slowness, as many ISTIO pods have crashed. I also understand your point that it may be an issue of Minikube or ISTIO, but in the end these are components that should work to make Kubeflow run. The problem may also be the integration of the three elements, Minikube, ISTIO and Kubeflow...

[2019-12-29 21:36] jlewi commented on #4599
@avdaredevil and @kimwnasptd any suggestions about how to debug the jupyter routing?

@Luke035 Are you able to port forward to the jupyter-web-app-deployment?

Can you check the virtual service for the jupyter-web-app and verify that a route for "/jupyter is defined?

[2019-12-30 02:54] bruce3557 commented on #4607
I got the same issue: https://github.com/kubeflow/pipelines/issues/2773

I think that is GKE's issue. The workload identity is unstable now

[2019-12-30 06:54] rky0930 commented on #4607
@jlewi Thanks for the answer.
All pods in kube-system is running status now.
[code]
And I checked liveness of gke-metadata-server, I seem unstatble
[code]

@bruce3557 Thanks for the answer.
Looks like the same issue. Did you find a solution?
Is binding the workload to a pipeline runner the solution?
I think I need to check more of the workload identity side.

[2019-12-30 06:55] rky0930 commented on #4607
@bruce3557 Thanks for the answer.
Looks like the same issue. Did you find a solution?
Is binding the workload to a pipeline runner the solution?
I think I need to check more of the workload identity side.

[2019-12-30 06:57] geoantony9 commented on #4423
Hey, @cyrilthank I also faced the same issue while I upgraded to 0.7 of the kubeflow version and 1.17 of Kubernetes version. I have patched the issue and the files regarding the same is put in my repo [https://github.com/geoantony9/kubeflow_patch_seldon] . This fix created worked for me. The issue was with the CRD file of seldonCore. Please do try this patch and let me know the result.

[2019-12-30 07:00] bruce3557 commented on #4607
@rky0930
Binding workload identity just solved the pipeline issue.
But about timeout issue, we need to wait for GCP fixing that.

[2019-12-30 14:13] #3530 closed

[2019-12-30 15:13] jlewi commented on #4607
@rky0930 can you provide the logs of the gke-metadata-server pods? You can use this script to fetch the logs.
https://github.com/jlewi/kubeflow-dev/blob/master/fetch_stackdriver_pod_logs.sh

[2019-12-30 15:15] jlewi commented on #4601
@wangzy0327  Could you provide more explanation on how we can reproduce this error?

[2019-12-30 16:21] #4591 closed

[2019-12-30 16:25] #4586 closed

[2019-12-30 16:26] jlewi commented on #4585
/cc @jessiezcc

[2019-12-30 16:28] jlewi commented on #4584
@fedeesku did that resolve the issue for you? You might also want to check out this doc from HeptIO
http://docs.heptio.com/content/private-registries/pr-gcr.html

[2019-12-30 21:20] louisvernon commented on #4607
We just filed a ticket with Google Support about this today. We see this problem on `1.15.4-gke.22` but not on `1.14.9-gke.2`. We are using workload identity.  The gke-metadata-server daemonset pods report:

[code]
We are able to at least temporarily resolve the issue by cycling the gke-metadata-server daemonset pods.

[2019-12-30 21:34] louisvernon commented on #4604
Related issue: https://github.com/kubeflow/metadata/issues/198

[2019-12-30 21:38] subrnath commented on #4541
Thanks jazzsir. As there is no ssd, i replaced the pvc with "storageClassName: manual" and  hostpath mount based pv. It's fixed the issue.

[2019-12-30 23:28] jlewi opened #4609 "Test issue for repo specific model predictions: jupyter"
The purpose of this issue is to provide a test issue for the new label bot models that use repo specific models: see kubeflow/code-intelligence#70.

Below is some sample issue text.

This is a fake issue about problems with notebooks. The purpose of this issue is to try to get the model to correctly predict the area label. So imagine we are trying to launch a notebook and we get exceptions complai

[2019-12-31 00:51] VasiliShi commented on #4604
done，just restarting metadata-grpc-deployment

[2019-12-31 00:51] #4604 closed

[2019-12-31 12:17] ijackcy opened #4610 "ERROR 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)"
I follow the steps of this page to install kubelfow:
https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

but, i found some pods didn't work well.

pod/katib-db-75975d8dbd-989ln                                      0/1     CrashLoopBackOff   475        41h
pod/katib-manager-59bb84948f-jldjh                                 0/1     CrashLoopBackOff   483        41h
pod/metadata-db-7584d44b65-

[2020-01-01 07:38] #3446 closed

[2020-01-01 07:38] #3422 closed

[2020-01-01 16:09] bearrito opened #4611 "External Minio Configuration"
/kind question

**Question:**
Is it possible to configure an external Minio Server?

I have searched the project using - https://www.kubeflow.org/search/?q=minio

I only saw reference to the Minio server that is presumably configured by the Kubeflow install process. We already have a Multi-DC HA Minio system setup, I would like to use that instead. Is this possible?

[2020-01-01 16:19] bearrito opened #4612 "External Database Configuration"
/kind question

**Question:**
Hello, I am trying to understand the exact requirement for MySQL use.

I have found the following in the Katib project - https://github.com/kubeflow/katib/blob/master/pkg/db/v1alpha3/mysql/mysql.go

I also located https://github.com/kubeflow/metadata/blob/master/service/service.go but was unable to deduce what the DB requirements were.

This is related to my previous

[2020-01-01 19:41] dynofu commented on #4535
i can confirm the problem. and it's more like on the ui side because i can see that workflow-controller did upload the artifacts to the s3 location.

[2020-01-02 05:10] #4186 closed

[2020-01-02 07:00] b675987273 opened #4613 "It is so difficult to re-apply kubeflow. The scripts should skip deleting namespace."
/kind bug

**What steps did you take and what happened:**
[When i failed apply kubeflow and try to delete it. The namespaces can t terminate naturally]
[code]

**What did you expect to happen:**
I expect that kubflow cam be re-apply more easily.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Kubeflow version: (versi

[2020-01-02 12:00] yanniszark commented on #3672
/remove-lifecycle stale
/lifecycle frozen

[2020-01-02 12:18] yanniszark commented on #3826
This is resolved because of the way we setup auth in v0.7.
/close

[2020-01-02 12:19] #3826 closed

[2020-01-02 16:20] rky0930 commented on #4607
@jlewi I tried running the script, but there was no output. Maybe something is wrong. After that, I was unable to retry as I reinstalled the cluster.

[2020-01-02 16:27] rky0930 commented on #4607
@louisvernon I fixed it by downgrading the cluster to version 1.14.8-gke.18. I will keep checking the tickets you have left and will upgrade the cluster later. Thanks.

[2020-01-03 06:51] jlewi opened #4615 "Test issue for ensemble predictions"
This is a test issue for ensemble predictions of label bot.

see kubeflow/code-intelligence#70

[2020-01-03 08:55] AlexLuya opened #4616 "Will pytorch deployment supporting deploy trained model as c++ service or python serive?"
/kind question

**Question:**
Or I can decide which one to use?

[2020-01-03 11:33] #4147 closed

[2020-01-03 13:26] crobby opened #4617 "Allow for service account created by profiles controller to have extra SCC granted"
/kind feature

**Why you need this feature:**
For openshift to be able to spawn a Jupyter notebook, the default-editor service account currently needs to have an SCC that will allow the fsGroup: 100, which is what's being used by the notebook-controller.  Right now, we have to go back after the profile is created and manually add an scc to allow that permission.

**Describe the solution you'd like

[2020-01-03 15:30] discordianfish commented on #4215
I thought about this some more and came up with: https://docs.google.com/document/d/1DvglZubJEvK3fuo3mi1bCpdW4hxK4zFkmVy0qTcepiI/edit?folder=12XkDmfUE8vCXP9-hp3ft9KadJjRxY_lZ# which I also shared on the mailinglist.

[2020-01-03 15:30] jtfogarty commented on #4291
@GDegrove have you tested this with v0.7?

[2020-01-03 15:59] jtfogarty commented on #4300
/area/document

[2020-01-03 16:00] jtfogarty commented on #4301
kind/feature

[2020-01-03 16:05] vpavlin commented on #4617
I see the default here https://github.com/kubeflow/kubeflow/blob/master/components/notebook-controller/controllers/notebook_controller.go#L51

This comment explains that it is needed for GKE (https://github.com/kubeflow/kubeflow/pull/2463#issuecomment-463161704)

For the OpenShift, it would be best if we could skip the `securityContext` creation completely an leave it up to the Pod Security Polici

[2020-01-03 18:50] yanniszark commented on #2866
/lifecycle frozen

[2020-01-03 18:56] jlewi commented on #4610
@zhenghuiwang looks like an issue with metadata DB could you take a look and triage this please?

[2020-01-03 22:28] zhenghuiwang commented on #4610
The problem is likely to be MySql can't start due to [incompatible versions](https://twitter.com/gdsotirov/status/987775465627807745). Based on the log, many pods from various services that depend on Mysql failed.
[code]

Each of these services uses its own MySql DB. So my guess is they are configured to share the same PV, which causes conflict during initialization.

@ijackcy what platform (or `k

[2020-01-03 22:46] #4615 closed

[2020-01-03 22:47] jlewi opened #4618 "Test new label bot; jupyter bug"
See kubeflow/code-intelligence#70

This is a test issue to see if the new label microservice is working.

Lets pretend we have a major bug with jupyter notebooks. Lets imagine the server crashes everytime we start a notebook. This would be a big problem.

[2020-01-03 22:49] jlewi commented on #4618
Success the new label bot was invoked and an area label was applied.

[2020-01-03 22:49] #4618 closed

[2020-01-04 08:27] #2422 closed

[2020-01-04 14:17] yanniszark commented on #3721
/remove-lifecycle stale
/lifecycle frozen

[2020-01-04 16:59] jtfogarty commented on #4324
/area/docs

[2020-01-05 12:19] ijackcy commented on #4610
hi,thank you!
kfctl file is kfctl_v0.7.0_linux.tar.gz.
yaml file is  kfctl_k8s_istio.0.7.1.yaml

i  install Kubeflow in an existing k8s cluster, version is 1.15.1.

I use NFS of node 2(ubuntu-slaver02),and create PV. the nfs path is /home/xiaowei/nfs4
root@ubuntu-master:/home/xiaowei/kubeflow# kubectl get pv
NAME      CAPACITY   ACCESS MODES   RECLAIM POLICY   STATUS   CLAIM                     ST

[2020-01-05 19:24] amygdala commented on #3874
Let's keep this open... last I checked, it was still necessary to run the command-line workaround as part of codelab(s), which is not optimal.

[2020-01-06 03:21] #4111 closed

[2020-01-06 03:21] #4116 closed

[2020-01-06 03:21] #4108 closed

[2020-01-06 03:21] #4072 closed

[2020-01-06 03:21] #4049 closed

[2020-01-06 03:21] #3776 closed

[2020-01-06 05:29] Bobgy commented on #4598
@prodonjs @avdaredevil
Ping after holiday. Any thoughts?

[2020-01-06 09:21] #4145 closed

[2020-01-06 13:48] jlewi commented on #4580
@kunmingg @avdaredevil any update?

[2020-01-06 13:53] jlewi opened #4619 "Add licenses for dependencies in Profile controller Images"
/kind feature

Related to https://github.com/kubeflow/testing/issues/539

Need to add all license content for thrid-party dependencies in profile controller image.

We might want to switch to a distroless base image as well.
https://github.com/GoogleContainerTools/distroless/blob/master/examples/go/Dockerfile

[2020-01-06 13:54] jlewi commented on #4619
@kunmingg Could you take care of this please?

[2020-01-06 13:59] jlewi commented on #4579
@krishnadurai is working on converting to a distroless image in kubeflow/tf-operator#1124
That might cut down on number of dependencies.

[2020-01-06 14:00] jlewi opened #4620 "Add licenses for dependencies in JupyterWeb App Image"
/kind feature

Related to https://github.com/kubeflow/testing/issues/539

Need to add all license content for thrid-party dependencies in JupyterWebApp image.

[2020-01-06 14:09] jlewi commented on #3727
@richardsliu Could you provide an update please?

[2020-01-06 14:13] jlewi commented on #4056
reconcile semantics will be needed for the kfctl operator; see kubeflow/kubeflow#4570.

[2020-01-06 14:14] jlewi commented on #4570
@animeshsingh could you provide an update?  Should we have a follow up discussion at the next community meeting?

[2020-01-06 14:43] jlewi commented on #4471
Closing this as fixed by #4352

[2020-01-06 14:43] #4471 closed

[2020-01-06 14:44] jlewi commented on #4062
@kimwnasptd Could you provide an update on how the Jupyter Web App is looking for 1.0?

I see [1 P0](https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+org%3Akubeflow+label%3Aarea%2Fjupyter+label%3Apriority%2Fp0) and  [18 P1s](https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+org%3Akubeflow+label%3Aarea%2Fjupyter+label%3Apriority%2Fp1) related to jupyter (but not necessa

[2020-01-06 14:46] jlewi commented on #4067
Are we aware of any work that would prevent the Jupyter Web App from being upgraded with kfctl? Is the only work to actually test it out to verify it works as expected?

/cc @richardsliu

[2020-01-06 14:49] prodonjs commented on #4598
@Bobgy - Thanks for the excellent analysis!

/cc @kwasi who is now working on Kubeflow front-end projects with @avdaredevil.

TL;DR - Sounds like either the `hashchange` trigger or polling after a click are viable options and would be good for quick fixes. Long term, it makes sense to investigate better integration between the applications and centraldashboard by extending the event handling libra

[2020-01-06 14:49] prodonjs commented on #4598
/assign @avdaredevil

[2020-01-06 14:51] jlewi commented on #3772
It looks like kubeflow/manifests#641 was merged. So I guess the only remaining work is the jupyter web app changes which is
kubeflow/kubeflow#3637 and looks like there is an open PR kubeflow/kubeflow#4214.

I think we can close out this issue; before we do @fediazgon would it be possible for verification purposes just to past into the issue the output of `kubectl describe notebooks ${SOMENOTEBOOK}

[2020-01-06 14:54] jlewi commented on #1394
@kimwnasptd Why would we use PodDefaults? Why not just add a field in the UI that allows people to set the culling time?

[2020-01-06 14:55] jlewi commented on #3721
Looks like we need someone to pick up #4171 and drive it to completion.

[2020-01-06 14:57] jlewi commented on #2271
@kimwnasptd and @lluunn any update?

[2020-01-06 16:21] #3834 closed

[2020-01-06 17:34] animeshsingh commented on #4570
@jlewi Team is back from break today. Will follow through this week, and let's bring it up in next week's meeting

[2020-01-06 17:36] jlewi opened #4621 "Notebook Controller v1 API spec"
/kind feature

We need to define and upgrade the notebook controller to be v1
https://github.com/kubeflow/kubeflow/tree/master/components/notebook-controller/api

/cc @lluunn

[2020-01-06 17:39] jlewi commented on #3722
@yeya24 Thanks; could you please past the curl output into this issue as verification that its been fixed?

[2020-01-06 17:40] jlewi commented on #3722
Bump to P0 because its a requirement for 1.0.

Before we close this issue out we should verify the output of the prometheus metric handler includes the metrics required for 1.0.

[2020-01-06 17:43] jlewi commented on #4069
Bump to P0 because its required for 1.0.

[2020-01-06 17:46] jlewi commented on #4087
Bump to P0 because this is a requirement for 1.0

[2020-01-06 17:48] jlewi commented on #4087
Duplicate of #3657

[2020-01-06 17:48] #4087 closed

[2020-01-06 17:48] jlewi commented on #3657
Bump to P0 because this is a requirement for 1.0.

[2020-01-06 17:50] jlewi commented on #4060
Bump to P0 because its required for 1.0

[2020-01-06 17:53] jlewi commented on #4020
Bump to P0 because it is required for 1.0.

Here's an update:

* kubeflow/testing#450 is the uber issue for CD
* We have a sample Tekton PipelineRune for profile controller in
  * https://github.com/kubeflow/testing/tree/master/apps-cd/runs
* The next steps for kubeflow/testing#450 will include defining automation for the notebook controller as well as UI and other applications.

[2020-01-06 18:02] jlewi commented on #3723
Bump to P0 because its required for 1.0.

[2020-01-06 18:04] jlewi commented on #4581
Bump to P0 because its required for 1.0.

[2020-01-06 19:25] jtfogarty commented on #4300
/kind feature

[2020-01-06 19:27] jlewi commented on #4592
Bump to P0 because I think we need to figure out what we are doing for 1.0.

It seems like show may not be completely working/implemented.
Supporting show is not not critical for 1.0

So here are my suggestions

1. Guard show with some sort of "beta" or "alpha" flag so the syntax would be

[code]

    * So its clear the command is in beta and not fully supported.

    * How is this to support with

[2020-01-06 19:56] zhenghuiwang commented on #4610
The problem seems to be isolated to Katib and Tensorboard.

@ijackcy can you help paste the logs of tensorboard? I actually don't find it use MySql.
https://github.com/kubeflow/manifests/blob/master/tensorboard/base/deployment.yaml

/cc @richardsliu @johnugeorge do you have any insight on the Katib pod failures?

[2020-01-06 19:59] jlewi commented on #4058
@kunmingg could you provide an update? How are we doing for 1.0?

[2020-01-06 20:00] jlewi commented on #4071
@kunmingg Is there more work to be done here?

It looks like we have a v1beta1.
https://github.com/kubeflow/kubeflow/tree/master/components/profile-controller/api

I'm guessing we need a v1 for 1.0. Do we have an issue for that?

[2020-01-06 21:16] jtfogarty commented on #4609
/priority p2

[2020-01-06 21:17] jtfogarty commented on #4578
/priority p2

[2020-01-06 21:21] jtfogarty commented on #4273
/kind feature

[2020-01-06 21:24] jlewi commented on #4070
Bump to P0 because this is required for 1.0.

@kunmingg is there any work to be done? Should this just work out of the box?

[2020-01-06 21:28] jlewi commented on #4079
Bump to P0 because this is required for 1.0.

kubeflow/testing#450 - is the uber issue for CD of multiple applications. Once that bug is fixed that should likely include a solution for the profile controller. The only remaining work would then be to verify that it is working as intended.

We currently have a Tekton PipelineRun to build the profile controller image.
https://github.com/kubeflow/test

[2020-01-06 21:29] jlewi commented on #4072
Seems like a Duplicate of #4701

[2020-01-06 21:29] jlewi commented on #4072
Duplicate of #4701

[2020-01-06 21:30] jlewi commented on #4073
Bump to P0 because its required for 1.0.

[2020-01-06 21:31] jlewi commented on #4075
Bump to P0 because this is required for 1.0.

[2020-01-06 21:31] jlewi commented on #4074
@kunmingg is this required for 1.0?

[2020-01-06 21:33] jlewi commented on #4077
Bump to P0 because this is required for 1.0.

@nrchakradhar any chance you could pick up some of the remaining work here?

[2020-01-06 21:35] jlewi commented on #4076
@yeya24 Any update on this?

Bump to P0 because this is required for 1.0.

[2020-01-06 21:40] jtfogarty commented on #4524
/priority p2

[2020-01-06 21:42] yeya24 commented on #4076
@jlewi  Actually currently I am not working on this because I saw this PR https://github.com/kubeflow/kubeflow/pull/4251.
I am wondering do we need to wait until that PR merges?

[2020-01-06 21:56] neuromage commented on #3874
/assign @rmgogogo

[2020-01-06 22:03] jtfogarty commented on #4558
/area centraldashboard

[2020-01-06 22:13] jlewi commented on #4215
@discordianfish I would suggest presenting this at one of the community meetings.

[2020-01-06 22:17] jlewi commented on #4099
@kunmingg beyond adding prometheus metrics to the individual applications; what is the P0 work for 1.0?

[2020-01-06 22:19] jlewi commented on #4061
@ellis-bigelow @animeshsingh  do we expect KFServing to be 1.0 in time for Kubeflow 1.0?

I think there was some discussion that for Kubeflow 1.0 we might scope down graduating the model servers used by KFServing to 1.0.

[2020-01-06 23:47] jlewi commented on #3490
Does kustomize now have the ability to support multiple overlays?

How is what we need different from kubernetes-sigs/kustomize#171 which says multiple overlays are supported?

There's also kubernetes-sigs/kustomize#1251 about diamond patterns

[2020-01-06 23:56] jlewi opened #4624 "Profile controller v1 spec"
/kind feature

We need a v1 API spec for the profile controller
https://github.com/kubeflow/kubeflow/tree/master/components/profile-controller/api

[2020-01-06 23:57] jlewi commented on #4624
/assign @kunmingg

[2020-01-07 00:36] ijackcy commented on #4610
sorry. Some pods still don't work properly and not ready.
NAME                                                           READY   STATUS             RESTARTS   AGE
katib-db-75975d8dbd-qfj9w                                      0/1     Running            1          16h
katib-manager-59bb84948f-8t927                                 0/1     CrashLoopBackOff   200        16h
metadata-grpc-deployment-7c

[2020-01-07 03:23] Bobgy commented on #4598
Thanks @prodonjs for shedding some light on this.

To clarify, I didn't mean polling after click. Just periodic polling sounds better. This event handler is very lightweight, I don't think it will cause any problems.

[2020-01-07 08:47] kimwnasptd commented on #2271
The jupyter web app is using subject access reviews right now ([PR](https://github.com/kubeflow/kubeflow/commit/5c7ecd80da9a4fc93ad065e660bc6922c1bca8f1)) so I think we can close this issue.

[2020-01-07 09:03] kimwnasptd commented on #1394
@jlewi I was thinking that most of the time the users will be selecting the same culling times for their different Notebook classes. Most of the time they would want their GPU Notebooks to be up as little as possible and could maybe have two or three different culling times for their normal Notebooks.

Because of this I though it would make more sense to have a drop-down for users to select a pred

[2020-01-07 10:00] kimwnasptd commented on #3657
@jlewi I'm reading the [e2e instructions](https://github.com/kubeflow/testing#writing-an-argo-workflow-for-an-e2e-test) in the testing repo and I have some questions.

1. Does each test (.py file) need to be encapsulated in an argo workflow in order to be triggered from prow?
    * If yes, where should this bundle (.py + argo app) live in the code base?
    * Will the argo workflow also need to be

[2020-01-07 11:10] discordianfish commented on #4215
@jlewi I would but that's 2:30am for me (Berlin, Germany). Any way to do this async?

[2020-01-07 11:15] ryandawsonuk commented on #4202
In more recent installs I've noticed it automatically retry so this may have been fixed.

[2020-01-07 11:47] nrchakradhar commented on #4077
@jlewi Sorry I will not be able to work on this. Unfortunately, in my current role/organisation I am not allowed to make contributions.

[2020-01-07 12:06] yanniszark commented on #4613
@b675987273 thanks for reporting!
Personally, I don't think we should skip deleting the namespace.
This seems like a symptom of failing to cleanup something properly and we should investigate the root cause.

[2020-01-07 16:31] yanniszark commented on #3490
@jlewi kustomize doesn't support multiple overlays as seen in the composition pattern.
This is why we opened #1251 and we have seen some great developments. Would be great if folks from the Kubeflow community would also push for it.
/cc @apyrgio

This issue is about a bug in the current implementation of kfctl that composes a new kustomization to get around this issue.
We should test to see if thi

[2020-01-07 16:36] yanniszark commented on #4550
@SebBlin did you manage to triage the aforementioned issue?

[2020-01-07 16:37] yanniszark commented on #4379
Hi @lomori.
Have you tried the latest v0.7 release?
The way we setup OIDC is so that an external IP is not required.
You should be able to make it work in Openshift.

[2020-01-07 16:43] yanniszark commented on #4558
Hi @samos123!
Kubeflow is an OIDC-compliant client (oidc-authservice) so you should be able to set it up however you want.
You can also comment out Dex from the KfDef file in order to skip installing it.

[2020-01-07 17:42] tanguycdls opened #4627 "Pytorch Distributed on Jupyter notebooks on Kubeflow disconnect the notebook and freezes"
/kind bug

**What steps did you take and what happened:**
Hi i'm trying to run a toy example of Pytorch distributed with a Gloo backend that runs in my local computer on a jupyter notebook hosted on Kubeflow and I cannot make it run. The script freezes on p.join() and never stops.

The script uses tcp to synchronize between the processes I tried modifying the port number with no success.

When I c

[2020-01-07 19:29] jtfogarty commented on #4596
/area jupyter
/priority p2

[2020-01-07 19:33] jtfogarty commented on #4598
/priority p1

[2020-01-07 19:34] yantriks-edi-bice commented on #4613
I deployed abc and was facing many issues so had to delete and re-apply facing yet more issues which were insurmountable. So I gave up and created xyz which worked well. I did not yet delete abc in order to compare between the two and learn about some of the issues I faced with abc. Then I proceeded to delete abc which indeed deleted the kubeflow namespace. So many resources cannot be deleted if t

[2020-01-07 19:38] #4619 closed

[2020-01-07 20:29] wronk opened #4629 "kfctl 0.7.1 -- both linux and darwin versions are linux?"
/kind bug
I believe both versions (linux and darwin) of 0.7.1 release are actually linux

Setting up a cluster using kfctl for v0.7.1 on mac (darwin version) results in an error:
`$ kfctl build -V -f ${CONFIG_URI}`
`-bash <home_dir>/.kfctl/kfctl: cannot execute binary file`

**What did you expect to happen:**
I expected `kfctl` to build the deployment files

**Anything else you would like to add:*

[2020-01-07 21:08] #4152 closed

[2020-01-07 21:08] #3230 closed

[2020-01-07 21:08] #3798 closed

[2020-01-07 21:08] #3574 closed

[2020-01-07 21:25] swiftdiaries commented on #3907
I'm trying to setup a static site that would show vulnerabilities with the images. I hope to get it done by the end of the week.

[2020-01-07 22:14] jobvarkey opened #4630 "Pods "mysql"、"ml-pipeline"、"ml-pipeline-persistenceagent" are in status "CrashLoopBackOff"."
Hello,
I installed Kubeflow v0.70 using kfctl_existing_arrikto config in on-prem multinode kuberntes v1.15.7 cluster running on Ubuntu 18.04.
These three Pods are in constant CrashLoopBackoff:
mysql
ml-pipeline
ml-pipeline-persistenceagent

Can someone please help to resolve this issue?

Thanks,
Job Varkey

[2020-01-07 22:21] jobvarkey commented on #4630
These are Pod logs:
kubectl logs -f -n kubeflow ml-pipeline-588b64fff-j7hjk
I0107 22:11:17.235107       1 client_manager.go:126] Initializing client manager
F0107 22:17:42.958380       1 error.go:296] dial tcp 10.97.35.125:3306: connect: connection refused

kubectl logs -f -n kubeflow ml-pipeline-persistenceagent-79ff896578-8n5vm
W0107 22:18:12.845412       1 client_config.go:552] Neither --kubeco

[2020-01-07 23:00] kunmingg commented on #4073
This one is already supported: https://github.com/kubeflow/kubeflow/blob/master/components/profile-controller/api/v1beta1/profile_types.go#L58

[2020-01-07 23:00] #4073 closed

[2020-01-07 23:08] kunmingg commented on #4071
Issue description updated.
Will create v1 API

[2020-01-07 23:08] kunmingg commented on #4070
Will test out once https://github.com/kubeflow/kubeflow/issues/4071 is closed

[2020-01-07 23:44] jlewi commented on #4629
kubeflow/kfctl#161 is the issue to fix the makefile.

/assign @richardsliu

[2020-01-07 23:58] kunmingg commented on #4074
This is already satisfied:
https://github.com/kubeflow/kubeflow/blob/master/components/profile-controller/config/crd/bases/kubeflow.org_profiles.yaml#L16

[2020-01-07 23:58] #4074 closed

[2020-01-08 00:41] #4069 closed

[2020-01-08 02:26] richardsliu commented on #4629
Fixed by https://github.com/kubeflow/kfctl/pull/163.

[2020-01-08 02:28] richardsliu commented on #4629
New binaries published: https://github.com/kubeflow/kubeflow/releases/tag/v0.7.1

[2020-01-08 08:18] b675987273 commented on #4613
@yantriks-edi-bice Got it. Maybe next time, I should change the namespace first. Thanks.

[2020-01-08 08:18] #4613 closed

[2020-01-08 08:25] webD97 opened #4634 "Disable authentication for certain URLs"
/kind question

**Question:**
We set up Kubeflow 0.7 using the arrikto config and it is running very well so far. Now we'd like to add some custom VirtualServices to the cluster which do not require authentication. Unfortunately, the istio-ingressgateway enforces authentication for our custom VirtualService as well. Is it possible to tell Istio to ignore authentication for certain URLs -- maybe ev

[2020-01-08 08:57] SebBlin commented on #4550
Hello @yanniszark, sorry for the delay.
Just yesterday, I was able to find the root cause of this issue : the OIDC Identity provider I'm using has a bug and the JWS token (id_token) it sends is indeed malformed. The Base64 encoding still include trailing "="; that is not allowed in JWT/JWS.
There is a patch for it; I just requested to the team charge of this IDP to install this patch.

In the mean

[2020-01-08 11:19] fediazgon commented on #3772
For a healthy and non-healthy nb:

[code]

[2020-01-08 12:40] yanniszark commented on #4550
@SebBlin that's nice to hear!
So the conclusions from this issue are:
* Currently, OIDC-AuthService currently only supports RS256 for token verification.
* A go-oidc library author is open to adding support for more asymmetric algorithms, but is unsure about symmetric algorithms like HS512. (https://github.com/coreos/go-oidc/issues/225#issuecomment-562685492).

I also opened https://github.com/arr

[2020-01-08 12:40] yanniszark commented on #4550
/close

[2020-01-08 12:40] #4550 closed

[2020-01-08 12:43] yanniszark commented on #4634
Hi @webD97!

The Kubeflow v0.7 config uses the [oidc-authservice](https://github.com/arrikto/oidc-authservice) to authenticate requests at the Istio Gateway.
In the oidc-authservice config, we provide the `SKIP_AUTH_URI` option which you can use to whitelist paths by prefix.
Does this solve your issue?

[2020-01-08 13:44] tanguycdls commented on #4627
I checked with nmap using ``nmap -sT -O localhost``and the port 9999 is correctly opened with service name *abyss*.

[2020-01-08 15:43] jtfogarty commented on #4576
/area kfctl
/priority p0

[2020-01-08 15:44] webD97 commented on #4634
Oh yes, you're right. I forgot about this env variable. It does work but now I also need to get rid of any RBAC checks. With authentication disabled, I always get `RBAC: access denied` when trying to access my own VirtualServices.

[2020-01-08 19:03] haghabozorgi commented on #4517
Is their any updates on this issue? we are seeing same issue with 0.7.1 release

[2020-01-08 19:10] krishnadurai commented on #4517
@yanniszark had updated the image with the fix for this issue.
Yannis, could you PTAL?

[2020-01-08 19:18] richardsliu commented on #4629
/close

[2020-01-08 19:50] yanniszark commented on #4517
@haghabozorgi this should be fixed in v0.7.1.
Can you provide the tag of the image you are using for the oidc-authservice?

[2020-01-08 20:08] haghabozorgi commented on #4517
@yanniszark   image value in kustomize/oidc-authservice/base/deployment.yaml shows gcr.io/arrikto/kubeflow/oidc-authservice:6ac9400 but describe po on authservice po shows gcr.io/arrikto/kubeflow/oidc-authservice:28c59ef

[2020-01-08 20:18] fedeesku1 commented on #4584
I apologize for the delay.  This solved my issue. With the default set up with kubeflow, the namespace where everything is created is called 'kubeflow'. Therefore to solve this issue as you mentioned, I added "--namespace kubeflow" to the command that creates the secret key.

[2020-01-08 22:37] jbottum commented on #4575
Hi, What version of Kubeflow are you running ?   Could you potentially upgrade to 0.7 ?

[2020-01-08 22:40] jtfogarty commented on #4520
/area jupyter
/priority p2

[2020-01-08 22:42] jtfogarty commented on #4519
/area jupyter
/priority p2

[2020-01-08 22:43] jtfogarty commented on #4510
/area jupyter
/priority p2

[2020-01-08 22:44] jtfogarty commented on #4477
/area jupyter
/priority p2

[2020-01-08 22:47] jtfogarty commented on #4575
/area jupyter
/priority p2
/kind discussion

[2020-01-08 22:48] jtfogarty commented on #4575
/kind question

[2020-01-08 23:15] jtfogarty commented on #4386
/area kustomize
/priority p2

[2020-01-08 23:26] jtfogarty commented on #4517
/area font-end

[2020-01-08 23:28] jtfogarty commented on #4374
/area front-end
/priority p2

[2020-01-08 23:46] wjddyd66 commented on #4510
@jtfogarty
I resolved this problem
It's Permission Error

Customize DockerFile And How to Customize JupyterNotebook in my Blog
Here is Link: https://wjddyd66.github.io/kubeflow/Kubeflow(4)/#jupyter-notebook-customize

[2020-01-08 23:46] wjddyd66 commented on #4510
/close

[2020-01-08 23:46] #4510 closed

[2020-01-09 02:08] neupaneaj commented on #4142
Anyone knows how to resolve this issue. I am seeing this on Kubeflow 0.7 installed on Kubernetes 1.14. I can see all PVs are bound, but I am still facing the issue.

NAME             STATUS   VOLUME                                     CAPACITY   ACCESS MODES   STORAGECLASS   AGE
katib-mysql      Bound    pvc-20e5e7b3-31b8-11ea-9ab6-000c2940935e   10Gi       RWO            nfs            24h
metada

[2020-01-09 07:19] zw39125432 opened #4635 "kubeflow-0.7.0 profiles-deployment"
/kind question
image:gcr.io/kubeflow-images-public/profile-controller:v20190619-v0-219-gbd3daa8c-dirty-1ced0e
k8s  version:1.14

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
containers:
      - command:
        - /manager
        args:
        - "-userid-header"
        - $(userid-header)
        - "-userid-prefix"
        - $(userid-prefix)
        - "-workload-identity"

[2020-01-09 07:53] razumv opened #4636 "Latest Kubeflow on Openshift 3.11"
/kind question

**Question:**
Hello! I have an openshift 3.11 with kube version 1.11. How can I deploy the latest version (0.7) of kubeflow with authorization? Is there anyone who managed to do this?

[2020-01-09 09:44] George0112 opened #4637 "How to show results of Kabit experiment"
**Question:**
I installed kubeflow V0.7.0 and tried to run an example experiment of Katib but after the experiment succeeded (and also when it's running or failed), it only shows the config of the experiment
![image](https://user-images.githubusercontent.com/27078587/72056050-d257a100-3306-11ea-9fa0-58c1e70092c0.png)

I thought I will get a result like
![image](https://user-images.githubuserconten

[2020-01-09 11:40] yanniszark commented on #4636
Hi @razumv!
I would suggest following this guide: https://www.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto/
In addition, check out the extra instructions needed here: https://github.com/marcredhat/crcdemos/blob/master/kubeflow/README.adoc

I have done some work on installing Kubeflow on Openshift with @marcredhat and we have successfully installed it.

[2020-01-09 11:41] yanniszark commented on #4180
@mappedinn is this issue resolved?

[2020-01-09 11:42] yanniszark commented on #4150
@kunmingg any status updates on this?

[2020-01-09 12:49] yanniszark commented on #4517
@haghabozorgi what you described is a separate issue, not related to this one.

The error:
[code]

Happens because Dex advertises a different address than what the AuthService contacts.
The two addresses must match, according to the OIDC spec.
To fix, please change the `OIDC_PROVIDER` env var on the oidc-authservice deployment.

The original issue is fixed, so let's close this issue and continue d

[2020-01-09 13:03] razumv commented on #4636
Hello @yanniszark
According to the information at https://www.kubeflow.org/docs/started/k8s/overview/, I concluded that kubeflow version 0.7 will only be on kube 1.14, 1.15.
Or all the same, for this https://www.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto/ guide I can put on Openshift 3.11 (kube 1.11).
So far, I have succeeded in installing only kubeflow 0.5, but ldap authorization is ver

[2020-01-09 14:04] yanniszark commented on #4636
Kubernetes 1.11 is a bit low.
You can always try to deploy and come back if you encounter any problems.
We have succeeded in deploying KF v0.7 in Openshift 4 with CRC, so you can also take a look at that for advice (https://github.com/marcredhat/crcdemos/blob/master/kubeflow/README.adoc).

/cc @pdmack

[2020-01-09 16:00] haghabozorgi commented on #4517
@yanniszark  but if i change the oidc_provider to the public url as I mentioned in my post from yesterday, I get the 403 error in oidc-authservice pod logs. So this still seems like an issue to me.

[2020-01-09 16:16] vovawed opened #4638 "Vertical bar command"
/kind question

**Question:**
I need to run (put this to `command` inside of `yaml` file):
```gsutil cat gs://bucket/obj.csv.gz | zcat |  gsutil cp - gs://bucket/obj.csv```

I was trying to separate them with comma but it didn't work.

[2020-01-09 16:23] jal06 opened #4639 "MNist tutorial : no access to cloud storage bucket"
/kind bug

**What steps did you take and what happened:**
After installing Kubeflow (0.7.0), I followed this tutorial (mnist) on GKE : https://www.kubeflow.org/docs/gke/gcp-e2e/

I encountered the following issues :
1- When I train the model (cd $WORKDIR/training/GCS and kustomize build . |kubectl apply -f - ), there was no workload in the GKE workload page as explained in th tutorial.

After some

[2020-01-09 18:46] johnugeorge commented on #4579
https://github.com/kubeflow/tf-operator/pull/1127 is merged

[2020-01-09 19:35] joeliedtke commented on #4551
It looks like the following line needs to be either be updated with each release, or be updated to install Fairing from PyPi.

https://github.com/kubeflow/kubeflow/blob/b813c9afaf2b053928935ba8ab8665a261591517/components/tensorflow-notebook-image/Dockerfile#L107

[2020-01-09 21:30] jobvarkey opened #4642 "Kubeflow Install Error"
Trying to install Kubeflow v.70 on on-prem cluster (kubernetes v15.7/Ubuntu 18.04) but getting below error:

root@0939-jdeml-m03:/opt/kubeflow/kf-test# kfctl apply -V -f ${CONFIG_FILE}
INFO[0000]
****************************************************************
Notice anonymous usage reporting enabled using spartakus
To disable it
If you have already deployed it run the following commands:
  cd $(p

[2020-01-09 21:45] haghabozorgi commented on #4642
I am having this same issue which seems to have started some time today. I was working with kfctl apply earlier with no issues now it fails.
output sample of a new build attempt
[code]

[2020-01-09 22:18] wdhorton commented on #4642
I'm also running into the same issue

[2020-01-09 22:29] lumi-docs commented on #4642
I am running into the same issue as well. Started around an hour ago.

[2020-01-09 22:36] joeliedtke commented on #4551
/assign

[2020-01-09 22:41] srinjay-paul commented on #4642
Running into the same issue. Started around an hour ago.

[2020-01-09 22:44] bpoti commented on #4642
Running into same issue.

[2020-01-09 23:05] Zhihan1996 commented on #4642
Same isuue.

[2020-01-09 23:18] richardsliu commented on #4579
/close since this is done.

[2020-01-09 23:18] #4579 closed

[2020-01-09 23:23] richardsliu commented on #3727
This should be done now. It's not going to be part of v0.7.1 but it should be working in the 1.0-rc.0 build (https://github.com/kubeflow/kfctl/releases/tag/v1.0-rc.0).

Documentation is here: https://www.kubeflow.org/docs/upgrading/upgrade/

[2020-01-09 23:25] richardsliu commented on #3727
Pending work: add an e2etest

[2020-01-09 23:25] #4629 closed

[2020-01-09 23:31] andersonvc commented on #4642
I tried reverting kfctl to version 0.7.0 (https://github.com/kubeflow/kubeflow/releases/download/v0.7.0/kfctl_v0.7.0_darwin.tar.gz)

and the config file to 0.7.0
(https://raw.githubusercontent.com/kubeflow/manifests/v0.7-branch/kfdef/kfctl_k8s_istio.0.7.0.yaml)

Seeing a EOF error similar to haghabozorgi:

couldn't generate KfApp:  (kubeflow.error): Code 500 with message: could not sync cache. Err

[2020-01-10 00:27] wronk commented on #4642
Same here. Also tried to revert to 0.7.0 without success

[2020-01-10 01:42] slowlove1995 commented on #4642
i have same isuue

[2020-01-10 01:54] nschenone commented on #4642
Same

[2020-01-10 03:07] alimhanif commented on #4642
it was fine yesterday.
today i got the same issue

[2020-01-10 04:40] raviranjan0309 commented on #4642
Yes, It was working fine for me till last night. Today I am getting the same issue as discussed above.

[2020-01-10 04:44] waelCh commented on #4642
I am also facing the same issue

`Error: failed to build kfApp from URI /home/ec2-user/KF_DIR/aicluster2020/kfctl_aws.0.7.1.yaml: couldn't generate KfApp:  (kubeflow.error): Code 500 with message: could not sync cache. Error:  (kubeflow.error): Code 400 with message: couldn't download URI https://github.com/kubeflow/manifests/archive/v0.7-branch.tar.gz Error Error opening a gzip reader for /tmp/ge

[2020-01-10 05:24] swjung94 commented on #4642
i have same issue

[2020-01-10 07:31] anirudhkm commented on #4642
same here.. :(

[2020-01-10 08:00] prsrepo commented on #4642
Same issue here

[2020-01-10 08:55] zoyun commented on #4642
I have the same issue

[2020-01-10 09:35] webD97 commented on #4634
I disabled RBAC for these services in my RbacConfig for now. One last question regarding `SKIP_AUTH_URI`: Is there a way to disable auth per hostname instead of path?

[2020-01-10 09:37] sid027 commented on #4183
#2561

[2020-01-10 09:43] sid027 commented on #4183
kubeflow/pipelines#2561

[2020-01-10 09:43] webD97 commented on #4638
That's a pipe symbol and I'm pretty sure it's a reserved symbol in YAML. Have you tried putting the command in quotes?

[2020-01-10 11:19] ryandawsonuk commented on #4358
Related to https://github.com/kubeflow/kubeflow/issues/4301

[2020-01-10 11:27] vovawed commented on #4638
Sure:
[code]

[2020-01-10 11:50] webD97 commented on #4638
I think you need to call a shell to make pipes work, please try this one:

[code]

[2020-01-10 12:35] mukulp commented on #4642
I am having the same issue. I even tried using kfctl_v0.7.1-2-g55f9b2a.

[2020-01-10 12:52] vpavlin commented on #4642
Hi, I tried to use my PR branch in the KFDef and got the same fail - specifically:

[code]

[code]

If I click the link the `zip` is downloaded normally and the contents seem to be ok

[2020-01-10 12:56] ruanxingbaozi commented on #4642
+1

[2020-01-10 12:58] razumv commented on #4642
+1

[2020-01-10 13:12] vpavlin commented on #4642
I tried to find how to get a `tarball` from github properly and found

https://blog.abelotech.com/posts/how-download-github-tarball-using-curl-wget/

based on that I used: https://github.com/vpavlin/manifests/tarball/openshift/kfdef

And that passed, but it fails elswhere - probably because of the branch name (as it contains `/`) and there is a sub-dir created in `.cache/manifests`. So I don't see

[2020-01-10 13:32] descampsk commented on #4642
Same issue here with kfctl v0.7.0

[2020-01-10 13:34] valentin-stefan-popa commented on #4642
Same here also with 0.7.0 and 0.7.1 Yesterday was working.

[2020-01-10 14:07] leileiwan commented on #4642
+1

[2020-01-10 14:54] cyrano5614 commented on #4642
+1

[2020-01-10 15:44] ronsingler commented on #4642
+1

[2020-01-10 15:48] wdhorton commented on #4642
I started trying to look into this, I don't think the issue is on the `kfctl` side, since the last commit to master was Jan. 8, and also because the issue seems to be affecting both 0.7.0 and 0.7.1.

So like the error message shows, it's likely some issue with manifest downloading.

[2020-01-10 15:49] wdhorton commented on #4642
But the weird part is that I can successfully download this link: https://github.com/kubeflow/manifests/archive/v0.7-branch.tar.gz using my browser, and I can untar/unzip it successfully

[2020-01-10 15:52] vpavlin commented on #4642
Same findings, I did not update the kfctl binary, so I don't see how any change there could affect my workflow. A wild guess would be Github changed something in their archive endpoint and kfctl (or rather `go-getter` or `archive/...`) is no longer process whatever GH returns

[2020-01-10 15:57] pdmack commented on #4642
kubeflow/kfctl#169

[2020-01-10 17:08] yanniszark commented on #4634
@webD97 there is no such option yet.
I opened https://github.com/arrikto/oidc-authservice/issues/13 for the feature request.

[2020-01-10 17:10] haghabozorgi commented on #4642
just to confirm, while we wait for that PR to get merged, building the kfctl (make build) from kunmingg:fixe2e fixes the issue for me,

[2020-01-10 18:03] pdmack commented on #4642
Another workaround is to manually wget the tarball, unroll it locally, then edit your config yaml URI to point at that dir.

[2020-01-10 18:40] srinjay-paul commented on #4642
This worked for me:
1. delete .cache/ and kustomize/ folders in the kf app folder.
2. Change uri field in .yaml file to point to the downloaded tar.gz file.
    uri: file:/<path to file>/manifests-0.7-branch.tar.gz
3. Build
4. Apply

[2020-01-10 19:13] kbd2011 commented on #4642
same issue

[2020-01-10 20:48] jobvarkey commented on #4630
This issue was resolve by changing NFS version used for PV mount from 3 to 4.

[2020-01-10 20:48] #4630 closed

[2020-01-10 23:42] zhenghuiwang commented on #4620
Backend Go dependency licenses added here https://github.com/kubeflow/kubeflow/pull/4632

[2020-01-11 00:01] neupaneaj commented on #4642
same issue.

[2020-01-11 01:36] kunmingg commented on #4642
Hi,
can you rebuild kfctl from `https://github.com/kubeflow/kfctl/` master?

Issue: https://github.com/kubeflow/kfctl/issues/167

[2020-01-11 06:42] razumv commented on #4642
@srinjay-paul
Hey. Did according to your instructions, deleted directories
couldn't generate KfApp:  (kubeflow.error): Code 500 with message: kfApp Generate failed for kustomize: kustomize generate failed Error:  (kubeflow.error): Code 500 with message: couldn't copy application application-crds

[2020-01-11 08:27] razumv commented on #4642
Hi, build is success. But apply crash with problem:
Internal error occurred: failed calling webhook "webhook.cert-manager.io": Post https://kubernetes.default.svc:443/apis/webhook.cert-manager.io/v1beta1/mutations?timeout=30s: Service Unavailable  filename="kustomize/kustomize.go:183"
WARN[0174] Will retry in 30 seconds.                     filename="kustomize/kustomize.go:184"

[2020-01-11 09:07] razumv commented on #4642
Hi,
a new problem, has anyone encountered it?

WARN[0184] Encountered error during apply:  (kubeflow.error): Code 500 with message: Apply.Run  Error error when creating "/tmp/kout178486365": Internal error occurred: failed calling webhook "webhook.cert-manager.io": the server is currently unable to handle the request  filename="kustomize/kustomize.go:183"
WARN[0184] Will retry in 39 seconds.

[2020-01-11 10:47] razumv commented on #4642
if I remove kubernetes.default.svc from no_proxy then I get an error

WARN [0049] Encountered error during apply: (kubeflow.error): Code 500 with message: Apply.Run Error error when creating "/ tmp / kout443073028": Internal error occurred: failed calling webhook "webhook.cert-manager.io" : Post https: //kubernetes.default.svc: 443 / apis / webhook.cert-manager.io / v1beta1 / mutations? Timeout =

[2020-01-11 12:52] kbentaleb commented on #4642
Same issue, it worked fine before 2 days !

[2020-01-11 17:21] yanniszark commented on #4517
@haghabozorgi have you tried that with the latest image version of the authservice?
It shouldn't happen with image tag `28c59ef`.

Reopening based on @haghabozorgi's latest comment that they're still encountering the original issue.
/reopen

[2020-01-11 23:17] jlewi commented on #3650
Status update.

* I think there are various folks in the community working on this

  * @jtfogarty  is one

  * There's this [thread](https://groups.google.com/forum/#!searchin/kubeflow-discuss/gojek%7Csort:date/kubeflow-discuss/1V4w7OHoML0/94jGnamoAgAJ) in the mailing list

* kubeflow/kubeflow#3210 is tracking updating our tools to replicate images to GCR to be compatibile with private GKE.

  *

[2020-01-12 04:56] haghabozorgi commented on #4517
@yanniszark  with the `28c59ef` image
when I set issuer in dex config to https://kubeflow.example.com/dex
and oidc_provider in oauthservice  also to https://kubeflow.example.com/dex I get the error message in oauthservice pod logs.

[code]

Note, in google the authorized javascript origins is set to https://kubeflow.example.com and the authorized redirect uris is set to https://kubeflow.example.co

[2020-01-12 09:55] kierenj opened #4644 "build_image_from_working_dir / func_to_container_op: No matching credentials were found, falling back on anonymous"
/kind bug

I'm getting an error when running some pipeline-building code in a notebook running on a kubeflow cluster I set up last Oct. It's run OK in the past.

**What steps did you take and what happened:**
[code]

Output:
[code]

**What did you expect to happen:**
Everything to succeed, as it always has with identical code in the past, and did around 30 minutes ago.

**Anything else you would l

[2020-01-12 14:28] jadechip commented on #4642
Still having issues

[2020-01-12 15:06] AGKhalil commented on #4538
Happy new year guys. Now please look at this issue 😄

[2020-01-12 15:28] yanniszark commented on #4517
@haghabozorgi thanks for reporting.
I tried it out and indeed you get a 403 error.
The reason is that the oidc-authservice Pod hasn't become ready yet and that makes the authservice Service not pick up its endpoints.
To resolve, please add: `publishNotReadyAddresses: true` to the authservice Service spec.
I will promptly submit a PR to resolve this.

[2020-01-12 15:52] psisoft commented on #4642
For those who use kubeflow 0.5, you can download kfctl source code, unzip the file and go to scripts folder you will find kfctl.sh file, instead of using kfctl command you can just use ./kfctl.sh
I hope it will help who work on v0.5

[2020-01-12 15:53] kbentaleb commented on #4642
For those who use kubeflow 0.5, you can download kfctl source code, unzip the file and go to scripts folder you will find kfctl.sh file, instead of using kfctl command you can just use ./kfctl.sh
I hope it will help who work on v0.5

[2020-01-12 15:59] haghabozorgi commented on #4517
@yanniszark  thanks for your reply. I can confirm setting the `publishNotReadyAddresses: true` works as expected. Looking forward to your PR. Thanks again.

[2020-01-12 16:47] yanniszark commented on #4588
@jlewi I had not realized that in the case of the GCP Plugin, you want to get the user's input.
In that case, having that setting appear in the Profile spec is desirable.
However, I believe this options is not exposed yet in the central dashboard.

The other mentioned issues are:
* The Profile controller edits the Profile spec. This should happen in a mutating admission webhook, as controllers sho

[2020-01-12 17:01] yanniszark commented on #4589
/cc @yanniszark

[2020-01-12 18:05] yanniszark commented on #3831
/remove-lifecycle stale
/lifecycle frozen

[2020-01-12 19:02] Cass0n commented on #4642
The same issue started to happen to me, but I ended up solving it.

I manually downloaded some of the files referenced in "uri:" clauses in the config yaml, and I noticed that some of the files returned a redirection notification.

I then replace the uris with the redirected ones and the install worked.

[2020-01-13 03:15] darthkabelo commented on #4642
Same issue

[2020-01-13 03:46] prsrepo commented on #4642
Same issue

[2020-01-13 05:03] jaejuning commented on #4642
same issue!

[2020-01-13 06:11] #4610 closed

[2020-01-13 07:33] kenugraha commented on #4642
I got this error similar to @kbentaleb

[2020-01-13 07:40] Tomxin commented on #4642
it worked for me

[2020-01-13 09:04] cromagnonninja commented on #4642
Doesn't work, says invalid string. If the location is "`/home/bhanu/kubeflow_mnist`", the uri would be `file://home/bhanu/kubeflow_mnist/v0.7-branch.tar.gz`, right? This doesn't work.

[2020-01-13 09:57] charlesparasa commented on #4642
You can upload the c0e81bedec9a4df8acf568cc5ccacc4bc05a3b38.tar.gz  to s3/Or any cloud storage and change the manifest URI.

This worked for me in aws

[2020-01-13 10:00] oxxygenio commented on #3650
Here is the 2 most important steps of how to get istio working on the private cluster in GKE. Spent 4 full days hunting this down.
1. Allow incoming traffic, use Cloud NAT, this will allow access to istio images. (i.e. **istioctl manifest apply** will work)
2. Set the firewall rule for the master to allow port 9443 on ingress, if you don't the sidecar webhook inject will not work (no pods will be

[2020-01-13 11:07] #4517 closed

[2020-01-13 13:02] prem0912 opened #4646 "kubeflow basic auth and iap installation Error 400: Invalid value for field 'resource.name': 'kf_name-storage'."
/kind bug

Kubeflow installation with istio is working but failing with basic_auth and iap

Unable to install kubeflow basic_auth and iap in gcp
Steps followed from kubeflow.org and issue comment
https://github.com/kubeflow/kubeflow/issues/4642#issuecomment-573156473
[A clear and concise description of what the bug is.]

root@ubuntu:~/demo_dir/kf_name#  export CONFIG_FILE=kfctl_gcp_basic_auth.0.7.

[2020-01-13 16:13] yanniszark commented on #4215
@discordianfish thanks a lot for taking the time to write down a proposal.

We (Arrikto) have also encountered this issue and we came up with a slightly different solution, which we believe is simpler and more effective.

In our solution, extra resources are defined in a ConfigMap which is given to the Profile Controller.
Each namespace belonging to a Profile is reconciled to make sure all the nec

[2020-01-13 16:43] calvin-is-seksy commented on #4642
Adding onto @srinjay-paul answer earlier, my kfctl command was unable to untar the file, so here's my step by step of unzipping the manifest file first and then direct your .yaml uri file to it like so:

    1. `wget https://github.com/kubeflow/manifests/archive/v0.7-branch.tar.gz`
    2. `tar xvf v0.7-branch.tar.gz`
    3. Delete .cache/ and kustomize/ folders in the kf app folder.
    4. Change

[2020-01-13 16:46] kenugraha commented on #4642
This worked for me. Either gcp deployment or kfctl deployment it is fine

[2020-01-13 16:48] jadechip commented on #4642
@srinjay-paul's solution worked for me too...
...when building, just remember to set the CONFIG_URI variable to point to the local kfctl_gcp_basic_auth.0.7.1.yaml file