[2019-04-16 02:48] sarahmaddox opened #3029 "Textual improvements to the Kubeflow deployment UI"
Hallo to the Kubeflow team!

I've run a tech writer's eye over the Kubeflow deployment UI:
https://deploy.kubeflow.cloud/

Here are some suggestions for improving consistency and readbility of the text on the UI:

* Change capitalization **kubeflow** to **Kubeflow** in all occurrences of the UI text, because Kubeflow is a brand name.

* Change capitalization:
  from **Login with GCP Iap**
  to **L

[2019-04-16 08:18] ChethanUK commented on #3003
I have set both
[code]
and followed https://www.kubeflow.org/docs/gke/deploy/deploy-cli/

But got error:
[code]

[2019-04-16 10:20] hougangliu opened #3030 "kubeflow builder"
For now, it's hard for beginners to use kubeflow components, such as creating a pipeline including HP tune, train, serving and so on.

Maybe we can add a new command or subdemand of kfctl to build a "init" version of kubeflow components. For example:
`kfctl build pipeline --with-katib --with-tfjob --with-serving` generates a pipeline framework python file including katib-laucher, tfjob-laucher and

[2019-04-16 11:34] ianhellstrom opened #3031 "Does the tf.Serving prototype automatically grab new model versions?"
The prototype for TensorFlow Serving requires a [model base path](https://www.kubeflow.org/docs/components/tfserving_new/). Does this mean the service that runs the saved model automatically swaps when a new TensorFlow model version is stored in the same base path, or does the base path have to point to a specific saved model (incl. auto-generated model version)?

It does not say so in the documen

[2019-04-16 13:06] vkoukis commented on #3011
@marrrcin

We have been working on making the second option -- working with volumes -- as easy as possible with KF Pipelines. We have a PR pending for this, see kubeflow/pipelines#801.

Working with volumes does have a few advantages:
* Bringing the data to a local volume in one of the first steps means you won't need to write code to access object storage directly in the next steps of the pipelin

[2019-04-16 13:08] marrrcin commented on #3011
OK, thanks @vkoukis . Looking forward for this PR to resolve!

[2019-04-16 13:08] #3011 closed

[2019-04-16 13:23] hno2 commented on #2522
I just upgraded to 0.5 hoping adding this was easier in this version. How can I add shm or mount` /dev/shm` with the new juypter spawner?

[2019-04-16 13:24] mcminis1 commented on #2852
I ran into this problem while installing seldon to my cluster. I added it in twice, once as seldon and another time as seldon-core. This might have been the root cause for this issue, as well as argocd not syncing.

[2019-04-16 13:31] jlewi commented on #3030
How does this compare to just providing YAML or python files that people can copy and paste to get started?

[2019-04-16 13:49] gyliu513 commented on #3030
@jlewi I think adding kueflow builder can make life easier, such as for pipeline, we can let end user input some parameters and the kubeflow builder can generate the python framework of the pipeline automatically, and the file will include some comments like where should be updated and where should not etc, just like [kubebuilder](https://github.com/kubernetes-sigs/kubebuilder).

If we just give t

[2019-04-16 14:25] mcminis1 opened #3032 "StatefulSet needs ServiceName for Argocd validation"
Stateful sets need a service name to sync in Argocd.

There are 2 missing StatefulSet.serviceNames:
iap.libsonnet : backend-updater
webhook.libsonnet: webhook-bootstrap

[2019-04-16 16:41] jlewi commented on #2874
Here's our current unittest workflow
https://github.com/kubeflow/kubeflow/blob/master/testing/workflows/components/unit_tests.jsonnet

[2019-04-16 16:46] gabrielwen commented on #3003
`CLIENT_ID` and `CLIENT_SECRET` is for Oauth.  Your error is most likely because of `GOOGLE_APPLICATION_CREDENTIALS` env.  Could you try to set `export GOOGLE_APPLICATION_CREDENTIALS=` and see if it works?

[2019-04-16 17:57] gabrielwen commented on #2962
@kunmingg

[2019-04-16 17:58] kunmingg commented on #2962
@IronPan @hongye-sun
What's current status of pipeline dependency on ambassador? We are working on replace ambassador with istio.

[2019-04-16 18:02] jlewi commented on #2874
I think there are 3 pieces to this

1. Get kfctl unittests to pass

    * At least some of them are failing for me
    * A mixture of import path errors and actual test failures

1. Get it to run in a contianer

1. Add it to the argo workflow

[2019-04-16 19:50] #1997 closed

[2019-04-16 20:23] swiftdiaries opened #3035 "Migrate E2E tests off ksonnet"
E2E tests use ksonnet extensively. As part of ksonnet-turndown we'd like to migrate them to something else.

The current thinking is to use the k8s python client and Pipelines (or Argo).
Ideas and directions are welcome.

Action Item:
- [ ] Migrate one test, confirm design

/cc @richardsliu

[2019-04-16 20:23] swiftdiaries commented on #3035
/assign @swiftdiaries

[2019-04-16 20:29] swiftdiaries commented on #2630
I'm not sure about the approach for unit testing components.
I'm working on kfctl kustomize E2E test, I should have something before EOD or early tomorrow

[2019-04-16 20:46] rileyjbauer commented on #2852
Thanks for the direction @jlewi

I tried killing the pods and after the new ones were up, but I continued to see the errors, and there didn't seem to be anything notable in the ambassador or API server pod logs

[2019-04-16 20:52] rohithreddy commented on #3016
Hi @jlewi , I am interested in contributing, any pointers would help me

[2019-04-16 22:54] gabrielwen commented on #2978
should we also add routing rules for all components with `getambassador.io/config`?  e.g.:
- tensorbaord
- kubebench-dashboard
- openvino
- echo-server
- centraldashboard
- basic-auth
- seldon
- tf-job-operator

[2019-04-16 22:58] kunmingg commented on #2978
Definitely.
openvino should be part of pipeline migration effort.

@avdaredevil any concerns for migrating centraldashboard to istio?

[2019-04-16 23:02] kkasravi commented on #2882
/area devices

[2019-04-17 15:06] kkasravi opened #3041 "Document kustomize per godoc best practices"
Currently godoc is not recognizing private structs within packages and declarations of of the same name.

[2019-04-17 15:08] hno2 commented on #2522
Ok thank you for pointing me in the right direction. I edited this file, to include the empty dir `dshm `as described by @dmrub.
 https://github.com/kubeflow/kubeflow/blob/master/components/jupyter-web-app/kubeflow_jupyter/common/utils.py#L93-L104

Now fastai and pythorch are working without a issue.

@pdmack  @johnugeorge Do you want me to add a pull request adding a option for this in the jupyte

[2019-04-17 15:16] pdmack commented on #2522
Sounds great to me.

[2019-04-17 21:15] prodonjs opened #3042 "Navigation within iframes should reflect to dashboard’s URL"
Currently, the URL does not change when a user navigates through different areas of iframed KF pages such as KF Pipelines. This behavior prevents usage of the back button and also makes it impossible to copy a link that navigates directly to the page the user is viewing.

As the iframed page URL changes, its state should be reflected as clearly as possible in the parent URL of the KF dashboard.

[2019-04-17 21:16] prodonjs commented on #3042
/area centraldashboard
/area front-end
/cc @avdaredevil
/assign @prodonjs

[2019-04-17 21:16] prodonjs commented on #3042
/priority p1

[2019-04-17 22:56] prodonjs commented on #3042
/kind feature_request

[2019-04-17 23:14] AndriiNeverov commented on #2347
It seems that on envs with CRI the file is called /var/run/dockershim.sock.

Would it be possible to make this configurable?

[2019-04-17 23:51] avdaredevil commented on #2978
Will there be any route level / behavioral changes in terms of navigation between embassador vs istio?

I didn't think there would be any issues on our side.

/cc @prodonjs any thoughts?

[2019-04-18 03:13] hougangliu commented on #3021
@jlewi  in 0.6, will Ambassador be dropped or co-exist with Istio to proxy kubeflow UIs?

[2019-04-18 03:28] hougangliu opened #3046 "host of istio route rule uses hardcode cluster-domain"
I notice that host of istio route rule for multiple services of kubeflow component is like $servicename + $namespace + ".svc.cluster.local" in multiple PR, such as #3013 #3028 #3033 #3036

However `.cluster.local` can be set as a different value for k8s cluster with `cluster-domain` option.
I think $servicename + $namespace + ".svc" is enough.

@gabrielwen WDYT?

[2019-04-18 03:28] hougangliu commented on #3046
/assign @gabrielwen

[2019-04-18 07:23] carmine commented on #2347
@ktsakalozos .. please review

[2019-04-18 08:53] ktsakalozos commented on #2347
MicroK8s prior to v1.14 packages dockerd. That dockerd cannot use the default socket location since it would clash with any dockerd running on the host. Since v1.14, MicroK8s packages only containerd that has its own socket endpoint. In 1.14 you are expected to provide your own OCI images building tools chain (eg, docker). The socket endpoints are configurable in MicroK8s but they should also be c

[2019-04-18 14:19] kkasravi commented on #3030
There is an interesting way to do this using [datadriven commands](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cli/0032-datadrivencommands.md) which would allow a Resource Driven command to be driven by server input.
See the [PR](https://github.com/kubernetes-sigs/cli-experimental/pull/2)

This would allow a pipeline to be dynamically assembled on the client based on one or mor

[2019-04-18 17:34] jlewi commented on #3016
I think @pdmack might already be on this one?

[2019-04-18 17:37] jlewi commented on #767
@rohithreddy this is an area where we could use help.

There is a lot of interest in SWIFT these days. FAST AI in particular is getting on board.
https://www.fast.ai/2019/03/06/fastai-swift/

[2019-04-18 17:37] jlewi commented on #3016
@rohithreddy How about trying out SWIFT on Kubeflow #767?

[2019-04-18 17:37] gabrielwen commented on #3046
from [here](https://github.com/istio/api/blob/6b8d1849e7f44ef523b4442af69b57ddc960d38b/networking/v1alpha3/virtual_service.proto#L330) it seems it's either short name (e.g. service name) or fully qualified name.  Kunming and I tried to use `service name` + `namespace` but ISTIO couldn't resolve it correctly.  Therefore I doubt `service name` + `namespace` + `.svc` would work.  I could try to see i

[2019-04-18 17:48] ashahba commented on #2910
@kkasravi Thanks for filing this issue.
Do you think we can work together and put more details on it or even come up with something like a design doc?

[2019-04-18 18:07] jlewi opened #3047 "Does kfctl need to build the Application resource dynamically?"
This is a follow on to #2971.

One of the issues that came up in that review is whether we need to dynamically modify the Application resource defining Kubeflow. Here's the code
https://github.com/kubeflow/kubeflow/blob/665134ecfe799c5377fac8b5ce26a13c34221717/bootstrap/v2/pkg/kfapp/kustomize/kustomize.go#L208

Currently the application resource is dynamically setting the list of componentkinds in

[2019-04-18 18:50] clj2567 opened #3048 "Does Kubeflow have functionality to terminate a run?"

[2019-04-18 19:17] pdmack commented on #2852
Seeing this too from recent master in EC2. Went down to 1 ambassador replica but no joy.

[2019-04-18 19:37] lluunn opened #3049 "kfctl install istio fails with GOOGLE_APPLICATION_CREDENTIALS"
Just like what we do in [test](https://github.com/kubeflow/kubeflow/blob/master/testing/kfctl/kfctl_go_test.py):
1. use GOOGLE_APPLICATIOB_CREDENTIALS to point to a service account
1. gcloud activate that
1. set email to that service account

Installing istio failed to create clusterrole.
However, there is already a binding for service account and cluster admin.

Maybe it's because when installing

[2019-04-18 20:35] avdaredevil commented on #2974
/remove-kind bug

[2019-04-18 20:49] avdaredevil commented on #2976
Any progress on this @jlewi. It's blocking: #2885 (#2935)

[2019-04-18 22:01] avdaredevil commented on #3042
/remove-kind bug
/kind feature-request

[2019-04-18 22:27] pdmack commented on #3016
I haven't looked at this yet so still up for grabs.

[2019-04-18 22:38] lluunn commented on #3049
From the audit log, the user trying to create clusterrole is: 108944523862763815402
not the service account

Not sure how it gets 108944523862763815402...

[2019-04-18 22:40] lluunn commented on #3049
<img width="1041" alt="Screen Shot 2019-04-18 at 15 39 23" src="https://user-images.githubusercontent.com/32310205/56395626-2efeb300-61f0-11e9-9784-ab759bfe0d40.png">

The user who updating the admin binding is the same.

[2019-04-18 22:50] lluunn commented on #3049
<img width="1008" alt="Screen Shot 2019-04-18 at 15 48 28" src="https://user-images.githubusercontent.com/32310205/56395922-7174bf80-61f1-11e9-82e5-6d5b2b16703f.png">

The ksonnet apply has the correct identity: admin-sa@kai-test2...

Which is different from 1089... used by creating admin binding and scretes and istio.

[2019-04-18 22:52] lluunn commented on #3049
https://github.com/kubeflow/kubeflow/blob/master/bootstrap/pkg/kfapp/gcp/gcp.go#L667-L682

So using this way, we get identity 108944523862763815402

[2019-04-18 23:23] jlewi commented on #2874
Here's the full output of `go test ./...`

[code]

It looks like there are different tests failing for different reasons.

[code]

This is failing because of package import issues. It looks like the test is trying to import some package that doesn't get imported as part of a regular build so that explains why kfctl can build.

The app test looks like a legitmate test failure

[code]

So I think we

[2019-04-18 23:37] jlewi commented on #3048
@clj2567 Can you provide more information about what you mean? Do you mean a pipeline run?

[2019-04-18 23:39] jlewi commented on #3032
@mcminis1 Any interest in submitting a PR?

[2019-04-18 23:39] jlewi commented on #3031
/cc @lluunn @ellis-bigelow

[2019-04-18 23:40] jlewi commented on #3027
/assing @kunmingg

[2019-04-18 23:40] jlewi commented on #3021
@hougangliu the goal is to be migrated completely over to ISTIO

[2019-04-18 23:41] jlewi commented on #3015
@dyoung23 Do you want to try 0.5? In 0.5 we no longer use JupyterHub; so that might fix the problem for you.

[2019-04-19 00:02] hougangliu commented on #3046
From the link, it seems we should use full path name. But as mentioned above,  hardcode `.cluster.local` is a potential issue. How about add a param named `clusterDomain`, if `clusterDomain` set, use it. Otherwise use "cluster.local" by default

[2019-04-19 00:25] lluunn commented on #3031
By default it will grab the new model.
E.g. if your base path is gs://bucket/mymodel/
and you have a first model gs://bucket/mymodel/1/saved_model.pb

When you upload the new model at gs://bucket/mymodel/2/saved_model.pb, TF serving will grab it.

For the grace period, I think TF serving should use the new model right after the loading is done, but I am not sure about the detail

[2019-04-19 03:28] dyoung23 commented on #3015
@jlewi Thanks.I will try it later.
But something strange happen on me,it works currently and I do nothing these days.

[2019-04-19 05:18] gabrielwen commented on #3046
Yea, agree.  I'm thinking about the same thing :)

[2019-04-19 08:17] cndaimin commented on #2863
@gachiemchiep
It seems like `is_kubeflow_ready ` function will check pods' status forever if the pods have not been created before, and what I did is moving this check function to the next line after this statement `kubectl apply --validate=false -f default.yaml`.

[2019-04-19 10:21] matthen opened #3055 "ImagePullBackOff for kube-metacontroller"
I am running kubeflow v0.3, and just found that kube-metacontroller is down with the following error event:

[code]

is there a known solution to this? Thanks!

[2019-04-19 12:24] bigdatamlai commented on #17
Tensorboard is not comming up on kubeflow
put this in root /mlpipeline-ui-metadata.json
{
  "version": 1,
  "outputs": [
    {
      "type": "tensorboard",
      "source": "/mnt/share/tflogs"
    }
  ]
}

[2019-04-19 13:22] jlewi commented on #3055
I think v0.3 is using a very old version of kube-metacontroller and an outdated image. The updated ksonnet package is here
https://github.com/kubeflow/kubeflow/tree/v0.5-branch/kubeflow/metacontroller

The current image is here:
metacontroller/metacontroller:v0.3.0

You can try just substituting in the image; but I think other changes were needed to upgrade metacontroller. Your best bet is probabl

[2019-04-19 13:33] jlewi opened #3056 "kfctl application_types_test and v1alpha_suite_test don't pass"
In #2874 we started running kfctl unittests on pre/post submit. That uncovered the fact that the following tests aren't passing

https://github.com/kubeflow/kubeflow/blob/master/bootstrap/pkg/apis/apps/kfdef/v1alpha1/application_types_test.go
https://github.com/kubeflow/kubeflow/blob/master/bootstrap/v2/pkg/apis/apps/kfdef/v1alpha1/application_types_test.go

https://github.com/kubeflow/kubeflow/bl

[2019-04-19 13:38] clj2567 commented on #3048
@jlewi Yes. Aborting a pipeline run. Say there is some issue during training and we want to abort the run. Is there any way to do it now?

[2019-04-19 13:42] jlewi opened #3057 "jupyter controller needs unittests"
There are currently no unittests for jupyter controller.

We should write some unittests and add them to CI.

[2019-04-19 13:44] jlewi opened #3058 "Run profile controller unittests as part of ci"
profile controller should be running as part of CI.

For reference:

#2874 issue Add kfctl unittests to ci
#3052 PR adding kfctl unittests to ci

[2019-04-19 15:31] matthen commented on #3055
Thanks for the advice

[2019-04-19 15:32] #3055 closed

[2019-04-19 18:05] kunmingg commented on #3027
Will be fix in next image update.

[2019-04-19 18:15] gabrielwen commented on #3046
Pending PRs are updated.

[2019-04-19 21:03] gabrielwen commented on #2766
/assign @gabrielwen

[2019-04-19 21:19] lluunn opened #3061 "BuildConfigFromClusterInfo returns config with wrong identity"
https://github.com/kubeflow/kubeflow/blob/de1fc808b40f58e4bbb7199fedb68df29d412c98/bootstrap/pkg/utils/gcputils.go#L60

See this issue for more info.
https://github.com/kubeflow/kubeflow/issues/3049

[2019-04-19 22:06] gabrielwen commented on #2978
I don't think it'll be any different (and it shouldn't be).  @avdaredevil @prodonjs please help review #3037 when you have chance, thanks.

[2019-04-19 23:27] #2891 closed

[2019-04-19 23:27] #3049 closed

[2019-04-20 01:26] solomatov opened #3063 "How to open UI?"
I installed the latest kubeflow with kfctl. It generated files, and applied them, but I wasn't able to find any executable files to show UI on ports forwarded to localhost. What should I do? It would be nice if you provide documentation about it.

[2019-04-20 04:11] avdaredevil opened #3065 "Firefox Height issues for Dashboard"
#### Sibling issue #2847

## About
Issue brought up: https://kubeflow.slack.com/archives/C7REE0EHK/p1555394151061800
![image](https://user-images.githubusercontent.com/5303018/56452623-b7ac4a80-62e7-11e9-9803-10c679848f6b.png)

[2019-04-21 10:58] jlewi commented on #3063
@solomatov There is documentation for accessing the UIs here.
https://www.kubeflow.org/docs/other-guides/accessing-uis/

[2019-04-21 11:00] jlewi commented on #3048
@paveldournov @vicaire @IronPan do you know the answer? I'm guessing a user could always try to find and delete the underlying Argo workflow.

[2019-04-21 11:04] jlewi commented on #3061
/cc @gabrielwen @kkasravi

[2019-04-21 19:55] #2445 closed

[2019-04-22 00:55] gachiemchiep commented on #2863
@cndaimin Thank you man

[2019-04-22 06:30] paveldournov commented on #3048
There is an API and a UI element to stop the workflow in KF Pipelines.
To stop the workflow execution from within the pipeline itself - you can use a conditional operator.

[2019-04-22 11:39] clj2567 commented on #3048
@paveldournov Could you please direct me to a link to the API or UI element? I have looked for it but I didn’t find one .

[2019-04-22 12:24] jlewi commented on #3020
@swiftdiaries @kkasravi How's this coming? What are the key blocking issues & PRs?

[2019-04-22 12:25] jlewi commented on #2568
@kkasravi Is this fixed by #2971?

[2019-04-22 12:26] jlewi commented on #2630
@swiftdiaries How's this coming?  Looks like you have #3060 in progress?

[2019-04-22 12:29] jlewi commented on #2566
@swiftdiaries @kkasravi How's this issue coming? What packages remain? Should we close it out in favor of more specific issues?

[2019-04-22 12:30] jlewi commented on #2629
@kkasravi Is this fixed by #2971?

[2019-04-22 12:32] jlewi commented on #2976
@avdaredevil No; I don't think there has been any progress.

[2019-04-22 12:41] jlewi commented on #2885
@avdaredevil see https://github.com/kubeflow/kubeflow/issues/2976#issuecomment-485407082 for not being blocked on uber Application K8s resource being defined.

[2019-04-22 12:42] jlewi commented on #2421
Per https://bit.ly/2BukRoW I think the current plan is to use the sig-apps controller and not build our own controller. So I'm closing this out.

/lifecycle obsolete.

[2019-04-22 12:42] #2421 closed

[2019-04-22 13:07] jlewi commented on #2844
@zabbasi How's this coming?

[2019-04-22 13:08] jlewi commented on #3017
@zabbasi What are the blocking issues to getting #3022 merged?

[2019-04-22 13:15] jlewi commented on #2982
@kunmingg How's this coming? Can you explain the issue again? Will we just use RBAC as opposed to GKE IAM roles to grant users access to the KF cluster so that they only have access to specific namespaces?

[2019-04-22 13:36] prodonjs commented on #3065
/area front-end
/area centraldashboard
/assign @avdaredevil
/priority p0

[2019-04-22 13:52] jlewi commented on #3007
@lluunn @gabrielwen It looks like there is an E2E test now for ISTIO. What is the remaining work to enable ISTIO by default?

[2019-04-22 13:55] jlewi commented on #2261
@Jeffwan I think with ISTIO if you add a notebook or TFServing model and want to add a reverse proxy route for it you would do it by adding it to the ISTIO service mesh by creating a virtual service.

For notebooks our Jupyter CR resource will take care of it. For other resources like TFServing, TensorBoard users would have to include the virtual service manifest; or we'd have to provide a kustomi

[2019-04-22 14:09] jlewi commented on #3030
@hougangliu @gyliu513 If you want a tool/sugar to make generating a basic pipeline for users should that be a feature of pipelines and separate from kfctl? I believe pipelines has it own CLI.

Similarly if other applications want to generate scaffolding; should they provide their own libraries and tools to do so? Or reuse existing tools like kustomize/helm when appropriate?

I think of kctl as opt

[2019-04-22 14:10] jlewi commented on #3016
@rohithreddy interested?

[2019-04-22 14:10] jlewi commented on #3015
Glad to hear it @dyoung23; I'll go ahead and close this.

[2019-04-22 14:10] #3015 closed

[2019-04-22 14:27] jlewi commented on #2797
@suleisl2000 Please create a cherry pick for #2909 if one is needed. You can use this script
https://github.com/kubeflow/kubeflow/blob/master/hack/cherry_pick_pull.sh

[2019-04-22 14:47] jlewi commented on #1583
@reinhouthooft No update on our end. If you are using TFX on Beam on Flink it would be great if you could share information about how you are doing that. If you provide a repo I can try to loop in some of the TFX folks.

(ps for a timely response best bet is to reach out on kubeflow.slack.com)

[2019-04-22 14:52] jlewi commented on #1254
@nkpng2k Yes kustomize is what I would recommend. You could add your manifest here:
https://github.com/kubeflow/manifest.

p.s DriverLess AI is really cool (saw another demo at OReilly AI). Any thoughts about how Kubeflow and Driverless AI might play together? Would you want to train on DriverLess and then deploy on Kubeflow?

[2019-04-22 14:56] jlewi commented on #1057
@siddsuresh97 Docs for creating custom Jupyter images are here
https://www.kubeflow.org/docs/notebooks/custom-notebook/

So I think if you were interested you could start by building a jupyter image suitable for PyTorch and making it work with Kubeflow. You could then publish it on DockerHub and provide instructions here or in kubeflow/website on how people could use it for PyTorch.

[2019-04-22 15:50] prodonjs commented on #2976
Thanks for the guidance Jeremy. I've moved ahead based on your suggestions and I should have something ready to demonstrate on PR #2935 sometime today/tomorrow.

[2019-04-22 16:31] jlewi commented on #2086
We need to update the instructions https://www.kubeflow.org/docs/gke/private-clusters/ to work with Kubeflow 0.5.

Here's some work I forsee

* We need to update the instructions to use kfctl
* We should figure out a solution for generating a certificate for the endpoint since certmanager won't work
  * Simplest option is to use a self-signed certificate using kube-rsa ([example](https://github.co

[2019-04-22 16:41] #2986 closed

[2019-04-22 17:18] jlewi opened #3071 "[GCP] network config should be created before other GCP DM configs"
The order of operations for the DM configs matters because some resources might depend on others

For example we might create a new network which might be used by GCFS and/or the GKE cluster

https://github.com/kubeflow/kubeflow/blob/15aad9bf896a4c789909cf4d7af41d4819955bbc/bootstrap/pkg/kfapp/gcp/gcp.go#L558

The GKE cluster might need to use the new network because legacy networks don't support

[2019-04-22 17:19] zabbasi commented on #2844
Addressed in #3064. Currently integrated existing podpreset solution to kubeflow webhook component and made it working. Working this week to customize it to our requirements (e.g., set podpresets scope to namespace , add serviceaccount)

[2019-04-22 17:24] zabbasi commented on #3017
#3000 needs to be resolved so that users are able to create notebook in other namespaces.

[2019-04-22 17:41] lluunn opened #3073 "build kfctl binary for windows"
From @avdaredevil , we need to set env var:
[code]

However, with this I got
[code]

unset the env vars the build will succeed.
@r2d4 do you have experience building windows binary?

[2019-04-22 17:41] gabrielwen commented on #3007
I've added bunch of params to prototypes:
https://github.com/kubeflow/kubeflow/blob/15aad9bf896a4c789909cf4d7af41d4819955bbc/kubeflow/katib/prototypes/all.jsonnet#L16

therefore we need to add those params to configs before we can actually turn on istio, I think:
https://github.com/kubeflow/kubeflow/tree/master/bootstrap/config

[2019-04-22 17:43] lluunn commented on #3007
@gabrielwen I think that's for removing ambassador?
Installing istio in #3072

[2019-04-22 17:45] gabrielwen commented on #3007
oh, that's true if you want to separate them into 2 steps.

[2019-04-22 18:44] prodonjs commented on #3042
/kind improvement/enhancement

[2019-04-22 18:47] prodonjs commented on #3042
/label improvement/enhancement

[2019-04-22 19:44] vicaire commented on #3048
@clj2567, it is possible that you need to upgrade to the latest release of Kubeflow/pipeline.

Here is the API to terminate a run: https://github.com/kubeflow/pipelines/blob/master/backend/api/run.proto#L116

The UI supports this feature as well.

Adding @rileyjbauer who worked on this feature.

[2019-04-22 19:53] clj2567 commented on #3048
@vicaire Thank you for pointing me in the right direction. But according to this releases, I maybe wrong, but I saw that it has only been merged into the master but no release.

[2019-04-22 19:54] gabrielwen commented on #2978
the to-do list is down to 2 items - basic auth and seldon.

[2019-04-22 20:06] swiftdiaries commented on #2630
#3060 is for the E2E test. Now that #2971 is merged, I'll go ahead and merge that.
For the unit tests of manifests, I'm currently exploring the kustomize test harness. [Reference](https://github.com/kubernetes-sigs/kustomize/tree/master/pkg/target).

I'm having a bit of trouble because the implementation is split between two packages inside the same directory. I'm not sure how to import them for u

[2019-04-22 20:06] nkpng2k commented on #1254
@jlewi thanks for the response, will be working on this, this week. As for how Driverless and Kubeflow might play together, I think deployment would be the lowest hanging fruit. I've got some other thoughts in mind, but early development, can't be placed in an open thread =)

Is the Kubeflow slack channel still a thing? Would be happy to pick your thoughts online.

btw: https://github.com/kubeflow

[2019-04-22 20:37] gabrielwen commented on #2766
/priority p1

[2019-04-22 20:39] gabrielwen commented on #2766
/remove-priority p2

[2019-04-22 21:08] avdaredevil commented on #2952
@prodonjs I think local storage could tackle this issue, right? Since we don't really have a database. And we would do some stylistic changes to make it look like something was auto-filled

The only caveat in this comes if users want to change the fields, do we want to remember more identities, or just the last successful one? @jlewi

[2019-04-22 21:22] avdaredevil commented on #2976
Thanks, Jeremy; this helps!

[2019-04-22 21:23] avdaredevil commented on #2976
/assign @prodonjs

[2019-04-22 21:42] Ark-kun commented on #2952
AFAIK, you just need to specify the proper input types and the browser will handle it automatically.
It's more of the browser's business to remember and auto-fill the identities.

[2019-04-22 22:17] vicaire commented on #3048
Got it. We usually have a weekly release so hopefully it should be
available by the end of the week. Thanks!

On Mon, Apr 22, 2019 at 12:54 PM clj2567 <notifications@github.com> wrote:

[2019-04-22 23:10] jlewi opened #3079 "[GCP] Use managed certificates instead of cert-manager"
In 0.6 we should switch to using GCP managed certificates
https://cloud.google.com/kubernetes-engine/docs/how-to/managed-certs

This is blocked on upgrading to GKE 1.12 or later see #3023

[2019-04-23 00:25] avdaredevil commented on #3065
This was actually resolved by #2859. @prodonjs' cluster has this change in but @zabbasi's does not. Need to see why that is

[2019-04-23 00:31] jlewi opened #3081 "[GCP] Document how to deploy kubeflow with VPC service controls"
We should document how to setup Kubeflow with VPC service controls on GCP.
https://cloud.google.com/vpc-service-controls/docs

Service controls allow users to setup a security zone around their GKE clusters. This is a key requirement for things like data exfiltration protection.

One of the issues that will need to be addressed as part of this is making it easy for users to replicate Kubeflow imag

[2019-04-23 00:32] jlewi opened #3082 "[GCP] Document how to use Kubeflow with shared VPC"
We need to document how to use Kubeflow with shared VPC.
https://cloud.google.com/vpc/docs/shared-vpc

[2019-04-23 02:59] avdaredevil commented on #3065
This seems to be in v0.5.0. Have to chalk these issues to a slightly older 0.5.0 release:
https://github.com/kubeflow/kubeflow/blob/v0.5-branch/components/centraldashboard/public/styles.css#L11

[2019-04-23 02:59] #3065 closed

[2019-04-23 08:12] lp-pl commented on #2958
I met the same problem：

![2019-04-23 15-58-10 的屏幕截图](https://user-images.githubusercontent.com/10861802/56565129-3bb14b80-65e2-11e9-95e0-70b87d344b43.png)
The  logs are as follows:
[code]

[2019-04-23 08:23] kkasravi commented on #2629
yes

[2019-04-23 08:23] #2629 closed

[2019-04-23 08:24] kkasravi commented on #2568
yes

[2019-04-23 08:24] #2568 closed

[2019-04-23 09:53] spaghettifunk opened #3085 "[Suggestion] Centraldashboard Service as LoadBalancer"
I was wondering if it was possible to deploy the Centraldashboard with `service type` as `LoadBalancer` instead of `ClusterIP`. I think it would be useful for those people that are not familiar with `kubectl` command line.

I tried to remove the current `svc/centraldashboard` and convert it to `LoadBalancer` as below

[code]

but when I access the UI the redirect to the various pages doesn't work

[2019-04-23 11:46] shalberd opened #3086 "Notebooks-Controller in v0.5 error StatefulSet blockOwnerDeletion, PVC issue openShift 3.11"
![grafik](https://user-images.githubusercontent.com/21118431/56578416-eec37a00-65cd-11e9-8ca0-1b250b09cf2d.png)
[code]
OKD 3.11

[2019-04-23 13:32] prodonjs commented on #3065
Interesting, @zabbasi, can you provide the container image from the centraldashboard Pod in your cluster? This change was in the tagged release, but because of the way the container images are tagged, it's not obvious which image in https://console.cloud.google.com/gcr/images/kubeflow-images-public/GLOBAL/centraldashboard?gcrImageListsize=30 corresponds to the golden release of 0.5.0.

@avdaredevi

[2019-04-23 15:36] shalberd commented on #3086
It seems that when I edit notebooks-controller role to include /finalizers
´´´
oc edit clusterrole notebooks-controller
 apiGroups:
  - kubeflow.org
  attributeRestrictions: null
  resources:
  - notebooks
  - notebooks/finalizers
  - notebooks/status
´´´
I get further.
´´´
{"level":"error","ts":1556025816.5004294,"logger":"kubebuilder.controller","msg":"Reconciler error","controller":"notebook-co

[2019-04-23 21:06] rohithreddy commented on #3016
@jlewi yes, I am

[2019-04-23 22:54] sh0gg0th opened #3091 "Cannot deploy on existing Kubernetes cluster - cert problem"
Following the instructions in https://www.kubeflow.org/docs/started/getting-started-k8s/, `kfctl apply all -V` throws the following error:

`ERRO[0000] (Will retry) Component metacontroller apply failed; Error: invalid configuration: unable to read certificate-authority certs/<my cluster IP>/k8s-ca.crt for <my cluster IP> due to open certs/<my cluster IP>/k8s-ca.crt: no such file or directory  fil

[2019-04-23 23:39] kkasravi opened #3092 "Update the profile-controller, Profile CRD and profiles manifest to include IAM Groups and Application info"
Organized by changes to the Profile CRD, the profile-controller and the profiles manifest.

Profile CRD Changes
1. add resourcequotas to the Profile CRD that can include device quotas for the namespace
    1. pod limits that include device info should be added to the admission controller as a podpreset
    1. Both namespace resourcequotas and podpreset may be expressed as a kustomize overlay
1. ad

[2019-04-24 00:27] kkasravi commented on #2233
The document is here https://docs.google.com/document/d/11vAkC25uNvm2z2smLUPmySZS16fjud6M2GFN6W-hYW8/edit#heading=h.ss1azctmy08s

closing this issue

[2019-04-24 00:27] kkasravi commented on #2233
/close

[2019-04-24 00:27] #2233 closed

[2019-04-24 02:08] #3046 closed

[2019-04-24 03:42] alienxt opened #3093 "TFJob Dashboard is not support pvc"
Hi all,
   When submitting several TFjobs, I need add cephfs pvc, I can't choose pvc option.

I am using kubeflow v0.5.0.

[2019-04-24 06:03] #3093 closed

[2019-04-24 06:40] rbo commented on #3086
Have the same problem with the finalizer.

@ kubeflow folks, it is ok to add `notebooks/finalizers` at this point:
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/jupyter/notebook_controller.libsonnet#L149 if so I would like to create pull request.

For my openshift deployment I did a lot of stuff that kubeflow/jupyter is working:
[code]
and some more for the other components.

[2019-04-24 07:20] shalberd commented on #3086
Minio, Katib and mysql can grab PVCs frpm PVs just fine
´´´
oc get pvc
NAME             STATUS    VOLUME    CAPACITY   ACCESS MODES   STORAGECLASS   AGE
katib-mysql      Bound     vol7      45Gi       RWO,RWX                       17h
minio-pvc        Bound     vol5      45Gi       RWO,RWX                       17h
mysql-pv-claim   Bound     vol13     45Gi       RWO,RWX                       17h
´

[2019-04-24 08:35] rbo commented on #3086
@shalberd all my stuff is documented here: https://github.com/rbo/RedHatHackathon-KubeFlow-Demo - but I'm working on v0.5. Trying to run the github-issue-summery demo. Important parts : https://github.com/rbo/RedHatHackathon-KubeFlow-Demo/blob/master/deployer/kubeflow-deploy.sh

[2019-04-24 08:59] shalberd commented on #3086
@rbo Thank you very much for your deployment script of kubeflow 0.5 on openShift.
I am using OKD, local hostPath storage, e.g. 20 PVs of size 45GB (not the 200 of 500 GB as in Grant Shipleys demo):
https://github.com/gshipley/installcentos/blob/master/vol.yaml

[2019-04-24 09:38] hno2 opened #3094 "No CUDA in tensorflow-1.13.1-notebook-gpu image"
Hey,

there seems to be no CUDA in the "tensorflow-1.13.1-notebook-gpu" image. This makes everything fail.

<details><summary>Output of nividia-smi for tensorflow-1.13.1-notebook-gpu</summary>
<p>

[code]

</p>
</details>

The Image "tensorflow-1.12.1-notebook-gpu" or lower works fine!
<details><summary>Output of nividia-smi for tensorflow-1.12.0-notebook-gpu </summary>
<p>

[code]

</p>
</details

[2019-04-24 10:08] hno2 opened #3095 "How to use own jupyter image with GPU-Support"
Hey there,

I tried building my own Image for Jupyter, but I can not get GPU support (with microk8s) working.
With the "stock" tensorflow images everything works fine, but with my own image i get this error:
<details>

` Error: failed to create containerd task: OCI runtime create failed: container_linux.go:348: starting container process caused "process_linux.go:402: container init caused \"proces

[2019-04-24 10:28] shalberd commented on #2402
is this appliable for v0.5, too?

[2019-04-24 12:25] krishnadurai opened #3096 "On Premise Auth Requirements"
This is a master issue to track all requirements and proposed solutions to enable Authentication and Authorization in on-premise systems. Here are some broad level features we are looking forward to integrating with Kubeflow as a part of our on-premise CUJ:

1. Auth provider integration for on-premise setup:
    1. Select an Open Source Project as an Auth provider and integrate it with our current

[2019-04-24 14:21] prodonjs commented on #2885
@jlewi https://kubeflow-1.endpoints.prodonjs-kubeflow-dev.cloud.goog/ demonstrates the behavior for GCP-specific platform-links. We extract the project ID and use it to build the links that display below the *GCP Information* header. Currently, we don't have any links defined for other platforms.

We also retrieve the version number from the first Application CR found in the namespace of the dashb

[2019-04-24 14:23] prodonjs commented on #2974
I'm going to close this issue since I think there are other issues that encompass the same topic and we're not currently blocked by anything additional.

/close

[2019-04-24 14:23] #2974 closed

[2019-04-24 14:28] JohnPaton opened #3098 "upgrade_ks_app.py is not python3 compatible"
Since python2 is nearly EOL it would be better to have this script work with python3.

[2019-04-24 14:54] cbchouinard opened #3099 "Failed to connect to my Hub at http://jupyter-0:8081/hub/api"
When doing a fresh install of Microk8s + kubeflow, we can spawn Jupyter server without problems. But when we restart the machine, we get this error when trying to spawn.

[code]

Running on Ubuntu, using snap to install Microk8s 1.13.

[2019-04-24 16:12] prodonjs opened #3100 "[Central Dashboard] Add commit hash to version at build time"
To ease debugging, ensure that the commit hash of the Central Dashboard is passed at build time and included in the UI for ease of version identification.

[2019-04-24 16:12] prodonjs commented on #3100
/area front-end
/area centraldashboard
/priority p2
/assign @avdaredevil

[2019-04-24 16:18] kkasravi opened #3101 "combining component manifest overlays"
In general we can expect different kustomize targets to combine different types of overlays.

Combining different overlays in an ad-hoc manner is possible in kustomize but should
be done on the fly, possibly via a script in the manifests repo and using componentParameter settings in kfctl.

For profiles - the kustomization.yaml that combines base, overlays/debug and overlays/devices looks like the

[2019-04-24 18:59] ucdmkt opened #3103 "[Documentation] GCP Project prerequisites"
The first step of "Kubeflow on GCP" > "Deploying Kubeflow" >  "[Set up a GCP Project]( https://www.kubeflow.org/docs/gke/deploy/project-setup/) documentation Deploying Kubeflow)" does not prescribe prerequisite to the required privileges.

In order to follow the guide to enable billing, enable APIs, and deploy Kubeflow from UI/CLI which involves creating a service account, it appears that admin pr

[2019-04-24 20:17] ajayalfred commented on #2546
We agreed (on a different git issue) to not iframe KF docs, but to link out to the page.

[2019-04-24 20:40] prodonjs commented on #2546
While we're at it, does it make sense to rename the sidebar link to "Documentation" or something to that effect? It seems redundant to have the Kubeflow logo and then say "Kubeflow docs" as a link.

[2019-04-24 23:30] #2952 closed

[2019-04-24 23:55] ajayalfred commented on #2546
"Documentation" sounds good to me. Good suggestion.

[2019-04-25 01:24] jlewi opened #3105 "[GCP] gcloud build submit error when using VPC"
I ran into the following problem when trying to use GCB with VPC Service controls to mirror Kubeflow images.

The job succeeds but gcloud returns an error which is confusing.

Creating this issue to follow up on it. It is likely user error on my part.

I have a project in which I created a perimeter with Google Cloud Storage and BigQuery.

I'm trying to use Google Cloud Build to mirror images into

[2019-04-25 01:42] jlewi commented on #3098
A PR would certainly be welcome.

On the other hand we will hopefully be migrated off ksonnet long before we hit python2 EOL.

[2019-04-25 02:15] jlewi opened #3106 "[GCP] Cloud Endpoints manifest doesn't support overriding the image"
There is a bug in the cloud endpoints ksonnet manifest.

https://github.com/kubeflow/kubeflow/blob/a9a9ef27a209eac81296437105b26cbe1d28d1f6/kubeflow/gcp/cloud-endpoints.libsonnet#L4

The default value doesn't get overwritten by the params value.

This is a problem when using Secure VPC and private GKE because we need to mirror the image into a private registry.

(We could also put the image into g

[2019-04-25 05:26] hno2 commented on #2522
fyi, I added this as pull request #3102

I will close this Issue once it is merged.

[2019-04-25 06:35] shalberd commented on #2624
I see your code above, but I do not understand what you mean by injecting the setting when starting the notebook in 0.5, e.g. using base image tensorflow-1.13.1-notebook-gpu

The Nvidia Device Plugin deamonset in openShift 3.11 should need those settings:
--security-opt=no-new-privileges --cap-drop=ALL \
--security-opt label=type:nvidia_container_t

I tried running code without these settings and

[2019-04-25 06:53] lp-pl commented on #2958
@jlewi @kimwnasptd  Could you help me ？Thanks

[2019-04-25 07:26] llegolas commented on #2624
@shalberd this looks like problem with python and the libs available in the image not directly related to  openshift or k8s.
jupyter_config.py is loaded from configmap named jupiter-config within the kubeflow namespace.
You have to delete jupyter-0 pod after edit so it gets picked up.

[2019-04-25 07:36] lp-pl commented on #2958
Excuse me, I have solved the problem, Thanks .It was because of my wrong storageclass...

[2019-04-25 08:08] JohnPaton commented on #3098
Oh really? Is there a roadmap document about that? I'd be very interested.

I'll take a look at it but my experience with ksonnet is limited to this project so it's a bit of a catch-22 for me

[2019-04-25 08:10] shalberd commented on #2624
Thank you, @llegolas, I will do so and try another image as well, that is because, as you suggested, the image itself might be missing libs:

https://github.com/kubeflow/kubeflow/issues/3094

[2019-04-25 09:12] yylin1 commented on #3095
Try to use an older version of Jupyter Images.

[2019-04-25 09:34] shalberd commented on #2624
Legolas' tip and a different image together worked great.
[code]
Now of course it would be great to have this custom-injected via mentioned admission controller. Is anything planned in that regard?

[2019-04-25 11:03] shalberd commented on #3086
StorageClass Setup worked well, one by one, PVCs and associated PVs show up
A StorageClass solution would be something like hostPath on all the nodes.

# on each node, data directory, free to choose, e.g. /var/kubernetes
mkdir -p /var/kubernetes
# SELinux Label
chcon -Rt svirt_sandbox_file_t /var/kubernetes

Then use a hostPath provisioner StorageClass like (first three yamls) here:
https://github

[2019-04-25 12:08] jlewi commented on #3098
Most of the discussion happened in this thread:
https://groups.google.com/forum/#!searchin/kubeflow-discuss/ksonnet%7Csort:date/kubeflow-discuss/Zg14_Ok7XH4/GSPrle1tCwAJ

Here's the doc about kutomize
http://bit.ly/kf-kustomize

[2019-04-25 12:10] jlewi commented on #3094
/assign @pdmack @zabbasi

[2019-04-25 12:18] jlewi commented on #3095
Looks like there is a bug here:
https://github.com/kubeflow/kubeflow/blob/89a41ecb287237c5a947c361d27a62f48e07f6c3/components/tensorflow-notebook-image/versions/1.13.1gpu/version-config.json#L2

The base image isn't a gpu image.

We should be using an nvidia cuda image as the base image.
https://github.com/kubeflow/kubeflow/blob/master/components/tensorflow-notebook-image/versions/1.12.0gpu/versio

[2019-04-25 12:20] jlewi commented on #3094
Looks like there is a bug here:
https://github.com/kubeflow/kubeflow/blob/89a41ecb287237c5a947c361d27a62f48e07f6c3/components/tensorflow-notebook-image/versions/1.13.1gpu/version-config.json#L2

The base image isn't a gpu image.

We should be using an nvidia cuda image as the base image.
https://github.com/kubeflow/kubeflow/blob/master/components/tensorflow-notebook-image/versions/1.12.0gpu/versio

[2019-04-25 12:21] jlewi commented on #3095
Can you share your Dockerfile?

What are you using as the base image?

/cc @carmine

[2019-04-25 12:26] jlewi commented on #3091
How are you invoking kfctl?

Can you try running the ksonnet CLI directly

[code]

@gabrielwen @kkasravi any idea

[2019-04-25 12:30] jlewi commented on #3085
See: https://www.kubeflow.org/docs/other-guides/accessing-uis/#using-kubectl-and-port-forwarding
and https://github.com/kubeflow/kubeflow/issues/11

Kubeflow has many web applications; these are behind a gateway (Ambassador in 0.5 and earlier; ISTIO in future releases).

So its the gateway that should be exposed for external access.

This is why just exposing the central dashboard doesn't work; be

[2019-04-25 12:31] jlewi commented on #3073
/cc @aronchick

[2019-04-25 12:32] #3063 closed

[2019-04-25 14:08] JohnPaton commented on #3098
Thanks for the links! The kustomize doc was very enlightening, I'm checking out kustomize now!

[2019-04-25 14:36] kimwnasptd commented on #2958
Hi @lp-pl, you bumped into a small issue in the web app.

When checking the StorageClasses, the backend wouldn't check if an object doesn't have any annotations and tries to look for a specific key nevertheless.

I will make a small PR to fix this. Thank you for reporting it!

[2019-04-25 14:56] vishalsantv opened #3109 "NameSpace kubeflow hardcoded resulting in DNS issues ?"
*  brew install ksonnet/tap/ks
* curl -L -o kubeflow.tar.gz https://github.com/kubeflow/kubeflow/releases/download/v0.5.0/kfctl_v0.5.0_darwin.tar.gz
* tar -xzvf kubeflow.tar.gz
* ./kfctl init ks-app --version v0.5.0 --namespace kube-flow
* cd ks-app/
* ../kfctl generate k8s
* cd ks_app/
* ks show default > all.yaml
* Create a namespace kube-flow ( instead of kubeflow ) and create a kubeflow instal

[2019-04-25 16:50] zabbasi commented on #3094
/assign @zabbasi

[2019-04-25 16:52] cblackd7r opened #3112 "[Proposal] Distributed Julia Operator"
Motivation
Julia is a high-level general-purpose dynamic programming language designed for high-performance numerical analysis and computational science.   Basic linear algebra, matrix computation, and differential equations in Julia is fast.   As machine learning systems become more complex, researchers increasingly need differentiable languages in which they can simply write their algorithms as

[2019-04-25 17:11] r2d4 commented on #3073
These are the cross platform makefile rules I've written to cross compile go binaries

https://github.com/GoogleContainerTools/skaffold/blob/master/Makefile#L52-L74

[2019-04-25 17:21] yylin1 commented on #3091
I have same problem, when use `$ kfctl apply all -V` to deploy kubeflow v0.5.0.

[code]

Check pod status.
[code]

[2019-04-25 17:34] yylin1 commented on #3091
When I use old deploy in my script.  kubeflow v0.5.0  execution is normal.

[code]

[2019-04-25 18:00] sh0gg0th commented on #3091
@jlewi I put kfctl  in usr/local/bin (Ubuntu 16.04), so it's just kfctl for me.

`ks apply default` appears to deploy but throws an error at the end:
`INFO Applying services kubeflow.minio-service
INFO Creating non-existent services kubeflow.minio-service
INFO Applying deployments kubeflow.minio
INFO Creating non-existent deployments kubeflow.minio
INFO Applying secrets kubeflow.mlpipeline-minio-a

[2019-04-25 18:00] yylin1 commented on #2927
This problem needs to clean PV and remove the old deployment file.

[2019-04-25 18:57] #3094 closed

[2019-04-25 19:53] avdaredevil commented on #3100
I'll handle this!

[2019-04-25 21:04] ashahba commented on #2882
Adding @ashahba for review

[2019-04-26 00:12] #2546 closed

[2019-04-26 01:37] yylin1 commented on #3109
I tried the same deployment test and replace the namespace `kube-flow`.
No namespace state problem in my environment.

[code]
You should check  your environment and remove old deployments.

[2019-04-26 01:46] #3000 closed

[2019-04-26 05:02] lp-pl commented on #2958
Well, I understand. Thanks @kimwnasptd

[2019-04-26 15:55] kweinmeister opened #3118 "kfctl documentation does not cover platform argument"
The [kfctl documentation](https://master.kubeflow.org/docs/started/getting-started-k8s/) does not cover the `platform` argument. It says that each command can accept either `k8s` or `all`. It would also be helpful to discuss the platform options, such as `aws`, `azure`, and `gcp`.

It might make sense to create a separate `kfctl` reference page, which is linked from the Getting Started page.

[2019-04-26 18:21] prodonjs opened #3120 "Add Notebooks card to provide one-click access to Juypter Notebooks"
Currently, the user journey to access a Jupyter Notebook in KF requires a user to connect to the appropriate Jupyter server from the Notebook Servers UI, and then click on the notebook they wish to open. This requires at least three clicks from the Kubeflow central dashboard and ends up opening up two additional tabs.

An optimized experience would allow the user to see their most recently modifie

[2019-04-26 18:22] prodonjs commented on #3120
/cc @avdaredevil

[2019-04-26 19:01] swiftdiaries commented on #2599
I guess this is already done.
We can re-visit if it's warranted.

/cc @kkasravi
/close

[2019-04-26 19:04] #2599 closed

[2019-04-26 19:05] jian-he commented on #2976
Looks like the [application](https://github.com/kubernetes-sigs/application) repo has no activity for several months, do they have long-term develop plan ?

[2019-04-26 19:40] prodonjs commented on #3042
@avdaredevil What are your thoughts on how we can handle this in a generic way? Some pages (ie. Notebooks server hub) will do a full refresh which we could detect with a `load` event but others like Pipelines will use client-side routing. We could add something to the library we are developing to publish a message on route change, but that's not necessarily simple since there's no standard event f

[2019-04-26 20:02] Jeffwan commented on #32
We recently have some progress for the AWS support in Kubeflow. Please check latest documentation.
https://www.kubeflow.org/docs/aws/

This is just a start, we found there're some sub-projects we can improve better for aws users. Will publish more plans later on.

[2019-04-26 21:50] jlewi commented on #767
https://github.com/google/swift-jupyter

We might have to set some security option to allow ptrace.

[2019-04-26 21:56] avdaredevil commented on #3042
Let's make 2 assumptions
- This functionality will only be provided to SDK enabled sub-apps
- Default apps will act in a non-PWA fashion
  - We can, therefore, listen on unload events
  - If they're smart (ie. pipelines), they'll manually enable routing like:
[code]

[2019-04-26 22:07] avdaredevil commented on #3120
/priority p1

[2019-04-26 22:14] kunmingg commented on #2982
DevOps / Admin need to grant each user with IAM role:
[code]
This role allow user to access clusters, but cannot get/create/delete k8s resources in any namespace by default.

2. user self-serve to create profile, profile will patch rbac role.
3. user can access their namespace via kubectl or Istio.

Will send PR for missing pieces.

[2019-04-26 22:26] lluunn opened #3122 "Lock down cluster before we get backendID"
We apply the JWT check policy after getting the backendID:
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/gcp/setup_backend.sh#L59

There might be a gap that unauthorized users can access the cluster.
We can deploy the policy with ingress, and then update it with correct backendID later.

cc @jlewi @gabrielwen

[2019-04-26 22:31] sh0gg0th commented on #3091
Confirm that the old method works for me as well on 0.5.0.

[2019-04-27 00:59] jlewi commented on #3118
@kweinmeister Any interest in submitting a PR?

Also do you mean `kfctl` and not `kfctl.sh` since with 0.5 we switched to the go binary rather than the shell script.

[2019-04-27 01:02] jlewi commented on #3106
Cherry pick is #3124

I think we can close this once that's merged

[2019-04-27 01:03] jlewi commented on #3082
Once #3124 is submitted we need to update the docs.

We will need to specify the config or version to use and verify that it works.

[2019-04-27 11:08] sshuair opened #3128 "MacOS MiniKF setup error"
- MacOS Version: 10.14.4
- virtual box version: 6.0
- Vagrant:  2.2.4

The following is error info. Anyone can help?
[code]

[2019-04-27 11:54] vishalsantv commented on #3109
Deployments was not an issue. Did you try launching a pipeline ?

[2019-04-27 16:36] cliveseldon opened #3129 "Central Dashboard UI Cutoff in Firefox"
Kubeflow: v0.5.0
Firefox: 66.0.2 (64-bit) on Linux Mint
![kubeflow-firefix-centraldashboard-cutoff](https://user-images.githubusercontent.com/10563075/56852392-f313ce00-6912-11e9-94d0-9453a001bce9.png)

Anyone else?

[2019-04-27 22:08] 0xE282B0 opened #3130 ""kfctl apply k8s" fails to deploy scheduledworkflows on mac"
Hi, I'm trying to install Kubeflow on "Docker for mac with K8s" with these instructions from the [documentation](https://www.kubeflow.org/docs/started/getting-started-k8s/).

### Environment
[code]
Kubeflow has been downloaded from https://github.com/kubeflow/kubeflow/releases/tag/v0.5.0
[code]
The version number is confusing for a release.
### Issue
To install Kubeflow I used the following comman

[2019-04-27 22:38] 0xE282B0 commented on #3129
The same problem exists with Firefox Quantum 66.0.3 (64-Bit) on macOS Mojave 10.14.4:

<img width="1351" alt="Bildschirmfoto 2019-04-28 um 00 33 03" src="https://user-images.githubusercontent.com/4034494/56855770-49056780-694d-11e9-9182-49b68f2e5ad8.png">

[2019-04-27 23:42] 0xE282B0 commented on #3128
I've tried to reproduce your problem but with macOS Mojave 10.14.4, Vagrant 2.2.4 and a fresh VirtualBox 6.0.6 everything works as expected. ('arrikto/minikf' version '0.13.0-pre.857.g986fbbe')

Your error message looks like a VirtualBox issue. May you want to try with a fresh VirtualBox installation.
Or you can have a look at [Docker for Mac with K8s support](https://hub.docker.com/editions/commu

[2019-04-28 01:16] jlewi commented on #2522
@hno2 Thanks for figuring this out! I was going through the fast ai course and hit this issue.

While we wait for #3102 to get merged here's a potential work around.

1. Spawn a notebook using the notebook manager UI
1. Get the spec for the notebook

[code]

1. Edit the notebook spec

   * Add to volumes

[code]

   * Add to volume mounts

[code]

1. Apply your notebook

[code]

[2019-04-28 01:16] jlewi commented on #2522
Before we close this issue out we should

1. Build a new image with the fix
1. Cherry pick it onto the 0.5 branch.

[2019-04-28 01:47] ryangrahamnc opened #3131 "Opening "+NEW SERVER" page gives 500 error"
Been messing with kubeflow on a baremetal kubernetes server the past few days, during which time kubeflow notebook creation was working fine. Ended up deleting kubeflow and creating again (because I was switching from storageos to rook-ceph volumes), and now I'm getting a 500 error when I try to open the "create new server" page.

Procedure followed:
[code]
![image](https://user-images.githubuserc

[2019-04-28 10:30] kimwnasptd commented on #3131
hi @ryangrahamnc, could you also post the logs from the `jupyter-web-app` pod?
you could get them with this command:

[2019-04-28 12:11] ryangrahamnc commented on #3131
Yup, that got me something I can work with.
[code]

Looks like it is volume related. Just checked the storageclasses, and the storageos one was recreated even though I deleted its namespace/controllers. Therefore it would probably fail on any call that goes to it. Nuked it and now the page loads.
Thanks!

[2019-04-28 12:11] #3131 closed

[2019-04-28 12:39] jokerwenxiao opened #3132 "error in "kfctl.sh generate all""
+++++++++++++++++++++++++++++++++++++++++++
**environment:**
system: windows10
kubernetes: minikube v1.0.0
kuberflow version: v0.5.0

**Reference tutorials**：
https://v0-4.kubeflow.org/docs/started/getting-started-minikube/

++++++++++++++++++++++++++++++++++++++++++++

When I execute the command :
    ` ../kfctl.sh generate all`

**there is an error:**

+ ENV_FILE=env.sh
+ SKIP_INIT_PROJECT=false

[2019-04-28 13:56] pdmack opened #3133 "Audit and relocate images from gcr.io/kubeflow-dev"
There are some contrib images like the rapids and kaggle notebooks that currently live in kubeflow-dev GCR. We should take a look at relocating those and possibly any others to another more stable location.

kubeflow-images-public
notebook-zoo (new)

/assign @jlewi
/assign @abhi-g

[2019-04-28 14:55] mcminis1 commented on #3032
@jlewi PR has been created. Thanks.

[2019-04-28 23:32] jlewi commented on #3128
/assign @vkoukis

[2019-04-28 23:36] jlewi commented on #3132
Unfortunately windows isn't very well supported these days. We would love contributions in this area. Any interest in trying to fix this and submit a patch?

@vkoukis Is MiniKF better tested on Windows then Minikube?

Alternatively, could you try deploying Kubeflow on public cloud?

/cc @aronchick

[2019-04-28 23:37] jlewi commented on #3112
@cblackd7r Do you have an existing repo with an initial version? Is that repo public or could it be made public?

Or would you be starting from scratch?

[2019-04-29 01:56] jlewi commented on #3017
Looks like #3000 is merged; does this unblock #3022 ?

[2019-04-29 02:02] jlewi commented on #2992
@zabbasi any update on this?

[2019-04-29 02:04] jlewi commented on #2982
I spoke with @kunmingg and I think the issue here is we need to figure out what IAM role to grant users so that at a minimum they can run

[code]

in order to configure .kubeconfig.

Once they've run that command we can rely on RBAC for fine grained permissions.

[2019-04-29 02:06] jlewi commented on #2173
@kunmingg Yes; if you have information please add it.

@gabrielwen I think you mentioned on Friday that fixing the Jupyter CR to work with ISTIO is one of the last blockers to using ISTIO. Is that this issue? Or are there other relevant issues?

[2019-04-29 02:07] jlewi commented on #2173
I think #2172 is the issue to get the Jupyter CR to rely on ISTIO to create the reverse proxy rules using Virtual Service. I think #2172 is blocking replacing Ambassador with ISTIO.

This issue is likely relevant for multi-user and isolating jupyter but not blocking replacing Ambassador with ISTIO.

[2019-04-29 02:09] jlewi commented on #2172
@gabrielwen Are you working on this? IIUC I think getting the Jupyter CR to create the virtual service rules to set up the reverse proxy routes is one of the last blockers to using ISTIO instead of Ambassador (#2978)?

[2019-04-29 02:11] jlewi commented on #3009
@lluunn Let me know if you think this warrants higher than P2.

[2019-04-29 02:22] jlewi commented on #2976
@kkasravi @swiftdiaries Can you correct me in terms of what functionality currently exists and what the next steps are?

It looks like there is a pretty basic kustomize manifest for a Kubeflow uber App here:
https://github.com/kubeflow/manifests/blob/master/application/base/application.yaml

It looks like ComponentKinds is empty:
https://github.com/kubeflow/manifests/blob/dab4d9265e780a677c2495527

[2019-04-29 02:24] jlewi commented on #2973
It looks like we have a kustomize manifest for it
https://github.com/kubeflow/manifests/blob/master/metacontroller/base/crd.yaml

Should we just focus on the application resources in 0.6 and not worry to much about 0.5?

I think the kustomize package is still using our custom meta-controller implementation and we want to switch to using the controller from sig-apps.

Should we use this issue to tr

[2019-04-29 02:25] jlewi commented on #3020
@swiftdiaries @kkasravi ?

[2019-04-29 02:27] jlewi commented on #2630
@swiftdiaries unfortunately you are probably the expert; so I don't have much help to offer. Were you able to make any progress?

[2019-04-29 02:29] jlewi commented on #2566
@swiftdiaries @kkasravi ping?

[2019-04-29 04:06] gracechristina opened #3135 "Setup envoy-ingress to have private IP address"
Hi everyone,

I would like to know if it is possible to modify the envoy-ingress configuration in Kubeflow to be exposing private IP instead of public IP.

Currently, when I run `ks apply default -c iap-ingress`, it will automatically assign public IP to the envoy-ingress.

Thank you for the help.

[2019-04-29 11:16] holdenk opened #3136 "GKE util with basic auth still requires client id"
This is related to https://github.com/kubeflow/kubeflow/pull/2687 , but  the shell scripts need updating too.

[2019-04-29 11:17] hougangliu commented on #2566
@jlewi nearly all packages done! since we need support [multiple overlays](https://github.com/kubeflow/kubeflow/pull/3108), @kkasravi is still working and test it.

[2019-04-29 13:43] prodonjs commented on #3042
I think those are fair assumptions. The other thought I had was to bind a handler to the `click` event anywhere inside the iframe's body and evaluate the URL for changes there. I believe that would work, but it does go against the idea of the iframe page being the initiator for communication. However, for this use case, I'm inclined to accept the idea of the dashboard owning the responsibility of

[2019-04-29 15:13] kkasravi commented on #2566
@jlewi @hougangliu @swiftdiaries I've also checked in a test-suite under manifests/tests as part of [PR34](https://github.com/kubeflow/manifests/pull/34).
Calling the test-suite is
[code]
There is 1 failing test that I'm looking at.

@swiftdiaries did you have prow setup to call a manifest test? Perhaps I can integrate this into your prow job?

[2019-04-29 18:05] gabrielwen commented on #2261
/assign @gabrielwen

[2019-04-29 18:05] gabrielwen commented on #3007
@lluunn can we close this issue?

[2019-04-29 18:06] gabrielwen commented on #3021
/assign @gabrielwen

[2019-04-29 18:09] lluunn commented on #3007
C2D is not flipped yet.

[2019-04-29 18:21] gabrielwen commented on #2172
/assign @gabrielwen

yes: #3104

[2019-04-29 18:22] kunmingg commented on #2173
Should we combine this with https://github.com/kubeflow/kubeflow/issues/2172?
I feel Jupyter CR shouldn't need to update auth policy for individual notebooks if we have namespace-scope auth policy.

[2019-04-29 18:45] gabrielwen commented on #2172
/close

#3104 creates ISTIO virtual services.

[2019-04-29 18:45] #2172 closed

[2019-04-29 19:05] jlewi commented on #3082
/assign @jlewi

[2019-04-29 19:05] jlewi commented on #3106
/assign @jlewi

[2019-04-29 19:12] prodonjs opened #3138 "Explore integration with Kubernetes Dashboard to expose cluster metrics"
The landing page [CUJ mocks](https://docs.google.com/presentation/d/1E5EioHmDBoN76NDRIoXRi1RmSo2sKWe2dxp__g-3fE8/edit#slide=id.g4b349cd762_0_156) originally included a card for time-series information on the resource utilization of the cluster.

The [Kubernetes Dashboard](https://github.com/kubernetes/dashboard) is the canonical choice for doing in-cluster monitoring. The purpose of this issue is

[2019-04-29 19:12] avdaredevil commented on #3138
/priority p1

[2019-04-29 19:22] jlewi commented on #2982
Can close this out once #3123 is merged and we also need to update kubeflow website to tell folks how to set this.

[2019-04-29 19:41] jlewi commented on #2979
So next step is to look at the demo script: #3022  and have the profile resource create the appropriate RBAC roles and bindings for Jupyter.

Follow on step is for profile resource to create namespace level access rules for ISTIO to restrict which users can access services in that namespace.

* Before we automate it with the profile resource we should add to the demo script (#3022) what the requir

[2019-04-29 19:44] jlewi commented on #2978
Things are working with ksonnet but not kustomize. So we need to get it working with kustomize.

[2019-04-29 19:46] zabbasi opened #3140 "Jupyter web UI should allow users to choose k8s service account"
Currently Jupyter web app hardcodes jupyter-notebook serviceaccount which is required for notebooks to run Fairing. However we would like to automate this process and allow users to choose the serviceaccount they require for their notebooks.

/cc @jlewi @kimwnasptd @avdaredevil

[2019-04-29 19:47] zabbasi commented on #3140
/priority p1
/area jupyter
/area front-end

[2019-04-29 19:47] jlewi commented on #2261
Its working with ksonnet need to migrate to using kustomize with ISTIO.

[2019-04-29 21:00] chenglinzhang opened #3141 "kubeflow-images-public/tensorflow-2.0.0a0-notebook-gpu failed to start on Kubeflow jupyterhub"
I downloaded the tensorflow-2.0.0 alpha0 docker image with:
[code]
to run under Kubeflow 0.4 Jupyterhub.

The image failed to start. ```kubectl log jupyter-username-x -n kubeflow-namespace-y``` prints the following error:
[code]

[2019-04-29 22:51] gabrielwen opened #3143 "kfctl generate failed with kustomize"
Error message: `Error: couldn't generate KfApp:  (kubeflow.error): Code 500 with message: kfApp Generate failed for kustomize: kustomize generate failed Error: AccumulateTarget: pipelines-viewer/base: var namespace already encountered`

[2019-04-29 22:52] gabrielwen commented on #3143
/area kfctl

[2019-04-29 22:53] gabrielwen commented on #3143
/priority p1

[2019-04-29 23:36] kkasravi commented on #2976
I'm submitting a PR mid-late week. It will deploy the kubernetes-sig/application manifest including the controller. Multiple overlays complicates the Application definition. For example for tf-job-operator, where we add a role, role-binding under tf-job-operator/overlays/namespace, we will also need to patch the Application's componentKinds. Similarly for tf-job-operator/overlays/cluster.

I am te

[2019-04-29 23:49] avdaredevil commented on #3065
@prodonjs The change has now been addressed in #3100

[2019-04-30 00:15] kweinmeister commented on #3118
@jlewi Sure, I will submit a PR for this. And, you're right, I meant `kfctl` -- I changed the issue accordingly.

[2019-04-30 00:34] swiftdiaries commented on #2566
I'm going to setup prow for manifests so that we have pre-submits that trigger this test.

[2019-04-30 03:18] liu-sheng opened #3145 "no matches for kind "VirtualService" error occur when deploy kubeflow"
I have deployed a k8s cluster by `kubeadm` with version `1.14.1`, and then try to deploy kubeflow follow the [guide documentation](https://www.kubeflow.org/docs/started/getting-started-k8s/), when I run `kfctl apply all -V`, I got the error:
[code]

[2019-04-30 03:18] yylin1 commented on #3091
@sh0gg0th

Try to delete CRD `scheduledworkflows.kubeflow.org` and restart deploy.
And confirm PV clear old deployed kubeflow data.

`Kctl`  It is now working properly.

[2019-04-30 03:51] yylin1 commented on #3141
This PR are fixed images:

- fixed based images of tf gpu notebooks #3117

But I found in `gcr.io/kubeflow-images-public` images has not been updated.

- [tensorflow-2.0.0a-notebook-gpu](https://console.cloud.google.com/gcr/images/kubeflow-images-public/GLOBAL/tensorflow-2.0.0a-notebook-gpu@sha256:eec16b5451e76f27ab460a322cdb254a5c7e33a486e6eec7061038314bc84d12/details?tab=info)
- [ tensorflow-1.1

[2019-04-30 05:08] jlewi commented on #2206
Next steps

1. Verify cron jobs are running successfully.

1. The PRs created don't satisfy the CLA check because the author is not kubeflow-bot. We should try to fix that by configuring the email.

[2019-04-30 05:37] kkasravi commented on #2566
awesome-thank you!

[2019-04-30 07:27] hno2 commented on #2522
@jlewi #3102 is merged now. Will you take it from here ?

[2019-04-30 07:34] gracechristina opened #3147 "Location of dockerfile for each of the kubeflow jupyter docker images"
Hi,

Where can I find the dockerfile for each of the docker images provided in jupyterhub.
For example:
gcr.io/kubeflow-images-public/tensorflow-1.4.1-notebook-cpu:v0.5.0

I would like to know what are the packages installed in each of the images as it will make it easier to decide which docker image to use for the jupyter pod. Thank you.

[2019-04-30 09:04] shalberd commented on #3141
The GPU images first had an Ubuntu base image, but that was fixed. Now, we all are anxiously waiting for the images to be pushed to gcr.io. Those sorts of errors like wrong base images in the build process should be caught much earlier, in my opinion.

[2019-04-30 09:59] yylin1 commented on #3147
You can find it here.
https://github.com/kubeflow/kubeflow/tree/master/components/tensorflow-notebook-image/versions

[2019-04-30 13:21] #3100 closed

[2019-04-30 17:27] jlewi commented on #3141
The latest images are designed to work with Kubeflow 0.5 which doesn't use JupyterHub.

If you need to use an earlier version of Kubeflow which is using JupyterHub you need to use the images associated with that release.

[2019-04-30 17:27] jlewi commented on #3141
@zabbasi and @pdmack Are we not building our Jupyter images automatically and pushing to gcr.io/kubeflow-images-public?

[2019-04-30 17:28] #3147 closed

[2019-04-30 17:29] jlewi opened #3150 "Update MiniKF to work with ISTIO and Kustomize for 0.6"
0.6 will introduce ISTIO and Kustomize.

Filing this issue to track updating the MiniKF deployment.

/cc @kimwnasptd @vkoukis @ioandr

[2019-04-30 17:30] jlewi opened #3151 "Update AWS deploy to use ISTIO and Kustomize for 0.6"
0.6 will introduce ISTIO and Kustomize.

Filing this issue to track updating the AWS deployment instructions

/cc @Jeffwan

[2019-04-30 17:33] jlewi opened #3152 "Update Azure instructions to use ISTIO and Kustomize for 0.6"
0.6 will introduce ISTIO and Kustomize.

Filing this issue to track updating the Azure deployment instructions

/cc @aronchick

[2019-04-30 17:36] jlewi commented on #2206
Looks like the cron job ran successfully and created a PR.

https://github.com/kubeflow/kubeflow/pull/3149

[2019-04-30 17:36] zabbasi commented on #2992
the demo script: https://bit.ly/2UOzzxB

[2019-04-30 17:38] zabbasi commented on #3017
the demo script: https://bit.ly/2UOzzxB

[2019-04-30 17:54] jlewi commented on #2206
Earlier PR was merged #3144

[2019-04-30 18:09] prodonjs opened #3154 "[CentralDashboard] Match UX Specifications [Tracker]"
Implement changes to match [UX specifications](https://gallery.googleplex.com/projects/MCHbtQVoQ2HCZYbjDGnaKqEC/files/MCEJu8Y2hyDScZFDtRjUQxaOQcsK82q9efU)

- [x] 1. Correct header behavior to show as white when viewing an iframed application
- [x] 2. Move and restyle namespace selector
- [x] 3. Update sidebar link and card content
- [x] 4. Update font and spacing for cards
- [x] 5. Update hover/ac

[2019-04-30 18:11] jlewi opened #3155 "jupyter-web-app script needs to set the git email so that the CLA check passes"
Here's a script we wrote to automatically build the Jupyter Web App Docker image and then create a PR to update the component.
https://github.com/kubeflow/kubeflow/blob/master/py/kubeflow/kubeflow/ci/update_jupyter_web_app.py

The script runs as a cron job.
https://github.com/kubeflow/kubeflow/blob/master/releasing/auto-update/README.md

The script however isn't setting the email correctly on the

[2019-04-30 18:11] jlewi commented on #2206
Marking this as fixed since we filed #3155.

[2019-04-30 18:11] #2206 closed

[2019-04-30 18:23] jlewi opened #3156 "Update the auto-update script to work with kustomize"
Here's a script we wrote to automatically build the Jupyter Web App Docker image and then create a PR to update the component.
https://github.com/kubeflow/kubeflow/blob/master/py/kubeflow/kubeflow/ci/update_jupyter_web_app.py

The script runs as a cron job.
https://github.com/kubeflow/kubeflow/blob/master/releasing/auto-update/README.md

We should update this script to also update the kustomize ma

[2019-04-30 18:31] jlewi commented on #3091
Thanks @yylin1

/cc @gabrielwen @kkasravi

[2019-04-30 18:32] jlewi commented on #3145
Are you deploying from master?

Master requires ISTIO. Did you install ISTIO in your cluster?

[2019-04-30 19:36] cbbba18 commented on #3112
@jlewi We have started from scratch, and are currently in sprint 1.   Looking to have a zero dot release in a number of weeks and will look to convert repo to public with initial release.

[2019-04-30 19:49] cblackd7r commented on #3112
@jlewi We have started from scratch, and are currently in sprint 1. Looking to have a zero dot release in a number of weeks and will look to convert repo to public with initial release.

[2019-04-30 20:12] pdmack commented on #3141
Thought that was done by our infra?

[2019-04-30 21:18] kunmingg opened #3159 "Release v0.5.1"
* change v0.5 (and future release) kfctl default version from master to v0.5.1

[2019-04-30 21:20] kunmingg commented on #3159
master head could be broken at any time.
We should use release version as kfctl default version.
@jlewi
@gabrielwen

[2019-04-30 21:33] lluunn commented on #3159
what fixes do we need for 0.5.1?

[2019-04-30 21:56] avdaredevil commented on #3154
Could you please add `[Tracker]` To the title? And thanks for making this, I'll tag respective PRs to this

[2019-04-30 22:03] prodonjs commented on #3154
Sure I noticed that in the past but I didn't know it's significance. You
may be able to change the issue title but I'm not sure.

On Tue, Apr 30, 2019, 5:56 PM Apoorv Verma [AP] <notifications@github.com>
wrote:

[2019-04-30 22:03] gabrielwen commented on #3159
current problem is disparity where CLI binary is built with v0-5-branch but using data in master.  We could make the change but in the meantime kustomize should also be considered as it's in different repository now (manifests).  Should we also make branches in manifests?

[2019-04-30 22:42] elviraux opened #3162 "Use kftctl to install Kubeflow on on-prem cluster"

[2019-04-30 22:43] swiftdiaries commented on #3162
/assign @swiftdiaries
[PR link](https://github.com/kubeflow/kubeflow/pull/3026)

[2019-04-30 22:48] elviraux opened #3163 "Configure storage class using kfctl"
Configure storage class and kfctl to use a storage class by default for some components (pipelines: minio, mysql, katib: mysql)

[2019-04-30 22:48] elviraux commented on #3163
/assign @swiftdiaries

[2019-04-30 22:50] swiftdiaries commented on #3162
/label platform:onprem

[2019-04-30 22:59] kunmingg commented on #3159
We can create release tag(v0.6) on manifests during next release.
For v0.5 we won't support kustomize.

[2019-04-30 23:06] elviraux opened #3164 "Verify a basic auth using kfctl for on-prem"

[2019-04-30 23:22] elviraux opened #3166 "Auth provider integration for on-premise setup"
Select an Open Source Project as an Auth provider and integrate it with our current Istio based Auth system.

https://github.com/kubeflow/kubeflow/issues/3096

[2019-04-30 23:26] elviraux opened #3167 "On-premise 0.6 release demo script"

[2019-04-30 23:56] #3143 closed

[2019-05-01 02:30] sshuair commented on #3128
My problem, my mac storage space is not enough. I'm going close this issue.

[2019-05-01 02:30] #3128 closed

[2019-05-01 02:52] yylin1 commented on #3141
@jlewi @pdmack
I'm trying Notebook in kubeflow v0.5 when use old image (tensorflow-2.0.0a & 1.13.1), can successfully create. But have clicked `CONNECT` will jump to kubeflow Home UI.

Maybe is fixed in PR #3117 .

[2019-05-01 02:57] zabbasi commented on #3141
Postsubmit test is supposed to build the images.  However the postsubmit for #3117 is failed.
/assign zabbasi

[2019-05-01 07:02] kaka11chen opened #3168 "No response when click 'Spawn' button on creating notebook servers."
I installed the kubeflow release v0.5.0 successfully. But when I access the web ui to create a notebook server, there is no response when click 'Spawn' button on creating notebook servers.

From the jupyter-web-app logs, it returned http 400 status code.
Then I found jupyter-web-app in kubeflow release v0.5.0 used 'latest' version. I guess the image which is 'latest' version I pulled is change som

[2019-05-01 16:59] posix4e commented on #3163
I would love to be able to have a different storage class on azure, to get notebooks to work on read/write/many mounts

[2019-05-01 17:24] lluunn commented on #3159
So we just need to change this to 0.5 at 0.5 branch right?

[2019-05-01 17:49] gabrielwen commented on #3159
Yes: https://github.com/kubeflow/kubeflow/pull/3170

[2019-05-01 17:59] lluunn commented on #3159
After that, need to update kfctl binary

[2019-05-01 20:42] zabbasi commented on #3141
Built the images, tested  and retag them to v0.5.0.

[2019-05-01 20:43] zabbasi commented on #3141
/close

[2019-05-01 20:43] #3141 closed

[2019-05-01 20:52] kkasravi commented on #2630
@swiftdiaries I just [copied](https://github.com/kubeflow/manifests/pull/34/files#diff-ba78b29234976b9867e1c7aaaf216b8d) it into manifests/tests including the loadertest .

I also autogen'd the tests with a bash script -

[2019-05-02 00:40] #2601 closed

[2019-05-02 03:39] naseemkullah opened #3173 "helm chart"
Are there any plans for a helm chart?

Preferably one that would leverage the already existing argo, ambassador, minio and any other component's community charts as dependencies of the kubeflow chart?

Would be great if we could deploy and manage kubeflow with the package manager we all love and know!

My 2 cents...

[2019-05-02 05:06] naseemkullah commented on #3173
Got started on something, is this worth moving forward on?

https://github.com/helm/charts/pull/13454

[2019-05-02 10:35] vkoukis commented on #3150
/assign kimwnasptd

[2019-05-02 10:35] vkoukis commented on #3150
/assign yanniszark

[2019-05-02 12:41] jlewi commented on #3168
/assign @zabbasi

[2019-05-02 12:43] prodonjs opened #3175 "[CentralDashboard] Add identity awareness to UIs"
This issue tracks the MVP implementation of identity awareness in the web apps within Kubeflow.

At a minimum the following features need to be implemented as a proof-of-concept and inform a more detailed design for making all user-facing applications identity-aware and capable of restricting information to the resources that the user should have access to.

- [ ] 1. Infer authenticated user infor

[2019-05-02 13:34] elyase commented on #2846
I think this is a documentation issue. For example [here](https://www.kubeflow.org/docs/started/getting-started/) you can read:

"If you have an existing Kubernetes cluster or want to use Kubeflow on prem, follow the guide to deploying Kubeflow on Kubernetes."

On that page you are directed to use the new `kfctl` binary but then [on the downloads page](https://www.kubeflow.org/docs/reference/downl

[2019-05-02 16:26] kimwnasptd commented on #1394
@jlewi we would like to help driving this forward
/assign kimwnasptd

[2019-05-02 16:47] zabbasi commented on #3168
From code, it looks like  branch v0.5-branch points to the right image. https://github.com/kubeflow/kubeflow/blob/v0.5-branch/kubeflow/jupyter/prototypes/jupyter-web-app.jsonnet

[2019-05-02 17:03] kaka11chen commented on #3168
@zabbasi
Setup document url:
https://www.kubeflow.org/docs/started/getting-started-k8s/
Kubeflow releases: https://github.com/kubeflow/kubeflow/releases/download/v0.5.0/kfctl_v0.5.0_linux.tar.gz

[2019-05-02 17:08] zabbasi commented on #3168
@kaka11chen Thanks. Will take a look why latest image is picked up in your cluster. Meanwhile created a pr to set the image in master to a stable image https://github.com/kubeflow/kubeflow/pull/3177

[2019-05-02 17:34] lluunn commented on #3168
i think kfctl 0.5.0 still deploys master by default @kunmingg @gabrielwen .
We are fixing that.

In the meantime, if you pass --version=v0.5.0 when `kctl init`, it should be 0.5

[2019-05-02 17:57] kaka11chen commented on #3168
@lluunn That's correct. I tried to pass --version=v0.5.0 when `kctl init`, then the version is v0.5.0.

[2019-05-02 18:41] gabrielwen commented on #3159
#3170 merged.  should we update the release?

[2019-05-02 19:27] prodonjs commented on #3120
Discussed this with @ajayalfred who is working on a specification for additional dashboard cards that can be used to show things like Notebooks, Pipelines, or Pipeline jobs.

PoC repository: https://github.com/prodonjs/kubeflow/tree/notebooks-card

[2019-05-02 19:28] prodonjs commented on #3120
/priority p2

[2019-05-02 19:31] prodonjs commented on #3175
/priority p2

[2019-05-02 19:32] prodonjs commented on #2936
/priority p3

[2019-05-02 19:37] prodonjs commented on #3120
/remove priority p1

[2019-05-02 19:38] prodonjs commented on #3120
/remove priority/p1

[2019-05-02 19:38] prodonjs commented on #3120
/remove-priority p1

[2019-05-02 19:38] prodonjs commented on #3175
/remove-priority p1

[2019-05-02 19:39] prodonjs commented on #2936
/remove-priority p2

[2019-05-02 20:19] prodonjs commented on #2845
@avdaredevil This issue should track the work that needs to follow #2926 to integrate the library with the Jupyter application. I'm going to create a separate issue for TFJobs dashboard.

[2019-05-02 20:23] prodonjs opened #3178 "TFJobs web app should respect namespace in Central Dashboard"
Sibling of #2845
Depends on #2926

TFJobs UI code is at https://github.com/kubeflow/tf-operator/tree/master/dashboard

/area front-end
/area centraldashboard
/assign @avdaredevil
/assign @prodonjs
/priority p2

[2019-05-02 20:24] prodonjs commented on #3178
/remove-kind bug

[2019-05-02 20:24] prodonjs commented on #3178
/kind improvement/enhancement

[2019-05-02 20:33] prodonjs commented on #3042
/priority p2
/remove-priority p1

[2019-05-02 20:35] prodonjs commented on #3175
/priority p1
/remove-priority p2

[2019-05-02 20:35] prodonjs commented on #3138
/remove-priority p1
/priority p2

[2019-05-02 21:39] sh0gg0th opened #3180 "TF Serving"
Where can I find an example of input.json mentioned [here](https://www.kubeflow.org/docs/components/tfserving_new/):

`curl -X POST -d @input.json http://EXTERNAL_IP:8500/v1/models/mnist:predict`

Thanks!

[2019-05-02 21:41] elviraux opened #3181 "Add on-prem load balancer as a component in Kubeflow"
on premise system need load balancer for assigning ip addresses to kubeflow services

One possible project to use would be metallb https://github.com/danderson/metallb

[2019-05-02 21:49] swiftdiaries commented on #3163
@posix4e I'm ccing in people from Azure
/cc @ritazh @sozercan

[2019-05-02 23:49] elviraux opened #3182 "Verify Istio gateway/virtual services for different components on premise"

[2019-05-03 03:39] sshuair opened #3184 "Notebook Servers Connect: `404 : Not Found`"
- OS: MacOS 10.14.3
- kubeflow: V0.5.0
- kubernets: V1.13.0

I have success created a notebook server
![image](https://user-images.githubusercontent.com/5787131/57118700-b6732700-6d97-11e9-8293-d9d925ac9d24.png)

but when I connect to the notebook, it show the errors:
[code]

![image](https://user-images.githubusercontent.com/5787131/57118727-ddc9f400-6d97-11e9-9bc9-c4caf4f5fb21.png)

[2019-05-03 03:54] sshuair commented on #3184
fixed , I use the tensorflow/tensorflow:1.8.0, not follow the [Create a Custom Jupyter Image](https://www.kubeflow.org/docs/notebooks/custom-notebook/)

[2019-05-03 03:54] #3184 closed

[2019-05-03 06:29] shalberd commented on #1522
Furthermore, Web interface components like js, fonts etc get loaded from the Web instead of being in the containers. Not very good for regulated environments, hopefully people think of that for v0.6. IMO it#s just lazyness. I like Kubelflow a lot, but those points need to be considered. There are people out there wanting to run Kubeflow and the steps in the Web interfaces in their own datacenter.

[2019-05-03 10:25] yarongol opened #3188 "secrets "user-gcp-sa" not found"
I have deployed kubeflow on GCP using the UI (https://www.kubeflow.org/docs/gke/deploy/deploy-ui/). Used basic authentication rather than oauth
At which point I started following the instructions for an end to end flow (https://www.kubeflow.org/docs/gke/gcp-e2e/)
I got to the point where I call "kubectl describe secret user-gcp-sa"
and get an error "secrets "user-gcp-sa" not found"
(and indeed whe

[2019-05-03 14:20] ChrisMagnuson commented on #1710
Envoy upstream had an [issue](https://github.com/envoyproxy/envoy/issues/6190) that only recently was fixed in dev but not yet fixed in any stable version where if the service it was proxying to ended the connection with a FIN/ACK envoy would still leave it in its connection pool and would send the next request to that service using that connection.

The service would receive it, say a get request

[2019-05-03 14:27] ChrisMagnuson commented on #2852
Re posting as this thread seems more recent and active.

Envoy upstream had an [issue](https://github.com/envoyproxy/envoy/issues/6190) that only recently was fixed in dev but not yet fixed in any stable version where if the service it was proxying to ended the connection with a FIN/ACK envoy would responding with only an ACK and still leave it in its connection pool and would send the next reques

[2019-05-03 14:54] jlewi commented on #3188
The secret should have been created.

Can you run

[code]

Are you running in the kubeflow namespace.

You can recreate the secret by downloading a service account key using gcloud or the UI and then creating a K8s secret. Something like

[code]

/cc @kunmingg

[2019-05-03 14:56] jlewi commented on #3168
#3159 is tracking a v0.5.1 release.

[2019-05-03 14:58] jlewi commented on #3145
Per #3159 it looks like kfctl on v0.5.0 may be using manifests on master by default. You might need to

to pass --version=v0.5.0 to kctl init

[2019-05-03 14:59] jlewi commented on #3168
@kaka11chen Did setting `--version` fix it for you?

[2019-05-03 15:00] jlewi commented on #3136
Do you mean kfctl.sh? The shell scripts are deprecated and no longer really supported for GCP. People should switch to using the go binary.

[2019-05-03 15:18] vkoukis commented on #3132
@jlewi @jokerwenxiao @aronchick

Hey Jeremy,

Windows is one of the platforms we test every single MiniKF release with, and it should work out of the box. We are definitely interested in anything breaking or not working exactly as it should with it.

[2019-05-03 16:55] gabrielwen commented on #3168
#3170 changes v0.5 default to v0.5.0.  could someone with write access update releases?

[2019-05-03 18:50] prodonjs commented on #2845
@avdaredevil https://github.com/prodonjs/kubeflow/tree/iframe-lib-import-test is the test branch I created in my fork that has the proof-of-concept integration of the namespace selection passdown into the Notebooks server UI. That would probably be a good starting point to base your PR off of.

[2019-05-04 01:54] kaka11chen commented on #3168
@jlewi Yes.

[2019-05-04 08:28] JK-97 opened #3198 "why my ambassador always CrashLoopBackOff？"
![企业微信截图_15569585032537](https://user-images.githubusercontent.com/16853338/57176353-a6d40b00-6e89-11e9-9893-b76cbc4acb32.png)

[2019-05-04 22:59] yaronha opened #3199 "Suggestion for task context class (for run/task metadata recording)"
following a discussion with @jlewi , incorporating the best from various model/experiment/workflow DBs i examined, and review we did with customers i would like to suggest a mechanism for recording tasks metadata ( tasks can be: runs, model inference, data processing, ..) , see below draft definitions we can further discuss them in the issue or Slack.

i believe it can provide a generic, robust, a

[2019-05-05 02:37] liu-sheng commented on #3145
@jlewi yes, thanks :) I have added `-v v0.5.0` to kctl init to make this issue fixed.

[2019-05-05 07:12] CharlesxrWu commented on #2797
Sorry, there is still same error.

I used the latest Kubeflow
`
VERSION=master
ks registry add kubeflow github.com/kubeflow/kubeflow/tree/${VERSION}/kubeflow
`
and tried
`
https://github.com/kubeflow/kubeflow/tree/master/kubeflow/mxnet-job

#or

https://github.com/kubeflow/mxnet-operator
`
but still
`
error: unable to recognize "test.yaml": no matches for kind "MXJob" in version "kubeflow.org/v1be

[2019-05-05 13:36] yarongol commented on #3188
Thank you. I re-run some of the instructions and it somehow fixed itself. I have the secret now.

[2019-05-05 13:36] #3188 closed

[2019-05-05 19:27] jlewi commented on #3199
@zhenghuiwang @vicaire @karthikv2k  Can you take a look? I think this is most relevant to the various python libraries we are writing.

[2019-05-05 23:44] jlewi commented on #2086
Update: Instructions have been updated. I need to do another pass through the instructions now that some PRs have been merged. Once those updated instructions are merged we should be able to close this.

[2019-05-05 23:45] jlewi commented on #3106
I'd like to verify that this is working with the configs on v0.5-branch and then we can close this.

[2019-05-06 01:01] jlewi commented on #2964
@gabrielwen - Looks like #3028 added a ksonnet rule and now we are waiting on #39 to add the corresponding kustomize manifest.

[2019-05-06 09:28] nicklausZJF commented on #2829
Thank you ! It is what I need, but I want more details about kubeflow architecture, do you have any other illustration ?

[2019-05-06 17:11] gabrielwen commented on #2964
yes - should be kubeflow/manifests#39

[2019-05-06 17:36] zhenghuiwang commented on #3199
@yaronha Thanks for the suggestion! It makes a lot of sense.

We plan to use `execution` to capture the same concept as `task`. [Here](https://github.com/kubeflow/metadata/blob/master/schema/alpha/docs/execution.md) is the initial definition of execution. We should add some of these properties here into it.

The method section is about Python library to log the metadata, which we have a plan but h

[2019-05-06 18:30] zhenghuiwang opened #3203 "Leaking ingress resources after KF cluster deletion"
The KF deletion may not GC ingress resources due to https://github.com/kubernetes/ingress-gce/issues/136#issuecomment-417480155.

A short term solution is to extend the grace period (in both ksonnet and kusomize).

In the long run, we need to wait until there are no more ingresses in the namespace or the namespace is actually deleted and then exit, when deleting KF cluster.

[2019-05-06 18:36] gabrielwen commented on #3021
@jlewi should we close this one?  ISTIO is by default now and this issue doesn't look like blocked by kustomize.

[2019-05-06 19:05] kunmingg opened #3204 "cleanup cron job should clean STATIC_ADDRESS and service accounts"
cleanup cron job should clean STATIC_ADDRESS and service accounts in project
```kubeflow-ci-deployment```
and
```kubeflow-ci```

[2019-05-06 21:31] devonkinghorn commented on #3173
I would like to see kubeflow in helm. We use helm for IAC and kubeflow is a massive project with no helm support.

[2019-05-06 21:31] #2962 closed

[2019-05-06 21:45] zabbasi opened #3206 "cannot connect to notebooks which are created in any namespace other than kubeflow"
Created a kubeflow cluster from master which is deployed with IAP on GCP.
When notebooks are created in kubeflow namespace, we can successfully connect to the notebooks form ui.
using [this instruction](https://docs.google.com/document/d/1zT1yhDgmS59_uMWJ76hr7FCyXTDQ1Ju1MVADnlCfNEQ/edit) we can also successfully create notebooks in any other namespace. However, while we can connect to the created

[2019-05-06 21:46] zabbasi commented on #3206
/priority p1
/area istio
/area multi-user

[2019-05-06 21:46] zabbasi commented on #3206
/cc @gabrielwen @lluunn

[2019-05-06 22:46] gabrielwen opened #3207 "kfctl apply fails when using kustomize"
Error message: `the server could not find the requested resource (post gateways.networking.istio.io)`

Witness this at HEAD and v0.5-branch, e.g:
- kfctl built with HEAD and `--version master`
- kfctl built with v0.5-branch and `--version v0.5.0`

[2019-05-06 22:47] gabrielwen commented on #3207
/cc @jlewi @lluunn

[2019-05-06 22:47] gabrielwen commented on #3207
/area kfctl
/priority p1

[2019-05-06 22:48] gabrielwen commented on #3207
I feel this is something wrong either from k8s or ISTIO, since we haven't changed related things for quite some time.

Also, I checked with `kubectl get crd` and `gateways.networking.istio.io` is there.

[2019-05-06 22:49] gabrielwen commented on #3207
/cc @kkasravi

[2019-05-06 22:54] lluunn commented on #3159
https://github.com/kubeflow/kubeflow/releases/tag/v0.5.1

[2019-05-06 22:57] jlewi commented on #3198
What are are the logs for Ambassador pod?

[2019-05-06 23:29] #2965 closed

[2019-05-06 23:31] #2964 closed

[2019-05-06 23:32] lluunn commented on #3207
I tested with 0.5.1, basic auth, successful.

[2019-05-06 23:33] #2963 closed

[2019-05-06 23:35] #2261 closed

[2019-05-06 23:38] lluunn commented on #3207
nvm, was not using istio, testing again now.

[2019-05-07 00:06] lluunn commented on #3207
tested with master kfctl, deployed successfully.

[2019-05-07 00:28] gabrielwen commented on #3207
mm, so it's only me...

[2019-05-07 03:35] kkasravi commented on #3207
I tried from master and using kustomize which probably isn't valid right now at this time

[2019-05-07 08:37] suleisl2000 commented on #2797
@CharlesxrWu Could you append detail reproduce steps for trouble shooting? And where I can find test.yaml?

[2019-05-07 11:45] hno2 commented on #2522
@jlewi Not sure how your release process works, but if these changes where included in v0.5.1 - which was released today - i guess this issue can be closed?

[2019-05-07 13:36] jlewi commented on #3106
Confirmed that on the v0.5-branch the image gets overwritten.

[2019-05-07 13:36] #3106 closed

[2019-05-07 13:42] jlewi opened #3210 "Python/Go binary to bulk replace images in kustomization.yaml files (was Port use_gcr_for_all_images.sh to work with kustomize)"
Port https://github.com/kubeflow/kubeflow/blob/master/scripts/gke/use_gcr_for_all_images.sh
to kustomize.

This script is used for switching the images to a private registry. We will need to update the script
to work with the new kustomize manifests.

[2019-05-07 15:32] tyrsius commented on #3159
[This PR](https://github.com/kubeflow/kubeflow/pull/2983) added some functionality for AWS Cluster deployment, which wasn't in 0.5.0 but was in master. Now that master doesn't point to itself, the docs on using the `--awsClusterName` flag are incorrect.

[2019-05-07 15:45] tyrsius commented on #3159
Some of the AWS features introduced in [This PR](https://github.com/kubeflow/kubeflow/pull/2983) were broken on master by this change. All of the arguments to `kfctl.sh init` use default values, regardless of what is passed in. This wasn't happening on yesterday's master.

[2019-05-07 15:51] yaronha commented on #3199
@zhenghuiwang @jlewi  i noticed the work, it seems quite extensive, include multiple classes and abstractions, will take time to agree on, develop and debug.

IMO we should think about a staged approach, the model above is similar to [mlflow](https://mlflow.org/) with additional aspects of KFP etc. and addresses the essential requirements. it allow a simple mechanism to track the tasks/executions

[2019-05-07 16:10] prodonjs commented on #3138
@avdaredevil I'm going to take a stab at exploring this a bit since you are working on the identity-awareness issue. I would at least like to have some sense of the effort required to implement something based on the K8s dashboard.

/assign @prodonjs

[2019-05-07 16:10] prodonjs commented on #3138
/unassign @avdaredevil

[2019-05-07 16:38] CharlesxrWu commented on #2797
After moving 'version=master' to 'version=v0.5.0', it can create the job.

However, the demo can not work.

I list all commands I use
`
minikube start --cpus 4 --memory 8096 --disk-size=40g
NAMESPACE=mykubeflow
kubectl create ns ${NAMESPACE}
kubectl config set-context $(kubectl config current-context) --namespace=${NAMESPACE}
ks init mykubeflow-app
cd mykubeflow-app
ks env set default --namespace

[2019-05-07 17:22] lluunn commented on #3159
Is it related to 0.5.1?
The change here doesn't touch master.
Do you want to file a separate issue to describe?

[2019-05-07 17:38] holdenk commented on #3136
Interesting, maybe we should print out the deprecation warning? I'll try this with the go binary :)

[2019-05-07 17:44] tyrsius commented on #3159
Hmm, perhaps its not. Ill open another issue

[2019-05-07 17:54] Jeffwan commented on #3159
Let me know if anything I can help for aws related changes.

[2019-05-07 18:05] yuvaldrori opened #3212 "Recreating Kubeflow 0.5.0 on GCP fails"
Hello.

Using the instructions in ["Instructions for using the CLI to deploy Kubeflow on Google Cloud Platform (GCP)"](https://www.kubeflow.org/docs/gke/deploy/deploy-cli/) I was able to create a Kubeflow 0.5.0 cluster:
[code]
Trying to destroy and recreate will not work. After destroying the load balancer and backends will not be cleaned up.
[code]

Thanks.

[2019-05-07 18:40] holdenk opened #3213 "GCP basic auth port-forward ambassador"
After deploying 0.5 on GCP with basic auth attempting use kubectl port forward to the ambassador service doesn't work because it keeps redirecting to https which isn't directly exposed by the ambassador (instead it's normally handled by the load balancer).

[2019-05-07 18:46] eCeleritas opened #3214 "Unable to access notebook in kubeflow ui"
I have deployed kubeflow v0.5.0 on GCP using IAP. After following these steps (https://www.kubeflow.org/docs/notebooks/setup/) to setup a notebook server in kubeflow, I am unable to access the notebook server. I see a pod spin up related to the name of my notebook server (i.e. `my-notebook-server-name`) and I am able to port-forward to it using kubectl. However, when accessing via the kubeflow ui

[2019-05-07 19:31] eCeleritas commented on #3214
Restarting underlying pods caused the issue to go away. Closing this for now

[2019-05-07 19:31] #3214 closed

[2019-05-08 01:17] lluunn opened #3218 "Turn on istio sidecar injector"
Previously we set policy of sidecar injector configmap to "disabled" because we only want to inject sidecar when we annotate the pod. See [here](https://github.com/kubeflow/kubeflow/tree/master/dependencies/istio/install).

Now as we adopt and depend fully on Istio, we should change it to enabled, and label the namespace by default. We can add `sidecar.istio.io/inject=false` to pods that should no

[2019-05-08 01:20] lluunn opened #3219 "Set port name to http-XX for all services"
Istio relies on port name to distinguish http vs tcp services (this affects some authz features).
We should make sure the port name is http-XX for all services.
See [doc](https://istio.io/help/faq/traffic-management/#naming-port-convention).

cc @kunmingg

[2019-05-08 01:24] vkoukis commented on #2992
/assign kimwnasptd

[2019-05-08 04:55] travishen commented on #3003
In my case, my user account only has **PROJECT EDITOR** role, I think that's why I met **IamPolicy** error.
Tried getting a service account that has role **PROJECT OWNER**, then set  `GOOGLE_APPLICATION_CREDENTIALS` to its credential file. Apply kubeflow again, it works.

[2019-05-08 08:00] lcax200000 opened #3220 "tfjob container name is in use"
### i have get  "container name  is already in use "  error often times when create tfjobs

* **[root@k8s-m1 mnist]# _cat dst.yaml_**

       apiVersion: kubeflow.org/v1beta1
        kind: TFJob
        metadata:
          name: train2
        spec:
          tfReplicaSpecs:
            PS:
              replicas: 1
              restartPolicy: Never
              template:
                spec:

[2019-05-08 08:23] lcax200000 commented on #3093
i use nfs  storageClass & Volumes
I have the same problem
how could i  use it
![image](https://user-images.githubusercontent.com/9493082/57360747-810e7500-71ad-11e9-9067-1f63eb0d8ab3.png)

[2019-05-08 08:54] lcax200000 opened #3221 "how can i use tfjob-dashboard with nfs storageClass"
i am use nfs sc to manager volumes
how can i  use tfjob-dashboard to configure it

![image](https://user-images.githubusercontent.com/9493082/57362638-db113980-71b1-11e9-827f-60e16735f187.png)

![image](https://user-images.githubusercontent.com/9493082/57362673-e82e2880-71b1-11e9-8ae6-e1397d7a1348.png)
![image](https://user-images.githubusercontent.com/9493082/57362710-f7ad7180-71b1-11e9-96ae-c85d

[2019-05-08 09:10] yylin1 commented on #3220
Can you rearrange the formatting in the question. (follow Markdown)

[code]

[2019-05-08 10:06] Tabrizian opened #3222 "Kubeflow on-prem deployment Jupyter notebooks not working"
Using  a fresh installation of Kubeflow on Kubernetes, it seems like ```notebook-controller``` is unable to assign correct serviceaccount to Pods created for notebooks. Here is the logs for the stateful app:

[code]

[2019-05-08 15:32] chenhan1218 commented on #2863
@gachiemchiep Could we re-open this bug? It seems not being fixed yet?

@cndaimin Your solution works for me. Thanks! Are you going to submit the patch?
If you are not available, I could help to file a pull request.

[2019-05-08 18:11] kyeotic opened #3223 "Error in AWS generate platform output"
When running the `apply platform` command from the [Install with AWS docs](https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/) this error is thrown

[code]

Changing the `cluster_config.yml` to point to `apiVersion: eksctl.io/v1alpha5` fixes it

[2019-05-08 18:14] gabrielwen commented on #3207
update: I think the scope is on kustomize, tried to deploy from master with ksonnet and it works fine.

[2019-05-08 18:14] gabrielwen commented on #3207
/area kustomize

[2019-05-08 18:49] gabrielwen commented on #3207
update: I re-built kfctl from master and the issue regarding ISTIO is gone.

currently the error is: `No Auth Provider found for name "gcp"`

[2019-05-08 18:53] gabrielwen commented on #3207
tried kubernetes/client-go#242 but the import didn't work.

[2019-05-08 19:15] hno2 commented on #3095
It seems like cuda 10.1 was not supported by my graphics card. When using the cuda10.0 base image i have no problems. You can check out my Dockerfile enclosed.
[Dockerfile](https://github.com/kubeflow/kubeflow/files/3158945/Dockerfile.txt)

[2019-05-08 19:15] #3095 closed

[2019-05-08 20:20] prodonjs commented on #3138
Based on this old PR (#1811) and other investigation, it's been determined that the Kubernetes Dashboard is not a viable option for obtaining metrics for display and/or linking from the Central Dashboard.

[2019-05-08 20:20] #3138 closed

[2019-05-08 20:24] prodonjs opened #3225 "[CentralDashboard] Display resource utilization for GKE deployments from Stackdriver"
In accordance with the [UX design](https://gallery.googleplex.com/projects/MCHbtQVoQ2HCZYbjDGnaKqEC/files/MCEJu8Y2hyDScWR0uwkSmYmqTA1fRs4iJFc) for the KF dashboard, we should provide users with a high-level view of resource consumption. For starters, CPU and memory utilization should be shown in a time-series view for a window that spans backwards at least 1 hour.

After consideration, the first i

[2019-05-08 21:06] posix4e opened #3226 "Kubeflow is not strong with azure mounts"
Currently to use Read Write Many or Read Only Volumes one has to manually configure them for the cluster. At no point does a drop down make it any easier. Also if someone configures these wrong, the notebook spins forever. My suggestions

- [ ] kubectl logs should be sent to the notebook screen!
- [ ] Certain types of errors should cause the notebook to timeout
- [ ] Volumes should have a drop dow

[2019-05-08 21:18] lluunn opened #3227 "admission webhook certificate problem"
The communication between mutatingWebhookConfiguration and the webhook pod needs a certificate, which we provision a self-signed one in this [script](https://github.com/kubeflow/kubeflow/blob/master/kubeflow/gcp/create_ca.sh).

It's Statefulset, and runs:
1. create a cert
1. create a secret to store the cert (this secret will be mounted by webhook pod)
1. periodically check mutatingWebhookConfigur

[2019-05-08 21:18] lluunn commented on #3227
/assign  @zabbasi
Zahra is fixing this.

[2019-05-09 00:46] zabbasi commented on #3227
/priority p0

[2019-05-09 02:13] LouNauSRC commented on #3222
Having the same issue spinning up a notebook server using version 0.50.
Version 0.51 does not appear to have a kfctl tar for linux, just darwin.
Environment is a 3 node K8s cluster stood up and controlled by Rancher.

I had previously had Kubeflow 0.10 installed via the Rancher helm chart, but removed that before installing 0.50 via kfctl.

[2019-05-09 05:58] kkasravi commented on #3207
@gabrielwen

TL;DR
kubeflow/pull/3108 and manifests/pull/58 need to get merged. I've added you to manifests/pull/58 for review

---

this worked for me. Here are the steps

1. KUBEFLOW_USERNAME=kdkasravi KUBEFLOW_PASSWORD=XXX kfctl init ~/dls-kf --platform gcp --project constant-cubist-173123 --use_basic_auth --package-manager kustomize@pull/58 --version pull/3108 --namespace=dls-kf
2. cd dls-kf
3

[2019-05-09 06:16] kkasravi commented on #3207
i spoke too soon, i am seeing this errorf

[code]

I also noticed a number of 'unknown resource' warning in the output

[code]

[2019-05-09 08:25] #3221 closed

[2019-05-09 08:59] shalberd commented on #2727
Anyone?

[2019-05-09 10:46] jsnowacki opened #3230 "[GCP] CLI deployment (kfctl) fails to create cloud endpoint correctly"
I performed (multiple times) the deployment using the description given at https://www.kubeflow.org/docs/gke/deploy/deploy-cli/. Everything seems to run fine but when I try to reach the endpoint <kfapp>.endpoints.<project>.cloud.goog I get in the browser DNS_PROBE_FINISHED_NXDOMAIN. Indeed, looking into endpoints in the cloud console or CLI nothing is there.

I checked the pod logs for `cloud-endp

[2019-05-09 12:15] rbq commented on #2444
I wanted to try out Kubeflow 0.5 and therefore created a formula. Pull request to Homebrew is linked in the earlier issue #2413. Would you like me to create a pull request for kubeflow/homebrew-core, too?

[2019-05-09 13:30] kkasravi commented on #3207
@gabrielwen

getting close, past installing istio:

[code]

[2019-05-09 13:56] #2543 closed

[2019-05-09 14:49] solovyevt commented on #3222
Just tested it on a fresh Rancher 2 k8s deployment, everything works fine.

Service account jupyter-notebook is being created by ksonnet during `kfctl apply -V` deployment. Do you have any error log messages during the deployment process?

[2019-05-09 14:56] solovyevt opened #3232 "Jupyter notebook pod scheduling fails with 'serviceaccount "default-editor" not found'"
I'm experiencing problems during creating of Jupyter notebook pod on my on-premise k8s deployment. StatefulSet fails with the nest error message:

`Warning  FailedCreate  4m46s (x26 over 10m)  statefulset-controller  create Pod test-0 in StatefulSet test failed error: pods "test-0" is forbidden: error looking up service account kubeflow-workspace/default-editor: serviceaccount "default-editor" not

[2019-05-09 15:23] LouNauSRC commented on #3222
See attached file for the kfctl generate, and the kfctl apply.  No errors that I see.  And no mention of jupyter-notebook.

[kfctl_output.txt](https://github.com/kubeflow/kubeflow/files/3162837/kfctl_output.txt)

[2019-05-09 15:47] ryandawsonuk commented on #3213
I've also hit this. I notice I can access an ambassador endpoint by, say:
[code]
But not seeing a convenient way to port-forward and make requests without credentials as [several of the example notebooks do](https://github.com/kubeflow/examples/search?q=port-forward&unscoped_q=port-forward)

[2019-05-09 16:01] Aravinviju commented on #1344
Hi Whats the Fix for this?
I'm not sure where to find it!
I'm facing the same issue.

Any help would be of great help!

Thanks
Arav

[2019-05-09 18:02] gabrielwen commented on #3207
/cc @lluunn could you help take a look?

I think for those warning messages we could ignore them - they were also there if we use ksonnet.

[2019-05-09 18:07] kkasravi commented on #3207
I'm retrying with some potential fixes. I'll update in a bit.

[2019-05-09 19:37] prodonjs opened #3236 "Add Pipelines card to provide one-click access to KF Pipeline runs"
As part of the UX enhancements [specifications](https://gallery.googleplex.com/projects/MCHbtQVoQ2HCZYbjDGnaKqEC/files/MCEJu8Y2hyDScWR0uwkSmYmqTA1fRs4iJFc), the KF dashboard should have a card that shows recently executed KF Pipeline runs allowing the user to access current or recently active runs from the KF landing page.with single click. This mirrors to the functionality described in #3120 for

[2019-05-09 21:47] kkasravi commented on #3207
this now has been fixed but depends on kubeflow/manifests/pull/58 and #3108

[2019-05-09 23:25] kunmingg commented on #3206
The gateway is missing in non-kubeflow namespaces.

[2019-05-09 23:59] #3218 closed

[2019-05-10 05:45] kkasravi commented on #3173
@naseemkullah kubeflow is moving to kustomize for 0.6. Kustomize provides some support for helm through a helm plugin which would be a way to integrate new components. Your approach is interesting and goes the other way - moving everything to helm

[2019-05-10 07:19] Kyrremann commented on #3206
@zabbasi is the problem that it dosen't show up in the UI? Then you can use the search function, and search for your specific namespace.

As our problem is that if we use a different namespace then `kubeflow`, we need to search for our namespace each time we want to connect to a notebook.

[2019-05-10 09:17] solovyevt commented on #1566
Double that, experiencing the same issue.

[2019-05-10 10:11] solovyevt commented on #3222
Okay, I reproduced that with fresh 0.5.0 deployment.

Jupyter notebook StatefulSet events:
`Events:
  Type     Reason        Age                 From                    Message
  ----     ------        ----                ----                    -------
  Warning  FailedCreate  25s (x15 over 64s)  statefulset-controller  create Pod test-0 in StatefulSet test failed error: pods "test-0" is forbidde

[2019-05-10 10:44] solovyevt commented on #3222
Update: just read `kfctl init --help` and found out an interesting fact:

`  -v, --version string          desired version of Kubeflow or master if not specified. Version can be master (eg --version master) or a git tag (eg --version=v0.5.0), or a PR (eg --version pull/<id>). (default "master")`

So I've tried deploying kubeflow 0.5.0 with `kfctl init --version=v0.5.0 $KFAPP` and jupyter-notebook

[2019-05-10 10:50] solovyevt commented on #3232
**Update**: my bad, I've used `kfctl init $KFAPP` without `--version=v0.5.0`, everything works now. Issue may be closed.

[2019-05-10 10:50] #3232 closed

[2019-05-10 11:37] naseemkullah commented on #3173
Thanks for the info @kkasravi

[2019-05-10 12:41] jomach commented on #3131
@ryangrahamnc How did you fixed it ? I have the same problem.

[2019-05-10 13:04] ryangrahamnc commented on #3131
I had a storageclass that was "corrupt". So I deleted it. It was pretty much my fault because I was creating/destroying storageclasses the day before and forgot to completely clean up.

[2019-05-10 13:30] jlewi commented on #3230
The logs say your ingress IP keeps changing is that accurate?

Do you use the same kfapp name on each run?

Can you use stackdriver to look at the logs for cloud endpoints to see what's going on with the service?

[2019-05-10 13:31] jlewi commented on #3223
/cc @Jeffwan

[2019-05-10 13:33] jlewi opened #3239 "Upload kfctl CLI for v0.5.1"
We need to build and upload a kfctl for v0.5.1 to the release page.

[2019-05-10 13:35] jlewi commented on #3222
I believe this should be fixed in v0.5.1 by #3205

[2019-05-10 13:35] #3222 closed

[2019-05-10 13:42] jlewi commented on #3220
Which version of K8s are you using? And are you using a hosted version of K8s?

It seems to me like there is something going on with the kubelet and not the TFJob controller.
It looks like the kubelet is having trouble starting the container and not cleaning up the failed container properly before starting it.

To confirm this you might try creating a Deployment or Pod with the same spec and not u

[2019-05-10 13:55] jlewi commented on #3213
Ambassador is used both as a reverse proxy and to ensure all requests have credentials when basic auth is used.

Options are

* Disable basic auth (and remove external ip) if you want to kubectl port-forward to ambassador with no credentials
* Attach credentials to the request
* Deploy a proxy like [nginx](https://serverfault.com/questions/230749/how-to-use-nginx-to-proxy-to-a-host-requiring-authe

[2019-05-10 13:57] jlewi commented on #3212
Duplicate of #3203

[2019-05-10 13:57] #3212 closed

[2019-05-10 13:58] jlewi commented on #3207
@kkasravi @gabrielwen @hougangliu Do we have tests that should catch this?

[2019-05-10 14:03] jlewi opened #3240 "Create an Application resource to describe Jupyter"
We should create an Application resource in the Jupyter kustomize manifests directory to describe the Jupyter application

/cc @zabbasi

[2019-05-10 15:19] kkasravi commented on #3239
/assign @kkasravi

[2019-05-10 16:14] Jeffwan commented on #3223
@tyrsius
Thanks for reporting this issue! New version of eksctl is not compatible with older API versions. We are talking with eksctl team to either add support or we generate cluster spec based on user's eksctl version. In progress of it.

[2019-05-10 18:24] #2844 closed

[2019-05-10 19:03] otaviocv opened #3242 "Add a link to ambassador diagnostics page in kubeflow central dashboard."
We currently have some links to other kubeflow services, wouldn't be nice to have a link to the Ambassador diagnostics page?

[2019-05-10 19:42] kkasravi commented on #3207
Adding @ashahba @swiftdiaries

We're getting there on tests.

For Generate we have a basic test harness that is based on kustomize's testharness that compares the output of `kustomize build` in a component with the resources/bases for that component. This will be ported to [golang and expanded](kubeflow/manifests/issue/57).

For Apply, I'm working on getting the yaml for the application CR and com

[2019-05-10 21:31] #3239 closed

[2019-05-10 23:57] zabbasi opened #3246 "Add admission-webhook to kfctl default components"
Generalized webhook (#3202) needs to be deployed to kubeflow cluster by default.

/assign @zabbasi

[2019-05-10 23:58] zabbasi commented on #3246
/priority p1
/area multi-user

[2019-05-11 00:26] zabbasi commented on #3246
/area jupyter

[2019-05-11 00:26] zabbasi commented on #3246
/cuj multiuser

[2019-05-11 01:27] lcax200000 commented on #3220
I used kubeadm to deploy version 1.14.0 of k8s on my own two machines(ubuntu 16.04,  kubeflow 0.5.0).

[2019-05-11 03:26] liu-sheng opened #3247 "TFjobs of tensorflow beenchmaks still in running status after benchmarks finished"
I have ran  the tf_cnn_benchmarks testing in a `kubeflow v0.5.0` + `k8s 1.14.0` env, after the benchmarks running finished, I expect  the `tfjob` status should be `Succeeded` or `Complated` status, but it is still in `Running` status. see:

[code]
The TFjob resource YAML:

[code]

[2019-05-11 03:31] #3145 closed

[2019-05-11 06:38] kkasravi commented on #2444
@rbq thank you! Yes please submit a PR to home-core
@jlewi I think both 0.5.X and 0.6

[2019-05-11 07:14] yylin1 commented on #1566
@jomach
Check the environment ksonnect version. And clean old kubeflow data, restart deploy kubeflow.

@solovyevt
Try clean and remove kubeflow, restart kubeflow.

I'm try minikube is not problem.

[2019-05-11 07:16] yylin1 commented on #3220
@lcax200000
Do you try to run the kubeflow gpu example?  or run some gpu-pod test your environment.

[2019-05-11 08:46] lcax200000 commented on #3220
@yylin1
yes , I have successfully run this example code many times before
https://github.com/cheyang/tensorflow-sample-code/blob/master/tfjob/docker/distributed-mnist/main.py?spm=a2c4e.11153940.blogcont602109.18.3a2b5325jvCOzF&file=main.py

[2019-05-11 12:09] lcax200000 commented on #3220
yes , I have successfully run this example code many times before
https://github.com/cheyang/tensorflow-sample-code/blob/master/tfjob/docker/distributed-mnist/main.py?spm=a2c4e.11153940.blogcont602109.18.3a2b5325jvCOzF&file=main.py

images: gcr.io/kubeflow-images-public/tensorflow-1.10.0-notebook-gpu:v0.3.0

[2019-05-11 14:23] jomach commented on #3131
@ryangrahamnc
So I have this storage class:
`microk8s-hostpath (default)   microk8s.io/hostpath   37d

$ kubectl describe storageclass microk8s-hostpath
Name:            microk8s-hostpath
IsDefaultClass:  Yes
Annotations:     kubectl.kubernetes.io/last-applied-configuration={"apiVersion":"storage.k8s.io/v1","kind":"StorageClass","metadata":{"annotations":{"storageclass.kubernetes.io/is-default-cla

[2019-05-11 14:24] jomach commented on #3131
I think I will re-deploy the whole thing via master instead of v0.5.0 which I think this patch is not there.

[2019-05-11 20:30] naseemkullah commented on #3173
Hi @kkasravi , I am taking a new approach and breaking the kubeflow chart into multiple charts for clarity, each representing one of the apps that makeup kubeflow.

[2019-05-11 20:52] prodonjs commented on #3242
/area centraldashboard

[2019-05-11 21:49] naseemkullah commented on #2422
Is the end user already able to configure this with `MYSQL_SERVICE_HOST` value in pipeline and `MYSQL_HOST` value in katib ?

I am working on a helm chart (https://github.com/helm/charts/pull/13454) and would like to use just one instance of mysql for kubeflow.

[2019-05-11 21:53] naseemkullah opened #3248 "pipeline mysql/minio env vars"
1. Can we deprecate

[code]

in favor of

[code]

?

2. Can we add `MYSQL_PASSWORD` as well, with a default of `null` ?

[2019-05-11 21:55] naseemkullah commented on #2422
Also feel we should be able to add a password for pipeline mysql:

https://github.com/kubeflow/kubeflow/issues/3248

[2019-05-12 12:36] ChanYiLin commented on #3247
kubeflow consider a job is Succeeded only when master or worker[0] exit with 0.
In the Tensorflow benchmark, it will call time.sleep to keep the worker alive for user to analyze the logs.
As a result, from Kubeflow perspective, this job is still running.

[2019-05-13 00:17] jlewi commented on #2086
kubeflow/website#382 is merged so marking this fixed.

[2019-05-13 00:17] #2086 closed

[2019-05-13 00:17] jlewi commented on #3081
kubeflow/website#382 is merged so marking this fixed.

[2019-05-13 00:17] #3081 closed

[2019-05-13 00:23] kkasravi commented on #2291
rbac-manager has been evaluated and how it deals with cloud credentials has been incorporated.

[2019-05-13 00:23] #2291 closed

[2019-05-13 00:25] jlewi commented on #2821
@zabbasi @lluunn Any update on this?

[2019-05-13 00:26] jlewi commented on #2992
@kimwnasptd Do you have the information you need to get started on this? Do you have an ETA?

[2019-05-13 00:28] jlewi commented on #3227
@zabbasi is this fixed by #3229 or is there more to do?

[2019-05-13 00:33] jlewi commented on #3207
@kkasravi @hougangliu @gabrielwen What about an E2E test like we currently do with ksonnet where we verify that we can actually deploy Kubeflow and then run a variety of checks to verify different applications are running correctly?

[2019-05-13 00:37] jlewi commented on #3207
It looks like @swiftdiaries has an E2E test in #3060 that has been pending for a while. It looks like the tests might be failing possibly because of this issue?

[2019-05-13 00:41] jlewi opened #3249 "Rename PodPresets controller"
We should rename the PodPresets controller to avoid confusion with the admission controller of the same name.

Who's got suggestions?

How about "PodDefaults"

[2019-05-13 00:43] jlewi commented on #3020
@swiftdiaries @kkasravi Ping? What is the current status?

It looks like there are still problems deploying with kustomize #3020 and we don't have an E2E test yet #2630

[2019-05-13 00:45] jlewi commented on #2566
@kkasravi @swiftdiaries What is the remaining work to do to close this issue?

Can we close this issue and open up more fine grained issues related to the remaining manifests that need to be converted?

[2019-05-13 00:47] jlewi commented on #2911
@kkasravi What is the remaining work to be done here?

[2019-05-13 00:50] jlewi commented on #2982
@kunmingg What is the current status of this?

[2019-05-13 00:50] jlewi commented on #2979
@kunmingg What is the current status of this?

/assign @kunmingg

[2019-05-13 00:51] jlewi commented on #2978
@gabrielwen @kunmingg What is the current status of this?

[2019-05-13 00:53] #3021 closed

[2019-05-13 00:55] jlewi commented on #3007
@lluunn What is C2D?

What is the remaining work blocking us from using ISTIO by default with kustomize?

[2019-05-13 01:04] jlewi commented on #2976
@kkasravi What is the current status? Is the PR deploying the K8s application controller done? It looks like that is being tracked by #2973.

Why does overlays complicate the Application CR? Isn't the application CR the same regardless of what overlays we use?

Why do we need to patch Application's component kinds? Can't we just set Application componentKinds to the union of all kinds across overl

[2019-05-13 01:10] kkasravi commented on #2911
Generators are available in kustomize and generators can be used in manifests testing to generate tests. No more work is required here

[2019-05-13 01:10] #2911 closed

[2019-05-13 01:10] kkasravi commented on #2566
yes, closing

[2019-05-13 01:10] #2566 closed

[2019-05-13 01:24] jlewi commented on #2874
Closing this issue because #3052 is merged

[2019-05-13 02:50] lcax200000 commented on #3220
@yylin1

i'm create tfjob with this yaml:
[code]

get error：

![image](https://user-images.githubusercontent.com/9493082/57593149-c267a180-756c-11e9-813b-c53d79decb89.png)

![image](https://user-images.githubusercontent.com/9493082/57592774-08bc0100-756b-11e9-986d-fa66d6d629b5.png)

And this deployment Can be successfully created：

[code]

The current solution is to change the meta.name

it's can

[2019-05-13 02:51] lcax200000 commented on #3220
@yylin1

i'm create tfjob with this yaml:
[code]

get error：

![image](https://user-images.githubusercontent.com/9493082/57593149-c267a180-756c-11e9-813b-c53d79decb89.png)

![image](https://user-images.githubusercontent.com/9493082/57592774-08bc0100-756b-11e9-986d-fa66d6d629b5.png)

And this deployment Can be successfully created：

[code]

The current solution is to change the meta.name

it's can

[2019-05-13 03:10] yylin1 commented on #3220
@lcax200000
From your `get the error` describe.
Try to stop & remove `old container` in your node, it shows the same name container  running (k8s_tesorflow_train2-worker-0-default-xxxx).

You might check and try clean container in your all node, restart run yaml file to pull container.

[2019-05-13 03:24] lcax200000 commented on #3220
![image](https://user-images.githubusercontent.com/9493082/57594197-7a974900-7571-11e9-8bc5-a4a9c3c1d9f3.png)
It   will Probability of success after change the  meta.name..............

[2019-05-13 07:28] kkasravi commented on #3020
https://github.com/kubeflow/manifests/pull/58 was finally merged earlier today. I'm now waiting on https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/3108/kubeflow-presubmit/1127824924451278848/ which was dependent on https://github.com/kubeflow/manifests/pull/58.

I think #3060 #3108 were also failing because manifests/#58

[2019-05-13 08:14] GitHub007Dra commented on #1883
![image](https://user-images.githubusercontent.com/36945182/57605845-25bbf880-759a-11e9-8488-27908d577a65.png)

i have the same problem ..   plz  i need u help..

[2019-05-13 09:52] jsnowacki commented on #3230
The above keeps repeating in the logs, thus, it seems the IP keeps changing, though, I myself are not causing it. Also the cluster is dedicated to Kubeflow, hence, nothing else should intervene.

Yes, I repeat deployment with the same KFAPP name. Thought, it is different than the one used on web UI deployment.

I have some logs and the cloud endpoint pods and replica set are being created. The onl

[2019-05-13 12:34] jlewi commented on #3230
Can you check your ingress;

[code]

What is the ip address in the status? Does it keep changing?

Can you run

[code]

Then try running

[code]

I think the CloudEndpoints controller needs to explicitly check if the service is in the process of being deleted and then undelete it before trying to apply the config.

/cc @danisla

[2019-05-13 12:55] jlewi commented on #2408
@IronPan You might want to try to figure out manually the proper set of steps to ensure proper deletion; i.e. figure out which kubectl commands to issue in which order.

You might want to delete all the deployments etc... mounting the PD before trying to delete the PD. You might be hitting delete protection on the PD.
https://github.com/kubeflow/testing/blob/master/playbook.md#deleting-and-recreat

[2019-05-13 13:00] jlewi commented on #969
/lifecycle obsolete

[2019-05-13 13:00] #969 closed

[2019-05-13 13:01] jlewi commented on #969
/lifecycle stale

[2019-05-13 13:12] jsnowacki commented on #3230
The ingress command
[code]
gives:
[code]
The gcloud commands give:
[code]
I assume the latter errors are caused by the lack of service rather than permission denied.

BTW during the command run `kfctl apply all -V` I got the following error once:
[code]
But at the end I get all OK result:
[code]

[2019-05-13 13:21] kkasravi commented on #3101
/label kfctl

[2019-05-13 13:23] kkasravi commented on #3101
/assign @kkasravi

[2019-05-13 13:28] kkasravi commented on #3207
/assign @kkasravi

[2019-05-13 13:29] kkasravi commented on #3207
@jlewi this bug is waiting on #3108

[2019-05-13 14:18] jlewi commented on #3159
Closing this issue because 0.5.1 has been cut

[2019-05-13 14:18] #3159 closed

[2019-05-13 14:19] kkasravi commented on #3101
/priority p1

[2019-05-13 14:23] kkasravi commented on #3047
we no longer do this.

[2019-05-13 14:23] kkasravi commented on #3047
/close

[2019-05-13 14:24] #3047 closed

[2019-05-13 15:09] jsnowacki commented on #3230
OK, I've tried with the newer `kfctl` app build 0.5.1 for linux and changed name slightly <kfapp>2 and the endpoint gets created this time:

[code]
Now I get new log from `cloud-endpoints-controller-...`
[code]
All envoys are dead:
[code]
Log from envoy:
[code]
And envoy iap has a lot of:
[code]
Not sure if changing the name or `kfctl` version moved it forward but the endpoint is still unresponsiv

[2019-05-13 17:20] zabbasi commented on #3227
This is fixed  by #3229 and is cherry picked to v0.5.0.
/close

[2019-05-13 17:20] #3227 closed

[2019-05-13 17:21] zabbasi commented on #3249
/assign @zabbasi

[2019-05-13 17:25] zabbasi commented on #3249
Suggestions so far:
- PodDefaults
- PodInits
- PodSetup

[2019-05-13 17:27] lluunn commented on #3007
sorry: click to deploy
For kfctl it's already fixed.
@kunmingg what's the status for click-to-deploy sharing backend?

[2019-05-13 17:53] kunmingg commented on #2978
kfctl now use istio by default.

[2019-05-13 17:55] kunmingg commented on #2979
Can close once https://github.com/kubeflow/kubeflow/pull/3234 merge

[2019-05-13 17:56] kunmingg commented on #2982
Will add a README explain how admin manage access via profile, and close this one.

[2019-05-13 18:51] gabrielwen commented on #3122
/assign @gabrielwen

[2019-05-13 19:12] kimwnasptd commented on #2992
@jlewi yes, waiting for #3245 to be merged. I will have the PR ready mid-late this week

[2019-05-13 19:14] lluunn commented on #2173
We are doing it in profile controller.

[2019-05-13 19:14] lluunn commented on #2173
dup of #2979

[2019-05-13 19:14] #2173 closed

[2019-05-13 19:29] kunmingg opened #3250 "Update Istio to release version."
Currently our Istio version is from a version 1.1 rc.
We should upgrade to latest Istio stable release on v1.1

[2019-05-13 19:48] lluunn commented on #3250
dup of #2806

[2019-05-13 19:48] #3250 closed

[2019-05-13 21:19] jlewi opened #3252 "kfctl should support deletion without app dir"
Right now kfctl delete assumes it is being invoked from the ${KFAPP} directory.

This makes it difficult to cleanup a deployment if the user didn't persist the manifests.

We should support deletion based on the name of the kfapp and possibly some supporting flags like project and platform.

/cc @gabrielwen @kkasravi

[2019-05-13 22:27] ashahba commented on #3252
/assign @ashahba

[2019-05-13 22:38] Jeffwan commented on #3151
/cc

[2019-05-13 22:38] Jeffwan commented on #3151
/cc @Jeffwan

[2019-05-13 23:53] jlewi opened #3254 "jupyter web app auto-update PRs - tests keep failing"
You can see PRs here
https://k8s-gubernator.appspot.com/pr/kubeflow-bot

/cc @zabbasi

[2019-05-14 01:15] liu-sheng commented on #3247
@ChanYiLin thanks for clarification :), so let me built another image for testing.

[2019-05-14 01:15] #3247 closed

[2019-05-14 10:56] nihir27 opened #3256 "Make Jupyter web app ship with its dependencies"
Currently the Jupyter-web-app image pulls from js and css CDNs that reside on the public internet.

If a user is accessing the jupyter web app UI from a browser in an environment with no access to the internet, the UI is unusable.

[2019-05-14 11:05] yanniszark commented on #2981
Following from [PR#3234](https://github.com/kubeflow/kubeflow/pull/3234), I think we should discuss how the userid will be inferred from the JWT.
The current implementation uses a google-specific header to get the userid, making it not work for other platforms.
I can think of two solutions for this:

1. Add a flag in each operator interacting with those headers (profile controller, notebook spawne

[2019-05-14 15:08] jlewi commented on #3256
/cc @kimwnasptd @prodonjs @avdaredevil

[2019-05-14 15:09] jlewi commented on #3155
We can use environment variables.
https://git-scm.com/book/en/v2/Git-Internals-Environment-Variables

[2019-05-14 15:23] jlewi commented on #3155
Here's a PR with the CLA check passing after setting the environment variables.
https://github.com/kubeflow/kubeflow/pull/3257

[2019-05-14 15:28] gyliu513 commented on #3030
https://github.com/StefanoFioravanzo/kale

FYI @hougangliu @jlewi

[2019-05-14 15:58] chris922 opened #3259 "ambassador and vizier-core not starting"
I am using current master (commit 58022fb) and installed kubeflow on a previously created AWS EKS cluster (thus not using `apply platform` provided by kubeflow). (3x t3.large nodes, tested in regions `eu-west-1` and `eu-central-1`)

IAM roles for ALB are in place as well.

Nevertheless I am not able to get the `ambassador` and `vizier-core` pods running.

Just a bunch of responses for various comm

[2019-05-14 16:01] prodonjs commented on #3256
@kimwnasptd You mentioned in https://github.com/kubeflow/kubeflow/pull/3102#issuecomment-487281355 that you were planning to rewrite the front-end in Angular, which would eliminate this issue. Do you have any tentative timeline in mind for when you might tackle that?

[2019-05-14 18:00] yanniszark commented on #3259
I confirm that I encountered the same error when trying to deploy kubeflow with Istio enabled, using platform=none.

[2019-05-14 18:54] yanniszark opened #3261 "Jupyter notebook pod creation fails with 'serviceaccount "jupyter-notebook" not found'"
Steps to reproduce:

1. Clone kubeflow/kubeflow and checkout to commit 58022fbe26d9fc70a271519c8ae0fbe0f860eb57 (Mon May 13 14:16:13 2019 -0400).
2. Install Istio from `dependencies/istio`:
    1. `kubectl apply -f dependencies/istio/install/crds.yaml`
    2. `kubectl apply -f dependencies/istio/install/istio-noauth.yaml`
2. `cd bootstrap; make build-kfctl-container`
3. `cd bin` and follow [the ge

[2019-05-14 19:13] lluunn commented on #3259
It seems that you have istio injector on for kubeflow namespace.
We haven't done that yet, do you manually change it?
Istio sidecar injector cannot be apply to ambassador (because they are both envoy). So you should exclude ambassador (you can add annotation to the pod).

Not sure about vizier though.

[2019-05-14 19:39] chris922 commented on #3259
Thanks for the fast answers!

I haven't done this manually, I will try to disable this tomorrow.. just had a quick look and it seems that the kfctl.sh script activated it:

https://github.com/kubeflow/kubeflow/blob/4b1ae00a997cd83b114c5b00d53a0928cdbcb81c/scripts/aws/util.sh#L154-L157

Is the istio injection required to get the istio-ingress working?

[2019-05-14 21:32] lluunn commented on #3261
We should have that service account in kubeflow namespace.
Which namespace are you creating notebook at?
If it's not kubeflow, might not work now. @zabbasi

[2019-05-14 21:35] yanniszark commented on #3261
It should be the kubeflow namespace.
I will confirm tomorrow!

[2019-05-14 22:52] #3101 closed

[2019-05-14 23:25] jlewi commented on #3155
CLA check is passing.
Example PR
https://github.com/kubeflow/kubeflow/pull/3257

[2019-05-14 23:25] #3155 closed

[2019-05-15 00:27] zabbasi commented on #3261
@yanniszark
We no longer use jupyter-notebook serviceaccount for notebooks (see #3161)
Also notebook controller image is not up-to-date in master. if you are going to use istio, you hav to build the image first and then use it (/cc @gabrielwen). My pr resolves this (#3245)

[2019-05-15 00:54] #2806 closed

[2019-05-15 01:01] jlewi commented on #3254
I think the problem is the cron job to update the image runs at a very frequent interval which is shorter than the time it takes to run the tests.

The update script keeps doing a force push which ends up retriggering the tests.

[2019-05-15 01:05] jlewi opened #3264 "kfctl uses app dir in app.yaml and not actual directory"
It looks like kfctl is using the application directory in app.yaml and not the directory from which kfctl is running.

This will cause problems when moving the app and when using it with source control.

Example suppose user creates the app in
somedir/myapp

and now they move it to
otherdir/myapp

Now suppose they modify the app e.g. add an NFS deployment manager config to gcp_config
To deploy use

[2019-05-15 01:08] jlewi commented on #3264
It looks like the problem is specific to the handling of extra GCP deployment manager config files
https://github.com/kubeflow/kubeflow/blob/453d96759b7b5615b82a4182555cf82149597a11/bootstrap/pkg/kfapp/gcp/gcp.go#L579

[2019-05-15 01:14] jlewi commented on #3264
I take that back it looks like we do it for all configs
https://github.com/kubeflow/kubeflow/blob/47a28b7c42689444fdbf12901cbc98125d1908f9/bootstrap/pkg/kfapp/gcp/gcp.go#L311

[2019-05-15 01:21] jlewi opened #3265 "kfctl doesn't correctly check if extra deployment manager configs exist"
The if condition is wrong
https://github.com/kubeflow/kubeflow/blob/47a28b7c42689444fdbf12901cbc98125d1908f9/bootstrap/pkg/kfapp/gcp/gcp.go#L579

[code]

UpdateDeployment would only be called if the file is an error other than DoesNot exist. That is not what we want.

We should instead be checking that the error is nil.

/cc @gabrielwen
/cc @ashahba

[2019-05-15 01:22] jlewi commented on #3230
Can you try following the troubleshooting guide.
https://www.kubeflow.org/docs/gke/deploy/monitor-iap-setup/

[2019-05-15 02:53] sarahmaddox opened #3266 "Fix indentation and numbered list on CLI deployment page."
![image](https://user-images.githubusercontent.com/6138251/57745425-6fc6ea80-7710-11e9-97d8-8262200a70ef.png)

https://www.kubeflow.org/docs/gke/deploy/deploy-cli/

[2019-05-15 02:54] sarahmaddox commented on #3266
/good-first-issue

[2019-05-15 02:55] sarahmaddox opened #3267 "Link from the getting-started guide to the IBM Cloud Private page"
Add a link on this page:
https://www.kubeflow.org/docs/started/getting-started/

Pointing to this page:
https://www.kubeflow.org/docs/started/getting-started-icp/

Link should follow pattern of GCP and AWS links.

[2019-05-15 02:56] sarahmaddox commented on #3267
/good-first-issue

[2019-05-15 03:16] jlewi commented on #2475
#2710 didn't fix the issue. We need to set storageClassName on the volume as well.
We will need to cherry pick the fix onto the v0.5-branch.

[2019-05-15 04:30] ishanmadan1996 commented on #2863
Hi, I tried your solution and it worked for me, even the pods have successfully been created, but I got an error as follows ->
Error from server (Invalid): error when creating "default.yaml": CustomResourceDefinition.apiextensions.k8s.io "scheduledworkflows.kubeflow.org" is invalid: spec.version: Required value
The pods seem to be created and working, but I can't understand this error^

[2019-05-15 06:26] shkr commented on #2358
I started a jupyter hub server, on kubeflow-0.5.1 on gcp, tensorflow-1.3 gpu works fine, but 2.0 returns missing libcublas error.

[2019-05-15 08:44] jsnowacki commented on #3230
While I was checking the causes, keys etc. I noticed that the endpoint with new <kfapp> name has not been listed in the Authorized redirect URIs, so I corrected and deployed again but still no luck.

Below are the dumps you've requested.

[code]
[code]
Envoy is still down:
[code]
[code]
[code]
[code]
`BACKEND_NAME` is empty hence there is no backend-service it seems. Though, this might be due to t

[2019-05-15 09:08] dongdan39 opened #3271 "Neither v0.5.0 nor v0.5.1 works when spawning "NewServer"."
Dear Developers,
  I found neither v0.5.0 nor v0.5.1 works when spawning "NEW SERVER" on "Notebook Servers", simply no response when clicking on the button. I installed my kubeflow following instructions from:
https://www.kubeflow.org/docs/started/getting-started-k8s/

[root@centos-7-vm-1 lin]# kubectl get deploy -n kubeflow
NAME                                       DESIRED   CURRENT   UP-TO-DATE

[2019-05-15 09:17] dongdan39 commented on #3271
P.S: I did pass --version=v0.5.0 or v0.5.1 when kfctl init, but it does not work.

[2019-05-15 11:24] zabbasi commented on #2358
@shkr can you please copy here the code you tried to run on 2.0? was it Python 2 or 3? Did you just try to import tensorflow?

[2019-05-15 13:09] jlewi commented on #3271
Can you provide the YAML for your jupyter web app ?

[code]

When you click on new server what happens? Do you see the form to create a new notebook?

If nothing happens can you use the chrome developer tools (or equivalent in your browser) to see if there are javascript errors.

/assign @kimwnasptd

[2019-05-15 13:20] chris922 commented on #3259
I removed the label and all pods started successfully!

For me personally the ticket can be closed, but maybe you want to remove the istio injection until it is available? @Jeffwan you added the injection according to git-blame, WDYT?

If you like I can provide a PR that just removes the line that sets the `istio-injection` label.

[2019-05-15 13:23] jlewi opened #3273 "test_is_kf_ready fails for iap-enabler with istio"
Post submit run
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow_kubeflow/kubeflow-postsubmit/1128463690513780736

The test failed waiting for iap-enabler.

Here's the exception

[code]

The calling code is

[code]

I suspect the problem is we are checking the wrong namespace.

It looks like it just started failing.

I suspect this is related to
https://github.com/kubeflow/kubeflow/pu

[2019-05-15 13:29] jlewi commented on #3273
Here's the presubmit run.
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/3253/kubeflow-presubmit/1128396796620443649/

My conjecture is that presubmit is not actually testing the manifests at the PR being submitted.

[2019-05-15 13:36] jlewi commented on #3273
Here are the logs for the build deploy step

[code]
[kubeflow-presubmit-kfctl-go-iap-istio-3253-023af41-3649-673e-2179499500.log.txt](https://github.com/kubeflow/kubeflow/files/3182718/kubeflow-presubmit-kfctl-go-iap-istio-3253-023af41-3649-673e-2179499500.log.txt)

Output doesn't indicate whether it actually pulled at that PR or not we could try to rerun the command to reproduce it.

[2019-05-15 13:57] jlewi commented on #3271
Looks like #3168

[2019-05-15 13:57] #3168 closed

[2019-05-15 14:06] jlewi commented on #2831
Related the git syntax makes assumptions about the repository

[code]

So when you do "pull/<id>" its assuming repository is "kubeflow".

Is there a convenient way to support URIs?

For reference here's the syntax github recommends for checking out PRs

[code]

We also have [checkout_repos.sh](https://github.com/kubeflow/testing/blob/master/images/checkout_repos.sh)

Which uses

[code]

So it make

[2019-05-15 15:59] Jeffwan commented on #3259
@chris922 I make the change in 0.5 and recently istio changes comes in master branch. I will have a check and come back to you soon.s

[2019-05-15 17:37] yanniszark opened #3277 "basic-auth: kflogin doesn't work with NodePort service"
I'm trying to make basic-auth work with a NodePort Service.
The reason is because LoadBalancer is not always available in on-prem scenarios.
However, when `kflogin` posts the credentials to the gatekeeper, it doesn't specify the correct port, which makes NodePort not work.

[2019-05-15 20:38] Jeffwan commented on #3259
ConfigMap `istio-sidecar-injector` policy has been changed from `disabled` to  `enabled` in this commit.
https://github.com/kubeflow/kubeflow/commit/2455ba6134dff4556471a3cafd9bcdef3e0fb241#diff-1ac92c9005d2565157922d5a08fe8166

That's the reason `enabled` namespace  + `enabled` configmap will automatically inject sidecars.
In 0.5, istio is not default installed in kubeflow and AWS solutions insta

[2019-05-15 20:48] lluunn commented on #3259
That's part of 0.6's multi-user support

[2019-05-15 20:51] Jeffwan commented on #3223
https://github.com/kubeflow/kubeflow/pull/3280 File to PR to address this issue for short term. eksctl will guarantee backward compatibility in next release

[2019-05-15 20:57] Jeffwan commented on #3259
@lluunn
Does it mean users won't deploy any workloads needs istio in kubeflow namespace? I notice code base still have some references for `sidecar.istio.io/inject`. If istio inject is disabled at kubeflow namespace level, this will definitely not work unless it's deployed in other namespaces.

Another concern is all the resources deployed in namespace enabled injection will have sidecar?

[2019-05-15 21:00] lluunn commented on #3259
I don't quite understand the question and concern.

The plan is to turn on sidecar whenever makes sense and use istio features.

[2019-05-15 21:13] gabrielwen opened #3282 "[kfctl] kfctl init with ISTIO still deploys ambassador"
We already removed ambassador from components when using ISTIO.  Somehow if we deploy from HEAD ambassador is deployed despite of using ISTIO.

[2019-05-15 21:14] gabrielwen commented on #3282
/cc @kkasravi @jlewi

[2019-05-15 21:15] gabrielwen commented on #3273
there maybe has some changes to kfctl recently that introduces this.  I'm also seeing changed behavior #3282

[2019-05-15 21:15] gabrielwen commented on #3282
/area kfctl

[2019-05-15 21:15] gabrielwen commented on #3282
/priority p0

[2019-05-15 21:17] gabrielwen commented on #3282
when running `kfctl init`, with params `--platform gcp --project <project> -V --skip-init-gcp-project`, app.yaml looks like this:
[code]

[2019-05-15 21:29] gabrielwen commented on #3282
seems like it's introduced in #3108

seems like we use kustomize regardless of the package manager we choose:
https://github.com/kubeflow/kubeflow/blob/master/bootstrap/pkg/kfapp/coordinator/coordinator.go#L66-L104

[2019-05-15 21:30] gabrielwen commented on #3282
/cc @kkasravi

[2019-05-15 21:33] gabrielwen commented on #3265
/assign @gabrielwen

[2019-05-15 21:36] Jeffwan commented on #3259
True. There're many ways to turn on sidecar injection.
 My question is if using `disable` for ConfigMap and adjust namespace and pod policy is better?
Or use `enable` for ConfigMap is better? This major difference is default behavior.

[2019-05-15 21:55] kkasravi commented on #3282
the right package manager is picked but kustomize will build the app.yaml. See https://github.com/kubeflow/manifests#merging-multiple-overlays-to-generate-appyaml

[2019-05-15 22:05] kkasravi commented on #3282
@gabrielwen the generated app.yaml should look like [kfctl_iap.yaml](https://github.com/kubeflow/kubeflow/blob/master/bootstrap/config/kfctl_iap.yaml) - though all 3 will be phased out once the UI is also using kustomize. I do see that iap-ingress is missing the injectIstio Parameter - which needs to be added [here](https://github.com/kubeflow/kubeflow/blob/master/bootstrap/config/overlays/gcp/kfc

[2019-05-15 22:10] gabrielwen commented on #3282
so the differences are:
1. ambassador is added, so is its parameter.
1. iap-ingress doesn't have param `injectIstio`.
1. pipeline doesn't have all of parameters it should have.

params are easy - we just need to add them back as you suggested.  First item is more tricky - we don't want it with ISTIO, but we do all others.

[2019-05-15 22:38] jlewi commented on #3273
Another failing presubmit
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/3274/kubeflow-presubmit/1128767443351638016/

I fetched the event logs for "iap-enabler"

[code]
* A replica set was created
* Logs for the replica set show pod was created
* Here are the event logs for the pod

[code]

Here are the logs
[iap-enabler-99779c66d-54bhw.log.txt](https://github.com/

[2019-05-15 22:45] chupman commented on #3266
I'll take this one.

[2019-05-15 22:46] kkasravi commented on #3282
ambassador is only in config/base.
iap-ingress is in config/overlays/gcp
pipeline is in both config/overlays/{ksonnet,kustomize}

[2019-05-15 22:46] jlewi commented on #3273
Code is calling util.wait_for_deployment
https://github.com/kubeflow/kubeflow/blob/a70c866ee7811ec907c63368a43703447348d99f/testing/kfctl/kf_is_ready_test.py#L69

Here's the exception

[code]
It looks like this is happening immediately.

Hypothesis:
   * util.wait_for_deployment doesn't treat 404 (Not Found as retryable error)); maybe it should?
   * It seems weird that the build and deploy step w

[2019-05-15 22:53] jlewi commented on #3273
Here's another presubmit failure
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/3268/kubeflow-presubmit/1128776375902146560/

In this presubmit we should be logging which namespace we are checking.

Logs show its checking istio-namespace

[code]

But the kfctl logs show that its created in namespace kubeflow

[code]

Event logs show that is actually in namespace `ku

[2019-05-15 23:02] gabrielwen commented on #3273
So the root cause was the result of the combination of two PRs: #3253 #3108

in #3253 I change the param to be injectIstio and this value is set here:
https://github.com/kubeflow/kubeflow/blob/a70c866ee7811ec907c63368a43703447348d99f/bootstrap/pkg/kfapp/coordinator/coordinator.go#L292

As you can see only when `injectIstio` shows up in the list of componentParams that we will set this value.

In #

[2019-05-15 23:11] kkasravi opened #3284 "ksonnet does not include pipeline componentParams when package manager == KSONNET and platform == GCP"
the kustomization.yaml is missing
[code]

[2019-05-16 00:16] lluunn commented on #3259
I think we want the default is on so that everything is in istio mesh.
Those cannot be in istio mesh we can use pod annotation to exclude them.

[2019-05-16 01:15] Jeffwan commented on #3259
OK. Then we will make some changes on AWS side. @chris922 could you file a PR to update kubeflow namespace label?  Another improvement is use same version istio as kfctl version.
https://github.com/kubeflow/kubeflow/blob/7ecc61547b611d53b3162d9254208f06fb004198/scripts/aws/util.sh#L144-L152

Thanks a lot! I can help review.

[2019-05-16 01:21] dongdan39 commented on #3271
[root@centos-7-vm-1 lin]# kubectl -n kubeflow get deploy -o yaml jupyter-web-app
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
    ksonnet.io/managed: '{"pristine":"H4sIAAAAAAAA/5RRy27bMBC89zP2TEUKihzKW9D6ELR2hfRxKYJgTa8c1iSXIFcKDIP/XtAy3KCNUfQkijOzM7M8AEb7nVK2HEADxpjb6RoU7GzYgIYPFB3vPQUBBZ4ENygI+gAO1+RyPWGMoOHnGPdCqXmmdVNvFOwyh

[2019-05-16 01:56] gaocegege commented on #1074
I think we could close the issue safely.

[2019-05-16 02:11] ddutta commented on #1074
+1

On Wed, May 15, 2019 at 6:56 PM Ce Gao <notifications@github.com> wrote:

--
-Debo~

[2019-05-16 02:12] gaocegege commented on #1074
/close

[2019-05-16 02:12] #1074 closed

[2019-05-16 03:13] jlewi commented on #3273
Thanks @gabrielwen

I think the fact that the bug was caused  by the combination of #3253 #3108 also explains why this wasn't caught by presubmit.

Both of those PRs were probably testing against a base that didn't include the other. So presubmits weren't testing the combination of those PRs. So it was only in postsubmit and subsequent PRs rebased after those PRs that we started testing the combin

[2019-05-16 03:21] #3273 closed

[2019-05-16 04:26] naseemkullah opened #3287 "ml-pipeline service seems to be hardcoded, please make parametrizable"
In order to get the [helm chart](https://github.com/helm/charts/pull/13454) (WIP) to work:

[code]

Please allow the service for the ml pipeline api server to be configurable.

In the case of the above helm release it is `vocal-monkey-ml-pipeline-api-server:8888` but it seems to be hardcoded as `ml-pipeline:8888` in the code

[2019-05-16 04:47] #499 closed

[2019-05-16 05:14] y4roslav commented on #2412
@jlewi is there roadmap/project to move toward it? I want to participate.

[2019-05-16 06:34] gracechristina opened #3288 "Errors when creating custom image for Jupyter notebooks"
Hi,
I followed the guide to create custom Jupyter Image
https://www.kubeflow.org/docs/notebooks/custom-notebook/

It creates new server successfully, however when I connect, it will give me this error
```Sorry, /notebook/kubeflow/testcustomimage is not a valid page```
Anyone knows how to fix this or what did I do wrong? Thank you.

[2019-05-16 13:53] jlewi commented on #3288
/assign @zabbasi

@zabbasi can you take a look please?

[2019-05-16 13:54] jlewi commented on #3288
Can you share the source for your Dockerfile?

[2019-05-16 14:28] jsnowacki commented on #3230
It seems that it also doesn't work now form the Web UI (https://deploy.kubeflow.cloud) for me. I did the same setup as above and I have the exact error.  The web log just keeps waiting with:
[code]
And envoy is also dead.

[2019-05-16 14:31] jmreicha commented on #2337
Still interested in this.

[2019-05-16 14:57] naseemkullah opened #3295 "Create a helm repository"
A helm [chart is in the works](https://github.com/helm/charts/pull/13454) and we could host it in the kubeflow project and then add it to [helm hub](https://github.com/helm/hub/blob/master/Repositories.md).

Could we please look into creating a helm repository?

[2019-05-16 16:46] tmattio opened #3296 "Error running kfctl.sh apply k8s"
Following the documentation to install Kubeflow on AWS here:
https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/

I have an error when running
[code]

It yields:
[code]

[2019-05-16 16:57] krishnadurai commented on #3096
Design proposal for addressing the above requirements:

http://bit.ly/2WPs1MS

[2019-05-16 17:24] gabrielwen commented on #3273
Yes, they need to sync to master.

I think the root cause of this is our testing logic as you described.  Say branch tree looks like:
[code]
Our testing workflows take base + branch to test.  However, I think the correct logic should be:
1. use `HEAD + branch`
1. if it's able to patch, use it and run the tests.
1. if it is not able to patch, returns failure and asks author to rebase and re-run the

[2019-05-16 17:56] akilman commented on #3132
Hitting the same on OSX 10.14.4 w/ ksonnet installed:

[code]

[2019-05-16 19:01] jlewi commented on #2476
/cc @aronchick

[2019-05-17 02:30] lcax200000 commented on #3220
@jlewi @yylin1
I solved the problem after upgrading the  NVIDIA/k8s-device-plugin/v1.12/nvidia-device-plugin version.(1.9->1.12)

[2019-05-17 02:30] gracechristina commented on #3288
Hi,
This is Dockerfile that I used. I used the default docker image as base image and install pandas on top of it. But when I choose this image, I am not able to connect to the pod.

[code]

[2019-05-17 02:31] #3220 closed

[2019-05-17 03:06] gabrielwen commented on #3282
Current task: check basic auth.

[2019-05-17 03:14] lcax200000 opened #3299 "Jupyter Spawned failed when notebook images upgrade to v0.5.0"
Jupyter Spawned failed when   notebook images  upgrade to  gcr.io/kubeflow-images-public/tensorflow-1.10.1-notebook-cpu:v0.5.0

gcr.io/kubeflow-images-public/tensorflow-1.10.1-notebook-cpu:v0.3.1 and gcr.io/kubeflow-images-public/tensorflow-1.10.1-notebook-cpu:v0.4.0 is still successed

[root@k8s-m1 mnist]# kubectl logs -f   jupyter-c6  -n kubeflow
`[FATAL tini (6)] exec start-singleuser.sh failed

[2019-05-17 03:37] dongdan39 opened #3300 "Change the default imagePullPolicy from "Always" to "IfNotPresent"?"
Dear Developers,
  Is it possible to change the default imagePullPolicy from "Always" to "IfNotPresent" in Kubeflow deployment scripts? It seems will cause problem if network connection is not stable, where the deployment will always try to pull the docker images even if there are already available local copies. Thanks!

Cheers,
Dan

[2019-05-17 03:37] kkasravi commented on #3207
/close

[2019-05-17 03:37] #3207 closed

[2019-05-17 07:32] gracechristina commented on #3288
Sorry, I don't think it is the problem of the custom image.
I restarted the ambassador pods and somehow the problem is solved and I can connect to the jupyter notebooks built with custom docker image.

I am not sure whether this is a problem related to ambassador because I cannot replicate it anymore.
If I encounter this again in the future, I will update this issue. Thank you.

[2019-05-17 09:05] dongdan39 commented on #3271
Turns out to be a network firewall problem when downloading a *.js script. Sorry for this confusion, please close this issue. Thanks!

[2019-05-17 09:05] #3271 closed

[2019-05-17 11:10] discordianfish commented on #3091
Let's not mix together multiple issues here. @yylin1's issue is different from OPs.

I have the same problem as OP.
@jlewi I think the problem is that https://github.com/kubernetes/client-go/blob/master/tools/clientcmd/loader.go#L463 for some reason isn't resolving the path properly. I've poked around a bit but it's not obvious what is going on. This looks correct: https://github.com/kubeflow/kube

[2019-05-17 13:49] nagautier commented on #3132
Having the same issue with ksonnet installed, tried latest release and compiling manually.
[code]
[code]
 On Unbuntu 18.04 with minikube.

[2019-05-17 14:10] jlewi commented on #3091
Thanks @discordianfish

[2019-05-17 14:14] jlewi commented on #3091
+1 to not mixing issues
@sh0gg0th  it looks like your issue is #3130

[2019-05-17 14:22] jlewi commented on #3130
/assign @IronPan

Could you submit a fix and cherry pick to the v0.5-branch?

I wonder why this doesn't seem to affect everyone?

@0xE282B0 What version of K8s are you using?

[2019-05-17 14:41] jlewi commented on #3091
/cc @gabrielwen @kkasravi

[2019-05-17 15:18] 0xE282B0 commented on #3130
@jlewi I'm using docker desktop for mac and it comes with a K8s v1.10.11
![Bildschirmfoto 2019-05-17 um 17 16 34](https://user-images.githubusercontent.com/4034494/57938054-93806100-78c7-11e9-898a-23e32855b865.png)

[2019-05-17 16:11] kkasravi commented on #3091
@discordianfish @sh0gg0th

It looks like @sh0gg0th first hit the client cert problem, then later hit the scheduledworkflows CRD problem, which @yylin1 resolved by recreating the scheduledworkflows CRD.

@sh0gg0th a few questions:
- did you download kfctl-v0.5.1?
- what were your args to `kfctl init...`, `kfctl generate...`?

The failure was during the metacontroller deployment. This is the first c

[2019-05-17 17:12] yanniszark commented on #3182
I've been looking into how the Istio Gateway and VirtualServices work and I would love to help with this issue.

From my understanding, the goal of this issue is to have Kubeflow working with Istio without caring for any form of auth.
In other words, make sure the `User->Gateway->KF Components` routes are functional.

My plan is the following:
1. Start from a clean master config.
2. Deploy with th

[2019-05-17 17:24] #3266 closed

[2019-05-17 18:13] IronPan commented on #3130
The CRD API is using new K8s CRD multi-version API which is supported in v1.11 and after.
Here is more context
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/api-machinery/customresources-versioning.md

The workaround looks good for earlier version.

[2019-05-17 18:28] #3259 closed

[2019-05-17 19:18] #3122 closed

[2019-05-17 19:37] wcass77 commented on #3214
Which pods did you restart? I'm having the same issue. Thanks

[2019-05-17 19:53] kkasravi opened #3303 "iap-ingress is missing parameters used in ksonnet"
kustomize.go needs to look for appName and replace the value with kustomize.Name which is the appName eg `kfctl init <appName>...`

[2019-05-17 22:17] zabbasi opened #3305 "improve admission-webhook bootstrap server certificate creation"
Current bootstrap server runs a [script](https://github.com/kubeflow/kubeflow/blob/master/kubeflow/admission-webhook/create_ca.sh) whcih on every launch does the following steps:
 1. create a CA (CA-cert, CA-key)
 1. create a server private key (server-key)
 1. create a CSR using server-key and sign it with CA-key (server-cert)
1. create a secret from server-key and server-cert
1. restart webhook

[2019-05-17 22:18] zabbasi commented on #3305
/assign @zabbasi
/priority p1
/area multi-user

[2019-05-17 22:59] kunmingg opened #3306 "Install Istio for every test workflow"
Our latest notebook controller has dependency on Istio. Any test with notebooks will fail if Istio is not installed.
We should make sure all deployment e2e test workflows install Istio.

[2019-05-18 01:48] swiftdiaries commented on #3182
Awesome ! Thanks for picking this up :)
I'll assign the issue to you
/assign @yanniszark

[2019-05-18 01:53] swiftdiaries commented on #3182
From my initial look into this, the pipelines and katib UI routes work as expected but the other virtual services don't.
Also, I had to install Istio and Kubeflow Gateway separately. And set the istio-ingressgateway service in the istio namespace to NodePort to make it adapt for on-premise clusters.
Hope this helps :)

[2019-05-18 08:52] AtrisMio opened #3309 "kfctl apply failed"
When I deploy kubeflow follow the guide of [Kubeflow on Kubernetes](https://www.kubeflow.org/docs/started/getting-started-k8s/). May something go error? I cannot get resources after `kfctl apply`.

[code]

My system info is this.
[code]

the files in `KFAPP`   [filelist.txt](https://github.com/kubeflow/kubeflow/files/3193855/filelist.txt)

How can I resolve this problem? Please help me.

[2019-05-18 14:07] kkasravi commented on #3303
/assign @kkasravi

[2019-05-18 14:42] kkasravi opened #3310 "Notebook CRD should include JobSpec not PodSpec"
See #3308 for context.

Since the JobSpec includes a PodSpec, a Notebook CR would be able to specify the ttlSecondsAfterFinished field.

- [ ] The [CRD](https://github.com/kubeflow/kubeflow/tree/master/components/notebook-controller/config/crds) that is produced under components/notebook-controller needs to replace [manifests/jupyter/notebook-controller/crd.yaml](https://github.com/kubeflow/manife

[2019-05-18 15:32] aronchick opened #3312 "Errors when creating a notebook (standard)"
Action:
- Start Kubeflow on a custom namespace
- Port forward to svc/ambassador
- Go to central dashboard
- Create standard notebook server

Expected: "Connect" connects to notebook
Actual: "Sorry, <notebook name> is not a valid page"

[2019-05-18 15:44] aronchick commented on #3312
cc @zabbasi @jlewi

[2019-05-19 01:37] jlewi commented on #3091
Some suggestions to help debug this:

1. Instead of running `kfctl apply all`; try running ksonnet directly

[code]
1. If you get the same error try using the `--certificate-authority` to directly specify the path to the CLA
   certificate

[code]
1. As a work around try applying the configs with `kubectl`

[code]
@discordianfish @sh0gg0th perhaps you can help shed light on how certificate-authori

[2019-05-20 03:37] dongdan39 opened #3315 "CustomResourceDefinition.apiextensions.k8s.io "scheduledworkflows.kubeflow.org" is invalid when "kfctl apply" in v0.5.0 and v0.5.1"
Hi, Experts,
  I got the following error when "kfctl apply k8s" on both v0.5.0 and v0.5.1:

ERRO[0142] (Will retry) Component pipeline apply failed; Error: handle object: patching object from cluster: merging object with existing state: CustomResourceDefinition.apiextensions.k8s.io "scheduledworkflows.kubeflow.org" is invalid: status.storedVersions[0]: Invalid value: "v1alpha1": must appear in spe

[2019-05-20 06:45] dongdan39 commented on #3315
Problem resolved. Closing the issue.

[2019-05-20 06:45] #3315 closed

[2019-05-20 08:08] karlschriek opened #3316 "`kfctl.sh apply platform` on EKS fails if automatically selected availability zone has no capacity"
When running `kfctl.sh apply platform` on EKS, `kfctl` appears to automatically select which availabililty zones it will use. Sometimes one of the selected availability zone does not have capacity, leading to the error below:

[code]

The expected behaviour should surely be that `kfctl` will only select availability zones that currently do have capacity?

[2019-05-20 11:04] solovyevt commented on #3162
Just to clarify: is it impossible to use kfctl for on-premise now? Why using `kfctl apply k8s` for that?

[2019-05-20 16:22] zabbasi commented on #3312
Have you deployed from v0.5. if yes then https://bit.ly/2UOzzxB should  help you to create a notebook in custom namespace.
This feature in master is WIP and is not currently available.

[2019-05-20 18:47] #3303 closed

[2019-05-20 19:37] sh0gg0th commented on #3091
@jlewi @discordianfish @kkasravi sorry about the delay - had to work in the existing deployment that I couldn't take down. Just tried kfctl-v0.5.1 using the standard procedure:
[code]
Got the same error. It's not a GCP cluster btw, it's a manual deployment on AWS instances (not EKS).
Will post updates as I try the suggested workarounds. Thanks for your help everyone!

[2019-05-20 19:55] zabbasi opened #3318 "Update notebook-controller image"
Latest notebook controller has dependency on Istio. Currently since some of deployment e2e test workflows do not install Istio (e.g., kfctl-go-iap) any pr updating notebook-controller image stops at presubmit test.
#3306

[2019-05-21 08:01] wlongxiang commented on #3267
Is anyone taking this issue? Otherwise I am happy to make my first contribution.

[2019-05-21 09:29] karlschriek opened #3323 "TF Serving on AWS: model_base_path does not set correctly"
I am performing the following steps in order to serve a simple model from S3 using TF serving:

[code]

As far as I can see this is correctly configured (at least based on what is suggested here: https://www.kubeflow.org/docs/components/tfserving_new/).

However, when running this the following happens:

[code]

`testmodel-service-v1-6b87cdcd88-twcj6` will not start, resulting in following logs:

[2019-05-21 18:22] #3249 closed

[2019-05-21 23:12] travishen opened #3329 "[v0.5.1] Best practice setting notebook tolerations / node selector"
kubeflow version: v0.5.1

Hi, I want to create notebook instances by notebook-controller via jupyter-web-ui, which I prefer to schedule them on special node type, from a custom node-pool for some reasons:
* High CPU/Memory machine needed
* I like it to be **preemptible**

In my use case, I have a special node-pool n32-highmem-preemptible-autoscale-0-1, then I create a notebook server that allocate

[2019-05-21 23:17] sarahmaddox commented on #3267
Thanks @wlongxiang it'd be great for you to take this one on!

I'll assign the issue to myself, so that people know it's being worked on. I'm looking forward to seeing your PR. :)

/assign

[2019-05-22 07:36] #3323 closed

[2019-05-22 07:38] karlschriek commented on #3323
I was using the wrong prototype.

To be clear though, you need to use `ks pkg install kubeflow/tf-serving@master` in order to get the prototype, but the use tf-serving-**service** when you call generate, i.e. `ks generate tf-serving-service ${SERVICE_NAME}`

[2019-05-22 08:35] shkr commented on #2358
I just tried to import tensorflow

[2019-05-22 08:36] shkr commented on #2358
Currently, I have just reverted to tensorflow 1.13 gpu on kubeflow. But tensorflow 2.0 is how I want to implement new models, but it is not possible to develop it on kubeflow right now.

[2019-05-22 09:35] arjunm183 opened #3330 "kubeflow components fails when deploying in kubernetes environment, where PodSecurityPolicies are Enabled.(root containers not allowed)"
Kubeflow component fails to deploy in k8s environment where PodSecurityPolicies are enabled with runAsUser rule: MustRunAsNonRoot

#Environment:
==================
**kubernetes:** v 1.12.6 and above

**kubeflow:** master, v0.5.0

**kfctl:**

kfctl version
v20181207-4e7f4ed-198-gaeea303e-dirty-03e65e

**ks:**

ks version
ksonnet version: 0.13.1
jsonnet version: v0.11.2
client-go version: kubernetes

[2019-05-22 11:46] kkasravi opened #3331 "ISTIO related deployments are deployed to wrong namespace"
Should be in `istio-system`, but it's deployed to kubeflow instead.

example:
[code]

[2019-05-22 13:41] #3154 closed

[2019-05-22 15:47] amarrella opened #3332 "Kubeflow on EKS not starting jupyter notebooks"
Hello,
I'm playing around with a Kubeflow installation on EKS following the instructions in https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/

Everything seems to work fine, but when I try to start a jupyter notebook server and i click "SPAWN" the request returns a 500.

Checking the logs in the jupyter-web-app pod I see the following:
[code]

So to me it seems it's trying to hit an endpo

[2019-05-22 16:13] dodizzle commented on #3173
Is there an update to this? I am also woking with @naseemkullah to create a helm chart for kubeflow.
It won't take much work to get the manifests repo to be a helm chart. But I don't want to waste our efforts. Not sure why there would be resistance to deploying kubeflow via helm as it is by far the most common way to deploy services in kubernetes. Basically ever open source project can be deployed

[2019-05-22 16:16] devonkinghorn commented on #3173
@dodizzle even if the kubeflow org doesn't support helm. A community helm chart will be greatly appreciated.

[2019-05-22 17:14] zabbasi opened #3333 "Install istio for the exiting kfctl e2e test"
The presubmit test workflow [kfctl-test](https://github.com/kubeflow/kubeflow/blob/master/testing/workflows/components/kfctl_test.jsonnet) uses [scripts/kfctl.sh](https://github.com/kubeflow/kubeflow/blob/master/scripts/kfctl.sh) to deploy Kubeflow and does not install istio. However currently notebook-controller have a dependency on VirtualServices. That's why the test fails for any update on the

[2019-05-22 19:05] otaviocv commented on #3242
That seems pretty acurate. I don't have any other considerations.

[2019-05-22 19:47] pisymbol commented on #3091
@jlewi First time kube-flow'er, long-time machine learner:

When I try to apply the ks_app yaml I see:

statefulset.apps "metacontroller" configured
Error from server (Invalid): error when creating "/tmp/spec.yaml": CustomResourceDefinition.apiextensions.k8s.io "scheduledworkflows.kubeflow.org" is invalid: spec.version: Required value
Error from server (Invalid): error when creating "/tmp/spec.yam

[2019-05-22 20:19] kkasravi commented on #3173
kubeflow is a collection of components - eg the kustomization.yaml's under https://github.com/kubeflow/manifests are used to generate separate groups of resources. Each kustomize target is deployed separately.

if you do a `kfctl init ~/kubeflow; cd ~/kubeflow; kfctl generate all`
you'll see separate yamls under ~/kubeflow/kustomize.

Currently kfctl doesn't provide an option of deploying either u

[2019-05-22 21:29] Ark-kun opened #3336 "IAP-enabled cluster deployed using the IUI cannot be reached."
2019-04-21 17:26:31.641: Getting enabled services for project avolkov-31337..
2019-04-21 17:26:32.187: Proceeding with project number: 140626129697
2019-04-21 17:26:36.504: Deploy acknowledged by backend
2019-04-21 17:26:47.238: kfp0120: Deployment Operation Status: RUNNING
2019-04-21 17:26:56.834: kfp0120: Deployment Operation Status: RUNNING
2019-04-21 17:27:06.807: kfp0120: Deployment Operation

[2019-05-22 22:00] Jeffwan commented on #3332
/assign @Jeffwan

[2019-05-22 22:03] Jeffwan commented on #3316
@karlschriek This is an problem on eksctl. I would suggest you to control availability zones manually in eksctl cluster config file. Please use AZs a b c for large region.

See this
https://github.com/kubeflow/kubeflow/blob/ea43dfacf8216481ca2f1d9fcf90fc972392a6af/deployment/aws/infra_configs/cluster_config.yaml#L11-L12

[2019-05-22 22:45] #1925 closed

[2019-05-22 22:45] #1896 closed

[2019-05-22 22:45] #2341 closed

[2019-05-22 22:45] #2342 closed

[2019-05-22 22:45] #2312 closed

[2019-05-22 22:45] #1894 closed

[2019-05-22 22:45] #1616 closed

[2019-05-22 22:45] #2103 closed

[2019-05-22 22:45] #2129 closed

[2019-05-22 22:45] #2327 closed

[2019-05-22 22:45] #2356 closed

[2019-05-22 22:45] #337 closed

[2019-05-22 22:45] #2379 closed

[2019-05-22 22:45] #2378 closed

[2019-05-22 22:45] #2351 closed

[2019-05-22 22:45] #1737 closed

[2019-05-22 22:45] #1457 closed

[2019-05-22 22:45] #1858 closed

[2019-05-22 22:45] #191 closed

[2019-05-22 22:45] #2207 closed

[2019-05-22 22:45] #2374 closed

[2019-05-22 22:45] #2399 closed

[2019-05-22 22:45] #2381 closed

[2019-05-22 22:45] #2415 closed

[2019-05-22 22:45] #2469 closed

[2019-05-22 22:45] #2467 closed

[2019-05-22 22:45] #2480 closed

[2019-05-22 22:46] #3246 closed

[2019-05-22 22:48] zabbasi commented on #2358
@shkr  Which kernel was it? (Python 2 or 3)
Will test it and come back to you.

[2019-05-22 23:25] kkasravi opened #3339 "kfctl downloadfromcache should parallelize kubeflow and manifests"
this should cut the time taken to download in init

[2019-05-22 23:25] kkasravi commented on #3339
/area kfctl

[2019-05-22 23:29] kkasravi commented on #3339
/assign @ashahba

[2019-05-22 23:29] kkasravi commented on #3339
/assign @kkasravi

[2019-05-22 23:45] #1451 closed

[2019-05-22 23:45] #2121 closed

[2019-05-22 23:45] #2142 closed

[2019-05-22 23:45] #1354 closed

[2019-05-22 23:45] #2146 closed

[2019-05-22 23:45] #2159 closed

[2019-05-22 23:45] #11 closed

[2019-05-22 23:45] #1731 closed

[2019-05-22 23:45] Jeffwan commented on #3332
Looks like it's better to use a stable version for EKS. I will make some changes and cherry-pick to v0.5-branch. Then I will update documentation to use v0.5-branch later. This will give more stable environment.

[2019-05-22 23:45] #2124 closed

[2019-05-22 23:45] #2088 closed

[2019-05-22 23:45] #1889 closed

[2019-05-22 23:45] #2089 closed

[2019-05-22 23:45] #2175 closed

[2019-05-22 23:45] #2197 closed

[2019-05-22 23:45] #2078 closed

[2019-05-22 23:45] #2213 closed

[2019-05-22 23:45] #2196 closed

[2019-05-22 23:45] #2192 closed

[2019-05-22 23:45] #2234 closed

[2019-05-22 23:45] #211 closed

[2019-05-22 23:45] #2300 closed

[2019-05-22 23:45] #848 closed

[2019-05-22 23:45] #2229 closed

[2019-05-22 23:45] #615 closed

[2019-05-22 23:45] #264 closed

[2019-05-22 23:45] #2288 closed

[2019-05-22 23:45] #2320 closed

[2019-05-22 23:45] #2273 closed

[2019-05-22 23:46] Jeffwan commented on #3332
I will also check why notebook can not connected on master and come back to you later

[2019-05-23 00:00] Jeffwan commented on #2998
/assign @Jeffwan

[2019-05-23 00:00] Jeffwan commented on #2998
Blocked by eksctl.. can not easily import as SDK

[2019-05-23 00:04] Jeffwan commented on #3296
@tmattio

Can you help list files under ${KUBEFLOW_REPO}?

[code]

[2019-05-23 00:04] Jeffwan commented on #3296
/assign @Jeffwan

[2019-05-23 00:06] Jeffwan commented on #3085
@spaghettifunk Since you use EKS, you can check [documentation](https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/) here and get a public load balancer via ingress.

[2019-05-23 00:45] #1895 closed

[2019-05-23 00:45] #1251 closed

[2019-05-23 00:45] #1363 closed

[2019-05-23 00:45] #1346 closed

[2019-05-23 00:45] #1560 closed

[2019-05-23 00:45] #1337 closed

[2019-05-23 00:45] #1121 closed

[2019-05-23 00:45] #1004 closed

[2019-05-23 00:45] #1215 closed

[2019-05-23 00:45] #380 closed

[2019-05-23 00:45] #278 closed

[2019-05-23 00:45] #712 closed

[2019-05-23 00:45] #925 closed

[2019-05-23 00:45] #101 closed

[2019-05-23 00:45] #451 closed

[2019-05-23 00:45] #1990 closed

[2019-05-23 00:45] #1870 closed

[2019-05-23 00:45] #1471 closed

[2019-05-23 00:45] #2054 closed

[2019-05-23 00:45] #1976 closed

[2019-05-23 00:45] #2065 closed

[2019-05-23 00:45] #1496 closed

[2019-05-23 00:45] #2005 closed

[2019-05-23 00:45] #1472 closed

[2019-05-23 00:45] #1591 closed

[2019-05-23 00:45] #1433 closed

[2019-05-23 00:45] #1444 closed

[2019-05-23 00:45] #934 closed

[2019-05-23 00:45] #1407 closed

[2019-05-23 01:45] #1328 closed

[2019-05-23 01:45] #1336 closed

[2019-05-23 01:45] #1316 closed

[2019-05-23 01:45] #1343 closed

[2019-05-23 01:45] #1347 closed

[2019-05-23 01:45] #1330 closed

[2019-05-23 01:45] #819 closed

[2019-05-23 01:45] #1366 closed

[2019-05-23 01:45] #1369 closed

[2019-05-23 01:45] #1379 closed

[2019-05-23 01:45] #1473 closed

[2019-05-23 01:45] #781 closed

[2019-05-23 01:45] #1474 closed

[2019-05-23 01:45] #1478 closed

[2019-05-23 01:45] #1448 closed

[2019-05-23 01:45] #1509 closed

[2019-05-23 01:45] #1118 closed

[2019-05-23 01:45] #1525 closed

[2019-05-23 01:45] #1116 closed

[2019-05-23 01:45] #733 closed

[2019-05-23 01:45] #1557 closed

[2019-05-23 01:45] #1518 closed

[2019-05-23 01:45] #1698 closed

[2019-05-23 01:45] #1464 closed

[2019-05-23 01:45] #1358 closed

[2019-05-23 01:45] #1789 closed

[2019-05-23 01:45] #1822 closed

[2019-05-23 01:45] #1826 closed

[2019-05-23 02:45] #862 closed

[2019-05-23 02:45] #460 closed

[2019-05-23 02:45] #319 closed

[2019-05-23 02:45] #289 closed

[2019-05-23 02:45] #346 closed

[2019-05-23 02:45] #1003 closed

[2019-05-23 02:45] #1017 closed

[2019-05-23 02:45] #117 closed

[2019-05-23 02:45] #483 closed

[2019-05-23 02:45] #1088 closed

[2019-05-23 02:45] #1067 closed

[2019-05-23 02:45] #448 closed

[2019-05-23 02:45] #1071 closed

[2019-05-23 02:45] #1132 closed

[2019-05-23 02:45] #1148 closed

[2019-05-23 02:45] #1168 closed

[2019-05-23 02:45] #731 closed

[2019-05-23 02:45] #258 closed

[2019-05-23 02:45] #253 closed

[2019-05-23 02:45] #1259 closed

[2019-05-23 02:45] #514 closed

[2019-05-23 02:45] #1219 closed

[2019-05-23 02:45] #465 closed

[2019-05-23 02:45] #1277 closed

[2019-05-23 02:45] #324 closed

[2019-05-23 02:45] #1275 closed

[2019-05-23 02:45] #1294 closed

[2019-05-23 02:45] #167 closed

[2019-05-23 02:45] #1325 closed

[2019-05-23 02:45] #1332 closed

[2019-05-23 03:33] chenjr0719 commented on #2682
Any update?

My studyjob-controller output the same errors:
[code]

[2019-05-23 04:09] #538 closed

[2019-05-23 04:09] #640 closed

[2019-05-23 04:09] #637 closed

[2019-05-23 04:09] #675 closed

[2019-05-23 04:09] #681 closed

[2019-05-23 04:09] #651 closed

[2019-05-23 04:09] #700 closed

[2019-05-23 04:09] #716 closed

[2019-05-23 04:09] #717 closed

[2019-05-23 04:09] #730 closed

[2019-05-23 04:09] #739 closed

[2019-05-23 04:09] #738 closed

[2019-05-23 04:09] #118 closed

[2019-05-23 04:09] #350 closed

[2019-05-23 04:09] #606 closed

[2019-05-23 04:09] #736 closed

[2019-05-23 04:09] #762 closed

[2019-05-23 04:09] #554 closed

[2019-05-23 04:09] #20 closed

[2019-05-23 04:09] #596 closed

[2019-05-23 04:09] #774 closed

[2019-05-23 04:09] #783 closed

[2019-05-23 04:09] #677 closed

[2019-05-23 04:09] #801 closed

[2019-05-23 04:09] #775 closed

[2019-05-23 04:09] #752 closed

[2019-05-23 04:09] #828 closed

[2019-05-23 04:09] #877 closed

[2019-05-23 04:09] #938 closed

[2019-05-23 04:09] #942 closed

[2019-05-23 05:09] #89 closed

[2019-05-23 05:09] #31 closed

[2019-05-23 05:09] #51 closed

[2019-05-23 05:09] #156 closed

[2019-05-23 05:09] #180 closed

[2019-05-23 05:09] #236 closed

[2019-05-23 05:09] #349 closed

[2019-05-23 05:09] #313 closed

[2019-05-23 05:09] #449 closed

[2019-05-23 05:09] #452 closed

[2019-05-23 05:09] #454 closed

[2019-05-23 05:09] #455 closed

[2019-05-23 05:09] #500 closed

[2019-05-23 05:09] #398 closed

[2019-05-23 05:09] #377 closed

[2019-05-23 05:09] #277 closed

[2019-05-23 05:09] #265 closed

[2019-05-23 05:09] #102 closed

[2019-05-23 05:09] #87 closed

[2019-05-23 05:09] #563 closed

[2019-05-23 05:09] #536 closed

[2019-05-23 05:09] #537 closed

[2019-05-23 05:09] #566 closed

[2019-05-23 05:09] #522 closed

[2019-05-23 05:09] #592 closed

[2019-05-23 05:09] #619 closed

[2019-05-23 05:09] #630 closed

[2019-05-23 05:09] #639 closed

[2019-05-23 05:09] #382 closed

[2019-05-23 06:09] #12 closed

[2019-05-23 06:09] #54 closed

[2019-05-23 08:42] shkr commented on #2358
python3

[2019-05-23 11:14] amarrella commented on #3332
Hi @Jeffwan , thanks for looking into this. The v0.5.1 binary seems broken as it doesn't support the `--provider aws`. The v0.5.1 version source seems to have some conflict with Istio and Ambassador, making the ambassador pods continuously crash. I'll open separate issues for those.

[2019-05-23 11:20] amarrella opened #3344 "kfctl v0.5.1 binary not working for AWS"
It looks like kfctl v0.5.1 binary doesn't support `--provider aws` while the source code tagged as v0.5.1 does. Also when I run:
[code]
it seems to get an old dirty version:
[code]

[2019-05-23 11:36] jlewi commented on #3344
AWS currently still uses kfctl.sh

Migrating to kfctl is #2998

The --version issue is #2986

/cc @Jeffwan

[2019-05-23 11:36] #3344 closed

[2019-05-23 11:37] jlewi commented on #3336
@Ark-kun Can you follow https://www.kubeflow.org/docs/gke/deploy/monitor-iap-setup/
and see where deployment failed.

[2019-05-23 11:38] jlewi commented on #3329
One option would be to create them via kubectl and not the UI by creating notebook resources. Then you can specify the full podtemplate spec.

[2019-05-23 11:40] jlewi commented on #3309
/cc @kkasravi @gabrielwen

[2019-05-23 11:42] jlewi commented on #3091
@pisymbol HI I think there is already an issue for that. As @discordianfish mentions lets not discuss multiple issues.

[2019-05-23 12:22] pisymbol commented on #3091
@jlewi What issue number is that? I couldn't find it for whatever reason. Google let me here.

[2019-05-23 13:26] jsnowacki commented on #3230
OK I've managed to find the core of the problem by looking into https://www.kubeflow.org/docs/gke/troubleshooting-gke/#envoy-pods-crash-looping-root-cause-is-backend-quota-exceeded. The ingress command, indeed, shows the issue with quota, though I've never considered it before as this GCP project was created mostly for this task so I didn't look into the quota at first.

When I checked the quota t

[2019-05-23 14:57] discordianfish commented on #3091
@jlewi
- running `ks apply default` in xx/ks_app works only with my crt file symlinked to xx/
- running `ks apply default --certificate-authority ~/.kube/ca-internalca.crt` works
- my kubeconfig uses a relative file path (`certificate-authority: ca-internalca.crt`), the file exist in `~/.kube`
- kubectl works as expected with this setup

Last but not least, using an absolute path leads to a segfau

[2019-05-23 16:06] avdaredevil opened #3346 "Update the Profile Controller to include name and image"
## About:
As part of our OKR to allow for supporting a user based flow on central-dashboard and having user auth baked in, we would need to have access to:
- Name
- Email
- Image

Now, we can try to detect some of these from cookies or headers, but that is non-deterministic, and is different for every platform (ie. Google vs AWS vs On Prem (Active Directory)).

Ideally this data is already normali

[2019-05-23 16:06] Jeffwan commented on #3344
@amarrella Let's keep track of the issue here https://github.com/kubeflow/kubeflow/issues/3332

[2019-05-23 16:14] Jeffwan commented on #3332
@amarrella I mean use v0.5-branch kfctl.sh.

[code]

And then edit `${KUBEFLOW_SRC}/scripts/aws/util.sh` to add following changes before your `apply k8s`. I will make this PR cherry-picked back to 0.5.

https://github.com/kubeflow/kubeflow/pull/3340/files

[2019-05-23 17:25] pisymbol commented on #2863
This is a known issue. Trying to come up with a link. By chance is your k8s install old?

[2019-05-23 17:36] gabrielwen commented on #3309
I didn't see any errors, did you trump logs or did you key interrupt `kfctl apply`?

`已杀死` this in Chinese seem like you key interrupted the process?

[2019-05-23 17:42] gabrielwen commented on #3282
/remove-priority p0

[2019-05-23 17:42] gabrielwen commented on #3282
/priority p1

[2019-05-23 17:50] zabbasi commented on #2358
![image](https://user-images.githubusercontent.com/9967553/58274780-6fe66c00-7d48-11e9-8ab4-d73afd14b3fd.png)

fixed it (tag wan not pointing to the latest)

[2019-05-23 17:51] zabbasi commented on #2358
![image](https://user-images.githubusercontent.com/9967553/58274914-bb991580-7d48-11e9-9be6-cc3dac6c5459.png)
 @shkr

[2019-05-23 18:04] Jeffwan commented on #3332
[code]

I can reproduce this issue in master branch, Let me check what is changed on note book controller side.

[2019-05-23 18:08] jtfogarty opened #3347 "Document Proxy settings for On-Prem install"
When installing on-prem behind a proxy the following environment variables need to be set  `HTTPS_PROXY` and `NO_PROXY`
where `NO_PROXY=<master-ip>`

The getting started page might be a good location for this.
https://www.kubeflow.org/docs/started/getting-started-k8s/

[2019-05-23 18:17] prodonjs opened #3348 "Add namespace retrieval to environment info API route"
Namespace selector is a zero-state component so rather than load it with a separate AJAX request, it should be returned alongside the user and platform information that is returned on first-load.

/area front-end
/area centraldashboard
/assign @prodonjs
/cc @avdaredevil

[2019-05-23 18:17] prodonjs commented on #3348
/priority p2

[2019-05-23 18:32] Jeffwan commented on #3332
https://github.com/kubeflow/kubeflow/commit/cee39dbcfec7303ac61d3fbb08031acdaec0886f#diff-90e7312f4e78e471ec9f0e7c91db6845

@zabbasi For aws, we have not integrated with admission-webhook. Could you check if that's why we see 404 for notebooks resources?  I check crds and I do see this here.

[2019-05-23 18:47] zabbasi commented on #3332
@Jeffwan if you are using  the updated image jupyter-web-app it has dependency to PodDefaults which is installed in admission-webhook componnet. Just check the log of jupyter-web-app  to see what the problem is.

[2019-05-23 21:14] Jeffwan commented on #3332
@amarrella Can you change to elder version temporarily?

[code]

Lastest change for PodDefault and AdmissionController is not compatible with current AWS settings

[2019-05-23 22:34] #3333 closed

[2019-05-24 01:09] #2488 closed

[2019-05-24 01:47] gaocegege commented on #2311
@johnugeorge Will we implement the push-based model in v1alpha2?

[2019-05-24 02:37] hougangliu commented on #2311
After integration with [metadata](https://github.com/kubeflow/metadata) in v1alpha2, push-based model seems not in need any more

[2019-05-24 02:40] gaocegege commented on #2311
@hougangliu Can you please explain more about it? I think we still need to get and push metrics although we have metadata as a unified storage backend.

[2019-05-24 02:45] gaocegege commented on #3295
@jlewi There are so many users prefer Helm, can we have such a repo?

[2019-05-24 05:13] johnugeorge commented on #2311
@gaocegege No. Our earlier plan was to have a push based model when metadata project comes with python api to post metrics.

@hougangliu Which integration are you talking about?

[2019-05-24 05:16] hougangliu commented on #2311
integration with metadata in v1alpha2 will not be in release 0.6, but I think in long term, we must implement the integration, replacing current metricCollector

[2019-05-24 05:23] gaocegege commented on #2311
I prefer to provide an interface similar to CRI, maybe the name could be MetricsCollectionAPI for early stopping services. Then we could support different backends. Because there are some users maybe not use metadata. We could keep extensibility for the external storage.

[2019-05-24 05:23] gaocegege commented on #2311
We can discuss it after v1alpha2 0.6

[2019-05-24 07:18] dongdan39 opened #3353 "How to access Tensorboard and Argo from Kubeflow central dashboard?"
Hi, Experts,
  Can someone tell me how to access Tensorboard and Argo dashboard from Kubeflow central dashboard? Or if that is as designed, is it possible to add links to them on the central dashboards? Currently only the following 5 buttons visible:
Home
Kubeflow docs
Notebooks
TFJob Dashboard
Katib Dashboard
Pipeline Dashboard

  Thanks!
  Dan

[2019-05-24 09:25] jlewi commented on #3295
Who is going to maintain the repo and commit to maintaining helm packages?

[2019-05-24 09:42] soumentrivedi commented on #3132
this is how i fixed it,

ks init kfapp # created a ksonnet project
kfctl init kfapp # initialises kf manifests
cd kfapp # changing into kfap directory
kfctl generate all -V

i hope this works for you.

[2019-05-24 11:15] amarrella commented on #3332
export KUBEFLOW_SRC=/tmp/kubeflow-aws
unset KUBEFLOW_TAG # in case you set this env.
export KUBEFLOW_VERSION=v0.5-branch
mkdir -p ${KUBEFLOW_SRC} && cd ${KUBEFLOW_SRC}
curl https://raw.githubusercontent.com/kubeflow/kubeflow/${KUBEFLOW_VERSION}/scripts/download.sh | bash
And then edit ${KUBEFLOW_SRC}/scripts/aws/util.sh to add following changes before your apply k8s. I will make this PR cherry-pic

[2019-05-24 12:51] naseemkullah commented on #3295
My pleasure @jlewi ,

I am not sure how to ensure a good ux over time, all i know is there is a current desire for a helm chart and thus am working on creating one. I would presume that various users of the chart would step up to keep it maintained, and fix issues as they arise.

To maintain the repo itself it would be someone within the kubeflow org, I think it will consist of a GCS bucket with a

[2019-05-24 12:56] rbq commented on #2444
For kfctl to be accepted into the main Homebrew repository [it must be possible for users to build it](https://github.com/Homebrew/homebrew-core/pull/39588#discussion_r284646505). This issue should be revisited once the source code becomes available.

[2019-05-24 15:44] #2845 closed

[2019-05-24 16:42] valeriano-manassero opened #3357 "libcublas.so.10.0 missing on tensorflow-2.0.0a-notebook-gpu"
I got a microk8s 1.13 on Ubuntu 8.04 LTS.

On the host I have:
`NVIDIA-SMI 410.104      Driver Version: 410.104      CUDA Version: 10.0`
I enabled gpu on microk8s and deployed Kubeflow v 0.5.0

I started a notebook with image `tensorflow-1.13.1-notebook-gpu` and everything is ok.

If I try to use image `tensorflow-2.0.0a-notebook-gpu` and I got this issue when `import tensorflow as tf`

This is th

[2019-05-24 18:49] #3318 closed

[2019-05-24 19:24] Ark-kun opened #3358 "Deploying kubeflow produces 20000+ log lines making logs hard to read"
Excessive trace-level logging makes it very hard to locate the reason for failure.
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/1379/kubeflow-pipeline-e2e-test/1131997673897857024

[2019-05-24 20:06] smeyer12 commented on #2337
list of apps we plan to have working on arm64 includes: k8s, tensorflow, caffe, keras, theano, torch/pytorch, kubeflow, jupyter, spark/pyspark, R, julia.

[2019-05-24 20:47] gautamkmr opened #3359 "unknown field "allowSSH" in aws_config/cluster_config.yaml"
Following this doc https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/ to install kubeflow but failed by customizing it for GPU with allow ssh

https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/
https://www.kubeflow.org/docs/aws/customizing-aws/

[✖]  loading config file "/tmp/kubeflow-aws/kfapp/aws_config/cluster_config.yaml": error unmarshaling JSON: while decoding JSON: json: unk

[2019-05-24 21:27] #2360 closed

[2019-05-24 23:54] Jeffwan commented on #3359
Thanks for reporting this issue. eksctl APIVersion has some breaking changes in latetest. The template we are providing is based on older version.

Please check `https://github.com/weaveworks/eksctl/blob/master/pkg/apis/eksctl.io/v1alpha5/types.go` for latest changes. I think `allowSSH` is changed to `NodeGroupSSH.allow`

[2019-05-24 23:54] Jeffwan commented on #3359
/assign @Jeffwan

[2019-05-25 12:13] AtrisMio commented on #3309
@gabrielwen
`已杀死` means `killed`.
But I don't input any key.
It seems to be automatic killed.
How can I get more logs for you?

[2019-05-25 13:42] holdenk opened #3361 "Make it easier for users to add additional scopes to GKE cluster"
e.g. if someone wants to allow the compute nodes to access bigquery automatically

[2019-05-25 13:42] holdenk commented on #3361
I think we can do this by updating `scripts/gke/deployment_manager_configs/cluster.jinja`

[2019-05-27 02:21] #504 closed

[2019-05-27 09:34] jlewi commented on #3361
Yes that will work.

Is there a reason you want to grant additional scopes to the VM service account though?

Why not grant your process a service account with appropriate credentials rather than relying on the VM service account?

Using VM service accounts is not considered best practice because all pods running on the VM have access to the VM service account.

So by design we try to grant the VM

[2019-05-27 09:36] jlewi commented on #3358
@Ark-kun Can you please clarify what logs you are looking for or what your use case is?

I assume because you are referencing a prow job you mean the logs from the deploy script used in the E2E tests?

[2019-05-27 09:43] jlewi opened #3362 "Support theia or microsoft visual studio code"
It is often useful to have a proper IDE when developing models. For example, even when using Jupyter, users may choose to organize python code into modules. They might also want to create additional files like YAML files.

Jupyter's editor capabilities are limited.

Microsoft visual studio code is really nice. In addition, there are an increasing number of plugins adding Kubernetes support to visu

[2019-05-27 12:50] ooverandout commented on #1213
Hello Guys!
Is this issue somehow resolved? Basically I have the same issue as @kunpengprod did, meaning needing to install Kubeflow on one Kubernetes Namespace due to clusterrolebinding error on central dashboard.

[2019-05-27 13:39] ooverandout opened #3363 "Deploying kubeflow on cluster without permissions"
Hi!
I am new to kubeflow, so this might be somewhere solved, but I could not find an easy answer.

Due to permission restrictions for Clusterrolebinding I cannot deploy kubeflow via ksonnet (ks tool). How should I deploy everything into just one namespace that is created for me?

Alternatively, I would like to deploy it with kfctl - but judging from the guide it wants to create a new namespace "ku

[2019-05-27 14:24] PascalSchroederDE opened #3364 "Nothing happens when running kubeflow pipeline"
I just started working with kubeflow so maybe it's just something trivial, anyway I would be very thankful for your help!

I setup kubeflow on a Microk8s as described [here](https://www.kubeflow.org/docs/started/getting-started/).

I wrote my own pipeline, compiled it with `dsl-compile` (as described [here](https://www.kubeflow.org/docs/pipelines/tutorials/build-pipeline/)) but when I created a ru

[2019-05-27 23:14] holdenk commented on #3361
@jlewi using a process SA would be reasonable. I was thinking for common read-only data sources it might make sense (e.g. bigquery), but if it's a pattern we don't want to encourage folks to use then making it easier isn't ideal.

[2019-05-27 23:52] vinhngx commented on #2863
same issue here. v0.5.1 says no resource found, while v0.4.1 can start.

[2019-05-27 23:59] ishanmadan1996 commented on #2863
Yeah, so I did a fresh install of minikube and put those two lines in the given code for kfctl, everything seems to be working fine now :)

[2019-05-28 00:00] ishanmadan1996 commented on #2863
Same, I just went along with v0.4.1

[2019-05-28 06:59] SMillerDev commented on #2444
Just found this issue through the homebrew-core proposal. If you want to distribute something to homebrew without it passing the requirements for core a tap could be useful: https://docs.brew.sh/Taps

[2019-05-28 08:03] zwqjoy opened #3366 "[kfp] - reduce dependency on kubeflow namespace"
the pipeline: https://github.com/kubeflow/pipelines/issues/1319
but If use kpf build a pipeline:
the endpoint const value: minio-service.kubeflow:9000

If I deploy the kubeflow to mutil namespaces(kubeflow-v2) or not use the namespace:  kubeflow.
I get the . pipeline.tar.gz . upload to UI.  run at end, will failed. because my endpoint is
'minio-service.kubeflow-v2:9000 not 'minio-service.kubeflow:

[2019-05-28 12:19] thi-low commented on #2863
I am currently encountering the same issue. v0.4.1 seems to work.

[2019-05-28 16:43] yanniszark opened #3367 "kfctl: default installation is broken"
**What happened:**
`kfctl apply` failed with:
[code]

**Steps to reproduce:**
1. Checkout commit `f077966c2a2261517708d98833925b37ce150a86` (Friday 24 May 2019)
2. `cd bootstrap` and `make build-kfctl-container`
3. `cd bin` and follow [Kubeflow on Kubernetes guide](https://www.kubeflow.org/docs/started/getting-started-k8s/).

It seems that kfctl isn't changing the name of the PVs for the default i

[2019-05-28 16:53] kimwnasptd commented on #3256
Hey @prodonjs, it is in my top priorities as it would make it easier to add new features and tests in the future. I've made a lot of progress, but I still have some work to do in the submit form.

I believe I will have WIP PR sometime in the next week from which we could start iterating through.

[2019-05-28 17:27] prodonjs commented on #3256
Wow that is fantastic! I wasn't expecting it to be that close to being ready for review. That's exciting stuff! Feel free to copy @avdaredevil and myself into anything if you want a second set of eyes on it.

[2019-05-28 21:53] kkasravi opened #3368 "kfctl: remove ksonnet, move to v2"
We should remove all references to ksonnet and move to v2 for kfctl and bootstrap

- [x] move kfctl code from under bootstrap to kubeflow/kfctl
- [x] kubeflow/kfctl/go.mod should now have module github.com/kubeflow/kubeflow/kfctl/v2
- [x] bootstrap go.mod should now have module github.com/kubeflow/kubeflow/bootstrap/v2
- [x] replace all references of github/kubeflow/kubeflow/bootstrap with either

[2019-05-28 21:54] kkasravi commented on #3368
/area kfctl

[2019-05-28 21:54] kkasravi commented on #3368
/priority p1

[2019-05-29 01:01] tan-z-tan commented on #2961
I just encountered a similar problem using Kubeflow v0.5.1.
In my case, the problem seemed like that:

- The svc is correctly created. It has annotations for Ambassador routing.
- But Ambassador does not seem to update routing information.
- So the web UI gives 404
- I was using kubeflow v0.5.1, Ambassador 0.37.0 in GKE cluster

The following operation solved the problem.
`kubectl delete pods -l s

[2019-05-29 02:49] kkasravi commented on #3284
this was fixed in a different PR

[2019-05-29 02:49] #3284 closed

[2019-05-29 06:35] hzliangbin commented on #3309
What is the size of your machine's memory? I have encoutered similar problem and solved it after I added  machine's memory. @AtrisMio

[2019-05-29 10:45] jsnowacki commented on #3357
I have the same thing using this image on GCP.

[2019-05-29 12:03] yanniszark commented on #3309
Following up from @hzliangbin's message, if it's a memory problem then probably the OOM killer is responsible for killing the process.

Maybe you can verify that problem by searching the dmesg logs.
See [this link](https://stackoverflow.com/questions/624857/finding-which-process-was-killed-by-linux-oom-killer).

[2019-05-29 13:45] prodonjs opened #3370 "Collapse dashboard sidebar at higher resolution to minimize horizontal scrolling"
Based on UXR feedback, we should collapse the sidebar sooner to ensure that the dashboard cards view is displayed in its entirety without scrolling.

[2019-05-29 13:45] prodonjs commented on #3370
/area front-end
/area centraldashboard
/priority p1
/assign @avdaredevil

[2019-05-29 13:49] jsnowacki commented on #3230
The finding so far, aside the issue quota which is not occuring at the moment, is that if one creates a deployment with one kfapp name, let say `kubeflow`, than first deployment works fine and endpoint gets created, but if we do:
[code]
Than the second deployment goes through fine, but the endpoint doesn't get created, hence, it's quite unusable, at least easily.

Further inspections shows that ia

[2019-05-29 15:19] kkasravi opened #3371 "bootstrap: replace ksonnet with kustomize, move to v2"
Bootstrap should use the kustomize API and remove calls to ksonnet

[2019-05-29 15:29] kkasravi commented on #3371
@kunmingg
bootstrap/cmd/kfctl is mostly done removing references to ksonnet

should I do the same to bootstrap and have you review or would you like to do it and I can review?

thanks
Kam

[2019-05-29 18:28] kkasravi commented on #3371
/area kfctl

[2019-05-29 18:29] kkasravi commented on #3371
/priority p1

[2019-05-29 20:37] kunmingg commented on #3371
@kkasravi
Great! Once https://github.com/kubeflow/kubeflow/pull/3045 merged everything should go through kfctl + kustomize.

[2019-05-30 01:36] #2979 closed

[2019-05-30 12:39] #2334 closed

[2019-05-30 13:13] AtrisMio commented on #3309
@hzliangbin @yanniszark

Thanks a lot. @hzliangbin is right, I add memory to my machine, the problem is gone.

[2019-05-30 13:13] #3309 closed

[2019-05-30 15:38] #3225 closed

[2019-05-30 16:16] yanniszark commented on #3182
@swiftdiaries thanks for the help!
I have made a few fixes and now it seems to work using the default installation guide.
This means it will also work for an on-prem installation.
The work is tracked in #3376