[2019-07-11 20:28] ferrgo commented on #3610
Hey there, bumped into this thread with the same problem here, any inputs for a workaround or a fix?
<details>
  <summary>Logs - Click to unfold</summary>

[code]

</details>

[2019-07-11 21:00] jlewi commented on #3639
@yanniszark @kkasravi Did we decide who's going to work on this?

[2019-07-11 21:02] jlewi opened #3642 "Profile controller uses cluster level roles"
When I create a profile with the profile controller; it looks like the default edit account binds to a cluster level role named "edit."

Should we be using a regular role so the bindings are namespace scoped?

[code]

/cc @kunmingg

[2019-07-11 21:08] jlewi commented on #3642
Looks like I'm mistaken.
https://kubernetes.io/docs/reference/access-authn-authz/rbac/

We can use a ClusterRole so that we only need a single role to be defined for all namespaces.

Using a RoleBinding as opposed to ClusterRoleBinding can then scope it to a particular namespace.

[2019-07-11 21:08] #3642 closed

[2019-07-11 21:33] jlewi opened #3643 "0.6; Release demo with Jupyter and Fairing is working"
Preliminary script is here:
https://bit.ly/2UOzzxB

We'd like to have a demo that highlights building and deploying a model and maybe running a pipeline.

The demo is currently using xgboost. It needs to be tested to ensure it works with 0.6

[2019-07-11 22:05] jlewi commented on #3643
I ran into the following error on the submit TrainJob step.

[code]

[2019-07-11 22:08] jlewi commented on #3643
I think the problem is that fairing is trying to tail the pod logs. Prior to 0.6 we had a single pod. But now that we are using ISTIO there are two pods so fairing needs to specify the name of the pod whose logs we should tail.

I guess a related question is whether it makes sense to inject the ISTIO side care for the kaniko job pod.

[2019-07-11 22:09] yanniszark commented on #3639
I got this assigned early in the slack conversation but I think I didn't mention it there, thought you had noticed.
I'm ok with either, I will have time to work on it tomorrow, alternatively @kkasravi can submit a pr and I will review tomorrow.

[2019-07-12 04:52] 3Xpl0it3r commented on #1522
@NickJasonLv 1. cd ${KS_APP_PATH}/ks_app/  2 : ks show default  > kubeflow_offline.yaml 3. sed -i "s/imagePullPolicy: Always/imagePullPolicy: IfNotPresent/g" kubeflow_offline.yaml  4. kubectl apply -f kubeflow_offline.yaml

It works for me

@372046933 and 3x for your idea

[2019-07-12 05:05] kkasravi commented on #3639
Thanks @yanniszark - I’ll have a PR hopefully in the AM

[2019-07-12 11:36] Smokrow commented on #3636
Same here!

[2019-07-12 11:43] yanniszark commented on #3636
Hi @Smokrow @naveen24691

These are instructions for the master branch.
To try it out, you have to build kfctl, by following the instructions there.

If you want to try the v0.5 release, then you have to select it in the upper right side of the page.
This is the page you're following for v0.5: https://v0-5.kubeflow.org/docs/started/getting-started-k8s/

[2019-07-12 12:30] ImadEddineBek commented on #3610
@ferrgo we were only able to solve when we used the same user for creation and configuration.
after that you can use the cluster from any other user

[2019-07-12 12:36] ferrgo commented on #3610
Thanks man! I was creating everything with the same user here, unless there is something else that inputs an user. But using `minikube` and creating with my user, then using the `kfctl.sh` still as the same user. Couldn't find a user setting on any of those. Below is my script fix that got me out of this issue (and into the #2863 and then into #3544 ... Lots of issues after fixing this one)

* At

[2019-07-12 13:49] yanniszark commented on #3610
It seems that Kubeflow is moving away from `kfctl.sh` and ksonnet to the `kfctl` go binary and kustomize.
In addition, I believe Minikube needs a kfctl installation for existing Kubernetes clusters.
Since the `existing_arrikto` platform works with existing clusters, with kustomize, maybe we could try using that to deploy on Minikube.
The only requirement (for now) is to have access to a LoadBalanc

[2019-07-12 15:11] kkasravi opened #3646 "kfctl delete all --delete-storage does not"
steps to reproduce

1. kfctl init dls-kf --platform gcp --project $PROJECT --disable_usage_report --namespace=dls-kf --version=v0.6.start --skip-init-gcp-project --package-manager=kustomize@pull/207/head
2. CLIENT_ID=xxx CLIENT_SECRET=yyy kfctl generate all --zone=us-west1-a
3. CLIENT_ID=xxx CLIENT_SECRET=yyy kfctl apply all --verbose
4. kfctl delete all --delete_storage

checking the deployment m

[2019-07-12 15:12] kkasravi commented on #3646
/priority p0

[2019-07-12 15:12] kkasravi commented on #3646
/area kfctl

[2019-07-12 19:47] beatgeek commented on #3003
I'm not clear on what the solution is here? It seems to be failing because it doesn't have permission to do a deployment manager update when I do have perms. We can't have Project Owner be the expectation.

[2019-07-12 21:02] jlewi commented on #3003
The error is indicating there is a problem setting the IAM Policy. This requires owner permissions or IAM policy admin permissions. This is needed if you want kfctl to do things like create and install service accounts.

If you don't have sufficient permission to do that then you will either need to

1. Get someone with owner permissions to do that for you
1. Follow the instructions for installing

[2019-07-12 21:02] #3003 closed

[2019-07-12 23:16] animeshsingh commented on #3614
The initial doc capturing the user roles and groups required.
https://docs.google.com/document/d/1C3J30zHDh_qxqbb-HAfmk6gs-s4QcF26nAQMo9AKb_4/edit?usp=sharing

Would be great to get feedback from user community and get more roles defined, and get the matrix filled out

@krishnadurai @hougangliu @jinchihe

[2019-07-13 00:28] #2886 closed

[2019-07-13 10:35] kkasravi opened #3649 "Can't specify a manifests PR for any kubeflow PR"
there should be a way to specify a manifests PR when a kubeflow PR requires changes in manifests.
Similarly, there should be a way to specify a kubeflow PR from a manifests PR.

@jlewi Is there a way to use PULL_PULL_SHA? Right now I'm setting it explicitly in kfctl_go_test.py (see #3639 )

[2019-07-13 10:36] kkasravi commented on #3649
/area testing

[2019-07-13 10:36] kkasravi commented on #3649
/priority p0

[2019-07-14 18:34] jerrylam commented on #3617
I found out the reason. It is because the default AMI for GPU is out-dated. It needs to be specified in the cluster_config.yaml to get it to work.

[2019-07-14 18:34] #3617 closed

[2019-07-14 23:04] jlewi commented on #3640
I think the quick fix to do this is to add some code at the end of kustomize.Apply
https://github.com/kubeflow/kubeflow/blob/bca68dd0da5b68eaa7a82e35d3471a6b98798b03/bootstrap/v2/pkg/kfapp/kustomize/kustomize.go#L230

The code can do something like

1. check if Platform is GCP
1. Download and upload a GCP secret to the profile namespace

    * #3693 should take care of creating the profile and thu

[2019-07-14 23:44] jlewi commented on #3643
/assign @karthikv2k

[2019-07-15 00:02] jlewi commented on #3626
@yanniszark see my comments in in #3627 about the use cases I think we want to support.

[2019-07-15 00:10] jlewi commented on #3618
@lluunn I think #3627 will fix the ISTIO install issues correct?

For the service account errors

[code]

I think this is WAI; i.e. user should have to create a profile and that will create a namespace with the appropriate service accounts for running Jupyter.

#3639 will make this a bit easier by create a profile by default for the user if KfDef.email is specified.

[2019-07-15 00:17] jlewi commented on #3554
@avdaredevil and @yanniszark lets not block this PR based on getting #3503 submitted since that is still WIP.

Could someone please create a PR with just the commits mentioned by @avdaredevil ?

Once that is merged we will need to build and update the central dashboard image.

[2019-07-15 00:21] jlewi commented on #3554
Actually it looks to me like the code is already gracefully handling the case where the IAP headers aren't present
https://github.com/kubeflow/kubeflow/blob/bca68dd0da5b68eaa7a82e35d3471a6b98798b03/components/centraldashboard/app/api.ts#L36

It looks to me like right now the user would just fall back to anonymous@kubeflow.org.

So it looks like currently in the non-IAP case it won't be identity aw

[2019-07-15 00:41] jlewi commented on #3553
Downgrading to P1 because we have individual bugs filed and classified as P0 if they are release blocking.

[2019-07-15 00:42] jlewi commented on #3559
Here's my understanding of the current status of the release. The initial RC and 0.6.0 is only blocked by the following two issues

- [ ] #3643 - Release demo is not working with Fairing; this needs to be fixed
- [ ] #3618 - Is blocking our core CUJs from working on a cluster without Auth enabled
   * I think the issue here is installing Kubeflow on a cluster with ISTIO already installed
   * This

[2019-07-15 00:51] jlewi commented on #2630
@swiftdiaries ping?

[2019-07-15 00:55] jlewi opened #3650 "[GCP] Install ISTIO on private GKE clusters"
Now that we are using ISTIO we will need to figure out and document how to install ISTIO on private GKE clusters.

[2019-07-15 01:05] JavaDerek commented on #3531
Sorry for the late response - was wrapped up in the Doc Sprint.  We tried upgrading to the latest .5 image and got the issue list down to 3, which mentioned things like Mercurial.  We tried to figure out where Mercurial was used without success.  If you saw similar warnings about Mercurial in .5 and they have gone away on .6, you're probably on the right path.  We have been using the Clair (https:

[2019-07-15 01:34] #2975 closed

[2019-07-15 06:41] krishnadurai commented on #3614
@animeshsingh could you please keep the document open for comments?

[2019-07-15 13:17] jlewi opened #3654 "Document requirements for graduating a controller to v1beta1 and v1"
TFJob and PyTorch are our first controllers to go 1.0

We have a bunch of other controllers that need to go 1.0

* Notebook
* PodDefaults

We should create a doc outlining requirements for graduating controllers to 1.0.

@richardsliu @johnugeorge Do you want to pick this up?

/assign @johnugeorge
/assign @richardsliu

[2019-07-15 13:19] jlewi opened #3655 "notebook controller v1beta1"
Notebook controller should go v1beta1 in 0.7

#3656 is tracking everything we need for 1.0

~~We should figure out the required features and file separate issues for them (see #3654)~~

Some things that come to mind

* Prometheus monitoring
* Support for multiple versions

[2019-07-15 13:22] jlewi opened #3656 "notebook controller 1.0"
Place holder for graduating the notebook controller to 1.0

#3655 is for beta.

Below is a table based on our proposed application requirements (see kubeflow/community#285)

## Requirements

### Configuration and deployment

| Description | Category | Status | Issue
|-------------|----------|-------------| -------------
| Kustomize package  | Required  | Done |
| Application CR  | Required  | [Don

[2019-07-15 13:23] jlewi commented on #3578
/assign @kimwnasptd

[2019-07-15 13:29] jlewi commented on #3623
@johnugeorge We are hearing the following request from customers. They have a shared K8s cluster. Kubeflow should be restricted to a subset of namespaces enforced via RBAC. So we'd like a good story for how to restrict Kubeflow to a subset of namespaces. I think requirements are

* Kubeflow should only have write permissions on a subset of namespaces in which Kubeflow is being used
* It should be

[2019-07-15 13:32] jlewi commented on #3414
@Edilmo thanks. So it looks like the issue is with Envoy or Ambassador. It looks like the temporary work around is to restart the Ambassador pods.

0.6 will include updated versions of Envoy and ISTIO.  So I think the next step would be to wait for 0.6 to become available and then see if this problem reoccurs with ISTIO.

I will leave this issue open until we have a 0.6 release available.

#3559 i

[2019-07-15 13:33] jlewi commented on #3099
Closing due to lack of response.

[2019-07-15 13:33] #3099 closed

[2019-07-15 13:42] jlewi commented on #2358
@karthikv2k @pdmack Any interest in picking this up?

I think the goal is to figure out how we can make it easy for our users to use stock TF images with our Jupyter setup.

It looks like @zabbasi got stock TF images working see [comment](https://github.com/kubeflow/kubeflow/issues/2358#issuecomment-464170252) but had to modify some of the flags.

At a minimum, should we document that?

I guess th

[2019-07-15 13:45] jlewi opened #3657 "E2E test for jupyter web app"
We should have E2E tests for the Jupyter web app using a framework like selenium.

See kubeflow/testing#288

[2019-07-15 13:49] jlewi commented on #3633
See #2358

It should be possible to use stock TF images with Kubeflow. You should just need to set the command line argument as documented in that issue.

Currently its not possible to do that via the UI but you should be able to do that via kubectl.

@gogasca Do you want to try doing that with kubectl and reporting any issues you hit?

[2019-07-15 13:59] jlewi commented on #3628
@johnugeorge did you try following the IAP troubleshooting guide? It might need some updating for ISTIO but it's a good place to start.

[2019-07-15 14:04] kkasravi opened #3658 "Profile CRD should have scope Namespaced"
@kunmingg

In order to do multi-tenancy we need to scope all profiles  and the profiles-controller to the namespace provided in `kfctl init ...`, otherwise the default_profile is cluster wide and a second deployment of kubeflow won't work.

[2019-07-15 14:13] kkasravi opened #3659 "CrashLoopBackOff in iap-enabler pod"
after deploying gcp i'm seeing a crashloopbackoff

kubectl get pods
[code]

I'm seeing this error
[code]

[2019-07-15 14:13] kkasravi commented on #3659
/area kfctl

[2019-07-15 15:04] shkr commented on #2358
@zabbasi Thank you! I will try out 2.0 now :-)

[2019-07-15 15:12] jlewi commented on #3659
Related to #3628

[2019-07-15 15:21] jlewi commented on #3649
@kkasravi If you need to do cross repo changes e.g. upgrade a manifest from v1 to v2 and update kfctl to use v2 normal workflow would be to do this in 3 PRs.

1. Create V2 in kubeflow/manifests
1. Update kubeflow/kubeflow to use V2
1. Delete v1 in kubeflow/manifests

To the extent kfctl supports pulling kubeflow/manifests at a particular commit or PR you can use that to control which version a PR

[2019-07-15 15:23] jlewi commented on #3629
@carmine do you know if this got fixed as part of doc sprint?

[2019-07-15 15:30] jlewi commented on #3625
@sub-mod What are you trying to do? Specifically why are you trying to build the docker images from source rather than using the pre-built docker images?

If you are trying to create a custom Jupyter image; then I would suggest trying to follow the directions here
https://www.kubeflow.org/docs/notebooks/custom-notebook/

And simplifying the Dockerfile to install what you need.

It looks like the e

[2019-07-15 15:34] jlewi commented on #3620
There are some instructions [here](https://github.com/kubeflow/kubeflow/issues/3618#issuecomment-509766664) as part of testing our core 0.6 CUJ without auth.

[2019-07-15 15:42] jlewi commented on #2969
@LukasBlank

If you need to customize your network the way to do this is

1.  Run `kfctl generate`
1. Edit the deployment manager configs in ${KFAPP}/gcp_configs
1. Run `kfctl apply`

The configs are using deployment manager. You can find the docs here.
https://cloud.google.com/deployment-manager/docs/configuration/create-basic-configuration

They are basically just defining GCP objects declarativ

[2019-07-15 15:42] jlewi commented on #3616
Duplicate of #2969

@LukasBlank See my response in #2969 to your question.

[2019-07-15 15:42] #3616 closed

[2019-07-15 15:52] jlewi commented on #3613
@ali8zake PTAL at kubeflow/website#935 I added some instructions there for how to troubleshoot why your notebooks aren't starting.

[2019-07-15 15:53] jlewi commented on #3612
@JK-97 You could also create new volumes using kubectl and then the should show up in the UI.

[2019-07-15 15:53] #3612 closed

[2019-07-15 15:56] jerrylam opened #3660 "Notebooks are not accessible when using docker image from Jupyter Docker Stack"
I'm running kubeflow 0.5
I'm trying to use an image from jupyter docker stack: https://hub.docker.com/r/jupyter/all-spark-notebook from the http://<host>:8080/_/notebooks.
After the container starts, I clicked "connect". It returns:
[code]
The same image works fine if I start the container from the jupyterhub component.

I suspect this is the URL issue because I inspect the container running the n

[2019-07-15 15:56] jlewi commented on #3610
I think if you want to install on minikube the recommended approach would be

1. Deploy minikube without using Kubeflow
1. Follow Kubeflow instructions for installing on an existing cluster

    * https://www.kubeflow.org/docs/started/getting-started-k8s/

[2019-07-15 16:18] jlewi commented on #3606
I don't believe we use the start.sh script anymore.

Allowing SUDO privileges in a docker image is generally not advised from a security perspective, so in general I'd say that's not something we explicitly want to support.

Is there a reason you want to install something as root rather into user Jovyan's userspace?

If you want to install something as root one option is to build your own customer

[2019-07-15 16:20] jlewi commented on #3603
Duplicate of #3544

Please see #3544

[2019-07-15 16:20] #3603 closed

[2019-07-15 16:22] jlewi commented on #3563
@yanniszark ping?

[2019-07-15 16:27] yanniszark commented on #3563
@jlewi the PR for LDAP docs remains: https://github.com/kubeflow/website/pull/898
I will take another pass at it today. Should be merged soon.

[2019-07-15 17:09] swiftdiaries commented on #2630
/close
Closing as E2E and unit tests are merged and working as expected in kubeflow/manifests.
There is work to be done to improve maintainability of the tests. I'll open another issue for that.

[2019-07-15 17:09] #2630 closed

[2019-07-15 17:25] sub-mod commented on #3625
@jlewi

I am building kubeflow tensorflow-notebook-image container image for my internal kubeflow deployment which will have a custom tensorflow wheel file created by me. I have only created  tensorflow-1.13 wheel and I do not have the wheels for the subprojects like tensorflow-serving-api etc.

creating a dockerfile from scratch is not what I want to do.

[2019-07-15 17:51] kunmingg commented on #3658
@kkasravi
Do you mean re-deploy kubeflow to same cluster?
Is this a problem for all cluster-scope CRDs?
Can we skip if CR already exist?

[2019-07-15 18:10] kkasravi commented on #3658
It is, we have this problem in general. For creating a default profile, wouldn’t it create problems if the same person deployed Kubeflow more than once to the same cluster?

[2019-07-15 18:15] gabrielwen commented on #2766
/close

[2019-07-15 18:15] #2766 closed

[2019-07-15 18:22] kunmingg commented on #3658
I think the issue is we might need to support smooth re-deploy & upgrade (in v0.7?).

[2019-07-15 18:45] swiftdiaries opened #3662 "setup kfctl nightly builds"
It would be great if we could setup nightly builds for kfctl. It would go well along with the E2E tests and help in development.

/cc @kkasravi @jlewi @yanniszark

[2019-07-15 18:45] swiftdiaries commented on #3662
/assign @swiftdiaries

[2019-07-15 18:53] kunmingg commented on #3559
https://github.com/kubeflow/kubeflow/pull/3661

[2019-07-15 20:55] jlewi commented on #3368
Bump to P0 because the v2.zip code is causing problems.

To minimize churn; can we do a multi step process. In particular, can we get rid of the dependency on different versions of K8s libs without refactoring the directory structure in [kubeflow/bootstrap](https://github.com/kubeflow/kubeflow/tree/master/bootstrap)

My suggestion is as follows

1. Open several PRs to remove all imports of ksonnet

[2019-07-15 21:25] lluunn commented on #3618
After manually created a default-editor service account, I was able to create a notebook, and connect to it. So it works fine without auth header.

@jlewi "Build/Train/Deploy from notebook" isn't related to auth header right?

[2019-07-16 01:38] karthikv2k commented on #3643
FYI: https://github.com/kubeflow/fairing/pull/317 is merged. I have some issues deploying KF from master and working to fix it.

[2019-07-16 03:20] zhang87492 opened #3667 "Can't use notebook"
Visit kubeflow's notebook, click on newserver, always get an error like this
`Uncaught ReferenceError: $ is not defined
    at notebooks.js:9`
![D(2Q(Q53~16YX0@$RB 2@22](https://user-images.githubusercontent.com/13113547/61263495-a629f000-a7bb-11e9-9e11-8f66d766983f.png)

[2019-07-16 03:22] zhang87492 commented on #3667
version v.0.5.0

[2019-07-16 06:58] Edilmo commented on #3414
Thanks @jlewi for your help!!!

[2019-07-16 10:04] #2799 closed

[2019-07-16 10:34] jlewi opened #3670 "kfctl uses KfDef.status to report progress"
kfctl should use KfDef.status to report progress of the deployment.

We should follow standard Kubernetes resource conventions and use things like conditions to report progress.

[2019-07-16 10:36] jlewi opened #3671 "[GCP] kfctl log to stackdriver"
It would be nice if we could substitute into kfctl a logger that would send the logs to stackdriver. This way in click to deploy logs could be sent to stackdriver in the user project.

Even when using kfctl as CLI sending logs to stackdriver might be useful.

/cc @gabrielwen

[2019-07-16 15:22] texasmichelle commented on #3035
Related task to update existing documentation. It would also be helpful to have a guide for adding a new test. The learning curve for the current setup is steep, so my vote is migrating to something that optimizes for ease of getting started, which will encourage ppl to actually write them. It's tough to enforce tests for new code when I don't have a comprehensible guide to point them to.

[2019-07-16 15:26] jlewi commented on #3618
@lluunn Build/Train/Deploy from notebook shouldn't be connected to auth header; i.e. I think if we can connect to the notebook we should be in good shape.

I think in the non-GCP case there's a question of what's used in a reference implementation for the docker registry. That's needed for fairing.

That shouldn't be blocking 0.6.

[2019-07-16 15:29] jlewi opened #3672 "[Reference] Architecture in cluster docker registry for fairing?"
One of our core CUJs is build/train/deploy from a notebook running inside a cluster.

This requires a docker registry that we can push docker images to.

Should we provide a reference implementation that can run in cluster?

/cc @krishnadurai
/cc @yanniszark

[2019-07-16 15:30] jlewi commented on #3618
Opened #3672 about the reference implementation for a registry; but that's for 0.7.

@lluunn Is there anything else we need to test before closing this issue?

[2019-07-16 15:33] jlewi commented on #3643
@karthikv2k So I think that means that we would recommend to users that in their notebooks they do a pip install of fairing from master?

Should we create a v0.6-branch for fairing to provide a little bit more stability?

[2019-07-16 15:39] jlewi commented on #3559
Here's my understanding of the current state of the release.

* #3661 merged all changes to kfctl onto the release branch
* To fix #3618 (work without auth) we need #3663 to be merged and then cherry-picked onto release branch

  * I don't think this is blocking cutting RC for kfctl because this is a config file so people would specify it
    via the `--config` file and can reference the appropria

[2019-07-16 17:32] lluunn opened #3674 "kfctl e2e tests with configs"
We now do init with
[code]

Configs are at https://github.com/kubeflow/kubeflow/tree/master/bootstrap/config.
We need e2e tests for them.

[2019-07-16 17:49] lluunn commented on #3618
Yeah that's what I think. So we can close this now

/close

[2019-07-16 19:06] #2989 closed

[2019-07-16 19:07] karthikv2k commented on #3643
I will release 0.6 on pip once I merge the pr reg pylint testing. Then users can do pip install fairing.

[2019-07-16 19:08] karthikv2k commented on #3643
We can also update the kf images to use the newer version of fairing.

[2019-07-16 19:38] #3619 closed

[2019-07-16 23:03] karthikv2k commented on #3643
I was able to run successfully our integration tests against latest KF master deployment. I am having issues launching notebooks from the cluster. @kunmingg said there is some issue with launching notebook in master so working with him on that.

[2019-07-16 23:14] kunmingg opened #3677 "Notebook spawn: button turn green even backend not ready."
For now as long as service of notebook instance up, button will turn green.
Even if backend pod not ready (timeout due to first time launch huge image...)

User will end up saw `unhealthy upstream` after click button.
We should wait till pod is ready.

[2019-07-16 23:15] kunmingg commented on #3677
@karthikv2k @abhi-g

[2019-07-16 23:16] kunmingg commented on #3559
One surprise during fairing test: https://github.com/kubeflow/kubeflow/issues/3677
Should we fix in v0.6? @jlewi

[2019-07-16 23:35] animeshsingh commented on #3614
Should be open - letme know. Also feel free to modify and update directly, and drive it. In OSCON this week - so won't be doing more there

[2019-07-16 23:40] abhi-g commented on #3677
@kimwnasptd Is this a UI issue?

[2019-07-16 23:41] jlewi opened #3679 "Problem building kfctl on master; /tmp/v2/github.com/kubeflow/kubeflow/components/profile-controller/go.mod: no such file or directory"
[code]

I think this is related to https://github.com/kubeflow/kubeflow/pull/3676

/assign @gabrielwen

@gabrielwen should we roll back?

[2019-07-16 23:45] gabrielwen commented on #3679
I can't reproduce it, tho.  could you retry clean and rebuild?

[2019-07-16 23:50] jlewi commented on #3679
This was my fault. Looks like I had to delete bootstrap/hack/v2.zip

[2019-07-16 23:50] #3679 closed

[2019-07-17 00:40] jokerwenxiao opened #3681 "How to create TFJob/PytorchJob/MXnetJob Resource using io.fabric8 kubernetes client?"

[2019-07-17 01:12] lluunn commented on #3618
/reopen

[2019-07-17 01:18] lluunn commented on #3618
Actually, I retested again, and was not able to connect to the notebook.
Which makes more sense because of Istio rbac.
I think I might miss something previously.

However, this can be easily fixed by either:
1. delete or disable the ClusterRbacConfig
2. deploy basic auth

So not blocking 0.6 I think?
cc @jlewi @kunmingg

[2019-07-17 01:24] kunmingg commented on #3618
https://github.com/kubeflow/kubeflow/pull/3675
Under basic auth case, there will be no Istio access control.

[2019-07-17 04:52] #3626 closed

[2019-07-17 07:06] #2994 closed

[2019-07-17 07:06] LukasBlank commented on #2969
@jlewi
oh sorry, my bad. It works now that i edit the cluster.jinja instead of the yaml. Have never done this before and did not really understand what i was trying to do. Would definitely be great to be added to the documentation but thank you very much anyways :)

[2019-07-17 07:28] Eric-Zhang1990 commented on #3131
@xxf09th  I meet the same issue, but error is:
[2019-07-17 07:14:39,716] ERROR in app: Exception on /new [GET]
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/flask/app.py", line 2292, in wsgi_app
    response = self.full_dispatch_request()
  File "/usr/local/lib/python3.6/dist-packages/flask/app.py", line 1815, in full_dispatch_request
    rv = self.handle_user_e

[2019-07-17 07:44] jinchihe opened #3683 "Kubeflow SDK"
/feature

In kubeflow projects, each component has its own SDK, such as Fairing have fairing sdk, and pipeline has kfp sdk, that will confuse kubeflow end user.  As @animeshsingh raised in https://github.com/kubeflow/kfserving/issues/246, ideally we need to start aligning to "one" sdk for whole of kubeflow.

/cc @animeshsingh @jlewi

[2019-07-17 09:59] krishnadurai commented on #3614
Sure, I'll try to add my inputs in there before our meeting this Thursday.

[2019-07-17 11:43] vjrantal commented on #3626
I tested the config `kfctl_k8s_istio.yaml` from the master branch (commit d0c11dd67ebd514f4d6e584b74fecf880245a86c) on my Kubernetes cluster with these steps:

[code]

The deployment succeeded, all pods seemed to be running fine and I was able to access the dashboard. However, creation of new notebook servers got stuck to a state that to the end user looks like this:

<img width="1188" alt="Screen

[2019-07-17 11:57] kimwnasptd commented on #3677
The webapp checks the `status.containerState` in the Notebook CR. This gets set from the Notebook Controller and it mirrors the state of the undrelying Pod. The UI will show the green check only if the state is `running`.

@kunmingg IIUC your backend Pod is not created, yet the UI shows a green check? What is the `status` in that Notebook's CR? How can I reproduce what you saw?

[2019-07-17 12:02] kimwnasptd commented on #3131
@Eric-Zhang1990 about month ago we updated the jupyter-web-app's code and the config file it uses. From the `KeyError: 'notebook-name'` in the log I can see that you use the the new config.yaml from that update. But, the line in the backend that produces the error is from an older jupyter-web-app image.

Could you try to redeploy the jupyter-web-app from the manifests repo which has the newest cha

[2019-07-17 12:29] rosgluk opened #3684 "fresh baremetal install fails to start tf-job-operator - can't find CRD"
Hi, I'm trying to install Kubeflow 0.6rc0 and tf-job-operator is not taking off

k8s client  v1.15.0
k8s server v1.14.3  baremetal - kubespray+metallb
kfctl is compiled from fresh master branch
used unmodified kfctl_existing_arrikto.0.6.yaml

and pod with tf-job-operator is in CrashLoopBackOff, trying to find CRD and fails, but it looks like CRD is there...

can someone please point where to look

[2019-07-17 13:41] jlewi opened #3685 "kustomize.go delete doesn't check that its pointing to the correct cluster"
kustomize.go delete will use the current kubernetes client
https://github.com/kubeflow/kubeflow/blob/d0c11dd67ebd514f4d6e584b74fecf880245a86c/bootstrap/v2/pkg/kfapp/kustomize/kustomize.go#L463

This means that if the current context isn't pointing at the cluster corresponding to the ${KFAPP} directory they are running kfctl in they will delete the wrong cluster.

kfctl should at a minimum check it

[2019-07-17 13:44] jlewi opened #3686 "[kfctl] apply on partially deployed kubeflow cluster fails;"
I  did the following

1. Deploy kubeflow
1. Delete namespace kubeflow
1. Rerun kfctl apply to fix kubectl

This gives the error

[code]

We should fix this; i.e catch the error and keep going.

Running kfctl apply on an already deployed Kubeflow should be idempotent for resources that already exist

[2019-07-17 13:47] jlewi opened #3687 "[GCP] E2E test for kfctl_gcp_iap.yaml"
Add an E2E test for
https://github.com/kubeflow/kubeflow/blob/master/bootstrap/config/kfctl_gcp_iap.0.6.yaml

[2019-07-17 13:50] jlewi opened #3688 "unittests for consistency across deployment examples"
We are moving in the direction of having multiple config files like
https://github.com/kubeflow/kubeflow/blob/master/bootstrap/config/kfctl_gcp_iap.0.6.yaml
https://github.com/kubeflow/kubeflow/blob/master/bootstrap/config/kfctl_existing_arrikto.0.6.yaml

that specify different configurations of Kubeflow

We should add unittests that ensure consistency.

i.e. we should add a test that verifies cer

[2019-07-17 14:00] jlewi commented on #3684
Something looks wrong with your TFJob install.

The version should be v1
https://github.com/kubeflow/manifests/blob/eeaff416be9d273356bb55e2d823bb797b950ba4/tf-training/tf-job-operator/base/crd.yaml#L44

But it looks like you have v1beta1 installed.

It also looks like the CRD was installed via ksonnet which indicates an install from a version previous to 0.6.

* I would suggest deleted the CRD an

[2019-07-17 14:04] vjrantal commented on #3626
@lluunn I think I found the problem now:

[code]

Those seem to be set in file `components/profile-controller/pkg/controller/profile/profile_controller.go`. I wonder should that be executed with the `kfctl_k8s_istio` config?

[2019-07-17 14:26] rosgluk commented on #3684
Hi jlewi,
thanks for your reply

yes, was trying to install 0.5.1 there before and removed with

kfctl delete all -V

kfctl was of previous precompiled version then
probably left some residual

----

the following helped:

cd ${KFAPP}     # where kfcluster configs are
kubectl delete crd tfjobs.kubeflow.org
kubectl create -f kustomize/tf-job-operator/base/crd.yaml

---

please close this issue

[2019-07-17 14:26] #3684 closed

[2019-07-17 16:22] lluunn commented on #3626
Please see this issue: https://github.com/kubeflow/kubeflow/issues/3639

[2019-07-17 17:05] jlewi commented on #3618
@kunmingg @lluunn The desired behavior is that if  we don't enforce access controls if we are using basic auth and or we have no auth configured.

[2019-07-17 17:39] gabrielwen commented on #3640
/assign @gabrielwen

[2019-07-17 22:11] lluunn commented on #3638
I will look into this.
/assign

[2019-07-17 23:16] lluunn commented on #3638
It's pretty straightforward to use the feature, basically:
1. create gcp service account
1. create k8s service account
1. add IAM binding

I think there are two tasks:
First, integrate with KF deployment and core components in kubeflow namespaces.
We can get rid of `admin-gcp-sa` in [manifest](https://github.com/kubeflow/manifests/search?q=admin-gcp-sa&unscoped_q=admin-gcp-sa) and kfctl [gcp.go](h

[2019-07-17 23:18] richardsliu commented on #3623
Pipelines implementation:
1. Scope informers to specific namespaces ([PR](https://github.com/kubeflow/pipelines/pull/851/files))
2. Introduce viewer CRD ([PR](https://github.com/kubeflow/pipelines/pull/1562/files))
3. Remove cluster role and binding ([PR](https://github.com/kubeflow/pipelines/pull/1623/files))

The problem with this solution is that each informer only watches one namespace. So to

[2019-07-18 01:07] jlewi commented on #3559
I don't thin #3677 should be blocking

[2019-07-18 01:12] jlewi commented on #3559
Here's my friction log: http://bit.ly/2LqZOu2
This was built from master (should be a commit corresponding to one of RCs; the latest RC hadn't been cut yet).

I ran into the following issues
https://github.com/kubeflow/fairing/issues/319
https://github.com/kubeflow/examples/issues/601
https://github.com/kubeflow/examples/issues/600
https://github.com/kubeflow/website/issues/946

I don't think they

[2019-07-18 01:25] Gnommer commented on #2347
would downgrading microk8 solve this issue cause i can see that the code in the container is executed but it is something to do with containerd handling the containers.
i tried a single container pipeline i.e only one job and it ran but ended with the message similar to this issue. may be containerd daemon is pointing to some other place when its searching for containers ?
can any one fill me on t

[2019-07-18 01:30] jlewi commented on #3643
Here's my friction log: http://bit.ly/2LqZOu2
This was built from master (should be a commit corresponding to one of RCs; the latest RC hadn't been cut yet).

I ran into the following issues
kubeflow/fairing#319
kubeflow/examples#601
kubeflow/examples#600
kubeflow/website#946

I don't think they are release blocking.

They are blocking creating a blog post that runs through 0.6 using that example.

[2019-07-18 02:44] JavaDerek opened #3689 ".6 RC1 onto freshly-installed K8S cluster fails"
I installed a Kubernetes master and node from scratch yesterday on Ubuntu 18.04.  Today I tried installing the RC 1 release of 0.6 that just came out 6 hours ago.  I built kfctl from source off the 0.6 rc1 tag and attempted to install, all following the instructions at https://www.kubeflow.org/docs/started/getting-started-k8s/#Kubeflow-for-Existing-Clusters---by-Arrikto.  It blew up with the attac

[2019-07-18 08:58] johnugeorge commented on #3623
Current operators handle the same way.

@jlewi Is this ok with customers? One other concern is the waste of resources when multiple controllers are created

[2019-07-18 09:13] johnugeorge commented on #3654
See this [doc](https://docs.google.com/document/d/1OLPp0gMPvBfwDs70Xf4tMS2qqtlR3nKu9P4B7FvlJ9M/edit#heading=h.foiob2dgn1g5) created by @richardsliu that we used for compiling TF/Pytorch 1.0 requirements/work items.

I think, this should suffice. We can move this to separate generic doc that would apply to all operators.

[2019-07-18 09:22] arviCV commented on #2863
Surprisingly !!
Using a older version solved the problem.

Please try using instead of export KUBEFLOW_TAG=v0.5.1
export KUBEFLOW_TAG=v0.4.1

[2019-07-18 12:39] JP-MRPhys commented on #2863
Actually, I used both but still got the same response!

On Thu, 18 Jul 2019 at 10:23, Arvind Sharma M <notifications@github.com>
wrote:

--
--
Jehill Parikh

[2019-07-18 14:17] #2995 closed

[2019-07-18 14:24] yanniszark commented on #3689
Hi @JavaDerek.
Currently, you need access to a LoadBalancer Service in order to use platform=existing_arrikto.
It seems that you don't have access to that in your cluster and kfctl blows up trying to get the LoadBalancer Service:

[code]

Soon, there will be instructions to bypass this restriction.
If you want to try existing_arrikto, you can test with a GKE cluster using the script provided in th

[2019-07-18 15:15] krishnadurai commented on #3672
@jlewi we can have a docker registry as an optional component.
I'm looking for certain clarifications here as I'm not familiar with fairing's code:

Are the repositories you pull from and push to different? My current understanding is that they are the same.
https://github.com/kubeflow/fairing/blob/4fc76bebf10c375b266821a91e67c0d5a5530069/fairing/builders/append/append.py#L37

In this case, we mig

[2019-07-18 17:57] mattnworb commented on #3628
I am seeing the same thing, on a GKE cluster created via `kfctl` built from the `v0.6.0-rc.0` tag. I created the cluster with:

[code]

This is in a GCP project where I have previously created a GKE cluster with kfctl (using version 0.5.1) which no longer exists, with IAP / cloud endpoints, in case that makes any difference.

Kubeflow in the cluster and IAP works just fine though - but I am left w

[2019-07-18 18:46] johnugeorge commented on #3623
See MultiNamespaceListerWatcher  implementation in Prometheus operator :
https://github.com/coreos/prometheus-operator/blob/master/pkg/listwatch/listwatch.go#L90

[2019-07-18 21:08] arun-gupta commented on #2998
Looking forward to this support in `kfctl` as opposed to using `kfctl.sh`

[2019-07-18 23:17] #1189 closed

[2019-07-18 23:20] JavaDerek commented on #3689
Fair enough.  I'll try that.  In the meantime, do you want me to do a pull request to add the above caveat to the install doc page, or do you want to leave it as-is until you have the workaround instructions?

[2019-07-18 23:47] Jeffwan commented on #3637
@jlewi Is the problem solved. By default, `default-editor` is still missing.

[2019-07-18 23:53] Jeffwan commented on #3626
`minio` and `mysql` comes from kustomize overlay. Ideally, it should use PVC and default storage class. Any reason it use a separate PV there?

[2019-07-19 00:38] davidparks21 commented on #1915
Hi, I'm a user under the k8s cluster dimm0 manages. We have built v0.6.0-rc1 here but the installation procedure still seems to require cluster-wide admin privileges from what we can tell. Any update on whether the ability to install to a namespace made it into v0.6.0-rc1, and if so how we go about enabling that?

Related issue: https://github.com/kubeflow/kubeflow/issues/3509

Thanks!
David

[2019-07-19 10:30] krishnadurai opened #3694 "Patch release v0.6 for on-premise servers"
Community Question:

Yesterday, in the on-premise meeting we were discussing the possibility of releasing a patch for v0.6 for on-premise servers with a few key features:

- A consistent default deployment with Istio for on-premise servers with *kfctl*
- A first cut release with RBAC feature

This might enable users to try Kubeflow in the enterprise without having to wait for 0.7.

cc: @elviraux @

[2019-07-19 10:31] krishnadurai commented on #3694
/assign @elviraux @abhi-g @jlewi @cvenets

[2019-07-19 10:56] krishnadurai commented on #3694
/assign @yanniszark

[2019-07-19 12:06] yanniszark commented on #3689
@JavaDerek the need for a LoadBalancer is clearly stated inside the docs:
https://www.kubeflow.org/docs/started/getting-started-k8s/#prerequisites

[2019-07-19 16:27] #3628 closed

[2019-07-19 18:23] lluunn commented on #3638
Actually, the IAM binding is different here:
`gcloud iam service-accounts add-iam-policy-binding`

Which is not the project level iam binding:
`gcloud projects add-iam-policy-binding`

So users might be able to do it, still investigating.

[2019-07-19 23:36] jlewi commented on #3694
@krishnadurai What is the actual work blocking this? Doesn't the existing_arrikto.yaml already cover this case?

[2019-07-20 00:41] paveldournov opened #3698 "Namespace selection UI is half hidden by navigation bar"
KF 0.6, deployment on 7/19 from Master

KF main dashboard, namespace selector
When clicking on the namespace selector at the top of the page, the drop down is half way hidden by the left nav pane, making it impossible to see the names of the namespaces.

![namespaceselect](https://user-images.githubusercontent.com/4884947/61571919-34b4a080-aa4c-11e9-9608-838b8a7c6479.png)

[2019-07-20 01:11] paveldournov opened #3699 "KF dashboard is not showing the link to Artifacts"
KF deployed from master, 7/19

The deployment includes the metadata-ui and other metadata services,
The metadata UI is accessible over a port forward to the metadata-ui pod

However - the KF Dashboard is not showing the link to the Artifacts (metadata) page, and the link <cluster DNS>/_/metadata is not working.

[2019-07-20 01:14] jlewi commented on #3662
@swiftdiaries What are you thinking in terms of how nightly builds are published?

[2019-07-20 01:21] jlewi commented on #3625
@sub-mod

So it looks like you want to build a custom version in TensorFlow and then build a jupyter image with that version of TF.

The error

[code]

Indicates the version of TF you have compiled is not compatible with the Docker image you are trying to install it.

I can think of two options

1. Fix your build of TF to create a compatible version
1. Find an alternative way to build the docker i

[2019-07-20 04:03] jlewi commented on #2141
@gabrielwen @woop Does FEAST support any datastores that work on other clouds?

@chrisrana You might want to open an issue in gojek/feast about support for other clouds.

[2019-07-20 12:33] rahulkhatry4 commented on #2863
I was having the same issue. Updating microk8s to version 1.15, installing kvm2 and installing v0.4.1 seems to have solved it

[2019-07-20 18:56] ocdkube opened #3701 "kubeflow v0.6.0 installation using kfctl failing"
Trying to install kubeflow v0.6.0 using kfctl, but its failing while generating component.
Below is the output for same:

**# ../kfctl generate all -V**
INFO[0000] reading from /tmp/kubeflow/kubeflow/app.yaml  filename="coordinator/coordinator.go:341"
INFO[0000] reading from /tmp/kubeflow/kubeflow/app.yaml  filename="coordinator/coordinator.go:341"
INFO[0000] Ksonnet.Generate Name kubeflow AppDir

[2019-07-20 21:52] jlewi commented on #3701
It looks like the code is invoking ksonnet

[code]

But 0.6 shouldn't be invoking that code.

Can you please run

[code]

So we can check which version of kfctl you are running?

[2019-07-20 21:53] jlewi commented on #3699
/assign @avdaredevil @prodonjs

[2019-07-21 00:57] #2754 closed

[2019-07-21 01:57] #865 closed

[2019-07-21 07:49] woop commented on #2141
Hi @chrisrana & @jlewi: Feast 0.1 does not support non-GCP cloud providers. Primarily because of the dependency right now on BigQuery.

However, we are currently working on a decomposition for Feast as part of Feast 0.2. This would decouple our ingestion logic from our databae "population" logic. What this means is that it would be a lot simpler to add new datastores. In fact, our plans are to not

[2019-07-21 16:49] #3018 closed

[2019-07-21 17:49] #2621 closed

[2019-07-22 00:02] jlewi commented on #3559
0.6.0 has been published.
https://github.com/kubeflow/kubeflow/releases/tag/v0.6.0

[2019-07-22 00:06] jlewi opened #3702 "Cut 0.6.1 - tracking bug for cutting the first minor release for 0.6"
#3559 - Tracking bug for 0.6.0 - Has previous context

Here is the [list](https://github.com/issues?utf8=%E2%9C%93&q=org%3Akubeflow+label%3Apriority%2Fp0+project%3Akubeflow%2F5+is%3Aopen+) of P0 blocks that are blocking us.

Demo script:
https://bit.ly/2UOzzxB

Key features that we'd like to get into 0.6.1

* Fix bugs with metadata UI not showing up.
* #3640 Create GCP secret by default in the nam

[2019-07-22 00:07] jlewi commented on #3559
Opened #3702 to track the minor release.

[2019-07-22 00:07] #3559 closed

[2019-07-22 00:29] jlewi commented on #3639
This was partially fixed by #3673.

The default profile name ends up being truncated and having some random salt on it;
e.g. `jlewi-at-google-com-3ddace`

I think the name should be deterministic. This makes it easier for users. In the rare case where an existing namespace already exists I think its fine not to create a new namespace.

@gabrielwen will fix this in his upcoming PR #3640.

I'll leav

[2019-07-22 00:30] jlewi commented on #3618
@kunmingg @lluunn #3675 has been merged. Is there more work to be done to close this out?

[2019-07-22 00:31] jlewi commented on #3563
Looks like kubeflow/website#898 is merged so I'm closing this issue.

[2019-07-22 00:31] #3563 closed

[2019-07-22 00:33] jlewi commented on #3555
@avdaredevil what is the latest ETA for the access management UI?

[2019-07-22 01:37] jlewi commented on #3546
This is fixed
https://github.com/kubeflow/kubeflow/blob/e6944f35149f7c362d32fb9d57fc9f3842a46347/bootstrap/v2/pkg/kfapp/kustomize/kustomize.go#L154

[2019-07-22 01:37] #3546 closed

[2019-07-22 01:40] jlewi commented on #3520
#3651 refactored the coordinator code.

PackageManagers and Platforms should now have the same interface; platforms no longer take extra args during construction.

It should not be relatively straightforward to add back dynamic loading of plugins.

[2019-07-22 01:43] jlewi commented on #3491
All of the changes to support KfDef.Applications are merged.  They should also be included in the v0.6.0 release.

Remaining work would be to upgrade the specs and tests to use it. We should file additional bugs for that.

[2019-07-22 01:47] jlewi opened #3703 "KfDef specs should use KfDef v1beta1"
The KfDef specs stored here:
https://github.com/kubeflow/kubeflow/tree/master/bootstrap/config

Should be updated to use KfDef.Spec.Applications.
Support for KfDef.Spec.Applications should already be available in v0.6.0

Follow on to #3491

0.7 configs should be updated to use KfDef v1beta1.

[2019-07-22 01:47] #3491 closed

[2019-07-22 01:53] jlewi commented on #3264
I believe this is no longer relevant given all the changes and improvements to kfctl.

[2019-07-22 01:53] #3264 closed

[2019-07-22 01:55] jlewi commented on #3210
I might suggest rewriting this as a go program and baking it into kfctl.

It might be nice if the tool supported some flexible way to match and replace images; e.g. using regexes. This way we could easily replace all images hosted in quay.io with another registry.

This would go a long way to making it easy to mirror all the required images to a different registry and then pull the images from it.

[2019-07-22 02:00] jlewi commented on #3079
/cc @lluunn @kunmingg

[2019-07-22 02:01] jlewi commented on #3056
We should try to fix the tests as part of 0.7

[2019-07-22 03:46] Eric-Zhang1990 opened #3705 "How to run pytorch distributed training using local data (NFS)"
Hi, does anyone have trained your own data which is on local Pc or using NFS? how does it communicate with docker (I mean my local path to path in docker)? How do I write pytorchjob yaml  file?
Thanks in advance.

[2019-07-22 03:49] #3029 closed

[2019-07-22 04:50] lluunn commented on #3079
I can pick this up after the workload identity

[2019-07-22 04:52] lluunn commented on #3618
/close

[2019-07-22 04:52] #3618 closed

[2019-07-22 04:57] paveldournov commented on #3048
This has been implemented.

[2019-07-22 05:26] gyliu513 opened #3706 "kubeflow operators"
Enable Kubeflow to be installed by operators to facilitate the management of those components.

@jlewi comments for this?

FYI @hougangliu @jinchihe

[2019-07-22 08:37] QxiaoQ commented on #3686
Also meet this issue, when I install kubeflow on Minikube.
<img width="1437" alt="image" src="https://user-images.githubusercontent.com/31646170/61618199-e814d380-ac9e-11e9-9607-5cdaa7ea22b8.png">

[2019-07-22 09:39] #3705 closed

[2019-07-22 15:25] yanniszark commented on #2846
There is still work to be done in order to have complete feature-parity.
With the latest v0.6 release, you can deploy Kubeflow on an existing, on-prem Kubernetes cluster with the following guide:
https://www.kubeflow.org/docs/started/getting-started-k8s/

[2019-07-22 15:59] sub-mod commented on #3625
@jlewi
I mentioned in my first comment that this is because ` conda update conda` would remove python 3.6 and install python 3.7. As a result I am not able to install the py36 tensorflow wheel since the python version is 3.7.
This would fail for kubeflow as well. Because the `1.13.1/version-config.json` file  doesnot have 3.7 tensorflow wheel file URLs. So, option 1. suggestion is not needed.

As

[2019-07-22 16:04] nsteblay opened #3707 "github downloads 500 error; github seems to be having trouble"
Attempting to download Kubeflow tar files but getting a 500 error from Github.

[2019-07-22 16:10] yanniszark commented on #3707
Seems like a github-related issue:
https://www.githubstatus.com/

[2019-07-22 17:20] prodonjs commented on #3699
I believe this has been addressed by ensuring that the image tagged for v0.6.0 (https://github.com/kubeflow/manifests/blob/f0744dcab59c8c9325b10ed8d2b97339da22bc5c/common/centraldashboard/base/kustomization.yaml#L17) reflects the correct code state which includes #3569 .

[2019-07-22 17:21] prodonjs commented on #3699
/close

[2019-07-22 17:21] #3699 closed

[2019-07-22 17:36] naveen24691 commented on #3636
I see. Thanks.
Anyway, I see the **release v0.6 is out**. This issue is no longer seems to be valid. We can go ahead and close this one.

[2019-07-22 17:48] jlewi commented on #3368
@kkasravi Are you back? Any interest in picking this up?

[2019-07-22 17:56] gabrielwen opened #3708 "[kfctl] Need a way to inject plugins to kfctl workflows"
Currently we define workflows for all steps (init/generate/apply) to be `<platform>() -> k8s()`.  Say if we need to run something after `k8s()` or in the middle of platform and k8s, we need to manually hack it.  We should make the app structure flexible such that it's easy to add new step to workflows.

[2019-07-22 17:57] gabrielwen commented on #3708
/area kfctl

[2019-07-22 17:57] gabrielwen commented on #3708
/priority p2

[2019-07-22 18:27] yanniszark commented on #3708
@jlewi maybe this is something we can address with the new plugin design of kfctl.

[2019-07-22 18:27] jlewi commented on #3708
An idea discussed before see: #3566 was to update the controller to have K8s controller like semantics.
In particular we would have a reconcile function that would be called multiple times until the deployment reached some terminal state.

KfDef.Status.Conditions would then be used to track state information that affected what operations were performed on each invocation of reconcile.

[2019-07-22 18:30] jlewi commented on #2831
This should be fixed on master.

We can now supply a --config file which points to a yaml file containing KfDef. We use go-getter to fetch this so we can use any URL go-getter understands.

KfDef now allows you to specify one or more repos to fetch each of which can be defined by a URL that will be fetched by go-getter.

[2019-07-22 18:30] #2831 closed

[2019-07-22 18:33] jlewi commented on #3471
@yanniszark the semantics mentioned in my last comment are now implemented on master and in 0.6.0.

Can we mark this as fixed?

[2019-07-22 18:40] jlewi opened #3709 "Kfctl Design Doc for v1beta1"
We need an updated design doc for kfctl.

Here are some key features we should capture

1. Adopting K8s controller reconcile semantics (see #3566)
1. Extensibility model i.e. plugin support
1. Proposal for KfDef v1beta1
1. What the desired CLI semantics are (see #3518)
1. Some discussion about code location and organization
    * There had been some discussion about moving it to its own repo

One

[2019-07-22 18:40] jlewi commented on #3709
@kkasravi @yanniszark either of you interested?

[2019-07-22 18:44] jlewi commented on #3708
#3709 for kfctl design doc.

[2019-07-22 18:49] jlewi commented on #3529
This should already be fixed and in 0.6.0.

[2019-07-22 18:49] #3529 closed

[2019-07-22 18:51] jlewi commented on #3371
Duplicate of #3368

[2019-07-22 18:51] #3371 closed

[2019-07-22 18:53] kunmingg opened #3710 "click-2-deploy / kfctl should seamlessly support deploying on existing clusters."
Default behavior should follow kubectl:
the only thing we expect user provide is kube/config

[2019-07-22 18:54] jlewi commented on #3061
Is this still relevant?
Was this code only used with ksonnet?

[2019-07-22 18:55] kunmingg opened #3711 "Publish kubeflow multi-tenancy service integration doc."
We should have a step-by-step integration doc for future services that want to integrate with kubeflow multi-tenancy mode.

[2019-07-22 18:59] yanniszark commented on #3471
@jlewi absolutely

[2019-07-22 18:59] #3471 closed

[2019-07-22 19:08] jlewi commented on #3702
/assign @zhenghuiwang

[2019-07-22 19:10] yanniszark opened #3712 "kfctl: support relative local repos in config"
We use `go-getter` to fetch repos defined in KfDef.
The `GetAny` method doesn't support relative local paths by default (for security reasons).
https://github.com/hashicorp/go-getter/blob/3279f7834bfada0785f23677629791ea1abb7475/client.go#L31

For `kfctl`, we may want to support these types of paths (eg `manifests` instead of `/home/yannis/go/src/github.com/kubeflow/manifests`).

This would also m

[2019-07-22 19:10] jlewi commented on #3643
It looks like all of the PRs have been submitted.

@karthikv2k please try it out and if it all looks good close the bug.

/assign @karthikv2k

[2019-07-22 19:11] jlewi commented on #3639
/assign @gabrielwen

[2019-07-22 19:16] jlewi commented on #3554
/assign @avdaredevil

@avdaredevil Do you have an updated ETA for this?

[2019-07-22 19:17] jlewi commented on #2152
@kunmingg and @gabrielwen will work on getting  the updated backend deployed this week.

/assign @gabrielwen @kunmingg

[2019-07-22 19:41] kkasravi commented on #3709
I would be more than happy to contribute to the design doc, including moving to kustomize 3.X+, removing v2.zip, and any other issues I've been involved in.

[2019-07-22 19:56] prodonjs commented on #3554
FYI: Here's a [screencast](https://screencast.googleplex.com/cast/NjI2OTU1NTA5MTQzOTYxNnwwMDZhMWE5Mi0yOQ) showing the state of PR #3503 showing the three primary scenarios:

 1. No headers to establish user-identity (user sees all namespaces)
 2. User with a profile sees only their owned namespace
 3. User accessing the application for the first time must register a profile and then sees only thei

[2019-07-22 20:03] yanniszark commented on #3554
@prodonjs thanks for the status update.
A few comments:

The screencast seems to be visible only by Google employees.
Could you share it in a publicly-accessible way?

My understanding is that a user may have multiple profiles.
So the UI should expect multiple namespace values (maybe a list selector?)

[2019-07-22 20:04] yanniszark commented on #3709
I'd love to contribute to this.
I'm very excited by the work done so far in kfctl. :smile:

[2019-07-22 20:10] yanniszark commented on #3636
Thanks
/close

[2019-07-22 20:10] #3636 closed

[2019-07-22 20:49] kkasravi commented on #3368
Yes i’ll get this
/assign @kkasravi

[2019-07-22 21:19] gabrielwen opened #3713 "[kfctl] Clean up unstructured PodDefault content"
Clean it up in `ConfigPodDefault` after v2 dependency goes away.

[2019-07-22 21:19] gabrielwen commented on #3713
/remove-kind bug

[2019-07-22 21:22] gabrielwen commented on #3713
/improvement enhancement

[2019-07-22 21:22] gabrielwen commented on #3713
/label improvement/enhancement

[2019-07-22 21:22] gabrielwen commented on #3713
/priority p2

[2019-07-22 21:22] gabrielwen commented on #3713
/area kfctl

[2019-07-22 21:42] avdaredevil commented on #3073
Thanks, @sxmon this worked!!

@lluunn could we add this to our release process?

[2019-07-22 22:59] AndriiNeverov opened #3715 "Upgrade to mpi-operator 0.2.x"
https://github.com/kubeflow/mpi-operator/tree/v0.2.1 has been released recently changing the CRD schema and even command-line options (e.g. --gpus-per-node has been removed)

[2019-07-22 23:38] lluunn opened #3716 "kfctl delete should get the kubeconfig for the app first"
I think it currently just use kubeconfig directly, so it will delete the wrong one if kubeconfig is pointing at another cluster.

cc @jlewi

[2019-07-22 23:40] lluunn commented on #3073
@kunmingg @zhenghuiwang
Can we add a windows binary to 0.6.0 and/or 0.6.1?

[2019-07-23 00:36] kunmingg commented on #3623
Shall we limit operators to access only kubeflow user namespaces?
Since v0.6 to check if a namespace belongs to kf user: we can check if namespace is owned by a profile.

[2019-07-23 01:26] jlewi commented on #3716
Duplicate of #3685

[2019-07-23 01:26] #3716 closed

[2019-07-23 01:27] jlewi commented on #3712
How would using relative local paths make it more portable? Aren't relative paths more likely to break if KfDef is moved to a different machine?

[2019-07-23 01:38] jlewi commented on #3706
@gyliu513 Can you elaborate on your thinking? We have kfctl which installs all of the applications. Do you think each individual application needs its own operator/controller?

[2019-07-23 01:40] jlewi opened #3719 "Delete jupyterhub code"
https://github.com/kubeflow/kubeflow/tree/master/components/jupyterhub

We no longer user JupyterHub so this code can be deleted.

[2019-07-23 01:43] jlewi opened #3720 "Are we still using k8s-model-server"
Is the code in
https://github.com/kubeflow/kubeflow/tree/master/components/k8s-model-server

still being used? I think we were originally building TFServing images because TFServing wasn't publishing images.

I think there is also a proxy in there to do things like request response logging.

What functionality in this directory is being replaced by KFServing?

/cc @ellis-bigelow @lluunn @animeshsi

[2019-07-23 01:48] jlewi commented on #3654
Thanks @johnugeorge and @richardsliu that doc looks like a great reference.

What about prometheus monitoring/metrics? Can we define basic metrics like #of resources created?

[2019-07-23 01:49] jlewi commented on #3655
See #3654 and go/tf-operator-1-0 for guidance.

[2019-07-23 01:49] jlewi commented on #3654
Also what about multi-version support in the resource?

[2019-07-23 01:51] jlewi opened #3721 "notebook controller E2E tests"
See go/tf-operator-1-0 and #3654

We need E2E tests for the notebook controller to cover core scenarios

[2019-07-23 01:52] jlewi commented on #1394
We should try to get this into the controller in 0.7 in preparation for going 1.0.

[2019-07-23 01:55] jlewi opened #3722 "notebook controller should report metrics to prometheus"
The notebook controller should provide basic prometheus metrics such as

number notebooks created
number notebooks running

See #3654 and go/tf-operator-1-0 for guidance.

[2019-07-23 01:58] jlewi opened #3723 "notebook controller API reference docs"
We need to publish API reference docs for the notebook controller as part of going beta and eventually 1.0.

See go/tf-operator-1-0

[2019-07-23 02:05] jlewi opened #3724 "Publish v0.6.0 binaries to the GitHub releases page"
Looks like we forgot to publish binaries to
https://github.com/kubeflow/kubeflow/releases

[2019-07-23 02:14] jlewi commented on #3724
I uploaded a linux version.

[code]

I had to manually run the command

[code]

* The Makefile ends up using the wrong tag because we use

[code]

So we include the commit in the version. I think including the commit in the version is a good thing; we should probably just fix the Makefile.

We also need to document that we should do it as part of the release process.

[2019-07-23 02:14] jlewi commented on #3724
We need to build a darwin version.

[2019-07-23 02:38] jlewi opened #3725 "Cleanup TensorFlow Jupyter image Dockerfiles"
Can we cleanup and simplify how we build our TensorFlow docker images?
https://github.com/kubeflow/kubeflow/blob/master/components/tensorflow-notebook-image/Dockerfile

In particular,

* Can we use the published TF images as base images?
* Do we need to do any customization anymore?
   * Now that we support custom Jupyter images [docs](https://www.kubeflow.org/docs/notebooks/custom-notebook/) is i

[2019-07-23 02:41] jlewi commented on #3725
/cc @pdmack @shkr

[2019-07-23 02:41] jlewi commented on #2358
Closing in favor of #3725

[2019-07-23 02:41] #2358 closed

[2019-07-23 02:42] jlewi commented on #3633
Closing in favor of #3725

[2019-07-23 02:42] #3633 closed

[2019-07-23 02:43] nsteblay commented on #3707
Yep.  Thx.

[2019-07-23 02:43] #3707 closed

[2019-07-23 02:46] jlewi opened #3726 "Create a single curated jupyter image for TFX"
We would like to clean up our Jupyter images #3725 and take advantage of the fact that we should now be able to inherit from the stock TF images.

Supporting TFX  is one of the main causes of complexity in our jupyter images

* We had to support a python2 runtime to support TFX
* TFX has version requirements across beam, TF, and core TFX libraries.

To simplify things I think we should switch to p

[2019-07-23 03:23] johnugeorge commented on #3654
Related: https://github.com/kubeflow/tf-operator/pull/1018

Currently tracked metrics for operators:

number of jobs created
number of jobs failed
number of jobs restarted
number of jobs succeded

[2019-07-23 03:23] johnugeorge commented on #3722
https://github.com/kubeflow/kubeflow/issues/3654#issuecomment-514038484

[2019-07-23 03:55] jlewi commented on #3625
Thanks @sub-mod.  Glad you figured it out.

#3725 aims to simplify our images and potentially move away from conda.

[2019-07-23 03:55] #3625 closed

[2019-07-23 04:00] jlewi commented on #3531
kubeflow/testing#421 to turn on vulnerability scanning in our GCR registries

[2019-07-23 04:06] jlewi commented on #3689
@JavaDerek @yanniszark can we close this issue?

[2019-07-23 04:10] jlewi commented on #2444
@rbq Do you meant he source for kfctl? Because the source for kfctl is available. It lives here
https://github.com/kubeflow/kubeflow/tree/master/bootstrap

For a various legacy reason we haven't moved it into master/kfctl yet

[2019-07-23 04:12] jlewi opened #3727 "kfctl should support upgrading kubeflow deployments"
We'd like kfctl to begin providing some path for people to upgrade their Kubeflow deployments.

/cc @richardsliu

[2019-07-23 04:13] jlewi commented on #2976
Thanks @kkasravi
Marking this as fixed

[2019-07-23 04:13] #2976 closed

[2019-07-23 04:19] jlewi commented on #3623
I'd prefer not to go down the road of running 1 controller per namespace. I think this makes administering Kubeflow clusters much harder (e.g. doing upgrades) because now you have N instances to manage which  becomes impractical without addititional tooling if N is large.

[2019-07-23 05:11] gyliu513 commented on #3706
@jlewi Yes, I actually hope that we can manage all components in Kubeflow via Operator, like Katib, kfserving etc.

[2019-07-23 05:25] Rohithzr commented on #3131
@kimwnasptd
I am using `helm install stable/efs-provisioner` as my storageClass, I also tried EBS-GP2, but I am getting the below error
[code]

I am using

v20181207-4e7f4ed-198-gaeea303e-dirty-03e65e

[2019-07-23 06:17] ocdkube commented on #3701
# ./kfctl version
v20181207-4e7f4ed-198-gaeea303e-dirty-03e65e

[2019-07-23 07:32] Rohithzr commented on #3724
how can I build this locally?

[2019-07-23 07:37] hougangliu commented on #3706
for now we install Kubeflow by kfctl, and kubeflow operator here aims to introduce `Kubeflow` CRD and create a kubeflow cluster once user create a `Kubeflow` CR (it specifies which components with specified attributes will be installed).

But now AFAIK, for some kubeflow components (saying katib), it doesn't support to monitor specified namespace CR (if all monitors same CR, they all try to Reconc

[2019-07-23 07:48] krishnadurai commented on #3694
Right now, manifests for dex and istio for on-prem lie in kubeflow/kubeflow repository, which means that any change to the deployment model in kubeflow/manifests would break 'existing_arrikto' deployment through kfctl. This requires a design of deployments to be structured well in manifests and be vendor-neutral.
Secondly, regarding Dex authentication being covered in `existing_arrikto` is at Isti

[2019-07-23 08:18] krishnadurai commented on #3694
[code]
And, a snippet from kfctl help:
[code]

Notice that there is no deployment method for on-premise.

[2019-07-23 10:25] yanniszark commented on #3182
I believe this can close now, these services were confirmed as part of the existing_arrikto PR (https://github.com/kubeflow/kubeflow/pull/3538)
Deploying with [existing_arrikto](https://www.kubeflow.org/docs/started/getting-started-k8s/#Kubeflow-for-Existing-Clusters---by-Arrikto) confirms that these services work in an on-prem environment.

/close

[2019-07-23 10:25] #3182 closed

[2019-07-23 10:39] yanniszark commented on #3367
I think this is no longer relevant

[2019-07-23 10:39] #3367 closed

[2019-07-23 12:08] yanniszark commented on #3164
We have merged platform `existing_arrikto` for existing, on-prem clusters, which achieves basic auth using Dex with static users.
I believe it covers this issue.
Can we close this issue or is there more to do here?

[2019-07-23 12:11] yanniszark commented on #3162
Platform `existing_arrikto` can install Kubeflow, using kfctl, on existing, on-prem Kubernetes clusters.
Based on that, should we close this issue or is there more to do?

Refs:
* https://github.com/kubeflow/kubeflow/pull/3538
* https://www.kubeflow.org/docs/started/getting-started-k8s/

[2019-07-23 12:24] prodonjs commented on #3698
/assign @avdaredevil

[2019-07-23 12:27] jlewi commented on #3035
I filed some more specific bugs.

kubeflow/testing#423 is the main one. Once that is fixed we can start moving tests off ksonnet.

Once we have moved a single repo off ksonnet we can file individual bugs for the other repositories.

[2019-07-23 12:34] Akashdesarda commented on #3575
I am facing the same issue

[2019-07-23 12:39] kkasravi commented on #3724
@Rohithzr `make build-kfctl` or `make install` (to copy to /usr/local/bin)

[2019-07-23 12:51] pdmack commented on #3686
31380 conflicts with kube-proxy port, at least for on-prem.

istio/istio#10795 identified this but left the nodePorts in there.

[2019-07-23 13:10] pdmack opened #3728 "minio-pv,mysql-pv bound but looking for gce-pd storage"
`AttachVolume.NewAttacher failed for volume "minio-pv" : Failed to get GCE GCECloudProvider with error <nil>`

On-prem, all-in-one install using a fresh built kfctl (0.6-ish) using platform="minikube" and components="k8s". Obviously, no public cloud storage attached.

Shouldn't these just make use of a default StorageClass?

[2019-07-23 13:14] yanniszark commented on #3728
@pdmack I believe the config file for minikube are out-of-date.
It should be possible to deploy Kubeflow on Minikube using platform [`existing_arrikto`](https://master.kubeflow.org/docs/started/getting-started-k8s/#Kubeflow-for-Existing-Clusters---by-Arrikto).
Just make sure to have a LoadBalancer available, using the `minikube tunnel` command.

[2019-07-23 13:40] pdmack commented on #3728
Thanks @yanniszark but what do we mean by a LoadBalancer in this context and why would it be required?

[2019-07-23 13:45] jlewi commented on #3709
@yanniszark Do you want to start a doc?

[2019-07-23 13:46] yanniszark commented on #3709
@jlewi sure, I will start one in the Kubeflow Drive.

[2019-07-23 13:47] yanniszark commented on #3728
@pdmack it is required to expose the Istio Gateway with standard ports.
I am working on lifting this requirement, but it exists for now.

[2019-07-23 13:56] kimwnasptd commented on #1394
@jlewi yes, I was planning to work on this one for 0.7

The overall experience could be the following. The UI would support `stopping/starting` of the Notebook Pods and we will have a culler, as a sidecar container to the Controller, which would `stop` idle Notebooks. The user can then just start a stopped Notebook from the UI.

One thing we need to clarify is, what is an idle Pod. If we take for

[2019-07-23 15:32] kkasravi commented on #3724
too big to upload - here is a link
https://www.dropbox.com/s/g1p563kq1thzuoj/kfctl_v0.6.0-0-g71aea0a9_darwin.tar.gz?dl=0

[2019-07-23 15:34] kkasravi opened #3730 "Create new repo for kfctl"
see references
- https://www.dropbox.com/s/g1p563kq1thzuoj/kfctl_v0.6.0-0-g71aea0a9_darwin.tar.gz?dl=0
- https://kubeflow.slack.com/archives/CF94DURGF/p1563891031002800?thread_ts=1563823972.000500&cid=CF94DURGF

[2019-07-23 16:15] rawkintrevo commented on #1583
update / fwiw- PyFlink going into PyPi is being discussed atm (started on 7/2 but has PMCs weighing in now) we could add stephan to the thread for his .02(?)

https://lists.apache.org/thread.html/1dabcda27a584ecda59129db4188073fb8ff7100b884a7564c1c2f73@<dev.flink.apache.org>

[2019-07-23 16:26] holdenk commented on #1583
@rawkintrevo The Apache Beam Python stuff doesn't use PyFlink directly (instead it does it's own thing for non-JVM languages). I think the long-pole on this is likely going remain production ready beam-flink Python integration.

[2019-07-23 16:29] #3041 closed

[2019-07-23 16:59] jlewi commented on #3662
@swiftdiaries We could piggy back on our existing E2E tests to automatically publish the binary somewhere. It might be easiest to start with GCS just because our CI system already has access to GCS; accessing GitHub release pages is a bit more work but doable.

For GitHub I think we'd want to create a GitHub APP and use that to authenticate to our repos.

It might also make sense to try to use Tek

[2019-07-23 16:59] gabrielwen commented on #3639
@jlewi  I think it's fixed?

[2019-07-23 17:14] jlewi commented on #3694
@krishnadurai

You can define a YAML file like existing_arrikto.yaml that installs whatever kustomize packages you want. There should be separate kustomize packages in kubeflow/manifests for ISTIO and Dex so you can compose those how you want.

So is the additional work that you want to define a kustomize package that defines certain ISTIO and RBAC rules?

[2019-07-23 17:28] richardsliu commented on #3667
@zhang87492
0.6 was just released. Can you see if your issue still happens?

[2019-07-23 17:42] richardsliu commented on #1915
@davidparks21 Looks like this is a different feature request. V0.6.0 introduces multi-user profiles which allow non-admin users to create resources in their own namespaces, but the initial installation still has to be done with cluster-admin privileges.

Please also see https://github.com/kubeflow/kubeflow/issues/3623, which is about allowing the controller to access a set of namespaces in the clu

[2019-07-23 18:26] SinaChavoshi opened #3733 "Page rendering broken for notebook page"
If i leave the cluster for a while ( usually 4-5 days) and try to connect to the notebook page the rendering of the notebook page comes up broken. see screen shot:

https://screenshot.googleplex.com/Byyqe4XTEve

![image](https://user-images.githubusercontent.com/20114005/61737240-a175b680-ad3c-11e9-9b55-a41e8f264813.png)

[2019-07-23 19:13] kunmingg commented on #3724
darwin version updated

[2019-07-23 19:13] #3724 closed

[2019-07-23 19:52] kkasravi commented on #3706
the granularity of operators could be by application CR - where we have one per kubeflow 'component' see #3703 - we currently deploy an application-controller which looks for application CRs, however this could be expanded considerably as suggested here

[2019-07-23 20:25] jlewi commented on #3733
/assign @prodonjs
/assign @avdaredevil

[2019-07-23 20:28] jlewi commented on #3694
@johnugeorge

With regards to installing Dex and ISTIO. I'd like to make them composable.

Ideally they would just be kustomize packages that users can choose to include by adding them to the list in KfDef.Spec.Application

I think the one complication here is that configuring Dex and ISTIO (or maybe its the certs) depends on knowing the IP address of the endpoint which isn't known until the servi

[2019-07-23 20:37] jlewi commented on #3162
I think we should refactor exiting_arrikto.yaml to make Dex and ISTIO more composable.
See
https://github.com/kubeflow/kubeflow/issues/3694#issuecomment-514371058

I think some of the changes we need are

* Create a kustomize package to install Dex
* Use KfDef.Spec.Applications to list Dex and ISTIO as applications to be installed

This might be partially blocked by #3709  and making kfctl support

[2019-07-23 23:24] avdaredevil opened #3735 "[Windows][KFCtl] Final step on deployment fails:"
### Error:
[code]

### Meta
/assign @gabrielwen
/cc @abhi-g
/area kfctl
/priority p1

[2019-07-23 23:29] avdaredevil commented on #3698
On it!

[2019-07-23 23:29] avdaredevil commented on #3698
/area front-end
/area centraldashboard
/priority p0

[2019-07-24 02:11] prodonjs commented on #3733
This seems like the same issue as https://github.com/kubeflow/pipelines/issues/908 and #2852. I don't think there's anything specific in the UI layer we can do to address it at this time but it does seem to be an error that occurs across all web surfaces in Kubeflow after the cluster remains idle for some period of time.

[2019-07-24 02:12] prodonjs commented on #3733
/priority p2

[2019-07-24 03:03] xauthulei opened #3736 "[v0.6.0] source code building errors"
My steps :
1>Download  kubeflow-0.6.0.zip , and unzip it.
2>Compiler
`cd /Users/llhu/kubeflow_mac/kubeflow-0.6.0/bootstrap;make build-builder-container`
 **fatal: not a git repository (or any of the parent directories): .git**
docker build \
		--build-arg GOLANG_VERSION=1.12 \
		--target=builder \
		--tag gcr.io/kubeflow-images-public/kfctl: .
invalid argument "gcr.io/kubeflow-images-public/kfctl:

[2019-07-24 03:56] emmayang opened #3737 "installation failure because do not have external IP for istio-ingressgateway"
I tried to deploy latest version of kubeflow to my own cluster, and got stuck at the step `Tring to get istio-ingressgateway Service External IP`, and the error logs are:

[code]

This is my own testing kube cluster, which does not have an external IP, and it shouldn't prevent me install kubeflow.

I tried to remove istio overlay from `app.yaml`, and it does not work.

kfctl version:
[code]

[2019-07-24 05:07] beatgeek commented on #3719
Easy one for me to take on - happy to do it.

[2019-07-24 05:20] jlewi commented on #3737
What kfctl command did you run to generate your config?

Are you following
https://www.kubeflow.org/docs/started/getting-started-k8s/?

/cc @yanniszark

[2019-07-24 05:21] jlewi commented on #3414
0.6 is now available so I'm going to close this bug.

Please try 0.6 and open a new issue if the problem still occurs.

[2019-07-24 05:22] jlewi opened #3738 "Create a GitHub issue template for bugs"
We should create an issue template for users asking for help.

We should ask people for information such as

* What kfctl commands did they run
* What is the output of `kfctl version`
* What their kubernetes platform is

[2019-07-24 05:23] jlewi commented on #3738
We can start with what fairing does
https://github.com/kubeflow/fairing/tree/master/.github

[2019-07-24 05:26] jlewi commented on #3736
The command to build kfctl is

[code]

[2019-07-24 05:35] jlewi opened #3739 "Enhancements to existing_arrikto.yaml"
Opening this issue to figure out what improvements we'd like to make to
https://github.com/kubeflow/kubeflow/blob/master/bootstrap/config/kfctl_existing_arrikto.0.6.yaml

* Can we create kustomize packages for ISTIO and DEX  so we can treat them like every other application?
  * Right now they are installed from YAML files
    https://github.com/kubeflow/kubeflow/tree/master/deployment/existing

D

[2019-07-24 06:51] emmayang commented on #3737
@jlewi yes, exactly following the `Deploy Kubeflow` section of that guide.

[2019-07-24 06:57] halayudha commented on #3737
I have the same issue. external-ip pending...

istio-system   istio-ingressgateway     LoadBalancer   10.100.175.199   <pending>     5556:30626/TCP,15020:30562/TCP,80:31380/TCP,443:31390/TCP,31400:31400/TCP,15029:32508/TCP,15030:32291/TCP,15031:32629/TCP,15032:31509/TCP,15443:30899/TCP   3m32s

[2019-07-24 09:27] yanniszark commented on #3737
Hi @emmayang!
The reason the installation is not working is most likely because you don't have a working LoadBalancer Service in your environment.

`kfctl` gets the LoadBalancer IP from the LoadBalancer Service's status and uses it to provision certs and setup Dex and the OIDC client.

I am working on getting this restriction lifted soon.
Until then, you can use [MetalLB](https://metallb.universe.

[2019-07-24 09:33] xauthulei commented on #3736
Thanks @jlewi ,However, there still other errors likes :
go: verifying github.com/hashicorp/go-getter@v1.0.2: checksum mismatch
	downloaded: h1:gw2LPsqe+ri9lYBKUtpzdNgE8RzPuJ67ORTp35owxdQ=
	go.sum:     h1:ba+UwCRuxJ7+rS+cO6JnQZUrweQjmEAkwKu9r7+HCpM=
make: *** [generate] Error 1

[2019-07-24 09:39] yanniszark commented on #3736
Hi @jlewi @xauthulei.
Could you try building with `build-kfctl-container` to build `kfctl` in a container?
It is much more reproducible and will eliminate any host-specific bugs.

[2019-07-24 09:46] xauthulei commented on #3736
@yanniszark , Thanks for your quickly response. Yea, I also got this error:
/Users/llhu/kubeflow_mac/kubeflow-0.6.0/bootstrap
huleis-mbp:bootstrap llhu$ make build-kfctl-container
**fatal: No names found, cannot describe anything.**
DOCKER_BUILDKIT=1 docker build \
		--build-arg GOLANG_VERSION=1.12 \
		--build-arg VERSION= \
		--target=kfctl \
		--tag gcr.io/kubeflow-images-public/kfctl/builder: .

[2019-07-24 09:48] yanniszark commented on #3736
@xauthulei I believe this error occurs because we use the git hash to generate the image tag.
Maybe we should give it a good default.

[2019-07-24 10:12] discordianfish commented on #3736
Would be great to document how to build this as close as the release deploys as possible.

@xauthulei I would suggest you checkout the repo via git and try again.

[2019-07-24 11:07] yanniszark commented on #3166
In the `existing_arrikto` platform, we have integrated [Dex](https://github.com/dexidp/dex) with the Istio Gateway, using an AuthService.
This way, we provide the full OIDC flow, not just the JWT validation that Istio currently supports.
Is there anything else to do for this issue?

Refs:
* https://github.com/kubeflow/kubeflow/pull/3538
* https://www.kubeflow.org/docs/started/getting-started-k8s/#

[2019-07-24 11:07] yanniszark commented on #3162
Exactly.

I agree and I believe this work is tracked in #3739.
I proposed closing because this issue is about installing in an on-prem cluster and that can now be done.

I believe improvements to the existing approach should be tracked in followup issues, like #3739.
What do you think?

[2019-07-24 12:44] #3639 closed

[2019-07-24 13:16] jlewi commented on #3660
@jerrylam see the docs here
https://www.kubeflow.org/docs/notebooks/custom-notebook/

You need to specify the jupyter command to properly configure jupyter to start with appropriate arguments.

Please reopen this issue if that doesn't answer your question.

[2019-07-24 13:16] #3660 closed

[2019-07-24 13:27] johnugeorge commented on #3739
Thanks @jlewi for tracking this.

I completely agree with composable architecture.  This should be right direction where users should be able to select the components based on their needs.  DEX/OIDC Kustomize packages are being added in manifests https://github.com/kubeflow/manifests/pull/195

/cc @krishnadurai

[2019-07-24 14:37] asispatra commented on #3737
I am also facing the same issue. How to resolve this?

[2019-07-24 14:56] emmayang commented on #3737
@yanniszark thanks, but just thought this shouldn't block the installation.

I know the latest release are using Istio to expose the component links, but without an externalIP, user can still use nodeport to access the services.

[2019-07-24 16:02] illeatmyhat commented on #3739
It'd be nice if we were able to configure the storage settings for each component, i.e. ephemeral vs PV, the storage request size

[2019-07-24 16:20] johnugeorge commented on #3162
@yanniszark I am confused here as we are mixing up things.

It is quite difficult to have a generic config for existing clusters or on-prem config.  There is no single config that can satisfy needs of all deployments. Opinionated KF installation should be under a platform.

Existing k8s cluster is different from on prem cluster. Existing cluster can be in any cloud or on prem. My expectation of KF

[2019-07-24 16:20] johnugeorge commented on #3166
See https://github.com/kubeflow/kubeflow/issues/3162#issuecomment-514701515

[2019-07-24 17:11] jlewi commented on #3640
reopening

@gabrielwen We need to cherry pick #3639 into the v0.6-branch

[2019-07-24 18:12] gabrielwen commented on #3735
@kkasravi do you know if we could support Windows env?

[2019-07-24 18:14] gabrielwen commented on #3640
#3741 does it.

[2019-07-24 18:15] gabrielwen commented on #3640
/close

[2019-07-24 18:15] #3640 closed

[2019-07-24 18:45] avdaredevil commented on #3735
To shed a little perspective personally. After using #3073 me and @abhi-g were able to build kfctl for windows. Once built it would fail on path issues:
- Namely, it creates a `kubeflow/.cache` in the current dir, but then tries to read `./config/base/kustomization.json` instead of `./kubeflow/.cache/v0.6.0/config/base/kustomization.json`
- So I solve this by cd'ing into `./kubeflow/.cache/v0.6.0/

[2019-07-24 18:53] avdaredevil commented on #3702
This needs to be added: #3742

[2019-07-24 19:01] #2910 closed

[2019-07-24 20:44] lluunn opened #3744 "kfctl with --config: "useBasicAuth: true" has not effect"
The resulting app.yaml still has `useBasicAuth: false`

[2019-07-24 21:07] Ark-kun commented on #2347
You can also try changing the Argo's executor from `docker` to something else:
https://github.com/kubeflow/pipelines/issues/1654

[2019-07-24 21:17] lluunn commented on #3744
Actually, since we specify components in the config, should we still use useBasicAuth field in the config?

[2019-07-24 21:27] lluunn commented on #3744
I verified the useBasicAuth field is reset after backfillKfDefFromInitOptions
https://github.com/kubeflow/kubeflow/blob/8da1e4709dfb53867cce9156ccd52945bd82af21/bootstrap/pkg/kfapp/coordinator/coordinator.go#L369

[2019-07-24 21:54] lluunn commented on #3744
@jlewi do we have an issue to cleanup the flags and fully migrate to use --config?

[2019-07-24 23:48] kunmingg opened #3746 "Update GKE API to v1."
Our [config](https://github.com/kubeflow/kubeflow/tree/master/deployment/gke/deployment_manager_configs) are currently on [GKE API v1beta1](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/projects.locations.clusters).
We should update version to [v1](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters#top_of_page)

[2019-07-24 23:48] kunmingg commented on #3746
Thanks @IronPan

[2019-07-25 01:01] #3031 closed

[2019-07-25 02:21] kkasravi opened #3747 "kfctl: specifying --email does not override KfDef.Spec.Email"
inconsistent behavior with option

hostname will override KfDef.Spec.Hostname
email will not override KfDef.Spec.Email

`kfctl generate all --zone=us-west1-a --email=kam.d.kasravi@intel.com`

[code]

[2019-07-25 04:43] animeshsingh commented on #3720
TFServing should be available via KFServing moving forward. We should phase this out IMHO
/cc @ellis-bigelow @jlewi

[2019-07-25 08:13] gyliu513 commented on #3706
@hougangliu can we add labels to CR so that the operator only monitor CRs with specified labels but not namespaces? Also for your case of CRD conflict, yes, it is a question, but for now, I think we can take this as low priority, we can have the assumption that the end user will not install multiple Kubeflow in one Kubernetes cluster.

@kkasravi good idea, we can leverage the `application CR` and

[2019-07-25 09:18] gyliu513 commented on #3683
@jlewi @jinchihe +1 for this, OpenStack also has similar SDK as https://github.com/openstack/openstacksdk , it would be great to have kind of kubeflowsdk for facilitate second development work.

FYI @hougangliu

[2019-07-25 09:37] zhangzewen commented on #3357
I have the same thing using this image on kubernetes cluster

### k8s: 1.14.3,  kubeflow: 0.5.0

#### GPU node  info
[code]

#### GPU docker info

[code]

[2019-07-25 10:44] yanniszark commented on #3712
@jlewi
Scenario: user commits every dependency for kfctl (manifests, kubeflow) in a repo.
The config file should be able to point to the local relative paths of the manifests, kubeflow folders.
Right now, the config file requires a full path.
This means that anyone who downloads the repo has to edit the config file with the full path to make it work.

[2019-07-25 11:06] yeya24 commented on #3738
I' d like to work on this.

[2019-07-25 12:10] asispatra opened #3749 "uninstalling kubeflow failing"
[code]

[2019-07-25 12:11] asispatra opened #3750 "Is it possible to install kubeflow 0.6 without loadbalancer on Kubernetes?"

[2019-07-25 12:19] InCogNiTo124 commented on #3749
Duplicate of #3646?

[2019-07-25 15:01] #3057 closed

[2019-07-25 15:39] jlewi commented on #3730
The repo is created
https://github.com/kubeflow/kfctl/tree/master

But we still need to setup prow.
/assign @kkasravi

[2019-07-25 18:30] #3027 closed

[2019-07-25 19:01] rajesh-chawla opened #3752 "Deploying notebooks on 0.6 fails"
I’m working to deploy notebooks using 0.6, but not able to. When I attempt to create a new notebook, I see the error below in the notebook-controller-deployment pod.

{“level”:“info”,“ts”:1564071153.570385,“logger”:“controller”,“msg”:“Updating StatefulSet”,“namespace”:“kubeflow”,“name”:“rc1”}
{“level”:“info”,“ts”:1564071153.6148093,“logger”:“controller”,“msg”:“Pod not found...“} (edited)

From Sla

[2019-07-25 20:37] swiftdiaries commented on #3662
@jlewi Are we looking to move from Argo to TektonCD for E2E tests?

[2019-07-25 20:39] swiftdiaries commented on #3662
+1 for pushing to GCS
I'll get to the GitHub app in a subsequent PR, the initial one would just be a piggyback on the existing E2E workflow to build and push the kfctl binary to GCS.
Although, for GCS should we create a separate bucket that can be accessed by devs or publish the nightly builds on GitHub?

[2019-07-25 23:40] kunmingg opened #3753 "deploy app frontend: Unhandled Rejection (TypeError): Cannot read property 'cert-manager' of undefined"
Got following error when testing on v0.6.0 of new deploy UI.

[code]

[2019-07-25 23:40] kunmingg commented on #3753
@prodonjs
@gabrielwen

[2019-07-26 06:05] asispatra commented on #3749
@InCogNiTo124 This is not the same issue.

[2019-07-26 06:10] Rohithzr opened #3755 "darwin verison on `v0.6.1-rc.1` doesnt work."
I tried`v0.6.1-rc.1` darwin release binary but gives me `exec format error: kfctl` error

[2019-07-26 06:31] asispatra opened #3756 "Kubeflow 0.5 installation failing"
I was trying install kubeflow 0.5 on Kubernetes environment and it is failing while running `kfctl apply k8s -V` . Please help on this.

Log Details:
[code]

Thanks.

[2019-07-26 08:14] NurFaizin commented on #3756
Hi @asispatra , do you have ksonnet installed?

[2019-07-26 08:16] asispatra commented on #3756
Yes installed.

On Fri, 26 Jul 2019, 1:44 pm Nur Faizin, <notifications@github.com> wrote:

[2019-07-26 08:58] TaylorHere opened #3757 "[v0.6.0] how to get yaml file of entire kubeflow app"
We still using yaml files to deploy our app, in v0.5.0 we use 'ks show' to get yaml files
but in v0.6.0, 'ks show' didn't work, it says:
[code]
and 'fctl show' didn't work as well, it says:
[code]

[2019-07-26 09:07] PrathamSolanki commented on #2863
@cndaimin can you please share your `scripts/kfctl.sh`. I'm unable to understand how did you tweak it.

[2019-07-26 11:03] Kyrremann commented on #3701
@ocdkube your using an old version of `kfctl`. The output for `v0.6.0` should be:
[code]

[2019-07-26 12:45] Radhika108 commented on #2287
Does not work on  the free tier of Google Cloud

[2019-07-26 12:47] Kyrremann opened #3759 "kfctl apply failes with No Auth Provider found for name "azure""
I'm trying to apply Kubeflow `v.0.6.0` in our cluster, and it failes with the following error:

[code]

We use Azure/AD to connect/login to the cluster, and if I create a user that authenticates with a token instead (of my regular user) it all works.

I assume the problem is that `kfctl` is missing support for azure as an `oidc` flow.

There has been a short disuccion on [slack](https://kubeflow.s

[2019-07-26 13:11] yanniszark commented on #3759
@jlewi @kkasravi
I suspect the issue is that the client we use for kfctl doesn't support the OIDC flow.
How do we want to handle situations like this?

[2019-07-26 13:50] prodonjs commented on #3753
@kunmingg - Did you get this issue from the state in #3599? I expected there were still some issues there but I thought I had seen this one before and addressed it. In any case, can you point me to the 0.6.0 compatible bootstrap endpoint you have so I can test against it?

[2019-07-26 13:51] jlewi commented on #3759
/assign @kkasravi
/assign @gabrielwen

Could one of you take a look please?

[2019-07-26 13:55] jlewi commented on #3757
After running `kfctl generate`

All of the kustomize packages should be in ${KFAPP}/kustomize

For each of those applications you can run `kustomize build` to generate the YAML

Relevant code
https://github.com/kubeflow/kubeflow/blob/e12958a577ce376aa69d7a5f71292f5f1f8a40f6/bootstrap/v2/pkg/kfapp/kustomize/kustomize.go#L625

[2019-07-26 13:57] jlewi commented on #3756
Can you try 0.6?

[2019-07-26 13:57] jlewi commented on #3755
/assign @zhenghuiwang

[2019-07-26 14:01] jlewi commented on #3752
Could you please take a look at kubeflow/website#935 and include the relevant information?

[2019-07-26 14:41] hemantha-kumara opened #3761 "[0.5.1]By default JupyterLab is not opening when i try to connect notebook server even when useJupyterLabAsDefault is true"
I installed kubeflow(0.5.1) using kfctl.sh,
here are the steps I had executed:

[code]
after creating notebook server, tried connecting server, it is redirecting /notebook/kubeflow/<notebookservernam>/tree?

I was expecting it will redirect to
/notebook/kubeflow/<notebookservernam>/lab

Here is jupyter statefulset config
---
[code]

jupyter_config.py contenet
---
  jupyter_config.py: |
[code]

[2019-07-26 15:16] kkasravi commented on #3759
Documentation says to use k8s not all
‘kfctl apply k8s’

[2019-07-26 15:45] mattnworb commented on #3658
+1 to this issue, having separate distinct installations of Kubeflow on the same Kubernetes cluster sounds very useful (as that isolation is exactly what k8s namespaces are meant to provide).

[2019-07-26 15:49] mattnworb commented on #3092
Regarding the Profile CRD, is there any thought to allowing multiple (non-serviceaccount) users to be mapped to the same Profile?

[2019-07-26 15:52] prodonjs commented on #3753
Ahh looking at this again I was basing some assumptions on what the old 0.5.0 config file looked like from `app-config.yaml` on master which had already been updated from what's on the v0.5.0 branch. I'm making the appropriate changes now and they'll be in the PR.

[2019-07-26 16:16] yanniszark commented on #3658
The general feeling I got from v0.6, is that we are moving towards a model where Kubeflow is deployed once (system components in namespace kubeflow) and then users are isolated using namespaces.

Are we working towards a different model now?
I have the feeling that multiple kubeflow installations would be difficult to achieve now, considering that the current multi-tenancy model is still in the wo

[2019-07-26 16:20] Rohithzr opened #3762 "unable to deploy kubeflow on 0.6.0 non gke cluster."
I am trying to deploy the kubeflow server, but I am getting the following error.

[code]

https://gist.github.com/Rohithzr/30c831ca36886b4aef06383e72583813

[2019-07-26 16:25] yanniszark commented on #3092
@kkasravi can you please provide some more details about what we would like to achieve?
The issue mainly describes changes to be made.
Are they included in the profiles design doc?

More specifically:

What will the Profile Controller do with those ServiceAccounts?

What will this achieve?
Will a profile be owned by a Group, i.e. the ML Engineers team?

[2019-07-26 16:32] abhi-g commented on #3658
I am trying to understand the User Scenario where this is required. It will be helpful if we can document the value of multiple Kubeflow deployments within a single K8s cluster.

[2019-07-26 16:34] prodonjs commented on #3753
OK, I'm still a bit confused here. I started basing the work to provide valid paths for both v0.5.0 and v0.6.0 deployments from master, where the last change to the click-to-deploy code came from #3045.

However, if I try to use that code and make a request against the existing deploy.kubeflow.cloud endpoint I see `json: cannot unmarshal string into Go struct field AppConfig.packages of type v1alp

[2019-07-26 17:50] kkasravi commented on #3658
If system components were namespace scoped then multiple deployments could be created, where submitting a Profile would need a Profile.metadata.namespace which would be that particular Kubeflow deployment

[2019-07-26 18:16] kunmingg commented on #3658
@mattnworb
Kubeflow v0.6 support namespace based user / service isolation.
Is that what you mean?

[2019-07-26 18:18] kunmingg commented on #3658
What's the benefit to duplicate system components?
I feel k8s resources are either global or namespace-scoped?

[2019-07-26 18:25] mattnworb commented on #3658
No. I am agreeing with the comments above that the `Profile` resource should be namespaced (in the kubeflow home namespace) so that an administrator could choose to install multiple instances of Kubeflow in the same kubernetes cluster (e.g. `kubeflow-1`, `kubeflow-2`) without them sharing the list of profiles if they wish to. If the CRD is global instead of namespaced, then kubeflow is making that

[2019-07-26 19:10] Rohithzr commented on #3762
if I run it like this `kfctl init "$KFAPP" --namespace kubeflow --use_istio=false`

[code]
and
[code]

[2019-07-26 19:10] Rohithzr commented on #3762
so this is not working for me with or without istio

[2019-07-26 19:20] yanniszark opened #3764 "kfctl: existing_arrikto: LoadBalancer address discovery doesn't work for AWS"
In platform existing_arrikto, we get the LoadBalancer address by looking at `status.loadBalancer.ingresses[0].ip`.
However, ELB gives a hostname, not an IP.

The logic should be fixed to also work for hostname.

/priority p0
/assign @yanniszark

[2019-07-26 19:55] rajesh-chawla commented on #3752
I attempted to create a notebook called 'test1'. Following the suggestions above, I executed the command:

`kubectl describe statefulsets test1`

shows the following error:

    Type     Reason        Age                     From                    Message
    ----     ------        ----                    ----                    -------
    Warning  FailedCreate  2m19s (x26 over 7m39s)  statefuls

[2019-07-26 20:27] jlewi commented on #3744
@lluunn I don't know that we have an existing issue; should we reuse this one or open a new issue?

Could we raise an error if any flags are specified with --config?

[2019-07-26 20:32] mmuppidi opened #3765 "Is build version displayed by Kubeflow on dashboard correct ?"
I just upgraded my Kubeflow to v0.6.1-rc.1, but the dashboard still displays build version 0.5.0. Is there a bug here or did my upgrade not work ?

Here is the command I used to upgrade

[code]

<img width="255" alt="kubeflow-build-version" src="https://user-images.githubusercontent.com/8787305/61979773-caa77880-afc2-11e9-82dc-e4e54ab3297a.png">

[2019-07-26 20:33] kkasravi commented on #3658
if you need to upgrade different tenants at different times.
If you need to delete one tenant.

[2019-07-26 20:40] rajesh-chawla commented on #3752
I can create a notebook successfully after I create a service account named 'default-editor' clusteradmin rights.

[2019-07-26 20:48] jlewi commented on #3750
@asispatra Yes; @johnugeorge is updating the instructions in #977

[2019-07-26 20:51] jlewi commented on #3737
/assign @johnugeorge

@emmayang; @johnugeorge has updated the instructions in kubeflow/website#977 to describe how to deploy Kubeflow on an existing cluster without requiring an external IP address.

You can take a look at the pending PR to get a preview.

[2019-07-26 20:55] lluunn commented on #3744
We can re-use, I will rename the title.
I think another problem about basic auth / iap is that in the config, there are two ways to specify these: 1) the useBasicAuth field, or the components (or Application, should be equivalent).

[2019-07-26 21:03] kunmingg commented on #3658
@kkasravi
By `tenant` do you mean user (profile) or a kubeflow system namespace?
If it's kubeflow system namespace, can we instead have multiple clusters and each cluster only have 1 system namespace?

[2019-07-26 21:05] kunmingg commented on #3658
If we have both kubeflow system v0.6 and v0.7 deployed to same cluster (each has their own namespace: ns06 and ns07), they might be conflict when operating on a user's namespace?

[2019-07-26 21:44] kkasravi commented on #3658
@kunmingg the kubeflow system namespace

yes that would be a good alternative

[2019-07-26 21:54] kkasravi commented on #3658
When the Profile is submitted and profile.metadata.namespace=ns06, we would need to add this as an annotation when the user's namespace is created. I don't think we've done much prototyping on this

[2019-07-26 22:10] zhenghuiwang commented on #3755
Uploaded a new binary to the release page. It should work now.

Please reopen this or file new issue if it doesn't work for you.

/close

[2019-07-26 22:10] #3755 closed

[2019-07-26 22:29] abhi-g opened #3767 "kfctl delete leaves behind istio resources"
When deleting a Kubeflow deployment using kfctl delete, it deletes 'kubeflow' namespace but leaves behind the istio-system namespace. Therefore the istio resources still hang around after deleting Kubeflow deployment.

I can manaully delete the istio-system namespace, but ideally kfctl delete can do the complete cleanup.

[2019-07-26 22:30] abhi-g commented on #3767
/cc @gabrielwen @kunmingg

[2019-07-26 22:39] jlewi commented on #3151
It looks like #3695 was cherry-picked onto the v0.6-branch.

@Jeffwan Should we close this issue now or wait for an RC and verify it is working?

[2019-07-26 23:01] arun-gupta opened #3768 "0.6.1 binary cannot execute"
Download kfctl binary from https://github.com/kubeflow/kubeflow/releases/download/v0.6.1-rc.1/kfctl_v0.6.1-rc.1-1-gc8a1da0d_darwin.tar.gz

Tried running and getting:

[code]

Seems to work fine for 0.6.0

[2019-07-26 23:10] zhenghuiwang commented on #3768
Thanks for filing it.

Duplicate of https://github.com/kubeflow/kubeflow/issues/3755

/close

[2019-07-26 23:10] #3768 closed

[2019-07-27 00:01] jlewi commented on #3759
It looks like this is coming from here:
https://github.com/kubeflow/kubeflow/blob/32b74431a72ce4064b727111a92de3ec42a172b3/bootstrap/v2/pkg/apis/apps/group.go#L262

If I understand @Kyrremann's comment the various auth modules in the K8s go client are plugins
and need to be explicitly importing.
I think its this module
https://github.com/kubernetes/client-go/tree/master/plugin/pkg/client/auth

@Ky

[2019-07-27 00:38] Jeffwan commented on #3767
I also see this and just wondering it's a by design feature or a bug. Last time I remember someone mentioned there's concern to delete existing istio people deployed?

[2019-07-27 00:43] Jeffwan commented on #3681
@jokerwenxiao They are all custom resources and I think you can follow this example

https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/CRDExample.java

[2019-07-27 01:40] jlewi commented on #3658
I agree with @abhi-g 's comment above that we are missing a clear use case for why we want to support two kubeflow deployments in the same cluster.

I think supporting multiple kubeflow deployments in the same cluster is a significant amount of work.

As @kunmingg and @yanniszark mentioned above our multi-tenancy model today is that the components in the kubeflow namespace run as shared multi-tena

[2019-07-27 01:44] jlewi commented on #2863
If folks are encountering this issue I would recommend trying 0.6 and using kfctl to install on an existing cluster.
https://github.com/kubeflow/website/blob/9ad646fddaf7f160d7dd73b583f73c74c7adcebb/content/docs/started/getting-started-k8s.md

The process I would suggest trying is

1. Start minikube
1. Follow the instructions above to install on your minikube cluster as you would any K8s cluster.

[2019-07-27 01:46] jlewi commented on #3662
@swiftdiaries I think TektonCD is worth investigating but I wouldn't block any critical work on that.

I would start with GCS just because its simpler. We can create a public bucket if necessary.

[2019-07-27 03:10] Jeffwan commented on #3151
@jlewi I think we can close it for now. All basic support has been added and cherry-picked back to 0.6. For improvement and bug fix. I will submit separate PRs and we don't need issue to track it.

[2019-07-27 03:10] Jeffwan commented on #3151
/close

[2019-07-27 03:10] #3151 closed

[2019-07-27 04:44] zhenghuiwang opened #3770 "v0.6.1 pod default issue"
When creating a new notebook in `kubeflow-{user}` namespace after installation of v0.6.1, I see this error. But notebook can be created

[code]

[2019-07-27 10:42] xauthulei commented on #3736
Thanks for your good suggestions @discordianfish @yanniszark . I am prefer to give it a good default.

[2019-07-28 15:15] blublinsky commented on #3767
Istio namespace seems to clean up correctly, but CRDs:
experiments.kubeflow.org
notebooks.kubeflow.org
poddefaults.kubeflow.org
profiles.kubeflow.org
pytorchjobs.kubeflow.org
scheduledworkflows.kubeflow.org
tfjobs.kubeflow.org
trials.kubeflow.org
viewers.kubeflow.org
workflows.argoproj.io
Are left behind

[2019-07-28 15:41] blublinsky commented on #3767
Also I see cluster roles (which are global) not being deleted either

[2019-07-28 16:49] #1057 closed

[2019-07-28 18:49] #3071 closed

[2019-07-28 19:32] jlewi commented on #3770
@zhenghuiwang Where are you seeing the error?

@kimwnasptd Is this coming from the jupyter web-app trying to list PodDefaults to display in the UI?

[2019-07-28 19:34] jlewi commented on #3767
@kkasravi @yanniszark Thoughts on what the desired behavior should be?

@kkasravi Is not deleting the CRDs WAI or is that a bug?

[2019-07-28 19:35] jlewi commented on #3765
/assign @avdaredevil

[2019-07-28 19:43] jlewi commented on #3762
@Rohithzr Can you please clarify your 2nd comment; In your second comment there are no errors?

If you want to install Kubeflow on an existing cluster and you want to install ISTIO; could you please try following these instructions
https://deploy-preview-977--competent-brattain-de2d6d.netlify.com/docs/started/getting-started-k8s/

/cc @johnugeorge @lluunn

[2019-07-28 19:48] jlewi opened #3771 "Delete ksonnet directory on master"
We should delete the ksonnet registry on master
https://github.com/kubeflow/kubeflow/tree/master/kubeflow

ksonnet is no longer supported on master and should no longer be used on master.

[2019-07-28 19:49] jlewi commented on #3761
Starting with 0.5.1 we no longer use JupyterHub.

If you want to use JupyterLab you should follow the instructions for building a custom Jupyter docker image.
https://www.kubeflow.org/docs/notebooks/custom-notebook/

You'll want to

1. Build a docker image with JupyterLab installed
1. Configure the entry point for the container to start jupyter labe instead of juptyer.

[2019-07-28 19:53] jlewi commented on #3749
I think the problem is kfctl is not properly handling the fact that deleting the namespace will return an error if K8s is currently trying to delete the objects in the namespace

[code]

We probably need to fix the kfctl logic to properly handle this better.

The original issue was reporting a problem with kfctl 0.5. since it was using ksonnet. I suspect the problem exists in 0.6 as well and we sh

[2019-07-28 19:57] jlewi commented on #3747
#3518 is tracking cleaning up the semantics of kfctl.

I think we want to get rid of all the flags except a single "--config" flag.

@kkasravi Does it make sense to fix this issue or should we just move to get rid of all the flags?

[2019-07-28 19:59] jlewi commented on #3746
I think we have used the GKE API v1beta1 API because certain features that we wanted to enable (e.g. StackDriver logging) were still in beta and not available in the v1 API yet.

So we'll need to check to see whether all of the settings we currently use are available via the V1 API.

[2019-07-28 20:05] jlewi commented on #3733
@SinaChavoshi Are you using Kubeflow 0.5 or 0.6?

#2852 is the uber issue for upstream/disconnect errors.

The current recommendation is to upgrade to 0.6 and see if the error still occurs.

[2019-07-28 20:08] jlewi commented on #2852
0.6 so now available. If you are encountering this issue with a version early then Kubeflow 0.6 please try upgrading to 0.6.

Per the discussion in this thread we think this might have been due to an issue with envoy and/or Ambassador.

With 0.6 we've switched to ISTIO and are using much newer versions of envoy. So we need to see if this problem still reoccurs and then we can try to track it down.

[2019-07-28 20:11] jlewi commented on #3728
@pdmack @johnugeorge has a PR pending kubeflow/website#977 that will update the instructions for installing on an existing cluster.

https://deploy-preview-977--competent-brattain-de2d6d.netlify.com/docs/started/getting-started-k8s/

I think those instructions should work with minikube and not require an LB.

@pdmack Can you provide links to the instructions/code etc... that you were following so

[2019-07-28 20:13] jlewi commented on #3523
Closing as obsolete.

[2019-07-28 20:13] #3523 closed

[2019-07-28 20:18] jlewi commented on #3715
@AndriiNeverov Could you elaborate on the work needed? Does this entail upgrading the kustomize manifest to use the new operator?

Have we published docker images with the updated code?

/cc @johnugeorge @richardsliu

[2019-07-28 20:20] jlewi commented on #3713
@gabrielwen Could you provide a link to the code or a little bit more explanation so that people less familiar with the code can understand this issue?

[2019-07-28 20:31] jlewi commented on #3694
@krishnadurai Are you suggesting adding a new "--platform" flag? Can we just provide one or more ".yaml" files that are passed via the "--config" flag?

Shouldn't #3614 be targeting 0.7 and not a 0.6 minor release? It looks like that issue wasn't filed until early July.

@johnugeorge has a PR kubeflow/website#977 which discusses how Kubeflow can be installed on existing clusters; is that sufficien

[2019-07-28 20:33] jlewi commented on #3689
kubeflow/website#977
Preview
https://deploy-preview-977--competent-brattain-de2d6d.netlify.com/docs/started/getting-started-k8s/

Documents how you can install on an existing cluster without needing a loadbalancer.

I'm going to go ahead and close this because it looks like the issue has been addressed.

[2019-07-28 20:33] #3689 closed

[2019-07-28 20:35] jlewi commented on #3681
@jokerwenxiao Please take a look at @Jeffwan 's answer. If that doesn't answer you question please reopen this issue. It would be helpful if you could provide more description about

* what you are trying to do
* what you tried
* what result you got

[2019-07-28 20:35] #3681 closed

[2019-07-28 20:40] jlewi commented on #3643
@karthikv2k any chance you could try it out with v0.6.1
https://github.com/kubeflow/kubeflow/releases

[2019-07-28 20:42] jlewi commented on #3637
@kimwnasptd That makes sense; do you want to open up an issue for the relevant changes to controller?

@Jeffwan The default-editor account is created by creating a Profile resource and using that to create your namespace with associated service accounts.

[2019-07-28 20:44] #32 closed

[2019-07-28 21:00] #1254 closed

[2019-07-28 22:43] sarahmaddox commented on #3629
@jlewi AFAICT no-one worked on this issue during the doc sprint.

The file referred to in this issue hasn't been updated since October last year:
https://github.com/kubeflow/kubeflow/blob/master/docs_dev/tf_serving.md

The docs on the website are here:
https://www.kubeflow.org/docs/components/serving/
https://www.kubeflow.org/docs/components/serving/tfserving_new/

There were no doc sprint PRs tha

[2019-07-28 22:49] jlewi commented on #3698
@avdaredevil Do we need to build a new docker image and update the manifest
https://github.com/kubeflow/manifests/blob/v0.6-branch/common/centraldashboard/base/kustomization.yaml

It looks like the current image is pointing at v0.6.0-rc2 which is 6 days old and thus likely from before the PR was submitted.

It looks like there is a newer image:
v20190726-v0.6.0-rc.0-30-g2141a36b

It looks like thi

[2019-07-28 22:50] jlewi commented on #3702
@avdaredevil IT looks like #3742 didn't make the cut. PTAL at my comment on the issue.

[2019-07-28 23:10] jlewi commented on #3524
@johnugeorge @yanniszark @avdaredevil is anyone planning on looking into this?

@avdaredevil What are the changes we are waiting on before testing that everything is working E2E with basic auth?

[2019-07-28 23:11] jlewi commented on #3437
@avdaredevil Any update on this?

[2019-07-28 23:34] jlewi commented on #3005
@lluunn Is this still blocked? I think @gabrielwen is working on getting the new click to deploy up and running. Once that happens does that unblock this issue?

[2019-07-28 23:43] jlewi commented on #3219
Attached is a dump of the K8s services currently in namespace kubeflow.

It looks like most service ports are not following the ISTIO convention:

Example for katib ui

[code]

[service.yaml.txt](https://github.com/kubeflow/kubeflow/files/3439670/service.yaml.txt)

So I think the next step is

1. File a bunch of bugs in kubeflow/manifests to update different packages to follow the naming conventio

[2019-07-28 23:44] jlewi commented on #3306
I'm closing this bug. Our tests are passing and we should be fully migrated to ISTIO.

[2019-07-28 23:44] #3306 closed

[2019-07-29 01:45] JavaDerek commented on #3737
@johnugeorge I just went through the instructions on a fresh Kubernetes cluster.  It got me further than anything before, in terms of everything at least being able to install - and I tried following the directions for the Istio Gateway that you link to at the end, but while using a browser against that host and port is sufficient to get to the dashboard, nothing seems to work beyond that.  Is the

[2019-07-29 04:44] johnugeorge commented on #3737
@JavaDerek What cluster type is this? What error do you see? If all pods are running fine, can you verify your INGRESS_HOST is correct?   Is your INGRESS_HOST accessible?

What is o/p of` kubectl get nodes -o wide`

[2019-07-29 05:32] Rohithzr commented on #3762
@jlewi without istio it get's deployed but tf-job-operator does not run.

Here are the issues I face. (when I use `ebs-gp2` storage class)
1. My mysql-pvc-claim and minio-pvc-claim does get bound (all green) but the pods are unable to use and give `unable to mount error`.
2. ml-pipeline-persistenceagent has a crash loop.
3. tf-job-operator has a crashloop.

So I start fixing the errors.

1. I dele

[2019-07-29 05:52] Rohithzr commented on #3762
@jlewi ok not that link but I tried https://github.com/kubeflow/kubeflow/issues/3684 and that worked.
I guess I close it, but now I don't have an service called `ambassador` so how do I go about accessing the kubeflow deployment?

[2019-07-29 06:34] johnugeorge commented on #3762
Related: https://github.com/kubeflow/kubeflow/issues/3728

You can access dashboard through Istio ingress gateway.

[2019-07-29 06:36] Rohithzr commented on #3762
@johnugeorge in this case I deployed it without istio.

[2019-07-29 06:47] Rohithzr commented on #3762
@johnugeorge I am trying multiple ingress patterns, everything is accessible except the notebooks.

[2019-07-29 06:49] johnugeorge commented on #3767
Deleting namespace 'kubeflow' alone doesn't seem right. All global resources and non-kubeflow resources are left behind.  This is a bigger problem when we try KF installation on existing k8s clusters(using` kfctl_k8s_istio.yaml`). The expectation of` Kfctl delete` would be restoring the state back to where we were(without Kubeflow).  Why don't we delete the same way as we created each component, i

[2019-07-29 07:32] zhangzewen commented on #3756
@asispatra   kubeflow 0.5 works at kubernetes 1.14.3

[2019-07-29 07:46] kimwnasptd commented on #3770
@zhenghuiwang could you give us the logs from the `jupyter-web-app-deployment` Pod?

[2019-07-29 08:07] asispatra commented on #3750
@johnugeorge,

after following https://deploy-preview-977--competent-brattain-de2d6d.netlify.com/docs/started/getting-started-k8s/  document I am getting this error:

[code]

Details Log:
[code]

[2019-07-29 08:07] asispatra commented on #3737
after following https://deploy-preview-977--competent-brattain-de2d6d.netlify.com/docs/started/getting-started-k8s/  document I am getting this error. any solution?

[code]

Details Log:
[code]

[2019-07-29 08:12] asispatra commented on #3756
@zhangzewen Earlier Kubeflow 0.5 was working Kubernetes 1.15.1. I had tried to upgrade Kubeflow 0.6 and it was failing for loadbalancer. so I desided to reinstall Kubeflow 0.5. Now it is also failing now.

Does kubeflow 0.5 have any perticular version dependency on ksonnet ?

Thanks.

[2019-07-29 08:14] johnugeorge commented on #3750
Do you have older versions of crd?
kubectl get crds applications.app.k8s.io -o yaml and what is the version?

[2019-07-29 08:16] asispatra commented on #3750
Before 0.6, I was trying to install 0.5 which failed.

[code]

[2019-07-29 08:25] Rohithzr commented on #3762
This works with the new 0.6.1 release. Also manages the storage correctly.
Thanks

https://github.com/kubeflow/kubeflow/issues/3762#issuecomment-515789450

/close

[2019-07-29 08:25] #3762 closed

[2019-07-29 08:45] Kyrremann commented on #3759
@kkasravi isn't that for what type of resources your supposed to generate? Also, maybe the example in the documentation should be updated if your not supposed to use `all` when applying to vanilla kubernetes cluster?

[2019-07-29 08:46] Kyrremann commented on #3759
@jlewi I can try to take a look!

[2019-07-29 09:09] Rohithzr commented on #3762
A couple of extra commands are needed
[code]
Reference to https://github.com/kubeflow/kubeflow/issues/3752

[2019-07-29 09:12] kimwnasptd opened #3772 "Notebook Controller should surface StatefulSet status in the Notebook CR if Pod is not created"
The Notebook Controller sets the `status.containerState` in the Notebook CR only when the Pod is created. So, if there would be a problem with a missing Service Account or an unbound PVC, then the Pod will not be scheduled and thus the status in the Notebook CR will not be updated to provide the relative info.

The Controller should set the status in the Notebook CR even when the Pod is not schedu

[2019-07-29 09:15] kimwnasptd commented on #3637
@jlewi [opened it](https://github.com/kubeflow/kubeflow/issues/3772). Lets track it there

[2019-07-29 09:18] johnugeorge commented on #3750
/cc @kkasravi

[2019-07-29 09:25] johnugeorge commented on #3750
It looks like, CRD takes time to get registered and it fails.

[2019-07-29 09:28] asispatra commented on #3750
detailed log of installation:
https://kubeflow.slack.com/?redir=%2Ffiles%2FULWSV70NA%2FFLWKQ5Z2B%2F-.txt%3Forigin_team%3DT7QLHSH6U

[2019-07-29 09:50] johnugeorge commented on #3750
However, we don't have a way to reapply the config due to https://github.com/kubeflow/kubeflow/issues/3686

[2019-07-29 10:15] asispatra commented on #3750
Thanks @johnugeorge, to make it working. After replacing the app.yaml file(provided by johnu - find in the attachment), `kfctl apply all -V` runs without fail. and able to install Kubeflow 0.6.1.
[app.yaml.log](https://github.com/kubeflow/kubeflow/files/3441482/app.yaml.log)

Thanks .

[2019-07-29 11:55] tanguycdls opened #3773 "Pipelines + tensorboard + S3, blank page"
Hi, I'm running Kubeflow (V0.5) on AWS, using Pipelines I want to use the Tensorboard button in the pipelines metadata result.

I saved my pipeline result into a private S3 bucket with the following code:
[code]
[code]
But when I try opening the Artifacts results of that operation I only get the circle loading bar and nothing happens. If I look at the Network Request i find a POST REQUEST with the

[2019-07-29 13:00] Kyrremann commented on #3759
Okay, after a bit of googling, and looking at some other code we have, the solution should be pretty straightforward.
https://github.com/liggitt/kubernetes/blob/master/staging/src/k8s.io/client-go/examples/README.md#auth-plugins

But, I can't get it to work with `kfctl`, and I'm wondering if I'm building the tool wrong.

This is what I've done:
1. Added the import-line to `kubeflow/bootstrap/pkg/a

[2019-07-29 13:21] blublinsky commented on #3767
Fully agreed. All CRDs, Cluster Roles and Role binding should be cleaned up

[2019-07-29 14:25] krishnadurai opened #3774 "Generic default deployment method for 0.6 release"
**Issue Description:**
I am trying to follow the installation instructions in Kubeflow *kfctl* deployer with the command:
[code]

Config for deployment followed:
https://github.com/kubeflow/kubeflow/blob/master/bootstrap/config/kfctl_k8s_istio.yaml#L51

Current base for mysql:
https://github.com/kubeflow/manifests/tree/86aff6edabeb6abc57bb93bad23a7e2952f8183c/pipeline/mysql/base

Current `mysqlPd`

[2019-07-29 17:26] zhenghuiwang commented on #3770
Three relevant logs:
[code]

[2019-07-29 17:26] zhenghuiwang commented on #3770
![Screen shot](https://user-images.githubusercontent.com/8263977/62068652-4d128100-b1eb-11e9-9c7a-b24583dd4376.png)

[2019-07-29 17:30] #3738 closed

[2019-07-29 17:37] lluunn commented on #3005
Yeah, I think so.

[2019-07-29 17:47] Jeffwan commented on #3773
@tanguycdls

Yes, it's hardcoded there and may takes some efforts to make it generic. Right now, TB in pipeline artifacts is not supported.

I would suggest you right now not using it. It create a pod and you need to manage its lifecycle. Instead, using one TB in kubeflow and load more model under s3 path.

[2019-07-29 17:47] Jeffwan commented on #3773
/assign @Jeffwan

[2019-07-29 18:05] avdaredevil commented on #3437
All components are done, all functionality implemented, tests **in**complete for the new components (older tests updated/fixed).

Presenting to abhishek and kunming today. Resolving a small issue with `createBinding`

[2019-07-29 18:22] kimwnasptd commented on #3770
@zhenghuiwang this is because (at least) one of the `PodDefaults` in the Namespace doesn't have a desc field. I was under the assumption that this field would be necessary and not optional, but by checking the [code](https://github.com/kubeflow/kubeflow/blob/master/components/admission-webhook/pkg/apis/settings/v1alpha1/poddefault_types.go#L38) turns out it is not.

Could you check which `PodDefau

[2019-07-29 19:01] tanguycdls commented on #3773
Thank you for your answer  ! In that case we will start them independantly and handle their lifecycle manually on Notebooks ...

I did not have the time yet to try ROC Curve and confusion matrix are they supported with S3 or is it the same for all artifacts ?

Thks !

[2019-07-29 19:14] rajesh-chawla opened #3776 "Grafana access through istio"
/kind question

**Question:**
I’ve deployed kubeflow (0.6) using the config at: https://raw.githubusercontent.com/kubeflow/kubeflow/master/bootstrap/config/kfctl_existing_arrikto.0.6.yaml

I see at least two options from the Istio side. First as a [virtualservice](https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/) or via [gateway](https://istio.io/docs/tasks/telemetry/gat

[2019-07-29 20:50] AndriiNeverov commented on #3715
@jlewi

- MPI Job's CRD schema has changed significantly in v1alpha2 (see https://github.com/kubeflow/mpi-operator/blob/master/deploy/crd/crd-v1alpha2.yaml)
- CLI options have changed as well (e.g. kubeflow/mpi-job/mpi-operator.libsonnet still uses --gpus-per-node which is gone in https://github.com/kubeflow/mpi-operator/blob/master/cmd/mpi-operator.v1alpha2/app/options/options.go)
- The kustomize

[2019-07-29 23:00] avdaredevil commented on #3698
I see, let's stash this till v0.6.2, since the image you mentioned includes partial upgrades for the Multi-User isolation CUJ.

[2019-07-29 23:05] lluunn commented on #3079
/assign

[2019-07-29 23:32] Jeffwan commented on #3773
https://github.com/kubeflow/pipelines/pull/1278

ROC curve and Confusion Matrix is a little bit different. It will work.

[2019-07-30 01:06] JavaDerek commented on #3737
@johnugeorge It is a bare metal, on premise cluster.  I can get to the dashboard is is just that, for example, going to the Pipelines screen causes it to give an error about not being able to establish a proxy path to the pipelines list.  I actually just deleted the setup to try the MetalLB approach, but if that doesn't work, I'll come back and try this again and send the output from the get nodes

[2019-07-30 01:20] JavaDerek commented on #3737
@yanniszark So, I installed MetalLB as per https://metallb.universe.tf/installation/ and then ran the KF install instructions at https://www.kubeflow.org/docs/started/getting-started-k8s/#Kubeflow-for-Existing-Clusters---by-Arrikto, targeting .6.1, but it still hangs trying to find the gateway.  Is there something more that is expected to be done?
<img width="868" alt="Screen Shot 2019-07-29 at 8

[2019-07-30 02:09] yanniszark commented on #3737
Hi @JavaDerek.
We have reports of users installing existing_arrikto successfully using MetalLB.
I suspect there might be something wrong with the MetalLB installation.

Can you paste the following logs here to give more context to debug the issue:

* OIDC Service logs: `kubectl logs -n istio-system -l app=authservice`
* Dex logs: `kubectl logs -n kubeflow -l app=dex`
* Istio ingress-gateway logs:

[2019-07-30 02:59] jlewi commented on #3737
@asispatra the error

[code]

Looks like a different one from this issue; I'd suggest opening a new issue so we don't try to debug multiple problems on the same issue.

It looks like the error is complaining because the Application resource isn't defined in your cluster.

Can you please run the following and include the output in any issue you open.

[code]

[2019-07-30 03:05] jlewi commented on #3112
@cblackd7r Any update on this? Are you still working and planning on delivering a Julia operator?

[2019-07-30 03:07] jlewi commented on #3770
@kimwnasptd I think it would be good if the web app could support the case where description is not provided.

Would it make sense if no description is provided to just use the PodDefault's name?

[2019-07-30 03:18] johnugeorge commented on #3737
@jlewi The issue was, the lag with which application crd was getting created. On reapply, it worked. Related https://github.com/kubeflow/kubeflow/issues/3750

[2019-07-30 03:26] jlewi commented on #3774
@krishnadurai Using a PVC makes sense to me.

But is the problem in the kustomize manifests or the overlays selected in
https://github.com/kubeflow/kubeflow/blob/master/bootstrap/config/kfctl_k8s_istio.yaml#L51

If I look at the base for mysql
https://github.com/kubeflow/manifests/blob/master/pipeline/mysql/base/persistent-volume-claim.yaml

There is a PVC defined and no PD. I think this is becaus

[2019-07-30 03:29] jlewi commented on #3759
That is the right way to build it. Not sure why it didn't work.

[2019-07-30 03:33] jlewi commented on #3756
@asispatra see
https://github.com/kubeflow/kubeflow/issues/3544#issuecomment-505910541

[2019-07-30 03:34] #3118 closed

[2019-07-30 03:36] #3048 closed

[2019-07-30 03:40] jlewi commented on #1394
Why does the culling logic need to be in a side car?

Why can't we just make this a part of the regular notebook controller logic and invoke it in the reconcile function for each notebook?

[2019-07-30 06:37] sahilmalav opened #3778 "kfctl init flag --namespace doesn't change the kubeflow installation namespace"
/kind bug

I'm trying to install Kubeflow 0.6.1. For this, I downloaded and unzipped kfctl, and executed
**kfctl init ${KFAPP} --namespace=kubeflow-six --config=${CONFIG} -V**
Post this, when I did **kfctl generate all -V**, the app.yaml file still had namespace mentioned as "kubeflow" instead of "kubeflow-six", as I had mentioned in the flag.

Expected Behaviour : The namespace should have been "

[2019-07-30 10:52] #2402 closed

[2019-07-30 10:54] yeya24 commented on #3778
What's your configuration file? Can you paste it here?
I am wondering what's the priority of kf configuration and kfctl flags. Which one should have higher priority?

[2019-07-30 11:45] sahilmalav commented on #3778
apiVersion: kfdef.apps.kubeflow.org/v1alpha1
kind: KfDef
metadata:
  creationTimestamp: null
  name: kf-six
  namespace: kubeflow
spec:
  appdir: /home/xprops/kubeflow-0.6/kf-six
  applications:
  - kustomizeConfig:
      repoRef:
        name: manifests
        path: metacontroller
    name: metacontroller
  - kustomizeConfig:
      overlays:
      - istio
      repoRef:
        name: manifests

[2019-07-30 11:54] sahilmalav commented on #3778
I was expecting that providing a namespace flag will change the value of namespace in the app.yaml file. But that didn't happen. Moreover, when I manually changed it and tried deploying, _istio_ threw some error because it was searching for namespace "kubeflow".

[2019-07-30 11:56] kimwnasptd commented on #1394
I was thinking that we might need this/similar logic also for the Viewer CRD. So instead of repeating the logic in the Viewer Controller we could have it in a central place. Then we could launch the Culling Container as a Sidecar to the Controllers and only change the culler's configuration for each case.

Regarding the Viewer CR, right now the controller has a maximum number of allowed live insta

[2019-07-30 12:05] kimwnasptd commented on #3770
ACK, I'll make a PR for the webapp to use the PodDefault's name in case the `desc` is not present.

[2019-07-30 12:21] asispatra commented on #3756
Thanks @jlewi .
I have installed kubeflow 0.6 now.

[2019-07-30 20:41] sidray7965 commented on #3610
Has this problem been fixed. I am seeing the same in while using AKS (Azure):
kfctl generate all -V --admin="sid@gmail.com"

INFO Writing component at '/Users/sidray/Documents/app/ks_app/components/metacontroller.jsonnet'
+ ks generate profiles profiles
ERROR failed to instantiate prototype "io.ksonnet.pkg.profiles". The following required parameters are missing:
--admin=<admin> cluster admin user

[2019-07-30 21:01] sidray7965 opened #3780 "kfctl.sh generate all fails in AKS (Azure)"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I created a AKS cluster and followed the steps in the link below to deploy Kubeflow:
https://www.kubeflow.org/docs/azure/deploy/

**What did you expect to happen:**
# Generate and deploy the app:
cd ${KFAPP}
kfctl generate all -V

[sidray@sids-mbp app]$ kfctl generate all -V
+ ENV_FILE=e

[2019-07-30 21:20] sidray7965 commented on #3780
This issue is resolved with the latest release:
https://github.com/kubeflow/kubeflow/releases/tag/v0.6.1

[2019-07-30 21:21] sidray7965 commented on #3780
Please feel free to close this issue.

[2019-07-30 21:54] avdaredevil opened #3781 "Automate Building Post-Submit Images for Central-Dashboard"
## About
We would like to get an image built for CentralDashboard from master everytime a PR is merged

/kind feature

### misc:
/kind feature
/cc @prodonjs @jlewi
/assign @avdaredevil
/priority p1

[2019-07-30 22:09] avdaredevil commented on #3524
Central-Dashboard has the Header Value it looks for along with the prefix for the user configured via environment variables (which currently default to Google IAP):
- `env:\USERID_HEADER`
- `env:\USERID_PREFIX`

If left unchanged during deployment in:
- Google IAP:
  - Will use Multi-User isolation
  - Scope everything based on perms
- Basic:
  - Will fallback to non-isolated mode
  - Everyone is

[2019-07-30 23:44] hougangliu opened #3784 "[0.6.1] Kubeflow UI Error"
0.6.1 kubeflow UI cannot visit juypter Page with "Sorry, /jupyter/ is not a valid page"
<img width="1084" alt="image" src="https://user-images.githubusercontent.com/10126721/62172993-ec0fb800-b366-11e9-92bb-8e88569dacdf.png">

Pipeline page cannot work well, too
<img width="892" alt="image" src="https://user-images.githubusercontent.com/10126721/62172974-d3070700-b366-11e9-90fe-0c01c201e9c4.png">

[2019-07-31 00:31] #3780 closed

[2019-07-31 00:33] jlewi opened #3785 "blog post for 0.6"
/kind feature

Tracking bug for the 0.6 blog post.

Josh is working on this.

[2019-07-31 01:40] TaylorHere commented on #3757
hi, that's great to hear this is a way to get YAML
another question is where I can find kustomize bin file, or need I build it by myself?

[2019-07-31 02:27] #3105 closed

[2019-07-31 03:33] Bobgy commented on #3765
Answering because I just happen to know this.

Hi @mmuppidi, as stated by the script's name `upgrade_kfp.sh` (kfp for kubeflow pipelines), it upgrades only kubeflow pipeline. It doesn't upgrade kubeflow to 0.6. You can find related doc in: https://v0-5.kubeflow.org/docs/pipelines/upgrade/

Upgrade instructions are outdated (no longer work), depending on your needs, you can follow "reinstall kubefl

[2019-07-31 04:28] zhenghuiwang opened #3787 "Can't generate CHANGELOG.md for releases"
/kind bug

**What steps did you take and what happened:**
I tried to generate new change logs for v0.6 releases by running `scripts/update-changelog.sh` with my personal Github token, but the script failed with errors
[code]

Tried to use `--since-tag` flag to reduce the traffic, but still hit the rate limit of Github.

Seems related to
https://github.com/github-changelog-generator/github-changelo

[2019-07-31 05:08] halayudha commented on #3433
To manually create 'kiali' secret:
kubectl apply -f   , the content below:

apiVersion: v1
kind: Secret
metadata:
  name: kiali
  namespace: istio-system
  labels:
    app: kiali
    chart: kiali
    heritage: Tiller
    release: istio
type: Opaque
data:
  username: YWRtaW4=   # admin
  passphrase: YWRtaW4= # admin

[2019-07-31 05:21] karthikv2k opened #3788 "Notebook servers don't have proper labels for mounting gcp specific secret"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
When you create a notebook server in GCP/GKE environment, it supposed to have "add-gcp-secret":"true" label that mounts a service account creds via a volume mount but it is missing the label.

**What did you expect to happen:**
All notebook servers in GCP environment should have "add-gcp

[2019-07-31 05:23] karthikv2k commented on #3643
Apart from #3788 , everything works. I tested by creating a poddefault myself but if the proper labels are added then I can test it again.

[2019-07-31 05:24] emmayang commented on #3737
@jlewi @halayudha sorry for the late response, and thanks, I tired latest `v0.6.1-rc.2-1-g3a37cbc6` release, and also installed the `metallb`, and now the installation passed. However now the installation failed at some other places, and the `katib-db` and `katib-manager` pods are not running as expected, but I think I can work that out.

@JavaDerek I have exact same problem like you do, and then

[2019-07-31 06:09] lxl910915 opened #3789 "mpiexec exit with tcp error, if the number of process is large than 12"
/kind question

**Question:**
[You can ask any question about this project.]

If the number of worker is large than 13, the cmd `mpiexec -n 16 --hostfile /tmp/hostfile --allow-run-as-root -q sh -c 'echo $(hostname) is ready' `return with error:

[code]

[2019-07-31 06:41] zhang87492 commented on #3667
@richardsliu
I want to updata kubeflow when a stable version is available.

[2019-07-31 06:56] shivam-rai opened #3790 "Kubeflow 0.6 Installation failing for on-prem k8s cluster"
Hi.

While trying to install kubeflow (via kfctl) for an on-prem k8s cluster, kfctl generate stage is failing with the following output

kfctl generate all -V

INFO[0000] Downloading /kf/ugc-kf/app.yaml to /tmp/431686218/app.yaml  filename="v1alpha1/application_types.go:334"
INFO[0000] Writing stripped KfDef to /kf/ugc-kf/app.yaml  filename="v1alpha1/application_types.go:626"
INFO[0000] Downloadin

[2019-07-31 09:07] tlkh commented on #3737
@emmayang can you share the config you used? For the layer2 config:

- the IP address range are those of your physical nodes?
- did you have to deploy MetalLB in the default namespace as well?

I've tried to deploy MetalLB on a clean Kubernetes cluster (to deploy MetalLB before Kubeflow) but I'm still getting the `Trying to get istio-ingressgateway Service External IP filename="existing_arrikto/ex

[2019-07-31 09:56] InCogNiTo124 opened #3791 "kfctl shows wrong version in v0.6.1"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Downloaded the latest release from the release page but the printed version does not match the downloaded

[code]
**What did you expect to happen:**
it should print out `kfctl v0.6.1`

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the iss

[2019-07-31 11:10] kkasravi commented on #3767
storage is also not removed #3646

This is a fairly recent regression. Earlier behavior prior to the regression was to delete the namespace and then delete all cluster level resources by label.

Probably the better approach is to have the client (kfctl) just delete the applications and have the application-controller delete the resources since it has set each resource's owner to itself. This would

[2019-07-31 11:16] kkasravi commented on #3767
@kunmingg @zabbasi @jlewi @lluunn @gabrielwen

One question related to `kfctl delete all` is what is done with profiles. Are these deleted? Since an individual's profile may also include cloud-provider related resources, are these deleted as well?
See my comment above about having the application-controller do cleanup.

[2019-07-31 11:27] #2624 closed

[2019-07-31 12:27] #3086 closed

[2019-07-31 13:15] prodonjs commented on #3784
It seems like their may be some kind of routing issues. Can you try navigating to the following URLs which bypass the Kubeflow navigation menu?

/pipelines/
/jupyter/
/katib/
/metadata/

Each of those should resolve to the UI for those applications without the top navigation bar. If those work as intended, it will help us isolate the issue.

/cc @prodonjs
/cc @avdaredevil
/area centraldashboard
/a

[2019-07-31 18:09] mattnworb opened #3793 "`kfctl init --version v0.6.1` generates app.yaml that uses v0.6.1-rc.2 of manifests repo"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
1. Downloaded kfctl 0.6.1 from the Releases page
2. ran `kfctl init kf-test --version v0.6.1`

I noticed that the manifests repo included in the generated app.yaml is referring to a different release:

[code]

**What did you expect to happen:**

Should the `manifests` and `kubeflow` repo

[2019-07-31 18:42] abhi-g commented on #3774
The issue looks similar to what I ran into. But I just tried a fresh deployment with the v1 config and seems to work without any issues. Last time when I ran into the issues with pd, I didn't specify the config to point to this yaml and rather left it unspecified.

[2019-07-31 18:42] mattnworb opened #3794 "using relative paths in KfDef app.yaml?"
/kind question

**Question:**
Is it possible to use relative paths in the KfDef definition in app.yaml for things like `repo`, `manifestsRepo`, `reposCache` etc? The generated app.yaml uses absolute paths.

We'd ultimately like to be able to store the generated directories in a Git repo and share among multiple engineers who would have a need to manage/upgrade the same set of clusters, so portabil

[2019-07-31 19:27] #2927 closed

[2019-07-31 20:48] jlewi commented on #3496
/cc @krishnadurai @swiftdiaries

[2019-07-31 21:02] jlewi commented on #3781
Here are some pointers

We had a process for auto-updating the jupyter web app image
https://github.com/kubeflow/kubeflow/tree/master/releasing/auto-update

We want to do something similar for the central dashboard.

The first step would be to create a script like
https://github.com/kubeflow/kubeflow/blob/master/py/kubeflow/kubeflow/ci/update_jupyter_web_app.py

That does the following

1. Build t

[2019-07-31 21:09] avdaredevil opened #3795 "Update Manifest with new Central-Dashboard Image with Multi-User Isolation Changes"
#### child of #3503 and #3758

## About:
Will create a manifest entry to get both changes rolled out from master into the v0.6 release.
- [ ] Hard prerequisite: Get all unit tests in for the new components introduced by the aforementioned components

### meta:
/assign @avdaredevil
/cc @jlewi @prodonjs

[2019-07-31 21:09] avdaredevil commented on #3795
/area centraldashboard
/area front-end
/priority p0

[2019-07-31 21:24] #3554 closed

[2019-07-31 21:24] #3555 closed

[2019-07-31 21:25] avdaredevil commented on #3781
/area centraldashboard
/area front-end

[2019-07-31 21:35] avdaredevil commented on #3784
/area front-end

[2019-07-31 21:46] jlewi commented on #2969
Lets use this to track updating the docs.

I think we should update the GCP troubleshooting guide.
https://www.kubeflow.org/docs/gke/troubleshooting-gke/

[2019-07-31 22:29] #2882 closed

[2019-07-31 22:49] richardsliu opened #3796 "Application CRs for 0.6 are incorrect"
- Applications for TFJob and Katib seem missing
- Application for Pytorch includes extra components (most likely due to missing label selectors).

[2019-07-31 23:48] holdenk opened #3797 "When copying files during GCP & AWS error message provides incorrect details"
/kind bug

**What steps did you take and what happened:**
Run `kfctl init` then delete cluster.jinja from the `.cache` directory to simulate a bad cache download or misconfigured repo.
You'll get an error message saying it cannot create a directory when you attempt run `kfctl generate`

**What did you expect to happen:**

I expected to get an error saying that the input path was not present.

**An

[2019-07-31 23:49] holdenk opened #3798 "make clean does not do go clean"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

I expected `make clean` to cleanup my go files.

**Anything else you would like to add:**

Ran into this when was having some build issues.

**Environment:**

- Kubeflow version: (version number can be found at the bottom left corner of the Kubeflow d

[2019-07-31 23:53] holdenk opened #3799 "When plugin resolution fails it would be useful to see the plugins present (or num plugins)"
/kind feature

**Why you need this feature:**
I ran into a situation where the gcp plugin wasn't being resolved and it was difficult to debug because I didn't know if maybe some plugins were loaded and that one specifically failed, or if just happened to be the first to fail.

**Describe the solution you'd like:**
Print out the # of plugins or list of plugin names when plugin resolution fails.

**

[2019-08-01 03:10] #3796 closed

[2019-08-01 04:07] keremgocen commented on #1074
@pkamath have you got any progress on running an automl framework within kubeflow? I would love to experiment with it.

[2019-08-01 04:50] #3790 closed

[2019-08-01 07:54] mattshma commented on #3790
I meet the same question with you @shivam-rai , the error message like this:

# kfctl generate all -V
INFO[0000] Downloading /opt/app/kubeflow/app.yaml to /tmp/996299833/app.yaml  filename="v1alpha1/application_types.go:334"
INFO[0000] Writing stripped KfDef to /opt/app/kubeflow/app.yaml  filename="v1alpha1/application_types.go:626"
INFO[0000] Downloading /opt/app/kubeflow/app.yaml to /tmp/0195661

[2019-08-01 08:01] shivam-rai commented on #3790
Hi mattshma.

There's apparently a bug in the init step, where if you use on-disk files for repos in your init-config, the generated app.yaml has incorrect paths in the  status> reposCache.

As a result, your generate command doesn't fetch packages from your .cache properly.

I could solve it by manually fixing localPath "kf/ugc-kf/.cache/manifests" -> "kf/ugc-kf/.cache/manifests/manifests-master"

[2019-08-01 08:08] krishnadurai commented on #3774
@abhi-g @jlewi  The v1 installation is working fine with fresh deployment without applying the overlay - I have tested this on an on-premise server. The confusion here was the [extra overlay parameters](https://github.com/kubeflow/kubeflow/blob/master/bootstrap/config/kfctl_k8s_istio.yaml#L48-L51) mentioned in the config file which led me to believe that this is applying the overlays for mysql and

[2019-08-01 08:29] mattshma commented on #3790
You're right, after modify app.yaml these fields: `manifestsRepo`, `status.reposCache.kubeflow.localPath` and `status.reposCache.manifests.localPath`, I run `kfctl generate all -V` successful. Thanks!

[2019-08-01 10:30] SheharyarTkxel opened #3803 "Kubeflow deloyment error "fatal error: runtime: out of memory""
**Description**:
Followed this tutorial (https://www.kubeflow.org/docs/aws/deploy/install-kubeflow) till step#4 where it runs into  "fatal error: runtime: out of memory" error while deploying Kubeflow. Below is the log of running the command "${KUBEFLOW_SRC}/scripts/kfctl.sh apply k8s":

`
+ ENV_FILE=env.sh
+ SKIP_INIT_PROJECT=false
+ GKE_API_VERSION=v1beta1
+ GCP_DEFAULT_ZONE=us-east1-d
+++ dirna

[2019-08-01 11:15] mattshma commented on #3737
After install MetalLB I'm also meet this question:
[code]

`istio-ingressgateway` was pending at frist, I use internal IP instead of external IP to add the `externalIPs` into the  `istio-ingressgateway` service。

[2019-08-01 11:28] InCogNiTo124 commented on #3803
We had the exact the same issue less than 2 weeks ago. We used an existing EKS cluster. The conclusion was that the device on which you're deploying should have enough RAM for the deployment process. We use 16GB bastion and worker, but personal benchmarking showed that 4GB should be enough.

But, if possible, use EKS cluster and [these instructions](https://deploy-preview-977--competent-brattain-d

[2019-08-01 12:58] Sumenia commented on #3610
same for AWS

[2019-08-01 14:34] tlkh commented on #3737
Ok, I can confirm the steps to get it working:

1. `kubectl apply -f https://raw.githubusercontent.com/google/metallb/v0.8.1/manifests/metallb.yaml`
2. Deploy configmap to `metallb-system namespace`, IP is IP range of physical nodes (`kubectl apply -f config.yaml`)
3. Just wait a few seconds before deploying Kubeflow

Now it successfully installs, but there are still some other (probably unrelated

[2019-08-01 14:47] boniek83 opened #3804 "AMD/ROCM support"
/kind feature

**Why you need this feature:**
More hardware choice. You can use consumer cards (e.g. Radeon VII with 16GB HBM2) legally in datacenter as opposed to NVidia.

**Describe the solution you'd like:**
Make AMD hardware first class citizen next to NVidia.

**Anything else you would like to add:**
AMD forked a lot of code (with intention to merge it upstream) all available under: https://g

[2019-08-01 14:54] tlkh opened #3805 "Dex login is not enforced (Onprem existing_arrikto config)"
/kind bug

**What steps did you take and what happened:**

On a freshly installed Kubernetes on-prem (single node for testing), Kubeflow deploys successfully (used MetalLB for LoadBalancer). Following instruction on [this page](https://www.kubeflow.org/docs/started/getting-started-k8s/) under "Log in as a static user", I can reach the dashboard right away by adding the port number, thus bypassing

[2019-08-01 15:12] emmayang commented on #3737
@tlkh sorry for the late, and I used exactly the same config file from metallb website, and just double checked the ip range in that is free. Glad to see it's working now.

And for some other issue you've mentioned, is that the `katib-db` and `katib-manager` cannot start successfully?

[2019-08-01 15:48] tlkh commented on #3737
@emmayang yes indeed

I’m mainly concerned about some issue with authentication, although some pods failed to start as you mentioned. The logs seem to indicate some permissions problem.

I detailed them at the bottom of #3805

[2019-08-01 15:52] hemantha-kumara commented on #3750
If you set KUBEFLOW_ENDPOINT & OIDC_ENDPOINT env variable with the edge machine IP(node which is accessible from outside), installation will be succesful.
[code]

[2019-08-01 16:30] dvgopal commented on #3750
How can i access kubeflow UI after installing by following above steps. My aws cluster doesn't have external ip for loadbalancer but is a nodeport.  istio/ingressgateway docs(https://istio.io/docs/tasks/traffic-management/ingress/ingress-control/) shows a virtual service has to be created to route traffic to ingress gateway if there is no external load balancer. is there is help documentation on h

[2019-08-01 20:16] mattnworb opened #3806 "support for using Cloud SQL for mysql, rather than running mysql in GKE"
/kind question

**Question:**
Before v0.6, we were able to deploy Kubeflow where the `mysql` k8s deployment was running a cloudsql-proxy instance and the actual DB was hosted in Cloud SQL.

It looks like in 0.6, the `mysql` component/application now simply runs mysql in the GKE cluster itself:

https://github.com/kubeflow/manifests/blob/v0.6.1/pipeline/mysql/base/deployment.yaml#L9-L15

Is there a

[2019-08-01 20:24] mattnworb commented on #3806
Turns out I was incorrect, in 0.5 we had hand-edited in a cloudsql-proxy image by hand. Apologies!

[2019-08-01 20:24] #3806 closed

[2019-08-01 20:38] holdenk opened #3807 "Apply templating even when --config is specified"
/kind feature

**Why you need this feature:**
I need to specify a custom configuration so I can point at my manifests PR for testing. In doing so I wanted to use one of the built configs as a base and only change where the manifests were from, but I didn't realize that this would keep it from respecting `--project` and other command line flags.

**Describe the solution you'd like:**
1) Allow speci

[2019-08-01 21:03] holdenk opened #3808 "Apply just GCP platform results in a namespace error"
/kind bug

**What steps did you take and what happened:**
This is what I ran
[code]

It ended with:

**What did you expect to happen:**

I expected kubeflow to create the namespaces it needed automatically.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Kubeflow version: (version number can be found at the bottom le

[2019-08-01 21:28] holdenk opened #3810 "Running kfctl apply k8s fails on 2nd application"
/kind bug

**What steps did you take and what happened:**
I ran `kfctl apply k8s` a 2nd time and it failed saying istio had already bound the port.

output:

**What did you expect to happen:**

Since the docs https://www.kubeflow.org/docs/gke/customizing-gke/ suggest that I can reapply, I expected this to silently skip istio or otherwise not fail.

**Anything else you would like to add:**
Short te

[2019-08-01 22:03] holdenk commented on #3767
I ran into this on master ( df2b68d92cf15374b1706d3d91b8123972b8920c ), and the `istio-system` namespace was still there.

[2019-08-01 22:04] holdenk commented on #3767
It also left behind the default namespace (for me that was `kubeflow-programmerboo`).

[2019-08-01 22:15] abhi-g commented on #3767
I had a discussion with @jlewi @lluunn about this. It seems like istio-system is the namespace created by the istio deployment. If a deployment of Kubeflow was done into a system that already has istio configured, it will have an istio-system namespace. In this case if the kfctl delete removes the istio-namespace it will end up deleting all pre-existing policies.

I don't know what the correct sol

[2019-08-01 22:57] cdraper-CS opened #3812 "Cannot install v0.6.1 on Minikube"
/kind bug

**What steps did you take and what happened:**
First I tried to install following the instructions here:
https://www.kubeflow.org/docs/started/getting-started-minikube/
They were clearly out of date and although I finally got 0.5.1 working, I could not install 0.6.1.

Then I tried:
[code]
I tried rerunning the `apply` and got the issue noted in #3810. Removing the `istio-ingressgateway`

[2019-08-01 22:57] #767 closed

[2019-08-01 23:08] holdenk commented on #3767
So from trying to deploy k8s with istio, right now if istio is already deployed it fails to deploy, so I think worrying about stomping on an existing istio namespace is perhaps not an immediate concern.

[2019-08-02 02:19] johnugeorge commented on #3767
If user has opted to install istio through k8s, it should be deleted as well. If he has opted not to install istio, he would have commented out already https://github.com/kubeflow/kubeflow/blob/master/bootstrap/config/kfctl_k8s_istio.yaml#L19  Can't we use the same config as the source of truth to decide what components to delete?

[2019-08-02 02:22] zhcf opened #3813 "can not install V0.5.1 successfully on Minikube"
**kfctl.sh apply all failed with No resources found.**

**steps:**
export KUBEFLOW_SRC=/opt/kubeflow
rm ${KUBEFLOW_SRC}
mkdir ${KUBEFLOW_SRC}
cd ${KUBEFLOW_SRC}
export KUBEFLOW_TAG=v0.5.1
curl https://raw.githubusercontent.com/kubeflow/kubeflow/${KUBEFLOW_TAG}/scripts/download.sh | bash

KUBEFLOW_REPO=${KUBEFLOW_SRC} ${KUBEFLOW_SRC}/scripts/kfctl.sh init KFAPP  --platform minikube
cd KFAPP
${KUBEF

[2019-08-02 02:41] gabrielwen commented on #3808
this is because default namespace will only be created when applying k8s.  when applying k8s, it will create a default Profile at the end of the process, which in turn creates the default namespace.

[2019-08-02 06:51] #3757 closed

[2019-08-02 07:11] animeshsingh commented on #3683
+1
As discussed. Initial thoughts here
https://docs.google.com/document/d/1AqoBKaCszbKNPV9VEruDx0HCbrk-EJaei05m3kEG5-0/edit

[2019-08-02 07:12] animeshsingh commented on #2633
Discussion doc here
https://docs.google.com/document/d/1CDYYdWi9qP96qaddyI8eO3r1w3yXb5wNBfE5csnRgVs/edit#

[2019-08-02 08:57] AlexZhangHF commented on #3812
Hi, Have you ever met issue similiar to #3813 while installing 0.5.1? Thx.

[2019-08-02 10:39] cyfdecyf commented on #3750
@johnugeorge Thanks, I've successfully installed KubeFlow with `kfctl_k8s_istio.yaml`.

When running `kfctl apply all`, I also got the errors because CRD takes time to create. To re-run the command after a few minutes, I have to manually delete istio service with following command:

[code]

One problem remains: I'm also not clear how to access KubeFlow after the installation.

[2019-08-02 11:12] johnugeorge commented on #3750
Kubeflow Dashboard can be accessed via `istio-ingressgateway` service. If loadbalancer is not available in your environment, NodePort or Port forwarding can be used to access the Kubeflow Dashboard

[2019-08-02 12:57] #3109 closed

[2019-08-02 13:14] cdraper-CS commented on #3813
Here's how I had to workaround the above, based on the information in #2863. After running generate, I had to edit kfctl.sh to move this in ksApply()

[code]

to just after
[code]

[2019-08-02 17:06] gabrielwen commented on #3735
/unassign @gabrielwen

[2019-08-02 17:56] mattnworb opened #3815 "request: ability to pass kube context name to kfctl as flag"
/kind feature

**Why you need this feature:**
I have many Kubernetes clusters in my KUBECONFIG file that I work across, many of which do not run Kubeflow. It would be fantastic if I could be explicit when using `kfctl` about which context I want it to work against.

Currently, kfctl uses the `current-context` from KUBECONFIG, with no option (that I can find) to select which one to use.

**Describe

[2019-08-02 18:26] gabrielwen commented on #3810
/priority p1

[2019-08-02 18:27] gabrielwen commented on #3810
/cc @lluunn

[2019-08-02 18:29] gabrielwen commented on #3810
@lluunn  is there a simple way that we can avoid this?  when trying to apply ISTIO resources, it ignores the fact that ingress was already created and tries to allocate the same port.

[2019-08-02 18:38] lluunn commented on #3810
Should be dup of https://github.com/kubeflow/kubeflow/issues/3686

@abhi-g also ran into this recently I think.
It's a istio issue: https://github.com/istio/istio/issues/10795.
The workaround as pointed out in that issue is to edit the manifest (istio-install) and comment out the specified port number.

We should find a way in kfctl to get around this.

[2019-08-02 19:01] mattnworb commented on #3810
I believe that in 0.5 ksonnet knew how to do what it called an "upsert", but with kustomize on 0.6, the equivalent of a `kubectl create` is always done: https://github.com/kubeflow/kubeflow/blob/v0.6.1/bootstrap/v2/pkg/kfapp/kustomize/kustomize.go#L446

[2019-08-02 19:09] kkasravi commented on #3767
In the past we've used labels, so I think there may have been a regression.
I'll try and get some cycles to fix by Monday. Assigning myself to this...

[2019-08-02 19:09] kkasravi commented on #3767
/assign @kkasravi

[2019-08-02 19:39] kkasravi commented on #3810
@mattnworb yes that's right.

@jlewi @kunming @yanniszark  should we change this behavior - effectively an apply instead of create?

[2019-08-02 20:10] jlewi commented on #3437
Reopening because it doesn't look like we've built images and updated the manifests.

[2019-08-02 21:11] jlewi commented on #3813
Duplicate of #2863

[2019-08-02 21:11] #3813 closed

[2019-08-02 22:19] indraforyou commented on #3441
@jlewi  After installing MetalLB and opening some network firewalls we can access the webpages without port-forwarding

But the services are not able to query for Namespaces
`HTTPSConnectionPool(host='10.3.0.1', port=443): Max retries exceeded with url: /api/v1/namespaces (Caused by SSLError(SSLError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:852)'),))`

Our k8s cluster

[2019-08-03 05:06] kkasravi commented on #3727
capturing some comments from Matt Brown that we should keep in mind

[code]
[code]
[code]

[2019-08-03 05:57] SheharyarTkxel opened #3816 "Jupyter spawning stuck at scheduling pod due to insufficient cpu"
**Issue:**
Tried to spawn a notebook with these specs when it ran into an error stating "1 Insufficient cpu, 2 Insufficient nvidia.com/gpu":

Image (standard): gcr.io/kubeflow-images-public/tensorflow-1.8.0-notebook-cpu:v0.5.0
CPU: 1
Memory: 2.0Gi
Extra Resources: {"nvidia.com/gpu": 1}

**The YAML template used:**

apiVersion: eksctl.io/v1alpha5
availabilityZones:
  - us-east-2a
  - us-east-2b
  -

[2019-08-03 07:56] johnugeorge commented on #3727
Some extra thoughts:

Can I upgrade few of components than the whole  KF deployment?
What is the process of picking up of quick fixes that are made to component? Can I pick a different version of a particular component ?
Is kfctl deployment idempotent? Does it track versions of components?

[2019-08-03 08:19] #3129 closed

[2019-08-03 14:35] Tabrizian commented on #3725
I can work on this issue.

[2019-08-03 15:19] #3032 closed

[2019-08-04 05:04] #3135 closed

[2019-08-04 08:04] Eric-Zhang1990 opened #3817 "Why pytorch 0.4.0 can not connect server in jupyter notebook?"
/kind bug
I can run pytorch 1.0 in jupyter notebook, but can not run pytorch 0.4 and 0.4.1 in jupyter notebook. Can someone tell me why?
![深度截图_选择区域_20190804155742](https://user-images.githubusercontent.com/24602893/62421206-c79e3d80-b6d0-11e9-881d-59d80469e870.png)
(1). pytorch 1.0:
![深度截图_选择区域_20190804160419](https://user-images.githubusercontent.com/24602893/62421257-89554e00-b6d1-11e9-970f-f5f

[2019-08-04 15:52] #3816 closed

[2019-08-04 20:04] #3140 closed

[2019-08-04 21:31] fediazgon commented on #3772
Is this still an issue. Can I work on it?

[2019-08-04 22:56] jlewi commented on #3785
The blog has been published.
https://medium.com/kubeflow/kubeflow-v0-6-a-robust-foundation-for-artifact-tracking-data-versioning-multi-user-support-9896d329412c

[2019-08-04 22:56] #3785 closed

[2019-08-04 23:05] jlewi commented on #3698
@avdaredevil What's the ETA for getting a docker image built with the changes and getting kubeflow/manifests updated to include the changes?

[2019-08-04 23:09] jlewi commented on #3788
@karthikv2k In the Jupyter UI to spawn the notebook in the configuration box did you select
the drop down that says inject GCP credentials.

It looks like we are lacking docs about this.

[2019-08-04 23:11] jlewi commented on #3643
@karthikv2k A PodDefault should have been created automatically. And in the Jupyter Web UI you should be able to select it in the configuration window.

[2019-08-04 23:41] jlewi commented on #2998
@Jeffwan Any update on this? Do you have a PR in progress.

[2019-08-04 23:46] jlewi commented on #2842
kfctl has changed significantly since this bug was originally filed so I'm going to close it as obsolete.

[2019-08-04 23:46] #2842 closed

[2019-08-05 00:02] jlewi commented on #3623
@richardsliu Could you provide an update based on your work with gatekeeper?

[2019-08-05 00:04] jlewi commented on #3687
Fixed by #3718

[2019-08-05 00:04] #3687 closed

[2019-08-05 00:06] jlewi commented on #3709
@yanniszark Any update on this?

[2019-08-05 00:08] jlewi commented on #3744
The useBasicAuthField should probably go away.

[2019-08-05 00:12] avdaredevil commented on #3698
The images are already made, the PRs still have some work that needs to be done:
- Addressing UX Review
- Addressing minor testing comments on #3758

I already have the images built with functional up-to-date changes (gcr.io/kubeflow-images-public/centraldashboard:v20190801-v0.6.0-rc.0-44-g5b463203). If you'd like I can make that image as the target and satisfy #3795

Or I can wait till those chan

[2019-08-05 00:19] jlewi commented on #3772
@fediazgon Yes this is still an issue; it would be great if you could pick it up.

[2019-08-05 01:10] jlewi commented on #3817
Can you provide more detail; logs or other information that would help people reproduce the error?

[2019-08-05 01:14] Eric-Zhang1990 commented on #3817
@jlewi   This is the logs. Thank you.
[logs.txt](https://github.com/kubeflow/kubeflow/files/3465570/logs.txt)

[2019-08-05 01:25] jlewi commented on #3739
I think one question that came up in the context of kubeflow/website#977 is what is the future of
`existing_arrikto.yaml`

Will existing_arrikto.yaml evolve as one of the vendor neutral solutions that we as a community want to support? e.g. some supported configuration like installing ISTIO and Dex

or

Will existing_arrikto.yaml evolve to track Arrikto's opinions

/cc @yanniszark @vkoukis

[2019-08-05 01:27] Eric-Zhang1990 commented on #3817
@jlewi  This is the log of pytorch 1.0, it can run correctly.
[root@k8s-node-3 home]# kubectl logs -n kubeflow zhangshifeng-pytorch-test1-0
[I 01:17:26.988 NotebookApp] Writing notebook server cookie secret to /root/.local/share/jupyter/runtime/notebook_cookie_secret
[W 01:17:27.213 NotebookApp] All authentication is disabled.  Anyone who can connect to this server will be able to run code.
[I 01:

[2019-08-05 01:37] jlewi commented on #3701
@ocdkube Please try the new version of kfctl and reopen the issue if that doesn't fix the problem.

[2019-08-05 01:37] #3701 closed

[2019-08-05 01:39] jlewi commented on #3812
If you want to install on minikube instead of using platform I would suggest starting minikube and then following the instructions for installing on an existing cluster.

Here are updated instructions (sorry the PR hasn't merged yet)
https://deploy-preview-977--competent-brattain-de2d6d.netlify.com/docs/k8s/

[2019-08-05 01:39] cyfdecyf commented on #3750
@johnugeorge Thanks for pointing out the service.

`kubectl -n istio-system get service istio-ingressgateway -o yaml` solved my problem.

[2019-08-05 01:45] jlewi commented on #3812
@kkasravi  the error

[code]

Looks like a problem in the kustomize manifest for the application controller.   Is there a bug in the manifest?

https://github.com/kubeflow/manifests/blob/master/application/application/base/stateful-set.yaml

It doesn't look like we specify any labels or a selector.

It does look like we apply some commonLabels in one of the overlays
https://github.com/kubeflow/man

[2019-08-05 01:47] jlewi commented on #3810
@kkasravi Yes I think we should change the behavior. as @holdenk run `kfctl apply` should be idempotent if everything is already deployed correctly.

[2019-08-05 01:48] jlewi commented on #3810
We should consider running `kfctl apply` twice in our E2E tests as a way to verify that it works as expected.

[2019-08-05 01:53] jlewi commented on #3808
@gabrielwen It looks like the code is trying to copy the GCP secret from namespace kubeflow to namespace kubeflow-programmerboo.

If we didn't create the profile and therefore create the namespace kubeflow-programmerboo then why is it trying to copy the GCP secret?

[2019-08-05 02:01] jlewi commented on #3807
@holdenk

I think we want to get rid of the other command line flags and just take "--config" (#3744)

If you don't specify certain values in your YAML file like project; then kfctl will try to set sensible defaults (e.g. set email and project based on gcloud defaults).

Rather than have kfctl continue to support flags and uses those values to override the YAML files the thought was users would us

[2019-08-05 02:04] jlewi commented on #3805
/cc @krishnadurai @yanniszark

[2019-08-05 02:11] jlewi commented on #3804
@boniek83 Do you have more info on what the integration points in Kubeflow are. Is it a matter of compiling our docker containers with ROCM?

Do we need to wait for support to be upstreamed into Kubernetes?

/cc @kkasravi

[2019-08-05 05:20] yeya24 commented on #3815
I' d like to work on this.

[2019-08-05 08:50] cc4i opened #3818 "0.6-branch doesn't work as per install instruction"
/kind bug

**What steps did you take and what happened:**
Customize your Amazon EKS cluster configuration before following the next step
${KUBEFLOW_SRC}/scripts/kfctl.sh apply platform

Error:
/Users/chuancc/mywork/mylabs/kubeflow/kubeflow-aws/scripts/aws/util.sh: line 26: /Users/chuancc/mywork/mylabs/kubeflow/kubeflow-aws/kfapp/aws_config/cluster_features.sh: No such file or directory

**What did

[2019-08-05 09:26] cc4i commented on #3818
Or
remove "source ${KUBEFLOW_INFRA_DIR}/cluster_features.sh" from scripts/aws/util.sh ?

[2019-08-05 10:02] mattnworb commented on #3727
To elaborate on @johnugeorge’s comment, a key use case I had in mind above would be to upgrade the kubeflow-pipelines (api, ui, etc) components.

[2019-08-05 12:11] yanniszark commented on #3709
I am coming back from PTO this week.
A draft should be out very soon, most likely by the end of this week.

[2019-08-05 12:44] samuelthan commented on #3818
Similarly, i am encountering the same issue when deploying to AWS EKS using 0.6.1 while using instruction at https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/

Changing branch to 0.6.1

[2019-08-05 12:55] samuelthan opened #3819 "Can't upgrade kubeflow 0.5.1 to 0.6.1"
/kind bug

**What steps did you take and what happened:**
Installed vanilla kubeflow version 0.5.1 on AWS EKS.

After successfull installation of 0.5.1, attempt upgrade to 0.6.1 referencing https://www.kubeflow.org/docs/other-guides/upgrade/

Downloaded new version via
`curl -OL https://github.com/kubeflow/kubeflow/releases/download/v0.6.1/kfctl_v0.6.1_darwin.tar.gz`

`export PATH=$PATH:/Users/use

[2019-08-05 14:00] xaniasd commented on #3812
not fully onboard with the code structure yet so please any blatant ignorance: don't you need a selector (or labels) for a StatefulSet? [spec here](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#statefulsetspec-v1beta1-apps)

[2019-08-05 15:15] kimwnasptd opened #3820 "Problems with showing the Notebook Status in the Controller and the Jupyter Webapp"
Right now, there are some problems with how we expose the Notebook's underlying Status in the Notebook CR. The current behavior in the Notebook Controller is this:

1. We expose only the `contaierStatus[0]` of the underlying Pod in the Notebook CR's Status
2. We update the `conditions` in the status of the Notebook CR from the uuu Pod, but only when the `containerStatuses` [are not zero](https://g

[2019-08-05 15:25] ernestmartinez opened #3821 "Cannot deploy jupyter/r-notebook custom image"
/kind bug

I cannot deploy a custom Jupyter notebook image, specifically jupyter/r-notebook. I've tried the latest tag and several other random tags with no success. The notebook server seems to deploy successfully but when I click on Connect, I get the  error Sorry, /notebook/kubeflow/aaa is not a valid page or I get a 404: Not Found page.

I can successfully deploy and run the standard Jupyter n

[2019-08-05 15:40] jlewi opened #3822 "Profile controller to beta"
/kind feature

**Why you need this feature:**

We need to get the profile controller to beta quality in 0.7.

We should do an API review.

See also: #3092

We should figure out the required features and file separate issues for them (see #3654)

I think a big question is aligning terminology and implementation with the multi-tenancy story being developed in Kubernetes.

Here's the original proposa

[2019-08-05 15:55] jlewi opened #3823 "Kubeflow identity management API to beta"
/kind feature

0.6 introduced an API for managing identity and profiles.
https://github.com/kubeflow/kubeflow/tree/master/components/access-management

Opening this issue to graduate this to beta quality in 0.7

Some things to consider

* API changes
* Monitoring
* Release process

I think one question that came up is that currently the API identity manager effectively provides a proxy in front of

[2019-08-05 17:22] Jeffwan commented on #2998
This is done. I think we can close this story. Right now, one thing left is to update documentation.  I can track issue in website project. https://github.com/kubeflow/website/issues/1024

[2019-08-05 17:23] gabrielwen commented on #2152
Now we have deployed new backend to staging and taking traffic.

@kunmingg is this issue considered resolved?

[2019-08-05 17:47] Jeffwan opened #3826 "Outbound traffic to Dex port is banned in corp network"
/kind feature

**Why you need this feature:**
[Is your feature request related to a problem? Please describe in details]
LB listens on 5556 and forward traffic to Dex pod. The problem is some of the corp network ban outbound traffic to non 80 443 ports. It means this solution is not working well in some of the corp network. When we access hostname or ip of LoadBalancer, redirect to dex hangs there

[2019-08-05 17:47] Jeffwan commented on #3826
@yanniszark

[2019-08-05 18:24] kunmingg commented on #3823
One more reason that we are using our API is to maintain consistency between k8s rbac & istio rbac during all CRUD actions.
Otherwise each application (UI) need to guarantee they read / update both places?

[2019-08-05 18:38] #3702 closed

[2019-08-05 18:42] #3152 closed

[2019-08-05 21:47] lluunn commented on #3655
What does version here mean?

[2019-08-05 23:01] Jeffwan opened #3827 "Make Kubeflow AWS deployment EKS unlocked"
/kind feature

**Why you need this feature:**
Recently, I am seeing some users asking kubeflow support on self-managed kubernetes cluster on AWS. Besides that, there're so many ways to create an EKS cluster using CloudFormation, eksctl, terraform, aws cli, etc..

Currently, kfctl has dependencies like `eksctl` which locks users to use EKS which make users in different environment hard to use.

**D

[2019-08-06 00:50] cc4i commented on #3818
cluster_features.sh was meaningless, eksctl used cluster_features.yaml  as configuration.

[2019-08-06 00:55] zhenghuiwang opened #3828 "Katib UI and Metadata UI doesn't work under basic auth mode"
/kind bug

**What steps did you take and what happened:**
I deployed KF v0.6.1 using basic auth. The Katib and metadata UI don't work. You can see this error message in the central dashboard

[code]

But pipeline and notebook UI work.

**Environment:**

- Kubeflow version: v0.6.1
- kfctl version: (use `kfctl version`): v0.6.1
- Kubernetes platform: (e.g. `minikube`) GCP

[2019-08-06 00:56] zhenghuiwang commented on #3828
/cc @kunmingg @lluunn

[2019-08-06 01:18] runzhliu commented on #3610
same for the existing k8s cluster.

[2019-08-06 02:43] QxiaoQ commented on #3544
Did not work for me when I deploy kubeflow on Kind.
Failed with kubeflow 0.5.1 , k8s 0.14.* /0.15  (Kind)，and ks 0.13.1.
Still throw this error.

[2019-08-06 03:39] jlewi commented on #3774
Thanks @krishnadurai ; I LGTM'd your PR.

So IIUC it seems like we can close this issue once we've updated the docs to explain about the dynamic volume provider.

[2019-08-06 03:41] jlewi commented on #3496
Lets use this issue to track an E2E test for
https://github.com/kubeflow/kubeflow/blob/master/bootstrap/config/kfctl_k8s_istio.yaml

[2019-08-06 04:33] krishnadurai commented on #3823
/cc @krishnadurai

On Mon, Aug 5, 2019, 11:54 PM Kunming Qu <notifications@github.com> wrote:

[2019-08-06 08:24] krishnadurai commented on #3496
@jlewi Sure we'll set up tests with the above config

[2019-08-06 08:31] QxiaoQ commented on #3544
I found a workaround way to solve this problem.
My ENV: kubeflow 0.5.1 , k8s  1.14.4 (kind v0.4.0) ，and ks 0.13.1

Before run command "kfctl apply ..." , run " kind get clusters " . then this error will disappear.

Hope this information can help you with your kubeflow deployment or help us to fix this bug.

[2019-08-06 09:10] krishnadurai commented on #3774
/reopen Website instructions to be updated

[2019-08-06 09:40] krishnadurai commented on #3774
/reopen

[2019-08-06 13:08] jlewi commented on #3772
@fediazgon Do you plan on picking this up? If yes do you have an ETA for when you might have an initial PR that people can take a look at?

[2019-08-06 13:11] jlewi commented on #1394
@kimwnasptd If we need similar logic in other CRDs; can't we just make it a go library and import that into the viewer controller?

[2019-08-06 13:16] jlewi commented on #3721
Anyone interested in picking this up?

I think a good place to start would be

1. Write a python script that would create a notebook resource and then verify that the notebook pod starts correctly

   * We can use the pytest module (like [kfctl_go_test.py](https://github.com/kubeflow/kubeflow/blob/master/testing/kfctl/kfctl_go_test.py)).

1. Integrate the above into an E2E Argo workflow

[2019-08-06 13:21] jlewi opened #3829 "Make update_jupyter_web_app.py work with kustomize"
We need to update the continuous integration scripts for the jupyter web app.

The script is here:
https://github.com/kubeflow/kubeflow/blob/master/py/kubeflow/kubeflow/ci/update_jupyter_web_app.py

The script needs to updated to work with kustomize. We want the script to update the kustomization file
https://github.com/kubeflow/manifests/blob/e2e7d42c4a95b374da674980542b019c7ed6fcad/jupyter/jupyt

[2019-08-06 13:26] jlewi commented on #3686
@pdmack Do you want to open a separate issue about the port conflict?

[2019-08-06 13:28] jlewi commented on #3686
Duplicate of #3810

[2019-08-06 13:28] #3686 closed

[2019-08-06 13:31] jlewi commented on #3646
As part of the fix we should update the E2E test to verify that its cleaned up
https://github.com/kubeflow/kubeflow/blob/master/testing/kfctl/kfctl_delete_test.py

[2019-08-06 13:31] jlewi commented on #3749
We should probably update the test as well to verify it works as intended
https://github.com/kubeflow/kubeflow/blob/master/testing/kfctl/kfctl_delete_test.py

[2019-08-06 13:37] jlewi commented on #3812
@xaniasd yes the selector is currently applied via an overlay and not part of the base kustomize package. So I think the fix is to add it to the base here
https://github.com/kubeflow/manifests/blob/master/application/application/base/stateful-set.yaml

@xaniasd Want to submit a PR to fix it?

[2019-08-06 13:42] jlewi commented on #3150
@kimwnasptd @vkoukis Is there anymore work to be done here? Does MiniKF support 0.6?

[2019-08-06 13:48] xaniasd commented on #3812
sure thing!

[2019-08-06 13:52] jlewi commented on #3544
Thanks @QxiaoQ I'm going to close this issue.

For folks hitting this error I recommend trying Kubeflow 0.6 because the problem is that ksonnet doesn't support newer versions of Kubernetes.

If you must use an earlier version of Kubeflow you can try the workaround @QxiaoQ mentions above.

[2019-08-06 13:52] #3544 closed

[2019-08-06 13:54] jlewi commented on #3756
Great I will close the issue.

[2019-08-06 13:54] #3756 closed

[2019-08-06 14:05] kkasravi commented on #3822
this link: https://docs.google.com/document/d/1hpJX5O_siMmNGMvIHvz8Pm7XOjJLz5g57XWrgwWarFw/edit#heading=h.c0uts5ftkk58

[2019-08-06 14:10] nrchakradhar commented on #3822
Hi,
Can you please change the permissions so that the documents are available for general viewing.

Another question:
The Profile CRD mentions about only GCP platform support. How does it work for other platforms like AWS or the new one Arrikto?

[2019-08-06 14:15] kkasravi commented on #3822
@nrchakradhar I don't own this document - it is linked from this document https://docs.google.com/document/d/1U8RQQmTUjxgMZY05HG2f7b3KsB94BhK4Ko6aWbLNXcc/edit# see [3] in the appendix

All of the documents are found under docs in https://github.com/kubernetes-sigs/multi-tenancy

[2019-08-06 14:29] nrchakradhar commented on #3417
@krishnadurai
Is there a PR which can be seen. I see the link above refers to this issue only.

[2019-08-06 15:37] krishnadurai commented on #3417
@nrchakradhar Here's the PR

https://github.com/kubeflow/manifests/pull/195

[2019-08-06 15:44] fediazgon commented on #3772
@jlewi Yes! First time diving in k8s code and I'm derailing a lot because I'm trying to understand the surrounding code. I'll try to have a PR before Saturday.

[2019-08-06 16:13] holdenk commented on #3808
Right but we need the platform first right @gabrielwen ?

[2019-08-06 16:20] ShyamSubramanian opened #3831 "MiniKF with HyperV"
/kind question

**Question:**
MiniKF requires VirtualBox
Docker Desktop for Windows requires HyperV

For a dev env setup in Windows machines, we need MiniKF and Docker Desktop for Windows. Since they cannot co-exist, what is the solution?

Is Docker toolbox with VirtualBox the only option? or can MiniKF run with HyperV?

[2019-08-06 16:58] SinaChavoshi opened #3832 "0.6 deployment fails Service account xyz-user@abc.iam.gserviceaccount.com does not exist"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Executed the a deployment of kfp 6.0 following the CLI deployment instructions. got the following error after

`Error: couldn't apply KfApp:  (kubeflow.error): Code 500 with message: coordinator Apply failed for gcp:  (kubeflow.error): Code 400 with message: gcp apply could not update de

[2019-08-06 17:40] SinaChavoshi commented on #3832
one additional details, deployment steps on a separate project work fine, on this particular project I have two instances of KP deployed.

[2019-08-06 18:54] zhenghuiwang opened #3833 "Remove Ambassador annotations"
/kind feature

**Why you need this feature:**
Since KF v0.6.0, we have istio and ambassador is no longer needed. But the sub UIs of central dashboard still need Ambassador annotations to forward requests. See https://github.com/kubeflow/kubeflow/issues/3828

**Describe the solution you'd like:**
Get rid of ambassador annotations and make sure the UI work.

[2019-08-06 18:55] zhenghuiwang commented on #3833
/cc @kunmingg @lluunn @gabrielwen @jlewi

[2019-08-06 19:16] jlewi commented on #3150
I think @katsiapis mentioned at the community meeting that MiniKf still needs to be released with 0.6 support but that it should happen soon.

[2019-08-06 19:42] mattnworb opened #3834 "backend-updater in v0.6.1 cluster stuck in Pending, trying to mount secret "admin-gcp-sa" in different namespace"
/kind bug

**What steps did you take and what happened:**
- Deployed Kubeflow 0.6.1 on a GKE cluster:

[code]

- Noticed that the `backend-updater` StatefulSet in the `istio-system` namespace is stuck in Pending

backend-updater is in `istio-system` namespace and attempts to mount a secret named `admin-gcp-sa`; this Secret does not exist in the `istio-system` namespace.

In earlier versions, the c

[2019-08-06 19:52] SinaChavoshi opened #3835 "kf 0.6 - User 'xyz@abc.com' is not authorized for namespace 'kubeflow'"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
In notebook page when i select kubeflow as name space (ie already at .../_/jupyter/?ns=kubeflow) I get an error that my user 'xyz@abc.com' is not authorized for namespace 'kubeflow'. User has admin access to the GCP account

**What did you expect to happen:**

**Anything else you would l

[2019-08-06 19:54] SinaChavoshi commented on #3835
resolved by changing the name space to kubeflow-user env

[2019-08-06 19:56] SinaChavoshi commented on #3835
The name space is not selected by default  It may makes sense to set the default name space to user account. Also the documentation in kubeflow.org does not reflect the 0.6 UI this may be confusing for users to figure out.

[2019-08-06 20:40] #3368 closed

[2019-08-06 21:32] richardsliu commented on #3623
Wrote a doc here: https://bit.ly/2yJeU5u

[2019-08-06 22:09] kunmingg opened #3836 "Central Dashboard: show all profile-owned namespaces when no identity in coming request."
/kind feature

**Why you need this feature:**
Latest Central Dashboard will show all namespaces when no identity in coming request.
However we still want to hide system namespaces like Istio and kubeflow.

**Describe the solution you'd like:**
We can instead show all namespaces owned by a profile.

[2019-08-06 22:56] #3828 closed

[2019-08-07 01:23] jlewi commented on #3655
Version means multiple versions of the custom resource e.g. Notebook v1beta1 and Notebook V1.

[2019-08-07 01:32] #3167 closed

[2019-08-07 06:33] samuelthan commented on #3819
Discovered that the issue is at my bash profile end.

My bash profile had this

`export KUBECONFIG=/Users/USERNAME/.kube/kubeconfig_ai-eks-cluster:/Users/USERNAME/.kube/kube-config-eks`

After cleaning it up to look like this

`export KUBECONFIG=/Users/USERNAME/.kube/kubeconfig_ai-eks-cluster`

I

[2019-08-07 06:33] #3819 closed

[2019-08-07 09:09] krishnadurai commented on #3694
The intent here was to look if it were possible to release this earlier. We should be fine with releasing this in 0.7.

This should be sufficient for 0.6 release. We should be looking to add modifications to these deployment params by 0.7.

We can go ahead and close this issue.

[2019-08-07 11:22] hemantha-kumara commented on #3761
ok, thanks.. I will try with options which you had mentioned above. I will close this issue for now.

[2019-08-07 11:22] #3761 closed

[2019-08-07 12:39] nrchakradhar commented on #3822
@kkasravi Thanks for the reference. I am able to view few documents but the exact ones referenced here still need permissions from "somebody".

[2019-08-07 13:52] jlewi commented on #3694
@krishnadurai there will probably be. 0.6.2 at some point so we can include changes you want in that provided they aren't too big.

Can you point at the list of PRs you would want to cherry pick onto the 0.6 branch

[2019-08-07 14:32] kimwnasptd commented on #3821
@erikerlandson what is your Image's `entrypoint`?

Could you also provide some logs from the Notebook's Pod?

[2019-08-07 14:47] ernestmartinez commented on #3821
I'm clicking on the Connect link from the Kubeflow Notebook Servers dashboard page.
Could this be an Ingress problem?

ubuntu@kubeflow:~$ kubectl -n kubeflow logs r-test5-0
Executing the command: jupyter notebook
[I 14:35:54.296 NotebookApp] JupyterLab extension loaded from /opt/conda/lib/python3.7/site-packages/jupyterlab
[I 14:35:54.297 NotebookApp] JupyterLab application directory is /opt/conda

[2019-08-07 14:58] kimwnasptd commented on #3821
@ernestmartinez from the logs of the Notebook Server we can see that the requests gets to the Pod, but the Jupyter Server then returns 404. So I think it is not a problem with the Ingress.

 I think this might be a problem with your image's `entrypoint`. Specifically, I think the problem is the `--NotebookApp.base_url` flag. This is flag is needed for the Notebook to work under a prefix, in this c

[2019-08-07 15:03] kimwnasptd commented on #1394
@jlewi yes, that would also work. I don't have any hard preference as long as we make the code reusable.

Regarding making this part of the Reconciliation loop. We will be making an HTTP request for each Notebook to the Prometheus server, in `istio-system`. Since the `Reconcile` function will be called with a high frequency, it would produce a good amount of requests. Thus, this is why I was think

[2019-08-07 15:03] ernestmartinez commented on #3821
No, All I did was click on the "New Servers" link from the Notebook servers page and filled in the fields and selected custom image and provided the jupyter/r-notebook:latest image. I did not create the image.

[2019-08-07 15:38] kimwnasptd commented on #3821
@ernestmartinez as of right now you can't select an arbitrary image and use it with kubeflow. The main issue is the mention flag. If you don't specify it, then the jupyter server will expect requests to be for `/` and not for `/notebook/kubeflow/r-test` and thus return 404. You can read more regarding how to make a custom image [here](https://www.kubeflow.org/docs/notebooks/custom-notebook/).

[2019-08-07 15:43] ernestmartinez commented on #3821
Thanks,

It would be very helpful to be able to just use stock notebook images in the future. It's not very useful to have to modify images and then have to load to a private repository.

[2019-08-07 15:50] kimwnasptd commented on #3821
This is a solid point. I think a first step would be to allow the user to edit the `entrypoint` of their image directly from the ui. This way they won't have constantly upload images to private registries.

I'll create an issue for to keep track of this feature.

[2019-08-07 16:02] kimwnasptd opened #3838 "jupyter-web-app: Set custom Image cmd and args"
/kind feature

**Why you need this feature:**
Currently if someone would like to use a custom image they would need to create a Dockerfile, update the ENTRYPOINT and then push it to a public/private registry. We could skip the push step by allowing the user to set the cmd/args of their image.

This has also been requested from user's both in slack and from issues [ #2961 #3821 ]

**Describe the so

[2019-08-07 16:02] kimwnasptd commented on #3838
/assign kimwnastd

[2019-08-07 16:02] kimwnasptd commented on #3838
/assign kimwnasptd

[2019-08-07 16:44] yanniszark commented on #3749
@jlewi @kkasravi
How should we handle this?
Some thoughts are:
1. Wait for Kubeflow namespace to be deleted before proceeding with Resource deletion.
2. Check the error and catch the specific scenario. Not sure how we would do this other than checking for the error message inside the error, which seems brittle.

[2019-08-07 17:02] yanniszark opened #3839 "kfctl: existing_arrikto: operate Dex and Kubeflow behind the same port (443) using relative URLs"
/kind feature

**Why you need this feature:**

Currently, Dex is exposed at port 5556.
This is a problem for some corp networks that cannot expose port 5556. (e.g. #3826 )

**Describe the solution you'd like:**

Dex could live in path /dex at port 443.
This would remove the need for exposing port 5556 and would make it even easier for people to use this feature in onprem clusters.

Instead of usin

[2019-08-07 17:04] yanniszark commented on #3826
Hi @Jeffwan !
This is indeed a limitation for some corp networks and we are working on lifting it.
The solution you describe is a step in the right direction, however it still wouldn't work by itself.
I've opened https://github.com/kubeflow/kubeflow/issues/3839 for tracking the solution.

[2019-08-07 17:09] yanniszark commented on #3805
I took a look at this and I believe the following is happening:

1. Kubeflow VirtualService bind to all ports of the Istio Gateway, meaning they are accessible from 5556 as well.
2. The Dex VirtualService only handles requests to paths that starts with `/dex`. Requests that don't start with `/dex` will be directed to Kubeflow.

When https://github.com/kubeflow/kubeflow/issues/3839 is resolved, thi

[2019-08-07 17:27] kkasravi commented on #3749
hi @yanniszark - welcome back!

2 approaches that I can think of:

1. use labels - similar to what we did in 0.5.
The reason why we're breaking now is we have many applications and we no longer have a global label. We need to create [instance](https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/#labels) labels per application and could delete all resources which carry t

[2019-08-07 17:28] yanniszark commented on #3810
@jlewi @kkasravi  once server-side apply becomes available we should use that.
Until then, any ideas about what is the best practice available to have a behaviour close to kubectl apply?

[2019-08-07 20:31] #2936 closed

[2019-08-07 21:00] Jeffwan opened #3840 "Delete Jupyter Notebook volume along with notebook deletion"
/kind feature

**Why you need this feature:**
When user will create a Jupyter Notebook and create new persistent volume, PV doesn't have ownerReference of Jupyter Notebook, the time we delete notebook, PV is in isolated status.

Confirmed with community and it was by design and user may reuse storage some time later.
I think GPU training notebook will have more case like this and user like to shut

[2019-08-07 22:32] #3181 closed

[2019-08-07 22:32] #3163 closed

[2019-08-07 22:41] avdaredevil commented on #3836
/priority p1
/area front-end
/area centraldashboard

[2019-08-07 22:43] avdaredevil commented on #3781
/unassign @avdaredevil
/cc @avdaredevil
/assign @kunmingg

[2019-08-07 22:53] #3836 closed

[2019-08-08 00:25] SinaChavoshi commented on #3571
Hitting the same issue in 0.6.1.

[2019-08-08 00:31] Ark-kun commented on #1398
/reopen

[2019-08-08 00:33] ZorkMaster commented on #3441
I work alongside @indraforyou, and I think we've figured out this issue.  It wasn't a Kubeflow bug, but rather a misconfiguration of CA certs in our k8s cluster.

Reiterating above, we were seeing the following errors from our `jupyter-web-app-deployment` Pod:
[code]
It looks like the process running in the Pod couldn't establish a connection to the k8s API server.  Exec'ing into the container, it

[2019-08-08 01:18] xiaohanhuang commented on #2852
Saw this with 0.6.1 in AWS

[2019-08-08 01:48] ankushagarwal commented on #767
Test notification

[2019-08-08 07:51] SheharyarTkxel opened #3844 "Cluster Autoscaling Not Working"
**Problem Statement**:
I want to deploy 2 Node Groups (1st with 3 CPUs in Master, 2nd with 0 GPUs in Worker) and then scale up/down the GPU based Worker nodes as the load goes up/down.

**What I've done so far**:
Followed the [official tutorial](https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/) to setup Kubeflow on AWS with this yaml file configuration (don't mind the formatting):

`apiV

[2019-08-08 08:04] kimwnasptd commented on #3770
/assign @kimwnasptd

[2019-08-08 08:07] kimwnasptd commented on #3405
/assign @kimwnasptd

More info on #3820. By using the `conditions` we can also surface the errors with the Pod's scheduling.

[2019-08-08 08:14] kimwnasptd commented on #3406
Also related with #3820.

I think we shouldn't remove the `ContainerStatus`, but rather show the containerStatus of all the containers in the Pod. This way we can show errors that might occur in all the Containers and not just the one with the Notebook Image.

I would also be interested in picking this up.
/assign @kimwnasptd

[2019-08-08 08:21] kimwnasptd commented on #3677
I think the issue might be that the `status.containerState` that we expose in the Notebook CR refers to the `containerStatus[0]` in the Notebook Pod.

But, if we also have ISTIO then this Container is the one with Envoy. So the UI actually shows the status of the Envoy Container and not the Notebook Image's Container (which might even have an `ImagePullBackOff` for example).

More info on #3820

[2019-08-08 09:14] doschkinow commented on #3232
I was able to work around this (I am using kfctl v0.6.1-rc.2-1-g3a37cbc6) by creating the service account:

[2019-08-08 09:39] UrmsOne opened #3846 "Kubeflow Deployment with kfctl_k8s_istio couldn't start notebook"
Hello,
I'm playing around with a Kubeflow installation on local VM following the instructions in
[https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/](url)
`env: kubernetes v1.10.11 ( 1 master, 2 nodes)  kubeflow v0.6.1`
I use ingressgateway hostIp +port to visit kubeflow dashboard.I can't create a new notebook server.
![image](https://user-images.githubusercontent.com/31981402/62692028-765

[2019-08-08 09:56] UrmsOne commented on #3846
**kubectl -n kubeflow get notebooks t5 -o yaml**

output:

[code]
but, can't connect!
![image](https://user-images.githubusercontent.com/31981402/62693840-cdb05900-ba05-11e9-83f9-84d7ecce7a21.png)

[2019-08-08 11:14] kimwnasptd commented on #3846
@UrmsOne I can see that your Notebook was launched in the namespace `kubeflow`. Is the Pod actually created? What's its status?

If not, what's the output when you `kubectl describe -n kubeflow sts t5`?

[2019-08-08 11:26] UrmsOne commented on #3846
@kimwnasptd
Thanks  for your help.The pod is not created. When I `kubectl describe -n kubeflow sts t5`,
output:
[code]
The issue is missing sa "default-editor".When I create service account, may I set a specific token?
How to solve the problem? Can you give detailed steps?
Thanks！

[2019-08-08 11:32] UrmsOne commented on #3846
@kimwnasptd
When I `kubectl create sa default-editor -n kubeflow`, I meet
[code]
I think I should know how to solve the problem.
Thank you so much!

[2019-08-08 12:21] UrmsOne commented on #3846
When the pod t5-0  is runnig, I `kubectl  -n kubeflow logs t5-0`
[code]
WebUI status unchanged.
![image](https://user-images.githubusercontent.com/31981402/62701467-f12fcf80-ba16-11e9-8a24-0e4d68f85966.png)

So sad!

[2019-08-08 12:30] kimwnasptd commented on #3846
@UrmsOne A tooltip should appear on top of the spinner if you hover over the mouse. What does it say?

Also could you provide the full output of `kubectl -n kubeflow get pod t5-0 -o yaml` and `kubectl -n kubeflow get notebooks.kubeflow.org t5 -o yaml`?

[2019-08-08 17:00] gabrielwen opened #3847 "Bootstrap server logs user credential when returning error"
/kind bug

**What steps did you take and what happened:**
When bootstrap server sends invalid KfDef to statefulset, it returns error with payload having user access token.  Bootstrap server prints it out which exposes user access token to people who have access to logs.

**What did you expect to happen:**
We should strip access token whenever we print out request payload.

[2019-08-08 17:06] amygdala opened #3848 "add kfmd to the notebook image(s)"
/kind bug

It looks like kf v061 does not bundle the `kfmd` lib -- it should be added.
(Probably this is on someone's radar already, but filing just in case not).

![image](https://user-images.githubusercontent.com/115093/62722869-31199700-b9c4-11e9-98fa-78b0dbb925fd.png)

[2019-08-08 17:11] amygdala commented on #3848
Update: apparently pandas is not bundled either... IMO it should be as well.

[2019-08-08 17:29] #3770 closed

[2019-08-08 17:56] cyzhangchenya opened #3850 "Azure instructions for 0.6 need to be updated (was "Katib is not a valid page" from Kubeflow Central Dashboard)"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

We try to install Kubeflow on the Azure Kubernetes Service (https://azure.microsoft.com/en-us/services/kubernetes-service/) clusters, following https://www.kubeflow.org/docs/azure/deploy/install-kubeflow/.

We use Ambassador to do load balancing and we can open up Kubeflow Central Dashb

[2019-08-08 18:22] amygdala opened #3851 "kf 0.6.1 issues with UI for launching notebook server"
/kind bug

With KF v0.6.1, there are some problematic aspects of the UI.

- It's possible to click 'new server' without setting the namespace.  Then, in setting up the server config, it's confusing to not be able to edit the namespace field.  The small (unset) pulldown at the top left of the page will probably not be noticed.
Could we add the pulldown to the namespace field itself?
If not, could w

[2019-08-08 18:30] avdaredevil opened #3852 "[CentralDashboard v2] Cherrypick v0.6.2"
## About:
Cherrypick for v0.6.2 release w/ dashboard updates:
- [x] #3742
- [x] #3758
- [x] #3503
- [x] #3842
- [x] #3843

### Meta
_**closes: #3698**_
/assign @kunmingg @abhi-g
/cc @avdaredevil
/priority p0
/area centraldashboard
/area front-end

[2019-08-08 18:34] abhi-g commented on #3852
By the way should this be v0.6.3 or 0.6.2? I don't think we have released v0.6.2 yet.

[2019-08-08 22:30] avdaredevil commented on #3733
Any updates on this?

/unassign @avdaredevil

[2019-08-08 22:31] avdaredevil commented on #3698
/close

In favor of Cherrypick Issue aforementioned

[2019-08-08 22:31] #3698 closed

[2019-08-08 22:32] avdaredevil commented on #3175
@prodonjs

With #3503 and #3758 this seems to be a non-issue?

[2019-08-08 22:33] avdaredevil commented on #3524
/assign @avdaredevil
/area centraldashboard
/area front-end

[2019-08-08 22:34] avdaredevil commented on #3852
/close

[2019-08-08 22:34] #3852 closed

[2019-08-08 22:38] avdaredevil commented on #3735
For insight:

/cc @sxmon

[2019-08-09 02:24] UrmsOne commented on #3846
@kimwnasptd
* **A tooltip of Status as follow.**
![image](https://user-images.githubusercontent.com/31981402/62748003-879cd900-ba89-11e9-8a88-f1aca4f1f845.png)

* **kubectl -n kubeflow get pod t5-0 -o yaml**
[code]
* **kubectl -n kubeflow get notebooks.kubeflow.org t5 -o yaml**

[code]
Also, Using configfile [https://raw.githubusercontent.com/kubeflow/kubeflow/master/bootstrap/config/kfctl_existin

[2019-08-09 03:21] AnnieWei58 commented on #1241
Hi,
I tried this line:

but, it gives me the following error:
![image](https://user-images.githubusercontent.com/24437370/62751835-c46fcc80-ba97-11e9-8ce2-805d0db64d95.png)

[2019-08-09 03:25] AnnieWei58 commented on #1241
Hi @jlewi , I tried this line of code:

-But it gives the following result:
![image](https://user-images.githubusercontent.com/24437370/62751985-48c24f80-ba98-11e9-8124-66cbbf8a0508.png)

[2019-08-09 03:25] #3774 closed

[2019-08-09 03:58] SinaChavoshi commented on #3733
this was on 0.5 I'm verifying if it reproduces on 0.6. In the mean time I'll close this issue as the root cause is same as #2852, if it reproduces on 0.6 I will add to that thread.

[2019-08-09 03:58] #3733 closed

[2019-08-09 06:44] sxmon commented on #3735
Windows support is still not complete on my side as well:
- kfctl build works
- kfctl init and generate all work
- kfctl apply all has path issues

I am using Windows Subsystem for Linux (WSL):
- Download kfctl Linux binary from the release page
- In WSL, set the env variable KUBECONFIG to /mnt/C/Users/<USER>/.kube/config
- Now run kfctl from WSL. Once deployed you don't need WSL anymore.

[2019-08-09 08:04] AnnieWei58 opened #3854 "[spawning jupyter failed] 'kubeflow-core' is not a component or a module"
I am trying to spawn the jupyterhub, but it fails. When I try this line of code:

it gives me the following error:

**Environment:**

- Kubeflow version: v0.4.1
- kfctl version: v0.5.1
- Kubernetes platform: Kubeflow on Kubernetes
- Kubernetes version: v1.14.2
- OS: Centos7

[2019-08-09 09:14] fediazgon commented on #3772
Hey @jlewi @kimwnasptd. Before start coding, I would like some advice to see if the following approach is valid.

Events related to a notebook are named like `notebookName.XXXXXXX`, this means that, if we watch for single Events, we can only capture the event at the beginning of the reconcile call, since later (e.g., after we fetch the notebook instance) we don't know the name of the event. This p

[2019-08-09 11:18] yptheangel opened #3855 "pvc not detected"
Running the MNist example from https://www.kubeflow.org/docs/components/training/tftraining/

mnist-worker-0 is a pod created by my TFJob
when i check my pod, `kubectl -n kubeflow get po mnist-worker-0`
I get this.
![no-pvc-but-actually-do](https://user-images.githubusercontent.com/30103695/62775505-6ca68500-bada-11e9-9ddb-544da8e7a461.PNG)

 Are PVC shown in `kubectl get pvc` accessible by kubefl

[2019-08-09 15:48] kimwnasptd commented on #1394
I think we should be fine with having this in the reconcile function. We can also set to re-trigger the reconcile with specific time intervals. Opened a PR to move forward with the implementation.

[2019-08-09 16:17] Jeffwan commented on #2998
documentation merged.

/close

[2019-08-09 16:17] #2998 closed

[2019-08-09 16:21] kimwnasptd commented on #3772
@fediazgon I think we could try and implement a little bit of both.

Regarding the `watch` of Events, lets
1. Only add Events, to the controller's cache, that refer to a StatefulSet
2. Trigger the Reconcile function (with the mapFn) from Events, but lets use the Event's StatefulSet Name and Namespace as the Object/Key.

So if the Event was for a StatefulSet that corresponds to a Notebook, then the

[2019-08-09 16:24] kimwnasptd commented on #3846
The problem is that the Pod is running, we can see it from its `stats/containerStatuses`, yet this is not reflected in the Status of the Notebook CR (it doesn't have any status field).

@UrmsOne is the Notebooks Controller launched and running in the cluster? Could you also provide the logs from its Pod?