[2018-11-02 10:53] cliveseldon commented on #1844
We have an example in Seldon for using istio to route traffic to two versions (canary)
See docs and notebook link [here](https://github.com/SeldonIO/seldon-core/blob/master/docs/istio.md)

This is using Ambassador with Istio.

[2018-11-02 10:54] cliveseldon commented on #1731
We'd be interested to use this for Seldon as well along with Zipkin for tracing.

[2018-11-02 19:09] yuefengz commented on #1796
@372046933 That sounds like a feature request to checkpoint dataset states. Maybe file an issue in tensorflow repo?

[2018-11-02 21:42] chrisheecho commented on #56
/remove-priority p1
/priority p2

No engineering resource assigned

[2018-11-02 22:44] jbottum commented on #1317
area/0.5.0

[2018-11-02 22:47] jbottum commented on #1317
/area 0.5.0

[2018-11-02 22:48] jbottum commented on #1317
remove-area 0.5.0

[2018-11-03 01:43] amygdala commented on #1803
Is this an issue for the widgets as well?  In a TF 10.1 image I had to
`/opt/conda/envs/py2/bin/pip install tensorflow-model-analysis` , and that seemed successful, but no plots are rendered.

[2018-11-03 10:01] 372046933 commented on #1796
Thank you very much. I can understand your point of view now. Even without kubeflow, when chief worker exited, all other workers' gradients **were not checkpointed** either.

[2018-11-03 23:54] jbottum commented on #1735
/priority p2

[2018-11-04 00:09] jbottum commented on #1457
/priority p2

[2018-11-04 17:03] texasmichelle opened #1903 "Update katib manifests"
Following the [public docs](https://www.kubeflow.org/docs/guides/components/hyperparameter/), I ran into the error reported [here](https://github.com/kubeflow/katib/issues/218), which was [patched  in kubeflow/katib](https://github.com/kubeflow/katib/pull/213).

Related changes need to be made in [this repo](https://github.com/kubeflow/kubeflow/tree/master/kubeflow/katib). What is the logic behind

[2018-11-04 17:09] jlewi commented on #1803
@amygdala TFMA should already be installed and the widgets should be working; which image were you using? see #1718

[2018-11-04 18:36] texasmichelle commented on #1903
After applying the patch, I'm still not seeing any metrics in the UI. @gaocegege @YujiOshima Can you help identify the problem? This is from the `v0.3-branch`.

<img width="1063" alt="screen shot 2018-11-04 at 10 32 57 am" src="https://user-images.githubusercontent.com/7597993/47968331-4c163f80-e01d-11e8-9411-da183723b4a6.png">

[2018-11-04 21:09] texasmichelle commented on #1903
Definitions for workerConfigMap in [kubeflow/kubeflow](https://github.com/kubeflow/kubeflow/blob/v0.3-branch/kubeflow/katib/studyjobcontroller.libsonnet#L293) & [kubeflow/katib](https://github.com/kubeflow/katib/blob/master/examples/workerConfigMap.yaml#L7) are also out of sync.

These discrepancies are preventing me from getting any of the [examples](https://github.com/kubeflow/katib/tree/master/

[2018-11-05 09:35] gautamkmr opened #1905 "Do we have support in documentation for Inference?"
I am basically looking for end to end working example using KubeFlow similar to [Inception Model serving using Kubernetes](https://www.tensorflow.org/serving/serving_inception)

[2018-11-05 18:54] jlewi commented on #1309
@lluunn Can you clarify the scope of this issue?

Is this issue just about changing the version of ISTIO from 0.7 to 1.0? Or is it more involved then that?

What work remains on this issue?

[2018-11-05 19:00] jlewi commented on #1220
@lluunn Was the original issue referring to our custom HTTP proxy for TFServing and not the built in HTTP proxy for TFServing?

I assume switching to TFServing HTTP prox might change things because we might not be able to add a field to that proxy.

In light of that change and also the directional change to rely on ISTIO more. We might need to rethink how we do request/response logging.

it might

[2018-11-05 19:13] jlewi commented on #1117
I think all we need is to document serving for PyTorch in our website.
We could potentially add it to our existing PyTorch page or create a new one specific to serving
https://github.com/kubeflow/website/tree/master/content/docs/guides/components

I think the information we need is in @dsdinter 's E2E example: kubeflow/examples#274

@dsdinter any interest in creating a PR adding to our docs?

[2018-11-05 19:36] jlewi commented on #1669
I'll leave this as P1 for now but it likely won't make it unless someone steps up take this.

It might also be easier to implement this as part of turning kfctl.sh into a kfctl go binary.

[2018-11-05 19:58] lluunn opened #1907 "Investigate using Istio for jwt validation"
related to #1309

[2018-11-05 19:59] lluunn commented on #1309
I think we can close this one and file separate issues.
My original thought was only to change Istio version from 0.7 to 1.0, which is done now.

We have #1844 for rollout.
Filed #1907 for jwt validation.

[2018-11-05 19:59] #1309 closed

[2018-11-05 21:33] lluunn commented on #1220
Originally referred to our http proxy.
I will investigate if we can do it with Istio, and if not what are the options.

[2018-11-05 21:45] lluunn opened #1909 "Figure out Istio installation in Kubeflow"
We probably have to checkin the manifest.

https://www.kubeflow.org/docs/guides/components/istio/

[2018-11-05 22:04] ashahba commented on #1749
Does it make sense to add a nice message and instruct the user to do something like `cd ${KFAPP}` prior to running `generate`? and also have `kfctl.sh` to check where `generate` is being called from and it not from the right directory instruct the user and stop processing rather than just complaining about file not found 🙂
I think that'll be helpful as a user stand point.

If yes, feel free to ass

[2018-11-05 23:07] chrisheecho commented on #1363
not essential for the product itself but should be p1 or p0 for Q1 2019, so that we can improve overall velocity.

[2018-11-05 23:07] chrisheecho commented on #1363
/remove-priority p1
/priority p2

[2018-11-05 23:14] chrisheecho commented on #1454
/remove-priority p1
/priority p2

As no eng resource assigned. Need design doc perhaps or flesh out the thoughts here?

[2018-11-05 23:15] #1697 closed

[2018-11-05 23:58] chrisheecho commented on #1145
/remove-priority p2

Stablization item

[2018-11-05 23:59] chrisheecho commented on #1317
/remove-priority p1
no eng resource

[2018-11-06 00:09] IMBurbank opened #1912 "Following Quickstart Guide - Can't Spawn Jupyter Server (JWT and GCFS Errors)"
When I was trying this yesterday, I could attach a [1024Gi NFS PVC](https://master.kubeflow.org/docs/guides/gke/cloud-filestore/), but when I'd tried to spawn the Jupyter server, I would get errors in the `pod/jupyter-username-2egmail-foobar` logs that `PVC claim kubeflow-gcfs` couldn't be found. When attempting to reproduce the errors today, I'm stuck at this `IAP` auth error.

I'm hoping for hel

[2018-11-06 00:10] chrisheecho commented on #1735
/remove-priority p2

[2018-11-06 00:11] chrisheecho commented on #1317
/remove-priority p1

[2018-11-06 00:17] kkasravi opened #1913 "Create an openvino component"
This component will deploy the [openVINO model server](https://github.com/IntelAI/OpenVINO-model-server/)

[2018-11-06 01:04] chrisheecho commented on #1112
/remove-priority p2
/priority p1

doesn't seem critical for 0.4, a nice to have

[2018-11-06 01:07] chrisheecho commented on #1419
/assign @TheJaySmith
Jay it seems like you are working on it? just want to make it official

[2018-11-06 01:19] chrisheecho commented on #1858
+1!

[2018-11-06 01:31] lluunn commented on #1731
Just found out Istio might not support this
https://istio.io/docs/reference/config/policy-and-telemetry/attribute-vocabulary/
https://github.com/istio/istio/issues/4210

No request.body

cc @bhupc

[2018-11-06 01:51] lluunn commented on #1905
Take a look at:
https://www.kubeflow.org/docs/guides/components/tfserving/
https://www.kubeflow.org/docs/guides/components/tfserving_new/
https://github.com/kubeflow/examples/tree/master/object_detection

[2018-11-06 03:15] carmine commented on #971
Feels like this should be a pattern .. starting with weave flux and/or argo .. and extending out to other options. One example is jenkins-x.

[2018-11-06 03:45] TheJaySmith commented on #1419
@chrisheecho yes. I have been a tad delayed but plan on having a deliverable by mid next week. Keep me to it

[2018-11-06 05:16] jlewi commented on #953
Users should be able to manually delete the role bindings by running the same command kfctl.sh delete does

[code]

[2018-11-06 05:20] jlewi commented on #953
Should we run that command always on kfctl.sh init to purge any existing bindings?

[2018-11-06 06:58] cliveseldon commented on #1905
You can also look at [Seldon](https://www.kubeflow.org/docs/guides/components/seldon/) and an end-to-end example using it [here](https://github.com/kubeflow/example-seldon)

[2018-11-06 09:02] dformoso commented on #1389
Hi all,

The same thing happens when deploying in the Australia region. It errors out on GPUs, particularly the 'nvidia-tesla-k80' and Intel Haswell CPUs. Do you have any ideas on how to best refactor for this? I could give it a go. I tried setting gpu-pool-max-nodes nodes to 0 and it didn't fix it.

[2018-11-06 09:35] dformoso opened #1914 "Kubeflow on GKE not using the default gcp zone configured in the cloud shell."
Hi all,

I'm trying to install Kubeflow 0.3.1, and changing the default zone to us-central1-a. I am located in Sydney, Australia, and somehow Kubeflow picks up my location and uses that instead of us-central1-a.

This is how I run my setup:

# Run everything from container
`docker container run -it -d \
  --restart=always \
  --name google_sh \
  --hostname google_sh \
  google/cloud-sdk:latest

d

[2018-11-06 12:48] rummens opened #1915 "Running Kubeflow on OpenShift without Admin Privileges"
Hi there,

I've got a few questions regarding Kubeflow on OpenShift. I stumbled across this instructions (https://opensource.com/article/18/6/kubeflow) to install everything but it requires admin Privileges at the last step to change some security settings. This is an issue, since we cannot grant KubeFlow cluster admin privs on our company cluster.

So is there a way to install and run Kubeflow wi

[2018-11-06 18:13] andreyvelich commented on #1885
/assign

[2018-11-06 21:31] kkasravi opened #1922 "Use ksonnet modules to better organize applications"
ksonnet modules allow arbitrary groupings of components with specific parameters. Modules themselves may be nested. By declaring different environments that contain different modules as targets we would allow many applications to be defined. As an example

[code]

[2018-11-06 21:31] kkasravi commented on #1922
/assign @kkasravi

[2018-11-07 00:38] kunmingg commented on #1912
@IMBurbank
Thanks for detailed feedback!
What was the image you try to spawn? And what was the error in the ```jupyter-**``` pod?
Can we try ```kubectl logs <pod-name> -n <namespace>```?

FYI we have a routing bug in master branch: https://github.com/kubeflow/kubeflow/pull/1900
so please pick latest release instead

[2018-11-07 00:58] IMBurbank commented on #1912
I just tried image `gcr.io/kubeflow-images-public/tensorflow-1.10.1-notebook-cpu:v0.3.1`

This time I used a `google-cloud-filestore-pv` and `jupyter disks` param name of `kubeflow` for the GFCS. I've now tried the deployment name, the InstanceId name and the file share name for the GFCS.

Here's the pd description

[code]

Oddly, there are no logs for the jupyter pod with the event error

[code]

[2018-11-07 01:03] IMBurbank commented on #1912
I pulled the kubeflow registry from the  v3.2 release for the deployment.

How would I re-generate the fixed components if I pulled an updated registry from the `latest` release?

[2018-11-07 01:07] kunmingg commented on #1912
Seems persistentvolumeclaim ```kubeflow``` not exist in namespace ```kubeflow```
```kubectl get persistentvolumeclaim -n kubeflow``` could verify.

I think v3.2 is latest.
And cluster version upgrade is on roadmap.

[2018-11-07 01:14] IMBurbank commented on #1912
I have the GCFS that was created with this deployment

[code]

But a generic-names 10Gi PVC is created, instead of the 1024Gi GCFS I specified, when I try to spawn the server.

[code]

[2018-11-07 01:39] kunmingg commented on #1912
I see, will try to reproduce, and fix in next release if bug exists.

[2018-11-07 14:17] kkasravi opened #1924 "ksonnet env should override params"
currently many libsonnet files have the following
[code]

however this should be switched to
[code]
so that env values override param values

[2018-11-07 14:18] kkasravi commented on #1924
/assign @kkasravi

[2018-11-07 20:30] richardsliu commented on #1240
/assign @r2d4

[2018-11-07 21:37] thomasSve commented on #451
How is this issue moving forward? Currently I have my models deployed with tensorflow serving in kubeflow and am trying to add a endpoint service to the deployment so I can improve my monitoring

[2018-11-07 22:39] jlewi commented on #1844
Talked to @lluunn; we have a solution and instructions.

Next step would be simplifying/automating the ISTIO install process. There is a separate issue #1909 for that.

[2018-11-07 22:39] #1844 closed

[2018-11-07 22:41] jlewi commented on #1036
According to @lluunn #1911 added a prometheus endpoint to TFSeving. So only remaining piece is adding an annotation so that Prometheus knows to scrape it.

[2018-11-07 22:43] jlewi commented on #1220
Duplicate of #1731
We should just figure out what to do here as part of figuring out how to support request/response logging.

[2018-11-07 22:43] #1220 closed

[2018-11-07 23:01] jlewi commented on #1584
Talked to @richardsliu
So TF is done.
@johnugeorge working on PyTorch.

[2018-11-07 23:02] jlewi commented on #1584
For PyTorch the work is

1. Update the controller to use v1beta1
1. Update the ksonnet package.

[2018-11-08 01:20] ashahba opened #1925 "Standardize styles for all shell scripts"
Currently we don't follow a clean style for our shell scripts as described here: https://google.github.io/styleguide/shell.xml

We should review our scripts and update based on recommendation on the above page.

[2018-11-08 01:21] ashahba commented on #1925
/assign @ashahba

[2018-11-08 01:55] johnugeorge commented on #1584
APIS are merged.  Working on the other items now.

I will raise PR soon

[2018-11-08 11:35] gyliu513 opened #1928 "Enable kubeflow running on POWER"
The kubeflow can only running on x86 now, it would be great to enable it running on POWER platform as well.

[2018-11-08 11:35] gyliu513 commented on #1928
Ah, sorry, seems duplicate with https://github.com/kubeflow/kubeflow/issues/925

[2018-11-08 11:35] #1928 closed

[2018-11-08 14:47] jlewi commented on #521
@pdmack can you confirm if this issue is fixed for open shift with the latest ksonnet version?

[2018-11-08 15:49] MichaelJiangPlus opened #1929 "Following Quickstart Guide - Can't Deploy Kubeflow"
I followed the instructions at https://www.kubeflow.org/docs/started/getting-started/ - and meet some question.

The start script went fine, but when I ran to `../scripts/kfctl.sh generate k8s`，Everything starts to be abnormal.He told me that there was a` runtime error: invalid memory address or nil pointer dereference
`

I tried a lot of methods and replaced a lot of versions of ks, but they didn

[2018-11-09 02:17] gyliu513 commented on #925
@chenzhiwei

[2018-11-09 03:11] #1886 closed

[2018-11-09 04:02] IMBurbank commented on #1912
Thanks, for now I'll keep doing it manually, using `kubectl` as needed.

It will be really nice when I can use the GKE GCFS [mounting instructions](https://www.kubeflow.org/docs/guides/gke/cloud-filestore/) in my workflow.

I really appreciate the work you've all put into this project.

[2018-11-09 12:41] tidylobster opened #1931 "Running Tensorflow Training on Minikube: Could not start gRPC server, Address already in use"
I'm trying to run a training with `tf.Estimators`. Everything starts properly, but, when I enter `tf.estimator.train_and_evaluate`, server cannot be started since the port is already in use. That's really strange, but I can't resolve it myself. Any help?

**Running code**
[code]

**Logs from Worker Pod**
[code]

**Manifest**
[code]

[2018-11-09 15:46] amygdala opened #1932 "feature request: include 'google-api-python-client' in the JH images"
It would be useful to bundle the `google-api-python-client` lib in the JupyterHub images.
E.g. for writing scripts that connect to GCP products like CMLE.

[2018-11-09 16:09] pdmack commented on #521
Will take a look.

[2018-11-09 16:37] pdmack commented on #521
This particular issue is resolved. Tested using the latest ks and okd (OpenShift).
[code]

[2018-11-09 17:55] pdmack commented on #1929
I saw this also on RHEL 7.5 and resorted to building ksonnet locally with a newer version of golang (>1.9). I think there are some breaking changes between 1.9 and 1.10 that may be sensitive to the underlying C runtime. YMMV.

[2018-11-09 18:04] pdmack commented on #1915
That article is now somewhat out of date and the latest installation instructions are [here](https://www.kubeflow.org/docs/started/getting-started/). I need to refresh some of the troubleshooting details for OpenShift itself.

Having said that, you will need cluster-admin privileges to deploy various components from Kubeflow. There are various operators and CRD which require ClusterRole. I believe

[2018-11-09 18:12] pdmack opened #1933 "Fresh install renders 'no matches for kind "Application"'"
I've seen this twice but it seems to remedy itself by regenerating and reapplying the ks app.

/cc @kkasravi

[code]

[2018-11-09 20:20] IMBurbank opened #1934 "Which jubyterhub disks param name to use when assigning GCFS as PV"
This is related to issues I laid out in #1912

I've read everything I can find in docs [[1](https://www.kubeflow.org/docs/started/getting-started-gke/ 'Kubernetes Engine for Kubeflow')] [[2](https://www.kubeflow.org/docs/guides/gke/troubleshooting-gke/ 'Troubleshooting Deployments on GKE')] [[3](https://www.kubeflow.org/docs/guides/gke/cloud-filestore/ 'Using Cloud Filestore')] [[4](https://www.ku

[2018-11-10 02:12] IMBurbank opened #1936 "Use iam-policy value for EMAIL if case-sensitive"
GCP identity in the iam-policy case-sensitive while the value returned by `$(gcloud config get-value account)` is not. If a user has capital letters their email address,  `kftl.sh apply platform` will result in an incorrect rbac `--user` assignment.

To ensure that Kubeflow uses the correct `EMAIL` value for RBAC and IAM bindings, I recommend using the iam-policy value for `EMAIL` when it it conta

[2018-11-10 15:16] pdmack commented on #1933
Yes

[2018-11-10 19:59] abhi-g opened #1940 "Update spartakus image to v1.1.0 to fix cloud providers' annotation"
Current spartakus deployment uses v1.0.0 which doesn't have support for CloudProvider annotation. v1.1.0 adds that support.

[2018-11-10 22:36] richardsliu commented on #1903
@YujiOshima Can you look into this? Thanks.

[2018-11-11 19:41] sdeoras opened #1943 "Can TFJob be parameterized by replica index"
Hi Folks, I am trying to understand if TFJob can be parameterized using replica index. My use case is that each worker would use a different PVC. Is it possible to do so? Thanks.

[2018-11-11 23:22] smartnose opened #1944 "Deployment failure: ERROR reading app configuration: Current app uses unsupported spec version '0.3.0'"
Trying out by following the official docs 'Getting Started': https://www.kubeflow.org/docs/started/getting-started/
Hitting a deployment issue on Ubuntu + Minikube (but not Mac + Minikube)

Versions:
Minikube: 1.8.0
ks: ks_0.12.0_linux_amd64
kubeflow: 0.3.1
ubuntu: 16.04

Followed the instructions to the letter (I think), but getting the following error message:
ERROR reading app configuration: Cu

[2018-11-12 01:08] #1940 closed

[2018-11-12 05:39] jlewi commented on #1924
@kkasravi Can you explain the issue? Its not clear to my why env should override parameters? I would actually not expect env to contain parameters that would also be defined in params. So I wouldn't expect the order to matter.

[2018-11-12 07:45] ashahba commented on #1735
I can work on this if no one started on it yet.

[2018-11-12 07:49] ashahba commented on #1616
I like to work on this one to learn more about the test framework.

[2018-11-12 08:16] rummens commented on #1915
Thanks for the reply but I cannot find any instructions for OpenShift on this page or am I missing something?

If I understand you correct, Admin Privs are only requried for the setup of Kubeflow . Once that is done, it can work without them?

Cheers
Marcel

[2018-11-12 08:38] jlewi commented on #971
Instructions for GitOps have been posted here:
https://www.kubeflow.org/docs/guides/gitops-for-kubeflow/

So I'm closing this issue.

[2018-11-12 08:38] #971 closed

[2018-11-12 08:42] jlewi commented on #1584
Thanks @johnugeorge

[2018-11-12 21:32] pdmack commented on #1915
Correct, just for the initial setup. However, "initial setup" is a little elastic when it comes to Kubeflow. It's a toolkit and you can choose (or not) to make use of various components.

Sorry [this](https://www.kubeflow.org/docs/guides/troubleshooting/#openshift) is the link.

[2018-11-13 00:35] richardsliu commented on #1903
Looks like we have CRD duplication across other components as well, for example tf-operator.

I think we need to add an e2etest for katib in kubeflow/kubeflow, since we are installing katib by default. The process should be:
1. Make your changes in kubeflow/katib;
2. Push Docker images (automatically done after post submits);
3. Upgrade the manifest on kubeflow/kubeflow:
    - Update the image tag

[2018-11-13 00:55] richardsliu opened #1946 "Add e2etest for katib"
Since we are installing katib by default, we need to make sure that the component works end to end.

This will prevent issues like https://github.com/kubeflow/kubeflow/issues/1903 where the manifests are out of date and examples do not work properly.

[2018-11-13 01:04] richardsliu commented on #1903
Also for the examples, we should change all the namespaces to `kubeflow` instead of `katib`, since the former is used in all the public documentations.

[2018-11-13 02:36] YujiOshima commented on #1903
In v0.3-branch, the image of studyjob-controller is `katib/studyjob-controller`.
https://github.com/kubeflow/kubeflow/blob/v0.3-branch/kubeflow/katib/prototypes/all.jsonnet#L15

This is the latest code version of Katib.
It occurs mismatch API between other components since others using `gcr.io/kubeflow-images-public/katib/ ... :v0.1.2-alpha-45-g3dce496` version.

Please note the {{.StudyId}}, {{Tr

[2018-11-13 06:28] amalow opened #1947 "Unified Serving Endpoint"
Hi All,

Love the project. I was reviewing the documentation and saw a number of different guides for serving a model depending on the framework being used, this is a necessary evil to some degree but it seems to me that to some degree the Ingestion interface (be it gRPC or REST) could be a single service and then redirect the traffic to required route.

e.g
For a TF Serving Job
`Inference Service

[2018-11-13 06:43] #1420 closed

[2018-11-13 09:15] MichaelJiangPlus commented on #1929
It works！Thank you very much.I tried to install the 1.11.2 version of go and compiled the source code of ks.After compiling it works! 😆

This is my current version information.

[code]

This is the script I used to install go and compile ks, hope to help others who have the same problem.

[code]

[2018-11-13 09:17] #1929 closed

[2018-11-13 13:39] sdeoras commented on #1943
I was able to assign different pvc's parameterized by replica index using labels as follows. If we think this is the approach in the right direction I am happy to work on a PR.

[code]

It results in three pods, using PVC's tf-pvc-0, tf-pvc-1 and tf-pvc-2 respectively. Thanks.

[2018-11-13 14:55] connected-bsamadi commented on #1890
I later realized that I needed to add GPU nodes to the Kubeflow cluster.

[2018-11-13 14:55] #1890 closed

[2018-11-13 19:42] lluunn commented on #1909
Things to configure:
- sidecar injection policy: I think we should label the kubeflow namespace so that sidecar is auto injected if we add proper annotation to the deployment
- egress: we should allow egress traffic to load model from GCS/S3. However, this needs to know the IP of the cluster, so differs from cluster to cluster, see https://istio.io/docs/tasks/traffic-management/egress/#calling-ext

[2018-11-14 04:09] texasmichelle commented on #1903
Is the fix for v0.3-branch to revert the use of the untagged image to `katib/studyjob-controller:v0.1.2-alpha-45-g3dce496` or to use a newly generated tag consistently for every image in all.jsonnet?

[2018-11-14 04:35] texasmichelle commented on #1903
Created [katib-245](https://github.com/kubeflow/katib/issues/245) for changing `katib` namespace -> `kubeflow` in all manifests, not just examples.

[2018-11-14 04:38] GdMacmillan opened #1948 "Cant spawn notebook server: ImagePullBackOff server"
I followed this guide to build a custom image:
[Customize docker image](https://github.com/kubeflow/kubeflow/tree/master/components/jupyterhub)

After pushing to google cloud registry, I'm unable to start a custom jupyterhub notebook server. It works when i let the spawner use the default image. The gcr repository has the same project name as the kubeflow app. We followed the quick start to get ku

[2018-11-14 05:41] ashahba commented on #1711
Looks like the above PR was merged to address paths vs directory names a bit more for end users.

We should be able to close this ticket once we hear from @prateek1192

[2018-11-14 09:14] IronPan opened #1949 "Error deploying Kubeflow using kfctl.sh with --platform gcp"
I was following kubeflow quick start https://www.kubeflow.org/docs/started/getting-started/
with following commands
[code]

I got
[code]
Did I miss anything? Do I need to configure IAP?

kubeflow version v0.3.1
kubectl version
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.7", GitCommit:"0c38c362511b20a098d7cd855f1314dad92c2780", GitTreeState:"clean", BuildDate:"2018-08-20T1

[2018-11-14 09:51] IronPan commented on #1949
Looks like BackendConfig is only available >1.10.5-gke.3?
https://cloud.google.com/kubernetes-engine/docs/concepts/backendconfig

[2018-11-14 10:01] IronPan commented on #1949
I tried the 1.11.2-gke.15 and it worked fine.

Can we please have good document on the deployment? This is critical for pipeline deployment to rely on it.

Some of the missing piece I see are

- what parameters are available?  --platform gcp is not mentioned in the document
- what GKE version is supported?
- I need to create a clusterrolebinding to bind my google account to cluster admin to deploy

[2018-11-14 10:06] IronPan opened #1950 "user-gcp-sa secret not show up with --platform gcp"
I was following kubeflow quick start https://www.kubeflow.org/docs/started/getting-started/
with following commands
[code]

I am expecting to see user-gcp-sa secret but it's not showing up
[code]

Did I miss anything?

[2018-11-14 21:33] richardsliu commented on #1584
@johnugeorge Is there anything left to do for Pytorch?

[2018-11-14 21:34] texasmichelle opened #1953 "Fix Katib image tags in v0.3-branch"
Outstanding question from #1903 for @YujiOshima @richardsliu

Is the fix for v0.3-branch to revert the use of the untagged image to katib/studyjob-controller:v0.1.2-alpha-45-g3dce496 or to use a newly generated tag consistently for every image in all.jsonnet?

[2018-11-15 01:53] rogaha commented on #218
The next `Docker for Mac` release will contain this patch (https://github.com/moby/vpnkit/pull/432) which allows us to use `Kubeflow` locally without any problems.

[2018-11-15 02:39] ofaz commented on #1389
Hey all - hope this is of some assistance.

@jlewi I ran into the same issue described here and I was able to overcome it by utilising the second method - I commented out the GPU node pool as defined in the` cluster.jinja` file. I had attempted to use your first method, of setting `gpu-pool-max-nodes` to 0 however that throws the error:
`message: '{"ResourceType":"container.v1.nodePool","ResourceE

[2018-11-15 06:53] johnugeorge commented on #1584
Only thing left is to create and add new pytorch image to ksonet.  I will add it soon.   Rest all items are completed

[2018-11-15 17:29] ashahba commented on #1922
Thanks @kkasravi for raising this.
It'll be nice to start with a base KF cluster and also be able manage dependencies for each component in a cleaner fashion.

As an end user I prefer being able to only deploy parts that I need rather than the whole stack with many components that I usually don't need.

[2018-11-15 20:12] #1936 closed

[2018-11-15 23:38] #1036 closed

[2018-11-16 00:48] texasmichelle commented on #1953
Resolved in #1955

[2018-11-16 00:48] #1953 closed

[2018-11-16 01:29] ashahba opened #1960 "Intermittent presubmit test failures"
While working on #1923 I experienced some runs took longer than usual and eventually failed for no obvious reason although all `14 tests` required for the PR passed 🤔

Here is one sample run:
https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/1923/kubeflow-presubmit/4336/

But looking at `argo` logs for `build-1-9-0-cpu(0)` I see:

[code]

[2018-11-16 01:31] ofaz commented on #1950
I believe the secrets (at least the admin secrets that I ran into trouble with in a similar fashion) are generated during the `${KUBEFLOW_SRC}/scripts/kfctl.sh generate platform` and `${KUBEFLOW_SRC}/scripts/kfctl.sh apply platform` steps listed in the GKE getting started https://www.kubeflow.org/docs/started/getting-started-gke/

Try giving these a run prior to running the `apply k8s` steps.

For

[2018-11-16 01:45] ashahba commented on #1871
@jlewi and @matthen
The changes to revert my bad commit for https://github.com/kubeflow/website/pull/256 and update the docs so that it's more clear around environment variables went in during: https://github.com/kubeflow/website/pull/277

So should we still keep this bug around or we can mark it as resolved?

[2018-11-16 19:33] jlewi commented on #1898
It might be helpful to split this up into separate issues.

The KUBEFLOW_REPO issue in the docs looks like #1871 and might be fixed.

[2018-11-16 20:19] jlewi commented on #1898
download.sh complaining about directory already exists was fixed in #1873 on master; but it hasn't been cherry-picked onto 0.3.

[2018-11-16 20:23] jlewi commented on #1898
Adding ksonnet as a prerequisite to the docs seems like a good idea. A PR would be fantastic.

kfctl.sh should check if ks and other dependencies are installed and if not provide users with an error;
https://github.com/kubeflow/kubeflow/blob/v0.3-branch/scripts/kfctl.sh#L204

[2018-11-16 20:32] jlewi commented on #1898
That sounds great.

Any of the options for pyyaml seem reasonable to me.

I think the long term fix here is replacing kfctl.sh with a go binary (#1419).

[2018-11-16 20:33] jlewi commented on #1739
I think the long term fix here is to replace kfctl.sh with a go binary #1419.

[2018-11-16 20:34] jlewi commented on #1898
We also provide a click to deploy app now but need to add it to the docs; kubeflow/website#278. This avoids the need to install anything locally and thus bypasses a lot of these issues.

[2018-11-16 21:09] jlewi commented on #1871
LGTM. I think we can close this.

[2018-11-16 21:09] #1871 closed

[2018-11-16 21:39] jlewi commented on #1949
@IronPan It looks like in your original issue. You didn't run the generate & apply steps for the platform steps.

If you don't run those steps then you would need to setup all the GCP infrastructure (e.g GKE cluster) yourself.

As @kunmingg mentions above the recommendation is to follow our GCP instructions so that kfctl creates all the GCP infrastructure.

[2018-11-16 21:39] #1949 closed

[2018-11-16 21:42] jlewi opened #1961 "ksonnet cleanup don't merge "params and env""
See:
https://github.com/kubeflow/kubeflow/pull/1939#issuecomment-439294400

A lot of our ksonnet components do

[code]

This is a legacy workaround to deal with the fact that ksonnet didn't support accessing the namespace through environment so we had to work around it by setting namespace in params.

We should just access the namespace in "env".

I think we should generally avoid passing namespac

[2018-11-17 22:56] jlewi commented on #1027
I'm going to close this issue because I think we should assume BAC is supported. We can reopen and revisit if we have specific clear cases we'd like to support in which RBAC is not supported.

[2018-11-17 22:56] #1027 closed

[2018-11-17 22:59] jlewi commented on #1914
@ashahba Which version of kfctl.sh is needed to pass zone as a command line flag? Is that supported in 0.3.1 or is a newer version needed?

[2018-11-17 23:02] jlewi commented on #1413
@lluunn Is ISTIO 1.0 now supported?

[2018-11-17 23:04] jlewi commented on #1214
@pvsousalima Shall we go ahead and close this issue?

[2018-11-17 23:04] #1214 closed

[2018-11-17 23:05] jlewi commented on #672
Closing this issue as stale.

[2018-11-17 23:05] #672 closed

[2018-11-17 23:06] jlewi commented on #294
Closing this as stale.

[2018-11-17 23:06] #294 closed

[2018-11-17 23:09] #1950 closed

[2018-11-17 23:15] jlewi commented on #1947
Is the issue hiding gRPC vs. REST from the user?

TFServing already exposes REST and gRPC endpoints. Seldon core I believe does the same.

We already have a reverse proxy with Ambassador that allows serving multiple endpoints behind a common ingress and we are investigating using ISTIO more.

Does envoy provide some generic support for proxying gRPC to REST and vice versa?

The different framework

[2018-11-17 23:16] jlewi commented on #1950
Duplicate of #1949

[2018-11-18 11:47] zxsimple opened #1964 "Error persistentvolumeclaim "nfs" not found while host model from NFS"
Follow [Serve a local model using Tensorflow Serving](https://github.com/kubeflow/kubeflow/blob/a8c0dda2f2d90bae67497652211cc6224c8f73cd/components/k8s-model-server/Serve%20a%20local%20model%20using%20Tensorflow%20Serving.md#serve-a-local-model-using-tensorflow-serving) to host inception model from NFS I got _persistentvolumeclaim "nfs" not found_ Error.

`kubectl get pv`
[code]

`kubectl get pvc`

[2018-11-18 22:04] amalow commented on #1947
Not so much hiding gRPC vs REST from the user but the frameworks underlying the service, does an end-user need to know a model is being served out of Seldon Core vs TF Serving. That being said it would be troublesome from a common interface standpoint if some endpoints could do both and others could do only REST.

It appears that envoy [does](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_

[2018-11-19 03:31] jlewi commented on #1413
I don't think #1309 has anything to do with installing ISTIO. The issue in #1309 is that if we want to split traffic to models using ISTIO then the client sending the requests has to be inside the service mesh.

[2018-11-19 03:32] amalow commented on #1947
Agreed, is it worth moving this to #102 to revive discussion?

[2018-11-19 04:18] jlewi commented on #1389
Thanks @ofaz

This should be fixed at head.
https://github.com/kubeflow/kubeflow/blob/41050ef854948600ef7f922f2a3c295b60b1f7c0/deployment/gke/deployment_manager_configs/cluster.jinja#L115

We no longer add the GPU node pool if max gpu nodes is 0.

The change isn't on the 0.3 branch
https://github.com/kubeflow/kubeflow/blob/dddba26893846041b7cee25ee6121e02a04bd503/scripts/gke/deployment_manager_con

[2018-11-19 04:20] jlewi commented on #218
I think we can close this issue once

#1954 is submitted

The website is updated with instructions for using Docker for Mac.

[2018-11-19 04:21] jlewi commented on #1711
Thanks @ashahba.

@prateek1192 if you're still having problems feel free to reopen this issue or a new one.

[2018-11-19 04:21] #1711 closed

[2018-11-19 04:33] jlewi commented on #1912
If you are using GCFS there should be two PVCs.

There should be 1 PVC that will be used for /home/jovyan.

Then there will be a second PVC for GCFS.

@IMBurbank  the output in your previous [comment](https://github.com/kubeflow/kubeflow/issues/1912#issuecomment-436468007) suggests there is no PVC created corresponding to GCFS.

Did you follow these instructions
https://www.kubeflow.org/docs/guide

[2018-11-19 04:34] #521 closed

[2018-11-19 04:34] jlewi commented on #521
- Thanks @pdmack

[2018-11-19 04:35] jlewi commented on #451
@thomasSve I would suggest looking at using kubeflow/pipelines to define workflows that train and deploy models.

[2018-11-19 04:36] #560 closed

[2018-11-19 04:46] jlewi commented on #151
This is great thanks.

[2018-11-19 04:46] jlewi commented on #1724
@kavemun were you able to resolve this?

[2018-11-19 04:49] saiakhil2012 commented on #1724
@kavemun were you able to solve this? or is there a workaround to make it work for now?

[2018-11-19 04:50] jlewi commented on #1796
Can't you solve this by not having the chief exit until all workers completed?

It sounds like the issue is constructing the appropriate exit-criterion for the chief. In your case, it sounds like you want all workers to do a complete pass through the data before it terminates.

There's lots of ways you could instrument this.

For example, you could have each worker write a sentinel file when its d

[2018-11-19 04:51] jlewi commented on #1859
@jiezhang Can you share more about why you made that decision?

[2018-11-19 04:52] jlewi commented on #1710
@leoncamel Were you able to resolve this? Were you running into #1900?

[2018-11-19 04:54] #1883 closed

[2018-11-19 05:59] zxsimple commented on #1964
Fixed by adding `namespace` and `storageClassName`.
- pv.yaml
[code]
- pvc.yaml
[code]

[2018-11-19 05:59] #1964 closed

[2018-11-19 06:35] ofaz commented on #1389
@jlewi awesome! Thank you mate.

[2018-11-19 06:59] cliveseldon commented on #1947
There are two obvious options. Keep the same different APIs and have a unified API in front and then a translation step to forward requests. This is what we have done so far in Seldon which supports [OpenVINO](https://github.com/SeldonIO/seldon-core/tree/master/examples/models/openvino), [TensorRT](https://github.com/SeldonIO/seldon-core/tree/master/integrations/nvidia-inference-server), [TFServin

[2018-11-19 14:28] jlewi opened #1965 "Create a pipelines ksonnet package"
We should create a ksonnet package to deploy kubeflow.

There's a ksonnet package here:
https://github.com/kubeflow/pipelines/tree/master/ml-pipeline/ml-pipeline

So we just need to copy or move it to our main registry.

/assign @IronPan

[2018-11-19 14:31] jlewi opened #1966 "Deploy pipelines as part of kfctl.sh"
We'd like to deploy pipelines using kfctl.sh

Once #1965 is fixed, we just need to add the appropriate ksonnet commands to kfctl.sh

This should largely be the commands in
https://github.com/kubeflow/pipelines/blob/master/ml-pipeline/kf_deploy.sh

[2018-11-19 14:32] jlewi commented on #1966
/assign @IronPan

[2018-11-19 14:32] charlesa101 commented on #1858
+1

[2018-11-19 14:43] jlewi opened #1967 "Integrate pipelines into Kubeflow click to deploy"
We'd like to be able to deploy pipelines with Kubeflow click to deploy web app.

I think this is blocked on #1965 (create a pipelines ksonnet package).

Once we have that package I think we'll need to

1. Cherry pick it onto the 0.3 branch
    * We should probably cherry pick the fix to #1966 (kfctl.sh support) as well
1. Create a new RC
1. Update the click to deploy app to use the new release

Al

[2018-11-19 14:47] jlewi opened #1968 "Install pipelines SDK in Jupyter images"
We should install the pipelines SDK in our Jupyter images so that pipelines can be used.

/assign @qimingj

[2018-11-19 15:01] jlewi commented on #1471
/cancel-priority p0
/priority p2

[2018-11-19 18:01] jlewi commented on #1655
@kunmingg Is this done?

[2018-11-19 18:03] kunmingg commented on #1655
fixed by https://github.com/kubeflow/kubeflow/pull/1893

[2018-11-19 18:03] #1655 closed

[2018-11-19 18:08] jlewi commented on #1857
@r2d4 It looks like you submitted; https://github.com/kubeflow/fairing/pull/9.

What are the next steps here?

[2018-11-19 18:10] jlewi commented on #1240
@r2d4 What are the next steps here? Can we just use the K8s client library to fire off TFJobs from a notebook? Do we need a higher level SDK to make this easy?

[2018-11-19 18:39] lluunn commented on #1413
https://www.kubeflow.org/docs/guides/components/istio/

The instruction here is updated for Istio 1.0

[2018-11-19 18:51] lluunn opened #1969 "Expose Istio's grafana dashboard"
Similar to https://github.com/kubeflow/kubeflow/issues/644
But now for the Istio 1.0.

[2018-11-19 20:09] richardsliu opened #1970 "Kfctl delete should clean up GCE instance groups"
Right now deleting a cluster doesn't clean up compute instance groups. This means we can easily run out of quota.

[2018-11-19 23:29] leigh-johnson commented on #1854
I walked through the setup currently documented @ [MicroK8s for Kubeflow](https://www.kubeflow.org/docs/started/getting-started-multipass/) and reproduced the issues in the OP using:

* Host machine: MacOS 10.13.6
* Multipass 2018.6.1
* Ubuntu 18.04 via dockerhub
* Kubernetes v1.12.2 (via microk8s 1.12/beta release channel)

After I updated `install_kubeflow.sh` to follow the instructions document

[2018-11-20 02:06] kunmingg opened #1971 "[gcp-click-to-deploy]: migrate frontend configs & logics to backend"
To allow more diversity among different kubeflow versions:
* Backend should determine the [config of deployed ks apps](https://github.com/kubeflow/kubeflow/blob/master/components/gcp-click-to-deploy/manifest/kf_app.yaml#L12) by kubeflow version user choose.
* Backend should determine the set of APIs to enable by kubeflow version user choose, and take care the enabling logic.

[2018-11-20 04:20] jlewi opened #1972 "TFServing template needs to convert numGpus from string to int"
Here
https://github.com/kubeflow/kubeflow/blob/41050ef854948600ef7f922f2a3c295b60b1f7c0/kubeflow/tf-serving/tf-serving-template.libsonnet#L15

We compare numGpus to a string. This check will fail if numGpus is an integer.

We should be converting numGpus to an int always (since parameters can be strings) and then use integer comparison.

[2018-11-20 04:21] jlewi commented on #1972
/cc @lluunn

[2018-11-20 05:19] #1145 closed

[2018-11-20 10:29] dmrub opened #1976 "Cannot run jupyter pod with local mount on minikube"
I am getting following error when starting Jupyter Pod with admin user name:

[code]

Contents of minikube VM /mnt/local:

[code]

[2018-11-20 12:37] zxsimple opened #1979 "TF-Serving http-proxy error"
Follow [Kubernetes TensorFlow Model Server](https://github.com/kubeflow/kubeflow/blob/a8c0dda2f2d90bae67497652211cc6224c8f73cd/components/k8s-model-server/README.md) to setup inception model serving.

When I test with curl command I got internal 500 error.
[code]

Check the log output of http-proxy pod I got the error:
[code]

Please help.
@yupbank, @lluunn, @u2takey

[2018-11-20 12:53] zxsimple commented on #1979
What I found is that the code `/usr/src/app/server.py` is different inside of the pod to that in github latest branches.
The docker image is `gcr.io/kubeflow-images-public/tf-model-server-http-proxy:v20180606-9dfda4f2`

[2018-11-20 13:10] zxsimple commented on #1979
Same problem after I upgrade the image to `tf-model-server-http-proxy:v20180918-faea44af`, still the problem just occur at line 247

[code]

[2018-11-20 13:15] zxsimple commented on #1979
Seems related to pull #334

[2018-11-20 19:14] lluunn commented on #1979
It should be a mismatch between model and input.
I think the model is expecting input to have key 'inputs', so one thing to try is to replace "image_contents" with "inputs"

Also, that README is somewhat outdated. You can find newer doc
[here](https://www.kubeflow.org/docs/guides/components/tfserving/), and a even newer but WIP
doc [here](https://www.kubeflow.org/docs/guides/components/tfserving_n

[2018-11-20 21:01] #1739 closed

[2018-11-20 21:44] lluunn commented on #1972
I thought ksonnet params are always string type?

[2018-11-20 22:00] #1769 closed

[2018-11-20 22:44] rogaha commented on #218
awesome, thanks for the heads up @jlewi.

[2018-11-20 22:45] rogaha commented on #218
@jlewi can you share the link to those instructions? Thanks in advance.

[2018-11-21 01:00] zxsimple commented on #1979
After changing the json key I got another error:

The http-proxy side:
[code]

The tensorflow-serving side:
[code]

[2018-11-21 04:13] sreenivasmrpivot opened #1982 "Error creating object: Service "vizier-core""
I get the below error when I install kubeflow on AKS.

INFO Creating non-existent services kubeflow.vizier-core
ERROR handle object: creating object: creating object: Service "vizier-core" is invalid: spec.ports[0].nodePort: Invalid value: 30678: provided port is already allocated

I installed kubeflow using the below commands after pulling the latest source code.

kfctl.sh init KfApp --platform n

[2018-11-21 07:49] IronPan commented on #1949
Thanks guys I think it works after I switch to use the instruction here
https://www.kubeflow.org/docs/started/getting-started-gke/#deploy-kubeflow-on-kubernetes-engine

[2018-11-21 13:12] jokerwenxiao opened #1983 "the information of "tfReplicaStatuses" is none when tfjob is in In termination state"
I usually use "tfReplicaStatuses" to judge the state of a tfjob. but after I deployed kubeflow 0.3.3, the information of "tfReplicaStatuses" is none, I can't get any useful information at all. The situation is as follows

1. When tfjob runs successfully

"tfReplicaStatuses":{
          "PS":{},
           "Worker": {}
}

2. When tfjob fails

"tfReplicaStatuses":{
          "Chief": {}
          "M

[2018-11-21 23:13] lluunn opened #1985 "Missing scope in CRD spec?"
I was trying [Gitop deployment](https://www.kubeflow.org/docs/guides/gitops-for-kubeflow/),
and got error when applying:

[code]

[2018-11-21 23:14] lluunn commented on #1985
https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#create-a-customresourcedefinition

Seems there should be a scope field in CRD spec, but not sure how we didn't get error.
Maybe because I am using k8s 1.11 here.

[2018-11-21 23:14] lluunn commented on #1985
Similar to #1524

[2018-11-22 16:16] jlewi commented on #1524
@kunmingg @kkasravi has this been fixed?

[2018-11-22 16:17] jlewi commented on #1985
@lluunn Are you deploying from master branch?

Any idea why are tests aren't catching this?

[2018-11-22 16:30] jlewi commented on #1524
I think there's still a bug in the CRD  spec.

https://github.com/kubeflow/kubeflow/blob/fee939dcfc4530629be93e54bebba226e0dfbdbb/kubeflow/tf-training/tf-job-operator.libsonnet#L52

The scope in the CRD definition should always be namespace. TFJobs are always namespace scoped; meaning TFJob resources belong to a namespace.

The scope refers to parameters for the controller; depending on the parame

[2018-11-22 17:13] jlewi commented on #1985
For pytorch looks like we might not be setting scope;
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/pytorch-job/pytorch-operator.libsonnet

I suspect we might have been relying on the default value but with 1.11 things change.

[2018-11-22 19:08] jlewi opened #1988 "Better testing output for jsonnet"
Right now are jsonnet tests work by having a jsonnet file that does std.assertEqual to raise an error.

This makes it very difficult to debug test failures. The output ends up being something like.

[code]

A better solution would be to output pretty formatted objects that make it easy to see actual and expected.

We can accomplish this by outputting a json object representing a test suite

[code]

[2018-11-22 19:09] jlewi commented on #1988
/assign @jlewi

[2018-11-23 02:10] 372046933 commented on #1796
Thank you. It can be solved by manual checking.

[2018-11-23 19:34] #1985 closed

[2018-11-23 22:08] apurva3000 commented on #1915
Is it possible to run this without the cluster-admin privs in future ? We have an openshift cluster running in our organization and I happen to be a normal user, without any admin privs. Now, we really want to try KubeFlow but are unable to do so.

[2018-11-24 16:03] etheleon commented on #344
Thanks @cquptEthan for the solution.

For those who just got started with kubernetes in general. Here's what you need to do

[code]

You'll need to add `8.8.8.8` at two places

[code]

[2018-11-24 20:56] jlewi opened #1990 "Ingress and ArgoCD"
We should figure out how to configure ingress and Kubeflow networking with ArgoCD.

See docs:
https://github.com/argoproj/argo-cd/blob/master/docs/ingress.md

By default ArgoCD expects to terminate TLS. That makes sense when ArgoCD is directly exposed (e.g. via LoadBalancer). But in our case it might make more sense to put it behind the same proxy and ingress we use for all of Kubeflow. In which c

[2018-11-24 22:12] Jeffwan opened #1991 "Can not deploy kubeflow on docker-for-kubernetes"
I following official documentation https://www.kubeflow.org/docs/started/getting-started/ to deploy v0.3.1 kubeflow on kubernetes on my MacOS. I use kubernetes in docker edge.

ksonnet version: 0.13.0
jsonnet version: v0.11.2
client-go version: kubernetes-1.10.4

[code]

After that, get messages
[code]

[2018-11-25 00:12] Jeffwan commented on #1991
BTW, I tried v0.2.5 and it's working fine

[code]

[2018-11-25 05:35] magick93 opened #1993 "Installation woes - ./kfctl.sh: line 189: env.sh: No such file or directory"
Hello

I previously ran into the issue described on https://github.com/kubeflow/kubeflow/issues/1530 - but then tried using a relative folder, and was able to successfully run `${KUBEFLOW_SRC}/scripts/kfctl.sh init ${KFAPP} --platform none`.

However, the next command again failed with a `No such file or directory` error.

[code]

However, in the actually a `env.sh` file:

[code]

[2018-11-26 07:16] johnugeorge commented on #1584
@jlewi All changes are merged. We can close this now.

[2018-11-26 16:04] jlewi commented on #1966
#1981was submitted.

@IronPan is there more to do here?

[2018-11-26 16:05] jlewi commented on #1965
#1973 added a pipeline registry
#1981 added pipelines to kfctl.sh

@IronPan Is there more to do here?

[2018-11-26 16:22] jlewi commented on #1870
If the job name is invalid it should never be created. What is the proper way to handle this kind of validation with CRDs?

[2018-11-26 16:29] jlewi commented on #1584
Woo Hoo!
Thanks @johnugeorge

[2018-11-26 16:29] #1584 closed

[2018-11-26 17:03] jlewi commented on #34
/assign @ioandr
/unassign @pdmack

@ioandr has #1918 which I believe will fix this issue.

[2018-11-26 17:05] r2d4 commented on #1857
We need to cut a release, publish the the pip, and install it in our default notebook images in kubeflow.

The repository should be working by itself now so any feedback would be appreciated!

[2018-11-26 17:08] r2d4 commented on #1240
The fairing code is a small python library that needs to be installed in the notebook image. It handles both building the image (through kaniko, docker, or the “append” strategy) and deploying to TFJob

[2018-11-26 17:13] jlewi opened #1994 "Use ISTIO to restrict access to Jupyter Notebooks"
Background: #1630

We would like to use ISTIO to secure access to Jupyter notebooks. This is part of the larger effort (#1630) to replace JupyterHub with a set of Cloud Native microservices to manage notebooks.

I think what we want to do is be able to spawn notebooks for each user in their own namespace. We can then rely on RBAC to restrict access to the K8s resources.

However, we still need a w

[2018-11-26 17:18] jlewi opened #1995 "Jupyter notebook manager UI that uses the new CRD"
Background: #1630 replace JupyterHub with a set of Cloud Native Microservices.

@kkasravi recently added a lightweight CRD for managing Jupyter notebooks. The next step would be to adapt our UI for launching/managing Jupyter notebooks to use the CRD.

[2018-11-26 17:20] jlewi commented on #1630
Filed some more specific issues #1994 and #1995.

I think the next step would be to write a design doc summarizing this issue and providing a complete picture of what a solution that doesn't involve JupyterHub.

Lets use this issue to track writing the doc and close it when we have such a doc.

[2018-11-26 17:39] jlewi commented on #1117
@dsdinter @johnugeorge Any interest in picking this up? @dsdinter's example was committed so it should be relatively straightforward to port this over to our docs?

[2018-11-26 17:42] jlewi commented on #1909
@lluunn What is the remaining work to be done to close out this issue?

[2018-11-26 17:43] dsdinter commented on #1117
Happy to pick it up, have a bit of backlog already but would be great to
contribute with the example.

Thanks.

On Mon, 26 Nov 2018 at 17:39, Jeremy Lewi <notifications@github.com> wrote:

--

David Sabater

davidsabater@google.com

Regional Customer Engineer

Mobile +44(0)7826532190

This email may be confidential and privileged. If you received this
communication by mistake, please don't forward

[2018-11-26 18:09] jlewi commented on #1419
@TheJaySmith are you still working on this? I think @ashahba and @kkasravi expressed interest in working on this?

Do we think we can get this done in time for 0.4 (which we will cut on 12/17) if not should we punt this to 0.5?

[2018-11-26 18:12] jlewi commented on #1060
Closing this issue since we've committed a bunch of scripts to make this easier and there is no immediate follow on work.

[2018-11-26 18:12] #1060 closed

[2018-11-26 18:14] jlewi commented on #1807
#1847 added retry logic to activate the service account. I think this should fix the issue where service accounts don't work immediately.

@kunmingg Is there more work to do here or can we close this issue?

[2018-11-26 18:15] lluunn commented on #1994
cc

[2018-11-26 18:16] jlewi commented on #1616
@ashahba Any update on this? Do you think we can still get this done as part of 0.4?

[2018-11-26 18:29] jlewi commented on #42
Here's a list of the components still in the core package

ambassador
centraldashboard
cert-manager
cloud-endpoints
google-cloud-server
iap
prometheus
spartakus

So we basically have 2 types of components left

1. Common components
1. GCP specific components.

The GCP specific components should probably be moved into their own package.

For common components we have a couple options

1. Rename "co

[2018-11-26 18:31] jlewi opened #1996 "Move components in core into a GCP specific ksonnet package"
See #42

We should move the components in the core package that are GCP specific into their own ksonnet package.

/cc @kunmingg

[2018-11-26 18:33] jlewi commented on #1898
@IMBurbank it looks like most of the issues in your most recent [comment](https://github.com/kubeflow/kubeflow/issues/1898#issuecomment-439517322)

Is there more work to be done? Or can we close this issue?

[2018-11-26 18:35] jlewi commented on #1669
Downgrading to P2.

Since we plan on switching to a cli #1419 I think it makes sense to invest in that and then fix it in the CLI rather than updating kfctl.sh.

[2018-11-26 18:37] kunmingg commented on #1807
It's fixed

[2018-11-26 18:37] #1807 closed

[2018-11-26 18:44] lluunn commented on #1524
This is fixed in #1987

[2018-11-26 18:44] #1524 closed

[2018-11-26 19:03] rogaha commented on #218
ping @jlewi

[2018-11-26 19:04] IronPan commented on #1965
Fixed by
https://github.com/kubeflow/kubeflow/pull/1973
https://github.com/kubeflow/kubeflow/pull/1981

[2018-11-26 19:04] IronPan commented on #1965
@jlewi I think that's it. Marked this as completed

[2018-11-26 19:06] IronPan commented on #1967
The code change is done by https://github.com/kubeflow/kubeflow/pull/1981

I think @kunmingg is helping out with new RC.

[2018-11-26 19:06] IronPan commented on #1966
This can be closed as the work is done and tested by
https://github.com/kubeflow/kubeflow/pull/1981

[2018-11-26 20:13] lluunn commented on #1994
related: #1907

[2018-11-26 20:13] lluunn commented on #1907
notebook: #1994

[2018-11-26 20:20] pdmack commented on #1254
Is there still interest in rebasing this and adding it to Kubeflow?

[2018-11-26 21:06] ellis-bigelow opened #1997 "Create a Knative Serving component"
Knative serving allows for a "serverless" experience for scaling deployments. Kubeflow can leverage Knative to provide a serverless prediction component that integrates with Kubeflow's Istio networking.

[2018-11-26 21:14] ellis-bigelow commented on #1997
/assign ellis-bigelow

[2018-11-27 00:34] kkasravi commented on #1630
sounds great, thanks @jlewi

[2018-11-27 01:33] TheJaySmith commented on #1419
Yep, sorry, just got a little delayed. I will upload a README. Let's get this for 0.4!

[2018-11-27 06:38] qimingj commented on #1968
Basically we need to install KFP SDK on all images (probably https://github.com/kubeflow/kubeflow/tree/76107ff3aa7f9fde6fd7f15f2ec0a69a35874efa/components/tensorflow-notebook-image).

We are finalizing a few things in SDK and I will cut a new release later this week or early next week. Then we can start the integration.

What's the release cadence of these images?

[2018-11-27 14:09] janvdvegt commented on #1993
After a lot of struggles I got it to run by manually cloning the repository, setting the KUBEFLOW_SRC with an absolute path and KFAPP with a relative path and running everything from the shared folder one above both KUBEFLOW_SRC and KFAPP.

[2018-11-27 15:33] dsdinter commented on #1117
/assign @dsdinter

[2018-11-27 15:35] janvdvegt opened #2001 "ksonnet runtime error Seldon"
After installing and deploying kubeflow core to GCP, I am trying to install seldon core. After installing the component using:

`ks generate seldon seldon`

When I apply or show the manifest I get a RUNTIME ERROR:

	ERROR find objects: RUNTIME ERROR: Unexpected type array, expected object
	<std>:1182:5-33	builtin function <objectHasEx>
	vendor/kubeflow/application/application.libsonnet:192:12-46	o

[2018-11-27 16:44] cliveseldon commented on #2001
Can you point to the docs and version of kubeflow you are using so we can debug?

You could try to [install seldon directly](https://github.com/SeldonIO/seldon-core/blob/master/docs/install.md) until we can get to the bottom of this.

[2018-11-27 16:49] janvdvegt commented on #2001
ksonnet version: 0.13.0
jsonnet version: v0.11.2
client-go version: kubernetes-1.10.4

Following this guide: https://www.kubeflow.org/docs/started/getting-started-gke/ however the download script is not functional for me so I cloned the repository directly. I'm using the master version. Thank you for helping!

[2018-11-27 16:53] janvdvegt commented on #2001
I removed the component and installed it via that guide and I'm having the exact same issue.

[2018-11-27 17:30] cliveseldon commented on #2001
OK. This might be a ksonnet version change. If you could see if it works for 0.12 ksonnet?

[2018-11-27 18:52] IMBurbank commented on #1898
Sorry for the delay, just getting back into the swing of things after the break.

I plan to put in one more PR, but the changes will only impact documentation in the [kubeflow/website](https://github.com/kubeflow/website) repo. I don't think it's necessary to keep this open to track the doc changes. I'll refer back to this issue when I create the PR.

[2018-11-27 22:08] edwardspc commented on #1929
Same problem, but solved with ksonnet v0.13.1 : )

[2018-11-28 03:36] jlewi opened #2005 "Expose ArgoCD UI server behind Ambassador proxy"
We should expose ArgoCD behind the Ambassador reverse proxy.

Hopefully this is just a matter of adding an appropriate annotation to the K8s service.

One complication is that I think Ambassador in 0.3 might only be configured to monitor the namespace its deployed in. I think @kkasravi fixed this on master so in 0.4 it should be able to monitor all namespaces.

[2018-11-28 10:18] janvdvegt commented on #2001
With ksonnet version 0.13.1 the ksonnet example from the Seldon core repo is working, I deleted my GKP cluster and reinitialized it, let me see if I can get it working in kubeflow now.

[2018-11-28 10:56] cliveseldon commented on #2001
Very strange. Hope you can isolate the differences so we can fix this.

[2018-11-28 11:33] dsdinter commented on #2001
@janvdvegt can you try by checking out Kubeflow tag **v0.3.1** to see if that fixes the issue?

[2018-11-28 11:34] janvdvegt commented on #2001
Yeah I will try that now

[2018-11-28 11:43] dsdinter commented on #1993
Hi,
I believe you missed to change directory to run the next command from ${KFAPP} hence the error not finding env.sh

https://www.kubeflow.org/docs/started/getting-started/#kubeflow-quick-start
"
${KUBEFLOW_SRC}/scripts/kfctl.sh init ${KFAPP} --platform none
cd ${KFAPP}
${KUBEFLOW_SRC}/scripts/kfctl.sh generate k8s
${KUBEFLOW_SRC}/scripts/kfctl.sh apply k8s
"

Can you try again following the inst

[2018-11-28 12:10] janvdvegt commented on #2001
That does fix the issue @dsdinter also with ksonnet 0.13.1

[2018-11-28 12:44] dsdinter commented on #2001
Great, feel free to close this issue if you believe is solved.

Thanks.

[2018-11-28 12:49] janvdvegt commented on #2001
Well I would like to use the newer versions of Kubeflow together with seldon if possible and I assume I'm not alone in that?

[2018-11-28 14:19] dsdinter commented on #2001
Thanks, I can confirm the issue happens with master after generating the Seldon component.
@cliveseldon @kkasravi I tested and seems the error has been introduced by #1829

[2018-11-28 17:32] kkasravi commented on #2001
@janvdvegt ks 0.13.1 should be fine.
The error is related to generating an Application CR.
I'll submit a PR.  Let me find a workaround.
Which version of kubeflow are you on?

[2018-11-28 17:47] janvdvegt commented on #2001
I'm on master again now

[2018-11-28 18:43] kkasravi opened #2006 "trying to deploy a component using ks after initial deployment fails"
Here is the sequence of commands to generate this error
[code]

Error output is
[code]

[2018-11-28 18:49] kkasravi commented on #2001
opened #2006

@janvdvegt thanks for finding this.
I'll close both issues when the PR is merged.

[2018-11-28 20:01] IronPan commented on #1968
@jlewi could you confirm this the right place to pip install the DSL?
https://github.com/kubeflow/kubeflow/blob/76107ff3aa7f9fde6fd7f15f2ec0a69a35874efa/components/tensorflow-notebook-image/Dockerfile

The SDK release is currently part of pipeline deployment. So the release process would be
1. cut a pipeline release 2. update the jupyter dockerfile and ks registry 3. cut a kubeflow release

does t

[2018-11-28 20:10] kkasravi commented on #2001
kubeflow used to import namespace via params - it's actuall

[2018-11-28 21:13] abhi-g commented on #1968
@qimingj we can cherry pick into the v0.3.4 patch release

[2018-11-28 21:33] blsaws opened #2009 "Seems to be an issue in kfctl.sh re existence of dir ${DEPLOYMENT_NAME}"
The script creates dir ${DEPLOYMENT_NAME} then fails if it exists, a few lines later...
main() {
  if [ "${COMMAND}" == "init" ]; then
    DEPLOYMENT_NAME=${WHAT}
    parseArgs $*
    mkdir -p ${DEPLOYMENT_NAME}
    # Most commands expect to be executed from the app directory
    cd ${DEPLOYMENT_NAME}
    createEnv
    source ${ENV_FILE}
    # TODO(jlewi): Should we default to directory name?

[2018-11-28 22:01] kunmingg commented on #1968
@IronPan
here defines available images when start new notebook.
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/jupyter/ui/default/config.yaml
Can edit it once post-submit of https://github.com/kubeflow/kubeflow/pull/2008 is done

[2018-11-28 22:07] IronPan commented on #1968
/assign @IronPan

[2018-11-28 23:43] IronPan commented on #1968
I saw that the new notebook images are created with tag v-base-b5bfe47-920
Feel free to create a new release. Close this for now

[2018-11-29 06:59] jlewi commented on #2009
After creating the directory ${DEPLOYMENT_NAME} we cd into that directory.

So when we check if the directory exists we are in the newly created directory.

So I wouldn't expect this to actually cause the script to fail. The check for the directory exists should be spurious and can probably be deleted.

@blsaws What was the actual failure mode that you observed? Can you provide the full output of

[2018-11-29 07:33] kkasravi opened #2010 "create an e2e test that adds a component after `ks apply`"
#2001 exposed a use case where the user wanted to use ks commands to generate a new component, add it to the environment and deploy it. We need to add an e2e test similar to this [one](https://github.com/kubeflow/kubeflow/issues/2001#issuecomment-442553650).

[2018-11-29 07:42] #2001 closed

[2018-11-29 18:51] #1913 closed

[2018-11-29 19:31] IronPan opened #2012 "Grant kubeflow user service account CMLE permission"
Pipeline uses kubeflow user account to interact CMLE in a few scenarios, e.g. upload model to CMLE through jupyter notebook.

[2018-11-29 19:40] #1924 closed

[2018-11-29 21:15] rogaha commented on #218
@jlewi I've opened a ticket related to the documentation: https://github.com/kubeflow/website/issues/318. I wasn't able to find the instructions you mentioned in https://github.com/kubeflow/kubeflow/issues/218#issuecomment-439767431.

[2018-11-30 01:17] etheleon commented on #1882
I was not able to install kubeflow pipelines until I ran

[code]

[2018-11-30 14:53] janvdvegt opened #2021 "Argo UI not working"
I can submit Argo workflows and they are working, however when I am portforwarding to the Argo UI pod I am getting a blank screen. The source shows:

[code]

My Chrome browser throws a Javascript error `Uncaught SyntaxError: Unexpected token <` due to the fact that the Javascript script it is loading is the same as the root index page (which is HTML). This is with a two days old master of kubeflow

[2018-11-30 15:16] jlewi commented on #2021
If you're port-forwarding to the Argo UI then Kubeflow likely isn't involved here. So its probably an issue/question with Argo. Did you take a look at argoproj/argo to see if anyone is reporting similar issues?

/cc @jessesuen

[2018-11-30 15:16] jlewi commented on #1898
Thanks.

[2018-11-30 15:18] jlewi commented on #1898
@IMBurbank is there another issue tracking your proposed fixes? Lets have an issue open to track this changes; either this one or another one.

[2018-11-30 16:23] kkasravi opened #2022 "bootstrap golang modules"
- Move from glide to go modules (golang 1.11.2)
- Define a multistage build docker file (move Dockerfile.build into Dockerfile) that uses the gomodule cache
- Remove unused script start.sh
- Upgrade debug.sh, dlv.sh to use go modules
- Upgrade kubectl to v1.12.2
- Upgrade ksonnet to v0.13.1

[2018-11-30 16:42] kkasravi opened #2023 "Upgrade bootstrapper to use go modules"
go modules enable repeatable builds and allow easy updates to the dependency tree

- [ ] replace glide.{lock,yaml} with go.{mod,sum}
- [ ] change Docker to use GOLANG_VERSION=1.11.2
- [ ] do docker multi-build - move Docker.builder into Docker

[2018-11-30 17:18] kkasravi commented on #1961
/assign @kkasravi

[2018-11-30 18:47] kunmingg commented on #1971
Here is create body:
https://github.com/kubeflow/kubeflow/blob/master/components/gcp-click-to-deploy/src/DeployForm.tsx#L464

[2018-11-30 20:05] kunmingg opened #2024 "kfctl / deploy-app: kubeflow components deployment composability API discussion"
More and more use cases prefer only having components they want in their cluster instead of everything of kubeflow.
So it would be nice to have API / parameter / config file which defines what kfctl / deploy-app would deploy.

### The flexibility should not be per-component boolean control:
* there are lots of components, only some of them have self-explain names: not great user experience for beg

[2018-11-30 20:37] andreyvelich commented on #2021
You can access to ArgoUI only using Ambassador right now.
You can have a look at this: https://github.com/argoproj/argo/issues/716#issuecomment-433213190.

If you want to access ArgoUI without Ambassador, you need to delete this environment variable (https://github.com/kubeflow/kubeflow/blob/master/kubeflow/argo/argo.libsonnet#L161) from ArgoUI deployment in Argo Package.

[2018-11-30 20:54] kunmingg commented on #2024
@jlewi @kkasravi

[2018-11-30 21:35] kunmingg commented on #2024
related:
https://github.com/kubeflow/kubeflow/pull/2016
https://github.com/kubeflow/kubeflow/issues/2022

[2018-12-01 22:54] #1988 closed

[2018-12-02 01:38] masroorhasan opened #2027 "Broken links for k8s-model-server docs"
I was following the examples on serving examples (specifically [k8s-model-serving](https://github.com/kubeflow/kubeflow/tree/master/components/k8s-model-server)) and noticed broken links to docker and image components in the doc.

[2018-12-02 23:53] sasvaritoni opened #2029 "Auto-scaling for Seldon serving?"
Does Kubeflow provide any support for automatic scaling of Seldon components?

I would like to take advantage of the features provided by the Kubernetes Horizontal Pod Autoscaler (https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/) e.g. on a component generated with serve-simple-v1alpha2.
Can this be setup for Seldon deployments with Kubeflow?

[2018-12-03 05:02] 372046933 opened #2030 "Should limit the size of logs of tf_operator container"
I have a kubeflow deployment, after 4 months of usage, the  tf_operator containers used about 40GB of disk for logs storage. I know the logs can be directed to stderr to save disk space. But can we limit the size of the overall logs?

[2018-12-03 07:32] cliveseldon commented on #2029
There is an [open issue](https://github.com/SeldonIO/seldon-core/issues/277) for this on the seldon-core repo. Feel free to add your comments there as well.

[2018-12-03 12:58] kkasravi commented on #2024
@kunmingg @jlewi @ashahba

I like the concept of replacing ksonnet terminology with kubeflow's eg a 'service'. Your diagram captures a few kew features - like a 'service' can be nested. Not to bikeshed, but the term 'service' is awfully overloaded, what if we were to use a term like 'composite' or should we even stick with ksonnet's 'module'?

Would these services in the diagram be prebuilt so tha

[2018-12-03 12:59] gyliu513 opened #2031 "Upgrade ks to 0.13.1"
Pipieline is trying to upgrade ksonnet to 0.13.1 due to https://github.com/kubeflow/pipelines/issues/414 , it is better to upgrade ksonnet for kubeflow to 0.13.1 as well to keep consistent.

[2018-12-03 13:02] kkasravi commented on #2024
### kubeflow cli/api requirements
1. services composition can be changed before and after the internal `ks apply <env>`
1. a subset of prototypes and other services can be selected when creating a given service
1. parameters can be specified for any prototype when creating the service or after the service is created

[2018-12-03 14:07] kkasravi commented on #2024
### kfctl `service` usage

[code]

### Use cases

1. Create a core service that includes the prototypes core/{ambassador,centraldashboard,spartakus}
    **$** kfctl service create core 'core/{ambassador,centraldashboard,spartakus}'
[code]

1. Next, create a training service that includes the prototype tf-training/tf-job-operator
    **$** kfctl service create tf-training tf-training/tf-job-operato

[2018-12-03 14:12] kkasravi commented on #2024
@jlewi  - one possibility would be to add the `service` subcommand to kfctl.sh (I have this working in kfctl.sh) in which case it would be a 0.4.0 candidate - but only in kfctl.sh unless the UI could also do the equivalent @kunmingg

[2018-12-03 14:34] jlewi commented on #2024
This seems like we start going down the road of defining our own application management solution.

Specifically, it looks like we are trying to solve the dependency problem; e.g. user wants to install app A and B both of which depend on C. So how do we let the user install both A and B and then automatically install C.

Resolving the transitive dependencies of packages seems like a non-trivial pro

[2018-12-03 14:37] jlewi commented on #2022
Is this an issue a duplicate of #2024?

It seems like most of the discussion to figure out next steps is happening in #2024?

[2018-12-03 14:40] jlewi commented on #2024
To summarize, here's a possible list of concrete next steps

1. #1419 Replace kfctl.sh with a go binary
    * This unifies the CLI and service
1. Start using ksonnet modules to make it easier to manage groups of related components
1. Divide Kubeflow packages into Applications each with their own Application CRD
1. Investigate sig-apps plans for dependency management

[2018-12-03 15:02] #1965 closed

[2018-12-03 15:02] #1966 closed

[2018-12-03 15:04] jlewi commented on #1967
@kunmingg Any update on this?

[2018-12-03 15:09] jlewi commented on #1968
https://console.cloud.google.com/gcr/images/kubeflow-images-public/GLOBAL/tensorflow-1.11.0-notebook-cpu@sha256:d570b9351103056c2ea6b9509f27577c8a5f7a43803018852b28fb17f929f66a/details?tab=info

[2018-12-03 15:09] #1968 closed

[2018-12-03 15:44] sasvaritoni commented on #2029
Indeed, I did not notice that...
So i think we can close this one here.

[2018-12-03 15:54] mro-aaskandani commented on #410
Having similar issue with local auto-mount nfs server, I am trying to create a PV like this:

[code]
I tried both "127.0.0.1" and "localhost" but I was not able to Spawn server.
Any idea how to use an auto mount nfs server on a local 5 node cluster?

[2018-12-03 17:17] kkasravi opened #2033 "Add ngraph example"
Add an example of ngraph under kubeflow/examples

- [ ] Provide link to ngraph and overview of [ngraph](https://ai.intel.com/intel-ngraph/)
- [ ] Provide an e2e example including the dockerfile
- [ ] Include tensorboard in the e2e example with screen shots of ngraph info

[2018-12-03 18:18] nkpng2k commented on #1254
@pdmack Yes, but will need some additional fiddling now and retesting. Will be working on it this week.

[2018-12-03 18:20] jlewi commented on #1857
@r2d4 Any update on this? Should this be part of the 0.4 release process?

Would it be easier from a release perspective if our Jupyter images did a pip install using an http link to the fairing source? Then our Docker images could pin a specific version of the fairing lib pretty easily and we can cut out the step of publishing a pip package. (Though we might still want to publish a pip package).

[2018-12-03 18:22] jlewi commented on #1240
@r2d4 So can we go ahead and close this issue?

[2018-12-03 18:30] r2d4 commented on #1857
Yes to 0.4

Yes to http link. We can also publish a pip package but it will be much easier for us to reference by commit SHA and source.

[2018-12-03 18:30] jlewi commented on #1995
@vkoukis Has volunteered Arrikto to work on this next but this will likely be a non-trivial amount of work.

[2018-12-03 18:32] jlewi commented on #1806
There's been a lot of back and forth between NVIDIA and @pdmack
Looks like we are hitting driver versioning issues on GKE at least.
It looks like the GKE drivers are to old and need to be updated.

@pdmack Do you want to say anymore about this?

[2018-12-03 18:39] jlewi commented on #1731
Should we punt this to 0.5? We've explored various ideas but I don't think we have anything concrete planned at this point.

[2018-12-03 18:41] jlewi commented on #1860
@mpvartak @YujiOshima @gaocegege; anyone working on this?

[2018-12-03 18:49] jlewi commented on #1472
I'm punting this to 0.5.

This is going to be blocked on some other discussions and I don't think there is sufficient traction to get anything done in time for 0.4

[2018-12-03 19:00] mpvartak commented on #1860
Yep! We got the kssonnet figured out. Please watch for a PR to ModelDB in
the next day or two.

On Mon, Dec 3, 2018 at 10:41 AM Jeremy Lewi <notifications@github.com>
wrote:

[2018-12-03 19:09] vkoukis commented on #1995
@jlewi we would be happy to contribute code for this.

The general idea is: What is the minimum amount of code required to expose a very thin UI, as a microservice, which will then emit instances of @kkasravi 's Notebook CRD, as implemented in https://github.com/kubeflow/kubeflow/pull/1855?

Per the discussion at https://kubeflow.slack.com/archives/C7REE0EHK/p1543787456017300, here is a draft plan

[2018-12-03 19:16] jlewi commented on #1972
@lluunn It depends on how the parameters are set; if they are set via `ks param set` they will be string. But user could also directly edit params.jsonnet and then it might be an int.

[2018-12-03 19:17] jlewi commented on #1894
I think we should punt to 0.5.

[2018-12-03 19:18] jlewi commented on #1861
Anyone working on this? If not should we punt to 0.5?

[2018-12-03 19:19] jlewi commented on #1858
Anyone working on this?
Should we punt to 0.5?

[2018-12-03 19:33] jlewi commented on #1735
@ashahba any update on this?

Do you think we will get this done by Dec 17 which is when we want to cut the 0.4 RC?

Does it make sense to wait until we switch to a go based CLI #1419 ? In which case should we punt to 05?

[2018-12-03 19:35] jlewi commented on #1591
Punting to 0.5. We won't have the options to make this improvement to our release/test infra in time for 0.4.

[2018-12-03 19:38] jlewi commented on #1452
@cliveseldon Any movement on this? If not perhaps we can punt to 0.5?

[2018-12-03 19:38] jlewi commented on #1451
Should we punt this to 0.5?

[2018-12-03 19:39] jlewi commented on #1433
Anyone working on this?
Should we punt to 0.5?
https://github.com/kubeflow/kubeflow/issues/1433

[2018-12-03 19:43] kunmingg commented on #2024
Really like ksonnet module: updated previous text.
Can we have
```ks generate --config=/path/to/ks_module_list.yaml```?
Just list modules user want in config, so this config would be compatible with different kubeflow versions:
each module's scope defined in each kubeflow version.

[2018-12-03 19:44] jlewi commented on #1444
Anyone working on this?

Should we punt to 0.5?

/cc @richardsliu

[2018-12-03 19:46] cliveseldon commented on #1452
Will try to look over next few days.

[2018-12-03 19:53] jlewi commented on #1057
Anyone working on this?
Should we punt this to 0.5?

[2018-12-03 20:55] ashahba commented on #2024
That's a great point @kunmingg
Me and @kkasravi try to our best to keep it backwards compatible 🤞

[2018-12-03 20:55] IronPan commented on #1967
@jlewi @kunmingg
I'm initiating a release for Pipeline and hopefully can get v0.13 release by tomorrow.

Once that's done we just need to bump the version for pipeline in kubeflow core and SDK in jupyter image. I think that is all the changes needed from pipeline

[2018-12-03 21:12] danisla commented on #1824
The latest version of the cloud-endpoints-controller supports the CompositeController

[2018-12-03 21:18] kkasravi commented on #1995
@vkoukis this looks good. I think we should probably add e2e tests so that what jupyterhub provides is also testable by the Notebooks CRD/Controller. IE:

 - [ ] an authentication provider like iap, github
    - this would need to be done within istio or ambassador and before the UI is reached, though the UI may need to deal with CORS.
- [ ] PV/PVC examples which requires volume, volumeMounts
- [

[2018-12-03 22:34] lluunn commented on #1972
ah I see, will fix this

[2018-12-03 23:48] kkasravi commented on #2024
I'll repost what I did [earlier](https://github.com/kubeflow/kubeflow/issues/2024#issuecomment-443721635) but with the kfctl command using a yaml, the contents of the yaml, and the ks commands.
The yaml will look like:
[code]

which would have the following golqng definition
[code]

[2018-12-04 00:36] jlewi commented on #934
Anyone working on this?
Should we punt to 0.5?

[2018-12-04 01:46] mongoose54 commented on #141
Is there any progress on creating a centralized UI ? As @jlewi mentioned that would be extremely helpful for newcomers?

[2018-12-04 04:49] carmine commented on #1057
Move to 0.5.0, same priority.

[2018-12-04 04:50] carmine commented on #1472
Agreed.

[2018-12-04 05:52] IMBurbank commented on #1898
There isn't another open issue for tracking these. I'll get a PR in tonight to close this out.

[2018-12-04 14:33] pdmack commented on #1457
I won't be able to get to this for 0.4.0

[2018-12-04 16:08] dsdinter commented on #1117
Implemented with [#316](https://github.com/kubeflow/website/pull/316).

[2018-12-04 16:17] kkasravi commented on #1922
closing this in lieu of #2022

[2018-12-04 16:17] #1922 closed

[2018-12-04 16:32] kkasravi commented on #2024
My suggestion based on @jlewi's [comment]().

Close this discussion and proceed with the separate tasks below:

- [ ] kfctl-golang #1419
- [ ] ksonnet module migration #2022
- [ ] application metadata descriptor work #1856

We can coordinate in slack.

[2018-12-04 17:56] jlewi commented on #2024
@kkasravi LGTM to your plan. Thanks for creating all the issues.

I might suggest leaving this issue open for now just so we have a place for ongoing discussion about composability.

There's some connection here to the previous issue #1691 about the apps marketplace. If Kubeflow is a bunch of applications then in principle all of them can just be published in the container marketplace and people c

[2018-12-04 22:50] kunmingg commented on #2022
@kkasravi
Seems like ks module is more of a components instance than components prototype.
How can we make ks module reusable for all users that might have various parameter sets?

[2018-12-05 00:47] kkasravi commented on #2022
@kunmingg

Could I ask you to post your question above in #2024?
I'll answer it there so we're consolidating all design questions in that issue.
I'll rename this to 'ksonnet module migration'.
This issue/PR will reference the actual implementation.

[2018-12-05 00:48] kunmingg commented on #2024
@kkasravi
Seems like ks module is more of a components instance than components prototype.
How can we make ks module reusable for all users that might have various parameter sets?

[2018-12-05 00:48] kunmingg commented on #2022
@kkasravi
done, thanks!

[2018-12-05 02:08] kkasravi commented on #2024
yes it could be thought of as a components instance.

given a package like kubeflow/core, we should treat this as a module not a component with the same name as the package.

For user 'fred' - who submits a kubeflow application to bootstrapper called resnet, wouldn't this be persisted to a unique path under /opt/kubeflow/default?

Maybe you're asking how a set of parameters could be shared across

[2018-12-05 03:48] jlewi commented on #1583
Someone told me today that there was a working version of Beam on Flink but that it doesn't work on Kubernetes.

Not sure why Beam on Flink would work but not on Kubernetes.

[2018-12-05 08:18] MatthiasHertel commented on #218
@jlewi
you wrote:

Has the documentation been updated / deployed?

I am also interested in the link, I can not find it on the website - Can you share the link to these instructions?

[2018-12-05 16:06] kkasravi commented on #1996
/assign @kkasravi

[2018-12-05 18:56] r2d4 commented on #1857
Closed by https://github.com/kubeflow/kubeflow/pull/2038

[2018-12-05 18:56] #1857 closed

[2018-12-05 19:05] Svendegroote91 opened #2044 "ImagePullBackOff for images on GCR within same GCP project as GKE cluster"
After using the simplified set-up instructions for GKE (https://www.kubeflow.org/docs/started/getting-started-gke/ - with version tag v0.3.1) I get an ImagePullBackOff error when launching TF-jobs with images from the GCR within the same GCP project. However if I reference a public image, I do not get this error. I noticed there is a similar issue #1139, but this issue indicates that this should h

[2018-12-05 20:29] #34 closed

[2018-12-05 21:12] Jeffwan commented on #2029
I hasn't try Seldon yet but I am interested in this problem.
Looks like there's extra setting for Seldon deployment?  Why HPA cannot work out-of-box?  @sasvaritoni

[2018-12-05 21:31] kkasravi commented on #2024
@kunmingg

We should use the output of `ks registry describe kubelow`
as a list of available modules (not created modules). I'll see if I can add
this entrypoint in the next day or so.

[2018-12-05 23:02] #1898 closed

[2018-12-06 11:05] Svendegroote91 commented on #2044
After removing the kubeflow specific service-accounts in the IAM window and deleting all old deployments in Google Cloud Deployment Manager it works again so it must have been a conflict with old configuration on GCP.

[2018-12-06 11:05] #2044 closed

[2018-12-06 19:11] mpvartak commented on #1861
FYI, opened a PR this AM to make modeldb an independent package in KubeFlow
so it can be used from any component, not just Katib.

https://github.com/kubeflow/kubeflow/pull/2050

We can work on docs depending on the timeline for 0.4.0. What's the close
date for new patches?

On Thu, Dec 6, 2018 at 11:04 AM Anubhav Garg <notifications@github.com>
wrote:

[2018-12-06 19:22] lluunn opened #2052 "[Click-to-deploy] install istio"
See https://github.com/kubeflow/website/pull/319.
It should be a simple kubectl apply.

@jlewi
@kunmingg

[2018-12-06 21:08] pdmack commented on #1806
Back on track.

gcr.io/kubeflow-dev/kubeflow-rapidsai-notebook:latest

Smoke tested with their cuml notebooks. Seems functional on GKE GPUs.

[2018-12-06 21:31] lluunn opened #2054 "Clean up components/k8s-model-server"
We are not building and maintaining images, so we should remove that part and update the README.

[2018-12-06 21:31] lluunn commented on #2054
https://github.com/kubeflow/kubeflow/tree/master/components/k8s-model-server

[2018-12-06 21:40] lluunn commented on #2027
The whole dir needs some update, see #2054

[2018-12-07 10:41] hexerei commented on #1915
@pdmack the OpenShift setup documentation is more on project level. For initial kubeflow installation you would also have to run following command to allow the installing user to create resources on the OpenShift cluster:

`$ oadm policy add-cluster-role-to-user cluster-admin myuser`

[2018-12-07 18:30] jlewi commented on #2031
@gyliu513 Can you clarify what you mean by upgrading ksonnet? Do you mean we need to upgrade our ksonnet manifests? Or do we just need to tell users to use ksonnet 0.13 to pick up the fix
ksonnet/ksonnet#427

[2018-12-07 18:36] jlewi commented on #2031
@gyliu513 See comment:
https://github.com/kubeflow/pipelines/issues/414#issuecomment-445324468

Can we close this issue and track in kubeflow/pipelines#414 because it looks like this is specific to pipelines?

[2018-12-07 18:52] jlewi commented on #2029
Duplicate of SeldonIO/seldon-core#277

[2018-12-07 19:12] #1972 closed

[2018-12-07 19:36] jlewi commented on #2021
Looks like the BASE_HREF isn't set for me.

[code]

[2018-12-07 19:40] jlewi commented on #2021
I misspoke. I was looking at an old cluster. When I looked at a cluster for master the Argo UI was working behind Ambassador.

[2018-12-07 19:42] jlewi commented on #2021
@janvdvegt Were you using a 0.3 cluster? I think the answer is this will work in 0.4.

[2018-12-07 19:43] jlewi commented on #2012
Closing this issue because the PR has been merged.

[2018-12-07 19:43] #2012 closed

[2018-12-07 19:46] #2006 closed

[2018-12-07 19:47] jlewi commented on #2005
/cc @jessesuen

[2018-12-07 19:50] jlewi commented on #1995
/assign @vkoukis
/assign @ioandr

[2018-12-07 19:55] #1993 closed

[2018-12-07 20:14] jlewi commented on #1991
[code]

It looks like kubectl is unable to connect to your cluster. It looks like your kubernetes might be unhealthy.

[2018-12-07 21:18] sasvaritoni commented on #2029
@Jeffwan

In the [Seldon issue ](https://github.com/SeldonIO/seldon-core/issues/277) mentioned above, there is an in depth explanation why it's not straightforward to apply the autoscaler.

[2018-12-07 21:25] kkasravi opened #2058 "add a jobs component"
The component kubeflow/jobs will include different prototypes to run common types of jobs. The single-job prototype takes a jobImage, jobName, jobCommand and jobArgs.

Other types of jobs will be added, like a job sequence

[2018-12-07 21:30] jlewi commented on #1982
@sreenivasmrpivot Do you have something else running on node port 30678? You could probably just look in your vendor directory and modify this line
https://github.com/kubeflow/kubeflow/blob/55ca2146e6689f2dfeefb9b8a6e32db4aed8ee7b/kubeflow/katib/vizier.libsonnet#L34

@YujiOshima Do we need to assign a nodePort by default to the vizier-core service?

[2018-12-07 21:31] jlewi commented on #1982
@sreenivasmrpivot  Any interest in providing a PR to remove the nodePort here:

https://github.com/kubeflow/kubeflow/blob/55ca2146e6689f2dfeefb9b8a6e32db4aed8ee7b/kubeflow/katib/vizier.libsonnet#L34

/cc @richardsliu

[2018-12-07 21:42] jlewi commented on #1979
@zxsimple Were you able to get past this?

The error indicates that it couldn't be able to parse the input.

This could mean

* Your input is not a properly serialized ExampleProto

@lluunn Any additional suggestions? Is this using the TFServing HTTP proxy or are now deprecated HTTP proxy?

[2018-12-07 22:01] jlewi opened #2060 "New Jupyter spawner Ui doesn't allow entering a custom image"
With the new spawner UI, it doesn't look like we can enter a custom docker image. We can only select prebuilt images.

@ioandr @vkoukis is this a quick fix we can complete before 0.4?

[2018-12-07 22:20] Jeffwan commented on #1991
Yes. Once I install 0.3.x cluster become unavailable due to some reason. I can not use  `kubectl logs` to check pods logs. Looks like I need to go to logs for detail reason. Will come back later.

[2018-12-07 23:49] jlewi commented on #2005
I gave this a quick shot adding an ambassador mapping. I ended up getting and endless stream of 307s. I think this is because ArgoCD by default redirects from http to https.

So I think we need to disable that.

[2018-12-07 23:50] jlewi commented on #2005
See #1990 we can disable SSL.

[2018-12-08 00:07] jlewi commented on #2005
Setting `--insecure` fixed the redirect issue now I'm getting 404s; probably need to do what we do for Argo UI and set the base href.

@andreyvelich @jessesuen Does ArgoCD have the same environment variable for setting the base href.
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/argo/argo.libsonnet#L161
?

[2018-12-08 00:09] jlewi commented on #2005
I don't see such an environment variable
https://github.com/argoproj/argo-cd/search?q=HREF&unscoped_q=HREF

[2018-12-08 00:11] jlewi commented on #2005
Here are the command line:
https://github.com/argoproj/argo-cd/blob/master/cmd/argocd-server/commands/root.go#L86

Maybe its the flag static assets
https://cs-demo-1103.endpoints.code-search-demo.cloud.goog/main.e40bef37656604b12627.js

[2018-12-08 00:22] jessesuen commented on #2005
@jlewi argo-cd-ui doesn't support setting a different base href. Are you trying to use a sub-path as a base? I think we may be able to do a quick patch.

[2018-12-08 00:41] jessesuen commented on #2005
@alexmt thinks the fix is more involved. I've filed an issue for this: https://github.com/argoproj/argo-cd/issues/906. We can probably do in a v0.11.X patch release. v0.11 will be releasing next week.

[2018-12-08 00:50] andreyvelich commented on #2005
@jessesuen  After your patch we can use the same env variable (`BASE_HREF`) that we have here:
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/argo/argo.libsonnet#L161 ?

[2018-12-08 01:42] alexmt commented on #2005
@andreyvelich, yes . Lets use same env variable to control base ref

[2018-12-08 15:56] ioandr commented on #2060
The decision to use HTML `<select>` element for the Docker Image option was made to **always** show the **full list** of available Docker images. This was not the case in the old Jupyter UI, as users reported in Slack, since the autocomplete feature of HTML `<input>` + `<datalist>` combination that was previously used prevented some Image options from showing.

However, we believe it is crucial to

[2018-12-08 16:00] janvdvegt commented on #1993
I found out what the problem is, the KUBEFLOW_SRC variable needs to be the absolute path while KFAPP doesn't need to be.

[2018-12-08 20:26] aronchick opened #2065 "Use of NTeract"
Should we augment the default Jupyter notebook in KF with Nteract?

https://github.com/nteract

[2018-12-09 02:03] blsaws commented on #1915
@pdmack I'm trying the commands you referenced in the last link you provided, but they are not solving the problem for me, except for pod tf-hub-0 which after restart, is now running.

The ambassador and modeldb-db pods are still failing with the same errors as before the 'oc adm policy add-scc-to-user' commands. Maybe modedb-db (mongodb) requires another command?

modeldb-db error:
2018-12-09T01:

[2018-12-09 03:45] YujiOshima commented on #1982
@sreenivasmrpivot @jlewi @richardsliu Yes, we don't need to use nodePort.

[2018-12-09 05:37] zxsimple commented on #1979
No, I didn't dig into to check the serialization/ deserialization

[2018-12-09 10:20] yupbank commented on #1979
hey, sorry for later reply, but the error message is explaining itself. With you first try, change the “image_content” into “inputs” would help

And the second try should be because of you have mixed the :predict and :classify

Hope that can help

Sent from my iPhone

[2018-12-09 19:54] ashahba commented on #1735
Sorry @jlewi for missing the notes.
I can certainly try to get it in for `0.4 RC`.

[2018-12-09 19:54] ashahba commented on #1735
/assign @ashahba

[2018-12-10 00:47] blsaws commented on #2009
Thanks for your help. The failure is that the script exits.
Here is the script output of '${KUBEFLOW_SRC}/scripts/kfctl.sh init ${KFAPP} --platform none', which I am running from /home/bryan/test/ after these initial setup commands:
export WORK_DIR=$(pwd)
  export KUBEFLOW_SRC=$WORK_DIR/kubeflow
  mkdir ${KUBEFLOW_SRC}
  cd ${KUBEFLOW_SRC}
  export KUBEFLOW_TAG=v0.3.1
  curl https://raw.githubuser

[2018-12-10 09:21] ioandr commented on #2060
@jlewi we have already started the implementation of  option 2, as described above. We will open a PR that should be ready for review very soon.

[2018-12-10 17:18] vkoukis commented on #191
@jlewi Thanks for the heads up Jeremy, we'll digest all of this and be back with a comprehensive proposal as a base for discussion.

[2018-12-10 18:45] scotttam opened #2068 "setup-minikube.sh doesn't install ksonnet if missing"
The installation of ksonnet in the `setup-minikube.sh` script is looking for `$HOST_PLATFORM` but the correct name is `$PLATFORM`. It is erroneously reporting that ksonnet is installed when in actuality it isn't.

[2018-12-10 19:09] ddutta commented on #191
/cc @johnugeorge

[2018-12-10 19:44] jlewi commented on #2065
My understanding is that NTeract is a REACT based front-end to Jupyter. So we should be able to make it work.

I'm unclear about whether existing Jupyter widgets would work. If that's the case then we would need to continue to support the existing Jupyter front end.

My initial guess is that this is P2.

For Jupyter I think higher priority items are

* Giving each user their own namespace
* Using

[2018-12-10 19:52] #1996 closed

[2018-12-10 22:02] lluunn commented on #1969
It's done in #2051

[2018-12-10 22:02] #1969 closed

[2018-12-10 22:03] #1909 closed

[2018-12-10 23:03] lluunn commented on #1907
Current architecture:

[code]

The plan is to use istio-ingressgateway for both JWT validation and routing, and thus:
[code]

However, ingress is in kubeflow namespace, and istio-ingressgateway is in istio-system namespace, so currently it's not working. https://github.com/kubernetes/kubernetes/issues/17088

Question: should we move ingress to istio-system namespace, or move istio-ingressgateway t

[2018-12-11 00:08] lluunn commented on #1907
it's probably easier to install istio in kubeflow namespace since the other is a breaking change.

[2018-12-11 00:24] cwbeitel opened #2069 "deploy.kubeflow.cloud deployment empty"
Currently I'm observing that upon deploying Kubeflow via https://deploy.kubeflow.cloud/#/deploy the resulting kubernetes cluster is empty (i.e. kubectl get pods -n kubeflow yields no resources).

The service accounts "kubeflow-exp-admin" and "kubeflow-exp-user" are created but don't show their having furnished credentials (the corresponding SA key values under column Key ID are empty).

This was o

[2018-12-11 01:35] cwbeitel opened #2070 "[Question / friction] envoy unable to read /etc/envoy/envoy-config.json"
Quick question about configuring envoy if anybody has a moment. Thought I followed instructions in https://www.kubeflow.org/docs/started/getting-started-gke/ pretty closely, here’s my exact deploy script https://gist.github.com/cwbeitel/dbee026c2e1f6852220b3580adaad6b7.

When I first tried to run the following:

[code]

without a kubernetes cluster deployed I saw a timeout trying to reach the kube

[2018-12-11 04:26] kunallimaye opened #2072 "deploy.sh should not assume uuidgen is present"
# `deploy.sh` wrongly assumes that `uuidgen` util is present (in GCP cloud shell)

## Environment
- Kubeflow version: 0.2.2

[2018-12-11 06:18] Harishkrishna17 opened #2074 "Ambassador crashing in kops cluster"

[2018-12-11 07:20] Jeffwan commented on #1947
@jlewi  Since TF has native REST API support, is `http-proxy` in k8s-model-server still helpful?  Looks like only Tensorflow projects use it for historical reason. If this is needed, I can help clean them up.

[2018-12-11 10:40] #2074 closed

[2018-12-11 13:02] pdcoded opened #2075 "Issue while deploying kubeflow on GKE using command line- killed message in Cloud Shell"
## Describe the bug
Executing ../${KUBEFLOW_SRC}/scripts/kfctl.sh apply k8s command crashing after some time with “Killed” message.

## How to Reproduce ::
Following this documentation for deploying kubeflow:
https://www.kubeflow.org/docs/started/getting-started-gke/#deploy-kubeflow-on-kubernetes-engine

Here is the screenshot
<img width="777" alt="screenshot 2018-12-11 at 6 28 04 pm" src="https:/

[2018-12-11 15:07] dpaks opened #2076 "no persistent volumes available for this claim and no storage class is set; minio and pipelines"
Client Version: v1.13.0, GoVersion:"go1.11.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: v1.13.0, GoVersion:"go1.11.2", Compiler:"gc", Platform:"linux/amd64"}
OS: Ubuntu 18
ksonnet version: 0.13.1
jsonnet version: v0.11.2
client-go version: kubernetes-1.10.4
argo: v2.2.1
kubeflow: v0.3.4
Env: A single node cluster using kubeadm

After issuing `${KUBEFLOW_SRC}/scripts/kfctl.sh apply k8

[2018-12-11 15:14] dpaks opened #2077 "CrashLoopBackOff pods after 'apply k8s'"
Client Version: v1.13.0, GoVersion:"go1.11.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: v1.13.0, GoVersion:"go1.11.2", Compiler:"gc", Platform:"linux/amd64"}
OS: Ubuntu 18
ksonnet version: 0.13.1
jsonnet version: v0.11.2
client-go version: kubernetes-1.10.4
argo: v2.2.1
kubeflow: v0.3.4
Env: A single node cluster using kubeadm

After issuing ${KUBEFLOW_SRC}/scripts/kfctl.sh apply k8s

[2018-12-11 18:45] cwbeitel commented on #2070
Upon doing `kubectl delete namespace kubeflow` and re-deploying a previous ksonnet app (v0.2.0) that has always worked without issue now jhub for this new deployment shows the same 401 unauthorized issue. I guess this implies the cluster has some faulty configuration outside of the kubeflow namespace?

[2018-12-11 20:31] cwbeitel commented on #2069
Upon trying this again from a different GCP project (for which I am an owner) I did see some resources come up within 20min but only the following (only two pods running):

[code]

Once the web UI reaches the ~20min mark it reports

[code]

For reference the settings from the UI were v0.3.4, us-east1-d, and the same behavior was observed both with and without "Skip IAP" checked.

[2018-12-11 20:42] cwbeitel opened #2078 "Deployment web UI link to Cloud Shell gives error during cloudshell_open"
Upon clicking the "Cloud Shell" button from the deploy.kubeflow.cloud UI (with v0.3.4 and us-east1-d and of course "Skip IAP" checked) I observe the following error in the Cloud Shell:

[code]

The first part about conda has to do with my Cloud Shell .bash_profile and probably isn't related.

[2018-12-11 20:49] cwbeitel commented on #2070
To I tore down and re-deployed the cluster and was observing the same issue and recreating the ksonnet app permitted v0.2.0 to deploy successfully (as previously). So perhaps the same issue could be resolved by re-trying the kfctl.sh command with a fresh ks app dir? And/or by finding a way around that first timeout trying to reach the kube api so kfctl can create the cluster itself (and perhaps in

[2018-12-12 06:38] royxue commented on #2077
@dpaks +1 the same problem
ambassador is fine for me,
but other 3 is keep cashloopbackoff

[2018-12-12 09:00] dpaks commented on #2077
Can you give a +1 for the issue, so that this question catch dev attention?

[2018-12-12 13:14] rohitsroch commented on #2075
I am also getting same problem,
Running:    `ks apply default -c ambassador`  crashing !
Also, even crashing for other components **katib, tf-job-operator** etc. with the same message

[2018-12-12 17:49] pdmack commented on #2065
Nteract makes papermill too. Always thought that would be interesting in the ecosystem.

[2018-12-13 00:09] andreyvelich commented on #2068
Thanks, I will fix it.
/assign

[2018-12-13 00:15] TimZaman commented on #1749
Still an issue

[2018-12-13 01:44] TimZaman commented on #1496
I have the same issue.

[2018-12-13 10:31] dsdinter opened #2086 "Being able to deploy Kubeflow in private GKE cluster"
At the moment it is not possible to deploy Kubeflow in a private cluster as some images are pulled from remote registries (e.g., Dockerhub, quay.io). We should be able to somehow mirror these images in gcr.io to be able to pull them from private GKE clusters.
There is a [solution](https://cloud.google.com/container-registry/docs/using-dockerhub-mirroring) for Docker Hub public images but we should

[2018-12-13 14:43] dsdinter commented on #2086
In the interim you can follow the below steps to deploy in a private GKE cluster including the ML Pipeline component (Thanks @IronPan!):
[code]
[Create](https://www.kubeflow.org/docs/started/getting-started-gke/#create-oauth-client-credentials) an OAuth client ID
[code]

[2018-12-13 16:11] IronPan commented on #2086
I am not sure for people who are using private cluster, how comfortable it would be to set up the IAP.
I guess it would expose an public site?

In case you don't want to expose it, once can provide fake client id/secret
export CLIENT_ID=foo
export CLIENT_SECRET=bar

[2018-12-13 16:20] dsdinter commented on #2086
Good point @IronPan, I updated the code snipped to avoid exposing UI even through IAP.

[2018-12-13 17:36] IronPan commented on #2086
There is a parameter in JH to set authentication method. set it to null seems working
`ks param set jupyterhub jupyterHubAuthenticator null`

[2018-12-13 18:44] cwbeitel commented on #2070
I'm curious whether the issue is with [iap.libsonnet](https://github.com/kubeflow/kubeflow/blob/d758175b7c42587aa6efe65c39d4a9361bc1b9a9/kubeflow/gcp/iap.libsonnet#L181), should this be /var/envoy-config or /var/shared/envoy-config.json instead of /etc/envoy/envoy-config.json?

[2018-12-13 21:06] alexmt commented on #2005
@andreyvelich . Most of argo cd settings are configured using cli flags, so I had to use flag for consistency. Take a look at PR https://github.com/argoproj/argo-cd/pull/930/files ( [ingress.md](https://github.com/argoproj/argo-cd/blob/a54ceb87bb73532473a857ba0c7408a7fdf34d8c/docs/ingress.md#ui-base-path) describes introduced flag ) . Please let me know if you need any changes

[2018-12-13 22:08] andrewgdavis commented on #2021
from an argo deployment today:
[code]
`BASE_HREF:       /argo/`     <------- causes an empty page to be rendered, but logs are ok

so to be clear:
  Is ambassador is now a requirement to access the argo-ui?

[2018-12-13 22:14] andreyvelich commented on #2005
@alexmt It is ok, thanks.
We can add this setting inside container commands (https://github.com/kubeflow/examples/blob/master/code_search/demo/cs-demo-1103/k8s_specs/argo_cd.yaml#L398), just like you in [ingress.md](https://github.com/argoproj/argo-cd/blob/a54ceb87bb73532473a857ba0c7408a7fdf34d8c/docs/ingress.md#ui-base-path)

[2018-12-13 22:37] iankoulski opened #2088 "Specify whether to use COS or Ubuntu nodes in the GKE cluster created by Kubeflow setup scripts"
It would be great to be able to specify some of the finer-grained parameters of the GKE cluster used by Kubeflow.
-- Worker node OS: COS or Ubuntu
-- Worker node size
-- For private clusters, specify master authorized networks

[2018-12-13 22:49] andreyvelich commented on #2021
@andrewgdavis You can access to argo-ui without ambassador.
Just delete this environment:
```BASE_HREF: /argo/ ```

[2018-12-14 00:14] Nick-Harvey opened #2089 "deploy.kubeflow.cloud needs a uninstall button"
There needs to be either a uninstall button or clear instructions on the page on how to uninstall deployments properly

[2018-12-14 09:40] zxsimple commented on #1979
@yupbank Thank you. I will close it.

[2018-12-14 09:40] #1979 closed

[2018-12-14 19:33] kkasravi commented on #2023
duplicate of #2022

[2018-12-14 19:33] #2023 closed

[2018-12-14 22:39] scttl commented on #1749
This same error is also seen whenever a user attempts to run something like `kfctl.sh help` prior to having run `init` (reasonably likely for a new user trying to figure out what the command and its arguments do).

[2018-12-14 23:33] ashahba commented on #1749
Thanks @scttl
The usage/help was slightly improved a bit during this PR: #1923 and on `master` it reads:
[code]
but it's not part of latest release `v0.3.4` but it'll be in `v0.3.5` 🤞

Even the above help message could use some improvements, but an updated cli is on the way.

[2018-12-15 14:37] oquere commented on #2075
Same issue for me too !!!

[2018-12-16 22:34] jlewi commented on #2088
@iankoulski Can't you do all of that by modifying the deployment manager configs that are created during the deployment process?

See https://www.kubeflow.org/docs/started/getting-started-gke/

[2018-12-16 22:38] jlewi commented on #2076
@IronPan @paveldournov

Looks like the pod in question is related to pipelines and minio.

@dpaks Can you define a default storage class for your cluster?
https://kubernetes.io/docs/concepts/storage/storage-classes/

I think what's happening is various Kubeflow components (in this case pipelines) need to provision durable storage (e.g. a persistent disk) so that data isn't lost if pods get preempt

[2018-12-16 22:39] jlewi commented on #2072
Duplicate of #1415

This should be fixed in 0.3.

[2018-12-16 22:39] #2072 closed

[2018-12-16 22:41] jlewi commented on #2075
This is a common trip up point; if using cloud shell you need to be in boosted mode otherwise you won't have enough resources.

Does anyone know if its possible to detect if you are running in boosted mode in cloud shell?

[2018-12-16 22:45] jlewi commented on #2069
/assign @kunmingg

It looks like the first problem was insufficient privileges. Can we open up a separate issue to ensure user has valid credentials before attempting to deploy Kubeflow?

@cwbeitel for your 2nd cluster; can you try following the troubleshooting guide to see where things are broken?
https://www.kubeflow.org/docs/guides/gke/troubleshooting-gke/

[2018-12-16 22:50] jlewi commented on #2086
You need some way to connect to your cluster. The two methods are

1. kubectl port-forward
1. IAP

In both cases there is a public ip address. In case 1 it will be the public ip address of the GKE master.

With IAP it will be the public IP address of the LB.

So at a high level security is roughly equivalent. In both cases, you can restrict access to certain IP ranges (e.g. via authorized networks

[2018-12-16 22:51] jlewi commented on #2060
@ioandr SGTM thanks

[2018-12-16 23:00] jlewi opened #2092 "Color scheme for central dashboard should match Kubeflow pipelines"
The central dashboard right now has an orange/white color scheme that was based on TensorFlow.

We should change that to the blue and white used by Kubeflow (e.g. see kubeflow pipelines).

[2018-12-16 23:05] jlewi opened #2093 "Central dashboard should be left handed navigating bar"
We'd like the central dashboard to be a left handed navigation bar. On the right panel we'd like to eventually show different cards e.g. "quick launch a notebook."

Related issue: #2092 fix color scheme for central dashboard

We should come up with some form of mocks to look at it before making the changes.

[2018-12-16 23:36] jlewi commented on #11
Thanks @bhack looks like someone created an OIDC plugin for Ambassador that uses keycloak
https://github.com/ajmyyra/ambassador-auth-oidc

[2018-12-16 23:47] jlewi opened #2094 "Support basic username/password login with ambassador"
See https://github.com/kubeflow/kubeflow/issues/11#issuecomment-370548446

We'd like users to be able to login to Kubeflow using username & password.

The goal is to provide a secure way for users trying out Kubeflow to get started without dealing with setting up OIDC.

We have consistently seen users get tripped up trying to create CLIENT ID's in order to setup OIDC (e.g. creating OAuth clients t

[2018-12-16 23:54] jlewi opened #2095 "[gcp-click-to-deploy] Web app should support configuring basic auth"
See #2094
We want to support basic auth with Ambassador because creating an OAuth client trips up too many users getting started.

This issue track adding the necessary features (e.g. UI improvements) to the click to deploy app to allow username/password auth to be selected and configured during deployment.

[2018-12-17 00:03] jlewi opened #2096 "Suitable Jupyter runtime image for Build/Train/Deploy from notebook CUJ"
In 0.5 a core CUJ is build/train/deploy from a notebook using fairing.

We'd like to have examples for TF and non TF (xgboost?) that the user can run through.

We need to identify what those examples will be. This issue tracks creating a suitable docker image to be used as the runtime environment for those examples.

[2018-12-17 03:44] cwbeitel commented on #2069
@jlewi Yes I'll try that.

[2018-12-17 04:01] #2068 closed

[2018-12-17 04:08] jlewi commented on #2024
@kkasravi What is bootstrapper? Are you creating some server that runs in cluster and is responsible for deploying things?

Why are we submitting applications to bootstrapper?

In my mind there is no such thing as bootstrapper.  All we have is
https://github.com/kubeflow/kubeflow/tree/master/bootstrap

The name "bootstrap" is a legacy; it should be renamed kfctl because it is the go implementation

[2018-12-17 11:23] pdcoded commented on #2075
Thanks @jlewi, @oquere  -it's resolved after using boost mode. I am closing the issue for now

[2018-12-17 11:23] #2075 closed

[2018-12-17 11:32] rohitsroch commented on #2075
Thanks @pdcoded , @jlewi, @oquere , what I would like to do, is contribute updated codelab  documentation for mnist example with lastest kssonet & kubeflow version. as this https://www.kubeflow.org/docs/guides/gke/gcp-e2e/ doc is not updated

[2018-12-17 14:03] jlewi opened #2098 "Cut 0.4.0 Release"
Tracking bug for the 0.4 release.

[2018-12-17 14:04] jlewi commented on #2098
Here are some outstanding PRs that should be merged before cutting the release

#2060 - Custom image support in Jupyter UI
#2080 - Upgrade cloud endpoints controller

[2018-12-17 14:14] jlewi commented on #1967
@IronPan @kunmingg Can we close this issue? Is there more work to be done?

[2018-12-17 14:31] #1178 closed

[2018-12-17 14:36] jlewi commented on #42
I think the only remaining item is to rename core. I vote renaming it to common.

[2018-12-17 14:43] jlewi commented on #2009
I think one problem is you are setting KFAPP to be a path

[code]

KFAPP should just be the name of your deployment e.g. "my-kubeflow"

kfctl.sh will create the directory "my-kubeflow" in the current directory to store all the configs.

[2018-12-17 14:44] jlewi commented on #1971
@kunmingg What is the status of this? Will this be in 0.4 or should we move this to 0.5?

[2018-12-17 14:45] jlewi commented on #1946
@richardsliu I assume this won't make it to 0.4? We will need to move it to 0.5?

[2018-12-17 14:46] jlewi commented on #1861
@garganubhav Any update on this?

[2018-12-17 14:50] jlewi commented on #1860
@mpvartak Thanks!

Looks like #2050 is pending. Would be great to get that merged today so we can include it in the 0.4 release.

[2018-12-17 14:56] jlewi commented on #1735
@ashahba Any update? If you haven't started; I would suggest we prioritize the move to the go based implementation #1419 as that might change how things work.

[2018-12-17 14:57] jlewi commented on #1696
Duplicate of #1907.

Current thinking is to use ISTIO for JWT validation.

[2018-12-17 14:57] #1696 closed

[2018-12-17 15:02] jlewi commented on #1615
I think we should make two changes.

1. We should add --skip-default-registries to the ks init command here

https://github.com/kubeflow/kubeflow/blob/master/scripts/util.sh#L49

2. We should define an extra environment variable ${KS_INIT_EXTRA_ARGS} to contain additional arguments to pass to the `ks init` command so that folks can specify additional arguments if needed.

[2018-12-17 15:04] jlewi commented on #1457
@ioandr @vkoukis FYI; something to think about in terms of future improvements to the jupyter spawner UI / web app in 0.5.

[2018-12-17 17:47] kunmingg commented on #1967
v0.3.4 available now

[2018-12-17 17:47] #1967 closed

[2018-12-17 18:08] jlewi commented on #1140
It looks like this being done as part of initializing the project.
https://github.com/kubeflow/kubeflow/blob/5a11d74220480212f2e56048fe08a162b934d224/scripts/gke/util.sh#L33

I don't think this should be needed anymore. I think we were granting the cloud services account Iam project admin permission so that we could set IAM policies using deployment manager but we no longer do that. So we should j

[2018-12-17 18:16] #1117 closed

[2018-12-17 18:20] jlewi commented on #1806
Blog post is live
https://medium.com/kubeflow/nvidia-rapids-accelerate-kubeflow-pipeline-with-gpus-on-kubernetes-b17fc1ce7ec

[2018-12-17 18:20] #1806 closed

[2018-12-17 18:30] jlewi opened #2102 "0.4 blog post"
Once 0.4 is cut (#2098) we should publish a blog post.

I believe Josh has a Google doc with a draft for the blog post.

[2018-12-17 18:36] #1615 closed

[2018-12-17 18:41] IronPan commented on #2098
Pipeline need a new release to be included with sample fixes. Create an issue for tracking
https://github.com/kubeflow/pipelines/issues/549

[2018-12-17 19:09] r2d4 commented on #2098
/assign @r2d4

[2018-12-17 19:13] Jeffwan commented on #2098
- [ ] #2067 Enforce use string type param for S3_USE_HTTPS and S3_VERIFY_SSL
- [ ] #2097 Update aws parameters in serving and dashboard
- [ ] #2073 Use upper method from std library on v0.3 branch .(I need a another patch for master)

[2018-12-17 19:21] #1824 closed

[2018-12-17 19:29] Jeffwan opened #2103 "Add jsonnet unit test for tensorflow serving component"
#2067 Meet some problems in deploying tensorflow serving components. I think we need to add unit tests for these jsonnet files.

[2018-12-17 19:33] Jeffwan commented on #2103
/assign @Jeffwan

[2018-12-17 19:57] pdmack commented on #42
"common" to me implies general utility for other components, like logging. "core" is not bad IMHO if it's basically the content of an MVP.

My $0.02.

[2018-12-17 22:17] kkasravi commented on #42
I'll do the core -> common PR. @jlewi @pdmack if you agree on a better name let me know

[2018-12-17 22:18] kkasravi commented on #42
one argument for common is kubeflow/core/util.libsonnet which is used by other components.

[2018-12-17 22:29] #2058 closed, assigned to nobody

[2018-12-18 00:17] andreyvelich opened #2110 "Ks package for kubebench operator"
We need to create ks package for kubebench-operator CRD.

[2018-12-18 00:17] andreyvelich commented on #2110
/assign

[2018-12-18 00:17] Jeffwan commented on #2098
@jlewi @r2d4 Thanks a lot on the help of above PRs. All merged into master branch and the left one failed tests due to same argo workflow test failures on 0.3-branch. Since it's not related to 0.4-release,  I will try to figure it out later. Appreciate that!

[2018-12-18 01:39] garganubhav commented on #1861
done, plz review.

[2018-12-18 02:17] jlewi commented on #2086
I forgot we have instructions for private clusters here:
https://www.kubeflow.org/docs/guides/gke/private-clusters/

[2018-12-18 04:31] #1140 closed

[2018-12-18 16:03] jlewi commented on #1757
It looks like the feature is still in beta.
https://cloud.google.com/monitoring/kubernetes-engine/

Beta features are only available through the v1beta1 API
https://cloud.google.com/kubernetes-engine/docs/reference/api-organization#beta

So we need to use that API to create/modify the cluster.

[2018-12-18 19:05] rakelkar opened #2119 "Reproduce FastAI dawn-benchmark using Kubeflow"
The fastAI dawn bench repo requires AWS to reproduce the results. Would it make sense to replicate the same experience on Kubeflow so it is cloud-provider agnostic? Has anyone tried anything similar?@aronchick @jpe316

Code is here:
https://github.com/diux-dev/imagenet18

[2018-12-18 19:47] ddutta commented on #2119
Would be good to see if Kubebench harness can run this workload.

[2018-12-18 19:48] ddutta commented on #2119
/cc xyhuang

[2018-12-18 20:09] #2060 closed

[2018-12-18 20:10] #2009 closed

[2018-12-18 21:13] jlewi opened #2120 "Cloud Endpoints Controller not working on master"
I built a GKE cluster from commit: 424fad184cb7e7af0fcf809db54526c89980484a

My Cloud Endpoints resource doesn't appear to be created.

Here's the status of the resource

[code]

The lack of a status leads me to suspect the resource isn't actually being processed.

Here's the logs of the controller.

[code]

We recently updated metadata controller #2080 ; that could be related.

[2018-12-18 21:15] jlewi commented on #2120
Here's a cloudendpoints object for a resource that worked in an older cluster

[code]

[2018-12-18 21:16] jlewi commented on #2120
It looks to me like metacontroller isn't getting any events.

[code]

[2018-12-18 21:20] jlewi commented on #2120
It looks like Cloud Endpoints registers a lambda controller

[code]
This doesn't seem to have a status either.

[2018-12-18 21:39] jlewi commented on #2120
My conjecture is that the older version of the cloud endpoints controller was using metacontroller types that no longer exist

[2018-12-18 21:39] kkasravi commented on #2094
/assign @kkasravi

[2018-12-18 22:29] jlewi opened #2121 "[gcp] E2E test for Cloud Endpoints controller"
See #2120

Clound endpoints controller broke when we updated it and we weren't registering Cloud Endpoints.

This should be tested by an E2E test; i.e. we should verify that we can look up the DNS name and get an IP address

[code]

[2018-12-18 22:45] kkasravi commented on #2095
Hi @kunmingg I'm working on #2094, let me know if you're doing related auth changes for gcp-click-to-deploy.

Thanks
Kam

[2018-12-18 23:41] jlewi commented on #2120
I tried #2122. I got further along. The CRD gets processed and the config is submitted but it looks like its getting stuck in the SubmitStatePending

https://github.com/danisla/cloud-endpoints-controller/blob/1fc09ffbdb1dfb32653211773d3df4f89343ec3b/cmd/cloud-endpoints-controller/main.go#L262

Here are the logs
[code]

I suspect we aren't triggering an automatic resync or else the interval is too

[2018-12-18 23:45] aronchick commented on #2119
This sounds amazing! I've wanted us to do a lot more reproducibility around Kubeflow, so this is a great proof point.

[2018-12-18 23:46] aronchick commented on #2119
/cc @xyhuang

[2018-12-19 00:03] xyhuang commented on #2119
hi @rakelkar @aronchick thanks for the suggestions!
would love to include this as an example benchmarking use case, created https://github.com/kubeflow/kubebench/issues/157 to track it.

[2018-12-19 00:28] IronPan opened #2124 "[Click-to-Deploy App] Support more deployment customization"
Currently the click to deploy app only expose the GKE zone and Kubeflow version as the configurations. This is good for quick tryout, but it is too limited for production use cases.

Some of specific cluster configurations, such as private cluster, GPU/TPU supports, are very common customizations. Ideally we should support advanced configuration section to allow most or all configurations supporte

[2018-12-19 00:55] jlewi commented on #2124
So is the feature request just to make GPU and TPU options in the UI?

[2018-12-19 01:05] kunmingg opened #2125 "master head: cloud-endpoints controller not respond to newly created CRD"
cloud-endpoints controller didn't create GCP cloud endpoint when a CRD instance is created.
How to reproduce:
check out latest master head, deploy with kfctl.

Seems [master head image](https://github.com/kubeflow/kubeflow/blob/b705cff7a3d2517e32a36b34ea48786a704ff26d/kubeflow/gcp/cloud-endpoints.libsonnet) is different with [v0.3 image](https://github.com/kubeflow/kubeflow/blob/v0.3-branch/kubefl

[2018-12-19 01:07] kunmingg commented on #2125
@abhi-g

[2018-12-19 01:10] IronPan commented on #2124
The GPU and TPU are just some examples. Other examples include private cluster, GPU type, GPU node #.

For Pipeline, it need to be able to configure whether to create a database, or using an existing one.

[2018-12-19 01:30] andreyvelich opened #2126 "Update ksonnet package for Katib"
We need to update ksonnet package for Katib since Katib supports Pytorch jobs.

[2018-12-19 01:30] andreyvelich commented on #2126
/assign

[2018-12-19 01:41] johnugeorge commented on #2126
One more fix is remaining
https://github.com/kubeflow/katib/issues/294

[2018-12-19 01:55] andreyvelich commented on #2126
@johnugeorge Alright, I can wait until it will be merged.

[2018-12-19 02:03] johnugeorge commented on #2098
- [ ] #2126 Update ksonnet package for Katib

[2018-12-19 03:50] hackintoshrao opened #2128 "Issue installing Kubeflow 0.3"
I followed the CLI guide for installing kubeflow from [here](https://master.kubeflow.org/docs/started/getting-started-gke/).

The installation gets stuck in the last part of the process `${KUBEFLOW_SRC}/scripts/kfctl.sh apply k8s`.

The installation gets stuck at `ks apply default -c ambassador`, it does't proceed for there.

<img width="487" alt="screen shot 2018-12-19 at 9 22 14 am" src="https:/

[2018-12-19 04:50] hackintoshrao commented on #2128
Issue got resolved on enabling boost mode.

[2018-12-19 04:50] #2128 closed

[2018-12-19 06:18] lluunn opened #2129 "[gcp] ingress_bootstrap is not needed"
Since https://github.com/kubernetes/ingress-gce/pull/388 is fixed now.

https://github.com/kubeflow/kubeflow/blob/d758175b7c42587aa6efe65c39d4a9361bc1b9a9/kubeflow/gcp/ingress_bootstrap.sh

[2018-12-19 06:31] xyhuang commented on #2098
- [ ] #2110 Ks package for kubebench operator

[2018-12-19 07:07] jlewi commented on #2124
Repasting my comment from my offline discussion

Why do you think adding configuration options to the UI would simplify the experience?

We have evidence that adding options to the UI creates a more complicated experience.

The consistent feedback we've gotten from users is that creating an OAuth client for IAP is too complicated. That is an entirely UI based experience, we even have screen shots

[2018-12-19 08:11] Hirosora opened #2130 "Can kubeflow run a job using multi-nodes' resources ?"
We are looking for a distributed system on which we can run our  machine learning job. We wish each job can use multi-nodes' hardware resources.

Could you please tell me if kubeflow can meets our request ? Thank you !

[2018-12-19 10:49] hamedhsn opened #2131 "nodeselector in jupyter spawner not working"
I am trying to add nodeselector to jupyterhub spawner but it seems that it is not working. any clue where the problem might be?
I have tried also the node_affinity_required it is the same.

`c.KubeSpawner.node_selector = {"beta.kubernetes.io/instance-type": "m4.xlarge"}`

`
c.KubeSpawner.node_affinity_required = [
            {
              "matchExpressions": [
                {

[2018-12-19 13:33] jlewi commented on #2124
Reposting some offline discussion

From @IronPan

Here's how this should work.
A user should do
kfctl init
kfctl generate
<make any changes they need>
kfctl apply

Now if they need to make changes the process would generally be
edit config files
kfctl apply

This will issue updates. For example users can follow this approach to
1. Add Cloud NFS file store and mount it in JupyterHub
2. Change pipel

[2018-12-19 14:03] #2120 closed

[2018-12-19 14:10] jlewi commented on #2131
Can you provide the pod spec for your notebook pod so we can see whether the fields are actually being set?

[2018-12-19 14:14] jlewi opened #2132 "[gcp-click-to-deploy] cleanup: remove ks and kubectl from Dockerfile"
In the https://github.com/kubeflow/kubeflow/blob/master/bootstrap/Dockerfile

There should no longer be any need to install kubectl and ks CLIs.

This is a remnant of when the container was intended to provide an interactive environment for delivering the various CLIs to the user.

But now the intended purpose of this docker image is to run the bootstrap/kfctl web server.

So we can remove the CLI

[2018-12-19 14:23] jlewi commented on #2119
Should we transfer this issue to kubeflow/kubebench and mark #157 as a duplicate?

[2018-12-19 14:45] jlewi opened #2133 "Create changelog for 0.4 release"
We should update the changlog
https://github.com/kubeflow/kubeflow/blob/master/CHANGELOG.md

with the changes in 0.4

Do we need to wait for the RC to be cut? Or can we update the CHANGELOG.md and then start curating it into something readable and then update it with additional changes?

[2018-12-19 18:30] r2d4 commented on #2133
/assign @r2d4

[2018-12-19 18:35] r2d4 commented on #2132
Some other things that should be removed

- dlv
- vim

Possibly a longer term goal is to convert the build into a multi-stage build so that we could remove
- go
- apt-get
- wget
as well as have a smaller footprint

[2018-12-19 19:11] gabrielwen commented on #2125
this is fixed in #2120

[2018-12-19 19:12] abhi-g commented on #2125
Awesome! Thanks for the quick fix.

On Wed, Dec 19, 2018 at 11:11 AM Hung-Ting Wen <notifications@github.com>
wrote:

[2018-12-19 19:36] andreyvelich opened #2134 "Kubebench operator jsonnet unittest"
We should create a jsonnet unittest for kubebench operator ksonnet package.
Related to https://github.com/kubeflow/kubeflow/pull/2111.

[2018-12-19 19:46] gabrielwen commented on #2125
/close

[2018-12-19 22:10] holdenk opened #2136 "initialization script does not correctly detect ks installation when aliased"
The script uses which to check if ks is installed however on my machine (for example):

And

[2018-12-20 00:20] xyhuang commented on #2119
actually kubeflow/kubebench#157 was already in kubeflow/kubebench :)

[2018-12-20 02:00] kunmingg commented on #2095
@kkasravi That's great! Will integrate once basic auth ready.

[2018-12-20 02:06] kunmingg commented on #2094
@kkasravi
https://www.getambassador.io/reference/services/auth-service/
I think we can take some existing basic ones like:
https://github.com/goji/httpauth
https://github.com/datawire/ambassador-auth-httpbasic

and implement features we need:
1. cookie-based auth
2. login page for all unauthorized traffic

[2018-12-20 05:46] kkasravi commented on #2094
@kunmingg thanks
I was going to start with [https://github.com/datawire/ambassador-auth-httpbasic](https://github.com/datawire/ambassador-auth-httpbasic)

[2018-12-20 06:15] #2110 closed

[2018-12-20 07:54] giogit commented on #1092
However, in this way IAM roles are not deleted

[2018-12-20 09:38] johnugeorge opened #2140 "Consistency in naming package/prototype/image names across operators"
Naming conventions of packages/prototypes/images across operators are not consistent.

For tf-operator installation,

 ks pkg install **kubeflow/tf-training**
 ks generate **tf-job-operator** tf-job-operator

TF public images are in **gcr.io/kubeflow-images-public/tf_operator**

While for pytorch operator installation ,

  ks pkg install **kubeflow/pytorch-job**
  ks generate **pytorch-operator**

[2018-12-20 10:10] royxue commented on #2076
@jlewi
Agree with you. the default storage class is needed. and if @dpaks you are using the hostpath for PV, you probably should manually create the PV as there is no provisioner.

[2018-12-20 10:12] royxue commented on #2077
@dpaks
Finally I have some time to look into this issue, I think this come with different causes.
For vizier-core, the problem is probably that your storage class, PV, PVC issues, which make the vizier db is on pending.
For ml-pipeline, hmmm I think the problem might be this
[code]

[2018-12-20 10:50] dpaks commented on #2076
@jlewi @royxue
True that. I use hostpath and I had to manually create PVs to overcome this issue. Sorry for the late response.

An example:
kind: PersistentVolume
apiVersion: v1
metadata:
  name: minio-pv-volume
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 11Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/home/xxx/datastore"

[2018-12-20 10:54] dpaks commented on #2077
@royxue Yes, you're right. This doesn't have anything to do with Kubeflow. In my case, the pods were not able to reach outside the subnet. After resolving that, things worked fine.

[2018-12-20 10:54] #2077 closed

[2018-12-20 11:48] royxue commented on #2076
👍
This can be closed ;)

[2018-12-20 11:51] #2076 closed

[2018-12-20 12:40] TimZaman commented on #1694
Still an issue? I installed kubeflow last week with the tutorial, and visiting `https://XXX.cloud.goog/argo/` gives me (console):

```GET https://kubeflow2.endpoints.kubeflowtest-225221.cloud.goog/main.f6e517525a3ff95bf2c8.js net::ERR_ABORTED 404```

[2018-12-20 13:05] woop opened #2141 "Feast (Feature Store) and Kubeflow"
At [GOJEK](https://www.gojek.io/) we've recently open sourced a software project called [Feast](https://github.com/gojek/feast), an internal Feature Store for managing, storing, and discovering features for machine learning. The software was jointly developed by GOJEK and Google, and the first release is currently running in production at GOJEK. We are open sourcing the software because we've seen

[2018-12-20 13:59] jlewi commented on #2140
@johnugeorge
What is the priority for this issue? Can you please set it using /priority?
Can you add appropriate labels as well using /area?

[2018-12-20 13:59] jlewi commented on #2134
@andreyvelich What is the priority for this issue?
Can you add appropriate labels using "/area"?

[2018-12-20 14:02] jlewi opened #2142 "Test flake; unrecognized argument"
Observed the following test failure
https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/2127/kubeflow-presubmit/4749/

Opening this issue to track to see if its a flake or not. The PR in question should have been a doc only change.

[code]

[2018-12-20 15:01] jlewi commented on #2126
@andreyvelich Any update on this we want to cut the RC today?

[2018-12-20 15:54] johnugeorge commented on #2140
/priority p1
/area tfjob /area pytorch

[2018-12-20 17:36] laurentgrangeau opened #2144 "Unable to spawn Jupyterhub notebook on AKS"
When trying to spawn a new notebook server on AKS cloud, it takes forever to spawn and I'm unable to connect to the desired notebook.

[2018-12-20 18:25] jlewi opened #2146 "[Test Flake] Timeout waiting for TFJob to be deployed; problem scaling up replica set"
http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-presubmit-kfctl-2107-347ffb8-4752-abb7?tab=workflow&nodeId=kubeflow-presubmit-kfctl-2107-347ffb8-4752-abb7-3573156979

Here are the logs. It looks like there was a timeout waiting for the replica set to scale up.

[kubeflow-presubmit-kfctl-2107-347ffb8-4752-abb7-3573156979.logs.txt](https://github.com/kubeflow/kubeflow/files/2

[2018-12-20 18:38] jlewi commented on #2146
I fetched the cluster events

[code]

Events indicate it got as far as pulling the image.

This was 5 minutes before the timeout occurred.

So did it just timeout waiting for the image to be pulled?

[2018-12-20 18:47] andreyvelich commented on #2126
@jlewi I will make it today

[2018-12-20 18:55] gabrielwen commented on #2125
/close

[2018-12-20 19:10] gabrielwen commented on #2125
/close

[2018-12-20 19:10] #2125 closed

[2018-12-20 19:45] andreyvelich commented on #2134
/area 0.5.0

[2018-12-20 21:03] #2126 closed

[2018-12-20 21:55] kunmingg opened #2147 "login page for basic username/password login with ambassador"
See https://github.com/kubeflow/kubeflow/issues/2094 for longer story.
Need to have login page for basic auth case.

frontend: login page.
backend: redirect unauth traffic to login page.

[2018-12-20 21:59] kunmingg opened #2148 "Cookie based auth for basic username/password login with ambassador"
See https://github.com/kubeflow/kubeflow/issues/2094 for longer story.
Need to have cookie based auth once user login.

1. cookie generated, recorded and assigned once login.
2. client side: once clear cookie, redirect to login page.
3. server side: once cookie expires (1 day), clear and redirect to login page.

[2018-12-20 22:04] kunmingg opened #2149 "Allow in-cluster traffic through ambassador while enable basic username/password login with ambassador"
See https://github.com/kubeflow/kubeflow/issues/2094 for longer story.
Need to allow in cluster traffic while enable basic auth.

By current design, basic auth accept username/password or cookie, but in-cluster traffic would have none of them.

Auth server should recognize in-cluster traffic and allow them.
This should be transparent to individual components.

[2018-12-20 22:05] kunmingg commented on #2094
@kkasravi
Thanks!

I create 3 sub issues:
https://github.com/kubeflow/kubeflow/issues/2147
https://github.com/kubeflow/kubeflow/issues/2148
https://github.com/kubeflow/kubeflow/issues/2149

So we can track in details.

[2018-12-20 23:53] kunmingg commented on #2149
One easy solution is to have separate ambassador services:
1. external facing:
* used by user request, from browser or API call
* every request validate by auth service
2. internal facing:
* used by in-cluster traffic.
* only accessible within cluster
* doesn't go through auth service

[2018-12-21 00:36] kunmingg opened #2152 "[gcp-click-to-deploy] isolate each request into it's own container."
Deploy service backend should have one container per request to process all actions.
This provide container level isolation.
Each container should exit after all actions successfully done.

[2018-12-21 03:28] jlewi opened #2155 "File issues based on https://derekmferguson.wixsite.com/ml4nonmath"
https://derekmferguson.wixsite.com/ml4nonmath

The author spent a lot of time trying out Kubeflow and writing up his problems. Lets try to capture it and turn it into action items.

1. [Cleaning up Kubeflow K8s resources is difficult](https://derekmferguson.wixsite.com/ml4nonmath/single-post/2018/12/18/Kubeflow-Unboxing---Part-5---Installing-034-with-kfctlsh)

    * This should already be fixed in

[2018-12-21 03:31] jlewi opened #2156 "Jupyter spawner UI should provide a warning if pod isn't backed by durable storage"
Context: see #2155

Using PVC is a barrier to kicking the tires on Kubeflow. So we want to make it possible to deploy Kubeflow without using durable storage backing the Jupyter pod.

The spawner UI should provide a clear warning so that users don't get surprised if their pod gets preempted and their data is lost.

[2018-12-21 03:34] jlewi opened #2157 "Notebook manager UI should disable New PVC option if no default storage class is defined."
Context: #2155

Creating a PVC to back Jupyter pods can be a major friction point for new users just kicking the tires.

As #2155 shows users may not realize they can just disable PVC.

We can configure kfctl to test if a cluster has a default storage class and if not disable the use of PVC with jupyter by default.

[2018-12-21 03:37] jlewi commented on #2155
Filed issues for the above.

Does anyone else want to do another pass through the blog and see if I missed anything?

[2018-12-21 07:08] #42 closed

[2018-12-21 09:12] IronPan commented on #2124
Thanks Jeremy.

I gave a try by
1. follow the CLI instruction and create a deployment
2. Update the DEPLOYMENT_NAME in env.sh to **foobar**
3. Redo the CLI deployment

I expect a new set of foobar-user/foobar-admin/foobar-vm GCP service account to create but they doesn't. This causes permission issues when I run stuff inside the cluster.
Could you or someone take a look?
cc @kunmingg

[2018-12-21 09:15] IronPan commented on #2124
One thing I didn't do is
`rm -rf gcp_config`
before running
`${KUBEFLOW_SRC}/scripts/kfctl.sh generate platform`
again. I suspect it cache the previous config and thus doesn't create a new one.

[2018-12-21 13:38] jlewi opened #2159 "cherry-pick gives not found error"
I tried creating a cherry pick using [cherry_pick_pull](https://github.com/kubeflow/kubeflow/blob/master/hack/cherry_pick_pull.sh)

I got a Not Found error when it tried to create the pull request.

[code]

[2018-12-21 13:40] jlewi commented on #2159
I was able to create the PR manually from the branch but there were problems.

1. There were multiple authors on the PR so the CLA check failed
1. The description in the PR didn't reference the original PR; is that expected?

[2018-12-21 18:51] r2d4 commented on #2133
Fixed with https://github.com/kubeflow/kubeflow/pull/2150

[2018-12-21 18:51] #2133 closed

[2018-12-21 20:51] jlewi commented on #2144
Can you provide the output of `kubectl describe pods <JUPYTER POD>"

/cc @Jeffwan  (resident AWS expert)

[2018-12-21 20:52] jlewi commented on #2144
A is for Azure.

/cc @aronchick

[2018-12-21 21:13] jlewi commented on #2141
This is fantastic.

Do folks think we should create a package in Kubeflow for Feast in 0.5?

@woop Does feast support ingestion to non GCP datastores? I think its just using Beam so I'd imagine any Beam sink would work?

Instructions for creating packages
https://github.com/kubeflow/kubeflow/blob/master/docs_dev/ksonnet_packages.md

[2018-12-21 23:49] pdmack commented on #11
OpenShift makes use of sidecar proxies for securing endpoints that are otherwise insecure
https://github.com/openshift/oauth-proxy

[2018-12-22 00:20] holdenk opened #2162 "util.sh check_install falls back to check for ks"
When I fixed check_install to support aliases I accidentally hard coded it to check for `ks`.

[2018-12-22 07:36] stpabhi commented on #2132
@jlewi I have submitted #2164 for the same.

[2018-12-22 08:01] stpabhi commented on #2131
@hamedhsn Kubespawner properties didn’t work for me either. I have done something like the below in kubeform_spawner.py to make it work. Let me know if you find this helpful.

[code]

[2018-12-22 08:57] woop commented on #2141
If the community is keen, we'd be willing to maintain a package for Feast in Kubeflow.

We currently support Redis and Bigtable for feature serving, and BigQuery as a feature warehouse. The ingestion code (Beam) should be pretty straightforward to extend for other types of stores though. We'd like to add an open source warehouse as an alternative to BigQuery, since that would allow us to have stan

[2018-12-23 20:26] abhi-g opened #2165 "Don't wait for IAP redirect when Skip IAP is selected"
Even when Skip IAP is checked in the click-to-deploy app, the deployment app waits for the IAP url to become accessible.

[2018-12-23 20:27] abhi-g opened #2166 "Add timestamps in the log messages of the click to deploy app"
Having timestamped log messages in the client is helpful specially when the same wait message is being printed and there is no way to tell in the log window if the app is progressing.

[2018-12-23 21:59] MatthiasHertel commented on #1393
@jlewi

I used exactly the versions you mentioned ...

[code]

and in dropdown menu on the hub i used:
![image](https://user-images.githubusercontent.com/8426566/50387833-33b1cf80-0706-11e9-9f24-da32b41fb1b8.png)

and i got still an version mismatch:

![image](https://user-images.githubusercontent.com/8426566/50387837-4e844400-0706-11e9-899b-f75190e4e280.png)

[2018-12-24 02:15] jlewi commented on #2141
I think it would be very cool to create an example based on Feast with the GitHub dataset.

An interesting idea would be if we could build a model to identify issues that need attention. We could plug it into gubernator.
https://k8s-gubernator.appspot.com

That's a non-trivial amount of work but I have an intern coming this summer.

/cc @hamelhu

[2018-12-24 16:05] kkasravi commented on #1606
this has been resolved elsewhere

[2018-12-24 16:05] #1606 closed

[2018-12-24 22:12] #2162 closed

[2018-12-24 22:35] aronchick commented on #1749
Part of the weirdness here is the instructions say to set $KFAPP which seems and, if it's not set, the setup scripts fail in weird ways (e.g. because you can't cd to a directory that doesn't exist). We should really get out of this habit.

[2018-12-25 22:30] aronchick commented on #626
I'm seeing really weird/irregular errors when I proxy into Kubeflow as well. I've tried port-forwarding and proxy-ing and both are really challenging to get a notebook up and running (I suspect both usually times out - but it's hard to find logs remotely).

I wonder if there's something we can do to make proxying easier?

[2018-12-26 09:22] paveldournov opened #2169 "Docs: The reference to the deployer app should be higher in the page"
The link to the KF deployer application is near the bottom of the deployment page https://www.kubeflow.org/docs/started/getting-started-gke/

It is hard to discover and is easy to miss, though it is the first deployment method we should recommend for GKE. Please move the deployer app section to the top of the page.

[2018-12-26 09:25] paveldournov opened #2170 "Docs: referenced version of KF is not the latest"
Pages like https://www.kubeflow.org/docs/started/getting-started-gke/ refer to version 0.3.4 as the latest, while the latest is 0.3.5. We also need a more automated way to update the documentation when the new "dot" release is published.

[2018-12-26 15:31] jlewi opened #2171 "[Google] Google IAP OIDC support"
We would like to use OIDC  (https://kubernetes.io/docs/reference/access-authn-authz/authentication/) to allow web apps (like the Jupyter spawner UI) to authenticate to the APIServer on behalf of the end user.

To support this we need IAP to inject the id_token into the request.

[2018-12-26 16:41] jlewi commented on #2170
The version is set here:
https://github.com/kubeflow/website/blob/master/themes/kf/layouts/shortcodes/kf-stable-tag.html

@paveldournov do you want to send me a PR updating it to 0.3.5?

/assign @paveldournov

[2018-12-26 17:12] jlewi opened #2172 "Jupyter CR should create ISTIO Virtual Service"
See design doc: http://bit.ly/kf_jupyter_design_doc

We will use ISTIO to route traffic to individual jupyter notebooks.

To support this the Jupyter custom resource should create the ISTIO virtual service and define the appropriate route.

[2018-12-26 17:22] jlewi opened #2173 "Jupyter CR should define Authorization policy by creating ServiceRole and ServiceRoleBinding resources"
See: http://bit.ly/kf_jupyter_design_doc

To support multi-user jupyter the Jupyter CR should define ISTIO authorization policies that restrict who can access each Jupyter instance.

[2018-12-26 18:56] yuvipanda commented on #1189
/cc @jasongrout, one of the core JupyterLab devs.

[2018-12-26 19:13] #2022 closed

[2018-12-26 20:35] jasongrout commented on #1189
Is this the codebase? https://github.com/tensorflow/model-analysis/tree/master/tensorflow_model_analysis/notebook/jupyter/js

If that is the code we are talking about, it may be pretty straightforward to look at an example widget generated by the widget cookiecutter and modify the above js code appropriately.

[2018-12-26 20:55] kunmingg commented on #2155
Support [reuse existing cluster](https://derekmferguson.wixsite.com/ml4nonmath/single-post/2018/12/16/Kubeflow-Unboxing---Part-2---Kubeflow-itself) could be a useful feature.
Sometimes users don't have a reserved cluster for kubeflow only.

[2018-12-26 21:53] jlewi opened #2174 "Jupyter CR E2E test"
Context: http://bit.ly/kf_jupyter_design_doc

We will need an E2E test for our the Jupyter custom resource.

[2018-12-26 21:55] jlewi opened #2175 "Profiles resource should support setting resource quotas on namespaces"
Context:
Design doc: http://bit.ly/kf_jupyter_design_doc
CUJ: http://bit.ly/kubeflow_cuj_multi_user

The Profiles resource should support set default resource quota on the namespace created (see CUJ for details).

[2018-12-26 21:56] paveldournov commented on #2170
Done

[2018-12-26 21:57] jlewi opened #2176 "Profiles resource needs an E2E test"
Context:
Design doc: http://bit.ly/kf_jupyter_design_doc
CUJ: http://bit.ly/kubeflow_cuj_multi_user

We will need an E2E test for the profiles custom resource.

[2018-12-26 22:03] jlewi opened #2177 "Install profiles CR by default"
Context:
CUJ: http://bit.ly/kubeflow_cuj_multi_user
Design doc: http://bit.ly/kf_jupyter_design_doc

To support multi-user Kubeflow I think we will want to install the profiles CR by default in Kubeflow deployments.

We should probably do this in the go based implementation of kctfl (#1419) and not bother with kfctl.sh on the premise that we will be using the go based binary in 0.5.

[2018-12-26 22:07] jlewi opened #2178 "Web app to create/delete Profile CRs"
Context:
CUJ: http://bit.ly/kubeflow_cuj_multi_user
Design doc: http://bit.ly/kf_jupyter_design_doc

We'd like to use the profiles resource to create namespaces for different users/teams to consume Kubeflow in.

We might eventually want to provide a UI based experience for creating/deleting these resources.

This seems low priority to me so I'm marking it p2.

[2018-12-26 22:13] jlewi commented on #1731
I'm downgrading to P2 because I don't think this will be part of one of our critical CUJs for 0.5.

[2018-12-26 22:37] jlewi commented on #2098
Have we enabled periodic tests on the release branch for 0.4 yet?

[2018-12-27 01:53] jlewi commented on #2098
I did a quick sanity check of 0.4 based on
https://github.com/kubeflow/kubeflow/commit/8799d29cd172752138ad502ae0c59afcff7c8a87

* Checked in the spawner UI I can specify a custom image
* All the central dashboard links are working.

One issue I saw was it looks like the Jupyter images for TF 1.11 & 1.12 aren't included in the default config.

[2018-12-27 02:12] jlewi commented on #2170
Fixed by kubeflow/website#380

[2018-12-27 02:12] #2170 closed

[2018-12-27 02:14] jlewi commented on #2155
@kunmingg Are there specific features missing for requsing an existing cluster? If users want to install Kubeflow on an existing cluster can't they just set platform to none and follow the getting started guide
https://www.kubeflow.org/docs/started/getting-started/?

[2018-12-27 02:16] jlewi commented on #2136
@holdenk Is this fixed by your PRs? Are the fixes just on master or are they also on the 0.4 branch? If they aren't on the 0.4 branch do you want to submit cherry picks to add them to the 0.4 branch?

[2018-12-27 02:18] jlewi commented on #2132
Thanks @stpabhi; is this fixed by #2164 or is there more to do?

[2018-12-27 02:20] jlewi commented on #2130
This will depend on the framework you are using. Some frameworks like PyTorch and TensorFlow can run distributed across multiple-machines and use multiple resources on the machine such as GPUs.

Hope that answers your question. If not it might help to provide more details about what you are trying to do.

[2018-12-27 02:20] #2130 closed

[2018-12-27 02:31] jlewi commented on #2078
@kunmingg Do you know what's going on here?

[2018-12-27 02:38] jlewi commented on #2070
@cwbeitel The GKE cluster is created when you do `kfctl apply platform`. So you should not be creating the cluster manually via `gcloud container clusters create`.

If you run the kfctl script and perform the platform and k8s steps it should create the GCP service accounts needed inside your cluster. If you don't observe that I would check the output of the script to see if any errors occurred.

T

[2018-12-27 02:41] jlewi commented on #2021
@andrewgdavis Yes by default Argo is configured to work behind the Ambassador reverse proxy so you need to access it through ambassador otherwise the http paths won't be correct. Alternatively as @andreyvelich mentions you can change the Argo config so its not configured to work behind Ambassador in which case you can bypass ambassador.

I'm going to close this; please reopen if your question hasn

[2018-12-27 02:41] #2021 closed

[2018-12-27 02:44] jlewi commented on #1991
Thanks @Jeffwan. I recall seeing some issue where Ambassador ended up causing the DNS server to crash. You might want to try taking down Ambassador or some of the other Kubeflow services to see if that fixes the problem.

[2018-12-27 02:46] jlewi commented on #1970
This seems like a bug in GKE. I would expect deleting the cluster to delete the associated node pools. It might be worth following up with them to see if it is expected that deleting a cluster can orphan node pools.

/cc @kunmingg

[2018-12-27 02:50] jlewi commented on #1947
@Jeffwan I think http-proxy in k8s-model-server is no longer used except for older versions of TFServing. If you're willing to clean it up I think that would be useful but double check with @lluunn first and I'd suggest filing a separate issue.

@amalow per your comment I'm marking this as a duplicate and closing it.

Duplicate of #102

[2018-12-27 02:50] #1947 closed

[2018-12-27 02:50] jlewi commented on #1947
Duplicate of #102

[2018-12-27 02:57] jlewi commented on #1944
I'm curious how you created the ksonnet application?

If you followed the getting started instructions, you should be using your locally installed version of `ks` to create the ksonnet app. So I'm not sure how you ended up with a v0.13 app (0.3.0) if you created it with 0.12.

The only thing I can think of is if the minikube scripts are somehow downloading a different version of ks and using that

[2018-12-27 03:01] jlewi commented on #1934
Duplicate of #1912

[2018-12-27 03:01] #1934 closed

[2018-12-27 03:01] jlewi commented on #1912
@IMBurbank Were you able to resolve this?

[2018-12-27 03:03] jlewi commented on #1933
@kkasravi @pdmack any idea whether this is still happening?

[2018-12-27 03:05] jlewi commented on #1932
We do install the newer google-cloud library
https://github.com/kubeflow/kubeflow/blob/bf94de1c209483f84196802a8e26f5fc12b75aab/components/tensorflow-notebook-image/requirements.txt#L18

[2018-12-27 03:07] jlewi commented on #1914
Closing this because I think its fixed by @ashahba's fixed in 0.4

[2018-12-27 03:07] #1914 closed

[2018-12-27 03:07] jlewi commented on #1891
I believe this was patched into 0.3. If not we are already onto 0.4 so closing this either way.

[2018-12-27 03:07] #1891 closed

[2018-12-27 03:08] jlewi commented on #1889
@AndriiNeverov Do you want to submit a patch for this?

[2018-12-27 03:10] jlewi commented on #1854
@carmine WDYT should we incoporate @leigh-johnson's fixes?

[2018-12-27 03:11] #1796 closed

[2018-12-27 07:32] kunmingg commented on #2078
Seems cloud shell cannot clone from source repo.
Permission issue?

[2018-12-27 07:35] kunmingg commented on #2078
@cwbeitel
Any info of how to reproduce would be helpful, thanks!
Is this the first time you try cloud shell?

[2018-12-27 09:10] stpabhi commented on #2175
#2182

[2018-12-27 10:09] carmine commented on #1854
Will look at the patch by Monday 12/31. I’ve experimented with some additional scripting, including exposing K8s Dashboard. Will update instructions accordingly.

[2018-12-27 17:58] texasmichelle opened #2183 "Use consistent naming in release artifacts"
Consistently name release artifacts.

- [ ] Add `kubeflow-` to archive name. This makes it easier to identify the source of the downloaded file.
- [ ] Do not strip `v` from version in unpacked artifact. This is consistent with version tags in the repo.

Example:
Latest release asset is named `v0.3.5`, but unpacked folder is named `kubeflow-0.3.5`:
[code]

[2018-12-28 02:59] shinytang6 opened #2184 "Issue installing Kubeflow 0.3.5 using kfctl"
l followed the guide from [https://www.kubeflow.org/docs/started/getting-started-minikube/](https://www.kubeflow.org/docs/started/getting-started-minikube/)

The installation gets stuck when running `${KUBEFLOW_SRC}/scripts/kfctl.sh apply all`.(wait for almost two hours)

![image](https://user-images.githubusercontent.com/22241503/50500916-6dc8fb80-0a8f-11e9-94cd-4fe133026019.png)

Am l missing so

[2018-12-28 09:07] stpabhi opened #2185 "sync-notebook needs to look for a Deployment kind that is version independent"
k logs po/metacontroller-0 -f
[code]

[2018-12-28 09:17] stpabhi commented on #2185
/area jupyter
/cuj multi-user

[2018-12-28 14:55] jlewi opened #2186 "kfctl.sh fails if a user isn't explicitly added to the IAM policy"
gcloud email returns a case insensitive value for the email; but the IAM policy is case sensitive. This is issue #1936.

To fix this #1937 checks the IAM policy for the email and if its found uses that one.

However, #1937 will exit with an error if the email address isn't found in the IAM policy. This will happen if the user has access through a google group.

We should not exit with an error if

[2018-12-28 16:36] jlewi commented on #2183
I'm not sure how much control we have here.

I think the name "v0.3.5" is based on the release tag.

The tarball is autogenerated from the source tree as well by GitHub.

[2018-12-28 16:40] jlewi commented on #2184
Its waiting for your ambassador pods and jupyter pods to start. See here:
https://github.com/kubeflow/kubeflow/blob/76107ff3aa7f9fde6fd7f15f2ec0a69a35874efa/scripts/util-minikube.sh#L34

Can you look at your pods and see what state they are in? Most likely they are not getting scheduled from some reason.

[2018-12-28 16:42] jlewi commented on #2185
@stpabhi Can you elaborate please?  i.e. can you describe what you are concluding based on the logs?

/cc @kkasravi

[2018-12-28 16:45] jlewi opened #2189 "kfctl.sh should check the name of the deployment is < 25 characters on GCP"
On GCP the kubeflow app name created by kfctl.sh is used to name the deployment as well as service accounts.

Service accounts have the form ${KFAPP}-${SUFFIX}.

Service account names must be <=30.

Therefore kfctl.sh should verify the KFAPP name is <= 25 characters to allow room for the suffix.

[2018-12-28 16:47] jlewi commented on #2189
We should also disallow "." because "." can't be used in deployment names.

[2018-12-28 16:53] stpabhi commented on #2185
@jlewi I have created a TensorFlow notebook deployment using the notebook.yaml as mentioned here https://github.com/kubeflow/kubeflow/blob/master/kubeflow/jupyter/prototypes/README.md

Deployment, service are created and the notebook pod is running as expected. But the metacontroller is continuously deleting the deployment and recreating it. Above logs shows that notebook deployment is continuousl

[2018-12-28 17:16] shinytang6 commented on #2184
![image](https://user-images.githubusercontent.com/22241503/50522588-ae179080-0b06-11e9-864e-4fcc778ccc0f.png)

emmm, is there something wrong?

[2018-12-28 20:28] jlewi opened #2190 "[gcp] kfctl delete should ensure CloudEndpoints service is deleted"
When we delete Kubeflow, the Cloud Endpoints resource won't be deleted if we just delete the deployment.

kfctl should explicitly delete it.

Does cloud endpoints support labels? It would be nice if we could use labels to identify the KF deployment that owned a cloud endpoint so we could easily clean up endpoints.

Related to: kubeflow/testing#268

[2018-12-28 21:03] stpabhi commented on #2185
@jlewi Thanks, I’ll do my investigation as well. I’m guessing it might be the status conditions check in sync-notebook.jsonnet and controller couldn’t determine the children status upon creation.

[2018-12-28 23:10] kkasravi commented on #2185
@stpahbi @jlewi

Hi - I'll be back on the 6th but will have a bit of time to try and resolve this and push a PR.
I'll explain the issue below:

This is likely due to a version mismatch between the Deployment created
and the Deployment specified. The logic is as follows:
1. The Deployment will be created in the sync-notebook [code](https://github.com/kubeflow/kubeflow/blob/master/kubeflow/jupyter/s

[2018-12-29 01:35] stpabhi commented on #2185
@kkasravi Thanks for the detailed explanation. Why does this [here](https://github.com/kubeflow/kubeflow/blob/master/kubeflow/jupyter/notebooks.libsonnet#L130)  have to be ```extensions/v1beta1``` and not ```apps/v1beta1```. Changing it to apps/v1beta1 has fixed the problem for me.

[2018-12-29 04:52] texasmichelle commented on #2183
Oh right - because we're not generating binaries, this is an automated GH thing. Consistency across all of GH makes it less of an issue.

[2018-12-29 04:52] #2183 closed

[2018-12-29 07:57] IMBurbank commented on #1912
Sadly, no.

Just tried again, first with KS v0.13.1 and Kubeflow v0.4.0-rc.2 (got a type mismatch error based on the gcfs.yaml type when applying the platform), and again with Kubeflow v0.3.5. Errors seem similar to what I was getting last month.

Details:

#### Filestore Instances
[code]

#### PVCs
[code]

#### Describe jupyter pod
[code]

#### Jupyter pod logs
[code]

[2018-12-29 18:30] jcastill commented on #2189
Is this patch good enough? I have the following results when I ran it:

Test 1:

$ ./kfctl.sh  init directory_name_contains.txt --platform none
+ ENV_FILE=env.sh
+ SKIP_INIT_PROJECT=false
+ GKE_API_VERSION=v1beta1
+++ dirname ./kfctl.sh
++ cd .
++ pwd
+ DIR=/home/jcastill/codigo/kubeflow/scripts
+ source /home/jcastill/codigo/kubeflow/scripts/util.sh
+ source /home/jcastill/codigo/kubeflow/scripts

[2018-12-30 01:12] jlewi commented on #2189
That looks look good; want to submit a PR?

I'm on the fence about whether we should always apply the limit or only in the case platform is GCP.

[2018-12-30 01:24] jlewi opened #2192 "How should profiles support cloud credentials?"
Context: http://bit.ly/kubeflow_cuj_multi_user
Doc:  http://bit.ly/kf_jupyter_design_doc

We would like to support multi-user Kubeflow where each team/user gets their own isolated namespace in which to use Kubeflow.

One design question we need to figure out is how to give pods cloud credentials (e.g. to access GCP/Azure/AWS) resources.

Currently when we deploy Kubeflow we create service accounts

[2018-12-30 07:01] kkasravi commented on #2192
The profiles controller does operate with elevated permissions in order to create a namespace and a Permission CR in the namespace. The permissions controller then uses the Permissions CR to create a Role/Rolebinding for the user specified in the Profile CR. The user specified in the Profile CR can either be a ServiceAccount or a User. So the profiles controller is mostly doing 2 but could be expa

[2018-12-31 09:38] kkasravi commented on #2185
@stpabhi - yes please do - sorry for the delay

[2018-12-31 17:34] alzindiq opened #2193 "Deploy script fails with unsupported k8s version 1.9.6-gke.6"
When running this [deployment script](https://github.com/kubeflow/kubeflow/blob/v0.2.7/scripts/gke/deploy.sh), I get:

ERROR: (gcloud.deployment-manager.deployments.update) Error in Operation [operation-1546277056037-57e54aea64088-7cd718c2-cc1c5fc3]: errors:
- code: RESOURCE_ERROR
  location: /deployments/kubeflow/resources/kubeflow
  message: '{"ResourceType":"container.v1.cluster","ResourceError

[2018-12-31 21:14] armandmcqueen opened #2195 "Seeing kubeflow usage statistics"
Is the anonymous usage data available to the public anywhere?

[2019-01-02 02:42] zoux86 opened #2196 "ImagePullBackOff while i pulled the images in advance"
- k8s Environment:
-        4 ubuntu 16.04 machines: 1  master and 3 node
-        version: 1.87
-
- ksonnet version: 0.13.1
-
- kubeflow version: v0.3.2

### Question:
i want to use kubeflow in my local k8s cluster. The above is my environment. but due to GFW in china. i cannot pull the google images. so i use the proxy(ss+polipo), and Then i can pull google images in shell.
like this:
![image](h

[2019-01-02 06:05] wfchair opened #2197 "rest_api_port support by tf-serving"
tf-serving-deployment-aws prototype added support to rest_api_port , but tf-serving not yet.
If we use nfs volume for tfserving data, we have to use tf-serving.
Would you like also to add rest_api_port support into tf-serving prototype?

https://github.com/kubeflow/kubeflow/blob/583d5af66a4ebfbd45792fc29656e09842e69359/kubeflow/tf-serving/tf-serving.libsonnet#L121

[2019-01-02 10:32] durandom commented on #1915
@blsaws I granted any-uid basically cluster wide
[code]
And after a while all pods came up successfull. Although I saw the same errors you've pasted. I had to manually kill the ambassador pods.

[2019-01-02 11:14] carmine commented on #1854
Incorporating changes now and will have a PR next 1-2 days.

[2019-01-02 13:49] amalts commented on #2078
@kunmingg
I'm also facing the same issue.

**Steps to reproduce:**

Go to https://deploy.kubeflow.cloud/#/deploy](https://deploy.kubeflow.cloud/#/deploy)
Click on "Create Deployment"
Click on "Cloud Shell" as given in the instructions

**Error**:
[code]

[2019-01-02 13:51] jlewi commented on #2197
Did you consider using ksonnet to override the parameters inside your generated component? One of the advantages of using ksonnet is that authors of the template don't need to explicitly expose everything as a a parameter in order for you to change them.

You should be able to use a mixin to set the command line arguments like we do here for the environment variables:
https://github.com/kubeflow/k

[2019-01-02 14:03] jlewi commented on #2196
I'm not familiar with your proxy. This doesn't look like an issue with Kubeflow or kfctl.sh. Instead it looks like the issue is your proxy isn't working with Kubernetes as kubernetes is still trying to pull the images from gcr.io.

The current recommendation with China is to replicate the images to DockerHub or some other repo and then change the image parameters of the components to use those ima

[2019-01-02 14:04] jlewi commented on #2196
/cc @gaocegege

[2019-01-02 14:09] jlewi commented on #1912
@IMBurbank Might be easier to troubleshoot this realtime on slack.

In your most recent output I still don't see a PVC for the Cloud File store instance. I think you skipped a step
https://www.kubeflow.org/docs/guides/gke/cloud-filestore/#configure-kubeflow-to-mount-the-cloud-filestore-volume

Your Jupyter notebook pod also isn't trying to mount a PVC for Cloud File store. So I think you missed th

[2019-01-02 14:11] jlewi commented on #2195
The usage data isn't publicly available. If someone was interested in analyzing and generating public reports from the data access could probably be granted.

Maybe someone from the pm community?

[2019-01-02 14:14] jlewi commented on #2193
1.9.7-gke.6 is not in the support master version. It is a support Node version but the list of supported master versions is much smaller.

@alzindiq There are two ways to fix this

1. You can edit the jinja file and select one of the supported master versions.
1. You can switch to using 0.3 [instructions](https://www.kubeflow.org/docs/started/getting-started-gke/) or 0.4.

[2019-01-02 14:20] jlewi commented on #2185
@kkasravi Regarding the release; I don't consider this blocking for 0.4 because I consider it alpha in 0.4. So once we get the appropriate fixes included and cherry-picked into the 0.4 branch we will just include them in the next minor release.

One meta question; is @kkasravi's [comment](https://github.com/kubeflow/kubeflow/issues/2185#issuecomment-450441261) and indication that we should conside

[2019-01-02 18:38] alzindiq commented on #2193
Thanks a lot @jlewi! Option 1 works great!

[2019-01-02 18:38] #2193 closed

[2019-01-02 18:59] kunmingg commented on #2078
@amalts
Sorry to hear that, you can port-forward to ambassador pod directly to access the service UI.
Alternatively, we'll support basic auth for non-IAP users soon: https://github.com/kubeflow/kubeflow/issues/2094

[2019-01-02 22:48] #2165 closed

[2019-01-02 22:48] #2166 closed

[2019-01-03 00:53] jlewi commented on #2098
according to @IronPan 0.4 release branch is using the latest version of pipelines.

[2019-01-03 12:10] zoux86 commented on #2196
@jlewi Thank you for your advice！i will try to change the image parameters of the components to use those images.  Is it right to modify this file??
[](https://github.com/kubeflow/kubeflow/blob/master/releasing/image_tags.yaml)

[2019-01-03 13:02] cpedrinaci opened #2201 "ksonnet installation of core giving 404"
While doing a manual install I'm hitting an issue trying to install the core component on v0.3.5:

[code]

Other components can be installed apparently but not core.
I have tried using different versions of the registry and I keep getting the same problem so this may well be a local issue but given that I can install other packages I find it weird..
Any ideas what may be going on?

Note: A registr

[2019-01-03 13:49] carmine commented on #1854
Have created PR https://github.com/kubeflow/website/pull/391. Will close this issue when that has been merged. The instructions should clarify that users can use microk8s without multipass if they are on a Linux machine. Additionally, the instructions have been updated to leverage kfctl.sh and download.sh.  The serviceType for ambassador has been changed to NodePort to simplify access from outside

[2019-01-03 14:02] kkasravi commented on #2185
@jlewi switching over to golang is a goal at some point, though right now the logic isn’t overly complex to filter the children passed in as request.children and look for a match with children the controller created. Same code can be leveraged across the existing Metacontrollers.

[2019-01-04 02:34] richardsliu opened #2206 "Create a script to update kubeflow repository with newer component image tags"
See https://bit.ly/2F7o4gM  for the release process proposal.

Currently updating component image tags require manual steps prior to each release. We need to automate this process so we can run e2e tests on latest component builds.

The script should do the following:
 For each core component:
   - tf-operator
   - pytorch-operator
   - katib
   - centraldashboard
   - Jupyter notebooks
1. Find th

[2019-01-04 02:35] richardsliu opened #2207 "Automatically tag Docker images as "green" after post submits"
See https://bit.ly/2F7o4gM  for the release process proposal.

It would be good to have the Argo test workflow tag images as "green" after successful post-submits. This allows us to find and update core components more easily (see https://github.com/kubeflow/kubeflow/issues/2206).

[2019-01-04 07:19] #1452 closed

[2019-01-04 08:08] #2189 closed

[2019-01-04 14:12] #2185 closed

[2019-01-04 16:48] jlewi commented on #1643
Related: #767

[2019-01-04 16:54] jlewi opened #2208 "Make arbitrary Jupyter images work with Kubeflow"
There's a lot of good jupyter images already out there.

For example #767 discusses a Jupyter image with swift support for TensorFlow.

We'd also like to support images with R.

As discussed in this [comment](https://github.com/kubeflow/kubeflow/issues/1643#issuecomment-425170924)

I think we want to

1. Document what requirements needed to be satisfied for an image to work with Kubeflow
1. Removi

[2019-01-04 16:54] jlewi commented on #1643
Going to close this out in favor of #2208

Duplicate of https://github.com/kubeflow/kubeflow/issues/2208

[2019-01-04 16:54] #1643 closed

[2019-01-04 20:38] abhi-g opened #2209 "Kfctl requires zone to be specified. Could be potentially automatically inferred."
kfctl init requires that zone be specified manually with the command. It would be helpful to infer it automatically and yet allow the user to override it with the flag if needed.

[2019-01-04 21:45] juandiegopalomino opened #2212 "PytorchJob & operator not installed"
Working with kubeflow release is v0.4.0-rc.2 and deployed on a kops managed cluster sitting on top of ec2s
[code]
I go through the quickstart (https://www.kubeflow.org/docs/started/getting-started/) normally, and everything seems to succeed, but then I notice that the studyjob controller is failing because it can not find the pytorch job crd
[code]
I verified that no pytorch-ish named crds where p

[2019-01-04 21:46] richardsliu opened #2213 "Create a bot to auto-approve certain types of PRs"
We have a number of PRs that do not need manual review and approval. Examples include:
- Cherry pick PRs to release branches
- Auto-generated PRs to update component tags (see https://github.com/kubeflow/kubeflow/issues/2206)

We should consider creating a bot that automatically approves these PRs.

[2019-01-05 01:37] IronPan commented on #2086
Thanks. the doc is a bit old. We would need to update or create new instruction when the feature is ready.

[2019-01-05 01:40] IronPan commented on #2086
Here are the TODO items I can see so far
- Mirroring the docker image to be accessible by private cluster
- Dynamically allocate master Ipv4 CIDR Block
- Verify IAP works in private IP cluster
- Documentation

[2019-01-05 01:58] kunmingg commented on #2155
@jlewi
if platform == none, then we might not have things like IAM update and IAP utils.
Should we support following use case?

For existing GKE user, who try kubeflow for the first time, want to deploy kubeflow to their existing GKE cluster and have GCP features configured properly.

[2019-01-05 02:12] TimZaman commented on #2212
I can verify it's present at least in `v0.4.0-rc.3`

[2019-01-05 04:06] naz19 opened #2222 "Argo UI doesn't work when Ambassador is scaled to more than 1 replicas"
Argo UI started working behind ambassador after adding BASE_HREF.

It worked well on my local minikube installation but when deployed on GKE, the behavior was inconsistent. Argo UI home page is blank sometimes (loads after refreshing a few times). Workflows don't load sometimes (again refreshing works once in a while).

Looks like a LB issue? Ambassador is by default deployed as 3 replicas on GKE.

[2019-01-05 05:51] juandiegopalomino commented on #2212
@TimZaman are you using GCP, or the no-platform option?

[2019-01-05 05:51] TimZaman commented on #2212
GCP

[2019-01-05 05:55] juandiegopalomino commented on #2212
@TimZaman ok, `v0.4.0-rc.2` is also working in gcp (I did this myself), but I am concerned about deployments _not_ in gcp, with the no platform options

[2019-01-05 17:02] chennupushkar opened #2223 "Serving R models using kubeflow"
Can we server R models using kubeflow?

[2019-01-05 20:48] #1861 closed

[2019-01-06 08:12] cheyang commented on #1933
I'm able to reproduce it in brachn `v0.4-branch`. Are there any workarounds?

[code]

[2019-01-06 20:15] jlewi commented on #2222
Did you try accessing it via kubectl port-forward?

Kubeflow's CI system runs Argo UI directly behind a GCP LB and that works just fine.
http://testing-argo.kubeflow.org

If it works behind kubectl port-forward then something might be going on with Ambassador.

Some things to look at

* Logs for Argo Pod
* Logs for Ambassador pod
* Javascript console (in chrome or equivalent in other browsers) to

[2019-01-06 20:16] jlewi commented on #2213
What priority is this? Should we try to do this as part of 0.5?

[2019-01-06 20:30] jlewi commented on #2201
I think when you install the package you need to specify the branch or sha you want otherwise it defaults to master.

e.g.

[code]

The core package has been renamed to common on 0.4 and master.

[2019-01-06 20:37] jlewi commented on #2102
Here is the 0.4 planning doc which had a draft announcement.
https://docs.google.com/document/d/13vBugi1eHND9WFDtasEhvY8BkFJ8MUfahTFsVG13_LU/edit?ts=5bf0b38a#bookmark=id.q03ck78tvot5

[2019-01-06 20:39] jlewi commented on #2102
We also had this pre-release blog post in early December
https://medium.com/kubeflow/kubeflow-0-4-release-update-whats-coming-c55820e28915

[2019-01-06 20:55] jlewi commented on #1858
I'm going to downgrade this to P2 based on the CUJ:
http://bit.ly/cuj_train_deploy_notebook

[2019-01-06 22:48] juandiegopalomino commented on #2212
@jlewi
[code]

[2019-01-06 22:59] juandiegopalomino commented on #2212
And the work aund worked, thank you!

[2019-01-06 23:59] jbottum commented on #2102
I am thinking that we have promoted 0.4 in the release candidate announcement.    IMO, the 0.4 GA announcements needs new content.    We might want to consider promoting the Kubeflow User Survey in the Kubeflow 0.4 release and maybe some upcoming events.     Would like to get others opinions i.e. should we keep it clean to 0.4 or mix in other topics...

[2019-01-07 06:40] jwwandy commented on #2201
I also met this issue and @jlewi's suggestion works for me.

[2019-01-07 07:58] chenzhiwei opened #2226 "Unify the kubeflow project image location"
Kubeflow project includes many docker images, but they are in different locations.

Can we put them into a unified location?

And we can also use same logic to build and publish images, such as `Makefile`.

This will make the images are easy to maintain.

There are following works and I am working on first one:

1. Unify the image dockerfiles

    Makes the dockerfiles can build both amd64 and ppc

[2019-01-07 09:30] cclauss opened #2229 "Undefined name: 'signer_email' in docs/gke/iap_request.py"
__signer_email__ is [defined on line 40](https://github.com/kubeflow/kubeflow/blob/master/docs/gke/iap_request.py#L40) but not at a global scope so it is an [_undefined name_ on line 140](https://github.com/kubeflow/kubeflow/blob/master/docs/gke/iap_request.py#L140) with the potential to raise NameError at runtime.

[flake8](http://flake8.pycqa.org) testing of https://github.com/kubeflow/kubeflow

[2019-01-07 13:35] jlewi commented on #2209
@abhi-g Is there more work to be done here or can we close this? Do we need to cherry pick the fix onto the 0.4 branch?

[2019-01-07 13:36] jlewi commented on #1971
@kunmingg Any update on this?

[2019-01-07 13:37] jlewi commented on #1946
/cc @johnugeorge @YujiOshima @gaocegege

[2019-01-07 13:38] jlewi commented on #1946
I'm tagging this into project 0.4 and 0.5.

Ideally we'd get this fixed and cherry picked onto the 0.4 branch so we know whether Katib is working in 0.4.

[2019-01-07 13:39] jlewi commented on #1860
#2050 was merged so closing this out.

[2019-01-07 13:39] #1860 closed

[2019-01-07 13:53] jlewi commented on #1757
Confirmed on https://kf-v0-4-n00.endpoints.kubeflow-ci.cloud.goog/ that new stackdriver agents are deployed.

that we are now enabling the new stackedriver agents and that

Using the query

[code]

Response

[code]

[2019-01-07 13:53] #1757 closed

[2019-01-07 13:57] jlewi commented on #1419
Moving this to 0.5.

@kkasravi Looks like #2016 has been pending for a while.

[2019-01-07 14:36] jlewi opened #2232 "Docs/Example for Jupyter Custom Resource"
We need docs and an example for using the new Jupyter custom resource to create notebooks.

This will be useful for the folks working on the new web app to spawn notebooks #1995.

/cc @vkoukis @ioandr

[2019-01-07 14:37] abhi-g commented on #2209
We can close this. This has already been cherrypicked into 0.4

Abhishek

On Mon, Jan 7, 2019 at 5:35 AM Jeremy Lewi <notifications@github.com> wrote:

[2019-01-07 15:00] jlewi commented on #2226
Thanks for helping out.

Can you elaborate on what you are working on? Which Dockerfiles are you planning on refactoring?

[2019-01-07 15:00] #2209 closed

[2019-01-07 15:06] jlewi opened #2233 "[Design] Doc for how application CRD will be used in Kubeflow?"
Background:
#2024  - Discussion on composability
#2154 - Fix application CRD

In 0.4 @kkasravi added an application custom resource for Kubeflow.

I think we'd like to continue in the direction of splitting up Kubeflow into a set of applications (e.g. pipelines, tf-job-operator, Katib). For that I think we want each application to have its own Application CR describing it.

I think we need a doc/p

[2019-01-07 15:08] jlewi commented on #2024
Per @kkasravi  closing this issue

I opened #2233 to figure out how we want to use Application CRs.

We also have #1472 for documenting maturity of different components.

[2019-01-07 15:08] #2024 closed

[2019-01-07 15:09] jlewi commented on #2233
This is relates to #1472 understanding the maturity of each component.

[2019-01-07 17:11] vkoukis commented on #2232
ACK. We will work on documenting how to spawn the new Jupyter CR as part of implementing #1995.
/cc @kimwnasptd who will be joining our team and working on this along with @ioandr .

[2019-01-07 17:12] vkoukis commented on #2232
/assign vkoukis
/assign ioandr

[2019-01-07 19:37] kunmingg commented on #1971
Moved to 0.5.0.

[2019-01-07 20:34] aronchick commented on #2223
Sure thing! There are two serving packages to do so. You can use Seldon (https://github.com/SeldonIO/seldon-core/blob/master/docs/wrappers/r.md) or you can package your R as an ONNX file and use TensorRT (https://github.com/onnx/onnx-tensorrt).

[2019-01-07 20:35] aronchick commented on #2195
We should really have at least a graph of usage - the usage is contributed by the community, and will help in building out our public backlog.

[2019-01-07 20:35] r2d4 commented on #2098
/close
https://github.com/kubeflow/kubeflow/tree/v0.4.0

[2019-01-07 20:35] #2098 closed

[2019-01-07 20:37] r2d4 commented on #1812
/close

The makefile was removed, you should use kfctl.sh.

[2019-01-07 20:37] #1812 closed

[2019-01-07 20:37] r2d4 commented on #1793
/close

[2019-01-07 20:37] #1793 closed

[2019-01-07 20:37] aronchick opened #2234 "InfraValidator type functionality for deploying Kubeflow"
A great feature would be to examine the deployment of Kubeflow, and suggest that a cluster configuration may not be correct. E.g. "you're trying to deploy a training job that needs GPUs and there are no GPUs available". Or "your nodes are smaller than we recommend" - etc. It doesn't have to be particularly sophisticated to start.

[2019-01-07 20:38] r2d4 commented on #1520
/unassign @r2d4

[2019-01-07 20:38] r2d4 commented on #1764
/unassign @r2d4

[2019-01-07 20:40] aronchick commented on #2234
cc @jlewi @krisnova

[2019-01-07 21:09] chennupushkar commented on #2223
Thanks for you response.Which one Seldon or ONNX/TensorRT has wide adoption for Kubeflow? Can you please suggest?
Thanks,Pushkar
    On Monday, January 7, 2019, 12:34:25 PM PST, David Aronchick <notifications@github.com> wrote:

Sure thing! There are two serving packages to do so. You can use Seldon (https://github.com/SeldonIO/seldon-core/blob/master/docs/wrappers/r.md) or you can package your R

[2019-01-07 21:47] kkasravi commented on #2233
/assign @kkasravi

[2019-01-07 21:49] kkasravi commented on #2192
/assign @kkasravi

[2019-01-07 21:51] kkasravi commented on #2177
/assign @kkasravi

[2019-01-07 22:36] kunmingg commented on #1520
Now we use go modules

[2019-01-07 22:36] #1520 closed

[2019-01-08 00:36] carmine commented on #1365
Side note, instructions updated on website as per https://github.com/kubeflow/website/pull/398

[2019-01-08 00:38] carmine commented on #1854
The updated instructions have hit the website, and the current scripts install the latest ksonnet (0.13.1) / kubeflow (0.3.5). Closing this issue.

[2019-01-08 00:38] #1854 closed

[2019-01-08 02:13] chenzhiwei commented on #2226
@jlewi I just updated the issue to include the related PRs, and will also include new PRs when available. My plan is first to make all docker images are buildable by makefile, then unify the location. There are two alternatives: `docker.io/kubeflow` and `gcr.io/kubeflow-images-public`.

[2019-01-08 03:04] #1112 closed

[2019-01-08 10:53] sathiez opened #2239 "seldon gRPC"
When I use seldon gRPC I can able to send reques to ambassador

Ambassador log:
**ACCESS [2019-01-08T09:27:41.888Z] "POST /seldon.protos.Seldon/Predict HTTP/2" 200 - 55 0 4 4 "-" "grpc-python/1.17.1 grpc-c/7.0.0 (manylinux; chttp2; gizmo)" "100435d4-e6cb-4ee8-8358-09d3c062068c" "192.168.1.246:80" "10.103.147.139:5001"**

But unable to reach model. I get the following error in client side,

**statu

[2019-01-08 15:38] cpedrinaci commented on #2201
Thanks @jlewi that worked

[2019-01-08 15:38] #2201 closed

[2019-01-08 22:54] andreyvelich commented on #2222
I tried to deploy Ambassador and Argo on GKE and it worked fine for me.
I also had 3 replicas of Ambassador.
After port-forwarding one of the Ambassador pod, I can access to ArgoUI on /argo/ URL path.

[2019-01-09 00:18] Ark-kun commented on #2184
@IronPan I wonder why @shinytang6 has ImagePullBackoff error in the persistentagent pod.

[2019-01-09 00:20] zhenghuiwang opened #2244 "Wrong service account is used if a project ID has a prefix for its org"
My project with id `google.com:codelab-gae-blog-golang`, the service account generated by the

`scripts/kfctl.sh generate platform && scripts/kfctl.sh apply platform ` are

[code]
But the I get the following error:

[code]

Notice the service account used in the script is `zhenghui-kubeflow-vm@google.com:codelab-gae-blog-golang.iam.gserviceaccount.com` not what has been created `zhenghui-kubeflow-

[2019-01-09 09:04] jinchihe opened #2249 "Suggest to update the imagePullPolicy to "IfNotPresent" for Pipeline component"
Installed last version kubeflow, and found the pipeline has been installed by default together, That's great! But when I reinstall kubeflow for some reasons, I found the pipeline pod cannot be ready for long time. Checked the reason, that caused by downloading pipeline related image again.

Checked other component of kubeflow, the imagePullPolicy of most of component are "IfNotPresent", but the pi

[2019-01-09 09:05] cheyang opened #2250 "Suggest KubeFlow to use ksonnet 0.13.1 as minimal version"
I've tried to deploy kubeflow v0.4.0 in Kubernetes 1.12.4 with ksonnet in 0.11.0, and get nil pointer error. But after upgrading to 0.13.1, I'm able to install.

[code]

I suggest to update documentation to choose the minimal version as 0.13.1. Thanks.

[2019-01-09 14:36] vmarkovtsev commented on #1049
Hi, I am the unfortunate follower of the official codelabs on kubeflow, such as https://codelabs.developers.google.com/codelabs/kubeflow-introduction/index.html

They mention the tf-job package, which is removed in this commit. What shall I install instead?

[2019-01-09 19:12] kunmingg commented on #2250
Can you try 0.12.0?
ksonnet 0.13.1 has breaking API change.

[2019-01-09 19:55] jlewi commented on #2250
Thanks @cheyang

I think using 0.13.1 at this point is a good solution.

[2019-01-10 12:37] hamedhsn commented on #2131
@jlewi does not seem that it is being set.
[code]

[2019-01-10 12:40] hamedhsn commented on #2131
@stpabhi thanks worked.

I also ended up tainted my gpu nodes.

[2019-01-10 13:23] jlewi commented on #2250
Anyone want to submit a PR updating relevant docs in kubeflow/website?

[2019-01-10 13:30] jlewi commented on #2229
Anyone interested in providing a PR?

[2019-01-10 13:33] jlewi commented on #2226
I'd like to support both docker and gcr.io and possibly others. It would be great to setup the ability to automatically mirror our docker images across registries.

There's been a long standing issue to fix this. see #211. Would love to find someone willing to drive that.

[2019-01-10 13:38] jlewi commented on #2223
Seldon contributors are very active in Kubeflow.

But really I think there are bigger differences which affect which solution is the right use case for you.

Seldon provides a custom resource that makes it easy to express inference as a graph of microservices.

Providing a model server is just one piece of Seldon; and Seldon Core can be used with other model servers so I think it could be used wit

[2019-01-10 13:39] jlewi commented on #2195
/cc @abhi-g

[2019-01-10 13:45] cliveseldon commented on #2239
There is a issue opened by @sathiez [here](https://github.com/SeldonIO/seldon-core/issues/365#issuecomment-453078073)

[2019-01-10 13:55] #2239 closed

[2019-01-10 14:00] jinchihe commented on #2249
@jlewi I have already created one PR to update this, Thanks. PR: #2251

[2019-01-10 15:16] kkasravi opened #2257 "Create application CR's per package and enable a dependency tree that points to the top application CR (kubeflow)"
Per @jlewi's suggestion we should have individual application CR's that are dependents on the top application CR which is kubeflow. Define the design and implementation.

[2019-01-10 21:23] IronPan commented on #2184
It's not easy to tell what was happening. All pipeline images are pulled from same gcr in same project. They should either be all succeed or all failed. @shinytang6 Do those pipeline pods eventually run successfully?

[2019-01-11 01:37] stpabhi commented on #2250
@jlewi I can work on it

[2019-01-11 01:46] stpabhi commented on #2250
https://github.com/kubeflow/website/pull/408

[2019-01-11 22:01] lluunn commented on #2052
Our istio manifest is yaml not ksonnet because
1. it's large
1. we need to update it when istio has a new version
1. user won't need to change it after deployed, so no params need to be set

Then how do we install it with bootstrapper and save it with other manifest? I can think of several ways.
1. In ks_app, do `ks import` to drop in the yaml. But it will create a component per k8s resource, so t

[2019-01-11 23:45] lluunn opened #2261 "Replace ambassador with Istio"
We are moving toward Istio.

There are several tasks needed:

1. Ingress:
Ingress and the NodePort service right behind it must be in the same namespace (https://github.com/kubernetes/kubernetes/issues/17088). I think it's easier to move ingress to istio-system (comparing to moving istio stuffs to kubeflow namespace) because Istio manifest assumes the namespace is istio-system in many places.
- [

[2019-01-11 23:45] lluunn commented on #1907
covered by #2261

[2019-01-11 23:45] #1907 closed

[2019-01-12 01:05] jlewi commented on #2052
kfctl.sh already supports using raw YAML for some components. These are stored in the k8s_specs directory
https://www.kubeflow.org/docs/started/getting-started-gke/#app-layout

So does this work for ISTIO? Do we just need to add this support to click to deploy?

[2019-01-12 01:10] lluunn commented on #2052
Yes, this is what I meant by No.3

[2019-01-12 02:07] jlewi opened #2263 "upgrade ks app for E2E test to 0.3.0"
We should upgrade the ksonnet app for the E2E test workflows to 0.3.0
https://github.com/kubeflow/kubeflow/tree/master/testing/workflows

Off hand I don't know if this will cause any issues with the actual tests. If it does we can do this incrementally by creating a new ks_app and moving E2E tests to it one by one.

[2019-01-12 02:08] jlewi commented on #2263
One reason for doing this is it looks like we have some test flakes related to issues like #980 and this might be fixed by using a newer version of ksonnet.

[2019-01-12 02:47] #1856 closed

[2019-01-12 14:35] #2257 closed

[2019-01-12 14:37] kkasravi commented on #1831
This is no longer a requirement.

[2019-01-12 14:37] #1831 closed

[2019-01-12 14:39] kkasravi commented on #1691
This has been implemented in #2154

[2019-01-12 14:39] #1691 closed

[2019-01-12 14:43] kkasravi commented on #250
implemented by #2091

[2019-01-12 14:43] #250 closed

[2019-01-12 16:34] kkasravi commented on #1419
@jlewi will open a new PR early next week that has our [agreed upon design](https://github.com/kubeflow/kubeflow/tree/master/kfctl#proposed-design)

[2019-01-13 04:57] holdenk opened #2267 "Click-to-deploy non-IAP mode cloudshell link assumes GCP account is first user"
Running through click-to-deploy in non-IAP mode generate a cloudshell link which is hard coded to the primary/account 0, this will break if the user is using a different account for their GCP usage. I imagine this is  a common configuration scenario.

[2019-01-13 05:46] holdenk commented on #2267
If you encounter this a temporary work around is to launch cloudshell and run `cloudshell_open --repo_url "https://source.developers.google.com/p/PROJECTID/r/PROJECTID-DEPLOYMENTNAME-config" --dir"vKUBEFLOWVERSION/kubeflow/kf_util" --page "editor" --tutorial "conn.md"``

[2019-01-13 20:50] cwbeitel commented on #2070
Thanks for your response @jlewi!

I tried this again and was able to proceed through all of the documented [GKE deployment steps](https://www.kubeflow.org/docs/started/getting-started-gke/) (without manually deploying the cluster or creating service accounts) with the addition of fixes described [here](https://github.com/kubeflow/kubeflow/issues/1898) with the exception of a similar problem as des

[2019-01-13 22:59] jlewi commented on #2086
@IronPan Are you working on this?

It seems like most of the items listed above can be performed by having the user customize their Kubeflow; possibly with the help of some scripts.

For mirroring the images can we provide users

  * A script to replicate Docker images to their own GCR registry
     * Does this script help: https://github.com/kubeflow/kubeflow/blob/af000bb6e159eecd77f24e1ef6c27780

[2019-01-13 23:18] jlewi commented on #2171
We've decided to go a different route and not use OIDC.
See the design doc: http://bit.ly/kf_jupyter_design_doc

In addition, IAP uses a different identity provider then accounts.google.com. This is by design; so there's noway to make GKE trust the JWT's provided by IAP.

[2019-01-13 23:18] #2171 closed

[2019-01-13 23:43] jlewi commented on #1419
Thanks @kkasravi

/assign @kkasravi
/unassign thejaysmith

[2019-01-13 23:50] jlewi commented on #2267
@holdenk Can you explain your use case more? Why are you using a different Google account from the one you are deploying Kubeflow with?

If you want to support multiple users why not use IAP? One advantage of IAP is that it allows you to use IAM to grant access to users.

We are targeting non-IAP mode to very specific use cases and picking which features to invest in judiciously.

Specifically, we

[2019-01-13 23:53] #2250 closed

[2019-01-13 23:55] jlewi commented on #2222
@naz19 Can you provide any additional information about what the problem is?

[2019-01-13 23:56] jlewi commented on #2222
One possibility is that not all of the Argo pods observed the service and added the route. I would try deleting all the Ambassador pods. The deployment will then recreate them and this should force the pod to reload all the K8s service mappings.

[2019-01-14 00:03] jlewi opened #2269 "Go based implementation of Jupyter CR?"
The Jupyter custom resource is currently implemented as a lambda using jsonnet and meta controller.

Should we replace this with a GoBased implementation of the lambda and continue to use meta controller?

We need to add more functionality to the CR e.g.

* Create ISTIO resources (#2172)

Furthermore, the ISTIO resources might vary depending on whether we want to validate the JWT or not (http://bi

[2019-01-14 00:22] jlewi opened #2270 "Go based implementation of the profiles custom resource?"
Currently the profiles custom controller is implemented using metacontroller with the sync function implemented in jsonnet.

Should we switch to a go based implementation? I think the primary reason for switching to go would be that it has a much higher ceiling; i.e. if we want to do more complicated things either; we won't find ourselves limited by jsonnet. It should also be easier to write unitt

[2019-01-14 00:35] jlewi commented on #1995
@vkoukis @ioandr Do you have an update on when an initial version might be ready? I think at the meeting on Thursday you said you had a prototype?

My suggestion would be to file separate issues for some of the issues @kkasravi mentioned and deal with them in follow on issues. I think we should focus on getting the minimal version in that would allow us to begin using it instead of JupyterHub.

Fo

[2019-01-14 00:38] jlewi opened #2271 "Jupyter spawner web app should use service account delegation to authorize on behalf of user"
Background:
   #1995 Replace JupyterHub with a simpler web app that creates Jupyter CR resources
   Design doc for multi-user Kubeflow: http://bit.ly/kf_jupyter_design_doc.

The Jupyter spawner web app should authenticate to the K8s master by using user impersonation to act as a service account specific to the user it is acting on behalf of.

This is described in more detail in: http://bit.ly/kf_j

[2019-01-14 00:44] jlewi opened #2272 "Profiles resource should create service accounts to support impersonation by Kubeflow system components"
Background: http://bit.ly/kf_jupyter_design_doc.
  #2271 Jupyter spawner web app should use user impersonation to act on behalf of users

We want Kubeflow system components (e.g. Jupyter spawner) to be able to perform actions on behalf of users. We want to ensure the web app can't perform actions the user isn't authorized to perform.

To support that we need to create per user/team service account

[2019-01-14 00:58] jlewi commented on #2155
@kunmingg I would like to support the use case where users install on their existing GKE clusters better; but I think we need more feedback from users about what the desired behavior is in that case.

[2019-01-14 14:38] kkasravi commented on #2269
I believe they used [controller-runtime](https://github.com/kubernetes-sigs/controller-runtime).
AFAIK metacontroller doesn't do golang.

We have a few choices for a lambda CR

1. Migrate the jsonnet hooks to use controller-runtime in a similar way
2. Use kubebuilder which also leverages controller-runtime
3. Migrate the hook(s) to use kubeless golang hooks
4. Extend meta-controller to include gol

[2019-01-14 16:38] cwbeitel commented on #2070
This issue is resolved for me.

For future reference there were a few issues in addition to those covered in the troubleshooting guide and [this](https://github.com/kubeflow/kubeflow/issues/1898):

(1) As mentioned above, setIamPolicy permissions were necessary to properly configure service accounts, and
(2) the problem with envoy was coming from my project not having sufficient remaining quota fo

[2019-01-14 16:46] cwbeitel opened #2273 "Can't paste into terminal within JupyterLab behind IAP"
When copying text externally, such as the name of a python package one wants to install, then attempting to paste this into the terminal:
(1) This works fine with JupyterLab accessed via port forward without IAP enabled,
(2) This does not work with JupyterLab accessed via IAP,

It is worth noting that this same issue occurs for JupyterLab instances spawned via mybinder.org's [Try Jupyter](https://

[2019-01-14 18:15] jlewi commented on #2269
controller-runtime seems like a good choice. Any reason not to go with that and be consistent with kubeflow/pipelines?

[2019-01-14 18:17] jlewi commented on #211
It seems like we now have two scripts

https://github.com/kubeflow/kubeflow/tree/master/releasing/hubsync
https://github.com/kubeflow/kubeflow/blob/master/releasing/sync_images.py

@cheyang Any thoughts on reconciling these?

[2019-01-14 21:06] kkasravi commented on #2269
Not that I can think of. Would a good first case be profiles?

[2019-01-14 22:16] kunmingg commented on #2052
Can we apply through client library instead of running kubectl from bash?
Potential risk of bash kubectl:
Need to take care of credential isolation when running kubectl in parallel. We can not use default ```.kubeconfig```

[2019-01-14 22:36] #2249 closed

[2019-01-14 23:30] lluunn commented on #2052
If each deployment creates its config, and we use kubectl with `--kubeconfig`, is this acceptable?

[2019-01-14 23:57] stpabhi commented on #2269
We can use kubebuilder to generate the boilerplate code.

[2019-01-15 18:30] DanSanche opened #2284 "GCP secrets are not created unless oAuth credentials are provided"
I noticed the [code to create GCP service account secrets](https://github.com/kubeflow/kubeflow/blob/master/scripts/gke/util.sh#L204) comes after a line that checks for oAuth environment variables. This seems unnecessary, because everything works fine if I provide fake values for the oAuth id and secret. Was this intentional?

This is likely causing people to run into issues like #1949 and #1950 w

[2019-01-15 18:31] jlewi commented on #2052
Here's a link to some code using the REST client:
https://github.com/kubeflow/tf-operator/blob/e4a436da92e198dcb88c89c33010608e0c8a23bf/pkg/util/k8sutil/tf_job_client.go#L88

[2019-01-15 21:59] lluunn commented on #1932
Do you mean adding to notebook images?
Hub doesn't need to do anything other than spawning notebook I think?

[2019-01-16 02:37] SinaChavoshi opened #2287 "4.1 deployment fails iap-enabler"
Just deployed the latest kf 4.1 build using the one click deployment with IAP enabled. erring out on:

iap-enabler | 0 of 1 updated replicas available - CrashLoopBackOff
-- | --

Error logs as follows:
[
 {
   "textPayload": "Your active configuration is: [default]\n",
   "insertId": "1k1whrrg11gi4it",
   "resource": {
     "type": "container",
     "labels": {
       "pod_id": "iap-enabler-6565b8

[2019-01-16 03:07] xuchenCN commented on #1933
Hi @cheyang  I encountered the same issue , but its disppear when I re-apply the ksonnet ,  have some idea for that ?

[2019-01-16 05:31] hamelsmu opened #2288 "Idea: Probot for model CI/CD using Kubeflow Components"
**TLDR:   Ensure model code does not cause a regression in model performance before merging with the master (or other branch).**

**Pre-Work: Wandb/Katib GitHub Probot:**

- Use an existing CI/CD tool (We are using Azure Pipelines, which are free for open source and you get one worker for private project), to test whether there is a run in [wandb](https://app.wandb.ai/) that = HEAD of the branch y

[2019-01-16 05:59] jlewi commented on #2288
Thanks @hamelsmu Can you describe your workflow in terms of PRs, branches, and model rollouts?

How long does it take to train a model and measure its efficacy? Are you worried about slowing development by doing this on every presubmit?

[2019-01-16 06:57] hamelsmu commented on #2288
@jlewi I updated the description and included a **workflow** section per your suggestion

[2019-01-16 11:16] dsdinter commented on #2212
@juandiegopalomino thanks for reporting this, I believe the issue can be closed as the fix has been implemented and merged already.

[2019-01-16 14:51] jlewi commented on #2287
Looks like the code is stuck here;
https://github.com/kubeflow/kubeflow/blob/d9f82d2fefb36e5b46447413fd20786f8fb4cb4c/kubeflow/gcp/configure_envoy_for_iap.sh#L34

@kunmingg I suspect the code is swallowing the error from gcloud activate service account because we do `&&`

[code]

I suspect if we did something like

[code]
@kunmingg  this looks like issue #1807

@SinaChavoshi Can you try deleting t

[2019-01-16 17:16] cwbeitel commented on #2093
What if you made the pipelines UI the primary UI? You could embed the notebook spawner UI within a notebooks section without linking out to another page.

[2019-01-16 18:11] SinaChavoshi commented on #2287
I have already delete the instance however after redeploy this issue did not repro.

[2019-01-16 18:46] kunmingg commented on #2287
@jlewi
I feel it might caused by new service account's freeze window (roughly 1 minute).
Under some cases the freeze window might be much longer than we expected. And block follow up actions.

[2019-01-16 23:49] lluunn commented on #2052
IIUC, to use REST client, you need to set the api group/version, and the resource type in the request.
https://godoc.org/k8s.io/client-go/rest#Request

api group/version can be parsed from yaml file for each resource.
However, the resource type is the plural of the "Kind", which is not available by only looking at the yaml (I don't think there is a reliable kind-->pluralKind converter)
So I am not