[2018-09-17 14:32] kkasravi commented on #1542
/assign @jlewi

[2018-09-17 14:32] kkasravi commented on #1542
/cc @pdmack

[2018-09-17 14:33] kkasravi commented on #1542
I can pick this up

[2018-09-17 16:34] jlewi opened #1543 "test_jsonnet is failing in postsubmit"
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-postsubmit

[code]

[2018-09-17 17:06] jlewi commented on #1543
I see this failure on some but not all presubmits; not sure why.

[2018-09-17 17:14] jlewi commented on #1240
@gaocegege thanks

@wbuchwalter Looks like kubeflow/fairing#2 is pending. Lets plan on closing this issue once that is committed and opening up more specific issues.

[2018-09-17 17:17] jlewi commented on #1240
Created kubeflow/fairing#3 to file issues blocking an initial POC.

[2018-09-17 17:32] jlewi commented on #1510
Who is actually working on this? The issue is assigned to @kunmingg but I don't think @kunmingg is actually working on a release process for Kubebench.

[2018-09-17 17:35] jlewi commented on #211
@TheJaySmith any progress update on this?

[2018-09-17 17:35] jlewi commented on #1320
@TheJaySmith Any update/progress on this?

[2018-09-17 17:59] jlewi commented on #1543
It looks like #1437 add import k.libsonnet to a bunch of files
https://github.com/kubeflow/kubeflow/pull/1437/files#diff-fbd3d99678fdfe2d482cc3fc2152b615

I think that PR correlates with the postsubmits breaking.

[2018-09-17 18:08] jlewi commented on #1543
Here's the [stackdriver logs](https://pantheon.corp.google.com/logs/viewer?project=kubeflow-ci&resource=container%2Fcluster_name%2Fkubeflow-testing&minLogLevel=0&expandAll=false&timestamp=2018-09-17T18:01:27.611000000Z&customFacets=&limitCustomFacetWidth=true&advancedFilter=resource.type%3D%22container%22%0Aresource.labels.cluster_name%3D%22kubeflow-testing%22%0Aresource.labels.pod_id%3D%22kubeflo

[2018-09-17 18:28] jlewi commented on #1543
Doesn't look like test_jsonnet.py has changed
https://github.com/kubeflow/kubeflow/blob/master/testing/test_jsonnet.py

[2018-09-17 18:36] jlewi commented on #1543
I think I found the problem. It looks like the minikube e2e test is still running the test-jsonnet and jsonnet formatting tests and this version wasn't updated to add the 1.7.0 path.

The fix is to remove the tests from the minikube workflow since we have a separate workflow to run them.

[2018-09-17 19:49] kkasravi commented on #1540
You had said that for some of the libraries which aren't normally user-facing, the use of k.libsonnet would be ok. Others that have exposure to non-ksonnet experts we shouldn't go overboard on k.libsonnet, k8s.libsonnet.

[2018-09-17 19:50] kkasravi commented on #1540
I can update the Dockerfile and submit it as a PR to this issue

[2018-09-17 20:44] kkasravi commented on #1540
see https://github.com/kubeflow/testing/pull/201

[2018-09-17 21:03] jlewi commented on #1534
@kkasravi can you clarify what it means to refactor tf-job-operator to match the style guide? It looks like #1535 is making changes to use k.libsonnet. Is that the change you are referring to?
Because it doesn't look like the other components you mentioned e.g. argo are using k.libsonnet.

[2018-09-17 21:28] jlewi commented on #1540
You are correct. I still am uncertain about what the best practice/style for using k.libsonnet is.

Your PR #1535 was helpful to spark some initial thoughts. See comment:
https://github.com/kubeflow/kubeflow/pull/1535#issuecomment-422177056

[2018-09-17 21:30] kunmingg commented on #1510
@amsaha and @xyhuang is working on it.

[2018-09-17 21:32] jlewi commented on #1540
kubeflow/testing#201 is merged I'll build a new Docker image with the changes.

[2018-09-17 21:33] abhi-g commented on #1510
I had assigned to @kunmingg when the issue needed his input. Reassigning
back..
/assign @amsaha
/assign @xyhuang

On Mon, Sep 17, 2018 at 2:30 PM Kunming Qu <notifications@github.com> wrote:

[2018-09-17 21:37] jlewi commented on #1540
I built new docker images
gcr.io/kubeflow-ci/test-worker:v20180917-b094114-e3b0c4
gcr.io/kubeflow-releasing/worker:v20180917-b094114-e3b0c4

These are now tagged latest as well.

[2018-09-17 21:41] #1543 closed

[2018-09-17 21:43] xyhuang commented on #1510
@jlewi @kunmingg We have pushed build_image scripts in kubebench repo, we are waiting for #1538 to be merged. Please let me know if there is anything else needed. thx.

[2018-09-17 23:27] jlewi opened #1546 "Jupyter Notebooks for TF 1.9 and 1.10"
We should publish Jupyter Notebooks for TF versions 1.9 and 1.10 now that those are available.

[2018-09-17 23:27] jlewi commented on #1546
@pdmack Any interest in picking this up?

[2018-09-17 23:56] pdmack commented on #1546
/assign

@jlewi Do we need both 1.10.0 and 1.10.1? Only 16 days separate them.

`Fixing keras on Cloud TPUs. No new binaries will be built for Windows.`

[2018-09-18 00:03] jlewi commented on #1546
@pdmack No; I think we only need a Jupyter image for the latest patch release; i.e. 1.10.1 is sufficient.

[2018-09-18 00:53] pdmack commented on #1546
[code]
Not sure what's up with that.

[2018-09-18 02:12] TheJaySmith commented on #211
I couldn't create kubeflow-robot as it doesn't allow special characters and someone already made kubeflowrobot.

That being said #1548

[2018-09-18 02:12] TheJaySmith commented on #1320
#1548

[2018-09-18 04:27] jlewi commented on #1540
Looks like this caused a bunch of presubmit failures; error message is

[code]

[2018-09-18 04:32] jlewi commented on #1540
Looks like the previous images were
gcr.io/kubeflow-ci/test-worker:v20180822-da7cefc-e3b0c4
gcr.io/kubeflow-releasing/worker:v20180822-da7cefc-e3b0c4

Adding the latest tag back to those images.

see: kubeflow/testing#196

[2018-09-18 04:43] jlewi commented on #1540
It looks like if we want to upgrade to ksonnet 0.12 we will need to upgrade to the ksonnet app used for our tests.

I think the way to handle this is we can upgrade individual tests to change the test-worker image to use the image
gcr.io/kubeflow-ci/test-worker:v20180917-b094114-e3b0c4

rather than the "latest" tag. This way the presubmit will verify the tests pass with the new image.

Ideally, th

[2018-09-18 12:44] jlewi commented on #376
Discussion of use of k.libsonnet

    * https://github.com/kubeflow/kubeflow/pull/1437#issuecomment-418523083
          * Suggested trying to avoid use of k.libsonnet in user facing prototypes (e.g. TFJob, TFServing) because the feedback is most users prefer simple json
          * Use of k.libsonnet is probably more acceptable in system components (e.g. JupyterHub) that users are less likely to m

[2018-09-18 13:46] #1546 closed

[2018-09-18 13:54] sathiez commented on #733
Hi,
I can able to get
XXXX@XX:~$ kubectl get seldondeployments model -o jsonpath='{.status}'
map[predictorStatus:[map[name:model-model replicas:2 replicasAvailable:1]]]

I port forwarded,
XXXX@XX:~$ kubectl port-forward $(kubectl get pods -n ${NAMESPACE} -l service=ambassador -o jsonpath='{.items[0].metadata.name}') -n ${NAMESPACE} 8080:80
Forwarding from 127.0.0.1:8080 -> 80
Forwarding from [::1]

[2018-09-18 16:01] ashahba commented on #1050
@jlewi I get the PR in today. Sorry for the delay.

[2018-09-18 20:12] kunmingg opened #1554 "cert-manager missing clusterrole"
In https://github.com/kubeflow/kubeflow/pull/1437,
cert-manager prototype was refactored.
However, clusterrole ```cert-manager``` was not included, which breaks IAP feature.

[2018-09-18 20:14] kunmingg commented on #1554
@abhi-g @lluunn
This caused the IAP problem in Kartick's deploy.

[2018-09-18 20:14] kunmingg commented on #1554
One more evidence to increase test coverage...

[2018-09-18 20:18] ashahba commented on #1050
Hi @jlewi Here is what I think need to be changed, please let me know if that's more that what we need:

[code]
starting here:
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/mxnet-job/prototypes/mxnet-job.jsonnet#L9

and
[code]
starting here:
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/weaveflux/prototypes/weaveflux.jsonnet#L6

and
[code]
starting here:
https://github.com/

[2018-09-18 20:49] #1554 closed

[2018-09-18 21:02] ashahba commented on #1050
Rest of parameters seem to have been already fixed 🙂

[2018-09-18 23:21] lluunn opened #1557 "unit test for bootstraper"
We don't have unit test for most of code of bootstraper.

The only one (server_test.go) is also broken. We should start adding and running unit tests for them.

cc @kunmingg

[2018-09-19 00:06] kunmingg opened #1559 ""Patching IAM bindings" halt during deployment."
log tail:

{"filename":"app/ksServer.go:805","level":"info","msg":"Deployment is done","time":"2018-09-18T23:36:34Z"}
{"filename":"app/ksServer.go:817","level":"info","msg":"Patching IAM bindings...","time":"2018-09-18T23:36:34Z"}

[2018-09-19 00:08] kunmingg commented on #1559
related: https://github.com/kubeflow/kubeflow/pull/1550

[2018-09-19 00:10] lluunn commented on #1559
"Cannot get current policy: googleapi: Error 401: Request had invalid authentication credentials. Expected OAuth 2 access token, login cookie or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.\nMore details:\nReason: authError, Message: Request had invalid authentication credentials.\n","time":"2018-09-19T00:05:48Z

[2018-09-19 00:14] yixinshi opened #1560 "Change the tfbatch predict to support Dataflow runner on GCP"
Currently it only supports local runner.

[2018-09-19 00:14] yixinshi commented on #1560
/assign yixinshi

[2018-09-19 00:56] #1559 closed

[2018-09-19 01:22] kkasravi opened #1562 "presubmit build is failing with a quota error"
See this [build](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/1535/kubeflow-presubmit/3366/)

The Error is:
[code]

[2018-09-19 01:30] #1050 closed

[2018-09-19 01:35] jlewi commented on #1562
This is coming from project kubeflow-ci

[code]

Here's a graph of the enable service API
![requests](https://user-images.githubusercontent.com/777219/45725768-2e763f00-bb71-11e8-9e36-4d3865ff9432.png)

We are definitely hitting the 120 requests per minute. Looks like the usage has increased since September 13.

I believe this is coming from our E2E tests calling kfctl.sh which enables APIs.

The

[2018-09-19 01:38] jlewi commented on #1562
We need to add the --skipInitProject flag when calling kfctl.sh init script here:
https://github.com/kubeflow/kubeflow/blob/master/testing/workflows/components/kfctl_test.jsonnet#L159

https://github.com/kubeflow/kubeflow/blob/master/scripts/kfctl.sh#L111

[2018-09-19 01:48] jlewi commented on #1560
@yixinshi Can we get this fixed this week so we can include it in 0.3?

[2018-09-19 01:52] jlewi opened #1563 "Image Auto Release Cron Job is failing"
The cron job to regularly release our Kubeflow images is failing.
It runs in the kubeflow-releasing cluster;

Here is the error:

[code]

I think this indicates that ksonnet is too old in the image.

[2018-09-19 01:54] jlewi commented on #1563
The pod used image:
gcr.io/kubeflow-ci/test-worker:latest
gcr.io/kubeflow-ci/test-worker@sha256:66fc77fc0f2cb1e388707da2e6f212c58e8778d21e02ea6194d563376c5a8fb2

[2018-09-19 01:55] jlewi commented on #1563
It looks like ks 0.11 is installed in that image

ks version
ksonnet version: 0.11.0
jsonnet version: v0.10.0
client-go version:

[2018-09-19 02:19] jlewi commented on #1563
So it looks like we have some ksonnet release apps that are using the older ksonnet spec (tf serving) and some (centra ui) are using the newer spec.

Simplest fix is to use K8s app spec 0.1.0 for all the workflows.
It looks like each release workflow is in its own ksonnet APP we can probably consolidate them.

[2018-09-19 04:51] ashahba commented on #1562
Thanks @kkasravi and @jlewi .
I created a small PR here to temporarily skip API enablement during e2e runs and we can remove the flag once the quota is increased.

[2018-09-19 05:10] kkasravi commented on #1189
I'm seeing `Error creating widget: could not find model` on the visuals, none render.

Steps to reproduce:
1. Bring up jupterhub,
2. Run `kubectl port-forward tf-hub-0 8000`
3. open http://localhost:8000
4. open a terminal in jupyterlab

In the terminal in jupyterlab
$ source activate py2
$ jupyter nbextensions list
[code]
$ cd ~/work
$ git clone https://github.com/tensorflow/model-analysis
$ cd m

[2018-09-19 05:37] ashahba commented on #1227
I can work on this one if not assigned or resolved yet.

[2018-09-19 06:51] yylin1 opened #1566 "Deploy kfctl.sh apply k8s : Service "ambassador" is invalid ?"
I am trying to execute the deployment kubeflow script in my kubernetes GPU Cluster, but an error occurred in the last step.

## set up and deploy Kubeflow
[code]

Problem :

[code]

[2018-09-19 07:24] lluunn opened #1567 "Certificate not working"
I am seeing error in certificate:
` ACME server does not allow selected challenge type or no provider is configured for domain `

certificate spec:
[code]
issuer spec:
[code]
I am guessing the `http01: {}` got trimmed from issuer spec

[2018-09-19 07:27] lluunn commented on #1567
Result of doing ks show locally:
[code]

[2018-09-19 07:39] lluunn commented on #1567
Verified after I patched the issuer with `http01: `, the certificate works now.

Issuer spec:
[code]

[2018-09-19 08:37] yylin1 commented on #1566
I try kubeflow v0.2.5 Deploy

## Quick start
[code]

## Error message
What's problem in my environment?
[code]

[2018-09-19 09:55] sambaiz commented on #1567
#1544 includes a fix that resolve this issue.

[2018-09-19 12:18] jlewi commented on #1566
Which version of ksonnet are you using?

[code]

Kubeflow doesn't use Helm so I'm not sure where this is coming from. The only thing I can think of is that    this is a ksonnet issue because its trying and failing to setup its support for using helm.

Can you try ksonnet 0.11 if you aren't already using that?

[2018-09-19 12:24] jlewi opened #1570 "kfctl.sh needs to call get-server-config to get GKE version"
Our DM configs pin the version of GKE.
https://github.com/kubeflow/kubeflow/blob/master/scripts/gke/deployment_manager_configs/cluster.jinja#L68

We only want to pin to a particular minor version (e.g 1.10) but not a patch version (e.g 1.10.7-gke.1). Unfortunately the GKE API doesn't support that so we have to pin to a patch version.

This is problematic because patch versions are quickly dropped

[2018-09-19 12:25] #1570 closed, assigned to nobody

[2018-09-19 12:43] kkasravi opened #1572 "bump gke version to 1.10.7-gke.2"
output from `gcloud container get-server-config --zone us-east1-d`
[code]

[2018-09-19 12:47] jlewi commented on #1572
@kkasravi  #1571 is out for review.

[2018-09-19 12:48] jlewi commented on #1572
#1359 is the longer term fix.

[2018-09-19 12:51] #1135 closed

[2018-09-19 13:00] jlewi commented on #816
Our E2E test infrastructure is already capable of filtering a diff and triggering specified workflows when certain files are changed.

Another major pain point with our image auto release process right now is that we don't have dashboards or other monitoring for success. This would be another advantage of using prow to manage these builds.

[2018-09-19 13:18] jlewi opened #1574 "[Image Auto Release] process has lots of issues; should we use prow?"
In an effort to cut 0.3 (#1571) I've been trying to fix the auto image releaser (#1563) to get updated image builds and I'm noticing a number of issues with our release process

* We don't have dashboards or other ways of easily monitoring the success/failures of the different workflows

    * To monitor jobs you have to look at the K8s cron job or Argo workflow

* We don't verify that the release

[2018-09-19 14:01] yylin1 commented on #1566
Hi @jlewi
my environment list :
[code]

### First Proble : master
Deploy I am try ` KUBEFLOW_TAG=master`
[code]

Second Problem : v0.2
---
I try to use kubeflow Deploy v0.2 script
[code]

[2018-09-19 16:00] yylin1 commented on #1566
I try again, Deploy kubeflow  v0.2.2 is OK.

[code]

kubeflow v0.2.5 have Helm repository problem?

[2018-09-19 17:17] jlewi opened #1575 "central dashboard image build workflow doesn't work"
Building the central dashboard images in our Argo release workflow is taking over 3 hours.

We experienced similar issues with our Jupyter image builds (#1132) and the conjecture it was related to having insufficient resources.

Here's a graph of the resource usage (neither requests or limits were set for the pod)
![cpuusage](https://user-images.githubusercontent.com/777219/45769533-c23d1f00-bbf4-

[2018-09-19 17:47] #1567 closed

[2018-09-19 17:50] jlewi commented on #1575
In #1565 I added the JupyterHub docker image build workflow so we could have something to compare against. Here's a running workflow
http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-presubmit-tf-notebook-release-1565-e3ff9af-3394-568c?tab=workflow&nodeId=kubeflow-presubmit-tf-notebook-release-1565-e3ff9af-3394-568c-1437075175

We clearly see log output (e.g. pulling docker b

[2018-09-19 17:54] jlewi commented on #1575
It looks like centraldashboard is using multistage Docker build but Jupyter images doesn't use mult-stage build.

I wonder if that's a problem?

One workaround might be to use GCB rather than calling docker build.

We could probably do that just by changing the build script to one like this.
https://github.com/kubeflow/chainer-operator/blob/master/scripts/build.sh

[2018-09-19 17:58] jlewi opened #1576 "Jupyter Image Builds Are failing; Dependency issue related to TFMA?"
Building our Jupyter Docker Images is Failing. Here's the failure for the TF 1.8 CPU image.

[code]

My suspicion is that TFMA now depends on a newer version of TF.

[2018-09-19 18:06] swiftdiaries commented on #1575
Yes, I added in a multi-stage build to reduce the size of the image. Cool, I'll change the build_image.sh  so that it uses GCB.

[2018-09-19 18:20] #945 closed

[2018-09-19 19:01] pdmack commented on #1576
@jlewi correct TFMA 0.9.0 and higher require TF 1.9+, and actually 0.9.1 seems to want TF 1.10+

The older images would need to pin 0.6.

[2018-09-19 19:04] pdmack commented on #1576
Or INSTALL_TFMA=no in those version-configs

[2018-09-19 19:10] jlewi commented on #1541
Looks like we have a bunch of work to do to get images built for all our different components.

Here's what I think we should do

1. We should start running our image release workflows using prow; this will allow us to get signal on presubmit & postsubmit on which image workflows are broken
1. The first step is to run all the relevant image release workflows on postsubmit

   * #1565 adds centrald

[2018-09-19 20:29] kunmingg opened #1578 "test coverage for click-to-deploy app"
Currently click-to-deploy app logic on master head is often fragile, the fragile mainly comes from 2 sources:
1. No e2e test coverage for click-to-deploy app code.
2. For kubeflow components prototypes, only part of them is tested before new PRs merged to master.

Our test should cover the above 2 cases and make master head more robust.

[2018-09-19 20:46] richardsliu commented on #1541
Release candidate created: https://github.com/kubeflow/kubeflow/releases/tag/4e7f4ed

[2018-09-20 00:05] jlewi commented on #1566
Any particular reason you are using 0.12-rc1? I think there is a 0.12 version.

[2018-09-20 00:07] jlewi commented on #1574
We need to update our release workflow to create a junit xml file so that results will be reported in test grid.
It probably makes sense to generalize this. Maybe we can just have run_e2e_workflow.py create a junit file for each workflow?

[2018-09-20 00:18] yylin1 commented on #1566
@jlewi
It is recommended to use v0.11 or higher in kubeflow = master
Maybe ksonnest uploads 0.12-rc1 in the environment, try to trun to v0.12 version ?

[2018-09-20 00:39] jlewi opened #1583 "Use Flink to provide an alternative runner for TFX"
I think we will want to use the Flink Beam Runner to provide a distributed runner for TFX.

Not sure what the ETA is for the Flink beam runner is.

We need to figure out what the Flink community is planning w.r.t to Kubernetes; e.g. do they have any plans to provide an operator like the spark operator for running Flink Jobs?

[2018-09-20 01:18] jlewi opened #1584 "PyTorch and TFJob v1beta1 API"
In 0.4.0 the PyTorch and TFJob API's should be beta quality with an eye towards 1.0 in the spring.

There is an open issue kubeflow/tf-operator#742 to do an API review with Kubernetes.

[2018-09-20 04:45] jlewi commented on #816
Due to #1574; I think as a short term fix we will want to allow our postsubmits to start publishing images to the gcr.io/kubeflow-images-public bucket.

This means we will need to update the IAM policy for project kubeflow-images-public to grant appropriate IAM permissions to the service account used in our kubeflow-testing cluster.

We'd like to start managing GCP more declaratively; so we should

[2018-09-20 06:57] gracechristina opened #1585 "How can we modify jupyterhub configuration?"
I would like to modify the configuration of jupyterhub in kubeflow. I want to add OAuth (e.g github). However, I cannot find any guide on how to do so.
The README below mentioned that I need to modify the manifest/config.yaml but in the new version of kubeflow, manifest/config.yaml is not available anymore.
https://github.com/kubeflow/kubeflow/tree/v0.2.5/components/jupyterhub
Can somebody help me

[2018-09-20 12:23] jokerwenxiao opened #1586 "deploying kubeflow with bootstrapper failed"
The result of my deployment is different from the result of the website https://www.kubeflow.org/docs/started/getting-started-minikube/.

when i enter commands:
 kubectl -n kubeflow get svc

Terminal display:
No resources found

[2018-09-20 15:43] jlewi commented on #1583
Here's the JIRA for Beam on Flink
https://jira.apache.org/jira/browse/BEAM-2889

[2018-09-20 15:43] jlewi commented on #1583
Flink Kubernetes instructions
https://ci.apache.org/projects/flink/flink-docs-stable/ops/deployment/kubernetes.html

[2018-09-20 18:03] richardsliu commented on #1576
@pdmack I set INSTALL_TFMA to "no", but the presubmits are still showing the same errors: http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-presubmit-tf-notebook-release-1579-cd6dfa7-3423-52a9?tab=workflow&nodeId=kubeflow-presubmit-tf-notebook-release-1579-cd6dfa7-3423-52a9-1598222731&sidePanel=logs%3Akubeflow-presubmit-tf-notebook-release-1579-cd6dfa7-3423-52a9-1598222731%3A

[2018-09-20 18:37] richardsliu commented on #1576
Nevermind, I know why this happened.

[2018-09-20 19:40] kunmingg commented on #1540
I feel that ideally our test workflows shouldn't have dependency on ks versions.
How about turn test workflows into prototypes and e2e test will generate from them on the fly?

[2018-09-20 21:24] kunmingg opened #1587 "Support scope for postsubmit"
After https://github.com/kubeflow/kubeflow/pull/1565 merged, postsubmit will run image release workflows after every merge:
Takes 2+ hours with current test cluster setting.

Suggest we support scope for postsubmit, and only release images whose scoped code has changed.

@richardsliu
@jlewi

[2018-09-20 21:27] kunmingg commented on #1586
minikube?
Master branch is less stable, can you try with 0.2 release branch?
https://v0-2.kubeflow.org/docs/started/getting-started-minikube/

[2018-09-20 21:29] jlewi commented on #1586
If you're using 0.2 I would suggest not using the bootstrapper;

1. Setup minikube following the instructions on that page
1. Once minikube is setup follow the [generic instructions](https://v0-2.kubeflow.org/docs/started/getting-started/) for deploying Kubeflow

The bootstrapper approach had some architectural issues and we are moving away from it in 0.3.

See #1459
See #1430

Looks like we need

[2018-09-20 21:54] kunmingg opened #1588 "Envoy unable to read config"
Saw error message from envoy pod:
external/envoy/source/server/server.cc:71] error initializing configuration '/etc/envoy/envoy-config.json': unable to read file: /etc/envoy/envoy-config.json

@abhi-g

[2018-09-20 22:28] richardsliu commented on #1587
The original intent is to let the presubmits run quicker and only when specific files are modified. The postsubmits should be more comprehensive.

Can we make the image release workflows use a different job type, like periodic?

[2018-09-21 01:50] monkey3199 opened #1590 "Bootstrap cmd app doesn't get a token that is used in the ksServer.go"
[ksServer.go:650](https://github.com/kubeflow/kubeflow/blob/master/bootstrap/cmd/bootstrap/app/ksServer.go)
[server.go:256](https://github.com/kubeflow/kubeflow/blob/master/bootstrap/cmd/bootstrap/app/server.go)

In order to run ksServer.Apply(ctx context.Context, req ApplyRequest) in ksServer.go, 'req' must have Token. But func processFile() in server.go doesn't allocate the value of token. As th

[2018-09-21 04:07] jlewi commented on #1585
/cc @pdmack

[2018-09-21 06:47] jokerwenxiao commented on #1522
I have encountered some bottlenecks and I don't know what to do for this issue.
Can you write a detailed step?
Thank you！

[2018-09-21 07:28] jlewi opened #1591 "Remove kubeflow-testing service account write access to gcr.io/kubeflow-images-public"
In kubeflow/testing#211 we gave the service account used in our kubeflow-ci cluster write permissions to gcr.io/kubeflow-images-public so that we could push images on postsubmit: see

kubeflow/kubeflow#1574 use prow to auto release images
kubeflow/kubeflow#816 trigger image pushes on postsubmit

This isn't as secure as we'd like see (kubeflow/kubeflow/issues/816) in particular

   * We don't want

[2018-09-21 17:12] jlewi commented on #1587
I think we'd like to do both

1. On postsubmits selectively rebuild images if source was modified
1. Periodically rebuild everything and run all tests

The reason for doing both

When a developer makes a change to the source we want to make it immediately available on postsubmit; we don't want them to have to wait a day.

The reason for running jobs periodically is because even if there are no PRs

[2018-09-21 17:26] jlewi commented on #1585
Here are some guidelines about modifying JupyterHub

The Kube spawner docs for jupyter provide a list of all the options you can [configure](https://jupyterhub-kubespawner.readthedocs.io/en/latest/spawner.html#module-kubespawner.spawner).

In Kubeflow the Kube spawner Python file is [here](https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/kubeform_spawner.py).

We use the following to

[2018-09-21 20:39] jlewi commented on #1541
Katib images now being built on postsubmit. We have updated images
gcr.io/kubeflow-images-public/katib

Need a PR to update the ksonnet component on the release branch.

[2018-09-21 21:59] jlewi commented on #1566
Another user is reporting hitting this on slack.
User reports

[code]
returns no registries.

So maybe the issue here is that the ks registry add command didn't succeed and that causes problems.

Can you see if `ks registry list` returns any registries; if not can you try adding one?

[2018-09-21 23:44] xyhuang opened #1596 "Kubebench-job default param mainJobConfig points to a wrong path"
the example config should be located at tf-cnn/tf-cnn-dummy.yaml

[2018-09-21 23:44] xyhuang commented on #1596
/assign

[2018-09-22 00:17] jlewi commented on #1541
#1597 will update Katib images on master; Will need to cherry pick it on v0.3 branch.

[2018-09-22 19:43] jlewi opened #1598 "Update Seldon to 0.2.3 on 0.3 release branch"
@cliveseldon submitted #1592 to update Seldon to 0.2.3 on master branch.

We should cherry pick this into our 0.3. branch so its part of 0.3.

See #1541 0.3. release

/assign @cliveseldon

[2018-09-22 19:45] jlewi opened #1599 "Update TFJob on 0.3 Branch"
Need to update TFJob on the 0.3 branch.

see #1541 0.3 release branch

/assign @jlewi

[2018-09-22 19:46] jlewi opened #1600 "Update PyTorch Job image on 0.3 branch"
We need to update the PyTorch job image on the 0.3 branch

See #1541 0.3 release

/assign @johnugeorge

[2018-09-22 19:48] jlewi opened #1601 "Update Jupyter images on 0.3. branch"
We need to update the Jupyter images on the 0.3 branch

The Jupyter images should now be built by postsubmits. The postsubmits aren't being marked as succesful though but that should be fixed by #215.

Nonetheless if we have successfully built Jupyter images we should go ahead and get them updated on the release branch.

Related to #1541 0.3 release

/assign @richardsliu

[2018-09-22 19:52] jlewi opened #1602 "Update Kubebench images on 0.3. branch"
We should get images for Kubebench built and published to
gcr.io/kubeflow-images-public

The images can now be built and pushed as part of postsubmits.
There are instructions in #1593

see #1541 0.3 release

/assign @xyhuang

[2018-09-22 20:31] jlewi opened #1603 "Run tests periodically on the release branch starting with 0.3"
We should ensure our E2E tests are running periodically against the release branch.

This way we catch errors such as when K8s drops the GKE version we are currently pinning to.

Related to #1541 0.3 branch

See also:
kubeflow/testing/issues/214

[2018-09-22 20:40] jlewi opened #1604 "Update Katib image in 0.3 branch"
Tracking bug for updating the Katib images on the 0.3 branch

#1597 updates it on master. Will need to cherry pick it onto the release branch.

[2018-09-22 21:03] kkasravi opened #1606 "TFJob will not run if the TFJob CRD includes scope: Namespaced"
@jlewi There is a subtle issue in tf-job-operator

this works and results in tf-job-simple running
[code]
and this doesn't (difference is the inclusion of the scope attribute).
There are no errors that I can see and tf-job-simple never runs.

[code]

Since the default for CustomResourceDefinition scope is [Namespaced](https://godoc.org/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions) is seem

[2018-09-22 21:05] kkasravi commented on #1606
/assign @jlewi @wbuchwalter @lluunn

[2018-09-22 23:01] jlewi commented on #1606
I think this is WAI is intended.

Scope refers to whether the TFJob should be a namespace or not namespace scoped object.
I think it makes sense for TFJob's to always be namespace scoped. Meaning that every TFJob belongs to a namespace.

Our tests assume its namespace scoped; so when we query for the status of the job we always specify the namespace.

If this is in regards to #1535, I suspect what

[2018-09-22 23:29] jlewi opened #1607 "Katib ksonnet component needs an E2E test"
We need an E2E test to verify that Katib can be successfully deployed using our ksonnet component.

The E2E test in kubeflow/katib uses
https://github.com/kubeflow/katib/blob/master/test/scripts/run-tests.sh

Which uses some YAML manifests.

A good starting point would just be deploying Katib and then verifying all the pods start.

[2018-09-22 23:32] jlewi commented on #1599
Post submit completed successfully; we have image:
gcr.io/kubeflow-images-public/tf_operator:kubeflow-tf-operator-postsubmit-v2-fac8eff-251-af42

[2018-09-23 00:40] #1534 closed

[2018-09-23 00:45] kkasravi commented on #1606
Thanks @jlewi

TL;DR
if [tfJobVersion default](https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/prototypes/tf-job-operator.jsonnet#L11) is v1alpha2 then
  - the [crdv1alpha2](https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/tf-job-operator.libsonnet#L44) manifest should include scope: namespaced.
  - the [deploymentScope parameter](https://github.com/kubeflow/kubeflow/b

[2018-09-23 04:38] kkasravi opened #1610 "tensorboard prototypes should include the optionalParams available in that prototype"
for example
`ks param list tensorboard-aws`
should return something like
[code]

[2018-09-23 04:38] kkasravi commented on #1610
/assign @jlewi

[2018-09-23 05:30] kkasravi commented on #1606
@jlewi - update the CRD to include scope: Namespaced in PR #1535

[2018-09-23 14:49] yylin1 commented on #1566
Sorry @jlewi  reply late for you,

ks version has not changed v0.12-rc1
I don't know why, try again and Deploy successfully in these days.
My GPU Cluster & minikube try is okay. 

script
[code]
info.
[code]

Convenient for users script kubeflow master &  v0.2 which suggest deploy now ?

[2018-09-24 16:26] jtfogarty opened #1615 "On Premises deployment of Kubeflow fails unless ks flags are set v0.3"
Please reference this [gist](https://gist.github.com/jtfogarty/511c2412466ec086f61046c6d554528f)

ksonnet is not picking up the http_proxy values or is expecting something other than what we have set.

Unless the changes detailed in the gist are made, the install process fails.

[code]
Can the ks flags be added to the env.sh file and used in kfctl.sh / util.sh?

[2018-09-24 17:34] jlewi commented on #368
From Peng Yu in Slack

They are using the gRPC port

[code]

[2018-09-24 17:45] jlewi commented on #1189
Does model refer to something Jupyter related? Or does it refer to TF model?

[2018-09-24 17:46] jlewi commented on #1189
Looks like model refers to Jupyter e.g.

matplotlib/jupyter-matplotlib#38

[2018-09-24 17:49] jlewi commented on #1317
@walterhuangio Any progress on this?

[2018-09-24 17:52] jlewi commented on #1560
@yixinshi Any update on this?

What is the work needed to support the Dataflow runner?

[2018-09-24 18:12] jlewi commented on #1606
@kkasravi

I think its fine to drop support for v1alpha1 at this point if that simplifies things.

[2018-09-24 18:15] jlewi commented on #1510
As mentioned on Slack we revamped the image release process to allow images to be built and pushed from post submits.

See updated instructions: https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#image-auto-release

I apologize for the churn but our existing process of using a cron job just wasn't scaling and providing actionable signal.

[2018-09-24 18:27] #1610 closed

[2018-09-24 18:57] jlewi opened #1616 "E2E test to verify kfctl can setup a new project properly"
We'd like to verify that kfctl can probably deploy Kubeflow in a fresh GCP project (i.e. one that doesn't have any of the required APIs enabled).

kfctl should have options and logic to properly initialize API's and perform one time setup.

In #1564 we added the flag to our E2E tests to skip initializing the project on each run because

  * It uses up limited quota
  * Makes the test run longer

[2018-09-24 19:02] jlewi commented on #1615
@jtfogarty Thanks for creating this bug. Can you provide a little more explanation of what the issue is?

If I understand correctly based on our conversation in slack, in your on prem environment you have issues with ksonnet making external HTTP requests which are blocked in your on prem environment.

And you work around this by doing two things

  1. Setting `--api-spec=file:/home/kubeflow/swagge

[2018-09-24 19:06] jlewi commented on #1436
Closing this issue.

[2018-09-24 19:06] #1436 closed

[2018-09-24 19:08] jlewi opened #1617 "[test flake] pre and postsubmit failures deploying mnist"
Postsubmit failure:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubeflow_kubeflow/kubeflow-postsubmit/700

Error message is

[code]

Also saw presubmit failures in
kubeflow/kubeflow#1614

which is surprising because in that PR the tf serving test shouldn't have been triggered based on the files that were modified.

/cc @lluunn

[2018-09-24 19:09] jlewi commented on #1596
What's the priority for this issue?
Will need to fix it in 0.3 or can it wait for 0.4?

[2018-09-24 19:11] jlewi commented on #1590
Can you explain what it is you are trying to do using the bootstrapper/ksServer?

At this point this is largely an internal library and we aren't expecting it to be consumed directly by users?

/cc @kunmingg

[2018-09-24 19:12] jlewi commented on #1588
@kunmingg What was the context in which this error appeared? Did envoy end up recovering?

Which envoy were you looking at? Is this the Ambassador envoy instance or the envoy we use to do JWT checking for IAP?

[2018-09-24 19:12] #1586 closed

[2018-09-24 19:14] #1572 closed

[2018-09-24 19:15] kunmingg commented on #1590
@monkey3199
```ksServer.go``` expect user come from 2 ways:
1. from web app, where user will log in and make request with their token.
2. from cmd line, and user also have gcloud sdk installed so can generate the token they need to make request.

Auth token will only generated per request, it shouldn't exist in a file which would be a security concern.

[2018-09-24 19:42] Ark-kun commented on #1398
@jlewi This one: https://github.com/kubeflow/kubeflow/blob/master/testing/README.md#accessing-argo-ui

[2018-09-24 19:59] kunmingg commented on #1588
https://github.com/kubeflow/kubeflow/pull/1595
This one fix it.
Root cause is IAM leftovers from previous deployment.

[2018-09-24 20:15] jlewi opened #1620 "[test flake] failed to get container status"
I've seen a couple test failures where one of the steps in the workflow fails. If we use the Argo workflow to get the logs for the pod the error we see is

[code]

I think this error message indicates an issue with Argo getting the logs for the particular pod/container. Its probably obscuring the root cause.

To troubleshoot we probably need to use StackDriver to try to figure out what happened to

[2018-09-24 22:00] #1588 closed

[2018-09-24 23:38] lluunn commented on #1617
I think the cluster is having some issue:

[code]

[2018-09-24 23:54] kunmingg commented on #912
https://github.com/kubeflow/kubeflow/pull/1515

[2018-09-24 23:54] #912 closed

[2018-09-25 00:04] kunmingg commented on #971
@jlewi
How about writing our own gitops service that understand ksonnet?
Feels like WeaveFlux's restriction on only managing raw k8s manifest is painful to have:
We cannot control if user update git repo through a service or manually git push (in this case we cannot force user to update output of ```ks show ...```)

[2018-09-25 00:12] lluunn commented on #1617
Deleted some leaked workflow (not many)

There are 3 cpu nodes
[code]
I think we might need more nodes.

[2018-09-25 00:12] bhack commented on #971
@kunmingg https://github.com/ksonnet/ksonnet/issues/553

[2018-09-25 00:14] lluunn commented on #1617
add 2 new cpu nodes

[2018-09-25 00:19] lluunn commented on #1617
[code]

[2018-09-25 00:28] jessesuen commented on #971
If flexibility in the way you define your manifests is a sticking point, I really encourage you to give ArgoCD a try. We now support ksonnet, kustomize, helm, or plain directories of yaml, json, jsonnet. In our latest release (v0.9) we now have automated synchronization, if you like Flux' pull based approach to synchronization.

Here's the (now a  bit dated) 10 minute demo I did for SigApps a few

[2018-09-25 00:37] jtfogarty commented on #1615
I'm able to do a wget on the swagger.json file from the Kubernetes master so the domain that hosts this file is open through our proxy.  I'm also able to do git clone from github form the master.  It seems to be an issue with how ksonnet uses the proxy.
After making the changes you listed, yes, the install completes successfully.

[2018-09-25 01:11] lluunn commented on #1617
TODO:
1. diff fix for post submit to avoid triggering image build for every PR
2. more log to know why one workflow is triggered (like: file XX.libsonnet is changed, launched this workflow)
3. TF serving test (or maybe other) has better logging when pod can't be scheduled.

[2018-09-25 01:18] lluunn commented on #1617
cc @richardsliu

[2018-09-25 01:40] TheJaySmith commented on #971
It is proving to be a little more difficult than I had hoped. The ksonnet is a bit tricky. Right now, weaveflux is bundled into Kubeflow so it can be used today, except for the ksonnet. Basically, I need to convert the ksonnet into YAML to update.

My goal is to show this all off by Kubecon Seattle (definitely need it done before then) so I am open to whatever we think is best. Making our own tool

[2018-09-25 14:11] jlewi commented on #211
@TheJaySmith can we create a different account for our robot?

[2018-09-25 14:13] jlewi commented on #1320
Thanks.

Should we mark this issue as a Duplicate of #211 (Publish Docker Images to DockerHub)?

[2018-09-25 14:58] ioandr commented on #34
Hi all,

We would like to contribute to this issue and extend the current JupyterHub Spawner UI with the option of specifying PVCs for a Jupyter Notebook. We suggest that the corresponding UI element described above should be an extra entry in the 'Advanced Options' form, just like the rest of the resources.

A user should be able to attach 0-N new, empty volumes to their notebook, so we will impl

[2018-09-25 16:19] jbottum commented on #1620
/label area/0.4.0

[2018-09-25 16:21] jlewi commented on #1620
/label area/0.4.0

[2018-09-25 19:36] TheJaySmith commented on #211
@jlewi kubeflowrobot is now good to go (managed to get the password to it)

[2018-09-26 13:18] jlewi commented on #34
In general the plan sounds good to me.

At the Kubeflow, contributor summit yesterday a couple key points emerged

1. A richer Jupyter spawner UI would be useful for users

    * @pdmack mentioned he was working on some related skins
    * Lyft showed their notebook UI and talked about how giving users precanned machined specs (high-cpu, high ram) was useful for users (while still providing an esc

[2018-09-26 13:39] jlewi opened #1630 "[Discussion] Do we need JupyterHub? Should we just use a web app + K8s API Server?"
At the contributor summit yesterday,  one question that came up is whether we should replace JupyterHub with a bunch of separate microservices e.g.

  * A custom web app to spawn/manage pods for notebooks using the K8s API server
  * Ambassador or ISTIO or similar to handle setting up reverse poxy routes to notebooks
  * An auth service like [oauth2_proxy](https://github.com/bitly/oauth2_proxy) to

[2018-09-26 14:05] jlewi opened #1631 "[GCP] Click to deploy doesn't create any K8s resources when version is 0.2.5"
I used the click to deploy app and specified version "0.2.5" in the UI
The app ran successfully and showed

[code]

However the URL didn't work. The cluster was created as was the namespace but no resources were created within the **kubeflow** namespace.

[code]

What are proper version values?

/assign @kunmingg

[2018-09-26 16:27] ioandr commented on #34
@vkoukis @iliastsi

[2018-09-26 17:40] yuvipanda commented on #1630
JupyterHub is built to run on a lot of places, not just Kubernetes. This is the primary reason it's built the way it is. It's heavily used in simple single-node installs, docker based installs, HPC systems, etc.

We have an outreachy project to make the proxy HA: https://github.com/jupyterhub/outreachy/blob/master/ideas/traefik-jupyterhub-proxy.rst. There's also an Ingress based proxy implementati

[2018-09-26 18:20] kunmingg commented on #1631
The version fields accept tags & commit hash.
I assume any commit after Sep. 19 should work.

[2018-09-26 18:42] inc0 commented on #1630
I'm +1 on removing Jupyterhub (I mentioned it several months ago). Number 1 issue for me is that user management in JH is not the same as in K8s. That means RBAC won't work for JH, that means we can't securely make notebooks talk to kubernetes underneath and spawn new pods (for example tfjobs). We could rip out user mgmt from JH, but what's left then?

JH is stateful and that's an issue, what happ

[2018-09-26 19:11] lluunn opened #1634 "Update document on Tf Serving"
About how to predict
- more word on REST api, http proxy, native http from tfserving
- how to do iap

[2018-09-26 20:53] lluunn opened #1635 "Deploy prometheus by default on GKE"
cc @kunmingg

[2018-09-26 21:38] kaiwaehner commented on #607
Looks like this one was not contributed yet, right?
As soon as there is a working example with Kafka, I am happy to contribute some stuff like improved docs, blog post or demo video of this combination.
But as coding is not my daily job, it is too hard for me to build such an example by myself, unfortunately.

[2018-09-26 21:46] jlewi commented on #1601
Lets make sure we have docker images with TF.Data validation
https://github.com/kubeflow/kubeflow/pull/1629

[2018-09-26 22:42] jlewi commented on #1607
Duplicate of #1483

[2018-09-26 22:42] #1607 closed

[2018-09-26 22:45] jlewi commented on #1483
The E2E test in kubeflow/katib uses
https://github.com/kubeflow/katib/blob/master/test/scripts/run-tests.sh

Which uses some YAML manifests.

A good starting point would just be deploying Katib and then verifying all the pods start.

We should be able to piggy back on our existing ksonnet lib for deploying kubeflow using kfctl.
https://github.com/kubeflow/kubeflow/blob/764d28e520c643f6596931cc64fe

[2018-09-27 00:36] monkey3199 commented on #1590
According to bootstrap quickstart(https://github.com/kubeflow/kubeflow/tree/master/bootstrap), I launched the bootstrapper.
`kubectl create -f bootstrapper.yaml`
Bootstrapper executed function processFile in server.go. In this function, it called ksServer.Apply without any token in request.
`if opt.Apply {
		req := ApplyRequest{
			Name:        appName,
			Environment: "default",
			Components:  m

[2018-09-27 01:51] texasmichelle opened #1641 "[GCP] Deploy script fails with unsupported k8s version 1.9.7-gke.5"
When running the [GKE deploy script](https://github.com/kubeflow/kubeflow/blob/v0.2.5/scripts/gke/deploy.sh), this error message is returned:

[code]

The value in [cluster.jinja](https://github.com/kubeflow/kubeflow/blob/v0.2.5/scripts/gke/deployment_manager_configs/cluster.jinja#L83) is not in the list of supported master versions:

[code]

Since these are incremented periodically, we need a bet

[2018-09-27 01:58] #1599 closed

[2018-09-27 01:58] #1600 closed

[2018-09-27 01:58] #1601 closed

[2018-09-27 01:59] #1598 closed

[2018-09-27 01:59] #1602 closed

[2018-09-27 04:27] tlkh opened #1643 "[Proposal] Jupyter Notebook Image Zoo"
Hi everyone, I'm proposing that we work out a way to create a "zoo" of Jupyter notebook images that integrate with Kubeflow/JupyterHub, similar to the collection of [official Jupyter images on Docker Hub](https://hub.docker.com/u/jupyter/). I'll be happy to take this on but I'm not very sure how the current automated build process works.

Examples of notebooks in a "zoo":

- current TF/Kaggle note

[2018-09-27 04:41] jlewi commented on #1227
That would be great.

[2018-09-27 06:04] ashahba commented on #1359
@jlewi here is how I take a stab at this issue:

- get server config from `gcoud`:

[code]

- Parse the return from step 1 and find the `validMasterVersions`. In this case:
[code]

- For each `validMasterVersion` check if it's also a `validWorkerVersion` until a match is found. Since the versions are sorted, the match would always be the latest matching version. In this case the result will be `1.

[2018-09-27 06:08] ashahba commented on #1359
If we also want to stick with a valid version within `v1.10.x` and not auto upgrade, we can add an extra check for that.

[2018-09-27 07:45] gaocegege commented on #1643
I am not sure about the build-release process, too. Maybe we could ask for help from @jlewi

[2018-09-27 07:54] gracechristina opened #1645 "Changing access_mode of the PVC"
I want to attach multiple PVCs to a single-user pod in jupyterhub. However, this means that I need to modify the accessModes to ReadWriteMany. However, kubespawner will create PVC with a default access mode of ReadWriteOnce. I understand that we are not able to change PVC access mode if PVC already exists. How do we change this in the ksonnet during PVC creation? Thank you for the help! :)

[2018-09-27 12:37] inc0 commented on #1645
Multiple PVC to single pod is ok with ReadWriteOnce. ReadWriteMany is required if you want to add single PVC to multiple pods.

[2018-09-27 14:13] jlewi commented on #1643
Did you mean notebooks (ipynb)? Or runtime environments?

See: https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#image-auto-release

I think the first step would be to understand and document the requirements for Kubeflow Jupyter images.

Ideally, any Jupyter runtime image should just work with Kubeflow. I think the only tweaks we've made are related to

1. filesystem permissi

[2018-09-27 14:27] jlewi commented on #1359
Why do we need to check node versions?

I think we just want to look at valid master version
And pick the latest v1.10.x

I don't think we want to autoupgrade e.g
From 1.10 to 1.11 because we've seen that break.

[2018-09-27 14:37] inc0 commented on #1643
We've used subdirectory before, but we've decided to change it to home, as people were saving things in home and losing their notebooks.

As for main question, one consideration would be maintenance of these images - it's going to be hard to provide high level of confidence for more than a few. We've run into multiple issues with version conflicts or breakages already. Building infra that will all

[2018-09-27 16:37] ashahba commented on #1359
Checking for `node` versions was just for safety I'm not expert on `gcloud` 🙂 but as long as the same supported `master` versions are also supported by `node` we are good, and I guess I'll take that approach for now.
Also we stick with `v1.10` since we already know that things are broken on `v1.11`.

Having said those I guess I work on this ticket.

[2018-09-27 16:37] ashahba commented on #1359
/assign @ashahba

[2018-09-27 16:42] tlkh commented on #1643
Yes, indeed this is true, but on one hand, there aren't really pre-made Jupyter runtime images for e.g. PyTorch that are maintained (not that I can find anyway). On the other hand, I'm not sure how things like integration with Kubeflow or Katib will factor in.

I understand that maintaining these images is hard! Hence I was thinking we could have a some kind of defined workflow for users to build

[2018-09-27 16:42] texasmichelle commented on #1641
Yes, this is in 0.2.5

[2018-09-27 16:55] jlewi commented on #1641
After #1644 is committed we will have to cut 0.2.6

[2018-09-27 17:11] jlewi commented on #1643
I think you are right; we will want to have a small number of high quality, curated images and we will want to build out infra to support that.

As the link above shows we already have infra and a process for automatically building and pushing images from postsubmits. There's a lot of improvements to be made.

I think the question what are the concrete next steps.

My suggestion would be to

1. Do

[2018-09-27 17:42] #1562 closed

[2018-09-27 19:25] #1483 closed, assigned to nobody

[2018-09-27 19:30] jlewi commented on #1394
It looks like this information is also available from the Jupyter servers themselves. I think its last_activity
http://petstore.swagger.io/?url=https://raw.githubusercontent.com/jupyter/notebook/master/notebook/services/api/api.yaml#/kernels/get_api_kernels__kernel_id_

I mention this because we are considering maybe getting rid of JupyterHub #1630

[2018-09-27 20:57] #1634 closed

[2018-09-27 21:05] jamborta opened #1648 "Jupyterlab service account token"
I am trying to start a k8s Spark cluster from Jupyter notebook using jupyterlab, but it fails because it cannot find a token to authenticate the cluster.

I think the reason for that is jupyter pods disable service account tokens in the pods (automountServiceAccountToken set to false). Any suggestion how to get around that limitation?

[2018-09-27 21:11] #1617 closed

[2018-09-27 22:02] lluunn commented on #1264
#1589 is the new pattern. We can improve on that

[2018-09-27 22:02] #1264 closed

[2018-09-27 22:04] lluunn commented on #1089
We are using TF Serving's image now

[2018-09-27 22:04] #1089 closed

[2018-09-28 00:10] #896 closed

[2018-09-28 00:10] #1258 closed

[2018-09-28 01:34] jlewi commented on #1648
Can you provide the pod spec of your Jupyter notebook?

Where are you seeing automountServiceAccount token set? When I look at my Jupyter pod I see a service token mounted

[code]

Are you sure this isn't a role binding issue?
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/jupyterhub.libsonnet#L256

I think we provide limited permissions to the service account in the jupyter pod. S

[2018-09-28 01:36] jlewi commented on #1641
v0.2.6 is now available.
https://github.com/kubeflow/kubeflow/releases/tag/v0.2.6

[2018-09-28 01:36] #1641 closed

[2018-09-28 06:51] ashahba commented on #1227
/assign @ashahba

[2018-09-28 08:28] monkey3199 opened #1651 "Deploy kfctl.sh apply k8s: Failed to pull image"
According to this link(https://www.kubeflow.org/docs/started/getting-started/), I deployed Kubeflow.
But after launched this command `kfctl.sh apply k8s`, I got some errors.
Some of pods failed to pull image. Below is the example of errors.
`Failed to pull image "gcr.io/kubeflow-images-public/modeldb-backend:v0.2.0": rpc error: code = Unknown desc = Error response from daemon: Get https://gcr.io/v

[2018-09-28 08:28] vkoukis commented on #34
Yes, we believe we can.

We agree completely that iterating on the user-facing UI, and evolving the user experience should *not* block on replacing JupyterHub, especially before we have a crystal clear view of what the shortcomings of the current JupyterHub-based approach are.

Having said that, it makes sense to ensure that when we *do* have a clear view of where we want to go, we don’t just have

[2018-09-28 08:31] vkoukis commented on #1630
We (@ioandr, @iliastsi, myself) agree completely that it would be best to replace JupyterHub in the long run. I have tried to lay out a plan to do that in https://github.com/kubeflow/kubeflow/issues/34#issuecomment-425362422.

Using JupyterHub as essentially a wrapper around KubeSpawner has a number of problems, as @inc0 also mentions in the comment above, including:
* JupyterHub creates all pods

[2018-09-28 12:35] jlewi commented on #136
@zmhassan Can you elaborate on an MLFlow operator? I think of an operator as a controller. So what would an operator be controlling?

[2018-09-28 12:54] jlewi commented on #136
/cc @inc0

[2018-09-28 13:35] jlewi commented on #1651
It looks like your pods don't have internet access.

How are you running Kubernetes? Are you using GKE? Are you using minikube?

For minikube how are you trying to access minikube? Can you provide more information about what your setup is and what commands you are running?

[2018-09-28 13:39] jlewi commented on #34
This sounds like a great plan to me!

@pdmack any thoughts?

[2018-09-28 13:39] jlewi commented on #1630
https://github.com/kubeflow/kubeflow/issues/34#issuecomment-425362422

Sounds like a great plan to me.

[2018-09-28 13:44] jlewi commented on #1189
At the summit it was pointed out that extensions need to be written differently for jupyter and jupyterlab. But I'm not sure that's that's the same as a widget.

[2018-09-28 15:51] jbottum commented on #1620
/area 0.4.0

[2018-09-28 16:06] jbottum commented on #1620
/remove-area 0.4.0

[2018-09-28 16:10] jamborta commented on #1648
Thanks for the reply. This is my pod specs. As you can see there are no service tokens mounted:

`{
  "kind": "Pod",
  "apiVersion": "v1",
  "metadata": {
    "name": "jupyter-tamas",
    "namespace": "kubeflow",
    "selfLink": "/api/v1/namespaces/kubeflow/pods/jupyter-tamas",
    "uid": "306b9127-c31f-11e8-ae7f-0265c1b11592",
    "resourceVersion": "26255",
    "creationTimestamp": "2018-09-28T1

[2018-09-28 17:22] jlewi opened #1653 "[gcp] Click to deploy needs to get a valid master version for GKE by calling get-server-config"
See #1359

GKE deprecates patch versions pretty quickly. So the app should call get-server-config to get a current supported minor version e.g. 1.10.x-gke-y  and set it in the DM config.

/assign @kunmingg

[2018-09-28 17:36] kunmingg commented on #1653
related
https://github.com/kubeflow/kubeflow/pull/1654

[2018-09-28 17:41] kunmingg opened #1655 "[gcp] Click to deploy needs to save DM config to cloud source repo as well."

[2018-09-28 18:19] inc0 commented on #136
@zmhassan I have question about MLFlow - how does it compare to Tensorboard? I haven't really used MLFlow but from what I've seen it kinda looks like tensorboard. Problem with Tensorboard being our only experiment tracker mechanism is that it can't handle thousands of models at the time. We were desiging tool that would track all experiments with database and then maybe allow you to spawn tensorbo

[2018-09-28 18:37] texasmichelle commented on #1641
Thanks for the quick resolution!

[2018-09-28 19:29] ddutta commented on #136
On a different note: could we discuss what do we want for model management
for v1.0?

thx

On Fri, Sep 28, 2018 at 11:19 AM Michał Jastrzębski <
notifications@github.com> wrote:

--
-Debo~

[2018-09-28 20:08] zmhassan commented on #136
@inc0 Let me clarify. With tensorflow jobs you could log output and then visualize it with tensorboard. My goal was not to purpose an alternative to that. Lets say if your not using tensorflow and for example scikitlearn. How would you track metrics. I think tracking your metrics in a database is a good approach too. Our use case is slightly different. For non tensorflow users, would it be okay to

[2018-09-28 21:57] jlewi commented on #1540
@kunmingg isn't dynamically creating ksonnet apps going to be a lot more difficult?

run_e2e_workflow.py can figure out which ksonnet version to use just by looking at app.yaml in the app dir specified in prow_config.yaml.We can install multiple versions of ksonnet in the same Docker image e.g
ks-11
ks-12

This seems like a fairly tractable way to deal with ksonnet's app versioning.

[2018-09-28 22:05] #1435 closed

[2018-09-29 06:14] #1566 closed

[2018-09-29 15:39] jlewi opened #1662 "Install Jupyterhub juypyterlab extension in notebooks"
https://github.com/jupyterhub/jupyterlab-hub/blob/master/README.md

This extension enables logging out in JuoyterLab

/area juypter
/priority p2

[2018-09-29 16:09] kkasravi commented on #1540
@jlewi @kunmingg @ankushagarwal seems like kfctl.sh also needs this logic

[code]
and should ask the user to install the latest ks version.

[2018-09-29 16:16] kkasravi commented on #1189
It may be related to this [issue](https://github.com/jupyter-widgets/ipywidgets/issues/2125#issuecomment-403231449) I'll get more info about the lab-manager

[2018-09-29 17:12] jlewi opened #1663 "v0.3.0-rc.1: ERROR no prototype names matched 'pytorch-operator'"
I got the error

[code]
when following the install guide

https://www.kubeflow.org/docs/started/getting-started-gke/

Related to #1541

[2018-09-29 17:16] jlewi commented on #1663
It looks like my vendor directory isn't setup correctly.

[code]

[2018-09-29 17:51] kkasravi commented on #34
@vkoukis @jlewi @pdmack @yuvipanda

A k8s native approach will likely need to scrap kubespawner entirely based on my own attempt to work within the kubespawner framework to replace kubespawner's proxy with ambassador as [suggested](https://github.com/kubeflow/kubeflow/issues/239#issuecomment-365421864) by @yuvipanda in issue #239. I don't make this statement out-of-hand and the remainder of my com

[2018-09-29 17:54] kkasravi commented on #34
BTW my note above agrees with @vkoukis' plan of action (retain the KubeSpawner API but bypass the implementation with a new one).

[2018-09-29 18:38] jlewi commented on #1663
It looks like the problem is because I had a trailing slash on KUBEFLOW_REPO
[code]
Looks like the code expects there not to be a trailing slash.

https://github.com/kubeflow/kubeflow/blob/72eb2ed69d4b94041c8c87d4920fd0c84c703e29/scripts/util.sh#L48

[2018-09-29 19:53] jlewi opened #1666 "[gcp] v0.3.0-rc.1 cert manager can't get the SSL certificate"
When I started Kubeflow on GCP with v0.3.0-rc.1, certmanager is having problems.

[code]

Related to #1541

[2018-09-29 19:56] jlewi commented on #1666
I suspect this was fixed in #1580 and the changes need to be cherry picked onto the release branch.

[2018-09-29 20:10] jlewi opened #1668 "[gcp] E2E test to verify IAP and certmanager works"
We need an E2E test that verifies IAP and certmanager works; so that we catch bugs like
#1666

The Click To Deploy E2E test (#1578) might be sufficient.

/area testing
/priority p1
/area 0.4.0

[2018-09-29 22:16] jlewi opened #1669 "kfctl.sh delete doesn't check/change kubectl context before issuing delete"
I don't think kfctl.sh delete verifies that kubectl is pointing at the right cluster before it issues a delete.

We should add a check and verify that we are pointing at the same cluster as the ksonnet app before deleting the namespace.

Here's some code to try to do that in bash.
https://github.com/kubeflow/testing/blob/master/deployment/redeploy_app.sh#L84

[2018-09-29 22:53] jlewi opened #1670 "[v0.3.0-rc.1] "/" doesn't redirect to the centraldasbhoard UI"
When I deploy the central dasbhoard UI this is what I see.

![centralui](https://user-images.githubusercontent.com/777219/46251148-e1f7f280-c3ff-11e8-809d-4aa0fd191e1b.png)

If I click on layout and go to the page
https://jlewi-0929-iap-fix.endpoints.cloud-ml-dev.cloud.goog/layout.html

I see the expected central dashboard UI.

/assign @swiftdiaries

Related to #1541 0.3 RC

/priority p1
/area 0.3

[2018-09-30 00:31] jlewi opened #1671 "[v0.3.0-rc.1] Only TF 1.8 CPU shows up in the list of prepopulated Jupyter images"
With v0.3.0-rc.1 in Jupyter I only see TF 1.8 in the list of prepropulated Jupyter images

![screenshot from 2018-09-29 17-30-53](https://user-images.githubusercontent.com/777219/46251639-7f0d5800-c40d-11e8-9d94-ad1d5e9aa9f1.png)

/cc @pdmack

Related to #1541 0.3 release

[2018-09-30 00:36] jlewi commented on #1671
There's a list of images in the HTML in kubeform_spawner.py

[code]

But it looks like they aren't showing up; only the default image is.

[2018-09-30 00:38] jlewi opened #1672 "[v0.3.1-rc.1] JupyterHub spawner is missing TF images for 1.9 and 1.10"
In the rc v0.3.1-rc.1 we are missing entries for TF 1.9 and 1.10 in the list of Jupyter images that shows up in JupyterHub.

Related to #1541 0.3 release

[2018-09-30 02:10] clkao commented on #1394
A bit more info on notebook self-culling vs cull-idle-server: https://github.com/kubeflow/kubeflow/issues/56#issuecomment-414688426 the former is also useful in non-jupyterhub scenario if we ever get there.

Note this needs to have the user pod restartPolicy set to OnFailure, which was broken in kubespawner until https://github.com/jupyterhub/kubespawner/pull/251 was merged.

[2018-09-30 07:04] jokerwenxiao opened #1673 "Failed to deploy tfjob through postman call tf-operator-dashboard interface"
I try to use postman to call the tf-operator-dashboard interface to deploy tfjob, related commands are as follow:

Method: POST
URL: http://<localhost:tf-operator port>/tfjobs/api/tfjob
Parameters body:

		{
            "kind": "TFJob",
            "apiVersion": "kubeflow.org/v1alpha2",
            "metadata": {
                "name": "testpostman6",
                "namespace": "kubeflow"

[2018-09-30 14:27] jbottum commented on #1471
/area 0.4.0

[2018-09-30 14:27] jbottum commented on #1457
/area 0.4.0

[2018-09-30 14:28] jbottum commented on #1454
/area 0.4.0

[2018-09-30 14:28] jbottum commented on #1293
/area 0.4.0

[2018-09-30 14:29] jbottum commented on #1293
/remove-area 0.4.0

[2018-09-30 14:30] jbottum commented on #1452
/area 0.4.0

[2018-09-30 14:31] jbottum commented on #1450
/area 0.4.0

[2018-09-30 14:36] jbottum commented on #1450
/remove-area 0.4.0

[2018-09-30 14:36] jbottum commented on #1444
/area 0.4.0

[2018-09-30 14:37] tlkh opened #1675 "Deploy kfctl.sh apply k8s 'namespaces "kubeflow" not found'"
Hi, would just like to make a bug report (possible bug?)

With the latest `v0.3-rc1` (fresh system, fresh install no config changes), I get this error running the  deployment `kfctl.sh` script. (pulled 30-SEP-18, 2230 GMT+8). The error is `ERROR handle object: creating object: creating object: namespaces "kubeflow" not found`.

I resolved this by manually creating the `kubeflow` namespace, but tho

[2018-09-30 14:39] jbottum commented on #1444
/area 0.4.0

[2018-09-30 14:40] jbottum commented on #971
/area 0.4.0

[2018-09-30 14:46] jbottum commented on #934
/area 0.4.0

[2018-09-30 14:46] jbottum commented on #380
/area 0.4.0

[2018-09-30 14:48] jbottum commented on #376
/area 0.4.0

[2018-09-30 14:51] jbottum commented on #42
/area 0.4.0

[2018-09-30 14:54] jbottum commented on #1036
/area 0.4.0

[2018-09-30 15:36] jbottum commented on #1106
/area 0.4.0

[2018-09-30 15:38] jbottum commented on #1337
/area 0.4.0

[2018-09-30 15:44] jbottum commented on #1666
/area 0.4.0

[2018-09-30 15:44] jbottum commented on #1666
/remove-area 0.4.0

[2018-09-30 15:46] jbottum commented on #1631
/area 0.4.0

[2018-09-30 15:47] jbottum commented on #1666
/area 0.4.0

[2018-09-30 15:48] jbottum commented on #1663
/area 0.4.0

[2018-09-30 15:50] jbottum commented on #1363
/area 0.4.0

[2018-09-30 15:50] jbottum commented on #1251
/area 0.4.0

[2018-09-30 15:51] jbottum commented on #1249
/area 0.4.0

[2018-09-30 15:52] jbottum commented on #1178
/area 0.4.0

[2018-09-30 15:52] jbottum commented on #1169
/area 0.4.0

[2018-09-30 15:53] jbottum commented on #1140
/area 0.4.0

[2018-09-30 15:53] jbottum commented on #1126
/area 0.4.0

[2018-09-30 15:53] jbottum commented on #1121
/area 0.4.0

[2018-09-30 15:54] jbottum commented on #1060
/area 0.4.0

[2018-09-30 15:55] jbottum commented on #974
/area 0.4.0

[2018-09-30 15:55] jbottum commented on #927
/area 0.4.0

[2018-09-30 15:56] jbottum commented on #884
/area 0.4.0

[2018-09-30 15:56] jbottum commented on #848
/area 0.4.0

[2018-09-30 15:57] jbottum commented on #855
/area 0.4.0

[2018-09-30 15:57] jbottum commented on #778
/area 0.4.0

[2018-09-30 15:58] jbottum commented on #712
/area 0.4.0

[2018-09-30 15:58] jbottum commented on #504
/area 0.4.0

[2018-09-30 15:59] jbottum commented on #215
/area 0.4.0

[2018-09-30 18:15] inc0 commented on #136
@zmhassan reason I've mentioned Tensorboard is more about functionality rather than saying it's a solution, because it's not, not scalable enough. We could use it for visualization and very detailed examination of training performance, but it's not for "tracking".

I think we need to design this project from scratch, as I haven't seen any good solution yet (if you know of any, please let us know).

[2018-09-30 21:09] jlewi commented on #1673
I would recommend using the K8s API to submit TFJobs programmatically and not use the dashboard API. The latter is meant for internal use

Which version of Kubeflow are you using. I think the issue with namespaces and the dashboard was fixed in
kubeflow/tf-operator#701 and should be in 0.3.

[2018-09-30 21:10] jlewi commented on #1675
Thanks for the bug report.

I think the problem might be that we are creating the namespace during the platform phase and not the k8s phase.

We might want to change/fix that.

[2018-09-30 21:15] zmhassan commented on #136
@inc0 I agree with all the points raised and would like to definitely be involved in the design of this.

[2018-09-30 21:33] bhack commented on #136
/cc @nfelt @ewilderj Just to know if they can disclose something related to the Tensorboard roadmap.

I.e.see:
https://github.com/tensorflow/tensorboard/issues/46

[2018-10-01 01:09] jlewi commented on #1518
This should be fixed with 0.3

[2018-10-01 02:11] monkey3199 commented on #1651
Environment:
- Mac Os High Sierra
- Docker version 18.03.1-ce, build 9ee9f40
- Minikube version: v0.28.2
- ksonnet version: 0.12.0
- jsonnet version: v0.11.2
- client-go version: kubernetes-1.10.4

I access minikube by using this command 'minikube ssh'.
But after deploying kubeflow, I can't access minikube with error below.
[code]

And also, I've tried to run TFJob according to the [link](https://

[2018-10-01 04:36] #1631 closed

[2018-10-01 13:02] jlewi commented on #1671
@tlkh Thanks.

You can see #1630 and #34 for plans about improving the Jupyter UX and potentially getting rid of JupyterHub.

[2018-10-01 13:13] jlewi commented on #1670
I think this was fixed in #1676; we just need to update the image on the 0.3 branch

[2018-10-01 13:15] #1604 closed

[2018-10-01 13:18] jlewi commented on #1575
This fixed:
sample postsubmit run:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubeflow_kubeflow/kubeflow-postsubmit/744

[2018-10-01 13:18] #1575 closed

[2018-10-01 13:19] jlewi commented on #1563
Closing this issue. We are now using postsubmits and not the cron job to build images so that we can use test grid to track success & failure.

[2018-10-01 13:19] #1563 closed

[2018-10-01 13:20] jlewi commented on #1560
Moving to 0.4.0 since we are finalizing 0.3.

[2018-10-01 13:30] jlewi commented on #1189
Thanks @kkasravi

I'm going to move this to 0.4. since we are finalizing 0.3.

[2018-10-01 13:34] jlewi commented on #527
I think we just need to update the docs.
The process should be pretty similar to what we do for TFJob operator
https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#tfjob-operator

i.e.

1. The image is built on postsubmit
1. Update the image tags
1. Update the ksonnet prototype

@swiftdiaries Would you mind putting together a PR updating the docs please?

[2018-10-01 13:47] jlewi opened #1678 "0.3.0 blog post"
Filing this issue to track the blog post announcing 0.3.0

[2018-10-01 14:47] cwbeitel opened #1679 "Additions to the Jupyter hub containers"
Should we add gcsfuse to the Jupyter notebook containers?

I've been using NFS to store my workspace in case the notebook container crashes which has worked fine until something went wrong with NFS, re-deployed the cluster, and NFS was wiped 😬 (theres no trombone emoji...), GCS or another storage solution that won't be inadvertently wiped  seems like an important solution for storing things you wo

[2018-10-01 14:50] cwbeitel commented on #1679
/area juypter

[2018-10-01 15:20] #1293 closed

[2018-10-01 16:04] bbarn3y opened #1681 "Accessing custom metrics in our Python model"
We are using Seldon to wrap our Python model images and we deploy these images with Kubeflow seldon serving. We also have seldon-core-analytics set up on our Kubernetes cluster and we can get and see the default Prometheus metrics using Grafana.

However, we need to extend these default metrics with our own metrics defined in the model and if possible these new metrics should behave the same way a

[2018-10-01 17:09] jlewi commented on #1681
If you're considering extending seldon-core you might want to open an issue in the GitHub SeldonIO repo. That's where the Seldon development happens.

Kubeflow is just providing a ksonnet package for Seldon and integrating it with some of our other services.

/cc @cliveseldon

[2018-10-01 17:20] jlewi opened #1683 "1.0 Exit Criterion for TFJob and PyTorch"
We should come up with exit criterion for declaring 1.0 for TFJob and PyTorch.

We should consider things like

- API stability
- E2E test coverage
- Reliability/Scalability testing
- Which features are required; eg.?
  - Gang scheduling?
  - Garbage collection of jobs?
  - Namespace scoping?
  - Logging requirements?

/cc @richardsliu
/priority p1
/area 0.4.0

[2018-10-01 17:50] jlewi commented on #1249
This should be fixed in 0.3.

[2018-10-01 17:50] #1249 closed

[2018-10-01 17:51] jlewi commented on #1106
@kkasravi is working on this; see #1633

[2018-10-01 17:52] jlewi commented on #927
Removing from 0.4.0. 0.3.0 is dropping support for the bootstrapper and replacing it with kfctl.sh

[2018-10-01 17:52] #927 closed

[2018-10-01 17:53] jlewi commented on #215
This has already been fixed for a while; closing this issue.

[2018-10-01 17:53] #215 closed

[2018-10-01 18:17] richardsliu commented on #1671
For v0.3 release let's just fix the HTML. For the future plan we can continue the discussion in #1630 .

[2018-10-01 18:58] pdmack commented on #1671
Yeah, we knew that exception from the start. Safari is woefully behind on some HTML5 elements. Felt it was an acceptable exclusion given all the other browsers available.

[2018-10-01 19:02] pdmack commented on #34
Agree with @kkasravi. The Kubespawner implementation is where we need to place much of the new work (PVC, GPU type) and rip out some other stuff (auth, reverse proxy).

[2018-10-01 19:55] #1671 closed

[2018-10-01 19:56] inc0 commented on #34
how about we rip out Kubespawner?:)

[2018-10-01 20:58] vkoukis commented on #34
@kkasravi Your observations are very useful, and thanks for having taken the effort to document meticulously all the problems you encountered. I understand replacing JupyterHub with a K8s-native implementation is not going to be a light task, and the main problem is that JupyterHub/Kubespawner maintain a lot of mutable state, which is used to track the launch of a new notebook server.

That being

[2018-10-01 21:28] richardsliu opened #1689 "Error while updating iap-ingress for custom domains"
When following the instructions for using custom domains (https://www.kubeflow.org/docs/guides/gke/custom-domain/), I ran into this error:

[code]

[2018-10-01 21:50] #1672 closed

[2018-10-01 22:18] kkasravi commented on #1630
@jlewi @vkoukis @inc0 @ashahba  +1 on [metacontroller](https://github.com/GoogleCloudPlatform/metacontroller). It allows rapid prototyping and could leverage a CRD. A CompositeController for example would intercept the CRD sent from KubeSpawner (or its replacement) and create a deployment whose podtemplate specified a ServiceAccountName and PodSecurityContext appropriate for the user.

[2018-10-01 23:08] kkasravi opened #1691 "Create a kubeflow application in the GCP Marketplace"
GKE allows the user to deploy an Application CRD using the GKE console
as shown below:

<img width="1287" alt="screen shot 2018-10-01 at 4 02 45 pm" src="https://user-images.githubusercontent.com/146453/46320475-7ba3d900-c593-11e8-9c0e-f166b59d36b2.png">

The applications in the marketplace include seldon io.

<img width="1464" alt="screen shot 2018-10-01 at 4 05 04 pm" src="https://user-images.gi

[2018-10-01 23:09] kkasravi commented on #1691
/assign @jlewi

[2018-10-01 23:51] jlewi commented on #1574
We've switched to using prow.

[2018-10-01 23:51] #1574 closed

[2018-10-02 01:07] ai4life commented on #1679
also would be nice if you upgraded to jupyterlab-hub

[2018-10-02 01:16] xyhuang commented on #1596
sorry about the late response. I just fixed this in #1693, it would be nice if possible to include the fix in 0.3.

[2018-10-02 01:26] jlewi opened #1694 "Argo UI doesn't work behind ambassador"
Using: argoproj/argoui:v2.1.1

We currently add a reverse proxy route to Ambassador for the Argo UI but when I tried it I just get a blank screen. Using port-forward to the Argo pod works.

I see some javascript errors:

[code]
   * localhost:8080 is mapped via port-forwarding to Ambassador port 80

This looks like it might an issue with Argo not being proxy aware e.g. the URL

[code]
Looks wrong;

[2018-10-02 01:41] xyhuang commented on #1510
thanks, we have followed the new release process and the images are showing up in gcr.io/kubeflow-images-public correctly. This issue can be closed.
/close

[2018-10-02 01:41] #1510 closed

[2018-10-02 02:03] #1596 closed

[2018-10-02 02:18] jlewi commented on #1691
We had a lengthy discussion about putting Kubeflow in the apps marketplace and we decided against it at least for now.

The primary reason is that apps marketplace doesn't give us enough control so the resulting experience would not be the recommended Kubeflow experience (i.e. what users get if they follow our GKE getting started guide). This is why we went down the path of building a click to dep

[2018-10-02 06:40] kkasravi commented on #1691
Hi @jlewi

We do have a CRD/metacontroller based approach that allows this to work with Application CR's and namespaced users (RoleBindings). Ebi (@ashahba) and I could open a PR in the next week or so - we were thinking of showing you a demo in that timeframe. The approach doesn't exclude GKE/IAP and could possibly integrate within GKE/IAP. Since users are namespace scoped RoleBindings, they migh

[2018-10-02 11:18] jlewi opened #1696 "[GCP] Upgrade envoy used for JWT validation"
We should upgrade the envoy instance used for JWT validation.

[2018-10-02 11:19] jlewi commented on #1691
A demo at one of the community meetings would be great.

[2018-10-02 11:43] jlewi opened #1697 "[GCP] kfctl should provide a helpful error message if ZONE isn't set"
If zone isn't set then when you run kfctl.sh init you get an error like the following

[code]

We should provide a more helpful error message.

[2018-10-02 11:54] jlewi commented on #1651
Its unclear to me why Ambassador would prevent you from accessing the cluster. You should be able to bypass Ambassador just fine.

Your TFJob is failing because it can't pull docker images from gcr.io. I think network connectivity is the issue here.

Are you running in China or somewhere else where GCR is blocked?

I would suggest trying to run the command

[code]
And seeing whether the pod is abl

[2018-10-02 16:15] inc0 opened #1698 "[testing] Add storage for verbose logs of test jobs"
In OpenStack CI system we had disk space where we could dump logs. This allowed us to easily examine failures and add very verbose logging. Do you think we could build infra for something like that for Kubeflow (for example over google drive?). What I'm thinking about is something to extend of

`for pod in $(kubectl get po -o name); do kubectl describe $pod; done > pods.log` and more like that for

[2018-10-02 17:08] richardsliu opened #1699 "K8s dashboard showing "no healthy upstream""
This is configured as:

    // This service adds a rule to our reverse proxy for accessing the K8s dashboard.
    local k8sDashboard = {
      local isDashboardTls = if params.cloud == "acsengine" || params.cloud == "aks" then
        "false"
      else
        "true",
      // Due to https://github.com/ksonnet/ksonnet/issues/670, escaped characters in
      // jsonnet files are not interpreted co

[2018-10-02 17:41] lluunn commented on #953
@abhi-g hit this issue again with deploy app
In the iap container:
[code]

[2018-10-02 17:42] lluunn commented on #953
cc @kunmingg

[2018-10-02 18:15] pdmack commented on #1679
tensorboard is its own prototype atm. Used to be in the notebook but it was deliberately broken out into its own component.

re: gcsfuse, have you looked at https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/google-cloud-filestore-pv.libsonnet yet as a possible solution?
Maybe @kkasravi has better info there.

[2018-10-02 18:30] kunmingg commented on #953
Seems caused by IAM binding leftover bug.
Web app fixed the problem before: https://github.com/kubeflow/kubeflow/pull/1595
We can implement same logic in script or wait till it switch to go binary cli.

[2018-10-02 19:53] vkoukis commented on #34
/area 0.4.0

[2018-10-02 23:50] lluunn commented on #368
https://github.com/tensorflow/serving/blob/master/tensorflow_serving/model_servers/http_rest_api_handler.cc#L188

TF serving's http server supports get model status. We can use that for readiness probe.

[2018-10-03 00:05] richardsliu commented on #1689
Looks like this is already opened as #1145

[2018-10-03 03:01] inc0 commented on #1698
We can use Argo's artifacts to save things to google cloud storage. Flow would be -> on every test dump any log you can think of to txt file -> save it in predefined dir -> tar.gz whole dir -> set it up as argo artifact -> upload to gcs for easier debugging of job

[2018-10-03 03:39] jlewi commented on #1698
STDOUT/STDERR are already logged in stackdriver.
https://github.com/kubeflow/testing

There's an NFS mount attached to all pods as well but right now we garbage collect that at the end of each run because we were running out of space.

[2018-10-03 05:28] bbarn3y commented on #1681
Thank you, I'll do that!

[2018-10-03 05:28] #1681 closed

[2018-10-03 14:38] cwbeitel opened #1704 "Tiny jupyter lab notebook toolbars"
JupyterLab notebook toolbars appear hidden, CSS height set to 8px, toolbar returns when increasing this back to 30px or so.

<img width="704" alt="tinytoolbar" src="https://user-images.githubusercontent.com/2348401/46417583-db5acb00-c6de-11e8-9c20-acc89bbefd3e.png">

I believe this is is the 1.8 CPU build.

Looks like others have seen this and were able to fix by re-building
https://github.com/jup

[2018-10-03 15:05] inc0 commented on #1698
Stderr of main process isn't enoug (or we'll make it super cluttered). I was thinking of adding easy hooks to log whatever, including stuff like kubectl logs <<every pod ran>>. Important thing is to keep it somewhere and make it readable (ideally with browser, but download tar.gz shouldn't be too bad as well).

[2018-10-03 18:17] pdmack commented on #1704
@richardsliu I imagine we will be doing more fresh builds of our images through the 0.3.0 release?

[2018-10-03 19:45] kunmingg opened #1706 "[deploy app] Make sure use DM config in user-choose version when non-default show up."

[2018-10-03 20:17] #1603 closed

[2018-10-03 20:21] jlewi opened #1707 "jsonnet test is failing but no jsonnet files changed in the PR."
Here's a PR
https://github.com/kubeflow/kubeflow/pull/1703

And presubmit
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/1703/kubeflow-presubmit/3673/

That failed with error

[code]

But that file wasn't modified in the PR.
The only files modified were in
components/gcp-click-to-deploy/src

It looks like our test doesn't only consider the files changed

[2018-10-03 21:52] richardsliu commented on #1670
This is done.

[2018-10-03 21:52] #1670 closed

[2018-10-03 22:38] #1663 closed

[2018-10-03 22:39] jlewi commented on #368
I think we need to cherry pick this into the release branch.

[2018-10-04 02:15] monkey3199 commented on #1651
I'm running in my own mac in South Korea.
I've tried to run the command that you suggested and the result is below.
#1 - Try the command just right after launching minikube
Result Status:  Running
![image](https://user-images.githubusercontent.com/22064624/46448139-5516b580-c7c0-11e8-81dd-47c688795bd9.png)

#2 - Try the command after launching kubeflow using kfctl.sh without ambassador
[code]
![im

[2018-10-04 03:36] jlewi commented on #1704
Aren't the Jupyter images being rebuilt continuously now?

[2018-10-04 03:37] jlewi commented on #1666
Should be fixed in latest RC.

[2018-10-04 03:37] #1666 closed

[2018-10-04 03:49] jlewi commented on #1651
Can you repeat the experiment but in this case only deploy Ambassador and no other Kubeflow components to further nail down the problem?

I think the error message indicates something is going on with your network and its not able to reach GCR. I don't know why Ambassador would interfere with your network setup; its just an envoy pod.

The only think I can think of is that some networking process

[2018-10-04 04:07] jcurlier commented on #1699
+1

[2018-10-04 04:08] jcurlier commented on #1697
+1

[2018-10-04 04:20] jcurlier opened #1710 "Jupyter - Http 503 - upstream connect error or disconnect/reset before headers"
**Step by step**

1. Installation following the instructions here:
https://www.kubeflow.org/docs/started/getting-started-gke/

2. Connect to Kubeflow homepage:

![image](https://user-images.githubusercontent.com/2846867/46452537-2e6d6600-c751-11e8-833f-78c8a0f3b30c.png)

3. Click JupyterHub and start a new Notebook container

4. The user container is properly created

![image](https://user-images.

[2018-10-04 05:35] prateek1192 opened #1711 "Unable to install Kubeflow on a exising 2 node ubuntu cluster; Docs need to be fixed"
I am following the https://www.kubeflow.org/docs/started/getting-started/ to set up kubeflow on an already exiting Kubernetes cluster.

The documentation says that

${KFAPP} The name of a directory to store your configs. This directory will be created when you run init.
As such I give my directory as /home/prateek/conf

To make sure that the directory is not present already I do a rm on that direc

[2018-10-04 05:41] jcurlier commented on #1711
I think the documentation should be updated... I believe this is the name of the folder, not the path, and it is also the name of the Kubernetes cluster that will be created later...

[2018-10-04 10:46] suensummit commented on #1710
It seems like that the connections on GKE was quite unstable recently? My environment as follows:
- GKE version: `1.10.7-gke.2`
- GKE location: `asia-east1-a`

---
I encountered the same issue during these hours:

<img width="861" alt="screen shot 2018-10-04 at 6 32 37 pm" src="https://user-images.githubusercontent.com/5906989/46469063-df810880-c804-11e8-8883-e59dd0abe504.png">

---
Sometimes it i

[2018-10-04 11:28] dhirschfeld commented on #1630
I've stumbled across this as a JupyterHub admin running a custom setup but interested in moving to kubernetes. As such I really don't know what I'm talking about when it comes to K8s but some of the assertions above don't seem entirely correct to me.

I'll pull out authorization in particular:

IIUC the JupyterHub authentication system is pluggable - what's preventing anyone writing a K8sAuthentic

[2018-10-04 11:46] minrk commented on #1630
Since it was asked, a bit of history on why JupyterHub has its current design and scaling characteristics: The target use case was a single machine with 5-50 users, and several design decisions were taken with user-space installability, maintainability, and simplicity in mind, while scalability was *explicitly* out of scope as something we knew we didn't have the resources to tackle. Since then, o

[2018-10-04 13:56] jlewi commented on #1711
/area kfctl
/area docs

[2018-10-04 13:57] jlewi commented on #1711
/priority p1

[2018-10-04 14:03] jlewi opened #1712 "Seldon doesn't deploy deployment in namespace different from namespace of CRD"
I deployed Seldon controller in namespace kubeflow using v0.3.0-rc.3

I created a Seldon deployment in namespace gh-public; no pods were created. It looks to me like Seldon controller is only monitoring the kubeflow namespace.

When I created a deployment in the namespace Kubeflow it was deployed.

@cliveseldon Are there options I need to set so that the deployment CRD monitors all namespaces? The

[2018-10-04 14:11] jlewi commented on #1712
I confirmed that if I deploy the controller in the other namespace then the svc and model get created in that namespace.

[2018-10-04 14:16] cliveseldon commented on #1712
Yes the present focus is that seldon is installed on a per namespace basis and manages deployments just in that namespace.
The custom resource definition is "namespaced" so the API calls in our operator are all namespaced in operation.

[2018-10-04 14:32] leoncamel commented on #1710
+1

Same for AWS

[2018-10-04 14:36] r2d4 commented on #1651
Knowing the current state of the cluster would be helpful to debug:
Can you post the output of:

`kubectl get pods --all-namespaces`
`minikube logs`

[2018-10-04 20:45] #1541 closed

[2018-10-04 20:48] pdmack commented on #1704
I'm assuming we do `--no-cache` in the Docker builds?

[2018-10-04 21:59] jlewi commented on #1630
Thanks @minrk for the detailed info.

I also see you just added multi user jupyterhub/jupyterhub#2154; very nice.

I also see @yuvipanda has some in progress work to support per user namespaces. jupyterhub/kubespawner#76

[2018-10-04 23:10] richardsliu commented on #1683
For distributed training we should add:
- Configuration of distribution strategies
- Support for standalone client mode
- E2E testing
- Examples of distributed training

[2018-10-04 23:34] jlewi commented on #1630
Here's some more context for the JupyterHub folks.

Here's a diagram of Kubeflow's current architecture
![kubeflow jupyter ingress](https://user-images.githubusercontent.com/777219/46506460-2c56e600-c7e9-11e8-916c-24470005de73.png)

[Ambassador](https://github.com/datawire/ambassador) is a programmable reverse proxy.
   * You add routes just by adding an annotation to a K8s service.

[Ambassador](

[2018-10-04 23:53] jlewi commented on #1648
Looks like your getting different results than me.
Can you provide the output of the configmap containing your spawner:

[code]

[2018-10-05 01:06] richardsliu commented on #1683
Should we support a job deletion policy similar to pod cleanup?

[2018-10-05 01:11] richardsliu commented on #1710
I saw this as well. Refreshing the page a couple of times seems to fix the issue.

[2018-10-05 01:14] richardsliu commented on #1707
The formatting error has been fixed. My theory is that this is caused by updating the test worker image. https://github.com/kubeflow/testing/pull/201 updated the jsonnet version.

[2018-10-05 01:20] richardsliu commented on #1240
I can take a look at this in Q4.

[2018-10-05 02:12] texasmichelle opened #1715 "[GCP] Update credentials filename"
TF-serving sets the value of GOOGLE_APPLICATION_CREDENTIALS to the contents of [key.json](https://github.com/kubeflow/kubeflow/blob/master/kubeflow/tf-serving/tf-serving.libsonnet#L342), which is incompatible with the secret as setup by the deploy script (user-gcp-sa.json). This needs to be updated to match the filename used by the automated deploy.

[2018-10-05 04:10] monkey3199 commented on #1651
@jlewi
In minkube(ssh), I have run the command (sudo journalctl -u kubelet -f)
[code]
As you said, I have deployed Ambassador and no other Kubeflow components.
And I got this logs.
But I couldn't check the next logs continuously because the access have broken right after applying ambassador.

[code]

[2018-10-05 04:15] monkey3199 commented on #1651
@richarddli here you are.
![image](https://user-images.githubusercontent.com/22064624/46515711-77800000-c8a0-11e8-8e7c-a4b7456d83fa.png)
![image](https://user-images.githubusercontent.com/22064624/46515715-7f3fa480-c8a0-11e8-909f-2560c4fd501e.png)

And the logs are here
[code]

[2018-10-05 04:18] monkey3199 commented on #1651
@r2d4 here you are.
![image](https://user-images.githubusercontent.com/22064624/46515800-e4939580-c8a0-11e8-8c82-14d1c7d1fb19.png)
Unfortunately, I couldn't get the logs through `minikube logs`.
As I mentioned above, I got some error like this.
[code]

[2018-10-05 06:09] jlewi commented on #1715
/assign @lluunn

[2018-10-05 06:10] #1707 closed

[2018-10-05 06:11] jlewi commented on #1704
@pdmack I don't think we do. But we build using docker in docker running in Argo pods so I don't think there's any cache.

[2018-10-05 06:14] jlewi opened #1718 "TF data validation and tfma are in 1.9 images but not 1.10"
The imports

failed in
gcr.io/kubeflow-images-public/tensorflow-1.10.1-notebook-cpu:v0.3.0

but succeeded in
gcr.io/kubeflow-images-public/tensorflow-1.9.0-notebook-cpu:v0.3.0

But we should be installing TFMA in 1.10 as well

[2018-10-05 12:20] jlewi commented on #1363
Related issue in Kubernetes about managing Cherry picks
kubernetes/test-infra#1795

[2018-10-05 13:32] sarahmaddox commented on #1715
Thanks @texasmichelle!
@jlewi This fix is blocking the GKE end-to-end guide ([website PR #151](https://github.com/kubeflow/website/pull/151#discussion_r222878722)). Please can we apply the fix to version 0.2.x as well as 0.3, as I'd like to move forward with the publication of the guide as soon as possible.

[2018-10-05 14:54] texasmichelle commented on #1715
I second @sarahmaddox's request to apply the patch to 0.2

[2018-10-05 14:56] texasmichelle commented on #1715
#1716 addresses this issue.

Shouldn't there be a bot that relates the PR to the issue? Is that a GitHub feature or repo-specific?

[2018-10-05 15:35] leoncamel commented on #1710
@richardsliu Refreshing does not work here.

But, surprisingly, after I set replica to 1 for `ambassadorDeployment`, things become better.

So, I guess, it is something related with `lb_type`?

[2018-10-05 16:22] richarddli commented on #1651
I don't see anything awry with Ambassador here

[2018-10-05 19:08] jcurlier commented on #1710
In my configuration, following the documentation for the GKE, it seems to be using Envoy in front of the JupyterHub.

Adding the Envoy log for twice the exact same request:

Not working
[code]

working
[code]

[2018-10-05 20:55] sarahmaddox opened #1719 "Please patch PR 1716 (update GCP credentials filename) into v0.2"
Please patch the fix for issue #1715 into the v0.2 release branch. See PR #1716

[2018-10-05 21:00] lluunn commented on #1719
/assign

[2018-10-05 21:18] pdmack opened #1721 "jupyter_console needs update in the latest notebooks"
[code]

`pip install -U jupyter_console`

/cc @richardsliu
/cc jlewi

[2018-10-05 21:19] pdmack commented on #1721
/area 0.3.0

[2018-10-05 21:19] pdmack commented on #1721
/area jupyter

[2018-10-05 23:59] jlzhao27 commented on #1630
Thanks for the context @minrk and agree with @jlewi on the long term plan for a k8s based CRD. At my company, we rolled our own k8s API based notebook launch system instead of JupyterHub for a lot of the same reasons:

1. we did not need jupyter hub auth
2. we wanted to use our own ingress/networking set up
3. we wanted high level of customizability on the notebook templates themselves (PVC, label

[2018-10-06 00:39] jlewi commented on #1630
@jlzhao27 Thanks!

Can you share more about how you are controlling notebooks? In particular which K8s controllers you are using? Did you have to implement any control logic beyond what the built in controllers provide?

My initial thought is that all we need is a statefulset and service. So a CRD would mostly be a small convenience. Longer term it would allow us to enable features like culling id

[2018-10-06 00:45] jlzhao27 commented on #1630
We actually were able to get away with only using `Jobs`, `Service` and `Ingress` as the main components. We mount a bunch of external resources like `configmaps`, `secrets` and use annotations/labels heavily for `kiam` and other dependencies.

Statefulsets were not ideal because they require a PVC whereas we sometimes wanted to manage volumes externally and attach the same PV to multiple notebook

[2018-10-06 14:07] cwbeitel opened #1722 "Permission denied errors when pip (un)installing without --user in new nb images"
When attempting to modify a python package that shipped as part of the base conda environment, e.g. pip uninstalling pandas in the py2 environment, a permission denied error is seen, e.g.

I and others (https://github.com/kubeflow/examples/pull/252#discussion_r222690517) observed this across various versions of the stock notebook containers (i.e. the ones that are offered as options in the spawner

[2018-10-07 12:58] sarahmaddox commented on #1719
@lluunn When we cherry-pick this into 0.2, will you need to release a new 0.2.x version?

[2018-10-07 16:02] leoncamel commented on #1710
Just FYI, expose `jupyterhub-0` service can be a walk-around:

[code]

[2018-10-08 02:37] jlewi commented on #1651
As mentioned in my previous comment

@r2d4 Any idea where the error

[code]
Is coming from? is this indicating other networking issues because the ssh is failing?

[2018-10-08 02:38] jlewi commented on #1683
I think we already added a TTL to clean up old jobs

See kubeflow/tf-operator#718

[2018-10-08 02:53] johnugeorge commented on #1683
TTL has been added to TF and Pytorch

[2018-10-08 02:57] jlewi commented on #136
There are other options like modeldb and StudioML zoo.

@ddutta

for v1.0?

My initial straw man is something close to what ModelDB and StudioML Zoo provide; eg.

1. An API for reporting models, metrics and metadata to a DB
2. A UI for browsing  models

I had previously tried using ModelDB for this (kubeflow/examples#134) and ran into some issues.

[2018-10-08 03:00] jlewi commented on #712
Postsubmits can now publish images to our public repo

Follow these instructions to set that up.
https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#image-auto-release

[2018-10-08 03:01] jlewi commented on #778
@everpeace What is the status openmpi support? Can we close this issue and open up appropriate issues tagged 0.4.0?

[2018-10-08 03:02] jlewi commented on #884
This is obsolete.

[2018-10-08 03:02] #884 closed

[2018-10-08 03:05] jlewi commented on #1450
@swiftdiaries Until proven otherwise, I think we can assume central dashboard is in the same name space as the other components.

So lets replace the cluster scoped role with a namespace scoped role.

[2018-10-08 03:07] swiftdiaries commented on #1450
Sounds good 👍  Will get a PR in with the change.

On Sun, Oct 7, 2018 at 20:05 Jeremy Lewi <notifications@github.com> wrote:

[2018-10-08 03:07] jlewi commented on #1092
This should be fixed in 0.3.

We no longer use Deployment Manager to manage IAM roles. This was causing the problem because we need to issue an update before doing a delete to ensure the etag gets updated.

IAM roles are now handled via a separate script invoked from kfctl.

[2018-10-08 03:07] #1092 closed

[2018-10-08 03:11] #68 closed

[2018-10-08 03:13] jlewi commented on #33
@elgalu I think we are still working on trying to resolve the experiment tracking issue see

#136 Model Management Features
kubeflow/community#195

[2018-10-08 03:16] jlewi commented on #1462
@asdfsx Did you every get this resolved? Sorry we left you hanging. You can always turn to kubeflow.slack.com for help if we're unresponsive on GitHub issues.

If you're still having trouble; I'd suggest trying 0.3 which we just released last week.

[2018-10-08 07:17] leoncamel commented on #1721
I check the `Dockerfile`, I think the `pip install jupyter` package will lead to `prompt-toolkit-1.5.x'. After I remove [the jupyter package](https://github.com/kubeflow/kubeflow/blob/master/components/tensorflow-notebook-image/Dockerfile#L100), this image works here.

[2018-10-08 08:34] kavemun opened #1724 "RE: Certificate issue with ambassador."
Hi got the error trying to deploy kubeflow on a Kubernetes cluster.
looks like some certificate issues with ambassador.

+ ks env add default --namespace kubeflow
INFO Using context "kubeflow" from kubeconfig file "/home/user/.kube/config"
Please enter Username: user
Please enter Password: ********
INFO Creating environment "default" with namespace "kubeflow", pointing to "version:v1.8.0" cluster

[2018-10-08 19:37] pdmack commented on #1718
Just did a local build and it's there...?
[code]

[2018-10-08 19:54] pdmack commented on #1722
Got more details? I'm not seeing this with v0.3.0.
[code]

[2018-10-08 20:32] richardsliu commented on #1718
It should be there: https://github.com/kubeflow/kubeflow/blob/master/components/tensorflow-notebook-image/versions/1.10.1/version-config.json

[2018-10-08 22:02] cwbeitel commented on #1722
If that's the same with the other containers post 0.3 then the issue must be resolved, I was seeing this in `gcr.io/kubeflow-images-public/tensorflow-1.8.0-notebook-cpu:v0.2.1` and I believe in `gcr.io/kubeflow-images-public/tensorflow-1.6.0-notebook-cpu:v0.2.1`. I'm not seeing the issue with `gcr.io/kubeflow-images-public/tensorflow-1.10.1-notebook-cpu:v0.3.0` either.

[2018-10-08 22:02] #1722 closed

[2018-10-08 22:27] gautamkmr opened #1729 "Unable to use -x option with mca_base_env_list"
Sometime its hard to just stick with mca_base_env_list but rather depends on -x option

If we use both it gives error which is pretty obvious to understand

ERROR: You have attempted to pass environment variables to Open MPI
with both the "-x" method and by setting the MCA parameter "mca_base_env_list".

But can be set up mechanism to have both or at least a better way to use it ?

[2018-10-08 23:15] terrykong opened #1730 "How to submit multiple OpenMPI jobs?"
Hi guys,

I think this might be a general kubeflow/ksonnet question, but I am curious with respect to the openmpi project https://github.com/kubeflow/kubeflow/tree/master/kubeflow/openmpi

I understand that when I run `ks apply default` I deploy my app to the cluster, but let's say I want to run multiple Horovod jobs because I have multiple experiments, e.g., same model two different learning rate

[2018-10-08 23:17] lluunn opened #1731 "Support request/response logging"
related to:
- using istio 1.0 #1309
- #1714 removes the http proxy in the new TF serving template. We will add istio integration and support request/response logging

https://istio.io/docs/tasks/telemetry/fluentd/#configure-istio

[2018-10-09 00:30] jlewi commented on #1724
I don't think this is an ambassador issue.

It looks like ksonnet is trying to connect to your K8s master and I think it's promoting you for username and password to access your master.

Does kubectl work?

If it does you could run
Ks show and pipe the output to kubectl

[2018-10-09 00:32] jlewi commented on #1731
/area 0.4.0

[2018-10-09 00:33] jlewi commented on #1731
/priority p1

[2018-10-09 00:36] jlewi commented on #1729
/area openmpi

[2018-10-09 00:37] jlewi commented on #1729
@everpeace do you know the answer?

[2018-10-09 01:40] mgyong opened #1733 "Installation errors with kfctl.sh"
Started the installation process with
../ scripts/kfctl.sh init ${KFAPP} --platform gcp

When i tried to run the ./scripts/kfctl.sh generate k8s
I am getting error
ERROR Registries using protocol 'github' must provide URIs beginning with 'github.com' (optionally prefaced with 'http', 'https', 'www', and so on

When i tried ../scripts/kfctl.sh apply k8s
I am getting errors
ERROR Could not create "d

[2018-10-09 01:56] jlewi commented on #1365
/assign @carmine
/label 0.4.0

[2018-10-09 01:57] jlewi commented on #1365
/area kfctl

[2018-10-09 01:58] jlewi commented on #1365
@carmine sent you an invite to the GitHub org; when you accept it I should be able to assign the issue to you.

[2018-10-09 02:01] jlewi opened #1735 "Test for download.sh and kfctl.sh"
We have a test for download.sh here:
https://github.com/kubeflow/kubeflow/blob/master/scripts/download_test.py

And we have a test for kfctl generate here
https://github.com/kubeflow/kubeflow/blob/master/scripts/kfctl_generate_test.sh

We should combine these and make run them on pre & postsubmits.

We want to run kfctl generate platform and k8s for GCP after running download.sh to ensure we prope

[2018-10-09 02:34] everpeace commented on #1729
@gautamkmr Hi, as you recognized, openmpi package automatically injects predefined `mca_base_env_list` at `~/.openmpi/mca-params.conf`.

contents of `mca-params.conf`: https://github.com/kubeflow/kubeflow/blob/master/kubeflow/openmpi/assets/mca-params.conf
code injecting the file to homedir in container: https://github.com/kubeflow/kubeflow/blob/master/kubeflow/openmpi/assets/init.sh#L54-L56

So,

[2018-10-09 04:45] everpeace commented on #778
yes, please 🙇

[2018-10-09 06:12] gautamkmr commented on #1729
@everpeace Thanks for the comment. Yes deleting/editing makes perfect sense. However creating such changes requires editing the kubeflow repo itself. This sort of break the steps towards automation.
For now I managed to get around of it by using 'sh -c' option while keeping the mca-params file as it is.
Do you think its better solution or do you have any other suggestion ?

Thanks for the help.

[2018-10-09 06:28] terrykong commented on #1730
@everpeace Thanks for explaining. All of the uses of `openmpi` in the openmpi README.md confused me but I think I understand now.

[2018-10-09 06:28] #1730 closed

[2018-10-09 06:59] jcurlier opened #1736 "Jupyter - workspace metadata ID mismatch"
I am seeing the error `Workspace metadata ID mismatch ` in the Chrome Developer Tools when using Jupyter notebooks.

Installation on GKE with IAP:
https://www.kubeflow.org/docs/started/getting-started-gke/

**Request:**
[code]

**Response:**
[code]

**Jupyter Log:**
[code]

[2018-10-09 13:02] jlewi commented on #1724
What platform (e.g. minikube) are you using to run K8s?

[2018-10-09 13:06] jlewi commented on #1733
Which version of ksonnet are you using

[code]

I believe we currently test with the 0.11 and have high confidence it works with 0.12. Haven't checked with ksonnet 0.13.

It looks like its try to interpret a local registry as a GitHub registry. I suspect this is due to an older ksonnet version which didn't support local registries.

[code]

[2018-10-09 13:06] jlewi commented on #1721
/area 0.4.0

[2018-10-09 13:07] jlewi commented on #1721
/priority p1

[2018-10-09 13:07] jlewi commented on #1721
@pdmack Any chance you could provide a PR to update our images?

[2018-10-09 13:13] jlewi commented on #1711
/area 0.4.0

[2018-10-09 13:19] jlewi commented on #1710
The error

[code]

Typically means that the service the reverse proxy (Ambassador) is using as backend is unavailable.

[2018-10-09 13:28] jlewi commented on #1689
I think the work around is to delete the existing components before updating them.

Duplicate of #1145

[2018-10-09 13:28] #1689 closed

[2018-10-09 13:34] jlewi commented on #1718
Confirmed its not working in a PY2 kernel in

[code]

![notebook](https://user-images.githubusercontent.com/777219/46672780-28321c00-cb8d-11e8-8d75-0decad06acbc.png)

[2018-10-09 13:39] jlewi opened #1737 "E2E test for Jupyter images?"
How could we write E2E tests to validate our Jupyter images?
See #1718 for an example issue with problems importing TFMA and Datum in some images.

Could we create simple notebooks (e.g. just a bunch of imports) and then run those notebooks and see if they run successfully?

[2018-10-09 14:54] pdmack commented on #1721
AFAIK, we just need to pick up jupyter/jupyter_console#161 (jupyter-console==6.0.0) in new notebook builds.

[2018-10-09 17:51] cwbeitel opened #1738 "[docs] download.sh pulls from master instead of based on version tag"
I'm guessing in https://www.kubeflow.org/docs/started/getting-started-gke/ under "Deploy Kubeflow on Kubernetes Engine" the command

[code]

was probably meant to be a function of `KUBEFLOW_TAG`.

cc @sarahmaddox

[2018-10-09 17:54] cwbeitel commented on #1738
The script does the following at startup

[code]

suggesting the user should set KUBEFLOW_VERSION in their environment before running the script instead of KUBEFLOW_TAG (if the script is to be used as currently written).

[2018-10-09 18:06] cwbeitel opened #1739 "kfctl.sh apply platform assumes availability of yaml python library"
[code]

This was after running download.sh without setting KUBEFLOW_VERSION i.e. pulling from master.

[2018-10-09 18:12] cwbeitel commented on #1704
I don't see this issue with at least gcr.io/kubeflow-images-public/tensorflow-1.10.1-notebook-cpu:v0.3.0

[2018-10-09 22:10] carmine commented on #1365
I've accepted the invite

On Tue, Oct 9, 2018 at 3:58 AM Jeremy Lewi <notifications@github.com> wrote:

--
-Carmine

“Give every day the chance to become the most beautiful day of your life.”
― Mark Twain

[2018-10-09 22:43] richardsliu opened #1740 "Build Jupyter notebook images for TF 1.11 and 1.12"
TensorFlow 1.11 has been released. 1.12 is currently in pre-release.

https://github.com/tensorflow/tensorflow/releases

We need to add Jupyter notebook images for them and include them in JupyterHub UI.

[2018-10-10 01:38] everpeace commented on #1729
@gautamkmr

ah, you're right.  `~/.openmpi/mca-params` can't be deleted from entire cluster because the file is injected in all the master and workers. `exec` option only affects the master pod.

Sorry, I don't think so.

By the way, do you have any idea how to fix openmpi package to solve the issue??

[2018-10-10 02:22] davidstack opened #1741 "the variable of ENVIRONMENT"
when install chainer-job,i find a variable ENVIRONMENT，but i can't find the definition of ENVIRONMENT, what‘s  the mean of ENVIRONMENT? tks

`cd ${KSONNET_APP}

ks pkg install kubeflow/chainer-job

ks generate chainer-operator chainer-operator

ks apply ${ENVIRONMENT} -c chainer-operator`

[2018-10-10 05:14] jlewi commented on #1724
But how are you running Kubernetes? Are you using a Cloud's managed offering? Are you running on prem?

It looks like the information to connect to your cluster (e.g. username and password isn't stored in your .kubec/config file).

It looks like ksonnet has command line options to set this e.g.

[code]

[2018-10-10 05:48] kavemun commented on #1724
on prem, I am playing around with the config now, but not much success yet

[2018-10-10 06:14] kavemun commented on #1724
after I set the insecure-skip-tls-verify =true by doing :-
kubectl config set-cluster $CLUSTER_NAME --server=http://$MASTER_IP --insecure-skip-tls-verify=true

I get the following error instead:-
+ ks env add default --namespace kubeflow
INFO Using context "ignite" from kubeconfig file "/home/user/.kube/config"
INFO Creating environment "default" with namespace "kubeflow", pointing to "version:v1.

[2018-10-10 06:29] ashahba commented on #1711
/assign @ashahba

[2018-10-10 06:45] leoncamel commented on #1710
@jlewi I guess this issue is **not** related with #1721.

Since, the #1721 issue will only affect the `jupyter notebook`. This issue happened between `ambassador` and `jupyterhub`.

I will check it later today.

[2018-10-10 07:11] ddutta commented on #136
@jlewi sorry for the late response.

I reached out to the Gus@TFX to also get their guidance. I agree with the discussions during the summit that we need to keep the model management as independent as can so that we can integrate with TFX, Katib, AutoML etc.

Agree with you on the straw man. In addition, it might be good to form a small group to figure out the API for the straw man. I know @johnug

[2018-10-10 07:18] jcurlier commented on #1710
@leoncamel - thanks for looking into this. I added the following to the cluster configuration and it might have helped - not sure.

[code]

yes it seems to be happening between `envoy` and `jupyter/configurable-http-proxy` where `envoy` cannot connect sometimes

[2018-10-10 08:41] johnugeorge commented on #136
https://mlflow.org/docs/latest/rest-api.html

I am sure folks have seen MLflow api list. Can we validate this first?

Once we freeze this, it is much more easier to design

[2018-10-10 08:42] johnugeorge commented on #136
ModelDB:   https://github.com/mitdbg/modeldb/blob/master/thrift/ModelDB.thrift

[2018-10-10 10:24] kavemun opened #1743 "No deployment directory found in https://github.com/kubeflow/kubeflow/archive/v0.3.0.tar.gz"
When following instructions in [Getting Started Minikube](https://www.kubeflow.org/docs/started/getting-started-minikube/)  download.sh script is trying to copy deployment folder from temp after untar, but it cannot be found.

+ cp -r /tmp/tmp.kubeflow-repo-PcTY/kubeflow-0.3.0/deployment ./
cp: cannot stat '/tmp/tmp.kubeflow-repo-PcTY/kubeflow-0.3.0/deployment': No such file or directory

[2018-10-10 12:59] sarahmaddox commented on #1719
@jlewi I see that the fix is now merged into the v0.2 branch. Are we going to release a new 0.2.x version or is the fix available now in v0.2.6?

[2018-10-10 16:45] swiftdiaries commented on #1419
I'd like to take this up if someone isn't already working on it. Also, would appreciate some direction as to where it would go? Part of arena or in kubeflow/components?

[2018-10-10 17:29] jcurlier commented on #1710
Also to add tracing for Envoy and JupyterHub:

**Envoy:**

File: `ks_app/vendor/kubeflow/core/iap.libsonnet`

[code]

File: `ks_app/vendor/kubeflow/core/jupyterhub.libsonnet`

[code]

[2018-10-10 19:16] chrisheecho commented on #1739
I ran into this as well. i tried pip install PyYAML as a way around it

[2018-10-10 21:34] mgyong commented on #1733
The error is ksonnet 0.9.2. I upgraded to ksonnet 0.13. The generate k8s step works but there is still error with the apply ks step
ERROR handle object: creating object: creating object: namespaces "kubeflow" not found

[code]

[code]

[2018-10-10 23:11] chrisheecho opened #1744 "[GKE] GKE guide Central UI does not work"
Google Cloud Platform (Kubernetes Engine)
If you followed the guide for Kubernetes Engine, Kubeflow will be deployed with IAP and the web UIs will be accessible at

https://<name>.endpoints.<project>.cloud.goog/

Above instruction doesn't seem to work for me for some reason.
name = kubeflow
project = gcp-emea-ml

https://kubeflow.endpoints.gcp-emea-ml.cloud.goog/

running this command kubectl -n k

[2018-10-10 23:15] richardsliu commented on #1744
Did you configure the oauth client credentials with authorized domains? Make sure the authorized redirect URI matches with your desired endpoint.

[2018-10-10 23:35] inc0 commented on #136
@nfelt thanks for heads up! I think TB is awesome piece of software and, if supplied with external tracking, could be great. Since we have you here, any chances you could comment on potential of using tensorboard for scikit-learn? I've seen you're working on pytorch, and that's awesome. How about "classical", non-deep learning frameworks? Are there discussions about that?

[2018-10-10 23:50] nfelt commented on #136
@inc0 We have a general goal of making TensorBoard broadly usable independently of TensorFlow.  That work should benefit integrations with other frameworks in general, not just pytorch.  Also, strictly speaking, it's possible to use TensorBoard with just about anything today if you can emit data in the right format (which has already been done by some pytorch users), so some of making it a real "i

[2018-10-11 00:00] inc0 commented on #136
Thank you @nfelt I'm glad to hear that TensorBoard is moving towards framework-independence. That's a great news and as soon as we could do something like this, we're in good place.

[code]

So back to issue at hand, I think it will be good idea to just point to logs and spawn tensorboard rather than supporting full fledged model monitoring tool. That simplifies scope of this project quite a bit.

[2018-10-11 03:35] jlewi commented on #1744
@chrisheecho What was the exact failure mode?

There are troubleshooting instructions here:
https://www.kubeflow.org/docs/guides/gke/troubleshooting-gke/

[2018-10-11 03:40] jlewi commented on #1743
It looks like you are pulling download.sh from the master branch

[code]

You can see here that on the v0.3 branch we don't copy deployment
https://github.com/kubeflow/kubeflow/blob/v0.3-branch/scripts/download.sh

[2018-10-11 03:42] jlewi commented on #1741
@everpeace do you know the answer?

[2018-10-11 03:43] jlewi commented on #1733
You should be able to create the namespace kubeflow.

I think this is a bug with the namespace being created during the platform stage and not the k8s stage.

[2018-10-11 03:45] zlcnju opened #1745 "TFMA Dependency"
Related to:  [1576](https://github.com/kubeflow/kubeflow/issues/1576)

It  is easy to add TFMA_VERSION and pip install the Specified version when build image. And this not only benefits the people use tf<1.9 with tfma,  and will make it easy when tfma dependecy changes.

[2018-10-11 03:45] jlewi commented on #1274
This should be fixed in 0.3.

[2018-10-11 03:45] #1274 closed

[2018-10-11 03:46] jlewi commented on #1495
How are you connecting to JupyterHub? You get the JWT by going through the ingress that has IAP enabled. You can't connect via JupyterHub.

[2018-10-11 03:48] kavemun commented on #1743
okay got it. i copied that line from github and somehow it copies an escape character in the curly braces and returned me 404 instead. latest tag seems to work. thanks

[2018-10-11 03:48] #1743 closed

[2018-10-11 03:48] jlewi commented on #1745
I agree any interest in picking this up?

[2018-10-11 03:50] jlewi commented on #1721
@pdmack Can you provide a PR updating the Docker builds?

[2018-10-11 03:56] jlewi commented on #1514
Duplicate of #1675

[2018-10-11 03:56] #1514 closed

[2018-10-11 03:56] jlewi commented on #1733
Duplicate of #1675

[2018-10-11 03:56] #1733 closed

[2018-10-11 04:14] jlewi commented on #1738
Thanks @cwbeitel

[2018-10-11 04:16] #1738 closed

[2018-10-11 04:29] zlcnju commented on #1745
@jlewi i will pick it up

[2018-10-11 04:41] richardsliu commented on #1744
@chrisheecho Actually it doesn't look like the deployment finished successfully, a lot of the components are missing. Do you have output logs from your installation?

[2018-10-11 05:28] gautamkmr opened #1748 "Error Creating Object: Pod in version "v1" cannot be handled as a Pod"
I am trying to setup volume/volumemounts using ksonnet

My PersistentVolume: nfs-data
My PersistentVolumeClaim: nfs-external

In order to use this claim I follow https://github.com/kubeflow/kubeflow/issues/838
1. Open the file
 CWD/vendor/kubeflow/openmpi\@XXXXXXXXXX/workloads.libsonnet . and in each Volume, VolumeMounts section add the below lines
    ###
       ] + params.volumes,
    ###

[2018-10-11 05:30] gautamkmr commented on #838
https://github.com/kubeflow/kubeflow/issues/1748

[2018-10-11 05:45] gautamkmr commented on #1748
@everpeace Any help?

[2018-10-11 05:51] gautamkmr commented on #1729
https://github.com/kubeflow/kubeflow/pull/671 jiezhang@ do you think we can get rid of mca-params?
I think going forward user will most like use '-x' option to pass the parameter,  So either we get rid of this or we need to fix the openmpi package itself.  What do you think?

[2018-10-11 06:08] tlkh opened #1749 "kfctl generate k8s env.sh: No such file or directory"
Hi everyone, on a fresh machine/minikube setup I am getting this error (which I have never encountered before). This is using the latest `0.3.0` release, by following the instructions on [https://www.kubeflow.org/docs/started/getting-started/](https://www.kubeflow.org/docs/started/getting-started/).

`
kubeflow/scripts/kfctl.sh: line 174: env.sh: No such file or directory
`

Below is the full outp

[2018-10-11 07:29] khsibr commented on #1583
Why no use a an older version of Flink (1.5.x) for now?
https://beam.apache.org/documentation/runners/flink/

[2018-10-11 07:31] everpeace commented on #1748
@gautamkmr it looks like normal yaml formatting error, not relates to `volumes`.

the error says

[code]

your yaml is
(error message kindly output your yaml though...)

[code]

the value MUST NOT be string as error said but MUST be boolean, i.e. `false` (without double quotation).

[2018-10-11 07:33] everpeace commented on #1748
by the way, I think released openmpi package doesn't set `hostNetwork` attribute.  Where does this come from?

[2018-10-11 07:50] everpeace commented on #727
now kubeflow supports ks 0.11.

/close

[2018-10-11 07:50] #727 closed

[2018-10-11 08:00] davidstack commented on #1741
@everpeace  tks!

[2018-10-11 08:03] #1741 closed

[2018-10-11 10:21] richarddli commented on #1651
Does Kubeflow use any sort of statsd monitoring? If not, it should definitely be disabled. (The problem is statsd generates lots of UDP packets, and each UDP packet does a DNS lookup. Trying to figure out a way around it.)

On 0.37, you can just remove the statsd container; in 0.40 we disabled it by default.

[2018-10-11 13:07] pdmack opened #1751 "Pin notebook image requirements"
Related to #1746, we should consider pinning installs and requirements in the notebooks to avoid issues like #1721, #1726.

May also want to consider the [OSS plan for dependabot](https://github.com/marketplace/dependabot/plan/MDIyOk1hcmtldHBsYWNlTGlzdGluZ1BsYW4zNTQ=#pricing-and-setup) too.

[2018-10-11 13:50] TheJaySmith commented on #1495
I haven't tried it with 0.3 yet so let me go do that. When I did 0.2.5(?) I just followed the steps, no port-forward and saw the issue.

[2018-10-11 17:09] kkasravi opened #1753 "tensorboard generated under kubeflow/tensorboard/prototypes/tensorboard-aws.jsonnet is incomplete"
The generated deployment for tensorboard only contains the environment variables in the container.
See below
[code]

[2018-10-11 20:30] richardsliu commented on #1740
/assign r2d4@

[2018-10-11 20:30] richardsliu commented on #1740
/assign @r2d4

[2018-10-12 00:31] sarahmaddox commented on #1719
Thank you @lluunn!

[2018-10-12 00:31] #1719 closed

[2018-10-12 06:14] jlewi commented on #1749
What directory are you running in?

You need to cd to ${KFAPP} and run the kfctl commands from there.

[2018-10-12 06:16] jlewi opened #1757 "[gcp] Enable new stackdriver Kubernetes agents on GKE"
To enable the new agents I think we need to set the following in our cluster DM config.

[code]

We can verify its enabled in the Cloud console where it should say

[code]

[2018-10-12 07:13] IronPan opened #1758 "kubeflow namespace not found using kfctl.sh"
I was following the instruction here
https://www.kubeflow.org/docs/started/getting-started/
and last command failed

[code]
manually create namespace resolved the issue
kubeflow version 0.3.0

[2018-10-12 08:01] monkey3199 commented on #1651
I have tested without ambassador statsd and then deploying Kubeflow have succeed!!
I fixed kubeflow/core/ambassador.libsonnet by deleting any code that was related with statsd.
So now network is fine!!
I can get the docker image from gcr and also access minikube ssh.

Great!
Thank you people :)

[2018-10-12 08:37] tlkh commented on #1758
Duplicate of [issues #1675 ](https://github.com/kubeflow/kubeflow/issues/1675)

Possibly addressed by [pull #1747 ](https://github.com/kubeflow/kubeflow/pull/1747)

[2018-10-12 09:56] surabhikannan commented on #1566
still facing this issue in
_ks version_
ksonnet version: 0.13.0
jsonnet version: v0.11.2
client-go version: kubernetes-1.10.4

_kubectl version_
Client Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.0", GitCommit:"0ed33881dc4355495f623c6f22e7dd0b7632b7c0", GitTreeState:"clean", BuildDate:"2018-09-27T17:05:32Z", GoVersion:"go1.10.4", Compiler:"gc", Platform:"linux/amd64"}
Server Ver

[2018-10-12 13:18] jlewi commented on #1620
Failed test:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/1752/kubeflow-presubmit/3768/

Yaml spec for one of the workflows
[kubeflow-presubmit-kfctl-1752-783f078-3768-7aa5.yaml.txt](https://github.com/kubeflow/kubeflow/files/2473165/kubeflow-presubmit-kfctl-1752-783f078-3768-7aa5.yaml.txt)

When I looked at the logs for this pod in stackdriver I see t

[2018-10-12 15:04] carmine commented on #1365
Let's see if I have the power to ...

/assign @carmine

[2018-10-12 17:16] jlewi opened #1761 "Create 0.3.1 Release"
Tracking bug for 0.3.1

Needed steps

* New Jupyter images

[2018-10-12 17:38] jlewi commented on #1675
Cherry picked in #1756

[2018-10-12 17:41] #1675 closed

[2018-10-12 17:43] jlewi commented on #1758
Fixed on the v0.3-branch. #1761 tracking bug for v0.3.1

[2018-10-12 17:43] #1758 closed

[2018-10-12 17:53] r2d4 opened #1764 "Add gofmt and golangci-lint presubmits"
For the go code in the repository

[2018-10-12 17:55] r2d4 commented on #1764
/label area/testing

[2018-10-12 17:59] gautamkmr commented on #1748
@everpeace  Thanks, actually I was using a custom version of kubeflow and realized it later.

[2018-10-12 18:07] lluunn commented on #1749
@r2d4 Matt could you explain a bit on what's the issue here and why removing statsd fixes this?

[2018-10-12 18:11] r2d4 commented on #1749
@lluunn Sorry I meant a different bug! https://github.com/kubeflow/kubeflow/issues/1651
Apologies for the noise, I updated the PR to point to the right bug.

[2018-10-12 18:16] lluunn commented on #1749
ah I see

[2018-10-12 18:48] dsdinter opened #1766 "Enable TPU in GKE"
It would be great to be able to leverage TPUs in our Kubeflow cluster if deploying in GKE.
I can work on that feature as I enabled that option already in my local version.
Believe we just need to modify the below two files within deployment_manager_configs:
cluster-kubeflow.yaml -> Add boolean option "tpu: false"
cluster.jinja -> Add settings to enable TPU and IP Aliases if tpu: true

[2018-10-12 18:50] amygdala opened #1767 "issues with 0.3.0 deployment scripts"
A couple issues with the deployment process described here, using `KUBEFLOW_TAG=v0.3.0`:
https://www.kubeflow.org/docs/started/getting-started-gke/

1) The deployment tries to add a gpu node pool to the cluster, which-- if the user does not have the correct GPU quota already-- results in this error
[code]
workaround: edit `cluster.jinja `and `cluster-kubeflow.yaml` in the `gcp_config` subdir befor

[2018-10-12 19:06] amygdala commented on #1767
On the latter error, maybe
`k.rbac.v1.clusterRole`  should be --> `k.rbac.v1beta1.clusterRole` ?

[2018-10-12 19:17] amygdala commented on #1767
On Jeremy's request, here's what my ks app dir structure looks like:

[code]

[2018-10-12 19:43] amygdala commented on #1767
Update: the 2nd error:
[code]
was apparently related to my ks version not being recent enough.

[2018-10-12 20:39] dsdinter opened #1768 "Current master version fails when applying platform in GCP"
apply platform fails with the below error:
- code: RESOURCE_ERROR
  location: /deployments/kubeflow-tpu/resources/kubeflow-tpu
  message: '{"ResourceType":"container.v1.cluster","ResourceErrorCode":"400","ResourceErrorMessage":{"code":400,"message":"Cluster.logging_service
    was \"logging.googleapis.com/kubernetes\" but must be one of \"\", \"none\", \"logging.googleapis.com\".","status":"INVALI

[2018-10-12 22:20] r2d4 commented on #1520
/assign @r2d4

[2018-10-12 22:56] richardsliu commented on #1587
This is supported now.

[2018-10-12 22:56] #1587 closed

[2018-10-12 23:44] r2d4 commented on #1520
The dockerfiles look like they will need to change also

[2018-10-12 23:50] kkasravi opened #1769 "create a notebook controller that can replace jupyterhub and uses k8 native auth"
using metacontroller create a controller which takes a CRD that spawns a jupyter notebook for a user. Vet the design first, and demo the implementation.

See related discussion #1630

[2018-10-12 23:50] kkasravi commented on #1769
/assign @jlewi

[2018-10-13 00:20] kunmingg commented on #1520
Yeah can instead generate name from hash(Gopkg.lock)

[2018-10-13 08:46] dsdinter commented on #1768
Found the error, #1765 meant to enable Stackdriver logging and monitoring features:
loggingService: logging.googleapis.com/kubernetes
monitoringService: monitoring.googleapis.com/kubernetes
The actual URI should be:
loggingService: logging.googleapis.com
monitoringService: monitoring.googleapis.com

Actually, this setting is not needed as this feature is enabled by default when creating GKE cluste

[2018-10-13 11:04] everpeace commented on #1748
/close

[2018-10-13 11:04] #1748 closed

[2018-10-14 00:09] #1768 closed

[2018-10-14 01:12] jlewi commented on #1651
Should be fine to upgrade.

[2018-10-14 21:01] jlewi commented on #1653
I think #1763 fixes this issue by pinning to a minor version and not a patch version.

[2018-10-14 21:07] jlewi commented on #1704
@cwbeitel So if you aren't seeing this with v0.3.0 then what images were you seeing this with?

[2018-10-14 21:09] jlewi commented on #1433
I think it would be sufficient to have a test that verifies the cluster scopes and IAM permissions on the service account created on a cluster created with kfctl.sh

[2018-10-14 21:13] jlewi commented on #1126
Closing this issue since there's no additional work needed.

[2018-10-14 21:13] #1126 closed

[2018-10-14 21:16] jlewi commented on #974
I believe we have stopped using mnist on presubmit and the presubmits are now fairly reliable.

[2018-10-14 21:16] #974 closed

[2018-10-14 21:32] jlewi commented on #504
Punting to 0.5.0; I don't think we will have cycles to try to do anything in 0.4

[2018-10-14 21:33] jlewi commented on #380
@pdmack Any thought about what if anything we should try to do as part of 0.4?

[2018-10-14 21:37] jlewi commented on #211
Is anyone interested in signing up and committing to getting this done as part of 0.4?

[2018-10-14 21:38] jlewi commented on #1320
Duplicate of #211

[2018-10-14 21:38] #1320 closed

[2018-10-14 21:42] jlewi commented on #1583
@khsibr Do you know what features of beam support are missing if we use an older version of Flink?

Do you have any suggestions about how we should integrate Flink into Kubeflow?

[2018-10-14 21:45] #1223 closed

[2018-10-14 21:46] jlewi commented on #1220
@lluunn If we use TFServing's HTTP proxy how do we record request id?

[2018-10-14 21:51] jlewi commented on #1766
That would be great!

[2018-10-14 21:53] jlewi commented on #1769
@kkasravi I think a CRD for managing notebooks would be great do you want to take a stab at this?

/unassign @jlewi

Related to #1630 do we need jupyterhub?

[2018-10-14 22:29] jlewi commented on #1240
@wbuchwalter any update on this?

/cc @r2d4

[2018-10-14 22:36] dsdinter opened #1775 "Build machine running out of space - Presubmit test jobs failing for PRs"
It seems our build machine is running out of space, got the below error from Argo testing workflows:
W

SRC_DIR=/mnt/test-data-volume/kubeflow-presubmit-kfctl-1774-b0d743f-3831-3ff0/src
mkdir -p /src/kubeflow
git clone https://github.com/kubeflow/kubeflow.git /mnt/test-data-volume/kubeflow-presubmit-kfctl-1774-b0d743f-3831-3ff0/src/kubeflow/kubeflow
Cloning into '/mnt/test-data-volume/kubeflow-pre

[2018-10-14 22:54] jlewi commented on #368
Lets cherrypick this onto the 0.3. branch and then close this issue.

We can figure out what to do about a readiness probe in the future.

[2018-10-14 22:58] jlewi commented on #368
Looks like it was cherry-picked onto the v0.3-branch
https://github.com/kubeflow/kubeflow/blob/v0.3-branch/kubeflow/tf-serving/tf-serving-template.libsonnet#L122

So closing this issue.

[2018-10-14 22:58] #368 closed

[2018-10-15 07:59] zlcnju opened #1778 "presubmit failed when build gpu version"
related [1759](https://github.com/kubeflow/kubeflow/pull/1759)

1. The error is because the install of the tensorflow_serving_api has tensoflow dependency, but when build gpu version, the tensoflow is not installed and replaced by tensorflow-gpu. So, the reinstall of tensorflow(in fact 1.11.0) will occur.  This causes problem.
Related tensorflow/serving issue:

- [pip install tensorflow-serving-ap

[2018-10-15 12:49] pdmack commented on #380
Just basic imports of important packages in the py2 and py3 kernels to start would be better than nothing.

https://github.com/Kaggle/docker-python/blob/master/test_build.py

[2018-10-15 13:12] everpeace commented on #778
@jlewi sorry for confusion.

Yes, I was.  But, in this several days, I understood that there are some active users using openmpi package.

So, I think we don't need to remove this package at least in 0.4.    However, I would like to inform users the fact that they have an option to use mpi crd instead of openmpi package.  Because, openmpi package is based on bare pods so no fault tolerance (it can

[2018-10-15 14:49] TheJaySmith commented on #211
what additional changes are you wanting? We did integrate the HubSync tool to sync images from GCR to DockerHub so it is good to go. I will integrate it into a Cloud Function or something like that to run weekly.

[2018-10-15 14:53] #838 closed

[2018-10-15 15:38] leoncamel opened #1779 "Update katib suggestion images"
According to [katib#206](https://github.com/kubeflow/katib/issues/206), the bayesianoptimization suggestion images prior to `suggestion-bayesianoptimization:v0.1.2-alpha-44-gcbe5fee` do not work correctly.

So, let's update to latest version, `suggestion-bayesianoptimization:v0.1.2-alpha-45-g3dce496`.

[2018-10-15 15:54] cwbeitel commented on #1704
I believe I was seeing this with gcr.io/kubeflow-images-public/tensorflow-1.6.0-notebook-cpu:v20180419-0ad94c4e but perhaps the default images changed upon re-deploying and that's not the one (launched it just now and don't see the issue there either). Given that I vote to close this issue.

[2018-10-15 16:01] leoncamel commented on #1779
@jlewi @YujiOshima Can you review this PR?

Also the cherry-pick version for `v0.3-branch` is [PR 1781](https://github.com/kubeflow/kubeflow/pull/1781)

[2018-10-15 17:10] carmat88 opened #1782 "Feature Request + Help Wanted: Attach PVs to TFJob components"
Hello Folks! After having followed the [introduction tutorial to Kubeflow](https://codelabs.developers.google.com/codelabs/kubeflow-introduction/index.html?index=..%2F..%2Findex#0) on codelab, we are trying to deploy on a local k8s cluster by customizing it. In particular we would like to replace the training container with one of ours and thus apply the _tf-job_ component with a different image.

[2018-10-15 18:37] r2d4 opened #1783 "[tf-notebook] Use nvidia/cuda runtime image instead of nvidia/cuda devel image"
For GPU support in our [tensorflow notebook image](https://github.com/kubeflow/kubeflow/tree/master/components/tensorflow-notebook-image), we currently use the development base image for cuda.

Switching to the runtime image should give us much smaller image sizes with the same functionality.

From the dockerhub page:

[code]
https://hub.docker.com/r/nvidia/cuda/

Sizes of base iamge
9.0-cudnn7-de

[2018-10-15 18:39] r2d4 commented on #1783
/kind feature

[2018-10-15 18:55] r2d4 commented on #1740
Since 1.12 is not released yet, lets rename this issue to 1.11 and open up another to track 1.12?

[2018-10-15 20:53] r2d4 opened #1789 "Copyright boilerplate should be verified"
Currently `build/check_boilerplate.sh` is failing, but it is not run on presubmit.
Source code files should have headers with something like

[code]

[2018-10-15 21:39] r2d4 commented on #1764
/assign @r2d4

[2018-10-15 22:40] r2d4 opened #1793 "[tf-notebook] tf-serving-api package should be pinned to tf version"
https://github.com/kubeflow/kubeflow/blob/master/components/tensorflow-notebook-image/Dockerfile#L121

Unpinned, this will grab the latest version of the tensorflow-serving-api package. The version should be parameterized just like the tensorflow package itself (i.e. the tensorflow notebook image for tensorflow 1.6.0 should install tensorflow-serving-api==1.6.0).

I believe this is some of the tes

[2018-10-15 22:41] r2d4 commented on #1793
/assign @r2d4

[2018-10-15 22:41] r2d4 commented on #1793
/kind bug

[2018-10-16 02:05] 372046933 opened #1796 "How to change the TFJob termination policy to waiting all workers to complete"
In distributed TF training,  each worker could have a shard of the original dataset. Since the  processing speed of each worker is slightly different. When master finished, the other workers might be still reading their dataset. The default termination policy kills all other workers when master exits. When the training is resumed, all workers read the dataset from beginning again. Thus changed the

[2018-10-16 07:42] #1778 closed

[2018-10-16 09:52] nikan1996 commented on #1566
Any solution here?

[2018-10-16 11:48] leoncamel commented on #1779
Since PR has been merged, close this issue.

[2018-10-16 11:48] #1779 closed

[2018-10-16 12:32] dsdinter commented on #1775
Fixed [testing repo #234](https://github.com/kubeflow/testing/issues/234)

[2018-10-16 12:32] #1775 closed

[2018-10-16 14:36] kkasravi opened #1798 "add parts attribute to libsonnet for ksonnet incubator/best practices"
ksonnet has a parts attribute that can then refer to exported resources
See for example the [redis library](https://github.com/ksonnet/parts/blob/master/incubator/redis/redis.libsonnet)

[2018-10-16 14:37] kkasravi commented on #1798
/assign @jlewi

[2018-10-16 15:12] jlewi commented on #1782
You can just modify the TFJob spec. The TFJob spec contains PodTemplateSpec's which allow you to specify persistent volumes in order to mount volumes.

You can use ksonnet like this
https://github.com/kubeflow/examples/blob/master/github_issue_summarization/ks-kubeflow/components/tfjob-pvc-v1alpha2.jsonnet#L20

Or you could just write your own YAML file for TFJob spec and just use kubectl

[2018-10-16 15:32] jlewi commented on #778
SGTM.

Any suggestion about how we should start pushing users to use the CRD?

[2018-10-16 15:51] carmat88 commented on #1782
Hej @jlewi ! Great, that's all very clear. Thanks for further explaining it and for pointing us to the above link. It would be cool and useful to "toggle" this on/off by implementing a new flag for the _tf-job_ prototype. We'll try to fiddle with the TFJob spec as you suggested. Cheers!

[2018-10-16 17:19] jlewi commented on #1796
/cc @richardsliu

[2018-10-16 19:15] Nick-Harvey opened #1802 "Errors when starting kubeflow with minikube"
I'm attempting to get kubeflow up and running on my local machine and after examining the logs I'm getting several "Container not found in pod" errors

**Setup**
Machine: Macbook Pro 32GB RAM
VM details: Minikube via virtualbox, 8vcpu / 16gb ram / 50G disk
Kubeflow_tag: master
Install process:  https://www.kubeflow.org/docs/started/getting-started-minikube/

**Symptoms**
The quickstart script comp

[2018-10-16 20:13] amygdala opened #1803 "JupyterHub component -- issues with python envir/paths & installed libs"
This is with KF v0.3.0, and the TF 1.7 CPU notebook image.
If I use the py2 kernel in a notebook:

![image](https://user-images.githubusercontent.com/115093/47044058-1976d680-d144-11e8-8104-1bbdd6aa3785.png)

The result is a situation where the notebook environment is py2, but the python in the path is py3.6.

So if from the notebook the user shells out to run some script, or do a 'pip install', t

[2018-10-16 20:18] r2d4 commented on #1802
Thanks for opening the issue @Nick-Harvey!

* Can you make sure the pods are all running with `kubectl get po --all-namespaces`?
* How are you trying to access the kubernetes dashboard in minikube? You should be able to run `minikube dashboard` to port-forward the dashboard to localhost.
* What version of minikube are you running?

[2018-10-16 21:02] jlewi commented on #1803
TFX components don't work with Python 3.

See #1718 for TFMA/TF.DV right now its only in 1.9.

[2018-10-16 21:09] jlewi commented on #1803
Anyone familiar with jupyter kernels? Is there a way to set the path when we change the kernel?

/cc @ojarjur @pdmack
/cc @willingc

[2018-10-16 22:20] amygdala commented on #1803
@ojarjur how do you tell them?
Almost no one reads the docs :), so if the info is not in the notebook itself, do you feel that they catch it? I'm guessing a lot of people won't realize to do that.  And then the errors will be mystifying, as they'll be left wondering why they did a 'pip install' and they still don't have the lib.

IMO it's much better just to make this kind of thing work out of the

[2018-10-16 22:28] jlewi commented on #1796
Can you explain a little bit more about your use case? e.g. why you want to wait for all workers to exit?

We support two exit modes

1. If you have a chief; TFJob exits when the chief exits
1. If you don't have a chief we treat worker 0 as the chief and exit when worker 0 exits.

So typically you would define the appropriate termination logic in the chief.

In most cases, the chief will run for s

[2018-10-16 22:45] jlewi commented on #1803
Thanks @ojarjur

@amygdala Yes that's a known issue right now its only in the 1.9 TF image. See #1718. We are working on getting this fixed.

[2018-10-16 22:52] jlewi commented on #1782
Glad to hear it.

We might add more command line options to the TFJob prototype. The problem is that everyone wants/needs different parameters. So figuring out which ones to add is tough. So we've been making it easier for users to modify the spec.

[2018-10-16 22:52] #1782 closed

[2018-10-16 22:55] jlewi opened #1806 "Jupyter image with NVIDIA Rapids"
NVIDIA just released Rapids
http://rapids.ai/

Rapids provides accelerated ops on GPUs with a Pandas like API.

I think NVIDIA has published a Jupyter image with Rapids installed.

We should see if that image works out of the box with Kubeflow and if not see if we can fix that. As mentioned in #1643 we'd like to make it easy to reusing existing Jupyter images with Kubeflow

Related #1643 Zoo for J

[2018-10-16 22:56] jlewi commented on #1806
See blog post:
https://devblogs.nvidia.com/gpu-accelerated-analytics-rapids/

Jupyter image is:
nvcr.io/nvidia/rapidsai/rapidsai:latest

[2018-10-16 23:03] ddutta commented on #1806
This would be good.

Johnu and I were just discussing this too

/cc johnugeorge

On Tue, Oct 16, 2018 at 3:56 PM Jeremy Lewi <notifications@github.com>
wrote:

--
-Debo~

[2018-10-16 23:08] jlewi commented on #1806
I tried launching the image from JupyterHub

It failed to start with this error

[code]

Our pod spec is passing additional arguments to the container

[code]

For comparison here's the command in the blog post

[code]

[2018-10-16 23:29] kunmingg opened #1807 "flaky configure_envoy_for_iap.sh"
Some times activate service account failed with ```There was a problem refreshing your current auth tokens: invalid_grant: Invalid JWT: No valid verifier found for issuer.```
Need to retry.

[2018-10-17 01:02] lluunn commented on #1220
I will figure out if istio can do it with its logging

[2018-10-17 01:29] #1798 closed

[2018-10-17 02:07] nikan1996 commented on #1566
I get the same problem
**ks version**
ksonnet version: 0.13.0
jsonnet version: v0.11.2
client-go version: kubernetes-1.10.4

**kubectl version**
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.5", GitCommit:"32ac1c9073b132b8ba18aa830f46b77dcceb0723", GitTreeState:"clean", BuildDate:"2018-06-21T11:46:00Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}
Server Vers

[2018-10-17 04:19] jlewi commented on #1767
I'll make it easier to disable the GPU pool by setting max nodes to 0.

I considered whether or not to disable GPUs by default. I think most users will want to use GPUs by default.

[2018-10-17 05:02] jlewi commented on #1696
https://hub.docker.com/r/envoyproxy/envoy/tags/
https://github.com/envoyproxy/envoy/releases

Latest tag is v1.8.0

It looks like we are currently using a V1 config which is no longer supported; so we need to upgrade to v2.

Looks like there is a tool to do this automatically.
https://www.envoyproxy.io/docs/envoy/latest/configuration/overview/v2_overview#upgrading-from-v1-configuration

[2018-10-17 12:56] tech509201941 opened #1812 "Not able to build from source: Makefile:17: recipe for target 'presubmit' failed"
I want to build kubeflow from source and deploy it in a container.
I used the setup instructions from over here:
https://www.kubeflow.org/docs/started/getting-started/

This is my docker container:

[code]

Everythings works except the "RUN make && sudo make install" part.
It fails with:

[code]

If I skip the making of the source, I encounter the following error at the part "RUN ./scripts/kfctl.s

[2018-10-17 14:58] amygdala commented on #1767
@jlewi
Regarding what the default is -- a new project does NOT have any GPU quota by default (unless things have changed very recently).  This means that in any situation where someone creates a new GCP project and then wants to deploy a cluster, and doesn't know to disable use of GPUs, they will be blocked.  Also, there's the cost to consider, for cases where people are just test driving. IMO the

[2018-10-17 16:56] jlewi commented on #1696
I converted our existing config using the tool.
We would need to add back the parameter substitution.
[envoy_config.v2.json.txt](https://github.com/kubeflow/kubeflow/files/2488436/envoy_config.v2.json.txt)

[2018-10-17 18:28] r2d4 commented on #1812
Are you running https://github.com/kubeflow/kubeflow/blob/master/Makefile?

[code]

This is only running the boilerplate check and not used anywhere AFAIK. It should be safe to remove.

[2018-10-17 18:28] r2d4 commented on #1812
/assign @r2d4

[2018-10-17 19:52] tech509201941 commented on #1812
Hi r2d4,

you're right, I am trying to build from source on basis of the  makefile that is provided within the official github repo.

Unfortunately, I already tried to skip the make install process step but than occurs this error:
[code]

So how do I install "ks "without building it via the makefile?
Thanks a lot :)

[2018-10-17 19:55] r2d4 commented on #1812
ks is the ksonnet binary. You can download it from their release page. https://github.com/ksonnet/ksonnet/releases/tag/v0.11.0

ksonnet is a requirement for generating the configuration for deploying the kubeflow cluster.

[2018-10-18 03:09] jlewi commented on #1812
@tech509201941 What do you mean by build Kubeflow from source and run in a container.

Kubeflow is a collection of microservices deployed on Kubernetes. Running those microservices in a single container is not supported.

[2018-10-18 03:11] jlewi opened #1818 "Enabling TFMA jupyter extension on GPU images requires libcuda"
When we try to enable the Jupyter extension for TFMA in GPU images we run into the following problem

[code]

It looks like the problem is that enabling the extension requires importing TF which won't work when the installed version of TF is the GPU version.

[2018-10-18 03:11] jlewi commented on #1818
Two possible solutoins

1. Run it on GPU during image build
1. Delay enabling of the extension until runtime.

[2018-10-18 04:06] jlewi commented on #1818
Looks like just installing the extension tries to import TF

[code]

[2018-10-18 10:41] kkasravi opened #1819 "add the metacontroller component"
this is a prerequisite to #1769

[2018-10-18 10:41] kkasravi commented on #1819
/assign @jlewi

[2018-10-18 11:44] kkasravi commented on #1753
resolved via #1754

[2018-10-18 11:44] #1753 closed

[2018-10-18 14:49] jlewi commented on #1767
@amygdala good point. Changed #1810 do you want to review it?

[2018-10-18 15:45] Nick-Harvey commented on #1802
So I found the issue. My virtualbox setup was broken and I wasn't aware until I did some deep-dive into minikube. Long story short, I re-installed virtualbox & minikube and things are working just fine.

[2018-10-18 15:45] #1802 closed

[2018-10-18 16:39] amygdala opened #1822 "add tf-serving support for model deployments that can serve multiple versions of a given model"
tf-serving component feature request:  add support for 'model deployments' that can serve multiple *versions* of a given model (as supported by tf-serving itself).

It would reduce the number of deployments you need to manage in the dashboard —suppose you have 1000s of model versions, but only a few models, which is common in many ML lifecycle scenarios.
It would also be more straightforward to ma

[2018-10-18 23:34] #1818 closed

[2018-10-18 23:36] jlewi commented on #1718
Postsubmit built the images successfully:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubeflow_kubeflow/kubeflow-postsubmit/822/

Need to retag them 0.3.1 and get them onto the v0.3-branch

[2018-10-19 01:17] kkasravi opened #1824 "upgrade cloud-endpoints-controller to use metacontroller/metacontroller:v0.3.0"
see PR #1820

[2018-10-19 01:27] kkasravi opened #1825 "ksonnet namespace should be retrieved from env not params"
having it in both is confusing and error prone. Remove the anachronistic usage of params.namespace which came about when namespace wasn't being correctly propagated in earlier versions of ksonnet.

[2018-10-19 01:34] #1819 closed

[2018-10-19 02:28] hmizuma opened #1826 "Replace custom upper implementation with std.asciiUpper"
As raised by @jlewi in https://github.com/kubeflow/kubeflow/pull/1805

Custom implementation of upper (convert to upper case) is used in a number of places.
e.g. https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/util.libsonnet#L15-L22

Newer jsonnet has std.asciiUpper which can replace these once the project requires a sufficiently new version of jsonnet.

[2018-10-19 02:28] jlewi commented on #1145
I think this is coming from here
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/configure_envoy_for_iap.sh

[2018-10-19 02:30] jlewi commented on #1145
Actually that script doesn't seem to modify anything
Maybe its this one
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/setup_backend.sh

[2018-10-19 02:42] jlewi commented on #1145
Here's a related issue to fix this #942

setup_backend.sh is doing two things

1. Updating the backend service
1. Updating the Envoy config in each instance with the info needed for JWT validation

We should be able to move the update of the backend service into its own statefulset and have a single instance so we don't need the lock.

When it comes to updating the envoy config we can continue to

[2018-10-19 02:57] richardsliu commented on #1740
SGTM.

[2018-10-19 03:15] jlewi commented on #1145
Looks like BackendConfig doesn't support timeout yet
https://cloud.google.com/kubernetes-engine/docs/concepts/backendconfig

[2018-10-19 13:00] connected-bsamadi opened #1827 "ERROR in ks apply default -c iap-ingress"
In an initial deployment of Kubeflow, I get the following error message at this step: "ks apply default -c iap-ingress"

ERROR handle object: patching object from cluster: merging object with existing state: unable to recognize "/var/folders/nq/gjzhy4lj0s13xy7z6yntvsy40000gq/T/ksonnet-mergepatch303897369": no matches for kind "BackendConfig" in version "cloud.google.com/v1beta1"

I was wondering i

[2018-10-19 13:13] mikereeves opened #1828 "TensorFlow Jupyter Notebook images 1.9 and above in gcr.io cannot see GPUs"
### Python 3 Kernel
### What works: 1.8.0

gcr.io/kubeflow-images-public/tensorflow-1.8.0-notebook-gpu:v0.3.0

<img width="1148" alt="screen shot 2018-10-19 at 8 17 43 am" src="https://user-images.githubusercontent.com/6353162/47217814-a48be280-d377-11e8-971d-76ed15368dee.png">

### What does not work: 1.9.0 and 1.10.1

gcr.io/kubeflow-images-public/tensorflow-1.9.0-notebook-gpu:v0.3.0
gcr.io/kube

[2018-10-19 15:53] kkasravi commented on #1827
merging object with existing state often means that duplicate objects are being deployed.
This in turn could mean that cleanup wasn't complete. For the BackendConfig resource, it should only be deployed once. You could try removing the namespace and retrying.

I haven't tried iap recently. A set of steps would be good to document - even if it's just pointing to existing iap deployment documentatio

[2018-10-19 16:40] jlewi commented on #1828
I tried: gcr.io/kubeflow-ci/tensorflow-1.10.1-notebook-gpu:v-base-81622af-pull-da32edf-pr-1815-3948

And when I printed the devices using TF I saw GPUs.
So I think this should be fixed in the 0.3.1 images that we should cut soon.

See #1718

[2018-10-19 16:40] jlewi commented on #1828
Here's the snippet I ran to check TF could see the devices.

[code]

[2018-10-19 16:43] jlewi commented on #1828
@mikereeves If you want to give it a try here's a new image:
docker pull gcr.io/kubeflow-images-public/tensorflow-1.8.0-notebook-gpu:v-base-b321075-822

[2018-10-19 16:45] mikereeves commented on #1828
@jlewi Thanks. Will give it a shot!

[2018-10-19 17:00] jlewi commented on #1828
Other TF versions are available as well just change the TF version
e.g
docker pull gcr.io/kubeflow-images-public/tensorflow-1.9.0-notebook-gpu:v-base-b321075-822

[2018-10-19 17:06] connected-bsamadi commented on #1827
Hi @jlewi, for now, I just want to get JupyterHub up and running on KubeFlow. Currently, I get the above error. My main issue is the "401 : Unauthorized" on JupyterHub, and I am not sure if it related to the iap-ingress error.

[2018-10-19 17:54] mikereeves commented on #1828
@jlewi http://gcr.io/kubeflow-ci/tensorflow-1.10.1-notebook-gpu:v-base-81622af-pull-da32edf-pr-1815-3948 and http://gcr.io/kubeflow-images-public/tensorflow-1.9.0-notebook-gpu:v-base-b321075-822 worked. Good to go for now!...look forward to 0.3.1. Thanks again.

[2018-10-19 17:57] jlewi commented on #1828
Thanks for confirming.

[2018-10-19 18:03] jlewi commented on #1827
On GKE we configure JupyterHub to use JWT validation. So if you bypass ingress and IAP (e.g. connect via kubectl port-forward) you won't have a JWT and JupyterHub will give you an Unauthorized error.

Why are you creating a GKE cluster with gcloud? If you use kfctl and run the platform command it will create all required GCP resources.

You have two options

1. Setup IAP and follow these [instruct

[2018-10-19 18:04] jlewi commented on #1696
We should consider maybe switching out this instance of envoy with an instance of ambassador; assuming ambassador can be configured to do JWT validation.

[2018-10-19 18:33] connected-bsamadi commented on #1827
Thanks @jlewi, when I don't create the cluster using gcloud, I get the following error:

+ ks apply default -c ambassador
ERROR handle object: patching object from cluster: merging object with existing state: Get https://35.225.179.149/api/v1/namespaces/kubeflow/services/ambassador: dial tcp 35.225.179.149:443: i/o timeout

When I look at Google Kubernetes Engine, it has not created any cluster. T

[2018-10-19 18:38] kkasravi commented on #1824
A complication is that cloud-endpoints is based on an image that was [uploaded](https://console.cloud.google.com/gcr/images/enisoc-kubernetes/GLOBAL/metacontroller@sha256:18561c63e1c5380ac5bbaabefa933e484bdb499f10b61071506f9a0070bc65f6/details?tab=info) last year 12-5-2017 and uses CRD's that no longer exist: lambacontrollers, initializercontrollers

@jlewi  would you know if the source for cloud-

[2018-10-19 23:02] #1825 closed

[2018-10-20 00:05] kkasravi opened #1831 "Provide an option to deploy an application-controller that will deploy the kubeflow application in-cluster"
The application-controller will watch one or more applications and claim ownership of the applications children
- [ ] Each child will have annotations and labels applied that is reference in the Application.Spec.Components
[code]
- [ ] Maintain [healthStatus](https://github.com/kow3ns/community/blob/8cb87419883197032f4e5cce8d5518c9c5792f6c/keps/sig-apps/0003-kubernetes-application-api.md#health-st

[2018-10-20 00:06] kkasravi commented on #1831
/assign @jlewi

[2018-10-20 12:14] connected-bsamadi commented on #1827
I was wondering which command is supposed to create the cluster. GCP Deployment Manager shows this error:

{"ResourceType":"container.v1.cluster","ResourceErrorCode":"400","ResourceErrorMessage":{"code":400,"message":"Invalid JSON payload received. Unknown name \"cluster\": Cannot find field.\nInvalid JSON payload received. Unknown name \"parent\": Cannot find field.\nInvalid JSON payload received

[2018-10-20 17:28] connected-bsamadi commented on #1827
Thanks @jlewi. I think my issue was that I didn't know that Deployment Manager API had to be enabled. I haven't tried it yet but I think if I try now, everything will work.

My suggestion is to add the list of API's that have to be enabled before running the commands in:
https://www.kubeflow.org/docs/started/getting-started-gke/

Also, I suggest to add an error message in case of failure in deploy

[2018-10-20 17:32] #1106 closed

[2018-10-20 17:56] #1227 closed

[2018-10-20 18:09] kkasravi opened #1833 "metacontroller's compositecontrollers and decoratorcontrollers need to be at Cluster scope"
See metacontroller's [yaml](https://raw.githubusercontent.com/GoogleCloudPlatform/metacontroller/master/manifests/metacontroller.yaml)

[2018-10-20 18:10] kkasravi commented on #1833
/assing @jlewi

[2018-10-20 20:43] texasmichelle opened #1837 "[minikube] Reduce number of default components deployed to minikube"
The default KF install for v0.3 deploys new components introduced since v0.2. The additional images mean that a minikube instance requires 12GB of RAM to run kubeflow-core, which is unusable for most laptops. One solution is to reduce the number of components installed by default & require the rest to be installed separately. Ideally this would be configurable in `kfctl.sh`.

[2018-10-20 23:40] #1837 closed

[2018-10-21 04:13] leoncamel commented on #1710
This seems to be fixed on branch `v0.3.1`.

[2018-10-22 12:39] connected-bsamadi commented on #1827
I just tried to install Kubeflow after enabling Deployment Manager, I still get the following error:

NAME                  TYPE                              STATE       INTENT
kubeflow              container.v1.cluster      FAILED     UPDATE

[2018-10-22 15:49] connected-bsamadi commented on #1827
Thanks @Luxas98. The cluster-version is set to 1.10 and the created cluster uses 1.10.7.

Right now, I get the CrashLoopBackOff for the envoy: gcr.io/kubeflow-images-public service.

CrashLoopBackOff | envoy: gcr.io/kubeflow-images-
-- | --

CrashLoopBackOff | envoy: gcr.io/kubeflow-images-
-- | --

[2018-10-22 15:57] Luxas98 commented on #1827
@connected-bsamadi CrashLoopBackOff -> container failed -> check container logs (deployment -> pod -> container -> container logs), btw I recommend you to go into kubeflow [slack](https://join.slack.com/t/kubeflow/shared_invite/enQtMjgyMzMxNDgyMTQ5LWUwMTIxNmZlZTk2NGU0MmFiNDE4YWJiMzFiOGNkZGZjZmRlNTExNmUwMmQ2NzMwYzk5YzQxOWQyODBlZGY2OTg), there is more helpful people as this is not an issue you are d

[2018-10-22 16:56] jlewi commented on #1724
Did you try doing

[code]

The issue appears to be with ksonnet and/or kubectl not being able to connect to your K8s master.

So if kubectl works then its likely an issue with ksonnet not picking up the config in order to be able to connect to your master.

[2018-10-22 16:56] wbuchwalter commented on #1240
@jlewi Licence approval should be done in the next few days, and then I will be able to transfer the repository.

Also, with JupyterHub, I cannot find a proper way to infer the name of the currently running notebook (which is needed to know which notebook should be started).
With standalone notebook I can just call the API to get that.

I have a PR opened to allow users to specify the name of the

[2018-10-22 17:04] lresende commented on #1240
Why does JupyterHub play a part here? Can't you just configure it to launch a custom notebook image that then has your extension installed and you then can use the Javascript API to see the contents and name of the running Notebook?

[2018-10-22 20:09] #1833 closed

[2018-10-22 20:40] jlewi commented on #1710
503 typically means the backend is crashing. In this case I think the backend is the Jupyter notebook.

It looks like your notebooks is crashing. If you look at the original screenshot you showed, the Jupyter notebook "jupyter-jerome-40gigster-2ecom"  shows 1 restart.

Can you provide the logs for your Jupyter notebook to see what it exited?

Has your Jupyter notebook been restarted more times sin

[2018-10-22 20:50] wbuchwalter commented on #1240
@lresende I am no expert in Jupyter, so there may be an easy solution to do this that I am not aware of (that would be great).

Currently to get the name of the notebook I am using the notebook API (see https://github.com/wbuchwalter/fairing/blob/master/fairing/notebook_helper.py#L9). This works well with standalone notebook with token auth.
However when using JupyterHub, authentication is based o

[2018-10-22 21:29] connected-bsamadi commented on #1710
Jupyterhub is of type: Stateful Set. I have Pods 2/1. It has restarted once. I have this in the log:
{
insertId:  “1deig33fgwpp6f”
labels: {
 compute.googleapis.com/resource_name:  “fluentd-gcp-v3.1.0-x4g7j”
 container.googleapis.com/namespace_name:  “kubeflow”
 container.googleapis.com/pod_name:  “jupyterhub-0"
 container.googleapis.com/stream:  “stderr”
}
logName:  “projects/[project]/logs/jupyt

[2018-10-22 21:57] jlewi commented on #1710
Can you provide the complete logs for the JupyterHub and Jupyter pods?

You can fetch them with gcloud like so

[code]
Please attach the logs for the JupyterHub and Jupyter pods as separate files to this issue.

[2018-10-23 00:59] jlewi commented on #1757
I think this might need a little bit more work.

It looks like its guarded by gkeApiVersion
https://github.com/kubeflow/kubeflow/blob/2e03ae9342967bc50c0afdeb64a090a1d98c785d/deployment/gke/deployment_manager_configs/cluster.jinja#L76

We just need to test it and then maybe document it.

[2018-10-23 04:53] jlewi commented on #1240
@r2d4 how did you solve this problem?

[2018-10-23 04:54] jlewi commented on #1831
@kkasravi Why did you assign this to me?

[2018-10-23 04:55] jlewi commented on #1831
Can you explain what problem this will solve? Is this supposed to provide a way for the Kubeflow application CRD to be made aware of all the different microservices comprising Kubeflow?

[2018-10-23 04:59] jlewi commented on #211
The goal of this issue is to sync all our docker images to Docker Hub.  So its not just a question of getting some scripts written to do the work, its actually getting everything deployed and maintaining it to ensure images are properly sync'd.

This includes figuring out how to surface monitoring and other information so that we know when the sync breaks and our images are no longer being sync'd.

[2018-10-23 05:01] jlewi commented on #1495
Closing this issue as stale. Please reopen if its still relevant.

[2018-10-23 05:01] #1495 closed

[2018-10-23 05:06] jlewi commented on #1419
The go binary is here:
https://github.com/kubeflow/kubeflow/tree/master/bootstrap/

This is where we should add additional logic to make the binary a replacement for kfctl.sh.

@swiftdiaries I think a good place to start would be to just go through the commands that we execute with kfctl.sh and add entry points any missing logic; e.g.

[code]

[2018-10-23 05:07] jlewi commented on #1419
@TheJaySmith if your working on this can you please clarify what exactly you are working on and when you plan on delivering it?

[2018-10-23 05:10] jlewi commented on #1462
@asdfsx hopefully things are working. If not please reopen this issue or file a new one describing the latest problems.

[2018-10-23 05:10] #1462 closed

[2018-10-23 05:15] jlewi commented on #1169
Closing this issue.

We've made a number of improvements in the retry logic see: e.g.
#170
#172

[2018-10-23 05:15] #1169 closed

[2018-10-23 05:16] jlewi commented on #1337
/priority p2

[2018-10-23 13:12] everpeace commented on #778
I would suggest putting some note which recommends using `MPIJob` instead of openmpi package with an explicit description of `MPIJob` advantages (retry behavior etc.).

[2018-10-23 13:39] connected-bsamadi commented on #1710
I just deployed a fresh Kubeflow. It's been quite a few minutes after the setup process finished. For some reason, I still get a 404 error when I try the main URL of the cluster.

The log for jupyterhub-0 is here:
https://gist.github.com/connected-bsamadi/21fabab6d755133e5a70ab44263da93e

[2018-10-23 13:45] wbuchwalter commented on #1240
I have a PR opened that adds an argument to the the decorator where users can pass the name of the notebook.
If not running in JupyterHub, this argument can be omitted and fairing will infer the name by itself.

[2018-10-23 15:18] connected-bsamadi commented on #1710
There three pods for envoy. I often have a couple of them restarting 8 times. Here is the log of an envoy pod that has restarted twice:
https://gist.github.com/connected-bsamadi/2d494016fefb0e0cb9a1f59918939d74

[2018-10-23 15:59] r2d4 commented on #1240
I solved in a similar way. I'm not sure if it will work in more advanced scenarios.

[2018-10-23 16:01] amygdala opened #1840 "For GKE deployment, change default CPU to Broadwell"
For the GKE deployment, change default CPU to Broadwell instead of Haswell (which is no longer as widely available).
https://cloud.google.com/compute/docs/regions-zones/

cc @jlewi

[2018-10-23 16:16] TheJaySmith commented on #211
Ah, good points. Some of it probably needs some human touch just to verify after the sync. Maybe testing the images too.

[2018-10-23 17:28] lluunn commented on #1309
#1823 actually doesn't work: I set the traffic to v1:100,v2:0, but still see requests going to v2.

And the reason is that istio uses client-side proxy to route requests, but in this case the client (ambassador) service is not in istio mesh.

So I think options are:
- add one additional hop
- don't use ambassador

[2018-10-23 17:52] lluunn commented on #1309
Another option: ambassador supports percentage traffic routing:
https://www.getambassador.io/reference/canary

[2018-10-23 18:39] kkasravi opened #1842 "create a self-serve component for data-scientists"
- [x] have all infra-components in a common namespace like 'kubeflow'
- [x] provide a CRD and controller so a datascientist can create one or more protected namespaces
- [x] protected namespaces created by the data scientist allow
  - [ ] jupyter notebooks to be run
  - [ ] tf-jobs to be run
  - [ ] tf-serving to be run
  - [x] is secure such that only the data scientist can see it

[2018-10-23 18:40] kkasravi commented on #1842
/assign @jlewi

[2018-10-23 21:13] lluunn opened #1844 "Rollout model with istio and/or ambassador"
Problem:
#1823 adds support for rolling out a new version of model, and send X% of traffic to it.
The request path is

ingress --> ambassador --> tfserving (version1 or version2)

However, it actually doesn't work because ambassador is not in istio service mesh, and Istio traffic management needs the client side to talk to Istio Pilot.
(so for  ambassador --> tfserving, the client is ambassador)
A

[2018-10-23 21:17] lluunn commented on #1844
related #1309

[2018-10-23 21:48] lluunn commented on #1844
I think Istio's way to do edge routing is to use Gateway, and bind VirtualService to it.

[2018-10-23 23:17] jlewi commented on #953
How did the webapp fix this?

[2018-10-23 23:19] jlewi commented on #953
If we delete the policy bindings for the service account and then add them back doesn't that fix things?

[2018-10-23 23:40] kunmingg commented on #953
@jlewi
Clear policy binding for that sa account and add them back should fix IAM bug.

However, another issue that could cause it: https://github.com/kubeflow/kubeflow/issues/1807

[2018-10-24 01:18] jlewi commented on #1842
Chatted with @kkasravi about this.

This will allow users to spin up their own, isolated namespace for resources like notebooks, TFJobs, and models.

This is really great. So I'm tagging it P1 for 0.4.0

[2018-10-24 01:21] jlewi commented on #1844
It looks like Ambassador has ISTIO integration.
https://www.getambassador.io/user-guide/with-istio/

Does that work?

[2018-10-24 05:52] 372046933 commented on #1796
I want all workers to exit normally even in asynchronous scenario. The main reason is that I am doing hyper-parameter tuning now. Every worker is reading a shard of the data-set, I want to assure that all workers have read their shard before exit. So next time, when the tuning is resumed, all workers read their shard from the beginning.  But if some worker exited halfway due to the exit of master,

[2018-10-24 06:34] liudongqing opened #1848 "Better Image Management : Maybe an Image Manager?"
Currently, every component specified its images in the template, if we want to use a private Docker registry or alternative one other than gcr.io, we have to set them one by one.

Is it possible to have centralized image management? And make image URI follow a predefined pattern, so that we can just change registry then every image URI changed.

[2018-10-24 19:07] kunmingg commented on #1588
@connected-bsamadi
There are one more issue can could cause it:
https://github.com/kubeflow/kubeflow/issues/1807

Can you retry with latest master?
Will include fix in v0.3.2

[2018-10-24 19:34] connected-bsamadi commented on #1744
Hey @richardsliu and @jlewi.
This is what I get with kubectl -n kubeflow get all:

https://gist.github.com/connected-bsamadi/01ab408f8f6c36265d60df60e92ebee0

With ks show default -c ambassador, I get the following:
https://gist.github.com/connected-bsamadi/dff2a2ed46bd9f9a122d8c5bca47edf1

Here are logs of jyputerhub-0 and envoy pods:
https://gist.github.com/connected-bsamadi/21fabab6d755133e5a70

[2018-10-24 19:45] #1766 closed

[2018-10-24 19:57] lluunn commented on #1844
ambassador has an open issue on this: https://github.com/datawire/ambassador/issues/255

[2018-10-25 04:37] matthen opened #1853 "Job not stopping once chief is complete - v0.2.0-rc.1"
I'm using `v0.2.0-rc.1`. I would like my TFJobs to finish when the chief exits successfully, but currently the workers, ps and evaluators pods stay running, and the chief stays up with a "Succeeded" state and a "Completed" pod.

below is my yaml spec (running on GKE):

[code]

Is there something I need to add to get the pods to be deleted when the chief is complete?

[2018-10-25 09:03] khsibr commented on #1583
@jlewi best documentation about Beam capabilities are documented here:
https://beam.apache.org/documentation/runners/capability-matrix/
Flink features support is almost complete.

AFAIK, there is no real time processing concept in Kubeflow. We could create a TFX operator to deploy tf.Transform code to Flink.

Is TFX serving already implemented?

[2018-10-25 09:39] hyzhak opened #1854 "Can't install >v0.1.3 KubeFlow to Microk8s"
I've followed [instruction of Microk8s](https://www.kubeflow.org/docs/started/getting-started-multipass/) and have installed `0.1.3` successfully.

But when I'm trying to install newer versions `0.2.7` or `0.3.1` they won't work.

I've got:

Is `Microk8s` still in business or I should switch to `Minikube` to get newer `Kubeflow`?

[2018-10-25 13:48] chrisheecho commented on #34
/ priority p1

[2018-10-25 13:48] chrisheecho commented on #42
/priority p0

[2018-10-25 13:53] chrisheecho commented on #34
/priority p1

[2018-10-25 14:53] chrisheecho commented on #136
/area 0.5.0

[2018-10-25 14:53] chrisheecho commented on #136
/priority p2

[2018-10-25 14:54] chrisheecho commented on #136
/remove-area 0.4.0

[2018-10-25 14:55] chrisheecho commented on #136
/remove priority-p2

[2018-10-25 14:56] chrisheecho commented on #136
Per PM community discussion, add model db and need further discussion and breaking this issue down.

[2018-10-25 14:56] chrisheecho commented on #136
/remove-priority p2

[2018-10-25 14:57] chrisheecho commented on #136
/size L

[2018-10-25 15:00] chrisheecho commented on #136
/remove-area 0.5.0
/remove-priority p1
/priority p2
/area 0.4.0

[2018-10-25 15:01] chrisheecho commented on #211
/remove-priority p1
/priority p2

[2018-10-25 15:02] chrisheecho commented on #380
/remove-priority p1
/priority p2

[2018-10-25 15:05] chrisheecho commented on #667
/priority p2

[2018-10-25 15:08] chrisheecho commented on #778
Hello all, could someone give status update of this issue? would love to connect with the driver for this..is this you @everpeace and @jiezhang ?

[2018-10-25 15:08] chrisheecho commented on #848
/remove-priority p1
/priority p0

[2018-10-25 15:11] chrisheecho commented on #934
/remove-priority p2
/priority p1

[2018-10-25 15:18] kkasravi opened #1856 "Change the application component to agree with kubernetes-sigs application CRD"
The Application CRD should agree with [Application metadata descriptor](https://github.com/kubernetes-sigs/application/blob/master/pkg/apis/app/v1beta1/application_types.go#L230)

An example is [here](https://github.com/kubernetes-sigs/application/blob/master/config/samples/app_v1beta1_application.yaml)

[2018-10-25 15:19] kkasravi commented on #1856
/assign @kkasravi

[2018-10-25 15:19] jlewi commented on #1854
Are you following?
https://www.kubeflow.org/docs/started/getting-started-multipass/

I think the install_kubeflow.sh script is out of date. The TFJob package was removed (prior to 0.2 I think).

Once you have a K8s cluster (e.g. MicroK8s) and can access the master you can just follow the generic instructions
https://www.kubeflow.org/docs/started/getting-started/

To deploy Kubeflow on that cluster

[2018-10-25 15:20] kkasravi commented on #1842
/cc @jlewi

(fixing assignments)

[2018-10-25 15:20] chrisheecho commented on #1178
/priority p0

[2018-10-25 15:20] chrisheecho commented on #1178
Eng:P0, PM:P1

[2018-10-25 15:23] #1653 closed, assigned to kunmingg

[2018-10-25 15:27] jlewi opened #1857 "Tooling to convert notebook to docker container"
We need tooling to convert a notebook into a docker container with a suitable entry point.

This is to support training and deploying models from Jupyter.

There are a number of approaches currently being explored
  * kubeflow/fairing - Uses metaparticle
   * r2d4 is exploring an approach based on modifying tarballs corresponding to Docker images and just adding a layer with the new file
   * @qim

[2018-10-25 15:28] chrisheecho commented on #1220
/remove-priority p2

[2018-10-25 15:28] chrisheecho commented on #1240
/remove-priority p1

[2018-10-25 15:28] chrisheecho commented on #1251
/remove-priority p1

[2018-10-25 15:29] chrisheecho commented on #1309
/remove-priority p1

[2018-10-25 15:29] jlewi opened #1858 "Jupyter widget to deploy and train models"
We'd like a Jupyter widget that gives a user a UI for training and deploying models directly from a notebook.

/cc @r2d4 @qimingj

[2018-10-25 15:29] chrisheecho commented on #1317
/remove-priority p2
/priority p1

[2018-10-25 15:30] chrisheecho commented on #1346
/remove-priority p2

[2018-10-25 15:31] chrisheecho commented on #1407
/priority p0

[2018-10-25 15:31] chrisheecho commented on #1409
/remove-priority p2

[2018-10-25 15:31] chrisheecho commented on #1416
/remove-priority p1

[2018-10-25 15:33] jlewi commented on #1240
@chrisheecho How come you removed P1? I think we really want to get this done in 0.4.0

I filed a couple of issues to split this up

#1857 Tooling to go from notebook to docker container
#1858 Widget to train/deploy

/label priority/p1

[2018-10-25 15:33] chrisheecho commented on #1433
/remove-priority p1

[2018-10-25 15:34] chrisheecho commented on #1450
/remove-priority p1
/priority p0

[2018-10-25 15:34] chrisheecho commented on #1451
/priority p1

[2018-10-25 15:34] chrisheecho commented on #1452
/priority p1

[2018-10-25 15:34] chrisheecho commented on #1454
/priority p1

[2018-10-25 15:35] chrisheecho commented on #1457
/priority p1

[2018-10-25 15:35] chrisheecho commented on #1471
/priority p1
/priority p0

[2018-10-25 15:35] chrisheecho commented on #1471
Eng: Want, PM:Need

[2018-10-25 15:35] chrisheecho commented on #1472
/priority p0

[2018-10-25 15:36] chrisheecho commented on #1472
Eng:Want PM:Need

[2018-10-25 15:36] chrisheecho commented on #1560
/remove-priority p1

[2018-10-25 15:37] chrisheecho commented on #1584
/remove-priority p1
/priority p0

[2018-10-25 15:38] chrisheecho commented on #1615
/priority p1

[2018-10-25 15:39] chrisheecho commented on #1616
/remove-priority p2
/priority p0

[2018-10-25 15:39] jlewi opened #1859 "Remove OpenMPI package in 0.5.0"
See comment:
https://github.com/kubeflow/kubeflow/issues/778#issuecomment-429847288

Current thinking is that MPI Job is a preferable solution to the OpenMPI ksonnet package. In 0.4.0 we want to start pointing users at MPIJob. In 0.5.0 we should plan on removing the package.

@everpeace WDYT? This is just my interpretation of your comment.

[2018-10-25 15:39] chrisheecho commented on #1655
/remove-priority p1

[2018-10-25 15:40] chrisheecho commented on #1668
/remove-priority p1

[2018-10-25 15:40] chrisheecho commented on #1669
/priority p0

[2018-10-25 15:40] jlewi commented on #778
I filed #272 to update the docs.

#1859 to remove the existing package.

[2018-10-25 15:40] #778 closed

[2018-10-25 15:40] chrisheecho commented on #1669
Eng:Want PM:Need

[2018-10-25 15:41] chrisheecho commented on #1694
/remove-priority p1
/priority p0
/remove-area 0.3.1

[2018-10-25 15:42] chrisheecho commented on #1696
/remove-priority p1

[2018-10-25 15:42] jlewi commented on #712
Downgrading to P2.

Current thinking is that users are better off using MPIJob
https://github.com/kubeflow/kubeflow/issues/778#issuecomment-429847288

And the current thinking is to eventually remove the OpenMPI package in favor of the MPIJob
kubeflow/website#272 to update the docs.
#1859 to remove the existing package.

So I'm downgrading this to P2.

[2018-10-25 15:42] chrisheecho commented on #1697
/remove-priority p1
/remove-area 0.3.1

[2018-10-25 15:43] chrisheecho commented on #1711
/remove-priority p1

[2018-10-25 15:44] chrisheecho commented on #1718
/remove-priority p1
/priority p0

[2018-10-25 15:44] jlewi commented on #1745
This has been fixed.

[2018-10-25 15:44] #1745 closed

[2018-10-25 15:45] chrisheecho commented on #1731
/remove-priority p1

[2018-10-25 15:45] jlewi commented on #1583
TFX Serving is TF Serving and that's already well supported in Kubeflow.
https://www.kubeflow.org/docs/guides/components/tfserving_new/

[2018-10-25 15:45] chrisheecho commented on #1735
/remove-priority p0

[2018-10-25 15:46] chrisheecho commented on #1737
/remove-priority p1

[2018-10-25 15:47] chrisheecho commented on #1751
/remove-priority p0

[2018-10-25 15:47] chrisheecho commented on #1757
/remove-priority p1

[2018-10-25 15:48] chrisheecho commented on #1769
/remove-priority p1

[2018-10-25 15:48] chrisheecho commented on #1806
/remove-priority p2

[2018-10-25 15:50] chrisheecho commented on #1337
This is in the top of the wish/blocker list

[2018-10-25 15:51] jlewi commented on #667
Bump to P1.

With 0.4.0 we'd like to have a story even if its just docs for how users can roll out models.

The current thinking is to use a red green type deployment and split traffic using ISTIO.

@lluunn is working on this.

Duplicate of #1844

[2018-10-25 15:51] #667 closed

[2018-10-25 16:04] jlewi commented on #1844
Could we use the ISTIO service Gateway as our dynamic reverse proxy rather than Ambassador?

I looked at this blog post about Ambassador and ISTIO
https://itnext.io/ambassador-and-istio-edge-proxy-and-service-mesh-814aac9f23df

I think the current way Ambassador works with ISTIO is that Ambassador routes traffic to a service inside the mesh (in the example the product page app). The product page t

[2018-10-25 16:15] jlewi opened #1860 "Deploy Model DB with durable storage"
In 0.4.0 we should be able to deploy ModelDB with durable storage so that it can be used for primitive model tracking.

Context:
kubeflow/katib#137
kubeflow/community#195
kubeflow/examples#134

I know there's discussion about redesigning model tracking from scratch (kubeflow/community#195 ) but I don't see that landing in 0.4.

ModelDB on the other hand covers a lot of the use cases we care about.

[2018-10-25 16:18] jlewi opened #1861 "Docs for using ModelDB to track models using the API"
Related:
   kubeflow/examples#81

ModelDB has a lot of great features for model tracking
See screen cast on kubeflow/katib

In 0.4.0; I'd like to have docs on www.kubeflow.org that tell users how they can leverage ModelDB to track models by using the Python light API to load model data into Katib.

/cc @mpvartak
/cc @garganubhav

[2018-10-25 16:19] jlewi commented on #136
Opened up more specific issues.
#1861
#1860

Closing this issue.

Related:
ModelDB v2: goo.gl/NaDXpQ

[2018-10-25 16:19] #136 closed

[2018-10-25 16:39] everpeace commented on #1859
SGTM.

[2018-10-25 16:41] everpeace commented on #778
Thanks for creating issues 🙇

[2018-10-25 16:58] carmine commented on #1854
Will update the instructions this weekend based on reproducing / resolving the issue. Not sure if this is related to the snapd/docker issue or not, which has been resolved in the edge channel, but not in stable channel yet.

[2018-10-25 17:14] chrisheecho commented on #34
/remove-priority p2

[2018-10-25 17:19] abhi-g commented on #56
/priority p1

[2018-10-25 17:20] abhi-g commented on #527
/priority p2

[2018-10-25 17:20] jlewi commented on #1806
/priority p2

[2018-10-25 17:21] jlewi commented on #1803
/priority p2

[2018-10-25 17:21] chrisheecho commented on #1251
/priority p1

[2018-10-25 17:28] carmine commented on #1057
/priority p1

[2018-10-25 17:28] jlewi commented on #1145
/priority p1
This is a pain point for users as it interferes with updates and things Argo CD.

[2018-10-25 17:28] chrisheecho commented on #1711
/priority p1

[2018-10-25 17:28] abhi-g commented on #1409
/priority p2

[2018-10-25 17:29] chrisheecho commented on #1155
/priority p2

[2018-10-25 17:29] chrisheecho commented on #1215
/priority p2

[2018-10-25 17:29] abhi-g commented on #1560
/priroity p2

[2018-10-25 17:29] chrisheecho commented on #1433
/priority p1

[2018-10-25 17:29] jlewi commented on #1731
/priority p1

This would be nice to have and it would be good to figure out how much we can leverage from ISTIO.

[2018-10-25 17:29] carmine commented on #1145
/priority p2

Fix or "known issue" in release notes

[2018-10-25 17:30] chrisheecho commented on #1668
/priority p1

[2018-10-25 17:30] chrisheecho commented on #1560
/priority p2

[2018-10-25 17:30] abhi-g commented on #1560
/priority p2

[2018-10-25 17:30] jlewi commented on #1751
/priority p1
/remove-priority p1

[2018-10-25 17:32] chrisheecho commented on #42
/remove-priority p1

[2018-10-25 17:34] chrisheecho commented on #1178
/remove-priority p1

[2018-10-25 17:34] chrisheecho commented on #1407
/remove-priority p1

[2018-10-25 17:36] chrisheecho commented on #1471
/assign @carmine
/remove-priority p1

[2018-10-25 17:37] chrisheecho commented on #1472
/remove-priority p1
/assign @carmine

[2018-10-25 17:38] chrisheecho commented on #1669
/remove-priority p1

[2018-10-25 17:39] chrisheecho commented on #1669
/remove-priority p0
/priority p1

[2018-10-25 17:51] ashahba commented on #1697
@jlewi I'll get this in within the next few days.
I just haven't found any free time to work it.

Thanks.

[2018-10-25 18:06] kunmingg commented on #1578
https://github.com/kubeflow/kubeflow/pull/1732
provide e2e test against deploy app on master head.

[2018-10-25 18:06] #1578 closed

[2018-10-25 18:40] prateek1192 commented on #1711
Is there any ETA on this ?

[2018-10-25 20:22] swiftdiaries commented on #1450
Closing because a PR has already been submitted and merged for this.
/close

[2018-10-25 20:22] #1450 closed

[2018-10-25 22:08] #1840 closed

[2018-10-25 22:47] jlewi commented on #1853
This is a pre release 0.2 candidate. Can you please try with 0.3?

We intentionally leave completed pods up so that you can fetch the logs. You can control this with CleanPodPolicy
https://github.com/kubeflow/tf-operator/blob/5a85d7b1be9d58ff98b4eefaa53d7fc7671d1961/pkg/apis/tensorflow/v1alpha2/types.go#L49

The default policy should be to clean running pods when the job is completed.

[2018-10-25 23:19] carmine commented on #151
Any update on this?

[2018-10-26 00:07] Nick-Harvey commented on #151
Just submitted a pull request yesterday to pick up where things left off, https://github.com/kubeflow/examples/pull/282 all the credit goes to @dwhitena. He did all the work, I just got it past the 1-yard line.

[2018-10-26 00:22] cwbeitel opened #1870 "Disallow TFJob names with . (hangs on startup)"
Two TensorFlow training jobs with identical configs except for difference in job name, "smokey-the-smoketest-etc" and "smokey-the-smoke.test-etc" - the former works fine, the latter hangs after:

[code]

perhaps because an address of the from `grpc://smokey-the-smoke.test-j1026-0013-b522-master-msse-0:2222` is not valid?

Should the inclusion of a `.` in a job name then cause a TFJob failure on st

[2018-10-26 02:58] matthen commented on #1853
Thanks, I'll upgrade to 0.3

[2018-10-26 02:58] #1853 closed

[2018-10-26 03:01] matthen opened #1871 "Issues installing 0.3"
I followed the instructions at https://v0-3.kubeflow.org/docs/started/getting-started-gke/ - and found a few issues:

* `$KUBEFLOW_REPO` is used in commands, but not defined
* `$PROJECT` is not defined either
* If you follow the instructions you will get an error like:

`ERROR validating registry URL: registry path "...kubeflow/kubeflow" does not exist`

when running `${KUBEFLOW_REPO}/scripts/kfct

[2018-10-26 08:40] kavemun commented on #1724
I think it's the latter, kubectl, not picking up the config on my K8s. I'll debug a little more  on this when i have the time.

[2018-10-26 09:00] hyzhak commented on #1854
Thanks @jlewi and @carmine! Yes, I had thought to try to setup kubeflow manually there. But recently I've found another problem - `multipass` which is used for `microk8s` setup. It doesn't allow to get access to `kubeflow` services (Jupyter and other) from local network https://github.com/CanonicalLtd/multipass/issues/118. So it won't work in my case (small local DL server for rnd) at least until

[2018-10-26 09:06] ktsakalozos commented on #1854
Hi @hyzhak ,

`microk8s` is still in business. Yes you can use `microk8s` outside `multipass` as long as you are on ubuntu, just do a `sudo snap install microk8s --classic`. The kubeflow installation instructions give you `v0.1.3` because we are waiting on a bug fix to be released(*).

If you want to deploy a v0.2 kubeflow you will need to use a `jupyterHubImage` that lives in `kjackal/jupyterhub-

[2018-10-26 09:49] ktsakalozos commented on #1854
I see the `v.0.2.7` installation process is the same as the on in `v0.2.2` so I would like to think the above script works. For `v0.3.1` the installation scripts have changed so I do not know yet where to put the `ks param set kubeflow-core jupyterHubImage kjackal/jupyterhub-k8s:v0.9.2`.

[2018-10-26 09:54] hyzhak commented on #1854
@ktsakalozos ok thanks! So, do you have plan to adapt to `v0.3.x` and I could wait for a few days or it would better to use `v0.2.x`?

[2018-10-26 14:36] connected-bsamadi commented on #1710
@leoncamel I have run out of ideas. I will create a new issue.

[2018-10-26 15:50] kkasravi commented on #1842
/assign @kkasravi

[2018-10-26 16:08] connected-bsamadi commented on #1871
You need to create a project on Google Cloud Platform and define the `PROJECT` variable yourself.
For `KUBEFLOW_REPO`, you can pick a name like kubeflow_repo. There is an issue with `KUBEFLOW_REPO` that you can fix by starting with a name and after running the download script, changing it to the full path. I have done it in the deploy_kubeflow.sh in here:
https://github.com/connected-bsamadi/kubef

[2018-10-26 16:50] connected-bsamadi commented on #1871
I tried using the full path before the download.sh. I think the error happens because by running download.sh, you end up one level upper in the folder structure.

[2018-10-26 18:51] connected-bsamadi commented on #1871
Here in `scripts/gke/util.sh`, the script expects `KUBEFLOW_REPO` to be the full path not a name:

[code]

[2018-10-26 19:09] #1767 closed

[2018-10-26 19:29] jlewi commented on #1871
I think this is a bug in the docs introduced by kubeflow/website#256.

The scripts auto-set KUBEFLOW_REPO based on location of kfctl.sh.
So when we changed the instructions to use KUBEFLOW_REPO rather than KUBEFLOW_SRC.

We ended up overwriting the default locale in the script. So that's probably why you have to set it and it has to be a full path.

[2018-10-26 20:41] jlewi commented on #1871
@davidstack should we roll back #256?

[2018-10-27 01:13] matthen commented on #1871
Thanks, I figured out how to do the installation, I'm just reporting issues with the guide.

[2018-10-27 13:53] ktsakalozos commented on #1854
@hyzhak , @carmine with the https://github.com/snapcore/snapd/pull/5739 fix in place the kubeflow installation in microk8s does not need any special configuration (this is not surprising since microk8s is about to get the cncf certification https://github.com/cncf/k8s-conformance/pull/360). Here is how I got `v0.3.1` kubeflow running on a t2.xlarge instance on aws.

[code]

This is the final state

[2018-10-28 22:28] amygdala opened #1881 "detect & report when GKE IAP deployment failed due to letsencrypt rate-limiting"
Turns out it's pretty easy to get cert rate-limited -- we should surface this error rather than making the user dig to figure out why their deployment endpoint is not working.
[code]

[2018-10-28 23:08] amygdala opened #1882 "create cluster-admin role for kubeflow:default service account so that it can create a tfjob"
Somewhere in the setup config, we need to add:

`kubectl create clusterrolebinding sa-admin --clusterrole=cluster-admin --serviceaccount=kubeflow:default`

so that this is true:

`kubectl auth can-i -n kubeflow --as=system:serviceaccount:kubeflow:default create tfjobs`

[2018-10-29 01:06] jlewi commented on #1882
This is working as intended we want to run as least privilege.

The correct fix is to use a service account which has the appropriate TFJob RBAC permissions.

[2018-10-29 01:07] #1694 closed

[2018-10-29 02:41] jlewi commented on #1761
This has been fixed;
we've cut 0.3.1 and 0.3.2
https://github.com/kubeflow/kubeflow/releases

[2018-10-29 02:41] #1761 closed

[2018-10-29 02:48] #1718 closed

[2018-10-29 02:49] #1828 closed

[2018-10-29 03:54] gaocegege commented on #1870
I think the name should follow [a-z]([-a-z0-9]*[a-z0-9], which is the convention in k8s. Then . should not be accepted by k8s. Could you create such a TFJob named `a.b`?

[2018-10-29 05:07] matthen opened #1883 "Dashboard cannot list tf jobs"
I followed the instructions to install 0.3 here:  https://v0-3.kubeflow.org/docs/started/getting-started-gke/

When I visit https://kubeflow.endpoints.PROJECT.cloud.goog/tfjobs/ui/#/ - I see *"There are no TFJobs to display"*. The logs for the `tf-job-dashboard` container have this error:

[code]

It looks like the service account exists:

[code]

Do I need to manually give permissions somewhere?

[2018-10-29 13:33] jlewi commented on #1744
@connected-bsamadi

What is the HTTP error code you are getting when you see ""This site can’t be reached" is it a 502? (If you're using Chrome you can use the developer tools console to see the error code).

Your central dashboard pod looks healthy.

When you get the error "This site can't be reached"; do you see pods crashing/restarting?

When that happens can you try connecting directly to the

[2018-10-29 13:38] jlewi commented on #1710
@leoncamel It seems like you are hitting a different issue then the 503 Jupyter issue listed in this issue. A 404 would suggest a problem with the main central dashboard. Did you open up a separate issue for that?

[2018-10-29 13:39] connected-bsamadi commented on #1744
@jlewi I don't get any error message on the console. It's empty.
In the browser, I get the following:
This site can’t be reached
kubeflow.endpoints.ontario-2018.cloud.goog unexpectedly closed the connection.
Try:

Checking the connection
Checking the proxy and the firewall
ERR_CONNECTION_CLOSED

[2018-10-29 13:42] connected-bsamadi commented on #1744
On my cellphone, I get
kubeflow.endpoints.ontario-2018.cloud.goog's server IP address could not be found
DNS_PROBE_FINISHED_NXDOMAIN

[2018-10-29 13:42] jlewi commented on #1744
I suspect a problem with the ingress; most likely SSL certificate related.

Try the following

[code]

And also do

[code]

[2018-10-29 13:43] jlewi commented on #1744
Also probably easier to debug/troubleshoot on https://kubeflow.slack.com

[2018-10-29 14:09] jlewi commented on #1744
We troubleshooted this in slack. It looks like @connected-bsamadi is hitting LetsEncrypt certificate limits

[code]

This error comes from the cert-manager pod logs.

Some potential work arounds

1. Use a different deployment name
1. Don't use LetsEncrypt; purchase a cert and upload it manually

[2018-10-29 15:43] chrisheecho commented on #971
should we just assign this to Danny Thompson? who is the action on?

[2018-10-29 15:44] chrisheecho commented on #1121
should this be p0? Seems to be making it easier to understand why certain things failed is crucial

[2018-10-29 15:53] chrisheecho commented on #1317
/priority p2

based on jeremy's comments and number of issues we need to resolve on 0.4

[2018-10-29 15:54] chrisheecho commented on #1452
@cliveseldon is this something that Seldon folks are interested in helping for 0.4 release?

[2018-10-29 17:09] jlewi commented on #1616
@chrisheecho Do you still think this P0? Should we downgrade to P1 or P2?

[2018-10-29 17:10] jlewi commented on #1584
@richardsliu What are the next steps here?

/assign @richardsliu

[2018-10-29 17:12] jlewi commented on #1584
From @richardsliu

1. Get an API review from k8s team,
2. Implement the v1beta1 APIs (for TF and Pytorch),
3. Implement the v1beta1 controllers (TF and Pytorch) which uses the new APIs,
4. Create some sort of script to migrate users from v1alpha2 to v1beta1.

@richardsliu Should we split this up into finer grained issues reflecting the above?

[2018-10-29 17:14] jlewi commented on #1471
@chrisheecho @carmine Should we bump this down to P2? For 0.4. I think the focus is on getting TFJob/PyTorch operators to beta and I don't think that's blocked on this issue.

[2018-10-29 17:19] jlewi commented on #848
/remove-priority p0
/priority p1

I think this is P1 possibly even P2.

Blocked by #1591 (removing kubeflow-ci write access to kubeflow-images-public).

[2018-10-29 17:28] jlewi opened #1885 "Ksonnet package organization for TFJob and PyTorch"
See #42

Currently the TFJob operator is inside the "core" package.

We also have example TFJobs in
https://github.com/kubeflow/kubeflow/tree/master/kubeflow/examples/prototypes

We should probably combine those into a single more specific package.

Should the package be specific to TensorFlow jobs? Or should there be one package for TFJobs and TFServing?

[2018-10-29 17:33] jlewi opened #1886 "ksonnet package for Jupyter/JupyterHub"
See #42  - Split up core ksonnet package

Right now JupyterHub is in the "core" package. We should probably move it into its own ksonnet package.

@pdmack @kkasravi WDYT?

[2018-10-29 17:34] jlewi commented on #42
I filed the more specific issues #1885 and #1886
I think we can start with that and go from there.

[2018-10-29 17:46] jlewi commented on #953
So the AI's here are

Short term:

1. Document this error in the troubleshooting guide
    https://www.kubeflow.org/docs/guides/gke/troubleshooting-gke/
1. Provide instructions for clearing the policy bindings; and then adding them back.

Longer term we could try to ensure that kfctl and web app check for policy bindings and clear them before deploying Kubeflow.

[2018-10-29 17:48] jlewi commented on #1769
@kkasravi You're planning on tackling this; this week right?

[2018-10-29 18:02] #1783 closed

[2018-10-29 18:06] jlewi commented on #1668
So #1578 #1732

I think the issue with those tests is they might not be fully covering certmanager because we need to reuse certs to avoid hitting Lets Encrypt Quota Limits.

I don't think there's any obvious way to address this. So I'm going to mark this as fixed for now and we can create issues for specific  needs as they arise.

[2018-10-29 18:19] kunmingg commented on #953
@jlewi Deploy with webapp on v0.3.2 should fix it.

[2018-10-29 18:38] jlewi commented on #1806
Next step is to actually test the image and then create a simple blog post.

[2018-10-30 02:29] matthen commented on #1883
Thanks, that fixed it

[2018-10-30 04:57] jlewi commented on #1860
I think there are two databases used by ModelDB

1. There is an instance of MongoDB
    This is the dbDeployment
    https://github.com/kubeflow/kubeflow/blob/master/kubeflow/katib/modeldb.libsonnet#L108

1. There is ModelDB itself which I think uses an SQLLite database
     https://github.com/kubeflow/kubeflow/blob/master/kubeflow/katib/modeldb.libsonnet#L44

So both of these need to be stored on

[2018-10-30 06:19] leoncamel commented on #1710
@jlewi OK. I will re-test later tonight, and open another issue if it is still existed.

[2018-10-30 08:50] AndriiNeverov opened #1889 "openmpi: resources for openmpi-controller are not configurable which breaks the multitenant use-case"
The fix I which worked for me locally seemed to be quite simple:

1) add to containers#name: "openmpi-controller" the same thing as in  containers#name: "openmpi-job"

`resources: std.mergePatch($.resources(params, role), $.customResources(params, role)),`

2) adjust

`resources(params, role)::
    if role == ROLE_WORKER then {`

[2018-10-30 16:46] jlewi commented on #1696
Blog post about using Envoy for JWT verification
https://medium.com/google-cloud/envoy-for-google-cloud-identity-aware-proxy-ee0a77200fd5

[2018-10-30 21:14] connected-bsamadi opened #1890 "Kubeflow 0.2.7 Spawning an image with GPU"
I have no issues with CPU images on Kubeflow 0.2.7. However, when I try to spawn GPU images, it takes forever and the process never finishes.

`kubectl describe pod jupyter`
https://gist.github.com/connected-bsamadi/573cdd1f57a830de1f8857534c4af53f

I have GPU quotas on the target zone. Should I change anything before deploying Kubeflow?

[2018-10-30 22:10] texasmichelle opened #1891 "Cherry-pick reduced minikube scope in 0.3 patch"
Create a patch release for 0.3 that includes #1838. Without it, minikube is unusable.

[2018-10-30 23:38] texasmichelle opened #1892 "Deploy same components in click-to-deploy as kfctl"
Standardize what we consider default core components and deploy the same way whether using kfctl or click-to-deploy.

Example: argo is included in [kfctl](https://github.com/kubeflow/kubeflow/blob/v0.3.2/scripts/kfctl.sh#L236), but missing from click-to-deploy.

[2018-10-31 03:31] kkasravi commented on #1769
@jlewi yes, i'll probably ping you tomorrow on the istio stuff

[2018-10-31 06:19] ashahba commented on #1711
@prateek1192 I did a small update to the docs, I'll review your logs and see add more improvements.
Sorry for the late response here.

[2018-10-31 13:18] jlewi commented on #1891
/assign @r2d4

[2018-10-31 13:22] jlewi opened #1894 "[gcp] KsServer should support groups"
In the code here:
https://github.com/kubeflow/kubeflow/blob/af513c2da51cc0f589638e47234ca3b412dd646f/bootstrap/cmd/bootstrap/app/gcpUtils.go#L158

We are hardcoding whether we think an account is a user or group based on the name "google-kubeflow-support"

Instead we should rely on the user telling us this. E.g. in the config where user specifices users/group to grant access to the deployment they

[2018-10-31 13:25] jlewi opened #1895 "gcpUtils.go should have unittest"
We should create a unittest for
https://github.com/kubeflow/kubeflow/blob/master/bootstrap/cmd/bootstrap/app/gcpUtils.go

e.g. for GetUpdatedPolicy we should have a unittest that verifies we modify the policy correctly.

/cc @kunmingg

[2018-10-31 17:28] texasmichelle opened #1896 "Add cluster removal button to click-to-deploy UI"
Provide a destroy option that removes everything created by the click-to-deploy app.

[2018-10-31 21:33] kunmingg commented on #1892
components config now synced on version v0.3.2

[2018-10-31 21:33] #1892 closed

[2018-10-31 21:44] IMBurbank opened #1898 "Kubernetes Engine for Kubeflow Quickstart Guide - Proposed Fixes"
I experienced a number of minor-bugs and unclear sections while completing this [quick-start guide](https://www.kubeflow.org/docs/started/getting-started-gke/).

The purpose of this issue is to detail my experiences throughout the process, and then make a few proposals for improving the guide.

## Process

Here's how the tutorial went for me on a relatively fresh GCP project.

Note: steps to enabl

[2018-11-01 00:53] texasmichelle commented on #1892
Nice - that was fast. Thanks!!

[2018-11-01 05:08] jiezhang commented on #1859
We ended up not using openmpi package at Uber and instead built custom scheduler using Kubernetes Go client. I'm okay with removing the package.

[2018-11-01 14:02] #1842 closed

[2018-11-02 00:37] jlzhao27 commented on #1857
s2i might be a good option here especially for dynamic languages like python: https://github.com/openshift/source-to-image

[2018-11-02 05:33] jlewi commented on #1860
@mpvartak To integrate this into Kubeflow you'll want to port over the changes in mitdbg/modeldb#310 into the modeldb.libsonnet file at the locations mentioned in the previous comment.

Once you have the changes integrated you can follow the instructions for using kfctl
https://www.kubeflow.org/docs/started/getting-started-gke/

To deploy Kubeflow on GCP.

If you run it from your local repo; it wi

[2018-11-02 09:16] 372046933 commented on #1796
@yuefengz If those stragglers were not checkpointed, when training resumed next time it will read the data-set from beginning. When such scenario happens again and again, the model may be over-fitted. It was common in hyper tuning process