[2019-03-08 18:37] kunmingg commented on #2663
Sure, we can provide a more broad, like update API to edit existing deployment.
Which can also include version upgrade story.

[2019-03-08 18:54] avdaredevil commented on #2582
Still don't have access, but I believe the dashboard works, closing. Feel free to open @jlewi if I am mistaken.

Thanks

/close

[2019-03-08 18:54] #2582 closed

[2019-03-08 18:55] avdaredevil commented on #2582
/assign @avdaredevil

[2019-03-08 18:56] lluunn commented on #2659
got this too, pods have permission error.
looking into it now

[2019-03-08 19:20] kunmingg opened #2664 "[GCP] Test coverage for compatibility with GPU and TPU models"
We should add tests to make sure common GPU and TPU models on GCP works properly with standard Kubeflow cluster.

[2019-03-08 19:28] #2536 closed

[2019-03-08 19:29] #2537 closed

[2019-03-08 19:33] lluunn commented on #2659
we are doing it similarly in bootstrapper: https://github.com/kubeflow/kubeflow/blob/master/bootstrap/cmd/bootstrap/app/gcpUtils.go#L281

[2019-03-08 19:36] aronchick opened #2665 "Default Install for Katib & Pipeline access from UI is broken"
Action:
- Install Kubeflow 0.4.1 using standard deployment
- kubectl port-forward svc/ambassador -p 8080
- Access UI via browser
- Click on "Pipelines" or "Katib"

Expected:
- Access to Katib or Pipeline UI

Actual:
- Katib => blank page
- Pipelines => 404 not found

[2019-03-08 21:51] kkasravi commented on #2653
@jlewi sure - I think we then drop the ksonnet application component then since it was only doing client-side labeling and reparenting resources to the metacontroller. All 3 steps above can be done in kustomize w/o requiring the sigs.k8s.io/application controller. Though we'll eventually need the controller for reparenting and health.

Should we have all components ported to kustomize for 0.5?

[2019-03-08 23:39] zabbasi commented on #2551
Could not find 1.13 whl url.

[2019-03-08 23:44] #2590 closed

[2019-03-09 00:16] jlewi commented on #2653
I think if we can have an option in 0.5 to deploy with kustomize that would be great but I don't want to plan on dropping ksonnet support until we have kustomize working and I don't know that will make it for 0.5

[2019-03-09 00:19] jlewi commented on #2195
We're pretty swamped right now getting the 0.5 release out so not getting a lot of attention right now.

[2019-03-09 00:23] #2573 closed

[2019-03-09 00:24] jlewi commented on #2498
@khoward The Jupyter web app allows you to attach PVs and PVCs to your pods.

[2019-03-09 01:11] jlewi commented on #2535
We create a DefaultClient here
https://github.com/kubeflow/kubeflow/blob/6fa88b7cf38430d17e35f968abbe0ea9d2272475/bootstrap/pkg/client/gcp/gcp.go#L275

Which should be reading the credentials from the gcloud .config file if GOOGLE_APPLICATION_CREDENTIALS isn't set.

That didn't seem to be the case when I tried basic auth and the release demo:
http://bit.ly/05_mid_release_demo

I'll debug further.

[2019-03-09 01:25] kkasravi commented on #2653
Understood, @swiftdiaries and I will see what we can do.

[2019-03-09 02:32] jlewi opened #2670 "kfctl could not generate kfApp no hostname"
I tried running kfctl using `v0.4.0-rc.1-204-g6fa88b7c`

I get the following error

[code]

Here is the contents of app.yaml.

So it looks like hostname is set.

[code]

[2019-03-09 03:04] jlewi commented on #2535
I suspect this might be a question of needing to run

[code]

Looking at the GCP Go client code it looks like it checks the file

[code]

[2019-03-09 03:17] Roshrini commented on #32
@mbelang Found this repo which is very actively maintained and mentions the steps to deploy recent version of kubeflow to Amazon EKS. I tried instructions from here and was able to spin up the cluster and run TF training using Jupyter notebook https://github.com/aws-samples/machine-learning-using-k8s

[2019-03-09 06:57] kkasravi commented on #2670
I ran with this
`kfctl init -V ~/kubeflow --version pull/2548 --platform gcp --skip-init-gcp-project --use_basic_auth && \
cd ~/kubeflow && \
kfctl generate all -V && \
kfctl apply all -V` on PR 2548 (kustomize)

Apply fails with:
[code]

[2019-03-09 07:10] kkasravi commented on #2646
this is fixed in PR #2548

[2019-03-10 20:26] carmine commented on #1970
@kunmingg - Is this likely to make it in the 0.5 release?

[2019-03-10 22:17] jlewi commented on #2639
@vkoukis @kimwnasptd should we try to get this done in 0.5 or just push to 0.6?

Do we have higher priority issues remaining with jupyter in 0.5?

[2019-03-10 22:19] jlewi commented on #2578
@kimwnasptd I believe we updated the notebook manager image. Is this issue now tracking automating builds of the notebook manager UI? If so should we update the title to reflect that?

[2019-03-10 22:20] jlewi commented on #2359
@avdaredevil @prodonjs what is the remaining work before we can close out this issue?

[2019-03-10 22:21] jlewi commented on #2507
@lluunn Is this work currently blocked?

[2019-03-10 22:30] jlewi commented on #2095
@kunmingg What is the remaining work here?

I just checked deploy.kubeflow.cloud and I don't see an option to use basic auth?

I  checked staging and it looks like the default version is a particular hash and when I click skip IAP it gives me an option to supply username and password.

[2019-03-10 23:02] jlewi commented on #2311
What is the remaining work to be done with this issue? Is there work we plan on completing in 0.5?

[2019-03-10 23:13] jlewi commented on #2178
Moving to 0.6 because to my knowledge no one is working on this.

[2019-03-10 23:15] jlewi commented on #2444
@kkasravi Is there more work to be done on this issue? Are we going to be using home-brew with 0.5 or should we push this to 0.6?

[2019-03-10 23:22] jlewi commented on #1961
ksonnet is going away so this issue is no longer relevant.

[2019-03-10 23:22] #1961 closed

[2019-03-10 23:26] jlewi commented on #2010
Given ksonnet is going away; would we still want to invest in this test?

[2019-03-10 23:31] jlewi commented on #151
@JoeyZwicker @Nick-Harvey Is there more work to be done here?

Looks like the example is still pending in kubeflow/examples#522

[2019-03-11 03:47] johnugeorge commented on #2311
@jlewi With the current metric collector design, it is difficult to solve.  We have to keep this open till we move into a push based model
/cc @richardsliu

[2019-03-11 03:56] rakelkar opened #2675 "Store Azure Secrets during setup"
kfctl.sh curently stores secrets for GCP and these are later used by Kubeflow Pipelines to authenticate steps. kfctl.sh has been recently updated to support Azure (#2557), however setup doesnt save the secrets t othe cluster... (and it should) @ritazh @aronchick

[2019-03-11 08:50] dreamryx commented on #2226
I will continue the work.  The dockerfiles of related image are list as below:

| image/dockerfile | repo |
| ------ | ------ |
centraldashboard | kubeflow
ambassador | ambassador-envoy
jupyterhub-k8s | kubeflow
vizier-core | katib
vizier-core-rest | katib
studyjobcontroller | katib
metricscollector | katib
suggestion-random | katib
suggestion-grid | katib
suggestion-hyperband | katib
suggestion-b

[2019-03-11 13:10] prodonjs commented on #2614
Closed by #2626 and #2651.

[2019-03-11 13:10] #2614 closed

[2019-03-11 13:11] prodonjs commented on #2359
We have PR #2667 which should be in place by EoD 3/12 which surfaces events from the selected namespace in the cluster. That will close #2615 and that should be the only major landing page related item left.

[2019-03-11 16:55] prodonjs opened #2678 "[Dashboard v1] Hide Central Dashboard sidebar when viewing iframe pages"
Based on some feedback, it seems like the iframe view creates some confusion if the child page has a sidebar component like the Pipeline Dashboard does. An ideal experience would hide the central dashboard's navbar and place some kind of overlay toggle to restore it on top of the iframe view.

[2019-03-11 16:56] prodonjs commented on #2678
/area front-end
/assign @avdaredevil
/assign @prodonjs

[2019-03-11 17:34] lluunn commented on #2507
yeah, waiting for Kam's fixes.

[2019-03-11 17:39] kunmingg commented on #2095
@jlewi
One optional remaining work is update instruction text.
Will roll out this feature with v0.5 once release available.

[2019-03-11 18:34] holdenk commented on #155
So I think Datascientists and ML Engineers still need tools to do large-scale data prep, so while Spark can indeed be used for ML on it's own -- I imagine it will often be used as part of a pipeline along with other ML tools.

[2019-03-11 18:35] holdenk commented on #155
Similar to the comments expressed in https://github.com/kubeflow/kubeflow/issues/2381#issuecomment-460903272

[2019-03-11 18:40] Jeffwan commented on #155
For most of data scientist, their entrypoint is Jupyter Notebook or TFJob in kubeflow, for data engineers, their entrypoint will be spark-job.

[2019-03-11 19:43] avdaredevil commented on #2678
/priority p1
 I'll be working on this

[2019-03-11 19:43] avdaredevil commented on #2359
Additionally I am also planning on getting the support for collapsible sidebar on iframe views #2678 by EOD 3/12

[2019-03-11 20:14] avdaredevil commented on #2546
/assign @prodonjs
Jason's change will include this update.

[2019-03-11 20:16] avdaredevil commented on #2512
@prodonjs How are we looking with the Build Information?

[2019-03-11 20:37] abhi-g opened #2680 "Cannot create notebooks with Custom Image notebooks with Non-IAP deployment"
When launching notebook containers from Custom Images from the spawner UI, I am unable to create notebooks or terminals once the pod is ready and I am at the Jupyter tree view. This happens only when:
  1. the cluster has been setup with "Skip IAP" option checked at the deployment web app.
and 2. The port-forwarding to the Central Dashboard is setup via running the command in Cloud Shell.

If eith

[2019-03-11 20:41] prodonjs commented on #2512
With respect to build version, do you know what the authoritative source of obtaining this is? In my cluster, I see the following.
![Screenshot from 2019-03-11 16-38-50](https://user-images.githubusercontent.com/6835846/54156223-30340780-441c-11e9-9715-a0a54e81a0de.png)

This feels like a top-level object to retrieve information from but I'm not sure. Any thoughts?

[2019-03-11 20:46] holdenk commented on #2267
I think there has been a drop in communication on my part.

So I have the following google accounts logged in my web browser:

1. Personal account (email, gmail)
2. Work account (email, in a specific org)
3. Google Cloud Account (distinct from work e-mail)

Now for some people account 2  and  account 3 _might_ be the same, but I imagine this isn't always the case.

When I go to set up my Kubeflow

[2019-03-11 20:49] prodonjs commented on #2678
Also, I spoke with @ajayalfred, it looks like Riley from the Pipelines UI team is OoO until next week. It looks like the change to the sidebar is isolated to https://github.com/kubeflow/pipelines/blob/master/frontend/src/components/SideNav.tsx#L38. Do you think that's something you can address here as well?

[2019-03-11 20:51] zabbasi commented on #2551
/close

[2019-03-11 20:51] #2551 closed

[2019-03-11 20:52] zabbasi commented on #2551
addressed in [this pr](https://github.com/kubeflow/kubeflow/pull/2666)

[2019-03-11 20:53] kunmingg commented on #2680
Is the spawner UI refer to the old one or the new one?

[2019-03-11 20:57] abhi-g commented on #2680
This is on v0.4.1, so its the new UI, but older backend.

On Mon, Mar 11, 2019 at 1:53 PM Kunming Qu <notifications@github.com> wrote:

[2019-03-11 21:21] gabrielwen commented on #2535
I think the root cause is not just `DefaultClient` but [DefaultTokenSource](https://github.com/golang/oauth2/blob/HEAD/google/default.go#L43), which we also use in other places.  Let me do some testing and see if we could remove `DefaultTokenSource`.

[2019-03-11 22:10] avdaredevil commented on #2678
Sure I can def contribute to their codebase and get it done!

[2019-03-11 22:27] avdaredevil commented on #2512
So according to my conversation with @kunmingg it seems we want to add a new `optionalParam` with the name `kf_version` and use a default of `0.5.0`. And create an issue to update the deployment script which will pass the correct version to dashboard upon deployment. File in question: **_[centraldashboard.jsonnet](https://github.com/kubeflow/kubeflow/blob/master/kubeflow/common/prototypes/centrald

[2019-03-12 00:24] gabrielwen commented on #2535
So it seems we have several options:
### Without `gcloud` as dependency
- We download service account credential file as set with `GOOGLE_APPLICATION_CREDENTIALS`.
- We download user oauth secrets and supply as input to application: [doc](https://cloud.google.com/docs/authentication/end-user)
### With `gcloud` as dependency
- User needs to run `gcloud auth login` and `gcloud auth application-defau

[2019-03-12 00:25] gabrielwen commented on #2535
/cc @kunmingg

[2019-03-12 00:35] gabrielwen commented on #2659
/assign @gabrielwen

[2019-03-12 00:44] kunmingg commented on #2659
@gabrielwen
I have a PR to fix it:
https://github.com/kubeflow/kubeflow/pull/2681
Can you review when have time?

[2019-03-12 00:56] gabrielwen commented on #2658
/assign @gabrielwen

[2019-03-12 00:56] gabrielwen commented on #2657
/assign @gabrielwen

[2019-03-12 00:59] Nick-Harvey commented on #151
@jlewi I think there's an issue with the Argo pipeline/test suite that's keeping this from getting merged. Argo says that tfjob-test is failing but the [logs are blank](http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-examples-presubmit-gis-522-9aecf80-1403-b855?tab=workflow&nodeId=kubeflow-examples-presubmit-gis-522-9aecf80-1403-b855-2774938013&sidePanel=logs%3Akubeflow-exa

[2019-03-12 01:25] lluunn commented on #2641
/assign

[2019-03-12 02:00] bikramnehra commented on #2388
/assign

[2019-03-12 07:51] hzxuzhonghu opened #2682 "running Katib example failed"
After running `kubectl create -f https://raw.githubusercontent.com/kubeflow/katib/master/examples/random-example.yaml`

I can see pods failed with below log
[code]

[2019-03-12 14:34] #2578 closed

[2019-03-12 17:04] kkasravi opened #2685 "kfctl config files should be moved to kustomization"
Right now under bootstrap/config we have
gcp_prototype.yaml
kfctl_basic_auth.yaml
kfctl_default.yaml
kfctl_iap.yaml

Each file repeats a lot of information and should be an overlay on a base file.
This can be a kustomize component.

One possibility would be to have a kustomize transformer config that references the base config but applies variants to the client spec fields as described [here](http

[2019-03-12 17:13] kkasravi opened #2686 "kfctl --version <version> should rely on common standards"
Git has different ways of accessing repo's that include tags, branches, pulls, sha's.
The version CLI flag we supply should be compatible to git repo naming so the version
can be used to fetch and cache the kubeflow repo.

We should document this in the kfctl design doc.

[2019-03-12 20:50] andreyvelich commented on #2665
Can you show the logs from Katib-UI controller and StudyJob controller, please?

[2019-03-12 20:53] andreyvelich commented on #2682
@hzxuzhonghu Can you show your Katib deployment, please?

[2019-03-12 20:53] gabrielwen commented on #2659
/unassign @gabrielwen

[2019-03-12 21:17] gabrielwen commented on #2661
/assign @gabrielwen

[2019-03-12 21:32] avdaredevil commented on #2512
Any thoughts on this @prodonjs?

[2019-03-12 21:49] JavaDerek opened #2688 "tf-operator Docker image based on Cent OS image with a security flaw"
The base image for the tf-operator Docker image (as of March 12, 2019) is vulnerable to https://bugzilla.redhat.com/show_bug.cgi?id=1667032.  Minimally, the tf-operator Dockerfile should apply the appropriate security patches before laying down the actual Kubeflow bits.

[2019-03-12 22:06] avdaredevil commented on #2615
Close?

[2019-03-12 23:09] gabrielwen commented on #2661
do we expect people using other platforms also use basic auth?  e.g. do we need to add a new method to the interface?
https://github.com/kubeflow/kubeflow/blob/master/bootstrap/pkg/apis/apps/group.go#L89-L94

[2019-03-12 23:18] pdmack commented on #2522
Sorry, just seeing this. I'll have a look.

[2019-03-13 00:13] avdaredevil commented on #2359
Delayed by a day because of the Kubeflow Contributor Summit.

[2019-03-13 00:40] #2657 closed

[2019-03-13 00:40] #2658 closed

[2019-03-13 02:20] hzxuzhonghu commented on #2682
of course

[2019-03-13 02:22] hzxuzhonghu commented on #2682
[code]

[2019-03-13 02:24] hzxuzhonghu commented on #2682
I pulled the latest kubernetes code , and found some 400 error in kube-apiserver log when `metrics-collector` get logs from a pod container.

[2019-03-13 13:58] prodonjs commented on #2615
Let's close when #2667 is merged.

[2019-03-13 14:08] prodonjs commented on #2512
It seems like doing some statically during build time would be the best option. The command that already lives in the **Makefile** `git describe --abbrev=0 --tags` seems like it gives us what we're looking for. We could have that be set as an environment variable only in the Makefile.

[2019-03-13 20:45] andreyvelich commented on #2682
Can you show me output of:
```kubectl get pods -n kubeflow```
As well, show the logs from Katib-UI container, please.

[2019-03-13 22:49] jlewi commented on #2475
/assign @zabbasi

[2019-03-13 22:51] lluunn opened #2691 "kfctl config issue"
## Background
Currently, a KFApp has two layers:
1. parent app, the coordinator
2. child apps, a platform (gcp, minikube) and a packageManager (ksonnet, kustomize)

and different actions: init, generate, apply, delete, ..

When we run a command, e.g. `kfctl generate --A=B ...`, coordinator calls GcpApp.Generate and KsApp.Generate with the flags (the `option` variable in the code).
I think it's not

[2019-03-13 22:51] lluunn commented on #2691
@gabrielwen

[2019-03-13 22:54] jlewi commented on #2680
@zabbasi I think this is the custom notebook that we want to use:
https://github.com/kubeflow/examples/blob/master/github_issue_summarization/notebooks/Dockerfile

[2019-03-13 23:06] zhenghuiwang commented on #2580
/cc @jlewi @kunmingg

I created 30 projects at folder `kf-gcp`: `kf-load-test-project1`, `kf-load-test-project2`...`kf-load-test-project30` using https://github.com/kubeflow/testing/pull/325

I ran 20 deployments (10 project X 2 deployment per project) in for 1-click-deployment staging simultaneously using https://github.com/kubeflow/kubeflow/pull/2648. Here are the logs for the final result
[code

[2019-03-13 23:13] kkasravi commented on #2691
I think this makes sense. Each subcommand would call a function that takes the action and flags. This is merged with the app.yaml, unmarshalled into one Spec and given to coordinator. All platform and package managers share this one spec which may be mutated by the platform prior to passing to  the package manager.

[2019-03-13 23:16] kkasravi commented on #2691
We suggested a design doc for kfctl, this would be a good time to produce one, since it is a service with now a wider audience @lluunn @kunmingg @gabrielwen @swiftdiaries

[2019-03-13 23:20] ashahba commented on #2610
/assign @ashahba

[2019-03-13 23:30] gabrielwen commented on #2691
Discussed offline with @lluunn , we agree that information should be able to be shared between different components and be accessed easily.  Thanks for pointing this issue out - I'm gonna need it as well.

@kkasravi : Totally agree that we need a design doc for kfctl.  We have reached a stage where it's not only about kfctl CLI, we also need to consider compatibility with click-to-deploy app and e

[2019-03-13 23:32] swiftdiaries commented on #2691
+1 on the design doc.

[2019-03-13 23:42] kkasravi commented on #2691
i'll refactor as suggested above - and get going on the design doc. Priority should be getting the code in a form we all like.

[2019-03-13 23:45] kkasravi commented on #2691
also no suggestion that others can't jump in on the code

[2019-03-14 01:25] hzxuzhonghu commented on #2682
[code]

[2019-03-14 01:26] hzxuzhonghu commented on #2682
[code]

Katib has no logs

[2019-03-14 01:27] hzxuzhonghu commented on #2682
This can always reproduce

[2019-03-14 01:28] hzxuzhonghu commented on #2682
I doubt  maybe the metric-collector job runs before the the real working job. So there is 404 error in kube-apiserver when getting logs  from pod.

[2019-03-14 02:10] #2659 closed

[2019-03-14 02:15] jlewi commented on #2691
Are we going to be persisting information in two places? e.g. when we persist information to app.yaml is that going to duplicate information stored in other places e.g. GCP DM config files?

[2019-03-14 02:18] jlewi commented on #2688
@richardsliu @zabbasi @pdmack Have we already updated the base image for the tf-job-operator docker image so that the next release will include the security patch?

[2019-03-14 02:24] jlewi opened #2693 "spark-operator test is flaky"
spark-operator test is flaky.

[code]

Here's a screen shot of the graph
![spark-operator](https://user-images.githubusercontent.com/777219/54326914-711b5000-45c5-11e9-9506-e916f90b3295.png)

It looks like there is a race condition; we try to apply the spark operator before `kfctl apply` is finished.

I believe `ks apply` deletes and recreates the environment. I wonder if this could cause this par

[2019-03-14 02:37] jlewi commented on #2693
Here are logs from the `kfctl apply k8s` step that shows that the environment is created during that step.

[code]

[2019-03-14 03:24] johnugeorge commented on #2682
how did you install Katib?  Did you customize the installation ?
Are you running StudyJobs in the same namespace where Katib is installed?

[2019-03-14 03:26] hzxuzhonghu commented on #2682
no clustomize,

All in kubeflow namesapce

[2019-03-14 04:12] #2675 closed

[2019-03-14 06:10] ashahba opened #2696 ""make build" under "bootstrap" module fails due to some go modules missing under /tmp inside Docker."
While running `make build` inside `bootstrap` module I get:
[code]
I noticed some required `go` modules under `hack/v2.zip` are missing from within Docker.

[2019-03-14 06:10] ashahba commented on #2696
/lable kfctl

[2019-03-14 06:10] ashahba commented on #2696
/assign @ashahba

[2019-03-14 08:51] yuezhilanyi opened #2698 "Back-off pulling image \"mitdbg/modeldb-backend:kf0.4\"
I tried minikube for kubeflow using links from [website](https://www.kubeflow.org/docs/started/getting-started-minikube/).
But it failed to pull modeldb-backend image while the modeldb-db and modeldb-frontend succeed.

Logs after i run `sudo kubectl get pods -n kubeflow`

Logs after i run `sudo minikube logs`

tips:
- i can pull the image using docker

[2019-03-14 11:30] pdmack commented on #2688
This will be fixed by an updated image from centos.
Hopefully early next week.

[2019-03-14 13:11] jlewi commented on #2698
/cc @r2d4

[2019-03-14 13:12] jlewi opened #2699 "kfctl go doesn't exit with non-zero exit code on failure"
I ran kfctl with invalid arguments so it exits with an error; but the exit code is still zero

[code]

We should exit with non-zero exit code on failure.

[2019-03-14 14:20] kkasravi commented on #2691
right now we're copying that information into app.yaml (see below for a sample app.yaml). Since app.yaml is created after `init`, the user can modify app.yaml prior to running `generate` to change the components or parameters.

An alternative would be to provide a kustomization layer based on config files. I opened #2685 for this and would avoid duplication of the config info.

[2019-03-14 15:47] kunmingg commented on #2691
@jlewi Agree.
One possible problem with duplicate config would be:
[code]
It could be flaky to have a ```app.yaml``` to pass parameters between steps:
* user are allowed to overwrite between steps
* kfctl might duplicate values to different places in previous steps, which is not covered by user's overwrite

Can we remove ``` app.yaml ``` and apply just read gcp/k8s configs to figure out necessary

[2019-03-14 16:15] kkasravi commented on #2691
@kunmingg actually this is how it works now, you'll get a usage error
[code]

each subcommand has a specific set of flags. A good example is the generate subcommand
https://github.com/kubeflow/kubeflow/blob/master/bootstrap/cmd/kfctl/cmd/generate.go#L82

[2019-03-14 16:35] kkasravi commented on #2691
I should note that `--project` can only be set in `kfctl init ...` but is available to subsequent commands in their specific application_type. The proposal is to simplify this and put all values in ClientSpec
so it would look like
[code]
and this would be passed to each KfApp. This means the KfApp Interface would now look like

[code]

"Spec" is now mutable and needs to be saved after each coordin

[2019-03-14 16:42] kunmingg commented on #2691
How about
[code]
```ApplySpec DeleteSpec GenerateSpec InitSpec``` are directly from user input and their fields are exclusive?

I feel it could be danger to allow edit "app.yaml" (ClientSpec) between steps as eg. user can change project after init, break consistency among actions.

[2019-03-14 17:14] jlewi commented on #2691
Do we have a short term fix?

Some high level thoughts

- apply should not take config parameters
   - the goal is to be entirely declarative
   - by the time we call apply all parameters should be specified in the underlying config calls

- the point of init/generate is to create default config files

- after init/generate are called users should modify the underlying config files to change confi

[2019-03-14 17:32] lluunn commented on #2691
@kunmingg the problem is some fields are needed in both generate and apply, like UseIstio, generated component will have different param, and apply will need to install istio first.

agree

@jlewi but what if users want to change things like, UseBasicAuth? This will need different components and doesn't seem it's doable by directly modifying things.

agree. Most of the param should be passed durin

[2019-03-14 17:39] kkasravi commented on #2691
There is a short term fix which I can open a PR for. @lluunn is there an issue open?

We could better align the flags with init and generate, I think that makes sense. We should also allow multiple generate calls perhaps with a —force flag so the user is aware that they are replacing the last generate.

[2019-03-14 17:54] lluunn commented on #2691
you mean PR? I haven't opened any PR for this issue.
What's the short term fix?

[2019-03-14 18:07] kkasravi commented on #2691
@kunming Also —platform, —version, —repo?

[2019-03-14 18:12] kkasravi commented on #2691
@kunming, I’ll make a pass on the different Specs and post here for feedback or point you to the code in the PR

[2019-03-14 19:31] kkasravi commented on #2691
@lluunn

The extra components and componentParams set in GCP need to be made available to the package managers. For basic auth - the basic-auth-ingress component needs to be added to the components so ksonnet can see it. This was being done when GCP managed / called Ksonnet but
was dropped on the merge when coordinator was introduced. I'll make this change (along with adding other gcp components t

[2019-03-14 19:51] jlewi opened #2700 "tf-serving E2E test is flaky; problem updating the deployment"
Related: #815 - No explanation of test flakiness

There is a problem updating the deployment. Were there multiple pods?

It also looks like tf-serving is running inside the test cluster itself `kubeflow-testing`

[code]

[2019-03-14 20:06] gabrielwen opened #2701 "[kfctl] ipName and hostname doesn't set on basic-auth-ingress"
both of `ipName` and `hostname` param to basic-auth-ingress doesn't get set.

[2019-03-14 20:07] gabrielwen commented on #2701
/assign @gabrielwen

[2019-03-14 22:25] bikramnehra commented on #2388
https://github.com/kubeflow/kubeflow/pull/2403 merged.

This can be closed now

[2019-03-14 22:32] lluunn commented on #2388
thanks!

[2019-03-14 22:32] #2388 closed

[2019-03-14 23:20] #2701 closed

[2019-03-14 23:26] kunmingg commented on #2601
Remove from 0.5.0 as we are not likely to ship it in this release.
Todo:
add to 0.6.0 once tag is created.

[2019-03-14 23:27] kunmingg commented on #2387
Would be covered by new deployment API
Todo:
Move to 0.6.0

[2019-03-14 23:31] kunmingg commented on #2132
Closing this one to clear v0.5.0 issues, let's use new issues to track follow up requests.

[2019-03-14 23:31] #2132 closed

[2019-03-14 23:32] kunmingg commented on #1971
Will covered by new deployment API effort.
Remove from v0.5.0

[2019-03-15 00:01] jlewi opened #2703 "minikube E2E test is failing"
Failing repeatedly on presubmit.
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/2694/kubeflow-presubmit/6288/

Here are the logs.
[kubeflow-presubmit-kubeflow-e2e-minikube-2694-a624076-6288-0556-1523221872.log.txt](https://github.com/kubeflow/kubeflow/files/2968902/kubeflow-presubmit-kubeflow-e2e-minikube-2694-a624076-6288-0556-1523221872.log.txt)

Not clear why the

[2019-03-15 00:28] andreyvelich commented on #2682
@hzxuzhonghu
Can you try to delete all StudyJobs and deploy Katib again?
As well, try to check logs from vizier-core.

[2019-03-15 00:53] jlewi commented on #2703
From the event logs it looks like the pod is evicted after reaching the deadline set in the Argo workflow

The pod logs however show no activity for a very long time.

[kubeflow-presubmit-kubeflow-e2e-minikube-2694-a624076-6288-0556-1523221872.event.log.txt](https://github.com/kubeflow/kubeflow/files/2968996/kubeflow-presubmit-kubeflow-e2e-minikube-2694-a624076-6288-0556-1523221872.event.log.txt)

[2019-03-15 00:53] vincent-pli commented on #2539
If your pod Jupyter-${user} is running, you should check the log of it,
I guess the problem is about the PV：
one possibility is permission denied for user jovyan(seems it's default user in Jupyter)

[2019-03-15 00:54] yuezhilanyi commented on #2698
I have tried about 1 week.

But I pulled the image to the client using commands `sudo docker pull mitdbg/modeldb-backend` yesterday afternoon, and edit the yaml file by adding `"imagePullPolicy": "IfNotPresent"` in the "spec"-"containers" paragraph. Now it worked.

But I still have a question, whether the above measures have played a role or it is only a network issue?

Logs after i run sudo minik

[2019-03-15 01:43] kkasravi commented on #2635
fixed in #2673

[2019-03-15 01:43] #2635 closed

[2019-03-15 01:46] kkasravi commented on #2670
/assign @kkasravi

[2019-03-15 01:46] #2693 closed

[2019-03-15 01:47] kkasravi commented on #2670
/close

[2019-03-15 01:47] #2670 closed

[2019-03-15 02:50] jlewi commented on #2535
@gabrielwen That seems good to me.  What is the error message a user sees if they don't run `gcloud auth login` and/or `gcloud auth application-default login`?

Can we detect if a user doesn't have a credential and provide an error message that mentions the different approaches they can use?

[2019-03-15 02:52] jlewi commented on #2661
Yes we expect people on other platforms to use basic auth.

@gabrielwen Is this fixed can we close it?

[2019-03-15 03:01] gabrielwen commented on #2661
Still need to add the cmd `create-basic-auth-secret`.  Currently it's passed during `kfctl init`

[2019-03-15 03:15] jlewi commented on #2661
@gabrielwen I also think we should avoid storing the encrypted password if possible.

We generally want to avoid storing sensitive information in the app directory because the expectation is people will check their app into source control.

The pattern we follow with other sensitive information like client_id and client_secret is to read it from an environment variable. This way we avoid storing i

[2019-03-15 04:03] gabrielwen commented on #2661
Yep, makes sense.  will make the change tomorrow first thing.

[2019-03-15 05:07] jlewi opened #2706 "kfctl tries to call ks init even on ks generate platform"
I'm using #2705 which has  a WIP E2E test for kfctl.

It looks like when I call `kfctl generate platform` it ends up calling `ks init` which fails because there is no cluster to connect to.

Here are the logs.

[code]

It looks to me like the bug is in `kfctl generate`
https://github.com/kubeflow/kubeflow/blob/b42734af7845087b6bd42e36d01422cb34ec8aa0/bootstrap/pkg/client/coordinator/coordinator.go

[2019-03-15 05:56] jlewi opened #2707 "kfctl creates invalid IAM policy binding file if email not set"
I didn't set `-email` when calling `kfctl init`.

As a result I ended up with the following iam policy binding YAML file.

This turns out to generate an error when trying to apply it because we are missing an email for the user

[code]

Full YAML

[code]

/cc @gabrielwen

[2019-03-15 06:05] jlewi commented on #2706
I deployed another cluster after fixing the switch statement to create the cluster first.

I'm still getting the same error.

[code]
Note the IP address is the same even though its a different cluster.

The actual IP of the cluster I just created is `35.243.169.72`. I suspect the problem is how we call `ks init`.

/cc @gabrielwen

[2019-03-15 06:09] jlewi commented on #2706
It looks like its using whatever cluster is in the current context of kubectl

https://github.com/kubeflow/kubeflow/blob/b42734af7845087b6bd42e36d01422cb34ec8aa0/bootstrap/pkg/apis/apps/group.go#L175

`kubectl cluster-info
Kubernetes master is running at https://35.229.112.22
`

So one quick fix would be to just shell out to `gcloud container get-credentials`

[2019-03-15 06:28] jlewi commented on #2706
I think the problem might be here:
https://github.com/kubeflow/kubeflow/blob/b42734af7845087b6bd42e36d01422cb34ec8aa0/bootstrap/pkg/client/ksonnet/ksonnet.go#L490

I think that is where we are actually trying to connect to the server to the K8s version so that the swagger spec can then be fetched.

Some info here about working with on prem and no connectivity
https://github.com/kubeflow/kubeflow/i

[2019-03-15 12:51] JavaDerek commented on #2688
BTW, I don't know if this should be a separate issue or not, but if the "7" tag basically means "the latest version of CentOS 7"... is that the right choice for basing KF images?  On one hand, I'll be happy to see these security fixes just automatically flow into KF this time.  But, doesn't that technically open the door for everything in KF to break if there was ever a CentOS push of something in

[2019-03-15 13:03] jlewi commented on #2359
@avdaredevil @prodonjs It looks like #2576 reverted the Docker image
https://github.com/kubeflow/kubeflow/blob/b42734af7845087b6bd42e36d01422cb34ec8aa0/kubeflow/common/prototypes/centraldashboard.jsonnet#L6

To an older value
gcr.io/kubeflow-images-public/centraldashboard:v20190301-v0.4.0-rc.1-183-g07eecd2f

Can we fix this?

[2019-03-15 13:32] prodonjs commented on #2359
We have two PRs that should get merged today that wrap up the dashboard
work. We can build the new container image on the latter of those and then
bump that comment. Since that's an optional parameter, what is the default
behavior when Kubeflow is being deployed? Does it build a new container
from master?

On Fri, Mar 15, 2019 at 9:03 AM Jeremy Lewi <notifications@github.com>
wrote:

[2019-03-15 13:37] jlewi opened #2709 "kfctl needs to support passing swagger spec to ks init from file"
By default ksonnet tries to contact the internet in order to download the swagger spec for the K8s API version being used and generate the K8s libsonnet file for it.

This causes problems for on prem situations in which there is no internet access (see #1615).  ksonnet supports passing the swagger spec from a file on `ks init`. kfctl should expose a suitable command line option to `ks generate k8s

[2019-03-15 13:42] jlewi commented on #2709
/cc @gabrielwen @kkasravi

[2019-03-15 14:25] jlewi commented on #2535
I confirmed by running the E2E test locally #2705 that we don't need to set `GOOGLE_APPLICATION_CREDENTIALS`.

If we need to improve the log message we can open up  a new issue.

[2019-03-15 14:25] #2535 closed

[2019-03-15 14:56] kunmingg opened #2712 "click-to-deploy and kfctl should share code for shared logic."
We have gcp_util / k8s_utils / ksonnet_util / kustomize_util which can be shared between click-to-deploy and kfctl.

click-to-deploy API rewrite and kustomize migration could be 2 chances to help with this effort.

[2019-03-15 15:20] jlewi commented on #2712
At a minimum to deploy 0.5 do we need to rewrite the handler for "/e2edeploy" to use the kfctl library so that the logic is the same?

Could we add support for this and rollout it out to prod behind a query argument so that we could test it out before making it the default? And then change the default so that users will use the new logic but can fall back to the old logic if necessary.

[2019-03-15 17:12] richardsliu commented on #2688
/assign @zabbasi

[2019-03-15 20:58] gabrielwen opened #2715 "make build-kfctl is failed during test"
Seems like something wrong with deepcopy.  FYI, `make build-kfctl` works fine in local machine.  However, it fails on both JUNIT and Argo.

[code]

[2019-03-15 21:00] #2678 closed

[2019-03-15 21:22] kunmingg opened #2716 "Ship v0.5.0 release"
Track todos here and ship release v0.5.0
Todos:
- [x] https://github.com/kubeflow/kubeflow/issues/1859
- [x] https://github.com/kubeflow/kubeflow/issues/2588
- [x] https://github.com/kubeflow/kubeflow/issues/2723
- [x] https://github.com/kubeflow/kubeflow/issues/2641
- [x] https://github.com/kubeflow/kubeflow/pull/2733

TFJob blockers:
- [x] https://github.com/kubeflow/tf-operator/issues/550
- [x]

[2019-03-15 21:27] lluunn commented on #2716
I will cut the first RC early next week

[2019-03-15 21:50] gabrielwen commented on #2715
/assign @gabrielwen

[2019-03-15 21:53] kunmingg commented on #2610
We need presubmit test covering kfctl for basic auth & IAP path.
@jlewi and @gabrielwen have coming PRs for it.

[2019-03-15 22:06] kunmingg commented on #2712
TODOs:
- https://github.com/kubeflow/kubeflow/issues/2610
- refactor kfctl interface to fit use case of app backend.
- app backend: add execute path using libs imported from kfctl.
- kfctl:
  1. Monitoring integration
  2. retry wrapper around API calls

[2019-03-15 22:39] richardsliu commented on #2716
Need to update release images for:
- tf-operator
- pytorch-operator
- katib
- jupyter images
- dashboard

[2019-03-15 23:02] gabrielwen commented on #2715
confirmed it's because `GOPATH` is not set.

[2019-03-15 23:15] zabbasi commented on #2475
#2710

[2019-03-15 23:15] zabbasi commented on #2475
/close

[2019-03-15 23:26] jlewi commented on #2610
After #2705 is merged here is some follow on work.

* We need to actually extend the E2E workflow will the validation steps we currently run in kfctl_test
  * e.g. Try submitting a TFJob

* kfctl delete is failing;
  * Delete is failing because `kfctl delete` expects a kubeconfig file and there is none.

* As a result we will be leaking deployments in the project `kubeflow-ci-deployment`
  * We wi

[2019-03-15 23:36] #2642 closed

[2019-03-16 21:34] #2706 closed

[2019-03-16 22:09] jlewi opened #2722 "kfctl apply fails trying to deploy to 127.0.0.1"
Trying to deploy using v0.4.0-rc.1-228-ged8b484f

I get the following

[code]

I think this is due to #2705.

In that change I changed the server address to 127.0.0.1 because of #2706. In particular, during generate there is no K8s cluster to talk to.

We should be creating a new ksonnet environment before applying the config but that doesn't appear to be happening.

It look like the E2E test isn'

[2019-03-16 22:21] jlewi commented on #2722
Looks like I just needed to resync.

[2019-03-16 22:21] #2722 closed

[2019-03-16 22:22] #2699 closed

[2019-03-16 23:20] jlewi commented on #2588
@kimwnasptd @vkoukis @lluunn Any thoughts on what we could do for 0.5 so that users know when their pod is ready?

Could we work on updating the UI to show a status based on the Jupyter resource conditions? Maybe we could just report the most recent condition of the resource.

This way once #2417 is fixed the status will be reported.

[2019-03-16 23:27] jlewi opened #2723 "Jupyter resource should indicate when notebook is running"
We want the jupyter web app to report when the notebook is ready so the user knows when to try to connect to it (#2588).

#2558 modified the jupyter notebook resource to add a condition "READY"

But the READY condition doesn't take into account whether the container is actually created and running.

We should update the conditions to indicate when the jupyter container is actually running.

We nee

[2019-03-16 23:27] jlewi commented on #2723
/cc @zabbasi

[2019-03-17 23:55] jlewi commented on #2665
cc @vicaire /

[2019-03-17 23:57] jlewi commented on #2652
Fixed.

Labels can also be specified here.
https://github.com/kubeflow/testing/blob/master/label_sync/kubeflow_label.yml

You can use that to rename labels.

[2019-03-17 23:57] #2652 closed

[2019-03-17 23:59] jlewi commented on #2639
I think reporting the status of the notebook in the UI #2588 is more important.

[2019-03-18 14:43] kkasravi opened #2724 "kfctl use case: deploy a component from within a container"
the OpenVINO use case in kubeflow pipelines needs to deploy a serving component after training is completed using parameters from the training phase. The approach is to launch a job that deploys a kfctl container with the required parameters as args. The kfctl cli will then deploy a single component, passing the args as that components arguments.

Requirements
1) Create a docker container that run

[2019-03-18 15:41] kunmingg commented on #2724
For single component, would it be easier to manage with CRD + controller?

[2019-03-18 16:09] kunmingg commented on #2095
Will close as it's already alive on staging

[2019-03-18 16:09] #2095 closed

[2019-03-18 16:15] kunmingg commented on #2605
@gabrielwen
Can we close this one?

[2019-03-18 16:16] kunmingg commented on #2507
@lluunn
Any update?

[2019-03-18 16:22] kunmingg commented on #2370
@gabrielwen
Can we close this one?

[2019-03-18 16:27] kunmingg commented on #2604
@gabrielwen
Can we close this one?

[2019-03-18 16:30] kunmingg commented on #2709
/assign @kunmingg

[2019-03-18 16:41] chenglinzhang commented on #2521
For resource authorization to work, we will need the ability to define/maintain user ids and team structures also in the UI. The problem is how to map user ids and team structures to Kubernetes.

[2019-03-18 17:25] gabrielwen commented on #2604
/close

[2019-03-18 17:26] gabrielwen commented on #2604
not yet, we haven't implemented this one.  but I think this is at lower priority.

[2019-03-18 17:27] gabrielwen commented on #2605
yes, we should be able to close it.

[2019-03-18 17:27] gabrielwen commented on #2605
/close

[2019-03-18 17:27] #2605 closed

[2019-03-18 17:37] kunmingg opened #2725 "kfctl presubmit test failure"
couldn't generate KfApp: coordinator Generate failed for ksonnet: couldn't initialize KfApi: there was a problem initializing the app: Could not create app; directory '/mnt/test
-data-volume/kubeflow-presubmit-kfctl-go-2655-ba9a167-6389-7998/kfctl-7998/ks_app' already exists

[2019-03-18 17:42] lluunn commented on #2725
Did you merge master?
I remember reviewed a PR from @gabrielwen to use MakeDirAll which should not have error if dir exist?

[2019-03-18 17:44] kunmingg commented on #2725
Just synced

[2019-03-18 18:58] hmdsatoshi opened #2727 "Can't access tensorboard via ambassador."
Can't access tensorboard via ambassador.

## What I did
I deployed tensorboard my cluster.
So I guessed I can access as below. But I can't do it.
http://clusterIP:ambassdorPort/tensorboard/

I checked ambassador annotation of tensorboard services resource.

[code]

When I compared with other svc resources, I thought that the prefix is wrong.
So I rewritten below file. And I done reinstall pkg and

[2019-03-18 19:17] lluunn commented on #2715
is it fixed?

[2019-03-18 19:18] gabrielwen commented on #2715
the fix is in #2713

[2019-03-18 19:32] gabrielwen commented on #2715
#2713 might take longer, adding another PR to fix this #2729

[2019-03-18 20:01] gabrielwen commented on #2725
there is another failure:
[code]
somehow it fails at `gcloud get-credentials`:
https://github.com/kubeflow/kubeflow/blob/28d9e09793bf52c9c396533ea226d97141effbf4/bootstrap/pkg/client/gcp/gcp.go#L510

[2019-03-18 21:19] gabrielwen commented on #2725
this seems wrong... `--project=kubeflow-ci-deployment`

[2019-03-18 21:28] kunmingg commented on #2725
@gabrielwen
```kubeflow-ci-deployment``` is the sandbox project for kfctl tests.
https://github.com/kubeflow/kubeflow/issues/2610#issuecomment-473471641

[2019-03-18 22:17] kunmingg commented on #2716
One more pending:
* Switch default to new notebook UI + controller before release cut
@zabbasi

[2019-03-18 22:37] #2580 closed

[2019-03-18 22:40] gabrielwen commented on #2725
another error appears: `level=error msg="Deployment error: &{Code:RESOURCE_ERROR Location:/de
ployments/kfctl-cc4c/resources/kfctl-cc4c-ip Message:{\"ResourceType\":\"compute.v1.globalAddress\",\"ResourceErrorCode\":\"403\",\"Resou
rceErrorMessage\":{\"code\":403,\"errors\":[{\"domain\":\"usageLimits\",\"message\":\"Quota 'STATIC_ADDRESSES' exceeded. Limit: 21.0 glob
ally.\",\"reason\":\"quotaExce

[2019-03-18 23:28] saidsef opened #2731 "back-off pulling image: openvino-model-server"
I've installed kubeflow in k8s via ksonnet, it appears to fail when attempting to pull the image for openvino:

Events Log:
[code]

From the events log, it seems the image is either referenced incorrectly or the repo is private.

---
Kubeflow: v0.4.1
Kubernetes: v1.13.2
Ksonnet version: 0.13.1
jsonnet version: v0.11.2
client-go version: kubernetes-1.10.4

[2019-03-18 23:29] kunmingg commented on #2580
Thanks!

[2019-03-18 23:34] kunmingg commented on #2725
@gabrielwen
https://github.com/kubeflow/testing/blob/master/py/kubeflow/testing/cleanup_ci.py should help

[2019-03-19 01:57] vicaire commented on #2665
Is this issue for the pipeline UI or for the master UI that iframes the other UIs?

Since both Katib and pipeline are affected, I am guessing this is an issue on the kubeflow-core side. Let me know if that's not the case and if you need someone from the pipeline team to have a look. Thanks.

[2019-03-19 02:31] gabrielwen commented on #2725
Now it's `The node was low on resource: nodefs`.

[2019-03-19 10:30] llegolas opened #2734 "ClusterRoleBindings creations are flowed in 0.4.1"
clusterrolebindings across all components I've checked  are having default subjects which is breaking any previous deployments. Perhaps related to #374. It seem fix for ambassador has been accepted on March 12 2018 but i cannot see that in release 0.4.1

[2019-03-19 11:46] dmrub commented on #2522
We had similar problem and found this solution: https://github.com/dmrub/kubeflow/commit/9b31f7ee866b793ee1fbf79354ac7f137eb7adb2, I modified Jupyter Spawner configuration in my Kubeflow fork: https://github.com/dmrub/kubeflow/commit/9b31f7ee866b793ee1fbf79354ac7f137eb7adb2

[2019-03-19 12:47] holdenk opened #2735 "setup-minikube.sh does not detect Ubuntu correctly and fails to installs kubectl"

[2019-03-19 13:12] holdenk opened #2736 "setup-minikube should probably install pyyaml"

[2019-03-19 13:29] rp4fx12 opened #2738 "Is there a plan for Kubeflow to replace ksonnet with something else like helm?"

[2019-03-19 13:33] kkasravi commented on #2738
We are replacing ksonnet with kustomize. kfctl has a plugin design, so additional package managers may also be considered and could be added between scheduled releases.

[2019-03-19 13:47] kkasravi commented on #2724
@kunmingg probably. Though it looks like kubeflow/pipelines is doing something similar with [TF Serving](https://github.com/kubeflow/pipelines/blob/1045e023f32d2e99a0062c28980a9b847a40a679/components/kubeflow/deployer/src/deploy.sh)

If we were to approach adding single components using a CRD + controller, would the controller be an [Application controller](https://docs.google.com/document/d/11vAk

[2019-03-19 15:50] vkoukis commented on #2588
@jlewi

If I understand correctly, you propose the Notebooks UI shows  the latest status of instances of `Notebook` objects, as reported by the K8s API. I agree completely. Yes, the Notebooks UI manages `Notebook` instances: It creates, deletes them, and shows as much information as it can about them, in a user-friendly way.

We also went over this as part of today's community meeting: We agreed e

[2019-03-19 16:00] vkoukis commented on #2723
Two questions here, after the discussion in today's community meeting:
1. @jlewi Ca we make this part of 0.5., so that in combination with #2588 we have full e2e status reporting for notebooks? This way we will show significant UX improvements in 0.5, compared to 0.4.

2. If I understand correctly, the plan in this issue is to expose the full pod status as part of the status field of the `Notebook

[2019-03-19 16:00] vkoukis commented on #2723
I think I should also /cc @lluunn here

[2019-03-19 17:37] zabbasi commented on #2551
#2730

[2019-03-19 17:55] lluunn commented on #2716
notebook CR status:
https://github.com/kubeflow/kubeflow/issues/2588
https://github.com/kubeflow/kubeflow/issues/2723

@vkoukis @kimwnasptd

[2019-03-19 19:02] ellis-bigelow commented on #2306
What is Kubeflow's process regarding open/closing? I'm still coordinating with MSFT and Bloomberg engineers on this proposal.

[2019-03-19 19:17] gabrielwen commented on #2725
thanks to @kunmingg , the test appears to be running as default service account and not having enough scope to run `gcloud get-credentials`, fixing it.

[2019-03-19 19:51] lluunn commented on #2723
@vkoukis
I think StatefulSet or Deployment only surfaces things like number of replicas that's ready.
Is that enough?

If we want to show the more low level detail, is it possible that the UI go query the pod directly (use labels)?

[2019-03-19 19:54] lluunn commented on #2724
Why do we need kfctl to deploy the component? Shouldn't we just generate the manifest(ks or kustomize) somehow?
Like using fairing?
@r2d4

[2019-03-19 20:10] gabrielwen commented on #2725
now we have the following error: `could not create resources in rbac-setup.yaml exit status 1`

[2019-03-19 20:49] elviraux opened #2741 "Kubeflow github onboarding experience"
Kubeflow/Kubeflow repo is one of the starting point alongside with the website.
Current user journey leads everyone straight to the website main page without consideration of the user's end goal.

1. How do I install Kubeflow (locally, on cloud, on-prem)?
2. What capabilities does KF have?
3. What KF modules exist?
4. What modules are packaged in KF by default?
5. What KF modules will be installed

[2019-03-19 21:05] kunmingg commented on #2725
@gabrielwen
One possible fix: https://github.com/kubeflow/kubeflow/pull/2742/files
testing

[2019-03-19 21:08] gabrielwen commented on #2725
@kunmingg
I think it's because for rbac-setup you need to impersonate as admin: https://github.com/kubeflow/kubeflow/pull/2729/files

after impersonation I could pass that error and having another error, looking.

[2019-03-19 21:39] kkasravi commented on #2724
@lluunn I'm not sure about fairing but this use case is a user deploying an additional component after kfctl apply - so the user probably won't have access to the kfctl environment and probably doesn't have privileges to the <kubeflow> namespace.

[2019-03-19 21:39] kkasravi commented on #2724
Jeremy has an umbrella issue on this i believe - https://github.com/kubeflow/pipelines/issues/677

[2019-03-19 21:58] zabbasi commented on #2723
@vkoukis following @lluunn  comment I'm working to surface replicasReady.

[2019-03-19 22:49] kunmingg commented on #2725
@gabrielwen

Now https://github.com/kubeflow/kubeflow/pull/2742 has failure during apply:
[code]

My guess is when run apply, somehow we use in-cluser kubeconfig (since kfctl is in a pod), so apply with point to cluster in kubeflow-ci which host kfctl, instead of kubeflow-ci-deployment

[2019-03-19 23:13] avdaredevil commented on #2716
This PR:
#2733

[2019-03-19 23:15] avdaredevil commented on #2615
/close

[2019-03-19 23:15] #2615 closed

[2019-03-19 23:56] gabrielwen commented on #2725
@kunmingg

Now #2729 passes kfctl_go_test and fails on kfctl_test.

[2019-03-20 00:42] #2715 closed

[2019-03-20 01:12] andrewcheny commented on #1933
I have exactly the same error on the first run (fresh install). I run the script for the 2nd time and the problem is fixed.

[2019-03-20 01:24] #2359 closed

[2019-03-20 03:06] vkoukis commented on #2723
@lluunn
Hello Lun-kai,

The controller currently runs a StatefulSet for a single replica. So if you implement  just reporting of ready replicas, then we will essentially have a binary field: Either the Notebook is ready, or it's not. There is no way to expose to the user that the Notebook is being created, or that something has gone wrong.

For example, we have seen that one of the biggest user gr

[2019-03-20 07:08] lluunn commented on #2716
admission webhook: https://github.com/kubeflow/kubeflow/issues/2641

[2019-03-20 07:34] govindKAG commented on #2738
relevant issues page : https://github.com/kubeflow/kubeflow/issues/2412

[2019-03-20 17:13] richardsliu commented on #2311
Since this involves redesigning the metric collector, it should be part of the v1alpha2 design.

[2019-03-20 18:01] kunmingg opened #2747 "auto-deploy for v0.4 is failed."
auto-deploy for v0.4 is failed with the following error message: merging object with existing state: CustomResourceDefinition.apiextensions.k8s.io \"pytorchjobs.kubeflow.org\" is invalid: status.storedVersions[1]: Invalid value: \"v1beta2\": must appear in spec.versions"

Seems testing master code was not compatible with this release branch deploy

[2019-03-20 18:02] kunmingg commented on #2747
@gabrielwen

[2019-03-20 18:07] #2691 closed

[2019-03-20 18:11] gabrielwen commented on #2725
/close

[2019-03-20 18:11] #2725 closed

[2019-03-20 18:21] mvartakAtVerta opened #2748 "Integrate ModelDB V2"
ModelDB has been rewritten from the ground up to provide:
- flexible and extensible APIs
- durable storage
- Relational and non-relational DB backends
- re-vamped dashboards

This should be integrated into KubeFlow for release 0.5

[2019-03-20 18:22] mvartakAtVerta commented on #2716
ModelDB V2 integration: #2748

[2019-03-20 18:32] richardsliu commented on #2748
@mvartakAtVerta Is this for katib? If so then we should not block 0.5 on this.

[2019-03-20 18:34] avdaredevil commented on #2678
_**Update:** @rileyjbauer is on this_

[2019-03-20 18:34] avdaredevil commented on #2678
/assign @rileyjbauer

[2019-03-20 18:34] avdaredevil commented on #2678
/open

[2019-03-20 19:02] DQinYuan opened #2749 "Why my kubeflow worker replicas always assigned in the same node"
this is my starting nodes use kubeflow, I start ten tasks including 9 worker replicas and 1 ps relica. but they are almost assigned in 3 nodes:

![stratInTheSameNode](https://user-images.githubusercontent.com/23725000/54711567-2f6e4480-4b85-11e9-931f-9b76d8f30efa.png)

In fact, i have 12 nodes in cluster:

![allNodes](https://user-images.githubusercontent.com/23725000/54711581-35fcbc00-4b85-11e9-9

[2019-03-20 19:06] mvartakAtVerta commented on #2748
@richardsliu no, this is general purpose one (replacing V1). We are waiting for the new Katib API to stabilize before taking on ModeLDB integration

[2019-03-20 19:07] gabrielwen opened #2750 "[kfctl] Finish kfctl delete"
Currently `kfctl delete all` will stop without too much useful information

[2019-03-20 19:57] avdaredevil commented on #2359
We made it! @prodonjs! 🎉

[2019-03-20 20:04] gabrielwen commented on #2750
From logs it seems to be deleting a lot of resources, but it doesn't have any effect.

[2019-03-20 20:04] kunmingg commented on #2750
/area 0.5.0

[2019-03-20 20:29] richardsliu commented on #2748
@mvartakAtVerta Is there already a PR for this?

[2019-03-20 20:31] lluunn commented on #2748
What are the things to be done?

[2019-03-20 21:29] #2157 closed

[2019-03-20 23:24] lluunn opened #2752 "kfctl apply should fail early if no client id/secret environment variable"
right now it fails at creating secret
https://github.com/kubeflow/kubeflow/blob/master/bootstrap/pkg/kfapp/gcp/gcp.go#L693

[2019-03-20 23:38] Ark-kun opened #2753 "Update Argo to later version."
There were many Argo fixes in the last half a year.
It would be great to catch up on them.
Unfortunately, Argo hasn't had any official releases since October. But maybe we can think of something and still update it. https://github.com/argoproj/argo/issues/1212

[2019-03-21 00:25] IronPan opened #2754 "Verify the pipeline upgrade capability works with deployment binary and click-to-deploy UI"
The pipeline upgrade capability is documented here
https://www.kubeflow.org/docs/pipelines/upgrade/

Need to verify the function works smoothly with the new go binary, and update the document since it's still pointing to the kfctl.sh script.

[2019-03-21 00:29] IronPan commented on #2716
One todo for Pipeline: https://github.com/kubeflow/kubeflow/issues/2754

[2019-03-21 01:41] #2707 closed

[2019-03-21 04:19] #2653 closed

[2019-03-21 05:19] mvartakAtVerta commented on #2748
PR here: only affects modeldb component: https://github.com/kubeflow/kubeflow/pull/2757

[2019-03-21 10:30] siddsuresh97 commented on #1057
Hello,
I'm new to contributing to open source. I would like to work on this issue. Could you help me on getting started?

[2019-03-21 15:03] prodonjs opened #2759 "Central Dashboard - Provide a not found view for links that aren't valid"
Current behavior allows a user to directly navigate to a path like `/bad-page` and still see the home page content.

This should be amended to provide some view indicating that the path is not a valid path. This can be addressed by updating the `_routePageChanged` method in the `main-page` component.

[2019-03-21 15:08] prodonjs commented on #2759
/assign @prodonjs
/assign @avdaredevil
/area centraldashboard

[2019-03-21 15:20] #2560 closed

[2019-03-21 16:59] kunmingg commented on #2750
"kfctl delete" on gcp should delete entry in deployment manager + IAM bindings.
We should add "kfctl delete" to presubmit tests.

[2019-03-21 17:39] gabrielwen commented on #2716
#2750

[2019-03-21 17:39] lluunn opened #2760 "kfctl-go e2e test failure"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/2756/kubeflow-presubmit/6480/

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/2743/kubeflow-presubmit/6483/

both from PR unrelated to kfctl, failed at `kfctl apply`

@gabrielwen @kunmingg

[2019-03-21 17:50] richardsliu commented on #2748
@mvartakAtVerta Thanks for the PR. However I don't believe this has to be in the 0.5 release (which is due in a week). This should be in 0.6 since it is feature work.

[2019-03-21 17:51] lluunn commented on #2760
from stackdriver logs

couldn't apply KfApp: coordinator Apply failed for gcp: gcp apply could not update deployment manager Error could not update cluster-kubeflow.yaml: Deployment error(400): BAD REQUEST

[2019-03-21 18:02] kkasravi opened #2761 "kfctl Incorrect ksonnet OptionServer is specified when no platform is provided"
If you run

[code]

you'll get the error
[code]

[2019-03-21 18:04] mvartakAtVerta commented on #2748
@richardsliu I'm not clear on this -- what's the issue in putting this in 0.5? (assuming the PR is ok?)

[2019-03-21 18:26] lluunn commented on #2760
For http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-presubmit-kfctl-go-2756-d0ec554-6496-e376?tab=workflow, the error is

[code]

[2019-03-21 18:26] gabrielwen commented on #2760
I have another error:
[code]

[2019-03-21 21:09] lluunn opened #2766 "make basic auth works with Istio"
Currently only iap part has changes for using istio

[2019-03-21 21:13] gabrielwen opened #2767 "[kfctl] better platform isolation"
Currently in bootstrap/pkg/utils we have multiple platforms included.  need to make platform isolation better - move GCP only stuffs to pkg/kfapp/gcp/...

[2019-03-21 21:33] #2549 closed

[2019-03-21 22:20] avdaredevil commented on #2759
This is affecting our users already. Can we prioritize this @prodonjs?

This also leads to iframe-inception behavior like:
![image](https://user-images.githubusercontent.com/5303018/54788605-dafeaf80-4bec-11e9-95cd-445a9e26e941.png)

---
cc: @mpvartak

/area front-end
/priority p0

[2019-03-21 22:26] lluunn opened #2770 "update notebook controller so that notebook pod has proper annotation for admission webhook"
see #2641

[2019-03-21 22:27] lluunn commented on #2770
annotation description: #2720

[2019-03-21 22:38] prodonjs commented on #2759
I can have it tomorrow morning. Out of curiosity, the screenshot you
provided is from the local dev server right? That type of behavior
shouldn't be possible in-cluster today.

On Thu, Mar 21, 2019, 6:20 PM Apoorv Verma [AP] <notifications@github.com>
wrote:

[2019-03-21 22:40] mpvartak commented on #2759
I had to port-forward to the centraldashboard pod (on GKE) because the ingress wouldn't get provisioned fast enough

[2019-03-21 22:55] lluunn commented on #2641
Next step: testing, install by kfctl and boostrapper

[2019-03-21 23:00] #2761 closed

[2019-03-21 23:16] avdaredevil commented on #2468
/close

[2019-03-21 23:16] #2468 closed

[2019-03-21 23:39] kkasravi opened #2773 "ipName and zone are being written to app.yaml even when no platform is specified"
steps to reproduce
1. kfctl init ~/kubeflow
2. cd ~/kubeflow
3. kfctl generate all

app.yaml

[code]

[2019-03-22 00:26] avdaredevil opened #2775 "[Dashboard v1][Front-End] Create a style guide for all front-end projects integrating with Kubeflow"
#### Child of #2777

## About
There is a lot of color/UI inconsistency across various dashboard and products within the Kubeflow stack. The approach to tackle some of these issues is:
- Create a CSS4 variable palette that people can import in their project
- _**[Optionally]** We can also provide a SASS palette_

This will address the non-uniform color approach, while the broader UI / UX approach w

[2019-03-22 00:56] avdaredevil opened #2777 "[Dashboard v1][Tracker] Bug Bash 1 issues"
## About
This is a parent tracker issue for all Dashboard work that comes as a result of the Kubeflow bug bash

## Issues to Tackle:
- [x] Privacy link in the sidebar doesn't point anywhere - [PR: #2786]
- [x] Style Guide for all framed apps to comply with Kubeflow Design - #2775 [PR: #2878]
- [x] Namespace selector should only show on pages that actually support the behavior - [PR: #2788]

---
/a

[2019-03-22 00:57] avdaredevil commented on #2777
/priority p0

[2019-03-22 03:26] #2773 closed

[2019-03-22 04:03] #2696 closed

[2019-03-22 06:59] xianlubird commented on #2753
@jessesuen @Ark-kun @sarabala1979
Because you are busy,  can we organise  a virtual team to help release v2.3.
Maybe we can work through slack or mail list.
@jessesuen can you select a leader and we can work together to release.

[2019-03-22 16:25] mjgrav2001 commented on #668
@ankushagarwal Hi. I also am trying to pip install two packages (seaborn, imblearn) on a jupyter notebook in kubeflow (trying to create a pipeline for a workflow). I tried several different alternatives considering the Python environment in which the packages might be installed, but those two packages do not appear when I run a 'pip list' no matter what I do. I use the Python3 kernel for the noteb

[2019-03-22 17:54] #2750 closed

[2019-03-22 19:29] #1859 closed

[2019-03-23 19:15] Svendegroote91 opened #2789 "Launching TFJOB with GPU request does not autoscale the gpu-pool"
Hi all,

When I deploy Kubeflow on GKE via the bash script procedure, I tweak the permission params in the cluster.jinja and iam_bindings.yaml so the kubeflow vm service account has extra permissions than the default and the nodes have cloud-platform scopes.

I also adjust the cluster-kubeflow.yaml on gpu-pool-max-nodes: 1 because I want to run a TFJob with a GPU.

When the kubeflow script is ran,

[2019-03-23 21:55] jlewi commented on #2723
@vkoukis What's the latest on this?

[2019-03-23 21:56] jlewi commented on #2709
Should be fixed by #2719

[2019-03-23 21:56] #2709 closed

[2019-03-23 21:57] jlewi commented on #2661
@gabrielwen Can we close this issue?

[2019-03-23 22:02] jlewi commented on #2586
is this blocking for 0.5? Or should we punt it to 0.6 at this point?

[2019-03-23 22:02] jlewi commented on #2585
Moving to 0.6 since its P2.

[2019-03-23 22:03] #2559 closed

[2019-03-23 22:03] jlewi commented on #2515
@gabrielwen @kkasravi Do you think we can get this in for 0.5?

[2019-03-23 22:04] jlewi commented on #2507
@lluunn After #2755 what is the remaining work?

[2019-03-23 22:08] jlewi commented on #2370
Should we close this in favor of more specific issues.

We have the following issues for E2E tests.

#2610 is an E2E test for the go binary
#2343 E2E test with basic auth.

[2019-03-23 22:08] #2370 closed

[2019-03-23 23:26] gabrielwen commented on #2586
it's not blocking.  I have some functions submitted for this but let's put it to 0.6

[2019-03-23 23:26] gabrielwen commented on #2661
/close

[2019-03-23 23:26] #2661 closed

[2019-03-24 00:13] jlewi commented on #2789
It looks like the node auto provisioning is kicking in a provisioning a new GPU pool to fit your workload.
https://cloud.google.com/kubernetes-engine/docs/how-to/node-auto-provisioning

I don't see options to configure VM service account in the auto-provisioned pool.

So one option would be to disable node auto provisioning by modifying
https://github.com/kubeflow/kubeflow/blob/20a80512693d33c1d6f

[2019-03-24 00:24] jlewi opened #2790 "Problem building kfctl - /tmp/v2 not properly created"
When I tried to build kfctl I ran into the same problem @lluunn ran into

[code]

Deleting the directory `/tmp/v2` appeared to fix the issue.

It looks like the Makefile is not properly computing whether /tmp/v2 needs to be rebuilt.

The reasons for this directory are described more in #2636

[2019-03-24 00:47] jlewi commented on #2724
@kkasravi In the case of open vino and pipelines are you deploying a system component or are you deploying an instance?

I would kfctl to only be involved if you are deploying a system component; e.g. the controller for a custom resource but not the custom resource yourself.

For example, we use kfctl to deploy the Seldon controller but not to create individual SeldonDeployments.

Does OpenVino ha

[2019-03-24 00:52] jlewi opened #2791 "kfctl apply fails to create k8s resources; tries to deploy to 127.0.0.1"
When I first run `kfctl apply -v all` it fails with the following error

[code]
If I rerun `kfctl apply -v all` it works.

So it looks like there is a problem getting the cluster to talk when we first run kfctl apply and call ksonnet apply.

I'm using version:
v0.4.0-rc.1-264-g20a80512

/cc @gabrielwen @kkasravi

[2019-03-24 01:44] kkasravi commented on #2724
this is similar to TFServing, using [deploy.sh](https://github.com/kubeflow/pipelines/blob/1045e023f32d2e99a0062c28980a9b847a40a679/components/kubeflow/deployer/src/deploy.sh). A number of values are provided by the prior stage of the pipeline which is why it needs to launched within the pipeline. I don't think our RBAC model handles a use case where system components are added to the kubeflow nam

[2019-03-24 01:51] kkasravi commented on #2791
I  believe this was fixed by #2763 (and #2719)

[2019-03-24 16:00] jlewi commented on #2791
@kkasravi Doesn't look like it. I'm using v0.4.0-rc.1-264-g20a80512
https://github.com/kubeflow/kubeflow/commit/20a80512

Which should include those fixes.

@gabrielwen @kkasravi How does the ksonnet KfApp get the credentials and cluster info to talk to?

My conjecture is that when we first call kfctl apply we initialize the ksonnet KfApp with a dummy address like 127.0.0.1 because the cluster doe

[2019-03-24 18:34] Svendegroote91 commented on #2789
Thanks for the swift response and the solution approaches. Closing this issue.

[2019-03-24 18:34] #2789 closed

[2019-03-24 19:41] gabrielwen commented on #2791
- credentials is from either `.config/gcloud/application_default.json` or `GOOGLE_APPLICATION_CREDENTIALS`.
- we don't really use `gcloud container clusters get-credentials` to get cluster info but Ksonnet still uses KUBECONFIG anyway.  This might be the root cause of the problem.
- I've created a function that could get rid of KUBECONFIG file: [link](https://github.com/kubeflow/kubeflow/blob/4add

[2019-03-24 21:46] jlewi commented on #2604
I think we should try to include it in 0.5.X.
One of the first things users will do is try to run kubectl commands to see if kubeflow is deployed correctly.
e.g. kubectl get ingress is a good way to get the endpoint for Kubeflow.

[2019-03-24 21:57] jlewi commented on #2604
It looks like we are calling `get-credentials` here
https://github.com/kubeflow/kubeflow/blob/3fa97bc61e7b4b1eeb0062a8cbc98920e9da43d5/bootstrap/pkg/kfapp/gcp/gcp.go#L423

[2019-03-24 22:06] jlewi opened #2796 "kfctl generate fails "jupyter" is not a component or a module"
I started seeing the following failures in the presubmit to #2795.

My PR is using: 4addac44f235fa89145e586be5dcb7fbd94fe261

[code]

My suspicion is this is related to #2764 which removed the jupyter component from one of the config files.

I suspect there are some versioning issues here; e.g. when we call `kfctl generate` in the test we aren't pulling the config from the release branch so we are

[2019-03-24 22:14] jlewi commented on #2796
It looks like we no longer define the jupyter component
https://github.com/kubeflow/kubeflow/blob/3fa97bc61e7b4b1eeb0062a8cbc98920e9da43d5/bootstrap/config/kfctl_basic_auth.yaml#L24

But we are still trying to set parameters on it.
https://github.com/kubeflow/kubeflow/blob/3fa97bc61e7b4b1eeb0062a8cbc98920e9da43d5/bootstrap/config/kfctl_basic_auth.yaml#L66

[2019-03-24 22:27] jlewi commented on #2796
Working on a fix in #2795.

[2019-03-25 02:17] CharlesxrWu opened #2797 "no matches for kind "MXJob" in version "kubeflow.org/v1beta1""
I can ran the tf-job, but cannot run the mxnet-job.

The command I use to list crd is
`kubectl get crd`

The output of crd is
`applications.app.k8s.io                      2019-03-18T17:54:51Z`
`...`
`mxjobs.kubeflow.org                          2019-03-24T23:20:39Z`
`pytorchjobs.kubeflow.org                     2019-03-18T17:53:18Z`
`scheduledworkflows.kubeflow.org              2019-03-18T17:53:4

[2019-03-25 09:56] aidangomez commented on #1931
I'm having the same issue @tidylobster, did you manage to track this down?

[2019-03-25 12:54] tidylobster commented on #1931
Hi, @aidangomez

No, I haven't looked at this since then.

[2019-03-25 13:47] Niuxiaotong commented on #1530
form:https://www.kubeflow.org/docs/started/getting-started/
${KFAPP} the name for the kubeflow deployment (shouldn’t be a path). A directory with the name will be created under pwd when you run init, and that is where kubeflow configurations will be stored.
The ksonnet app will be created in the directory ${KFAPP}/ks_app
--
[root@k8s01 ~]# kubeflowsrc/scripts/kfctl.sh init kfapp --platform none
[r

[2019-03-25 14:05] Niuxiaotong opened #2799 "ERROR net/http: request canceled (Client.Timeout exceeded while reading body)"
### Cenos7.6(x86_64)
# k8s：1.12.1
### ksonet**
### deploy kubeflow
### https://www.kubeflow.org/docs/started/getting-started/_

[root@k8s01 ~]# ls
anaconda-ks.cfg  bin  kfapp01  kubeadm.yaml  kubeflowsrc
[root@k8s01 ~]# ../kubeflowsrc/scripts/kfctl.sh generate k8s
--
INFO Creating environment "default" with namespace "default", pointing to "version:v1.12.1" cluster at address "https://10.18.96.6:6

[2019-03-25 14:57] kkasravi commented on #2791
@jlewi what were your `kfctl init` and `kfctl generate` args?

Ksonnet shouldn't use KUBECONFIG (and use the config from the platform if the platform has set it - either by expanding the KfDefSpec to include credentials or a function pointer). This is the pattern in general - so that
- adding new platforms will be transparent to ksonnet (or kustomize).
- not specifying a platform won't break defau

[2019-03-25 14:57] kkasravi commented on #2791
/assign @kkasravi

[2019-03-25 14:59] kkasravi commented on #2561
fixed

[2019-03-25 14:59] #2561 closed

[2019-03-25 14:59] kkasravi commented on #2460
fixed

[2019-03-25 14:59] #2460 closed

[2019-03-25 15:02] kkasravi commented on #2418
fixed

[2019-03-25 15:46] pdmack commented on #2799
Sounds like you can't reach that API server. Are the kubelet/kube-apiserver processes up and healthy on that host? Is that the correct kube context you want to use?

[2019-03-25 15:58] pdmack commented on #2797
The MXJob operator and CRD were just recently updated to v1beta1:

https://github.com/kubeflow/mxnet-operator/commit/f1df1f65aaed128300783f7f3475f1d60c8620cb

Try reinstalling your MXJobs operator and CRD as described [here](https://github.com/kubeflow/mxnet-operator#verify-that-mxnet-support-is-included-in-your-kubeflow-deployment).

[2019-03-25 18:07] lluunn commented on #2507
need testing to make sure it works

[2019-03-25 18:09] lluunn commented on #2723
@zabbasi 's #2743 added ReadyReplica to notebook status,
I am working on #2787 to relay container status to notebook.

[2019-03-25 19:26] #2796 closed

[2019-03-25 20:47] gabrielwen commented on #2760
/close

[2019-03-25 21:16] kkasravi commented on #2177
the profiles component is now being installed in kfctl (golang)

[2019-03-25 21:16] kkasravi commented on #2177
/close

[2019-03-25 21:17] #2177 closed

[2019-03-25 21:18] jlewi opened #2804 "Failure deploying Kubeflow connection reset talking to Deployment Manager"
Observing the following error in presubmits

[code]

[2019-03-25 21:43] lluunn opened #2806 "update istio manifest to released 1.1 version"
we were using a 1.1 snapshot
https://github.com/kubeflow/kubeflow/tree/master/dependencies/istio/install

[2019-03-25 21:55] lluunn commented on #2760
I am still see error in my PR (#2781 )

[code]

[2019-03-25 21:56] lluunn commented on #2760
https://pantheon.corp.google.com/logs/viewer?organizationId=714441643818&project=kubeflow-ci&minLogLevel=0&expandAll=false&timestamp=2019-03-25T21:53:42.336000000Z&customFacets=&limitCustomFacetWidth=true&dateRangeStart=2019-03-25T20:54:04.079Z&dateRangeEnd=2019-03-25T21:54:04.079Z&interval=PT1H&resource=k8s_container&folder=&advancedFilter=resource.type%3D%22k8s_container%22%0Aresource.labels.pod

[2019-03-25 21:58] gabrielwen commented on #2515
/assign @gabrielwen

[2019-03-25 23:14] avdaredevil commented on #2512
/close

[2019-03-25 23:14] #2512 closed

[2019-03-26 00:51] #2752 closed

[2019-03-26 03:09] vkoukis commented on #2723
@jlewi I'm watching #2787, looks great! Once this is merged [I'm seeing you're retesting it right now], we'll submit a PR for #2588 and close it before the end of the week.

[2019-03-26 03:10] vkoukis commented on #2723
/cc @kimwnasptd

[2019-03-26 03:10] vkoukis commented on #2723
/assign @kimwnasptd

[2019-03-26 03:15] jlewi commented on #2791
I looked at a recent successful postsubmit run.
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow_kubeflow/kubeflow-postsubmit/1294

Logs are attached below. You can see in the logs that the error occurs.

[kubeflow-postsubmit-kfctl-go-cefb791-1294-5f69-1259696250.log.txt](https://github.com/kubeflow/kubeflow/files/3006375/kubeflow-postsubmit-kfctl-go-cefb791-1294-5f69-1259696250.log.t

[2019-03-26 03:43] jlewi commented on #2498
This is fixed by #2798.
The config files no longer specify the JupyterHub component
https://github.com/kubeflow/kubeflow/blob/master/bootstrap/config/kfctl_iap.yaml

[2019-03-26 03:43] #2498 closed

[2019-03-26 03:46] jlewi commented on #151
@Nick-Harvey @jdoliner @JoeyZwicker  The example was merged. I'm going to mark this as close.
If there are next steps for improving the Pachyderm + Kubeflow story lets open up new issues.

[2019-03-26 03:46] #151 closed

[2019-03-26 03:50] jlewi commented on #2173
Moving to 0.6 because this hasn't been started yet.

[2019-03-26 04:03] kkasravi opened #2809 "kfctl delete fails when no platform or minikube is specified"
Run the following

kfctl init kubeflow
cd kubeflow
kfctl generate all
kfctl apply all

Then after a few minutes run
kfctl delete all

[2019-03-26 04:05] kkasravi commented on #2809
/area kfctl

[2019-03-26 04:05] kkasravi commented on #2809
/priority p0

[2019-03-26 04:51] jlewi commented on #2190
It doesn't look like we delete it:
https://github.com/kubeflow/kubeflow/blob/4485a65079a1b445195cb7cc34035655919aaaea/bootstrap/pkg/kfapp/gcp/gcp.go#L491

We might also want to add validation to the E2E test for kfctl_delete.

[2019-03-26 04:57] jlewi opened #2811 "spark E2E test is failing; generate fails no prototype"
Here's a presubmit run.
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/2787/kubeflow-presubmit/6705/

E2E test to generate spark fails with

[code]

[2019-03-26 05:02] jlewi commented on #2811
Installing the pkg succeeds so I'm not sure why generate fails.

[2019-03-26 05:06] jlewi commented on #2811
It passed in the most recent periodic run:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow-periodic-master/1016

Not sure why its failing in presubmits.

[2019-03-26 08:47] Niuxiaotong commented on #2799
kubelet/kube-apiserver processes up and healthy on；
kube context？i am not sure.
the erro in my question may be caused by pod-network(eg,flannel )，but i can not slove it

[2019-03-26 08:52] SunFromEast commented on #2799
maybe the network probelm , the network is unstable,  I have inferenced [aliyun](https://yq.aliyun.com/articles/686672?spm=a2c4e.11153940.blogcont600601.58.4f4b1e99V8DePE) and you can also have a try

[2019-03-26 12:06] CharlesxrWu commented on #2797
Follow the guide
`ks pkg install kubeflow/mxnet-job`

But I cannot install kubeflow/mxnet-job
`ERROR resolve registry library: GET https://api.github.com/repos/kubeflow/kubeflow/contents/kubeflow/mxnet-job?ref=b497fd581c823ba3911296ec58c072a48c57c474: 404 Not Found []`

[2019-03-26 12:53] jlewi opened #2812 "[Discussion] Where should kfctl go code live? New repository?"
The code for kfctl is currently in the bootstrap directory
https://github.com/kubeflow/kubeflow/tree/master/bootstrap

We also have the kfctl code directory
https://github.com/kubeflow/kubeflow/tree/master/kfctl

I believe the intent was to eventually move the code into the kfctl directory or simply rename the bootstrap directory. We've postponed doing that though because this will be a disruptive

[2019-03-26 14:59] Niuxiaotong commented on #2799
kubeadm drain <node name>...
kubeamd delete node <node name>
kubeadm reset
after those operation,start again to deploy kubeflow
the question about “../kubeflowsrc/scripts/kfctl.sh generate k8s”“is gone
but appear simliar erro:
../kubeflowsrc/scripts/kfctl.sh apply k8s
INFO Creating environment "default" with namespace "default", pointing to "version:v1.12.1" cluster at address "https://10.18.26.11

[2019-03-26 17:09] hongye-sun commented on #2392
It turns out that I cannot repo the issue any more after we switch to another region. This might be related to another GCE stockout issue which we had before.

[2019-03-26 17:09] #2392 closed

[2019-03-26 17:38] richardsliu commented on #2748
@mvartakAtVerta Is there any work left here or can this be closed? Looks like the PR is merged.

[2019-03-26 17:46] mvartakAtVerta commented on #2748
All set here.
ᐧ

On Tue, Mar 26, 2019 at 10:39 AM Richard Liu <notifications@github.com>
wrote:

[2019-03-26 18:10] kkasravi commented on #2812
We could have clients in this repo, not sure about arena though

[2019-03-26 18:30] lluunn commented on #2811
also in https://github.com/kubeflow/kubeflow/pull/2781

[2019-03-26 18:45] lluunn commented on #2760
http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-presubmit-kfctl-go-2781-14cbe6d-6723-86d3?tab=workflow

[2019-03-26 20:41] gabrielwen commented on #2760
`Invalid value: \"kubeflow-presubmit-kfctl-go-2815-0a9c930-1110636007134334976-0ae6\": must be no more than 63 characters`

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/2815/kubeflow-presubmit/1110636007134334976/

[2019-03-26 20:45] gabrielwen commented on #2604
/assign @gabrielwen

[2019-03-26 21:53] kkasravi commented on #2790
/assign @kkasravi

[2019-03-26 21:55] gabrielwen opened #2817 "[kfctl] Adding unit test coverage to kfctl and enabling it during presubmit"
Currently we have minimal test coverage to kfctl, we should:
- add unit tests to each files/functions.
- run tests during presubmit.

[2019-03-26 22:42] kkasravi opened #2818 "kfctl downloading the kubeflow repo to a local cache should be idempotent"
I've seen the download to cache fail half-way through. It `kfctl init` is rerun we shouldn't return an error if the cache exists, rather just replace it.

[2019-03-26 23:27] lluunn opened #2820 "Presubmit failure: The node was low on resource: nodefs"
example: https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/2816/kubeflow-presubmit/1110678240625692672

[2019-03-26 23:31] lluunn commented on #2820
describe the node:
[code]

[2019-03-26 23:35] lluunn commented on #2820
cc @kunmingg

[2019-03-26 23:41] lluunn commented on #2820
There are 4042 workflows in the cluster, oldest is 19day.
I think there is supposed to be a cron job to cleanup?

cc @jlewi

I will manually delete

[2019-03-26 23:43] lluunn commented on #2820
delete all workflow older than 1d using:
[code]

[2019-03-27 00:32] lluunn commented on #2588
#2723 is fixed now

[2019-03-27 00:32] lluunn commented on #2723
fixed bu #2787

[2019-03-27 00:32] #2723 closed

[2019-03-27 00:37] lluunn opened #2821 "Using "conditions" for notebook status"
In #2723 , we added a field, containerStatus to notebook CR's status.
We can move it to conditions, and the Webui will display the latest condition.

/assign @zabbasi

cc @jlewi @vkoukis

[2019-03-27 01:31] vkoukis commented on #2271
@jlewi I came across this as we are starting to play with multi-user support.
I see you `/assign`ed @kimwnasptd and myself explicitly, but it didn't make a difference, maybe the bot was asleep when you did that. I'll try again.

[2019-03-27 01:31] vkoukis commented on #2271
/assign vkoukis

[2019-03-27 01:32] vkoukis commented on #2271
/assign kimwnasptd

[2019-03-27 01:33] vkoukis commented on #2178
@jlewi We'll pick this up as it aligns nicely with having a single, Web-based UI for Kubeflow

[2019-03-27 01:33] vkoukis commented on #2178
/assign vkoukis

[2019-03-27 01:33] vkoukis commented on #2178
/assign kimwnasptd

[2019-03-27 01:35] jlewi opened #2824 "[kfctl] add retries around deployment manager API calls"
I'm seeing occasional errors trying to talk to the DM API

e.g

[code]

We should add retry logic.

[2019-03-27 02:52] jlewi opened #2825 "katib study job test failing in E2E kfctl test."
In presubmits for #2795 the katib-study-job test has started failing.
It seems unrelated to that PR. I had passing runbefore.

It looks like the test may be broken. The test is reported as succeeding in this postsubmit run.
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow_kubeflow/kubeflow-postsubmit/1110714356615614469

But the logs indicated the job didn't actually succeed.

[code]

[2019-03-27 03:36] jlewi commented on #2820
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/2795/kubeflow-presubmit/1110737630871425024/
I'm seeing the low on `nodefs` issue.
https://pantheon.corp.google.com/logs/viewer?project=kubeflow-ci&minLogLevel=0&expandAll=false&timestamp=2019-03-27T03:31:23.920000000Z&customFacets=&limitCustomFacetWidth=true&dateRangeStart=2019-03-26T03:31:38.960Z&dateRangeEnd=2019-03-

[2019-03-27 04:35] kkasravi opened #2826 "kfctl attribute deleteStorage is appearing in app.yaml when platform is not gcp"
steps to reproduce

1 run `kfctl init kubeflow`

The files looks like

[code]

The deleteStorage attribute appears even though no platform was specified

[2019-03-27 08:31] kimwnasptd commented on #2588
Thank you @lluunn ! We'll move forward with our part ASAP.

[2019-03-27 10:44] cndaimin opened #2829 "[Discussion]How to simplify kubeflow architecture"
Kubeflow is a bit confused me with a lot projects currently, is it in the plan to simplify the architecture? I am not quite sure whether my immature thoughts make sense below.

* Kubeflow server
    * scheduler: tensorflow, pytorch, mpi, notebook
    * rest api
* Kubeflow client(using rest api)
    * of different languages: python, java, go
    * web-front
    * command line tool based on go clien

[2019-03-27 13:00] #2826 closed

[2019-03-27 14:21] sarahmaddox commented on #2169
/assign

[2019-03-27 14:22] sarahmaddox commented on #2169
The page is now better organized and highlights the deployment UI:
https://www.kubeflow.org/docs/started/getting-started-gke/#deploy-kubeflow-on-gke-using-the-ui

/close

[2019-03-27 14:22] #2169 closed

[2019-03-27 14:42] jlewi commented on #2829
This question comes up a lot. I'd suggest looking at this deck.
http://bit.ly/kf_landscape_2019

TL;DR We are trending in the direction of a loosely coupled microservice-architecture. I think a monolithic architecture presents scalability challenges

[2019-03-27 14:43] sarahmaddox commented on #2232
Hallo @vkoukis @ioandr @kimwnasptd how are you doing with docs/example for the new Jupyter UI? If you'd like to pass me any material you have, I'm happy to work on a doc. I've created
https://github.com/kubeflow/website/issues/561 for the website update.

[2019-03-27 15:01] jlewi opened #2830 "kfctl presubmits don't need to run component tests"
Right now the kfctl E2E test does the following

1. Deploy Kubeflow
1. Verify different components work by exercising them
    * e.g. submitting TFJobs, deploying TFServing models, running Katib study jobs etc...

The second step is a major source of test flakes that is a major headache for kfctl development. This pain will only increase as the number of components increases.
    * If the number o

[2019-03-27 15:45] jlewi opened #2831 "kfctl should support pulling config from a local directory and more general git syntax"
kfctl downloads the configuration here:
https://github.com/kubeflow/kubeflow/blob/cee0f6e3f84e01009abef3b81db65c6e3f36d91a/bootstrap/pkg/kfapp/coordinator/coordinator.go#L89

It currently assumes we are pulling the config from a git repo.

We should support copying the repo from a directory. This way its easy to test local changes.

My suggestion would be to allow the version flag to be a uri. We

[2019-03-27 16:06] kkasravi opened #2832 "kfctl Makefile updates, developer_guide updates"
- [ ] add kfctl as a target in the Dockerfile (build kfctl in a container)
- [ ] fix TAG in Makefile so `make push-*` works correctly
- [ ] update developer_guide to include new make targets

[2019-03-27 16:50] jlewi opened #2834 "Make sure error messages appear where the user expects them in the Jupyter spawner UI"
Steps to reproduce

1. Go to the notebook manager UI and click "+" to spawn a notebook
1. Fill out the form with an invalid name e.g. a notebook name with spaces
1. Click spawn

An error in this case pops up but it shows up at the top of the page. See screenshot below.

The problem is if the top of the page is above the fold (e.g. user is on a laptop) then the error isn't obvious to the user. it j

[2019-03-27 17:40] #2604 closed

[2019-03-27 17:59] vkoukis commented on #2834
ACK, shall we change the description to `Make sure error messages appear where the user expects them in the Jupyter spawner UI`?

My initial reaction to seeing the notification was "😱 , an API call fails and we don't show the error message", which thankfully is not the case here. We do show the error message, but it is indeed quite easy to miss, and we should make it more obvious.

[2019-03-27 18:00] vkoukis commented on #2834
/assign kimwnasptd

[2019-03-27 19:10] prodonjs opened #2836 "[Dashboard v1][Tracker] Update Central Dashboard documentation"
Add sections explaining:

- [x] High-level application architecture view
- [x] Authoring/running tests.
- [x] Information about the build/release process

[2019-03-27 19:11] prodonjs commented on #2836
/area centraldashboard
/area front-end
/assign @prodonjs

[2019-03-27 19:11] prodonjs commented on #2836
/cc @avdaredevil

[2019-03-27 19:12] prodonjs commented on #2836
/assign @avdaredevil

[2019-03-27 19:41] lluunn commented on #2760
https://github.com/kubeflow/kubeflow/pull/2781#issuecomment-477318612

error when applying metacontroller

[2019-03-27 19:56] gabrielwen commented on #2383
1. Seems like we have E2E test ready.
1. What is the connection between presubmit and kubeflow-ci bucket?

[2019-03-27 20:11] richardsliu commented on #2688
Can this be closed now?

[2019-03-27 20:35] gabrielwen commented on #2190
/assign @gabrielwen

[2019-03-27 21:56] richardsliu commented on #2688
/close

[2019-03-27 21:56] #2688 closed

[2019-03-27 22:06] kkasravi commented on #2830
it's too bad we can't use kfctl with prow related components (ie bootstrap/config/kfctl_testing.yaml to deploy a test environment.

[2019-03-27 23:07] lluunn commented on #2550
hit this again.

[2019-03-27 23:08] lluunn commented on #2507
tested locally. With #2839, the endpoint is up and I can see the dashboard.

[2019-03-27 23:18] #2791 closed

[2019-03-27 23:30] jlewi commented on #2830
@kkasravi Isn't that what we are doing? What are we missing?

[2019-03-27 23:57] kunmingg opened #2841 "Convert kfctl error to kferrors interface."
In order to integrate deploy app and kfctl code, and have monitoring signals properly send back, we need to make following functions return kferror interface:

gcp.go:
* generate()
* apply()

ksonnet.go:
* generate()
* apply()

kferrors interface:
https://github.com/kubeflow/kubeflow/blob/master/bootstrap/pkg/apis/kferrors.go

[2019-03-28 00:18] kkasravi opened #2842 "kfctl - running generate twice will result in a malformed gcp_config/cluster-kubeflow.yaml if platform=gcp"
steps

1. kfctl init kubeflow-testing --namespace kubeflow-test-infra --project $PROJECT --platform gcp
2. kfctl generate all -V --email kam.d.kasravi@intel.com
3. kfctl generate all -V --email kam.d.kasravi@intel.com

The file gcp_config/cluster-kubeflow.yaml has an extra line in it

[code]

[2019-03-28 00:19] kkasravi commented on #2842
/area kfctl

[2019-03-28 03:01] mjgrav2001 opened #2843 "Cannot pip install 'seaborn' or 'imbalanced-learn' packages in Jupyter notebook in Kubeflow UI"
@ankushagarwal Hi. I also am trying to pip install two packages (seaborn, imblearn) on a jupyter notebook in kubeflow (trying to create a pipeline for a workflow). I tried several different alternatives considering the Python environment in which the packages might be installed, but those two packages do not appear when I run a 'pip list' no matter what I do. I use the Python3 kernel for the noteb

[2019-03-28 03:51] jlewi opened #2844 "Generalize the admission webhook to set environment variables and secrets based on config file"
The admission webhook
https://github.com/kubeflow/kubeflow/blob/master/components/gcp-admission-webhook/main.go

Right now hardcodes the environment variables and secrets to mount.
https://github.com/kubeflow/kubeflow/blob/c5977793d5615e4ff867d5f0853e26a1201deb13/components/gcp-admission-webhook/main.go#L51

Can we make this configurable? e.g. make it easy for users to provide a spec describing th

[2019-03-28 03:54] jlewi commented on #2843
This seems like an issue with conda.
See this issue
https://github.com/kubeflow/kubeflow/issues/1803#issuecomment-430410311

One option is to build your own Jupyter image and not use conda.

Here's instructions for creating a 0.5 compatible Jupyter image
https://www.kubeflow.org/docs/components/jupyter/#creating-a-custom-jupyter-image

/cc @pdmack

[2019-03-28 04:30] jlewi opened #2845 "Jupyter web app should respect namespace in central dashboard"
Screenshot
![jupyternamespace](https://user-images.githubusercontent.com/777219/55130237-570a6300-50d7-11e9-9d12-e85acfc37f05.png)

The central dashboard is displaying the jupyter web app in an iframe.

The central dashboard has a namespace selector. This namespace selector is not wired up to the
jupyter web app.

/cc @avdaredevil @kimwnasptd @vkoukis

@avdaredevil this might be a good opportunity

[2019-03-28 04:39] vkoukis commented on #2845
@jlewi we could get this in for 0.5, but we need a precise description of how the namespace selector works.

Will it be functional in 0.5? I guess the question is, who is responsible for listing K8s namespaces, and how can iframe-d apps access the contents of this selector?

[2019-03-28 08:52] F36 commented on #1848
" every component specified its images in the template".
Where is the template of component?

[2019-03-28 14:27] wzrdtales commented on #2731
same here

[2019-03-28 15:33] wzrdtales opened #2846 "Does kubeflow actually work outside the google cloud already?"
Really simple question, since I am currently evaluating kubeflow and was testing it on some private infrastructure (on premise, no cloud involved). So the question after the installation which directly evolved was: Is it working?

Indeed there is no clear way to actually check this, while digging through the docs I did not find anything useful to proof function of all the components. Indeed only t

[2019-03-28 15:51] zabbasi commented on #2845
Similarly tf-operator and Katib dashboard's default namespace should respect namespace in central dashboard. @richardsliu @avdaredevil

[2019-03-28 16:24] ioandr opened #2847 "Kubeflow UIs does not display correctly on Firefox"
All Kubeflow UIs are broken when browsing with Firefox. On the other hand, they display correctly when browsing with Chrome.

This might be critical for 0.5, see screenshots below. I do not know if this a long-standing issue we haven't covered, let me know if you can reproduce it.

@avdaredevil /cc @jlewi /cc @richardsliu

Platform (GKE)
=========
**Kubernetes version**:
[code]
Kubeflow
=======
**

[2019-03-28 16:46] kimwnasptd commented on #2845
Also as a side note, in our discussion here #2521 people expressed the need to _not_ show k8s concepts such as Namespaces to the end user.

One option that was proposed was to use the term Project instead of Namespace. Should we also take this into account for the dashboard?

[2019-03-28 16:54] ioandr commented on #2847
FYI I can also reproduce the above locally, with:

- **Minikube**: v0.35.0
- **Kubeflow**: master (https://github.com/kubeflow/kubeflow/commit/c5977793d5615e4ff867d5f0853e26a1201deb13)

[2019-03-28 17:09] ellis-bigelow commented on #2306
This proposal has now spawned the project: https://github.com/kubeflow/kfserving. Follow from there.

[2019-03-28 17:09] #2306 closed

[2019-03-28 17:26] jlewi commented on #2845
One of the principles we try to follow in Kubeflow is not introducing new concepts, terms, patterns when they are already such things in K8s.

So w.r.t to namespace vs. project. If we introduce project, I think we should be creating something that is fundamentally different from a namespace. If a project is 1:1 mapping to namespace then I think we should just call it namespace.

I think this is th

[2019-03-28 17:31] jlewi commented on #2846
Yes. Kubeflow works outside GCP. Lots of people are running Kubeflow successfully on other clouds or on prem.

Complex samples are often reading from specific data stores that are cloud specific. I think the TFX samples are using data on GCS or BigQuery.

If you provide more information on what you are trying to do we can probably point you in the right direction.

[2019-03-28 17:37] jlewi commented on #1394
Adding this to 0.6.

It would be great to make this an option in JupyterNotebook Controller and support it in the UI.
A CUJ might be helpful.

For example, it might be nice to terminate idle Jupyter pods without deleting the Jupyter resource so that from the UI a user could restart it with 1 click.

/cc @vkoukis @zabbasi

[2019-03-28 17:40] jlewi commented on #56
Closing this out since as of 0.5 JupyterHub is no longer used.

[2019-03-28 17:40] #56 closed

[2019-03-28 17:46] #2515 closed

[2019-03-28 17:50] gabrielwen commented on #2841
/assign @gabrielwen

[2019-03-28 17:51] lluunn commented on #1394
cc

[2019-03-28 18:05] jlewi commented on #2588
@kimwnasptd Do you have an ETA?

[2019-03-28 18:06] lluunn commented on #2641
Followup issues:
Generalize the admission webhook: #2844
Update notebook controller: #2770

[2019-03-28 18:06] #2641 closed

[2019-03-28 18:13] avdaredevil commented on #2836
/priority p1

[2019-03-28 18:16] #2809 closed

[2019-03-28 20:38] prodonjs commented on #2845
There are a couple of different options for making the iframed applications aware of a namespace selection from its parent.
1. The parent page injects JS into the iframe child that is invoked when the parent's namespace selector changes. This requires the parent to be aware of and manipulate the DOM state of its children. This is a bit brittle since the child app can change and any injected script

[2019-03-28 20:59] jlewi opened #2850 "kfctl on GCP doesn't set zone correctly"
I tried to deploy Kubeflow on GCP using the new kfctl go binary using a non-default zone.
Version v0.4.0-rc.1-283-g55ad7b16

kfctl successfully creates the cluster but fails with

[code]

I overrided the zone to be `us-east1-b` which is where the cluster is actually deployed.

So not sure why its getting the wrong location.

[2019-03-28 21:35] prodonjs commented on #2847
/assign @avdaredevil

[2019-03-28 22:38] ahousley commented on #2223
Hi @chennupushkar, did you make any progress with Seldon Core? Please let me know if we can help.

Also, here are the new docs for serving R models: https://docs.seldon.io/projects/seldon-core/en/latest/R/README.html

[2019-03-28 22:47] lluunn commented on #2770
kubebuilder currently doesn't support passing flags. So the way we can do this is:
1. always add annotation, it will have no effect if not on gcp with admission webhook
2. add a field to notebook spec to specify whether it should add annotation.

@jlewi wdyt?

[2019-03-28 22:54] lluunn commented on #2770
Or we can do it with env var

[2019-03-28 22:59] lluunn commented on #2716
Created RC0.

TODO:
- update notebook for credential: #2770
- notebook webapp show status #2588
- http://bit.ly/05_mid_release_demo demo test

[2019-03-28 23:20] rileyjbauer opened #2852 "upstream connect error or disconnect/reset before headers"
I and others have recently been seeing the "upstream connect error or disconnect/reset before headers" error with some frequency.

It doesn't seem to be deterministic, for example, only one of the below requests failed.
<img width="342" alt="Screen Shot 2019-03-28 at 4 13 02 PM" src="https://user-images.githubusercontent.com/34456002/55198731-73101200-5174-11e9-84d3-3a3810b7d37f.png">
and upon ref

[2019-03-28 23:41] avdaredevil commented on #2847
/area centraldashboard

[2019-03-29 00:10] #2850 closed

[2019-03-29 00:59] avdaredevil commented on #2845
+1 to Jason's points. Basically we can:
- Establish a communication channel via JS using a event-driven model like: https://gist.github.com/pbojinov/8965299
- Or, a one time-url query param or location hash object. For example:
  - `<base-url>/route?ns=<namespace>` OR `.../route#ns=<namespace>`

[2019-03-29 01:09] avdaredevil commented on #2836
Hey @prodonjs, Can you edit this issue to include `[Tracker]` and `[Dashboard v1]`?

[2019-03-29 01:40] #2759 closed

[2019-03-29 02:14] jlewi opened #2857 "[GCP] configure_envoy_for_iap.sh doesn't handle multiple backends?"
The container running configure_envoy_for_iap.sh is crashing with the error.

[code]
So it looks to me like the script is detecting two backends and that's causing the error.

I think the reason there are two backends is because
  1. Is for LetsEncrypt
  1. Is for envoy

I suspect normally what happens is the IAP container is crashing until the ACME dance finishes at which point LetsEncrypt backen

[2019-03-29 02:37] Jeffwan opened #2858 "Add volume support for mpi-job"
1. mpi-job by default doesn't have volume support, this is good for synthetic data. Recently, I need to train model using real storage. I'd like to add volume options.

2. mpi-job doesn't have unit test coverage. mpi-job-custom and mpi-job-simple are are jsonnet files which are not easy to test. I'd like to make some adjustment and make them easy to test.

I am working on a PR to address these iss

[2019-03-29 03:20] jlewi commented on #2857
Deleting the service didn't delete one of the backend services.

One of the backend services wasn't connected to a loadbalancer. So i deleted that one.

configure_envoy_iap.sh is now running successfully

[code]

[2019-03-29 03:26] jlewi opened #2860 "[gcp] speed up time to provision IAP endpoint on GCP"
I wanted to jot down some ideas of how we could speedup the time it takes for the Kubeflow UI to be accessible via IAP.

We should measure the time it takes now before implementing anything

* Use a self signed certificate
   * A self signed certificate would allow the endpoint to beavailable while the ACME challenge is happening
   * We could replace the cert with the signed cert once its availab

[2019-03-29 03:27] jlewi commented on #2857
The ultimately resolved the issue.

My suspicion is that the extra LB might have been because I was deleting and redeploying Kubeflow using the same name and we ended up leaking a backend.

[2019-03-29 03:39] lluunn commented on #2860
This is already the case if install istio.

[2019-03-29 03:42] lluunn commented on #2857
dup of #2550

IIUC the problem is not the acme backend, but some other backend service within the project that use the same port number.

[2019-03-29 05:19] panpanli521 opened #2861 "Jupyterhub spawn wrong when click it"
After deploying JupyterHub on Kubernetes via ksonnet, I visit the page http://localhost:8000. However, there is a problem showed below when I click the button "spawn". Anyone had this problem？How can I solve it? Thanks.
![image](https://user-images.githubusercontent.com/15307422/55209320-ea997c00-521c-11e9-81f6-cb9d5379217c.png)

[2019-03-29 06:57] wzrdtales commented on #2846
Thanks for your reply!

Currently I am looking for a solution to lift some TF Models into production and this completely independent from cloud or not cloud. So it shouldn't rely on any specific cloud components, that is why I was going for testing an on prem solution to be independent in either way. So if you know if there is some example there in the wild for doing this outside of any cloud that

[2019-03-29 07:44] #2861 closed

[2019-03-29 08:03] gachiemchiep opened #2863 "[bug] Bringing kubeflow services up.No resources found."
Hello
Currently i try to install kubeflow with minikube using ./setup-minikube.sh but the installation does not finish. "No resources found." message keep appearing. Anyone know how to solve this ?

I try version 0.3.5, 0.4.1, 0.5.0-rc0 both all failed with the same error message.

I attach the log file here
[log.txt](https://github.com/kubeflow/kubeflow/files/3021629/log.txt)

[2019-03-29 09:25] cndaimin commented on #2829
I got it, thanks @jlewi

[2019-03-29 10:41] onurgu opened #2864 "Too much monthly log bytes ingested with Stackdriver on GKE"
My installation produces nearly 10s of GBs of logs per day in the default setup.

I was able to report this value using Stackdriver Metrics Explorer using the "billing/monthly_bytes_ingested" metric.

Is this a known issue?

As I saw that nearly 70 log entries like the following are reported in the SAME millisecond (X) by the stackdriver I gather there is a problem:

[29/Mar/2019 10:16:37] "GET /h

[2019-03-29 12:36] #2847 closed

[2019-03-29 16:00] jlewi commented on #1764
It looks like prow has a plugin in to do golint checks.
https://prow.k8s.io/plugins

[2019-03-29 16:15] jlewi opened #2866 "Attach stacktrace info to kfError"
We use kferror as an interface to define errors.
https://github.com/kubeflow/kubeflow/blob/3fa97bc61e7b4b1eeb0062a8cbc98920e9da43d5/bootstrap/pkg/apis/kferrors.go#L32

When we create errors we should attach a stack trace so its easy to know the source of the error. This will help in debugging.

We might want to provide helper methods for creating kferrors so that we automatically attach stack trac

[2019-03-29 16:54] gabrielwen opened #2867 "[kfctl] error when deleting concurrently"
Error: couldn't delete KfApp:  (kubeflow.error): Code 500 with message: kfApp Delete failed for ksonnet:  (kubeflow.error): Code 500 with message: couldn't delete namespace gabrielwen Error: Operation cannot be fulfilled on namespaces "gabrielwen": The system is ensuring all content is removed from this namespace.  Upon completion, this namespace will automatically be purged by the system.

[2019-03-29 16:54] gabrielwen commented on #2867
@kkasravi @kunmingg @jlewi

[2019-03-29 16:58] gabrielwen commented on #2867
- Namespace deletion is project wise: https://github.com/kubeflow/kubeflow/blob/212e861015331d882c6b2d02933fa67ae489eb1b/bootstrap/pkg/kfapp/ksonnet/ksonnet.go#L288
- Seems like

[2019-03-29 16:58] #2867 closed

[2019-03-29 16:59] gabrielwen commented on #2867
seems like it's transient and only happens when you delete two deployments concurrently.

[2019-03-29 17:10] #2836 closed

[2019-03-29 21:35] kkasravi opened #2870 "kfctl consider a model where bootstrap and kfctl can be combined [discussion]"
currently we have 2 binaries: kfctl, bootstrapper that end up doing similar things.
One is a client tool - targeted for devops users to be run on their laptop or within an ssh accessible linux server like a bastion node. The other is a server built in a docker container that takes requests from a web ui. Both do similar things. There are a few options that would combine these executables

1. Call

[2019-03-29 21:38] kkasravi opened #2871 "kfctl, bootstrap add a debug section to the developer_guide.md"
we need to detail how to debug both via goland

[2019-03-29 21:41] kkasravi opened #2872 "kfctl update the Dockerfile so kfctl_base and kfctl are pushed to the gcr registry"
Currently kfctl is pushed to gcr.io/PROJECT/kfctl.
We should also push the development environment (kfctl_base)

- [ ] Update the Dockerfile
- [ ] Update the Makefile targets
- [ ] Update developer_guide.md

[2019-03-29 22:21] #2832 closed

[2019-03-29 23:25] jlewi commented on #2864
Can you tell which pod this is coming from?
Its probably because some component has verbose logging turned on.

[2019-03-29 23:26] jlewi commented on #2864
/cc @zabbasi @richardsliu

[2019-03-29 23:29] jlewi opened #2874 "kfctl should run go unittests on pre/postsubmit"
The prow team recommends using prow.

To run go unittests

1. Use a go image to run go test ./...
1. knative uses https://github.com/jstemmer/go-junit-report to generate a junit file
1. kubeflow/testing#11 aims to create a standard workflow

[2019-03-30 00:08] zabbasi opened #2876 "We need to mount gcp sa ('user-gcp-sa') and k8s sa with higher privileges in notebook pods"
When running fairing in kubeflow notebooks, it fails because  notebook's k8s service account does not have enough privileges to list secrets.
Here is the snapshot of the error we are getting:
with the following error : ---------------------------------------------------------------------------

/opt/conda/lib/python3.6/site-packages/kubernetes/client/rest.py in GET(self, url, headers, query_params

[2019-03-30 00:18] lluunn commented on #2876
we are doing it with admission webhook: #2770

[2019-03-30 03:39] kkasravi commented on #2870
/area kfctl

[2019-03-30 13:49] elgalu commented on #136
Hi, MLFlow 2 days ago released the solution for:

https://github.com/mlflow/mlflow/releases/tag/v0.9.0

Is it already decided that ModelDB v2 will be the way to go with Kubeflow?

[2019-03-30 18:17] vswami78 opened #2881 ""ML - XGBoost - Training with Confusion Matrix" pipeline errors out during training"
The error seen was:

Exception in thread "main" java.lang.NoSuchMethodError: org.apache.spark.scheduler.LiveListenerBus.removeListener(Ljava/lang/Object;)V
	at org.apache.spark.SparkParallelismTracker.safeExecute(SparkParallelismTracker.scala:84)
	at org.apache.spark.SparkParallelismTracker.execute(SparkParallelismTracker.scala:107)

In looking through such errors in connection with XGBoost from t

[2019-03-30 18:19] vswami78 commented on #2881
Additional traceback details in case it is helpful

Traceback (most recent call last):
  File "/ml/train.py", line 73, in <module>
    main()
  File "/ml/train.py", line 65, in main
    _utils.wait_for_job(api, args.project, args.region, job_id)
  File "/ml/common/_utils.py", line 78, in wait_for_job
    raise Exception(result['status']['details'])

[2019-03-30 19:36] #2881 closed

[2019-03-31 03:36] #2770 closed

[2019-03-31 18:21] aronchick commented on #2846
+1 to Jeremy's comments! We just demo'd (for example) Kubeflow running on Azure - https://github.com/ritazh/k8s-ml/ - but, to his point, we should work hard to split up the TFX examples.

That said, I don't think we have a pure on-prem version - would you mind taking a swing at one of the examples and posting the first bug you run into?

[2019-03-31 18:54] johnugeorge commented on #2846
@wzrdtales Kubeflow doesn't have any any cloud specific dependency. eg:  You could have a look at tensor flow mnist example on Kubeflow 0.4 at https://github.com/CiscoAI/KFLab/tree/master/tf-mnist   We have tried this example on our servers.  This example should work with any k8s cluster.

[2019-03-31 21:36] jlewi commented on #2872
@kkasravi can you assign labels to this issue please?
What is the priority of this issue?
Are we going to try to get it done in 0.6?

[2019-03-31 21:42] jlewi commented on #2863
This appears to be coming from this line in the setup  script.
https://github.com/kubeflow/kubeflow/blob/76107ff3aa7f9fde6fd7f15f2ec0a69a35874efa/scripts/util-minikube.sh#L33

The script is checking that various K8s services have been started. Can you check in your namespace to see if you what resources are running in the kubeflow namespace?

[2019-03-31 21:44] jlewi commented on #2858
@Jeffwan What is the priority of this issue?

Are you going to fix this as part of 0.6?

In 0.6 we will likely get rid of ksonnet; how does that affect this issue?

[2019-03-31 21:45] jlewi commented on #2857
Duplicate of #2550

[2019-03-31 21:45] #2857 closed

[2019-03-31 21:47] jlewi commented on #2550
@lluunn Will ISTIO fix this issue? i.e when we switch to ISTIO do we still need to run configure_envoy_for_iap.sh (see #2587) which is the script that is having problems detecting the correct backend?

[2019-03-31 21:49] jlewi commented on #2852
I think upstream errors are an issue indicating that Ambassador thinks the backend its forwarding traffic to is unhealthy.

Are there particular backends you are seeing this error with?

[2019-03-31 21:52] #2829 closed

[2019-03-31 21:53] jlewi commented on #2812
What is clients in this case? Do you mean plugins for specific platforms?

[2019-03-31 21:57] jlewi commented on #2797
Code should be there.
https://github.com/kubeflow/kubeflow/tree/master/kubeflow/mxnet-job

@suleisl2000 It looks like you are the primary author of mxnet job. Can you help out here?

[2019-03-31 22:04] jlewi commented on #2760
Connection reset by peer is #2804
#2824 is tracking adding retries around DM calls.

The error about the name being too long looks like the problem with prow changing the build id.

I'm closing this issue since we have the above issues.

Lets open specific issues as needed for ongoing test failures.

[2019-03-31 22:04] #2760 closed

[2019-03-31 22:06] jlewi commented on #2753
@vicaire Can someone on pipelines pick this up if it is critical to you?

/cc @jessesuen

[2019-03-31 22:11] jlewi commented on #2749
Kubeflow isn't involved in assigning jobs to nodes. The K8s master is responsible for scheduling nodes.
K8s has a bunch of features like affinity and node selector to control how pods get scheduled.

I would recommend looking at the K8s documention to try to figure out why the pods are always getting scheduled on the same node.

[2019-03-31 22:11] #2749 closed

[2019-03-31 22:12] #2748 closed

[2019-03-31 22:13] jlewi commented on #2747
Given our limited resources we might want to focus our efforts on v0.5 and master.

[2019-03-31 22:15] jlewi commented on #2741
/assign @elviraux

What is the priority of this issue?

[2019-03-31 22:15] jlewi commented on #2738
Duplicate of #2412

[2019-03-31 22:15] #2738 closed

[2019-03-31 22:16] jlewi commented on #2736
@holdenk could you elaborate on the need for pyyaml and minikube?

[2019-03-31 22:17] jlewi commented on #2735
@holdenk Is there more work to be done here?

It looks like #2737 fixed the regex; do we need another fix thought to install kubectl?

[2019-03-31 22:20] jlewi commented on #2734
Could you elaborate on what the problem is?
Are you saying the problem is fixed by #374 and is not in the 0.4 branch?

We are in the process of releasing 0.5 now; so you might want to just check if that release fixes your issues.

[2019-03-31 22:21] jlewi commented on #2731
@ashahba @kkasravi could you take a look please?

[2019-03-31 22:24] jlewi commented on #2727
I think this is the code in question.
https://github.com/kubeflow/kubeflow/blob/fdd52aa9eb879d90055f8f6f6e774edcd7ab8a7a/kubeflow/tensorboard/tensorboard.libsonnet#L32

@hmdsatoshi Do you want to submit a PR to fix this?

[2019-03-31 22:28] jlewi commented on #2685
Right now these files are listing which ksonnet packages and how they should be configured in different scenarios (e.g. using IAP vs. basic auth).

So I agree we'll need to come up with a corresponding solution for this problem when we migrate off ksonnet to kustomize.

[2019-03-31 22:29] jlewi commented on #2682
/cc @richardsliu

[2019-03-31 22:31] jlewi commented on #2665
@vicaire  0.4.1 doesn't use iframing

@aronchick I'm checking on master which is using the new central dashboard and everything is working fine for me.

[2019-03-31 22:32] #2646 closed

[2019-03-31 22:33] jlewi commented on #2645
@kkasravi I think you have a PR in progress to do this. Has it already been merged?

[2019-03-31 22:35] jlewi commented on #2636
@kkasravi Any update on this? I thought you had come up with a solution?

[2019-03-31 22:38] jlewi commented on #2633
We are starting to work on 0.6 which will be released end of June (our releases are quarterly).

If you'd like this to be part of 0.6 it would be great if one or more folks would step up and take the lead on making this happen.

In addition to submitting a proposal it would be good to provide regular updates at the community and PM meetings.

[2019-03-31 22:41] jlewi commented on #2629
@kkasravi Any update on this?

Looks like #2685 may be related.

[2019-03-31 22:44] jlewi commented on #2624
Thanks @llegolas

@pdmack So it looks like certain settings need to be injected. Any idea on how we should do this in 0.5 with the new jupyter setup?

@lluunn Has created a generic admission controller for injecting environment variables and secrets.

We could potentially modify/copy that to support setting other settings.

[2019-03-31 22:45] jlewi commented on #2623
I would also expect the platform(GCP,Azure, openshift,...) owners to provide a default setup that does the correct thing.

On GCP we deploy Kubeflow behind https and secure it with IAP; the mechanics are platform specific. So its up to the platform owners to provide a plugin that does the right thing on their platform.

[2019-03-31 22:45] #2623 closed

[2019-03-31 22:47] jlewi commented on #2621
@lluunn Is there more work  to be done for the jupyter controller?

/cc @zabbasi

[2019-03-31 22:48] jlewi commented on #2610
The test is deployed and running.
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow-periodic-master/1112425585537191937

[2019-03-31 22:48] #2610 closed

[2019-03-31 22:49] #2608 closed

[2019-03-31 22:53] #2575 closed

[2019-03-31 22:54] jlewi commented on #2554
This should be fixed but its a known issue. The K8s master doesn't support pagination so when there are too many workflows the UI becomes unresponsive.

[2019-03-31 22:54] #2554 closed

[2019-03-31 22:56] #2539 closed

[2019-03-31 22:57] #2529 closed

[2019-03-31 22:59] jlewi commented on #2528
Some resources in Kubeflow like CRDs are global resources. So I think there's more than just naming issues preventing multiple KF deployments in the same cluster.

Since CRD's are cluster level, it will be very difficult to install two different versions of Kubeflow with two different versions of the CRD's.

[2019-03-31 23:01] jlewi commented on #2510
@ashahba Have you looked at the readme in kubeflow/testing for info on how to debug test failures to try to nail down where the problem is happening?

[2019-03-31 23:02] jlewi commented on #2509
@ashahba Can you identify which step in the test is issuing the request and having problems?

[2019-03-31 23:03] jlewi commented on #2507
@lluunn Can we close this issue? Do we have an issue for adding an E2E test for Kubeflow using ISTIO?

[2019-03-31 23:05] jlewi commented on #2465
@kunmingg should we rely on the cron job cleanup-ci to delete leaked resources?

[2019-03-31 23:05] #2459 closed

[2019-03-31 23:07] #2418 closed

[2019-03-31 23:08] jlewi commented on #2417
/cc @zabbasi

[2019-03-31 23:09] jlewi commented on #2391
@kunmingg @gabrielwen is this fixed?

[2019-03-31 23:11] jlewi commented on #2358
@zabbasi Is there any more work to do here? Are we confident TF 2.0 is working with KF 0.5?

[2019-03-31 23:12] jlewi commented on #2343
We are running an E2E test on postsubmit and periodic to verify that kfctl deploys successfully with basic auth.

[2019-03-31 23:14] #2318 closed

[2019-03-31 23:16] #2310 closed

[2019-03-31 23:16] #2309 closed

[2019-03-31 23:17] #2289 closed

[2019-03-31 23:17] #2287 closed

[2019-03-31 23:19] #2263 closed

[2019-03-31 23:21] #2184 closed

[2019-03-31 23:22] #2144 closed

[2019-03-31 23:22] jlewi commented on #2140
Closing this issue since ksonnet is going away.

[2019-03-31 23:22] #2140 closed

[2019-03-31 23:23] #2136 closed

[2019-03-31 23:24] jlewi commented on #2096
@r2d4 That works.

[2019-03-31 23:24] jlewi commented on #2069
Closing as obsolete.

[2019-03-31 23:24] #2069 closed

[2019-03-31 23:25] jlewi commented on #2052
@lluunn Can we close this issue?

[2019-03-31 23:26] jlewi commented on #1960
Closing as obsolete.

[2019-03-31 23:26] #1960 closed

[2019-03-31 23:26] jlewi commented on #1948
Closing as obsolete.

[2019-03-31 23:26] #1948 closed

[2019-03-31 23:27] #1944 closed

[2019-03-31 23:28] jlewi commented on #1933
I wonder if there is a race condition and we are trying to create an App resource before the App CRD is fully ready?

[2019-03-31 23:29] #1912 closed

[2019-03-31 23:41] gachiemchiep commented on #2863
Hello @jlewi .
Currently, the following services are running .

[code]

[2019-04-01 00:14] kkasravi opened #2882 "device integration"
**Table of Contents**  *generated with [DocToc](https://github.com/thlorenz/doctoc)*

- [Device Integration into Kubeflow](#device-integration-into-kubeflow)
  - [Scope](#scope)
  - [Status quo](#status-quo)
      - [Motivating Example](#motivating-example)
    - [Device plugins](#device-plugins)
      - [Possible POVs](#possible-povs)
  - [Kubeflow Changes](#kubeflow-changes)
    - [Change existi

[2019-04-01 00:16] jlewi commented on #1744
Closing as stale.

[2019-04-01 00:16] #1744 closed

[2019-04-01 00:19] jlewi commented on #1749
/lifecycle stale

[2019-04-01 00:19] #1749 closed

[2019-04-01 00:20] jlewi commented on #1735
Obsolete since we are moving to kfctl go binary.

[2019-04-01 00:20] #1735 closed

[2019-04-01 00:20] jlewi commented on #1736
/lifecycle stale
We are getting rid of JupyterHub.

[2019-04-01 00:20] #1736 closed

[2019-04-01 00:21] jlewi commented on #1729
/lifecycle stale

[2019-04-01 00:21] #1729 closed

[2019-04-01 00:21] jlewi commented on #1724
/lifecycle stale

[2019-04-01 00:21] #1724 closed

[2019-04-01 00:23] jlewi commented on #1712
I think we'll need to figure out what to do as part of multi-user CUJ.
Ideally we don't have to deploy the seldon controller in every namespace.

I think this might have been fixed in the latest releases of Seldon.

/cc @ahousley @cliveseldon

[2019-04-01 00:24] jlewi commented on #1706
/lifecycle stale

[2019-04-01 00:24] #1706 closed

[2019-04-01 00:25] jlewi commented on #1679
/lifecycle stale

[2019-04-01 00:25] #1679 closed

[2019-04-01 00:25] #1678 closed

[2019-04-01 00:26] #1673 closed

[2019-04-01 00:26] jlewi commented on #1662
/lifecycle stale
we are moving away from JupyterHub in 0.5

[2019-04-01 00:26] #1662 closed

[2019-04-01 00:27] #1645 closed

[2019-04-01 00:28] jlewi commented on #1635
/lifecycle stale.

[2019-04-01 00:28] #1635 closed

[2019-04-01 00:28] jlewi commented on #1620
/lifecycle stale

[2019-04-01 00:28] #1620 closed

[2019-04-01 00:28] jlewi commented on #1590
/lifecycle stale

[2019-04-01 00:28] #1590 closed

[2019-04-01 00:29] jlewi commented on #1463
/lifecycle stale

[2019-04-01 00:29] #1463 closed

[2019-04-01 00:29] jlewi commented on #1454
obsolete since we are getting rid of ksonnet.

[2019-04-01 00:29] #1454 closed

[2019-04-01 00:30] jlewi commented on #1428
/lifecycle stale

[2019-04-01 00:30] #1428 closed

[2019-04-01 00:30] jlewi commented on #1421
/lifecycle stale

[2019-04-01 00:30] #1421 closed

[2019-04-01 00:32] jlewi commented on #1416
We should update minikube E2E test to use the new kfctl go binary.
We can model the e2e test on our existing e2e tests for kfctl go.
i.e.

* Use pytest
* Create a python script to deploy on minikube
* Use the is_ready test to verify it is correctly deployed.

[2019-04-01 00:32] #1413 closed

[2019-04-01 00:33] #1402 closed

[2019-04-01 00:34] #1389 closed

[2019-04-01 00:34] aronchick commented on #2665
if it's fixed on master, feel free to close (obv) - i was using 041

[2019-04-01 00:34] jlewi commented on #1386
/lifecycle stale.

[2019-04-01 00:34] #1386 closed

[2019-04-01 00:34] jlewi commented on #1377
/lifecycle stale

[2019-04-01 00:34] #1377 closed

[2019-04-01 00:36] jlewi commented on #1373
I think we already making progress on this with kfctl.
Duplicate of #2870

[2019-04-01 00:36] #1373 closed

[2019-04-01 00:36] jlewi commented on #1368
/lifecycle stale

[2019-04-01 00:36] #1368 closed

[2019-04-01 00:37] #1365 closed

[2019-04-01 00:38] #1323 closed

[2019-04-01 00:38] jlewi commented on #1317
/lifecycle stale

[2019-04-01 00:38] #1317 closed

[2019-04-01 00:39] jlewi commented on #1303
/lifecycle stale.
With 0.5 we are no longer using JupyterHub.

[2019-04-01 00:39] #1303 closed

[2019-04-01 00:39] jlewi commented on #1314
/lifecycle stale

[2019-04-01 00:39] #1314 closed

[2019-04-01 00:40] #1299 closed

[2019-04-01 00:40] #1288 closed

[2019-04-01 00:40] jlewi commented on #1288
/lifecycle stale

[2019-04-01 00:41] jlewi commented on #1278
/lifecycle stale

[2019-04-01 00:41] #1278 closed

[2019-04-01 00:42] jlewi commented on #1295
/cc @zabbasi

[2019-04-01 00:43] jlewi commented on #1254
@nkpng2k any interest in continuing to push this forward?

One thing to be aware of is that since ksonnet is going away we would need to use an alternative like kustomize to deploy the packages.

[2019-04-01 00:43] jlewi commented on #1184
/lifecycle stale

[2019-04-01 00:43] #1184 closed

[2019-04-01 00:44] jlewi commented on #1155
/lifecycle stale

[2019-04-01 00:44] #1155 closed

[2019-04-01 00:44] jlewi commented on #1143
/lifecycle stale

[2019-04-01 00:44] #1143 closed

[2019-04-01 00:45] #1141 closed

[2019-04-01 00:45] jlewi commented on #998
/lifecycle stale

[2019-04-01 00:45] #998 closed

[2019-04-01 00:45] jlewi commented on #980
/lifecycle stale

[2019-04-01 00:45] #980 closed

[2019-04-01 00:46] jlewi commented on #958
/lifecycle stale

[2019-04-01 00:46] #958 closed

[2019-04-01 00:46] jlewi commented on #920
/lifecycle stale

[2019-04-01 00:46] #920 closed

[2019-04-01 00:47] jlewi commented on #891
/lifecycle stale

[2019-04-01 00:47] #891 closed

[2019-04-01 00:47] jlewi commented on #861
/lifecycle stale

[2019-04-01 00:47] #861 closed

[2019-04-01 00:47] jlewi commented on #842
/lifecycle stale

[2019-04-01 00:47] #842 closed

[2019-04-01 00:48] jlewi commented on #841
Obsolete since ksonnet is deprecated.

[2019-04-01 00:48] #841 closed

[2019-04-01 00:48] jlewi commented on #834
/lifecycle stale

[2019-04-01 00:48] #834 closed

[2019-04-01 00:48] jlewi commented on #822
/lifecycle stale

[2019-04-01 00:48] #822 closed

[2019-04-01 00:49] jlewi commented on #818
/lifecycle stale

[2019-04-01 00:49] #818 closed

[2019-04-01 00:49] #816 closed

[2019-04-01 00:53] jlewi commented on #658
/lifecycle stale

[2019-04-01 00:53] #658 closed

[2019-04-01 00:53] jlewi commented on #723
/lifecycle stale

[2019-04-01 00:53] #723 closed

[2019-04-01 00:54] jlewi commented on #626
/lifecycle stale

[2019-04-01 00:54] #626 closed

[2019-04-01 00:58] jlewi commented on #607
/lifecycle stale

[2019-04-01 00:58] #607 closed

[2019-04-01 02:11] gyliu513 commented on #2633
Thanks @jlewi , we will try to attend the meeting and provide the update.

[2019-04-01 05:12] llegolas commented on #2734
#374 addresses (cluster)role binding only for ambassador.
The same problem exists for some more components though.
Most of the libsonnet files are having something similar to the below(example form argo):
[code]
Hard codding the subjects breaks any previous install of kubeflow at least with 0.4.1 release so effectively kubeflow is not multi-instance capable w/o manual fixing.
Among the components

[2019-04-01 05:42] cliveseldon commented on #1712
Yes, the latest version of Seldon in kubeflow master has a parameter for this.
[code]

Can we make sure its in 0.5?

[2019-04-01 05:44] Jeffwan commented on #2858
PR is out.  https://github.com/kubeflow/kubeflow/pull/2869.

I am working on some benchmark jobs that needs this small feature. It's fine this is changed in 0.6 along with ksonnet deprecation.

[2019-04-01 07:10] paveldournov opened #2883 "Local port forward does not work when KF deployed with 1-click app"
Repro:
  Deployed a cluster with https://deploy-staging.kubeflow.cloud/#/deploy?version=v0.5.0-rc.1
  Followed the link to Cloud Shell (it brings to the GKE Service UI, not to cloud shell)
  Clicked on port forwarding, copied the CLI command to port forward
  Ran the command locally
  Port forwarding started
  Open the localhost:8080

Result:
  Got an SSL error

Expected:
  KF UI to open

[2019-04-01 07:15] IronPan opened #2884 "local port forwarding broken "This site can’t provide a secure connection""
with new v0.5.1-rc1, I failed to connect to kubeflow UI by port forwarding ambassador endpoint (see below) which used to work in 0.4 or before.
![image](https://user-images.githubusercontent.com/2348602/55309533-f77fc080-5412-11e9-90dc-0739e0d019c3.png)

The cluster is deployed using staging click-to-deploy app + simple auth + v0.5.1-rc1

[2019-04-01 08:33] wzrdtales commented on #2731
@jlewi I fixed it by replacing constant-cubist-173123/inference_server with intelaipg, For some reason it seems like the image under constant-cubist-173123/inference_server was deleted.

[2019-04-01 10:40] suleisl2000 commented on #2797
@jlewi @CharlesxrWu The issue is caused by that mxnet-operator was updated recently due to [kubeflow/mxnet-operator@f1df1f6](https://github.com/kubeflow/mxnet-operator/commit/f1df1f65aaed128300783f7f3475f1d60c8620cb), but I didn't update kubeflow repo in time. I am working on it now.

@CharlesxrWu As a temporary solution, you can start mxnet-operator manually as below
[code]

[2019-04-01 12:30] #2775 closed

[2019-04-01 12:33] jlewi commented on #2884
Can you provide the details of the error?

What is the port-forwarding command you ran?

[2019-04-01 12:41] jlewi commented on #2882
Thanks @kkasravi.

There's a lot of items here and I think CUJs will help us prioritize them.

I would probably suggest starting with a notebook based CUJ.

/cc @vishh

Related issues: 1457 GPU type selection in notebook manager

[2019-04-01 12:42] jlewi commented on #2883
Duplicate of #2884

[2019-04-01 12:42] #2883 closed

[2019-04-01 12:46] jlewi commented on #2884
When you have basic auth enabled we require you to use https. This is required because we don't want you sending your username and password in the clear.

By bypassing the ingress you are bypassing https and your connection is rejected. I think this is working as intended.

If you have basic auth enabled why don't you connect through the external ingress rather than port-forwarding to ambassador?

[2019-04-01 13:09] onurgu commented on #2864
When I look at the 'resource.labels.pod_name', I see two prefixes:

- envoy
- whoami-app

[2019-04-01 13:19] onurgu commented on #2864
A lot of logs like

`sync CloudEndpoint kubeflow/XYZ`

from pod_name = 'metacontroller-0'

and also some failure logs from

`ml-pipeline-persistenceagent`.

[2019-04-01 14:06] jlewi opened #2885 "Include platform specific links in central dashboard"
I think it might be valuable if the central dashboard could include links to platform/cloud resources related to Kubeflow.

For example on GCP it would be useful to have links to

1. the deployment manager page associated with a Kubeflow deployment
1. the GKE cluster page for a deployment
1. stackdriver logs.

I think this raises some design questions

1. How do we make the links pluggable since t

[2019-04-01 14:10] prodonjs commented on #2885
/area front-end
/assign @avdaredevil
/assign @prodonjs

[2019-04-01 14:27] kkasravi commented on #2882
@jlewi I'll create a notebook based CUJ, thanks

[2019-04-01 14:52] Svendegroote91 opened #2886 "TFJob does not show in TFJob dashboard"
Hi all,

When submitting several TFjobs, I don't see them appearing any longer in the `tfjobs/ui/#/` UI page. Not in the 'all namespaces' and also not in the 'kubeflow' namespace.

I am using kubeflow v0.4.0.
Here is one example of a TFjob:

[code]

Can anyone tell me what's going wrong here?

[2019-04-01 16:59] jlewi opened #2888 "Notebook startup hook to clone git repos"
A common use case with notebooks is to clone certain repositories into the home directory (so its backed by PV).

This is currently a manual process.

Furthermore, for our examples we'd often like to publish a notebook docker image suitable for that example. As part of that example, we'd like to automatically clone some repositories used in the example.

We don't necessarily want to bake the repo

[2019-04-01 17:02] #2876 closed

[2019-04-01 17:08] jlewi opened #2889 "[CUJ] git in notebooks"
A common feature with notebooks is checking out and pushing code to git.

This is currently a painful manual process

   * Users need to manually clone the repos they want every time they start a notebook
   * Users need to manually upload git ssh keys or other credentials in order to be able to push to various repos

A CUJ might be a good place to start;
    * e.g. in the notebook manager UI how

[2019-04-01 17:28] jlewi commented on #2884
If you deployed basic auth why are you trying to connect via `kubectl port-forward`? Why don't you just access the endpoint

[code]

Cclick to deploy + basic auth + kubectl port-forward is not what I would consider a well supported use case and I'm not sure that's a use case we want to explicitly support.

The primary goal of  Click to Deploy is to allow people to use Kubeflow without installing a

[2019-04-01 17:43] kunmingg commented on #2391
Fixed by https://github.com/kubeflow/kubeflow/pull/2801

[2019-04-01 17:43] #2391 closed

[2019-04-01 17:46] hongye-sun opened #2890 "Why is basic auth required"
I usually use port-forward to connect to a KF cluster, but after recent release in v0.5.0-rc1, it appears that basic auth is required for the KF setup.

I can no longer run my KFP client code by directly pointing to localhost with forwarded port. I need to figure out how to pass the basic auth from the client code.

This might not be a too big deal, but I wonder why basic auth is required even I d

[2019-04-01 17:46] lluunn opened #2891 "kfctl e2e test for istio"

[2019-04-01 17:46] lluunn commented on #2507
filed #2891 for e2e test

[2019-04-01 17:46] #2507 closed

[2019-04-01 17:53] lluunn commented on #2550
We still need to run https://github.com/kubeflow/kubeflow/blob/master/kubeflow/gcp/setup_backend.sh#L47
to get the backend ID for jwt validation.
So switching to Istio will not fix this.

[2019-04-01 17:58] lluunn commented on #2621
The scenario is that when I create a notebook called A, controller will create a statesulset called A.
What happen if there is already a statefulset A (not a notebook).

The TODO is to configure what's the desired behavior and implement that.
This is not common though, so I think P2 is fine.

[2019-04-01 18:01] lluunn commented on #2052
C2D currently doesn't have the user visible option to install KF with istio on, although the functionality is there.

I think we can this open until we turn on Istio by default?

[2019-04-01 18:35] gabrielwen commented on #2716
Please cherrypick the following PRs (checked means it's merged)
- [ ] #2854
- [ ] #2838
- [x] #2873

[2019-04-01 19:21] #2777 closed

[2019-04-01 19:22] kkasravi commented on #2636
Our current v2.zip has frozen versions of

k8s.io
|___ api-kubernetes v1.13.4
|___ apiextensions-apiserver v1.13.4
|___ apimachinery v1.13.4
|___ cliet-go v10.0.0
sigs.k8s.io
|___ controller-runtime v0.1.10
|___ kustomize v2.0.2

If we wanted to move to a later version of kubernetes (say 1.14.1) - we would need to complete the mod tool as described above.

[2019-04-01 19:25] kkasravi commented on #2645
yes, closing this issue
duplicate of #2833

[2019-04-01 19:27] kkasravi commented on #2731
thanks @wzrdtales - that's the one we should be using

[2019-04-01 19:27] jlewi commented on #2618
So we have tests for central dashboard but not notebooks.

I think we should file a separate issue for notebooks that we add to 0.6 and close this issue.

[2019-04-01 19:27] kkasravi commented on #2731
/close

[2019-04-01 19:27] #2731 closed

[2019-04-01 19:28] #2343 closed

[2019-04-01 19:29] kkasravi commented on #1933
since we removed the application component (in lieu of the kubernetes-sigs/application controller) I don't think this can occur anymore. Closing.

[2019-04-01 19:29] kkasravi commented on #1933
/close

[2019-04-01 19:33] gabrielwen commented on #2190
/label "help wanted"

[2019-04-01 19:33] zabbasi commented on #2602
/open

[2019-04-01 19:33] zabbasi commented on #2602
@jlewi

[2019-04-01 19:33] gabrielwen commented on #2190
/label priority/p0

[2019-04-01 19:34] zabbasi commented on #2602
/label priority/p0

[2019-04-01 19:35] gabrielwen commented on #2841
/priority p0

[2019-04-01 19:35] gabrielwen commented on #2841
/can priority/p0

[2019-04-01 19:35] jlewi commented on #2602
/label priority/p0

[2019-04-01 19:35] gabrielwen commented on #2841
/cancel priority/p0

[2019-04-01 19:35] jlewi commented on #2602
/priority p0

[2019-04-01 19:35] pdmack commented on #2624
Yes, OpenShift GPU support has adopted a particular best practice around the use of selinux in the securityContext as opposed to allowing a GPU container to have elevated privilege. I like the admission controller approach.

[2019-04-01 19:36] gabrielwen commented on #2841
/priority cancel p0

[2019-04-01 19:36] gabrielwen commented on #2841
/remove-priority p0

[2019-04-01 19:36] gabrielwen commented on #2841
/remove-priority p1

[2019-04-01 19:54] lluunn commented on #2716
admission webhook fix: #2893

[2019-04-01 20:38] #2190 closed

[2019-04-01 21:29] lluunn commented on #2716
notebook ui fix: #2848

[2019-04-01 21:50] #2592 closed

[2019-04-01 21:50] #2639 closed

[2019-04-01 21:50] #2588 closed

[2019-04-01 21:50] #2834 closed

[2019-04-01 22:24] lluunn commented on #2716
update notebook controller image: #2895

[2019-04-01 22:27] paveldournov commented on #2884
When I select "Skip IAP" in the deployer app - it asks for the user name and password and does not provision the DNS for the cluster. Given the user name and password is not sync'd with any centralized identity store, I'd prefer this to be a skippable step as well, but today it does not seem to be possible. So the only options are either IAP or basic-auth with non-working SSH.

SSH to k8s has been

[2019-04-01 22:46] lluunn opened #2896 "admission webhook overwrites NB_PREFIX env var"
The admission webhook successfully inject the volume/env var, but it seems overwrites env var instead of appends to it.
[code]

So the notebook is not working properly 404:
<img width="362" alt="Screen Shot 2019-04-01 at 15 45 15" src="https://user-images.githubusercontent.com/32310205/55364345-29d20200-5495-11e9-9ea4-ca3fe9334254.png">

[2019-04-01 22:46] amygdala commented on #2884
Another thing to consider: Once you have a cluster set up with basic auth, you might want someone to have temporary access. That is, you might not want to give them the login/pwd.
With port-forwarding supported, you could do that by temporarily allowing them to grab the gke cluster credentials and port-forwarding in.  Then revoke that permission when they're done.

[2019-04-01 22:46] lluunn commented on #2896
cc @abhi-g @r2d4

[2019-04-01 22:52] lluunn commented on #2896
https://github.com/kubeflow/kubeflow/blob/master/components/gcp-admission-webhook/main.go#L51-L53

This is our patch string

[2019-04-01 22:55] lluunn commented on #2896
volume is fine:
[code]

Seems I should remove "[" and "]" in patch string above

[2019-04-01 23:51] lluunn commented on #2896
With this patch string:
[code]

I am seeing error:
[code]

[2019-04-01 23:52] lluunn commented on #2896
The patch strategy for volume is different from env vars:
[code]

[code]

[2019-04-01 23:56] lluunn opened #2897 "gcp admission webhook cannot be re-applied"
Haven't figured out the detail, but it seems after reapply, the cert needs to be updated.
Seeing `bad cert` in webhook pod.

I think the problem is we are creating cert secret using a [job](https://github.com/kubeflow/kubeflow/blob/master/kubeflow/gcp/create_ca.sh), and that needs re-run.

cc @jlewi

[2019-04-01 23:59] lluunn commented on #2897
Actually, it might be that webhook pod is mounting the old cert secret at re-apply.

When applying the first time, the webhook pod will wait for the job because it can't find the secret to mount. But the second time it won't wait.

[2019-04-02 00:03] lluunn commented on #2896
Istio reference: https://github.com/istio/istio/blob/master/pilot/pkg/kube/inject/webhook.go#L377

[2019-04-02 01:11] jlewi commented on #2383
It looks like Darwin requires its own build.

[2019-04-02 01:18] jlewi commented on #2383
We should modify the makefile to determine the architecture and set the name in the file appropriately.
This is what we do in minikube
https://github.com/kubeflow/kubeflow/blob/3fa97bc61e7b4b1eeb0062a8cbc98920e9da43d5/scripts/setup-minikube.sh#L14

But I don't see how we are inferring its OSX.

[2019-04-02 01:21] lluunn opened #2900 "kfctl e2e test failure: cannot delete endpoint"
https://github.com/kubeflow/kubeflow/pull/2895#issuecomment-478806415

http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-presubmit-kfctl-go-iap-2895-4014fa2-1808-a964?tab=workflow&nodeId=kubeflow-presubmit-kfctl-go-iap-2895-4014fa2-1808-a964-785771799

cc @gabrielwen @kunmingg

[2019-04-02 01:38] jlewi opened #2901 "Jupyter docker images need to be updated on the 0.5 branch"
Here: https://github.com/kubeflow/kubeflow/blob/f99e6e01beb5b81b27dc208a486c2dbce38dafe3/kubeflow/jupyter/ui/default/config.yaml#L27

And here
https://github.com/kubeflow/kubeflow/blob/f99e6e01beb5b81b27dc208a486c2dbce38dafe3/kubeflow/jupyter/ui/rok/config.yaml#L16

/cc @zabbasi

[2019-04-02 02:05] abhi-g commented on #2900
@gabrielwen @lluunn Please let me know if this should be a p0

[2019-04-02 02:48] jlewi opened #2904 "Notebook controller not attaching pod labels to inject secrets."
A spun up a notebook from kfctl built from master which sets version to 0.5.0.

The notebook controller was not attaching the pod labels to the notebook even though the environment variable POD_LABELS was set on the controller.

Notebook controller spec

[notebook-controller.pod.yaml.txt](https://github.com/kubeflow/kubeflow/files/3032129/notebook-controller.pod.yaml.txt)

Notebook spec

[cs-demo-

[2019-04-02 02:48] jlewi commented on #2904
/cc @lluunn @zabbasi

[2019-04-02 02:50] jlewi commented on #2904
The notebook controller image seems outdated.
gcr.io/kubeflow-images-public/notebook-controller:v20190325-v0.4.0-rc.1-258-g1728f05f-dirty-8c2dab

#2853 was only committed a couple days ago.

[2019-04-02 02:51] jlewi commented on #2904
It looks like #2853 didn't update the docker image.

[2019-04-02 03:41] gabrielwen commented on #2900
from the error message it's because endpoint is already deleted.  so I think it doesn't necessary to be p0 as the test/kfctl is not broken.  will add a logic in deleteEndpoints to check if the endpoint is already gone.

[2019-04-02 04:33] jlewi opened #2905 "Process for determining which PRs have been cherry-picked onto a release branch"
We need a process for determining which PRs have been merged onto a release branch.

Some background

* [cherry_pick_pull.sh](https://github.com/kubeflow/kubeflow/blob/master/hack/cherry_pick_pull.sh) should ensure the PR # is in the title.

* Could we somehow use the [changelog script] (https://github.com/kubeflow/kubeflow/blob/master/scripts/update-changelog.sh) to generate a changelog with a li

[2019-04-02 04:38] jlewi commented on #2905
Another possibility would be to fetch the commits on the branch and parse the messages.
This script could provide some inspiration using the API
https://github.com/kubeflow/community/blob/master/scripts/project_stats.py

[2019-04-02 05:48] #2896 closed

[2019-04-02 07:03] llegolas commented on #2734
I just checked the master branch if that is what is going to be 0.5.0.
Can't find real difference with 0.4.1 at least with the components I use:
- ambassador - still the same PR #408 is approved but seem not merged
- argo - still the same + the argo cluster role needs workflows/finalizers resource, aready in upstream argo https://github.com/argoproj/argo/blob/master/manifests/install.yaml
- metaco

[2019-04-02 07:17] lluunn commented on #2904
#2895 updated the image

[2019-04-02 13:12] #2858 closed

[2019-04-02 14:15] kkasravi opened #2910 "[CUJ] alternative devices in notebooks"
Currently notebooks are opened within namespaces allocated by the profile-controller. The profile-controller sets up a new namespace with the following resources:
- role, rolebinding for the owner
- resource quota for the namespace

The notebook created for the owner uses a PodSpec created by the UI with an image selected within the UI that may be device specific to gpus.

- [ ] Data scientists ma

[2019-04-02 15:41] kkasravi opened #2911 "kfctl evaluate kustomize KEP"
[Kustomize Generators and Transformers](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cli/20190318-kustomize-generators-transformers.md#implementation-detailsnotesconstraints-optional) adds 2 new fields transformers and generators. These may provide solutions within current ksonnet components including testing.

[2019-04-02 18:00] lluunn commented on #2716
cherrypick:
-[ ] notebook image update #2902

[2019-04-02 18:33] #2841 closed

[2019-04-02 18:35] elviraux commented on #2741
@jlewi medium priority as it affects only KF on-boarding experience whereas the project itself has more urgent things to be done.
why medium? because we started getting more kubeflow adopters and we should provide them a meaningful guidance, so they are able to serve themselves at least at the beginning.
This will lower an adoption barrier
I've already started https://github.com/kubeflow/kubeflow/

[2019-04-02 18:36] zabbasi commented on #2602
Hold  for postsubmit test to run so that all the recently released images are tagged to v0.5.0.

[2019-04-02 18:36] zabbasi commented on #2901
#2902

[2019-04-02 18:37] zabbasi commented on #2901
/close

[2019-04-02 18:37] #2901 closed

[2019-04-02 18:47] elviraux commented on #2741
@abhi-g @jlewi
1. Do we need this links?
The argo one is broken
![image](https://user-images.githubusercontent.com/5718779/55427583-25145900-553c-11e9-8437-67fb65782e5a.png)

2. Can we add similar badges ?
![image](https://user-images.githubusercontent.com/5718779/55427726-7ae90100-553c-11e9-8da4-20408a2b4052.png)

[2019-04-02 19:17] prodonjs commented on #2845
- [ ] Links from Central Dashboard should include the selected namespace
- [ ] Selected namespace should be passed down to iframed content after it's loaded

[2019-04-02 19:23] abhi-g commented on #2741
On Tue, Apr 2, 2019 at 11:47 AM Elvira <notifications@github.com> wrote:

them to focus on these for checking tests status. Argo UI is not as useful
and doesn't load very well or times out.

[2019-04-02 19:38] gabrielwen commented on #2716
cherrypick:
- [ ] List endpoints when delete is failed #2912

[2019-04-02 20:37] abhi-g opened #2915 "Notebook pods need to be attached to jupyter-notebook service account"
The notebook controller is creating Notebook pods with "default" service account. When launching training jobs through fairing on Kubeflow, I get an error that says that the account doesn't have permissions to create pods in the namespace.

ApiException: (403)
Reason: Forbidden
HTTP response headers: HTTPHeaderDict({'Audit-Id': '4224d1da-089b-401d-a661-d96a1533a1f0', 'Content-Type': 'application/j

[2019-04-02 20:37] abhi-g commented on #2915
/cc @lluunn @r2d4

[2019-04-02 21:11] #2915 closed

[2019-04-02 22:04] elviraux commented on #2741
@abhi-g
1. if argo UI is useless maybe I remove the link to it until it is stable/fixed?
2. Where can I get access to the explanation and PR guidance for repos that you were talking about today?
3. Could someone with write rights move the [form](https://bit.ly/2JF5Max) to KF team drive

[2019-04-02 22:30] avdaredevil opened #2921 "[Dashboard v1] Add `Usage Reporting` link to Dashboard"
## About
Create a `Usage Reporting` Link in the central-dashboard footer
- Link should be: https://www.kubeflow.org/docs/guides/usage-reporting/

/assign @avdaredevil
/cc @prodonjs @ajayalfred
/area front-end
/area centraldashboard
/priority p1

[2019-04-02 22:34] abhi-g commented on #2741
@Elvira Fortune <elvirafortune@gmail.com> Sorry I am going to be slow to
respond to these. As I mentioned in the meeting today, my priority this
week is to get the release ready...

On Tue, Apr 2, 2019 at 3:04 PM Elvira <notifications@github.com> wrote:

[2019-04-02 22:49] avdaredevil commented on #2618
Closing since Notebooks is not needed for this release

[2019-04-02 22:49] #2618 closed

[2019-04-02 23:18] elviraux commented on #2741
@abhi-g that's fine, no point to rush on this. Just stating it here , so we don't forget later when we get more time

[2019-04-03 02:37] suleisl2000 commented on #2797
@jlewi @pdmack Hi, I fixed the issue at kubeflow#2909 yesterday. Do I need merge the fix to kubeflow:v0.5-branch? I notice that v0.5.0 RC2 is released.

[2019-04-03 03:00] panpanli521 opened #2924 "How can I contribute paddle-operator to Kubeflow?"
I have contributed paddle-job to kubeflow repository. Then how can I contribute paddle-operator? There is no repository existed. Thanks
@jlewi

[2019-04-03 03:20] gabrielwen commented on #2550
this deployment crashes because of it: [link](https://pantheon.corp.google.com/kubernetes/pod/us-east1-b/kf-v0-5-n00/kubeflow/envoy-69bf97959c-f5dd8?project=kubeflow-ci-deployment&container_summary_list_tablesize=10&tab=details&duration=PT1H&service_list_datatablesize=20)

[2019-04-03 09:35] kkasravi commented on #2911
/area kfctl

[2019-04-03 09:41] JasonLee925 commented on #2545
https://github.com/kubeflow/kubeflow/issues/1933#issuecomment-455058113

i done this and the problem solved.

[2019-04-03 11:21] kimwnasptd opened #2925 "Jupyter UI should only launch Notebooks in the kubeflow Namespace"
Some more context [here](https://github.com/kubeflow/kubeflow/pull/2919#issuecomment-479220566).

The Notebooks should only be launched in the kubeflow Namespace. As such the Jupyter UI should not allow the user to create/connect/delete a Notebook in a different Namespace.

/assign kimwnasptd

[2019-04-03 12:59] pdmack commented on #2797
#2909 has not been cherry-picked to the v0.5 branch as of yet. @lluunn ? @jlewi ?

[2019-04-03 13:10] onurgu commented on #2864
I have spent more time investigating this.

First, I have seen that the real culprit was the `metadata-agent` containers that emit log entries with a size of nearly 35KB. Expected amount of data per day is 34.56GB when we assume that the number of such log entries is 12.

An example is:

[code]

This message is originating from [https://github.com/Stackdriver/metadata-agent/blob/85d4f5a570911ddbc2

[2019-04-03 13:20] jlewi commented on #2897
Does this mean kfctl apply will fail if we rerun it?

What is the particular error we are seeing on reapply?

[2019-04-03 13:27] jlewi commented on #2897
Why would the CA need to change on reapply isn't the SVC and everything else the same?

It be better to use a statefulset or deployment and then just have it run in a loop forever and make the code a null op if the webhook doesn't need to be udpated.

[2019-04-03 14:07] jlewi commented on #2890
basic auth is not required.

I believe you are deploying via click to deploy on GCP and selecting the "skip IAP" button.

I believe skip IAP was just configuring a dummy OAuth credential for IAP so users wouldn't have to setup IAP.

Since IAP was disabled users would need an alternative way to connect and so in the past people would connect directly to services running inside the cluster (e.g Jupy

[2019-04-03 14:29] prodonjs commented on #2546
@avdaredevil Is this issue resolved? We still load the **Kubeflow Docs** link from the sidenav inside the iframe, but if a user clicks the **Open docs** link from the main landing page it goes to a new tab. I don't think we've addressed that behavior in any previous change so let me know if it needs to be addressed.

[2019-04-03 14:30] prodonjs commented on #2845
/assign @avdaredevil
/assign @prodonjs

[2019-04-03 14:46] zabbasi commented on #2680
fixed in #536

[2019-04-03 14:48] zabbasi commented on #2680
@abhi-g fixed this. it is working now. dont have permission to close it.

[2019-04-03 15:22] prodonjs commented on #2885
It looks like Spartakus is able to ascertain the platform information from the other nodes in the cluster (https://github.com/kubernetes-incubator/spartakus/blob/a593c5e0f13efa415752bf4ebaccdacddf7e979a/pkg/volunteer/kubernetes.go#L64), so that pattern can be followed assuming that the Central Dashboard's server component has the appropriate roles within the cluster.

If we can get a map of what w

[2019-04-03 16:12] abhi-g commented on #2680
when that PR merges it should automatically close the issue.

[2019-04-03 16:57] lluunn commented on #2897
I just verified:
After re-run kfctl apply, everything seems unchanged (pods no restart).
But when new pod is created, I can see error from webhook:

[code]

[2019-04-03 17:04] lluunn commented on #2897
Something might be related: when I do `kubectl apply` again, most resources (deployment, svc) will show "unchanged", but mutatingwebhookconfiguration shows "configured", although the spec is the same as before

[code]

[2019-04-03 17:07] felixhuangau opened #2927 "none deployment of kubeflow is available after following the official installation"
ksonnet version: 0.13.1
jsonnet version: v0.11.2
client-go version: kubernetes-1.10.4
kubernetes version:v1.14.0

After the official installation of kubeflow and the last code I run is `${KUBEFLOW_SRC}/scripts/kfctl.sh apply k8s`, I run `kubectl get deployment -n kubeflow` to check the deployment.
And I found none of them was available, and `kubectl get pod -n kubeflow` shows `No resources found.`

[2019-04-03 17:26] damitkwr commented on #2029
@jlewi

Seldon now supports auto-scaling as per [https://github.com/SeldonIO/seldon-core/issues/277](this commit and closed issue). Can we re-open this issue and integrate the seldon-core autoscaler option into the template?

[2019-04-03 17:45] lluunn commented on #2897
ah we patch cabundle for the webhookconfig, so can't just reapply.
Will send out a PR to fix

[2019-04-03 17:53] #2900 closed

[2019-04-03 19:05] zabbasi commented on #2602
/close

[2019-04-03 19:05] #2602 closed

[2019-04-03 19:10] #2921 closed

[2019-04-03 21:34] #2824 closed

[2019-04-03 23:20] #2897 closed

[2019-04-04 01:05] #2924 closed

[2019-04-04 04:18] IronPan commented on #2852
I have seen the same error. This is happening to me when loading runs for a scheduled pipeline in pipeline UI. @jlewi Do you think this can be caused by pipeline?

[2019-04-04 04:20] IronPan commented on #2852
FWIW this is happening among a batch of requests. the rest of the requests succeeded indicating the backend should be running.

[2019-04-04 05:30] kkasravi opened #2933 "kfctl will fail for --platform gcp if $HOME/.kube/config doesn't exist"
Gcp will create /root/.kube/config but not until `kfctl apply ...` is called. Initializing Ksonnet.restConfig and Ksonnet.apiConfig in ksonnet GetKfApp is an error since they aren’t used until `kfctl apply...` . Since ksonnet is called after gcp in `kfctl apply...` initializing these values should be done inside of ksonnet Apply.

[2019-04-04 06:02] kkasravi commented on #2933
/area kfctl

[2019-04-04 06:02] kkasravi commented on #2933
/priority p0

[2019-04-04 18:46] gabrielwen commented on #2550
@lluunn
there are no backend service IDs in annotations, but we do have their names in annotations.  maybe a better approach is to extract backend name from annotations and use it for `gcloud backend-services list`.

See example:
[code]

[2019-04-04 18:48] prodonjs opened #2936 "[Central Dashboard] Convert front-end code to TypeScript"
@types/polymer-ts exists and it is probably worthwhile to convert all client side code to use Typescript, particularly as the surface expands.

[2019-04-04 18:51] prodonjs commented on #2936
/area front-end
/area centraldashboard
/assign @prodonjs
/assign @avdaredevil

[2019-04-04 18:51] prodonjs commented on #2936
/priority p2

[2019-04-04 20:19] kunmingg commented on #2904
Can we close this?

[2019-04-04 20:24] kunmingg commented on #2933
@kkasravi
Can you reproduce?
Initializing Ksonnet.restConfig and Ksonnet.apiConfig in ksonnet GetKfApp will print warning message instead of throw error if ```.kube/config``` doesn't exist.

[2019-04-04 20:41] abhi-g opened #2937 "Jupyter Spawner UI needs to pick "kubeflow" namespace in the namespace chooser by default"
Currently, the "default" namespace shows up. For novice users who may not understand namespaces, they'll end up creating notebooks in "default" namespace.

Our recommendation for v0.5 (until multi-user isolation support is complete) is to create notebooks in "kubeflow" namespace. All of Fairing instrumentation is designed to work seamlessly with notebooks created in  that namespace.

[2019-04-04 20:41] abhi-g commented on #2937
/cc @kimwnasptd

[2019-04-04 21:55] #2904 closed

[2019-04-04 22:06] zabbasi commented on #2680
rebuild the custom image from https://github.com/kubeflow/examples/blob/master/github_issue_summarization/notebooks/Dockerfile and it worked.

[2019-04-04 22:06] zabbasi commented on #2680
/close

[2019-04-04 22:06] #2680 closed

[2019-04-04 22:47] avdaredevil commented on #2937
/area front-end
/area centraldashboard
/cc @jharbuck @prodonjs

[2019-04-04 22:57] avdaredevil commented on #2937
/remove area/centraldashboard

[2019-04-04 23:16] avdaredevil commented on #2546
Since we have completed the sidebar change, this issue is not up in the air, as there are no confusing UI experiences or duplicated sidebars, though I'll defer to @ajayalfred to make that decision.

[2019-04-05 00:08] avdaredevil commented on #2937
/area jupyter

[2019-04-05 01:21] vicaire commented on #2753
Ark-kun@, could you please have a look?

[2019-04-05 06:25] kimwnasptd commented on #2925
@abhi-g with the PR for #2937 the default selected namespace now is kubeflow.

I was also thinking to remove the namespace selector from the Jupyter UI for 0.5 and always launch the Notebooks in the `kubeflow` Namespace. Then, once we include the multi-user isolation support, we could make another iteration on how the Jupyter UI should handle the namespaces.

@abhi-g @jlewi should I upload a PR fo

[2019-04-05 08:38] abhi-g commented on #2925
We had tried to make "Kubeflow" the default namespace, but running into
error. @jlewi suggested to not remove the chooser, but make Kubeflow
namespace default. That way we can continue to test the namespace based
isolation as we develop it.

On Thu, Apr 4, 2019 at 11:26 PM Kimonas Sotirchos <notifications@github.com>
wrote:

[2019-04-05 16:42] abhi-g opened #2945 "Update fairing commit hash to latest working for release v0.5"
Need to update fairing commit hash to the latest working commit for v0.5 release of Kubeflow pre-configured Jupyter notebook images.

/cc @karthikv2k @jlewi

[2019-04-05 16:45] abhi-g commented on #2945
@karthikv2k Please confirm top commit from kubeflow/fairing [564776c50d52942a42acec6280a8fd6be8812849](https://github.com/kubeflow/fairing/commits/master) is the correct one.

[2019-04-05 18:35] gabrielwen commented on #2716
cherrypick:
- [ ] Extract exact backend service name #2938

[2019-04-05 18:50] lluunn commented on #2716
https://github.com/kubeflow/kubeflow/pull/2946

[2019-04-05 18:52] IronPan commented on #2754
It looks like the -storage DM entry is not created using
https://deploy-staging.kubeflow.cloud/#/deploy?version=e90237057f3a9d3544917a703f83ca162e90a074

[2019-04-05 20:36] amygdala opened #2947 "0.5rc3: can only spawn notebook servers in kubeflow namespace"
In 0.5rc3 (installed via the click-to-deploy web app), with the UI to spawn off a notebook server, it appears that picking any namespace but 'kubeflow' doesn't work.  With the other namespaces, there's no indication at the cluster end of any attempts to spin up new pods. (The UI just spins indefinitely).

However, if you choose 'kubeflow' as the namespace, all works as expected.

Maybe related to:

[2019-04-05 20:53] #2550 closed

[2019-04-05 21:12] abhi-g commented on #2947
Apparently injection of secrets into notebooks created in Kubeflow namespace is causing the behavior that other namespace notebooks won't be creatable via the UI.
There is a workaround to create them which involves some instructions that we'll document
But the recommendation for general users is to create notebooks in Kubeflow namespace
We are making a UI change for the Jupyter web app to deafult

[2019-04-05 21:21] abhi-g commented on #2945
Few more fixes. Updated commit to [a9bb9d5cc1c9f1d75efa31198ddbdccfe176b7bf](https://github.com/kubeflow/fairing/commits/master)

[2019-04-05 21:23] davidawad commented on #2937
I have nothing to do with this issue at all but I love kubeflow and wanted to give a shoutout to the awesome maintainers.

[2019-04-05 21:35] amygdala commented on #2937
I'd suggest not just making the 'kubeflow' namespace the default, but removing the ability to select any other namespace at all (until other namespaces work properly: see  https://github.com/kubeflow/kubeflow/issues/2947)

[2019-04-05 21:38] karthikv2k commented on #2945
LGTM

[2019-04-05 21:40] abhi-g commented on #2937
This sounds reasonable to me @amygdala. @jlewi any concerns?

[2019-04-05 22:19] abhi-g commented on #2937
#2951 modifies the UI to list only kubeflow namespace until multi-user isolation and profiles creation is functional.

[2019-04-05 22:19] #2937 closed

[2019-04-05 22:20] abhi-g commented on #2947
Closing as #2937 resolved with limiting notebook creation to only kubeflow namespace. UI doesn't present other namespaces as choices.

[2019-04-05 22:20] #2947 closed

[2019-04-05 22:21] abhi-g commented on #2925
@kimwnasptd #2937 covers this as well.

[2019-04-05 22:21] #2925 closed

[2019-04-05 22:22] jlewi opened #2952 "[GCP] Make autofill work with click to deploy"
We'd like autofill to work with the click to deploy app.

In particular, we'd like web browsers to treat client id and client secret as username/password and store them securely while still allowing the user the convenience of auto-filling them when a user comes back to deploy.kubeflow.cloud

/assign @avdaredevil

[2019-04-05 22:40] avdaredevil commented on #2952
/assign @prodonjs
/cc @jharbuck
/area front-end

[2019-04-06 05:58] #2945 closed

[2019-04-06 08:55] sarahmaddox opened #2954 "[kfctl] Support deployment on more platforms - currently just GCP"
For the new kfctl binary in Kubeflow 0.5 we're targeting GCP only. For future releases, we want to support more platforms.

Note: I'm linking to this issue from the docs.

[2019-04-06 23:20] pdmack commented on #2886
kubeflow/tf-operator#917

[2019-04-06 23:26] pdmack opened #2958 "jupyter-web-app Jinja2 error"
Link from dashboard to notebooks gives a 500. jupyter-web-app flask app seems to fail with a Jinja2 error.

![Screen Shot 2019-04-06 at 7 21 42 PM](https://user-images.githubusercontent.com/2380545/55676336-47daa080-58a1-11e9-98ce-bacdc2f64a45.png)

[code]

[2019-04-07 01:03] jlewi opened #2959 "kfctl generate doesn't regenerate .cache if it is missing"
In an effort to try to upgrade an existing deployment to the latest Kubeflow; I did the following

1. Delete .cache in my existing kfapp directory
2. Rerun kfctl generate

The output was

[code]

[2019-04-07 01:03] jlewi commented on #2959
/cc @kkasravi

[2019-04-07 01:12] jlewi commented on #2958
/cc @kimwnasptd

[2019-04-07 01:16] jlewi commented on #2958
Possibly related to this PR?
https://github.com/kubeflow/kubeflow/commit/00e1320721b1643062b2842706cc1eb4bc2a36a3

[2019-04-07 01:25] jlewi commented on #2958
/cc @avdaredevil

[2019-04-07 01:29] jlewi commented on #2958
I tried: gcr.io/kubeflow-images-public/jupyter-web-app:v-latest-base-00e132-1114287775101751296

And it seemed to work.

[2019-04-07 10:02] kimwnasptd commented on #2958
@pdmack This was because of a previous PR, but @avdaredevil has resolved this with [00e1320](https://github.com/kubeflow/kubeflow/pull/2951/files).
We've been updating quite frequently the `v0.5.0` image tag of jupyter-web-app. I guess when the webapp's Pod was created, the current v0.5.0 was the one with that error?

As @jlewi noted, this should be resolved in `gcr.io/kubeflow-images-public/jupyt

[2019-04-07 15:14] pdmack commented on #2958
Yep, newer `v0.5.0` has appeared. Thanks @kimwnasptd @jlewi !
Very snazzy new UI, well done.
I'll pour one out for JupyterHub...

[2019-04-07 15:14] #2958 closed

[2019-04-07 15:22] pdmack commented on #2927
Hmmm, pretty unusual.

Can you retry and `kubectl get events -n kubeflow`? Don't need to paste it here. Just a summary of what you see or a gist.

[2019-04-07 16:06] IronPan commented on #2754
verified and it's working as expected. We need to make sure the click-to-deploy UI have permanent storage option selected by default.

[2019-04-07 16:07] IronPan commented on #2754
@kunmingg could you help with this? Then we can close this issue.

[2019-04-07 16:07] IronPan commented on #2754
/assign @kunm

[2019-04-07 16:07] IronPan commented on #2754
/assign @kunmingg

[2019-04-07 17:11] felixhuangau commented on #2927
This issues was solved, just free the disk space and those deployment run.
But some of those still not working, and the results of `kubectl get events -n kubeflow` shows `Warning BackOff pod/ml-pipeline-persistenceagent` `Warning   FailedScheduling
25s         Warning   FailedScheduling       ` `Warning   Unhealthy pod/vizier-core-58bccb7b49-v8hwg `
`Warning   BackOff                pod/vizier-cor

[2019-04-08 01:04] jlewi commented on #2927
I suspect the pods dependent on a PVC and are relying on a default storage class to create a suitable PV automatically.

Can you look at the pods that aren't starting and see whether there is a problem mounting a PV/PVC?

[2019-04-08 01:04] #2890 closed

[2019-04-08 13:11] JohnPaton opened #2961 "Jupyter Server Connect button leads to 404"
After creating a new notebook server, the routing doesn't seem to be working properly.

I have created a new notebook server under the kubeflow namespace:
![image](https://user-images.githubusercontent.com/18459252/55726265-a7ef5500-5a0f-11e9-9d78-9acc85d908b8.png)

When I click "Actions > Connect", a new tab opens at `https://kfapp.endpoints.<project-id>.cloud.goog/notebook/kubeflow/john-test4`,

[2019-04-08 13:13] jlewi commented on #2445
@kkasravi I know you've been working on this. Any update on what the remaining blockers are?

[2019-04-08 13:16] jlewi commented on #376
Obsolete now that ksonnet is deprecated.

[2019-04-08 13:16] #376 closed

[2019-04-08 13:17] jlewi commented on #154
/lifecycle stale

Current thinking is to move to using ISTIO and relying on the ISTIO gateway at the edge.

[2019-04-08 13:17] #154 closed

[2019-04-08 13:18] jlewi opened #2962 "ISTIO routing rule for pipelines"
We will need to define ISTIO routing rules for the pipelines UI to replace Ambassador.

[2019-04-08 13:18] jlewi opened #2963 "ISTIO routing rule for katib"
We will need to define ISTIO routing rule for katib to replace Ambassador routing.

[2019-04-08 13:21] jlewi opened #2964 "ISTIO routing rule for jupyter web app"
We will need an ISTIO routing rule for the Jupyter web app to replace Ambassador

[2019-04-08 13:28] jlewi commented on #2961
It looks like you are running an old version of the UI. Can you try the latest release candidate?

You need to wait for your Jupyter notebook to start. That could explain the 404. The older version of the UI you are using doesn't show the status of the notebook but the newer UI should.

[2019-04-08 13:31] JohnPaton commented on #2961
The server is started, I can use it if I forward the port. It's definitely the url mapping that's broken, else I wouldn't be getting 404s in my Jupyter server logs.

Do you agree that these lines from the Ambassador config seem strange?

[code]

I'll try to upgrade my UI.

[2019-04-08 13:49] jlewi opened #2965 "ISTIO routing rule for Argo UI"
In 0.6 we are planning on moving to ISTIO. We will  need to replace the routing rule for Argo UI with an ISTIO rule.

We might want to wait for the Argo manifest to be ported over to kustomize and then add this to the kustomize package.

#2445

[2019-04-08 14:33] JohnPaton commented on #2961
Update: I have upgraded [v0.5.0-rc.3](https://github.com/kubeflow/kubeflow/tree/v0.5.0-rc.3). The situation is now significantly worse: I can't even spawn a new notebook server anymore. The button is now `POST`ing to a url that doesn't exist:

```POST https://kfapp.endpoints.ds-kubeflow-test.cloud.goog/jupyter/post-notebook 404```

![image](https://user-images.githubusercontent.com/18459252/557322

[2019-04-08 15:07] KMFidom opened #2969 "[GCP] Document how to deal with deployment crashes no default network"
Keep getting this error when deploying kubeflow. I have made id anonymous by replacing my project ID with these words.

kubeflow: {"ResourceType":"container.v1.cluster","ResourceErrorCode":"400","ResourceErrorMessage":{"code":400,"message":"Project \"PROJECT_ID\" has no network named \"default\".","status":"INVALID_ARGUMENT","statusMessage":"Bad Request","requestPath":"https://container.googleapis

[2019-04-08 19:58] jlewi commented on #2961
I tried: v0-5-0-rc-3-2-g0515c92 and the notebook could be spawned correctly.

How are you connecting to Kubeflow? Are you connecting over the external endpoint?

https://kfapp.endpoints.ds-kubeflow-test.cloud.goog

Or using `kubectl port-forwrad`?

Can you provide the sha of the Kubeflow docker image that you are using for the UI? (You can just post the output of kubectl get deploy -o yaml jupyter

[2019-04-08 20:01] #2933 closed

[2019-04-08 21:12] Ark-kun commented on #2852
This is happening with the root Kubeflow UX on Kubeflow deploayments with IAM enabled.
It seems to be happening more and more. Previously it was happening after waiting for several hours. Not it can happen after few minutes.

[2019-04-08 21:41] illeatmyhat commented on #2846
It's very opaque to set up connecting to Kubeflow over SSL on a custom domain name in an on-prem cluster.
The existing documentation only covers GCP-specific tooling, and the `ks` approach is too different from the existing documentation of the components that Kubeflow uses (i.e. Ambassador)

[2019-04-08 21:48] jlewi commented on #2884
@kunmingg Added a work around to Click To Deploy.
When this rolls out into production you will be able to select "IAP Defer Endpoint Setup.". This setup should be equivalent to local port-forwarding in 0.4 because Ambassador doesn't enforce any authorization; so you can port-forward to Ambassador.

[2019-04-08 21:48] #2884 closed

[2019-04-08 21:49] jlewi commented on #2233
@kkasravi and I have been working on a doc. Hope to share more broadly soon.

[2019-04-08 22:17] jlewi opened #2973 "Deploy Application Custom Resource"
It looks like during all the refactoring of kfctl we stopped installing the application custom resource.

We should add it back because we will need it to begin defining application resources to describe Kubeflow.

/cc @kunmingg @kkasravi

[2019-04-08 22:38] avdaredevil opened #2974 "[For:Dashboard v1] Require environment information via Kube-Controller"
We need to be able to rely on Kube-ctrl to get information about the network such as:
- Build Version
- Cloud Environment
- App Name (for platform-specific links) #2885 (#2935)

/assign @jlewi
/cc @avdaredevil @prodonjs

/kind feature-request
/priority p1

[2019-04-08 22:51] tjhgit opened #2975 "How can I access own service deployed in kubeflow via ambassador?"
Here is my service definition:
[code]
How can I access now this service from outside?

[2019-04-08 22:58] jlewi commented on #2973
The package is here
https://github.com/kubeflow/kubeflow/tree/master/kubeflow/application

It looks like we need to add it to the kfctl configs so we actually install it.
https://github.com/kubeflow/kubeflow/blob/master/bootstrap/config/kfctl_default.yaml

[2019-04-08 23:01] jlewi commented on #2973
It looks like there is a bunch of jsonnet logic in that file.
https://github.com/kubeflow/kubeflow/blob/b3d30863e6c0eb716fac981d6f01c6fcb3c7ee20/kubeflow/application/application.libsonnet#L78

I think that logic is related to using jsonnet to get a list of all the components installed.

I think we can remove that logic and instead rely on the Application controller to match the application to its

[2019-04-08 23:05] jlewi opened #2976 "Define an uber Kubeflow application"
We want to define an instance of the K8s application resource to represent Kubeflow.
This application resource will contain meta information about Kubeflow such as the platform, version, etc...

[2019-04-08 23:06] jlewi commented on #2974
#2976 is the issue to define an application resource that is the blocking issue.

[2019-04-08 23:38] kunmingg commented on #2601
@gabrielwen

[2019-04-08 23:38] #2747 closed

[2019-04-09 01:54] gabrielwen commented on #2601
/area 0.6.0

[2019-04-09 01:56] gabrielwen commented on #2601
/label area/0.6.0

[2019-04-09 08:21] JohnPaton commented on #2961
I am connecting through the external endpoint. Port forwarding works fine once a notebook server is spawned.

I left the cluster along overnight the "spawn" button works again - very mysterious. Probably just some syncing issues after doing the update. However, I'm now back to the original situation that the routing isn't working:

Notebook is created:

![image](https://user-images.githubuserconte

[2019-04-09 20:11] gabrielwen commented on #2601
/assign @gabrielwen

[2019-04-09 21:38] kunmingg opened #2978 "Make kubeflow use Istio instead of ambassador by default"
Include sub issues in https://github.com/orgs/kubeflow/projects/7

[2019-04-09 21:43] kunmingg commented on #2963
@gabrielwen

[2019-04-09 21:43] kunmingg commented on #2261
@gabrielwen

[2019-04-09 21:49] kunmingg opened #2979 "Make Profile controller support multi-user notebook"
For each profile CR (created through registry UI), controller need to manage following k8s resources:

Due end of Q2:
* Namespace
* K8s rbac Role & Rolebinding to grant k8s user and service account necessary access to above namespace.
  * enable user’s kubectl access
  * enable service-account’s in-cluster access
* Grant impersonate permission of k8s user account to notebook spawner backend
* Isti

[2019-04-09 21:49] gabrielwen commented on #2963
/assign @gabrielwen

[2019-04-09 21:50] zabbasi opened #2980 "Users should be able to create notebooks without service account"
Currently if a given namespace does not have  gcp secret and k8s service account namely user-gcp-sa and jupyter-notebook respectively, then user cannot create any notebook (ui's notebook status shows creating forever). We need to resolve this by giving the option to user to choose his desired service accounts to be installed in the notebook's pod.

[2019-04-09 21:52] kunmingg opened #2981 "Notebook Spawner should check for edit permissions before spawning the notebook"
When talking to k8s API, Notebook Spawner backend should
* read user id from jwt
* impersonate as k8s user account
* k8s master then block or proceed based on rbac rule of k8s user account

[2019-04-09 21:54] zabbasi commented on #2980
/priority/p0

[2019-04-09 22:00] zabbasi commented on #2980
/project Multi User Jupyter

[2019-04-09 22:29] kunmingg opened #2982 "Default IAM role and k8s rbac role for new user under multi-user case"
* IAM role should give access to k8s cluster and IAP app. (Create a custom role? kubeflow-user)
* k8s rbac role should block access to any k8s resource by default. (Assume user self-serve to start through UI)

[2019-04-09 23:40] kkasravi commented on #2445
@jlewi

- Delete isn't implemented but I will leverage labels that kustomize applies.
- A few remaining .jsonnet conversions for GCP (see below)
  - basic-auth-ingress.jsonnet
  - metric-collector.jsonnet
  - prometheus.jsonnet

deploy to GCP works using the following
[code]

I'll update the complete list here as well as the breakdown between @swiftdiaries  and myself.
We can put priorities on the

[2019-04-09 23:59] lluunn commented on #2891
/assign

[2019-04-10 00:40] Jeffwan commented on #2261
Right now,  for aws, we use ingress and application load balancer is created to manage external traffic.

External Traffic → [ Ingress → Istio-ingress-gateway → ambassador ]

Could I  know in 0.6, if TLS, authentication and authorization will be added at istio or other places?

[2019-04-10 00:41] kunmingg commented on #2979
This effort should be followup of ```multi-user notebook with manual rules```

[2019-04-10 00:43] Jeffwan commented on #2954
AWS is working on support for kfctl(golang). We recently just finish kfctl.sh suppot. Please involve me in any related topics. Thanks!

[2019-04-10 00:46] Jeffwan commented on #2962
Just notice several issues are created to add istio rule for different components.
For these static pods, it can have predefine rules. For resources like tf-serving or jupyter notebooks, how to add routing rule dynamically? Any component will be added to do this work?

[2019-04-10 02:45] jlewi opened #2986 "Value of kfctl version is hardcoded and not representative of the actual build."
I built kfctl in my branch

Here's the output of kfctl version from the resulting build

[code]

This doesn't match git describe

[code]

e7d0b5a7 is the commit I have checked out. Not sure what the other number refers to.

/cc @kkasravi @gabrielwen

[2019-04-10 02:46] jlewi commented on #2986
Looks like the version is currently hardcoded here.
https://github.com/kubeflow/kubeflow/blob/1f4b0a2f31a9edba1e3f2e5c92a90bd9f252af27/bootstrap/cmd/kfctl/cmd/version.go#L46

[2019-04-10 08:25] cndaimin commented on #2863
I got the same error messages periodically for more than 30 minutes when I was trying to install kubeflow 0.5.0 in my minikube cluster according to this [guide](https://www.kubeflow.org/docs/started/getting-started-minikube/#installing-kubeflow-using-kfctl).  `kubectl` shows:
[code]

[2019-04-10 08:26] cndaimin commented on #2863
@jlewi

[2019-04-10 08:32] GeorgeGeng commented on #2799
你先确定下自己的kubelet有没有问题，我刚刚也遇到了这个问题，看了下是kubelet没起来，原因是k8s和docker的文件驱动不一样（failed to create kubelet: misconfiguration: kubelet cgroup driver: "cgroupfs" is different from docker cgroup driver: "systemd"），修改其中一个，重启kubelet。

[2019-04-10 10:39] kkasravi commented on #2986
/assign @kkasravi

[2019-04-10 17:31] swiftdiaries opened #2989 "Registry URL for kfctl - similar to pip index-url"
kfctl should be able to switch out registries from gcr and point at docker or local or custom registries with an index URL flag similar to what pip has.

Use cases:
1. Airgapped installs onpremise
2. Setups where gcr is not accessible (China)

Pip index-url reference: https://pip.pypa.io/en/stable/reference/pip_wheel/#cmdoption-i

[2019-04-10 18:25] jlewi opened #2992 "Jupyter spawner ui - let user select admission hooks to apply to the notebook"
We are increasingly using webhooks to inject volumes and environment variables into Jupyter pods.

For example

  * On GCP we inject GCP credentials into Jupyter pods
  * We'd like to use to inject GIT secrets (see #2889 )

To support this we'd like the jupyter spawner UI to let users choose which admission hooks to apply to their notebooks.

Admission hooks are controlled based on labels. So step

[2019-04-10 21:38] zabbasi commented on #2992
Similar work which implements podpreset using CRD and a mutating webhook.
https://github.com/jpeeler/podpreset-crd

[2019-04-11 01:38] vincent-pli opened #2994 "tf-serving should tell user assign the cluster-admin role when adopt new created namespace rather than default "kubefow""
I try to deploy the serving with new namespace rather than "kubeflow", I hit the permission forbid issue when it try to create k8s service, so I think we should document that.

[2019-04-11 08:00] JohnPaton opened #2995 "[Question] How to customize spawned Jupyter notebook service?"
I would like to do a bit of customization on the Jupyter server deployments and services that our data scientists spawn - think of adding a label and some custom annotations. Customizing the UI config was easy, I just modified `vendor/kubeflow/jupyter/config.yaml` in the `ks` app created by `kfctl`. But if I try to make other modifications (e.g. to `sync-notebook.libsonnet`), these changes don't s

[2019-04-11 08:21] cndaimin commented on #2863
@jlewi

I hacked this file `scripts/kfctl.sh` by moving those lines from https://github.com/kubeflow/kubeflow/blob/master/scripts/kfctl.sh#L260 to https://github.com/kubeflow/kubeflow/blob/master/scripts/kfctl.sh#L588:
[code]
Luckily it works, hope this helps.

[2019-04-11 09:06] quanguachong opened #2996 "Did notebook-controller use code-generator's deepcopy-gen?"
You use go module to manage packages. However,code-generator used by kubebuilder doesn't work in go module.
1. How did you generate the [zz_generated.deepcopy.go](https://github.com/kubeflow/kubeflow/blob/master/components/notebook-controller/pkg/apis/notebook/v1alpha1/zz_generated.deepcopy.go) file?

2. How to update `zz_generated.deepcopy.go` if you change [notebook_types.go](https://github.com/

[2019-04-11 13:43] jlewi commented on #2996
@zabbasi @lluunn Do you know the answer?

[2019-04-11 13:43] jlewi commented on #2996
I think we are using kubebuilder and I think that generates all the code.

[2019-04-11 13:48] jlewi commented on #2995
sync-notebook.libsonnet is no longer used. We now use a go lang controller.
https://github.com/kubeflow/kubeflow/tree/master/components/notebook-controller

I don't think we support arbitrary customizations.

For labels and annotations it might make sense to just propogate the annotations from jupyter resource to the service.

For arbitrary customizations, one option would be to define an admissio

[2019-04-11 15:08] jlewi opened #2997 "[Discussion] Master branch tagging"
We commonly use [git describe](https://git-scm.com/docs/git-describe) to describe version information; e.g. for image tags.

[code]

This will output the most recent tag, number of commits since the tag and then the actual commit.

On release branches this provides nice output e.g. on v0.5-branch

[code]

Since the branch hasn't diverged yet from the v0.5.0 tag.

If we check out a more commit befo

[2019-04-11 15:08] JohnPaton commented on #2995
Hmmm... this is related to #2961, on my installation (I've destroyed and created a few clusters with various rc's of 0.5) I can't access spawned notebooks the `rewrite` in the Ambassador config annotation is sending requests to a non-existent endpoint on the notebook server.

I was hoping to patch this myself until #2961 gets a bit more attention, as this renders Kubeflow unusable for data science

[2019-04-11 15:13] jlewi opened #2998 "Add Platform AWS support to kfctl"
AWS is supported in kfctl.sh but we should think about porting that over to the kfctl binary.

I think @Jeffwan has said he will work on this.

/assign @Jeffwan

Related Issues: #2954
Related issues: #32

[2019-04-11 15:16] jlewi commented on #2954
#2998 Thanks @Jeffwan filed #2998 assigned to you.
#2476 Azure support in kfctl

minikube and dockerfordesktop are already thread.
https://github.com/kubeflow/kubeflow/tree/master/bootstrap/pkg/kfapp

Thanks @sarahmaddox closing this issue in favor of the more specific issues listed above.

[2019-04-11 15:19] #2954 closed

[2019-04-11 17:02] Jeffwan commented on #2998
/assign

[2019-04-11 17:33] lluunn commented on #2996
We use kubebuilder (which init with dep), and then migrate to go module. (`go mod init` and delete Gopkg.*)
I am actually not sure how zz_generated.deepcopy.go works.

[2019-04-11 17:52] zabbasi opened #3000 "Jupyter UI should allow creating notebooks in all namespaces"
in Kubeflow v 0.5, UI allows to launch notebook in only Kubeflow namespace [#2925](https://github.com/kubeflow/kubeflow/issues/2925).
This is because, Kubeflow 0.5 i) by default GCP and K8S service accounts are only available in kubeflow namespace, and ii) every notebook is expected to apply an admission hook to mount GCP and K8S service accounts.  Therefore, notebooks fails to create in other nam

[2019-04-11 17:55] zabbasi commented on #3000
/priority p1

[2019-04-11 17:56] zabbasi commented on #3000
/cc @jlewi @kimwnasptd

[2019-04-11 18:05] zabbasi commented on #3000
/area jupyter

[2019-04-11 18:05] zabbasi commented on #3000
/cuj multi-user

[2019-04-11 18:28] prodonjs commented on #2974
/area centraldashboard

[2019-04-11 20:48] dimm0 commented on #1915
Any updates?

[2019-04-11 20:52] kyprifog commented on #155
I find this discussion intriguing.  I guess the question I would ask, is if kubeflow isn't the tool for this (which I can see arguments for why thats the case), then what is something like that which can be used that still deploys and manages spark jobs on kubernetes and allows for easy interoperation with kubeflow.  Does the spark-on-k8s operator sufficiently fill this niche?

[2019-04-11 21:56] kimwnasptd commented on #2961
@JohnPaton (I'm taking wild guess here) I think the issue is with your Notebook's Image. I see it is a custom one.

For 0.5 we have changed the images of the Notebooks. The important change here is that in the new [images](https://github.com/kubeflow/kubeflow/blob/master/components/tensorflow-notebook-image/Dockerfile), we set the `base_url` flag in the entrypoint in order for the Notebook to resp

[2019-04-11 21:58] kimwnasptd commented on #3000
/assign kimwnasptd

[2019-04-11 23:04] gaoning777 opened #3003 "permission error during deployment when GOOGLE_APPLICATION_CREDENTIAL is set as the environment"
If the GOOGLE_APPLICATION_CREDENTIAL is set as the environment variable, kfctl uses this credential directly instead of the credential from 'gcloud auth application-default login'.

The error looks like:
Error: couldn't apply KfApp:  (kubeflow.error): Code 500 with message: coordinator Apply failed for gcp:  (kubeflow.error): Code 400 with message: gcp apply could not update deployment manager Err

[2019-04-11 23:12] gabrielwen commented on #3003
It's intended behavior of `google-api-go-client`:
https://github.com/golang/oauth2/blob/9f3314589c9a9136388751d9adae6b0ed400978a/google/default.go#L61

[2019-04-11 23:25] jlewi commented on #3003
@gabrielwen Should we output a log message indicating that GOOGLE_APPLICATION_CREDENTIALS is set and that's the credential being used?

[2019-04-11 23:49] gabrielwen commented on #3003
Yea, I think so.  We shouldn't change expected behavior (e.g. unset ENV `GOOGLE_APPLICATION_CREDENTIALS`) as poeple might count on it.

[2019-04-12 00:00] kunmingg opened #3004 "[multi user] Set default Network Policy for user namespace"
By default, pods are non-isolated.
We should setup user namespace Network Policy so that pods only accept traffic from istio or from within same namespace.

[2019-04-12 00:16] lluunn opened #3005 "Fix e2e test for click-to-deploy"
We already have e2e test running periodically for click-to-deploy, with and without Istio.
https://github.com/kubeflow/kubeflow/blob/master/prow_config.yaml#L4-L28

But they are failing.

[2019-04-12 00:18] Ark-kun opened #3006 "iam_patch.py does not detect errors"
[code]

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/1137/kubeflow-pipeline-e2e-test/1116420716355391488

[2019-04-12 00:19] lluunn opened #3007 "Install Istio by default"
- finish e2e first
- for both kfctl and C2D, we can set install istio flag to true by default
- cleanup iap components (e.g. remove envoy service)

[2019-04-12 00:49] lluunn opened #3009 "CSM integration"
CSM = managed istio
We should see how we can integrate with it when deploying on gcp

[2019-04-12 02:20] quanguachong commented on #2996
Thanks anyway!

code-generator seems support go module now, https://github.com/kubernetes/code-generator/issues/57

[2019-04-12 12:30] JohnPaton commented on #2961
Hi @kimwnasptd, thanks so much for looking into this with me.

Ah, this is very interesting. Since custom images are supported I just assumed that the most standard images of all, the [Jupyter Stacks](https://jupyter-docker-stacks.readthedocs.io/en/latest/using/selecting.html) images, would be supported, but that's apparently not the case. I should have noticed this in the [docs](https://www.kubef

[2019-04-12 14:52] marrrcin opened #3011 "Best practices for large data (GCS)"
It seems to me like there is little to no information about how to use Kubeflow to run ML Pipelines that consume large amounts of data stored in Google Cloud Storage.

Consider the following two cases:
1. A few GB of CSV files stored in GCS (let's say that they are partitioned by 100MB each)
1. A few TB of image data.

What is the best practice to consume this data?
Should I write the code on my o

[2019-04-12 16:58] gabrielwen commented on #2978
/assign @gabrielwen

[2019-04-12 21:03] lluunn commented on #1915
@dimm0 We are working on multi-user support in 0.6 (Q2).
Basically, after admin deploying Kubeflow, a (non-admin) new user should first create a "profile", and then some controller will create a namespace a bunch of resources in that namespace. That user will only have access in his/her own namespace.
Is this what you are looking for?

[2019-04-12 22:04] dimm0 commented on #1915
Yes

[2019-04-12 22:07] mFat7y commented on #1189
Hello,
Any updates on this issue? I'm facing a similar problem but with `sparkmagic` tool with JupyterLab. I use `manage_spark` magic to control the sessions using small UI widget. but when I reload notebook the page I get the same error (Error creating widget: could not find model) and I have to force reload the `sparkmagics` again to get it working.

[2019-04-12 23:47] gachiemchiep commented on #2863
Hello @cndaimin
Isn't "set -x" and "set +x" used for setting the level of tracing log ?
How can that fix your problem .

[2019-04-13 00:09] gabrielwen opened #3014 "healthy check URI is / instead of /healthz"
Please look at `path`:
![image](https://user-images.githubusercontent.com/4784270/56071803-a393a680-5d45-11e9-9451-bd1a804029ff.png)

[2019-04-13 00:09] gabrielwen commented on #3014
@lluunn please help triage this, thanks :)

[2019-04-13 00:23] suredream commented on #1915
Any timeline for 0.6?

[2019-04-13 06:57] dyoung23 opened #3015 "Jupyter pod is running while the jupuyterhub web stuck there"
I submit a jupyter pod,and it will be running soon after that.But the jupyterhub web always stuck at _Your server is starting up You will be redirected automatically when it's ready for you_ until it's timeout after 30mins. How can I deal with it?
[code]
the log in jupyterhub pod is as below
[code]

[2019-04-13 23:02] jlewi commented on #3015
Can you provide the logs from the `jupyter-admin` pod?

[2019-04-13 23:03] jlewi commented on #3014
@gabrielwen Can you provide more context? Is this one of our CI clusters? How was this error produced?

[2019-04-13 23:10] jlewi opened #3016 "Include emacs in jupyter images"
Should we add emacs to the Jupyter images?

Immediate use case for me is resolving conflicts when using git.

It looks like we have vi installed right now.

/cc @zabbasi @pdmack

[2019-04-13 23:28] reinhouthooft commented on #1583
@jlewi Do you have any update on this? I'm able to get TFX on Beam on Flink on k8s working, but the cluster seems to hang when using complicated graphs (which can be avoided via splitting them into chunks) and large data volumes.

[2019-04-14 05:37] dyoung23 commented on #3015
the logs from jupyter-admin pod:
[code]

[2019-04-15 00:04] jlewi commented on #2754
@IronPan @kunmingg Can we close this?

[2019-04-15 00:16] jlewi commented on #3015
@dyoung23 What happens if you try connecting to the notebook itself bypassing JupyterHub?

Right now this looks like a JupyterHub issue and not a Kubeflow issue. Did you check the Kubespawner and JupyterHub GitHub issues to see if the was a similar issue already?

It looks like our JupyterHub image in 0.4 is using Kube spawner 0.9.0
https://github.com/kubeflow/kubeflow/blob/8212d72f5a4d5edb2345cd6

[2019-04-15 00:17] #2996 closed

[2019-04-15 00:45] jlewi commented on #3011
It really depends on what you are doing. Are you using TensorFlow? TensorFlow can read directly from GCS and it is optimized to read efficiently using the io utils in TensorFlow.

/cc @vicaire  @paveldournov

[2019-04-15 00:48] jlewi commented on #2621
Got it thanks.

[2019-04-15 00:51] jlewi commented on #1803
/lifecycle stale

[2019-04-15 00:51] #1803 closed

[2019-04-15 00:54] jlewi commented on #865
With 0.5. It looks a little better if we use bash. But it looks like the default shell is still `sh` which causes problems with things like code completion.

[2019-04-15 00:55] jlewi commented on #737
/lifecycle obsolete
We've migrated off JupyterHub in 0.5

[2019-04-15 00:55] #737 closed

[2019-04-15 00:55] jlewi commented on #192
This is fixed by fairing: see kubeflow/fairing.

[2019-04-15 00:55] #192 closed

[2019-04-15 00:56] jlewi commented on #100
This is fixed in Kubeflow 0.5.

[2019-04-15 00:56] #100 closed

[2019-04-15 00:56] jlewi commented on #52
/lifecycle stale

[2019-04-15 00:56] #52 closed

[2019-04-15 01:13] jlewi opened #3017 "Demo script for running Jupyter in a non-default namespace"
At the multi-user discussion on Friday I think we decided to aim to do a demo of launching a notebook in a non Kubeflow namespace on 04/30.

I think the intent is to come up with a doc that lays out all the  kubectl & cloud commands a user would have to run to setup a new namespace and begin launching notebooks in it.

I think @zabbasi has been working on some instructions at least for GCP.

Here'

[2019-04-15 01:19] jlewi commented on #2261
@Jeffwan I think it depends a bit on how you want to configure things for AWS.

On GCP we plan on doing

External Traffic -> GCP LoadBalancer -> ISTIO gateway

Authentication will happen at the loadbalancer.
Authorization will be applied at the ISTIO gateway (as well as the loadbalancer).

We will do HTTPs termination at the loadbalancer. But other platforms might choose to configure ISTIO to do H

[2019-04-15 01:22] jlewi commented on #2261
Has someone tried installing Kubeflow with ISTIO and seeing what works and what doesn't?

[2019-04-15 02:16] hougangliu opened #3018 "modeldb cannot work"
When install modeldb in kubeflow 0.5 release, modeldb cannot work right to create project by `client.set_experiment` with below message
[code]

Per talk with modeldb team, it is an bug of modeldb. Log this ticket to trace it

[2019-04-15 02:17] hougangliu commented on #3018
/assign @mpvartak

[2019-04-15 03:35] dyoung23 commented on #3015
@jlewi Thanks for your reply.
I can't find anyething useful in Kubespawner and JupyterHub GitHub issues except one issue which fixed it by restart the hub pod,and it doesn't work for me.

And I don't know how to connect to the notebook bypassing JupyterHub,I think I only can connect the notebook in its container.

[2019-04-15 04:53] Jeffwan commented on #2261
@jlewi  Yes. Sounds good to me. AWS now uses Cognito(a user pool service) and Load balancer to authenticate users. Authorization I have not added to the solution.

I add istio into aws platform. Using this customized version.
https://raw.githubusercontent.com/kubeflow/kubeflow/master/dependencies/istio/install/crds.yaml
https://raw.githubusercontent.com/kubeflow/kubeflow/master/dependencies/istio/

[2019-04-15 06:54] marrrcin commented on #3011
I have use cases for TensorFlow but I also have pipelines with XGBoost, PyTorch and scikit-learn based models. My question is more general.

[2019-04-15 12:38] jlewi commented on #2630
@swiftdiaries How's it going with the testing? Do we have an E2E test that could be used to verify that deploying with kustomize is working?

[2019-04-15 16:22] nkpng2k commented on #1254
Hi @jlewi,

We are going to look into adjusting our deployment process to include kustomize ... possibly another package. Is `kustomize` the recommended?

As soon as I am able to update the deployment process, I will let you know.
Thanks,
Nicholas

[2019-04-15 16:30] jlewi opened #3020 "kfctl use kustomize by default by 04/30"
Creating this issue to track changing kfctl to use kustomize by default.

I'd like to target 04/30 for using kustomize by default on master as opposed to ksonnet. This gives us 8 weeks to iron out all the kinks before cutting 0.6.

@hougangliu @swiftdiaries @kkasravi Does that date seem reasonable?

[2019-04-15 16:33] jlewi opened #3021 "kfctl use ISTIO by default by 04/30"
Filing this issue to track the time by when we switch to using ISTIO as opposed to Ambassador by default.

I'd like to target 04/30. This would give us 8 weeks to then work out any kinks on master before cutting 0.6.

@gabrielwen @lluunn Does it seem reasonable to flip over to using ISTIO by default by 04/30?

[2019-04-15 16:47] lluunn commented on #3021
sgtm

[2019-04-15 17:07] lluunn commented on #2052
will use #3007 to finish this

[2019-04-15 17:07] #2052 closed

[2019-04-15 17:15] lluunn commented on #1915
0.6 is for Q2, end of June

[2019-04-15 17:26] lluunn commented on #3014
We have a job to update the healthcheck path to /healthz: https://github.com/kubeflow/kubeflow/blob/master/kubeflow/gcp/update_backend.sh#L38

And our Istio setup is assuming it's /healthz for routing and also jwt check excludes that.

However, it seems that although that job finished without error, the health check path is still /

[2019-04-15 17:28] kkasravi commented on #3020
@jlewi yes, though with some caveats.
- We need a good story on e2e tests
- We need to standardize existing manifests in PR #13.
- The README.md in PR #13 needs to show what we're suggesting as a standard form. This similar to what we did in ksonnet.

[2019-04-15 17:32] zabbasi commented on #2992
/priority p1

[2019-04-15 17:46] gabrielwen commented on #3021
sounds reasonable to me.

[2019-04-15 18:22] gabrielwen commented on #2965
/assign @gabrielwen

[2019-04-15 18:44] gabrielwen commented on #2964
/assign @gabrielwen

[2019-04-15 18:44] gabrielwen commented on #2962
/assign @gabrielwen

[2019-04-15 19:05] vicaire commented on #3011
/cc @hongye-sun (who has been working on pipeline components to interact with GCP: https://github.com/kubeflow/pipelines/tree/master/component_sdk)

In the case of Tensorflow, @jlewi's solution would work well as the training algorithm would download the files from GCS in batches as needed (See the Youtube8M example: https://github.com/google/youtube-8m).

A similar batch pattern could be implemen

[2019-04-15 19:07] kunmingg commented on #2173
Should we update issue based on previous discussions?

[2019-04-15 19:20] jlewi commented on #3017
@zabbasi Has a website doc. WIll open up a PR and mark it WIP; blocked on UI allowing people to select namespace.

[2019-04-15 20:44] gabrielwen commented on #3014
/assign @gabrielwen

[2019-04-15 21:24] jlewi opened #3023 "Upgrade GKE to 1.12 or later in 0.6"
In 0.6 we should bump GKE to 1.12 or later. This will allow us to use options like manged certificates
https://cloud.google.com/kubernetes-engine/docs/how-to/managed-certs

[2019-04-15 21:28] babu-selector opened #3024 "Under release 0.5.0, kfctl init fails with kubeconfig error."
/go/src/github.com/estwo/s2cloud # kfctl init ${KFAPP} --platform gcp --project ${PROJECT}

WARN[0018] batch API enabling is running: [deploymentmanager.googleapis.com servicemanagement.googleapis.com container.googleapis.com cloudresourcemanager.googleapis.com endpoints.googleapis.com file.googleapis.com ml.googleapis.com iam.googleapis.com sqladmin.googleapis.com] (op = operations/acf.2c66d564-3

[2019-04-15 22:11] gabrielwen commented on #3014
/priority p0

[2019-04-15 22:43] #3014 closed

[2019-04-15 23:14] hougangliu commented on #3020
@jlewi I think it's OK for me since I can focus on manifest project in coming two weeks.

[2019-04-15 23:19] swiftdiaries commented on #3020
@kkasravi We might need to simplify the kfctl implementation.
We can for now pipe out the kustomize output to `kubectl` for apply and delete. Get something minimal in then iron out details and add the ksonnet like UX.
WDYT?

[2019-04-16 00:46] kkasravi commented on #3020
@swiftdiaries [kfctl](https://github.com/kubeflow/kubeflow/pull/2971) apply, delete - is working right now for kustomize w/o calling kubectl - what types of simplifications were you thinking of?

[2019-04-16 00:49] swiftdiaries commented on #3020
Oh cool. My bad 😅
I thought with the ksonnet like UX we might be strapped for time.

On Mon, Apr 15, 2019 at 17:46 Kam Kasravi <notifications@github.com> wrote:

[2019-04-16 01:27] sarahmaddox opened #3027 "Broken link on Kubeflow deployment UI"
On the Kubeflow deployment UI:
https://deploy.kubeflow.cloud/

There's a link to the docs that doesn't go anywhere useful. The link is currently:
https://www.kubeflow.org/docs/started/getting-started-gke/#create-oauth-client-credentials

The link should be:
https://www.kubeflow.org/docs/gke/deploy/oauth-setup/

The link is on the word "instructions" in the following text:

[code]

[2019-04-16 02:35] jlewi commented on #2852
@Ark-kun @IronPan @rileyjbauer when you observe this error can you take a look and provide your Ambassador pod logs?

I noticed this and when I looked at the logs (see below) I saw errors like the following

[code]

If you observe this I might suggest trying to kill all your Ambassador pods.

[code]

Ambassador tries to setup a K8s watch on the APIServer to be notified about service changes. It lo