[2019-08-09 16:40] kimwnasptd commented on #3851
hi @amygdala

Regarding the first bullet I'll add some text + Tooltip in the Namespace field of the Form to inform the user to chose one from the dashboard. @amygdala @avdaredevil @prodonjs would it make sense in terms of UX if a user haven't selected a namespace, to not load the underlying UI and show a relative message? Just like the `Sorry, /notebook/blah/blah is not a valid page`, but with som

[2019-08-09 16:47] sushkov-r commented on #3615
Having the same issue. None of the links in the menu bar work for me.
I am accessing the UI by port-forwarding svc/centraldashboard: `kubectl port-forward svc/centraldashboard -n kubeflow 8888:80`. Perhaps I am missing some step here?
----
kfctl version: 0.6.1 [go version]
Cluster: AWS EKS automatically created by kfctl
kfctl config derived from this: [config](https://github.com/kubeflow/kubeflow/

[2019-08-09 17:06] prodonjs commented on #3851
I'm in agreement with the idea that for namespaced applications like Notebooks, it shouldn't be possible to navigate to that UI without first having selected a namespace. I think the dashboard should try to select it for the user by default upon load and have some stickiness to remember the most recently used namespace. At this point, it feels like making the user have to select a namespace before

[2019-08-09 17:42] gabrielwen commented on #3810
/assign @gabrielwen

[2019-08-09 17:58] SinaChavoshi commented on #3832
one of our customers also observed a similar manifestation of this issue with error message
`code 400 with message: gcp apply could not create secrets Error cannot create admin secret admin-gcp-sa; Service account key creation error: Post https://iam.googleapis.com/v1/projects/...XYZ...-admin@....XYZ.....iam.gserviceaccount.com/keys?alt=json&prettyPrint=false: read tcp [........]:51273->[......]:4

[2019-08-09 18:07] #3560 closed

[2019-08-09 18:41] kkasravi commented on #3810
@yanniszark @gabrielwen @jlewi @ashahba

I've been going through the kubectl [Apply](https://git.k8s.io/kubectl/pkg/cmd/apply) code and it's none trivial using various flags like --prune, --force, --include-uninitialized.

Unless we're willing to use JsonPatch or StrategicPatch, the simplest approach
would be to just do new objects. More complicated use cases of Patch could be done
using Kustomize

[2019-08-09 19:22] yanniszark commented on #3810
@kkasravi instead of complex apply functionality, would a simple update work for us?
It replaces the whole old object with the new one.
Is that what you mean by `just do new objects` ?

[2019-08-09 19:26] jlewi commented on #3571
@SinaChavoshi did you try running through the debug steps listed in the first comment to identify where the problem is.

[2019-08-09 19:50] blublinsky opened #3858 "default-editor service account is not created while starting notebook server"
/kind bug

**What steps did you take and what happened:**
After installing kubeflow 0.6 following https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/, creation of Notebook fails, because serviceaccount default-editor does not exist.
Same issue is described https://github.com/kubeflow/kubeflow/issues/3232

**Environment:**
OpenShift 4.1
- Kubeflow version: (version number can be found at the

[2019-08-09 19:55] kkasravi commented on #3810
replacing some objects would definitely be destructive (namespace, deployment, replicas, application) especially if they have cascaded deletes and some would have weird side effects like webhooks. I was thinking that new objects would be safest and probably address the use case of `kfctl apply` aborting halfway through. One think we're seeing is that istio CRDs aren't being created quick enough fo

[2019-08-09 19:56] blublinsky opened #3859 "Kubeflow main page namespace selection"
/kind bug

When trying to change namespace on Kubeflow main page, the drop down of namespaces is showing behind the left blue pane, which completely obstructs the list

- Kubeflow version: 0.6
- kfctl version: kfctl v0.6.0-0-g71aea0a9
- Kubernetes platform: OpenShift
- Kubernetes version: kubernetes v1.13.4+c62ce01

[2019-08-09 20:54] mattnworb commented on #3810
Has it ever been considered to shell out to `kubectl apply ...` rather than have client-go code in kfctl that talks to the k8s api-server directly?

[2019-08-09 21:00] abhi-g commented on #3810
+1 to that. I think coloring the did to apply is getting hairy and will end
up replicating kubectl.

On Fri, Aug 9, 2019 at 1:55 PM Matt Brown <notifications@github.com> wrote:

[2019-08-09 21:05] kunmingg opened #3860 "Release cut v0.6.2"
We need to cut minor release v0.6.2 which include latest UIs and minor bug fixes.
Please comment below if your PR should be cherry-picked to v0.6.2.

[P0s](https://github.com/issues?utf8=%E2%9C%93&q=org%3Akubeflow+label%3Apriority%2Fp0+project%3Akubeflow%2F5+is%3Aopen+)

[2019-08-09 21:07] blublinsky opened #3861 "Roles used for operators do not allow operations on finalizers"
/kind bug
Roles used for operators, for example, notebook-controller-role, does not list .../finalizers, for example, notebooks/finalizers

https://github.com/kubeflow/kubeflow/issues/3086

**Environment:**

- Kubeflow version: 0.6
- kfctl version: kfctl v0.6.0-0-g71aea0a9
- Kubernetes platform: OpenShift
- Kubernetes version: kubernetes v1.13.4+c62ce01

These roles has to be extended as follows:

[2019-08-09 21:29] kkasravi commented on #3810
there has been some prototyping related to kustomize plugins where most of kfctl can be embedded with kustomize. Given the fact that kustomize is part of kubectl (https://kubernetes.io/docs/tasks/manage-kubernetes-objects/kustomization/) there is a pathway where kfctl could also disappear - with parts being integrated into kubectl via kustomize plugins. At this point we wouldn't need to shell out

[2019-08-09 21:34] kkasravi commented on #3810
Followup on above.
`kubectl apply -k kustomization.yaml` is the syntax since k8-v1.14

[2019-08-09 21:38] ferrgo commented on #3610
I did open a PR for a possible fix, if you wouldn't mind checking it out at: https://github.com/kubeflow/kubeflow/pull/3644

May that change will let you move out of this issue. But since then haven't worked with minikube, and didn't get to look on any updates, but as mentioned by @yanniszark and @jlewi maybe kfctl.sh is not the approach to go for. Highly suggest you guys try to  follow the workfl

[2019-08-09 21:39] abhi-g opened #3862 "v0.6 kfctl_k8s_istio.yaml config should point to 0.6 manifests repos"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
When I use kfctl_k8s_istio.yaml config for kfctl --config option, the yaml spec points to manifests from master.

**What did you expect to happen:**
I expect the config to point to the manifests from the v0.6-branch

**Anything else you would like to add:**
[Miscellaneous information tha

[2019-08-09 21:42] kkasravi commented on #3810
@mattnworb

based on my prior 2 comments, upgrades could possibly be handled through strategic merge yamls as shown in the [example](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/kustomization/#customizing)

thanks for steering me in this direction - we need to keep you involved!

[2019-08-09 21:51] yanniszark commented on #3810
I like this as well.
The downside is that we have to either demand that kubectl is installed, or download a binary locally.

I'm not sure if kfctl really fits the model of a kustomize plugin.
If the only reason for being a plugin is to avoid shelling out then I'm not sure if it is worth the effort.

[2019-08-09 21:52] kkasravi commented on #3810
@yanniszark [cli-runtime](https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/#using-the-command-line-runtime-package) may be another 'runtime' library worth checking out (in addition to the one you suggested)

[2019-08-09 21:56] yanniszark commented on #3862
The same problem exists for all current configs. (GCP, AWS, existing_arrikto)

[2019-08-09 22:10] Jeffwan commented on #3844
/assign @Jeffwan

[2019-08-09 22:11] Jeffwan commented on #3844
More like a cluster autoscaler issue. Better to submit issue there. I am also maintainer of CA. What's the CA version?

[2019-08-09 22:27] kkasravi commented on #3810
Let's say we had a kustomization file (using kustomize 3.1 syntax) in a local directory kf
[code]

where app.yaml looked like
[code]

and you ran `kubectl apply --overwrite -k kf`

kubectl would call our plugin via kustomize and the plugin would do init, generate and then kubectl would do apply with strategic merge

[2019-08-09 23:02] Jeffwan commented on #3844
Let's track this issue here https://github.com/kubernetes/autoscaler/issues/2161

[2019-08-09 23:09] avdaredevil commented on #3851
@kimwnasptd @prodonjs +1, I think now with MUI, we know what the owned the user's owned namespace is, so we could always default to that, otherwise fallback to `kubeflow` for Basic Auth setups.

[2019-08-09 23:12] avdaredevil opened #3863 "[CentralDashboard v2] Default namespace to OwnedNamespace or Kubeflow"
#### sibling issue to: #3851

## About:
`Select namespace` as a state makes little sense as it:
- Causes unnecessary User Interactions on the dashboard
- Leads to an uneven UX for sub-apps that don't handle a non-selected namespace

### Meta:
/kind feature
/priority p1
/area centraldashboard
/area front-end
/assign @avdaredevil
/cc @kimwnasptd @prodonjs

[2019-08-09 23:56] ashahba commented on #3810
@kkasravi `kubectl apply` has the `--overwrite=true` as default behavior:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubectl/pkg/cmd/apply/apply.go#L143
Wouldn't that be sufficient?

[2019-08-10 03:03] kkasravi commented on #3810
@ashahba we should give it a try, it would be great if so.

[2019-08-10 03:22] kkasravi commented on #3709
@jlewi - Clarification from me: PostApply is not a new command (there is no kfctl/cmd/postapply.go - but it's called from the apply command (kfctl/cmd/apply.go). An alternative would be to call it lower down the stack like - like from coordinator's apply.

[2019-08-10 12:23] yanniszark commented on #3862
@abhi-g @lluunn I already had a PR ready for this, so I submitted it in #3864.
It fixes the issue for all config files.
Please take a look when you can :smile:

[2019-08-10 13:37] yanniszark commented on #3794
Seems like a dup of https://github.com/kubeflow/kubeflow/issues/3712.
@mattnworb does https://github.com/kubeflow/kubeflow/issues/3712 cover your issue?

[2019-08-10 14:03] abhi-g commented on #3862
Thanks Yannis.

On Sat, Aug 10, 2019 at 5:23 AM Yannis Zarkadas <notifications@github.com>
wrote:

[2019-08-10 19:19] bbhuston commented on #3859
Experiencing same issue when installing Kubeflow into an existing GKE cluster

Kubeflow version: 0.6.1-rc.2
kfctl version: kfctl v0.6.1-rc.2-1-g3a37cbc6
Kubernetes platform: GCP/GKE (install into existing cluster)
Kubernetes version: kubernetes v1.13.4

[2019-08-10 20:26] bbhuston commented on #3859
Just tried installing with the same setup as above but using version 0.6.2-rc.2.   Same issue with namespace selection

[2019-08-10 22:58] tmc opened #3866 "Enable istio-injection in kubeflow namespace"
I expected the istio flag would enable istio for kubeflow components and not just the profile namespaces that are created.

The motivation here is that for observability, security and compliance reasons I'd like all GKE workloads to flow through Istio.

Initial experimentation here seems to indicate traffic to the dbs is interrupted when injection+sidecars are in place for the kubeflow namespace.

[2019-08-10 23:13] #847 closed

[2019-08-10 23:20] shawnho1018 commented on #3859
I encountered similar issue. However, I could not judge if the drop down of namespaces is showing behind the left blue pane. For me, the namespace selection is just not working. When I click "Select namespace", there is a only a button animation (blue color appeared on white button) but no drop-down selection at all.

my kfctl version:  v0.6.1-rc.2-1-g3a37cbc6
kubernetes platform: Vanilla kubernet

[2019-08-10 23:30] jlewi commented on #1668
Looks like this is fixed by #3482

[2019-08-10 23:30] #1668 closed

[2019-08-10 23:32] jlewi commented on #1881
#3079 is tracking upgrading to the certificate manager.
I'm going to close this issue because I suspect the failure modes will be different for managed certificates.

[2019-08-10 23:32] #1881 closed

[2019-08-10 23:35] jlewi commented on #2152
@gabrielwen Lets close this once its in production.

[2019-08-10 23:36] jlewi commented on #2226
@gyliu513 What are the next steps?

[2019-08-10 23:40] jlewi commented on #2271
@kunmingg  @yanniszark @kimwnasptd Any idea what we should aim to do in 0.7? I can think of at least two options

1. The jupyter web app could perform a subject access review check to ensure the user making the request has appropriate permissions in the namespace
    * The Jupyter web app would still use its service account though to issue the request

1. The jupyter web app could impersonate the

[2019-08-10 23:44] jlewi commented on #2311
@xyhuang @johnugeorge @richardsliu @gaocegege Any plans to fix this is part of 0.7? Do we need to redesign Katib to have better multi-user support?

Starting with 0.6 Katib shared services should be in the kubeflow namespace but users should launch their jobs in their own kubeflow-${USER} namespace? Do we need to make significant changes to Katib in order to support this?

[2019-08-11 00:35] jlewi commented on #2408
obsolete; kfctl.sh is no longer used.

[2019-08-11 00:35] #2408 closed

[2019-08-11 00:36] jlewi commented on #2412
With 0.6 we have moved to kustomize.

[2019-08-11 00:36] #2412 closed

[2019-08-11 00:38] jlewi commented on #2475
Fixed by #3268

[2019-08-11 00:38] #2475 closed

[2019-08-11 00:47] jlewi commented on #2522
@hno2 this is in 0.6 which we recently released.

Here's a screenshot of the option to enable SHM.

![shm](https://user-images.githubusercontent.com/777219/62828277-de440900-bb96-11e9-8481-c2a83e3cf7ac.png)

[2019-08-11 00:47] #2522 closed

[2019-08-11 00:52] jlewi commented on #2682
Are these all the same failure modes?

@cfregly's error looks like a SQL error.

whereas @hzxuzhonghu 's orginal error looked like a problem fetching the pod logs. Could that be an RBAC issue?

[2019-08-11 00:53] jlewi commented on #2712
I believe the updated click to deploy is in staging and we just need to wait for it to be in prod before we can close this issue.

[2019-08-11 00:58] jlewi commented on #1241
@AnnieWei58 If you have a question please open a new issue. I would also suggest trying 0.6 rather than 0.5.

[2019-08-11 01:06] jlewi commented on #3866
@tmc Can you please elaborate? Which DB traffic is interrupted? And why do you think adding the istio side cars to pods in the Kubeflow namespace will fix this?

[2019-08-11 01:10] jlewi commented on #3861
@blublinsky Any interest in submitting PRs to fix this?

You can find the manifests defined in
https://github.com/kubeflow/manifests

[2019-08-11 01:12] jlewi commented on #3859
/assign @avdaredevil Is this the same issue @paveldournov filed an issue about?

[2019-08-11 01:18] jlewi commented on #3858
@blublinsky How did you create the namespace where you are trying to launch the notebook?

The service accounts are created by the profile controller. You should create a profile resource to create your namespace and provision it with the appropriate service accounts.

There is some documentation here.
https://www.kubeflow.org/docs/other-guides/multi-user-overview/#step-2-creating-a-user-profile

[2019-08-11 01:22] jlewi commented on #3855
Can you provide the output of

[code]

This doesn't look like an issue with a controller but more likely a problem with either your PVC configuration or the specification of the PVC in your pod.

Is your PVC defined in the kubeflow namespace?

What is the output of

[code]

I suspect the problem is you created the PVC in a different namespace from where your TFJob is running

/cc @jinchihe

[2019-08-11 01:24] avdaredevil commented on #3859
Yes, it's the same and has been resolved with the latest release.

@shawnho1018 seems to have a different issue, and that seems to be based on no namespace list being returned to the dashboard (might be a networking / permissioning issue)

[2019-08-11 10:31] yptheangel commented on #3855
@jlewi thanks for your fast reply! You are right that I should specify the namespace: kubeflow when creating the pv and pvc.

Why am I still seeing this "Mount failure" failure after `kubectl -n kubeflow describe pod mnist-worker-0` . Why is the TFJob trying to mount on a volume with the name "mypv default-token..."?
![describe-pod-mnist-worker](https://user-images.githubusercontent.com/30103695/6

[2019-08-11 10:45] hougangliu commented on #2311
@jlewi yes, 0.7 will resolve this problem (https://github.com/kubeflow/katib/issues/685)

[2019-08-11 12:27] shawnho1018 commented on #3859
I also suspected it was the serviceaccount issue but I don't see any error log in
kubectl logs -n kubeflow -f centraldashboard-79df4778f7-glhfj

Initializing Kubernetes configuration
"other" is not a supported platform for Metrics
Using Profiles service at http://10.101.82.170:8081/kfam
Server listening on port http://localhost:8082
--
As for networking, all master/worker nodes are routable to eac

[2019-08-11 13:58] johnugeorge commented on #3860
https://github.com/kubeflow/kubeflow/pull/3792

[2019-08-11 14:17] bbhuston commented on #3859
@jlewi  @avdaredevil  Thanks for looking into this issue.  In contrast to what I previously posted, I am actually hitting the exact same issue as @shawnho1018.  (I originally has just assumed the namespace drop-down was hidden somewhere, but in fact it's not even selectable.)

Having said this, I do not believe the issue is caused by a "roll-your-own-kubernetes" networking setup that @shawnho1018

[2019-08-11 14:30] kimwnasptd commented on #3860
#3845

[2019-08-11 15:45] blublinsky commented on #3861
You are talking about this: https://github.com/kubeflow/manifests/blob/master/jupyter/notebook-controller/base/cluster-role.yaml#L31 <https://github.com/kubeflow/manifests/blob/master/jupyter/notebook-controller/base/cluster-role.yaml#L31>
Right?

If I am correct - sure

Boris Lublinsky
FDP Architect
boris.lublinsky@lightbend.com
https://www.lightbend.com/

[2019-08-11 15:47] blublinsky commented on #3858
Thanks
Missed this

Boris Lublinsky
FDP Architect
boris.lublinsky@lightbend.com
https://www.lightbend.com/

[2019-08-11 19:13] mattnworb commented on #3810
I think this is a fair dependency to have - `kfctl` already relies on a `.kube/config` file being populated, and [the Kubeflow docs talk about using `kubectl` more than a few times](https://github.com/kubeflow/website/search?q=kubectl&unscoped_q=kubectl.

[2019-08-11 20:00] #3203 closed

[2019-08-11 23:13] gyliu513 commented on #2226
@jlewi we are now working for multi-arch support at https://github.com/kubeflow/kubeflow/issues/2633 , and will resume this after https://github.com/kubeflow/kubeflow/issues/2633 finished, hope it is OK.

[2019-08-11 23:47] jlewi commented on #3860
@johnugeorge Can you please create a cherry-pick of #3792 onto the v0.6-branch

@kimwnasptd Are we automatically building a docker image from the jupyter web app on post submit? If we do have an image built can you update the manifests to use it and then cherry pick that onto the v0.6-branch of kubeflow/manifests

[2019-08-11 23:48] jlewi commented on #3764
@yanniszark Can you provide an update please?

We will likely cut v0.6.2 this week. If you'd like #3760 to be included can you get that PR merged and then cherry-pick it onto the v0.6-branch?

[2019-08-11 23:51] jlewi commented on #3643
@karthikv2k Can you clarify whether the PodDefaults are working as expected? If they are then we can close out this issue.

[2019-08-12 00:00] #3204 closed

[2019-08-12 00:09] jlewi commented on #3698
@avdaredevil What docker image includes the fix? And have we updated kubeflow/manifests to use the new image?

[2019-08-12 00:12] jlewi commented on #3655
Are there any changes to Notebook spec and status that we should make?

Here are some questions we have

1. What support do we have for letting users set annotations and labels on the statefulset and pods created by the notebook controller?
1. Do we support letting users add init containers and sidecars?
1. #3772 do we need to surface more information about errors?

[2019-08-12 00:21] jlewi commented on #3772
Do we need to get events just to determine that the pod hasn't started yet? Does the statefulset provide sufficient information about whether the part is started or not?

If we want the UI to provide detailed information about the reasons; should the UI just fetch the events?

[2019-08-12 00:42] jinchihe commented on #3855
@yptheangel So is that OK now? If the TFJob status is succeeded, I think the related pod shoud be finished.

[2019-08-12 03:43] jlewi commented on #3784
How are you connecting to Kubeflow?

Services are routed through the ISTIO gateway. You need to connect to the gateway

[2019-08-12 08:28] SheharyarTkxel commented on #3844
I'm following this tutorial, and the cluster autoscaler yaml file in it specifies this which I assume is the version:
![image](https://user-images.githubusercontent.com/51945960/62853165-ecb03300-bd04-11e9-94c4-6dac308f44ab.png)

Let me know if I am wrong and how it check the version of CA from a command.

[2019-08-12 08:31] SheharyarTkxel commented on #3844
@Jeffwan I'd appreciate if you comment on the feasibility of my scenario, if it is even possible:

**Scenario**
I want to deploy 2 Node Groups (1st with 3 CPUs in Master, 2nd with 0 GPUs in Worker) and then scale up/down the GPU based Worker nodes as the load goes up/down.

[2019-08-12 08:35] kimwnasptd commented on #3655
@jlewi regarding more Pod configurations (init containers, sidecars, annotations, labels etc) we will not need to modify the Notebook Spec. The spec already has a `PodTemplateSpec` field, so we could add any extra functionality by exposing these options from the UI.

But for setting annotations/labels to the StatefulSet, we would need to add some fields in the Notebook Spec to specify those.

So r

[2019-08-12 09:34] kimwnasptd commented on #3772
If the StatefulSet can't create the Pod, then the only information it exposes is `replicas: 0` in its status field, which is not very enlightening regarding what went wrong. The information for why the Pod was not created exists in the events of the StatefulSet.

[ Just for clarification, when I say create the Pod, I mean that the STS POSTs the Pod to the API Server, not if the Pod is ready. ]

Th

[2019-08-12 09:38] johnugeorge commented on #3860
/cc @krishnadurai

[2019-08-12 09:39] UrmsOne commented on #3846
The pod of Notebooks Controller is running,and I find the error in its logs as follow
`kubectl logs -n kubeflow notebook-controller-deployment-7f7d7bb6fc-5wqd8 --tail 100`

[code]
According to the log, I found out where the code went wrong.

*  `{"level":"info","ts":1565598307.126184,"logger":"controller","msg":"Pod not found..."}`

![image](https://user-images.githubusercontent.com/31981402/62854

[2019-08-12 10:11] kimwnasptd commented on #3846
@UrmsOne I think we are getting somewhere! From the logs in the controller we see the
[code]
every time the controller tries to update the status in the CR, but it fails. This explains why the Notebook CR has no status.

From a quick search I bumped into this [issue](https://github.com/kubernetes-sigs/kubebuilder/issues/751) in which the problem is with the missing `+kubebuilder:subresource:status

[2019-08-12 10:43] UrmsOne commented on #3846
@kimwnasptd
* `kubectl get customresourcedefinitions.apiextensions.k8s.io notebooks.kubeflow.org -o yaml`
[code]

* `kubectl get clusterrole notebook-controller-role -o yaml`

[code]

[2019-08-12 11:22] kimwnasptd commented on #3846
Yes, the CRD seems to be the issue. It's missing the `subresources: status {}`. The [yaml](https://github.com/kubeflow/manifests/blob/master/jupyter/notebook-controller/base/crd.yaml#L13) in the manifests has this field.

Could you apply that crd yaml to your cluster? I think this should fix the issue, although I'm not sure why it was missing in the first place.

[2019-08-12 11:37] UrmsOne commented on #3846
When I `kubectl replace -f  kustomize/notebook-controller/base/crd.yaml`, the customresourcedefinition.apiextensions.k8s.io "notebooks.kubeflow.org" replaced.But it doesn't seem to work.The `subresources: status {}`  still  missing.
 *  `kubectl get customresourcedefinitions.apiextensions.k8s.io notebooks.kubeflow.org -o yaml`

[code]
Trying to `kubectl delete crd` and `kubectl apply` get the same

[2019-08-12 12:21] UrmsOne commented on #3846
I run `kustomize build kustomize/notebook-controller/overlays/application/ | kubectl apply -f -`, it doesn't seem to work.The api file as follow
`cat .cache/kubeflow/kubeflow-master/components/notebook-controller/pkg/apis/notebook/v1alpha1/notebook_types.go`

[code]
It's really amazing.The annotation `+kubebuilder:subresource:status` has been included.

[2019-08-12 12:25] mattnworb commented on #3794
it does, thanks!

[2019-08-12 12:25] #3794 closed

[2019-08-12 12:32] yanniszark commented on #3764
@jlewi it seems @Jeffwan has LGTM'd it but the CI bot hasn't picked it up.
However, the v2.zip file no longer exists in master, but will exist in v0.6.2.

In order to deal with this I understand that I need 2 PRs:
1. Merge this functionality in master, without the changes to v2.zip.
2. Cherry pick it in v0.6.2, adding the changes to v2.zip.

I will use #3760 to merge in master and open another PR

[2019-08-12 12:55] yanniszark commented on #3860
https://github.com/kubeflow/kubeflow/pull/3857
https://github.com/kubeflow/kubeflow/pull/3760

[2019-08-12 13:05] yanniszark commented on #3862
New PR: https://github.com/kubeflow/kubeflow/pull/3867

[2019-08-12 13:11] deepdad commented on #3859
I don't see the dropdown. Using minikube. Is there a workaround to create a notebook server + namespace?

[2019-08-12 13:25] shawnho1018 commented on #3859
@deepdad  where do you see the error log? Could you point to me?
My symptom looks the same like yours. I am waiting for @avdaredevil  and @jlewi but it would be nice to diagnose if my error is the same as yours.

[2019-08-12 13:39] deepdad commented on #3859
That's in the browser @shawnho1018 developer tools
It may also be that I don't share the /Users folder with Virtualbox. That has too much access rights.
For the rest here's a history, it has some tiny differences with the docs (no ambassador, forwarding is different and this combines tow pages of the docs but I didn't change any of the files while it is sometimes the case that the `minikube ip` is

[2019-08-12 14:18] UrmsOne commented on #3846
I still haven't solved the problem by following your instructions.

[2019-08-12 14:59] yanniszark opened #3868 "kfctl: existing_arrikto: cherry-pick 3760, 3857, 3885 for v0.6.2"
#3760 #3857 #3885

PRs for cherry pick:
- [x] #3955 cherry picks #3885
- [ ] #3884 cherry picks #3857
- [X] #3760 was cherry picked in v0.6.2, but it wasn't in master yet. Since the PR went in without further changes, is it ok to keep it like this @jlewi ?

/priority p0

[2019-08-12 15:41] yanniszark commented on #3709
The initial draft of the design doc is here:
https://docs.google.com/document/d/1kviNOdjoBPeoJ56KBvMKWq7SzrSN5rFUQoULK8muD-M/edit?usp=sharing

cc @jlewi @kkasravi

[2019-08-12 15:46] kkasravi commented on #3709
Thanks @yanniszark !

Did you want comments within the document?

[2019-08-12 15:48] yanniszark commented on #3709
@kkasravi I believe the standard procedure is to leave comments on the doc, right?
@jlewi can help move this to the kubeflow drive, as I don't have access to that.

Let me also give you and @jlewi edit access.

[2019-08-12 16:56] deepdad commented on #3859
This bug is linked to this code:

[code]
It doesn't say much I guess.

[2019-08-12 17:02] pdmack opened #3869 "Newest-to-oldest TF image option list in UI config?"
I wonder if we should reverse the order of the tensorflow image options here?

https://github.com/kubeflow/kubeflow/blob/c06470dbe14e94b17faa4ae7473fe9150e7fc129/kubeflow/jupyter/ui/rok/config.yaml#L15

[2019-08-12 18:01] Jeffwan commented on #3844
@SheharyarTkxel Sure, that's possible and lots of user use this way. You need to create two node groups and follow CA instruction to scale from 0 for GPU nodes. you workloads should also have node affinity to choose GPU nodes.

I will close this issue and please submit an issue to corresponding repo. If the guidance you think has a problem, submit to eksworkshop.com github. If you think there's an

[2019-08-12 18:02] Jeffwan commented on #3844
/close

[2019-08-12 18:02] #3844 closed

[2019-08-12 18:03] Jeffwan commented on #3764
@yanniszark Sounds good. How does release work? 0.6.2 will be cut based on 0.6-branch or a separate branch. If it's 0.6-branch, I think there's no need to cherry-pick to v0.6.2

[2019-08-12 18:04] #3136 closed

[2019-08-12 18:18] SheharyarTkxel opened #3870 "No Namespaces in Central Dashboard"
Kubeflow Dashboard doesn't have any Namespace in the dropdown. I've already gone through this [fix](https://github.com/kubeflow/manifests/pull/159/commits/273395ad7a45338815827f72dfda7348e32ad0f0) but it wasn't required since the yaml files in 0.6.1 version already includes those additions which have been suggested in the fix.

**Environment:**

- Kubeflow version: v0.6.1-rc.2-1-g3a37cbc6
- Kubern

[2019-08-12 18:23] lluunn commented on #3638
Tested with a pod with workload identity setup:

[code]

gsutil works.

python library also works:
[code]

[2019-08-12 18:37] avdaredevil commented on #3859
Hey all, could you try checking the following:
- In the `Networks tab` in chrome debugger, can you send the responses / statuses recieved for `/api/has-workgroup` and `/api/env-info`
- In your console run:
[code]

[2019-08-12 19:00] Ark-kun opened #3872 "Error when adding notebook server: "500: There was an error trying to connect to the backend API.""
/kind bug

**What steps did you take and what happened:**

When I go to the Notebook servers section and click "+ New server" I get the following error at the bottom pf the page:

[code]

**Environment:**

- Kubeflow version: (version number can be found at the bottom left corner of the Kubeflow dashboard): "build version v1beta1" (Sounds like 0.6+)

[2019-08-12 19:07] lluunn commented on #3655
What's the use case that users need to set annotation/label on the statefulset?

Should the UI just expose the whole podspec? e.g. in a advanced mode view or something.

[2019-08-12 19:22] kimwnasptd commented on #3872
Could be duplicate of #3770 ?

@Ark-kun do you have a PodDefault that doesn't have a `desc` field in that namespace? If that's the case then you could either set that field in the PodDefault or use the tag `9419d4d` for the jupyter-web-app.

[2019-08-12 19:26] kimwnasptd commented on #3869
AFAIK the code under kubeflow/kubeflow was the ksonnet packages. These are not used anymore now that we've migrated to kustomize.

[2019-08-12 19:34] johnugeorge commented on #3860
Also, I see that the deployment manifests still use rc images https://github.com/kubeflow/manifests/commit/e448fba3f6672f2f98abafb5d991475531cb8e20

 0.6 Release images are not created?
@richardsliu

[2019-08-12 19:50] jlewi commented on #3437
I see a bunch of PRs committed recently
#3503
#3758

Have we build updated images and updated the kustomize manifests to deploy them?
Is the new UI and changes being picked by our auto-deployed clusters.

[2019-08-12 20:03] abbyearnin opened #3873 "KF 0.6: 'configurations' missing from spawner_ui_config.yaml"
/kind bug

**What steps did you take and what happened:**
Posting this to help others who may face this issue + hopefully get a quick fix on this
@kimwnasptd

I deployed Kubeflow 0.6 by following the ISTIO method (https://master.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/)

Most things deployed correctly, but trying to create a server in the Jupyter web app was throwing a Key Error for `default

[2019-08-12 20:16] amygdala opened #3874 "fix 'pipeline-runner' role to allow creation of VirtualServices"
/kind bug
KF 0.6.1

When I try to create a VirtualService from a pipeline step, I get this error:
`Error from server (Forbidden): error when creating "/ml/t2tapp.yaml": virtualservices.networking.istio.io is forbidden: User "system:serviceaccount:kubeflow:pipeline-runner" cannot create resource "virtualservices" in API group "networking.istio.io" in the namespace "kubeflow".`

I'm guessing that th

[2019-08-12 20:49] shawnho1018 commented on #3859
I tested using your script on console but get empty response.

![image](https://user-images.githubusercontent.com/28553789/62897292-d48de300-bd07-11e9-9eee-db29f04314f4.png)

[2019-08-12 21:20] kimwnasptd commented on #3873
hi @abbyearnin

By taking a look at the [kfctl_k8s_istio.yaml](https://github.com/kubeflow/kubeflow/blob/master/bootstrap/config/kfctl_k8s_istio.yaml) I see that it uses this uri for the manifests:
[code]

When I untar it, the config that gets deployed for the jupyter-web-app (`manifests-master/jupyter/jupyter-web-app/base/config-map.yaml`) has this key.

Was the cluster that you used kfctl on a c

[2019-08-12 21:25] SinaChavoshi commented on #3571
debug info :
1. The notebook Yaml does not contain the gcp-cred-secret labels.

2.a. the controller image is using the image: gcr.io/kubeflow-images-public/notebook-controller:v20190603-v0-175-geeca4530-e3b0c4
2.b. the pod label value is set as follows: gcp-cred-secret=user-gcp-sa,gcp-cred-secret-filename=user-gcp-sa.json

3. verified that the secret exists :
[code]

4. gcp-cred-webhook does not s

[2019-08-12 21:56] abhi-g opened #3875 "Kubeflow version displayed on the UI is wrong"
/kind bug

**What steps did you take and what happened:**
Deploy Kubeflow from v0.6 branch

**What did you expect to happen:**
I expected the Central Dashboard UI to show Kubeflow Version as 0.6.x, instead it shows v1beta1

**Anything else you would like to add:**

**Environment:**

- Kubeflow version: (version number can be found at the bottom left corner of the Kubeflow dashboard): Should be v0.

[2019-08-12 21:59] abhi-g commented on #3875
Central dashboard [version discovery](https://github.com/kubeflow/kubeflow/blob/b0315cb4e95af11eb40257d7d97e294a04678ca4/componnts/centraldashboard/app/k8s_service.ts#L137) code is retrieving this value from some K8s application. Seems like there is a miscommunication or misalignment on the version information.

/assign @avdaredevil @jlewi

[2019-08-12 22:00] abhi-g commented on #3875
/cc @kunmingg we'll need the fix in the 0.6.2 patch release

[2019-08-12 22:01] abhi-g commented on #3765
The rc that you deployed from didn't have updated Central Dashboard and hence the wrong version. That said  there is a bug in the version identification and I have filed #3875 for that.

[2019-08-12 22:01] #3765 closed

[2019-08-12 22:28] avdaredevil commented on #3859
Okay this helps, so the dashboard server is unable to see any namespaces for your user. If you hover your mouse over your version (as shown below):

<p align="center"><img src='https://user-images.githubusercontent.com/5303018/62902760-736d0c00-bd15-11e9-98b8-b13d210a9277.png' width=400></p>

Can you send a snapshot of what that looks like?

Also, try running `/api/workgroup/exists` instead of the

[2019-08-12 22:35] shawnho1018 commented on #3859
@avdaredevil
1. Mine is v0.0.2-655831
![image](https://user-images.githubusercontent.com/28553789/62902990-29d0f100-bd16-11e9-8d08-c44af8afe63e.png)
2. Not sure the meaning of the returned value but it does return.
![image](https://user-images.githubusercontent.com/28553789/62903141-977d1d00-bd16-11e9-8207-7ffe211bfc86.png)

[2019-08-12 22:46] avdaredevil commented on #3859
Awesome! Thanks for the quick replies @shawnho1018.

For context, the `/api/workgroup/exists` route allows the dashboard to quickly realize if you have IAP / OAuth headers, and if so do you have a workgroup (synonymous with a namespace for now) deployed.

Essentially from this, the dashboard concludes that the IsolationMode (for namespaces) is based on:
- Single-User: Every user is a cluster-admin

[2019-08-12 22:49] shawnho1018 commented on #3859
In that case, since I am the single user, shouldn't I simply see the all namespaces in the cluster? Still scratch my head without knowning how I could resolve this issue. Need a bit more guidance from you @avdaredevil

[2019-08-12 23:00] avdaredevil commented on #3859
Okay, so it seems you have no WorkgroupBindings in your network. Essentially the kfam-controller is giving the dashboard a list of 0 bindings. This is unusual to me as some system namespaces should have been created thus some bindings would exist for those. This part gets a little past my understanding of the backend.

I'd suggest pinging @lluunn and @kunmingg on Slack regarding a deeper understan

[2019-08-12 23:14] yanniszark commented on #3764
@Jeffwan v0.6.2 will be cut based on the v0.6-branch.
PR #3760 adds the functionality to master. From there, it will be cherry picked to the v0.6-branch.

@Jeffwan if you are ok with #3760, can you please LGTM it?

[2019-08-12 23:16] jlewi commented on #3833
The ambassador annotations should no longer be needed because we no longer use Ambassador. In the case of IAP we shouldn't even be installing Ambassador which means the Ambassador annotations should be harmless metadata.

I suspect what's happening is that in the case of basic auth we are still installing Ambassador and using it for external auth.

So in the basic auth setting we end up trying to

[2019-08-12 23:24] jlewi commented on #3833
It looks like @kunmingg fixed this in kubeflow/manifests#257

It looks like the solution was to add an Ambassador annotation to forward all ambassador traffic to the ISTIO gateway.
https://github.com/kubeflow/manifests/blob/master/gcp/basic-auth-ingress/base/istio-mapping-svc.yaml

So I think that is the Ambassador annotation we will eventually want to clean up.

To enable that I think we'd want t

[2019-08-12 23:50] yanniszark commented on #3859
I also confirm this bug.

My understanding is that this is a blocker for v0.6.2.
The Dashboard lists user bindings for the namespace and gets nothing back, which makes the Central Dashboard not work without the GCP IAP Headers.

/priority p0
cc @jlewi

[2019-08-12 23:52] kunmingg commented on #3859
Is this use non-GCP + new-central-dashboard?
We can create a default public profile for this case to save user effort.

[2019-08-12 23:54] blublinsky commented on #3859
In my case, the list of namespaces is coming back. It is just unusable, being obstructed by left hand panel
Boris Lublinsky
FDP Architect
boris.lublinsky@lightbend.com
https://www.lightbend.com/

[2019-08-12 23:57] yanniszark commented on #3859
Yes, it says platform Openshift.

From what I know, the default profile creation currently only happens for GCP.

I believe it's important to understand what @avdaredevil was expecting to find but didn't.

[2019-08-13 01:13] Eric-Zhang1990 commented on #3817
Can someone give some advise to me ? Thanks.

[2019-08-13 01:52] jlewi commented on #3817
How are you installing pytorch 0.4.0 in a notebook?

[2019-08-13 02:01] jlewi commented on #3859
@blublinsky I think the issue with the namespace selector being obstructed is a different issue; #3698.

@avdaredevil @kunmingg Why isn't the WorkGroupBindings populated? is it because of

1. The request has no ID headers; identifying the user?
1. No profiles were created?
1. Something else?

Can you provide some troubleshooting instructions to diagnose where the problem is ?

[2019-08-13 02:06] jlewi commented on #3571
@SinaChavoshi to inject credentials into your notebook

1. The gcp-cred-webhook must be deployed
1. In the jupyter notebook creator UI you must select advanced configuration and select gcp-cred

How did you deploy Kubeflow? Can you provide the app.yaml file from your deployment?

[2019-08-13 02:18] yptheangel commented on #3855
@jinchihe since TFJobSucceeded means successful completion, I assume that the error message can be ignored and close this issue. Thanks for the assistance @jlewi

[2019-08-13 02:18] #3855 closed

[2019-08-13 03:28] jlewi commented on #3437
IIUC the multi-user UI is adding support for the following

1. Automatic creation of a profile when the user first accesses the UI
1. Filtering namespaces shown in the namespace selector to only show namespaces user has access to

Some users are reporting problems #3859 with not seeing any namespaces which may be related to the above functionality.

I think we want to test that everything is worki

[2019-08-13 03:30] jlewi commented on #3860
Here's a list of scenarios related to the multi-user UI changes and functionality that we should verify are working before finalizing the RC
https://github.com/kubeflow/kubeflow/issues/3437#issuecomment-520674809
/cc @kunmingg @avdaredevil

[2019-08-13 04:23] krishnadurai commented on #3860
@johnugeorge Just waiting for the release 0.6 and master branch conflict to get resolved. My cherry-pick is showing a conflict.

[2019-08-13 04:43] jlewi commented on #3489
@kkasravi Does this issue mean that we need our kustomize packages to generate a unique suffix for the instance label that gets attached to each resource owned by the application?

[2019-08-13 05:29] kkasravi commented on #3489
Yes, exactly

[2019-08-13 06:43] Jeffwan opened #3876 "Disable Istio Authorization in kfctl-k8s-istio config"
/kind bug

**What steps did you take and what happened:**

When we setup kubeflow using kfctl-k8s-istio (https://raw.githubusercontent.com/kubeflow/kubeflow/master/bootstrap/config/kfctl_k8s_istio.yaml). Authorization is enabled, which means the user can not access his/her own notebook.

As I know, authorization should be disabled for this config.

**What did you expect to happen:**
User should be

[2019-08-13 06:46] Eric-Zhang1990 commented on #3817
@jlewi  I use pytorch docker image as base image, Dockerfile looks like this:

FROM pytorch/pytorch:0.4.1-cuda9-cudnn7-runtime
RUN pip install  -i https://pypi.tuna.tsinghua.edu.cn/simple tensorboardX==1.6.0
RUN pip install  -i https://pypi.tuna.tsinghua.edu.cn/simple opencv-python==3.4.2.17
RUN pip install  -i https://pypi.tuna.tsinghua.edu.cn/simple jupyter

ENV NB_PREFIX /

CMD ["sh","-c", "jup

[2019-08-13 07:32] avdaredevil commented on #3437
Re. points aforementioned

| 1. Automatic creation of a profile when the user first accesses the UI
Not exactly, there is a registration flow where a namespace name is presented to the user, they may keep or change then confirm. Now they're onboarded

| 2. Filtering namespaces shown in the namespace selector to only show namespaces user has access to
Yes, this is correct.

| Some users are reporti

[2019-08-13 07:36] avdaredevil commented on #3860
Replied @ #3437

[2019-08-13 08:21] xauthulei opened #3878 "ENV reference error in Dockerfile"
There is ENV `TF_SERVING_VERSION` defined in [Dockerfile](https://github.com/xauthulei/kubeflow/blob/master/components/tensorflow-notebook-image/Dockerfile) liking this :
`ARG TF_PACKAGE_PY_27=https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-1.7.0-cp27-none-linux_x86_64.whl`
 `......`
`ENV TF_SERVING_VERSION $TF_PACKAGE_PY_27`

In fact, we want to  get a version from ARG: `TF_SERVING

[2019-08-13 08:44] avdaredevil commented on #3859
@yanniszark Essentially workgroups are 1:1 constructs to a namespace. A workgroup holds permissioning data for a namespace. Now there are two cases:

### IAP / Other Header based auth (non-GCP)
- Scan the UserID headers
- Ascertain User-identity
- Dashboard changes view to multi-user isolation mode
  - Scope namespaces based on bindings (workgroup bindings) that that user has access to.

### Basic

[2019-08-13 08:51] yeya24 commented on #3759
I think I can help with this.

[2019-08-13 12:47] dss77 commented on #3870
I have the same issue here. I found that I'm using the file https://raw.githubusercontent.com/kubeflow/kubeflow/master/bootstrap/config/kfctl_k8s_istio.yaml as the config file for the `kfctl init` stage. This file makes Kubeflow always pull the head version from the repository which could be broken by frequent commits.

[code]
I changed the URLs to point at a defined release version from the repos

[2019-08-13 13:02] ryandawsonuk opened #3883 "make build-kfctl-container errors with cannot find module providing package"
[Latest master ](https://github.com/kubeflow/kubeflow/commit/7c0932a117f2f2dc232271992d0348c4747021eb)doesn't build when running `make build-kfctl-container` from the bootstrap dir. I get:

[code]

This was working for me a month or so ago.

[2019-08-13 13:20] yanniszark commented on #3883
cc @jlewi @gabrielwen seems related to the new kfctlClient code.

[2019-08-13 14:48] SheharyarTkxel commented on #3870
@dss77 Thank you very much, it worked! I am following this [tutorial](https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/) and I had to change the config file name "kfctl_aws.yaml". Specified the versions like you directed and the namespaces started showing up. Thanks alot!

[2019-08-13 14:48] #3870 closed

[2019-08-13 15:41] yanniszark commented on #3805
Until the long term solution #3839 is implemented, I made a PR to fix this:
#3885

[2019-08-13 15:47] yanniszark commented on #3860
#3885 is also vital.

[2019-08-13 15:54] yanniszark commented on #3437
@avdaredevil

How can I access this flow? It isn't presented to me when I access the Central Dashboard.

A binding to what user?
Do you assume a default user if none exists? (anonymous@kubeflow.org)

[2019-08-13 16:34] jlewi commented on #3883
Can you try running

[code]
I think dependencies might be cached somewhere.

Are you doing this on master or v0.6-branch?

Can you also check if postsubmits and periodic runs on master are passing? That would help us determine whether its just you or broken for everybody.

[2019-08-13 16:35] jlewi commented on #3846
/assign @kimwnasptd

[2019-08-13 16:38] jlewi opened #3886 "presubmit failures; required node image not available"
/kind bug

I'm seeing presubmit failures on  PR: #3824 . This PR is just updating the ROADMAP so unlikely related to that PR.

The failure I'm seeing is

[code]

spyglass [link](https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/3824/kubeflow-presubmit/1161261200583954437/)

[2019-08-13 16:39] jlewi commented on #3886
/assign @jlewi

[2019-08-13 17:21] jlewi commented on #3886
Someone is hitting a similar error trying to customize their GKE deployment
kubeflow/website#1065

[2019-08-13 17:22] yanniszark commented on #3862
Also made a PR in website to fix the docs:
https://github.com/kubeflow/website/pull/1071

Once that is merged, we should be able to close this issue.

[2019-08-13 17:23] pdmack commented on #3869
Where is the list being generated from then?

[2019-08-13 17:25] jlewi commented on #3886
The error `The required node image is not available` should indicate cluster creation failed because we are trying to use a VM image which doesn't exist.

I'm not sure why we would get that error though because I don't think we try to explicitly set the image.

[2019-08-13 17:30] jlewi commented on #3886
API reference for NodeConfig
https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/NodeConfig

[code]

[2019-08-13 17:36] johnugeorge commented on #3886
@jlewi

One observation:
It is happening only for us-east1-d zone when tried with CLI.  Works fine for us-central1-a

GKE bug?

[2019-08-13 17:57] yanniszark commented on #3859
I found a way to fix this.
It seems that by default, the CentralDashboard assumes the Profile KFAM Service is at localhost:8084

https://github.com/kubeflow/kubeflow/blob/7c0932a117f2f2dc232271992d0348c4747021eb/components/centraldashboard/app/server.ts#L21-L22

Changing this to profiles-kfam and 8081 seems to fix the problem, as the selector is populated.
@avdaredevil why is the default address l

[2019-08-13 17:58] yanniszark commented on #3437
There is also a bug in the Central Dashboard code, see https://github.com/kubeflow/kubeflow/issues/3859#issuecomment-520940322

[2019-08-13 17:59] SinaChavoshi opened #3888 "upgrade model deployer component to remove ks"
Ksonnet has been deprecated though the model deployer component needs to be updated to remove the use of KS.
https://github.com/kubeflow/pipelines/blob/master/components/kubeflow/deployer/src/deploy.sh

New instruction for deploying models is available here:
https://www.kubeflow.org/docs/components/serving/tfserving_new/

[2019-08-13 18:08] algermissen commented on #3886
I am experiencing a similar issue in europe-west3.

[2019-08-13 18:20] fediazgon commented on #3859
@yanniszark Is there a way to patch a running deployment?

[2019-08-13 18:41] kimwnasptd commented on #3869
from this [yaml](https://github.com/kubeflow/manifests/blob/master/jupyter/jupyter-web-app/base/config-map.yaml) in the manifests repo

[2019-08-13 18:47] avdaredevil commented on #3859
You can change the environment variables passed to CentralDashboard so that it uses the new values

This can be done by editing the YAML in cloud console

[2019-08-13 18:54] jlewi commented on #3883
I can reproduce on master.

[code]

Test grid isn't showing any results (see kubeflow/testing#438)

Here are some postsubmit jobs though
https://prow.k8s.io/?repo=kubeflow%2Fkubeflow&type=postsubmit

[2019-08-13 18:55] jlewi commented on #3883
Post submit shows the same failure
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow_kubeflow/kubeflow-postsubmit/1161075475825561601/

[2019-08-13 18:57] jlewi commented on #3883
My conjecture is the problem is

#3786 which changed imports to v3 and #3830

My guess is this wasn't caught in presubmits because #3830 was based on master prior to #3786 being merged.

[2019-08-13 18:58] jlewi commented on #3883
Rollback for #3830 coming

[2019-08-13 18:59] kimwnasptd commented on #3846
@UrmsOne could you provide some more info regarding the kubernetes cluster you are running? Which version of kubernetes does it have?

[2019-08-13 19:05] avdaredevil commented on #3437
@yanniszark This flow should only show in IAP / Authenticated Flows (non GCP as well, though you need to configure variables)
- User identity is extracted via [these environment variables](https://github.com/kubeflow/kubeflow/blob/7c0932a117f2f2dc232271992d0348c4747021eb/components/centraldashboard/app/server.ts#L23-L24)

In basic/unsecured modes:
- We query all Workgroup Bindings for all users
-

[2019-08-13 19:22] asmod3us commented on #3886
Experiencing the same issue with image type UBUNTU in europe-west2-a. Any known workarounds?

[2019-08-13 19:27] shawnho1018 commented on #3859
Not for me. My environment is raw installation from kubeadm (with Calico as CNI). My k8s version is 1.15.1.

[2019-08-13 19:27] prodonjs commented on #3859
The issue results from the fact that during the initial deployment, the `centraldashboard` Deployment is created before the `profiles-service`. Thus, the PROFILES_KFAM_SERVICE_HOST and PROFILES_KFAM_SERVICE_PORT are not set by Kubernetes so the dashboard falls back to the default value of localhost.

The easiest way to address the issue in a running deployment is to manually delete the centraldash

[2019-08-13 19:34] shawnho1018 commented on #3859
I followed your step to delete the centraldashboard pod but the problem remains.

[2019-08-13 19:34] mmuppidi opened #3890 "issues upgrading 0.5.0 to 0.6.0/0.6.1"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Upgrading Kubeflow from 0.5.0 to 0.6.1 and the following error occurred.

I deployed kubeflow using the UI following the [documentation](https://www.kubeflow.org/docs/gke/deploy/deploy-ui/). The I used the following script to update the Kubeflow deployment

[code]

[code]

**Environment:

[2019-08-13 19:36] prodonjs commented on #3859
Can you share the image URI from your centraldashboard deployment as well as output from `kubectl logs deployment/centraldashboard`?

[2019-08-13 19:37] asmod3us commented on #3886
Encountering the same issue even when attempting to create a cluster via GCP UI, so I'd say it's unrelated to kubeflow or the terraform provider.

[2019-08-13 19:47] shawnho1018 commented on #3859
![image](https://user-images.githubusercontent.com/28553789/62972229-6bba6f80-bdc8-11e9-815c-7849fa5e6922.png)

this is my log after a newly initiated pod:
root@ansible:~/kubeadm-ansible# kubectl logs -f centraldashboard-79df4778f7-rnlpm  -n kubeflow
kubeflow-centraldashboard@0.0.2 start /app
npm run serve

kubeflow-centraldashboard@0.0.2 serve /app
node dist/server.js

Initializing Kubernetes con

[2019-08-13 20:03] dkozlov commented on #3886
1.13.7-gke.8 works for me

[2019-08-13 20:06] prodonjs commented on #3859
Interesting. The Pod definitely picked up the environment variables and should be able to establish communication with the profiles API server. That doesn't seem to be the problem here, but it is a general issue we need to address.

I'm out of my depth at this point. Passing it back to @avdaredevil to dig in a little further.

[2019-08-13 20:55] jlewi commented on #3886
Thanks I'll try moving our tests to us-central1-a

[2019-08-13 21:02] Jeffwan opened #3891 "Load balancer 443 listener can not be created successfully (aws)"
/kind bug

aws specific issue

**What steps did you take and what happened:**
There is a problem with installation instructions here https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/. in step 5, after calling `kubectl get ingress -n istio-system` I get the response
[code]
E0813 20:54:20.759908       1 :0] kubebuilder/controller "msg"="Reconciler error" "error"="failed to reconcile listene

[2019-08-13 21:03] Jeffwan commented on #3891
I will have a patch to fix this issue.
/assign

[2019-08-13 21:57] swiftdiaries commented on #3210
/help-wanted

[2019-08-13 22:05] avdaredevil commented on #3859
@shawnho1018 Your problem arises on a different step I believe. Your network may not have any bindings at all. The recommended way to create this workgroup/profile is to do this via kfctl for now (in non-identity networks, such as yours).

**_Easier, but may not work approach_**: We could fool the dashboard into thinking you are in multi-user and trigger a registration flow by running (in your Dev

[2019-08-13 22:35] kunmingg opened #3893 "Multi-Tenancy Compatibility Reset on v0.6"
/kind feature
We need to guarantee kubeflow Multi-Tenancy Compatibility with different environments:
- [ ] Always create default profile
- [ ] Istio rbac is only `ON` when coming requests contains identity which is accepted by both Istio and k8s.
- [ ] Notebook spawner should not block user creating notebooks when Istio rbac is `OFF`
- [ ] Test for on prem environment; document how to setup Multi-

[2019-08-13 23:18] jlewi commented on #3859
@prodonjs Can you open an issue about the environment variables. If we're dependent on the order of deployment that seems like a bug. The central dashboard should be community with the KFAM backend via the DNS name established by the virutal service and service defined for the backend. Those should be deterministic based on the kustomize packages.

[2019-08-13 23:27] jlewi commented on #3859
@avdaredevil @kunmingg

Can we reproduce this issue; IIUC we should be able to reproduce it by installing on an existing GKE cluster.

Are these changes related to the addition of the kfam API?

It looks like people are hitting this issue now with 0.6.1 which should not be picking up the KFAM API changes.

My guess is that the configs somewhere are not sufficiently pinned so people using releases

[2019-08-13 23:44] jlewi commented on #3859
Here's my summary of the issue so far

1. The original issue on the thread is the namespace UI selection being half hidden which is #3698
    * This should potentially be fixed by the latest central dashboard image

1. A secondary issue that people are reporting is that they are not seeing any namespaces

    * This appears to be due to the fact that they are picking up the latest central dashboar

[2019-08-13 23:50] gabrielwen commented on #3808
@jlewi @holdenk
ok so I think the reason for this error is not because of the profile nor the namespace.  It's because of this line:
https://github.com/kubeflow/kubeflow/blob/41f5aeecf67ce4d3d783d529f444f31e2258ef6e/bootstrap/pkg/kfapp/coordinator/coordinator.go#L803

Maybe it's better if we call `ConfigPodDefault` in k8s after `k8s()`?

@kunmingg we talked about similar issue, what do you think?

[2019-08-14 00:00] gabrielwen commented on #3808
@holdenk
actually, @kunmingg is changing this behavior:
https://github.com/kubeflow/kubeflow/pull/3841/files#diff-a3cedceea115e3abdce3ca407046136eL803

[2019-08-14 00:11] yanniszark commented on #3859
@jlewi the PR got merged and fixed it.
It seems that it was broken by this PR: https://github.com/kubeflow/kubeflow/pull/3892
cc @kunmingg

[2019-08-14 00:23] jlewi commented on #3859
@yanniszark Which PR was the fix? And how did #3892 fix it?

[2019-08-14 00:28] yanniszark commented on #3859
Sorry, I forgot to mention.
#3867 fixed the issue and pinned all configs to v0.6-branch, but #3892 pinned some configs to master again.
However, getting https://github.com/kubeflow/kubeflow/pull/3894 merged should again pin everything to a specific tag.

[2019-08-14 00:51] johnugeorge commented on #3886
looks like it works now with us-east1-d

[2019-08-14 01:23] jlewi commented on #3709
I think we can get rid of  repos.root I think we already have code to try to deal with the weird sub directories github adds
https://github.com/kubeflow/kubeflow/blob/337fdd0dbcde92d20eb270d4c123bec98ffd2ebc/bootstrap/pkg/apis/apps/kfdef/v1alpha1/application_types.go#L460

[2019-08-14 02:38] JishinJames opened #3897 "Not able to access kubeflow dashboard even after configuring metallb and ambassador service"
Not able to access kubeflow dashboard even after configuring metallb and ambassador service .

can access each individual page through port forwarding ...
Thanks for your time.

[2019-08-14 03:21] jlewi commented on #3893
See also this comment for list of scenarios we want to test
https://github.com/kubeflow/kubeflow/issues/3437#issuecomment-520674809

[2019-08-14 03:22] jlewi commented on #3860
#3893 is tracking verifying the multi-user scenarios are working correctly

[2019-08-14 03:25] jlewi commented on #3859
@shawnho1018 configs should now pin to an earlier version of kubeflow/manifests which should avoid picking up the changes to the central dashboard

I think that means you won't get the fix for the namespace selector being obscured fix.

#3893 is tracking verifying all the auth scenarios work with 0.6.2
.

[2019-08-14 05:41] UrmsOne commented on #3846
@kimwnasptd
The version of the kubernetes cluster is v1.10.11.
[code]

[2019-08-14 06:22] krishnadurai commented on #3860
@kunmingg
Branches master and 0.6 release are out of sync. Looks like some of the commits in 0.6 branch are not in master.

Master:
https://github.com/kubeflow/kubeflow/commits/master/bootstrap/config/kfctl_k8s_istio.yaml

0.6 release:
https://github.com/kubeflow/kubeflow/commits/v0.6.2-rc.0/bootstrap/config/kfctl_k8s_istio.yaml

Here's the commit I'm looking to cherry-pick:
https://github.com/kub

[2019-08-14 07:51] Jeffwan commented on #3223
This has been fixed and Let's close this issue.

/close

[2019-08-14 07:51] #3223 closed

[2019-08-14 08:20] Jeffwan opened #3900 "Can not select namespace in central dashboard - CentralDashboard can't talk to kfam; Use DNS and not environment variables"
/kind bug

**What steps did you take and what happened:**
namespace doesn't have a list even I create profile. namespaces were created in backend.
Checking central dashboard logs and notice we have this problem. `aws` platform is not support here which makes entire dashboard unavailable.

[code]

**Environment:**

- Kubeflow version: v0.6.2-rc0
- kfctl version: (use `kfctl version`): v0.6.1-rc.2-1

[2019-08-14 08:29] Jeffwan commented on #3900
use `v0.6.0-rc2` instead and then change back to `v20190808-v0.6.2-rc.0-0-g65583158` works. profiles services starts at different port. Not sure why it's not a fixed port.

[code]

[2019-08-14 08:29] kimwnasptd commented on #3846
This must be the problem. The [CustomResourceSubresources](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/) was an alpha feature in 1.10 and was disabled by default in that version.

You would have to enable it manually in the Feature Gates

[2019-08-14 09:20] deepdad commented on #3859
I don't really follow the pinning. Repeating the commands that previously worked no longer do. The output looks different. Ending with `couldn't create KfApp:  (kubeflow.error): Code 400 with message: invalid name due to a DNS-1123 label must consist of lower case alphanumeric characters or '-', and must start and end with an alphanumeric character (e.g. 'm
`.

[2019-08-14 09:51] #2727 closed

[2019-08-14 09:51] deepdad opened #3901 "remove ksonnet"
scripts/setup-minikube.sh installs ksonnet but kustomize will be used

[2019-08-14 10:40] deepdad commented on #3901
I think this may be related to this:

`kfctl init kubeflow_app --config="https://raw.githubusercontent.com/kubeflow/kubeflow/master/bootstrap/config/kfctl_k8s_istio.yaml" -p minikube`

brings you to:

`Error: couldn't create KfApp:  (kubeflow.error): Code 400 with message: invalid name due to a DNS-1123 label must consist of lower case alphanumeric characters or '-', and must start and end with an

[2019-08-14 11:01] deepdad commented on #3901
To try out kubeflow with minikube, this worked:

[code]

[2019-08-14 11:13] deepdad commented on #3437
https://github.com/kubeflow/kubeflow/issues/3901#issuecomment-521200663
The namespaces issue is now gone with this setup.

[2019-08-14 12:01] UrmsOne commented on #3846
@kimwnasptd Thanks for your help，I've solved the problem.
![image](https://user-images.githubusercontent.com/31981402/63019418-e0c39d00-becd-11e9-9ecc-87cfe1a5cc53.png)
When I clicked the button "connect", I had another problem
![image](https://user-images.githubusercontent.com/31981402/63019496-149ec280-bece-11e9-8a20-2212ca7b3ee0.png)
It's already in the issue list.

[2019-08-14 12:03] deepdad opened #3902 "Creating a Notebook Server doesn't end loading."
Using the setup here: https://github.com/kubeflow/kubeflow/issues/3901#issuecomment-521200663

It seems that
`Quick shortcuts > Create a new Notebook server > [enter a name, leave the rest as is]`
results in a spinner before the listed notebook servers but not much more.

<img width="948" alt="Screenshot 2019-08-14 at 13 58 39" src="https://user-images.githubusercontent.com/22483621/63019503-ccff4

[2019-08-14 12:43] yaseenisolated commented on #3886
This is resolved everywhere.

[2019-08-14 12:48] kimwnasptd commented on #3893
@kunmingg could you elaborate a little bit more on this one? What's the use case that the jupyter webapp blocks the user from creating a Notebook?

[2019-08-14 13:13] SpontaneousDuck opened #3903 "kfctl_k8s_istio On-Premise with MetalLB"
/kind bug

**What steps did you take and what happened:**
I have MetalLB that is configured to offer external IPs. I have Prometheus running on my cluster and MetalLB is correctly serving IPs for that. Kubeflow deployed correctly and had no errors (other than taking about 15 mins for everything to come ready). The problem is istio-ingress looks like it did not even try for an external IP and defau

[2019-08-14 13:18] jlewi commented on #3859
@deepdad I think you deleted/or hid you comment

What did you give as the name for your KFAapp? I think the problem is your name isn't valid so you probably just need to fix the name.

[2019-08-14 13:22] jlewi commented on #3817
I might suggest using `kubectl run`or a Pod to launch that container and then starting a shell in it using `kubectl exec`. Then start python and see if the import works.

It looks like you are using a GPU image. Are you running that on a machine with GPUs? I know TensorFlow will faill if you use a GPU build and try to import it on a machine without a GPU.

[2019-08-14 13:43] yanniszark commented on #3860
Since this is a release centered around multi-user, https://github.com/kubeflow/kubeflow/issues/3553 should be resolved as well, to enable multi-user functionality in environments other than GCP (eg Azure, AWS, On-Prem).

cc @Jeffwan for AWS

[2019-08-14 13:58] krishnadurai commented on #3903
Currently the implementation for Istio ingress gateway service is set to NodePort by default. If we edit the istio-ingress-gateway service to Load Balancer type, you should be able to use MetalLB running with the ingress gateway and get the external IP.

[2019-08-14 14:02] yanniszark commented on #3893
@jlewi the existing_arrikto config using Dex is capable of identity awareness.
In order to do that, this issue needs to be resolved first: https://github.com/kubeflow/kubeflow/issues/3553

The packages of some applications in manifests have to be extended to make the userid header customizable.
Right now, it is set to `x-goog-authenticated-user-email` by default.

I will try to tackle this issue t

[2019-08-14 15:48] deepdad commented on #3902
2:04:23 PM
create Pod test2-0 in StatefulSet test2 failed error: pods "test2-0" is forbidden: error looking up service account default/default-editor: serviceaccount "default-editor" not found
test2
1:52:17 PM
create Pod test-0 in StatefulSet test failed error: pods "test-0" is forbidden: error looking up service account default/default-editor: serviceaccount "default-editor" not found
test

[2019-08-14 16:30] gabrielwen commented on #3808
@kunmingg you need to cherrypick #3841 to fix this issue on v0.6 though.

[2019-08-14 16:30] tmc commented on #3866
When enabling istio-injection on the kubeflow namespace, after restarting all the pods I have mysql client connectivity issues from the metadata-deployment pod (to the metadata-db pod).

[2019-08-14 17:06] jlewi commented on #3890
Upgrades are currently not officially supported. We hope to add upgrade support starting with 0.7
(see [ROADMAP](https://github.com/kubeflow/kubeflow/blob/master/ROADMAP.md))

The particular problem with apply not working on second run is #3810

Duplicate of #3810

[2019-08-14 17:06] jlewi commented on #3890
Duplicate of #3810

[2019-08-14 17:06] #3890 closed

[2019-08-14 17:07] yanniszark commented on #3900
Hi @Jeffwan !
The problem is the following:
* Central Dashboard relies on env variables to be populated by Kubernetes, in order to connect to the profiles service.
* The env variables aren't populated when the Central Dashboard Pod starts.
* Central Dashboard uses some default value and continues (localhost:8884).

@avdaredevil how are we going to deal with this?
cc @jlewi

[2019-08-14 17:09] jlewi commented on #3810
Given that kubectl is written in go; can we link it into kfctl and just call apply on the resource?

e.g. Replcate the line

https://github.com/kubeflow/kubeflow/blob/3a37cbc695355ff52c3609c40d63a5c2b0cbffb8/bootstrap/v2/pkg/kfapp/kustomize/kustomize.go#L446

With a call to an appropriate function in kubectl?

[2019-08-14 17:47] karthikv2k commented on #3643
Will look into it today/tomorrow.

[2019-08-14 18:14] SpontaneousDuck commented on #3903
Perfect! Was able to accomplish this with ```kubectl edit svc istio-ingressgateway -n istio-system``` and changing the type from ```NodePort``` to ```LoadBalancer```.

[2019-08-14 18:14] #3903 closed

[2019-08-14 20:04] kkasravi commented on #3810
@jlewi great idea

[2019-08-14 20:18] jlewi commented on #3900
I think this is a bug in the way central dashboard is being implemented.
See comment here: https://github.com/kubeflow/kubeflow/issues/3859#issuecomment-521044568

IIUC the central dashboard is currently relying on Kubernetes to populate environment variables with host and port based on the Kubernetes service. I don't think we need to rely on those environment variables.

We should be able to just

[2019-08-14 20:30] jlewi commented on #3900
I think this is the problematic code
https://github.com/kubeflow/kubeflow/blob/81fe467f871ec2c08d1b29f50c1a37c5336b902c/components/centraldashboard/app/server.ts#L12

The K8s service for central dashboard is defined here
https://github.com/kubeflow/manifests/blob/master/profiles/base/service.yaml

We should be able to derive from that the K8s DNS name for the KFam service.
https://kubernetes.io/do

[2019-08-14 20:31] jlewi commented on #3900
@Jeffwan I think you are also picking up changes that should be confined to an RC; i.e. you are picking up the latest centraldashboard image which hasn't been finalized yet.

If you aren't explicitly trying to test an RC; then that's probably a "bug" in that users shouldn't be exposed to upcoming RC's yet.

What was the commands you ran to deploy Kubeflow?

[2019-08-14 20:34] gabrielwen commented on #3868
@yanniszark should we close this?

[2019-08-14 20:51] jlewi commented on #3900
@avdaredevil @prodonjs thoughts?
/assign @avdaredevil

[2019-08-14 20:54] prodonjs commented on #3900
@jlewi Yes you are correct in spotting where the issue lies. I borrowed the pattern from what we did in setting up the Metadata UI, which itself was derived from the Pipelines UI. I think the difference in those products is that the order of resources is explicitly defined such as in https://github.com/kubeflow/manifests/blob/master/metadata/base/kustomization.yaml, but it still seems like it coul

[2019-08-14 20:56] jlewi commented on #3902
How did you create the namespace?

Did you create a profile to create the namespace?

The profile is what populates the namespace with appropriate service accounts

[code]

[2019-08-14 20:58] jlewi opened #3905 "auto-deployed clusters from master not accessible via IAP - IAP broken on master"
Tried accessing the following

https://kf-vmaster-n01.endpoints.kubeflow-ci-deployment.cloud.goog

Get
ERR_CONNECTION_CLOSED

[2019-08-14 21:26] jlewi commented on #3860
@gabrielwen Here's the release guide
https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md

One thing we should add to the release guide is making sure repos listed in KfDef specs are pinned to the proper commits.

[2019-08-14 22:24] gabrielwen commented on #3860
Let's track on every items:
- [ ] Cherrypick #3792 @johnugeorge @krishnadurai
- [ ] Cherrypick #3845 @kimwnasptd
- [ ] Cherrypick tracking #3868 @yanniszark
- [ ] Cherrypick fixes in #3437 @kunmingg
- [ ] Cherrypick #3885 @yanniszark
- [ ] Feature tracking #3893 @kunmingg
- [ ] [kfctl_k8s_istio out of sync](https://github.com/kubeflow/kubeflow/issues/3860#issuecomment-521117431) @kunmingg @richard

[2019-08-14 22:29] jlewi commented on #3655
Thanks. I think a use case for setting annotations/labels would be to use PodDefaults to inject init containers; see #2889

@kimwnasptd Regarding annotations and labels; I'm wondering if we should just take the Notebooks labels and annotations and apply them directly to the statefulset and pod. Or if we should allow users to set those independently of the Notebook's labels and annotations.

[2019-08-14 22:37] jlewi commented on #3905
[code]

so looks like ingress never spun up ssh

[code]

Looks like its using managed certificates.

[2019-08-14 22:43] jlewi commented on #3905
[code]

So address defined.

It looks like the backend for the ingress which is the ingress gateway is reported as unhealthy

[code]

[2019-08-14 22:46] jlewi commented on #3905
Lets try running a health check over port-forrward

[code]

[2019-08-14 23:14] jlewi commented on #3905
It looks like the GCP health check path isn't correct.

The JWT policy check excludes the path "/healthz"

[code]

I updated the health check manually to change the path and now the backend is healthy.

[2019-08-14 23:15] jlewi commented on #3905
I think the problem may be that the auto-deploy job might not be using the updated config.

[2019-08-14 23:19] jlewi commented on #3905
Auto deploy infra
https://github.com/kubeflow/testing/tree/master/test-infra/auto-deploy

Not using --config
https://github.com/kubeflow/testing/blob/8cbd626f678d2c830edc38d5990bc2e1c6e1eb70/py/kubeflow/testing/create_kf_instance.py#L65

[2019-08-15 03:38] UrmsOne commented on #3846
@kimwnasptd **Thank you for your help again. I finally solved the problem.**

* `I enable it manually in the Feature Gates by modifying the kube-apiserver configuration file.`
![image](https://user-images.githubusercontent.com/31981402/63071018-02656880-bf50-11e9-9883-d070fd2bca4c.png)
* `I'm going to explain another question here [issue #307](https://github.com/kubernetes-sigs/kubebuilder/issues/

[2019-08-15 03:38] #3846 closed

[2019-08-15 05:48] #3079 closed

[2019-08-15 06:21] jlewi commented on #3905
So I updated the auto-deploy #441

The ingressgateway Deployment has a readiness probe

[code]

But the health check still isn't picking it up

[2019-08-15 06:26] jlewi commented on #3905
The URL
https://kf-v0-6-n04.endpoints.kubeflow-ci-deployment.cloud.goog/

works

Here's the corresponding ingressgateway deployment

[code]

[2019-08-15 06:43] elviraux opened #3907 "Generate a report of vulnerabilities for Kubeflow images"
Every kubeflow image should be scanned for security vulnerabilities.
It would be great to have a periodic security report.
Each of these images with vulnerability should be patched and updated.

[2019-08-15 06:45] elviraux commented on #3907
/area manifests
/priority p1

[2019-08-15 07:58] SheharyarTkxel opened #3908 "What does "desiredCapacity" mean in the cluster_config.yaml file?"
**Scenario**
I am trying to autoscale GPU nodes from 0 to N. I configure my cluster_config.yaml file like this:
[code]
But when it deploys, the jupyter pod doesn't let me create a Notebook and instead says that there are insufficient GPUs. Now alternatively if I deploy with desiredCapacity=1, the notebook creates successfully.

**Question**
I want to know what is this desiredCapacity? Does it mean

[2019-08-15 08:46] TaylorHere opened #3909 "Jupyter CRD usage Example"
/kind question

**Question:**
We want to Create A notebook  instance in a Pipeline Component, [We notice there is a Jupyter CRD](https://docs.google.com/document/d/1VEAxANT9136nV___ZNnFfW7SnRP9yZePpy_rF43edgo/edit#heading=h.69ucg9poi8hg)
We want to know how to use this CRD, it's will help if there is an example or usage guide.
Thx

[2019-08-15 10:31] yanniszark commented on #3860
@gabrielwen the following PRs should also be in the release:

- Parameterize userid header and prefix in manifets:

[2019-08-15 11:25] kkasravi commented on #3810
@jlewi kubectl apply has a number of [issues](https://github.com/kubernetes/kubernetes/issues/35234) worth noting, however I will try this approach

One consideration is if we use the version in each ApplicationCR we could simplify apply semantics - eg we would look at Application.spec.descriptor.version

[2019-08-15 13:22] kkasravi commented on #3810
@jlewi I think we should consider raising this issue to a P0 since in our tests with on-prem (existing cluster) we fail due to crds not being instantiated in time. (istio-crds - if we remove istio then application-crds). @ashahba any info from your side based on our on-prem deployments?

[2019-08-15 13:28] jlewi commented on #3905
Next step would be to deploy from master and see if that works.

An E2E test was added for IAP for postsubmits.
https://github.com/kubeflow/kubeflow/pull/3482/files

I think there may be a bug in the ksonnet because it doesn't look the endpoint-is-ready-test is actually included as part of the workflow
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow_kubeflow/kubeflow-postsubmit/11618

[2019-08-15 14:58] #3226 closed

[2019-08-15 14:58] #3213 closed

[2019-08-15 14:58] #3199 closed

[2019-08-15 15:39] LinuxDevSecOps opened #3911 "Kubeflow error"
Hello I have successfully installed kuberflow.
But I am not able to install Kuberflow GUI..

Getting error.. attached with SS
![Screenshot from 2019-08-15 21-38-38](https://user-images.githubusercontent.com/48767068/63106642-17201b80-bfa5-11e9-9577-29dce56d8021.png)

**Environment:**

- Kubeflow version: (version number can be found at the bottom left corner of the Kubeflow dashboard):
1.15.2
- kf

[2019-08-15 16:17] gabrielwen commented on #3860
Updated, please ping back once you finish the cherrypick :)

[2019-08-15 17:11] ashahba commented on #3210
Is this for `v0.7`?

[2019-08-15 17:16] swiftdiaries commented on #3210
Yeah, we're slated for 0.7 but this hasn't been picked yet

[2019-08-15 17:18] ashahba commented on #3210
To backup your point @jlewi I think we should start with only supporting internal registries that have the same repo structure that we propose, otherwise users need to update image urls manually.
This is mainly to simplify the private registry support.

[2019-08-15 18:43] jlewi commented on #3905
Here's a subsequent post-submit run.
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-periodic-master

The endpoint test ran but it failed.

So it looks like the problem is on master as well.

[2019-08-15 20:06] Jeffwan commented on #3900
@jlewi
I installed kubeflow on an EKS cluster and all commands are same as I usually run.

The problem is I didn't override central dashboard version in my config.yaml and it picks up change in

https://github.com/kubeflow/manifests/blob/f6e898e77c438376d9a3fbec77eb12e819e7b0b6/common/centraldashboard/base/kustomization.yaml#L14-L18

I assume any platform without image version override will have t

[2019-08-15 20:20] jlewi commented on #3905
It looks like backend-updater pod is stuck

[code]

[2019-08-15 20:22] jlewi commented on #3905
Looks like that script is what's updating the backend health check to /healthz
https://github.com/kubeflow/kubeflow/blob/1a6b85e3904b732c76d4104480011f6a702cf525/kubeflow/gcp/update_backend.sh#L44

So I suspect an issue with workload identity.

[2019-08-15 20:24] ashahba commented on #3810
@kkasravi The second `apply` always fails due to ports being already allocated, so definitely needs some re-work.

[2019-08-15 20:28] Jeffwan opened #3913 "Add init containers for services with dependencies to improve robustness"
/kind improvement

**Why you need this feature:**
I notice some components have dependencies on other service or deployment. Looks like kustomize can not solve this problem pretty well. Even kustomize has order support, some  container with large container image or PV can takes longer to start up.

Here's an example. Restarts are not 0.
[code]

Here's an other example.
https://github.com/kubeflow/

[2019-08-15 20:28] jlewi commented on #3905
kf-admin service account is missing  GSA annotation

[code]

[2019-08-15 20:30] Jeffwan commented on #3900
@prodonjs I think adding initContainer will make the deployment process more reliable,  I've seen this kind of issues frequently for metadata and pipeline projects. I can take the task

/cc @jlewi

[2019-08-15 20:39] prodonjs commented on #3900
@Jeffwan - I think [Pipelines](https://github.com/kubeflow/pipelines/blob/master/frontend/server/server.ts#L51), [Metadata](https://github.com/kubeflow/metadata/blob/master/frontend/server/server.ts#L29) and centraldashboard could probably all benefit from using the DNS name of the backend services they rely on as opposed to the Kubernetes-provided environment variable which won't be necessarily b

[2019-08-15 21:49] jlewi commented on #3905
@lluunn is investigating; on master we shouldn't be using workload identity yet; so it should be applying the overlay to add gcp-credentials which adds secrets but looks like the overlay isn't getting added.

[2019-08-15 21:51] Jeffwan commented on #3908
desiredCapacity is the number of nodes you want to provision.

scale up from 0 is another topic and I see you submit an issue in cluster autoscaler  https://github.com/kubernetes/autoscaler/issues/2260

Let's discuss the scale from 0 case there.

[2019-08-15 21:57] jlewi commented on #3900
@Jeffwan I think the reason you are picking up changes to central dashboard is because you didn't pin to a stable config. The [instructions](https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/) on www.kubeflow.org tell users to use kfctl_aws.yaml

https://raw.githubusercontent.com/kubeflow/kubeflow/master/bootstrap/config/kfctl_aws.yaml

For stability you should be pointing at the version o

[2019-08-15 22:05] Jeffwan commented on #3771
/hold

Let's hold this story for a while.

1. Leave it for package migration
2. Looks like a lots of examples are still using the packages there.

Probably after we confirm all docs/examples are up to date

[2019-08-15 22:25] jlewi commented on #3772
@kimwnasptd If events should be captured and turned into status/conditions information then why isn't stateful set doing that? If its a bug/oversight then it makes sense for us to fix that. If we capture events from the pod and turn that into notebook status are we doing something that is not best practice and or brittle?

In particular, if notebook controller is going around the statefulset API a

[2019-08-15 22:44] amygdala commented on #2852
I saw this with 0.6.1 on GCP, using basic auth IIRC.
<img width="466" alt="63025119-66f3cb00-be5d-11e9-86b2-96135e0ccc8d" src="https://user-images.githubusercontent.com/115093/63131731-8ed55280-bf73-11e9-9f90-5d009439a14a.png">

[2019-08-15 22:55] Jeffwan commented on #3900
Yeah. That's the problem. Instead of controlling version of individual component, I should ping entire registry to a stable version. Thanks! I will have a test and file the PR.

[2019-08-15 22:57] jlewi commented on #3913
What's the downside of just letting containers restart? Is it just to avoid confusing errors?

[2019-08-15 22:58] jlewi commented on #3829
Looks like we can just use the kustomize command

[code]

[2019-08-16 00:06] #3883 closed

[2019-08-16 01:13] Jeffwan commented on #3913
To me, restart works fine and it just bring noise and maybe not the best practice.
Not sure if anyone may raise questions about restart or get confused by errors during the installation.
This is a minor enhancement and priority is low.

[2019-08-16 03:14] jlewi commented on #2852
basic auth is still using Ambassador and probably an older version of envoy.

If your seeing this error please clarify whether the error is persistent or whether a refresh fixes it.

[2019-08-16 03:22] jlewi commented on #3893
@krishnadurai @yanniszark @avdaredevil I created a doc based on the 0.6.0 release demo script.
http://bit.ly/2ZgOE1v

Lets get it updated for 0.6.2 and use to make sure we are testing all the scenarios we care about.

[2019-08-16 04:40] jlewi commented on #3911
Can you please provide the commands you ran?
Could you also try following the latest instructions for 0.6.

[2019-08-16 04:44] jlewi opened #3915 "central dashboard (RC) takes a really long time to load"
/kind bug

I'm testing out the upcoming central dashboard
gcr.io/kubeflow-images-public/centraldashboard:v20190808-v0.6.2-rc.0-0-g65583158

When I first go to the page I get a blank screen even though chrome tools shows a bunch of successful requests.

It looks like the following request is returning a 502

[code]
And takes 1 minute.

if I wait the page successfully renders

I do have a profile

[

[2019-08-16 04:47] jlewi commented on #3915
I'm not able to select any namespaces.

I also do not see any admin option to create profiles.

[2019-08-16 04:53] jlewi commented on #3915
kfam server is running and shows no errrors in logs

[code]

[2019-08-16 04:58] jlewi commented on #3915
Here's the virtual service for kfam

[code]

So is the URL wrong?

[2019-08-16 04:58] jlewi commented on #3915
I think that's a red herring; I think the client side JS talks to the centraldashboard backend.

Here are the logs for the centraldashboard

[code]

[2019-08-16 05:01] jlewi commented on #3915
I think this is the issue with the centraldashboard relying on environment variables to set the URL of the backend.

I deleted the centraldashboard pod.

Now centraldashboard starts and I see the following in the logs

[code]

Now I'm able to load the centraldasbhoard without delay
and I can see my namespace.

[2019-08-16 05:05] jlewi commented on #3915
Duplication of #3915

[2019-08-16 05:05] jlewi commented on #3915
Duplicate of #3915

[2019-08-16 05:05] #3915 closed

[2019-08-16 05:06] jlewi commented on #3900
I hit the same issue on GCP.

[2019-08-16 05:08] jlewi commented on #3860
I've started this doc to use to test things out
http://bit.ly/2ZgOE1v

@krishnadurai @yanniszark @Jeffwan I'd suggest using that doc and adding sections for the situations you care about.

[2019-08-16 05:27] jlewi opened #3916 "Central dashboard should should surface an error if it can't talk to kfam"
/kind feature

We've encountered several issues due to the central dashboard backend failing to connect to the kfam API e.g.

#3859
#3900
#3915

I think we should improve the code to better surface errors

* in #3915 502s to the workinggroup API prevented the page from showing up for 1 minute
  * Instead can we show an error or other message?
* There is a failure mode where users aren't directed t

[2019-08-16 05:47] jlewi opened #3917 "Provision default GCP credentials when creating a new profile"
/kind feature

Right now a user can easily create new namespaces either

* Via the UI
* By creating the profile

But the new namespace would not have GCP credentials.

Can we allow system admins to set a default GCP account to be  used by new namespace?

When we deploy Kubeflow we create a ${KFAPP}-user GCP account for this purpose.

So it would make sense to automatically bind that account to new

[2019-08-16 05:53] jlewi opened #3918 "Jupyter web app 500 error listing poddefaults"
/kind bug

**What steps did you take and what happened:**

I'm trying out v0.6.2 RC which is using
gcr.io/kubeflow-images-public/jupyter-web-app:e8a8a6f

When I open up the new server window I see an error

[code]

So its not able to list poddefaults in my namespace

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving

[2019-08-16 05:56] jlewi commented on #3918
Here's the deployment

[code]

Here's the cluster role

[code]

So looks like we should have poddefaults permission.

[2019-08-16 06:03] jlewi commented on #3918
Here's the error

[code]
It looks like the problem is that the description is empty.

This was fixed in #3845

It was committed to kubeflow/manifests in kubeflow/manifests#269

But not cherry-picked to kubeflow/manifests/v0.6.2

[2019-08-16 06:12] jlewi commented on #3918
h

[2019-08-16 06:14] jlewi commented on #3918
Cherry-pick is kubeflow/manifests#280

[2019-08-16 06:23] jlewi commented on #3918
Here's the pod default

[code]

It looks like the desc field is set incorrectly; its not in the spec.
https://github.com/kubeflow/kubeflow/blob/b0d2e1a68cb2e9fcb874dfbcbae5ac1f560e1366/bootstrap/pkg/kfapp/gcp/gcp.go#L1691

[2019-08-16 06:38] jlewi commented on #3905
@lluunn Still looks like the tests are failing
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-postsubmit

[2019-08-16 07:15] SheharyarTkxel commented on #3908
But how are desiredCapaity and minSize different? What I want to know if how come setting desiredCapacity lets jupyter notebook to create? Does it mean a Worker node (GPU) is active despite mentioning minSize=0?

[2019-08-16 07:34] krishnadurai commented on #3893
@jlewi looks like you would need to grant access to this document.

[2019-08-16 07:46] krishnadurai commented on #3897
@JishinJames can you please add more information on the config which you were using for deployment?

[2019-08-16 07:46] #3812 closed

[2019-08-16 07:58] Jeffwan commented on #3908
@SheharyarTkxel I think it's better for you to check ASG documentation to understand basic concepts of desiredCapacity, min and max.
https://docs.aws.amazon.com/autoscaling/ec2/userguide/create-asg-from-instance.html

[2019-08-16 09:00] UrmsOne commented on #3902
@deepdad
I meet the same problem,too.

If you use default namesapce, you  could try to `kubectl create sa -n kubelfow default-editor`.

Maybe it will solve the problem.

[2019-08-16 09:48] butuzov opened #3920 "OSX related issues while using `setup-minikube.sh`"
/kind question

Related to #3901

I have a couple of questions regarding `setup-minikube.sh`

**Question:**
* [x] ~~Why does `ksonnet` fixed to version `0.11.0`?~~ ok, kuztomize to replace it.
* [x] ~~Can version above be used?~~
* [x] ~~Why does install use binary version from github.com/ksonnet/ksonnet instead of using `brew` as it does for `kubectl`? See [L42-l63](kubeflow/kubeflow/blob/master/

[2019-08-16 11:29] SpontaneousDuck commented on #3900
I am experiencing the same issue when deploying on an On-Premise cluster on kubeflow version 0.6.1 and kubernetes version 1.14.3. There are no errors in the log but the namespace list is empty on the dashboard.

[2019-08-16 12:08] butuzov opened #3921 "Using non standard `df` on macOS causing error"
/kind bug

**What steps did you take and what happened:**

I am using `coreutils` package in order to be close to Unix ecosystem, which provides almost native `df` tool in order to replace macOS's `df` version. This situation causing an issue with determining correct available disk space.

[code]

**What did you expect to happen:**
[code]

**Environment:**
* `coreutils` installed with brew package

[2019-08-16 13:47] jlewi commented on #3900
@SpontaneousDuck What were the commands you ran to deploy Kubeflow? As noted above this is likely because whatever config you are using isn't pinning to the v0.6.1 release of the dashboard so you are picking up the upcoming RC changes which isn't fully functional yet.

/cc @krishnadurai

[2019-08-16 14:00] jlewi commented on #3610
kfctl.sh is no longer supported; it is using ksonnet which has been archived by HeptIO and doesn't work with later version of Kubernetes.

If there isn't Cloud specific instructions for your install then the recommendation is to follow
https://www.kubeflow.org/docs/started/getting-started-k8s/

[2019-08-16 14:05] jlewi commented on #3441
@ZorkMaster Glad you figured it out.  Can we go ahead and close this issue?

[2019-08-16 14:07] amygdala commented on #2852
In my case a few refreshes fixed it.

[2019-08-16 15:06] butuzov commented on #3911
I believe the reason for this error is running kubeflow on the minikube with kubernetes versioned above 0.14. What @LinuxDevSecOps  can do is to follow @jlewi's advise from this issue

https://github.com/kubeflow/kubeflow/issues/3610#issuecomment-511461426

[2019-08-16 15:34] geooff commented on #2889
Any updates on the feature outlined above? My team is looking to deploy Kubeflow and are wondering if there are any established best practices regarding VC.

[2019-08-16 15:59] lluunn opened #3923 "kfctl cannot infer project when not set"
/kind bug

**What steps did you take and what happened:**

I am using the latest config from master (removing the dummy value of project/email)
[code]

The project field is missing, and hostname treat it as empty string
kf0815-2.endpoints..cloud.goog

It can infer the email though.

gcloud config has both email and project set:

[code]

cc @jlewi

[2019-08-16 16:00] lluunn commented on #3905
ack, looking

[2019-08-16 16:31] jlewi opened #3924 "[GCP[ Default PodDefaults - add-gcp-secret is invalid"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

If you deploy with kfctl default on platform GCP you end up with a default namespace kubeflow-${USER} that has PodDefaults like the following

[code]

The fields volumes, volumeMounts, and description should be in the spec

Before we close this issue

* Get the fix on master
* Get the f

[2019-08-16 16:37] jlewi commented on #3924
Bug is here:
https://github.com/kubeflow/kubeflow/blob/b0d2e1a68cb2e9fcb874dfbcbae5ac1f560e1366/bootstrap/pkg/kfapp/gcp/gcp.go#L1684

/assign @jlewi

[2019-08-16 17:09] jlewi opened #3927 "[GCP] E2E test that default namespace has GCP access"
/kind feature

See #3924 we had a bug with the default PodDefaults add-gcp-secret. As a result credentials weren't automatically added to notebooks even though they had the correct label.

We should add an E2E test to verify pods can be created with GCP credentials.

The implementation will change in 0.7 since we will change to workload identity so we should try to write the test in a way that we

[2019-08-16 17:36] amygdala commented on #1803
Someone just hit this issue again, and reported that changing the conda envir worked, e.g:
[code]

Maybe we should re-open this bug?

[2019-08-16 17:49] kellen commented on #3571
Using `v0.5.1` on GCP and having the same issue.

Debug:
[code]

So `gcp-cred-webhook` is not working. Following instructions from your last comment:
[code]

No other labels are present on the notebook.

[2019-08-16 18:13] LinuxDevSecOps commented on #3911
@jlewi Yes here the commands:

  804  sudo apt install virtualbox
  805  sudo dpkg -i virtualbox-6.0_6.0.10-132072_Ubuntu_bionic_amd64.deb
  806  cd Downloads/
  807  ls
  808  sudo dpkg -i virtualbox-6.0_6.0.10-132072_Ubuntu_bionic_amd64.deb
  809  cd ~
  810  sudo minikube start
  811  sudo minikube dashboard --url
  812  sudo curl -O https://raw.githubusercontent.com/kubeflow/kubeflow/v0.2-bran

[2019-08-16 19:58] jlewi commented on #3924
To work around this you can just recreate the poddefault using the following spec

[code]

[2019-08-16 21:43] amygdala opened #3930 "GKE cluster autoprovisioning settings are problematic"
/kind bug

With KF 0.6.1 on GKE

The kfctl autoprovisioning settings seem problematic for the GKE cluster setup.  If you create a new autoscaling node pool with n1-standard-8 nodes and min of 0, it can't actually scale, as that would bump the CPUs to 24, over the configured max.  This happens, e.g., if you follow the node pool creation example in the docs about using preemptible VMs.

The low numb

[2019-08-16 22:06] amygdala opened #3931 "Feature request: github integration in the notebook JupyterLab view"
/kind feature

With the JupyterLab notebook view (e.g. `https://<name>.cloud.goog/notebook/<namespace>/<notebook>/lab`)
it would be really great to have github integration as is supported here: https://cloud.google.com/ml-engine/docs/notebooks/save-to-github

I'm guessing that this is some kind of extension that could be bundled.

[2019-08-16 22:06] jlewi commented on #3911
@LinuxDevSecOps What instructions are you following?

It looks like you are using really old versions

* i.e. `https://raw.githubusercontent.com/kubeflow/kubeflow/v0.2-branch/bootstrap/bootstrapper.yaml`  is over a year old and no longer used
* And then later you are referencing version 0.4

[2019-08-16 22:22] jlewi opened #3932 "Frequent websocket disconnections; GCP, IAP, v0.6.2 RC"
/kind bug

My setup is as follows

* GCP
* IAP
* v0.6.2-rc0

I'm running Jupyter and I'm noticing semi frequent web socket disconnection errors; more so than in previous releases.

This is most pronounced when using a terminal because it just hangs and you have to refresh.

One thing to check would be the connection time outs for the GSLB as well as ISTIO?

[2019-08-16 22:33] #3248 closed

[2019-08-17 00:15] beatgeek commented on #3859
Seeing this same issue on build version v0.6.2-rc.0 with a deployment to existing cluster. (BTW the docs reference a port-forward using the ambassador service but there is no such service it's istio-ingress).

[2019-08-17 00:45] Jeffwan opened #3935 "Disable istio-injection in namespace profile controller creates?"
/kind enhancement

**Why you need this feature:**
Training job by default is not working because profile controller enables istio-injection in the namespace data scientist will work on.

In order to ask istio not inject sidecar, user has to explicitly add annotations to pods like this

[code]

I am thinking if we should make it namespace level switch on by default. If there're more workloads using

[2019-08-17 00:46] beatgeek commented on #3916
👍 to this feature. Unable to select a namespace on build version v0.6.2-rc.0 and also prevents launching a notebook server.

[2019-08-17 00:58] beatgeek commented on #3900
I hit this issue on GCP with centraldashboard on build version v0.6.2-rc.0 of kubeflow and kfctl kfctl v0.6.1-rc.2-1-g3a37cbc6 deploying to an existing cluster.

It sounds like I'm picking up RC changes - I'll pin to 6.1

[2019-08-17 01:31] amygdala opened #3936 "Feature request: consider kfctl config compatible with GCP free trial project"
/kind feature

We should consider having a kfctl predefined config that 'just works' for GCP free trial customers and the quota they're given, even though it would be somewhat underpowered.
E.g. see https://github.com/kubeflow/website/issues/1065.
(The same might hold for the other cloud providers).

[2019-08-17 05:58] jhua18 commented on #3924
Hi @jlewi,

I tried the workaround on our KF v0.6 cluster in GCP:
[code]
with the add-gcp-secret.yaml file:
[code]
However, [the xgboost_synthetic sample](https://github.com/kubeflow/examples/tree/master/xgboost_synthetic) terminated at the exact same place with same error:
[code]

**original PodDefault before change:**
[code]
**newly created PodDefault:**
[code]

[2019-08-17 06:28] LinuxDevSecOps opened #3937 "Kuberflow using ansible PLAYBOOK"
/kind question

Hello Can someone help to install kuberflow by ansible PLAYBOOK? I have number of things already deployed.

The following components are configured and enabled

o Katib (for Hyperparameter Tuning)

o Jupyter Notebooks

o Model DB

o Pipelines

o Seldon Serving

o TF Serving

o TFJob

o TFX (with cluster deployment and local dev on VM via supporting scripts)

o Autoscaling with K8s

[2019-08-17 06:49] jhua18 commented on #3924
In order to pass the failure point in the sample, a workaround is to add an env variable to point to a service account key json file that must be uploaded to the same location of the notebook first. But, should a SA key file have to be uploaded and added to environment explicitly to complete a notebook setup for an user already has access to the notebook?

[2019-08-18 00:06] jlewi commented on #3909
@TaylorHere You use them like you would any Kubernetes resource. We unfortunately don't have reference documentation but here's an example resource.

[code]

A notebook resource contains a PodTemplateSpec.
https://github.com/kubeflow/kubeflow/blob/f989f2200c2184b40870139cd9230d5660d9e83f/components/notebook-controller/pkg/apis/notebook/v1alpha1/notebook_types.go#L28

If you create a notebook via t

[2019-08-18 00:11] jlewi opened #3938 "Define Kubeflow cluster role and combine roles (was default roles should include virtualservices)"
/kind feature

It looks like permission to create virtual services aren't attached by default to the roles created in namespaces. See below

**Why you need this feature:**
[Is your feature request related to a problem? Please describe in details]

editors should probably have the ability to edit virtual services so they can deploy services in their namespaces and configure traffic.

viewers should

[2019-08-18 00:17] jlewi commented on #3938
It looks like we are just using the builtin edit and view roles defined by Kubernetes
https://kubernetes.io/docs/reference/access-authn-authz/rbac/#default-roles-and-role-bindings

So by default users won't have ability to create Kubeflow custom resources; e.g. notebooks; TFJob etc...

Should we create our own viewer and editor roles and use those by default?

/cc @krishnadurai @kunmingg @animeshs

[2019-08-18 00:58] yanniszark commented on #3938
@jlewi we could either do that or aggregate our own custom ClusterRole with the default edit one.
https://kubernetes.io/docs/reference/access-authn-authz/rbac/#aggregated-clusterroles

[2019-08-18 11:44] krishnadurai commented on #3938
@jlewi It would always be easier for users to have defaults for each role defined by a Kubeflow manifest including the (default minimum) resources Kubeflow introduces. I've used the term default minimum with the view that there will be certain resources which are optionallly deployed in a user's Kubeflow deployment.
For these optional components - as @kkasravi had initially suggested - we could ma

[2019-08-18 11:48] krishnadurai commented on #3938
The question here would be now is that whether Istio is treated as a separate application and have its own clusterroles for viewer and editor? And this can be aggregated back to Kubeflow viewer and editor clusterroles.

[2019-08-18 13:01] #3133 closed

[2019-08-18 13:53] LinuxDevSecOps opened #3939 "deploy not work https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/"
I am using centOs 7.8

when i try to deploy using https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

Script to download and unpack for Linux/MacOS:

is shows this message
![Screenshot from 2019-08-18 19-52-53](https://user-images.githubusercontent.com/48767068/63225433-c9e4b980-c1f1-11e9-83ed-06c44e7ff0a5.png)

Usage: grep [OPTION]... PATTERN [FILE]...
Try 'grep --help' for more informati

[2019-08-18 20:18] jlewi commented on #3605
@xauthulei  committed kubeflow/kfctl#9

However, kubeflow/kubeflow is still source of truth for kfctl; so we need to get that PR cherry-picked onto kubeflow/kubeflow so the changes don't get overwritten on the next sync of kubeflow/kubeflow to kubeflow/kfctl

/assign @xauthulei

[2019-08-18 22:12] jlewi commented on #3924
@jhua18 In order to apply those PodDefaults to your notebook when you spawn the notebook in the UI you need to select configuration -> and then select "add-gcp-secret".

[2019-08-18 22:22] jlewi commented on #1394
Per the discussion in #3856 I think we might try to use the IDLE signal that the Jupyter kernel provides.

[2019-08-18 22:23] jlewi commented on #3829
I'll try to make some progress on this.

/assign jlewi

[2019-08-18 22:33] jlewi opened #3940 "Update Jupyter notebook CRD to support v1beta1"
/kind feature

**Why you need this feature:**

In 0.7 we want to release notebook v1beta1 (#3655). In 0.7  we'd like to provide backwards compatibility with notebooks/v1alpha1 if possible.

Right now it doesn't look like v1beta1 schema will be that different (as of right now there are no changes to the v1beta1 spec relative to v1alpha1).

Following
https://kubernetes.io/docs/tasks/access-kubernete

[2019-08-18 22:35] jlewi commented on #3655
I created #3940 to update the CRD definition. I think we should try to do that this week. I think if we simultaneously serve v1alpha1 and v1beta1 then it should be easier to begin making changes to support v1beta1 without breaking things.

[2019-08-18 22:42] jlewi commented on #3924
The fix should now be commited
on v0.6-branch #3926
on master #3934

As soon as we verify that the fix is working on 0.6 and on master using the auto-deployed clusters we can close this issue.

[2019-08-18 22:48] jlewi commented on #3918
So to summarize there were two issues here

1. The Default PodDefault created by kfctl was incorrect and didn't include a description
    * This is #3924 and should be fixed
1. The jupyter web app didn't handle the case of PodDefaults without descriptions
    * This is fixed by kubeflow/manifests#280

I'm going to mark this as fixed. We still need to verify but I think we can do that as part of ge

[2019-08-18 22:50] jlewi commented on #3900
I think we can close this issue once @Jeffwan submits a change pinning the v0.6.1 AWS config to the appropriate commit of kubeflow/manifests

[2019-08-18 22:52] jlewi commented on #3893
@krishnadurai Apologies; I thought I'd put it in the kubeflow shared drive but I guess not. Please try again.

[2019-08-18 22:54] jlewi commented on #3875
@avdaredevil Has this already been fixed in the image in kubeflow/manifests on v0.6-branch?

[2019-08-18 22:59] jlewi commented on #3764
@Jeffwan @yanniszark it looks #3760 was merged.

Has it been cherry-picked to v0.6-branch?

If not can one of you open a cherry pick please?

These instructions explain how to use our helper script to create cherry-picks.
https://github.com/kubeflow/kubeflow/blob/master/hack/cherry-picks.md

[2019-08-18 23:01] jlewi commented on #3643
There were bugs with PodDefaults see #3924. That should be fixed no on the v0.6-branch.

[2019-08-18 23:01] #3252 closed

[2019-08-18 23:02] jlewi commented on #2152
I believe it is in staging and we are just waiting on adding garbage collection for old statefulsets before deploying in production.

[2019-08-18 23:29] yanniszark commented on #3764
@jlewi the commit that cherry picks this in v0.6-branch is this:

[2019-08-19 01:33] avdaredevil commented on #3875
@kunmingg has this been resolved??

[2019-08-19 01:49] xauthulei commented on #3605
@jlewi , I commit my fixes in PR #3941

[2019-08-19 01:54] JishinJames commented on #3897
I use the following metallb config YAML file .

apiVersion: v1
kind: ConfigMap
metadata:
  namespace: metallb-system
  name: config
data:
  config: |
    address-pools:
    - name: default
      protocol: layer2
      addresses:
      - 192.168.1.240-192.168.1.250

[2019-08-19 01:55] JishinJames commented on #3897
I use the following metallb YAML File and it is a single node kubernetes ( On prem ) cluster .

apiVersion: v1
kind: ConfigMap
metadata:
  namespace: metallb-system
  name: config
data:
  config: |
    address-pools:
    - name: default
      protocol: layer2
      addresses:
      - 192.168.1.240/28

[2019-08-19 01:58] JishinJames commented on #3897
I use the following ambassador config file for deployment .

apiVersion: v1
kind: Service
metadata:
  labels:
    service: ambassador
  name: ambassador
  namespace: istio-system
spec:
  ports:
  - name: ambassador
    port: 80
    targetPort: 80
  selector:
    service: ambassador
  type: LoadBalancer

[2019-08-19 02:01] jlewi commented on #3605
@xauthulei Thank you so much.
Just one more thing. After #3941 is merged can you follow these [instructions](https://github.com/kubeflow/kubeflow/blob/master/hack/cherry-picks.md) to cherry-pick it onto the v0.6-branch.

Its just a simple script you have to run to auto-create a PR with the same changes.

[2019-08-19 02:04] xauthulei commented on #3605
@jlewi , I will try to do it later.  Thanks.

[2019-08-19 02:16] jlewi commented on #3866
Thanks @tmc. Could you explain your motivation for turning on ISTIO in the Kubeflow namespace? Are you trying to restrict access to Kubeflow services? Enforce quotas? etc...

/cc @krishnadurai @zhenghuiwang @lluunn

[2019-08-19 02:20] jlewi commented on #3939
Is this the command you ran

[code]

I suspect there is a bug in that serious of scripts and it ends up not getting the URL correctly.

I'd suggest just going to the releases page and downloading the release you need
https://github.com/kubeflow/kubeflow/releases

[2019-08-19 02:21] jlewi commented on #3937
Can you provide more detail about what you are trying to deploy with Ansible?

Can you use Ansible to orchestrate kfctl?

[2019-08-19 02:22] jlewi commented on #3936
This is a great idea.

[2019-08-19 02:27] jlewi commented on #3935
@lluunn @kunmingg Should we not inject ISTIO side cars by default and instead just turn it on for our notebooks and other resources that need it?

@richardsliu Any idea if this was/should have been caught by the E2E tests?

@Jeffwan How does the training job fail? I would expect training jobs to still work even if they are sending traffic through ISTIO.

An issue I encountered kubeflow/examples#61

[2019-08-19 02:32] jlewi commented on #3930
@amygdala Do you have recommended default settings?

The settings are configured here
https://github.com/kubeflow/kubeflow/blob/169f03d1321f420ff00d2a972ae7475c058f5ef4/deployment/gke/deployment_manager_configs/cluster-kubeflow.yaml#L70
https://github.com/kubeflow/kubeflow/blob/169f03d1321f420ff00d2a972ae7475c058f5ef4/deployment/gke/deployment_manager_configs/cluster.jinja#L98

[2019-08-19 02:36] jlewi commented on #3921
Duplicate of #3610
Please see: https://github.com/kubeflow/kubeflow/issues/3610#issuecomment-522019187

kfctl.sh is no longer supported please see that comment for recommended way to install Kubeflow on minikube with 0.6

[2019-08-19 02:42] jlewi commented on #3920
setup-minikube.sh is very outdated and probably needs to be updated on master to work with 0.6

@abhi-g Are you working on this?

@butuzov If you want to add special if statements for OSX I think that's fine.

/cc @abhi-g

[2019-08-19 02:43] jlewi commented on #3921
Reopening this issue; because its not about kfctl.sh but setup-minikube.sh which might be worth updating and keeping.

[2019-08-19 03:12] abhi-g commented on #3920
I am trying to get it updated. The script already has some osx related
sections. Feel free to update if necessary.

On Sun, Aug 18, 2019 at 7:43 PM Jeremy Lewi <notifications@github.com>
wrote:

[2019-08-19 03:39] LinuxDevSecOps commented on #3937
Hello @jlewi ,
https://raw.githubusercontent.com/kubeflow/kubeflow/v0.6.1/bootstrap/config/kfctl_k8s_istio.yaml

check this. I want to deploy kubeflow using Ansible Playbook. Like we can ran kubernetes using Ansible Playbook. Can you give me a full idea about how to deploy kubeflow using Ansible Playbook??

[2019-08-19 03:48] johnugeorge commented on #3939
you could download it  from https://github.com/kubeflow/kubeflow/releases/tag/v0.6.1

[2019-08-19 04:34] lluunn commented on #3940
sure

/assign

[2019-08-19 04:59] Jeffwan commented on #3935
Yeah. I think that's similar problem

Looks like istio-proxy is not up at the beginning and it failed readiness on 15020. Once a while, sidecar starts up but tensorflow pod is already failed at that time.

[code]

[code]

[2019-08-19 05:17] woop commented on #2141
An update on Feast development and our roadmap going forward:

We are releasing Feast 0.2 in about two weeks time (early September), so development is on track. The release will complete the decomposition of data ingestion from feature stores, which will make it a lot easier to add new store types.

After 0.2 we will immediately start development on Feast 0.3. Feast 0.3 will focus on improving the

[2019-08-19 05:36] xauthulei commented on #3605
It is done , see PR #3942, Could you review that. Many Thanks.

[2019-08-19 06:49] AnnieWei58 opened #3944 "[jupyter] packages in python need to be reinstalled"
I have a question regarding the usage of jupyter in Kubeflow on Kubernetes.

When I use "pip install sklearn" through the terminal in Jupyter Notebook, the package is sucessfully installed. But when I restart the kubeflow, the installed package sklearn did not seem to be stored in kubeflow permanetly and I need to reinstall it again. Does anyone know how to solve this problem plz?

In addition, wh

[2019-08-19 10:04] nkumar15 commented on #3812
@xaniasd, not sure where I am doing the mistake, but I am still facing the same issue. Any suggestions pls?

`couldn't apply KfApp:  (kubeflow.error): Code 500 with message: kfApp Apply failed for kustomize:  (kubeflow.error): Code 500 with message: couldn't create resources from application Error: no matches for kind "Application" in version "app.k8s.io/v1beta1"
`
minikube version: v1.1.0
kfctl v

[2019-08-19 10:21] kimwnasptd commented on #3772
@jlewi

Only how many replicas the StatefulSet created and the number of Pods created by the StatefulSet controller that have a Ready Condition. It won't show any more info on its Status field regarding the underlying Pod's statuses.

This wouldn't be enough. If the StatefulSet creates the Pods, but the Pods can't be scheduled (insufficient cpu for example) then this information is not depicted ne

[2019-08-19 11:27] SpontaneousDuck commented on #3900
@jlewi I had the problem where it wasn't pinning and changed my config. I verified that the dashboard version was correct after that (v0.6.1) and I still had the same problem.

[2019-08-19 12:21] crauterb opened #3945 "Istio-Gateway for created Notebook Servers is not configurable"
/kind bug

**What steps did you take and what happened:**

I deployed v0.6.1. of Kubeflow in an existing Kubernetes Cluster with an existing Istio-Setup.
After adapting all _virtual-service_ definitions, I got stuck on deploying new notebooks: I was not able to configure the created virtual service for the created notebook server.

The default version that is deployed is:
[code]
... and if I am no

[2019-08-19 12:31] jlewi commented on #3900
@SpontaneousDuck What docker image is your centraldashboard using?
Can you provide the logs for the centraldashboard?

Until the DNS issue is fixed you may need to delete the centraldashboard pod to force a restart to get the environment variables

[2019-08-19 12:34] jlewi commented on #3924
Last auto-deployed cluster is from 3 days ago.

[2019-08-19 15:20] jlewi commented on #3905
v0.6-branch auto-deployments are still picking up kfctl_gcp_iap.yaml from master.
Looks like I need to update the docker images used by the deployment jobs as that contains auto_deploy.sh which needs to pass on the kfctl_config file.

Not sure if that's the same problem affecting the master auto-deployments.

/cc @lluunn

[2019-08-19 15:33] yanniszark commented on #3945
Seems like a limitation of the notebook controller.
Possible solution:
1. Add option in notebook controller to define the Istio Gateway.
2. Expose that option as a parameter in kubeflow/manifests.
3. Set that parameter to your desired value in the KfDef config file.

[code]

/cc @kunmingg

[2019-08-19 15:35] sylus commented on #3916
Also having this problem can we trigger a new release with the fix. Really having a lot of trouble getting kubeflow to work the past few releases.

Super appreciate all of the hard work that has been put into it though :D

[2019-08-19 16:16] yanniszark commented on #3868
@gabrielwen #3884 is not merged yet.
In addition #3885 must be merged in order to create a cherry pick.

[2019-08-19 16:35] #3030 closed

[2019-08-19 17:11] jlewi commented on #3924
Testing the latest v0-6-branch via auto-deployments
http://kf-v0-6-n03.endpoints.kubeflow-ci-deployment.cloud.goog/

Pod defaults looks correct.

[code]

[2019-08-19 17:32] jhua18 commented on #3924
@jlewi where is the configuration option in KF jupyter notebook UI?
![Screen Shot 2019-08-19 at 10 31 18 AM](https://user-images.githubusercontent.com/39747424/63286285-85e2ca80-c26c-11e9-864d-e14f543435e1.png)

[2019-08-19 17:56] yanniszark commented on #3737
Just an update on the status of this issue:

* As mentioned in the docs, having a LoadBalancer Service is a prerequisite. For the user's convenience, [MetalLB instructions have been included in the docs](https://www.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto/#prerequisites).
* The need for a LoadBalancer will be removed once https://github.com/kubeflow/kubeflow/issues/3839 is implemented

[2019-08-19 18:12] tmc commented on #3866
@jlewi as part of our compliance controls we require all in-cluster traffic (when possible) to be protected by mTLS and to flow through Istio.

[2019-08-19 18:16] yanniszark commented on #3866
Looking around a little bit, it seems that there are some challenges using Istio with Stateful Services:
https://github.com/istio/istio/issues/10659

@tmc maybe you're bumping in this issue?

[2019-08-19 18:37] #3805 closed

[2019-08-19 18:42] lluunn commented on #3905
latest post-submit endpoint is ready is green now: https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-postsubmit

[2019-08-19 18:45] tmc commented on #3866
Kubeflow, AFAIK doesn't utilize StatefulSets so I don't think that issue is relevant.

[2019-08-19 18:51] lluunn commented on #3905
https://kf-vmaster-n04.endpoints.kubeflow-ci-deployment.cloud.goog/ still not accessible.
unexpectedly closed the connection.

describe ingress:
Error 404: The resource 'projects/kubeflow-ci-deployment/global/sslCertificates/mcrt-92b2c917-da8f-42ca-b337-c2a1def72f8c' was not found, notFound

Seems like problem with managed cert.

describe certificate:
managed-certificate-controller  googleapi: Err

[2019-08-19 18:55] lluunn commented on #3905
Not sure if when we delete cluster, the managed cert will be deleted as well?
Or there is a leak..

[2019-08-19 18:57] lluunn commented on #3905
[code]

[2019-08-19 18:59] lluunn commented on #3905
I am increasing quota to 60 for now, and we can see if managed cert is leaking

[2019-08-19 19:10] lluunn commented on #3935
Do we know why it takes so long for sidecar container to be up?
I think it should be pretty light-weight?

[2019-08-19 19:39] gabrielwen commented on #3810
/assign @kkasravi

[2019-08-19 19:42] jlewi commented on #3810
@kkasravi Are you working on this? If so do you have an ETA?

[2019-08-19 19:44] kkasravi commented on #3810
@jlewi yes - sometime today - may be in the evening

[2019-08-19 19:57] jlewi commented on #3907
Is this a duplicate of kubeflow/testing#451?

[2019-08-19 20:02] jlewi commented on #3905
@lluunn I think the problem is that with the auto-deployed clusters are using a self-signed certificate to get around lets encrypt limitations.  I suspect that interferes with managed certificates.

I think we can probably remove that now. In the past we were recycling hostnames because of IAP but with universal redirect we probably no longer need to recycle hostnames so we could give unique hostn

[2019-08-19 20:35] #3441 closed

[2019-08-19 21:23] kunmingg commented on #3935
@jlewi
I think ideally network traffics should go through Istio by default and we can apply control policy easily.
Will check if there are Istio-best-practices that operators can follow.

[2019-08-19 22:00] jhua18 commented on #3643
@jlewi @karthikv2k  I am probably seeing the same issue. here are the status of pods and error from kubectl commands:
[code]
once the fairing deployment job got triggered
[code]
And ended up with pod error status:
[code]
then, the error when trying to tail the log of the fairing job pod, which looks almost the same as what is in the ticket above. the only difference is "model istio-proxy" (mine) v

[2019-08-19 23:03] jlewi commented on #3905
The endpoint ended up coming up if I didn't set a self-signed certificate
https://kf-vmaster-n01.endpoints.kubeflow-ci-deployment.cloud.goog/

Opened up kubeflow/testin#444 about note reusing hostnames.
We''ll have to see whether we run into lets encrypt quota errors if we recycle certificates.

[2019-08-19 23:34] jlewi opened #3948 "[GCP] Don't expose http on ingress"
/kind feature

**Describe the solution you'd like:**
[A clear and concise description of what you want to happen.]

Now that we are using GKE managed certificates do we still need to expose http at our ingress? In the past we had to allow http traffic for certificate manager; but that should no longer be necessary.

[code]

[2019-08-19 23:39] jlewi commented on #3905
On a subsequent trial; it looks like GKE managed certificate is giving me

[code]

[2019-08-19 23:45] jlewi commented on #3905
Looks like it could be an SSL quota certificate issue; we have quota for 60 SSL certificates and looks like we are using all of them.

[2019-08-20 00:05] jlewi commented on #3571
@kellen How did you deploy Kubeflow 0.5? It looks like you are missing all of the resources associated with injecting credentials. Did you follow the GCP specific instructions?

[2019-08-20 00:07] jlewi commented on #3900
@avdaredevil @prodonjs Has a fix been committed yet to central dashboard to use DNS rather than the environment variables?

[2019-08-20 00:12] jlewi commented on #3605
#3941 has been merged so I'm closing this out.

[2019-08-20 00:12] #3605 closed

[2019-08-20 00:17] jlewi commented on #3900
it looks like this is fixed by #3899.

@avdaredevil @prodonjs do we need to cherry-pick this onto v0.6-branch and build an image?

[2019-08-20 00:21] jlewi commented on #3924
@jhua18 Its in the configuration to spawn the notebook.
https://github.com/kubeflow/examples/blob/master/xgboost_synthetic/images/addgcpsecret.png

I'm going to close this issue because it should be fixed on the v0.6-branch

[2019-08-20 00:21] #3924 closed

[2019-08-20 01:35] #3261 closed

[2019-08-20 01:42] ofaz commented on #3944
Hi @AnnieWei58 - I suspect the issues you are encountering re: packages not being available after restart, are due to the packages being installed into the container environment. This environment doesn't persist between restarts.

One way you can address this is by building a custom container to launch from the Notebook interface. Albeit not totally comprehensive, the instructions here should get

[2019-08-20 01:53] eduardchai commented on #3944
When you restart kubeflow, it will also restart your notebook server. The way notebook server works now, when you restart the notebook server, the state will also be restarted (installed library, changes to file system, etc). I think the work around is:
1. use `Workspace Volume` when you create notebook server
2. install using `pip install --user`. When you use `--user`, pip will install the libra

[2019-08-20 02:14] avdaredevil commented on #3900
The build is already made and the PR to merge it is in: https://github.com/kubeflow/manifests/pull/282

[2019-08-20 03:35] TaylorHere commented on #3909
I write a yaml file like this one:
[code]
when I apply this, I got a log from notebook-controller-deployment, No notebook show on ui
No notebook pod created

[code]

[2019-08-20 05:20] jhua18 commented on #3924
@jlewi Got it! That's the configure when spawning a new notebook server. :)

[2019-08-20 05:45] 14sudharsan opened #3950 "kfApp Apply failed for kustomize"
/kind bug

**What steps did you take and what happened:**
I am trying to install kubeflow v0.6 version on existing gke cluster followed by this link
https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

steps which i have done

root@741f34c1c079:~# export PATH=$PATH:/root/
root@741f34c1c079:~# export KFAPP=kfnew
root@741f34c1c079:~# export CONFIG="https://raw.githubusercontent.com/kubeflow/k

[2019-08-20 06:15] xaniasd opened #3951 "Cannot configure ambassador parameters on minikube"
/kind bug

**What steps did you take and what happened:**
Attempted to deploy Kubeflow on minikube, with Ambassador. The created service for the latter is configurable (default ClusterIP), howerver I could not influence the generated output. The  snippet below should configure a NodePort service, but the generated code did not reflect the change.

[code]

**What did you expect to happen:**
Ambassa

[2019-08-20 06:53] butuzov commented on #3920
I see.

Let me dive a bit more into kubeflow project. I really see that it's in transform phase (like setup-minikube.sh isn't helpful at all at this moment), due to a change package manager from ksonnet to kustomize. I will try to keep my on it in the next two weeks.

[2019-08-20 07:25] Ark-kun commented on #3442
/assign @jlewi @elikatsis

[2019-08-20 09:02] aakashbajaj commented on #3517
@jlewi can you point out relevant files.
I will look into it if possible.

[2019-08-20 11:01] butuzov opened #3954 "Error: couldn't apply KfApp (StatefulSet.apps)"
/kind bug

**What steps did you take**
[code]
**What happened:**
Error while creating resources.

[code]

**What did you expect to happen:**
Cluster created without problems.

**Environment:**
- Kubeflow version: (version number can be found at the bottom left corner of the Kubeflow dashboard):
- kfctl version: kfctl v0.6.1-rc.2-1-g3a37cbc6
- Kubernetes platform: miikube
- Kubernetes version: v1.1

[2019-08-20 11:55] xaniasd commented on #3954
Relevant to #3812

[2019-08-20 11:57] xaniasd commented on #3812
@nkumar15, it seems to be a different error message.

[2019-08-20 12:08] butuzov opened #3956 "`./kfctl generate --help`"
/kind feature

**Why you need this feature:**
To have a clear idea on how the tool works.

**Describe the solution you'd like:**
remove '--platform gcp' from help text,  and replace it with "if the chosen platform is gcp"

**Anything else you would like to add:**
having '--platform gcp' in help text is a bit misleading, I did try to run it with (code below) before checking source code, to get a li

[2019-08-20 12:13] butuzov commented on #3954
@xaniasd I belive my bug report is an exact duplication, of the bug #3812.

[2019-08-20 12:13] #3954 closed

[2019-08-20 12:20] krishnadurai commented on #3950
@14sudharsan can you please check or list down your user's associated clusterroles?
This looks like a clusterrole issue on first sight. Could you please check if this user has enough privileges to create role resources and can create resources in istio-system namespace?

[2019-08-20 14:10] nkumar15 commented on #3812
@xaniasd , should I open a separate issue for it? I see #3954 is closed citing #3812 as duplicate.

[2019-08-20 14:48] jlewi commented on #3662
@swiftdiaries Any update on this?

[2019-08-20 14:56] jlewi commented on #3772
So it seems like we have two possible paths forward

1. Try to aggregate information from sub-resources (e.g. Pod status, Pod events, etc...) into Notebook resource
1. In the UI make it easy to navigate to sub resources in existing Kubernetes UIs for monitoring

Thoughts on how we should proceed?

[2019-08-20 14:58] jlewi commented on #2141
Seems like a good list to me.

[2019-08-20 14:59] jlewi commented on #3764
@yanniszark Thanks so can we close this issue? If not what work remains to close this out?

[2019-08-20 16:46] swiftdiaries commented on #3662
I've pushed a PR that takes builds off of the E2E test to create a bucket and push the binary.
https://github.com/kubeflow/kubeflow/pull/3949
PTAL

[2019-08-20 16:51] swiftdiaries commented on #3662
I've added you as a reviewer on that PR

[2019-08-20 18:49] #3277 closed

[2019-08-20 19:35] krishnadurai commented on #3866
@tmc the current configs for Kubeflow are not set up for an Istio enabled kubeflow namespace. Depending on the deployment you must have used, the cluster RBAC policy could have been set 'ON' for the entire cluster and hence when you apply Istio sidecars to pods kubeflow namespace, requests might have been filtered by istio-proxy.
Can you please check if cluster RbacConfig Mode is 'ON' for the enti

[2019-08-20 20:27] #3524 closed

[2019-08-20 20:55] fediazgon commented on #3772
Even if we want to implement 2), we still need 1) to inform the user that something went wrong (stopping the spinner in the UI). Anyway, the solution that @kimwnasptd [proposed earlier](https://github.com/kubeflow/kubeflow/issues/3772#issuecomment-519980054) seems acceptable to me. We could start by adding that logic in the controller in one PR, and create another PR to reflect the information in

[2019-08-20 21:18] naseemkullah commented on #3173
Kustomize it is!

[2019-08-20 21:18] naseemkullah commented on #3295
Kustomize then!

[2019-08-20 21:18] #3295 closed

[2019-08-20 23:23] tmc commented on #3935
Just chiming in, I very much want all components to have sidecars injected. Some compliance requirements mandate traffic encrypted in transit and Istio mTLS can provide this for many use cases.

[2019-08-20 23:29] tmc commented on #3866
@krishnadurai This was a pretty vanilla install into a GKE cluster with the Istio addon enabled.

version: 0.6.1,
config: kfctl_k8s_istio.yaml (without istio installation)
ClusterRbacConfig: ON

Changing it to OFF does indeed bring all pods up successfully!

[2019-08-21 01:06] bbhuston commented on #3859
I'm still experiencing the same issue as @beatgeek.   I tried installing `v0.6.2-rc.0` into an existing GKE cluster with no luck.  The exact code I used to hit this error is listed here -- https://github.com/kubeflow/kubeflow/issues/3859#issuecomment-520231946

[2019-08-21 02:18] avdaredevil commented on #3859
Central Dashboard was updated to surface any errors: https://github.com/kubeflow/kubeflow/pull/3933 [[image-pr](https://github.com/kubeflow/manifests/pull/282)].

[2019-08-21 02:27] jlewi commented on #3772
What does reconcile in this context mean? Do you mean the controller would take some action based on the pod events?

I think there are two questions here

1) Whether event information should be converted into status?
2) How do we propogate information about pods up to the UI?

Is turning events into status information a good pattern? K8s resources are supposed to be level based not edge triggered

[2019-08-21 02:33] jlewi commented on #3517
https://github.com/kubeflow/kubeflow/blob/5c4fc0b0afab30b7a43dae534db8d3a633ccf214/deployment/gke/deployment_manager_configs/cluster.jinja#L98

Thanks @aakashbajaj

Do we need to set

1. the service account to be used by auto-provisioned node pools?
1. The scopes to attach to auto-provisioned node pools?

[2019-08-21 02:37] jlewi commented on #3442
@Ark-kun Has this been released? What version of jupyter lab do you want?

We should be installing the latest version of jupyter from pip
https://github.com/kubeflow/kubeflow/blob/5c4fc0b0afab30b7a43dae534db8d3a633ccf214/components/tensorflow-notebook-image/Dockerfile#L119

[2019-08-21 02:41] jlewi commented on #3900
Thanks cherry pick is #294

[2019-08-21 03:07] jlewi commented on #3860
@krishnadurai at @yanniszark How's it going for your platforms?

For GCP, I will retest after kubeflow/manifests#294 is merged tomorrow. Using the new 0.6.2 RC1

[2019-08-21 03:20] 14sudharsan commented on #3950
thanks krishnadurai you are correct

[2019-08-21 03:20] #3950 closed

[2019-08-21 05:49] #3287 closed

[2019-08-21 06:06] AnnieWei58 opened #3962 "how to make use of kubeflow for a data scientist?"
What are the differences and connections between different components (i.e. jupyter hub, tfjob dashboard, katib dashboard and pipeline dashboard) shown on the kubeflow UI?

Or what's the usual process for making use of these components for a data scientist? Is there anyone interested to discuss?

[2019-08-21 06:31] krishnadurai commented on #3866
Thanks for verifying!

[2019-08-21 07:09] menardorama opened #3963 "Enable Oauth without Istio ?"
/kind question

**Question:**
Hi
I just saw that Oauth is available on 0.6 release which is really great.

But default setup seems to need istio, that we don't want to use (too complicated to implement on our cluster, we already made choices for ingress controler that we don't want to reconsider)

We are already using OIDC for some of our applications (such as Kubernetes dashboard for instance) us

[2019-08-21 07:14] Jeffwan commented on #3860
@jlewi Can you help look at #3895 #3877 ?

[2019-08-21 07:16] Jeffwan commented on #3316
As we have documentation there, I will close this issue. Feel free to reopen if you still have questions on it.

[2019-08-21 07:16] Jeffwan commented on #3316
/close

[2019-08-21 07:16] #3316 closed

[2019-08-21 07:29] krishnadurai commented on #3935
/cc @krishnadurai

[2019-08-21 08:31] fediazgon commented on #3772
Yes, but

Good point. Then I agree to turn pod events into notebook events. However, there are some statefulset events that also capture relevant information (see my first example earlier). I guess we should convert those too.

However, right now, the notebook-controller watches Pod resources and turns them into notebook status. Should we keep this logic? Since now the UI is responsible for inferr

[2019-08-21 08:45] krishnadurai commented on #3963
@menardorama You should be able to deploy Kubeflow with the following instructions:
https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

To avoid OIDC and Istio installation, when you need to use this config [kfctl-k8s-istio](https://github.com/kubeflow/kubeflow/blob/master/bootstrap/config/kfctl_k8s_istio.yaml) instead. You can copy it and have a local copy to edit the config and follow in

[2019-08-21 08:48] discordianfish commented on #3827
I think kubeflow should be completely cloud agnostic. It's fine to require cloud-provider-controller integration like volumes and loadbalancer but I don't really understand why we have all these cloud specific installation 'flavors'. This also makes the docs redundant and hard to grasp. Ideally it would talk about (or just point to upstream docs) re/ setting up a cluster and then have generic docs

[2019-08-21 08:49] vcarnogu commented on #3870
It doesn't work for me with 0.6.1 releases of  manifests and kubeflow:
`Error: couldn't generate KfApp:  (kubeflow.error): Code 500 with message: kfApp Generate failed for kustomize: kustomize generate failed Error:  (kubeflow.error): Code 500 with message: couldn't copy application istio-ingress
`

Is seems that `aws/istio-ingress` is missing in manifests but is referred from [kfctl_aws.yaml](htt

[2019-08-21 08:52] Eric-Zhang1990 opened #3964 "[katib] Cannot support PyTorchJob; Please install the CRD and restart studyjob-controller"
/kind bug

1、when I run "kubectl create -f https://raw.githubusercontent.com/kubeflow/katib/master/examples/v1alpha1/pytorchjob-example.yaml", it shows:
![深度截图_选择区域_20190821164344](https://user-images.githubusercontent.com/24602893/63417145-49ad9680-c433-11e9-9b23-fa049d1b8b06.png)
2、when I run kubectl create -f https://raw.githubusercontent.com/kubeflow/katib/master/examples/v1alpha2/pytorchjob-e

[2019-08-21 09:00] krishnadurai commented on #3937
One of the ways could be to install `kfctl` in a machine. This could be done by downloading kfctl from the [releases page](https://github.com/kubeflow/kubeflow/releases).
`kfctl` has three steps during setup, namely: `init`, `generate` and `apply`. Refer installation docs [here](https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/).
Each of these `kfctl` steps can be made a step in an ansibl

[2019-08-21 09:38] nkumar15 opened #3965 "Version 0.6.1 installation fails in existing minikube cluster"
/kind bug

**What steps did you take and what happened:**
Tried installing kubeflow with below instructions and noticed error.

[code]
**What did you expect to happen:**
Kubeflow to be successfully installed in minikube.

**Anything else you would like to add:**
No

**Environment:**

- Kubeflow version: (version number can be found at the bottom left corner of the Kubeflow dashboard):
minikube ver

[2019-08-21 09:38] SheharyarTkxel commented on #3870
@vcarnogu
0.6.1 was not working for me either; It didn't even deploy to start with and I couldn't reach the Dashboard. I used [v0.6.1-rc.2](https://github.com/kubeflow/kubeflow/releases/tag/v0.6.1-rc.2) and it worked fine. I am not sure about your issue but what I was facing with v0.6.1-rc.2 was that in the Dashboard there were no Namespaces in the dropdown. What I did was, as directed by @dss77 ,

[2019-08-21 09:48] krishnadurai commented on #3860
@jlewi I'll have a run through the demo script today and see what scenarios are applicable and working with kfctl_k8s_istio.yaml.

[2019-08-21 09:53] kimwnasptd commented on #3772
@jlewi @fediazgon I also totally agree with watching the Pod/StatefulSet events and propagating them as Notebook Events. We can then add a `View logs` button to the UI for each Notebook to make it easier to debug and monitor each instance.

Regarding the Status, my proposal would be to mirror the Status of the underlying Pod. This would include all the `conditions` and `containerStatuses` of all t

[2019-08-21 13:47] xaniasd commented on #3850
@cyzhangchenya @jlewi  I think this has to do with the katib-ui service manifest ([code](https://github.com/kubeflow/manifests/blob/master/katib-v1alpha2/katib-ui/base/katib-ui-service.yaml) ), it doesn't include ambassador annotations.

Easy to fix, shall I create a PR?

[2019-08-21 13:50] jlewi commented on #3900
@avdaredevil I'm still seeing this problem with the latest image.

[code]

When I first access central dasbhoard I see an error "can't contact profile controller."

Looking at the central dashboard logs I see

[code]

Here's the pod spec
[centraldashboard.pod.yaml.txt](https://github.com/kubeflow/kubeflow/files/3525599/centraldashboard.pod.yaml.txt)

Can we write an E2E test to verify that it is b

[2019-08-21 13:54] jlewi commented on #3916
@sylus @beatgeek did you try the workaround of deleting the centraldashboard pod? This issue is just about surfacing the error. The root cause and work around is #3900

[2019-08-21 13:55] jlewi commented on #3916
I'm marking this bug as fixed because when I tried the latest image
gcr.io/kubeflow-images-public/centraldashboard:v20190816-v0.6.0-rc.0-57-g1d4b59c1

I got an error on the central dashboard indicating it couldn't talk to the Profile controller. This is the desired behavior.

[2019-08-21 13:55] #3916 closed

[2019-08-21 13:56] menardorama commented on #3963
ok thanks so once I have succeeded to dpeloy kubeflow without auth, I can put my OIDC proxy in front

[2019-08-21 13:58] prodonjs commented on #3900
@avdaredevil - I don't believe NODE_ENV is being set to production in the [Dockerfile](https://github.com/kubeflow/kubeflow/blob/master/components/centraldashboard/Dockerfile), so the newly added logic that sets the variable for the Profiles service hostname is still reverting to local host.

[2019-08-21 14:01] Jeffwan commented on #3876
/close

[2019-08-21 14:01] #3876 closed

[2019-08-21 14:08] jlewi commented on #3875
I'm seeing v1beta in the central dashboard when I deployed using the latest kfctl branch and the latest central dashboard image. I think there are two problems

@avdaredevil The centraldashboard code doesn't look correct to me.
https://github.com/kubeflow/kubeflow/blob/b0315cb4e95af11eb40257d7d97e294a04678ca4/components/centraldashboard/app/k8s_service.ts#L137

It looks like it is listing applicat

[2019-08-21 14:15] sylus commented on #3859
This is also still happening to me launching latest central dashboard and 0.6.2-rc.1. Is anyone actually able to use a release recently?

[2019-08-21 14:17] sylus commented on #3900
I am still getting this error in latest central dashboard and 0.6.2-rc.1. Is anyone successfully using kubeflow with the latest releases??

[2019-08-21 14:35] discordianfish opened #3967 "Support custom namespaces"
/kind feature

**Why you need this feature:**
In shared infrastructure it's often, like in our case, not possible to use arbitrary namespaces but they need to follow a specific schema. That makes it impossible to deploy kubeflow right now since it has various assumptions about the namespaces it runs in.

While kubeflow config already has a namespace field, setting it leads to errors when applying

[2019-08-21 14:49] vcarnogu commented on #3870
@SheharyarTkxel Thanks. It worked with v0.6.1-rc.2. It is a version from master branch while 0.6.1 is from the v0.6-branch. So confusing. Thanks a lot.

[2019-08-21 14:52] menardorama commented on #3963
this seems not so easy to get it working
the profiles-deployment manager don't start is trying to find stuff related to istio (which I didn't deploy as I don't want it)

[code]
And tf-job-operator fail to start because of missing resource

[code]

I have used this config
[code]

[2019-08-21 14:58] menardorama commented on #3963
forgot seldon with the relative same issue
[code]

[2019-08-21 16:32] cyzhangchenya commented on #3850
That would be very helpful. @xaniasd @jlewi

Otherwise, we do not have a working solution following the official documentation https://www.kubeflow.org/docs/azure/deploy/install-kubeflow/. Both Katib (/katib/) and Artifact Store (/metadata/) are "not valid pages" when clicking them from the menu bar; others (pipeline, notebook servers) are fine.

[2019-08-21 17:24] jlewi commented on #3918
Verified; see http://bit.ly/2ZgOE1v
that I no longer get 500 on GCP with IAP.
The default PodDefaults has been fixed.
Jupyter web app should be using the fixed image that handles missing description but I didn't verify that.

[2019-08-21 17:24] #3918 closed

[2019-08-21 18:13] amygdala commented on #3930
This is kind of a tough question.  We'd presumably want the values to be reasonably small. But the problem is that if someone also creates an explicit node pool, configured to use autoscaling, it probably won't scale as intended, and (if the user is not aware of the autoprovisioning constraints) it will be hard for them to figure out why.

I think that we should probably:
-  bump the CPU to at lea

[2019-08-21 20:22] lluunn commented on #3772
Is this intended, or is something StatefulSet should fix?

[2019-08-21 22:03] DanSanche commented on #3835
@SinaChavoshi I'm seeing this error appear on all namespaces. Did you have to create the kubeflow-user namespace? what deployment name did you use?

[2019-08-21 22:09] kimwnasptd commented on #3772
@lluunn I am not sure. I've tried searching the kubernetes docs/API Specs but can't find the rationale behind it.

[2019-08-21 22:24] DanSanche opened #3970 "Notebook UI accepts invalid characters"
/kind bug

**What steps did you take and what happened:**
I tried to create a notebook called "1.13.1". The site accepted the name, and started the creation UI. After a few minutes of watching a spinning circle, I checked the kubectl logs, and saw "Invalid value: "1.13.1-0": a DNS-1123 label must consist of lower case alphanumeric characters or '-'"

**What did you expect to happen:**
The UI shoul

[2019-08-21 22:40] lluunn commented on #3655
I am investigating how to support multiple versions.

According to the kubebuilder book: https://book.kubebuilder.io/multiversion-tutorial/tutorial.html
Sample [here](https://github.com/kubernetes-sigs/kubebuilder/tree/master/docs/book/src/multiversion-tutorial/testdata/project)
We can do the following IIUC:
1.  `cp -r api/v1alpha1 api/v1beta1`, and make changes in v1beta1.
1.  choose the "stored"

[2019-08-22 03:29] vanillakola commented on #3900
I can see and use other user’s（namespace）servers when I log in by a common user. How to isolate by multi-user. (0.6.2-rc.1)

[2019-08-22 04:59] whillas commented on #1148
Yeah, I'm trying it right now. Setup seems easy but getting access to the web UI is hard...?

[2019-08-22 05:06] whillas opened #3972 "Web UI on bare metal setup?"
/kind question

**Question:**
So, I'm installing on a local Kubernetes cluster, bare metal set (if there is such a thing when installing to Kubernetes) following these instructions: https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

All seems good (once i sorted out volumnes). But I have no idea how to get access to the web UI?

I'm supposed to open a Gateway with Istio? On what port? For

[2019-08-22 08:20] UrmsOne opened #3974 "Notebook cannot connect after modifying the default cluster. domain - notebook controller doesn't support custom domains"
/kind bug

Hello,
I'm playing around with a Kubeflow installation on local VM following the instructions in
https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

When I changed the default cluster. domain to 'k8s.xxx.opd.local', I encountered the following problems(It's not found in the default cluster.domain "cluster.local").

![image](https://user-images.githubusercontent.com/31981402/6349

[2019-08-22 09:24] nicklhy opened #3975 ""RBAC: access denied" when accessing the dashboard"
Hi everyone,
After reading the tutorial in this [page](https://www.kubeflow.org/docs/other-guides/accessing-uis/). I tried to access the dashboard with kubectl+port-forwarding but got an error like below
[code]
Do I need to do some extra settings about RBAC ?

[2019-08-22 09:35] lanya16 opened #3976 "Version v0.6.2-rc.1 centraldashboard can not open subpage like as pipeline、katlib、notebookserver page etc."
/kind bug
**What steps did you take and what happened:**
![image](https://user-images.githubusercontent.com/22021811/63501765-d5402980-c4fe-11e9-9864-5d30ba8e009e.png)
problem like above image showing, when I access pipeline or jupyter notebook  or katlib, it navigiate to error page.

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will

[2019-08-22 10:13] yanniszark commented on #3975
Hi @nicklhy!
What guide did you follow to deploy Kubeflow?

[2019-08-22 10:21] nicklhy commented on #3975
@yanniszark I deployed the kubeflow with [kfctl_k8s_istio](https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/).

[2019-08-22 10:42] krishnadurai opened #3977 "Envoy Ingress creation fails with Invalid value for field resource.iap.oauth2ClientSecret"
/kind bug

Not sure if I'm missing some step or if this is a Kubeflow bug or a GCP one.

**What steps did you take and what happened:**
Using **0.6.2rc1**, deployed a GCP cluster with IAP following these steps:
[Deploy OAuth](https://www.kubeflow.org/docs/gke/deploy/oauth-setup/)
[Deploy using CLI](https://www.kubeflow.org/docs/gke/deploy/deploy-cli/)

**What did you expect to happen:**
Istio-syst

[2019-08-22 10:45] krishnadurai commented on #3977
/assign @lluunn @kunmingg

[2019-08-22 10:59] #3944 closed

[2019-08-22 11:22] yanniszark commented on #3860
@jlewi I encountered the following issue:

* The notebook uses the Pipeline Python DSL to deploy a Pipeline.
* The Pipeline uses the image generated by Fairing in the previous step.
* That image uses a GCP secret, which is mounted using the command `gcp.use_gcp_secret('user-gcp-sa')`
* The secret lives in the user's namespace (profile namespace) while the pipeline lives in the kubeflow namespace.

[2019-08-22 11:47] yanniszark commented on #3860
@gabrielwen https://github.com/kubeflow/manifests/issues/296 has to be resolved before any PRs are merged in v0.6-branch.
Essentially, right now, tests on v0.6-branch are broken, so I can't merge kubeflow/manifests#274

[2019-08-22 13:37] krishnadurai commented on #3900
I'm getting a similar error on on-premise server by building kfctl with master branch. I'll verify this with 0.6.2rc1 as well.
'kubeflow-anonymous' namespace gets created now by default - thanks to @kunmingg.

[code]

[2019-08-22 14:14] krishnadurai commented on #3900
Facing the same issue with 0.6.2rc1 kfctl_k8s_istio.yaml. The config was the same for master.

[2019-08-22 16:53] cestum commented on #3826
@Jeffwan
While [#3839](https://github.com/kubeflow/kubeflow/issues/3839) is being fixed, I found a way to host dex in 443/80 instead of 5556 port by editing envoy filter. Dex is hosted separately in below example, one can still use kubeflow endpoint with separate context root for dex (https://kubeflow.example.com/dex)

[code]

`kfctl init kubeflow --config=kfctl_existing_arrikto.yaml -V`

- remove

[2019-08-22 18:02] jlewi commented on #3860
@yanniszark I'm not sure I understand the DSL issue.

A user is running their notebook in namespace kubeflow-${USER}. They submit a pipeline which will run in namespace kubeflow.

So if they configure it to use secret ${SECRET} then the pipeline should be looking for that secret in namespace kubeflow so as long as that secret still exists in namespace kubeflow it should work right?

[2019-08-22 18:32] krishnadurai commented on #3975
@nicklhy could you please change Istio's ClusterRbacPolicy as 'OFF' instead of 'ON'?

BTW, you could access the UI with the NodePort 31380.

[2019-08-22 18:47] krishnadurai commented on #3975
This will be resolved with 0.6.2.
Refer PR: https://github.com/kubeflow/kubeflow/pull/3877

[2019-08-22 19:14] #3130 closed

[2019-08-22 20:00] jlewi commented on #3900
@krishnadurai Can you open up a separate issue for the metrics issue? I think the issue there is that the central dashboard can call out to a backend e.g. stackdriver to fetch metrics like cpu that displayed on the home page. I believe if you set it to an appropriate value then it shouldn't try to fetch any issues.

So its likely an issue with properly configuring things for on prem case; e.g. we

[2019-08-22 20:05] prodonjs commented on #3900
With respect to metrics, there shouldn't be any issue on a non-GKE platform which is currently the only platform that we have a service configured to retrieve metrics, so that message is expected. The other issue looks like it could be do to having empty values for the USERID_HEADER and USERID_PREFIX env variables. Can you get a snapshot of the `env` output from your centraldashboard container?

[2019-08-22 20:07] prodonjs commented on #3900
@avdaredevil - If these are the default values (https://github.com/kubeflow/manifests/blob/master/common/centraldashboard/base/params.env), then the code in https://github.com/kubeflow/kubeflow/blob/master/components/centraldashboard/app/attach_user_middleware.ts#L7 will need to be changed to provide default non-empty string values for the header argument. It looks like what's happening is that th

[2019-08-22 20:18] avdaredevil commented on #3900
Is this along the lines of what you're talking about @prodonjs
[code]

[2019-08-22 20:25] prodonjs commented on #3900
I think you can simplify by just extending the if clause to `if (userIdHeader && req.header(userIdHeader))` and keep the rest of the code the same. Make sure to add a unit test condition as well.

[2019-08-22 21:51] gabrielwen commented on #3860
Including #3982 3982

[2019-08-22 21:56] beatgeek commented on #3976
This looks similar to what you see when you use a service IP rather than an LB endpoint for the UI

[2019-08-22 22:03] kunmingg commented on #3893
@yanniszark
Seems https://github.com/kubeflow/kubeflow/blob/v0.6-branch/bootstrap/config/kfctl_existing_arrikto.yaml still have Istio rbac on.
Will we have user identify setup in proxy under this condition?

[2019-08-22 22:30] vinayjain15 opened #3983 "Central dashboard notebook servers encounters internal server error"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I am trying to deploy kubeflow on prem openshift cluster using  ksonnet
the issue looks similar to #3441 though I am not getting cert error in the logs however it says self signed certificate in certificate chain. There is no other errors in the centraldashboard or notebook logs.

**What

[2019-08-22 23:24] vinayjain15 commented on #3983
studyjobcontroller is failing and log has following entry: not sure if it is related to above issue:
[svctnsas@n01apl496 OpenShift]$ ./oc logs studyjob-controller-7bbcfd66f8-zvhjd
2019/08/22 23:19:29 Registering Components.
2019/08/22 23:19:29 Starting the Cmd.
2019/08/22 23:19:30 can't create dir: k8s-webhook-server/cert

[2019-08-22 23:36] carmine opened #3985 "profiles-deployment log error - "Error from server (BadRequest): a container name must be specified""
/kind bug

**What steps did you take and what happened:**
1. I followed the install instructions for existing kubernetes cluster - https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/
2. I waited until all pods are running
3. I access the kubeflow dashboard, and there are no profiles (I have created one)
4. I can't create a jupyter server (no dashboard).

When I look at the logfile for profi

[2019-08-22 23:38] carmine commented on #3900
This is most likely related, I filed issue #3985 - getting an error in the profiles-deployment pod.

[2019-08-23 00:54] lanya16 commented on #3976
![image](https://user-images.githubusercontent.com/22021811/63559309-78d31d80-c583-11e9-9958-197940a0007d.png)
@beatgeek

[2019-08-23 01:01] nicklhy commented on #3975
@krishnadurai Thank you so much! I can access the UI immediately after changing the istio Cluster RBAC Config.
But when I opened the UI in Chrome, I got an error message at the left bottom corner:
[code]
This error message shows every time I reload the page. Although the UI looks good to me by far.

[2019-08-23 01:30] bruceding commented on #3965
run again this   kfctl apply all -V, the error gone. it is quite weird.

[2019-08-23 01:36] jlewi commented on #1394
Based on the discussion in #3856 I wanted to capture some of the next steps here before we mark this feature done

- [ ] Let the culling behavior be set per notebook rather than be the same for all notebooks
- [ ] Surface IDLE timeout in the UI
- [ ] Add documentation to the website
- [ ] E2E test

[2019-08-23 01:51] lanya16 commented on #3976
It is my fault, I should edit istio-ingressgateway to LB type , not edit centeraldashboard.

[2019-08-23 01:51] #3976 closed

[2019-08-23 02:54] nkumar15 commented on #3965
@bruceding thanks for suggestion, I tried but it didn't worked for me. Got other error on running kfctl apply all -V again.

[code]
And after doing minikube ssh yes I can see 31380 is in LISTEN state

[code]

Looks like previous step failure left kubeflow installation caused it being in use.

[2019-08-23 03:24] #3964 closed

[2019-08-23 09:57] UrmsOne commented on #3974
Hello,

The problem is that when I create notebook server, VirtualServices resources generated by notebook_controller.go is incorrect.

![image](https://user-images.githubusercontent.com/31981402/63582999-b60fcd80-c5cc-11e9-9189-846eb2d9bd58.png)

**Because I modified the clusterDomain to `k8s.xxx.local`,not defualt `cluster.local`**
![image](https://user-images.githubusercontent.com/31981402/6358

[2019-08-23 11:36] krishnadurai commented on #3975
@nicklhy you'll need to pick your deployment config from this newer 0.6.2 release. The configs were not pinned to a certain commit which has the fix.

Refer issues:
#3900
#3969
#3982

[2019-08-23 13:13] sylus commented on #3859
Tried again against 0.6.2-rc.2 and latest centralsdashboard but namespace is still empty.

Is there anyway to make this work or have to wait for full 0.6.2 release?

![Capture](https://user-images.githubusercontent.com/984304/63595170-47a81c80-c586-11e9-840f-de63d9d8649e.PNG)

[2019-08-23 13:18] jlewi commented on #3977
@krishnadurai Where did you see the error "iap.oauth2ClientSecret"
What value did you provide for the OAuth2 client secret?

[2019-08-23 14:26] jlewi commented on #3655
@lluunn I think TFJob predates multi version support so its likely doing something different.

[2019-08-23 14:30] jlewi commented on #3772
@kimwnasptd LGTM; thanks!

[2019-08-23 14:34] krishnadurai commented on #3977
@jlewi This was in the GCP cloud console.
Navigating to Kubernetes Engine - Services and Ingress and clicking on envoy-ingress. This is where I had gotten the error.

I'll just re-test and report here.

[2019-08-23 14:36] jlewi commented on #3850
It looks like the Azure instructions are outdated.
https://www.kubeflow.org/docs/azure/deploy/install-kubeflow/

Kubeflow 0.6 is using ISTIO as its service mesh and gateway. So instead of exposing Ambassador

[code]

You need to expose the ISTIO gateway
https://istio.io/docs/tasks/traffic-management/ingress/ingress-control/

/cc @aronchick

[2019-08-23 14:46] jlewi commented on #3900
It looks like the latest central dasbhoard image is using DNS.

Here are the logs showing that it is trying to connect to the KFAM service at `http://profiles-kfam.kubeflow:8081/kfam`

[code]

Docker image

[code]

The container environment variables however look like there was a problem with kustomize substitution.

[code]

@avdaredevil  @kunmingg I assume we didn't mean to set USERID_HEADER to $

[2019-08-23 14:55] jlewi opened #3986 "[Central Dashboard] Shows user as anyonmous@kubeflow.org when logged in via IAP"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I'm logged into Kubeflow 0.6.2  (RC 0.2) using this [kfctl_gcp_iap.0.6.rc.2.yaml](https://raw.githubusercontent.com/kubeflow/kubeflow/c3199d931b9b82c8717057c7aca883d76bb5e1d5/bootstrap/config/kfctl_gcp_iap.0.6.2rc.yaml). When I log into the central dashboard via IAP it is showing I am `

[2019-08-23 15:03] xaniasd commented on #3850
@jlewi does this mean that setups without istio are not supported any more?

FYI: I created a [PR](https://github.com/kubeflow/manifests/pull/300) solving this issue.

[2019-08-23 15:04] jlewi commented on #3875
I tried with https://raw.githubusercontent.com/kubeflow/kubeflow/c3199d931b9b82c8717057c7aca883d76bb5e1d5/bootstrap/config/kfctl_gcp_iap.0.6.2rc.yaml

and I'm still seeing v1beta1 in the UI.

It looks like the version in the kubeflow application is fixed; now 0.6.2.
[application.txt](https://github.com/kubeflow/kubeflow/files/3535056/application.txt)

So I think the problem is that the UI is showi

[2019-08-23 15:10] jlewi commented on #3986
It looks like this breaks the automatic profile creation login when I login as a different user.
http://bit.ly/2ZgOE1v

When I login as a different user it thinks I'm anonymous@kubeflow.org so doesn't redirect me through the login flow.

[2019-08-23 15:12] jlewi commented on #3875
It also looks like when I'm logged in as the user that deployed Kubeflow it doesn't think I'm the manager and show me the namespace creation UI.

[2019-08-23 15:42] Snapple49 opened #3988 "Istio deployment fails on kfctl apply"
/kind bug

**What steps did you take and what happened:**
Following the getting [started guide ](https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/) results in an error during the `kfctl apply all -V` step:

[code]

**Note** I have modified the config yaml slightly, as proposed in PR #3979, since I had some issues with the dashboard, so I set the `repos` field to match those. I still got t

[2019-08-23 15:53] #3310 closed

[2019-08-23 16:10] arun-gupta commented on #3827
A related issue happened when trying to use eksctl 0.4.1 to create the EKS cluster. There is no need for `aws-iam-authenticator` in that case and yet `kfctl init` throws the following error:

[code]

[2019-08-23 16:34] abhi-g commented on #3875
Could these be because we don't have the central dashboard PRs cherrypicked
into v0.6-branch yet?

On Fri, Aug 23, 2019 at 8:12 AM Jeremy Lewi <notifications@github.com>
wrote:

[2019-08-23 16:38] jlewi commented on #3986
It looks like the configuration file on the branch is different from the one on master
https://github.com/kubeflow/manifests/blob/v0.6-branch/common/centraldashboard/base/params.yaml

https://github.com/kubeflow/manifests/blob/master/common/centraldashboard/base/params.yaml

We are missing the section

[code]

I think that means we are overriding the default targets for variable substitution since

[2019-08-23 16:47] jlewi commented on #3986
I'm stumped. Running kustomize build in kubeflow/manifests common/centraldashboard/base seems to generate the correct value but when I run it in ${KFAPP}/kustomize/centraldashboard/
it doesn't get substituted.

[2019-08-23 16:57] jlewi commented on #3986
Ok it looks like the problem might be that we are missing vars references for userid-header and userid-prefix in kustomization.yaml

Compare what's on master
https://github.com/kubeflow/manifests/blob/76bd875d65d39960ab2d75daa2ba2b7a2a9e82a4/common/centraldashboard/base/kustomization.yaml#L38

To what's on 0.6
https://github.com/kubeflow/manifests/blob/104c5b8c8e1df2bd09a827c4e25295ce945e3459/comm

[2019-08-23 17:01] jlewi commented on #3986
It looks like if we define vars that aren't in the config map we get an error so we should probably set default values to the empty string.

Do we need to include the lines

[code]

in params.yaml?

[2019-08-23 17:10] jlewi commented on #3986
Trying to figure out how v0.6 and master got out of sync

* #298 added on master USERID headers to the deployment
  * It looks like this didn't include changes to kustomization.yaml to add vars
* #302 cherrypicked this onto v0.6-branch
* It looks like #274 was the change to master that parameterized a whole bunch of apps by userid

Looks like #274 was never added to the v0.6-branch.

[2019-08-23 18:31] jlewi commented on #3850
See #3396

[2019-08-23 18:57] krishnadurai commented on #3977
I've tested this again and it is working with a fresh run.
Seems the CLIENT_SECRET could have been picked by from earlier bash value.

Should we add a check at the beginning for CLIENT_ID - CLIENT_SECRET compatibility?

[2019-08-23 19:02] praveen049 opened #3989 "Kubeflow deployment fails on kfctl apply"
kind bug

**What steps did you take and what happened:**
i am using the kubeflow deployment guide here https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/ for deploying kubeflow on Mac.

The step :
echo $PATH
/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/TeX/texbin:/usr/local/go/bin:/Users/xxxx/Desktop/know/ml/minikube/
echo $KFAPP
demo
echo $CONFIG
https://raw.githubusercontent.com

[2019-08-23 21:36] #3875 closed

[2019-08-23 21:58] vinayjain15 commented on #3983
I was able to fix above issue .. it was related to storageclass.. one of the storageclass was not having any annotations and it had an error in jupyter-web-app, somehow I missed that. However now after connecting to tensorflow notebook (tensorflow-1.13.1-notebook-cpu)  when I launch python notebook, it gives error: A connection to the notebook server could not be established. The notebook will con

[2019-08-24 02:28] jlewi commented on #3986
It looks like setting USERID_HEADER and USERID_PREFIX environment variables to the empty string disable identity awareness; it doesn't fall back to GCP config.

Here is where the values get ovewritten by environment variables
https://github.com/kubeflow/kubeflow/blob/06b4cb4ba8719893de3ee5cac92ff9de3f2be75f/components/centraldashboard/app/server.ts#L31

And here is where the code ignores things if

[2019-08-24 12:55] xauthulei opened #3995 "kubeflow-presubmit error when change/modfiy under tensorflow-notebook-image"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I have committed a PR #3879, it is failed at "kubeflow-presubmit".

**What did you expect to happen:**
Fixed it and tested pass.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
[code]

More details:
[code]
**Environment:**

Env

[2019-08-24 13:11] xauthulei commented on #3995
Reference the error :https://github.com/ksonnet/ksonnet/issues/883
Seems we need to upgrade the ks version.
If so, we need to change the `apiVersion` to `0.3.0` in the [app.yaml](https://github.com/kubeflow/kubeflow/blob/master/components/tensorflow-notebook-image/releaser/app.yaml) compared with other [app.yaml](https://github.com/kubeflow/kubeflow/blob/master/components/jupyter-web-app/releaser/

[2019-08-24 16:36] guhcampos commented on #2969
Hello!

I'm having the same problem. In my case, the network `default` does not exist because I use a Shared VPC architecture to bind together multiple projetcs in the company. Before stumbling into this issue I had found #3082 which is now closed, but I could not find any documentation about Shared VPC usage in Kubeflow docs.

I tried the "update after generate" approach, but that led me to the f

[2019-08-24 19:17] jlewi commented on #3875
Kubeflow kubeflow/kubeflow#3994 uses kubeflow/manifests@1099a06
That shows v0.6.2 as the version in the central dashboard because I had updated all the application CRs to set the version to v0.6.2. We would still need to update the centraldashboard image to correctly look at the Kubeflow application to get the version.

[2019-08-24 19:42] jlewi commented on #3986
I tested #399 with IAP see http://bit.ly/2ZgOE1v and it appears to be working.

[2019-08-24 19:49] abhi-g commented on #3875
#3992 is supposed to fix that by looking for Kubeflow application. Does it
not?

On Sat, Aug 24, 2019 at 12:18 PM Jeremy Lewi <notifications@github.com>
wrote:

[2019-08-24 19:58] jlewi commented on #3875
@abhi-g #3994 isn't using #3992 (updated centraldahboard yet). I think
kubeflow/manifests#311 updates the kubeflow/manifests@v0.6-branch to pull in the fixed central dashboard.

I just lgtm'd kubeflow/manifests#311.

[2019-08-24 20:00] jlewi commented on #3986
I tested kubeflow/kubeflow#3994 with IAP and that appeared to fix the problems with anonymous user and IAP.

[2019-08-24 20:24] jlewi commented on #2969
@guhcampos I'd suggest opening up a new issue for your specific problem. If you can post on the issue details like your app.yaml that will debug things.

The error

[code]

Indicates its looking in your app.yaml file for a GCP plugin spec and not finding one.

If you can provide more detail about how you are trying to set things up (e.g. what commands you ran) that will make it easier to troublesh

[2019-08-24 20:40] jlewi commented on #3995
@xauthulei thanks for debugging; Do you want to submit a PR to upgrade the tests?

[2019-08-24 20:45] jlewi opened #3997 "kfctl_existing_arrikto doesn't create a username/password by default"
/kind bug

**What steps did you take and what happened:**

I installed kubeflow using kfctl_existing_arrikto.yaml following the instructions
https://www.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto/

I was expecting that a username/password would be created using the environment variables KUBEFLOW_USERNAME and KUBEFLOW_PASSWORD.

But after deploying kubeflow I could not login using that us

[2019-08-24 21:55] jlewi commented on #3989
Can you run

[code]

And see if the application CRD is installed? It should have been installed during the previous step.
https://github.com/kubeflow/kubeflow/blob/945a58b70b1f628d833c331533c4e96502101ee0/bootstrap/config/kfctl_k8s_istio.yaml#L44

[2019-08-24 21:57] jlewi opened #3999 "kfctl_existing_arrikto.yaml isn't installing application controller and CRD"
/kind bug

kfctl_existing_arrikto.yaml is not installing application controller and CRDs. As a result users can't do

[code]

To see the list of installed applications.
It also means the version on the centraldashboard isn't displayed correctly because there is no application to get the version from.

We need to fix this on the v0.6-branch and master.

[2019-08-24 22:30] yanniszark commented on #3997
Hi @jlewi .
As per the instructions in the docs, the variable you need to set is KUBEFLOW_USER_EMAIL and not KUBEFLOW_USERNAME.

[2019-08-25 01:56] xauthulei commented on #3995
@jlewi, Yea, I am willing to, Thanks

[2019-08-25 02:27] jlewi commented on #3997
Thanks.

[2019-08-25 02:27] #3997 closed

[2019-08-25 04:48] chaosxeras opened #4025 "Broken Images"
the images here are broken

https://www.kubeflow.org/docs/other-guides/virtual-dev/getting-started-minikube/

[2019-08-25 07:41] #3299 closed

[2019-08-25 11:50] dkozlov opened #4000 "Any plan to support https://github.com/google/mediapipe?"
/kind question

**Question:**
Any plan to support  https://github.com/google/mediapipe?

[2019-08-25 17:34] #3312 closed

[2019-08-25 21:37] jlewi opened #4001 "E2E tests are failing on master; problem is with seldon"
/kind bug

Postsubmit runs are failing
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-periodic-master

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow-periodic-master/1165674839374041092

Here's the error coming from kfctl apply.

[code]

It looks like the Seldon manifests were recently updated.
kubeflow/manifests#273

I suspect there is a bug in the E2E tests for the kubeflo

[2019-08-25 22:13] jlewi commented on #4001
kubeflow/manifests#316 is why the presubmits didn't catch it.

[2019-08-25 23:35] avdaredevil commented on #3900
Hey Jeremy, not sure if your image includes the Cherrypicked changes, but further debuggability is now available under `/debug` route on the server

[2019-08-26 01:07] jlewi commented on #4001
Presubmits are starting to look healthy again; e.g
https://github.com/kubeflow/kubeflow/pull/3996

I think we can close this after the next green run of kubeflow periodic.

[2019-08-26 01:11] jlewi commented on #3709
@yanniszark Any update on this? What are the remaining steps to finalize the design doc and begin implementation?

[2019-08-26 01:12] guhcampos commented on #2969
@jlewi indeed it was a simple misconfiguration, I had tried so many different setups this last one was an attempt I tried by creating my own GKE cluster with Terraform, then moving to setup Kubeflow on it with `kfctl`, which failed because I had run `init` with only the k8s components.

I ended up setting up the `default` network on my project so at least I can get to test Kubeflow before integrat

[2019-08-26 01:13] jlewi commented on #3518
I took another stab at clarifying what I think the semantics should look like in the design doc.
https://docs.google.com/document/d/1kviNOdjoBPeoJ56KBvMKWq7SzrSN5rFUQoULK8muD-M/edit#bookmark=id.iwxbmwl36xkz

@yanniszark @swiftdiaries @kkasravi Can we try to come to some agreement about the semantics and begin implementation? We are are rapidly running out of time for 0.7.

[2019-08-26 01:15] jlewi commented on #3703
GCP configs are updated.

I think Arrikto config will be updated by #3904.

@Jeffwan Do you want to update the AWS configs?

[2019-08-26 01:24] jlewi commented on #3478
I think we are in good position to go ahead and define a go package defining just the v1beta1 spec.
i.e. a package similar to

The [design doc](https://docs.google.com/document/d/1kviNOdjoBPeoJ56KBvMKWq7SzrSN5rFUQoULK8muD-M/edit?usp=sharing)  and kubeflow/kubeflow/issues/3709
provide a pretty clear idea of what fields should be removed from the v1alpha1 spec.

https://github.com/kubeflow/kubeflow/

[2019-08-26 01:29] jlewi opened #4002 "kfctl supports v1beta1 of KfDef (and v1alpha1)"
/kind feature

In 0.7 we will introduce a v1beta1 spec for KFDef.
See #3478

This issue tracks adding support for that new spec to kfctl.

With 0.7 we should aim to provide backwards compatibility with v1alpha1 specs. To support that; we should define a conversion function which converts v1alpha1 specs to v1beta1 specs.

[2019-08-26 01:56] jlewi commented on #3810
My suggestion would be even if #3957 gets committed in time; which is unlikely that we don't try to include in the 0.6.2 release of kfctl.

I think we are just about ready to finalize 0.6.2 of kfctl; I think #3957 is a big enough change that we should plan on another minor release for it just so that we don't block the fixes already in 0.6.2.

[2019-08-26 02:02] jlewi commented on #3860
Looks like there has been a fair amount of testing of kfctl v0.6.2-rc2 in http://bit.ly/2ZgOE1v..

Are there any issues finalizing **kfctl v0.6.2**? I'm explicitly trying to separate out the kfctl binary from the KFDef configs.

[2019-08-26 02:11] MrXinWang commented on #2337
Hi @jlewi !

I have setup a kubeflow environment (kubeflow v0.5.1, deployed on microk8s) on our arm64 server with all component images rebuilt for arm64 architecture. Currently all containers work well and I have also run [a demo of object detection](https://github.com/kubeflow/examples/tree/master/object_detection) successfully.

Now I would like to contribute this to the community, is there any

[2019-08-26 02:12] jlewi commented on #3795
@avdaredevil Is there more work to be done here? Has kubeflow/manifests been updated on both kubeflow/manifests@v0.6-branch and kubeflow/manifests@master

[2019-08-26 02:25] jlewi commented on #3900
I believe this issue has been fixed per my comment above.
It looks like kubeflow/manifests#311 updated the image on the v0.6-branch.
It looks like we are still waiting on kubeflow/manifests#310 to put the change on master.

I think we should wait for kubeflow/manifests#310 to merge to master and then do a quick verification to make sure the issue is fixed and then close this issue out.

[2019-08-26 02:29] jlewi commented on #3859
@avdaredevil The original problem reported in this issue was that the namespace selector was obscured by the left blue pane.

Has that issue been fixed? If so lets go ahead and close this issue.

[2019-08-26 02:30] jlewi commented on #3764
@yanniszark @Jeffwan So is this issue resolved? Can we close it?

[2019-08-26 02:33] jlewi commented on #3643
@jhua18 The error when trying to tail the logs is because your kubectl logs command is incorrect. When there are multiple containers in the pod you need to specify the name of the container you want to tail.

I'm closing this out because we have a lot of testing using 0.6.2-rc
http://bit.ly/2ZgOE1v
and I have confirmed that everything is working using xgboost_synthetic example.

[2019-08-26 02:33] #3643 closed

[2019-08-26 02:34] jlewi commented on #3437
This should now be available in the v0.6-branch
See: http://bit.ly/2ZgOE1v.

So I'm going to close this.
#3860 is tracking v0.6.2

[2019-08-26 02:34] #3437 closed

[2019-08-26 03:15] avdaredevil commented on #3859
Yeah that issue was fixed quite a few weeks back

/close

[2019-08-26 03:15] #3859 closed

[2019-08-26 03:15] avdaredevil commented on #3795
Nope, this is done. Closing...

[2019-08-26 03:15] #3795 closed

[2019-08-26 05:37] Jeffwan commented on #3860
@jlewi can you help approve this one? https://github.com/kubeflow/kubeflow/pull/3895
It's config changes and I want to pin to 0.6.2 later once it's merged.

[2019-08-26 05:45] Jeffwan commented on #3764
/close

[2019-08-26 05:45] #3764 closed

[2019-08-26 05:46] Jeffwan commented on #3764
@jlewi This change was merged to master and v0.6.1. I just close the issue

[2019-08-26 06:14] krishnadurai commented on #3988
@Snapple49 did you do re-run kfctl apply again on the same cluster. Applying configs for the second time is currently having an issue being discussed here: #3810

[2019-08-26 07:56] yanniszark commented on #3860
I will run the whole example today, now that all the commits are in, and confirm.

[2019-08-26 08:01] cliveseldon commented on #4001
Does kfctl modify the manifests in any way? As there is no PersistenVolumeClaim in the file:

https://github.com/kubeflow/manifests/blob/76bd875d65d39960ab2d75daa2ba2b7a2a9e82a4/seldon/seldon-core-operator/base/seldon-operator-controller-manager-statefulset.yaml

The kustomize works on its own. What's the correct way to test with kfctl PRs to manifests repo so we can find what the issue is?

[2019-08-26 08:17] LeonardAukea opened #4003 "Provided notebook name needs parsing to follow accepted kubernetes naming convention for resources like mounted volumes"
/kind bug

I installed kubeflow on my local kubernetes cluster following the instructions for `kfctl_k8s_istio`.
This worked fine and dandy. I happened to notice that there where some restrictions for what may be provided as a name for the notebook, if a server was to launch sucessfully. I guess this is due to the mounted volume name being inherited from the name given to the notebook. It would ma

[2019-08-26 09:13] dkozlov commented on #4000
https://github.com/google/mediapipe/issues/49

[2019-08-26 09:20] cliveseldon commented on #4001
I tested with master kfctl modified to print out what its creating and I see a VolumeClaimTemplate

[code]

Its appended at the end of the resource:
[code]

This is not in the original manifests. Could it be something to do with automatic handling of secrets?

[2019-08-26 09:25] Snapple49 commented on #3988
@krishnadurai I have tried to install multiple times on the same cluster yes, but I delete everything that was installed during the process (I believe, maybe I miss some non-namespaced global resources) between each attempt. I've read that issue and I don't think that's the issue. I got the same error also the first time, so I was thinking that istio probably has some issue setting up certificates

[2019-08-26 10:49] Luke035 commented on #3411
@Jeffwan  I add some additional information/requests

I noticed that documentation for TF Serving is changed and I tried to replicate the exact configuration with the provided documentation.

Here's the deployment configuration
[code]

However once started I'm getting the following error from the log:
[code]

It seems again something related to the signature check (HTTPS is not active in my MINIO

[2019-08-26 11:11] cliveseldon commented on #4001
Seldon issue fixed in https://github.com/kubeflow/manifests/pull/322

[2019-08-26 11:52] yanniszark commented on #3999
Fixed in master by kfctl apply -f https://raw.githubusercontent.com/kubeflow/kubeflow/master/bootstrap/config/kfctl_k8s_istio.yaml.
For v0.6-branch: https://github.com/kubeflow/kubeflow/pull/4004

[2019-08-26 12:08] yanniszark commented on #3709
@jlewi design is tracked here: https://docs.google.com/document/d/1kviNOdjoBPeoJ56KBvMKWq7SzrSN5rFUQoULK8muD-M/edit?usp=sharing

Design is almost finalized.
The next implementation steps are:
1. New semantics to simplify kfctl usage.
2. Transition all current platforms to implement a plugin interface.
3. Implement the reconcile loop.

[2019-08-26 12:32] SheharyarTkxel opened #4005 "Kubeflow Jupyter Notebook "Jovyan" Password - Docs for installing fairing in CAIP notebook"
Trying to setup [Kubeflow Fairing](https://www.kubeflow.org/docs/fairing/install-fairing/#set-up-kubeflow-fairing-in-a-hosted-jupyter-notebook) with its installation guide. As instructed in this guide we are supposed to run "docker ps" in the Jupyter Notebook Terminal. However, it turns out that, although, Docker is installed already (verified it by reinstalling with pip) it doesn't let us use the

[2019-08-26 15:58] Sygyzmundovych commented on #3604
It seems like another issue not covered by any of the above:
`kfctl apply platform`
ends at
`WARN[0269] Updating basic auth login is failed, trying to create one: secrets "kubeflow-login" not found  filename="gcp/gcp.go:1387"`
and not with
`"KUBECONFIG context kubeflow-qwiklab is created,"` as described in https://google.qwiklabs.com/focuses/5169?parent=catalog#step5

As well no "In Deployment Man

[2019-08-26 16:16] yanniszark commented on #3860
@jlewi I see that the kfctl GCP code is creating the secret in the kubeflow namespace.
This seems weird to me, as it is putting a user's secret in a place where everyone can use it.

In this particular example though, the secret isn't used at all by the pipeline.
Removing the line that applies the secret to the pipeline makes it succeed.
Should we edit the example to remove that line?

[2019-08-26 20:08] krishnadurai commented on #3938
I can give an attempt at this for 0.7.

[2019-08-27 01:33] xauthulei commented on #3995
@kkasravi, @jlewi , I am try to fix this issue, Could you review the PR #3879 . Thanks.

[2019-08-27 04:05] johnugeorge commented on #3624
Jeremy, I am currently on PTO till Thursday. I will add them in 2 days.

[2019-08-27 06:19] carmine commented on #3985
@jlewi - I'll run through the steps again on 0.6.2 that was just released. `kubectl get profiles` returned a profile I created after install. What I meant to say about can't create jupyter server ... is there is no namespace.  Without a namespace, the required namespace fields can't be filled in.

[2019-08-27 07:40] rbq commented on #2444
I tried to create [a tap (macOS binary only)](https://github.com/rbq/homebrew-kubeflow), this seems to work:

[code]

[2019-08-27 07:40] carmine commented on #3985
Closing this issue .. the new 0.6.2 release seems to resolve the issue. I can see namespaces and I can create a jupyter server.

[2019-08-27 07:40] #3985 closed

[2019-08-27 07:55] krishnadurai commented on #3694
Since we have included the changes for deployment in 0.6.2, we should be fine with releasing the rest of the features with 0.7.

/close

[2019-08-27 09:44] LeonardAukea opened #4010 "Adding --skip flag to `kfctl` in order to choose not to install services already existing on running cluster."
/kind feature

We have decided to go  with kubeflow in order to provide a great platform for Data Science teams. We are currently trying to get an installation going of kubeflow on our existing cluster. In order to do this we would like to decoulpe `isto`,`dex`, `argo` that we already have set up. Let's just say, that these steps are currently not very intuitive and thus it would be great to have

[2019-08-27 10:18] kimwnasptd commented on #2981
Before each request it queries `kfam/bindings?namespace=<ns>`. If the user has any bindings in that namespace then it will make the k8s request with the webapp's ServiceAccount, else the UI will show `User <user> is not Authorized for Namespace : <ns>`.

Bindings returned from kfam are a list of {user: [Subject](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/#subject-v1beta1-r

[2019-08-27 12:23] yanniszark commented on #4010
@LeonardAukea
This can already be achieved by editing the KfDef config file and removing the applications that you don't need.
However, I do believe that we need better documentation on how to edit the KfDef file.
Relevant issue from website: https://github.com/kubeflow/website/pull/1093

[2019-08-27 13:10] LeonardAukea commented on #4010
@yanniszark That is what we are currently doing. Another issue we stumbled upon was that `kfctl delete all    ` actually messed up previously installed dex and istio

[2019-08-27 15:19] boniek83 opened #4011 "kubeflow installer does not create katib/metadatadb database"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Install fresh kubeflow 0.6.2 with fresh pv for katib-db and metadata-db. Readiness probe fails in bofh cases.

**What did you expect to happen:**
Database should be created automatically if it doesn't exist.

**Anything else you would like to add:**
[Miscellaneous information that will a

[2019-08-27 18:07] smk508 opened #4012 "Manifests for v0.6.2 not available."
/kind bug

**What steps did you take and what happened:**
I tried to install Kubeflow 0.6.2 on an existing K8s cluster using kfctl. I generated the configuration using kfctl init and then kfctl generate all -V and got this error:

`couldn't generate KfApp:  (kubeflow.error): Code 500 with message: kfApp Generate failed for kustomize: kustomize generate failed Error:  (kubeflow.error): Code 400 wit

[2019-08-27 20:09] #3242 closed

[2019-08-27 21:53] avdaredevil opened #4015 "[CentralDashboard v2] Create end-to-end testing for Releases"
## About
We want to have end-to-end verification of health / state status of central-dashboard. This would allow us to make sure the state we expect in CentralDash is exactly what the backends expect

### Context:
- The 2 routes most helpful for this are:
  - `//<host>:<port>/debug` - Lists important state info, and environment data that can be used for quick verifications
  - `//<host>:<port>/api

[2019-08-27 23:54] jlewi opened #4016 "Jupyter CR should support substatus"
/kind feature

Jupyter custom resource needs to support sub resource per our application requirements (kubeflow/community#285).

Its possible it already supports subresource in which case we just need to verify it and then we can close this issue.

[Docs](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#status-subresource)

[2019-08-28 00:56] xauthulei commented on #3995
As the PR #3879 is merged, so close  this issue.

[2019-08-28 00:56] #3995 closed

[2019-08-28 01:09] #3296 closed

[2019-08-28 01:09] #3085 closed

[2019-08-28 02:32] jlewi opened #4019 "Notebook controller scalability testing - # concurrent notebooks"
/kind feature

In preparation for 1.0 we should do some scalability testing. We should define what dimensions of scalability we want to test but a good starting point would be number of concurrent notebooks resources.

For reference we could look at what we did for TFJob
kubeflow/tf-operator#829

[2019-08-28 02:53] jlewi opened #4020 "CD for jupyter notebook controller"
/kind feature

**Why you need this feature:**
We'd like to continually build the jupyter notebook controller from the latest commits and update the  kustomize manifest to use the new image so that master is updated in a timely fashion.

We have some scripts/tooling for jupyter-web app here
https://github.com/kubeflow/kubeflow/tree/master/releasing/auto-update

This probably needs improvement

[2019-08-28 03:22] #4012 closed, assigned to nobody

[2019-08-28 08:45] kimwnasptd commented on #4016
The status subresource is already implemented in the Jupyter CR. Both in the [current](https://github.com/kubeflow/kubeflow/blob/master/components/notebook-controller/pkg/apis/notebook/v1alpha1/notebook_types.go#L67) Controller as well as in the [next iteration](https://github.com/kubeflow/kubeflow/blob/72677737f64cdf1a21479dac979ebafabe27cb59/components/notebook-controller/api/v1alpha1/notebook_t

[2019-08-28 09:07] kimwnasptd commented on #1394
For having specialized idle time per Notebook we will need to store that information somewhere on the Notebook CR instances. I can think of two options
* As a specific annotation like `culling.kubeflow.org/idle-time`
* Extend the Spec of the CR to add this field.

In either case if this field is not specified then the Controller will stop Notebooks based on the default idle-time. Or it will not st

[2019-08-28 10:58] krishnadurai commented on #3977
Agreed.

/kind enhancement

[2019-08-28 12:43] SpontaneousDuck opened #4021 "Notebooks connection error"
/kind bug

**What steps did you take and what happened:**
Creating notebooks looks like it works but any connection returns a 404 error on the jupyter server. tried a bunch of different provided servers  and was only able to get the tensorflow 1.5 w/gpu image working. All other images return a webpage with a 404 error and a jupyter header. Custom images also do the same thing (tensorflow/tensorflo

[2019-08-28 13:22] jlewi opened #4022 "Central dashboard liveness and readiness probes"
/kind feature

Central dashboard needs liveness and readiness probes.

[2019-08-28 13:25] jlewi opened #4023 "Prometheus/Telemetry metrics for centraldashboard"
/kind feature

Opening this issue to track adding prometheus metrics to the central dashboard.

What metrics would make sense for the central dashboard? Are the only metrics that make sense telemetry metrics; e.g. number of requests? If so should we rely on ISTIO to collect those metrics?

[2019-08-28 13:38] jlewi opened #4024 "Scalability/LoadTesting of central dashboard"
/kind feature

Opening this bug to track doing some basic scalability and load testing of the central dashboard ahead of 1.0.

This can be fairely simple i.e. a script that sends a bunch of QPS and verifies that the rate of responses other than 200s is acceptable.

[2019-08-28 13:48] jlewi opened #4026 "Central dashboard 1.0"
/kind feature

Tracking issue for central dashboard to satisfy all of our 1.0 requirements based on kubeflow/community#285

We currently don't have a kanban board but here's a [search query](https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+org%3Akubeflow+project%3Akubeflow%2F25+label%3Aarea%2Fcentraldashboard)

## Requirements

### Configuration and deployment

| Description | Category | Statu

[2019-08-28 13:58] krishnadurai commented on #3417
@jlewi this issue is done.

/close

[2019-08-28 13:58] #3417 closed

[2019-08-28 14:14] hougangliu commented on #4011
@boniek83 yes, for katib-db, the below ENV will create katib database automatically if it doesn't exist (https://hub.docker.com/_/mysql). Can you show me the pod logs of katib-db? how many times had the Pod restarted?
[code]

[2019-08-28 14:20] hougangliu commented on #4011
AFAIK, for some PV, `mysql:8` docker image cannot work well anyhow.
@boniek83  so you can also try to change image of katib-db deployment to `mysql:5`  and change `datadir` value of katib-db deployment as below to try what happens.
[code]

[2019-08-28 17:11] ciceroverneck opened #4028 "Does not work when k8s uses CRI other than docker (containerd in my case)"
/kind bug

[code]

**What steps did you take and what happened:**
Install and start pipeline

**What did you expect to happen:**
Run the pipiline

**Anything else you would like to add:**
[code]

**Environment:**

- Kubeflow version: v0.6.2
- kfctl version: v0.6.2
- Kubernetes platform: bare metal, kubeadm installation
- Kubernetes version: v1.15.0
- OS: Ubuntu 18.04.2 LTS (Bionic Beaver)

[2019-08-28 19:01] #3347 closed

[2019-08-28 19:42] vinayjain15 opened #4030 "user notebook does not pick custom environment variables"
Not sure if it is a feature request.

Need to inject environment variables for spawned user notebook container so that it can use GPU.  So updated config map "jupyter-config " (could only find this one related, though it is for PVC),  and added below code snippet under jupyter_config.py: Spawner Options section. and restarted jupyter-0 pod and tried to create new notebook server, the pod / contain

[2019-08-28 21:17] kunmingg commented on #3945
Thanks @crauterb and @yanniszark!

[2019-08-28 21:33] jlewi commented on #3829
Here's a recent PR from some not checked in changes in (#4029)
https://github.com/kubeflow/manifests/pull/330

The code to compute the change of the last commit to the component appears to be picking up unrelated commits.

[2019-08-28 22:43] kkasravi commented on #3847
/area bootstrap
/priority p1

[2019-08-28 22:45] kkasravi commented on #3847
/area logging

[2019-08-28 22:46] lluunn opened #4032 "Presubmit failure: 404 when fetching workflow"
example:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/4013/kubeflow-presubmit/1166833694397173760/
https://github.com/kubeflow/kubeflow/pull/4013

All the tests seem passed, but it's trying to wait for a non-existing workflow deployapp,
https://github.com/kubeflow/kubeflow/pull/4013#issuecomment-525943016

[2019-08-28 22:47] lluunn commented on #4032
[code]

[2019-08-28 23:02] lluunn commented on #4032
Should be broken by https://github.com/kubeflow/testing/pull/431

[2019-08-28 23:25] #4032 closed

[2019-08-28 23:27] jlewi commented on #3829
I suspect the problem is that we are cloning kubeflow/kubeflow with depth 1 and that's why we are not properly computing the commit that an image last changed.

We probably need to update checkout_repos.sh to support checking out repos with depth more than 1.

[2019-08-28 23:32] jlewi commented on #3977
I don't believe there is any API we can use to validate the client and secret.
The troubleshooting doc has instructions for changing the OAuth credential after it is deployed
https://www.kubeflow.org/docs/gke/troubleshooting-gke/#changing-the-oauth-client-used-by-iap

[2019-08-28 23:33] jlewi commented on #3900
Thanks @SpontaneousDuck for confirming; closing this issue.

[2019-08-28 23:33] #3900 closed

[2019-08-28 23:38] jlewi commented on #1394
Can we make the behavior

* Default idle notebooks not culled
* If culling.kubeflow.org/idle-time is set enable the culling for that notebook resource

I don't have a strong preference with annotation vs. extending the CR.

I think the main advantage of making it part of the Spec is that its part of the API of the notebook in a more discoverable way that decreases the likelihood of user error.

I'

[2019-08-29 04:18] johnugeorge commented on #4011
Is your PVC bound to PV? Please provide more information

[2019-08-29 04:23] scottilee commented on #3709
/cc

[2019-08-29 06:31] swiftdiaries commented on #3939
Sorry about this. I verified it on Ubuntu and Mac. I assumed it would work with CentOS as well.
Shall I remove the script from the page?

[2019-08-29 06:41] johnugeorge commented on #3939
@swiftdiaries I think so. Script is error prone as binaries might not available in all platforms.

[2019-08-29 08:29] PrathamSolanki opened #4034 "Terminate run doesn't work"
I'm trying to terminate running experiments/runs via the UI. When I do this it displays at the bottom that "Terminate succeeded for this run". However, the status of the run is still shown running.

Also, is there a way to terminate experiments/runs via the command line? Right now I'm deleting individual pods using kubectl but it is not efficient.

**Environment:**

- Kubeflow version: 0.5.0
- Kub

[2019-08-29 10:24] krishnadurai commented on #3977
Then we should close this issue. Since the docs cover enough on how to tackle this problem.

/close

[2019-08-29 10:24] #3977 closed

[2019-08-29 10:27] svnoesis opened #4035 "Kubeflow Nvidia TensorRT Inference Server Image Deployment using kustomize"
We are trying to setup Nvidia TensorRT Inference Server Image on Kubernetes/Kubeflow. Looking at the readme instructions in the github, it talks about ksonnet.
https://github.com/kubeflow/kubeflow/tree/master/kubeflow/nvidia-inference-server#kubernetes-generation-and-deploy

Is there any updated steps for using kustomize for deploying nvidia-inference-server? How different is it from using ksonnet

[2019-08-29 11:36] prodonjs commented on #3535
Yes this is something that shouldn't be a major hurdle to implement. I'll discuss with @avdaredevil in our team's next sprint planning meeting to see when we might be able to tackle it. Would this be something targeted for the next minor release, or a patch release prior to then?

[2019-08-29 12:20] atsuik opened #4036 "Manage Contributors cannot distinguish user name with numerical characters"
/kind bug

**What steps did you take and what happened:**
I tried to manage contributors to a namespace with Manage Contributors in central bashboard.
Our user names are distinguish individuals from numerical characters.

Such as
- a001@example.com
- a002@example.com
- ...

Manage Contributors creates `rolebindings.rbac.authorization.k8s.io` and `servicerolebindings.rbac.istio.io` for `a001@exampl

[2019-08-29 12:31] PrathamSolanki commented on #3516
Hi @x28646510 can you please explain/elaborate your solution? I'm facing a similar issue where I want to use image that are in a private gitlab registry.

[2019-08-29 12:35] PrathamSolanki opened #4037 "Use images from private registry"
I want to use images that are present in a private GitLab registry. I found similar issues/questions but no definitive answer:

- [Can't pull notebook images in private registry except for gcr.io](https://github.com/kubeflow/kubeflow/issues/3516)
- [Not using secret when pulling from private Registry](https://github.com/kubeflow/pipelines/issues/695)

Can you please tell me how can I do this?

[2019-08-29 16:29] discordianfish commented on #2415
This is still an open issue, at least for clusterroles and -bindings. After successful kfctl delete I still see:
[code]

[2019-08-29 16:56] vinayjain15 commented on #4030
Kubeflow v0.5 doesn't use jupyterhub  however seems there is no way to inject custom environment variables in v0.5? is there any .. can someone suggest ?
I will try admission-webhook in v0.6 if that works however wanted to avoid upgrade.

[2019-08-29 23:11] therc commented on #1394
What about automatic unidling? Both RedHat (in OpenShift) and Deis have idling/unidling controllers that can scale a resource down to zero, then scale it back up when new requests come in, with a proxy forwarding any requests that arrived while no pods were up.

See e.g. https://github.com/deislabs/osiris

[2019-08-30 03:01] hemantha-kumara commented on #4037
@PrathamSolanki  does pulling images from private GitLab registry requires credentials ?

If credentials are not required, then it would be straight forward by changing manifests deployment/statefulset or base kustomization files to point to private registry image.
for eg in jupyter-web-app, image name  can be changed in  [kustomization.yaml](https://github.com/kubeflow/manifests/blob/d19cfbdaa7d9

[2019-08-30 05:06] mengxi-ascent opened #4039 "Configure to automatically use a specific podsecuritypolicy when a new profile is created"
/kind feature

**Why you need this feature:**
Our k8s cluster is set up with podsecuritypolicy admission-addon turned on and the kubeflow is deployed with kfctl_existing_arrikto (v0.6.2) for multi-users.
When a new profile is created in kubeflow, pods are not able to be created in the namespace that corresponds to the profile, due to no roles/rolebindings are automatically created for the servicea

[2019-08-30 07:36] LeonardAukea opened #4041 "Error creating pipeline `Unsupported argo version`"

[2019-08-30 07:36] LeonardAukea commented on #4041
Maybe I should have added this to kubeflow pipelines

[2019-08-30 08:06] LeonardAukea commented on #4041
Ok I did not compile the pipeline first

[2019-08-30 08:08] LeonardAukea commented on #4041
this issue may be deleted

[2019-08-30 08:57] xaniasd commented on #3210
I'll take a stab at this if noone else is doing that already!

[2019-08-30 16:30] praveen049 commented on #3989
@jlewi
crd is not installed

kubectl get crd
No resources found.

Any suggestion on how to resolve this ?

[2019-08-30 16:52] amygdala commented on #3874
Just bumping this in case there's another point release it could be folded into, as currently our workshop attendees will need to run the above command-line fix after c2d GUI setup.

[2019-08-30 17:44] ozturkosu opened #4042 "MPI Application"
/kind question

**Question:**
[You can ask any question about this project.]

Hi,

I need to run MPI scientific application with Kubernetes. I have realized that kubeflow provide an option to use MPI with Kubernetes. However, from my understanding kuberflow is designed for Machine Learning application. Is it possible to use it with normal MPI application?

Thank you so much for your help,

Best

E

[2019-08-30 17:54] amygdala opened #4043 "in KF0.6.2 IAP GKE install, 'iap-enabler' pod is crash-looping"
/kind bug

using KF0.6.2 w/ IAP on GKE.

I see the iap-enabler-* pod continuously crash-looping.  Here's its logs:

[code]

I saw this w/ both kfctl-based install and using the (staging) c2d webapp.

[2019-08-30 18:57] yanniszark commented on #3383
Fixed by https://github.com/kubeflow/kubeflow/pull/3385
/close

[2019-08-30 18:57] #3383 closed

[2019-08-30 19:06] zmunro opened #4044 "Receiving ingress spec error when trying to follow tutorial"
/kind bug

**What steps did you take and what happened:**
I was following the setup guide [here](https://www.kubeflow.org/docs/gke/deploy/deploy-ui/) and I decided to use the username and password option to connect to Kubeflow. When I hit create deployment, it got stuck on `Waiting for the kubeflow ingress to get ready...` and just kept printing that out for an hour. The `envoy-ingress` was stuck

[2019-08-31 21:26] holdenk opened #4045 "Deprecate kfctl.sh in the program & related scripts"
**Why you need this feature:**
People try and use kfctl.sh since it's there and matches the name they expect, and external documentation points to this.

**Describe the solution you'd like:**
We should print in RED that the shell script has been replaced with the `kfctl` go program and they should not use this.

**Anything else you would like to add:**

If we really wanted people to notice we coul

[2019-09-01 15:19] #3363 closed

[2019-09-02 09:19] #3366 closed

[2019-09-02 10:15] boniek83 commented on #4011
I am using https://github.com/helm/charts/tree/master/stable/nfs-client-provisioner as storage provisioner on on-premises kubernetes cluster. PVC is bound to PV.

On mysql:8 I can manually create database when inside of db container. Only after creating database manually, service shows active endpoint and I can telnet to katib-db at port 3306. I didn't test if connetion works with mysql client com

[2019-09-02 10:19] discordianfish commented on #3767
https://github.com/kubeflow/kubeflow/issues/2415 is about cleaning up all resources but was closed. Not sure if fixed and this is a regression or not. These are the resources that are left behind after running `kfctl delete`:
[code]

(For some reason get componentstatuses returns all statuses, no matter what label selector is used. So I've excepted it here)

[2019-09-02 10:20] discordianfish commented on #3767
Btw, while this might seem like a 'nice to have', it's actually crucial to have a clean way to remove the resources since otherwise it's impossible to ever update/upgrade kubeflow given that right now it means re-installing from a clean slate. I've ran into a multitude of problems because of resources that weren't deleted and hard to find 'manually'. So I hope we can get a fix for this soon.