[2020-01-13 16:48] NikeNano opened #4647 "Create scheduled Pipeline job from the python SDK"
/kind feature

**Why you need this feature:**
From the KFP Python SDK can start [pipeline runs](https://github.com/kubeflow/pipelines/blob/9a3a5c15cb9dd4b7cf8892efa3d138029b949b03/sdk/python/kfp/_client.py#L299) but it is not possible to create runs that should be recurring. However this could be don through the UI. In order to allow users to do this through code instead I suggest that this is add

[2020-01-13 19:57] LeonardAukea commented on #4642
I could only make it work using kfctl installed from https://github.com/kubeflow/kfctl/tree/master/cmd/kfctl using  `go install`

[2020-01-13 20:18] zimmertr commented on #4199
This is happening again on a fresh v1.15.7 Kubernetes cluster deployed using `kubeadm`.

[code]

[code]

[2020-01-13 20:28] zimmertr commented on #4199
https://github.com/kubeflow/kubeflow/issues/4642

[2020-01-13 20:32] zimmertr commented on #4642
This is happening to me too. I had the thought to update the URI as well but am not interested in patching this issue with that bandaid as I am currently writing IaC to deploy Kubeflow.

Can anyone update us as to why this is suddenly happening? Seems like I'm only seeing users comment here and the issue has been open for several days now.

[2020-01-13 21:13] kunmingg commented on #4642
Latest release should include the fix:
https://github.com/kubeflow/kfctl/releases/tag/v1.0-rc.1

And the issue that caused it:
https://github.com/kubeflow/kfctl/issues/167

[2020-01-13 21:24] zimmertr commented on #4642
Confirmed as working, thank you @kunmingg !

[2020-01-13 21:39] acesir opened #4648 "Kubeflow install on AWS existing cluster stuck at setup screen"
/kind bug

**What steps did you take and what happened:**
I have followed the steps for installing k8s_istio.0.7.0 here https://www.kubeflow.org/docs/started/k8s/overview/ on an existing cluster. The steps I have followed work perfectly fine in GCP, kubeflow is running and I have been able to run my own pipelines but in AWS I am running into an issue where the startup page cannot be bypassed regar

[2020-01-13 21:48] #4581 closed

[2020-01-14 00:21] zhenghuiwang commented on #3723
Tried the same tool for generating TF1.0 ref doc, but failed. https://github.com/ahmetb/gen-crd-api-reference-docs/issues/12#issuecomment-573938275

[2020-01-14 01:42] jbottum commented on #4647
@jessiezcc Jesse - would the new looping functionality in 0.7 help on this request?

[2020-01-14 02:06] jbottum commented on #4611
@cspavlou Hey Chris, any comments here ?

[2020-01-14 03:11] jlewi commented on #4133
@jinchihe  Is this issue still relevant? Should we leave it open?

[2020-01-14 03:12] jlewi commented on #4594
@krishnadurai should we break this up into issues about specific images so its easier to track the work?

[2020-01-14 03:14] jlewi commented on #4590
Based on the docs
https://github.com/GoogleContainerTools/distroless/tree/master/base
https://github.com/GoogleContainerTools/distroless#base-operating-system

I think we want to use the "static:debian10" images as base images
unless we need glibc, libssl, or openssl. If we need the latter then we should use "base:debian10"

[2020-01-14 03:52] #4233 closed

[2020-01-14 05:41] jinchihe commented on #4133
@jlewi Yes, that's not resoveld, last kubeflow cannot installed on POWER platform, suggest leave this open, and consider a way to let Kubeflow support POWER platform. Thanks!

[2020-01-14 08:26] ijackcy opened #4650 "Sorry, /pipeline/ is not a valid page"
When I open centraldashboard web page, I am prompted that the page Sorry, /pipeline/ is not a valid page
Sorry, /jupyter/ is not a valid page
Sorry, /katib/ is not a valid page

i checked the log of the pod.

root@ubuntu-master:/home/xiaowei# kubectl -n kubeflow logs centraldashboard-5578cc9569-t87hj

Initializing Kubernetes configuration
Unable to fetch Application information: { kind: 'Status',

[2020-01-14 08:33] NikeNano commented on #4647
After checking the code base a bit and the swagger API I believe it could be implemented using the kfp_server_api utalising kfp_server_api.models.ApiTrigger() and kfp_server_api.models.api_job.ApiJob(). Happy for feedback or to know how to do it with the current API. :)

[2020-01-14 09:01] discordianfish commented on #4215
@yanniszark Looks like this is close to what I proposed initially. But now thinking a CRD might be a more suitable solution, given how it aligns with PodPresets and the fact that it's typed and can be checked by an admission controller.

Anyway, I don't care much about the specific solution but it's frustrating to waste time on competing proposals. A lot of decisions and direction apparently is ha

[2020-01-14 11:52] astanzys-vinted commented on #4639
I'm having the exact same issue. I was following this guide - https://www.kubeflow.org/docs/gke/gcp-e2e/.

First of all I ran into an issue when trying to train on GKE:
`kustomize build . |kubectl -n kubeflow apply -f - `

Workload wasn't being created due to missing editor role. I fixed it by using this tip from troubleshooting guide: https://www.kubeflow.org/docs/notebooks/troubleshoot/#note-for

[2020-01-14 12:50] szinck1 commented on #4306
Are there plans to resolve this issue for the 1.0 release?

[2020-01-14 16:24] axsaucedo commented on #2141
[Nudge for stalebot] We would be interested on this integration. Is there a design document somewhere so we could get a bit more insight on what has been discussed for this integration? Or is the implementation to be followed based on the jupyter notebook?

[2020-01-14 18:47] neupaneaj commented on #4642
Confirmed as working, thank  you @kunmingg

[2020-01-14 19:21] amygdala opened #4651 "update the version of knative bundled with KF"
/kind bug

Not sure if this should be a 'bug' or 'feature'.  However, seems that some KFServing integration problems (https://github.com/kubeflow/kfserving/issues/629) could probably be addressed if KF was using knative 0.11.

[2020-01-14 19:39] jtfogarty commented on #4651
/area engprod
/priority p1

[2020-01-14 19:41] alexwennerberg commented on #4651
Related KFServing issue: https://github.com/kubeflow/kfserving/pull/630

[2020-01-14 19:45] jtfogarty commented on #4650
/area font-end
/kind bug
/priority p1

[2020-01-14 19:47] jtfogarty commented on #4644
/area pipelines
/priority p1

[2020-01-14 20:17] jtfogarty commented on #4536
/area engprod
/priority p2

[2020-01-14 20:20] jtfogarty commented on #4534
/area pipelines
/priority p2

[2020-01-14 22:45] jlewi commented on #4241
@avdaredevil what was the PR with the fix that added polling to fix issues with namespace creation?

[2020-01-14 22:46] jlewi commented on #3863
@avdaredevil might have a fix by end of week.

[2020-01-14 22:52] jlewi commented on #4022
/lifecycle frozen

[2020-01-14 22:53] jlewi commented on #4022
@avdaredevil thinks we already have liveness and readiness handlers; are they configured though in the kustomize manifest?

[2020-01-14 22:53] jlewi commented on #4026
/lifecycle frozen

[2020-01-14 23:22] kunmingg opened #4653 "Update kfctl server to be kfctl v1.0 compatible."
/kind feature

* Currently kfctl server imports kfctl v0.7
* There are API changes / function refactor happened in kfctl v1.0
* We need to update kfctl server in order to be compatible with kfctl v1.0

related: https://github.com/kubeflow/kfctl/issues/167

[2020-01-14 23:22] kunmingg commented on #4653
related: https://github.com/kubeflow/kfctl/pull/176

[2020-01-14 23:23] kunmingg commented on #4653
@abhi-g @jlewi

[2020-01-15 04:29] #2997 closed

[2020-01-15 06:49] woop commented on #2141
[feast.dev](https://feast.dev) is a good place to start.

Currently the `docker compose` and `helm` installation with the Jupyter notebook will get you up and running with Feast 0.4. We had a contributor pick up the Kustomize component, but unfortunately it seems to have [gone stale](https://github.com/gojek/feast/issues/258).

On the to-do list for the Feast team is still
* RFC of the integration

[2020-01-15 09:53] mukulp commented on #4642
I built kfctl from https://github.com/kubeflow/kfctl/releases/tag/v1.0-rc.1 using go install. Is there a way of building it using make?

[2020-01-15 11:19] alimhanif commented on #4538
i have no problem with that. what docker images that you used for the Jupyter Notebook?

[2020-01-15 11:23] AGKhalil commented on #4538
Thanks a bunch! I believe I tried all of the TF ones, but mainly 1.14 CPU and 2.0 CPU.

[2020-01-15 11:26] alimhanif commented on #4538
Are you sure your deployment is clear? Have you tried to re-deploy and try it again?

Can you share how did you deploy your Kubeflow?

[2020-01-15 11:32] AGKhalil commented on #4538
I did try redeploying multiple times but that was a while ago and I know this repo changes very often. I tried to delete Kubeflow a couple days ago but couldn't due to #4642 but I can try again soon (since it just got fixed).

As for how I deployed, I followed https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

I manually created a StorageClass and the necessary PVs to get things working.

[2020-01-15 11:38] ryandawsonuk commented on #3576
/remove-lifecycle stale

[2020-01-15 13:47] yanniszark commented on #3576
/lifecycle frozen

@prodonjs what you describe seems like a reasonable start.
I agree with the idea to use a ConfigMap to store configuration exposed by the CentralDashboard.

[2020-01-15 14:48] zimmertr commented on #4642
Any reason you can't use one of the compiled binaries in the Darwin and Linux tarballs?

[2020-01-15 16:18] mukulp commented on #4642
When I did tar -xvf on the Linux tarball it did not create the kfctl executable.

[2020-01-15 16:40] pradeepbhadani commented on #4506
I faced similar issue with another application.
It turned out that Google Service Account (attached to the pod) lost its IAM binding for `roles/iam.workloadIdentityUser`.
Re-issuing `gcloud iam service-account add-iam-policy-binding` command fixed the issue.

[2020-01-15 16:57] zimmertr commented on #4642
![Screen Shot 2020-01-15 at 10 55 42 AM](https://user-images.githubusercontent.com/4356289/72454003-acf2e900-3785-11ea-80c1-f1376f5e4dd9.png)

[code]

@mukulp this works for the MacOS client. ^

[2020-01-15 17:44] yanniszark opened #4654 "Why use SHA256 digest for images instead of tags? Can we find out what version of the code is running?"
/kind question

**Question:**

We have noticed that Kubeflow has moved towards using images digest (sha256) instead of tags.
While this is certainly more secure it creates the following issues:

* The only way to get more info about an image's version is for the image to bake that version inside. If it doesn't do that then tracking down what version of the code is used is impossible. For example,

[2020-01-15 20:02] jtfogarty commented on #4654
/area engprod
/priority p2

[2020-01-15 21:07] mukulp commented on #4642
I used https://github.com/kubeflow/kfctl/releases/tag/v1.0-rc.1 as the tarball. I did not know there was a tarball at https://github.com/kubeflow/kfctl/releases/download/v1.0-rc.1/kfctl_v1.0-rc.1-0-g963c787_linux.tar.gz. Now I know how to build using go, I will experiment with the go language and see if I can make any sense of kfctl. At some point I need to test this on ubuntu 19 and k8s above ver

[2020-01-15 22:03] jtfogarty commented on #4529
/area jupyter
/priority

[2020-01-15 22:05] jtfogarty commented on #4529
/priority p2

[2020-01-15 22:06] jtfogarty commented on #4523
/area usage
/priority p2

[2020-01-15 22:07] jtfogarty commented on #4516
/area pipeline
/kind question
/priority p2

[2020-01-15 22:08] jtfogarty commented on #4515
/area pipelines
/priority p2

[2020-01-15 22:09] jtfogarty commented on #4514
/area engprod
/priority p2

[2020-01-15 22:09] jtfogarty commented on #4513
/area docs
/priority p2

[2020-01-15 22:11] jtfogarty commented on #4512
/area engprod
/priority p2

[2020-01-15 22:12] jtfogarty commented on #4509
/area engprod
/priority p2

[2020-01-15 22:13] jtfogarty commented on #4508
/area kfctl
/priority p2

[2020-01-15 22:14] jtfogarty commented on #4507
/area kfctl
/area testing
/priority p2

[2020-01-15 22:16] jtfogarty commented on #4506
/area engprod

[2020-01-15 22:16] jtfogarty commented on #4506
/area docs

[2020-01-15 22:18] jtfogarty commented on #4505
/area front-end
/priority p2

[2020-01-15 22:19] jtfogarty commented on #4504
/area engprod
/priority p2

[2020-01-15 22:21] jtfogarty commented on #4503
/area front-end
/priority p2

[2020-01-15 22:23] jtfogarty commented on #4500
/area engprod
/priority p2

[2020-01-15 22:26] jtfogarty commented on #4499
/area engprod
/priority p2

[2020-01-15 22:27] jtfogarty commented on #4482
/kind question
/area front-end
/priority p2

[2020-01-15 22:28] jtfogarty commented on #4474
/kind bug
/area kfctl
/priority p1

[2020-01-15 22:29] jtfogarty commented on #4469
/area kfctl
/priority p2

[2020-01-16 00:00] #4226 closed

[2020-01-16 00:51] amygdala commented on #3936
noooo, stale[bot]

[2020-01-16 00:56] amygdala commented on #3936
I don't think the bot is going to re-open this, and I don't have permissions to— Jeremy, would you mind re-opening & removing the 'stale' label? I'd like to keep it on our radar. @jlewi

[2020-01-16 01:19] rky0930 commented on #4607
This problem is occurring again. Probably using version 1.14.8-gke.18 is not a workaround. I am currently resolving the problem by restarting the node's metadata-server temporarily.

[2020-01-16 04:48] jlewi commented on #3936
/lifecycle frozen

[2020-01-16 07:27] jlewi commented on #4654
Duplicate of kubeflow/testing#558

[2020-01-16 07:27] #4654 closed

[2020-01-16 07:30] jlewi commented on #4582
It looks like #4631 might not have fixed the build when using Kaniko. When I run in Kaniko in the CD pipelines I get

[code]

I suspect the problem now is that we aren't uploading "/common" as part of the kaniko context.

[2020-01-16 07:44] superkjp commented on #4642
Hi guys,

Hi,
I also met this error when I was trying to re-install the kubeflow, and here is my idea:
You can first download this file via wget:
wget https://github.com/kubeflow/manifests/archive/v0.7-branch.tar.gz
And then unzip the file
tar -xvf v0.7-branch.tar.gz
I guess you're trying to install the kubeflow via this file: kfctl_k8s_istio.0.7.1.yaml
So after you open the file and scroll down t

[2020-01-16 07:59] krishnadurai commented on #4590
@jlewi it seems we require libc for tf-operator image since it is using Runtime C dependencies.

[2020-01-16 08:02] krishnadurai commented on #4594
@jlewi Sure, I'll break this issue into specific images.

[2020-01-16 08:12] krishnadurai commented on #4589
@jtfogarty we could start tracking the image names and CVEs from this report.

[Kubeflow_images_cves_list.xlsx](https://github.com/kubeflow/kubeflow/files/4069971/Kubeflow_images_cves_list.xlsx)

[2020-01-16 08:25] Subreptivus opened #4656 "Configurable Istio Gateway for Notebook Controller is not working"
/kind bug

**What steps did you take and what happened:**
Changing `ISTIO_GATEWAY` environment variable on notebook controller deployment isn't reflected on Istio VirtualService for notebook. It is still using default value of `kubeflow/kubeflow-gateway`.

[code]

[code]

**What did you expect to happen:**
Istio Gateway for notebook virtual service is equal to `ISTIO_GATEWAY` environment variable

[2020-01-16 09:31] waelCh commented on #4642
Hi,
I tried that solution and I remember there was some other issue that rise.

[2020-01-16 14:17] #4005 closed

[2020-01-16 14:48] yanniszark commented on #4509
Fixed in latest v0.7-branch.
/close

[2020-01-16 14:48] #4509 closed

[2020-01-16 16:05] jtfogarty commented on #4656
/area front-end
/priority p2

[2020-01-16 16:54] jtfogarty commented on #4530
/area engprod
/priority p1

[2020-01-16 17:03] jtfogarty commented on #4430
/area testing
/priority p2

[2020-01-16 17:05] jtfogarty commented on #4429
/area usage
/priority p2

[2020-01-16 17:07] jtfogarty commented on #4421
/area kfctl
/priority p2

[2020-01-16 17:10] jtfogarty commented on #4418
/area engprod
/priority p2

[2020-01-16 18:07] jtfogarty commented on #4403
/area engprod
/priority p2

[2020-01-16 18:52] jtfogarty commented on #4373
/area kfctl
/priority p2

[2020-01-16 18:53] jtfogarty commented on #4366
/area kfctl
/priority p2

[2020-01-16 18:55] jtfogarty commented on #4363
/area kfctl
/priority p2

[2020-01-16 19:12] jtfogarty commented on #4358
/duplicate

[2020-01-16 19:17] jtfogarty commented on #4343
/area engprod
/priority p2

[2020-01-16 19:19] jtfogarty commented on #4325
/priority p2

[2020-01-16 19:24] jtfogarty commented on #4316
/platform gcp
/area engprod
/priority p2

[2020-01-16 19:39] jtfogarty commented on #4315
/area engprod
/priority p2

[2020-01-16 19:40] jtfogarty commented on #4310
/area kfctl
/priority p2

[2020-01-16 19:41] jtfogarty commented on #4291
/area kustomize
/area kfctl
/priority p2

[2020-01-16 19:43] jtfogarty commented on #4301
/area engprod
/priority p2

[2020-01-16 22:03] yantriks-edi-bice commented on #4607
@rky0930 how do you downgrade? Can't seem to find where that is defined.

[2020-01-16 23:34] dynofu commented on #4535
to make pipeline artifacts actually show up, we need to use [metadata](https://www.kubeflow.org/docs/components/misc/metadata/), this has nothing to do with the artifacts `file_outputs` listed in pipeline.  run the demo will make what happens under the hood more clear, https://github.com/kubeflow/metadata/blob/master/sdk/python/sample/demo.ipynb

[2020-01-16 23:42] dynofu commented on #4535
the real UI for workflow artifacts is minio, if you happened to portforward the minio service in the case argo artifacts store(workflow-controller) configured to used the default, otherwise there is no ui for workflow artifacts (if configured to use s3).

kubectl get configmap workflow-controller-configmap -o yaml

[code]

so basically the pipeline ui artifacts shows metadata artifacts, not workfl

[2020-01-16 23:45] dynofu commented on #4535
the way to make workflow artifacts show in UI is https://www.kubeflow.org/docs/pipelines/sdk/output-viewer/

[2020-01-17 00:18] holdenk commented on #4306
@szinck1 how do you think we should go about working on this?

[2020-01-17 03:05] rky0930 commented on #4607
@yantriks-edi-bice Oh sorry. I deleted and reinstalled the GKE cluster to downgrade.  I have not tried downgrading an existing cluster.

[2020-01-17 04:22] prem0912 commented on #4646
Resolved issue
The KF_NAME Environment variable should not have Underscore("_"). This issue is resolved by removing the _ from the variable.

[2020-01-17 04:22] #4646 closed

[2020-01-17 09:06] mhausenblas opened #4660 "SMI support"
/kind feature

Currently, Kubeflow has a hard-wired dependency on Istio. In practice, folks have different service meshes in use. In the past couple of months, the [Service Mesh Interface](https://smi-spec.io/) (SMI) has established itself as the de-facto standard for service mesh interoperability.

Supporting SMI as a first class citizen in would make Kubeflow more pluggable and hence flexible, f

[2020-01-17 10:41] barambani commented on #4535
Thanks for the investigation and the explanation, it makes sense. I'm definitely interested in a way to list the argo workflow runs artifacts (intermediate steps as well, not just final results) when they are store in S3. I would also like to be able to link the location from the ui (using the s3:// protocol). I understand it's not there and I would have to wait for now. I will keep this open for

[2020-01-17 10:48] #4288 closed

[2020-01-17 13:11] hamedhsn commented on #4519
having the same problem. installed kubeflow 0.7 on kubernetes on docker local mac. no error after apply but when creating a notebook getthing `  Warning  Unhealthy         6m26s (x8 over 6m40s)  kubelet, docker-desktop  Readiness probe failed: HTTP probe failed with statuscode: 503`

[code]

[2020-01-17 15:31] jtfogarty opened #4661 "Profile-controller crashes on gke Private cluster"
/kind bug

**What steps did you take and what happened:**
Created a  gke cluster with the following command

[code]

Installed kubeflow with comman `kfctl apply -V -f kfctl_k8s_istio.0.7.1.yaml` which used the istio-noauth.yaml file

**What did you expect to happen:**
All Pods to run without error

**Anything else you would like to add:**
This is a private cluster.  The nodes are private and the e

[2020-01-17 15:33] jtfogarty commented on #4661
/area front-end
/priority p1

[2020-01-17 16:42] descampsk commented on #4648
Try to delete the profil : kubectl delete profiles -n kubeflow anonymous
And retry

[2020-01-17 19:06] kunmingg commented on #4077
closed via
https://github.com/kubeflow/kfctl/pull/166
https://github.com/kubeflow/kubeflow/pull/4633

[2020-01-17 19:06] #4077 closed

[2020-01-17 20:13] #3863 closed

[2020-01-17 20:47] kunmingg commented on #4653
related:
https://github.com/kubeflow/kfctl/pull/179
https://github.com/kubeflow/kfctl/pull/180
https://github.com/kubeflow/kfctl/pull/182

[2020-01-17 20:47] kunmingg commented on #4653
closed by https://github.com/kubeflow/kubeflow/pull/4658

[2020-01-17 20:47] #4653 closed

[2020-01-17 20:56] kunmingg commented on #4661
The error is caused by profile CRD not registered in cluster:
https://github.com/kubeflow/manifests/blob/v0.7-branch/profiles/base/crd.yaml
Can you apply the CRD to target cluster and run `kubectl get crd | grep profile` to verify crd registration?

[2020-01-17 21:05] jtfogarty commented on #4661
@kunmingg
Before applying ./profiles/base/crd.yaml I see the below

[code]
Am I suppose to see more than one?
The version is `profiles-v0.7.1`

[2020-01-18 01:15] jlewi commented on #4656
@jtfogarty This issue is actually about jupyter
/area jupyter
/area front-end cancel

[2020-01-18 01:17] jlewi commented on #4656
/remove area/front-end

[2020-01-18 01:17] jlewi commented on #4656
/remove-area front-end

[2020-01-18 01:18] jlewi commented on #4651
@jtfogarty this issue would probably be better assigned to kfserving
/area inference
/remove-area engprod

[2020-01-18 01:19] jlewi commented on #4651
@animeshsingh @ellis-bigelow is there already an issue tracking this?

[2020-01-18 02:05] #3932 closed

[2020-01-18 07:58] animeshsingh commented on #4651
KNative upgrade is an original open issue here
https://github.com/kubeflow/kfserving/issues/596

[2020-01-19 01:27] jtfogarty commented on #4660
/area engprod
/priority p1

[2020-01-19 17:37] kishoreallwynraj commented on #4642
Hi @superkjp,
I tried your steps as well and i got logs like below. But i did not see any components getting deployed to my cluster.  "kubectl -n kubeflow get all" shows no resources.

INFO[0000] No name specified in KfDef.Metadata.Name; defaulting to ochack1 based on location of config file: kfctl_k8s_istio.0.7.1.yaml.  filename="coordinator/coordinator.go:202"
INFO[0000]
************************

[2020-01-19 21:53] #3827 closed

[2020-01-19 23:13] prcastro commented on #4519
Exactly the same problem here

[2020-01-20 00:13] #3593 closed

[2020-01-20 00:13] #4042 closed

[2020-01-20 00:13] #3799 closed

[2020-01-20 00:13] #4103 closed

[2020-01-20 00:13] #3778 closed

[2020-01-20 00:13] #3635 closed

[2020-01-20 00:13] #3583 closed

[2020-01-20 00:13] #3962 closed

[2020-01-20 00:40] yanniszark commented on #4217
/reopen
/remove-lifecycle stale
/lifecycle frozen

[2020-01-20 01:13] #4175 closed

[2020-01-20 06:14] superkjp commented on #4642
Hi @kishoreallwynraj
I apologize that I miss the last step which is running:

kfctl apply -V -f kfctl_k8s_istio.0.7.1.yaml

Because "kfctl build" will make sure kubeflow creates the series of kustomized folder that contains the necessary components it needs.
So, try the command above again and let's see what happens.

Here are two things I'd like to mention:
1. You may be stuck on the warning when

[2020-01-20 12:04] yanniszark commented on #4648
Hi @acesir!
The `k8s_istio` config doesn't provide authentication and it seems that there is something wrong with the way the CentralDashboard handles that.
cc @krishnadurai @avdaredevil

In the meantime, I would suggest trying out the existing_arrikto config for v0.7, which includes authentication and shouldn't present this issue:
https://www.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto/

[2020-01-20 13:05] acesir commented on #4648
@yanniszark I understand there is no authentication setup with this install but that should no prevent it from being unusable or functional. As it stands now I should at least be able to get to kubeflow UI and select namespaces/profiles created. As I mentioned above, the same process works on GCP consistntly but no so on AWS.

Thanks

[2020-01-20 13:23] Felihong commented on #4529
FYI this issue was solved after I configured `google file store` as my default `storageClass`. All files could be properly mounted to the workspace volume now.

[2020-01-20 13:30] Felihong opened #4666 "How to update notebook container to privileged mode"
/kind question

**Question:**
How to update the container `securityContext` to `privileged` in a running pod.
I would like to use `gcsFUSE` to mount files from existing gcs bucket. For this, as many people already mentioned, I have to ensure that my notebook container runs in a privileged mode.

**What I tried**
I tried to patch the following contents to the existing `notebook Statefulset`:
[code]

[2020-01-20 14:15] yanniszark commented on #4666
Hi @Felihong!
Your changes do go through but the reason it seems like it doesn't change is because the notebook controller reconciles it immediately and restores it to the previous value.

To work around this, you could temporarily disable the notebook controller with:
[code]

However, we would like to find a way to allow using gcsFUSE with a normal, non-privileged user.
In stricter environments,

[2020-01-20 14:38] jal06 commented on #4639
Looks that this issue is solved : https://github.com/kubeflow/kubeflow/issues/4642

I uninstalled Kubeflow and reinstalled it applying the new script proposed by @kunmingg and it works for me now :-)

[2020-01-20 14:38] #4639 closed

[2020-01-20 14:38] jal06 commented on #4639
Looks that this issue is solved : https://github.com/kubeflow/kubeflow/issues/4642

I uninstalled Kubeflow and reinstalled it applying the new script proposed by @kunmingg and it works for me now :-)

[2020-01-20 15:24] Felihong commented on #4666
Hey @yanniszark , thanks a lot for your suggestion!
I modified the statefulset after the notebook controller is scaled to 0, all changes can be now stored and fuse works well, thanks for pointing out.

I also noticed that once I re-scaled the deployment, the modified contents are restored to the previous version, however without a controller, users are unable to spawn a new server so this seems fo

[2020-01-20 16:09] carlose2108 commented on #2969
Hi @sarjeet2013

I'm new on Kubeflow and I have the same issue. Where do I add this files in GCP to fix it?

Thanks a lot.

[2020-01-20 16:39] vladhc opened #4667 "Permission denied errors when pip install package"
Steps to reproduce:

1. Perform fresh installation of kubeflow v0.7.1 in the GCP with IAM
2. Launched new notebook service
3. On the home Jupyter page: New -> Terminal
4. `pip install tqdm` leads to error

Log:

[code]

Originally, I've tried to install `pip install tensorflow-data-validation==0.14.1`. That lead to the same error.

I've tried following standard images (they are listed in the drop-

[2020-01-20 18:02] yanniszark commented on #4648
Agreed, this is likely a bug.
I am suggesting an approach to get started in the meantime, so you don't have to wait for the issue to be resolved in order to use Kubeflow :)

[2020-01-20 18:13] #3629 closed

[2020-01-20 21:50] kishoreallwynraj commented on #4650
I am also facing the same issue. My kubeflow setup is on openshift.

I also tried running below command and deleted and recreated the pod but still the same issue.
oc adm policy add-scc-to-user anyuid -z centraldashboard -n kubeflow

[2020-01-20 21:58] kishoreallwynraj commented on #4642
Thanks @superkjp.. that worked.

[2020-01-20 22:07] cwbeitel opened #4668 "User-distinguishing logs by default"
/kind question

GCP operations should be user-identifiable / there should be good audit trails. Currently to our knowledge this requires either (1) users to sign in with personal credentials, or (2) each user to be granted a different service account (e.g. in kf 0.7 by way of their workload identity profile). Otherwise logs will all show \<deployment name\>-user@\<project\>.iam.gserviceaccount.com

[2020-01-21 06:09] hackintoshrao opened #4670 "[installation] Failure on intalling using Kubeflow using the GCP UI"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I tried installing Kubeflow using the UI based deployment manager https://deploy.kubeflow.cloud/#/deploy.

But it fails complaining that the couple of GCP APIs are not enabled, but, that's not the case.
<img width="1295" alt="Screenshot 2020-01-21 at 11 29 13 AM" src="https://user-images

[2020-01-21 11:57] nrchakradhar commented on #4589
/cc @nrchakradhar

[2020-01-21 13:41] jlewi commented on #4580
@zhenghuiwang @kunmingg @avdaredevil any update on this? Have we made progress with NodeJS?

[2020-01-21 13:42] jlewi commented on #4620
@zhenghuiwang What work remains for this?

[2020-01-21 13:43] szinck1 opened #4671 "Culled pods remain in UI"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Enable culling in notebook-controller-deployment

**What did you expect to happen:**

Pods to be culled and removed from UI, or remain in UI but with a message indicating that they need to be restored.

**Anything else you would like to add:**

`kubectl logs notebook-controller-deployme

[2020-01-21 13:43] szinck1 opened #4672 "Culled pods remain in UI"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Enable culling in notebook-controller-deployment
Pods are culled but remain in UI.

**What did you expect to happen:**

Pods to be culled and removed from UI, or remain in UI but with a message indicating that they need to be restored.

**Anything else you would like to add:**

`kubectl

[2020-01-21 13:58] jlewi commented on #3650
@oxxygenio thanks for tracking this down.

Cloud Nat seems like a great solution (at least as a stop gap) to allow pulling all the images until #3210 is fixed.

@oxxygenio any interest in submitting a PR to update the docs
https://github.com/kubeflow/website/blob/6f0cc17a639a96444f64cfb097a22d827d679bf7/content/docs/gke/private-clusters.md

With this information?

[2020-01-21 14:05] jlewi commented on #4527
Closing this as a duplicate of  kubeflow/kubeflow#3650 which is tracking installing Kubeflow on private GKE.

Duplicate of kubeflow/kubeflow#3650

Filed kubeflow/website#1542 to update the docs with a banner indicating Alpha support.

[2020-01-21 14:05] #4527 closed

[2020-01-21 14:11] jlewi commented on #4079
kubeflow/manifests#705 auto-update of profile controller - This was merged
kubeflow/manifests#707 PR to update kfam - This is blocked on failing tests.

Lets make sure we have at least one merged PR for kfam before we close this out.

[2020-01-21 14:11] jlewi commented on #4071
@kunmingg Looks like #4663 was merged. What is the remaining work to close this out?

[2020-01-21 14:12] jlewi commented on #4067
@richardsliu @kimwnasptd What do you think?

[2020-01-21 14:13] jlewi commented on #4060
@kunming @johnugeorge @richardsliu does controller runtime provide any out of box signals we can use for liveness and readiness?

[2020-01-21 14:14] jlewi commented on #4022
@avdaredevil Could you please update this bug with the URLs to be used for readiness and liveness checks so that we can get the manifests updated please?

[2020-01-21 14:23] jlewi commented on #4215
@yanniszark @discordianfish what is the current status for this? I think there was some discussion of the Arrikto proposal at last week's meeting.

[2020-01-21 14:24] jlewi commented on #4160
/lifecycle frozen

[2020-01-21 14:30] jlewi commented on #4259
/llifecycle frozen

The API changes to allow setting both scopes and service account should be rolled out. It should be easy to update the deployment manager configs and then verify this is working.

We should do this for 1.0.

[2020-01-21 14:35] szinck1 commented on #4671
Duplicate of #4672

[2020-01-21 14:35] #4671 closed

[2020-01-21 14:47] jlewi commented on #3657
If yes, where should this bundle (.py + argo app) live in the code base?

An E2E test will be an Argo workflow that contains steps for building and deploying the application and then testing it. The invocation of the python code (e.g. pytests) to test your application will be steps in this workflow.

* The code for the primary E2E test for kubeflow is defined in [kfctl_e2e_workflow.py](https://git

[2020-01-21 15:54] jtfogarty commented on #4672
/area front-end
/priority p2

[2020-01-21 16:53] yanniszark commented on #4588
@jlewi the accepted technique for defaulting is to use Mutating Admission Webhooks.
eg kubebuilder docs instruct using a mutating admission controller for defaulting (https://book.kubebuilder.io/cronjob-tutorial/webhook-implementation.html)

[2020-01-21 17:11] johnugeorge commented on #4060
It was added recently in https://github.com/kubernetes-sigs/controller-runtime/pull/419

[2020-01-21 17:42] szinck1 commented on #4306
@holdenk  We had disable istio pod injection and create the above DR.  @krishnadurai had an initial suspicion of Istio as well.

I'm not sure how best to engineer a solution... perhaps have an option to disable RBAC on a per namespace basis.

[2020-01-21 18:29] zhenghuiwang commented on #4620
The remaining work are adding licenses for Jupyter webapp NodeJS frontend to the docker image, since the image has both frontend and backend.

[2020-01-21 18:49] szinck1 opened #4673 "Jupyter Notebook role too permissive?"
/kind bug

Kubeflow documentation states `kubeflow assigns the jupyter-notebook service account to the Jupyter notebook Pods`. I submitted a separate PR to update the documentation.

But I'm wondering if the permissions for the Notebooks are too permissive?  They don't seem to be scoped to a namespace.

Permissions:
`kubectl describe clusterrole kubeflow-edit -n anonymous`

[code]
**What did you e

[2020-01-21 19:03] kunmingg commented on #4071
This one can be closed

[2020-01-21 19:03] #4071 closed

[2020-01-21 19:05] kunmingg commented on #4070
Verified

[2020-01-21 19:05] #4070 closed

[2020-01-21 23:58] wdhorton commented on #3891
@Jeffwan I'm running into an issue where the ALB is created, but there are no listeners. Trying to use the `kfctl_aws_cognito.yaml`. How did you debug your original issue? Like finding the logs for `kubebuilder/controller`

[2020-01-21 23:59] avdaredevil commented on #4022
The 2 urls that can be used are:
- `<host>/debug` - User info, server info
- `<host>/api/workgroup/env-info` - User related environment info (namespaces, user access, platform data)

[2020-01-22 00:02] avdaredevil commented on #4241
#4364, #4384

[2020-01-22 00:04] acesir commented on #4648
@yanniszark  Understood I will try that for now and can update this issue if it indeed does resolve in AWS with https://www.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto/

[2020-01-22 02:42] acesir commented on #4648
@yanniszark just to update. I used https://www.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto/ and after logging with default credentials admin@kubeflow.org i am getting the same startup page to create a namespace. Same issue as above, namespace and profile get created but I cannot get past the setup screen.

This seems to be an issue with Profiles in AWS EKS possibly? Not sure if you have a

[2020-01-22 02:52] jlewi opened #4677 "Create v0.8-branch"
Creating this issue to leave a paper trail for creating the v0.8-branch.

We don't actually pan on releasing 0.8; next release will be 1.0

The purpose of creating those branches is to test the continuous delivery infrastructure and
make sure it is working with release branches ahead of 1.0.

See kubeflow/testing#450

[2020-01-22 07:41] Bobgy commented on #4598
@avdaredevil any chance this can be dealt with soon?
I can submit a PR too if you are busy.

[2020-01-22 07:51] DdMad opened #4678 "Install Kubeflow failed due to validation failure"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I'm just following the steps shown on [official website](https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/) and when I run `kfctl apply -V -f ${CONFIG_URI}`, encounter the error below.

[code]

(Actually before this I had a couple of errors about cannot download yaml or cannot d

[2020-01-22 07:59] DdMad commented on #4678
By the way, when I manually went to and modify the `spec.maintainers` and `spec.owners` to `[]`, the kfserving stuff seems working. But then encounter the following:
[code]

It looks similar to the previous error which is saying `spec.maintainers in body must be of type string: "object"`, `spec.owners in body must be of type string: "object"`.

Before I changing the yaml, it looks like:
[code]

[2020-01-22 08:20] DdMad commented on #4678
After I manually edit the 2 yaml file, finally I'm able to install Kubeflow successfully. But still, not so sure if this is a bug or not since we should not be expected to modify anything inside the [v0.7-branch.tar.gz](https://github.com/kubeflow/manifests/archive/v0.7-branch.tar.gz) to make it work

In case someone has the same issue, what I did are:
1. for my case, I have to download [v0.7-bran

[2020-01-22 08:26] sk1395 commented on #4642
@superkjp  I am following the steps suggested but i am getting warning on applying the config_file and once i try to list the resources , I am getting only few pods but not all

**kubectl version**
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.0", GitCommit:"ddf47ac13c1a9483ea035a79cd7c10005ff21a6d", GitTreeState:"clean", BuildDate:"2018-12-03T21:04:45Z", GoVersion:"go1.11.

[2020-01-22 10:56] discordianfish commented on #4215
Wasn't at last week's meeting due to it's time.
But I actually like the idea of starting with ClusterPodPreset and figure out if we need a generic approach for other resources. In our case we'd still need a way to manage secrets, but I agree that we'd be better of to not having to share secrets in the first place, so would be reasonable to me to find another solution for that.

[2020-01-22 11:08] aheeruru opened #4679 "when kfctl apply -f, where is dex?"
Hi.

I try to install kubeflow with auth on my own kubernetes cluster.
And I look this guide https://www.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto/

but failed..

maybe it couldn't find directory 'dex'

I checked manifests-0.7-branch.tar.gz.
I found 'dex-auth' directory but couldn't find dex.

What did I miss? please help me.

$ kfctl apply -V -f kfctl_existing_arrikto.yaml

.....
confi

[2020-01-22 11:15] sk1395 commented on #4642
@superkjp  I am following the steps suggested but i am getting warning on applying the config_file and once i try to list the resources , I am getting only few pods but not all

**kubectl version**
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.0", GitCommit:"ddf47ac13c1a9483ea035a79cd7c10005ff21a6d", GitTreeState:"clean", BuildDate:"2018-12-03T21:04:45Z", GoVersion:"go1.11.

[2020-01-22 11:22] krishnadurai commented on #4648
@acesir could you please paste the output of

`kubectl get profiles`

and

Could you also post the HAR file from the browser (navigate to tools -> network tab) which you are using?

[2020-01-22 11:34] yanniszark commented on #4648
To add to what @krishnadurai asked for, can you also provide the logs of the Central Dashboard deployment?

[2020-01-22 11:38] yanniszark commented on #4679
Hi @aheeruru, can you provide the kfctl version you are using?
`kfctl version`

Personally, I have installed existing_arrikto v0.7 many times successfully using version v0.7.0:
https://github.com/kubeflow/kubeflow/releases/tag/v0.7.0

[2020-01-22 12:19] acesir commented on #4648
**profiles output:**
[code]
**HAR file converted to .txt:**
[istio-ingressgateway.istio-system.svc.cluster.local.txt](https://github.com/kubeflow/kubeflow/files/4097212/istio-ingressgateway.istio-system.svc.cluster.local.txt)

**Central dashboard logs:**
[logs-from-centraldashboard-in-centraldashboard-546fc5bf8b-6rhls.txt](https://github.com/kubeflow/kubeflow/files/4097216/logs-from-centraldashboa

[2020-01-22 13:03] acesir commented on #4648
Update:

I moved away from creating an EKS cluster and deployed using KOPS. The issue does not exist with a non managed kubernetes cluster and seems to be isolated to EKS only. I can login just fine and the profile/namespace is created. The only issue i see is the admission-webhook pod seems to not be coming up and is showing an error : **MountVolume.SetUp failed for volume "webhook-cert" : secret

[2020-01-22 13:13] indranilr opened #4680 "Expecetd timeline for support of Kubernetes 1.16"
/kind question

**Question:**
What is the expected timeline (I am assuming it will be a upcoming minor release) for Kubernetes 1.16  version support in Kubeflow ? 0.7 documentation suggests support till version 1.15.

[2020-01-22 14:19] tomalbrecht commented on #4386
Same here on kubeflow 0.7.1.

`INFO[0000] Deleting cachedir /opt/kubeflow/kubeflow-poc/.cache/manifests because Status.ReposCache is out of date  filename="kfconfig/types.go:464"
INFO[0000] Fetching https://github.com/kubeflow/manifests/archive/v0.7-branch.tar.gz to /opt/kubeflow/kubeflow-poc/.cache/manifests  filename="kfconfig/types.go:485"
Error: failed to build kfApp from URI /opt/kubeflow/kub

[2020-01-22 16:10] authenticfake opened #4681 "Install / Deploy Kubeflow failed via YAML"
/kind bug

Install / Deploy Kubeflow failed via YAML

**What steps did you take and what happened:**
following the installation guide
https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/
duirng the Set up and deploy Kubeflow launching the below command
/kfctl apply -V -f kfctl_k8s_istio.0.7.1.yaml

we receive the following error
**What did you expect to happen:**

INFO[0000] No name specifie

[2020-01-22 17:31] szinck1 commented on #3840
I would like this feature as well.

[2020-01-22 19:00] kunmingg commented on #4642
Close this one as fix has been released.

[2020-01-22 19:00] #4642 closed

[2020-01-22 19:16] jlewi commented on #4621
Looks like the manifest still needs to be updated.
https://github.com/kubeflow/manifests/blob/master/jupyter/notebook-controller/base/crd.yaml

[2020-01-22 20:07] animeshsingh commented on #4570
First PR on this issues is in kfctl repo now
https://github.com/kubeflow/kfctl/pull/189

cc @jlewi

[2020-01-22 20:24] srinjay-paul commented on #3767
Issue still exists in kfctl v1.0-rc.1

[2020-01-22 20:25] srinjay-paul commented on #4486
Issue still exists in kfctl v1.0-rc.1

[2020-01-22 23:50] FaustineLi commented on #4596
Just stating that I ran into this exact same bug in Kubeflow 0.7

[2020-01-23 00:36] aheeruru commented on #4679
oh sorry.

I used previous kfctl version kfctl v0.7.0. But tar and existing_arrikto version is 0.7.1.
After changing kfctl version to kfctl v0.7.1-2-g55f9b2a, it works well.

Thanks :)

[2020-01-23 00:36] #4679 closed

[2020-01-23 02:54] avdaredevil commented on #4598
Hey @Bobgy, I don't have cycles till mid-Feb to tackle any more Kubeflow task items (since I'm heads down on MLMD work currently). I'm more than happy to review any PRs you send my way though :)

[2020-01-23 03:13] Bobgy commented on #4598
No problem, I will submit a PR for this.

[2020-01-23 03:14] Bobgy commented on #4598
/assign @Bobgy

[2020-01-23 03:24] rky0930 commented on #4607
Despite the downgrade GKE cluster, gcloud SDK "time out error" occurred again.. Finally, we disabled GKE metadata server option in the node pool. And it's working without error.

[2020-01-23 06:10] hackintoshrao commented on #4670
This issue exists both while installing using the GCP cloud IAP and the basic auth.

[2020-01-23 07:03] superkjp commented on #4642
Hi@sk1395,

The relationship between the version of Kubeflow and Kubernetes is:

Kubernetes Versions | Kubeflow 0.4 | Kubeflow 0.5 | Kubeflow 0.6 | Kubeflow 0.7
-- | -- | -- | -- | --
1.11 | compatible | compatible | incompatible | incompatible
1.12 | compatible | compatible | incompatible | incompatible
1.13 | compatible | compatible | incompatible | incompatible
1.14 | compatible | compatible |

[2020-01-23 08:14] DdMad commented on #4500
I was facing the same issue and after upgrade istio to 1.4.3 (original version with Kubeflow is 1.1.6) it is working now.

[2020-01-23 13:18] jlewi opened #4685 "Cut Kubeflow 1.0 RC"
/kind process

Tracking bug for the Kubeflow 1.0 initial RC.

@richardsliu Has cut a 1.0 branch for kubeflow/manifests
@jlewi Has cut a 1.0 branch for kubeflow/kubeflow

We should begin setting up tests etc... for those branches.

If need be we can rebase those branches on master if there is significant changes that need to be pulled in.

Links:

* Demo script  - http://bit.ly/demo-v1-0
* [Kanban

[2020-01-23 13:23] cliveseldon commented on #4685
Can we get https://github.com/kubeflow/manifests/pull/717 into RC? @jlewi @richardsliu

[2020-01-23 14:02] prabhu commented on #4673
Use the following roles. `kubeflow-notebooks-edit` and `kubeflow-notebooks-view` as referred here https://github.com/kubeflow/manifests/blob/v0.7-branch/jupyter/notebook-controller/base/cluster-role.yaml

Your kubectl seems to be using a different role.

[2020-01-23 14:24] jlewi commented on #4670
@hackintoshrao could you please run

[code]

So we can see which services are enabled for your project?

Could you then try

1. Running

[code]

1. Rerunning

[code]
1. Retrying with the UI to see if that fixes the issue

@hackintoshrao If that fails you could try using the CLI as a workaround.

@kunmingg this seems similar to issues we had seen in the past with not enabling certain APIs.

[2020-01-23 16:10] agoloAbbas commented on #4386
similar error and got solved by above comment
[code]
[code]

[2020-01-23 17:28] jlewi commented on #3727
@richardsliu can we close this out?

[2020-01-23 17:31] jlewi commented on #3772
Thanks @fediazgon

[2020-01-23 17:31] #3772 closed

[2020-01-23 17:32] jlewi commented on #3907
@swiftdiaries did you consider just checking in HTML or other output into GitHub?

[2020-01-23 17:33] #2271 closed

[2020-01-23 18:11] swiftdiaries commented on #3907
We do have one here from the tool:
https://github.com/CiscoAI/kubeflow-scanner/blob/master/vuln_report_kubeflow.yaml
There's a wider compilation here:
https://github.com/kubeflow/kubeflow/files/4069971/Kubeflow_images_cves_list.xlsx

[2020-01-23 21:04] AndriiNeverov opened #4689 "Notebook status should be set based on the joint "ready" state of the containers"
/kind bug

**What steps did you take and what happened:**

Assuming all the nodes have the notebook image so that no time is spend in pulling, create a new notebook server. The status goes almost immediately to green/Ready.

In the reality the Pod has 1/2 Ready state, because Istio sidecar is still starting (has "ready" set to "false"). Clicking on the CONNECT results in an error until the sidecar

[2020-01-23 21:11] kunmingg commented on #4670
Hi @hackintoshrao,
Can you add the logs from kubeflow UI?

[2020-01-23 21:14] mattnworb commented on #3727
thanks for all the work on this! excited to try out the alpha features mentioned in https://www.kubeflow.org/docs/upgrading/upgrade/

[2020-01-23 21:45] avdaredevil commented on #4273
I tackled the namespace defaulting and validation change in #4659

[2020-01-23 21:45] avdaredevil commented on #4273
I tackled the namespace defaulting and validation change in #4659. Perhaps we can close this?

[2020-01-23 21:57] #4076 closed

[2020-01-23 21:57] #4075 closed

[2020-01-23 21:58] kunmingg commented on #4624
Closed by https://github.com/kubeflow/kubeflow/pull/4663

[2020-01-23 21:58] #4624 closed

[2020-01-23 22:02] kunmingg commented on #4582
@jlewi
can we close?

[2020-01-24 04:48] #4039 closed

[2020-01-24 06:34] sk1395 commented on #4642
@superkjp Thank you
### **I did try port-forwarding:**
ubuntu@....:~/mydir$ kubectl port-forward svc/istio-ingressgateway -n istio-system 8080:80
Forwarding from 127.0.0.1:8080 -> 80
Forwarding from [::1]:8080 -> 80
E0124 06:20:51.577526   27900 portforward.go:224] lost connection to pod

### **I am trying to do a curl on central dashboard but am getting this error:**
**Getting cluster ip:**
**cen

[2020-01-24 15:05] Felihong commented on #4607
Hey @rky0930 , not sure if this is a good idea if one wants to use `workload identity` as there is no request token can be used.

[2020-01-24 16:34] JakeTheWise opened #4690 "deploy.kubeflow.cloud does nothing"
After trying to deploy kubeflow using deploy.kubeflow.cloud with IAP, no GKE cluster was started.
version: kubeflow 0.7
I've deployed kubeflow successfully before with this mechanism. I properly followed the steps to set up IAP, genertaing OAuth creds, etc.

[2020-01-24 17:59] ljstrnadiii commented on #4386
Same error as above^ but the work around did not help. I am simply trying to follow the same instructions as the original post with microk8s

[2020-01-24 18:22] jlewi commented on #2969
@carlose2108

The deployment manager configs will being `${KF_DIR}/gcp_configs`. There is more information in the docs
https://www.kubeflow.org/docs/gke/deploy/deploy-cli/#application-layout

You will want to

1. Run `kfctl build` to generate the configs
1. Modify the configs
1. Run `kfctl apply`

More info
https://www.kubeflow.org/docs/gke/deploy/deploy-cli/#understanding-the-deployment-process

[2020-01-24 21:40] vaskokj opened #4691 "On-Prem kubernetes, can't access UI after deployment"
/kind question

**Question:**
I'm sure this is probably something really simple I'm missing.

I ran the set up and deploy kubeflow option.

These instructions in particular.

https://www.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto/

[code]
All of the pods are running.

[code]

I installed MetalLB  and created the dummy nginx service with

[code]

MetalLB provides nginx service a good IP a

[2020-01-25 05:31] #4598 closed

[2020-01-25 05:47] rky0930 commented on #4607
I know GCP recommends using workload identities. But, there was no other way because of the error. Temporarily storing and using the service key in the kubernetes secret. Actually GKE Metadata server is in beta now, so I will use workload identities when it is released as GA.

[2020-01-25 15:44] #2633 closed

[2020-01-26 02:45] jtfogarty commented on #4691
/area front-end
/priority p1

[2020-01-26 03:10] jtfogarty commented on #4689
/area usage
/priority p2

[2020-01-26 03:27] jtfogarty commented on #4681
/area docs
/priority p2

[2020-01-26 03:30] jtfogarty commented on #4680
/area usage
/priority p2

[2020-01-26 03:50] jtfogarty commented on #4678
/area kfctl
/priority p2

[2020-01-26 04:06] jtfogarty commented on #4673
/area front-end
/priority p2

[2020-01-26 14:10] yanniszark commented on #4400
@barlock does the problem exist in the latest v0.7 existing_arrikto config?
If yes, what is the issue you are seeing there?

[2020-01-26 14:19] yanniszark commented on #4691
Hi @vaskokj!
Can you provide the following information to aid in triaging the problem:

* First, let's try to see if you can access the CentralDashboard via port-forward. This checks that the istio-ingressgateway and CentralDashboard are working as expected:

[code]

If you can access the CentralDashboard via port-forward, that mean that the issue is with the MetalLB setup.
Can you do a curl comma

[2020-01-26 18:03] yanniszark commented on #4680
I would expect the only roadblock for 1.16 to be the deprecated extensions apiVersion for Deployments, StatefulSets etc.
Doing a quick grep in the v0.7-branch of manifests reveals such apiVersion only in the Ingress resources of GCP and AWS.

/cc @Jeffwan @jlewi you may want to open issues for transitioning the Ingresses to `networking.k8s.io/v1`.

I would expect the on-prem configs, such as the [

[2020-01-26 20:24] jtfogarty commented on #4668
/area usage
/priority p2

[2020-01-26 20:25] jtfogarty commented on #4667
/area front-end
/priority p2

[2020-01-26 20:28] jtfogarty commented on #4690
/platform gcp
/priority p2
/area kfctl

[2020-01-26 20:34] jtfogarty commented on #4666
/area usage
/priority p2

[2020-01-26 23:28] jusingh opened #4692 "Can Kubeflow Metadata be used independently?"
/kind question

**Question:**
We have a homegrown ML Pipeline and we are working at standardizing pipeline components. To start with we are evaluating metadata store to explore, compare, and examine pipelines’ runs in detail.

So was curious to know if we can just use Kubeflow Metadata[1] without using other components of Kubeflow

[1] https://www.kubeflow.org/docs/components/misc/metadata/

[2020-01-27 01:25] jtfogarty commented on #4692
/area usage
/ priority p2

[2020-01-27 01:30] tjmonsi opened #4693 "Cannot Deploy Kubeflow using CLI and UI - Problem with metadata servers - GKE bug"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Deploy using the Kubeflow CLI, following the instructions.

What happens are these:

1. All services are working except the ingress: `envoy-ingress`

[code]

2. Crash loop back off on pods in namespace `istio-system`

[code]

- Logs of the following above

[code]

[code]

[code]

[code]

[2020-01-27 07:16] prsrepo commented on #4642
I am able to install kubeflow, but while doing port forwarding i am getting this error,

$ kubectl port-forward --address 0.0.0.0 -n istio-system svc/istio-ingressgateway 8080:80
Forwarding from 0.0.0.0:8080 -> 80
Handling connection for 8080
E0127 07:15:33.945920   27086 portforward.go:400] an error occurred forwarding 8080 -> 80: error forwarding port 80 to pod 2fef66785a24af74403192b877c3a85780

[2020-01-27 11:04] discordianfish commented on #4546
With https://github.com/kubeflow/manifests/pull/673 merged, the proper way to configure external mysql is apparently to remove the `- db` overlay and replace it with a custom overlay.

But still trying to figure out how myself :)

[2020-01-27 12:33] Anderssorby opened #4694 "Failed to create cloudendpoint/SSL-certificates for GCP"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I created a config by running
[code]
and then
[code]

**What did you expect to happen:**

After that I try to connect to the kubeflow UI at `https://${KF_NAME}.endpoints.${PROJECT}.cloud.goog`, which gives a DNS_PROBE_FINISHED_NXDOMAIN. The endpoint was not created apparently.

Running `

[2020-01-27 12:52] avolution opened #4695 "[Security Risk] No sha File Fingerprints on the Releasepage"
For example: https://github.com/kubeflow/kubeflow/releases/tag/v0.7.1

Would be nice to have fingerprints for every release to ensure to get the original file.

(PGP Signing of the release files would be even better)

[2020-01-27 12:55] Anderssorby commented on #4694
:sweat_smile: Problem solved; I had not enabled the Service Management API. The annoying thing was that there was no error message to indicate that that was the issue. Maybe add this as a troubleshooting  step or something. This was a big head ache hope it helps someone.

[2020-01-27 12:57] avolution commented on #4695
The CLI Install documentation should then also be updated with an "Verify Download" section

-> https://www.kubeflow.org/docs/gke/deploy/deploy-cli/

[2020-01-27 13:19] #4582 closed

[2020-01-27 13:19] jlewi commented on #4582
@kunmingg yes

[2020-01-27 13:20] jlewi commented on #4621
@zhenghuiwang Could you take a look at updating the manifest please?

[2020-01-27 13:25] jlewi commented on #4060
@johnugeorge Would we have to update the controller-runtime that we are using in order to take advantage of that? How difficult is that likely to be?

[2020-01-27 13:31] jlewi commented on #4058
@kunmingg could you provide an update? It would be great to update the table in the initial comment to reflect current status.

It looks like issues #4071-#4073 are all done. So can we mark all the custom resource issues as done?

Logging & monitoring issues are also fixed; can we mark those items as done?

It looks like the primary work remaining might be the docs?

[2020-01-27 13:50] jlewi commented on #3727
@richardsliu ping can we close this out?

[2020-01-27 13:57] jlewi commented on #4215
@discordianfish maybe open up a separate issue to discuss the secret management problem and possible solutions?

Its a big problem for Kubeflow development as well as Kubeflow users. Lots of KF infrastructure depends on provisioning secrets and we don't have a good way of managing them. Right now we basically require users to manually create secrets with `kubectl` which doesn't really scale and li

[2020-01-27 13:58] jlewi commented on #3671
/lifecycle frozen

[2020-01-27 14:06] jlewi commented on #3709
I've created a copy of this doc owned in the kubeflow.org drive
http://bit.ly/kfctl_design_public

[2020-01-27 14:06] #3709 closed

[2020-01-27 14:17] vaskokj commented on #4691
@yanniszark Thanks for the tips. Yes doing `kubectl port-forward svc/istio-ingressgateway -n istio-system 8080:80 --address 0.0.0.0`  seems to work. I can http://<my-bastion-host> and I will get the Dex login screen, login with the default username//password and I'll get to the Kubeflow setup screen.

I ran the curl command against the following "EXTERNAL-IP" listed for the istio-system.
[code]

A

[2020-01-27 14:21] jlewi commented on #3656
/lifecycle frozen

[2020-01-27 14:24] johnugeorge commented on #4060
I see that controller runtime used in notebook controller is 0.2.0 https://github.com/kubeflow/kubeflow/blob/master/components/notebook-controller/go.mod#L12

However, https://github.com/kubernetes-sigs/controller-runtime/pull/419 changes are only in 0.4.0. This requires update of controller runtime pkg. However, there are breaking changes described in https://github.com/kubernetes-sigs/controller

[2020-01-27 14:28] jlewi commented on #1394
@kimwnasptd Thank for the explanation. Can we add docs and examples for PodPresets that people can use to setup this behavior? Then we can close this issue out.

[2020-01-27 14:34] jlewi commented on #3721
It looks like @gabrielwen updated the jupyter_test
https://github.com/kubeflow/kfctl/blob/10988786321357f45b620943f9ed9cc4714665d1/py/kubeflow/kfctl/testing/ci/kfctl_e2e_workflow.py#L385

This is showing up in the test grid
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-periodic-kfctl

I'm marking this as fixed.

[2020-01-27 14:34] #3721 closed

[2020-01-27 14:36] jlewi commented on #3723
/lifecycle frozen

[2020-01-27 14:39] jlewi commented on #3656
* kubeflow/kubeflow#4621 - is tracking the V1 API; looks like we need to update the kustomize manifest

* It looks like multi-version support was done as part of upgrading to v1beta1
  * https://github.com/kubeflow/manifests/blob/b7be78ad68cc0526570bfa3f775c99a020337d34/jupyter/notebook-controller/base/crd.yaml#L14

* Looks like E2E tests #3721 is done

* For prometheus metrics it looks like we ju

[2020-01-27 14:40] jlewi commented on #3657
@kimwnasptd any update on this?

[2020-01-27 14:41] jlewi commented on #4062
@kimwnasptd could you update this issue?

I looks like we currently have [4 P0s](https://github.com/orgs/kubeflow/projects/11#column-7596321)

[2020-01-27 15:36] jtfogarty commented on #4695
/area engprod
/priority p2

[2020-01-27 18:49] kunmingg commented on #4058
Updated, docs should not be release blocking?

[2020-01-27 23:33] kunmingg commented on #4693
Hi, the current default version has metadata connection issue.

One workaround is to deploy an older GKE version:
1. fork manifests repo, checkout v0.7 branch, change GKE version to "1.14.8": https://github.com/kubeflow/manifests/blob/v0.7-branch/gcp/deployment_manager_configs/cluster-kubeflow.yaml#L34

2. change uri in kfdef to point to the forked/modified manifests: https://github.com/kubeflow/m

[2020-01-27 23:41] amygdala commented on #4693
Though I haven't tried it yet, I believe another workaround would be to follow the instructions here: https://www.kubeflow.org/docs/gke/deploy/deploy-cli/#alternatively-set-up-your-configuration-for-later-deployment (essentially, 'kfctl build', then edit the config to modify the GKE version, then 'kfctl apply' using the local config file).

[2020-01-28 00:23] kunmingg commented on #4693
v0.7.1 should now use GKE 1.14.8 by default:
https://github.com/kubeflow/manifests/blob/v0.7-branch/kfdef/kfctl_gcp_iap.0.7.1.yaml

[2020-01-28 04:45] jlewi commented on #4693
Thanks @kunmingg filed kubeflow/manifests#757 to unpin.

[2020-01-28 06:19] chethanmahadevaiah opened #4696 "kfctl set-image-name command appends inventory:omitempty: null into all the kustomization.yaml files"
kfctl set-image-name command appends "inventory:omitempty: null" into all the kustomization.yaml files in the manifests dir

Command to reproduce the issue:
    kfctl set-image-name test-repo.io

with this "inventory:omitempty: null" key-value pair in the yaml file, kfctl apply fails.

[2020-01-28 09:49] Anujay-Saraf commented on #4642
I am getting below error with kfctl which using it minikube version: v0.27.0 :-

INFO[0000] Downloading https://raw.githubusercontent.com/kubeflow/manifests/v0.7-branch/kfdef/kfctl_k8s_istio.0.7.1.yaml to /var/folders/s8/58_yq2816tdbbnxf8rh1n4nd50n1bt/T/880895510/tmp.yaml  filename="utils/k8utils.go:169"
INFO[0001] Downloading https://raw.githubusercontent.com/kubeflow/manifests/v0.7-branch/kfdef/

[2020-01-28 12:47] nrchakradhar commented on #4696
Should this be moved to kfctl repo?

[2020-01-28 15:02] jlewi commented on #4685
Here are some to do items

- [ ] We need to get the auto-bot PRs updating docker images on the v1,0-branch merged; https://github.com/kubeflow/manifests/pulls/kubeflow-bot
- [ ] We need to setup auto-deployment from the v1.0-branch
- [ ] We need to get application resources on the v1.0-branch updated
- [ ] KFDefs on the v1.0-branch need to have the manifests revision they point to updated to point

[2020-01-28 17:42] jlewi commented on #4690
@kunmingg What debug information would be useful for debugging this?

[2020-01-28 18:43] jlewi commented on #3490
Should we just refactor our kustomize packages to not depend on combining overlays like mixins/diamond pattern?

I believe kustomize supports the case where an overlay references another overlay.

Right now most of our applications have two overlays istio and application both of which are
referencing base.

But we could restructure this as

base -> istio -> application

Which I believe is supporte

[2020-01-28 19:09] kunmingg commented on #4690
Can you share the logs from the bottom of the UI?

[2020-01-28 19:30] #4020 closed

[2020-01-28 20:20] jtfogarty opened #4697 "GCPs internal load balancer port limitation"
/kind question

When installing Kubeflow on a private GKE cluster, the istio-ingressgateway service needs to be modified with the below selections;

[code]
[code]
There is a limited number of ports for this internal load balancer
[Load Balancing Quotas](https://cloud.google.com/load-balancing/docs/quotas#forwarding_rules )

**Question:**
How does GCPs internal load balancer port limitation impact

[2020-01-28 20:21] jtfogarty commented on #4697
/area front-end
/priority p2

[2020-01-28 21:00] vaskokj commented on #4691
Just for some more data points.

I ran

`$ kubectl -n metallb-system logs speaker-mtgz4`

and saw

[code]

I ran

`$ kubectl -n metallb-system logs controller-75689c4588-rw6nb`

and looked at the logs and saw

[code]

`Controller/Ansible node` (where I'm running kubectl from): 10.75.35.44
`Single kubenetes server`: 10.75.38.135, which means this server is hosting the 10.75.38.31 container

From th

[2020-01-28 21:06] jlewi commented on #3210
/lifecycle frozen

It looks like kustomize supports composition; see  kubernetes-sigs/kustomize#171

So if we define a kustomize manifest that composes all of the individual applications in Kubeflow (i.e. lists each kubeflow application as a base); then we should just be able to override all the images by writing a kustomization.yaml file in that package that specifies the image we want to replace

[2020-01-28 21:59] mattnworb commented on #4693
I think I am seeing a related issue on 1.4.8-gke.17 where `backend-updater-0` is unable to set the healthcheck path for the Google LB:

[code]

the `gke-metadata-server` DaemonSet pod on the same node has this log message logged repeatedly (for each request it receives?):

[code]

Should https://github.com/kubeflow/manifests/blob/master/gcp/iap-ingress/base/service-account.yaml have an annotation

[2020-01-28 23:41] richardsliu commented on #3727
Yes. You will need to use the [v1.0 RC](https://github.com/kubeflow/kfctl/releases/tag/v1.0-rc.2) to experiment with this feature.

/close

[2020-01-28 23:41] #3727 closed

[2020-01-29 01:38] jlewi commented on #4519
/cc @kunmingg and @kimwnasptd

[2020-01-29 01:57] #4621 closed

[2020-01-29 01:59] jlewi commented on #4685
For setting up the kubeflow/manifests v1.0-branch We need to do the following

[ ] Create versioned KFDef specs that point to the v1.0-branch for manifests
[ ] Bump the Application versions on the v1.0-branch

I created kubeflow/manifests#778 to make it simpler to maintained the versioned KFDef YAML files by generating them from kustomize.

Once that is merged we need to cherry pick that onto the

[2020-01-29 03:03] jlewi commented on #4693
@mattnworb  Could you open a new issue please and please provide the version of KF you are using.

[2020-01-29 03:05] #4694 closed

[2020-01-29 04:11] jlewi commented on #4519
@prcastro @Luke035 @jtfogarty  it looks like it is the ISTIO side car that is failing the readiness probe; it looks like the Jupyter container doesn't have any probes.

If you wait a couple minutes does the istio side car become ready?

In my case I observed the istio-side car proxy took a couple of minutes to become ready.

Could you provide logs for the istio-sidecar?

[code]

[2020-01-29 04:13] jlewi commented on #4519
Looking at the output in
https://github.com/kubeflow/kubeflow/issues/4519#issuecomment-558533737

It looks like the container status indicates both containers are in state ready with no restarts.

[2020-01-29 04:19] jlewi opened #4699 "Notebook Web Server Gives Error "unable to list events for namespace None""
/kind bug

When I try to spin up a notebook in the notebook server I get an error.

[code]
Screen shot is below

@kimwnasptd Is this related to a combination of using a subject access review check and trying to display events in the jupyter web app?

It looks like there may be a bug somewhere and its not getting the appropriate namespace.

The docker image is:
gcr.io/kubeflow-images-public/jupyter

[2020-01-29 04:20] jlewi commented on #4699
or is this an issue with the central dashboard not making the namespace available correctly to the webapp?

@avdaredevil

[2020-01-29 04:23] jlewi commented on #4699
kubeflow/kubeflow#4214 looks like the PR that modified the backend.

/cc @fediazgon

[2020-01-29 06:17] jlewi commented on #4079
kubeflow/manifests#790 update profile control to 1.0 on 1.0-branch - merged
kubeflow/manifests#793 update kfam control to 1.0 on 1.0-branch - not merged

Just waiting on #793 and then we should be able to close this.

[2020-01-29 06:24] jlewi commented on #3722
Docker image

[code]

[code]

Returns the following output
[output.txt](https://github.com/kubeflow/kubeflow/files/4126507/output.txt)

[2020-01-29 06:24] #3722 closed

[2020-01-29 06:30] jlewi commented on #4693
Closing this issue because it should be fixed by the updates which pin to GKE 1.14.8

[2020-01-29 06:30] #4693 closed

[2020-01-29 07:17] vakrat1 opened #4700 "Failed to start Ambassador on Gravity K8S distribution"
I'm trying to deploy the stable/ambassador helm chart onto Gravity distribution of K8S.
While K8S is trying to load Ambassador's pod the following error message is being thrown:

`kubectl logs -f pod/ambassador-69b784f9d5-xzmg8`

`2020-01-28 21:10:23 kubewatch [9 TMainThread] 0.86.1 DEBUG: looking up ID for namespace default`

`2020-01-28 21:10:23 kubewatch [9 TMainThread] 0.86.1 DEBUG: cluster ID

[2020-01-29 08:15] kimwnasptd commented on #4699
@jlewi I think this doesn't have to do with centraldashboard since the namespace is already selected.

My first guess would be that the clusterrole for the jupyter-web-app doesn't have permissions to list events. Can you verify it has the necessary permissions?

The authorization error is shown because of the subjectaccessreview mechanism. The `namespace: None` is because the Events are not namesp

[2020-01-29 10:45] aheeruru opened #4701 "How can I give cluster-admin role to specific user?"
Hello.

kfctl version : v0.7.1-2-g55f9b2a

I use kubeflow with dex on my own kubernetes cluster. (is not GKE)
I want to show cluster-admin's web page like this https://www.kubeflow.org/docs/images/manage-contributors.png

I try to give cluster-admin role to specific user 'test' (test@test.com).
I read the guide and kubeflow-roles/README.md.
than,
I made clusterrolebinding with my accound and clust

[2020-01-29 12:17] chethanmahadevaiah commented on #4696
Moved to kfctl repo
Closing this

[2020-01-29 12:17] #4696 closed

[2020-01-29 12:18] chethanmahadevaiah commented on #4696
https://github.com/kubeflow/kfctl/issues/194

[2020-01-29 12:56] jlewi commented on #4666
Can we mark this issue fixed?

[2020-01-29 13:03] jlewi commented on #4699
Here's the output of the clusterrole

[code]

I'm not seeing a label like

[code]

That would be used to aggregate clusterroles.

So I suspect the issue is we need to define or update kubeflow-edit and view cluster roles for jupyter that could then be aggregated to give the user the required permission.

[2020-01-29 13:05] jlewi commented on #4699
I was able to work around this by making myself an admin.

[code]

This also might explain why other users haven't reported this yet.
If a user creates the cluster with kfctl we grant them cluster admin privileges as part of the deploy process so they would already have permission.

[2020-01-29 13:07] jlewi commented on #4699
@kimwnasptd We should probably add admin,edit,and viewer roles like we do for other applications and rely on cluster role aggregation. Like we do for TFJob

https://github.com/kubeflow/manifests/blob/3fe91f521c28bb43283d8363384271b60eb7c301/tf-training/tf-job-operator/base/cluster-role.yaml#L42

[2020-01-29 13:30] Luke035 commented on #4519
@jlewi I also noticed that this issue seems to appear for every istio-proxy container in the cluster with ISTIO installed via KUBEFLOW.
Since I'm using AWS EKS can be something related to it? Available for debugging!

[2020-01-29 15:27] jusingh commented on #4692
Hi, any update on this? thxs!

[2020-01-29 16:47] mattnworb commented on #4693
@jlewi makes sense. Our issue turned out to be that the KSA did not have the `iam.gke.io/gcp-service-account` annotation [which is added by `kfctl`](https://github.com/kubeflow/kfctl/blob/1e9c8cb963f0701eafa3f54d07d56d919a34ad35/pkg/kfapp/gcp/gcp.go#L1713-L1754), since we tried to upgrade Kubeflow in a cluster which was already existing and therefore didn't use kfctl for the process.

[2020-01-29 17:00] vaskokj opened #4702 "Log out option in Kubeflow multi-user mode."
/kind feature

**Why you need this feature:**
[Is your feature request related to a problem? Please describe in details]

After installing Kubeflow through this guide (https://www.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto/), I cannot for the life of me figure out where a simple "Logout" button is. The only workaround I have been able to come up with is to simply reset my browsers cache.

[2020-01-29 17:26] jlewi commented on #3866
@Bobgy Lets not mark this as fixed until after #131 and we have done some manual verification on master that everything is working.

The xgboost_synthetic example is a good manual smoke test.

I think we should target this for 1.1 I don't think we should try to enable it in 1.0.

[2020-01-29 17:54] fedeesku1 commented on #4642
I might be missing something here. This fix works for me so I thank you very much!!
However, the documentation for Kubeflow Deployment with kfctl_k8s_istio still links to the old binary https://github.com/kubeflow/kubeflow/releases/tag/v0.7.1 that does not work instead of linking to the one you suggested https://github.com/kubeflow/kfctl/releases/tag/v1.0-rc.1.

[2020-01-29 18:09] vaskokj commented on #4519
I seem to be running into same issue.

$ kubectl -n <NAMESPACE> describe pod/test1-0

[code]

$ kubectl -n ${NAMESPACE} logs pod/test1-0 -c test1
[code]

[code]

[2020-01-29 19:59] vaskokj commented on #4538
@AGKhalil

I've ran into several issues as well with Kubeflow, seems fickle at best...but I'm running into similar issues that you are.

The things I've noticed in your logs.

`pod/metadata-db-75958d988b-dtfmr                                   0/1     CrashLoopBackOff   28         125m`
`pod/metadata-grpc-deployment-57966444dc-nt9n9                      0/1     CrashLoopBackOff   26         125m`

[2020-01-29 20:15] jlewi commented on #4697
@jtfogarty How are you installing ISTIO? Are you using [GCP Managed ISTIO](https://cloud.google.com/istio/docs/istio-on-gke/overview)

It looks like GCP managed ISTIO installs the ingress gateway. So I think once that's installed you should be able to expose traffic internally.

I would expect that managed ISTIO takes care of properly configuring the ISTIO gateway.

So what I would probably do is.

[2020-01-29 21:23] yanniszark commented on #4702
This is something we need as well and I have been experimenting with the implementation, so I'll take this one.
/assign @yanniszark

[2020-01-30 00:24] Bobgy commented on #3866
@jlewi Thanks, sounds good to me.
KFP must enable multi user mode at the same time as this change. Otherwise, workflows in kubeflow ns may fail due to injected sidecar.

[2020-01-30 00:46] #3818 closed

[2020-01-30 14:54] vaskokj opened #4704 "Included docker image doesn't contain tensorflow"
/kind bug

**What steps did you take and what happened:**
Went to Notebook Server link, created new notebook with the included gcr.io/kubeflow-images-public/tensorflow-1.14.0-notebook-gpu:v0.7.0 image. Started a Python3 notebook and ran

"import tensorflow as tf" and pythons typical no module found error.

**What did you expect to happen:**
tensorflow to be included in a tensorflow image.

**Anyth

[2020-01-30 15:14] sitakantachaudhury commented on #4199
Hi ,

what would be the solution for the above error.

[2020-01-30 15:50] vaskokj commented on #4667
Same/similar issue for me as well.

kubeflow: 0.7.0
gcr.io/kubeflow-images-public/tensorflow-2.0.0a0-notebook-gpu:v0.7.0

Starting a new python3 notebook, run `pip install tensorflow`.

Get the same error.

[code]

[2020-01-30 16:28] yanniszark commented on #4666
@jlewi I don't think we can, there is currently no way to create a privileged Notebook Pod.
In order to resolve the issue, we need to find a good way to support @Felihong 's use-case, which is using `gcsFUSE`.

This can happen by:
* Allowing the user to specify a privileged securityContext for the Notebook. I believe that the Notebook Controller supports setting the securityContext. @lluunn does t

[2020-01-30 17:00] jlewi commented on #4259
Fix is cherry-picked onto both release and master branches.

The full spec for a 1.0 GKE cluster is below. Looking at the node autoprovisioning settings both service accounts and oauth scopes are set.

[code]

[kf-v1-01300120-b52.yaml.txt](https://github.com/kubeflow/kubeflow/files/4135208/kf-v1-01300120-b52.yaml.txt)

[2020-01-30 17:00] #4259 closed

[2020-01-30 17:41] crobby commented on #4617
So, I've taken a closer look at this and I'm a little unsure of which approach to take for the fix.  As it is right now, it is possible for me to create a notebook that runs as I intend on Openshift.  If I create a Notebook yaml that contains a podSpec with securityContext: {}, the notebook controller respects that and I get a Notebook that spins-up as I intended (no fsGroup: 100).  That makes me

[2020-01-30 19:51] jlewi commented on #4685
Pending cherry-picks

- [ ] https://github.com/kubeflow/manifests/pull/814 - KFDef v1.0.0 specs

I made a copy of the demo script
http://bit.ly/demo-v1-0

[2020-01-30 19:56] jlewi commented on #4699
I will create a PR.

[2020-01-30 20:14] jlewi commented on #3656
Looks like the only remaining issue before closing this out is the docs.

[2020-01-30 20:17] jlewi commented on #4026
It looks like the readiness and liveness probes were merged in #4022 but not on the 1.0 branch.

[2020-01-30 20:20] jlewi commented on #4026
kubeflow/manifests#777 is the cherry pick for the probes

[2020-01-30 20:27] jtfogarty opened #4705 "Jupyter UI shows error while waiting for pod to bind PVC"
/kind bug

**What steps did you take and what happened:**
Created a Notebook Server using Rook/Ceph as the storage layer.

Pod created but the UI shows a red X in the status.

![Screen Shot 2020-01-30 at 2 20 05 PM](https://user-images.githubusercontent.com/6708730/73487270-43213480-436c-11ea-8bf9-a91892cfa9d6.png)

**What did you expect to happen:**
Pod to start without issue

**Environment:**

-

[2020-01-30 20:29] jtfogarty commented on #4705
/area front-end
/priority p0

[2020-01-30 20:29] jtfogarty commented on #4705
The pod eventually starts and the status turns green

[2020-01-30 22:05] jtfogarty opened #4706 "Unable to create Notebook Server with NO Persistent Storage"
/kind bug

**What steps did you take and what happened:**
I attempted to create a server with this check box selected;

![Screen Shot 2020-01-30 at 3 59 36 PM](https://user-images.githubusercontent.com/6708730/73494115-9352c380-4379-11ea-9a94-1bda21461c9e.png)

The container returns the below error;

[code]

**What did you expect to happen:**
Server to create successfully

**Environment:**

- Kube

[2020-01-30 22:09] jtfogarty opened #4707 "After Create Server fails, UI reports API error"
/kind bug

**What steps did you take and what happened:**
During the corse of testing, creation of a Notebook Server fails.  After the failure the UI consistently reports an api failure

![Screen Shot 2020-01-30 at 3 51 39 PM](https://user-images.githubusercontent.com/6708730/73493550-97321600-4378-11ea-86fc-a55712d41d34.png)

**What did you expect to happen:**
The UI should not be impacted by a p

[2020-01-30 22:10] jtfogarty commented on #4707
/area front-end
/priority p1

[2020-01-30 22:11] jtfogarty commented on #4706
/area front-end
/priority p1

[2020-01-30 22:39] jnmclarty opened #4708 "Installation Issue: RESOURCE_ERROR 404 kfctl_v1.0-rc2-0-ga3d07b4 / kfctl_gcp_iap.v1.0.0.yaml"
/kind bug

**What steps did you take and what happened:**

I created a brand new VM, on GCP, with an Ubuntu 18 image. I was following the 0.7 docs to install Kubeflow on GCP from a CLI, except subbing in 1.0 RC equivalents.  The build appears to have worked (generates files), but the apply step...

`kfctl apply -V -f kfctl_gcp_iap.v1.0.0.yaml`

...failed with the following output:

[code]

**What

[2020-01-31 00:02] kunmingg opened #4709 "jupyter web app support custom images"
/kind feature

**Why you need this feature:**
To support custom jupyter images, jupyter web app should expose:
- Args:
  * to make notebook pod compatible with current Istio setup, we need to append flag
`--NotebookApp.base_url` or `--LabApp.base_url` for `jupyter notebook | lab`
- Ports:
  * custom image might use port other than default 8888
- JupyterCmd:
  * full jupyter cmd running the custom

[2020-01-31 01:52] jnmclarty commented on #4708
I think I figured out the issue.  I'm just going to do a fresh end-to-end cycle, and report back.

[2020-01-31 02:39] #4708 closed

[2020-01-31 03:04] jnmclarty commented on #4708
fwiw, I'm 80% sure a precarious/manual deletion of the GKE cluster combined with manual changes in the GCP project over the prior installation's lifecycle led the above error upon installation.

The solution, was to completely remove the "deployment" from GCP's deployment manager.

Fwiw, in the off chance the info below helps the project, my end-to-end test worked on a mac with the following:

- h

[2020-01-31 03:51] jlewi commented on #4519
@Luke035 @vaskokj is the notebook accessible?

To summarize it looks like the issue so far is that the ISTIO side car is failing its readiness probe. But the container appears to still be running.

Is the readiness probe consistently failing? Or is it just failing at startup because it takes some time for everything to be ready?

[2020-01-31 06:36] jlewi commented on #4699
Still not working.

Here are the role bindings in the newly created namespace.
[rolebinding.yaml.txt](https://github.com/kubeflow/kubeflow/files/4137881/rolebinding.yaml.txt)

There is a binding for jlewi@google.com to kubeflow-cluster-admin.

[2020-01-31 06:37] jlewi commented on #4699
Creating a role binding

[code]

Doesn't fix the problem.

Creating a clusterrolebinding does fix it.

[code]

@kimwnasptd So it looks like there might be another bug in the subject access review check not properly checking namespace?

[2020-01-31 06:45] jlewi commented on #4699
As @kimwnasptd pointed out earlier events aren't namespace scoped. Which explains why creating a rolebinding doesn't work.

I can think of the following solutions

1. Grant every user a clusterrolebinding to access events.
1. Drop the subject access review check in the notebook API server on list events
    * We could rely on the notebook server to filter out events a user shouldn't see

#2 seems

[2020-01-31 08:18] prem0912 commented on #4306
@holdenk and @szinck1  adding  annotations to driver and executor pod configuration as istio sidecar injection as "false" might solve this issue, so we disable only to spark pods instead of disabling  for whole namespace

	  driver:
		labels:
		  version: 2.4.4
		annotations:
		  "sidecar.istio.io/inject": "false"
		serviceAccount:
	  executor:
		instances: 3
		annotations:
		  "sidecar.istio.io/i

[2020-01-31 08:45] krishnadurai commented on #4306
/assign @prem0912

[2020-01-31 08:50] krishnadurai commented on #4306
@prem0912 can you please elaborate on how we could possibly add these annotations through spark-submit or pyspark?

Likewise, do we want users to always pass these annotations through spark-submit for each job because of our namespace level istio-injection setting? Or could we look at alternatives to automate this?

/cc @jlewi @holdenk

[2020-01-31 09:58] Felihong commented on #4666
Hi @yanniszark , not quite sure what you mean by notebook object?
I tried to patch the modification via `PodDefault`, which doesn't seem to change anything.
[code]
Does podDefault only support fields like `environments` etc. ?

[2020-01-31 10:17] Subreptivus commented on #4656
Guys, sorry for not checking it earlier.
There is something wrong with your Docker image building or tagging system!
Just have a chance to build Notebook Controller myself and try it, and it's working as expected.
So for release v0.7.1 there is something wrong with this image. Code from here: https://github.com/kubeflow/kubeflow/tree/v0.7-branch/components/notebook-controller works fine!

[2020-01-31 11:21] NikeNano commented on #4647
Friendly ping @jessiezcc, is this something that is implemented? If not is this something that is of interest for KFP to have? I think it would be nice and important in order to do CI/CD for Kubeflow for scheduled pipeline jobs.

[2020-01-31 11:53] prem0912 commented on #4306
@krishnadurai  We can add annotations in spark-submit as

		`spark-submit --master k8s://https://<<CLUSTER-IP>> --deploy-mode cluster \
		  --name spark-pi --class <<some-class>> \
	          --conf spark.kubernetes.pyspark.pythonVersion=3 \
		  --conf spark.kubernetes.driver.annotation.sidecar.istio.io/inject=false \
		  --conf spark.kubernetes.executor.annotation.sidecar.istio.io/inject=false \

[2020-01-31 12:27] areshytko commented on #668
I am using gcr.io/kubeflow-images-public/tensorflow-2.0.0a0-notebook-gpu:v0.7.0 image and still have the same issue with permissions for jovyan user

[2020-01-31 13:29] vaskokj commented on #4706
Same issue here as well.

[2020-01-31 13:45] hackintoshrao commented on #4670
Hey @kunmingg ,

Here is the log from the Kubeflow UI

[code]

Besides the above error, the following popup shows up.

<img width="1240" alt="Screenshot 2020-01-31 at 7 11 29 PM" src="https://user-images.githubusercontent.com/2609511/73543694-8ad3b900-445d-11ea-81bf-67e475c18242.png">

Here is the output of `gcloud --project=${PROJECT} services list`, I've got the required services enabled, billin

[2020-01-31 13:59] vaskokj commented on #4519
@jlewi

Yes the notebook for me does become accessible.

It just sits in that state for as long as I can tell in the describe. In the `kubectl -n <MYNAMESPACE> get pods` it does show a `Running` status.

[2020-01-31 14:34] Luke035 commented on #4519
@jlewi
Notebooks are accessible and work fine.
Readiness probe keeps failing but ISTIO-PROXY, for example, is sending metrics correctly. Since this is common for every POD (not just the notebook), my concern is that this is an ISTIO problem or and EKS problem.

[2020-01-31 14:51] PaulQbFeng opened #4711 "Running the TensorFlow training job does not work - pods can't start because of missing service account"
/kind bug

**What steps did you take and what happened:**
I am following the [MNIST E2E tutorial](https://www.kubeflow.org/docs/gke/gcp-e2e/). Everything works well until the Training on GKE. The `kustomize build . | kubectl apply -f -` yields : <br> <pre><code>configmap/mnist-map-training-g4bbb7ckgm created
tfjob.kubeflow.org/mnist-train-dist created</pre></code>

But no `mnist-train-dist-chief-0

[2020-01-31 17:42] jtfogarty opened #4712 "Notebook Server UI Status shows Green even if Pod has failed"
/kind bug

**What steps did you take and what happened:**
Created a Notebook server as in this issue #4706

Status shows green but pod has failed

**What did you expect to happen:**
Status to show an error state

**Environment:**

- Kubeflow version: (version number can be found at the bottom left corner of the Kubeflow dashboard):
- kfctl version:  v1.0-rc.1-0-g963c787
- Kubernetes platform: v1.1

[2020-01-31 17:43] jtfogarty commented on #4712
/area front-end
/priority p1

[2020-01-31 19:21] jlewi opened #4714 "Minikf 1.0 RC"
/kind process

Creating this bug to track creating a minikf 1.0 RC. The minikf page looks like the last update is from 201909
https://www.arrikto.com/minikf/

@vkoukis @yanniszark @elikatsis @jbottum do we have an ETA for a minikf 1.0 RC?

[2020-01-31 21:31] xaniasd commented on #3490
If we "hardwire" overlays, don't we also enforce their usage?

Currently overlays are optional (I can skip istio by omitting the overlay) and this allows a lot of flexibility in deployment configurations. For instance, metadata db is installed as an overlay; if I want to use an existing database I can skip this overlay altogether. Same with istio; I haven't tried it but I suppose I can still use a

[2020-01-31 22:29] jnmclarty commented on #4572
Can you post or link to your pipeline's python + any yaml?

[2020-01-31 22:54] jlewi opened #4716 "GKE: "Could not determine issuer for ingress due to bad annotations""
/kind bug

With master/1.0 we are getting reports of errors on the envoy-ingress

[code]

I observed this as well but it looks to be a transient issue and things look healthy.

I suspect this might be a legacy of us switching from CertManager to managed gke certificates for GCP but not removing the annotation.

In the past that may not have been an issue because we removed cert manager as well.

B

[2020-02-01 00:57] jlewi commented on #4079
PRs merged.

[2020-02-01 00:57] #4079 closed

[2020-02-01 00:59] jlewi commented on #4067
Downgrading to P1 because this isn't release blocking upgrades are still alpha.

[2020-02-01 17:47] yanniszark commented on #4705
@jtfogarty is this still an issue?
I suspect this is because the Rook (Ceph) provisioner is taking some time to provision the Persistent Volume, so in the meantime you get this message.

[2020-02-02 03:19] jlewi opened #4718 "Centraldashboard is crash looping - failed liveness probe"
/kind bug

Centraldashboard is crash looping.

This is an auto-deployed cluster from the v1 branch.

cluster:  kf-v1-0131-d72
project: kubeflow-ci-deployment

[code]

[2020-02-02 03:21] jlewi commented on #4716
kubeflow/manifests#828 - Remove annotations on master.

[2020-02-02 03:27] jlewi commented on #4718
Here's the rolebinding

[code]

It doesn't look like namespace got substituted correctly

[2020-02-02 03:28] jlewi commented on #4718
I changed that to

[code]

And it fixed the problem.

[2020-02-02 03:41] jlewi commented on #4718
I'm not sure what if anything changed.

I seem to be able to reproduce this just by running `kustomize build` inside kubeflow/manifests/common/centraldashboard base.

I'm not sure why master is working.

I think we could just remove $(namespace) and let kustomize set the namespace.

It looks like the only place where the parameter $(namespace) is the now obsolete annotation for Ambassador.

I'm pu

[2020-02-02 03:55] jlewi commented on #4718
The cluster was deployed from
https://github.com/kubeflow/manifests/commit/4e550919e10ecf8cbae8643117405345a1bdb758

[2020-02-02 04:01] jlewi commented on #4718
For cluster which was deployed from
https://github.com/kubeflow/manifests/commit/7d36e486210eeec8504d67cb1b1855c1ffc9bd35

It seems to work. The clusterrolebinding appears to have the same problem

[code]

Here are the centraldashboard logs
[centraldashboard.logs.txt](https://github.com/kubeflow/kubeflow/files/4143525/centraldashboard.logs.txt)

Here's the deployment
[centraldashboard.yaml.txt](ht

[2020-02-02 05:01] jlewi commented on #4718
I redeployed and this time it worked.
cluster: kf-v1-0201-33e
https://github.com/kubeflow/manifests/commit/e9dfeb30abcd12a920ad8f8510f26a167390e5fc

[2020-02-02 05:02] jlewi commented on #4699
Confirmed this is fixed at
https://github.com/kubeflow/manifests/commit/e9dfeb30abcd12a920ad8f8510f26a167390e5fc

[2020-02-02 05:02] #4699 closed

[2020-02-02 05:06] jlewi commented on #4718
Here are the centraldashboard logs
[centraldashboard.logs.txt](https://github.com/kubeflow/kubeflow/files/4143555/centraldashboard.logs.txt)

I see the same errors as before but its not crashing so they may have been a red herring.

[2020-02-02 05:09] jlewi commented on #4718
Looking back at the original pod; it looks like it might have been failing the liveness probe.

[code]

[2020-02-02 05:13] jlewi commented on #4718
On the original cluster it looks like it is still crashlooping; i.e. changing the RBAC role didn't fix it. I probably got lucky and just managed to send a request before it got started.

[2020-02-02 05:20] jlewi commented on #4718
Here are the logs from the unhealthy centraldashboard
[centraldashboard.logs.txt](https://github.com/kubeflow/kubeflow/files/4143562/centraldashboard.logs.txt)

I see the following errors

[code]

So its having problems contacting the profiles-kfam.

[code]

It looks like the profiles deployment is missing.

[code]

I suspect the deployment never fully succeeded and that's why we are missing the p

[2020-02-02 05:25] jlewi commented on #4022
I'm reopening this.

See kubeflow/kubeflow#4718 it looks like #777 used env-info as the liveness probe. That URL however ends up failing if the profile controller is deployed.

I don't think the liveness check for the centraldashboard should depend on external services. That means the liveness check ends up being a check on the liveness of external services.

@avdaredevil Does <host>/debug have de

[2020-02-02 06:55] avdaredevil commented on #4022
Sure given the points aforementioned, I could write up a healthz route for CD. Would you mind outlining the API spec for this route? What should it serve, what things should I check for, etc?

[2020-02-02 20:04] yanniszark commented on #4702
/priority p1
/area centraldashboard

[2020-02-02 20:23] yanniszark commented on #4572
Hi @sid027, this question seems better suited for the pipelines repo (https://github.com/kubeflow/pipelines)

[2020-02-02 22:53] yanniszark commented on #3712
/remove lifecycle-stale
/lifecycle frozen

[2020-02-03 02:31] Jeffwan opened #4719 "[AWS] 1.0 issues and features"
/kind feature

**Why you need this feature:**
This is a parent issue of all 1.0 AWS specific features. Let's use this to track all the issues and features for 1.0 release.

- Simply and provides better experiences to bootstrap kubeflow
  - https://github.com/kubeflow/kfctl/issues/235
- Fine Grane IAM control on pods
  - https://github.com/kubeflow/kubeflow/issues/4403
- Managed external mysql data

[2020-02-03 04:08] jlewi commented on #4716
Cherry-pick for 1.0 is pending in kubeflow/manifests#830

[2020-02-03 04:09] jlewi commented on #4685
Here's the current status

* A kfctl RC is available at https://github.com/kubeflow/kfctl/releases
  * A new RC will be released shortly with updated fixes
* 1.0 KFDef specs for GCP are available in https://github.com/kubeflow/manifests/tree/v1.0-branch/kfdef
   * 1.0 KFDef specs for other platforms are pending in kubeflow/manifests#826
* https://master.kubeflow.org/ - now shows docs for master

[2020-02-03 08:06] DdMad opened #4720 "How can I delete a namespace created for the new user? What is the mechanism behind to re-create namespace?"
/kind question

**Question:**
Hi, recently I want to delete some of the namespaces, e.g `test-ns`, that are created by new users (i.e. in the setup step, each new user is asked to create a new namespace), but then after I run `kubectl delete ns test-ns`, the namespace `test-ns` is re-created right away. May I know how can I delete that namespace? What is the mechanism behind to re-create such name

[2020-02-03 11:08] DdMad commented on #4720
I figure out that once I delete the related profile, the namespace will be deleted as well. However, then when I refresh Kubeflow page, it will ask me to setup a new namespace again, which is I don't want. Is there a way that I can have a user that does not have any namespace? Or each user must have 1 namespace (+ 1 profile)? Because now I'm only using Kubeflow Pipelines and currently it does not

[2020-02-03 11:13] mfojtak opened #4721 "Outbound tls traffic blocked from notebook"
/kind bug

**What steps did you take and what happened:**
1. Open notebook
2. Run following in Jupyter notebook terminal
[code]
which returns error
[code]
A request to http://google.com returns successfully

**What did you expect to happen:**
The https request gets completed

**Anything else you would like to add:**
It is most likely related to istio proxy outbound egress traffic.

**Environment:*

[2020-02-03 15:15] NikeNano commented on #4647
I will start to work on this and make a PR. Need it for a project so will build it and see if it is suitable for Kubeflow when is is done :)

[2020-02-03 17:27] jlewi commented on #4519
Downgrading to P1 because since notebooks and Kubeflow are working this is not release blocking.

@Luke035 agree it looks like some sort of problem with ISTIO.  Has anyone checked to see if this some sort of known issue with ISTIO?

[2020-02-03 17:28] jlewi commented on #4705
Downgrading to P1 because this doesn't seem like its release blocking.

[2020-02-03 17:30] jlewi commented on #4592
I think we still need to cut an RC with #201 in it. Once we've cut the RC we can close this issue.

[2020-02-03 17:55] jlewi commented on #4056
/lifecycle frozen
Related to kubeflow/kfctl#193 operator roadmap

[2020-02-03 18:02] jlewi commented on #4022
@avdaredevil The liveness probe should indicate the central dashboard is alive. So how about starting with "/healthz" that just returns a 200?

[2020-02-03 19:53] jtfogarty commented on #4705
@yanniszark Yes, this is still an issue

[2020-02-03 22:08] richardsliu commented on #4592
Verified in latest RC.
/close

[2020-02-03 22:08] #4592 closed

[2020-02-03 23:55] jbottum commented on #3727
@richardsliu I was looking the docs for upgrading an existing cluster.   an initial step is to delete the existing cluster.   should we have a step to somehow save that cluster's config before deleting it?

[2020-02-04 02:18] jlewi commented on #4635
@kunmingg do you want to answer these questions?

[2020-02-04 03:53] yantriks-edi-bice opened #4724 "couldn't load KfUpgrade: (kubeflow.error): Code 500 with message: Could not find existing KfCfg"
/kind bug

**What steps did you take and what happened:**

Followed upgrade instructions below in order to upgrade from 0.7 to 0.7.1

https://www.kubeflow.org/docs/upgrading/upgrade/

... and got

couldn't load KfUpgrade:  (kubeflow.error): Code 500 with message: Could not find existing KfCfg kf-poc. Error: <nil>

**What did you expect to happen:**

Upgraded cluster

**Anything else you would like

[2020-02-04 03:56] animeshsingh commented on #4570
2nd PR to register the Operator to OLM is being worked on here
https://github.com/kubeflow/kfctl/pull/208

[2020-02-04 05:18] #4701 closed

[2020-02-04 05:58] jlewi commented on #4721
I wasn't able to reproduce this in a cluster deployed using the 1.0 config.

Is this:

* all pods
* only pods with ISTIO side car
* just jupyter pods

Do you have any firewall settings or ISTIO policies that might affect outbound traffic?

[2020-02-04 06:04] jlewi commented on #4706
This looks like permission issues between the user the container is running as and the underlying file system in the notebook.

Could you provide the YAML spec for the Jupyter resource and Pod spec?

[2020-02-04 06:04] jlewi commented on #4706
/cc @kimwnasptd

[2020-02-04 06:07] jlewi commented on #4667
Did you try running with "--user" as the command suggests?

This will install the pip packages inside your /home/jovyan directory as opposed to the root python filesystem. This is typically what you want to do because /home/jovyan is backed up by persistent storage so if the pod restarts you won't have to reinstall your packages.

[2020-02-04 06:07] #4609 closed

[2020-02-04 06:09] jlewi commented on #4575
JupyterHub is no longer part of kubeflow. It was removed in 0.5 or 0.6.

[2020-02-04 06:09] #4575 closed

[2020-02-04 06:10] jlewi commented on #4706
Duplicate of #4520

[2020-02-04 06:10] #4706 closed

[2020-02-04 06:14] jlewi commented on #4705
I observed the same behavior on GCP using the default storage class (not ROK).

Bump back to P0; I think this is going to confuse a lot of people.

@fediazgon @kimwnasptd Is this related to the changes in the UI to surface events? Is there an easy way to show something less confusing to users?

[2020-02-04 06:21] jlewi commented on #4716
I'm still seeing this error even at
https://github.com/kubeflow/manifests/tree/861868c

Which should have the annotations removed.

[code]

[2020-02-04 06:28] jlewi commented on #4716
https://cert-manager.io/docs/usage/ingress/#supported-annotations

It looks like the annotation `kubernetes.io/tls-acme: true` might be triggering cert-manager.
It doesn't like this is used by GKE managed certificates.

[2020-02-04 07:42] fediazgon commented on #4705
Yes, it is related to [this change](https://github.com/kubeflow/kubeflow/pull/4214/files#diff-d575d8cda5f10ed63f52ac8e7a65b733R328). Right now the UI shows that status when the event matches the following predicate `eventType == 'Warning' and eventReason in ["FailedCreate", "FailedScheduling"]`.

One solution would be to limit the events that are shown by looking at the event's description. @kimwn

[2020-02-04 08:58] swiftdiaries opened #4725 "[vanilla k8s] Kubeflow 1.0 demo-script"
/kind feature

Persona: Infrastructure Engineer
Control Plane Walkthrough:

- [x] Install Kubeflow with (istio) KfDefs
- [ ]  Install Kubeflow with dex - pending
- [x] Configure / Get Istio IngressGateway endpoint
- [ ] Create profiles (w/ kubectl) #4725
- [x] Create notebooks from user-namespace (w/ kubectl)
- [ ] Login (port-forward) into notebook as user
- [ ] Create TFJob (w/ kubectl, fairing

[2020-02-04 10:00] ka-zo opened #4727 "Documentation is missing hints if kubeflow needs root privileges or not."
/kind bug

I have read relevant parts of the documentation (e.g. installation on Linux, on Kubernetes) and was also searching on the documentation website for the word 'root'. I did not find any hints if Kubeflow needs root privileges or not. Some tutorials, like the one [on how to install Kubeflow on OpenShift](https://www.lightbend.com/blog/how-to-deploy-kubeflow-on-lightbend-platform-openshift-

[2020-02-04 11:53] NikeNano commented on #4647
Should be in kubeflow/pipelines,my bad , will close this and make PR in kubeflow pipelines :)

[2020-02-04 11:53] NikeNano commented on #4647
Should be in kubeflow/pipelines,my bad , will close this and make PR in kubeflow pipelines :)

[2020-02-04 11:53] #4647 closed

[2020-02-04 13:28] vaskokj commented on #4667
@jlewi

Using `--user` does allow the package to be installed. I'll have to test it again, but after I wrote this up, I believe I had problems with `--user` when I was trying to upgrade applications that were already installed. I could be mistaken on that though and it could have been completely unrelated.

For this specific case though, using `--user` does to work.

[2020-02-04 13:33] vaskokj commented on #4520
There is an option in the UI to not have a persistent storage for the notebook. This error happens when you select that option.

[2020-02-04 14:01] jlewi commented on #3656
Here's the CR  from a 1.0 cluster deployed at
https://github.com/kubeflow/manifests/tree/861868c

This confirms the V1 API is listed.

[notebook.yaml.txt](https://github.com/kubeflow/kubeflow/files/4153785/notebook.yaml.txt)

[2020-02-04 14:03] jlewi commented on #4060
@kunmingg looks like we need to cherry-pick #837 into the 1.0 branch

[2020-02-04 14:07] jlewi commented on #3656
Looks like there are a couple issues left

* Liveness probes #4060 - waiting on cherry-pick and verification
* Reference Docs #3723
* Scalability load testing #4019

[2020-02-04 14:11] jlewi commented on #4026
Here's the app CR from a 1.0 cluster deployed at
https://github.com/kubeflow/manifests/tree/861868c

The app CR is set.
[centraldashboard.app.yaml.txt](https://github.com/kubeflow/kubeflow/files/4153873/centraldashboard.app.yaml.txt)

[2020-02-04 14:12] jlewi commented on #4015
/lifecycle frozen

[2020-02-04 14:13] jlewi commented on #4024
/lifecycle frozen

[2020-02-04 14:13] jlewi commented on #3781
This is fixed.

[2020-02-04 14:13] #3781 closed

[2020-02-04 14:15] jlewi commented on #4023
/lifecycle frozen

[2020-02-04 14:16] jlewi commented on #4026
It looks like the remaining work is

* Fixing the liveness probe #4022
* Adding prometheus metrics #4023
* Testing #4015 and #4023

[2020-02-04 14:30] jlewi commented on #3657
@kimwnasptd any update on this?

[2020-02-04 14:40] mfojtak opened #4728 "kubeflow 1.0 - errors while installing knative-serving components"
/kind bug

**What steps did you take and what happened:**
Trying to install kubeflow using this manifest on AWS kubernetes cluster:
https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_k8s_istio.v1.0.0.yaml

kfctl fails with this error:
[code]

**What did you expect to happen:**
Install kubeflow successfully

**Anything else you would like to add:**
I looked into knative we

[2020-02-04 15:39] fediazgon commented on #4712
I have noticed similar when you specify an inexistent image as a custom image.

I am not sure this is related with the jupyter-web-app, since the web-app uses the condition of the notebook to determine the overall status that is shown to the user.  The `notebook-controller` is most likely to be setting the wrong status in the notebook ("Running").

[code]

Notice

[code]

[2020-02-04 15:48] andreyvelich opened #4730 "Katib experiments don't work with control-plane label"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I used https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_k8s_istio.yaml config to deploy Kubeflow on my GCP cluster. In my Kubeflow namespace I saw 2 labels:
[code]
When I tried to run Katib [Random example](https://github.com/kubeflow/katib/blob/master/examples/v1alpha3/ran

[2020-02-04 16:22] joepeskett commented on #4661
Facing the same issue currently, I can see the profiles.kubeflow.org having run `kubectl get crd`  @jtfogarty did you find a fix for this in 0.7.1?

[2020-02-04 16:52] kunmingg commented on #4060
@jlewi https://github.com/kubeflow/manifests/pull/845

[2020-02-04 17:22] mfojtak commented on #4728
The problem is that I had kubeflow installed previously.
It is known problem that kfctl delete command does not work properly and leaves most of the objects undeleted.
What was blocking the install were objects in validatingwebhookconfigurations and mutatingwebhookconfigurations. I also deleted crds.
closed

[2020-02-04 17:23] #4728 closed

[2020-02-04 17:30] jlewi commented on #4022
The change to the centraldashboard is in
https://github.com/kubeflow/manifests/commits/0831dd56a6fa9d205a0dfce3242f18c88ce01295

I verified this as

[code]

So next step is just updating the manifest

[2020-02-04 17:37] mfojtak opened #4731 "User None is not authorized to list ... for namespace: anonymous"
/kind bug

**What steps did you take and what happened:**
Installed kubeflow 1.0.
While trying to create notebook server I am getting errors like:
[code]
and
[code]

**What did you expect to happen:**
Successfully create notebook servers

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Kubeflow version: (version numbe

[2020-02-04 17:40] mfojtak commented on #4721
It is only pods with ISTIO side car
There are no special firewall settings or ISTIO policies. It is a fresh vanilla install.

Btw, I tried to test it with 1.0 but I am getting error while creating notebook server:
[code]

[2020-02-04 17:47] mfojtak commented on #4728
Related to #3767

[2020-02-04 18:45] abhi-g opened #4732 "Ready 1.0 Blog and Webinar decks"
/kind feature

**Why you need this feature:**
Following Kubeflow release process, we need a 1.0 announcement blog post and a 1.0 Webinar deck for the upcoming release.

**Describe the solution you'd like:**
Here are the relevant drafts that authors should review:

- [Blog](https://docs.google.com/document/d/11h3OohwrQtRKtDoH1_0e2tMM_rFh5PBBKJRJTgTfjqg/edit?ts=5e3211c0)
- [Webinar Deck](https://doc

[2020-02-04 20:16] swiftdiaries commented on #4731
+1 facing the same issue with the `kfctl_k8s_istio` config

[2020-02-04 20:30] swiftdiaries commented on #4725
Installation:
Install with the `kfctl_k8s_istio` config succeeds.
Install with the `kfctl_istio_dex` config fails with readiness probe failed for the `authservice-0` in the `istio-system` namespace - not sure if I'm following the right deployment steps with the config.

Notebook Creation:
Fails with User not having permissions to create resources in newly created namespace

[2020-02-04 20:48] mfojtak opened #4733 "kfctl_istio_dex manifest fails"
/kind bug

**What steps did you take and what happened:**
Install kubeflow using kfctl_istio_dex manifest from here:
https://raw.githubusercontent.com/kubeflow/manifests/master/kfdef/kfctl_istio_dex.yaml

kfctl runs successfully but pods in istio-system namespace won't start with:
[code]

**What did you expect to happen:**
Kubeflow installed successfully

**Anything else you would like to add:**
[

[2020-02-04 22:23] kunmingg commented on #4720
kubeflow multi-tenancy is enabled by default on GCP, and kubeflow central UI requires every user owning their own profile to host their notebooks / running pods.

Current version of pipeline has not integrate with multi-tenancy mode yet, if you only want to use pipeline you can access pipeline UI directly at
`kf_endpoint_url/pipeline`, to skip checks from central UI.

[2020-02-04 22:39] kunmingg commented on #4666
Hi Feihong,

The notebook statefulset is owned by a notebook CR:
https://github.com/kubeflow/kubeflow/tree/master/components/notebook-controller

You can view them by
`kubectl get Notebook <your_notebook_name> -n <your_namespace> -o yaml`
The `spec` inside Notebook CR defines the `spec` of the statefulset.

You can add `securityContext` to the Notebook `spec` by
`kubectl edit Notebook <your_notebo

[2020-02-04 23:49] jlewi commented on #4716
Master cluster
https://github.com/kubeflow/manifests/tree/09cc432

[describe.txt](https://github.com/kubeflow/kubeflow/files/4156732/describe.txt)

I checked the events in stackdriver and I didn't see any warnings.

So just need to CP this onto the 1.0 branch and verify.

[2020-02-04 23:54] jlewi commented on #4718
Here's the centraldashboard with the new liveness probe on master.
https://github.com/kubeflow/manifests/tree/09cc432

Everything looks good; its set to /healthz and everything is working.

[centraldashboard.yaml.txt](https://github.com/kubeflow/kubeflow/files/4156750/centraldashboard.yaml.txt)

We just need to verify this on the 1.0 branch once the CP. lands.

[2020-02-05 00:17] jlewi commented on #4718
For a 1.0 branch cluster
https://github.com/kubeflow/manifests/tree/32aba35

Here's the output confirming liveness probe is working with the the new /healthz endpoint.
[centraldashboard.describe.txt](https://github.com/kubeflow/kubeflow/files/4156803/centraldashboard.describe.txt)

[2020-02-05 00:17] #4718 closed

[2020-02-05 00:17] jlewi commented on #4022
This has rolled out to master and v1
https://github.com/kubeflow/kubeflow/issues/4718#issuecomment-582180377

[2020-02-05 00:17] #4022 closed

[2020-02-05 00:21] swiftdiaries commented on #4733
Hey @mfojtak
I got the same error. [This](https://github.com/kubeflow/kfctl/issues/170#issuecomment-582151955) is a fix/workaround for the volume token mount error
Also, if you aren't setting the OIDC flags for the API server then the dex config might fail (Neverminf, if you've set them).

[2020-02-05 00:33] jlewi commented on #4060
Confirmed this is working in a v1 cluster deployed at
https://github.com/kubeflow/manifests/tree/32aba35

[notebook-controller-deployment.yaml.txt](https://github.com/kubeflow/kubeflow/files/4156846/notebook-controller-deployment.yaml.txt)

[2020-02-05 00:33] #4060 closed

[2020-02-05 00:41] swiftdiaries commented on #4731
The logs from the jupyter-web-app:
[code]
The decorator function for every action in the Jupyter Web App hits [this function](https://github.com/kubeflow/kubeflow/blob/master/components/jupyter-web-app/backend/kubeflow_jupyter/common/auth.py#L41). It seems to derive the `User` from the USERID_HEADER but since the `kfctl_k8s_istio` config runs w/o the EnvoyProxy Filter for setting the USERID_HEADER

[2020-02-05 02:26] paxinos commented on #4474
+1 .   Having the same issue on new cluster.

[2020-02-05 03:04] jlewi commented on #4716
Verified its working in a 1.0 cluster
https://github.com/kubeflow/manifests/tree/86522ed

Here's the ingress
[ingress.describe.txt](https://github.com/kubeflow/kubeflow/files/4157226/ingress.describe.txt)

[2020-02-05 03:04] #4716 closed

[2020-02-05 03:17] jlewi commented on #4705
@fediazgon thanks. What if we just returned STATUS_WAITING rather than STATUS_ERROR
https://github.com/kubeflow/kubeflow/pull/4214/files#diff-d575d8cda5f10ed63f52ac8e7a65b733R329

I guess the downside is that we might get stuck in waiting mode even for permanent errors. But that seems preferable to always showing an error.

[2020-02-05 03:29] jlewi commented on #4685
I think we are super close to finalizing the RC.

* kubeflow/kubeflow#4705 Jupyter UI issue is the only remaining bug
* kubeflow/manifests#834 is a fit and finish issue

[2020-02-05 03:38] nrchakradhar commented on #4023
/cc @yeya24 @nrchakradhar

[2020-02-05 03:43] yeya24 commented on #4023
I am not sure for the metrics for central dashboard. Should it rely on istio? WDYT @jlewi  @nrchakradhar

[2020-02-05 07:35] mfojtak commented on #4733
@swiftdiaries My cluster was bootstrapped by kops which does not allow to change those api server flags. Besides, it is pretty dangerous to tweak them. Also, the feature istio is forcing users to use is beta in k8s.
Is it possible to use older verion of istio? How can I do it in kubeflow?

[2020-02-05 08:25] chrisstockton opened #4735 "Tensorboard Viewer pod not mounting service account credentials properly"
/kind bug

**What steps did you take and what happened:**
I ran the mnist pipeline from the [examples](https://github.com/kubeflow/examples/blob/master/pipelines/mnist-pipelines/mnist_pipeline.py), but updated [model.py](https://github.com/kubeflow/examples/blob/master/mnist/model.py) file to include a tensorboard output field:

[code]

I then started a tensorboard for the output, but when I click

[2020-02-05 08:27] mingnet opened #4736 "The state of kfserving-controller-manage is CrashLoopBackOff"
/kind bug

**What steps did you take and what happened:**
I install kubeflow through kfctl_k8s_istio.0.7.1.yaml
The state of kfserving-controller-manage-0 is CrashLoopBackOff

**What did you expect to happen:**
The state of kfserving-controller-manage-0 is Running

**Anything else you would like to add:**
I execute the following command to check the log
`kubectl logs  kfserving-controller-manager-

[2020-02-05 08:56] vladhc commented on #4667
I tried, but it didn't work. I haven't copied the message. Currently uninstalled kubeflow. I will do test again this week to check exactly what is an output of `--user` option.

[2020-02-05 09:27] dilzeem commented on #3891
@wdhorton did you resolve this? I am also getting no listener being created in the ALB for port 443.

[2020-02-05 11:25] Kyrremann opened #4737 "K8s authrequests filling up"
/kind bug

**What steps did you take and what happened:**
I'm having a problem where Dex is generating a buck load of authrequests, which slowly over time will kill my apiserver. There is already this issue https://github.com/dexidp/dex/issues/1292, but I was curious if other has had similar problems.

For me it seems like it's API calls to Jupyter that needs to log in all the time, as

 is logged

[2020-02-05 12:11] yanniszark commented on #4737
Hi @Kyrremann, thanks for the detailed bug report.
I believe there are two orthogonal issues here:

1. Backend is accumulating too much state. Dex should take measures to prevent that (eg expire time, rate limiting, etc).
2. Something in your cluster is constantly accessing Dex while unauthenticated.

IMO, we should take two measures here:
1. Move the Dex state off of etcd. We don't want Dex crash

[2020-02-05 12:15] kimwnasptd commented on #4705
I'm also in favor of @fediazgon 's proposal. I think returning STATUS_WAITING will take us back from where we started when we would show the spinner even if the underlying Pod would fail to be created.

Looking at the description of the events seems a little dirty and in the future we might bump into another event that we hadn't anticipated and need to extend the description pattern matching.

But

[2020-02-05 12:22] yanniszark commented on #4474
cc'ing @richardsliu who is the author of https://github.com/kubeflow/manifests/pull/608

[2020-02-05 12:25] jlewi commented on #4731
@krishnadurai @yanniszark is someone looking into this?

[2020-02-05 12:53] krishnadurai commented on #4731
@kimwnasptd could we have a flag in subjectAccessReview method is_authorised to disable authorization for no-authentication configurations like kfctl_k8s_istio?

Similar to the DEV_MODE flag? https://github.com/kubeflow/kubeflow/blob/dfd447a5d61068b94c0edcf2d91b1ab9014e489a/components/jupyter-web-app/backend/kubeflow_jupyter/common/auth.py#L46-L51

[2020-02-05 12:58] fediazgon commented on #4705
I think we can do both. We can be explicit about the error events that we are expecting and, if we find any unknown error event we just return STATUS_WAITING but we still show the message in the UI.

I tried to replicate the behaviour in GCP using the default storage class, with the changes in https://github.com/kubeflow/kubeflow/pull/4729, now it shows like this:

![Screenshot 2020-02-05 at 13 51

[2020-02-05 13:01] jlewi commented on #4705
*  Will we be able to do a good job distinguishing permanent from temporary errors?
*  Don't we ultimately need to surface events to the user so they can remedy the situation? So rather than trying to classify events as warnings or errors; shouldn't we focus on them?

If Kubernetes is classifying it as a warning and not an error, should we be treating it as an error?

Here's my failed pod
[jlewi-0

[2020-02-05 13:13] Felihong commented on #4666
Hey @kunmingg , thanks for pointing out!

I edited the notebook object directly and it works fine. Is there any possibility to configure the security context before notebook creation?
Anyhow it will be nice if users can be allowed to specify a privileged container mode before launching the notebook in the upcoming release :)

[2020-02-05 13:19] jtfogarty commented on #4737
/area front-end
/priority p1

[2020-02-05 13:21] jlewi commented on #4731
That might work as a short term fix. That approach though has a pretty big downside that it forces us to special case the logic everywhere.

I think the alternative approach that was proposed was that we handle the non-auth case by mapping all users to some account e.g. anonymous.

I think the bug we encountered with that in other places we assume users can be the subject of RBAC rules. So if we j

[2020-02-05 13:23] yanniszark commented on #4737
@jtfogarty I believe this is more of an auth issue:

/assign @yanniszark
/remove-area front-end
/area auth

[2020-02-05 13:26] Kyrremann commented on #4737
Agree that there is two problem, and moving Dex out would be a safe measurement for future problems.

About #2 which is the main problem for me. The reason for that I'm "blaming"  central is that the jupyter dashboard is talking with the API nonstop to get the list of notebooks:
`https://kubeflow.adeo.no/jupyter/api/namespaces/<namespace>/notebooks`

![image](https://user-images.githubusercontent.

[2020-02-05 13:26] fediazgon commented on #4705
Sounds fine to me. Let's keep it simple then.

[2020-02-05 13:28] jlewi commented on #4689
@jtfogarty Issues about notebooks should be assigned area/jupyter

[2020-02-05 13:36] jlewi commented on #4737
I would expect the Jupyter UI is constantly polling the APIServer in order to get info about notebooks to display.  Its possible that maybe using a watch would be more efficient.

If this is triggering APIServer auth requests, I suspect this might be related to the subject access review checks performed by the notebook UI server.

/cc @kimwnasptd

[2020-02-05 13:39] jlewi commented on #4736
/assign @animeshsingh

[2020-02-05 13:41] jlewi commented on #4735
cc @jessiezcc

[2020-02-05 13:47] jlewi commented on #4730
I think this is working as intended.

Katib jobs should be running in profile; i.e. user namespaces and not the system "kubeflow" namespace.

The control-plane label is used to prevent admission hooks from being applied to the namespace where the admission controller is running. This is to prevent deadlocks.

For example, suppose you have an admission webhook in Kubeflow namespace that is configur

[2020-02-05 13:49] jlewi commented on #4724
/cc @richardsliu

[2020-02-05 13:53] jlewi commented on #4721
The latter issue looks like #4731

[2020-02-05 13:53] jlewi commented on #4721
/cc @Jeffwan  since this is on AWS

[2020-02-05 13:56] jlewi commented on #4719
@Jeffwan A lot of the linked issues look like they are still open. Is any of this release blocking?

Does the demo script http://bit.ly/demo-v1-0 work on AWS?

[2020-02-05 13:59] jlewi commented on #4712
@fediazgon In your case why is the container restarting? Could you provide the output of describe for the pod?

[2020-02-05 14:08] jlewi commented on #4704
@Tabrizian  any idea?
Looks like the base image is configured to be the py3 version
https://github.com/kubeflow/kubeflow/blob/dfd447a5d61068b94c0edcf2d91b1ab9014e489a/components/tensorflow-notebook-image/versions/1.14.0gpu/version-config.json#L2

[2020-02-05 14:13] jlewi opened #4738 "KF1.0: No GPU Vendors Listed In UI (GCP)"
/kind bug

Here's a screen shot of the Jupyter UI in a 1.0 cluster
https://github.com/kubeflow/manifests/tree/dd24e6e
![gpu_vendor](https://user-images.githubusercontent.com/777219/73849282-86e9c300-47de-11ea-96d3-f138269e7a3a.png)

No vendors are listed in the GPU window.

@kimwnasptd do the GPU vendors need to be listed in a configmap?

[2020-02-05 14:15] kimwnasptd commented on #4738
@jlewi yes, I made a [PR](https://github.com/kubeflow/manifests/pull/798) to manifests to resolve this one but I'm having some problems with the tests.

[2020-02-05 14:32] jlewi commented on #4738
thanks @kimwnasptd replied on the PR

[2020-02-05 16:27] TristansCloud commented on #3761
Did this ever work? Having the same issue but getting 404 when trying to connect to my server with my custom image. My image is here docker.io/tristankcloud/kale-notebook:kale-juplab

[2020-02-05 17:35] jlewi commented on #4720
@kunmingg Does every user need their own namespace? Or can users be added as members of an existing namespace if they want to share that namespace. I think that is a use case we should support

[2020-02-05 17:39] jlewi commented on #4711
The TFJob is failing because the service account "default-editor" doesn't exist in the target namespace.
There's a couple ways to fix this.

1. You can run in a profile created namespace so that you have the default-editor service account

    * This is probably what you want to do because that service account will be mapped using workload identity to a GCP service account to allow access to GCP r

[2020-02-05 17:43] animeshsingh commented on #4736
@mingnet if you are on kubeflow slack, please join the #kfserving channel and we can help debug there.

[2020-02-05 17:45] jlewi commented on #4704
Lets verify that the new 1.0 image has TF and if it does close this issue.

[2020-02-05 17:48] jlewi commented on #4707
@jtfogarty could you please provide the logs for the backend server for jupyter UI?

@kimwnasptd could you help @jtfogarty with the commands to debug the issue?

[2020-02-05 17:52] jlewi commented on #4702
@yanniszark What would it mean to logout? Do you mean clearing the Dex/IAP cookies?

IAP has a URL users can go to to clear their cookie.
https://cloud.google.com/iap/docs/special-urls-and-headers-howto

I would assume you need to be "logged in" in order to access all KF resources.

[2020-02-05 17:54] jlewi commented on #4700
Ambassador is no longer part of Kubeflow and it sounds like you are installing it yourself.

I would suggest using Ambassador's forums to get help with Ambassador.

[2020-02-05 17:54] #4700 closed

[2020-02-05 17:58] yanniszark commented on #4731
@jlewi @swiftdiaries I believe that supporting the non auth use case by writing alternate paths in our apps is not a very scalable option long term.

I would propose hardcoding a user, like @jlewi proposes.
This could be done with an Istio rule to add a userid header to every request coming from the istio gateway.

[2020-02-05 18:03] jlewi commented on #4681
It looks like there was a problem copying the istio-crds application from the cache to the application directory
https://github.com/kubeflow/kfctl/blob/4df015716ef484b386d9000594e3d24e334ebe5e/pkg/kfapp/kustomize/kustomize.go#L365

Here's the spec
https://github.com/kubeflow/manifests/blob/eae2dae52d83b4fbfd22da86e27185f6347664dd/kfdef/kfctl_k8s_istio.0.7.1.yaml#L299

It looks like the path is val

[2020-02-05 18:15] Tabrizian commented on #4704
@jlewi I tried running a brand new notebook and it has tensorflow. Also, I tried the individual docker image and it works. I tried it on `kubeflow v0.7`.

[2020-02-05 18:24] jtfogarty opened #4739 "Notebook Server Naming Standard"
/kind bug

**What steps did you take and what happened:**
I attempted to create a notebook server with the following name
[code]
The creation failed with the below error;
![Screen Shot 2020-02-05 at 12 16 49 PM](https://user-images.githubusercontent.com/6708730/73870329-84ed2780-4811-11ea-9eba-6f5754c4d5fc.png)

**What did you expect to happen:**
The UI should display a message indicating the allo

[2020-02-05 18:25] jtfogarty commented on #4739
/area jupyter
/priority p1

[2020-02-05 19:46] jlewi commented on #4704
@Tabrizian thanks

I tagged the new images

gcr.io/kubeflow-images-public/tensorflow-1.15.2-notebook-cpu:1.0.0
gcr.io/kubeflow-images-public/tensorflow-1.15.2-notebook-gpu:1.0.0
gcr.io/kubeflow-images-public/tensorflow-2.1.0-notebook-cpu:1.0.0
gcr.io/kubeflow-images-public/tensorflow-2.1.0-notebook-gpu:1.0.0

[2020-02-05 19:54] jlewi commented on #4704
I did a sanity check on the new image

[code]

I also see CUDA in the image

[code]

[2020-02-05 19:58] jlewi commented on #4704
I tried gcr.io/kubeflow-images-public/tensorflow-1.15.2-notebook-gpu:1.0.0 in a python3 notebook on KF 1.0 and it also worked.

[2020-02-05 20:09] fediazgon commented on #4712
When the user does not use persistent storage, the readiness probe reports "Unhealthy", and the kubelet tries to restart the container

[fediazgon-no-storage.pod.txt](https://github.com/kubeflow/kubeflow/files/4161708/fediazgon-no-storage.pod.txt)

[code]

When the user specifies an inexistent custom image, the pod enters in a `ImagePullBackOff` state.

[fediazgon-no-image.pod.txt](https://github.

[2020-02-05 21:00] jlewi commented on #4705
Confirmed this is working on master now
https://github.com/kubeflow/manifests/tree/830e1a0

![unbound_claim](https://user-images.githubusercontent.com/777219/73882705-62f6a380-4817-11ea-9f8e-6d4a3a20ca06.png)

Will LGTM the cherry pick into the 1.0 branch.

[2020-02-05 21:01] jlewi commented on #4705
https://github.com/kubeflow/manifests/pull/868

Just need to wait for it land in auto-deployed cluster so I can verify on 1.0.

[2020-02-05 21:18] jlewi commented on #4680
Duplicate of kubeflow/manifests#375

[2020-02-05 21:18] #4680 closed

[2020-02-05 21:24] jlewi commented on #4678
@DdMad are you running on Kubernetes 1.13? We only test and validate on 1.14 now.  So that could be the problem.

[2020-02-05 21:24] #4677 closed

[2020-02-05 21:29] jlewi commented on #4673
This is working as intended.

The role is a ClusterRole but we create a rolebinding (not a clusterrolebinding) so permissions are only granted in the namespace the notebook is running.

The notebook should also by default use the service account "default-editor". This has a role binding to grant permissions for all the things a user might want to do in the namespace (e.g. run notebooks, submit job

[2020-02-05 21:29] #4673 closed

[2020-02-05 21:39] jlewi commented on #4670
Looks like the error is coming from here:
https://github.com/kubeflow/kubeflow/blob/02f293c74d41f4240bfc5ddf2181b23ae7c1179c/components/gcp-click-to-deploy/src/DeployForm.tsx#L695

It looks like the code is never able to successfully get the project number
https://github.com/kubeflow/kubeflow/blob/02f293c74d41f4240bfc5ddf2181b23ae7c1179c/components/gcp-click-to-deploy/src/DeployForm.tsx#L928

@hac

[2020-02-05 21:39] yanniszark commented on #4702
For dex, we navigate to `/logout`, which is a special authservice path.
The authservice clears the user sessions and unsets the cookie.

For IAP, I see that you need to go to `/_gcp_iap/clear_login_cookie`.
I suspect it does something similar behind the scenes.

The pattern seems to be that you logout by going to a special logout URL.
Because of that, it seems a good idea to make this part of the

[2020-02-05 21:51] kunmingg commented on #4670
Are you log in as owner account of the project?
And the UI expect project id (not project name) to specify target project.

[2020-02-05 22:34] jlewi commented on #4705
v1
https://github.com/kubeflow/manifests/tree/7abafe2

Looks good
![v1_unbound_claim](https://user-images.githubusercontent.com/777219/73889480-a4da1680-4824-11ea-998f-30ea1a0bb596.png)

[2020-02-05 22:35] #4705 closed

[2020-02-05 22:40] jlewi commented on #4667
@vladhc Can you provide more information about what doesn't work mean?

@vaskokj you might be running into issue with your python path

We use this in our xgboost_synthetic notebook which we run under ci
https://github.com/kubeflow/examples/blob/188ba8f091cd952ddf71551dba1ad46776e6d46c/xgboost_synthetic/notebook_setup.py#L21

If you look here
https://github.com/kubeflow/examples/blob/188ba8f091cd9

[2020-02-05 22:45] jlewi commented on #4666
I think @kunmingg 's suggestion of creating the notebook resource via the CLI is the right way to go.

I'm not sure its worth exposing in the UI. I guess it depends on how common setting the security context is. For complete control you can just use the API & CLI

/cc @kimwnasptd

[2020-02-05 22:48] yantriks-edi-bice commented on #3727
@richardsliu please see related #4724

[2020-02-05 22:49] jlewi commented on #4661
@jtfogarty Are you able to connect to the master from pods inside the cluster? You could try running kubectl in a container?

Are any of the other controllers working?

[2020-02-05 22:52] #4656 closed

[2020-02-05 22:52] jlewi commented on #4651
Duplicate of kubeflow/kfserving#596

[2020-02-05 22:52] #4651 closed

[2020-02-05 22:53] yantriks-edi-bice commented on #4724
I noticed @richardsliu stating in #3727 that the 1.0 RC version of the kfctl must be used for upgrade. Downloaded 1.0 RC4 and yes indeed it solved THIS issue - though it required that I provide an absolute path as relative path had same problem

So this worked though not as described in document

kfctl build -f /Users/edibice/kubeflows/kfctl_upgrade_gcp_iap_0.7.1.yaml  -V

It did not create the ${

[2020-02-05 22:58] jlewi commented on #4650
This looks like an issue with your ingress.

How is the ingress to your Kubeflow cluster configured? Are you accessing your cluster through the ingress (as opposed to port-forwarding to centraldashboard)

"/jupyter", "/katib" etc... are reverse proxy routes set up through ISTIO on your ingress.

You can run

[code]

To see a list of routes.

How did you deploy Kubeflow and configure ingress to Kub

[2020-02-05 22:58] andreyvelich commented on #4730
Thank you for your answer @jlewi.

Actually, when I create profile and submit Katib job in created namespace, webhook works and adds Metric Collector Spec to the Experiment.
Should we handle situation when user tries to submit Experiment in namespace where admission controller is running?

Also, unfortunately in the Training Container pod I saw these errors:
[code]
Any thoughts @hougangliu @johnug

[2020-02-05 23:03] jtfogarty commented on #4707
@jlewi I do not see this happening on the latest;

Kubeflow version: dev_local
kfctl version: v1.0-rc.2-13-g521fcfe
Kubernetes platform: v1.15.7
Kubernetes version: v1.15.7
OS (e.g. from /etc/os-release): NAME="CentOS Linux"
VERSION="7 (Core)"

[2020-02-05 23:08] kunmingg commented on #4661
kubeflow v0.7.1 should be using profile `kubeflow.org/v1beta1`,
but the error log complains about `kubeflow.org/v1alpha1`.

[2020-02-05 23:12] jlewi commented on #4607
see https://cloud.google.com/kubernetes-engine/docs/release-notes#january_24_2020 for release notes about GKE versions to avoid with bugs in workload identity
see kubeflow/kubeflow#4693

The Kubeflow 0.7.1 and 1.0.0 configs are pinned to known good versions.

[2020-02-05 23:12] #4607 closed

[2020-02-05 23:13] jlewi commented on #4599
Closing this due to lack of response. @Luke035 please reopen if you are still having problems.

[2020-02-05 23:13] #4599 closed

[2020-02-05 23:14] jlewi commented on #4590
@krishnadurai what is the remaining work before we close this out?

[2020-02-05 23:17] jlewi commented on #4596
Did you try running `bash` to start a bash shell in the terminal?

I'm not sure what the default is but I found bash to be much more usable.

Kubeflow's jupyter images are just the TensorFlow images.

You can always build your own jupyter image or take an existing jupyter image and make it worth Kubeflow in order to pick up the features you like
https://www.kubeflow.org/docs/notebooks/custom-noteb

[2020-02-05 23:17] #4596 closed

[2020-02-05 23:21] jlewi commented on #4588
@yanniszark I'm fine with using webhooks. Its not clear from the docs whether its "a way" of doing things or "the recommended ways".

Replacing the defaulting with a webhook seems like low priority but if someone wants to do it; sounds good to me.

What work is needed to close this issue out?

[2020-02-05 23:21] #4584 closed

[2020-02-05 23:29] kunmingg commented on #4720
Multiple users sharing a namespace is supported.

[2020-02-06 00:24] jlewi commented on #4738
Fixed on master at https://github.com/kubeflow/manifests/tree/30b666f
![master_vendor](https://user-images.githubusercontent.com/777219/73895309-05248480-4834-11ea-9ae7-f70f1e96cdcc.png)

[2020-02-06 00:52] jlewi commented on #4738
Before we close this is issue I would like to ensure that on GCP a GPU node gets properly provisioned and the pod assigned.

[2020-02-06 01:39] gaocegege commented on #4730
Is the istio sidecar injected into the training pod?

[2020-02-06 02:02] kim-sardine commented on #4735
exactly same problem here!

[2020-02-06 02:22] kim-sardine commented on #4735
just in case of `secret/gcp-credentials` path issue, I'll attach a part ofmy viewer-deployments's yaml file
[code]

whereas my compiled pipeline yaml file is using different path

[code]

I'm using latest kubeflow. I re-installed whole cluster yesterday.

[2020-02-06 02:25] DdMad commented on #4720
@kunmingg Thanks for the reply. Look forward to the multi-tenancy feature.

[2020-02-06 03:41] jlewi commented on #4738
Confirmed this is working.

* Using the new UI I was able to attach a GPU
* NAP automatically created a GPU node pool
* I verified I could import tensorflow and see the GPU

https://github.com/kubeflow/manifests/tree/129b889
[pod.txt](https://github.com/kubeflow/kubeflow/files/4163109/pod.txt)

![tensorflow](https://user-images.githubusercontent.com/777219/73903982-7160b180-484f-11ea-8eed-a0f0ac7c

[2020-02-06 03:41] #4738 closed

[2020-02-06 03:43] jlewi commented on #4704
I verified that the new 2.1.1 GPU image has TF as well.
https://github.com/kubeflow/manifests/tree/129b889

[2020-02-06 03:43] #4704 closed

[2020-02-06 03:45] jlewi commented on #4731
@krishnadurai and @kimwnasptd is someone working on this?

[2020-02-06 04:06] johnugeorge commented on #4711
Agree. We can add in the next release

[2020-02-06 04:20] krishnadurai commented on #4731
/assign @krishnadurai

[2020-02-06 04:48] #4249 closed

[2020-02-06 04:56] vielmetti commented on #2337
It looks like this issue has not had activity for a few months, but also that a patch has been merged to a related project https://github.com/kubeflow/metadata/pull/164 in the intervening time, I'm interested to get a status update.

At the last we looked @MrXinWang was making some progress - hoping to get an update on anything relevant there as time and continued interest allows.

[2020-02-06 07:54] swiftdiaries commented on #4731
These are the things that I've done:
1. Created an Envoy Filter to add the header to all requests
2. Set the same env var on the jupyter web app

Envoy Filter:
[code]

And I can see the headers when I curl the service.
Headers:
[code]

But the jupyter web app can't see the headers(?)
Env Vars:
[code]

Logs:
[code]

[2020-02-06 08:02] swiftdiaries commented on #4733
Unfortunately, Istio forces us to use these for kubeadm created clusters. The next version of Istio removes this dependency.
The OIDC flags are also API server flags. You can set the API server flags on kops with the cluster spec on [these types](https://github.com/kubernetes/kops/blob/master/pkg/apis/kops/v1alpha2/componentconfig.go#L441).
I understand that these are beta features and likely to c

[2020-02-06 08:17] Kyrremann commented on #4737
Maybe one of the issues in my setup is that I have different address for issuer and redirect?
What is the normal config?

From my Dex configmap:
[code]

[2020-02-06 08:18] krishnadurai commented on #4731
/unassign
/assign @swiftdiaries

[2020-02-06 09:21] andreyvelich commented on #4730
Yes.
Also I tried to run `requests.get(http://yann.lecun.com/exdb/mnist/train-labels-idx1-ubyte.gz", stream=True)` on the training container and it was working fine with returning 200 code. Only problem when it is running from the training code

[2020-02-06 10:28] kimwnasptd commented on #4707
I remember seeing these errors back on 0.6.

IIRC this had happened to me if I had left the tab idle for a long period of time and then I re-opened it. I also wasn't able to see these errors in the backend's logs.

@jtfogarty could you also post the output from
[code]

[2020-02-06 11:43] andreyvelich opened #4742 "Katib training containers should wait until istio proxy will be ready"
/kind bug

**What steps did you take and what happened:**
To solve this problem https://github.com/kubeflow/kubeflow/issues/4730#issuecomment-582653698 I had to add 1-2 minutes delay before running `request` to download mnist dataset in the training container.
The problem was that istio proxy container was not ready when training container ran request.

Training containers should somehow wait unti

[2020-02-06 11:45] andreyvelich commented on #4730
With @krishnadurai help we figure out the problem.
I submit another issue: https://github.com/kubeflow/kubeflow/issues/4742

[2020-02-06 11:57] yanniszark commented on #4733
Hi @mfojtak.
Another option would be to install Istio without SDS.

The steps for that would be something like:
1. Download the Istio version that Kubeflow uses and generate their manifests with SDS disabled.
2. Make your own kustomize package of those manifests.
3. Include it in your KfDef, replacing the current one.

I understand this is a very manual process, so if someone has the time to try i

[2020-02-06 11:59] yanniszark commented on #4188
/remove-lifecyle stale
/lifecycle frozen

[2020-02-06 12:03] yanniszark commented on #4731
@swiftdiaries I believe that tracing the headers through each hop (with something like tcpdump) will reveal the underlying issue.

[2020-02-06 12:18] andreyvelich commented on #4742
/cc @richardsliu

[2020-02-06 12:21] mfojtak commented on #4733
@yanniszark well, that sounds like a lot of work. I hoped I would just install kubeflow without having to do any plumbing.
I understand it is a complex system and I respect that.
The only thing I wanted was to show sandbox vanilla kubeflow to my colleagues. And I am struggling bad with just that.
On the other hand, I am adaptable person and I can improvise. I tried everything:
1. Installing kubefl

[2020-02-06 12:30] yanniszark commented on #4733
@mfojtak I should mention here that since all config files are using the same Istio version, you will encounter this issue on all of them.

I can see many possible solutions:
* Use [MiniKF](https://www.kubeflow.org/docs/other-guides/virtual-dev/getting-started-minikf/). This is one of the easiest ways to get started and explore Kubeflow without caring too much about the installation procedure.
* U

[2020-02-06 12:30] krishnadurai commented on #4742
@andreyvelich A minor correction to the issue header comment.
The pods for the experiment should have the annotation 'istio-injection': 'disabled' rather than the namespace. So the controller creating the pods might want to add these annotations.

[2020-02-06 12:31] fediazgon commented on #3657
If @kimwnasptd is Ok with it I can start working on this. I've seen there are a lot of `area/jupyter` tickets in [KF1.0](https://github.com/orgs/kubeflow/projects/25#card-32544148) that could be easily tested if we have a suite in place.

I've already started to refactor https://github.com/jlewi/kubeflow/blob/1690703d261d29ccd7e1d5ff154d79064473d9d8/kubeflow/jupyter/tests/jupyter_test.py#L85

[2020-02-06 13:21] UllasShanthakumar opened #4743 "Cannot get into the notebook-controller-deployment POD."
/kind bug

**What steps did you take and what happened:**
I have setup a Ubuntu VM on OpenStack and deployed Kubeflow on it.
I am not able to get into notebook controller deployment pod.

**I get the following error :**
kubectl -n kubeflow exec -it notebook-controller-deployment-7645699bdb-gbbnk bash
error: Internal error occurred: error executing command in container: failed to exec in container:

[2020-02-06 13:28] vivekpd15 commented on #4733
Have been struggling since 3 days to do the same on a KOPS 1.15 cluster. @mfojtak If you manage to get the trusted JWT feature working, please let me know. I will do the same.

[2020-02-06 14:13] h4gen commented on #4666
Hi @jlewi, @yanniszark . I share @Felihong's opinion that this is totally worth it, to expose to the user in the UI.

I think mounting buckets is a really powerful feature for a lot of different scenarios. To enable the responsible Data Scientist to create a resource which is capable to do so, looks like a no-brainer to me.

To ask an administrator to manipulate notebook resources seems to add a l

[2020-02-06 15:43] vaskokj commented on #4667
@jlewi

I don't quite follow how my paths are screwed up. This seems to be an issue within the docker container itself.

[2020-02-06 16:10] yantriks-edi-bice commented on #4724
@ @
[kubeflow_07_071_upgrade.pdf](https://github.com/kubeflow/kubeflow/files/4166205/kubeflow_07_071_upgrade.pdf)

Applied build above and it seems to have at least run to completion as the attached logs show. The Kubeflow UI interface however still shows "build version 0.7.0"

[2020-02-06 17:45] jobvarkey opened #4744 "How to enable to run sudo from kubeflow jupyter notebook terminal"
Hi,

I am running Kubeflow v0.70.
In the Kubeflow jupyter nootbook terminal I need to switch to root for installing some pip packages but the sudo command is asking for jovyan password which i don't have.

$ sudo su -
[sudo] password for jovyan:

Does anyone know how to enable sudo in kubeflow jupyter notebook?

Thanks,
Job Varkey

[2020-02-06 18:14] jtfogarty commented on #4707
@kimwnasptd I'm not seeing this issue any longer.

I'll continue to test but it appears to no longer be an issue.

[2020-02-06 18:17] jtfogarty commented on #4661
@jlewi I no longer have this cluster in gke.  I plan to reinstall with the latest today

[2020-02-06 18:40] jlewi commented on #4241
It looks like the PRs have been merged so I'm going to close this issue.

[2020-02-06 18:40] #4241 closed

[2020-02-06 21:41] acesir commented on #3767
It would be nice to have this issue resolved and kfctl delete actually cleanly removing all resources and CRD's. Does not seem possible in 0.7 or 1.0rc to cleanup kubeflow other than writing our own scripts to remove all resources.

[2020-02-06 21:58] jtfogarty commented on #4707
this error appeared today.  Attached are the logs
[jupyter-web-app-deployment.log](https://github.com/kubeflow/kubeflow/files/4167916/jupyter-web-app-deployment.log)

[2020-02-07 00:36] swiftdiaries commented on #4712
+1 facing a similar bug.
Notebook pod crash loops but UI shows green tick (successful deployment).

Notebook pod describe:
[code]

Notebook pod fails because of an (unrelated) permissions issue on files in `/home/jovyan/` but thought this was relevant

[2020-02-07 05:38] jlewi commented on #4731
@swiftdiaries Is adding response headers what you want to do? Don't you want to add them to the request as the request is what the jupyter web app sees.

I think one thing that could could be helpful to debug this is to write a simple web app (e.g. in flask/go etc...) that just echos back the request and headers. This way you can easily see what headers were on the request.

I suspect ISTIO might

[2020-02-07 05:41] jlewi commented on #4743
This is working as intended. We are using distroless images.
https://github.com/GoogleContainerTools/distroless

I don't think these images contain bash or other shell environment.

[2020-02-07 05:41] #4743 closed

[2020-02-07 05:41] jlewi commented on #4739
/cc @kimwnasptd

[2020-02-07 05:46] jlewi commented on #4730
@yeah waiting until ISTIO side cars are ready seems like a problem for a lot of workloads. I'm not sure what a good solution is. Adding retries/wait logic to every program seems bad.

@andreyvelich It would be nice to prevent people from trying to submit jobs to the kubeflow namespace. Any thoughts on what the best way to do that would be?

Perhaps we should add a validating webhook?

[2020-02-07 07:56] kim-sardine commented on #4735
I think the issue below is caused by the same reason.
https://github.com/kubeflow/pipelines/issues/2883

[2020-02-07 07:56] mfojtak commented on #4733
@vivekpd15
I took a risk and set flags serviceAccountIssuer and serviceAccountSigningKeyFile.
The kube api server would not come again!
I was lucky to roll back the changes and my cluster is healthy again.
So I would not recommend to tweak the dangerous settings.

[2020-02-07 08:37] kimwnasptd commented on #3657
Just finished the basic structure of the test. It has two test cases for now:
1. Check that the index page can load and doesn't have a popup error
2. Check that the form page can load and doesn't have a popup error

Lets first add these tests to have something to work with and we can then further expand them.

@jlewi IIUC the python test file will be in the `kubeflow/kfctl` repo, under the `py/kub

[2020-02-07 08:38] kimwnasptd commented on #4739
/assign kimwnasptd

[2020-02-07 08:52] chrisstockton commented on #4735
That does look like the same error.  I believe the bucket is inaccessible in both cases because of the error in mounting the secret as a volume causing the `GOOGLE_APPLICATION_CREDENTIALS` to point to a directory instead of an application credentials file.

I looked through some of the code and found where (I think) the viewer pod was being launched, but I couldn't determine where the volume mount

[2020-02-07 13:43] andreyvelich commented on #4730
@jlewi What do you think about adding annotation `sidecar.istio.io/inject: "false"` to all Katib's components?

Yes, validating webhook sounds good to me.

What do you think @johnugeorge @gaocegege ?

[2020-02-07 17:21] UllasShanthakumar opened #4745 "Notebook Servers cant pull docker image from private registry."
/kind question

**Question:**
Hi Team,

I would like to know the configurations required to use our custom image which is hosted in our private docker registry. Do we have a step by step procedure which needs to be followed to obtain the same.
When i use a Custom image while launching a Notebook Servers we are getting **ImagePullBackOff** error. The complete path of the image is provided.
I am not

[2020-02-07 18:07] johnugeorge commented on #4730
Sounds good to me

[2020-02-08 01:44] libgy8zli commented on #4731
same issue with EKS and kfctl.1.0.0rc

[2020-02-08 08:11] mfojtak commented on #4721
I can confirm the same issue is with arrikto 0.7.1 install.
I was hoping the issue might be related to anonymous user but it is there with authenticated users either.

[2020-02-08 15:02] yanniszark commented on #4721
@mfojtak found this Stack Overflow thread, not sure if relevant in your case:
https://stackoverflow.com/questions/50840101/curl-35-error1408f10bssl-routinesssl3-get-recordwrong-version-number

But in any case, having more info about the curl command would help.
Can you run curl with `-i -v` flags and paste the output?

[2020-02-08 16:07] mfojtak commented on #4721
@yanniszark
Here is the verbose curl output:
[code]
The thread suggests to use proxy but this not my case.
This issue is a huge roadblock for me as I cannot download data using, install packages or use git from kubeflow notebook.

[2020-02-08 19:15] jlewi commented on #4731
@swiftdiaries any update on this?
/cc @Jeffwan

[2020-02-08 23:09] jlewi commented on #4742
Istio reference https://istio.io/docs/setup/additional-setup/sidecar-injection/#understanding-what-happened

[2020-02-09 00:59] yuzisun commented on #4736
@mingnet  Did you deploy kfserving from master branch ? Looks like it is trying to register v1 knative crds and in 0.7 kubeflow knative 0.8 is installed which only has knative v1alpha1 crds.

[2020-02-09 06:51] Jeffwan opened #4746 "Expose more attributes options in profile controller"
/kind feature

**Why you need this feature:**
Currently, profile controller create istioRBAC with attributed `request.headers`

[code]
https://github.com/kubeflow/kubeflow/blob/master/components/profile-controller/controllers/profile_controller.go#L389

In AWS, there's no header can be used directly, we consider to use `claim.*` after istio decode our jwt token. In this case, we need to make some

[2020-02-09 08:14] mfojtak commented on #4733
I managed to solve this by following steps:
 - installed Istio 1.4.3
 - installed kfctl_istio_dex.yaml with istio-crds and istio-install removed and set clusterRbacConfig to OFF

Now all works and it solves #4731
Should upgrade to Istio 1.4.3 be taken into consideration for 1.0 release?

[2020-02-09 08:14] mfojtak commented on #4731
I managed to solve this by following steps:
 - installed Istio 1.4.3
 - installed kfctl_istio_dex.yaml with istio-crds and istio-install removed and set clusterRbacConfig to OFF

Now all works and it solves #4733
Should upgrade to Istio 1.4.3 be taken into consideration for 1.0 release?

[2020-02-09 08:19] #3750 closed

[2020-02-09 08:54] swiftdiaries commented on #4731
That's awesome ! Since only the `kfctl_istio_dex.yaml` config uses the `istio-1.3.1` it might be worthwhile to consider upgrading.
WDYT? @yanniszark @krishnadurai

On another note, this would still be an issue with the `kfctl_k8s_istio.yaml` and I'm trying to set the right headers but I still can't get visibility into how the Jupyter Web App is getting the request.

You're right @jlewi, I was thro

[2020-02-09 09:11] krishnadurai commented on #4731
@mfojtak which config: 'kfctl_k8s_istio.yaml' or 'kfctl_istio_dex.yaml' is this particular issue referring to?
'kfctl_k8s_istio.yaml' might set up a user named 'anonymous' and is a no-auth based config.

[2020-02-09 09:24] mfojtak commented on #4721
I managed to solve this by following steps:

installed Istio 1.4.3
installed kfctl_istio_dex.yaml with istio-crds and istio-install removed and set clusterRbacConfig to OFF
Now all works and it also solves #4733
Should upgrade to Istio 1.4.3 be taken into consideration for 1.0 release?

[2020-02-09 09:25] mfojtak commented on #4731
Sorry, my mistake. This comment was meant for #4721 and #4733

[2020-02-09 10:49] krishnadurai commented on #4731
The PR kubeflow/manifests#885 looks to address this issue by adding the user anonymous@kubeflow.org.

Here's the status of the UI before the filter is applied:
<img width="1563" alt="Before UI" src="https://user-images.githubusercontent.com/6263389/74100727-e7b72980-4b57-11ea-8bfe-520dd7b40401.png">

After the EnvoyFilter is applied:
<img width="1676" alt="After UI" src="https://user-images.github

[2020-02-09 12:51] yanniszark commented on #4744
Hi @jobvarkey!
Installing packages with pip should be done with the --user option.
This way, they end up in your workspace volume which isn't affected even if the Pod restarts.

[2020-02-09 15:19] #4414 closed

[2020-02-09 21:19] #3637 closed

[2020-02-09 23:24] Jeffwan commented on #4546
That's true. [kubeflow/manifests#673](https://github.com/kubeflow/manifests/pull/673) create DB overlay for metadata. Pipeline actually use mysql as well and for most of the users, they should share the same MYSQL instances. This can be done on the top layer by kfctl and manifest settings as you said.

[2020-02-10 02:02] #4003 closed

[2020-02-10 02:02] #3496 closed

[2020-02-10 02:02] #4189 closed

[2020-02-10 02:02] #4131 closed

[2020-02-10 02:18] MrXinWang commented on #2337
Hi @vielmetti , I was on the vacation before and therefore sorry for the late reply.

Yes we are still working for the support of kubeflow for aarch64 platform and I would like to update you about current status of kubeflow on arm from us:

- Progress so far:
1. We managed to make the kubeflow v0.5.1 works on arm64 with all its components enabled. We also made the object detection demo works with

[2020-02-10 10:07] descampsk commented on #4719
We can maybe add this PR https://github.com/kubeflow/pipelines/pull/2080.

[2020-02-10 15:05] Julianxo commented on #4113
/reopen

[2020-02-10 15:13] jobvarkey commented on #4744
Hi Yannis,

Thanks for the update. The --user and virtual environment options worked..

[2020-02-10 15:13] #4744 closed

[2020-02-10 15:18] Julianxo opened #4748 "Dashboard deployed on eks does not show manage contributors in navigation"
/kind bug

**What steps did you take and what happened:**
I followed the tutorial for AWS setup on this page https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/.
I also followed this tutorial to setup TLS and AWS Cognito.

I can register users and i can login (logout is not possible because of a missing logout button).
But i do not see the "Manage Contributers" link in the menu like mention

[2020-02-10 15:47] vladhc commented on #4667
I've re-installed kubeflow 0.7.1 in GCP. This time `--user` worked without any error messages.

[2020-02-10 16:04] Julianxo commented on #668
I have the same issue with **gcr.io/kubeflow-images-public/tensorflow-1.14.0-notebook-cpu:v0.7.0** and **gcr.io/kubeflow-images-public/tensorflow-1.14.0-notebook-cpu:v0.7.0**

[2020-02-10 17:57] zhitaoli commented on #1583
Let's keep this open. Kyle Weaver/etc from Apache Beam team has proposed to try out the [flink operator ](https://github.com/GoogleCloudPlatform/flink-on-k8s-operator) and I hope we could find some resource between TFX and Beam/Flink to try this outl

[2020-02-10 18:15] kunmingg commented on #3210
https://github.com/kubeflow/kfctl/pull/226

[2020-02-10 18:24] daikeshi opened #4749 "Profile controller uses project id from user sa for identity namespace"
/kind bug

**What steps did you take and what happened:**
We have teams in different gcp projects are using a shared Kubeflow cluster.  When I try to use a gcp service account from a different project for `gcpServiceAccount` field in a user's profile, profile-controller throws an error:
```Identity namespace does not exist (${PROJECT_ID}.svc.id.goog)```

It seems the project id used in identity na

[2020-02-10 19:36] vkaushik189 opened #4750 "Jupyter notebook gives "failed: Error during WebSocket handshake: net::ERR_CONNECTION_RESET""
/kind bug

**What steps did you take and what happened:**
Installed Kubeflow on AWS EKS on a private VPC (https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/). Have all the pods, services, deployments....running fine. To access the UI, I've modified the istio-ingressway service to LoadBalancer Type and can access the LoadBalancer. But when I create a notebook server and start using the serv

[2020-02-10 19:37] vkaushik189 commented on #4750
Already checked a similar issue #4081 . But that is different than this.

[2020-02-10 20:26] Jeffwan commented on #4719
@descampsk Yeah. This one is pretty helpful. Let me sync with @eterna2 on this

[2020-02-10 23:57] zhenghuiwang commented on #4580
Fixed by https://github.com/kubeflow/kubeflow/pull/4703

[2020-02-10 23:57] #4580 closed

[2020-02-10 23:58] #4620 closed

[2020-02-11 02:01] brilhana commented on #3112
Any pointers on how to implement this? I'd like to work on it.

[2020-02-11 03:37] supertetelman commented on #3838
Is there a way we can just hardcode the entrypoint and startup args for all containers launched? I'm looking through the source and having trouble figuring out where I would set that until this feature is in.

[2020-02-11 04:10] #4742 closed

[2020-02-11 04:43] jlewi commented on #4685
I flipped the docs.
www.kubeflow.org now points to master and the 1.0 RC docs.

[2020-02-11 05:57] hackintoshrao commented on #4670
@kunmingg : Yes, I've logged in as the owner and got the Project ID right. I would expect the UI provide me an useful error which I can act upon.

[2020-02-11 06:18] jlewi commented on #4749
/cc @kunmingg

[2020-02-11 06:20] jlewi commented on #4750
/cc @Jeffwan

[2020-02-11 06:34] jlewi opened #4752 "Need a good way to get the Host of the Kubeflow ISTIO ingress host in notebooks."
/kind feature

We would like to be able to programmatically get the endpoint on which Kubeflow is served (e.g. the Kubeflow endpoint).

A common use case would be in a notebook when deploying a new service behind the ISTIO ingress we would like to print out the URL on which the user can access the UI.

The information is available by doing

[code]

Unfortunately, when running in a kubeflow profile

[2020-02-11 07:50] dkurt opened #4753 "kfctl - How to access GitHub behind corporate proxy?"
/kind question

**Question:**
[You can ask any question about this project.]

Hi

I have Azure instance and follow https://www.kubeflow.org/docs/azure/deploy/install-kubeflow/

`az aks get-credentials -n KubeTestCluster -g KubeTest` - OK
But `kfctl apply -V -f ${CONFIG_URI}` where `CONFIG_URI` is https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_k8s_istio.v1.0.0.yaml:

[

[2020-02-11 12:28] MadsAdrian commented on #3936
Any progress on this one?

[2020-02-11 13:56] xaniasd commented on #3866
I would like to better understand why istio-injection is disabled by default for kubeflow components. Is it historical reasons? Aren't kubeflow components as part of the mesh? To put it differently, are there specific reasons not to use it?

Enhancing observability is a good enough reason to enable istio, but we can make good use of its other features as well (since it's there).

about the origina

[2020-02-11 15:53] jlewi commented on #4731
@krishnadurai it looks like the cherry-pick to 1.0 was merged in kubeflow/manifests#895.

Can you verify that the fix is WAI on the 1.0 branch and then we can close this?

[2020-02-11 15:54] jlewi commented on #4714
@vkoukis @yanniszark @elikatsis @jbottum  any update on this?

[2020-02-11 15:58] jlewi commented on #4062
@kimwnasptd @cvenets could you provide an update here? How are the remaining P0s looking?

[2020-02-11 16:00] jlewi commented on #3657
@kimwnasptd You could probably put it in kubeflow/kfctl or kubeflow/kubeflow depending on what is easier. The e2e test will be split across those repos since it depends on code in multiple repos.

[2020-02-11 16:03] jlewi commented on #4058
@kunmingg docs are critical to 1.0. Can we finalize the docs as part of the doc sprint?

[2020-02-11 16:10] jlewi commented on #4015
@prodonjs @avdaredevil is there anyone that could pick up https://github.com/prodonjs/kubeflow/commit/bca6def173959c2721d1effdbe2e4e91cf41c94f and push it over?

[2020-02-11 16:10] jlewi commented on #4026
I think we are still waiting for the E2E test.

[2020-02-11 16:12] Felihong commented on #4306
+1, is this also somehow related to using `dask-kubernetes` within notebook?
See https://github.com/dask/dask-kubernetes/issues/197

[2020-02-11 16:19] jlewi commented on #4019
/lifecycle frozen

I think we can do something pretty minimal for 1.0; e.g.

* Write a pytest to spin up a 100 notebooks
* Manually check they are ok.

I think for 1.0 a manual test is ok.

[2020-02-11 16:53] #3688 closed

[2020-02-11 18:13] Jeffwan commented on #4750
Looking

[2020-02-11 18:18] Jeffwan commented on #4685
@jlewi

Sorry for late. We have a few aws specific changes want to be merged and cherry-picked. Can you help take a look?

- https://github.com/kubeflow/manifests/pull/890/files
- https://github.com/kubeflow/kubeflow/pull/4751
- https://github.com/kubeflow/kubeflow/pull/4747
- https://github.com/kubeflow/kfctl/pull/225
- https://github.com/kubeflow/pipelines/pull/2080

[2020-02-11 18:54] vkaushik189 commented on #4750
@Jeffwan I did not try with an ALB yet, I tried using both the classic load balancer and Network Load Balancer by modifying the Istio-ingress service.

I did update the annotation with LB-internal since its Private VPC.
Attached is the istio-ingress service.
[code]

[2020-02-11 19:46] Jeffwan commented on #4748
/cc @Jeffwan

[2020-02-11 19:47] Jeffwan commented on #4731
Em.. AWS need to make corresponding change as well. We didn't  plan to use `USERID_HEADER`, instead, we considered to use istio claim https://github.com/kubeflow/kubeflow/issues/4746 but seems other projects like jupyter-web-app uses `USERID_HEADER` as well and I am considering if we should add envoyfilter to move to this pattern.

[2020-02-11 19:52] Jeffwan commented on #4731
User authenticated ALB in AWS will get a header like `x-amzn-oidc-accesstoken` and `x-amzn-oidc-data` need to be decoded and there isn't an user identity header can be used directly.

1. One solution is add istio policy and decode jwt token and get claim like `name` or `email`
2. Probably decode it earlier in envoy layer and create a `USERID_HEADER ` and istio RBAC doesn't need any changes.

[2020-02-11 23:25] zhenghuiwang opened #4757 "Notebook ReadWriteMany PVC option doesn't work"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I'm trying gh-summarization-issue example for KF v1.0-rc4 with gcp_iap_v1.0.0.yaml.

[Distributed training needs ReadWriteMany PVC](https://github.com/kubeflow/examples/blob/master/github_issue_summarization/02_distributed_training.md) The notebook UI supports creating ReadWriteMany vol

[2020-02-11 23:27] zhenghuiwang commented on #4757
<img width="616" alt="Screen Shot for notebook creation" src="https://user-images.githubusercontent.com/8263977/74289082-fa119e80-4ce2-11ea-8bc1-e11fc2d2ae5e.png">

[2020-02-12 00:21] jlewi commented on #4685
@Jeffwan If the code in question only affects AWS I will defer to you about whether to cherry-pick it. For anything that affects non-AWS as well I would have to take a closer look.

[2020-02-12 00:42] jlewi commented on #4685
@Jeffwan I took a look at all of the issues. For pipelines which version of pipelines would you need and is it on master yet?

[2020-02-12 00:53] Jeffwan commented on #4685
@jlewi Thanks! Above Pipeline change is already on master and I hope we can merge back to v1.0-branch. There're two more PRs to add external mysql and object storage overlay and I will check in later tonight.

[2020-02-12 01:02] jlewi commented on #4731
@Jeffwan Do we have a separate issue for the AWS use case?

I think this use case is slightly differently  because its a generic no identity use case. I think in your case you are trying to create a good solution for AWS and that probably merits its own solution (even if it ends up being the same).

[2020-02-12 01:04] jlewi commented on #4685
@Jeffwan how critical are the KFP changes? What breaks without it? Could we possibly hold off for a 1.0.1 release?

[2020-02-12 01:37] prodonjs commented on #4015
What's the deadline? I'm on leave for another couple of weeks so I won't be available to carry it through myself.

@avdaredevil - if you have the cycles and need a consult or have questions, I may be able to respond.

[2020-02-12 01:59] jl-massey opened #4758 "Persistent Volume Management UI"
/kind feature

**Why you need this feature:**
We have a large number of Kubeflow users for our on-premises installation.  We find that creating notebooks, deleting, then recreating leaves orphaned PV's.   If a notebook is deleted, then creating a new notebook requires great memory or docs for the previously used volume name.

**Describe the solution you'd like:**
From the kubeflow central dashboar

[2020-02-12 02:07] jl-massey opened #4759 "Notebook Server Deallocate"
/kind feature

**Why you need this feature:**
We have many more users than our platform can support if everyone allocates as much as they want for as long as they want.  Often, users will allocate what they need for a particular period of time, but are happy to release at other times (e.g. GPU).

This will make is MUCH easier for users to resize or release a server when required with minimal disru

[2020-02-12 02:11] jl-massey commented on #3840
This feature is also helpful for use cases related to my users.    The ability to select which volumes to delete that are attached to the notebook is valuable for maintaining the system.

[2020-02-12 03:08] #4157 closed

[2020-02-12 06:26] eterna2 commented on #4719
Missed out a config field name change:
https://github.com/kubeflow/pipelines/pull/3056 will fix this oversight.

[2020-02-12 07:37] xigang commented on #4366
same problem.

[code]

[2020-02-12 07:41] xigang commented on #4366
https://github.com/kubeflow/kubeflow/issues/4199

[2020-02-12 07:42] xigang commented on #4366
https://github.com/kubeflow/kubeflow/issues/4057

[2020-02-12 07:49] xigang commented on #4366
https://github.com/kubeflow/kubeflow/issues/4198

[2020-02-12 08:03] Jeffwan commented on #4731
@jlewi AWS have two manifests, the basic one doesn't have authN and authZ support. I think I will make the same change like `kfctl_k8s_istio.yaml` for this one. The other one with full authN and authZ support, I will create separate issue for it.

[2020-02-12 08:04] Jeffwan commented on #4748
@Julianxo Hi AWS doesn't have this supported in 0.7, we will resolve this in 1.0 which will be officially released soon. If people still want to use it in 0.7, I will consider to cherry-pick back the changes

[2020-02-12 14:34] jlewi commented on #4731
Makes sense @Jeffwan

[2020-02-12 14:44] jlewi commented on #4015
Thanks @prodonjs

[2020-02-12 14:55] jlewi commented on #4015
I looked at https://github.com/prodonjs/kubeflow/commit/bca6def173959c2721d1effdbe2e4e91cf41c94f

I see some javascript to drive the Kubeflow central dashboard.

I think some of the additional work needed is

* Figuring out how to drive this in our E2E tests?
* Figuring out how to get credentials and talk to the KF cluster?
  * I think we will want to access central dashboard over the external acc

[2020-02-12 15:02] jlewi commented on #4015
Some related items

* Old test for jupyter resource
* https://github.com/jlewi/kubeflow/blob/1690703d261d29ccd7e1d5ff154d79064473d9d8/kubeflow/jupyter/tests/jupyter_test.py#L85
   * This is trying to test that notebooks are actually accessible.
* kubeflow/kubeflow#3657 E2E test for Jupyter web app

[2020-02-12 15:04] jlewi commented on #3657
@kimwnasptd Any update on this? Do you have a link to your PR?

@fediazgon I think what you are working on is complementary. https://github.com/jlewi/kubeflow/blob/1690703d261d29ccd7e1d5ff154d79064473d9d8/kubeflow/jupyter/tests/jupyter_test.py#L85 is testing that Jupyter itself is accessible; i.e. its testing that the notebook controller correctly sets up ISTIO reverse proxy routes for notebooks.

[2020-02-12 15:22] jlewi commented on #4019
@fediazgon you mentioned in
https://github.com/kubeflow/kubeflow/issues/3657#issuecomment-585248754

That you were working on updating
https://github.com/jlewi/kubeflow/blob/1690703d261d29ccd7e1d5ff154d79064473d9d8/kubeflow/jupyter/tests/jupyter_test.py#L85

How's that going?

Could we use that as a basis for a load test? i.e. just run a for loop to create multiple notebooks?

[2020-02-12 18:17] fediazgon commented on #3657
I was working on the Argo workflow that you mentioned [in this comment](https://github.com/kubeflow/kubeflow/issues/3657#issuecomment-576714789) to wrap @kimwnasptd tests. My idea was to add a flag in [create_unique_kf_instance](https://github.com/kubeflow/testing/blob/master/py/kubeflow/testing/create_unique_kf_instance.py ) to allow creating a deployment but overriding some images. Then, test th

[2020-02-12 18:20] jbottum commented on #4758
@jl-massey Hi, we (Arrikto) has been scoping this requirement.    We would like to set-up some time to discuss.   Please let me know if you would like to set-up at time next week.

[2020-02-12 18:28] neupaneaj commented on #4005
How was this issue resolved? Can somebody please update the solution.

I have come across the same issue.

[2020-02-12 18:40] Jeffwan commented on #4113
@Julianxo This will be supported in 1.0

[2020-02-12 18:49] yanniszark commented on #4158
You can now install without Istio and Dex by simply removing them from the KfDef.
I believe this can be closed.
/close

[2020-02-12 18:49] #4158 closed

[2020-02-12 19:14] jlewi commented on #3657
@fediazgon replied in slack; my suggestion would be to start by running in postsubmits and periodic tests run against our auto-deployed clusters so that we don't have to modify create_unique_kf_instance. I added some pointers in slack. We can continue to discuss there.

[2020-02-12 19:15] jlewi commented on #3874
Related: kubeflow/manifests#891

[2020-02-12 20:09] zhenghuiwang commented on #3723
We can't auto gen docs following [this guide](https://github.com/kubeflow/website/tree/master/gen-api-reference) now. Summarizing the problems and a workaround:

**Problems**
1. The [gen-crd-api-reference-docs](https://github.com/ahmetb/gen-crd-api-reference-docs) tool doesn't work well with go module. Specifically it doesn't recognize the `replace` statement in go module, such as

[code]

which i

[2020-02-12 20:19] abhi-g commented on #3723
Thanks Zhenghui for finding a workaround!

On Wed, Feb 12, 2020 at 12:09 PM Zhenghui Wang <notifications@github.com>
wrote:

[2020-02-12 20:54] jlewi commented on #4019
It looks like the latest code is here
https://github.com/kubeflow/kfctl/blob/master/py/kubeflow/kfctl/testing/pytests/jupyter_test.py

It looks like it has already been updated.
So I think we just have to modify it to do a scalability test.

[2020-02-12 21:42] #3723 closed

[2020-02-12 22:08] #4442 closed

[2020-02-12 22:20] piyushcse29 commented on #4731
Getting this error also on-prem existing cluster installation. Any workaround is highly appreciated!

[2020-02-12 22:28] LeonardAukea commented on #4158
Thank you for resolving this Issue!

[2020-02-12 23:08] #4159 closed

[2020-02-12 23:12] samos123 commented on #4558
Thanks @yanniszark will close the issue for now.

[2020-02-12 23:12] #4558 closed

[2020-02-13 00:05] Jeffwan opened #4761 "Enable multi-user authorization for AWS"
/kind feature

**Why you need this feature:**
From kubeflow 0.5, AWS add ALB authentication via Cognito or OIDC. At that time we have not finish authorization part.

After ALB load balancer authenticates a user successfully, it sends the user claims received from the IdP to the target. The load balancer signs the user claim so that applications can verify the signature and verify that the claims w

[2020-02-13 08:08] JohnRobinv commented on #4500
@DdMad May I ask how to upgrade istio version?

[2020-02-13 08:10] DdMad commented on #4500
@JohnRobinv here is the guide: https://istio.io/docs/setup/upgrade/cni-helm-upgrade/

[2020-02-13 09:10] JohnRobinv commented on #4500
Thanks for your reply. But I did use neither helm nor istioctl to install it.
I deployed kubeflow to an existing GKE cluster. And encountered same issue above..
So I m wondering if I can upgrade the istio component directly. Otherwise I need to remove the cluster first then deploy a new version of kubeflow.

[2020-02-13 09:32] aheeruru opened #4762 "Failed v1.0 install - problems with cert-manager"
/kind question

**Question:**
Hello.

I try to install kubeflow 1.0 on my own kubernetes cluster, but failed.
maybe trouble is in webhook.cert-manager.

kfctl try repeatedly calling webhook and then finished with error.

help..

k8s version : v1.15.7

$ kfctl version
kfctl v1.0-rc.3-1-g24b60e8

$ kfctl apply -V -f ./kfctl_k8s_istio.v1.0.0.yaml

configmap/cert-manager-parameters unchanged
service/c

[2020-02-13 09:59] vpavlin commented on #2989
@swiftdiaries I see this is closed, but did you figure out any other way than manually changing all the images?

[2020-02-13 10:28] descampsk commented on #4719
@Jeffwan do you think it will be possible to add this to the kubeflow 1.0 ?
https://github.com/kubeflow/kfctl/issues/232

[2020-02-13 11:18] krishnadurai commented on #4731
@jlewi I've verified it with:
https://github.com/kubeflow/manifests/blob/v1.0-branch/kfdef/kfctl_k8s_istio.yaml

The v1.0.0 config needs to be updated:
https://github.com/kubeflow/manifests/blob/v1.0-branch/kfdef/kfctl_k8s_istio.v1.0.0.yaml

<img width="1568" alt="Screenshot 2020-02-13 at 4 44 27 PM" src="https://user-images.githubusercontent.com/6263389/74429255-9e7d1780-4e80-11ea-8461-6c280bafe2

[2020-02-13 11:23] krishnadurai commented on #4721
@mfojtak I wasn't able to reproduce this issue with v1.0 configs with kfctl_k8s_istio.yaml config. I'm using GKE.

<img width="1134" alt="Screenshot 2020-02-13 at 4 52 14 PM" src="https://user-images.githubusercontent.com/6263389/74429584-4397f000-4e81-11ea-80f2-80ddf6c1327c.png">

/cc @swiftdiaries

Could you please provide more information on your particular setup?

[2020-02-13 13:35] jlewi commented on #4731
@krishnadurai can you update the 1.0.0 spec?

1. On master run https://github.com/kubeflow/manifests/blob/master/hack/build_kfdef_specs.py
1. Create a PR to master with updated 1.0 specs
1. Cherry pick that onto the 1.0 branch

Thanks

[2020-02-13 13:45] jlewi commented on #4762
@krishnadurai @yanniszark @cliveseldon Do you have any idea what's going on here?

[code]

@aheeruru is cert-manager already deployed in your cluster by some chance?

[2020-02-13 13:47] jlewi commented on #4761
@Jeffwan Is this targeted for 1.0? If so what's the likelihood all the changes will land by end of today?

[2020-02-13 13:59] jlewi commented on #4719
@Jeffwan what can we get done by EOD today and EOW?

Per previous comment it looks like most of this is feature requests so its not release blocking.

I would like to get an mnist notebook (kubeflow/examples#724) for the blog post. Since the examples aren't actually in the release it can land after the release; we just need it in time for the blog.

[2020-02-13 14:00] jlewi commented on #4019
@zhenghuiwang said he could start work on this today.

[2020-02-13 14:16] jlewi commented on #4757
I think there are two separate issues here

1. The Jupyter web app should not let people mount volumes with ReadWriteMany if that is not supported
1. Telling people how to run GitHub issue summarization with distributed training

Lets use this option to track the first and use a separate issue for GH issue summarization.

Can the UI query the APIServer to determine what modes a PVC supports? When

[2020-02-13 14:24] krishnadurai commented on #4731
Sure I'll update it

[2020-02-13 14:36] jlewi commented on #4757
kubeflow/examples/issues/734 for GitHub Issue Summarization example

[2020-02-13 14:40] jlewi commented on #4753
You can clone the GitHub repo e.g. to a local directory. And then in your KFDef spec you can change the repos section to point to your local file path.

@jtfogarty I think you ran into this; do you have more detailed instructions? Should we open an issue to document this on the website?

[2020-02-13 15:11] cliveseldon commented on #4762
This seems to be the issue: https://github.com/jetstack/cert-manager/issues/1964

[2020-02-13 16:33] DdMad commented on #4500
@JohnRobinv I think it should be fine because helm and istioctl are just tools. You just need to install helm, and then follow the guide to use helm to upgrade istio. (probably no need to have istioctl though it's just a binary)
I'm using K8s on-prem, and it works for me to upgrade istio this way

[2020-02-13 18:41] Jeffwan commented on #4719
@jlewi Yeah, if it's possible, I want to have these merged in master and bring back to 1.0-branch. Most of our users really like to have these supported and codes are ready.

1. Authorization support in AWS.  https://github.com/kubeflow/manifests/pull/908
2. IAM role for service account. https://github.com/kubeflow/kfctl/pull/225 https://github.com/kubeflow/kubeflow/pull/4751
3. Add Anonymous user

[2020-02-13 19:06] Jeffwan commented on #4731
https://github.com/kubeflow/manifests/pull/909

Here's the fix for one aws manifest without auth.

[2020-02-13 19:08] Jeffwan commented on #4761
@jlewi

It's ready and I tested it's working fine on my side. https://github.com/kubeflow/manifests/pull/908 adds extra component only used by aws. Should be very safe.

[2020-02-13 19:09] Jeffwan commented on #4685
@jlewi  It's ok to hold off for 1.0.1 for pipeline changes.

[2020-02-13 21:49] yantriks-edi-bice commented on #4762
I tried to upgrade from 0.7.x to 1.0.0 (using 1.0 branch kfdef for GCP and IAP) and got the following:

configmap/cert-manager-parameters unchanged
service/cert-manager unchanged
service/cert-manager-webhook unchanged
deployment.apps/cert-manager unchanged
deployment.apps/cert-manager-cainjector configured
deployment.apps/cert-manager-webhook configured
apiservice.apiregistration.k8s.io/v1beta1.we

[2020-02-14 00:00] shuaibiyy opened #4763 "Notebook server fails to launch - KFserving webhook not found"
/kind bug

**What steps did you take and what happened:**
I deployed kubeflow on AWS using the instructions outlined in the [AWS guide](https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/). After deployment, I attempted to create a notebook server using one of the provided public images, i.e.,
gcr.io/kubeflow-images-public/tensorflow-2.1.0-notebook-cpu:1.0.0. After clicking Launch, the note

[2020-02-14 01:22] aheeruru commented on #4762
@yantriks-edi-bice
Same. I used 0.7. now i try to upgrade 1.0

@jlewi

At first I just read pod status 'Running'.
After describe pod, I found that failed volume mount.

but there is no difference 0.7's cert-manager yaml and 1.0's cert-manager yaml.
why does error occur ? Is there something to do additionally such as creating volume ?

$ kubectl get po -n cert-manager

kubectl get po -n cert-manage

[2020-02-14 01:56] #4731 closed

[2020-02-14 02:08] jlewi commented on #4762
@yantriks-edi-bice and @aheeruru Are we talking about a single issue or multiple issues? Talking about multiple issues on the same thread is very confusing and difficult to debug.

* The [original comment](https://github.com/kubeflow/kubeflow/issues/4762#issue-564552156) indicated that kfctl_k8s_istio.v1.0.0.yaml was being used
  * Were you deploying on a cluster with KF already installed?
  * Was

[2020-02-14 02:17] jlewi commented on #4763
It looks like the KFServing webhook is unavailable and preventing pods from being deployed.

@shuaibiyy as a workaround if you add the label

[code]

@shuaibiyy can you check the status of kfserving

[code]

To the namespace where you are trying to run the pod that should prevent the kfserving webhook from running in that namespace.

/cc @Jeffwan @cliveseldon @animeshsingh

[2020-02-14 02:22] zhenghuiwang commented on #4019
I successfully tested 15 concurrent notebook creations. ( More loads are unschedulable because my KF cluster only has 4 nodes)

I used a slightly different yaml template with PVC as follows:
[code]

and
[code]

![Screen Shot 2020-02-13 at 6 13 23 PM](https://user-images.githubusercontent.com/8263977/74495791-a1323980-4e8d-11ea-9e9d-dea919cbe640.png)

[2020-02-14 04:12] aheeruru commented on #4762
@jlewi
oh, I mean I just face error while try to upgrade 0.7 to 1.0 like yantriks-edi-bice.
My cluster is own cluster.

answer to your question.

The original comment indicated that kfctl_k8s_istio.v1.0.0.yaml was being used

Were you deploying on a cluster with KF already installed?
-> yes. 0.7 was installed. But deleted it before install v1.0.
-> I delete 0.7's all resources containing v.0.7.0 c

[2020-02-14 06:13] jlewi commented on #4762
Thanks. I wonder if cert-manager is trying to generate its own certificate and having problems.

Is it possible you have multiple deployments of cert-manager on your cluster? Or that you didn't fully delete the previous install of cert-manager?

[2020-02-14 06:15] jlewi commented on #4019
@zhenghuiwang thanks; could you request more CPU? It would be great to test up to 100 notebooks.

[2020-02-14 06:46] jlewi commented on #4719
@Jeffwan does kubeflow/manifests#909 need to be cherry-picked onto the 1.0 branch?

Looks like kubeflow/manifests@908 is still pending.

[2020-02-14 06:48] jlewi commented on #4685
The 1.0 RC is looking pretty good in my oppinion.

I think we are waiting on 3 cherry-picks to land in the 1.0 branch

For AWS

* kubeflow/manifests#909
* kubeflow/manifests@908

For GCP

* kubeflow/manifests#912

@Jeffwan can we get those PRs merged tomorrow so that we can let it bake over the weekend and the finalize it on Monday.

[2020-02-14 07:12] MeghanaSrinath opened #4764 "Istio components are not getting installed on a private GKE cluster"
/kind bug

I'm trying to install Istio on a private GKE cluster. I have downloaded the version 1.4.3 of Istio and then applied the default profile. But not all the components are getting installed from the manifest. Below are the error logs.
[code]

Also, the ingress gateway is not getting created from any of the sample applications (helloworld, bookinfo). Below is the error:
[code]
However, I tri

[2020-02-14 07:31] MeghanaSrinath commented on #4764
Sorry. Have opened this issue under the wrong repo.

[2020-02-14 07:31] #4764 closed

[2020-02-14 07:32] kim-sardine commented on #4735
On kubeflow v1.0.0 that I created today, still getting same error

[code]

[2020-02-14 08:00] hexiaoting commented on #4731
I still does not know how to solve this problem.
I use minikube to setup kubernetes,
use kfctl_k8s_istio.v1.0.0 to deploy kubeflow.

![image](https://user-images.githubusercontent.com/7898329/74512321-fda36080-4f42-11ea-8f75-2c50890da15f.png)

I am new to k8s and kubeflow and istio.
how can i solve this problem, Can you tell me the detail commands, thank you

[2020-02-14 08:01] hexiaoting commented on #4731
@jlewi @krishnadurai @yanniszark
The detail commands to solve this problem , Please

[2020-02-14 08:10] cliveseldon commented on #4762
This cert-manager PR might help solve these things on release of v0.14 of cert-manager: https://github.com/jetstack/cert-manager/pull/2574 which fixes https://github.com/jetstack/cert-manager/issues/2537

[2020-02-14 08:25] krishnadurai commented on #4731
@hexiaoting could you please look to install with:
https://github.com/kubeflow/manifests/blob/v1.0-branch/kfdef/kfctl_k8s_istio.yaml

The v1.0.0 config:
https://github.com/kubeflow/manifests/blob/v1.0-branch/kfdef/kfctl_k8s_istio.v1.0.0.yaml

Is not updated yet and I'm working to refresh all v1.0.0 configurations.

[2020-02-14 08:41] hexiaoting commented on #4731
@krishnadurai
I tried execute:
[code]
But it failed. Here is the logs:
`
esource: "policy/v1beta1, Resource=poddisruptionbudgets", GroupVersionKind: "policy/v1beta1, Kind=PodDisruptionBudget"
Name: "istio-telemetry", Namespace: "istio-system"
Object: &{map["apiVersion":"policy/v1beta1" "kind":"PodDisruptionBudget" "metadata":map["annotations":map["kubectl.kubernetes.io/last-applied-configuration":

[2020-02-14 08:56] krishnadurai commented on #4731
@hexiaoting I'm suggesting that you use this config file instead: https://github.com/kubeflow/manifests/blob/v1.0-branch/kfdef/kfctl_k8s_istio.yaml

Could you please delete your kubeflow deployment and retry again, since you will be changing configurations?

[2020-02-14 09:07] aheeruru commented on #4762
Solve.

there are several reasons.

first,
apiservice and validatingwebhookconfigurations.admissionregistration.k8s.io not deleted even if namespace deleted.
maybe during delete ns, something is wrong.

second,
kube-apiserver uses proxy.
After deleting proxy config, it works well.

But our environment must use proxy.
I try to find solution. If you have know-how about it, please notice me.

Anyway

[2020-02-14 09:07] #4762 closed

[2020-02-14 09:13] hexiaoting commented on #4731
Yes, I have delete kubeflow by using `sudo kfctl delete -f kfctl_k8s_istio.v1.0.0.yaml`;
and uninstall istio by exec ` istioctl manifest generate | kubectl delete -f -`

and I tried again by exec:`sudo kfctl apply -f /home/zhibin/hwt/workspace/kf/kfctl_k8s_istio.yaml`.
It still failed.
[code]

[2020-02-14 09:15] hexiaoting commented on #4731
@krishnadurai How to delete my kubeflow deployment clearly? Is below command enough?
[code]
After I executed this , I found the result of
[code]
still include kubeflow namespace.

[2020-02-14 09:31] krishnadurai commented on #4731
Could you please delete the namespace as well?

[2020-02-14 09:41] hexiaoting commented on #4731
Yes, I exec:
[code]
but it is terminating all the time. it's not finished in 20 minutes
[code]

[2020-02-14 09:58] Julianxo commented on #4109
Fixed in which version? I have this issue in 0.7.1

[2020-02-14 10:15] sk1395 opened #4765 "In katib Is there anyway to save the fitted model for the best accuracy score as a pickle/joblib and retrieve it?"
/kind question

**Question:**Is there anyway to save the fitted model for the best accuracy score as a pickle/joblib and retrieve it?
[You can ask any question about this project.]

[2020-02-14 13:25] crobby opened #4766 "Add example pipelines that work with k8sapi executor"
/kind feature

**Why you need this feature:**
We use the k8sapi executor for Argo and the current example KF pipelines do not work with that executor.

**Describe the solution you'd like:**
I'd like to see a few example pipelines that work with k8sapi that demo a variety of different aspects:  input/output data passing, tensorboard, etc.  Ideally, I'd like to be able to use these examples to test

[2020-02-14 13:33] shuaibiyy commented on #4763
@jlewi thanks for the workaround! it works.
The output of `kubectl -n kubeflow get statefulset kfserving-controller-manager -o yaml` is:

`Error from server (NotFound): statefulsets.apps "kfserving-controller-manager" not found`

[2020-02-14 13:34] krishnadurai commented on #4731
@hexiaoting how have you installed istio? Is it through the Kubeflow manifests?

[2020-02-14 13:38] shuaibiyy commented on #4731
@hexiaoting the solution works for me with this Profile:
[code]
Note: the name for some reason has to be "anonymous@kubeflow.org" (still new to kubeflow).

[2020-02-14 13:53] hexiaoting commented on #4731
Does this command will install istio?
[code]
maybe I use "sudo istioctl manifest apply --set profile=demo" to install it(I'm not sure)

ps: which command in kubeflow will install istio?

[2020-02-14 13:54] hexiaoting commented on #4731
how to make this profile work? which command? thank you

[2020-02-14 14:04] krishnadurai commented on #4731
@hexiaoting the manifest in the config you mention installs istio-ingressgateway as NodePort and port number 31380 as the port exposing http2 for the ingress gateway connection.

Was Istio previously installed in your setup? Or did you make changes after the kfctl installation?

[2020-02-14 14:05] shuaibiyy commented on #4731
@hexiaoting if you have the profile in a file called `profile.yaml`, you can run it using `kubectl apply -f kf-profile.yaml`. It'd then create a namespace called `kubeflow-anonymous`.

[2020-02-14 14:57] jlewi opened #4767 "Central Dasbhoard Reports Unable to Contact Profile Controller"
/kind bug

https://kf-v1-0212-8db.endpoints.kubeflow-ci-deployment.cloud.goog/

Deployed from
https://github.com/kubeflow/manifests/tree/096f312

Using kfctl_gcp_iap.yaml

Cluster had been up for 1 day when it started reporting "unable to contact profile controller" in the central dashboard.

[2020-02-14 15:01] jlewi commented on #4767
The profiles controller deployment `profiles-deployment` appears to be missing.
[deploy.txt](https://github.com/kubeflow/kubeflow/files/4204969/deploy.txt)

So it looks like something might have gone wrong during deployment.

[2020-02-14 15:07] jlewi commented on #4767
Here are the logs from the deployment.

It looks like it was deployed successfully
[auto-deploy-v1-bvkvk-v9fgd.logs.txt](https://github.com/kubeflow/kubeflow/files/4204986/auto-deploy-v1-bvkvk-v9fgd.logs.txt)

We also see profile created namespaces

[code]

This is a cluster I successfully ran mnist on yesterday.

I'm going to assume that at some point someone or something deleted the profiles con

[2020-02-14 15:14] jtfogarty commented on #4753
Yes, I'll open a document issue

The steps I found that work are;
1) Create alias for proxy
`alias https='https_proxy=https://server:port'`

2) Download kfctl
   `https wget https://github.com/kubeflow/kfctl/releases/download/v1.0-rc.4/kfctl_v1.0-rc.3-1-g24b60e8_linux.tar.gz`
   extract to /usr/local/bin

3) Download kfdef yaml file kfctl_k8s_istio.yaml
   `https wget https://raw.githubusercontent

[2020-02-14 15:15] yantriks-edi-bice commented on #4762
Yes, I'm running on GCP on a GKE cluster. Wasn't sure if it was the same or an entirely different issue. Will open a new one.

[2020-02-14 16:33] yantriks-edi-bice opened #4768 "invalid: spec: Forbidden: updates to statefulset spec for fields other than 'replicas', 'template', and 'updateStrategy'"
/kind bug

**What steps did you take and what happened:**

Tried to upgrade from 0.7 to 1.0.0 using [https://github.com/kubeflow/manifests/blob/v1.0-branch/kfdef/kfctl_gcp_iap.v1.0.0.yaml](url)

WARN[0102] Encountered error applying application application:  (kubeflow.error): Code 500 with message: Apply.Run  Error error when applying patch:
{"metadata":{"annotations":{"kubectl.kubernetes.io/last-

[2020-02-14 18:04] #3930 closed

[2020-02-14 18:31] Swikar opened #4769 "(kubeflow.error): Code 500 with message: gcp apply could not update deployment"
/kind bug
/area kfctl
/kind question

**What steps did you take and what happened:**
Following this guide [https://www.kubeflow.org/docs/gke/deploy/deploy-cli/]
While deploying kubeflow on GCP, and applying command
`kfctl apply -V -f ${CONFIG_URI}`

**Full Error:**
`failed to apply:  (kubeflow.error): Code 500 with message: coordinator Apply failed for gcp:  (kubeflow.error): Code 500 with message

[2020-02-14 18:43] rafaelbarreto87 commented on #4763
Running into the same issue. The workaround works, but I was wondering if there's a more permanent fix. We're not planning on using the serving capabilities of Kubeflow, so we commented out the `kfserving` components. Is there a more general way to not install the serving functionality?

[2020-02-14 18:49] #4769 closed

[2020-02-14 18:49] Swikar commented on #4769
This is because of previous project still pending shutdown

[2020-02-14 19:16] animeshsingh commented on #4763
@shuaibiyy can you try this command to delete any stale web-hooks and try again?

`kubectl delete mutatingwebhookconfigurations inferenceservice.serving.kubeflow.org &&  kubectl delete validatingwebhookconfigurations inferenceservice.serving.kubeflow.org && kubectl delete po kfserving-controller-manager-0  -n kfserving-system`

[2020-02-14 19:16] animeshsingh commented on #4763
@rafaelbarreto87 you can edit the kfdef to remove kfserving if you don't need that as part of the install.

[2020-02-14 19:17] animeshsingh commented on #4763
cc @ellis-bigelow @yuzisun

[2020-02-14 19:20] rafaelbarreto87 commented on #4763
@animeshsingh That's what I did. Here's are the KDefs:

[code]
$ grep serving -R kustomize
kustomize/pipelines-runner/base/cluster-role.yaml:  - serving.kubeflow.org
kustomize/cert-manager/base/deployment.yaml:          - --webhook-serving-secret=cert-manager-webhook-tls
[code]

[2020-02-14 19:22] rafaelbarreto87 commented on #4763
Hum... I think this has to do with the stale web-hooks from a previous install... I'll delete them and try again. Thanks.

[2020-02-14 19:54] zhenghuiwang commented on #4019
Successfully tested 100 notebook creation. It just took some time for pods to get scheduled with auto scaling.

![Screen Shot 2020-02-14 at 11 52 58 AM](https://user-images.githubusercontent.com/8263977/74563020-b4dab000-4f20-11ea-8d65-45b2bb45b33a.png)

[2020-02-14 21:25] #4551 closed

[2020-02-14 21:35] yantriks-edi-bice commented on #4767
I'm running into same on an upgraded cluster

[2020-02-14 22:17] shuaibiyy commented on #4763
@animeshsingh It appears deleting the stale webhooks solves the issue even without the earlier workaround, i.e., setting "serving.kubeflow.org/inferenceservice" to "disabled". Thanks.

[2020-02-14 22:19] jlewi commented on #4767
@yantriks-edi-bice can you list out your deployments? Is the profile-controller missing?

[2020-02-14 22:30] jlewi commented on #4685
@krishnadurai @animeshsingh @yanniszark @Jeffwan

On the GCP side, I think on Tuesday 02/18. we will pin our kfctl_gcp_*.v1.0.0.yaml files to a specific commit of kubeflow/manifests.

This way we have a stable, repeatable set of manifests. Any future bug fixes would then go into a patch release v1.0.1.yaml.

If your on board with that then we can pin all of the manifests at once. Otherwise we will

[2020-02-14 23:56] Jeffwan commented on #4685
Sure. Could you help approve https://github.com/kubeflow/manifests/pull/916 and https://github.com/kubeflow/manifests/pull/918 ? These two are automatic cherry-pick PRs.

For 1.0.1,we will still use v1.0-branch, could we backport some feature and improvements? Most of the changes are aws specific. I will try to minimize risk and not touch other code bases

[2020-02-15 00:28] Jeffwan commented on #4719
All release blocking issues are already merged back to v1.0-branch

[2020-02-15 00:29] jlewi commented on #4685
@Jeffwan both PRs should be LGTM.

@Jeffwan once we pin the 1.0.0 configs I think its fine to backport changes onto the 1.0.0 branch because that shouldn't affect the 1.0.0 configs (provided we stop regenerating them from the base).

That said we should probably try to stick to semantic versioning and now use patch releases for major functionality. changes.

[2020-02-15 00:32] Jeffwan commented on #4685
@jlewi Thanks! There's no release blocking issue on AWS side. I will get all PRs ready on master and backport to v1.0-branch after we pin the configs. If there's no major changes on other components, I think patch release with aws features changes fine. I will get changelog ready in case people get confused.

[2020-02-15 00:33] Jeffwan commented on #3840
/reopen

[2020-02-15 00:34] Jeffwan commented on #3840
As we have more users want this feature, I just reopen the issue for tracking purpose

[2020-02-15 00:37] Jeffwan commented on #3891
@wdhorton @dilzeem Does this PR address your problem? https://github.com/kubeflow/manifests/commit/c799b2873c9a92edfe3b966027df4934f048602c

[2020-02-15 01:01] #4403 closed

[2020-02-15 01:45] Jeffwan commented on #4019
Do we have any metrics on jupyter-controller side like how long we see a stateful notebook become ready?

[2020-02-15 05:57] hexiaoting commented on #4731
I have installed Istio when I install kubeflow the first time using kfctl_k8s_istio_v1.0.0.yaml, And you know I have the auth problem, then you tell me to use kfctl_k8s_istio.yaml to reinstall , so I uninstall it by using
[code]

I did not make any change after the kfctl installation.

[2020-02-15 05:58] hexiaoting commented on #4731
@shuaibiyy Thanks a lot. But now I reinstall kubeflow failed     (crying)

[2020-02-15 07:12] hexiaoting commented on #4731
I reinstalled everything.
It's Ok now, Thank you

[2020-02-15 07:12] hexiaoting commented on #4731
Thanks a lot

[2020-02-15 07:26] swiftdiaries commented on #4731
For future reference:
This is the [demo script for 1.0](https://bit.ly/38jdNcX) on vanilla kubernetes clusters.

[2020-02-16 06:00] devgrok commented on #4761
That's a much more complete solution than what I cobbled together.

I had originally thought I could trick istio into decoding the `x-amzn-oidc-data` header by serving a hard-coded jkws,json for the LoadBalancer only to discover I was reading the 1.3/1.4 istio documentation and kubeflow currently uses 1.1.6.
I had thought that wasn't possible to configure that version istio/envoy to use the ALB's

[2020-02-16 07:02] devgrok commented on #4761
It might be a good idea to delete https://github.com/kubeflow/manifests/blob/master/aws/istio-ingress/base/istio-policy.yaml -- as it's not included in the kustomize build (it confused me a few times till I face palmed when I realised it wasn't being used).
I'm guessing that your filter does the equivalent (albeit more) of what that policy defines.

[2020-02-16 07:09] #2347 closed

[2020-02-16 20:02] jlewi commented on #4767
I deployed a new cluster.

From:
https://github.com/kubeflow/manifests/commit/6753c78b2501891e3bb395b1ce8c753d32a3d139

Here are the event pod logs for the profile deployment
/home/jlewi/tmp/profiles-deployment-6d6bbd6487-4hmhc.v1-0214.logs.txt

The logs show that it ran for 24 hours and then was stopped.

Here are the event logs for the profiels-deployment
[profiles-deployment.v1-0214.logs.txt](h

[2020-02-16 20:19] jlewi commented on #4767
Here are the audit logs for the deployment

The logs show the deployment is deleted by
system:serviceaccount:kube-system:generic-garbage-collector

[audited_resource__logs__2020-02-15T03-15.csv.txt](https://github.com/kubeflow/kubeflow/files/4210855/audited_resource__logs__2020-02-15T03-15.csv.txt)

Here are the audit logs for the pod.

The audit logs show the pod is being deleted by the K8s garba

[2020-02-16 20:31] jlewi commented on #4767
I took a look at the application controller logs. I didn't see any events indicating a deletion of the deployment.

The profiles application is still there.

[code]

[2020-02-16 20:36] jlewi commented on #4767
I reran

[code]

To recreate the profile controller.  Need to kick the iap-enabler pod

[code]

Now its working again.

[2020-02-16 20:41] jlewi commented on #4767
Here's the profiles deployment yaml and profiles application yaml
[profiles_deployment.yaml.txt](https://github.com/kubeflow/kubeflow/files/4210885/profiles_deployment.yaml.txt)
[profiles.app.yaml.txt](https://github.com/kubeflow/kubeflow/files/4210887/profiles.app.yaml.txt)

The owner reference of the profiles deployment is set to the application.

[2020-02-16 20:55] jlewi commented on #4767
I don't see any recent changes to the profile controller manifest
https://github.com/kubeflow/manifests/commits/v1.0-branch/profiles

But we did unpin GKE. The cluster exhibiting the problem is
1.14.10-gke.22

Where as I have a cluster at 1.14.8-gke.33 that has been up for 6 days with no problem.

[2020-02-16 21:05] jlewi commented on #4767
It looks like our application is claiming and setting owner references on cluster scoped resources like
the role bindings.

Per kubeflow/manifests#540 this is a violation of GC garbage collection policy and can lead to unexpected behavior. In the past, this could to other (non-cluster scoped resources) being GC'd because the GC would cache the id of the owner as not being found because of the cros

[2020-02-16 21:05] jlewi commented on #4767
/cc @kkasravi

[2020-02-16 21:11] jlewi commented on #4767
I checked all our other applications
[applications.yaml.txt](https://github.com/kubeflow/kubeflow/files/4210923/applications.yaml.txt)

I found one other reference in the webhook to a cluster scoped resource.

[2020-02-16 21:19] jlewi commented on #4767
Looking at the auto-deployed clusters we have 2 clusters both about 1 day and 17 hours old

The cluster from master deployed at
https://github.com/kubeflow/manifests/tree/9eab2b4
1.14.10-gke.22
Doesn't have this problem but

The cluster from v1 does
https://github.com/kubeflow/manifests/tree/07c58a0
1.14.10-gke.22