[2019-01-17 01:12] lluunn commented on #2269
@kkasravi @jlewi I can take a stab at this one if you haven't started (or the profile one)

[2019-01-17 04:39] cwbeitel opened #2289 "[Question/bug] JupyterLab via IAP gives "Error 413 (Request Entity too Large)"; GCP_IAP_XSRF_NONCE cookies"
Kubeflow v0.3.5 was deployed with via kfctl.sh (with IAP enabled) as described here: https://www.kubeflow.org/docs/started/getting-started-gke/.

For the past several days the Kubeflow dashboard, pipelines dashboard, and tfjob dashboard, and JupyterHub have all been accessible. Now I see the Kubeflow dashboard remains accessible but linking over to any other of these services gives the error liste

[2019-01-17 05:04] cwbeitel commented on #2289
I tried accessing the dashboard again via the public url (${deployment}.endpoints.${project}.cloud.goog) from another device and all of the above worked without error. Upon re-starting the device that was showing the error the error was no longer shown / all of the above worked.

[2019-01-17 06:31] kkasravi commented on #1933
you should try
[code]

[2019-01-17 06:35] jlewi commented on #2287
@kunmingg But it looks like the script is stuck in a retry loop. @SinaChavoshi did you wait longer than a minute?

[2019-01-17 06:38] jlewi commented on #2287
@kunmingg; the other possibility is that this is an instance of the insufficient permissions issue (#953). I think as mentioned above we might be swallowing the error message outputted by gcloud which is why we aren't seeing that particular error message.

Can we make the fix mentioned in https://github.com/kubeflow/kubeflow/issues/2287#issuecomment-454806514
just to eliminate that as a possibilit

[2019-01-17 11:08] soolaugust opened #2290 ""kfctl.sh apply k8s" stuck in ambassador and return error."
I follow the setup guide: [Kubeflow quick start](https://www.kubeflow.org/docs/started/getting-started/#kubeflow-quick-start) .

these steps is ok:

[code]

but when I run the following command:

[code]

The deployment is stuck in **ks apply default -c ambassador** for a while, and then return following error:

![image](https://user-images.githubusercontent.com/10558124/51314610-1e249100-1a8b-11e9

[2019-01-17 11:18] soolaugust commented on #2290
I fix this by upgrade memory,  sorry for noise.

[2019-01-17 11:18] #2290 closed

[2019-01-17 14:25] kkasravi opened #2291 "Evaluate rbac-manager with current Profiles approach"
The operator [rbac-manager](https://github.com/reactiveops/rbac-manager) provides an easy way to configure namespaces with Roles and RoleBindings. It should be evaluated against Profiles.

[2019-01-17 14:58] fboylu opened #2292 "Need help deploying simple model with tf-serving and enable Rest API"
Hi, I am having issues with the following.

VERSION=v0.4.0
ks pkg install kubeflow/tf-serving@${VERSION}

ks generate tf-serving tf-serving
ks generate tf-serving-service tf-serving-service

ks param set tf-serving-service modelName half_plus_two
ks param set tf-serving modelName half_plus_two
ks param set tf-serving modelPath /models/half_plus_two
ks param set tf-serving numGpus 1
ks param set tf

[2019-01-17 16:01] lluunn commented on #2292
tf-serving is the legacy prototype, and we are removing it soon.
tf-serving-service should be used with tf-serving-deployment-gcp or tf-serving-deployment-aws

document:
https://www.kubeflow.org/docs/guides/components/tfserving_new/

[2019-01-17 16:17] fboylu commented on #2292
I am not usig gcp or aws, I have the model locally in the container. Can I still use  tf-serving-deployment-gcp or tf-serving-deployment-aws?

[2019-01-17 17:45] lluunn commented on #2292
should be. The two prototypes just have some credential setup to read from gcp/aws.

[2019-01-17 19:11] fboylu commented on #2292
Ok, I tried it and seems like it now serves on 8500 but there is no External IP. I did set the parameter serviceType to LoadBalancer, is there anything else I need to do? I don't see else on the documentation you pointed.

[2019-01-18 01:28] jlewi opened #2300 "[gcp] Initial stackdriver entries don't have pod labels - ~ 2 minute delay."
With the new stackdriver agents log entries should have pod labels attached to them.
https://www.kubeflow.org/docs/guides/monitoring/#filter-with-labels

I noticing a delay and the initial log entries are missing the pod labels.

Full logs attached.

First log entry: timestamp: '2019-01-17T23:16:35Z'
First log entry with pod labels: 2019-01-17T23:18:07.434696291Z
[test-logs.json.txt](https://githu

[2019-01-18 05:25] Youki opened #2302 "Sending predictions through TF-Serving returns 404's when using IAP"
Tried tf-serving examples shown in [this page](https://www.kubeflow.org/docs/guides/components/tfserving_new/). When I send a REST request through ingress and IAP, I got a following error with 90+% probability while it works fine with 10-% probability.

Error:
[code]

Success:
[code]

[2019-01-18 14:00] #1542 closed

[2019-01-18 19:56] #1946 closed

[2019-01-18 20:43] #1932 closed

[2019-01-18 23:37] ellis-bigelow opened #2306 "Proposal: Kubeflow Serverless Serving CRD"
Hi Kubeflow Community,

I've been toying around with Model Serving with Knative. I initially prototyped a ksonnet component for serving models using arbitrary model servers and found it to be quite cumbersome, both from a development perspective, and from a consumption perspective. The number of yaml files and if statements are non-trivial and I thought there must be a better approach.

The high l

[2019-01-19 00:03] hamelsmu commented on #2288
CI for notebooks doesn't sound like a compelling thing for me in the general case, only because of the adhoc nature of notebooks and you intentionally might want to run cells out of order etc.

I think if you really want to run notebook as CI, you can just convert the notebook to a script using `nbconvert` and then use traditional CI (you can do this automatically in the CI system itself).

TLDR;

[2019-01-19 01:31] jlewi commented on #2302
You could also kubectl port-foward to the TFServing REST port and then send requests to your local port.

[2019-01-19 01:32] jlewi commented on #2292
@fboylu Is this working now for you? Can we close this issue?

[2019-01-19 01:33] jlewi commented on #2306
@cliveseldon would be great to get your input on this.

[2019-01-19 01:37] jlewi commented on #2306
@ellis-bigelow  https://github.com/nuclio/nuclio
How does it compare to knative?

[2019-01-19 01:43] fboylu commented on #2292
Yes it is working, please close the issue. Many thanks for the help.

[2019-01-19 01:43] #2292 closed

[2019-01-19 01:51] cwbeitel commented on #2289
That's a good suggestion.

I observed this again today. After a period of 1-2 hours of displaying the above message the issue went away without my restarting the device or browser in case that's relevant.

Also to clarify what I as describing initially was an outage that appeared to be specific to one device and to be resolved by re-starting that device but that may have just been a timing coincid

[2019-01-19 01:54] jlewi commented on #2288
@hamelsmu Good point.

This discussion got me thinking about how we could make it easy for people to find models and solutions  in GitHub

For example
https://github.com/SummitKwan/transparent_latent_gan

There's two connections to CI

1. CI is a great incentive for people to add structured metadata to their repo (e.g. travis, circleci, prow)
1. It would be good to know whether solutions work or n

[2019-01-19 02:04] hamelsmu commented on #2288
That’s interesting.  Would you mind expanding your thoughts on what you
have in mind with decorative aspect of it?  What do you mean by
decoratively describe?

On Fri, Jan 18, 2019 at 5:54 PM Jeremy Lewi <notifications@github.com>
wrote:

[2019-01-19 02:46] #1669 closed

[2019-01-19 11:36] cheyang commented on #1933
You can run this on Alibaba Cloud by following the document below which is in Chinese: https://yq.aliyun.com/articles/686672

[2019-01-19 15:49] Youki commented on #2302
@jlewi Thanks for the comment. The problem only happens when I send prediction requests through IAP from a node outside of a k8s cluster. There was no error when I used port-forward to TF-Serving Pods/Service.

[2019-01-21 05:06] cchung100m commented on #2229
Hi @jlewi , @cclauss ,

I'm interested in working on this if no one else has signed up. However this is the first time I'm contributing to kubeflow so I may need some hand-holding,

Many thanks,

[2019-01-21 06:01] cclauss commented on #2229
You might review the proposed fix in #2283

[2019-01-21 08:34] gyliu513 opened #2308 "studyjob controller stays in CrashLoopbackoff"
After I deploy kubeflow 0.4, found that the `studyjob-controller` keeps in `CrashLoopBackOff` state and the log of the studyjob controller as follows:

[code]

/cc @hougangliu

[2019-01-21 08:36] gyliu513 commented on #2308
Found @jlewi already opened similar issue at https://github.com/kubeflow/katib/issues/317

[2019-01-21 08:36] #2308 closed

[2019-01-21 19:23] cliveseldon commented on #2306
@ellis-bigelow  some initial thoughts from someone working on Seldon

   * I like the CRD idea. This is what we have done in [Seldon Core](https://github.com/SeldonIO/seldon-core) where the user defines a [SeldonDeployment CRD](https://github.com/SeldonIO/seldon-core/blob/master/docs/reference/seldon-deployment.md) which includes a definition of an inference graph (DAG of container instances wrapp

[2019-01-21 21:22] sarahmaddox opened #2309 "Using Cloud Filestore - kfctl.sh apply locks the cloud shell screen and crashes after 5-10 min"
_From @SinaChavoshi on January 17, 2019 21:47_

I manually created a file store, then following the instructions on "Configure Kubeflow to mount the Cloud Filestore volume" . When running

${KUBEFLOW_SRC}/scripts/kfctl.sh apply k8s

screen hangs for 5-10 min then crashes with
+ echo environment default already exists
environment default already exists
+ ks apply default -c ambassador
/home/chavosh

[2019-01-21 21:51] jlewi commented on #2309
If you're running in Cloud Shell are you using boosted mode?

[2019-01-22 00:34] amygdala opened #2310 "multiple deployments in the same project appear to make envoy pods crashloop"
Multiple (differently named) deployments in the same project -- created via the launcher UI -- appear to cause the envoy pods to crash for any deployments after the first one.  This was observed with 'non-IAP' clusters -- I don't know if IAP clusters see the same.

It's not a case of needing to wait it out for a few mins.  For me these pods never recover.
I have been able to repro repeatedly.

The

[2019-01-22 07:08] cchung100m commented on #2229
Hi @cclauss ,
Thanks for the suggestion! :)

[2019-01-22 08:54] xyhuang opened #2311 "Katib job and Katib services cannot be in different namespaces due to metrics collector service account"
every katib job comes with its own metrics collector, which is supposed to be in the same name space as the job. However the metrics collectors rely on a service account that is created at the time of katib service installation, which is bound to the namespace of katib services. This prevents katib job from running in a namespace that's different from katib services.

[2019-01-22 08:57] xyhuang commented on #2311
- do we assume that Katib is namespace scoped and jobs only work in same namespace
- or shall we create a separate service account for each metrics collector/namespace?
- any other possible solutions?
WDYT @YujiOshima @johnugeorge

[2019-01-22 10:46] janvdvegt commented on #2311
From a technical perspective I cannot contribute but for our use case splitting these up would be very benificial

[2019-01-22 12:46] jlewi commented on #2302
Thanks @Youki. This means it could either be an issue with IAP or Ambassador.

The next time you observe this problem could you try deleting the Ambassador pods.

[code]

One possibility is that some Ambassador instances didn't load the route to the model which is why you get the 404 sometimes.

[2019-01-22 13:47] jayunit100 commented on #615
Some quick thoughts, new to this but i think underlying need to separate these namespaces if possible for security in the future... and for more composable installation to @pdmack 's point.

### for now
The simple fix on an openshift cluster would be to give cluster admin to your current user, from ambassadors docs , similar in kube.

*kubectl*:  `kubectl create clusterrolebinding my-cluster-admin

[2019-01-22 13:48] jlewi commented on #1995
@vkoukis and @ioandr Any update on this?

[2019-01-22 15:04] ioandr commented on #1995
Hi @jlewi,

sorry for us not giving a heads-up on this sooner.

We have made progress on this together with @vkoukis and @kimwnasptd and already have an initial version of the new Jupyter UI (we provide 2 screenshots below). We believe it is inline with the Jupyter design doc and would like to share with the community for feedback, especially on UI/UX. We will open a **WIP** PR asap, since we need

[2019-01-22 15:48] jayunit100 opened #2312 "kubeflow vanilla style installation is a little fragile (at least on GKE)"
This issue is a combination of questions and some notes from my initial installation.

##  Initial observation on GKE

Although my dashboard came up, there was no indicator that all the services were down, could we have such a thing to early detect / provide feedback ?

<img width="1030" alt="screen shot 2019-01-22 at 10 32 20 am" src="https://user-images.githubusercontent.com/826111/51546870-1969

[2019-01-22 16:44] jlewi commented on #2311
Do we have a design doc that covers how metrics will be collected from Jobs?

[2019-01-22 17:40] johnugeorge commented on #2311
@YujiOshima Do you have some version of Katib design doc? I will help you to make it up-to-date

[2019-01-22 19:45] jlewi commented on #2174
I'll take a stab at this.

I think there's a couple pieces to this

1. We should modify kfctl.sh to install the Jupyter CR by default
1. We should create a python program to act as an E2E test that verifies we can create a notebook
    resource.

I will get started on the second item.

[2019-01-22 20:52] DanSanche commented on #2284
Opened PR here: https://github.com/kubeflow/kubeflow/pull/2313

[2019-01-23 02:09] hougangliu commented on #2311
@xyhuang when you try to create a studyjob in non-kubeflow namespace, you need run below command. I will update user doc for this guideline
[code]

[2019-01-23 02:16] hougangliu commented on #1982
/close

[2019-01-23 02:16] #1982 closed

[2019-01-23 02:43] xyhuang commented on #2311
thanks @hougangliu! this is a valid workaround, though i wonder if there could be a "cleaner" way to fix that :) because running a separate RBAC creation file might potentially make it inconsistent with the codes [here](https://github.com/kubeflow/kubeflow/blob/c416045fb4b1458d5cd6bb4f28146d31a476a793/kubeflow/katib/studyjobcontroller.libsonnet#L29) if future changers are not careful enough to kee

[2019-01-23 03:20] hougangliu commented on #2311
Because we cannot know in advance which namespace user will run a studyjob, so I am afraid we cannot create a complete RBAC when install.
As you mentioned, this is indeed a problem to keep sync. Maybe we can assign **create** permission of **serviceaccount** and **RoleBinding** to  serviceaccount  studyjob-controller when install katib. Then when create a studyjob, study-controller try to create r

[2019-01-23 14:21] rummens opened #2317 "Add Azure Version of tf-serving prototype"
Since we are running Kubeflow on Azure we need a tf-serving prototype for Azure. Is something in the pipeline? If not what would be neccessary to create such a prototype? I am not familar with ksonnent but I am happy to adapt the script to Azure.

An alternative would be to pull the model from git, this would enable to have Git as the Single Point of truth.  The script has to be adapted for this a

[2019-01-23 19:40] Ark-kun opened #2318 "ERROR: (gcloud.projects.set-iam-policy) Resource in project [ml-pipeline-test:setIamPolicy] is the subject of a conflict: There were concurrent policy changes. Please retry the whole read-modify-write with exponential backoff."
We started constantly getting this error from Kubeflow deployer:

https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/712/kubeflow-pipeline-e2e-test/515/
https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/711/kubeflow-pipeline-e2e-test/513/
https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/714/kubeflow-

[2019-01-23 20:29] fboylu opened #2319 "tf-serving how to add volumes/volumeMounts"
What is the suggested way to add new volumeMounts and volumes parameters to tf-serving deployments? I don't see these as optional parameters. Thank you.

[2019-01-23 20:42] lluunn opened #2320 "TF serving new template should support model from NFS volume"
We had it before in the old template
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/tf-serving/tf-serving.libsonnet#L158

[2019-01-23 20:43] lluunn opened #2321 "TF serving new template should support model from NFS volume"
We had it before in the old template
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/tf-serving/tf-serving.libsonnet#L158

[2019-01-23 20:43] lluunn commented on #2319
We don't support it now.
Could you describe your use case? Is it that the model is located at some local disk?

https://github.com/kubeflow/kubeflow/blob/master/kubeflow/tf-serving/tf-serving.libsonnet#L158
In our legacy template, there is a way to a NFS volume. Will that work for you?
https://github.com/kubeflow/kubeflow/issues/2321

[2019-01-23 20:47] fboylu commented on #2319
Correct, my model is hosted on [blobfuse](https://github.com/Azure/kubernetes-volume-drivers/tree/master/flexvolume/blobfuse). any work arounds to try?

[2019-01-23 20:54] lluunn commented on #2319
For now, you can modify your ks app directly to add the volume.

There are two ways:
1. edit the prototype directly, which should be in vendor/kubeflow/tf-serving/XXX.libsonnet in the ksonnet app. This will affect all of your tf-serving component in your ks app.

2. After generating a component, your should have a jsonnet as components/XXX.jsonnet in your ks app. edit the component, using ksonnet

[2019-01-24 00:30] #2131 closed

[2019-01-24 12:41] johnugeorge commented on #2311
Yes.  it is difficult to support metrics collector service account creation(during katib install) in this architecture design.  I feel that this metric collector architecture is little complex.

[2019-01-24 15:02] zyxcambridge opened #2325 "kubeflow 有没有中文社区"
kubeflow 有没有中文社区

[2019-01-24 16:27] rummens opened #2326 "TF-Serving: How to add new Param to Service Prototype (running in Field does not exist)"
Hi,

I am trying to add a new parameter to the Service Prototype of TF-Serving. I want to customize the port the HTTP service is exposing.

I have added the new optional param in the tf-serving service prototype:
[code]

I changed the tf-serving service template accordingly:
[code]

After generating a new component the param is added:
[code]

But when trying to apply the component it fails with:

[2019-01-24 19:03] ddutta opened #2327 "CUJ: #kfonprem kubeflow on-premise journey"
This is a central tracker for issues related to onprem kubeflow deployments.
The user journey should be defined by user type:
1. IT Operator
2. Data Engineer
3. Data Scientist

Several entities (e.g. enterprises) will need to run workloads on Kubeflow on premises. In these environments, infrastructure is typically managed by the IT teams. Thus, we need to support this persona. While there is some

[2019-01-24 19:04] ddutta commented on #2327
/cc @swiftdiaries @ramdootp

[2019-01-24 19:05] swiftdiaries commented on #2327
/assign @swiftdiaries @ramdootp

[2019-01-24 19:07] swiftdiaries commented on #2327
Initial draft: https://docs.google.com/presentation/d/1fb6QgFNZ2B1DUUMpOKSEy1RqsJjUIv6hkrr-iq9D6i0/edit?usp=sharing

[2019-01-24 19:43] ddutta commented on #2327
/cc @carmine

[2019-01-24 21:43] fboylu commented on #2319
I am trying 1. above and modified the file. I am getting

tf-serving-template.libsonnet:120:31-36 Unknown variable: False

                  "readOnly": False,

from the volumes I added. Any ideas what the problem would be?

[2019-01-24 21:46] fboylu commented on #2319
closed by mistake sorry, let me know if any ideas on the error. thanks.

[2019-01-24 22:51] lluunn commented on #2319
Try making it a string, "false"

[2019-01-24 23:51] jlewi commented on #2288
I don't have concrete ideas; just some notion that it would be some sort of YAML file that would ultimately do 2 things

1. Make it easy to spin up the solution on Kubeflow
1. Provide some meta information e.g. description, keywords etc... to make it easy to search GitHub.

Lets take you're GitHub Issue summarization example in kubeflow. We basically have a set of templatized YAML specs in the for

[2019-01-25 01:04] jlewi commented on #2310
I think multiple deployments is a red-hrring.

@amygdala Can you provide the logs for the iap container in the envoy pod e.g.

[code]

I suspect what's happening here is that the envoy config is generated by the iap sidecar container and its not getting created because IAP is disabled.

[2019-01-25 01:06] jlewi commented on #2310
Anyone interested in looking into a short term fix?

Long term we are moving to ISTIO and basic auth for non IAP setup.

[2019-01-25 01:11] jlewi commented on #2312
Thanks this is great feedback and I generally agree with it. Adding additional monitoring centered around Kubernetes Applications is happening but very slowly so we'd love contributions.

Kubeflow now gets deployed with a K8s Application so you can do

[code]
There's a lot more work to do provide relevant information.

We'd like to add agents to monitor status and then report it using K8s events.

[2019-01-25 02:13] jlewi commented on #2317
You don't need to use ksonnet to use TFServing, TFJob, etc... You can define those resources using whatever K8s tooling you want; raw YAML, helm, kustomize.

We provide ksonnet mostly as convenient syntax sugar. The arena CLI might have helm charts if that's the route you prefer.

That said a ksonnet prototype for Azure would be great.
My suggestion would be to just copy one of the existing protot

[2019-01-25 03:33] jlewi commented on #2310
@amygdala Actually the pods in question shouldn't matter if you aren't using IAP. The sole purpose of thoe pods is to validate JWTs from IAP but since you don't have IAP enabled you don't need them.

So you can just ignore them.

If you are using kfctl.sh (but I don't think you are) you could just remove the component or using kubectl

[code]

[2019-01-25 03:35] jlewi commented on #2310
@amygdala You could be right about multiple deployments. I suspect we have a bit of a hack in the way we disable non-iap and we end up reusing some value that could be causing this issue.

[2019-01-25 14:46] fboylu commented on #2319
I got the below but then changed to ReadOnly instead of readOnly and it worked.
ERROR handle object: creating object: creating object: Deployment in version "v1beta1" cannot be handled as a Deployment: v1beta1.Deployment.Spec: v1beta1.DeploymentSpec.Template: v1.PodTemplateSpec.Spec: v1.PodSpec.Volumes: []v1.Volume: v1.Volume.VolumeSource: FlexVolume: v1.FlexVolumeSource.ReadOnly: ReadBool: expect

[2019-01-25 15:53] fboylu commented on #2319
I had an issue with secrets, it worked after resolving that. thank you.

[2019-01-25 15:53] #2319 closed

[2019-01-25 16:12] rummens commented on #2317
I had a look into the Azure docs today and came up with the following idea:

Use Minio Gateway to translate Azure Blob Storage to S3 and then use the AWS prototype. The gateway seems to work fine, I installed it as a container, build a service around it and tensorflow is able to read from it:

[code]

The issue then is the tf-serving, I installed everything using the instruction for AWS on the kub

[2019-01-26 00:13] ellis-bigelow commented on #2306
@cliveseldon thanks for the input!

I wonder if, at a high level, it would make sense to be able to drop in a "Kubeflow Service" for a "Celdon Model". We both want to support GRPC/REST, canarying, istio routing, etc. It seems to me that your controller is responsible for instantiating the actual server infrastructure, so there would need to be some sort of inversion of control. Your controller wou

[2019-01-26 00:15] phatlast96 opened #2334 "Parallelism Support Needed for Custom (Statistical) ML Models"
Sometimes, statistical ML models work better than Neural Networks like time-series forecasting. In those cases, parallelism is needed for preprocessing, training, and inference.

It would be great if there's support for distributed computing like [Dask](https://dask.org/) (or even support **to use** Dask within Kubeflow) without having to use Pytorch nor Tensorflow.

[2019-01-26 01:06] jlewi commented on #2271
/assign @vkoukis  at his request.
/assign @kimwnasptd

[2019-01-26 01:08] jlewi commented on #1995
@vkoukis UI looks great. Is the notebook login screen going away? I thought in the initial PR the UI would just use a service account with suitable permissions to create notebooks.

[2019-01-26 01:35] vielmetti opened #2337 "Kubeflow on arm64"
Referencing #819, and similar to #925/#1928 -

Kubernetes currently runs on arm64, and there is interest to get kubeflow running on arm64 as well. I am happy to entertain any suggestions on where to start first in terms of porting, either from the "most difficult projects to tackle first" point of view, or the "easiest possible way to get a proof of concept" as well.

[2019-01-27 22:05] jlewi commented on #2337
@vielmetti that sounds great. How can we help?

My suggestion would probably to be take one of the examples e.g. [mnist](https://github.com/kubeflow/examples/tree/master/mnist) try to run it on Arm and just see where things get start.

To run on ARM will all of our docker images need to be rebuilt to support ARM?

Can you and the other folks working on supporting other platforms like IBM power 8 p

[2019-01-27 22:08] jlewi commented on #2326
Check you params.libsonnet file. Is your parameter listed there?

Can you also do `ks param list` and provide the output?

[2019-01-27 22:19] jlewi commented on #2309
@SInaChavoshi?

[2019-01-27 23:20] ioandr commented on #1995
Our initial approach was to require Users to login into the new Jupyter UI with the JWT that is associated with their ServiceAccount, so that the new Jupyter web app could leverage K8s Impersonation for all API requests it performs. Since the auth login UI that has already been merged, we can skip the login and Impersonation parts for now. Instead, a privilleged SA will be created for the new Jupy

[2019-01-28 00:04] jlewi commented on #1281
Closing this issue as stale.

[2019-01-28 00:04] #1281 closed

[2019-01-28 00:06] jlewi commented on #2325
I was told this translates to something along the lines of is there a Chinese community for Kubeflow.

/cc @gaocegege @kunmingg @fxue

[2019-01-28 01:41] gaocegege commented on #2325
We recommend using English in the community.

As for this question, 我们在 Kubeflow 的 Slack 中有一个中国的 channel，除此之外，我们还有一个微信群。你可以通过 https://kubeflow.slack.com/messages/C93HYNM9C/details/ 给出的信息加入微信群。

/close

[2019-01-28 01:41] #2325 closed

[2019-01-28 02:16] jlewi commented on #2273
Has anyone else observed this?

I've always found copy-paste behavior in JupyterLab to be finicky but haven't associated any differences with IAP.

[2019-01-28 02:32] jlewi commented on #2284
@DanSanche Can we close this issue? Does this warrant a cherry-pick onto the 0.4 branch?

[2019-01-28 02:50] #2155 closed

[2019-01-28 02:51] jlewi commented on #2103
@Jeffwan I think @kkasravi added a bunch of unittests recently; are we still missing unittests for this?

[2019-01-28 02:52] jlewi commented on #2027
Duplicate of #2054

[2019-01-28 02:52] #2027 closed

[2019-01-28 02:55] jlewi commented on #1931
@tidylobster Sorry no on ever responded to you. Were you ever able to get this resolved?

I don't the TFJob controller binds any ports. So I think it might an issue somewhere in your code?

[2019-01-28 02:57] jlewi commented on #1882
I'm going to close this out since I think the issue is stale; hopefully the issue is fixed by the latest version of kfctl.sh.

[2019-01-28 02:57] #1882 closed

[2019-01-28 05:55] Jeffwan commented on #2103
@jlewi Let me have a check. Recently get stuck on some work and did spend time on it.

[2019-01-28 07:06] DanSanche commented on #2284
Yes, sorry this is good to close. I opened and merged a 0.4 cherry-pick PR here: https://github.com/kubeflow/kubeflow/pull/2324

[2019-01-28 07:06] #2284 closed

[2019-01-28 08:09] rummens commented on #2326
Hello,
yes the params show up both in the file and using the command:

params.libsonnet:
[code]

[code]

[2019-01-28 09:19] rummens commented on #2326
I have no idea what caused this issue but I tried it again this morning after rebooting the machine and it works :-) I have created a Pull request for this because I think this could be a usefull feature: #2340

[2019-01-28 09:19] #2326 closed

[2019-01-28 14:53] ediphy-azorab commented on #2289
We've been getting this on our internal systems - it appears to be an issue with google's IAP leaving lots of `GCP_IAP_XSRF_NONCE_{...}` cookies, which eventually build up until the IAP starts rejecting requests.

Your cause may be the same.

[2019-01-28 15:57] cwbeitel commented on #2289
@ediphy-azorab Thank you for sharing!

[2019-01-28 16:00] jlewi commented on #1764
Does the go linter have an easy way to output a junit file? If it does then it should be easy to surface the results in prow?

We could ask the K8s engprod team what they do.

[2019-01-28 16:03] r2d4 commented on #1764
There is this https://github.com/jstemmer/go-junit-report, I believe K8s has its own converter from `go test` to junit.

[2019-01-28 16:05] jlewi commented on #1764
Looks like there's an issue open in golangci-lint golangci/golangci-lint#373

[2019-01-28 16:14] jlewi opened #2341 "Basic auth: use bcrypt on the cookies."
Follow on to #2262

The gatekeeper used for basic auth stores the cookies. We should consider using bcrypt to hash the cookies and only store the hashed values just like we do for the passwords.

[2019-01-28 16:25] jlewi opened #2342 "[basic auth] Component test for gatekeeper"
#2262 added gatekeeper which is a simple goserver for doing basic auth.
#2094: Basic auth uber issue

We should create a component test. Similar to
https://github.com/kubeflow/examples/blob/master/mnist/testing/predict_test.py

The test should send various requests to the server and verify the server responds corrctly.

This would be useful during development because user could just start the serv

[2019-01-28 16:27] jlewi opened #2343 "[basic auth] add E2E test"
Related to #2094: Basic auth uber issue

We will need an E2E test for basic auth. We want to verify

1. kfctl can deploy using basic auth
1. user can login using basic auth and access central dashboard

[2019-01-28 19:44] john-cr commented on #2312
I've been working on this with @jayunit100 trying to put together a simple installation script (see below) that isn't tied to a specific type of kube cluster. This was created by going through the kubeflow/scripts folder and removing anything that was platform specific.

[code]

It runs fine on minikube but if I run it on a GKE cluster I get the following error.

[code]

I was surprised the API ve

[2019-01-28 19:56] john-cr opened #2345 "Unable to download after pod starts"
When starting a new tfjob the pod is unable to connect to the internet for the first 5-10 seconds. This means that if the job downloads data before starting to train it will fail intermittently. I'm not sure if this is an issue with kubeflow or another kubernetes component, but it took me a while to figure out when I built a simple prototype using the keras datasets

[2019-01-29 00:05] #2147 closed

[2019-01-29 00:05] #2148 closed

[2019-01-29 00:05] #2149 closed

[2019-01-29 01:48] carmine commented on #1894
this may be a p2 vs p1 (agree that hardcoded isn't ideal, so leaving p1 for now)

[2019-01-29 02:02] carmine commented on #1616
@ashahba  - still interested?

[2019-01-29 07:13] Jeffwan commented on #2103
@jlewi TF-serving actually has corresponding UTs, the problem was there's no test cases for GCP and AWS specific logic. I'd like to add both of them. I notice cloud provider related code in under prototype which is not testable? Looks like UTs are against libsonnet files. The structure is different from Tensorboard that cloud provider has its own libsonnet file.

[2019-01-29 11:03] zyxcambridge commented on #2325
I
  Don't have an @google.com, @caicloud.io, or @microsoft.com email address?
Contact your Workspace Administrator for an invitation.
my gmail is  zyxcambridge@gmail.com

[2019-01-29 13:04] mbelang commented on #32
Even AWS official documentation is not working with recent version of kubeflow... I had to install `0.2.5` to get it work. I think I'm going to reverse engineer the output of the current installation and create a `helm` chart to make it easier to work with...

[2019-01-29 15:32] jlewi commented on #2345
This isn't an issue with TFJob or Kubeflow. Neither of these components should affect the internet connectivity of your pods.

I don't know that I've ever observed this particular failure mode. So it might be particular to your Kubernetes setup. How are you running Kubernetes?

Did you consider adding backoff and retry to your code using the retrying python package?

[2019-01-29 22:43] richardsliu commented on #2325
@zyxcambridge You can add me on wechat and I'll invite you to the group. My wechat id is richardsliu, same as my github id.

[2019-01-29 23:07] john-cr commented on #2345
I am running Kubernetes in minikube. Adding the retry fixed the issue but it still seems strange the internet connectivity took so long to come up

[2019-01-30 00:59] TimZaman opened #2347 "Argo (&Pipelines) not working well with microk8s."
CC @elmarhaussmann

Microk8s versions tested: `1.12.4` and `1.13.2`.
Kubeflow versions tested: `0.3.5`,` 0.4.1`
Microk8s was installed with snap using the guide: https://www.kubeflow.org/docs/started/getting-started-multipass/, here, we tried with and without multipass, both to same affect.

Running anything with outputs will fail on argo/kfp and in the `wait` container you'll see something like t

[2019-01-30 03:16] gaocegege commented on #2325
@zyxcambridge You could register via this link: https://join.slack.com/t/kubeflow/shared_invite/enQtNDg5MTM4NTQyNjczLWUyZGI1ZmExZWExYWY4YzlkOWI4NjljNjJhZjhjMjEwNGFjNmVkNjg2NTg4M2I0ZTM5NDExZWI5YTIyMzVmNzM

[2019-01-30 12:41] ma2331550908 opened #2350 "Failed to connect to Hub API at 'http://jupyter-0:8081/hub/api'. Is the Hub accessible at this URL (from host: jupyter-q)?"
- gcr.io/kubeflow-images-public/tensorflow-1.12.0-notebook-cpu: v0.4.0 images is ok；
- gcr.io/kubeflow-images-public/tensorflow-1.10.1-notebook-gpu: v0.4.0 has problems； but pod jupyer-0 and new pod(jupyter-q) is running;
![2019-01-30 20 42 32](https://user-images.githubusercontent.com/8001249/51981971-a06f7500-24cf-11e9-9980-f1651089d09e.png)

**kubectl logs jupyter-q -n kubeflow**

`checking if

[2019-01-30 12:47] ma2331550908 commented on #2350
## ENV
- two Physical Server
- KUBEFLOW_TAG=v0.4.1
- k8s 1.13

[2019-01-30 13:37] DanCech commented on #2289
Ended up here looking for a solution to the same issue, and can confirm that I am also seeing tons of `GCP_IAP_XSRF_NONCE_{...}` cookies when I get the 413 error.

[2019-01-30 17:12] ellis-bigelow commented on #2306
@cliveseldon that overview and links really helped my understanding. Let's connect over slack late this week/early next and then follow up in here.

I'd love to learn about:

- Common use cases for transformers
- PodTemplaceSpec vs MLServingSpec differences
- Further discuss potential integration points between Kubeflow Service & Seldon Deployment

[2019-01-30 17:43] carmine commented on #2327
@ddutta - great start. I've requested edit access so that I can make suggestions, etc.

[2019-01-30 19:06] lluunn opened #2351 "Consider using kustomize to manage notebookCRD manifest"
We are using kubebuilder, and it's using kustomize by default
See #2336

Related:  #2269

[2019-01-30 23:43] jlewi commented on #2347
Thanks @TimZaman.

/cc @carmine

[2019-01-30 23:47] jlewi commented on #2350
@ma2331550908 What are you trying to do? Were you able to deploy notebooks successfully?

How are you doing auth?

[2019-01-30 23:48] jlewi commented on #2345
@john-cr glad that worked. You might consider following up with the minikube folks if you want to pursue timing further.

[2019-01-30 23:48] #2345 closed

[2019-01-31 10:52] carmine commented on #151
Adjusting to 0.5.0 and p2 .. can bump higher if we feel this will get released in the 0.5.0 timeframe.

[2019-01-31 10:54] carmine commented on #151
Have added to kanban board as well - https://github.com/orgs/kubeflow/projects/4

[2019-01-31 13:58] ma2331550908 commented on #2350
Browser changed to Firefox is ok, the reason has been not found yet.

[2019-01-31 13:58] #2350 closed

[2019-01-31 14:12] jlewi opened #2356 "Run on Kubeflow/Kubernetes button for GitHub"
It would be great to have a button that people could affix to GitHub repos to deploy an example on Kubeflow.

Something like what floydhub has:
https://github.com/floydhub/examples

I'm not sure anything about this would really need to be Kubeflow specific; it might be sufficient to have a button `Run on Kubernetes` that would make it easy to deploy ksonnet/helm/yaml manifests on a user's cluster.

[2019-01-31 14:12] jlewi commented on #2356
I wonder if someone has already created something like this for Kubernetes we could reuse?

[2019-01-31 14:15] jlewi commented on #2356
kubernetes/kubernetes#31208

IBM/Scalable-WordPress-deployment-on-Kubernetes#1

/cc @animeshsingh

[2019-01-31 22:37] jlewi commented on #1736
@jcurlier Were you ever able to resolve this? It seems like there is some mismatch in how the identity in JWT's are being escaped.

[2019-01-31 22:38] jlewi commented on #2208
The Jupyter notebook CR is available in 0.4. It would be good to try that out with some arbitrary notebook images starting with the stock TensorFlow images which include jupyter.

[2019-01-31 22:44] jlewi opened #2358 "Tryout running Jupyter with TF 2.0 using stock TensorFlow images"
TF 2.0 is coming soon. The nightly builds of TF should be TF 2.0.
https://hub.docker.com/r/tensorflow/tensorflow/tags

TF docker images include jupyter and start it by default. It would be great to see if we could just run these images on Kubeflow rather than having to build custom images (see also #2208).

Previously one of the reasons we had to customize the docker images was because we were usi

[2019-01-31 22:56] avdaredevil opened #2359 "[Dashboard v1][Tracker][Redesign] Landing Page v1"
## General Idea
Create a landing page that provides all existing functionality while also starting to offer some basic help and information. This is a tracker issue. I will be adding these features!

## Features
Tentative list of features being added:
- Create a responsive and a11y enabled **sidebar**
  - Move links to a sidebar
  - Add link for Home
  - Add Kubeflow Logo
- Create a **Main View**

[2019-01-31 22:57] lluunn opened #2360 "[notebook CRD] kubebuilder assuming ApiGroup = Domain.Group"
I think it's a little over-opinionated.
See #2336

paste some discussion here:

[2019-01-31 23:49] zabbasi commented on #2358
@jlewi please assign this to me.

[2019-02-01 00:11] Youki commented on #2302
This issue is not reproducible any more with v0.4.1. So, I will close this issue.

[2019-02-01 00:11] #2302 closed

[2019-02-01 02:36] richardsliu commented on #2359
/assign @ajayalfred

[2019-02-01 03:59] jcurlier commented on #1736
@jlewi Thanks for the follow up - I don't remember if I did - I was learning and experimenting with Kubelow at that time.

[2019-02-01 04:19] animeshsingh commented on #2356
@jlewi we have definitely implemented this for IBM Cloud Kubernetes clusters, using the IBM DevOps toolchain pipeline (Jenkins under the covers). Is the idea that we redirect to a particular public cloud provider? Also  we are looking at examples in Kubeflow repository which can be pushed to Kubeflow deployments, given users give the URL and creds?

[2019-02-01 19:41] ajayalfred commented on #2359
/assign @yebrahim

[2019-02-01 21:04] lluunn opened #2364 "Re-enable click_deploy_test"
https://github.com/kubeflow/kubeflow/blob/master/prow_config.yaml#L6

I think it's not being run:
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-periodic-master

@kunmingg mentioned the cluster might need more quota.

[2019-02-01 22:13] #2174 closed

[2019-02-01 22:57] CSP197 commented on #337
Hello @jlewi
I see there is a merged PR referencing this issue (#1271)
Has this issue been fixed? Or are you still accepting contributions for this issue?
-CSP

[2019-02-02 00:31] kkasravi opened #2365 "Remove --packages and --components from 'kfctl generate' (golang)"
These CLI parameters are only used internally and should not be exposed at the CLI level.

[2019-02-02 00:35] kkasravi opened #2366 "Move --namespace parameter from generate to init in kfctl (golang)"
This is only needed at generation time

[2019-02-02 00:43] kkasravi opened #2367 "Have the different kfctl (golang) implementations of KfApp hold a map of KfApp children"
Each implementation of KfApp will need to aggregate other KfApp implementations.
For example GcpApp will need to use KsApp, KustomizeApp, etc
Something like below would allow each implementation aggregate a map of KfApp's that it may need.

[code]

[2019-02-02 00:45] jlewi commented on #2052
@lluunn What are the next steps?

[2019-02-02 00:48] kkasravi opened #2368 "Replace CfgFile *viper.Viper in KsApp with a struct and move to group.go in kfctl (golang)"
CfgFile *viper.Viper is used to fetch certain parameters held in app.yaml that can stored in a struct and made available within the KfApp interface via a Getter method.

[2019-02-02 00:53] lluunn commented on #2052
e2e test, and then enable it by default

[2019-02-02 01:00] kunmingg commented on #2364
An easy approach is to make e2e test clean up before each run, we can reuse what prober test is doing today:
https://github.com/kubeflow/kubeflow/blob/master/testing/test_deploy_app.py#L363

[2019-02-02 01:48] lluunn commented on #2364
It looks like it should be running in kubeflow-ci/kubeflow-testing cluster:
https://github.com/kubeflow/kubeflow/blob/master/testing/workflows/components/click_deploy_test.jsonnet#L192

@kunmingg If it's quota problem, shouldn't the test still be run, and then failed?

[2019-02-02 01:52] kunmingg commented on #2364
Let's setup a dedicated cluster for it.
Will double check periodic test config, maybe some PRs break the periodic test config

[2019-02-02 03:55] kkasravi opened #2370 "add the gcp platform to kfctl (golang)"
the gcp platform needs to do what the bash script does:
- create gcp_configs
- create k8s_specs
- create ks_app

create service account, create deployment...

[2019-02-02 19:56] ashahba opened #2374 "Miniconda version is pretty old and different versions of tini are used within Jupyter Dockerfiles"
Currently we use `Miniconda v4.4.10` which is nearly a year old and `tini` versions are both `0.10.0` or `0.17.0`.
We should update `Miniconda` to the latest version and also ensure `tini` is upgraded to latest version everywhere to get the latest and greatest fixes.

[2019-02-02 19:58] ashahba opened #2375 ""pip install --upgrade pip" is usually a bad practice since it's known to have caused issues."
We should stick with a specific version of `pip` and only upgrade periodically in order to avoid unwanted breakage.

[2019-02-02 21:05] kkasravi commented on #2366
/assign @kkasravi

[2019-02-02 21:06] kkasravi commented on #2365
/assign @kkasravi

[2019-02-02 22:41] jlewi commented on #2365
How/where do they get used?

[2019-02-02 22:52] jlewi commented on #2368
I don't have reason to like or not like Viper. I've never used viper which is why I was asking about it.

According to https://github.com/spf13/viper
its a `configuration solution`

so I'm fine with it if you think its preferable.

[2019-02-02 23:30] jlewi opened #2377 "[Click To Deploy] Take a query argument that specifies the list of Kubeflow versions to display"
We'd like the click to deploy web app to take a query argument that can be used to control which Kubeflow versions are listed in the drop down box.

This would make it easy for us to test new versions of Kubeflow with the click to deploy app before they have rolled out.

/assign @avdaredevil

[2019-02-03 21:43] lluunn opened #2378 "Consider adding PodSecurityPolicy"
For the notebook controller, we are creating pod based on the PodSpec that user provides (Katib might be similar?).

From the [doc](https://kubernetes.io/docs/concepts/policy/pod-security-policy/): A Pod Security Policy is a cluster-level resource that controls security sensitive aspects of the pod specification.

See some discussion in https://github.com/kubeflow/kubeflow/pull/2336#issuecomment-4

[2019-02-03 23:37] kkasravi commented on #2365
they were used to set/get components and packages in the app.yaml using viper. But they should not be exposed at the CLI level. Also viper is buggy on marshal, unmarshal of certain types of golang structs like map[string][]string or []NameValue so I've moved away from viper for marshalling/unmarshalling and now use github.com/ghodss/yaml. This is also used in a number of k8 tools.

[2019-02-03 23:52] carmine commented on #607
Any update on this integration?

[2019-02-04 00:51] kkasravi commented on #2366
/label kfctl

[2019-02-04 00:52] kkasravi commented on #2366
/label area/kfctl

[2019-02-04 00:58] kkasravi commented on #2366
/area kfctl

[2019-02-04 00:59] kkasravi commented on #2366
/priority p2

[2019-02-04 01:00] kkasravi commented on #2365
/area kfctl

[2019-02-04 01:00] kkasravi commented on #2365
/priority p2

[2019-02-04 01:09] ashahba commented on #2374
Looks like `Miniconda` versions newer that `4.5.4` have `Python 3.7` as default however `TensorFlow` doesn't support `3.7` yet 🤔

[2019-02-04 03:44] paveldournov opened #2379 "Add a page on kubeflow.org referencing design docs on drive"
To make the design docs more discoverable from the main web site, can we please add a page referencing the main docs with a brief description of them?

/assign @sarahmaddox
/cc @vicaire @jlewi

[2019-02-04 04:13] sarahmaddox commented on #2379
/assign paveldournov

[2019-02-04 04:55] paveldournov commented on #2379
The high level design overviews (which is what some of the docs are) are essentially in-depth concept guides for the users, who deploy/operate and extend the system, so I think it would be great to have them referenced as such from the documentation pages on the site. Linking from github is also a good idea, but in that case the user first needs to know what the repo is for.

[2019-02-04 04:57] paveldournov commented on #2378
/assign @jlewi

[2019-02-04 05:40] sarahmaddox commented on #2379
Please would you link to the docs you mean? I've found these two, both publicly visible:

* [Kubeflow Pipeline Design Doc](https://docs.google.com/document/d/1O5n02SzMYmLH0cMkykxHWWWe7eMzaP1vk7Y3fBbLoD8/edit#) - this one seems useful as a conceptual guide to Pipelines. I'd recommend linking to it from the Pipelines section of the docs, rather than a generic page of design docs.
* [Kubeflow Jupyter

[2019-02-04 07:50] 13567436138 opened #2380 "I am installing kubeflow and got this error，no matches for kind "Application" in version "app.k8s.io/v1beta1"，need help"
INFO Applying customresourcedefinitions applications.app.k8s.io
INFO Creating non-existent customresourcedefinitions applications.app.k8s.io
ERROR handle object: patching object from cluster: merging object with existing state: unable to recognize "/tmp/ksonnet-mergepatch753566743": no matches for kind "Application" in version "app.k8s.io/v1beta1"

[2019-02-04 07:56] 13567436138 commented on #1933
when i apply  ks show default -c metacontroller -c application > default.yaml
I got  ks show default -c metacontroller -c application > default.yaml
what‘s going on？

[2019-02-04 07:56] 13567436138 commented on #1933
got  ERROR finding app root from starting path: : unable to find ksonnet project

[2019-02-04 12:40] kkasravi commented on #2380
You probably had a different version of this CRD installed.

If you do a `kubectl get crds` you should get a list of CRDS. You should look for all app.k8s.io/v1beta1 CRDS. Make sure any applications.app.k8s.io are deleted.

[2019-02-04 13:31] jlewi commented on #2380
Is this a Duplicate of #1933?

@13567436138 How did you install Kubeflow? Can you provide steps to reproduce this issue? Our tests on GKE don't seem to hit this issue so I suspect the issue is specific to non-GKE installs.

[2019-02-04 13:36] jlewi commented on #2379
I tend to agree with @sarahmaddox that developer focused information is not really the target audience for the design docs.

We've been putting most of our information targeting developers in GitHub e.g.

* In ROADMAP.md
* Developer Guide / Contribution Guide

@paveldournov If we think the design doc contains useful information for deploying/operating and extending the system should we pull this i

[2019-02-04 13:36] jlewi commented on #2379
/assign @paveldournov

[2019-02-04 13:37] jlewi commented on #2378
/unassign @jlewi

[2019-02-04 13:39] jlewi commented on #2375
@ashahba What is this in reference to? i.e where are we doing `pip install --upgrade pip`.

Can you attach a priority and labels to this issue using "/priority & /label"

/assign @ashahba

[2019-02-04 13:41] jlewi commented on #2358
/assign @zabbasi

[2019-02-04 13:43] jlewi commented on #2374
@ashahba Do you mean in our Jupyter images? What is the priority of this issue?

We have related issues #2208 #2358 to see if we can use stock Jupyter images.  Would this indirectly solve the problem because we could stop building our own Jupyter images? For example we could just use the stock TensorFlow images?

[2019-02-04 13:44] jlewi commented on #2370
@kkasravi I think you're planning on picking this up?

/assign @kkasravi

[2019-02-04 13:46] jlewi commented on #2359
@avdaredevil is actually working on this and has a PR pending.

[2019-02-04 14:24] jlewi commented on #1737
See kubeflow/testing#12 for related issue about using selenium for testing.

Although I think a better way to test our images would be just by ensuring that some sample notebook can run successfully inside the jupyter image.

See also kubeflow/examples#454
And http://bit.ly/kf_example_testing_guide - E2E testing guide for examples; includes info about notebook testing

[2019-02-04 14:34] jlewi commented on #1057
Downgrading to P2 since we are focusing on xgboost and TF.

I think a good next step would be to try to use some stock Jupyter images for PyTorch with the new notebook CR.

Ideally, we'd like existing jupyter images to just work so that we don't need to build custom images; see #2208. This should be more doable now that we no longer use JupyterHub.

[2019-02-04 14:35] jayunit100 commented on #155
also curious about this, and specifically wether spark (or other ETL/large data set tools for that matter) are going to be major parts of what kubeflow packages.... So far i've always seen kubeflow as more of a data science platform, rather then a core data engineering one.

[2019-02-04 14:35] jlewi commented on #2208
If someone wants to help out, a great way would be to try running a PyTorch notebook with our CR; see #1057

[2019-02-04 14:53] jayunit100 opened #2381 "Add a "What kubeflow isn't" section to the README."
Hi kubeflow.

## Question

I've been seeing a few  issues which might expand the boundaries of kubeflow (spark, airflow, persistence).  Which has made me ask the question: What are the boundaries for the project's scope?

## Suggestion

I've been wondering wether there should be a section in the README about what kubeflow *is not*, i.e. what the boundaries are.  I'm of course in no position to def

[2019-02-04 17:52] jlewi commented on #2233
Adding this to the landing page CUJ.

I think our initial use case for application CRs is

* Monitoring Kubeflow
* Getting events about Kubeflow deployment and applications

Both of these relate to the landing page; i.e. the landing page would like to show Kubeflow events which might depend on grouping events by application.

[2019-02-04 17:55] kimwnasptd commented on #2269
Hi everyone, we've noticed with @ioandr that one issue with the current UX using JupyterHub is that when a user spawns a Notebook they don't get any feedback for the underlying Pod's status. Specifically, they would just wait for the Pod to start but wouldn't be notified if an error with the Pod's scheduling would occur.
We believe it could help if the Pod's status was mapped in the Notebook's CR.

[2019-02-04 17:56] jayunit100 commented on #191
related ~  i had a higher level question ~  #2381 . I guess the more general version of this question, which  i have, is  *what kind of tooling in general kubeflow is going to support (and not support)*...    specifically want to use katib for some things, trying to figure out wether it can be decoupled from kubeflow, and if so what stuff ill need to setup for this .  Knowing storage requirements

[2019-02-04 18:16] jlewi commented on #2094
@kunmingg Do we have a separate issue to track deployment of basic auth with kfctl? If not should we just  use this issue to track that?

Do we already have ksonnet packages for deploying the respective components or do we still need that?

I think @kkasravi is about to submit his initial PR for a go binary for kfctl. My suggestion would be to go directly to the GoBinary and not use kfctl.sh.

We

[2019-02-04 18:18] jlewi opened #2383 "[kfctl go] Need a minimal release process"
We will need a minimal release process for the kfctl go binary.

I think we can close this issue when we have instructions for how to build and release the kfctl go binary as part of a release.

We will need this for 0.5 since we want to include kfctl.

[2019-02-04 18:40] lluunn commented on #2269
Yeah I think we can relay the pod status to notebook CR's status

[2019-02-04 19:55] kunmingg opened #2387 "Support Kubeflow cluster delete which recycle quotas properly."
Provide ```delete``` option on both deploy app and kfctl go binary which can delete existing kubeflow cluster while recycle used quotas.
Example virtual quotas might be involved:
  instance-groups (unmanaged)
  ssl-certificates
  health-checks
  backend-services
  url-maps
  target-https-proxies
  target-http-proxies

[2019-02-04 20:18] kimwnasptd commented on #2156
@jlewi yes we are working on it, here's a draft of what we where thinking. We will add it to the PR
![none-pvc](https://user-images.githubusercontent.com/11134742/52234458-6389f080-28ca-11e9-83a7-8aaeb5abfb3e.png)

[2019-02-04 21:23] vkoukis commented on #2156
/assign kimwnasptd
/assign ioandr

[2019-02-04 22:44] lluunn commented on #2364
<img width="720" alt="screen shot 2019-02-04 at 14 41 35" src="https://user-images.githubusercontent.com/32310205/52242318-366a1d80-288b-11e9-9102-d6c2c4e5c3e4.png">

The log shows: the container main in pod XXX is not available: Bad Request

[2019-02-04 22:58] jlewi opened #2388 "Integrate test_flake8.py into CI system"
#2247 added a test for flakes related to python3.

We should integrate this into our CI system.

To do that we could just add it to the unittests workflow.

We just need to add a step here:
https://github.com/kubeflow/kubeflow/blob/01519e72ebfc520bab037159e6afecc7b1620845/testing/workflows/components/unit_tests.jsonnet#L109

/cc @cclauss

[2019-02-04 23:03] lluunn commented on #2364
manually launched the workflow. Saw:

CreateContainerConfigError: secrets "kubeflow-oauth" not found

[2019-02-04 23:51] ashahba commented on #2374
Oh in fact that sounds even better.
My idea about this was simple. Upgrade to latest but it turned out `TensorFlow` only support up to `Python 3.6` so any `Miniconda` images with `3.7` version is going to fail unless we add more custom code to make it work.
Let me review those tickets as well and get a better understanding before I commit to them 🙂

[2019-02-04 23:53] ashahba commented on #2374
However the notes about why that version of the `Miniconda` is the latest one we can use and also avoiding `pip install --upgrade pip` sets the priority to closer to `high` than `medium`.

[2019-02-04 23:57] ashahba commented on #2374
/priority medium

[2019-02-04 23:58] lluunn commented on #2364
The plan is to deploy to a new project (kubflow_ci_bootstrap or something under kubeflow.org) so that quotas/resources are easier to cleanup.

[2019-02-04 23:59] ashahba commented on #2375
@jlewi Here is one instance: https://github.com/kubeflow/kubeflow/blob/master/components/tensorflow-notebook-image/Dockerfile#L114

[2019-02-04 23:59] ashahba commented on #2375
/priority p1

[2019-02-05 00:08] ashahba opened #2389 "Clean up trailing whitespaces at the end of lines"
Here is a good discussion on Stack overflow around this issue:
https://softwareengineering.stackexchange.com/questions/121555/why-is-trailing-whitespace-a-big-deal

[2019-02-05 00:08] ashahba commented on #2389
/priority p2

[2019-02-05 00:08] ashahba commented on #2389
/assign @ashahba

[2019-02-05 00:30] ashahba commented on #2375
/area standards

[2019-02-05 00:31] ashahba commented on #2389
/area standards

[2019-02-05 00:35] avdaredevil opened #2390 "[Dashboard v1] Immediate fixes for new dashboard"
Child of #2359

## Overview
Things to achieve:
- [x] Remove the reliance of RawGit CDN in PR #2361.
- [x] Clean up unused polymer properties
- [x] Merge layout and index branches in the codebase to work off of one UI
- [x] Change round menu items to match `paper-item` spec
- [x] Make build version slightly brighter (waiting on mocks from @ajayalfred)
- [x] Add the quick links section (waiting on m

[2019-02-05 00:35] avdaredevil commented on #2390
/assign @avdaredevil

[2019-02-05 00:46] kkasravi opened #2391 "kfctl should try and apply all components rather than just the application component"
currently kfctl (both the bash and golang versions) call `ks apply -c metacontroller`, `ks apply -c application`. The application component fetches all other components and adds labels to each resource as part of it's apply. It would be preferred if we could do a `ks apply -c ` for each component but use the updated resource that the application component has processed.

[2019-02-05 00:52] 13567436138 commented on #2380
I follow the instruction from install document

[2019-02-05 00:53] 13567436138 commented on #2380
you should try

      ks show default -c metacontroller -c application > default.yaml
      kubectl apply --validate=false -f default.yaml
application has a dependency on metacontroller. This is what kfctl.sh is doing on master.

this solve my problem
from issues/1933
https://github.com/kubeflow/kubeflow/issues/1933

[2019-02-05 00:53] #2380 closed

[2019-02-05 01:32] lluunn commented on #2270
Agree that we just need one controller, profile, and it will create the namespace+role+rolebinding.

@kkasravi I can take on this you haven't started?

[2019-02-05 01:39] jlewi commented on #2391
Summarizing some discussion from slack here:

Some discussion here:
https://kubeflow.slack.com/archives/CF94DURGF/p1548435495001500

In kfctl.sh
https://github.com/kubeflow/kubeflow/commit/c8f88366e88dda63a6fd9d499ce16d664c457dba#diff-8a6f2d237f052b07ca594c20830ed9d2

@kkasravi did some jsonnet magic involving generating the manifests for all components via the Application and then doing `kubectl

[2019-02-05 01:55] lluunn commented on #2364
Created project: kubeflow-ci-deployment

[2019-02-05 02:03] hongye-sun opened #2392 "DM template fails with GPU enabled"
It seems that there is a time conflict issue on DM side. Our test deployments kept failure due to error:

e2e-9b40778-1331 has resource warnings
e2e-9b40778-1331-gpu-pool-v1: {"ResourceType":"gcp-types/container-v1beta1:projects.locations.clusters.nodePools","ResourceErrorCode":"400","ResourceErrorMessage":{"code":400,"message":"Cluster is currently being created, deleted, updated or repaired and

[2019-02-05 03:00] avdaredevil commented on #2359
Added some info on the backend info

[2019-02-05 09:32] IronPan commented on #2086
Yes I agree we should start by having user customize the deployment. I'll spend some time on this by this week.

[2019-02-05 12:23] #2317 closed

[2019-02-05 14:24] jlewi opened #2397 "kfctl - Fetch registry automatically"
One of the ugly bits with kfctl.sh is that you have to first fetch the repo e.g. to get kfctl.sh. kfctl.sh then uses its location to locate the ksonnet registry and other files.

This is something we hope to fix by moving to a go binary. With a go binary the semantics would be download and use kfctl; which should be more natural.

kfctl will still to need to fetch the config files. Here's how this

[2019-02-05 17:13] kkasravi opened #2398 "kfctl (golang) rename 'ks' directory and app to ksonnet and ksonnet.go respectively"
rename
./pkg/apis/apps/ksapp => ./pkg/apis/apps/ksonnet
./pkg/client/ksapp => ./pkg/client/ksonnet
pkg/client/ksapp/ksapp.go => pkg/client/ksapp/ksonnet.go

[2019-02-05 17:52] lluunn opened #2399 "Evaluate kube-rbac-proxy"
https://github.com/brancz/kube-rbac-proxy

It's used by Kubebuilder as an option for kustomize patch
[code]

[2019-02-05 17:54] jlewi commented on #2390
/priority p1
/area front-end

[2019-02-05 19:41] jlewi commented on #2392
I believe we only recently changed our DM configs to not install the GPU node pool by default.
In the past I don't recall any problems with DM having race conditions with creating the cluster and the node pools.

One possibility is that DM depends on is insufficient because the cluster will enter some state that prevents updates (e.g. if its autoscaling) then updates adding things like node pools

[2019-02-05 21:10] r2d4 commented on #2096
Shouldn't the image be the tensorflow notebook images we supply?

It has xgboost installed now.

[2019-02-05 21:40] kunmingg opened #2401 "presubmit failing: Quota 'DISKS_TOTAL_GB' exceeded. Limit: 16384.0 in region us-east1."
Might related to recent change:
 tests deploy storage by default.
and by default the storage DM won't be deleted.
We should recycle test disks after tests are done

[2019-02-05 21:40] kunmingg commented on #2401
/cc @IronPan

[2019-02-05 21:42] kunmingg commented on #2401
@IronPan
One place we might need to change is https://github.com/kubeflow/kubeflow/blob/master/testing/workflows/components/kfctl_test.jsonnet#L300

[2019-02-05 22:05] pdmack opened #2402 "Friction log for OpenShift 3.11"
https://docs.google.com/document/d/16sU5oM4f1yQQ0QiUOLce2RT619mrWGNZDkT4oIHK_6U/edit?usp=sharing

Living doc to enumerate and identify distinct issues/PR for Kubeflow improvements on OpenShift. Many of the workarounds are not best practices but can hopefully help developers to unblock.

[2019-02-05 22:33] bikramnehra commented on #2388
@jlewi you can assign this to me

[2019-02-05 23:18] lluunn commented on #2176
/assign

[2019-02-05 23:33] kunmingg commented on #2392
@hongye-sun
Can you retry on older GKE version?
Like at https://github.com/kubeflow/kubeflow/blob/master/deployment/gke/deployment_manager_configs/cluster-kubeflow.yaml#L34,
set version = ```1.11.6-gke.2```?

[2019-02-06 00:45] lluunn commented on #2401
cc @lluunn

[2019-02-06 00:46] kunmingg commented on #2401
@IronPan
Most spaces seems consumed by disks created in https://github.com/kubeflow/kubeflow/blob/master/kubeflow/pipeline/storage.libsonnet.
They are not deleted after tests finish.

[2019-02-06 01:35] vkoukis commented on #2156
/assign kimwnasptd

[2019-02-06 03:01] kkasravi commented on #2398
/area kftcl

[2019-02-06 03:12] kkasravi commented on #2398
/kind area/kfctl

[2019-02-06 03:13] kkasravi commented on #2398
/label area/kfctl

[2019-02-06 04:12] IronPan commented on #2401
Added the logic to delete the resources. https://github.com/kubeflow/kubeflow/pull/2373/files#diff-4718be91c949a9485ca0cf3fa589267a

@richardsliu FYI I've seen there are a few 10Gb PDs that dangling in the test project. Those should be created by katib's mysql DB.
Ref https://cloud.google.com/kubernetes-engine/docs/how-to/deleting-a-cluster#overview

[2019-02-06 04:32] jlewi commented on #2401
Can we add cleanup logic for the disks to our cleanup script which runs as a cron job:
https://github.com/kubeflow/testing/blob/master/py/kubeflow/testing/cleanup_ci.py ?

[2019-02-06 04:39] IronPan opened #2408 "kfctl.sh delete all timeout failed to delete namespace; problems deleting minio"
The log snippet parsed below.
There are issues such as https://github.com/kubernetes/kubernetes/issues/60807 describing the similar thing.

It happens in pipeline prow test that when test finish and want to do full delete, it's stuck in this step
https://github.com/kubeflow/kubeflow/blob/master/scripts/kfctl.sh#L487
The test job is killed by prow after 2h timeout. However the cluster is not delete

[2019-02-06 04:39] IronPan commented on #2408
/assign @kunmingg @jlewi

[2019-02-06 05:00] jlewi commented on #2408
@IronPan if the namespace isn't being deleted this usually means something is blocking the delete.

My hunch is that its related to the storage options you are adding related to pipelines. Kubernetes has some options to protect storage deletion
https://kubernetes.io/docs/tasks/administer-cluster/storage-object-in-use-protection/

[2019-02-06 05:12] jlewi commented on #2381
That's a really good suggestion and a really tough question :)

If you look at our [ROADMAP](https://github.com/kubeflow/kubeflow/blob/master/ROADMAP.md) we're increasingly taking a user focused approach writing CUJs focused on solving problems MLEngineers and Datascientists are facing.

So if we encounter a gap or problem in that CUJ that we can fix, should we not do so because it is outside our

[2019-02-06 05:35] IronPan commented on #2408
It might be related. The cluster uses in-cluster PD. I see a pod is stuck
[code]

And by describing the pod i got
[code]

The PVC is, however deleted
[code]

[2019-02-06 05:37] IronPan commented on #2408
I'm not sure how it ends up in that state. Based on the storage protection link that you mentioned, the PVC should be 'terminating' before pod is deleted.

[2019-02-06 06:39] IronPan opened #2411 "kfctl.sh delete all failed on OSX"
Error:
[code]

Line of code causing the issue
https://github.com/kubeflow/kubeflow/pull/2305/files#diff-8a6f2d237f052b07ca594c20830ed9d2R474
This only happens on macbook which has different expr syntax
ref https://stackoverflow.com/questions/25587446/syntax-error-expr

we should use some parser that are more standardized.

[2019-02-06 06:40] IronPan commented on #2411
/assign @svalleru
/cc @jlewi

[2019-02-06 09:10] bmv3cg opened #2412 "Heptio is discontinuing ksonnet."
Vmware  has decided to discontinue kssonet as heptio acquisition is closed. This will impact the kubeflow installation.

https://blogs.vmware.com/cloudnative/2019/02/05/welcoming-heptio-open-source-projects-to-vmware/

We need to think about an alternate installation mechanism for kubernetes.

[2019-02-06 09:58] pbrzostowski commented on #2412
Yea, that's unexpected. Anyway, there is a new approach in Kubernetes SIGs repo. I didn't have time to play around it yet though...

https://github.com/kubernetes-sigs/kustomize

It is fairly new, but maybe will getting shape and will make a perfect fit here.

[2019-02-06 15:03] ioandr commented on #2156
/assign kimwnasptd

[2019-02-06 15:43] kkasravi commented on #2368
fixed in #2294

[2019-02-06 15:43] #2368 closed

[2019-02-06 15:44] kkasravi commented on #2366
fixed in #2294

[2019-02-06 15:44] #2366 closed

[2019-02-06 15:45] kkasravi commented on #2365
fixed in #2294

[2019-02-06 15:45] #2365 closed

[2019-02-06 15:46] kkasravi opened #2413 "create a brew package for kfctl (golang)"
mac users should be able to install kfctl using brew

[2019-02-06 15:46] kkasravi commented on #2413
/area kfctl

[2019-02-06 15:47] kkasravi commented on #2413
/priority p2

[2019-02-06 15:51] kkasravi opened #2414 "make it easy to configure the foo sample plugin as a plugin or statically linked"
kfctl can load plugins as dynamic libraries `<plugin>.so`. We should make it easy to enable the sample plugin foo as a plugin or as part of kfctl (statically linked into the kfctl binary).

We should do this as a make target:

`make static`
`make plugins`

and document this feature along with the default configuration for foo (static).

[2019-02-06 15:51] kkasravi commented on #2414
/area kfctl

[2019-02-06 15:51] kkasravi commented on #2414
/priority p2

[2019-02-06 15:54] kkasravi opened #2415 "kfctl (golang) delete does not delete clusterroles, clusterrolebindings and crds"
kfctl will leave behind global resources

[2019-02-06 15:54] kkasravi commented on #2415
/area kfctl

[2019-02-06 15:54] kkasravi commented on #2415
/priority p1

[2019-02-06 17:54] ashahba commented on #2389
Closing the ticket now that the PR is merged.

[2019-02-06 17:54] #2389 closed

[2019-02-06 17:55] ashahba commented on #2375
Closing the ticket now that the fix is merged.

[2019-02-06 17:55] #2375 closed

[2019-02-06 18:32] lluunn opened #2417 "notebook controller Add CRD validation"
The first PR is merged #2336, things to improve:

- [x] e2e test (we have one test for the jsonnet-metacontroller one, we should make it run on this one)
- [x] status field should reflect the error if there is any. See #2269.
- [ ] ttlSecondsAfterFinished: This is in the original jsonnet controller spec, but not being used yet. I think we want to cleanup the notebook after idle for a period?
- [ ]

[2019-02-06 18:32] lluunn commented on #2269
Filed #2417 for followup

[2019-02-06 18:32] #2269 closed

[2019-02-06 19:09] kunmingg opened #2418 "kfctl / kfctl.sh delete k8s should delete CRD and cluster-wise resource as well."
Currently ```kfctl / kfctl.sh delete k8s``` only delete namespace, which may cause bug if user redeploy with a different kubeflow version which contains CRD with modified API.

We should delete
CRD
cluster role / binding
cluster issuer

[2019-02-06 19:10] kunmingg commented on #2418
/cc @jlewi @kkasravi

[2019-02-06 19:58] kkasravi opened #2420 "add docker-for-desktop platform to kfctl (golang)"
this platform is very (if not identical to minikube)

[2019-02-06 19:58] kkasravi commented on #2420
/area kfctl

[2019-02-06 19:58] kkasravi commented on #2420
/priority p1

[2019-02-06 20:15] dimm0 commented on #1915
I'm getting requests from users to install Kubeflow in our cluster, and so far the only way to install it is by creating an app with cluster-wide permissions.
I understand creating CRDs will require cluster admin, but in that case there should be a way to deploy certain components at cluster-level, and then give users permissions to create the needed workflow in their namespaces. Currently it's al

[2019-02-06 20:26] kkasravi opened #2421 "Migrate the application-controller to golang"
The application component will emit other components when `kfctl apply` is called. This includes global resources such as clusterroles, clusterrolebindings and crds. An application controller will be deployed which tracks resources deployed within the namespace and reparents these resource's controller to itself. This should all be migrated to golang since the current controller is based on metaco

[2019-02-06 20:43] IronPan opened #2422 "Deploy single mysql instance"
Currently both Katib and Pipeline deploys mysql instances. Ideally kubeflow should deploy a single mysql instance that shared across all components.

[2019-02-06 20:45] IronPan commented on #2422
I've seen a concrete issue that when user deploy kubeflow on a K8s cluster without setting up storageclass, user would set up the PV manually.
Katib mysql and Pipeline mysql would have conflict on claiming the PV resource and result in unexpected behavior.

[2019-02-06 20:47] IronPan commented on #2422
/assign @IronPan @richardsliu

[2019-02-06 20:58] richardsliu commented on #2422
/cc @zhenghuiwang

[2019-02-06 22:48] IronPan commented on #2401
I would suggest we have more control over the PD that's being created. If katib can reuse the same mysql instance, then it will be deleted by the step that we delete storage DM entry.

[2019-02-06 23:11] lluunn opened #2423 "Error creating Profile CR: status.observedGeneration in body must be of type int64"
After deployed the controller, I created a profile:
[code]

And got error (from the metacontroller pod):
[code]

@kkasravi any idea?

[2019-02-06 23:19] zhenghuiwang commented on #2422
@richardsliu thanks for looping me in. Could you give some links on how mysql is used in Katib?

@IronPan could you give references in Pipeline? A headsup, I'm thinking about making mysql a default storage solution for saving metadata of models, datasets etc. Spawning a single mysql instance could be the first step.

[2019-02-07 00:23] kkasravi commented on #2398
/assign kkasravi

[2019-02-07 00:24] kkasravi commented on #2397
/assign kkasravi

[2019-02-07 00:25] kkasravi commented on #2370
/unassign @kkasravi

[2019-02-07 00:26] kkasravi commented on #1419
closed by #2294

[2019-02-07 00:54] kkasravi commented on #2421
/area kfctl

[2019-02-07 01:28] woop commented on #2141
@jlewi I think using any kind of open dataset makes sense. Based on your suggestion: On which aspects of the GitHub issue would you be training a model to identify the ones that need attention? Feels like that would be quite hard.

For Feast we have been focusing on implementing it internally for new projects, so our integration with Kubeflow is still pending. Our focus now is on completing our e2

[2019-02-07 05:31] govindKAG commented on #2412
Kustomize certainly seems like the way to go. It's been getting a lot of traction. Also unlike ksonnet, kustomize only uses yaml which can't hurt either.

[2019-02-07 12:57] swiftdiaries commented on #2422
One way would be to move MySQL and Minio out of the individual components (Katib and Pipelines) and into the common package.
That way we have one single instance -> single PVC -> single Volume.

[2019-02-07 15:17] kkasravi commented on #2421
/priority p1

[2019-02-07 15:20] kkasravi commented on #2412
this link in the kubernetes slack channel suggests kubecfg + jsonnet

https://kubernetes.slack.com/archives/C6JLE4L9X/p1549490495318200?thread_ts=1549466594.310000&cid=C6JLE4L9X

according to guslees

[code]

[2019-02-07 18:44] lluunn commented on #2364
<img width="652" alt="screen shot 2019-02-07 at 10 42 28" src="https://user-images.githubusercontent.com/32310205/52434809-14f47600-2ac5-11e9-978b-0fef3ac890b9.png">

Still failing:
[code]

The cleanup also failed:
[code]

[2019-02-07 19:12] lluunn commented on #2364
Verify the error is the same when building locally. The problem is one dependency needs hg to clone

[2019-02-07 19:18] tomstockton commented on #2412
Is a helm chart not a viable alternative?  Excuse my ignorance if not!

[2019-02-07 21:04] IronPan commented on #2418
PV is another example. If I define them in ksonnet app, those wont be cleaned up.

[2019-02-07 21:47] kkasravi opened #2430 "under bootstrap document the golang version required"
different golang versions will generate different go.sums which causes churn across devs

[2019-02-07 23:31] lluunn commented on #2364
<img width="1080" alt="screen shot 2019-02-07 at 15 28 24" src="https://user-images.githubusercontent.com/32310205/52449688-146fd580-2aed-11e9-8760-58a6a4cd0d02.png">

Now the error is this line:
https://github.com/kubeflow/kubeflow/blob/master/bootstrap/cmd/bootstrap/app/ksServer.go#L1176

While it's waiting for the deployment manager, got an error `read: connection reset by peer`
@kunmingg have

[2019-02-07 23:44] kkasravi commented on #2418
yep, working on it - thanks

[2019-02-07 23:48] kkasravi commented on #2412
we will work towards {helm, kustomize, jsonnet}. Good article that summarizes pros/cons https://blog.argoproj.io/the-state-of-kubernetes-configuration-management-d8b06c1205

[2019-02-07 23:55] kkasravi commented on #2430
fixed in #2428

[2019-02-08 02:13] kkasravi commented on #2370
@jlewi I'll pick this up if Ebi isn't able to.

[2019-02-08 03:42] #2398 closed

[2019-02-08 05:38] jlewi commented on #2422
@IronPan Isn't this just a matter of letting users customize things how they want? Does pipelines have options to use an existing SQL instance rather than deploy its own? If it does then can't a user configure pipelines to either use its own or share an instance.

[2019-02-08 08:35] govindKAG opened #2435 "Are there plans to allow kubeflow pipelines to be created through a manifest file?"
Are there any plans to explore the possibility of making kubeflow pipelines a CRD and letting users create pipelines through yaml manifests like argo ?

[2019-02-08 11:37] llegolas opened #2436 "jupyter spawns pod outside of it's namespace"
My environment is openshift 3.11 / kubeflow v0.4.1
I have two namespaces with as I though separate environments kubeflow4a and kubeflow41
in namespace kubeflow41a i created notebook bu the pod was spawned in kubeflow41.

Is that on purpose and can it be influenced ?

[2019-02-08 12:12] #2430 closed

[2019-02-08 13:48] llegolas commented on #2436
it seem it is problem with ambassador routing. On the Ambassador diag page there are errors of the sort of:
[code]
This is just an example. The same was present for jupyter to. If I sufix the jupyter  services and rename getambassador.io/config name: XXXX.my_namespace. The error disappears.
Actually is it supposed two or more ambassadors to run on the same cluster ?

[2019-02-08 14:41] llegolas commented on #2436
Nevermind, I found a solution:
[code]

[2019-02-08 14:41] #2436 closed

[2019-02-08 21:49] armandmcqueen commented on #2195
@aronchick @jlewi @abhi-g

Any progress on that? Is there any way that we can contribute to push this forward? Some data about usage could help anyone who is trying to make an argument for using/contributing to Kubeflow.

[2019-02-08 21:53] aronchick commented on #2435
I think this is a terrific idea - basically, running some form of a CRD "compiler" in the Kubeflow cluster, so you don't have to do a build step locally.

/cc @vicaire @jlewi @paveldournov

[2019-02-08 21:54] abhi-g commented on #2195
sorry haven't had a chance to make much progress on this yet.. But I
understand the priority on this.. Will update soon.

On Fri, Feb 8, 2019 at 1:49 PM armandmcqueen <notifications@github.com>
wrote:

[2019-02-08 21:54] aronchick commented on #2413
Great idea! Would also love a pip package (separate bug?)

[2019-02-08 21:56] aronchick commented on #2334
This is a cool idea - I'd love to see someone build a Dask package/pipeline step.

[2019-02-08 22:52] #2397 closed

[2019-02-09 02:30] paveldournov commented on #2435
Creating pipelines and pipeline components through a yaml manifest - is indeed on the roadmap. Please stay tuned.

[2019-02-09 02:31] paveldournov commented on #2435
/assign @paveldournov

[2019-02-09 10:12] iftachsc commented on #2261
my question is related to the subject but not to kubeflow. as an experienced istio user, reviewing ambassador doesn't give me a reason why should i use ambassador and not the regular istio-ingress gateway, cant find the benefits. can some one enlighten   me?

[2019-02-09 14:47] kkasravi commented on #2370
/assign @kkasravi

[2019-02-09 16:21] kkasravi commented on #2367
included in #2433

[2019-02-09 16:21] #2367 closed

[2019-02-09 22:31] lluunn commented on #2261
we chose ambassador at the time istio didn't exist. Now we are migrating to istio

[2019-02-10 01:12] Jeffwan commented on #2261
@lluunn do you have a timeline for this change?

[2019-02-10 04:59] lluunn commented on #2261
targeting 0.5

[2019-02-10 21:08] dredwilliams opened #2443 "Failed to resolve server nfs-server.kubeflow.svc.cluster.local: Name or service not known for pipelines"
Installed latest kubeflow on private kubernetes 1.13.3 cluster with flannel networking.

Got to the 'kfctl.sh apply k8s' step in the getting started guide, and everything starts up except for the minio pod, which doesn't start because it's storage cannot be mounted.  kubectl (and kubelet logs) give the error message above:

[code]

I've tried provisioning the three PVCs dynamically, and manually,

[2019-02-10 23:05] kkasravi opened #2444 "Fork homebrew-core under kubeflow for kfctl"
Distributing kfctl will be done using `brew`. We will distribute the binary and plugins.
This requires that we fork [homebrew-core](https://github.com/Homebrew/homebrew-core) under kubeflow as described [here](https://docs.brew.sh/Formula-Cookbook#push).
Only owners of kubeflow can fork into kubeflow - thus this request.

[2019-02-10 23:05] kkasravi commented on #2444
/assign @jlewi

[2019-02-11 01:22] lluunn commented on #2364
https://gubernator.k8s.io/build/kubernetes-jenkins/logs/kubeflow-periodic-master/756
it's passing now, but now shown on testgrid,
will fix in https://github.com/kubeflow/testing/issues/301

[2019-02-11 01:22] #2364 closed

[2019-02-11 01:26] jlewi commented on #2141
The PR dashboard uses a simple heuristic right now. So my idea was that we start by computing a set of features like

- Time since issue created
- Time since issue last comment
- GitHub id of creator
- GitHub id of last commentor
- Repo

And then just training a simple classifier to predict whether a given issue needs attention from a given user.

Off-hand none that I know of.

In terms of integra

[2019-02-11 01:31] jlewi commented on #2359
@avdaredevil what is the remaining work on this issue?

* Do we need to publish a docker image for the new app? Or are you just reusing the existing central dashboard image?

* Do we need to update the ksonnet component used to deploy it

  * We currently use this component to deploy the central dashboard:
    https://github.com/kubeflow/kubeflow/blob/master/kubeflow/common/centraldashboard.libson

[2019-02-11 01:44] jlewi commented on #2094
/unassign @kkasravi
/assign @kunmingg

[2019-02-11 02:03] jlewi commented on #2102
Published:
https://medium.com/kubeflow/kubeflow-0-4-release-enhancements-for-machine-learning-productivity-d77c54df07a9

[2019-02-11 02:03] #2102 closed

[2019-02-11 02:05] #2186 closed

[2019-02-11 02:09] jlewi commented on #2244
@zhenghuiwang Did you specify your project as `google.com:codelab-gae-blog-golang` or as just `codelab-gae-blog-golang` ?

We regularly use google.com and kubeflow.org projects and I believe it works. I think we specify the project without the org and it works.

I suspect if you specify the project and include the domain that might cause the problem.

[2019-02-11 02:13] woop commented on #2141
Which feature/label would you use to indicate the need for attention?

Actually, there is a stream! Thanks to @tims for pointing it out. [NYC taxi data pub/sub stream](https://cloud.google.com/blog/products/gcp/learn-real-time-processing-with-a-new-public-data-stream-and-google-cloud-dataflow-codelab).

This might be a good alternative to GitHub data, at least for the real-time use case.

Good poi

[2019-02-11 02:16] #1419 closed

[2019-02-11 02:22] jlewi commented on #2052
@lluunn Do we have a separate issue to install it as part of the no kfctl go binary?
The gocode is here:
https://github.com/kubeflow/kubeflow/tree/master/bootstrap/pkg

The new gobinary works by defining kfApps for different package installers (e.g. ksonnet, kustomize, etc..)
https://github.com/kubeflow/kubeflow/blob/master/bootstrap/cmd/kfctl/README.md#kfapp-interface

We have a kfapp defined for

[2019-02-11 02:23] jlewi commented on #2444
Is it not possible to just publish a go binary that users download like we do for linux? What's the advantage of using brew?

I assume that's something akin to apt.

[2019-02-11 02:27] jlewi commented on #2443
@dredwilliams I think this issue is limited to pipelines; so you should be able to use other parts of Kubeflow without resolving this issue.

@IronPan @vicaire This looks like an issue with pipelines. Is NFS required by minio? Is pipelines installing an NFS server?

[2019-02-11 02:32] jlewi commented on #2421
Should we write a design doc to make sure we are all on the same page? (See also #2233)

My understanding was that we aren't actually using the application controller to deploy any resources.

Does the need for the Application controller go away now that we are moving kfctl to a go binary?
I thought all we needed to do was set labels consistently across all the K8s resources so that Kubeflow K8s r

[2019-02-11 02:37] jlewi commented on #2412
Here's the doc I wrote advocating for Kustomize as the default configuration manager
http://bit.ly/kf-kustomize

There's also this thread in the mailing list
https://groups.google.com/forum/#!topic/kubeflow-discuss/Zg14_Ok7XH4

[2019-02-11 02:39] jlewi commented on #2411
We're moving to a go binary which should so solve this issue.

[2019-02-11 02:42] jlewi commented on #2408
Can you provide the spec of the pod?  minio-6fb75bb849-nwl9n

I think kfctl timing out if the namespace doesn't get deleted is WAI. I think we need to figure out how to properly clean up minio and pipelines.

Its possible we need to explicitly delete the corresponding deployment before deleting the PVC.

[2019-02-11 02:52] jlewi opened #2445 "Add kustomize support to kfctl"
Doc:
http://bit.ly/2RwMP8q

The immediate need is kfctl(go) needs to support installing ISTIO see #2052.
We currently install ISTIO using its YAML manifest.
We could either add support to kfctl for installing YAML or we could just

1. Add support for kustomize
1. Turn YAML manifests into kustomize packages by adding kustomize files

To add support for kustomize we need to implement the KfApp inter

[2019-02-11 02:52] IronPan commented on #2443
The nfs shouldn't be needed unless explicitly specified. I'll send a fix shortly.

[2019-02-11 03:12] kkasravi commented on #2444
it's probably mac's most popular package manager and also works on linux.
Doing a `brew list` on my mac shows what brew has installed

[code]

It also takes care of upgrades, reinstallation of earlier versions, cleanup, etc.
There are other mac package installers like ports for for CLI tool installation it's the way to go

[2019-02-11 03:13] lluunn commented on #2445
cc

[2019-02-11 03:52] jlewi commented on #2444
Ok I forked it.
Can you please set up the repo?
https://github.com/kubeflow/homebrew-cask

E.g add OWNERs files and update the README please?

[2019-02-11 13:16] kkasravi commented on #2421
Design doc is [here](https://bit.ly/2BukRoW)

[2019-02-11 13:17] kkasravi commented on #2444
yep, will do.

[2019-02-11 13:51] jlewi commented on #2411
Reopening this as it might be good to have a quick fix for MacOSX.

Is it possible to detect whether we are running on OSX and just skip the check?

[2019-02-11 13:53] #2443 closed

[2019-02-11 13:54] jlewi commented on #2444
I gave the ci-bots access. To that repo.

I also made you and @ashahba admins.

[2019-02-11 16:46] kkasravi commented on #2444
thanks @jlewi - As I dig more into homebrew-cask, I've realized that we just need homebrew-core.
Homebrew has a variety of separate repos/frameworks to install different kinds of commands.

- homebrew-cask is for native mac os applications - eg applications that are installed under mac's /Applications folder and also present a GUI.
- brew is for CLI apps like kubectl, git, vim, bash, jq, jsonnet,

[2019-02-11 17:37] ashahba opened #2448 "Update Python scripts based on ".style.yapf" config."

[2019-02-11 21:41] IronPan opened #2452 "Single CRD for third party viewers - Tensorboard, Notebook etc"
We should have a single CRD for third party viewers such as tensorboard and notebook.

This ensure we have parity horizontal features for all viewer - versioning, access control, TTL, etc.

The existing [viewer CRD](https://github.com/kubeflow/kubeflow/pull/2416/files) might be a good place to start with. But it might need to move to kubeflow core repo instead for better share-ability.

Also some

[2019-02-11 21:45] lluunn commented on #2452
https://github.com/kubeflow/kubeflow/tree/master/components/notebook-controller
this one is already using Kubebuilder

cc @kkasravi @jlewi

[2019-02-11 22:42] svalleru commented on #2411
eh, regexes can get messy
@jlewi @IronPan here's the quick fix - #2453. please review.

[2019-02-11 23:04] dredwilliams commented on #2443
That update took care of the issue -- thanks for the quick response!

[2019-02-12 00:03] lluunn commented on #2423
Error from: https://github.com/GoogleCloudPlatform/metacontroller/blob/master/controller/composite/controller.go#L223

[2019-02-12 00:48] vkoukis opened #2456 "Issues with the current Go notebook controller"
Hello @lluunn @jlewi

@kimwnasptd , @ioandr and myself are playing with the new Jupyter web app to make it work end-to-end with the new Go-based notebook controller, so we can then proceed with a final review and merge of #2357.

I am writing to summarize a few things we bumped into, it's a single GitHub issue to keep the discussion focused, but If you feel it's best to open distinct issues for th

[2019-02-12 01:07] lluunn commented on #2456
Since container command/args are coupled with image, so we think it doesn't make sense to provide default values for command/args.
I know the arg is complicated, but I would expect the users will use this controller via the webapp, and the webapp will provide a set of image/cmd for user to choose from (they will see the image only)

[2019-02-12 01:13] lluunn commented on #2456
Thanks, didn't notice this. Do you mean our default value aren't set, or the user override values are not set? I will test it later...

Makes sense, we should allow port and jupterlab to be customized.

I didn't put ambassador routes because we are migrating to istio. https://github.com/kubeflow/kubeflow/issues/2261
But I guess we can add it for now and change to istio later.

[2019-02-12 01:32] jlewi commented on #2456
Can the defaults be encoded in the docker image? e.g. any command line arguments, environment variables that should be set by default should be set in the docker image.

My expectation is that most jupyter images are configured to start Jupyter by default just via `docker run`. e.g.

[code]

How could the controller pick sensible defaults for things like the command line and arguments? This will d

[2019-02-12 01:47] jlewi commented on #2444
Done.

[2019-02-12 01:48] vkoukis commented on #2456
I know the arg is complicated, but I would expect the users will use this controller via the webapp, and the webapp will provide a set of image/cmd for user to choose from (they will see the image only)

I understand that users will use the webapp most of the time, but I argue against the controller *depending* on it. The arguments do not depend on the image really, they depend on the fact that we

[2019-02-12 02:25] kkasravi commented on #2444
yay!

[2019-02-12 02:49] kkasravi commented on #2456
I had a similar issue with the tensorboard component where the port was a parameter arg but fixed in other places including in the docker file. If you provide command, args in the CRD you can avoid this by never using the docker ENTRYPOINT. But we should try and be consistent and compatible with kustomize. My 2¢

[2019-02-12 03:21] jlewi commented on #2456
i can think of two options

1. If we can find one or more jupyter images that is free standing is that enough to unblock things while we convert over the other images?
1. Alternatively, should we add a flag to the go controller to enable a legacy mode so that it works with our existing images?

Where does kustomize come into play? Doesn't kustomize provide the same flexibility to override command

[2019-02-12 03:34] jlewi opened #2458 "Change jupyter images to work with the new jupyter CR"
See discussion in #2456

We are waiting on a resolution to #2456 but some things to consider

1. Per discussion in #2456 we may want to encode an entrypoint and args in the Dockerfile so they don't need to be specified in the Jupyter CR

/cc @zabbasi

[2019-02-12 03:42] bikramnehra commented on #2052
@jlewi my understanding might be limited here, but is `helm` an option here:
https://istio.io/docs/setup/kubernetes/helm-install/#option-2-install-with-helm-and-tiller-via-helm-install

At SUSE we rely on `helm` for most components including Istio:
https://github.com/SUSE/scf/blob/develop/make/istio/run#L22

[2019-02-12 06:07] lluunn commented on #2052
helm doesn't provide the [customization](https://github.com/kubeflow/kubeflow/blob/master/dependencies/istio/install/README.md) we want.

We will have to make upstream PR and wait for their release every time we need to customize

[2019-02-12 12:20] antigenius0910 opened #2459 "JupyterHub authenticator with Active Directory"
Hi,

Thanks for the awesome project once again!!

I followed kubeflow's README about jupyterHub here https://github.com/kubeflow/kubeflow/blob/master/components/jupyterhub/README.md
and get a clear understanding about how pod jupyter-0 get config through jupyter_config.py and being apply as a configmaps.

However, I would like to config LDAP auth as mentioned on below post.
https://zero-to-jupyter

[2019-02-12 14:37] jlewi commented on #2418
@kkasravi are you planning on deleting individual resources or doing this via labels?

[2019-02-12 14:38] jlewi commented on #2418
Can a K8s Application own cluster resources?

[2019-02-12 14:44] jlewi commented on #2401
@IronPan Why is Katib an issue here? IIUC correctly the problem is that pipelines is creating a PD separately now and that PD isn't being GC'd correctly. This seems like an issue independent of Katib. I don't believe Katib has this issue because Katib is using a PD provisioned by K8s dynamic provisioner and that's being GC'd based on dynamic provisioner.

I think the issue only started when pipeli

[2019-02-12 14:46] jlewi commented on #2401
Here's a list of the disks

[code]

[2019-02-12 14:50] jlewi commented on #2401
I filed a request to increase our quota to 200TB.

[2019-02-12 14:58] #2414 closed

[2019-02-12 16:35] kkasravi commented on #2418
technically from the spec, no. We would need to evolve the spec and implement this feature within kubernetes-sigs/application controller

i assume we want this done before 0.5 release? For kfctl.sh, rather than doing anything in the application component or the application-controller I was going to just delete these resources explicitly - where logic is similar to current logic in kfctl.sh where d

[2019-02-12 16:46] kkasravi opened #2460 "Upgrade to go 1.12, remove 'static', 'plugins' macros in kfctl (golang)"
Currently kfctl is enabling 'plugins' (where the sample plugin foo is loaded dynamically as a .so) by using a 'macro' where some lines in ./cmd/kfctl/cmd/root.go and ./pkg/apis/apps/group.go are toggled as comments to allow foo to be loaded as a .so. This is due to a [bug](https://github.com/golang/go/issues/23733) in go which breaks the goland debugger if the "plugin" package is imported anywhere

[2019-02-12 16:57] kkasravi commented on #2456
yes - it was more of a comment about leveraging the same things that kustomize uses like overlays on the command and args so moving to kustomize at a later point is easy.

[2019-02-12 18:32] vkoukis commented on #2456
@jlewi thanks for the feedback. Here's what I don't get:

Do we expect the user to always pass a full pod spec as part of the Notebook they submit, or do we expect them to pass only the parts they want to override? To put it differently, I think it makes sense for the Controller to always have a base pod spec, from which it starts. This could be hardcoded in the controller, or even better, could b

[2019-02-12 18:34] vkoukis commented on #2456
I think this is also aligned with what @kkasravi describes with his reference to kustomize: The controller is a mechanism that starts with a base pod, which is self-standing, ideally, and applies the customizations that come from the Notebook CR that the user submitted. The user can omit fields they may not care about [command, args], and they will be inherited from the base pod spec, so the end r

[2019-02-12 19:00] zhenghuiwang commented on #2244
I use project ID `google.com:codelab-gae-blog-golang` which is showed in the GCP web console. I remember I tried to use `codelab-gae-blog-golang` as the project ID but some other steps broke.

The project was created in December 2018. I created some projects in January and they don't have the org prefix. So the problem is not reproducible for new projects.

I'm closing it because it seems no one r

[2019-02-12 19:00] #2244 closed

[2019-02-12 19:10] svalleru commented on #2411
@jlewi @IronPan can you guys close this issue?

[2019-02-12 20:44] lluunn commented on #2401
This is still blocking presubmit tests

[2019-02-12 21:56] lluunn commented on #2456
I know I am repeating myself, but aren't we expecting most users to use webapp? So this isn't making user experience hard.
And for those not using webapp, I would expect they know the arg/cmd for their own images.

But see our default cmd:
[code]
It's assuming [start.sh](https://github.com/kubeflow/kubeflow/blob/master/components/tensorflow-notebook-image/start.sh), not just jupyter.

So I think t

[2019-02-12 22:56] zhenghuiwang commented on #2401
@jlewi
1. what kind of disks can be GCed safely? should we decide it based on last attached time? e.g. all disks last attached > 3 days is GCed

2. I can first release resource manually first to unblock the presubmit tasks.

Here is [a API explorer link ](https://developers.google.com/apis-explorer/#p/compute/v1/compute.disks.list?project=kubeflow-ci&zone=us-east1-d&_h=3&)to show the metadata of t

[2019-02-12 23:04] kunmingg commented on #2401
Can we filter on both size <= 200 G and last attached > 3 hours and they are not currently in use?

[2019-02-12 23:27] IronPan commented on #2401
FYI I deleted all 200Gb PDs that are created by storage DM and not being attached to any GKE.

[2019-02-12 23:49] kunmingg opened #2465 "Execute kfctl-delete-storage even when kfctl-delete failed"
Currently if "kfctl-delete" failed, "kfctl-delete-storage" will be skipped and cause disk resource leak.
Would be nice to execute "kfctl-delete-storage" even when kfctl-delete failed.
Example:
http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-presubmit-kfctl-beta-2447-0c1503a-5646-99fc?tab=workflow

Follow up of https://github.com/kubeflow/kubeflow/issues/2401

[2019-02-12 23:49] vkoukis commented on #2456
@lluunn

Hello Lun-Kai,

I argue that the abstraction of submitting Notebook CRs based on a Notebook CRD and having them managed by a Notebook Controller, is a good abstraction on its own. Yes, most people will use the webapp, but it makes sense to keep the abstraction as clean as possible at the level of submitting a Notebook CR.

I mean, what do we gain, by having the webapp submit magic argumen

[2019-02-12 23:49] jlewi commented on #2401
@zhenghuiwang Can we follow the pattern used by other cleanup?

* Use a regex to match PDs associated with a test
* Look at the creation timestamp and delete it if time since creation timestamp exceeds some upper bound on test duration

[2019-02-12 23:56] zhenghuiwang commented on #2401
makes sense. I will follow the existing pattern.

[2019-02-13 00:55] lluunn commented on #2456
I actually think not setting the default args is cleaner and the better abstraction.
And the reason is the arg/cmd are coupled with the image.
For example, if a user is using a self-standing jupyter image (with proper entrypoint set), how can they tell the controller to not set the args? The user would expect with no args set in the spec, the image should be running properly, but actually it will

[2019-02-13 02:00] vkoukis commented on #2456
@lluunn We had a *very* nice discussion with @jlewi [thanks! ], it is all logged here:
https://kubeflow.slack.com/archives/CF94DURGF/p1550017046026600?thread_ts=1549996774.007600&cid=CF94DURGF

I'll try to summarize in this comment, @jlewi please correct whatever I may have missed:

We agree that if all container images have a proper entrypoint [command/args] specified, then we're good, and everyt

[2019-02-13 04:21] antigenius0910 commented on #2459
After checking on some forum. I design to add extra layer myself. But still think there should be a better way to do this. will keep update to see it this new image works for AD authentication.

[code]

[2019-02-13 14:00] kkasravi opened #2467 "Add RL Coach Component"
See the [Coach Page](https://github.com/NervanaSystems/coach)

This can be added as a component based on early [prototyping](https://github.com/kkasravi/kubeflow/tree/coach/kubeflow/coach)

[2019-02-13 14:26] kkasravi commented on #2460
/area kfctl

[2019-02-13 16:56] sarahmaddox opened #2468 "Provide a list of required docs for the documentation card on the new landing page"
Child of https://github.com/kubeflow/kubeflow/issues/2359

The new landing page (bit.ly/kf-landing-page-cuj) includes a card listing important docs.

We need:

a) A list of the important docs to include.

b) A short URL for each doc in the list, so that we can add redirects in the Kubeflow docs. The redirects will give us a shorter URL that's easier to read, and will also protect us against change

[2019-02-13 20:22] sarahmaddox commented on #2468
/cc @avdaredevil
/assign @ajayalfred

@ajayalfred I just had a chat with AP about the latest dashboard design. Do you still want a "documentation" card on the dashboard? If not, do you want any doc links in the "get started" card? I recommend having at least a link to the getting-started guide somewhere.

[2019-02-13 21:30] ajayalfred commented on #2468
We won't have a documentation card, but we would like to include doc links in the "Getting started" card. Please do suggest links for this card because at the moment we haven't identified any content.

[2019-02-13 21:30] ajayalfred commented on #2468
/assign @abhi-g

[2019-02-13 21:38] zabbasi commented on #2358
@lluunn FYI:
Did some experiments and it turns out Jupyter CR fails to launch notebook using TF 2.0 Jupyter image.
1- Locally tested TF 2.0 latest image using docker:
[code]
which could successfully launch notebook.

2- Run TF 2.0 image in kubernetes as follows which could again launch notebook successfully:
[code]
3- When the image in kubeflow, it fails to start Kernel by error: ```
ModuleNotFoun

[2019-02-13 21:47] abhi-g commented on #2468
Please see the list of links on the Getting Started Section of the website. I think they are good candidates to add:  https://www.kubeflow.org/docs/started/

[2019-02-13 21:48] abhi-g commented on #2468
Also, see https://www.kubeflow.org/docs/examples/resources/

[2019-02-13 22:06] kimwnasptd opened #2469 "Generate libraries using CRD's OpenAPI spec"
Following up on the review [here](https://reviewable.io/reviews/kubeflow/kubeflow/2357#-LXkIWCsClShYkvb6KIG), if a CRD has an OpenAPI spec then we can use `client generation tools` like [this](https://github.com/kubernetes-client/gen) to create classes for our CRDs.

Would it make sense to create such libraries and make them accessible for other programs (controllers, backends etc) that might need

[2019-02-13 23:27] kunmingg commented on #2465
One more storage leak need fix is:
add delete storage option in https://github.com/kubeflow/kubeflow/blob/master/scripts/gke/delete_deployment.sh

[2019-02-13 23:38] kunmingg opened #2472 "kfctl: support deploy with basic auth"
User should be able to deploy cluster with go binary while provide username/password to later access their kubeflow service

[2019-02-14 00:45] lluunn commented on #2358
error msg same as in #1721, not sure if it's related though

[2019-02-14 01:45] jlewi commented on #2459
We are moving away from JupyterHub. Furthermore, we don't want to do auth in JupyterHub because we have many web applications (e.g. pipelines, katib, central dashboard) that require authentication and we don't want to re-implement this for every web app.

We'd like to have a single entrypoint that sits in front of all the apps and verifies the request. This is described in more detail in the CUJ a

[2019-02-14 01:47] jlewi commented on #2448
/assign @ashahba

[2019-02-14 01:53] jlewi opened #2475 "Cloud NFS PVC needs to specify volumeName with k8s 1.11"
Here's a PV and PVC spec for Cloud NFS.
https://github.com/jlewi/community/blob/6448276eb77ea06f971dbec470565b0b3088c349/devstats/k8s_manifests/nfs_pvc.yaml

This was based on our ksonnet prototype
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/gcp/google-cloud-filestore-pv.libsonnet

On K8s 1.10 and kubeflow-testing this pattern appears to work.

But on K8s 1.11 the PVC was giving me t

[2019-02-14 13:32] jlewi opened #2476 "[Azure] Add Azure support to kfctl"
See also: kubeflow/website#32 for links on how to deploy on Azure.

We are building a go binary to deploy Kubeflow
https://github.com/kubeflow/kubeflow/tree/master/kfctl

We'd like a plugin to deploy on Azure.

[2019-02-14 18:22] vkoukis commented on #2456
@lluunn @jlewi
I hope I'm not referring to something that's solved already, I wanted to make sure that these are known, because they seem to be blocking the demo now:

1. We need at least one public notebook Docker image with the proper modifications for the entry point, as specified by Jeremy, so we can use it from the web app and unblock the e2e demo. [there is #2458 for this]
1. The controller

[2019-02-14 18:29] lluunn commented on #2456
The service's port will match 80 to 8888 (or container port specified), and ambassador maps route to service, so IIUC ambassador annotation should not need the containerPort?

[2019-02-14 18:38] vkoukis commented on #2456
@lluunn @kimwnasptd

Hey Lun-Kai, I think you are referring to the fact that if you `kubectl get` the Service, you see the containerPort as part of the `Endpoints` in the service, right?
Yes, this is true. But Ambassador, for some reason that is not clear to me, completely disregards the `Endpoints` field in the actual Service, and only looks at the port that is specified explicitly, as part of th

[2019-02-14 18:42] lluunn commented on #2456
I see, didn't know that. Will also fix in #2463

[2019-02-14 19:29] Tomcli opened #2480 "Issue with the latest kubeflow/pipeline templates"
We are trying to deploy the master branch KubeFlow on our 1.10 Kubernetes Cluster. However, we are having issues on the latest changes with the `viewers` and `scheduledworkflows` CRDs because the templates on the following two section are using `spec.versions` which is not available in Kubernetes 1.10.

https://github.com/kubeflow/kubeflow/blob/1349971ba8dd340c4d4ed00c397d09a2b90ae9c9/kubeflow/pip

[2019-02-14 19:57] kimwnasptd opened #2481 "Add Jupyter WebApp to kfctl"
Integrate the new Jupyter WebApp with the kfctl go binary
https://github.com/kubeflow/kubeflow/tree/master/kfctl

[2019-02-14 19:57] kimwnasptd commented on #2481
/assign @kimwnasptd

[2019-02-14 21:23] kunmingg commented on #2472
/cuj build-train-deploy

[2019-02-14 21:23] jlewi commented on #2481
There's two pieces to this

1. ksonnet packages
1. integrating the ksonnet packages into kfctl

[2019-02-14 23:18] #2423 closed

[2019-02-14 23:34] #2420 closed

[2019-02-15 00:10] ashahba opened #2484 "Calling `os.makedirs` fails even after we have check for directory existence."
Looks like there is some race condition that causes `os.makedires` calls to fail randomly even after we have just checked if directory exists prior to creation.
[here](http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-presubmit-kubeflow-e2e-minikube-2447-7bbe31e-5722-c39c?tab=workflow&nodeId=kubeflow-presubmit-kubeflow-e2e-minikube-2447-7bbe31e-5722-c39c-2534328948&sidePanel=

[2019-02-15 00:32] avdaredevil commented on #2390
PR Merged!

[2019-02-15 00:32] #2390 closed

[2019-02-15 04:59] jlewi commented on #2472
/label cuj/build-train-deploy

[2019-02-15 11:44] metrofun opened #2487 "The CustomResourceDefinition "scheduledworkflows.kubeflow.org" is invalid"
Hi,

I'm following "Getting Started with Kubeflow" on master (1d0758bad42918d0344f18e57d1d13747705f855*) and after running  `${KUBEFLOW_REPO}/scripts/kfctl.sh apply k8s` I'm getting the following output in the end:
[code]

Similarly, when I call `ks apply default` from the generated `ks_app` folder, I'm getting:
[code]

Am I doing something wrong?

[2019-02-15 19:08] lluunn opened #2488 "unit test for notebook controller"

[2019-02-15 19:12] hamedhsn commented on #2222
@jlewi your last suggestion worked for me. And I can see the ui through ambassador `/argo/` path.
however direct port-forwarding of ui pod is not working and I see a blank page.

[2019-02-15 19:27] zabbasi commented on #2358
Tryout was successful.
Tested kubeflow notebook-controller to deploy a jupyter notebook using:
 1-  tensorflow nightly image (tensorflow/tensorflow:nightly-py3-jupyter)
2-  a modified version of the following  Jupyter CR spec https://github.com/kubeflow/kubeflow/blob/master/kubeflow/jupyter/tests/test_app/components/jupyter.jsonnet
 where the container spec is set as follows:
[code]
As a result no

[2019-02-15 20:57] lluunn opened #2489 "bootstrap period test failure"
<img width="998" alt="screen shot 2019-02-15 at 12 55 37" src="https://user-images.githubusercontent.com/32310205/52883845-2969eb80-3121-11e9-8aed-af17beb75aba.png">

should be related to the new https://github.com/kubeflow/kubeflow/pull/2485

/assign @kunmingg

[2019-02-15 20:59] lluunn commented on #2489
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-periodic-master&sort-by-name=

[2019-02-15 21:27] jlewi commented on #2487
/cc @IronPan @vicaire

[2019-02-15 21:30] jlewi opened #2491 "kfctl go binary should have an option to skip initi project"
The kfctl go binary should have an option to skip initializing the GCP project.

[2019-02-15 21:56] andreyvelich commented on #2134
/assign

[2019-02-15 22:01] vicaire commented on #2487
@IronPan, could you please have a look? This could be related to the recent changes to the release/deployment process.

[2019-02-15 22:51] #2489 closed

[2019-02-16 00:26] lluunn commented on #2456
The issues here are fixed. Other improvement in #2417

[2019-02-16 00:26] #2456 closed

[2019-02-16 00:31] jlewi opened #2497 "Update the central dashboard to redirect to the new jupyter web-app"
We need to update the central dashboard to redirect to the new jupyter web app.

Its currently serving at "/jupyter/" e.g.

https://kf-vmaster-n00.endpoints.kubeflow-ci.cloud.goog/jupyter/

/cc @kimwnasptd @avdaredevil

[2019-02-16 00:33] jlewi opened #2498 "Stop deploying JupyterHub"
The new webapp for jupyter is now being deployed on master.

So we can go ahead and remove JupyterHub and delete all the related ksonnet packages and code.

[2019-02-16 00:40] avdaredevil commented on #2497
Fixed

[2019-02-16 00:40] avdaredevil commented on #2497
/assign @avdaredevil

[2019-02-16 20:27] lluunn commented on #2360
asking at: https://github.com/kubernetes-sigs/kubebuilder/issues/604

[2019-02-17 21:44] kkasravi commented on #2418
these are resources that are missed for --platform none

[code]

[2019-02-19 01:01] amygdala commented on #2310
Now I'm not as sure about the 'multiple deployments' diagnosis.  Today, without any pre-existing deployments in my project, I'm still always seeing the envoy pods crash-looping, and so have not been able to get an IAP deployment up and running properly-- 4 tries so far, and waiting >1hr each time to see if it corrects itself.
(This is using the web launcher to deploy v0.4.1; I've been trying to pa

[2019-02-19 01:04] jlewi commented on #2472
@kunmingg @gabrielwen who is planning on working on this?

[2019-02-19 01:05] jlewi commented on #2094
Looks like we have an issue #2472 to deploy basic auth with kfctl.

@kunmingg Should we close this issue out since we have created more specific issues for the remaining work?

[2019-02-19 01:08] jlewi commented on #2377
@kunmingg @IronPan Is this already done? I believe this is already available in staging and we are just waiting to push it to prod?

[2019-02-19 01:29] jlewi commented on #504
Downgrading to P2.

I think this is blocked pending some resolution about our metadata plans.

[2019-02-19 03:24] gabrielwen commented on #2472
@kunmingg added both of configs for me and I'm gonna use them on go kfctl.

[2019-02-19 06:46] ashahba commented on #2484
PR was merged and this one is can be safely closed now.

[2019-02-19 06:46] #2484 closed

[2019-02-19 07:09] IronPan commented on #2487
@metrofun I can't seem to find the commit id 04138b9. could you double check?
also the issue looks familiar and should have being fixed. could you give another try with the HEAD?

[2019-02-19 07:10] IronPan commented on #2411
/close

[2019-02-19 07:10] #2411 closed

[2019-02-19 13:08] jlewi commented on #1995
@kimwnasptd @ioandr What is the remaining work on this issue?

[2019-02-19 13:26] jlewi commented on #2458
/assign @zabbasi

[2019-02-19 13:33] jlewi commented on #2095
@kunmingg What's the current status of this? I think you mentioned this is in staging? I think users also need to specify the commit they want to deploy since basic auth isn't on the 0.4 branch?

[2019-02-19 14:27] ioandr commented on #2458
Any update on this?

[2019-02-19 15:10] metrofun commented on #2487
@IronPan I've tried now the latest 1d0758bad42918d0344f18e57d1d13747705f855 and updated the head with it. Still getting:

[code]

[2019-02-19 15:55] metrofun commented on #2487
Looks related to https://github.com/kubeflow/kubeflow/issues/2480

[2019-02-19 17:08] jlewi commented on #2358
@zabbasi Were you able to get this working without specifying all the command line arguments? Can you provide the spec for the Jupyter resource that you got working.

[2019-02-19 17:23] #2481 closed

[2019-02-19 17:34] ioandr commented on #1995
This issue is covered by #2357 and can be closed.

[2019-02-19 18:46] lluunn opened #2507 "kfctl installs istio"
We have done it for click-to-deploy app, should extend to kfctl.

cc @kunmingg

[2019-02-19 18:47] jlewi commented on #2418
Logic in kfctl seems like a good short term solution to me.

[2019-02-19 18:48] jlewi commented on #2401
@zhenghuiwang Can we close this?

[2019-02-19 18:49] jlewi commented on #2401
Seeing lots of green presubmits
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-presubmit

So closing this.

[2019-02-19 18:49] #2401 closed

[2019-02-19 18:56] jlewi commented on #2289
Thanks @DanCech and @ediphy-azorab for digging into this.

So is the workaround to just delete the GCP_IAP_XSRF_NONCE cookies?

Is it JupyterLab that is returning the 413 error? So other URls like the central dashboard are accessible but only the jupyter lab endpoint hits this issue?

[2019-02-19 19:00] jlewi commented on #2222
@hamedhsn Argo takes a parameter which specifies the base path it is serving on. This argument is configured based on the reverse proxy. So if you try to port-forward you might need to add the same base path that Ambassador is using "/argo/" as @andreyvelich mentioned above

see
https://github.com/kubeflow/kubeflow/blob/82295a8421bd80d1caf6b8c36a055eeb10ec6af2/kubeflow/argo/argo.libsonnet#L208

I'

[2019-02-19 19:00] #2222 closed

[2019-02-19 19:08] #2070 closed

[2019-02-19 19:08] amygdala commented on #2310
update: okay, I think the root cause was a 'backend services' (in this case loadbalancer) quota issue. The GCP project default is apparently 5, and each (GKE) KF deployment (through the launcher) uses 3.  So it makes sense that a second deployment into the same project would have issues and that many of us would hit this.  So in one sense this is WAI (and this issue is now mislabeled).  However, w

[2019-02-19 19:16] kunmingg commented on #2095
@jlewi
Haven't push to staging, will update staging this afternoon and close this PR.

[2019-02-19 19:21] kunmingg commented on #2472
Config entry used by ktctl:
https://github.com/kubeflow/kubeflow/pull/2482

[2019-02-19 19:22] kunmingg commented on #2377
It's been working well on staging.
Will push to prod this afternoon.

[2019-02-19 19:24] kunmingg commented on #2094
Sure

[2019-02-19 19:24] #2094 closed

[2019-02-19 19:42] zabbasi commented on #2358
@jlewi  updated the comments.

[2019-02-19 20:43] abhi-g commented on #2092
fixed by #2361

[2019-02-19 20:44] #2092 closed

[2019-02-19 20:46] abhi-g commented on #2390
fixes #2093

[2019-02-19 20:46] #2093 closed

[2019-02-19 21:40] abhi-g commented on #2458
/assign @zabbasi

[2019-02-19 21:52] #2134 closed

[2019-02-19 21:56] ashahba opened #2509 "kubeflow presubmit random test failure with "Unexpected error when reading response body" error."
Here is one instance:
https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/2447/kubeflow-presubmit/5788/

It's possible that we are running into this issue:
https://github.com/kubernetes/kubernetes/issues/61551

[2019-02-19 22:02] ashahba opened #2510 "Some kubeflow presubmit tests hang indefinitely."
Currently this build have been running for over a week:
https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/2447/kubeflow-presubmit/5591/
and I have no idea what's caused the hang and when it's going to release the resources.

[2019-02-19 22:32] avdaredevil commented on #2497
/close

[2019-02-19 22:32] #2497 closed

[2019-02-19 22:40] avdaredevil opened #2512 "[Dashboard v1] Rewrite the backend for Central-Dashboard to Node.JS"
#### Child issue of #2361

## Goals
- [x] Rewrite the dashboard backend in Node.JS
  - [x] Wire in Express
  - [x] Wire in Jade / Pug
- [x] Add a readme
- [x] Set up authentication / required setup for Kubernetes deployment
- [x] Set up Babel / Webpack for Transpilation (possibly worked on by @prodonjs)
- [x] Link Data Endpoints / serve over REST
  - [x] Build Version data
  - [x] Namespaces
  - [

[2019-02-19 22:55] avdaredevil commented on #2512
/assign avdaredevil
/assign prodonjs

[2019-02-19 23:08] lluunn commented on #2173
Should we do it at the namespace level?

The Profile controller creates the ServiceRole and binds to the user, so that only this user can access services in this namespace.

@jlewi @kkasravi WDYT?

[2019-02-20 06:44] #2448 closed

[2019-02-20 09:31] ioandr commented on #2156
@jlewi this issue is also fixed by #2357

[2019-02-20 09:36] metrofun commented on #2487
Really odd, I've seen that `pipeline-scheduledworkflow.libsonnet` was fixed and now does not contain `v1alpha1`. Not sure why am I hitting this. Let me recheck all our scripts :/

[2019-02-20 12:47] metrofun commented on #2487
I'm trying to find any definition file with `scheduledworkflows` and `v1alpha1` in it, but can't find anything:

[code]

[2019-02-20 13:04] metrofun commented on #2487
Trying to re-apply changes in DEBUG mode:

[code]

[2019-02-20 14:21] Chris-Paul-Li opened #2513 "vizier-db and vizier-core cannot running"
enviroment:
JDCloud
kubeflow v0.4.1

When the "${KUBEFLOW_SRC}/scripts/kfctl.sh apply k8s" command is run，vizier-db and vizier-core cannot running

**kubectl -n kubeflow get pods
NAME                                                      READY     STATUS             RESTARTS   AGE
ambassador-dbd958d59-2wbfn                                1/1       Running            0          6h
ambassador-dbd958d

[2019-02-20 15:39] kkasravi opened #2514 "add additional config files to kfctl for iap, basic_auth, default components"
in order to accommodate the different configuration possibilities we should allow kfctl to load config from
- https://github.com/kubeflow/kubeflow/blob/master/bootstrap/config/kfctl_iap.yaml
- https://github.com/kubeflow/kubeflow/blob/master/bootstrap/config/kfctl_basic_auth.yaml
- https://github.com/kubeflow/kubeflow/blob/master/bootstrap/config/kfctl_defaults.yaml

this will allow a different se

[2019-02-20 15:41] kkasravi opened #2515 "kfctl, replace regex edits with yaml modifications of individual fields"
kfctl should need to do regex substitution on config files, rather read the structure in via yaml, change the field and write the structure out

[2019-02-20 15:47] ediphy-azorab commented on #2289
It's google's proxy that returns the 413, so there's no way to prevent it at the jupyterlab end. Clearing the cookies is the only workaround I'm aware of.

[2019-02-20 16:40] pdmack commented on #2513
Hmmm, can you switch to a different StorageClass? Or manually create a PV?

[2019-02-20 20:05] kkasravi commented on #2173
makes sense, is the profile controller being rewritten in golang yet?

[2019-02-20 20:40] lluunn commented on #2173
not yet, WIP I just started

[2019-02-20 21:04] lluunn commented on #1994
dup of #2173

[2019-02-20 21:04] #1994 closed

[2019-02-21 01:34] avdaredevil commented on #2512
/priority p1
/area front-end

[2019-02-21 01:38] Chris-Paul-Li commented on #2513
@pdmack Thank you, after changing the storageclass, the problem is solved.

[2019-02-21 03:03] vkoukis commented on #1995
@jlewi PR #2357 merged the new jupyter-web-app.

Let's close this and  have a new, narrower issue to keep track of the work to integrate the new web app into a unified, authenticated flow, and have users spawn notebooks in different namespaces.

[2019-02-21 03:05] jlewi opened #2520 "Stop hosting mongo in gcr.io/kubeflow-images-public"
The only reference to the image in
https://github.com/kubeflow/kubeflow/blob/76107ff3aa7f9fde6fd7f15f2ec0a69a35874efa/scripts/gke/use_gcr_for_all_images.sh#L37

https://github.com/kubeflow/kubeflow/search?q=mongo&unscoped_q=mongo

We copied it kubeflow-images-public as a convenience for people who were using private GKE clusters; dockerhub wouldn't be available in this case.

If users need mongo e

[2019-02-21 03:06] jlewi commented on #2520
We have a single image:

[code]

[2019-02-21 03:07] #2520 closed

[2019-02-21 04:14] vkoukis opened #2521 "UX Discussion: Nomenclature about notebooks / Jupyter"
Hello, following the discussion in the latest community meeting, I am opening an issue to solicit feedback on what would be the best way to name notebook-related resources in the UI. It would be ideal if we could follow a uniform approach and have a unified experience throughout the Kubeflow UI, so I think this discussion is of interest to @avdaredevil and @jlewi .

Here are some starting thoughts

[2019-02-21 04:15] vkoukis commented on #2521
/assign vkoukis
/assign avdaredevil
/assign jlewi

[2019-02-21 05:05] jlewi commented on #2521
I don't have a strong opinion.

[2019-02-21 05:06] jlewi commented on #2157
Rather than doing this in kfctl; perhaps we should just do this in the jupyter spawner app?

[2019-02-21 05:08] jlewi commented on #2157
according to @vkoukis, @kimwnasptd might already have implemented this in the new web app.

[2019-02-21 09:53] hno2 opened #2522 "Error when using pytorch in Notebooks"
Hey,

when using pytorch (via fastai) in my notebook I get the error:
[code]
I read online that this might be solved by setting `--ipc=host` for docker. Where can I set this? Or can this error be solved in another way?

[2019-02-21 10:56] ioandr commented on #2156
The above warning is shown to users when no Volumes are provided in the Notebook form.

We should consider whether the app should provide this warning after checking the `storageClass` of the K8s cluster, which is not the case right now.

[2019-02-21 14:32] shalberd opened #2524 "openshift 3.11 routes ok, but stylesheets and fonts from Web"
I was able to install Kubeflow on OKD 3.11 on a node with Web Access.

When I access ambassador and centraldashboard from another Windows client in another network that has access to the OKD node via firewall rules, but has no Web Access, I get messages in the browser status bar
regarding TLS handshakes with maxcdn.bootstrapcdn.com
fonts.googleapis etc.

Is it possible to run and access Kubeflow o

[2019-02-21 16:51] opus111 commented on #1291
Hello, I just ran into the problem again, also following the tutorial for katib on GKE

https://www.kubeflow.org/docs/components/hyperparameter/

The prototype file on master does not seem to have any db variables

kubeflow/katib/prototypes/all.jsonnet

    ks apply ${KF_ENV} -c katib
    ERROR find objects: RUNTIME ERROR: Field does not exist: modeldbDatabaseImage
	/var/folders/6f/jxrrrmq94rvfqzz

[2019-02-21 20:59] zabbasi opened #2526 "Cleanup shell scripts which were used to launch jupyter"
Notebook controller is going to replace jupyter hub.  There are currently some starting scripts including
[start-notebook.sh](https://github.com/kubeflow/kubeflow/blob/910e7efabd34d270ef214b91d90726479f4c2a0c/components/tensorflow-notebook-image/start-notebook.sh) which control how jupyter is launched in the image. This [PR](https://github.com/kubeflow/kubeflow/pull/2517) updates jupyter images to

[2019-02-22 01:46] changchuming commented on #1710
It seems that I am still having this issue intermittently. When I refresh the page a few times, the error message goes away and the endpoint loads.

[2019-02-22 02:46] kkasravi opened #2528 "due to naming of cluster resources, it's not possible to have more than one instance of kubeflow in a cluster"
kfctl should allow multiple kubeflow instances to be deployed to different namespaces even though there are cluster level resources within a typical kubeflow deployments.
`kfctl delete all` should not delete other instances or cluster resources belonging to other kubeflow deployments.

[2019-02-22 06:46] Chris-Paul-Li opened #2529 "the tf-operator pod state has been CrashLoopBackOff, the _logs_ is "python: can't open file '/home/mnist-with-summary/[image]mnist-with-summaries.py': [ Errno 2] No such file or directory","
The trouble to ask, the tf-operator pod state has been CrashLoopBackOff, the result of the _logs_ is "python: can't open file '/home/mnist-with-summary/[image]mnist-with-summaries.py': [ Errno 2] No such file or directory", the file and path name are definitely no problem, and they are placed in the shared directory of nfs. _describe_ the results of this pod as shown below, what are you willing to

[2019-02-22 08:47] shalberd commented on #2086
Not only that, but in in private cluster, period. I realize this is Google, but there are industrial ML applications that want no exposure to the cloud at all.

[2019-02-22 11:16] govindKAG commented on #2334
This would be sweet!

[2019-02-22 12:54] metrofun commented on #2487
I have switched to v0.4.1
People might also trying turning-off `pipeline` component to get around it

[2019-02-22 12:54] #2487 closed

[2019-02-22 13:40] kkasravi opened #2531 "openvino component is failing to deploy"
error is `Cannot schedule pods: persistentvolumeclaim "nfs" not found.`

[2019-02-22 13:40] kkasravi commented on #2531
/priority p1

[2019-02-22 16:29] prodonjs commented on #2512
I've been able to spend a little time in the past two days getting back into the swing of FE work as I ramp down on my current team. A few thoughts/questions come to mind before I hopefully take a stab at some of the items here.

- **NodeJS server**
  - In a production configuration, would we have any need for a template engine? My thoughts would be that we would have our build process package the

[2019-02-22 17:38] jlewi commented on #2452
From @neuromage

[2019-02-22 17:43] kkasravi commented on #2515
/assign @gabrielwen

[2019-02-22 17:44] kkasravi commented on #2514
/assign @gabrielwen

[2019-02-22 17:44] kkasravi commented on #2515
/unassign @gabrielwen

[2019-02-22 18:50] jlewi commented on #2529
Can you please provide the full spec for your TFJob?

It looks like the problem is you have configured your job to run the program `/home/mnist-with-summary/[image]mnist-with-summaries.py` but this code is not in your docker image.

It looks like you are using one of the published Jupyter notebook images `registry.aliyuncs.com/kubeflow-images-public/tensorflow-1.12.0-notebook-cpu:v0.4.0`.

What is

[2019-02-22 19:35] jlewi commented on #2524
@avdaredevil WDYT?

[2019-02-22 19:38] jlewi commented on #2522
Do you have more information about what pytorch is trying to do? e.g. is it trying to write to a file? Is it trying to talk to other hosts in the PyTorch job?

Without knowing more its hard to know what the correct solution is.

`--ipc=host` is a networking setting for docker. I think we need to know more about what pytorch is trying to do in order to map it onto Kubernetes & Kubeflow.

/cc @johnu

[2019-02-22 19:40] #2513 closed

[2019-02-22 20:04] kkasravi opened #2535 "kfctl (golang) Remove hard dependency on GOOGLE_APPLICATION_CREDENTIALS"
Won't google.DefaultClient automatically use GOOGLE_APPLICATION_CRENDETIALS if its defined?

Will users need to download a service account and set GOOGLE_APPLICATION_CREDENTIALS?

The desired behavior is that it automatically uses the credentials cached in the home directory created by gcloud. If a user sets GOOGLE_APPLICATION_CREDENTIALS then those should be used.

My expectation is that the go c

[2019-02-22 20:08] kkasravi opened #2536 "kfctl (golang) Simplify the child/parent relationships in platforms"
By making K8s a child of the platform KFApp we force every platform app to write logic to sequence the creation of the platform and the K8s resources.

I think a better approach would be to create an UberKFApp which would have a K8s KFApp and a Platform KFApp and know how to sequence the two.

[2019-02-22 20:11] kkasravi opened #2537 "kfctl (golang) move creation of test directories to subdirs under bootstrap"
The Makefile should not use $(HOME). Build/test directories should be a subdirectory of the current directory and added to the .gitingore file?

[2019-02-22 22:06] abimur-123 opened #2539 "Spawn failed: pod did not start in 1800 seconds!"
Hi,

I am trying to start jupyter-hub from the Kubeflow dashboard and run into the following issue:
[code]
Pod description:
[code]

When I run `kubectl get pvc` command
[code]

When I run `kubectl get pv command:
[code]

I can see the pod running but I am unable to access jupyterHub

**Edit:** I was curious to see if it was a network issue and tried pointing jupyter to a jupyterHub image, instead

[2019-02-22 23:12] lluunn commented on #2271
cc

[2019-02-22 23:12] lluunn commented on #2272
cc

[2019-02-22 23:33] avdaredevil commented on #2524
I'll make sure to internalize font's later

[2019-02-22 23:41] kkasravi commented on #2445
/assign @kkasravi

[2019-02-22 23:45] avdaredevil commented on #2512
@prodonjs Great ideas, so the Polymer3 part crossed my mind, and I think we probably should go with that approach. However, I still feel strongly about the templating engine. However we can still minify and bundle our source (by not running the templating on runtime, but rather before building the prod/dev build. Something like:

[code]
- Jade -> HTML
- Serve directly from components.html (or comp

[2019-02-22 23:57] #2524 closed

[2019-02-23 16:22] jlewi commented on #953
I updated the script:

[2019-02-23 18:00] jlewi commented on #2359
#2540 updated the image to
gcr.io/kubeflow-images-public/centraldashboard:v20190222-v0.4.0-rc.1-152-g1de09b7a

But it looks like that image doesn't exist

[2019-02-23 21:04] kkasravi opened #2543 "kfctl (golang) add bash/zsh completion"
kfctl should have command completion provided by golang

[2019-02-23 21:04] kkasravi commented on #2543
/area kfctl

[2019-02-23 21:04] kkasravi commented on #2543
/priority p1

[2019-02-24 01:19] sarahmaddox opened #2545 "install-kubeflow.sh fails with error "merging object with existing state: unable to recognize ...""
_From @sachin-ac on February 16, 2019 0:20_

When following the quick start, I am having issues with the following step
**kubeflow-tools/install-kubeflow.sh**

Seeing below error:

INFO Applying customresourcedefinitions applications.app.k8s.io
INFO Creating non-existent customresourcedefinitions applications.app.k8s.io
ERROR handle object: patching object from cluster: merging object with existin

[2019-02-24 02:20] sarahmaddox opened #2546 "Don't iframe the docs into the new Kubeflow UI"
Referring to PR https://github.com/kubeflow/kubeflow/pull/2361

Hallo @avdaredevil and @abhi-g I'd like to discuss the question of iframing the docs into the Kubeflow UI. I'd prefer not to iframe the doc site into the UI, as I think the experience is on the whole confusing and aesthetically unappealing. The doc website is designed as a standalone site. When iframed into the Kubeflow UI, we have do

[2019-02-24 02:23] sarahmaddox commented on #2359
In iframing the docs into the UI, please see issue https://github.com/kubeflow/kubeflow/issues/2546

[2019-02-24 08:06] abhi-g commented on #2546
I agree that making docs site open in a separate tab is more desirable
experience for the users. AP, please let us know if we need any further
input from UX on this.

Abhishek

On Sat, Feb 23, 2019 at 6:20 PM Sarah Maddox <notifications@github.com>
wrote:

[2019-02-24 22:32] avdaredevil commented on #2546
The sidebar in the dashboard will hide eventually when navigating to the external links, however, we don't want the user experience to change drastically if people are already used to working in a different way. I have no strong opinion either way. I'll make the change on Monday unless @ajayalfred has something to add.

Thanks @sarahmaddox

[2019-02-24 23:08] jlewi commented on #2086
@IronPan Any update?

[2019-02-24 23:45] jlewi commented on #2343
Related issue: #2514

[2019-02-24 23:47] abhi-g commented on #2546
Thanks AP.

Abhishek

On Sun, Feb 24, 2019 at 2:32 PM Apoorv Verma [AP] <notifications@github.com>
wrote:

[2019-02-24 23:54] jlewi commented on #2377
@kunmingg Is this in prod? Can we mark this as fixed?

[2019-02-25 00:06] jlewi commented on #2343
#2472 is the issue adding basic auth to kfctl.

[2019-02-25 00:07] #1995 closed

[2019-02-25 00:08] jlewi commented on #2521
@vkoukis What's the priority of this issue? Do we need to get it done in 0.5?

[2019-02-25 00:11] jlewi commented on #2370
Reopening because #2440 is only a partial fix. There is more work to get GCP full working.

/assign @gabrielwen

[2019-02-25 05:33] kkasravi commented on #2537
/assign @kkasravi

[2019-02-25 18:54] avdaredevil commented on #2377
Is there anything needed from my side @kunmingg / @jlewi?

[2019-02-25 19:07] kunmingg commented on #2377
It's alive in prod since last week, example: https://github.com/kubeflow/pipelines/releases
Close it.

[2019-02-25 19:07] #2377 closed

[2019-02-25 19:47] avdaredevil commented on #2524
/assign @avdaredevil

[2019-02-25 19:48] avdaredevil commented on #2546
/assign @avdaredevil
/assign @ajayalfred

[2019-02-25 19:56] IronPan commented on #2422
@jlewi I think @swiftdiaries pointed out the ideal state for KF as a whole - Single metadata and artifact management. The user should be able to customize things, and ideally user only manage and customize one instance of mysql and one instance of artifact store.

@zhenghuiwang and @neuromage are working on merging the metadata management which would helped moving forward to a unified story.

[2019-02-25 20:05] IronPan commented on #2422
@zhenghuiwang FYI here are reference for pipeline
- schema definition https://github.com/kubeflow/pipelines/tree/master/backend/src/apiserver/model. it uses go based library GORM to initialize the DB.
- Ksonnet entry https://github.com/kubeflow/kubeflow/blob/master/kubeflow/pipeline/mysql.libsonnet.

There is an on-going effort to support data persistence, upgrade, and data migration. It should be

[2019-02-25 20:06] khoward commented on #2498
with jupyterhub going away, where are filestore disks defined? in the notebooks component?

[2019-02-25 21:10] prodonjs commented on #2512
SGTM. I'm working on two PoCs, one with [Webpack](https://github.com/kubeflow/kubeflow/compare/master...prodonjs:webpack?expand=1) and one using [Polymer CLI](https://github.com/kubeflow/kubeflow/compare/master...prodonjs:polymer-serve?expand=1). I think the webpack version will end up being the better solution of the two and converting what you already have to Polymer3 is already mostly there.

I

[2019-02-25 21:30] lluunn opened #2549 "Create secret in istio namespace when using istio"
When we deploy kubeflow with istio installed, the ingress and related resources are in istio-system namespace. So we should create secrets needed by those resources in istio-system namespace, including:
- kubeflow-oauth for clientID, clientSecret
- admin-gcp-sa for backend_updater pod

cc @kunmingg @jlewi

[2019-02-25 21:31] lluunn commented on #2549
/assign

I will wait for kfctl fixes

[2019-02-25 21:50] lluunn opened #2550 "IAP enabler issue: same NodePort port number"
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/gcp/setup_backend.sh#L30

I ran into a situation that there are two backend services with the same port number.
BACKEND_ID=7586477182690125543 9050688055668560594

And then this [line](https://github.com/kubeflow/kubeflow/blob/master/kubeflow/gcp/setup_backend.sh#L56)
failed because the second number is not a command
[code]

cc @jlewi

Wond

[2019-02-25 21:55] jlewi commented on #1189
Thanks @jasongrout

[2019-02-25 22:01] jlewi opened #2551 "Update TFDV and TFMA versions in Jupyter images"
There are specific versions of the TFMA and TFDV libraries that should be installed in our jupyter images based on the TF version.

TFMA versions are listed here:
https://github.com/tensorflow/model-analysis#compatible-versions

TFDV versions are listed here
https://github.com/tensorflow/data-validation#compatible-versions

For TF 1.10 we are installing the correct  versions
https://github.com/kub

[2019-02-25 22:02] jlewi commented on #2551
/assign @zabbasi

[2019-02-25 22:13] avdaredevil commented on #2512
Let's do a quick meeting to discuss the templating part. I don't plan on having node / express doing any of the templating. So this is **not** what I mean:
[code]

I meant webpack would parse jade so we can write symantically sound and condense HTML and have it preprocessed and minified for us by webpack.

[2019-02-25 23:50] ajayalfred commented on #2546
I agree with Sarah's suggestion. Traditionally (looking at other product examples) help docs is an external site in a new tab. I think it's safe to follow the same convention and not iframe docs.

[2019-02-26 04:13] ryan-williams opened #2554 "http://testing-argo.kubeflow.org/workflows doesn't load"
Clicking the link in the README, I'm not sure if I need to authenticate or something, but after a minute or so of a loading animation, I see:

![](https://cl.ly/2964e886943e/Screen%20Shot%202019-02-25%20at%2011.12.06%20PM.png)

[2019-02-26 09:23] shalberd commented on #2456
I am currently developing according to OpenShift and Nvidia GPU Daemon Plugin specs from here:

https://github.com/zvonkok/origin-ci-gpu/
https://github.com/redhat-performance/openshift-psap/tree/master/blog/gpu/device-plugin

The Pod template should also have custom environment variables for GPU acceleration, such as
{code}
env:
          - name: NVIDIA_VISIBLE_DEVICES
            value: all

[2019-02-26 15:55] jlewi commented on #2550
I think the backend id is specified in the annotations on the ingress.

[2019-02-26 16:05] hno2 commented on #2522
I'm not sure, how or if I can provide you with the information you requested, since I'm just getting started with both kubeflow and pytorch.

I will still share what i found out, so far.
My Information about `--ipc=host` came from the [docu](https://github.com/pytorch/pytorch/blob/master/README.md#docker-image) of pytorch:

My understanding is, that fastai makes strong use of torch multiprocessing

[2019-02-26 16:39] johnugeorge commented on #2522
Can you provide more info about the env?
How did you run the PyTorchJob?

[2019-02-26 17:17] hno2 commented on #2522
I used downloaded [this notebook](https://github.com/fastai/course-v3/blob/master/nbs/dl1/lesson1-pets.ipynb).
I used the tensorflow 1.12.0-GPU Notebook-Baseimage and installed fastai directly via the notebook.

[2019-02-26 23:37] kkasravi opened #2559 "Create a new repo for kustomize packages"
Packages in the repo will be downloaded as part of kustomize build.

[2019-02-26 23:37] kkasravi commented on #2559
/area kfctl

[2019-02-26 23:40] kkasravi opened #2560 "kfctl: Add a show subcommand"
Create a separate interface that includes show.
Different KfApp implementations can choose to implement this command via the separate interface.
This way we can generate yaml to a ${KF_APP}/yaml dir by iterating over the different KfApps and only invoke the method if it is implemented for the specific KfApp

[2019-02-26 23:40] kkasravi commented on #2560
/area kfctl

[2019-02-26 23:50] kkasravi opened #2561 "Move ksonnet, kustomize implementations out of KfApps.Children"
The kfctl Client is defined as

[code]

where currently Ksonnet, Gcp, Minikube and other types implementing KfApp are added to
the Children member. Ksonnet is added as "none" based on legacy code in kfctl.sh.
We should redefine this to be:

[code]

This would then be used to cleanly separate platforms from package managers.

[2019-02-26 23:50] kkasravi commented on #2561
/area kfctl

[2019-02-27 00:34] avdaredevil opened #2562 "[Dashboard v1] Getting started card on has no content"
## About
Getting Started Card | Problem
--- | ---
![image](https://user-images.githubusercontent.com/5303018/53456555-be9f9680-39e3-11e9-8a6b-17e6d8ff0ea0.png) | There is no content available for these, and currently this card is hidden. Any relevant content would help, since this card will otherwise never show and be tested.

_**Note:** I see this card being used for navigation and actions done w

[2019-02-27 00:39] kkasravi opened #2563 "kfctl create golang test cases"
the test cases should include test cases from kfctl.sh and best practice golang tests including unit tests and some functional ones.

[2019-02-27 00:39] kkasravi commented on #2563
/assign @ashahba

[2019-02-27 00:39] kkasravi commented on #2563
/area kfctl

[2019-02-27 00:39] kkasravi commented on #2563
/priority p1

[2019-02-27 01:01] sarahmaddox commented on #2562
See also https://github.com/kubeflow/kubeflow/issues/2468

It seems useful to me to add getting-started links to the card.

/unassign

[2019-02-27 01:29] jlewi commented on #2559
I think we decided to call it `manifests` for now. Although I guess we could rename/move it later.

[2019-02-27 01:32] jlewi commented on #2559
New repo setup.
https://github.com/kubeflow/community/blob/master/repository-setup.md

[2019-02-27 01:43] jlewi commented on #2559
Repo is setup with the exception of setting up prow.

[2019-02-27 03:25] kkasravi opened #2566 "kfctl: populate the manifests repo with converted kustomize packages that have been converted from ksonnet"
begin with Jupyter, Profiles

[2019-02-27 03:25] kkasravi commented on #2566
/area kfctl

[2019-02-27 03:25] kkasravi commented on #2566
/priority p1

[2019-02-27 09:24] NKUCodingCat opened #2567 "How can I work around "cannot create directory ‘/home/jovyan/work’: Permission denied""
I had been try this repo for several days, but when I trying to build a new jupyter notebook, I always got the error like #1241 , however I tried to change pvc mount from /home/jovyan to /home/jovyan/work and add 0777 permission to the host path of pv, it still give a `permission denied ` result.

Is there anyone can help me?

[code]

[code]

[code]

i am a absolutely newb for k8s and kubeflow...

[2019-02-27 13:16] pdmack commented on #2567
What is generating the PV? How many nodes in your cluster? If it's a hostPath PV then the permissions need to be set on each node where the PV is being created.

[2019-02-27 15:35] kkasravi commented on #2560
/assign @kkasravi

[2019-02-27 15:43] kkasravi commented on #2561
/priority p1

[2019-02-27 15:43] kkasravi commented on #2561
/assign @kkasravi

[2019-02-27 17:38] swiftdiaries commented on #2566
/assign @swiftdiaries

[2019-02-27 17:47] kkasravi opened #2568 "kfctl kustomize implement Init"
Implement the Init method which will require a Kustomize Struct similar to Ksonnet's
[code]

Init will require this definition and implementation of the function GetKfApp.
It will also require downloading the kustomize manifest to be downloaded
similar to what Ksonnet does in its Init.

[2019-02-27 17:47] kkasravi commented on #2568
/area kfctl

[2019-02-27 17:47] kkasravi commented on #2568
/priority p1

[2019-02-27 18:14] kunmingg opened #2570 "clean up role binding after presubmit tests."
Error in presubmit project:
```ERROR: (gcloud.projects.set-iam-policy) INVALID_ARGUMENT: The number of members in the policy (1,510) is larger than the maximum allowed size 1,500.```
Currently after each test, service accounts are recycled but bindings are still there.

We need to clean bindings as well.

[2019-02-27 20:00] prodonjs commented on #2512
Created #2572 which addresses the following

- [X] Rewrite the dashboard backend in Node.JS
  - [X]  Wire in Express
  - [X]  Wire in Jade / Pug
- [X]  Add a readme
- [X]  Set up Babel / Webpack for Transpilation

[2019-02-27 21:38] cwbeitel opened #2573 "[question] driver support for cuda 10?"
Interested in training on GPUs with the latest version of `tensor2tensor` which depends on `tensorflow-probability` which in turn depends on `tensorflow==1.13.1`. Currently have both the stock kubeflow `nvidia-gpu-device-plugin` and [nvidia](https://cloud.google.com/kubernetes-engine/docs/how-to/gpus#installing_drivers) `nvidia-driver-installer` daemonsets installed. The latter via

[code]

This s

[2019-02-27 23:20] lluunn opened #2574 "presubmit error: ImportError: cannot import name tf_job_client"
from https://github.com/kubeflow/kubeflow/pull/2404
[code]

Seems related to https://github.com/kubeflow/tf-operator/pull/945?

[2019-02-27 23:27] lluunn commented on #2574
seems temporary fix by #2555

[2019-02-27 23:28] lluunn commented on #2574
We still need a proper fix and revert #2555
/cc @richardsliu
/assign @zabbasi

[2019-02-28 00:40] jlewi commented on #2570
Can we do a quick manual cleanup to get the tests fixed?

And then perhaps we can add it to the cleanup ci script:
https://github.com/kubeflow/testing/blob/master/py/kubeflow/testing/cleanup_ci.py

[2019-02-28 01:46] kunmingg commented on #2570
@jlewi
should be good for next 10 presubmit tests.

[2019-02-28 03:33] ramdootp opened #2575 "example for kubeflow spark operator"
Is there any example/use-case for spark-operator in kubeflow
/cc @holdenk

[2019-02-28 03:34] ramdootp commented on #2575
/cc @swiftdiaries

[2019-02-28 06:05] NKUCodingCat commented on #2567
@pdmack It seems work but met some disk pressure or other(Node had run out of disks)....Thus now I am trying to work around it by make a NFS server to make it work ( I am testing it in VMs)

I think I does setup a NFS storage provisioner but how can I let kubeflow to use my NFS server....?

[code]

[2019-02-28 06:08] NKUCodingCat commented on #2567
Let me start a new group of VMs...  I think maybe I had mess something up ...

[2019-02-28 06:48] NKUCodingCat commented on #2567
alright I make it works....

Just create a pv yaml as follows:

[code]

But /test should be set to 0777

# Ref: https://blog.csdn.net/qianggezhishen/article/details/80762119

[2019-02-28 06:48] #2567 closed

[2019-02-28 11:27] gidutz opened #2577 "Multi user for Jupyterhub"
When deploying Kubeflow on GKE, each user is authenticated using IAP.
When other Users would like to access the JupyterHub cluster (in order to work on the same notebooks) they get forbidden warning.

The same issue can be applied on other deployments. the user that created the cluster should be given Admin privilege and should be an easy way to add and remove users from the cluster

![screen shot

[2019-02-28 13:20] jlewi commented on #2577
Are you trying to share jupyter kernels?

Why not have every user launch their own jupyter kernel and share notebooks (ipynb files) through git or NFS?

[2019-02-28 13:26] jlewi commented on #2574
Is a proper fix to #2555 just editing the PYTHONPATH to include the new py directory in the tf-operator repository?

[2019-02-28 13:33] gidutz commented on #2577
The idea is that the jupyter environment has two main goals:

1. A dirty environment for research and EDA - I don't want to commit (push to repo) on a draft notebook. instead one can create a notebook server and let others use it to perform messy research together. This will also enable me to share files and outputs with users working on the same playground.

2. Kaggle like kernels - lets say I wa

[2019-02-28 13:51] kimwnasptd opened #2578 "Automate image builds of Jupyter UI"
We need to update the jupyter-web-app's image in gcr to include the changes made in [this PR](https://github.com/kubeflow/kubeflow/pull/2490), in order to redirect to the correct URL for the notebook.

[2019-02-28 17:28] lluunn commented on #2574
And also update test files' import

[2019-02-28 18:55] zhenghuiwang opened #2580 "[click-to-deploy app] Load test with multiple projects"
Current [load test](https://github.com/kubeflow/kubeflow/blob/master/testing/test_deploy_app.py#L378) for click-to-deploy app doesn't generate enough load due to the API quota limit for a single project.

We need to

- Auto generate dozens of projects.
- Send requests to click-to-deploy to deploy KF to all these projects at the same time.

[2019-02-28 18:56] zhenghuiwang commented on #2580
/assign @zhenghuiwang

[2019-02-28 21:46] jlewi commented on #2578
@kimwnasptd Are we not building and pushing the jupyter image on postsubmit?

[2019-02-28 21:49] jlewi opened #2582 "Central dashboard doesn't render; lots of 404s"
I just deployed from master: commit: v0.4.0-rc.1-173-g3ea53cc2

central dashboard is using image gcr.io/kubeflow-images-public/centraldashboard:v20190223-v0.4.0-rc.1-152-g1de09b7a

The central dashboard returns lots of 404s; e.g.

[code]

[2019-02-28 22:29] lluunn commented on #2574
I still see presubmit failing with
[code]

[2019-02-28 22:32] lluunn commented on #2574
maybe this line needs change: https://github.com/kubeflow/kubeflow/blob/f5dc02168240a6b4d4cf661adccc05d126fcb27d/testing/workflows/components/kfctl_test.jsonnet#L177

[2019-02-28 22:50] jlewi commented on #2570
Here's the current iam policy.
In case we end up deleting roles we shouldn't this should help us recover.

[kubeflow-ci.iam-policy.yaml.txt](https://github.com/kubeflow/kubeflow/files/2917243/kubeflow-ci.iam-policy.yaml.txt)

[2019-02-28 22:52] #2570 closed

[2019-02-28 23:03] gabrielwen opened #2585 "[kfctl] Implements 3 way merge to CreateResourceFromFile or shell out to kubectl"
Currently we implement `CreateResourceFromFile` in an elementary way such that:
- If deploying resource is there and we are not able to patch it, we try to delete and re-create it.
- If it's not there, we simply create it with `POST`.

We should at least consider:
- If the resource is there, we should take a look at config and see if we need to update it or just leave it as it is.

[2019-02-28 23:13] gabrielwen commented on #2585
/cc @kkasravi

[2019-02-28 23:13] gabrielwen commented on #2585
/cc @lluunn

[2019-02-28 23:13] gabrielwen commented on #2585
/cc @kunmingg

[2019-02-28 23:17] gabrielwen opened #2586 "[kfctl] Consolidate kubeconfig and kfctl API calls"
Currently we mixed uses of kubeconfig and cluster info from GCP.  Instead, in kfctl we should:
- Remove dependency of kubeconfig file from both kfctl CLI and Click-to-Deploy app.
- Add optionally kubeconfig support for kfctl CLI.  If user has both `gcloud` and `kubectl` installed, we help create cluster/context entry in user's local kubeconfig file.

[2019-02-28 23:18] gabrielwen commented on #2586
/cc @kkasravi @kunmingg

[2019-02-28 23:18] gabrielwen commented on #2586
Relates to #2370

[2019-02-28 23:18] gabrielwen commented on #2585
Related to #2370

[2019-02-28 23:23] gabrielwen commented on #2586
Relates to #2535

[2019-02-28 23:35] jlewi commented on #2585
I think we can shell out to `kubectl apply` if need be.

We definetly want the scripts to be re-entrant.

[2019-02-28 23:40] gabrielwen commented on #2585
As discussed, we should:
- Check if `kubectl` exists, if it does, shell out to `kubectl apply`
- If it doesn't, should we bail out or give a warning message that it might not work perfectly?

[2019-02-28 23:43] jlewi opened #2588 "jupyter web app should provide status of notebook"
Here's a screen shot of the Jupyter spawner after creating a new notebook

My notebook shows up but there is no indication of the status (e.g. pending, starting, running) etc...

We should expose that info in the UI

![jupyterspawner](https://user-images.githubusercontent.com/777219/53606365-7614e400-3b6f-11e9-8ffb-35e2ef9b44e9.png)

[2019-02-28 23:43] jlewi commented on #2588
/cc @kimwnasptd @vkoukis

[2019-02-28 23:48] lluunn commented on #2588
depend on https://github.com/kubeflow/kubeflow/issues/2417 to add status to notebook CR.

https://github.com/kubeflow/kubeflow/pull/2558 is adding Ready condition when no error.

[2019-03-01 00:35] #2176 closed

[2019-03-01 00:44] jlewi opened #2590 "Ambassador routes for new jupyter notebooks don't work"
Here's the service definition

[code]

When I navigate to:

[code]

I get upstream connect error.

Is it supposed to be rewriting it to `/kf-jlewi/jlewi-1`

/cc @kimwnasptd @lluunn

[2019-03-01 00:45] jlewi commented on #2590
Port-forwarding seems to work.

[code]

[2019-03-01 01:16] lluunn commented on #2590
hmm probably should not rewrite to that.
One quick thing to try is to edit the service and change the rewrite (to "/"?)

[2019-03-01 04:44] jlewi opened #2592 "notebook manager - Volume name should default to name of notebook"
Right now the volume used for the notebook home directory /home/jovyan always defaults to "notebook-workspace".

This default will be invalid if the user tries to create multiple notebooks in a given namespace because the volume would already exist.

I think it would be better to make the volume name default to the name of the notebook so it would default to being unique for each notebook

/cc @vk

[2019-03-01 05:22] jlewi commented on #2575
I don't think there are any examples yet.

[2019-03-01 05:24] jlewi commented on #2573
Thanks @cwbeitel

Doc updates seem like a good idea but I think its really up to GKE to provide support for the drivers.

/cc @vishh

[2019-03-01 05:28] jlewi opened #2593 "jupyter turn off token authentication"
I tried launching the following jupyter images using the new notebook manager and jupyter CR.

gcr.io/kubeflow-images-public/tensorflow-1.12.0-notebook-cpu:v-base-d635ca8-1180
tensorflow/tensorflow:nightly-py3-jupyter

When I tried accessing it over a web browser see screenshot below.

It looks like we need to disable token authentication

![jupyter](https://user-images.githubusercontent.com/77721

[2019-03-01 05:34] jlewi commented on #2593
According to:
https://stackoverflow.com/questions/41159797/how-to-disable-password-request-for-a-jupyter-notebook-session

maybe we just need to use flags

[code]

[2019-03-01 05:34] jlewi commented on #2593
/cc @zabbasi

[2019-03-01 13:33] kimwnasptd commented on #2590
Didn't have the time to properly inform about this one. If my understanding is correct there are three issues we need to tackle here. The `service` annotation and port 8888, the `rewrite` annotation should match the prefix and lastly we need to properly use the prefix inside the Jupyter Pod.

For the service annotation, we have to remove 8888. Initially the created Service for the Notebook was a H

[2019-03-01 16:32] #2270 closed

[2019-03-01 16:33] kimwnasptd commented on #2592
When creating a natebook the current default behavior is to also create a new PVC for it (option `New` in Workspace Volume). There is a field for the name of that PVC with, as you noted, a default value of `notebook-workspace`. So the question is, what default value should we put there?

We want to be able to both have a default behavior that works but we also don't want to restrict users as to wh

[2019-03-01 16:38] kimwnasptd commented on #2578
By taking a look [here](https://console.cloud.google.com/gcr/images/kubeflow-images-public/GLOBAL/jupyter-web-app?gcrImageListsize=30) the image was build only twice including the one done by hand (I guess?) yesterday.
My mentioned PR changed two .js files in the `components/jupyter-web-app` dir. Is there a process/mechanism looking for changes under the components dir that builds the new images a

[2019-03-01 17:00] vishh commented on #2573
GKE documentation needs updates. You can use GKE node versions 1.11.5+ to use CUDA 10; just upgrade your existing node pools to switch to using newer CUDA version.

[2019-03-01 17:20] kkasravi opened #2594 "Evaluate integrating the inference-model-manager into kubeflow, kfctl"
The [inference-model-manager](https://github.com/IntelAI/inference-model-manager) (IMM) dynamically deploys and scales inference endpoints.  It integrates with OpenVINO and Tensorflow Serving.

The model-manager provides an authorization model to secure inference endpoints where authentication is provided by dex. Tenants are grouped by namespace.

We should evaluate whether we can integrate this f

[2019-03-01 18:19] kimwnasptd commented on #2592
I could also restore the previous default behavior. Before if the Volume's name already exists in the cluster, then the UI won't create a new Volume but use the existing one instead.
Later on when we have multi-user support, the default name of this volume could be `{username}-workspace` instead of `notebook-workspace`.

This way by default the UI will use the user's PVC forthe new Notebooks they

[2019-03-01 19:18] jlewi commented on #2592
Can we do something like the following

* Default is to create a new volume
* Volume name will default to the notebook name
* As user types notebook name; volume name will change to match the notebook name
* User has the ability to explicitly give the volume a different name

is it possible to keep the volume name in sync with notebook name but still give user a way to make them not the same?

Cou

[2019-03-01 19:39] kimwnasptd opened #2595 "Set the base_url flag in Jupyter Pod"
Following my [answer ](https://github.com/kubeflow/kubeflow/issues/2590#issuecomment-468665881)from [here](https://github.com/kubeflow/kubeflow/issues/2590) the Jupyter Pod needs to be aware of the prefix it is exposed from. For this, we need to use the flag `--NotebookApp.base_url` to set the prefix to Jupyter. This flag can be set with two ways:

1. As part of the jupyter command, `jupyter noteb

[2019-03-01 19:42] jlewi opened #2596 "kfctl_test metadata not set in argo workflows"
#2303  added metadata to kfctl_test jsonnet workflow. The goal being to set pod labels to make it easy to identify pods for a step.

But in the latest run of the tests it doesn't look like metadata is actually getting set in the argo workflow steps

[kubeflow-presubmit-kfctl-2557-72ba595-5954-ecd6.yaml.txt](https://github.com/kubeflow/kubeflow/files/2920836/kubeflow-presubmit-kfctl-2557-72ba595-59

[2019-03-01 19:52] lluunn commented on #2173
I want to add a flag, useIstio, to determine whether controller should create serviceRole etc.
But seems kubebuilder doesn't have a good way to add flags.
https://github.com/kubernetes-sigs/kubebuilder/issues/611

[2019-03-01 20:12] kimwnasptd commented on #2595
/cc @jlewi
/cc @lluunn
/cc @zabbasi

[2019-03-01 21:38] kkasravi opened #2599 "kfctl kustomize implement Apply and Delete methods"
Kustomize.Apply will need to do something similar to kubectl apply -f output.yaml
Kustomize.Delete will need to delete all resources including CRDs, ClusterRoles, ClusterRoleBindings and PVs.

Apply can use k8utils.go CreateResourceFromFile
Delete should probably look for labels. Ksonnet.Delete should be referenced.

[2019-03-01 21:41] swiftdiaries commented on #2599
/assign @swiftdiaries
I'll pick this one up

[2019-03-01 21:43] jlewi opened #2600 "Jupyter controller should report error if name isn't valid DNS label"
I created a Jupyter with name `0301-demo`

Here's the YAML

[code]

Here's the error in the controller

[code]

This should be surfaced in the Jupyter CR as an error in the status and no resources should be created.

[2019-03-01 22:00] kunmingg opened #2601 "[Golang profile controller] fix permission leak when namespace exists."
When a namespace ```ns1``` created by admin1,
user1 can get permission by creating profile called ```ns1```.
We should identify this case and fix it.

[2019-03-01 22:02] lluunn commented on #2601
cc

[2019-03-01 22:12] kimwnasptd commented on #2592
@jlewi ok now I understand what you're thinking. I agree with having the volume name to be synced with the notebook's name. But I think we can skip the radio button and get a more clean experience.

* Default is to create new volume
* As user types the notebook name; volume's name value will be updated to match the notebook name
* If the user wants a different volume name, then they just edit the

[2019-03-01 22:28] kimwnasptd commented on #2157
The webapp provides a warning only when the user chooses to **not** use a PVC. It doesn't currently take any action based on storage class.

I think we should check if a default storage class is set. If not, then don't allow users to *create new* PVCs, but allow them to use existing ones.

What do you think @jlewi ?

[2019-03-01 22:54] lluunn commented on #2595
I think 3 seems better because making less assumption on the image.

[2019-03-01 22:57] kimwnasptd opened #2602 "User inside Notebook is root and not jovyan"
Tested on latest master with image `gcr.io/kubeflow-images-public/tensorflow-1.10.1-notebook-cpu:v-base-0524257-1200`. If I open a new terminal in the notebook, then I am user root and not jovyan.

/cc @jlewi @zabbasi

[2019-03-02 00:46] jlewi opened #2604 "[GCP] kfctl create named context and set namespace"
The kfctl go binary when running on GCP should do the equivalent of the following
https://github.com/kubeflow/kubeflow/blob/76230712d80805251f2ac54d66b0f02838de1c79/scripts/gke/util.sh#L156

Specifically it should create a context named after the KfApp and set the namespace to be the namespace where kubeflow is deployed.

[2019-03-02 00:51] jlewi opened #2605 "[GCP] kfctl iap setup permissions error"
@gabrielwen is reporting that with IAP is returning errors when setting it up using the new kfctl go binary.

Creating this issue to track and fix it.

[2019-03-02 01:06] lluunn commented on #2173
Seems Istio doesn't have go client library: https://github.com/istio/istio/issues/8772
Not sure if we can manage Istio resources (create, watch) in our controller...

cc @jlewi

[2019-03-02 17:09] cwbeitel opened #2607 "Update docs re gpu autoprovisioning by zone"
Looks like kfctl by default sets up K80 auto-provisioning. Probably worth mentioning in docs (or scripting a check) that on GCP K80's are only available in certain zones (see https://cloud.google.com/compute/docs/gpus/); of course likewise for other GPU types.

[2019-03-02 18:19] jlewi commented on #1933
I observed this error. The logs clearly indicate the apps resource CR was created.

[code]
[pods.txt](https://github.com/kubeflow/kubeflow/files/2922394/pods.txt)

I wonder if it takes some time for the CRD to be loaded. Does simply retrying help?

[2019-03-02 18:53] jlewi commented on #1933
It looks like retrying fixes things.

Below are the logs the first time `kubectl apply --validate=false -f default.yaml` it fails with the error about the application kind even though the custom resource was created. Rerunning the `kubectl apply --validate=false -f default.yaml` it succeeds.

[logs.txt](https://github.com/kubeflow/kubeflow/files/2922411/logs.txt)

[2019-03-02 20:03] kimwnasptd commented on #2595
For more context:
* [kubeflow/kubeflow#2517(review)](https://github.com/kubeflow/kubeflow/pull/2517#discussion_r259063388)
* [kubeflow/kubeflow#2456](https://github.com/kubeflow/kubeflow/issues/2456)
* [kubeflow/kubeflow#2456(comment)](https://github.com/kubeflow/kubeflow/issues/2456#issuecomment-462574825)
* [kubeflow/kubeflow#2463(review)](https://github.com/kubeflow/kubeflow/pull/2463#pullreque

[2019-03-02 22:18] ryan-williams opened #2608 "ksonnet error while following "Using Your Own Domain" instructions"
Following [these instructions](https://www.kubeflow.org/docs/gke/custom-domain/):

[code]

seems to work, and makes changes that look reasonable (to my untrained eye). Then:

[code]

The first command succeeds, but the second fails:

[code]

Not sure what's useful to debug this. I can upload my `$KFAPP` dir if it would be useful.

Otherwise, maybe there's a simple fix / something about the example

[2019-03-02 22:27] lluunn commented on #2608
Yeah it's hard to tell from the log.

The error seems related to a component that imports application.libsonnet.
If you only care about iap-ingress component, you can try remove the component that import application.libsonnet. I remember even if you only apply iap-ingress component, ks still tries rendering all components.

[2019-03-02 22:46] ryan-williams commented on #2608
Interesting! [Here is my ks_app dir](https://github.com/ryan-williams/ks_app-dbg).

I don't have enough context yet to understand your other suggestions, but will work on that 😄

[2019-03-03 18:29] jlewi commented on #2608
I did the following and was able to get it to work.

[code]
I think ksonnet tries to evaluate all the components even if only processing one component; as a result we see cases like this where unrelated issues cause errors.

I think in this case something is going wrong with the way the application component is trying to walk the list of components to generate meta information. Removing the applic

[2019-03-04 09:37] hno2 commented on #2522
Any news ?
Is there a way to set `--shm-size` somewhere?

[2019-03-04 12:45] johnugeorge commented on #2522
/cc @pdmack

[2019-03-04 13:40] jlewi commented on #2595
@kimwnasptd's plan seems good to me.

Perhaps we could also start a markdown doc capturing the requirements for jupyter images to work with Kubeflow.

[2019-03-04 13:43] jlewi commented on #2594
I only skimmed the inference-model-manager docs. Can you explain why that's a platform similar to GCP as opposed to a microservice deployed in the cluster akin to Seldon?

Might make for a good demo at the weekly meeting.

[2019-03-04 13:47] jlewi commented on #2593
@zabbasi can we close this issue?

[2019-03-04 13:57] jlewi commented on #2586
What is click to deploy currently doing to get credentials to talk to the K8s master?

I think in click to deploy the incoming request with have an OAuth token which can just be forwarded to the K8s master.

With the CLI, I think we might need to depend on gcloud. Even if we are using the go client libraries the user would typically do `gcloud auth login` to setup the credentials that Go client li

[2019-03-04 13:58] jlewi commented on #2585
@gabrielwen is this P1 or P2?

[2019-03-04 14:02] jlewi commented on #2577
I think if you wanted to do this with JupyterHub in 0.4 you might be able to accomplish that by configuring JupyterHub auth. Right now we configure JupyterHub to use IAP and only the user that owns the notebook can access it.

In 0.5 we are working on removing JupyterHub and switching to using ISTIO to control access to notebooks.

With ISTIO a cluster admin should just be able to modify the ISTIO

[2019-03-04 14:04] jlewi commented on #2574
@zabbasi Is this fixed?

[2019-03-04 14:12] gidutz commented on #2577
Awsome!

[2019-03-04 14:12] #2577 closed

[2019-03-04 14:16] jlewi commented on #2578
We should define an E2E test that builds the image automatically.

Some instructions here
https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#image-auto-release

On presubmit the image should be pushed to gcr.io/kubeflow-ci.
On postsubmt the image should be pushed to gcr.io/kubeflow-images-public

I would suggest using GCB to build the images (that seems to work better than usin

[2019-03-04 14:17] jlewi commented on #2562
Lets get the central dasbhoard working and then come back to this.

We might need to punt this until 0.6.

[2019-03-04 14:22] jlewi commented on #2539
The original error

[code]

Indicates there was a problem spawning the pod that runs jupyter (not jupyterhub). When that happens it would be good to look at `kubectl describe` and `kubectl get pods -o yaml` for your pod to see what the problem spawning your notebook is.

It looks like the pipeline issue is because you are trying to reuse a pipeline experiment name which already exists.

Did you tr

[2019-03-04 16:08] jlewi commented on #2421
Adding this to 0.6; I think we're already oversubscribed for 0.5

[2019-03-04 16:09] jlewi commented on #2383
I think a minimal release process would be

1. E2E workflow to build and test go binary
2. E2E test should copy the binary to GCS
    * Presubmits should use a bucket in kubeflow-ci
    * Postsubmits should use a public bucket (perhaps in project gcr.io/kubeflow-images-public)

[2019-03-04 16:12] jlewi commented on #2543
@kkasravi Is this really p1? It feels more like p2 given we are still missing key components like tests, release process, etc...

I'm going to downgrade and punt to 0.6; we are already oversubscribed for 0.5.

[2019-03-04 16:22] jlewi commented on #2141
Moving to 0.6 because 0.5 is already oversubscribed.

[2019-03-04 16:23] jlewi commented on #2233
0.5 is already highly oversubscribed. I'm moving this to 0.6.

[2019-03-04 16:30] jlewi commented on #2157
@kimwnasptd I think that makes sense.

I'm going to move this to 0.6 because we already have too many issues in 0.5

[2019-03-04 16:33] jlewi opened #2610 "[kfctl] Need E2E test for go binary"
We need to create a version of our E2E test which uses the new kfctl go binary.

[2019-03-04 16:40] jlewi commented on #2592
Seems good to me.

[2019-03-04 16:41] jlewi commented on #2156
Marking this as fixed.

There is a follow on issue #2157 to disable the New PVC option if there is no default storage class defined.

[2019-03-04 16:41] #2156 closed

[2019-03-04 17:48] lluunn commented on #2574
This is fixed

[2019-03-04 17:48] #2574 closed

[2019-03-04 18:02] zabbasi commented on #2593
done. https://github.com/kubeflow/kubeflow/pull/2591

[2019-03-04 18:02] zabbasi commented on #2593
/close

[2019-03-04 18:02] #2593 closed

[2019-03-04 18:03] gabrielwen commented on #2585
let's put it as P2 first.

[2019-03-04 18:33] lluunn commented on #2173
We might need https://github.com/istio/api/pull/764

[2019-03-04 19:02] zabbasi commented on #2458
addressed in the following PRs:
https://github.com/kubeflow/kubeflow/pull/2611
https://github.com/kubeflow/kubeflow/pull/2606
https://github.com/kubeflow/kubeflow/pull/2591
https://github.com/kubeflow/kubeflow/pull/2517

[2019-03-04 19:02] zabbasi commented on #2458
/close

[2019-03-04 19:02] #2458 closed

[2019-03-04 19:07] lluunn commented on #2173
some reference: https://github.com/banzaicloud/istio-operator/blob/master/pkg/controller/istio/istio_controller.go

[2019-03-04 19:15] jlewi commented on #2582
Reopening: we need to

1. Update the ksonnet to point to a newly updated image.
1. Verify everything is working.

[2019-03-04 19:17] jlewi commented on #2582
Looks like #2576 already updated the ksonnet.
https://github.com/kubeflow/kubeflow/blob/020950dcfd36b18891e85f7d156c1237712e9a4b/kubeflow/common/prototypes/centraldashboard.jsonnet#L6

So we just need to verify that its working.

[2019-03-04 19:19] jlewi commented on #2582
Launch a job to update the auto-deployed ci cluster

[code]

[2019-03-04 19:27] ajayalfred commented on #2562
@abhi-g sent me some documentation links that can go in the card. I'll mockup what that looks like and send it to you AP. Sorry it's taken a little longer than expected.

[2019-03-04 19:42] jlewi commented on #2582
Now deployed at:
https://kf-vmaster-n01.endpoints.kubeflow-ci.cloud.goog/

[2019-03-04 19:46] jlewi opened #2612 "Central Dashboard - Rename "JupyterHub" to "Notebooks""
We should rename the link in the central dashboard from JupyterHub to "Notebooks" since we aren't using
JupyterHub anymore.

/cc @prodonjs @avdaredevil

Screen shot

![centraldashboard](https://user-images.githubusercontent.com/777219/53758600-12423200-3e73-11e9-8204-6caa3b9f7f61.png)

[2019-03-04 20:09] prodonjs opened #2614 "[Dashboard v1] Support deep-links"
Ensure that iframed pages and native component pages have unique URLs.

This makes it possible to use browser buttons to land on specific pages of the dashboard.

Parent: #2359

[2019-03-04 20:09] prodonjs commented on #2614
/assign @prodonjs

[2019-03-04 20:10] gabrielwen commented on #2586
Right, I think click to deploy has an OAuth token.

I'm reading [this GoDoc](https://godoc.org/golang.org/x/oauth2/google), seems like we might be able to get auth token in CLI as well.  Would this be more feasible that we unify auth process by passing around auth tokens?  This also helps fix #2535

[2019-03-04 20:12] #2472 closed

[2019-03-04 20:12] #2491 closed

[2019-03-04 20:12] #2514 closed

[2019-03-04 20:13] prodonjs commented on #2614
/area centraldashboard
/area front-end

[2019-03-04 20:16] prodonjs commented on #2614
/priority p1
/cuj landing-page

[2019-03-04 20:29] prodonjs opened #2615 "[Dashboard v1] Add endpoint to central dashboard server to surface events"
Add API endpoint to surface K8s events to the Central Dashboard.

Parent: #2512

/assign prodonjs
/area front-end
/priority p1

[2019-03-04 21:30] lluunn commented on #2595
SGTM
@zabbasi could you make the change to the image?
I will fix the controller part.

[2019-03-04 22:13] zabbasi commented on #2602
@kimwnasptd  How come? can you please elaborate.
notebook-dir is already set in Dockerfile
Also tested one of the images one more time (gcr.io/kubeflow-images-public/tensorflow-1.12.0-notebook-cpu:v-base-97b94c0-1202)  by mounting  a sample file  in /home/jovyan. When notebook is launched my sample file  showed up in the jupyter list of files
[code]

[2019-03-04 22:46] avdaredevil commented on #2582
I do not have access to this: @jlewi

[2019-03-04 22:50] kunmingg opened #2617 "[1-click deploy] propagate PD name to ks app via ks param set"
Current PD name is passed as ks init parameter:
https://github.com/kubeflow/kubeflow/blob/master/bootstrap/cmd/bootstrap/app/ksServer.go#L1299

However, ```mysqlPd``` and ```minioPd``` can not be used as ks init parameter, as they don't have entry in [pipeline prototype](https://github.com/kubeflow/kubeflow/blob/master/kubeflow/pipeline/prototypes/pipeline.jsonnet)

Instead we should pass them by

[2019-03-04 22:50] kunmingg commented on #2617
@IronPan

[2019-03-04 22:57] avdaredevil commented on #2612
/assign @avdaredevil

[2019-03-04 23:09] avdaredevil opened #2618 "[Front-End][Tracker] Create front-end tests for dashboard and notebooks"
## About:
Tracker issue for all unit and integration testing we want to add to various front-end projects within Kubeflow

### Dashboard
General functionality and user flows

### Notebooks
We would like to test the notebooks page in selenium to test the construction of a notebook, which will eventually be made into a presubmit test. For now, it should be able to run manually

/assign @avdaredevil

[2019-03-04 23:09] avdaredevil commented on #2618
/area front-end

[2019-03-04 23:10] avdaredevil commented on #2618
/priority p1

[2019-03-04 23:18] avdaredevil commented on #2562
@ajayalfred I'll implement this as soon as you update this issue. Thanks!

[2019-03-04 23:18] avdaredevil commented on #2562
/area front-end
/priority p1

[2019-03-04 23:43] #2612 closed

[2019-03-05 00:17] kimwnasptd commented on #2157
ACK, although it shouldn't be a large one so I'll try to make a PR in the next days
/assign kimwnasptd

[2019-03-05 01:13] lluunn opened #2621 "Notebook controller should check if child resources already exist"
E.g. for notebook controller, it should check whether the underlying statefulset already exists.

Maybe we can use annotation to determine whether the statefulset is generated by a notebook

cc @kunmingg

[2019-03-05 01:46] lluunn opened #2622 "kfctl apply failed"
[code]

Got error:
[code]

cc @gabrielwen @kunmingg

[2019-03-05 03:37] gyliu513 opened #2623 "Any plan to enable https support for kubeflow UI"
Now I can access the kubeflow UI via ambassador using `http`, but this is not secure, any plan to enable kubeflow UI support `https`?

[2019-03-05 04:38] carmine commented on #2306
Any further thoughts on this proposal? Keep it open or close it?

[2019-03-05 06:11] jlewi commented on #2595
I tried it out

https://kf-vmaster-n02.endpoints.kubeflow-ci.cloud.goog/
git label: v0-4-0-rc-1-192-g20431c4

When I access Jupyter I get

[code]
So I think traffic is now reaching the notebook. And we probably just need to fix the Docker image to set base_url.

[2019-03-05 07:33] llegolas opened #2624 "Jupyter notebooks on GPU nodes."
In order to make jupyper notebook pods utilize GPUs  on openshift I needed to modify jupyter_config.py like this:
[code]
I know it is ugly and there could be condition if the additional resources from the GUI are adding anvidia.com/GPU.
I'm also not sure if this will be needed in GCP but can it be considered?

[2019-03-05 14:53] kimwnasptd commented on #2592
/assign kimwnasptd

[2019-03-05 18:07] danielrs commented on #2487
I also have the same issue when I do `kfctl.sh apply k8s`:

[code]

Using either `v0.4.1` or latest `master` causes the same error. Using `docker-for-mac` with `kubernetes` version `1.10.11`.

[2019-03-05 18:52] kkasravi commented on #2622
I got this too, my workaround was to download my <deployment>@<project>.iam.gserviceaccount.com as a json file and set the envvar GOOGLE_APPLICATION_CREDENTIALS to point to it

eg: export GOOGLE_APPLICATION_CREDENTIALS=/Users/kdkasrav/auth.json

[2019-03-05 19:08] IronPan commented on #2487
@danielrs You would need kubernetes v1.11+. Or you could disable the pipeline component if upgrading kubernetes is not an option.

[2019-03-05 19:38] pdmack commented on #2521
"Notebook Servers" seems technically correct. I kind of feel that those who have used Kubeflow trade freely and comfortably between the concepts of notebooks and notebook pods.

[2019-03-05 19:44] kkasravi opened #2628 "kfctl kustomize should have a way of showing component parameters similar to ksonnet"
Currently under <deployment>/ks_app if you do a `ks param list` you'll get back all parameters ordered by component

[code]

We should use kustomize json_patch or vars to allow us to do something similar even if we're using the native kustomize command (similar to `ks param list` shown above). One possibility would be to embed this into kfctl so each component (whether it's ksonnet or kustomize) w

[2019-03-05 19:59] kkasravi opened #2629 "kfctl kustomize, ksonnet - package manager info should be integrated into config files"
Currently kfctl will open a file under bootstrap/config (depending on the init arguments) as part of it's initialization. These files are default.yaml, gcp_prototype.yaml, kfctl_basic_auth.yaml, kfctl_iap.yaml.
This information is read into the golang struct ComponentConfig
[code]

Currently this doesn't include any package manager information and should.

The generated file 'app.yaml' that is pro

[2019-03-05 20:01] kkasravi opened #2630 "kfctl kustomize test suite (unit and e2e)"
the kustomize components in the repo kubeflow/manifests should have similar unit, e2e tests as ksonnet.

[2019-03-05 20:09] kkasravi commented on #2594
@jlewi yes i think you're right, i'll see if everything can be done within a kustomize component.

[2019-03-05 20:36] gabrielwen commented on #2622
I think this is duplicate issue of #2535

[2019-03-05 20:39] kkasravi commented on #2628
/area kfctl

[2019-03-05 21:27] danielrs commented on #2487
@IronPan is there any version (v0.4.0 or v0.3.x) that supports my kubernetes version? The component I'm interested in testing is the pipelines.

[2019-03-05 21:27] jlewi commented on #2551
Looks like we should also start building a TF 1.13 image.

[2019-03-06 00:04] lluunn commented on #2622
Thanks, the workaround works.

But then I got another error:
[code]

From the deployment manager page:
[code]

[2019-03-06 00:15] jlewi commented on #767
@zachgrayio with 0.5 (available on master coming end of march) it should be much easier to build Jupyter images that work with Kubeflow.

I think the primary requirement is to add a default command like this to the Docker image

https://github.com/kubeflow/kubeflow/blob/20431c47de02420f6ac105f7c23cce518ac35364/components/tensorflow-notebook-image/Dockerfile#L158

[2019-03-06 00:36] lluunn commented on #2622
And then I got
[code]
It was because my service account was only project editor, and it needs to be project owner

[2019-03-06 00:37] lluunn commented on #2622
Next error:
[code]

But my command is: `kfctl apply --oauth_id=xxx --oauth_secret=xxx`

[2019-03-06 01:23] swiftdiaries commented on #2630
/assign @swiftdiaries
I'll pick this one up :)

[2019-03-06 02:29] lluunn commented on #2622
I printed it out, options[string(kftypes.OAUTH_ID)] is nil.
https://github.com/kubeflow/kubeflow/blob/master/bootstrap/pkg/client/gcp/gcp.go#L816

[2019-03-06 03:34] gyliu513 commented on #2623
FYI @jlewi any comments for this?

[2019-03-06 05:02] jtfogarty commented on #2521
I'm comfortable with Notebook Servers

Will namespace be used or will we change it?  I'm in favor of using the term Project, here is where we are heading;

We are building an on-prem cluster where each node will have 10TB of space.  Rook/Ceph will be used to manage disk space.  (Features with Rook; Block storage is not available for RWX; Rook/Cephfs is available for RWX but does not support dynami

[2019-03-06 07:04] dreamryx opened #2633 "Build kubeflow docker images on power"
We have test running latest mnist example with kubeflow 4.0 on Power 8 (ppc64le architecture). During the test, we have built a lot of kubeflow docker images on power and want to contribute the dockerfiles. We supposed to have two options:

 - Due to a lot of changes of dockerfiles is just replace the base image, we can follow the way in k8s - create temp docker file and replcace the base image va

[2019-03-06 07:13] gyliu513 commented on #2633
@jlewi any comments for this? Seems there are also some discussions at https://github.com/kubeflow/kubeflow/issues/925

FYI @hougangliu @jinchihe

[2019-03-06 07:16] #2617 closed

[2019-03-06 08:39] irhawks opened #2634 "kfctl apply failed for invalid spec.version when installing CRD tfjobs.kubeflow.org"
I'm initializing a kubeflow testing environment following offical getting started guide <https://www.kubeflow.org/docs/started/getting-started/>. Here are the commands (just copy them from the webpage):

[code]

However, an errors raised when running last line `${KUBEFLOW_SRC}/scripts/kfctl.sh apply k8s`. The following is the log:

[code]

My cluster configuration:

- kubernetes v1.13.4: installin

[2019-03-06 08:44] irhawks commented on #2634
#2487

[2019-03-06 12:20] jtfogarty commented on #2521
Question, How do we control User / Project(namespace) access?

[2019-03-06 15:21] prodonjs commented on #2618
The code for the notebooks front-end is in [components/jupyter-web-app](https://github.com/kubeflow/kubeflow/tree/master/components/jupyter-web-app/default/kubeflow/jupyter). It probably makes sense to have tests included and run against that component rather than working through centraldashboard but ideally, our test framework can be used for all of the front-end components that need to be tested

[2019-03-06 17:16] kkasravi opened #2635 "kfctl - provide option (default) to statically link ksonnet and kustomize into kfctl"
Currently both package managers dynamically load their .so (ksonnet.so, kustomize.so).
We should go back to a build option where these are statically linked in.

[2019-03-06 17:17] kkasravi commented on #2635
/area kfctl

[2019-03-06 17:17] kkasravi commented on #2635
/priority p1

[2019-03-06 17:29] zmhassan commented on #1915
## Problem
Whenever users want to try kubeflow tf-operator they have to request cluster-admin access. This may limit chances for adoption.

## Proposed solution
There currently is a technology called Operator Lifecycle Manager which is an operator that manages the install, upgrade and deployment of Operators. Initially the cluster-admin would setup the infrastructure but once its setup the user sh

[2019-03-06 17:31] armandmcqueen commented on #2195
Bump. We'd really like to see this data. Let us know if we can contribute to move this forward.

[2019-03-06 18:07] kkasravi opened #2636 "Provide a build option that will create a versioned package for k8 libraries"
Currently in kfctl we load package managers ksonnet and kustomize. Their APIs are built against different, non-overlapping kubernetes versions: 1.10.4 and 1.13.4 respectively. They also use different k8s.io/client-go and sigs.k8s.io/controller-runtime libraries. In order to load kustomize within kfctl (along with ksonnet) we need to use golang package versioning for the following kubernetes librar

[2019-03-06 18:19] kkasravi commented on #2636
/area kfctl

[2019-03-06 18:19] kkasravi commented on #2636
/priority p2

[2019-03-06 18:21] kkasravi commented on #2629
/area kfctl

[2019-03-06 18:21] kkasravi commented on #2629
/priority p1

[2019-03-06 18:29] jlewi commented on #2633
IIUC your are proposing modifying all Kubeflow related Docker images in order to build versions for power.

So this is a pretty big change that touches pretty much all of Kubeflow. If so it would be great to put together a doc documenting this in more detail and discuss it in the community meeting or perhaps the developer summit if your there.

Can/Should we localize all power related changes in a

[2019-03-06 18:35] jlewi commented on #2634
/assign @richardsliu @johnugeorge could you take a look please.

[2019-03-06 18:39] jlewi opened #2639 "Notebook manager should provide a UI for visualizing jupyter spec"
Once a notebook is launched, it would be useful to be able to visualize the jupyter spec (e.g. attached volumes, image, resources, etc...).

Right now the only options in the UI are
* Connect
* Delete

Perhaps some of these fields could be added as columns in the table listing running notebooks?

Should we try to get this done in 0.5? Its not critical but on the other hand it improves the usabilit

[2019-03-06 18:41] jlewi commented on #2623
You need to setup an auth proxy in front of ambassador.

In 0.5 we are adding support for basic auth over https. You can also use things like Dex to integrate with OIDC providers.

The release demo http://bit.ly/05_mid_release_demo
has some instructions but I'm not sure its functional yet.

[2019-03-06 18:46] zabbasi commented on #2602
/close

[2019-03-06 19:10] ajayalfred commented on #2562
![image](https://user-images.githubusercontent.com/2425179/53906676-64fd2480-4000-11e9-896d-0b55255b3d44.png)

[2019-03-06 19:11] ajayalfred commented on #2562
How does this card content look?

[2019-03-06 19:39] lluunn commented on #2622
Next error, seems transient
[code]

https://github.com/kubeflow/kubeflow/blob/master/bootstrap/pkg/client/gcp/gcp.go#L319

[2019-03-06 19:52] jlewi opened #2641 "Inject common config into Jupyter Pods"
We need a way for admins to define common data to be injected into Jupyter pods.

Example: Adding environment variables and secrets (e.g. for GCP.)

There are a couple options

1. Use a custom MutatingWebAdmissionController
1. Use a PodPreset

    * See https://github.com/kubeflow/kubeflow/tree/master/kubeflow/credentials-pod-preset
    * https://kubernetes.io/docs/concepts/workloads/pods/podprese

[2019-03-06 19:56] jlewi commented on #2641
Example webhook for sidecar injection.
https://github.com/morvencao/kube-mutating-webhook-tutorial

We could probably modify that to do environment variables.

[2019-03-06 19:57] abhi-g commented on #2562
Thanks Ajay. This looks good.

Once we make progress on our 0.5 release and Fairing has got some example notebooks for data scientists, we can think about creating another section for Getting Started for Data Scientists.

[2019-03-06 20:04] zabbasi commented on #2595
/close

[2019-03-06 20:04] #2595 closed

[2019-03-06 21:43] lluunn commented on #2622
next error:
[code]

[2019-03-06 22:12] lluunn opened #2642 "Error in application component"
#2608
#2622

Both issues have error when trying to apply (or show) application component generated from kfctl.

cc @kkasravi

[2019-03-06 22:19] lluunn commented on #2642
I just tried ks generate, and then immediate ks show.
It worked fine.
So I think it's kfctl's problem

[2019-03-06 22:27] avdaredevil commented on #2562
If either @abhi-g or @ajayalfred could also send me the intended behavior for all the other quick shortcuts, that would help me add more items to the current list (2 items)

[2019-03-06 22:31] lluunn commented on #2622
Seems that when application.libsonnet [doing](https://github.com/kubeflow/kubeflow/blob/master/kubeflow/application/application.libsonnet#L207)
 `std.filterMap(clusterScope, byResource, tuples)`
some resource in iap-ingress component failed

[2019-03-06 22:33] lluunn commented on #2642
Seems that when application.libsonnet [doing](https://github.com/kubeflow/kubeflow/blob/master/kubeflow/application/application.libsonnet#L207)
 `std.filterMap(clusterScope, byResource, tuples)`
some resource in iap-ingress component failed

[2019-03-06 23:08] lluunn commented on #2622
I was able to apply if I skip the "iap-ingress" component in application component.
Will use #2642 to track.

[2019-03-06 23:08] #2622 closed

[2019-03-06 23:17] avdaredevil commented on #2618
Yeah I was wondering if we want to make another Kubeflow repo for testing all different components, or configure at the component level?

[2019-03-07 00:27] kkasravi opened #2644 "kfctl add a dry-run cli option in apply"
have it validate the yaml file(s) and print what resources would be sent to the server

[2019-03-07 00:31] kkasravi opened #2645 "kfctl include a makefile target that allows kfctl to be built in a container"
this would allow development outside of the mac environment as well as deploying kfctl within the cluster

[2019-03-07 00:47] kkasravi opened #2646 "kfctl allow the --version CLI to include PR's"
allow the following form
`kfctl init kubeflow --version pull/<id>/head`

and download this under .cache/<id>/

[2019-03-07 00:55] swiftdiaries commented on #2599
This is done. For now, the YAML built using kustomize is piped out to kubectl.
Link: https://github.com/swiftdiaries/kubeflow/commit/a0ef6bb14e879893e80c1af00333ab9d78b63cc8

[2019-03-07 00:57] swiftdiaries commented on #2599
I'll create a PR as soon as #2548 is merged because this is based off of that

[2019-03-07 02:18] johnugeorge commented on #2634
Have you previously installed tf-job-operator ?   Can you paste output of `kubectl get crd ` ?

[2019-03-07 03:19] richardsliu commented on #2634
This sometimes can happen if the same ksonnet app is being reused. Have you tried to start from a fresh deployment? Basically change KFAPP to some other value and try the scripts again.

[2019-03-07 06:17] gyliu513 commented on #2226
@dreamryx

[2019-03-07 06:42] irhawks commented on #2634
Thank you. I think @richardsliu is right. I have checked tf-job-crd and the error disappeared after deleting kubeflow and CRD tfjobs.kubeflow.org and redo the official installation guide.

And I have reproduced this error with installing kubeflow v0.4.1 (in this new cluster) after ksonnet previous v0.3.1 (old artifacts).

[2019-03-07 06:42] #2634 closed

[2019-03-07 08:25] gyliu513 commented on #2633
Thanks @jlewi , your comments really helps!!

Compared with `create a new repo kubeflow/power`, we prefer the big change. As in the future, we may also want to support [s390x](https://en.wikipedia.org/wiki/Linux_on_z_Systems) as well. Creating a repo for each platform maybe difficult to manage.

So we will try to create a design document first and try to review it in community meeting after ready

[2019-03-07 10:46] avdaredevil opened #2652 "Central Dashboard Label is spelled incorrectly"
/assign @jlewi

The label is misspelled as `/area centraldashbosard` hence it hasn't been used much. Not sure if we can fix it, but made sense to bring it up in case it can be resolved. Thanks!

Link: https://github.com/kubeflow/kubeflow/labels/area%2Fcentraldashbosard

[2019-03-07 11:21] Tiddl1991 commented on #2513
@Chris-Paul-Li having the same issue with my initial deployment. Where and to what did you change the storage class to solve the issue?

[2019-03-07 19:02] kkasravi opened #2653 "kfctl generated yaml fails validation"
in kfctl (golang), the generate method will create a <deployment>/ks_app/default.yaml.
It then calls kubectl apply -f default.yaml. If you run `kubectl apply -f default.yaml --validate --dry-run`
the following errors occur:

[code]

[2019-03-07 19:20] jlewi commented on #1764
In kubeflow/tf-operator
We use Travis and gometlinter in kubeflow/tf-operator. If you're interested in picking that up it would be super impactful.

I think it would be better to use Prow but I think getting golint checks done is important enough that if it means starting with Travis and switching to Prow later that would be fine with me.

[2019-03-07 19:45] lluunn commented on #2642
the problem should be in cloudendpoint component, because if I commented out this line it works fine.
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/gcp/iap.libsonnet#L1029

[2019-03-07 20:01] lluunn commented on #2642
So the problem is the hostname I passed in is not cloud endpoint's format, and one component in iap-ingress is empty, and causes error.

[2019-03-07 20:19] kimwnasptd commented on #2578
/assign @kimwnasptd

[2019-03-07 21:15] ajayalfred commented on #2562
What clarification do you need for the intended behavior? The idea with quick shortcuts is to jump to the respective page in the respective product directly from the dashboard. If the product is iFramed then it's open in the same tab, if not it's opened in a new tab.

Anything missing?

[2019-03-07 21:54] avdaredevil commented on #2562
I'm talking about the target addresses for _Quick Shortcuts_ not _Getting Started_. I do not know where they should land

[2019-03-07 22:41] jlewi opened #2657 "kfctl generate won't succeed if first attempt failed"
kfctl generate failed for me as follows

[code]

I then retry and specify the flag

[code]

We should fix this. The desired behavior would be I should be able to rerun and specify the parameters and have it succeed.

/cc @kunmingg @gabrielwen @lluunn

[2019-03-07 23:01] jlewi opened #2658 "kfctl apply requires oauth client id and secret even if using basic auth"
I get the following error when trying to spin up Kubeflow using basic auth

[code]

But a client id and oauth id should only be required if using IAP; if using basic auth we shouldn't need this.

[2019-03-07 23:22] jlewi opened #2659 "kfctl Not actually setting GCP IAM roles"
I'm using the new kfctl go binary built from **v0.4.0-rc.1-199-g51b410ad**

The logs indicate that the IAM roles are being  set

[code]

However, when I get the IAM policy; I don't see any role bindings  actually being set. As a result I get errors such as CloudEndpoint not being created.

/cc @gabrielwen @kunmingg @lluunn

[2019-03-08 04:05] gabrielwen commented on #2659
IAM role bindings should be set [here](https://github.com/kubeflow/kubeflow/blob/master/bootstrap/pkg/client/gcp/gcp.go#L418-L432)

If I remember correctly rewriting works, is it because [SetIamPolicy](https://github.com/kubeflow/kubeflow/blob/master/bootstrap/pkg/client/gcp/gcp.go#L430) silently fails?

[2019-03-08 04:05] jlewi commented on #2653
What is the default.yaml file?

Is this a dump of all the YAML via metacontroller?

Will we get rid of default.yaml when we fix #2391 and apply all the components directly?

[2019-03-08 04:07] jlewi commented on #2659
@gabrielwen Not sure what the problem is.The logs indicate it is trying to set the binding role but its failing for some reason.

[2019-03-08 04:07] gabrielwen commented on #2657
yea, I think we should check if email exists before creating directory.

[2019-03-08 04:10] jlewi opened #2661 "kfctl doesn't create secret with username and password for basic auth"
I deployed Kubeflow using basic auth using the kfctl binary.

The secret ` kubeflow-login` containing the username and password isn't actually created.

It would be good to have a command in kfctl for setting the secret and username.
Something like

kfctl create-basic-auth-secret --username=<> --password=....

So users could easily update/change it if they forget.

[2019-03-08 04:36] gabrielwen commented on #2659
Right, I think we need to look into [SetIamPolicy](https://github.com/kubeflow/kubeflow/blob/master/bootstrap/pkg/utils/iamutils.go#L165https://github.com/kubeflow/kubeflow/blob/master/bootstrap/pkg/utils/iamutils.go#L165).

In specific, should look at the response which is in the type of [Policy](https://godoc.org/google.golang.org/api/cloudresourcemanager/v1beta1#Policy).  There is a field `Serv

[2019-03-08 08:22] vaibhavrtk commented on #1844
@jlewi Can you please elaborate on the solution that you finally used.

[2019-03-08 14:07] #2562 closed

[2019-03-08 15:22] prodonjs commented on #2582
I believe this is resolved now correct?

[2019-03-08 18:01] jlewi commented on #2659
Thanks @gabrielwen. That makes sense.

[2019-03-08 18:03] kkasravi commented on #2653
@jlewi

Earlier behavior was to call ksonnet.Apply for [metacontroller, application]. I think @gabrielwen switched to calling ksonnet.Show with output being dumped to <deployment>/ks_app/default.yaml, then exec'ing `kubectl apply -f default.yaml`. (see below for what we'll move to) There were some validation errors that surfaced in ambassador.libsonnet, argo.libsonnet, and pipeline as a result.  (

[2019-03-08 18:11] jlewi opened #2663 "Instructions for upgrading from basic auth to IAP"
It would be great to have instructions for how people can upgrade from basic auth to IAP.

Off the top of my head here are some steps involved

1. Create an OAuth client id / secret
1. Turn on IAP
1. Turn on JWT validation at the gateway
1. Set IAP iam role on accounts

Some things to consider ?

* Can we avoid disabling basic auth until IAP is configured and working properly?

   * One way to do

[2019-03-08 18:14] jlewi commented on #2653
Sounds like a good idea

[2019-03-08 18:16] kkasravi commented on #2642
thanks @lluunn

[2019-03-08 18:30] jlewi commented on #2653
This seems a little inelegant.

In line with #2391 I'd really like to have the deployment process follow standard processes. For ksonnet that means using `ks apply`. Using the metacontroller and jsonnet to generate a yaml file and apply a common label to all resources is very unique.

I'd like to follow common processes because lots of developers are working on this code and so the simpler we can