[2018-05-21 15:32] aronchick commented on #187
My apologies! We've had a designed look at a bunch of different treatments of everything everyone proposed, and I think that you're exactly right Eric. Final step is nailing down the font. Here's the 6 treatments - I think I'd prefer #5, but let's decide!

![Logo Treatments](https://user-images.githubusercontent.com/51317/40315879-7775c314-5cd1-11e8-87e8-0362f7225f9b.png)

[2018-05-21 15:41] jlewi commented on #479
@inc0 I think we should go ahead and upgrade to 0.9b2. I think it would be useful to start seeing how things work with the latest version (e.g. on dev.kubeflow.org) so we can figure out where things stand for 0.2.

[2018-05-21 15:48] erikerlandson commented on #187
I do like the widened KF. I am a font Philistine but I think I prefer the top-right variation, or the original font top-left. @willb is a font connoisseur and likely has good advice.

[2018-05-21 16:07] kunmingg commented on #722
We can close it since we already support running bootstrapper inside pod.

[2018-05-21 16:07] kunmingg commented on #722
/close

[2018-05-21 16:07] #722 closed

[2018-05-21 16:27] kunmingg commented on #832
Hmmm I remember we have PyTorch setup for bootstrapper e2e test...
Let me take a look.

[2018-05-21 19:11] carmine commented on #187
Top Right FTW ..

[2018-05-21 19:21] ewilderj commented on #187
Top-right or bottom-middle look good to me. Let's check the typeface with the designer as it would be good to be using one which is a Google webfont or otherwise freely available.

[2018-05-21 20:20] monadic commented on #187
There should be 7 pieces.  Like a Tangram.

[2018-05-21 20:55] jlewi commented on #833
Encountered this again.

[code]

gcloud --project=kubeflow-ci deployment-manager operations describe operation-1526931651153-56cbc7aa9cc68-dea36067-bcd2893e

[code]

[2018-05-21 20:57] jlewi commented on #833
The deployment ` z23-25b96cd-1597-5bbe` still exists and is in an error state.

[code]

[2018-05-21 21:11] jlewi commented on #833
Lets try reissuing the delete

[code]

The error shown in the pantheon UI is

[code]

[2018-05-21 21:30] jlewi commented on #833
I added

[code]

to all the K8s resources. Now I can delete all the K8s resources and the node pools but I get the following error

[code]

I tried setting the deletePolicy on that resource as well but it looks like it didn't work.

[2018-05-21 22:07] lluunn opened #841 "Cleanup jsonnet style - camelCase variable"
We should use camel case variables, #403 , but there are many violations:

https://github.com/kubeflow/kubeflow/blob/master/components/tensorflow-notebook-image/releaser/components/workflows.libsonnet

https://github.com/kubeflow/kubeflow/blob/master/components/k8s-model-server/images/releaser/components/workflows.libsonnet

[2018-05-21 22:11] lluunn opened #842 "GKE deploy test failed because of insufficient quota"
http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-presubmit-kubeflow-gke-deploy-840-6c8e8a7-1599-d299?tab=workflow&nodeId=kubeflow-presubmit-kubeflow-gke-deploy-840-6c8e8a7-1599-d299-213896030

in #840

[code]

cc @jlewi @kunmingg

[2018-05-22 00:31] jlewi commented on #833
So I'm observing two failure modes on #823

1. Problems deleting the deployment because its try to deactivate an API

- This should be fixed in #823 by using actions instead of virtual service
- Actions should allow us to enable the API but not deactivate it on delete

1. Also observing occasional failures trying to delete the statefulset for the bootstrapper

[2018-05-22 01:10] jlewi commented on #666
@kunmingg What's the status of this? Which Docker images are now being built regularly?

[2018-05-22 01:25] jlewi commented on #833
Looks like the deployment was successfully deleted.

[2018-05-22 02:15] gxfun opened #844 "Some questions about tf-serving on NFS"
Hi,
We cannot access the Internet and Ambassador isn't working . Will these affect the use of tf-serving?

We use kubeadm1.9.1 set up kubernetes.

[code]

There is the information of inception-nfs service.

[code]
We can see the EXTERNAL-IP is none.

[code]
The error is `Could not find base path /mnt/var/nfs/general/inception`, but it exists in   `/var/nfs/general/inception`.

[code]
[code]
[code]

[2018-05-22 03:35] jlewi opened #845 "TF-Serving 1.8 Images"
Can we build a 1.8 version of TF Serving images

/assign @lluunn
/priority p1

[2018-05-22 03:37] jlewi opened #846 "Jupyter image for TensorFlow 1.8"
Can we build a jupyter notebook for TF 1.8

[2018-05-22 06:30] elmiko commented on #187
+1 for top right

[2018-05-22 10:07] Itfly opened #847 "How to support other persistent volumes except for "Host Path" and "Azure File" in TFJob UI?"
After installing the kubeflow, there's only two volumes type shown on the tfjobs/ui. Is it possible to support other volumes like nfs?
![image](https://user-images.githubusercontent.com/3993505/40356202-fb640680-5dea-11e8-9091-48efe7fdc5b3.png)

[2018-05-22 10:19] gxfun commented on #844
The reason for this error `Could not find base path /mnt/var/nfs/general/inception, but it exists in /var/nfs/general/inception`  is that the version of kubeflow  that we use is v0.1.2. Now we update it to `master`.

There is another error:
[code]

[2018-05-22 12:43] jlewi opened #848 "Release workflows should not use images in kubeflow-ci"
To release images we typically run our E2E workflows to build and test the container.

These workflows use docker images in gcr.io/kubeflow-ci; mainly `gcr.io/kubeflow-ci/test-worker`. gcr.io/kubeflow-ci is writable by presubmits so it shouldn't be trusted.

One option would be to move test-worker to gcr.io/kubeflow-images-public or another repository that isn't writable by our tests.

[2018-05-22 13:17] jlewi commented on #727
@everpeace checked see [here](https://github.com/ksonnet/ksonnet/issues/502#issuecomment-390056907) and 0.10.2 appears to fix ksonnet/ksonnet#502

kubeflow/testing#134 modified the Dockerfile for gcr.io/kubeflow-ci/test-worker to include ksonnet 0.10.2.

latest currently points to image [gcr.io/kubeflow-ci/test-worker:test-worker@sha256:1536a765efc9d6e6ed8b61a82dec1b414fcdac25cdf621b9706bfa5d5d526

[2018-05-22 13:20] jlewi commented on #848
We also build the image `gcr.io/kubeflow-releasing/worker` for our test worker but we don't appear to use that yet in our Argo workflows.

Its probably simpler to use the same image for testing and releasing and just put it in a different registry that is readable but not writable by kubeflow-ci. gcr.io/kubeflow-releasing seems good.

[2018-05-22 14:08] willb commented on #187
Opening up five minor variations on a single design to a vote on a GitHub issue defeats the purpose of contracting out to a professional designer in the first place; ideally, you'd want the community to choose a small number of initial broad directions and then trust a designer to make sensible decisions about the details.  However, this logo is great (and I'll echo @monadic -- one thing I really

[2018-05-22 14:34] aronchick commented on #187
Hi Will--

We did contract out with a designer, they reviewed the entire list of items
in this issue and proposed some alternatives, and then decided this was the
best. Happy to share the various treatments which they rejected for various
reasons. They asked us about these logo type options which I thought I'd
open to the community :)

Quick question though - the original design was only 6, not 7

[2018-05-22 15:37] jlewi commented on #727
New ci worker image pushed.

https://console.cloud.google.com/gcr/images/kubeflow-ci/GLOBAL/test-worker@sha256:87855deb994dc87ddf439da054004b4ce3a976f515f6bd471992bd378b1bbb43/details/info

[2018-05-22 15:48] aronchick commented on #187
AH! Well I'll do that then :)

On Tue, May 22, 2018 at 8:40 AM Will Benton <notifications@github.com>
wrote:

[2018-05-22 16:05] ewilderj commented on #187
@willb from my POV we had encouraged the community to contribute and discuss various directions on this issue, then took the most popular to the designer for tidying etc, so it didn't seem too unreasonable to narrow things at that point. The designer did come up with two other treatments from this issue, which we should probably share, but they both if I remember correctly directly looked like the

[2018-05-22 16:29] carmine commented on #187
FWIW, I appreciate the opportunity to vote.

On Tue, May 22, 2018 at 9:06 AM Edd Wilder-James <notifications@github.com>
wrote:

--
-Carmine

“Give every day the chance to become the most beautiful day of your life.”
― Mark Twain

[2018-05-22 16:39] willb commented on #187
@ewilderj Yes!  The comment was meant to be tongue-in-cheek, so I'm sorry if it has derailed the conversation here.  My point is simply that deciding between five treatments that are identical except for relatively subtle typeface distinctions is a job for a designer, not for a community vote.  This isn't an antidemocratic sentiment, it's just that humans in general are bad at deciding between min

[2018-05-22 17:04] jlewi commented on #727
I moved tag `latest` back to https://console.cloud.google.com/gcr/images/kubeflow-ci/GLOBAL/test-worker@sha256:1536a765efc9d6e6ed8b61a82dec1b414fcdac25cdf621b9706bfa5d5d52689b/details/info

We will need to resolve kubeflow/testing#137 before continuing with the upgrade.

[2018-05-22 17:11] lluunn commented on #845
TF serving has not released 1.8 https://github.com/tensorflow/serving/releases

[2018-05-22 17:47] kunmingg commented on #666
@jlewi Now we have code merged in, and I'll turn on cron job today.
These are current two workflows which cron will cover:
https://github.com/kubeflow/kubeflow/blob/master/releasing/prow_config_release.yaml

[2018-05-22 17:53] ankushagarwal commented on #846
We already do https://github.com/kubeflow/kubeflow/blob/master/components/tensorflow-notebook-image/releaser/components/workflows.libsonnet#L304

Looks like we need to push run the argo workflow to release it to gcr.io

[2018-05-22 21:51] cwbeitel opened #850 "Include ssh in notebook image to support authenticated git push"
Proposing to re-include ssh in tf-hub notebook images to allow code developed there within to be pushed to external git repositories that use ssh to handle authentication.

/cc @pdmack

[2018-05-22 21:56] pdmack commented on #850
/assign @pdmack

@cwbeitel Are you currently using PV? In the interim, are you able to push/pull on the PV?

[2018-05-22 22:08] cwbeitel commented on #850
Can you clarify? I'm using a PV attached as NFS but the same issue with git pushing occurs when running the docker image without any mounted volumes or kubeflow infra then is corrected by apt-get installing ssh.

[2018-05-22 22:35] pdmack commented on #850
Sure, I was thinking maybe if you had access to that same volume from a host _with_ ssh (i.e., outside the pod container). No matter, i'm on it.

[2018-05-22 22:39] cwbeitel commented on #850
Yeah that's a good fix. Thanks for the help!

[2018-05-22 22:49] jlewi opened #852 "E2E test for TFJob v1alpha2 ksonnet package"
Context:
   * kubeflow/tf-operator#599 add ksonnet package for v1alpha2 of TFJob operator
   * #836 - Verify Kubeflow deployed correctly with deployment manager
   * #829 - Use a config map with bootstrapper to override packages installed

We need to update our E2E tests to test the TFJob operator v1alpha2 package.

The difficulty here is that we can't deploy two versions of a CRD in the same clus

[2018-05-22 22:53] jlewi commented on #836
I think we should do the following

* Create a variant of [deploy_kubeflow.py](https://github.com/kubeflow/kubeflow/blob/master/testing/deploy_kubeflow.py) which uses deployment manager
   * A python script will be easier to add things like retries and error testing and also wrap it in a test case

* We should allow the YAML file provided to deployment manager( [cluster-kubeflow.yaml](https://gith

[2018-05-22 22:59] jlewi commented on #666
This is great.

@kunmingg  can you file an issue to add the TFJob operator and bootstrapper images to this release workflow?

@kunmingg after we turn the cron job on, we should verify that it runs successfully and then once we've verified it and have images we can close this issue.

[2018-05-23 00:16] jlewi opened #854 "Verify PVC for /home/jovyan works"
In #561 we made the changes to support mounting all of /home/jovyan on PVC.

We should verify that is working in dev.kubeflow.org.

To do that we will need newly built Jupyter notebook images.

The cron job to rebuild notebook images (#666) should be enabled soon.

[2018-05-23 00:33] #561 closed

[2018-05-23 00:51] JoeyZwicker commented on #264
@inc0 Sorry if this isn't relevant as I'm coming in a bit late to the conversation, but isn't

solvable, as @cliveseldon mentioned, by Pachyderm's data version and lineage tracking features? We can retrain with same parameters and new data, same data and new parameters, as well as new code in any of these situations. Pachyderm's incremental features make it really easy to pick up from a checkpoint

[2018-05-23 01:00] kunmingg opened #855 "Create image release workflow for tf operator images"
https://github.com/kubeflow/kubeflow/issues/666 give us cron job executing image release workflows in
https://github.com/kubeflow/kubeflow/blob/master/releasing/prow_config_release.yaml

Would be great to have auto release cover more components like tf operator.

[2018-05-23 03:04] gxfun commented on #844
@jlewi
@lqj679ssn
Thanks.

I follow the steps in [Serve a local model using Tensorflow Serving.md](https://github.com/kubeflow/kubeflow/blob/master/components/k8s-model-server/Serve%20a%20local%20model%20using%20Tensorflow%20Serving.md) Can you give me some advice on this issue?

[2018-05-23 03:44] DjangoPeng commented on #187
The original and top-right is LGTM.

[2018-05-23 03:53] jlewi commented on #844
Its hard for me to tell what's going on from all your replies because I can't tell which logs go with what.

In your first comment you pasted the following

[code]

This indicates a problem pulling the docker image for TF Serving.

If you're having trouble accessing the internet then that could explain why you aren't able to start the pods. Although it looks like you have other Kubeflow processes

[2018-05-23 06:39] xieydd commented on #784
@jlewi  Sorry , I konw about it.
And I solve 401 error, my kube-dns is not working，I replace it with coredns;
But I meet  a new error 500 , tf-hub-0 service has Endpoints

[code]

[code]

[code]

[2018-05-23 07:45] jiaanguo opened #858 "unknown node type issue related to mycnnjob.jsonnet"
Hi all, @jlewi

When I follow the instruction guide of kubeflow to test tfcnn. An uninterpretable error pops out showing that there might be something wrong with the **"mycnnjob.jsonnet"** file

[code]

[code]

Any idea of what is going wrong? thanks heaps!

[2018-05-23 08:03] jiaanguo commented on #858
The error goes away if download ksonnet release directly from [here](https://github.com/ksonnet/ksonnet/releases)

[code]

If build ksonnet directly from github, then there will have the issue shown above.
This issue can be closed.

[2018-05-23 13:55] pdmack commented on #854
I would work on this if someone could guide me through the test infra. Like, from local to e2e.

[2018-05-23 13:57] #858 closed

[2018-05-23 14:06] jlewi commented on #854
We're using **dev.kubeflow.org** as a way of seeing Kubeflow @ HEAD to test things like UI changes that we don't have E2E tests for.

It looks like the cron job was enabled and images were newly built
https://console.cloud.google.com/gcr/images/kubeflow-images-public/GLOBAL/tensorflow-1.8.0-notebook-cpu?gcrImageListsize=50

You should have access to via your @redhat account to dev.kubeflow.org so

[2018-05-23 14:06] jlewi commented on #666
@kunmingg It looks like the cron job was enabled and new images were built e.g.
https://console.cloud.google.com/gcr/images/kubeflow-images-public/GLOBAL/tensorflow-1.8.0-notebook-cpu?gcrImageListsize=50

Can we close this?

[2018-05-23 15:00] pdmack commented on #854
The non-PVC default...
<img width="344" alt="screen shot 2018-05-23 at 10 58 56 am" src="https://user-images.githubusercontent.com/2380545/40432765-7111625a-5e78-11e8-980e-9ea0afd15aaf.png">

[2018-05-23 16:49] dakoner opened #860 "Suggest using simple port forwarding instead of LoadBalancer for cloud deploy in User Guide"
The User Guide documents adding a LoadBalancer to expose the tf-hub in a cloud deployment with the stated caveat it opens the port to the internet.  There is an additional document for using IAP, which is more secure but also more complex.

I suggest documenting a simpler port forward, which just makes the tf-hub available to the local machine:

kubectl port-forward --namespace kubeflow $(kubectl

[2018-05-23 17:08] jlewi commented on #860
This makes sense.

I think the general approach we want to recommend is that users connect to the ambassador reverse proxy so they get access to all the services.

This is blocked though on #817 which will put JupyterHub behind the ambassador.

Once everything is available through ambassador we can provide suitable recipes for connecting to ambassador e.g.

- Port forward
- Expose ambassador on lo

[2018-05-23 17:30] jlewi commented on #854
@pdmack Can you explain the last comment? Is PVC working as expected? I think I made a mistake we probably need to update dev.kubeflow.org to pick up the ksonnet changes that set the mount point.

There are instructions [here](https://github.com/kubeflow/testing/tree/master/dev-kubeflow-org) for how to update dev.kubeflow.org.

I think we will need to modify recreate_app.sh to set the location to

[2018-05-23 17:38] inc0 commented on #264
@JoeyZwicker I'm not so much concerned about tracking of data, as it's solvable with pachyderm, but more about tracking of models. Models will be produced from versioned data (link to pachyderm), versioned code (link to tfjob image) and versioned hyperparameters (link katib or metadata in model CRD). On top of that you need metadata like path to actual model file, results of CI runs against this m

[2018-05-23 17:55] JoeyZwicker commented on #264
Pachyderm does actually version the output model binaries and parameter files as well and with our provenance feature, you can link parameters + training data + code (via tfj image) to output models and any metadata outputs (labels, annotations, etc).

For our ML use cases, we generally have users set parameters as data like in our [hyperparameter example here](https://github.com/pachyderm/pachyde

[2018-05-23 18:04] pdmack commented on #854
The screen caps are from the NB launch in d.k.o without a PVC. @jlewi are you saying we want to now have all d.k.o launches use a PVC? If so, I'll have a look at those updates.

[2018-05-23 18:08] omartin2010 opened #861 "error: Operation cannot be fulfilled on tfjobs.kubeflow.org ... the object has been modified"
hi, while trying to create a tfjob object on my cluster, I'm unable to get tf operator to create a job, nor a pod.

Here's an error I'm getting in while running :
kubectl logs tf-job-operator-75897f474d-c942g --namespace kubeflow | grep error
error: Operation cannot be fulfilled on tfjobs.kubeflow.org \"_object_name_\": the object has been modified

Any idea what I should be looking at?

[2018-05-23 18:27] kunmingg commented on #666
Seems we have some failed release tasks, like tf serving gpu, need to verify we have enough hardware resource for auto release.

[2018-05-23 18:30] ankushagarwal commented on #861
* Is it possible that you have two tfjob controllers running in your kubeflow cluster? `kubectl get deployments --all-namespaces | grep tf-job-operator`

* If not, can you share the TFJob spec?

[2018-05-23 18:33] fxue opened #862 "Integrating PaddlePaddle with Kubeflow"
If there is K8s manifests for all the resources PaddlePaddle need; converting this to a ksonnet package in the Kubeflow repository is straightforward
https://github.com/kubeflow/kubeflow/blob/master/docs_dev/ksonnet_packages.md

[2018-05-23 19:31] dakoner opened #863 "Failed to run TfCnn example from User Guide: ERROR find objects: parse jsonnet snippet: params.libsonnet:22:5-13 Expected a comma before next field."
I am getting an error when I try to run the TfCnn example from the User Guide:
The docs say to run:

CNN_JOB_NAME=mycnnjob
ks generate tf-cnn ${CNN_JOB_NAME} --name=${CNN_JOB_NAME}
ks apply ${KF_ENV} -c ${CNN_JOB_NAME}

I get the error:
ERROR find objects: parse jsonnet snippet: params.libsonnet:22:5-13 Expected a comma before next field.

When I looked at components/params.libsonnet, I see it has

[2018-05-23 19:38] ankushagarwal commented on #863
* What version of ksonnet are you using?
* What version of kubeflow are you using?

ks version 0.10.2 and kubeflow version v0.1.2 seems to work for me

[2018-05-23 22:14] pdmack opened #865 "Better bash PS1 for notebooks"
If anyone ventures to a notebook terminal in dev.kubeflow.org,  it looks a little ugly. e.g.,

`jovyan@jupyter-accounts-2egoogle-2ecom-3apmackinn-40redhat-2ecom:~$`

[2018-05-24 01:00] kunmingg commented on #829
/close

[2018-05-24 01:00] #829 closed

[2018-05-24 12:51] xieydd commented on #784
I sloved thr problem , i Setting error parameters for coredns.

[2018-05-24 12:51] #784 closed

[2018-05-24 14:29] jlewi commented on #863
Per @ankushagarwal 's comment `components/params.libsonnet` is generated by `ks` not us so its most likely something with ks.

[2018-05-24 14:31] dakoner commented on #863
Yep, I think what's happened is that I downloaded the 'ks' binary from the ksonnet site, and it embeds versions of those files, then blindly updates them without respecting syntax.

[2018-05-24 14:32] dakoner commented on #863
Closing because it's not kubeflow-specific.

[2018-05-24 14:32] #863 closed

[2018-05-24 15:32] YujiOshima commented on #264
Pachyderm looks so useful.
Can Pachyderm manage other data schema than that presented in this example?
Katib needs to store many kinds of data that are specialized for Katib e.g. Study, Trial.
If it can, it will be able to be used in Katib as a backend DB.
But I think Katib doesn't need to depend on it deeply.
We can prepare plugins for MySQL and Pachyderm and users can switch them.

[2018-05-24 16:26] TheJaySmith commented on #211
I would be happy to help find a way to automate this. To my knowledge, there are tools already that exist that allow for GCR and DockerHub to sync.

[2018-05-24 16:35] wbuchwalter commented on #847
Yes, each volume type will likely require it's own react component since they have different field.
PR welcome.

[2018-05-24 17:04] JoeyZwicker commented on #264
Pachyderm is just a file system interface so it works with any data type/schema -- text, images, binary files, csv, etc. Keep in mind that _is_ a file-based system and our versioning is at the per-file level. So if your data is a giant table or DB dump, you'll want to break that up into smaller files (we have some sugar cmds to help with this) so you get more efficient diffing and incremental proc

[2018-05-24 21:22] lluunn opened #869 "Presubmit unhealthy? Networking issues"
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-presubmit

<img width="1206" alt="screen shot 2018-05-24 at 14 19 53" src="https://user-images.githubusercontent.com/32310205/40514316-8bf01e50-5f5d-11e8-9bfe-0f9e1a93ca22.png">

[2018-05-24 22:51] jlewi commented on #833
The resource not found

[2018-05-24 23:27] jlewi opened #871 "dev.kubeflow.org envoy; iap sidecar stuck waiting for backend"
We redeployed dev.kubeflow.org

The envoy containers that are the backend for IAP are crashlooping because there is no envoy config.
The IAP sidecar that creates the config is stuck waiting for the backend

[code]
/cc @pdmack

/assign @jlewi

[2018-05-24 23:30] jlewi commented on #871
Here's the code:

https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/iap.libsonnet#L321

[2018-05-24 23:37] jlewi commented on #871
[code]
The backend services are

[code]
It doesn't look like the node port in the backend service match the service.

I think we should delete and recreate the ingress

/cc @danisla

[2018-05-24 23:56] jlewi commented on #871
I deleted the ingress and recreated it using the code in kubeflow/testing#139

[code]

[2018-05-25 00:11] jlewi commented on #871
The ingress appears to be stuck and there is no backend created.

I wonder if there is a race condition.

The IAP sidecar container doesn't create the envoy config until the backend is created. The envoy containers won't start until the config is there. And  the GCP containers won't be created until the envoy containers are up.

@danisla thoughts?

[2018-05-25 01:26] jlewi commented on #871
[code]
https://github.com/kubernetes/ingress-nginx/issues/1417

Suggests it might be due to service not being nodePort type but it looks like it is

[code]
Lets try deleting the service and iap-ingress component.

[code]

[2018-05-25 01:34] jlewi commented on #871
There's another service running inside the cluster for the summarization UI. The service its pointing to is type ClusterIP

[code]

Maybe that ingress is the problem? Lets try deleting it.

[2018-05-25 01:37] jlewi commented on #871
`kubectl delete ingress issue-summarization-ui`

Appears to have fixed it.

[code]
So it looks like if any ingresses aren't pointing at node port services that can prevent other ingresses from being created.

[2018-05-25 01:47] jlewi commented on #871
Redeploying issue-summarization-ui after setting the type parameter to NodePort.

[2018-05-25 05:17] jlewi commented on #869
kubeflow/kubeflow#866 is one PR where I observed a number of test flakes.

I'm observing a variety of failure modes

Failure #1

TFJob client appears to hang trying to contact the K8s API server to get job status (kubeflow/tf-operator#606).

Failure #2

TFServing fails

[code]
Both of these are suggestive of some form of networking issue.

[2018-05-25 05:25] jlewi commented on #869
It looks like the kube-dns pods might be having some issues

[code]

Although I guess its possible that is yet another problem caused by networking issues.

[2018-05-25 05:40] jlewi commented on #869
I'm going to try deleting all the VMs in the cluster. They should get recreated and hopefully when they get rescheduled any transient issues will be addressed.

[2018-05-25 13:41] #871 closed

[2018-05-25 15:35] pdmack commented on #505
jupyterhub/kubespawner/#153

I've asked on gitter when we might expect another kubespawner release.

[2018-05-25 15:48] pdmack commented on #505
Sounds like we will get this simultaneously with the official JH 0.9 release. @willingc ?

[2018-05-25 17:22] lluunn commented on #869
Thanks Jeremy, I think it's good now.

[2018-05-25 17:22] #869 closed

[2018-05-25 17:50] jlewi opened #876 "Deployment manager config should enable Cloud Endpoints API"
Deployment manager config should enable the cloud endpoints API

[2018-05-25 17:53] kunmingg opened #877 "Make image release Dockerfile point to resources within GCP."
Background:
With https://github.com/kubeflow/kubeflow/issues/666, we have cron job release images in kubeflow org.
Currently (05/25) we have ~20 image released concurrently. One observation is we might have network bandwidth limit since some request to external resources timeout and cause failure.

First step could be making Dockerfile's dependencies like base images hosted within GCP.

[2018-05-25 17:53] kunmingg commented on #666
/close

[2018-05-25 17:53] #666 closed

[2018-05-25 17:55] jlewi opened #878 "Deployment manager config should create service accounts and set IAM roles"
Our deployment manager config should create service accounts and set IAM roles for those service accounts appropriately.

We should create two service accounts

1. For admin tasks like enabling endpoints
1. For use with TFJobs etc...
   * Should have IAM roles like read/write to various storage products
   * Dataflow access; etc...

[2018-05-25 19:30] #854 closed

[2018-05-25 20:41] jlewi commented on #852
/assign @ankushagarwal

[2018-05-25 20:41] jlewi commented on #846
/assign @ankushagarwal

[2018-05-25 20:44] jlewi commented on #479
/unassign inc0
/assign jlewi

[2018-05-25 20:45] jlewi commented on #239
/assign @kkasravi

[2018-05-25 20:47] jlewi opened #880 "Bootstrapper should support packages from other registries"
Bootstrapper should support other registries.

I think what we'd like to do is

1. Make it easy to bake multiple registries into the bootstrapper image

   * Then people can create private bootstrapper images containing private packages

1. Ensure bootstrapper can install packages from other registries

/assign @kunmingg

[2018-05-25 20:48] jlewi commented on #878
/assign jlewi

[2018-05-25 20:48] jlewi commented on #876
/assign jlewi

[2018-05-25 21:28] ankushagarwal commented on #504
/assign @vicaire

[2018-05-25 21:33] ankushagarwal commented on #846
I'll push this once https://github.com/kubeflow/kubeflow/pull/843 is merged

[2018-05-25 23:09] ankushagarwal commented on #852
Python script from #866 to deploy kubeflow clusters

[2018-05-25 23:43] ankushagarwal commented on #852
Looks like bootstrapper has a couple of bugs. Once https://github.com/kubeflow/kubeflow/pull/872/files gets merged I'll start work on this

[2018-05-26 01:02] jlewi opened #883 "deployment manager should allow setting IAM roles in YAML config"
We'd like to be able to grant different users and groups using deployment manager.

The most obvious use for this is granting users IAP access.

Specifically we'd like something like this
https://github.com/jlewi/kubecon_gh_demo/blob/master/project_creation/config-kubecon-gh-demo-1.yaml#L59

[2018-05-26 05:57] IronPan opened #884 "Web app deploying kubeflow through deployment manager"
Before integrating with Cloud Launcher for deploying Kubeflow, consider creating a web app that accepts
- project
- deployment name
- hostname

and produce a GCP deployment manager YAML config which then calls deployment manager to deploy kubeflow.

[2018-05-26 18:33] jlewi commented on #877
GCR provides a mirror of popular images in DockerHub.
https://cloud.google.com/container-registry/docs/using-dockerhub-mirroring

We probably just need to configure our docker daemon to use it.

[2018-05-26 18:43] jlewi opened #885 "Create labels for releases"
We should create labels like the following

release/0.2.0
release/0.3.0
release/0.1.0

So we can track issues/bugs associated with particular releases.

@kunmingg Could you update the label defs?

/assign @kunmingg

[2018-05-26 18:45] jlewi commented on #770
@pdmack Committed a bunch of fixes to head this week. It would be great if you could try it out and let us know if there are still issues.

It should now be possible to mount the entire home directory on PV.

[2018-05-26 18:47] jlewi commented on #712
Why is this blocked by #197? We should be able to start publishing it to Kubeflow's GCR registry
gcr.io/kubeflow-images-public
even before Kubeflow starts publishing images to DockerHub.

[2018-05-26 23:48] #850 closed

[2018-05-28 09:57] Itfly commented on #847
Thanks. But I can not find where's the front-end code

[2018-05-28 13:22] YujiOshima commented on #264
@JoeyZwicker I'm sorry for late reply. Great, it is not so big DB table.
They are defined [here](https://github.com/kubeflow/katib/blob/master/pkg/db/db_init.go).
I believe they can be stored in Pachyderm.

@inc0 In you mean the data of experiments and models will be shared by Pachyderm among any components?
Then we can discuss data schema based on Katib's.
And I think Katib can use Pachyderm as t

[2018-05-28 14:27] wbuchwalter commented on #847
It is in the tf-operator repo: https://github.com/kubeflow/tf-operator/tree/master/dashboard

[2018-05-29 13:06] jlewi commented on #833
#866 should add retries that handle internal error.

[2018-05-29 13:06] #833 closed

[2018-05-29 13:09] jlewi commented on #757
We can close this once #875 is committed.

[2018-05-29 18:11] #757 closed, assigned to nobody

[2018-05-29 18:19] karthikvadla opened #887 "openmpi-controller:0.0.3 image pull error."
Hi,

I'm trying to run sample `/examples/tensorflow_mnist.py` on kubernetes as per [instructions](https://github.com/kubeflow/kubeflow/tree/master/kubeflow/openmpi)

I tried `IMAGE=uber/horovod:0.13.0-tf1.8.0-torch0.4.0-py2.7`.

On Kubernets, master is running fine. but workers are failing to pull the image for openmpi-controller:0.03. Events as below for one of the worker.
I went and checked, 0.0

[2018-05-29 18:22] karthikvadla commented on #887
/assign jiezhang

[2018-05-29 19:05] ankushagarwal commented on #504
/assign @ankushagarwal
/unassign @vicaire

[2018-05-29 19:54] pdmack commented on #770
In kubeflow/testing#144, we have detected an issue where a disk provisioner overrides any volumes and mounts before it, including the `/home/jovyan` one. Let me know if that tracks with any issues you may be encountering from master.

[2018-05-29 20:13] karthikvadla commented on #826
@xieydd did you solve above issue? I'm seeing same issue as yours but with image
`IMAGE=uber/horovod:0.13.0-tf1.8.0-torch0.4.0-py2.7` and openmpi-controller tag `0.0.2`.
see this #887

[2018-05-29 20:26] kflynn commented on #734
The other thing we've seen is `minikube` being started without RBAC support. Apparently you need

[code]

for that to work correctly?

[2018-05-29 21:18] jiezhang commented on #887
I just published v0.0.3. @karthikvadla Can you please try again?

[2018-05-29 21:33] jiezhang commented on #712
@jlewi I'm getting this error:
[code]

[2018-05-29 21:37] karthikvadla commented on #887
Sure.

[2018-05-29 21:44] karthikvadla commented on #887
All pods are running now.

[code]

Master logs
[code]

workers as
``
~/openmpi ❯❯❯ kubectl logs openmpi-worker-1  -n kubeflow -c openmpi-job

OPENMPI_DIR=/kubeflow/openmpi
+ OPENMPI_DIR=/kubeflow/openmpi
SSHD_CONFIG=${OPENMPI_DIR}/assets/sshd_config
+ SSHD_CONFIG=/kubeflow/openmpi/assets/sshd_config
MPIEXEC_TIMEOUT_ON_WAIT_MPI_READY=10
+ MPIEXEC_TIMEOUT_ON_WAIT_MPI_READY=10
BACKOFF_SECS=10
+ BACKO

[2018-05-29 21:46] karthikvadla commented on #887
@jiezhang

[2018-05-29 22:27] jiezhang commented on #887
/close

[2018-05-29 22:27] #887 closed

[2018-05-30 00:38] kunmingg commented on #832
Bootstrapper now use master branch for registry, which contains PyTorch Operator. Close it now.

[2018-05-30 00:38] kunmingg commented on #832
/close

[2018-05-30 00:38] #832 closed

[2018-05-30 05:55] ogre0403 commented on #770
@jlewi @pdmack

Thanks for your great work.  `jupyterNotebookPVCMount` is work for me now.
I think we can close this issue now.

[2018-05-30 05:55] #770 closed

[2018-05-30 11:22] myqq0000 opened #891 "How to practice other models with kubeflow?"
Hi there. I have tried to use kubeflow to train model.
But when I followed the guide to [submitting-a-tensorflow-training-job](https://github.com/kubeflow/kubeflow/blob/master/user_guide.md#submitting-a-tensorflow-training-job)
I can just train the TFCNN example.
There seems not mention how to change the model?
I can find this model with command `kubectl get -o yaml tfjobs ${CNN_JOB_NAME} `
And th

[2018-05-30 19:58] ankushagarwal commented on #836
@jlewi Can this be closed since #866 is merged?

[2018-05-30 20:50] pdmack commented on #841
I presume you mean the underscores:
deploy_tf_serving_command_base -> deployTfServingCommandBase

[2018-05-31 01:07] pdmack commented on #423
Is this still an issue? All I see in the current 1.8 notebook is:
[code]

[2018-05-31 15:32] lluunn opened #896 "Investigate using tensorflow serving's built-in http server"
https://github.com/tensorflow/serving/pull/902

https://github.com/tensorflow/serving/blob/master/tensorflow_serving/model_servers/http_server.h

[2018-06-01 02:56] jlewi commented on #878
Partially fixed by #875 which created an admin service account for use by admin tasks.

[2018-06-01 05:23] jlewi opened #901 "bootstrapper should not crash loop on error"
Right now if the bootstrapper exits with an error the bootstrapper container will crashloop. Here's an error caused by an invalid config; in this case I forgot to set hostname.

[code]
The crash loop is undesirable because it makes it difficult to correct. I can't `kubectl exec` into the bootstrapper pod; edit the config and reapply.

/assign @kunmingg

[2018-06-01 06:24] jlewi opened #902 "IAP setup script needs permission to list backend services"
The IAP setup script that runs in a sidecar of the envoy proxy container is giving me an error

[code]

The problem is that we need a GCP credential to list backend services. The script is currently relying on the VM service account. Instead of doing that we should mount in the Kubeflow admin service account that we create and grant that account sufficient IAM roles.

[2018-06-01 07:31] jlewi opened #903 "Deadlocks configuring envoy for IAP"
I'm noticing deadlocks and other problems configuring envoy using the IAP script. Some of the problems I observe

1. iap.sh is never able to acquire the lock and therefore able to write the envoy-config.json
1. envoy container is crash looping - prevents GCP loadbalancer from detecting the backend is heathy

I think we should make the following changes

1. There should be a single pod responsible

[2018-06-01 08:02] jlewi opened #906 "Regression Jupyter notebooks no longer include python2 runtime"
I just tried gcr.io/kubeflow-images-public/tensorflow-1.7.0-notebook-cpu:v20180601-2464851a

And I didn't see an option for a python2 runtime which is needed for TFX/Beam support.

My guess is this was a regression introduced when refactored the notebook image to support mounting all of /home/jovyan on a PVC.

/cc @pdmack

[2018-06-01 08:07] bhack commented on #136
What kind of overlaps we will have with TFX? :https://mobile.twitter.com/wjarek/status/1001520697632440321?s=20

[2018-06-01 13:40] pdmack commented on #906
@jlewi sort of. Looks like we were dually supporting py3 and py2 by installing and [activating](https://github.com/kubeflow/kubeflow/blob/master/components/tensorflow-notebook-image/Dockerfile#L108) py2 in the jovyan homedir, which of course gets wiped in prep for the PVC check. Does that track?
Which means I need to preserve that as well. 😁
/assign @pdmack

[2018-06-01 16:57] jlewi commented on #906
conda environments are kind of a mystery to me.

@ojarjur Might have more insight.

[2018-06-01 17:34] kunmingg commented on #880
/close

[2018-06-01 17:34] #880 closed

[2018-06-01 17:35] kunmingg commented on #880
Will update doc in bootstrap about how to use.

[2018-06-01 17:43] ojarjur commented on #906
@jlewi The theory presented by @pdmack sounds right. If the user directory is being wiped out after installing the ipykernel, then it will not be available.

[2018-06-01 17:47] pdmack commented on #906
It appears we don't need to install to jovyan at all, but instead the new global env location `/opt/conda`. But I'm going to review the older images and see what (if any) differences there may be.

[2018-06-01 18:35] ankushagarwal opened #909 "Unable to use image-releaser for tf-notebook-workflow"
I am running this in the kubeflow releasing cluster. The gcloud command does not seem to have the credentials to push it to kubeflow-images-public.

To reproduce this:
[code]

[code]

[2018-06-01 18:38] lluunn commented on #909
cc @lluunn

[2018-06-01 19:37] jlewi opened #910 "GCP Deployment Manager needs to delete IAM roles when DM is deleted"
Our deployment manager configs for GCP create service accounts and IAM roles.

When the deployment is deleted we delete the service accounts but the roles persist.

To fix this we may need to add actions to remove the roles but we need to execute it only on delete.

[2018-06-01 19:43] #479 closed

[2018-06-01 20:51] jlewi commented on #909
What priority is this issue?

[2018-06-01 20:53] jlewi commented on #891
@myqq0000 Does that address your question? Can we close this issue

/label question

[2018-06-01 20:56] jlewi commented on #844
/label question
Closing this issue since its been dormant for 10 days. Please reopen if your issue is still unresolved.

[2018-06-01 20:56] #844 closed

[2018-06-01 21:08] jlewi opened #912 "bootstrapper should support push the ksonnet app to a source repo"
The bootstrapper should add options that allow users to specify a git repository and location within that repository that they will be push the generated app to.

This is a first step to enabling GitOps. It will also make it easier for users to customize their deployment beyond what they get with bootstrapper

[2018-06-01 21:13] #878 closed

[2018-06-01 21:15] jlewi commented on #902
Fixed by #904

[2018-06-01 21:15] #902 closed

[2018-06-02 01:38] jlewi commented on #901
Workaround:

Just update the deployment manager config and set environment variable DEPLOY_JOB on the bootstrapper o false.

Then update the deployment.

Downgrading because I think that's a good solution.

[2018-06-02 21:50] aronchick commented on #136
Hi! It's our goal to explicitly give every component in TFX a great place
to run. That said, I expect the community will have different ways of
approaching problems, and may/may not chose alternatives. Kubeflow is
ultimately about flexibility, and as long as everyone subscribes to a set
of norms around intra service communication and APIs, customers should be
able to pick and choose what works bes

[2018-06-04 04:28] liyinan926 commented on #155
@holdenk @texasmichelle any update or plan on this?

[2018-06-04 17:01] #239 closed

[2018-06-04 18:01] inc0 commented on #264
@YujiOshima also sorry for late reply:) (I'm super busy with infrastructure stuff now, but I'll get back to Katib as soon as I get some breathing room).

So I see 2 potential avenues to bind Katib and Pachyderm (using CRD):
1. We use Pachyderm's native CRDs, Model then become just another piece of "data" that would fit into pachyderm pipeline. I'm not sure how far can we stretch it, I'll play with

[2018-06-04 18:34] cwbeitel opened #920 "Avoid user notebook pods from crashing system components"
Currently if a user notebook pod is allocated onto the same node as system components an OOM from the notebook container can crash these other components. Relatedly training jobs can be interfered with if they depend on system components that are being taxed by this phenomenon.

Unlike kf system components, memory and CPU usage of user notebook containers is not easily predictable and until user's

[2018-06-04 20:09] kunmingg commented on #912
How about using a new branch for each run?
To avoid potential conflict.

[2018-06-04 20:44] #909 closed

[2018-06-04 20:56] #846 closed

[2018-06-04 23:12] kunmingg commented on #920
Can use isolated namespace and set resource limit namespace-wise?
https://kubernetes.io/docs/tasks/administer-cluster/manage-resources/memory-default-namespace/
Would be great to have isolated hardware resource pool for pods in each category.

[2018-06-05 03:49] jlewi commented on #836
#866  doesn't actually verify that the resulting Kubeflow deployment is functional.

Fixed by #894

[2018-06-05 03:49] #836 closed

[2018-06-05 03:53] jlewi commented on #502
Thanks @willingc

I think we should keep the recommended settings in sync with what we use in our E2E tests
https://github.com/kubeflow/kubeflow/blob/master/testing/install_minikube.sh#L36

Although our E2E tests don't actually verify that we can start Jupyter images.

[2018-06-05 03:56] jlewi commented on #662
Pending PR
https://github.com/kubeflow/batch-predict/pull/7

[2018-06-05 04:02] jlewi commented on #802
Fixed.

[2018-06-05 04:02] #802 closed

[2018-06-05 04:05] jlewi commented on #505
#905 upgrade JupyterHub and KubeSpawner.

The new UI is much better. There is a status bar and it looks like it shows K8s events related to the pod as well.

I'm going to mark this as fixed with the expectation that we will file new issues related to the latest version of JupyterHub and KubeSpawner as needed.

[2018-06-05 04:05] #505 closed

[2018-06-05 04:18] clkao commented on #505
Very glad to see this getting into kubeflow! Special thanks to @minrk for the progress api implementation in jupyterhub as well as reviewing my initial PR.

[2018-06-05 12:09] jlewi commented on #423
Marking this fixed based on @pdmack's comment.

[2018-06-05 12:09] #423 closed

[2018-06-05 12:27] jlewi commented on #712
@jiezhang You won't have permission to publish it to that repository.

We have some instructions here:
https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md

You should define an Argo workflow to build your images using docker in docker. You can then follow the instructions on that page to add it to our nightly builds.

[2018-06-05 12:43] jlewi commented on #912
Do we need a new branch? Since source control preserves history we don't need to be two worried about overwriting earlier versions; user could always rollback.

I'm thinking we should do something like the following

User specifies
  * Repository
  * branch
  * Directory

The bootstrapper behaves as follows

* If an app already exists at the specified directory the bootstrapper applies it but does

[2018-06-05 16:57] jtfogarty opened #925 "Kubeflow on IBM Power 8"
We are interested in running this on Power 8 (ppc64le architecture)

Is there support for selecting architecture in the current release?

If so how, we are testing but all of the images appear to be amd64?

Thanks,

Jeff

[2018-06-05 18:05] cwbeitel opened #927 "Friction log for bootstrapper documentation"
Worked through https://github.com/kubeflow/kubeflow/blob/master/docs/gke/gke_setup.md, here's some feedback, hope it helps!

- Trying to understand exactly which sections in the YAML I'm supposed to modify feels a little tedious. Does this need to involve modifying these directly? Can there be a simple python wrapper that takes deployment parameters and templates them in the appropriate places? Th

[2018-06-05 18:06] pdmack commented on #925
#819

[2018-06-05 18:18] #906 closed

[2018-06-05 19:47] pdmack commented on #920
Hopefully the latest NB PVC updates cover your use case for NB checkpoints, etc. upon pod resumption.

Kubespawner supports pod labeling via config before pod creation, so maybe could try isolation via node assignment. Also the new affinity/anti-affinity stuff is beta but not supported in Kubespawner.

[2018-06-05 20:23] kunmingg commented on #927
/assign @kunmingg

[2018-06-05 21:52] cwbeitel commented on #927
Oh sorry it didn't display anything from my comment in \< \> brackets. Updated.

[2018-06-05 22:04] jlewi commented on #845
Still no 1.8 release.

I'll leave this on 0.2.0 release but it will get punted if TFServing doesn't do a release.

[2018-06-05 22:05] jlewi commented on #808
@swiftdiaries Do you think this will get fixed in the next week or so that we can include it in our 0.2 release?

[2018-06-05 22:14] jlewi commented on #574
Punting to 0.3 because no one is actively working on this so I don't think its going to make the cut.

[2018-06-05 22:16] jlewi commented on #251
@yixinshi What is the likelihood this will make 0.2?

[2018-06-05 22:16] swiftdiaries commented on #808
This is already done as part of the previous PR [https://github.com/kubeflow/kubeflow/pull/798]. Sorry I forgot to update that. Once the image is built and published using the Makefile to gcr, we can change the libsonnet to use the new image.

[2018-06-05 22:18] kunmingg commented on #927
Thanks for your help!
Will add e2e test to cover config inconsistency like this one.

[2018-06-05 22:18] jlewi commented on #211
@TheJaySmith WIll GCR's dockerhub mirror work in this case? Isn't that only for GCR to create a mirror of DockerHub.

Are you actually planning on doing any work for this in the next couple weeks?

[2018-06-05 22:33] jlewi commented on #177
/assign jlewi

PR is out for review
https://github.com/tensorflow/ecosystem/pull/89

[2018-06-05 22:37] lluunn commented on #845
https://github.com/tensorflow/serving/issues/899

We should have 1.8 soon.

[2018-06-05 22:41] jlewi commented on #134
@ankushagarwal This is fixed by #894 correct?

[2018-06-05 22:42] jlewi commented on #151
@dwhitena @JoeyZwicker Any update on this? In particular any thought on where you'd like to be for our 0.2 release?

[2018-06-05 22:49] jlewi commented on #462
We should consider updating it to use v1alpha2 as well.

[2018-06-05 23:14] jlewi commented on #380
@pdmack Should we move this to 0.3? It looks like non-trivial work and I don't think anyone is working on it.

[2018-06-05 23:16] jlewi commented on #808
Fantastic thank you.

I'll leave this open for now. We'll try to rebuild the image later today.

[2018-06-05 23:21] cwbeitel opened #932 "Unknown variable error when applying kubeflow-core prototypes"
Following is the command and error:

[code]

Full script to replicate: https://gist.github.com/cwbeitel/6d674cbe43a8ec6b2fb3a27d6f090b12

[2018-06-05 23:45] ToddMorrill opened #933 "How to configure a local volume for Jupyterhub_spawner.py"
I'm in the last stretch of configuring a minikube cluster on bare metal. I've got the kubeflow app running and can spawn a jupyter notebook running tf 1.7 (gpu version). I'm trying to configure a local volume to be mounted into the spawned jupyter notebook pod. My goal is to be able to interact with the local storage folder on the desktop (i.e. move datasets around, persist notebooks, etc.) and al

[2018-06-05 23:47] jlewi commented on #903
/assign @jlewi

[2018-06-06 00:52] #883 closed

[2018-06-06 02:03] jlewi commented on #925
I don't think anyone has tried to run this on Power 8. Is this something you are interested in testing out and seeing where the problems are?

Do you already have K8s running?

[2018-06-06 02:04] abhi-g commented on #502
On my linux desktop, I am able to get the TensorFlow hello world equivalent working with Minikube setup using:
minikube start --cpus 4 --memory 8096 --disk-size=40g
Note that I also used --vm-driver=kvm2 along with the others.

For someone who just installed Minikube following the instructions on https://kubernetes.io/docs/getting-started-guides/minikube/#installation would have ended up creating

[2018-06-06 02:14] jlewi commented on #932
What version of ksonnet are you using? env was only added in 0.9.2 I think.

[2018-06-06 02:19] #430 closed

[2018-06-06 02:27] jlewi commented on #933
JupyterHub will use the default storage class to create a PV for every user's home directory. You probably don't want to give each user the same home directory.

In addition to the volume mounted at /home/joyvan you could potentially mount another PV that maps to a shared location on the host system.

To mount extra volumes you probably want to modify volumes and volume mounts here

/cc pdmack

[2018-06-06 02:41] kkasravi commented on #574
@jlewi I can look at this - given my recent wrestling with jupyterhub I think it should be straigtforward.

[2018-06-06 03:32] TheJaySmith commented on #211
@jlewi Yep. Let me get past this next week and I will write something. I found a few existing open source tools that sync git repos so I can likely use that to help.

[2018-06-06 03:44] jlewi opened #934 "Add retries to vm_util.wait_for_operation to fix test flakes"
We need to add retries in vm_util.wait_for_operation to deal with transient errors getting the operation.
Here:
https://github.com/kubeflow/kubeflow/blob/d90ffccafca6136e0a04925823dc92164bb6b8cf/testing/vm_util.py#L41

One transient error we observed is

[code]

This is causing test flakes as in #921

[2018-06-06 03:51] #901 closed

[2018-06-06 04:10] jlewi commented on #884
There's a bunch of next steps.

1. We should deploy the current web app (e.g. on dev-gcp.kubeflow.org)
1. We should modify the bootstrapper to perform the manual gcloud steps in the [instructions](https://github.com/kubeflow/kubeflow/blob/master/docs/gke/gke_setup.md) e.g.

   * Granting DM service account necessary permissions
   * Downloading GCP secrets for service accounts and creating K8s sec

[2018-06-06 07:39] ankushagarwal commented on #134
Yes.

[2018-06-06 07:39] #134 closed

[2018-06-06 13:50] dwhitena commented on #151
Hi @jlewi. Well, I think before the 0.2 release, we should have the following example merged in: https://github.com/kubeflow/examples/pull/112.

Regarding the implementation itself, we there is work going on right now in the KVC project that will facilitate pretty easy data sharing for TFJobs: https://github.com/IntelAI/experimental-kvc/issues/22. Once that is finished, we should update the end-to

[2018-06-06 16:08] cwbeitel commented on #932
I was using v0.8.0, works fine with v0.11.0!

[2018-06-06 16:08] #932 closed

[2018-06-06 17:57] jtfogarty commented on #925
@jlewi Hi, Yes we have k8s running on Power 8.  We are very interested in testing Kubeflow on Power 8.

As @pdmack  commented, Architectural support is still an open issue.   We also want to use NVIDIA's GPU aware images.

Here are some details of our environment;

## Kernel version
Linux m97 4.4.0-70-generic 91-Ubuntu SMP Wed Mar 22 12:46:23 UTC 2017 ppc64le ppc64le ppc64le GNU/Linux

## Docker v

[2018-06-06 19:33] ssabnis commented on #187
Amazing icon suggestions, is it finalized yet?

[2018-06-06 19:39] ToddMorrill commented on #933
I really appreciate the response.

My setup may be a little unique in that I'm running minikube on a bare metal machine (i.e. vm-driver=none) so minikube's host path mounts directly to my host path (i.e. bare metal). I should be able to take advantage of the hostPath volume type, which doesn't require a persistent volume definition or persistent volume claim, nor does it seem to need a storage cla

[2018-06-06 19:42] ankushagarwal commented on #852
/retest

[2018-06-06 21:28] activatedgeek opened #938 "pylint behavior in pre-submit checks for Python2/3"
*Noting down this issue in case somebody encounters it.*

`pylint` behaves differently when using a `Python2` version versus a `Python3` version. We would ideally want to use `Python3` version.

For instance, `Python2` version reports syntax error on many new `Python3` features like type-hinting. It also behaves differently for rules like `unused-argument` and `no-self-use`.

[2018-06-06 21:44] abhi-g commented on #502
With less than 4 cpus on minikube vm, Jupyterhub notebook doesn't come up at all.

[2018-06-06 22:40] kunmingg opened #941 "Create ksonnet prototype for auto image release"
As we have more and more images need to be covered by automating image release (https://github.com/kubeflow/kubeflow/issues/527, https://github.com/kubeflow/kubeflow/issues/781).
It's time to create a ks prototype for new image release.
In future adding new image release would be:
1. ks generate <release-prototype> new-release-name.
2. edit parameter.
3. add new-release-name to release [config](ht

[2018-06-06 22:41] kunmingg commented on #941
/area build-release

[2018-06-06 22:42] kunmingg commented on #941
/release 0.2.0

[2018-06-06 22:43] kunmingg commented on #941
/priority p1

[2018-06-06 22:45] jlewi commented on #941
/label release/0.2.0

[2018-06-07 04:31] jlewi opened #942 "IAP: A single service should get backend id to use for configuring IAP JWT validation"
This is a follow on to #903 .

Currently, every envoy pod runs a sidecar which runs configure_envoy_for_iap.sh. This script makes a gcloud request to get the backend id and then updates the envoy config with the appropriate audience for JWT validation.

It might be more efficient to have a single agent get the backend id and store the relevant information in a config map that the envoy pods mount.

[2018-06-07 10:46] bhack commented on #167
@jlewi Who can take care of a fork finally? Seems nobody has enough power. Check https://github.com/bitly/oauth2_proxy/issues/594

[2018-06-07 10:51] bhack commented on #167
On the Istio side https://github.com/istio/istio/issues/467

[2018-06-07 12:40] jlewi opened #943 "Nightly builds of TensorFlow notebook images do not have have the same commit hash in the tag"
The docker images for the notebooks are being built at different commits

kubeflow-images-public:tensorflow-1.4.1-notebook-gpu
v20180607-0d9be5e4

gcr.io/kubeflow-images-public/tensorflow-1.7.0-notebook-cpu
v20180607-476e150e

Why is this happening? Why aren't they all built at a consistent commit?

If nothing else this makes updating the images in kubeform_spawner.py unwieldy.

/priority p1 becau

[2018-06-07 15:03] ToddMorrill commented on #933
I've pasted the yaml below, which doesn't reflect the updates to the jupyterhub_spawner.py or jupyterhub.libsonnet files.

[code]

[2018-06-07 16:54] abhi-g commented on #502
Will do.

[2018-06-07 18:02] kunmingg commented on #943
I guess we had timeout from gcs, so the workflow failed and retry, now they seem to be on same commit.

[2018-06-07 18:08] kunmingg commented on #943
Close it for now till we saw it might affect user experience in future.

[2018-06-07 18:08] kunmingg commented on #943
/close

[2018-06-07 18:08] #943 closed

[2018-06-07 18:17] #502 closed

[2018-06-07 19:40] aronchick commented on #187
Good news everyone! The logos have been finalized. You can find them all
here: https://github.com/kubeflow/marketing-materials/tree/master/logos

On Wed, Jun 6, 2018 at 12:33 PM ssabnis <notifications@github.com> wrote:

[2018-06-07 20:26] ankushagarwal opened #945 "Ambassador Version 0.34.0 causing DNS Issues on Worker Node"
We recently updated to ambassador 0.34. When I deployed kubeflow on a single node cluster (n1-standard-8) kube-dns seems to be running at 100% CPU. Other processes are not able to resolve DNS on the host. Deleting the ambassador deployment fixes the DNS issue.

[2018-06-07 21:19] ankushagarwal commented on #945
To reproduce, create a single node gke cluster with n1-standard-8 worker node and 1.9.6-gke.1 k8s version and deploy kubeflow-core (with ambassador 0.34.0)

[2018-06-07 21:20] ankushagarwal commented on #945
/cc @kflynn

[2018-06-07 22:30] kflynn commented on #945
Can you see what exactly kube-dns is being asked to do? (I have a suspicion that I’d like to confirm.)

[2018-06-07 22:38] ankushagarwal commented on #945
@kflynn How do I do that?

[2018-06-07 22:41] ankushagarwal commented on #945
I can give you access to a cluster where I see this issue

[2018-06-07 23:48] jlewi opened #950 "[gcp] cluster-kubeflow.yaml isn't tested"
This is the recommended DM and bootstrapper config for GKE deployments.
https://github.com/kubeflow/kubeflow/blob/master/docs/gke/configs/cluster-kubeflow.yaml

It doesn't like that YAMl file is used by our E2E tests because it wasn't updated to specify the registry when that change was made to
https://github.com/kubeflow/kubeflow/tree/master/bootstrap/config

There is also another GCP bootstrappe

[2018-06-08 00:00] ankushagarwal commented on #950
One of the reasons that I did not use `gke/configs/cluster-kubeflow.yaml` for e2e test is because it adds a role binding to iam policy when we deploy it, but doesn't remove the role binding when we delete the deployment.

Also when tests run in parallel, setIamPolicy action fails when two deployments try to invoke it at the same time.

I removed a lot of stuff from `gke/configs/cluster-kubeflow.ya

[2018-06-08 00:12] ankushagarwal commented on #950
We could kick things up a notch if we tested at the project level - Create a project for every e2e test, use `gke/configs/cluster-kubeflow.yaml` to deploy kubeflow, run tests, delete project.

[2018-06-08 01:30] jlewi commented on #950
Cleaning up the role bindings should be doable by adding actions to remove the roles and setting the runtimePolicy to delete
https://github.com/GoogleCloudPlatform/deploymentmanager-samples/tree/master/examples/v2/cloudbuild

Note sure what to do about the failures due to two deployments trying to modify it simultaneously.

[2018-06-08 01:31] jlewi commented on #910
I think we can deal with this by adding actions to remove the roles and setting runtimePolicy to DELETE.
https://github.com/GoogleCloudPlatform/deploymentmanager-samples/tree/master/examples/v2/cloudbuild

[2018-06-08 01:31] jlewi commented on #950
#910 is tracking cleaning up the roles.

[2018-06-08 01:34] jlewi commented on #950
For setIamPolicy failures. Could we just add retries? On retry we can just call update rather than recreating the deployment.

[2018-06-08 04:38] suneeta-mall commented on #32
@wskinner I can confirm that kubeflow works on AWS out of box. I would argue though that the readme can be improved. I have created this PR https://github.com/kubeflow/kubeflow/pull/952 for that but I am still playing with kubeflow (so I may have missed some places)

[2018-06-08 05:02] jlewi commented on #933
It looks like the changes to kube_spawner.py
https://github.com/ToddMorrill/kubeflow/blob/d18f9ed480e1dbe1df72d3541b61f1dffdf3c50c/kubeflow/core/jupyterhub_spawner.py#L103-L124

Are only set if the pvc_mount parameter is set; this gets mapped to a ksonnet parameter.
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/prototypes/all.jsonnet#L18

But for the host path there's no reason to

[2018-06-08 05:11] jlewi opened #953 "[gcp] backend services can't be listed insufficient IAM permissions"
In the scripts for setting IAM, I'm noticing that after creating a new deployment I'm getting the error

[code]
I believe in my case the service account already existed prior to the deployment being created because when I deleted the previous instance of the deployment the service accounts weren't deleted. The IAM permissions look correct.

I find that if I delete the service account and then upda

[2018-06-08 05:28] jlewi opened #954 "[gcp] bootstrapper fails to create CloudEndpoints resource"
When I deploy on GKE I'm seeing the following error and no cloudendpoints resource is created.

[code]
I wonder if this is an issue with the ordering of resource creation.

/kind bug
/priority p1

[2018-06-08 05:33] jlewi commented on #954
I exec'd into the bootstrapper and reran

[code]

The cloudendpoints resource was created. So I think it is an ordering issue.

/assign @kunmingg

[2018-06-08 05:53] jlewi opened #955 "[gcp] monitoring agent need to emit events/status information particularly related to IAP"
It can take a while for ingress + IAP to be setup

We need to wait for a whole host of events

   * Lets encrypt gets certificate
   * Cloud Endpoints Registers Hostname
   * Loadbalancer reports the backend as healthy

We need a way to provide status to the user to let them know when things are finally ready.

The first step is probably to just document how to monitor the individual steps. We cou

[2018-06-08 06:35] jlewi opened #957 "Central UI sometimes doesn't render if screen too small"
I just tried deploying the latest version of the central dashboard and I'm just getting a blank screen.

It looks like its using image:
gcr.io/kubeflow-images-public/centraldashboard:latest

Side note we should change the image to point to a specific image and not use the latest tag.

I can tell from the page source that it is loading the HTML corresponding to the central dashboard.

/assign @swif

[2018-06-08 06:42] jlewi commented on #957
I get a blank page behind IAP but not when I directly port-forward to the centraldashboard pod.

It also works behind ambassador.

So looks like an issue with IAP.

The older version in dev.kubeflow.org is working just fine with IAP.

So it looks like its probably related to the recent changes #798
;

I don't see any errors though in the chrom developer console

[2018-06-08 07:10] jlewi commented on #574
@kkasravi That would be fantastic.

Related; it looks like recent changes to the central UI also created problems for IAP (kubeflow/kubeflow#957)

I'd like to better understand the proper way to write web apps that are compatible with reverse proxies and IAP.

[2018-06-08 07:31] jlewi commented on #957
Something really weird is happening.

It doesn't look like IAP is the issue.

Instead it looks like the header with the links sometimes renders and sometimes doesn't depending on the width of the div.

Specifically if I shrink the window horizontally it looks like it will stop displaying anything when it becomes too small. It looks like the cutoff is ~1025 pixels; shorter than that and it doesn't

[2018-06-08 07:39] swiftdiaries commented on #957
This is very weird. Let me see if I can reproduce this. And I'll look up
some possible causes as well.

Thank you for the detailed description.

On Fri, Jun 8, 2018 at 3:31 AM Jeremy Lewi <notifications@github.com> wrote:

[2018-06-08 13:14] pdmack commented on #32
Does your testing include s3 enablement for tf-serving?

https://github.com/kubeflow/kubeflow/blob/master/kubeflow/tf-serving/tf-serving.libsonnet#L56

[2018-06-08 17:42] kunmingg commented on #954
OK seems ```ks show | kubectl apply``` is a bit hacky, will change to ```ks apply``` directly.

[2018-06-08 18:37] kunmingg opened #958 "make deploy web app cover the manual gcloud steps"
See manual steps in [instructions](https://github.com/kubeflow/kubeflow/blob/master/docs/gke/gke_setup.md)
Like:
   Granting DM service account necessary permissions
   Downloading GCP secrets for service accounts and creating K8s secrets
Follow up of https://github.com/kubeflow/kubeflow/issues/884

[2018-06-08 18:37] kunmingg commented on #958
/assign @kunmingg

[2018-06-08 18:38] jlewi commented on #954
Using ks directly might be better but not sure that will solve the problem.

Maybe you just need to explicitly order the components?

e.g.

ks show -c metacontroller | kubectl apply
ks show -c cloudendpoints | kubectl apply
...

[2018-06-08 18:38] kunmingg opened #959 "Click-to-deploy UI upgrade."
Provide better user experience, including:
Reporting status of the deployment operation and printing link for central UI once its deployed.

Follow up of https://github.com/kubeflow/kubeflow/issues/884

[2018-06-08 18:39] kunmingg commented on #959
/assign @yebrahim

[2018-06-08 18:39] jlewi commented on #574
There's some guidance here about handling IAP refresh
https://cloud.google.com/iap/docs/sessions-howto

[2018-06-08 18:42] kunmingg commented on #954
Control oder from yaml config?
Define ```dependency``` for each component and execute following dag order.
Make it extendable.

[2018-06-08 18:47] jlewi commented on #574
I just noticed that when I access the TFJobs dashboard the javascript console shows

[code]

[2018-06-08 19:33] ToddMorrill commented on #933
All is well that ends well.

I think kubeflow v0.1.2 wasn't respecting the changes I was making to jupyterhub_spawner.py. For example, `c.KubeSpawner.volumes = volumes` didn't even exist in that script, not to mention, it looks like is the script that is actually getting called is kubeform_spawner.py, which is only available on the current master branch of kubeflow. Once I switched over to master

[2018-06-08 19:33] #933 closed

[2018-06-08 19:47] #852 closed

[2018-06-08 21:46] kunmingg commented on #941
/close

[2018-06-08 22:19] jlewi commented on #574
Here's a suggestion I got

[code]

[2018-06-09 04:27] ankushagarwal opened #961 "Bootstrapper throwing error when deployed on GKE"
Used https://github.com/kubeflow/kubeflow/blob/master/docs/gke/gke_setup.md to deploy kubeflow in GCP.

Bootstrapper is throwing the following error:
[code]

I am unable to do a `ks apply` in the bootstrapper pod either - looks like KUBECONFIG is not set correctly inside the pod.

[2018-06-09 21:00] jlewi commented on #961
Duplicate of #954

[2018-06-09 21:00] #961 closed

[2018-06-09 21:03] jlewi commented on #958
I don't think this can be handled by the bootstrapper because it won't have necessary credentials.

We want to do it in the click to deploy web app and use the user credentials.

[2018-06-09 21:06] jlewi opened #962 "Bootstrapper should support file and http registries in a consistent manner"
See [comment](https://github.com/kubeflow/kubeflow/pull/951#issuecomment-395930919) in #951.

Here's how I think specification of registries in the bootstrapper config should work

We should be using ksonnet's support for file registries
User can explicitly refer to a registry e.g
name: kubeflow
registry: file://opt/registries kubeflow
or
name: kubeflow
registry: http://github.com/kubeflow/kubeflo

[2018-06-09 23:59] bhack commented on #11
Check https://github.com/datawire/ambassador/issues/28

[2018-06-10 23:18] jlewi commented on #954
@kunmingg Do we need to introduce new variables? Could we just create the components in the order specified in the YAML file?

[2018-06-10 23:19] jlewi opened #964 "Cut a 0.2 release branch"
We should cut a 0.2 release branch.

Ideally we'd like to cut the RC by 06/15 so that people can begin trying it out.

[2018-06-11 00:38] jlewi commented on #662
@yixinshi What is the status of batch prediction?

[2018-06-11 00:40] jlewi commented on #198
@lluunn @yupbank Any update? Do we have E2E tests yet for the HTTP Proxy?

[2018-06-11 00:44] jlewi commented on #805
I tested it out and the central box is fixed

But there is a problem #957 with the central UI not rendering if the screen is too small.

[2018-06-11 00:47] jlewi commented on #903
Closing this issue because #924 should fix the deadlocks and we have open issues for the other issues.

[2018-06-11 00:47] #903 closed

[2018-06-11 01:05] #464 closed

[2018-06-11 01:06] jlewi commented on #140
Closing this issue as obsolete.

0.2. release will include Jupyter updates as well as other updates; e.g. better management of GCP loadbalancer timeouts. We'll assess and reopen if necessary.

[2018-06-11 01:06] #140 closed

[2018-06-11 01:08] jlewi commented on #213
/cc @abhi-g

[2018-06-11 01:15] jlewi commented on #240
Closing this issue.

We've started adding specific guides as part of our website. And I've opened up more specific bugs and we can continue to open more specific bugs as needed.

[2018-06-11 01:15] #240 closed

[2018-06-11 01:27] jlewi commented on #187
Closing this issue given the above comment.

[2018-06-11 01:27] #187 closed

[2018-06-11 01:28] jlewi commented on #217
Closing this issue since we have separate issues in tf-operator that have been fixed.

[2018-06-11 01:28] #217 closed

[2018-06-11 01:29] jlewi commented on #263
Closing this issue because eventing is being discussed in the context of Argo and Pipelines. We can open up more specific issues as needed to figure out how to integrate various components with them.

[2018-06-11 01:29] #263 closed

[2018-06-11 01:31] jlewi commented on #267
@aronchick @abhi-g Can we close this issue?  "Assess usability" is rather vague.

[2018-06-11 01:31] #267 closed

[2018-06-11 01:31] jlewi commented on #310
Closing this issue since it doesn't seem to be a problem anymore.

[2018-06-11 01:31] #310 closed

[2018-06-11 01:32] pdmack commented on #56
Yep, I was thinking we would ideally load the "blessed" list of NB images from whenever they are released to gcr.io. @jlewi @ankushagarwal , at some point will we be tagging these to Kubeflow releases instead of the date-sha moving target?

[2018-06-11 01:34] jlewi commented on #372
I think the path forwarded is using pod presets or admission controllers. #782 created a prototype for doing that.

Closing this issue for that reason.

[2018-06-11 01:34] #372 closed

[2018-06-11 03:34] YujiOshima commented on #264
@inc0 Thank you! I also prefer 2nd option.
I'm looking forward to your PoC!

[2018-06-11 07:35] bhack commented on #167
@jlewi I meant that the upstream it is quite stalled and I don't know if it is reliable if some security problem will emerge. Seems redhat/openshift is try to maintain its own version but it is not a "mainstream fork". I don't know if you can play a role with google and other partners to maintain it or if you have an alternative solution.
As we have adopted Ambassador see also
https://github.com/d

[2018-06-11 13:14] jlewi opened #966 "ks error: ERROR open /home/jlewi/app.yaml: no such file or directory"
I got the following error when trying to run a ksonnet command on my local machine on a ks app created with the bootstrapper.

[code]

[2018-06-11 13:14] jlewi commented on #966
The problem is a ksonnet version mismatch.

The bootstrapper uses ksonnet 0.10 but I had 0.9.2. Upgrading to 0.10 fixed the problem.

[2018-06-11 13:14] #966 closed

[2018-06-11 13:32] jlewi commented on #462
We no longer have a prototype for TFCNN. We now just have tf-job-simple which runs TFCNN by default.

We should an E2E test to verify we can actually run jobs using this prototype.

At a minimum we should verify that we can start a job using this prototype and make sure the pods enter the running state.

The job takes a long time to run so we may not want to wait for it to complete.

[2018-06-11 14:15] yupbank commented on #198
hey.. sorry, i was struggling with the argo + prow and log dashboard.. maybe @lluunn can do this easier than me ? i can definitely learn from what @lluunn did to know how the how testing setup easily

[2018-06-11 16:47] amygdala opened #968 "'ks delete ${KF_ENV} -c kubeflow-core' doesn't take down user notebook pods"
Running: `ks delete ${KF_ENV} -c kubeflow-core` apparently does not delete the user notebook pod(s) (though `tf-hub-0` itself is deleted properly).

I couldn't find any existing issues mentioning this, but maybe I didn't use the right search keywords... as I assume this is not intended?  Is it a ksonnet-related thing?

I am using version v0.1.3.

[2018-06-11 16:58] abhi-g commented on #213
Deployment setup issues are being tracked tracked https://github.com/kubeflow/website/projects/1
and are labeled priority/p0.

[2018-06-11 17:26] jlewi commented on #968
I think this is working as intended.

The Jupyter pods aren't created by the ksonnet component they are created by the JupyterHub pod spawner.

So if we wanted to delete them when JupyterHub is deleted then the spawner should probably set the owner reference on the notebooks pods. We could file an issue against the spawner.

However, I'm not sure that behavior is desired. Deleting notebook pods co

[2018-06-11 17:32] jlewi opened #969 "Friction log for 0.2 with GH Issue Summarization Example"
We'd like to go through the GH issue summarization example with 0.2
https://github.com/kubeflow/examples/tree/master/github_issue_summarization

And create a friction log. At a minimum we should go through this on

1. GKE
1. minikube

[2018-06-11 17:33] johnugeorge opened #970 "Issues with image release workflow app"
I am looking at new automation app for the image release.  https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#create-release-workflow

1. Correct build_image.sh script is not picked up. It always points to https://github.com/kubeflow/kubeflow/blob/c69e760bb0bc2daeae79a4de831a641215f76822/kubeflow/automation/release.libsonnet#L78

2.  In order to release repos outside kubeflow/k

[2018-06-11 17:35] jlewi commented on #969
We could wait for #964  to be cut, but we could just also just modify the bootstrapper to pull from head.
Unfortunately pulling from head isn't well supported yet (#962). But we could get around that by just building a one off bootstrapper image at head.

[2018-06-11 17:40] jlewi opened #971 "Enable GitOps: Use (Weave Flux or Argo CD) to manage Kubeflow deployments"
We'd like to enable GitOps for Kubeflow using weave flux.

At a high level here's what we'd like to do

1. Bootstrapper pushes ksonnet app to a repo
1. Deploy Weave flux pointing at the repo
1. Weave flux synchronizes the K8s resources with the repo

On GCP this would look something like the following

1. Deployment manager [configs](https://github.com/kubeflow/kubeflow/tree/master/docs/gke/config

[2018-06-11 17:57] amygdala commented on #968
a n00b question: could one get to the notebook in a browser after the tf-hub & ambassador stuff is torn down? It might more be that you would instead just need to ssh in to the pod container and recover files?

[2018-06-11 17:58] kunmingg commented on #958
Thanks, title updated.

[2018-06-11 17:58] johnugeorge commented on #970
/cc @kunmingg

[2018-06-11 17:59] kunmingg commented on #958
/label sprint/2018-06-11-to-06-22

[2018-06-11 17:59] kunmingg commented on #958
/label "sprint/2018-06-11-to-06-22"

[2018-06-11 18:01] kunmingg commented on #941
/open

[2018-06-11 18:02] kunmingg commented on #941
/reopen

[2018-06-11 18:03] kunmingg commented on #941
Need to fix bug:
https://github.com/kubeflow/kubeflow/pull/960#issuecomment-395994079

[2018-06-11 18:09] johnugeorge commented on #970
and what would be best way to test locally if release workflow is configured properly?

[2018-06-11 18:09] johnugeorge commented on #941
Added a separate issue #970

[2018-06-11 18:12] kunmingg commented on #970
Currently the workflow is configured to use kubeflow release cluster, and image will be pushed to public registry.
Best way to test is set up a k8s cluster with argo deployed and a image registry, change workflow pointing to test cluster and registry, then execute the workflow.

[2018-06-11 18:15] kunmingg commented on #970
Testing locally do requires some manual efforts.
Ideally once prototype is proved to work for multiple cases and we build enough confidence, we can merge PR and check if target image got released within 24 hrs.

[2018-06-11 18:15] kunmingg commented on #970
/assign @kunmingg

[2018-06-11 18:17] kunmingg commented on #941
/close
We had new issue for it:
https://github.com/kubeflow/kubeflow/issues/970

[2018-06-11 18:17] #941 closed

[2018-06-11 18:51] pdmack commented on #968
@jlewi is correct. The ksonnet app doesn't know about the arbitrary Jupyter notebook that was launched from JH, so it won't be cleaned up by ks.

@amygdala Yes, you could possibly exec to the pod but I think if you are concerned about preserving NB content you should enable the jupyterNotebookPVCMount parameter for /home/jovyan instead.

[2018-06-11 19:03] lluunn commented on #845
We have 1.8 now
https://github.com/tensorflow/serving/releases

[2018-06-11 19:04] kunmingg commented on #962
/assign @kunmingg

[2018-06-11 19:24] amygdala commented on #968
@pdmack That makes sense; I was more asking from the viewpoint of one of our users than specific concerns of my own.
That is, assuming the notebook pods stay up for some indefinite amount of time (the amount of time I guess is up to the cluster admin...) -- how do we best document in the user guide what a given user does to get to their stuff under those circs?

(A full user guide is a ways away,

[2018-06-11 19:33] jlewi opened #973 "Verify Katib is working"
We'd like to verify that Katib is minimally working in particular

* UI is accessible
* Can run demo jobs

[2018-06-11 19:34] jlewi commented on #969
/assign jlewi

[2018-06-11 19:35] jlewi commented on #964
/assign @kunmingg

[2018-06-11 19:39] jlewi commented on #950
/assign @ankushagarwal

[2018-06-11 19:40] jlewi commented on #810
/assign jlewi

[2018-06-11 19:41] jlewi commented on #574
@ankushagarwal  Can you coordinate with Kam and try out the simple fix listed above?

/assign @ankushagarwal

[2018-06-11 20:40] jlewi commented on #968
@amygdala They should be able to access their pods via JupyterHub which will be accessible via the central UI once #810 is fixed.  If the user already launched a notebook for themselves than the JupyterHub UI will show this and allow users to either login into it or stop it.

[2018-06-11 20:45] jlewi opened #974 "Presubmit failures; Timeout waiting for TFJob v1alpha2 job"
I'm seeing presubmit failures timing out waiting for TFJob

Example:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/967/kubeflow-presubmit/2032/

This errors seem like they are unrelated to my PR since I don't think my PR affects TFJob.

Logs from the tf-job-test pod are pasted below.

It looks like we tried to delete the job and then while waiting for t

[2018-06-11 20:49] jlewi commented on #974
wait_for_delete explicitly checks for Not Found here
https://github.com/kubeflow/tf-operator/blob/master/py/test_runner.py#L50

[2018-06-11 20:51] jlewi commented on #974
I think this is a 404 is a red herring I think the code is just printing out the exception and then continuing. I don't think that's why the test actually failed.

[2018-06-11 20:53] jlewi commented on #974
Looks like I was looking at the wrong test. It was the v1alpha2 job that timed out

[code]

[2018-06-11 20:56] jlewi commented on #974
I did a quick sanity check to see if its a quota issue. At this exact instant we should have quota

[code]

[2018-06-11 21:02] jlewi commented on #974
I used stackdriver to get the actual pod logs for this job using the following query

[code]

[Logs](https://pantheon.corp.google.com/logs/viewer?project=kubeflow-ci&resource=k8s_cluster%2Flocation%2Fus-east1-d%2Fcluster_name%2Fkubeflow-testing&minLogLevel=0&expandAll=false&timestamp=2018-06-11T20:59:49.019000000Z&customFacets=&limitCustomFacetWidth=true&dateRangeStart=2018-06-10T21:00:12.182Z&dat

[2018-06-11 21:04] jlewi commented on #974
/cc @ScorpioCPH @gaocegege

[2018-06-11 21:05] jlewi commented on #974
Relevant stack trace

[code]

[2018-06-11 21:06] jlewi commented on #974
Looks like the source is here.
https://github.com/kubeflow/tf-operator/blob/master/test/e2e/dist-mnist/dist_mnist.py

[2018-06-11 21:11] balajismaniam commented on #151
xref: https://github.com/IntelAI/vck/issues/22#issuecomment-396388208.

[2018-06-11 21:20] jlewi commented on #974
The logs indicate data was successfully downloaded

[code]

The size is suspicious; 257 bytes seems small but maybe I'm missing something.

Looks like an issue downloading the data:
https://github.com/tensorflow/tensorflow/issues/15668

We should probably make this test more robust by trying to skip the download (maybe store the data on GCS).

However, I'm not sure it makes to use mnist for a pres

[2018-06-11 21:29] kkasravi commented on #574
for jupyterhub it sets the x-goog-authenticated-user-email for REMOTE_USER - https://github.com/cwaldbieser/jhub_remote_user_authenticator#f1 - probably not telling @ankushagarwal anything he doesn't already know ...

[2018-06-11 23:49] kunmingg commented on #954
@jlewi
Saw same error even creating 1 component at a time, so use ```ks apply``` instead of ```kubectl apply```, which takes care of creation order for us.

[2018-06-12 02:16] gaocegege commented on #974
I think we could use simple test instead.

[2018-06-12 04:32] #954 closed

[2018-06-12 05:37] jlewi commented on #727
New image is:
gcr.io/kubeflow-releasing/worker:v20180611-966ecb4-e3b0c4

[2018-06-12 13:00] jlewi opened #977 "Enable TFJob v1alpha2 by default in 0.2 release"
For the 0.2. release we should make v1alpha2 of TFJob the default.

[2018-06-12 17:51] TheJaySmith commented on #971
This sounds like a good start. We may want to throw the usage of Helm Charts in there. I find it easier to manage Flux with Helm than using just the standalone Yaml files. My concerns are the Helm interoperability with ks app. I personally haven't experimented with that yet. Has anyone tried helm with Kubeflow to see how it handles the ks apps?

[2018-06-12 19:33] lluunn commented on #973
ModelDB UI can be accessed by port-forwarding

`kubectl -n kubeflow port-forward modeldb-frontend-58b49f7d6-cxjdv 3000:3000`

On http://localhost:3000/katib/projects

![screenshot from 2018-06-12 12-32-50](https://user-images.githubusercontent.com/32310205/41312752-c59dbcaa-6e3c-11e8-8e6f-ac5de59e8472.png)

[2018-06-12 20:18] jlewi commented on #971
Lets try to avoid introducing helm just for this.

[2018-06-12 20:24] jlewi opened #980 "ks (0.11) complains that resource was modified when updating Kubeflow"
I have an existing Kubeflow deployment when I try updating it I get

[code]

This appears to have started with ks 0.11

My version
[code]

[ks 0.11](https://github.com/ksonnet/ksonnet/releases/tag/v0.11.0) uses merge patching and I suspect that might be the issue?

[2018-06-12 20:28] jlewi commented on #980
The following workaround worked

[code]

[2018-06-12 20:29] jlewi commented on #980
@bryani is this an issue with ksonnet or with K8s?

[2018-06-12 21:01] lluunn commented on #973
Running demo [script](https://github.com/kubeflow/katib/blob/master/examples/GKEDemo/git-issue-summarize-demo.go)
[code]

Can see something from UI now
http://localhost:3000/katib/projects/1/models
![screenshot from 2018-06-12 14-01-19](https://user-images.githubusercontent.com/32310205/41317120-1e875d7e-6e49-11e8-801c-c19866bdbecb.png)

However, seeing many errors like:
[code]

[2018-06-12 21:10] pdmack opened #981 "Bootstrapper: Friction log from minikube on macOS"
[code]

[code]
HOME is of course `/Users/...` on macOS

[2018-06-12 21:19] lluunn commented on #973
After many getMetErr, the script finished with
[code]

But I don't see any models in ModelDB UI.

cc @YujiOshima  any idea about the rpc error? Should I see some models after running this script?

[2018-06-12 21:37] pdmack commented on #980
Same thing:
[code]

[2018-06-12 22:35] lluunn commented on #973
Tried again, this time no rpc error..
[code]

But still no models in UI

[2018-06-12 22:45] lluunn opened #983 "presubmit failing: couldn't open import "X": no match locally or in the Jsonnet library path"
[code]

Is this ks version issue?

[2018-06-12 22:46] lluunn commented on #983
we upgraded to ks 0.11 in https://github.com/kubeflow/testing/pull/155

[2018-06-12 22:53] bryanl commented on #980
I'm going to dig in and investigate. I will report back here.

[2018-06-12 23:07] lluunn commented on #983
It's weird:
it's doing `ks", "show", env, "-c", w.component` for the workflow, but gets import error from tf-serving.

similar to https://github.com/ksonnet/ksonnet/issues/502?

[2018-06-12 23:16] ankushagarwal commented on #574
/assign @kkasravi

[2018-06-12 23:32] lluunn commented on #983
cc @ankushagarwal  any idea?

[2018-06-12 23:37] lluunn commented on #983
Also, the result page shows not finished, and no workflows:
<img width="1233" alt="screen shot 2018-06-12 at 16 37 03" src="https://user-images.githubusercontent.com/32310205/41322644-ee87463c-6e5e-11e8-8a2a-1799f67a720d.png">

[2018-06-13 00:30] ankushagarwal commented on #983
That's odd. Should be related to the 0.11 upgrade. Does your PR #984 fix this issue?

[2018-06-13 01:51] lluunn commented on #983
No. "./workflows.libsonnet" doesn't help.
I don't understand why and where it tries to import tf-serving, when doing ks show workflows

[2018-06-13 06:15] jlewi commented on #983
But the presubmits passed in #984
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/984/kubeflow-presubmit/2054/

[2018-06-13 06:17] jlewi commented on #983
I can't reproduce running locally

[code]

[2018-06-13 06:19] jlewi commented on #983
Gubernator link for the results mentioned above
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/982/kubeflow-presubmit/2050/?log#log

[2018-06-13 06:32] lluunn commented on #983
It passed in  #984 because I was testing disabling that workflow.
It's specific to that workflow, but nothing has changed from what I can tell.

[2018-06-13 07:13] lluunn commented on #983
I was able to repro locally with 0.11
[code]
Even gpu_model failed with same reason
[code]

[2018-06-13 07:18] lluunn commented on #983
Actually, gpu_model is importing tf-serving
https://github.com/kubeflow/kubeflow/blob/master/components/k8s-model-server/images/releaser/components/gpu_model.jsonnet#L6

So if I remove gpu_model.jsonnet, `ks show prow -c workflows` works fine.

[2018-06-13 07:20] lluunn commented on #983
We don't need gpu_model as our tf-serving component already covers that.

[2018-06-13 10:29] YujiOshima commented on #973
@lluunn It looks a problem of training script.
The traing script may not print results. I copied from [here](https://github.com/kubeflow/examples/tree/master/github_issue_summarization/notebooks)

Please  try [client-test](https://github.com/kubeflow/katib/blob/master/examples/client-example.go).
If you want to use GPU, please edit [worker config](https://github.com/kubeflow/katib/blob/master/exam

[2018-06-13 12:00] aisensiy opened #986 "ambassador memory leak statsd:0.30.1"
The process `statsd` has memory leak issues in my kubeflow cluster.

* version: kubeflow 0.1.0
* statsd version: quay.io/datawire/statsd:0.30.1

![image](https://user-images.githubusercontent.com/661860/41350050-612a5db0-6f44-11e8-8146-e4ff0c870c2f.png)

[2018-06-13 17:18] #983 closed

[2018-06-13 17:55] lluunn commented on #973
Thank you @YujiOshima !
I was able to run `go run client-example.go` and see models in UI:

![screenshot from 2018-06-13 10-54-48](https://user-images.githubusercontent.com/32310205/41368931-3c626be0-6ef8-11e8-803c-b911da09447d.png)

![screenshot from 2018-06-13 10-55-28](https://user-images.githubusercontent.com/32310205/41368950-4e8cd8be-6ef8-11e8-89cf-a17cabff3e1b.png)

[2018-06-13 22:04] lluunn opened #991 "Make Katib work with reverse proxy and ambassador"
- ModelDB UI is now only accessible by port-forwarding. We should make it work with reverse proxy and ambassador.
- vizier-core is also used via port-forwarding. It's a gRPC service, so need the ingress that supports gRPC.

[2018-06-13 22:05] lluunn commented on #973
It's (barely) working now. Filed #991 , closing this one

[2018-06-13 22:05] #973 closed

[2018-06-13 22:45] #830 closed

[2018-06-13 23:20] jlewi opened #994 "Parameter names for Ambassador images improperly named; have extra tf prefix"
See here
https://github.com/kubeflow/kubeflow/blob/d7f4eae84e9bc337e7237464f6050105439b5d48/kubeflow/core/prototypes/all.jsonnet#L9

Parameters are named

[code]
There's no reason to have the prefix "tf". This looks like a copy paste error.

[2018-06-14 05:16] jlewi commented on #991
@lluunn Can we give this issue a more relevant title?

What is the vizier-core service used for? Why does this need to be behind ingress? I expect the only communication from outside the cluster would be to the UI and the CLI. Is the CLI using gRPC?

/cc @YujiOshima

[2018-06-14 05:37] YujiOshima commented on #991
@jlewi Yes, the CLI is using gRPC.
The client communicates vizier-core with gRPC port 6789.

[2018-06-14 10:51] kkasravi commented on #574
working on this - had a few problems creating an IAP enabled cluster within our PROJECT
related to permission denied on patch-iam-policy

[2018-06-14 12:07] AdrianLsk commented on #136
Some other efforts on this front:
- [KAML-D](http://design.kamld.com/)
- [Datababricks' MLflow](https://github.com/databricks/mlflow)

[2018-06-14 17:32] lluunn opened #997 "Add document on Stackdriver agents"
We should add document to GKE get started guide about the new Stackdriver agents. They should be deployed with DM, and what are the features, how to use them.

[2018-06-14 17:33] lluunn opened #998 "Add test for Stackdrvier Kubernetes agents"

[2018-06-14 21:11] lluunn opened #1000 "Serving path should support logging request input/output"
This will enable continuous training and skew detection etc.

[2018-06-14 21:14] jlewi commented on #810
/assign @swiftdiaries

@swiftdiaries Any chance you could tackle this?

[2018-06-14 22:40] activatedgeek opened #1003 "Deployment Manager for GKE cannot update bootstrapperConfig"
Updating the `bootstrapperConfig` (for instance adding new components to deploy with Kubeflow) and executing a `gcloud deployment-manager deployments update ...` will not deploy the newly added component.

The file in question is [cluster-kubeflow.yaml#L85](../blob/master/docs/gke/configs/cluster-kubeflow.yaml#L85).

[2018-06-14 22:42] lluunn opened #1004 "[Discussion] Serving CUJ and examples"
We should define a serving CUJ, and have an example for it.

For CUJ, how about the following:
- User develops a model (in notebook, using Kubeflow tfjob, or from somewhere else) and exports it to GCS or S3 or some other FS.
- User creates a ksonnet app to describe deployment of the model (can specify GPU, number of cores etc)
- User deploys the model, and starts sending prediction requests (HTTP

[2018-06-14 22:50] lluunn opened #1005 "Support and testing different versions of TF serving images"
We can now build different versions of TF serving (cpu/gpu) images, see [here](https://github.com/kubeflow/kubeflow/tree/master/components#tf-serving).

However, it's not well tested. For example, 1.7gpu might have problem https://github.com/kubeflow/kubeflow/pull/940.
But we don't want to run test on every image as it's wasteful and doesn't scale.

I think we should:
1. Tested previous images all

[2018-06-14 22:51] lluunn commented on #198
Sure I will add the test.

[2018-06-14 22:54] activatedgeek commented on #1003
/assign @kunmingg

[2018-06-14 23:17] ankushagarwal opened #1006 "Bootstrapper should apply components in an order"
Right now when bootstrapper applies components, order is not enforced - this creates issues sometimes when the CRD is defined after the object is created - it causes bootstrapper to fail un-recoverably.

We should apply the components in the order in which they are defined in the config file.

For kubeflow, this correct order is `cert-manager, cloud-endpoints, iap-ingress, kubeflow-core`

/assign

[2018-06-15 01:22] lluunn opened #1009 "Investigate supporting of TF serving 1.7 gpu"
See #940
Currently hitting
CUDA driver version is insufficient for CUDA runtime version

[2018-06-15 03:13] #1006 closed

[2018-06-15 03:34] aisensiy commented on #986
Solved by updating to 0.34.0

[2018-06-15 03:34] #986 closed

[2018-06-15 13:17] jlewi commented on #574
@kkasravi Kam happy to give you access to dev.kubeflow.org so you can create projects there.

[2018-06-15 14:32] jlewi commented on #991
@lluunn Should we refile this as an issue in the Katib repo?

[2018-06-15 14:33] jlewi commented on #981
/assign @abhi-g

[2018-06-15 14:34] jlewi commented on #1000
Should we do this in TF serving? Can we do it in a sidecar? Does ISTIO provide any relevant functionality?

[2018-06-15 14:36] jlewi commented on #1003
I think this is working as intended.

If we want to support making updates after the cluster is running we should be using GitOps.
See #971

We should be pushing the ksonnet app to source control and that's what users should modify. Ideally we'd be running weave flux and it would auto sync.

[2018-06-15 16:48] lluunn commented on #1000
I think we can do in sidecar.
I remember some discussion that we should not do it in istio as they are very light weight. Will try to find them and propose a solution.

[2018-06-15 16:53] lluunn commented on #991
Ah sure

[2018-06-15 16:53] #991 closed

[2018-06-15 18:44] #910 closed

[2018-06-15 18:53] kunmingg commented on #977
/assign @kunmingg

[2018-06-15 19:11] bajacondor commented on #980
I'm seeing the same with `deployments.extensions` when modifying the image property.
```ERROR handle object: can't update deployments cicd.simple-app: Operation cannot be fulfilled on deployments.extensions "simple-app": the object has been modified; please apply your changes to the latest version and try again```

[2018-06-15 20:10] lluunn commented on #845
I am having trouble building TF 1.8 gpu images.
The command: `docker build --pull --build-arg cuda_config_version=9-1 --build-arg cudnn_version=7 --build-arg tf_cuda_comp
atibility=3.5,5.2,6.1,7.0 --build-arg tf_version=1.8.0 --build-arg cuda_version=9.1 --build-arg base_image=nvidia/cuda:9.1-cudnn7-devel-ubuntu16.04 --bui
ld-arg bazel_version=0.11.1 -t gcr.io/kubeflow-images-public/tensorflow-ser

[2018-06-15 20:44] #462 closed

[2018-06-15 21:07] lluunn commented on #845
Found error message:
[code]

[2018-06-16 01:07] jlewi commented on #845
Is there a typo in the build argument above `--bui ld-arg bazel_version=0.11.1` looks like there is a space in build?

[2018-06-16 02:04] abhi-g commented on #981
@pdmack Please try with the updated [bootstrapper instructions for minikube](https://www.kubeflow.org/docs/started/getting-started-minikube/#installing-kubeflow-using-bootstrapper)

[2018-06-16 02:39] #977 closed

[2018-06-16 22:28] lluunn commented on #845
I think that's from the copy-paste.

[2018-06-17 01:08] bryanl commented on #980
I've researched the cause of this error and we will need to add a retries to our apply action. While not optimal, it's safe to return `ks apply` again.

[2018-06-17 05:08] kkasravi commented on #574
the services.js does have the fetch on line 5
[code]
However I don't think that's the problem.

I put tf-jobs behind ambassador and chrome is telling me that
the Access-Control-Allow-Origin is missing from the origin

I added cors to the tf-jobs-dashboard ambassador annotation by editing it directly
[code]
i'm testing this approach. Will likely need to update the bootstrapper image.
Will have more

[2018-06-17 12:49] kkasravi commented on #574
i think i may need to rebuild the centraldashboard. Pinged @swiftdiaries

[2018-06-17 17:49] suneeta-mall commented on #32
@pdmack Not yet .. exploring serving is still in my todo. I will revert back when I have tried it and update this issue.

[2018-06-18 00:14] bhack commented on #971
@jlewi It is alternative to https://github.com/argoproj/argo-cd/issues/92?

[2018-06-18 00:44] jlewi commented on #964
Looks like a tag for the release was created but not a release branch.

[2018-06-18 01:56] jlewi opened #1014 "TensorFlow 1.8 not included in stock Jupyter Images"
We should fix this for 0.2

/assign jlewi

[2018-06-18 01:59] ankushagarwal commented on #1014
I released them but I forgot to add them to the list

https://pantheon.corp.google.com/gcr/images/kubeflow-images-public/GLOBAL/tensorflow-1.8.0-notebook-cpu
https://pantheon.corp.google.com/gcr/images/kubeflow-images-public/GLOBAL/tensorflow-1.8.0-notebook-gpu

[2018-06-18 02:14] jlewi commented on #1014
@ankushagarwal NP; #1015 is out for review.

[2018-06-18 03:01] jlewi commented on #957
I just tried building a new image from #1016 which adds a link to JupyterHub.
It renders using port-forward but not behind IAP; I just get a white page. The page is loaded though because I can see the source.

[2018-06-18 03:12] #810 closed

[2018-06-18 04:45] ShahNewazKhan commented on #32
@pdmack @suneeta-mall I have a deployment of kubeflow on AWS EKS, I have uploaded the `inception` model found under `gs://kubeflow-models/inception` to a public s3 bucket `s3://t2t-train/inception`

Do I have to manually set the params for  https://github.com/kubeflow/kubeflow/blob/master/kubeflow/tf-serving/tf-serving.libsonnet#L56 after creating the appropriate secrets?

[2018-06-18 11:28] jlewi commented on #980
Thanks @bryanl

[2018-06-18 11:31] jlewi commented on #971
@bhack yes I think there's some overlap between Argo-cd and Weave Flux. Both of them provide the functionality to keep K8s resources in sync with manifests in a repo.

My understanding is Weave Flux is pretty feature complete whereas argo-cd is still in the very early stages of development.

[2018-06-18 11:38] bhack commented on #971
@jlewi Ok but it is less clear to me how gitops could integrate with dev tools on the thread at https://github.com/kubeflow/kubeflow/issues/465

[2018-06-18 12:56] pdmack commented on #32
@ShahNewazKhan yes. Let me know if you have some issues activating those params. I thought we had some ksonnet issues with the bools previously and I don't see updates there.

[2018-06-18 13:12] #1014 closed

[2018-06-18 15:19] pdmack opened #1017 "Tracker: PVC and quota"
jupyterhub/kubespawner#188

It seems that the kube admission controller currently can prevent a jupyter pod from launching by including an existing PVC attached to the pod in its quota calculation.

[2018-06-18 15:47] jlewi opened #1018 "Bootstrapper in 0.2.0-RC 0 doesn't set tfJobsVersion to v1alpha2 by default"
I tried out 0.2.0-RC-0 which uses
gcr.io/kubeflow-images-public/bootstrapper:v20180615-2453eb7

It looks like the core prototype is still setting tfJobVersion to v1alpha1.

Something strange is happening. Becase 243eb7 corresponds to the commit updating the default to v1alpha2
https://github.com/kubeflow/kubeflow/commit/2453eb7

[2018-06-18 15:47] jlewi commented on #1018
/assign @kunm

[2018-06-18 16:21] jlewi commented on #957
It renders fine behind IAP when I'm incognito. Looks like a potential issue with one of my extensions.

[2018-06-18 16:47] jlewi commented on #957
I logged out and cleared browsing data and this appears to be working fine now.

[2018-06-18 16:47] #957 closed

[2018-06-18 16:47] jlewi commented on #805
All the bugs appear to be fixed.
Need to build an image from head and then update the core component to pin the image.

[2018-06-18 17:09] ankushagarwal commented on #1018
/assign @kunmingg

[2018-06-18 17:28] johnugeorge opened #1020 "Update PyTorch Image to officially released one"
Update PytorchImage in https://github.com/kubeflow/kubeflow/blob/master/kubeflow/pytorch-job/prototypes/pytorch-operator.jsonnet#L9 to the one in kubeflow public image repo

[2018-06-18 17:44] johnugeorge commented on #1020
If automatic release is not setup, we might have to manually release a build and update it in ksonnet

[2018-06-18 18:42] johnugeorge commented on #1020
/cc @kunmingg

[2018-06-18 18:58] #1018 closed

[2018-06-18 19:04] pdmack commented on #981
👍
LGTM on macOS

[2018-06-18 19:09] kunmingg commented on #1020
Will fix auto-release workflow.

[2018-06-18 19:21] jlewi commented on #1020
P0. Because we want this fixed before the next RC cut.

[2018-06-18 20:42] abhi-g commented on #981
Great! Can you please close this issue.

[2018-06-18 20:42] kunmingg opened #1024 "Cherry-pick for release v0.2.0-rc.1"
Open this issue to track all bugs found / cherry-picks to release branch till create release v0.2.0-rc.1.

[2018-06-18 20:43] kunmingg commented on #1024
Fix Tf-job version in bootstrapper image:
https://github.com/kubeflow/kubeflow/commit/f3df0c9e0d578941d2cbab61956543e3905796e1

[2018-06-18 21:00] #981 closed

[2018-06-18 21:30] #994 closed

[2018-06-18 21:30] kunmingg commented on #1020
/assign @kunmingg

[2018-06-19 00:32] texasmichelle opened #1027 "Add a parameter for clusters without RBAC"
Add an option to exclude roles and rolebindings from kubeflow-core for clusters that do not support RBAC, e.g. Docker EE. This affects the following components:

- Ambassador.role
- Jupyterhub
- TF-job

Here is an example of the [affected lines of code](https://github.com/aronchick/kubecon-demo/pull/39/commits/9084449e3275ce9fb36999ba4f2a208191790f1d).

[2018-06-19 05:31] kkasravi commented on #574
answered in slack but copying here for tracking purposes

when kubeflow is deployed with IAP enabled and you click on the 'tfjob' link in the kubeflow dashboard in the browser you'll see an error 'Failed to load https://accounts.google.com/o/oauth2/v2/auth?client_id=336335541993-1m7cegck4jic23263v0gplhc46f4rmmj.apps.googleusercontent.com...: No 'Access-Control-Allow-Origin' header is present on th

[2018-06-19 12:11] jlewi commented on #845
@lluunn I think you identified the  cause of the issue right?

[2018-06-19 15:03] ShahNewazKhan commented on #117
Checking for updates on this issue.

[2018-06-19 15:59] yixinshi commented on #662
The code has been checked in for a while. I am working on examples and docs.

[2018-06-19 17:14] pdmack opened #1029 "Invalid value: "v1alpha2": field is immutable"
Seeing this while doing a basic deploy from the [tip of master](https://github.com/kubeflow/kubeflow/commit/c79194b3e2d8126f8af8e3323edeedbdcb35a1cc).

[code]

ks 0.10.2

/assign @kunmingg
/cc @jlewi

[2018-06-19 17:41] pdmack commented on #1029
Manually deleting the old CRD seems to clean it up.
`kubectl delete crd tfjobs.kubeflow.org`

[2018-06-19 18:21] ankushagarwal commented on #1029
Can we close this?

[2018-06-19 19:08] lluunn opened #1031 "unflake TF serving testing"
https://github.com/kubeflow/kubeflow/blob/master/testing/test_tf_serving.py#L106

We are comparing the result as text. We should compare the result numbers with some tolerance.

E.g. see #1030

[2018-06-19 19:10] #1009 closed

[2018-06-19 20:17] kkasravi commented on #574
update: testing changes in tf-operator frontend services.js

[2018-06-19 21:12] kunmingg commented on #1020
@johnugeorge New image at gcr.io/kubeflow-images-public/pytorch-operator:v20180619-2e19016

[2018-06-19 21:13] lluunn commented on #845
Yeah, nccl issue is solved.
Now hitting https://github.com/tensorflow/serving/issues/906#issuecomment-397111505
[code]
Added two dependencies and retrying now.

[2018-06-19 22:01] #950 closed

[2018-06-19 22:35] lluunn commented on #845
Now the error is:
[code]

[2018-06-19 22:39] lluunn commented on #845
https://github.com/tensorflow/serving/issues/952

[2018-06-19 23:20] bhack commented on #971
@jlewi I found some contact point as i.e. Skaffold support kustomize deploy and this is its vision of gitops workflow: https://github.com/kubernetes-sigs/kustomize/blob/master/docs/workflows.md

[2018-06-19 23:46] ankushagarwal opened #1033 "Use GKE auto-scaling when configuring node pools in the provided Deployment Manager configs"
Right now the node pool sizes are statically configured [here](https://github.com/kubeflow/kubeflow/blob/master/docs/gke/configs/cluster.jinja#L141)

GKE auto-scaling can be useful for cases when one wants to schedule a training job and automatically provision and de-provision GPU nodes.

[2018-06-20 00:02] jlewi commented on #1029
I've seen this as well. I don't think its an issue with Kubeflow but rather K8s and/or ks apply.
So I'm closing it. If need be we can open up bugs against KS or K8s.

[2018-06-20 00:04] jlewi commented on #805
HEAD is updated. Waiting on the next RC to verify this.

[2018-06-20 00:04] jlewi commented on #662
@yixinshi is there issue for examples and docs?

[2018-06-20 00:34] swiftdiaries commented on #805
Awesome 🙌

On Tue, Jun 19, 2018 at 8:04 PM Jeremy Lewi <notifications@github.com>
wrote:

[2018-06-20 00:54] jimspohrer commented on #1029
issues to documentation question. err on documentation side?

[2018-06-20 02:02] pdmack commented on #1029
I appreciate both sides of the argument. It becomes problematic for one project to document all the issues of its dependencies. I agree with @jlewi that some of these issues should be pushed back to the proper projects. But I am also concerned that Kubeflow is the front line for some of these road blocks.

I think the immediate question is whether to update the user guide to basically have users d

[2018-06-20 02:20] jlewi commented on #662
We have kubeflow/batch-predict#5

[2018-06-20 02:20] #662 closed

[2018-06-20 02:53] jlewi commented on #805
I verified this using configs @ HEAD which are using image
 gcr.io/kubeflow-images-public/centraldashboard:v20180618-v0.2.0-rc.0-5-g715aafc8-e3b0c4

Marking this as fixed.

[2018-06-20 02:53] #805 closed

[2018-06-20 03:16] carmine commented on #1029
Looks like CRD versioning is landing in the 1.11 release (a week from now?).  Does that help?

[2018-06-20 03:39] johnugeorge commented on #1004
We can have  a higher level resource that manages the route and model version.  This resource can specify deployed model versions and their corresponding route %.  Versions may also be generated automatically.  By this, user needn't worry about model versioning and routes are automatically updated when a model version is deployed.

[2018-06-20 05:25] jlewi opened #1036 "TFServing supports collection of metrics with prometheus"
We'd like TFServing to support exporting relevant metrics in a K8s/Prometheus compatible manner.

Here are some relevant ussues tracking the features in TF Serving

tensorflow/serving#462 - Server metrics
  * cfegly's [comment](https://github.com/tensorflow/serving/issues/462#issuecomment-367594255) is a good summary of what we would like
tensorflow/serving#800 - Collect servable metrics

[2018-06-20 06:03] #1020 closed

[2018-06-20 09:21] amsaha commented on #1004
Is this similar to this: https://github.com/SeldonIO/seldon-core ? Their recent KubeCon presentation on this: https://www.youtube.com/watch?v=pDlapGtecbY

[2018-06-20 09:28] cliveseldon commented on #1004
I work at Seldon and thus on seldon-core.

We are presently building up some examples for CI/CD integration and istio user journeys such as canary rollouts. Our ML Service graphs certainly allow rolling updates of new versions of models already and fit nicely into "gitops" with these being declarative representations of your ML serving architecture you can commit to source control.

Would be happy

[2018-06-20 15:34] kkasravi commented on #574
the PR for this issue is [here](https://github.com/kubeflow/tf-operator/pull/688)

[2018-06-20 16:00] cwbeitel opened #1039 "TFJob pods deleted on completion/failure impairing debugging"
It looks like there's been a change with the current version of TFJob from the earlier versions where replica pods are being deleted on job completion or failure. This makes dev/debugging difficult (i.e. needing to catch the logs as they happen but before the pod is deleted). Indeed solutions like StackDriver are a partial alternative to this (i.e. where some central service collects logs, avoidin

[2018-06-20 16:50] jlewi opened #1041 "Jupyter can't start pod; the default spawner image is way too old"
I got the following error when trying to start a notebook

[code]
Notebook image is
image: gcr.io/kubeflow/tensorflow-notebook-cpu:latest
imageID: docker-pullable://gcr.io/kubeflow/tensorflow-notebook-cpu@sha256:964dbfa5d435aa61b2d3b90cf4c7992040b83d2dd9525fc3f518316b03f64b62

I didn't specify any image when I clicked spawn.

It looks like our default image used by the spawner is "latest" which is

[2018-06-20 16:54] kunmingg commented on #1024
https://github.com/kubeflow/kubeflow/issues/1041

[2018-06-20 17:02] cwbeitel opened #1042 "nvidia-smi fails for TFJob's but not for similarly configured Job's"
Similarly configured Jobs and TFJobs running the nvidia-smi command succeed and fail respectively.

Running cluster with NVIDIA device plugin ds, via https://cloud.google.com/kubernetes-engine/docs/concepts/gpus (on GKE)

* Job, running nvidia-smi, successfully shows GPU device
https://gist.github.com/cwbeitel/c9e31349cb0cacd16268d2bf31fc0f1a#file-logs-txt-L1

* Job, running ls /usr/local, shows p

[2018-06-20 18:37] kunmingg commented on #1041
@pdmack Can get nightly release by:
https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#image-auto-release

[2018-06-20 18:46] jlewi commented on #1041
Why do we need to push new images?

Can't we use one of the images already defined in kube_form_spawner.py
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/kubeform_spawner.py#L25

It looks like the default is set here:
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/kubeform_spawner.py#L60

Can we just update that?

Ideally what we'd do is use python to get the latest

[2018-06-20 18:50] jlewi commented on #1004
I'd like to figure out what we want the state of serving to be at the end of 0.3.0.
Seldon/TFServing/etc... they are all important pieces of that.

Here's our current [backlog](https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+org%3Akubeflow+label%3Arelease%2F0.3.0++label%3Aarea%2Finference)

Are there other issues we should add? Should we cross reference issues in Seldon?

[2018-06-20 19:00] cfregly commented on #1004
this functionality is also available in [PipelineAI](https://pipeline.ai) here:  http://quickstart.pipeline.ai/kubernetes

we're using istio for the routing, traffic mirroring/shadowing, and Netflix-style Chaos Engineering (we come from Netflix).

[2018-06-20 19:35] pdmack commented on #1041
Sorry, but why don't we just have mnemonic images for the default instead of updating dates and sha in code?

`gcr.io/kubeflow-images-public/tensorflow-notebook-cpu:latest`

In this case, our released TF 1.8 CPU.

[2018-06-20 19:52] cliveseldon commented on #1004
@jlewi Yes if you could cross reference serving issues on to [seldon](https://github.com/SeldonIO/seldon-core/issues) that would be very useful for us to ensure we cover kubeflow's 0.3 goals for serving.

[2018-06-20 20:00] cfregly commented on #136
More efforts including *real-time, streaming* model prediction management:  [PipelineAI](https://github.com/PipelineAI/pipeline)

Existing model management efforts are limited to batch, offline model training / tuning only.

[2018-06-20 20:16] cfregly commented on #607
@jlewi we'd like to get this in for the next release (0.3?  0.4??).  i'll try to call into the next kubeflow weekly meeting to discuss.  it's coming!

[2018-06-20 21:02] TheJaySmith opened #1046 "Cross-Origin Resource Sharing with TF Jobs Dashboard"
Hello,

Not sure if this is a localized issue or a larger issue but I went through these steps to deploy Kubeflow on GKE:

https://www.kubeflow.org/docs/started/getting-started-gke/#create-oauth-client-credentials

Was able to get it all deployed and working properly and he JupyterHub is working like a charm. I cannot deploy TFJobs.

When I hit "Deploy" nothing happens. I decided to dive deeper an

[2018-06-20 21:12] kkasravi commented on #1046
Hi @TheJaySmith see #574 - there is a PR I'm working on with @swiftdiaries in the tf-operator repo
See [#688](https://github.com/kubeflow/tf-operator/pull/688)

You could dup this to #574. Thanks for taking the time to dig into the problem and open an issue.

[2018-06-20 21:15] TheJaySmith commented on #1046
Hello @kkasravi Thank's for the quick response!
Duplicate of #574

[2018-06-20 21:15] #1046 closed

[2018-06-20 22:11] lluunn commented on #288
/assign

[2018-06-20 23:40] jlewi commented on #1039
Duplicate of kubeflow/tf-operator#536

[2018-06-20 23:40] #1039 closed

[2018-06-20 23:45] jlewi commented on #1041
I don't want a release to break because someone decided to build a new image and tag it "latest".

The behavior of release X should never change; so all image references should be immutable.

If the default image is "latest" then every time we build a new image we are affecting all releases.
This could break old releases. For example, suppose in 0.2 we made changes to our Jupyter images that we're

[2018-06-20 23:57] jlewi commented on #1042
It looks like for Job you are setting "limits" but in "TFJob" you are setting "requests"

I think you need to set limits not requests for GKE to properly configure GPU access for the pod.

[2018-06-21 03:12] jlewi opened #1048 "Enable test for tf-job-simple prototype for v1alpha2"
Blocked by #974

We added a test for the v1alpha1 prototype. We have a test for v1alpha2 but we didn't enable it because of #974. Also there is still some flux in the labels for TFJob pods.

See: kubeflow/tf-operator#672

[2018-06-21 04:19] jlewi commented on #1024
@kunmingg There are a bunch of tf-job-operator fixes that we should pull in on the next RC. So we should plan on grabbing the latest nightly build of the TFJob operator image and then updating the prototype.

[2018-06-21 08:34] johnugeorge opened #1049 "TFJob prototype's default TFVersion should be v1alpha2"
TFOperator defaults to v1alpha2 but TFJob defaults to v1alpha1
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/prototypes/tf-job-operator.jsonnet#L12
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/tf-job/tf-job.libsonnet#L47

Defaults should be same for consistency.

[2018-06-21 12:42] pdmack commented on #1041
I understand all that, but a new user who basically does "dealer's choice" by not explicitly specifying an image also has a smell. They are basically saying: I don't care which version of TF I'm getting. Even if it potentially doesn't run on their aged node CPU. It possibly serves as a canary to the project that there's either something wrong with that "latest" image (maybe nightlies as @kunmingg

[2018-06-21 12:44] jlewi commented on #1029
We can add it to the troubleshooting section in the documentation.
https://www.kubeflow.org/docs/started/getting-started/

Or we could add an upgrading section kubeflow/website#57

[2018-06-21 13:06] pdmack opened #1050 "camelCase for some recently fixed params"
These should be camelCase:
[code]

[2018-06-21 13:14] pdmack opened #1051 "Should bootstrap be moved to its own repo?"
With the bootstrap vendor dir, a top-level `git grep` becomes ineffective for some general queries. There seems to be a lot of code here, worthy of its own home IMHO.

[2018-06-21 13:17] jlewi commented on #1041
I have no objection to attaching a set of additional mutable labels e.g ":latest" or ":nightly" and letting users use them. I just don't think we should ever use them in a release without explicit user action. If a user wants to use latest they can enter that themselves.

I think we could potentially use ":latest" in our nightly/dev environments to canary things.

Regarding tagging images with rel

[2018-06-21 13:29] jlewi commented on #574
Fantastic thank you!

[2018-06-21 13:52] jlewi commented on #1024
Here are some recent we are waiting on:

Critical Fixes

- [ ] kubeflow/tf-operator#689 - Fix TFJob labels
- [ ] kubeflow/tf-operator#691 - Add CleanupPolicy to v1alpha2
- [ ] kubeflow/kubeflow#1035 - Update examples package
- [ ] kubeflow/kubeflow#1052 - Fix default image for notebook

Nice to have
kubeflow/kubeflow#1043 - MPI operatorksonnet package

[2018-06-21 15:41] jlewi commented on #1051
Does it make sense to move bootstrap into its own repo? If we moved the ksonnet registry into its own registry would that help? Or is that just an orthogonal issue?

[2018-06-21 15:48] cwbeitel commented on #1042
Brilliant. With that fix the nvidia-smi command runs and shows the available GPU.

[2018-06-21 15:49] jlewi opened #1053 "Bootstrapper release instructions need to explain how to build at appropriate commit"
The bootstrapper release instructions need to explain how to bake the correct version of the repository for our registry into the container image.

https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md

See  #1018. for example.

The process should probably look something like the following

- Build a bootstrapper image that uses the version of the ksonnet registry on the release b

[2018-06-21 16:34] jlewi opened #1055 "[gcp click-to-deploy] Need to build docker container"
We need to create a docker container to deploy our click to deploy web-app

[2018-06-21 16:36] jlewi opened #1056 "[gcp-click-to-deploy] Deploy click to deploy web app"
We should deploy the click to deploy web app. Maybe
deploy-gcp.kubeflow.org
Or
deploy-gcp.kubeflow.dev

[2018-06-21 16:37] pdmack commented on #1051
[code]

[2018-06-21 16:48] ankushagarwal commented on #1049
/assign @kunmingg
/label priority/p0
/label release/0.2.0

[2018-06-21 17:22] #1041 closed

[2018-06-21 17:27] jlewi commented on #258
Looks like the DockerHub image is very outdated
https://hub.docker.com/r/kaggle/python/

[2018-06-21 17:30] jlewi opened #1057 "pytorch jupyter notebooks?"
With the PyTorch operator coming should we add better support for PyTorch to our notebooks.

I can think of a couple options

1. Add PyTorch to our existing Jupyter notebooks
1. Create a new set of PyTorch Jupyter images
1. Use someone elses images
1. Use the Kaggle image (assuming it supports PyTorch) #258

/cc @johnugeorge
/cc @pdmack

[2018-06-21 17:44] pdmack commented on #1057
Users can do `conda install pytorch torchvision -c pytorch` themselves in the current NB, right?

[2018-06-21 18:12] #1042 closed

[2018-06-21 18:39] lluunn commented on #288
Can we just always deploy the daemonset as it has tolerations on gpu:
https://github.com/GoogleCloudPlatform/container-engine-accelerators/blob/master/daemonset.yaml#L45?

[2018-06-21 18:50] kkasravi commented on #574
@jlewi @swiftdiaries
The fix made in tf-operator frontend services.js needs to be changed so that it works in a similar way as envoy and jupyterhub. This also ends up being a fairly trivial fix, but needed additional research to understand how envoy does auth filtering for jupyterhub (and not tfjobs).

Envoy applies a authFilter in iap.libsonnet which uses a request header of x-goog-iap-jwt-assert

[2018-06-21 19:53] bhack commented on #288
https://github.com/GoogleCloudPlatform/container-engine-accelerators/pull/51#issuecomment-399187623

[2018-06-21 20:06] jlewi opened #1060 "Simplify Image Tag management for releases"
Right now we tag our docker images with v${DATE}-${SHA}. There are two problems with this approach

1. This format isn't very informative for users
1. It's really cumbersome to update images as part of an RC

    * We need to build the images
    * Then create a PR to update the images in the ksonnet configs.

I propose we tag images with v${RELEASE} e.g. v0.2.0 and v.0.2.1 and this work as follow

[2018-06-21 20:08] pdmack commented on #1060
This sounds awesome!

[2018-06-21 20:24] lluunn commented on #288
Thanks @bhack , looks really cool.

IIUC, using this, we can just run a (driver) container and avoid installing the driver?
Is this going to be the suggested pattern?

Paste the link here:
https://docs.google.com/presentation/d/1NY4X2K6BMaByfnF9rMEcNq6hS3NtmOKGTfihZ44zfrw/edit#slide=id.g3730f1de4f_0_16
https://github.com/NVIDIA/nvidia-container-runtime/

[2018-06-21 21:00] jlewi commented on #1060
#1061 is an initial stab.

I think what we'll need some scripts to manage that YAML file for example

- Get the shas for the most recent tensorflow notebook images
- Apply some release tag to them
- Remove some release tag from some set of images.

[2018-06-21 21:04] jlewi commented on #1024
/test all

[2018-06-21 22:15] pdmack commented on #1060
/cc @cheyang

[2018-06-21 23:36] ankushagarwal commented on #1057
Supporting \<framework\>'s operator should be orthogonal to supporting \<framework\> in our jupyter notebook.

+1 for @pdmack suggestion. Generally speaking our story for supporting a pip / python package in jupyter notebook should be `pip install` or `conda install`

[2018-06-21 23:38] ankushagarwal commented on #1056
Isn't the click to deploy web app supposed to run locally to take advantage of local credentials for creating GCP resource?

[2018-06-22 01:14] kunmingg commented on #1024
tf-operator head doesn't seem to work, will pick up fixes in next release candidate.
https://github.com/kubeflow/tf-operator/tree/v0.2-branch

[2018-06-22 04:00] johnugeorge commented on #1057
I agree in general. However, I feel that it would be a better user
experience if pytorch package is supported out of the box.

On Fri, Jun 22, 2018 at 5:06 AM Ankush Agarwal <notifications@github.com>
wrote:

[2018-06-22 05:18] jlewi commented on #1057
I think we should try to provide a wholistic experience for other frameworks just like we do for TF.

So now that we are adding PyTorch support we should think about supporting it across the stack e.g
  - Notebooks
  - Training
  - Serving
  - Monitoring

[2018-06-22 05:19] jlewi commented on #1056
Its a client side web app. Deploying it is just an easy way for users to get access to the web app.

[2018-06-22 11:54] pdmack commented on #1051
`git grep` is just a pain point. Does bootstrap have references to the rest of the kubeflow src tree?

[2018-06-22 12:00] pdmack commented on #1057
Regarding option 1, the name of the notebooks advertise TF 1.x. I don't know if that would be an impedance to pytorch users where the installed version is more or less unknown from just browsing image names.

[2018-06-22 13:59] jlewi commented on #1057
@pdmack Agreed but we could always rename the images.

For me the question is what's the right balance between the overhead of maintaining a set of container images, providing a container that has what you need to do things out of the box, and keeping image size tolerable.

I like the idea of building an uber, kitchen sync container like Kaggle. Mostly as an experiment to see whether customers fin

[2018-06-22 14:00] jlewi commented on #1057
Also I think it would be really valuable if users could run any Kaggle solution right out of the box.

[2018-06-22 15:33] pdmack commented on #1057
What about that? A big, honkin' Kaggle image that we de-couple from the release cadence. Latest of all the frameworks, lightly curated, and loosely maintained. At least to start. Keep it out of the spawner defaults but promote it through docs, website. Make it clear that it's a long pull, other caveats, etc.

[2018-06-22 16:42] jlewi commented on #912
I'm having second thoughts.

Users can easily copy the ks app to their local machine as follows

[code]
So maybe that's sufficient and users can just check it in manually however they like via their local machine. This avoids us dealing with all kinds of issues e.g.

- git credentials
- how to deal with branches
- repo creation

[2018-06-22 17:36] pdmack commented on #1057
FYI, just tried to build the kaggle image but ran out of room in my base dm. But, it's at least 59 minutes in and approaching 12 Gb in size.

[2018-06-22 18:05] jimmy-huang opened #1067 "IOError when importing MNIST data in the jupyter-notebook"
I am trying to set up kubeflow on minikube single-node cluster using KVM following the README instructions and behind a corporate proxy.  I am running the jupyter-hub on port 8100 using

kubectl port-forward tf-hub-0 8100:8000 --namespace=${NAMESPACE}

I am getting the following error IOError when I am trying to run any notebooks that tries to import external data, for example:

[code]

Error

[co

[2018-06-22 18:21] jlewi opened #1068 "[gcp] GKE setup; do as much as possible in deploy.sh"
Our getting started instructions: https://www.kubeflow.org/docs/started/getting-started-gke/

Depend on a deploy.sh script; but there are still other steps in the process that user has to do manually.
Since we already have deploy.sh; why not move more of the commands into that script and try to infer sensible defaults using gcloud.

Specifically

1. deploy.sh can download the DM configs

1. deploy

[2018-06-22 18:34] kunmingg commented on #1068
Dependency: https://github.com/kubeflow/kubeflow/pull/1044?

[2018-06-22 19:44] pdmack commented on #1057
I'm skeptical that a multi-stage build with the Kaggle image would work but I'll have a look. But we could consider deriving a Kaggle build from our TF 1.8 image and adding in the missing parts. I'm guessing there's a good amount of overlap.

[2018-06-22 21:13] pdmack commented on #1057
Oh my...
[code]

https://gist.github.com/pdmack/6bea356917d6edbad0eccf46a27970eb

[2018-06-22 21:20] kunmingg opened #1070 "Finalize release 0.2.0"
Release branch should be well tested.

[2018-06-22 21:22] jlewi commented on #1049
As discussed may we should split up all.jsonnet and no longer have it.

[2018-06-22 21:38] jlewi commented on #955
Lets try to create a simple agent that just emits K8s events.

[2018-06-22 22:45] cwbeitel opened #1071 "Propose to re-include jupyter-tensorboard in notebook image"
The [jupyter-tensorboard extension](https://github.com/lspvic/jupyter_tensorboard) for Jupyter adds convenience in viewing training logs. Perhaps it should be re-included.

This requires logs written by training workers to be available via a filesystem path in the user's notebook pod, whether that work via NFS + PV or another approach.

One counter argument I can think of is that perhaps another p

[2018-06-22 23:39] pdmack commented on #1057
[code]

"gulp"
This was on a somewhat older Xeon CPU but it's a 24-way and has 48 Gb RAM.
`Intel(R) Xeon(R) CPU X5670  @ 2.93GHz`

[2018-06-22 23:47] pdmack commented on #1067
Can you try again with tip of master? i.e.,
[code]

[2018-06-23 00:05] ankushagarwal opened #1072 "[gcp click-to-deploy] Click to deploy web app crashes"
Repro instructions
[code]

1.`hostname:` field is not editable
2. Clicking on `Create Deployment` crashes the web app

![image](https://user-images.githubusercontent.com/796949/41803514-81c5b71c-763e-11e8-9171-6aa2b6fe635e.png)

[2018-06-23 00:09] ankushagarwal commented on #1072
/assign @yebrahim

[2018-06-23 17:39] kkasravi commented on #574
Update: based on the 2 PR's [#688](https://github.com/kubeflow/tf-operator/pull/688), #1073 the UI gets an initial CORS error and subsequent /tfjob/ requests work. I would like to remove the initial CORS error as well but the UI for TFJobs is now functioning.

[2018-06-23 17:45] kkasravi commented on #574
I need to replace the tfJobImage reference in kubeflow/kubeflow/core/prototypes/all.jsonnet with the right tf-operator image from gcr.io/kubeflow-images-public/tf-operator.

[2018-06-25 04:33] ynqa commented on #1036
@jlewi FYI: I also implemented tf serving exporter: https://github.com/ynqa/tf_serving_exporter.

[2018-06-25 04:35] ynqa commented on #1036
@jlewi I also implemented tf serving exporter for prometheus: https://github.com/ynqa/tf_serving_exporter.

[2018-06-25 04:44] ddutta opened #1074 "[discussion] AutoML framework within Kubeflow?"
What do folks think about an AutoML framework integrated within Kubeflow? Here is one https://github.com/CiscoAI/amla

[2018-06-25 07:21] lovejoy opened #1075 "user_guide link is dead"
the link https://github.com/kubeflow/kubeflow/blob/master/user_guide.md#troubleshooting in https://github.com/kubeflow/kubeflow/blob/master/README.md is dead now

[2018-06-25 07:34] amsaha commented on #1075
Actually, the user_guide.md link, https://github.com/kubeflow/kubeflow/blob/master/user_guide.md, is giving a 404 error.

[2018-06-25 08:44] gaocegege opened #1076 "[bootstrap] Fail to update role kubeflow.jupyter-role"
## What did I do

Run `kubectl create -f ./bootstrap/bootstrapper.yaml`

## log

[code]

[2018-06-25 09:44] johnugeorge commented on #1075
User guide is moved to website  https://www.kubeflow.org/docs/user_guide/

[2018-06-25 13:31] gaocegege commented on #1076
I followed the quick start guide here, and do we need to add cluster-admin first? I can not find the instruction from the guide.

[2018-06-25 15:56] yanspirit opened #1078 "user guide disappear?"

[2018-06-25 15:58] #1078 closed

[2018-06-25 18:15] jimmy-huang commented on #1067
@pdmack I get a the following error:

`$ ks registry add kubeflow github.com/kubeflow/kubeflow/tree/${VERSION}/kubeflow`
`ERROR Registry with name already exists`

I don't see a registry delete command, how do I update the existing registry?

[2018-06-25 19:16] jimmy-huang commented on #1067
I deleted the app and started over again with ks init, but now when I try to spawn the notebook, I get this error in the browser:
`Failed to connect to Hub API at 'http://127.0.0.1:8081/hub/api'.  Is the Hub accessible at this URL (from host: jupyter-jimmy)?  Make sure to set c.JupyterHub.hub_ip to an IP accessible to single-user servers if the servers are not on the same host as the Hub.`

[2018-06-25 20:17] yebrahim commented on #1072
The outstanding PR https://github.com/kubeflow/kubeflow/pull/1054 already fixes this, but it was stuck on failing tests. I'm rerunning them now, will merge if they pass.

[2018-06-25 22:11] jimmy-huang commented on #1067
@pdmack I was able to get it back to working state after rebooting and start every back from beginning and tried master, and I am still getting the same error with master:

`IOError: [Errno socket error] [Errno 99] Cannot assign requested address`

[2018-06-25 22:12] ankushagarwal opened #1080 "Deprecate tfserving http-proxy?"
Now that tensorflow-model-server has a [rest api](https://www.tensorflow.org/serving/api_rest), should we deprecate https://github.com/kubeflow/kubeflow/tree/master/components/k8s-model-server/http-proxy

cc @lluunn @yupbank

[2018-06-25 23:49] ankushagarwal commented on #1080
Duplicate of https://github.com/kubeflow/kubeflow/issues/896

[2018-06-25 23:49] #1080 closed

[2018-06-26 00:39] yupbank commented on #896
i did tried a bit... i think most of the stuff we provide, c++ version already have, except for they are most strict on the data type and less friendly on the error message. i did even did some bench mark with the same model, the python version would add ~ 10ms overhead .

[2018-06-26 01:04] kunmingg commented on #1076
Are you running as cluster admin?

[2018-06-26 02:29] gaocegege commented on #1076
Yeah, I am running in minikube @ankushagarwal

I found that I am not using the role of cluster admin. I think we should add this into the docs.

[2018-06-26 02:37] jian-he opened #1081 "Wrong comment in setting default CleanPodPolicy"
Below code set cleanPodPolicy to running, but comment says All
[code]

[2018-06-26 02:39] jian-he commented on #1081
/assign

[2018-06-26 03:03] #1081 closed

[2018-06-26 07:42] gaocegege commented on #1076
Maybe we could refer to https://rook.io/docs/rook/v0.6/k8s-pre-reqs.html

[2018-06-26 09:11] lluunn opened #1082 "Support for AVX2?"
Trying this model: [faster_rcnn_nas](http://download.tensorflow.org/models/object_detection/faster_rcnn_nas_coco_2018_01_28.tar.gz)
from https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md

Saw pod error message:
[code]

[2018-06-26 09:12] lluunn commented on #1082
related #421

[2018-06-26 09:29] lluunn commented on #1082
In kubeflow-ci testing cluster, it has
[code]

But my gke cluster doesn't:
[code]

[2018-06-26 09:33] lluunn commented on #1082
FWIW, I deployed mine cluster using deployment manager

[2018-06-26 09:52] lluunn commented on #1082
It's the problem of default cpu platform of region
https://cloud.google.com/compute/docs/regions-zones/

us-central1-a default to Sandy Bridge (2011)
us-east1-d default to Haswell (2013)

[2018-06-26 09:58] lluunn commented on #1082
https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform#startinginstancewithmincpuplatform

[2018-06-26 11:08] #1075 closed

[2018-06-26 11:37] pdmack commented on #1082
@byronyi cloud infra tends to lag behind developer environments with current CPU like Kaby Lake due to the high cost of investment in the bare metal. It's not uncommon to stumble upon nodes in the wild that don't even have AVX.

[2018-06-26 13:43] byronyi commented on #1082
I believe you could set minimum CPU platform to Sky Lake and just use AVX512 for your TensorFlow package. Otherwise, stick with the official TF binary installed from pip would be a safe choice (use AVX but not AVX2 or later instructions).

[2018-06-26 16:59] jimmy-huang commented on #1067
I tried it and it didn't work, if I do kubectl describe pod tf-hub-0, I see the following:
jimmy@jimmy-dev:~/projects/faas/my-kubeflow$ kubectl describe pod tf-hub-0:

    Ports:         8000/TCP, 8081/TCP
    Host Ports:    0/TCP, 0/TCP
    Command:
      jupyterhub
      -f
      /etc/config/jupyterhub_config.py
    State:          Running
      Started:      Tue, 26 Jun 2018 09:48:36 -0700

[2018-06-26 17:01] TheJaySmith commented on #155
Howdy, just wanted to touch base and see if we have this on the roadmap

[2018-06-26 20:13] pdmack commented on #1067
A new jupyter-jimmy pod should get the changed ip arg.

[2018-06-26 23:48] jimmy-huang commented on #1067
I killed the pod jupyter-jimmy and tf-hub-0 and let it re-create, and jupyter-jimmy still doesn't pick up the new ip, are there other ways to set the ip?

[2018-06-27 00:00] pdmack commented on #1067
Talk to me.
Please describe your environment as much as you can.

[2018-06-27 15:17] OonjuoO opened #1088 "questions about tf-serving"
Hello,

I am new to kubeflow,  and I am trying to figure out the workflow for this.  But there are some problems I cannot figure out, hope someone could give me some hints on this problem.

so I build a docker image based on tensorflow image: **gcr.io/kubeflow-images-public/tensorflow-1.7.0-notebook-cpu:v20180419-0ad94c4e**  and I think I successfully serve the model using a yaml file inside the s

[2018-06-27 18:09] jimmy-huang commented on #1067
@pdmack I sent you my setup information in email, hopefully it helps, thanks.

[2018-06-27 20:40] bhack commented on #264
Has anybody tought about experiments tracking and gitops?

[2018-06-28 01:54] lluunn commented on #845
TF serving has an update on Dockerfile: https://github.com/tensorflow/serving/commit/45e2ca2cb42974f19fbcfee77d67aa02cc49bea5

[2018-06-28 03:28] lluunn opened #1089 "[Discussion] TF serving image: should we just keep Dockerfile for the latest TF version?"
We will still build, push, and test the images when a new TF version is released.
But what's the value of keeping Dockerfile parameterized to be able to build all the previous versions?

And we don't need to do image release when we release kubeflow, or nightly.

Also, TF Serving is actively updating Dockerfile recently: https://github.com/tensorflow/serving/blob/master/tensorflow_serving/tools/do

[2018-06-28 06:09] ankushagarwal commented on #1089
Don't see much value.

Yup. We should only build and push an image every time a tensorflow serving version is released. We should be doing it manually

Does tfserving build and push images to gcr or dockerhub? We can use their images directly if they do so.

[2018-06-28 07:51] lluunn commented on #845
We have gcr.io/kubeflow-images-public/tensorflow-serving-1.8gpu:latest

[2018-06-28 07:51] #845 closed

[2018-06-28 09:06] jlewi commented on #1089
Do we have any logic/dependencies in the Dockerfiles that we might want to update independent of a TF version?

[2018-06-28 09:15] jlewi commented on #1074
Isn't the infrastructure we need to support AutoML pretty much the infrastructure needed to support hyperparameter tuning?

Can't algorithms like NAS be framed as hyperparameters searches where the hyperaparameters describe the network? Why couldn't AutoML programs be structured like Katib HP parameter searches e.g. https://github.com/kubeflow/katib/blob/master/examples/client-example.go. Wouldn't

[2018-06-28 09:17] jlewi commented on #1070
@kunmingg  How are things looking with RC -0.1?

[2018-06-28 09:19] jlewi commented on #1057
@pdmack This is pretty cool. Were you able to start Jupyter in the Kaggle image?

[2018-06-28 09:22] jlewi commented on #1049
@johnugeorge https://github.com/kubeflow/tf-operator/blob/master/examples/v1alpha2/dist-mnist/tj_job_mnist.yaml looks like the v1alpha2 not the v1alpha1 spec. Is there something I'm missing?

[2018-06-28 09:35] jlewi commented on #1036
@ynqa how is https://github.com/ynqa/tf_serving_exporter related to tensorflow/serving#800? Are both needed?

/cc @lluunn

[2018-06-28 10:18] jlewi commented on #288
@lluunn Can we just follow whatever GKE recommends and then update it when GKE updates their solution?

[2018-06-28 10:21] bhack commented on #288
Why GKE only?

[2018-06-28 10:40] jlewi commented on #574
Thanks @kkasravi.

I believe it is IAP not envoy that adds the header;
https://cloud.google.com/iap/docs/identity-howto

I'm still not sure I understand why in #1073 we had to explicitly add a route to envoy for /tfjobs. The default route in our envoy config sends everything to Ambassador. That route should apply the authFilter that does JWT validation to all traffic that passes through it.

Is Am

[2018-06-28 10:45] jlewi commented on #288
This issue is GKE specific. I don't think Kubeflow has the bandwidth to try to figure out the proper way to install and configure GPUs on different K8s distributions. This should be solved upstream in Kubernetes.

GPUs are supported in GKE. The sole purpose of this issue is to remove the extra step of making users deploy the daemonset to install GPU drivers on GKE clusters.
https://cloud.google.co

[2018-06-28 10:51] jlewi opened #1092 "[gcp] setIamPolicy error when deleting deployment"
I tried to delete my deployment and got the following error. I may have been using an older deployment so its possible I didn't have some of the updates to the configs that might address this.

[code]

[2018-06-28 10:59] bhack commented on #288
It is not so fair IMHO.
We could just point users to the offcial [Kubernetes documentation](https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/) without including specific partial solution in the repository.

Don't seems to you a little bit more vendor neutral?

[2018-06-28 11:13] pdmack commented on #1057
No, it doesn't have `start-singleuser.sh` in place. Note that this wasn't the proposed multi-stage build or anything like that, just the upstream Dockerfile build. I supposed I could still look at that with doing a COPY of our /usr/local/bin/ scripts. But 2 hours for an almost 20Gb image? Do we want to go there?

[2018-06-28 11:21] jlewi commented on #288
We explicitly want to provide mechanisms for vendors to optimize the experience for their particular platform. So in this particular case we want to provide a good deployment experience on GCP. We expect other providers will want to do the same and they are free to do so. Alibaba for example is customizing the Kubeflow deployment to using docker images mirror'd on their cloud to improve performanc

[2018-06-28 12:11] bhack commented on #288
Yes I understand you point of view as GCP member but so in that case who will care of bare metal kubernetes?  Bare metal is not a vendor I suppose.

I agree with you that it is ideal. But the kubernetes docs upstream status now is the only solution that we have and it is still making difference between GCP and others).

[2018-06-28 12:20] bhack commented on #288
/cc @vissh @3XX0 for https://github.com/GoogleCloudPlatform/container-engine-accelerators/pull/51#issuecomment-398919468

[2018-06-28 12:58] jlewi commented on #980
I hit a similar issue trying to update a service

[code]

@bryanl Is this really an issue with optimistic locking? It seems like ks apply is trying to set the value to the empty string which doesn't work.

[2018-06-28 13:02] jlewi commented on #980
I get the same error if I pipe the output of ks show to ks apply

[code]

[2018-06-28 13:34] jlewi commented on #448
See also: kubeflow/kubeflow#574

[2018-06-28 13:35] jlewi commented on #574
I tried putting whoami behind Ambassador and it seemed to work just fine.

[2018-06-28 13:52] jlewi commented on #574
I think to make debugging easier we should create a simple app that echos the headers it received.

We could start with
https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/endpoints/getting-started/main.py

i don't think whoami (esp-sample-app) echos the headers it receives. Looking at the request headers in dev console in chrome probably isn't what we want because the headers w

[2018-06-28 15:21] kflynn commented on #574
@jlewi I wouldn't expect Ambassador's Envoy to strip information from IAP, so I'm very interested in seeing how this plays out.

[2018-06-28 15:39] pdmack commented on #1057
This is as far as I got reusing the kaggle docker image and adding our special sauce:
[code]

https://github.com/pdmack/kubeflow/tree/kaggle-nb-image

[2018-06-28 15:55] inc0 commented on #264
@bhack It's going to be quite easy with CRDs, operators are well fit for this flow. I'm not sure if we'd start with this but it'd make cool demo for sure:)

[2018-06-28 16:05] bhack commented on #264
@inc0 Good! I was looking a little bit at the [kustomize idea of workflow](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/workflows.md)

[2018-06-28 16:28] kkasravi commented on #574
I can try removing the route but keep the other changes in tf-operator. It’s possible this is extraneous. I’m on PTO but will try this today. Currently i’m 3 hours ahead (PST). I did try the list and create operations. The create operation failed for other reasons (seems to be missing namespace) and I opened an issue on this in tf-operator

[2018-06-28 17:15] kunmingg commented on #1070
All open bugs are fix in release branch, deployment tools works well, now testing it by running through https://github.com/kubeflow/examples

[2018-06-28 17:16] jlewi commented on #574
@kkasravi I can try this out. I've got a sample app running. Here are the headers I see

[code]

[2018-06-28 17:37] ankushagarwal commented on #1092
Can you try an update before you try delete?

See https://github.com/kubeflow/kubeflow/blob/master/testing/teardown_kubeflow_gcp.sh#L21

[2018-06-28 17:50] vishh commented on #288
Driver installation is distro and environment (primarily legal) specific.
Only Nvidia can truly simplify that and they are working on it as mentioned
in
https://github.com/GoogleCloudPlatform/container-engine-accelerators/pull/51#issuecomment-399187623
I agree with Jeremy that it is difficult to abstract that in kubeflow.
Bringing up k8s is non-trivial. Kubeflow relies on k8s to be up and
running.

[2018-06-28 18:10] bhack commented on #288
@vishh Yes I've already linked that comment in [this issue](https://github.com/kubeflow/kubeflow/issues/288#issuecomment-399222716)
I agree but actually, in k8s, we document ["officially"](https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/) two solution: GKE/GCE and "the others".

It is hard to integrate in this repository all the others k8s nodes GPU solutions:
* [kops gpu](https://git

[2018-06-28 18:24] jlewi commented on #574
I ran into some really strange behavior with ksonnet and adding Ambassador mappings; see https://github.com/ksonnet/ksonnet/issues/670

[2018-06-28 19:00] bhack commented on #288
Oh.. sorry for the noise you have already merge the GKE solution some hours ago. What documentation we will add i.e. for https://github.com/kubeflow/kubeflow/issues/32?

[2018-06-28 20:49] jlewi commented on #574
I tried the two fixes Kam mentioned above

#1 Use #688 in TFJobs UI to set request headers.
#2 #1073 to directly add route to tfjobs to envoy to avoid Ambassador.

For #1 I used
gcr.io/kubeflow-images-staging/tf_operator:kubeflow-tf-operator-presubmit-v2-688-1b33543-759-49f7
which is the image I grabbed from Kam's presubmit and then pushed to kubeflow-images-staging.

When I navigate to tfjobs/UI

[2018-06-28 21:20] jlewi commented on #574
I ran an experiment where I enabled CORS everywhere using a firefox plugin
https://addons.mozilla.org/en-US/firefox/addon/cors-everywhere/

That fixed the Failed to load error. Not it looks like I'm just get the json error

When I created a TFJob (via the CLI) it should up in the dashboard but when I tried to click on it I got the json error above.  I have v1alpha2 of TFJob configured. I wonder if

[2018-06-28 23:27] kkasravi commented on #574
@jlewi are you using 'default' for the namespace? I opened https://github.com/kubeflow/tf-operator/issues/701 which happens when a different namespace is used. However the POST to create the tfjob was getting to the server. I'm wondering if my cors headers aren't correct if your firefox plugin is working everywhere. I mentioned that I get the 'Failed to load ...' error once when going to the tfjob

[2018-06-29 00:47] TheJaySmith commented on #971
Skaffold could be something we can talk about in the future maybe but as for now, Weave Flux seems to integrate pretty decently

[2018-06-29 01:30] cquptEthan commented on #344
@gxfun @pineking @jiaanguo  We met the same issue, you should make sure that your dns is working properly.
In my scene, pods can access the internet, but can't resolve the domain 'kubernaut.io'.
After configuring a upstream nameservers (such as 8.8.8.8) in my kubernetes dns, everything goes fine.
We use coreDns take the place of kube-dns, you can find how to config upstream nameservers here:
kube-

[2018-06-29 01:32] xieydd commented on #344
We handler it same way @cquptEthan

[2018-06-29 01:53] jlewi commented on #574
@kkasravi Kubeflow is deployed in namespace kubeflow. I think I used that namespace for the job as well.

Would it be worth while to try to create a simple test app that we could use to work out the CORS issues without conflating it with other issues? I'm not sure what that would look like exactly.

[2018-06-29 02:14] kkasravi commented on #574
@jlewi sure - a simple POST to a URL like this one with a backend go app that sends back an app or something

[2018-06-29 03:34] jlewi commented on #1092
I had tried that and I don't think it worked.

[2018-06-29 03:36] jlewi commented on #955
One thing we could do is just write a health check agent that pings the central UI on its public endpoint using IAP.

[2018-06-29 03:43] tremblerz commented on #1074
Although the idea of architecture search looks fundamentally similar to hp-tuning, it is a lot different the way it is done and implemented. In hyperparameter tuning we try to find a set of values which would maximize/minimize a given objective function, while in architecture search we synthesize the architecture itself(analogy with hp-tuning would be "synthesizing new objective function on every

[2018-06-29 04:38] yebrahim commented on #1072
This shouldn't happen anymore now that the PR is merged, can you confirm and close the issue?

[2018-06-29 05:17] #1072 closed

[2018-06-29 05:19] ankushagarwal opened #1101 "[gcp click-to-deploy] hostname field is not editable"
Repro instructions
[code]
Browser: Chrome

@jlewi @yebrahim

[2018-06-29 07:29] ynqa commented on #1036
@jlewi Yes. In [tensorflow/serving#800](https://github.com/tensorflow/serving/pull/800), I implemented to enable to estimate request/error counts as metrics, and fetch them via grpc service `GetModelMetrics`.

So, the exporter with http endpoint like /metrics where prometheus pull them from is needed. `tf_serving` > (via grpc service) > `tf_serving_exporter` > `prometheus`.

However, recently tf s

[2018-06-29 09:29] gaocegege commented on #1074
I am not familiar with NAS now. I will have a research on it, included the paper from @ddutta and give the feedback next week.

[2018-06-29 12:57] jlewi commented on #1036
That's very helpful; thank you.

[2018-06-29 13:07] bhack commented on #1036
@jlewi What metrics do you like to export?

Cause some basic metrics for http could be collected also with https://github.com/prometheus/blackbox_exporter.

[2018-06-29 13:13] kkasravi commented on #574
Won't be able to get to this until late afternoon/early evening due to PTO plans most of day. Will update

[2018-06-29 14:48] jlewi commented on #1049
/unassign @kunmingg
/assign @jlewi

[2018-06-29 16:47] jlewi commented on #1074
I agree with @YujiOshima I have some experience with NAS so I'm aware of some of the difficulties e.g. training/using the RNN.

I'm not sure I understand this statement. Isn't the goal to find a model architecture that optimizes an objective function like classification accuracy?

In the original NAS paper I think they were trying to train a model to classify images and were comparing it to existi

[2018-06-29 18:51] #1101 closed

[2018-06-29 19:39] #1049 closed

[2018-06-29 22:13] jzf2101 commented on #1057
2c from the binder ecosystem- I've seen people install PyTorch and torchvision on binder after creating a conda environment using @soumith 's conda channel

See example:

https://github.com/jrzech/reproduce-chexnet/blob/master/postBuild

[2018-06-29 22:20] jlewi opened #1106 "Application Custom Resource for Kubeflow Deployments"
We should consider creating an [Application Resource](https://github.com/kubernetes-sigs/application) to describe a Kubeflow deployment.

At this point the Application Resource mostly provides meta information.

I think the immediate use cases for it would be

1. Use spec.assemblyPhase to report phase of the Kubeflow deployment
1. We could use the Application as the resource to associate with Kube

[2018-06-29 22:31] jlewi opened #1107 "Split all prototype into separate prototypes"
Right now we have the "all" prototype which combines TFJob components JupyterHub and some others. We should split this into separate prototypes and get rid of all.

There are probably better patterns for grouping a set of related components (e.g. ksonnet modules or maybe the application itself).

[2018-06-29 22:53] ankushagarwal commented on #1107
/assign

I've started working on this to some extent

[2018-06-29 23:48] jlewi commented on #1057
@pdmack Point taken.

Perhaps we should create an examples container intended to be used for running the examples. By definition, the image will contain the union of dependencies needed to run the Kubeflow examples. So it will grow over time until i) it becomes too large or ii) version conflicts.

By that definition it would make sense to start building an image with PyTorch and TF.

For 0.3 I'd l

[2018-06-30 19:17] jlewi commented on #1036
@ynqa My sense is that it would be better if tensorflow/serving directly exported the metrics directly; just because its fewer missing pieces.

What do you think is the best next step? I'd like to target TF serving metrics collection for our 0.3 release end of Q.

Should we try to get the existing PR merged? Should we revise the existing PR to use the built in http server? Should we create a patch

[2018-06-30 19:28] bhack commented on #1074
What about fresh differentiable approaches like [Darts](https://github.com/quark0/darts)?

[2018-06-30 19:31] bhack commented on #264
@inc0 there is also another thread for gitops in kubeflow at https://github.com/kubeflow/kubeflow/issues/971 if you are interested.

[2018-06-30 22:33] ankushagarwal opened #1112 "Make ambassador number of replicas configurable"
Right now we deploy 3 ambassador replicas for every deployment. For minikube, we probably don't need more than 1 replica.

[2018-06-30 22:51] kkasravi commented on #574
i believe what is remaining on this is https://github.com/kubeflow/tf-operator/pull/688 which sets up cors for all tfjobs fetches in the UI (services.js).

[2018-06-30 23:40] jlewi commented on #1074
Ideally AutoML + Katib would provide general infrastructure to which we could easily add new algorithms for both HP tuning and AutoML.

@pkamath Now would be a great time to start filing issues related to Katib/Kubeflow for our 0.3 release.

I'd like to make Katib a priority for our 0.3 release. With our 0.2 release we got minimal Kubeflow & Katib integration e.g. we deploy Katib and its accessibl

[2018-07-01 10:39] bhack commented on #32
What approach we want to have about GPU support in aws? Check https://github.com/kubeflow/kubeflow/issues/288

[2018-07-01 18:28] ynqa commented on #1036
@jlewi

I couldn't agree more.

Yes. If you estimates the metrics on the side of serving. As another way is to make the proxy (extension of tf_serving_exporter) in the front of tf serving requests, but I don't recommend.

Finally yes. It's the best that tf serving exported the metrics directly. First of all, it's good to prepare tf_serving_exporter in the front of serving, because REST is not soph

[2018-07-01 18:48] bhack commented on #251
Is tensorflow serving compilable with TensorRT? https://github.com/tensorflow/serving/issues/864

[2018-07-01 23:59] jlewi commented on #1036
@ynqa Do we want to update tensorflow/serving#800? We can then ping the TF Serving folks to get them to review and hopefully accept it.

[2018-07-02 11:43] jlewi commented on #1036
@ynqa Would you mind updating the PR just to resolve the conflicts?

Since getting code merged into TF Serving can be a slow process, I think it might be worthwhile to continue to push forward on the complete TF Serving monitoring story without being blocked on the PR being merged.

I think the goal would be to get the functionality incorporated into one of our examples (e.g. GitHub Issue Summariz

[2018-07-02 14:02] jlewi opened #1114 "PyTorch job prototype should contain the full job spec"
The PyTorch job prototype
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/pytorch-job/prototypes/pytorch-job.jsonnet

Currently defines the spec in a .libsonnet file which is imported.

We want to move the complete spec into the jsonnet file. This way when a user generates a component they have complete access to the spec and can easily modify it.

This is the pattern we are now followin

[2018-07-02 16:39] ynqa commented on #1036
@jlewi I just resolved the conflicts on PR.

Okay. The next step is:
1. It's good to enable to export all model metrics without setting model name. Now, `GetModelMetrics` is required a model name like `GetModelStatus`
  - [model_service.proto](https://github.com/ynqa/serving/blob/metrics/tensorflow_serving/apis/model_service.proto#L14-L18)
  - [tf_serving_exporter](https://github.com/ynqa/tf_servi

[2018-07-02 16:45] pkamath commented on #1074
@jlewi. Sounds good. BTW, we have a demo/[paper](http://https://github.com/CiscoAI/amla/blob/master/docs/design/amla.pdf) on an automl system we have built for our experiments, at the AutoML Workshop at ICML 2018 in 2 weeks - if anyone is around please come talk to me - would love to talk.

[2018-07-02 17:28] amygdala opened #1115 "apparent issue with 0.2.0 tag re: ks registry"
I'm seeing the following:
[code]

[2018-07-02 17:30] jlewi commented on #1115
/assign @kunmingg

[2018-07-02 17:52] kunmingg commented on #1115
@amygdala
tf-job is deleted, now we use this component as part of core.

[2018-07-02 18:00] amygdala commented on #1115
Okay, good to know.  We should update the various readmes and docs.

[2018-07-02 19:50] jlewi commented on #1074
@bhack My hope would be that we can Align Cisco's Framework with Katib such that we can build a single platform that is suitable for a wide range of hyperparameter tuning and AutoML algorithms. So in this context I would hope that Darts would be one algorithm that could easily fit.

[2018-07-02 19:57] bhack commented on #1074
@jlewi I think it is a good strategic view.

[2018-07-02 20:12] bhack commented on #1074
Also some hybrid solution are interesting to cover like:
https://arxiv.org/abs/1806.10230

Related Code:
https://github.com/brain-research/guided-evolutionary-strategies

[2018-07-02 22:38] #44 closed

[2018-07-02 22:52] jlewi opened #1116 "Serving, Seldon, ServerLess and OpenFaas"
Opening this issue to cross reference issues in Seldon that are of interest to Kubeflow.
The corresponding Seldon issue is
SeldonIO/seldon-core#151

The idea of using a serverless framework like openfaas to make deploying models/ML infrastructure seems promising but I don't have much to add beyond that.

Is there a core CUJ/experience we want to enable?

[2018-07-02 22:59] jlewi opened #1117 "Document Serving for PyTorch models"
We should come up with a serving solution for PyTorch models.

[2018-07-02 23:38] jlewi opened #1118 "GitOps for model deployment"
Cross reference for: SeldonIO/seldon-core#67 & SeldonIO/seldon-core#11

There is a separate issue for GitOps of Kubeflow deployments #971

[2018-07-02 23:55] jlewi commented on #1004
@cliveseldon I went through the seldon backlog and cross referenced a couple issues.

@cfregly I took a look at PipelineAI but I only saw one open issue.

It would be great to find a way to build a shared vision and work backwards from that.

An intern @activatedgeek is working with @hamelsmu to built out a more complicated E2E example:
http://bit.ly/gh-kf-search

In particular for this example, w

[2018-07-02 23:57] jlewi commented on #264
kubeflow/examples#134 has some early experiments trying to load model data into modeldb for experiment tracking.

[2018-07-03 00:04] jlewi commented on #607
@cfregly that sounds great; Adding this to our backlog.

0.3.0 will be EOQ3. So it should be code complete by mid September.

/assign @cfregly

[2018-07-03 00:10] pkamath commented on #1074
@jlewi @gaocegege What is the timeline for the 0.3 (and 0.4?) release - I want to see if we can better align our internal efforts with your timelines in mind.

[2018-07-03 05:36] johnugeorge commented on #1117
Is seldon planning to support it? Else we can have a custom solution for serving models and expose it like the tf-serving?

[2018-07-03 05:41] cliveseldon commented on #1117
We can already support pyTorch. There is an example using [IBM FfDL trained PyTorch model](https://github.com/IBM/FfDL/blob/master/community/FfDL-Seldon/pytorch-model/README.md).

Happy to discuss a kubeflow example and help with it. It would be very similar on the deployment side.

[2018-07-03 05:45] johnugeorge commented on #1117
Thanks @cliveseldon   I will have a look at it

[2018-07-03 09:44] cliveseldon commented on #971
There is a blocker for seldon integrating with Weave Flux in that Weave Flux doesn't play well with CRDs as it needs to understand where the image properties are. Added issue https://github.com/weaveworks/flux/issues/1194

[2018-07-03 13:05] jlewi commented on #1071
I think I would prefer a more complete/flexible solution for managing TensorBoard (kubeflow/tf-operator#447). I think the Jupyter tensorboard plugin is rather lmited.

- Why do users need to launch Jupyter just to launch tensorboard?
- Running in the Jupyter pod limits you w.r.t to storage options and resources

Its possible the extension is useful in certain cases like when you are training in Ju

[2018-07-03 14:15] hamelsmu commented on #1004
FYI: @hohsiangwu

[2018-07-03 14:47] jlewi commented on #1036
Thanks @ynqa I'll ping some folks to try to get the PR reviewed.

[2018-07-03 15:53] jlewi opened #1121 "Make it easier to debug tf serving test failures; output why deployments failed"
#1119 tf serving test failed.

A common failure mode is:

[code]

To debug this better we should issue a kubectl describe so that we can see what happened to the deployment.

[2018-07-03 15:58] jlewi commented on #1074
We release quarterly. 0.3 will be end of September.

[2018-07-03 17:18] ynqa commented on #1036
@jlewi Thanks too. Will it manage the exporter of serving in this org?

[2018-07-03 22:01] #964 closed

[2018-07-03 23:11] #1070 closed

[2018-07-03 23:11] #1024 closed

[2018-07-04 00:34] jlewi commented on #1051
No I think it could be moved to its own repo. My only reticence is that it would be unfortunate if we have to create a new repo each time we add a go program because there is a cost to managing each repo.

@kunmingg What do you think?

[2018-07-05 01:44] jlewi opened #1124 "Make jupyterlab discoverable/default"
Right now if you want to navigate to JupyterLab you have to manually change the URL.

Could we add an option to control whether JupyterLab is used by default.

[2018-07-05 02:02] jlewi commented on #56
We are now tagging Jupyter images with the release.

[2018-07-05 02:03] jlewi opened #1125 "Make it easy to customizes PVs attached to Jupyter pods"
A common use case is users will want to attach a PV pointing at a shared filesystem to their Jupyter pods.

We should make it easy to customize Jupyter so that users can specify PVs that should be attached to all pods.

#56 is a general issue to make Jupyter pods more customizable.

[2018-07-05 02:12] jlewi opened #1126 "TFServing test if failing blocking submits"
http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-presubmit-tf-serving-image-1109-866b43a-2354-4846?tab=workflow&nodeId=kubeflow-presubmit-tf-serving-image-1109-866b43a-2354-4846-1071956215&sidePanel=logs%3Akubeflow-presubmit-tf-serving-image-1109-866b43a-2354-4846-1071956215%3Amain

Test is failing

ERROR|2018-07-03T15:36:26|/mnt/test-data-volume/kubeflow-presubmit-tf-servin

[2018-07-05 02:35] jlewi commented on #1126
Following the instructions: looking at the K8s events
https://github.com/kubeflow/testing

I see
2018-07-03 08:36:39.000 PDT
0/5 nodes are available: 5 Insufficient nvidia.com/gpu.

[2018-07-05 02:37] jlewi commented on #1126
Looks like the pod was created but was never assigned to a node.

[code]

[2018-07-05 02:47] jlewi commented on #1126
Autoscaling is enabled for the gpu-pool

[code]

[2018-07-05 03:07] jlewi commented on #1126
On retest it seemed to work; I manually observed the pods.

So I think the issue might be with autoscaling not working to deal with heavy load.

[2018-07-05 03:09] #1114 closed

[2018-07-05 11:45] jlewi opened #1128 "[Test Flake] tf_job_simple_test needs retries for ks init to deal with git connection issues"
See stack trace below.  The test failed because ks init had a connection error trying to read from
git. We should have retries to deal with this.

[code]

[2018-07-05 13:17] jlewi opened #1129 "Jupyter images in 0.2.1 need to be upgraded"
In 0.2 kubeform_spawner is still using Docker images with a date-sha in it.

We should pin the images to v0.2.1 tags.

It also looks like the images are currently using the tag: v20180607-476e150e which is outdated.
We matched the tag v20180619-c79194b3 to v0.2.0.

[2018-07-05 14:22] jlewi opened #1130 "TFMA plots don't render; GET tfma_widget_js.js returns 404"
Jupyter image:
gcr.io/kubeflow-images-public/tensorflow-1.7.0-notebook-cpu:v20180607-476e150e

I tried running the Chicago example:
https://github.com/tensorflow/model-analysis/blob/master/examples/chicago_taxi/chicago_taxi_tfma_local_playground.ipynb

If you run all cells they all run successfully. The final cells are supposed to render plots. However, no plots show. If you look at the developer

[2018-07-05 14:29] jlewi commented on #1130
[code]

It looks like information about the widgets being installed is stored in the home directory `/home/jovyan/.jupyter/`.

So my guess is the config gets overwritten when we mount a PV in /home/jovyan.

Can we persist the config in `/opt/conda/envs/py2/etc/jupyter/nbconfig` instead?

[2018-07-05 14:35] jlewi commented on #1130
I think if we just add "--system" to the jupyter nbextension commands in our Dockerfile that might work.

[2018-07-05 20:56] pdmack commented on #1128
@jlewi I think we should consider adding `--skip-default-registries` to `ks init` to avoid hitting the ksonnet repo in the test workflows. These are ephemeral apps anyway and it's not clear to me that fetching the ksonnet incubator SHA is actually necessary to launching kubeflow. The ks "bits" are in the lib dir AFAICT.

[code]

[2018-07-05 23:49] karthikvadla commented on #838
Hi @everpeace , do you have any update on this feature. ?? Right now i would like to mount volumes to my container as i already have replicated data on my nodes at `/var/datasets.

[2018-07-06 00:57] jlewi commented on #1130
So I built a new set of images using #1131.

I tried: gcr.io/kubeflow-images-public/tensorflow-1.7.0-notebook-cpu:v20180705-1045-pr1131-HEAD-1824

source activate py2
(py2) jovyan@jupyter-jlewi:~$ jupyter nbextension list
Known nbextensions:
  config dir: /opt/conda/envs/py2/etc/jupyter/nbconfig
    notebook section
      jupyter-js-widgets/extension  enabled
      - Validating: OK

Doesn't show T

[2018-07-06 01:00] jlewi commented on #1130
gcr.io/kubeflow-images-public/tensorflow-1.8.0-notebook-cpu:v20180705-1045-pr1131-HEAD-1824

[code]

[2018-07-06 01:10] jlewi commented on #1130
I think I messed up when I built the images form the PR. I specified HEAD as the SHA but I should have just left it blank
https://github.com/kubeflow/testing/blob/master/images/checkout.sh#L34

By not leaving it blank I think I checked out HEAD on master which wouldn't have included the fix.

[2018-07-06 01:13] jlewi opened #1132 "Building the Jupyter images took over 4 hours"
I did a run of the workflow to build the Jupyter images. This took over 4 hours. The full workflow spec is below. This seems unreasonably slow.

[code]
[code]

[2018-07-06 01:49] jlewi commented on #1128
Good idea.

[2018-07-06 09:28] sevensees opened #1134 "Ambassador pod failed to run"
I am trying to deploy kubeflow according to the official guide, and ambassador pods failed to be ready after apply the components. Here is logs from `kubectl logs`.

[code]

What is `kubernaut.io` used for?

[2018-07-06 11:08] analyticalmonk commented on #337
Hi @jlewi,
Are you still looking for contribution towards this issues? If yes, I'll like to work on it.

[2018-07-06 11:59] sevensees commented on #1134
Fixed. (cause: no kube-dns deployed)

[2018-07-06 11:59] #1134 closed

[2018-07-06 12:55] jlewi commented on #1130
Post submit image builds failed

[code]

[2018-07-06 13:06] jlewi commented on #1130
Something strange happened;

Looks like a bunch of packages got installed.
[code]

Then we see a message

[code]
Then there's no output for 50 minutes. It then looks like the Docker in Docker container gets a SigTerm

[code]

Which then causes the main container to fail.

[code]

[2018-07-06 13:08] jlewi commented on #1130
I was looking at the logs for a 1.5 image which shouldn't even be including TFMA.

[2018-07-06 13:33] jlewi opened #1135 "Docker image building workflows are failing"
See #1130

It looks like the latest runs of most of the release workflows for our images failed; e.g. pytorch operator; tf-serving-release, notebook-release.

[2018-07-06 13:35] jlewi commented on #1135
It looks to me like the dind sidecar got a sig term.

[2018-07-06 13:50] jlewi commented on #1135
main container logs

[code]
sidecar logs

[code]

It looks like the main container was in the middle of a build @ 03:37 when the dind container recieved a SIGTERM.

[2018-07-06 14:07] jlewi commented on #1135
Looking at the events for the cluster

I see recent events indicating disk pressure but these don't match the timestamp of the pytorch operator
[code]

[2018-07-06 14:41] jlewi opened #1137 "[Test Flake] vm_util.wait_for_operation needs to retry on socket error"
Seeing a minikube failure because of a socket error waiting for a VM operation to complete.
This should be a simple matter of retrying by ignoring the error.

Logs attached.
[logs.txt](https://github.com/kubeflow/kubeflow/files/2170881/logs.txt)

/assign @jlewi

[2018-07-06 16:58] #1055 closed

[2018-07-06 18:00] jlewi commented on #1036
@ynqa If we need additional logic/code/manifests beyond what's in TFServing repository then we can use kubeflow to host them.

https://github.com/kubeflow/kubeflow/tree/master/components/k8s-model-server

is a good location to start putting code.

It would be great if you could start opening issues targeting 0.3 and submitting PRs.

[2018-07-06 18:33] kunmingg opened #1139 "kubeflow cluster cannot pull image from GCR within same Project."
Kubeflow user will need to use their private images, which most likely will stored in GCR within same project as kubeflow cluster.
Kubeflow GKE cluster should by default have read access to GCR in same project.

@jlewi
@ankushagarwal

[2018-07-06 18:33] jlewi commented on #1130
Built a new image

Looks like the extension is enabled and the config is stored in a system wide directory not the home directory.
gcr.io/kubeflow-images-public/tensorflow-1.8.0-notebook-cpu:v20180706-0725-pr1136-fce4

[code]

Running the notebook to verify it.

[2018-07-06 18:34] jlewi commented on #1130
Looks like the plots rendered.

I'm going to leave this issue open until we have updated images in kubeflow-images-public.

[2018-07-06 19:03] #955 closed

[2018-07-06 19:11] jlewi commented on #337
That would be great

On Fri, Jul 6, 2018, 4:08 AM Akash Tandon <notifications@github.com> wrote:

[2018-07-06 19:12] jlewi commented on #1074
We release end of quarter so end of September and end of December. We aim
to be code complete 2 weeks before that.

On Mon, Jul 2, 2018, 5:10 PM Utham Kamath <notifications@github.com> wrote:

[2018-07-06 19:51] jlewi commented on #1057
Looks like @pdmack published a version of the image in
gcr.io/kubeflow-dev/kubeflow-kaggle-notebook:latest

[2018-07-06 21:51] jlewi opened #1140 "[Test Flake] GCP deployer script resource conflict setting IAM policy"
https://github.com/kubeflow/kubeflow/pull/1109

Got the following test flake

[code]

We should add some backoff and retry to the setIamPolicy in the script.

[2018-07-06 22:31] #1068 closed

[2018-07-06 22:57] jlewi commented on #1057
I retagged into gcr.io/kubeflow-images-public/kaggle-notebook:v20180629

I retagged it using Google Container Builder; trying to use gcloud container add tag choked.
Here's the GCB config
https://github.com/jlewi/kubeflow-dev/tree/master/kaggle-image

[2018-07-06 23:16] jlewi commented on #258
@pdmack created a Docker image in #258

I retagged into gcr.io/kubeflow-images-public/kaggle-notebook:v20180629

I retagged it using Google Container Builder; trying to use gcloud container add tag choked.
Here's the GCB config
https://github.com/jlewi/kubeflow-dev/tree/master/kaggle-image

I was able to launch a Jupyter image successfully using JupyterHub on Kubeflow.

I randomly tried this noteb

[2018-07-06 23:49] jlewi opened #1141 "Release 0.2.1"
Tracking bug for 0.2.1.

We have a number of fixes that we should get out in a 0.2.1 release.

Missing Cherry Picks

- [x] #1170 Cherry pick of  #1144 Upgrade Jupyter images to v0.2.1
- [x] #1147 Upgrade Central UI image (and tag it v0.2.1)
- [x] #1150 Cherry-pick fix to Katib Ambassador routes.
- [x] #1189 Merge in the latest scripts
- [x] #1152 Don't check in boot strap vendor
- [x] #1114 PyTorc

[2018-07-06 23:51] jlewi opened #1142 "metrics_collector should emit K8s events to indicate when Kubeflow is ready"
#955 added an agent to monitor the status and emit it as prometheus metrics.

We should emit status information as K8s events as well.

/assign @kunmingg

[2018-07-07 01:41] jlewi opened #1143 "[Test Flake] GKE test failed; tfjobs CRD not found"
Test fails at the wait for kubeflow steps

[code]
It times out because the resource is never found.

My guess is the bootstrapper had an error and the tfjobs resource was never created.

[2018-07-07 03:44] pdmack commented on #1143
Oh that sounds like the pytorch CRD failures too

[2018-07-07 03:58] pdmack commented on #258
Looks like you were yellow carded
I'll have a look in a bit

[2018-07-07 04:47] #1128 closed

[2018-07-07 04:47] #1137 closed

[2018-07-07 11:16] bhack commented on #1118
Related: GitOps for experiment tracking https://github.com/kubeflow/kubeflow/issues/264#issuecomment-401561567

[2018-07-07 22:01] jlewi commented on #980
I noticed while updating the dev.kubeflow.org that problem does seem to be related to retries.

I kept running the command

[code]

Each time I ran it it complained for a different object and I got an error like

[code]
But each time I reran the command it got a little bit further and eventually it succeeded.

[2018-07-07 22:14] jlewi commented on #980
It looks like the error with updating the service

[code]

Is a different error and now one that is fixed by retrying.

[2018-07-07 22:26] jlewi opened #1145 "Problems upgrading services of type NodePort; spec.clusterIP: Invalid value: "":"
I notice that if I run ks apply on an existing component that has services I get errors like the following

[code]
I get the same error if I do ks show followed by kubectl apply

[code]

Here is the output of ks show

[code]

My conjecture is that this issue is specific to services with NodePort and is the result of 0.11 switching to using merge patching to try to preserve node ports:
https://gith

[2018-07-07 22:28] jlewi commented on #980
Opened #1145 for the problems with node port services because that seems to be a different issue.

[2018-07-07 22:49] jlewi commented on #32
I think the general approach we are converging on is

1. Have different getting started pages customized for different K8s distros/clouds

    * See https://www.kubeflow.org/docs/started/getting-started/

1. One pattern that I think will be common see #1111 is to have specific deploy.sh scripts for different
    distros.

    * Those scripts can perform vendor/cloud specific initialization steps;

[2018-07-07 22:54] jlewi commented on #288
@bhack I responded on #32 (this [comment](https://github.com/kubeflow/kubeflow/issues/32#issuecomment-403247872)).

You raise a good point about bare metal; feel free to open an issue about bare metal. I don't have much experience about deploying on bare metal so I'm not sure where to start in terms of getting a good bare metal deployment story.

Closing this issue because the deploy.sh script for

[2018-07-07 22:54] #288 closed

[2018-07-07 22:56] jlewi opened #1146 "[gcp] Use BackendConfig to enable IAP"
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/setup_iap.sh

is currently downloading a bunch of tools. It would be better to bake that into a docker image to make the whole process more reliable.

[2018-07-07 23:11] jlewi opened #1147 "Central UI image needs to be updated in 0.2.1 release; it is too old."
The central UI image in the 0.2.0 release is:
gcr.io/kubeflow-images-public/centraldashboard:v20180618-v0.2.0-rc.0-5-g715aafc8-e3b0c4

This appears to be too old; it doesn't contain the fix adding a link to JupyterHub.

Neither of the commits g715aafc8 or e3b0c4 appear to be valid.

[2018-07-07 23:17] bhack opened #1148 "Bare metal"
As a follow-up of https://github.com/kubeflow/kubeflow/issues/288#issuecomment-403248117 what we want to suggest for a kubeflow bare metal setup.

@paulbaumgart  https://github.com/kubernetes-incubator/kubespray/issues/2079 proposed

This is the "official" kubernetes list of solutions https://kubernetes.io/docs/setup/pick-right-solution/

[2018-07-07 23:30] jlewi commented on #1147
Try a new image:
gcr.io/kubeflow-images-public/centraldashboard:v20180707-6615c2fd

[2018-07-07 23:39] jlewi commented on #1147
I think its possible that
gcr.io/kubeflow-images-public/centraldashboard:v20180618-v0.2.0-rc.0-5-g715aafc8-e3b0c4

Does have the updated code and there was just some caching going on inside my browser which is why I didn't see the JupyterHub link. Can we inspect the contents of the image to confirm?

Either way it might still be good to create an image tagged v0.2.1

[2018-07-08 13:58] everpeace commented on #838
@karthikvadla Thank you for waiting.  But, kubeflow doesn't support ks 0.10 or 0.11 officially.  So, my branch can't be merged to kubeflow's master branch.

However, If you're familiar with jsonnet/ksonnet, you could apply to [the diff](https://github.com/kubeflow/kubeflow/compare/master...everpeace:openmpi-volumes) manually because the diff is small.

[code]

[2018-07-08 14:13] bhack commented on #1036
@jlewi Are we interested also in gpu metrics? Can you check internally if we could have support directly in the node exporter https://github.com/prometheus/node_exporter/pull/755#issuecomment-403274849?

[2018-07-08 18:34] jlewi commented on #1036
@bhack yes we are also interested in GPU metrics. I'm not sure what the best story for those are. As this issue you linked to suggests some of these metrics should be collected at the node or possibly pod level. This issue is specifically about collecting app level metrics for TFServing. In that context, it would be up to TFServing to export GPU related metrics.

[2018-07-08 18:46] bhack commented on #1036
@jlewi Yes I really don't know what is best place. Probably, at node/pod level, could be useful also for training job and for monitoring/verify data pipeline efficiency that feeds the GPU.

Cause at node level it is quite generic against TFServing/training or any other gpu activity. But probably we want something more specific.

P.s. that comment was by a GCP team member.

[2018-07-08 22:11] jlewi commented on #1051
The vendor directory is currently 160M. Since our Kubeflow deployment scripts clone the repo a large repository is highly undesirable since it negatively impacts user experience.

Since we use glide to manage dependencies we don't need to check in the dependencies; we could just run glide install.

This comes at the expense of introducing some flakiness into the build process we can mitigate that

[2018-07-08 23:52] jlewi commented on #971
Repasting my comment from weaveworks/flux#1194

The trend (e.g. helm v3 discussions) seems to be that the tool chain should be composable. So my expectation is that people templatize their app using whatever tool they like (ksonnet, kustomize, helm, etc...) and then down stream tools in the app mangement tool chain (e.g. Weave) just consume the fully realized YAML manifests.

Within Kubeflow we ha

[2018-07-09 03:56] ynqa commented on #1036
@jlewi Sure, Thanks. BTW, when is the deadlines of 0.3?

[2018-07-09 12:17] ynqa commented on #1036
@jlewi There are the http proxy is already existed. I'll add the serving exporter here: https://github.com/kubeflow/kubeflow/tree/master/components/k8s-model-server/http-proxy

And also if tensorflow/serving#800 will be not merged, I try to make up metrics itself here. Is it okay?

[2018-07-09 12:53] jlewi commented on #1036
@ynqa That sounds good to me.

We do quarterly releases. 0.3. will be end of September. So we aim to be code complete mid September.

[2018-07-09 13:32] jlewi opened #1153 "Minikube deploy script should start minikube"
I think @abhi-g demo'd a script a while back that would setup minikube as well. We should try to get those changes merged in.

[2018-07-09 13:45] jlewi opened #1154 "Make downloading our ksonnet registry for getting started efficient"
We'd like to avoid users running into GITHUB Api limits and needing to create a GitHub API token just to get started.

The current thinking is to clone the repo and then use the ability of ksonnet to use a local file as a registry.

This works but its slow because our registry is huge.

I don't think setting `depth=1` will work because we will typically want to use a particular commit correspondin

[2018-07-09 13:49] jlewi commented on #1154
I think GitHub might provide a URL that makes it easy to download a particular commit as a zip file.
https://stackoverflow.com/questions/13636559/how-to-download-zip-from-github-for-a-particular-commit-sha

[2018-07-09 15:24] jlewi commented on #1154
We can get stable links by tag just from the releases page.
https://github.com/kubeflow/kubeflow/releases

[2018-07-09 15:32] jlewi commented on #1154
ksonnet/ksonnet#641 is tracking native support in ks for this.

[2018-07-09 15:43] jlewi opened #1155 "Stop baking ksonnet registry it into the docker image"
Right now we bake the Kubeflow registry into the bootstrapper docker image. The primary reason we did this was to avoid GitHub API rate limits.

The downside of baking the registry into the docker image is that it creates a very cumbersome release process that its difficult to keep track of what version of the registry the bootstrapper is using.

I think a better approach is

1. bootstrapper downl

[2018-07-09 17:29] karthikvadla commented on #838
Thanks @everpeace , will look into it. :)

[2018-07-09 17:39] karthikvadla commented on #838
@jlewi @everpeace I see you guys upgraded tests to `0.11.0` here https://github.com/kubeflow/kubeflow/issues/727.
Is there any reason you guys holding back to upgrade the kubeflow to same version? Still we are on `0.9.2` as per requirements specification.

[2018-07-09 17:52] jlewi opened #1156 "Create links on kubeflow.org to redirect to ksonnet tarballs and deploy scripts"
We would like the getting started experience to be something like

[code]

To support that we'd like to host links in kubeflow.org that will automatically redirect to

1. The scripts containing the code for a specific version/release
1. Tarballs of the ksonnet registry (to avoid GitHub API limits) see #1154

We'd also like to create links that point to the most recent release and head e.g.

[code]

[2018-07-09 18:37] activatedgeek commented on #1156
We could create a `releases` page which has embedded JS to do the following things

1. Fetch all releases from `https://api.github.com/repos/kubeflow/kubeflow/releases`. This is a public API, does not requires auth and will run client-side. Unless somebody keeps reloading aimlessly, it is unlikely that the rate-limiting happens for the client.

2. Populate the JSON from 1. into HTML dynamically fo

[2018-07-09 19:59] jlewi commented on #1154
/assign jlewi

[2018-07-09 19:59] jlewi commented on #1141
/assign jlewi

[2018-07-09 19:59] jlewi commented on #1147
/assign jlewi

[2018-07-09 20:00] jlewi commented on #1139
/assign @kunmingg

[2018-07-09 20:42] jlewi commented on #1156
@richardsliu Do you want to look into this.

[2018-07-09 21:08] jlewi opened #1157 "Jupyter image suitable for running the examples/codelabs"
See [comment](https://github.com/kubeflow/kubeflow/issues/1057#issuecomment-401500111) in #1057

We'd like to have a jupyter image suitable for running  Kubeflow codelabs. This means in addition to TF we'd like to have a complete tool chain (e.g. kubectl, gcloud, ksonnet) suitable for running the codelabs.

[2018-07-09 22:42] jlewi opened #1158 "Test Flake deploy.sh fails trying to enable the deployment service"
Here are the logs

[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/1144/kubeflow-presubmit/2426/

At a minimum we should be able to skip the step in our test environment of enabling the services. There is an environment variable in the script that does this.

[2018-07-09 22:46] bhack commented on #1116
I like this idea.. Some of FAAS implementayion are also reasoning or offering workflows. Are we interested I.e. on workflow for preprocessing or other stages.

I think that kubeless is the most k8s native approach but probably not the most popular. See also:

https://github.com/kubeless/kubeless/issues/342

[2018-07-10 18:52] kunmingg opened #1160 "Create Prometheus Component in Kubeflow Core."
Will integrate with stackdriver.
Support usage cases:

1. Fetch metrics from TF Serving. (https://github.com/kubeflow/kubeflow/issues/1036)
1. Fetch metrics from kf healthiness metrics_collector. (https://github.com/kubeflow/kubeflow/issues/1142)
1. Fetch metrics from Envoy to get network traffic metrics.

[2018-07-10 18:52] kunmingg commented on #1160
@lluunn
@jlewi

[2018-07-10 18:53] lluunn commented on #1160
cc @ynqa

[2018-07-10 18:54] lluunn commented on #1160
https://cloud.google.com/monitoring/kubernetes-engine/prometheus

[2018-07-10 22:07] lluunn commented on #1000
TF Serving seems to support this: https://github.com/tensorflow/serving/blob/master/tensorflow_serving/core/request_logger.h
Will investigate more.

[2018-07-10 22:39] jlewi opened #1166 "Test Flake gke teardown failed; insufficient quota"
Why are we getting quota error in teradown?

[code]

[2018-07-10 22:47] ankushagarwal commented on #1166
Looks like deleting the k8s cluster does not delete the GCP resources that the ingress controller creates. We might have to delete the ingress object before deleting the cluster if we want to cleanup gracefully.

![image](https://user-images.githubusercontent.com/796949/42541701-60ee4de2-8458-11e8-9f19-57869a113d63.png)

[2018-07-10 23:43] #1139 closed

[2018-07-11 00:34] #1158 closed

[2018-07-11 01:37] pdmack opened #1168 "Notebook CI"
"In my limited experience, successful import in Python seems like an 80% indicator of functionality."

/cc @pdmack

"What I'd really like to do is figure out how to do CI on important notebooks (e.g. our codelabs) to make those don't break. I never came up with an elegant solution. I think back in the early days of TF operator, I had a notebook that and a unittest test that converted it to python

[2018-07-11 03:09] jlewi commented on #1168
/cc @texasmichelle

[2018-07-11 03:16] pdmack commented on #1125
kubeflow#34

[2018-07-11 03:22] jlewi opened #1169 "Test Flake wait_for_workflow terminated on HTTPSConnectionPool error; why don't we retry"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/1109/kubeflow-presubmit/2446/?log#log

Build log attached
[build-log (8).txt](https://github.com/kubeflow/kubeflow/files/2182810/build-log.8.txt)

Relevant bit is

[code]

But the code should be retrying

[code]

Is the test somehow using older code that predates when we changed the retries?

[2018-07-11 03:29] jlewi commented on #1169
Logs indicate it checked out HEAD for kubeflow testing.

[2018-07-11 04:17] jlewi opened #1171 "Delete old GCP configs"
I think we can delete
https://github.com/kubeflow/kubeflow/tree/master/docs/gke/configs

I think this is the original DM configs that were using bootstrapper.

We have since moved to a model that doesn't use bootstrapper and runs ks on the client.

https://github.com/kubeflow/kubeflow/tree/master/scripts/gke

[2018-07-11 13:22] wmuizelaar opened #1175 "Extra packages in jupyterhub-image"
Hi,

Would it be possible to add the following python-packages to the hub-images as well?

- google-cloud (currently only google-cloud-storage available) (https://googlecloudplatform.github.io/google-cloud-python/)
- pandas-gbq (https://pandas-gbq.readthedocs.io/en/latest/)

Thanks,

Wietse

[2018-07-11 14:57] kkasravi opened #1177 "unable to spawn jupyter notebook - volume name is too long"
using IAP and a G suite account kam.d.kasravi@intel.com I get the following error when attempting to create the POD

Error: (422) Reason: error HTTP response headers: HTTPHeaderDict({'Audit-Id': '18fc2109-861e-4c94-943e-1946b9dbc2e5', 'Content-Type': 'application/json', 'Date': 'Wed, 11 Jul 2018 14:53:33 GMT', 'Content-Length': '942'}) HTTP response body: {"kind":"Status","apiVersion":"v1","metada

[2018-07-11 15:30] jlewi commented on #1106
A natural place for the relevant code would be in the bootstrapper
https://github.com/kubeflow/kubeflow/tree/master/bootstrap

There is an open PR to turn it into a server for managing ksonnet applications.
#1151

We probably want to rename it to something like

* manager
* appmanager
* appserver
* kfmanager

[2018-07-11 17:27] jlewi opened #1178 "Test Flake git clone fails RPC error"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/1174/kubeflow-presubmit/2471/

Here's the error
[code]

[2018-07-11 17:34] jlewi commented on #1177
It doesn't look like our existing spawner specifies a pattern for the pod name
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/kubeform_spawner.py

[2018-07-11 17:37] jlewi commented on #1177
It looks like kube spawner has an option
pod_name_template
http://jupyterhub-kubespawner.readthedocs.io/en/latest/spawner.html#module-kubespawner.spawner

[2018-07-11 17:38] jlewi commented on #1177
Need to wait for 0.2.2 I don't want to keep blocking 0.2.1

[2018-07-11 17:49] jlewi commented on #1177
Some suggestions

* Truncate pod name
   * Ideally we'd use a deterministic hash of the full name to avoid conflicts but not sure if kube spawner
     makes that doable.

* Can we add a label for the username? Also truncated

[2018-07-11 17:53] #1154 closed

[2018-07-11 18:57] jlewi commented on #1171
According to @ankushagarwal Our tests are still using these configs and need to be updated.

[2018-07-11 19:03] jlewi commented on #1147
Manually tagged
gcr.io/kubeflow-images-public/centraldashboard:v20180707-6615c2fd

With v0.2.1

[2018-07-11 19:22] lluunn opened #1184 "[Test flake] Workflow timeout"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/1165/kubeflow-presubmit/2483/

![screenshot from 2018-07-11 12-19-59](https://user-images.githubusercontent.com/32310205/42594679-d2e39c0c-8504-11e8-8802-69173be0e29f.png)
![screenshot from 2018-07-11 12-20-22](https://user-images.githubusercontent.com/32310205/42594683-d505bcd6-8504-11e8-8a2e-525a8c9d03d3.p

[2018-07-11 20:18] kkasravi commented on #1177
I'll submit a PR with a config pod_name_template and pvc_name_template

Code to create the names is [here](https://github.com/jupyterhub/kubespawner/blob/master/kubespawner/spawner.py#L215)

[2018-07-11 21:03] lluunn commented on #1000
To do it in TF Serving, we need to implement [LogCollector](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/core/log_collector.h) for the backend (e.g. BigQuery)

[2018-07-11 22:49] #1142 closed

[2018-07-11 23:00] lluunn commented on #1000
I think doing it with sidecar is better
1. it can be easily reused by other frameworks
1. it's easier to make progress (put code in kubeflow v.s. in tf serving)

Fluentd should already support logging to BQ, GCS etc. I will try using that.

[2018-07-11 23:01] jlewi commented on #953
I'm hitting this again.

I created a delete script to try to prevent this by cleaning up service accounts and roles when deleting the deployment
https://github.com/jlewi/kubeflow-dev/blob/master/kubeflow-deployments/delete_deployment.sh

I also tried fixing it by doing this after the cluster had been created but just recreating the service account and roles
https://github.com/jlewi/kubeflow-dev/bl

[2018-07-11 23:43] jlewi commented on #1141
I brought up a cluster with commit 6b14d8e76b585befaf74d0b9ef096b937a2a4089

Verified

  - GKE deployment scripts worked
  - Central UI shows link to JupyterHub

[2018-07-11 23:48] jlewi commented on #1141
Cut RC
https://github.com/kubeflow/kubeflow/releases/tag/v0.2.1-rc.0

But its missing a couple fixes.

[2018-07-12 00:04] jlewi opened #1187 "Use PV by default mounted at /home/jovyan"
Now that PV works with Jupyter I think we should make the default to use PV and mount it at
/home/jovyan.

[2018-07-12 00:04] jlewi commented on #1141
It looks like GKE isn't using PV by default.
Created #1187; we should probably just make it the default.

[2018-07-12 00:05] jlewi commented on #1187
@pdmack Thoughts?

[2018-07-12 00:32] jlewi commented on #1129
I checked it out using v0.2.1-rc.0 and the images are updated and using
gcr.io/kubeflow-images-public/tensorflow-1.8.0-notebook-cpu:v0.2.1

[2018-07-12 00:32] #1129 closed

[2018-07-12 00:32] jlewi commented on #1129
/assign jlewi

[2018-07-12 00:33] jlewi commented on #1147
Looks good in 0.2.1
https://github.com/kubeflow/kubeflow/issues/1141#issuecomment-404344088

[2018-07-12 00:33] #1147 closed

[2018-07-12 00:36] jlewi commented on #1130
Tried it in 0.2.1-rc.0
Which is using

[code]
The plots rendered in Jupter but not JupyterLab.

However, I wasn't using PV for /home/jovyan

[2018-07-12 00:44] jlewi opened #1189 "TFMA plots don't render in JupyterLab but they work with Jupyter"
See #1130

We broke the javascript widgets when we moved to mounting PVs under /home/jovyan

We fixed this in #1130 for Jupyter but its still broken for JupyterLab.

There was a previous issue when we originally did this about problems with JupyterLab.
We should dig up that issue to see if its relevant.

Notebook reports error

[code]

[2018-07-12 01:17] #1187 closed

[2018-07-12 02:44] jlewi commented on #1130
Confirmed its working with PV as well
Here's the pod spec
[code]

[2018-07-12 02:44] #1130 closed

[2018-07-12 02:57] jlewi commented on #1189
Previous issue is #489 looks like it might be a different issue.

It looks like the fix for that issue #518 had a simple manual way of seeing if widgets were working

[2018-07-12 13:22] jlewi commented on #731
For LetsEncrypt, you can just use cert-manager and the DNS01 challenge. You provide the project and service account key where the Cloud DNS zone is and cert-manager creates the TXT records for the DN01 challenge. This method is actually a lot faster than the traditional HTTP01 challenge.

[2018-07-12 16:05] jlewi commented on #1175
Seems reasonable.

A PR would be very welcome.

If your blocked you could always create your own docker image derived from ours and then use that with JupyterHub.

/cc @wmuizelaar

[2018-07-12 17:33] jlewi commented on #1141
v0.2.1 has been pushed.

Docs have been updated.

Only thing left to do is publicize it.

[2018-07-12 20:43] lluunn commented on #1056
@ankushagarwal have you started on this? Or I can help

[2018-07-12 20:51] ankushagarwal commented on #1056
@lluunn : Not started this. Feel free to take this issue.

[2018-07-12 22:54] bhack commented on #264
@jlewi Is there [something moving](https://github.com/tensorflow/tensorboard/pull/1281) on TB side?

[2018-07-13 00:27] jlewi opened #1193 "deploy.sh is broken; wrong directory for the unpack?"
It looks like the directory it got unpacked to didn't match the move

[code]

[2018-07-13 00:43] jlewi commented on #1193
Workaround is too manually download it before running the script

[code]

[2018-07-13 03:00] jlewi commented on #264
If there's I haven't heard about it.

[2018-07-13 05:55] #1193 closed

[2018-07-13 05:57] jlewi opened #1197 "[gcp] deploy.sh shouldn't download secrets to the same directory as the DM configs"
We don't want to to check in the GCP secrets to source control and the directory containing the DM configs most likely will be checked into source control.

Alternative might be to add a .gitignore file

[2018-07-13 11:02] ankushagarwal commented on #1166
After recent improvements this should no longer happen. let's reopen it if we see this.

[2018-07-13 11:02] #1166 closed

[2018-07-13 11:04] ankushagarwal commented on #1156
Can't we just use `curl https://raw.githubusercontent.com/kubeflow/kubeflow/<version>/docs/gke/configs/deploy.sh | bash` for now?

[2018-07-13 12:01] veliborfrobas commented on #201
ks init my-kubeflow
     cd my-kubeflow
     ks registry add kubeflow \
     github.com/google/kubeflow/tree/master/kubeflow
     ks pkg install kubeflow/core
     ks pkg install kubeflow/tf-serving
     ks pkg install kubeflow/tf-job
THE LAST ONE DOESN'T WORK. Says:
GET https://api.github.com/repositories/112647343/contents/kubeflow/tf-job?ref=40e2xxxxxxxxxxxxxxxxxxxxxxxxxxb3f51: 404 Not Found []

[2018-07-13 12:02] veliborfrobas commented on #1115
Thank you fir this. I was stuck at tf-job... doesn't exist. you REALLY need to pay attention to newbee documentation.

[2018-07-13 13:31] mmatiaschek opened #1201 ""getting-started-gke" installer fails"
I had these issues on google cloud shell so i tried with a fresh install on Bash on Ubuntu on Windows, Ubuntu 16.04, and got the same problems.

1. [install and initialize gcloud](https://cloud.google.com/sdk/docs/quickstart-debian-ubuntu)
2. install ksonnet v0.11.0 from github
3. [install kubeflow](https://www.kubeflow.org/docs/started/getting-started-gke/)

First issue with the kubeflow document

[2018-07-13 13:57] jlewi commented on #201
kubeflow/tf-job package has been deleted at head.
The examples package contains prototypes for creating TFJobs.

If you follow the getting started guide
https://www.kubeflow.org/docs/started/getting-started/

You can use a new script to properly create an app with all the packages you need.

[code]

There was a bug in the 0.2.1 script which is fixed in the 0.2.2 RC.

[2018-07-13 13:58] veliborfrobas commented on #201
Yes. I figured that about an hour ago.
For an old SysAdmin in a new IT area... very, very annoying.

Thank you

On 07/13/2018 03:57 PM, Jeremy Lewi wrote:

--
*Velibor Glisin*
System Administrator
Electronic
Phone: 	+49 8124 91890 26
Mobile: 	+381 63 591 688
e-mail: 	velibor.glisin@frobas.com
FROBAS d.o.o.
www.frobas.com
FROBAS d.o.o.
Futoski put 10, 21000 Novi Sad, Serbia, Phone: +381 21 494 434

[2018-07-13 13:59] jlewi commented on #1115
Sorry about that. We've been moving docs over to kubeflow.org

The recommended setup process is

[code]

[2018-07-13 14:01] jlewi opened #1202 "README.md QuickStart should refer to kubeflow.org Getting Start"
Here
https://github.com/kubeflow/kubeflow#quick-start

This is outdated. We should just refer people to the docs
https://www.kubeflow.org/docs/started/getting-started/

[2018-07-13 14:02] jlewi commented on #1115
Duplicate of #1202

[2018-07-13 14:02] #1115 closed

[2018-07-13 14:48] mmatiaschek commented on #1201
it seem like kubectl 1.11.0 is buggy and responsible for the failed deployment.
1.10.5 seems to work.
A fix for the tmp issue would be nice.

[2018-07-13 14:54] amsaha commented on #1202
@jlewi I can take this up. Please assign it to me.

[2018-07-13 16:24] ankushagarwal commented on #1202
/assign @amsaha

[2018-07-13 16:37] ankushagarwal commented on #1201
@mmatiaschek : Do you know what the problem with ksonnet was? I've not had issues with 1.11.0

Regarding the `gcloud deployment-manager` error. Can you first delete the deployment and it's config directory and try again?

[code]

[2018-07-13 16:59] amsaha commented on #1202
@jlewi can you help me with the above error?

[2018-07-13 17:05] ankushagarwal commented on #1202
Can you send a PR to add your info to
https://github.com/kubeflow/community/blob/master/members.yaml

On Fri, Jul 13, 2018 at 9:59 AM Amit Saha <notifications@github.com> wrote:

--
Ankush Agarwal

Software Engineer, Cloud ML