[2019-09-02 11:20] discordianfish commented on #3767
Looks like there are more resources not labeled with `app.kubernetes.io/part-of=kubeflow`:
[code]

Unfortunately there are even more resources that have no tag at all but *look like* they are part of kubeflow like the clusterroles: `katib-controller, katib-ui, metacontroller, ml-pipeline-persistenceagent, ml-pipeline-viewer-controller-role, pipeline-runner`

And these clusterrolebindings: `katib-c

[2019-09-02 11:24] discordianfish commented on #3767
And more CRDs that aren't labeled either:
[code]

So if anyone is in a similar situation like me and can't just recreate the k8s cluster on each update, this should clean up the remains (but it's not very safe, given there is no clear ownership label):
[code]

[2019-09-02 14:21] discordianfish commented on #3767
More leftovers:
[code]

[2019-09-02 14:22] durch opened #4047 "no matches for kind "Profile" in version "kubeflow.org/v1alpha1""
/kind bug

**What steps did you take and what happened:**
 Deploying `kubeflow` to a new `aks-engine` k8s cluster.  `kfctl init` and `kfctl generate all` complete successfully, `kfctl apply all` throws:

[code]

**What did you expect to happen:**
Kubeflow to be deployed

**Environment:**

- kfctl version: `v0.6.2`
- Kubernetes platform: `aks-engine`
- Kubernetes version:

[code]

- OS: Ubuntu 16.0

[2019-09-02 14:32] krishnadurai commented on #3767
/cc @krishnadurai

[2019-09-02 15:30] yanniszark commented on #3767
Since we are moving towards using the Application CRD and also the kfctl upgrade procedure depends on it, we could look into such an approach.
The restriction is that an Application CRD can only be consisted of namespaced resources.
In our case, we want both namespaced and cluster-wide resources (eg Profiles, Namespaces).

Relevant Issue: https://github.com/kubernetes-sigs/application/issues/111
/

[2019-09-03 00:48] jamesthegiantpeach commented on #1969
@lluunn I am having trouble finding the grafana.ini settings in this deployment. I ask because one should have to set the root_url and domain values in grafana.ini in order to use grafana from behind a reverse proxy or else you get the error pictured below.

![image](https://user-images.githubusercontent.com/52935149/64136873-8e2d2080-cda9-11e9-85ab-b843d6caa013.png)

[2019-09-03 01:50] #2961 closed

[2019-09-03 03:37] nicklhy commented on #3615
Same problem here.
kfctl version: 0.6.2
kubeflow is deployed with https://raw.githubusercontent.com/kubeflow/kubeflow/v0.6.2/bootstrap/config/kfctl_k8s_istio.yaml

[2019-09-03 04:45] jamesthegiantpeach commented on #3935
I second what @tmc is saying. I have a lot of regulations to follow since we're in clinical genomics, and I would prefer to have as many components as possible have sidecars injected.

I have tried recently to enable sidecar injection in the kubeflow namespace, but this causes the metadata deployment to always drop into error/crashbackoff.

[2019-09-03 09:54] nicklhy commented on #3975
The problem disappeared after upgrading the config to v0.6.2.

[2019-09-03 09:54] #3975 closed

[2019-09-03 09:58] jeremievallee opened #4049 "Profiles CRD and Contributors"
/kind question

**Question:**
Hi! I would like to know why contributors in a Profile (that you can add/remove from the /manage-users API) are not part of the Profiles CRD?

It seems that when adding a contributor to a Profile from the `/manage-users` API, it directly calls RBAC to add a `RoleBinding` and a `ServiceRoleBinding`, but does not change the `Profile` resource at all.

Wouldn't it make m

[2019-09-03 10:18] vjrantal commented on #4047
@durch I can reproduce the same issue.

As a temporary workaround, I have tested that using following config for the init works in AKS:

[code]

More details about this installation option from https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/.

In my opinion, it would be a good idea to keep this issue open until running kfctl without any config flag works. I wonder would above configurat

[2019-09-03 13:37] krishnadurai opened #4051 "Builds are failing due to Apache Git downtime"
/kind bug

**What steps did you take and what happened:**
Build pre-submit is failing when a PR is raised in kubeflow/manifests. Dependency for Apache thrift isn't available as Apache's git server is down:

https://status.apache.org/

Example build run:

PR:
https://github.com/kubeflow/manifests/pull/337

Build Prow Run:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_manifes

[2019-09-03 13:38] yanniszark commented on #3409
/remove lifecycle/stale

[2019-09-03 16:17] johnugeorge commented on #3624
https://github.com/kubeflow/manifests/pull/268 is merged. Closing this issue

[2019-09-03 16:17] #3624 closed

[2019-09-03 17:47] lluunn commented on #1969
Do you mind sending a PR to kubeflow/manifests repo to fix it?
Or could you show your overlay here?
I think there is some regression and the overwrite of root_url is gone. We should fix it and make it works by default.

[2019-09-03 20:14] #4051 closed

[2019-09-03 21:06] #3810 closed

[2019-09-03 22:34] Ark-kun commented on #3442
Can you check your version using pip3 freeze?
The version in my notebook is 0.35.4 https://pypi.org/project/jupyterlab/0.35.4/ which has been released in November while the fixed version is 0.35.5 https://pypi.org/project/jupyterlab/0.35.5/

[2019-09-04 00:13] jlewi commented on #3810
@kkasravi suggested using the following work around until the fix is released in kfctl 0.7.

Create an apply.sh with the following contents

[code]

Then

1. ```chmod +x apply.sh```
1. move the script to where  you called kfctl generate.
1. Run the script from that location

[2019-09-04 05:55] vjrantal commented on #3850
The Azure installation docs at https://www.kubeflow.org/docs/azure/deploy/install-kubeflow/ are now updated. However, there is always the possibility for the "works on my machine"-syndrome so would be nice to hear if those instructions work for others as well.

@cyzhangchenya If above means that you must use Ambassador, above docs might not cover your needs, because they are based on using Istio.

[2019-09-04 08:21] durch commented on #4047
Thank you @vjrantal I can confirm that this fixes the problem, I'd sure take the above as default, or at least update the docs so that its clear that a config needs to be passed in and is not magically inferred from the `kfctl` version.

[2019-09-04 08:26] vjrantal commented on #4047
@durch Today, my PR was merged and this is now included in the docs at https://www.kubeflow.org/docs/azure/deploy/install-kubeflow/.

[2019-09-04 13:11] jlewi commented on #4045
Should we just delete it? I think I had suggested deleting it but @Jeffwan (or someone else?) had pointed out that there were still references to it in some places.

At this point though its so old and still using ksonnet that I don't think it even works anymore. So I'm not sure what value there is in keeping it.

[2019-09-04 13:45] jlewi commented on #3709
@yanniszark Any update on the design doc? Are there any remaining issues we need to close out?

[2019-09-04 17:02] kkasravi commented on #3767
@johnugeorge the instance labeling of applications is in the above PRs.
After this the logic in kustomize.deleteGlobalResources needs to be changed slightly - this PR hasn't been opened yet

[2019-09-04 17:04] jlewi commented on #3709
I skimmed the doc again; here's my suggestion

1. I think there are 2 main improvements that we want to get LGTM'd and implemented in 0.7 and graduate to 1.0 in Q4
    1. The new simplified CLI semantics
    1. The reconcile implementation to enable plugins to perform order dependent steps (e.g. creation of default profiles, ingress/auth setup etc...)
1. We should call out the above two things and

[2019-09-04 17:28] jlewi commented on #3518
Thanks @swiftdiaries.

@gabrielwen do you think you will be able to pick this up?

[2019-09-04 18:08] gabrielwen commented on #4002
/assign @gabrielwen

[2019-09-04 18:09] jlewi opened #4056 "kfctl implements reconcile semantics"
/kind feature

**Why you need this feature:**
See design doc for kfctl v1: #3709

One of the proposal is for kfctl to have reconcile like implementation to deal with complex ordering of operations.

Filing this issue to track implementation.

[2019-09-04 18:19] yanniszark commented on #3709
@jlewi sounds good to me.
Can you also please move the kfctl design doc to the Kubeflow google drive, so that it's accessible from the same place as the other docs?

[2019-09-04 18:34] yanniszark commented on #3518
I believe @swiftdiaries has made a PR here: https://github.com/kubeflow/kubeflow/pull/4040

[2019-09-04 19:11] danieldn opened #4057 ""Couldn't copy application istio-ingress" error during kfctl generate on EKS"
/kind bug

**What steps did you take and what happened:**

Followed documentation for deploying Kubeflow on AWS https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/

Created EKS cluster using eksctl beforehand
[code]

Completed steps 1 and 2 for fetching kfctl v0.6.2, editing kfctl_aws.yaml with IAM role name
[code]

Received error on step 3 when running `kfctl generate all -V`

[code]

**Wh

[2019-09-04 20:11] swiftdiaries commented on #3518
That PR is for the apply semantics alone right now.
I can do a separate PR or bundle in the build changes in the same PR. Both work for me :)

[2019-09-04 20:22] jlewi commented on #3725
@Tabrizian How's this going?

[2019-09-04 20:28] jlewi commented on #3638
Thanks @lluunn so the remaining work here is to figure out how to out to integrate with profiles so that by default any new profile created will automatically bind the edit service account to the appropriate GCP service account?

Any thoughts on how we might do that?

[2019-09-04 20:30] jlewi commented on #3938
/asssign @krishnadurai

[2019-09-04 20:30] Tabrizian commented on #3725
I created the initial PR and CCed you.

Here is the PR: https://github.com/kubeflow/kubeflow/pull/4046

[2019-09-04 21:11] danieldn commented on #4037
There is an open issue addressing this feature
https://github.com/kubeflow/kubeflow/issues/3210

[2019-09-04 21:28] jlewi commented on #3850
@vjrantal Than you!

[2019-09-04 21:28] #3850 closed

[2019-09-04 22:04] jlewi commented on #3935
I think we should distinguish between what the defaults are and turning it on/off.
I think we should definitely support using ISTIO to mediate traffic to shared services in the kubeflow namespace.

@jamesthegiantpeach if you have observed problems with specific services and ISTIO can you open specific bugs for each service.

[2019-09-04 22:33] kunmingg opened #4058 "Profile & Kfam 1.0"
Place holder for graduating the Profile & Kfam to 1.0

Below is a table based on our proposed application requirements (see kubeflow/community#285)

## Requirements

### Configuration and deployment

| Description | Category | Status | Issue
|-------------|----------|-------------| -------------
| Kustomize package  | Required  | Done |
| Application CR  | Required  | Done | kubeflow/manifests#343

[2019-09-04 22:40] zhenghuiwang opened #4059 "Metadata for kubeflow 1.0"
What task should be finished when Kubeflow releases its 1.0
/assign @zhenghuiwang

[2019-09-04 22:45] lluunn opened #4060 "Notebook controller should expose liveness/readiness signal"
/kind feature

**Why you need this feature:**
part of jupyter 1.0 https://github.com/kubeflow/kubeflow/issues/3656

[2019-09-04 22:48] zhenghuiwang opened #4061 "KFServing for Kubeflow 1.0"
Tasks on KF serving deployment needs to be complete for Kubeflow 1.0

Below is a table based on our proposed application requirements (see kubeflow/community#285)

## Requirements

### Configuration and deployment

| Description | Category | Status | Issue
|-------------|----------|-------------| -------------
| Kustomize package  | Required  | |
| Application CR  | Required  |  |
| Images listed

[2019-09-04 22:50] abhi-g opened #4062 "Notebook manager UI 1.0"
/kind feature

Tracking issue for Notebook Manager UI to satisfy all of our 1.0 requirements based on kubeflow/community#285

[Kanban board tracking issues](https://github.com/orgs/kubeflow/projects/11)

## Requirements

### Configuration and deployment

| Description | Category | Status | Issue
|-------------|----------|-------------| -------------
| Kustomize package  | Required  | Done |
| Appl

[2019-09-04 22:59] lluunn opened #4063 "[Notebook controller] separate cluster scoped and namespaced scoped resources"
/kind feature

**Why you need this feature:**
part of jupyter 1.0

[2019-09-04 23:02] gigi-at-zymergen commented on #4057
Getting the same thing. I'm wondering if it's related to https://github.com/kubeflow/manifests/pull/221 and wondering if I can just mkdir and just copy all the base files into a folder under ${KFAPP}/kustomize/istio-ingress

[2019-09-04 23:03] lluunn opened #4064 "[Notebook controller] it should be deployable on its own"
/kind feature

**Why you need this feature:**
part of jupyter 1.0

https://github.com/kubeflow/community/pull/285

To the extent possible users should be able to run kustomize build | kubectl apply inside the kustomize package to deploy the application stand alone

[2019-09-04 23:03] kunmingg opened #4065 "Profile & Kfam: add Application CR"
Profile & Kfam: add Application CR

[2019-09-04 23:05] lluunn opened #4066 "[Notebook controller] support json logging"
/kind feature

**Why you need this feature:**
part of jupyter 1.0

Applications should optionally emit structured logs with suitable metadata to facilitate debugging.

e.g. CR controllers should annotate log messages with the name of the resource involved so it's easy to filter logs to all messages about a resource

[2019-09-04 23:05] abhi-g opened #4067 "Notebooks Manager UI needs support for upgradability"
/kind feature

**Why you need this feature:**
Applications Requirement for Notebooks Manager UI to be included in Kubeflow 1.0

**Describe the solution you'd like:**
It should be possible to upgrade the web application for notebooks management to be upgraded via the kfctl upgrade. Please see details on design and requirements for the application in [Upgrade Design Doc](https://bit.ly/2ZWmHJ9)

[2019-09-04 23:08] lluunn commented on #4016
This is already done, both in the old and new version

[2019-09-04 23:08] #4016 closed

[2019-09-04 23:16] abhi-g opened #4068 "Verify the Application CR for Notebooks Manager UI webapp"
/kind feature

**Why you need this feature:**
Needed to complete requirements for Kubeflow 1.0 to include the Notebooks Manager UI

**Describe the solution you'd like:**
Verify that there is an Application CR defined for the notebooks manager web app.

[2019-09-04 23:17] jlewi commented on #3638
Looks like we have #3917 tracking creating default credentials when creating a new profile.

[2019-09-04 23:19] jlewi commented on #3862
Closing this as it should be fixed as part of the v0.6.2 release
https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

The config now pins to specific commits of the manifests repo
https://github.com/kubeflow/kubeflow/blob/c54401e6c865360344e852ab801278f47d91f5e8/bootstrap/config/kfctl_k8s_istio.0.6.2.yaml#L11

[2019-09-04 23:19] #3862 closed

[2019-09-04 23:20] abhi-g opened #4069 "Notebooks Manager UI needs liveness/readiness probes"
/kind feature

**Why you need this feature:**
Required for Kubeflow 1.0 inclusion of Notebooks Manager UI

**Describe the solution you'd like:**
Notebooks manager UI needs liveness and readiness probes

[2019-09-04 23:26] kunmingg opened #4070 "Profile & Kfam: Upgradeability"
Profile & Kfam: Upgradeability

[2019-09-04 23:26] kunmingg opened #4071 "Profile & Kfam: Version stability"
To guarantee backward compatibility:
- Profile CRD should be locked in v0.7.0
- Kfam API should be locked in v0.7.0

----

Will create v1 API which will be same as v1beta1 and achieve compatibility for free.

[2019-09-04 23:26] kunmingg opened #4072 "Profile & Kfam: Backward compatibility"
Profile & Kfam: Backward compatibility

[2019-09-04 23:26] kunmingg opened #4073 "Profile & Kfam: Supports status subresource"
Profile & Kfam: Supports status subresource

[2019-09-04 23:26] kunmingg opened #4074 "Profile & Kfam: CRD schema validation"
Profile & Kfam: CRD schema validation

[2019-09-04 23:26] kunmingg opened #4075 "Profile & Kfam: Liveness/Readiness signals"
Profile & Kfam: Liveness/Readiness signals

[2019-09-04 23:26] kunmingg opened #4076 "Profile & Kfam: Prometheus metrics"
See parent issue: https://github.com/kubeflow/kubeflow/issues/4058
And common formatting: https://github.com/kubeflow/kubeflow/issues/4099

[2019-09-04 23:26] kunmingg opened #4077 "Profile & Kfam: E2E tests"
Profile & Kfam: E2E tests

[2019-09-04 23:26] kunmingg opened #4078 "Profile & Kfam: Scalability / load testing"
Profile & Kfam: Scalability / load testing

[2019-09-04 23:26] kunmingg opened #4079 "Profile & Kfam: Continuous building of docker images"
Profile & Kfam: Continuous building of docker images

[2019-09-04 23:27] kunmingg commented on #4065
Should be in manifests repo, close here.

[2019-09-04 23:27] #4065 closed

[2019-09-04 23:28] #3999 closed

[2019-09-04 23:29] #3986 closed

[2019-09-04 23:31] jlewi commented on #4025
@chaosxeras Can you explain what broken means?

[2019-09-04 23:32] jlewi commented on #3920
@butuzov any update?

See also #4045 about deprecating and removing kfctl.sh.

[2019-09-04 23:35] #3886 closed

[2019-09-04 23:45] krishnadurai commented on #3938
/assign @krishnadurai

[2019-09-04 23:53] jlewi commented on #3861
@blublinsky Any interest in fixing this for 0.7?

[2019-09-04 23:54] #3858 closed

[2019-09-05 01:25] gigi-at-zymergen commented on #4057
I think this is an issue with a mismatch between the kubeflow/manifests `master` and the `v0.6-branch` archives.

Master has recently merged istio-ingress manifests under an aws subfolder. I found I was able to generate if I modified my kfctl_aws.yaml config file to specify :
[code]

[2019-09-05 02:08] chaosxeras commented on #4025
Hi jlewi, here you go

![image](https://user-images.githubusercontent.com/14956538/64306302-eab85780-cfc4-11e9-9a89-0a07a347fa29.png)

<img src="../ConfigInputs.png" alt="ConfigInputs">
<img src="../LocalDeployment.png" alt="LocalDeployment">

[2019-09-05 03:24] #3623 closed

[2019-09-05 03:43] blublinsky commented on #3861
Its right here
https://github.com/kubeflow/manifests/pull/276 <https://github.com/kubeflow/manifests/pull/276>

Boris Lublinsky
FDP Architect
boris.lublinsky@lightbend.com
https://www.lightbend.com/

[2019-09-05 04:52] samuelthan commented on #4057
Thanks @gigi-at-zymergen for the able to get it working through this suggestion

[2019-09-05 05:25] butuzov commented on #3920
@jlewi Hi.

Sorry, was and a bit still busy with ongoing things. Can you clarify, regrading #3952 - you want to rebase changes to 0.6 branch?

thank you.

[2019-09-05 06:41] animeshsingh commented on #4061
/assign @animeshsingh @Tomcli

[2019-09-05 11:23] SpontaneousDuck opened #4080 "Notebook external access with ssh"
/kind question

**Question:**
Is it possible to ssh in to a Kubeflow Notebook from and external computer? We currently have computers with Jupyter installed that users user Visual Studio to remotely connect to the Jupyter kernel and develop their code. I believe this connection just works through ssh. Would there be a way to replicate this process with notebooks in Kubeflow? Thanks!

[2019-09-05 11:52] PrathamSolanki commented on #4037
So I managed to make it work:

1) Create a secret in the appropriate namespace:

[code]

2) Bind it to the service account:

`kubectl -n kubeflow patch serviceaccount pipeline-runner -p '{"imagePullSecrets": [{"name": "gitlab-auth"}]}'`

3) Inside the yaml that specifies Seldon config add:

[code]

[2019-09-05 11:52] #4037 closed

[2019-09-05 15:31] danieldn commented on #4057
Confirming that modifying kfctl_aws.yaml as suggested by @gigi-at-zymergen results in generate completing with errors. Not sure if this is an expected step on behalf of user. If so, I can close and move this comment to the aws documentation

[2019-09-05 16:11] gigi-at-zymergen commented on #4057
Pretty sure this is not expected and due to different release cycles and mismatch in versioning/branches for manifests repo vs. the currently released kfctl_aws.yaml file. Probably need to merge master into the v0.6-branch of the manifests repo.

[2019-09-05 16:36] anupash147 opened #4081 "Jupyter notebook gives "Error during WebSocket handshake: Unexpected response code: 504""
/kind bug

I have implemented kubeflow in aws using https://deploy-preview-977--competent-brattain-de2d6d.netlify.com/docs/started/k8s/kfctl-k8s-istio/. Also configured my dex auth with my company policy.  I am able to setup the multiuser environment. But when i succeed creating the jupyter server and start using the server the notebook never connects.

On inspect i get error : Error during WebSoc

[2019-09-05 18:07] #3380 closed

[2019-09-06 00:07] #3382 closed

[2019-09-06 01:09] holdenk commented on #4045
I think just deleting it would be the best path forward.

[2019-09-06 02:38] holdenk commented on #4045
Gave a first stab at it in - https://github.com/kubeflow/kubeflow/pull/4084

[2019-09-06 02:45] QxiaoQ opened #4085 "Unable to mount volumes for pod mysql"
/kind bug

**What steps did you take and what happened:**
When I start the mysql POD , met this error : Unable to mount volumes for pod “mysql-7559c6b79b-rffqd_kubeflow(95a1aee5-cfef-11e9-870d-0020091e6d26)“: timeout expired waiting for volumes to attach or mount for pod “kubeflow”/“mysql-7559c6b79b-rffqd”. list of unmounted volumes=[mysql-persistent-storage default-token-q4lzm]. list of unattache

[2019-09-06 02:48] QxiaoQ commented on #4085
@xauthulei @jinchihe

[2019-09-06 03:17] jlewi commented on #3920
@butuzov replied on the issue.

[2019-09-06 03:28] jlewi commented on #3989
@kkasravi why would the apply refactor fix this? Do we know why the Application resource wasn't installed?

Could this be a race condition because the Application CR is still being created when we try to create an Application resource?

@praveen049 If you provide the full log output that would help us tell whether the Application CR was created before trying to create the Application resource. If

[2019-09-06 03:31] jlewi commented on #3709
@yanniszark I don't seem to have permission to move it the team drive. Can you make jlewi@kubeflow.org an owner?

[2019-09-06 04:45] Jeffwan commented on #4045
It makes sense to remove scripts folder now. Last time I mean `ksonnet` package have still have reference and I am not sure if all components have been migrated. I would suggest to move that folder later.

[2019-09-06 06:17] krishnadurai commented on #4085
@QxiaoQ could you please tell us a bit more about your installation - which config have you used for installing with kfctl?

[2019-09-06 06:32] QxiaoQ commented on #4085
Sure.
I have build my kfctl from source code based on ppc64le.
And I install & deploy kubeflow following this doc: https://deploy-preview-1134--competent-brattain-de2d6d.netlify.com/docs/started/cloud/getting-started-icp/

# The following command is optional, to make kfctl binary easier to use.
export PATH=$PATH:<path to kfctl in your Kubeflow installation>

export KFAPP=<your choice of applicatio

[2019-09-06 09:04] PrathamSolanki commented on #4034
[Temporary fix for Argo image](https://docs.seldon.io/projects/seldon-core/en/latest/examples/kubeflow_seldon_e2e_pipeline.html#Temporary-fix-for-Argo-image) solved it for me. My Seldon Core version is 0.2.7.

[2019-09-06 09:04] #4034 closed

[2019-09-06 11:45] jinchihe commented on #4085
/assign @jinchihe

@QxiaoQ Let me take a look onve get chance, thanks.

[2019-09-06 13:05] jinchihe commented on #4085
@QxiaoQ What type PV used? if NFS, could you please try to restart the NFS service?

[2019-09-06 16:50] abhi-g opened #4086 "Prometheus/Telemetry metrics for Notebooks Manager UI"
/kind feature

**Why you need this feature:**
Identify and create prometheus metrics for the Notebooks Manager UI. This issue is part of getting Notebooks Manager UI ready for Kubeflow 1.0

**Describe the solution you'd like:**
Idenitfy which metrics make sense to track the usage and usability of the Notebooks manager UI. Examples include:

   - #successful notebook creation
   - #notebook pods ru

[2019-09-06 17:06] abhi-g opened #4087 "Create end-to-end tests for Notebook Manager UI for releases"
/kind feature

**Why you need this feature:**
We need end-to-end tests for Notebook Manager UI to ensure releases are stable. This is an application criteria for Kubeflow 1.0.

**Describe the solution you'd like:**
We should inventory existing tests for the Notebooks manager UI and create any missing test flows.

[2019-09-06 17:17] abhi-g opened #4088 "Scalability and Load testing for Notebooks Manager UI"
/kind feature

**Why you need this feature:**
Identify scale and load tests needed for the notebooks manager UI. This is a requirement for Kubeflow 1.0.

**Describe the solution you'd like:**
We need load/scale tests to ensure the UI remains stable and reliable with increasing number of Notebook pods across multiple namespaces in a deployment that it will need to track. Publishing tested limits wi

[2019-09-07 16:22] jamesthegiantpeach commented on #3891
`ec2:DescribeNetworkInterfaces` is also missing now

[2019-09-07 19:40] krishnadurai commented on #3096
/remove lifecycle/stale

[2019-09-07 23:21] mosn commented on #767
I am a swift developer and would like to have a look at this as well. I wonder is the issue resolved and someone made the image or priority shifted?

[2019-09-08 20:04] gar1t opened #4090 "Looping "Could not find namespace kubeflow-anonymous, wait and retry" on initial apply"
/kind bug

**What steps did you take and what happened:**

Ran `kfctl apply all` as per instructions in https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/.

Operation did not exit but looped with these messages:

[code]

**What did you expect to happen:**

I expected the command to exit successfully having applied the config.

**Environment:**

- Kubeflow version: (version number can be fo

[2019-09-08 20:46] #3392 closed

[2019-09-08 21:46] #3391 closed

[2019-09-08 22:40] jlewi commented on #3860
Closing this issue because we have cut 0.6.2

[2019-09-08 22:40] #3860 closed

[2019-09-08 23:00] jlewi commented on #3893
0.6.2 has been released so I'm going to go ahead and close this.

[2019-09-08 23:00] #3893 closed

[2019-09-08 23:04] jlewi commented on #2152
This has been deployed in staging and production so marking this as fixed.

[2019-09-08 23:04] #2152 closed

[2019-09-08 23:08] jlewi commented on #3847
This method strips out secrets before writing KfDef to a file.
https://github.com/kubeflow/kubeflow/blob/5b652b18892c7b49af48ecc365b0af1080e0cb06/bootstrap/pkg/apis/apps/kfdef/v1alpha1/application_types.go#L612

We should think about generalizing that method so we can reuse the same stripping logic before logging KFDef.

[2019-09-08 23:10] jlewi commented on #3753
@kunmingg Is this fixed? It looks like deploy.kubeflow.cloud supports deploying v0.6 so I'm guessing this has been fixed.

[2019-09-08 23:36] jlewi commented on #3150
@kimwnasptd @yanniszark Any update on this?

[2019-09-08 23:41] jlewi commented on #2712
Closing this because the new refactored backend which uses the same logic is now in prod.

[2019-09-08 23:41] #2712 closed

[2019-09-08 23:52] jlewi commented on #3829
This should be fixed by #4029.

[2019-09-08 23:52] #3829 closed

[2019-09-08 23:54] jlewi commented on #3685
Seems reasonable.

[2019-09-09 01:05] #4057 closed

[2019-09-09 01:11] xauthulei commented on #4085
@jinchihe ,we prefer to use the private  local NFS, but it still used its predefine the PV:
[code]

Maybe we miss something here?

[2019-09-09 01:42] jlewi commented on #4090
/cc @yanniszark @kunmingg

[2019-09-09 01:45] jlewi commented on #4081
/cc @Jeffwan

[2019-09-09 01:52] jlewi commented on #4047
@durch You are correct  --config needs to be provided.

Thanks @vjrantal; I'm going to close this since it looks like your PR fixed this issue.

[2019-09-09 01:52] #4047 closed

[2019-09-09 01:53] jlewi commented on #4044
@zmunro Which version of Kubeflow did you try to deploy?

/cc @kunmingg

[2019-09-09 02:11] jinchihe commented on #4085
Seems we should not create the PV, since if we install kubeflow on premise cluster, will failed to mount PV/PVC. Better solution is to check the platform, only create the PVs for GCP, othwise do not generate the PV file or just do not create PV for all platforms for simplying?

[code]

[2019-09-09 02:12] jinchihe commented on #4085
/assign @QxiaoQ
/assign @xauthulei

[2019-09-09 02:21] xauthulei commented on #4085
@jinchihe , I will check this with @QxiaoQ , Thanks.

[2019-09-09 05:45] Kyrremann commented on #3759
Should we get #3881 merged?

[2019-09-09 06:46] #3358 closed

[2019-09-09 10:55] yanniszark commented on #3759
@kkasravi does the new apply logic (which uses kubectl) also fix this problem?
Or do we need to add blank imports at certain locations in the code?

[2019-09-09 11:02] Kyrremann commented on #3759
If a new version of `kfctl` rely on the users `kubectl` I think the problem will be solved by it self.

[2019-09-09 11:30] ryandawsonuk opened #4093 "installs from releases such as 0.6 of kfctl are broken"
Thrift have moved from git.apache.org to github - https://github.com/hashicorp/terraform/issues/22664#issuecomment-527142529

This is fixed in master - https://github.com/kubeflow/kubeflow/issues/4051

But tagged versions also reference the old thrift git

[2019-09-09 12:51] yanniszark commented on #4093
@ryandawsonuk broken in what way?
I thought that git.apache.org was a source needed during the build of kfctl.
Is it used elsewhere inside a Kubeflow installation?

[2019-09-09 12:58] jlewi commented on #4043
Links to source
https://github.com/kubeflow/manifests/blob/56e2fb15db286198f7a53723cb1fbfecf3fe83fb/gcp/iap-ingress/base/deployment.yaml#L44

https://github.com/kubeflow/manifests/blob/56e2fb15db286198f7a53723cb1fbfecf3fe83fb/gcp/iap-ingress/base/config-map.yaml#L127

It looks like there may have been a problem patching the services.

If anyone encounters this issue it would be great to grab the f

[2019-09-09 13:04] jlewi commented on #4043
It looks like checkBackend is checking if the backend timeout is updated to 1 hour.
https://github.com/kubeflow/manifests/blob/56e2fb15db286198f7a53723cb1fbfecf3fe83fb/gcp/iap-ingress/base/config-map.yaml#L122

But setup.sh doesn't actually update the timeout to one hour; that happens in in update_backend.sh.
So maybe we should remove that check?

So hypothesis is that its update_backend.sh that i

[2019-09-09 13:06] jlewi commented on #4043
We should aim to do the following

1. Try to troubleshoot this and come up with docs for explaining how users can figure out what the root cause is and fix it
1. For 0.7 add -e  to the bash scripts so we echo commands to aid debugging
1. For 0.7 remove the check in checkBackend that verifies the timeout is set correctly from setup.sh

[2019-09-09 13:06] #4041 closed

[2019-09-09 13:09] jlewi commented on #4036
Thanks @atsuik for the bug report.

@kunmingg is this an issue in the profile controller?

[2019-09-09 13:13] jlewi commented on #4028
Thanks for the report.

I believe @Tomcli and @swiftdiaries are working on adding containerd support

See kubeflow/manifests#266

@swiftdiaries @Tomcli do you think this will be ready for 0.7?

[2019-09-09 13:14] vkoukis commented on #3150
We are now testing a Kubeflow 0.6-based MiniKF box, we expect to release it by the end of the week. I'll be back with updates, so we can close this issue.

[2019-09-09 13:21] yanniszark commented on #4090
@gar1t I believe that you saw this message during apply, not generate.
Can you confirm?

This is more of a UX issue than a bug.
The kfctl code is waiting for the default namespace to be created before exiting.

However the code should be of LogLevel info and not warn, since it is not an abnormal condition.

In addition, I feel that the wording should be different to convey that this is a normal pa

[2019-09-09 13:32] jlewi commented on #4025
Thanks @chaosxeras

Looks like an easy fix; looks like the doc is located here
https://github.com/kubeflow/website/blob/master/content/docs/other-guides/virtual-dev/getting-started-minikube.md

Images are here
https://github.com/kubeflow/website/tree/master/content/docs/started

We should probably move the PNGs into the same directory

@chaosxeras any interest in submitting a PR to fix this?

[2019-09-09 13:34] ryandawsonuk commented on #4093
Oh true what I was trying to do was build kfctl. But there's no need to do that for old releases as it can be obtained at https://github.com/kubeflow/kubeflow/releases/ Thanks

[2019-09-09 13:34] #4093 closed

[2019-09-09 13:36] gar1t commented on #4090
Yes indeed - my apologies - that certainly was `apply` and not `generated`. I updated the issue to reflect this.

The problem is that this is in a retry loop and, I believe, times-out with an error. I killed the process in each case assuming this was an issue with configuration.

[2019-09-09 13:38] jlewi commented on #4005
@SheharyarTkxel are you running in GCP hosted notebook?
https://cloud.google.com/ai-platform/notebooks/docs/

Those instructions are specific to running a Cloud AI Platform notebook.

@karthikv2k Should we clarify the docs to make it clear those instructions are for a CAIP notebook and not a kubeflow notebook?

Is there a reason CAIP notebooks require special instructions? Why aren't the instructi

[2019-09-09 13:42] jlewi commented on #4003
Thanks @LeonardAukea for the report. Were you using the UI to create notebooks or were you creating notebooks using the kubectl CLI?

@kimwnasptd Is this something we should fix in the spawner UI?

[2019-09-09 13:48] jlewi commented on #3974
@UrmsOne thanks for reporting this and getting to the root of it.

Any interest in opening a PR to fix this? I think we would need to make two changes

1. Add a command line argument (or environment variable) to the controller to set what the behavior should be
   * Whether we use a command line flag or environment variable should be based on what is more consistent with the existing behavior of t

[2019-09-09 13:50] jlewi commented on #3970
Duplicate of #4003

[2019-09-09 13:50] #3970 closed

[2019-09-09 13:50] jlewi commented on #4003
Per #3970 looks like we also need to reject invalid names.

[2019-09-09 13:52] jlewi commented on #3911
I'm going to close this issue. There are updated instructions for installing Kubeflow on minikube here.
https://www.kubeflow.org/docs/started/workstation/getting-started-linux/#minikube

Please try those and if you are still having problems open a new issue.

[2019-09-09 13:52] #3911 closed

[2019-09-09 14:02] gar1t commented on #4090
Let me get you more info here. I see now that I need to let this run to completion - and if there's a timeout I'll investigate further. And yes - @yanniszark your proposed message I think will do the trick wrt UX.

[2019-09-09 14:39] yeya24 commented on #4086
I' d like to work on this feature.

[2019-09-09 14:40] yeya24 commented on #4076
I' d like to work on this feature. But what metrics do we need?

[2019-09-09 14:53] ryandawsonuk commented on #3866
Could anyone explain how you set ClusterRbacConfig to OFF? I am also hitting issues communication issues (on non-kubeflow services) in a cluster with kubeflow installed. I can see [some parameters in the code](https://github.com/kubeflow/kfctl/search?q=ClusterRbacConfig&unscoped_q=ClusterRbacConfig) but not sure how you set them.

[2019-09-09 16:33] gar1t commented on #4090
The `apply` operation does indeed fail with a non-zero exit code (1) with this message:

[code]

The pods continue to be setup however after the `apply` process exits.

[2019-09-09 16:36] abhi-g commented on #4086
@yeya24 You're probably correct. The metrics I listed make more sense for the controller. Hopefully we can identify metrics more appropriate to the UI itself if any.

[2019-09-09 16:40] yeya24 commented on #4086
Yes, actually I some pod or infra related metrics are only useful in controller. For ui, some http api related metrics like total http requests, http latency are OK.

I will open a PR soon for controller metrics. But maybe I think we don't need metrics for ui, just does not make much sense.

[2019-09-09 17:05] gar1t opened #4094 "Namespace select only shows kubeflow-anonymous"
/kind bug

**What steps did you take and what happened:**

1. Open dashboard
2. Try to select a namespace

The dropdown contents flash for a moment and then only show a single entry: `kubeflow-anonymous`.

See this video for a demo:

https://www.loom.com/share/70a896c7fe9948fe82cabb58221107c4

**What did you expect to happen:**

In my previous use of Kubeflow, there were a number of namespaces.

*

[2019-09-09 17:06] jlewi commented on #4056
Bump to P0 because this must land in 0.7

[2019-09-09 17:24] jlewi opened #4095 "kfctl doesn't build with clean build because thrift repo is unavailable"
/kind bug

**What steps did you take and what happened:**
See kubeflow/manifests#350 where kfctl build fails in a presubmit.

I was able to reproduce it locally

[code]

Here we set the GOPATH to a clean directory to force all dependencies to be pulled.

The build fails with

[code]

It looks like lots of people are reporting similar issues; e.g.
hashicorp/terraform#22664

[2019-09-09 17:24] gar1t commented on #3232
I'm seeing this in 0.6.2 and command offered by @doschkinow does work-around the problem.

I think this issue should be reopened.

[2019-09-09 17:33] jlewi commented on #4095
Adding

[code]
to go.mod appears to fix the issue.

[2019-09-09 17:48] jlewi commented on #4095
Looks like the fix is already on master.
https://github.com/kubeflow/kubeflow/blob/master/bootstrap/go.mod#L62

[2019-09-09 21:03] jlewi commented on #4095
Fixed by #4097

[2019-09-09 21:03] #4095 closed

[2019-09-09 21:09] kunmingg commented on #4090
Are you running `apply` as cluster admin?

[2019-09-09 21:16] yanniszark commented on #4085
Hi @QxiaoQ!
I faced a similar problem with the `kfctl_existing_arrikto` config, trying to remove all cloud specific parts.

The [kfctl_existing_arrikto](https://www.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto/) installation uses PVCs and only depends on having a default StorageClass.
This deployment works well for on-prem installations and doesn't depend on any cloud-specific feature, so

[2019-09-09 21:33] kunmingg opened #4099 "Monitoring for kubeflow 1.0"
/kind feature

**Why you need this feature:**
We need to have unified monitoring signals among kubeflow components:

- Central Dashboard
- Notebooks Manager UI
- Jupyter Notebooks Controller
- [Profiles Controller](https://github.com/kubeflow/kubeflow/issues/4076)
- TFJob Operator
- Model Deployment instance using Seldon

**Describe the solution you'd like:**
Common monitoring metrics should have

[2019-09-09 21:35] kunmingg commented on #4076
@yeya24
Thanks!
How about start with metrics in https://github.com/kubeflow/kubeflow/issues/4099?
Any suggestion on how to show error messages through prometheus metrics?

[2019-09-09 21:35] gar1t commented on #4090
This is on microk8s on a single Mutlipass (Ubuntu) VM. I'm running the `apply` command using `sudo`. I don't know if I'm a cluster admin in this case. Is that defined by a group association?

[2019-09-09 21:47] elviraux commented on #3784
Hi, closing a duplicate of https://github.com/kubeflow/kubeflow/issues/3784

[2019-09-09 21:47] #3784 closed

[2019-09-09 21:49] yeya24 commented on #4076
Actually, error messages is not very suitable for prometheus metrics. They should be deal with some logging systems.

At most times, we can just use a simple counter type to represent the total times of error.  If the type of error is limited, we can add the error type as a label of the metrics.

[2019-09-09 21:58] anupash147 commented on #4081
Thanks fo the response @jlewi , I am using the istio gateway, and i tried adding upgradewebsocket : true ref : https://github.com/istio/istio/issues/9152 but it does not still seems to work. I still get the 504..

In work i editted the virtualservice that defines the routing to the gateway. Let me know if you need more information?

[2019-09-09 22:08] kunmingg commented on #4076
Sounds good, how about categorize errors by calling path and / or error severity?

[2019-09-09 22:14] swiftdiaries commented on #3972
You could port-forward to the istio-ingressgateway service,
`kubectl port-forward svc/istio-ingressgateway 8080:80 -n istio-system`

[2019-09-09 22:15] swiftdiaries opened #4100 "Bare-metal guide for Kubeflow."
Issue for reference:
https://github.com/kubeflow/kubeflow/issues/3972

[2019-09-09 22:16] anupash147 commented on #4081
Another related issue looks pretty much the same : https://github.com/kubeflow/kubeflow/issues/1344

[2019-09-09 22:17] kunmingg commented on #4081
@jlewi
Shouldn't be related unless ambassador is being used.

@anupash147
How did you configure dex?

[2019-09-09 22:29] elviraux commented on #2863
@jlewi  what's the status of it? Can this issue be closed?

[2019-09-09 22:57] kunmingg commented on #4099
Should we break errors into sub types based on request path and / or error severity?
So errors now have 3 tags:
[code]

[2019-09-09 23:12] elviraux commented on #3024
Closing the issue as author hasn't replied in two month

[2019-09-09 23:12] #3024 closed

[2019-09-09 23:13] elviraux commented on #3132
Seems to be fixed, closing

[2019-09-09 23:13] #3132 closed

[2019-09-09 23:17] elviraux commented on #3230
@jlewi is it still an issue in 0.6?

[2019-09-09 23:18] elviraux commented on #3359
@Jeffwan what's the state? Is it fixed?

[2019-09-09 23:25] jcooklin opened #4101 "Namespace registration fails when userDetails include a dot"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

During Namespace registration the name of the namespace is being retrieved from the email address and the dot is not being replaced with a hyphen causing.  The profile is created but the namespace isn't due to it not being a valid.

**What did you expect to happen:**

I expected my emai

[2019-09-09 23:27] elviraux commented on #3615
Closing, duplicate of https://github.com/kubeflow/kubeflow/issues/3615

[2019-09-09 23:27] #3615 closed

[2019-09-09 23:42] yanniszark commented on #3972
Hi @whillas!
We have tried [kfctl_existing_arrikto](https://www.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto/) on many bare-metal clusters, using MetalLB to expose the Web UI.
You will find instructions in the guide on how to install MetalLB.

[2019-09-09 23:57] jlewi commented on #3518
@gabrielwen PTAL

[2019-09-10 01:38] chaosxeras commented on #4025
Hi @jlewi,

I have not done that before haha. Sorry, I'll leave it to you

[2019-09-10 02:39] anupash147 commented on #4081
@kunmingg : we configured kubeflow to the OIDC protocol.

[2019-09-10 06:30] yaser-hameed opened #4103 "Kiali Path exposed on istio-ingressgateway as nodeport, but the service shows clusterIP"
/kind question

Does kiali work out of the box with kubeflow version 0.6.2 with the istio gateway ? I can see the following in istio-ingressgateway.

- name: https-kiali
    nodePort: 31988
    port: 15029
    protocol: TCP
    targetPort: 15029

However the kiali service is exposed as a cluster ip:

kubectl get svc kiali -n istio-system
NAME    TYPE        CLUSTER-IP       EXTERNAL-IP   PORT(S)

[2019-09-10 06:37] krishnadurai commented on #3866
@ryandawsonuk you could edit using:
[code]

[2019-09-10 06:53] krishnadurai commented on #4103
@yaser-hameed Looks like in the official helm chart for Istio installation they have exposed it through [kubernetes ingress](https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/kiali/templates/ingress.yaml).
Could you see if this works for you?

[2019-09-10 06:57] krishnadurai commented on #4087
Thanks @abhi-g for creating this issue. A couple of questions here for the tests:
1) Which auth provider are we planning to include for the test?
2) Will this test go on to cover multi-user scenarios?

[2019-09-10 11:11] catalinad90 opened #4104 "PVCs for jupyterhub notebook are not being created dynamically"
/kind bug

I have Kubeflow installed on Kubernetes cluster with the kustomize solution and kfctl. When I try to spawn a Jupyterhub notebook from the Kubeflow UI, the PVC of the notebook is not being created dynamically. I need to have a PVC already created (manually) in the namespace and then add the name of the PVC in the workspace volume section.

The default Storage Class of Kubernetes cluster

[2019-09-10 12:41] jlewi commented on #4090
@gar1t Could you provide the full logs for `kubectl apply`?

@kunmingg @yanniszark Will we be able to tell from the logs whether we attempted to create the namespace `kubeflow-anonymous` and if there was an error doing so? It looks like the problem is either the namespace wasn't created or there was an error.

[2019-09-10 12:45] jlewi commented on #4104
@catalinad90 the error message is indicating that your cluster doesn't have a default storage class and that is why the PVC isn't created.

Above you said

Can you provide the output of

[code]

So we can confirm that you have a default storage class defined.

/cc @kimwnasptd

[2019-09-10 12:46] jlewi commented on #3940
@lluunn Any update on this?

[2019-09-10 12:52] jlewi commented on #3938
@krishnadurai Any update on this?

I'm bumping to P0 because I think if we are going to introduce our own cluster role and start using role aggregation we do that in 0.7 so we can get it stable before 1.0.

[2019-09-10 12:54] jlewi commented on #3823
@kunmingg Any update on this? What is the work that needs to land in 0.7?

[2019-09-10 12:59] jlewi commented on #3822
Bump to P0 because we need a v1beta1 controller in 0.7.

I think the immediate step is to add multi-versioning support to the controller and create a v1beta1 version of the API.

We can probably follow what @lluunn is doing for the Jupyter controller see: #3940

[2019-09-10 13:00] jlewi commented on #3772
@kimwnasptd Any update on this?

[2019-09-10 13:00] catalinad90 commented on #4104
Maybe is there a way to specify the storage type for the dynamic PVC in the kustomize file?

[2019-09-10 13:04] jlewi commented on #3709
@yanniszark Any update on this?

[2019-09-10 13:06] yeya24 commented on #4076
Actually, I don't think this make any sense. This should be done in logging.

[2019-09-10 13:07] jlewi commented on #3655
@lluunn Any update on this?

Bump to P0 because it must land in 0.7.

[2019-09-10 13:12] jlewi commented on #3638
@lluunn Are we enabling workload identity by default on master?
https://github.com/kubeflow/kubeflow/blob/5b652b18892c7b49af48ecc365b0af1080e0cb06/deployment/gke/deployment_manager_configs/cluster-kubeflow.yaml#L39

* It looks like the default value is set to false ?

[2019-09-10 13:15] jlewi commented on #3096
@elviraux How come this is P0? If its P0 someone that means its release blocking and ideally someone should be assigned to it. The fact that the issue was marked stale suggests its not P0 since no one is actively working on it.

@krishnadurai What is the work for 0.7 and was it the priority?

[2019-09-10 13:17] jlewi commented on #3614
@krishnadurai and @animeshsingh Any update on this?

How does this relate to #3938  to define cluster roles for Kubeflow and use cluster role aggregation?

[2019-09-10 13:17] #3547 closed

[2019-09-10 13:18] jlewi commented on #3518
Bump to P0 because this must land in 0.7.

[2019-09-10 13:22] jlewi commented on #3489
Bump to P0 because this is required for upgrades and thus 0.7 blocking.

[2019-09-10 13:24] jlewi commented on #1394
@therc If people want to unidle they would do that through the UI.

@kimwnasptd Any update on this?

[2019-09-10 13:29] jlewi commented on #3872
Duplicate of 3770

[2019-09-10 13:29] #3872 closed

[2019-09-10 13:41] jlewi commented on #3851
There are two issues being discussed in the original bug report

1. @amygdala is reporting some possible areas for UX improvement in the interaction between the namespace selector and the notebook creator UI

     * It looks like the behavior is the same in v0.6.2
     * I would classify this as P1 or P2

1. Sarah is reporting issues with selecting namespace in the UI.

     * I suspect this is #3

[2019-09-10 13:43] jlewi commented on #3835
Closing this issue. Since it looks like it has been resolved.

[2019-09-10 13:43] #3835 closed

[2019-09-10 13:49] jlewi commented on #3821
Looks like this has been resolved and #3838 has been filed for further improvement.

[2019-09-10 13:50] #3821 closed

[2019-09-10 13:52] jlewi commented on #3803
Looks like the previous link to the docs was a link to a preview and is now broken.

Here's a link to the AWS specific instructions.

[2019-09-10 13:52] #3803 closed

[2019-09-10 13:54] jlewi commented on #3793
Fixed by v0.6.2

[2019-09-10 13:54] #3793 closed

[2019-09-10 13:55] jlewi commented on #3484
@rileyjbauer Is this still an issue or has it been fixed in the latest release of KF pipelines?

[2019-09-10 14:02] kedarX commented on #4090
@jlewi ran into same issue. don't see a template in kustomize folder for profile kubeflow-anonymous

[code]

[2019-09-10 14:16] catalinad90 commented on #4104
Yes, after some troubleshooting the storage was not set as default in kubernetes cluster.
Is there a way to explicitly set the default storage in the kustomize deployment, without having to set the default storage in kubernetes?

For instance, in the jupyterhub deployment with helm there is a way to explicitly specify the default storage in the configuration.

singleuser:
  extraTolerations: []

[2019-09-10 14:21] kkasravi commented on #3489
@jlewi If we merge #4052 I'll sync with kfctl.

I haven't tallied what PR's remain that are bootstrap/kfctl related.

[2019-09-10 14:21] catalinad90 commented on #4104
This is the config file used with kfctl:
[code]

[2019-09-10 16:25] kunmingg commented on #4076
Can we make `reuqest path` and `error severity` as 2 tags in errors?
So we alert is triggered, we can include them in alert messages, and oncall people will know which call path has errors, and roughy what kind of error it is?
For example for [kfam](https://github.com/kubeflow/kubeflow/blob/master/components/access-management/api/swagger.yaml) we can include the paths as error metrics tags

[2019-09-10 16:43] krishnadurai commented on #3938
@jlewi I should be able to pick this up by the end of this week.

[2019-09-10 16:48] krishnadurai commented on #3614
#3938 will provide a framework for defining user roles for each application. The idea here is to populate the role definitions here into #3938's implementation.
We should get started with this along with #3938.

[2019-09-10 16:53] fabianbaier commented on #4081
Hi,

Iam running into an similar issue (though not using dex) on AWS. Protocol used for the ingress is `TCP` so I was hoping websockets would work out of the box. It works fine when using port-forwarding:

```kubectl port-forward -n istio-system svc/istio-ingressgateway 8080:80```

Best,
FB

[2019-09-10 17:23] #3481 closed

[2019-09-10 17:58] pdmack commented on #3728
Still there in the 0.6.2 kfctl
[code]
[code]
`kfctl apply k8s -V`

[2019-09-10 18:17] elviraux commented on #3531
does this fix the issue?

[2019-09-10 18:19] pdmack commented on #3728
Hmmm, got it working but had to be explicit about minikube in the init.

`./kfctl init 062-kubeflow --config=${CONFIG} -V -p minikube`

[2019-09-10 19:03] Jeffwan commented on #3891
@jamesthegiantpeach It's included in the merged PR. please have a check

[2019-09-10 20:36] ashahba commented on #4090
I'm getting the same error on `GKE` and eventually `kfctl apply ...` finishes but I'm not sure if this warning is harmful or not.
I'm using this BKM: https://www.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto/
and I have full admin access to the `K8s` cluster.

[code]

[2019-09-10 20:38] ashahba commented on #4090
Behavior is the same if I use this BKM: https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/
By the way I'm using `v0.6.2` tag.

[2019-09-10 21:53] danieldn commented on #3891
@Jeffwan Can you describe how to apply the files changed in #3895 to resolve the load balancer issue?

I too am following documentation from https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/ on a vanilla EKS cluster created by
[code]
and using kfctl v0.6.2

I'm at the `kfctl generate` step and replaced my kfctl_aws.yaml at /tmp/kfctl_aws.yaml. But where do we put kfctl_aws_cognito.yaml an

[2019-09-10 21:59] jamesthegiantpeach commented on #3891
@danieldn I changed it by just editing the generated iam_alb_ingress_policy.json file in the aws_config dir

[2019-09-10 22:24] Jeffwan commented on #3359
The PR from @mbaijal has been closed. I will file another PR  in kubeflow/website.

[2019-09-10 22:25] Jeffwan commented on #3332
This issue has been fixed by the above PR I filed.  We can close this issue. Let me know any issues there.

/close

[2019-09-10 22:25] #3332 closed

[2019-09-10 22:58] Jeffwan commented on #3891
@danieldn You can either use` kfctl_aws.yaml` or `kfctl_aws_cognito.yaml `.
iam_alb_ingress_policy will be copied to your workdir after you run `kfctl generate`

[2019-09-10 23:40] gabrielwen commented on #3713
mm, I kinda forgot what to clean up...

[2019-09-10 23:41] gabrielwen commented on #4056
/assign @gabrielwen

[2019-09-11 00:04] #3489 closed

[2019-09-11 01:37] anupash147 commented on #4081
True, i also saw this issue when i enabled https over the gateway. This is when i was testing without istio enabled.

[2019-09-11 02:30] prodonjs commented on #3531
The PR mentioned above addresses the issue of detecting vulnerabilities in future images. #3541 updates the centraldashboard Docker image for v0.6.x and all future versions to avoid the problematic base image that introduced the vulnerabilities. At this point, there are no plans to retroactively update the 0.5.x image.

/close

[2019-09-11 02:30] #3531 closed

[2019-09-11 02:45] jlewi commented on #3727
@richardsliu Do you want to add a link to your doc?

[2019-09-11 02:50] toyow opened #4107 "Is there any way to avoid container oom_kill?"
/kind question

**Question:**
when ommkill happened，the container will be restared ,and the third party librar installed by user can‘t be recovered。Is there any way to solve this problem？
More specific，how can I get memory usage  inside the container（not through  “docker stats”，it is from outside）

[2019-09-11 03:33] jackyin68 commented on #4090
Me too, whether this problem has been solved?

[2019-09-11 03:38] jlewi commented on #3721
@scottilee Any interest in picking this up?

[2019-09-11 05:27] alangordon258 commented on #4090
Is there any new info on this? I am also seeing the same error running on an EKS cluster on AWS. I am following the steps here: https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/ . I am seeing the error occur on the "apply" step: kfctl apply all -V. And it does not appear to be a warning. The process does eventually terminate with the following error after retrying for about 15 mins. could

[2019-09-11 05:30] kkasravi commented on #3930
@amygdala @jlewi @kunmingg
we need this for kubecon SD where cluster-kubeflow.yaml needs to include
[code]

[2019-09-11 06:05] asispatra opened #4108 "Please update NVIDIA TensorRT Inference Server document for kustomize"
Please update [NVIDIA TensorRT Inference Server](https://www.kubeflow.org/docs/components/serving/trtinferenceserver/) document for kustomize. Still the document uses ksonnet.

Thanks.

[2019-09-11 06:56] mesaverde0207 commented on #4043
HI, When I was running Kubeflow 0.6.2 in GCP according to the [CLI deployment tutorial](https://www.kubeflow.org/docs/gke/deploy/deploy-cli/), I encountered the same problem that iap-enabler-778889874f-vxtx8 was in CrashLoopBackOff.

By the suggested commands
[code]

I have got a yaml file:
[code]

I hope this will be some help for this problem, thank you.

[2019-09-11 07:00] QxiaoQ opened #4109 "Kfctl init --config="local file" failed"
/kind bug

**What steps did you take and what happened:**

 ./kfctl init kfapp-kfctl --config=kfctl_platform_gcp.yaml -V
 return error

INFO[0000] Downloading kfctl_platform_gcp.yaml to /tmp/677895880/app.yaml  filename="v1alpha1/application_types.go:334"
ERRO[0000] Could not load kfctl_platform_gcp.yaml; error  (kubeflow.error): Code 400 with message: could not fetch specified config kfctl_platfo

[2019-09-11 07:02] QxiaoQ commented on #4109
![Screen Shot 2019-09-11 at 2 55 07 PM](https://user-images.githubusercontent.com/31646170/64675168-16e04680-d4a5-11e9-8293-2fef8dd57184.png)

[2019-09-11 07:19] scottilee commented on #3721
/assign

[2019-09-11 11:40] gar1t commented on #4090
Please see the apply log below.

In this case, `apply` exited normally (0 exit code). I don't know if the previous cases exited with a timeout error - but I've provided the last line with exit code above in my last post.

[code]

[2019-09-11 11:41] gar1t commented on #4090
Here's the latest apply log. The operation in this case exited normally (0 exit code). In previous cases the operation failed (see above for last line of output with exit code).

[apply.log](https://github.com/kubeflow/kubeflow/files/3600545/apply.log)

[2019-09-11 11:58] LeonardAukea commented on #4003
@jlewi I was using the UI. The name of the server needs to be parsed according to convention.

[2019-09-11 12:34] vkoukis commented on #4003
@jlewi

It doesn't impact correctness, but it will improve the UI if the notebook manager UI rejects invalid names early on. We will pick this up for 0.7.

/assign kimwnasptd
/assign elikatsis

[2019-09-11 12:52] yanniszark commented on #2981
@jlewi while researching solutions for Kubeflow Pipelines, we have seen a lot of things regarding Authentication and Authorization.
We are leaning towards using SubjectAccessReview for this kind of use case.
We will very soon present our findings and the lessons we have learned from integrating multi-user functionality in Kubeflow Pipelines.

[2019-09-11 12:53] yanniszark commented on #3868
/close

[2019-09-11 12:53] #3868 closed

[2019-09-11 13:23] sushkov-r commented on #3617
I had the same problem recently. Minimal supported version of `eksctl` is `0.1.31` according to  the installation instructions. However, `0.1.31` uses an old AMI id. Upgrading `eksctl` to version `0.5.2` solves the problem for me since it specifies the correct, new AMI.

[2019-09-11 13:50] yaser-hameed commented on #4103
I had deployed kubeflow using this https://www.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto/. It had deployed istio along with it, so i did not go with a separate helm isto installation. In the end i created a istio gateway and virutal services to access kiali, grafana and jaeger and got it working

[2019-09-11 14:08] sushkov-r opened #4111 "Cannot create new node groups in EKS"
/kind bug

Node groups that are created after Kubeflow has been deployed don't get the same rights as the original node groups. Because of that pods that run on these nodes cannot do certain things, such as downloading data from S3.

**What steps did you take and what happened:**
I created an EKS cluster with two initial node groups [`cpu`, `gpu-1`] using `eksctl` and deployed KF on it. After KF h

[2019-09-11 15:27] danieldn commented on #3891
Thanks for clarification. Confirming this works for me now after performing step 1 with `wget` on the updated `kfctl_aws.yaml` and then proceeding through rest of documentation.

[2019-09-11 16:45] elviraux commented on #3096
@jlewi yeah, it's the same thing as we discussed in email. I will change p0 to p1 wherever I marked as p0 as I now know the criteria of p0 :)

[2019-09-11 16:47] elviraux commented on #3907
@jlewi 👍🏻

[2019-09-11 17:06] elviraux commented on #3897
@JishinJames Hi were you able to resolve this?
If not what env you're using? Is it on cloud? onprem?

@krishnadurai

[2019-09-11 17:24] Jeffwan commented on #3446
https://aws.amazon.com/blogs/opensource/introducing-fine-grained-iam-roles-service-accounts/

EKS team release Fine-Grained IAM roles for service accounts. Please have a check of this feature. I am going to integrate this feature to kfctl AWS plugin and manifest

[2019-09-11 17:42] StianOvrevage commented on #3767
I also notice that some (maybe all) of the istio resources have `heritage: Tiller` label. That is usually label used when `helm` installs stuff on a cluster. So I'm guessing the istio resources have been copied from a cluster where it was installed using helm.

These labels should be removed to avoid confusion for operators since istio is not managed by helm. Another option could be to actually us

[2019-09-11 18:10] danieldn commented on #4094
I believe v0.6.2 only shows kubeflow-anonymous under namespace on initial deployment. It will then only show namespaces associated with user profiles created. https://www.kubeflow.org/docs/other-guides/multi-user-overview/

I do agree with the UX comment in the video when creating a new notebook server for the first time and trying to edit the namespace from the namespace box when you're suppose t

[2019-09-11 19:17] fediazgon commented on #3772
I'm working on the non-UI part. I know that is taking me a while but I've been catching up of lectures because I want to understand k8s programming principles before writing code.

If it is urgent, someone can take it, otherwise, I would like to keep it.

[2019-09-11 21:14] gar1t commented on #4094
There's a lot of (log) activity under the 'kubeflow' namespace in 0.6.2.
The only way to view that, that I can tell, is to hack the URL
(`?ns=kubeflow`).

On Wed, Sep 11, 2019, 13:10 Daniel Nguyen <notifications@github.com> wrote:

[2019-09-11 21:21] danieldn opened #4113 "Dashboard deployed on eks does not show manage contributors in navigation"
/kind bug

**What steps did you take and what happened:**
Following documentation on https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/

Successfully completed step 5 and proceeded to post installation step of creating user profiles. However, noticed that the dashboard deployed does not match the dashboard shown in docs at https://www.kubeflow.org/docs/other-guides/multi-user-overview/

Th

[2019-09-11 21:21] #3965 closed

[2019-09-11 21:23] elviraux commented on #3988
@kkasravi  is this fixed? Can we close the issue?

[2019-09-11 22:11] kkasravi commented on #3988
yes, this has been merged to master. Thanks.

[2019-09-11 22:17] kkasravi commented on #3767
I don't believe we've done much to change the default istio install. @gabrielwen seems like we should cleanup misleading labels similar to how we removed ksonnet labels. Thoughts?

[2019-09-11 22:23] StianOvrevage commented on #3767
Helm v3 (now in beta) also does away with Tiller and does all of it's templating/generation client side.

Maybe that would allow for using Helm for installing istio instead of the output of `helm template` stored side-by-side with the kubeflow installation files. Helm chart versions can be pinned if compatibility is a concern.

I would really like that approach because then I can manage istio simi

[2019-09-11 22:31] yanniszark commented on #3930
@jlewi @kkasravi  can these settings be surfaced via the gcp plugin spec?
We can surface them in the spec or give the user a method to specify their own cluster_config.
WDYT?

[2019-09-11 22:42] gabrielwen opened #4114 "Tests are failing on both master and v0.6-branch"
/kind bug

**What steps did you take and what happened:**
post-submits are failing 100%: [link](https://k8s-testgrid.appspot.com/sig-big-data)

**Anything else you would like to add:**
Test `TestKfctlClientServer_GoKit` is failing on both of branches.
On master `test_endpoint_is_ready` is also failing.

Somehow this doesn't block submissions as presubmits don't include the tests as part of result.

[2019-09-11 22:42] gabrielwen commented on #4114
/priority p0

[2019-09-11 22:42] gabrielwen commented on #4114
/area kfctl

[2019-09-12 02:08] QxiaoQ commented on #4109
Thanks @danieldn .
Yes, a full path works for me.
But as the cli help doc ,I can see a relative path in "for example":
_Flags:
      --config string            Static config file to use. Can be either a local path or a URL.
                                 For example:
                                 --config=https://raw.githubusercontent.com/kubeflow/kubeflow/master/bootstrap/config/kfctl_platfo

[2019-09-12 02:23] #3988 closed

[2019-09-12 03:06] blublinsky commented on #3861
Nothing changes for 0.7

[2019-09-12 03:42] elviraux opened #4116 "Generate a link to Kubeflow Central Dashboard page with kfctl"

[2019-09-12 03:50] elviraux commented on #3166
closing, dex is chosen

[2019-09-12 03:50] #3166 closed

[2019-09-12 03:55] elviraux commented on #4100
a duplicate of https://github.com/kubeflow/website/issues/418

[2019-09-12 03:55] #4100 closed

[2019-09-12 03:58] elviraux commented on #3164
basic auth will be replaced with dex soon, closing

[2019-09-12 03:58] #3164 closed

[2019-09-12 04:10] elviraux opened #4117 "Test kfctl on master for bugs due to Istio upgrade"

[2019-09-12 04:30] krishnadurai commented on #3897
@JishinJames I was looking for a deployment config which you must have used for deploying Kubeflow. Could you please provide this information?

[2019-09-12 04:39] zhenghuiwang commented on #3755
@DivineOps  I verified I can download and run kfctl darwin binary on Mac via https://github.com/kubeflow/kubeflow/releases/tag/v0.6.2

Can you add more information on how to reproduce your problem?

[2019-09-12 05:00] jlewi commented on #4117
@elviraux Can you provide more context please? Where/when was ISTIO upgraded? Did something break?

[2019-09-12 05:11] krishnadurai commented on #4117
I think what @elviraux is referring to here is kubeflow/manifests#323. Even though its tested against the Web UI, Notebooks, Profiles and Pipelines manually there's still a case something could break.
@elviraux should we have a tracking issue for this or let individuals file separate ones when they encounter it?

[2019-09-12 23:01] kunmingg opened #4119 "Profile should support resource allocation"
/kind feature

**Why you need this feature:**
User should be able to specify amount of resources available on each profile.
For example CPU, GPU specifying platform.

One option to apply them is offering resource templates during user creating profiles.

@kkasravi

[2019-09-13 08:08] mlushpenko commented on #1630
@jlewi we did a test with pure notebooks as well, I can draw another diagram for that, it's close to this but then path-based routing is used for user separation and you need some component to pre-create notebooks with specific naming/labels (kubeflow in your case). We actually want to use our setup for more than notebooks as well.

And we wanted to use kubeflow or parts of it first, but it had to

[2019-09-13 08:35] mlushpenko commented on #1630
You are right, you have a solution already, thought maybe some ideas could be useful.

[2019-09-13 19:45] yeya24 commented on #4086
@abhi-g  Looks like the notebook-controller code in master branch has a bug. I apply my notebook.yml and it failed during reconciling:
[code]

[2019-09-13 19:48] abhi-g commented on #4086
/cc @lluunn

[2019-09-13 19:52] danieldn commented on #4113
kubectl describe on the dashboard pod shows me gcr.io/kubeflow-images-public/centraldashboard:v20190823-v0.6.0-rc.0-69-gcb7dab59

[2019-09-13 19:56] yanniszark commented on #3897
Hi @JishinJames, in case it helps, we have information on setting up and troubleshooting MetalLB in the [existing_arrikto guide](https://www.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto).
Many users have reported success with it and I'd love to help out if you bump into any problems.

[2019-09-13 20:45] Jeffwan commented on #4113
/assign @Jeffwan

[2019-09-13 20:59] Jeffwan commented on #4057
/assign @Jeffwan

[2019-09-14 01:47] yeya24 commented on #4099
I think severity make sense. But what is component for? Do you want all these kf component share the same metrics name, and only with different component tag?

[2019-09-14 03:08] hansaimlim commented on #3259
Hello,

I got the same error after installing kubernetes and kuberflow on my server machine.
Three ambassador pods are stuck in CrashLoopBackOff status, vizier-core is also same.
Ambassador log says envoy exited with code 1.

The problem is I'm very new to kubernetes & kubeflow; I don't know how to "manually disable" istio-sidecar-injector.
For installation, I followed the steps in https://github.

[2019-09-14 05:16] hilliao commented on #2287
I am using the $300 promotional credit to create IAP enabled Kubeflow. Last error at https://deploy.kubeflow.cloud/#/deploy is

Upon inspecting Kubernetes engine > workloads > iap-enabler, I found failed iap-enabler deployment which has failed pod iap-enabler-778889874f-2qtfn. _Running kubectl  --namespace istio-system logs iap-enabler-778889874f-2qtfn_ returns the following:

If it is a problem i

[2019-09-14 14:06] hansaimlim opened #4124 "ambassador always CrashLoopBackOff"
Hello,

I am referring to the issue #3198 (https://github.com/kubeflow/kubeflow/issues/3198)  since I got the same error after installing kubernetes and kuberflow on my server machine.
Three ambassador pods are stuck in CrashLoopBackOff status, vizier-core is also same.
Ambassador log says envoy exited with code 1.
My OS is Ubuntu 18.04 LTS. For installation, I followed the steps in https://github

[2019-09-14 16:52] thameemk612 opened #4125 "could not load config Error"
Got the below error while running the command

kfctl init ${KFAPP} --platform gcp --project ${PROJECT_ID} --use_basic_auth

**WARN[0207] could not load config Error: open /home/<google_cloud_id>/.kube/config: no such file or directory  filename="apps/group.go:208"**

[2019-09-14 19:45] Jeffwan commented on #4124
@hansaimlim which version are you running? You suppose not to have this issue anymore in 0.6.2

[2019-09-14 19:56] hansaimlim commented on #4124
@Jeffwan Thank you for your reply.
It seems the script that I used were set to kubeflow version 0.5.1. I would like to update the version and see if it solves the issue. What is the proper way to update kubeflow version?

I'm slowly getting to understand the process of using ansible and yaml files for remote installation -- I'm a very very newbie for this. It will be very helpful if you specify wh

[2019-09-14 20:02] Jeffwan commented on #4124
@hansaimlim Can you check official documentation to install kubeflow on a kubernetes cluster? I think kubeflow doesn't have a official way to be installed using ansible. You can write your own ansible scripts to do that. At this moment, we would suggest to use `kfctl`. You can find the details in https://www.kubeflow.org/

[2019-09-14 22:45] Rohithzr opened #4126 "kubeflow stuck at setup screen."
/kind bug

**What steps did you take and what happened:**
1. setup microk8s
[code]

2. install kubeflow 0.6.2
[code]

This led me to the Setup screen where If I enter a name and it does nothing, the env-info  endpoint returns

[code]

**What did you expect to happen:**
I expect that when I access the `ingress-gateway` on `istio-system` the central dashboard opens and everything works.

**Environme

[2019-09-15 01:20] jlewi commented on #3725
After #4096 is merged, the jupyter images should be automatically built on postsubmit (hopefully).

We should be able to see the list of images built by going to the URL of one of the images e.g.

http://gcr.io/kubeflow-images-public/tensorflow-1.13.1-notebook-gpu

Once the images are built we need to update the configmap in the jupyter manifest to list the new images.
https://github.com/kubeflow/

[2019-09-15 01:26] jlewi commented on #3907
It looks like GCR will automatically show a list of vulnerabilities a long with the severity and whether there are fixes available. This is available just by going to the publicly accessible link.

http://gcr.io/kubeflow-images-public/tensorflow-1.13.1-notebook-gpu

Here's a screenshot
![vulnerabilities](https://user-images.githubusercontent.com/777219/64915487-cffc8600-d71c-11e9-9fbf-c7225b2553df

[2019-09-15 02:33] jlewi commented on #3091
I think this issue is obsolete because it was related to ksonnet and in 0.6 we switched from ksonnet to kustomize.

If we run into similar issues with kustomize then we should open a new issue and figure out an appropriate solution.

[2019-09-15 02:33] #3091 closed

[2019-09-15 02:51] jlewi commented on #3767
Kubeflow doesn't use helm.

[2019-09-15 03:28] jlewi commented on #4090
## So here's what going on

1. kfctl tries to create a default profile in which to consume kubeflow
1. if kfctl can't identify the id of the user running kubeflow (currently true for all non GCP configs)
    then kfctl just creates a profile "kubeflow-namespace"
1. The logs indicate the creation of the profile

[code]

    * Here's a link to the relevant code https://github.com/kubeflow/kubeflow/b

[2019-09-15 03:32] jlewi commented on #4081
@anupash147 If you are using EC2 did you try following the AWS directions?

/cc @Jeffwan

[2019-09-15 03:37] jlewi commented on #4081
@anupash147 @fabianbaier please describe the complete path for a request? I believe at every hop there's a potential for something to go wrong.

If it works when you port-forward to the ISTIO gateway e.g.

[code]
Then this suggests the problem is upstream of Kubeflow. So it is most likely a configuration problem in the load-balancer (or whatever network stack you are using) to direct traffic to th

[2019-09-15 03:44] jlewi commented on #2863
@elviraux yes I think its obsolete.

[2019-09-15 03:44] #2863 closed

[2019-09-15 03:52] jlewi commented on #3230
The correct fix is for the cloud-endpoints controller to handle the case where the endpoint is being deleted and then undeletes it.

The cloud-endpoints controller we are using i s set here
https://github.com/kubeflow/manifests/blob/ffede944f18343271f526bd217cde2edbe6e0e38/gcp/cloud-endpoints/base/deployment.yaml#L13

gcr.io/cloud-solutions-group/cloud-endpoints-controller:0.2.1

Source is here:
h

[2019-09-15 04:00] jlewi commented on #3230
@danisla any interest in updating your controller to handle the case where the service is being deleted and then undelete it?

[2019-09-15 04:05] jbottum commented on #3112
@cblackd7r Hey Chris, what is your timeframe on this?

[2019-09-15 04:15] jlewi commented on #4117
Can we have an automated test?

We have kubeflow/kubeflow#3496 tracking setting up an E2E test on an existing cluster. So ideally that would be the basis for an E2E test of kfctl_k8s_istio.yaml.

Ideally that E2E test should have sufficient coverage to give us high confidence about ISTIO.

[2019-09-15 04:23] jbottum commented on #3162
I appreciate the strategy defined by johnu.   We might need to define some phases as there are conflicting requirements i.e. make it simple, work everywhere, and provide enough to be useable.  In addition, how can we we effectively test it (for every release).    I wonder if we can use the low bar and high ceiling concepts to define some specific deliverables (that can be effectively tested)

[2019-09-15 04:31] jbottum commented on #3357
@valeriano-manassero did you make progress on this ?

[2019-09-15 04:47] jbottum commented on #3410
@scottilee did you get this resolved?  Do you need MiniKube? As an alternative, MiniKF 0.6 should be available soon and might be another option.

[2019-09-15 04:58] jbottum commented on #3854
@AnnieWei58 have you tried with v0.6? What platform are you using?

[2019-09-15 05:27] scottilee commented on #3410
@jbottum I never got this resolved. I don't need it but I wanted to report it. If it's no longer relevant you can close the issue.

[2019-09-15 09:16] mosn commented on #767
Those who have arrived here looking for a better explanation:

Visit [swift-jupyter](https://github.com/google/swift-jupyter/blob/master/docker/Dockerfile) and navigate to docker/Docker

Check their current  CMD and ENTEYPOINT and replace it with this one or pickup the part that works for you.  You might wanna take a look at the Kubeflow offical TF images to find middle ground.
[code]

The most im

[2019-09-15 12:34] nrchakradhar commented on #3907
Do we need some privileges to see the vulnerabilities?
I clicked the link and selected the first image but only get the following. No link to vulnerabilities.
<img width="953" alt="Screenshot" src="https://user-images.githubusercontent.com/38882990/64921642-45cb2500-d7e3-11e9-8f2c-4095b528b981.PNG">

[2019-09-15 13:49] zheddie commented on #4090
I hit the same issue on my CentOS VirtualBox, with kubernetes 1.15.3 and kubeflow 0.6.2.
Here's the profile information requested by @jlewi
[code]

[2019-09-16 00:30] anupash147 commented on #4081
@fabianbaier
[code]
works .

[2019-09-16 03:48] marcoleewow commented on #4044
Hi, I am also facing the same problem with the UI deployment on v0.6.2

[2019-09-16 04:48] wzxJayce commented on #4090
same issue:
- kfctl:  v0.6.2-0-g47a0e4c7
[code]

[2019-09-16 06:22] scottilee commented on #3721
@jlewi It seems like I can reuse a lot of what's been done in https://github.com/kubeflow/examples/pull/633, specifically in `execute_notebook.py` and `job.yaml`, but instead launch it as a pod or deployment instead, is that correct?

And rather than kfctl_go_test.py it looks like (kf_is_ready_test.py)[https://github.com/kubeflow/kubeflow/blob/master/testing/kfctl/kf_is_ready_test.py] would be a g

[2019-09-16 07:02] valeriano-manassero commented on #3357
I'm currently using a custom image I created. Since I was thinking new images were coming up fast with new versions of TF, I didn't prepared anything to share. If you need it, I can try to create something on github in some days.

[2019-09-16 08:21] jinchihe commented on #4085
@kkasravi I noticed the below two file is added by you in the PR https://github.com/kubeflow/manifests/pull/42. That will cause some problems for Kubeflow install for on-prem cluster since the PV type is hardcode for `gcePersistentDisk`.

[code]

We suggest to remove the two files, if the volumne dynamic is not enabled, user can create PV manually.  Agree? or better solution. Thanks.

[2019-09-16 08:33] krishnadurai commented on #4085
@jinchihe I think one alternative is to create PVs manually using default storage class. For that you need to set a default storage class in the Kubernetes cluster even before the PVCs are created through deployment. Right now the 'storageclass' parameter in base directories for PVCs are left empty signifying that they will be populated by Kubernetes with the default storage class. So as soon as y

[2019-09-16 08:37] krishnadurai commented on #4085
Right now, I believe, we are following Kubernetes best practice by leaving the storage classes empty:
https://kubernetes.io/docs/concepts/storage/persistent-volumes/#writing-portable-configuration

You could read this issue for further clarification:
#3774

[2019-09-16 12:07] cyrilthank commented on #3549
I am encountering this exact message when i execute the steps in

step 2 of Deploy Kubeflow in https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

[2019-09-16 12:08] cyrilthank commented on #3549
below the entire error stack

cyril@tensorflowextended:/kubeflow-app$ kfctl apply all -V
INFO[0000] Downloading /kubeflow-app/app.yaml to /tmp/653910945/app.yaml  filename="v1alpha1/application_types.go:334"
INFO[0000] Writing stripped KfDef to /kubeflow-app/app.yaml  filename="v1alpha1/application_types.go:626"
INFO[0000] Downloading /kubeflow-app/app.yaml to /tmp/042641548/app.yaml  filename="v1

[2019-09-16 12:09] cyrilthank commented on #3549
kubectl -n kubeflow get all

returns the below

No resources found.

[2019-09-16 12:14] cyrilthank commented on #3549
http://localhost:8080/
shows API endpoints like

![image](https://user-images.githubusercontent.com/4562436/64957024-9311ca00-d8a9-11e9-8145-a79dca745aaf.png)

[2019-09-16 12:14] cyrilthank commented on #3549
can you please advise?

[2019-09-16 12:21] cyrilthank commented on #3549
can you please advise the workaround for linux server analogous to the below https://github.com/kubeflow/kubeflow/issues/3024#issuecomment-500887738

[2019-09-16 12:25] cyrilthank commented on #3024
can you please share a similar workaround step for running on Linux server?

[2019-09-16 12:28] jlewi commented on #3989
@kkasravi Could you elaborate on what the problem is and why #3957 fixes this so we can close it out if it in fact it is fixed?

[2019-09-16 12:34] jlewi commented on #3940
@lluunn What are the next steps here?

Do we need to build an updated docker image and update the kustomize manifest?

Do we need to update docs?

Could we run a simple manual verification that we can create notebooks either using the v1alpha1 API or the v1beta1 API.

[2019-09-16 12:35] jlewi commented on #3938
@krishnadurai Do you have an ETA on this? Will we be able to be code complete by the end of the week?

[2019-09-16 12:40] krishnadurai commented on #3938
@jlewi I will be raising an initial PR within a few days.

[2019-09-16 12:45] jlewi commented on #3638
@lluunn ping? Do we we have to do any work to enable workload identity by default on master?

Note the deployment manager configs are now in kubeflow/manifests
https://github.com/kubeflow/manifests/tree/master/gcp/deployment_manager_configs

[2019-09-16 13:26] krishnadurai commented on #4117
I think an automated test for Notebooks and Multi-user workflows will be the way to go here since these are the primary features being affected by Istio. I'll pair with @swiftdiaries to see what we can do here.

[2019-09-16 13:28] jlewi commented on #4114
I think we are out of SSL quota. It doesn't look like we are cleaning up SSL certificates
https://github.com/kubeflow/testing/blob/master/py/kubeflow/testing/cleanup_ci.py

We recently enabled GKEManaged certificates on master and I think that might be eating up our quota.

I will add some logic to our cleanup_ci script to cleanup old certificates.

[2019-09-16 15:36] alexvicegrab commented on #4090
Same issue here on minikube

[2019-09-16 16:21] y4roslav commented on #4043
Is there some workaround  for the issue?

[2019-09-16 17:48] kunmingg commented on #4090
Can you share
1. Output of `kubectl -n kubeflow get profile -o yaml kubeflow-anonymous`
2. Output of `kubectl -n kubeflow describe porfile kubeflow-anonymous`
3. Logs of profile controller

`Could not find namespace kubeflow-anonymous` is a warning message waiting new namespace to be ready, can you confirm if namespace `kubeflow-anonymous` is finally created?

[2019-09-16 18:04] fabianbaier commented on #4081
@jlewi

I think you're right. This was most likely a problem with the load-balancer per se. I noticed when re-deploying it worked fine. Now that said I can't replicate the problem so I really hope it was a one time thing. I am sure to update you here if I run into this again.

@anupash147

So the idea behind this is to see if websockets via https work in general and then trying to identify the cul

[2019-09-16 18:06] jlewi commented on #4114
After cleaning up the SSL certificates the test_endpoint_is_ready test is passing in the most recent presubmit run
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-periodic-master

github.com/kubeflow/kubeflow/bootstrap/v3/cmd/bootstrap/app.TestKfctlClientServer_GoKit

Is still failing

[2019-09-16 18:09] kunmingg commented on #4044
@marcoleewow
Can you share output of
`kubectl describe ingress -n istio-system`?

[2019-09-16 18:17] tarrade commented on #3024
@cyrilthank I am not an expert but I understood that installing kubectl will create the .kube.config file, see here https://kubernetes.io/docs/tasks/tools/install-kubectl/. Hope this help

[2019-09-16 18:28] kunmingg commented on #4099
Yes, ideally if components share metrics names then we can use same alert rules to apply on all of them.
For example we can use 1 alert rule to watch all components' `heartbeat`

metrics library would be great, the only challenge is not components written in go.

[2019-09-16 19:04] jlewi commented on #3989
/assign @kkasravi

[2019-09-16 19:18] jlewi commented on #3822
/assign @kunmingg

[2019-09-16 19:20] jlewi commented on #3917
Bump to P0 because it could affect profile controller API

/assign @kunmingg

[2019-09-16 19:26] jlewi commented on #3518
/assign @swiftdiaries

[2019-09-16 19:29] jlewi commented on #3478
/assign @gabrielwen

@gabrielwen we can close this as soon as your PR defining the v1beta1 spec is merged.

[2019-09-16 19:31] jlewi commented on #3484
@jessiezcc can you find an owner for this?

[2019-09-16 19:36] cyrilthank commented on #3024
Thanks for your patient reply
I am trying to use the microk8s option in the Linux Server section of https://www.kubeflow.org/docs/started/workstation/getting-started-linux/

Appreciate it if you can share any leads since I am now stuck
Thanks Cyril
    On Monday, September 16, 2019, 11:48:14 PM GMT+5:30, Dr. Fabien Tarrade <notifications@github.com> wrote:

@cyrilthank I am not an expert but I und

[2019-09-16 20:55] elviraux commented on #3409
@yanniszark Hi, what's the status of it?

[2019-09-16 21:34] kunmingg commented on #3822
Currently the major diff between
(1). our profile and
(2). [multi-tenant CRD](https://docs.google.com/document/d/1hpJX5O_siMmNGMvIHvz8Pm7XOjJLz5g57XWrgwWarFw/edit#heading=h.c0uts5ftkk58)

is (2) intend to support multiple admins and namespaces (as lists) in tenant CR (profile).

The main concern about having lists in tenant CR is it's `anti-Declarative API` design:
`Update` becomes extra tricky as

[2019-09-16 21:42] jlewi commented on #3917
I was thinking about how this might work

* Profile controller could have plugins like KFDef
  * We can look at KFDef v1beta1 to see how to properly serialize arbitrary KRM style objects to a plugin
* A GCPPlugin could specify the GCP service account to use
* The profile controller could configure the new namespace to use the GCP service account specified in the profile
   * The profile controller

[2019-09-16 21:42] kunmingg commented on #3092
Will work with @kkasravi to add `resourcequota` support

[2019-09-16 22:04] kunmingg commented on #3917
Shall we block the profile resources creation or just leave warning messages when user is not authorized to use that service account?

[2019-09-16 22:22] jlewi commented on #3917
@kunmingg That's a good question. WDYT?

[2019-09-16 23:27] jlewi commented on #3907
@nrchakradhar Looks like you are right; the vulnerabilities aren't publicly visible. So we'll probably need to write some script to fetch them via API and publish them as a markdown doc.

[2019-09-17 00:47] #3431 closed

[2019-09-17 01:16] jlewi commented on #4126
@avdaredevil looks like there might be a problem with the self registration flow. Any suggestion on how to debug?

@Rohithzr you might be able to work around this by creating a profile manually via the CLI. There are docs for doings this here
https://v0-6.kubeflow.org/docs/other-guides/multi-user-overview/#manual-profile-creation

[2019-09-17 01:28] jlewi commented on #4114
The test output isn't very helpful.

/usr/local/go/src/runtime/sys_linux_amd64.s:535 +0x21
/usr/local/go/src/runtime/os_linux.go:46 +0x4b
/usr/local/go/src/runtime/lock_futex.go:151 +0xa1
/usr/local/go/src/runtime/proc.go:1936 +0xc1
/usr/local/go/src/runtime/proc.go:2399 +0x54a
/usr/local/go/src/runtime/proc.go:2525 +0x21c
/usr/local/go/src/runtime/proc.go:2605 +0xa1
/usr/local/go/src/runtime/asm_

[2019-09-17 01:38] avdaredevil commented on #4126
So the Dashboard seems to be running in non-isolated mode. Registration Flow opens up since namespaces is empty.

Here's where it's hairy for me:
- The dashboard takes the input and runs a `createBinding` against profile service.
- If this fails an error should surface on the UI (worst case, error is still there in dev-console under the `/workgroup/create` route)
- Did you try reloading? (perhaps

[2019-09-17 01:40] kunmingg commented on #4119
Feature request is part of https://github.com/kubeflow/kubeflow/issues/3092

[2019-09-17 01:56] jlewi commented on #4114
It looks like the problem is here
https://github.com/kubeflow/kubeflow/blob/ae9b2c7513c62b497e06d09e1d1f334e7a3c6146/bootstrap/cmd/bootstrap/app/kfctlClient.go#L118

The code keeps retrying for up to 30 minutes if the conditions is length 0.

It looks like this code was recently added in #4014

[2019-09-17 02:05] jlewi commented on #4114
@kunmingg

Why is createDeployment waiting for up to 30 minutes?
https://github.com/kubeflow/kubeflow/blame/ae9b2c7513c62b497e06d09e1d1f334e7a3c6146/bootstrap/cmd/bootstrap/app/kfctlClient.go#L83

This waiting is in the client. Which is called from the router.
So if we end up waiting for 30 minutes then the request never returns.

It looks like #4014 was done to monitor the deployment and report m

[2019-09-17 02:16] kunmingg commented on #4114
Server side metrics are template, we can print router side metrics in stackdriver UI, but summing up server side metrics might overload stackdriver UI backend.

For `TestKfctlClientServer_GoKit` case should we return an error from server side?
Or in `kfdef` append error to `condition`?
Either one should resolve the waiting.

[2019-09-17 02:51] jlewi opened #4131 "Move alerting/monitoring of Kubeflow deployments from kfctlClient to kfctlServer"
/kind bug

See https://github.com/kubeflow/kubeflow/issues/4114#issuecomment-532026885

It looks like #4014 added counters to kfctlClient.CreatedDeployment to provide monitoring of deployments.
https://github.com/kubeflow/kubeflow/blob/ae9b2c7513c62b497e06d09e1d1f334e7a3c6146/bootstrap/cmd/bootstrap/app/kfctlClient.go#L96
https://github.com/kubeflow/kubeflow/blob/ae9b2c7513c62b497e06d09e1d1f334e7a

[2019-09-17 05:33] animeshsingh commented on #4061
@zhenghuiwang can you point me to the markdown behind the issue - would like to replace the tables in kfservign repo and start getting them filled to chase it down

[2019-09-17 05:41] cyrilthank commented on #3145
I am hitting this error with kfctl version kfctl v0.6.2-0-g47a0e4c7

can you please advise?

[2019-09-17 05:54] jinchihe opened #4133 "Build kubeflow images for POWER platform"
/kind feature

**Why you need this feature:**

Kubeflow is great toolkit, and user may want to install and run on IBM POWER system, but for now the kubeflow only support x86_64 platform since the docker image is built basic on x86_64 platform, we need to build and push the kubeflow images for POWER platform so that user can install kubeflow on POWER directly.

Currently IBM team has updated some D

[2019-09-17 05:55] jinchihe commented on #4133
/cc @jlewi @gyliu513 @hougangliu @animeshsingh

[2019-09-17 05:55] cyrilthank commented on #3810
Much appreciate your sharing this workaround script

But Sorry really newbie error

when i run this script from the $KFAPP location i get the below error

./apply.sh: line 6: kustomize: command not found

I dont see the executable kustomize installed

Can you please advise?

[2019-09-17 06:35] cyrilthank opened #4135 "Kubeflow Central Navigation UI browser does not open at 8080 or 31380"
/kind bug
After running the steps in
https://ubuntu.com/kubeflow/install

kubectl cluster-info
Kubernetes master is running at https://10.0.2.15:6443
KubeDNS is running at https://10.0.2.15:6443/api/v1/namespaces/kube-system/services/kube-dns:dns/proxy

To further debug and diagnose cluster problems, use 'kubectl cluster-info dump'.

**What steps did you take and what happened:**
[A clear and conc

[2019-09-17 06:39] cyrilthank commented on #4135
![image](https://user-images.githubusercontent.com/4562436/65017265-f2241d00-d943-11e9-91ae-85f34df1e9dc.png)

[2019-09-17 07:18] gyliu513 commented on #4133
Check this thread in Kubeflow #buildcop for more detail https://kubeflow.slack.com/archives/CHCKRA1N2/p1568683764001200

[2019-09-17 07:27] jinchihe commented on #4133
Seems Google Cloud Build supports building multi-arch images:
 https://medium.com/@bamnet/building-multiarch-docker-images-8a70002b3476

[2019-09-17 10:21] cyrilthank commented on #4135
kubectl -n kubeflow describe pod centraldashboard-7b69b696cb-44x6k

returns

cyril@master-node:~$ kubectl -n kubeflow describe pod centraldashboard-7b69b696cb-44x6k
Name:           centraldashboard-7b69b696cb-44x6k
Namespace:      kubeflow
Priority:       0
Node:           <none>
Labels:         app=centraldashboard
                kustomize.component=centraldashboard
                pod-template-

[2019-09-17 10:25] cyrilthank commented on #4135
kubectl -n kubeflow logs -p centraldashboard-7b69b696cb-44x6k
does not return any output

[2019-09-17 10:25] cyrilthank commented on #4135
Please advise if there is any logs gathering for kubernetes which i can use to get the logs uploaded

[2019-09-17 11:56] yanniszark commented on #3409
@elviraux not fixed.

[2019-09-17 12:45] #4125 closed

[2019-09-17 12:53] yanniszark commented on #3409
cc @kkasravi @gabrielwen

[2019-09-17 13:22] jlewi commented on #4114
kubeflow/testing#412 is tracking why the failed go unit test didn't cause the prow job to be reported as failed.

Here's a passing postsubmit in which the kfctl_test.go test passed
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow_kubeflow/kubeflow-postsubmit/1173837237868040192

The workflow for basic auth failed but I think that's unrelated to this issue so I'm closing this issue as

[2019-09-17 13:22] #4114 closed

[2019-09-17 13:33] jlewi commented on #4133
Helpful blog post from @gyliu513 about understanding multi-architecture images.
https://lobradov.github.io/Building-docker-multiarch-images/

Regardless of whether we ultimately use multi-architecture images we will need to have tooling that supports rewriting all the manifests to pull from a different registry. For example one use case we want to support is when people want to replicate all Kubef

[2019-09-17 13:36] Akashdesarda commented on #4090
I am also getting exact same error

[2019-09-17 14:14] hemantha-kumara opened #4136 "Issue while merging PatchesJson6902 in MergeKustomizations"
/kind bug

**What steps did you take and what happened:**
Added one more overlay for argo componet to update ClusterRoles using PatchesJson6902

content of argo kustomization(**argo/overlays/csf/kustomization.yaml**) as below
[code]
**patch.yaml &  patch2.yaml** contents are as below
- op: add
  path: /rules/0
  value:
    apiGroups:
      - extensions
    resourceNames:
      - privileged
    res

[2019-09-17 14:21] kkasravi commented on #3810
hi
kustomize's API is called by kfctl. The workaround calls the kustomize command
So you'll need to install [kustomize-v2.0.3](https://github.com/kubernetes-sigs/kustomize/releases/tag/v2.0.3)

[2019-09-17 15:21] gyliu513 commented on #4133
@jlewi sure thing, we will make sure both POWER and X86 image has same commits which means that we want to leverage CI to help build multi-arch docker images. @jinchihe is now investigating this. The only problem here is that we cannot test those POWER images due to there is no POWER machines in community, but IBM team can help do the test manually first on POWER.

[2019-09-17 15:26] kkasravi commented on #3409
@yanniszark
As I recall - we return a warning intentionally for gcp. @kunmingg do you recall the exact reason? I think it was related to protect concurrent access. Calling panic will break gcp unless this behavior has changed.

[2019-09-17 16:06] serhio7 opened #4138 "Problem with Kubeflow End to End - GitHub Issue Summarization Codelab"
**What steps did you take and what happened:**
Trying to follow this [tutorial](https://codelabs.developers.google.com/codelabs/cloud-kubeflow-e2e-gis/index.html?index=..%2F..index#2)
When I'm running this command `kfctl apply platform -V`, I've got following error:

![image](https://user-images.githubusercontent.com/4029753/65059234-4c41d400-d97e-11e9-98bf-413fb71d2227.png)
**Environment:**

- kf

[2019-09-17 17:16] yanniszark commented on #4138
/platform gcp
/cc @kunmingg @jlewi @lluunn

[2019-09-17 17:18] zhenghuiwang commented on #4061
@animeshsingh the issue is generated from [this markdown].(https://github.com/kubeflow/community/pull/285/files#diff-16c3cd6e7ec2e780a917f291ac999bb1)

[2019-09-17 18:53] Jeffwan commented on #3703
Just see this issue. I will make corresponding change.

[2019-09-17 20:17] kkasravi commented on #3989
@jlewi @praveen049

Jeremy - you're correct in that there is a lag time between when the application crd is registered and when an application can be submitted.

Moving to kustomize3 #4055 where resources are sorted by crd first and having /manifests/application/application-crd separate from /manifests/application/application seems to fix this.

[2019-09-17 21:16] animeshsingh commented on #4133
@jinchihe @gyliu513 @jlewi @hougangliu

There is a convetion we can follow here. This is what was done for Tensorflow builds

The community CI for power runs on systems hosted at Oregon State University
https://powerci.osuosl.org

Builds are created nightly and per-release. Per-commit builds are only for correctness
Latest nigtly builds are here:

https://powerci.osuosl.org/job/TensorFlow_PPC64LE_

[2019-09-17 21:16] lluunn opened #4140 "kfctl with kfctl_gcp_iap.yaml failed"
/kind bug

**What steps did you take and what happened:**
kfctl init --config=kfctl_gcp_iap.yaml
kfctl generate all
kfctl apply all

I see error:
[code]

But the apply continue, and it's creating k8s resources in the cluster my kubeconfig was pointing to before.

I think there are two problems:
1. in app.yaml, there is no project field, and hostname is `kf0917.endpoints..cloud.goog`. So it can't i

[2019-09-17 21:22] lluunn commented on #4140
related:
After I fixed the project field, I got resource error when kfctl apply:

[code]

But kfctl also continues to apply k8s part..

[2019-09-17 21:31] #3458 closed

[2019-09-17 22:21] Jeffwan commented on #4113
The version problem is because of this change,
https://github.com/kubeflow/manifests/commit/6dc0c0d10a8060ff748a74da650776da1ba4e3b7#diff-e23ef4b176ec21de1d67c8de4789720d

Actually the master version is `v1beta1` and 0.6-branch is is`v0.6.2`. Since you use master manifest, then you see `v1beta1` there.

[2019-09-17 22:25] Jeffwan commented on #4113
I cherry-pick https://github.com/kubeflow/manifests/pull/360 to 0.6-branch and once you use 0.6-branch for manifest repo. This issue should be resolved automatically.

[2019-09-17 22:50] Jeffwan commented on #4113
For `Manage Contributors`, it's invisible because of

https://github.com/kubeflow/kubeflow/blob/64f4f79ef7d2f1eed1113dce6955437717b94e1b/components/centraldashboard/public/components/main-page.js#L197-L202

https://github.com/kubeflow/kubeflow/blob/64f4f79ef7d2f1eed1113dce6955437717b94e1b/components/centraldashboard/public/components/main-page.pug#L21-L24

Aws deployment is still being considered

[2019-09-17 22:54] Jeffwan commented on #3773
/platform aws

[2019-09-17 23:40] lluunn commented on #3638
workload identity works in kubeflow and istio-system namespace, the remaining thing is to make it work with default profile / other profile.
Seems overlap with #3917

[2019-09-18 00:31] #3462 closed

[2019-09-18 01:48] jbottum commented on #3826
@Jeffwan could this be changed to a question, and labeled as a documentation issue?

[2019-09-18 01:51] QxiaoQ commented on #4109
This issue has been fixed. So I close it.

[2019-09-18 01:51] QxiaoQ commented on #4109
/close

[2019-09-18 01:51] #4109 closed

[2019-09-18 02:02] jbottum commented on #1398
@Ark-kun this issue / request seems old.   Is there an another path to build and support the needed environment?

[2019-09-18 02:02] wzxJayce commented on #4090
You can create `kubeflow-anonymous` namespace in advance.
[code]

[2019-09-18 02:07] jbottum commented on #3606
@awakia did you find a work-around for this?

[2019-09-18 02:11] jbottum commented on #3604
@texasmichelle is this for the GCP platform or other platforms too?

[2019-09-18 02:14] jbottum commented on #3552
@BlodwenZ did you get this issue resolved? which release and platform are you deploying on?

[2019-09-18 02:19] jbottum commented on #3512
@woop Do you still need this? Are you able to snapshot your notebook's workspace and persistent volume?

[2019-09-18 04:23] cyrilthank opened #4142 "after executing the portforward in QuickStart Pipelines i get error on proxy"
/kind question
configuration

**Question:**
[You can ask any question about this project.]

After executing the port-forward in https://www.kubeflow.org/docs/pipelines/pipelines-quickstart/

Run kubectl port-forward -n kubeflow svc/ml-pipeline-ui 8080:80 and go to http://localhost:8080/.

I get the below error for all accesses

Error occured while trying to proxy to: localhost:8080/apis/v1beta1/ex

[2019-09-18 04:25] cyrilthank commented on #4142
And when i stop the kubectl port-forward command

and try accesing the centralboard i get the below

![image](https://user-images.githubusercontent.com/4562436/65111632-68835680-d9fa-11e9-80df-479fe724e94c.png)

[2019-09-18 05:07] anupash147 commented on #4081
@fabianbaier : I redeployed into fresh cluster i did not even get to the point of 504 now but rather my notebook itself stopped working, it landed to a page which says "Sorry, /notebook/anup/t2/ is not a valid page"

On looking at my namespace i found out the virtual services had '*' in the hostname.

NAME                  GATEWAYS                      HOSTS   AGE
notebook-aash-test2   [kubeflow/k

[2019-09-18 05:53] cyrilthank commented on #3549
solution in https://ubuntu.com/kubeflow/install
microk8s.kubectl config view --raw > $HOME/.kube/config

[2019-09-18 05:54] cyrilthank commented on #3024
solution in https://ubuntu.com/kubeflow/install
microk8s.kubectl config view --raw > $HOME/.kube/config

[2019-09-18 05:56] Jeffwan opened #4144 "Add other libraries to tensorflow-notebook-image?"
/kind question

**Question:**

AWS users like to use awscli, or docker client in notebook. I am wondering if I can add some libraries to this Dockerfile? If not, seems we have to build our own and use custom images.

https://github.com/kubeflow/kubeflow/blob/master/components/tensorflow-notebook-image/Dockerfile

[2019-09-18 05:57] gyliu513 commented on #4133
Thanks @animeshsingh for the sharing, considering most of the code in Kubeflow are written in Go so we can use cross compile to build POWER images on X86 machines. This means that we do not need those POWER machines for now, but will consider those machines when we want to run some test.

[2019-09-18 06:05] zheddie commented on #4090
I can successfully set up the kubeflow on my centos VirtualBoxes now. Here's my instructions . Wish could do help for you.
1) For the issue here, I followed the workaround by @jlewi , and create the kubeflow-anonymous manually.
2) After namespace issuse, when we do the kfctl apply, I hit the issue #3810 . For this issue, I followed the suggestion by @jlewi , using following script(Modified a bit f

[2019-09-18 06:24] cyrilthank opened #4145 "Pipelines dashboard: Error occured while trying to proxy to: localhost:31380/apis/v1beta1/experiments"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
after completing the installation and setup steps in
 https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

i get the below error for accessing any links on the centraldashboard

Error occured while trying to proxy to: localhost:31380/apis/v1beta1/experiments

**What did you expect

[2019-09-18 06:45] dpaks commented on #4090
I got the same error and the 'apply' exited. However, I saw that 'kubeflow-anonymous' namespace was created. Hence, I re-ran the 'apply' command and it worked.

[2019-09-18 08:56] xauthulei commented on #4085
@krishnadurai ,  The above description info are so clear.  From my points, it is not easy to debug this default `GCEPersistentDiskPV` issue. If we delete the [PV yaml ](https://github.com/kubeflow/manifests/blob/master/pipeline/mysql/overlays/mysqlPd/persistent-volume.yaml)file and leave the PVC there, it will be easier to local user to debug. also, the use will be quickly noted to create a storag

[2019-09-18 09:36] krishnadurai commented on #4085
@xauthulei just correct me if I'm wrong here.
It looks like you might be using one of the GCP configs for deployment during `kfctl init`. For example, these configs contain an overlay specification to use the PV overlay you are referring to above:
https://github.com/kubeflow/kubeflow/blob/64f4f79ef7d2f1eed1113dce6955437717b94e1b/bootstrap/config/kfctl_gcp_iap.yaml#L240

If you use any of the metho

[2019-09-18 11:13] yanniszark commented on #3989
From the [Kubernetes Docs](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/):
[code]

I suspect this is the exact problem we are hitting.

The following solutions:
* Applying CRDs first.
* Having CRDs in a separate kustomize package and installing it first.

work by mere coincidence. The race condition is still there, it's just less probable to h

[2019-09-18 12:24] serhio7 commented on #4138
Solved.The problem was with cluster-kubeflow.yaml setting     cluster-version:  to "latest" and download key in json format from deploy kubeflow-codelab service account for  GOOGLE_APPLICATION_CREDENTIALS helped

[2019-09-18 13:01] jlewi commented on #3721
@scottilee I think this test would be a bit different from kubeflow/examples#633. That test was verifying that we can run a particular notebook ipynb file successfully.

This test is intended to verify that a notebook controller properly starts a notebook.

So what you want to do is write a python script that does something like

1. Create a notebook resource like the following

[code]

1. Now ver

[2019-09-18 13:04] jlewi commented on #3490
@kkasravi @jbrette @yanniszark is this issue still relevant? Will the move to kustomize 3 impact this?

[2019-09-18 13:05] jlewi commented on #3145
@cyrilthank Please open a new issue since you are using a different version of Kubeflow its a different issue. Please include the commands you ran and the log output.

[2019-09-18 13:08] kkasravi commented on #3490
it should be fixed - the move to kustomize3 won't impact this

[2019-09-18 13:15] jlewi commented on #4138
Thanks @serhio7 glad you figured it out.

It looks like the codelab is still using v0.5 and the DM configs for 0.5 are outdated.
Related kubeflow/examples/issues/617 update GIS example to get rid of ksonnet.

[2019-09-18 13:24] jlewi commented on #4133
@animeshsingh is it possible to communicate with external infra that has POWER hardware so that Kubeflow's CI/CD can drive POWER build/testing on external platforms?

Could we spin up a K8s cluster on IBM cloud with POWER and then just talk to that K8s master? Then its just a matter of provisioning credentials in our CI clusters.

[2019-09-18 13:27] jlewi commented on #4140
@gabrielwen is this related to how you implemented reconcile semantics in #4106

I think you are using "errors" to indicate that the apply isn't finished and so it just keeps retrying.

I think swallowing the error and just continuing could lead to confusing behavior. We probably want to migrate to using conditions to indicate whether the Apply is done or needs to be reinvoked.

[2019-09-18 13:53] serhio7 opened #4146 "Problem with Kubeflow End to End - GitHub Issue Summarization"
/kind bug

**What steps did you take and what happened:**
Following tutorial till step `kfctl apply k8s -V`
Every time got cloud shell reconnect and proccess killed
[code]

**Environment:**

[code]

[2019-09-18 14:21] yanniszark commented on #3490
@kkasravi what version should I check in order to confirm that it is fixed?
Is the fix in master right now?

[2019-09-18 14:44] axelborja commented on #4145
I encounter exactly the same issue after installing kubeflow v0.6.2 on EKS.

[2019-09-18 14:45] woop commented on #3512
@jbottum Yes this is hotly asked for by our data scientists. Is this available in the latest release?

[2019-09-18 16:06] cyrilthank commented on #4145
Thanks Alex
Can you please advise on the workaround you are using to side step this
ThanksCyril
    On Wednesday, September 18, 2019, 8:15:10 PM GMT+5:30, Axel Borja <notifications@github.com> wrote:

I encounter exactly the same issue after installing kubeflow v0.6.2 on EKS.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thr

[2019-09-18 16:42] #4146 closed

[2019-09-18 17:03] serhio7 opened #4147 "Problem with Kubeflow End to End - GitHub Issue Summarization"
/kind bug
Following [tutorial ](https://codelabs.developers.google.com/codelabs/cloud-kubeflow-e2e-gis/index.html?index=..%2F..index#4)
What directory kubectl looking for train.py, because I have file:///home/../examples/github_issue_summarization/notebooks/train.py
**What steps did you take and what happened:**

[code]

**What did you expect to happen:**

**Environment:**

[code]

[2019-09-18 17:31] #3419 closed

[2019-09-18 19:07] antimack commented on #4113
Not sure it's related since I am installing Kubeflow using kfctl_k8s_istio.0.6.2.yaml, centraldashboardversion image is `v20190823-v0.6.0-rc.0-69-gcb7dab59` in the UI it shows v0.6.2, but we also don't have `Manage Contributors`

[2019-09-18 20:08] maxisawesome commented on #4147
Did you download kfctl earlier? I had an old version of kfctl installed and got the same output form `kfctl version` (`v20181207-4e7f4ed-198-gaeea303e-dirty-03e65e`).  My fix was running `which kfctl`, rm'ing it (for me, the output was `/usr/local/bin/kfctl`), then reinstalling kfctl and moving the file to  `/usr/local/bin/`

[2019-09-18 20:33] kkasravi commented on #3490
my bad - yannis - I meant I should fix this bug, not that I fixed the bug

[2019-09-18 20:46] avdaredevil commented on #4094
As it stands, this seems to be the behavior that is expected for namespaces (in terms of the list you can see)

/cc @kunmingg @abhi-g

In terms of the UX for notebooks, I agree, we could make this more intuitive (cc: @ajayalfred @kimwnasptd PTAL).

Thanks!

[2019-09-18 20:57] gar1t commented on #4094
If the `kubeflow` namespace isn't in the list, how is a user supposed to view the activity associated with that namespace?

[2019-09-18 20:59] kunmingg commented on #4094
Starting at v0.6.2, `kubeflow` namespace will be for infra services like controllers.
User can create notebooks or deploying workloads in their own namespace.
If identity-aware-proxy is not setup, the default user namespace is `kubeflow-anonymous`

[2019-09-18 21:06] gar1t commented on #4094
That makes sense. But what if someone wants to to view infra activity - for whatever reason?

[2019-09-18 21:14] abhi-g commented on #4094
The infra activity for Kubeflow namespace deployments should be accessible
via the K8s dashboard in general, or on GKE Hub on GKE.

On Wed, Sep 18, 2019 at 2:06 PM Garrett Smith <notifications@github.com>
wrote:

[2019-09-18 22:35] anupash147 commented on #4081
@fabianbaier @jlewi : here is my loadbalancer annotation

[code]
applied to the istio-ingressgateway.

[2019-09-18 23:18] kunmingg opened #4150 "kubeflow upgrade: support or deprecate legacy CRs based on k8s version & components."
/kind feature
For example kubeflow v0.7 and v0.6 will have different CR versions for notebook and profile.
Our controllers reply on CR conversion webhook to support multiple CR versions.
The CR conversion webhook is alpha (off) for k8s 1.13 and 1.14, and is beta since k8s 1.15 (on).

We can suspend and warn users during upgrade if existing CRs will not be supported after upgrade.

**Why you need t

[2019-09-18 23:34] anupash147 commented on #4081
Finally i have the solution : https://github.com/istio/istio/issues/11579

[2019-09-18 23:35] #4081 closed

[2019-09-18 23:54] anupash147 opened #4152 "Virtualservice created by notebook controller defaults to kubeflow/kubeflow-gateway"
/kind bug

I have installed kubeflow over an existing k8 cluster with OIDC protocol enabled security. As a part of security the istio-ingress gateway is setup in istio-system and not in kubeflow. So i had to change manifest/<app>/overlays/istio.yaml to point to my hostname and istio-system/kubeflow (the gateway). But i observed when i create jupyter notebook server in kfam controlled namespace, th

[2019-09-19 01:23] xauthulei commented on #4085
@krishnadurai,  you are right.  Maybe I am wrong  to deploy the kubeflow in my local cluster, please correct me :
1> build the binary `kfctl` from its master
2>`kfctl init all -V ` (instead of `kfctl init --config ****`)
3>`kfctl generate all -V`
4>`kfctl apply all -V`

In my local ${KFAPP},  it will generate the `app.yaml` with the mysql sections :
[code]
Now even if I the above mysql sections fr

[2019-09-19 02:05] jbottum commented on #2889
@vkoukis could we consider this request for 1.0?

[2019-09-19 02:11] jbottum commented on #4124
@hansaimlim hi, we would like to move this along.  A suggestion is to try with most current i.e. v0.6, and/or  consider for v1.0 which start in mid-Oct.
@pdmack pete, would this be something that Ansible could help with?

[2019-09-19 02:20] jlewi commented on #3721
@scottilee actually it looks like we already have a test.
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/jupyter/tests/jupyter_test.py

@scottilee Apologies I'd totally forgotten about that. It looks like that test is still using ksonnet though to define the notebook resource.

We should update that to get rid of ksonnet. I think we should just store the notebook resource in a YAML file

[2019-09-19 02:25] jlewi commented on #4094
If you wanted to look at the kubeflow namespace you can also use kubectl

[2019-09-19 02:27] jlewi commented on #4077
We have the start of a test for the profile controller here:
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/profiles/tests/profiles_test.py

It doesn't look like that test is running as part of CI though.

[2019-09-19 02:52] BabycolaYang commented on #2799
@Niuxiaotong i got the same issue ,did you solve it?

[2019-09-19 03:21] hansaimlim commented on #4124
@jbottum Thanks for your suggestions. I definitely would like to follow your suggestions to fix the issue.
As suggested by @Jeffwan , I tried to use kubeflow v0.6.2.
On worker node:

`hansaimlim@dls1:/home/hansaimlim/$ kfctl version
kfctl v0.6.2-0-g47a0e4c7`

On master node:

`(kubeflowadmin_py27) hansaimlim@dgx-station:~/deepops$ kubectl get pods --all-namespaces
NAMESPACE     NAME

[2019-09-19 03:24] cyrilthank commented on #4145
i see this issue only on kubernetes
i dont see this issue on micro8s can you please help?

[2019-09-19 04:07] cyrilthank commented on #3870
when i do this with 0.6.1-rc.2
i get the below error

couldn't generate KfApp:  (kubeflow.error): Code 500 with message: kfApp Generate failed for kustomize: kustomize generate failed Error:  (kubeflow.error): Code 500 with message: couldn't copy application knative-crds

i am using the below

cyril@tensorflowextended:/kfapp$ diff -bitw /home/cyril/kfctl_k8s_istio.yaml /home/cyril/kfctl_k8s_istio.

[2019-09-19 04:08] cyrilthank commented on #3870
can one of you please advise since it looks like i may need a new version

[2019-09-19 04:10] cyrilthank commented on #3851
i am encountering this same issue and workraround in https://github.com/kubeflow/kubeflow/issues/3870 is not working
please help with workaround as this is a real show stopper for me

[2019-09-19 04:17] cyrilthank opened #4153 "No Namespaces in Central Dashboard"
/kind bug

**What steps did you take and what happened:**
after completing the installation and setup steps in
https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

i dont see the namespaces in the centralboard UI

**What did you expect to happen:**
to be not only see the namespaces but select namespace
to proceed with the steps in https://www.kubeflow.org/docs/notebooks/setup/

**Anything e

[2019-09-19 04:37] SheharyarTkxel commented on #3870
@cyrilthank: I hope you are using Kubeflow's official installation guide. If yes then please follow's @dss77 's answer that is at the top of this post. Make sure you have changed the versions from master to 0.6.1-rc.2 in the kfctl_config.yaml file like this:
`https://github.com/kubeflow/manifests/archive/v0.6.1-rc.2.tar.gz`

Give it a fresh try and see if it works.

[2019-09-19 04:42] Jeffwan commented on #4113
only `multi-user` case will enable `Manage Contributors`. `v20190823-v0.6.0-rc.0-69-gcb7dab59` already has this feature

[2019-09-19 04:45] jbottum commented on #3092
@kunmingg will this enhancement be designed to work on GCP and non-GCP environments?

[2019-09-19 05:13] antimack commented on #4113
I understand, I do use profiles and it seems multi-user works but “Manage contributors” is not available. Should I create a separate issue?

[2019-09-19 05:19] jbottum commented on #4113
do we have a path to close this issue in v0.7?

[2019-09-19 05:42] Jeffwan commented on #4113
@jbottum I am evaluating the gap and I will try to close it before we cut branch

[2019-09-19 06:23] cyrilthank commented on #2380
on microk8s can you please share what would be the equivalent of this
requesting since i am getting

cyril@tensorflowextended:~$ ks show default -c metacontroller -c application > default.yaml
ks: command not found

[2019-09-19 06:42] #3433 closed

[2019-09-19 06:49] elviraux commented on #3336
@fdasilva59  Is it fixed? Is there a PR for this issue?

[2019-09-19 07:35] #3465 closed

[2019-09-19 08:24] cyrilthank commented on #3870
@SheharyarTkxel
Thanks for the reply

I am following
 https://www.kubeflow.org/docs/started/k8s/overview/
https://www.kubeflow.org/docs/notebooks/setup/

and as per the diff above i did try
https://github.com/kubeflow/manifests/archive/v0.6.1-rc.2.tar.gz
https://github.com/kubeflow/kubeflow/archive/v0.6.1-rc.2.tar.gz

can you please advise me what i am doing wrong
Please let me know if there is an

[2019-09-19 09:13] SheharyarTkxel commented on #3870
@cyrilthank: Your links suggest you are working on your local system? I worked on AWS and its guide worked fine. If you are also on AWS then ping me on Skype (sheharyar_pointman) and I'll share a step-by-by guide I compiled during my journey.

[2019-09-19 09:48] jinchihe commented on #4133
@jlewi @gyliu513 @animeshsingh Today I investigated building multi-arch image by cross-compiling and cross-building with Google Cloud Build for the katib controller image, that works fine! see https://github.com/kubeflow/katib/pull/776 for detailed experiment.

We can use this way to build all kubeflow image, if so each PR will build images both for x86_64 and POWER, and image name are same since

[2019-09-19 12:47] cvenets commented on #3512
Hello @woop, have you tested Arrikto's Rok along with Kubeflow?

Rok allows you to snapshot your JupyterLab environment along with data residing on mounted persistent volumes in an differential, immutable, and versioned way. You can then have different users cloning these snapshots for reproducing, branching, recovering, or sharing their work.

Rok is free for single-node Kubeflow deployments and

[2019-09-19 13:45] anupash147 commented on #4135
Firstly is your dashboard pod running, description above shows as pending. Secondly are you on ubuntu machine and installed kubeflow in the same machine itself, so that you can localhost into kubeflow UI ?

[2019-09-19 15:05] arianyambao commented on #4090
@wzxJayce , you saved my day

[2019-09-19 15:26] fdasilva59 commented on #3336
@elviraux I haven't check that recently (so I did not create a PR), but I plan to test a KF 0.6 brand new installation next week, so I can verify that. I'll update this issue with some feedback results

[2019-09-19 18:57] vahidtz commented on #3003
Hi,
I am using CLI to deploy kubeflow on gcp. using kftcl to generate files:

sudo kfctl generate all --zone us-central1-c

I got this error:

WARN[0000] Backfilling auth; this is deprecated; Auth should be explicitly set in Gcp plugin  filename="gcp/gcp.go:1733"
ERRO[0000] Could not configure IAP auth; environment variable CLIENT_ID not set  filename="gcp/gcp.go:1762"
Error: couldn't generate KfA

[2019-09-19 19:02] lalithvaka commented on #3686
@jlewi I am trying the Kubeflow for the first time and ran into this issue. Wondering how do I get past this before the 0.7 is released?
Also ran into the following as well..
INFO[0021] creating StatefulSet/application-controller-stateful-set  filename="kustomize/kustomize.go:447"
Error: couldn't apply KfApp:  (kubeflow.error): Code 500 with message: kfApp Apply failed for kustomize:  (kubeflow.er

[2019-09-19 21:45] jlewi commented on #3686
@lalithvaka This looks like #3989

[2019-09-19 21:47] jlewi commented on #3989
## Work around in 0.6

I think if you hit this issue with 0.6 you can work around is to use this fix
https://github.com/kubeflow/kubeflow/issues/3810#issuecomment-527687504

to rerun apply.sh

[2019-09-19 22:02] jlewi commented on #4133
@jinchihe Awesome. We are trying to standardize how we build and update images using Tekton. See
kubeflow/kubeflow#4112

It might helpful to define a Tekton workflow to build your images; that should help us better integrate it into our CI/CD story.

Will multi-arch images still work if/when we switch to distroless images ?
https://github.com/GoogleContainerTools/distroless

[2019-09-19 22:10] lalithvaka commented on #3686
Thank you Jeremy @jlewi , I have reviewed the 3989. kubectl get crd -->  gives me a bunch from adapters to zipkins. Towards the end of the issue, I see its pointed to #3810 (comment) (https://github.com/kubeflow/kubeflow/issues/3810#issuecomment-527687504). Do you suggest I use this fix for a workaround?

[2019-09-19 22:22] kunmingg commented on #4150
@jlewi
@richardsliu

[2019-09-19 22:53] lalithvaka commented on #3810
@kkasravi  Hi, I have tried this workaround and I have ran into the following issues through out the log
Multiple of these --"Warning: kubectl apply should be used on resource created by either kubectl create --save-config or kubectl apply"
Multiple of these -- "for: "STDIN": Timeout: request did not complete within requested timeout 30s
Error from server (Timeout): error when applying patch:"
Mul

[2019-09-19 22:56] jbottum commented on #3150
MiniKF 0.6 was delivered today

[2019-09-19 22:56] #3150 closed

[2019-09-19 22:59] animeshsingh commented on #4133
Thanks @jinchihe - that's great.

@jlewi For CD, I will investigate Kubeflow on Power on our Public Cloud - the default managed Kubernetes offering we have on Public Cloud is on x86.

[2019-09-19 23:02] jbottum commented on #3839
@yanniszark I put this in 0.7, please let me know if we need to 1.0 or other

[2019-09-19 23:06] jbottum commented on #3831
@cspavlou Hey Chris, could you please ask the engineers about this?
@ShyamSubramanian Hey Shyam, If you have some ideas on how we could justify the work effort, please add you notes.   Does your group need this?  How many users?

[2019-09-19 23:13] jbottum commented on #3791
@kkasravi have you seen this ?

[2019-09-19 23:15] jbottum commented on #2347
@carmine is this resolved?

[2019-09-20 01:36] jbottum commented on #3487
@kavemun did you get this resolved?  Have you tried with Kubeflow 0.6?  Did you try to set-up a persistent volume when your created the notebook in the data volume section?

[2019-09-20 02:28] kavemun commented on #3487
hi @jbottum,
yes It is mostly due to the way our persistent volume layer is setup, once i got my admin to sort it out, it worked, I was trying it out on version 0.6 too, no issues there

[2019-09-20 03:44] ycheng opened #4156 "0.6.2: can only spawn notebook servers in kubeflow-anonymous namespace"
/kind question

**Question:**
Per test kubeflow 0.6.2 on microk8s, I found notebook can only be created in kubeflow-anonymous namespace.

Is that by design?

[2019-09-20 03:53] jbottum commented on #3530
@SaschaHeyer are you still seeing this behavior in Kubefllow 0,6?

[2019-09-20 05:07] shanidchamal commented on #4094
Hi, i am using v0.6.2 and using a notebook server in my namespace to write a pipeline function using the Kubeflow Pipelines DSL with reference [link](https://www.kubeflow.org/docs/pipelines/sdk/sdk-overview/). i am also specifying the notebook server's pvc name with kfp.onprem.mount_pvc method to store the output to notebook server's directory. when i compile the code i get the link to experiment

[2019-09-20 06:40] jinchihe commented on #4133
@jlewi Thanks. Checked the kaniko docs, no any info mentioned for supportting multi-arch image building, create a [ticket](https://github.com/GoogleContainerTools/kaniko/issues/786) to ask in  kaniko comminuty.

@kkasravi do you know if kaniko support multi-arch image building? If not support for now, can we:
Option 1>: if we set the Google Cloud Build (for example in kubeflow/katib#776 ) as a ste

[2019-09-20 07:50] chrisheecho opened #4157 "[GCP] Please include asia-southeast1-a as part of the web deployment app"
/kind feature

**Why you need this feature:**
SouthEast Asia cluster should be represented asia-southeast1-a or more would be sufficient

**Describe the solution you'd like:**
Add asia-southeast1-a in the zone selection drop down

**Anything else you would like to add:**
Nope

[2019-09-20 09:32] mesaverde0207 commented on #4043
I have no idea, but Kubeflow v0.6.2 deployment by the UI tool has come to go well.
Now Kubeflow UI is working well although iap-enabler is still in CrashLoopBackOff.

[2019-09-20 11:02] Lijo050 commented on #3759
Hi, @yeya24 After modifying the code which you suggested, I'm getting the issue
[code]

[2019-09-20 12:09] antimack opened #4158 "installing Kubeflow with platform set to existing_arrikto without Istio and Dex"
Kubeflow version: v0.6.2
Config: https://raw.githubusercontent.com/kubeflow/kubeflow/v0.6.2/bootstrap/config/kfctl_existing_arrikto.0.6.2.yaml

Is there a way to install existing_arrikto on a cluster with Istio and dex already installed? (we are using latest version of Istio with internal ELB and issuing certificates with cert-manager + other tweaks as well as Dex with custom config).

Or is it po

[2019-09-20 13:06] jlewi opened #4159 "test_jsonnet has started failing in presubmits"
/kind bug

Sample prow job
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/4040/kubeflow-presubmit/1174940073439793152/

Test failures look like

[code]

/cc @swiftdiaries

[2019-09-20 13:15] krishnadurai opened #4160 "Include Ambassador Auth OIDC repository in Kubeflow organisation"
/kind feature
/area auth

**Why you need this feature:**
This will let Kubeflow contributors maintain Ambassador Auth OIDC's fork for implementing Istio Auth filters.

https://github.com/arrikto/ambassador-auth-oidc

/assign @jlewi
/cc @yanniszark

[2019-09-20 14:12] yeya24 commented on #3759
Sorry, I have encountered this issue once. This is because your client-go version is too old. Ref:  https://github.com/pingcap/tidb-operator/pull/756#issuecomment-520759888

[2019-09-20 15:10] jlewi commented on #4117
Thanks @krishnadurai

Some pointer that might be helpful

* I believe @yanniszark is working on #3496
* We have a test for provisioning a notebook here
  * https://github.com/kubeflow/kubeflow/blob/master/kubeflow/jupyter/tests/jupyter_test.py
* @jinchihe wrote an E2E test that runs our xgboost_synthetic notebook using papermill
  * https://github.com/kubeflow/examples/blob/master/test/workflows/c

[2019-09-20 15:14] jlewi commented on #4056
@gabrielwen Any update on this do you have an ETA?

Based on some of our discussions

* #4106 uses errors to determine whether apply is complete or needs to be reinvoked
* I think we want to change that so we start using conditions so that we don't just swallow errors and keep retrying for ever
* I think we need to do that as part of #4141 moving pod default creation into the gcp plugin
  * We don

[2019-09-20 15:15] jlewi commented on #4002
@gabrielwen Could you provide an update and ETA please?

[2019-09-20 15:20] jlewi commented on #3989
@yanniszark @kkasravi so is the work to close out this bug

1. Migrate to kustomize v3 #4055
1. Make sure `kfctl apply` can be rerun

    * This would at least make it easy for kustomize to mitigate by manually rerunning apply

1. Given we are already oversubscribed for 0.7 should we punt on further improvements to later?
1. Alternatively should we add backoff/retry logic in apply that would handl

[2019-09-20 15:21] jlewi commented on #3940
@lluunn Looks like the manifests have been updated. What are the remaining work items?

[2019-09-20 15:22] jlewi commented on #3938
@krishnadurai Any update on this? Do you have an ETA for when this will be done? This will help us plan for cutting 0.7.

[2019-09-20 15:23] jlewi commented on #3917
@kunmingg Any update on this? Could you provide an initial ETA so we can help plan for cutting 0.7.

[2019-09-20 15:26] jlewi commented on #3727
@richardsliu any update on this? Do you have an ETA for when the initial PR will land in kfctl.

[2019-09-20 15:27] kkasravi commented on #3989
i would opt to do further improvement later - since we have server-side, structured-schema and some other things that may make this easier to deal with in a generic way.

[2019-09-20 15:27] jlewi commented on #3518
@swiftdiaries Could you provide an update on this please? Do we have an ETA for when your PR #4040 would be merged. After #4040 what would the remaining work be?

[2019-09-20 15:28] jlewi commented on #3478
Duplicate of #4002

[2019-09-20 15:28] #3478 closed

[2019-09-20 15:30] jlewi commented on #2980
I don't think this is an issue. notebooks are working in 0.6.2

[2019-09-20 15:30] #2980 closed

[2019-09-20 16:05] krishnadurai commented on #3938
@jlewi I'll be pushing in the changes within tomorrow.

[2019-09-20 16:09] Lijo050 commented on #3759
Oh thanks, @yeya24 but how should I update the client-go as the client-go@v0.0.0-20190228174230-b40b2a5939e4 is automatically being generated. Sorry, I'm pretty new here.

[2019-09-20 17:34] amygdala commented on #2969
A note that other user(s) have reported this as well, with newly created projects.  It sounds like the default network is not reliably set up properly (?).
Could it make sense to create that network it if it doesn't exist, as part of the deployment actions?

[2019-09-20 18:11] gabrielwen opened #4162 "Adds test cases to v1beta1 KfDef and KfConfig"
Currently we didn't port all test cases from v1alpha1 to v1beta1.  Part of the reasons is because we haven't implement functions that v1alpha1 has:
- [ ] [SyncCache](https://github.com/kubeflow/kubeflow/blob/2f15d8dbe85f0081652c1e5363f6a8c547a3e5fc/bootstrap/pkg/apis/apps/kfdef/v1alpha1/application_types.go#L422)
- [x] [GetSecret](https://github.com/kubeflow/kubeflow/blob/2f15d8dbe85f0081652c1e536

[2019-09-20 18:14] jlewi commented on #3686
I'm not sure what this means.

If your trying to rerun kfctl apply and hitting the issue in #3810 then I would suggest following the work around in that issue.

If your issue looks like a different problem please open a new issue.

[2019-09-20 18:33] lalithvaka commented on #3686
I believe the workaround seems to have worked with lot of warning msgs. I got all the KubeFlow seervices up and running. Thank you @jlewi  for all the help. Appreciate it.

[2019-09-20 19:36] lluunn opened #4163 "Jupyter web app should use v1beta1 notebook"
Now notebook CR has v1beta1 #3940 . The spec is the same so far.
The webapp should launch the notebook in v1beta1 instead of v1alpha1.

[2019-09-20 19:38] lluunn opened #4164 "Implement notebook CR conversion webhook"
In the PR https://github.com/kubeflow/kubeflow/pull/4105, we use trivial conversion since there is no spec change in alpha and beta so far.
But we should figure out how to setup the webhook eventually if we want to change the spec.

[2019-09-20 19:39] lluunn commented on #3940
- update webapp: #4163
- figure out how to setup webhook #4164 . This is needed if we change the spec (currently no spec change from alpha to beta)

[2019-09-20 19:44] lluunn commented on #4163
/cc @kimwnasptd

[2019-09-20 23:26] jlewi commented on #4133
I think calling GCB as a Task in a Tekton workflow is a suitable solution.

[2019-09-21 00:31] kkasravi commented on #4133
@jinchihe i've been using kaniko and passing it a Dockerfile w/ args as part of a build-push task. The dockerfile could be from any arch I guess

[2019-09-21 01:44] woop commented on #3512
We are looking at running this at very large scale, and ideally we would use purely open source software for that purpose. Am I right in understanding that Rok would not be free when running a large Kubeflow cluster?

[2019-09-21 03:36] nrchakradhar commented on #3823
/cc @nrchakradhar

[2019-09-21 05:15] marcoleewow commented on #4043
I still get iap-enabler in CrashLoopBackOff when using deploy via UI.

[2019-09-21 16:44] arianyambao commented on #4090
Here's how I was able to resolve this one on my end.

If ever you have already applied do this:
1. I deleted all my Kubeflow clusters
[code]
2. Deleted the `istio-system` namespace from Kubernetes
--- so that the error on Port already being used won't happen
[code]
3. Deleted the path I initialized
[code]
4.  Created a namespace `kubeflow-anonymous`
[code]
5. Reinitialized, re-generated and re-app

[2019-09-22 23:27] #3908 closed

[2019-09-23 06:55] #3485 closed

[2019-09-23 07:01] SaschaHeyer commented on #3485
Issue still exist

[2019-09-23 07:20] Lijo050 commented on #3759
Also @yeya24 I don't think its the same issue because the last line of the error is not same
`../../.go/pkg/mod/k8s.io/client-go@v0.0.0-20190228174230-b40b2a5939e4/plugin/pkg/client/auth/azure/azure.go:301:25: cannot call non-function spt.Token (type adal.Token)`

`../../../../pkg/mod/k8s.io/client-go@v2.0.0-alpha.0.0.20190115164855-701b91367003+incompatible/plugin/pkg/client/auth/azure/azure.go:2

[2019-09-23 09:09] Lijo050 opened #4172 "Azure auth: cannot call non-function spt.Token (type adal.Token)"
/kind bug

I was trying to install kubeflow on Azure by following: [https://www.kubeflow.org/docs/azure/deploy/install-kubeflow/](https://www.kubeflow.org/docs/azure/deploy/install-kubeflow/)
And then at `kfctl apply all -V` faced the issue:
`FATA[0000] Can not get kubernetes kfdef: No Auth Provider found for name "azure"  filename="apps/group.go:264"`

Then by following [https://github.com/kubefl

[2019-09-23 09:10] jlewi commented on #4163
/assign @kimwnasptd

[2019-09-23 09:13] jlewi commented on #4163
@lluunn I think the jupyter has multi-version support so will the jupyter web app work even if it is using v1alpha1? Do we need a version of Kubernetes later than 1.12 for that to work?

[2019-09-23 09:16] jlewi commented on #3725
Bump to P0 because I think we want to include the updated Jupyter images in 0.7.

[2019-09-23 09:20] nrchakradhar commented on #3725
Can the build can automatically update this file?

[2019-09-23 12:39] wzxJayce commented on #4090
I can fixed this issues when creating namespace kubeflow-anonymous in advance.

[2019-09-23 14:30] jlewi opened #4173 "Upgrade GKE to 1.13 or 1.14 for 0.7"
/kind feature

**Why you need this feature:**
[Is your feature request related to a problem? Please describe in details]

We should upgrade the K8s version used in our GCP configs to 1.13 or 1.14 in 0.7

1.12 is now the oldest supported master version in GKE.

[code]

We should upgrade in 0.7 to stay ahead of GKE and avoid being suprised when GKE drops support for 1.12 as a major release.

[2019-09-23 14:37] jlewi commented on #4090
@wzxJayce if you'd like to submit a fix that would be great. It would be great to confirm though what the root cause is. I think to do that we'd like to see the logs of the profile controller to see if its failing because of the RBAC issue.

I think there's an open question about what the correct behavior should be in the case where we don't know the user's identity (i.e. this case).

One suggesti

[2019-09-23 15:46] Akashdesarda opened #4175 "Any way to access all configs yaml file generated using Deploy using UI method"
/kind feature

**Why you need this feature:**
We get all configs YAML file when we use the CLI method. So is there any method to have access to them using Deploy using UI method.

[2019-09-23 16:21] Tabrizian commented on #3725
Is it required to tag the builds in gcr? I can update the manifest files if tag is not required.

[2019-09-23 20:18] jbottum commented on #4172
@aronchick hey david, is there someone that might look at this?

[2019-09-23 22:01] swiftdiaries commented on #3518
I'll finish up #4040 in 2 days.
Currently, #4040 is a thin wrapper around the existing code with a a little bit of extra code for the `init` part alone. It still uses the platform ResourceEnums.
The next steps would be to remove them all together and move away from them in favor of the `platform` field and plugins.

[2019-09-23 22:38] krishnadurai commented on #3938
@jlewi @kunmingg PTAL to the above PRs addressing changes for K8s default roles with Istio as an application. Builds are failing as reported earlier.

[2019-09-24 02:09] mappedinn opened #4180 "StatefulSet/kfserving-controller-manager: Back-off restarting failed container"
/kind question

**Question:**

I would like to install kubeflow on prem (I have Ubuntu 19.04 with 32GB of RAM). To do this, below are specs :

[code]
In order to deploy kubeflow, I found several yaml files:

* [https://raw.githubusercontent.com/kubeflow/kubeflow/v0.6-branch/bootstrap/config/kfctl_k8s_istio.0.6.2.yaml](https://raw.githubusercontent.com/kubeflow/kubeflow/v0.6-branch/bootstrap/config

[2019-09-24 13:14] Akashdesarda opened #4183 "ImagePullBackOff for deployment made using UI"
/kind bug

**What steps did you take and what happened:**
I deployed using UI and have all necessary permission (wrt to GKE & GCR) still, the pipeline cannot pull image from GCR.
[A clear and concise description of what the bug is.]
As per the documentaton on kubernetes deployment made on GKE have permission to access GCR. But still, kubefloe pipeline cannot pull the image.
This bug is so weired t

[2019-09-24 17:56] Jeffwan commented on #4090
Is it better to provide an option to explicitly create default profile. If cluster admin like to have it, grant all user access to this profile is ok. Otherwise, kfctl should not create any profile and this is expected behavior. cluster admin can add users via other ways.

[2019-09-24 21:39] jbottum commented on #3591
@jessiezcc @IronPan is there an update on this ?  will this be in the v0.7 release?

[2019-09-24 21:44] jessiezcc commented on #3591
This should be already resolved. Feel free to close it.

[2019-09-24 22:49] #3591 closed

[2019-09-25 00:13] lalithvaka commented on #3810
@kkasravi , @jlewi , the workaround mentioned about seems to be not working.
I am attaching both the logs for your reference. Appreciate any help before the 0.7 release.
1. kfctl_Apply_Failure.log -- kfctl apply all -V failure log
2. Apply_sh_workaround_log.log --> workaround success / failure log
After the work around completion, if I check the kubeflow install, am getting the following limited s

[2019-09-25 00:42] richardsliu commented on #4002
@gabrielwen Can this be closed?

[2019-09-25 00:49] richardsliu commented on #3989
We should punt this to later.

[2019-09-25 00:52] richardsliu commented on #3823
/assign @kunmingg

[2019-09-25 01:00] richardsliu commented on #3703
Is this done?

[2019-09-25 01:00] richardsliu commented on #3655
@lluunn Is this done?

[2019-09-25 01:03] kunmingg commented on #3917
This one is included in https://github.com/kubeflow/kubeflow/pull/4155
as part of GCP plugin.

About checking user permission:
I feel if the profile owner has GKE cluster access (required for creating profile.) should we just provision default GCP credentials for all new profiles?

[2019-09-25 01:08] Jeffwan commented on #3725
https://github.com/kubeflow/kubeflow/issues/4144  I have some requirements related to this story. Please have a check

[2019-09-25 01:13] Jeffwan commented on #4163
jupyter web app will look for v1beta1 and it won't work if CRD is still v1alpha1. I had this issue recently when I upgrade a older cluster. I forget to remove CRDs and notice this issue.

[2019-09-25 01:14] richardsliu commented on #3484
/assign @Bobgy

[2019-09-25 01:15] Jeffwan commented on #4156
This is by design, every user (profile) should only create resources under user's namespace.

[2019-09-25 01:33] kunmingg commented on #3823
@jlewi
We should try to land monitoring endpoint in v0.7.
API change might be optional.

[2019-09-25 01:35] Bobgy commented on #3484
This has been fixed since v0.1.17.

[2019-09-25 03:51] cyrilthank opened #4184 "* spec.validation.openAPIV3Schema.properties[spec].type: Required value: must not be empty for specified object fields; with Kubernetes 1.16"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Executed the workaround in
https://github.com/kubeflow/kubeflow/issues/3810#issuecomment-527687504

get errors like the below

no matches for kind "deployment" in version "extensions/v1beta1"
error: unable to recognize "STDIN": no matches for kind "Deployment" in version "apps/v1beta2"

[2019-09-25 03:52] cyrilthank commented on #4184
[kubeflow_error.txt](https://github.com/kubeflow/kubeflow/files/3650466/kubeflow_error.txt)

[2019-09-25 03:54] cyrilthank commented on #4184
not sure if this is related to
https://github.com/kubeflow/kubeflow/issues/2001#issuecomment-442587724
https://github.com/ksonnet/ksonnet/issues/895

Please help as this is now a show stopper for us

cyril@masternode:~/kf-poc$ kubectl get pods -n kubeflow
NAME                                          READY   STATUS             RESTARTS   AGE
admission-webhook-bootstrap-stateful-set-0    1/1     Ru

[2019-09-25 03:54] cyrilthank commented on #4184
cyril@masternode:~/kf-poc$ kubectl get pods -n kubeflow
NAME                                          READY   STATUS             RESTARTS   AGE
admission-webhook-bootstrap-stateful-set-0    1/1     Running            0          16h
application-controller-stateful-set-0         1/1     Running            0          16h
jupyter-web-app-deployment-7b5f9c8b77-vqlwc   1/1     Running            0

[2019-09-25 04:35] lluunn commented on #3655
some updates here: https://github.com/kubeflow/kubeflow/issues/3940#issuecomment-533684229

This is somewhat dup with #3940

[2019-09-25 04:40] #3504 closed

[2019-09-25 10:22] rsinghtc commented on #3389
I used this to resolve the issue:
kubectl get secret admin-gcp-sa --export -o yaml | kubectl apply --namespace=istio-system -f -

[2019-09-25 11:24] Kyrremann opened #4185 "No registration flow on new cluster"
/kind bug

**What steps did you take and what happened:**
Followed this guide https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/ to set up Kubeflow on a new on-prem k8s cluster.

No problems with init, generate, or apply.
Then I created a `service` for `ingress-gateway`(also tried with port-forwarding).

Can open the dashboard, but nothing loads, and two `405` in the network-tab.
[code]

W

[2019-09-25 11:33] Kyrremann commented on #4185
This is a bit embarrassing, looks like it was my outdated browser that caused this issue. Tried Firefox which is newer and it worked.

[2019-09-25 11:33] #4185 closed

[2019-09-25 18:03] nrchakradhar commented on #3725
@jeffwan
https://github.com/kubeflow/kubeflow/pull/4046#discussion_r323847161
Please check the comment. As per this, custom image is the way forward I believe. We also have need to include multiple packages internal and external and have to rely on custom image only.

[2019-09-25 18:24] axelmagn commented on #3571
I am also having this issue with a GKE Kubeflow 0.6.2 cluster (without any special configurations).  During an attempt to list objects in a bucket using the python SDK, I see the following error:

[code]

I have tried a number of ways to authenticate as the `kubeflow-test3-user` account without success, including running `gcloud auth activate-service-account` within the notebook, setting my `GOOGL

[2019-09-25 20:20] l-baker opened #4186 "Distributed tensorflow training job stuck in 'Running' state, model is done training"
/kind bug

**What steps did you take and what happened:**

I am doing distributed training using Tensorflow (on GKE), and the job does not go from a running state to a successful state because the chief and parameter server pods never stop running.

I am using the object_detection library provided in tensorflow/models v1.11 (commit 23b5b42), and the provided pets example. (I am using pets as a min

[2019-09-25 21:49] jlewi commented on #3917
Would users want to use the default GCP credentials provisioned on deployment? That newly created service account probably doesn't have access to the resources (BigQuery/GCS, etc....) that the user wants to use.

Furthermore, the namespaces corresponding to different teams aren't really isolated if they all have access to the same GCP account.

So i think each namespace would want to use a differe

[2019-09-25 21:52] jlewi commented on #3484
Thanks.
It looks like we are currently shipping KFP 0.23

[2019-09-25 21:52] #3484 closed

[2019-09-25 22:19] jlewi commented on #3703
@richardsliu no; kfctl doesn't support v1beta1 yet and the KFDef YAML files still need to be updated.
https://github.com/kubeflow/manifests/blob/18a8882d1ae3b4fdae2d1d34f80005948a7566b7/kfdef/kfctl_gcp_iap.yaml#L2

@gabrielwen How far will you get with this this week?

@gabrielwen will be OOO next week so maybe someone else can help pick up remaining work next week?

[2019-09-25 22:40] #3509 closed

[2019-09-25 23:22] gabrielwen commented on #4002
/close

[2019-09-25 23:22] #4002 closed

[2019-09-25 23:26] gabrielwen commented on #4056
@jlewi
- #4166 provides functionality of using conditions with KfDef.
- after #4166 I'm going to issue another PR to use conditions during Reconcile.
- after the PR mentioned above, #4141 will be blocked as well as other PRs need reconcile semantics.
- level based executions not started but I think it's not 0.7 release blocking, is it?

[2019-09-25 23:31] gabrielwen commented on #3703
so here we could use v1beta1 in kfctl:
https://github.com/kubeflow/kubeflow/blob/6a0fd60a8bfec01ebff6ff4d1a2760320b399374/bootstrap/pkg/apis/apps/kfdef/kfloader.go#L197

I just mentioned this to @swiftdiaries so he will use this function during `build/apply`.

therefore other remaining work would be migrate v1alpha1 to v1beta1.  I'll write a simple script to do this (basically use the function I m

[2019-09-25 23:34] gabrielwen commented on #4140
yea I think this will be fixed after condition based retrying.

[2019-09-26 01:21] Jeffwan commented on #3725
@nrchakradhar Makes sense. We will move forward with custom images.

[2019-09-26 06:46] gabrielwen commented on #3703
TODOS:
- [ ] Migrate all codes using v1alpha1 to v1beta1.
- [ ] A simple CLI to transform KfDef v1alpha1 to v1beta1.
- [ ] Update all KfDef config files on master to v1beta1.

[2019-09-26 07:42] Kyrremann commented on #3839
Is it possible to start testing this on local clusters?
I'm having a hard time setting up Kubeflow 0.6, since we don't have support for loadbalance in our cluster, but we still need to separate our users.

[2019-09-26 08:42] crauterb commented on #4152
@anupash147 think is this a duplicate of #3945 or am I mistaken?

[2019-09-26 11:57] cvenets commented on #3512
@woop, yes, you are right, and I understand that ideally you would run only open source software. However, we don't see a very easy way to have a Kubeflow-native solution that will provide you with the described functionality at this point, so I think that it is worth considering.

As mentioned above, it is very easy to test the tight integration or Rok and Kubeflow on the new MiniKF, which comes

[2019-09-26 14:33] yeya24 commented on #4172
@Lijo050  Can this be solved using my patch https://github.com/kubeflow/kubeflow/pull/3881? Or they are different things?

[2019-09-26 14:36] #3521 closed

[2019-09-26 15:30] Lijo050 commented on #4172
@yeya24 Yes I could solve it with your patch, Many thanks

[2019-09-26 15:31] #4172 closed

[2019-09-26 15:38] kunmingg opened #4188 "k8s multi tenancy group support"
/kind feature

Exploring necessary components to enable multi tenancy working with groups.

**Describe the solution you'd like:**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-09-26 17:55] wronk commented on #3768
If it helps anyone in the future, I ran into this issue because I downloaded the tarball for the wrong platform -- make sure you select `linux` or `darwin` properly from [the releases page](https://github.com/kubeflow/kubeflow/releases).

[2019-09-26 17:59] yanniszark opened #4189 "e2e: refactor existing_arrikto test to use pyfunc"
/kind feature

**Why you need this feature:**
All E2E tests are refactored to use pyfunc and move away from the deprecated ksonnet tools.

**Describe the solution you'd like:**
The existing_arrikto E2E tests should:
* Use a pyfunc in prow.yaml to define their workflows.
* Split create, delete cluster into separate workflow steps.

Followup from: #4154

[2019-09-26 17:59] yanniszark commented on #4189
/priority p1

[2019-09-26 18:11] alan-krumholz commented on #3571
Resolved
Had same issue. after going through this process (services names are outdated)  we noticed you need to check the "add gcp credential" configuration checkbox when creating the notebook server
This step wasn't needed before but the checkbox is unchecked by default in the newer version

[2019-09-26 18:25] SinaChavoshi opened #4190 "GCP credentials for notebook - new UI breaks user experience"
New UI experience for notebook creation requires the users to manually select

Configurations-> add gcp credential when running on GCP. This configuration is very hidden and it is a change in user experience from the past were credentials were injected by default.

It is extremely difficult for users to realize / identify the root cause. Recommendation is to either select this by default when depl

[2019-09-26 20:53] camille-rodriguez commented on #3950
Hi, can you describe how you listed the cluster roles and how you added privileges to your user to resolve this issue? Thank you

[2019-09-26 21:03] nsriram13 opened #4192 "Kubeflow installation using kfctl_k8s_istio fails at seldon-core-operator step"
/kind bug

**What steps did you take and what happened:**
I am following the instructions at the Kubeflow docs [here](https://www.kubeflow.org/docs/started/workstation/getting-started-linux/#microk8s) to install Kubeflow on my Linux server on micro-k8s. After ensuring that micro-k8s is working on my server, I followed through the docs link to [here](https://www.kubeflow.org/docs/started/k8s/kfctl-

[2019-09-26 21:17] jlewi commented on #4190
The issue here is that the jupyter web app doesn't currently have a way to preset certain pod defaults on all notebooks. Users have to manually select the POD defaults.

In 0.7 we will enable GCP workload identity so GCP cerdentials will be based on Kubernetes Service Accounts.

/cc @kimwnasptd

[2019-09-26 21:36] jlewi commented on #4173
https://github.com/kubeflow/manifests/pull/387 is out for review

[2019-09-26 21:43] jlewi commented on #4144
@Jeffwan I think adding the AWS CLI and the docker client to the stock jupyter images is reasonable to me.

[2019-09-26 21:46] jlewi commented on #3725
I think https://github.com/kubeflow/kubeflow/pull/4046#discussion_r323847161
was specifically about conda.

I think its reasonable to include Cloud CLIs (e.g. gcloud / AWS CLI) in the stock jupyter images.

We've been installing the gcloud CLI in our jupyter images and I think we should continue to do so. By extension I think its fine to install AWS or other cloud CLIs.

I think if we reach a poin

[2019-09-26 21:48] jlewi commented on #3725
Lets go ahead and update the manifests to the SHAs. We can do that as part of cutting the release.

Are we still installing gcloud in the images? If not can we add that back and then add the AWS CLI as well per @Jeffwan's request?

[2019-09-26 21:52] jlewi commented on #3725
It looks like we are installing gcloud here
https://github.com/kubeflow/kubeflow/blob/e38c6f3234b301f33226706c285aafb9bd32d357/components/tensorflow-notebook-image/Dockerfile#L85

So installing AWS CLI as well seems reasonable.

[2019-09-26 23:35] jlewi commented on #3823
@kunmingg What do you mean by monitoring endpoint?

[2019-09-26 23:44] jlewi commented on #3638
It looks like we create the secrets in the kubeflow namespace even if workload identity is enabled.
https://github.com/kubeflow/kubeflow/blob/e38c6f3234b301f33226706c285aafb9bd32d357/bootstrap/pkg/kfapp/gcp/gcp.go#L815

I think we should continue to do that in 0.7 for backwards compatibility.

It looks like we still need to enable it in our KFDef spec.
https://github.com/kubeflow/manifests/blob/80

[2019-09-26 23:51] jlewi commented on #3638
kubeflow/kfctl#40  for the test.
kubeflow/website#1175 for the docs

[2019-09-26 23:56] Tabrizian commented on #3725
I can do it.

[2019-09-27 00:43] lluunn commented on #4164
cc @kunmingg
I think you need similar thing for profile

[2019-09-27 00:46] kunmingg commented on #4164
Yeah, and this webhook works with k8s 1.15+,
we might need to wait for GKE 1.15 then can start multi version CRD support.

[2019-09-27 02:27] #4163 closed

[2019-09-27 03:30] jlewi commented on #4186
/cc @johnugeorge
/cc @richardsliu

[2019-09-27 03:32] jlewi commented on #4192
/cc @krishnadurai

[2019-09-27 03:41] jlewi opened #4195 "kfctl on GCP failed to create the GCP cluster but kept going - issue with reconcile"
/kind bug

I used kfctl on master at @663e888ac506a1b35ba495b3fa67a8fbd7f5bd61 to deploy on GCP with IAP.

GKE failed to create the cluster for some reason but kfctl kept going trying to deploy the k8s resources.

This is a bug in the way reconcile semantics are implemented in apply.
https://github.com/kubeflow/kubeflow/blob/663e888ac506a1b35ba495b3fa67a8fbd7f5bd61/bootstrap/pkg/kfapp/coordinator/

[2019-09-27 03:59] kkasravi opened #4196 "kubeflow/kfctl breakage"
/kind bug

**What steps did you take and what happened:**
can't build kubeflow/kfctl after syncing with kubeflow/kubeflow/bootstrap

problems:
- bootstrap/pkg/apis/apps/kfdef/v1beta1/*.go imports github/kubeflow/kfctl (circular dependency)
- go.mod imports profile-controller by downloading an older version of kfctl
- pkg/apis/apps/kfdef/testdata is missing a doc.go

kfctl needs to be in lock-step

[2019-09-27 03:59] kkasravi commented on #4196
/priority p0

[2019-09-27 04:00] kkasravi commented on #4196
/area kfctl

[2019-09-27 08:21] cyrilthank opened #4198 "kfctl apply all -V errors with Error: couldn't apply KfApp: (kubeflow.error): Code 500 with message: kfApp Apply failed for kustomize"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
 kfctl apply all -V
errors with

INFO[0009] creating Service/zipkin                       filename="kustomize/kustomize.go:447"
Error: couldn't apply KfApp:  (kubeflow.error): Code 500 with message: kfApp Apply failed for kustomize:  (kubeflow.error): Code 500 with message: couldn't create resource

[2019-09-27 08:22] cyrilthank commented on #4198
[kubeflow_error_trace.txt](https://github.com/kubeflow/kubeflow/files/3661700/kubeflow_error_trace.txt)

[2019-09-27 08:22] cyrilthank commented on #4198
Please help as this is now a show stopper for us

[2019-09-27 09:12] 14sudharsan opened #4199 "Error: couldn't generate KfApp: (kubeflow.error): Code 500 with message: kfApp Generate failed for kustomize: kustomize generate failed Error: (kubeflow.error): Code 500 with message: couldn't copy application istio-ingress"
when i tried to install kubeflow v0.6 in EKS cluster with help of this link
https://master.kubeflow.org/docs/aws/deploy/install-kubeflow

root@ip-172-31-31-235:~/hcl-cluster-kf# **kubectl version**
Client Version: version.Info{Major:"1", Minor:"11+", GitVersion:"v1.11.10-eks-f12431", GitCommit:"f12431e9d92fa990fbbc2b52006351d381bd4bed", GitTreeState:"clean", BuildDate:"2019-08-01T23:43:58Z", GoVer

[2019-09-27 09:29] cyrilthank commented on #4184
[kubeflow_error_trace_1.txt](https://github.com/kubeflow/kubeflow/files/3662014/kubeflow_error_trace_1.txt)

[2019-09-27 09:30] cyrilthank commented on #4184
kubeflow@masternode:/nfsroot/kf-poc$ kubectl get pods -n kubeflow
NAME                                          READY   STATUS              RESTARTS   AGE
admission-webhook-bootstrap-stateful-set-0    1/1     Running             0          3m49s
application-controller-stateful-set-0         1/1     Running             0          4m3s
jupyter-web-app-deployment-7b5f9c8b77-vvgsr   1/1     Running

[2019-09-27 09:30] cyrilthank commented on #4184
kubeflow@masternode:/nfsroot/kf-poc$ kubectl get nodes
NAME                     STATUS   ROLES    AGE   VERSION
kubeflowslavenode1.com   Ready    <none>   21h   v1.16.0
masternode.com           Ready    master   21h   v1.16.0

[2019-09-27 10:34] jmsking opened #4200 "ERROR net/http: request canceled (Client.Timeout exceeded while reading body)"
**Question**
*I hava deploy a k8s cluster and install a ksonnet, there occurs a error when i init an kubeflow-app using ksonnet, the detail as follows:*

**Environment:**
- *-----K8s-----*

Server Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.2", GitCommit:"66049e3b21efe110454d67df4fa62b08ea79a19b", GitTreeState:"clean", BuildDate:"2019-05-16T16:14:56Z", GoVersion:"go1.12.5", Comp

[2019-09-27 10:56] Jabbo16 commented on #4184
Moving here to not disrupt the helm issue, It seems you also need to add a missing "selector" field to the `spec` field to fix the `missing required field "selector" in io.k8s.api.apps.v1.DeploymentSpec` errors.

[code]
Replace app and name values with whatever kubeflow wants, should be something like this: https://github.com/helm/helm/issues/6374#issuecomment-533840097
or this:
https://github.com

[2019-09-27 11:00] cyrilthank commented on #4184
Thanks @Jabbo16  for your patient replies

Can you please advise where/how to obtain the yaml files referenced in

https://github.com/helm/helm/issues/6374#issuecomment-533840097
https://github.com/helm/helm/issues/6374#issuecomment-533185074

[2019-09-27 11:12] krishnadurai commented on #4200
@jmsking Which version of Kubeflow are you trying to deploy?

Currently with the latest release of Kubeflow 0.6.2 we do not support ksonnet deployments and have moved to using kustomize.

Here are some docs to help you get started:

https://www.kubeflow.org/docs/started/k8s/

[2019-09-27 11:57] jmsking commented on #4200
thanks for you rapidly reply, i will try to install kubeflow according to the kubeflow document you supplied.

[2019-09-27 11:58] #4200 closed

[2019-09-27 12:30] Jabbo16 commented on #4184
The yaml files there are related to installing tiller, that suffers the same api deprecation issues with k8s 1.16.0.
You need to check now your kubeflow deployment yaml files (I guess they are inside the `kustomize` folder and manually add the `selector` field in the similar way of how it was also needed to be added to the tiller deployment yaml to work with k8s.
Just use that fixed deployment fil

[2019-09-27 13:46] ryandawsonuk opened #4202 "kfctl install from latest master fails on first attempt on kfserving webhook, works second"
It gets most of the way through installing things and then a kfserving webhook causes it to stop

[code]

[2019-09-27 13:46] jlewi commented on #4195
I think to fix this we will need to make use of conditions

e.g.
https://github.com/kubeflow/kubeflow/blob/4a3766b65f8ff104515f9cd5d9cdad56cea0847d/bootstrap/pkg/apis/apps/kfdef/v1beta1/application_types.go#L170

We should use conditions to indicate whether a plugin is done or had an error/failed. In the event of failure we shouldn't just go on to deploying the K8s applications.

In the interim we

[2019-09-27 13:54] ryandawsonuk commented on #4202
Seems to be a race condition as if I do kfctl apply again afterwards then the second time it went through.

[2019-09-27 14:06] jmsking opened #4203 "Error: couldn't apply KfApp: (kubeflow.error): Code 500 with message: kfApp Apply failed for kustomize: (kubeflow.error): Code 400 with message: Could not find namespace kubeflow-anonymous, wait and retry: namespaces "kubeflow-anonymous" not found"
/kind bug

**Question:**

$ kfctl apply all -V
and there are error information as follows:

**Environment**
**-----K8s-----**

Server Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.2", GitCommit:"66049e3b21efe110454d67df4fa62b08ea79a19b", GitTreeState:"clean", BuildDate:"2019-05-16T16:14:56Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linux/amd64"}

**-----OS-----**

VERSION="

[2019-09-27 14:15] krishnadurai commented on #4203
@jmsking Looks like this could be duplicate of issue #4090. Can you please confirm?

[2019-09-27 14:32] jmsking commented on #4203
yeahhhhh, i am so sorry for than, i will close this issue

[2019-09-27 14:32] #4203 closed

[2019-09-27 15:06] #4126 closed

[2019-09-27 15:06] Rohithzr commented on #4126
it does work if you create an profile.

[2019-09-27 18:20] justrohan opened #4205 "kfctl apply throws an error"
/kind bug

**What steps did you take and what happened:**
I am running a microk8s cluster on a ubuntu machine and am trying to deploy kubeflow using the Multi-user, auth-enabled Kubeflow with kfctl_existing_arrikto method mentioned and I was following the steps, but ran into an error when trying out kfctl apply all command.

On running  kfctl apply all -V

This is what I get:

INFO[0000] Downloadi

[2019-09-27 19:57] mosn commented on #3905
I've been  seeing this when  on CLI deploy with GPU pools.

` Warning  FailedMount  ... Unable to mount volumes for pod "backend-updater-0_istio-system...": timeout expired waiting for volumes to attach or mount for pod "istio-system"/"backend-updater-0". list of unmounted volumes=[sa-key]. list of unattached volumes=[config-volume sa-key envoy-token-4lz4m]`

and here
` MountVolume.SetUp failed fo

[2019-09-27 20:11] lluunn commented on #3940
The remaining work is tracked in #4164

[2019-09-27 20:11] #3940 closed

[2019-09-27 20:15] jlewi commented on #3725
/assign @Tabrizian

[2019-09-27 22:27] #1398 closed

[2019-09-27 22:32] axelmagn commented on #4190
I have a related issue: when I click on the Configuration submenu to expand it, nothing happens.  No configuration options are displayed.

[2019-09-27 22:46] Tabrizian commented on #3725
Pull request is #4207

[2019-09-27 23:27] holdenk opened #4208 "kfctl generate fails with `--platform` for GCP, remove `--platform`"
/kind bug

**What steps did you take and what happened:**

I generated a new gcp platform project and tried to run generate all. It failed with a missing cluster.jinja file.

**What did you expect to happen:**

Generate a project I can then apply

**Anything else you would like to add:**

There are some jinja files, just not where expected.

**Environment:**

- Kubeflow version: (version number ca

[2019-09-27 23:53] #4195 closed

[2019-09-28 00:00] holdenk opened #4209 "Kubeflow (from 5ecfa5b2e48a89c6e0d6835cc93a47c04262af28 ) does not generate user namespace w/minikube"
/kind bug

**What steps did you take and what happened:**

I deployed Kubeflow locally to minikube, but when I log into the UI there is no namespace and I can't launch any notebooks (also no expirements can be loaded).

I deployed Kubeflow as follows

`kfctl init  preview07 && cd preview07 && kfctl generate all -V && kfctl apply all -V`
I then waited for it to stabilize:
`kubectl get pods --all-na

[2019-09-28 00:04] jlewi commented on #4173
I checked https://kf-vmaster-n04.endpoints.kubeflow-ci-deployment.cloud.goog/
And it was deployed with 1.13

[2019-09-28 00:04] #4173 closed

[2019-09-28 06:05] Tabrizian commented on #3688
I want to help but not sure how to get started.

[2019-09-28 18:45] apatsekin commented on #4198
Running into exactly the same issue while trying this official manual:
https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

Steps to reproduce on clean Ubuntu 16 AWS instance:

sudo snap install microk8s --classic
sudo usermod -a -G microk8s [username]
microk8s.enable dashboard dns storage

[2019-09-28 19:24] apatsekin commented on #4090
Had the same error with microk8s 1.14.6. However, after ~10 loops over this warning it exited with 0. And namespace was successfully created.

[2019-09-29 03:30] jmsking opened #4212 "Error: couldn't apply KfApp: (kubeflow.error): Code 500 with message: kfApp Apply failed for kustomize: (kubeflow.error): Code 500 with message: couldn't create resources from istio-install Error: Timeout: request did not complete within requested timeout 30s"
/kind bug

**What steps did you take and what happened:**

**Then there occurs a errors as follows**

Error: couldn't apply KfApp:  (kubeflow.error): Code 500 with message: kfApp Apply failed for kustomize:  (kubeflow.error): Code 500 with message: couldn't create resources from istio-install Error: Timeout: request did not complete within requested timeout 30s

**Any suggestion is much appreciate

[2019-09-29 07:57] xaniasd commented on #2422
I'd like to chime in if I may. Apart from Katib and pipelines, other components deploy a database as well, namely metadata and modeldb. So we can end up with 4 databases, all with insecure configuration. For deployment scenarios where a managed database service is available and a preferred option, this means 4 insecure database servers deployed for no reason at all. And if we stick to this pattern

[2019-09-29 13:47] nrchakradhar commented on #3721
@jlewi @scottilee Please let me know if I can help here. I need some guidance on what changes are needed and I can submit a PR.

[2019-09-29 13:57] Niuxiaotong commented on #2799
it^s so long time, i am no sure if I note it, but I will found it recently;

[2019-09-29 18:18] holdenk commented on #4208
From a conversation on slack with @jlewi it seems like we should delete `--platform` since it's no longer supported.

[2019-09-30 01:14] #3416 closed

[2019-09-30 01:51] mappedinn commented on #4180
Can someone recommend me which version to install for KubeFlow?

Thanks

[2019-09-30 04:17] cyrilthank commented on #4184
Thanks a lot @Jabbo16  for your patience

sorry if my ignorance is showing

i did the following steps

and still getting the below errors

**selector errors**  not clear on where (in which yaml file and where within the yaml file to put the selector clause)

service/katib-db unchanged
error: error validating "STDIN": error validating data: ValidationError(Deployment.spec): missing required field "

[2019-09-30 04:40] cyrilthank commented on #4184
for the file

"./suggestion/base/suggestion-bayesianoptimization-service.yaml"

i did the below

apiVersion: v1
kind: Service
metadata:
  name: katib-suggestion-bayesianoptimization
  selector:
   matchLabels:
    app: katib
    component: suggestion-bayesianoptimization
spec:
  type: ClusterIP
  ports:
    - port: 6789
      protocol: TCP
      name: api
  selector:
   matchLabels:
    app: katib

[2019-09-30 05:08] jageshmaharjan commented on #3810
I commented the port number 31380, 31390 and 31400 in file `../kustomize/istio-install/base/istio-noauth.yaml`
[code]
Now, it's working good.

[2019-09-30 05:33] uniuuu commented on #4184
Hi @cyrilthank

Try to check this requirement:

source: [https://stackoverflow.com/questions/53304461/error-selector-does-not-match-template-labels](url)

[2019-09-30 05:54] cyrilthank commented on #4184
Thank you @uniuuu can you please advise what i could do to unblock and move forward with the kubeflow poc?

[2019-09-30 06:14] #3542 closed

[2019-09-30 06:29] uniuuu commented on #4184
@cyrilthank

I can see from the first post:
` Server Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.3",
`
Did you upgraded to 1.16.0 after what step.
Could you post a full script of how to reproduce problem. I might catch on then to get root cause.

[2019-09-30 07:06] cyrilthank commented on #4184
Thanks @uniuuu  for your patient support as i navigate the kubeflow to get the poc up to sell the idea to others.

Attached the scripts (including the wrong steps i mistakenly executed)
[Kubeflow_script_steps_executed.txt](https://github.com/kubeflow/kubeflow/files/3669241/Kubeflow_script_steps_executed.txt)

[2019-09-30 07:26] uniuuu commented on #4184
@cyrilthank

Please re-post content of suggestion-bayesianoptimization-service.yaml with its indentation.

[2019-09-30 08:00] meandmymind commented on #4142
Can see the same issue.
![image](https://user-images.githubusercontent.com/24773652/65859578-b735d680-e392-11e9-8cc4-07e5f203f569.png)

[2019-09-30 08:09] cyrilthank commented on #4184
[suggestion-bayesianoptimization-service-and -deployment.zip](https://github.com/kubeflow/kubeflow/files/3669514/suggestion-bayesianoptimization-service-and.-deployment.zip)

[2019-09-30 08:09] cyrilthank commented on #4184
Attached the files

[2019-09-30 08:54] mosyang commented on #4145
Hi cyrilthank:

I see the same error log after deploying kubeflow 0.6.2.  However, I follow the [document](https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/#persistent-volume-claims-are-in-pending-state) to add all the required pv, and fix this issue.   For your reference

[2019-09-30 09:12] cyrilthank commented on #4184
Also attached the kubernetes install/config steps performed

[2019-09-30 09:12] cyrilthank commented on #4184
[Kubernetes_script_steps_executed.txt](https://github.com/kubeflow/kubeflow/files/3669828/Kubernetes_script_steps_executed.txt)

[2019-09-30 09:13] cyrilthank commented on #4184
Much appreciate your advice on what i am doing wrong as our kubeflow poc is now stalled

[2019-09-30 09:17] uniuuu commented on #4184
Check with this `https://github.com/kubeflow/manifests/blob/master/katib-v1alpha1/suggestion/base/suggestion-bayesianoptimization-deployment.yaml`
Delete spec.template.metadata.selector
Delete metadata.selector
Leave only one selector and under spec.selector
I suppose you have to have also spec.template.labels defined and selector should match the label name.
Check if your on latest commit. This o

[2019-09-30 09:18] cyrilthank commented on #4145
Thanks for your reply
However, in the document you mentioned I see only one command
kubectl -n kubeflow get pvc
can you please share the exact steps you used to enable the pv
requesting since my poc is stalled with many errors
Thank you
cyril
    On Monday, September 30, 2019, 02:25:05 PM GMT+5:30, mosyang <notifications@github.com> wrote:

Hi cyrilthank:

I see the same error log after deploying

[2019-09-30 09:39] cyrilthank commented on #4184
[suggestion-bayesianoptimization-deployment.zip](https://github.com/kubeflow/kubeflow/files/3670104/suggestion-bayesianoptimization-deployment.zip)

can you please confirm if this modified file is ok

requesting since i am getting the below message

configmap/metrics-collector-template unchanged
2019/09/30 09:35:28 got file 'suggestion-bayesianoptimization-deployment.yaml', but '/nfsroot/kf-poc/ku

[2019-09-30 09:55] uniuuu commented on #4184
Please pull latest commit from https://github.com/kubeflow/manifests

[2019-09-30 10:04] fediazgon commented on #3772
Please @kunmingg, @jlewi, see PRs above. On second thoughts, I don't like the idea of the UI surfacing events as status. Events have a ttl, which means that, if the web-app can't fetch any nb-related event, it must assume that the nb is running (see [this](https://github.com/kubeflow/kubeflow/pull/4214/files#diff-d575d8cda5f10ed63f52ac8e7a65b733R258)). Also, the user might delete all events via `k

[2019-09-30 10:07] cyrilthank commented on #4184
can you please advise based on the below messages if https://raw.githubusercontent.com/kubeflow/manifests/0842eb2b97f433bd39f1dc1882cf833cefa6c68f/katib-v1alpha2/suggestion/base/suggestion-bayesianoptimization-deployment.yaml
 worked.

clusterrolebinding.rbac.authorization.k8s.io/metrics-collector unchanged
configmap/metrics-collector-template unchanged
warning: error calculating patch from openap

[2019-09-30 10:38] uniuuu commented on #4184
You can see the errors are from another deployments katib-suggestion-grid, katib-suggestion-hyperband, katib-suggestion-nasrl, katib-suggestion-random.

Now I see from https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/ you apply https://raw.githubusercontent.com/kubeflow/kubeflow/v0.6-branch/bootstrap/config/kfctl_k8s_istio.0.6.2.yaml  which uses repo manifests https://github.com/kubeflow/

[2019-09-30 10:40] cyrilthank commented on #4184
Thanks a lot @uniuuu  for your amazing patience with me.

Currently since i am in a rush to 'demonstrate' a running kubeflow instance

can you please share the optimal steps i can perform without having to wait for dev to release fix

[2019-09-30 10:52] cyrilthank commented on #4184
Hi @uniuuu

can you please advise for the attached list of errors where i may find similar manifest files

requesting since i am hoping if we can get those manifest files i can get the centralboard working
currently the centralboard url localhost:31380  localhost:8080 is not coming up and i am unable to demonstrate a working instance of kubeflow to the stakeholders.

[errors_30Sep2019.txt](https:/

[2019-09-30 11:06] uniuuu commented on #4184
Sure, use this approach (didn't test it)
[code]
Or in browser:
https://ibb.co/WDwt3VhShowing ￼

But most probably it will stuck at some point because it's

[2019-09-30 11:09] cyrilthank commented on #4184
kubeflow@masternode:/nfsroot/kf-poc$ kubectl get pod --all-namespaces|grep -vi Runn
NAMESPACE      NAME                                                          READY   STATUS              RESTARTS   AGE
default        your-garfish-prometheus-server-6cc989b798-82vls               1/2     CrashLoopBackOff    11         50m
istio-system   istio-policy-749ff546dd-vbq28

[2019-09-30 11:34] cyrilthank commented on #4184
Hi @uniuuu

Following are the steps i executed

  cd
  mkdir manifests_from_git
  cd manifests_from_git
  git clone https://github.com/kubeflow/manifests
  cd manifests
  git checkout 0842eb2b97f433bd39f1dc1882cf833cefa6c68f

   du -a |grep -i katib
    diff -bitw ./katib-v1alpha2/katib-db/base/katib-db-deployment.yaml /nfsroot/kf-poc/kustomize//katib-db/base/katib-db-deployment.yaml
   cp -prf  /

[2019-09-30 11:35] cyrilthank commented on #4184
[errors_30Sep2019_4errors_remaining.txt](https://github.com/kubeflow/kubeflow/files/3670712/errors_30Sep2019_4errors_remaining.txt)

can you please advise for the above 4 errors which yaml files need to be changed
requesting since i am unable to figure out the mapping between the error message and the yaml file for the above 4 errors

[2019-09-30 11:37] cyrilthank commented on #4184
kubeflow@masternode:/nfsroot/kf-poc$ kubectl get pod --all-namespaces|grep -vi Runnin
NAMESPACE      NAME                                                          READY   STATUS              RESTARTS   AGE
default        your-garfish-prometheus-server-6cc989b798-82vls               1/2     CrashLoopBackOff    16         81m
istio-system   istio-pilot-67f9bd57b-xzmph

[2019-09-30 11:54] cyrilthank commented on #4184
in the git downloaded location i see seldondeployments.machinelearning.seldon.io-crd.yaml while in the installed location it is crd.yaml
can you please help

[2019-09-30 12:32] uniuuu commented on #4184
I hope kubeflow team will help with solution soon.

[2019-09-30 12:42] cyrilthank commented on #4184
Thanks @uniuuu

is there a way you can "re-assign" this issue appropriately?

can you please advise if there is any other option we can try out?
more specifically can you please share the steps to install kubeflow from source code?
can we do this on top of existing kubernetes cluster?

[2019-09-30 12:54] cyrilthank commented on #4184
further confirmed that
 cp -ip ./seldon/seldon-core-operator/base/seldondeployments.machinelearning.seldon.io-crd.yaml /nfsroot/kf-poc/kustomize/seldon-core-operator/base
 mv -i crd.yaml crd.yaml.orig
mv seldondeployments.machinelearning.seldon.io-crd.yaml  crd.yaml

still yields the same message

The CustomResourceDefinition "seldondeployments.machinelearning.seldon.io" is invalid:
* spec.validat

[2019-09-30 23:50] praveen049 commented on #3989
Hi
   Is it possible to deploy kubeflow now ?  Any instructions which i could use for deploying ?

Thanks

[2019-10-01 00:48] #3550 closed

[2019-10-01 02:49] jbottum commented on #3831
@ShyamSubramanian Hey Shyam - we will need some info to prioritize this
@vkoukis - do you see a near-term justification / use case large enough to prioritize this for Kubeflow 1.0

[2019-10-01 02:56] #3487 closed

[2019-10-01 08:42] mosyang commented on #4145
Hi cyrilthank:

I try my best to show my example cases to this.  In the [document](https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/#persistent-volume-claims-are-in-pending-state), there are two ways to solve _Pending_ status in PVC and I choose the first one: _manually create PVs for each PVC_

**Create PV for: katib-mysql, metadata-mysql, minio-pv-claim, mysql-pv-claim**
Follow the PV f

[2019-10-01 10:48] discordianfish opened #4215 "Allow creating custom resources when creating namespaces in profile controller"
/kind feature

**Why you need this feature:**
With the multi-user support, every user gets a new, blank namespace. To use secrets or access podpresets in the jupyter UI, an admin needs to apply manifests after the namespace creation. Since the namespace creation happens dynamically on first login, it's not possible to automate that. At least without setting up all profiles in advance which we don'

[2019-10-01 14:08] yanniszark commented on #4180
Hi @mappedinn!
You could try the existing_arrikto config, which installs in existing, onprem clusters.
The existing_arrikto config doesn't install KFServing yet, so it should be more lightweight and work fine with such a powerful laptop.
It also provides authentication and multi-user capabilities:
https://www.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto/

[2019-10-01 15:14] harshalkwagh commented on #3585
I have install kubeflow 0.6.0 in one namespace and now I am installing kubeflow 0.6.2 using kfctl in custom namespace like: kfctl init mykubeflow --namespace kftest --config "my/config/path".
and i am facing one issue that service account "argo" for second kubeflow installation is not getting added into clusterrolebinding "argo". due to that my workflow-contrller pod is going into CrashLoopBackOff

[2019-10-01 18:23] mattnworb commented on #4043
We are having the same problem. I believe the problem is that https://github.com/kubeflow/manifests/blob/e97671c579e176bca9928c8cefa38c1c16432fe8/gcp/iap-ingress/base/config-map.yaml#L122 requires that the `timeoutSec` of the backend service is 3600 seconds, but there is an error when `update_backend.sh` (invoked by the backend-updater StatefulSet) [tries to update the timeout to be 3600 seconds](

[2019-10-01 18:43] yanniszark opened #4217 "kfam: bindings roleref contain magic string and not real role"
/kind bug

**What did you expect to happen:**
The Binding struct defines a RoleRef.
I expect the RoleRef to contain a K8s role.

**What happened:**
The RoleRef contains a magic string ("view") instead of the real role ("kubeflow-viewer").
That's because the frontend expects a certain value.

**Possible Solutions:**
* Make it clear that those are magic values and not Roles. Maybe add a separate fie

[2019-10-01 20:59] mikejmills commented on #4199
I have a similar issue

`Error: couldn't apply KfApp:  (kubeflow.error): Code 500 with message: kfApp Apply failed for kustomize:  (kubeflow.error): Code 500 with message: couldn't create resources from istio-install Error: no matches for kind "Deployment" in version "extensions/v1beta1"
Usage:
  kfctl apply [all(=default)|k8s|platform] [flags]

Flags:
  -h, --help      help for apply
  -V, --verb

[2019-10-01 20:59] mikejmills commented on #4212
I have a similar issue

`Error: couldn't apply KfApp:  (kubeflow.error): Code 500 with message: kfApp Apply failed for kustomize:  (kubeflow.error): Code 500 with message: couldn't create resources from istio-install Error: no matches for kind "Deployment" in version "extensions/v1beta1"
Usage:
  kfctl apply [all(=default)|k8s|platform] [flags]

Flags:
  -h, --help      help for apply
  -V, --verb

[2019-10-02 02:53] jlewi commented on #4217
@yanniszark "view" was the role

[code]

`kubeflow-viewer` is the new name for the role starting in 0.7.

So is this an issue with backwards compatibility?

[2019-10-02 02:54] jlewi commented on #4196
Why does kfctl need to be in lock step with profile controller?

[2019-10-02 10:30] jlewi commented on #4217
@yanniszark Is this about #4167 and the addition in that PR of
components/access-management/kfam/bindings.go
which is mapping "view" to "kubeflow-viewer"

I think that was just for backwards compatibility because in 0.6 the role names were edit, view, admin and we are changing this in 0.7 to kubeflow-edit, kubeflow-view, and kubeflow-admin.

But the central dashboard was still sending the old name

[2019-10-02 10:45] krishnadurai commented on #4217
@jlewi There are 2 ways approach this:
1) ClusterRole names are same the role names shown in the frontend with a 'kubeflow' prefix.
2) Both are different and are mapped by the backend.

I suggest we retain the names 'admin', 'edit' and 'view' at the frontend and at the backend API level too and role-bindings can be mapped - option 2. This would mean that ClusterRole names are not necessarily the s

[2019-10-02 14:27] kkasravi commented on #4136
/priority p0

[2019-10-02 14:28] kkasravi commented on #4136
/area kfctl

[2019-10-02 17:01] justrohan commented on #4205
Just to add more info to the situation my istio ingress gateway and metal lb both have external addresses and don't show up as pending.

[2019-10-02 18:45] Ark-kun commented on #3874
/cc @neuromage

[2019-10-02 18:45] Ark-kun commented on #3874
/assign @neuromage

[2019-10-02 20:02] richardsliu opened #4221 "Presubmit for notebook-test is failing"
Error:

[code]

The namespace is passed here:
https://github.com/kubeflow/kubeflow/blob/master/py/kubeflow/kubeflow/ci/kfctl_e2e_workflow.py#L407

This codepath hasn't changed in a long time, not sure why it is breaking now.

[2019-10-02 20:29] jbottum commented on #4152
@crauterb @jeremievallee if this the same as 3945, should we close one of these issues?

[2019-10-02 20:30] prodonjs commented on #3042
/reopen

[2019-10-02 20:31] kevincasadodsc commented on #4199
I believe this is the same as https://github.com/kubeflow/kubeflow/issues/4057. Looks like it's in pr here https://github.com/kubeflow/manifests/pull/360 but has yet to be merged.

[2019-10-02 20:34] #3410 closed

[2019-10-02 20:37] jbottum commented on #2347
@ktsakalozos is this resolved?

[2019-10-02 21:01] jlewi commented on #3874
kubeflow/manifests#396 is about creating the roles "kubeflow-edit",  "kubeflow-view", "kubeflow-admin".

These roles are defined here:
https://github.com/kubeflow/manifests/tree/master/kubeflow-roles

In the profile created namespaces there will be edit and view service accounts for kubeflow that will be bound to these roles.

There is a couple mitigating factors with pipelines with respect to lev

[2019-10-02 22:54] #3535 closed

[2019-10-02 23:33] jlewi commented on #4221
I think @scottilee is updating that test in #4171 but it hasn't been merged yet.

[2019-10-02 23:36] jlewi commented on #4221
@richardsliu if this is in a presubmit could the problem be in the PR itself?

postsubmits look green but I'm not sure I see that particular test.
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-postsubmit

[2019-10-02 23:48] jlewi commented on #4221
kubeflow/kubeflow periodic master
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-periodic-master

here's a periodic run
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow-periodic-master/1179501557733920774

63/64 tests passed and 1 was skipped.

But some of the argo workflows are failing
http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-periodic-master-kfc

[2019-10-02 23:54] jlewi commented on #4221
namespace is listed in conftest.py
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/jupyter/tests/conftest.py

It doesn't look like the working directory is set for that step.

[code]

That seems problematic.

[2019-10-03 00:07] jlewi commented on #4221
workingDir should be set here
https://github.com/kubeflow/kubeflow/blob/3abc11e3c24db987c66dbd3b5d67b3e2b799360e/py/kubeflow/kubeflow/ci/kfctl_e2e_workflow.py#L417

I don't think that's having any effect. I think there is a bug here in _build_step
https://github.com/kubeflow/kubeflow/blob/3abc11e3c24db987c66dbd3b5d67b3e2b799360e/py/kubeflow/kubeflow/ci/kfctl_e2e_workflow.py#L284

We are returning

[2019-10-03 00:11] jlewi commented on #4221
potential fix in #4224; I'm still not sure why this didn't show up before now.

[2019-10-03 00:23] jlewi commented on #4221
#4201 is a recent PR that modified kfctl_e2e_test_workflow.py
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/4201/kubeflow-presubmit/1178021440037851136/

That PR correctly invoked jupyter_test.py and if we look at the Argo Spec; workingDir is set on the container.

One possibility is that run_e2e_workflow.py isn't correctly checking out the modified kfctl_e2e_workf

[2019-10-03 01:04] richardsliu commented on #4221
@jlewi Do these paths have any effect? https://github.com/kubeflow/kubeflow/blob/master/py/kubeflow/kubeflow/ci/kfctl_e2e_workflow.py#L260

[2019-10-03 01:06] jlewi commented on #4221
Here's why this wasn't caught by presubmits.

kubeflow/testing#474 changed argo_built_util.py to make a copy of the task template. That would explain why kfctl_e2e_workflow.py suddenly stopped setting workingDir correctly on various steps.
Since that change is in the kubeflow/testing workflow it didn't trigger the E2E tests. But on the next run of the E2E tests in kubeflow/kubeflow those changes w

[2019-10-03 01:15] jlewi commented on #4221
@richardsliu the python path matters in order to be able to import kubeflow code inside the tests. But the way we invoke the test e.g. `pytest jupyter_pytest.py` doesn't depend on the python path but does depend on the working directory to find conftest.py which defines the command line arguments for pytest. Since we weren't running in the right directory it wasn't finding the conftest path that d

[2019-10-03 03:58] cyrilthank commented on #4184
@uniuuu @Jabbo16 can you please share some potential way forward out of this.

Requesting since our kubeflow poc is completely stalled at this point

[2019-10-03 04:13] cyrilthank commented on #4184
@uniuuu @Jabbo16
can you please advise on alternative steps

requesting since based on @uniuuu 's below comments i am wondering if the kfctl_k8s_istio.0.6.2.yaml can be 'corrected' in some way and re-run

please help

Now I see from https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/ you apply https://raw.githubusercontent.com/kubeflow/kubeflow/v0.6-branch/bootstrap/config/kfctl_k8s_istio.0

[2019-10-03 06:39] arianyambao commented on #2852
In my case it is the problem on the resources (memory allocation, cpus, etc).
I didn't follow this one; https://www.kubeflow.org/docs/started/k8s/overview/#minimum-system-requirements, that's why it's crushing down

In case you don't wanna look at the link, here are the recommended specs:
[code]

[2019-10-03 07:08] ktsakalozos commented on #2347
I am not sure if this is fixed there is however the workaround of using a different executor. @knkski could provide more details on this.

[2019-10-03 10:37] jlewi commented on #4215
Cc @kunming

[2019-10-03 12:17] #3572 closed

[2019-10-03 13:58] knkski commented on #2347
@jbottum: You can run kubeflow pipelines on microk8s by starting up Argo with one of the other executors found here (currently `k8sapi`, `kubelet`, or `pns`):

https://github.com/argoproj/argo/tree/master/workflow/executor

Given that microk8s has moved to containerd, I don't think it makes sense to use the docker executor at all, and the resolution here is to just use a different executor. If you

[2019-10-03 17:35] MostafaGazar commented on #4212
I believe this is related to k8s changes in v1.16 https://kubernetes.io/blog/2019/09/18/kubernetes-1-16-release-announcement/

If you are using [multipass](http://multipass.run) with [microk8s](http://microk8s.io) you can install v1.14. It should work fine, I just tried it. Follow the steps in https://tutorials.ubuntu.com/tutorial/get-started-kubeflow and install microk8s via `sudo snap install mi

[2019-10-03 17:38] MostafaGazar commented on #4199
A quick workaround if you are using [multipass](http://multipass.run/) with [microk8s](http://microk8s.io/) is to install v1.14. I just tried it and it worked fine.

Follow the steps in https://tutorials.ubuntu.com/tutorial/get-started-kubeflow but install microk8s via `sudo snap install microk8s --classic --channel=1.14/stable` instead.

[2019-10-03 17:38] MostafaGazar commented on #4198
A quick workaround if you are using [multipass](http://multipass.run/) with [microk8s](http://microk8s.io/) is to install v1.14. I just tried it and it worked fine.

Follow the steps in https://tutorials.ubuntu.com/tutorial/get-started-kubeflow but install microk8s via `sudo snap install microk8s --classic --channel=1.14/stable` instead.

[2019-10-03 17:52] cyrilthank commented on #4198
Can you please share if this work around works for Kubernetes ( ie the non micro/mini) as well
    On Thursday, October 3, 2019, 11:09:20 PM GMT+5:30, Mostafa Gazar <notifications@github.com> wrote:

UPDATE:
The problem is described here:
https://kubernetes.io/blog/2019/09/18/kubernetes-1-16-release-announcement/
Apparently config file with extensions/v1beta1 for Deployment is not suppose to work

[2019-10-03 22:31] mikejmills commented on #4199
Thanks for the suggestion but no luck same error.

[2019-10-04 00:29] Jeffwan commented on #4199
Sorry guys I will try to resolve this issue and make aws components merge into v0.6-branch

[2019-10-04 00:29] Jeffwan commented on #4199
/assign @Jeffwan

[2019-10-04 02:35] swiftdiaries opened #4226 "Move config_spec and kfDef Name in kfctl_go_test.py into get_config_spec()"
/kind improvement

**Why you need this feature:**
[Is your feature request related to a problem? Please describe in details]
To ensure that all config related changes are in one place.

**Describe the solution you'd like:**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
Refer

[2019-10-04 03:39] swiftdiaries opened #4227 "Post-submits seem to pass while endpoint_is_ready test is failing"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Checked a postsubmit for a successful run.
But the endpoint_is_ready test seems to be failing but is chalked off as a successful run anyway.
Logs:
[code]

Workflow: http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-postsubmit-kfctl-go-iap-endpoint-529de7d-7824-4684?

[2019-10-04 03:41] swiftdiaries commented on #4227
/cc @jlewi @abhi-g
This needs to be p0

[2019-10-04 03:44] richardsliu commented on #4227
Is the endpoint actually ready? Or is this just a test failure?

[2019-10-04 03:46] swiftdiaries commented on #4227
I'm guessing IAP is taking time to be fully ready and the test finishes before that.
We could try increasing the backoff and retry timeout

[2019-10-04 06:21] cyrilthank commented on #4184
@uniuuu @Jabbo16
can you please advise if the below
https://github.com/kubeflow/kubeflow/issues/4198#issuecomment-538048899

can be attempted on kubernetes 1.14

please advise as at present I am unable to go back to the team with kubeflow as a solution for us

[2019-10-04 06:24] cyrilthank opened #4228 "Need confirmation on kubeflow on kubernetes 1.16"
/kind bug
What steps did you take and what happened:
[A clear and concise description of what the bug is.]
 Installed kubeflow on kubernetes 1.15
using
https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/ you apply https://raw.githubusercontent.com/kubeflow/kubeflow/v0.6-branch/bootstrap/config/kfctl_k8s_istio.0.6.2.yaml

This brought manifests with different version

get errors like the bel

[2019-10-04 06:25] cyrilthank commented on #4228
Currently our poc is stalled
due to issues
https://github.com/kubeflow/kubeflow/issues/4184

we need direction on which version of kubernetes and kubeflow to use to get a working poc to demonstrate the viability of kubeflow as a platform of choice for us

[2019-10-04 07:27] samuelthan commented on #4199
Yeah, i tried to use the work around by using master as the branch for the manifest.  But the work around no longer fix the issue.

[2019-10-04 07:48] MostafaGazar commented on #4199
I used the workaround with tag v0.6.2

[2019-10-04 09:12] cyrilthank commented on #4228
Please note we are getting errors like

error: unable to recognize "STDIN": no matches for kind "Deployment" in version "extensions/v1beta1"

unable to recognize "STDIN": no matches for kind "Deployment" in version "apps/v1beta2"

The CustomResourceDefinition "seldondeployments.machinelearning.seldon.io" is invalid:
* spec.validation.openAPIV3Schema.properties[spec].properties[predictors].items.pr

[2019-10-04 09:13] cyrilthank commented on #4184
when we attempt the kubeflow 0.6.2 install on kubernetes 1.16.1

kindly advise

[kubernetes_upgrade_to_1_16_01_kubeflow_deploy_error_04Oct.txt](https://github.com/kubeflow/kubeflow/files/3689793/kubernetes_upgrade_to_1_16_01_kubeflow_deploy_error_04Oct.txt)

[2019-10-04 10:12] praveen049 commented on #3989
Hi, i have tried the kubeflow deployment again with version 0.6.2.

I am running into the same error:

INFO[0042] creating ClusterRoleBinding/application-controller-cluster-role-binding  filename="kustomize/kustomize.go:447"
INFO[0042] creating ConfigMap/application-controller-parameters  filename="kustomize/kustomize.go:447"
INFO[0042] creating Service/application-controller-service  filename="ku

[2019-10-04 10:44] swiftdiaries commented on #3518
@jlewi @yanniszark @gabrielwen
Can we list remaining tasks to be done before 0.7?
I'd like to start working on them.

Remaining tasks:

- [ ] coordinator cleanup
- [ ] unit tests for coordinator functions

[2019-10-04 11:02] swiftdiaries commented on #4226
Sorry about that @nrchakradhar !
Other PRs were blocked on that merge and I wanted to get it done fast.
Commented on your PR.

[2019-10-04 12:36] Lijo050 opened #4229 "istio-ingressgateway ip connection getting refused"
/kind bug
I installed  kubeflow on /azure by following: https://www.kubeflow.org/docs/azure/deploy/install-kubeflow/
But the istio-ingressgateway ip is getting refused when I try to use port-forwarding to visit the cluster.

**Running pods (ns: istio-system)**
[code]
And at the Kubernetes dashboard I could see that for `istio-policy`
[code]
and for `istio-ingressgateway`
[code]
for `istio-pilot`
[

[2019-10-04 14:09] johnugeorge opened #4231 "Add label to all namespaces to support Katib in 0.7"
/kind feature

In 0.7 release,  all namespaces where katib experiments have to be deployed should have the following label.
`     katib-metricscollector-injection: enabled
`
This includes Kubeflow + all user namespaces that are created by profile.

Related:  https://github.com/kubeflow/katib/issues/841

Sample:  https://github.com/kubeflow/katib/blob/master/manifests/v1alpha3/0-namespace.yaml#L6

[2019-10-04 14:10] johnugeorge commented on #4231
/cc @richardsliu
/cc @hougangliu
/cc @jlewi
/assign @krishnadurai

[2019-10-04 14:24] axsaucedo commented on #4202
I have just been able to reproduce as well:

[code]

I have re-ran the script and it fixed it, so it does seem to be a race condition.

[2019-10-04 15:18] Snapple49 commented on #2415
I had some major issues trying to reinstall kubeflow, since I'd accidentally introduced some components from the master manifests. Among others, kf-serving leaves behind some webhooks which prevented me from installing kubeflow again:
[code]

I'm not sure if all the hooks are from kubeflow, but at least the kfservice one was driving me insane. Basically I got this error when applying kfctl manifes

[2019-10-04 15:24] Snapple49 commented on #3767
I had some major issues trying to reinstall kubeflow, since I'd accidentally introduced some components from the master manifests. Among others, kf-serving leaves behind some webhooks which prevented me from installing kubeflow again:
[code]

I'm not sure if all the hooks are from kubeflow, but at least the kfservice one was driving me insane. Basically I got this error when applying kfctl manifes

[2019-10-04 20:46] SinaChavoshi opened #4233 "KF 0.5 deployment from UI is broken"
When deploying KF 5.0 from UI I get the following error:

Deployment status: {"ResourceType":"container.v1.cluster","ResourceErrorCode":"400","ResourceErrorMessage":{"code":400,"message":"No valid versions with the prefix \"1.11\" found.","status":"INVALID_ARGUMENT","statusMessage":"Bad Request","requestPath":"https://container.googleapis.com/v1/projects/chavoshi-dev-4/zones/us-central1-a/clusters

[2019-10-04 20:48] jlewi commented on #4233
If you want to deploy 0.5 you can use the CLI and update the deployment manager configs to set a newer version of GKE.

[2019-10-04 21:04] raghav20 commented on #2141
When is it gonna be done ?

[2019-10-04 21:09] yanniszark commented on #3576
/remove-lifecycle stale

This is important to the composability of Kubeflow.

[2019-10-04 23:23] #3042 closed

[2019-10-05 00:48] jlewi commented on #3938
@krishnadurai could you provide an update please? Looks like a bunch of PRs have been merged. Do we just need to get kubeflow/manifests#393 merged or is there more we need to do?

[2019-10-05 01:00] jlewi commented on #3822
@kunmingg looks like kubeflow/kubeflow#4155 was merged; what is the remaining work?

* Are there any more PRs that need to be merged?
* Do we need to build a new docker image?
* Do we need to update kubeflow/manifests?

[2019-10-05 01:02] jlewi commented on #3727
@richardsliu any update on this?

* How's it going with kubeflow/kubeflow#4115?
* Are we blocked on fixes to kubeflow manifests to define missing Application CRs and give applications unique instance names?

[2019-10-05 01:03] kunmingg commented on #3822
@jlewi I think we need 2 more major changes:
- enable finalizer: https://github.com/kubeflow/kubeflow/pull/4235
- update manifests.

[2019-10-05 01:14] jlewi commented on #3725
* kubeflow/manifests#401 got rolled back for unrelated reasons
* it is being rolled forward in kubeflow/manifests#438

@Tabrizian is there anything else to be done here or can we mark this fixed once kubeflow/manifests#438 is merged?

[2019-10-05 01:21] jlewi commented on #3917
@kunmingg is this fixed as part of kubeflow/kubeflow#4155

* Should we continue to leave this issue open until we have a test per kubeflow/kfctl#40 to verify this is working as expected?