[2021-01-13 22:24] PatrickXYS commented on #4015
/close

[2021-01-13 22:24] #4015 closed

[2021-01-13 22:24] danizavtz opened #5516 "Create custom image from jupyter notebook with default interface from kubeflow."
/kind question

**Question:**
I would like to know how to create a custom jupyter image with the launcher interface that comes default with kubeflow installation.

Following tutorials in official kubeflow documentation I was able to generate a custom image with default jupyter interface.

![defaultinterface](https://user-images.githubusercontent.com/3859647/104514636-55719e00-55d0-11eb-8a80-4e3eff

[2021-01-14 01:00] jbottum commented on #5361
@PatrickXYS I have a Kubeflow 1.2 in draft form.   I have been waiting for the docs to be updated.

[2021-01-14 01:42] PatrickXYS commented on #5361
@jbottum That's great! Look forward to your 1.2 presentation

/reopen

[2021-01-14 04:44] k402xxxcenxxx commented on #5480
@ArVar
Could you check your virtual service configuration? It should be easy to point out the problem.
[code]
If `jupyter-web` is there, you can check the setting by printing out the message with yaml format.
[code]

[2021-01-14 07:31] DavidSpek commented on #5516
@danizavtz To have the Lab interface you need to change the `CMD`. You start the interface by changing `jupyter lab` instead of `jupyter notebook`.

There is a PR open to change the default. https://github.com/kubeflow/kubeflow/pull/5515

[code]

[2021-01-14 08:46] DavidSpek commented on #5509
/area pipelines

[2021-01-14 09:24] #5347 closed

[2021-01-14 09:27] #5484 closed

[2021-01-14 09:41] PatrickGhosn opened #5517 "TFX Pipelines integration requires Docker to create a pipeline. Docker can't be installed because of no root access to the notebook."
/kind question

**Question:**
I'm following TFX Pipelines sample integration. However when trying to create the pipeline with:
`tfx pipeline create --pipeline-path=kubeflow_dag_runner.py  --build-target-image={CUSTOM_TFX_IMAGE} --iap_client_id={IAP_CLIENT_ID} --endpoint={ENDPOINT} `

I reach the point where skaffold requires Docker to create the pipeline image. Docker can't be installed because of

[2021-01-14 11:04] ArVar commented on #5480
@k402xxxcenxxx
The virtual service does exist and settings (after patching) are:

[code]

[2021-01-14 17:11] hebo-yang commented on #5486
Thanks @peteboothroyd for the note! Mine seems to be a slightly different problem. I am on Mac and minikube or istio seem to have problems with docker engine driver on Mac (or everywhere). I changed to use `minikube start --cpus 6 --memory 12288 --disk-size=100g --driver=hyperkit` and it finally worked.

[2021-01-14 17:11] #5486 closed

[2021-01-14 20:46] danizavtz commented on #5516
Thanks, it worked. @DavidSpek .

Maybe worth mention that in official kubeflow documentation. Include some lines showing the GUI possibles. Default Jupyter and Jupyter Lab.
Here is link for kubeflow website project in Github: https://github.com/kubeflow/website

[2021-01-15 01:54] k402xxxcenxxx commented on #5480
@ArVar
Your yaml file seems to be OK for me.
Could you check the log of `jupyter-web`?
[code]
This command will continuously print the log. And you switch to the browser and refresh the notebook server page.

Before the workaround I mention, it should be something like that:
[code]
Actually, the file `/static/jupyter/styles.56d86be2ce72e09364f3.css` doesn't exist in the server, so it will return a

[2021-01-15 10:28] fatimaafridi commented on #5452
@berndverst If you have a running instance of kubeflow v1.2, just follow the straightforward steps here (clone the kfserving repo beforehand and navigate to the hello-word sample directory) :
https://github.com/kubeflow/kfserving/tree/release-0.4/docs/samples/custom/hello-world

You need no additional configuration to test kfserving. If you are able to access the URL successfully then the manifest

[2021-01-15 15:02] #5516 closed

[2021-01-15 15:17] rastislavs opened #5518 "Error by adding notebook server: 500 Internal Server Error"
/kind bug

**What steps did you take and what happened:**
In Kubeflow Central Dashboard, after navigating to `Notebook Servers` section and clicking on `+ New server` I get the following error at the bottom of the page:

[code]

The error does not seem to have any big impact, the notebook server can be started.

**What did you expect to happen:**
I would expect to not see the error.

**Anything el

[2021-01-15 15:59] dgess commented on #5480
I am having a similar issue after the workarounds...
In the JS console, a CSS file is not loaded due to an improper MIME type...
![image](https://user-images.githubusercontent.com/51414890/104749302-4138b880-5718-11eb-824e-f21fbfc93276.png)
I am thinking that issue is not allowing the JS components for interacting with the notebook server vis Kubeflow UI to not load.

[2021-01-15 17:12] dgess commented on #5480
After updating the patch file, logging out of Kubeflow, and logging back into Kubeflow, the issue was resolved.

[2021-01-15 17:53] PatrickGhosn commented on #5514
Same here. Our Stakedriver got filled with over 300GB of logs.

[2021-01-15 18:22] ArVar commented on #5480
@k402xxxcenxxx
I had to restart my vm. The kubeflow pods didn't start up as expected, thus, I disabled and enabled kubeflow.
At this point, I noticed that the file `/var/snap/microk8s/1910/juju/share/juju/controllers.yaml` (and the temp file `/tmp/juju-store-lock-3734303161326635` ) had wrong user (root instead of ubuntu) preventing kubeflow from starting up properly.
After changing that, I could

[2021-01-15 19:10] yanniszark commented on #5421
@RFMVasconcelos should we close now that #5430 is merged?

[2021-01-15 19:56] JoshZastrow opened #5519 "Development friendly Kubeflow experience"
/kind feature

**Why you need this feature:**
Say I have a local package containing my application logic (i.e cleaning, feature generation, ML model training, etc..). This local package contains modules and functions used in my component.

I want to make changes to the application logic (i.e change a feature scaling method), then run my pipeline and 1) make sure the pipeline works or 2) see an imp

[2021-01-16 05:38] TosinAina opened #5520 "Enabling kubeflow on microk8s"
/kind bug

**What steps did you take and what happened:**
I installed microk8s using `sudo snap install microk8s --classic`,
I enabled dns, dashboard and storage with `microk8s enable dns dashboard storage`,
I tried enabling kubeflow with `microk8s enable kubeflow`, inputted the password and it prompted me to add `--ignore-min-mem`,
I tried enabling kubeflow with `microk8s enable kubeflow --ignore

[2021-01-16 13:57] DavidSpek commented on #5520
@TosinAina This installation method actually uses the juju bundle for Kubeflow. To get better support, could you move your issue to https://github.com/juju-solutions/bundle-kubeflow/issues?

[2021-01-16 14:02] DavidSpek commented on #5519
@JoshZastrow Just to be clear, are you talking about Kubeflow as a whole or pipelines specifically? In regards to pipelines, it is possible to create python function based components rather than needing to create images (you do need to have a base image that contains the necessary dependencies such as pytorch for example). https://www.kubeflow.org/docs/pipelines/sdk/python-function-components/

[2021-01-16 14:11] DavidSpek commented on #5520
/platform microk8s

[2021-01-16 14:55] DavidSpek commented on #5457
@naveensrinivasan Given the open PRs from the dependabot, isn't this already enabled?

[2021-01-16 15:34] RFMVasconcelos commented on #5421
Nice catch @yanniszark!

/close

[2021-01-16 15:34] #5421 closed

[2021-01-16 16:09] naveensrinivasan commented on #5457
Yes!

[2021-01-16 16:14] naveensrinivasan commented on #3907
It will not.

[2021-01-16 23:20] DavidSpek commented on #3907
@naveensrinivasan I should have been more specific. What I should have said was, would the kubeflow/kubeflow repo be covered by your PR?

[2021-01-17 19:37] TosinAina commented on #5520
Thank you @DavidSpek

[2021-01-17 19:37] #5520 closed

[2021-01-17 21:03] #5271 closed

[2021-01-17 21:03] #5178 closed

[2021-01-17 21:03] #5158 closed

[2021-01-17 21:03] #5337 closed

[2021-01-17 21:03] #5295 closed

[2021-01-17 21:03] #5320 closed

[2021-01-17 21:03] #5161 closed

[2021-01-17 21:03] #5137 closed

[2021-01-17 21:03] #5122 closed

[2021-01-17 21:03] #5247 closed

[2021-01-17 21:03] #4889 closed

[2021-01-17 21:03] #5212 closed

[2021-01-17 21:03] #5230 closed

[2021-01-17 21:03] #5207 closed

[2021-01-17 21:03] #5312 closed

[2021-01-17 21:03] #5182 closed

[2021-01-17 21:03] #5187 closed

[2021-01-17 21:03] #5131 closed

[2021-01-17 21:03] #5171 closed

[2021-01-17 21:03] #5327 closed

[2021-01-17 21:03] #5165 closed

[2021-01-18 08:30] munagekar opened #5523 "Adding DataSource to the PVC Created with Notebook Server"
/kind feature

**Why you need this feature:**
- I would like to prepopulate the pvc created with Notebook Server with volume snapshot data. Currently I can do this manually with kubectl. It would be nice if we could configure datasource with Jupyter Notebook UI.
REF: https://kubernetes.io/docs/concepts/storage/volume-pvc-datasource/

**Describe the solution you'd like:**
UI could expose an option

[2021-01-18 08:56] chinmay22897 commented on #5099
@DavidSpek Thanks for replying, Yeah somehow the cluster was not able to communicate with server ports, did some config changes, working now.

[2021-01-18 08:56] munagekar commented on #5519
https://github.com/kubeflow-kale/kale this being be useful.

[2021-01-18 10:55] DavidSpek opened #5524 "crud-web-apps node version different than readme"
/kind bug

The README for the Jupyter Web App and the Tensorboard Web App state Node 12 as a requirement, but Node 10 is used in the Dockerfiles.
https://github.com/kubeflow/kubeflow/pull/5522

[2021-01-18 11:18] DavidSpek opened #5525 "crud-web-apps use deprecated Angular 8"
/kind bug
/area jupyter

The crud-web-apps, as well as the `/components/jupyter-web-app` that doesn't use the common code are using Angular 8, which is deprecated and is not receiving security patches. The current version of Angular is 11 (12 has been released now), with 9 being the last still receiving updates until August 6th, 2021. I've started an attempt to update the crud-web-apps to Angular

[2021-01-18 11:29] DavidSpek opened #5526 "Dockerfiles for crud-web-apps Jupyter and Tensorboard don't build"
/kind bug
/area jupyter

While wanting to update the crud-web-apps Jupyter and Tensorboard Dockerfiles to the Node version specified in the requirements (and also use a smaller base package) I ran into the issue that I am unable to build the Dockerfiles.
For the Jupyter Web App, command `docker build --pull -f "jupyter/Dockerfile" -t crud-jupyter:0.1 .` from the `components/crud-web-apps` folder f

[2021-01-18 11:32] DavidSpek commented on #5524
/cc @kubeflow/wg-notebooks-leads

[2021-01-18 11:32] DavidSpek commented on #5525
/cc @kubeflow/wg-notebooks-leads

[2021-01-18 11:32] DavidSpek commented on #5526
/cc @kubeflow/wg-notebooks-leads

[2021-01-18 11:38] DavidSpek opened #5527 "Central Dashboard lacks rate limiting"
/kind bug
/area centraldashboard

At the moment the central dashboard does not employ rate limiting. This means it is a potential target for DoS attacks. PR https://github.com/kubeflow/kubeflow/pull/5521 adds rate limiting to the Central Dashboard. However, the rate to limit by and what requests should all be limited is up for discussion

/assign @kubeflow/wg-notebooks-leads

[2021-01-18 12:16] DavidSpek commented on #5526
The solution seems to be to copy the Dockerfile.dockerignore from the jupyter folder to `components/crud-web-apps/.dockerignore` before running the build command. Tensorboards I am still running into an the above error, which might be due to my environment.

[2021-01-18 12:35] DavidSpek commented on #5526
Tensorboards issue is partially solved by copying the Dockerfile.dockerignore from the tensorboards folder to `components/crud-web-apps/.dockerignore` and partially https://github.com/kubeflow/kubeflow/pull/5528.

[2021-01-18 13:04] DavidSpek opened #5529 "Tensorboard Web App fails to build"
/kind bug
/area tensorboard

Sub issue of https://github.com/kubeflow/kubeflow/issues/5526
The Tensorboard Web App fails to build, in part due to missing dependencies which are solved by https://github.com/kubeflow/kubeflow/pull/5528. However, the following error still remains:
[code]
VS Code gives the following information:
[code]
/cc @kimwnasptd

[2021-01-18 13:43] DavidSpek commented on #5526
https://github.com/kubeflow/kubeflow/pull/5530 Adds instructions how to build the docker images for the crud-web-apps directly (without using the Makefiles).

[2021-01-18 14:04] yanniszark commented on #5313
A small update on this issue.

| Component | Issue | PR | Merged |
| - | - | - | - |
| profile-controller | https://github.com/kubeflow/kubeflow/issues/5397 | https://github.com/kubeflow/kubeflow/pull/5393 | :x: |
| kfam | https://github.com/kubeflow/kubeflow/issues/5399 | https://github.com/kubeflow/kubeflow/pull/5439 | :x: |
| pipelines | https://github.com/kubeflow/pipelines/issues/4768 | https

[2021-01-18 14:36] noushi commented on #5348
I see.
Thank you @dimara .

[2021-01-18 14:36] #5348 closed

[2021-01-18 17:04] PatrickXYS commented on #5482
@kimwnasptd Given this comment (https://github.com/kubeflow/kubeflow/pull/5495#issuecomment-762372094), the webhook of kubeflow/kubeflow repo is configured, I think you can move forward with guidance doc https://github.com/kubeflow/testing/blob/master/aws/Doc/onboarding.md

[2021-01-18 20:17] kimwnasptd commented on #5482
@PatrickXYS this is really amazing! It's like the repo has gotten some life back. Thank you very for pushing this!

I'll follow on with the onboarding doc, as well as creating the first presubmit test of this repo. I'll keep on posting the progress here so everyone is in sync.

[2021-01-18 20:23] kimwnasptd commented on #5482
One question though. I see that in the comment you mentioned both of the bots are responding.
Is it possible to now remove the old k8s-infra bot?

[2021-01-18 20:47] PatrickXYS commented on #5482
@kimwnasptd We can disable the old k8s-infra bot by sending PR here https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubeflow/kubeflow-presubmits.yaml#L44-L57

We should disable presubmit and postsubmit, and also disable trigger here https://github.com/kubernetes/test-infra/blob/master/config/prow/plugins.yaml#L722-L723

I'd suggest we move forward first with setting up kubeflow/ku

[2021-01-19 00:17] JoshZastrow commented on #5519
Hi @DavidSpek , ah yes I should have been more specific--I am talking more about Kubeflow Pipelines.

Seems like even with python based functions, anything that gets imported [needs to exist on the image.](https://www.kubeflow.org/docs/pipelines/sdk/python-function-components/#using-and-installing-python-packages)

For fast development--perhaps the way to go is make every single function in the ap

[2021-01-19 06:52] kimwnasptd commented on #5529
Thank you very much for opening this issue @DavidSpek!
Indeed some packages are missing from the `package.json` of the Tensorboards web app. I must have been using an older linked version of the common library.

The missing packages are indeed:
[code]

The latter one, is because of a missing definition in TWA. I'll submit a small PR with the small change.

[2021-01-19 07:57] kimwnasptd commented on #5527
The Central Dashboard is not the first cluster component that is vulnerable to a DoS attack, it's the cluster's Load Balancer.

In order for a request to reach the Dashboard it must first
1. pass this load balancer
2. pass the authentication system (Dex, IAP etc)
3. finally hit the central dashboard

So this means we have two cases, when the cluster is publicly accessible or it's on prem. In case

[2021-01-19 08:23] VariableDeclared commented on #5480
Hi @tianhaoz95 i've raised an issue on the Kubeflow Bundle page this is an issue with [charms](https://github.com/juju-solutions/bundle-kubeflow/issues/297). Comment https://github.com/kubeflow/kubeflow/issues/5480#issuecomment-754439487 worked for me.

[2021-01-19 09:40] Bobgy commented on #5313
Per https://github.com/kubeflow/manifests/pull/1719#issuecomment-762272491

FYI, I agree we need to break manifests e2e test when merging these PRs, because the e2e cluster still has the old istio version.
No action needed for configuration though, I believe we can just lgtm and approve these PRs, the e2e test was not set as a required test.

[2021-01-19 10:29] DavidSpek commented on #5519
/area pipelines
Ping @Bobgy. Seeing as this is related to Pipelines specifically maybe it can be moved to the kubeflow/pipelines repo.

[2021-01-19 10:43] #5529 closed

[2021-01-19 11:08] DavidSpek commented on #5527
I'm no security expert, but just because it is not the first point of attack doesn't seem like a good reason to not address the issue. Security patches for windows are still important even if the computers are behind a firewall, otherwise something like WannaCry can propagate through your network. It might not only be to protect against attacks, but potentially some other configuration error or ro

[2021-01-19 11:10] DavidSpek commented on #5526
Closing this as the fixes have been merged.

[2021-01-19 11:10] #5526 closed

[2021-01-19 11:41] knave07 opened #5533 "Enable TPUs with Kubeflow v1.2"
/kind bug

**What steps did you take and what happened:**
I wanted to use TPU's with Kubeflow, but to enable TPUs the **Cluster Should be VPC-native**.
With the [current flow](https://www.kubeflow.org/docs/gke/deploy/deploy-cli/) of installing Kubeflow v1.2 on GCP, I didn't find any documentation or any support for this. I found an [old page to enable-tpu](https://www.kubeflow.org/docs/gke/customi

[2021-01-19 12:15] vanaraj-az opened #5534 "Env variables not attached in the notebook pod"
/kind question

**Question:**
[You can ask any question about this project.]
I need to add some env variables in the notebook pod. So that I have used PodDefault manifest as informed in the document. The file contents which is below

[code]
I have run the below command to create the configmap

`kubectl create -n kubeflow-vinay secret generic db-user-creds --from-literal=DB_USER=root --from-literal

[2021-01-19 13:13] DavidSpek commented on #5533
@knave07 I'm guessing this is probably unrelated to your issue, but I would recommend using the `kfctl` version that belongs with the release you are trying to install. So for Kubeflow 1.2: https://github.com/kubeflow/kfctl/releases/tag/v1.2.0.

[2021-01-19 13:39] kd303 opened #5536 "Adding contributers as read-only access to namespace"
/kind question

**Question:**
[You can ask any question about this project.]
Hi,

We are are trying to setup a small team of data scientist where we would like to ensure that we can add DS to a specific namespace as read-only contributors..is this possible?

[2021-01-19 13:45] knave07 commented on #5533
I will give it a try.
We are already using Kubeflow v1.1 installed through the management cluster and wanted to upgrade to Kubeflow v1.2 with TPU support. Our current cluster is kinda stable now and not facing many issues, I am a little bit worried if Kubeflow with [kfctl_k8s_istio](https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/) will have any issues.

[2021-01-19 14:03] kd303 commented on #5510
@yanniszark - I have opened the [issue # 5006](https://github.com/kubeflow/pipelines/issues/5006) I don't believe the contributors can be added as readonly from the contributor UI, This is just not about the pipeline but almost every object that we can think of. thanks for the pointers though.

[2021-01-19 14:12] PatrickGhosn opened #5537 "seldon-core not installed as part of kubeflow 1.2"
/kind bug

**What steps did you take and what happened:**
Followed the steps in https://www.kubeflow.org/docs/gke/deploy/deploy-cli/

**What did you expect to happen:**
For seldon core to be installed, as per this documentation https://www.kubeflow.org/docs/components/serving/seldon/
But I don't see seldon core installed in any namespace or in the apis.

It is also not in the instance/ folder.

**

[2021-01-19 14:59] jbottum opened #5539 "Kubeflow User Survey for Kubeflow 1.3"
/kind feature

**Why you need this feature:**
Kubeflow users and contributors would like to understand more details on why people are using Kubeflow, what things they like and what are the gaps.

**Describe the solution you'd like:**

We will conduct a survey of about a dozen questions and recruit 100+ users to answer them.

Please find the proposed User Survey questions in this doc: https://docs.

[2021-01-19 15:00] jbottum commented on #5539
/priority p1
/assign @jbottum

[2021-01-19 18:39] trmbdevops commented on #5417
@jjf130 Did you ever find a resolution for this?  I am having the same problem with EKS 1.18 and kfctl_aws_cognito.v1.2.0.yaml.  As a workaround I discovered you can deploy the default kfctl_aws_cognito.v1.2.0.yaml and then manually modify the annotations on the istio-ingress and manually create the alb-oidc-secret after deployment to get the OIDC working.  Modifying the annotations is explained i

[2021-01-19 21:00] marziman opened #5540 "ml-pipelines [mysql] packets.go:36: unexpected EOF"
/kind bug

**What steps did you take and what happened:**

Helllo all, I think I need your help with this issue. We have installed KF1.2 on k8s 1.20 with kfctl and https://raw.githubusercontent.com/kubeflow/manifests/v1.2-branch/kfdef/kfctl_istio_dex.v1.2.0.yaml
Everything works well, beside mysql and always get this error at the mysql pod.
I read/studied many possible solutions but none helped (e

[2021-01-19 21:36] droctothorpe opened #5541 "Propagate annotations from CR to generated objects"
/kind feature

**Why you need this feature:**
We add [kiam](https://github.com/uswitch/kiam) annotations to certain namespaces to facilitate AWS role assumption. In order to do that with the profile controller, we need to interact with the controller-generated namespaces directly. This presents a problem because we have a user who wants to leverage gitops for the profile CRs, but those namespace a

[2021-01-19 23:23] muthurajr commented on #4875
Same here!! Is there any solution or workaround available to overcome the issue?

[2021-01-20 03:29] munagekar commented on #5533
I think this issue could be moved to https://github.com/kubeflow/gcp-blueprints.

[2021-01-20 03:34] munagekar commented on #5519
This is exactly what we implemented in my organization. We use git tags instead of latest.

[2021-01-20 07:40] vladislavkoz commented on #4875
Yes, I've excluded these(spam) out from GCP logging?

[2021-01-20 07:46] kimwnasptd commented on #5527
Rate-limiting should not be something that each service of the cluster needs to implement. This will add a significant development burden. Instead it should be configured in a central place, which is the sevice mesh.

The architectural design behind k8s services is that they don't need to implement rate-limiting themselves. This is something for the cluster admin or platform provider to configure.

[2021-01-20 08:14] kimwnasptd commented on #5525
Thank you for starting this effort @DavidSpek.

Having this done in parallel can help us save time for when we decide we have to move on from Angular 8, but this is not the case in the immediate future. The reasons why don't want to commit huge effort on this right now are:
1. There are other UIs in the pipeline that will come within the month like the Volumes web app and the new [Katib UI](https:

[2021-01-20 10:00] DavidSpek commented on #5525
@kimwnasptd I completely agree with you, and I was aware that this effort would also influence the new UIs that are being released and should be done all at once. Also, just to be clear I'd like to note that my vision of updating Angular is not to go to Angular 9, but to go to whatever the latest stable version is at that point in time.

The issues I have had to overcome until this point should be

[2021-01-20 10:02] DavidSpek commented on #5527
I feel a bit dump now for completely overseeing Istio haha. Makes sense, and hereby closing the issue and PR.

[2021-01-20 10:02] #5527 closed

[2021-01-20 10:06] jonasdebeukelaer commented on #4875
/reopen

[2021-01-20 10:07] jonasdebeukelaer commented on #4875
is it possible to reopen this? @Kulikovpavel @Bobgy ?

[2021-01-20 10:12] DavidSpek commented on #5496
@thesuperzapper @kimwnasptd  While I do not have a strong opinion of F-Strings versus `%` substitutions, I think this is something that people could get into a long debate about that ends up getting lost in time. For this reason I have added it to the future agenda items so a decision can be made and we can move on. I think the most important part consistency so whatever is chosen, should be appli

[2021-01-20 11:22] Bobgy commented on #4875
There's a similar issue on kubeflow/gcp-blueprints,
I gave a workaround to change the statefulset to omit all logs (redirecting them to /dev/null)
https://github.com/kubeflow/gcp-blueprints/issues/184#issuecomment-760574562

I think you can refer to that issue instead.

Duplicate of https://github.com/kubeflow/gcp-blueprints/issues/184

[2021-01-20 11:22] Bobgy commented on #4875
@jonasdebeukelaer

[2021-01-20 11:46] DavidSpek commented on #5540
/area pipelines

Just to be clear, is this an on-prem cluster running 1.20? What type of managed Kubernetes is it? I have been using Canonical's CDK 1.20 since just after the release on my on-prem cluster and haven't had this issue.

[2021-01-20 12:15] marziman commented on #5540
This is Kapsule K8s from Scaleway.

[2021-01-20 12:22] DavidSpek commented on #5540
I'm not sure changing the ml-pipelines-api-server image will work. Even upgrading KFP within a Kubeflow deployment is not yet to my knowledge.

[2021-01-20 14:08] #5494 closed

[2021-01-20 19:00] DavidSpek commented on #5457
/reopen

While dependabot is turned on, it does not seem like it is properly configured. This should be solved with https://github.com/kubeflow/kubeflow/pull/5542

[2021-01-20 21:41] marziman commented on #5540
For anyone finding this issue.
The problem is related to Istio 1.3, which needs to be configured properly to run mTLS with mysql.
Please look here, as it is described here: https://istio.io/v1.3/faq/security/#mysql-with-mtls

After apply authentication policies, the error was solved.
@jlewi FYI, this might be something that shall be highlighted in the KF docs. Giving a hint about the Istio version

[2021-01-20 21:41] #5540 closed

[2021-01-21 06:43] k402xxxcenxxx commented on #5480
Hi everyone,
I tried the juju bundle `cs:kubeflow-245` that the latest update of microk8s used and the notebook server problem is gone.

Currently, we can enable kubeflow with specified bundle option to get this update.
[code]

[2021-01-21 08:29] AahanSingh commented on #5488
Hey,
I had the same issue.
For some reason the username and password shown after running `microk8s enable kubeflow` isn't actually set as the the username and password.
After kubeflow is enabled follow the instructions at https://github.com/kubeflow/kubeflow/issues/5429#issuecomment-743259520 and you'll be good to go.

[2021-01-21 09:22] DavidSpek commented on #5480
Are there any objections to closing this issue? It seems to have been fixed and is related to Canonical's charms and therefore not relevant to the code in this repo.

[2021-01-21 10:34] RFMVasconcelos commented on #5488
Hey @AahanSingh! Thank you for your comment!

We have identified this issue, which appeared as Microk8s `--classic` moved to v1.20 and charmed Kubeflow moved from Ambassador to Istio v1.5. We have fixed the issue, but to get that fix right now you need to install microk8s as `sudo snap install microk8s --classic --channel=latest/edge`.

Alternatively, you can define the passwords as you mention.

[2021-01-21 10:40] jonasdebeukelaer commented on #4875
ah ok thanks!

[2021-01-21 14:48] bonacciog opened #5544 "module 'kubeflow.fairing' has no attribute 'cloud'"
I'm trying to use the Fairing component of Kubeflow. I've set it on a notebook servers following all steps in documentation.
Running the xgboost-high-level-apis example, i got this error:

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-14-ee1ae79de615> in <module>
      8 if FAIR

[2021-01-21 15:24] #5544 closed

[2021-01-21 18:17] bhkamath opened #5545 "kubeflow pods in Init:0/1 , ContainerCreating; Error State"
/kind bug

**What steps did you take and what happened:**
Freshly installed Kubeflow on my Kubernetes environment.  PV was created post installation as PVC were in pending state.  Few pods moved to Running state as a result of PV creation.

Even on rebooting the Kubernetes cluster, the Pod did not move onto Running state.

**What did you expect to happen:**
All Pods of Kubeflow to be in Running st

[2021-01-22 05:44] PatrickXYS opened #5546 "[AWS] Incorporate AWS hosted kubeflow notebook image in kubeflow/kubeflow"
/kind feature

**Why you need this feature:**
We (AWS EKS team) have built our hosted kubeflow notebook image as derived from this [Dockerfile](https://github.com/kubeflow/kubeflow/blob/master/components/tensorflow-notebook-image/Dockerfile) since 1.0.

Given community folks have been asking for the Dockefile for our hosted image and want to build a customized image on top of our image, we want to

[2021-01-22 12:26] ykeuter commented on #5129
So I am looking back into this issue.

I checked the authzapdaptor logs and found the following messages:
`Can not convert pem key to *ecdsa.PublicKey <?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Error><Code>AccessDenied</Code><Message>Access Denied</Message><RequestId>9BC4XXXXXDB200</RequestId><HostId>nOFzWVrLAXXXXNMh/YccXXkIzpc+Stxc=</HostId></Error>`

Tracing in to this it seems it can not fetc

[2021-01-22 14:17] igmik commented on #4847
faced the same problem. Workaround with changing owner of the pv folder helped.

[2021-01-22 16:24] timothy-mugayi commented on #5395
Having a similar problem might anyone have some suggestions

[2021-01-22 17:24] bhkamath commented on #5545
I suspect there needs to be improvement to the documentation in many respects.  This installation was based on the kubeflow installation description for multi-node kubernetes platform (non-cloud)

In the process of resolving most of the issues,

1. I ensured that the PV's exist on worker nodes.  I do not have dynamic storage provisioning in my infrastructure.  Also, strangely I noticed that one of

[2021-01-22 22:25] apulache commented on #425
Hi everyone!.

I've just Kubeflow working on my K8S Cluster and I've notice that you could use the flag --user for installing pip packages. Apparently no sudo password is needed.

For example: pip install torch --user (works in Jupyter Notebook using ! and on the Terminal as well.

I haven't try other commands, just pip and worked like a charmed.

Hope it helps!!!

[2021-01-23 02:34] muthurajr opened #5547 "Workspace Mount Path hardcoded"
Seems like Workspace Mount point is hard coded and not using the value specified in the Spawner Config.

https://github.com/kubeflow/kubeflow/blob/89b13955b910d7320ffba6b03ed26ad4d1b56582/components/crud-web-apps/jupyter/backend/apps/rok/routes/post.py#L51

[2021-01-23 10:41] jaggaer-mtrninic opened #5548 "TensorFlow Extended Kubeflow Multiple Workers"
I have an issue with TFX on Kubeflow DAG Runner. Issues is that I managed to start only one pod per run. I don't see any configuration for "workers" except on the Apache Beam arguments, which doesn't help.

Running CSV load on one pod results in OOMKilled error because file has more than 5GB. I tried splitting the file in parts of 100MB but that did not help also.

So my question is: How to run a

[2021-01-23 20:57] apulache opened #5549 "metadata-writer:1.0.4 pod on CrashLoopBackOff loop"
/kind bug

**What steps did you take and what happened:**
I've just Installed Kuberflow from the scratch in an on-premise K8S Cluster and got master-writer pod on CrashLoopBackOff. The pod continue unstable, even when I've restarted several times.

**What did you expect to happen:**
I expect metadata-writer pod to be up and running

**Anything else you would like to add:**

LOGS:

│ 2021-01-23 20:

[2021-01-24 19:16] cottrell opened #5550 "The tutorial does not include method for connecting to dashboard when in headless mode"
https://ubuntu.com/tutorials/deploy-kubeflow-ubuntu-windows-mac#5-access-the-kubeflow-dashboard

Only mentions ssh -D9999 option but this does not work.

Case is when you have a server and do everything via ssh and then connect over lan or internet.

Probably tunnel but this should be explicit and the number one standard case, not local development which is included in the above.

[2021-01-24 20:51] tianhaoz95 commented on #5480
Thanks everyone! The solution is working.

[2021-01-24 20:52] #5480 closed

[2021-01-25 05:41] #5306 closed

[2021-01-25 05:41] #5192 closed

[2021-01-25 05:41] #5344 closed

[2021-01-25 05:41] #5172 closed

[2021-01-25 05:41] #4789 closed

[2021-01-25 05:41] #5334 closed

[2021-01-25 05:41] #5338 closed

[2021-01-25 05:41] #5196 closed

[2021-01-25 05:41] #5346 closed

[2021-01-25 05:41] #5343 closed

[2021-01-25 05:41] #5328 closed

[2021-01-25 11:05] youxingtian opened #5551 "Error opening bolt store: open /var/lib/authservice/data.db: permission denied"
/kind bug
when I install kubeflow version 1.2, I get this error.
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
![image](https://user-images.githubusercontent.com/49486786/105697534-a32ac680-5f3f-11eb-8136-e45534cb3424.png)
![image](https://user-images.githubusercontent.com/49486786/105697601-b76ec380-5f3f-11eb-8cce-a51976c9a806.png)

**What di

[2021-01-25 11:28] DavidSpek commented on #5537
/cc @kubeflow/wg-manifests-leads

[2021-01-25 11:57] githubwua commented on #2969
Alternatively, we can build a GKE cluster according to this doc, and specify a non-default network for the GKE cluster nodes.

  https://cloud.google.com/ai-platform/pipelines/docs/configure-gke-cluster

After which, we can specify the GKE cluster when creating a new kubeflow instance.

  https://cloud.google.com/ai-platform/pipelines/docs/setting-up#existing-cluster

[2021-01-25 15:32] DavidSpek commented on #5547
/kind feature
/area jupyter

[2021-01-25 15:37] DavidSpek commented on #5545
@bhkamath The docs say: "This Kubeflow deployment requires a default StorageClass with a dynamic volume provisioner. Verify the provisioner field of your default StorageClass definition. If you don’t have a provisioner, ensure that you have configured volume provisioning in your Kubernetes cluster appropriately as mentioned below." So stating that you do not have a dynamic storage provisioning is

[2021-01-25 16:23] bhkamath commented on #5545
I had manually created PVC & PV's on master and worker nodes.  It was observed that the PV/PVC were in 'bound' state.  The MySQL pod was the only one among the list of PODs that retained in CrashLoopBackOff mode.

I later reinstalled on a freshly created system and got it working.  However, the root cause was unknown.

[2021-01-25 16:23] #5545 closed

[2021-01-25 17:57] kimwnasptd commented on #5546
@PatrickXYS what extra functionality do these images provide over the vanilla experience of the existing Notebook images? If these features are generic enough, then we could incorporate them to our Kubeflow Notebooks images.

I'd like to avoid making this repository act as a central place for different organizations to host their specialized crafted Dockerfiles, because this can quickly blow up.

[2021-01-25 18:04] kimwnasptd commented on #5547
I agree that the mount point of the workspace volume should be respected by the backend, and defaulted to `/home/jovyan` since in Kubeflow we've made the assumption that a user `jovyan` will be running inside the notebook.

But @muthurajr what exactly is your use case? Are you deploying a custom Notebook, that doesn't extend Kubeflow's Notebook images, which defines a differently named user?

[2021-01-25 18:21] kimwnasptd opened #5552 "Reduce the size of crud-web-apps images"
/kind feature

**Why you need this feature:**
Right now the crud-web-apps are using the `python:3.7` base docker image, as the last step of their multi build process. This can lead into images of almost 1GB for just some python code + html,css,js files.

**Describe the solution you'd like:**
We could use the `-slim-buster` variants of the Python docker images to significantly reduce the size of th

[2021-01-25 18:29] kimwnasptd opened #5553 "Deprecate the old Jupyter web app"
/kind feature

**Why you need this feature:**
Right now we only support and develop the jupyter web app that lives under `components/crud-web-apps`. The `components/jupyter-web-app` is not being developed anymore and it will be completely phased out after the 1.3 release, in which we will be using the crud-web-apps one.

The situation right now can be confusing since we maintain two distinct versi

[2021-01-25 21:30] matty1979 commented on #5248
Same issue using minikube v1.16.0
kubectl v1.20.0 client / server.

[2021-01-26 02:06] kim-sardine commented on #5191
@Jeffwan please re-open it. It's still happening.

[2021-01-26 02:21] muthurajr commented on #5547
I'm trying to install theia ide with jupyter server proxy which adds and expects files in the home directory. During installation, configuration files are created at the home directory (/home/jovyan). In Kubeflow spawner_ui config, option is available to change the mount path of the persistent volume (/home/jovyan to /home/jovyan/mnt/) which is not working as the value is hard coded here.

Rather

[2021-01-26 08:08] #4838 closed

[2021-01-26 08:33] shuhaohe commented on #4815
work for me. Steps here

kubectl config view

`>apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: DATA+OMITTED
    server: https://10.10.22.7:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    namespace: kubeflow
    user: kubernetes-admin
  name: kubernetes-admin@kubernetes
current-context: kubernetes-admin@kubernetes
kind: Config
preferences: {}
users:
- n

[2021-01-26 08:34] shuhaohe commented on #4815
Thanks.

[2021-01-26 08:36] shuhaohe commented on #4815
works for me.

replace the ClusterName with your onw cluster name. Get it by `kubectl config view`

[2021-01-26 08:47] kim-sardine opened #5554 "Jupyter Notebook - ProxyError "426 Upgrade Required" in proxy environment"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I've setup kubernetes and kubeflow on internal proxy environment.

and I created Jupyter notebook using kubeflow Notebook server with default image (gcr.io/kubeflow-images-public/tensorflow-1.15.2-notebook-cpu:1.0.0).

when I ran `pip install flask --trusted-host=pypi.python.org --cert=

[2021-01-26 09:32] soumyadipDe commented on #5514
We are having the same issue in GCP, having filled up with stackdriver logs.

[2021-01-26 09:58] PatrickGhosn commented on #5514
![image](https://user-images.githubusercontent.com/33845447/105830141-cf8d2400-5fcd-11eb-8e36-359b0545538f.png)

Most of our  costs are coming from the logging..

[2021-01-26 13:51] DavidSpek commented on #5553
@kimwnasptd Maybe it is an idea to put the code in a `deprecated` folder during (and maybe for a while after) the transition. Pipelines as a similar folder for their components: https://github.com/kubeflow/pipelines/tree/master/components/deprecated.

[2021-01-26 13:54] #5524 closed

[2021-01-26 13:57] DavidSpek commented on #5552
I'll look into this a bit. I'm assuming you are referring to the CPU image, and note the GPU image which will be larger due to the NVIDIA drivers and such.

[2021-01-26 14:19] DavidSpek opened #5556 "Update python for JWA and TWA"
/kind feature

At the moment the JWA is using Python 3.7, while the TWA is using 3.8. At the very least, they should use the same version of Python. Also, updating to Python 3.9 should be considered.

[2021-01-26 15:08] kd303 opened #5557 "Support for KeyCloak over Dex"
/kind feature

**Why you need this feature:**
We have a requirement due to organization security policy to provide a seam-less authentication, Dex currently support SAML2 (which is deprecated hence a no-no from security teams) and does not support SPNEGO/GSAPI or something similar for authentication.

**Describe the solution you'd like:**
Kubeflow should not be tied to a specific Idap provider, we

[2021-01-26 16:12] sneelz opened #5558 "Jupyter Notebook API documentation"
/kind feature

**Why you need this feature:**
[Is your feature request related to a problem? Please describe in details]
Currently developing a custom UI that integrates with Kubeflow APIs, and it would be helpful if this information were available on Kubeflow's documentation website.

**Describe the solution you'd like:**
[A clear and concise description of what you want to happen.]
New section o

[2021-01-26 16:25] DavidSpek commented on #5557
@kd303 I believe this documentation might help. While you can integrate GitLab with Dex, you can also not use Dex at all and integrate with GitLab directly. Maybe a similar setup can be used to setup KeyCloak rather than Dex. https://docs.arrikto.com/integrations/auth.html

[2021-01-26 17:22] sneelz opened #5559 "API request to get back Workspace Volumes vs. Data Volumes"
/kind feature

**Why you need this feature:**
[Is your feature request related to a problem? Please describe in details]

Currently developing a custom UI to integrate with Kubeflow and looking for an API call that returns a list of Workspace Volumes vs. Data Volumes.

The get Persistent Volumes call doesn't seem to distinguish between Workspace vs. Data Volumes. Using another combination of APIs

[2021-01-26 17:58] abdulsalama opened #5560 "Admission webhook doesn't pick up new cert when it gets renewed by cert-manager"
/kind bug

**What steps did you take and what happened:**
Admission webhook keeps throwing the below error every once in a while:
http: TLS handshake error from *****:34006: remote error: tls: bad certificate
This causes pod defaults not to work. When I restart the admission webhook, it works again

**What did you expect to happen:**
The above shouldn't happen.

**Anything else you would like to a

[2021-01-26 21:47] regorsmitz commented on #5478
sorry for the slow response. Does upgrading to kfctl 1.1 or 1.2 make seeing diffs of what changes to yaml files would be made if `kfctl apply` were run easier?

[2021-01-26 22:09] yanniszark commented on #5478
@regorsmitz I think you'll get better answers by posting on https://github.com/kubeflow/kfctl.
All related development has been moved there.
/close

[2021-01-26 22:09] #5478 closed

[2021-01-26 22:57] jbottum commented on #5539
Thanks for the comments, I have created a google form to collect the survey responses, please find it here.   I look forward to going live with this survey on Jan 28.

https://docs.google.com/forms/d/e/1FAIpQLSc_zGSRgycQzZcCuNmmJZRBdk511tFVYzc3y_wtAq0PkkgllQ/viewform?usp=sf_link

[2021-01-26 23:41] Hmr-ramzi opened #5561 "kubeflow user pipelines interface not working and shows error"
/kind bug

**What steps did you take and what happened:**
Deploy kubeflow version 1.2 on kubernetes using the kfctl operator

KFDEF:

      kind: KfDef
      metadata:
        name: kubeflow
        namespace: kubeflow
      spec:
        applications:
        - kustomizeConfig:
            repoRef:
              name: manifests
              path: namespaces/base
          name: namespaces

[2021-01-27 02:56] jhebelerDS commented on #5488
I found a work around by
microk8s juju config dex-auth static-username=admin
microk8s juju config dex-auth static-password=1234
I am now in but...  when I go to create a jupter notebook server the other name spaces are not listed although they are listed in the kubernetes dashboard such as kube-public, kube-node-lease, and kube-system.  I was able to create a jupyter server but only in my admin na

[2021-01-27 04:48] jidemoski opened #5562 "Can kubeflow use exists istio?"
/kind question

**Question:**
[You can ask any question about this project.]
Can kubeflow use istio that have been deploy and the version is 1.8?

[2021-01-27 05:44] swartz-k commented on #5562
Docs say can use with Istio had been deployed. [ref](https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/)
As default version is `1.3` I think it should be tested. I will do that later.

[2021-01-27 06:27] swartz-k commented on #5562
[Ref](https://istio.io/latest/zh/docs/reference/config/security/istio.rbac.v1alpha1/) After 1.6 may be have question, I got error abot `no matches for kind "ClusterRbacConfig" in version "rbac.istio.io/v1alpha1"`

[2021-01-27 06:48] jidemoski commented on #5562
@swartz-k
Thanks，Can I use istio1.6.x?

[2021-01-27 08:15] AahanSingh opened #5563 "Unable to start Notebook Server on EKS"
/kind bug

**What steps did you take and what happened:**
I have followed the tutorial here: https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/ to install Kubeflow on an EKS cluster. Initially the eks cluster had 3 servers running. When I try to create a notebook server the prompt next to the spawning server initially said `1 Too Many Pods 7 Insufficient CPU`. After increasing the desired

[2021-01-27 18:34] kimwnasptd commented on #5552
Woo hoo!

[2021-01-27 18:51] knkski commented on #5488
@jhebelerDS: Are you expecting to be able to create notebooks in those namespaces? Those namespaces are generally reserved for usage by Kubernetes itself, see here: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/#viewing-namespaces

[2021-01-27 22:51] Boes-man opened #5565 "Allow dynamic NFS data volumes in Notebook Server UI"
/kind feature

**Why you need this feature:**
Notebook users have datasets hosted (on perm) externally on nfs (v3/4). They need access to these datasets, but are unable to mount them to the notebook. At the moment notebooks need to be pre-provisioned for these users and self service is desired.

**Describe the solution you'd like:**
Perhaps PodDefaults can be extended to include nfs volumes. This

[2021-01-27 23:26] DavidSpek commented on #5565
@Boes-man It has been a while since I have used it, but if I remember correctly you can use the NFS-Client provisioner, which supports dynamically creating PVCs on an NFS, and create a PVC with the name of an existing folder on the share it will use that for the PVC. For example, if you setup the provisioner at `<IP>:/some_mount` and that share contains the folder `data_folder`, if you then create

[2021-01-27 23:30] DavidSpek commented on #5562
Istio 1.6+ is not yet supported as many components rely heavily on Istio RBAC which has been deprecated and removed in 1.6. There is now an ongoing effort to support istio 1.6+, which should be happening with the release of 1.3 which I believe is planned for March.

[2021-01-27 23:32] DavidSpek commented on #5561
@Hmr-ramzi What exactly is the bug you are experiencing? Are there error codes? Are there pods that are in `CrashBackLoop`? Are the other portions of the UI such as Notebooks working as expected?

[2021-01-28 00:25] Hmr-ramzi commented on #5561
@DavidSpek Thanks for your reply. All pods are up and running without any logged errors. Also, no pods on crashbackloop state. Yes the other portions of the UI are working fine. The problem is only in the pipelines. The error that i get is the following:

![image](https://user-images.githubusercontent.com/11632681/106072011-a8d30880-6107-11eb-8182-63b29268cde7.png)

[2021-01-28 17:11] kimwnasptd opened #5566 "Differences between standalone and kubeflow modes of our web apps"
There are many cases where users would like to install specific components of Kubeflow and not the entire solution. To accommodate this need we will have to engineer our web apps to be deploy-able as standalone components as well.

This issue aims to provide a cohesive story around how we want our web apps to behave when they are installed as part of Kubeflow or as standalone components. It's an e

[2021-01-28 17:13] kimwnasptd commented on #5566
cc @kubeflow/wg-notebooks-leads

And also since this affects the web app for katib https://github.com/kubeflow/katib/issues/1421 https://github.com/kubeflow/katib/issues/1090 I'll also
cc @kubeflow/wg-automl-leads

[2021-01-28 21:59] Boes-man commented on #5565
@DavidSpek thanks for the pointer. I did look at a few options in terms of nfs volumes and settled on just using pod definition, no need for storageclass, pvc and pv. This results in the least amount of kubernetes cluster admin maintenance. Since its pod definition, poddefaults would hopefully be able to preconfigure these for users. We just need to preconfigure the kf profile and poddefaults, fro

[2021-01-29 12:46] kimwnasptd opened #5568 "Common crud-apps backend code wheel is missing the code"
/kind bug

**What steps did you take and what happened:**
1. Build a docker image for on of the crud web apps
2. Run the image and start a python process
3. import `kubeflow` module
4. Rases a `ModuleNotFound` exception, despite the fact that it should be [installed](https://github.com/kubeflow/kubeflow/blob/master/components/crud-web-apps/jupyter/Dockerfile#L38)

**What did you expect to happen:*

[2021-01-29 13:02] kimwnasptd commented on #5552
I'm reopening the issue since our current images use `make` to run as an entrypoint, which is not installed in the buster-slim versions of the docker images.

I'll fix the entrypoint and test it e2e after I fix #5568

[2021-01-29 13:36] DavidSpek commented on #5552
/reopen

[2021-01-29 16:25] #5568 closed

[2021-01-30 00:43] PatrickXYS commented on #5546
@kimwnasptd Thanks for your feedback, our notebook image is derived from original one, and add some AWS related functionalities.

I agree that things would blow up if kubeflow/kubeflow becomes a central point for all the cloud-providers to host ad-hoc Dockerfiles.

I'll figure out with another way to move forward

[2021-01-30 10:35] hossein-rasi commented on #5339
I have the same issue to use AWS cert-manager and adjust the istio ingressGateway alb and be able to add HTTPS listener which will use my SSL certificate. Is there any workaround to modify kftctl_aws.yaml file to fix that?

[2021-01-30 10:40] nrchakradhar commented on #5566
If the service account used by the web-app deployment has RBAC set in a way that it can only access the same namespace, then the app cannot do anything in any namespace. It will be restricted by the RBAC settings of the service account. Is my understanding correct?

[2021-01-30 10:42] nrchakradhar commented on #5566
Why cant CentralDashboard also be namespace scoped and just allow navigation to other installed apps? I want to understand the limitations

[2021-01-30 10:44] nrchakradhar commented on #5566
I think for the standalone mode, all apps should have configurable path. They should support base_path prefix.

[2021-02-01 03:10] YongtaoHuang1994 opened #5572 "failed to build kfApp from URI https://raw.githubusercontent.com/kubeflow/manifests/v1.2-branch/kfdef/kfctl_k8s_istio.v1.2.0.yaml: couldn't generate KfApp: (kubeflow.error): Code 500 with message: kfApp Generate failed for kustomize: kustomize generate failed Error: (kubeflow.error): Code 500 with message: couldn't generate kustomization file for component kfserving"
kubectl version: 1.15
minikube version: 1.17.1
kubeflow version: 1.0
OS: Ubuntu 18.04

I wanna start kubeflow according this pag "https://www.kubeflow.org/docs/started/workstation/minikube-linux/".
But I have met this error.

[code]
Could you please help me? Thank you.

[2021-02-01 09:17] DavidSpek commented on #5572
@YongtaoHuang1994 I think a good place to start is by using the kubectl version that corresponds with your version of Kubernetes.

[2021-02-01 11:11] DavidSpek opened #5575 "Tracking: Rework Notebook images"
/kind feature

## Goals

- Provide sensible Jupyter and RStudio dockerfiles
- Host the container images produced by said dockerfiles on ECR

## Background

The current tensorflow-notebook-image has not been updated in over a year, this is predominantly due to there not being a clear owner until the notebook working group was formed. Furthermore, the current build process is extremely complicated,

[2021-02-01 12:18] DavidSpek commented on #5546
@kimwnasptd @PatrickXYS I agree that this repository shouldn't be the central place for cloud providers or other organizations to host they Dockerfiles. However, seeing as the current Dockerfiles already contain some basic GCP, AWS and Azure stuff, I'm interested in seeing the Dockerfiles and what AWS related functionalities are added. Seeing as there are 5 packages that are install for Google, if

[2021-02-01 12:30] kimwnasptd commented on #5566
@nrchakradhar thank you for bringing these up!

Yes, it's accurate. So in the **standalone** case, with no authn, the only limiting factor is the permissions of the web app. This will be configured from the manifests of each app, which gives us a lot of flexibility.

One edge case here is that in **standalone** mode the web apps themselves will have to decide on what Namespaces to show to the user

[2021-02-01 15:02] prashanthb-ai commented on #5503
Your cluster names also need to be > 6 characters (eg: `KF_NAME=kf` will result in a similar error). On failure run:
[code]

[2021-02-01 17:07] chinmay22897 commented on #5148
@crazy-canux Were you able to solve this issue??

[2021-02-01 20:44] perlinger opened #5578 "Could not get platform aws: Failed to create config file from /.kube/config"
I have the kubeflow-operator deployed on EKS by means of ARGOCD and Kustomize.

 However, as soon as I deploy the KfDef, with the KfAwsPlugin section, I get the following error:

 level=fatal msg="Could not get platform aws: Failed to create config file from /.kube/config **"

Note: I deploy the KfDef with the same argocd and kustomize stack as the kubeflow-operator. I do not deploy the kfdef from

[2021-02-02 02:47] nrchakradhar commented on #5566
@kimwnasptd Thanks for the sharing detailed views in my questions.

[2021-02-02 04:59] #5352 closed

[2021-02-02 04:59] #5362 closed

[2021-02-02 04:59] #5350 closed

[2021-02-02 04:59] #5357 closed

[2021-02-02 04:59] #5294 closed

[2021-02-02 06:29] ankita4AI commented on #5480
@k402xxxcenxxx hey, it did not work for me with cs:kubeflow-245.
Are there some other prerequisites too?

[2021-02-02 06:46] k402xxxcenxxx commented on #5480
@ankita4AI
In my case, I use Ubuntu 20.04 and install microk8s (1910) by snap using
[code]
No other prerequisite for me.

[2021-02-02 08:59] Hmr-ramzi commented on #5561
@DavidSpek Any advise?

[2021-02-02 09:23] DavidSpek commented on #5561
@Hmr-ramzi I've seen this before for a notebook where the pod crashed or the node had become unresponsive, but other than that I am not sure. I've personally never used the operator before either.

@Bobgy This seems to be a pipelines issue. Maybe you can move it over to pipelines for better tracking.
/area pipelines

[2021-02-02 14:49] bgossey opened #5579 "Kubeflow pods and deployments got deleted"
I have a couple of kubernetes clusters (AKS) running and on some of them, when installing kubeflow using the operator, some pods or deployments are being killed after a couple of hours for some reason. Anybody has seen the same thing happening and what can be the root cause?

**What steps did you take and what happened:**
- Installing kubeflow using the operator on an azure kubernetes cluster
- Ev

[2021-02-02 17:33] solarist commented on #5561
Possible duplicate of https://github.com/kubeflow/pipelines/issues/4469 and https://github.com/kubeflow/kubeflow/issues/5271, and similar to https://github.com/kubeflow/kubeflow/issues/5401. I am myself facing the same issue as well.

[2021-02-02 17:37] solarist commented on #5534
I thought it was solved in https://github.com/kubeflow/kubeflow/issues/5369?

[2021-02-03 00:56] wakanapo commented on #5395
For `add-kubeflow-role`, it tries to inject annotation by poddefault. Is it possible?  Because annotation is not runtime requirements.

[2021-02-03 11:38] EALAAKH opened #5581 "ADS4-group8"

[2021-02-03 12:27] Soot3 opened #5583 "pickle dump dataframe to OutputPath"
/kind question

**Question:**
[You can ask any question about this project.]
Is Input Path the right argument to use when passing dataframes.
I'm trying
`def load_data(data_path:OutputPath(str)):
  #importing libraries

  import sys, subprocess;

  subprocess.run([sys.executable, '-m', 'pip', 'install', 'pandas==0.23.4'])

  subprocess.run([sys.executable, "-m", "pip", "install", "dill"])

  impor

[2021-02-03 12:33] Soot3 commented on #5583
Don't know if the load data component passed a corrupted file in the pipeline but My  code works well on Colab with manually inputted file paths (/content/...) for each function.
![Screenshot (406)](https://user-images.githubusercontent.com/53571625/106747513-51133080-6624-11eb-91e2-bcf805ee178b.png)

[2021-02-03 13:09] yanniszark commented on #5581
Closing as spam
/close

[2021-02-03 13:10] #5581 closed

[2021-02-03 14:17] jaystary opened #5584 "UX Improvement - When adding notebook server, activate Connect only when endpoint is available"
/kind feature

**Why you need this feature:**
When adding a notebook server, oftentimes in our environment we experience a "no healthy upstream" or "Sorry this page is not available" or both. The user then wonders whats going on, and the only way to recover from that is to go back after a while and hit connect again. Thus it is a big source of confusion.

**Describe the solution you'd like:**
Idea

[2021-02-03 15:31] ConverJens commented on #1583
@Jeffwan @jlewi @rmgogogo
I'm running TFX pipelines in KF on KFP and I'm currently trying to get TFX to run on a local Flink cluster using an interactive pipeline.

@rmgogogo Is this really how it works? TFX components that use beam, not all of them, supplies the necessary beam args to submit the job to the Flink runner. If I understand this correctly, this means that neither a component nor the e

[2021-02-03 19:16] akulkailwoo commented on #5338
@julioyildo were you able to resolve it? I am facing the same issue.

[2021-02-03 21:29] julioyildo commented on #5338
@akulkailwoo no :/

[2021-02-04 01:11] #5429 closed

[2021-02-04 15:38] Tomer23 commented on #5447
I had the exact same situation, kudos to this post saving me days of debugging. The official guide should be updated.

[2021-02-04 16:05] jonasdebeukelaer commented on #5561
Hey, facing this too.

Seems the cluster was being repaired by gcp, and after that this error is persisting for pipelines. \
In case it's relevant, I was trying to install feast today but running into separate istio related issues (blocking connections to postgresql pod). I wonder if something clashed there?

Namespace `kubeflow` labels are correct as per related issues, and I tried restarting all

[2021-02-05 03:02] qinjie545 commented on #5248
Same issue
Same Env

Same issue Same ENV

[2021-02-05 10:39] solarist commented on #5561
@jonasdebeukelaer could you ellaborate?

[2021-02-05 10:41] solarist commented on #5561
@jonasdebeukelaer could you elaborate please? I am not sure how to manually recreate the `meshpolicy`.

[2021-02-05 11:45] rmgogogo commented on #1583
@zhitaoli @Bobgy

[2021-02-05 11:55] shantanuVerma7 commented on #4314
@praveen049 Hi, I have found a solution which may help you. In my case, I m running Tornado HTTP server in one of Kubeflow component. To make the port accessible on which tornado server is listening to, I have used the `add_port` method of `kfp.dsl.ContainerOp` class. The `add_port` method accepts object of class `V1ContainerPort` of module `kubernetes.client.models`. Below is the example.

I have

[2021-02-05 14:01] DavidSpek commented on #5583
@Soot3 I think you can better ask this question over at https://github.com/kubeflow/pipelines/.
/area pipelines
@Bobgy maybe you can move this issue over to Pipelines.

[2021-02-05 14:04] DavidSpek commented on #4306
/remove-lifecycle stale

[2021-02-05 14:06] DavidSpek commented on #5584
@jaystary I believe there was already an issue or PR regarding this, but I cannot find it at the moment. Nonetheless, this is something I think we should work on.

[2021-02-05 14:10] DavidSpek commented on #5562
Closing this issue as I believe it has been answered.
Related issues:
https://github.com/kubeflow/kubeflow/pull/5439
https://github.com/kubeflow/kubeflow/issues/5397
https://github.com/kubeflow/pipelines/issues/4768
https://github.com/kubeflow/kubeflow/issues/5313
/close

[2021-02-05 14:29] DavidSpek commented on #5201
@kimwnasptd Is it an idea to look into possibly moving the notebooks API to the Go version created over at https://github.com/StatCan/jupyter-apis after release 1.3 when the testing is hopefully all running?

[2021-02-05 15:35] Jboulery opened #5586 "ALB cannot be created / Existing nginx ingress"
/kind question
/platform aws

eksctl version: 0.31.0
kubectl version: v1.17.12-eks-7684af
kfctl version: v1.2.0-0-gbc038f9

**Question:**
I'm trying to apply [the following configuration](https://raw.githubusercontent.com/kubeflow/manifests/v1.2-branch/kfdef/kfctl_aws_cognito.v1.2.0.yaml) to deploy Kubeflow with authentication.
It's an existing cluster where an Nginx ingress controller is already

[2021-02-05 15:36] jonasdebeukelaer commented on #5561
@solarist I had accidentally deleted this resource:
[code]
recreating fixed my issue. I guess make sure it's there just in case something weird happened.

[2021-02-05 16:47] solarist commented on #5561
@jonasdebeukelaer wow that fixed it, thank you! I am relatively sure that it hasn't been deleted in our deployment, and I can't seem to find such a mesh policy created at all per the k8s-dex manifests. Also why a service would want plain text in the first place is actually beyond me...

[2021-02-05 17:16] solarist commented on #5271
So instead of disabling mTLS, suggestion of @jonasdebeukelaer in https://github.com/kubeflow/kubeflow/issues/5561#issuecomment-774107546 solved the issue for me.

[2021-02-05 17:30] Jboulery commented on #5586
Turns out after the certificate was validated, ALB was correctly created.

[2021-02-05 17:30] #5586 closed

[2021-02-06 05:20] jbottum commented on #5584
/priority p2
/area notebook

[2021-02-06 05:20] jbottum commented on #5584
/area jupyter

[2021-02-06 05:21] jbottum commented on #5575
/priority p1
/area jupyter

[2021-02-06 05:22] jbottum commented on #5566
/priority p1
/area Jupyter

[2021-02-06 05:23] jbottum commented on #5575
priority p2

[2021-02-06 05:25] jbottum commented on #5565
/priority p2
/area jupyter

[2021-02-06 05:28] jbottum commented on #5565
@Boes-man Hi, Arrikto has a storage class (Rok) that can be configured to support this type of use case.    Note - Rok is licensed software.

[2021-02-06 05:29] jbottum commented on #5563
/platform AWS
/priority P1

[2021-02-06 07:34] desaintmartin commented on #4314
One question @shantanuVerma7: how do you manage lifecycle of your tornado server? Usually, the Pods composing the DAG pipeline will complete and the next stage of the DAG will run, but with a server that possibly never stops, how does it work?

[2021-02-06 15:47] kim-sardine commented on #5004
There's a conflict between this regex pattern and [manual-profile-creation](https://www.kubeflow.org/docs/components/multi-tenancy/getting-started/#manual-profile-creation). "manual-profile-creation" have no validation on email. It's just a string.

on centraldashboard's "Manage Contributors" page, I can't remove manually-created contributor(static user) from namespace  because of this regex.

[2021-02-06 19:21] Soot3 commented on #5583
Okay. will do.

[2021-02-06 19:21] #5583 closed

[2021-02-07 23:15] Bobgy commented on #5561
/assign @yanniszark
Is istio-dex manifest missing it?

[2021-02-07 23:58] #5238 closed

[2021-02-08 08:36] tkislan opened #5587 "Dashboard page crashes when entering invalid value into Recurring run "Start time" input"
/kind bug

**What steps did you take and what happened:**
<img width="634" alt="image" src="https://user-images.githubusercontent.com/5370798/107193399-1a0b9900-69ef-11eb-839b-64c803abe362.png">

When I select whole value in the text input, and press "1" (meaning that I want to write full time by hand), the whole page crashes, and only top banner and white page is displayed

<img width="1440" alt=

[2021-02-08 09:19] Hmr-ramzi opened #5588 "As a user of kubeflow, I am able to access the jupyter servers (notebooks) inside other namespaces although i am not assigned as a contributor"
/kind bug

**What steps did you take and what happened:**
Created 2 users (X and Y). Logged in with user X, Created a jupyter server (notebook server) A. Logged in with user Y, edited the url to access the jupyter server A. I was able to access it using url (/notebook/X/A/tree?)

**What did you expect to happen:**
To get a 403 error instead

**Anything else you would like to add:**
None

**Environ

[2021-02-08 15:00] boufleur opened #5589 "Dashboard can't handle the same owner for more than one workspace"
/kind bug

**What steps did you take and what happened:**
1. Create a workspace `workspace1` and assign it to the user `user.email@email.com`
2. Create a workspace `workspace2` and assign it to the user `user.email@email.com`
3. Try add user `another.user@email` as contributor to `workspace2`

**What did you expect to happen:**
`another.user@email.com` to be added as contributor to `workspace2`.
T

[2021-02-09 00:06] nallagangus opened #5590 "kubeflow dashbaord not responding and refusing connections"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Cannot Access kubeflow dashboard UI . To work around ingress i tried localhost after  $ kubectlport-forward svc/istio-ingressgateway -n istio-system 8080:80 --address 0.0.0.0 . It gave connection refused errors. Need guidance with next step of debugging.

**What did you expect to happen:

[2021-02-09 02:39] jbottum commented on #5588
/area jupyter
/priority p2

[2021-02-09 02:42] jbottum commented on #5575
/priority p2

[2021-02-09 02:42] jbottum commented on #5575
/priority p1

[2021-02-09 02:44] jbottum commented on #5558
/area jupyter
/priority p2

[2021-02-09 02:47] jbottum commented on #5553
/area jupyter
/priority p1

[2021-02-09 02:48] jbottum commented on #5523
/area jupyter
/priority p2

[2021-02-09 02:50] jbottum commented on #5547
/priority p2

[2021-02-09 02:52] jbottum commented on #5361
@PatrickXYS I propose that since we are getting close to 1.3, we should close this issue and focus on materials for 1.3.

[2021-02-09 02:54] jbottum commented on #5456
/area kale
/priority p2

[2021-02-09 05:02] PatrickXYS commented on #5361
@jbottum That sounds good to me, since we're approaching to 1.3, let's focus on 1.3 then

/close

[2021-02-09 05:02] #5361 closed

[2021-02-09 09:11] kim-sardine commented on #5589
same problem in v1.2.0.
this should be fixed.

so I [manually added contributor](https://www.kubeflow.org/docs/components/multi-tenancy/getting-started/#managing-contributors-manually)

[2021-02-09 11:04] DavidSpek commented on #5575
To give an update on the current progress of reworking the Notebook (and other WebIDE) images. The table below shows the image name, it's size, the packages that are installed for the various package managers and a link to the image on Dockerhub for testing purposes. The flowchart shows how the images relate to each other, along with the size and some package information.

| Image      | Size | Fi

[2021-02-09 12:43] shivakumargowda12 opened #5591 "Configuration support to specify port range to access dashboard"
I believe it would be very useful to provide a configuration option during kubeflow installation process to provide a range of ports to be used while accessing kubeflow dashboard in a namespace context
So that customer would know prior what ports to be enabled in the particular machine.

[2021-02-09 18:52] soleares commented on #5591
What are you trying to accomplish? Limit access to Kubeflow UI to a specific CIDR range?

[2021-02-09 19:34] blairdrummond commented on #5216
@DavidSpek if you're able to re-open the issue, I am making a little progress.

I have been working upstream on jupyter on the `/metrics` endpoint, and working on the prometheus operator integration. I think I have the label selection working, only tricky bit is implementing the rewrite rules in the service-monitor. Because of the `base_url`, the metrics are on `/notebook/$namespace/$server/metric

[2021-02-09 19:34] blairdrummond commented on #5216
Once I get this ironed out, I'll PR in a ServiceMonitor spec which should implement this.

[2021-02-09 19:41] DavidSpek commented on #5216
/reopen

@blairdrummond Would your work also be applicable to https://github.com/kubeflow/pipelines/pull/4422? I think having a Prometheus instance (or one per component) and a central grafana instance for the standard Kubeflow deployment would be a nice addition. Arrikto has some other dashboards that integrate Grafana metrics as well, which could then possibly tie into this as well.

[2021-02-09 19:55] blairdrummond commented on #5216
Hmm, kubeflow/pipelines#4422 seems more complex. That's more about using the regular pod metrics but subsetting down to a specific label that indicates the pipeline?...

That sounds super cool and totally doable, but might be a while before I tackle it... I will take a look but no promises yet ;-)

[2021-02-09 20:11] DavidSpek commented on #5216
I'm also planning on looking into it once the deployment method for 1.3 becomes more clear to me. I was planning to use the Prometheus operator along with the grafana operator which would hopefully make things a bit easier to manage. @blairdrummond are you using the Grafana operator as well?

[2021-02-09 23:41] yanniszark opened #5592 "Notebook Controller: Move manifests development upstream"
### Background

Umbrella-Issue: https://github.com/kubeflow/manifests/issues/1740

As part of the work of wg-manifests for 1.3
(https://github.com/kubeflow/manifests/issues/1735), we are moving manifests
development to upstream repos. This gives the application developers full
ownership of their manifests, tracked in a single place.

To give an example from the `notebook-controller`, the diagram s

[2021-02-09 23:44] yanniszark commented on #5592
I can take this one!
/assign @yanniszark

[2021-02-10 00:05] yanniszark opened #5593 "Jupyter Web App: Move manifests development upstream"
### Background

Umbrella-Issue: https://github.com/kubeflow/manifests/issues/1740

As part of the work of wg-manifests for 1.3
(https://github.com/kubeflow/manifests/issues/1735), we are moving manifests
development to upstream repos. This gives the application developers full
ownership of their manifests, tracked in a single place.

To give an example from the `notebook-controller`, the diagram s

[2021-02-10 00:11] yanniszark opened #5594 "Central Dashboard: Move manifests development upstream"
### Background

Umbrella-Issue: https://github.com/kubeflow/manifests/issues/1740

As part of the work of wg-manifests for 1.3
(https://github.com/kubeflow/manifests/issues/1735), we are moving manifests
development to upstream repos. This gives the application developers full
ownership of their manifests, tracked in a single place.

To give an example from the `notebook-controller`, the diagram s

[2021-02-10 00:14] yanniszark opened #5595 "Profiles + KFAM: Move manifests development upstream"
### Background

Umbrella-Issue: https://github.com/kubeflow/manifests/issues/1740

As part of the work of wg-manifests for 1.3
(https://github.com/kubeflow/manifests/issues/1735), we are moving manifests
development to upstream repos. This gives the application developers full
ownership of their manifests, tracked in a single place.

To give an example from the `notebook-controller`, the diagram s

[2021-02-10 00:33] yanniszark opened #5596 "PodDefaults Webhook: Move manifests development upstream"
### Background

Umbrella-Issue: https://github.com/kubeflow/manifests/issues/1740

As part of the work of wg-manifests for 1.3
(https://github.com/kubeflow/manifests/issues/1735), we are moving manifests
development to upstream repos. This gives the application developers full
ownership of their manifests, tracked in a single place.

To give an example from the `notebook-controller`, the diagram s

[2021-02-10 02:57] kim-sardine opened #5597 "Support textarea input for pipeline parameter in centraldashboard"
/kind feature

**Why you need this feature:**
I'd like to pass multi-line bash script pipeline parameter into containerOp.
but for now, centraldashboard only support one line text input and json editor.

of course I can do it by appending all lines with semi-colon or by using list type and joining dynamically, but it's not intuitive.

**Describe the solution you'd like:**

but I'm not sure how to

[2021-02-10 03:29] shivakumargowda12 commented on #5591
Hi @soleares , actually yes. I want to see whether its possible, so that I can predict the port number while launching the kubeflow UI.

[2021-02-10 09:52] DavidSpek commented on #5597
@kim-sardine Just to be clear, is this something that you input from the central dashboard or from the Pipelines UI? For reference, this is the central dashboard:
![image](https://user-images.githubusercontent.com/28541758/107493574-106c6780-6b8e-11eb-95ef-e1813a914c3b.png)

[2021-02-10 10:08] crmne opened #5598 "KFServing-controller: admission webhook "pilot.validation.istio.io" denied the request: configuration is invalid: 1 error occurred: * attempts must be positive"
/kind bug

duplicate of https://github.com/kubeflow/kfserving/issues/1369 since I'm not sure which component is at fault

**What steps did you take and what happened:**
1. Installed Kubeflow 1.2 on EKS with Cognito using [the manifest on Kubeflow's website](https://raw.githubusercontent.com/kubeflow/manifests/v1.2-branch/kfdef/kfctl_aws_cognito.v1.2.0.yaml)
2. Tried to deploy the `pytorch`, `sklea

[2021-02-10 14:46] kim-sardine commented on #5597
@DavidSpek  sorry for confusing you. I'm talking about pipeline UI.

![image](https://user-images.githubusercontent.com/8458055/107525196-f0728d80-6bf9-11eb-83ad-c7865bedff37.png)

[2021-02-10 14:49] DavidSpek commented on #5597
@kim-sardine The pipelines UI is not part of this repository. For better handling and tracking of the issue, I advise you to create an issue over at https://github.com/kubeflow/pipelines.
/area pipelines

[2021-02-10 20:48] KakarotSonGokuShenron commented on #5230
So @DavidSpek, what if you are trying to deploy to an existing cluster that already has cert-manager installed? I'm facing issues with the existing cert-manager being wiped out by the one from kubeflow and wondering how to deploy kubeflow while keeping the cluster's existing cert-manager.

[2021-02-11 11:35] DavidSpek commented on #5230
@KakarotSonGokuShenron You can remove cert-manager from the kfctl deployment yaml. Similar to what you do when using an existing istio installation. https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/#notes-on-the-configuration-file

[2021-02-11 12:21] kimwnasptd commented on #5482
A heads up here, we have the python code that will generate an Argo Workflow for running unittests on the common frontend library https://github.com/kubeflow/kubeflow/blob/master/py/kubeflow/kubeflow/ci/shared_ui_tests.py

The next steps will be to
1. extend workflows in this repo's https://github.com/kubeflow/kubeflow/blob/master/prow_config.yaml so that a presubmit test will use that workflow to

[2021-02-11 15:46] nallagangus commented on #5590
Hi - For some reason "kubeflow-gateway" was not created as part of install. I manually created it and setup a "metallb" for loadbalancer work. Those 2 steps resolved and I was able to see "kubeflow dashboard" UI

[2021-02-11 15:49] JBosom commented on #5549
We experienced the same issue. As a workaround, we downgraded the deployment of the metadata-writer to version 1.0.3

[2021-02-11 16:59] apulache commented on #5549
Hi JBosom and thanks for the workaround.

I'll appreciate you share how to implement it or point me out to a reference that I could use.

Thanks in advance!!!

[2021-02-11 19:23] aronchick commented on #5504
+1 - i just spent a week trying to tease this apart (i wasn't sure it was an istio issue and missed this thread).

We should have a scalable solution - IDEALLY maybe something even in the UI? Regardless, I think there are a known set of folks that we should enable ASAP by default (and move that into core), and then improve the error information. At a minimum:

github.com
pypi.org
npm.org
amazon.co

[2021-02-12 10:55] JBosom commented on #5549
Hi @apulache,

First, it seemed to work by downgrading but actually we still have this issue time to time (less often but still...).
Currently, we are thinking to upgrade the metadata-writer to the version 1.2.0 as suggested (and explained) in [this comment](https://github.com/kubeflow/kubeflow/issues/5458#issuecomment-751645673).

I'll let you know if the upgrade solves it for us or if we find an

[2021-02-12 10:57] kim-sardine commented on #5597
I see. Thanks for the guide!

[2021-02-12 10:57] #5597 closed

[2021-02-12 10:58] slenky commented on #5549
Hi @JBosom @apulache ,

Upgrading to 1.1.2 should be enough as it contains a fix for that issue. As soon as you run your first workflow metadata-writer will function properly.

[2021-02-12 11:51] crmne commented on #5598
@yuzisun said in https://github.com/kubeflow/kfserving/issues/1369:

why is Kubeflow 1.2 still installing Istio 1.1.6?

[2021-02-12 16:18] crmne commented on #4806
Same here, any fix?

[2021-02-12 16:51] ypitrey opened #5602 "Pipeline metrics are always sorted alphabetically"
/kind bug

I have a pipeline that exposes pipeline metrics following [this example](https://www.kubeflow.org/docs/pipelines/sdk/pipelines-metrics/). It's working great, but it seems that the metrics always appear sorted alphabetically. I would like to make use of the fact that the first two metrics are displayed next to each run in the run list view, but the two metrics I'm interested in are not t

[2021-02-12 17:06] DavidSpek commented on #5602
/area pipelines
@Bobgy maybe you can move this over to the pipelines repo

[2021-02-12 17:09] DavidSpek commented on #5598
@crmne I don't think that is correct. @PatrickXYS is there an error in the AWS manifests that istio 1.1.6 is being installed? By default, Kubeflow uses Istio 1.3.1 and is compatible up to 1.5.x. The goal is to have istio 1.6+ supported with the next release.

[2021-02-12 17:12] crmne commented on #5598
@DavidSpek @PatrickXYS I installed Kubeflow from [this guide](https://www.kubeflow.org/docs/aws/aws-e2e/) which links to this manifest: https://raw.githubusercontent.com/kubeflow/manifests/v1.2-branch/kfdef/kfctl_aws_cognito.v1.2.0.yaml

I noticed that is different from https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_aws_cognito.v1.2.0.yaml, which does install Istio-1.3.1

[2021-02-12 17:14] DavidSpek commented on #5598
It seems like that commit needs to be cherry picked into 1.2 as it is generally not recommended to install from the master branch (things might be broken).

[2021-02-12 18:03] PatrickXYS commented on #5598
Hey currently we're working in progress to make cognito solution work with istio >= 1.3.1,

which means current 1.3.1 istio is not compatible with cognito part.

[2021-02-12 19:59] shawnzhu opened #5604 "Connect to Kubeflow notebook server via VS code (python extension)"
/kind feature

**Why you need this feature:**
I'd like to connect to kubeflow notebook server via vscode. see [Connect to a JupyterHub from Visual Studio Code](https://blog.jupyter.org/connect-to-a-jupyterhub-from-visual-studio-code-ed7ed3a31bcb)

The benefit is it can keep the IDE development UX within vscode but leverage Kubeflow as remote notebook server environment.

**Describe the solution yo

[2021-02-12 21:47] ayush7007 opened #5605 "Issues with Metadata writer, Central Dashboard, Argo UI & Ml pipeline pods while deploying Kubeflow in an IPv6 environment."
/kind bug

I am trying to setup Kubeflow on an IPv6 environment and facing issues with Metadata writer, Central Dashboard, Argo UI & Ml pipeline pods. Not sure whether Kubeflow works fine with Ipv6 as I see no params to switch between Ipv4 and Ipv6. Please suggest if Kubeflow supports IPv6 ?
Below are the issues I am facing-

**What steps did you take and what happened:**

1. Metadata writer not a

[2021-02-13 10:51] DavidSpek commented on #5604
Just so you know, there are current effort I am working on to have code-server (VS-Code) run within Kubeflow as well.
https://github.com/kubeflow/kubeflow/pull/5582

[2021-02-13 16:21] crmne commented on #5598
@PatrickXYS I was able to install Kubeflow with istio 1.3.1 today with [this Cognito manifest](https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_aws_cognito.v1.2.0.yaml), and was able to deploy KFServing models. The header kubeflow-userid is however not sent to the central dashboard. Is that the problem you're referring to?

[2021-02-15 00:12] Boes-man commented on #5565
Thanks @jbottum The datasets already exist somewhere else (external nfs), would we have to migrate to rok? If PodDefs (or maybe something else?) could be expanded to cover these pod spec volume mounts, then really nothing else is required.... This would give the user the option to mount external datasets to their notebook in the ui.

[2021-02-15 12:05] krish0005 opened #5607 "Kustomize files not found when building kfctl_istio_dex.v1.2.0.yaml / Misalignment with guide docs / Procedure to deploy Dex in GKE Kubeflow"
/kind bug

What: Trying to build kfctl_istio_dex.v1.2.0.yaml with kfctl

Why: to deploy Dex connector with it on top of an already existing cluster created via CLI in GCP as following:
[](https://www.kubeflow.org/docs/gke/deploy/deploy-cli/)

What issue: The build fails with missing kustomize files.

Also to be noted:

I could not perform the step "Disabling Istio" as documented here: [](https://w

[2021-02-15 15:03] kimwnasptd commented on #5566
## Detecting the mode
The next part we need to document is how the web apps can figure out in which mode they are being deployed in. This can be broken down into the following questions/design decisions:

1. How does the frontend acquire this mode info?
    * Should this information be injected into the frontend when the frontend artifacts are being build?
    * Should the backend have templating

[2021-02-15 15:18] kimwnasptd commented on #5566
Ofc if the frontend would rely on the backend to get this information, via and HTTP GET for example in an endpoint that exposes common setting is also fine.

The above description aims to explain why in crud-web-apps we can take for granted that the dashboard will either be there or not when the app loads.

[2021-02-15 16:54] turowicz commented on #5429
@kosehy why is this closed? Latest version 1.20.2 still has this problem.

[2021-02-16 04:48] nallagangus opened #5614 "envoyfilter issue in kfctl_istio_dex in standard kubernetes"
Hi all

can some one share working version of envoyfilter authn-filter in kfctl_istio_dev setup?

I got one which is redirecting main http://kubeflow-url/ to http://10.37.3.90/dex/auth but dex/auth also goes thru redirect to itself. I was hoping dex/auth will skip authentication along with future ur;s once they carry JWT.

The one I am using is shared below

Thanks
Sudhir nallagangu

Current setup

[2021-02-16 14:56] shawnzhu commented on #5604
This is the spec of jupyter server for the security feature: https://jupyter-server.readthedocs.io/en/latest/operators/security.html

I guess it will need some design work to think about how to support passing token via either query string or a request header.

[2021-02-17 07:04] thirdeye-jarvis opened #5615 "Kubflow's Jupyter web app gets binded on 0.0.0.0:500 instead of [::]:5000 in IPv6 kubernetes cluster."
Jupyter Wsgi web app is binded on 0.0.0.0:500 in IPv6 kubernetes cluster due to which I am not able to edit and launch notebooks from Kubeflow dashboard. It should be running on [::]:5000 to establish proper connectivity,

what's the way of switching this jupyter deployment to Ipv6 ?

Does Kubeflow support IPv6??

![viber_image_2021-02-17_12-13-33](https://user-images.githubusercontent.com/7918918

[2021-02-17 09:07] kimwnasptd commented on #5482
@PatrickXYS now that we are almost there with having Argo Workflows for running tests I'd like to also start the discussion of building images, as post-submit jobs.

My big-picture understanding right now is that we could use Python to generate Argo Workflows that will in turn run Kaniko to build the different images and push them to ECR [ we'll also need to agree on the registry name, but let's n

[2021-02-17 09:40] JohanWork commented on #5561
Experiencing the same problem, and have not deleted it manually. @jonasdebeukelaer how did you apply it to your cluster? Do I need to add it in the makefile, or do you manually add it to the cluster running kubeflow?

[2021-02-17 11:00] jonasdebeukelaer commented on #5561
@JohanWork not sure what makefile you're talking about but you can just run the follow to make sure it's there
[code]

[2021-02-17 19:01] DavidSpek commented on #5604
Token authentication is disabled in notebook images that run on Kubeflow, so I do not think that will work. I haven't looked at this yet (or tried), but personally I think the best solution would be to create a custom VS-Code extension that can communicate with Kubeflow (and maybe have more functions as well).
On a side note, I tried [Juno Connect](https://juno.sh/junoconnect/) quickly. Logging in

[2021-02-18 02:24] #5592 closed

[2021-02-18 09:12] trog-levrai commented on #5512
I had the same issue and had to use a similar workaround. In `.cache/manifests/manifests-1.2.0/istio-1-3-1/istio-install-1-3-1/base/config-map.yaml`, I removed the if statement lines 211 and 213 as I didn't know how to set `.Values.global.proxy.privileged` but If there is an easy way to do it I guess that would be the fix for my environment (minikube with podman as driver).

I'd be happy to give i

[2021-02-18 12:19] vishal-wiai opened #5616 "Data Management in EKS"
/kind question

I'm trying to setup a Kubeflow deployment on an EKS cluster and wanted to explore data management options. Rok seems to be a great option but I couldn't figure out from the docs how to deploy it without MiniKF. Is it possible to use Rok without MiniKF? What are the other choices for data management, mainly data versioning and how to set it up?

Also, can I use s3 as my artifact sto

[2021-02-19 00:50] bravo325806 commented on #4818
@DanaHan I have try to add v: {"none", "1", "2", "4", "8", "16"}  in config-map jupyter-web-app-config.
I add in gpus layer or value layer can't change default gpu list values
can you show how you modified it? Thanks

[2021-02-19 07:24] massih10 commented on #5605
I m having a similar / exact same issue (not sure really). My pipeline and metadatawriter pods are not running. Is there any fix for this?

[2021-02-19 12:09] kimwnasptd commented on #5566
## Sidebars for navigation

In 1.3 release the CentralDashboard's left-hand side panel will be a sticky component https://github.com/kubeflow/kubeflow/pull/5474, in order to make the whole platform feel more cohesive. But, in many cases a UI might need to have a left side-bar of its own that will be used for navigating to the app's different pages.

We want to avoid the scenario where, in Kubeflow

[2021-02-19 17:29] crmne commented on #5514
Same here

[2021-02-19 17:39] crmne commented on #5514
This worked for me: https://github.com/kubeflow/gcp-blueprints/issues/184#issuecomment-760574562

that section ended up looking like this:

    spec:
      containers:
      - command:
        - /bin/sh
        - -c
        - |
          echo "logs are hidden because volume is too excessive" &&
          /root/manager 2> /dev/null

[2021-02-19 17:49] vsk2015 commented on #5605
@ayush7007 For issue number 2 (Kubernetes central dashboard) the fix is present in the latest master of javascript client library https://github.com/kubernetes-client/javascript/blob/751488214d58feb40d21038c62a225e09487d600/src/config.ts#L201

[2021-02-20 06:42] Bobgy commented on #5482
Looks like you got the test infra running on optional-test-infra. Maybe it's a good time to remove configs in the old one.
(I'm migrating old test infra to gcp oss prow, so I'd love to see fewer stuff there too)

[2021-02-20 08:42] bravo325806 commented on #4758
This Volume Manager UI can be deployed on on-presmises kubernetes?
I use kfctl_istio_dex.v1.2.0.yaml deploy, but web UI can't see Volume Manager UI at left side

[2021-02-20 09:00] DavidSpek commented on #4758
@bravo325806 The Volume Manger UI will work with on-premises Kubernetes. The reason you don’t see it at the left is because it has not yet been open sourced. The plan is to have it available for the 1.3 release of Kubeflow. @kimwnasptd should be able to provide more information on this.

[2021-02-20 17:02] PatrickXYS commented on #5482
@kimwnasptd I think your approach looks good to me

@Bobgy I agree, we should remove it from kubernetes/test-infra now

[2021-02-21 09:06] Bobgy commented on #5390
Hey @yanniszark, do you plan to include deprecating KFAM as a P0 item in KF 1.3 release?

[2021-02-22 06:41] vsk2015 commented on #5605
Here is the PR for issue no. 1 (Metadata writer) : https://github.com/kubeflow/pipelines/pull/5160/commits/781abc76ee8ce1e36d35f672f853f0d9efcdb99a

[2021-02-22 08:47] ypitrey commented on #5602
Any updates on this issue? I'll have to name my metrics `1. dropsPerHour` and `2. unscheduled` for them to appear at the top of the list for now, but I fear the gods of software design are going to be angry with me. 😄

Thanks guys

[2021-02-22 11:32] kimwnasptd opened #5619 "Remove unused GCP CI tests"
/kind bug

Right now the only workflow defined in `kubeflow/kubeflow`'s [prow_config.yaml](
https://github.com/kubeflow/kubeflow/blob/0c4a738625f52092f66ec462e800ddd2837e0f6d/prow_config.yaml) is an old one that was meant to run in the previous GCP infra. We should completely remove this workflow. This effort is also crucial to migrating to Optional-test infra https://github.com/kubeflow/kubeflow/

[2021-02-22 11:32] kimwnasptd commented on #5619
/assign kimwnasptd

[2021-02-22 13:05] ConverJens commented on #5523
This would be a great enhancement!

[2021-02-22 13:32] ConverJens commented on #5548
@jaggaer-mtrninic TFX doesn't use multi-worker on KubeFlow in that sense. What you probably should do it to use an external data processor such as Flink and delegate the work. You are (implicitly) using a DirectRunner which is the local runner, meant to be used for experimentation.

Your OOM error is probably because you need to specify some resource limits on your pipeline. TFX in KubeFlow only s

[2021-02-22 20:11] ajpotts commented on #5485
I was also not able to view the kubeflow dashboard using the url provided from this command: microk8s.enable kubeflow

As a short term fix, you could set up port forwarding.  I modeled this article:
https://microk8s.io/docs/addon-dashboard

To find the kube-flow dashboard:

Once you see the namespace and port number you can set up the port forwarding.  For me it was this:

Then I could view the da

[2021-02-23 04:00] ReggieCarey commented on #5540
On Kubeflow 1.2.0 with Dex, Kubernetes Server 1.18.9.  I applied the above solution (Thanks @marziman) but the ml-pipeline process remains non-functional.  The errors prompting this issue are no longer present.  ML Pipeline logs reveal no obvious issues. Verified that mysql is up, can be pinged from ml-pipeline.

Not sure what to do next.

[2021-02-23 09:41] vladislavkoz opened #5621 "No manifest(kfctl) for Seldon 1.1.0"
Hi there. We've faced with autoscaling issue. The Automatically created HPA config is not valid. This issue already fixed https://github.com/SeldonIO/seldon-core/issues/1533

We are using kfctl and the following manifest for installation.
https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_gcp_iap.v1.0.2.yaml
It uses 1.0.1 Seldon-Core version but we need 1.1.0 to get the f

[2021-02-23 12:18] anil-pandey-mpf commented on #5460
This issue is also observed on GKE version 1.16.x as well. Please take a look

[2021-02-23 12:48] DavidSpek commented on #5616
@vishal-wiai Rok can certainly be deployed on EKS. The documentation to deploy Rok itself of EKS can be found (here)[https://docs.arrikto.com/install/kubernetes/eks/index.html]. If you are wanting all functionality of MiniKF on EKS, I think you are looking for Arrikto's Enterprise Kubeflow, with the deployment instructions being available (here)[https://docs.arrikto.com/integrations/kubeflow.html]

[2021-02-23 12:50] DavidSpek commented on #5614
@nallagangus Istio 1.6 nad higher are not yet supported. Support for Istio 1.6 and higher should come with the Kubeflow 1.3 release. Until then, I don't think there is much that can be done about this issue.

[2021-02-23 23:24] EvanFabry commented on #5514
+1. I've confirmed that this happens if following the [vanilla Kubeflow on GCP deployment instructions](https://www.kubeflow.org/docs/gke/deploy/), as well as if you follow the instructions to install multi-user kubeflow with DEX](https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/).

@aronchick, looks like this is a recent bug. I previously thought I might be seeing the same issue describe

[2021-02-23 23:42] EvanFabry opened #5634 "What version of k8s does KF 1.2 support?"
/kind question

**Question:**
The [k8s kf version compatibility chart](https://www.kubeflow.org/docs/started/k8s/overview/) doesn't have an entry for KF 1.2. It would be great to know what versions of k8s KF currently supports.

<img width="1661" alt="image" src="https://user-images.githubusercontent.com/5384989/108923450-b1770b80-75ed-11eb-9192-f774ef3f16c6.png">

[2021-02-24 08:27] bravo325806 opened #5635 "How to Culling of Idle Pods - Jupyter"
/kind question

**Question:**
I follow the https://github.com/kubeflow/kubeflow/pull/3856  add culling setting in notebook-controller-deployment, I use kfctl_istio_dex.v1.2.0.yaml deploy on on-presmises kubernetes

        env:
        - name: USE_ISTIO
          valueFrom:
            configMapKeyRef:
              key: USE_ISTIO
              name: notebook-controller-notebook-controller-config-

[2021-02-24 11:38] DavidSpek commented on #5634
I have a PR open to fix that. I currently run Kubeflow 1.2 on Kubernetes 1.20, before that on 1.19 and 1.18. I have not encountered any issues so far.

[2021-02-24 11:42] DavidSpek commented on #5615
@kimwnasptd Does the crud-web-app version of JWA properly support IPv6? If not, is this something that should be included in 1.3?

[2021-02-24 11:47] DavidSpek commented on #5559
Would this be solved by adding an annotation to the PVCs created by the controller?

[2021-02-24 11:50] DavidSpek commented on #5590
Closing as the issue has been resolved.
/close

[2021-02-24 11:50] #5590 closed

[2021-02-24 11:52] DavidSpek commented on #5588
/priority p0

[2021-02-24 11:55] DavidSpek commented on #5578
ping @kubeflow/wg-deployment-leads

[2021-02-24 11:59] DavidSpek commented on #5563
ping @PatrickXYS maybe somebody from AWS can take a look at this.

[2021-02-24 12:00] DavidSpek commented on #5552
@kimwnasptd can you take a look at the linked PR that should close this issue and fix the web app? https://github.com/kubeflow/kubeflow/pull/5606

[2021-02-24 12:02] DavidSpek commented on #5533
Closing this issue as a new one has been created. https://github.com/kubeflow/gcp-blueprints/issues/190
/close

[2021-02-24 12:02] #5533 closed

[2021-02-24 12:06] DavidSpek commented on #5466
There was discussion about this before, as well as some documentation. I think this should be revisited once Istio is upgraded in release 1.3.
This is also partly related to making the notebook controller compatible with more arbitrary types of servers.

[2021-02-24 12:09] DavidSpek commented on #5459
@perdurabo93 Release 1.3 will contain a large refactoring of the manifests. I think it would be best to revisit this after the upcoming release.

/cc @kubeflow/wg-deployment-leads

[2021-02-24 13:57] sneelz commented on #5559
@DavidSpek As long as that annotation is returned with the Kubeflow /pvcs endpoint, then that should work. Our custom UI is trying to display the user's workspace volumes and data volumes in separate dropdowns during notebook creation, so we need a way to distinguish them.

[2021-02-24 13:59] DavidSpek commented on #5559
@sneelz Could you further specify which endpoint that is exactly? I'm not sure I am familiar with it.

[2021-02-24 14:02] kimwnasptd commented on #5575
I can see a lot of opened PRs that introduce many frameworks alongside different Notebook Servers, so I'll comment in this issue instead of each opened PR.

As mentioned in the Community Meetings and in the weekly WG meets supporting different types of Notebook servers for 1.3 is best effort. So there won't be timely reviews until we ensure the manifests for the WG's artifacts and the CI/CD proces

[2021-02-24 14:08] sneelz commented on #5559
@DavidSpek Endpoint is at /jupyter/api/namespaces/[namepsace]/pvcs and returns a list of all PVCs, including workspace and data volumes, the user has created.

[2021-02-24 14:13] DavidSpek commented on #5575
While there are many PRs here, half of those require essentially no review as all they do is install a package with pip or conda. Also, while the design doc is not yet finalized, the PRs for the images do follow the intention of the design doc (at least how I interpreted the discussions) and the suggested changes I have made to it. The PRs that need the most attention will be those in stage 1, fol

[2021-02-24 14:16] DavidSpek commented on #5575
To go along with these images, I have actually started work on an Image Builder web app, that will allow users to easily extend (these) images with whatever pip and conda packages they need. However, I do not think this will be ready for 1.3 (even though all that is needed is some very simple front end development.

[2021-02-24 14:34] DavidSpek commented on #5559
@sneelz Thanks for the clarification. The code for this is found (here)[https://github.com/kubeflow/kubeflow/blob/master/components/crud-web-apps/common/backend/kubeflow/kubeflow/crud_backend/api/pvc.py]. As you can see, this is simply using the Kubernetes Python client and nothing else. It would require quite some custom coding for it to process annotations, as well as changes to the controller t

[2021-02-24 14:46] sneelz commented on #5559
@DavidSpek Thanks for the update. I will look into the Volume Manager UI and see if that will meet our needs.

[2021-02-24 15:50] PatrickXYS commented on #5563
There are some things impact each other,

I don't think any services other than implemented cluster autoscaler functionality can add new Nodes in the cluster, the permission is another thing which is need to monitored.

[2021-02-24 15:52] PatrickXYS commented on #5459
Who will be working on On-prem K8s deployment? I don't think we have a clear person responsible for this.

Maybe @jtfogarty know about it? Will you help maintain on-prem stuff including deployment, manifests, etc?

[2021-02-24 21:23] mameshini commented on #5459
We do not have one person responsible for on-prem, but discussions are happening within Kubeflow on-prem SIG.  I can only confirm that kfctl based approach does not provide configuration options that are sufficient to address the requirements for on-prem deployments.  Our current approach for AgileStacks distribution is to customize, package, and deploy upstream Kubeflow 1.2 manifests using AgileS

[2021-02-24 21:27] DavidSpek commented on #5459
I am deploying on-prem with kfctl, but don’t have these specific restrictions. I haven’t been involved with the on-prem meetings, but might be able to help out here or there.

[2021-02-24 23:15] Shaked commented on #5048
I am currently trying to install kubeflow 1.2 on GCP following https://www.kubeflow.org/docs/gke/deploy/ and I stumbled at the same problem where DNS is not being created. However, I haven't created the service before and it doesn't exist in `gcloud --project=${PROJECT}  endpoints services list`

I also wrote about it in Kubeflow's Slack:

When I run:
[code]
I do see that there's a `kubeflow-demo`

[2021-02-24 23:36] ReggieCarey commented on #2852
Please upgrade the supported istio in Kubeflow to something supported and new.  Debugging potentially already repaired istio code is a horrible waste of time.

[2021-02-25 14:47] DavidSpek commented on #5559
@sneelz It seems I was mistaken regarding the necessary changes for listing the annotations in the endpoint. The following function is the one that creates the `/jupyter/api/namespaces/<namespace>/notebooks` endpoint. You might be able to add annotations to the notebook or volumes and have them processed here.
https://github.com/kubeflow/kubeflow/blob/0c4a738625f52092f66ec462e800ddd2837e0f6d/compo

[2021-02-25 18:44] pthalasta opened #5638 "Transformers Trainer.train() gets stuck when executed on notebook server"
I'm trying to train a transformer based on BertForSequenceClassification model in a notebook spun up using kubeflow.
When i try to start the training of the model there is no output or error shown by the function even after 30mins of runtime. GPU usage doesn't change as well

Script/sample notebook executed: https://github.com/huggingface/notebooks/blob/master/examples/text_classification.ipynb
tr

[2021-02-26 07:57] daenuprobst opened #5639 "Pipeline Parameter Attributes (e.g. Grouping and Descriptions)"
/kind feature

**Why you need this feature:**
When creating a pipeline that exposes a relatively large (5-10+) number of run parameters, the generated list of parameter input fields in the frontend becomes confusing (when creating a new run). Especially when there are parameters with the same name / function for multiple steps in the pipeline, the only way to make them distinguishable is to give t

[2021-02-26 09:52] DavidSpek commented on #5638
Which notebook did you use? Are you able to run other notebooks that use the GPU successfully?

[2021-02-26 09:53] DavidSpek commented on #5639
@daenuprobst could you please create this issue on the https://github.com/kubeflow/pipelines repo?
/area pipelines

[2021-02-26 11:01] kimwnasptd commented on #5566
## Selected Namespace in Standalone

If the UI is deployed in standalone mode then the frontend will have a dropdown selection list with all the available namespaces. The next question we need to tackle is which Namespace should be selected once the user navigates to the app?

### Use the first item in the list (first iteration)
The easiest solution we could have as a first iteration would be for

[2021-02-26 14:25] kimwnasptd commented on #5482
@PatrickXYS I can see that the tests are still failing for PR for the AWS prow but not for the GCP one. I see a that the workflow triggers a ksonnet app that uses GCP credentials, which IIUC is the issue
[code]

But I can't figure out where this workflow is and why does it get triggered. Doing some simple find/grep I see that the name of the ksonnet component is `unit_tests`. I think this is locat

[2021-02-26 15:44] pthalasta commented on #5638
@DavidSpek i'm not sure what you meant by which notebook? Do you mean the version?
The issue exists with all the notebooks that use transformers in order to train a model. Pytorch can see the GPU devices as the output of `torch.cuda.device_count()` was valid.

[2021-02-26 16:36] PatrickXYS commented on #5482
If you found something like this, it's still using ksonnet to generate argo workflow.

Let me first remove config from GCP prow to avoid confusion and it should help us narrow down the issue

[2021-02-26 17:09] DavidSpek commented on #5482
Following https://github.com/kubeflow/kubeflow/pull/5640

@PatrickXYS How would I be able to test a created Argo workflow locally before submitting a PR?

Another general topic is what the naming scheme and ECR registry will be so that can be implemented in the Kaniko job.

[2021-02-26 17:17] PatrickXYS commented on #5482
I'm waiting for @kimwnasptd 's list of public ECR registries he want to add

You can do so by creating your cluster and install argo, but there are too many efforts doing so. So the suggestion is always rely on optional-test-infra and get familiar with it can help you debug. https://github.com/kubeflow/testing/tree/master/aws this should be good resources to get started

[2021-02-26 17:56] DavidSpek commented on #5482
@PatrickXYS Trial and error it is then haha. I have a permanent cluster running Kubeflow, and thus Argo, but I wasn't sure about the AWS specific configs (and I couldn't test those on-prem either).

[2021-02-26 18:07] DavidSpek opened #5641 "(JWA): CPU in request body wrong type"
/kind bug

While working on the JWA that uses the common code, I am experiencing a type error regarding CPU needing to be of type `string` rather than `number`.

Error output:
[code]

This error can be solved by adding the following code to the `getSubmitNotebook()` function in `form-defaul.components.ts`. However, I'm not sure if this is an actual fix for the problem, or just a workaround.

[code

[2021-02-26 18:08] DavidSpek commented on #5588
/cc @kimwnasptd @thesuperzapper @StefanoFioravanzo @elikatsis @yanniszark

[2021-02-26 19:23] jbottum commented on #5588
@DavidSpek have you validated this behavior ?

[2021-02-26 19:29] DavidSpek commented on #5588
@jbottum I have not, as I am currently busy with developing on the new jupyter web app that uses the common code. However, this is very likely related to a known issue that occurs in multiple web apps. See https://github.com/kubeflow/katib/issues/1322, specifically https://github.com/kubeflow/katib/issues/1322#issuecomment-687640209.

[2021-02-26 20:02] PatrickXYS commented on #5482
I tested on my PR and confirm tests triggering is working properly regardless test failed.

https://github.com/kubeflow/kubeflow/pull/5642#issuecomment-786863791

@kimwnasptd  My suggestion is to first test against the https://github.com/kubeflow/kubeflow/blob/master/prow_config.yaml#L10-L16 to make sure the crud-web-apps unit test succeed, and then we move forward to other PR.

[2021-02-26 20:11] raffaelespazzoli opened #5643 "jupiter notebook statefulset customization"
/kind question

**Question:**
Is there a way to customize the stateful set created by the kubeflow when it starts a jupyter notebook? I know of `PodDefaults`, but I need to be able to go beyond that level and customization and specify `runAsUser` in the security context.
Is there a configuration with the basic pod template that will be applied that one can change?

[2021-02-26 21:27] DavidSpek commented on #5638
@pthalasta Is this one of the notebook images provided with Kubeflow? Or is it a custom one? If so, can you share the Dockerfile so I can take a look at it?

[2021-02-26 21:49] pthalasta commented on #5638
@DavidSpek i use RAPIDS image and override the entry point as specified by kubeflow for custom images.
Docker file: https://github.com/rapidsai/clx/blob/branch-0.18/Dockerfile

[2021-02-26 21:54] DavidSpek commented on #5638
I have no experience with rapids, but I will try to look at it tomorrow. However, it seems like you are installing a nightly build which I assume is probably not stable and could cause unexpected issues.

[2021-02-27 14:15] bvboca opened #5645 "Pipeline page is blank on dashboard"
/kind bug

**What steps did you take and what happened:**
1. all service and pod are up and running.
2. Katib and Notebook server pages are accessible on the dashboard.
3. Click Pipelines menu on dashboard will result in a blank page.
4. The Pipeline page is accessible by its service cluster ip.

**What did you expect to happen:**
Pipeline page  is accessible on kubeflow  dashboard

**Anything els

[2021-02-28 07:30] deepk2u opened #5647 "Installing Kubeflow in any custom namespace"
/kind feature

**Why you need this feature:**
Kubeflow seems to be very tied with the namespace name `kubeflow`, ideally, it should be customizable and we should be able to install in any named namespace

**Describe the solution you'd like:**
Parameterize all the namespace related variables

**Anything else you would like to add:**

[2021-02-28 10:30] deepk2u commented on #5561
I am using Istio 1.6 and the connection between `metadata-envoy-deployment` and `metadata-grpc-deployment` was the problem, was throwing `upstream connect error or disconnect/reset before headers. reset reason: connection termination` error, I did this to fix the connection issue.

[code]

[2021-02-28 10:50] DavidSpek commented on #5561
@deepk2u While it seems you got it working, Istio 1.6 is not supported by Kubeflow at the moment. Kubeflow 1.3 will come with Istio 1.9. I’m not sure what the current situation is for standalone KFP, but if there is support for Istio 1.6+ it would be in a very recent release.

[2021-03-01 03:07] shawnzhu commented on #5604
Got it. I'm working on [multi-user, auth-enabled deployment](https://www.kubeflow.org/docs/ibm/deploy/install-kubeflow-on-iks/#multi-user-auth-enabled), so it could authenticate request to notebook server via either `authservice_session` cookie or `X-Auth-Token` header.

I thought and tried to reuse existing [vscode-jupyter](https://github.com/microsoft/vscode-jupyter) extension which works with r

[2021-03-01 07:14] kd303 opened #5648 "2 Pods created for every user on-boarded on KF"
### What steps did you take:
WE have a Kubeflow 1.1 with Dex enabled on premise cluster with 2 worker nodes. We have enabled few of our data-science users with LDAP integration. However what we noticed during some sort of test (we wanted to create multiple profiles and see how many users can work simultaneously - since 220 pod limit would be there vs how many pods are reserved by Kubeflow and othe

[2021-03-01 07:37] kd303 commented on #5648
Apologies for putting duplicate issues [4953](https://github.com/kubeflow/pipelines/issues/4953), but I havent got any replies there hence putting this under kubeflow repository since I am not sure whether the issue related to profile or pipeline.

[2021-03-01 07:42] 15162162323 opened #5649 "imagePullPolicy"
when I install kubeflow locally, i find many image pull policy is 'Always'，can use 'IfNotPresent' instead ?

[2021-03-01 07:42] 15162162323 opened #5650 "imagePullPolicy"
when I install kubeflow locally, i find many image pull policy is 'Always'，can use 'IfNotPresent' instead ?

[2021-03-01 07:44] #5650 closed

[2021-03-01 07:55] glotzerhotze commented on #5540
We face the exact same issue. We are on Kubernetes 1.18.x - trying to install Kubeflow-1.2.0 with Dex. We did all the steps outlined above and we still can't get the ml-pipelines deployment to talk to the mysql-pod. Seems to be the same problem with the cache-server trying to talk to mysql. For both pods we see these messages in the logs - repeating all over again:

`
2021/03/01 07:51:35 Initing c

[2021-03-01 10:25] stdec opened #5651 "MountVolume.SetUp failed for volume "certs" : secret "cert-manager-webhook-tls" not found"
the pod cert-manager-webhook-xxxxxxx , need volume "certs"  with secret "cert-manager-webhook-tls" , but not generate the secret.

  volumes:
  \- name: certs
    secret:
      defaultMode: 420
      secretName: cert-manager-webhook-tls

[root@node001 ~]# k get secret -n cert-manager
NAME                                  TYPE                                  DATA   AGE
cert-manager-cainjector-toke

[2021-03-01 17:40] raffaelespazzoli opened #5652 "kfdef and kfctl general usability improvements"
/kind feature

I find the pair kfdef and kfctl to be very painful to use. Here are the reasons:
1. kfctl seems to be very sensitive to which directory it is being launched from. I can't really put my finger on the issue there, but if I am not in the same dir as the kfdef it does not work.
2. in some instances kfctl changes the kfdef file, for example arbitrarily removing commented sections. Why is

[2021-03-01 21:27] ReggieCarey opened #5654 "Documentation is misleading"
The Kubeflow documents suggest joining a community on SLACK but it is impossible to join.

[2021-03-02 02:30] fryzhykau commented on #5070
Could you please point to the file where you have applied this change (in regards to the recent kubeflow 1.2.0 release for example)? Previous link doesn't work.
Trying to make it work with istio 1.6.14 as recommended on the docs pages.

[2021-03-02 09:24] kimwnasptd commented on #5482
Adding also a comment here so that we have all the necessary context in the issue. We fixed CI tests for the common frontend code. The following are the key takeaways:
1. Ther 63 chars limitation, which means that the workflow's name can not be more than ~12 chars
2. The name of the workflow needs to be DNS1123 competible, since it will be used in the Argo Worfklow CR's name
2. We use the browserl

[2021-03-02 09:32] DavidSpek commented on #5482
@kimwnasptd If you give me some information regarding what you want I can rework my PR into that. Obviously a separate workflow for each component. Do we want to have the git commit hash as the tag? Does the branch name also need to be in the tag?

[2021-03-02 12:31] #5552 closed

[2021-03-02 15:05] sneelz commented on #5559
@DavidSpek Thank you for following up! Will take a look at this and see if we can use it.

[2021-03-02 15:06] kimwnasptd commented on #5482
Sure! Lets first document here the more basic things, like
1. the names of the ECR registries we will use
2. how someone could run the produced Argo Workflow in a cluster and test the results

Having the above sorted up and smaller workflows for the different components would be a pretty good first step. Once I've managed to run the workflow locally and use Kaniko I'll be back with next steps for

[2021-03-02 15:07] PatrickXYS commented on #5482
@kimwnasptd  I think you should tell current blocking PR in kubeflow/kubeflow to rebase from master, that can help them move forward

[2021-03-02 15:08] kimwnasptd commented on #5482
@PatrickXYS  wrt the ECR registries we need, I'd like to first ask some questions that I have after reading the docs.From what I understand from the [AWS ECR](https://docs.aws.amazon.com/AmazonECR/latest/public/public-registries.html) docs the URI of a public image will be `public.ecr.aws/registry_alias/repository_name:image_tag`.

This `repository_name` is not the same with what the [GCP docs](ht

[2021-03-02 15:08] kimwnasptd commented on #5482
Yes, this will need a heads up on the opened PRs. I'll give it a round

[2021-03-02 15:12] DavidSpek commented on #5482
@kimwnasptd You can create an image using Kaniko from a git URL directly, so all that would be needed to run locally is a PodSpec. The workflow itself is not very difficult, so shouldn't take long to implement.

[2021-03-02 15:14] DavidSpek commented on #5482
Regarding the image name, wouldn't it be something like `public.ecr.aws/kubeflow-kubeflow/central-dashboard:branch-git_hash`?

[2021-03-02 15:17] PatrickXYS commented on #5482
Yes a list with repository names

Well, you can first do a few, and after experimentation on your side, we can do the rest of them.

This still uses the default `j1r0q0g6 ` , before we have all WG onboard the public ECR, we might won't come to the formalized registry_alias

[2021-03-02 16:56] kimwnasptd commented on #5482
@PatrickXYS here's an initial list for images/registries we will need. We might add some more down the road
* jupyter-web-app
* notebook-controller
* centraldashboard
* admission-webhook
* profile-controller
* tensorboards-web-app
* tensorboard-controller

cc @StefanoFioravanzo @elikatsis @yanniszark @thesuperzapper

[2021-03-02 16:58] DavidSpek commented on #5482
@kimwnasptd For the sake consistency and readability, I'd like to suggest using `central-dashboard` instead of `centraldashboard`.

[2021-03-02 20:58] castrojo commented on #5654
Thanks for your report! Did you receive an error or did it claim to work and not actually work?

[2021-03-02 22:25] amitchatbd opened #5656 "Authentication and redirect/callback to custom UI running in parallel to kubeflow - Dex/OIDC"
/kind question

**Question:**
Is there a way to redirect to a different domain after authentication and getting the JWT token.

This is the scenario, we are developing a UI integration providing kubeflow capabilities and other functions for a group of users.
We need to authenticate and get the core JWT token for kubeflow which is configured to validate the user against internal LDAP in our current

[2021-03-03 02:14] #5634 closed

[2021-03-03 06:31] thesuperzapper commented on #5654
The issue the incorrect slack invite is being discussed in: https://github.com/kubeflow/community/issues/473

[2021-03-03 06:31] thesuperzapper commented on #5654
/close

[2021-03-03 06:31] #5654 closed

[2021-03-03 09:30] krish0005 commented on #5607
Closing this since i resolved it with the same resolution provided here: https://github.com/kubeflow/kfctl/issues/418
My kfctl version was not updated to 1.2.0.

[2021-03-03 09:30] #5607 closed

[2021-03-03 09:44] DavidSpek commented on #5656
Do you need to use Dex? You could use a different OIDC provider for kubeflow, which could be your custom app or something like GitLab.

[2021-03-03 10:30] Luke035 opened #5659 "Error installing Kubeflow on AWS EKS: IAM for Service Account is not supported"
/kind bug

**What steps did you take and what happened:**
Installing Kubeflow on EKS cluster result in the following error:
[code]

EKS cluster has been installed with the dedicated Terraform module (not eksctl) and IAM Service Account for ALB Ingress controller has been provided by the Terraform script itself

**What did you expect to happen:**
Terraform installation competed without issues

**An

[2021-03-03 14:01] #5594 closed

[2021-03-03 14:04] #5596 closed

[2021-03-03 14:13] #5595 closed

[2021-03-03 15:11] amitchatbd commented on #5656
Our install is with OIDC and Dex. Using internal LDAP. We will not use any other options at this point.

Possibility of Ping federated integration in the future ..... that is not part of this question.

[2021-03-03 18:14] DavidSpek commented on #5559
@sneelz Depending on the time I have available, I might be able to look at implementing this as well. It is on the radar in any case.

[2021-03-03 18:28] ReggieCarey commented on #5656
I face a similar situation.  We would like to authenticate and authorize access to things other than Kubeflow.  This is not specifically a Kubeflow issue but it seems that Kubeflow has solved a problem that we would like to solve for other products.

[2021-03-03 19:51] amitchatbd commented on #5656
For us we are trying to access kubeflow API's and integrate other functionality that we are developing with those calls so that we can provide a better interactive UI to specific user group in our org.

[2021-03-03 20:32] DavidSpek commented on #5656
@amitchatbd You can setup redirects with the Istio VietualService and do things like adding, changing or removing both request and response headers. Not sure if this is of any use for you though. https://istio.io/latest/docs/reference/config/networking/virtual-service/

[2021-03-03 20:38] DavidSpek commented on #5649
I think the only way would be by changing the manifests. However, there are changes happening to the manifests for 1.3 which should be released soon so I’m not sure what the situation will be then. @kubeflow/wg-manifests-leads maybe you can provide some insight here.

[2021-03-03 20:47] DavidSpek commented on #5652
@raffaelespazzoli I think a lot of your concerns are in the process of being addressed with release 1.3 which is coming soon. If I am not mistaken Kustomize will be used for the deployment. Other than that, your concerns are something I’ve come across myself and read in other issues and it is something the community is busy with. If you’d like to help out with this you could take a look at the man

[2021-03-04 00:48] nathanwong91 opened #5662 "kubeflow istio-ingressgateway pod restarting"
/kind bug

**What steps did you take and what happened:**
Accessing the Kubeflow UI half the time will get `503 Service Temporarily Unavailable`. Caused by `istio-ingressgateway` pod in istio namespace restarting and being unavailable.

**What did you expect to happen:**
Users being an able consistently access the Kubeflow UI without issues

**Anything else you would like to add:**
Unsure if this

[2021-03-04 01:20] shawnzhu commented on #5604
I made it work (and I really like the UX since I can use a powerful, secure remote notebook server from vscode) by changing the authentication logic of [vscode jupyter](https://github.com/microsoft/vscode-jupyter) extension. see details from this commit: https://github.com/shawnzhu/vscode-jupyter/commit/3eaed51dd4997d88148e5a087f84263652d0c3f6

## Summary

1. It enables the notebook centric develo

[2021-03-04 10:40] bvboca commented on #5645
I install kubeflow on an existing istio cluster and skip some steps of kfctl setup. Maybe some functions are broken in my installation. I suggest the setup tutorial should be detailed documented about the installation on a pre-existed kubernetes, istio, knative server, and what we should do to make it as a clean installation.

[2021-03-04 11:25] #5397 closed

[2021-03-04 12:15] omerfsen commented on #5397
+1

[2021-03-04 12:29] ReggieCarey commented on #5604
We would be very very interested in this integration. In general, integrations with local IDEs make Kubeflow better.

Sent from my iPhone

[2021-03-04 13:18] danishsamad commented on #5452
@berndverst @fatimaafridi I ran into the same issue and was able to resolve the issue by making the following changes

1. Update kfctl_azure.v.1.2.0.yaml by adding cluster-local-gateway

  - kustomizeConfig:
      repoRef:
        name: manifests
        path: stacks/kubernetes/application/cluster-local-gateway
    name: cluster-local-gateway

2. Edit cluster-local-gateway deployment
kubectl edit

[2021-03-04 14:44] sneelz commented on #5559
@DavidSpek Awesome, I appreciate it!

[2021-03-04 14:51] DavidSpek commented on #5604
@shawnzhu Awesome work! Is it possible to spawn a new notebook server with the VS-Code extension (both with JupyterHub, as well as with Kubeflow)? I still think a custom extension that would tightly integrate with Kubeflow and allow for spawning new notebook servers and such would be the most interesting route to go down.

[2021-03-04 16:02] Ursanon commented on #5342
@DavidSpek Yes

[code]

[2021-03-04 22:31] #5593 closed

[2021-03-04 23:30] pthalasta commented on #5638
@DavidSpek any update on this?

[2021-03-05 02:23] shawnzhu commented on #5604
If my understanding is correct, you mean spawn a new notebook server with Kubeflow within a local vscode? It only supports connecting to an existing remote Jupyter notebook server from current vscode-jupyter extension, the feature that spawn a new notebook server is not there.

I'm still trying to create a demo to show key feature first. I get the idea of spawning new notebook server then connect

[2021-03-05 02:56] Ark-kun commented on #5605
I'm not sure I see a PR. Have you created a PR?

[code]
Does the host parameter support lists?
https://github.com/google/ml-metadata/blob/3edfc45ee6450494bfd48fe47e5b6570bf858638/ml_metadata/proto/metadata_store.proto#L614

[2021-03-05 04:07] vsk2015 commented on #5605
@Ark-kun Sorry I messed up with the changes I pushed. Here is the PR https://github.com/kubeflow/pipelines/pull/5245/commits/2ee165319830183ac306afb6ae4c310899970bfe

[2021-03-05 05:51] vsk2015 commented on #5605
I messed up while pushing changes. Rectified and commented on the specific open issue.

[2021-03-05 12:54] keshavpeswani opened #5664 "Unable to create experiment for kubeflow pipeline."
/kind question

**Question:**
Hi Everyone,

I have been using following version of kubeflow pipleline sdk  :

[code]

When i try to run the following from jupyter notebook started from kubeflow :

[code]

I get the following error :

ApiException: (400)
Reason: Bad Request
HTTP response headers: HTTPHeaderDict({'content-type': 'application/json', 'trailer': 'Grpc-Trailer-Content-Type', 'date': 'Fr

[2021-03-05 13:01] Ursanon opened #5665 "Cannot import name 'AsyncMultiKernelManager' with custom notebook image"
I've added new packages (`ffmpeg, libsm6, libxext6`) to existing tf notebook dockerfile.
Pod is affected by CrashLoopBackOff, log:

[code]

[2021-03-05 16:26] ludans opened #5666 ""User" vs "Project > User""
/kind question

**Question:**

As far as I understood kubeflow and its security is designed around Users.
Users have some dedicated space, quotas, they can access data, create stuff and share it with each other.

Is there a notion of "project"?
I don't really like the idea of users mixing stuff from one project to another.
A project would have some data sources, some resources, and users - to make

[2021-03-05 16:56] tomalbrecht commented on #5485
I cannot access kubeflow either using microk8s v1.20, following this https://microk8s.io/docs/addon-kubeflow documentation and described in an older issue here https://github.com/ubuntu/microk8s/issues/1366#issuecomment-654411307.

Any suggestions, @knkski?

[code]

@ajpotts you are talking about k8 dashboard, not about the kubeflow dashboard.

Access over SOCKS-Proxy as described here https://mic

[2021-03-05 16:58] PatrickXYS commented on #5482
FYI This is done

[2021-03-05 17:39] pthalasta commented on #5638
@DavidSpek I also tried with non-nightly image.

Docker pull for the image: `docker pull rapidsai/rapidsai-clx:0.18-cuda11.0-runtime-ubuntu20.04-py3.8`
I still see the same issue with this as well

[2021-03-05 18:02] ReggieCarey opened #5667 "Is Kubeflow Open Source or Not"
/kind question

**Question:**
[You can ask any question about this project.]
The Kubeflow project touts itself as an open source effort. It advertises channels on Slack for the community to use.  However, it seems that Microsoft, Google, and other proprietary orgs, limit who can use the publicly advertised slack channels (limited to internal Microsoft and Google staff).  Further, it appears that t

[2021-03-05 18:38] DavidSpek commented on #5638
@pthalasta Sorry I haven't been able to look at it much yet. Can you please share the actual docker file you use, along with a startup script if you use that.

[2021-03-05 18:44] tomalbrecht commented on #5485
Opened an issue at microk8s https://github.com/ubuntu/microk8s/issues/2075

[2021-03-05 18:48] DavidSpek commented on #5664
@keshavpeswani You should be using the same version number for `kfp` and `kfp-server-api`. Also, is there a reason you are using such an old version? The current version is 1.4.1. Also, when trying to run a pipeline from a notebook you are probably running into https://github.com/kubeflow/pipelines/issues/4440. I believe the fix for this has been implemented and will be included in Kubeflow 1.3.

[2021-03-05 18:48] DavidSpek commented on #5665
@Ursanon Which Dockerfile are you using exactly?

[2021-03-05 18:53] DavidSpek commented on #5666
@ludans I understand the feature you are describing and I believe I have seen similar requests before. At the moment, there isn't really a notion of a "project". However, you can create a "user" which is actually a project and add users to that. Other than the naming I believe the underlying mechanism would be the same (a project has it's own namespace and that is how it is isolated from others).

[2021-03-05 18:57] Ursanon commented on #5665
@DavidSpek [This one](https://github.com/kubeflow/kubeflow/tree/master/components/tensorflow-notebook-image): `components/tensorflow-notebook-image`

[2021-03-05 19:09] DavidSpek commented on #5667
@ReggieCarey Kubeflow most definitely is open-source. You can install it on whatever Kubernetes cluster you like. I personally run it on an on-premises cluster as well. Regarding Slack, there was an issue how the invites are handled but this is being worked on. Anybody is allowd (and encouraged) to join. Regarding the internal steering groups, there is currently a Project Steering Group that consi

[2021-03-05 19:25] DavidSpek commented on #5665
@Ursanon As you might have noticed that Dockerfile has not been updated in a long time and I wouldn't recommend using it. I have been working on creating new Dockerfiles and images for Kubeflow, and while these images are not yet final (and hosted on my private Dockerhub), maybe you can try with the following Dockerfiles as an example.
https://github.com/kubeflow/kubeflow/pull/5632/files

If you r

[2021-03-05 19:48] castrojo commented on #5667
Hello Reginald! I saw your previous issue trying to join the slack and can see how you might come to this conclusion.

The slack invite domain list isn't intentional. Generally speaking Slack is designed for internal use at a company, OSS collaboration not so much so many of it's features need to be worked around for it to work for OSS projects. One of those is sending someone an invite who might

[2021-03-05 20:13] Ursanon commented on #5665
I've used tensorflow 2.2.0 jupyter notebook base image, but it gave me:

[code]
every volume mounted by kubeflow is assigned to `root` user.

[2021-03-05 20:17] DavidSpek commented on #5665
@Ursanon Can you tell me what packages you need (and if you need tensorflow GPU support)? Then I will create a Dockerfile for you tomorrow so that you can continue your work while the new images are still being reviewed.

[2021-03-05 20:28] Ursanon commented on #5665
Thank you so much for your help @DavidSpek !

I need opencv and torch (+ tensorboard with tf2) and yes, I need GPU support.

[2021-03-05 20:30] DavidSpek commented on #5665
@Ursanon Just to be clear, do you need tensorflow or PyTorch?

[2021-03-05 20:37] Ursanon commented on #5665
I need both: opencv + tf2 and opencv + pytorch

[2021-03-05 20:39] DavidSpek commented on #5665
Both in a single image, or 2 separate ones? If possible I'd go for 2 separate ones to avoid 2 versions of cuda being installed in a single image which will make the image very large.

[2021-03-05 20:42] Ursanon commented on #5665
Yeah, two separate images seems more reasonable.

[2021-03-05 22:37] summerisc commented on #5445
I am using v1.2.0 and saw the same error, any updates on the solution for this?

[2021-03-06 10:08] DavidSpek commented on #5482
@kimwnasptd It seems `access-management` is missing. Is this on purpose?

[2021-03-06 16:52] DavidSpek commented on #5665
@Ursanon I've been a bit busier than expected, so I haven't extensively tested the images but they should work. If something doesn't work, please let me know and I will fix it as the plan is to use these images for the upcoming Kubeflow release in 9 days.

[code]

[code]

The base images they use are from https://github.com/kubeflow/kubeflow/pull/5626 and https://github.com/kubeflow/kubeflow/pull/

[2021-03-07 18:30] 3dimaging opened #5669 "Jupyter notebook keep connecting and can not execute any command"
Hi All,

I installed the Kubeflow on AWS EKS based on https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/

When I started a notebook server and click connect button, the new notebook shows connecting all the time and can not run a command like print("hello") in the code cell of the notebook.
![image](https://user-images.githubusercontent.com/24443385/110250280-7dcea680-7f48-11eb-8ddd-840f55

[2021-03-07 23:14] jhkcia commented on #4986
I face the same problem like @monil536 when I try to access minikube on 10.10.10.10.
Is there exists any solution for this problem?

[2021-03-08 01:49] summerisc opened #5670 "kfctl_k8s_istio installation service “istiod” not found"
/kind bug

**What steps did you take and what happened:**
Run` kfctl apply -V -f https://raw.githubusercontent.com/kubeflow/manifests/v1.2-branch/kfdef/kfctl_k8s_istio.v1.2.0.yaml` to install kubeflow
Saw error:
`[0001] Encountered error applying application istio-stack: (kubeflow.error): Code 500 with message: Apply.Run : error when creating “/tmp/kout656342943”: Internal error occurred: failed c

[2021-03-08 10:10] keshavpeswani commented on #5664
Thanks a lot @DavidSpek . Upgrading the kfp sdk and following the issue, solved the issue for me. Thanks once again.

[2021-03-08 10:10] #5664 closed

[2021-03-08 11:37] anneum commented on #5468
Solved in https://github.com/kubeflow/katib/issues/1415

[2021-03-08 11:37] #5468 closed

[2021-03-08 13:47] kimwnasptd commented on #5575
Now that we have set up the CI/CD #5482  I can start allocating more cycles to reviewing this effort. I'll also be updating our [design doc](https://docs.google.com/document/d/14ve8inClzkhIILAIp2FodemRtoS2hqanX8jll2lmRUE/edit#) as we go along step by step. I'm not expecting us to have everything documented in that doc from the beginning, but lets use this issue to write down our process, assumptio

[2021-03-08 13:51] thesuperzapper commented on #5575
@kimwnasptd we are about to raise a new proposal (like in 30+ min) which simplifies this.

I expect we will just edit the text of this issue.

[2021-03-08 13:51] thesuperzapper commented on #5575
We will also refactor the PR's so dont review them yet.

[2021-03-08 13:52] kimwnasptd commented on #5575
Thanks for the heads up! I'll keep an eye on the issue then. Although most probably the order in which I'll look at the PRs will be as described above

[2021-03-08 14:35] Ursanon commented on #5665
@DavidSpek Thanks for your work.

Is base image open source?

Unfortunately opencv requires some libs: `ImportError: libGL.so.1: cannot open shared object file: No such file or directory`

[2021-03-08 14:43] DavidSpek commented on #5665
@Ursanon The base images are all open source and start from Ubuntu. I linked the PR's they came from, but they will be merged into the repo and official images will be out soon.

You can try building these and see if that helps.
[code]

[code]

[2021-03-08 14:56] thesuperzapper commented on #5575
@kimwnasptd can you please give us your thoughts on the updated proposal above (and specifically on the container names so we can get @PatrickXYS to create the required ECR folders)

[2021-03-08 15:40] DavidSpek commented on #5575
Maybe it is possible to have the images for the notebooks server live under `public.ecr.aws/j1r0q0g6/notebook-servers/***:tag`, similar to how kfserving has stuff under `public.ecr.aws/j1r0q0g6/kfserving/***:tag`. This would keep them a bit more organized given the amount of images that will be created.

[2021-03-08 15:50] pthalasta commented on #5638
@DavidSpek here are the details
Dockerfile for base image used: https://github.com/rapidsai/docker/blob/branch-0.19/generated-dockerfiles/rapidsai-clx_ubuntu20.04-devel.Dockerfile

Dockerfile for the image that is used in kubeflow:

[code]

Entrypoint script used:

[code]

[2021-03-08 15:54] kimwnasptd commented on #5575
Thanks for updating the proposal! First off I'm OK with creating upstream images for all the above, but with some changes on the names.

The goal of the following naming scheme is to just further align the proposal with our design doc and the [out of scope](https://docs.google.com/document/d/14ve8inClzkhIILAIp2FodemRtoS2hqanX8jll2lmRUE/edit#heading=h.47k606j3mc2v) section.
Since we don't want to b

[2021-03-08 16:05] DavidSpek commented on #5575
@kimwnasptd I'd like to suggest expanding the "official" images to the ones that don't include a `*` at the moment. Esentially, these are the base images for Jupyter, RStudio and VSCode, along with PyTorch and TensorFlow both with and without CUDA. I think this is necessary purely because TensorFlow with CUDA requires some some more steps to get working, and providing only TensorFlow CUDA without

[2021-03-08 17:07] PatrickXYS commented on #5575
To help unblock us, let's start from minimal, I can't see there's any blockers in getting started from minimal changes.

Haste makes waste, let's start with `example-notebook-server-jupyter-tensorflow`, but keep the code with enough extensibility. Later on, we can move forward with other IDEs and DL framework.

[2021-03-08 17:32] DavidSpek commented on #5575
@PatrickXYS That notebook would still require the `notebook-server-jupyter` and `notebook-server-base` images. I'm not sure if you've looked at the Dockerfiles, but (other than TensorFlow with CUDA), this is what that Dockerfile looks like:
[code]
Contents of `requirements-cpu.txt`:
`tensorflow==2.4.1`

This is what almost all of the Jupyter Dockerfiles look like as well. There really is not much

[2021-03-08 17:42] summerisc commented on #5075
Same here trying to install kubeflow v1.2.0 in on-prem k8s. Any solutions/causes to this?

[2021-03-08 18:27] DavidSpek commented on #5575
@kimwnasptd I think you'd probably like to review https://github.com/kubeflow/kubeflow/pull/5646 given that you have done so much work on the JWA.

[2021-03-08 22:48] DavidSpek commented on #5575
@kimwnasptd I've thought about it a bit, and naming the images `example-*` and `contrib-*` makes absolutely no sense.
First off, these are the images from the WG-Notebooks, not as contributions, so naming them as such makes no sense.
Secondly, the distinction between `example-*` and `contrib-*` also makes no sense, as it was agreed upon that users would be informed that the Dockerfiles and the res

[2021-03-08 23:13] thesuperzapper commented on #5575
@kimwnasptd two points:
1. Please treat this proposal as a __replacement__ to the previous [design doc](https://docs.google.com/document/d/14ve8inClzkhIILAIp2FodemRtoS2hqanX8jll2lmRUE/edit#heading=h.47k606j3mc2v)
2. I __strongly believe__ we should keep the names of the images as we have listed in the table
    * NOTE: we can create a README.md in the folder containing the images which makes it cl

[2021-03-08 23:16] thesuperzapper commented on #5575
@PatrickXYS

I expect all "kubeflow-notebooks" images to live under: `public.ecr.aws/j1r0q0g6/notebooks/{NAME}:{TAG}`

I propose you __create the following ECR locations__ for us (as outlined above):

## Notebook Controller:
* `public.ecr.aws/j1r0q0g6/notebooks/notebook-controller`

## Notebook Server:
__Base:__
* `public.ecr.aws/j1r0q0g6/notebooks/notebook-server-base`

__RStudio:__
* `public.ecr

[2021-03-08 23:28] thesuperzapper commented on #5575
@kimwnasptd in the interest of getting these changes in for 1.3 (as I have already seen buzz about support for VSCode online)

Please know I will take responsibility for maintaining these images, so dont worry about extra work.

[2021-03-08 23:57] thesuperzapper commented on #5575
@PatrickXYS continuing from my previous comment.

__I propose we move all the ECR images for the "notebooks" Working Group under:__
`public.ecr.aws/j1r0q0g6/notebooks/{IMAGE_NAME}:{TAG}`

__This would be the same as kubeflow-serving, which uses:__
`public.ecr.aws/j1r0q0g6/kfserving/{IMAGE_NAME}:{TAG}`

__Right now we are at the root (which will be quite messy going forwards):__
`public.ecr.aws/j1r

[2021-03-09 11:05] DavidSpek commented on #5669
@3dimaging What notebook server image are you using that is causing this problem?

[2021-03-09 13:12] 3dimaging commented on #5669
@DavidSpek
Thank you for your reply! I am using aws's default notebook image with tensorflow 1.15.
Sometimes I can connect to the notebook server, sometimes I can not. this issue is not consistent. When I connect to the notebook server and run command in notebook, I can execute the regular command.
However, When I tried to create experiment using python kfp package, I was not authorized.
here is t

[2021-03-09 13:16] DavidSpek commented on #5669
What you are experiencing with KFP is a separate issue that should be solved in the upcoming release (release candidate is March 15th).
Regarding the kernel not connecting, are you using the image `gcr.io/kubeflow-images-public/tensorflow-1.15.2-notebook-cpu:1.0.0` by any chance? I'm not sure if what is provided by AWS by default. I am actually in the process of creating a new stack of notebook im

[2021-03-09 13:28] 3dimaging commented on #5669
@DavidSpek
by the way, I also tried the image, gcr.io/kubeflow-images-public/tensorflow-1.15.2-notebook-cpu:1.0.0
I have the same connecting issue.

[2021-03-09 13:34] DavidSpek commented on #5669
@3dimaging Could you maybe quickly see if `davidspek/kubeflow-ubuntu-tensorflow-full:0.3` also has this issue? That is one of the new images I am working on for Kubeflow. I've experienced this before myself as well, but it has been difficult to replicate reliably. So it would be great to see if you also experience the issue with the new image.

[2021-03-09 13:48] 3dimaging commented on #5669
@DavidSpek
Great! Thank you! I will try davidspek/kubeflow-ubuntu-tensorflow-full:0.3

[2021-03-09 14:30] thesuperzapper opened #5675 "Provision Public ECR Images"
We need the following images to be provisioned in the Public ECR Repo, to unblock the Kubeflow 1.3 release.

## Core Components

These images have __already been__ provisioned, but need to be __renamed/moved__:
(because the are currently at the root of `public.ecr.aws/j1r0q0g6`)

Component | Image Name - OLD | Image Name - NEW
-- | -- | --
admission-webhook | `public.ecr.aws/j1r0q0g6/admission-web

[2021-03-09 14:31] thesuperzapper commented on #5675
@PatrickXYS I know its tedious but can you provision these for us?

I will owe you, lol.

/assign @PatrickXYS

[2021-03-09 14:35] thesuperzapper commented on #5575
I created issue https://github.com/kubeflow/kubeflow/issues/5675 to track the provisioning of ECR images needed to unblock this (with some slight renaming).

[2021-03-09 16:21] PatrickXYS commented on #5675
I would encourage WG-notebooks come to concensus, WG-notebooks need to work as a whole group to solve this type of questions / issues.

Totally understand this might be a blocker for incoming 1.3, but community will not and should not rely on one specific folk to take care of artifacts management.

/cc @kubeflow/wg-notebooks-leads

[2021-03-09 16:41] arunnalpet opened #5676 "Attaching ROX volume to a notebook"
Hi,
      Using the KubeFlow Notebook UI, while Im spinning up a new notebook server, I am attaching a 'data volume'. This is an existing PVC with 'ROX' privileges. I have training data in it and I want to present it as read-only. While this notebook was being spun up, I see the 'fsgroup-init' is trying to change the group ids for the folder/files in 'ROX' volume. Its failing with below error, to

[2021-03-09 20:47] jbottum commented on #5676
/priority p2
/area jupyter

[2021-03-09 20:51] jbottum commented on #5670
/area kfctl
/area istio
/priority p2

[2021-03-09 20:53] jbottum commented on #5669
/kind question
/priority p2
/area jupyter

[2021-03-09 20:53] jbottum commented on #5669
/platform aws

[2021-03-09 20:55] romanzdk opened #5677 "1.2.0_k8s_istio | error applying application istio-stack"
/kind bug

I am trying to install kubeflow 1.2.0 on Azure AKS.
Used command:
```kfctl apply -V -f https://raw.githubusercontent.com/kubeflow/manifests/v1.2-branch/kfdef/kfctl_k8s_istio.v1.2.0.yaml```

Problem:
```WARN[0062] Encountered error applying application istio-stack:  (kubeflow.error): Code 500 with message: Apply.Run : error when creating "/tmp/kout866647084": Internal error occurred: fai

[2021-03-09 21:08] jbottum commented on #5667
@ReggieCarey Welcome and thanks for your question! Kubeflow is open source.  You can contribute to it.   One of the best ways is to join a Working Group Meeting.    Kubeflow's release process has matured.   In 1.3, we have asked the Working Groups to complete their code contributions, and then the distribution/platform groups (AWS, GCP, Azure, IBM, MiniKF/Arrikto) will test and document it for the

[2021-03-09 21:09] jbottum commented on #5667
/priority p2
/area community

[2021-03-09 21:19] jbottum commented on #5666
@ludans Per David's suggestion, you might consider using namespaces as a way to separate projects i.e. each project could have its own namespace and each namespace can have 1 or more users.    Additionally, some parts of your question appear to highlight the need for advanced data management with auth and isolation.    That appears to be something for data management solutions that are integrated

[2021-03-09 21:34] jbottum commented on #5665
/kind feature
/area jupyter
/priority p2

[2021-03-09 21:40] jbottum commented on #5665
@Ursanon Hi, thanks for your request.    I hope that you can support your requirements via Community support options.   If you get into a time crunch or need enterprise level support, you might consider asking your platform team (AWS, GCP, Azure) or a vendor that provides support (Arrikto, etc).

[2021-03-09 21:44] jbottum commented on #5662
/platform aws
/priority p2
/area istio

[2021-03-09 21:54] jbottum commented on #5662
@nathanwong91 Hi Nathan, sorry to hear of this issue.   If you are having trouble resolving, you might ask the AWS Kubeflow team for help.   Alternatively, Kubeflow 1.3 will refactor Kubeflow installation, and it will upgrade Istio versions (even to Istio 1.9).   The Release Candidate for 1.3 should be available March 15, and then testing on the platforms will begin.    You can find the Kubeflow r

[2021-03-09 21:57] jbottum commented on #5659
/priority p2
/platform aws
/area kfctl

[2021-03-09 21:59] jbottum commented on #5659
@Luke035 Hi Luca, did you get this resolved ?  Did you ask the AWS team for Kubeflow support?

[2021-03-09 22:19] jbottum commented on #5656
@amitchatbd you might scan some of the materials created by the Kubeflow team, https://journal.arrikto.com/kubeflow-authentication-with-istio-dex-5eafdfac4782, and this presentation: https://www.youtube.com/watch?v=U8yWOKOhzes

[2021-03-09 22:26] jbottum commented on #5652
@raffaelespazzoli you might consider joining some of the manifest working group calls, as they are cleaning up the manifests, which should help simplify installation (with kustomize), please find the WG group notes here: https://docs.google.com/document/d/1d-QByp_QRMkxRaQER53mYfeRW0-KyhDBPdmeMEzkL0g/edit

[2021-03-09 22:27] jbottum commented on #5652
/priority p2
/area kfctl
/area installation

[2021-03-09 22:29] Ursanon commented on #5665
@DavidSpek Thanks for base images.
I've modified them to fit my needs.

[2021-03-09 22:31] jbottum commented on #5648
/platform on-prem
/priority p2
/area installation

[2021-03-09 22:32] DavidSpek commented on #5665
@Ursanon Do they work as expected? Are there any other issues you are experiencing? In the next few days the Kubeflow images should be up so you can then migrate to those rather than using the ones from my personal dockerhub.

[2021-03-09 22:35] jbottum commented on #5648
@kd303 Hi, sorry to hear of your issue.  You might consider joining the on-prem working group and/or finding commercial support from a vendor.     Here is the info to the on-prem working group: https://arrik.to/kf-wg-notebooks-notes.    I suspect the installation pattern will improve in Kubeflow 1.3 (especially with the refactoring of the manifests).    please find the 1.3 roadmap here: https://gi

[2021-03-09 22:35] Ursanon commented on #5665
So far so good, have some more tests to process. I'll keep you posted.

[2021-03-09 22:46] jbottum commented on #5647
/priority p2
/area installation

[2021-03-09 22:57] jbottum commented on #5643
@raffaelespazzoli thanks for your question.   You might asked at the Notebook's working group meeting: https://docs.google.com/document/d/1YtSWRhdhyOgd6ZQcWLM38TGDy2H_EhXjr8U5lUi37_I/edit and/or watch the Kubeflow notebook roadmap ideas in this video i.e. ability to modify the yaml: https://www.youtube.com/watch?v=R111KuJUXyI

[2021-03-09 23:20] thesuperzapper commented on #5675
@kimwnasptd can you please confirm you are ok with @PatrickXYS provisioning these images, we only have 5 days before March 15th (Kubeflow 1.3).

Regarding notebook-servers, I am more than happy to take responsibility for them if it means we meet the 1.3 deadline.

Regarding the renames, I think its better if we make the change now (and not when people are using them).

[2021-03-09 23:23] jbottum commented on #5621
/priority p2
/area seldon
/kind question

[2021-03-09 23:24] jbottum commented on #5621
@vladislavkoz did you check with the Seldon folks like Clive Cox on this request?

[2021-03-09 23:27] jbottum commented on #5635
/kind question
/priority p2
/area jupyter

[2021-03-10 00:22] jbottum commented on #5616
@vishal-wiai Thanks for your inquiry.   We would be glad to help with a Kubeflow Data Management Solution for your AWS cluster(s).  We need to complete a pre-installation checklist and discuss your objectives and use cases.   Beyond simplifying your ML workflows, the Solution also provides high storage performance (and lower storage costs).    Please drop me a line josh.bottum@arrikto.com to set-u

[2021-03-10 06:10] arunnalpet commented on #5676
Hi @DavidSpek, I have tried this with gcr.io/kubeflow-images-public/tensorflow-1.13.1-notebook-cpu:v0.5.0 image.. but this happens with any notebook image..

[2021-03-10 06:44] ludans commented on #5666
Thanks @DavidSpek and @jbottum for your suggestions. We will try that.

[2021-03-10 07:40] vladislavkoz commented on #5621
Hi @jbottum. I was asking about it in Seldon Slack channel. One assumption was that you are keeping them [here](https://github.com/kubeflow/manifests). I've tried to find it but no success as you can see.

[2021-03-10 08:47] StefanoFioravanzo commented on #5575
@DavidSpek  I'll try my best to answer this question and hopefully clear any confusion.

Our intention with the design doc was to set actionable goals and reasonable first expectations. For this reason, our priority is to only have these images act as examples of how to configure and run notebook servers on Kubeflow.

Kubeflow's mission is to allow people to run generic ML tools on top of Kubernet

[2021-03-10 08:59] DavidSpek commented on #5575
@StefanoFioravanzo As I noted above `SDKs and integrations from inside the Notebooks (e.g. Git inside Notebooks)` are part of what the working group is supposed to provide. Also, this entire idea of splitting the images by `example` and `contrib` is all fine and nice, this was not ever actually specified in the design doc, nor discussed or agreed upon in the working group meetings. Furthermore, th

[2021-03-10 09:00] onetonfoot commented on #3112
I'd also be interested in helping out on this

[2021-03-10 09:18] thesuperzapper commented on #5575
@StefanoFioravanzo @kimwnasptd

As @DavidSpek stated, we are more than happy to maintains these images, so there will be no extra work from your behalf.

The "contrib" idea, that makes very little sense, as these images are literally not contrib, they are examples
(NOTE: We will make it clear in the README.md of the `components/notebook-servers` folder that they are examples)

Given the above, I d

[2021-03-10 09:57] elikatsis commented on #5575
I'll add my thoughts as well, since this is a very fundamental matter.

@DavidSpek  I understand you point of view, but I think this sentence is making some wrong assumptions. Notebooks WG does not aim to establish a generic central repository and maintenance for a wide variety of images. As @StefanoFioravanzo mentioned above, our main focus should be to provide example images that focus on settin

[2021-03-10 10:02] kimwnasptd commented on #5575
It’s not a matter of responsibility, but a matter of process and consensus. It's a matter of documenting what we want to do and what the user expectations should be. And this is why we have the design document.

The example notebook images, which is also the title of the design doc, are the ones that are meant to be used as examples on how people can configure/run the different servers. Not ones t

[2021-03-10 10:05] DavidSpek commented on #5575
@kimwnasptd

You committed to providing these images in the WG-Notebooks charter, which your design doc is undermining. The design doc that you agreed on outside of the working group is therefore not valid and should not be taken into consideration in this discussion.

[2021-03-10 10:11] thesuperzapper commented on #5575
@kimwnasptd @elikatsis that design doc was not accepted (in fact we have no current method for accepting any proposal)

@kimwnasptd can you please explain what you are trying to achieve by blocking this Proposal and is associated PRs?

[2021-03-10 10:56] thesuperzapper commented on #5575
@kimwnasptd I will begin reviewing the non-image PRs (as they are not controversial), and are needed to meet the agreed target of RStudio/VSCode support for 1.3:
1. Add annotations to notebook-controller (`notebooks.kubeflow.org/http-rewrite-uri`, `notebooks.kubeflow.org/http-headers-request-set`)
    * PR https://github.com/kubeflow/kubeflow/pull/5660
2. Update the jupyter WebUI to support settin

[2021-03-10 11:32] kimwnasptd commented on #5575
Three of the WG's tech leads, @stefano, @elikatsis and I, have authored this document and we've been iterating on it over the last month. Although I understand the argument that we don't have yet established processes on accepting proposals. This is something I was planning to tackle after 1.3 by having our design docs in github, but this is a different discussion on its own.

Nothing. I want us t

[2021-03-10 16:48] PatrickXYS commented on #5575
From community side, there are a few points I can help add:

1. Closer release date is not a valid reason we have to agree upon a proposal / design doc in a rush, if we failed to achieve what WG said w.r.t 1.3 release, then we fail and has to let it fail in some degree, we can continue our work by doing minor release like 1.3.1.
2. I agree we should establish the standardization and move forward w

[2021-03-10 22:39] thesuperzapper commented on #5575
@PatrickXYS

Re 1: in general I agree, but I strongly believe we can make this work (as there is very little actual work left, and the only thing we disagree on is the names of images)

Re 2: in the Notebook WG, 4 of 5 members are from the same company (not sure if other WGs have the same issue)

[2021-03-10 22:44] romanzdk commented on #5097
still an issue

[2021-03-11 00:01] pthalasta commented on #5638
@DavidSpek any update on this issue?

[2021-03-11 00:17] PatrickXYS commented on #5575
I think the common goal of us is to help WG notebook get to a better state.
All the comments around image naming itself, it's not an issue of "As long as we have one more folk agree upon the proposal", it's the issue of "As a whole group, we can't get a consensus in standardized way".

Again, we all want to help notebook WG comes to a unified artifacts management/naming proposal, to get to that st

[2021-03-11 01:27] DavidSpek commented on #5575
@PatrickXYS While I appreciate you trying to help get this solved, that design doc is not the way this will get solved. The moment this design doc was presented by @kimwnasptd I took the time to go through it thoroughly and I highlighted all the sections that were contradicting each other or that didn't make sense. Then, after a period of no response, it was brought up in one of the meetings and a

[2021-03-11 01:37] DavidSpek commented on #5638
@pthalasta I'm very sorry that I haven't gotten around to this yet. All my time and effort is going into an unproductive back and forth with the @kubeflow/wg-notebooks-leads about the work I have done that would help solve this very issue. However, I will build the image you are using and try to replicate the problem you are facing tomorrow.

[2021-03-11 08:03] denkensk commented on #5349
@Jeffwan  @DavidSpek
What's the progress of making 1.18 compatible in v1.1 or v1.2 ？

[2021-03-11 08:08] DavidSpek commented on #5349
@denkensk To my knowledge nothing in 1.2 is incompatible with k8s 1.18. Also, release 1.3 is very near so if there were problems these would hopefully be solved.

[2021-03-11 08:20] denkensk commented on #5349
@DavidSpek  Thanks for your quick reply.
If nothing in Kubeflow 1.2 is incompatible with k8s 1.18 or 1.19，Can we update the doc to set it compatible in 1.18 or 1.19 in https://github.com/kubeflow/website/blob/master/content/en/docs/started/k8s/overview.md ?

[2021-03-11 09:03] Tomer23 commented on #5336
I encountered this issue as well with GitLab CI. I referenced the kfctl...yml file in a subdirectory. I moved it to the same folder where I execute and everything worked perfectly.

[2021-03-11 10:08] denkensk commented on #5349
/cc @jlewi
Is there a process to validate Kubeflow for a given version like 1.18 and 1.19?
It may be helpful for us to check if we can set k8s 1.18 and 1.19 compatible in Kubeflow v1.2.

[2021-03-11 12:41] Ursanon commented on #5665
@DavidSpek I encountered an error while finetuning instance segmentation demo from pytorch tutorial.

Error:
[code]

`nvidia-smi` output:
[code]

[2021-03-11 19:03] DavidSpek commented on #5638
@pthalasta Again I am sorry to have to say this, but my day has gotten so busy again that I haven't been able to look at it yet. However, I will get to this tomorrow or Saturday.

[2021-03-11 19:05] pthalasta commented on #5638
@DavidSpek sure, no worries! Thanks for the update.

[2021-03-11 19:06] DavidSpek commented on #5665
@Ursanon Thank you for reporting the issue. Just so I am clear on the actual problem, was this a specific step that encountered an error but were you able to perform other tasks (for example training) successfully on the GPU using the image? Or were you not able to perform any tasks on the GPU with your image?

[2021-03-11 19:12] Jeffwan commented on #5349
@denkensk

It depends, since different provider/platform have their own addons. It's hard to give a general answer now.  This definitely needs to be reformed.

[2021-03-11 19:22] DavidSpek commented on #5349
@Jeffwan I think what could be implemented is have each Working Group give lower and upper limits of Kubernetes compatibility for the components they manage. To ensure the Working Groups stay active in supporting new versions of Kubernetes they would also need to provide reason why they currently can't support the latest version and how these will be solved. This will also give users a clear view

[2021-03-11 20:02] Jeffwan commented on #5349
totally agree.  Besides extra addons platform own,  wg-manifest may like to expose some details as well, @kubeflow/wg-manifests-leads  owns core kubeflow components.

[2021-03-12 00:44] thesuperzapper commented on #5675
@PatrickXYS in the last Notebook WG meeting, all the @kubeflow/wg-notebooks-leads agreed that the changes (as stated above) should go forwards.

Can you start provisioning them as soon as you can?

Other @kubeflow/wg-notebooks-leads please feel free to comment/like this post to confirm.

[2021-03-12 03:02] jbottum commented on #5677
/area kfctl
/priority p2
/platform azure

[2021-03-12 03:03] jbottum commented on #5677
@romanzdk Hey Roman, did you get this resolved?

[2021-03-12 03:04] jbottum commented on #5651
/kind question
/priority p2

[2021-03-12 03:06] jbottum commented on #5659
@PatrickXYS any suggestions?

[2021-03-12 03:09] jbottum commented on #5615
/kind question
/priority p2

[2021-03-12 03:13] jbottum commented on #5649
/kind question
/priority p2
/area manifests

[2021-03-12 03:25] jbottum commented on #5616
/priority p1

[2021-03-12 03:28] jbottum commented on #5645
/priority p2
/area pipelines

@bvboca did you get this resolved, what environment are you running in i.e. AWS, GCP ?

[2021-03-12 03:29] jbottum commented on #5614
/area istio
/priority p2
/kind question

[2021-03-12 03:32] jbottum commented on #5604
/area jupyter
/priority p2
/kind feature

[2021-03-12 03:34] jbottum commented on #5579
/kind question
/priority p2
/area installation
/platform azure

[2021-03-12 03:35] jbottum commented on #5579
@bgossey did you get this resolved?

[2021-03-12 03:37] jbottum commented on #5563
@AahanSingh did you get this resolved?

[2021-03-12 03:40] jbottum commented on #5548
/kind question
/priority p2
/area tensorflow

@jaggaer-mtrninic did you get this resolved?

[2021-03-12 04:03] jbottum commented on #5534
/priority p2
/area jupyter

@vanaraj-az did you get this resolved?

[2021-03-12 04:45] zijianjoy commented on #5397
Thank you so much for upgrading istio for profile controller! When should we expect a new image with this fix? Location: `gcr.io/kubeflow-images-public/profile-controller`

[2021-03-12 04:55] bvboca commented on #5645
no, I guess the best solution would be a detailed doc about how to install kubeflow on existed istio/knative server.

[2021-03-12 06:59] arunnalpet commented on #5676
May be we should check the PVC attributes, and accordingly, we should be skipping setting 'DefaultFSGroup' for ROX volumes?

[2021-03-12 06:59] arunnalpet commented on #5676
/kind bug

[2021-03-12 07:59] romanzdk commented on #5677
No, I have not

[2021-03-12 08:52] jaggaer-mtrninic commented on #5548
@jbottum
I have moved away from TFX, it proved to be too complicated to run on k8s on AWS.

[2021-03-12 10:00] kimwnasptd commented on #5675
@PatrickXYS you can move forward with creating the mentioned images. Apologies for the inconvenience of having to recreate a lot of them due to new the `/notebooks/` prefix.

@thesuperzapper  @DavidSpek  for the list of Notebook images, is the one above the final one? I remember discussing that we might exclude a small part of them, like the pyspark one, but I'm not sure of the final state here. C

[2021-03-12 10:05] DavidSpek commented on #5675
@kimwnasptd Indeed we will need to look at the pyspark one as I think Mathew will need to test it a bit. However, having the registry already created can't do much harm I think and allows us to easily add it a bit later without needing to bother @PatrickXYS again to create yet another registry.

Regarding the naming of the `volumes-web-app` I completely agree, it should be inline with the other ap

[2021-03-12 10:45] kimwnasptd commented on #5575
Summing up our plan around the Notebook images and the next steps to wrap up the remaining work around 1.3, based on our latest discussions.

We will move forward with the above images and names. At the same time we will need to update the docs to note that these images only aim to show people how to configure and run the Notebook servers. For the more technical stuff, like folder names and README

[2021-03-12 10:49] alvercau opened #5688 "don't start run if obligatory parameters are not passed"
/kind feature

**Why you need this feature:**
Currently it is possible to start a run even if some parameters that are obligatory in a step, are missing. It would be easier to have the option to make some parameters obligatory to begin with (just like pipeline, pipeline version, run name, experiment), making it impossible to start a run if these obligatory parameters are not passed. This would avo

[2021-03-12 10:53] DavidSpek commented on #5575
@kimwnasptd The order above is correct, there are still a few TBD, but those will not take long to make so I will do that once the open ones are merged.
For point 3 (also regarding the READMEs) I'll also get started on a PR.
For point 5, I have started including the CI/CD in the PRs for the notebook images. This way, once it is merged the image is instantly built and the resulting image artifact c

[2021-03-12 12:28] StefanoFioravanzo commented on #5575
Thanks @kimwnasptd for the summary! I'll help drafting and reviewing the docs part as well, @DavidSpek looking forwards to the PR. If you need more assistance in the reviews and other blocking issues, don't hesitate to ping me

[2021-03-12 14:58] DavidSpek commented on #5688
@alvercau Am I correct in understanding that this is a feature for Kubeflow Pipelines? If so, the correct place to make a feature request is https://github.com/kubeflow/pipelines/issues.

/area pipelines

[2021-03-12 15:14] PatrickGhosn commented on #5645
This looks like the page is not able to load JS, CSS, etc properly. Check your network tab, see if you are getting timeouts or unauthorized errors in the requests.

[2021-03-12 15:19] PatrickGhosn commented on #5662
What pipeline version will 1.3 be using @jbottum? It doesn't mention it in the roadmap.

[2021-03-12 15:57] PatrickXYS commented on #5675
++++++

^^^ ALL DONE

[2021-03-12 16:02] DavidSpek commented on #5675
@PatrickXYS Amazing, thank you so much for all the effort!

[2021-03-12 21:22] DavidSpek commented on #5575
@kimwnasptd @StefanoFioravanzo Regarding point 6, I am almost finished pushing initial images of the existing PRs to ECR to test the CI/CD for the images. Once those are done I'll add them to the `spawner_ui_config.yaml` in https://github.com/kubeflow/kubeflow/pull/5646 so that the images on my personal dockerhub can be removed from that PR.

[2021-03-12 22:33] roy-tonal commented on #5417
@trmbdevops I faced the same problem and did the changes manually on the istio-ingress annotation. It did work but the problem is I'm not able to logout and the page keeps on refreshing. Are you facing the same problem? If you have solved this, can you guide how to do it. Thanks

[2021-03-14 02:53] #5645 closed

[2021-03-14 02:53] bvboca commented on #5645
ok hopefully there will be some docs in the future.

[2021-03-14 09:03] jidemoski commented on #5562
@DavidSpek
\help
Can we upgrade kubeflow from v1.2.0 to v1.3.0 now?

[2021-03-14 09:10] jidemoski commented on #5562
/reopen

[2021-03-14 17:14] ayush7007 opened #5695 "Metadata GRPC service not able to communicate with other services in IPv6 kubernetes cluster as it is binded using IPv4 0.0.0.0 instead of IPv6 [::]"
/kind bug

Metadata Grpc  is binded on 0.0.0.0:500 in IPv6 kubernetes cluster due to which metadata writer is not able to communicate with it. Instead it should be using [::]:5000 to bind.

![image](https://user-images.githubusercontent.com/25534418/111077286-0b486280-8516-11eb-8380-a14afeedd4bb.png)

Due to this Metadata writer is not able to communicate -
![image](https://user-images.githubuserc

[2021-03-14 17:29] ayush7007 opened #5696 "Argo UI in not ready state as it is using IPv4 IP to bind in IPv6 Kubernetes cluster"
/kind bug

Argo UI is binded on 0.0.0.0:8001 in IPv6 kubernetes cluster instead of [::]:8001 due to which any connections to UI are getting refused and UI is in not ready state.
![image](https://user-images.githubusercontent.com/25534418/111077680-f40a7480-8517-11eb-89b1-6a82d0316bee.png)

![image](https://user-images.githubusercontent.com/25534418/111077714-1f8d5f00-8518-11eb-9b48-7abeb6b519e5.pn

[2021-03-15 08:06] Ursanon commented on #5665
@DavidSpek sorry for late answer, I wasn't able to train my model using GPU.

[2021-03-15 09:55] DavidSpek commented on #5665
@Ursanon No problem, I have have also been very busy. Maybe you can try to swap out the base image for the one listed in https://github.com/kubeflow/kubeflow/pull/5626. I just tested the CUDA one from https://github.com/kubeflow/kubeflow/pull/5631 (which uses the previous one as a base) and I can train on my RTX 3090 just fine.
[code]

[2021-03-15 10:06] DavidSpek commented on #5562
@jidemoski The release has been delayed a week. The release candidate is now scheduled for March 23rd.
/close

[2021-03-15 10:06] #5562 closed

[2021-03-15 10:55] DavidSpek commented on #5638
@pthalasta First thing, the `CMD` from your Dockerfile above contains an error. It should be:
[code]

I built the container and am running the Notebook you linked in the first post without a problem on Kubeflow 1.2 using Kubernetes 1.20.
[code]

To narrow down what is causes the problem I think it might be best to build your own container with the tools you need, this way you know everything that

[2021-03-15 11:06] CBrucePerkins opened #5698 "How to configure jupyter notebook affinity rules on deployed kubeflow cluster"
/kind question

Hello,

I'm still familiarizing myself with Kubeflow. I'm currently trying to configure the affinity settings for the jupyter notebook pods in the ``spawner_ui_config.yaml`` as described in #5237. I'm a little confused as to how I'm supposed to do this practically speaking. Would I take the config yaml with my new configurations and run ``kfctl build``/``kfctl apply`` on it?

[2021-03-15 14:36] pthalasta commented on #5638
@DavidSpek Thanks for the update! I fixed the error in cmd that you mentioned. However, the when i try to execute the notebook as per https://github.com/huggingface/notebooks/blob/master/examples/text_classification.ipynb , it gets stuck when `Trainer.train()` is invoked.

The docker image that i have built is able to see the GPUs without any issue

[2021-03-15 14:46] DavidSpek commented on #5638
@pthalasta Are you able to load a dataset into the GPU memory? It will take a bit of debugging work to figure out what is happening here.

[2021-03-15 14:48] pthalasta commented on #5638
@DavidSpek yes, i can load the dataset into GPU memory.

[2021-03-15 14:55] DavidSpek commented on #5638
Are you able to train other models on the GPU? Can you get more debug outputs (In JupyterLab, under `View` there is an option `Show Log Conolse`, set Log lLevel to Debug and run the code)? Where did you deploy Kubeflow? What version of Kubernetes?

[2021-03-15 18:11] pthalasta commented on #5638
@DavidSpek thanks for suggestion! I went ahead and tried to see the logs while executing the code for model training. I do not see any errors being logged. Also, i did a quick check that i can train other models and used this training script provided by tensorflow as an example https://www.tensorflow.org/tutorials/quickstart/advanced and it works fine and i can see the variation in GPU utilization

[2021-03-15 18:17] DavidSpek commented on #5638
@pthalasta I might be mistaken, but I thought `rapidsai` was using PyTorch and not TensorFlow. If that is the case, can you confirm PyTorch works with your GPU in that image?

The build version you are seeing is likely the dashboard version, the kubeflow version would be 1.1 or 1.2 most likely. Are you running this in GKE, EKS, AKS, OpenShift, or something else?

[2021-03-15 18:27] pthalasta commented on #5638
@DavidSpek apologies as i misunderstood the question. Yes, pytorch can use GPUs in the image created without any issues and i tried it using the code provided here (sample code taken from https://pytorch.org/tutorials/beginner/pytorch_with_examples.html)

[code]

Regarding the version, kubeflow is 1.2 and its running on one of on-prem node with NVIDIA GPU(Tesla V100).

[2021-03-15 18:43] DavidSpek commented on #5638
@pthalasta Thanks for the information. Would you be able to try `public.ecr.aws/j1r0q0g6/notebooks/notebook-servers/jupyter-pytorch-cuda-full:master-28af7716`? You will need to manually install `datasets` and `transformers` using the first cell (remove the `#` and the `,`), then restart the kernel and see if it runs. If it doesn't, can you try your code above or the code below to test if that work

[2021-03-15 19:25] pthalasta commented on #5638
@DavidSpek i executed the code provided above by you and it works fine without any issues on the image that you mentioned. Once i confirmed that was working fine, i went ahead and tried executing the notebook as per https://github.com/huggingface/notebooks/blob/master/examples/text_classification.ipynb and it gets stuck on `trainer.train()` even on the image `public.ecr.aws/j1r0q0g6/notebooks/note

[2021-03-15 19:48] pthalasta commented on #5638
@DavidSpek i'm not the administrator, @jolorunyomi can provide more information on this.

Yes, i created the issue with package repo thinking it might be an issue there. But, i was able to execute the notebook without any issue on the docker container and hence created this issue.

[2021-03-15 19:53] DavidSpek commented on #5638
@pthalasta Given that I am able to execute the notebook without any issue with the same docker container in Kubernetes and within Kubeflow I don't think it is a Kubeflow issue. As I can't replicate the problem I also fear there is not much that I can do to help other than think of what might be causing the problem on that node specifically.

[2021-03-15 19:57] DavidSpek commented on #5665
@Ursanon Looking at the error you posted it seems like you might be trying to run the code on the wrong device.
https://stackoverflow.com/questions/22175825/cuda-invalid-device-ordinal
https://www.programmersought.com/article/71025630639/

[2021-03-15 20:00] DavidSpek commented on #5665
/remove-kind feature

[2021-03-15 20:03] DavidSpek commented on #5665
/remove-priority p2

[2021-03-15 20:05] DavidSpek commented on #5665
/label community-support-wanted

[2021-03-15 20:08] Ursanon commented on #5665
I have single gpu and moved everything to `device = torch.device('cuda')`.
Operations on tensors were ok, just training on torchvision's sample threw this error.

Will investigate this issue further.

[2021-03-15 20:12] DavidSpek commented on #5665
@Ursanon Maybe you can try the following code that runs a MNIST example on the GPU:

[code]

[2021-03-16 09:02] #5517 closed

[2021-03-16 12:10] yostao commented on #5447
Thx, it really works!!!

[2021-03-16 13:03] vaskozl opened #5701 "TFX Large serialized components failing due to annotation size limit"
/kind bug

I'm using a TFX ExampleGen component with many splits which are SQL queries. I'm passing 100 splits to an SQL ExampleGen, those 100 splits get serialized. TFX uses a `--serialized_component` flag to which it passes a JSON serialized component including my 100 queries.

As a result my pipeline fails with:
Too long: must have at most 262144 bytes

As kubernetes limits the annotation value

[2021-03-16 15:21] benjaminwinokur opened #5703 "Kubeflow is not compatible with Kubernetes 1.18 due to Istio version 1.4.10"
/kind bug

**What steps did you take and what happened:**

Running a kubeflow deployment with kuberentes on v1.18 fails due to anthos istio v1.4.10 being used.

Logs from the istio pilot:

2021-03-16T01:42:11.707617Z	error	failed to approve CSR (csr-cae-ku-istio-sy-dns.isti-l9x7k4cmqg8xc957dr): certificatesigningrequests.certificates.k8s.io "csr-cae-ku-istio-sy-dns.isti-l9x7k4cmqg8xc957dr" is forb

[2021-03-16 15:49] trmbdevops commented on #5417
@roy-tonal We do have the same logout issue.  We have not found a way to resolve it yet.

[2021-03-16 17:10] avg00r opened #5704 "Logout from Kubeflow application with Auth0 causing infinite loop"
/kind bug

**What steps did you take and what happened:**
Setup authentication to Kubeflow with Auth0 following [Authentication using OIDC](https://www.kubeflow.org/docs/aws/authentication-oidc/) steps.
With the difference, I use google account instead of github as a IdP on the Auth0 side.
This is the file which we are using to deploy kubeflow `kfctl_aws_cognito.v1.2.0.yaml`
I am able to login wit

[2021-03-16 17:51] DavidSpek commented on #5703
/cc @Bobgy

[2021-03-16 17:57] DavidSpek commented on #5704
/platform aws

[2021-03-16 21:36] ykeuter commented on #5129
The issue seems to be the region `eu-north-1`. Using a different regions solves it. See [https://stackoverflow.com/a/65897514](https://stackoverflow.com/a/65897514).

[2021-03-16 21:36] #5129 closed

[2021-03-16 21:51] pthalasta commented on #5638
@DavidSpek thanks for the information! I found out from the administrator that we are running kubeflow version `1.02`. Can that be a reason for the issue i'm having?

[2021-03-16 22:00] DavidSpek commented on #5638
@pthalasta I highly doubt it. I think it is more likely related to the hardware, drivers, OS or container runtime and the transformers package. Kubeflow doesn't do anything with the notebook containers that you run other than schedule them and setup the routing so you can access it.

[2021-03-16 23:36] ReggieCarey opened #5705 "Migration Path?"
/kind question

**Question:**
[You can ask any question about this project.]

[2021-03-16 23:39] ReggieCarey commented on #5705
Is there a migration path from 1.2 to 1.3? Will it be in the form of instructions or will it be automated?  If automated, will someone enhance the kubeflow operator?  The last time I tried to uninstall kubeflownto repair something all of my users lost all of their data.

[2021-03-17 10:43] Ursanon commented on #5665
@DavidSpek Unfortunately provided example returns `server error 503`.

[This issue](https://github.com/kubeflow/kubeflow/issues/5665#issuecomment-796708138) was raised when testing with provided jupyter notebook: [MaskRCNN-testTrain.zip](https://github.com/kubeflow/kubeflow/files/6155684/MaskRCNN-testTrain.zip)

[2021-03-17 10:48] DavidSpek commented on #5665
@Ursanon When are you seeing `server error 503` exactly?

[2021-03-17 10:50] Ursanon commented on #5665
@DavidSpek Try visiting http://yann.lecun.com/exdb/mnist/train-images-idx3-ubyte.gz

[2021-03-17 10:51] DavidSpek commented on #5665
@Ursanon you can grab the 4 zips from https://github.com/golbin/TensorFlow-MNIST/tree/master/mnist/data as well.

[2021-03-17 11:30] CBrucePerkins commented on #5698
I figured it out. After ``kfctl build`` I made the necessary changes in the ``spawner_ui_config.yaml`` in the manifests directory locally cached, and simply deployed kubeflow with these additions with ``kfctl apply``.

[2021-03-17 11:31] #5698 closed

[2021-03-17 11:57] kim-sardine commented on #4806
In my case, It was proxy issue. I found that calico couldn't find apiserver.

[code]

so I've added `service-cidr` (10.96.0.0/12) to `no_proxy` in kube-apiserver. and it worked.

[2021-03-17 14:44] crmne opened #5708 "GCP deployment stuck at istio-sidecar-injector and istio-galley ContainerCreating"
/kind bug

**What steps did you take and what happened:**
* Deleted Kubeflow following [this guide](https://www.kubeflow.org/docs/gke/deploy/delete-cli/)
* Deployed Kubeflow using [this guide](https://www.kubeflow.org/docs/gke/deploy/deploy-cli/) [and](https://www.kubeflow.org/docs/gke/deploy/management-setup/) [previous](https://www.kubeflow.org/docs/gke/deploy/oauth-setup/) [ones](https://www.ku

[2021-03-17 18:33] zijianjoy opened #5712 "[Kubeflow 1.3] Allows dynamic label configuration on profile-controller for Istio upgrade"
/kind bug

**What steps did you take and what happened:**

To prepare for Kubeflow 1.3 release, we need to upgrade Istio from 1.4 to 1.9: https://github.com/kubeflow/gcp-blueprints/issues/144. However, in order to inject sidecar for new Istio versions, we need to remove the label: `istio-injection:enabled` for any namespace created by users, and enable automatic sidecar injection in new version. S

[2021-03-17 19:19] ulrikpl commented on #5048
I am having the same problem as Shaked installing Kubeflow on GCP. Did anyone find a solution?

[2021-03-17 21:57] DavidSpek opened #5713 "Postsubmit jobs do not seem to be working"
/kind bug

It looks like postsubmit jobs are not running after PRs have been merged. While there have been some changes to the CI/CD in the past days, two PRs which were up to date with the prow config were merged today and did not initiate their postsubmit jobs to build new images and push them to ECR. Specificaly, https://github.com/kubeflow/kubeflow/pull/5668 and https://github.com/kubeflow/kub

[2021-03-17 21:57] DavidSpek commented on #5713
/priority p1

[2021-03-17 22:12] DavidSpek commented on #5713
This should now be closed by https://github.com/kubeflow/testing/pull/926.

[2021-03-17 22:12] #5713 closed

[2021-03-17 22:34] ulrikpl opened #5714 "Kubeflow 1.2 GCP install - Istio pods stuck in containerCreating"
I am stuck trying to install Kubeflow 1.2 on GCP. The istio system has four pods hanging in containerCreating and no amount of 'make apply' will fix it. I followed the installation guide including the management cluster install guide to the T. Any pointers would be greatly appreciated.

Set-up:
Google Cloud Shell
Kustomize: 3.2.1 (version 4 didn't work for KF1.2 in my experience)
yq: 3.4.1
istioct

[2021-03-18 03:10] fahadh4ilyas opened #5715 "Envoy proxy is NOT ready on ml-pipeline-ui and ml-pipeline-visualizationserver"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I'm just installing Kubeflow with kfctl_istio_dex.yaml config in my Kubernetes local cluster following [this instruction](https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/). Every pods are running successfully except `ml-pipeline-ui` and `ml-pipeline-visualizationserver`. The c

[2021-03-18 08:34] crmne commented on #5708
Seems to be related to https://github.com/kubeflow/kubeflow/issues/5048

[2021-03-18 12:02] #5190 closed

[2021-03-18 16:20] jbottum commented on #5714
/platform gcp
/priority p2
/kind question
/area istio

[2021-03-18 18:52] Jeffwan commented on #5704
/cc @PatrickXYS

[2021-03-18 20:18] kimwnasptd commented on #5566
/reopen

[2021-03-19 14:47] yanniszark opened #5722 "Notebook CRD Quantity Validation"
/kind bug

**What steps did you take and what happened:**

1. Initial manifests for the Notebook CRD didn't validate resource quantity field (CPU, Mem) to be string or int.
2. A client used a different value (JWA https://github.com/kubeflow/kubeflow/issues/5641)
3. New manifests (from kubebuilder) validate resource quantity field (CPU, Mem) to be string or int.
4. Existing clients / resources brea

[2021-03-19 15:13] Ursanon opened #5724 "Failed to get object from minio on microk8s"
/kind bug

I have kubeflow running via MicroK8s on VM.
When I want to access my pipeline component's output artifact:
![image](https://user-images.githubusercontent.com/8686134/111796250-49ec6d00-88c8-11eb-944f-c1d525f00f08.png)

error occurs:
[code]

**Environment:**

- Kubeflow version: `dev_local` - commit: `743746b96e6efc502c33e1e529f2fe89ce09481c`
- Kubernetes platform: microk8s
- Kubernetes

[2021-03-19 15:43] Ursanon commented on #5724
When I head to `Artifacts` console shows me:
![image](https://user-images.githubusercontent.com/8686134/111806311-25958e00-88d2-11eb-99ee-5fece31a279c.png)

[2021-03-19 18:05] kimwnasptd commented on #5575
@thesuperzapper how is the review for the Notebook images going? Are there any issues?

 We will need to cut a release branch around Monday so we will need to start wrapping up. The Jupyter web app and Notebooks controller PRs #5646 #5660 are almost finished, so this should be the only remaining work.

[2021-03-19 18:15] #5399 closed

[2021-03-19 22:50] wkeifenheim commented on #5714
@ulrikpl The thread over at https://github.com/kubeflow/gcp-blueprints/issues/198 identified what the problem is. I couldn't get the workaround there to kustomize the `Pilot.yaml` during `make apply` working, so I applied the update manually then deleted all the pods in the `istio-system` namespace to get everything past the _containerCreating_ status.

Service and Ingress are all green for me kno

[2021-03-20 01:11] summerisc commented on #4666
I am also seeing `mount helper error: fusermount: fuse device not found, try 'modprobe fuse' first` error when try to fuse mount inside the container.
![Screen Shot 2021-03-19 at 9 10 23 PM](https://user-images.githubusercontent.com/21230663/111854790-86838d00-88f7-11eb-8bdf-d47927161fa8.png)
already patched securityContext to the notebook, not sure if there is anything missing for me. Any insight

[2021-03-20 10:25] DavidSpek commented on #5724
@Ursanon Could you please move this issue over to https://github.com/canonical/bundle-kubeflow? This seems to be a bug specific to Microk8s and isn't related to the code in this repository. I don't think many people from Canonical are actively going through the issues here either.

[2021-03-20 11:39] DavidSpek commented on #5712
@zijianjoy I've just been looking into this a bit and the Istio docs state that adding the `istio-injection:enabled` to a namespace is still the method for injecting sidecars. Am I correct in understanding that the `istio.io/rev=` is necessary to be able to upgrade existing Istio and Kubeflow installations?

[2021-03-20 13:59] Bobgy commented on #5712
The new label is suggested for Anthos Service Mesh, the label makes it possible to install two versions of istio at the same time, so there can be smooth upgrade

[2021-03-20 14:00] DavidSpek commented on #5712
Will this not break regular Istio Service Mesh installations if the `istio-injection:enabled` label is removed?

[2021-03-20 14:38] DavidSpek commented on #5705
I'm not sure about an upgrade path as Istio will also need to be upgraded, but uninstalling Kubeflow should remove everything from the cluster and should never be used to fix something.

[2021-03-20 15:10] DavidSpek commented on #5345
/remove-lifecycle stale

[2021-03-20 15:13] DavidSpek commented on #5342
I'm closing this issue as these notebook images have been removed from the repository in favor of new ones. The problem occurring here is due to how the user account was setup in this image.
/close

[2021-03-20 15:13] #5342 closed

[2021-03-20 15:14] DavidSpek commented on #5333
@geewynn Sorry for the late response. Are you still experiencing this issue? If so, what notebook image are you trying to use?

[2021-03-20 15:15] DavidSpek commented on #5179
Closing this issue as this notebook image has been deprecated in favor new notebook images.
/close

[2021-03-20 15:15] #5179 closed

[2021-03-20 15:17] DavidSpek commented on #3840
Closing this issue as the Volumes Web App that has now been merged should solve this problem.
/close

[2021-03-20 15:24] DavidSpek commented on #3362
Support for Visual Studio Code will be present in Kubeflow 1.3. The PR for the notebook-controller has already been merged and the PR for the Jupyter Web App is about to be merged as well.

[2021-03-20 15:28] DavidSpek commented on #3362
/remove-lifecycle frozen

[2021-03-20 15:37] DavidSpek commented on #4067
Currently it is possible to upgrade the Jupyter Web App by changing the image of it's deployment. I'm not sure how `kfctl` would play into this, but given that `kfctl` is not being used for the 1.3 release and the many changes to the manifests (see https://github.com/kubeflow/manifests/issues/1735) I don't think this issue is still relevant in it's current form.

/remove-lifecycle frozen

[2021-03-20 15:38] DavidSpek commented on #4787
Closing this issue as the problem seems to have been solved.
/close

[2021-03-20 15:38] #4787 closed

[2021-03-20 15:42] DavidSpek commented on #4857
Closing this issue as the feature to start/stop a notebook server is integrated into the Jupyter Web App that is being released wtih 1.3. The issue regarding user installed packages through pip being persistent does remain. However, I have included a small section about this in the README for the new notebook images.
/close

[2021-03-20 15:42] #4857 closed

[2021-03-20 15:47] DavidSpek commented on #5099
This seems to setup error regarding `kubectl` and not regarding code in this repository. If there are further problems with `kfctl`, please open an issue on the `kfctl` repo: https://github.com/kubeflow/kfctl.
/close

[2021-03-20 15:47] #5099 closed

[2021-03-20 15:49] DavidSpek commented on #5281
Closing this issue as it isn't active or related to the code in this repository. For future issues specific to Microk8s, please open an issue in the https://github.com/canonical/bundle-kubeflow repo.
/close

[2021-03-20 15:49] #5281 closed

[2021-03-20 15:52] DavidSpek commented on #5310
@kimwnasptd I believe this issue can be (almost) closed.

[2021-03-20 16:02] DavidSpek commented on #5248
It seems like the original author and others have been able to fix their issues. As this issue can be caused by many factors of specific environments I feel it is best to not have a single large issue where new situations keep getting piled on. @matty1979 @qinjie545, please feel free to open a new issue with more debugging information so an effort can be made to solve this problem. For now I am cl

[2021-03-20 16:02] #5248 closed

[2021-03-20 16:04] DavidSpek commented on #5329
Closing this issue as I believe it has been solved.
/close

[2021-03-20 16:04] #5329 closed

[2021-03-20 16:05] DavidSpek commented on #5356
/close

[2021-03-20 16:05] #5356 closed

[2021-03-20 16:07] DavidSpek commented on #5360
Given that this issue hasn't been active for a while and this seems like a general setup error I am closing this issue. Feel free to reopen or create a new issue if the problem is still present.
/close

[2021-03-20 16:07] #5360 closed

[2021-03-20 16:08] DavidSpek commented on #5367
/close

[2021-03-20 16:08] #5367 closed

[2021-03-20 16:10] DavidSpek commented on #5368
I believe this issue was caused by an incompatibility of the Seldon manifests and Kubernetes 1.19+, which has since been fixed in newer manifests or Seldon version. Therefore I am closing this issue.
/close

[2021-03-20 16:10] #5368 closed

[2021-03-20 16:13] DavidSpek commented on #5373
I believe this issue can be closed as the new Jupyter Web App that will be included in Kubeflow 1.3 next week handles GPU discovery somewhat differently. If this is still a problem please feel free to reopen (formatting the yaml in a code block would be very helpful).
/close

[2021-03-20 16:13] #5373 closed

[2021-03-20 16:13] DavidSpek commented on #5384
Seems like the problem has been fixed.
/close

[2021-03-20 16:13] #5384 closed

[2021-03-20 16:16] DavidSpek commented on #5381
@tretos53 Is this still a problem or can this issue be closed? This seems to be an issue with your cluster setup and the AWS kubeflow distribution so you should try and contact somebody from AWS (maybe @PatrickXYS can help).

[2021-03-20 16:18] DavidSpek commented on #5386
@hlld3344 MiniKF does not have an image registry built in and needs to download the docker images from a registry (in this case gcr.io).
/close

[2021-03-20 16:19] #5386 closed

[2021-03-20 16:21] DavidSpek commented on #5396
@jal06 Is this still an issue? If so, I believe this is related to KFServing so it would be best to open an issue over at https://github.com/kubeflow/kfserving.

[2021-03-20 16:23] DavidSpek commented on #5410
@lukkiddd I'm closing this issue as it is regarding a (very) old version of Kubeflow. Also, it seems your problem is related to KFserving so if you are still encountering this problem please create an issue over at https://github.com/kubeflow/kfserving.
/close

[2021-03-20 16:23] #5410 closed

[2021-03-20 16:24] DavidSpek commented on #5413
@PatrickXYS Do you know the current situation regarding this?

[2021-03-20 16:26] DavidSpek commented on #5419
Once WG-Notebooks has it's own repository I think this issue will be solved.

[2021-03-20 16:27] DavidSpek commented on #5441
Closing this issue as it seems to have been solved.
/close

[2021-03-20 16:27] #5441 closed

[2021-03-20 16:33] DavidSpek commented on #5445
@summerisc Are you also using k3s? Kubeflow 1.3 is about to be released very soon and will use a different installation method (not `kfctl`) so I believe it might be best to see if you also experience the problem with the upcoming release.

[2021-03-20 16:34] DavidSpek commented on #5450
I believe this might be caused by the cluster not being setup properly to support Istio and JWT.

[2021-03-20 16:37] DavidSpek commented on #5452
Can somebody confirm this issue has been solved so that it can be closed? It seems this is an Istio related problem, which should be solved with the upcoming Kubeflow 1.3 release that will properly support Istio 1.6+ and include Istio 1.9 by default.

[2021-03-20 16:39] DavidSpek commented on #5457
Closing this as Renovate will be used (hopefully) in the near future.
/close

[2021-03-20 16:39] #5457 closed

[2021-03-20 16:41] DavidSpek commented on #5458
@konradmalik Are you still experiencing this issue?

[2021-03-20 16:43] DavidSpek commented on #5549
Can somebody confirm this issue has been resolved? As this is related to the metadata-writer this issue should actually be filed over at https://github.com/kubeflow/pipelines so that it can be tracked properly.

[2021-03-20 16:44] DavidSpek commented on #5479
Closing this issue as it seems to have been resolved.
/close

[2021-03-20 16:44] #5479 closed

[2021-03-20 16:45] DavidSpek commented on #5485
/close

[2021-03-20 16:45] #5485 closed

[2021-03-20 16:47] DavidSpek commented on #5488
I am closing this issue as it is not related to the code in this repository. If you continue to encounter problems with microk8s please create an issue over at https://github.com/juju-solutions/bundle-kubeflow.
/close

[2021-03-20 16:47] #5488 closed

[2021-03-20 16:48] DavidSpek commented on #5508
@rawc0der Can this issue be closed, given that the CRD problem has been solved?

[2021-03-20 16:50] DavidSpek commented on #5518
@rastislavs Can you provide the logs of the Jupyter Web App pod?

[2021-03-20 16:53] DavidSpek commented on #5541
@droctothorpe Am I correct in understanding this issue is related to kubeflow pipelines? If so, would you mind recreating this issue over at https://github.com/kubeflow/pipelines/ so that it can be tracked properly? Then this issue can be closed as it is not related to the code in this repository.

[2021-03-20 16:56] DavidSpek commented on #5616
/remove-priority p1
/priority p4

[2021-03-20 16:56] DavidSpek commented on #5616
/priority p3

[2021-03-20 16:59] DavidSpek commented on #5643
@raffaelespazzoli Could you point me to the Kubernetes documentation of what you are wanting to configure? Then I can see how this could possibly be integrated with the controllers.

[2021-03-20 16:59] DavidSpek commented on #5619
Closing as this has been solved.
/close

[2021-03-20 16:59] #5619 closed

[2021-03-20 17:02] DavidSpek commented on #5587
@tkislan Could you please recreate this issue over at https://github.com/kubeflow/pipelines so that it can be tracked properly and close this issue? It is not related to the code in this repository so this issue will most likely go unnoticed by the people working on Kubeflow Pipelines here.

[2021-03-20 17:09] DavidSpek commented on #5554
@kim-sardine I think this is related to the notebook image you are using and not the Jupyter Web App or the notebook controller. Do you encounter this issue when using a different notebook image? You can try `public.ecr.aws/j1r0q0g6/notebooks/notebook-servers/jupyter:master-9d688f73` which is one of the new notebook images (this one does not have tensorflow installed).

[2021-03-20 17:09] DavidSpek commented on #5554
/are jupyter

[2021-03-20 17:09] DavidSpek commented on #5554
/area jupyter

[2021-03-20 17:13] DavidSpek commented on #5547
I believe this is actually a bug as it should respect the setting in the config. I don't think this will be fixed in time for 1.3 though as the feature cut is the 23rd.

[2021-03-20 17:13] DavidSpek commented on #5547
/kind bug

[2021-03-20 17:52] tretos53 commented on #5381
I reinstalled Kubeflow and it works, but this happened twice with Kubeflow so it needs checking/testing.

[2021-03-20 17:52] #5381 closed

[2021-03-20 18:49] konradmalik commented on #5458
honestly I don't have a cluster anymore to test this but for sure some time in the near future we'll try to run kubeflow on k3s again, then I'll report back here.

[2021-03-20 21:43] #5508 closed

[2021-03-21 05:05] makeitai commented on #5271
Try this solution that is suggested above first might save you lot of time.  Worked for me Thanks @danishsamad

Resolved the issue on kubeflow v1.2 also kfctl_k8s_istio.v1.2.0.yaml also

 kubectl edit destinationrule -n kubeflow ml-pipeline

Modify the tls.mode (the last line) from ISTIO_MUTUAL to DISABLE

 kubectl edit destinationrule -n kubeflow ml-pipeline-ui

Modify the tls.mode (the last line

[2021-03-21 07:56] ja06200 commented on #5396
@DavidSpek, thanks for looking at this.

I created this issue in kubeflow/kubeflow because it is related to TensorFlow Serving; it is not related to KFServing.
I already open the same issue for kfserving ([1199](https://github.com/kubeflow/kfserving/issues/1199))
My guess is that it is due to a wrong configuration of the local gateway in GCP and this will be solved via [178](https://github.com/kub

[2021-03-21 07:56] ja06200 commented on #5396
/close

[2021-03-21 08:00] jal06 commented on #5396
@DavidSpek, thanks for looking at this.

I created this issue in kubeflow/kubeflow because it is related to TensorFlow Serving (not related to KFServing).
I have already open the same issue for kfserving ([1199](https://github.com/kubeflow/kfserving/issues/1199))

My guess is that it is due to a wrong configuration of the local gateway in GCP and this will be solved via [178](https://github.com/ku

[2021-03-21 08:00] jal06 commented on #5396
/close

[2021-03-21 08:00] #5396 closed

[2021-03-21 12:43] Ursanon commented on #5665
@DavidSpek I found that every training with `troch==1.8.0` fails with the same error (`torch radix_sort: failed on 1st step: cudaErrorInvalidDevice: invalid device ordinal`) even on different GPUs:

After downgrade to `torch==1.7.1` everything works fine

[2021-03-21 14:25] Bobgy commented on #5712
@DavidSpek our suggestion is to make labels configurable, so that it doesn't affect other use-cases

[2021-03-21 14:29] DavidSpek commented on #5665
@Ursanon Thanks for confirming that. The image that is being included with Kubeflow 1.3 will be using torch 1.7.1 as it stands now. We'll need to investigate what is causing this with torch 1.8 as I wasn't experiencing this issue personally.

[2021-03-21 14:49] Ursanon commented on #5665
folks on pyTorch discuss have the same problem with torch 1.8
https://discuss.pytorch.org/t/pytorch-1-8-0-fasterrcnn-resnet50-fpn-error/114150/4

[2021-03-21 20:42] kimwnasptd commented on #3840
Lets keep this issue open. Allowing the users to more easily manage any dangling PVCs, via the Volumes Manager UI, is definitely going to help but I believe we should also extend the UX of the Notebooks launcher web app.

This is one of the features I would like to tackle for 1.4 and would like to hear some more feedback on some proposals, so I'll reopen the issue

/reopen
/lifecycle frozen

[2021-03-21 20:47] DavidSpek commented on #3840
@kimwnasptd Sounds good. Related to this is to allow users to edit notebooks once they are created in the UI, allowing users to resize PVCs and allowing users to set the source for a PVC (so it can clone from an existing PVC or use a snapshot as a source).

Regarding something as specific as deleting a PVC though, that is what the Volumes Web App is specifically created for. This, as well as PVC r

[2021-03-21 21:22] kimwnasptd commented on #5310
Yes it can most certainly be closed. I think all of the above bullets are satisfied so we can move along and close this

/close

[2021-03-21 21:22] #5310 closed

[2021-03-22 01:18] Thor-wl opened #5740 "Volcano api has been separated from main repository and v0.1 has been released."
/kind feature

**Why you need this feature:**
[Is your feature request related to a problem? Please describe in details]
Volcano-sh/api is the repository separated from main repository and you can generate CRD API(informer/clientset/lister) from it with any k8s version dependency you need. Please refer to https://github.com/volcano-sh/apis. And you can get v0.1 for use. Any questions are welcomed.