[2020-02-16 21:25] jlewi commented on #4767
I'm puzzled why the v1 and vmaster clusters are illustrating different behavior.

They both appear to be using the same application controller image.

[code]

[2020-02-16 21:29] jlewi commented on #4767
Here are the YAML specs for the profiles application and profiles-deployment on master

The application's selector doesn't match the labels of the deployment. Application is using version v1.0.0 and the deployment has label v0.7.0 for the version.

As a result the owner reference on the deployment isn't set.

[master_profiles-deployment.yaml.txt](https://github.com/kubeflow/kubeflow/files/4210942/

[2020-02-16 21:38] jlewi commented on #4768
@yantriks-edi-bice Could you please describe what you did? What commands did you run? If you are upgrading a 0.7 deployment did you follow the upgrade instructions?

https://www.kubeflow.org/docs/upgrading/upgrade/

[2020-02-16 23:35] rafaelbarreto87 opened #4770 "Notebook instance can't be created in GKE due to problem with PersistentVolume affinity"
/kind bug

**What steps did you take and what happened:**

We have a GKE cluster with 1 node pool for CPU-only instances and 1 node pool for instances with GPUs. These node pools have different regions. While the CPU pool can spawn nodes in us-central1-{a,b,c,f}, the GPU pool can only use us-central1-{a,c} because these are the only zones in us-central1 with GPUs.

When we request a notebook with

[2020-02-16 23:37] jlewi commented on #4767
kubeflow/manifests#921 and kubeflow/manifests#922 have been merged.

I deployed a cluster from
https://github.com/jlewi/manifests/tree/automated-cherry-pick-of-%23921-upstream-v1.0-branch

Here's the application resource
[profiles_application.yaml.txt](https://github.com/kubeflow/kubeflow/files/4211241/profiles_application.yaml.txt)

It is not claiming any cluster resources.

Lets wait 24 hours to

[2020-02-16 23:38] jlewi commented on #4767
We also have the auto-deployed cluster from commit
https://github.com/kubeflow/manifests/tree/1913078
cluster: kf-v1-0216-20f

[2020-02-17 02:06] ianycxu opened #4771 "Support for OCI (Oracle Cloud Infrastructure )"
Kubefkow is an awesome project. I was wondering do you have plans to also support OCI?

[2020-02-17 07:12] hexiaoting opened #4772 "The Interaction methods between each components in kubeflow"
/kind question

**Question:**
1. what's the interaction methods between each component in kubeflow?
   1) the web service to kubeflow? I find that we use microservice, so is it used Restful API ?
   2) where is  the source code of interaction ways in kubeflow project?(which file or directory)
2. Pipeline
    1) each component in pipeline will be executed as a docker container, Will all the compone

[2020-02-17 15:53] piyushcse29 commented on #4005
I am also on the same trouble.

[2020-02-17 16:23] #4229 closed

[2020-02-17 17:13] kimwnasptd commented on #4062
@jlewi the only blocking one is the e2e tests. I've created a [PR](https://github.com/kubeflow/kubeflow/pull/4773) with some initial tests.

The remaining work is to handle the IAP login in the tests and bundle it as a postsubmit test

[2020-02-17 17:20] dilzeem commented on #3891
@Jeffwan is there way to reference this commit in the `kfctl_aws_cognito.v1.0.0.yaml` file?

I tried modifying this section in the `kfctl_aws_cognito.v1.0.0.yaml` file but to no avail
[code]

I tried then manually copying the files into the kustomize folder and ran kfctl apply, and I get this:
![image](https://user-images.githubusercontent.com/8899724/74674033-c803af00-51b0-11ea-85fe-0662177ce91d.

[2020-02-17 18:47] animeshsingh commented on #4763
Thanks folks. Highlighted this in troubleshooting section of KFServing as well.
https://github.com/kubeflow/kfserving/blob/master/docs/DEVELOPER_GUIDE.md#troubleshooting

@jlewi this can be closed

[2020-02-17 19:19] TristansCloud opened #4774 "Jupyter notebook tensorboard error localhost refused to connect."
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I am attempting to run tensorboard in a jupyter notebook server. I am using this model https://github.com/kubeflow/tf-operator/blob/master/examples/v1/mnist_with_summaries/mnist_with_summaries.py. I tried to launch
tensorboard using
[code]
and got localhost refused to connect error

**W

[2020-02-17 19:28] yantriks-edi-bice commented on #4768
Yes, I followed the upgrade instructions. Used following spec

https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_gcp_iap.v1.0.0.yaml

and standard command (after verifying all prereqs)

kfctl apply -f /Users/edibice/kubeflows/kfctl_upgrade_gcp_iap_1.0.0.yaml -V

[2020-02-17 19:46] yantriks-edi-bice commented on #4767
kubectl get namespace
NAME                STATUS   AGE
cert-manager        Active   3d22h
default             Active   41d
istio-system        Active   41d
knative-serving     Active   41d
kube-node-lease     Active   41d
kube-public         Active   41d
kube-system         Active   41d
kubeflow            Active   41d
kubeflow-edi-bice   Active   41d

[2020-02-17 19:54] yantriks-edi-bice commented on #4768
Also deleted the following as suggested here #4763

kubectl delete mutatingwebhookconfigurations inferenceservice.serving.kubeflow.org && kubectl delete validatingwebhookconfigurations inferenceservice.serving.kubeflow.org && kubectl delete po kfserving-controller-manager-0 -n kfserving-system

[2020-02-17 20:37] Jeffwan commented on #4761
@devgrok Hi, Yeah, I didn't apply `istio-policy.yaml`. It was using before but we didn't have authorization at that time. Istio RBAC requires you to use istio policy to extract claims. There's no support to use `request.auth.claims[email]` with a custom header.  We can not get ride `istio-policy.yaml` in this solution. The side affect is we have two layer authentication,  ALB (1st time) -> istio-g

[2020-02-18 03:14] mmalviya commented on #3481
hi   , i have   " kubectl get pv -n kubeflow" showing the bound but the below process is still showing "CrashLoopBackOff". if you are saying docs are wrong then, can we please get a refernce to the right document

1) katib-mysql-dcf7dcbd5-6nc6v
2)  metadata-db-65fb5b695d-k2tqb
3)  ml-pipeline-5cddb75848-r79bv
4)ml-pipeline-persistenceagent-6ff9fb86dc-bl9k4
5)mysql-6bcbfbb6b8-n8r4m

NAME

[2020-02-18 04:00] jlewi commented on #4767
Everything is looking good with cluster kf-v1-0216-20f which has been up for 29 hours.

Here's a list of deployments showing the profiles deployment.
[deploy.yaml.txt](https://github.com/kubeflow/kubeflow/files/4217240/deploy.yaml.txt)

Here's the latest application
[profiles_application.yaml.txt](https://github.com/kubeflow/kubeflow/files/4217245/profiles_application.yaml.txt)

So its not claimin

[2020-02-18 04:02] jlewi commented on #4019
Thanks @zhenghuiwang .

@zhenghuiwang can we go ahead and close this issue or is there more work to be done? Has all the relevant code been checked in?

[2020-02-18 08:26] mfojtak commented on #4721
@krishnadurai
The problem is istio. You won't be able to even install kubeflow 1.0 on non-GKE version of kubernetes because of #4733
Upgrading Istio to 1.4.3 solves both issues.
Try non-GKE (on-prem, AWS+kops,docker for desktop), you will reproduce this easilly.

[2020-02-18 09:05] krishnadurai commented on #4721
@mfojtak thanks for the information. It seems we are discussing two problems together at once here:

1. With these [flags setup appropriately](https://istio.io/blog/2019/trustworthy-jwt-sds/) you should be able to complete your installation with SDS on.
2. Regarding this error about outbound traffic, which version of Istio are you using?

[2020-02-18 09:19] dilzeem commented on #3891
So I figured out how to reference that exact commit. Tried deploying, and not ALB was created at all.

This is the error that are logged
[code]

[2020-02-18 09:51] dilzeem commented on #3891
Okay the ALB and listener are created with the commit works and work with `kfctl_aws_cognito.0.7.1.yaml`

It does not work with `kfctl_aws_cognito.v1.0.0.yaml`

[2020-02-18 14:57] jlewi commented on #4767
Closing this as fixed.

[2020-02-18 14:57] #4767 closed

[2020-02-18 15:02] jlewi commented on #4058
@kunmingg ping?

[2020-02-18 15:03] jlewi commented on #4026
@avdaredevil any update on the test?

[2020-02-18 15:06] jlewi commented on #4714
@vkoukis @yanniszark @elikatsis @jbottum any update on this?

[2020-02-18 15:23] yanniszark opened #4776 "notebook-controller: Pod without "-" in name breaks notebook-controller"
/kind bug

**What steps did you take and what happened:**
1. Create a Pod without any dashes ("-") in its name.
2. Notebook-controller goes into CrashLoopBackOff.

**What did you expect to happen:**
* Notebook-controller not to crash.

**Anything else you would like to add:**

The offending code seems to be the event predicate filtering.
It filters all Pods instead of just the ones belonging to no

[2020-02-18 15:25] jlewi commented on #4774
If you want to run tensorboard, the recommended way to do this is to launch a separate deployment for tensorboard and use a virtual service to setup a reverse proxy route. There's an example in this notebook
https://github.com/kubeflow/examples/blob/master/mnist/mnist_gcp.ipynb

[2020-02-18 15:26] jlewi commented on #4768
@richardsliu thoughts?

[2020-02-18 15:28] #4763 closed

[2020-02-18 15:36] jlewi commented on #4776
@yanniszark Do you want to submit a fix?

Are you sure about the problem?  I have created notebooks without `-` in the name just fine e.g.

[code]

Which is running `gcr.io/kubeflow-images-public/notebook-controller:v1.0.0-g3ec0de71`

When pods are created by the stateful controll they should have a "-" in the name because of the naming convention of stateful controllers; i.e. the pod should be na

[2020-02-18 15:41] yanniszark commented on #4776
@jlewi

Try to create a Pod without a dash (in any namespace) and it should make the notebook-controller fail.
I can try to take this up.

[2020-02-18 15:42] yanniszark commented on #4776
/assign @yanniszark

[2020-02-18 15:51] amygdala commented on #3082
noooo, stale[bot]. (I assume we want to keep this one open)

[2020-02-18 16:02] jlewi commented on #4776
@yanniszark I see so your saying its not the notebook pods that are causing the problems but non-notebook pods.

I suspect this is related to @fediazgon's changes to have the notebook controller watch for pod events and replay them.

[2020-02-18 16:05] fediazgon commented on #4776
I will take a look

[2020-02-18 16:25] thavlik commented on #4762
Ran into this problem on AKS. Unable to install.

[2020-02-18 18:40] mfojtak commented on #4721
1. These flags are dangerous and my cluster would not come up again after setting them. Istio pulled back and in latest version it doesn't enforce those flags anymore.
2. Kubeflow 0.7.1 with whatever version it comes with

Kubeflow 1.0 + Istio 1.3.1 won't even install because of bizzare flags
Kubeflow 1.0 + Istio 1.4.3 works

[2020-02-18 19:34] Jeffwan opened #4778 "Namespaces can not be terminated after `kfctl delete`"
/kind bug

**What steps did you take and what happened:**
I try to include cert-manager namespace and crds deletion in kfctl. The problem is after `kfctl delete ` , I notice resource objects have been deleted in all namespaces but these three namespaces are alway in `Terminating` status.

[code]

Checking controller-manager logs, I notice there's some cluster level webhook still there.

[code]

In

[2020-02-18 19:37] Jeffwan commented on #4778
This is not in current kfctl version and this issue has been resolve. Just want to surface this incase some one will meet similar problem

[2020-02-18 19:57] dgrahn commented on #4267
@ChethanUK What is the workaround for this issue?

[2020-02-18 20:26] yantriks-edi-bice commented on #4767
I gave up trying to upgrade the 0.7 (kf-poc) cluster to 1.0 and launched a fresh one (kf-tst). So far so good, though trying to upgrade the 0.7 now that you asked ran into the following:

Error: couldn't apply KfUpgrade:  (kubeflow.error): Code 500 with message: kfApp Apply failed for kustomize:  (kubeflow.error): Code 500 with message: Apply.Run  Error error when applying patch:
{"metadata":{"ann

[2020-02-18 23:46] zhenghuiwang commented on #4019
@Jeffwan  I didn't look at the metrics. It take 20-30 mins to start all the notebooks. The latency  mostly related to auto scaling, because most of them were unschedulable but eventually got the requested resources.

@jlewi I created a PR to save the script I ran. (didn't polish it since it is meant to be run manually.)

[2020-02-19 00:12] richardsliu commented on #4768
@yantriks-edi-bice Could you provide the full traces from running `kfctl apply`?

To restart the upgrade process, look in your local directory for a folder with some hash values as the name. Delete this folder and then run `kfctl apply ...` again.

[2020-02-19 00:20] mmalviya commented on #4142
i am facing this issue with K8 1.15 and Kubeflow 1.0, can you please let me know the fix .

[2020-02-19 00:44] jlewi commented on #3082
/lifecycle frozen

[2020-02-19 00:53] jlewi commented on #3082
It looks like I might have muddied the waters on this issue.

* The original issue was about [shared VPC](https://cloud.google.com/vpc/docs/shared-vpc)
* At some point I started conflating that with [VPC Service Controls](https://cloud.google.com/vpc-service-controls/docs/)

Lets use this issue to track documenting shared VPC and I'll open a new issue for VPC service controls

[2020-02-19 01:04] jlewi commented on #3210
@kunmingg what is the remaining work to close out this issue?

It looks like we need to update the documentation page; e.g https://www.kubeflow.org/docs/gke/private-clusters/#deploy-kubeflow-with-private-gke

to describe how to use the new functionality. Is there anything else that needs to be done?

[2020-02-19 05:00] #4019 closed

[2020-02-19 08:06] mockdone opened #4781 "jupyter notbookserver error"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

V 1.0

2020-02-19 03:44:27,160 | kubeflow_jupyter.common.auth | WARNING | No user credentials were found! Make sure you have correctly set the USERID_HEADER in the Jupyter Web App's deployment.
10.16.1.65 - - [19/Feb/2020 03:44:27] "GET /api/namespaces/mytest/notebooks HTTP/1.1" 200 -

[2020-02-19 08:39] Jude188 commented on #4433
This is a feature which we (not the royal, me and the company I work for) would dearly, dearly love too. Our use case is slightly different, however. We have a lot of very old hardware which is pre-AVX. This means that anything which needs Tensorflow will not run on the off-the-shelf Tensorflow container images as they require AVX.

We do have a few nodes which do have the AVX instruction set and

[2020-02-19 09:06] Jeffwan commented on #4144
/reopen

[2020-02-19 09:10] Jeffwan commented on #3891
@dilzeem

Cert-managed is the new package in 1.0 and it will just wait for webhook pod to be ready and then retry. This is not an issue.

em.. As I remember, we didn't make changes from 0.7.1 -> 1.0.0 on the manifest.

You mean the commit doesn't work with v1.0.0 but 0.7.1?  That's weird. This PR should address the problem. You still see HTTP:80 in listeners?

[2020-02-19 09:16] dilzeem commented on #3891
yes

In v1.0 I didn't even see the ALB create.
In v0.71 it created and had the HTTPS:443 listener as well. As expected.

That is strange I get something different with the version, if nothing has changed. I can double check again later today with v1.0.

[2020-02-19 16:02] karlschriek opened #4783 "Kubeflow Pods don't start after Nodes scaled to zero and back up"
We have a dev environment where we typically scale the nodegroups in our EKS cluster down to zero at the end of the day. I've never had a problem getting the cluster up and running again the next morning.

However, if I scale the nodegroups down to zero and then scale them back up again soon thereafter (the longest I've waited to test this out was about 30 Minutes) then most or all of the deployme

[2020-02-19 16:52] yanniszark commented on #4776
Re-opening this. Should close only when this ends up in v1.0.
@jlewi after I cherry pick to v1.0 branch, do I need to make a PR in manifests?
Or do we have CD in place?

/reopen

[2020-02-19 17:25] jlewi commented on #4617
The fixed image is being cherry-picked onto master in
https://github.com/kubeflow/manifests#935

If we want to cherry-pick onto v1 lets verify on master first.

[2020-02-19 19:09] jtfogarty commented on #4707
This is an on-prem install where I have the ingress servers configured as a nodeport
The istio pod has a status of OOMKilled

[2020-02-19 19:11] jtfogarty commented on #4707
@jlewi can we change this to a p0 ?

/priority p0

[2020-02-19 19:20] jtfogarty commented on #4707
[istio-1.log](https://github.com/kubeflow/kubeflow/files/4226890/istio-1.log)

[2020-02-19 19:42] Jeffwan commented on #4746
I will close this issue temporarily since we use different way to resolve the problem. I will reopen once we do use claim in this way

[2020-02-19 19:42] #4746 closed

[2020-02-19 20:24] Jeffwan commented on #3891
Please double check with 1.0 and I at least see HTTP:80 without patch using v1.0. If you still have problems, please share alb-ingress-controller logs

[2020-02-19 21:46] jlewi commented on #4776
The updated image on master has been deployed
https://github.com/kubeflow/manifests/tree/909e9df

Looks like our xgboost_synthetic test is passing
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-periodic-examples

xgboost_synthetic has run but not recently.

[2020-02-19 21:51] jlewi commented on #4776
Spot test on master:
https://kf-master-0219-197.endpoints.kubeflow-ci-deployment.cloud.goog/
https://github.com/kubeflow/manifests/tree/909e9df

Started a pod without a dash

[code]

Here's a list of pods (jlewi-0 is a notebook)
[code]

Notebook controller is healthy.

[code]

[2020-02-19 21:52] jlewi commented on #4776
kubeflow/manifests#936 should cherry-pick it onto the 1.0 branch.

[2020-02-19 22:04] jlewi commented on #4707
@jtfogarty Can you please describe the failure mode?

The weblogs you attached 13 days ago don't show any crashes in the Jupyter web app. The logs also look fine.

It looks like to me like the original bug report is about client side javascript not being able to talk to the backend.

If ISTIO pods are being killed e.g. because of OOM or some other reason then that would prevent traffic from the br

[2020-02-19 23:49] jlewi commented on #4776
This is on the V1 branch.
https://kf-v1-0219-875.endpoints.kubeflow-ci-deployment.cloud.goog/

Verified on the 1.0 branch.

[code]

[code]

[2020-02-20 00:37] #4375 closed

[2020-02-20 01:01] awcchungster opened #4786 "Fairing Access to Kubernetes cluster"
/kind question

**Question:**
1. I have a Kubeflow notebook created that is using a custom container that I found on a tutorial. Does kubectl get autoinstalled on each container through kubeflow notebooks?

2. How does kubectl get the kubeconfig for the cluster it is running on? When I run a fairing job, it successfully deploys on the cluster, but I didn't specify any of the settings.

[2020-02-20 03:20] Bobgy commented on #3866
@xaniasd I guess I misunderstood what observability means in this context. Can you elaborate on "Enhancing observability"? I thought putting a service into the mesh only decreases its observability (because only workloads with RBAC authorization can access it).

[2020-02-20 07:15] xaniasd commented on #3866
Hi @Bobgy I mean the ability to better understand what's going on in the system. For instance are there any network bottlenecks, is a component slow or unresponsive. This sort of fhings. So if my system does not perform as expected, I'd like to have the means to get useful insights about the internal state.

Components in the Control Plane (such as controllers) aren't necessarily in scope, but som

[2020-02-20 09:04] mockdone commented on #4781
I solved this。
 by the way ,how to use tensorboard?is there any document?

[2020-02-20 11:11] krishnadurai commented on #4590
@jlewi
@jtfogarty has made a list of images being used within Kubeflow. We are planning to convert all these images to use distroless.

@jtfogarty could you please share the sheet tracking this effort with the community in this issue?

[2020-02-21 02:41] #4781 closed

[2020-02-21 08:17] DhanunjayElluri opened #4787 "Error: failed to apply: (kubeflow.error): Code 500 with message: kfApp Apply failed for kustomize: (kubeflow.error): Code 400 with message: couldn't create namespace kubeflow Error: the server could not find the requested resource (post namespaces)"
When I tried to install Kubeflow on existing cluster k3s usign the documentation https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

It is for k8s. But trying to work on k3s. I'm getting the below error. Please guide what to do.

$ kfctl apply -V -f kfctl_k8s_istio.v1.0.0.yaml
INFO[0000] No name specified in KfDef.Metadata.Name; defaulting to my_kubeflow based on location of config file: k

[2020-02-21 09:29] 251744647 opened #4788 "Kubeflow Central Dashboard No Namespaces showed"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

- Installed kubeflow  on a fresh GKE non-identity aware cluster with kfctl_k8s_istio.0.7.1.yaml, with no default profile, and exposed central dashboard by nginx proxy_pass to istio-ingressgateway.

- Access the central dashboard ui, this doesn't prompt to setup an initial profile. It sh

[2020-02-21 12:58] jtfogarty commented on #3336
@elviraux, @jbottum
This appears to still be an issue.  There is nothing in the docs that tells me to set the redirect URI

[2020-02-21 13:12] samithaj commented on #4762
Error  in local k8 (installed with kind)
`validatingwebhookconfiguration.admissionregistration.k8s.io/cert-manager-webhook configured
WARN[0110] Encountered error applying application cert-manager:  (kubeflow.error): Code 500 with message: Apply.Run  Error error when creating "/tmp/kout245589381": Internal error occurred: failed calling webhook "webhook.cert-manager.io": the server is currently un

[2020-02-21 13:27] #4530 closed

[2020-02-21 13:39] jlewi commented on #4273
Confirmed its fixed in 1.0.

[2020-02-21 13:39] #4273 closed

[2020-02-21 14:05] jlewi commented on #4788
Labeling this as platform/onprem since its using the non-GCP specific configs even though its running on GKE.

If your using GKE I would highly recommend using the GCP configs as that's tested and maintained by Google.

There were various issues in 0.7 with configurations that don't have any identity.  If you are having problems with configurations that aren't using identity I would suggest trying

[2020-02-21 14:11] jlewi commented on #4787
Kubeflow is not intended to run on small edge devices. So if K3s is targeting devices like Rasberry pi this probably won't work.

The error is complaining that it can't find the resource namespaces in your cluster. This seems like an issue with your Kubernetes cluster not Kubeflow.

Can you run

[code]

To see whether namespaces are accessible

[2020-02-21 14:15] jtfogarty commented on #4707
@jlewi I'm just trying to troubleshoot this environment.  Would this be better to start a thread on kubeflow-discuss or the cuj-onprem channel

I will reinstall with 1.0.0 manifests

[2020-02-21 14:15] jlewi commented on #4786
kubectl needs to be installed in the Docker image you are using for notebooks (or you need to install it after the notebook starts).

The notebook images Kubeflow ships come with kubectl and other tools (gcloud, AWS CLI) installed in our images. if you are using your own images you will need to install them if you want them.

Fairing uses the python client library for K8s which has built in suppor

[2020-02-21 14:15] #4786 closed

[2020-02-21 14:16] #4776 closed

[2020-02-21 14:17] #4477 closed

[2020-02-21 14:24] jlewi opened #4789 "Notebook image continuous builds need to be updated to use Tekton"
/kind feature

On postsubmits we were running ksonnet workflows to auto build the notebook images and
push them to gcr.io/kubeflow-images-public

We need to make two updates

1. We want to get rid of ksonnet and Argo and switch to using Tekton for CI/CD pipelines
1. We want to run these Tekton pipelines in our release infrastructure
    * see https://github.com/kubeflow/testing/tree/master/apps-cd

[2020-02-21 14:50] jtfogarty commented on #4590
https://docs.google.com/spreadsheets/d/1ijWIyjGQpDy68-vjBmLyFY0U1oGCT--A0nVGgzLGDhU/edit?usp=sharing

[2020-02-21 19:28] jonathangold opened #4790 "Error when running gcloud container clusters get-credentials"
/kind bug

**What steps did you take and what happened:**

I followed the deployment guide (several times to make sure it wasn't my mistake) and the deployment fails here:
[code]

**What did you expect to happen:**
I expected the deployment to work :)

**Anything else you would like to add:**

I also tried running `gcloud container clusters get-credentials kubeflow-demo` but get the same error:
`E

[2020-02-22 06:55] Jeffwan opened #4792 "Centraldashboard can not load right profile"
/kind bug

**What steps did you take and what happened:**
I create several profiles and namespaces are created successfully. When I login using one of the user `kf11` in this case , I can not see users' namespace. Instead, `anonymous` namespace is selected as the owner and user's namespace is not in the drop down list.

![image](https://user-images.githubusercontent.com/4739316/75088046-b269ee80-5

[2020-02-22 07:14] #4778 closed

[2020-02-22 07:57] Jeffwan commented on #4792
My bad, brings envoyfilter to identity aware manifest and envoyfilter overrides the header to `anonymous`.. I will file a PR to address the problem

[2020-02-22 10:11] marcindulak opened #4793 "istio-policy CrashLoopBackOff: Start-Setup of the dashboard fails"
/kind bug

**What steps did you take and what happened:**

On a fresh install using https://github.com/kubeflow/manifests/commit/2a9816f9b482be927f7d8a772cc66095cb571aa8

[code]

4 istio-policy pods are in CrashLoopBackOff

[code]

The log of the running pod say

[code]
and

[code]

The crashed pods logs say

[code]

The istio-galley pod is missing

[code]

The notebook-controller-deployment pod r

[2020-02-22 11:11] marcindulak commented on #4793
After `kubectl -n istio-system delete rs istio-galley-784b9f6d75` istio-galley starts, but `istio-policy` are still in `CrashLoopBackOff` for 5 minutes, then `kubectl -n istio-system delete pod -lapp=policy` makes istio-policy `Running`.

[2020-02-22 12:49] marcindulak commented on #3496
@jlewi

The issue got stale, but I'll try to answer your questions

1. A kind cluster consists of docker containers as k8s master and worker nodes. Logs are emitted in a standard way (accessible with kubectl log, etc)
2. The largest VMs available on today's clouds have hundreds of vCPUs and dozens of GB of RAM per vCPU. I'm still fitting kubeflow on a laptop with 4 cores and 32 GB of RAM.
3. Kind

[2020-02-23 01:14] Tabrizian commented on #4789
@jlewi I can work on this if this is not already done...

[2020-02-23 08:17] #4450 closed

[2020-02-23 10:29] marcindulak commented on #4789
Will this setup create a chance so more notebook image types will be maintained?

The tensorflow notebook images are well maitained

![Screenshot from 2020-02-23 11-23-33](https://user-images.githubusercontent.com/3178318/75110504-49cf5e80-562f-11ea-9d6a-4d51082cd8b3.png)

but pytorch and other frameworks seem not

![Screenshot from 2020-02-23 11-23-08](https://user-images.githubusercontent.com/31

[2020-02-23 20:27] Tabrizian commented on #4789
@marcindulak, I am not sure whether it is in our plan but it is definitely a requirement. Meanwhile, you can easily create your own custom images and use them for the notebooks.

[2020-02-23 22:38] Shaked opened #4794 "Integrating Pipeline with Azure KeyVault"
/kind question

**Question:**

Hey,

Is it possible to integrate a `pipeline`'s container with Azure KeyVault?

We are currently mounting our Azure KeyVault using https://github.com/Azure/kubernetes-keyvault-flexvol in order to mount configuration and secrets to our containers on our k8s cluster.

It would be useful to mount Azure KeyVault as we won't need to expose our TenantId/SubscriptionId in

[2020-02-23 23:46] amygdala opened #4795 "TensorBoard KFP viz doesn't appear to work properly with KF 1 installation"
/kind bug
With kf 1 rc4.
Not sure if this should be filed under the kf or kfp repo.

The TB KFP viz (as documented [here](https://www.kubeflow.org/docs/pipelines/sdk/output-viewer/#tensorboard)) appears to no longer work properly on a KF install, but _does_ work on a hosted kfp installation, running the same pipeline step.
This used to work on KF 0.7.1, IIRC.

On the KF installation, I see the fol

[2020-02-24 01:24] zmdelima commented on #4783
@karlschriek I'm on the same boat. After v0.6 installation was not working anymore, I was forced to install v0.7 (v1.0-rc still does not exist at this point). Now I have done a couple of things with the pods. But none worked.

Environment:
- I have 2 notebooks occcupying 80% of a node's resource
- I have 2 AZs
- I have 3 Nodes

Activity:
Zero-Scale and Scale-Up Cluster at:
  - 30 minutes
  - 1 hr

[2020-02-24 12:32] yanniszark commented on #3967
/lifecycle frozen

[2020-02-24 16:22] jlewi commented on #4795
/cc @jessiezcc @Bobgy

[2020-02-24 16:26] jlewi commented on #4789
@Tabrizian if you could take a look at this that would be fantastic.

[2020-02-24 16:59] jlewi commented on #4707
@jtfogarty I think its fine to open issues and use that to track. My suggestion would be to label them such that we don't think they are release blocking bugs if we don't think they are release blocking bugs.

My suggestion would be to use labels
kind/question (or kind/process) to indicate its some of ongoing investigation that's not clearly known to be an issue with KF
P1 or P2 for priority
custo

[2020-02-24 18:35] Jeffwan commented on #4450
We give the workaround and 0.7 and 1.0 already have the patch.

/close

[2020-02-24 23:42] Jeffwan commented on #4761
PR has been merged and I address few issues for authz adaptor.
OIDC and Cognito have been tested and it's pretty stable. We can close this story now.

[2020-02-24 23:42] #4761 closed

[2020-02-24 23:44] Jeffwan commented on #4546
PR: https://github.com/kubeflow/manifests/pull/906

[2020-02-24 23:51] Jeffwan commented on #4545
Based on the user's feedback, managed MYSQL like RDS has more adopters. This is helpful unless user want to reduce cost and maintain their own cluster. The priority is pretty low. We can close this issue now and reopen if there's need from users.

https://github.com/kubeflow/kubeflow/issues/4546 This one already address managed mysql for kubeflow

[2020-02-24 23:51] #4545 closed

[2020-02-25 01:54] nzhang0430 commented on #4762
$ kfctl version
kfctl v1.0-rc.3-1-g24b60e8

I was runs twice same command, will be install successfully!
  Run 1st time: do following steps
(1)$ export CONFIG_URI="https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_k8s_istio.v1.0.0.yaml"
$kfctl apply -V -f ${CONFIG_URI}

Do 2nd time:
$wget   https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_k8s_

[2020-02-25 02:17] Bobgy commented on #4795
Thanks for the report!
/assign @Bobgy

[2020-02-25 02:59] amygdala opened #4797 "metadata-grpc-deployment pod keeps losing its connection to the mysql server"
/kind bug
(have a sense that this might be a dup, but if so I failed to find the original. I'm filing in the kf repo (not kfp) because for some reason the 'standalone'/Hosted KFP install doesn't seem to get this error.  However, I can move it there if that would be better.).

With KF 1 RC4:
The `metadata-grpc-deployment` pod keeps losing its connection to the mysql server.  In the Pipelines UI you

[2020-02-25 08:58] Bobgy commented on #3866
@xaniasd I see, that makes sense to me now. Thanks for the explanation!

I'm currently busy with other things, it would be helpful if you can investigate why tests are failing in https://github.com/kubeflow/kfctl/pull/131.

[2020-02-25 20:00] #4792 closed

[2020-02-25 22:06] zhenghuiwang commented on #4797
Duplicate of https://github.com/kubeflow/metadata/issues/198

@amygdala Is the grpc-deployment image version v0.21(which contains the fix)? The fix was cherry-picked to v1.0 manifests 6 days ago. ([Reinstall the latest component](https://www.kubeflow.org/docs/components/metadata/#installing-the-metadata-component) or KF should fix it)

[2020-02-25 23:39] amygdala commented on #4797
(ah... I knew I'd seen a similar bug somewhere, sorry I didn't think to check the metadata repo)
No, it's an older image.  I confirmed that I was using the latest KF 1 RC (4) but it's been > 6 days since I spun up the cluster. I'll try a new deploy.

[2020-02-26 13:42] jlewi commented on #4797
Closing this issue; lets use the duplicate

[2020-02-26 13:42] #4797 closed

[2020-02-26 13:43] jlewi commented on #4793
/cc @krishnadurai @yanniszark @johnugeorge

[2020-02-26 14:45] jtfogarty commented on #4793
I'm seeing this as well.

[2020-02-26 14:47] jlewi commented on #4790
Do you get the same behavior if your run the gcloud command directly?

You can run `gcloud auth list` to see which account cloud is authorized as. gcloud is most likely using an account that doesn't have the appropriate permission and that is why you are getting the permission error.

If you want to use a service account with gcloud make sure you have activated the service account.
https://cloud.g

[2020-02-26 18:16] jlewi commented on #4685
I think we are ready to finalize the release. Remaining steps

1. Publish kfctl 1.0
1. Update docs to use it

[2020-02-26 19:51] #3585 closed

[2020-02-26 21:27] gautamkmr opened #4800 "AWS Kubeflow installation instruction is broken"
/kind bug

**What steps did you take and what happened:**
I followed the instruction from https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/

**What did you expect to happen:**
I expected the installation of kubeflow.

**Anything else you would like to add:**
I have modified the region and roles
[code]

**Environment:**

- Kubeflow version: (version number can be found at the bottom left c

[2020-02-26 21:27] gautamkmr commented on #4800
@Jeffwan

[2020-02-26 22:09] gautamkmr commented on #4800
old kfctl issue

[2020-02-26 22:09] #4800 closed

[2020-02-26 23:14] Jeffwan commented on #4685
Any release plan for 1.0.1 or 1.1.0? For kfctl, AWS has two major changes https://github.com/kubeflow/kfctl/pull/254 and https://github.com/kubeflow/kfctl/pull/225. They are all AWS specific changes, it should be very safe to merge, I hope we can cherry-pick back to v1.0-branch before we cut kfctl 1.0, then we don't have to wait for 1.0.1 and update docs one more time.

[2020-02-26 23:21] Jeffwan commented on #4546
https://github.com/kubeflow/kfctl/pull/254  add some steps to modify kustomize application and parameters. Docs will come later. We can close this issue now. Once katib mysql has db abstraction, we need to make some corresponding change as well.

[2020-02-26 23:21] #4546 closed

[2020-02-27 00:55] jonathangold commented on #4790
Yes, I ran the command directly using both my "Owner" account as well as a service account with all the required permissions. The only 'unconventional' thing I can think of is that I'm using a gsuite email for my google account.

[2020-02-27 01:14] pisymbol commented on #2337
Can we also get this for just arm32 as well? (think KubeFlow on a bunch of Raspberry Pis)

[2020-02-27 07:32] jazzsir opened #4801 ""Extra Resources" field doesn't have any default value on the new server creation page"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
On a server creation screen, we have to insert something to create a server.

**What did you expect to happen:**
As previous releases, a default value "{}" should be set in advance.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue

[2020-02-27 09:20] karlschriek opened #4802 "For alb-ingress-controller the cluster-name arg defaults to name of folder where kfdef is stored"
When rolling out KF1.0 using `kfctl_aws_cognito.1.0.1.yaml` (and also `kfctl_aws.1.0.1.yaml`) , the `cluster-name` arg in the alb container spec defaults to the name of the folder in which the kfdef file is, regardless of what is input into the kustomize config.

For example, deploying kubeflow with:

`/path/to/kfctl apply -V -f /path/to/my_folder/kfctl_aws_cognito.1.0.1.yaml`

`kubectl -n kubeflo

[2020-02-27 10:13] karlschriek commented on #2889
@jlewi , from what I can see [here](https://github.com/orgs/kubeflow/projects/25?card_filter_query=git), this feature has been included in the v1.0 release. However, I can't anything that describes how it works.

I am currently advising a team that are very interested in this feature (so much so that fluid git integration for notebooks is a make or break on whether they use kubeflow at all). Could

[2020-02-27 10:45] krishnadurai commented on #4793
Hello @marcindulak,

I deployed a cluster using the same configuration as stated above on KinD and was not able to reproduce this issue.

I found a similar issue in Istio's github repo, can you check if setting this filter in your node helps?

https://github.com/istio/istio/issues/14261#issuecomment-495121279

[2020-02-27 12:10] Bobgy commented on #4795
@amygdala Can you share your exact pipeline?

[2020-02-27 12:14] Bobgy opened #4803 "KFP builtin samples fail in KF1.0"
/kind bug
/area pipelines

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
1. Just run built in samples
2. All of them, except conditional sample fails (because conditional sample is the only one that never reads from gcs)

**What did you expect to happen:**
1. They should pass

**Anything else you would like to add:**
[Miscellaneous information

[2020-02-27 12:15] Bobgy commented on #4803
/assign @Bobgy

[2020-02-27 12:28] yanniszark commented on #4480
/reopen
/lifecycle frozen
cc @krishnadurai any updates on this?

[2020-02-27 12:36] krishnadurai commented on #4480
@yanniszark Here's what we can do:

1. Have E2E tests for kfctl_istio_dex configuration deployment validate for all components being deployed.
2. Create a sample notebook with a user and see if the URL is accessible.

/cc @swiftdiaries

[2020-02-27 12:37] Bobgy commented on #4803
@jlewi Can you help me point to where I should add the workload identity binding?

[2020-02-27 13:00] yanniszark commented on #4480
@krishnadurai sounds good. We could also leverage the `istioctl verify-install` command.

[2020-02-27 13:33] jlewi commented on #4685
@Jeffwan Kubeflow 1.0.0 is done. If you need a patch release of kfctl please open an issue in kubeflow/kfctl to plan and track it.

[2020-02-27 13:33] jlewi commented on #4714
@vkoukis @yanniszark @elikatsis @jbottum any update on this?

[2020-02-27 19:06] Jeffwan commented on #4685
Sounds good. Then I will create a separate issue to track my request.

[2020-02-27 20:28] amygdala commented on #4795
It's [this one](https://github.com/kubeflow/examples/blob/master/github_issue_summarization/pipelines/example_pipelines/gh_summ.py.tar.gz) (uncompiled pipeline definition [here](https://github.com/kubeflow/examples/blob/master/github_issue_summarization/pipelines/example_pipelines/gh_summ.py)).
I confirmed again that I could repro with the KF 1 release (though I think that's essentially the same a

[2020-02-27 20:58] marcindulak commented on #4793
Those seem to be loaded/set

[code]

[code]

Without any changes, I've performed another kubeflow installation from scratch, as described in the original post, this time with no CrashLoopBackOff.

[2020-02-28 04:20] jlewi commented on #4803
@Bobgy which namespace are pipelines running in? And which service account are they using? Is it possible to reuse one of the existing service accounts that is already bound to workload identity rather than creating a new one?

In the kubeflow namespace there is the `kf-user` service account that is already bound to the GCP sa.

[code]
In profile namespaces we have the "default-editor" service acc

[2020-02-28 04:25] xigang opened #4805 "kubeflow supports deploying mxnet-operator using kustomize"
/kind feature

**Why you need this feature:**
The current kubeflow deployment supports tensorflow-operator and pytorch-operator by default, hoping to increase mxnet-operator.

**Describe the solution you'd like:**
NONE

**Anything else you would like to add:**
NONE
/cc @jlewi @jtfogarty

[2020-02-28 05:04] Bobgy commented on #4803
@jlewi Thanks for the help.
Current status (before multi user support lands in KF), pipelines still run in kubeflow namespace, and they are using `pipeline-runner` service account.

It requires kfp api server change to switch to a different default service account, I guess it makes sense to do so now.
/cc @IronPan
/cc @chensun

And I need to make sure permissions it needs can be satisfied by `kf-u

[2020-02-28 06:53] jlewi commented on #4803
@Bobgy IIUC the built in samples were working correctly in 0.7. What changed? Were the samples updated to use workload identity as opposed to using the GOOGLE_APPLICATION_CREDENTIALS?

[2020-02-28 06:56] Bobgy commented on #4803
@jlewi Yes, the samples were updated to default to supporting workload identity / node default GSA.

[2020-02-28 09:56] dholmesreed commented on #4735
I am also encountering this issue. Has anyone figured out a workaround?

[2020-02-28 11:55] Bobgy commented on #4795
[code]
I reproduced the issue with a different pipeline with tensorboard, and used `kubectl logs viewer-xxxxx` to see tensorboard's log, seems like it doesn't have required permission.

[2020-02-28 11:57] Bobgy commented on #4795
The tensorboard pod uses default service account, we need to change it to `kf-user`, similar to https://github.com/kubeflow/kubeflow/issues/4803#issuecomment-592306016

[2020-02-28 12:01] Bobgy commented on #4795
/assign @jingzhang36 Can you work on this issue?

[2020-02-28 12:01] Bobgy commented on #4795
/assign @jingzhang36

[2020-02-28 13:21] yanniszark commented on #4714
Hi @jlewi, we are actively preparing MiniKF 1.0.
We've tested everything and we are currently ironing out a couple of small details.
Our plan is to have MiniKF with KF 1.0 available for use in both Vagrant and GCP on the day right after the 1.0 release.

[2020-02-28 14:47] Kloempi opened #4806 "Kubeflow installation: "Internal error occurred: failed calling webhook "webhook.cert-manager.io"""
/kind bug

**What steps did you take and what happened:**
Installation of Kubeflow v0.7.1 via kfctl and the kfctl_existing_arrikto.0.7.0.yaml file
(this also happens with kfctl_k8s_istio.v1.0.0.yaml ) fails with the following error:

`failed to apply:  (kubeflow.error): Code 500 with message: kfApp Apply failed for kustomize:  (kubeflow.error): Code 500 with message: Apply.Run  Error error when cr

[2020-02-28 16:56] jtfogarty commented on #4707
Attached is a log file from the centraldashboard.

[cb.log](https://github.com/kubeflow/kubeflow/files/4268115/cb.log)

I'm seeing errors consistently after the ingress controller stabilized

[2020-02-28 16:58] dilzeem commented on #3891
Okay I tried with version 1.0, and ALB gets created by no listener.

When I apply the patch `uri: https://github.com/kubeflow/manifests/archive/c799b2873c9a92edfe3b966027df4934f048602c.tar.gz` to version 1.0, I get an error with regards to a missing `kustomize/aws-istio-authz-adaptor` directory.

[2020-02-28 20:31] vaskokj opened #4807 "Completely remove _all_ artifacts of kubeflow"
/kind question

**Question:**
I have been working on getting Kubeflow test environment setup for a week or so now. I have ran into several issues during deployment, and have had to revert the setup many times to try and reproduce my issues to put in a bug report, or to experiment with getting things working (changing configuration, or trying different versions of kubeflow for example).

 I typical

[2020-02-28 23:24] Tomcli opened #4808 "Admission Webhook prevents Kubeflow pod deployment."
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
When `admission-webhook-mutating-webhook-configuration` deployed before the Admission Webhook pod is ready. The webhook is preventing pod deployment under the kubeflow namespace including the Admission Webhook pod. Thus, it permanently stops all the pod deployment unless we delete the `a

[2020-02-29 00:29] theadactyl commented on #4732
Will be live at https://medium.com/p/a3950202751/

[2020-02-29 01:09] Bobgy commented on #4803
@jlewi Can you explain what makes creating additional WI bindings hard? Is it because the logic can only be added in `kfctl` so it will have to branch for different deployments?

[2020-03-01 00:37] Jeffwan opened #4809 "Admission Controller failed to build"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

[code]

We actually can find this file under package `main` here,
https://github.com/kubeflow/kubeflow/blob/6409fdec4b181592a138f4e6fb8a55e89be771ea/components/admission-webhook/scheme.go#L28

https://github.com/kubeflow/kubeflow/blob/6409fdec4b181592a138f4e6fb8a55e89be771ea/components/

[2020-03-01 00:37] Jeffwan commented on #4809
I will file a PR to resolve this issue.

[2020-03-01 05:11] #3711 closed

[2020-03-01 18:42] yanniszark opened #4811 "Profile Controller: Run unit tests when building docker image"
/kind feature

**Why you need this feature:**
To validate a profile-controller image doesn't contain code that breaks unit tests.

**Describe the solution you'd like:**
The profile controller Dockerfile should also run unit tests.

cc @jlewi

[2020-03-02 03:45] Bobgy commented on #4803
@jlewi I just tried configuring default service account for KFP in https://github.com/kubeflow/manifests/blob/4d8b1cb7e6340a69303ce59878fc29f6b3a71a72/pipeline/api-service/base/config-map.yaml#L19, it lacks some permissions.

After I bind `pipeline-runner` cluster role with `kf-user` it works fine now. Do you think that's a suitable fix? I will submit a PR for you to review.

[2020-03-02 05:36] zmdelima commented on #4783
Related to #4808

[2020-03-02 08:06] bybatkhuu opened #4813 "Make accessible Kubeflow dashboard UI fully to outside?"
Does anyone know how to expose Kubeflow dashboard UI (HTTP 80 port) to other address/host (not localhost)?

I installed Kubeflow by MicroK8s on other server, which is connected to our local network. Kubeflow dashboard UI full functions are only accessible by localhost, but I need to access from other PC's browser.
I tried these commands:

$ microk8s.kubectl port-forward -n kubeflow svc/pipelines-u

[2020-03-02 11:09] discordianfish opened #4815 "kfctl with in-cluster config leads to missing ClusterName in KfDef, preventing deletion"
/kind bug
**What steps did you take and what happened:**
When installing kubeflow from a pod within the cluster, following the install docs (e.g https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/) like this:

[code]

kfctl seems to assume there is a local `kubeconfig` as indicated by this warning:

[code]

This prevents cluster deletion:
[code]

**What did you expect to happen:**
kubeflow

[2020-03-02 12:09] discordianfish commented on #4815
Okay, looks like this issue is caused by running `kfctl build`, then `kfctl delete` without ever running `kfctl apply` which would take the cluster name from kubeconfig and write it as metadata.ClusterName to the kfdef file. That kinda makes sense, without apply there is nothing to delete.

So I'd be fine with just closing this issue. Then again, I think it would make sense to get rid of ClusterNa

[2020-03-02 13:44] dilzeem commented on #3891
Okay now following this.

https://www.kubeflow.org/docs/aws/aws-e2e/

I believed I was using the wrong `kfctl_aws_cognito.v1.0.0.yaml` file

[2020-03-03 00:21] Bobgy commented on #4795
/assign @Bobgy
I fixed the permission issue in https://github.com/kubeflow/manifests/pull/970

[2020-03-03 00:37] jlewi commented on #4815
ClusterName is there because for the public configs kfctl will actually create the K8s cluster and all the other resources needed.

[2020-03-03 00:39] jlewi commented on #4808
@Tomcli is this an issue withe admission webhook not being properly scoped to only apply to profile created namespaces?

[2020-03-03 00:55] Tomcli commented on #4808
Yes, there's no namespace selector for the admission webhook. So probably it's trying to watch pods from all namespaces.

[2020-03-03 01:15] #4795 closed

[2020-03-03 02:58] berndverst commented on #4794
When creating the pipeline using the Kubeflow Pipelines DSL (and then compiling it) you can specify the FlexVolumeSource as source for your Volume to mount. On each `ContainerOp` add the Volume via the `add_volume` and `add_volume_mount` methods which take as input V1Volume and V1VolumeMount classes from the Python Kubernetes client.

[code]

[code]

[2020-03-03 03:18] Tabrizian commented on #4789
@jlewi Sorry for the delay, I was looking into this and I am not sure about exactly what I am supposed to do. As far as I understood, I should add an entry to the file below for building the tensorflow images and remove the ks and jsonnet files, right?

https://github.com/kubeflow/testing/blob/master/apps-cd/applications.yaml

[2020-03-03 03:45] 251744647 commented on #4788
@jlewi Thanks a lot for your suggestion!
Right now we are still considering using 0.7 as the kf 1.0 we are not so confident with it even which it means we are struggling with the 0.7 issues 'with configurations that don't have identity'.

@krishnadurai @kunmingg  May I know how to debug this, any comment are much appreciated!

[2020-03-03 09:29] krishnadurai commented on #4788
@251744647 could you please give us more information regarding whether if:
- The profile created wasn't able to create a namespace.
- Is it just the central dashboard which is not able to list the namespaces?

Copy pasting central-dashboard's and profile-controller's logs might help.

[2020-03-03 09:34] krishnadurai commented on #4733
@mfojtak I've added comments in the issue:
- kubeflow/manifests#959
This might help solve your issue.

[2020-03-03 13:01] discordianfish opened #4817 "Enable sensible set of linters/staticcode analysis"
/kind feature

**Why you need this feature:**
Since I started contributing to kubeflow I ran into a lot of violations of go best practices that could have been surfaced by a set of linters/static code analysis tools.

**Describe the solution you'd like:**
I'd suggest adding https://github.com/golangci/golangci-lint to run for new pull requests.
Since this is relatively lightweight (compared to ful

[2020-03-03 13:10] DanaHan opened #4818 "Some jupyter customrize"
/kind question

**Question:**
I am testing Kubeflow V1.0. Everything is ok. I want to change some settings of jupyter web app for my real application.
1. I have 6 Nvidia GPUs. But in the gpu nums select list of  jupyter web app, I can only choose None,1,2,4,8. How can I change this gpu num list settings. I found this feature is hardcode in ts file. Is there a simple way to modify these values?
2.B

[2020-03-03 14:30] denisl78 opened #4819 "CentralDashboard failed to start on AWS custom k8s"
Hi
I'm running k8s on AWS , **not EKS**

Run deployment with **kfctl_k8s_istio.v1.0.0.yaml**
After deployment finished, I see that centraldashboard always restarted with exit 0

[code]
[code]

Tryed to investigate where is the problem, I'm not familiar with TS , but found that its exit on

**app/server.ts** in
`import {getMetricsService} from './metrics_service_factory';`

with
 _Segmentation faul

[2020-03-03 14:32] denisl78 commented on #4819
To solve this I've bumped node version on Dockerfile from 10 to 12
[code]

[2020-03-03 14:35] m1n9o opened #4820 "Is there any health check solution for KF?"
/kind feature

**Why you need this feature:**
I'm working on deploying KF to existing GKE cluster.
I think most of us struggling on kinds of errors we met after deploying KF to existing cluster.
Even all pods shows green, looks the status is fine. But they does have some errors.

**Describe the solution you'd like:**
Do we have any script, or solution so that we can know if all components of KF ar

[2020-03-03 15:09] damitkwr commented on #3082
I wanted to add another parameter to  @syd-quant that I encountered. As per the Google documentation [here](https://cloud.google.com/kubernetes-engine/docs/how-to/flexible-pod-cidr) , I ran into a problem where my subnet was only allocated a /24 CIDR  secondary ranges so when the deployment was happening I ran into the problem where IP range was exhausted for the secondary ranges.

To fix this pro

[2020-03-03 16:27] amygdala commented on #4803
Do you think this fix would also address this bug? https://github.com/kubeflow/kubeflow/issues/3874
@Bobgy

[2020-03-03 17:35] prcastro commented on #4433
For the GPU use case we have the same need. Being able to add tolerations to certain node taints is also needed in our case. Maybe just add that to the `PodDefault`?

[2020-03-03 18:18] Jeffwan commented on #4809
PR merged.

[2020-03-03 18:18] #4809 closed

[2020-03-03 22:26] berndverst commented on #4794
@Shaked do you use Fairing? Steps would be different for that and I'm unsure how to do it at this time.

[2020-03-04 00:49] lalithvaka commented on #4374
Hi @webD97 , were you able to integrate the Auto service with your enterprise OIDC successfully with 0.7 release and now with 1.0?

[2020-03-04 04:43] DanaHan opened #4821 "GPU select"
/kind feature

**Why you need this feature:**
I have a GPU server runs kubeflow V1.0. In this server, I have 2 TitanV cards and 4 2080Ti. These have different SM cores and video memory. I want to use different cards for different test. But now, in kubeflow I can only select gpu nums for a jupyter web app. I can not select GPU model when I create a jupyter web app. This feature is important in this

[2020-03-04 06:47] mfojtak commented on #4733
@krishnadurai I think it is better to use latest version of istio witch solves the issue. Setting experimental cluster low level flags is not a solution in my opinion. First of all not everybody is allowed to do that plus it is dangerous.

[2020-03-04 07:49] Jeffwan commented on #4818
https://github.com/arrikto/kubeflow/blob/d5b42667e633a819324d727567b81606f6e2fc01/components/jupyter-web-app/frontend/src/app/resource-form/form-gpus/form-gpus.component.ts#L18
it's fixed value here but I think you can override setting here. https://github.com/arrikto/kubeflow/blob/d5b42667e633a819324d727567b81606f6e2fc01/components/jupyter-web-app/backend/kubeflow_jupyter/common/yaml/spawner_ui_c

[2020-03-04 08:00] krishnadurai commented on #4733
@mfojtak your concerns are valid. We might look to upgrade Istio in the near future; i.e. subsequent releases which will not require us to set these flags.

[2020-03-04 08:04] DanaHan commented on #4818
@Jeffwan ,Thank you.
1. I have tried to uncomment  this line    # values: "none", "1", "2", "4", "8". But the jupyter web app create page become blank for all list.
2. Yes, I can modify this line window.open(`/notebook/${rsrc.namespace}/${rsrc.name}/`). But I am not sure where can I change this settings for an installed kubeflow. Do I need to compile kubeflow again?

[2020-03-04 08:41] SarathChandran commented on #4761
After installing v1.0 manifest with congnito I am facing the following error

Related issues on earlier versions didn't help : https://github.com/kubeflow/kubeflow/issues/4718
https://github.com/kubeflow/kubeflow/issues/4540

[code]

[2020-03-04 09:16] tomalbrecht commented on #4813
Looks similar to my problem: https://github.com/kubeflow/manifests/issues/974

[2020-03-04 09:28] openrory opened #4822 "K8s 1.17 compatibility"
/kind question
/platform k8s

**Question:**
Hi there,
I really appreciate the work you're putting into Kubeflow. However, we will be moving to k8s 1.17 in a few months: will you be supporting k8s 1.17 anytime soon?

Cheers

[2020-03-04 12:23] cloudbow opened #4823 "Better documentation on ml workflow required"
/kind feature

**Why you need this feature:**
More documentation on workflow

**Describe the solution you'd like:**
As per doc the experimental pipeline can first be created which could result in a zip file. And then this can be uploaded as a fresh pipeline linked to the experiment which actually created it. But runs of this pipelines are not experiments but executions. Right now it gets recorded

[2020-03-04 12:41] cloudbow opened #4824 "Documentation on version control of Jupyter notebooks"
/kind feature

**Why you need this feature:**
Documentation on version control of Jupyter notebooks

**Describe the solution you'd like:**
[A clear and concise description of what you want to happen.]
How do we add version control to Jupyter notebook and build a docker images. Especially one with aws code commit and code pipeline being used for CD after converting to Kale pipelines? Can anyone con

[2020-03-04 12:45] cloudbow opened #4825 "Documentation of custom docker image for Jupyter notebooks"
/kind feature

**Why you need this feature:**
[Is your feature request related to a problem? Please describe in details]
Documentation of custom docker image for Jupyter notebooks

**Describe the solution you'd like:**
[A clear and concise description of what you want to happen.]
Custom docker image for creating n number of datascience library flavorued Jupyter docker images , adding it back to Ku

[2020-03-04 13:42] cloudbow opened #4826 "Fix the documentation on "Application code grant" screenshot"
/kind feature

**Why you need this feature:**
[Is your feature request related to a problem? Please describe in details]
Congito docs page

**Describe the solution you'd like:**
[A clear and concise description of what you want to happen.]
Can somebody add what are the "Application code grant" that one needs to add for cognito in this page https://www.kubeflow.org/docs/aws/authentication/ at "In o

[2020-03-04 15:04] vaskokj opened #4827 "Several pods not starting due to various errors related to using NFS as dynamic provisioner"
/kind bug

**What steps did you take and what happened:**

I started by creating a dynamic NFS provisioner by running

https://github.com/justmeandopensource/kubernetes/blob/master/yamls/nfs-provisioner/rbac.yaml
https://github.com/justmeandopensource/kubernetes/blob/master/yamls/nfs-provisioner/default-sc.yaml
https://github.com/kubernetes-incubator/external-storage/blob/master/nfs-client/deploy/

[2020-03-04 15:15] vaskokj commented on #4630
@jobvarkey

How/where did you change it from 3 to 4?

[2020-03-04 15:17] jobvarkey commented on #4630
In the /etc/fstab mount command for the NFS FS.

From: vaskokj <notifications@github.com>
Sent: Wednesday, March 4, 2020 10:15 AM
To: kubeflow/kubeflow <kubeflow@noreply.github.com>
Cc: Varkey, Job <JVarkey@verisk.com>; Mention <mention@noreply.github.com>
Subject: Re: [kubeflow/kubeflow] Pods "mysql"、"ml-pipeline"、"ml-pipeline-persistenceagent" are in status "CrashLoopBackOff". (#4630)

@jobvarke

[2020-03-04 15:19] vaskokj commented on #4827
I did find this related item https://github.com/kubeflow/kubeflow/issues/4630. It has very similar errors I'm seeing but I don't know where he made his modification to try it to see if it the same problem.

[2020-03-04 15:51] vaskokj commented on #4630
Thanks, but I guess your setup is different from mine (unless I'm misunderstanding something).

I have my kubernetes cluster using the nfs-client kubernetes dynamic provisioner.

Kubeflow creates the pvc and pv for me "automatically" and _should_ be mounting things automatically, but apparently they aren't. I'm getting very similar errors that you are

[code]

[code]

[code]

I don't think I can c

[2020-03-04 16:56] jobvarkey commented on #4630
I created a NFS client provisioner using the NFS v4 FS before installing kubeflow.
https://www.kubeflow.org/docs/other-guides/kubeflow-on-multinode-cluster/

From: vaskokj <notifications@github.com>
Sent: Wednesday, March 4, 2020 10:52 AM
To: kubeflow/kubeflow <kubeflow@noreply.github.com>
Cc: Varkey, Job <JVarkey@verisk.com>; Mention <mention@noreply.github.com>
Subject: Re: [kubeflow/kubeflow] P

[2020-03-04 17:13] vaskokj commented on #4630
@jobvarkey

Hmmm, that does appear to be the same thing I've done (just went about it in a different way). I don't see in any of those configurations settings where you could change anything about the mount commands (nfs4 vs nfs3). I'm 100% positive that my actual NFS server is running only nfs4.
[code]

[code]

[2020-03-04 17:33] aaaaahaaaaa opened #4828 "ERR_SSL_VERSION_OR_CIPHER_MISMATCH on Cloud Endpoint"
/kind bug

**What steps did you take and what happened:**
Deployed Kubeflow on GCP using the CLI following the documentation for a customised deployment (https://www.kubeflow.org/docs/gke/deploy/deploy-cli/#customizing-your-kubeflow-deployment). Only updated `cluster.jinja` to specify the network and subnetwork configuration before creating the deployment.

Once deployed, endpoint (cloud.goog doma

[2020-03-04 17:42] aaaaahaaaaa commented on #4828
Well, somehow the deployment just healed itself. It's now working.

[2020-03-04 17:42] #4828 closed

[2020-03-04 18:14] jobvarkey commented on #4630
Sorry, not a nfs expert but your issue seems like related to some kind of nfs mismatch.

From: vaskokj <notifications@github.com>
Sent: Wednesday, March 4, 2020 12:14 PM
To: kubeflow/kubeflow <kubeflow@noreply.github.com>
Cc: Varkey, Job <JVarkey@verisk.com>; Mention <mention@noreply.github.com>
Subject: Re: [kubeflow/kubeflow] Pods "mysql"、"ml-pipeline"、"ml-pipeline-persistenceagent" are in statu

[2020-03-04 19:36] elikatsis opened #4829 "KF 1.0: KFP UI produces ugly results when not on GKE"
/kind bug

**What steps did you take and what happened:**
I deployed KF 1.0 on-prem

KFP UI has a `gkeMetadata` component [since 0.1.39, KF 1.0 ships with KFP 0.2.0] which adds GKE cluster-related information to KFP UI.
It queries `/pipeline/system/cluster-name` and `/pipeline/system/project-id`. The frontend listens to those paths and serves them by making the following queries:
[code]
and `.../p

[2020-03-04 21:03] akchinSTC opened #4830 "Parsing error when attempting to upload pipeline using kfp SDK"
/kind bug

**What steps did you take and what happened:**

When attempting to submit a pipeline compiled with the kfp SDK (0.2.0) to a kubeflow v1.0 deployment using the kfp python client -> upload_pipeline method I get a parsing error as follows:
[code]

**What did you expect to happen:**
The submission to succeed and server response object containing pipleine id and other information to be retur

[2020-03-04 21:13] Jeffwan commented on #4818
Check UI console for the errors.

Technically, we can customize it and build your own  image, and replace the image in kubeflow/manifests.

[2020-03-04 21:41] Tomcli commented on #4830
https://github.com/kubeflow/pipelines/blob/00a2cad3cfa81fc6b6b00b4f15a9faf5cbfe5d59/sdk/python/setup.py#L35
It looks like the kfp has dependency for kfp-server-api <=0.1.40 and 0.1.40 is the version that having this issue.

[2020-03-04 21:43] vaskokj commented on #4827
I went and tried to diagnose this issue myself a little further.

In the kustomize i went and edited the mysql deployment.yaml file.

Because the mysql container was in a restartloop and was never starting I went and added

`command: [ "/bin/sh", "-c", "sleep 100000" ]`  to the mysql container.

I was then able to get into the container with

`kubectl exec -ti mysql-65d9cff4ff-dgxnr bash`

the con

[2020-03-04 21:55] richardsliu opened #4831 "Notebook server cannot start notebook in anonymous namespace"
/kind bug

This happens on a Kubeflow cluster without IAP. Try to start a notebook session in anonymous namespace, and this error comes up:

`User None is not authorized to list .v1.persistentvolumeclaims for namespace: anonymous`

[2020-03-04 22:04] Shaked commented on #4794
@berndverst your answer is clear and very helpful, thank you!

I haven't checked/used Fairing up until now, should I check it?

[2020-03-05 01:09] Jeffwan commented on #4761
@SarathChandran  Can you ok the central dashboard successfully? I remember this issues exist and not related to multi user

[2020-03-05 02:59] tall-josh commented on #4831
I think this is related. After following the aws install instructions. I create a profile and attempt to create a notebook only to be met with:
![image](https://user-images.githubusercontent.com/18511395/75943480-32268e80-5ee9-11ea-944c-523516518b1c.png)

I am VERY new to Kube and Kubeflow. So it is entirely possible I'm just doing something silly.

[2020-03-05 03:15] Bobgy commented on #3866
I'm resuming to work on this. Blocker I met: https://github.com/kubeflow/kfctl/pull/131#issuecomment-593752785

tfjob workloads in kubeflow namespace also need to explicitly disable sidecar injection.

[2020-03-05 03:24] Bobgy commented on #3866
/cc @jlewi
/cc @kunmingg

[2020-03-05 04:52] 251744647 commented on #4788
@krishnadurai  Thank you so much for the response!

- The profile was able to create a ns. I created the profile manually, and then the related namespace was created automatically.

- Yes it is just the central dashboard not able to list the ns, the others like access /jupyter can see and select the namespace.

- I need to rebuilt the env and collect the logs here. So need some time.

[2020-03-05 05:32] SarathChandran commented on #4761
Yes i am able to open central dashboard with port forwarding..but not with cognito signin

[2020-03-05 05:41] Jeffwan commented on #4761
could you delete this profile and try to see if you are able to login with anonymous?

[2020-03-05 05:45] SarathChandran commented on #4761
Tried already.. same result

[2020-03-05 05:47] Bobgy commented on #4803
@amygdala No, kf-user service account doesn't have any bindings by default. It won't have the permission you ask for. If you think #3874 is important, you can add that permission to kf-user too.

[2020-03-05 06:05] Bobgy commented on #4607
FYI, for anyone still hitting intermittent permission issues with GKE workload identity.

First, your GKE version should be one of the good versions mentioned in above comment.
Second, your clients should use latest google/cloud-sdk, version >=277.0.0

I verified intermittent timeouts go away with 1.14.8-gke.33 and google/cloud-sdk:279.0.0. Recommend upgrading language specific clients to latest v

[2020-03-05 07:04] Bobgy commented on #4829
This also looks like a bug in pipeline UI, when the endpoint returns 404, it shouldn't use its content.

[2020-03-05 07:37] Bobgy commented on #4829
Sorry for the confusion, I just wrote a fix for this: https://github.com/kubeflow/pipelines/pull/3218.
The fix will be in the next release after 0.2.5, so if after 0.2.5 you won't necessarily need to update manifest to disable the endpoint, but I still recommend doing so for saving network requests.

[2020-03-05 09:54] gtarcoder opened #4832 "CentralDashboard failed to start on custom k8s"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I installed kubeflow on own k8s cluster following these guides (https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/, https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/) .
But failed to access kubeflow's central dashboard.  After investigating, I found something is wrong wt

[2020-03-05 11:15] Julianxo opened #4833 "Kubeflow ignores values set in kfctl config file"
/kind bug

**What steps did you take and what happened:**
I followed this tutorial
https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/
for setting up kubeflow with aws_cognito.
I ran kfctl build and changed the following values in the kfctl config file (kfctl_aws.v1.0.0.yaml):
CognitoAppClientId, CognitoUserPoolArn, CognitoUserPoolDomain, certArn, region and roles
Then I ran kfctl apply wit

[2020-03-05 11:15] #4833 closed

[2020-03-05 11:48] krishnadurai commented on #4831
@richardsliu could you also provide the name of the config you are using?

Related issue: https://github.com/kubeflow/kubeflow/issues/4731

[2020-03-05 13:02] zemarx commented on #4781
@mockdone How did you solve it?

[2020-03-05 14:13] saschagrunert commented on #4822
Hey :wave:, do we have an overview about what needs to be done to support 1.17 somewhere?

[2020-03-05 14:30] yanniszark commented on #4822
Hi @openrory @saschagrunert!
This issue tracks support for K8s 1.16, which needs a lot of changes: https://github.com/kubeflow/manifests/issues/375
This is something we'd appreciate some help with :)
Also see: https://github.com/kubeflow/kubeflow/issues/4680#issuecomment-578527103

I would start from there.
My procedure would be:
1. Deploy a 1.17 K8s cluster
2. Follow the guide in https://www.kube

[2020-03-05 14:47] saschagrunert commented on #4822
I've deployed Kubeflow 1.0.0 on the latest Kubernetes master (1f2e1967d1c) via `./hack/local-up-cluster.sh` (backed with CRI-O) and see (removed completed jobs):

[code]

The first thing I notices is that the `metadata-db` pod does not run because of:
[code]

[2020-03-05 15:13] saschagrunert commented on #4822
Seems related https://github.com/kubeflow/kubeflow/issues/4827

[2020-03-05 16:35] yanniszark commented on #4822
@saschagrunert the Notebook Pods rely on the FSGroup being set correctly, in order to set correct permissions on the PVC.
https://github.com/kubeflow/kubeflow/blob/f100b901199113e669974a889c69ad297cae7b9d/components/notebook-controller/controllers/notebook_controller.go#L328

I know for example, that hostPath provisioning doesn't support this.
Perhaps you are also using a provisioner that doesn't

[2020-03-05 18:43] Jeffwan opened #4834 "Kubeflow 1.0.1 release"
/kind question

**Question:**
Request a patch release. AWS has a few improvements and we'd love to roll out in the new version.

1.  kfctl v1.0.1
  - https://github.com/kubeflow/kfctl/compare/v1.0...v1.0-branch
2. manifest v1.0.1
  - https://github.com/kubeflow/manifests/compare/v1.0.0...v1.0-branch
  - https://github.com/kubeflow/manifests/issues/984

Seems kfctl version for 1.0 doesn't use seman

[2020-03-05 18:43] Jeffwan commented on #4834
/cc @richardsliu @jlewi

[2020-03-05 18:43] Jeffwan commented on #4834
/assign @richardsliu

[2020-03-05 18:47] vaskokj commented on #4827
Ok so this is an issue with the mysql container that kubeflow is using it appears. While I don't know a lot of K8, I don't see how this has ever worked with dynamic provisioning (maybe specifically NFS).

I took the code snippets from here:

https://kubernetes.io/docs/tasks/run-application/run-single-instance-stateful-application/

Having a Dyanamic NFS provisioner installed...

`kubectl apply mys

[2020-03-05 19:03] berndverst commented on #4794
@Shaked I've never used Fairing with Pipelines but some people seem to be talking about it. If you use the Python SDK and compile using the DSL the instructions I shared here should work.

This was a great question by the way. I had to look through the Azure docs, Kubernetes Client docs and Pipelines SDK docs to figure out how to do it. (I work for Microsoft by the way)

[2020-03-05 21:53] MnrGreg commented on #4827
@vaskokj

I've been struggling with kubeflow and nfs-client-provisioner myself but recently came right. Unfortunately haven't been able to pin point the change that resulted in the fix. Thought my working configuration might help you.

One thing I noticed upfront was that the Minio pod did NOT have an issue with the nfs storage class. Seems to have only been with the MySQL Pods.

Have you tired ch

[2020-03-05 23:04] kunmingg commented on #3866
@Bobgy
Can you add which test is failing?

[2020-03-05 23:04] richardsliu commented on #4834
For fixes we should release a patch, e.g. 1.0.1.

I need to figure out the patch upgrade story since we've release the feature in 1.0.

[2020-03-06 02:32] Bobgy commented on #3866
`smoke-tfjob-kfctl-gcp-iap` timed out, but I cannot find exactly logs in those pods

[2020-03-06 04:32] richardsliu commented on #4831
@krishnadurai I was using https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_anthos.v1.0.0.yaml

[2020-03-06 04:58] krishnadurai commented on #4831
@richardsliu you could add an envoy filter to the anthos config as implemented here:

https://github.com/kubeflow/manifests/pull/885

Refer to the discussion in #4731

[2020-03-06 06:16] jiuntian opened #4835 "Failed to install on AWS EKS"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Tried to run the following command to install kubeflow
`kfctl apply -V -f ${CONFIG_FILE}`
and the config file is from: https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_aws.v1.0.0.yaml
But I am stuck when it try to create logentry/accesslog for istio-install. I

[2020-03-06 08:00] jiuntian commented on #4835
Detailed log for the timeout
[code]

[2020-03-06 10:51] saschagrunert commented on #4822
Thanks for the hint. I'm not running on an [NFS provisioner](https://github.com/helm/charts/tree/master/stable/nfs-server-provisioner) and then the deployment works seamlessly. I'm continuing my tests now.

[2020-03-06 11:33] saschagrunert commented on #4822
@yanniszark is there a test-suite I can run agains my local cluster? Looks like the tests running [here](https://github.com/kubeflow/kubeflow/tree/master/testing) are relying on Google Cloud, right?

[2020-03-06 14:19] vaskokj commented on #4827
@MnrGreg Thanks for the post.

Same for me on the Minio front. It works without issues and starts up but none of the mysql containers start up. I've tried the mysql5.6 and the mysql5.7 containers without success.

I'm using a Dell Unity NFS server (its just SuSe NFS server).

I feel this falls on the mysql container, but not sure why. Its interesting that yours wasn't working and started working.

[2020-03-06 16:32] vaskokj commented on #4835
Potential solution here? https://github.com/kubeflow/kubeflow/issues/4834 looks like they are reving versions?

[2020-03-06 17:06] vaskokj commented on #4822
@saschagrunert

You are or aren't running on the NFS provisioner? I assume you meant "If I'm not running on a NFS Provisioner and then the dpeloyment works seamlessly".

If so, Kubeflow doesn't work with it due to mysql containers not starting and functioning properly. https://github.com/kubeflow/kubeflow/issues/4827#issuecomment-595386502

I'm trying to figure out why, but its extremely slow goin

[2020-03-06 17:21] aaaaahaaaaa commented on #4735
Same problem here

[2020-03-06 17:21] Jeffwan commented on #4835
@jiuntian

[code]
Seems you already have istio installed, could you run `kfctl delete -V -f manifest` and try again? If you can not delete them successfully, you can delete istio-namespace

[2020-03-06 18:45] Jeffwan commented on #4761
Can you share your cognito settings? normally it's setting issue leads to `An error was encountered with requested page`. It would be helpful for us to debug if you can share `istio-ingress` annotations and your cognito callback url.

[2020-03-06 21:22] swiftdiaries commented on #4733
Added this to the docs website in PR:
https://github.com/kubeflow/website/pull/1779

[2020-03-06 23:21] Jeffwan commented on #4821
They are both NVDIA GPUs, right? Do you mean you have 2 TitanV cards and 4 2080Ti on one server? If so, how do you select different GPU without Kubeflow?

[2020-03-07 04:20] DanaHan commented on #4821
Of course. They are both Nvidia GPUs. It is easy to distinguish different cards. For example, the list can show card IDs. Or at least, I want to request the different GPU models(2080Ti or Titan).

[2020-03-07 05:18] DanaHan commented on #4818
jupyter web app console show "kubeflow_jupyter.common.utils | ERROR | Notebook config is not a valid yaml"

[2020-03-07 09:20] jiuntian commented on #4835
Tried it multiple times, and got the same result, could it be a problem caused by `Unable to attach iam inline policy` ?

[2020-03-07 10:24] imskr commented on #4826
I would like to fix this!

[2020-03-07 16:59] SarathChandran commented on #4761
[code]

And callback url: https://xxxx-istiosystem-istio-xxxx.eu-west-1.elb.amazonaws.com/oauth2/idresponse

[2020-03-07 21:59] yanniszark commented on #4818
/cc @kimwnasptd

[2020-03-08 00:22] redcican opened #4836 "Failed to install Minikf on Windows 10"
Hello, I tried to install the latest version of minikf followed the official instruction. But it failed. Does anyone have an idea to solve it?
![Download](https://user-images.githubusercontent.com/10456402/76154356-46ca7880-60db-11ea-9956-c1d0acfe98d3.png)

[2020-03-08 00:57] Jeffwan commented on #4818
Another solution is to do `jupyter lab ` to enable lab page by default.

[2020-03-08 00:59] Jeffwan commented on #4835
@jiuntian it's not related. You failed to install istio, this is separate. Could you show me the cluster status before you start over?  you have to make sure everything is cleaned up and then start from scratch, feel free to share full logs.

[2020-03-08 01:00] Jeffwan commented on #4821
I ask this is because this is not a Kubeflow problem. Can you tell us how do you use different GPUs in Kubernetes without Kubeflow?

[2020-03-08 02:27] DanaHan commented on #4821
@Jeffwan .
1.A single server with different GPU cards is very common for small labs or companies.Because they will continue to add or replace new GPU cards according to the budgets.
2.My server consistent runs in kubeflow. When users requset GPUs，if I can not select GPU model, for example, I will get both 2080Ti and TitanV in a single container. But these cards have different SM cores number and m

[2020-03-08 02:46] DanaHan commented on #4818
@Jeffwan .
My server consistent runs in kubeflow V0.4 before. In this version. spawner.py is exposed in config-map. So I can custom deployment method by my self. "c.KubeSpawner.default_url = '/lab'" is used to access jupyterlab directly.

I also add "if self._default_config_contains('cpu')" to confirm whether I am using a cpu version image and disable gpu settings in jupyter create page in case of

[2020-03-08 05:32] fzhurd commented on #3936
any update?

[2020-03-08 06:56] awcchungster opened #4837 "KfAwsPlug preventing install"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

The KF installer breaks on stable 1.0

I run:

And this error occurs

**What did you expect to happen:**

Kubeflow would be set up

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Kubeflow version: (version

[2020-03-08 06:57] awcchungster commented on #4837
@Jeffwan Do you know what is happening here?

[2020-03-08 06:57] awcchungster commented on #4837
#4642

[2020-03-08 07:05] jiuntian commented on #4835
Some cluster status here:
`kubectl get componentstatus`
[code]

`kubectl cluster-info`
[code]
Do let me know if need other detail information. Thanks

[2020-03-08 12:47] webD97 commented on #4374
Yes, we got it to work in 0.7 (although the solution was still a bit hacky in my opionion).

[2020-03-08 16:39] yanniszark commented on #4821
Hi @DanaHan!
This is an interesting problem so I thought I would take a look and try to find out what people are doing to solve it.

First of all, the K8s docs on GPU scheduling advice the user to have different types of GPU live on different Nodes and then make use of NodeSelector:

Source: https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/#clusters-containing-different-types-of-gpus

[2020-03-09 07:09] liuchintao commented on #4650
Hi, I met the same problem, I used this command `kfctl apply -f -V kfctl_k8s_istio.v1.0.0.yaml` to deploy Kubeflow. All pods work well when I use `kubectl get -n kubeflow po`, but **centraldashboard** pod‘s log shows that `nodes` and `applications` are not in API group.

I could not find istio related namespace or pods were deployed. Is there an example to how to create an ingress for kubeflow?

[2020-03-09 08:07] Jeffwan commented on #4837
could you share more info in your ticket next time?

[code]

Please share the kfAwsPlugin setting in your manifest, I doubt if your setting is correct

[2020-03-09 08:08] Jeffwan commented on #4835
@jiuntian could you run `kubectl get ns`?

[2020-03-09 08:11] Jeffwan opened #4838 "Enable JupyterLab view by default"
/kind feature

**Why you need this feature:**
https://github.com/kubeflow/kubeflow/issues/4818

Currently, user has to change url to `/lab` to switch to lab view. I am thinking if we want to enable lab view as default option and user can still switch to default view.

Any concerns or insights? If not, I will update container images.

[2020-03-09 08:12] Jeffwan commented on #4818
@DanaHan I will create an issue to enable lab by default. Let's see if users has concerns or not. Please vote if you want this feature. https://github.com/kubeflow/kubeflow/issues/4838

[2020-03-09 08:20] fsaina opened #4839 "Notebook auto-scaling"
/kind question

**Question:**
I've installed kubeflow (1.0) on AWS on a EKS cluster with autoscaling. Min number of instances 0, max number of instances 4, and desired 2.

I was under the impression that as I request for more notebooks (and resources for it) Kubeflow would be smart enough to auto-scale by itself until it hits the max limit (4 instances in my case). Is that the intended behavior or

[2020-03-09 09:45] hemantha-kumara commented on #4838
@Jeffwan Have you tried setting in `--NotebookApp.default_url='/lab'` option in Dockerfile CMD?
`jupyter notebook --notebook-dir=/home/cjup --ip=0.0.0.0 --no-browser --allow-root --port=8888 --NotebookApp.token='' --NotebookApp.password='' --NotebookApp.allow_origin='*' --NotebookApp.base_url=${NB_PREFIX} --NotebookApp.default_url='/lab'`

We have created custom image with above mentioned command

[2020-03-09 10:01] hemantha-kumara commented on #4818
@DanaHan @Jeffwan We have created custom image with `--NotebookApp.default_url='/lab'` option in Dockerfile CMD and by default /lab is opening whenever we connect notebook

Added above option along with options mentioned in this doc
https://www.kubeflow.org/docs/notebooks/custom-notebook/
`CMD ["sh","-c", "jupyter notebook --notebook-dir=/home/jovyan --ip=0.0.0.0 --no-browser --allow-root --port=8

[2020-03-09 10:06] DanaHan commented on #4818
@Jeffwan @hemantha-kumara ，Thanks.
In my opinion, it's not a good idea to set defalut in docker file.
It should be a choice to give platform admin to set this value. If some custom settings can be exposed to a config-map should be a good idea.

[2020-03-09 10:12] nrchakradhar commented on #4818
@DanaHan Agree with you that if it can be made more configurable, it will help.

[2020-03-09 10:15] hemantha-kumara commented on #4818
Yes, I agree with you. It would be good if custom settings can be exposed via configmap.
But in our case, custom image is created by us and hence we did it via Dockerfile.

[2020-03-09 10:18] hemantha-kumara commented on #4838
@Jeffwan
As discussed in #4818 it would be good if we could handle settings from configmap instead of changing in all Dockerfile.

May be we can put /lab by default in configmap.

[2020-03-09 10:19] DanaHan commented on #4818
@hemantha-kumara .
Yes, Now I also customize my personal images by:
CMD ["sh","-c", "jupyter lab --notebook-dir=/home/jovyan --ip=0.0.0.0 --no-browser --allow-root --port=8888 --NotebookApp.token='' --NotebookApp.password='' --NotebookApp.allow_origin='*' --NotebookApp.base_url=${NB_PREFIX}"]

[2020-03-09 10:19] yanniszark commented on #3477
/lifecycle frozen

[2020-03-09 10:20] yanniszark commented on #4078
/lifecycle frozen

[2020-03-09 12:06] imnotaqtpie commented on #4725
hi, can i work on this issue if it is still available?

[2020-03-09 13:22] DanaHan commented on #4821
@yanniszark Thanks for your detailed explain.
You are right. It's K8s issue. We can not control k8s and nvidia plugins roadmaps.
So I think we should discuss a workaround in kubeflow now.

As I have said. In a bare server, I can set CUDA_VISIBLE_DEVICES before run a deeplearning task. In the post below, it discusses how to set Environment variables(OCI spec) to select a special card model when cre

[2020-03-09 13:33] Oblynx opened #4840 "Error installing kfctl_istio_dex on k8s: failed to fetch "istio-token""
/kind bug

**What steps did you take and what happened:**

I try to install Kubeflow 1.0 on an on-premises k8s cluster following the [kfctl-istio-dex](https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/) instructions. After the kfctl run finishes I inspect the state of the cluster and discover pods stuck in `ContainerCreating` in namespace `istio-system` with the following error: `MountVolu

[2020-03-09 13:35] shaunc opened #4841 "How to write training framework"
/kind question

**Question:**

We would like to evaluate kubeflow as a management platform around our ML library. Where can I find documentation/pointers on writing a training framework?

[2020-03-09 13:43] DanaHan opened #4842 "Pod resources limit"
/kind bug

**What steps did you take and what happened:**
When I create jupyter notebook container. I found in pod yaml that the cpu num setting in jupyter create page is equivalent to resource request items. So this means no cpu limit is set in pod. For a multi-user server, a single user may use 100% cpu. Other users' task and whole kubeflow platform will hang up. No enough resources will also ca

[2020-03-09 14:26] jiuntian commented on #4835
[code]

[2020-03-09 15:35] krishnadurai commented on #4840
This is a duplicate of kubeflow/manifests#959.

[2020-03-09 16:41] lalithvaka commented on #4374
Would be great if you can post any steps you have followed to complete the integration. Am in the same boat of going through the integration with Ping Federate.

[2020-03-09 17:26] Jeffwan commented on #4835
@jiuntian As I said, could you run `kfctl delete -V -f manifest.yaml` and make sure `istio-system`, `kubeflow` namespace are deleted before you run `kfctl apply -V -f manifest.yaml`

[2020-03-09 18:52] vaskokj commented on #4827
@MnrGreg you find anything enlightening?  I'm still struggling with this. My post on mysql docker support hasn't gotten a response. The post on stackoverflow has gotten a few suggestions but nothing that has worked so far.

[2020-03-09 21:15] JohanWork commented on #4830
I have continued to debug this error with @NikeNano  and it seams that there is one timestamp that is a unix-timestamp and therefore it crashes. Believe the error originates from the swagger files, by changing in the api_clien.py file that is generate from the swagger fil. You can get it to work, but the true fix is in the swagger file. My knowledge here is very limited however.

[2020-03-09 21:31] Jeffwan commented on #4839
Hi, please check here.
https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/aws#scaling-a-node-group-to-0

In that case, you need to configure PodDefault in your notebook servers and then use node group selector. Autoscaler will find node template and trigger it. If it hit ASG maximum, then it won't be able to scale out again.

[2020-03-09 21:32] Jeffwan commented on #4839
/area aws

[2020-03-09 21:57] yanniszark commented on #4827
@vaskokj I see a lot of logs about permission errors.
What I usually like to do to debug things like that is create a terminal into the affected environment and look around.

For example, you can overridde the mysql deployment entrypoint with ["/bin/sh", "-c", "sleep 9999999999"] and then kubectl exec inside the pod to see if you can create folders/files, what the permissions are, what user/group

[2020-03-09 22:43] shuaibiyy opened #4843 "Profile controller's AwsIamForServiceAccount plugin is not recognized"
/kind bug

**What steps did you take and what happened:**
I deployed Kubeflow on EKS using the instructions outlined in https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/
I then created a profile that should have access to an IAM role using the following template:
[code]
However, the **IAM plugin for profile controller** appears to be unavailable based on the controller's logs:
[code]
I lo

[2020-03-10 05:21] keeplearnin commented on #4724
Hi @yantriks-edi-bice I'm trying to do the upgrade and have the same issue with you. May I know how did you get the name of your kubeflow app where it's `kf-poc` in your case?

[2020-03-10 05:51] Jeffwan commented on #4843
Sorry, we will cut a new release for manifest. v1.0.0 does have it now. It will be released this week.  please check the version in v1.0-branch

[2020-03-10 06:30] liuchintao commented on #4650
OK, I resolved it, I should not create an ingress manually, istio has created an ingressgateway for me, I find out istio ingressgateway svc's nodeport and visit kubeflow ui successfully.

[2020-03-10 08:04] tomalbrecht commented on #4832
When I got such CrashLoopBackOffs errors, they recovered over time. It takes some time for kfctl to pull all images and deploy them - there are dependencies to other pods. The cluster will retry after a while. In my case it took around 30-45 minutes until everything was running.

Please check the istio-system namespace as well. This namespace should come up in early stages of the deployment. If it

[2020-03-10 08:14] Oblynx commented on #4840
Indeed. That solved my issue, thanks!

[2020-03-10 08:14] #4840 closed

[2020-03-10 09:22] fsaina commented on #4839
Ok thanks!

Just to expand on my intentions for notebook aut-scaling, I have a cluster containing multiple CPU and GPU nodegroups. To avoid having my CPU workload end up on expensive GPU nodes I've added taints to those nodegroups.

How would I go about adding a nodeSelector/tolerations to my notebook pods for which the user requires GPU (non GPU workload would be without nodeSelector/tolerations

[2020-03-10 09:42] Naveenlbg commented on #4589
Hi Team,

I am new to kubeflow, I am trying to install kubeflow in gcp in Kubernetes cluster.
Since in my organization image scan is enabled i have to fix all the vulnerabilities , Is there any kubeflow version I can use without any vulnerabilities?

I am following the guide to install https://www.kubeflow.org/docs/gke/customizing-gke/
Is there any timeline when a new version is released without a

[2020-03-10 09:43] Naveen-Jayaram commented on #4589
Hi Team,

I am new to kubeflow, I am trying to install kubeflow in gcp in Kubernetes cluster.
Since in my organization image scan is enabled i have to fix all the vulnerabilities , Is there any kubeflow version I can use without any vulnerabilities?

I am following the guide to install https://www.kubeflow.org/docs/gke/customizing-gke/
Is there any timeline when a new version is released without a

[2020-03-10 09:49] soumochak83 opened #4844 "Unable to deploy Kubeflow on Openshift 3.11"
Platform details: Openshift OKD 3.11
Kubeflow version: 0.5
I'm trying to deploy Kubeflow using the documentation - https://v0-5.kubeflow.org/docs/started/getting-started-k8s/. However seeing this error while trying to run the command - kfctl init ${KFAPP}

kfctl init ${KFAPP}
FATA[0000] could not download repo to cache Error  (kubeflow.error): Code 400 with message: couldn't download kubeflow repo

[2020-03-10 10:25] elgalu opened #4845 "Enterprise Gateway support?"
Hi, have you considered solving Jupyter multi tenancy by plugging-in https://github.com/jupyter/enterprise_gateway ?

[2020-03-10 11:48] MeghanaSrinath opened #4846 "Unable to connect to kubeflow dashboard-"upstream connect error or disconnect/reset before headers. reset reason: connection termination""
I followed [this](https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/) guide to setup kubeflow along with Dex and Istio.

I was able to successfully install kubeflow and obtained the LoadBalancer IP from the command:
[code]

But when I hit the kubeflow IP in the browser, I get the error as
[code]

As per the suggestion in [this](https://github.com/kubeflow/kubeflow/issues/3975) post, I trie

[2020-03-10 12:37] imskr commented on #4845
Can I work on this issue?

[2020-03-10 12:45] vaskokj commented on #4827
@yanniszark Thanks but I already did that. See my post here https://github.com/kubeflow/kubeflow/issues/4827#issuecomment-594866984. It was one of the first things I did.

I can create new files, edit those files, write files and new folders to the folder `/var/lib/mysql`(NFS Share) etc.

Obviously, the container is trying to do a `mkdir '/var/lib/mysql/`` and it already exists, which it should, i

[2020-03-10 13:34] cspavlou commented on #4714
MiniKF with Kubeflow 1.0 is available on GCP and Vagrant. We have also updated the Kubeflow docs to always show the MiniKF and Kubeflow version:
- [GCP](https://www.kubeflow.org/docs/started/workstation/minikf-gcp/)
- [Vagrant](https://www.kubeflow.org/docs/other-guides/virtual-dev/getting-started-minikf/)

[2020-03-10 14:36] jiuntian commented on #4835
I got this message when trying to delete with `kfctl delete -V -f manifest.yaml`
[code]
So, I try to delete the namespaces by
`kubectl delete ns istio-system` and `kubectl delete ns kubeflow`

I run `kubectl get ns` again, i got
[code]
After these two namespaces deleted, I guess the installation should be clean completely, I try again the installation, with `kfctl apply -V -f manifest.yaml`
Then,

[2020-03-10 14:51] yanniszark commented on #4845
It would be nice to have a comparison of what the Enterprise Gateway does vs what we do.

[2020-03-10 18:52] Jeffwan commented on #4835
You still have CRDs in the cluster.  Do you mind clean up istio crds as well?

kfctl tried to find `ClusterName` and seems it meet some problems here.  If you still meet problem on this, you can try to add it manually and rerun the command

[code]

To get clusterName, you can run `kubectl config get-contexts` and find it.

[2020-03-10 20:10] shuaibiyy commented on #4843
@Jeffwan thanks, I'll stay tuned then :)

[2020-03-10 20:10] #4843 closed

[2020-03-10 21:01] lalithvaka commented on #4558
I have tried integrating with Ping and am running into issues as following.
My authservice log showing as follows

➜ kubectl logs authservice-0 -n istio-system
time="2020-03-09T22:08:39Z" level=info msg="Starting readiness probe at 8081"
time="2020-03-09T22:08:39Z" level=info msg="No  USERID_TOKEN_HEADER  specified, using 'kubeflow-userid-token' as default."
time="2020-03-09T22:08:39Z" level=info

[2020-03-10 21:01] SaiKiranBurle commented on #2141
Hello, is Feast still on track to be integrated into KubeFlow? Any idea what version of KubeFlow/Feast you are targeting?

[2020-03-10 21:31] swiftdiaries commented on #4725
Hi
Thank you for the interest!
Yes, we still haven't covered/documented the entire breadth of this issue.
As of now we only have the [mnist notebook](https://github.com/kubeflow/examples/blob/master/mnist/mnist_vanilla_k8s.ipynb).
Feel free to pickup individual work items in the Data Scientist or ML Engineer walkthroughs

[2020-03-10 21:52] yanniszark commented on #4558
Hi @lalithvaka! Can you open a new issue since this one is closed.
It sounds like a bad setup of the oidc-authservice client.

[2020-03-10 22:07] lalithvaka opened #4847 "OIDC-Authservice integration with Ping Federate setup"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Did the kfctl build and updated the oidc-authservice/base/params.env to include the following as an SSO integration setup with Ping Federate

client_id=kubeflow-oidc-authservice_OIDC_DEV1
oidc_provider=https://xxxx.org
oidc_redirect_uri=http://K8SAPIServerIP:31380/login/oidc
oidc_auth_ur

[2020-03-11 00:36] MnrGreg commented on #4827
@vaskokj I see one diff was that I added the runAsUser and fsGroup to the securityContext but not sure that it was this that solved the problem. When I get a gap I'll do a clean re-install and see if I can replicate the issue.

kustomize/mysql/base/
[code]

[2020-03-11 01:14] mmochan opened #4848 "Jupyter Notebook dataVolumes will only provision a PVC with gp2 storageClass on AWS"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Running on AWS EKS cluster, successfully installed kubeflow kfctl_aws.0.7.1.yaml.

Attempting to create a kubeflow Jupyter Notebook using a new dataVolume provisioned with AWS FSX Lustre filesystem

<img width="928" alt="Screen Shot 2020-03-11 at 10 47 46 AM" src="https://user-images.git

[2020-03-11 01:25] mmochan commented on #4848
👍

[2020-03-11 02:04] jiuntian commented on #4835
Thanks, after adding clusterName, I can now delete it with `kfctl delete -V -f manifest.yaml`, so everything was deleted.
Then, I have tried `kfctl apply -V -f manifest.yaml` again,
But I still stuck on the same place..
Do you need any other logs?

[2020-03-11 05:57] SarathChandran commented on #4761
Hi @Jeffwan, is there any update on this issue?

[2020-03-11 06:53] Jeffwan commented on #4835
Could you check your CRDs after you `delete` and before you `apply`? Is the error message exact same as the logs you attached here?

I would suggest you to attach more error logs and result you `kubectl get ns` and `kubectl get crds`

[2020-03-11 06:57] Jeffwan commented on #4761
@SarathChandran  In my setting, I use short domain name as `UserPoolDomain` name,

`{"UserPoolDomain":"kubeflow-testing"}'

![image](https://user-images.githubusercontent.com/4739316/76390478-b2eeeb80-632a-11ea-8a32-6f9e01523aa0.png)

Can you try this?

[2020-03-11 07:03] #3935 closed

[2020-03-11 07:27] jiuntian commented on #4835
After I `delete`:
`kubectl get ns`
[code]
`kubectl get crds`
[code]

Yes, the error message is exact the same as the log attached.

[2020-03-11 09:19] fsaina commented on #4839
I've created and applied the following PodDefault:
[code]

But my "nvidia.com/gpu" toleration does not get applied to new notebook pods. Could anyone suggest why? According to my understanding of [this](https://github.com/kubeflow/kubeflow/blob/master/components/admission-webhook/README.md) the notebook-controller should intercept all pod creation requests with _gpu-notebook: "true"_ flag and appe

[2020-03-11 09:55] Kyrremann commented on #4486
It also exists in kfctl v1.0-0-g94c35cf.

[2020-03-11 10:03] sahilmalav opened #4850 "Is it possible to access the Central Dashboard in v1.0 via ingress gateway NodePort instead of LoadBalancer?"
/kind question

I have been using Kubeflow 0.6 until now and decided to upgrade. In the previous version, the dashboard access was through the istio ingress gateway by default (at <IP>:31380) . I can't seem to do the same in the latest version. I did port forwarding using `kubectl port-forward svc/istio-ingressgateway -n istio-system 8080:80` and then tried accessing it on **_<IP>:31380_** , but i

[2020-03-11 10:38] xigang commented on #4806
I'm having the same problem.

![image](https://user-images.githubusercontent.com/3377677/76408154-7fae6a00-63c7-11ea-84a0-1a91e8c36aaf.png)

[2020-03-11 12:15] DanaHan commented on #4818
Finally, I find how to set GPU num list:
I find in   https://github.com/kubeflow/kubeflow/blob/51fb79ad06b761af135fae6d3b04dad01ecbd440/components/jupyter-web-app/frontend/src/app/resource-form/form-gpus/form-gpus.component.html#L16
The GPU num list is get from parameters "v".

So in config-map jupyter-web-app-config.
In GPU section: you can add v: {"none", "1", "2", "4", "8", "16"} to change defa

[2020-03-11 12:31] kimwnasptd commented on #4818
@DanaHan could we re-open this issue?

I think the best way to handle it is to add a more intuitive name in the gpu configuration section of the web app's config to allow the users to edit this list.

I can add a fix for it

[2020-03-11 12:49] 251744647 commented on #4788
@krishnadurai Please kindly find below log details:
Central dashboard pod log:

![1](https://user-images.githubusercontent.com/13617297/76418431-95c52600-63d9-11ea-933f-f12708d720ee.jpg)

Profile pod manager container log:
![11](https://user-images.githubusercontent.com/13617297/76418460-a1b0e800-63d9-11ea-9626-7fa17669ef57.jpg)

Profile pod kfam container log:

![111](https://user-images.githubus

[2020-03-11 12:56] Julianxo commented on #4748
I can confirm that it is fixed in version 1.0

[2020-03-11 12:56] #4748 closed

[2020-03-11 13:18] LeonardAukea commented on #4315
@jlewi There is one evident problem with this sa apporach:

As new users join in and create their own namespace via UI. you have to manually add the ImagePullSecrets afterwards.

Following this pattern.
[code]
This is a complete hassle with a lot of users, which I have not found a neat solution for.

[2020-03-11 13:39] vaskokj commented on #4827
@MnrGreg
Thanks, I gave that a shot and I got a slightly different error message this time.

[code]

[2020-03-11 14:38] webD97 commented on #4374
Yeah, I can try to help you with that. Unfortuantely I do not have the time right now to do a full step-by-step guide. What exactly are you having trouble with?

[2020-03-11 15:11] DanaHan commented on #4842
Ok, I have modify jypyter web app source code and build my own image.
In https://github.com/kubeflow/kubeflow/blob/0c496710150553784f7ebbbd3070cc9c26bfb39c/components/jupyter-web-app/backend/kubeflow_jupyter/common/utils.py#L371
add limits.

And in templete
https://github.com/kubeflow/kubeflow/blob/0c496710150553784f7ebbbd3070cc9c26bfb39c/components/jupyter-web-app/backend/kubeflow_jupyter/common/

[2020-03-11 15:12] DanaHan commented on #4842
Ok, I have modify jypyter web app source code and build my own image.
In https://github.com/kubeflow/kubeflow/blob/0c496710150553784f7ebbbd3070cc9c26bfb39c/components/jupyter-web-app/backend/kubeflow_jupyter/common/utils.py#L371
add limits.

And in templete
https://github.com/kubeflow/kubeflow/blob/0c496710150553784f7ebbbd3070cc9c26bfb39c/components/jupyter-web-app/backend/kubeflow_jupyter/common/

[2020-03-11 15:12] #4842 closed

[2020-03-11 15:39] DanaHan commented on #4818
@kimwnasptd
Of course. I also want a more intuitive way to tell user how to customize kubeflow.

[2020-03-11 15:40] DanaHan commented on #4818
@kimwnasptd
Of course. I also want a more intuitive way to tell user how to customize kubeflow.

[2020-03-11 16:15] Shaked commented on #4794
Hey @berndverst

I know it's a bit off-topic but maybe you have an idea regarding https://github.com/Azure/kubernetes-keyvault-flexvol/issues/183?

The problem is that flexvolume is not installed on nodes that were scaled up especially for kubeflow's pipeline job.

[2020-03-11 16:58] lalithvaka commented on #4374
Thank you for the offer. Here I have documented what I have configured and what am running into.
https://github.com/kubeflow/kubeflow/issues/4847
Just to summarize, I have used the build option and updated kustomize/oidc-authservice/base/params.env file to include the Ping Federate OIDC credentials / URLS and my Authservice-0 pod keeps throwing me with the following error every 10 seconds
time="20

[2020-03-11 16:59] Jeffwan commented on #4835
@jiuntian Could you attach logs again? It won't be same because in your original logs, it said crd is unchanged, if you clean up crd, it should show something different. BTW, we just release 1.0.1, I would suggest to try that as well

[code]

[2020-03-11 17:06] yanniszark commented on #4847
@lalithvaka the first step of the OIDC flow is the Provider discovery.
The oidc-authservice hits <provider-url>/.well-known/openid-configuration and gets the OIDC Provider's settings.
This step seems to result in a 404.
Can you check if the <provider-url>/.well-known/openid-configuration is correct?
It should look something like this https://accounts.google.com/.well-known/openid-configuration

[2020-03-11 17:07] webD97 commented on #4374
Looks like something is wrong with your params. Can you reach `https://<oidc-server>/.well-known/openid-configuration` with a browser or curl?

[2020-03-11 17:17] lalithvaka commented on #4374
My OIDC server i can reach from outside using my browser with out corporate firewall. Same with OIDC auth URL as well. Would it be ok to use Slack channel to have a better collaboration? you can find me @Lalith Vaka

[2020-03-11 17:24] lalithvaka commented on #4847
hi @yanniszark Just that I understand, are you saying that our Enterprise OIDC IDP (Ping) should have exposed  https://enterprise OIDC provider URL>.well-known/openid-configuration and it should look like https://accounts.google.com/.well-known/openid-configuration ??

[2020-03-11 18:00] Jeffwan commented on #4839
I doubt if tolerations is supported there. I can help check

[2020-03-11 19:18] KonstantinosAnd commented on #4818
Hello guys! I would be interested in implementing this. @kimwnasptd Would you mind if worked on this one?

[2020-03-11 20:21] joepeskett commented on #4527
I'm having the same issue as described by the original post with both v0.7.1 and v1.0.0 - was there a solution found or a reason for this issue? Can see the @lluunn did not reproduce the issue with cloud-endpoints.

[2020-03-11 20:39] vaskokj opened #4851 "Access external data from Notebook Server"
/kind question

**Question:**
How would I go about accessing external data from within my notebook server? For example, how would I connect to an NFS server? Is this possible without needing to create a new custom docker image?

[2020-03-11 22:09] Jeffwan commented on #4843
@shuaibiyy Please use kfctl v1.0.1 and manifest v1.0.1. They have been released and I will file a PR to website to update the doc

[2020-03-11 22:50] wdhorton commented on #4839
I just ran into this exact same issue. I looked at the code and saw that `PodDefault` does not actually support `tolerations`. I made a PR to address the issue, although maybe there is some alternative that does not require code changes https://github.com/kubeflow/kubeflow/pull/4852

[2020-03-11 22:56] apryiomka opened #4854 "Could not determinte it's EKS cluster MissingRegion: could not find region configuration"
/kind bug

**What steps did you take and what happened:**
Trying to install Kubeflow in AWS EKS cluster using kfctl apply -f kfctl_aws.yaml

**What did you expect to happen:**
Kubeflow is successfully installed

**Anything else you would like to add:**
Running this inside docker container

**Environment:**

- Kubeflow version: 1.0.1:
- kfctl version: (use `kfctl version`): 1.0.1

I am getting an e

[2020-03-12 00:28] LeonardAukea commented on #3362
This is maybe a little much -> https://github.com/ml-tooling/ml-workspace but it has some good things.  I will probably spend a little time next week, to see if I can get something working. Our data sience teams and me included are not solely using notebooks. Also, now that VS Code has nice .ipynb support+ipykernel, jupyterlab is not getting used as much as before.

[2020-03-12 01:35] dynofu commented on #4806
same problem delete v0.7.1 and trying to install v1.0.

[2020-03-12 01:54] dynofu commented on #4806
my situation is v0.7.1 uninstallation left `cert-manager` namespace. after delete the cert-manager namespace by
[code]
kfctl reapply everything works.

[2020-03-12 02:32] xigang commented on #4599
the same problem. how to solve?

![image](https://user-images.githubusercontent.com/3377677/76481526-b1b5df80-644c-11ea-988a-86d50582788c.png)

![image](https://user-images.githubusercontent.com/3377677/76481545-b9758400-644c-11ea-898e-4d38dd1faded.png)

[2020-03-12 07:30] mvwestendorp commented on #4850
Are you sure you have not made a typo? With what you describe, you open port 8080 but try to access 31380

[2020-03-12 07:49] sahilmalav commented on #4850
@mvwestendorp : Yes, you're correct, but I've tried on both. Doesn't seem to work. Moreover, because I was not able to get it working, I deployed a LoadBalancer (MetalLB), created certificates and tried accessing the dashboard at the LoadBalancer IP of the istio-ingressgateway service. But that didn't work either.

I'm attaching the logs of the command **curl -k https://172.16.5.72/ -v**  (172.16.

[2020-03-12 08:38] Minkyu-Choi commented on #4822
Hi there,
from [manifest #375](https://github.com/kubeflow/manifests/issues/375), it looks like manifests deploy problem has been solved on k8s 1.16.

Except API version deprecation made from k8s 1.16, is there any other incompatibility features blocking kubeflow deploy?

We're currently using kubeflow 1.0 on k8s 1.17 and there wasn't any issues so far.

[2020-03-12 09:11] Julianxo commented on #4854
Have you set a region in your kfctl_aws.yaml? (Last line in cutout)

`  plugins:
  - kind: KfAwsPlugin
    metadata:
      name: aws
    spec:
      auth:
        basicAuth:
          password:
            name: password
          username: admin
      region: us-west-2`

Like you find it here in the default config:
https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_aws.v

[2020-03-12 09:37] Oblynx opened #4855 "[auth] application_secret exposed in configmap"
/kind bug

**What steps did you take and what happened:**

I applied the default `kfctl_istio_dex.yaml` configuration and realized that the OIDC client secret, used by the `authservice-0` pod to retrieve the id_token from my OIDC provider, is stored in a configmap and not in a secret. Specifically in `istio-system/oidc-authservice-parameters`.

**What did you expect to happen:**

To store the clie

[2020-03-12 09:55] Jeffwan commented on #4839
Thanks @wdhorton.

[2020-03-12 11:21] kimwnasptd commented on #4818
@KonstantinosAnd sure! We'll need to

1. add another field in the `gpus` section of web app's config.
2. extend the frontend to utilize this field, or show the default `1, 2, 4, 8` options if it doesn't find this setting in the config
3. update the config in the manifests repo

You could tackle the first two in a PR as a first step and then we'll make another one for the manifests.

/assign @Konst

[2020-03-12 11:22] jiuntian commented on #4835
The install log for 1.0.0
[code]

[2020-03-12 11:47] karlschriek commented on #3840
Definitely need this

[2020-03-12 11:51] jiuntian commented on #4835
This is the log for 1.0.1, it stuck on the same stage
[code]

[2020-03-12 12:42] SarathChandran commented on #4761
I tried just the domain name. Also tried custom domain auth.<subdomain>.<domain>.com. But same result. I could see a related log though while re-applying kfclt

`2020/03/12 16:38:59 well-defined vars that were never replaced: origin-header`

How could i fix this from happening?

[2020-03-12 13:51] NicholaiStaalung opened #4856 "Code 500 with message: couldn't copy application kfserving-gateway"
/kind bug

**What steps did you take and what happened:**
Tried to deploy kubeflow on GCP following the official guide. Also using Cloud IAP (Oauth).

After entering `kfctl apply -V -f ${CONFIG_URI}` the following error occured

**What did you expect to happen:**
Deploy kubeflow on GCP

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

The

[2020-03-12 14:30] richardsliu commented on #4834
This is done now.

[2020-03-12 14:30] #4834 closed

[2020-03-12 15:05] karlschriek opened #4857 "Stop and restart Jupyter Servers while maintaining state"
/kind feature

**Why you need this feature:**
I support data science teams with sophisticated Machine Learning toolsets and in particular have several teams right now who are interested in adopting Kubeflow largely because of the Jupyter Notebook functionality.

There is a lot to like about what is on there at the moment: you can customize the image you want to use, you can set the computing resou

[2020-03-12 15:17] yanniszark commented on #4857
/cc @kimwnasptd
/area jupyter
/priority p1

[2020-03-12 15:23] jammingyu9 opened #4858 "AMD not in GPU vendor list?"
/kind question
/kind feature
/area jupyter

Hello,

It seems that previous "External Resources" entry has changed to "GPU Vendor" in Jupyter Notebook
 server since v1.0. (when creating a notebook)
However, I see AMD is missing in the vendor list.
May I know when will it be added?

Thank you.

[2020-03-12 15:40] karlschriek opened #4859 "Remember custom jupyter images"
**Why you need this feature:**
Rather simple feature, but given that users are likely to launch servers from the same custom image multiple times it would be nice if they could be remembered.

**Describe the solution you'd like:**
After clicking on "custom image" a dropdown with the (editable) names of previously used custom images appears.

[2020-03-12 15:50] jlewi commented on #3578
@kimwnasptd are you interested in potentially being a mentor for any GSOC students interested in working on this?

[2020-03-12 15:52] karlschriek commented on #4857
As a workaround for now, the following kubectl commands can be used to trigger stop/restart:

[code]

[2020-03-12 16:08] hwk42 commented on #4856
the same problem appear to macOS 10.15, when deploying with config kfctl_k8s_istio.v1.0.1.yaml. But in 10.14, all is ok.

[2020-03-12 17:22] kslin commented on #4854
I got this error as well using kubeflow 1.0.1, which I didn't get using kubeflow 1.0 (I double checked that I set a region in my kfctl_aws.yaml file). I'm using eksctl 0.14.0 and kubernetes 1.14.7.

[2020-03-12 17:27] apryiomka commented on #4854
@Julianxo the region is set correclty:

[code]

[2020-03-12 17:28] apryiomka commented on #4854
@kslin Unfortunately, i cannot use 1.0.0 as it doesn't have extarnal-mysql overlays for metastore and pipelines.

[2020-03-12 17:33] apryiomka commented on #4854
I am bit confused by the `name` field in the cluster config though:

[code]

Isn't the name supposed to be the cluster name? I am runing `kfctl` as so:
[code]

[2020-03-12 17:38] Jeffwan commented on #4834
Thanks! @richardsliu.  Richard help release Kubeflow v1.0.1. All AWS feature in https://github.com/kubeflow/kubeflow/issues/4719 should be unlocked

[2020-03-12 17:39] Jeffwan commented on #4719
v1.0.1 has been released. We can close this issue.

[2020-03-12 17:39] #4719 closed

[2020-03-12 17:46] Jeffwan commented on #4761
This is ok. Not a problem. The problem is we defined `origin-header` variable but didn't use it here https://github.com/kubeflow/manifests/blob/v1.0.0/aws/aws-istio-authz-adaptor/base/instance.yaml.

Do you mind to share the screenshot of your coginito setting? Please hide the confidential part

[2020-03-12 18:01] Jeffwan commented on #4835
@jiuntian em.. This doesn't seems like an AWS specific problem. istio-install is a common components and it tested it and working fine on EKS.

https://github.com/kubeflow/kfctl/blob/1fe560ef9bdb3e8aac135f0e7ff45e7d097bdf17/pkg/kfapp/kustomize/kustomize.go#L190-L209

Could you help debug this way?

Manually install following manifest in istio-system namespace.
https://github.com/kubeflow/manifests

[2020-03-12 18:07] Julianxo commented on #4854
@kslin

Then I guess it is a bug in version 1.0.1 and @apryiomka is doing nothing wrong. But I am not a kubeflow developer, maybe one is here?

@apryiomka
Why are you running kfctl build? The new documentation of kubeflow v1.0 or newer does not suppose to use this command as you can see here https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/.

Just use **wget** to fetch your config, do you

[2020-03-12 19:49] apryiomka commented on #4854
@Julianxo it is not the build, it is the _official_ release / tag: https://github.com/kubeflow/kfctl/releases/download/v1.0.1/kfctl_v1.0.1-0-gf3edb9b_darwin.tar.gz

it is coming from there: https://github.com/kubeflow/kfctl/releases/tag/v1.0.1

Somehow i assumed to use the 1.0.1 manifest i need 1.0.1 kctl, is it not the case?

[2020-03-12 22:17] jtfogarty opened #4860 "Istio ingress gateway errors in on-prem environment"
/kind bug

**What steps did you take and what happened:**
Installed with kfctl_k8s_istio.yaml on 3 nodes cluster with below specs

- CentOS Linux release 7.6.1810 (Core)
- kernel version 3.10.0-957.12.2.el7.x86_64
- Calico v3.8
- Kubernetes version: v1.15.7

The istio ingress gateway fails with the below error;
[code]
Eventually, the ingress gateway pod will fail with `OOMKilled`

**What did you e

[2020-03-12 22:21] jtfogarty commented on #4860
The below was added to the istio-policy deployment config;
[code]

[2020-03-12 22:26] jtfogarty commented on #4860
The below was changed in the istio-ingressgateway deployment;

FROM
[code]
TO
[code]

[2020-03-12 22:28] jtfogarty commented on #4860
The system has stabilized

[2020-03-12 22:29] woop commented on #2141
Hi @SaiKiranBurle,

Thanks for the interest!

Front and center for us is on-prem and multi-cloud support since not having that would be a deal breaker for integration with Kubeflow. We are directing most of our attention and resources towards either making data sources easier to add, or actually adding those data sources. You can find out more by looking
- [Feast 0.5 Roadmap](https://github.com/go

[2020-03-12 22:37] unix-way commented on #4856
A corresponding issue should probably be created in the kubeflow/manifests repository.
The reason is that the kfserving-gateway manifest is in the master branch of that repository, but not in v1.0-branch, and (hence) not in the manifests archive, to which the definition file refers. A quick solution is to replace `https://github.com/kubeflow/manifests/archive/v1.0-branch.tar.gz` with `https://gith

[2020-03-12 22:51] unix-way commented on #4856
The issue is already there: https://github.com/kubeflow/manifests/issues/991
And you can use https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_gcp_iap.yaml

[2020-03-13 00:57] avdaredevil commented on #4599
/cc @kunmingg For debugging

/cc @truptinayak

[2020-03-13 01:57] sshakeri commented on #4724
It's looking for [app.yaml  ](https://github.com/itcabb/kubeflow-kubeflow/blob/1007eac1b4453508b325d7f5a88705bd498a4add/bootstrap/pkg/kfupgrade/kfupgrade.go#L182). Seems like this deprecated in the new kfctl.

Changing the old yaml deployment to app.yaml and running the upgrade will kick off the upgrade, depending on your version it might work. My upgrade ultimately failed. I am going to start cle

[2020-03-13 02:02] sshakeri commented on #4856
I too got this error for V1.0.1, switching to V1.0.0 got me passed the kfserving-gateway issue.

It ultimately failed during update with this error

`Deployment.apps "webhook" is invalid: spec.selector: Invalid value: v1.LabelSelector{MatchLabels:map[string]string{"app":"webhook", "app.kubernetes.io/component":"knative-serving-install", "app.kubernetes.io/instance":"knative-serving-install-v0.11.1

[2020-03-13 03:39] Bobgy commented on #4803
To workaround this issue in our own cluster, please refer to https://github.com/kubeflow/pipelines/issues/3069#issuecomment-595043632

[2020-03-13 04:13] MnrGreg commented on #4827
@vaskokj Just to add- I did a completely new install with the kubeflow v1.0 release without any issues and without have to change anything. This was using PVCs from nfs-client-provisioner.

[2020-03-13 05:48] Lordfourteen commented on #3749
I try to uninstall kubeflow via `kfctl delete -f ${CONFIG_URI}` after getting a lot of ImagePullBackOff pod in kubeflow namespace, then I get an error below:

NAME              STATUS        AGE
cert-manager      Active        20h
default           Active        115d
ingress-nginx     Active        80d
istio-system      Active        20h
knative-serving   Active        19h
kube-node-lease   Active

[2020-03-13 09:11] krishnadurai commented on #4856
We are yet to release the fix for this issue on v1.0 release. Please install with: https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_gcp_iap.yaml as mentioned in the earlier comment.

[2020-03-13 10:29] sshakeri commented on #4856
I am not on gcp, is it supposed to work for no gcp deployments?

```(kubeflow.error): Code 500 with message: coordinator Init failed for gcp: Gcp.gcpInitProject Could not initatie a GCP client: initGcpClient failed to create default token source: google: could not find default credentials. See https://developers.google.com/accounts/docs/application-default-credentials for more information.```

[2020-03-13 10:47] NicholaiStaalung commented on #4856
Tried it and it got past the error. But i got a new one which ill post in the other issue.

[2020-03-13 10:47] #4856 closed

[2020-03-13 11:00] NicholaiStaalung commented on #4856
And thanks btw!

[2020-03-13 11:35] tech348712013870132 opened #4861 "How to set custom nodeSelector for complete setup"
/kind question

**Question:**

Is it possible to say kfctl that all deployments should be created with a specific and custom nodeSelector on setup?
We are using the latest kfctl_istio_dex.yaml and kfctl version for our kubernetes setup but not yet figured out how to accomplish this (or have we maybe overlooked the possibility?)

We would really love to see an implementation for this feature :)

[2020-03-13 11:36] tech348712013870132 commented on #4433
Please also take a look at: #4861

[2020-03-13 12:41] SarathChandran commented on #4761
![ap-client](https://user-images.githubusercontent.com/4623218/76621646-587fa600-6549-11ea-982c-b83ad39ddda8.png)
![cust-domain](https://user-images.githubusercontent.com/4623218/76621650-5a496980-6549-11ea-9f93-dacdb99d1ca5.png)
![kf-config](https://user-images.githubusercontent.com/4623218/76621712-78af6500-6549-11ea-8c02-3785bff62ed6.png)

[2020-03-13 12:50] jlewi commented on #4860
@jtfogarty how many pods are in the ingress gateway?

/cc @krishnadurai @yanniszark

[2020-03-13 12:59] jlewi commented on #4789
@Tabrizian sorry for the delay. I think its a bit more involved then that.

Here's how our CD currently works.

* We have a [Tekton pipeline](https://github.com/kubeflow/testing/blob/master/apps-cd/pipelines/base/pipeline.yaml) that consists of two tasks

   * A tekton task to build the docker imake using Kaniko
   * Tekton task to run a python script [create_manifests.py](https://github.com/kubef

[2020-03-13 15:04] jtfogarty commented on #4860
@jlewi Not sure what you asking but I'm seeing the below;
[code]
I did reduce the replicas from 3 to 1 in the istio-ingressgateway deployment

[2020-03-13 16:19] vaskokj commented on #4827
@MnrGreg So I think I figured out the issue with the help from some of the people on the mysql container.

So Docker/Kubernetes, NFS client provisioner is essentially injecting the NFS mount automatically into the container. It fails with the above error, we established that. I could go into the mysql container with command: [ "/bin/sh", "-c", "sleep 100000" ] and could see the mount with df -h, a

[2020-03-13 18:46] KaviyaPeriyasamy commented on #3578
@kimwnasptd. I am interested to do my gsoc contribution for this project.Can you guide me for the next steps and environmental setup?

[2020-03-13 19:51] Jeffwan commented on #4761
@SarathChandran Thanks. I compare with my setting, I think the only thing different is you use your own domain. I think the setting is correct.

1. Have you ever tried to use Cognito domain?

This is my setting.
![image](https://user-images.githubusercontent.com/4739316/76654752-f747da80-6528-11ea-8554-ec606a99df7f.png)

[code]

2. Do you have certificate in N.Virginia for your own domain?  Becaus

[2020-03-13 21:12] shuaibiyy commented on #4843
Awesome! thanks @Jeffwan

[2020-03-13 23:36] yanniszark commented on #4860
@jtfogarty this seems to be a matter of not giving enough CPU/RAM to the ingressgateway then?
If so, is it resolved now that more resources were given?

[2020-03-14 00:21] lalithvaka commented on #4847
Hi @yanniszark , @krishnadurai  can you please comment on the above configuration if am updating the OIDC parameters in the right file? kustomize/oidc-authservice/base/params.env ? Appreciate your help.

[2020-03-14 07:46] tall-josh commented on #3936
any news?

[2020-03-14 10:00] #3787 closed

[2020-03-14 13:57] krishnadurai commented on #4847
@lalithvaka It would be better to set parameters in the kfdef:
https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_istio_dex.yaml#L82-L95

Any parameter you set here overrides the parameter set in `kustomize/oidc-authservice/base/params.env`

[2020-03-14 14:09] krishnadurai commented on #4847
It must be possible for you to start a shell in the authservice pod (or create one pod in authservice's namespace - istio-system) to check if there's an appropriate response from a curl command.

[2020-03-14 14:16] yanniszark commented on #4847
@lalithvaka the parameters end up as environment variables on the oidc-authservice statefulset, in the istio-system namespace.
You can try editing those for quicker iterations.

[2020-03-14 15:13] jiuntian commented on #4835
It stuck for a while and fail.

This is full log when install manifest in istio-system
[code]

[2020-03-14 15:30] jiuntian commented on #4835
It stuck for a while and fail.

This is full log when install manifest in istio-system
[code]

[2020-03-14 15:54] SarathChandran commented on #4761
Hi @Jeffwan , I have tried both step 1 and 2

[2020-03-14 16:37] jiuntian commented on #4835
@Jeffwan In my last trial, i can complete the installation of `istio-install` without problems, but I am not sure why it is as well, since I didn't did any changes beside just delete and re-install.

But, I stuck at another step again, and it took a lot retries and a very long time to fail:
[code]

[2020-03-14 17:13] jiuntian commented on #4835
When run `kubectl get apiservice`
i got:
[code]

[2020-03-14 17:40] jtfogarty commented on #4860
@yanniszark The system has stabilized. I need to test if removing the istio-policy deployment config changes for the mixer causes issues

[2020-03-14 17:42] jtfogarty commented on #4707
This issue can be closed.  It appears to be related to #4860

[2020-03-15 08:57] keeplearnin commented on #4724
@sshakeri ya i figured by letting kfctl print out the two values... I think the documentation is really vague. Let me submit a PR for an update on documentation.

[2020-03-15 09:25] ChethanUK commented on #4574
.

[2020-03-15 16:25] fsaina commented on #4854
Set the region of your aws cli and it will work:

`aws configure set default.region us-west-2`

But this is a bug because kfctl completely ignores the region set in the .yaml file and just uses the aws cli default.

[2020-03-15 20:08] jlewi commented on #4566
@animeshsingh is this issue still relevant or should we close it?

[2020-03-15 20:25] #4707 closed

[2020-03-15 20:43] jlewi commented on #4589
@Naveen-Jayaram we are moving most of the Kubeflow docker images to be based on the distroless docker images which should fix many (but possibly not all vulnerabilities) (see kubeflow/community#321).

Can you open up specific issues about individual images? That will help us track and fix.

[2020-03-15 20:44] jlewi commented on #4590
Are we using this issue to track migrating our images to distroless images? If so should we change the title of this issue?

[2020-03-15 20:51] katylava commented on #4819
Was having the same issue, so thanks for sharing your solution @denisl78!  How did you figure it out?

[2020-03-15 21:58] #3512 closed

[2020-03-16 02:37] jlewi commented on #3838
@supertetelman The notebook custom resource should contain a pod template spec which should allow you to set the command to be executed on startup. So the web app would just need to set that in order to override the entrypoint set in the docker image.

[2020-03-16 02:45] sssyyw commented on #4854
@fsaina, I ran into the same issue. Setting the region using aws cli does not work for me...

[2020-03-16 02:56] jlewi opened #4863 "Notebook Images : Change owner to jovyan of /home/jovyan"
/kind bug

We create the home directory /home/jovyan here
https://github.com/kubeflow/kubeflow/blob/296bf145c33afd65b60f2e0e3e62b781c1330386/components/tensorflow-notebook-image/Dockerfile#L90

but we don't change the owner and group to be jovyan and users respectively.

When using the docker image with Kubeflow notebooks that doesn't matter because we end up overwriting /home/jovyan with a volume

[2020-03-16 06:22] Bobgy commented on #4569
/remove lifecycle/stale

[2020-03-16 06:22] Bobgy commented on #4569
/assign @Bobgy
/cc @avdaredevil @chensun

[2020-03-16 06:42] Jeffwan commented on #4835
@jiuntian I think it's related to this. https://github.com/kubeflow/kubeflow/issues/4778

delete ns cert-manager won't delete webhook definition.

[2020-03-16 07:18] Everret-moon opened #4864 "ERROR 1049 (42000): Unknown database 'katib'"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I have install kubeflow via kfctl_k8s_istio.v1.0.1.yaml on existed kubernetes cluster v1.14.4.
all pod were running properly except two: katib-mysql and katib-db-manager

[vimer@xushangming-dev ~]$ kubectl  -n kubeflow describe pod  katib-mysql-57884cb488-6gg98
Name:               katib-

[2020-03-16 07:32] Lordfourteen commented on #4864
I have redeployed kubeflow by command `kfctl apply -V -f kfctl_k8s_istio.v1.0.1.yaml` after getting the full name list of necessary docker images and downloading them manually.
How can I fix this problem?

[2020-03-16 09:23] Lordfourteen commented on #4864
After I attached into the katib-mysql container, I found that the password of mysql is unset,
then I set it manully with the default value.
`"mysql -D ${MYSQL_DATABASE} -u root -p${MYSQL_ROOT_PASSWORD} -e 'SELECT 1'"`

value of variable `MYSQL_DATABASE` is katib which didn't exist in database? All the related PVs claimed by glusterfs storage class seems working properly. This really confused me. C

[2020-03-16 09:23] denisl78 commented on #4819
Hi
1. Clone this project
`git clone https://github.com/kubeflow/kubeflow.git`
`cd kubeflow`

2. Change base image for centraldashboard from node-10 to node-12
`sed -i "s/10-alpine/12-alpine/g" components/centraldashboard/Dockerfile`

3. Build centraldashboard with new changes
`docker build -t centraldashboard:node-12 components/centraldashboard/`

4. Tag docker for push to ECR
`docker tag centrald

[2020-03-16 09:51] urekalion commented on #4819
@denisl78  thanks u for your solution, for me, it's worked.

[2020-03-16 09:52] urekalion commented on #4832
in my case, denisl78's solution is worked in #4819

[2020-03-16 10:05] denisl78 commented on #4850
With
`kubectl port-forward svc/istio-ingressgateway -n istio-system 8080:80`
forwarding to your http://localhost:8080

[2020-03-16 10:10] Bobgy opened #4865 "[KFAM] LivenessProbe doesn’t work with istio mutual TLS"
/kind feature

**Why you need this feature:**
I'd like to enable istio mutual TLS and add some authorization rules to KFAM to secure profile control.
However, when KFAM is injected with an istio sidecar, it keeps crashing loop because the liveness probe cannot reach KFAM after mTLS is enabled.

Exactly documented by istio in https://istio.io/docs/ops/configuration/mesh/app-health-check/#liveness-a

[2020-03-16 10:10] Bobgy commented on #4865
/cc @kunmingg

[2020-03-16 10:14] sahilmalav commented on #4850
@denisl78 : I want to access it on the Istio Ingress NodePort externally, but I haven't been able to. I want to access it on **<master-node-IP>:31380** (or **31390** for https). For that, I executed `kubectl port-forward svc/istio-ingressgateway -n istio-system 31380:80` and changed the type of **_istio-ingressgateway_** service to **NodePort**. But that doesn't seem to work. Any idea what I'm doi

[2020-03-16 10:42] bnussbau opened #4866 "How to configure istio On-Prem to complete Let's Encrypt Challenge?"
/kind question

**Question:**

 I modified the kctl_istio_dex.yaml (kubeflow version 1.0) file to include the letsencrypt overlay and set the parameters
[code]
I see the letsencrypt cluster issuer, a certificate request (Message:  Waiting on certificate issuance from order kubeflow/ingress-cert-3687639054-858257646: "pending" ) , an Order with a challenge, an Ingress
[code]
My Gateway
[code]
Probl

[2020-03-16 12:46] jlewi commented on #4864
/cc @hougangliu @andreyvelich @gaocegege

[2020-03-16 12:49] jlewi commented on #4858
If your cluster supports AMD GPUs then you could customize the jupyter web app config to include AMD.

https://github.com/kubeflow/manifests/blob/5b2ecb760b36cd95fea1071a761b2659225eb0e2/jupyter/jupyter-web-app/base/config-map.yaml#L116

Until AMD GPUs are widely available in Cloud and well supported by ML software like TensorFlow its unlikely we would make AMD part of the default.

[2020-03-16 12:49] #4858 closed

[2020-03-16 12:52] jlewi commented on #4861
This is currently not possible.

Could you explain more why you want to use a custom node selector?

If you wanted to do this you'd probably need to run `kfctl build` and then customize/hack the resulting kustomize manifests in ${KFAPP}/kustomize to attach custom node selectors.

You might want to investigate creating a custom kustomize plugin (e.g. a transformer) to make it easy to automatically

[2020-03-16 12:54] jlewi commented on #4866
If you are running on prem you most likely don't want to or can't use Lets Encrypt Challenge because that requires that your endpoint is publicly accessible which you most likely don't want to do.

You would most likely want to generate certificate some other way (e.g. a self-signed certificate) and then upload it to the cluster.

/cc @jtfogarty @johnugeorge @yanniszark

[2020-03-16 13:12] bnussbau commented on #4866
in that case the endpoint is publicly accessible, i'm just not able to configure istio correctly

[2020-03-16 13:15] tech348712013870132 commented on #4861
The reason we are searching for this setting is that we have one big cluster with different node pools and want to prevent that the kubeflow microservices are spawning randomly in all pools which can cause node resource overload.

So our abstract goal can be described as limiting all kubeflow deployments to one specific node pool that suits the specific hardware requirements of the kubeflow deploy

[2020-03-16 13:25] krishnadurai commented on #4590
@jlewi I've changed the title as suggested.

[2020-03-16 15:40] andreyvelich commented on #4864
@Lordfourteen For some reason mysql didn't run properly, so katib-db-manager can't make connection to mysql db, create Katib db, etc.

Can you try to change `imagePullPolicy: Always` in `katib-mysql` deployment in Kubeflow namespace. It will create mysql pod again. Check mysql pod logs after it.

Also, check if you created secret with Katib DB password while deploying Kubeflow.

[2020-03-16 16:49] jammingyu9 commented on #4858
Okay, thank you for the config.

[2020-03-16 17:01] Jeffwan commented on #4854
/assign

[2020-03-16 17:24] Jeffwan commented on #4854
[code]

Hi all, please don't be confused about this. This was used to created a kubeflow with a new EKS cluster. Now, the recommend path is to deploy kubeflow on existing EKS cluster which means this file is not helpful.

[code]
 This indicates that is failed here.

https://github.com/kubeflow/kfctl/blob/1fe560ef9bdb3e8aac135f0e7ff45e7d097bdf17/pkg/kfapp/aws/aws.go#L710-L716

it uses default resol

[2020-03-16 17:25] Jeffwan commented on #4854
@apryiomka @fsaina @sssyyw @kslin @Julianxo

The problem we have more issues in 1.0.1 is because we use isEKscluster to check if we apply some EKS specific logic like IAM for service account, etc.

[2020-03-16 17:44] crobby commented on #4566
I have not tried this with 1.0 yet, but I suspect it is likely to still be an issue.

[2020-03-16 19:36] vivekpd15 commented on #4718
@jlewi I am getting the same in my 1.0.1 cluster.

Logs from the pod are:
❯ kubectl logs centraldashboard-6944c87dd5-w28ht -n kubeflow --previous

Any resolution ideas? Help would be much appreciated.

[2020-03-16 19:53] SarathChandran commented on #4761
Hi @Jeffwan , i finally figured the issue.. it was to do with callback url: https://www.kubeflow.org/docs/aws/custom-domain/#using-custom-domain

Please accept the PR: https://github.com/kubeflow/website/pull/1815/files

It was proper in the screenshots though.

[2020-03-16 22:13] MnrGreg commented on #4827
@vaskokj The NFS backend in our case was an Isilon. At one point we had "Windows Mode" enabled on the Export which might have caused similar issues to what you experienced above.

I'm not 100% sure what the correct route is to add NFS parameters. Some of the old code seems to suggest one can do it within the StorageClass with `mountOptions`
https://github.com/kubernetes-incubator/external-storage/

[2020-03-16 22:56] Jeffwan commented on #4761
@SarathChandran Feel so sorry for the confusion. I appreciate your help fix the doc. It looks good to me and waiting for sarah to approve that. Please sign CLA.

[2020-03-16 22:58] #4274 closed

[2020-03-16 23:41] Jeffwan commented on #4802
@karlschriek have you tried 1.0.1? I think it should not be a problem for 1.0.0 and 1.0.1. I am curious why it happen.. We replace the name from `AWS_CLUSTER_NAME` right?

[2020-03-16 23:51] avdaredevil commented on #4569
Thanks for making this issue!

[2020-03-17 01:55] imskr commented on #4863
Can I fix this?

[2020-03-17 02:32] dagondagon666 commented on #3975
Still need to change ClusterRbacPolicy to OFF when installing with 1.0.1. Is this normal?

[2020-03-17 02:34] Lordfourteen commented on #4864
@andreyvelich, I have changed `imagePullPolicy` to `IfNotPresent` already, it's not a imagePullErr,
and the `katib-mysql-secrets` have been created in the namespace `kubeflow` already.

[2020-03-17 02:36] jbottum commented on #4573
@supertetelman Hey Adam, is this still a requirement that your user/customer wants?

[2020-03-17 02:58] #4557 closed

[2020-03-17 02:58] #4555 closed

[2020-03-17 02:58] #4553 closed

[2020-03-17 02:59] Bobgy commented on #4569
/priority p1

[2020-03-17 02:59] Bobgy commented on #4569
/remove-priority p2

[2020-03-17 03:04] #4801 closed

[2020-03-17 03:20] Bobgy commented on #4569
Estimated efforts is 1~1.5 weeks, we need the relevant updates to the 2 other components, namespace selector (trivial if any), registration flow (also perhaps trivial), and tests

Some notes for how to develop:
* First time only:
[code]
* Run the commands in two separate terminals: `npm run dev` and `kubectl port-forward svc/profiles-kfam 8081:8081`

To override user identity when developing local

[2020-03-17 04:43] Bobgy commented on #4865
@kunmingg Is there any ETA for istio 1.4.5 upgrade?
Will it be possible within 2 weeks? I want to know if I can wait for it, if not I can try to contribute the separate port fix.

/assign @Bobgy

[2020-03-17 06:32] Lordfourteen commented on #4864
@andreyvelich , Hi, I have noticed that there were some extra operations to done while check the logs of mysql pod `mysql-598bc897dc-znrlm`, thus I entered following comands:
[code]
After restart the katib-mysql pod, it complains me that `MYSQL_DATABASE` katib doesn't exist.

I'm quite a novice for Katib, and I also don't get any instructions in the documents about it,
How can I setup it properly?

[2020-03-17 07:46] SarathChandran commented on #4761
I have signed the CLA. Can i get an invite to kubeflow slack channel?

[2020-03-17 08:27] gtarcoder commented on #4832
thanks, that works.

[2020-03-17 08:27] #4832 closed

[2020-03-17 08:28] gtarcoder commented on #4832
#4819 seems caused by this bug.. It can be resolved following #4819.

[2020-03-17 10:26] krishnadurai commented on #3975
@dagondagon666 the config kfctl_k8s_istio.yaml already has ClusterRbacPolicy set to OFF.

[2020-03-17 10:57] sahilmalav commented on #4850
UPDATE: Was able to get it working. The issue was with my auth-service pod in Istio. Once I got that fixed, I was able to access the dashboard.

[2020-03-17 10:57] #4850 closed

[2020-03-17 12:06] andreyvelich commented on #4864
@Lordfourteen Katib db manager makes connection to Katib mysql DB and creates Katib db there, etc. You don't need to run any commands manually on mysql DB. Katib db manager should create eveything for you.
Can you show me output of Katib mysql service:
`kubectl get svc katib-mysql -n kubeflow`

 Also describe Katib db manager pod:
`kubectl describe pod <katib-db-manager pod name> -n kubeflow`

[2020-03-17 14:06] fsaina commented on #4854
@sssyyw just tried it, you are right it's not the aws cli tool config, it's the AWS_REGION env variable. After that it works on 1.0.1, for me at least.

`export AWS_REGION=eu-central-1`

[2020-03-17 14:25] mvwestendorp commented on #4864
I have been having the same issue. Like @Lordfourteen I edited the root user. I have also tried creating the katib database and add more privileges (host=%) to the root account in the katib-mysql pod. This makes katib-mysql work, but katib-db-manager still fails.

Now, when trying to running mysql commands (e.g.: show databases;) in katib-mysql I get the following error:
`ERROR 1449 (HY000): The u

[2020-03-17 15:30] yantriks-edi-bice opened #4868 "Upgrading 1.0.0 to 1.0.1 fails with "couldn't copy application kfserving-gateway""
/kind bug

**What steps did you take and what happened:**

YNTKLLC-EDI:kubeflows edibice$ kfctl apply -f /Users/edibice/kubeflows/kfctl_upgrade_gcp_iap_1.0.1.yaml -V
INFO[0000] Downloading /Users/edibice/kubeflows/kfctl_upgrade_gcp_iap_1.0.1.yaml to /var/folders/3z/w4wzm1796659_8v7xc7z75gm0000gn/T/119420020/update.yaml  filename="v1alpha1/application_types.go:129"
INFO[0011] Found KfCfg with match

[2020-03-17 16:49] andreyvelich commented on #4864
@mvwestendorp I think you have problem with `katib-mysql` deployment. While searching, I saw that your error can happen when you downgrading mySQL versions.

Can you try to deploy just `katib-mysql` fresh deployment with pulling `mysql:8` image and make sure that it is running without any errors?
You don't need to deploy `katib-db-manager`

[2020-03-17 17:19] apryiomka commented on #4854
@Jeffwan setting default aws region didn't work for me, please re-read my very first comment

[Unless there is an undocumented feature](https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-envvars.html):

[2020-03-17 17:30] FKSI opened #4870 "Kubeflow UI install + GCP Cloud Filestore"
Hi,

I'm trying to follow [Using Cloud Filestore
](https://www.kubeflow.org/docs/gke/cloud-filestore/) guide but I have installed Kubeflow on GCP via the UI. It seems that the guide is only for CLI installation.

Is there a hidden guide? :)

[2020-03-17 18:00] lalithvaka commented on #4847
Hi @krishnadurai My pod is not starting with constant msgs in the logs as following. Am not sure if there is an alternate to this unless I tear the entire cluster and redeploy. As you know kfctl delete won't work as I have deployed istio as well for me to redeploy kubeflow alone.

My authservice-0 log showing as follows
➜ kubectl logs authservice-0 -n istio-system
time="2020-03-09T22:08:39Z" level

[2020-03-17 18:28] jtfogarty commented on #4770
/platform gcp

[2020-03-17 18:45] jtfogarty commented on #4870
/kind question
/area gcp
/priority p2

[2020-03-17 18:59] kunmingg commented on #4865
Do you have an open issue for enabling istio mutual TLS and add some authorization rules to KFAM?
Can you add details in the issue?

[2020-03-17 19:29] krishnadurai commented on #4847
Could you possibly deploy another sleep pod to the istio-system namespace?

You could curl from this pod to get the well-known configuration url's
output.

On Tue, Mar 17, 2020, 11:30 PM Lalith Vaka <notifications@github.com> wrote:

[2020-03-17 21:13] sarahmaddox commented on #3578
/area gsoc

[2020-03-17 21:18] sarahmaddox commented on #3578
@jlewi Please could you check the label sync job? I added the `area/gsoc` label in PR https://github.com/kubeflow/testing/pull/623.

[2020-03-17 22:14] Jeffwan commented on #4761
please use this link for this moment.
https://join.slack.com/t/kubeflow/shared_invite/zt-cpr020z4-PfcAue_2nw67~iIDy7maAQ

[2020-03-17 22:25] PatrickXYS commented on #4854
Hi all, a quick workaround for this issue is:
[code]
This can make session read configuration information from config file (`~/.aws/config`).

[2020-03-17 22:36] PatrickXYS commented on #4854
@apryiomka Since according to the [AWS SDK Go doc](https://docs.aws.amazon.com/es_es/sdk-for-go/v1/developer-guide/configuring-sdk.html), we should set the region with
[code]
For reference:
![image](https://user-images.githubusercontent.com/23116624/76907782-562c8d00-6864-11ea-9844-a4bc74390142.png)

But this is just for workaround, I'll fix it in the PR and you can see it in the next patch revisi

[2020-03-17 23:49] lalithvaka commented on #4847
Hi @yanniszark I was able to change the configuration and redeploy oidc-authservice kustomizeconfig with out deleting the whole cluster / kubeflow install. But now I am running into "Error opening bolt store: open /var/lib/authservice/data.db: permission denied" error. And the authservice statefulset goes into crashloopback error. Am not sure if need to create a local Persistent Volume?

➜ kubectl

[2020-03-18 00:31] animeshsingh commented on #4808
think this is critical - we deployed Tekton with alongside Kubeflow on the same cluster, and it started watching that as well, which is precisely the kind of behavior we need to limit Kubeflow for.

[2020-03-18 00:58] Bobgy commented on #4865
Thanks! I will create such an issue

[2020-03-18 00:58] Bobgy commented on #4865
This can depend on https://github.com/kubeflow/manifests/issues/1024 for istio upgrade.

[2020-03-18 01:16] Lordfourteen commented on #4864
@andreyvelich Sure,
1. This is the details of katib-mysql service:
[code]
2. This the outputs of descripe katib-mysql pod:
[code]

Beside, I'm quited confused that there are two pods in the namespaces `kubeflow`, one is for `mysql`
using docker image `mysql:5.6` while another for `katib-mysql`  using `mysql:8` instead. Why do kubeflow use two different version of mysql?

[2020-03-18 01:40] Oblynx commented on #4866
I tried to go through the istio gateway but failed to route traffic to the `cm-acme-http-solver-` service. However this service is of type NodePort.
I ended up using my external load balancer to redirect traffic to <hostname>/.well-known to the node port of this service. It's definitely not an ideal solution, because I suspect auto-renewal won't work without reconfiguration.

[2020-03-18 02:20] Lordfourteen commented on #4864
@andreyvelich

I'm not quite sure if I can think of it this way.  First of all, when pod of `katib-mysql` startup, mysql8.0 didn't have original password. Then Katib db manager will connect to mysql to finish this operation. and when Katib db manager successed to connect to mysql, it would create katib db there.

Current problem is that katib db manager couldn't connect to it. Is there anything wr

[2020-03-18 02:25] Lordfourteen commented on #4864
@mvwestendorp If you have solved this problem, notice to me please.

[2020-03-18 02:56] jlewi commented on #3866
I would prefer not to change the cluster level default.

Every since Kubeflow added multi-user support the only thing that should be running in the kubeflow namespace should be the shared services that get deployed when Kubeflow is deployed.

So there shouldn't be dynamic services (e.g. TFJobs) running in the kubeflow namespace. The exception was pipelines but the goal of this work is to move pipe

[2020-03-18 03:44] Bobgy commented on #3866
Sounds good with the high level plan as long as dynamic workloads are not in kubeflow namespace.
Then I will
* try to patch the TFJob test
* update KFP to always add istio sidecar disabled before multi user mode is completely turned on

[2020-03-18 09:37] mvwestendorp commented on #4864
Just to clarify:
- I have not upgraded/downgraded mysql manually
- Using NFS for persistent volumes, no problems with other pods (nfs-client-provisioner). Although there were some issues when setting it up intitially
- I have deleted all the persistent volumes before redeploying

Given @andreyvelich suggestion I have tried:
- Removing mysql images from docker `docker rmi mysql:{tag} -f` on all nod

[2020-03-18 10:49] Bobgy opened #4871 "Secure KFAM with mutual TLS and istio authorization rules"
/kind feature

**Why you need this feature:**
[Is your feature request related to a problem? Please describe in details]
Unblocks KFP multi user support https://github.com/kubeflow/pipelines/issues/3241
Kubeflow pipelines is working on a secure multi user deployment in Kubeflow.

One of the security concern is that some endpoints in KFAM allows user to create namespace or add contributor to a name

[2020-03-18 10:50] Bobgy commented on #4871
/cc @kunmingg

[2020-03-18 10:50] Bobgy commented on #4871
/assign @Bobgy

[2020-03-18 10:51] Bobgy commented on #4865
@kunmingg Created KFAM related issue in https://github.com/kubeflow/kubeflow/issues/4871.

[2020-03-18 10:56] tanguycdls commented on #3773
it now works

[2020-03-18 10:56] #3773 closed

[2020-03-18 13:09] matheusjericoo opened #4872 "Configuration webapi endpoint in Kubeflow - GCP"
**/kind question**

Hello, I'm having trouble setting up API access for the webapi container (api Flask to make predictions) in the kubeflow pipeline.
I created a pipeline with three containers (pre-processing, training and API). I deployed containers in Container Registry. The pipeline was created and is working, but i dont know how to access the API.
- The pre-processing container reads data on

[2020-03-18 13:17] Archa91 opened #4873 "Upgrade from 0.7.1 to 1.0.1: spec.selector field is immutable"
/kind bug

Hi ! I successfully upgraded my kubeflow 0.7.1 to 1.0.1 but not without difficulties. So I wanted to share with you my experience and ask a little question by the way :)

**What steps did you take and what happened:**
I follow steps described at https://www.kubeflow.org/docs/upgrading/upgrade/

Here is my upgrade file:
[code]

Following the documentation, I started my upgrade with a `kf

[2020-03-18 13:37] prcastro commented on #3932
@jlewi was this issue fixed for you?

[2020-03-18 14:32] cspavlou commented on #4714
@jlewi , I think we should close this issue

[2020-03-18 15:52] PatrickXYS commented on #4848
/assign

[2020-03-18 15:56] yanniszark commented on #4865
@Bobgy you may find this section useful: https://istio.io/faq/security/#k8s-health-checks

[2020-03-18 15:57] yanniszark commented on #4871
@Bobgy keep in mind that in order to use `source.principal`, the requesting service has to have an Istio sidecar injected as well, in order to use mutual TLS.
So I believe your solution needs an additional step, which is to inject istio sidecar for Central Dashboard and KFP API Server.

[2020-03-18 15:59] yanniszark commented on #4848
/cc @kimwnasptd

[2020-03-18 15:59] yanniszark commented on #4848
/area jupyter
/priority p1

[2020-03-18 16:19] siddharthjain1611 opened #4874 "Create a sample for notebook to Kubeflow deployment using Tensorflow 2.0 Keras"
A sample notebook to Kubeflow deployment using Tensorflow 2.0 Keras

It is needed to Launch training/hyperparameter tuning jobs on the cluster and Deploy the model using KFServing
 This issue is raised with respect to the GSoC 2020 project ideas, I Siddharth Jain would love to work on this project in my summer in GSoC 2020. Therefore, I request the community to please guide and help me through the

[2020-03-18 16:24] Kulikovpavel opened #4875 "application-controller produces logs in stderr"
/kind bug

**What steps did you take and what happened:**
Deploy kubeflow 1.0 on GCP
After deploy, application-controller starts to print logs in stderr, that leads to ERRORs in stackdriver

**What did you expect to happen:**
All logs will be in stackdriver as stdout

**Environment:**

- Kubeflow version: 1.0
- kfctl version:
- Kubernetes platform: GCP
- Kubernetes version:
- OS (e.g. from `/etc/o

[2020-03-18 17:14] dagondagon666 commented on #3975
No I think it set to "ON"?

https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_istio_dex.v1.0.1.yaml#L46

[2020-03-18 17:22] chelarua opened #4876 "Installing kfctl_istio_dex fails"
/kind bug

**What steps did you take and what happened:**
I'm trying to deploy on an on-prem/baremetal k8s environment following the instructions here: https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex. The apply fails with:

`ERRO[0635] Permanently failed applying application cert-manager; error:  (kubeflow.error): Code 500 with message: Apply.Run  Error error when creating "/tmp/kout2376

[2020-03-18 19:42] krishnadurai commented on #3975
@dagondagon666 here's the file for kfctl_k8s_istio.yaml:

https://github.com/kubeflow/manifests/blob/8e6548d7a0beed5309b44472818cbee2afebd95a/kfdef/kfctl_k8s_istio.v1.0.1.yaml#L42

Whereas kfctl_istio_dex.yaml is an auth enabled setup and will have the setting as 'ON'.

[2020-03-18 21:34] dagondagon666 commented on #3975
Ahh you are right, I recalled the wrong issue (or story) actually. For this thread we are using the kfctl_k8s_istio.yaml and for #4846 it's using the dex one

[2020-03-19 00:17] Bobgy commented on #4871
Exactly! I forgot to mention that.
FYI, I've got full set of manifests working with KF 1.0 in https://github.com/Bobgy/manifests/pull/3/files. I'm gradually trying to merge my changes there to KF manifest repo.

[2020-03-19 01:15] gyliu513 commented on #3706
This project https://github.com/IBM/operand-deployment-lifecycle-manager can help to install kubeflow operators.

[2020-03-19 02:18] Bobgy commented on #4865
@yanniszark Thanks!

This seems also a good alternative.

[2020-03-19 05:44] #4567 closed

[2020-03-19 05:44] #4565 closed

[2020-03-19 05:44] #4564 closed

[2020-03-19 05:44] #4562 closed

[2020-03-19 05:44] #4554 closed

[2020-03-19 06:57] fojtami1 commented on #3362
@LeonardAukea Same here. We have Docker image with both Jupyter and code-server running but only Jupyter is accessible in Kubeflow. It would be good to have some generic mechanism on how to expose any http service running in Kubeflow custom image.

[2020-03-19 07:53] chelarua commented on #4876
Tried with manually installing cert-manager and removing cert-manager reference from the kfctl_istio_dex.yaml and the apply worked now.

[2020-03-19 07:54] karlschriek commented on #3362
@LeonardAukea ml-workspace actually looks like it will cover a lot of the requirements that data science teams are constantly giving me as feedback that they need from Jupyter. Especially these points keep coming up:

🔀 Seamless Git integration optimized for notebooks.
🚪 Access from anywhere via Web, SSH, or VNC under a single port.
🎛 Usable as remote kernel (Jupyter) or remote machine (VS Code) v

[2020-03-19 10:44] saisona commented on #4861
@tech348712013870132 I'm currently searching for the same purpose of you ! Fell free to share any informations with me, as I will do the same

[2020-03-19 13:36] Lordfourteen commented on #4864
@mvwestendorp I am sorry to reply you until now. I will try this way later.

[2020-03-19 13:53] joey100 commented on #4788
@krishnadurai Upper profile manager log showed there was connection issue to the kubernetes apiserver, that may be a problem. Fortunately, the connection issue has been fixed now,it's firewall rule issue. I created a new profile, created cluster-admin rolebinding to the anonymous user, still no namespaces showed in the central dashboard.
Please kindly review the new profile manager log:

![111](ht

[2020-03-19 13:57] #4714 closed

[2020-03-19 13:58] jlewi commented on #3578
@sarahmaddox the label is there.

[2020-03-19 14:25] jlewi commented on #3210
@kunmingg thoughts? Any more immediate work to be done?

[2020-03-19 14:58] jlewi commented on #3650
Issue for migrating to Anthos service Mesh (AKA managed ISTIO)
kubeflow/manifests#1024

[2020-03-19 15:41] jlewi commented on #3706
Thanks @gyliu513 Could we clarify the scope of this issue so we can determine when its complete? I know work has begun on a kubeflow operator.

Perhaps we should think about opening up a Kanban board to track that work and figure out what we will deliver in Kubeflow 1.1?

/cc @animeshsingh

[2020-03-19 16:05] andreyvelich commented on #4864
In kubeflow deployment  pod with `mysql:5.6` is used for another project, not related to Katib.

[2020-03-19 16:12] andreyvelich commented on #4864
@mvwestendorp If you run only `katib-mysql` deployment without `katib-db-manager` everything is running, right?
PVC `katib-mysq` is bounded also?

After that, when you try to deploy `katib-db-manager`, you can see errors in that pod ?

[2020-03-19 16:14] FKSI commented on #4870
I figured out, thanks a lot to @rmgogogo

# How to use Cloud Filestore with Kubeflow (even installed via UI)

## Create Cloud Filestore

1. Open Cloud Shell

   Please make sure it's in the same project and same VPC with the KFP.
[code]
    ⚠️ `[NFS_VOLUME_CAPACITY]` is at least 1TB
2. Wait the operation to finished then enter the following command to get the NFS IP address:

   `gcloud --project=

[2020-03-19 16:52] mvwestendorp commented on #4864
Concerning your first question. Yes, everything runs when just deploying
katib-mysql. There are no issues as far as I know with pvc neither when
using nfs nor local pvs.

I skipped the step of deploying just Katib-dB-manager and immediately went
for “full kubeflow”. I am going to try just deploying Katib-db-manager
after Katib-MySQL starts later today and get back to you.

On Thu, 19 Mar 2020 at 1

[2020-03-19 17:02] jtfogarty commented on #4876
/platform onprem
/priority p1
/area centraldashboard

[2020-03-19 17:04] jtfogarty commented on #4875
/area logging
/priority p1

[2020-03-19 17:05] jtfogarty commented on #4874
/area example
/priority p1

[2020-03-19 17:16] maxkaustav commented on #4874
TFX is a good option to use kubeflow and deploy as it provides easy training and easy deploying

[2020-03-19 17:19] jtfogarty commented on #4873
/area docs
/priority p1

[2020-03-19 17:24] jtfogarty commented on #4872
/area pipelines
/priority p1

[2020-03-19 18:56] jtfogarty commented on #4871
/area istio
/priority p1

[2020-03-19 19:28] jtfogarty commented on #4868
This is related to [manifests/issues/1029](https://github.com/kubeflow/manifests/issues/1029)

[2020-03-19 19:29] jtfogarty commented on #4868
/priority p1

[2020-03-19 19:36] jtfogarty commented on #4866
/priority p1

[2020-03-19 21:07] yantriks-edi-bice commented on #4868
Yes, I was able to proceed after using the fixed manifest from master

[2020-03-19 21:10] sarahmaddox commented on #3578
Thanks @jlewi!

[2020-03-19 21:34] jtfogarty commented on #4859
/priority p1

[2020-03-19 21:36] jtfogarty commented on #4855
/area istio
/priority p1

[2020-03-19 21:40] jtfogarty commented on #4854
/platform aws
/area istio
/priority p1

[2020-03-19 21:41] jtfogarty commented on #4851
/area jupyter
/priority p1

[2020-03-19 21:44] jtfogarty commented on #4818
/area jupyter
/priority p1

[2020-03-19 21:50] jtfogarty commented on #4847
/area centraldashboard
/priority p1

[2020-03-19 21:53] jtfogarty commented on #4846
/area centraldashboard
/kind bug
/priority p1

[2020-03-20 00:15] apryiomka commented on #4830
does anyone have a workaround for this, i cannot really use the UI since the pipeline is uploaded as part of CI/Cd process?

[2020-03-20 00:54] akchinSTC commented on #4830
I pinned to an older version of kfp-server-api when compiling.
`kfp-server-api==0.1.18.3`

[2020-03-20 01:18] Lordfourteen commented on #4864
@andreyvelich  all pvs are bound successly, and both  `katib-mysql` and `katib-db-manager` are not in ready states.
[code]

[2020-03-20 03:50] Everret-moon commented on #4864
I have checked the entrypoint script `docker-entrypoint.sh` in the `mysql:8`, it seened to be stuck while setting up.

[2020-03-20 07:27] Everret-moon commented on #4864
@andreyvelich @mvwestendorp It is a problem of docker image `mysql:8`, the entrypoint don't startup  successfully.

I haved tried:

*  attach the running pod by `docker exec`, then setup root password with `test`
* after connecting to mysql, I found the database created unsuccessfully, so I created it manually

Then the pod  of `katib-mysql` is in ready status. If I configured it with correct acce

[2020-03-20 08:30] karlschriek commented on #4802
@Jeffwan , yep in the yaml file I use my cluster name is correctly set. Haven't tried 1.0.1 yet, will do so next week.

I just realised something though, which might be a strange coincidence, could maybe point to where to look for the issue. I am currently rolling Kubeflow out more or less like this:

`/path/to/kf/kfctl apply -V -f /path/to/kf_configs/kfctl_aws_cognito.1.0.0.yaml`

I.e., the subfo

[2020-03-20 09:27] mvwestendorp commented on #4864
Two scenarios
1. Hostpath: **Yes**, if I use a hostpath pv on the node itself then it works.
2. NFS: **Bounded pv and pvc** if I use a nfs share, but it fails giving the following:

[code]

[code]

I got to it just now. So, after katib-mysql runs using a hostpath pv I do the following:
`kubectl apply -f kustomize/katib-controller/base/katib-db-manager-deployment.yaml`

This gives me the following

[2020-03-20 10:06] Bobgy commented on #3866
@jlewi Tests are finally passing now.
Can I confirm with you our next step plans?

* I have merged disable istio sidecar change https://github.com/kubeflow/pipelines/pull/3305 into kubeflow/pipelines.
* After next KFP release, I will submit a PR to upgrade KFP version in Kubeflow
* After that, we can merge this kfctl change without breaking existing KFP usage

[2020-03-20 10:09] Everret-moon commented on #4864
@mvwestendorp I don't think it is a problem with glusterfs. After I update  the image's tag in  `katib-mysql` deployment, everything works well.
[code]

[2020-03-20 10:59] Bobgy commented on #4871
@yanniszark @kunmingg Would you mind taking a look at kubeflow/manifests#1021 first? It's also a dependency of this issue.

[2020-03-20 13:14] mvwestendorp commented on #4864
@Everret-moon Good to hear you got it working!
I have tried 8.0.3 version when using nfs, but in my case it doesn't work: ` Warning  Unhealthy  6m46s (x31 over 31m)  kubelet, node3  Liveness probe failed: /bin/bash: mysqladmin: command not found`
So it seems that I am having a different (nfs specific?) problem.

[2020-03-20 17:50] Jeffwan opened #4878 "Add `~/.local/bin` to Jupyter Notebook PATH"
/kind feature

**Why you need this feature:**

pip install command add binary to ~/.local./bin which is not included in the PATH.  It would be better for us to use it directly without `export PATH`.

![image](https://user-images.githubusercontent.com/4739316/77190216-13ea9200-6a96-11ea-9221-3ce49eb1e037.png)

[code]

This is a problem of Ubuntu actually, our notebook images is built on top of tens

[2020-03-20 17:55] andreyvelich commented on #4864
@mvwestendorp So after you deploy PV in addition to PVC, everything was working? Because if you take a look in the `manifest` folder:  https://github.com/kubeflow/katib/tree/master/manifests/v1alpha3/pv, we also have your PV.
Maybe your storage class glusterfs storage class works in another way.

@Everret-moon This command works for me:
[code]

[2020-03-20 19:56] PatrickXYS commented on #4854
/area kfctl

[2020-03-20 22:36] Jeffwan commented on #4854
@PatrickXYS ,Could you help cherry-pick the change to v1.0-branch?

[2020-03-20 22:38] PatrickXYS commented on #4854
@Jeffwan  Sure, I'm planning to do it currently.

[2020-03-20 22:44] Jeffwan commented on #4802
@karlschriek Cool. Let me know your results. This case is weird to me.. before we `apply`, we change cluster name. If there's something happen in wrong, it should be `sed`

[2020-03-20 22:54] Tomcli commented on #4808
If we are going to add a namespace selector for the admission webhook, what label name would you prefer for the admission webhook.

[2020-03-21 09:50] siddharthjain1611 commented on #4874
KFServing enables serverless inferencing on Kubernetes and provides performant, high abstraction interfaces for common machine learning (ML) frameworks like TensorFlow, XGBoost, scikit-learn, PyTorch, and ONNX to solve production model serving use cases.

[2020-03-21 17:46] yanniszark commented on #4808
@Tomcli that's a good question!
Currently, here is the code making the namespaces: https://github.com/kubeflow/kubeflow/blob/d37bf05548bcf33ccd20c5c24e2b60068f90552b/components/profile-controller/controllers/profile_controller.go#L120-L130
It doesn't apply any kubeflow labels.
I think it's a good idea to label the profile-created namespaces with a specific label.
How about `app.kubernetes.io/part-

[2020-03-21 21:15] mvwestendorp commented on #4864
I didn’t see that pv. What a coincidence I used the same path.

I don’t use gluster. But when I try to use nfs in a pv with katib-mysql it does not work even though pv and pvc are created and bound. Both when creating a pv manually that uses nfs or through nfs-client-provisioner.

[2020-03-22 15:45] tech348712013870132 commented on #4661
We have the same issue within a fresh install of the latest kubeflow version:

[code]

Is there any bugfix/workaround available for this issue yet?

[2020-03-22 16:37] #3848 closed

[2020-03-22 22:37] #4164 closed

[2020-03-23 00:37] #3058 closed

[2020-03-23 01:17] Everret-moon commented on #4864
@mvwestendorp Just running `docker run -it -e MYSQL_ROOT_PASSWORD=test mysql:8`  works for me as well, but it have a bit diffrence with the one running in the corresponding pod, which has extra environment variables.

[2020-03-23 03:31] rky0930 commented on #4266
I got this issue after install kfserving v0.3.0 using kfserving/hack/quick_install.sh
After run the script, I can't access to kf-pipeline-ui.

<img width="903" alt="스크린샷 2020-03-23 오후 12 30 09" src="https://user-images.githubusercontent.com/5013450/77278235-2832c700-6d02-11ea-86a6-bcc30687fe13.png">

[2020-03-23 13:22] andreyvelich commented on #4864
@Everret-moon You can try to specify all env variables and run mysql using docker.

[2020-03-23 13:55] jlewi commented on #4661
@tech348712013870132 Could you please provide the output of

[code]

and

[code]

and

[code]

[2020-03-23 16:06] #3974 closed

[2020-03-23 17:39] Jeffwan commented on #4854
Let's wait for 1.0.2 or 1.1.0 release.

[2020-03-23 21:10] dalbhanj opened #4882 "Add region tag to IAM Roles that are created due to IAM Roles for Service Account to support two or more clusters with same cluster name"
/kind bug
Creating two clusters in two AWS regions will have an issue with IAM Roles for Service Account feature because of same cluster name

**What steps did you take and what happened:**
Create 1st clusters in desired AWS region and choose AWS IAM Roles for Service Account option feature (https://www.kubeflow.org/docs/aws/iam-for-sa/). This creates two roles kf-admin-${AWS_CLUSTER_NAME} and kf-

[2020-03-23 21:30] jtfogarty opened #4883 "Do not allow a Notebook Server to be created if Existing Workspace or Data Volumes is selected and the Volume does not exist."
/kind feature

**Why you need this feature:**
This will prevent the user from attempting to create a Notebook server that will not start

**Describe the solution you'd like:**
When the user select Existing for Workspace or Data Volumes, do not allow the user to type the volume name, Only allow them to select a name

**Anything else you would like to add:**
none

[2020-03-23 21:30] jtfogarty commented on #4883
/area centraldashboard
/priority p1

[2020-03-23 23:06] #3096 closed

[2020-03-24 01:06] #4587 closed

[2020-03-24 04:08] Bobgy commented on #4871
Update, changed PR to https://github.com/kubeflow/manifests/pull/1042

[2020-03-24 05:44] chetanoruganti opened #4884 "metrics which are collected at the notebook-controller are not available by default (http:<podip>//:8080/metrics) ?"
/kind question

Hi Team,

I was checking for the notebook-controller metrics after kubeflow v1.0.1 installtion .
 observation:
      i was not able to see any of the metrics which are exposed as part of the notebook-controller.

After creating and launching the notebook server in particular namespace . i was able to see only below metrics
notebook_create_total{namespace="chetan"} 1 , notebook_runn

[2020-03-24 09:07] sshakeri opened #4885 "Profile Spec to include users other than the owner"
/kind feature

Current profile spec used by the profile controller only includes the owner. Since profiles translate to namespaces it seems not possible to add multiple users to the same namespace (profile).  It ends up creating crowded namespaces in a shared cluster.

Instead the namespace could be shared by a team, without creating a namespace for each user.

**Describe the solution you'd like:*

[2020-03-24 10:58] vlordier commented on #4599
Is it an issue specific to a cloud provider ? I'm facing this with Azure.

[2020-03-24 13:29] JeffersonH44 opened #4886 "Open ports on kubeflow standard installation on GCP"
/kind question

**Question:**
Hello all, I just have a question, I've deployed kubeflow on GCP (just following the instructions on the docs) but I'm seeing that has the following firewall rule (on the image), why is necessary all those ports being exposed to the public? is there any way to constrain it?

![image](https://user-images.githubusercontent.com/7885709/77430631-7b138980-6da9-11ea-8e7a-01

[2020-03-24 17:08] karlschriek commented on #4802
@Jeffwan , just tried it out again with 1.0.1 and also played around with the folder names. It is definitely the case that the name of the subfolder is being taken over as the cluster name

[2020-03-24 17:20] karlschriek commented on #4802
Have pinpointed it a bit more. I generate my yaml file by using sed include my cluster name, nodegroup role names etc, but then when I do kfctl apply this yaml get overwritten with a new one where:
- some `metadata `is added
- A unique `usageId `is generated
, `CognitoUserPoolArn`, `CognitoUserPoolDomain`, `CognitoAppClientId `and `certArn `are added to the cognito overlay
- a `status `section is

[2020-03-24 19:53] karlschriek commented on #4802
I seem to remember in an older version of `kfctl ` there was an `init` step where a folder was created with the name of the cluster. Maybe this is a remnant from there?

[2020-03-24 20:38] jtfogarty opened #4887 "How is google/cloud-sdk:alpine built"
/kind question

**Question:**
I'm looking for information on how this image is built.  Can it be converted to distroless?

Reference issue is [Convert Container image to distroless #4590](https://github.com/kubeflow/kubeflow/issues/4590)

[2020-03-24 20:39] jtfogarty commented on #4887
@ankushagarwal
@jlewi
@krishnadurai

[2020-03-24 20:41] jtfogarty commented on #4887
/area istio
/priority p1

[2020-03-24 21:01] IronPan opened #4888 "Support more than one owner of a profile CR"
/kind feature

**Why you need this feature:**
[Is your feature request related to a problem? Please describe in details]
User express interests in owning a namespace/profile by a group people, instead of a single person.
This makes the system more robust in case that individuals leave the team.

**Describe the solution you'd like:**
[A clear and concise description of what you want to happen.]
The

[2020-03-24 21:05] IronPan opened #4889 "Support login to Kubeflow cluster without creating his/her namespace for a non-admin contributor"
/kind feature

**Why you need this feature:**
[Is your feature request related to a problem? Please describe in details]

With the current implementation, users have to go through the self-registration process the first time they login to the UI regardless whether they are already added as a contributor to another namespace. Thus a user must own a namespace even if they don’t end up using it. This

[2020-03-24 21:10] IronPan opened #4890 "Support updating the owner of a profile"
/kind feature

**Why you need this feature:**
[Is your feature request related to a problem? Please describe in details]
Currently when editing the profile CR to update the owner, profiles-kfam doesn’t update the owner annotation of the associated namespace. The old owner still exists.

It's currently by design the owner field cannot be updated: because controller will not know the previous owner,

[2020-03-25 00:43] jlewi commented on #4888
Isn't this doable today using RBAC today?

Using profiles to manage ACLs is an explicit non-goal for the profile resource. The expectation is that once the namespace exists people use RBAC to manage access and permissions to namespaces.

The OWNER field in Profile is really just bootstrapping the namespace with an initial role binding.

[2020-03-25 00:45] jlewi commented on #4887
We don't manage this image. I have no information on how its built.

Where is this image being used in Kubeflow?

[2020-03-25 01:14] jtfogarty commented on #4887
It is in
[components/ingress-setup-image/Dockerfile](https://github.com/kubeflow/kubeflow/blob/master/components/ingress-setup-image/Dockerfile)

[2020-03-25 02:51] mosyang commented on #4500
I follow the **Istio configuration for trustworthy JWTs** part in [kubeflow document](https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/#before-you-start) without upgrading istio.  It works!
- kubernetes 1.14.10 with kubeadm
- kubeflow with kfctl_istio_dex.v1.0.1.yaml
- Add below parameters into kube-apiserver launch command in `/etc/kubernetes/manifests/kube-apiserver.yaml`

- systemctl r

[2020-03-25 06:04] DdMad commented on #4678
@jlewi thanks for the reply! I think you're right because my kubernetes is 1.13.4, but it's a bit hard for me to test it now to 100% confirm.
I think it's good to close this issue since it's already mentioned that Kubeflow >=0.6 is not compatible with kubernetes 1.13 in the installation guide.

[2020-03-25 06:04] #4678 closed

[2020-03-25 07:30] kuromt commented on #4519
I am facing same problem.

I deployed centos Deployment and confirmed that Pod's IP is different from probe's target IP(kubeflow v1.0 build on on-premiss k8s cluster v1.15.11).

As @jlewi said, it looks like some bugs in ISTIO.

[code]

[2020-03-25 10:07] nrchakradhar commented on #4888
@IronPan  @jlewi We have a slightly different requirement. Can a user be included in a Profile as contributor without he/she being associated with their own namespace.

[2020-03-25 10:08] nrchakradhar commented on #4888
Sorry. Just saw #4889

[2020-03-25 13:22] karlschriek commented on #4802
Very first line when running kfctl apply:

`INFO[0000] No name specified in KfDef.Metadata.Name; defaulting to kf_configs based on location of config file: ....`

[2020-03-25 14:00] twittidai commented on #4806
@dynofu do you have a proxy on your setup?
I've tried deleting all content in cert-manager, istio-system and kubeflow and reapply with v.1.0.1, error persists.

This warning comes up for like 10mins+ and then it ends with the error indicated.
![image](https://user-images.githubusercontent.com/4092787/77544116-e3956000-6ea8-11ea-87bd-669ea570edf5.png)

![image](https://user-images.githubusercontent

[2020-03-25 14:27] sssyyw commented on #4835
Had the same issue. sorry if I missed sth in this thread... But is there any workaround to tackle this now? Thanks

[2020-03-25 14:56] guanhuichen opened #4891 "customize NB_PREFIX base_url"
I cannot customize NB_PREFIX like /prefix/notebook/namespace/nb1 instead of /notebook/namespace/nb1.

The related commit
https://github.com/kubeflow/kubeflow/pull/2620/commits/1285fc09ab334d745b5e796d3bb913a789e717c9

[2020-03-25 17:17] Jeffwan commented on #4835
@sssyyw Is your logs exact same as ones in the issue?

[2020-03-25 17:29] Jeffwan commented on #4802
This log is helpful. `KfDef.Metadata.Name` by default is empty. I check kfctl logic and it does infer the name if kfDef.Metadata.name is not set.
https://github.com/kubeflow/kfctl/blob/088f927bd447aeee68d8f6de7fd0434242e95a85/pkg/kfapp/coordinator/coordinator.go#L195

Checking the logic here.

https://github.com/kubeflow/kfctl/blob/088f927bd447aeee68d8f6de7fd0434242e95a85/pkg/kfapp/coordinator/coo

[2020-03-25 20:59] jtfogarty opened #4892 "Making echo-server Distroless"
/kind question

**Question:**
@avdaredevil
 I'm looking to make all images distroless and am wanting to know what is the purpose of the echo-server ?

Reference issue is Convert Container image to distroless #4590

[2020-03-26 00:42] jtfogarty commented on #4883
/area jupyter

[2020-03-26 04:54] alforik opened #4893 "How can I configure company-proxy for pods in onprem kubeflow."
/kind question

**Title:**
How can I configure company-proxy for pods in onprem kubeflow.

**Company-proxy environment**
I set http_proxy, https_proxy, no_proxy on linux and I can install kubernetes and kubeflow successfully.
There are no problem to create and access notebook server or pipeline etc.

But when I access external url on notebook source or pipeline ( maybe notebook/pipeline image in t

[2020-03-26 12:02] EDjur opened #4894 "Dataflow operator Python 3 support"
/kind question

**Question:**
I'm trying to use the dataflow operator as defined here https://github.com/kubeflow/pipelines/tree/master/components/gcp/dataflow/launch_python

However, I notice that the underlying docker container uses Python 2.7 and hardcode installs apache-beam[gcp]==2.10.0 https://github.com/kubeflow/pipelines/blob/master/components/gcp/container/Dockerfile

Is there any way to

[2020-03-26 12:18] srados commented on #4429
Hi,
I have the same issue, basically not able to use the UI because of this blocking screen.
After the kubeflow setup using https://www.kubeflow.org/docs/other-guides/virtual-dev/getting-started-multipass/ I was able to log in as admin and see the UI. However, on the next run, UI shows for a second just to be replaced by this screen. I'm also not able to create a namespace.

[2020-03-26 12:24] karlschriek commented on #4802
Yes I also noticed yesterday that if you follow the installation guide exactly then this shouldn't be a problem. Wouldn't it be a better approach instead that the user gets the abilility to set KfDef.Metadata.Name explicitly in the kfdef somewhere? At the moment setting the cluster-name in kfdef is ignored.

[2020-03-26 13:13] luckyskg opened #4895 "Pipeline DAG is not coming up in Kubeflow dashboard"
/kind bug

**What steps did you take and what happened:**
I ran a kubeflow pipeline with ParallelFor operator which in turn created 1600 nodes in my pipeline. using kubectl i was able to track the status of all the 1600 nodes but from Kubeflow Dashboard nothing is coming up.
Its Says `No graph to show`

**What did you expect to happen:**
To Pipeline run graph to show up

**Anything else you would

[2020-03-26 15:06] Jeffwan commented on #4802
@karlschriek All kfdef ignore the name. We probably can override the logic in kfctl aws plugin to explicitly set the name. Then it won't do inference. Feel free to file a issue or PR.

[2020-03-26 15:36] vlordier commented on #4599
@kunmingg not sure how to debug the setup : any pointers ?

[2020-03-26 16:19] daikeshi opened #4896 "Profile to include contributors to the namespace"
/kind feature

**Why you need this feature:**
[Is your feature request related to a problem? Please describe in details]
Currently, after a profile is created, users need to go to the managing contributors UI to add contributors individually. It would be nice if we can include the contributors to the profile via a plugin.

**Describe the solution you'd like:**
[A clear and concise description of w

[2020-03-26 16:26] daikeshi commented on #4896
cc @jlewi @Bobgy

[2020-03-26 16:29] sachua opened #4897 "Kubeflow deployment to an existing air-gapped Kubernetes cluster"
/kind question

**Question:**
I followed the guide from https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/ to deploy kubeflow on my existing air-gapped Kubernetes 1.15 cluster, but the images still need to be pulled from the Internet.

I would like to ask if there are any suggestions on how I can go about deploying kubeflow 1.0 without an internet connection with kustomize, since ksonnet i

[2020-03-26 17:05] medined commented on #4806
After installing cert-manager using the manifest with no errors, I don't see any services with webhook in their name:

[code]

[2020-03-26 19:42] avdaredevil commented on #4892
I think this is a better question for @jlewi

Component referenced: https://github.com/kubeflow/kubeflow/tree/master/components/echo-server

[2020-03-26 21:15] kunmingg commented on #4599
I think the delete was not completely done yet and some cluster-level configs still exists.
How about try delete the cluster and recreate everything?

[2020-03-26 23:38] dagondagon666 commented on #4429
Hi,

I'm using `kfctl_istio_dex.v1.0.0.yaml` and have the same problem after logging in with admin credential for the first time.

[2020-03-27 03:42] #4864 closed

[2020-03-27 08:33] Minkyu-Choi commented on #4897
That solution will work.  I was able to deploy kubeflow 1.0 using private registry(But features not fully tested).
However, you'll need to modify many kubeflow manifests manually.

Most sub applications defined images field to change it's image name and tag used in deployment or statefulset at kustomization.yaml under application's base folder. But some are not(seldon-core-operator, cluster-local-

[2020-03-27 10:13] EDjur commented on #4894
On further research, it seems possible to indeed install newer versions of Beam. But the Python2 requirement seems hard to bypass.

[2020-03-27 13:21] yannhowe commented on #4897
@Minkyu-Choi did you use kfctl or did you replace all the values and parameters manually and apply the manifests using kubectl?

[2020-03-27 13:27] hemantha-kumara opened #4898 "Is it possible to host centraldashboard on [PUBLIC_URL_CLUSTER]/kf/ path instead of using nodeport or hosting it on '/' path?"
/kind question

**Question:**
In our organization, Kubeflow is getting installed on a platform along with many other applications(data analytics).
In our platform, web access via node port access is discouraged and suggested to use Nginx(accessing the application from '/' is also not recommended).
We tried similar to AWS ingress https://github.com/kubeflow/manifests/blob/044a4e1039681f9e2db8f6a991

[2020-03-27 13:29] hemantha-kumara commented on #4898
Error page

![image](https://user-images.githubusercontent.com/26644179/77760794-f6e92c80-705c-11ea-9109-c021176c673f.png)

[2020-03-27 13:32] hemantha-kumara commented on #4898
ingress.yaml
[code]

[2020-03-27 13:33] hemantha-kumara commented on #4898
[code]

[2020-03-27 13:48] hemantha-kumara commented on #4898
/cc @avdaredevil @kimwnasptd @Bobgy @jlewi @abhi-g

[2020-03-27 13:55] jlewi commented on #4898
All Kubeflow applications are part of the ISTIO service mesh.
You probably don't want to directly expose individual applications as that won't work; i.e. the central dasbhoard won't be able to redirect to the specific web apps because they also aren't exposed.

There's a good diagram here.
https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/

How you expose the ISTIO ingress gateway (e.g. no

[2020-03-27 14:55] jlewi commented on #4892
It is used for debugging IAP and other connectivity issues.

[2020-03-27 14:59] jlewi commented on #4896
This seems like a duplicate of #4885.
Also see discussion in:
https://groups.google.com/forum/m/#!topic/kubeflow-discuss/whS_j4RlEJo

This seems to be moving profiles in the direction of managing ACLs and I'm not sure we want to go in that direction.

[2020-03-27 15:00] jlewi commented on #4885
See discussion in: https://groups.google.com/forum/m/#!topic/kubeflow-discuss/whS_j4RlEJo

This seems like its moving profiles in the direction of managing ACLs and I'm not sure we want to go in that direction.

The intent was always that people manage ACLs via RBAC and ISTIORBAC and not creating an abstraction around that.

[2020-03-27 15:03] yanniszark opened #4899 "Establish SubjectAccessReview as the recommended way of authorization"
/kind feature

As new Kubeflow UIs are created and existing one support multi-user workflows, an important aspect is that of authorization.

The first UI to bump into this issue was the Jupyter Web App.
* At the start we authorized with KFAM (more on that later).
* After that, we switched to SubjectAccessReview.

[SubjectAccessReview](https://kubernetes.io/docs/reference/access-authn-authz/authori

[2020-03-27 15:16] jlewi commented on #4887
Ah. That gets used to run this script
https://github.com/kubeflow/manifests/blob/bba06d9ca63caa800c9bf97f9a93b62ec671e747/gcp/iap-ingress/base/config-map.yaml#L48

That is probably the right image to use for that script because we are running gcloud so we should use one of the official gcloud images.

It looks like there is a public repo for that image here:
https://github.com/GoogleCloudPlatform/

[2020-03-27 15:36] jlewi commented on #4899
some discussion in the [thread](https://groups.google.com/g/kubeflow-discuss/c/whS_j4RlEJ)

[2020-03-29 03:45] hemantha-kumara commented on #4898
Agreed, all Kubeflow applications are part of Istio service mesh.

Yes, we have exposed gateway via External IP which can be outside the cluster.
Currently, the central dashboard virtual service URI gave as '/'. Due to this, no other application can be hosted in '/' Uri.
My question is there any way we can change central dashboard URI into /kubeflow or some other path.

no, we are running Kubeflow

[2020-03-29 10:42] MeghanaSrinath commented on #4846
Turns out, it was a firewall issue in our k8s cluster. I tried by allowing all traffic on the ports and it worked. however, if there is a requirement for specific ports to be open to traffic, can this be included in the document?

[2020-03-29 23:55] Minkyu-Choi commented on #4897
@yannhowe I used kfctl. I ran build command first(kfctl build -f) and manually replaced values under kustomize folder. Then I applied this configuration using kfctl(kfctl apply -f).

[2020-03-30 05:52] Jeffwan commented on #4878
PR merged. I can close the issue

[2020-03-30 05:52] #4878 closed

[2020-03-30 08:02] sachua commented on #4897
@Minkyu-Choi I managed to deploy kubeflow 1.0 and everything seems to be running except profiles-development.

[code]

did you face any similar issues and how did you solve it?

[2020-03-30 08:23] Gsantomaggio commented on #4819
In case you need, I already built the docker image with the fix: https://hub.docker.com/repository/docker/gsantomaggio/centraldashboard

I will leave it there until the new release

[2020-03-30 10:23] yannhowe commented on #4897
Thanks this is pretty much what we are doing also. Glad to see you had results. The project is moving v quickly but if we can get it offline repeatably we will share.

[2020-03-30 10:41] rmgogogo commented on #1583
/cc rmgogogo

[2020-03-30 14:30] jlewi commented on #1583
/lifecycle frozen

[2020-03-30 14:40] rawkintrevo commented on #1583
Hey, just saw this in my inbox. Kinda forgot about it. Why are we even using Beam? Why not just cut them out and use Flink as the runner, I remember seeing a few talks at various Flink Forwards about using Flink for TFX

[2020-03-30 15:05] holdenk commented on #1583
TFX doesn’t directly support Flink, it uses beam. The talks at Flink forward we’re all what one might call “forward looking.”

[2020-03-30 15:55] #4088 closed

[2020-03-30 15:55] #4066 closed

[2020-03-30 15:55] #4064 closed

[2020-03-30 15:55] #4068 closed

[2020-03-31 00:09] jlewi commented on #4898
Yes it should be possible to change the central dashboard just by changing its virtual service.
https://github.com/kubeflow/manifests/blob/1e08f3a4920bc34caed2533787bd3a4d05e8b36f/common/centraldashboard/overlays/istio/virtual-service.yaml#L10

You could define an overlay to do that.

However, if you wanted to rewrite all the Kubeflow applications to serve on some subpath e.g.

/some/subpath/  - >

[2020-03-31 00:10] #4608 closed

[2020-03-31 00:12] jlewi commented on #4888
See discussion in: https://groups.google.com/g/kubeflow-discuss/c/whS_j4RlEJo

Closing this as per the discussion I don't think we want to do this.

[2020-03-31 00:12] #4888 closed

[2020-03-31 00:12] Minkyu-Choi commented on #4897
@sachua

No, I haven't faced similar issues with profiles-deployment. But, you need to check application's image tag set correctly compare to original deployment.

I had another issue which application behaved abnormally, but it turned out that application's image tag was not correctly set.

In case of profiles-deployment I'm using [v1.0.0-ge50a8531] tag for profile-controller and [v1.0.0-gf3e0920

[2020-03-31 00:25] jlewi commented on #4315
@LeonardAukea couldn't you just write an agent that watches for Kubeflow namespaces and then modifies the default-editor service account to include the imagePullSecrets?

[2020-03-31 01:32] nrchakradhar commented on #4898
@jlewi Thanks.
where all changes would be needed if such a feature is desired?
Is this something that will be considered in roadmap?

[2020-03-31 04:34] hemantha-kumara commented on #4898
As I mentioned in the description, I tried changing virtual service but it didn't work as a central dashboard code is assuming the dashboard is in '/' path instead of a relative path(I mean even central dashboard code need to be modified to make it work).
Error can be found in the comment https://github.com/kubeflow/kubeflow/issues/4898#issuecomment-605001086

[2020-03-31 07:19] sachua commented on #4897
@Minkyu-Choi Thanks for your advice on image tags, I was able to solve the profiles-deployment issue!

An advice for any others following in our footsteps, I had to update my jupyter-web-app image tag to [v1.0.0-g2bd63238] as well to get the notebooks to work!

[2020-03-31 07:20] #4897 closed

[2020-03-31 15:44] yanniszark opened #4900 "Stale Bot closes triaged and lifecycle/frozen issues"
/kind bug

**What steps did you take and what happened:**
Stale Bot closes triaged and lifecycle/frozen issues
https://github.com/kubeflow/kubeflow/issues/4068

**What did you expect to happen:**
I wouldn't expect lifecycle/frozen issues to be closed.

Not sure who to ping for this one :/
/cc @jlewi

[2020-03-31 19:29] vkaushik189 commented on #4750
Seems like it is being blocked by my corporate network. Opened the firewall and the sagemaker runs now without any issues.

[2020-03-31 19:29] #4750 closed

[2020-03-31 20:38] Shaked opened #4901 "Using Kubeflow with Jupyter & pipelines, how should we share our data among our scientists?"
/kind question

**Question:**

We have started to migrate our ML infrastructure to [kubeflow](https://www.kubeflow.org/) as we are growing and need a clear structural way to:

1. Develop our algorithms
2. Run experiments
3. Train our models

Up until now, we have been working with dedicated GPU servers, which contain a `/data/datasets` directory which includes all of our data. Excluding the `hdf5`

[2020-03-31 22:02] lalithvaka commented on #4847
Thank you @yanniszark for helping resolve this issue. "work around this by chowning the pv's underlying folder to the correct group (see fsgroup value on authservice pod) or to something like 755". Also be able to update the scope in the stateful set yaml to exclude groups. Though we might need groups to do the AuthZ eventually.

[2020-03-31 22:02] #4847 closed

[2020-04-01 03:01] dagondagon666 opened #4902 "Could not create a custom virtual service on Kubeflow Cluster"
/kind bug

**What steps did you take and what happened:**

We installed kubeflow on EKS using `kfctl_istio_dex.v1.0.1.yaml`. For project management, we decide to put all Kubeflow related services that we build on the same cluster with Kubeflow.

We created a custom service and the service is accessible using:
`kubectl port-forward -n namespace svc/custom-service 8080:80`

We added `custom-service-

[2020-04-01 03:09] jbottum opened #4903 "Update the published Kubeflow Roadmap"
/kind feature

**Why you need this feature:**
We need to update our publish roadmap.
https://github.com/kubeflow/kubeflow/blob/master/ROADMAP.md

**Describe the solution you'd like:**
I would like to update the roadmap so that the 1.0 info is correct and provide some guidance on 1.10

**Anything else you would like to add:**
this doc provides an initial draft.

https://docs.google.com/document/d/1

[2020-04-01 03:49] jbottum opened #4904 "Update video examples on Kubeflow.org"
/kind feature

**Why you need this feature:**
to update Kubeflow examples for users

**Describe the solution you'd like:**
update this webpage with videos from the talks from KubeCon San Diego

Updates to Kubeflow Docs (examples/videos)
https://www.kubeflow.org/docs/examples/videos/

this google doc has the urls for these talks

https://docs.google.com/document/d/1llU1KItZ1KLBRQM2poyMFoKWqyiwGuH7u

[2020-04-01 03:51] sarahmaddox commented on #4904
/unassign

/good-first-issue

Thanks @jbottum I'll leave this **good first issue** for a community member to tackle.

[2020-04-01 03:53] sarahmaddox commented on #4904
The docs are in the kubeflow/website repo. Here's a guide to updating the docs:
https://github.com/kubeflow/website/blob/master/README.md

[2020-04-01 06:13] dagondagon666 commented on #4902
Closing due to we found an issue in our own set ups

[2020-04-01 06:13] #4902 closed

[2020-04-01 08:52] mockdone commented on #4781
use another yaml
 https://github.com/kubeflow/manifests/blob/v1.0-branch/kfdef/kfctl_k8s_istio.yaml

[2020-04-01 13:56] plaffitte opened #4905 "model training fails because EKS cluster can't connect to s3 endpoint sometimes"
/kind bug

**What steps did you take and what happened:**
I am trying to run several ML model training in a python script using tensorflow 2. To do this I dockerize my script and setup a tfjob on Kubeflow. For some models the training goes to completion but for others the training fails and I get the following error when tensorflow tries to save the checkpoint:

`cannot connect to endpoint`

**Wha

[2020-04-01 14:22] jlewi commented on #4903
Thanks @jbottum for getting this started.

Do you want to solicit input from the various [label owners](https://github.com/kubeflow/community/blob/master/labels-owners.yaml) about what they are working on? Ideally each repository with its own ROADMAP would update it as well (e.g. kubeflow/fairing#476)

What you have in the doc looks pretty good to me. If possible it might be nice to break it out i

[2020-04-01 15:21] groszewn opened #4906 "Notebook provisioner UI ignores specified StorageClass"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

We have deployed Kubeflow at `v1.0.1` into our cluster.  Our cluster does not have a default StorageClass, and when attempting to provision a notebook from the `New Server` button, the `New` dropdown option for `workspaceVolume` does not appear (regardless of whether we set the `workspa

[2020-04-01 15:43] kimwnasptd commented on #4906
/area jupyter
/priority p1

Thanks for catching that @groszewn! The frontend seems to completely ignore the `class` value of the workspace volume in the config and always expects to use the default storage class.

The UX should be the following:
* The frontend must use the value in the config for the storage class of the workspace volume
* The default value of the class in the config should be `{n

[2020-04-01 16:50] jtfogarty commented on #4825
/priority p1

[2020-04-01 17:11] Kloempi commented on #3838
@kimwnasptd did you already have a chance to work on this?

[2020-04-01 17:20] alexlatchford commented on #4899
Link above didn't work for me, looks like this is the same thread with an [updated link](https://groups.google.com/forum/#!topic/kubeflow-discuss/whS_j4RlEJo).

[2020-04-01 21:32] jshelman commented on #4846
I have same issue after fresh install of 1.0.1.   @MeghanaSrinath   how did you allow all traffic on all ports?

[2020-04-01 21:53] Jeffwan commented on #4903
I want to add some roadmaps for operators and MLOPS experiences.

[2020-04-01 21:54] Jeffwan commented on #4905
/assign

[2020-04-01 21:56] Jeffwan commented on #4905
@plaffitte

All your checkpoint persistence call failed? Have you ever successfully talk to S3 in your environment? Could you share trainer pod env setting for S3?

[2020-04-02 00:36] Jeffwan commented on #4778
Similarily, for `knative-serving`

[code]

[2020-04-02 04:16] MeghanaSrinath commented on #4846
I created a firewall rule to allow traffic on all ports. But I had restricted the source range to our VPN (not to internet) and this rule was attached to all the required instances. This was only done to see if the issue was with the firewall or something else. Ideally, we should be allowing only the required ports to the required ranges. Hence would like to know the details as well!

[2020-04-02 06:23] mfojtak commented on #3974
This is not fixed. Should be reopened.

[2020-04-02 06:39] #4600 closed

[2020-04-02 11:16] unagaraju88 opened #4910 "Manage Contributor is not there in kubeflow UI 1.0.1"
/kind bug
Manage Contributor option is not there in the kubeflow UI
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
After installing kubeflow kfctl_k8s_istio.v1.0.1.yaml  , I logged into kubeflow UI with default namespace (anonymous)as per the steps https://www.kubeflow.org/docs/azure/deploy/install-kubeflow/
But I do not see manage contributor

[2020-04-02 12:07] plaffitte commented on #4905
Thanks for your answer @Jeffwan , I don't know if they all fail, but when I set the env variable `AWS_LOG_LEVEL` to `1` I get a lot of `404` from `aws_logging.py` during the training process.
However this does not seem to hinder training since it continues. So it seems like it is able to communicate to S3 (In fact at the very beginning of the script I download a dataset from S3 and that works like

[2020-04-02 13:16] Archa91 commented on #4861
Hi guy, I'm not an expert of kustomize, but i have the same concern about adding a nodeSelector to the entire setup.

At this moment, I add a kustomize patch files to all applications (regardless deployment or statefulset).
I created a bash script to automatically add all these files to all applications in a loop, do what you want ^^

Example for app "api-service":
[code]

Add this to the end of t

[2020-04-02 13:25] jlewi commented on #4900
I think this is a misconfiguration issue in our stale bot config.
https://github.com/marketplace/stale

We need to add lifecycle/frozen to the exempt labels in our .github/stale.yml config files
https://github.com/kubeflow/kubeflow/blob/6188f27e403ea1b75bb7229dfa05c9e030d74823/.github/stale.yml#L9

[2020-04-02 13:46] jlewi commented on #4898
@hemantha-kumara I suspect what's happening is that the central dashboard client side javascript is trying to access other services e.g. the jupyter front end. So its probably trying to access  e.g httsp::{DOMAIN}/kubeflow/notebook but that is 404 because the notebook virtual service hasn't been updated.

@nrchakradhar I think making it easy to support deploying Kubeflow on some subpath would be w

[2020-04-02 13:47] jlewi commented on #4805
/cc @terrytangyuan

[2020-04-02 14:33] jlewi commented on #2889
@karlschriek I don't think we have a working CUJ today. So it probably have to stitch things together.

Here are [instructions](https://github.com/jlewi/kubeflow-dev/blob/master/notes/git_on_kubeflow.md) for how I use git in notebooks today.

Its pretty manual today.

Our [PodDefaults](https://github.com/kubeflow/kubeflow/tree/master/components/admission-webhook) admission hook could be used to in