[2017-12-05 16:35] jlewi opened #11 "Secure proxy"
Opening this issue to track addition of a secure proxy.

Kubeflow will consist of many applications running insecure web apps. Already the stack contains Juptyer notebooks and TensorBoard.

It would be nice if Kubeflow included a secure proxy so that a user could access Kubeflow components at URLs like

https://my-kubeflow.my-domain.io/juptyerhub
https://my-kubeflow.my-domain.io/tf-jobs/my-job/ten

[2017-12-05 17:28] jlewi opened #12 "Include eclipse-che in the Kubeflow stack"
I think we should investigate including eclipse-che in the Kubeflow stack.

Motivation:

I think ML requires an IDE/editor. For example, a lot of [TensorFlow models](https://github.com/tensorflow/models) are multi-file packages. So a notebook environment may not be sufficient if you want to work with these packages.

In addition, if your developing and building containers locally and pushing conta

[2017-12-05 19:41] jlewi commented on #11
I was told by someone at Redhat that ISTIO's egress functionality might provide a solution that doesn't involve a reverse proxy.

[2017-12-06 21:50] jlewi commented on #12
eclipse/che#7589 is tracking adding K8s support to

[2017-12-07 02:12] yuvipanda commented on #12
I also am a fan of Eclipse Che, but note that these images also ship with https://github.com/jupyterlab/jupyterlab by default (I think), so that also works. You can check it out by replacing '/tree' with '/lab'. It's not production yet, ofc!

[2017-12-07 05:25] BrentDorsey opened #15 "python model server"
@aronchick / @jlewi - I enjoyed the BoF: Machine Learning on Kubernetes talk this evening, thanks for organizing it!

It would be great if kubeflow could include a Python ML model container with support for:

- conda environment.yml requirements management
     - I use conda to build production ML containers that support multiple model types including
          - scikit-learn
          - theano

[2017-12-07 06:25] jlewi commented on #12
Jupterlab is pretty cool.

@foxish Does the existing effort to run Jupterhub on K8s include jupterlab?

[2017-12-07 12:53] jlewi commented on #12
@yuvipanda Thanks for the pointer; juptyerlab worked just like you said it would; all I had to do was change the url to  http://localhost:8100/user/$USER/lab. This is really awesome.

[2017-12-07 15:39] yuvipanda commented on #15
For building user images, we (at Project Jupyter) have built http://github.com/jupyter/repo2docker. https://github.com/jupyterhub/binderhub (deployed at mybinder.org) is a JupyterHub service that lets you dynamically build & run images based on a git repo (heroku style!). Perhaps that'll be cool to have?

[2017-12-07 16:22] foxish opened #17 "Tensorboard support"
This issue tracks Tensorboard support in kubeflow.

There is already a plugin installed in some of our images to integrate Tensorboard with Jupyter.
We require some additional vetting to ensure this works as expected through the proxy.

cc @jlewi @vishh

[2017-12-07 16:49] jlewi commented on #15
@BrentDorsey We definitely need containers suitable for serving a variety of models. I think a lot of companies have already developed this piece.  For example seldon has defined a [prediction API](http://docs.seldon.io/api-prediction.html) with implementations for various model types.

So hopefully we can figure out how to leverage one or more of the existing solutions rather than developing a ne

[2017-12-07 17:18] BrentDorsey commented on #15
@jlewi - I like [Pipeline.AI's prediction API](https://github.com/PipelineAI/pipeline), of course I'm biased as I'm a Pipeline.AI [committer](http://pipeline.ai/products/).

@yuvipanda - I'd also love to understand more about binderhub.

[2017-12-07 20:12] jlewi commented on #15
@BrentDorsey Do you have a pointer to AI's prediction server? I had trouble finding it in the repo.

[2017-12-07 20:30] jlewi opened #19 "Fault tolerant storage for Jupterhub"
Jupyter pods are storing data in the pod volume. So if the pod dies you would lose any notebook/file edits.

We should be using a fault tolerant volume so that if the pod dies we don't lose our data.

/cc @foxish

[2017-12-07 21:34] BrentDorsey commented on #15
@Jeremy Lewi<mailto:jlewi@google.com> – Let me talk with Chris and get back to you, he’s moved some stuff around.

From: Jeremy Lewi <notifications@github.com>
Reply-To: google/kubeflow <reply@reply.github.com>
Date: Thursday, December 7, 2017 at 2:13 PM
To: google/kubeflow <kubeflow@noreply.github.com>
Cc: Brent Dorsey <bdorsey@homeaway.com>, Mention <mention@noreply.github.com>
Subject: Re: [goo

[2017-12-08 01:37] foxish commented on #19
As we discussed - this should just need additional config if we want PV per pod. If we want something that also allows sharing like NFS, we may need to add the necessary config to run that.

cc/ @yuvipanda for thoughts on sharing between notebooks.

[2017-12-08 01:40] foxish opened #20 "Securely supply credentials and secrets to Jupyter pods"
Plumbing of secrets etc tracked upstream in https://github.com/jupyterhub/kubespawner/issues/110

[2017-12-08 03:02] jlewi opened #21 "Add Argo package to our ksonnet registry"
https://applatix.com/open-source/argo/

This looks like it could be very useful for

- Decoratively describing pipelines/workflows
- Building containers from notebooks

We should create an Argo package in our Ksonnet registry to make it easy to deploy Argo with Kubeflow.

We should be able to use the libsonnet files in our test infrastructure as a starting point.

[2017-12-08 03:43] jlewi commented on #19
I'd be happy with whatever's easiest. Do you have a pointer to the config that need's to change?

I'd like to start using Jupterlab on Kubeflow to write examples for Kubeflow. But I don't want to do that until we have fault tolerant storage.

[2017-12-08 03:56] foxish commented on #19
The quickest thing may be using a PV per Jupyter pod. It needs adding a [spawner option](https://github.com/google/kubeflow/blob/master/components/jupyterhub/manifests/config.yaml#L92).

[code]

It may need a storage class also to be set through `c.KubeSpawner.user_storage_class` if it doesn't auto-provision a PV automagically already in the environment it's being run in.

[2017-12-08 04:57] yuvipanda commented on #19
Note that for this and other JupyterHub config things, we have a helm chart in https://github.com/jupyterhub/zero-to-jupyterhub-k8s/tree/master/jupyterhub that's very actively maintained and heavily used. I'd love to re-use that here than build from scratch.

[2017-12-08 04:57] yuvipanda commented on #19
See docs about chart at z2jh.jupyter.org

[2017-12-08 05:04] yuvipanda commented on #19
To be clear, I'm happy for this to be using KubeSpawner + Vanillay JupyterHub too! But we've put in a bunch of effort into the helm chart to provide easy OOTB solutions to things like:

1. Updating config of hub without disrupting users
2. Automatic HTTPS
3. Multiple authenticators
4. Load tests (http://github.com/yuvipanda/jupyterhub-loadtest) to validate performance at scale, etc

That we want t

[2017-12-08 05:08] yuvipanda commented on #19
As examples of other projects that include the JupyterHub helm chart as a dependency and build on it, see http://github.com/jupyterhub/binderhub. As examples of direct deployments that use JupyterHub and other charts, see http://github.com/jupyterhub/mybinder.org-deploy/ or http://github.com/berkeley-dsep-infra/datahub/ or http://github.com/berkeley-dsep-infra/data8xhub or http://github.com/yuvipa

[2017-12-08 05:09] foxish commented on #19
Good point, and I totally agree. But I do think we need to come up with a
cohesive solution here suitable for hub, and the other components in this
repo. Having different deployment mechanisms for different parts of this
effort will lead to more confusion. So, as soon as we get to that unified
deployment solution, we can try match upstream as much as possible.

On Dec 7, 2017 11:04 PM, "Yuvi Panda

[2017-12-08 05:12] yuvipanda commented on #19
I agree too! The way I'd do it would be to make a Helm Chart for the TF controller and one for the Model Server, and KubeFlow then just configures them together (similar to the http://github.com/jupyterhub/mybinder.org-deploy/ pattern). IMO that's much more user friendly than having users edit kubernets objects directly and then apply them... I agree that using Helm for JupyterHub but something el

[2017-12-08 05:15] yuvipanda commented on #19
In the meantime I've also created #22 which provides persistent storage for each user with the current setup :)

[2017-12-08 05:24] foxish commented on #19
@jlewi and I also had discussed ksonnet as one potential mechanism here and
I'm not sure where the others stand.

Another thought is that we could be more opinionated here in our config and
possibly have less knobs since we are targeting a very specific ML use-case
as opposed to the upstream project and chart which are aiming at a broader
use-case.

Happy to discuss this more. Perhaps we should ha

[2017-12-08 05:26] yuvipanda commented on #19
That sounds like a good idea! ksonnet looks cool too! I am not attached to helm particularly, only against having end users directly edit kubernetes object specifications. 99% of the work that needs to happen to fully support this is in kubespawner anyway, so it's not a very big deal!

+1 on opening another issue. This discussion is already pretty off-topic for this issue :)

[2017-12-08 05:33] foxish opened #23 "Tooling to manage configuration and deployment"
This is an issue to discuss how we manage the configuration in this repo. Options that have come up so far:

* The existing kubectl apply workflow
* helm
* ksonnet

Since we want a unified approach to deployment of the entire suite here,
we should pick a direction that's best suitable for current and future components here.

@jlewi @kow3ns @yuvipanda

[2017-12-08 05:34] foxish commented on #23
Forking from the discussion in https://github.com/google/kubeflow/issues/19#issuecomment-350173280

[2017-12-08 05:38] yuvipanda commented on #23
Thanks for starting this, @foxish!

I'll note that helm and ksonnet are not entirely mutually exclusive, with plugins like https://github.com/technosophos/helm-ksonnet. This is an evolving space, so lots of moving parts!

[2017-12-08 17:44] jlewi commented on #19
@foxish So I modified the JupterHub config jlewi/kubeflow#2 the PVC and PV are created. But it doesn't look tike the pod running Jupyter for me is attaching it as a volume

[code]

[2017-12-08 17:58] dmueller2001 opened #27 "Add LICENSE file: Apache License, Version 2.0"
https://github.com/google/addlicense

[2017-12-08 18:26] vishh commented on #23
Can we start with collecting pain points with the current approach and then evaluate other options?

[2017-12-08 18:27] vishh commented on #21
We need automated builds as part of CI.
That is different from a user journey of moving from interactive to batch training.
Can we have separate issues for both?

[2017-12-08 18:29] vishh commented on #20
Secrets like GCS service accounts is common for all kubeflow components. Is this issue tracking all of it?
Can you add some more details?

[2017-12-09 15:12] geojaz commented on #27
addressed in #29

[2017-12-09 23:04] geojaz commented on #23
I'm at the very very early stages of looking at this right now, and I'm new to both kubeflow and TF so please bear with me.

Some quick notes on pain points-

1. Ideally, this should be really portable. Currently we have slightly diverging paths for minikube/GKE/RBAC vs legacy auth. ie:
    * Do we need to create a clusteradmin role?
    * How we actually connect to our notebook
2. We probably sho

[2017-12-10 00:45] geojaz opened #31 "Document specs for a "reasonable" starter cluster"
Clearly, this is highly dependent on what we have available for folks to run.

I repurposed a tiny GKE cluster (n1-standard-1 with autoscaling from 1-5 nodes). I was able to apply the manifests in components successfully, but wasn't able to schedule my model-server pods due to resource limitations. It looks like the bare minimum for the model server pods is a full CPU and a gig of ram- and they wo

[2017-12-10 19:28] geojaz opened #32 "AWS support!"
In the interest of portability and a true ability to run workloads "everywhere", we should support AWS.

There is definitely work to make this happen and priority is likely Google, but AWS has ML offerings and researchers should be able to use them in a similarly slick manner to GOOG.

[2017-12-10 19:59] aronchick commented on #32
ABsolutely! There should be (ideally) zero changes between Google and AWS.
The only thing we're missing are the details/instructions. Can you fill
them in (if you know them)? Or can you specify anything here that doesn't
indicate we support AWS?

On Sun, Dec 10, 2017 at 11:28 AM Eric Hole <notifications@github.com> wrote:

[2017-12-10 20:34] geojaz commented on #32
Yep! I'm working on writing the tutorial and in that process, I'm realizing there are changes and I'm working on it. Hopefully will have something PRed tonight or tomorrow.

[2017-12-10 20:43] aronchick commented on #32
Outstanding, thank you!

On Sun, Dec 10, 2017 at 12:34 PM Eric Hole <notifications@github.com> wrote:

[2017-12-11 16:00] DjangoPeng opened #33 "Proposal: our expectation on KubeFlow"
**Authors:**

- **@DjangoPeng** - Jingtian Peng \<pengjingtian@caicloud.io\>
- **@zjx-caicloud** - Jianxin Zhang \<zhangjianxin@caicloud.io\>
- **@gaocegege** - Ce Gao \<gaoce@caicloud.io\>
- **@ScorpioCPH** - Penghao Cen \<cenph@caicloud.io\>

### Motivation

TensorFlow users can run training jobs on Kubernetes with the support of this project: [tensorflow/k8s](https://github.com/tensorflow/k8s),

[2017-12-11 16:07] DjangoPeng commented on #33
This is our expectation on KubeFlow, including some use cases we are facing with and some thoughts about the scope of KubeFlow. We hope we can work with all the contributors in the KubeFlow community to make a fancy and ease-to-use Machine Learning system on Kubernetes.

Welcome for comments and discussion. 🎉

[2017-12-11 18:20] jlewi commented on #23
One paint point is specifying volume mounts to be attached to Juptyer notebooks. A common example would be attaching a volume corresponding to a shared filesystem.

Example:
- A team needs a POSIX compliant filesystem because they want to use HDF5 libraries
- They want a shared location to store datasets
- They want the filesystem to be auto-mounted into their Juptyer containers.

Right now you ca

[2017-12-11 18:26] jlewi opened #34 "Extend KubeSpawner and its UI to handle Persistent Volume Claims"
In the JuptyerHub spawner you can specify Docker image and resource requirements. It would be nice if you could also specify volume claims and mount points so that users can easily attach shared volume to their notebooks.

According to jupyterhub/jupyterhub/issues/1580 we can do this just by adding some properties to our KubeSpawner.

[2017-12-11 18:41] foxish commented on #34
I'm not sure if it's intuitive to have the user specify PVCs and mount points, as opposed to just requesting resources (as they currently do). It runs a bit afoul of the broad goal of making infrastructure "disappear" IMO. Maybe we can have a single place to do advanced config, which can be enabled by https://github.com/jupyterhub/kubespawner/pull/111

[2017-12-11 18:42] aronchick commented on #23
Hey Eric--

Can you specify on #2 and #3 what you see as issues with the current world?

On Mon, Dec 11, 2017 at 10:20 AM Jeremy Lewi <notifications@github.com>
wrote:

[2017-12-11 18:53] jlewi commented on #33
Thanks for starting the discussion

Some high level points

1. I think Kubeflow wants to support frameworks other than TensorFlow.

1.  What do you mean by Kubernetes Agnostic? I think Kubeflow aims to be Kubernetes native.
   * We want to depend on APIs/Conventions defined by Kubernetes to create a portable stack that can run anywhere Kubeflow runs
   * We want to be able to assume we are running

[2017-12-11 19:16] erikerlandson commented on #33
@jlewi hopefully I am not reading too much into "DB" but I'm a bit wary of on-boarding a database unless there is a compelling use case for that kind of heavy-weight state.

[2017-12-11 23:52] yuvipanda commented on #23
/me puts operator hat on

As someone who maintains applications (mostly JupyterHubs) on k8s clusters for various audiences, here's what I'd like:

1. A packaged way of installing a 'released' version of kubeflow (such as v0.1, v1.2, etc)
2. A way to configure kubeflow specific to my needs, in a way that doesn't require me to touch kubeflow 'internals'. I define 'internals' as 'anything that the ku

[2017-12-12 00:08] aronchick commented on #23
I think this is an excellent point - and yes, you share my vision. So, to be clear, it'd look SOMETHING like:

1. Create clusters A, B and C
2. Create cluster_A_configmap.yml, cluster_B_configmap.yml, cluster_C_configmap.yml
3. Launch Kubeflow on each platform - the deployment picks up the configmap and configures itself properly.

If you update kubeflow between versions (which we will get to, whe

[2017-12-12 00:16] yuvipanda commented on #23
/me nods

/me puts Project Jupyter hat on

An advantage of using Helm would be that you can directly use our heavily [developed](http://github.com/jupyterhub/zero-to-jupyterhub-k8s) and [documented](https://z2jh.jupyter.org) helm chart for deploying JupyterHub. See https://github.com/jupyterhub/binderhub/tree/master/helm-chart for example of another project (BinderHub, deployed to mybinder.org) th

[2017-12-12 01:00] ScorpioCPH commented on #33
I think this is from user side, it means that kubeflow users don't need to know the details about kubernetes, just focus on the TF model. In another word, it is user-friendly.

[2017-12-12 01:48] DjangoPeng commented on #33
@jlewi Hi, thanks for your comments.

Totally agree with you. In the Components fig, we make a Kubernetes Extended module and the supporting of all other ML frameworks could been implemented here. For example, we can implement the MXNet CRD/Controller/Scheduler to support MXNet framework. At the same time, they can share the common KubeFlow Server and Monitor.

As @ScorpioCPH said, it's from user

[2017-12-12 02:22] pineking commented on #33
@DjangoPeng thanks for your proposal. that's what we need and want to implement.

As a ML engineer, some questions:
1. do we plan to provide a command line tool to manage the training task (create/delete/monitor)?
2. I think that's a good idea user can create training task in one command, instead of writing YAML file, we also have implemented this.
3. it's necessary that KubeFlow server can suppor

[2017-12-12 02:50] jlewi commented on #33
@DjangoPeng @zjx-caicloud @gaocegege @ScorpioCPH

Thank you so much for taking the time to put this together.  There's a lot of detail and thought in this proposal. What can I do to help you?

[2017-12-12 02:53] gaocegege commented on #33
@jlewi @erikerlandson

The KubeFlow server needs a DB to keep track of the lifecycle of TensorFlow jobs, but I am not sure if we should offer APIs for it.

We will file more detailed proposals for the design soon, and we could discuss this question there. :thinking:

[2017-12-12 02:56] DjangoPeng commented on #33
@pineking Nice to meet you here.

We have a internal plan on the client (e.g. CLI, Web UI), and it's open to discuss whether client is the scope of KubeFlow.

The requirement is indeed exist both from inside and outside. Hope we can work together on the fancy project.

When it comes to GPU supporting and scheduling, I think it might the scope of Kubernetes itself.

WDYT @ScorpioCPH

[2017-12-12 03:24] ScorpioCPH commented on #33
@pineking

Hi, thanks for your input:

Sorry, i'm not very clear about `Queue mode`, do you mean if multi-users submit TF training jobs at the same time, should we put these jobs into a `Work Queue`, then launch them one by one?

And about `GPU Quota` resource management/scheduling, I think it is Kubernetes' responsibility to handle this with `device-plugin` feature (which is released in v1.8)

Th

[2017-12-12 05:52] jlewi commented on #33
I think a Web UI and CLI are within scope for Kubeflow.

@wbuchwalter already has an initial PR tensorflow/k8s#125 for a UI which I expect to be merged as soon as he gets back from traveling and he has time to resolve the conflicts.

Some high level points

* At the lowest level of Kubeflow I think we should avoid hiding K8s APIs or trying to provide simpler abstractions than K8s APIs
    * As an

[2017-12-12 08:12] ddysher commented on #33
Thanks for the write up!

In general, I can only second on @jlewi's comment about having different proposals on different components; and most importantly, how they fit together.  It's not clear to me the connections between different components just from reading the proposal.  My impression is that we have two layers in kubeflow - one is the lower Kubernetes level, where CRDs are maintained (not

[2017-12-12 10:36] Jimexist commented on #33
I want to second @ddysher's call for:

Specifically, these parts are not in my understanding of the scope of KubeFlow:
- a job queue, within which each item is a request (e.g. to be submitted to the aforementioned _server_) for creating a TfJob
- user-facing multi-user or multi-tenant management (and their state persistence, APIs, etc.)

👆 what do you think?

[2017-12-12 13:22] erikerlandson commented on #33
@jlewi @gaocegege
My thinking is that CRDs themselves ought to be able to manage lifecycle state tracking. So in that sense etcd would be the "db".

[2017-12-12 13:25] erikerlandson commented on #33
@Jimexist agreed on multitenancy.  With respect to "job queue" I'm not sure a full-blown job mgmt queue is in scope, but some kind of solution will be needed to ensure that when a TF job is scheduled, all the necessary pods will be able to run. An admission controller, at least, seems like a requirement, although it could be decoupled from kubeflow itself.

[2017-12-12 13:49] erikerlandson commented on #33
A couple of meta-level comments:
1) kubeflow ought to be moved to a community such as `https://github.com/kubernetes/kubeflow`
2) These proposals might be better served as g-docs

[2017-12-12 14:12] erikerlandson commented on #33
I agree w/ @ddysher 's point on multiple CRDs vs a single CRD.  Among other things, that would allow for finer granularity of submission policies as a function of the underlying tools/algorithms. For example, jobs that require _all_ pods to run can be distinguished from jobs that may not.

[2017-12-12 14:58] elmiko commented on #33
my impressions from the BoF and Kubeflow sessions at KubeCon were that initially this project was going to curate CRDs and Kubernetes resource files for various types of frameworks and processing platforms, but this proposal seems like we are diving into some sort of managed application for running TensorFlow.

it would be really helpful to understand what the overall goals of the Kubeflow project

[2017-12-12 20:17] aronchick commented on #33
@erikerlandson We've thought about moving the stuff to a kubernetes community, but the cost is very high. That's not to say we don't want to! We're looking for the best avenue to achieve this quickly, with low friction on the community. Is the concern that it's under Google or something else? It's all Apache2, so we (Google) couldn't do anything like lock down the project (people could just fork i

[2017-12-12 20:40] foxish commented on #33
I don't think this is a great fit for a k8s sub-project. See https://github.com/kubernetes/community/blob/master/incubator.md#applications-on-top-of-kubernetes. +1 for proposals as gdocs.  Job management, gang scheduling, etc are concerns for the broader k8s project and not just limited to kubeflow, so, it makes sense to solve them outside this kubeflow in a more general way.

[2017-12-12 21:02] erikerlandson commented on #33
Regarding the cost of moving the project, any resulting friction from moving it seems likely to only increase over time.

It could be ported into a new GH org like so:
1. create GH org `https://github.com/kubeflow`
1. fork repo `https://github.com/google/kubeflow` into org `https://github.com/kubeflow`
1. decomission repo `https://github.com/google/kubeflow`
1. move forward with repo (and org) `ht

[2017-12-12 21:21] aronchick commented on #33
@erikerlandson Can you specify your issue with hosting under Google _for now_?

I own the Kubeflow repo, the tech behind moving it is incredibly trivial, and would not cost us anything (almost ever). I was there when we moved Kubernetes from Google to Kubernetes, for example :)

The "cost" I'm concerned with is the tax of being part of Kubernetes or CNCF or any of the above. They have much steeper

[2017-12-12 21:26] foxish commented on #33
I'm with @aronchick on this. I think the case with Spark was different in that we moved from a private repo to a common location. This is already open and under Apache2 for contributions, (not to mention also having 1000+ stars and lots of watchers, and some press already) - moving it now would not give us any additional benefits as far as I can see.

[2017-12-12 21:44] erikerlandson commented on #33
I think it's totally sensible to create an org that is not affiliated with kube, CNCF or any other org.  My main concern with "we can do it later" is that I expect this project to grow rapidly and the gravity-well around the current url will grow correspondingly fast.

I fundamentally agree that the technical differences are not large. I propose that there will be symbolic and psychological value.

[2017-12-12 21:45] willb commented on #33
@aronchick @foxish I agree with Erik's sentiment that there's tremendous value in publishing open-source projects outside of company-specific organizations.  It shows that a project is intended to be a community, not merely a repository of permissively-licensed code.  It's hard to understand how having a project under a company's brand can chill community engagement until you've seen it play out.

[2017-12-12 21:56] aronchick commented on #33
Again, my point isn't that we shouldn't do it - my point is that no one has brought this up as a reason not to contribute _now_.

For example, Draft is still under Azure, and has great momentum. RedHat hasn't contributed OpenShift to a foundation. And so on.

All I'm saying is let's wait a bit! There's no rush, and we haven't had any chilling effect that wasn't imminently addressable. Further, bec

[2017-12-12 22:47] willb commented on #33
I totally appreciate the discussion here, @aronchick!  Thanks for listening to these concerns.

Regarding chilling effects, the issue isn't the conversations we do have in open-source communities, it's about the conversations people never start.  Again, from experience, people who are chilled by contributing to repositories hosted under corporate organizations have to be pretty comfortable with so

[2017-12-12 22:53] aronchick commented on #33
This is a really insightful comment and the above, I think, _really_ gets at the core. We should decide this together! May I propose at some point (do we have enough quorum to do this now? maybe in the new year?), we get an hour with whomever would like to join a call and discuss our overall goals. Then we can make sure we choose the right structure to achieve these goals.

If that works for every

[2017-12-12 23:05] jlewi commented on #33
@aronchick Can you open a separate issue(s) to discuss community organization issues? And lets use this issue to continue discussing the proposal from @DjangoPeng

[2017-12-12 23:30] aronchick commented on #33
I would propose closing and forking this issue into its component parts. It's got way too much included!

[2017-12-12 23:35] aronchick opened #35 "Proposal: Discuss Kubeflow organization and community"
Current proposal (by @aronchick):
* Find an hour when we can discuss the overall community plans. This should include:
  * What org this should roll up to
  * If/when this moves to a foundation
  * Calendar for the next ~6 months
  * Community language for the website (e.g. guidelines, ownership, etc)

cc @willnorris @erikerlandson @foxish @elmiko

[2017-12-13 00:59] ddysher commented on #33
@aronchick How about moving this into a gdoc so folks interested in the topic can continue their discussion?  Closing the issue is fine but I would like to have a place where we can discuss some high level design/architectures of kubeflow to governing the discussion of specific components.

[2017-12-13 01:06] erikerlandson commented on #35
cc @willb

[2017-12-13 02:48] ddysher commented on #35
There's a lot of insightful discussions in the original [discussion](https://github.com/google/kubeflow/issues/35).  We've had a great conversation with @aronchick during Kubecon, just to reiterate on our thoughts on the issue.

- I believe the goal from @aronchick is to have an organization around kubeflow; right now it's not ready yet (due to google internal policies).
- The repository is apache

[2017-12-13 02:49] DjangoPeng commented on #33
Agree with @ddysher , I have move the proposal into a gdoc [here](https://docs.google.com/document/d/1dmErPUmqqKMOe4L0ZHQglSdgDguCM4SzlsEdYXRMIDA/edit?usp=sharing). Welcome to continually discuss the topic in the gdoc.

@jlewi I think we don't need the type field if we define multiple CRDs.

[2017-12-13 08:06] klaus82 commented on #33
Hello all,
I think this project is a great idea.
What can I do to help you?

[2017-12-13 13:04] erikerlandson commented on #35
I think @willb wrote up a great [summary](https://github.com/google/kubeflow/issues/33#issuecomment-351220770) of what it means to be an open community. I don't want to repeat that here, but a point I want to amplify is that if Google's internal policies are currently gating decisions about what happens to the project, then the project is not (yet!) truly open. To borrow Will's phrasing, it is cur

[2017-12-13 13:24] jlewi commented on #23
* I think @yuvipanda makes a good point about being able to leverage existing helm charts and not forcing component owners who have invested in helm to redo that work.

* I'd hope that ksonnet would still allow us to reuse existing helm packages.
        * It would be nice if ksonnet understood helm packages so a package was just another object that `ks apply` would deploy
        * I haven't look

[2017-12-13 15:03] elmiko commented on #23
i really like the idea of having a baseline set of files that can work with the kubectl workflow, i find their expressiveness to be very instructional.

that said, i agree that allowing prior work that has been done with helm would be very beneficial to the overall project. is there some way we can accommodate a base level of kubernetes templates with the option of adding helm (or ksonnet) work on

[2017-12-13 15:56] aronchick commented on #35
I apologize - I think I was not clear about the reason it’s not open with @ddysher. The reason is not internal Google policies, the reason is that many people (including Googlers and non-Googlers) have been through this before and saw really limited benefit (and significant slowing) by moving Kubernetes. Their advice was do it but be thoughtful about the timing.

I’m not, in anyway, saying we’re n

[2017-12-13 16:20] ddysher commented on #35
Thanks @aronchick for clarifying!  Though we eventually want kubeflow to be a separate org, moving the repos is not a priority right now (at least from my point of view :).  We already started looking at possible ways to improve the project, and I hope we can lay a solid foundation for it!

[2017-12-13 16:28] aronchick commented on #35
We do as well! Thank you so much for all your contributions so far, BTW - I couldn't be happier with the community we have already built.

Let me propose we get an actual meeting on the calendar to work this through as a group. Perhaps an hour? I'll follow up on Kubeflow-discuss?

[2017-12-13 16:33] ddysher commented on #35
Sure, sounds good to me, let's follow up on kubeflow-discuss.

[2017-12-13 16:34] yuvipanda commented on #23
Fwiw, @elmiko, helm templates are pretty much just templated files that would work with the kubectl workflow, so they should be just as instructional. You can also generate pure kubectl compatible files from a helm chart with https://github.com/technosophos/helm-template.

[2017-12-13 16:35] yuvipanda commented on #23
@jlewi I hope in the long run that ksonnet and helm converge! There's already some efforts, such as https://github.com/technosophos/helm-ksonnet for using sonnet files from inside helm (not just go templates). See https://github.com/kubernetes/helm/issues/2577 for more discussion

[2017-12-13 16:40] aronchick commented on #33
Hi Claudio!

My best recommendation, for right now, would just to be to try out the
project in whatever way you'd like (e.g. on GKE, on AWS, on your laptop,
whatever). As you go through that process, try to write down areas where it
wasn't as smooth as you'd like, and file those as bugs. Or, if you'd like,
after you file them, start picking them up to improve them!

Thank you so much for volunteer

[2017-12-13 16:53] klaus82 commented on #33
Thank you David!
I'll do for sure!

[2017-12-13 17:28] elmiko commented on #23
@yuvipanda excellent! thanks for the info about helm, i just want to make sure that we maintain transparency for the folks who might want to dig deeper. seems like helm could certainly support that =)

[2017-12-13 17:59] jlewi commented on #35
Here are some potential issues:

* How do we keep track of teams and permissions? Examples
    -  Github permissions for managing repositories
    -  Permissions (e.g. GCP) controlling infrastructure used for testing & releasing
* How do we incubate new components specifically designed for Kubeflow?
    - In #33 there were a lot of components (e.g. CLI, ApiServer, UI, etc...)
    - Is a single rep

[2017-12-17 11:32] bhack commented on #17
There will be any coordination with https://github.com/tensorflow/tensorboard/issues/92?

[2017-12-17 11:34] bhack commented on #35
How this could be related with a SIG ML setup? See https://github.com/google/kubeflow/pull/24

[2017-12-17 18:55] aronchick commented on #35
I think the entire strategy should be brought together (what SIGs we participate in, how we guide the community, etc). Please join kubeflow-discuss@ where we're starting to talk about it now!

[2017-12-17 18:58] aronchick commented on #17
Yes! We know/work with the TF team closely, and want to overlap. Are you
working on that already?

On Sun, Dec 17, 2017 at 3:33 AM bhack <notifications@github.com> wrote:

[2017-12-17 19:42] bhack commented on #17
Still not cause I think that you are still on an internal planning phase so it is hard to avoid overlaps. But I hope that the plan and the internal roadmap will be public soon with contribution welcome labels.

[2017-12-17 23:29] aronchick commented on #17
I don't think we're doing any internal planning right now - did someone
tell you that? I'm happy to loop back with them.

On Sun, Dec 17, 2017 at 11:42 AM bhack <notifications@github.com> wrote:

[2017-12-17 23:57] bhack commented on #17
I meant on TB side. It is what seems by https://github.com/tensorflow/tensorboard/issues/92#issuecomment-348565800

[2017-12-18 01:14] flx42 opened #37 "Size of gcr.io/kubeflow/tensorflow-notebook-*"
From the README:

("localize"?)

They are both large:
[code]
Are the Dockerfiles public for these images? I can probably do a quick PR to improve the size.

You might be interested to look at the improvements I did in the `devel-gpu` Dockerfile for TensorFlow:
https://github.com/tensorflow/tensorflow/pull/15355

Also, it would be helpful if you could chime in on this RFE:
https://github.com/tensor

[2017-12-18 02:17] pineking commented on #37
I also think the size can be reduced. BTW: is it possible to push the images to dockerhub instead of gcr.io?

[2017-12-18 14:36] jlewi commented on #37
@vishh  Are we just using the tensorflow Docker images? I don't see any Dcokerfiles for these notebook images inside google/kubeflow.

[2017-12-18 14:43] jlewi commented on #33
Closing the thread per discussion above.

The proposal has moved to a [Google doc](https://docs.google.com/document/d/1dmErPUmqqKMOe4L0ZHQglSdgDguCM4SzlsEdYXRMIDA/edit)

There is a [thread](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubeflow-discuss/hMpk9uSqlIw/l_fUqiDkBgAJ) in kubeflow-disccuss to organize a meeting discuss community organization.

@ddysher Maybe sen

[2017-12-18 14:43] #33 closed

[2017-12-18 16:00] flx42 commented on #37
No it's not the same, if you do `docker history --no-trunc gcr.io/kubeflow/tensorflow-notebook-gpu`, you can see it's different from https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/docker/Dockerfile.devel-gpu or https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/docker/Dockerfile.gpu

[2017-12-18 17:09] jlewi commented on #27
Reopening per@dmueller2001's [comment](https://github.com/google/kubeflow/pull/29#issuecomment-352473260).

The license still has boilerplate details that need to be a completed.

Copyright [yyyy] [name of copyright owner]

[2017-12-18 17:10] jlewi commented on #27
@vishh  Do you mind if I assign this to you since you submitted the first fix?

[2017-12-18 17:21] jlewi commented on #37
We'd like to support a bunch of different frameworks e.g.

- TensorFlow
- xgboost
- scikits

Some questions:

- Should we provide one fat image with all these libraries or have multiple images?
- Are there existing, curated images that we can reuse as opposed to building our own?

[2017-12-18 17:25] aronchick commented on #37
Was there something in particular that was an issue with GCR.io?

On Mon, Dec 18, 2017 at 9:21 AM Jeremy Lewi <notifications@github.com>
wrote:

[2017-12-18 17:38] jlewi opened #38 "E2E Testing For Kubeflow."
We need to setup continuous E2E testing for google/kubeflow

- [ ] Create a basic an E2E test
     - [ ] Deploy and verify JupyterHub is working
     - [X] Deploy and verify TfJob is working
     - [ ] Verify TfServing is working
- [X] Setup prow for google/kubeflow
     - [X] Setup presubmit tests
     - [ ] Setup postsubmit tests

I think it makes sense to write the E2E test first and then once

[2017-12-18 17:48] mindprince commented on #27
https://github.com/google/kubeflow/pull/29#issuecomment-352502231
We can close this.

[2017-12-18 18:04] yuvipanda commented on #37
@aronchick afaict gcr.io doesn't provide a human friendly URL to pass to people, which I've always found annoying for public images.

@jlewi there's some at http://github.com/jupyter/docker-stacks/ (and PRs welcome!) that do get a fair amount of usage.

[2017-12-18 19:06] foxish commented on #38
Related: https://github.com/kubernetes/test-infra/issues/6011

[2017-12-19 01:28] jlewi opened #39 "Doc gen for kubeflow ksonnet registry"
There should be a way to autogenerate README files for each ksonnent component in our registry.

[2017-12-19 13:49] ddysher commented on #33
@jlewi do you mean the [Google doc](https://docs.google.com/document/d/1dmErPUmqqKMOe4L0ZHQglSdgDguCM4SzlsEdYXRMIDA/edit#) version of the issue?

[2017-12-19 19:30] dmueller2001 commented on #35
@aronchick Could we use the first ML SIG meeting as a place to have this 1 hour discussion? The proposed date is Jan 19 at 9:00 am PST/5:00 pm UTC

[2017-12-19 23:45] jlewi commented on #37
This is the source for our existing Docker images
https://github.com/GoogleCloudPlatform/container-engine-accelerators/tree/master/example/tensorflow-notebook-image

So everything is public and we should probably move them into Kubeflow.

Using an NVIDIA as the base image for our GPU images makes sense to me.

/cc @flx42

[2017-12-20 00:33] flx42 commented on #37
Ok, let's discuss about the size again when it's on this repo.
But I believe it still makes sense to check with the TensorFlow team if a single common Jupyter image can be created.

[2017-12-20 00:43] jlewi opened #41 "Clean up repo after switching to ksonnet"
Address cleanup following merge of #36

- Update README to discuss ksonnet
- Remove hacks directory

[2017-12-20 00:47] jlewi opened #42 "Split up core ksonnet package into separate packages"
The core package consists of

- JupyterHub
- TfJob CRD
- NFS Provisioner

These should probably each be their own package. The core component could then depend on these packages.

The reason we didn't do this in the initial PR #36 was because ksonnet doesn't yet support having packages depend on other packages see ksonnet/ksonnet#231

[2017-12-20 00:51] jlewi opened #43 "Remove namespace as a package parameter"
Most of our ksonnet packages have namespace as an explicit parameter.

This is a work around for ksonnet/ksonnet#222. Once that's fixed and components can inherit namespace from the environment we can remove namespace as an explicit parameter.

[2017-12-20 01:33] DjangoPeng opened #44 "KubeFlow or Kubeflow?"
I'm confused of the project name. Is it KubeFlow or Kubeflow?

Personally speaking, KubeFlow is better because `Kube` and `Flow` are individually selected from two communities, which are `Kubernetes` and `TensorFlow` (can be extended to ML community in the future).

[2017-12-20 03:43] sub-mod commented on #44
Base on reading https://news.ycombinator.com/item?id=15873659
It seems to me that it is KubeFlow for now but Kubeflow in future.

[2017-12-20 04:13] aronchick commented on #44
"Kubeflow" please! (My opinion, I hate midword capitalization)
On Tue, Dec 19, 2017 at 19:43 Subin Modeel <notifications@github.com> wrote:

[2017-12-20 04:28] jlewi commented on #33
Yes.

[2017-12-20 05:27] jlewi opened #48 "tf-cnn prototype doesn't add GPU resource requests"
If we configure a tf-cnn component to use GPUs, we don't actually end up specifying GPUs in the resource request.

e.g.

[code]
Produces pod spec

[code]
So the image is correctly set to use the GPU but we are missing GPUs in the resources; e.g. it should look like

[code]

[2017-12-20 05:53] jlewi commented on #48
Here's the template as generated by ks

[code]

It looks like resources aren't being specified at the right level; i.e. the are being specified for the pod and not the container.

As a result they don't end up in the actual TfJob spec

[code]

[2017-12-20 14:04] jlewi commented on #39
This was fixed by #36

[2017-12-20 14:04] #39 closed

[2017-12-20 14:43] jlewi opened #50 "Should Kubeflow publish and maintain TF Serving Docker Images?"
Opening this issue to consider whether Kubeflow should publish and curate TF Serving Docker images.

I think there is a reasonable expectation in the community that users shouldn't have to build Docker images just to serve models: see

- tensorflow/serving#513
- tensorflow/serving/issues/311 ([this comment](https://github.com/tensorflow/serving/issues/311#issuecomment-296429629)

A number of folks

[2017-12-20 14:59] bhack commented on #50
Finally! /cc @nfiedel @bhupchan @ddysher

[2017-12-20 15:00] jlewi opened #51 "Get rid of master in tf_cnn example; use WORKER 0 as chief"
Now that tensorflow/k8s#192 has been fixed, TfJob can run TensorFlow code that uses worker 0 as the chief.

We should update the [tf-cnn](https://github.com/google/kubeflow/tree/master/tf-controller-examples/tf-cnn) example and get rid of the master and just use Worker 0 as the chief.

@lluunn  Do you want to take this?

[2017-12-20 17:26] sub-mod commented on #50
I hope we support centos images as well.

As a sidenote wrt to tf-serving in openshift there exists
- [tensorflow-serving-s2i](https://github.com/radanalyticsio/tensorflow-serving-s2i)
- [tensorflow-serving-gpu-s2i](https://github.com/radanalyticsio/tensorflow-serving-gpu-s2i)
The way we get the latest bits of model_server is via
[tensorflow-build-s2i](https://github.com/radanalyticsio/tensorflow-

[2017-12-20 17:42] bhack commented on #50
If we want to start with CPU image what flags want we activate? Cause generally AVX etc.. are disabled.

[2017-12-20 17:45] flx42 commented on #50
What's the issue with providing a GPU image?
(at the risk of sounding like a broken record, it would be nice to have the same conversation for an "official" notebook image).

[2017-12-20 17:56] lluunn commented on #51
Sure, will do

[2017-12-20 18:07] jlewi commented on #50
@flx42 Reason for trying to limit to CPU is just trying to scope work given staffing is very scarce and CPU is probably the more common case. If you or someone else wants to take the lead on providing a GPU image for TFServing; you'd have my full support.

I think there's some basic infrastructure we need to get into place for CI/CD of images. Once we have that in place hopefully we can add images

[2017-12-20 18:13] jlewi opened #52 "Proposal: Official Jupyter Images for Kubeflow"
Opening this issue to discuss providing one or more official Kubeflow Jupyter images

Some things to consider:

- What libraries/frameworks/tools should be in the image
   -  TensorFlow?
   -  GRPC client libraries?
   - xgboost?
   - scikits?
   - ksonnet? helm?
- Do we want to produce a small number of fat images or many smaller images?
- Can we reuse existing images? e.g. TensorFlow docker imag

[2017-12-20 18:15] flx42 commented on #52
Unless we realize that we need many tools, a benefit would be that we can make the official TF images lighter by removing Jupyter: https://github.com/tensorflow/tensorflow/issues/15284

[2017-12-20 20:47] jlewi opened #54 "K8s support for KMS"
I think we want to make it easy for people to plug in their secrets into their Kubeflow deployment. For example, to support SSL with JupyterHub users need to be able to plug in their certificates.

I think this is blocked on K8s supporting KMS:
 - kubernetes/kubernetes#51965

Once K8s supports KMs I think we can just expose relevant parameters in our ksonnet prototypes to fetch the key from the ap

[2017-12-20 20:58] aronchick opened #55 "Proposal: Include very basic tracking of usage by default"
Using something like Spartakus (https://github.com/kubernetes-incubator/spartakus), ping back to a central server information about the Kubeflow deployment once per day. It should be absolutely anonymous, with zero PII. Just how many components are deployed, and how many pods are running - with a unique identifier to track deployments that last for more than one day.

We should also enable opting

[2017-12-20 23:15] jlewi commented on #55
This looks pretty easy to setup.

1. Setup a GKE cluster running the collector
2. Add the volunteer component to our ksonnet core package with an option to disable it.

[2017-12-20 23:25] jlewi opened #56 "Make JupyterHub More Configurable"
What are the common points of JupyterHub that users will want to configure?

  - Default images ?
  - Auth mode?
  - SSL?
      - This is probably blocked on Kubernetes adding good support for KMS (#54)

In addition or alternatively, we could show people how they could easily provide their own KubeSpawner py file to use in their component.

We might want to look at the existing helm package for Ju

[2017-12-20 23:29] yuvipanda commented on #56
Yes, the things we've found that people ask for (and have added to the chart):

1. Different authenticators
2. Automatic HTTPS with Let's encrypt
3. Custom ways to specify how user homedirs are mounted (PVC provisioning)
4. Whitelisting users / setting users as admin users
5. Automatic culling (stop user notebooks after X minutes of inactivity)

Would love to explore how we can use our helm chart

[2017-12-21 02:23] tobegit3hub opened #58 "Syntax error of juypterhub.yaml for Kubernetes"
I got the error to validate the `juypterhub.yaml` before starting with the `latest kubeflow` and `Kubernete 1.6`

Here is the error message.

<img width="1440" alt="screen shot 2017-12-21 at 10 18 50 am" src="https://user-images.githubusercontent.com/2715000/34237672-f1683838-e638-11e7-9b84-4f9a463862d0.png">

[2017-12-21 02:38] foxish commented on #58
That might be because of K8s 1.6. The template might need to be changed slightly since statefulset didn't support rolling update in 1.6. You could just try removing that section and see. We should use templating for fixing this in future. cc/ @yuvipanda @jlewi

[2017-12-21 02:56] #48 closed

[2017-12-21 03:08] jlewi commented on #58
Is there a compelling reason to support Kubernetes 1.6 in Kubeflow?

The TfJob controller requires at least 1.7 for CRDs and 1.8 for GPU support (see [here](https://github.com/tensorflow/k8s)).

We should probably update the docs to reflect this requirement.

[2017-12-21 03:12] foxish commented on #58
Fair point - it would make sense to define a support window. The last 2 or 3 releases are typically what we can realistically achieve. Given 1.9 just came out, that still puts us at at least 1.7+ (assuming one doesn't want to use GPUs). Let's document it and close this as WAI.

[2017-12-21 03:21] tobegit3hub commented on #58
I'm okay if it works for `Kubernetes 1.7+` and it would be great to add this in introduction.

Thanks for your response @foxish @jlewi

[2017-12-21 03:21] #58 closed

[2017-12-21 04:11] jlewi commented on #23
All the changes to support ksonnet have been submitted and the docs updated.

Lets continue to use this issue to track feedback.

@elmiko With ksonnet you can use the `ks show` to command output the manifests.

[2017-12-21 13:58] jlewi opened #60 "Support IAP on GKE"
When Kubeflow is deployed on GKE it should be easy to configure it to setup IAP to secure remote access to Kubeflow services.

- [x] Ksonnet manifests for setting up ingress and other resources
- [x] Docs explaining how to enable IAP
- [x] Use Cloud Endpoints (or some other proxy) to validate JWT and reject traffic that bypassed IAP
    * Blocked by #104 - Can't connect to Jupyter Kernel using sid

[2017-12-21 14:01] jlewi opened #61 "Add missing features to TfJob controller ksonnet component"
The TfJob controller is missing cloud specific bits that are in the [helm package](https://github.com/tensorflow/k8s/tree/master/tf-job-operator-chart).

We should add them so that we can deprecate the helm package.

[2017-12-21 18:54] jpweber opened #62 "tf-job missing from ksonnet registry yaml"
kubeflow/tf-job is not in the registry.yaml file. This prevents tf-job from showing up when someone does a `ks pgk list`

[2017-12-22 16:51] cliveseldon commented on #15
Hi,

 I work for Seldon, referenced above by @jlewi

 We have pushed our seldon-core product to github https://github.com/SeldonIO/seldon-core

 It's goals are to allow generic machine learning models to be deployed on Kubernetes. It would be great to get some feedback and how this contributes to this issue and more generally for the deployment side of KubeFlow.

[2017-12-22 17:27] aronchick commented on #15
Thanks so much for letting us know, @cliveseldon! I think the overlap here is really strong, and would love to collaborate/include Seldon-core.

Do you have any thoughts on whether or not it would be monolithic, or break it down to component parts? It does a lot of different things, and was just curious about your philosophy.

[2017-12-22 18:48] cliveseldon commented on #15
Thanks @aronchick  We're focused just on serving, not training. The core of what we provide is allow runtime graphs to be specified via a CRD. Those graphs may contain containers that are microservices which expose ML predictions but also routers (e.g., AB routing), combiners (e.g., ensembling), transformers (e.g., feature transforms) which may also be microservices inside containers.

At present

[2017-12-22 19:43] aronchick commented on #15
Oh for sure but, unless I misunderstand, Seldon-core also handles packaging of the model for serving? If it's limited to serving, then I totally agree with you. When I was referring to components, it was more the different stages of a pipeline.

[2017-12-22 19:53] cliveseldon commented on #15
Yes, we provide a [generic API](https://github.com/SeldonIO/seldon-core/blob/master/docs/reference/prediction.md)  for prediction models to handle request/responses. At a [high level](https://github.com/SeldonIO/seldon-core#deployment-guide) we want to make it easy to add runtime models so either the data scientist can do it themselves (dockerize their model and expose a REST/gRPC endpoint that re

[2017-12-22 22:06] jlewi opened #64 "TfServing uber tracking bug"
Opening an uber tracking bug to keep track of various features/improvements to ensure TfServing is well supported in Kubeflow

- [ ] Publish Docker images #50
- [ ] Health/liveness checks #368
- [ ] Monitoring #369
- [ ] GPU support

/cc @rhaertel80 @kow3ns

[2017-12-23 01:00] jlewi commented on #15
I spent some time looking at it this morning. The Seldon prediction graph and CRD looks super cool and should be pretty easy to incorporate.

I think we would do something very similar to what we do for the TfJob operator.

We can create a ksonnet package to deploy the SeldonDeployment CRD. At this point I believe users should just be able to create SeldonDeployment's and they would work. We could

[2017-12-23 01:05] jessesuen commented on #21
Let us (argo) know we can be of help in any way with this effort. We took your feedback to heart and are implementing both DAG dependency based execution of tasks, as well as the ability to create/apply/patch/delete any k8s resource in steps (including CRDs).

[2017-12-24 14:11] ScorpioCPH opened #68 "Proposal: kubeflow-scheduler"
Kubeflow Scheduler
===============

* [Motivation](#motivation)
* [Use Cases](#use-cases)
* [API](#api)
* [Design](#design)
* [Where to Start](#where-to-start)

Status: Draft
Version: Alpha
Implementation Owner: TBD

_Authors:_

* @ScorpioCPH - Penghao Cen &lt;cenph@caicloud.io&gt;
* @gaocegege - Ce Gao &lt;gaoce@caicloud.io&gt;

# Motivation

Kubeflow has a [controller](https://github.com/tensorf

[2017-12-24 14:12] ScorpioCPH commented on #68
We can discuss more details about this proposal on [google doc](https://docs.google.com/document/d/1sZ6XNCN0hvVVYRhqvwgCig37N-AWhTu-uI7kyO3d_0U/edit?usp=sharing).

[2017-12-24 14:47] gaocegege commented on #68
/cc @DjangoPeng @mitake

[2017-12-24 17:51] jlewi commented on #21
Thats fantastic thank you.

[2017-12-25 02:59] DjangoPeng commented on #68
@ScorpioCPH @gaocegege Thanks for your works on kubeflow-scheduler.

As we all know, Kubeflow is dedicated to supporting multiple ML frameworks. While there are some differential specifications of resource, cluster and etc.

So, do we plan to make one kubeflow-scheduler for all ML frameworks? Or one for one?

[2017-12-25 04:35] mitake commented on #68
@ScorpioCPH thanks for creating the doc. Can I add motivations and ideas of the gang scheduler to the doc directly?

[2017-12-25 06:07] ScorpioCPH commented on #68
@mitake Sure, please feel free to edit this doc.

[2017-12-25 06:12] ScorpioCPH commented on #68
@DjangoPeng It depends on the different requirements for ML frameworks, maybe we can start with TensorFlow.

[2017-12-25 06:50] gaocegege commented on #68
@DjangoPeng Yeah, I think one scheduler for all ML frameworks is awesome but I am not sure if we could implement such a generic one. Let's start from TensorFlow since kubeflow starts from it, too.

[2017-12-25 06:53] DjangoPeng commented on #68
SGTM. @ScorpioCPH @gaocegege

[2017-12-25 17:13] ssabat opened #70 "Katacoda Demo Scenario Python incompatibility - Warning"
I was able to deploy demo scenario developed by Katacoda.

In this scenario, you learn how to deploy different Machine Learning workloads using Kubeflow and Kubernetes. The interactive environment is a two-node Kubernetes cluster allowing you to experience Kubeflow and deploy real workloads to understand how it can solve your problems.

The Kubeflow project is dedicated to making Machine Learning

[2017-12-25 19:24] jlewi commented on #68
Thank you for putting this together.

So the proposal seems to address a couple of problems with a custom scheduler

1. Better GPU scheduling
- Support multiple types of GPUs each with different resources
- Support NVLink

2. Gang scheduling

However, an alternative solution would be to extend the existing GPU support to support multiple types of GPUs and to use [kubernetes-incubator/kube-arbitrat

[2017-12-26 00:13] aronchick commented on #68
This is terrific stuff - I share @jlewi's questions. I don't mean to dismiss using a custom scheduler, but I am curious if we can avoid having to write our own.

+1 for supporting other frameworks (eventually). I'm totally ok skipping that in the first version.

[2017-12-26 04:40] mitake commented on #68
The main advantage of the custom scheduler approach is that we don't have to add scheduling mechanisms and heuristics to the default scheduler. It is good for improving development speed and making maintenance easier.

The main disadvantage is that we would need a concurrency control mechanism between schedulers, probably. It seems to be a very subtle and difficult problem and no clean solutions w

[2017-12-26 05:05] k82cn commented on #68
kube-arbitrator already support that.

[2017-12-26 05:09] k82cn commented on #68
and gang-scheduling just part of kube-arbitrator, we had already discussed several points about supporting "batch" workload (spark, tf) in the last year: https://docs.google.com/document/d/1-H2hnZap7gQivcSU-9j4ZrJ8wE_WwcfOkTeAGjzUyLA/edit :).

kube-arbitrator will handle the scheduling part, it need a tf job controller to work with it, e.g. send resource request to it, monitor job's status.

[2017-12-26 07:32] ScorpioCPH commented on #68
@k82cn Thanks! we will take a look at this.

[2017-12-26 23:26] jlewi commented on #68
For the GPU scheduling stuff, I'd really like it if @vishh could weigh in since he's far more knowledgeable about accelerators in Kubernetes. Unfortunately, I think he's out of the office until the last week of January. Can we wait until then to finalize plans about GPU scheduling?

@mitake

Can you explain why we would need to add heuristics to the default scheduler?

My expectation is that Kuber

[2017-12-27 06:29] ScorpioCPH commented on #68
@jlewi Hi, yes, there are some solutions for our requirements, GPU device-plugin is supported in v1.8 release, it just tell us there are `N` nvidia-gpu allocatable in the cluster without any more details (e.g. type, cores, memory). Maybe it's not enough for ML cases.

And `Resource Class` which proposed [here](https://github.com/kubernetes/community/pull/782) will be helpful for our requirements,

[2017-12-27 14:34] jlewi commented on #68
The issue title "kubeflow-scheduler" seems much more general than the [proposal](https://docs.google.com/document/d/1EyOUHah_4hx3QCY0FGyM8n-1FHhIIlG47ws6BgDPfUk/edit#heading=h.i0dqzpbqaoi2) which focuses on introducing Resource class.

- Should we narrow the scope of this issue to Resource class?

- The [proposal](https://docs.google.com/document/d/1EyOUHah_4hx3QCY0FGyM8n-1FHhIIlG47ws6BgDPfUk/edit

[2017-12-27 14:56] jlewi commented on #70
Thanks for the report. Can you clarify where you get the WARNING? What libraries are you referring to?

[2017-12-27 17:39] ScorpioCPH commented on #68
@jlewi

LGTM, but without Resource Class, @mitake also want to discuss more about gang scheduling.

Yes, this proposal is about scheduling not about lifecycle management.

Agreed, Resource Class is just like other resources CPU/Memory in a way, you can specify the requirement or leave it empty. But without GPU, the performance of many ML workloads maybe very low (both in training and inference) :)

[2017-12-27 23:35] mindprince commented on #68
@jiayingz is planning to work on something related to resource classes in H1 2018.

The current way to target nodes with particular accelerator types is to use node selectors and node labels. (See [doc](https://deploy-preview-6736--kubernetes-io-master-staging.netlify.com/docs/tasks/manage-gpus/scheduling-gpus/#clusters-containging-different-types-of-nvidia-gpus) from PR https://github.com/kuberne

[2017-12-28 07:37] mitake commented on #68
@jlewi

If every heuristics we need can be added to the default scheduler easily, it is nice of course. But we are facing an interesting problem related to scheduling distributed DL frameworks: slow GPU. We found that few GPUs can be slow because of overheat. This would be a very environment and application specific problem so I thought adding the heuristics to the default scheduler or other gener

[2017-12-28 11:34] BenHall commented on #70
Thank you for letting us know.

This is a warning that is shown the first time the Tensorflow snippet is run via Jupyterhub. We (Katacoda) will look into why the errors occur and what a fix could be.

/cc @basiafusinska

[2017-12-28 14:04] jlewi commented on #68
@mitake

That's really interesting. Could you detect the overheating and mark the node unhealthy?

[2017-12-28 18:54] flx42 commented on #68
No need to mark the whole node as unhealthy, with our [device plugin](https://github.com/NVIDIA/k8s-device-plugin), we could mark individual GPUs as unhealthy if we notice that one GPU is repeatedly throttled. It's possible, but it will require some thoughts for the strategy we need to use for detecting this case.

[2017-12-28 23:13] jiayingz commented on #68
@mitake do you know whether the overheating problem can be detected through some nvml throttling events as @flx42 mentioned? When such problems happened, were those slow GPUs still usable/recoverable or your would rather restart your jobs on different nodes with GPUs available? Also curious on whether the jobs you mentioned were running on cloud or on prem. On cloud, I would expect such failure ev

[2017-12-28 23:20] jiayingz commented on #68
@scorpiocph and @gaocegege could you explain more on why the current available approaches are not enough to solve your use cases (e.g., inter-pod affinity to have jobs scheduled on the same machine as much as possible, and use node labels and nodeselector to schedule jobs on specialized hardware)? We are hoping to make some progress on the resource class design next year and would like to better u

[2017-12-29 13:27] ScorpioCPH commented on #68
@jiayingz Glad to hear that! Please involve us into Resource Class.

Some quick comments about your questions:
- `node labels and nodeselector` is a good solution for homogenous arch, e.g. one node only have one type of GPU, but not enough for heterogeneous arch, one node have more than one type of GPUs.
- And many cases show that we can get more performance if we connect some GPUs together (e.g.

[2017-12-29 16:34] jlewi commented on #68
@ScorpioCPH Do you see a lot of clusters with heterogenous nodes? I'd expect that most clusters use one type of GPU on each node.

[2017-12-29 16:43] RenaudWasTaken commented on #68
A lot of our clients have heterogenous nodes.

[2017-12-29 16:46] jlewi opened #73 "Setup PR Dashboard"
We should setup the Prow [PR Dashboard](https://github.com/kubernetes/test-infra) to make it easier to see which PRs need attention.

[2017-12-29 22:26] jlewi commented on #38
Track progress following these [instructions](https://github.com/tensorflow/k8s/tree/master/test-infra#notes-adding-tensorflowk8s-to-k8s-prow-instance) to setup prow.

- [ ] Step 1; PR to add google/kubeflow to prow configs; kubernetes/test-infra#6110 is out for review
- [x] Step 2; Setup GitHub prow webhook
- [ ]  Step 3; Add k8s robot to google/kubeflow
- [ ]  Step 4: Setup PR dashboard
- [ ] St

[2017-12-30 03:14] NathanNZ opened #74 "Support for other Deep Learning Libraries"
First of all it's awesome seeing an initiative to help bring a bit of DevOps to ML, something I feel is well overdue - however I have a question just to clarify my own understanding of what KubeFlow actually is.

Regarding this statement in the readme it seems to imply that other OSS solutions will be supported however I'm not sure to what extent, especially regarding TensorFlow. My uncertainty ri

[2018-01-02 10:08] ScorpioCPH commented on #68
@jlewi Not a lot, but it exists :)

[2018-01-02 17:48] jlewi commented on #68
@ScorpioCPH  @gaocegege  So what are the next steps for this proposal?

[2018-01-02 17:55] foxish commented on #68
It seems to me like this is a stop-gap solution until kube-arbitrator and resource classes are ready for usage. Is that correct?
Maybe the folks here, and @k82cn, @erikerlandson should have a meeting to understand the requirements and use-cases to ensure that we prioritize work on kube-arbitrator appropriately to allow leveraging it here.

[2018-01-02 21:26] elmiko commented on #74
@NathanNZ i think issue #33 covered some of this in the comments. imo, it will be great to see Kubeflow grow beyond the perception that it is just a TensorFlow related project.

[2018-01-02 22:56] aronchick commented on #74
Correct! Though we do include TensorFlow to start, we're not TensorFlow
exclusive - at all! We only mention "flow" because it's such a common term
in ML. We'd ABSOLUTELY love some help including other frameworks!

On Tue, Jan 2, 2018 at 1:26 PM michael mccune <notifications@github.com>
wrote:

[2018-01-03 05:05] #62 closed

[2018-01-03 05:36] ScorpioCPH commented on #68
@jlewi Hi, @foxish 's comment looks good to me :) We can focus on tf-operator now.

[2018-01-03 06:40] gangliao opened #78 "Failed to connect to my Hub at http://tf-hub-0:8081/hub/api (attempt 1/5). Is it running?"
![image](https://user-images.githubusercontent.com/3071933/34511061-07b4995a-f094-11e7-834c-83486d9c0ec2.png)

[code]

[2018-01-03 13:03] GoodJoey opened #79 "if i use kubeflow on local cluster with gpu"
do i need to add the nvidia driver map manually?
as i didn't see any introduction about map the nvidia driver in the guide, a little confuse about that.

[2018-01-03 14:20] k82cn commented on #68
+1, I'll try to hold a meeting to clarify the requirements :).

[2018-01-03 19:02] jlewi commented on #70
@BenHall  Thank you!

[2018-01-03 19:06] jlewi opened #80 "Set suitable defaults for JupyterHub service type and make it configurable?"
I think the original configuration of JupyterHub was to automatically create an external load balancer.

Is that the best option?

Maybe we should add parameters to the JupyterHub component and make the service type easily configurable.

[2018-01-03 21:48] jlewi commented on #78
What URL are you accessing Jupyter at?

How are you connecting to Jupyter on your cluster? Are you exposing Jupyter Hub on an external IP? Are you connecting using kubectl port-forward?

The url `http://tf-hub-0:8081` looks suspect. `tf-hub-0` is the name of the JupyterHub pod and service; if you're outside the cluster those won't map to valid hostnames. However, the fact that this is returning a

[2018-01-04 01:46] pineking commented on #79
see doc: https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/
the driver libs path can be removed from YAML file, if you use nvidia-docker 2.0 together with device plugin.

[2018-01-04 03:08] GoodJoey commented on #79
thanks, help a lot.

[2018-01-04 03:08] #79 closed

[2018-01-05 00:55] nkashy1 commented on #52
A good place to start, from the point of view of what a data scientist could reasonably expect in their environment, is [Kaggle's Python image](https://github.com/Kaggle/docker-python).

If size is a concern, as per [Issue 37](https://github.com/google/kubeflow/issues/37), this is probably not satisfactory as I think their image weighs in at around 10GB. If the intention is to support more than ju

[2018-01-05 01:02] nkashy1 commented on #52
One problem that Kaggle has not yet had to contend with is how to handle GPUs.

This is a problem that [Datalab](https://github.com/googledatalab/datalab) has solved by offering a [standard image](https://github.com/googledatalab/datalab/blob/master/containers/datalab/build.sh) and a [GPU image](https://github.com/googledatalab/datalab/blob/master/containers/datalab/build.gpu.sh).

[2018-01-05 06:56] harryliu123 commented on #78
i have same case
i thank question is not registered tf-hub-0 on kube-dns

root@XXXX:~# kubectl exec busybox -- nslookup tf-hub-0
Server:    10.96.0.10
Address 1: 10.96.0.10 kube-dns.kube-system.svc.cluster.local

nslookup: can't resolve 'tf-hub-0'
command terminated with exit code 1

[2018-01-05 08:59] foxish commented on #78
`http://tf-hub-0:8081` should be an in-cluster resolvable DNS name that the jupyter notebooks pods use to connect back to the hub.
Can you verify that the headless service has been created, and that kube-dns is enabled?

[2018-01-05 13:58] jlewi opened #83 "ProwTestCase library"
See discussion https://github.com/google/kubeflow/pull/71#issuecomment-355559038

I think it might make sense to create a class `ProwTestCase` inspired by `unittest.test_case` to handle a bunch of the boilerplate around writing tests intended to run as a step in an Argo workflow under prow.

So a test file might look like

[code]
Some of the boilerplate that the test framework could take care of i

[2018-01-05 14:04] jlewi commented on #74
I came across a CRD for mxnet in [deepinsight/mxnet-operator](https://github.com/deepinsight/mxnet-operator). We'd be very receptive to including this in Kubeflow if someone is interested in taking this up.

Forking the ksonnet prototype for TfJob to create a prototype for mxnet should be fairly straightforward.

is anyone interested in taking this on?

/cc @loadwiki @NathanNZ

[2018-01-05 18:27] jlewi opened #85 "Tutorial(s) that correspond to CUJs"
We need a tutorial that maps a user through one or more CUJs as way of illustrating the value of Kubeflow.

This might be something like
- Deploy Kubeflow
- Open up an existing TensorFlow notebook that provides a tutorial
- Train locally
- Train distributed (with GPUs) using TfJob
- Deploy the trained model
- Send some predictions

tensorflow/k8s#195 has some links to existing tutorials about Tens

[2018-01-05 19:53] jlewi opened #87 "CUJ: Make Kubeflow flow"
Opening this bug to track work related to following CUJ.

* Sam develops a ML model on jupyter with some small sample data.
   After having tweaked the model, Sam now wants to train with a slightly larger dataset.
* Sam is familiar with Python, but does not understand Kubernetes.
* Sam is provided with a python library that will package his model and run it using TF Job using the data
  Sam provid

[2018-01-05 19:54] jlewi commented on #21
Filed kubeflow/issues#87 to track overall CUJ per comment from @vishh.

Lets narrow the scope of this issue to adding Argo to our ksonnet registry.

[2018-01-05 20:14] jlewi opened #88 "Incorporate tf.transform"
We should include [tf.transform](https://github.com/tensorflow/transform)

At a minimum we should include tf.transform in our Jupyter images so people can use it in Jupyter via the DirectPipelineRunner.

[2018-01-05 20:58] jlewi opened #89 "Support ml_workbench"
Is [ml_workbench](https://github.com/googledatalab/pydatalab/tree/master/solutionbox/ml_workbench) something we should include in our Docker images for Jupyter?

[2018-01-05 21:07] sebgoa opened #90 "release .yaml manifest"
Hi, having to install ksonnet to try kubeflow and then learn how to use it to be able to have the manifests is a bit cumbersome.

Would be nice to release the working manifests in the github release page, so that one can just `kubectl apply` to get going and test kubeflow quickly.

[2018-01-05 23:31] sebgoa opened #91 "link to ksonnet might be confusing"
ksonnet is a pre-req, but you link to the release page which only has a linux build.

so if someone is on mac they are sent on a goose chase, having to read the ksonnet readme to install ks from brew.

so the readme could use a bit more info about installing ks.

[2018-01-06 00:42] nkashy1 commented on #87
Could this be implemented with a separate Jupyter backend?

To begin with, Sam could experiment in a standard Python2/3 backend with TensorFlow installed, etc. When ready, Sam could switch to a specialized backend in which the code would instead be packaged and deployed using TFJob.

[2018-01-06 00:46] nkashy1 commented on #64
TensorFlow Serving client library support - right now TensorFlow Serving only publishes a package to PyPI for Python 2 ([link](https://pypi.python.org/pypi/tensorflow-serving-api)).

This means that users can't run this library from JupyterHub if they just follow our standard procedure.

[2018-01-06 01:54] jlewi commented on #90
I understand the sentiment, but I think this might actually create more friction

- Our docs would be more confusing. We'd have a "Quick Quick Start" which shows how to use the YAML but that will only get you so far. For example, you can't easily substitute in your own models or docker images for training. So IMO we're conveying the wrong impression to users. Then we have to tell people to switch

[2018-01-06 02:15] nkashy1 commented on #91
@sebgoa : Please have a look - https://github.com/google/kubeflow/pull/94

[2018-01-06 03:13] sebgoa commented on #90
I hear you, but now you are asking kubeflow users to embrace and learn ksonnet as well.

I like ksonnet, bitnami who I work at contributed to the project, but I don't think it is super friendly for the users. Using kubeflow requires 6 or 7 `ks` commands. Folks will need to learn what they do, before diving into understanding kubeflow itself.

just my 2 cts.

[2018-01-06 03:45] jlewi opened #95 "Presubmits need to pull registry from the PR branch"
In presubmit tests we want to pull registry components from the PR/Commit actually being tested.

It looks like we can do this just by using the github URL of the fork from which the PR is submited
e.g.

[code]

[2018-01-06 03:46] jlewi opened #96 "Postsubmits need to use registry components at commit being tested"
In postsubmit tests we need to pull registry components at the commit being tested by prow and not head.

[2018-01-06 16:22] gangliao commented on #78
Yes, the problem is from kube-dns, after it was reconfigured, kubeflow works well. Thank you! @foxish

[2018-01-06 21:34] jlewi opened #98 "Delete inception.tar.gz"
We have a copy of inception checked into the repo
[here](https://github.com/google/kubeflow/blob/master/components/k8s-model-server/inception.tar.gz).

I don't recall why we checked it into the repo. I think we already host a public copy on GCS for use in our samples.

We should remove it from the repo; its just unnecessary bloat.

[2018-01-06 21:52] jlewi commented on #90
I agree but I think there are better ways to solve this than providing manifests.

For people who want to dive into ML,  neither `kubectl` nor `ks` is a really great entrypoint. A better entrypoint would probably be `JupyterHub`. So how can we simplify the steps to giving users access to JupyterHub?

What if there was a web app that users could go to "http://kubeflow.io/click-to-deploy" which woul

[2018-01-06 22:04] jlewi commented on #90
An even simpler solution could be to create a bootstrap script and Docker container with ksonnet and just run that (either locally or in a cluster).  I think we could get to the following experience pretty easily

[code]

[2018-01-06 22:28] jlewi opened #99 "Create only one service for JupyterHub and make type a parameter"
We are currently creating two services for JupyterHub; one of type ClusterIp and one of type LoadBalancer.

[code]
We should just create a single service and make the type a configurable parameter.

@foxish @yuvipanda Am I missing something? Is there any reason to have two services?

[2018-01-07 04:58] jlewi commented on #60
So I have a prototype of enabling IAP https://github.com/jlewi/kubeflow/tree/iap. The one issue I'm hitting is that the proxy doing IAP validation doesn't seem to reject traffic that didn't go through IAP.

In this implementation a sidecar in the JupyterHub pod validates the incoming request and reject it if it didn't go through IAP or the JWT isn't valid.

One question I have is how can we config

[2018-01-07 14:23] mogthesprog commented on #60
I’m on mobile and out at the moment. But IIRC IAP sends some special headers X-Goog-User or something, so you could maybe use the Remote-User Authenticator for jupyter hub which takes the name of the user header as configuration? I can have another nose for the links when I get home.

That should do what you need on then jupyterhub end I believe.

[2018-01-07 17:15] jlewi commented on #60
@mogthesprog Thanks for the quick response let me try that out.

[2018-01-07 18:09] jlewi commented on #60
That worked thank you very much. I just had to configure the JupyterHub config as follows

[code]

[2018-01-07 18:13] mogthesprog commented on #60
Awesome! :) Glad it worked!

Yeah there are a couple of headers forwarded by IAP. I’ll have to check if there’s one that contains a signed JWT and maybe that can be used to by the jwtauthenticator.

[2018-01-07 19:30] jlewi commented on #60
Yup there is see [here](https://cloud.google.com/iap/docs/signed-headers-howto).

In our case, I think its safe to use `x-goog-authenticated-user-{email,id}` because we're relying on the sidecar to ensure traffic went through IAP and IAP will strip out any user supplied `x-goog-*` headers.

[2018-01-07 19:57] jlewi commented on #78
@gangliao For posterity, what did you have to do to reconfigure kube-dns? Also how are you running Kubernetes?

[2018-01-07 19:59] jlewi commented on #99
It looks like the first service is a headless that is needed by the individual Jupyter servers to connect back to the hub. It looks like this needs to be a headless service.

Whereas the second service is used to create an entrypoint from outside the cluster for users to connect to.

[2018-01-07 20:30] jlewi opened #100 "Let users launch more than one server in JupyterHub"
The JupyterHub control panel only lets each user launch a single server.

I think we should let a user run multiple servers simultaneously. I think this will be quite common since they might want servers corresponding to different environments/packages.

It looks like JupyterHub is still adding support for this jupyterhub/jupyterhub#766

[2018-01-07 20:34] jlewi commented on #31
Yeah. I'd probably suggest at least 8 CPU machine.

[2018-01-07 20:56] yuvipanda commented on #99
While I haven't looked at the code yet (been swamped!), I suspect you need the headless service because the pods need to know where to find the hub, and by default this just uses the hub's hostname. Since you're using a statefulset, that would be tf-hub-0, and you need the extra headless service.

This is configurable - see the 4 `hub_connect_*` options used in https://github.com/jupyterhub/zero-t

[2018-01-07 20:58] yuvipanda commented on #100
All the API & backend work needed for this has been completed in JupyterHub 0.8 - there's no UI for it yet. From my understanding, we don't have anyone working on it right now (mostly from a priorities perspective!), so if anyone here has cycles to help out that'd be great! http://jupyterhub.readthedocs.io/en/latest/reference/rest.html#enabling-users-to-spawn-multiple-named-servers-via-the-api has

[2018-01-07 22:57] jlewi commented on #99
Thanks. So my conclusion is we do in fact need two services

  *  Service is intended for internal consumption by the spawned pods with the hub
  *  2nd service is intended for users to connect to the hub.

[2018-01-07 22:57] #99 closed

[2018-01-07 23:07] jlewi opened #101 "Lock down jupyter pods"
What would it take to lock down individual Jupyter pods so that only the owner has access?

I think the use case would be you have multiple data scientists sharing a cluster. Each data scientist has access to slightly different datasets. So they want to use their own credentials (and not a shared service account). So we'd like the pods to be sufficiently locked down that they feel comfortable putt

[2018-01-07 23:33] yuvipanda commented on #99
Why does it need to be two services? The jupyter pods can just talk to the
hub using the same service external users use to access it, no?

On Jan 6, 2018 2:28 PM, "Jeremy Lewi" <notifications@github.com> wrote:

[2018-01-08 00:30] jlewi commented on #99
I tried it and ran into problems. Specifically I tried having a single tf-hub-0 service of type ClusterIP.

I ran into an error like #78 with the Jupyter pods not being able to connect to the hub. My guess is that there is something about headless services and how these pods connect to the hub.

I didn't bother to investigate because it seems much cleaner to have 2 services.

Users will want to co

[2018-01-08 00:44] yuvipanda commented on #99
I think having two services is unneeded complexity since you can configure
it to not need it, but will defer to you for the UX you want for your users
:)

On Sun, Jan 7, 2018 at 4:30 PM, Jeremy Lewi <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-01-08 00:45] jlewi opened #102 "Define common API for prediction"
We need a common API for inference. This is critical to being able to support a variety of different frameworks (e.g. TensorFlow, scikits, xgboost).

There's a lot of prior art here. A lot of the existing frameworks define inference APIs. We should start by collecting those and seeing if it makes sense to adopt a slightly modified version of one of them.

I think the aim should be to produce an [O

[2018-01-08 00:48] yuvipanda commented on #101
The jupyter pods are already are authenticated with internal OAuth between
the Hub process and the user pods, so other users on the network shouldn't
be able to access the notebook pod without authentication.

We also default to disabling service account mounting in the spawned user
pod to prevent users from accessing the kubernetes API. I agree that we
should have easier ways to provide rolebindi

[2018-01-08 00:50] jlewi commented on #99
Thanks for the input. I think we'll stick with two.

With two services the pod always use a headless service to connect to the hub. So we don't have to worry about configuration of the ingress to JupyterHub interfering with pod to hub communication.

[2018-01-08 00:54] jlewi commented on #101
I think we will definitely need access to the K8s API because we want to allow users to create other K8s resources (e.g. TfJobs) from their notebooks. Although arguably they should be using user credentials for this and not a service account.

[2018-01-08 01:42] yuvipanda commented on #101
https://github.com/jupyterhub/kubespawner/issues/110 is partially for dealing with directly mounting OAuth credentials and what not from your login provider into the pod as a secret, which might help (if you are using google auth to log in too)

We don't mount any service accounts by default, but you can certainly enable mounting :)

We'll probably also add NetworkPolicy support to the helm chart

[2018-01-08 09:17] cliveseldon commented on #102
At Seldon, as the above link shows our API is described as a gRPC proto spec. For the external API we provide two endpoints, predict and feedback. Feedback allows "rewards" to be sent to allow users of the API to return the success or not of the predictions for use by online optimization algorithms, for example multi-armed bandit solvers.

The core message type SeldonMessage has various variants.

[2018-01-08 14:14] elmiko commented on #102
+1 for creating something with OpenAPI, i think it will give implementers the greatest flexibility with regards to creating tooling and interacting with the kubeflow processes.

this sounds like a really interesting idea, the technical advatanges of using gRPC really offer some nice features but i am concerned about getting too entrenched in something that ties down a part of the stack that will b

[2018-01-08 14:47] cliveseldon commented on #102
@elmiko In the [issue](https://github.com/SeldonIO/seldon-core/issues/6) I link to the OpenAPI issue discussing this in detail and also the NY Times project for OpenAPI->proto which I have not tried yet.

[2018-01-08 14:55] jlewi opened #104 "Problems connecting to Jupyter Kernel with IAP"
On GKE with IAP, I can connect to JupyterHub and spawn a notebook server but Jupyter reports the error

[code]

The pod logs for my Jupyter notebooks are here
[jupyter_logs.txt](https://github.com/google/kubeflow/files/1611891/jupyter_logs.txt)

I see lots of warnings like

[code]

Which looks like jupyter/notebook#2664

Does anyone know if IAP and JupyterHub work?

/cc @foxish @yuvipanda

[2018-01-08 15:23] jlewi commented on #102
I think we definitely want to support both REST and gRPC.

[2018-01-08 17:55] foxish commented on #99
We could actually unify them. The headless service differs in the kind of DNS name it imparts to the pod, which is why it wasn't interoperable when you tried it I think. But I agree that they are serving different purposes - one is essential for jupyterhub to connect back and just needs creating a DNS entry, the other is for exposing said service out of the cluster - so, I'm also in favor of keepi

[2018-01-08 19:58] jlewi commented on #104
It looks like issue might be with using the Cloud Endpoints proxy (which is based on nginx) to do JWT validation.

[2018-01-08 22:12] yuvipanda commented on #104
Google's HTTP Load Balancing product seems to have a 30s default timeout, which interacts badly with websockets (https://cloud.google.com/compute/docs/load-balancing/http/#timeouts_and_retries). Raising it to something closer to infinite (since you don't want to interrupt the websocket connection - although it will reconnect when it fails) is probably needed for a smooth experience. This is also w

[2018-01-08 22:43] jlewi commented on #104
Thanks. So it could be the problem is either
   1) the NGINX proxy
       or
   2) Load balancer as configured by Ingress

I'll try using a load balancer with the side car and seeing if that works.

[2018-01-08 22:49] jlewi commented on #104
It seems like JupyterHub should work just fine behind NGINX; I think that's what the following describe
  * [JupyterHub on GKE classrom](https://github.com/GoogleCloudPlatform/gke-jupyter-classroom)
  * [Jupyter Example](http://jupyterhub.readthedocs.io/en/latest/reference/config-examples.html)

/cc @sveesible

[2018-01-08 22:52] yuvipanda commented on #104
(note that the first article is intensely outdated and uses forked versions
of old versions of all software, so should not be considered very reliable).

But yes, JupyterHub should work just fine behind nginx, we recommend users
use nginx-ingress if they need to use an ingress.

On Mon, Jan 8, 2018 at 2:49 PM, Jeremy Lewi <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-01-08 22:59] jlewi commented on #104
Thanks. Based on your previous comment though, it sound like you think using a service of type load balancer is better than using ingress. Is that right?

[2018-01-08 23:41] yuvipanda commented on #104
Yes, it has definitely been less error prone and simpler across all major cloud providers.

[2018-01-09 00:06] jlewi commented on #104
@yuvipanda Can you point me at some instructions? I tried using a LoadBalancer it looks like it ended up creating an external LB of type TCP and not HTTP. The backend service also showed up in the UI but not the command line and I couldn't figure out how to configure the timeout with the UI.

In the meantime with ingress, I was able to increase the timeout on the associated backend services but th

[2018-01-09 00:09] yuvipanda commented on #104
If you set service's type to LoadBalancer, it provisions a TCP LoadBalancer that pretty much 'just works', since HTTP/HTTPS just work over TCP. There are no timeouts enforced there, and so no configuration is needed. Check out the 'proxy-public' service in https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/master/jupyterhub/templates/proxy/service.yaml for how we configure it.

Is this stil

[2018-01-09 00:18] jlewi commented on #104
Thanks.

I've turned off IAP for now.

[2018-01-09 00:57] jlewi commented on #104
If I use a service of type LoadBalancer and direct traffic directly to JupyterHub everything works.

But if I now try to connect via the NGINX side car, I can access the Hub but I get a 404 when trying to create a new notebook:

[code]

[2018-01-09 02:05] jlewi commented on #11
Here are some relevant links
https://github.com/fabric8io/exposecontroller
https://blog.fabric8.io/accessing-your-applications-on-kubernetes-or-openshift-3e69be0ad3bc

[2018-01-09 04:21] jlewi commented on #104
So I think I figured out the issues with the NGINX config. I had to follow these [instructions]https://www.nginx.com/blog/websocket-nginx/) and insert a customized config to the endpoints container.  My config is below. With this config I was able to connect through a load balancer provisioned by ingress pointing at the ESP proxy. Now I just need to enable IAP.

[code]

[2018-01-09 07:38] mitake commented on #68
@jlewi @flx42 @jiayingz

Sorry for my late reply.

The only behaviour we could observe was slowing down of the problematic GPU. So the reason, overheating, is our guess (but it is hard to guess that other root causes which can introduce the same result). The GPU is GeForce so probably its cooling fan was broken. We could detect it by benchmarking, not by management tools.

Probably no. We just obs

[2018-01-09 11:41] gangliao commented on #78
@jlewi  My case is quite special. I find  Flannel is configured incorrectly, then I reconfigure it and also restart my kube-dns, finally `http://tf-hub-0:8081` can be resolved.

[2018-01-09 17:32] jlewi opened #105 "Make it easy to get started with Kubeflow"
We'd like to have a super simple getting started experience for people who want to kick the tires on Kubeflow.

In #90, ksonnet was highlighted as a potential barrier.

As a strawman I think a good getting started experience might be

[code]

In which case the bootstrap program would automatically deploy a stock Kubeflow deployment on the cluster. This would prevent the user from having to know an

[2018-01-09 17:33] jlewi commented on #90
Closing this in favor of #105

[2018-01-09 17:33] #90 closed

[2018-01-09 18:09] jlewi opened #106 "Figure out ksonnet repo organization"
We need to figure out how we want to organize our ksonnet registry in terms of [packages and prototypes](https://ksonnet.io/docs/concepts).

I think we have at least two different types of entities

- Individual components (e.g. JupyterHub, Argo, TensorFlow CRD, TF Serving, etc...)
- Stacks - collections of components

I think we will have multiple stacks which provide different collections of com

[2018-01-09 18:10] elmiko commented on #105
i like the idea of a bootstrap container to do all the setup, i'm also a fan of enabling user growth by exposing the details. when this had been brought up in #23 , you had recommended the `ks show` command as a possible alternative for getting at the kubernetes manifests. i wonder if we could also demonstrate something like this in the quick start guide (eg "Here's how to get the kubernetes manif

[2018-01-09 18:17] jlewi commented on #105
I like the idea of the webapp spitting out the ksonnet app either by giving you a tarball that you can download or pushing to a Git repo

[2018-01-09 18:18] jlewi commented on #78
Thanks.

[2018-01-09 18:18] #78 closed

[2018-01-09 19:39] foxish commented on #105
I think this might be a point to consider a kubeflow-operator as a concept.
It could be configurable and also allowing sufficient flexibility, while
abstracting away the underlying implementation, and offer high level knobs
dealing with the individual sub components.

On Jan 9, 2018 10:17 AM, "Jeremy Lewi" <notifications@github.com> wrote:

[2018-01-09 19:42] elmiko commented on #105
@jlewi by "ksonnet app", which app were you referring to?

[2018-01-09 20:27] sub-mod commented on #90
I still vote for manifest. The burden of keeping manifests updated can be shared by the community.
Nothing against ksonnet.But there can exist multiple paths towards kubeflow.

[2018-01-09 20:41] sub-mod commented on #105
Can we have the manifest file available along with ksonnet  code ?

[2018-01-09 21:16] erikerlandson commented on #105
I like the idea of a kubeflow command for dumping manifests.  That ought to eliminate the issues of developer burden raised in #90, since it becomes self serve

[2018-01-09 21:18] erikerlandson commented on #105
Also +1 for kubeflow operator, although I remain skeptical that there is just one uber-CRD for this

[2018-01-09 22:25] jlewi commented on #105
I'd like to keep this issue pretty narrowly scoped to providing a quick start that hides ksonnet. Lets open up other issues as needed to think about maintaining a Kubeflow deployment throughout its lifetime.

I think if we keep the scope narrow, we can keep the issue focused on something that is tractable and could be accomplished in a couple days.

I think a CRD is way more complicated and I shar

[2018-01-09 22:34] jiayingz commented on #68
Thanks a lot for sharing the details @mitake I think your described use case brings an interesting question on whether we want to have device plugin export a management API that can be used to drain or change properties of the underlying devices. Most likely we already have underlying tools to do this but there is benefit to have a consistent and portable management model for extended resources. N

[2018-01-09 22:35] sub-mod commented on #105
@jlewi i agree.I don;t want to change the scope of this issue.But the issue https://github.com/google/kubeflow/issues/90 is closed.Do you agree whether the manifest files need to be published on github?Do we open https://github.com/google/kubeflow/issues/90 to discuss there?

[2018-01-09 23:23] erikerlandson commented on #68
+1 for a use-case meeting.  If possible, keeping scheduling decoupled from kubeflow seems desirable given the broad cross-application needs for similar scheduling functionalities

[2018-01-09 23:42] cwbeitel opened #107 "Typo in tfjob.jsonnet"
E.g.

[code]

yields (note args field populated with namespace var):

[code]

suggest updating https://github.com/google/kubeflow/blob/master/kubeflow/tf-job/prototypes/tf-job.jsonnet#L26 to `local argsParam = import 'param://args';`

[2018-01-09 23:53] flx42 commented on #68
Why? AFAIK NVML or DCGM support this use case.
For instance:
[code]

If you look at `nvml.h`:
[code]

[2018-01-10 00:21] jlewi commented on #105
What problem are you trying to solve? The problem in #90 was that downloading/using ksonnet was a barrier to getting started. I claim that the proposal in this issue is a better solution to that problem then publishing manifests.

[2018-01-10 01:01] #107 closed

[2018-01-10 02:26] YujiOshima commented on #68
Hi @jiayingz @erikerlandson @flx42 !
Thanks @mitake .

Here are more details of our problem.
I trained Resnet with Cifer10 for a benchmark.
GPU: GeForce GTX 1080 Ti.
DL Flamework: MxNet

The result of a healthy GPU is as below.

[code]
It keeps throughput about 1900 samples/sec to the last.
But some GPU drastically slow down during training.

[code]
The temperature of that GPU looks too high.

[co

[2018-01-10 03:30] flx42 commented on #68
It seems challenging to detect this issue in advance. Especially for temperature, if the fan is only slightly under-performing (but still enough for triggering a clock throttle), it might take seconds or minutes before this happens.

We could still try to detect the cases where the GPU is obviously not healthy. At startup time, a device plugin could implement a lengthy health check, if it wants to

[2018-01-10 03:49] aronchick commented on #68
Would it be possible to use a clock throttle signal?

On Tue, Jan 9, 2018 at 10:30 PM Felix Abecassis <notifications@github.com>
wrote:

[2018-01-10 03:59] flx42 commented on #68
What do you mean by signal? With the new API [DCGM](http://www.nvidia.com/object/data-center-gpu-manager.html), you can register a callback that gets called whenever a thermal violation happens. We are going to release Go bindings for DCGM very soon.

[2018-01-10 11:16] wydwww opened #109 "po/tf-job-operator logs said user cannot get endpoints in the namespace "default""
After `ks apply default -c kubeflow-core`, the jupyterhub was up but when I checked `kubectl logs tf-job-operator-77b689c87d-g7w2z`, it said
[code]
It's pretty same with https://github.com/tensorflow/k8s/issues/173 but it's not deployed by helm, so how to fix this?

Thanks

[2018-01-10 18:10] aronchick commented on #68
That's perfect! I'm looking for just a bit more - basically a container or
some mechanism, to register that the node is unhealthy (or some other
system) with Kubernetes and begin evicting until it becomes healthy. For
example, using the NodeProblemDetector -
https://github.com/kubernetes/node-problem-detector

On Tue, Jan 9, 2018 at 10:59 PM Felix Abecassis <notifications@github.com>
wrote:

[2018-01-10 18:34] flx42 commented on #68
This seems to be still within the realm of the Device Plugin. IIRC, pods are not evicted today if a device becomes unhealthy, but they are just excluded from being scheduled for future jobs. Is that correct @jiayingz @RenaudWasTaken?

[2018-01-10 19:33] nkashy1 commented on #105
1. Manifests: Do we need a kubeflow command for doing this as @erikerlandson suggested? Why not just use `ks show`? Is the problem not wanting to install `ksonnet` (which I am totally sympathetic to)?

2. bootstrap container: It would be good to start defining our requirements for this. Is it just for quick start in the sense of "introduction to kubeflow" or is it intended to get a barebones deplo

[2018-01-10 20:38] abhishektiwari opened #110 "How to port model developed in Jupyter notebook to TFJobs"
I am working on a very comprehensive tutorial for Kubeflow but I am having a hard time to understand how a Tensorflow model developed in a Jupyter notebook can be ported to TFJobs. I see a disconnect.

It seems one has to containerize the model from Jupyter and submit using Ksonnet but how? How to create a model prototype?

[2018-01-10 21:08] foxish commented on #110
@abhishektiwari thanks for the report! This is a good discussion to have - we should have a good story around migrating from single-node to multi-node training. One approach that was discussed was using a python library to provide the scaffolding - to enable TFJob to launch from the Jupyter notebook. Open to further discussion here.

cc/ @vishh @aronchick @jlewi @kow3ns

[2018-01-10 21:09] foxish commented on #109
This is an RBAC issue - you'd need to create a rolebinding that grants the ability to view the endpoints resource to default:tf-job-operator. https://kubernetes.io/docs/admin/authorization/rbac/ is a good starting point on RBAC.

[2018-01-10 21:23] jlewi commented on #105
My preference would be to let whoever is interested in picking this up drive this. I think this is an area where we can iterate quickly.

[2018-01-11 03:09] wydwww commented on #109
@foxish Thanks! It's easy to fix
[code]
Do I need to add this to https://github.com/google/kubeflow#rbac-clusters?

[2018-01-11 05:18] jlewi commented on #109
The ksonnet configs should create the necessary roles. So if that's not happening its a bug and we should figure out why and fix it.

[2018-01-11 06:52] sfabel commented on #105
I think that using ksonnet is not a hurdle; it's just a lack of documentation, IMHO. Simplify too many things and you'll end up with something trivial and useless.

Here's how I think it could be done: point newcomers to something like my [tutorial](https://tutorials.ubuntu.com/tutorial/get-started-kubeflow#0), so they get to use kubeflow and experience it. Then, let's create material that shows h

[2018-01-11 07:15] jiayingz commented on #68
@flx42 what you described is the current behavior. However, some external tools can take more aggressive response, like turning down affected pod or even drain the node.

@YujiOshima I guess one possible mitigation is to have a livenessProbe to watch for Thermal caused throttling in the training worker pod?

[2018-01-11 09:23] amitkumarj441 commented on #110
@abhishektiwari Actually current model of CRD is straight-out to TF training jobs. As single CRD for multiple TFJob types might not a good choose and I agree with the idea of @foxish about providing a scaffolding.

[2018-01-11 09:58] bhack commented on #105
For newcomers could be useful to expose examples with Estimator high level API. See https://github.com/tensorflow/k8s/issues/61

[2018-01-11 13:46] elmiko commented on #105
i think it would be nice for newcomers to have easy access to the kubernetes manifests. i get that installing and using ksonnet may not be the most difficult task, but even if we don't end up checking the manifests into the repo it seems like an easy wrapper to have the tool we are discussing have the ability to emit the manifests.

i'm not sure this addresses @sub-mod 's concerns, but my issue is

[2018-01-11 14:23] foxish commented on #110
Related to https://github.com/google/kubeflow/issues/87

[2018-01-11 14:23] foxish commented on #87
/xref https://github.com/google/kubeflow/issues/110

[2018-01-11 15:53] lluunn commented on #102
This is CMLE's API in OpenAPI spec: https://gist.github.com/lluunn/22fe1f2eaf0859f7aee8c54a1aeb3275

[2018-01-11 17:27] cwbeitel opened #113 "Add tensorBoard field to tf-job prototype"
Propose adding an optional param to https://github.com/google/kubeflow/blob/master/kubeflow/tf-job/prototypes/tf-job.jsonnet allowing user to provide tensorboard log dir which if provided is templated as follows
[code]

Propose naming optional param "tensorboard_log_dir", alternatively "tensorboard" or "log_dir"...

Unclear why but I've been observing even if tensorBoad logDir field is provided tb

[2018-01-11 19:07] jlewi commented on #102
The CMLE predict payload doesn't seem very structured compared to Seldon's. Its just a list of arbitrary objects. In comparison, in Seldon's the payload is

[code]
So Seldon explicitly has metadata
message Meta {
  string puid = 1;
  map<string,google.protobuf.Value> tags = 2;
  map<string,int32> routing = 3;
}
[code]
message DefaultData {
  repeated string names = 1;
  oneof data_oneof {
    Tens

[2018-01-12 14:04] jlewi commented on #51
@yupbank started #115, can you sync with @lluunn please to avoid duplicate work?

I think we still need to update the ksonnet prototypes.

[2018-01-12 14:08] yupbank commented on #51
sure..

[2018-01-12 15:26] cwbeitel opened #116 "Add resource request and limit fields to tf-job ksonnet prototype"
When jobs are run with default or incorrect resource requests they will be evicted if resources cannot be allocated when needed, e.g.

[code]

Proposing to add those fields to tf-job prototype.

[2018-01-12 15:57] jlewi commented on #110
My interpretation of the original question was
  * I have a bunch of code in a Jupyter notebook split across multiple cells
  * The code runs "interactively" (i.e. by executing the cells) in jupyter
  * Now you want to submit a TfJob to run the code

So its not necessarily about going from single node to multi-node.

So the first thing you need to do is turn your notebook into an executable progra

[2018-01-12 16:01] jlewi commented on #113
The TfJob controller needs an image which contains tensorboard in order to run tensorboard. That image is specified by TfImage which should be a standard TensorFlow image. The standard TensorFlow image contains common TensorFlow tools; tensorboard being one of them.

The TfImage can be configured per job but I also believe you can specify a default in the controller so that individual jobs don't h

[2018-01-12 16:26] nkashy1 opened #117 "tensorflow-serving-api does not support Python3"
This affects kubeflow in the following ways:

1. This issue affects the kubeflow JupyterHub environment, as it currently only offers a Python3 kernel.

2. Our guide to calling models only works in Python2 environments.

Some possible solutions:

1. Publish Python3-capable `tensorflow-serving-api` to PyPI

2. Show how to directly use the [TensorFlow Serving protos](https://github.com/tensorflow/ser

[2018-01-12 16:40] nkashy1 opened #118 "Public Docker image with TensorFlow Serving client"
At least on gcr.io/kubeflow, but also having one on DockerHub would be valuable.

[2018-01-12 19:46] cfregly commented on #102
Here's a link to the [PipelineAI](https://pipeline.ai) OpenAPI docs:

https://github.com/PipelineAI/pipeline/tree/master/docs/api

Few Notes:
* Our API is intentionally generic (similar to CMLE) to support a wide variety of use cases (including existing APIs).
* I'd suggest not over-architecting this piece of the stack - not now, anyway.  We went this route initially, but found it better to be mor

[2018-01-13 13:28] bhack commented on #32
Any update?

[2018-01-13 17:30] carmark commented on #118
I own the `kubeflow` org on docker hub, and can contribute it if you need.

[2018-01-13 17:54] aronchick commented on #118
That would be wonderful, thank you!

On Sat, Jan 13, 2018, 9:30 AM Lei Xue <notifications@github.com> wrote:

[2018-01-13 17:55] aronchick commented on #118
Is there something that GCR isn't doing? It's just much easier, faster and
more feature rich for us.

On Sat, Jan 13, 2018, 9:54 AM David Aronchick <aronchick@google.com> wrote:

[2018-01-13 18:36] carmark commented on #118
;-(, GCR is blocked in China....

[2018-01-13 23:47] jlewi opened #121 "Default service type for ModelServer should not be loadbalancer"
Currently the the default service type for ModelServer is set to LoadBalancer
https://github.com/google/kubeflow/blob/master/kubeflow/tf-serving/tf-serving.libsonnet#L43

In Cloud this can mean exposing the service publicly. I don't think this should be the default option. I think the default should be ClusterIP and we can expose a parameter to set it.

[2018-01-14 07:25] abhishektiwari commented on #110
@jlewi Thanks a lot for explaining it so well.

After a bit of digging, I managed to figure this out but being newbie I was not sure. I initially thought there must be a magical way to take Jupyter notebook's interactive code and convert into a TFJob. I would love to see something like that but for now, I can continue with the workflow you described above.

[2018-01-14 18:26] jlewi commented on #11
Also relevant

https://github.com/PalmStoneGames/kube-cert-manager

cert-manager in combination with external DNS were mentioned as one way to secure TLS services.

/cc @elsonrodriguez

[2018-01-14 18:32] jlewi commented on #11
One question that has come up is why not use JupyterHub's built in support for TLS and OAuth authentication.

I think that would only be a partial solution because we have lots of web services (e.g TfJob UI, Argo UI, TensorBoard, etc...) that we need to secure in addition to JupyterHub.

The pattern in K8s seems to be to use a common sidecar which can serve as a secure proxy that sits in front of

[2018-01-15 02:11] cfregly commented on #102
Also, i'd like to emphasize the `ping()` method used to check status of the service.  we have this in the PipelineAI Predict API (linked above).

[2018-01-15 14:10] lgarithm opened #122 "where is the Dockerfile of gcr.io/kubeflow/tensorflow-notebook-cpu?"
Where is the Dockerfile of [gcr.io/kubeflow/tensorflow-notebook-cpu](https://github.com/google/kubeflow/blob/master/kubeflow/core/jupyterhub.libsonnet#L49)?

Is it just a mirror of [jupyter/tensorflow-notebook](https://store.docker.com/community/images/jupyter/tensorflow-notebook) defined in https://github.com/jupyter/docker-stacks/tree/master/tensorflow-notebook?

Or is it not open sourced?

[2018-01-16 14:08] jlewi commented on #102
What's the benefit of an API spec that just takes an arbitrary json object? Doesn't that tightly couple clients and models in that client code has to be written for a specific model?

The Seldon API seems like its more self documenting then the CMLE/Pipeline AI generic APIs. For example, if I look at the Seldon spec its pretty obvious which fields I need to set in order to send, strings, binary da

[2018-01-16 14:28] #61 closed

[2018-01-16 14:36] jlewi opened #123 "JupyterHub should not open up external IP by default"
By default JupyterHub config will open up an external IP address. We should not do that by default since its unsafe.

[2018-01-16 17:29] jlewi commented on #116
What would it look like if we didn't expose resource requirements as parameters, but instead people just overloaded the relevant values using jsonnet?

Does ksonnet provide examples of setting container requests/limits on deployments or other templates?

[2018-01-16 21:46] cwbeitel commented on #116
Yeah so I guess you could distribute the jsonnet generated by `ks generate tf-job agents_ppo_example ...`, having added something like the following,

[code]

and expect people to parameterize it with `ks param set agents_ppo_example ...`.

Is that what you had in mind? Taking inspiration from the tf-cnn prototype. Having a jsonnet file customized by developer distributed with examples/models as o

[2018-01-16 21:50] cwbeitel commented on #116
Then of course you could specify in distributing a particular model what resources you expect it to require instead of expecting users to figure this out on their own and this could be constructed programmatically from parameters.

[2018-01-17 00:18] jlewi opened #125 "tf-job-operator service account is missing roles"
It doesn't look like we bind the service account for the tf-job operator to any roles.

As a result, the TfJob controller gets stuck in a loop because it can't access endpoints.

Looks like this isn't caught by our tests because our test only checks that the controller is running.

I'm not aware of any recent change to the creation of the role bindings for this service account.

[2018-01-17 00:20] jlewi commented on #125
A work around is to create the role bindings manually

[code]

[2018-01-17 02:19] jlewi commented on #104
Here's the issue cloudendpoints/endpoints-tools#41 to add support for websockets in the cloud endpoints esp proxy.

[2018-01-17 05:37] jlewi commented on #116
Yes. That's along the lines of what I had in mind. My theory is that we won't be able to expose all the customizable options as parameters. So at some point people will just have to take advantage of jsonnet to start setting the things they care about.

I wonder if we can make setting the resources even simpler though.

[2018-01-17 05:40] jlewi commented on #122
The Dockerfiles for the Jupyter notebooks are here
https://github.com/GoogleCloudPlatform/container-engine-accelerators/tree/master/example/tensorflow-notebook-image

(They were in a different repo because the predated the Kubeflow repo).

We should copy them into the Kubeflow repo.

[2018-01-17 05:41] jlewi opened #126 "Copy Jupyter notebook Dockerfiles into Kubeflow repo"
These are the Dockerfiles used to generate our notebooks.

https://github.com/GoogleCloudPlatform/container-engine-accelerators/tree/master/example/tensorflow-notebook-image

We should copy them into the Kubeflow repo.

[2018-01-17 05:41] jlewi commented on #122
Opened #126

[2018-01-17 05:41] #122 closed

[2018-01-17 14:53] cwbeitel commented on #116
Let me know what you think of [rl-app/components/agents-ppo.jsonnet](https://github.com/cwbeitel/kubeflow-rl/blob/master/rl-app/components/agents-ppo.jsonnet) and [rl-app/components/agents-ppo.jsonnet](https://github.com/cwbeitel/kubeflow-rl/blob/master/rl-app/components/params.libsonnet).

Here's what the user's interface to that would be:

[code]

See also the [demo notebook](https://github.com/

[2018-01-17 15:30] jlewi opened #129 "tf-cnn template doesn't set TerminationPolicy correctly"
The TerminationPolicy is still using a master (and not worker 0) but there is no more master.

[2018-01-17 19:40] jlewi opened #131 "Make ArgoUI for our tests publicly accessible"
It should be safe to expose the Argo UI for our E2E tests publicly.
We should do that to make it more convenient.

[2018-01-17 21:02] jlewi opened #133 "Postsubmits appear to be broken"
Postsubmit there are no results
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/google_kubeflow/kubeflow-postsubmit/20/

and I don't even see workflow in Argo for it.

[2018-01-18 00:05] jlewi commented on #133
Here's the error from the [logs](https://pantheon.corp.google.com/logs/viewer?project=mlkube-testing&minLogLevel=0&expandAll=false&timestamp=2018-01-17T20:55:55.000000000Z&dateRangeStart=2018-01-17T00:04:20.687Z&dateRangeEnd=2018-01-18T00:04:20.687Z&interval=P1D&resource=container&advancedFilter=resource.type%3D%22container%22%0Aresource.labels.namespace_id%3D%22e2e-0117-2053-a083%22%0A)

[code]

[2018-01-18 00:09] jlewi commented on #131
No available at
http://testing-argo.kubeflow.io

[2018-01-18 00:09] #131 closed

[2018-01-18 00:35] jlewi opened #134 "TfJob controllers are not namespace scoped so tests aren't isolated"
Controller claims jobs in all namespaces, but our tests are trying to reuse clusters by deploying in different namespaces.

So our tests aren't isolated.

Possible fixes

1. Run each E2E test in a separate cluster
1. Run add options to controller so it only claims jobs in a given namespace.

[2018-01-18 00:43] jlewi commented on #133
Also seeing

http://testing-argo.kubeflow.io/timeline/kubeflow-test-infra/kubeflow-presubmit-130-45-8ee4;tab=workflow;node=kubeflow-presubmit-130-45-8ee4-2441504817:logs
[code]
Not sure why there would be a problem creating a ConfigMap.

[2018-01-18 04:19] IvanAlejandro888 opened #135 "What's up with Tensorflow?"
Is there any difference between Tensorflow and Kubeflow? Why are you developing both?

[2018-01-18 04:50] #95 closed

[2018-01-18 04:50] #125 closed

[2018-01-18 04:50] #129 closed

[2018-01-18 13:30] jlewi opened #136 "Model Management Features"
Opening this issue to start a discussion about model management features.

In slack someone pointed out the project https://github.com/mitdbg/modeldb as offering various useful features.

[2018-01-18 21:59] nkashy1 commented on #118
@carmark : That would be wonderful - I have a Dockerfile here as a start: https://github.com/nkashy1/kubeflow/blob/2feb62fea15d0a76b9235a71eabdee3df90697a6/components/k8s-model-server/inception-client/Dockerfile

It's part of this PR : https://github.com/google/kubeflow/pull/92

@carmark , @aronchick : Publishing on Docker Hub would make the image much more discoverable through tools like Kitemati

[2018-01-19 05:22] nkashy1 commented on #121
@jlewi : as per discussion on https://github.com/google/kubeflow/pull/92 , feel free to assign this to me. I will make the following changes:

1. Parametrize `modelService.spec.type` with default as `ClusterIP`.

2. Add instructions to `components/k8s-model-server/README.md` reflecting this. Add links to kubernetes service documentation describing various types: https://kubernetes.io/docs/concepts

[2018-01-19 05:25] jlewi commented on #135
TensorFlow and Kubeflow are very different and very complimentary

TensorFlow is a framework for writing ML algorithms (particular deep learning).

Kubeflow is about making it easy to run TensorFlow and other pieces of an ML platform (e.g. TensorBoard) on Kubernetes.

[2018-01-19 05:29] jlewi commented on #133
Post submits are still borken [latest](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/google_kubeflow/kubeflow-postsubmit/22/)

It looks like it didn't even get as far as submitting an Argo workflow.

[2018-01-19 05:32] jlewi opened #138 "Add ksonnet to our Jupyter notebook Docker images"
We should add ksonnet to our Jupyter notebook images so that we can run notebooks that show how to use Kubeflow.

[2018-01-19 05:53] jlewi commented on #17
Yes. We talk to @jart regularly and are trying to figure out how to bring TB as a service to Kubeflow.

[2018-01-19 07:05] gaocegege commented on #98
The issue is solved by #111 and I think we could close it 😄

[2018-01-19 07:40] jart commented on #17
We're very interested in bringing TensorBoard to Kubeflow. Doing this has raised challenging concerns that caused the TensorFlow team to think more about how it logs and loads data.

Right now we're focusing on taking an openly portable first approach. We want to get a rudimentary SQLite data model off the ground to learn more about how we can meet our requirements. You can see some of the work th

[2018-01-19 14:17] bhack commented on #102
What do think to describe it with [openapi](https://www.openapis.org/)? /cc @whitlockjc

[2018-01-19 16:58] whitlockjc commented on #102
OpenAPI is geared toward describing REST APIs.  If you're describing those, I'm not sure of a better format for doing what you want.  If it's not for REST APIs, you _could potentially_ still use OpenAPI and benefit from its tooling and computer/human readability which might make it a good format as an input _(well known, easy to author, etc.)_ but would allow for some transformation for other thin

[2018-01-19 22:42] #98 closed

[2018-01-20 00:24] nkashy1 commented on #121
Roughshod solution here: https://github.com/google/kubeflow/pull/92

Will improve as I learn more about `ksonnet`.

[2018-01-20 00:32] nkashy1 commented on #121
Is there a simple way to run tests which verify that the deployment is not failing? Looked in [here](https://github.com/google/kubeflow/tree/master/testing) but nothing stood out to me.

[2018-01-20 00:58] nkashy1 commented on #121
Tested manually and no dice - even though I specified `service.type` as `ClusterIP` in `kubeflow/tf-serving/tf-serving.libsonnet`, GKE is still providing me with an external IP:

[code]

I am using my own branch for the registry:
[code]

Will dig into this more next week. I suspect my lack of understanding of ksonnet is the issue here.

[2018-01-20 03:01] IvanAlejandro888 commented on #135
Cool

Jeremy Lewi <notifications@github.com> wrote:

TensorFlow and Kubeflow are very different and very complimentary

TensorFlow is a framework for writing ML algorithms (particular deep learning).

Kubeflow is about making it easy to run TensorFlow and other pieces of an ML platform (e.g. TensorBoard) on Kubernetes.

—
You are receiving this because you authored the thread.
Reply to this email

[2018-01-20 05:05] jlewi commented on #121
Make sure the files in vendor/kubeflow/... actually reflect your changes.
The easiest thing to do is to set up an app for testing like you would normally (i.e. install the packages) and create the components.

Then replace vendor/kubeflow with a symbolic link to the kubeflow directory in your Git repo. This way any changes will be automatically reflected.

[2018-01-20 14:39] #135 closed

[2018-01-20 14:46] jlewi opened #140 "Investigate file server connection errors with Jupyter and IAP"
Using IAP I'm observing file server connection errors; see jupyterlab/jupyterlab#3686.

Per the comment on that thread we need to do two things

- Increase GKE backend timeout to 1 hour
- Ensure any intermediary proxies (eg. nginx) don't have a timeout.

Our networking architecture is in flux; see #11. So we might want to wait until that settles before investigating further.

My current thinking i

[2018-01-20 18:41] jlewi commented on #136
StudioML is also worth investigating.

[2018-01-22 16:05] bhack commented on #136
On StudioML https://github.com/studioml/studio/issues/186.
Do it has the real upstream activity bandwidth?

[2018-01-22 23:59] jlewi commented on #110
I think we should try to summarize this information and add it to our docs.

[2018-01-23 03:52] willb commented on #110
@jlewi, I’ve been interested in developing lightweight tools to aid the process of refactoring notebooks into services or jobs for some time. Here’s a crack at part of the problem (identifying modules that a given function depends upon):  https://chapeau.freevariable.com/2017/12/module-frontier.html

[2018-01-23 12:04] jlewi opened #141 "Central UI"
Kubeflow's UI consists of multiple independent UI's corresponding to different components; e.g.

- TFJob's UI
- TensorBoard
- K8s Dashboard
- JupyterHub
- ArgoUI

All of which will be accessible via a reverse proxy (#11).

It would be nice if we had a simple UI that could serve as a main landing page. This could be a very simple page that would just have links that pointed at the individual UI com

[2018-01-23 14:53] swiftdiaries commented on #141
I would like to work on this, if it's not already taken.

[2018-01-23 16:42] jlewi commented on #141
Please do thank you.

@wbuchwalter  @jimexist have been leading up our UI efforts to date so please coordinate with them and add them as reviewers on any PRs.

[2018-01-23 19:44] ewilderj opened #143 "Code of conduct"
As a community, it is great practice for us to have a code of conduct.

[2018-01-23 20:57] sfabel commented on #143
+1

How about we adopt this one: [CNCF Community Code of Conduct v1.0](https://github.com/cncf/foundation/blob/master/code-of-conduct.md)

[2018-01-23 21:31] ewilderj commented on #143
We have recently done some work at Google on a template code of conduct, which is a version of the [Contributor Covenant](http://contributor-covenant.org/) (which CNCF as many others are based on), and informed by our experiences with Kubernetes, etc.The main thing it adds is a conflict resolution policy. I suggest we could start with that and see if it meets our needs.

[2018-01-24 03:03] Jimexist commented on #141
@jlewi what's the current status regarding ArgoUI? I don't see concrete code yet in tensorflow/k8s

[2018-01-24 03:44] Jimexist commented on #11
What about [dex](https://github.com/coreos/dex) and [go-oidc](https://github.com/coreos/go-oidc)?

[2018-01-24 03:46] Jimexist commented on #11
Related: also at least some consideration should be taken into where to store the JWT token, cookie or local storage? This has some clear pros and cons and tradeoff points to take.

[2018-01-24 06:22] Jimexist commented on #141
also where would this piece of code reside?

[2018-01-24 06:23] swiftdiaries commented on #141
/components

On Wed, Jan 24, 2018 at 1:22 AM Jiayu Liu <notifications@github.com> wrote:

[2018-01-24 06:48] jlewi commented on #21
Are test infra already uses ksonnet to deploy Argo
https://github.com/google/kubeflow/blob/master/testing/test-infra/components/argo.libsonnet
It should be straightforward to turn this into a component in our registry.

[2018-01-24 06:49] jlewi commented on #141
@Jimexist Argo isn't included yet; but it would be pretty straightforward to turn the libsonnet file used by our tests into a prototype in our registry (see #21).

[2018-01-24 07:57] clkao opened #145 "PVC created but not added to volume list"
Even though per-user PVC is allocated, they are not added to `jupyterHubConfigMap` nor `jupyterHubConfigMapWithVolumes`.

[2018-01-24 11:12] bhack commented on #136
What I think is that we need also to cover in kubeflow the missing automatiom chain between in production model finetuning loop and model serving. Cause sometimes this flow is activated on demand by data pipelines.

[2018-01-24 13:31] jlewi commented on #136
Agreed. That's what [TFX](http://www.kdd.org/kdd2017/papers/view/tfx-a-tensorflow-based-production-scale-machine-learning-platform) does.

[2018-01-24 13:54] bhack commented on #136
@jlewi Are we touching the boundaries of the catastrophic forgetting with TFX?

[2018-01-24 23:48] jlewi commented on #145
Why do you expect them to be added to ConfigMap and ConfigMapWithVolumes? The PVC is autogenerated by I think the spawner so that each notebook gets a new persistent volume for any data.

jupyterHubConfigMapWithVolumes is about attaching extra additional volumes.

[2018-01-25 02:17] langhuansanren opened #147 "worker restart result in the TFJOB can not finish expectedly"
I can start the tfjob normally but sometimes ,it will get all kinds of error,for example the kubernetes nodes is in notready status(in fact,there are many exception can cause the worker restart),which result in workers restart,and the tfjob can not finish expectedly,so the resource can not recycle as usual,how to deal with this problem?

[2018-01-25 04:50] gangliao opened #148 "ClusterRoleBinding.rbac.authorization.k8s.io "tf-job-operator" is invalid"
[code]

How to address this?

[2018-01-25 06:18] jlewi commented on #148
Did you try my suggestion of generating the YAML and then just creating the role with kubectl and the yaml for just the cluster role binding?

It would be good to see if we can reproduce this without ksonnet and what the YAMl that produces this error is.

[2018-01-25 06:19] gangliao commented on #148
It looks a blank namespace problem `--namespace=${NAMESPACE}`,  I fixed it. Thanks

[2018-01-25 14:24] #148 closed

[2018-01-25 21:44] jlewi commented on #147
Can you clarify what you think the desired behavior is?

If your cluster is unhealthy (e.g. nodes aren't ready) or its overloaded so TF keeps getting preempted, do you expect your job to fail?

Is your job resilient to interruptions? For example do you checkpoint progress? If you checkpoint progress then even if some of the workers are restarted, your job should be able to continue where it left o

[2018-01-25 21:47] jlewi commented on #143
Thanks @ewilderj. It looks like the convenant provides instructions on adding it to our project.

[2018-01-25 21:49] jlewi opened #150 "Test cluster is unhealthy no ready nodes"
Our test cluster is unhealthy. There are no ready nodes and this is causing workflows to no longer be sumbitted.

[2018-01-25 21:51] jlewi commented on #150
Kubelet seems to keep restarting

[node.events.txt](https://github.com/google/kubeflow/files/1665801/node.events.txt)

[2018-01-25 21:54] jlewi commented on #150
Lets delete all the existing workflows

[code]

[2018-01-25 22:13] jlewi commented on #150
I deleted the nodes and recreated them and now they are reporting as ready.

[2018-01-25 22:33] jlewi commented on #150
Tests are running and passing again.

[2018-01-26 00:36] jlewi opened #151 "Pachyderm and Kubeflow integration"
Opening this issue to begin discussing if and how we want to integrate Pachyderm with Kubeflow.

/cc @jdoliner @JoeyZwicker

[2018-01-26 02:22] langhuansanren commented on #147
I expect that workers should not restart in some situation ,for example all workers go well in the beginning ,then after all workers have finished their tasks,one of workers restart before it is support to terminate for unknown reason,other workers has terminated,so the one worker can not terminate unless I kill the tfjob. which cause that GPUs are occupied forever.

So I want something could be d

[2018-01-26 02:54] gaocegege commented on #147
Hi, @langhuansanren

I am not sure if I understand your comment. Do you mean that the TFJob is finished but there are some workers may be restarted accidentally?

[2018-01-26 03:02] langhuansanren commented on #147
Hi, @gaocegege
   Yes , sometimes some workers will not terminate or restart for unknown reason, and the tfjob would not go on running ,so it can not release the resources.

[2018-01-26 03:12] gaocegege commented on #147
@langhuansanren

Thanks for your reply. Now I think the PS created by the TFJob are running forever, and the workers may be restarted accidentally, so you want to delete these pods after the TFJob is finished to release the resources belong to the TFJob, right?

[2018-01-26 03:39] langhuansanren commented on #147
@gaocegege
 Yes , you got it,in conclusion,I am confused with two problems as follows:
1. How to know whether the tfjob has ended (now I determine if all the workers has terminated,will failed when the above exception happen )
2. if I can know whether  the tfjob has ended, how to delete the pod still running, in fact,  I do not really want to delete  tfjob because the normal worker's logs are usef

[2018-01-26 04:16] jlewi commented on #147
The TFJob controller determines when the job is done based on the TerminationPolicy. Right now the only policy we support is chief. Which means you can designate a single worker (or master) as the chief . Based on the exit code of the [chief](https://github.com/tensorflow/k8s#creating-a-job) we decide whether the job succeeded, had a permanent error or a retryable error.

So your code needs to sig

[2018-01-26 04:23] gangliao opened #153 "CreateSession still waiting for response from worker: /job:ps/replica:0/task:0"
[code]

[code]

[2018-01-26 04:27] gangliao commented on #153
[code]

[2018-01-26 04:28] jlewi opened #154 "[Discussion] Contour vs. Ambassador for reverse proxy at the edge"
I think we want a reverse proxy at the edge to facilitate access from outside the cluster to all the resources inside the cluster (#11).

Some features we want

- Ability to dynamically add routes (e.g. as we up/down TensorBoard or TFServing servers)
- Ability to do JWT verification

Since Envoy is becoming the workhorse for Kubernetes & Istio, an Envoy based solution seems ideal.

It looks like b

[2018-01-26 11:48] foxish opened #155 "Explore usage of the spark-operator within kubeflow"
This is the work captured under https://github.com/GoogleCloudPlatform/spark-on-k8s-operator.
The advantage of using and deploying this operator is the same k8s-style declarative semantics, wrapped over Spark.
I'm wondering if we could also make it more generic - to be able to launch spark jobs against any cluster and not just k8s.

cc/ @liyinan926

[2018-01-26 13:22] jlewi commented on #153
What do the logs from your parameter server show?

Check the services and make sure ks-test-cnn-ps-ozp4-0-xg755 is created.

[2018-01-26 13:28] gangliao commented on #153
@jlewi

Here it is! Thank you.

[code]

[2018-01-26 13:29] gaocegege commented on #153
And, please make sure that kube-dns is up

[2018-01-26 13:30] gangliao commented on #153
Oh! Sorry, when I restart it! It works now.

I don't know what's happen...

[code]

[2018-01-26 13:35] gangliao opened #156 "Any plan to support auto-scaling training job?"
http://blog.kubernetes.io/2017/12/paddle-paddle-fluid-elastic-learning.html

[2018-01-26 13:43] jlewi opened #157 "E2E Solution for GitHub Issue Summarization On Kubeflow"
@hamelsmu published a great [blog post](https://hackernoon.com/how-to-create-data-products-that-are-magical-using-sequence-to-sequence-models-703f86a231f8) about using sequence to sequence models to summarize GitHub issues.

It would be great to turn this into an E2E solution using Kubeflow that highlights the benefit of using Kubeflow and K8s for data science.

There are lots of reasons why I thi

[2018-01-26 16:48] JoeyZwicker commented on #151
@dwhitena too.

There's definitely interest in exploring this integration because running distributed TF within Pachyderm is a common request and our tools can likely compliment each other very well to support this type of use case, as well as others.

[2018-01-26 17:09] hamelsmu commented on #157
This is an excellent idea!  I assume you will have to build the Docker Container from scratch, but if you can just layer on top of an existing one I am hosting a Docker Image on DockerHub with all the dependencies for the seq2seq tutorial, which is [here](https://hub.docker.com/r/hamelsmu/seq2seq_tutorial/).

[2018-01-26 19:57] jlewi opened #159 "ksonnet component for Seldon.io deployment"
We'd like to add a ksonnet component for Seldon.io's [CRD for model prediction](https://github.com/SeldonIO/seldon-core/blob/master/docs/crd/readme.md).

This would enable Kubeflow users to serve all kinds of [models](https://github.com/SeldonIO/seldon-core).

The Deployment is way more powerful then that though since it allows prediction to be described as a graph of microservices.

To get starte

[2018-01-26 20:39] cliveseldon commented on #159
This sounds good. I suggest we initially try to rely on the consistent reverse proxy solution in Kubeflow so everything is consistent and deploy just the core operator for the Seldon deployment CRD.

[2018-01-27 01:37] nkashy1 commented on #117
@elmiko : Since the `tensorflow-serving-api` classes are generated from `.proto` files, there shouldn't be any serious blockers. It seems to simply be a matter of changing how it's tagged on PyPI (based on the comment by @illagrenan on [here](https://github.com/tensorflow/serving/issues/700)).

On the plus side, it does seem as if there is some movement on that issue. :)

[2018-01-28 11:21] clkao commented on #19
This issue is about user-pod storage persistence, related to #145.  However the data used by the hub itself is also not persistent.  IIRC the z2jh helm chart has hub pvc as well.

[2018-01-29 13:54] jlewi opened #164 "Add TFJob CRD creation to ksonnet components"
tensorflow/k8s#345 separated out creation of the custom resource definition from the controller.
So we will need to update the ksonnet component for the TFJob controller to create the CRD.

[2018-01-29 13:54] jlewi commented on #164
@gaocegege Do you mind taking this as a follow up to your PR?

[2018-01-29 13:56] jlewi commented on #153
Glad its working.

[2018-01-29 13:56] #153 closed

[2018-01-29 14:00] jlewi opened #165 "Setup prow for the new org"
Now that we've moved from google/kubeflow to kubeflow/kubeflow we need to setup Prow for the new organization

- [X] Step 1; PR to add kubeflow/kubeflow to prow configs; kubernetes/test-infra#6513
- [X] Step 2; Setup GitHub prow webhook for the org
- [X]  Step 3; Add k8s robot to kubeflow org
- [ ]  Step 4: Setup PR dashboard
- [X] Step 5: Grant write access to Gubernator GCS bucket to kubeflow-te

[2018-01-29 14:02] gaocegege commented on #164
I'd glad to, althrough I am not familiar with ksonnet. I will have a try.

[2018-01-29 14:17] gaocegege commented on #165
Cool, and will tensorflow/k8s be moved to kubeflow, too?

[2018-01-29 18:44] jlewi opened #167 "Use oauth2_proxy to authenticate to K8s Dashboard"
We would like to make the K8s dashboard readily available to Kubeflow users.

In #166 we added Ambassador as a reverse proxy and a route to direct traffic to the K8s dashboard. The K8s dashboard however requires users to login using kubeconfig file or by providing an access token.

I  think a better solution would be to run K8s dashboard behind oauth2_proxy so that we could obtain a bearer token t

[2018-01-29 21:01] jlewi opened #168 "Change google/kubeflow links to kubeflow/kubeflow"
Now that we moved to the Kubeflow organization we need to update all the links in the docs.

[2018-01-29 21:18] yupbank commented on #157
add a TFServing CRD ? since right now tensorflow/serving can serve multiple models with multiple version.  Replica  tensorflow/serving containers is kind of brutal force..

[2018-01-29 22:00] jlewi commented on #165
See https://github.com/tensorflow/k8s/issues/350

[2018-01-29 22:12] jlewi commented on #165
Invitation to add k8s robot has been sent.

[2018-01-30 01:36] gaocegege commented on #168
#dibs and I think we need to remove or replace google cla for this org.

[2018-01-30 01:50] jlewi commented on #136
@bhack Can you explain what you mean by catastrophic forgetting and TFX?

[2018-01-30 04:43] #168 closed

[2018-01-30 09:43] bhack commented on #136
See 4.1 Warm-Starting section in the paper and open topics in [continuous learning]( https://medium.com/@vlomonaco/why-continuous-learning-is-the-key-towards-machine-intelligence-1851cb57c308)

[2018-01-30 14:23] #164 closed

[2018-01-30 14:36] jlewi commented on #165
periodic tests are triggering
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubeflow-periodic/80/?log#log

So seems like an issue with the webhook.

[2018-01-30 14:39] jlewi commented on #165
kubernetes/test-infra#6513 is submitted but presubmits don't appear to be triggering.

GitHub is reporting that webhook events are being delivered.

[2018-01-30 14:44] jlewi commented on #165
@krzyzacy can you check the prow logs to see if the web hook events are being processed?

[2018-01-30 14:52] jlewi opened #173 "Create a testing repository"
I propose creating a repository testing for common test infrastructure.

Our current plan for testing is to use Prow + Argo to run workflows for E2E testing. To make this work there is a set of common scripts that will be reused across multiple repositories (e.g. kubeflow/kubeflow & tensorflow/k8s).

These scripts are currently spread across
https://github.com/tensorflow/k8s/tree/master/py
https:/

[2018-01-30 15:26] ifilonenko commented on #136
Would an A-B swap architecture work for version management of TF-Serving models?

I.e while B is being trained and served, Load balancer is pointing to A. After B finishs all requests point to B, but A isn’t deallocated until all requests are completed.

[2018-01-30 17:43] jlewi opened #174 "Create a repository for examples: kubeflow/examples"
I think we should create a repository where we can start hosting E2E examples.

Right now we have a couple E2E examples in various states of development

  *  https://github.com/cwbeitel/kubeflow-rl - Using TensorFlow Agents for RL
  * #157 GitHub Issue Summarization
  * #163 XGB example
  * Hot Dog Or Not - Kubeflow Kubecon 2017 demo

/cc @puneith @cwbeitel

[2018-01-30 17:50] jlewi commented on #157
@yupbank Do you want to open up a separate issue about a TFServing CRD. Do we need a TFServing CRD for this issue?

[2018-01-30 17:58] puneith commented on #174
@jlewi Why do you think we need a separate repo and not Kubeflow be that place?

[2018-01-30 18:08] yupbank commented on #157
yeah... i'll do it..

[2018-01-30 18:19] cwbeitel commented on #174
I have some additional examples in progress to add.

Would love to have them under e2e test. But for some examples you may want to do progressive testing to speed things up / cache previous runs. Such as with Bazel. That could be a mod to the way kubeflow runs tests or could be a reason to have a separate repo.

[2018-01-30 18:21] jlewi commented on #174
@puneith Because examples will be in various states of development and should probably be separate from the core code.

For the most part, this repo corresponds to our ksonnet registry.

[2018-01-30 18:37] krzyzacy commented on #165
is there some fake PR I can trigger?

[2018-01-30 18:39] jlewi commented on #165
You can use
https://github.com/kubeflow/kubeflow/pull/128

[2018-01-30 19:40] foxish commented on #155
The goal is to supply users with a basic operator to use spark/k8s, and a couple of simple examples of running SparkML for real use-cases.

[2018-01-30 21:02] jlewi opened #176 "Test failures"
Tests are failing

[code]

I think this is because we changed the name from TfJob to TFJob but we are reusing the same K8s test cluster in which the CRD is defined. So we probably just need to delete it.

[2018-01-30 22:37] jlewi commented on #176
Here's the value of the CRD on the cluster.

[code]

So lets delete it.

[code]

[2018-01-30 22:37] jlewi commented on #176
We may need to update the image for the operator to use a Docker image built after the change.

[2018-01-30 22:45] jlewi commented on #165
Problem was the auto config update for prow had failed so our changes hadn't been picked. Prow has been updated and our tests are now being triggered.

[2018-01-31 02:10] gaocegege opened #177 "Add kubeflow into tesorflow/ecosystem"
[tensorflow/ecosystem](https://github.com/tensorflow/ecosystem) has a section about [run Tensorflow on Kubernetes](https://github.com/tensorflow/ecosystem/tree/master/kubernetes), could we add kubeflow as an option?

[2018-01-31 11:40] bhack commented on #136
@jlewi  Related 4.1 section of the TFX paper and to https://github.com/tensorflow/k8s/issues/61 a warm start is landed in [master](https://github.com/tensorflow/tensorflow/issues/14713#issuecomment-361866951)

[2018-01-31 13:48] #173 closed

[2018-01-31 18:16] jlewi opened #179 "[discussion] Support PyTorch distributed training?"
Is there interest in adding tooling (e.g a K8s custom resource) to support [PyTorch distributed training](http://pytorch.org/tutorials/intermediate/dist_tuto.html)?

It looks like distributed training supports 3 different backends:

- TCP
- [Gloo](https://github.com/facebookincubator/gloo) (which can use TCP)
- MPI

It seems to me like we should be able to create a K8s operator for PyTorch jobs th

[2018-01-31 20:31] yupbank opened #180 "[discussion] add a dedicated repo for components"
Certain components can benefit from their own implementation tests and publish new version(docker).

without change too much to the ksonnet templates.

[2018-02-01 00:06] dogopupper commented on #122
I made a pull request: https://github.com/kubeflow/kubeflow/pull/182

Let me know if the location should be changed

[2018-02-01 02:25] sfabel opened #186 "tf-job.libsonnet is issuing the wrong CRD job type"
#185 addresses this. Please merge.

[2018-02-01 02:26] #126 closed

[2018-02-01 02:30] jlewi commented on #21
We need an E2E test for the component.

[2018-02-01 02:33] jlewi opened #187 "Kubeflow logo?"
We should have a Kubeflow logo.

[2018-02-01 02:34] jlewi commented on #186
Do we already have issues to add appropriate E2E test coverage to catch this/

[2018-02-01 03:25] bbarnes52 opened #188 "Error from server (Forbidden): error when creating "deploy_crd.yaml": clusterroles.rbac.authorization.k8s.io "tf-job-operator" is forbidden"
Error from server (Forbidden): error when creating "deploy_crd.yaml": clusterroles.rbac.authorization.k8s.io "tf-job-operator" is forbidden: attempt to grant extra privileges: [PolicyRule{Resources:["tfjobs"], APIGroups:["kubeflow.org"], Verbs:["*"]} PolicyRule{Resources:["customresourcedefinitions"], APIGroups:["apiextensions.k8s.io"], Verbs:["*"]} PolicyRule{Resources:["storageclasses"], APIGrou

[2018-02-01 12:13] jlewi commented on #174
Another reason for moving examples into their own repository is that it will probably be a different group of folks working on the examples then the folks working on our core ksonnet components.

[2018-02-01 12:16] jlewi opened #189 "Delete components/tf-controller"
This directory should no longer be needed because we now use ksonnet.

[2018-02-01 12:17] jlewi commented on #189
@nanliu interested?

[2018-02-01 12:20] gaocegege commented on #189
BTW, do we need to set tensorflow/k8s as submodule in this repo?

[2018-02-01 12:24] jlewi commented on #188
deploy_crd.yaml is deprecated and has been removed; please use ksonnet.

Can you check your clusterrolebinding and default-admin privileges? The error message looks like an issue with [privilege escalation prevention](https://kubernetes.io/docs/admin/authorization/rbac/#privilege-escalation-prevention-and-bootstrapping)

[2018-02-01 12:34] jlewi opened #190 "Remove tensorflow/k8s as a submodule"
tensorflow/k8s was added as a submodule as a hacky way to start sharing common code used for E2E testing in the kubeflow and tensorflow/k8s repo.

I'm in the process of moving common test code into the repository kubeflow/testing
Once that's complete we can get rid of tensorflow/k8s as a submodule.

/cc @gaocegege

[2018-02-01 12:34] jlewi commented on #189
@gaocegege  see #190

[2018-02-01 12:35] jlewi commented on #177
I think we can safely say that Kubeflow is the recommended way to run TF on Kubernetes.

[2018-02-01 12:53] jlewi opened #191 "[discussion] Storage Requirements and Options"
Opening this issue to begin flushing out the story around storage.

I think we want a way to provide

1. Shared posix compliant filesystem
1. Cloud independent object store

Some use cases:

Shared posix filesystems

- Sharing code between applications (e.g. Jupyter and Eclipse)
- Sharing data that requires posix (e.g. HDF5)
- Passing artifacts between steps in our E2E test/release workflows

Obje

[2018-02-01 14:15] puneith commented on #174
I agree with that model.

[2018-02-01 14:16] gaocegege commented on #174
Vote for separate repo 👍

[2018-02-01 14:54] gaocegege commented on #191
If we want kubeflow to be a CNCF project, I think rook is a good choice 😄

[2018-02-01 15:25] yupbank commented on #102
CMLE is currently only support tensorflow models.

And tensorflow/serving already defined their own API in gRPC and have a python package for it https://pypi.python.org/pypi/tensorflow-serving-api/1.4.0

The api of  tensorflow/serving is quiet flexible.. it leaves the input and output schema to tensorflow/savedModel .

[2018-02-01 15:38] jlewi opened #192 "Solution for building Docker images from Jupyter"
We need a solution for building docker images from Jupyter. I think a common use case will be developing/prototyping code in JupyterHub and then wanting to package that code up in a Docker image and either run a job (e.g. a TF training job) or deploy a model (e.g. via Seldon).

There are lots of ways to build Docker images

- bazel
- docker build
- GCB
- [Repo2Docker](https://github.com/jupyter/re

[2018-02-01 15:38] bleachzk opened #193 "TFJob controller cannot terminate job"
I test kubeflow/tf-controller-examples/tf-cnn/tf_job_gpu.yaml by running kubectl:

The TFJob controller cannot terminate job when the WORKER is done based on the TerminationPolicy。

WORKER log：

[logs-from-tensorflow-in-inception-171202-163257-gpu-1-worker-272u-0-fdx5x.txt](https://github.com/kubeflow/kubeflow/files/1686081/logs-from-tensorflow-in-inception-171202-163257-gpu-1-worker-272u-0-fdx5x.

[2018-02-01 17:55] elsonrodriguez commented on #174
I could go either way, but my doc fixes have included ksonnet changes. Managing two separate repos for things that are tied together may be painful.

[2018-02-01 18:09] elsonrodriguez commented on #191
Sticking to the S3 API is probably the safest bet here. AWS and GCP have S3-compatible object stores built in, and for bare metal it's going to be way easier to spin up Minio than to spin up a shared file system and configure k8s to carve out and manage PVS accordingly.

[2018-02-01 20:58] jlewi commented on #191
How would you handle the use cases mentioned above that require a shared POSIX compatible filesystem just by using Minio to create an object store API?

[2018-02-01 21:12] jlewi commented on #174
@elsonrodriguez I think the fact that writing examples requires modifying our core ksonnet components is an indication of other problems

  * immaturity/limitations of the ksonnet templates
       * e.g. I think in some of your changes you had to add parameters to the TF serving component to allow more flexibility
  * version compatibility issues because we haven't started creating tagged releases

[2018-02-01 21:15] jlewi commented on #174
Lets give a separate repo a shot and then adapt as need be.

I think the main priority now is getting more examples that illustrate Kubeflow so velocity is the primary motivation. With a separate repo we can easily start giving a different set of folks write access and moving the ball forward.

@elsonrodriguez If you want to take the lead on an inception example I'm happy to make you an approver.

[2018-02-01 21:23] jlewi commented on #174
Created the repo:
https://github.com/kubeflow/examples

Created a team examples-approvers and gave it write access to the repo.
I seeded the team with some devrel folks from Google and Microsoft(@wbuchwalter) who've contributed to Kubeflow.

[2018-02-01 21:23] #174 closed

[2018-02-01 21:25] jlewi commented on #191
If we wanted to try out Rook for a shared filesystem, we could use it in the GKE clusters that we use in our test infrastructure. We'd have to use the ubuntu images with GKE. (I'm wondering if we could have one node pool with COS and one node pool with ubuntu so that we could use GPUs on the COS nodes.)

[2018-02-01 21:41] mattf commented on #191
with respect to input sources...

i'm a proponent of using app layer storage as much as possible (object, kv, sql, kafka, etc) over posix. i view it as the dominant future state for these workloads.

i also have plenty of feedback that indicates enabling posix is necessary. skipping it eliminates too many potential users in the near-term.

so, pragmatically +1 enabling posix as an input source.

h

[2018-02-01 21:50] bbarnes52 commented on #188
Moved to ksonnet.

Here's output of kubectl get clusterrolebindings:
kubectl get clusterrolebindings
NAME                                           AGE
cluster-admin                                  2h
default-admin                                  5m
event-exporter-rb                              2h
gce:beta:kubelet-certificate-bootstrap         2h
gce:beta:kubelet-certificate-rotation          2

[2018-02-01 22:19] bbarnes52 commented on #188
I am a bit confused by the docs - I know it assumes I have a cluster up and running, but what is unclear to me is, do I need to follow any of the steps here: https://github.com/tensorflow/k8s? E.g. what additional steps are required (beyond just spinning up a cluster and pointing kubectl at it) before I can complete the kubeflow quickstart successfully?

[2018-02-01 22:20] elsonrodriguez commented on #174
@jlewi Sure, I can take the current inception example and rework/port it over.

[2018-02-01 23:15] bkungfoo opened #194 "Add GPU Support for k8s-model-server on Kubeflow"
As a feature request, adding GPU support for TF-serving in Kubeflow can help speed up batch predictions that can take a long time to run on a CPU-only machine. Unfortunately, existing docker images, such as the one from the TF-serving repository, do not build correctly (or are not well-maintained): https://github.com/tensorflow/serving/blob/master/tensorflow_serving/tools/docker/Dockerfile.devel-g

[2018-02-01 23:47] bbarnes52 opened #195 "Increase rate limit for installing kubeflow packages"
Trying to install kubeflow packages with ksonnet twice in the same hour yields rate limit errors:

ERROR GET https://api.github.com/repos/kubeflow/kubeflow/contents/kubeflow/tf-serving/prototypes?ref=3c969e873d7d619b72017ab103545b612464bcdc: 403 API rate limit of 60 still exceeded until 2018-02-01 16:24:27 -0800 PST, not making remote request. [rate reset in 39m58s]

This limit seems excessively l

[2018-02-02 01:00] mattf commented on #155
cc @tmckayus

[2018-02-02 01:24] gaocegege commented on #195
Ksonnet support GitHub Token to solve it. The PR is https://github.com/ksonnet/ksonnet/pull/201 and the doc is here: https://github.com/ksonnet/ksonnet/blob/master/docs/troubleshooting.md#github-rate-limiting-errors

[2018-02-02 01:25] gaocegege commented on #195
Thanks for your issue and I think we could add the rate limit solution into our doc.

[2018-02-02 01:29] gaocegege commented on #193
@bleachzk Thanks for your issue, and I am not sure if we support TerminationPolicy now, maybe jlewi@ could give us more info

[2018-02-02 01:34] DjangoPeng commented on #194
Cool! It's very helpful to speed up the inferencing and prediction work.

[2018-02-02 01:55] jlewi commented on #193
@bleachzk Can you please provide the spec/status for your TFJob? Can you also clarify what your expected behavior is and what the observed behavior is?

Its possible you're hitting tensorflow/k8s#128

[2018-02-02 01:57] jlewi opened #197 "Make https://hub.docker.com/r/kubeflow/jupyterhub/ a community resource"
The repo is currently owned by:  @carmark has agreed to make it a community resource once we're ready.

Once we have gsuite setup for kubeflow.org we should create an appropriate group with appropriate members and ask xuelei to share the docker hub repo with it.

[2018-02-02 02:04] gaocegege commented on #197
FYI Lei Xue's GitHub ID is @carmark

[2018-02-02 02:11] carmark commented on #197
@gaocegege Thanks.
@jlewi Could u please use the github ID instead of email?

[2018-02-02 02:20] jlewi commented on #197
Sorry didn't know your GitHub id.

[2018-02-02 02:22] carmark commented on #197
NP, thanks.

[2018-02-02 04:39] yupbank opened #198 "e2e test for http-proxy"
Follow up of this https://github.com/kubeflow/kubeflow/pull/183

To Do
  - [x] ksonnet template
  - [ ] E2E tests
  - [x] Documentation explaining how to use it
  - [ ] Discussion of the API

[2018-02-02 04:49] swiftdiaries opened #199 "Tracking Central UI"
Follow up to #146 and addresses #141.

To do:
- [x] Added as a separate ksonnet component
- [ ] Documentation, how to use
- [ ] E2E tests
- [ ] Release process #527
- [ ] Provide alternative for googleapis.com for MDL.

[2018-02-02 06:15] bleachzk commented on #193
Worker ran successfully，job should be terminated，but it is still running...

**Pod status：**
![pod status](https://user-images.githubusercontent.com/5548534/35719117-cbb91d1c-0822-11e8-9675-6b20ee3b91b4.PNG)

**worker logs：**
![worker-pod-logs](https://user-images.githubusercontent.com/5548534/35719136-e42a826e-0822-11e8-89f1-08a47a60919f.PNG)

**Job status：**
![job-status](https://user-images.git

[2018-02-02 06:15] bleachzk commented on #193
@jlewi

[2018-02-02 09:56] flx42 commented on #194
It's @flx42 :)

[2018-02-02 16:11] cliveseldon commented on #159
We have a [Jupyter Notebook](https://github.com/SeldonIO/seldon-core/blob/master/notebooks/ksonnet_ambassador_minikube.ipynb) that uses a ksonnet registry to deploy seldon-core along with examples showing endpoints exposed via Ambassador (rather than our current API server)

Be great to get feedback and decide on next steps. Creating a notebook example that uses your Ambassador setup would be good

[2018-02-02 18:02] jlewi commented on #159
This is fantastic. I'd love to see this turned into an E2E example running on Kubeflow

Here's what I think would be great to see

1. User deploys Kubeflow which includes
      * SeldonCore
      * Ambassador
      * A secure identity aware proxy (e.g. IAP on GCP or oauth2_proxy on non GCP)
2. User runs one of our example notebook that trains a model (xgboost or scikits)
3. User builds the contain

[2018-02-02 18:12] elsonrodriguez commented on #191
I would argue it's better to explore ways to remove shared POSIX use cases than to add the requirement of deploying a whole distributed shared POSIX storage setup in every environment outside AWS.

There's probably s3 plugins for both Jupyter and Eclipse, and E2E tests can certainly pass things along via s3. I have no answer for HDF5 though, but if TF can read/write S3 directly then what is the us

[2018-02-02 18:32] bbarnes52 opened #200 "ERROR Server is unable to handle tensorflow.org/v1alpha1, Kind=TFJob"
More information:

kubectl get pods --namespace=${NAMESPACE}
NAME                                READY     STATUS    RESTARTS   AGE
ambassador-1695609295-7d7ml         2/2       Running   0          23m
ambassador-1695609295-dblhh         2/2       Running   0          23m
ambassador-1695609295-m0bzw         2/2       Running   0          23m
tf-hub-0                            1/1       Running

[2018-02-02 18:35] cliveseldon commented on #159
Sounds like a good plan. Need to understand how Argo could wrap the runtime inference part following the [seldon wrappers](https://github.com/SeldonIO/seldon-core/blob/master/docs/wrappers/readme.md). We provide a example docker image to wrap any python model.

[2018-02-02 18:55] yuvipanda commented on #192
repo2docker just needs access to a docker socket, doesn't matter if it's DinD or not (we use DinD in a sidecar on mybinder.org, for example). The primary use of repo2docker is to *not* require users to write Dockerfiles, but just whatever is conventional in their language (requirements.txt, environment.yml, install.R, etc), sometimes together (eg. having requirements.txt & install.R gives you pyth

[2018-02-02 18:58] jlewi commented on #200
Your probably not looking at the right namespace.

Try

[code]

[2018-02-02 19:00] bbarnes52 commented on #200
Right you are. My apologies - new to k8s.

kubectl get -n ${NAMESPACE} deployment tf-job-operator
NAME              DESIRED   CURRENT   UP-TO-DATE   AVAILABLE   AGE
tf-job-operator   1         1         1            1           6m

Any idea what causes the error (ERROR Server is unable to handle tensorflow.org/v1alpha1, Kind=TFJob)?

[2018-02-02 19:03] yuvipanda commented on #192
From looking at https://github.com/argoproj/argo/blob/master/examples/sidecar-dind.yaml, you can use the [repo2docker image](https://hub.docker.com/r/jupyter/repo2docker/tags/) as a container with the dind sidecar to build and push images without requiring users to specify a Dockerfile. If there *is* a Dockerfile, it'll be used instead - this is so we can have an easy 'escape hatch' available.

[2018-02-02 19:25] bbarnes52 commented on #200
kubectl get crd -o yaml

apiVersion: v1
items:
- apiVersion: apiextensions.k8s.io/v1beta1
  kind: CustomResourceDefinition
  metadata:
    creationTimestamp: 2018-02-02T18:53:31Z
    name: tfjobs.tensorflow.org
    namespace: ""
    resourceVersion: "872"
    selfLink: /apis/apiextensions.k8s.io/v1beta1/customresourcedefinitions/tfjobs.tensorflow.org
    uid: 5d3072f6-084a-11e8-bcad-42010a800331

[2018-02-02 19:35] yuvipanda commented on #192
Similar discussion happening in the dask community: https://github.com/pangeo-data/pangeo/issues/67

[2018-02-02 19:44] bbarnes52 opened #201 "ks apply -f tf-job.jsonnet, -f is not a valid flag"
ERROR unknown shorthand flag: 'f' in -f

[2018-02-02 19:45] bbarnes52 commented on #201
This is in reference to kubeflow/tf-job README

[2018-02-02 20:29] dynamicwebpaige commented on #159
Agreed with Jeremy - it would be great to have an E2E KubeFlow example, using scikit-learn.

A methodology I've seen recommended for deploying such models: pickle it with a schema.json and a score.py (that includes an init and a run function), and package all that up as a container that you can call as a web service.

This approach is quite slow, though; and pickle-ing models isn't a Python best p

[2018-02-02 22:14] bbarnes52 commented on #200
Fwiw if I just do something like kubectl create -f job.yaml the job runs successfully.

[2018-02-02 22:22] swiftdiaries commented on #105
Once the #141 Central UI is added, maybe we could add something like the home page here: https://github.com/swiftdiaries/dl-kops. I used kubeadm to bootstrap clusters and installed Nvidia drivers manually.

[2018-02-03 01:27] gaocegege commented on #201
Thanks for the issue, I think it is a typo.

[2018-02-03 01:32] gaocegege commented on #200
Hi, @bbarnes52 Could you post your log of the operator:

[code]

[2018-02-03 01:57] bbarnes52 commented on #200
Attached, it's quite large (10k lines of text)

I used kubectl create -f job.yaml, where job.yaml had "kind" TfJob (as opposed to TFJob). This resulted in a successful job.

Was unable to submit a successful job using ksonnet.

[out.txt](https://github.com/kubeflow/kubeflow/files/1691302/out.txt)

[2018-02-03 02:09] gaocegege commented on #200
@bbarnes52

Hi, I think it is caused by the wrong kind in CRD: TfJob, now the name of the custom resource is TFJob, but I am not sure why the operator works well with the wrong CRD, do we have an unchanged image `04425d9-dirty-e3b0c44` in the ksonnet? @jlewi

[2018-02-04 19:29] jlewi commented on #200
I don't believe the ksonnet config has been updated.

We also don't have an E2E test that verifies we can deploy and submit a TFJob. I think things are out of sync because we updated the ksonnet configs to add the CRD creation and used the new name TFJob but didn't update the corresponding TFJob docker image.

[2018-02-04 19:31] jlewi commented on #193
That's tensorflow/k8s#128

We originally let the jobs continue to run until the TFJob is deleted to make the logs accessible after the job terminated.

We are working on fixing that.

[2018-02-04 22:51] fxue opened #203 "KubeFlow on AWS - tf-hub-lb not created and cannot change jupyterHubServiceType to loadbalancer"
1. Deploy Kubernetes on AWS with cloudformation
https://s3.amazonaws.com/quickstart-reference/heptio/latest/doc/heptio-kubernetes-on-the-aws-cloud.pdf

2. Can see in EC2 console that we have 1 master node, 2 cluster node, 1 bastion host
3. Ssh into master node via bastion and verify the nodes are ready with kubectl
4. Start to follow the kubeflow user guide
Create one env aws
5. Show all service c

[2018-02-04 22:52] fxue commented on #32
Tried running Kubeflow on AWS, here is a [documentation](https://docs.google.com/document/d/1gj64lMvVsTemu27DZZomOkEH-2iv844HhveYce5jycg/edit?usp=sharing) of the steps I ran through. Filed [issue](https://github.com/kubeflow/kubeflow/issues/203) for differences I bumped into.

[2018-02-04 23:01] jlewi commented on #201
@bbarnes52 Any chance you could provide a PR to fix it?

[2018-02-04 23:02] #150 closed

[2018-02-04 23:07] jlewi commented on #38
presubmits are passing
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-presubmit

postsubmits don't seem to be running
I think this is the same issue as tensorflow/k8s#370 i.e we aren't truncating the commit sha when constructing the Argo workflow name.

To fix this we should probably modify kubeflow/kubeflow to pull run_workflow_e2e.py from kubeflow/testing once kubeflow/testing#9 is submi

[2018-02-05 14:26] jlewi commented on #191
@elsonrodriguez How would an S3/GCS plugin help with Jupyter and Eclipse? Code and notebooks are typically stored in Git. Doing a Git Push/Pull to constantly sync changes between multiple pods would be painful.

Object storage has been around for a decade plus and there are still plenty of applications that don't natively support using object storage. I think eliminating POSIX is unrealistic. A te

[2018-02-05 18:50] jlewi commented on #203
Can you run

[code]

and paste the output in the issue?

[2018-02-05 20:14] jlewi opened #205 "Use kubeflow/testing to run Argo workflows"
* Now that kubeflow/testing is setup we should be using it to run our Argo workflows
* Here are the changes we should make

1. Use the external NFS volume as opposed to running NFS in cluster (this appears to be more performant)
1. Change our Dockerfile to be like the one for [tensorflow/k8s](https://github.com/tensorflow/k8s/tree/master/test/test-infra)
1. Delete the code in the [testing director

[2018-02-05 21:54] jessesuen commented on #192
That's right. Argo is not opinionated in how docker images should be built. We provide an example of just one way to do so by running the docker daemon as a sidecar. But another perfectly valid way of doing it would be to run a docker daemon as a separate deployment and point `DOCKER_HOST` to the remote host. This works, so long as you don't care about volume bind mounting, and has the added benef

[2018-02-05 22:51] yuvipanda commented on #192
In repo2docker (and in the docker API), the build context is usually tarred
up and sent, so it's usually relative to the client and not the remote host.

For image cache, at mybinder.org we actually run dind as a daemonset and
put the image cache in an emptyDir volume, so we get the isolation benefits
and also caching on fast disk.

On Mon, Feb 5, 2018 at 2:40 PM, Jeremy Lewi <notifications@github

[2018-02-05 22:54] subramp commented on #187
Being inspired with TensorFlow, I curated this one for KubeFlow

![image](https://user-images.githubusercontent.com/8655802/35833023-5eb47946-0a84-11e8-8b8b-999852491787.png)

I just thought it would be nice to kick-off this discussion :)

[2018-02-05 23:59] jlewi opened #207 "E2E tests need to verify that we can submit a TFJob"
We need an E2E test that verifies we can actually submit a TFJob after deploying Kubeflow.

The lack of such tests is why things are breaking; e.g. because the ksonnet config is out of sync with the actual image.

I think the issue here is how to organize the tests so we don't end up duplicating code between tensorflow/k8s and kubeflow/kubeflow.

Here's my current thinking
   * E2E tests for TFJob

[2018-02-06 02:23] jessesuen commented on #192
One way is by attaching a reusable persistent volume to /var/lib/docker in the sidecar. But then it becomes a problem of managing these volumes that get attached to /var/lib/docker. In the ideal world, the volume would be automatically created and/or attached from a pool of PVs and reused/recycled. I've been trying to find a kubernetes native way of doing this using PVCs + storage classes but have

[2018-02-06 13:53] jlewi opened #211 "Publish Docker images to DockerHub in addition to gcr.io"
gcr.io is unfortunately blocked in China. So we should probably publish all our Docker images to DockerHub as well.

See #197 for getting ownership of kubeflow in Dockerhub.

[2018-02-06 15:22] elmiko commented on #187
@subramp thanks for starting the conversation, i thought we had wanted to make a little daylight between kubeflow and tensorflow?

like, kubeflow is more than just tensorflow on kubernetes, i think the logo should not reflect such a tight coupling.

[2018-02-06 15:41] subramp commented on #187
Thanks @elmiko for the feedback. Totally makes sense. I'll try something else...

[2018-02-06 16:14] aronchick opened #213 "Need: User facing website for Kubeflow that details how to choose a stack"
Just start with a proposal on info architecture

[2018-02-06 17:52] jlewi commented on #187
How about a robot wielding the K8s logo?

[2018-02-06 18:10] elsonrodriguez commented on #200
@bbarnes52 This should be fixed now, care to give it another shot?

[2018-02-06 18:34] willb commented on #187
How about something like this?

![heptagon with flow](http://freevariable.com/kf.png)

[2018-02-06 19:01] #205 closed

[2018-02-06 22:16] subramp commented on #187
I like it

[2018-02-06 23:56] jlewi commented on #186
This should be fixed by #208

[2018-02-06 23:56] #186 closed

[2018-02-07 01:20] erikerlandson commented on #187
I like the kube heptagon w/ the flow diagram.  Possibly the flow diagram could be bolder/simpler for clarity at smaller sizes

[2018-02-07 02:04] willb commented on #187
@gaocegege So @erikerlandson basically got it:  my idea was to have a k8s-style heptagon with a flow diagram instead of a helmsman's wheel.  The flow diagram here has several sources whose results come together -- I think this works whether we assume the circles are distinct data sources that are federated together to generate features for training or whether we assume the circles are cooperating

[2018-02-07 13:56] jlewi commented on #200
I've tested the fix and thinks appear to be working. @bbarnes52 If you are still having problems please reopen the issue.

[2018-02-07 13:56] #200 closed

[2018-02-07 14:13] jlewi opened #215 "Create a minimal release process for our ksonnet configs"
Kubeflow was broken for quite a bit because the ksonnet configs got out of sync with the Docker images.

To avoid this we should start pinning/tagging known good releases.

Context:
    tensorflow/k8s#339
    Discussion in #208

If we create a tag or branch then we can just use that tag with ksonnet

[code]

At a minimum it would be good to start defining a process for creating releases to figure

[2018-02-07 14:32] jlewi commented on #187
Kubeflow is an ML platform built on top of Kubernetes.

Here's some ideas that I think could illustrate this

   - A robot/brain inside a K8s style heptagon
   - A robot/brain standing ontop of a K8s style heptagon.

I don't know if we could get permission to use the K8s logo or not but if we could that would be great.

[2018-02-07 20:59] s1113950 opened #217 "`ks apply cloud -c newjob` silently fails"
I had accidentally forgotten to change my `params.libsonnet` file after generating my job, which means I had a bunch of `null` values, including for the `image`.

When I ran the `ks apply` command, nothing happened. There was no failure, but there were also no jobs.

Steps to reproduce:

[code]
output will display that it is creating your jobs, but nothing will happen

[2018-02-08 01:16] s1113950 commented on #123
I was looking to fix this issue, but am not sure it still exists. I deployed a `tf-hub` pod via the user guide instructions recently and see this in my pod listing:

`tf-hub-0               ClusterIP   None            <none>        80/TCP     2d` which shows no external IP. Maybe I'm missing something?

[2018-02-08 01:28] lluunn commented on #123
I think it's fixed by #139

[2018-02-08 13:40] jlewi opened #218 "Investigate using Docker to run Kubernetes and Kubeflow locally"
Docker is adding support for running Kubernetes locally in Docker as a way to facilitate local app development.
https://www.docker.com/kubernetes

This seems like a potential alternative to using minikube to running Kubeflow locally.

From the [link](https://www.docker.com/kubernetes) its not clear to me whether this is supported on linux or just mac and windows.

Does anyone have more info on how

[2018-02-08 14:00] gaocegege commented on #218
minikube also supports running Kubernetes locally by --driver=none

[2018-02-08 14:12] gaocegege commented on #218
FYI

[2018-02-08 16:16] dlorenc commented on #218
Hey,

Minikube TL here. We're currently working with Docker to figure out how to make sure Minikube and the Kubernetes installation in Docker For Mac|Windows behave as similarly as possible. Right now the main differences are around the OS used in the VM and customizations to Kubernetes itself.

Ideally Kubeflow should be able to support either without any additional work. Going forward, Minikube

[2018-02-08 16:43] yupbank opened #221 "Build and publish Docker images using Argo"
Right now there is no way to let contributor to publish new docker images under kubeflow org.

[2018-02-08 18:02] s1113950 commented on #211
@jlewi I'll take this one on

[2018-02-08 19:26] s1113950 commented on #211
I'm in the process of getting my cla good to go (Intel, same team as @elsonrodriguez ), but should have the PR good to go by about EOD

[2018-02-08 21:02] fxue opened #223 "Move troubleshooting guide into user_guide"
Following the instruction for user_guide.md, saw the following error.
I am on google cloud GKE

my-kubeflow ks apply ${KF_ENV} -c kubeflow-core

INFO  Updating services kubeflow.k8s-dashboard
INFO  Updating services kubeflow.tf-hub-0
INFO  Updating services kubeflow.tf-hub-0
INFO  Updating clusterrolebindings ambassador
INFO  Updating roles kubeflow.jupyter-role
INFO  Creating non-existent roles k

[2018-02-08 22:01] jlewi commented on #211
What is your thinking in terms of how you will do this?

- Will our release pipelines just push to both locations?
- Will you run a sync job that will automatically sync all images from one registry to the other?

I think it would be nice if there was an easy way to mirror a docker registry.

[2018-02-08 22:29] s1113950 commented on #211
My first idea was just to modify the release pipeline to push to both locations (I've been editing the various Makefiles to do this). Long-term, a sync job or a way to mirror the registries would be my preferred approach as well.

It looks like we could do the sync relatively easily though? I found this https://cloud.google.com/container-registry/docs/using-dockerhub-mirroring. Do you think I shou

[2018-02-08 23:25] s1113950 commented on #211
Take a look at https://github.com/kubeflow/kubeflow/pull/222 and let me know what you think @jlewi

[2018-02-09 00:27] bkungfoo opened #226 "JupyterHub fails to load image properly, but starts a notebook anyway"
I've encountered this several times during deployment, both on minikube and gke. When starting jupyterhub, sometimes starting a server with a valid image (e.g. gcr.io/kubeflow/tensorflow-notebook-gpu:8fbc341245695e482848ac3c2034a99f7c1e5763) creates a container without any libraries installed.

`kubectl logs tf-hub-0 -n $NAMESPACE` shows the following error:

[W 2018-02-08 23:51:44.573 JupyterHub

[2018-02-09 01:23] bkungfoo commented on #226
It might have to do with the docker image caching at the kubernetes nodes (or locally on my machine), although I'm not sure why this would affect deployment of the image. When I recreated a GKE cluster, deployed kubeflow-core, and started a server via jupyterhub, it worked fine.

[2018-02-09 03:30] gaocegege commented on #218
Hi @dlorenc

Thanks for your explanation, Does minikube support running Kubernetes in Docker for Mac or Windows now?

[2018-02-09 06:53] fxue commented on #203
Apologies for the delay
[code]
[code]

[2018-02-09 18:31] yupbank opened #229 "Add script to export inception into SaveModel from checkpoints"
Since the model-serving is very sensitive with the `signature_def`.

While the existing public exported savedModel is kind of a blackbox. Or maybe there are some code related to `gs://kubeflow-models/inception` @vishh

[2018-02-09 18:59] cliveseldon opened #230 "Typo in argo-ui rolebinding"
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/argo/argo.libsonnet

uiRoleBinding ref is argo not argo-ui

[2018-02-09 19:38] jlewi commented on #211
If you're willing, I'd much prefer the mirroring route.

I think https://cloud.google.com/container-registry/docs/using-dockerhub-mirroring is mostly about a mirror of DockerHub in GCR to make fetching images from GCP more efficient. So one option would be to make DockerHub the source of truth and then rely on GCR mirror to make it efficient on GCP.

But I don't think that will work very well for

[2018-02-09 20:24] s1113950 commented on #211
This tool exists: https://hub.docker.com/r/stefanhudelmaier/docker-registry-to-registry-sync/ but it doesn't work with dockerhub so we would have to fix that bug at the bottom of the page or wait until it's fixed to use it...

Maybe we could leverage this from openshift?
https://github.com/redhat-cop/openshift-toolkit/tree/master/disconnected_registry

Doing more research it seems there are quite

[2018-02-09 21:42] jlewi commented on #211
The Argo work wouldn't solve this problem.

The openshift script looks promising. Seems like it should be easy to modify.

Your call if you want to just go with your PR for pushing to two locations for now I think that's fine.

FWIW there's a python client library for Docker registry here:
https://github.com/google/containerregistry

[2018-02-09 22:04] s1113950 commented on #211
🤔 maybe go with my PR for now and I could file another ticket for a more long-term solution?

[2018-02-09 22:06] s1113950 commented on #211
^^^ because I'm not sure what the best long-term syncing solution would be right now, and maybe it would become clearer later/after KubeCon?

[2018-02-09 22:52] jlewi commented on #221
Dupe kubeflow/testing#19

[2018-02-09 22:52] #221 closed

[2018-02-09 22:56] jlewi commented on #230
Fixed by #231

[2018-02-10 02:26] #230 closed

[2018-02-10 02:30] jlewi commented on #229
What is the larger goal here with inception?

If we're planning on turning this into an E2E example using inception, then I suggest we create an issue for this in kubeflow/examples and start putting code into that repo. Including a script to export the model if one is needed.

/cc @elsonrodriguez

[2018-02-10 02:32] jlewi commented on #226
When you say no libraries are installed you mean python libraries?
Does Jupyter start running?

[2018-02-10 02:37] jlewi commented on #223
The relevant information is in the [troubleshooting guide](https://github.com/kubeflow/kubeflow#troubleshooting) in our README.md

The fact that the information is not in our user_guide seems undesirable.

I suggest moving the troubleshooting guide into the user_guide.

On the main page we should update the troubleshooting information to just be a link to the relevant section in the user_guide.

[2018-02-10 02:40] jlewi commented on #217
We could add some validation to the templates. jsonnet allows errors to be raised.

[2018-02-10 02:41] jlewi commented on #213
@aronchick What is a stack in this case? By user facing website do you mean creating an actual docs website (as opposed to a bunch of md files in GitHub repositories)?

[2018-02-10 02:55] jlewi commented on #203
#232 out for review.

[2018-02-10 02:56] jlewi commented on #197
@carmark How does DockerHub permissions work? I don't suppose it uses GoogleGroups?

[2018-02-10 02:57] jlewi commented on #197
Can we use a service account to automate pushing to DockerHub?

[2018-02-10 02:59] jlewi commented on #194
As part of this issue we should create an Argo workflow to build and test this Docker image as in #214.

[2018-02-10 03:08] jlewi commented on #188
No you don't need to complete  https://github.com/tensorflow/k8s kubectl takes care of all that.

[2018-02-10 07:11] carmark commented on #197
@jlewi Yeah, we may create one service account to do that, and create some automate building on docker hub based on the Dockerfile.  I can setup it if you think is all right.

[2018-02-12 03:00] fxue commented on #223
I can take a stab at this.

[2018-02-12 03:29] aronchick commented on #213
"stack" in this case would be a complete(-ish) end to end something. So, if
you want to run tf.transform + jupyter + tf crd + tf serving, you choose
install these <n> things in the following way. Then same deal with XGBoost,
etc.

We would let the community add whatever makes sense and/or someone wants to
own the docs for.

Yes, I think we would create actually end to end docs.

On Fri, Feb 9, 201

[2018-02-12 03:30] aronchick commented on #217
These kind of validations are crucial - lack of validation and/or lack of
clear errors hurt the K8s community for years.

On Fri, Feb 9, 2018 at 6:40 PM Jeremy Lewi <notifications@github.com> wrote:

[2018-02-12 06:37] fxue opened #233 "user guide - tf-serving: ClusterIP instead of LoadBalancer service"
In "Serve a model" section of the user guide. I am getting following on GKE.
[code]
was expecting a loadBalancer with external IP.
[code]

Here is the config -

[code]

[2018-02-12 07:13] fxue commented on #223
[Pull request](https://github.com/kubeflow/kubeflow/pull/234) out for review.

[2018-02-12 08:04] fxue commented on #138
Gonna take a stab at this.

[2018-02-12 13:49] jlewi commented on #197
@carmark So my thinking is that we should use prow to trigger Argo workflows and use the Argo workflow to build and push Docker images.

I think the advantage of using Argo over DockerHub or GCB is that its K8s native. Its also easier to add E2E testing of the image before pushing it.

What do you think?

If we do it this way how do we authenticate to DockerHub? Do we use a service account with se

[2018-02-12 13:53] #223 closed

[2018-02-12 14:00] carmark commented on #197
@jlewi It is better to test before pushing the docker hub, I can not agree any more.  If we do that as this way, we need a service account which has a username and password, and then I will set the permission on that account.  So the work on DockerHub is simple, I can do that anytime.

[2018-02-12 14:22] jlewi commented on #233
I don't think we want to use LoadBalancer as a default because that can make the server accessible publicly.

[2018-02-12 14:38] jlewi commented on #233
We could potentially add an option to allow users to select LoadBalancer if they wanted to.

But I think the better general solution is to use a secure proxy see #11.

[2018-02-12 14:38] jlewi commented on #226
@bkungfoo ping? Any more info?

[2018-02-12 14:40] jlewi commented on #207
Fixed by #227

[2018-02-12 14:40] #207 closed

[2018-02-12 14:42] jlewi commented on #143
Code of conduct has been added to kubeflow/community
https://github.com/kubeflow/community/blob/master/CODE_OF_CONDUCT.md

[2018-02-12 14:42] #143 closed

[2018-02-12 14:45] jlewi commented on #123
There's a bug #203 that should be fixed by #232.

[2018-02-12 14:46] jlewi commented on #121
@nkashy1 What is the status of this?

[2018-02-12 14:48] jlewi commented on #121
It looks like it is now using ClusterIP
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/tf-serving/tf-serving.libsonnet

[2018-02-12 14:48] #121 closed

[2018-02-12 17:27] fxue commented on #233
Thanks @jlewi - making this issue one that is about user guide since in that document, it is expecting load balancer with external IP. will be dependent on #11.

[2018-02-12 19:42] bkungfoo commented on #226
Jupyter starts running, but tf-gpu is not properly installed. Here is what I get when I create a notebook and run "import tensorflow as tf":

---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
/opt/conda/lib/python3.6/site-packages/tensorflow/python/pywrap_tensorflow.py in <module>()
     57
---> 5

[2018-02-12 21:03] cliveseldon commented on #159
We have created an initial end-to-end example at https://github.com/SeldonIO/kubeflow-seldon-example which illustrates training on kubeflow and deployment on seldon-core with Argo workflows for a Tensorflow and scikit-learn model. A notebook illustrates REST and gRPC prediction as well as modifying the deployment to run A-B tests as well as Multi-armed bandits.

Can discuss how this can be include

[2018-02-12 22:00] bkungfoo opened #236 "Batching Configurations for TF serving in Kubeflow"
The TF serving repo has a special batching capability in it. It might be worth investigating whether we can use this capability to tune batch sizes based on latency requirements, etc. and add it into the ksonnet config files.

Batching for TF serving can be found here: https://github.com/tensorflow/serving/tree/master/tensorflow_serving/batching

It looks like some work has been done on this as we

[2018-02-12 23:00] jlewi commented on #226
This usually means GPUs aren't properly configured.

I'm assuming you are running on GKE?

  1. Did you follow the GKE [instructions](https://cloud.google.com/kubernetes-engine/docs/concepts/gpus#installing_drivers) to install the NVIDIA drivers via daemonset?
  1. When you spawned the Jupyter server via JupyterHub did you specify GPUs in the resource requirements?

[2018-02-12 23:03] #203 closed

[2018-02-13 00:41] aronchick commented on #226
It's an interesting question - is there something we can do it K6w to
enforce running something when you run on cloud <X>. Eg if we detect you're
running on GCP, you need to install/run x,y,z; if we detect you're running
on Azure, you need to install/run t,u,v; if we can't detect, we run
nothing.

On Mon, Feb 12, 2018 at 3:04 PM Jeremy Lewi <notifications@github.com>
wrote:

[2018-02-13 03:40] jlewi commented on #102
I'm removing this from the Kubecon Europe milestone. I don't see us converging on a single prediction API by then and I don't see an immediate need for one.

[2018-02-13 03:41] jlewi commented on #35
Closing this issue.
See kubeflow/community for information about the community.

[2018-02-13 03:41] #35 closed

[2018-02-13 03:52] jlewi commented on #159
I think it would be great if
1. We could add the ksonnet configs to deploy Seldon core to kubeflow/kubeflow -
    * This prevents users from having to do a 2nd registry add command
    * We can discuss whether it makes sense to add it to the core Kubeflow package and include it by default or make it a separate package
    * The best way to organize the registry is still very much an open question

[2018-02-13 14:29] #138 closed

[2018-02-13 16:38] yupbank commented on #102
The goal is actually quiet ambitious if we are aiming support all the tools with the same api.
Even have a unified API between REST and GRPC is already complicated. Not to mention, the input data format is so different from different tools, Tensorflow/serving would expect input in `tensor protobuf`.  H2O/xgboost would expect data in `DMatrix` , vowpal-wabbit would expect data in raw string.

[2018-02-13 16:45] yupbank commented on #102
But the flip side is that, do we need to support all the tools just for serving/prediction? Even though different tools comes with different `magic` for the same machine learning model. Most of  the `magic` part stays at training phrase. After training.. the overlap between different tools is huge. that's why we can have https://github.com/onnx/onnx .
And most of the time, prediction have nothing

[2018-02-13 21:08] bkungfoo commented on #226
This problem is likely due to not following the instructions here to deploy an nvidia driver daemon on the GKE cluster. Closing the issue.
https://cloud.google.com/kubernetes-engine/docs/concepts/gpus

[2018-02-13 21:08] #226 closed

[2018-02-13 22:06] jlewi opened #239 "Use Ambassador/Envoy as proxy for JupyterHub"
Right now we deploy JupyterHub using the NodeJs proxy in JupyterHub. This means all connections to the notebook are proxied through JupyterHub.

Since we already have a reverse proxy in the form of Envoy we should be able to configure KubeSpawner to instead use Envoy as the proxy to notebooks and not rely on JupyterHub.

According to @yuvipanda JupyterHub also supports using Ingress to setup route

[2018-02-13 22:08] pdmack commented on #218
See #238 for notes on Kubeflow and kube 1.9.2 inside Docker from Mac

[2018-02-13 22:08] yuvipanda commented on #239
Yup,
https://github.com/jupyterhub/kubespawner/blob/master/kubespawner/proxy.py
is where the kubernetes based proxy implementation lives. It currently
creates an Endpoints, Service and Ingress object for each user, and cleans
it up when the user's server stops. This can be made configurable to only
create a Service...

On Tue, Feb 13, 2018 at 2:06 PM, Jeremy Lewi <notifications@github.com>
wrote:

[2018-02-13 22:09] aronchick commented on #218
cc @garethr

[2018-02-13 22:23] yuvipanda commented on #191
We're looking at running https://github.com/nfs-ganesha/nfs-ganesha/wiki as a sidecar.

1. Very well tested, this is what provides Ceph's NFS capabilities (and maybe Gluster's too? Unsure)
2. Can be run as a sidecar and expose an already mounted volume. This makes it immediately work with pretty much every existing volume - GCE PD, AWS EBS, Rook, etc
3. Security is tbd - easy way is with NetworkPo

[2018-02-13 22:23] inc0 commented on #191
So rook (or rather ceph underneath) is neat. It will provide both S3 and Object store at the same time. Being able to connect kubeflow to existing ceph cluster (whether it's rook or standalone), would solve both use cases.

Alternative would be to just use PV mechanism for POSIX - then we don't need to worry about this piece at all, which would be nice. I think just being able to easily add PV (fo

[2018-02-13 22:27] dlorenc commented on #218
Not sure I understand the question fully - minikube runs in it's own VM separate from the Docker for Mac/Windows ones.

[2018-02-13 23:46] pdmack commented on #11
Istio could provide east-west security to Ambassador's north-south. There are slightly different options available for the sidecar injection depending on the minimum kube requirement (1.8->manual injection; 1.9->automatic via mutating webhooks).

[2018-02-14 01:46] jlewi commented on #201
@fxue Would you mind doing another quick doc fix?

[2018-02-14 15:04] jlewi opened #240 "Recommended setup for different K8s Solutions"
There are probably different best practices for configuring Kubeflow on different K8s solutions.

For example, it looks like a shared posix compliant filesystem is very useful; e.g. for making files available to Docker Builds (see https://github.com/kubeflow/example-seldon).

I think on AKS PDs can be mounted ReadWriteMany (@wbuchwalter @dynamicwebpaige true?) but on GCP PDs can't be mounted ReadW

[2018-02-14 15:12] jlewi opened #241 "Recommended Kubeflow Setup on GKE"
See #240. This is the issue to track adding instructions for GKE.

For the questions listed in #240 so far here are some suggestions

**How to access/search logs**
Use stackdriver logging.

**How to setup credentials to access Cloud services like storage**
We should add instructions for creating a service account and storing the key as a K8s secret.

We should explain how to load this key into Jup

[2018-02-14 18:21] bkungfoo commented on #236
I'd like to add that some of the batching parameters can be directly set at the command line (enable batching = true/false, gpu fraction, session parallelism), which should be easy to implement. Others require a batching config file.

https://github.com/tensorflow/serving/blob/master/tensorflow_serving/model_servers/main.cc#L331

[2018-02-14 18:39] jlewi commented on #236
It looks like the conf file can be set via ```batching_parameters_file``` so we could create a config map for it.

[2018-02-14 19:22] lachie83 commented on #240
@jlewi AKS managed-disk backed PDs CANNOT be mounted ReadWriteMany. AzureFile backed PDs CAN be mounted ReadWriteMany.

[2018-02-14 19:42] fxue commented on #201
@jlewi sure - feel free to assign this to me.

[2018-02-14 19:44] inc0 commented on #240
For on-prem you have few options:
1. NFS, obviously
2. Ceph - CephFS for RW, bare rados block device for RO (datasets for example) - more performance and such. There is also Rados GW as nfs backend, but I haven't tried that
3. GlusterFS - never tried that.

I'd go for Ceph tbh and allow to configure where use RW and where use RO

[2018-02-14 23:12] jlewi commented on #240
@lachie83 Thanks.

@inc0 SGTM.

[2018-02-14 23:14] jlewi opened #244 "tf.transform libraries in our notebooks"
tf.Transform is a library for feature processing.
https://github.com/tensorflow/transform

We should add it to our Jupyter notebook images so that people can run it.

I think it requires Beam so this probably means installing the Apache Beam library as well.

[2018-02-15 00:16] jlewi commented on #55
Created the project kubeflow.org/kubeflow-usage

Create the cluster

[code]

Reserve a static IP

[code]

[2018-02-15 00:18] jlewi commented on #55
Created a DNS record to associate `stats-collector.kubeflow.org` with the static IP.

[2018-02-15 00:45] katsiapis commented on #244
Transform already specifies it's requirements https://github.com/tensorflow/transform/blob/master/setup.py#L24 (except for Tensorflow for now, so that it plays nicely with both CPU and GPU).

[2018-02-15 01:23] gaocegege commented on #215
https://github.com/skywinder/github-changelog-generator could generate changelog automatically.

[2018-02-15 08:37] YujiOshima commented on #74
@jlewi Hi! It is great. I'm so interested in a CRD for MxNet.
Will you have any plan to add mxnet-operator repository to kubeflow?
That repository does not look active now. But if it would be supported by kubeflow officially, I'm willing to contribute it!

[2018-02-15 19:12] kkasravi commented on #244
@jlewi i would like to pick this up. I have a good understanding of how ksonnet is used in kubeflow and know beam by way of integrating a beam runner

[2018-02-15 22:11] jlewi commented on #244
Fantastic.

[2018-02-15 22:13] jlewi commented on #244
@kkasravi I sent you an invite to the Kubeflow org. If you accept you should be able to trigger tests and I think I can assign the issue to you.

[2018-02-15 22:24] kkasravi commented on #244
@jlewi done

Question: will we be replacing tf-job with argo's equivalent (but without the build steps)? Because I have most of this in place and argo is already on master.

[2018-02-15 22:29] jlewi commented on #244
I don't understand the question. TFJob and Argo serve very different purposes in my mind. TFJob is about executing TF jobs particularly distributed jobs. Argo is about managing workflows. So the overlap isn't obvious to me.

[2018-02-15 22:29] kkasravi opened #250 "proposal for tooling"
i wanted to submit a proposal for tooling under community but wasn't sure of the process or where the template is. @jlewi i can send you a markdown document if you would like (and close this issue)

[2018-02-15 22:39] jlewi commented on #250
Can you be more specific? What sort of tooling is this for?

[2018-02-15 22:43] jlewi opened #251 "Batch Prediction using GPUs with local runner"
Using GPUs for batch prediction could be really valuable.

There's a couple of different ways we could support this.

1. If we use a framework like Spark or Flink running on a K8s cluster with GPU nodes then the workers should be able to directly use the GPUs.

2. If we run Spark/Flink/Dataflow external to K8s such that the workers don't have direct access to GPUs then we could deploy TFServing on

[2018-02-15 23:24] #190 closed

[2018-02-16 00:35] kkasravi commented on #250
Create a tool similar to ks but kubeflow centric that automates much of the route sequence of ks commands as well as enabling easy deployment in the target pod or allowing the data scientist to debug locally (eg telepresence, pycharm, goland/dlv, etc).
[code]
 The proposal would need to go into detail of each subcommand and be evaluated against #87

[2018-02-16 00:56] kkasravi commented on #244
@jlewi i was referring to the example-seldon repo which defines 4 workflows: 2 for training and 2 for serving. The TF training one uses the argo Workflow to first build and push the code and then run the TFJob (https://github.com/kubeflow/example-seldon/blob/master/workflows/training-tf-mnist-workflow.yaml#L62) unless you're thinking that both serving and training should be done using seldon's CRD

[2018-02-16 01:30] jlewi opened #253 "Include FACETS"
[Facets](https://github.com/pair-code/facets) is a popular tool for visualizing data.

It looks like it can be deployed

- Standalone
- In Jupyter

Is this something we should include in Kubeflow?

[2018-02-16 14:00] jlewi commented on #244
So a workflow might look as follows

1. Build a Docker image that contains the code you want + any dependencies (e.g. TF.Transform)
1. Run a preprocessing job using TF.Transform
1. Run a TFJob to train a model

TF.Transform uses Apache Beam so in step 2 we would be invoking a python program that submits the beam job and waits for it to finish. Depending on the Beam runner we are using that job wil

[2018-02-16 15:33] ankushagarwal opened #254 "Run util_test.jsonnet added in #246 as part of E2E tests"
File path: kubeflow/core/tests/util_test.jsonnet

[2018-02-16 20:24] ankushagarwal opened #255 "IAP component should use cert-manager to get a signed certificate"
Currently the dev.kubeflow.org app uses a self-signed certificate for https.

We can use https://github.com/jetstack/cert-manager to provision a valid certificate.

[2018-02-16 21:16] jlewi commented on #255
There's an example of using the predecessor kube-lego in kubeflow/reporting (but not with IAP).

I think IAP creates some challenges because we need a way to not have IAP reject the well known ACME challenge.

[2018-02-16 21:37] jlewi opened #258 "[discussion] How can we play well with Kaggle?"
Kaggle is an amazing resource.

Can we make it easy for people to use datasets and code they find on Kaggle?

The docker container for Kaggle kernels is publicly available
https://hub.docker.com/r/kaggle/python
https://github.com/kaggle/docker-python

and provides a vast array of libraries.

What would it take to turn that into an image we could launch via JupyterHub?

/cc @yuvipanda @aronchick

[2018-02-17 00:59] swiftdiaries opened #260 "[bug] TFJob dashboard UI not showing up through Ambassador reverse proxy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

![screen shot 2018-02-16 at 7 41 01 pm](https://user-images.githubusercontent.com/23024031/36335889-64819324-1351-11e8-8cf8-308a5d8903d1.png)

**What you expected to happen**:

![screen shot 2018-02-16 at 7 46 33 pm](https://user-images.githubusercontent.com/23024031/36336003-249d52a6-1352-11e8-8722-d14000b115d5.png)

**How to repr

[2018-02-17 05:10] kkasravi commented on #244
yes thanks. I'll get going on it.

[2018-02-17 07:43] yuvipanda commented on #258
It already seems to install Jupyter, so it would need to install the
`jupyterhub` python package as well, and that *should* work.

However, it seems to be putting config in $HOME, which often has a PVC
mounted over, so things might be weird if that happens.

On Fri, Feb 16, 2018 at 1:37 PM, Jeremy Lewi <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2018-02-17 19:11] aronchick commented on #241
cc @vishh

[2018-02-17 19:12] aronchick commented on #250
This is a terrific idea! Love it!

[2018-02-17 23:42] jlewi commented on #260
Is this the same problem as kubeflow/tf-operator#323

[2018-02-17 23:44] jlewi opened #261 "JupyterHub spawner: upstream request timeout"
When I go to JupyterHub and spawn my notebook I get

[code]

The jupyter pod is actually in the container creating state. Pulling the image take a long time because it is so large.

If I refresh it shows up.

My guess is there is some sort of timeout in JupyterHub and maybe we just need to increase it? Perhaps its a setting in KubeSpawner?

/cc @yuvipanda

[2018-02-17 23:49] jlewi opened #262 "JupyterLab not working in latest notebook images"
When I start a fresh notebook and try to navigate to "/lab" I get

[code]

I rebuilt the Docker images last week.

This is using
gcr.io/kubeflow/tensorflow-notebook-cpu:v20180213-6d6843ac

[2018-02-17 23:53] jlewi commented on #262
It doesn't look like we changed the version of JupyterHub or JupyterLab.

Using the older image
gcr.io/kubeflow/tensorflow-notebook-cpu:8fbc341245695e482848ac3c2034a99f7c1e5763

It starts just fine.

[2018-02-18 17:12] swiftdiaries commented on #260
Yes. It's the same.

[2018-02-18 17:12] #260 closed

[2018-02-18 17:47] aronchick opened #263 "Discussion: Eventing model/solution"
Given that training can take a really long time, we should figure out how to fire events at different stages that can be consumed by other tools. Ideally, we'd have a package that ran for on-prem deployments, and then could also use cloud event providers.

[2018-02-19 14:09] chrisheecho opened #264 "[discussion] Experiment tracking"
Easy way to track your experiments in kubeflow

[2018-02-19 14:10] chrisheecho opened #265 "Connect to external MySQL/PostGres DB from Jupyter"
Easily usable connectors for popular DBs

[2018-02-19 14:10] chrisheecho opened #266 "Better identity management in K8s"
TBD

[2018-02-19 14:11] chrisheecho opened #267 "Assess usability on vanilla dockers"
Gather feedback and Evaluate vanilla docker

[2018-02-19 17:36] jlewi commented on #265
Chris can you provide more detail? What DBs are you looking to use? How are you looking to use them? For example, do you want to use them with TensorFlow?

[2018-02-19 19:40] aronchick commented on #265
Chris and I were discussing this HN article (
https://news.ycombinator.com/item?id=16354989), and he volunteered to
create the issues. Basically, we're looking to address some of these
comments:

- How you connect to a DB server (particularly if it's not in your cluster)
- https://news.ycombinator.com/item?id=16356396
- Particularly in re: PostgreSQL -
https://news.ycombinator.com/item?id=16356059

[2018-02-19 23:03] pdmack commented on #189
Closed by #216 no? Issue number should have been in the PR commit.

[2018-02-20 01:40] #189 closed

[2018-02-20 13:09] #159 closed

[2018-02-20 13:14] jlewi commented on #266
Can you provide more detail please? What are the current problems limitations? And why are these Kubeflow issues and not K8s issues?

[2018-02-20 13:15] jlewi commented on #267
Do you mean trying to run directly on Docker and not Kubernetes?

[2018-02-20 15:48] jlewi commented on #267
Running on vanilla Docker is an explicit non-goal for Kubeflow. We take a hard dependency on Kubernetes so I don't think we should invest in supporting running on non K8s platforms.

[2018-02-20 15:53] jlewi commented on #192
For Kubecon it might be nice to have a ksonnet prototype to easily build Docker containers using Argo.

Files could be passed to the build container via

1. Git
1. Shared filesystem.

[2018-02-20 17:29] aronchick commented on #267
Changed the title - this is really supposed to be comparing the usability of minikube/docker-kube to a vanilla docker container. Here's an example of using Docker for data science - we should be just as easy (or easier) from start to finish - https://unsupervisedpandas.com/data-science/docker-for-data-science/

[2018-02-21 00:23] ewilderj commented on #187
I love the heptagon reference, and echo Erik's small-sizes comment. I would also be interested to see a different base color just to see what it looks like, either an orange or green shade. In just blue I worry we'd look a little indistinguishable from k8s at a distance.

I suggest posting a 128px square version as well with candidate designs so people can see how well it reduces for things like a