[2020-10-26 02:35] LeeJian commented on #5358
Yes, the k8s  install on bare metal.

[2020-10-26 04:03] hhji commented on #4661
I have the same issue at kubernetes 1.16.0 with kubeflow 1.0.2 in private environment

Error Message
"unable to register controllers to the manager","error":"no matches for kind \"Profile\" in version \"kubeflow.org/v1alpha1\"

root@tw100024134-AP:~# kubectl get crd | grep profile
profiles.kubeflow.org                                2020-10-26T03:16:48Z

kubeflow 1.0.2 should be using profile kube

[2020-10-26 09:52] tretos53 commented on #5339
Any advise on this would be appreciated.

[2020-10-26 21:49] Jeffwan opened #5361 "Community presentation for 1.2"
We aim to release kubeflow 1.2 in mid of Nov. It would be good to start defining a release notes and scripts to help make sure everyone is on the same page.

Here's the link for 1.1 roadmap and I don't think we have similar one for 1.2.  We spend most our time on some discussions like governance, distribution and testing, etc since 1.1.

[KF Roadmap for 1.1](https://github.com/kubeflow/kubeflow/bl

[2020-10-26 21:50] LRSutton opened #5362 "Unable to load generated visualizations - Error occured while trying to proxy to: minio://..."
/kind bug

**What steps did you take and what happened:**

I have a sample pipeline setup with a visualize_test method defined as:

[code]

The pipeline is built as:

[code]

and I build my pipeline.yaml file with:

[code]

I then load the generated yaml into a pipeline via the Kubeflow UI and make a run of it. The job completes with no errors or warnings.

When I navigate to the "Visualize test"

[2020-10-26 22:17] Jeffwan commented on #5224
I sent out email about 1.2 release. We still target for Nov 16 and plan to cut release around Nov 7. I don't think we will have that  many features to roll out as before. Stability is the first priority in this version. I will pull a list from engineer point of view and coordinate with PMs on the features list/improvement in 1.2.

WG Owners, please help make sure code can be complete asap and let'

[2020-10-26 22:22] PatrickXYS commented on #5224
Thanks for driving 1.2 @Jeffwan

I'll help validate release from AWS side as well

[2020-10-27 02:40] tvkpz commented on #4666
@Felihong I am not able to save the changes to the yaml file. I keep getting the message
[code]
when I try to edit the notebook object directly using
[code]
although I can see the notebook details in the above workspace when I do
[code]
Any advice?

[2020-10-27 08:09] Bobgy commented on #5224
Pipelines side will update manifests to include KFP 1.0.4.
I'll own that.

[2020-10-27 08:40] LeeJian commented on #5358
add some info about this cluster:

![image](https://user-images.githubusercontent.com/1435897/97277093-05a5f500-1873-11eb-8750-4eedf61c6a12.png)

![image](https://user-images.githubusercontent.com/1435897/97277066-f9ba3300-1872-11eb-836b-e14abcfe1c81.png)

[2020-10-27 10:38] dale88 commented on #5002
mark , I have the same issues.

[2020-10-27 15:13] dalbhanj opened #5364 "Could not find command aws-iam-authenticator in PATH"
/kind bug

**What steps did you take and what happened:**
Installing Kubeflow on EKS throws this error

[code]

**What did you expect to happen:**
Looks like installing Kubeflow on EKS requires aws-iam-authenticator? I thought this was fixed in v1.0 feature release
https://github.com/kubeflow/kubeflow/issues/3827

**Anything else you would like to add:**
The original issue that was created has gon

[2020-10-27 16:38] PatrickXYS commented on #5364
/assign

[2020-10-27 18:44] yuzisun commented on #5313
I would suggest we go directly to istio 1.7 as we run into sidecar race condition issues with 1.6 which is fixed in 1.7 https://istio.io/latest/news/releases/1.7.x/announcing-1.7/#production-operability-improvements.

[2020-10-28 12:01] LutzWeischerFujitsu opened #5366 "cp: cannot stat '../kubeflow': No such file or directory"
I try to build it, but get the above error message. In the sub-directory 'bootstrap' I execute 'sudo sh ./build_image.sh'.

environment: x86-64, CentOS 8
current master, also branch v1.0

[2020-10-28 14:25] RFMVasconcelos commented on #5281
Hi @gaborvecsei Thanks for the feedback!

/cc @knkski

[2020-10-28 23:23] jlewi commented on #5366
Please follow the directions on www.kubeflow.org if you are trying to install Kubeflow.

[2020-10-28 23:23] #5366 closed

[2020-10-28 23:24] jlewi commented on #5176
Duplicate of #5313

[2020-10-28 23:24] #5176 closed

[2020-10-28 23:28] jlewi commented on #5313
@kubeflow/wg-notebook-leads What is the readiness of notebooks for  Istio 1.6+?

@kubeflow/wg-pipeline-leads What is the readiness of pipelines for Istio 1.6+?

[2020-10-28 23:36] animeshsingh commented on #5313
@yanniszark can the control plane apps make it before 1.2 release?

KFServing we can start standardizing. As @yuzisun mentioned, 1.7 will be a better candidate.

[2020-10-29 00:43] pretendhigh opened #5367 "istio-nodeagent failed to get secret for proxy sidecar from secret cache: failed to get root cert"
kubeflow 1.1.0
pod istio-nodeagent-br5j5 image: gcr.io/istio-release/node-agent-k8s:release-1.3-latest-daily
centos7.6

When I start a deploy x-0, sidecar istio-proxy will not be ready.
[code]
I try to get the logs of the istio-nodeagent on the same kubelet node with x-0
[code]
It seems that only the node with x-0 pod has the problem. Pod distributed to other node work fine.

[2020-10-29 02:02] dale88 commented on #5329
I have solved this problem. In my case, I use vpn service,the flannel network interface disappears and is never recreated. and then I restart the docker image . finally it works!

 See this comment for some more information and a workaround:
https://github.com/jetstack/cert-manager/issues/2918

[2020-10-29 03:11] pretendhigh commented on #5367
After read the article about sds of [istio1.3](https://istio.io/v1.3/docs/tasks/security/auth-sds/) (which was not supported by the istio team now), I know that citadel is a import role in sds. So I check the log of citadel. the log looks like this ` invalid bearer token, token has expired`. I restarted citadel `kubectl delete po istio-citadel-*** -n istio-system` . After the citadel restared, it

[2020-10-29 03:22] chiehpower opened #5368 "Fail on the step of Installation of Kubeflow"
Hi all,

I got stuck in the beginning of installing Kubeflow where I followed the instruction from [official webpage](https://www.kubeflow.org/docs/started/workstation/minikube-linux/).
I chose the `minikube` tool to install kubeflow.

I have installed the tools of docker, kubectl, kfctl, and Minikube.
However, I got stuck on [the third step of installing kubeflow](https://www.kubeflow.org/docs/st

[2020-10-29 07:27] LutzWeischerFujitsu commented on #5366
Dear Jeremy! Would you be so kind to provide the exact URL to the description for building this open source project, I couldn't manage to find it. I think it is a promising project. Thanks a lot.

[2020-10-29 09:06] ConverJens commented on #5345
@lomori That sounds like a nasty surpise, I hope thats not the case! I will post here once we switch to using LDAP if this is indeed an issue.

[2020-10-29 09:28] knave07 opened #5369 "Poddefault does not work in Kubeflow v1.1"
/kind bug

**What steps did you take and what happened:**
I am running `Kubeflow v1.1` on GKE. I created a Poddefault to inject `X` environment var in Jupyter. Spun Up a Jupyter Notebook with `configurations` set to Poddefault and tried to access the Env Var but the environment var was not present in the pod.

Did the same thing on `Kubeflow  v1.0` and now that environment var is accessible.

- **

[2020-10-29 15:52] seizadi opened #5370 "Kubeflow 1.1.0 install failed on AWS Cognito (kfctl_aws_cognito.v1.1.0.yaml)"
/kind bug

**What steps did you take and what happened:**
I created a new EKS cluster with eksctl and applied the kfctl_aws_cognito.v1.1.0.yaml using kfctl

**What did you expect to happen:**
Kubeflow to be installed on the cluster

**Anything else you would like to add:**
Here is the error message I get:
[code]

[2020-10-29 16:37] ReggieCarey commented on #4731
I'm a grateful new user of this open source technology.  Thank you to all contributors.  Releasing instructions (install options without authentication) that result in a failed deployment, does not benefit the community or people's trust in this product suite.  Either we need something like DEX or there is functional anonymous path.  I wish the documentation would be clear about what configuration

[2020-10-29 18:24] Jeffwan commented on #5370
/assign @PatrickXYS

[2020-10-29 18:25] Jeffwan commented on #5219
I am cleaning PRs and issues in kubeflow/kfctl and kubeflow/manifest.

[2020-10-29 18:26] PatrickXYS commented on #5370
Taking a look

[2020-10-29 18:28] PatrickXYS commented on #5370
@seizadi  Can you confirm you set the current directory as your cluster name?

[2020-10-29 18:54] Jeffwan commented on #5219
Seems it's hard for me to update some content. I will open a new issue.

[2020-10-29 18:54] #5219 closed

[2020-10-29 19:00] Jeffwan opened #5371 "Kubeflow v1.2 release"
/kind process

Time line:
- RC Release: Nov 7
- Official Release: Nov 16

WGs and projects

Area | release czar | Tracking Issue
 --- | --- | ---
centraldashboard | | https://github.com/kubeflow/kubeflow/pull/5412
docs |@RFMVasconcelos  | kubeflow/website#2322
fairing | @jinchihe  |  |
feast | @woop | |
katib | @andreyvelich  | https://github.com/kubeflow/manifests/pull/1593 |
kfctl | @Jeffwan

[2020-10-29 19:46] nakfour commented on #5224
@Jeffwan can we add https://github.com/kubeflow/manifests/pull/1567 ?

[2020-10-29 23:43] thesuperzapper commented on #5224
@Jeffwan I thought we agreed that the release would be cut on the 15th, not the 7th

[2020-10-30 03:03] Bobgy commented on #5313
I think from KFP side, we are relying on istio RBAC heavily for multi-user mode. We won't have bandwidth to upgrade to istio 1.6 if we need migration there within current release schedule for Kubeflow 1.2

[2020-10-30 04:07] woop commented on #5371
@Jeffwan there won't be code level changes for 1.2 on the Feast side. We are targeting 1.3 for those changes and we will drive it through the SIG.

[2020-10-30 04:22] reevelau commented on #4306
Turn out this is a known issue of istio istio/istio#11130.

By applying a workaround in the issue, I can successfully start a customized spark node image from jupyter notebook.

The workaround is simply adding a "sleep 20" in the entrypoint.sh of the spark node image. Of course, the workaround could be done more elegantly. But it proves that the node image failed (Connection Refused) because of is

[2020-10-30 05:37] seizadi commented on #5370
Hi Thanks for the note, I did read this [doc](https://www.kubeflow.org/docs/aws/aws-e2e) , which is the AWS
Cognito Kubeflow guide. In there there is no discussion of directory for the cluster name. I did look at
[this reference](https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/#prepare-your-environment).
In there looks like there is an environment variable and directory requirement. Spec

[2020-10-30 10:56] solarist commented on #5369
Same problem with an on-prem installation.

[2020-10-30 15:24] jlewi commented on #5371
@RFMVasconcelos and @8bitmp3 and @joeliedtke What is the plan for the docs? Specifically when do we plan on cutting a 1.1. branch of the docs so that people can start updating master with changes that would only apply to newer releases (e.g. kubeflow/website#2126)

[2020-10-30 19:57] supertetelman opened #5372 "Is there a way to restric pipelines to run on a specific per-user/per-project namespace?"
/kind question

**Question:**
When I launch a Jupyter notebook I can select the namespace it is deployed into. Typically this is the namespace associated with my user and any quota restrictions/access rights that come with that namespace are associated with the Jupyter Pod.

When I kick off an experiment run through the pipelines interface it defaults to running in the `kubeflow` namespace and the

[2020-10-30 20:22] CSberger commented on #5369
What do
```kubectl get MutatingWebhookConfiguration admission-webhook-mutating-webhook-configuration -o jsonpath='{@.webhooks[0].namespaceSelector}'```

```kubectl -n kubeflow logs -l=app=admission-webhook -f```

and ```kubectl describe ns test-aman``` look like?

[2020-10-30 23:42] perlinger opened #5373 "spawner_ui_config.yaml"
/kind question

**Question:**
Something in this config is only allowing the central dashboard to work with the custom image box checked. The image drop down does not also display. Any ideas?

apiVersion: v1
data:
  spawner_ui_config.yaml: |
    # Configuration file for the Jupyter UI.
    #
    # Each Jupyter UI option is configured by two keys: 'value' and 'readOnly'
    # - The 'value' key conta

[2020-10-31 00:47] seizadi commented on #5370
The ALB that is referenced in the error log above is not around, and is not the ALB that I see attached to the cluster. In Kubeflow 1.0.2, it seemed like there was a classical LB that was created and attached but the ALB was configured also for the cognito setup. I am going to delete this cluster and create and new one and pay closer attention to the starting setup for the cluster and what happens

[2020-10-31 03:46] #5151 closed

[2020-10-31 03:46] #5148 closed

[2020-10-31 08:59] wallwind commented on #5360
in my env,centos

[2020-11-02 07:54] DDDDDDDDDDDDLANG commented on #5243
That problem has been solved, thanks.

[2020-11-02 08:10] hellodk commented on #5043
Did this worked for you?

[2020-11-02 08:12] hellodk opened #5375 "Cannot receive any reply from jupyter-web-app-service.kubeflow.svc.cluster.local:30400 in 120 seconds."
/kind bug

**What steps did you take and what happened:**
Hello,

I'm trying to run a spark job using Kubeflow Notbook Server(Jupyter with custom image), however I end up with the below exception

Caused by: java.util.concurrent.TimeoutException: Cannot receive any reply from jupyter-web-app-service.kubeflow.svc.cluster.local:30400 in 120 seconds.

When I try to do the same via a separate Jupyter

[2020-11-02 09:37] RFMVasconcelos commented on #5371
Sorry for the late reply here! I am happy to work on cutting `v1.1-branch` during this week :)

[2020-11-02 13:34] hellodk commented on #5305
I've also create an image with ubuntu:18.04 as the base image hellodk/pyspark:j7

[2020-11-02 13:58] jlewi commented on #5371
This is typical. We usually don't cut the 1.X branch until we are ready to start working on the 1.Y docs on master. This is typicallly because the 1.X docs lag the 1.X release.

[2020-11-02 14:21] ReggieCarey commented on #4509
Thank you for discovering a solution.  Could you be more expansive in your answer, the above response is less than helpful.

[2020-11-02 17:13] naveensrinivasan opened #5376 "Github Onboarding experience"
/kind bug

**What steps did you take and what happened:**
The GitHub onboarding experience is not very conducive.  I was trying to submit a PR and for a fix within the notebook controllers and wasn't clear as to what are the necessary things that are required.

**What did you expect to happen:**
- Examples of things that would be helpful are
- `go` version
- `k8s` version
- `istio` version
-  How

[2020-11-02 19:32] farzinsarvaramini commented on #5369
Same issue with on-prem installation. @CSberger I didn't find any relevant information from those logs.

[2020-11-03 00:03] perlinger commented on #5373
Some improvement making values a list i.e.
values:
  - "none"
  - "1"

However, the kubeflow  UI is still showing a GPU drop-down list of "none", "1","2","4","8"

Expected the GPU drop-down list to only contain  "none" and  "1"

modified config-map.yaml

apiVersion: v1
data:
  spawner_ui_config.yaml: |
    # Configuration file for the Jupyter UI.
    #
    # Each Jupyter UI option is configured by

[2020-11-03 04:31] shrinidhisuresha commented on #5336
Hi,

Even i'm facing similar issue. Did we find work around or fix for the same.

[2020-11-03 11:57] solarist commented on #5369
@CSberger The annotation wasn't present in my namespace by default, but also setting it manually didn't help.
[code]

[2020-11-03 18:35] kyprifog commented on #3173
@dodizzle curious where did the helm chart end up?

[2020-11-03 22:01] jlewi commented on #5375
Can you please provide more detail and explain why you think this is an issue with Kubeflow Jupyter as opposed to with your spark configuration?

[2020-11-03 22:02] maganaluis opened #5377 "kfam/v1/bindings taking over 8 seconds"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

We have a cluster with over 180 Profiles, some of them are QA bots which should be deleted but at any case we observed high latency in the UI for both Kubeflow Central Dashboard and Kubeflow Pipelines UI. We traced this back to the KFAM endpoint that obtains the bindings for a specific

[2020-11-04 01:01] Jeffwan commented on #5377
@maganaluis  Thanks. That would be great!  It you can make it by end of week, we can push to 1.2 release

[2020-11-04 01:02] Jeffwan commented on #5373
Can you help beautify your code snippet?  This is a large yaml and we feel kind of hard to check differences

[2020-11-04 01:03] Jeffwan commented on #5372
@supertetelman  Can you raise your question in [kubeflow/pipelines](https://github.com/kubeflow/pipelines) project?

/cc @Bobgy @numerology   @james-jwu

[2020-11-04 01:10] Jeffwan commented on #5371
Please add items you plan to put into 1.2 in project https://github.com/orgs/kubeflow/projects/41

WG owner, please help update changelog for 1.2 here
https://docs.google.com/presentation/d/1_PxXWuy_TKEZyuPGZQZ1fBHMAupM3rBPZQow98L0iCY/edit?ts=5fa05fd4#slide=id.g8f86ec6f96_0_76

[2020-11-04 01:10] Jeffwan commented on #5361
Josh create deck here https://docs.google.com/presentation/d/1_PxXWuy_TKEZyuPGZQZ1fBHMAupM3rBPZQow98L0iCY/edit?ts=5fa05fd4#slide=id.g8f86ec6f96_0_76

[2020-11-04 01:11] Jeffwan commented on #5361
/assign @jbottum

[2020-11-04 05:24] seizadi commented on #5370
I removed the cluster and ran kubeflow again to create a new deployment, still have the same problem, any ideas how to debug this further and any ideas why this worked on kubeflow 1.0.2 and does not work for 1.1.0?
[code]

[2020-11-04 09:35] vineetbadola opened #5379 "Kubeflow issue on GKE"
Team

I am trying to setup Kubeflow on GKE
I am able to setup the management cluster but facing issue while configuring the kubeflow cluster

Everytime getting below error
service/application-controller-service created
serviceaccount/application-controller-service-account created
error: unable to recognize ".build/application/app.k8s.io_v1beta1_application_application-controller-kubeflow.yaml": no

[2020-11-04 09:42] vineetbadola commented on #5379
Adding more info fro above issue

i can also see below error while creating the envoy ingress

error while evaluating the ingress spec: BackendConfig istio-system/iap-backendconfig is not valid: error retrieving secret kubeflow-oauth: secrets "kubeflow-oauth" not found | Translate | Nov 4, 2020, 3:02:23 PM | Nov 4, 2020, 3:07:50 PM | 18 |  
-- | -- | -- | -- | -- | --

I have created IAP based on

[2020-11-04 10:28] bobmerevel opened #5380 "Kubeflow Installation Problem"
/kind question

**Question:**
Hi,

I am new on kubeflow. I want to install kubeflow on existing k8s cluster. But when i follow installation guide at kubeflow web page,  i get following error. I try lots of things to solve this issue, but i can not install :( Is there anybody who has idea to solve this issue?

**Cluster Version**
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19

[2020-11-04 12:37] tretos53 opened #5381 "Error: NetworkPluginNotReady. cni config uninitialized"
/kind bug

**What steps did you take and what happened:**
- I installed kubeflow using this yaml file: `https://raw.githubusercontent.com/kubeflow/manifests/v1.1-branch/kfdef/kfctl_aws_cognito.v1.1.0.yaml`
- After installation it worked fine.
- Yesterday evening I set Auto Scaling Groups to zero.
- This morning I set Auto Scaling Groups to 4.
- `kubectl get nodes` reports nodes as `NotReady`

I lo

[2020-11-04 13:38] ayoubelmimouni commented on #3516
but in that case you will have to do this step for every user namespace

[2020-11-04 15:59] iancoffey commented on #5360
Not sure if its helpful, feel free to ignore if not, but something I have run into myself is - I noticed you hadnt set `--address` in your port-forward command. Not sure if your installation is on your local system or not, but if this is a VM youll need to set that - 0.0.0.0 would bind to all interfaces, for example.

[2020-11-04 16:09] farzinsarvaramini commented on #5369
@solarist
https://github.com/kubeflow/kubeflow/issues/5207#issuecomment-702341351 solved my problem.

[2020-11-04 16:54] perlinger commented on #5373
Sure, the question can be simplified to:
Why does the "Number of GPUs" dropdown list, still show none,1,2,4,8 when only "none" and "1" are in values list?
      gpus:
        # Number of GPUs to be assigned to the Notebook Container
        value:
          values:
            - "none"
            - "1"
          num: "none"

[2020-11-04 21:56] seizadi commented on #5370
Searching ALB Controller issues I found this issue: https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/889

Looks like the same problem I'm having probably when I deleted my 1.0.2 cluster and tried to created the new cluster running 1.1.0. It looks like the ALB controller is picking up the VPC Id from the CF of the oldest cluster with the same name that was removed. A ALB contr

[2020-11-04 22:09] Bobgy commented on #4912
I think you found your solution, is that right?

[2020-11-04 22:39] Bobgy commented on #5372
Please install kubeflow 1.1 and your desired behavior will be the default.

https://www.kubeflow.org/docs/pipelines/multi-user/

[2020-11-04 22:39] #5372 closed

[2020-11-04 23:08] supertetelman commented on #5372
Okay, I'm using that version and just tried running through that doc and it is still failing.

I'm using the SDK with a pipeline that creates a few volumes through ResourceOps, so maybe I'm hitting a bug. I'll takes this over to the pipelines repo. (https://github.com/supertetelman/deepops/blob/kubeflow-mpi/workloads/examples/k8s/kubeflow-mpi/multinode-pipeline.ipynb)

[2020-11-05 00:07] knave07 commented on #5369
It worked. Thanks @farzinsarvaramini. It was not working initially, but after recreating profile I could see the env vars.

[2020-11-05 00:41] seizadi commented on #5370
Ok, with that change to make sure that cluster name is idempotent you can get the ALB to work:

[code]

[2020-11-05 01:03] naveensrinivasan commented on #5376
opened a  PR specific to  notebook controller https://github.com/kubeflow/kubeflow/pull/5383

[2020-11-05 02:13] PatrickXYS commented on #5150
/lifecycle freeze

[2020-11-05 07:10] hellodk commented on #5375
While using custom images for Notebook servers and Kubeflow creates a basic service in the user namespace which causes this issue.

I've fixed it for me by creating another headless service in the same namespace.

apiVersion: v1
kind: Service
metadata:
  namespace: admin
  name: v18-headless
spec:
  selector:
    statefulset: v18
  sessionAffinity: None
  ports:
    - name: http-pyspark
      port

[2020-11-05 07:37] Jeffwan commented on #5150
Kubeflow 1.2 Release planning, owner, and timeline have been finalized. For 1.2 release details, let's track in https://github.com/kubeflow/kubeflow/issues/5371

Let's close this issue.

[2020-11-05 07:37] #5150 closed

[2020-11-05 16:39] patcombe opened #5384 "Error with: kubectl --context=managecluster wait --for=condition=Ready --timeout=600s containercluster"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

- Error when trying to deploy Kubeflow at https://www.kubeflow.org/docs/gke/deploy/deploy-cli/#deploy-kubeflow

- Apologies if this is a silly error on my part. I have tried to check over my setup instructions and everything seems fine.

- Deploying this on GCP

**What did you expect to

[2020-11-05 17:07] patcombe commented on #5384
Found the answer! Would agree with this and should get this in the docs

https://github.com/kubeflow/website/issues/2152

[2020-11-06 08:22] jiaqianjing commented on #3411
Same problem as I encountered, did you solve it

[2020-11-06 09:38] odovad commented on #3606
The issue is staled but why is it generally not advised since it's possible using AWS Sagemaker and in Google colab we are root by default ?

[2020-11-06 13:07] alokumar1 commented on #5380
I am also facing the same issue. Any solution?

`WARN[0299] Encountered error applying application kubeflow-apps:  (kubeflow.error): Code 500 with message: Apply.Run : error when creating "/tmp/kout680700965": CustomResourceDefinition.apiextensions.k8s.io "seldondeployments.machinelearning.seldon.io" is invalid: [spec.validation.openAPIV3Schema.properties[spec].properties[predictors].items.propert

[2020-11-06 13:58] #5011 closed

[2020-11-07 05:41] #5159 closed

[2020-11-07 05:41] #5125 closed

[2020-11-07 05:41] #5070 closed

[2020-11-07 05:41] #5106 closed

[2020-11-07 05:41] #5167 closed

[2020-11-07 05:41] #4986 closed

[2020-11-07 15:53] bobmerevel commented on #5380
I thing this issue is related k8s version 1.19. When i downgrade my cluster 1.16, i can setup kubeflow.

[2020-11-07 19:35] Rustastra commented on #5223
I am experiencing this issue too when following https://www.kubeflow.org/docs/gke/deploy/deploy-cli/#deploy-kubeflow

[2020-11-07 19:50] Rustastra commented on #5384
How did you solve the issue?

[2020-11-07 20:24] jlewi commented on #5223
@Rustastra Per GoogleCloudPlatform/k8s-config-connector#259 it looks like the problem is fixed in newer versions of KCC.

I would suggest following the [Cloud Config Connector Docs](https://cloud.google.com/config-connector/docs/how-to/install-other-kubernetes) to install or upgrade KCC on your management cluster.

[2020-11-07 20:56] Rustastra commented on #5223
@jlewi thank you! after a lot of poking around, I realised what the error was for me after seeing this:

"Just for confirmation, did you try to deploy kubeflow into the management cluster? That's not supported. You need to use a different cluster for kubeflow." [here ](https://github.com/GoogleCloudPlatform/k8s-config-connector/issues/259#issuecomment-680169631)

I was setting the same values to K

[2020-11-08 14:38] hlld3344 opened #5386 "gci-io problem of CN user"
/kind question

**Question:**

I downloaded the minikf.box (version: 20200305.1.0) and started it with vagrant, then I opened 10.10.10.10 but soon I've stucked in the process "Provisioning Docker Imagas...  Listing images".

I used wireshark to catch network access record and found out there's so many access records of 74.125.203.82 which i've checked it's the google cloud server. Seems it's the n

[2020-11-09 00:06] naveensrinivasan opened #5388 "Instructions to build, deploy and test locally"
/kind feature

**Why you need this feature:**
[Is your feature request related to a problem? Please describe in details]
The contributing instructions are minimal and would help a lot to have detailed instructions to build, deploy and test locally.

**Describe the solution you'd like:**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscell

[2020-11-09 00:09] naveensrinivasan opened #5389 "Script to install all the dependencies"
/kind feature

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
To set up development ENV for contributing it would be great to have a script to download all the dependencies.

**What did you expect to happen:**
The bootstrap script that download's all the dependencies.

**Anything else you would like to add:**
[Miscellaneous information that wil

[2020-11-09 00:41] Bobgy commented on #5223
I think most of the issues mentioned in the original issue has been either fixed or documentation updated to clarify that. Also most of people who replied got there problem solved, but original reporter @marrrcin didn't reply here.
Closing the issue to clean up backlog, if anyone has any further problems, feel free to create a new issue in www.github.com/kubeflow/gcp-blueprints repo.

I am here to

[2020-11-09 00:41] #5223 closed

[2020-11-09 01:10] maganaluis commented on #5377
Based on the Slack discussion Kubeflow will be moving away from KFam and will implement Authz using SubjectAccessReview, thus this issue should be resolved then.

https://github.com/kubeflow/pipelines/pull/4723

[2020-11-09 01:10] #5377 closed

[2020-11-09 08:31] Jeffwan commented on #5371
I cut v1.2-branch for kfctl and manifest. Please help test against the RC tag. If there's bug and features missing in v1.2-rc.0, feel free to file a cherry-pick PR.

https://github.com/kubeflow/kfctl/releases/tag/v1.2-rc.0
https://github.com/kubeflow/manifests/releases/tag/v1.2-rc.0

[2020-11-09 15:42] yanniszark opened #5390 "central-dashboard: Namespace selector without KFAM"
/kind feature

**Why you need this feature:**

We are in the process of deprecating KFAM. One of the uses of KFAM was to list the namespaces that a user is allowed to see in the CentralDashboard. However, the way it has worked so far is buggy and brittle (annotations on RoleBindings).

**Describe the solution you'd like:**

We (Arrikto) have made an initial pass at this problem some time ago: http

[2020-11-09 17:01] ca-scribner commented on #4950
Not exactly the same, but we've tried to make PVC management easier for users by adding a separate PVC table (StatCan/jupyter-apis#18).  Arguably this could be a separate page on the left hand bar, too.  Either way it makes it much easier to notice and manage your PVC sprawl.

<img width="555" alt="Screenshot 2020-11-09 115640" src="https://user-images.githubusercontent.com/48125859/98571814-e9e31

[2020-11-10 02:25] fuhuifang opened #5391 "Installation error: no matches for kind "ClusterRbacConfig" in version "rbac.istio.io/v1alpha1""
/kind bug

**What steps did you take and what happened:**
Hello! I was following the instructions [here](https://www.kubeflow.org/docs/azure/deploy/install-kubeflow/). When I ran `kfctl apply -V -f ${CONFIG_URI}`, I got the following error:
`WARN[0063] Encountered error applying application istio:  (kubeflow.error): Code 500 with message: Apply.Run : unable to recognize "/tmp/kout474140078": no ma

[2020-11-10 03:18] SpeedCoder5 commented on #3831
For me MiniKF freezes with Kubeflow initializing at 30/35 pods via Vagrant/VirtualBox on Ubuntu 20.04.  If I can't get it to run... well... I will have to find an alternative.

[2020-11-10 13:07] lucaseo90 opened #5392 "Kubeflow pipeline does not work with error"
/kind bug

**What steps did you take and what happened:**
1. Install Kubeflow with vagrant
[code]

2. I tried to execute "[Sample] Basic - Parallel execution" by following "https://www.kubeflow.org/docs/pipelines/pipelines-quickstart/" - `Run a basic pipeline`

3. The pipeline does not work.

![image](https://user-images.githubusercontent.com/6668548/98677783-dfb73f00-23a0-11eb-9c88-0bbae2b0c8e1.p

[2020-11-10 17:03] ericandrewmeadows commented on #5313
I just made a PR for Profile Controller here - https://github.com/kubeflow/kubeflow/pull/5393

[2020-11-10 17:08] jcooklin commented on #5128
Where is this with respect to KF 1.2? #5371

[2020-11-10 20:04] patcombe commented on #5384
@Rustastra Running the below allowed me to figure out the underlying issue

`kubectl --context ${MGMTCONTEXT} get containercluster -n ${PROJECT}  -o yaml`

[2020-11-10 22:11] torbre16 commented on #5391
Hi.

I ran into the same issue today. I first tried to install Kubeflow with Istio 1.7.4, which resulted in the same error described by you.

After a downgrade to Istio 1.6.13 I was able to complete the installation. The CONFIG_URI used in the instructions mentioned by you points to https://raw.githubusercontent.com/kubeflow/manifests/v1.1-branch/kfdef/kfctl_azure.v1.1.0.yaml, which contains the f

[2020-11-10 22:37] fuhuifang commented on #5391
@torbre16

Thanks @torbre16 ! It did fix the issue.

[2020-11-10 22:37] #5391 closed

[2020-11-11 04:58] nathanwong91 opened #5395 "podDefaults not being applied to notebook"
/kind question

**Question:**
I'm trying to get podDefaults to mount a secret and an AWS iam role to notebooks that get created but I cannot seem to get them to work.

I can see the labels when I describe the pod
[code]
However they both aren't getting applied

[code]
[code]
These are the podDefaults I'm adding

[code]

[code]

Not sure if the podDefaults I'm using are wrong or something else is g

[2020-11-11 08:22] jal06 opened #5396 "socket.gaierror: [Errno -2] Name or service not known when sending a prediction request through ingress and IAP for tfserving example"
/kind bug

When trying tf-serving example shown in this page [https://www.kubeflow.org/docs/components/serving/tfserving_new/](https://www.kubeflow.org/docs/components/serving/tfserving_new/), I encountered 2 problems with Kubeflow 1.1 on GCP.
I found a workaround for the 1rst problem (configmap not found).
However, I don't know how to solve the 2nd problem (error 404)

- Problem 1
After applying

[2020-11-11 09:35] #5392 closed

[2020-11-11 11:15] sdake commented on #5176
@Jeffwan just a note from an upstream Istio maintainer and wg lead. 1.3 is far out of any upstream support window. would encourage tracking the latest Istio (1.8 is due for release within the week). We release quarterly, and once you make the move to 1.8, updating to 1.9 and onward should be straightforward. Istio has always had a strong focus on upgrade compatibility. We are doubling down on forw

[2020-11-11 11:20] sdake commented on #5313
Hi gang. Istio maintainer and workgroup lead here. Istio 1.9 (february 2021 release) includes a massive performance improvement for mesh configurations with a lot of churn that contains 200+ sidecars without using a `Sidecar` scoping resource.

I would encourage two sets of CI. One using the `main` (or master..) branch. And one using the latest release branch (1.8 in about 1 week).

With these two

[2020-11-11 11:58] jal06 commented on #5396
Humm, I did an error when setting the variable INGRESS_DNS

If I update this variable as below ,

`INGRESS_DNS=kubeflow.endpoints.${PROJECT}.cloud.goog`

(for INGRESS_DNS, the 1rst part is kubeflow instead of ${KF_NAME}

I get the error below
[code]

[2020-11-11 16:03] animeshsingh commented on #5313
cc @Bobgy - believe KFP is the only thing blocking the move to higher version of Istio

[2020-11-11 16:48] animeshsingh commented on #5313
Additionally strong concerns are being made by community users around security aspects of sticking to older versions, and from a security perspective there is valid case to move up cc @Jeffwan @Bobgy

[2020-11-11 19:43] Jeffwan commented on #5313
I agree, current Istio version in kubeflow is far behind. Besides KFP, I think fundamental dex based solution reply on Istio RBAC and envoy filters. Community didn't put time on the upgrade and we are not sure the compatibility. Since @kubeflow/wg-manifests-leads forms and Istio manifest is under the scope. Let's see if WG has plans on it

[2020-11-11 19:47] PatrickXYS commented on #5313
I think this is important and will need to be discussed after 1.2 @cvenets

[2020-11-11 20:08] yanniszark opened #5397 "[istio-authz-profile-controller] Support Istio Authorization Policy in profile-controller"
/kind feature

Umbrella issue: https://github.com/kubeflow/kubeflow/issues/5313

**Why you need this feature:**

In order to use the `profile-controller` with Istio >= 1.6
- We use Istio authorization to limit access to network endpoints, like Jupyter Notebooks.
- Early Istio used Istio RBAC.
- Newer Istio deprecated Istio RBAC and moved to Istio AuthorizationPolicy.

**Describe the solution you'd

[2020-11-11 20:09] yanniszark commented on #5397
/assign @ericandrewmeadows
who opened a PR: https://github.com/kubeflow/kubeflow/pull/5393

[2020-11-11 20:10] yanniszark opened #5398 "[istio-authz-notebook-controller] Support Istio Authorization Policy in notebook-controller"
/kind feature

Umbrella issue: https://github.com/kubeflow/kubeflow/issues/5313

**Why you need this feature:**

In order to use the `notebook-controller` with Istio >= 1.6
- We use Istio authorization to limit access to network endpoints, like Jupyter Notebooks.
- Early Istio used Istio RBAC.
- Newer Istio deprecated Istio RBAC and moved to Istio AuthorizationPolicy.

**Describe the solution you'

[2020-11-11 20:12] yanniszark opened #5399 "[istio-authz-kfam] Support Istio Authorization Policy in KFAM"
/kind feature

Umbrella issue: https://github.com/kubeflow/kubeflow/issues/5313

This may or may not be implemented, depending on whether we will manage to deprecate KFAM before the 1.3 release.

**Why you need this feature:**

In order to use the `kfam` with Istio >= 1.6
- We use Istio authorization to limit access to network endpoints, like Jupyter Notebooks.
- Early Istio used Istio RBAC.
- New

[2020-11-11 20:14] yanniszark commented on #5398
My mistake, the notebook-controller only uses VirtualService, not Istio RBAC.

[2020-11-11 20:14] #5398 closed

[2020-11-11 20:19] yanniszark commented on #5313
@PatrickXYS it seems there is much community interest for this.
@ericandrewmeadows has already started a PR for the `profile-controller` and I'm reviewing it!
To better track the work remaining, I opened issues for the two components of wg-notebooks that still use Istio RBAC:

| Component | Issue | PR | Merged |
| - | - | - | - |
| profile-controller | https://github.com/kubeflow/kubeflow/issues/5

[2020-11-11 20:23] yanniszark commented on #5397
@ericandrewmeadows can you please make a PR to add yourself to the KF org?
See this PR as an example:
https://github.com/kubeflow/internal-acls/pull/370

[2020-11-11 20:36] PatrickXYS commented on #5313
@yanniszark For help wanted label, you might need to have write access to the repo and add it manually.

[2020-11-12 11:49] eastlunar opened #5401 "upstream connect error or disconnect/reset before headers. reset reason: connection failure"
/kind question

**Question:**
I used kfctl_k8s_istio to deploy Kubeflow and the version is 1.0.2. The version of Kubenertes is 1.18.0.
When I use kubeflow ui to visit one of Notebook Servers that is running, the error is coming.
`upstream connect error or disconnect/reset before headers. reset reason: connection failure`
I use `kubectl describe pod my-name-0 -n wll` to find where going wrong. The

[2020-11-12 13:25] MSchauperl commented on #5215
I get the same error. Any updates?

[2020-11-12 16:08] mikeaadd opened #5402 "How to integrate Kubeflow with Hadoop based workflow"
/kind question

**Question:**
Most of our work at the moment is on a baremetal hadoop/yarn cluster. What is the best way for Kubeflow to securely access HDFS data (kerberos authentication)? Specifically how can kubeflow securely access hdfs both within it's pipelines and notebooks?

[2020-11-12 19:58] Jeffwan commented on #5313
@PatrickXYS write permission is required for manual efforts.

`/help` this should work @yanniszark

[2020-11-12 19:58] Jeffwan commented on #5313
/help

[2020-11-12 19:59] Jeffwan commented on #5313
/remove-help

[2020-11-12 19:59] Jeffwan commented on #5313
/help

[2020-11-12 20:00] Jeffwan commented on #5399
/help

[2020-11-13 01:07] Bobgy commented on #5313
Thanks @animeshsingh for the heads up!
I've filed a bug for KFP https://github.com/kubeflow/pipelines/issues/4768 and prioritized it.

[2020-11-13 03:01] timothymugayi commented on #4806
same issue kubeflow version v1.0.0 on Kubernetes 1.17

[code]

[2020-11-13 18:14] techgopal commented on #4806
The same issue, any fix?

[2020-11-13 18:55] ontheway16 opened #5405 "Multiple errors after kfctl apply"
/help
/good first issue

Hi, I hope this is the correct place for the issue.

I am following the guide in here,
https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

the config is;
[code]

kfctl version:
[code]
What I am receiving is;
[code]

Open for any advises,

[2020-11-14 00:12] ptartan21 opened #5406 "Kubeflow Installation - Kustomize Manifests"
/kind question

**Question:**
Hi - I'm trying to install kubeflow on an Ubuntu machine using kfctl_k8s_istio config. I'm currently doing this by pulling the `.yaml` files that correspond to the kfctl version that I want (1.1.0) from `/manifests`. However, I'm running into an issue where the metadata of resources (such as tf-job-operator, below) does not include any namespaces, but is later referen

[2020-11-14 08:49] #4981 closed

[2020-11-14 08:49] #5006 closed

[2020-11-14 08:49] #5185 closed

[2020-11-14 22:57] tereketeketitaka opened #5407 "oidc-gatekeeper - required key AUTHSERVICE_URL_PREFIX missing value"
/kind bug

**What steps did you take and what happened:**
Environment is a GCP Compute engine VM using microk8s and kubelflow. Installation is the standard microk8s install and 'microk8s enable kubeflow'.

All the pods get deployed except for: oicd-gatekeeper which crashes.
When looking at the logs what I see there is: time="2020-11-14T22:37:15Z" level=fatal msg="Failed to parse configuration: req

[2020-11-15 04:55] CandiedCode commented on #5364
What ami's are you eks cluster using?  I thought aws-iam-authenticator was automatically part of the eks ami's.

https://github.com/awslabs/amazon-eks-ami/blob/master/scripts/install-worker.sh#L164

[2020-11-15 05:06] PatrickXYS commented on #5364
@dalbhanj  I don't think this is an issue anymore, we have enabled periodic tests and 1.18 is working fine.

Let me know if you still have issue

/close

[2020-11-15 05:06] #5364 closed

[2020-11-15 10:55] #5369 closed

[2020-11-15 18:28] Jeffwan commented on #5371
I am cutting another RC release for 1.2. Please let me know anything you want to bring back to 1.2

[2020-11-15 18:30] Jeffwan commented on #5128
@jcooklin I think this may not come to 1.2.0 If this is critical to user. It would be great to get changes ready and we can patch into 1.2.1 patch release

[2020-11-15 20:23] terrytangyuan commented on #5203
/close

[2020-11-15 20:23] #5203 closed

[2020-11-16 02:18] liuweibin6566396837 opened #5409 "user create selected dir (like nfs) as notebook pv"
/kind feature

**Why you need this feature:**
When use rancher.io/local-path, pv and pvc automatic builed in /local-path-provisioner path. If users have large amount of data put to pv, they need copy data from node to node, as notebook server will be built in automatic node.
More, mutiple users have theire own notebook server, if they want to use the same dataset, the only way is cooy  dataset fro

[2020-11-16 03:13] #5001 closed

[2020-11-16 06:29] lukkiddd opened #5410 "Pipelines stop running: Failed calling webhook "inferenceservice.kfserving-webhook-server.pod-mutator""
/kind bug

**What steps did you take and what happened:**

Sorry for the minimum description. Here's what happened.

We use Kubeflow v0.7 installed on GKE. Everything works fine for a while, then one day we cannot access Kubeflow via UI and all the pipelines were stop running.

Here're the error messages we've got.

**1)**
[code]

**2)**
[code]

**Solution**: We temporarily removed the webhook and

[2020-11-16 07:58] munagekar opened #5411 "Central Dashboard is Slow"
/kind bug

**What steps did you take and what happened:**
We have eleven profiles in our Kubeflow Cluster. The loading time of central dashboard is too slow.

It is blank for 10.44 seconds and completes loading after 21 seconds. Sometimes this also times out giving us errors as follows:

[code]

**What did you expect to happen:**

A Faster Loading Time.

**Anything else you would like to add:**
[M

[2020-11-16 16:32] rcillavicomtech commented on #5407
I'm suffering same error while installing on a fresh ubuntu 20.04 following microk8s installation instructions

[2020-11-16 18:39] jjf130 commented on #5336
Facing a similar issue when trying to automate kubeflow installation on eks using codebuild:

time="2020-11-16T18:04:53Z" level=info msg="namespace: kubeflow" filename="utils/k8utils.go:431"
--
373 | time="2020-11-16T18:04:53Z" level=info msg="Log cluster name into KfDef: arn:aws:eks:<region-redacted>:<account-redacted>:cluster/<cluster-name-redacted>" filename="kustomize/kustomize.go:242"
374 | t

[2020-11-16 23:10] Rustastra commented on #4901
@Kulikovpavel would PV work to store Python code to call it via CLI (dsl.ContainerOp)? I am trying to understand what the options are for structuring the code. Thanks!

[2020-11-17 06:40] Jeffwan commented on #5371
Please help log the pending PRs here. That helps make sure release team include critical PR/fix in the official 1.2 release

/cc @kubeflow/release-team

[2020-11-17 09:40] govindsinghnegi commented on #5405
Facing the same issue on my Mac OS Catalina (version 10.15).
I too have followed the [official docs](https://www.kubeflow.org/docs/started/workstation/minikube-linux/)

My environment details:

- Kubernetes cluster on Minikube, kubectl version v1.19.4 for both client & server
- kfctl v1.0.1-0-gf3edb9b

For some reason, the application-crds directory is not getting created under by $KF_DIR/kustomiz

[2020-11-17 13:18] jlewi commented on #3657
@kubeflow/wg-notebook-leads Any update on this?

[2020-11-17 15:04] ryandawsonuk commented on #3576
I see the [linked PR](https://github.com/kubeflow/kubeflow/pull/5147) got merged and the configmap is in [the 1.2 manifests](https://github.com/kubeflow/manifests/blob/v1.2-branch/common/centraldashboard/base/links-configmap.yaml). But when I install the 1.2 RC0 with the [istio_dex setup](https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/) I don't get the configmap created. The links-confi

[2020-11-17 15:21] ryandawsonuk commented on #3576
@Jeffwan noticed you've been [making changes to the links](https://github.com/kubeflow/kubeflow/pull/5412). Perhaps this should be addressed under https://github.com/kubeflow/kubeflow/issues/5371 as the configurable links for dashboard is listed as an item in the 1.2 release notes

[2020-11-17 15:31] dublincrow2020 commented on #5407
I got the same error when I enabled kubeflow on microk8s on a ubuntu 18.04 machine.

[2020-11-17 16:33] ontheway16 commented on #5405
@govindsinghnegi
I have solved the problem by updating to kfctl 1.1.0
https://github.com/kubeflow/kfctl/releases/tag/v1.1.0

[2020-11-17 17:38] Jeffwan commented on #3576
@ryandawsonuk Could be a problem. Let me double check on my end. Thanks for reporting the problem

[2020-11-17 23:43] berndverst commented on #3576
@Jeffwan @ryandawsonuk shouldn't the ConfigMap be in `manifests/common/centraldashboard/base_v3` instead? Right now it's in `kubeflow/components/centraldashboard/config/centraldashboard-links-config.yaml`

I think that's the issue. Personally, I'd also want to overwrite this ConfigMap in the Azure Stack.

[2020-11-18 00:36] Jeffwan commented on #3576
@ryandawsonuk @berndverst Please check PR https://github.com/kubeflow/manifests/pull/1654

I notice the time we did v3 manifest migration, we didn't bring this change. I add it back now and vendor can easily customize their own links

[2020-11-18 00:44] Jeffwan commented on #5198
/assign @PatrickXYS

[2020-11-18 00:45] Jeffwan commented on #5198
I remove it from 1.2

[2020-11-18 00:48] Jeffwan commented on #5301
We won't support istio 1.6 in kubeflow 1.2 release. I remove this story from 1.2 kanban board.

[2020-11-18 00:49] Jeffwan commented on #5313
istio 1.6 won't be available in kubeflow 1.2. I will remove this story from 1.2 kanban board.

[2020-11-18 00:54] Jeffwan commented on #5224
1.2 Feature Planning / Roadmap are done. Let's track release progress in https://github.com/kubeflow/kubeflow/issues/5371

[2020-11-18 00:54] #5224 closed

[2020-11-18 02:36] berndverst commented on #3576
Example for how to customize (if I did this correctly):
https://github.com/kubeflow/manifests/pull/1655

[2020-11-18 02:41] berndverst commented on #5371
@Jeffwan this should go into 1.2. First needs to go into master, and then cherry-picked into 1.2. Thanks!
https://github.com/kubeflow/manifests/pull/1655

[2020-11-18 03:50] thesuperzapper commented on #5301
/close

Please see https://github.com/kubeflow/kubeflow/issues/5313 to track progress.

[2020-11-18 03:50] #5301 closed

[2020-11-18 03:53] thesuperzapper commented on #3657
I will raise this in the notebook working group slack channel.

[2020-11-18 07:18] Bobgy commented on #5371
@Jeffwan I need to fix https://github.com/kubeflow/manifests/issues/1573 for Kubeflow Pipelines.
WIP on sending a PR

[2020-11-18 07:47] waynehsei commented on #5395
Are there any update of this? we ran to the same issue

[2020-11-18 08:11] zxh326 opened #5413 "Can we provide aws optimized kubeflow notebook image dockerfiles?"
/kind question

**Question:**
https://www.kubeflow.org/docs/aws/notebook-server/#kubeflow-notebook-images

527798164940.dkr.ecr.us-west-2.amazonaws.com/tensorflow-1.15.2-notebook-gpu:1.1.0
527798164940.dkr.ecr.us-west-2.amazonaws.com/tensorflow-2.1.0-notebook-cpu:1.1.0
527798164940.dkr.ecr.us-west-2.amazonaws.com/tensorflow-2.1.0-notebook-gpu:1.1.0

I want to build myself, because in aws china, th

[2020-11-18 10:53] RFMVasconcelos opened #5414 "Kubeflow without Istio"
/kind feature

Referring to user email - welcomemandeep@gmail.com to `Kubeflow-discuss`:

I am struggling to use Kubeflow without using Istio and using some other ingress/egress technology ( for eg. Counter).

I would like to understand this better so that we can identify and isolate the use cases which have a hard dependency on Istio and try to make it flexible to use other substitutes available.

[2020-11-18 15:26] naveensrinivasan opened #5415 "Unable to Install MiniKF"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
- Followed the instruction for installing the MiniKF on OSX.
- Vagrant plugin is installed for `vagrant-persistent-storage`

**What did you expect to happen:**
- Installation of MiniKF

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the is

[2020-11-18 18:11] GdMacmillan commented on #5407
I'm also having this error.
Ubuntu 20.04 (PopOS)
Kubeflow 1.1
microk8s 1.19/stable
[inspection-report-20201118_110457.tar.gz](https://github.com/kubeflow/kubeflow/files/5561887/inspection-report-20201118_110457.tar.gz)

[2020-11-18 18:28] Jeffwan commented on #5371
@berndverst kubeflow/manifests#1655 I left some comments there. I would be better to find some Azure folks to help review the change in the future.

[2020-11-19 06:38] Bobgy commented on #5371
@Jeffwan After verifying the label selector for KFP, I think it matches our resources. We are good to go.

[2020-11-19 07:00] Jeffwan commented on #5371
@Bobgy Great. I will run some tests against v1.2-branch and cut another RC later today.

[2020-11-19 07:28] berndverst commented on #5371
My last PR (cherry picking into manifests/v1.2-branch) is pending for review here: https://github.com/kubeflow/manifests/pull/1661

[2020-11-19 07:56] Jeffwan commented on #5413
/cc @PatrickXYS

I think it's in the roadmap

[2020-11-19 08:04] Jeffwan commented on #5371
I finish [mnist](https://github.com/kubeflow/examples/tree/master/mnist#aws) testing. Everything works for me!

env:
- kfctl v1.2-branch
- kustomize v1.2-branch
- kfdef https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_aws.v1.2.0.yaml
- notebook: https://github.com/kubeflow/examples/blob/master/mnist/mnist_aws.ipynb

[code]

[2020-11-19 08:05] Jeffwan commented on #5371
I plan to run some more tests against kfctl_istio_dex.v1.2.0.yaml and kfctl_k8s_istio.yaml. If anyone has time, please help on the tests as well

[2020-11-19 08:23] govindsinghnegi commented on #5405
@ontheway16
Thanks for the suggestion. I tried with version 1.1.0 and it was able to deploy Kubeflow.

However, the deployment was not completely successful. I am trying to deploy Kubeflow in a **_Minikube k8s cluster_** and after waiting more than an hour, some of the pods were still in CrashLoopBackOff state.

[code]

Some of the reasons I observed using` kubectl get events -w` command:

[code]

[2020-11-19 09:06] Jeffwan commented on #5371
Hi Platform owner,

@PatrickXYS @Bobgy @animeshsingh @berndverst @vkoukis @aronchick @nakfour @krishnadurai  @kubeflow/release-team

I know we have some pending PRs going on here. https://github.com/kubeflow/manifests/issues/1573
Those are mainly label changes and seems we are pretty stable on the v1.2 features.

Currently, I use branch directly instead of tag in v1.2 kfdef. One example is https:/

[2020-11-19 09:38] Jeffwan commented on #3576
This feature will be shipped in v1.2.0 this week. I will close the issue and feel free to reopen if there's extra concerns

[2020-11-19 09:38] #3576 closed

[2020-11-19 09:41] ontheway16 commented on #5405
@govindsinghnegi Unfortunately I have not enough experience to help either, its best if you open a new issue, since I am closing this one.

[2020-11-19 09:41] #5405 closed

[2020-11-19 12:59] aeoluswing opened #5416 "Multi-User can not login with oidc-authservice correctly"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I've studied kubeflow for several weeks and have deployed whole stack version v1.1.0 to my own k8s clusters which already has istio1.3.1 installed.Everything seemed to be working as expected(follow by kfctl_istio_dex.v1.1.0.yaml but comment istio-crds ).But when I tried to login with dex

[2020-11-19 13:05] aeoluswing commented on #5416
Due to the lack of the `AUTHSERVICE_URL_PREFIX` parameter, the authservice container kept restarting by reporting the `AUTHSERVICE_URL_PREFIX missing value` error,I've added value `/authservice/`(might be default value I guess) to this Configuration item to fix this CrashLoopBackOff behavior.

[2020-11-19 15:42] PatrickXYS commented on #5413
/assign

@zxh326 Thanks for the heads up! It's on our roadmap, we should be able to give updates after 1.2 release

[2020-11-19 16:19] jjf130 opened #5417 "Cannot get Kubeflow deployed on EKS with OIDC via Auth0 following your example "Authentication using OIDC""
I am trying to deploy Kubeflow on an EKS cluster using Auth0 for authentication to the Kubeflow dashboard. I am currently trying to automate this process with Codebuild, but am running into some issues when following your OIDC example.

First off, the tabs are a bit off in the YAML snippet under "please update spec and repos fields in your Kubeflow configuration file at kfctl_aws_cognito.v1.1.0.ya

[2020-11-19 16:44] yanniszark commented on #5417
/platform aws
cc @Jeffwan @PatrickXYS

[2020-11-19 16:52] PatrickXYS commented on #5417
@jjf130 Can you provide the configurations you have?

E.g,

Kfctl version:
Modified Manfiest:
EKS version:

If possible, pasting your manifest here would be helpful as well

/assign

[2020-11-19 17:04] vkoppisetti-verisk commented on #5417
I have the same issue,
poddisruptionbudget.policy/cluster-local-gateway unchanged
horizontalpodautoscaler.autoscaling/cluster-local-gateway unchanged
INFO[0003] Successfully applied application cluster-local-gateway  filename="kustomize/kustomize.go:273"
INFO[0003] Deploying application istio                   filename="kustomize/kustomize.go:248"
ERRO[0004] Error evaluating kustomization manifest

[2020-11-19 17:10] tretos53 commented on #5381
With help from AWS support, the error is:

[code]

This looks like the same issue as https://github.com/kubeflow/kubeflow/issues/4806

What's the fix for that? I could probably delete the MutatingWebHookConfiguration inferenceservice.serving.kubeflow.org but I don't think this is a solution.

[2020-11-19 17:40] jjf130 commented on #5417
I have tried this with kfctl versions:
- 1.0.0, 1.0.1, 1.0.2, 1.1.0
I am using EKS version 1.1.8
Modified Manifest:

apiVersion: kfdef.apps.kubeflow.org/v1
kind: KfDef
metadata:
  namespace: kubeflow
spec:
  applications:
  - kustomizeConfig:
      repoRef:
        name: manifests
        path: namespaces/base
    name: namespaces
  - kustomizeConfig:
      repoRef:
        name: manifests

[2020-11-19 17:48] PatrickXYS commented on #5417
Thanks I'll put some efforts here to re-produce

[2020-11-19 17:50] jjf130 commented on #5417
The exact errors that were in my original post were produced using kfctl 1.1.0

[2020-11-19 19:17] PatrickXYS commented on #5371
On AWS side, I've tested latest RC release and confirmed they worked properly.

[2020-11-19 21:25] vkoppisetti-verisk commented on #5370
from my experience,
when ALB ingress is installed the new version V2 0 0 needs cert manager to be installed first and deploy alb ingress controller.
when you install kubeflow cognito this also tries to installs cert manager namespace which conflicts and throws error.

This is the workaround i am doing to reach kubeflow dashboard through ALB

1. set up EKS cluster
2. install kftcl (i see you instal

[2020-11-19 23:14] cliveseldon commented on #5371
I'm looking at the issue https://github.com/kubeflow/manifests/issues/1660 which is stopping Seldon installing with the stacks kustomize folders.

[2020-11-20 02:50] aeoluswing commented on #5407
I suffered the same error before and fix this bug manully.Checking the base params.env file, `AUTHSERVICE_URL_PREFIX `was set to `/authservice/`,so i guess this might be the default value?Can anyone else confirm this issue?:)

[2020-11-20 03:03] aeoluswing commented on #5380
This issue might be the compatibility issue between kubeflow and k8s,it's better to try this case in k8s version 1.16.Look around [version compatibility document](https://www.kubeflow.org/docs/started/k8s/overview/)

[2020-11-20 04:00] GdMacmillan commented on #5407
I don't know how to attach whatever the url is infant of /authservice... From the above linke:

"To expose the web server in an environment like Kubernetes with Istio, you need to:

Create a Service pointing to the AuthService's web server port (8082).
Create an Istio VirtualService to match traffic with the $AUTHSERVICE_URL_PREFIX path-prefix and direct it to the Service you created. Usually, the

[2020-11-20 06:51] aeoluswing commented on #5407
@GdMacmillan As you said,virtualservice is the best practise to using ingressgateway (istio default or custom) to expose kubeflow web server.In my usage scenario,istio has been installed before,so I can obtain a clear ip address or domain name,this is the certain value represented by <url>.But in other scenes,this option can represent any other IP or domain name or address prefix.Maybe we can leav

[2020-11-20 06:58] Jeffwan commented on #5371
@cliveseldon Are you able to resolve the issue on Friday? Please help cherry-pick to v1.2 as well. I plan to cut release on Friday morning PDT time.

[2020-11-20 08:04] cliveseldon commented on #5371
@Jeffwan Yes hopefully I can get a fix by then.

[2020-11-20 10:24] govindsinghnegi commented on #5248
I am too facing the same issue when deploying on Minikube cluster.
my deployment summary:
System: Mac (16GB)
Minikube: v1.15.0
Kubectl: v1.16.9 (client & server)
kfctl: version 1.1.0
Documentation followed: https://www.kubeflow.org/docs/started/workstation/minikube-linux/

Minikube started with (as mentioned in the docs)
`minikube start --cpus 6 --memory 10240 --disk-size=120g ... `

The deploymen

[2020-11-20 10:49] Bobgy commented on #5371
@Jeffwan FYI, I tried to upgrade GCP KF 1.1 to KF 1.2. Some components require manual actions to upgrade in addition to apply.
https://github.com/kubeflow/gcp-blueprints/issues/139#issuecomment-731088601
I believe:
1. kfserving changed selector for its statefulset
2. katib changed apiversion of 3 CRDs

I had to delete them manually before applying again to upgrade:
[code]

@kubeflow/wg-automl-lead

[2020-11-20 10:52] cliveseldon commented on #5371
@Jeffwan Add PR for master https://github.com/kubeflow/manifests/pull/1670 and a Cherry-Pick for v1.2.0 branch https://github.com/kubeflow/manifests/pull/1671

[2020-11-20 14:06] jlewi opened #5418 "Where should notebooks code live"
Opening this issue as a follow on to discussion in kubeflow/community#454 and at the community meeting.

Notebooks code is currently in kubeflow/kubeflow
https://github.com/kubeflow/kubeflow/tree/master/components/jupyter-web-app

kubeflow/kubeflow has historically been a catchall and historically as projects have matured they have moved out of kubeflow/kubeflow into project specific repositories.

[2020-11-20 14:23] jlewi opened #5419 "Clean up dead code in kubeflow/kubeflow?"
Follow on to kubeflow/community#454?

The question posed in that issue is:

With the exception of notebooks and one or two other packages (e.g. PodDefaults) that should probably move into WG owned  repositories (#5418) it looks like most of the code in kubeflow/kubeflow is dead code. We should probably delete it and aim to whiddle down the repo to just a readme.

Looking at the top level directori

[2020-11-20 14:46] vkoppisetti-verisk opened #5420 "Kubeflow - Cognito -> works and Kubeflow - Cognito(cognito userpool + Okta ) not working thorugh okta"
/kind question

Hello All, We are doing a POC in my company for kubeflow. Goal here is have kubeflow dashboard access through Okta.

I tried kubeflow - cognito setup from official documentation on EKS cluster everything works fine.  If i add a user in cognito and provide those credentials was bale to view the dashboard. but if I select the okta login and pass okta credentials it throws

PERMISSION

[2020-11-20 14:46] jlewi opened #5421 "Update kubeflow/kubeflow README.md - redirect to working groups"
/kind feature

Follow on to kubeflow/community#454

Now that kubeflow has formed WGs, we are moving in the direction of making each WG more independent.

The README.md in kubeflow/kubeflow is a landing page for a lot of users looking for info about Kubeflow.

As such the primary purpose of the landing page should be to redirect users to different WGs.

I think the README.md should include a brief

[2020-11-20 15:32] terrytangyuan commented on #5371
Looks like @jbottum merged https://github.com/kubeflow/blog/pull/58, reverted it in https://github.com/kubeflow/blog/pull/59, and then merged again in https://github.com/kubeflow/blog/pull/60. Is this expected?

[2020-11-20 15:55] animeshsingh commented on #5421
+1. Totally agree

[2020-11-20 17:10] PatrickXYS commented on #5371
https://blog.kubeflow.org/release/official/2020/11/18/kubeflow-1.2-blog-post.html I think this is for a pre-review for community.

It's a work-around to allow community folks do final-review before officially launch.

@jbottum did a good job in 1.2!

[2020-11-20 17:14] PatrickXYS commented on #5371
@cliveseldon @Jeffwan I helped merge two PR,

@Bobgy Will GCP be able to propose a fix today? Let's try to avoid release next week.

[2020-11-20 17:34] jbottum commented on #5371
@jlewi understand / appreciate your comment.   publishing can take many steps and we can always edit the post.   I think the blog is written to say...we completed the application development, and users/platform teams are testing.   @terrytangyuan yes, not best practice to post, revert, post again...next time I will bring a pro to help with github!

[2020-11-20 19:10] Jeffwan commented on #5371
@andreyvelich Can you help check can I confirm if this is the expected way to upgrade an existing cluster? How can users keep their existing custom resource objects?

[2020-11-20 19:16] andreyvelich commented on #5371
@Bobgy Yes, it is expected since we switched to the v1beta1 in the Kubeflow 1.2.
Users should manually delete all Katib Experiment to be able to run the new release.
/cc @gaocegege @johnugeorge

[2020-11-20 19:17] Jeffwan commented on #5371
@Bobgy @andreyvelich I think we need to address these changes in upgrade documentation and make sure users are aware of this

[2020-11-20 20:17] Jeffwan commented on #5371
https://github.com/kubeflow/kubeflow/releases/tag/v1.2.0
https://github.com/kubeflow/kfctl/releases/tag/v1.2.0
https://github.com/kubeflow/manifests/releases/tag/v1.2.0

/cc @jlewi @jbottum

[2020-11-20 20:34] Jeffwan commented on #5371
@RFMVasconcelos Do you want to update docs to use latest tags?

[2020-11-20 21:05] berndverst commented on #5371
@Jeffwan should we update the various manifests to refer to the tag now instead of the branch? Maybe we can do that for all stacks at once.

[2020-11-20 21:18] Jeffwan commented on #5371
@berndverst yeah, I filed a PR https://github.com/kubeflow/manifests/pull/1672 and please help review it. New coming cherry-picks to v1.2-branch won't affect stable release then

[2020-11-20 21:25] DavidSpek commented on #5248
I'm also still experiencing this issue with Kubeflow 1.2 on k8s 1.19, as described https://github.com/kubeflow/pipelines/issues/4505.

[2020-11-20 22:18] olicantin commented on #4806
Same here. Any fix in the pipeline?

[2020-11-20 22:36] cvenets commented on #5418
@jlewi as I mentioned live during the last community meeting, we do not want to move the notebooks code outside of the Kubeflow organization, since we do not think this is the right path forward.

Currently, all WGs have their code inside the Kubeflow org. By moving the notebooks code out of the Kubeflow org, we will be treating the Notebooks WG completely differently from any other WG, and we bel

[2020-11-20 22:52] DavidSpek commented on #5248
I think the issue is caused by the fact that `signerName` is a required field that is not set, and `kubernetes.io/legacy-unknown` has been removed from Kubernetes 1.19. It will need to replaced by `kubernetes.io/kube-apiserver-client`, `kubernetes.io/kube-apiserver-client-kubelet` or `kubernetes.io/kubelet-serving`.
https://kubernetes.io/docs/reference/access-authn-authz/certificate-signing-reques

[2020-11-20 22:53] peemblis opened #5423 "Bug when provisioning MiniKube on AWS using miniKF, version 20201112.0.0"
**What steps did you take and what happened:**
I'm following this guide: https://www.arrikto.com/kubeflow/news/minikf-on-aws/

Step 16 fails. I.e., after you SSH onto the EC2 instance and type in `minikf`.

I can trace the failure to line 74 of `update-preseed-aws.py`. In particular, this part:

[code]

NOTE: I was able to get it to continue to run by hardcoding the IP address into `update-preseed

[2020-11-20 23:11] peemblis commented on #5423
I've got a work around. Add the lines below to `/etc/hosts`:

[code]

where

- `xx.xxx.xx.xxx` = external IP address
- `ip-xx-xxx-xx-xxx` = `hostname`
- `ip-xx-xxx-xx-xxx.eng.aws.abcde` = `fqdn`

[2020-11-20 23:33] Bobgy commented on #5371
SGTM, I'll document them in upgrade instructions the.

[2020-11-20 23:35] Bobgy commented on #5371
@Jeffwan thank you so much for driving the release!

[2020-11-20 23:47] PatrickXYS commented on #5421
That totally make sense

/cc @kubeflow/wg-manifests-leads

[2020-11-20 23:54] DavidSpek commented on #5248
The actual issue seem to be if `--cluster-signing-cert-file` and `--cluster-signing-key-file` are not set for kube-controller-manager. After setting these the cache-deployer worked as expected.

[2020-11-20 23:59] Bobgy commented on #5421
Thanks for raising the proposal, completely agree too.
Hopefully, this should start to direct people to individual WG repos they care about.

[2020-11-21 02:57] attackordie commented on #4787
@DhanunjayElluri I had success after following @kdunee reminder to set
`export KUBECONFIG=/etc/rancher/k3s/k3s.yaml`

For others @geewynn interested in _adding_ kubeflow to a k3s cluster I followed the detailed instructions [here](https://rancher.com/blog/2020/introduction-to-machine-learning-pipeline )

Specs:

Kubeflow version:  v1.0.2
[kfctl version: v1.1.0](https://github.com/kubeflow/kfctl/re

[2020-11-21 03:11] #5205 closed

[2020-11-21 03:11] #5209 closed

[2020-11-21 03:11] #5199 closed

[2020-11-21 03:11] #5060 closed

[2020-11-21 06:04] Jeffwan commented on #5419
/assign @Jeffwan

[2020-11-21 06:17] Jeffwan commented on #5419
`docs_dev` seems need some updates, it should be renamed to `docs`?

code snippet in `docs/gke` seems still helpful. I can leave to @Bobgy to remove to right place.

[2020-11-21 06:21] Jeffwan commented on #5419
I will move some useful scripts in `hack` and `scripts` to kubeflow/testing

[2020-11-21 08:42] geewynn commented on #4787
Thanks @attackordie

[2020-11-22 21:33] PatrickXYS commented on #5423
/cc @kubeflow/arrikto

Can you help check?

[2020-11-22 21:37] PatrickXYS commented on #5420
/assign

I'll put some time on Cognito stuff and fix the issue

[2020-11-22 21:41] PatrickXYS commented on #5414
@RFMVasconcelos It's not easy to do so, some kubeflow components rely on istio and the main point is:

Istio is a very popular service mesh application and well-maintained by the open source community, it's natural that folk try to adopt istio when they need the tool.

Besides getting rid of istio, the community now is thinking about upgrading istio to 1.6 / 1.7 version. That's our next step I thi

[2020-11-22 23:13] thesuperzapper commented on #4953
Bump

[2020-11-22 23:31] chen98 commented on #5407
So kubeflow can't be enabled (not working anymore) following ubuntu 20.04 and microk8s (latest/edge, 1.19/edge, 1.18/edge,
latest/stable, 1.19/stable, or 1.18/stable) install.  Should happen for any ubuntu (whether GCP or local Linux), right?
https://www.kubeflow.org/docs/started/workstation/getting-started-multipass/
(broken)
Anyway around this?  Thank you.

[2020-11-22 23:37] thesuperzapper commented on #5418
I raised a proposal to establish a "Working Group Led" GitHub org: https://github.com/kubeflow/community/issues/456

[2020-11-23 02:22] Bobgy commented on #5419
I'll take a look about gcp stuff, thanks a lot for taking care of others @Jeffwan !

[2020-11-23 07:30] kosehy opened #5429 "Cannot access the kubeflow dashboard"
/kind bug

**What steps did you take and what happened:**
Based on the [ubuntu/microk8s#1698](https://github.com/ubuntu/microk8s/issues/1698#issuecomment-731260701) suggestion,
I installed kubeflow using microk8s.
[code]
After install, I clicked the http://localhost
![Screenshot from 2020-11-23 13-03-46](https://user-images.githubusercontent.com/10434273/99929700-82a08d80-2d91-11eb-816f-2178a30b0e

[2020-11-23 09:31] RFMVasconcelos commented on #5421
+1! I created a WIP PR -> #5430

[2020-11-23 10:39] RFMVasconcelos commented on #5371
@Jeffwan thank for driving this!

Regarding docs, I have created PRs & Issues to get everything up to date - see [kubeflow/website#2322](https://github.com/kubeflow/website/issues/2322). Let me know if I'm missing anything

[2020-11-23 10:48] karlschriek opened #5431 "KF 1.2.0 on EKS: May not add resource with an already registered id: rbac.authorization.k8s.io_v1_ClusterRoleBinding|~X|cluster-local-gateway-istio-system"
/kind bug

I am attempting to roll out KF 1.2.0 for the first time, using:

https://github.com/kubeflow/kfctl/releases/tag/v1.2.0
https://raw.githubusercontent.com/kubeflow/manifests/v1.2-branch/kfdef/kfctl_aws_cognito.v1.2.0.yaml

Which eventually results in the following error:

[code]

This is on a clean installation on EKS 1.18.

- Kubeflow version: 1.2.0
- kfctl version: (use `kfctl version`)

[2020-11-23 13:39] tomalbrecht commented on #4912
I am looking for the same solution. Can someone point me to it? As @Bobgy explained [here](https://github.com/kubeflow/kubeflow/issues/4912#issuecomment-652184977) skipping the authentication is apparently not a good solution. But what is the preferred solution to authenticate kfp cli to run with on OnPremise with istio/dex?

[2020-11-23 15:29] jjf130 commented on #5417
Any luck reproducing the issues I am having with your OIDC Auth0 example?

[2020-11-23 18:13] PatrickXYS commented on #5431
I can't reproduce the issue

Suggestions:

1. Create a fully-new EKS cluster
2. Install Kubeflow 1.2 on the cluster

/assign

[2020-11-23 20:07] hfurkanvural commented on #5407
I am not sure if this fixes the issue but you can run the following command to add env variable manually
`microk8s kubectl set env deployment/oidc-gatekeeper AUTHSERVICE_URL_PREFIX=/authservice/ -n kubeflow`

[2020-11-23 20:49] chen98 commented on #5407
@hfurkanvural it doesn't solve the issue.  oidc-gatekeeper not crashed anymore.  However you still won't be able to get kubeflow dashboard (and notebook server, pipeline).
Refer to the following issue for details.
https://github.com/ubuntu/microk8s/issues/1764
(I am getting the same error for notebook server link as reported.  #1764 and #5407 seem related.)

Thanks.

[2020-11-23 20:58] tbaums commented on #5423
Hey @peemblis - Thanks so much for filing the issue. I'm taking a look.

Can you confirm that you used the 'seller recommended' settings for subnets and security groups?

[2020-11-23 21:34] tbaums commented on #5423
Hey @peemblis -

While we are at it, a few more questions:

[2020-11-23 22:19] peemblis commented on #5423
Thank you for your replies.

For subnet, there are various subnets available to us in N. Virginia (us-east-1). I chose one that contained `private` in the name (as opposed to a subnet containing `public`). I'm afraid I cannot provide much additional information beyond this.

I used the recommended security group that is created as part of the tutorial.

[code]

[2020-11-23 22:39] PatrickXYS commented on #5423
/assign @tbaums

Assign to unsubscribe me from thread

[2020-11-23 22:42] sameerbhadouria commented on #3945
How does one configure the `hosts`? The Issue https://github.com/kubeflow/manifests/pull/499  only provides the gateway configuration. It defaults to `*` and I would like to change that.

[2020-11-24 00:03] kosehy commented on #5407
I can enable kubeflow following local ubuntu 20.04 and microk8s (latest/edge)
[code]
based on the [link](https://github.com/ubuntu/microk8s/issues/1698) suggestion.

However I cannot figure out to get kubeflow dashboard (and notebook server, pipeline).
Refer to the following issue for details.
ubuntu/microk8s#1764

[2020-11-24 03:02] GdMacmillan commented on #5407
I can confirm this behavior as well. Running microk8s latest/edge. Kubeflow enabled (all containers create/pods are up). Not sure what dashboard service ip is now. The instructions printed to stdout show http://localhost however this is not the right page or perhaps a port is required?

[2020-11-24 03:36] #4822 closed

[2020-11-24 06:03] karlschriek commented on #5431
This is on a fully new EKS cluster already. Since this is a customize error, it might have something to do with a change in how Kustomize deals with merges. I am using:

{Version:kustomize/v3.8.7 GitCommit:ad092cc7a91c07fdf63a2e4b7f13fa588a39af4f BuildDate:2020-11-11T23:14:14Z GoOs:linux GoArch:amd64}

[2020-11-24 07:40] rcillavicomtech commented on #5407
Perhaps related....

I'm enabling kubeflow on a remote machine, thus I define

export KUBEFLOW_HOSTNAME="http://192.168.65.166:8081
I enable kubeflow and everything goes well.
I forward the 8081 port to the istio-ingressgateway port:

microk8s.kubectl port-forward -n kubeflow service/istio-ingressgateway
8081:80 --address 0.0.0.0

Then I open 192.168.65.166:8081 in the browser and a login page app

[2020-11-24 08:09] DavidGeW commented on #5391
I took the same steps as you did, and in addition to this problem, I encountered another problem.Have you ever encountered the following problem？Thanks.

` kfctl exited with error: failed to apply:  (kubeflow.error): Code 500 with message: kfApp Apply failed for kustomize:  (kubeflow.error): Code 500 with message: Apply.Run : error when creating "/tmp/kout125728891": admission webhook "validation.

[2020-11-24 08:51] okeynikky opened #5432 "ML"

[2020-11-24 09:51] welcomemandeep commented on #5414
So we were trying to break down the use of Kubeflow and leverage some parts of KF for some of our use cases.  As part of that effort, we were trying to use KF serving alone. Now KFServing has a hard dependency on Istio which is a problem for us as we use Envoy + Contour in our k8s cluster (Istio has some security problems).

Similarly, I wanted to understand other hard dependencies used in other p

[2020-11-24 10:24] kosehy commented on #5407
[code]
you can change the password to whatever you want

However, I still cannot access pipeline
![Screenshot from 2020-11-24 19-21-38](https://user-images.githubusercontent.com/10434273/100081474-69c7d300-2e8a-11eb-97be-5d4d42d32c0c.png)
and notebook servers
![Screenshot from 2020-11-24 19-22-11](https://user-images.githubusercontent.com/10434273/100081481-6af90000-2e8a-11eb-84ad-e67928cfff1d.png

[2020-11-24 11:00] yanniszark commented on #5432
/close

[2020-11-24 11:00] #5432 closed

[2020-11-24 12:17] karlschriek commented on #5431
Ok, so I did yet another clean install, this time also forcibly clearing any caches that might be lying around on the CI/CD workers. Went through this time. I can only assume that there were some hanging YAMLs for a previous 1.0 build.

Thanks for confirming that there is no trouble with the KF 1.2 rollout as such, that help to narrow down the problem.

[2020-11-24 12:17] #5431 closed

[2020-11-24 12:18] kosehy commented on #5429
Based on https://github.com/kubeflow/kubeflow/issues/5407#issuecomment-732715344
I can finally access to the kubeflow dashboard.

![Screenshot from 2020-11-24 19-21-38](https://user-images.githubusercontent.com/10434273/100081474-69c7d300-2e8a-11eb-97be-5d4d42d32c0c.png)

## Here is what I did ##
[code]
After enabling kubeflow
[code]
go to "http://123.456.789.123:8081"

you can login admin:1qaz2ws

[2020-11-24 14:10] vkoukis commented on #5423
@peemblis Thanks for providing us with all this info. We have been deploying MiniKF on AWS multiple times during our internal testing, so we'd like to understand what is different in your specific networking configuration compared to the configurations we have been testing with.

If we manage to understand this difference, we will have solved your current issue.
So, here is what MiniKF *expects* t

[2020-11-24 14:36] peemblis commented on #5423
Thanks, @vkoukis.

First, I will undo the changes to `/etc/hosts` mentioned above. To confirm changes are made, I rerun `minikf` at the command line to reproduce the issue in the opening post:

[code]
--------------------------------
I will now follow your steps:

1.  Hostname
[code]

2. DNS query on hostname

[code]

3.  Contents of `resolv.conf`

[code]

4. Reverse lookup FQDN

[code]

5. Use FQ

[2020-11-24 14:59] peemblis commented on #5423
(With regard to 5.) Note that when provisioning has completed:
![image](https://user-images.githubusercontent.com/7805233/100110305-686abc00-2e32-11eb-8e5b-54aac998a7fd.png)

However, I can't connect to the central dashboard using the URL provided in the screenshot. I can connect to it using the primary IP address: 10.xxx.xx.xxx.

[2020-11-24 16:38] naveensrinivasan opened #5433 "Upgrade controller-gen generation for notebook controller"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
The controller-gen that was used to generate notebook controller CRD was at version 2.0. There are enhancements to the tool which will make CRD better. Reference to https://github.com/kubeflow/kubeflow/pull/5426

**What did you expect to happen:**
Upgrade the controller-gen tool and gene

[2020-11-24 23:35] jlewi commented on #5127
FYI to get access to the doc you need to join tekton-discuss.

[2020-11-25 07:11] snowneji opened #5434 "Error When Installing Kubeflow on Azure AKS"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I'm following the instructions here: [https://www.kubeflow.org/docs/azure/deploy/install-kubeflow/](https://www.kubeflow.org/docs/azure/deploy/install-kubeflow/) to install kubeflow on Aks. Everything works until this step `kfctl apply -V -f ${CONFIG_URI}`.

This Error keeps pop up with

[2020-11-25 12:48] iedmrc opened #5435 "Is kubeflow suitable for parallel simulation?"
/kind question

**Question:**
Hi all, I wonder if we could also use kubeflow in this case:

Consider I have a python project (simulation) that runs for approx. 1-50 different environments. But this simulation needs to communicate several external services (docker images) that also need to be spin-up for each run and die after done. And also, results will be written to an external mongo database, e

[2020-11-25 13:03] vkoukis commented on #5423
@peemblis Thank you for the information. Based on what you have described, our current best understanding is that you are using custom [e.g., corporate] DNS configuration, which does not resolve the hostname of your EC2 instance properly. So, MiniKF cannot detect its fully-qualified domain name [FQDN, e.g., `ip-xxxx-xxx-xxx-xxx.ec2.internal`], so it cannot configure itself.

More details follow:

[2020-11-25 14:14] saurovn opened #5436 "Kubeflow Pipeline upload from Enterprise GitHub OR Google Storage"
/kind feature

**Why you need this feature:**
We have Kubeflow (1.0) installed in GCP and would like to upload pipelines hosted in Enterprise GitHub Or Google Storage.

Currently "Import by URL" option provides option to import pipeline files only from public GitHub and "Upload a file" option provides option to import from local.

**Describe the solution you'd like:**

It would be helpful if the U

[2020-11-25 14:24] jlewi commented on #5418
@cvenets I hear you and I think you raise good points.

We are treating all WGs equally. Per kubeflow/testing#737 all WGs need to take responsibility for their engprod resources which includes GitHub repositories.

As of right now, we haven't set a fixed timeline. Instead the approach we've taken is we will leave things as they are and when WGs hit the limits of what they can do today we will ask

[2020-11-25 15:47] peemblis commented on #5423
Thanks for all your help, @vkoukis.

I can confirm that the nameserver IP ends in `.2` and yes, I am on my company's VPN.

We rely on some private resources that are only available when using the private subnet (things like bitbucket/gitlab and artifactory) so a public subnet wouldn't work in my case.

----------------------------------------------------------------------

To provide a bit more in

[2020-11-26 09:27] vkoukis commented on #5423
@peemblis Thanks for the extra info.

Please note we don't require that you work on a public subnet. We test MiniKF exhaustively with both public and private subnets, and actually we even test in air-gapped environments as well, where there is no access to the Internet.

However, we do require that you work with a DNS configuration for your VPC/subnet that allows the machine to have an FQDN.

Then

[2020-11-27 02:15] aeoluswing commented on #5407
@hfurkanvural Thanks for your response.I found that the root cause of the inability to log in is the image version of authservice but not the configuration of `AUTHSERVICE_URL_PREFIX`.So, after changing to the correct image version, no `Failed to authenticate using authenticators` at all.After studying the source code, I found it was just raised by an exception
about `canno t get unserinfo`.The re

[2020-11-27 02:21] aeoluswing commented on #5407
@kosehy Could you provide the relevant container logs?(such as ml-pipeline-*),I have encountered similar problems before,and it was found that the inaccessibility was caused by issuer and certificate.
I am not entirely sure that this is the reason, but it can help locate the problem.

[2020-11-27 03:40] chiehpower opened #5438 "Error happened on kfctl apply -V -f ${CONFIG_URI} this step"
/kind bug

**What steps did you take and what happened:**

Dear all,

I was using `Kind` this tool to start the node (cluster) of Kubernetes and I checked the k8s which was working.
Then I followed the instructions from [here](https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/)

I chose the `kfctl-k8s-istio` this way to install.

I already set up everything, but I got stuck on the final st

[2020-11-27 05:52] PatrickXYS commented on #5438
Basically, I don't think we have a test for 1.19 Kubernetes cluster.

Besides that, @cliveseldon Can you help verify Seldon works on 1.19?

[2020-11-27 05:55] chiehpower commented on #5438
@PatrickXYS ,
Thanks for your reply!
I wonder which version will you recommend for me?
I really wanna try KubeFlow, but I have gotten stuck on installation for a long time...
Thank you!

[2020-11-27 11:03] kosehy commented on #5407
<details>
<summary>microk8s kubectl -n kubeflow get pods</summary>

[code]
</details>

<details>
<summary>microk8s kubectl -n kubeflow logs  istio-ingressgateway-6dbfc48ff-brj4g</summary>

[code]
</details>

[2020-11-27 14:54] sylus opened #5440 "Kubeflow release process and customization of v1.2.0+ installation"
/kind bug

Hello amazing Kubeflow community!

We’ve been using Kubeflow in an experimental phase since before 1.0 and pretty heavily in our Data Analytics as a Service environment after the 1.0 release and has been working quite well! Very recently we attempted to upgrade to the 1.1.0 release and encountered a bunch of workflow issues.

For reasons specific to our environment, we have to customize

[2020-11-27 14:57] sylus commented on #5440
@aronchick is it possible you would be able to assist with this? :D

[2020-11-27 16:22] twittidai opened #5441 "runtime: mlock of signal stack failed: 12 in ml-pipeline-viewer-controller-deployment"
/kind bug

**What steps did you take and what happened:**
full Kubeflow deployment with version
[code]

results in
[code]

**What did you expect to happen:**
Kubeflow runs successful

**Anything else you would like to add:**
Pods:
[code]

**Environment:**

- Kubeflow version: v1beta1
- kfctl version: (use `kfctl version`): kfctl v1.1.0-0-g9a3621e
- Kubernetes platform: (e.g. `minikube`) vanila
- K

[2020-11-27 17:08] PatrickXYS commented on #5438
Basically 1.15 - 1.18 should be good to go, we have periodic tests on those versions

[2020-11-27 19:06] DavidSpek commented on #4758
To add on to this. I have been working on adding support to Kale for taking snapshots for storage backends that support this using the generic kubernetes implementation. Once that is further along it would also greatly benefit from a UI. The logic to restore a notebook from (one of) the PVCs that was attached to it is already there and working, it's mainly the implementation of what metadata to us

[2020-11-28 03:36] chiehpower commented on #5438
Sure! Thanks for your information!
Even I changed the kfctl version to 1.2 and the yaml was also used `kfctl_k8s_istio.v1.2.0.yaml`, but it still happened errors. (the error was different with above.)

I will try the 1.15-1.18 version later! Let you know soon!
Thanks again!

[2020-11-28 16:18] #4980 closed

[2020-11-28 19:47] manasjain0699 commented on #5097
facing the same issue

[2020-11-29 04:58] manasjain0699 commented on #5097
open /eks-kubeflow-demo/eks-kubeflow/kustomize/aws-istio-authz-adaptor/base/deployment.yaml
and the the deployment apiVersion: apps/v1

[2020-11-30 03:25] jackielyc opened #5442 "when user add a job require gpus which number is more than the rest of total gpus, the job should stopped or failed immediately."
/kind feature

**Why you need this feature:**

when user add a job require gpus which number is more than the rest of total gpus, the job should stopped or failed immediately.

**Describe the solution you'd like:**
solution1: the operator(tfjob,pytorhcjob,mpijob) should check the rest numbers of gpus when it try to reconcile the job or pod.
solution2: check in the scheduler.

**Anything else you w

[2020-11-30 09:04] munagekar commented on #5411
Manually upgraded a few kubeflow deployments image to the latest release, seems to have fixed the problem. If you face I think an upgrade to kubeflow 1.2 should fix it.

[2020-11-30 09:04] #5411 closed

[2020-11-30 09:46] datafuel commented on #2337
Hello,
I think that this issue is becoming really important considering Apple moving to ARM64, new Ubuntu images for Raspberry PIs, etc..
It is very easy to install and setup microk8s on Ubuntu on Raspberry PI. It is a shame that Kubeflow isn't.

This tool would be great on a Raspberry PI Cluster.
Thank you for your fantastic work.

[2020-12-01 05:48] manasjain0699 commented on #2141
can I deploy feast on Kubernetes  without helm

[2020-12-01 08:25] chiehpower commented on #5438
I will re-open if I have any further questions!
Thanks!

[2020-12-01 08:25] #5438 closed

[2020-12-01 12:57] woop commented on #2141
Yes you can. Have a look at our [docker compose](https://github.com/feast-dev/feast/blob/master/infra/docker-compose/docker-compose.yml) installation for an installation that is purely docker based

[2020-12-01 13:37] manasjain0699 commented on #2141
Hello whoop thanks for reply but i want the Yaml File Of each service is it possible?

[2020-12-01 14:49] vkoppisetti-verisk commented on #5420
The flow of auth is as follows
using ALB user will get to auth page where user selects okta and enters cred. once okta verifies the user sends a response to conginito. In this response the email verified attribute is false so the error pops up. you can manually override this using CLI or you have triggers options in cognito. you need to program lambda to make an api call change the attribute on th

[2020-12-01 14:49] #5420 closed

[2020-12-01 17:10] jjf130 commented on #5417
Still blocked on this issue. Data scientists in our lab want to start using Kubeflow in AWS, but we cannot roll this out unless we have an authentication mechanism in place. I am able to stand up Kubeflow with Dex, but am still unable to integrate with Auth0 due to the aforementioned errors.

[2020-12-01 18:23] sylus commented on #5440
So I think I might understand this a bit better now after going through it.

Some of the confusion resulted in that pre v1.1.0 that the full output was in the kustomize folder, however now in v1.1.0+ we are just encouraged on using the delta via strategic merges etc. Due to this I was able to get all of our custom configuration working in the v1.2.0 line though in order to make our customizations

[2020-12-01 20:06] amostech commented on #3840
This is so important for us as well. Any word on whether it has been implemented? For now I'm running the following script manually. My customers are mad that I had to provide a manual solution but in any case if someone has a better idea. So everytime they delete a jupyter-notebook I also told them to run the following:
[code]

Replace POD_NAME with the appropriate jupyter-notebook name.

[2020-12-01 20:10] DavidSpek commented on #3840
This issue and the linked blog post might also be of interest.

https://github.com/kubeflow/kubeflow/issues/4758

https://journal.arrikto.com/democratizing-the-use-of-pvcs-with-the-introduction-of-a-volume-manager-ui-a5bf616570d3

[2020-12-01 21:09] jjf130 commented on #5417
Update:
Today I tried using the newly released 1.2 and a modified version of kfctl_aws_cognito.v1.2.0.yaml, but received the same error that I was seeing with 1.1:

Error: failed to apply:  (kubeflow.error): Code 500 with message: kfApp Apply failed for kustomize:  (kubeflow.error): Code 500 with message: error evaluating kustomization manifest for istio: no matches for OriginalId ~G_v1_ConfigMap|

[2020-12-02 02:24] berndverst commented on #5313
On Azure since at least Kubeflow 1.1 we have been requiring deploying Istio 1.6.X (1.7.X doesn't work in my testing) before deploying our stack (which does not include Istio itself).

Most recently I tested Kubeflow 1.2 on Istio 1.6.14 with Kubernetes 1.17.13.

[2020-12-02 02:36] sdake commented on #5313
Berdt,

Would love for you to provide any RCA analysis done on Istio 1.7 (or
preferred 1.8) eapecially in an issue tracker so we can solve the upstream
Istio bugs.

On Tue, Dec 1, 2020 at 7:24 PM Bernd Verst <notifications@github.com> wrote:

[2020-12-02 02:38] berndverst commented on #5313
@sdake sure thing. Should I file this issue in this repo or in manifests instead?

[2020-12-02 02:45] sylus commented on #5440
So fixed up the rest of this locally but it should be super easy to upgrade kubeflow now as we made our own “stack” similar to how the azure one is except with our customizations and improvements. It also does it the kustomize way but can see that our kfctl file is now really small and does most of the grunt work. Nice thing is that inheritance works well and is really easy to modify the defaults

[2020-12-02 02:55] berndverst commented on #5313
Related to this issue, it would also be great if we could update deployment / E2E tests to install Istio via `istioctl` and test for whichever version ranges we support - for example if we aim to support 1.6+, perhaps test against latest 1.6.X, 1.7.X and 1.8.X at this time.

It would be great to move away from any bundled Istio versions and provide more flexibility. (Of course minimum Istio versio

[2020-12-02 02:55] sdake commented on #5313
please file in Istio/istio and cc myself and @howardjohn

On Tue, Dec 1, 2020 at 7:39 PM Bernd Verst <notifications@github.com> wrote:

[2020-12-02 02:57] berndverst commented on #5434
/assign berndverst

[2020-12-02 03:01] berndverst commented on #5434
@snowneji currently it only works with 1.6.X (if you edit the manifest file you'll see that as a comment) -- I tested with 1.6.14. We're looking into why it doesn't work with Istio 1.7.X. I encountered similar problems myself. Will also make sure we call this out more in the documentation.

@sdake @howardjohn FYI. I too was seeing issues like this with deploying Kubeflow to AKS with Istio 1.7.3 (w

[2020-12-02 03:02] berndverst commented on #5434
/cc sdake howardjohn

[2020-12-02 03:05] snowneji commented on #5434
Thank you, I'll try with 1.6.X

[2020-12-02 03:07] berndverst commented on #5321
/close

[2020-12-02 03:07] #5321 closed

[2020-12-02 03:37] woop commented on #2141
@manasjain0699 is there anything preventing you from using Helm to generate the YAML files once off, and then just using those YAML files in the future instead of Helm?

[2020-12-02 03:44] sdake commented on #5313
yea please do submit PRa to build e2e tests using istioctl preferably
against the minimum pin and mximum pin.

On Tue, Dec 1, 2020 at 7:55 PM Bernd Verst <notifications@github.com> wrote:

[2020-12-02 03:46] sdake commented on #5434
can you file any information you have about a 1.7 failure. this would
better enable us to reproduce.

On Tue, Dec 1, 2020 at 8:06 PM Yifan Wang <notifications@github.com> wrote:

[2020-12-02 03:55] snowneji commented on #5434
The program will keep retrying and receiving the following error:

[code]

[2020-12-02 03:56] snowneji commented on #5434
Also just found a similar issue: https://github.com/kubeflow/kubeflow/issues/5391

[2020-12-02 04:47] sdake commented on #5434
RBAC v1 has been replaced by a beta implementation. I am on mobile atm -
please consult with @howardjohn

On Tue, Dec 1, 2020 at 8:56 PM Yifan Wang <notifications@github.com> wrote:

[2020-12-02 12:31] micemuni commented on #4188
I am also waiting for this "to enable multi tenancy working with groups" implementation, is that expected in next release of kubeflow..?

[2020-12-02 21:20] thesuperzapper commented on #5313
@sdake @berndverst @Jeffwan @Bobgy I have raised a proposal to unbundle services like istio from our manifests: https://github.com/kubeflow/community/issues/460

[2020-12-03 02:33] samuda2019 opened #5443 "Kubeflow dashboard not working on AKS"
/kind bug
**What steps did you take and what happened:**
Followed all the steps from the below documentation for configuring kubeflow on AKS
https://www.kubeflow.org/docs/azure/deploy/install-kubeflow/
[A clear and concise description of what the bug is.]
After configuring port forwarding to 127.0.0.1:8080 and tried accessing on the browser it gave an error "page can't be found"
Also tried curl on

[2020-12-03 04:48] snowneji commented on #4753
Hello, I tried the approach shared by @jtfogarty above, but still got the following error and it keeps retrying. I saw a similar error in another issue but it was related to Istio version (1.7.x doesn't work):

[code]
Then I try to inspect the pods under namespace cert-manager, looks the image pulling process was problematic since it tries to pull image from  `Pulling image "quay.io/jetstack/cert-

[2020-12-03 08:15] berndverst commented on #5391
@DavidGeW that sounds like a separate issue with cert-manager instead. If you still have that problem, can you file a separate issue please? I recently saw another such issue.

[2020-12-03 08:33] ccll commented on #5075
Same problem here trying to install kubeflow v1.1.0 in on-prem k8s.

[code]

The 'istiod' service is never created.

[code]

**Environment**
Clean rancher k3s cluster, v1.19.4, single master node, no workers.
kfctl: `kfctl v1.1.0-0-g9a3621e`

[2020-12-03 13:47] ifs-imaddjelaili opened #5444 "Uploading large file form jupyter dashboard"
/kind bug

Hello everybody
I'have an nginx error "413 Request Entity Too Large" when trying to upload larges files into jupyter notebook dashboard via the interface.

`<html>
<head><title>413 Request Entity Too Large</title></head>
<body>
<center><h1>413 Request Entity Too Large</h1></center>
<hr><center>nginx</center>
</body>
</html>
`

I've seen that we can fix that by adding some annotation to

[2020-12-04 02:51] DavidGeW commented on #5391
@berndverst  Thanks! I've solved this problem with https://github.com/kubeflow/kubeflow/issues/5070, it's a problem caused by the upgrade of istio.

[2020-12-04 05:52] ccll opened #5445 "Service `istiod` not found while deploying with kubeflow v1.1.0"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Try to install kubeflow v1.1.0 in on-prem k8s cluster, failed with log:

[code]

And we can see that the 'istiod' service is never created.

[code]

**What did you expect to happen:**

The deployment should success without error.

**Anything else you would like to add:**
[Miscellaneous

[2020-12-04 05:59] ccll commented on #5445
There is a similar issue #5075, the author reported while installing v1.1.0 instead of v1.0.2 the issue is gone, but apparently not the same case here.

[2020-12-04 06:18] chinmay22897 commented on #5099
Did you figured out how to instruct kfctl to find kubernetes-master, I can change the port for kubernetes-master to 8080 but there is already some other services using it which are equally important.

[2020-12-04 21:22] #4386 closed

[2020-12-05 06:04] midhun1998 opened #5446 "Deploying kubeflow behind proxy"
/kind question

**Question:**
We currently have Kubeflow deployed in AWS EKS behind a corporate proxy. We are trying to figure out a way to set env variables(as said [here](https://github.com/kubeflow/kubeflow/issues/3347)) to a single place rather than modifying most of the manifest files as suggested [here](https://github.com/kubeflow/website/issues/2137). Is there any way to achieve this? If so

[2020-12-06 20:19] thesuperzapper commented on #4857
I am gonna bump this, because we have implemented it, but its not merged into master yet.

[2020-12-07 14:30] midhun1998 commented on #5446
Also posted in community. I hope this will help others who are looking for the same answers. I will post once a solution is found.

Community link: [https://groups.google.com/g/kubeflow-discuss/c/2cl7_c8NNqg](https://groups.google.com/g/kubeflow-discuss/c/2cl7_c8NNqg)

[2020-12-07 16:28] TobiasGoerke opened #5447 "Istio-Proxy fails on Kubeflow 1.2.0"
/kind bug

**What steps did you take and what happened:**

We recently installed Kubeflow 1.2.0 and are experiencing issues with several pods in the `kubeflow` namespace, of which all end up in `CrashLoopBackOff`s.
All these pods use istio-proxy sidecars and are very frequently (> 20 messages per minute) displaying the following error message:

[2020-12-07 15:31:01.594][16][warning][config] [exter

[2020-12-07 17:20] ajinkya933 opened #5448 ""seldondeployments.machinelearning.seldon.io" is invalid"
/kind bug

**What steps did you take and what happened:**
I am installing Kubeflow on AWS  https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/

When I run
[code]

I get error:
[code]

How can I avoid this error ? Please note I am using AWS to install Kubeflow on EKS.
I know few solutions like: https://github.com/kubeflow/kfctl/issues/405
But they are for Kubeflow installed on K8s, I am not

[2020-12-08 10:29] hightoxicity opened #5449 "Way to "import" existing namespaces"
/kind question

**Question:**
Hi, I deployed main components of kubeflow (multitenant pipelines, istio, dex), I can create new namespaces for profiles using GUI, I can launch pipelines in new created namespace and it properly run.

Now, I have already created namespaces (not by kubeflow), and I would like to "import it" into kubeflow, I have seen that there is a CRD Profile (creating this object a

[2020-12-08 12:25] hightoxicity commented on #5449
OK, only one annotation need to be added to the namespace to enroll:

[code]

[2020-12-08 16:10] TobiasGoerke commented on #5447
Solved after two days of debugging.
We found out that invalid JWT tokens were created by the envoy sidecars and rejected by citadel. We suspected faulty certificates to be the reason and at some point started experimenting with the `minikube start` command.

When we changed the flag `extra-config=apiserver.service-account-signing-key-file` from
`/var/lib/minikube/certs/apiserver.key`
to
`/var/lib/

[2020-12-08 16:10] #5447 closed

[2020-12-08 18:20] snowneji commented on #5434
It turned out my issue was due to resources under `cert-manager` namespace was incorrectly installed.

[2020-12-08 21:35] thesuperzapper commented on #5221
/close
These have been moved to: https://github.com/kubeflow/kubeflow/tree/master/components/tensorflow-notebook-image/contrib

[2020-12-08 21:36] #5221 closed

[2020-12-09 03:55] raven-jia commented on #3681
Hi, I'm also trying to create kubeflow pytorchjob using fabric8. According to @Jeffwan 's answer, I should use
`new CustomResourceDefinitionBuilder()`
to define kubeflow.org/v1 pytorchjob as a CRD. Then I should have some files as the definition, in @Jeffwan 's case, it's Dummy.class. So do you know which files I can use like that?

However, my situation is that, I have kubeflow installed on k8s c

[2020-12-09 04:21] berndverst commented on #5434
/close

[2020-12-09 04:21] #5434 closed

[2020-12-09 14:33] tamera-lanham commented on #5417
My team is also blocked on this problem with Kubeflow 1.2 and OIDC authentication

[2020-12-10 03:57] vsriniv-git opened #5450 "Kubeflow install is failing in Mac"
I have installed dokee-desktop in mac and installed istio. When I install Kubeflow 1.2 using kubectl, I am getting an error...
Encountered error applying application istio-stack: (kubeflow.error): Code 500 with message: Apply.Run : [error when creating "/tmp/kout525286736": admission webhook "validation.istio.io" denied the request: unrecognized type attributemanifest, error when creating "/tmp/ko

[2020-12-10 09:32] midhun1998 commented on #5446
The problem was solved using PodDefault. 😀

[2020-12-10 09:32] #5446 closed

[2020-12-10 09:53] midhun1998 opened #5451 "Seldon failing to serve"
/kind bug /kind question

- Used XGBoost example to deploy in kubeflow.
- Builder was successfully building the image and pushing.
- Serving deployer was used to deploy an endpoint.
- The pod was deployed with seldon.
- The pod crashed with following error.(Attaching a screenshot)
![IMG_20201210_145935_LL.jpg](https://user-images.githubusercontent.com/24776450/101754486-cddccf00-3af9-11eb-81da-9d6

[2020-12-10 09:55] #5451 closed

[2020-12-10 11:40] yanniszark commented on #5449
@hightoxicity when you say "import" it into Kubeflow, do you mean have it show up in CentralDashboard?
If yes, then we aim to make that simpler in 1.3. The issue / design is tracked here: https://github.com/kubeflow/kubeflow/issues/5390

[2020-12-10 12:56] chiragjn opened #5452 "Kubeflow 1.2 AKS - No resource in `knative-serving` namespace"
/kind bug

**What steps did you take and what happened:**
I followed the kubeflow installation guide at https://www.kubeflow.org/docs/azure/deploy/install-kubeflow/
I installed Istio 1.6.13 and applied the operator config https://docs.microsoft.com/en-us/azure/aks/servicemesh-istio-install?pivots=client-operating-system-linux as linked in the first document

Only thing I changed is `CONFIG_URI` fr

[2020-12-10 13:50] hightoxicity commented on #5449
Yes, view existing namespaces in the dash, and make kubeflow deploy (profile deployer) needed stuff in it.

[2020-12-11 01:46] RDarrylR commented on #5395
I had a similar problem.

I resolved it by updating the image for the deployment of the profile manager. There was some issue that an old version of this image was being referenced in the manifest when kubeflow was installed.

[code]

I found another issue for 1.1 below with a comment describing the above change. I am working with a KF 1.2 install so the above commands use the latest version of th

[2020-12-11 02:54] PatrickXYS commented on #5448
You can either use <1.18 EKS cluster, or deploy 1.2 version Kubeflow.

[2020-12-11 02:55] PatrickXYS commented on #5452
/cc @berndverst

[2020-12-11 02:55] PatrickXYS commented on #5443
https://bit.ly/3n8NvSd

[2020-12-11 02:56] PatrickXYS commented on #5436
/cc @Bobgy

[2020-12-11 02:58] PatrickXYS commented on #5429
/cc @knkski

[2020-12-11 03:05] PatrickXYS commented on #5380
The issue is fixed in terms of 1.2 Kubeflow release

[2020-12-11 03:06] PatrickXYS commented on #5379
/cc @Bobgy

[2020-12-11 03:07] PatrickXYS commented on #5376
@naveensrinivasan  Thanks for heads up, we need to improve contributor guidance as well.

Given we have limited engineering resources in community, would be great if you can contribute to different repos.

[2020-12-11 03:08] PatrickXYS commented on #5371
I think we finished all the stories in Kubeflow 1.2,

can we close the issue to celebrate?

[2020-12-11 03:09] PatrickXYS commented on #5361
I don't think community folks have enough cycles on this, should we close and keep moving?

[2020-12-11 03:25] bsamadi commented on #5429
I followed these instructions:
`sudo snap install microk8s --classic --channel=latest/edge`

`microk8s enable dns dashboard gpu helm3 host-access storage istio`

`microk8s enable kubeflow`

At the end, I get: https://i.imgur.com/peZQvJs.png
When I go to that address, I see this page: https://i.imgur.com/hrtHPAB.png

The dashboard expects me to enter an email instead of "admin". Is this expected?

[2020-12-11 05:50] VibratingPig opened #5454 "Kubeflow 1.2 deployment on Azure instructions appear incorrect"
/kind bug

**What steps did you take and what happened:**
I followed the instructions on https://www.kubeflow.org/docs/azure/deploy/install-kubeflow/ and the installation cycles at the kfctl stage reporting it cannot find ClusterRbacConfig" in version "rbac.istio.io/v1alpha1"

**What did you expect to happen:**
The deployment to work

**Anything else you would like to add:**
The instructions from

[2020-12-11 06:10] Bobgy commented on #5371
/close
Congrats to everyone involved!

[2020-12-11 06:10] #5371 closed

[2020-12-11 06:55] VibratingPig opened #5455 "Kubeflow 1.2 deployment on Azure show no upstream server when attempting to connect to notebook"
/kind bug

**What steps did you take and what happened:**
Successfully launched kubeflow, create a notebook server and attempted to connect. The webpage on http://localhost:8080/notebook/xxxx/some-notebook/ reports

no healthy upstream

**What did you expect to happen:**
The notebook to launch

**Anything else you would like to add:**

All pods are running in the main kubeflow - the notebook pod e

[2020-12-11 08:12] ajinkya933 commented on #5448
1.2 kubeflow works.

[2020-12-11 08:12] #5448 closed

[2020-12-11 12:11] kosehy commented on #5429
Based on @bsamadi instructions:

<details>
<summary>microk8s and kubeflow installation</summary>

[code]
After enabling kubeflow
[code]

![kubeflow_enable](https://user-images.githubusercontent.com/10434273/101900485-e5e44980-3bf2-11eb-92e9-7ca48acf6691.png)

</details>

<details>
<summary>kubeflow dashboard login</summary>

[code]

![kubeflow_dashboard_login](https://user-images.githubusercontent

[2020-12-11 15:16] chiragjn commented on #5452
Update:
As suspected, all `knative-serving` resources are being installed in `kubeflow` namespace causing failures in gateways.
I removed all `config-istio` configmaps from my `knative-serving` namespace

And then edited the `config-istio` under the `kubeflow` namespace to use the correct namespaces in gateways
[code]
should be
[code]

And boom inferenceservice becomes ready and I can curl it via

[2020-12-11 15:21] bsamadi commented on #5429
@kosehy, I still get the "Invalid Email Address and password." error message. I am not sure why it act differently.

[2020-12-11 15:27] kosehy commented on #5429
@bsamadi Can you type the below command?
[code]
And what is the output?

[2020-12-11 15:34] bsamadi commented on #5429
Thank you @kosehy, I used your commands to assign the username and password. After a few failures, it worked. Now, I have the exact same problems as you. In addition, when I run `microk8s status`, it shows that kubeflow is disabled and when I try to enable it with `microk8s enable kubeflow`, it say that kubeflow is already enabled.

[2020-12-11 15:59] kosehy commented on #5429
@bsamadi I also have same problem.
<details>
<summary>microk8s status</summary>

![microk8s_status](https://user-images.githubusercontent.com/10434273/101925311-1046fe80-3c15-11eb-9d21-d060fd458786.png)

</details>

I found that microk8s has new version(v1.20.0  1869  latest/edge  canonical✓  classic)
So I will test new version and let you know the result.

[2020-12-11 19:23] srujanattunuri opened #5456 "Kale-SnapshotStore Integration in kubeflow"
/kind feature

**Why you need this feature:**
Currenlty, SnapshotStore is only deployed through miniKF, would like to see have the integration with Kubeflow. As, it needs for Production usecase as we don't have to deploy miniKF separately.

[2020-12-11 19:31] omlomloml commented on #5248
David,
how to set --cluster-signing-cert-file and --cluster-signing-key-file?

Thanks

[2020-12-11 20:07] jbottum commented on #5456
@srujanattunuri the snapshot store is available for production clusters via software extensions to Kubeflow.   You will also need a storage class (such as Arrikto Rok) which has been integrated with the Kubeflow application and Kale's programmatic calls to CSI.   I am glad to bring in SMEs to discuss.

[2020-12-11 20:52] srujanattunuri commented on #5456
@jbottum Thanks for the response. In kubeflow docs seen the option that is providing by Arrikto Rok and i had deployed kubeflow in on prem and wanted to have this feature as part of kubeflow stack bundled. In my perspective, software extension is not open source and would like to see in this way as part of kubeflow stack.

[2020-12-11 21:39] jbottum commented on #5456
@srujanattunuri thanks for your note.   Yes, Arrikto is a major open source contributor to Kubeflow and we have extended the Kubeflow app to work with standards based CSI.   Once below the CSI, you are often working with a proprietary storage solution / storage class, especially if you want an on-prem, enterprise-grade storage features, performance and support i.e EMC, NetApp, Pure, Hitachi.   Man

[2020-12-11 21:48] Justin-Blau commented on #4806
Any updates on this? I'm struggling to get this installed and I either don't understand how to implement the suggestions above, or I tried them (and everything else I could find in google search results) and it hasn't worked.

[2020-12-11 22:31] srujanattunuri commented on #5456
@jbottum Again thanks for the detailed info and prompt response. Actually, in my usecase we have enterprise minio and trying to see if we can connect snapshot store to S3 Store.

[2020-12-11 22:50] jbottum commented on #5456
@srujanattunuri Thanks and appreciate your interest.   Have you developed your SLA for your storage performance, especially for intense model training requirements?  How will you snapshot (without impacting performance)?  Will your snapshots be deduplicated?  Will the snapshots include all the components necessary to recreate your data science environment i.e. the ML code, all packages and librari

[2020-12-12 03:27] supertetelman commented on #5372
Just to follow up this was a bug/lack of implementation with the on-prem kubeflow deployments. Tracking information here: https://github.com/kubeflow/pipelines/issues/4746

[2020-12-12 04:02] huang06 commented on #5441
@twittidai
The solution of https://github.com/NVIDIA/deepops/issues/771 also solved my problem.

[2020-12-12 06:36] Bobgy commented on #5372
@supertetelman how did you install Kubeflow? I think your installation didn't use multi-user mode

[2020-12-12 09:54] kosehy commented on #5429
@bsamadi New version also have the same problem. kubeflow is not enable when I type microk8s enable.

[2020-12-12 19:58] #5264 closed

[2020-12-12 19:58] #4815 closed

[2020-12-12 19:58] #3578 closed

[2020-12-12 21:24] tereketeketitaka commented on #5407
Appears now we can get to the UI but the notebooks are not accessible. Any updates on this issue ?

[2020-12-13 00:31] naveensrinivasan opened #5457 "Enable Dependabot for security updates"
/kind feature

Enable the Dependabot for security updates within the Github project.
![image](https://user-images.githubusercontent.com/172697/101999789-82b7ed00-3cae-11eb-9daf-dfe6017a1804.png)

**Why you need this feature:**
[Is your feature request related to a problem? Please describe in details]
There are critical security vulnerabilities that aren't patched. This will enable addressing those

[2020-12-13 01:46] kosehy commented on #5429
I tested two version, v1.20.0(1864) and v1.20.0(1873)

Version:
`microk8s version : latest/stable    v1.20.0  2020-12-12 (1864) 219MB classic`
problem:
1. kubeflow is not enabled
<details>
<summary>microk8s status</summary>

![image](https://user-images.githubusercontent.com/10434273/102000514-935a7880-3d2b-11eb-8791-d11f07d528c9.png)

</details>

2. I cannot access Notebook Servers section.

Insp

[2020-12-13 01:49] kosehy commented on #5407
@tereketeketitaka Still the same. https://github.com/kubeflow/kubeflow/issues/5429#issuecomment-743933438

I tested two version, v1.20.0(1864) and v1.20.0(1873)

Version:
`microk8s version : latest/stable    v1.20.0  2020-12-12 (1864) 219MB classic`
problem:
1. kubeflow is not enabled
<details>
<summary>microk8s status</summary>

![image](https://user-images.githubusercontent.com/10434273/10200051

[2020-12-13 20:34] thesuperzapper commented on #5092
/cc @kubeflow/wg-notebook-leads

[2020-12-14 12:09] FranCorsini commented on #5417
Blocked by same problem, trying to deploy Kubeflow either with 1.2 or 1.1 and kfctl returns a "no such file or directory" while looking for 1.0

[2020-12-14 13:22] kimwnasptd commented on #5235
This feature is implemented in #5237 as @thesuperzapper and is also merged in the `crud-web-apps/jupyter` app.

The latest Jupyter web app's config allows the user to handle tolerations/affinity so I believe we can close this

[2020-12-14 13:23] kimwnasptd commented on #5235
/close

[2020-12-14 13:23] #5235 closed

[2020-12-14 13:25] kimwnasptd commented on #5092
/lifecycle frozen

Lets discuss about adding this functionality in the Volumes web app #4758.

[2020-12-14 19:57] konradmalik opened #5458 "metadata writer crash loop - cannot get resource "namespaces""
/kind bug

**What steps did you take and what happened:**

I installed full kubeflow on a clean cluster per installation instructions (without dex first, then with dex, both versions suffer the same problem) on a 2 node K3S cluster (Rancher project). All services start except metadata-writer. I suspect that this service is responsible for an error while deploying a sample pipeline. The error we re

[2020-12-14 20:28] aronchick commented on #5454
Updated - if you're seeing this, you can fix the problem by doing the following:

[code]
(or whatever the most recent release is). Then follow the AKS Istio installation instructions.

[2020-12-14 20:47] berndverst commented on #5454
Please also see https://github.com/kubeflow/kubeflow/issues/5313

In general Kubeflow only supports specific Istio versions. Hopefully a wider range of Istio versions will be supported in the future -- there is also talk to support other service meshes.

For the Azure deployment we are inheriting from the Kubeflow defaults. Our Kubeflow docs unfortunately didn't list a specific Istio version and w

[2020-12-14 23:00] perdurabo93 opened #5459 "Need Stack Config for On-Prem Vanilla K8S"
/kind feature

**Why you need this feature:**
I need the ability to install kubeflow on an existing on-prem vanilla Kubernetes instance behind a corp firewall

**Describe the solution you'd like:**
I need a stack config kfctl/kustomize yaml that supports:
- Custom local Docker repo (this appears alpha, but does not support ImagePullSecrets)
- Predefined/existing ImagePullSecret applied on the name

[2020-12-15 01:34] nico-kuzak commented on #5379
@Bobgy Any update on this? It seems to happen on kubeflow 1.2.0 for me (I deleted my working 1.1.0 cluster for another reason and saw that the docs were updated to reflect 1.2.0)

[2020-12-15 05:03] Bobgy commented on #5379
Thanks for the report @vineetbadola and @nico-kuzak!
The application CRD should be hydrated at step:
https://github.com/kubeflow/gcp-blueprints/blob/db08b1682c8758cfb35e6d7faee9e7d87ae6fe26/kubeflow/Makefile#L140

Can you verify if the CRD has been installed and verify your apply logs if anything went wrong for applying the CRD?
You should be able to debug the application CRD by:
[code]
See if the

[2020-12-15 05:32] pratyushpanda commented on #5407
i am facing the same issue and the kubeflow never comes up.

ubuntu@ip-xyz:~$ microk8s kubectl -n kubeflow logs -f pod/oidc-gatekeeper-58589578c-wvk9x
time="2020-12-15T05:29:54Z" level=fatal msg="Failed to parse configuration: required key AUTHSERVICE_URL_PREFIX missing value"

ubuntu@ip-10-0-0-201:~$ microk8s ctr version
Client:
  Version:  v1.3.7
  Revision: 8fba4e9a7d01810a393d5d25a3621dc101981

[2020-12-15 09:52] shalankig opened #5460 "Kubeflow 1.0.2 deloyment on GKE version 1.16.x"
/kind bug

**Environment Details:**
Kubeflow version:  1.0.2
kfctl version: 1.0.2
Kubernetes platform: Google Kubernetes Engine
Master/Node Kubernetes Version: 1.16.x

**Details to Reproduce**
1. Deploy a private GKE cluster with version 1.16.x
2. Follow instructions to install Kubeflow 1.0.2 using CLI from here: https://v1-0-branch.kubeflow.org/docs/gke/deploy/deploy-cli/

**Error**
Scenario 1: A

[2020-12-15 10:17] DavidSpek commented on #5248
@omlomloml, the specifics will greatly depend on your cluster, but you need to pass the arguments to the kube-controller-manager. https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/

What type of cluster are you using?

[2020-12-15 10:43] berndverst commented on #5452
@chiragjn the CONFIG URI was a template variable that somehow wasn't updated when the 1.2 version of the docs was created. I just made a PR to fix that and a few other little things.

Now you know the secret that we usually deploy our trained ML models on Azure Machine Learning Service :)

I fixed the issue in the Azure config files. Once the following change is merged the v1.2 config files will c

[2020-12-15 11:01] berndverst commented on #5443
Hello @samuda2019

There are a number of things that could be a problem here. Most likely you are using an ISTIO version other than 1.6.X. I now updated the docs to make it clear you need to use 1.6.X.

I just updated the instructions (PR pending) and made an additional update to the Azure config files. Could you please wait for the following two PRs to be merged

https://github.com/kubeflow/websi

[2020-12-15 11:02] berndverst commented on #5443
/assign

[2020-12-15 11:03] berndverst commented on #5452
/assign

[2020-12-15 11:13] berndverst commented on #5434
@snowneji out of curious in which namespace was cert-manager installed? I double-checked though it appears it should install in `cert-manager` namespace automatically.

[2020-12-15 11:15] berndverst commented on #5454
Docs fix: https://github.com/kubeflow/website/pull/2413

[2020-12-15 11:40] berndverst commented on #5440
@sylus -- the manifests v1.2 changes (and initial issues) are my fault. I noticed only 2 weeks before v1.2 release that a release was upcoming and scrambling to get some things out. We don't have any dedicated person at Microsoft focused on Kubeflow work for a lot of their time so I took this on for myself. Let's just say it has been a bit of a steep learning curve. The changes you observed above

[2020-12-15 11:50] berndverst commented on #5458
Just adding a note for other community members reviewing -- this is for vanilla k8s, not Azure AKS stack.

[2020-12-15 11:58] berndverst commented on #5455
/assign

This is very curious as recently notebook images were altered.

Ah I know what happened! The Kubeflow team had to alter the Notebook images and changed the tag to be used for Kubeflow v1.2. This introduced a config change in Azure but of course the Azure kfdef manifests for v1.2 are pinned to a particular commit.

Background:
https://github.com/kubeflow/manifests/pull/1686

I just a littl

[2020-12-15 12:01] berndverst commented on #5454
Also from your other issue -- the release team forgot to include the appropriate notebook images with the release. They added this after the fact, but Azure configs were manually pinned to a different commit. That's fixed now. Please grab the latest kfdef manifests once this is merged: https://github.com/kubeflow/manifests/pull/1698

[2020-12-15 14:14] slenky commented on #5440
Regarding testing your changes on specific modules, can you please try `kustomize build stacks/azure --load_restrictor none`  ?
It does a trick for me.

[2020-12-15 14:16] slenky commented on #5440
After each execution of kfctl on Azure just use `kubectl label ns kubeflow control-plane- --overwrite`

[2020-12-15 14:40] omlomloml commented on #5248
@DavidSpek I deployed cluster using kubespray

[2020-12-15 16:00] DavidSpek commented on #5248
@omlomloml, I have no experience with kubespray but this issue seems to link to the solution. Do note that what you are changing is part of the cluster certificate management so it might break things in your cluster.

[2020-12-15 16:21] kimwnasptd opened #5461 "Ensure the crud-web-apps are CSRF protected"
/kind feature

**Why you need this feature:**
We need to ensure that our [crud-web-apps](https://github.com/kubeflow/kubeflow/tree/master/components/crud-web-apps) are CSRF protected for insecure methods [POST, PUT, PATCH etc]

**Describe the solution you'd like:**
We can follow the [double-submit](https://cheatsheetseries.owasp.org/cheatsheets/Cross-Site_Request_Forgery_Prevention_Cheat_Sheet.htm

[2020-12-15 16:30] kimwnasptd commented on #5461
/assign kimwnasptd

[2020-12-15 16:42] kimwnasptd opened #5462 "Unit tests for crud-web-apps"
/kind feature

**Why you need this feature:**
Right now the current code base of the web apps does not have unit tests.

**Describe the solution you'd like:**
We should add unit tests for
- [ ] the [common frontend code](https://github.com/kubeflow/kubeflow/tree/master/components/crud-web-apps/common/frontend/kubeflow-common-lib)
- [ ] the [common backend code](https://github.com/kubeflow/kubeflow

[2020-12-15 21:06] zachomedia commented on #5190
Just want to unstale this issue as we are still running a custom version with the patch.

[2020-12-15 21:41] berndverst commented on #5440
Good tip!

I think I also know how to contribute to the upstream project the ability to define a custom Kubeflow control-plane selector label. Might do so in the incoming weeks if I have time.

[2020-12-16 09:57] DavidSpek commented on #5456
@srujanattunuri The Volume Manager UI from arrikto should be push to Kubeflow soon after https://github.com/kubeflow/kubeflow/pull/5463 is merged. I will be looking at implementing some code I wrote for Kale that allows taking snapshots of volumes and notebooks and also allows restoring notebooks from snapshots using kubernetes native snapshots. Essentially, a snapshot of each PVC mounted to the n

[2020-12-16 10:15] DavidSpek commented on #5342
/cc @kubeflow/wg-notebook-leads

[2020-12-16 10:42] DavidSpek commented on #4950
I think this also ties in with the Volume Manager UI and my plan to add volume and notebook snapshot and restore support to it.

[2020-12-16 10:46] DavidSpek commented on #4871
@thesuperzapper This now falls in the scop of wg-notebooks so it should be added to the kanban.

[2020-12-16 10:48] DavidSpek commented on #4838
I agree that Jupyter Lab should be the default view and that it should be set in the images. This should be discussed with the notebook WG.

[2020-12-16 14:28] nico-kuzak opened #5465 "Stackdriver Logs are very expensive for kubeflow"
/kind bug

I upgraded to KF 1.2 on GCP and overnight had 116 GB of logging.

**What did you expect to happen:**
Not having 116 GB. Seems to be some sort of cloud audit?

**Environment:**

- Kubeflow version: v1beta1 (1.2.0)
- kfctl version: (use `kfctl version`): None
- Kubernetes platform: GCP
- Kubernetes version: (use `kubectl version`): Client Version: version.Info{Major:"1", Minor:"17+", GitV

[2020-12-16 22:32] DavidSpek commented on #3477
If I am not mistaken, the method for deploying Grafana along with Kiali has changed with newer versions of Istio. I think this should be looked at once https://github.com/kubeflow/kubeflow/issues/5313 has been solved. It might be possible to integrate Grafana dashboard into the UI, along with dashboards for the notebook controller metrics from prometheus (https://github.com/kubeflow/kubeflow/issue

[2020-12-17 01:11] zxsimple commented on #5096
Any solution or workaround to this issue? The same as [Failed to pull from registry.jujucharms.com/kubeflow-charmers](https://github.com/ubuntu/microk8s/issues/1816)

[2020-12-17 06:00] Bobgy commented on #4871
I think we can close it, because we have decided to deprecate kfam

[2020-12-17 06:00] #4871 closed

[2020-12-17 12:10] karlschriek opened #5466 "How to serve namespaced custom web service behind kubeflow-gateway"
/kind question

**Question:**

I am trying to figure out how I can place a custom service behind the default authn/authz that is shipped with Kubeflow. Let's say I want to host a small helloworld web app, and want it to be reached a `https://platform.mydomain.com/helloworld`.  I am able to get a simple example up and running as follows:

[code]

What I haven't been able to figure out yet though, i

[2020-12-17 16:10] cloudbow commented on #5466
I would like to be part of this as we would as well want to apply some Auth policies via istio in aws

[2020-12-17 23:06] yuanhunglo commented on #5325
Running into the same issue. Midway through executing interactive context with the Trainer component my Jupyter notebook unexpectedly restarted without error. Using TFX version 0.24.1.

[2020-12-18 06:13] senthilsivanath opened #5467 "Multi region / Multi Data Center Support"
/kind question

**Question:**
Does kubeflow play well for multi cluster setup, i.e when there are multiple installations of kubeflow in multiple data center / regions connecting to same MYSQL (cross region) and GCS multi region

Example :

Kubeflow Cluster 1 - US East
kubeflow Cluster 2 - US West

MySQL State store (Active (US East) -> Passive (US West))
GCS (multi region)

Additional Loadbalancer

[2020-12-18 06:49] #5239 closed

[2020-12-18 06:49] #5260 closed

[2020-12-18 06:49] #5071 closed

[2020-12-18 06:49] #5287 closed

[2020-12-18 06:49] #5067 closed

[2020-12-18 06:49] #5130 closed

[2020-12-18 06:49] #5050 closed

[2020-12-18 06:49] #5144 closed

[2020-12-18 06:49] #5145 closed

[2020-12-18 06:49] #5274 closed

[2020-12-18 06:49] #5279 closed

[2020-12-18 06:49] #5244 closed

[2020-12-18 06:49] #5273 closed

[2020-12-18 06:49] #5291 closed

[2020-12-18 10:31] thesuperzapper commented on #5282
bump

[2020-12-18 12:15] anneum opened #5468 "Multiple Pods stucks in CrashLoopBackOff"
/kind bug

**What steps did you take and what happened:**
Installed Kubeflow on an onpremise kubenetes cluster.
Multiple Pods stuck in CrashLoopBackOff
ml-pipeline-viewer-controller-deployment
katib-db-manager
katib-mysql

**What did you expect to happen:**
Expect that the pods start normal

**Anything else you would like to add:**

**Environment:**

- Kubeflow version: build version v1beta1
- kfc

[2020-12-18 20:04] jbottum commented on #5467
@senthilsivanath  Thanks for your question.   East/West Active/Active replication of your entire Kubeflow data science environment will often result in cost and performance concerns.   We might try to whiteboard your use cases and architect a data management solution to meet your RTO/RPO, performance & budget requirements.   Arrikto is a leading code contributor to Kubeflow and its data management

[2020-12-19 11:44] etheleon commented on #5429
yes use admin

[2020-12-20 07:02] ShilpaGopal commented on #5248
I had set up Kubeflow in Onprem cluster without AUTH, where everything was working fine. Now I added OIDC and redeployed kubeflow, Cache server is not coming up for the same reason. Cache deployer fails with
[code]
 I don't see any  mutatingwebhookconfigurations by name cache-webhook-kubeflow in the cluster.

[2020-12-20 12:10] DavidSpek commented on #5248
@ShilpaGopal The cache deployer currently isn't using a webhook and since do don't have a cluster cluster signer setup you are facing this issue. A solution would be to use cert-manager for the cache deployer, see https://github.com/kubeflow/pipelines/issues/4695.

[2020-12-20 13:06] ShilpaGopal commented on #5248
@DavidSpek Thanks for your input, but I am uncertain that I understand your point. I had built custom Kubeflow manifests from 1.1.0 branch since I had to deploy it in an air-gapped cluster which needed some modifications. On my first installation, I installed without Dex. Now I am trying to install the same build with Dex which is resulting in the issue - **MountVolume.SetUp failed for volume "web

[2020-12-20 13:13] DavidSpek commented on #5248
@ShilpaGopal I'm not sure what the difference is between single-user and multi-user in regards to the cache deployer, but to me it does sound like the issue you are having is due to the cluster signer. I have faced this issue with both kubeflow 1.1 and kubeflow 1.2 with an on-prem deployment.

You could try setting `--cluster-signing-cert-file` and `--cluster-signing-key-file` for the kube-control

[2020-12-20 13:24] ShilpaGopal commented on #5248
@DavidSpek I see your point. Those two extra arguments are set during the first installation itself and its intact. Moreover, I didn't face this issue during the first installation, I am wondering the deletion of the first installation left any stale effect on the cluster signer!

[2020-12-20 13:30] DavidSpek commented on #5248
@ShilpaGopal Can you confirm that you have a cluster signer setup for the cluster.SSH into on of the master nodes and execute `ps aux | grep kube-controller-manager | grep "cluster-signing"`. If it comes up empty, you don't have a cluster issuer setup. If that is not the case, we'll need to further debug what is happening.

[2020-12-20 13:34] ShilpaGopal commented on #5248
@DavidSpek It is setup. Here is the output.

[code]

[2020-12-21 07:26] aeoluswing commented on #5407
@kosehy Sorry for the late reply.The pipeline components need to be forwarded through the istio when processing user requests.If you check the DestinationRule configuration, you will find that the default policy requires TLS authentication.I deal with the problem of not accessible by disabling tls authentication.

[2020-12-21 07:40] aeoluswing commented on #5416
Fix this by modifiing the configuration of authservice,so close this issue.

[2020-12-21 07:41] #5416 closed

[2020-12-21 07:49] aeoluswing commented on #5407
@tereketeketitaka could you check the log of notebook-controller pod,confirm if there are any error about `unable to fetch notebook`?

[2020-12-21 07:55] etheleon commented on #5429
i wrote a gist for install KF manually in microk8s, working perfectly https://gist.github.com/etheleon/80414516c7fbc7147a5718b9897b1518

[2020-12-21 12:17] anneum commented on #5468
New information: The environment variables are set correctly.
It seems, that the katib database are not created and the mysql password is not set.
Because of this the Liveness and Readiness is not fulfilled.
[code]

[2020-12-21 15:59] anneum commented on #5468
For the ml-pipeline-viewer-controller-deployment the solution is to change the image from **viewer-crd-controller:0.2.5** to **viewer-crd-controller:0.2.4**.
Solution found in [https://github.com/NVIDIA/deepops/issues/771](https://github.com/NVIDIA/deepops/issues/771)

The two katib pods have still problems.

[2020-12-21 17:20] regorsmitz opened #5478 "Does the kfctl equivalent of kubectl diff exist, or is there a workaround for diffing KfDef and existing resources?"
/kind question

**Question:**
hello, is there a way to see what changes `kfctl apply` would make to my cluster without running it? I’m looking for something that would be equivalent to `kubectl diff`.

For context, being a newbie, I’ve run some commands to alter my Kubeflow cluster using kubectl apply -f on standalone yaml files (which I know is bad practice when it comes to Kubeflow) I've also ma

[2020-12-22 05:14] shruthingcp opened #5479 "metadata-ui pod in CrashLoopBackOff status after making it to run as nonRoot"
/kind bug

**What steps did you take and what happened:**
Added securityContext to metadata-ui to make it run as non root. Deployed metadata-ui using below spec. metadata-ui pod is stuck in CrashLoopBackOff status and below error is shown in the logs

` internal/modules/cjs/loader.js:626
     throw err;
     ^
 Error: Cannot find module 'express'
 Require stack:
 - /server/dist/server.js
     at F

[2020-12-22 06:59] tianhaoz95 opened #5480 "Notebook servers renders a blank page"
/kind bug

**What steps did you take and what happened:**
I installed Kubeflow with steps in https://www.kubeflow.org/docs/started/workstation/getting-started-multipass, but the notebook servers tab is empty.

**What did you expect to happen:**

It should show a button for adding notebooks.

**Anything else you would like to add:**

![Screenshot from 2020-12-21 22-54-59](https://user-images.github

[2020-12-22 08:26] aeoluswing commented on #5407
While debugging, I found another possible reason for the 'not accessible problem'.My cert-manager components were installed separately, so they could be upgraded independently.But I’m afraid this would bring compatibility issues.After successfully upgrading the components version(cert-manager), I found crd objects including issuers and clusterissuers were working abnormally.This might be due to th

[2020-12-22 18:26] kimwnasptd opened #5482 "Run pre/post-submit tests with the Optional-test infra"
/kind feature

**Why you need this feature:**
We will need to be able to run pre/post-submit jobs as a part of the [Notebooks WG](https://github.com/kubeflow/community/blob/master/wgs.yaml#L211) and a testing infrastructure. This way we can:
* Run unit and e2e tests to ensure future PRs don't break the existing functionality
* Automatically build new images for our artifacts, when their code is mo

[2020-12-22 18:28] kimwnasptd commented on #5482
cc @kubeflow/wg-notebook-leads

/assign @kimwnasptd
/assign @PatrickXYS

[2020-12-23 02:02] PatrickXYS commented on #5482
There's a new doc I wrote recently for onboarding optional-test-infra https://github.com/kubeflow/testing/blob/master/aws/Doc/onboarding.md

It may be helpful for WG-notebook, will come back in Jan for further discussion

[2020-12-23 04:03] #4831 closed

[2020-12-23 04:03] #5078 closed

[2020-12-23 04:03] #5272 closed

[2020-12-23 04:03] #5038 closed

[2020-12-23 04:03] #5298 closed

[2020-12-23 04:03] #5055 closed

[2020-12-23 04:03] #5087 closed

[2020-12-23 04:03] #5064 closed

[2020-12-23 04:03] #5121 closed

[2020-12-23 13:07] DavidSpek commented on #5468
@anneum It isn't really a solution, but I have found deleting the  katib-db-manager and  katib-mysql deployments and the katib PVC, then rerunning `kfctl apply -V -f <your_kdef.yaml>` allows them to come up properly.

[2020-12-23 13:15] DavidSpek commented on #5287
/lifecycle frozen

[2020-12-23 13:16] DavidSpek commented on #5121
/lifecycle frozen

[2020-12-23 13:17] DavidSpek commented on #5123
/lifecycle frozen

[2020-12-23 13:18] DavidSpek commented on #5269
/lifecycle frozen

[2020-12-23 13:18] DavidSpek commented on #5064
/lifecycle frozen

[2020-12-23 13:19] DavidSpek commented on #5087
/lifecycle frozen

[2020-12-23 13:19] DavidSpek commented on #5272
/lifecycle frozen

[2020-12-23 13:19] DavidSpek commented on #4831
/lifecycle frozen

[2020-12-23 13:22] DavidSpek commented on #5291
/lifecycle frozen

[2020-12-23 13:22] DavidSpek commented on #5274
/lifecycle frozen

[2020-12-23 13:22] DavidSpek commented on #5145
/lifecycle frozen

[2020-12-23 13:23] DavidSpek commented on #5144
/lifecycle frozen

[2020-12-23 13:23] DavidSpek commented on #5050
/lifecycle frozen

[2020-12-23 13:23] DavidSpek commented on #5130
/lifecycle frozen

[2020-12-23 15:21] DavidSpek commented on #5248
@ShilpaGopal, maybe this comment is useful for your situation. https://github.com/kubeflow/pipelines/issues/4687#issuecomment-736834537

[2020-12-23 15:33] kimwnasptd opened #5483 "web-apps: Document the supported ENV Vars"
/kind feature

**Why you need this feature:**
Right now the users will need to either look at the source code or the manifests for any [crud-web-app](https://github.com/kubeflow/kubeflow/tree/master/components/crud-web-apps) to figure out what env variables can be used to modify the runtime of the app.

**Describe the solution you'd like:**
The README of each app should contain a table/list of sup

[2020-12-23 15:37] kimwnasptd commented on #5483
The project command doesn't seem to work. I'll add the issue to the corresponding project by hand.
I also made a typo on the assign so
/assign @kimwnasptd

[2020-12-23 16:24] #5461 closed

[2020-12-23 19:06] shruthingcp commented on #5479
Removed runAsGroup from securityContext and metadata-ui pod is running as expected. Unable to understand why runAsGroup is causing the express node module to be missed.

[2020-12-23 19:31] arllanos opened #5484 "Cards Recent Pipelines/Runs in Central Dashboard should be populated with items in the selected namespace"
/kind feature

**Why you need this feature:**
Central Dashboard tries to populate *Recent Pipelines* and *Recent Pipeline Runs* cards with the 5 most recently created Pipelines and Runs respectively with no regards to selected namespace.
However, it is not compatible with the changes done to resolve issue [#4197](https://github.com/kubeflow/pipelines/issues/4197). That is, we should populate the c

[2020-12-24 15:37] ReggieCarey commented on #5046
If no one decides to look at a problem, does not make it a non-problem.  Letting your bot close issues simply because no one has the cycles to research them is problematic.  I'm facing this problem and it seems to reveal a larger issue under the hood.  But I don't read go code to figure out what's going on.

[2020-12-26 00:27] kosehy commented on #5429
@etheleon Thank you for porviding how to install KF manually in microk8s!

however, when I run the commend below:
[code]
I have face error below
[code]

Have you face this error before?

Here are my kubectl informations:
[code]

[2020-12-26 16:47] AxdorphCoder opened #5485 "Cannot open kubeflow dashboard on microk8s kubeflow"
/kind bug

**What steps did you take and what happened:**

I followed this tutorial exactly
https://ubuntu.com/tutorials/deploy-kubeflow-ubuntu-windows-mac#2-access-an-ubuntu-terminal

sudo snap install microk8s --classic
sudo microk8s status --wait-ready

sudo usermod -a -G microk8s $USER
sudo chown -f -R $USER ~/.kube

microk8s.enable dns dashboard storage
microk8s.enable kubeflow

Got
Congratul

[2020-12-27 04:59] hebo-yang opened #5486 "Cannot open dashboard with minikube"
/kind bug

**What steps did you take and what happened:**
Following instructions here https://www.kubeflow.org/docs/started/workstation/minikube-linux/. All pods kubeflow and istio-system pods are in running state (except for istio-security-post-install-release-1.3-latest-daily-8t9b8 being completed)

export INGRESS_HOST=$(minikube ip)
export INGRESS_PORT=$(kubectl -n istio-system get service isti

[2020-12-27 05:01] hebo-yang commented on #5486
![Screen Shot 2020-12-26 at 9 00 05 PM](https://user-images.githubusercontent.com/66688603/103164231-7ad36f00-47bd-11eb-8a61-0f7236800632.png)

[2020-12-28 02:21] zhzhang commented on #5238
This did get resolved, I was not able to find .set_display_name() in the docs but that is the answer.
I am running on AWS EKS.

[2020-12-28 09:20] frankmanbb commented on #5458
I encountered the same issue "Version 1.0.4 from the install guide crashed metadata-writer too but with a different error: 'Illegal instruction (core dumped)', I don't know it its related to the one above"
This is probably caused by tensorflow compiled with avx and your machine doesn't support that.

my solution is  upgrade from
gcr.io/ml-pipeline/metadata-writer:1.0.4 to gcr.io/ml-pipeline/metada

[2020-12-28 10:22] ShilpaGopal commented on #5248
@DavidSpek Thanks for your input. I do remove ValidatingWebhookConfiguration and MutationWebhookConfiguration after the Kubeflow uninstallations. (I have noticed that Katib's  ValidatingWebhookConfiguration and MutationWebhookConfiguration was never removed as part of uninstallation, So I have a cleanup script which does
$ kubectl delete  ValidatingWebhookConfiguration --all
$ kubectl delete  Muta

[2020-12-28 12:06] drsagitn commented on #5099
on kube master, try running the proxy at port 8080 first
`kubectl proxy --port=8080`

[2020-12-28 12:09] DavidSpek commented on #3838
/lifecycle frozen

[2020-12-28 12:09] DavidSpek commented on #5251
/lifecycle frozen

[2020-12-28 12:48] konradmalik commented on #5458
yeah, thanks. This would fix the illegal instruction, however it did not help on the weird permission error. Same story.

[2020-12-28 19:11] sylus commented on #5201
/remove-lifecycle stale

[2020-12-28 20:35] floleuerer commented on #5429
@etheleon I got the same error as @kosehy - microk8s api running on port 16443 and kfctl is trying to reach port 8080. how did you manage to access the api?

I am trying to setup Kubeflow on a bare metal workstation and managed to access the dashboard and pipelines with Microk8s and MetalLB. Unfortunately I couldn't access the notebooks too.

[code]

[2020-12-28 23:58] unijoy commented on #5480
+1

[2020-12-29 00:31] VibratingPig commented on #5454
Thanks just deployed and it all works fine.

[2020-12-29 00:31] #5454 closed

[2020-12-29 01:45] k402xxxcenxxx commented on #5480
+1

[2020-12-29 02:54] etheleon commented on #5429
Hi @floleuerer and @kosehy,
Could you try setting the `KUBECONFIG` env?

[code]

[code]

[2020-12-29 08:59] saurovn commented on #5465
@nico-kuzak Are you using a Private GKE cluster for your Kubeflow 1.2 instance ?

[2020-12-29 13:55] yanniszark commented on #5465
cc @Bobgy

[2020-12-29 15:46] jerryjin2018 opened #5487 "current kfctl_aws can't to deploy kubeflow 1.2 in AWS China"
/kind bug
current kfctl_aws(kfctl_aws.v1.2.0.yaml) can't to deploy kubeflow in AWS China

**What steps did you take and what happened:**
1) I downloaded the latest yaml file for kfctl_aws from official site ( https://raw.githubusercontent.com/kubeflow/manifests/v1.2-branch/kfdef/kfctl_aws.v1.2.0.yaml )
2) I built my EKS cluster in AWS China ( Ningxia ) region through eksctl succesfully
3) I tried

[2020-12-29 20:07] agustinvinao commented on #2337
Hello,

Anyone has an idea about the status of deploying Kubeflow on an ARM64 cluster? it looks like should be possible after some PRs from @MrXinWang.

Anyone has this running on ARM at the moment? there is any plan to support arm?

thanks

[2020-12-29 20:09] floleuerer commented on #5429
@etheleon thanks! installing Kubeflow works after saving the config and setting the `KUBECONFIG`env.

MetalLb doesn't work but I am able to to access the dashboard, pipelines and notebooks with kubectl port-forwarding and ssh port-forwarding (`ssh -L 8081:localhost:8081 kubeflow-server`).

[2020-12-30 05:43] etheleon commented on #5429
Great! So glad I could help!

Qn: How would MetalLb help?
Does that mean I wouldn't have to set up port forwarding?

[2020-12-30 09:21] slenky commented on #5478
I'd also propose something like `kfctl build -V --file=... --dump | kubectl diff -f -`

Just upgrade your kfctl to 1.1 or 1.2

[2020-12-30 10:28] MarcinHawryluk commented on #5465
@nico-kuzak may you please put the steps needed to reproduce the issue?

[2020-12-30 13:03] kosehy commented on #5429
Hi @floleuerer and @etheleon
Now I can access the kubeflow dashboard using the below command and also access the notebooks.
In my case, I cannot access pipeline seciton.
[code]
However, I cannot access the kubeflow dashboard as admin.

[2020-12-30 13:07] etheleon commented on #5429
What are the status of all pods?

On Wed, 30 Dec 2020 at 9:03 PM, SEUNG HYUN KO <notifications@github.com>
wrote:

--
Regards
Wesley

[2020-12-30 13:14] kosehy commented on #5429
Here is my kubeflow namespace status

<details>
<summary>kubeflow namespace status</summary>

[code]
</details>

[2020-12-30 13:19] etheleon commented on #5429
And the istio namespace?

On Wed, 30 Dec 2020 at 9:14 PM, SEUNG HYUN KO <notifications@github.com>
wrote:

--
Regards
Wesley

[2020-12-30 13:25] kosehy commented on #5429
@etheleon  Here is my istio-system namespace status

<details>
<summary>istio-system namespace status</summary>

[code]
</details>

[2020-12-30 14:23] Dottorepoloni commented on #5480
I have same SW-configuration and same error...

[2020-12-30 14:25] Dottorepoloni commented on #5480
btw any workaround? I'm a bit stuck...

[2020-12-30 15:18] etheleon commented on #5429
everything looks good....

btw, I had to reboot on several occasions and it's normal to sign not as admin.

[2020-12-30 15:21] jonathanglima commented on #3481
@AGKhalil: did you solve this? I'm having exactly the same issue. Just deleting the PVCs did not work for me

[2020-12-30 20:48] tianhaoz95 commented on #5480
@Dottorepoloni doing it with minikube worked for me if you are in a hurry, but still no luck with microk8s.

[2020-12-30 23:52] Bobgy commented on #5465
Can you provide a bit more context? Which server is producing the logs?

[2020-12-31 02:25] jhebelerDS opened #5488 "Cannot login into kubeflow"
Congratulations, Kubeflow is now available.

The dashboard is available at http://10.64.140.43.xip.io

    Username: admin
    Password: XC0LELZ0XWB2A7HRASE4S00NKGNSTX

To see these values again, run:

    microk8s juju config dex-auth static-username
    microk8s juju config dex-auth static-password

I get the prompt at the URL above.  And paste in the values above.  But the login is rejected.  A

[2020-12-31 04:08] kosehy commented on #5429
@etheleon I figured the reason why I cannot log in as admin.

I have to use the kfctl_istio_dex.v1.2.0.yaml instead of kfctl_k8s_istio.v1.2.0.yaml
After changing the kfctl_k8s_istio.v1.2.0.yaml to dex version, I can log in as admin

I am sorry to make you confuse.

Anyway, thank you for your awesome feedback @etheleon!!

[2020-12-31 04:12] etheleon commented on #5429
How about pipelines?

Cool! Now I can add this (the diff yaml) into the gist as well

[2020-12-31 04:24] kosehy commented on #5429
@etheleon Now I can access the pipeline section.
However, still have some problems.
1. I cannot select namespace(no name space)
2. Unable to contact to profile controller

<details>
<summary>kubeflow dashboard</summary>

![image](https://user-images.githubusercontent.com/10434273/103394344-4ec43f00-4b6b-11eb-92b2-d25a2785de28.png)

</details>

3. When I click the Experiments section in the pipelin

[2020-12-31 06:06] kosehy commented on #5429
If anyone is struggled with uninstall microk8s and kubeflow and install fresh microk8s,
I found a good tutorial from @tomalbrecht's comment https://github.com/kubeflow/manifests/issues/959#issue-572061859
### Step to install fresh microk8s
[code]

[2020-12-31 06:52] shintaro-uchiyama opened #5489 "Notebook Servers page doesn't show anything at microk8s.kubeflow"
# problem
I installed kubeflow on macOS by using multipass and microK8s and I cloud show kubeflow dashboard page.
But notebook servers and artifact store page doesn't show properly like below.

- notebook servers page doesn't show anything
  - I also captured console tab because some error is appeared.
<img width="1168" alt="スクリーンショット 2020-12-31 15 27 35" src="https://user-images.githubusercontent

[2020-12-31 07:23] kosehy commented on #5429
@etheleon After installing microk8s 1.18/stable with kfctl_istio_dex.v1.2.0.yaml everything works find!
I will check later with other versions!!

[2020-12-31 07:39] etheleon commented on #5429
[code]

[code]

[2020-12-31 12:33] mabi08 opened #5490 "Problem with Kubeflow 1.2 cognito deployment on EKS"
/kind bug

When I try to rollout the EKS cognito deployment for Kubeflow 1.2 I receive the following error:
![image](https://user-images.githubusercontent.com/50304545/103410500-b8dce400-4b6b-11eb-96d3-a46b58b30b6d.png)

Also the <code>admission-webhook-bootstrap-stateful-set</code> seems to crash:
![image](https://user-images.githubusercontent.com/50304545/103410519-e6299200-4b6b-11eb-8fe3-4db584

[2020-12-31 14:34] talgos1 commented on #155
Hi, any updates with this one? do we have examples of running spark-operator as KFP operator ?

[2020-12-31 15:35] kosehy commented on #5429
I checked 1.18, 1.19, and 1.20 stable version can access kubeflow dashboard.
[code]

[2020-12-31 16:14] mgiessing opened #5491 "User anonymous@kubeflow.org is not authorized to list kubeflow.org.v1beta1.notebooks for namespace: anonymous"
/kind bug

**What steps did you take and what happened:**
Deployed KubeFlow and tried to create a notebook server, but I got an error stating:

`User anonymous@kubeflow.org is not authorized to list kubeflow.org.v1beta1.notebooks for namespace: anonymous`

According to [https://github.com/kubeflow/kubeflow/issues/4731](url) the change is already implemented and the envoy.lua filter seems to be wor

[2020-12-31 16:27] jbottum commented on #3481
@jonathanglima which storage class are you using?  Have you tried with Arrikto Rok as the storage class ?

[2020-12-31 19:21] #5020 closed

[2020-12-31 19:21] #5154 closed

[2020-12-31 19:21] #5290 closed

[2021-01-02 08:16] etheleon commented on #5429
btw, for pipelines to work you'll need to change your kubelet args too `/var/snap/microk8s/current/args/kubelet`

[code]

[2021-01-02 17:13] DavidSpek commented on #5480
microk8s uses the Kubeflow charms. It might be worth creating an issue at https://github.com/juju-solutions/bundle-kubeflow.

[2021-01-02 17:13] DavidSpek commented on #5489
microk8s uses the Kubeflow charms. It might be worth creating an issue at https://github.com/juju-solutions/bundle-kubeflow.

[2021-01-02 17:14] DavidSpek commented on #5485
microk8s uses the Kubeflow charms. It might be worth creating an issue at https://github.com/juju-solutions/bundle-kubeflow.

[2021-01-02 17:22] shintaro-uchiyama commented on #5489
@DavidSpek
Thank you for your advice!
I close this issue and create new issue at https://github.com/juju-solutions/bundle-kubeflow🙇‍♂️

[2021-01-02 17:22] #5489 closed

[2021-01-02 18:40] DavidSpek commented on #3578
/lifecycle frozen

[2021-01-02 18:53] DavidSpek commented on #3578
@kimwnasptd

This would also address an old issue which has since been closed regarding "how to spin up a web application on a Kubeflow cluster": https://github.com/kubeflow/website/issues/2044

[2021-01-02 21:20] Aut0R3V commented on #5482
Hey, anything I can do here?

[2021-01-03 00:41] shintaro-uchiyama commented on #5489
I move issue to https://github.com/juju-solutions/bundle-kubeflow/issues/282.

[2021-01-03 10:48] alessandroferrari opened #5492 "Cannot run mnist example on TFJob on a fresh Kubeflow deployment on local MicroK8s cluster"
When running a TFJob as shown in the [tutorial](https://www.kubeflow.org/docs/components/training/tftraining/#running-the-mnist-example), i run into an error:
`$ kubectl logs mnist-worker-0 -c tensorflow -n kubeflow
 Traceback (most recent call last):
  File "/var/tf_mnist/mnist_with_summaries.py", line 212, in <module>
    tf.app.run(main=main, argv=[sys.argv[0]] + unparsed)
  File "/usr/local/li

[2021-01-03 13:09] #5133 closed

[2021-01-03 13:09] #5143 closed

[2021-01-03 13:09] #5322 closed

[2021-01-03 13:09] #5253 closed

[2021-01-03 13:09] #5181 closed

[2021-01-03 18:32] Dottorepoloni commented on #5480
With minikube I had no luck, but miniKF is running fine... even if miniKF is actually built with minikube 🤔

[2021-01-04 06:45] fatimaafridi commented on #5452
@berndverst  kubeflow v1.2 AKS config file lacks cluster local gateway installation:

  - kustomizeConfig:
      repoRef:
        name: manifests
        path: stacks/kubernetes/application/cluster-local-gateway-1-3-1
    name: cluster-local-gateway

one of a susceptible cause to "503, service unavailable" issue with KFServing custom sample run

[2021-01-04 08:51] zxsimple opened #5493 "Authentication failure for accessing Kubeflow dashboard"
Follow the instruction [Deploy Kubeflow on Ubuntu, Windows and MacOS](https://ubuntu.com/tutorials/deploy-kubeflow-ubuntu-windows-mac#5-access-the-kubeflow-dashboard) to deploy `Kubeflow-lite` on my laptop.

After enabling `kubeflow-lite` with command `KUBEFLOW_BUNDLE=lite microk8s enable kubeflow --ignore-min-mem`. I got the output:

[code]

However, I couldn't access with the provided username a

[2021-01-04 10:16] yanniszark commented on #4817
For notebook-controller, will be addressed by:
https://github.com/kubeflow/kubeflow/pull/5403

[2021-01-04 10:30] kimwnasptd commented on #5482
Hey there @Aut0R3V, the work for this issue will be broken down into two main tasks:
1. Configure the `kubeflow/kubeflow` repo and the Optional-test infra prow cluster to be able to run pre/post submit jobs
2. Write the python files that prow jobs will execute to generate an Argo workflow that will be run

We are working with @PatrickXYS on the first step. Once the Optional-test infra prow cluster

[2021-01-04 10:36] kimwnasptd commented on #5482
@PatrickXYS for the first step of the [on-boarding process](https://github.com/kubeflow/testing/blob/master/aws/Doc/onboarding.md), could you create a PR similar to kubeflow/internal-acls#373 to give write permissions for the `kubeflow/kubeflow` to the third-party-bots?

For the second step, do you have enough permissions to add the necessary Gitbub webhooks to the `kubeflow/kubeflow` repo?

[2021-01-04 10:56] kimwnasptd opened #5494 "Python backend code for crud-web-apps should run with lower versions than Python 3.6"
/kind feature

**Why you need this feature:**
Right now the Python backends and the common backend for our [crud-web-apps](https://github.com/kubeflow/kubeflow/tree/master/components/crud-web-apps) is using `f"strings"` in a lot of places. This requires an environment of Python 3.6 and up to be installed. A lot of linux installations come with a lower version of Python preinstalled, so it adds ext

[2021-01-04 11:33] kimwnasptd opened #5496 "Remove the use of f-strings from the Jupyter web app's backend"
/kind feature

This is a sub-issue from #5494.
We need to remove any `f"strings"` from the backend of the [Jupyter web app](https://github.com/kubeflow/kubeflow/tree/master/components/crud-web-apps/jupyter/backend) in order to be able to use lower versions from Python 3.6 to run it.

/good-first-issue

[2021-01-04 11:46] kimwnasptd opened #5497 "Tensorboards web app's instructions are out of date"
/kind bug

**What steps did you take and what happened:**
I try to follow the instructions in the TWA's [README](https://github.com/kubeflow/kubeflow/blob/master/components/crud-web-apps/tensorboards/README.md) but when I run `ng serve` then the build process fails, since the `getUrl` property of the `BackendService` is removed in the latest common frontend common code.

**What did you expect to h

[2021-01-04 14:46] shawnzhu commented on #5302
@yhwang @yanniszark May I ask for your feedback? it's all about adding support for the Authorization header for the oidc-service with or without X-Auth-Token header (serves both authentication and CSRF purpose today).

[2021-01-04 15:01] yanniszark commented on #5302
@shawnzhu this issue will probably be fixed for 1.3, both in manifests (new authservice version) and in CentralDashboard.

[2021-01-04 18:19] jonathanglima commented on #3481
@jbottum I was using empty storage class. Somehow GCP did not create (or deleted?) the PV's disks. I manually created the disk and it worked, tks 😄

[2021-01-04 18:45] PatrickXYS commented on #5482
In general, we need repo-level admin access to add Github webhook to the kubeflow/kubeflow repo.

[2021-01-04 18:49] Aut0R3V commented on #5482
Hey guys apologies I was busy with something else. I agree with @PatrickXYS. @kimwnasptd thanks for the details! Really appreciate your efforts. I'll send in a PR soon

[2021-01-04 19:26] supertetelman commented on #5335
Isn't `PodDefaults`  a global configuration though?

Either way, the newest webapp changes that allow selecting affinity solves the "same resource name, different chipset" problem.

However, looking at that python file, this issue still appears to be valid. I will have some NVIDIA A100 GPU resources available soon to verify.

[2021-01-04 22:44] kimwnasptd commented on #5482
This is an issue for now, I don't have such permissions on the repo. @Bobgy do you have the required permission to set Github Webhooks in the `kubeflow/kubeflow` repo, or do you know someone who does?

@Aut0R3V I'm confused, what PR?

[2021-01-05 02:22] berndverst commented on #5452
@fatimaafridi I don't know enough about how kfserving or cluster-local-gateway work.

The cluster local gateway is currently only provided with the Azure Active Directory multi-tenancy variant of the Kubeflow deploy configs. That however uses Istio 1-3-1.

After doing some spelunking just now it seems that there is a cluster local gateway that will work with Istio 1.6.X -- but that is located here

[2021-01-05 02:43] nellaivijay commented on #5496
Let me, look on it

[2021-01-05 06:24] Aut0R3V commented on #5482
I didn't realise that @PatrickXYS had sent in #425

[2021-01-05 06:50] k402xxxcenxxx commented on #5480
I think the root cause is the routing problem to jupyter-web

I install the kubeflow on Ubuntu 20.04 using microk8s and follow the installation steps on [official doc](https://www.kubeflow.org/docs/started/workstation/getting-started-multipass/)

I found that after it finished the installation, the virtual service configuration for jupyter-web isn't there.
So I do the walk around (referenced by [i

[2021-01-05 09:27] fatimaafridi commented on #5452
@berndverst verified this fix. It adds a cluster local gateway but doesn't resolve the service unavailability response issue.

[2021-01-05 09:43] kimwnasptd commented on #5496
@nellaivijay that's great!

As also mentioned in #5494 replace any `f"string"` with the classic `"%s" % val` substitution.
/assign @nellaivijay

[2021-01-05 10:28] chinmay22897 opened #5499 "Running Kubeflow using Minikube behind Proxy"
/kind question

**Question:**
I am trying to bring up a local deployment of Kubeflow using Minikube with VirtualBox as driver behind proxies, so for deployment and bringing up the containers and pods I have set the proxies and no proxies according to setup documentations which completes kubeflow setup but when I am trying to connect from inside my pods which I spawned using pipeline eg. https://gi

[2021-01-05 10:52] yanniszark commented on #5335
@supertetelman `PodDefaults` is like part of a PodSpec which you declare once and apply to all Pods with certain labels.
The Notebooks UI integrates with PodDefaults and lists them in its UI, so you can easily add them to your Notebook.
For example, you could create a `NVIDIA A100 GPU` PodDefault, which you would select when you want that particular chipset, along with the `nvidia.com/gpu` resourc

[2021-01-05 11:33] yanniszark commented on #5493
cc @RFMVasconcelos @knkski

Maybe it makes sense to open this issue in https://github.com/juju-solutions/bundle-kubeflow?

[2021-01-05 11:36] yanniszark commented on #5492
cc @kubeflow/wg-training-leads

Maybe it makes sense to open this issue in https://github.com/kubeflow/tf-operator?

[2021-01-05 11:43] yanniszark commented on #5491
@mgiessing the Notebook UI uses `SubjectAccessReview` to determine if your user has the necessary RBAC permissions to do certain actions. The user `anonymous@kubeflow.org` doesn't have the necessary permissions for accessing the Notebook UI endpoints and that's why you get this error.

You can give the user the necessary permissions by creating a RoleBinding. The `kubeflow-edit` ClusterRole should

[2021-01-05 11:45] yanniszark commented on #5490
cc @kubeflow/aws

[2021-01-05 11:45] yanniszark commented on #5488
cc @RFMVasconcelos @knkski
Should this issue be moved to https://github.com/juju-solutions/bundle-kubeflow?

[2021-01-05 11:46] yanniszark commented on #5487
cc @kubeflow/aws

[2021-01-05 11:47] yanniszark commented on #5484
cc @kubeflow/wg-notebooks-leads for triage

[2021-01-05 12:06] gaocegege commented on #5492
I think it is related to the network in your microk8s cluster.

[2021-01-05 13:51] RFMVasconcelos commented on #5493
/assign @knkski

[2021-01-05 13:52] RFMVasconcelos commented on #5493
Thank you @zxsimple for the issue and @yanniszark for the ping. We'll take a look today

[2021-01-05 15:11] munagekar commented on #5496
Python 3.5 has reached end of life. Adding backward support to an application(not library) does not make sense to me. Would kubeflow also support python 2, for developers with older python versions?

I think new contributors could be pointed to tools like virtualenv and pyenv instead. Eventually libraries would drop support for python 3.5 and this effort would be futile.

[2021-01-05 15:18] munagekar commented on #5494
Python 3.5 has reached end of life. Adding backward support to an application(not library) does not make sense to me. Would kubeflow also support python 2, for developers with older python versions?

I think new contributors could be pointed to tools like virtualenv and pyenv instead. Eventually libraries would drop support for python 3.5 and this effort would be futile.

[2021-01-05 15:26] mgiessing commented on #5491
Thanks for your reply @yanniszark !
I added the rolebinding (I needed to give it a name, so I used "juypter-webapp", but I guess that name can be arbitrary) but the error still persists. The rolebinding looks like this now:

[code]

 However I've seen that there was already an active rolebinding called "jupyter-web-app-jupyter-notebook-role-binding" and that looks like this:

[code]

Not sure if t

[2021-01-05 16:27] PatrickXYS commented on #5482
I'll DM bobgy offline, we do have a tool to automate the webhook configuration but it requires admin access, that's the tricky part.

[2021-01-05 21:43] DavidSpek commented on #5493
@yanniszark @RFMVasconcelos I've been seeing a lot of people using micro.k8s and juju that are having issues and reporting them here rather than the juju repository. Is it an idea to add a link to the juju bundle github project on the kubeflow [webpage](https://www.kubeflow.org/docs/started/workstation/getting-started-multipass/) related  so users are directed to the correct place for creating iss

[2021-01-05 22:37] thesuperzapper commented on #5091
bump

[2021-01-06 01:49] zxsimple commented on #5493
@yanniszark @RFMVasconcelos
I need mannually set the static username/password and rollout the `dex-auth` deployment, then it works with the static username and password.
Can you update the tutorial?

[2021-01-06 01:49] #5493 closed

[2021-01-06 02:10] k402xxxcenxxx commented on #5480
The "`/notebook/{namespace}/{jupyter-name}` is not a valid page" problem can be solved by doing the workaround that manually add the new gateway named `kubeflow-gateway`.

[code]

[2021-01-06 07:06] fatimaafridi commented on #5452
@berndverst  Resolved the service unavailability issue. Despite the fact that a 1.6.x istio version is installed prior to deployment, I also added istio-stack installation to my config file for kubeflow deployment. One thing to notice is that the stack is 1-3 based but it seems like istio-stack-1-3 adds some crds and other requirements deemed necessary for KFServing.(possibly)

Here are the two ch

[2021-01-06 11:02] RFMVasconcelos commented on #5493
Hey @zxsimple! Thank you for your comments, I will update the tutorial on this.

[2021-01-06 12:00] remyLarroye commented on #5429
@etheleon and @kosehy

@etheleon and @kosehy Thanks for writing a procedure for installing kubeflow on microk8s.

The installation works and I can access the dashboard, pipeline, notebook. But when I change kubelet args with what is above. Kubeflow no longer starts when I restart it. I tried with microk8s version 1.18/latest, 1.19/latest, 1.20/latest.

[2021-01-06 14:43] jbottum commented on #5496
/area jupyter

[2021-01-06 14:44] jbottum commented on #5491
/area jupyter

[2021-01-06 14:45] jbottum commented on #5490
/platform aws

[2021-01-06 15:35] kbentaleb opened #5501 "MountVolume.SetUp failed for volume "certs" : secret "cert-manager-webhook-tls" not found"
Hello,

I'm trying to install Kubeflow (V1.0, V1.1 and V1.2) and for the 3 versions I have the same issue, the "cert-manager-webhook" pod stuck on ContainerCreating status, bellow the result of the describe pod command:

![Sélection_250](https://user-images.githubusercontent.com/7852160/103786122-5a68a780-503c-11eb-80ad-0746f163ce4d.png)

Secrets:
![Sélection_251](https://user-images.githubusercon

[2021-01-06 16:04] #5214 closed

[2021-01-06 16:07] raravena80 commented on #5195
/remove stale

[2021-01-06 18:54] DavidSpek commented on #5501
@kbentaleb I think this might be due to not having a  `--cluster-signing-cert-file` and `--cluster-signing-key-file` set for the controller-manager.
https://github.com/kubeflow/pipelines/issues/4505

[2021-01-06 19:22] psisoft commented on #5501
@DavidSpek Thank you for the reply
No I found it already in the file /etc/kubernetes/manifest/kube-controller-manager.yaml

- --cluster-signing-cert-file=/etc/kubernetes/pki/ca.crt
- --cluster-signing-key-file=/etc/kubernetes/pki/ca.key

Any others suggestions please ?

[2021-01-06 19:23] kbentaleb commented on #5501
@DavidSpek Thank you for the reply
No I found it already in the file /etc/kubernetes/manifest/kube-controller-manager.yaml

--cluster-signing-cert-file=/etc/kubernetes/pki/ca.crt
--cluster-signing-key-file=/etc/kubernetes/pki/ca.key
Any others suggestions please ?

[2021-01-06 19:25] DavidSpek commented on #5501
@kbentaleb Do you have the logs of the cache-deployer pod?

[2021-01-06 20:10] kbentaleb commented on #5501
@DavidSpek The cache-deployer pod isn't yet created !

[2021-01-06 20:20] DavidSpek commented on #5501
@kbentaleb Sorry, I completely misread the issue. Ignore my previous comments.

Is it possible that it is related to https://github.com/jetstack/cert-manager/issues/2208, as you are running kubernetes 1.14 and the CRD version 0.11?

[2021-01-06 20:26] kbentaleb commented on #5501
@DavidSpek  I didn't run CRD independently, I just installed kubernetes then I was lanching kubeflow installation based on the kubeflow.org tutorial

[2021-01-06 20:50] DavidSpek commented on #5501
@kbentaleb That is the version shown in the screenshot and the one bundled with Kubeflow. According to the documentation for kubernetes versions under 1.16 a different deployment needs to be done. https://cert-manager.io/docs/installation/kubernetes/

If this is the case, the Kubeflow compatibility chart might need updating.

I would try deploying cert-manager independently from Kubeflow and then

[2021-01-06 20:58] kbentaleb commented on #5501
@DavidSpek However in the documentation of kubeflow.org indicates that kubernetes 1.14 is compatible with kubeflow V0.7, V1.0, V1.1 and V1.2, I will upgrade to kubernetes 1.16 and see if the error persist. I will keep you informed of the result. Thanks

[2021-01-06 21:02] DavidSpek commented on #5501
@kbentaleb I have successfully installed on v1.17, v1.18, and have run for a while on v1.19 and am now running v1.20 and everything is working fine. If you have no reason to run an older version of Kubernetes I’d go with a newer release.

[2021-01-07 02:16] thor3333 commented on #5480
@k402xxxcenxxx Thanks for your help.
How do you create a gateway? Can you send the commands ?

[2021-01-07 03:14] shalankig commented on #5460
Need urgent help on this!

[2021-01-07 03:16] shalankig commented on #5460
/help-wanted

[2021-01-07 10:02] Nuniemsis opened #5502 "Error when running minikf command(behind corporate proxy)."
Hi, I am trying to install minikf in a Centos7 following this tutorial:

https://www.kubeflow.org/docs/started/workstation/getting-started-minikf/

My VagrantFile is this:

[code]

I am using vagrant-proxyconf to enable proxy configuration inside minikf. Proxy configuration is succesfully passed to minikf instance.

My environment:

[code]

The command I run is `vagrant up`, then I make `vagrant s

[2021-01-07 12:16] StefanoFioravanzo commented on #5484
/kind bug
/area centraldashboard
/priority p1

[2021-01-07 12:17] StefanoFioravanzo commented on #5484
/remove-kind feature

[2021-01-07 12:42] Vaskozl commented on #2337
I just did a quick deployment  of kubeflow-pipelines with the 1.20 tag of https://github.com/kubeflow/manifests on a arm64 cluster.

All containers fail with:
[code]

As it seem none of the https://console.cloud.google.com/gcr/images/cloud-marketplace/GLOBAL/google-cloud-ai-platform/kubeflow-pipelines?gcrImageListsize=30 images are yet built for arm64.

Thanks to MrXinWang we should now have suppo

[2021-01-07 12:57] PatrickKhouryGhosn opened #5503 "make apply for gcp timing out on "iampolicymembers/test-cluster-admin-istio-wi""
**What steps did you take and what happened:**
We're installing kubeflow on GCP. The mgmt cluster installed well, and now we're deploying our managed cluster. However it's timing out on the below:

[code]

**Anything else you would like to add:**
I don't see the istio iam in the gcp IAM area. Only dataproc, cloudsql, etc..
![image](https://user-images.githubusercontent.com/33845447/103895073-7df12

[2021-01-07 13:27] Vaskozl commented on #2337
I also gave a try using images from the "upstream" registry location e.g. gcr.io/ml-pipeline/frontend but they also don't support arm64 yet :/

[2021-01-07 15:04] PatrickKhouryGhosn commented on #5503
After around 15 minutes it moved but now it's stuck on

iampolicymember.iam.cnrm.cloud.google.com/peugot-cluster-admin-viewer condition met

Is it supposed to take this long?

[2021-01-07 15:04] PatrickKhouryGhosn commented on #5503
After around 10 minutes it moved forward but now it's stuck on iampolicymember.iam.cnrm.cloud.google.com/test-cluster-admin-viewer condition met

Is it supposed to take this long?

[2021-01-07 17:09] alessandroferrari commented on #5492
@gaocegege  right. It was sufficient to simply
`sudo mv /etc/docker/daemon.json /etc/docker/daemon.json.bckp`
`sudo service docker restart`
Afterwards it worked like a charm.
I think I can close this one.

[2021-01-07 17:09] #5492 closed

[2021-01-07 18:13] torbre16 opened #5504 "Wrong SSL certificate for inbound traffic on AKS"
/kind bug

**What steps did you take and what happened:**
We installed Kubeflow 1.2 (+ Istio 1.6.14) according to the following instructions on a clean test AKS with Azure RBAC enabled and without Dex: https://www.kubeflow.org/docs/azure/deploy/install-kubeflow/.

The installation succeeded, and now we try to run the tutorial "MNIST on Kubeflow on Azure" from here: https://github.com/kubeflow/exam

[2021-01-07 19:55] PatrickKhouryGhosn commented on #5503
Ok it was because of the quota limit being exceeded on GCP. I found out with:
` kubectl get containercluster -n ${PROJECT} --context ${MGMTCTXT} -o yaml`

[2021-01-07 19:55] susan-shu-c commented on #5503
I'm encountering the same issue - subscribed

[2021-01-07 19:56] PatrickKhouryGhosn commented on #5503
I found out why. It was because of quota limit being exceeded. You can find out the details with:
`kubectl get containercluster -n ${PROJECT} --context ${MGMTCTXT} -o yaml`

[2021-01-07 19:56] #5503 closed

[2021-01-07 19:57] susan-shu-c commented on #5503
Quick question @PatrickKhouryGhosn if you don't mind, is the `${PROJECT}` you were troubleshooting the KF_PROJECT?

[2021-01-07 19:58] PatrickKhouryGhosn commented on #5503
Yep.

[2021-01-07 20:01] reem commented on #5004
This is still an issue in the latest kubeflow release, the regex is still rejecting completely valid emails, issue is not stale. Adding the users directly is a very involved workaround for end users to have to go through.

[2021-01-07 20:04] reem commented on #5004
Now that pipelines are scoped by user/namespace, this has become a pretty strong blocker for granting access to important namespaces for these users.

[2021-01-07 20:39] kbentaleb commented on #5501
@DavidSpek Yes It works with kubernetes V1.18. Thank you!

[2021-01-07 20:39] #5501 closed

[2021-01-07 23:51] jbottum commented on #5496
/priority p2

[2021-01-07 23:52] jbottum commented on #5491
/priority p2

[2021-01-07 23:53] jbottum commented on #5480
/area jupyter
/priority p2

[2021-01-07 23:54] jbottum commented on #5480
/platform microk8s

[2021-01-07 23:55] jbottum commented on #5462
/area jupyter
/priority p2

[2021-01-07 23:57] jbottum commented on #5444
/area jupyter
/priority p2
/kind feature

[2021-01-07 23:57] jbottum commented on #5418
/area jupyter
/priority p1

[2021-01-07 23:58] jbottum commented on #5418
/kind feature

[2021-01-07 23:58] jbottum commented on #5333
/platform gcp

[2021-01-07 23:59] jbottum commented on #5368
/platform minikube
/priority p2

[2021-01-08 00:01] jbottum commented on #5397
/area istio
/priority p1

[2021-01-08 01:44] jbottum commented on #5497
/area docs
/priority p2

[2021-01-08 01:47] jbottum commented on #5504
/platform azure
/area auth
/priority p1

[2021-01-08 01:49] jbottum commented on #5502
/priority p2
/platform minikf
/area installation
/area question

[2021-01-08 01:50] jbottum commented on #5499
/priority p2
/area installation
/platform minikube

[2021-01-08 01:52] jbottum commented on #5487
/platform aws
/priority p2
/area kfctl
/area installation

[2021-01-08 01:54] jbottum commented on #5490
/priority p2
/area installation
/area kfctl

[2021-01-08 01:55] jbottum commented on #5490
@mabi08 did you get this resolved?

[2021-01-08 02:00] jbottum commented on #5478
/priority p2
/area kfctl

[2021-01-08 02:01] jbottum commented on #5467
/priority p2
/area installation
/platform gcp

[2021-01-08 02:02] jbottum commented on #5467
@senthilsivanath Hi, did you find an architecture / configuration to support your requirements ?

[2021-01-08 02:04] jbottum commented on #5465
/priority p2
/area logging
/platform gcp

[2021-01-08 02:07] jbottum commented on #5460
/priority p1
/platform gcp

[2021-01-08 02:10] jbottum commented on #5460
@shalankig did you get this resolved ?

[2021-01-08 02:16] jbottum commented on #5458
/priority p2
/area logging

[2021-01-08 02:17] jbottum commented on #5455
/priority p2
/platform azure
/area jupyter

[2021-01-08 02:19] jbottum commented on #5449
/area auth
/priority p2

[2021-01-08 02:24] jbottum commented on #5441
/area installation
/priority p2

[2021-01-08 02:28] jbottum commented on #5435
/priority p2
/area installation
/area auth

[2021-01-08 02:30] jbottum commented on #5435
@iedmrc Hi, did you define an architecture / configuration for this requirement?  Which platform (GCP, Azure, AWS, on-prem, ...) are you running on ?

[2021-01-08 02:32] jbottum commented on #5443
/platform azure
/priority p2
/area installation
/area kfctl

[2021-01-08 02:33] jbottum commented on #5423
/priority p2
/platform minikf
/area installation

[2021-01-08 02:37] jbottum commented on #5419
/area testing
/priority p1
/platform gcp

[2021-01-08 02:40] jbottum commented on #5415
/area installation
/platform minikf
/priority p1

[2021-01-08 02:41] jbottum commented on #5415
@naveensrinivasan Hi Naveen, did you get this resolved?  How much ram do you have on your server?

[2021-01-08 03:05] k402xxxcenxxx commented on #5480
@thor3333 It could be just create a new redundant one.
[code]

[2021-01-08 06:37] rushins commented on #5096
for me its asking password
sudo microk8s.enable kubeflow
Password [PWBRLB2W6XJBYTQUAQZ11FURCKYJ0I]:

not sure what to enter  and what is this password came from

[2021-01-08 07:15] shalankig commented on #5460
Not yet @jbottum

Also recently, we’ve been occasionally observing the same

`Timeout: request did not complete within requested timeout`

issue for Kubeflow Version 1.0.2 with our GKE Versions 1.15.x and 1.17.x clusters as well

[2021-01-08 07:18] iedmrc commented on #5435
The platform is AWS. The solution is not kubeflow for me. Prefect does the job great: https://docs.prefect.io/core/concepts/mapping.html . And have a much more active community than kubeflow :)). If you need, I suggest you check it out.

[2021-01-08 08:05] anneum commented on #5468
@DavidSpek Thanks for your help. I have tested it but unfortunately the error still exists.

[2021-01-08 10:42] yanniszark commented on #5004
/reopen
/lifecycle frozen

Hi @reem! The contributor UI is not a very well-maintained component.
Its backend (KFAM) is following a road to deprecation.

So I have 2 suggestions:
First, did this approach work for you?

It's not UI-driven, but enables you to understand the necessary permissions and possibly build tooling on top of that.

Another way would be to make a contribution to relax this vali

[2021-01-08 10:44] jonasdebeukelaer commented on #4875
Same here, any ideas why it's spamming so much? Something about error listing certain resources...
And are other just dealing with this filtering these out through GCP logging or other?

[code]

[2021-01-08 11:02] jonasdebeukelaer opened #5505 "Clash when updating kubeflow if managing more than one instance"
/kind bug

**What steps did you take and what happened:**
I Upgraded two Kubeflow instances using my management cluster.

I have two managed clusters, A and B, and the default context in the management cluster points to the namespace for cluster B, since that is the second instance I set up.

When I tried to upgrade cluster A, the upgrade script simply uses the default context of the management cl

[2021-01-08 13:04] #5497 closed

[2021-01-08 15:27] senthilsivanath commented on #5467
@jbottum not really.

[2021-01-08 16:03] jbottum commented on #5467
@senthilsivanath would you like to set-up a time to discuss with some Kubeflow / Data Management SMEs, perhaps next Friday, Jan 15?

[2021-01-08 16:45] yanniszark commented on #5201
/lifecycle frozen

[2021-01-08 17:42] knkski commented on #5096
@rushins: that password is auto-generated as a default option. You can press enter to accept it, or type in your own instead. I'll update that test to make that more clear

[2021-01-09 13:08] PatrickGhosn opened #5507 "On a fresh installation on GKE I'm getting this: Pipelines Error: failed to retrieve list of pipelines. Katib opens a blank page."
/kind bug

**What steps did you take and what happened:**
Made a new managed cluster on GKE and and deployed Kubeflow on it.

Got the below:
![image](https://user-images.githubusercontent.com/33845447/104092259-71510900-528b-11eb-9835-aa9872122723.png)

When I click on details I get:
`Error occured while trying to proxy to: test-cluster.endpoints.bc-pg.cloud.goog/apis/v1beta1/pipelines?page_token=

[2021-01-09 14:07] jerryjin2018 commented on #5487
Hi all,
May I know any time point for this issue? Thank you.

[2021-01-09 14:53] rawc0der opened #5508 "Unrecognized CRD resources during fresh install kfctl_k8s_istio_v1.2.0"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

During new install using standard `../kfctl apply -V -f ${CONFIG_FILE}` method, the installer is retying indefinitely because of corrupted `"experiments.kubeflow.org",  "suggestions.kubeflow.org", "trials.kubeflow.org"  ` CRD resources.

Using following
CONFIG_FILE="https://raw.githubus

[2021-01-09 16:36] rawc0der commented on #5508
Managed to deploy eventually by **removing the present CRD** files and after a install retry the whole deployment finished without errors.
After some time waiting, some `istio-namespace` pods still won't come up and I found the same issues in: #959 and #5248

[2021-01-09 19:05] PatrickGhosn commented on #5468
What size is your cluster? I found anything less than 8 CPUs  does not run unless you reduce the requested cpu for each service in the yaml files.

[2021-01-09 23:15] #5296 closed

[2021-01-09 23:15] #5324 closed

[2021-01-09 23:15] #5217 closed

[2021-01-09 23:15] #5189 closed

[2021-01-09 23:15] #5300 closed

[2021-01-09 23:15] #5149 closed

[2021-01-09 23:15] #5319 closed

[2021-01-09 23:15] #5152 closed

[2021-01-09 23:15] #5169 closed

[2021-01-09 23:15] #5194 closed

[2021-01-09 23:15] #5206 closed

[2021-01-09 23:15] #5210 closed

[2021-01-09 23:15] #5268 closed

[2021-01-09 23:15] #5293 closed

[2021-01-09 23:15] #5297 closed

[2021-01-09 23:15] #5299 closed

[2021-01-09 23:15] #5308 closed

[2021-01-09 23:15] #5317 closed

[2021-01-09 23:15] #5245 closed

[2021-01-09 23:15] #5277 closed

[2021-01-09 23:32] yanniszark commented on #5308
PR is merged so this issue should be resolved.

[2021-01-10 14:05] #5233 closed

[2021-01-10 19:07] torbre16 commented on #5504
It works now after I created a service entry for https://github.com via

[code]

Is this the right way to deal with the issue? Would it make sense to add that step to the documentation?

Best regards,
torbre16

[2021-01-11 06:07] chinmay22897 commented on #3347
I couldn't see any information which could help me in setting up on-prem kubeflow behind proxy, not at all properly documented.

[2021-01-11 08:15] anneum commented on #5468
@PatrickGhosn the cluster have 20 cores distributed over 4 CPUs.
I can't find anything about the requested CPU in the description of the service.
Can you tell me where I can find these?

[2021-01-11 08:22] PatrickGhosn commented on #5507
Using a different namespace for the user solved this issue.

[2021-01-11 08:22] #5507 closed

[2021-01-11 08:30] ajinkya933 opened #5687 "GPU nodegroup unable to scale"
### What steps did you take:
[A clear and concise description of what the bug is.]

Heres my cluster setup.yaml file for AWS:

[code]
I created a cluster from this yaml file using this command : `eksctl create cluster -f rnd_combo.yaml`. After that I enabled autoscaler on this cluster:

[code]

I deployed kubeflow using official docs: https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/
Vers

[2021-01-11 09:47] PatrickGhosn commented on #5468
On GKE it should show in the node pool details.
![image](https://user-images.githubusercontent.com/33845447/104165969-be0b2000-5402-11eb-8006-fc5a51f964d5.png)

Not sure about other platforms.

[2021-01-11 10:03] dontmint commented on #5248
This works for me, kubeflow 1.2.0, rancher 1.9.4. After configed `kube-controller-manager` like this comment [https://github.com/rancher/rancher/issues/14674#issuecomment-535234849](url), I deleted kfdef and recreated it.
Thanks a lot  @ShilpaGopal

[2021-01-11 10:31] konradmalik commented on #5504
Just to add to this, we face the exact same issue. Is it really the only solution to add service entries host by host? I don't think this is practical.

I was writing my issue when I noticed this one. Pasting it here as it contains probably more information:

/kind bug

**What steps did you take and what happened:**
Deployed notebooks don't accept outbound TLS traffic, although not all TLS traffic

[2021-01-11 10:43] anneum commented on #5468
Thank you @PatrickGhosn
In the dashboard I can see that only 15% of the cores are reserved.

[2021-01-11 11:31] gayathry2612 commented on #5276
I'm on Catalina, this is not solved.

[2021-01-11 15:16] mabi08 commented on #5490
Hey I guess it was an issue with my proxy configuration. I ran the same config directly from a pod within the cluster and it works. Issue can be closed.

[2021-01-11 15:16] #5490 closed

[2021-01-11 18:39] berndverst commented on #5443
@samuda2019 please let me know if this is still an issue with the latest deployment instructions and configuration files.

[2021-01-11 18:42] berndverst commented on #5455
I'm confident the latest deployment config resolves the issue. I'll go ahead and close this issue. Please redeploy with the latest config file. You can find all the config files for version 1.2 at https://github.com/kubeflow/manifests/tree/v1.2-branch/kfdef

/close

[2021-01-11 18:42] #5455 closed

[2021-01-11 18:47] samuda2019 commented on #5443
It worked after making sure to use ISTIO version 1.6.X. Thank you.

[2021-01-11 19:29] RichardBronosky commented on #425
If you want to understand the `docker run -it --rm -e GRANT_SUDO=yes` thing, see https://github.com/jupyter/docker-stacks/blob/master/base-notebook/start.sh#L89-L93

I will add that if the way the maintainers have chosen to handle users and password, you can change it in a Dockerfile. I explain how to add/change user/password in https://askubuntu.com/a/1307156/146273
[code]

[2021-01-11 19:48] berndverst commented on #5452
@fatimaafridi seems likely!

What's a simple way for me to reproduce the original issue? What URL should I access, or what should I configure first?

I think adding the Istio 1.6(?) CRDs from here should also do the trick.

I refactored things a bit. Here is the updated deployment config from my branch:
https://github.com/berndverst/manifests/blob/v1.2-branch/kfdef/kfctl_azure.v1.2.0.yaml

The key

[2021-01-11 20:23] berndverst commented on #5443
/close

[2021-01-11 20:23] #5443 closed

[2021-01-11 22:22] cn007b opened #5509 "Running TensorBoards list"
/kind question

**Question:**

I've added TensorBoard to my pipeline accordingly to [this doc](https://www.kubeflow.org/docs/pipelines/sdk/output-viewer/#tensorboard), and all works flawless!
After some time of using this pipeline I have bunch of finished experiments,
and in some of them I still have running TensorBoards (because stop button was not clicked).
Is there a simple way to find experime

[2021-01-12 07:17] tomalbrecht commented on #5429
It seems that I had a similar problem. Does this solution help? https://github.com/ubuntu/microk8s/issues/1366#issuecomment-654411307

[2021-01-12 07:52] kd303 opened #5510 "Kubeflow Multiuser Isolation: Read-only access"
/kind question

**Question:**
[You can ask any question about this project.]

We are trying to create a separate namespace where the different runs can be submitted, I understand from the documentation currently that pipelines have restrictions about namespaces, however our use-case is the runs where this is happening we want to allocate the GPU resources in that namespace, so users can submit the

[2021-01-12 10:19] fvde opened #5511 "Caching Documentation incorrect for 1.2"
As far as I can tell the documentation for Caching (https://www.kubeflow.org/docs/pipelines/caching/) is incorrect for 1.2. The mutatingwebhookconfiguration is not called cache-webhook, but **cache-webhook-kubeflow**. I.e. all commands need to be updated from
`kubectl patch mutatingwebhookconfiguration cache-webhook -n ${NAMESPACE} --type='json' -p='[{"op":"replace", "path": "/webhooks/0/rules/0/o

[2021-01-12 10:26] yanniszark commented on #5510
@kd303 I think this issue is better suited for https://github.com/kubeflow/pipelines/.
The mechanism for partitioning resources (e.g., GPUs) between namespaces is called `ResourceQuotas`.
https://kubernetes.io/docs/concepts/policy/resource-quotas/

If I understand correctly, your policy is the following:
- Single shared namespace with all GPUs (so other user namespaces should have 0 quotas).
- Use

[2021-01-12 14:20] remyLarroye commented on #5429
After doing the installation like in : https://gist.github.com/etheleon/80414516c7fbc7147a5718b9897b1518 until the section **Access kubeflow dashboard**.

I change with the Kubernetes dashboard `containerRuntimeExecutor: pns`  in ConfigMap `workflow-controller-configmap` like said in https://github.com/kubeflow/pipelines/issues/4302#issuecomment-672819792. And sample pipelines run normally

[2021-01-12 15:12] DavidSpek commented on #5511
I think this issue belongs over at https://github.com/kubeflow/website/.

[2021-01-12 16:50] AboorvaDevarajan opened #5512 "istio-init: iptables v1.6.0: can't initialize iptables table `nat': Permission denied (you must be root)"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Installed Kubeflow on a standalone existing kubernetes cluster by following these steps
https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

[code]
Soon after the deployment, I can see some of the pods crashed and went into `Init:CrashLoopBackOff` state.

[code]

**Cause:** `isti

[2021-01-12 17:23] lehrig commented on #5491
Had the same issue but fixed it with using the correct namespace (anonymous is relevant, not kubeflow!):
`kubectl create rolebinding -n anonymous --clusterrole=kubeflow-edit --user=anonymous@kubeflow.org`

[2021-01-12 18:06] chinmay22897 commented on #4806
If it is of help to anyone, what happened to me was after setting every proxy details and all, the deployment started but then failed to call webhook.cert.manager.io so after many trial and errors what I figured was that somehow during deployment the namespace kubeflow wasn't able to connect with webhook after some number of trials. So what i did was during deployment either let it fail such that

[2021-01-12 21:50] thesuperzapper commented on #5496
@kimwnasptd I don't see a reason for this, as every [Python version before 3.6 is now EOL](https://en.wikipedia.org/wiki/History_of_Python#Table_of_versions).

I think we should actually consider doing the opposite, as F-Strings are much easier to read.

[2021-01-12 22:38] DavidSpek commented on #5494
It seems like the issue that actually needs to be solved is that Linux installations come with software installed that is EOL and isn't receiving security updates anymore.

[2021-01-12 23:14] peteboothroyd commented on #5486
I was getting this too following the minikube tutorial. Running `minikube service istio-ingressgateway -n istio-system` showed a number of URLs and the mapping to the ports defined in the resource (the tutorial specifies http2), however strangely the only one that worked was the URL http://127.0.0.1:65365 (for reference the tutorial http://<INGRESS_HOST>:<INGRESS_PORT> gave http://192.168.49.2:313

[2021-01-12 23:36] jbottum commented on #5512
/area istio
/priority p2

[2021-01-12 23:37] jbottum commented on #5511
/area pipelines
/area docs
/priority p1
/kind bug

[2021-01-12 23:40] jbottum commented on #5510
/priority p2
/area auth

[2021-01-12 23:42] jbottum commented on #5509
/area tensorboard
/priority p2
/

[2021-01-12 23:45] jbottum commented on #5483
/area manifests
/priority p1
/area notebook

[2021-01-12 23:52] jbottum commented on #5467
@senthilsivanath checking back to see if you would like to discuss this architecture.  you might check out Rok (and the Rok Registry) which are based on a K8s storage class and enable your data science environment (ML code, data, metadata, and dependencies) to be re-created in another cluster, https://www.arrikto.com/rok-data-management/

[2021-01-13 11:41] DavidSpek commented on #5512
It looks like all the pods that are in a CrashLoopBackOff are part of KFP.

[2021-01-13 11:45] DavidSpek commented on #5479
I think this should probably be over at https://github.com/kubeflow/pipelines/ for better tracking.
/area pipelines

[2021-01-13 11:52] DavidSpek commented on #5444
@ifs-imaddjelaili Kubeflow uses Istio and creates an istio gateway so you should not have any ingresses for Kubeflow by default. It might be the jupyter container itself that is giving that error. What might be an alternative for uploading large files is the Volume Manager UI that Arrikto will open source soon https://journal.arrikto.com/democratizing-the-use-of-pvcs-with-the-introduction-of-a-vol

[2021-01-13 11:54] DavidSpek commented on #5417
platform/aws

[2021-01-13 12:01] DavidSpek commented on #5414
This might be a reason for implementing SMI https://github.com/kubeflow/kubeflow/issues/4660. This was also discussed in the community meeting on December 8th 2020, https://youtu.be/OKqx3IS2_G4?t=1910.

[2021-01-13 12:06] DavidSpek commented on #5409
@liuweibin6566396837 It sounds like you need to deploy some sort of storage provisioner on your cluster. Since you are using rancher, longhorn might be a good fit and it is very easy to setup. If you have large datasets that multiple people need to access, and no storage solution other than local-path, it sounds like your cluster nodes are not setup with storage duties in mind. If you have an exis

[2021-01-13 12:12] DavidSpek commented on #3656
The three issued mentioned above by @jlewi have since been closed. Can this issue also be closed?

[2021-01-13 12:29] DavidSpek commented on #3907
Would this be covered by https://github.com/kubeflow/kubeflow/pull/5470?

[2021-01-13 12:29] yanniszark commented on #3712
Closing as no longer relevant.

[2021-01-13 12:29] #3712 closed

[2021-01-13 12:35] DavidSpek commented on #3967
@yanniszark Maybe this can be implemented in the installation method for release 1.3?

[2021-01-13 12:39] DavidSpek commented on #4015
@PatrickXYS Given that the linked PR https://github.com/kubeflow/kfctl/pull/249 was closed, can this issue also be closed?

[2021-01-13 12:55] PatrickGhosn commented on #5510
I applied the clusterroles and the bound them to my namespace, but I'm still getting RBAC. Any idea why?

[2021-01-13 12:55] DavidSpek commented on #4480
@yanniszark Given the plans to upgrade istio, I think this issue can be closed and should be recreated for the newer version of istio once it has been implemented. Implementing E2E tests for istio 1.3.1 at this point seems a bit pointless

[2021-01-13 13:02] DavidSpek commented on #4730
@andreyvelich What still needs to be done to be able to close this issue?

[2021-01-13 13:07] yanniszark commented on #4480
Istio manifests will actually be tested as part of wg-manifests. Also agree with what you say @DavidSpek. We can close this.
/close

[2021-01-13 13:07] #4480 closed

[2021-01-13 13:10] yanniszark commented on #5510
@kd303 @PatrickGhosn please open this issue in https://github.com/kubeflow/pipelines/, as it is the place where you'll get the help you need. Closing this issue.
/close

[2021-01-13 13:10] #5510 closed

[2021-01-13 13:12] DavidSpek commented on #4806
Are some of the issues above possibly related to https://github.com/kubeflow/kubeflow/issues/5501, where it seems that the bundled cert-manager CRD (0.11) is not compatible with kubernetes versions <1.16?

[2021-01-13 13:23] gtoullier opened #5514 "The application-controller-stateful-set-0 writes logs over and over again."
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
After installation of kubeflow 1.2, the application-controller-stateful-set-0 writes same logs indefinitely.
Here an extract with the kubeflow-pipelines but I have the same behaviour with other applications (centraldashboard, argo...)

[code]
It writes something like 70 thousands logs/mi

[2021-01-13 14:01] DavidSpek commented on #5179
This issue should be closed as https://github.com/kubeflow/kubeflow/issues/5179#issuecomment-667840991 should solve the problem.

[2021-01-13 14:09] DavidSpek commented on #5099
@chinmay22897 As far as I know, kfctl uses the kube config file at `~/.kube/config`. If you execute `cat ~/.kube/config` you should see `server` under `clusters.cluster`. That is the address that is used to communicate with the kubernetes-master.

[2021-01-13 14:15] DavidSpek commented on #5061
Bump as I feel this is still relevant

[2021-01-13 14:16] DavidSpek commented on #5157
Bump

[2021-01-13 14:23] DavidSpek commented on #5341
@ShilpaGopal Is this issue still relevant or can it be closed?

[2021-01-13 14:26] DavidSpek commented on #5342
@agnz Does this issue still occur?

[2021-01-13 14:27] DavidSpek commented on #5347
@LuChengTHU Can this issue be closed given the above PR was merged?

[2021-01-13 14:33] DavidSpek commented on #5349
@Jeffwan The linked issue is not due to Kubernetes 1.19. I am now running 1.20 and have not found issues with my use. I have raised the issue that more versions of Kubernetes should be validated here: https://github.com/kubeflow/website/pull/2451.

[2021-01-13 14:34] DavidSpek commented on #5356
Can this issue be closed, given that it is a Kale issue and hasn't active?

[2021-01-13 14:44] andreyvelich commented on #4730
@DavidSpek user still can submit Experiments in Kubeflow namespace even if Katib is installed as part of Kubeflow, because of that some of them still getting the problem with Webhooks.

We can follow mechanism that I proposed here: https://github.com/kubeflow/kubeflow/issues/4730#issuecomment-636567584 or think about better way.

[2021-01-13 14:48] DavidSpek commented on #5361
Since Kubeflow 1.2 has been released, can this be closed?

[2021-01-13 14:53] ShilpaGopal commented on #5341
@DavidSpek , we should close it. There is no option to schedule the pod to a particular node on a multi node application. We can achieve this by editing manifest but it's a lot of work. Moreover, deploying everything in a single node is not recommended as it results in single point of failure.

[2021-01-13 14:53] #5341 closed

[2021-01-13 16:26] PatrickXYS commented on #4015
@DavidSpek It depends, the reason that we close the PR is we haven't heard back from author.

[2021-01-13 16:28] PatrickXYS commented on #5361
/close

[2021-01-13 16:42] DavidSpek commented on #4015
@PatrickXYS I thought you added it given https://github.com/kubeflow/kfctl/pull/249#issuecomment-721433640

[2021-01-13 19:16] ArVar commented on #5480
Same here. Unfortunately the mentioned workarounds didn't work for me. I'm using microk8s setup (multipass with 1.20/latest microk8s snap).

[2021-01-13 19:18] kimwnasptd commented on #5496
Indeed, we shouldn't have an issue with using `f"strings"` even Python 3.6 is EOL.

Although I still prefer the use of `%` substitution so we can move on with both this and #5495

[2021-01-13 22:23] PatrickXYS commented on #4015
@DavidSpek I haven't, we can close the issue and revisit afterwards.