[2019-05-30 18:33] prodonjs commented on #3236
/cc @avdaredevil
/cc @ajayalfred

Wanted to run a quick set of questions by you. Kubeflow Pipelines has two major artifact types; Pipeline definitions that define a workflow graph to be executed in the Kubernetes engine, and Pipeline runs that are instantiations of those definitions run at a particular time. In my mind, it seems like it would be useful to have quick access to both.

This screensho

[2019-05-30 18:39] #2452 closed

[2019-05-30 19:58] ajayalfred commented on #3236
Great suggestion! I think we should show them as 2 distinct cards.

For the pipeline definition card, the title can read "Pipelines" and show the 5 most recently used/modified/uploaded pipelines.

For pipeline runs card, the title can read "Pipeline Runs" and show the 5 most recent runs. Agree showing status will be useful. Instead of the pipeline icon to the left of each run, show the status in t

[2019-05-30 20:42] prodonjs commented on #3236
Excellent! Thanks for the feedback. In terms of putting the Pipeline cards on top of one another, which column do you think it makes the most sense to put them? The reason I staggered them across columns was to try to create some balance and avoid one column being significantly taller.

My proposal would be to move the documentation to the first column, use the second column for the cards that ref

[2019-05-30 20:50] ajayalfred commented on #3236
I'd say keep GCP and Docs card in 3rd column. Quick actions, utilization cards in column 1 and the rest in the middle column. Wdyt?

Also, the pipeline/runs/notebooks cards should probably all get the "Recent" prefix for the card title. Helps clarify why the user is seeing these 5 notebooks.

The x-axis label in the charts is displayed at an angle. Can this be changed to horizontal text? That woul

[2019-05-30 20:52] ajayalfred commented on #3236
One more thing I've noticed is that the second line of text in the card row is a little bigger than it should be. Use the text styling of the description line from the Docs card (noticeably smaller) in all other cards – that should save some vertical space across all list cards.

[2019-05-31 12:24] #3370 closed

[2019-05-31 15:39] avdaredevil commented on #3348
Should we consider an interval refresh, in case namespaces, get added or removed, or are those pretty major events (that won't happen too frequently) thus we should expect a reload in that case?

[2019-05-31 15:42] #3120 closed

[2019-05-31 16:33] prodonjs commented on #3348
I'm assuming that once the UI integration with the Profile Controller is in place, namespace creation should be an event that we are managing. Even then, I wouldn't imagine it's something that a particular user would do all that often where we'd want to grab new namespaces repeatedly.

The other piece that would be interesting to know is whether we only want to show namespaces with Kubeflow items

[2019-05-31 16:41] #953 closed

[2019-05-31 17:33] hitesh1907nayyar opened #3380 "Pipleline example for KubeFlow not working on GCP"
Hi.

I have installed kubeflow on kubernetes for gcp. I have a running kubeflow central dashboard. When i move to run pipeline and run -  (XGBoost - Training with Confusion Matrix) as i am getting the below error when the pod/xgboost-trainer-qw77f-1190200260.

MountVolume.SetUp failed for volume "gcp-credentials" : secrets "user-gcp-sa" not found

 Warning  FailedMount  1m (x16 over 35m)  kubelet,

[2019-05-31 19:01] rawkintrevo commented on #3267
sorry to be rude and steal- but I work at IBM and I needed to get one in just to make sure my ICLA and other stuff was squared up. Also this was a very quick fix (e.g. 10 days no activity).

[2019-05-31 20:03] wlongxiang commented on #3267
@rawkintrevo please go ahead work on it, I was recently busy with other stuff.

[2019-05-31 23:05] zabbasi commented on #2992
@kimwnasptd any update?

[2019-05-31 23:57] holdenk opened #3382 "Build instructions missing dependency download"
The build instructions in the developer guide assume the user has `GO111MODULES` turned on and has downloaded the modules with `go mod download`. We can add a step clarifying this.

[2019-06-01 00:06] holdenk opened #3383 "Building with `all=-N` tries to overwrite files in go installation"
We can just build with ```all=-N``` appears to try and rebuild go core libraries without optimizations resulting in permission denied errors when not running as root.

Instead we can try building with ```-N``` instead of ```all=-N```.

[2019-06-01 07:14] jlewi commented on #3361
@holdenk any suggestions on what can be improved? Right now we create an SA and store the service account as a K8s secret that can be mounted into pods.

So granting additional permissions would mean changing IAM roles for that account

[2019-06-01 14:01] kkasravi opened #3387 "notebook-controller deployment fails with CrashLoopBackOff when --use_basic_auth --use_istio=false"
notebook-controller assumes a virtualservice is available
https://github.com/kubeflow/kubeflow/blob/master/components/notebook-controller/pkg/controller/notebook/notebook_controller.go#L97

and should take an environment variable setting to see if watching the VirtualService is needed

[2019-06-01 14:02] kkasravi commented on #3387
/kind bug

[2019-06-01 14:02] kkasravi commented on #3387
/priority p1

[2019-06-01 14:03] kkasravi commented on #3387
/area jupyter

[2019-06-02 03:28] hitesh1907nayyar opened #3388 "JupyterHub login unauthorized (401) - Kubeflow Version (0.4.0-rc.2)"
Hi All,

Require your help as new to kubeflow. Basically in order to understand kubeflow i followed steps by steps to deploy  an example which is  - summarizing GitHub issues using a trained model. I deployed this on Kubeflow Version (0.4.0-rc.2). I open the centralized dashbaord it runs fine. When i click on JupyterHub it throws as error of JupyterHub login unauthorized with error code 401.

[I 2

[2019-06-02 03:41] hitesh1907nayyar opened #3389 "MountVolume.SetUp failed for volume "sa-key" : secrets "admin-gcp-sa" not found"
Hi All,

Require your help as new to kubeflow. Basically in order to understand kubeflow i followed steps by steps to deploy an example which is - summarizing GitHub issues using a trained model. I deployed this on Kubeflow Version (0.4.0-rc.2). For some of the pods i am getting the below error as they are kept in the ContainerCreating stage. Also i have shown the logs related to describe. Please

[2019-06-02 08:13] graykode commented on #3332
NOT `export KUBEFLOW_VERSION=v0.5-branch`
`export KUBEFLOW_VERSION=0.5-branch` is right and
do `curl https://raw.githubusercontent.com/kubeflow/kubeflow/v0.5-branch/scripts/download.sh | bash`.

because in https://raw.githubusercontent.com/kubeflow/kubeflow/v0.5-branch/scripts/download.sh, character is added. `KUBEFLOW_TAG=v${KUBEFLOW_VERSION}` `v`

[2019-06-02 17:09] jlewi commented on #2852
Related issue: datawire/ambassador#504

[2019-06-02 17:10] jlewi commented on #1710
Duplicate of #2852

Closing this one in favor of #2852

[2019-06-02 17:10] #1710 closed

[2019-06-02 17:11] jlewi commented on #1710
Duplicate of #2852

[2019-06-02 19:32] sarahmaddox commented on #3267
/close

Thanks @rawkintrevo and @wlongxiang!

[2019-06-02 19:32] #3267 closed

[2019-06-02 20:51] jlewi commented on #1583
Lyft has released an operator for Flink
https://github.com/lyft/flinkk8soperator

Some additional work is probably needed to use that with Apache beam.

/cc @anandswaminathan

[2019-06-02 22:51] woop commented on #2141
Just bumping this. Here is a demonstration of using Kubeflow, Fairing, and Feast together (from KubeCon): https://github.com/gabrielwen/LinearModel/blob/master/feast-taxi-job.ipynb

[2019-06-03 09:29] jessehu commented on #2863
Hi @pisymbol Which k8s version is required? I'm using v1.13.4 and have this error too.

[2019-06-03 17:12] gabrielwen commented on #2766
@kunmingg should we close this?  currently basic auth could work with ISTIO.  Should we close it or should we wait until basic auth doesn't need ambassador?

[2019-06-03 17:12] gabrielwen commented on #2978
/close

[2019-06-03 17:12] #2978 closed

[2019-06-03 17:46] dellelce opened #3391 "Python 3.7 is now supported by Tensorflow"
This is now out of date as Tensorflow now supports 3.7 (see https://github.com/tensorflow/tensorflow/issues/20517):
https://github.com/kubeflow/kubeflow/blob/1f8d0008c02b7582a45d4bce0d7d34ae97c081ce/components/tensorflow-notebook-image/Dockerfile#L97

[2019-06-03 17:53] kunmingg commented on #2766
@gabrielwen
Does basic auth work with ISTIO on master head now?
Can you share the command?

[2019-06-03 17:59] gabrielwen commented on #2766
I think what I did is:
`kfctl init basic-auth-testing --platform gcp --project gabrielwen-learning -V --skip-init-gcp-project --use_istio --use_basic_auth`
`kfctl generate all -V`
`kfctl apply all -V`

[2019-06-03 18:06] gabrielwen commented on #3387
/assign @gabrielwen

[2019-06-03 19:29] lluunn opened #3392 "kfctl apply fails when kfctl init has no --project"
If I don't pass --project at `kfctl init`, it will succeed, but apply will fail:

[code]

I thought project could be read from gcloud config.
If that's not the case, we should fail earlier at init and provide better error message.

cc @gabrielwen

[2019-06-03 21:13] jlewi commented on #3391
@dellelce Thanks any interest in submitting a PR to fix this?

[2019-06-03 21:19] #2821 closed

[2019-06-03 22:48] #3387 closed

[2019-06-03 23:37] #3305 closed

[2019-06-04 00:57] #2272 closed

[2019-06-04 01:57] #2563 closed

[2019-06-04 02:09] rverma-nikiai opened #3396 "use a different service mesh"
We are using aws app-mesh currently and we are very willing to use kubeflow. The default installation through kfctl.sh installs duplication alb-ingress-controller (we already have one deployed) and complete istio-system. Will it be possible to build a deployment guide which allows using an alternate service-mesh.

I would be happy to add code contribution and testing for the same.

[2019-06-04 02:56] #3236 closed

[2019-06-04 04:32] kkasravi commented on #3396
@rverma-nikiai we're deploying istio as a kustomize overlay (see https://github.com/kubeflow/manifests/pull/102) which would allow a different service mesh to be configured (as an alternative overlay).

Would this be part of the aws install (where you install aws app-mesh)?

[2019-06-04 06:08] Ark-kun commented on #3358
Yes.

[2019-06-04 08:46] scottilee commented on #3180
@sh0gg0th I found an [example](https://15905978862850875460.googlegroups.com/attach/2a06b42ad69f3/input.json?part=0.1&view=1&vt=ANaJVrH-Bssm1DIzPu6P5OyF-RF3tBdz2guFP4D-DCUbGXc9JBeOBrygFwqUREUaapuHmbvKOefGEN_WqqgH3nOUmT6h3sH1ZH7sPi-HQ8AILT7C-pLcBeY) from https://www.lightbend.com/blog/how-to-deploy-kubeflow-on-lightbend-platform-openshift-kubeflow-model-serving.

[2019-06-04 08:50] scottilee commented on #32
@jlewi can this be closed since Kubeflow on AWS is supported and documented?

[2019-06-04 08:51] scottilee commented on #1764
@jlewi can this be closed?

[2019-06-04 09:07] avdaredevil opened #3398 "[Central-Dashboard] Perform Screen Testing for Central Dashboard"
## About
We should perform screen diff testing to verify:
- Colors and components match up
- Changes don't break views
- Spec deviations

---
/assign @avdaredevil
/cc @prodonjs @jharbuck
/area front-end
/area centraldashboard
/priority p0

[2019-06-04 10:08] kkasravi opened #3400 "update testing to use kustomize e2e tests"
testing assumes ksonnet and needs to allow for kustomize testing

[2019-06-04 10:35] Rohithzr commented on #3353
I too want to know how to get argo dashboard to display. This ingress throws a blank page with the following error. `SyntaxError: expected expression, got '<' main.f6e517525a3ff95bf2c8.js:1​`
[code]

[2019-06-04 11:39] kkasravi commented on #3400
/project istio-kustomize-readiness

[2019-06-04 12:13] sahilmalav opened #3401 "Not able to access any of the dashboards (Pipeline, TFJob, Katib, etc.) from Central Dashboard upon changing the Central Dashboard type to NodePort."
I want to be able to access all the dashboards from an external IP. For this purpose, I changed the type of Central Dashboard, ML Pipeline, Jupyter and other related services to NodePort. Now I can access the Central Dashboard, but upon trying to access any of the dashboards from the Central Dashboard, I get an error of the form "Sorry, /pipeline/ is not a valid page". How do I access these dashbo

[2019-06-04 14:39] jlewi commented on #2630
@swiftdiaries What's the current status?

* Do we have an ETA for an E2E test?
* What are the blockers if any?

[2019-06-04 15:33] jlewi commented on #3400
@kkasravi Can you clarify what this issue is about? Do you mean that the kfctl e2e tests need to deploy Kubeflow using kustomize? Or Do you mean that our E2E infrastructure is using ksonnet to describe our E2E workflows and that needs to be changed to kustomize?

[2019-06-04 15:36] jlewi commented on #2766
@gabrielwen @kunmingg  Can we update the E2E test that is using basic auth to use ISTIO? If that test passes then we know basic auth is working with ISTIO right?

[2019-06-04 15:37] jlewi commented on #3306
@kunmingg Do we know which tests are failing?

[2019-06-04 15:39] jlewi commented on #3219
@lluunn what is the priority of this issue?

@lluunn Are the Authz features this blocks needed for 0.6? Could we do Authz for notebooks without this?

[2019-06-04 15:44] jlewi commented on #2417
Lets scope this issue to adding notebook CRD Validation.
We can use separate issues to track
  * Istio integration

I don't know what ttlSecondsAfterFinished was intended for; I'm not sure its relevant any more. We use statefulsets for jupyter and I don't see why we would need a TTL.

[2019-06-04 15:45] jlewi commented on #2417
/assign @zabbasi

Looks like @zabbasi has some PRs pending to fix the CRD validation.

[2019-06-04 16:01] rawkintrevo commented on #3091
Hey- was trying to set this up on IBM cloud, hit the same issue. After symlinking the *.pem file I was able to use `kfctl apply all -V` (e.g. I didn't even need to drop back to ksonnet)

[2019-06-04 16:11] kkasravi commented on #3400
[kubeflow/testing/test_deploy.py](https://github.com/kubeflow/kubeflow/blob/master/testing/test_deploy.py) uses "ks" rather than kustomize to [init](https://github.com/kubeflow/kubeflow/blob/master/testing/test_deploy.py#L123) a project, install packages, deploy a model using [tf-serving](https://github.com/kubeflow/kubeflow/blob/master/testing/test_deploy.py#L178), deploy katib, pytorch...

[2019-06-04 16:39] jlewi commented on #2766
Here's a passing postsubmit for basic auth;
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow_kubeflow/kubeflow-postsubmit/1135679782407639040

Is this not using ISTIO?

[2019-06-04 16:41] jlewi commented on #2982
@kunmingg Any progress on the README?

[2019-06-04 16:45] jlewi commented on #3254
Looks like the test might be passing now e.g.
https://github.com/kubeflow/kubeflow/pull/3355

Lets see if that's merged successfully.

[2019-06-04 16:48] lluunn commented on #2417
The ttl was that we want to kill the idle notebook pod after some time; why statefulsets don't need to have ttl?

[2019-06-04 16:50] lluunn commented on #3219
If we just need notebook services to be protected (in 0.6), we only need to change the port name for notebook services.

[2019-06-04 16:56] jlewi commented on #3004
Ref: https://kubernetes.io/docs/concepts/services-networking/network-policies/
Ref: http://bit.ly/k8s_tenant_crd

@kunmingg Is this P0? Is there a critical 0.6 feature that would be blocked by this?

I'm uncertain about what the correct/good default would be. Its possible the long term solution might be to just align with http://bit.ly/k8s_tenant_crd and go with whatever defaults they end up picki

[2019-06-04 17:10] amarrella opened #3403 "Notebook: no status available"
Hi, I'm trying to spawn a notebook but now i get notebook status unavailable for a very long time. I'm running v0.5-branch on AWS.

`notebook-controller` logs these error messages:
[code]

which seem to suggest that it's not able to call the apiserver to put the notebook?

The notebook is there though, when i run `kubectl get notebook kf --namespace kubeflow`:
[code]

Any idea on what might be hap

[2019-06-04 17:14] jlewi commented on #2981
@yanniszark Any update on the current plan based on our April 12 meeting? Unfortunately, the update @vkoukis posted into slack is no longer accessible.

IIRC correctly I think the plan is

* Each name space will have some service accounts with read or write permissions
* Web app will use that service account to create resources
* We discussed creating some sort of lookup service to map users to na

[2019-06-04 17:16] jlewi commented on #2981
Actually  here are @vkoukis notes
https://groups.google.com/forum/#!msg/kubeflow-discuss/Yu9DtqexIi4/ZPEc-NNGDAAJ

[2019-06-04 17:20] gabrielwen commented on #2766
No, it's not currently:
https://github.com/kubeflow/kubeflow/blob/4fda196a8a6cb59ec6ada75952b4762e51fcd1af/prow_config.yaml#L65

[2019-06-04 18:55] gabrielwen commented on #2766
basic auth is broken for this:
https://github.com/kubeflow/kubeflow/blob/b989f84457ec88aaa543a21e864060ea74c71536/kubeflow/gcp/update_backend.sh#L18

port name for ISTIO is indeed `http2`, but for ambassador is `ambassador`.  fixing it.

[2019-06-04 19:44] sh0gg0th commented on #3180
@scottilee awesome, thank you!

[2019-06-04 19:44] #3180 closed

[2019-06-04 19:58] Jeffwan commented on #32
Yeah. I think this one can be closed. In the future, I will create one issue for every release to track features users want. Like aws support for v0.6, etc

[2019-06-04 20:11] zabbasi opened #3405 "Jupyter-web-app should read Notebook conditions to check its status"
Jupyter-web-app currently reads notebook.status.containerStatus to check the notebooks status. However [this PR]( https://github.com/kubeflow/kubeflow/pull/3319) adds notebook pod status type and the transition detail in Notebook.status.conditions. Hence, in Jupyter-web-app we should be able to check the notebooks' pods status by reading the latest status written in Notebook.status.conditions.

/c

[2019-06-04 20:13] zabbasi opened #3406 "Remove notebook.status.ContainerStatus"
Once [this issue](https://github.com/kubeflow/kubeflow/issues/3405) is resolved we should remove notebook.status.ContainerStatus.

[2019-06-04 20:55] rverma-nikiai commented on #3396
I install aws app-mesh after the eks cluster being set up. It's an optional feature and requires to install something like appmesh-system to install using kubectl (very similar to istio-system). Follows the conventions of virtual services also.

[2019-06-04 21:25] jlewi commented on #3367
I believe @gabrielwen Has a PR to fix this.
Do we have an E2E test that verifies things are working as intended?

[2019-06-04 21:51] yanniszark commented on #3367
Hi @jlewi!
The PR for fixing Istio VirtualServices for on-prem installations (#3376) also fixes this.
The problem is that the [default ksonnet base overlay](https://github.com/kubeflow/kubeflow/blob/cad6f3f914dab749c4fd77441c05f17c7b134b6f/bootstrap/config/overlays/ksonnet/kfctl_default.yaml) has hardcoded options for using a GCP PD.

Not only that, but those are only handled by the gcp-specific c

[2019-06-04 21:57] kkasravi commented on #3396
ok, once https://github.com/kubeflow/manifests/pull/102 and https://github.com/kubeflow/kubeflow/pull/3375 are merged it should be straightforward to copy how istio overlays are implemented and do something similar with aws app-mesh.
@jlewi @kunmingg any comments on entertaining the idea of an aws service-mesh that could be added in this way?

[2019-06-04 21:58] zabbasi commented on #2417
There is another issue which takes care of idle notebooks: https://github.com/kubeflow/kubeflow/issues/1394

[2019-06-04 21:59] zabbasi commented on #2417
There is another issue which takes care of idle notebooks: #1394

[2019-06-04 23:04] yanniszark opened #3409 "kfctl: GetConfig() doesn't handle errors correctly"
When `GetConfig()` encounters an error, it doesn't surface it, but just logs the error with level=warning (should be error) and returns a nil *rest.Config pointer.
https://github.com/kubeflow/kubeflow/blob/23972866b2cdb771dead47e6839a5569206a9f85/bootstrap/pkg/apis/apps/group.go#L265-L275

 `GetConfig()` should be fixed to either return an error or panic.
I'm leaning with the first option, return

[2019-06-04 23:32] jlewi commented on #1583
Here's my currently limited understanding of how Beam on Flink works.

1. There is an Apache Beam Job server.
1. The Apache Beam Job Server talks to a flink cluster
1. The beam python SDK talks to the job server.

So I believe to run Beam on Flink on K8s  it looks like the following

1. Deploy a Flink cluster on K8s using the Flink Operator from Lyft
1. Deploy the Apache Beam Job Server on K8s
1.

[2019-06-05 00:07] kkasravi commented on #3367
@jlewi

@gabrielwen's fix was merged, my suggestion to @yanniszark was to only define these componentParams in one place - though #3375 will remove these values anyway once it's merged.

[2019-06-05 01:44] rverma-nikiai commented on #3396
Will this allow to install into existing istio setup. If yes I can try to create a document for setup in aws app mesh. Also while we are on it, it would be nice to be able to use external MySQL.

[2019-06-05 02:33] scottilee opened #3410 "Minikube Setup Results in Runtime Error"
I am using https://www.kubeflow.org/docs/started/getting-started-minikube/ to install Kubeflow on Minikube with the `setup-minikube.sh` script using `KUBEFLOW_TAG=v0.5.1` and with the following options: CPU (6), memory (10), disk space (50), virtualizer (virtualbox), Jupyter path (blank)

I am running macOS 10.14.5 with kubectl client v1.14.2, Go 1.12.5, and VirtualBox 6.0.8.

I get the following

[2019-06-05 02:39] #3006 closed

[2019-06-05 04:01] kkasravi commented on #3396
do you mean replace existing istio setup?

there is a mysql component installed by pipeline and another by argo i believe. It would just be a matter of adding the component to the platform. I can provide more info once the above PRs are merged

[2019-06-05 04:06] jlewi commented on #3401
Ambassador provides a reverse proxy that makes all the services available. You need to expose Ambassador (e.g. via an ingress or node port).

If you expose it on an external IP you'll probably want to secure it using some form of authentication.

[2019-06-05 04:17] jlewi commented on #2685
I recall discussing this somewhere; maybe in slack?

Is using overlays the right direction?

Overlays add a lot of complexity. In particular, overlays hurt readability because in order to understand what the actual config file would be, one has to go through the mental gymnastics of combining the overlays.

In contrast, if each YAML file provides a self-contained description of how kubeflow should

[2019-06-05 04:44] kkasravi commented on #2685
we have something like this under /manifests/tests - where expected is embedded in the golang code and it's compared with generated.

This has been greatly simplified to merging one or more kfctl_default.yaml
[code]

Merges are simple appends on lists (components, packages, componentParams).
So it's pretty easy to see what base + gcp would look like

[2019-06-05 04:53] kkasravi commented on #2685
we could store these different 'mixins' under config (like we used to - maybe kfctl_basic_auth_istio.yaml, kfctl_gcp_istio.yaml) so that kfctl isn't doing this dynamically as part of the CLI options. But we should have unit tests so that changes in the underlying templates are reflected in the generated yamls.

an argument against doing this is to compare what we do with kustomize with what we did

[2019-06-05 05:08] jlewi commented on #2685
A key goal is being able to give each platform owner/vendor a way to define what the KF experience looks like on their platform.

Can this approach scale to handle that?

What does the OWNERs files look like and how does this end up looking?

Consider the following

1. On GCP we decide we want the SparkOperator, no PyTorch CR, and ISTIO always
2. Azure decides they want to install Lyft's FlinkOper

[2019-06-05 05:38] sahilmalav commented on #3401
I did expose Ambassador using NodePort, but it didn't seem to work. I can access the central dashboard, but not any of the dashboards within the central dashboard. Whenever I try accessing the pipeline dashboard for example, I get the error "Sorry, /pipeline/ is not a valid page".

[2019-06-05 06:03] rverma-nikiai commented on #3396
Yes, while doing a poc with the istio setup I installed istio 1.1.7 minimal with helm. When I tried deploying kubeflow it replaced the istio setup(1.1.6) and installed more components like grafana, prometheus, kiali, etc. which I doubt were required for kubeflow. I would also encourage if we are using a limited part of istio (I believe only the pilot is required) new vanilla setup should install i

[2019-06-05 07:54] kkasravi commented on #3396
This perspective is also echoed by @jlewi - where, for example, if you're deploying kubeflow to an existing cluster (on-prem use case) there should be an option to install istio (or not if already there)

This [design doc](https://docs.google.com/document/d/1SVm-xffIdWiMYkl_nQO5C6HHK46NWkfDGPDUL5ukeME/edit#heading=h.frwscropjuwb) covers the rationale for using kustomize vs helm. That said, kustomi

[2019-06-05 09:07] amarrella commented on #3403
The issue was due to a change i made to the jupyter config.yaml that made the pod definition invalid. I could see a better error message in metacontroller:
[code]

[2019-06-05 09:07] #3403 closed

[2019-06-05 09:25] Luke035 opened #3411 "Can't serve model with model on MINIO"
Hi all,

I'm trying to deploy a model with TFServing (using KS for configuring the application) and a model stored in MINIO (the same MINIO deployment used for artifacts).

When I launch the TF Serving deployment `ks apply default -c MY-MODEL`, the pod is launched but I always get the following errors:

[code]

Those logs make me think that is a problem with S3 connection to MINIO, the connection

[2019-06-05 13:39] rverma-nikiai commented on #3396
@kkasravi Makes total sense for using kustomize. Is there a development branch where I can play with this?

[2019-06-05 14:22] kkasravi commented on #3396
@rverma-nikiai
you could fork and create a branch on your fork with upstream set to kubeflow.

There are [developer guidelines](https://github.com/kubeflow/kubeflow/blob/master/bootstrap/developer_guide.md) for building kfctl

[2019-06-05 15:34] kkasravi commented on #2685
But can we generalize a set of choices per platform? That is, the same argument holds when bundling a set of choices for Azure - a given kubeflow user/vendor that uses Azure may want different choices than what we would bundle in kf_azure.yaml. Currently we have 2 areas where specific choices can be made - 1. creating a 'default' platform under bootstrap/config and 2. editing `app.yaml` after `kfc

[2019-06-05 15:36] kkasravi commented on #2685
@jlewi if ok with you I can close and open a new issue to address how platform yamls are modified.

[2019-06-05 19:09] elyase commented on #2954
Sorry what is the ticket for kfctl support on on premise?

[2019-06-05 20:10] Ark-kun commented on #2753
Argo has been upgraded to v2.3.0

[2019-06-05 20:10] #2753 closed

[2019-06-05 20:11] Ark-kun opened #3414 "Cannot connect to notebook: Error: "Sorry, /notebook/kubeflow/kfp-notebook is not a valid page""
I've deployed KFP 0.1.20 with IAP using web deployer.
I've created a notebook using the Kubeflow UI (default configuration and image).
When I click "Connect" I'm redirected to the  https://foo.endpoints.bar.cloud.goog/notebook/kubeflow/kfp-notebook page which shows "Sorry, /notebook/kubeflow/kfp-notebook is not a valid page".

![image](https://user-images.githubusercontent.com/1829149/58906122-154

[2019-06-05 23:08] jlewi commented on #3254
Example of a successful update.
https://github.com/kubeflow/kubeflow/pull/3407

[2019-06-05 23:08] #3254 closed

[2019-06-06 03:36] jlewi commented on #3414
/cc @zabbasi

[2019-06-06 03:38] jlewi commented on #3414
@Ark-kun The URL looks correct. Is your notebook actually running; what does

What is the output of

[code]

[2019-06-06 03:39] jlewi commented on #3411
/cc @Jeffwan

[2019-06-06 04:03] jlewi commented on #2685
@kkasravi SGTM.

[2019-06-06 05:50] sahilmalav commented on #3401
Solved. The problem was with persistent volume. I had to manually create three PV and PVC for mysql, vizier and minio. After that it ran fine.

[2019-06-06 05:50] #3401 closed

[2019-06-06 08:16] yisampi opened #3416 "how to read the data file in hdfs(clouder hadoop) if using kubeflow for deep learning"
how to read the data file in hdfs(clouder hadoop) if using kubeflow for deep learning or machine learning?

[2019-06-06 10:00] travishen commented on #3329
Thanks for the reply. For now I'll try what your suggested as a workaround.

[2019-06-06 10:00] #3329 closed

[2019-06-06 10:40] krishnadurai opened #3417 "Authorization through RBAC for K8s and Istio resources"
Master Issue: #3096

Scope:
1) Authentication through Kubernetes OIDC
2) Istio requests authenticated through the end user authentication policy facility in Istio
3) All Kubeflow services should be Authorized through Istio service role and binding
4) Kubernetes resources should be authorized through Kubernetes RBAC

- [x] Define 3 policies for users with privileges:
  - [x] Read
  - [x] Write
  -

[2019-06-06 11:34] #2685 closed

[2019-06-06 12:14] kkasravi opened #3419 "provide a fixed set of yaml files under bootstrap/config that reflect kfctl cli options"
overlays under bootstrap/config (basic_auth,  gcp,  istio,  ksonnet, kustomize) are used to create a kfctl_default.yaml in Coordinator.Init by applying StrategicMergePatch to the set of overlays that match the kfctl cli options (--platform, --basic_auth, --use_istio).

Rather than do this within Coordinator, it should be done within separate tooling that generates different kfctl_default.yaml file

[2019-06-06 13:57] PascalSchroederDE commented on #3364
Found a compromise solution for me: Using [Kubeflow pipelines](https://github.com/kubeflow/pipelines) seperated

[2019-06-06 13:57] #3364 closed

[2019-06-06 14:24] otaviocv opened #3421 "Terminal of Jupyter Notebooks from jupyter not working."
I've just made a new fresh installation of kubeflow in  brand new AWS EKS cluster with kubeflow 0.5.1. When I start a new jupyter server I can't open a new terminal.

[2019-06-06 14:25] otaviocv commented on #3421
I don't even know where to get logs.

[2019-06-06 17:21] dimm0 commented on #1915
Why is this closed? Is function implemented?

[2019-06-06 17:39] rummens commented on #1915
Sorry I cleaned up my Issue List, must have accidentally clicked on the close button.

[2019-06-06 18:57] gabrielwen commented on #2766
After #3404 we also need to migrate the changes to kustomize.

@lluunn

[2019-06-06 19:00] gabrielwen opened #3422 "Clean up ambassador mapping annotations"
After #2766 we no longer need ambassador mapping annotations for the most of manifests.  Only the following components needs the annotation as far as I can think of:
- basic-auth
- basic-auth login UI
- `istio-mapping-service` in #3404

[2019-06-06 19:00] gabrielwen commented on #3422
/priority p1

[2019-06-06 19:00] gabrielwen commented on #3422
/area kustomize

[2019-06-06 19:03] gabrielwen commented on #3422
cc @lluunn

[2019-06-06 19:28] jlewi commented on #3419
Should we aim to get rid of the different flags and just take the name of the YAML config file e.g.

[code]

This would allow us to eventually support URIs e.g.

[code]
So people could easily create and share new configs.

[2019-06-06 20:52] ashahba commented on #3400
I stated a PR here: https://github.com/kubeflow/testing/pull/405 for this story yesterday.
Although it started with renaming as of now and everything still runs with `ksonnet`.
It'll be sometime before everything is in place after the switch to `Kustomize` has been flipped.

Corresponding PRs are probably needed across other repos living under `https://github.com/kubeflow` in order to make this mo

[2019-06-06 21:30] #2596 closed

[2019-06-06 21:32] Jeffwan commented on #3411
@Luke035

Can you try `minio-service:9090` instead of `http://minio-service:9000`?

[2019-06-06 22:56] Edilmo commented on #3414
I have the same issue. I have try with different names and also deleting the PVC generated before to retry.
The output of `kubectl -n kubeflow get notebooks` in my case is showing the list of running notebooks:
[code]

The kubernetes cluster is ok from a resource perspective and there is not pods with error or pending state.

Any advice?

[2019-06-06 23:33] zabbasi commented on #3414
Thanks @Edilmo . Can you please check the services in your cluster and check if you can connect to notebooks using port-forward (` kubectl port-forward `)?

[2019-06-07 00:13] Edilmo commented on #3414
Doing `kubectl port-forward -n kubeflow svc/edi 8888:80` the notebook is accessible through this URL: http://localhost:8888/notebook/kubeflow/edi/tree

Any other URLs like the followings are not working:
- http://localhost:8888/
- http://localhost:8888/tree
- http://localhost:8888/tree?
- http://localhost:8888/lab
-http://localhost:8888/edi/
- http://localhost:8888/edi/tree
- http://localhost:8888

[2019-06-07 00:21] avdaredevil commented on #2976
@kkasravi @prodonjs Where do we stand on this, could we have this resolved by v0.6.0?

[2019-06-07 00:23] avdaredevil commented on #3073
Any status on this folk?

[2019-06-07 00:24] avdaredevil commented on #3178
This is no longer valid, as we've deprecated as of #3424

[2019-06-07 00:30] #2600 closed

[2019-06-07 01:18] kunmingg opened #3425 "notebook controller infinite looping on "Updating StatefulSet""
Version latest master:
gcr.io/kubeflow-images-public/notebook-controller:v20190603-v0-175-geeca4530-e3b0c4

[2019-06-07 01:19] kunmingg commented on #3425
@gabrielwen @lluunn

[2019-06-07 01:26] kunmingg commented on #3425
Virtual service is not created.

[2019-06-07 04:54] kkasravi commented on #2976
- [x] application.yaml files are being added to manifests.
- [x] forked application, i've been deploying/debugging the application-controller
- [ ] open PR where I add application-controller under components
- [ ] fairly early in prototyping the application dependency tree (uber kf application)

hope to do the last 2 next week

[2019-06-07 05:06] kkasravi commented on #2973
We can use this issue. I've updated #2976 with status of the application-controller.
I'm trying to get it checked in next week. (our fork of application-controller will go under components/.

[2019-06-07 09:02] Luke035 commented on #3411
@Jeffwan

Thanks for the answer, something changed, but I still get error connection. This time is:

[code]

[2019-06-07 12:38] #3178 closed

[2019-06-07 13:39] gokuatkai commented on #3198
Hello, using v0.5.1 and EKS and docs default deployment command and I have the exact same situation
my ambassador container logs are:

[code]
with the config lof output

and vizier logs are
```[mysql] 2019/06/07 13:26:43 packets.go:36: unexpected EOF```

Let me know if you need anything else

[2019-06-07 14:27] zabbasi commented on #3414
@Edilmo have you deployed from master?
/cc @gabrielwen @lluunn

[2019-06-07 17:08] jlewi commented on #3414
Ambassador is the service used to provide the reverse proxy.

Can you provide the output of

kubectl get service -o yaml edi

We'd like to see whether that has the proper YAML annotation for Ambassador.

Since your able to connect through the central dashboard to other pages like the notebooks spawner page that indicates Ambassador is correctly handling some routes.

What is the status of the Amba

[2019-06-07 17:12] jlewi commented on #3096
@krishnadurai I thought there were some ongoing questions, discussions about http://bit.ly/2WPs1MS ?

In particular I thought there was an open question whether or not to create a KF API gateway through which all requests were redirected or instead to directly rely on the underlying systems (ISTIO, K8s) and there are associated access control mechanisms.

Where did we land on this question?

/cc @

[2019-06-07 17:15] jlewi commented on #3417
@krishnadurai Does this mean that will be using ISTIO policies to control access to K8s resources? e.g. somehow we will be using ISTIO to determine whether user Alice can create/delete TFJobs in namespace alice-kf?

Or is this issue about using ISTIO control network policies; i.e control whether user alice can access Jupyter over http in namespace alice-kf?

[2019-06-07 19:03] Edilmo commented on #3414
I followed the instructions [here - Deploy using CLI](https://www.kubeflow.org/docs/gke/deploy/deploy-cli). I'm not aware of what `kfctl init` command does.

[2019-06-07 19:11] Edilmo commented on #3414
Hi @jlewi

All the previous notebooks are accessible, it's just the new ones.

Here the details:

[code]

[code]

About restarting ambassador, how long could take that? (I don't want to affect the others guys working in this cluster)

Thanks in advance!!

[2019-06-07 19:51] kkasravi opened #3426 "kustomize should fail if it can't find a component in app.yaml"
kustomize package-manager will do a best-effort in generating and deploying components. It should error out if the component can't be found

[2019-06-07 19:51] kkasravi commented on #3426
/area kfctl

[2019-06-07 19:51] kkasravi commented on #3426
/priority p1

[2019-06-08 00:19] Jeffwan commented on #3411
Use 0 instead and give another shot please.

[2019-06-08 22:12] jlewi commented on #3414
Can you upload the logs for the ambassador pods? Are you running on GCP? It would be good to grab the logs before you restart the pods.

What happens if you try to access the notebook directly and not through the central dashboard e.g.

[code]

Since the notebook is accessible through kubectl port-forward, I suspect a problem with Ambassador.

It looks like Ambassador may not be registering routes

[2019-06-08 22:17] jlewi commented on #3421
So your able to access the Jupyter UI but when you click new terminal in the Jupyter UI nothing happens

Can you please provide the spec of the notebook

List the notebooks

[code]
Upload the YAML to the issue.

You can get the logs for the associated notebook pod

[code]

Can you upload those to the issue as well please?

Does the chrome JS console show any errors when you try to start a new term

[2019-06-09 14:36] #2607 closed

[2019-06-09 18:14] krishnadurai commented on #3417
Yes, this issue means we will be using Istio policies to control access to K8s resources.

No, this does not mean access control for Jupyter over http in namespace alice-kf.

[2019-06-09 18:31] krishnadurai commented on #3096
@jlewi
We've chosen to have Istio act as the gateway for all these requests. We've added this discussion to the [document](https://docs.google.com/document/d/1WS9l45oIbWfxRWNQeisI3NIXfcIh0l9aHN_Fl3MQreU/edit#heading=h.dg6520664o64).

[2019-06-10 01:11] #3016 closed

[2019-06-10 01:12] jlewi commented on #2982
@kunmingg ping?

[2019-06-10 01:13] jlewi commented on #2992
@kimwnasptd any update on this?

[2019-06-10 01:17] jlewi commented on #2417
@lluunn I was thinking the TTL was used not to GC idle pods but to garbage collect terminated resources.

With Argo workflows, TFJobs, batch jobs and other resources where the resources are run to completion we run into problems because we eventually accumulate so many resources that the API server can no longer efficiently list those resources and get requests hang.

So to address that the patter

[2019-06-10 01:21] jlewi commented on #2630
@swiftdiaries Any update I think @kkasravi committed the fixes to make kustomize +  ISTIO work on master. Can we get #3060 updated and merged.

[2019-06-10 01:23] swiftdiaries commented on #2630
Cool thanks!
I'll get it updated and push it before tomorrow :)

On Sun, Jun 9, 2019 at 18:21 Jeremy Lewi <notifications@github.com> wrote:

[2019-06-10 01:23] jlewi commented on #3005
@lluunn any update?

Is this blocked on getting click to deploy to reuse the kfctl logic which @kunmingg has PR #3045 for?

[2019-06-10 01:25] jlewi commented on #3007
#3045 is the PR to have click to deploy use kfctl as go libraries.

[2019-06-10 01:32] jlewi commented on #3417
Why not just use RBAC to control access to K8s resources as opposed to ISTIO?

I was thinking that we have 3 different types of resources

* K8s resources
* Network resources (e.g. http endpoints)
* Cloud resources

Each of these has their own IAM system

* K8s has RBAC
* ISTIO RBAC for network endpoints
* Cloud IAM for each cloud IAM resources

Why not just use each resources' appropriate IAM sys

[2019-06-10 01:38] jlewi commented on #2766
Do we have an E2E test that we can use for basic-auth + ISTIO + kustomize?

[2019-06-10 01:39] jlewi commented on #3306
@kunmingg Any update?

[2019-06-10 01:43] jlewi commented on #3219
Thanks @lluunn

Is this the port name in the virtual service? It looks like we are doing that correctly in the notebook controller
https://github.com/kubeflow/kubeflow/blob/1989ba557e932b1d7d814ce739189591d03b3b7f/components/notebook-controller/pkg/controller/notebook/notebook_controller.go#L400

is there more work to be done to make this work correctly for notebooks?

Can we list out other servic

[2019-06-10 01:58] jlewi commented on #2976
Are you hitting problems with the application controller that requires us to fork it? What happens if we just deploy the controller that sig-apps provides?

[2019-06-10 01:59] jlewi commented on #2973
@kkasravi Why do we need a fork of the application controller? What changes are you making to the application controller?

Should we start by deploying the application controller and seeing how far that gets us before we start creating a fork?

[2019-06-10 02:00] jlewi commented on #2973
If we do need to maintain a fork; would it be easier logistically to manage the fork if we  create a repo in kubeflow rather than making it a sub directory?

[2019-06-10 02:05] jlewi commented on #3400
Is this issue a duplicate of #2630?

We've been using #2630 to track adding an E2E test that uses kustomize + ISTIO.

@swiftdiaries has PR #3060 pending to update the E2E tests to use kustomize + ISTIO.

kubeflow/testing/test_deploy.py is no longer used.

@ashahba Can you clarify how kubeflow/testing#405 fits in?

[2019-06-10 02:07] jlewi commented on #3020
Are the defaults on master using kustomize and ISTIO? If so can we close this issue?

[2019-06-10 02:09] jlewi commented on #2712
@kunmingg Any update? Looks like we are waiting on #3045.

[2019-06-10 02:12] jlewi commented on #3156
See also kubeflow/testing#406

[2019-06-10 02:14] jlewi commented on #3035
@swiftdiaries Any update? Do you think we will get this down for 0.6?

What are you thinking of in terms of a replacement for ksonnet?

[2019-06-10 02:22] kkasravi commented on #3020
yes, we can close

[2019-06-10 02:54] travishen commented on #3414
I has same issue. Recreate ambassador pods fixed it.

[code]

[2019-06-10 05:51] JK-97 opened #3431 "why my pod in kubeflow namesapce can not Connecting to the public network？？？？？？？？DNS？？？？？？？"
issue：
pod in kube-system  can connect to the public network
pod in kueflow can can connect to the public network

----------(kubectl exec in a pod ,namespace kube-system )
$cat /etc/resolv.conf
nameserver 127.0.1.1
----------(kubectl exec in a pod ,namespace kubeflow )
$cat /etc/resolv.conf
nameserver 10.96.0.10

guess:
maybe it is due to dns

but how can i change it ?????????????

[2019-06-10 06:37] NickJasonLv commented on #1522
Can you write a detailed steps?
Thank you！

[2019-06-10 06:38] NickJasonLv commented on #1522
@372046933
Can you write a detailed steps?
Thank you！

[2019-06-10 09:40] sxmon commented on #3073
In my $GOPATH and in the kubeflow folder, I used
`grep -rlI Sirupsen . | xargs sed -i 's/Sirupsen/sirupsen/g'`

Then I did `go get .` in ~/kubeflow/bootstrap/cmd/kfctl. And kfctl works.

[2019-06-10 12:14] gokuatkai opened #3433 "0.5.1 not deployable due to recent master change"
Hello,
v0.5.1 uses master in aws utils.sh on the istio dependencies.
Thus it was removed throu:
https://github.com/kubeflow/kubeflow/commit/f10f4fb954ad8617d0d6d35ba01356e4b19f3815
There is also a patch here:
https://github.com/kubeflow/kubeflow/commit/d38b6e7c02cf487d86f001269a971bd13b48d08c
But this last patch, I think should either:
- use the `KUBEFLOW_TAG` instead of `KUBEFLOW_VERSION`
- or ad

[2019-06-10 13:03] jlewi commented on #3240
There is an application spec for the web app.
https://github.com/kubeflow/manifests/blob/master/jupyter/jupyter-web-app/base/application.yaml

The controller
https://github.com/kubeflow/manifests/tree/master/jupyter/notebook-controller/base

@zabbasi @kkasravi Can we close this issue or is there more to be done?

[2019-06-10 13:19] gyliu513 commented on #2226
we are still working for this.

[2019-06-10 13:21] #2874 closed

[2019-06-10 13:59] naveen24691 commented on #3098
Is there anything pending to do here? I would like to extend it, if required.

[2019-06-10 14:03] JohnPaton commented on #3098
This issue has been fixed now, thanks for the reminder, it should be closed.

From discussions with the team it sounds like putting effort into ksonnet-related scripts isn't really a priority since ksonnet itself is on its way out.

[2019-06-10 14:11] naveen24691 commented on #3098
I agree. Thanks for the response

[2019-06-10 14:50] kkasravi opened #3434 "typo in testing/workflows/components/kfctl_go_test.jsonnet#L232"
small typo when naming the test suite

[2019-06-10 15:00] kkasravi commented on #3400
@jlew closing this issue since it is a duplicate of #2630
/close

[2019-06-10 15:00] #3400 closed

[2019-06-10 15:37] kkasravi commented on #3240
we can close this. Enabling the application-controller and application overlay is #3429

[2019-06-10 15:37] kkasravi commented on #3240
/close

[2019-06-10 15:37] #3240 closed

[2019-06-10 16:02] kkasravi commented on #2973
@jlewi it would be easier to maintain a fork rather than under components. I do have a fork under my github id.

Current changes are
- [x] building with go modules
- [x] added client-gen, lister-gen, informer-gen

I anticipate additional changes.

[2019-06-10 16:26] krishnadurai commented on #3417
@jlewi I apologise for misunderstanding the question, I had thought the intent of your question was to have a network rule on Istio to control access. Here I intend to make use of a (Kubeflow based) service and apply a policy on Istio to control access to current Kubernetes resources - tfjob.

The intent is to use appropriate IAMs at each level as you've mentioned. This leaves the k8s resources' p

[2019-06-10 16:51] lluunn commented on #3219
Yeah for notebook it should be good.

[2019-06-10 16:54] lluunn commented on #2766
With https://github.com/kubeflow/kubeflow/pull/3404, we have basic auth + istio. But it's not using kustomize yet i think.

[2019-06-10 16:57] lluunn commented on #3005
yes, waiting for that and then we can fix the test

[2019-06-10 17:07] jlewi commented on #3433
The code on the release branch should not depend on master; so that seems like a bug that we should fix.

/cc @Jeffwan

[2019-06-10 17:09] jlewi commented on #3431
How are you deploying and managing K8s?

Kubeflow doesn't setup any DNS or other cluster networking settings. So this is most likely an issue with your K8s setup and not Kubeflow.

You could confirm this by seeing if you have the same problem in any namespace you create.

[2019-06-10 17:12] jlewi commented on #3417
So is the idea here as described in your design doc to create an API gateway through which access to all k8s resources is mediated?

Your design doc had multiple options in it. Could you provide a link to the option you are currently thinking of implementing?

[2019-06-10 17:15] jlewi commented on #3416
@jpatanooga @rawkintrevo @holdenk as our resident Hadoop experts do you have any pointers here?

[2019-06-10 17:17] jlewi commented on #3410
@vkoukis What do you think the path forward with local is? Should we replace minikube with minikf in 0.6? Should we continue to have explicit support for minikube? Or should we just treat minikube as installing on a existing cluster?

[2019-06-10 17:22] jlewi commented on #3389
Is there a particular reason you are using an RC for 0.4 as opposed to using 0.5 which is our most recent stable release
https://v0-5.kubeflow.org/docs/gke/deploy/

The error indicates the k8s secret admin-gcp-sa was not created.

I would suggest trying to follow the 0.5 instructions and letting us know if you still have problems.

If you followed some doc/tutorial telling you to use 0.4 could you

[2019-06-10 17:25] jlewi commented on #3388
Could you please try Kubeflow 0.5?
https://v0-5.kubeflow.org/docs/started/

We replaced jupyterhub in 0.5 with a simple web app which simplifies the authorization story.

Are you deploying on GCP? If not how are you accessing Kubeflow from outside the cluster and how are you handling authorization?

[2019-06-10 17:26] krishnadurai commented on #3417
We are going ahead with [approach II](https://docs.google.com/document/d/1WS9l45oIbWfxRWNQeisI3NIXfcIh0l9aHN_Fl3MQreU/edit#heading=h.vihzmxyvrbzx) mentioned in the document.

The idea with this issue is to create an endpoint which may in-turn call these underlying k8s resources. This may be useful in cases where a user may want to directly deploy a model through an single API call.
Whereas this im

[2019-06-10 17:44] #3017 closed

[2019-06-10 17:48] jlewi commented on #2973
@kkasravi Why do we need those changes? What is the UX if we just use the out of box application controller?

Do we get basic monitoring?

Why not try to use the existing application controller.
See what issues it has.
Create issues in sig-apps for the missing features.
And then discuss with sig-apps whether we should fork or try to fix upstream.

As opposed to starting by forking the controller.

[2019-06-10 18:25] kunmingg commented on #2712
Will try to merge #3045 early this week.

[2019-06-10 18:27] kunmingg commented on #2982
Should be covered by:
https://github.com/kubeflow/kubeflow/blob/master/components/profile-controller/README.md

[2019-06-10 18:27] #2982 closed

[2019-06-10 18:27] strangemonad-faire commented on #3079
I'm curious what the benefit is given that this will only work in gcp/gke. When running in other clouds, you'll still have to use certmanager / let's encrypt correct? I feel like there's already a good number of issues that arise due to the complexity in documenting differences that arise in different cloud environments.

Personally, my preference would be to have a resource to manage cert managem

[2019-06-10 18:32] kunmingg opened #3436 "kfam API for multi user access management"
Need to finish API implementation.
This will be used by kubeflow access management UI.

[2019-06-10 18:34] kunmingg commented on #3004
Currently we turn on Istio isolation by default for user namespace, so will block unrecognized request by default.
Will adjust priority.

[2019-06-10 18:38] kunmingg commented on #2981
access management API  can answer:
if user A can access namespace B.
So Notebook Spawner backend can behave like:
For each coming request:
1. parse user identity from header (provide by IAP or basic auth or LDAP)
2. query [access management API ](https://github.com/kubeflow/kubeflow/tree/master/components/access-management) to check if this user can access target namespace.
3. proceed or block.

W

[2019-06-10 18:39] kunmingg commented on #2981
Impersonate or query access management API will both block unauthorized requests,
we can choose an easier option.

[2019-06-10 18:49] jlewi commented on #2866
Should we punt this to 0.7?

[2019-06-10 18:50] kunmingg opened #3437 "multi-user UI for access management"
MVP:
each user can create / delete their reserved profile (managed namespace).

Ideally we should support
1. namespace owner share / revoke access with other users
2. provide admin page which can manage all namespaces access permissions.

[2019-06-10 18:52] prodonjs commented on #3346
@avdaredevil This doesn't seem applicable any longer given the current understanding of identity awareness and profiles, correct?

[2019-06-10 18:54] jlewi commented on #2864
Thank you so much @onurgu.

It seems like you might be using an older version of KF. With 0.5 we no longer use those scripts. More importantly, Kubeflow is no longer explicitly installing the stackdriver agents; we just turn on the appropriate logging in GKE. So whatever defaults get used should be the defaults GKE sets.

So hopefully this is fixed in the later versions by GKE configuring the stac

[2019-06-10 18:54] #2864 closed

[2019-06-10 18:55] jlewi commented on #2842
@kkasravi Is this still an issue? Should we punt it to 0.7?

[2019-06-10 18:56] jlewi commented on #2831
@kkasravi Do we support local repos yet? Do our presubmit tests just rely on pulling from git via the PR?

Should we punt to 0.7?

[2019-06-10 18:56] prodonjs commented on #2976
We currently obtain the Application CR from `app.k8s.io/v1beta1/applications` so as long as it is exposed there, we're good to go.

[2019-06-10 18:57] jlewi commented on #2766
Thanks @lluunn . Lets update the test to use auth+istio+kustomize and close this issue when it passes.

[2019-06-10 19:12] jlewi commented on #3079
/assign @zabbasi

@zabbasi might have cycles to take a look this week.

[2019-06-10 19:17] jlewi commented on #3156
@zhenghuiwang will try to take a look at this.

/assign @zhenghuiwang

[2019-06-10 19:20] jlewi commented on #2992
@kimwnasptd is this blocked on rewriting the jupyter web app to use Angular?

[2019-06-10 19:21] jlewi commented on #2889
Should we punt this to 0.7?

[2019-06-10 19:23] jlewi commented on #3437
@kunmingg Is this about the UI implementation?

[2019-06-10 19:25] jlewi commented on #3004
@kunmingg Should we punt to 0.7?

[2019-06-10 19:32] Jeffwan commented on #3433
@gokuatkai  I will ask my teammate to cherry-pick this change to 0.5-branch and then I will file a PR to update documentation to use stable branch.

[2019-06-10 19:39] jlewi commented on #3007
Lets update the defaults for kfctl on master to be ISTIO+kustomize.

[2019-06-10 19:48] jlewi commented on #2663
Lets punt to 0.7.

[2019-06-10 19:54] jlewi commented on #2311
@johnugeorge @gaocegege @richardsliu Do we need this issue to be fixed for 0.6?

[2019-06-10 19:55] jlewi commented on #2271
I think we can punt for 0.7.

I think for 0.6 the web app will just run with a service account which has permission to create notebooks in one ore more namespaces.

The web app use the identity access management and service that we are implementing to check whether the specified user should be able to create the notebook in the requested namespace.

[2019-06-10 19:56] gokuatkai commented on #3433
I tried to cherry pick this commit (https://github.com/kubeflow/kubeflow/commit/d38b6e7c02cf487d86f001269a971bd13b48d08c) but it fails, missing the letter `v`

[2019-06-10 19:57] jlewi commented on #2152
/assign @jlewi

I will try to make some progress on this in the next sprint.

[2019-06-10 20:39] kimwnasptd opened #3439 "Rewrite the jupyter-web-app using a web framework"
The webapp is currently written in plain HTML/JS. The reason behind that was to leverage existing code from the previous JupyterHub implementation. But using plain HTML/JS makes it more difficult to add more advanced features to the UI, such as a multi select for #2992. Also, it is making it more challenging to modularize the code in order to reduce code duplication.

Rewritting the webapp in a fr

[2019-06-10 20:44] kimwnasptd commented on #2992
@jlewi yes, but I've almost finished rewriting the webapp. An accurate ETA I could give would be until the end of the week for this feature.

Although, the time frame might swift depending on how much time it will take for the new UI to merge, but I'll start working on this feature while the new UI is being reviewed.

[2019-06-10 20:45] avdaredevil commented on #3439
This is a great idea! Thanks @kimwnasptd. A few notes:
- What framework are you planning on using? (_we personally have no strong preference, though central-dashboard is written in [Google Polymer](https://polymer-library.polymer-project.org/)_)
- Could you make sure to integrate:
  - Style Guide: #2878 (_uniform styling across all kubeflow-apps_)
  - Central-Dashboard SDK: #3427 (_for namespace c

[2019-06-10 20:55] kimwnasptd commented on #3439
I'm planning on using Angular 7 as I'm not that much familiar with Google Polymer.

Sure! Using the style guide from #2878 will definitely improve the UX and will be a good step to uniform the styling of our kubeflow apps. I'll also make sure to use the centraldashboard's library for namespace change detection. I might need some of your's and @prodonjs's UI expertise for some implementation detail

[2019-06-10 20:55] kimwnasptd commented on #3439
/assign kimwnasptd

[2019-06-10 21:12] richardsliu commented on #2311
We didn't have a nice way to fix this because we are still using the metrics collector implementation from v1alpha1. We decided to punt this until we can find a different solution for metrics collection (e.g. metadata APIs).

[2019-06-10 21:31] #2594 closed

[2019-06-10 21:36] avdaredevil commented on #3346
That is correct, closing.

/close

[2019-06-10 21:36] #3346 closed

[2019-06-10 21:41] jlewi commented on #3439
@kimwnasptd @avdaredevil Rewriting the web-app seems like a potentially time consuming and risky.

Should we target 0.7 for this issue and try to find a simpler solution for #2992 in 0.6?

[2019-06-10 21:44] jlewi commented on #2992
Thanks @kimwnasptd

Would it make sense to have a plan B in case there are problems with the rewrite #3439. Is there a simpler way to address #2992 with the existing UI.

What if we just added to the existing UI a field to let users add labels to apply to the notebook & pod?
That would give users an easy way to attach admission hooks to their notebooks.

[2019-06-10 21:46] jlewi commented on #1764
I think we can close this since we are now using the golint plugin.
Its not quite the same as a gofmt status check but I think its a good starting point.

[2019-06-10 21:46] #1764 closed

[2019-06-10 21:47] avdaredevil commented on #3439
/area front-end

[2019-06-10 22:05] jlewi commented on #3079
@strangemonad-faire The intent here isn't to create a generic solution. The intent here is to optimize the experience on GCP. Using managed certificates has a lot of advantages. One of them is that we no longer need to accept HTTP traffic for certmanager.

[2019-06-10 22:32] #3434 closed

[2019-06-10 22:33] jlewi commented on #2630
According to @kkasravi #3375 pulled in @swiftdiaries changes in #3060.

Lets verify that we have a postsubmit test that is running and passing using ISTIO and kustomize and then close this issue.

[2019-06-10 23:22] indraforyou opened #3441 "[Deploy kubeflow] Central dashbord not able to open notebooks other dashboards"
I am trying to deploy kubeflow on prem with instructions at: https://www.kubeflow.org/docs/started/getting-started-k8s/

After the same,  the ambassadors kept crashing.
Referring https://github.com/datawire/ambassador/issues/807 updated ambassador to version 0.40 from version 0.37 which fixed the earlier problem and am now able to open the central-dashboard.

But notebook and other dashboard links

[2019-06-10 23:49] Jeffwan commented on #3433
Double check this issue. We need to use `KUBEFLOW_TAG` rather than `KUBEFLOW_VERSION` in the istio url.

[2019-06-10 23:51] Jeffwan commented on #3198
@gokuatkai This is because https://github.com/kubeflow/kubeflow/issues/3259#issuecomment-492814792

current v0.5.1 still use incompatible istio version. I need to cherry-pick one change to v0.5.1.

[2019-06-11 00:14] Jeffwan commented on #3332
@graykode Thanks for pointing this out. I think I unset `KUBEFLOW_TAG` and didn't figure out this issue. I will file a PR to make the change. `v0.5-branch` in the curl url also need to be parameterized. I will stick to KUBEFLOW_TAG.

[code]

[2019-06-11 02:03] graykode commented on #3332
@Jeffwan Nice

[2019-06-11 03:45] Ark-kun opened #3442 "JupyterLab version in default images is outdated"
It would be nice if it included this fix https://github.com/jupyterlab/jupyterlab/pull/5814 for https://github.com/kubeflow/pipelines/issues/252

[2019-06-11 03:59] cfregly commented on #2682
This is happening to me, as well.

Here is the error from the `vizier-core` pod:
[code]

[2019-06-11 04:08] hitesh1907nayyar commented on #3388
Thanks @jlewi . This is resolved. I installed 0.5 last week.

[2019-06-11 04:08] #3388 closed

[2019-06-11 04:09] hitesh1907nayyar commented on #3389
Thanks @jlewi . This is resolved. I created secret in 0.5 and this was resolved.

[2019-06-11 04:09] #3389 closed

[2019-06-11 08:13] Luke035 commented on #3411
@Jeffwan  sorry for the delay.

It seems not allowed, when I try to set them to 0 I get the following:

[code]

[2019-06-11 09:10] JK-97 commented on #3403
me too why?

[2019-06-11 10:51] yanniszark commented on #3426
Thanks @kkasravi for opening this issue!
Giving a little more context on how this came up:

**What happened:**

* I used kfctl + kustomize to install Kubeflow. My KfDef included component `istio`.
* I deployed Kubeflow but I saw that Istio was not installed.
* Istio was not installed because it is in package gcp, a package I had not included in KfDef.

**What I expected to happen:**

* Istio shoul

[2019-06-11 12:23] #3098 closed

[2019-06-11 12:26] kkasravi commented on #3331
this has been fixed by #3375

[2019-06-11 12:26] #3331 closed

[2019-06-11 12:48] michael-balint commented on #3332
Seeing the same issue in a recent on-prem deployment of K8s + Kubeflow. `KUBEFLOW_TAG` set to `v0.5-branch` does not help the situation. Any other thoughts?

[code]

[2019-06-11 14:16] Luke035 commented on #3411
OK I after several research I made it work, but I found some problems that I consider very useful (and that maybe should be addressed)

The winning configuration has been the following:
[code]
1. `modelBasePath` should be to the root folder of the MODEL itself, not in the root folder of the possibile list of models. This is different from the `modelBasePath` param you'd use with just tensorflow/se

[2019-06-11 15:14] tarrade commented on #3024
I got the same issue using GCP. The tricks was to create a cluster to have the `/root/.kube/config`  file created by using the following command: `gcloud container clusters create CLUSTER_NAME`. [stackoverflow](https://stackoverflow.com/questions/56525510/deploy-kubeflow-on-gcp-cloudshell-using-cli-home-user-kube-config-no-such-fi). (by the way I am using release 0.5.1)

[2019-06-11 15:54] JK-97 commented on #3431
I am deploying a local cluster with kubeadm，
use this yaml files deploy dns:
`kubeadm` init `--pod-network-cidr=10.244.0.0/16`

`kubectl` apply -f `https://docs.projectcalico.org/v3.1/getting-started/kubernetes/installation/hosted/canal/rbac.yaml`
`kubectl` apply -f `https://docs.projectcalico.org/v3.1/getting-started/kubernetes/installation/hosted/canal/canal.yaml`

-----
but i don't know how to

[2019-06-11 15:59] #3198 closed

[2019-06-11 16:09] JK-97 commented on #3431
my coredns file ：
   apiVersion: v1
    data:
    Corefile: |
        .:53 {
            errors
            health
            kubernetes cluster.local in-addr.arpa ip6.arpa {
            pods insecure
            upstream
            fallthrough in-addr.arpa ip6.arpa
            }
            prometheus :9153
            proxy . /etc/resolv.conf
            cache 30
            reload

[2019-06-11 18:36] amarrella opened #3446 "General compatibility in AWS with Kiam/Kube2Iam"
Hi there :) Thanks again for this project!

I'm getting more and more familiar with this project and I'm trying to run it in AWS (EKS) .
I can successfully run pipelines and create notebook servers now, but a feature that would be really helpful would be supporting Kiam/Kube2Iam so that we can manage permissions in a better way.

Would it be possible to:
- Add the possibility to add pod annotation

[2019-06-11 20:03] andreyvelich commented on #2682
@cfregly How did you deploy Katib?

[2019-06-11 22:15] lluunn commented on #3264
Should we just remove appDir in spec, and always use pwd?

[2019-06-12 00:13] jlewi commented on #3431
@JK-97 Kubernetes networking issues are a little outside the scope of our expertise.

You might have better luck with

* kubeadm channels
* coredns channels

If you are using public cloud using that Clouds recommended Kubernetes install.

[2019-06-12 00:17] jlewi commented on #3441
Can you provide a list of the deployments in your cluster?

Do you have deployments

[code]

What is their status?

What version of Kubernetes are you using?

The central dashboard error looks like their might be an issue connecting to your K8s master related to SSL.

[2019-06-12 01:09] #3265 closed

[2019-06-12 01:45] malixian opened #3449 "execute "kfctl generate all -V" error"
i am trying to update kubeflow ,first i execute "kfctl delete all -V", then i must delete all crd with namepace kubeflow, last i download new kubeflow package and execute "kfctl generate all -V",but report an error ：
couldn't generate KfApp:  (kubeflow.error): Code 500 with message: kfApp Generate failed for ksonnet:  (kubeflow.error): Code 500 with message: couldn't initialize KfApi: there was a

[2019-06-12 02:25] #3449 closed

[2019-06-12 07:01] hitesh1907nayyar opened #3450 "Importing Pipleline in Kubeflow automatically"
Hi,

I need to import a pipeline into Kubeflow automatically (Without UI). Is there any rest api enabled which can be called once kubeflow is installed on kubernetes or any other method ?

Best Regards
Hitesh Nayyar

[2019-06-12 10:00] malixian opened #3451 "OSError: [Errno 99] Cannot assign requested address"
kubeflow version is v0.5.1, when i create new notebook server, then has error?but old kubeflow version v0.4.1 don't have this error.
Traceback (most recent call last):
  File "/opt/conda/bin/jupyter-notebook", line 11, in <module>
    sys.exit(main())
  File "/opt/conda/lib/python3.6/site-packages/jupyter_core/application.py", line 266, in launch_instance
    return super(JupyterApp, cls).launch_i

[2019-06-12 11:29] yanniszark opened #3452 "kfctl: Makefile vet, fmt targets don't cover the whole codebase"
The `vet` and `fmt` targets in the `kfctl` Makefile don't cover the whole codebase.
https://github.com/kubeflow/kubeflow/blob/aeac4312c103caf901bd48acbae3c5c6f5d3fb4b/bootstrap/Makefile#L60-L65

This causes issues like #3365  to not be caught in the unit tests.

Steps to fix:
* Fix fmt, vet Makefile targets

[2019-06-12 11:31] yanniszark opened #3453 "kfctl: Dockerfile duplicates Makefile logic"
The Dockerfile we use for bootstrap/kfctl uses logic that already exists inside the Makefile, eg:
https://github.com/kubeflow/kubeflow/blob/aeac4312c103caf901bd48acbae3c5c6f5d3fb4b/bootstrap/Dockerfile#L64-L72

This results in code duplication and mismatch between what the normal and containerized build does.

Steps to fix: Dockerfile should call make commands and not replicate their functionality

[2019-06-12 12:39] PascalSchroederDE commented on #2347
The dirty fix suggested by @TimZaman isn't working any more for k8s v1.14 because there is no `/var/snap/microk8s/current/docker.sock` any more because microk8s is using containerd now as @ktsakalozos mentioned. Is there a solution for this issue working for microk8s v1.14?

[2019-06-12 15:37] indraforyou commented on #3441
Yes all the deployments are running fine.
[code]
Kubernetes version:
[code]

Not sure how to fix the SSL error. Do I need to setup some network-policy?

[2019-06-12 16:22] onur-sam-gtn-ai commented on #3433
`scripts/aws/util.sh` is trying to reach the files in `dependencies/` but they no longer exist.
This applies both to the v0.5.1 (tries to download from master) and the master (tries to download from ${KUBEFLOW_TAG} which is again master).
There seems to be a problem with kiali (the required secret doesn't exist?) in v0.5.1 as well so even after hardcoding into util.sh, v0.5.1 is still not deployab

[2019-06-12 17:41] lluunn opened #3456 "kfctl + kustomize on GKE not working"
[code]

Apply succeeded, but endpoint not accessible.
Also, I forgot to set client id and secret, but it didn't raise error

[2019-06-12 17:42] lluunn commented on #3456
Error on ingress:
error while evaluating the ingress spec: error getting BackendConfig for port "80" on service "istio-system/istio-ingressgateway", err: no BackendConfig for service port exists.

[2019-06-12 17:50] lluunn commented on #3456
the backend config name has prefix iap-ingress-, so there is a mismatch

[2019-06-12 18:01] lluunn commented on #3456
Also, certificate is referencing ingress, and the name is also mismatch

[2019-06-12 18:12] kkasravi commented on #3456
Hi @lluunn

we have this in testing/kfctl/kf_is_ready_test.py
[code]

maybe we're not setting the right basic-auth components in app.yaml?

[2019-06-12 18:16] lluunn commented on #3456
I am testing iap as far.
In my PR https://github.com/kubeflow/manifests/pull/129 I removed name prefix for iap-ingress component.

[2019-06-12 18:52] kkasravi commented on #3456
that might result in duplicate components - i'll run as well, see if i can fix ingress so it doesn't care if basic-auth or iap-ingress is used

[2019-06-12 18:58] lluunn commented on #3456
ingress bootstrap pod error:
 message: Couldn't find key istioNamespace in ConfigMap istio-system/parameters
        reason: CreateContainerConfigError

[2019-06-12 19:40] jlewi commented on #3456
@lluunn What improvements to the E2E test are needed to verify that IAP is working?

* In the past, one of the problems with testing IAP was that we would have to manually update the OAuth credential with the redirect URI which would be unique for each deployment.

* With universal redirect that might no longer be an issue.

* The other issue we might run into is running into Lets-encrypt issues q

[2019-06-12 19:59] kkasravi commented on #3456
looks like 'parameters' config-map needs to have a prefix in kustomization.yaml

[2019-06-12 20:00] kkasravi commented on #3456
it looks like there are a number of configmaps that have parameter or parameter+suffix names
[code]

[2019-06-12 20:05] kkasravi commented on #3456
for ./iap-ingress/base/kustomization.yaml and ./basic-auth-ingress/base/kustomization.yaml maybe we should name them both
[code]
and update the vars section in both

[2019-06-12 20:20] lluunn commented on #3456
Another problem: my cloudendpoint is pending forever, and the pod shows:

[code]

[2019-06-12 20:36] lluunn commented on #3456
According to this: https://github.com/danisla/cloud-endpoints-controller/blob/master/cmd/cloud-endpoints-controller/main.go#L335
It can't find the ingress.

Seems the cloudEndpoint.spec.targetingress doesn't specify the namespace

[2019-06-12 20:44] kunmingg opened #3458 "kfam API: e2e test"
We need e2e test to cover kfam API.

[2019-06-12 20:49] lluunn opened #3459 "Fix healthcheck for istio-ingressgateway"
Previously istio-ingressgateway doesn't support health check, so we hack it by routing to another service: https://github.com/kubeflow/kubeflow/blob/master/kubeflow/gcp/healthcheck_route.yaml

We should configure it properly now with istio 1.1.

[2019-06-12 23:53] Jeffwan opened #3462 "Cut down PR title from cherry-pick scripts"
[code]
Ref: https://github.com/kubeflow/kubeflow/blob/master/hack/cherry-picks.md

PR title is
[code]

It's better to cut down title to `Automated cherry pick of #3084: Update OWNERS file and make ingress configurable`

A good first issue.

[2019-06-13 00:16] Jeffwan commented on #3433
@onur-sam-gtn-ai

We cherry-pick change to https://github.com/kubeflow/kubeflow/pull/3444.

Then, if we use `v0.5-branch`, we are good to go.  It will get istio based on branch.

[2019-06-13 00:16] Jeffwan commented on #3433
@gokuatkai Please have another try and this issue should be fixed.

[2019-06-13 00:18] Jeffwan commented on #3421
@otaviocv

We back port few changes to v0.5.1 and update official documentation. I've tested istio parts it looks good to me. Please have another test and let me know if your issue is resolved

[2019-06-13 00:21] Jeffwan commented on #3446
@amarrella

Could I know if you're running on AWS or EKS? If it's EKS,  Our engineers are working on pod level IAM this would be release very soon. This would be a perfect fit for this case.

If it's AWS, essential requirement for KIAM or kube2iam will be helpful.

[2019-06-13 00:27] Jeffwan commented on #3411
Yes. I think that's the expectation from TF Serving documentation (https://www.tensorflow.org/tfx/serving/docker). I agree it's not clear enough and people may take some time to figure it out.

Good to know. Please help update this ticket if you confirm that's a tensorflow serving upstream issue.

[2019-06-13 07:06] amarrella commented on #3446
Hi @Jeffwan, yes I mean EKS apologies. this I great news :) thanks!

[2019-06-13 09:28] onur-sam-gtn-ai commented on #3433
I have just tried deploying v0.5-branch from fresh, it's still failing with kiali.
[code]
Line 1542-1558 in dependencies/istio/install/istio-noauth.yaml at https://github.com/kubeflow/kubeflow/commit/47a28b7c42689444fdbf12901cbc98125d1908f9

I can also see that the master branch util.sh is still pointing to `dependencies/` that doesn't exist.

[2019-06-13 09:57] yanniszark commented on #3453
/assign @yanniszark

[2019-06-13 09:57] yanniszark commented on #3452
/assign @yanniszark

[2019-06-13 11:24] smathalikunnel commented on #3003
I am getting the same error. I have only PROJECT EDITOR rights on the project due to company policy. Is there anyway we can install kubeflow without PROJECT OWNER rights?

[2019-06-13 12:28] ChethanUK commented on #3003
Yes, you need to be a project owner or get the IAM Service account.

[2019-06-13 13:50] smathalikunnel commented on #3003
It is not feasible to grant PROJECT OWNER role directly for a user or service account due to security policies.

It would help if we could get the granular roles/permissions required, so that they can be granted to the user/service account.

[2019-06-13 16:00] kkasravi commented on #3419
I think this is a good idea, it would solve a few problems.

[2019-06-13 16:02] kkasravi commented on #3419
the existing bootstrap/config/{base,overlays} should be moved into manifests so that tooling in manifests can generate new config files if utilized.

[2019-06-13 18:42] lluunn commented on #3456
Another problem: the backend-updater cannot find ingress because the namespace env var is not set correctly:

When I exec into the pod
[code]

That's not replaced

[2019-06-13 19:23] lluunn commented on #3459
istio-ingressgateway now has a status-port.
We should change our healthcheck to point to that

[2019-06-13 20:54] lluunn commented on #2766
I think we need to port the change of update_backend.sh, setup_backend.sh in https://github.com/kubeflow/kubeflow/pull/3404 to kustomize manifest
https://github.com/kubeflow/manifests/blob/master/gcp/iap-ingress/base/config-map.yaml

[2019-06-13 21:54] Jeffwan commented on #3433
Please manually create `kiali` secret in the cluster. 0.5-branch will use istio in 0.5-branch. This commit upgraded istio version and brings in new changes. It won't be cherry-picked back to cluster.

Yes. `util.sh` will be deprecated very soon. I am working on golang cli and that tool will not use istio under `dependencies`. Don't worry about the scripts now. Thanks! :D

[2019-06-14 00:55] #2195 closed

[2019-06-14 05:06] jlewi commented on #3441
@indraforyou Are you running on GKE?

@avdaredevil Does the JS stack trace look like an issue getting the certificate for the Kubernetes master? Are you running on open shift by any chance?

Some debugging questions

1. Are you able to connect via kubectl port-forward to the central dashboard?
1. Do the individual UIs work if you connect to them via the direct links e.g.

[code]

[2019-06-14 05:08] jlewi commented on #3414
@Edilmo @Ark-kun Does recreating the Ambassador pods fix it for you?

[2019-06-14 05:10] jlewi commented on #3451
Can you provide the StatefulSet spec for your jupyter notebook so we can see what Docker image you are using?

Are you using a 0.5.1 Jupyter image?

[2019-06-14 05:11] jlewi commented on #3450
@vicaire @Ark-kun @IronPan Can you assign to someone who knows the answer?

[2019-06-14 05:15] jlewi commented on #3396
@rverma-nikiai Does that answer your question?

[2019-06-14 05:34] lluunn commented on #3456
With the current fix in https://github.com/kubeflow/manifests/pull/129, the ingress seems healthy.
But when I visit the endpoint, I got Origin authentication failed.

[2019-06-14 06:26] SaschaHeyer opened #3465 "Add machine type and cluster size to deployment user interface"
Hi Kubeflow Team,

it would be great if we had the option to set the cluster size and the machine type directly in the deployment user interface.

https://deploy.kubeflow.cloud/#/deploy

Best regards
Sascha

[2019-06-14 06:48] avdaredevil commented on #3441
/cc @prodonjs may have some insights on this. I am not sure yet, though I'd like to see the answers for the questions above

[2019-06-14 08:13] Jonuknownothingsnow opened #3467 "jupyter resource limits？"
We could specify the total amount of resource(CPU/mem) that should reserve when create a notebook server, but can I limit the maximum resources the notebook server use? haven't figure out how to do this

[2019-06-14 12:21] prodonjs commented on #3348
/close

[2019-06-14 12:21] #3348 closed

[2019-06-14 12:58] zabbasi opened #3469 "Add/fix admission-webhook to kfctl kustomize default components"
admission-webhook is implemented using two components (bootstrap and webhook) in kustomize ([see here](https://github.com/kubeflow/manifests/tree/master/admission-webhook)) . However its components are not added to kustomize kfctl components.
/cc @kkasravi

[2019-06-14 13:11] prodonjs commented on #3441
There seem to be two different issues here. The `Unable to fetch Namespaces` error definitely sounds like an issue with the dashboard's server communicating to the master over HTTPS. Unfortunately, all of our testing has been on GKE environments but I don't recall seeing anyone else raise this issue in other K8s platforms. We're using the standard K8s client libraries for NodeJS so there shouldn't

[2019-06-14 13:32] otaviocv commented on #3421
I was using kubeflow v0.5.1 when this issue happened. But somewhat the terminal got back working. I will reopen this issue if the problem gets back.

[2019-06-14 13:32] #3421 closed

[2019-06-14 14:19] yanniszark opened #3471 "kfctl: repo for KfDef is not calculated correctly"
The repo field in KfDef should be the folder under which the kubeflow repository code lives.
In other words, it must hold that:
[code]

Currently, we are passing the wrong value for repo.
The value we are passing is `<repo>/kubeflow`:
https://github.com/kubeflow/kubeflow/blob/7ca3cfb39368eb49042992f4e16215e41e1953c6/bootstrap/pkg/kfapp/coordinator/coordinator.go#L296

While the repo value is wrong

[2019-06-14 15:34] yanniszark commented on #3471
/cc @lluunn

/assign @yanniszark
/assign @lluunn

[2019-06-14 15:49] lluunn commented on #3471
I think it was intended.
Because under github repo kubeflow/kubeflow, the dir kubeflow is the repo for ksonnet registry.
So it was defined that way I believe.

What error does this cause?

[2019-06-14 16:21] yanniszark commented on #3471
@lluunn I see what you mean.
Does it make sense to keep it that way since:

1. We are moving away from kustomize but other code, unrelated to kustomize, depends on this option.
2. The name of the field (repo) and its description (Name of repository.) suggests it is the Kubeflow repo and not a ksonnet registry. Couple that with the fact that there is an actual RegistryConfig type inside `applicatio

[2019-06-14 17:12] vicaire commented on #3450
You could use the swagger client: https://github.com/kubeflow/pipelines/tree/master/backend/api/swagger

[2019-06-14 18:17] lluunn commented on #3471
Yeah, I think we should probably change as we don't need the kubeflow dir as the ks registry anymore.

cc @kunmingg @kkasravi

[2019-06-14 21:40] avdaredevil commented on #2997
A thing to add for a few folk which I ran into as well, is to make sure you have the latest copy of tags by running:

[code]

_**Note:** In my case `prod` points to this Kubeflow repo, while origin points to my personal fork_

[2019-06-15 03:36] hitesh1907nayyar commented on #3450
Hi @vicaire

Thanks for your help!

Can you please let me know how to use this ?  Steps to be performed or a sample example that i can do ?

Best Regards
Hitesh Nayyar

[2019-06-15 21:24] #1970 closed

[2019-06-15 23:24] #1751 closed

[2019-06-16 00:24] #2010 closed

[2019-06-16 21:50] Edilmo commented on #3414
Hi @jlewi

Answering your questions:

-  The new notebook was not accessible even if I try directly the link in the browser.
- Certainly the ambassador was not registering routes for the new notebooks, the "Ambassador Diagnostic Overview" page was not showing the route for the new notebooks.
- Recreating the Ambassador fix the problem!!!
- yes, I'm using a kubernetes cluster in GKE.

The logs of t

[2019-06-16 22:22] #2267 closed

[2019-06-17 00:29] jlewi commented on #2630
kfctl_go_test.py is setting the package manager to kustomize here
https://github.com/kubeflow/kubeflow/blob/5f1762a5a973d3441f010096357ba882f2c9386e/testing/kfctl/kfctl_go_test.py#L91

So all tests using kfctl_go_test.py should be using kustomize.

Here's a postsubmit run.
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow_kubeflow/kubeflow-postsubmit/1139677020716797952

The postsubmit

[2019-06-17 00:38] jlewi commented on #2630
Here are the logs for the postsubmit failure. The test is failing because its waiting for the studyjob-controller deployment to be ready but that deployment is not found.

My suspicion is that this is a bug in the kustomize manifest. This would explain why it wouldn't be caught in presubmit because we currently don't run the E2E tests on presubmits for kubeflow/manifests

[kubeflow-postsubmit-kfct

[2019-06-17 00:40] jlewi commented on #3459
@lluunn What is the priority of this? Should we mark it P1 and try to get it done for 0.6?

[2019-06-17 00:45] jlewi commented on #3456
@lluunn Is that error related to ISTIO JWT validation?

@lluunn  What checks could we add to [kf_is_ready_test.py](https://github.com/kubeflow/kubeflow/blob/master/testing/kfctl/kf_is_ready_test.py) to catch these errors?

With universal redirect, the endpoint should now be accessible via IAP so we could verify that we can actually connect to the central dashboard using IAP.

[2019-06-17 00:48] jlewi commented on #3422
It might be good to leave the annotations in place at least until 0.7. In theory this would allow people to continue to use Ambassador as their gateway rather than ISTIO.

[2019-06-17 00:50] jlewi commented on #3330
Thanks @arjunm183 We'll see about trying to tackle this in 0.7 (Q3).

[2019-06-17 01:16] jlewi commented on #3091
@discordianfish  Did you try @rawkintrevo 's work around of symlinking the pem file?

Based on @discordianfish's experiments it looks the `ks` CLI exhibits the same behavior of not working with relative paths to certs in .kubeconfig. i.e

It looks like ks requires the certificate authority to be explicitly passed via the `--certificate-authority` flag.

So it would seem to me that the problem with

[2019-06-17 01:18] jlewi commented on #3091
@pisymbol  see the following issues regarding ScheduledWorkflow
kubeflow/kubeflow#2487
kubeflow/kubeflow#3130

[2019-06-17 01:28] jlewi opened #3475 "E2E tests are failing; can't find studyjob deployment"
Here's a failing postsubmt run
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow_kubeflow/kubeflow-postsubmit/1139677020716797952

The error is

[code]

The postsubmit started failing on 06/13. I suspect it is related to this PR
https://github.com/kubeflow/manifests/pull/128

Related to: #2630

[2019-06-17 02:01] jlewi commented on #3436
@kunmingg Any update on this?

[2019-06-17 02:05] jlewi commented on #3007
It looks like we are still not setting the install istio flag to true by default
https://github.com/kubeflow/kubeflow/blob/5f1762a5a973d3441f010096357ba882f2c9386e/bootstrap/cmd/bootstrap/app/options/options.go#L68

We should probably also fix the description to be "use-istio" as opposed to install istio.

[2019-06-17 02:14] jlewi commented on #3007
It looks like the default for use_istio is now true.
https://github.com/kubeflow/kubeflow/blob/5f1762a5a973d3441f010096357ba882f2c9386e/bootstrap/cmd/kfctl/cmd/init.go#L176

[code]

[2019-06-17 02:14] #3007 closed

[2019-06-17 02:17] jlewi commented on #3020
The default still appears to be ksonnet not kustomize.

https://github.com/kubeflow/kubeflow/blob/5f1762a5a973d3441f010096357ba882f2c9386e/bootstrap/cmd/kfctl/cmd/init.go#L105

@ashahba Would you mind submitting a quick PR just to update the default please?

[2019-06-17 04:22] arjunm183 commented on #3330
@jlewi As a progress i started making the components as non root. I have made it and in progress of making other components. It is just the Dockerfile where i did some changes and tested. It works fine.
Kindly let me know is there a way i can share those.

[2019-06-17 08:01] arjunm183 opened #3476 "kfctl binary doesnt download from local kubeflow repo."
Kfctl binary doesnt download kubeflow repository which is in github enterprise local repo when used it with -r option.
kfctl init kfv2 -r https://gitcorp.enterprise.com/kubeflow/kubeflow.git

When i see the .cache folder after the initialization it looks like downloaded from the central repository.
Is it possible to provide option for the repo to download from private git repository as well. That

[2019-06-17 09:06] onur-sam-gtn-ai opened #3477 "Grafana dashboard instructions missing crucial step"
https://www.kubeflow.org/docs/components/istio/
is missing the ambassador configuration necessary to expose the dashboards.
https://github.com/kubeflow/kubeflow/pull/678/commits/7fefe964fbeb73a44c6efb47fde2aade31c0d197#diff-79b21a65ea095ab44a03c65ec592228d

components/k8s-model-server/istio-integration.md
Line 98-104 have the required step but the current documentation website does not have this.

[2019-06-17 12:31] jlewi opened #3478 "KfDef spec v1beta1; remove ksonnet nomenclature - make it more application centric"
KfDef is currently defined here:
https://github.com/kubeflow/kubeflow/blob/5f1762a5a973d3441f010096357ba882f2c9386e/bootstrap/pkg/apis/apps/kfdef/v1alpha1/application_types.go#L126

In 0.7 we should probably create a new version of this structure.

The current version of this structure is very ksonnet centric; e.g. components & packages are ksonnet concepts.

Kubeflow is using "Applications" to re

[2019-06-17 13:52] yanniszark commented on #3452
Fixed by #3455

[2019-06-17 13:52] #3452 closed

[2019-06-17 13:52] yanniszark commented on #3453
Fixed by #3455

[2019-06-17 13:52] #3453 closed

[2019-06-17 16:12] jlewi commented on #3035
Another idea we should look at is using [TektonCD](https://github.com/tektoncd/pipeline/blob/master/docs/README.md#learn-more) as opposed to Argo.

I think one of the advantages of TektonCD Is that has [Task resource](https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md) with well defined inputs & outputs.

We could use Task resources to break up our tests into reusable tasks. e.g.

* We

[2019-06-17 16:12] jlewi commented on #3035
/cc @derekhh

[2019-06-17 17:31] kunmingg commented on #3436
fixed: https://github.com/kubeflow/kubeflow/pull/3386

[2019-06-17 17:31] #3436 closed

[2019-06-17 17:43] indraforyou commented on #3441
@jlewi No I am trying to setup on a on-prem cluster
I haven't setup any ingress yet and was accessing centraldashboard though port forwarding.

I tried to access some other KF applications (through port forwarding)
These worked:
`kubectl port-forward tensorboard-5b57bff466-n8x2h $PORT:6006 -n=kubeflow`
`kubectl port-forward ml-pipeline-ui-6cd4d9dd5-8chqv   $PORT:3000 -n=kubeflow`
`kubectl port-for

[2019-06-17 18:03] asispatra opened #3481 "minio-pvc and mysql-pv-claim Pods stuck in Pending state although I have created 3 persistent volume"
I was following [Kubeflow Troubleshooting](https://www.kubeflow.org/docs/other-guides/troubleshooting/) document section "Pods stuck in Pending state". One pvc become "Bound" state. but rest two are still pending although I have created three persistent volume.

[code]

Environment details:
OS: Ubuntu 18.04
Platform: x86

Thanks.

[2019-06-17 18:26] lluunn commented on #3459
yeah, we should fix it in 0.6
/priority p1

[2019-06-17 18:44] vicaire commented on #3450
I think @IronPan wrote some documentation about this recently. Assigning to him to provide pointers.

[2019-06-17 20:06] jlewi commented on #3476
Duplicate of #2831

[2019-06-17 20:06] #3476 closed

[2019-06-17 20:07] lluunn commented on #3459
Health check is working with the change in https://github.com/kubeflow/manifests/pull/129

We should then:
1. remove the health check route rule since it's not needed
1. i think in jwt validation policy we don't need to exclude /healthz because the ingress health check is not on port 80

But first I think we should setup the test

[2019-06-18 06:17] SaschaHeyer opened #3484 "Pagination on experiments not working"
Hi Kubeflow Team,

the pagination on the experiments page is not working properly.

**Description**
- Open the experiments page
- Switch to next page
- Error appears

More results existing then just one page.

![2019-06-18 08 12 04](https://user-images.githubusercontent.com/1991664/59657469-159ec680-91a1-11e9-89e0-de50c9af1299.gif)

**Error message:**
`{"error":"Failed to create list options: Inva

[2019-06-18 06:23] SaschaHeyer opened #3485 "Too much daily Stackdriver log volume"
Stackdriver produces 43.75 gibibyte logs per day.
Is this the expected amount of log ingests per day?

![Bildschirmfoto 2019-06-18 um 08 30 02](https://user-images.githubusercontent.com/1991664/59658235-57307100-91a3-11e9-9d60-c7b575b16ded.png)

**Version:**
Kubeflow: Build commit: c938247
Kubeflow created with the UI (GCP)

[2019-06-18 08:23] kavemun opened #3487 "Spawning of Notebook does not have permission to write to persistent volume"
I am trying to spawn a notebook with workspace volume from the kubeflow UI. However I am running into permission denied errors.

This is quite similar to
https://github.com/kubeflow/kubeflow/issues/1241
however, changing the permission on the folders does not resolve the problem

[code]

logs from notebook-with-pvc-0 :
[code]

[2019-06-18 11:59] josefkorbel commented on #17
Any news regarding tensorboard in KF? We are using KF on GCE, I see it deployed even a TensorBoard pod, but cannot find any straight-forward way how to incorporate it into fairing.

[2019-06-18 12:48] jlewi commented on #3484
/assign @rileyjbauer

@rileyjbauer Can you assign to the right front end person please?

[2019-06-18 12:52] jlewi commented on #3487
Can you describe your setup please?

* How are you running Kubernetes?
* What are you using as your default storage class?
   *  How is it configured with respect to permissions?

The Jupyter UI allows you to select the PVC you want to use. So one option would be to not use the default storage class but to manually create the PVC outside of the UI and set the permissions (e.g. READ/WRITE all) so t

[2019-06-18 13:03] jlewi commented on #3471
Should KfDef.repo be referring to cachedir at all?

Cachedir should be an internal property of the KfApp. The value in the KfDef should refer to the source of truth e.g. a specific commit in the git repo. This way if the user checks in the app into source control and checks out on a different machine we can reconstruct the cachedir from the source of truth.

See for example #2959 we should redownl

[2019-06-18 13:06] jlewi commented on #3471
@yanniszark My initial thought for what the semantics would be something like this

[code]

The semantics should then be checkout each uri to   join(cachedir, name)

Files can then be consistently referred to as

join(cachedir, name, repo_relative_path)

[2019-06-18 13:53] jocieA commented on #3003
Hi,
I'm using a service account with Project Owner role and my account is set Owner as well but i'm still getting this error when deploying kubeflow using the CLI (cloud shell):

couldn't apply KfApp:  (kubeflow.error): Code 500 with message: coordinator Apply failed for gcp:  (kubeflow.error): Code 400 with message: gcp apply could not update deployment manager Error could not update storage-kube

[2019-06-18 13:56] #3020 closed

[2019-06-18 15:25] kkasravi opened #3489 "application CR needs to create a suffix for the instance label"
see https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/#labels

[2019-06-18 15:52] yanniszark commented on #3469
@zabbasi thanks for opening this.
I also bumped into this today and I was very confused by it.
This seems to be a bug inside the `mapDirs` function.
https://github.com/kubeflow/kubeflow/blob/24c39e3cd66862b9433f23f7f9cc2937c70a39dd/bootstrap/v2/pkg/kfapp/kustomize/kustomize.go#L522

@kkasravi what exactly does the mapDirs function look for?
Can't we just look for the presence of the base/overlay d

[2019-06-18 16:21] jlewi commented on #3469
Can we add an appropriate test to ensure the admission hook is properly deployed?

e.g. can we add a check here
https://github.com/kubeflow/kubeflow/blob/master/testing/kfctl/kf_is_ready_test.py

[2019-06-18 17:15] yanniszark opened #3490 "kfctl: kustomize: patchesStrategicMerge fails if filename of patch doesn't equal original filename"
In order to make kustomize more flexible, @kkasravi added functionality to `kfctl` that merges 1+ overlays like mixins.
However, it seems that it doesn't handle `patchesStrategicMerge` correctly.
More specifically, it contains the implicit assumption that filenames in the `patchesStrategicMerge` field will match filenames in the base directory.

This has caused errors in the CI:
[code]

@kkasravi

[2019-06-18 22:27] yanniszark opened #3491 "kfctl: kustomize component discovery logic is flawed"
`kfctl` uses a function called `mapDirs` to discover the components available and map each component's name to its path.
However, the logic it uses for discovery is flawed and can lead to perplexing errors.

https://github.com/kubeflow/kubeflow/blob/24c39e3cd66862b9433f23f7f9cc2937c70a39dd/bootstrap/v2/pkg/kfapp/kustomize/kustomize.go#L522-L523

In the above check, to check if a folder is a compon

[2019-06-18 22:27] yanniszark commented on #3491
/assign @kkasravi
/cc @jlewi for ksonnet turndown

[2019-06-18 23:37] kkasravi commented on #3490
/assign @kkasravi

[2019-06-19 00:35] kkasravi opened #3494 "add minio, mysql overrides to gcp under bootstrap/config/overlays/gcp, remove from manifests"
the current overlay under /manifests/pipeline/ can be removed and added to bootstrap/config/overlays/gcp

[2019-06-19 02:04] viyer7 commented on #3336
I am facing the exact same issue. I have deployed clusters using the UI before but this issue has never come up before.

After 20 minutes cap is reached, it ends with "Could not redirect to Kubeflow Dashboard at: .... "

[2019-06-19 02:11] #3300 closed

[2019-06-19 03:18] kavemun commented on #3487
Hi @jlewi,

Kubernetes version 1.14.1
running kube on a cluster with 3 master nodes and 4 workers.
I am using cephfs as storageclass
[code]

[code]

[code]

[code]
It might be something to do with the pv setup, I'll try your suggestion meanwhile. Thanks

[2019-06-19 03:31] jlewi opened #3496 "kfctl E2E test deploying on existing kubernetes cluster; simulated on prem cluster"
We need an E2E test for deploying on an existing Kubernetes cluster.

There's a couple ways we could do this

1. We could use minikf
1. We could use GKE to simulate an existing kubernetes cluster

[2019-06-19 04:56] #3469 closed

[2019-06-19 05:59] kkasravi opened #3497 "upgrade to use kustomize v3+"
kustomize v2.0.3 had a number of limitations including not guaranteeing ordering of resources which caused us to create components for just crds. We should upgrade to v3+ and update manifests to remove workarounds for these limitations as well as take advantage of other new features.
Note: kustomize releases page is [here](https://github.com/kubernetes-sigs/kustomize/releases)

Kustomize 3.0 is be

[2019-06-19 09:23] Svendegroote91 opened #3498 "Deploy v0.5.0 error "couldn't add package katib-v1alpha2""
I am following the instructions on https://master.kubeflow.org/docs/gke/deploy/deploy-cli/ to deploy the latest Kubeflow via the CLI.

However, when running the following command

```kfctl generate all -V --zone ${ZONE}```

I get the following error:

[code]

[2019-06-19 09:31] Svendegroote91 commented on #3498
It seems that this was fixed with the v0.5.1 release, closing the issue.

[2019-06-19 09:31] #3498 closed

[2019-06-19 10:33] apurva3000 commented on #1915
Any update on this ?

[2019-06-19 13:20] jlewi commented on #3497
@kkasravi Do we want to do this before 0.6 or can we wait for 0.7?

[2019-06-19 13:21] jlewi commented on #3496
/cc @yanniszark @vkoukis

[2019-06-19 13:23] jlewi commented on #1409
#3499 added some gocode to check if a credential provides certain permissions. We could probably use that to easily add some go code to the kfctl binary to validate a user permissions.

[2019-06-19 13:52] mattnworb commented on #2954
@elyase I think that is mostly solved already by https://www.kubeflow.org/docs/started/getting-started-k8s/, is it not?

[2019-06-19 16:07] elyase commented on #2954
I tried following that and found some errors so not sure if the docs match the current capabilities of the kfctl binary.

[2019-06-19 16:33] kkasravi commented on #3497
it would be valuable to get it in even if we don't fix the crds workaround.

[2019-06-19 17:07] lluunn commented on #3475
I think this is fixed
/close

[2019-06-19 17:07] #3475 closed

[2019-06-19 20:30] #2700 closed

[2019-06-19 21:25] dmonson commented on #2487
@IronPan  > you could disable the pipeline component if upgrading kubernetes is not an option.

How does one disable the pipeline component?

[2019-06-19 22:02] lluunn opened #3501 "Centraldashboard cannot select namespace"
When I click on "Select namespace", nothing happens.
<img width="955" alt="Screen Shot 2019-06-19 at 3 01 20 PM" src="https://user-images.githubusercontent.com/32310205/59804414-1d469400-92a3-11e9-9a44-5e520e95f31d.png">

I deployed KF using kfctl, with kustomize @ master.

/cc @prodonjs @avdaredevil

[2019-06-19 22:03] lluunn commented on #3501
Seems like a permission issue. Saw this in the dashboard pod:
[code]

[2019-06-19 22:13] lluunn opened #3502 "Jupyter service on master not working"
When I click "spawn", nothing happens.
Saw this in the pod
[code]

 podpreset has been renamed to poddefaults.kubeflow.org

[2019-06-19 22:15] lluunn commented on #3502
The jupyter webapp image is from May2, needs update.

[2019-06-19 23:02] rileyjbauer commented on #3484
Hello, thank you for filing this report!
This was a regression in Kubeflow Pipelines v0.1.16 and was fixed in https://github.com/kubeflow/pipelines/issues/1149 as part of the v0.1.17 release, so all subsequent versions of Kubeflow Pipelines should be working as expected.

[2019-06-19 23:15] yanniszark commented on #3501
Also bumped into this.
The kustomize package has a bug resulting in the cluster{role, rolebinding} not being created.
Issue in manifests: https://github.com/kubeflow/manifests/issues/152

[2019-06-20 00:30] #2387 closed

[2019-06-20 00:30] #1971 closed

[2019-06-20 01:14] lluunn commented on #3502
Next error: the statefulset cannot be created
[code]

[2019-06-20 01:15] lluunn commented on #3502
@kunmingg is there supposed to be a default-editor service account, and we missed it in kustomize?
Or we changed the name?
I can see there is a service account called jupyter-web-app-notebook-service-account

[2019-06-20 01:26] kunmingg commented on #3502
@lluunn
You can create a profile and use notebook in profile-namespace.
kubeflow namespace is a system namespace for shared components

[2019-06-20 01:27] kunmingg commented on #3502
`jupyter-web-app-notebook-service-account` deleted in:
https://github.com/kubeflow/manifests/pull/158
It seems not have a consumer.

[2019-06-20 01:30] #2703 closed

[2019-06-20 01:30] #2698 closed

[2019-06-20 01:54] lluunn commented on #3502
So users are not supposed to do stuff in kubeflow namespace?
Seems like an unnecessary constraint if the user is admin and doesn't need multi-user feature.
cc @jlewi

[2019-06-20 01:56] lluunn commented on #3502
I think jupyter-web-app-jupyter-notebook-role-binding binds the wrong service account name, no prefix.
https://github.com/kubeflow/manifests/blob/master/jupyter/jupyter-web-app/base/role-binding.yaml#L10

[2019-06-20 03:36] jlewi commented on #3502
Should we create a profile by default for the user who deploys Kubeflow?

[2019-06-20 03:37] jlewi commented on #3496
Might be good to use a tool like kops or kubeadm to setup a conformant K8s cluster on GCP and use that as our test bed.

[2019-06-20 03:38] jlewi opened #3504 "Test Flake; basic auth connection reset connecting to master"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/3479/kubeflow-presubmit/1141521560461381632/

[code]

Filing this bug to tack this flake

[2019-06-20 03:43] jlewi commented on #3230
Thanks for debugging that.

[2019-06-20 13:04] prodonjs commented on #3501
kubeflow/manifests#159 should resolve this.

[2019-06-20 13:31] yanniszark opened #3505 "jupyter-web-app: hitting `spawn` returns 400 (Bad Request)"
Commit https://github.com/kubeflow/kubeflow/commit/cee39dbcfec7303ac61d3fbb08031acdaec0886f broke the `post_notebook` function by adding the following line:

https://github.com/kubeflow/kubeflow/blob/5397cc8c9e8a6ecb9aba1442953332444b679a96/components/jupyter-web-app/kubeflow_jupyter/default/app.py#L39

This line is unnecessary because `namespace` is already available inside the function.
Am I mis

[2019-06-20 14:05] jlewi commented on #3505
/assign @kimwnasptd

Thanks @yanniszark @kimwnasptd Would you mind picking this up?

[2019-06-20 14:14] jlewi commented on #2831
#3468 add --config file added some support for pulling from a local file. Repo paths are using hashi-corps go-getter which also supports local file.
https://github.com/hashicorp/go-getter

We should probably be consistent.

GoGetter's getAny method supports a ref keyword.
https://github.com/hashicorp/go-getter#git-git

We can use this with GitHub refs
https://help.github.com/en/articles/checking-o

[2019-06-20 14:17] jlewi commented on #2831
You can test it out with go-getter's command line string.
https://github.com/hashicorp/go-getter/blob/master/README.md#installation-and-usage

[2019-06-20 14:18] kimwnasptd commented on #3505
@jlewi yes, I'll fix it ASAP

[2019-06-20 15:15] SaschaHeyer commented on #3484
Hi @rileyjbauer
great thank you.

I deployed Kubeflow to GCP Using the UI https://www.kubeflow.org/docs/gke/deploy/deploy-ui/. So I assume the Kubeflow deployment tool is still using an old version?

[2019-06-20 15:36] yanniszark commented on #2831
@jlewi I like this a lot!
Anything that pulls things from URIs should use the same tool.
`go-getter` seems like a great choice also for `--config`.

Back to the issue, this seems related to the way we represent what repository to download.
https://github.com/kubeflow/kubeflow/issues/3471

How about we do something like:
1. Make a new `repos` field, which include `name: <>, repo: <>` entries (or ma

[2019-06-20 15:56] kimwnasptd commented on #3502
cc

[2019-06-20 16:36] #3426 closed

[2019-06-20 17:12] #3501 closed

[2019-06-20 21:48] rovechkin opened #3509 "Allow Kubeflow notebook service to be installed in a cluster namespace"
Currently KF installation creates a standalone cluster. A new KF installation will create another cluster. Thus it requires project wide admin permissions.

At Cruise Automation teams are not granted admin privileges on cluster or project level. Instead each team is given a namespace where it has admin privileges. We would like to install KF Notebook service in a single namespace.

So out requirem

[2019-06-20 22:28] jlewi opened #3511 "[GCP] Investigate GCP Config Connector"
We should investigate installing
https://github.com/GoogleCloudPlatform/k8s-config-connector

As part of Kubeflow clusters.

This would allow Kubeflow users to leverage KRM to create GCP resources like buckets and BQ datasets in our examples.

[2019-06-21 01:32] woop opened #3512 "Persistent Print Preview for sharing notebooks"
Currently it is possible to do a print preview of a Jupyter notebook. This allows users to share read only versions of their notebooks, which is quite useful.

However, one of the problems our users are facing is that when they delete their Jupyter container, the link to their shared notebook terminates. I'm assuming this is because their personal container is rendering that link, and Kubeflow is

[2019-06-21 04:26] imicer commented on #3487
@kavemun Have you resolved your issue? I have met with the same issue with you. If you have resolved it, Could you help to tell me the detail for workaround? Thanks.

[2019-06-21 04:31] imicer commented on #3487
Additionally, for my case, I used kind tools to create k8s cluster, my nodes run as docker env, I am not sure if this is related to my issue or not.

[2019-06-21 05:03] jlewi commented on #3491
Should we refactor the spec and get rid of components, packages, and componentParams?

This terminology no longer really makes sense now that we are using ksonnet.

Should we just refactor this into a list of applications

[code]

For each application we can no specify its relative path within the repo so there's no more magic discovery going on.

[2019-06-21 05:56] #3451 closed

[2019-06-21 06:57] x28646510 opened #3516 "Can't pull notebook images in private registry except for gcr.io"
Hello, I would like to create notebooks by `jupyter-web-app` from images in private registry except for gcr.io, for example, azurecr.io.
In current implementation, it seems not to have feature to specify any `imagePullSecrets` .
Can I specify it? Or, are you planning to add feature to specify it?
Do we have to extend `jupyter-web-app`  by own?

[2019-06-21 07:18] x28646510 commented on #3516
I found the answer myself. The command `kubectl -n kubeflow patch serviceaccount jupyter-notebook -p '{"imagePullSecrets": [{"name": "secret-name"}]}'` fixes my issue.

[2019-06-21 07:18] #3516 closed

[2019-06-21 08:19] kavemun commented on #3487
Hi @imicer, I am currently overwriting the permissions for the workspace folder as @jlewi suggested, it works but I am not very sure what is responsible for setting the permission for the folders yet. I am getting my kube admin to trouble shoot on the cluster as well, but as far as we know, the folders are created with root and permission 755, which the container has no permission to write into wh

[2019-06-21 08:28] xxf09th commented on #3131
@jomach @ryangrahamnc  Hi, I meet the same issue. This Error is caused by checking the annotations of your storageClass. If annotations is null, you will get this error. So just add some annotations to your storageClass, and it will pass.

[2019-06-21 11:28] aakashbajaj opened #3517 "[Bug]GCR read authentication in auto-provisioned nodes"
I am using ```kfctl``` binary to generate cluster configuration and deploy kubeflow on GKE. On top of that I am running kubeflow pipelines. Some of the components in my pipeline require high CPU count and thus kubernetes auto-provisions a new node to run the mentioned pod.
My components pull images from private GCR repo in same project.
But when pod is being deployed on the node, it fails with `Er

[2019-06-21 13:56] jlewi opened #3518 "kfctl semantics replace init & generate with build and also add apply"
Should we change the semantics of kfctl and replace the init and generate commands with

[code]

and

[code]
   * Look for app.yaml in the current directory

kfctl build would not create an app directory but instead treat the current directory as the app dir.

This eliminates the need to cd into the app directory after running `kfctl init`. Right now the directory creation that happens in init is

[2019-06-21 14:05] yanniszark opened #3519 "jupyter server: default image not working"
How to reproduce:
[code]

Images tested:
* tensorflow-1.10.0-notebook-cpu
* tensorflow-1.11.0-notebook-cpu
* tensorflow-1.12.0-notebook-cpu

The server fails with:
[code]

The reason is because the /etc/hosts file is misconfigured and binding to localhost fails.
More details here: https://github.com/ipython/ipython/issues/6193#issuecomment-466082026
A quick solution would be to include the argumen

[2019-06-21 14:15] jlewi opened #3520 "Fix dynamic loading of platform plugins"
#3045 disabled dynamic loading in kfctl of KfApp plugins for platforms. Plugins are still supported for the package manager.

The relevant change is here
https://github.com/kubeflow/kubeflow/tree/1c07de4d4825f381062c7d7091398b837113b7f1/bootstrap/pkg/kfapp

Specifically getPlatform no longer calls LoadKfApp to dynamically load the plugin if there is no match.

This change was made because getPlatf

[2019-06-21 14:21] jlewi commented on #3519
@yanniszark It looks like you are using the 0.4 docker image. That is a JupyterHub image which isn't compatible with the 0.5 changes which got rid of JupyterHub.

[2019-06-21 14:24] jlewi opened #3521 "Test Flake: iap-enabler deployment didn't start"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/3479/kubeflow-presubmit/1141937062992154624/

[code]

[2019-06-21 14:30] yanniszark commented on #3519
@jlewi I tried with the 3 latest images and all had the same error.
* tensorflow-1.10.0-notebook-cpu
* tensorflow-1.11.0-notebook-cpu
* tensorflow-1.12.0-notebook-cpu

We use localhost for both ipv4 and ipv6.
This line is wrong:
[code]

It should be:
[code]

[2019-06-21 15:57] yanniszark commented on #3519
cc @jlewi

Update:
The reason it's not working is because the jupyter-notebook images are wrong.
Why are they wrong though?

These images are specified in a ConfigMap, used by jupyter-web-app.
That ConfigMap is out of date.
This PR by @kimwnasptd should fix it https://github.com/kubeflow/manifests/pull/163

[2019-06-21 16:05] kkasravi commented on #3518
right now after `kfctl generate` you get a collection of microservices
[code]
if we did something like kfctl build && kubectl apply <output-dir> then would we have
kfapp-controllers (eventually application-controllers) deployed as well as KfApp CRs where the kfapp-controllers would claim ownership of KfApps and update their status?

[2019-06-21 16:48] yanniszark commented on #3519
Fixed in https://github.com/kubeflow/manifests/pull/163

[2019-06-21 16:48] #3519 closed

[2019-06-21 17:19] jlewi opened #3523 "Test flake: git merge-base exited"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/3479/kubeflow-presubmit/1142081275473956864/

The pod logs didn't show up. This is because run_e2e_workflow.py aborted because running git merge-base HEAD failed.

Most recent logs from stackdriver are attached
[presubmit.logs.json.txt](https://github.com/kubeflow/kubeflow/files/3315455/presubmit.logs.json.txt)

[2019-06-21 17:34] jlewi commented on #3523
It failed with

[code]
But there's no logs or other information indicating what the failure was.

[2019-06-21 17:35] jlewi commented on #3523
I will try to add retries.

[2019-06-21 18:10] jlewi commented on #3523
I think I'm able to reproduce this running the same git commands on my local machine (I just looked at the output from run_e2e_workflow.py).

My suspicion is that this might be because I might have based my branch on kunming's PR and maybe that's why I don't get any common value.

[2019-06-21 18:14] jlewi commented on #3523
In my local clone though merge-base HEAD works just fine.

[2019-06-21 21:16] jlewi commented on #3437
/assign @avdaredevil

Backend changes are in PR.
Front end not started yet.

ETA Wednesday for something working.

[2019-06-21 21:21] jlewi opened #3524 "Multi-user CUJ with notebooks and central dashboard test with basic auth"
Opening this issue to track verifying that the multi-user features @avdaredevil is adding to central dashboard works in the case of basic auth.

The central dashboard and other multi-user features depend on a header containing the user id.

The header in the JWT will be different depending on the setup and there's some question on how to handle this.

[2019-06-21 21:23] jlewi commented on #2973
@kkasravi Is this done can we close this issue?

[2019-06-21 21:25] jlewi commented on #3156
@zhenghuiwang fixed this. We have deployments that are working.

[2019-06-21 21:25] #3156 closed

[2019-06-21 21:25] jlewi commented on #3456
No longer relevant.

[2019-06-21 21:25] #3456 closed

[2019-06-21 21:29] jlewi commented on #3282
Should be fixed on master.

[2019-06-21 21:29] #3282 closed

[2019-06-21 22:44] kkasravi commented on #2973
yes, there are a few application.yamls left in manifests but this issue can be closed

[2019-06-21 23:48] jlewi commented on #3518
I guess we might do that but I think my proposal is a little simpler

The current UX is

[code]
I'm just proposing we consolidate this into

[code]

Here's how the behavior changes

init is doing the following

  1. Doing one time configuration e.g. enabling GCP services
  1. Creating a directory
  1. Downloading the config to app.yaml

This would be changed as follows

* kfctl no longer creates a

[2019-06-22 04:27] KamalAman opened #3526 "Add GCP authentication to documentation and getting started guide"
Providing an authentication secret for kubeflow on non GCP deployments does not seem to be documented anywhere.

https://github.com/kubeflow/kubeflow/issues/3188 suggests a way to add a user-gcp-sa secret.

Setting the user-gcp-sa secret should be a part of the documentation as well as the getting started guide for non-gcp deployments.

[2019-06-22 15:21] imicer commented on #3487
Hi @kavemun
Thanks for your reply. I am studying kubernetes. I am not very familiar with it. Could you help to provide the detailed steps. I still can't get point for your workaround.
In kubeflow UI, I created nb02-0 for jupyter, and there is no change after changing  permissions for /home/jovyan in docker for nb02 pod.

My steps are like below:
 `
# find docker id for notebook pods
kubectl -n kub

[2019-06-22 15:33] imicer commented on #3487
Hi @kavemun,
Thanks for your reply. I am studying kubernetes. I am not very familiar with it.
Could you help to provide the detailed steps. I still can't get point for your workaround.
In kubeflow UI, I created nb02-0 for jupyter, and there is no change after changing permissions for /home/jovyan in docker for nb02 pod.
My steps are like below:
1, Find docker id for notebook
[code]

2, Go into the

[2019-06-23 14:52] kavemun commented on #3487
Hi @imicer

No worries, I'm quite new myself and exploring.
The permission you should change should be the folder on your node where your persistent volume is mapped to, not inside your container.

First time you create your notebook, select new workspace and one will be generated for you but with permission 755. you can check by doing

[code]

if you look under "Path" you will find the directory

[2019-06-23 18:02] #2521 closed

[2019-06-23 20:44] JP-MRPhys commented on #2863
I'm facing this error too, using the guide

https://master.kubeflow.org/docs/started/getting-started-minikube/#quick-setup

[2019-06-23 22:20] jlewi commented on #3526
@KamalAman Can you explain what you are trying to do and what documentation you are looking for?

`user-gcp-sa` secret is specific to GCP. It is intended to contain a GCP service account private key which is used to grant access to GCP Cloud Services (e.g. GCS, BigQuery, etc...).

Are you running on a different cloud? If you're running a different cloud it would be up to that Cloud provider to com

[2019-06-23 22:31] jlewi opened #3529 "KfDef Add Plugins to Spec and support structs"
As part of the refactoring of KfDef and Kfctl we are trying to move all the various parameters (e.g. the various GCP parameters) into KfDefSpec.

The current thinking is to add a list of plugins

[code]

`Gcp` would then be a plugin and all the parameters associated with that plugin would be stored as key/value pairs associated with that plugin.

Using key/value pairs is nice because its flexible

[2019-06-24 04:02] KamalAman commented on #3526
@jlewi I'm using Minikube to run through the XGBoost and TFX examples provided as samples in the Kubeflow Pipeline which require GCP specific parameters to run.

The documentation path i took was:
1. [Getting start](https://www.kubeflow.org/docs/started/getting-started/)
2. [Minikube setup](https://www.kubeflow.org/docs/started/getting-started-minikube/)

Once Kubeflow is setup and you try to run

[2019-06-24 07:22] SaschaHeyer opened #3530 "Pod cemetery, pods are not getting deleted"
Hi Kubeflow Team,

currently all pods / workloads which are getting created are still existing even tough there are already done.

Is this the expected behavior?

In the screenshot you can see each pods contains the {{workflow.uid}}. Each pipeline execution creates a pod.

![pods](https://user-images.githubusercontent.com/1991664/59999015-28157600-9661-11e9-8a63-b8662ff2e34d.png)

Best regards
Sas

[2019-06-24 09:12] imicer commented on #3487
Hi @kavemun
Thank you for your kindly help. I will try your method in my env.

[2019-06-24 11:49] ishantanu commented on #3132
Same issue on Kubernetes cluster created via kind/AWS.

Any resolution?

[2019-06-24 13:51] JavaDerek opened #3531 "Docker image for centraldashboard 0.5.0 has many security issues"
gcr.io/kubeflow-images-public/centraldashboard:v0.5.0 has many, many security issues.  Here is a list:

CVE-2017-14532
CVE-2017-17914
CVE-2017-1000476
CVE-2017-12429
CVE-2018-14551
CVE-2017-12674
CVE-2017-14625
CVE-2017-12435
CVE-2017-14172
CVE-2017-12692
CVE-2017-14341
CVE-2017-12875
CVE-2017-12643
CVE-2017-14175
CVE-2017-14626
CVE-2017-12430
CVE-2017-12693
CVE-2017-12563
CVE-2017-18273
CVE-2017-

[2019-06-24 15:28] jlewi commented on #3520
This will be fixed in an upcoming PR in which I add plugins to KFDef.Spec and allow each plugin to provide an arbitrary struct as a runtime.RawExtension

[2019-06-24 15:42] #3256 closed

[2019-06-24 15:42] #3439 closed

[2019-06-24 16:13] prodonjs opened #3535 "[CentralDashboard] Correct behavior for Stackdriver links"
Stackdriver monitoring for GKE clusters supports two different options (https://cloud.google.com/monitoring/kubernetes-engine/). Our current implementation is based on the legacy option which will continue to allow us to retrieve metrics, but currently will link to a page in the Stackdriver UI that is not relevant for clusters using the new option for monitoring.

We should determine if it's possi

[2019-06-24 16:47] kimwnasptd opened #3536 "jupyter-web-app: Error 200 on load"
In the new UI if no namespace is selected from the centraldashboard before opening the Jupyter UI, then the value `""` is passed as namespace. Because of this the GET will hit an invalid endpoint resulting in an error 200 popup.

The webapp should ignore the empty value from the centraldashboard.

[2019-06-24 16:48] kimwnasptd commented on #3536
/assign kimwnasptd

[2019-06-24 16:49] kimwnasptd commented on #3536
cc @prodonjs @avdaredevil

[2019-06-24 17:13] prodonjs commented on #3536
Currently, we send whatever namespace is selected (which could be empty) from the dashboard to a connected iframe child once the child establishes connectivity. One option would be to send only non-empty namespaces but there may be scenarios in the future where that's a valid selection (ie. no selection infers "all namespaces").

Sorry for the confusion as we try to get this interface in place.

[2019-06-24 18:28] holdenk commented on #1583
From talking with some folks @ BBuz last week it seems like Beam Flink Python is probably still at a point where this is likely to not be of production quality, so if we do integrate this in the short term I think a warning that this path may run into issues would be important.

[2019-06-24 19:31] kimwnasptd commented on #3536
@prodonjs makes sense. Will make the webapp ignore the empty namespace for now and will update the code if necessary when we settle down on the implementation.

Keep me in the loop for this one

[2019-06-24 19:49] kkasravi commented on #3518
ok, got it. Yes much simpler.

[2019-06-24 20:31] Jeffwan opened #3539 "UseBasicAuth can not work with Platform option together?"
In current implementation, looks like `UseBasicAuth` can not work with `Platform` option together.
https://github.com/kubeflow/kubeflow/blob/1c07de4d4825f381062c7d7091398b837113b7f1/bootstrap/pkg/kfapp/coordinator/coordinator.go#L81-L85

Just wondering if it make sense to use BasicAuth with platform together?
AWS expose OIDC and Cognito auth options for users and user still have option to move thi

[2019-06-24 20:40] Jeffwan opened #3540 "Separate istio configuration with istio installation manifests"
https://github.com/kubeflow/kubeflow/blob/1c07de4d4825f381062c7d7091398b837113b7f1/bootstrap/config/overlays/istio/kfctl_default.yaml#L6-L9

`istio-crds` and `istio-install` are non-platform related components (even there's few changes) and `istio` is GCP's customization for istio setting.

https://github.com/kubeflow/manifests/tree/master/gcp/istio/base

I am checking where's the best practice he

[2019-06-25 00:22] holdenk commented on #3416
Sure, writing a Spark job would probably be the simplest way, you can then transform it into whichever format you want & put it wherever your downstream components needs to read from (say GCS, S3, etc.). The exact details of how to do this depend on the input format (HDFS is a filesystem with many different file formats written to it) and the target format (e.g. are you doing tensorflow downstream

[2019-06-25 00:23] holdenk commented on #3361
Maybe making it easy for folks to list additional permissions they want on their standard SA that's being stored as a secret?

[2019-06-25 00:52] #3023 closed

[2019-06-25 05:18] gracechristina opened #3542 "Resizing Workspace Volume (Persistent Volume) in the Kubeflow Jupyter"
Hi,
After creation of the workspace volume for the Jupyter server, I am not able to resize the existing workspace volume through the UI.

I would like to request for that feature to be added into the Jupyter Notebook dashboard if possible as it will make it easier for the user to adjust the size of their workspace. For now, I am doing it through the command line.

[2019-06-25 07:22] hno2 opened #3543 "Jupyter does not warn about insufficient resources"
When I start a new server with too many CPUs or RAM the Pod will be in Scheduling State permanently without any warning.
I think there should be some kind of warning in the frontend.

[2019-06-25 08:06] aktivalux opened #3544 "Kubeflow on K8s - "kfctl apply" throws "Unknown variable: x" error ; ksonnet doesn't support K8s 1.15 or later"
I tried to install kubeflow v0.5.1 on an existing K8s "cluster" (it is a single node microk8s cluster on an Ubuntu Host) by following the instructions from this page: [https://www.kubeflow.org/docs/started/getting-started-k8s/](https://www.kubeflow.org/docs/started/getting-started-k8s/). At least for me the instructions seem to not work.

I am trying to deploy kubeflow from my laptop onto the micr

[2019-06-25 08:53] imicer commented on #3487
Hi @kavemun
I tried to check the parameters for configuration in kubeflow UI .
I found the following things, I am not sure if it is design behaviors.
How can I modify or create new pv for my case, Thanks.
(1) I can't specifiy the Mount Path for new notebook-workspaces though kubelow UI.

(2) when I used the default MountPath(/home/jovyan/) to create new Notebool server(nb001) in UI, I go to check

[2019-06-25 12:24] jlewi opened #3545 "Keep track of commit hash of local repos copy to avoid redownloading repos"
Currently we redownload the repos ever time to insure we have a proper local copy in .cache.

We should keep track of checksums and only redownload if necessary.

[2019-06-25 12:52] jlewi opened #3546 "Update kustomize init to fetch repo information from KfDef.Status.ReposCache"
#3515 is adding ReposCache to KfDefStatus.

We should update the kustomize code to locate the kustomize manifests cache from that field.

Here's the code we should update.
https://github.com/kubeflow/kubeflow/blob/9bb2c0176506950415cee95c602d66dd88cc3f92/bootstrap/v2/pkg/kfapp/kustomize/kustomize.go#L466

That code is currently parsing the --package_manager flag which allows for the syntax "@commi

[2019-06-25 13:15] srinivascreddy opened #3547 "Install error with no internet connectivity"
Trying to install Kubeflow with kfctl, under constraints of enterprise policies which prevent direct internet connection. I have requested all required packages for 0.5.1 version and have them locally. While installing getting this error.

`ERROR Get https://raw.githubusercontent.com/kubernetes/kubernetes/v1.8.0/api/openapi-spec/swagger.json: net/http: request canceled while waiting for connection

[2019-06-25 17:53] aashish-sheshadri commented on #3544
I am facing the same issue. I am using minikube to get my k8s environment (no VM, driverless).

[2019-06-25 19:08] staturecrane commented on #3003
I am also having this exact same problem, and I am a Project Owner.

[2019-06-25 19:47] ChethanUK commented on #3003
Oops, How did you try installing using UI?

[2019-06-25 22:24] abbyearnin commented on #3467
+1

Looking at the StatefulSet for my Jupyter Server created using KubeFlow, I noticed that Resource Requests were configured, but there were no Resource Limits.

[2019-06-25 22:40] texasmichelle opened #3549 "`kfctl init` throws warnings in envs without ~/.kube/config file"
When running the `kfctl init` command from a fresh account, I'm seeing these errors:
[code]
Since this file is not generated until after `kfctl generate` and `kfctl apply`, perform these file mods after the context is generated.

[2019-06-25 22:47] texasmichelle opened #3550 "Suppress warnings in kfctl"
Add an argument that gives the option of suppressing warnings, e.g. remove the clutter of:
[code]

[2019-06-25 22:47] texasmichelle commented on #3550
/label area/kfctl

[2019-06-25 23:22] abbyearnin commented on #3467
@Jonuknownothingsnow I figured it out, you can specify limits on your server by filling in the Extra Resources (the name is very misleading, in fact it is the resources to limit).

For example, enter in the value
` {"cpu": "500m","memory": "1Gi"}`
as an Extra Resource in order to limit your server cpu and memory.

[2019-06-26 07:24] BlodwenZ opened #3552 "Try to install istio in kubeflow env via document, the URL is invalid"
Hello,
I was trying to installl istio via official document in kubeflow ENV. Unfortunately, I found out those 3 URLs are not found(got 404 code). Please kindly help to provide correct URLs. The URLs are following:
https://raw.githubusercontent.com/kubeflow/kubeflow/master/dependencies/istio/kf-istio-resources.yaml
https://raw.githubusercontent.com/kubeflow/kubeflow/master/dependencies/istio/instal

[2019-06-26 09:08] imicer commented on #3487
Hi
Now I can create notebook server, My steps are the following:
Firstly, I manually created pv and pvc, and then used Existing option in workspace volume of kubeflow UI. Please note that you should fill the pvc name created above to spawn.

[2019-06-26 11:46] yanniszark opened #3553 "Umbrella Issue: Make Auth Header and Prefix configurable"
Currently, multi tenancy related components of Kubeflow expect to find the user by:
* Looking at the `X-Goog-Authenticated-User-Email` flag.
* Extracting the user from a string of the form `accounts.google.com:<user>`.

These values are GCP-specific and should be configurable to work well with other platforms.
Currently, the `profile-controller` and `User Management API` components can configure t

[2019-06-26 11:52] yanniszark opened #3554 "Central Dashboard: add userid-header and userid-prefix cli flags"
Sub-issue for #3553.
Add cli flags to configure:
* Which header we read for the user info (now it's only `X-Goog-Authenticated-User-Email`)
* What prefix is expected (now it's expected to be in the form of `accounts.google.com:<user>`, so the prefix is `accounts.google.com:`)

/priority p0

cc @jlewi

[2019-06-26 11:54] yanniszark opened #3555 "Access Management UI: add userid-header and userid-prefix cli flags"
Sub-issue for #3553.
Add cli flags to configure:
* Which header we read for the user info (now it's only `X-Goog-Authenticated-User-Email`)
* What prefix is expected (now it's expected to be in the form of `accounts.google.com:<user>`, so the prefix is `accounts.google.com:`)

/priority p0

cc @jlewi @avdaredevil

[2019-06-26 11:56] yanniszark opened #3556 "Jupyter Web App: add userid-header and userid-prefix cli flags"
Sub-issue for #3553.
Add cli flags to configure:
* Which header we read for the user info (now it's only `X-Goog-Authenticated-User-Email`)
* What prefix is expected (now it's expected to be in the form of `accounts.google.com:<user>`, so the prefix is `accounts.google.com:`)

/priority p0

cc @jlewi  @kimwnasptd

[2019-06-26 12:39] jlewi commented on #3505
@kimwnasptd Has this been fixed?

[2019-06-26 12:40] jlewi commented on #3502
Is this a duplicate of #3505?

@abhi-g @kimwnasptd can you confirm if this has been fixed in the latest images?

[2019-06-26 12:42] jlewi commented on #3459
@lluunn Any update on this ?

[2019-06-26 12:43] jlewi commented on #3459
Is this blocking us from cutting a release? If it is lets mark it P0.

[2019-06-26 12:49] jlewi commented on #3264
I think the pattern we want to move to is using KfDef.Status to pass around temporary information in kfctl.
There should be a TODO in the code to move to AppDir into KfDef.Status.

I think it would make sense to set KfDef.Status.AppDir to CWD at suitable entry points in the code.

We should probably wait on #3515 to be submitted first.

[2019-06-26 12:52] jlewi commented on #3151
Bumping to P0. P0's are release blocking. I think we want to have a story for continuing to deploy on AWS before we finalize the first 0.6 release.

[2019-06-26 12:57] jlewi commented on #2998
@Jeffwan What's the plan for how users will deploy 0.6 on AWS?

[2019-06-26 12:59] jlewi commented on #2976
@kkasravi Any update on this?

[2019-06-26 12:59] #2973 closed

[2019-06-26 13:03] #2885 closed

[2019-06-26 13:03] jlewi commented on #2870
This is in progress; closing this issue as obsolete.

[2019-06-26 13:03] #2870 closed

[2019-06-26 13:05] jlewi commented on #2866
errors has a WithStack method to attach stack trace.
https://godoc.org/github.com/pkg/errors

We should probably use that pretty widely in kfctl.

[2019-06-26 13:07] yanniszark commented on #2866
@jlewi I also use this in platform existing.
The `pkg/errors` library is extremely helpful in debugging errors.
We should also provide helper methods for returning errors, the current way of defining a new KfError struct results in a lot of clutter.

[2019-06-26 13:13] abhi-g commented on #3502
I am trying to verify but running into a different issue. My master is synced at commit dcaeee742984. After deployment the Jupyter Web App is sending an "Internal Server Error"
<img width="1428" alt="Screen Shot 2019-06-26 at 6 08 58 AM" src="https://user-images.githubusercontent.com/11774566/60182578-6c2b8680-97d9-11e9-85e5-b99df74a4b49.png">

I recall there were some PRs to fix the Manifests. Do

[2019-06-26 13:45] #2586 closed

[2019-06-26 13:46] jlewi commented on #2417
Fixed by #109.

[2019-06-26 13:46] #2417 closed

[2019-06-26 13:47] kimwnasptd commented on #3502
@abhi-g maybe your browser has the previous version of the webapp cached. If you are using Chrome, could you:
1. Click `Command+Option+I`(Mac) or `Control+Shift+I`(Windows) to open the [Dev Tools](https://developers.google.com/web/tools/chrome-devtools/shortcuts)
2. Go to the `Network` tab
3. Check the `disable cache` checkbox
4. Reload the page with the dev tools open

This will force the browser

[2019-06-26 13:48] kimwnasptd commented on #3505
@jlewi yes, fixed it in the HTML/JS UI before moving to Angular. Also, the new UI doesn't have this issue so we can close this.

[2019-06-26 13:49] jlewi commented on #2152
Bump to P0 because this is blocking deploying 0.6 with click to deploy.

[2019-06-26 13:56] kkasravi commented on #2976
@jlewi

<img width="1053" alt="Screen Shot 2019-06-25 at 5 08 44 AM" src="https://user-images.githubusercontent.com/146453/60185326-8ddb3c80-97de-11e9-97c3-7799106cae23.png">

pending
- centraldashboard
  - https://github.com/kubeflow/manifests/pull/182
  - https://github.com/kubeflow/kubeflow/pull/3557

[2019-06-26 14:00] jlewi commented on #1881
Might make sense to upgrade to managed certificates before trying to address this issue.

[2019-06-26 14:05] abhi-g commented on #3502
In my case, gcr.io/kubeflow-images-public/jupyter-web-app:f8d85ad is being
used. Let me verify the manifests at master and redeploy.
I can certainly 'kubectl apply -k' from the manifests repo, but I want to
ensure kfctl is also picking up the correct manifests when deploying...

On Wed, Jun 26, 2019 at 6:47 AM Kimonas Sotirchos <notifications@github.com>
wrote:

[2019-06-26 14:18] jlewi commented on #3491
@yanniszark Can you help me understand what is release blocking? Unfortunately I think @kkasravi is OOO this rest of the week.

Why do we have packages and components? These concepts don't really make sense to me in the context of kustomize?

Should we pick one maybe packages and treat the value as a path to a kusotmization.yaml file.

So instead of

[code]

We just do

[code]

And treat the value

[2019-06-26 14:32] yanniszark commented on #3491
Agreed

Do you mean the path to the directory of `kustomization.yaml`?
If yes, I agree.
Making the package references explicit will remove the (flawed) magic discovery and also provide namespaces for packages.
eg now you can't have two packages with the same name. With this approach you can, because they are separated by the parent path.

Regarding the application_types approach:
I believe this an

[2019-06-26 14:36] jlewi commented on #3556
/assign @kimwnasptd

[2019-06-26 14:37] jlewi commented on #3555
/assign @avdaredevil

[2019-06-26 14:38] jlewi commented on #3554
Is this really P0?

Does the central dashboard gracefully handle the case where no user id is provided?

[2019-06-26 14:41] jlewi commented on #3553
@yanniszark Which of these are release blocking? What needs to be fixed in order to prevent a broken experience as opposed to a degraded experience.

For example, I think the central dashboard degrades gracefully and simply doesn't show user id if none is specified. If that's the case its not a broken experience.

[2019-06-26 14:47] jlewi commented on #3547
I believe this is coming from ksonnet. ksonnet tries to fetch the Kubernetes API spec to do some validation and to autogenerate a ksonnet library.

I believe the ksonnet CLI offers CLI options for overriding the path to fetch from a local directory.

`ks init` has flag `--api-spec` offhand not sure if that allows specifying a path to the swagger spec. The other issue though would be if kfctl suppo

[2019-06-26 14:51] jlewi commented on #3544
Are you using kubernetes 1.15?

It looks like the error

[code]

Is coming from the libsonnet file that ksonnet is auto-generating. I suspect there is an error specific to the 1.15 APis.

Unfortunately since ksonnet is deprecated the fix is probably going to be to wait for 0.6 which replaces ksonnet with kustomize.

[2019-06-26 14:55] jlewi commented on #3539
Platform is going away in favor of "plugins".

@yanniszark is working on a plugin for ISTIO+dex. This will install ISTIO on the cluster, exposed via Service type LoadBalancer and secured using Dex with basic Auth.

I think we should investigate whether a user could just add that plugin to their KfDef.Spec in order to set it up with basic auth.

[2019-06-26 14:58] jlewi commented on #3526
Thanks @KamalAman

I would expect samples to run on minikube without GCP.

/cc @paveldournov

[2019-06-26 15:02] jlewi opened #3558 "kustomize packages for installed apps should be in ${KFAPP}/kustomize"
My expectation is that the kustomize packages for installed applications should be stored in
${KFAPP}/kustomize

* This way if user checks it into source control their manifests are actually checked in
* Furthermore, for complex manipulations; user can just edit the kustomize manifests
* I think ${KFAPP}/kustomize should only contain manifests for the applications user installed
  * It shouldn't j

[2019-06-26 15:04] yanniszark commented on #3553
@jlewi I'm not sure of the full implication of it to the Central Dashboard.
The other components seems very high priority though, since they perform critical actions based on this info.

If we want to say that the v0.6 release is configurable for other platforms and not just GCP, we should resolve all of them.

[2019-06-26 15:34] jlewi opened #3559 "Cut 0.6 RC"
Here is the [list](https://github.com/issues?utf8=%E2%9C%93&q=org%3Akubeflow+label%3Apriority%2Fp0+project%3Akubeflow%2F5+is%3Aopen+) of P0 blocks that are blocking us.

Demo script:
https://bit.ly/2UOzzxB

[2019-06-26 15:46] jlewi opened #3560 "[GCP] Click to Deploy UI update to support 0.6"
We need to make some updates to the click to deploy UI and frontend to support 0.6.

https://github.com/kubeflow/kubeflow/tree/master/components/gcp-click-to-deploy

Here are the changes needed

1. The endpoint for createDeployment will be changed to `/kfctl/apps/v1alpha2/create`
1. The payload will be a [KfDef](https://github.com/kubeflow/kubeflow/blob/9bb2c0176506950415cee95c602d66dd88cc3f92/boo

[2019-06-26 15:47] kkasravi commented on #3491
great summary @yanniszark - thank you.

@jlewi - the original driver for this (flawed) logic was to keep compatibility with ksonnet.
Since that isn't a concern anymore, providing full paths as suggested is the best solution.

Note: This will probably be a XL PR since it impacts application_types, zz_* and a number of methods
in kustomize.

[2019-06-26 15:49] jlewi commented on #3560
Also #3548 is adding Secrets to KfDef. Secrets should be used to store the following information

   * OAuth client secret
   * Basic auth password
   * Access token

[2019-06-26 15:51] chrisrana commented on #2141
Hey Guys,
So far my understanding was that Feast is limited GCP only.
I am trying to understand the discussion in this tickets.
Is it possible to use feast without Google Cloud.
I want to use it in AWS cloud for ML/AI use case.

[2019-06-26 16:07] lluunn commented on #3459
this is fixed

[2019-06-26 16:08] lluunn commented on #3459
actually let me verify it today

[2019-06-26 16:38] abhi-g commented on #3502
Verified kubeflow/kubeflow@9bb2c0176506950415cee95c602d66dd88cc3f92
and kubeflow/manifests@cd5c491e9492844a12294e48f0961382c2cd2669
That the jupyter-web-app: dcaeee7 works correctly as intended with the multi-user isolation profiles..

[2019-06-26 16:38] #3502 closed

[2019-06-26 17:53] porterdarby commented on #3544
Is there a timeline on when that will be happening?

[2019-06-26 19:17] lluunn commented on #3459
I tried master kfctl with IAP, able to access centraldashboard

[2019-06-26 19:17] #3459 closed

[2019-06-26 19:22] aktivalux commented on #3544
@jlewi yes I am:
[code]

I have also tried using an older version of kubeflow (v0.4.1) and used the instructions available here https://github.com/Azure/kubeflow-labs/tree/master/4-kubeflow . Unfortunately also without luck.

I am actually only interested in the TFJob Ressource. Is there any workaround available except for downgrading the k8s cluster to something below <1.15?

[2019-06-26 19:46] lluunn commented on #3558
Currently in my KFAPP/kustomzie dir I can see a lot of yaml files, argo.yaml, profiles.yaml etc.

So are you saying we aren't deploying everything there?
Or that we should keep the structure as kustomize package?

[2019-06-26 20:32] avdaredevil commented on #3536
@kimwnasptd would you mind having the page display:
[code]

[2019-06-26 21:31] cblackd7r commented on #3417
@krishnadurai Let me know if you have fork or PR that you have started.  Would like to help contribute cycles to this feature.

[2019-06-26 21:43] denfromufa commented on #2633
I'm interested in power8/power9 builds too

[2019-06-26 22:58] jlewi opened #3561 "Metadata API and backend should be installed as part of default configs"
There are kustomize packages for metadata but they are not currently part of the default configurations.

#3515 will submit changes to kfctl to support a `--config` flag which points at a YAML file that fully specifies all the applications to install.

That includes a YAML file for GCP. When that PR is submitted it should be easy to add to it the packages for metadata.

[2019-06-27 01:11] lluunn opened #3562 "kfctl deploy basic auth not working"
[code]

Everything is deployed, but the endpoint is not accessible.

 server IP address could not be found

cc @jlewi @kunmingg

[2019-06-27 01:16] lluunn commented on #3562
/priority p0

[2019-06-27 01:17] lluunn commented on #3562
certificate has error:
[code]

For some reason I can't describe ingress,

[2019-06-27 01:18] Jonuknownothingsnow commented on #3467
@abbyearnin tks, I guess maybe I should just use jupyterhub on kubernetes and wait the kubeflow 1.0 comeout 🤔

[2019-06-27 01:18] #3467 closed

[2019-06-27 02:18] porterdarby commented on #3544
I was able to manage by downgrading to minikube 1.1 and using Kubernetes 1.14.3. This ended up causing the application to deploy but produce an error at the end, so I just re-ran the apply and it worked.

[2019-06-27 03:44] jlewi commented on #3562
That's strange. I wonder why our certificate config would be different in basic auth vs. IAP mode?

Should we add an E2E test for the endpoint similar to what we do for IAP to catch this?

@yanniszark Have you run into this?

[2019-06-27 08:15] yanniszark commented on #3562
@jlewi sorry, I haven't seen this before.
This seems to be about deploying with basic auth on GCP and I have mostly tried with a generic K8s cluster.

[2019-06-27 08:20] jonin commented on #3359
I get the same error for "NodeGroupSSH.allow: true"

[2019-06-27 08:21] yanniszark commented on #3491
@jlewi is this really fixed in https://github.com/kubeflow/kubeflow/pull/3548 ?
It seems to me that you still can't specify full path to components:
eg. `common/centraldashboard` vs `centraldashboard`

[2019-06-27 08:47] yanniszark opened #3563 "kfctl: platform existing: deploy on existing kubernetes clusters"
This issue tracks the development of platform existing, a reference architecture for deploying Kubeflow on an existing cluster with minimal dependencies.

| Goal | PR | Status |
| -- | -- | -- |
| Add platform existing | https://github.com/kubeflow/kubeflow/pull/3538 | :heavy_check_mark: |
| Self-Signed certs | https://github.com/kubeflow/kubeflow/pull/3598 | :heavy_check_mark: |
| Docs PR | https

[2019-06-27 09:49] yanniszark commented on #3554
We should ask the OWNERS for the full extent of the consequences.
@prodonjs @avdaredevil @swiftdiaries

However, to truly say that the v0.6 release is configurable for other platforms and not just GCP, we should fix this as well.

[2019-06-27 11:01] jlewi commented on #3562
@yanniszark @jlewi should we combine the two? i.e just get rid of the existing basic auth for GCP solution?

[2019-06-27 11:04] jlewi commented on #3562
@yanniszark Are you using CertificateManager to generate certificates in your solution?

[2019-06-27 11:08] jlewi commented on #3559
We could start cutting release branches for the other repos and building images. The following repos don't seem to have any open bugs.

* PyTorch
* TFJob
* Katib

[2019-06-27 11:09] #3505 closed

[2019-06-27 11:10] jlewi commented on #3151
/assign @Jeffwan

[2019-06-27 11:10] jlewi commented on #3560
/assign @prodonjs

[2019-06-27 11:48] jlewi opened #3566 "Refactor kfctl package managers, platforms and plugins"
Opening this issue to track refactoring of how platforms and package managers into platforms.

I think we want to make the following changes

* Unify Platform and Package managers by treating them as plugins
* A Plugin operates on KfDef and can store state in KfDef.Status
* A plugin implements a simple interface like

[code]
   * There's some additional complexity as we need to support injecting p

[2019-06-27 12:54] jlewi opened #3567 "kfctl build fails no name found - fatal: No names found, cannot describe anything."
kfctl build is failing in presubmit.

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/3515/kubeflow-presubmit/1144085830764072962/

error is

[code]

I can't reproduce locally running

[code]

which is what the presubmit is doing.

My theory is its coming from here:
https://github.com/kubeflow/kubeflow/blob/a828e7d036bec52d8b1e25d4cb164590146501af/bootstrap/Makefile#

[2019-06-27 12:56] jlewi commented on #3567
Looks like this a red herring. It doesn't get a tag but this doesn't appear to cause make to abort.

[code]

We can see that it ends up setting version to the empty string and then continuing to invoke kfctl.

[2019-06-27 12:56] #3567 closed

[2019-06-27 13:04] prodonjs commented on #3560
I'd estimate this at around a week's worth of effort, mostly because it'll take a little time to become familiar with the architecture. I've got to make sure things are ready to go on the Metadata UI side of things, which should hopefully wrap this week. Next week is a short week with the holiday so I think a conservative estimate might be for this to land sometime early in the week of 7/8. Is tha

[2019-06-27 17:34] prodonjs opened #3568 "Add link to Metadata UI in Central Dashboard"
/area front-end
/area centraldashboard
/assign @prodonjs

/cc @zhenghuiwang
/cc @rileyjbauer

[2019-06-27 18:06] lluunn commented on #3562
What's the difference between GCP and non-GCP using basic auth? Isn't every component non GCP specific?

Btw the ingress has error:
error while evaluating the ingress spec: could not find service "istio-system/ambassador"

[2019-06-27 20:14] prodonjs commented on #3560
@jlewi Are the instructions at https://github.com/kubeflow/kubeflow/blob/master/bootstrap/developer_guide.md#how-to-run-bootstrapper-with-click-to-deploy-app-locally still accurate? I could not get `make build` to work and I also noticed that the latest image for gcr.io/kubeflow-images-public/bootstrapper was from September of last year so I was curious if that's still the best way to set up a tes

[2019-06-28 00:20] avdaredevil commented on #3554
This support is added in #3503 with commit af2039a and improved with bb5fddd.

[2019-06-28 00:27] #2959 closed

[2019-06-28 00:35] skonto commented on #2381
The new Lyft operator is a good candidate: https://github.com/lyft/flinkk8soperator/issues

[2019-06-28 00:38] skonto commented on #155
Coming a bit late to the discussion, if that path is followed then this become more like a generic operator but with that comes a extra complexity. I think if you remove all the k8s specific deps there is not much left...

[2019-06-28 00:44] kunmingg commented on #3122
@lluunn Can we close?

[2019-06-28 02:15] rky0930 commented on #2347
I have the same issue. Is there any way to use KF pipeline on micro8s without this error ?

[2019-06-28 04:00] jlewi commented on #3562
@lluunn ideally they shouldn't be two different implementations. The way we originally implemented basic auth was tied to GCP but that was more of a bug and a feature.

What @yanniszark is doing with #3538 is try to create a reference architecture for installing ISTIO + Dex on an existing cluster. Ideally we should be able to combine that and reuse the ISTIO and Dex bits to do basic authentication

[2019-06-28 06:09] jlewi opened #3571 "Troubleshooting notebook credential injection"
Some users are reporting problems with notebooks not having GCP credentials injected automatically.

Their notebooks end up not having GOOGLE_APPLICATION_CREDENTIALS.

Opening the issue to begin to document how to go about collecting the information to troubleshoot this.

1. Get the pod spec for the notebook

[code]

   * The pod should have the labels

[code]

   * These labels are what the admis

[2019-06-28 06:22] jlewi commented on #2969
Reference:
https://cloud.google.com/vpc/docs/vpc#default-network

[2019-06-28 06:28] jlewi commented on #3560
@prodonjs Those instructions won't apply to the new backend/API. The most up todate instructions are
https://github.com/kubeflow/kubeflow/blob/master/bootstrap/developer_guide.md#iterative-development-using-skaffold

Although it might make sense to create a dummy implementation of the CreateDeployment endpoint for FE deployment.

[2019-06-28 06:35] jlewi commented on #2152
A number of PRs have been committed; #3534 has a draft PR with a bunch of the ongoing development work.

The next steps are

1. Refactor gcp.go to fetch the information from KfDef spec

    *  Make KfDef a member of Gcp as opposed to embedding it
    * Add backfill logic for the Gcp plugin
    * Add methods that allow the web app to set the token source

1. Modify kustomize.go

    * Provide a met

[2019-06-28 10:49] ryandawsonuk opened #3572 "request/response logging"
Opening this here because I see it has come up here before in https://github.com/kubeflow/kubeflow/issues/1731

This is being looked at under kf-serving so suggest we track it primarily at https://github.com/kubeflow/kfserving/issues/201

[2019-06-28 12:29] jlewi commented on #3571
Restarting the deployment gcp-cred-webhook is reported as fixing the problem.

@lluunn Any idea why that might be the case? Wasn't there some issue with the certificate for the admission web hook?

[2019-06-28 14:10] ishantanu opened #3573 "kubeflow generate errors out when --platform=minikube using kfctl 0.5.1"
Hi,

I tried installing kubeflow on `minikube` platform but `generate` errored out. The error is mentioned below:

Command: `kfctl generate all -V`

Output:
[code]

Any idea what might be wrong?

[2019-06-28 14:32] lluunn commented on #3571
I thought that certificate issue was fixed.
I need to try reproducing it to know what was the error

[2019-06-28 14:32] lluunn commented on #3571
One thing to check is looking at the webhook pod

[2019-06-28 14:40] yanniszark commented on #3554
Thanks a lot @avdaredevil!
Amazing work in PR #3503. Let's close this when it gets merged.

[2019-06-28 17:08] jlewi commented on #3571
@lluunn Do we have an issue for the certificate problem? Do we know if the fix was in 0.5 or on master?

[2019-06-28 17:09] jlewi commented on #3573
What version of kfctl are you using?

[2019-06-28 17:11] jlewi opened #3574 "[GCP] Click to Deploy use Headers for Auth Token"
Right now the Auth token is passed in the request body. We should move to a request header (can we use context to pass it along?).

This way we never pass it along to KfApp; instead we instantiate a TokenSource and inject that into KfApp.

[2019-06-28 17:13] lluunn commented on #3571
It's not in 0.5, should be this one : https://github.com/kubeflow/kubeflow/pull/3351.

Is the problem here happening to 0.5 only?

[2019-06-28 22:49] #2585 closed

[2019-06-29 02:35] jlewi opened #3575 "Rerunning apply gives error with basic auth"
I tried rerunning `kfctl apply for an already deployed service with basic auth.

This gave the following error

[code]

[2019-06-29 02:47] jlewi commented on #3562
@kunmingg  I don't see the "istio-ambassador" service deployed in either namespace. Can you explain what is supposed to happen? Are we using Ambassador here for redirecting requests to the basic login sever.

[code]

[code]

[2019-06-29 02:49] #2724 closed

[2019-06-29 10:11] ishantanu commented on #3573
@jlewi
[code]

[2019-06-29 10:23] ryandawsonuk opened #3576 "Will dashboard links be customisable?"
This question has come up indirectly before (https://github.com/kubeflow/kubeflow/issues/3353) but I’d like to ask it directly. Is the intention/plan to make the links on the kubeflow dashboard customisable so that users can pick and choose components for their installation? And maybe add external components they consider relevant e.g. they might be running kubeflow alongside a relevant in-house s

[2019-06-29 14:16] fdasilva59 commented on #3336
Should this help: I had a similar issue when following the [OAuth setup](https://www.kubeflow.org/docs/gke/deploy/oauth-setup) documentation. Using the [Monitor IAP setup](https://www.kubeflow.org/docs/gke/deploy/monitor-iap-setup/) procedure I was able to fix the issue which was at step 6

In my case, when I was creating the OAuth Credential, at step 2 in the OAuth setup documentation, it is said

[2019-06-29 21:15] jlewi commented on #3573
Looks like that's the 0.5.1 version.

What init command did you run?

I can reproduce this

[code]

The following works
[code]

So it appears to be specific to minikube. Which would also explain why its not caught by our tests.

As a work around I would suggest following these [instructions](https://v0-5.kubeflow.org/docs/started/getting-started-k8s/)

to install Kubeflow on your existing cluster

[2019-06-29 21:18] ishantanu commented on #3573
Oh okay. Well, I am able to install kubeflow on `kind`/ any other k8s cluster by following this guide. But, since the docs contain `minikube` specific content, I thought it's best to give it a try. I'll try to do this on a minikube cluster. Thanks.

[2019-06-29 22:42] kunmingg commented on #3562
@jlewi
Yes, ambassador should be used in front of istio.
Seems manifests repo is not up to date.
Will fix

[2019-06-30 00:59] jlewi commented on #3576
/cc @avdaredevil @prodonjs

[2019-06-30 01:04] jlewi opened #3578 "Web-app to manage tensorboard instances"
We should consider creating a standalone web app similar to our jupyter web app that makes it easy for folks to create/delete tensorboard instances.

I suspect copying and modifying the jupyter web app to create a web app for managing tensorboard would be pretty straightforward.

Some pointers to get started

* Here is a link to the current [jupyter web app code](https://github.com/kubeflow/kubefl

[2019-06-30 01:05] jlewi opened #3579 "[GCP] Click to deploy send logs to stackdriver"
kfctlServer (Click to deploy) should support sending logs to stackdriver.

[2019-06-30 13:51] #1931 closed

[2019-06-30 17:25] jlewi commented on #3024
@babu-selector How are you running this? It looks like the code thinks you are root and it can't find your .kubeconfig file

[code]

[2019-06-30 17:31] jlewi commented on #3491
@yanniszark not fixed; I meant to merely say it was related.

[2019-06-30 17:53] jlewi opened #3580 "unittests for kustomize.go"
kustomize.go could really benefit from unittests.

There is a lot of complex code in this package and unittests would really help.

/cc @kkasravi

[2019-06-30 19:23] jlewi commented on #3491
I considered a variety of temporary fixes. For example, I considered prepending a "/" to the componentName to indicate it was an actual path and discovery logic shouldn't apply.

My conclusion though is that this would be roughly as much work as updating the code to use KfDef.Spec.Applications and be more brittle.

So I will take a stab at

1. defining KfDef.Spec.Applications
1. Updating the code

[2019-06-30 22:51] #2804 closed

[2019-07-01 02:32] prodonjs commented on #3576
I think this would be a fantastic idea and something we would ideally like to be able to implement through configuration rather than code. This would allow users to customize the components linked to and embedded by the dashboard based on what they've deployed in their environment. We haven't given much thought to the mechanics yet, but would definitely be interested in hearing ideas if you have a

[2019-07-01 02:37] rky0930 commented on #3544
I have the same issue. I'm installing Kubeflow on my k8s without virtual machine.
My cluster version is v1.15.0.  I tried to install KF 0.5.0 and 0.5.1 and i got "Unknown variable: x" Error.
Any suggestion such as "Downgrade to specific cluster version or use specific ks version something like that" ?

[2019-07-01 05:34] aktivalux commented on #3544
@rky0930 for now you can use an older kubernetes version such as 1.14.3 or 1.14.1 (that are the versions I have tested successfully). For the rest  you can just follow the official installation instructions and use the latest version of kubeflow and ksonnet/ks.

[2019-07-01 10:05] ishantanu commented on #3573
@jlewi Just to confirm, I tried the docs for `k8s` install on minikube and it works.

[2019-07-01 12:47] jlewi opened #3583 "Should spartakus usageId be set in kustomize.go and not gcp.go?"
We are currently setting the spartakus usage id here
https://github.com/kubeflow/kubeflow/blob/865f10e98e8ca65a722bbc879a3acd8f06e86db1/bootstrap/pkg/kfapp/gcp/gcp.go#L1583

But this code is only invoked for GCP.

We probably need to move this into kustomize.go so we do it always; not just for gcp

[2019-07-01 13:42] jlewi opened #3584 "Upgrade pipelines SDK in jupyter images"
SDK version is set here:
https://github.com/kubeflow/kubeflow/blob/865f10e98e8ca65a722bbc879a3acd8f06e86db1/components/tensorflow-notebook-image/Dockerfile#L13

[2019-07-01 14:31] Snapple49 opened #3585 "Kubeflow default serviceaccount lacking permissions"
Hi!

I'm experimenting a bit with Kubeflow on our cluster and I ran into some issues with RBAC permissions in pipelines.

**Problem**
The kubeflow pipelines experiment gave the following output:

`This step is in Error state with this message: failed to save outputs: verify serviceaccount kubeflow:default has necessary privileges`

Output of the command `kubectl auth can-i view pod --as=kubeflow:s

[2019-07-01 15:27] texasmichelle commented on #3549
This is also a problem if you destroy, then create another cluster in the same project with the same name. In that case, kfctl tries to use the outdated ~/.kube/config connection info:

[code]

[2019-07-01 16:04] texasmichelle opened #3586 "kfctl throws cloud-endpoints error"
Which version: kfctl v0.5.1 go binary
[code]

How to reproduce:
[code]

What I'm seeing:
kfctl exits with this error:
[code]
Cluster setup appears to continue normally and I can access the central dashboard after DNS propagates. If it's not truly an error, let's find a way to get rid of it.

[2019-07-01 17:21] jlewi commented on #3559
Looks like @kunmingg cut some release branches

https://github.com/kubeflow/katib/releases/tag/v0.6.0-rc.0
https://github.com/kubeflow/tf-operator/releases/tag/v1.0.0-rc.0
https://github.com/kubeflow/pytorch-operator/releases/tag/v1.0.0-rc.0

[2019-07-01 17:27] yanniszark commented on #3491
@jlewi sounds good, I just got confused at this part:

Do you mean that you will backfill using the existing broken discovery logic?

[2019-07-01 17:28] jlewi commented on #3585
@IronPan Is it expected that pipelines run with the kubeflow default service account?

[2019-07-01 19:29] #2811 closed

[2019-07-01 19:43] #3584 closed

[2019-07-01 19:45] Tabrizian opened #3589 "kfctl init for on prem doesn't work"
A fresh installation of kfctl on a new Kubernetes cluster doesn't work.

The error below occurred during ```kfctl apply all -V```
[code]

[code]

[code]

[code]

[2019-07-01 22:29] #2790 closed

[2019-07-01 22:35] aashish-sheshadri commented on #3544
Works once the Kubernetes version was downgraded.

[2019-07-01 22:44] SinaChavoshi opened #3591 "kubeflow pipelines update uses (deprecated) ksonnet"
Cluster update instructions @ https://www.kubeflow.org/docs/pipelines/upgrade/ uses ksonnet which is deprecated.

from: https://ksonnet.io/get-started/

[2019-07-01 23:00] hall commented on #3481
This is because the docs are wrong :smile: the 2 pending PVCs are requesting 20Gi:

[2019-07-01 23:01] hall commented on #3481
This is because the docs are wrong :smile: the 2 pending PVCs are requesting 20Gi:
[code]

[2019-07-01 23:15] hall commented on #3481
Here's a PR suggesting the change: https://github.com/kubeflow/website/pull/854

[2019-07-01 23:28] jlewi commented on #3591
https://github.com/kubeflow/kubeflow/blob/master/scripts/upgrade_kfp.sh

This script is specific to pipelines.
Kubeflow as a whole doesn't have an upgrade story yet. Hopefully as part of 0.7

[2019-07-01 23:29] #2818 closed

[2019-07-01 23:29] jlewi commented on #3589
Duplicate of #3544

[2019-07-01 23:30] jlewi commented on #3589
The title says `kfctl init` but error indicates its with `kfctl apply`

[2019-07-01 23:30] #3589 closed

[2019-07-01 23:33] jlewi commented on #3544
#3559 is the tracking bug for 0.6.

We are working on cutting the RC now.

If you are willing to live on the edge and be a beta tester, we would really appreciate help trying out master and reporting bugs.

We are using #release in kubeflow.slack.com to coordinate.

To try on master check out master and then

[code]

[2019-07-01 23:36] jlewi opened #3592 "Build/Apply should take a context"
We should update the signature for the generate and apply methods to take a context.

We can use context to pass in request scoped data like credentials
https://golang.org/src/context/context.go?s=14954:15014#L457

[2019-07-02 00:11] lluunn commented on #3566
cc

[2019-07-02 01:40] jlewi opened #3593 "gcp.go should assert error is of type kfError before accessing its fields"
We have lots of code like this

https://github.com/kubeflow/kubeflow/blob/bb4d1d9832b826e491e701bbbe5d52310d96fdda/bootstrap/pkg/kfapp/gcp/gcp.go#L832

[code]

This is unsafe because this will segfault if the error fails the assertion.

We should be more defensive.

In a forthcoming PR I will add a method like

[code]

which can be used to replace the existing code.

Filing this issue to track act

[2019-07-02 02:06] zhenghuiwang commented on #3559
Needs to resolve two issues for metadata:
https://github.com/kubeflow/metadata/issues/67

and merge https://github.com/kubeflow/manifests/pull/188

I will merge them by Tuesday noon.

[2019-07-02 02:29] #2178 closed

[2019-07-02 03:29] #2825 closed

[2019-07-02 04:29] #2820 closed

[2019-07-02 04:53] jlewi commented on #3491
Yeas. If KfDef doesn't have Applications defined; but still uses components, packages, componentParams then we will use the existing logic to locate the packages. We will then convert it to Applications and update KfDef.

[2019-07-02 05:12] animeshsingh commented on #2633
@denfromufa what' driving your interest in the Power8/9 builds?

[2019-07-02 09:55] yanniszark commented on #3592
Aren't we moving towards build and apply ?
Does this refer to something different ?

[2019-07-02 12:19] prodonjs opened #3597 "Add Stackdriver Monitoring reader role to GKE Deployments"
This is necessary to support the CPU utilization charts added to the central dashboard for 0.6.0.

/area frontend
/area centraldashboard

[2019-07-02 12:20] prodonjs commented on #3597
/priority p0

[2019-07-02 15:49] #2232 closed

[2019-07-02 17:00] jessiezcc commented on #3591
what's the replacement of ksonnet?
/cc @IronPan

[2019-07-03 00:33] jlewi commented on #3597
@prodonjs Which service account is this using?

[2019-07-03 00:36] jlewi commented on #3597
@prodonjs service account roles are defined here:
https://github.com/kubeflow/kubeflow/blob/master/deployment/gke/deployment_manager_configs/iam_bindings_template.yaml

Can you submit a fix for this please?

[2019-07-03 00:49] #2830 closed

[2019-07-03 01:36] prodonjs commented on #3597
@jlewi I think the referenced PR #3533 is for that file. I believe it's approved but presubmits are hanging.

[2019-07-03 03:38] BlodwenZ opened #3602 "Expose the notebook by nodeport, the nodeport number changed everytime"
Hello,
I have deloyed kubeflow v0.5.1. Afterward I have build the notebook by UI, everything is fine till I wish to export this exact notebook via nodeport in order that our business user can be only access notebook without use the centre dashboard for test purpose. (I have not yet tried istios or other authentication)
I found out after I define the notebook service to be "NodePort" type and exact

[2019-07-03 03:46] jlewi commented on #2981
Not sure this is really P0.

@kunmingg  What is this blocking?

[2019-07-03 04:49] #2843 closed

[2019-07-03 09:42] #1848 closed

[2019-07-03 09:55] Snapple49 commented on #3585
Another issue which I'm thinking could be related is that the argo clusterrole seems to have too few permissions, in the pipelines UI I cannot delete experiments because argo cannot clean up pods. I'm just assuming this is relevant since I understand kfpipelines is built on argo? This is the output of `kubectl describe clusterrole argo`:

[code]

[2019-07-03 11:10] padrian2s opened #3603 ""Unknown variable: x" in 0.5.0 and 0.5.1"
ksonnet version: 0.13.1
jsonnet version: v0.11.2
kubectl version: v1.15.0
client-go version: kubernetes-1.10.4

I'm using a mac distro but also tried on a ubuntu distro (docker pull ubuntu).
I tried kfctl init on master but also with different 0.5.x versions.

I deployed many times the KF but error is somehow new...

When I try to deploy ks components on 0.5.0 or 0.5.1 I get this error:

kfctl app

[2019-07-03 12:16] prodonjs commented on #3568
closed by #3569

[2019-07-03 12:16] prodonjs commented on #3568
/close

[2019-07-03 12:16] #3568 closed

[2019-07-03 13:45] damitkwr commented on #2029
@cliveseldon @jlewi Can we label this so we can have an example for auto-scaling from Kubeflow on the next release?

[2019-07-03 13:48] cliveseldon commented on #2029
Yes. Please do.

[2019-07-03 13:51] damitkwr commented on #2029
@sasvaritoni  Can you label since I don't have access?

[2019-07-03 16:40] sasvaritoni commented on #2029
@damitkwr  I think I don't have permissions to add a label either, at least I am not able to find it...

[2019-07-03 16:43] texasmichelle opened #3604 "kfctl for codelabs polishing"
A few rough edges to smooth out based on codelabs/qwiklabs feedback:

- [ ] #3550 Add argument for suppressing warnings, either as a flag or the ability to specify log level
- [ ] #3549 Remove references to ~/.kube/config file during `kfctl init`, since there is no expectation of an existing cluster
- [ ] #3586 Handle cloud-endpoints error thrown towards the end of `kfctl apply`
- [ ] Handle all 3

[2019-07-03 18:21] IronPan opened #3605 "Outdated usage report message in kfctl with kustomize"
Saw following error message when running
[code]
Building kfctl from head(https://github.com/kubeflow/kubeflow/tree/31a9bb666a13e3aea60f9a246574db27f2ee9d05) which uses kustomize.

****************************************************************
Notice anonymous usage reporting enabled using spartakus
To disable it
If you have already deployed it run the following commands:
  cd $(pwd)
  ks delete

[2019-07-03 19:05] #3597 closed

[2019-07-03 21:04] kimwnasptd commented on #3578
@jlewi yes I would like to contribute to this for 0.7. We could have a first implementation that would provide a very similar UX with the jupyter webapp and then iterate on that.

[2019-07-03 21:47] mbaijal commented on #3359
Thanks @jonin, that helped.
In addition to the path (using `PublicKeyPath`), you can also directly provide a key name that exists in your aws account as follows:
[code]

[2019-07-03 23:42] #2223 closed

[2019-07-04 04:42] #2860 closed

[2019-07-04 06:17] krishnadurai commented on #3417
@cblackd7r Sorry for not replying earlier.

I've created a PR which should do some context setting around this issue.
https://github.com/kubeflow/kubeflow/issues/3417

[2019-07-04 06:23] krishnadurai commented on #3417
/assign @krishnadurai

[2019-07-04 10:17] awakia opened #3606 "Cannot use sudo even if you pass GRANT_SUDO=yes"
Previously if you pass "GRANT_SUDO=yes" as environment, you can use sudo in jupyter terminal. (ref: https://github.com/kubeflow/kubeflow/blob/master/components/tensorflow-notebook-image/start.sh#L42)

But from the change #2517,
I see `--allow_root` option but it might not work. ref: https://stackoverflow.com/questions/41622988/root-access-for-jupyter-ipython-notebook

Do you have any suggestion?
I

[2019-07-04 20:46] #2992 closed

[2019-07-04 20:46] #3536 closed

[2019-07-05 09:37] kimwnasptd commented on #2981
@jlewi I think this isn't blocking something, but is needed for multi user jupyter. We need to move away from having the webapp use a privileged ServiceAccount in order to have a multi user experience.

Although it might make sense to not have this included in the 0.6, since its really close, and add it in a following 0.6.X version.

Regarding the implementation, the changes I am thinking to make

[2019-07-05 09:58] kimwnasptd commented on #2980
@jlewi will we need this feature for 0.6?

IIUC in @avdaredevil 's [WIP PR](https://github.com/kubeflow/kubeflow/pull/3503) the Centraldashboard will only show the Namespaces in which a user has `edit` permissions. This means that the Namespaces available to a user will be the ones that were created by a profile and the user is either the owner or was added with a Binding.

In this case the Servic

[2019-07-05 10:00] kimwnasptd commented on #3536
@avdaredevil sorry for the late reply, would we want this message to be always shown or only when a Namespace will not be selected (value `""` for now)?

[2019-07-05 17:43] ptrckbnck opened #3610 "kfctl.sh generate all fails at current master on minikube"
Hello,
I am trying to deploy the current master version. I am following the steps at [getting-started-minikube](https://www.kubeflow.org/docs/started/getting-started-minikube/).
The step `kfctl.sh generate all` fails:

[code]

Some specs:
minikube version: v1.2.0
kubectl: v1.15.0
ksonnet version: 0.13.1
jsonnet version: v0.11.2
client-go version: kubernetes-1.10.4

[2019-07-05 18:27] ptrckbnck commented on #3603
I get the same problem after upgrading minikube v1.1.1 to v1.2.0 which runs Kubernetes v1.15.0 by default. Minikube v1.1.1 runs fine with Kubernetes v1.14.3

[2019-07-06 06:19] edowson commented on #3544
I tried building with the current master branch, commit 6f790f8f3b43d8048d9fbeff7e64857da264f83b,
and I get the following error:
[code]

[code]

[2019-07-06 06:56] edowson commented on #3544
I get the following error while trying to create a sample app

[code]

[code]

[2019-07-06 09:22] Eric-Zhang1990 opened #3611 "Pod mysql is CrashLoopBackOff"
@kimwnasptd   Hi, I have some problems when I deploy kubeflow on 4 servers,
One problem is pod "mysql"、"ml-pipeline"、"ml-pipeline-persistenceagent" are in status "CrashLoopBackOff".
![深度截图_选择区域_20190706171415](https://user-images.githubusercontent.com/24602893/60754296-d16d4c00-a011-11e9-9f48-0d3518b058c7.png)
Second is I can get into Kubeflow UI on Chrome, but when I click "Notebooks"  in the lef

[2019-07-06 15:12] JK-97 opened #3612 "why my kubeflow cannot create new Volumes, use only existing ones？？"
![image](https://user-images.githubusercontent.com/16853338/60757874-d696bf00-a042-11e9-8c0c-b1da24c4c59f.png)
![image](https://user-images.githubusercontent.com/16853338/60757885-f0380680-a042-11e9-8662-0417d3e72343.png)

as the image,i can not create a new,but can use a existing one.
so i have to use:
kubectl create -f some-pvc.yaml
kubectl create -f some-pv.yaml
to create a new.

and then new a

[2019-07-06 23:06] #2872 closed

[2019-07-06 23:06] #2871 closed

[2019-07-06 23:06] #2817 closed

[2019-07-06 23:06] #2812 closed

[2019-07-06 23:06] #2767 closed

[2019-07-06 23:06] #2736 closed

[2019-07-06 23:06] #2735 closed

[2019-07-06 23:06] #2686 closed

[2019-07-06 23:06] #2664 closed

[2019-07-06 23:06] #2644 closed

[2019-07-07 00:06] #2628 closed

[2019-07-07 00:06] #2531 closed

[2019-07-07 00:06] #2528 closed

[2019-07-07 00:06] #2526 closed

[2019-07-07 00:06] #2510 closed

[2019-07-07 00:06] #2509 closed

[2019-07-07 00:06] #2465 closed

[2019-07-07 01:06] #1416 closed

[2019-07-07 01:06] #2665 closed

[2019-07-07 02:06] #1295 closed

[2019-07-07 06:06] #1712 closed

[2019-07-07 18:35] #2888 closed

[2019-07-07 20:35] #2636 closed

[2019-07-08 01:03] jlewi commented on #2630
@swiftdiaries Any update on this? Now that kubeflow/manifests#139 is merged can we close this or is there more work to be done?

[2019-07-08 02:35] #2383 closed

[2019-07-08 05:35] #2905 closed

[2019-07-08 05:57] ali8zake opened #3613 "jupyter spwain error"
hello:
the juypter spwain  run error ,and timeout after 30min
run it in  5node k8s 1.14 cluster , vm ,8G  memory  ,default storeclass is  nfs  mount
how to expalin ,why contianer 8f858795b7987c20263363f16b57968c2ad78034c2ab146a6f308890c95d624e  born later,can hold the   name
thanks, sorry for my poor english

Type     Reason            Age                   From                    Message
  ----

[2019-07-08 08:15] krishnadurai opened #3614 "Define sample user roles and role bindings for Kubeflow components for Authorization"
Kubeflow can define default roles and role bindings for different types of intended users for the platform. For example, these users can belong to one of the types: kubeflow admin, data scientist, deployer or model validator. A reference RBAC rule template can be created to be applied on Istio and Kubernetes RBAC policies during deployment of Kubeflow.
This issue is the place-holder for finalizing

[2019-07-08 08:24] #2734 closed

[2019-07-08 11:48] #3611 closed

[2019-07-08 11:50] Eric-Zhang1990 opened #3615 "Error: "Sorry, /jupyter/ is not a valid page""
Anyone can give any solutions for the problem "Sorry, /jupyter/ is not a valid page" ?
Thanks in advance.

[2019-07-08 11:51] PercyLau commented on #3603
I have the same problem on the latest Kubernetes (v1.15.0) installed using kind.
# kfctl apply all -V prints the following errors:
ksonnet-lib/v1.15.0/k8s.libsonnet:17681:93-94 Unknown variable: x

[2019-07-08 12:48] kimwnasptd commented on #3612
@JK-97 this is because there not a default Storage Class in the cluster. If the webapp doesn't find a default StorageClass it will not let the user to create a new Notebook.

In the new iteration of the UI there is a more informative message regarding this behavior, plus the ability to select another StorageClass through the webapp's `config.yaml`.

[2019-07-08 12:52] LukasBlank opened #3616 "kfctl apply failed -- no default network"
I am following the deploy using the cli guide (https://www.kubeflow.org/docs/gke/deploy/deploy-cli/) running:
<pre><code>kfctl init ${KFAPP} --platform gcp --project ${PROJECT} --use_basic_auth -V</code><br>
<code>kfctl generate all -V --zone ${ZONE}</code>
<br>
<code>kfctl apply all -V</code>
</pre>
KFAPP, PROJECT and ZONE are set correctly and before running these commands i did
<pre><code>gclou

[2019-07-08 12:55] LukasBlank commented on #3616
Dont now if that helps but i already tried to set GOOGLE_APPLICATION_CREDENTIALS="" before executing these steps and checked that it was not set again. Didnt work neither.

[2019-07-08 12:57] kimwnasptd commented on #3613
hi @ali8zake , looking at `Warning FailedScheduling 13m default-scheduler pod has unbound immediate PersistentVolumeClaims (repeated 4 times)` it seems like there is a problem with the Notebooks PVCs.

Are all the PVCs used from this Notebook `Bound`?

[2019-07-08 13:06] kimwnasptd commented on #3615
hi @Eric-Zhang1990 , could you provide some more info regarding your Kubeflow installation?  How did you deploy kubeflow?

[2019-07-08 13:42] jerrylam opened #3617 "EKS GPU Support Issue (nvidia-device-plugin-daemonset crashes)"
I'm using kubeflow v0.5-branch and k8s version 1.12

I followed the instruction on updating the cluster_config.yaml to include this:
[code]

After the nodegroup starts and apply k8s, I noticed that `nvidia-device-plugin-daemonset` pod crashed.

Looking at the error, this is what I got:
[code]

There is only one nodegroup that is the p2.xlarge above.

Anyone knows what I'm missing?

Thanks!

[2019-07-08 16:54] ahmed-menshawy commented on #3610
Any solution to this problem? I am getting the same error while deploying Kubeflow on existing k8s cluster

[2019-07-08 17:19] jlewi commented on #3563
@yanniszark What is the remaining work to close out this issue for 0.6?

[2019-07-08 17:20] jlewi commented on #3562
@kunmingg and @lluunn any update on this?

[2019-07-08 17:22] lluunn commented on #3558
WIP with #3601

[2019-07-08 17:23] prodonjs commented on #3560
Majority of the work to separate v0.5.0 from v0.6.0 deployment submission is done. Need to understand the differences in the message format between the old and new endpoints and do some E2E testing before submitting. On target to be ready for merge by EOW.

[2019-07-08 17:24] jlewi commented on #3561
@zhenghuiwang Any update on this?

It looks like #3590 added metadata as a component of Kubeflow.
Is there more work to be done or can we close this issue?

[2019-07-08 17:27] jlewi commented on #3559
Can we cut a 0.6 branch and starting updating E2E tests and auto-deployment scripts to deploy from that branch?

I think we should try to get that done and not wait on more changes to kubeflow/master. If there is a lot of changes on master, we can always merge all of those changes into the release branch. But it would be good to make progress on getting the RC branch all setup.

[2019-07-08 17:28] jlewi commented on #3556
@kimwnasptd Any update on this?

[2019-07-08 17:31] jlewi commented on #3554
Still waiting for #3503; Discussing the ETA on that PR thread.

[2019-07-08 17:34] jlewi commented on #3491
I have fixes pending
First PR is #3594 but more PRs will be coming based on #3534.

I don't think we will block 0.6.0 on this fix. So I'm going to downgrade this to P1 since its not-blocking.

The fix will be based on using the new KfDef.Applications which allows each Application to specify the path of the application.

So to get the fix people will need to migrate to the new spec.

[2019-07-08 17:35] jlewi commented on #3151
ping?

[2019-07-08 17:36] zhenghuiwang commented on #3561
This is fixed by #3590
/assign @zhenghuiwang

[2019-07-08 17:36] zhenghuiwang commented on #3561
/close

This can be closed, but seems I can't close it.

[2019-07-08 17:36] #3561 closed

[2019-07-08 17:44] jlewi commented on #2152
Making steady progress on this.
I have working code in #3534 ; I'm in the process of splitting that up into individual PRs and getting them merged.

Currently waiting on #3594 after which can send out more PRs.

We don't plan on blocking releasing 0.6.X on this issue.

This issue is still P0 though because people won't be to deploy 0.6 with click to deploy until its fixed.

[2019-07-08 17:55] jlewi commented on #3615
Based on #3414  It looks like the URLs should be /notebook.
Are you using an old version of Kubeflow?
Where are you seeing this error? i.e. how would we reproduce it?

[2019-07-08 18:29] kunmingg commented on #3562
Working on it, should merge this sprint.

[2019-07-08 19:04] jlewi commented on #3559
https://github.com/kubeflow/manifests/tree/v0.6-branch
Has been cut and most image tags updated.

[2019-07-08 19:05] jlewi commented on #3559
Can update kfctl to point at release branch and begin testing it.

[2019-07-08 19:06] jlewi commented on #3559
https://github.com/kubeflow/kubeflow/tree/v0.6-branch
is also cut.

[2019-07-08 19:12] jlewi commented on #3558
/assign @lluunn

[2019-07-08 19:17] jlewi commented on #3553
@yanniszark, @Jeffwan @aronchick Can anyone help out with these issues?

[2019-07-08 19:37] jlewi commented on #3553
I think the P0 is that everything works in a non-identity manner; i.e. the experience should be equivalent to what we have in 0.5 where we don't know a user's identity. I would expect in this case anyone with access to the Jupyter dashboard should be able to spin up a notebook in any namespace for which the jupyter web app has access.

It would be good to run through our core CUJs on a cluster wit

[2019-07-08 20:08] jlewi opened #3618 "Test core 0.6 CUJs on a cluster without identity auth"
Kubeflow 0.6 should work even if requests don't contain the user's identity. In this case, the experience should be equivalent to the 0.5 experience.

The purpose of this issue is to try out core 0.6 CUJs using a Kubeflow deployment that is not identity aware.

The CUJ should be something like the following

1. Deploy Kubeflow with ISTIO but no auth on a K8s cluster

    * ISTIO can be exposed via

[2019-07-08 22:46] IronPan opened #3619 "View all pipeline runs pointing to archive page"
The view all pipeline runs link in the central dashboard points to the archive page

https://github.com/kubeflow/kubeflow/blob/67ea6694bfa825e913d60e8b34d5f825308ad409/components/centraldashboard/public/components/dashboard-view.js#L91

This should instead link to the page that list all the runs.
![image](https://user-images.githubusercontent.com/2348602/60847486-a1e84c00-a197-11e9-81cf-030bbd9371

[2019-07-08 23:03] IronPan opened #3620 "Sub-pages not available in central dashboard using port-forward"
Env: v0.6 + IAP
By port-forward central dashboard
[code]
And opening central dashboard, the sub pages are not available.

![image](https://user-images.githubusercontent.com/2348602/60848042-e1b03300-a199-11e9-803d-481bfd7dbbbb.png)

[2019-07-08 23:47] lluunn commented on #3618
Without platform part:
[code]

This will give error:
`ERRO[0000] Couldn't find component istio-crds            filename="kustomize/kustomize.go:454"`

[2019-07-09 00:24] #2741 closed

[2019-07-09 00:39] jlewi commented on #2981
See also #3556

0.6 Should be

1. Able to leverage identity if identity is present (i.e. if there are request headers with user's id) see #3556

1. Able to handle the case where identity is not present (missing identity headers).

Identity awareness can mean a lot of things

1. Spawning notebooks with ISTIO routing rules that restrict who has access to the notebook
1. Preventing users from launchi

[2019-07-09 00:39] lluunn commented on #3618
This might be that istio is currently in gcp package, but we don't include gcp here, but still want istio.

Related to https://github.com/kubeflow/manifests/issues/115 (move istio to its own pkg)
, and possibly https://github.com/kubeflow/kubeflow/issues/3491 (get rid of pkg/component)

[2019-07-09 00:51] jlewi commented on #2981
I think it might be more secure if instead of using user impersonation the Jupyter Web App still acts as itself but performs an access check using KFam before taking action.

* If the Jupyter Web App acts as itself then we can limit the impact of a misbehaving app by limiting the permissions of that service account
* If the Jupyter web app impersonates a user it could potentially run with higher p

[2019-07-09 01:18] jlewi commented on #3619
/cc @avdaredevil @prodonjs

[2019-07-09 01:21] jlewi commented on #3620
@IronPan This is working as intended. You need to port-forward to the ISTIO gateway service and then from that page all links would be accessible.

You'd also have to configure ISTIO to not do AuthZ (e.g. validate JWTs).

I believe I saw a PR go by from @yanniszark that had instructions on doing port-forwarding to ISTIO.gateway.

@yanniszark do you recall what issue or PR?

[2019-07-09 02:39] jlewi commented on #3531
Thanks @JavaDerek; Do you by off-chance know if most of these issues are related to the choice of base image?
https://github.com/kubeflow/kubeflow/blob/6f790f8f3b43d8048d9fbeff7e64857da264f83b/components/centraldashboard/Dockerfile#L2

/cc @avdaredevil @prodonjs

[2019-07-09 07:12] emmayang commented on #3602
@BlodwenZ Maybe I understand it wrong, but I think that is how NodePort works. It will randomly point the service to a random port above 30000, unless you specifically declare port number with `nodePort` like below:

[code]

[2019-07-09 07:27] ali8zake commented on #3613
[root@10 ~]# kubectl get pvc -n kubeflow
NAME               STATUS   VOLUME                                     CAPACITY   ACCESS MODES   STORAGECLASS          AGE
katib-mysql        Bound    pvc-a818506a-9e44-11e9-9fb9-fa163e94b22c   10Gi       RWO            managed-nfs-storage   4d21h
minio-pv-claim     Bound    pvc-726028d1-9f03-11e9-a233-fa163e9c27fc   10Gi       RWO            managed-nfs-st

[2019-07-09 08:35] yanniszark commented on #3620
@jlewi unfortunately I don't recall having any instructions for port-forwarding + ISTIO.

[2019-07-09 09:32] yanniszark commented on #2981
Just took another pass at the [Jupyter Web App design doc](https://docs.google.com/document/d/1VEAxANT9136nV___ZNnFfW7SnRP9yZePpy_rF43edgo/edit#).
I noticed that the OIDC approach was rejected because of the danger of privilege escalation.
This seems to be the same exact reason.

If we use KFam and not impersonation, what is the use for the Roles-RoleBindings the Profile Controller is creating?
Ma

[2019-07-09 10:08] #2545 closed

[2019-07-09 12:26] prodonjs commented on #3531
@JavaDerek You mentioned `gcr.io/kubeflow-images-public/centraldashboard:v0.5.0`. That image was built using [node:10](https://hub.docker.com/_/node) which is one of the officially supported images for Node 10 LTS. Was there a tool you used to identify all of these vulnerabilities? As @jlewi mentioned, we are moving to `node:10-alpine` for the next Kubeflow release. Do you know if it exhibits the

[2019-07-09 14:27] jlewi opened #3623 "Restrict notebook controller (and other controllers) to a subset of namespaces"
We'd like to be able to restrict the notebook controller to a subset of namespaces.

Consider the following scenario; a user has a shared cluster in which some namespaces are used with Kubeflow and some are not.

The notebook controller should only have permission to create and deploy resources in the Kubeflow namespaces.

Ideally the list of namespaces should be dynamic; i.e. a label or annotatio

[2019-07-09 14:51] jlewi commented on #3618
@lluunn if a user runs the following

[code]

I would not expect that to install ISTIO. My interpretation of the above is install only KF applications on my existing cluster.

If we don't install ISTIO in this case would that fix the problem?

[2019-07-09 15:34] johnugeorge opened #3624 "KFserving installation using Kfctl"
KFServing 0.1 has a dependency on KNative 0.6(which depends on istio).

Some concerns that I see inorder to add knative manifests to kubectl

1.  Currently, clusterRbacConfig is set to "ON" in case of GCP installation (https://github.com/kubeflow/manifests/blob/master/gcp/istio/base/kf-istio-resources.yaml#L105)  This will restrict service to service communication in Knative. Is this cluster level

[2019-07-09 16:12] prodonjs commented on #3531
Thanks again for filing the issue. We were able to reproduce a report mentioning a number of the vulnerabilities you indicated for v0.5.0 of the centraldashboard. The good news is that our upcoming v0.6.0 release (which is in **master** today) is clean of all vulnerabilities as we revamped the Dockerfile from v0.5.0.

@jlewi - Would it be sensible to rebuild the image for v0.5.0 from a different b

[2019-07-09 16:41] kimwnasptd commented on #3556
I'll upload a PR to close this issue with the behavior @jlewi described [here](https://github.com/kubeflow/kubeflow/issues/2981#issuecomment-509444739).

The webapp will:
* Keep its own privileged ServiceAccount
* When it receives a request, it will check if the user header is present.
   * If it is, it will query `kfam` to check whether that user has access to the specific Namespace. If the user

[2019-07-09 16:52] sub-mod opened #3625 "tensorflow-notebook-image Image build failure due conda updating to python-3.7"
Hi All,

I am building tensorflow-notebook-image using below commands
I tested this on v0.5-branch and v0.4-branch
[code]

These command worked fine until few weeks ago.
But from past few days I am not able to build them as I get the below error:
[code]

I notice that `conda update conda` would remove python 3.6 and install python 3.7
[code]
This behavior is seen both on v4.4.10 and v4.5.4 Minicon

[2019-07-09 18:40] lluunn commented on #3618
I removed the istio components from app.yaml, the generate succeeds.
But apply failed with:
[code]

[2019-07-09 18:45] lluunn commented on #3618
Actually, I will filed another issue to track the deployment of k8s without platform.
Here I will try to bypass the error to get the cluster up and running

[2019-07-09 18:45] lluunn opened #3626 "kfctl without platform not working"
[code]
This will give error:
`ERRO[0000] Couldn't find component istio-crds filename="kustomize/kustomize.go:454"`

After removed the istio components from app.yaml, the generate succeeds.
But apply failed with:
[code]

See #3618 3618

[2019-07-09 18:54] lluunn commented on #3626
remove minio and mysql from components, the apply succeeded.

[2019-07-09 19:02] lluunn commented on #3618
After the cluster is up, I was able to connect to UI (central and notebook) with port-forward:
`kubectl port-forward -n istio-system svc/istio-ingressgateway 8080:80`

But the notebook statefulset has error:
[code]

It should be because kubeflow namespace doesn't have profile related service account provisioned.
Same as #3502
But I also don't see profile controller.

cc @jlewi @kunmingg

[2019-07-09 19:03] lluunn commented on #3502
notebook service is still not working in kubeflow namespace right?

[2019-07-09 19:19] lluunn commented on #3618
Actually, the policy to do JWT validation is also in gcp package:
https://github.com/kubeflow/manifests/blob/master/gcp/iap-ingress/base/policy.yaml

[2019-07-09 20:12] #3558 closed

[2019-07-09 22:11] lluunn commented on #3618
Profile is currently in gcp overlay: https://github.com/kubeflow/kubeflow/blob/master/bootstrap/config/overlays/gcp/kfctl_default.yaml#L16

[2019-07-10 00:05] Jeffwan commented on #2998
@jlewi Just come back from vacation and I will check in my changes in kfctl(golang) this week.  aws will be a platform.

[2019-07-10 00:19] Jeffwan commented on #3151
@jlewi Just come back from vacation.. manifest changes are almost done. I will send out PR this week.

[2019-07-10 05:07] ali8zake commented on #3613
@kimwnasptd    use  docker ps -a  |grep 04d5de4542c07ee88a5fffe757aa25
ls -la  /var/lib/docker/containers   |grep 04d5de4542c07ee88a5fffe757aa25 ,nothing found,so i don't know how cause the container hold the name .

[2019-07-10 08:14] johnugeorge commented on #3623
@jlewi
Currently, operators can be cluster scoped (which then listens to all namespaces) or namespace scoped(restricted to a single namespace).   We can extend to a list of namespaces instead of one.  Namespace to be watched is currently set as a flag which is loaded during startup.

Do you propose to have labels similar to istio's `istio-injection: enabled`  labels on a namespace?    Shouldn't th

[2019-07-10 08:27] johnugeorge opened #3628 "Endpoint not coming up when Kfctl apply on GCP with IAP"
I tried KF installation with latest Kfctl(built using `make build-kfctl`) but I am not able to view the cloud IAP endpoint.

[code]
I see that `iap-enabler` pod in `istio-system` namespace is continuously crashing. Logs are given below.

[code]

/cc @lluunn
/cc @kunmingg
/cc @jlewi

[2019-07-10 09:43] carmine opened #3629 "Update docs_dev/tf_serving.md to reflect current status (as of 0.6)"
I was reviewing docs_dev/tf_serving.md and noticed it is out of date wrt to current work. Most of the issues in next steps are completed.

[2019-07-10 11:25] LukasBlank commented on #3616
Tried to edit the created config files in .cache/master/deployment/gke/deployment-manager-configs before generating it, did not work. Furthermore I followed the steps from https://www.kubeflow.org/docs/gke/troubleshooting-gke/#legacy-networks-are-not-supported, but that did not work. The errror remained the same and the changes seemed to have no effect on the result i am getting. Does someone know

[2019-07-10 15:24] prodonjs commented on #3560
@jlewi - Currently, the base configuration that is overriden by user input and sent to the `/kfctl/e2eDeploy` endpoint can be found at [components/gcp-click-to-deploy/app-config.yaml](https://github.com/kubeflow/kubeflow/blob/master/components/gcp-click-to-deploy/app-config.yaml).

In making the app support v0.6.0 and v0.5.0, do we still need to support that format and endpoint, or can we migrate

[2019-07-10 16:16] ImadEddineBek commented on #3610
@ahmed-menshawy I am getting the same problem while deploying kubeflow to an existing k8s cluster

[2019-07-10 17:50] lluunn commented on #3628
All backends seem healthy from the log.
What's the error message when you visit the endpoint?
Could you describe ingress if your deployment is still there?
thanks

[2019-07-10 18:17] abhi-g commented on #3502
I was able to get it to deploy from master last week. Will try
again tomorrow.

On Tue, Jul 9, 2019 at 12:04 PM Lun-Kai Hsu <notifications@github.com>
wrote:

[2019-07-10 18:50] lluunn commented on #3628
I just noticed in one of my running kubeflow cluster (endpoint accessible), the iap-enabler pod is also crash-looping.
So that part might be fine for the endpoint (not saying we should not fix it).

[2019-07-10 20:34] lluunn commented on #2716
/close

[2019-07-10 20:34] #2716 closed

[2019-07-10 21:02] gogasca opened #3633 "TF 1.14 and TF 2.0b containers not available"
TF 1.14 and TF 2.0 beta containers are not available when creating a KF notebook.

in gcr.io/kubeflow-images-public

![image](https://user-images.githubusercontent.com/30065079/61004663-4fd03380-a31b-11e9-9760-4e16b287e89d.png)

[2019-07-10 23:10] llKetanll commented on #324
@jlewi Can we reopen this?
HTTP(S) Load balancer on GCP now supports gRPC and HTTP/2 (https://cloud.google.com/load-balancing/docs/https/#backend_services). This is something I was looking for and I am willing to contribute on this.

[2019-07-10 23:34] #3562 closed

[2019-07-11 03:09] johnugeorge commented on #3628
@lluunn were you able to access the kubeflow endpoint ?

[2019-07-11 07:27] PercyLau commented on #3603
The problem disappears if follows the current configuration on Kubeflow homepage,
https://www.kubeflow.org/docs/started/getting-started-k8s/

I use kind to manage my local kubernetes cluster.
https://kind.sigs.k8s.io/

So, all I need to do is to tell kfctl the k8s config path (e.g., ~/.kube/config) generated by kind.

[2019-07-11 11:59] arjunm183 opened #3635 "how to avoid getting a GitHub rate limit exceeded error when building the Docker Image for bootstrapper"
Link in the README File on bootstrap folder appears broken.

[2019-07-11 13:19] naveen24691 opened #3636 ""Kubeflow on Kubernetes" Documentation not in sync with current kfctl-v0.5.1 release"
Documentation currently available on the https://www.kubeflow.org/docs/started/getting-started-k8s/ does not seem to be working with kfctl-v0.5.1.

kfctl init ${KFAPP} --config=${CONFIG} -V

[code]

However, when I built the kfctl binary from branch v0.6-branch. It seems to be working fine and I am able to install kubeflow on local kubernetes. Looks like documentation is not in sync with the relea

[2019-07-11 13:20] jlewi commented on #2997
I think I could delete the v0 tag by doing something like

[code]

[2019-07-11 13:25] jlewi commented on #2997
Created a release

[code]

At the start of the release branch.

[2019-07-11 13:28] jlewi commented on #3559
Created
https://github.com/kubeflow/kubeflow/releases/tag/v0.6.start

So that the ``git describe --tags --long``` would now start providing more sensible input.

[2019-07-11 16:15] jlewi commented on #3560
@prodonjs

I think we'd like to continue to be able to support v0.5 somehow. If we can have a single app with two different codepaths so users can just use the UI to select the version that would be great.

But if that's difficult then we can just deploy two different versions of the app on two different URLs.

Correct. The webapp should just load that YAML spec via that URL and then overload the

[2019-07-11 16:25] jlewi commented on #3151
@Jeffwan Sounds great. We are coordinating the release on #release if you can try it out on AWS and report any issues that would be great.

[2019-07-11 16:36] jlewi opened #3637 "JupyterWebApp should surface errors (Kubernetes events) related to starting a notebook"
If the pod for a notebook can't be started then the UI will just keep saying waiting for the notebook and not provide any information about why it can't start.

The UI should surface Kubernetes events so that the user can see what the problem is.

For example, when I tried to start the notebook in the "kubeflow" namespace it doesn't start because of a missing service account

[code]

This is worki

[2019-07-11 17:55] jlewi opened #3638 "[GCP] Integrate with workload identity"
We should integrate with GKE Workload Identity so users should no longer have to download and
manage service accounts directly.
https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity

[2019-07-11 17:58] yanniszark commented on #3626
Hi @lluunn, I'd like to say that I bumped into very similar problems while writing the `existing_arrikto` config file, which is tailored towards running on existing kubernetes clusters.
For example, I changed minio and mysql to use a default storage class.

Because of that, I propose using the `existing_arrikto` config file, with the following procedure:

[code]

[2019-07-11 18:07] jlewi opened #3639 "Kfctl create profile for user by default"
With 0.6.0 a user can no longer create notebooks in the "kubeflow" namespace. They need to create a profile (see https://bit.ly/2UOzzxB) which will create the namespace with appropriate service accounts.

[code]

We are planning a UI based flow to do that but the UI hasn't landed yet.

In the meantime, we could have `kfctl` automatically create profile for ${USER} running kfctl.
This would mean ou

[2019-07-11 18:17] jlewi opened #3640 "[GCP] Create a PodDefault and GCP secret in namespace ${KUBEFLOW}-user by default"
With 0.6 notebooks can no longer be spawned in namespace  kubeflow.

instead users should (see https://bit.ly/2UOzzxB)

1. create their own namespace by defining a profile
1. Download and install a GCP secret in that namespce
1. Create a PodDefault in that namespace

Currently users have to do this manually https://bit.ly/2UOzzxB.

kfctl should do this by default for the user running kfctl. This c

[2019-07-11 18:47] kimwnasptd commented on #3637
The Jupyter webapp gets the status from the Notebook CR and not from the underlying StatefulSet/Pod. The Notebook Controller sets/updates the status in the CR only while the Pod is created. So if there is a problem with the Pod's scheduling, then the status will not be updated in the Notebook CR.

I think we should handle this case directly from the Notebook Controller.

Currently the webapp check

[2019-07-11 18:54] #3556 closed

[2019-07-11 18:59] yanniszark commented on #3639
@jlewi I can take this one.
/assign @yanniszark

[2019-07-11 19:07] jlewi commented on #3206
Obsolete.

I'm trying out 0.6 and I was able to spawn a notebook in the non Kubeflow namespace and connect to it.

[2019-07-11 19:07] #3206 closed

[2019-07-11 20:11] prodonjs commented on #3560
If the new endpoint can support deploying v0.5.0 simply by putting that value in for the `kfVersion`, things will be pretty simple. Otherwise, we may need to do what you suggest.

GitHub allows CORS requests to get raw content so this should work allowing the app to pull the latest content. If we think that's too risky, we can always bundle it in with the build.

In any case, I'm out for a week st